#section-shoppingScenario.scenario_2018_smschecker {
    // GLOBALS STYLES
    .container-fluid {
      padding: 0;
      &.widthsize {
        max-width: 1300px;
      }
    }
    //bootstrap full height col fix
    @media screen and (min-width: 768px) {
        .no-float {
        float: none;
        display: table-cell;
        }
    }

    .flex {
        display: inline-block;
        @media screen and (min-width: 1200px) {
            display: flex;
            height: 100vh;
        }
    }

    //bootstrap "hidden" media queries
    @media ( max-width :543px) {
        .hidden-xs {
            display: none !important
        }
    }

    @media ( min-width:543px) and (max-width :768px) {
        .hidden-sm {
            display: none !important
        }
    }

    @media ( min-width:768px) and (max-width:991px) {
        .hidden-md {
            display: none !important
        }
    }

    @media ( min-width :992px) and (max-width:1199px) {
        .hidden-lg {
            display: none !important
        }
    }

    @media ( min-width :1200px) {
        .hidden-xl {
            display: none !important
        }
    }

    .no-padd-l-r {
        padding-left: 0;
        padding-right: 0;
    }

    .greenText {
        color: green;
    }
    .greyText {
        color: #b6b4b5;
    }

    .greyBg {
        background-color: #ededed;
        transition: all 1s;
    }

    //LEFT SIDE OF SCREEN
    .smsChecker {
        background-color: #e20074;
        &.verified {
            background-color: #7ED321;
        }
        .infoText {
            max-width: 400px;
            margin: 20px 15%;
            @media screen and (max-width: 543px) {
                margin: 20px 5%;
            }
            h1 {
                font-weight: 800;
                color: #fff;
                display: block;
                margin-top: 0;
            }
            p {
                color: #fff;
            }
        }
    }
    .checkerInput {
        max-width: 70%;
        margin: 20px 15%;
        @media screen and (max-width: 543px) {
            max-width: 90%;
            margin: 20px 5%;
        }
        label {
            display: block;
            font-size: 14px;
        }
        input {
            max-width: 50%;
        }
        input,
        a.btn {
            height: 35px;
            line-height: normal;
            vertical-align: top;
            @media screen and (max-width: 543px) {
                //display: block;
                max-width: 49%;
                width: 100%;
                text-align: center;
                margin-top: 5px;
            }
        }
    }

    //RIGHT SIDE OF SCREEN
    .r_cartheadline {
        max-height: 30px;
        color: #000;
        padding-bottom: 0;
        text-align: center;
        font-size: 30px;
        margin-bottom: 18px;
        transition: all 0.25s ease-in;
        &.closed {
            @media screen and (max-width :1200px) {
                max-height: 0;
                transition: all 0.25s ease-out;
                border: 0px solid transparent;
                padding: 0px !important;
                margin: 0px !important;
                visibility: hidden;
            }
        }
    }
    .cartSumm {
        border-top: 1px solid #ededed;
        @media screen and (max-width :1200px) {
            position: fixed;
            bottom: 0;
            z-index: 999;
        }
        &.whiteBg {
            background-color: #fff;
            @media screen and (min-width :1200px) {
                background-color: #ededed;
            }
        }
        .cartSummary {
            padding: 0 5%;
            .r_cartSummary {
                max-height: 71px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid #b6b4b5;
                transition: all 0.25s ease-in;
                overflow: hidden;
                &:not(:first-of-type) {
                    padding: 10px 0;
                }
                &:last-of-type {
                    border-bottom: none;
                }
                &.closed {
                    @media screen and (max-width :1200px) {
                        max-height: 0;
                        transition: all 0.25s ease-out;
                        border: 0px solid transparent;
                        padding: 0px !important;
                        visibility: hidden;
                    }
                }
                p {
                    font-size: 18px;
                }
                .right {
                    width: 170px;
                    //text-align: left;
                    //float: right;
                    //display: flex;
                    p {
                        font-size: 16px;
                        display: inline-block;
                        &:first-child {
                            margin-right: 10%;
                            min-width: 60px;
                        }
                        &:last-child {
                            min-width: 13px;
                        }
                    }
                }
            }
            .saveOrder {
                text-decoration: none;
                //margin-top: 15px;
                display: block;
            }
        }
        .cartSummary_bottom {
            padding: 10px 5%;
            @media screen and (max-width :1200px) {
                background-color: #ededed;
            }
            .finalizeOrderBtn {
                margin: 10px 0;
                // @media screen and (max-width :1200px) {
                //     margin: 10px 0;
                // }
                &.widthFix {
                    width: 100%;
                }
                .btn {
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .openSummaryCart {
            // position: absolute;
            // z-index: 999999;
            // bottom: 40px;
            // left: 23px;
            i {
                font-size: 36px;
                color: #e20074;
                transition: all 0.25s ease;
            }
            i.rotate {
                transform: rotateZ(180deg);
                transition: all 0.25s ease;
            }
        }
    }

}