<ul class="tabs-menu-ng">
  <li  class="tab-heading" (click)="selectTab(tab)" *ngFor = "let tab of tabs;" [class.tab-active]="tab.active">
    <a >{{tab.tabTitle}}</a>
  </li>
</ul>
<ng-content select="tab"></ng-content>