<div id="fixed-link" class="fixed-link__full">
    <div class="fixed-link__table">
        <div class="fixed-link__row">
            <h5>Potrebujete pomôcť?</h5>
            <div id="livechat" class="green-tile green-tile__border cursor__hover">
                <a><img class="fixed-link__ico" src="https://www.telekom.sk/documents/10179/562752/ico-phone.png" alt=""></a>
            </div>
        </div>
    </div>
    <div id="toggle-chat" class="cursor__hover">
        <img src="https://www.telekom.sk/documents/10179/562752/toggle-arrow.png" alt="">
    </div>
</div>

<div id="fixed-link" class="fixed-link__compact cursor__hover hidden">
    <div class="fixed-link__table">
        <div class="fixed-link__row">
            <div id="chat__compact" class="white-tile">
                <img class="fixed-link__ico" src="https://www.telekom.sk/documents/10179/562752/ico-helpdesk.png" alt="">
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../assets/js/chat-only.js"></script>