/* ===============
   CSS FOR MICROSITE
   =============== */

// GLOBALS
.section {
    background: $white;
}

.row:last-of-type {
    border-bottom: 1px solid #cccccc;
    padding-bottom: 50px;
}

.section:last-of-type .row {
    border-bottom: 0;
    padding-bottom: 50px;
}

#content .section__title {
    color: $tundora;
    text-transform: uppercase;
    font-weight: bold;
    border: 0;
}

.row {
    margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
    .fixed-column {
        padding: 0;
    }
}

@media screen and (max-width: 799px) {
    #nav-sticky {
        display: block;
    }
}

@media screen and (max-width: 360px) {
    #nav-sticky {
        display: none;
    }
}

// KV
#hero {
    padding: 50px 0;
}

.hero__squares {
    background: url(../img/squares.png) no-repeat;
    max-width: 533px;
    padding: 25px 50px 73px 25px;
    margin: 0 0 50px 0;
}

@media screen and (max-width: 500px) {
    .hero__squares {
        padding: 25px;
        background-image: none;
        background-color: rgba(226, 0, 116, 0.9);
    }
}

// DIR BOXES
.dir-box {
    border: 1px solid #cccccc;
    padding: 18px;
    text-align: center;
    margin-right: 2.127653333333333%;
}

.dir-box:last-of-type,
.grid-g__col_3:last-of-type {
    margin-right: 0;
}

#content .box__title {
    font-size: $font-link;
    font-weight: bold;
}

@media screen and (max-width: 810px) {
    .clearer-even {
        width: 100%;
        height: 10px;
        float: left;
    }
    #content .grid-g__col_3 {
        width: 49%;
    }
    .dir-box {
        margin-right: 1%;
    }
}

@media screen and (max-width: 460px) {
    .clearer-even {
        display: none;
    }
    #content .grid-g__col_3 {
        width: 100%;
    }
    .dir-box {
        margin: 0 0 10px 0;
    }
    .row {
        margin: 0;
    }
}