/* ===============
CSS FOR MICROSITE
=============== */

/* GLOBALS */

#content .sec__title {
    text-align: center;
}

#content .section {
    padding: 30px 0;
}

.cmb-link {
    display: none;
}

/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    height: 500px;
}

.hero__content {
    text-align: center;
    max-width: 460px;
    position: relative;
    margin-top: 80px;
}

.ec-hero {
    position: absolute;
    right: -130px;
    top: 0;
}

#content .hero-cta {
    margin: 15px 0 5px 0;
    padding: 8px 30px;
}

#content .hero-link {
    text-decoration: none;
    color: #3ec0f0;
}

@media screen and (max-width: 660px) {
    .ec-hero {
        right: -8px;
        top: 100px;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 65% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
        margin: 0;
    }

    .ec-hero {
        right: 30px;
        top: -160px;
    }

    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
    }

    #hero .btn {
        margin-top: 60px;
    }
}

/* ITEMS */

.item {
    text-align: center;
}

#content .item-title {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #262626;
}

#content .item-desc {
    margin: 0;
    padding: 0;
    color: #6c6c6c;
}

#content .item-link {
    padding: 0;
    margin: 0;
}

// VERT ITEMS

.vert-items:first-of-type {
    margin-top: 40px;
    margin-bottom: 10px;
}

.vert-items:last-of-type {
    margin-bottom: 30px;
}

/* SEC - 1 */

#content .sec-1 .container-fixed {
    border-bottom: 1px solid #d0d0d0;
}

#content .tabs-menu {
    border-bottom: 1px solid #dbdbdb;
}

#content .tab {
    border-top: 0;
}

#content .tab::after,
.info-row::after,
#sec-1 .container-fixed::after {
    content: "";
    display: table;
    clear: both;
}

.cmb-holder {
    margin-bottom: 10px;
}

#content .info-1 {
    color: #a4a4a4;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.sec-1 .tab-content .row .item:nth-of-type(2) {
    margin-bottom: 20px;
}

@media screen and (max-width: 520px) {
    .tabs-menu li:last-of-type {
        border-bottom: 0;
    }
}

/* SEC - 2 */

.prod-img {
    max-width: 458px;
    width: 100%;
}

.prod-img-holder {
    text-align: center;
}
