<div class="formComposition formCompositionRender formCompositionRenderDisplay">
    <h2 id="-0">magenta1-obyvacka</h2>
    <div class="dynamicFormLeft">
        <div class="dynamicFormBox">
            <div class="dynamicFormBoxLabel">Dostupné hlavné polia</div>
            <ul class="availableRootFields ui-sortable">
                <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypePAGE" style="display: none;">
                    <div>
                        <div class="formFieldRender">
                            <h4 class="pageNameField defaultValueField">Meno stránky</h4>
                            <div class="pageContent">
                                <ul class="dynamicFormSubFields connectedSortableSubFields">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypeTHANK_YOU_PAGE" style="display: none;">
                    <div>
                        <div class="formFieldRender">
                            <h4 class="pageNameField defaultValueField">Meno stránky</h4>
                            <div class="pageContent">
                                <ul class="dynamicFormSubFields connectedSortableSubFields">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <div class="dynamicFormBox">
            <div class="dynamicFormBoxLabel">Dostupné polia</div>
            <ul class="availableFields ui-sortable">
                <li class="dynamicFormItemBox fieldTypeINPUT">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField inputRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypePASSWORD">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField passwordRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="password" class="defaultValueField passwordField" value="" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeTEXTAREA">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField textareaRenderField">
                                <label class="labelField">Popisok:</label> <span><textarea class="textareaField defaultValueField" title="Tooltip"></textarea></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSMS_VERIFICATION">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField formFieldContainer destinationRenderField">
                                <label class="labelField">Popisok čísla:</label> <span> <input type="text" class="verificationFieldNumber defaultValueField" value="Číslo" title="Tooltip čísla"> <button data-localized-text="Odoslať" data-localized-text-1="Preposlať" class="submit">Odoslať</button> </span> <span class="formFieldValidationResult"><span class="error"></span></span>
                            </div>
                            <div class="formFieldRenderField formFieldContainer codeRenderField">
                                <label class="verificationFieldCodeLabel labelField fieldRequired">Popisok kódu:</label> <span> <input type="text" class="verificationFieldCode defaultValueField" value="Kód" title="Tooltip"> <button class="submit">Overiť</button> </span> <span class="formFieldValidationResult"><span class="error" data-default-error-message="Prosím overte zadaný údaj"></span></span>
                            </div>
                            <div class="formFieldContainer successRenderField"><span class="staticTextField wysiwygValue">SMS bola overená.</span></div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeEMAIL_VERIFICATION">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField formFieldContainer destinationRenderField">
                                <label class="labelField">Popisok emailu:</label> <span> <input type="text" class="verificationFieldNumber defaultValueField" value="Email" title="Tooltip emailu"> <button data-localized-text="Odoslať" data-localized-text-1="Preposlať" class="submit">Odoslať</button> </span> <span class="formFieldValidationResult"><span class="error"></span></span>
                            </div>
                            <div class="formFieldRenderField formFieldContainer codeRenderField">
                                <label class="verificationFieldCodeLabel labelField fieldRequired">Popisok kódu:</label> <span> <input type="text" class="verificationFieldCode defaultValueField" value="Kód" title="Tooltip kódu"> <button class="submit">Overiť</button> </span> <span class="formFieldValidationResult"><span data-default-error-message="Prosím overte zadaný údaj" class="error"></span></span>
                            </div>
                            <div class="formFieldPartRender successRenderField"><span class="staticTextField wysiwygValue">E-mail bol overený.</span></div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeDATE">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField dateRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField dateTimeField" value="" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT">
                    <div>
                        <div class="formFieldRender">
                            <div class="staticTextField wysiwygValue">Statický text</div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeCHECKBOX">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField checkboxRenderField">
                                <label class="labelField">Popisok:</label>
                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField"></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                            </div>
                            <div class="checkboxSubFields dynamicFormSubFormDiv">
                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields" style="display: none;">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeRADIOBOX">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField radioboxRenderField">
                                <label class="labelField">Popisok:</label>
                                <div class="radio"><span><input type="radio" class="defaultValueField radioboxField optionsField"></span></div>
                            </div>
                            <div class="radioboxSubFields dynamicFormSubFormDiv">
                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields" style="display: none;">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSELECT">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField selectRenderField">
                                <label class="labelField">Popisok:</label> <span> <div id="heapbox_97920962" class="heapBox"><a href="" class="holder">Empty</a><a href="" class="handler"></a><div class="heap"><ul class="heapOptions"></ul></div></div><select class="selectField defaultValueField" style="display: none;"> </select> </span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSUBMIT">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField submitRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="submit" value="Submit" class="defaultValueField submitField" title="formComposition.field.submit.tooltip"></span> </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeRESET">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField resetRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="reset" value="Reset" class="defaultValueField resetField" title="Reset tooltip"></span> </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeFILE">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField fileRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="file" name="files" multiple="multiple" class="defaultValueField fileField" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="error" style="display:none;">Nie je možné nahrať súbory s nepovolenými príponami</span></span>
                                <div class="fileInputResponseDiv"> <span class="fileUploadedItems"></span> </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeHIDDEN">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField hiddenRenderField"> <span><input type="hidden" class="defaultValueField hiddenField" value="Value"></span> </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeNOTIFICATION_CHOOSER">
                    <div>
                        <div class="formFieldRender"> </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dynamicFormMain">
        <ul class="dynamicFormFields connectedSortableFields ui-sortable">
            <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypePAGE" id="formFieldId16523" style="display: list-item;">
                <div>
                    <div class="formFieldRender">
                        <h4 class="pageNameField defaultValueField">Defaultná hodnota</h4>
                        <div class="pageContent">
                            <ul class="dynamicFormSubFields connectedSortableSubFields ui-sortable">
                                <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16524">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField form__internet">
                                                <label class="labelField" style="width: 131px;">Internet</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16525">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField form__tv">
                                                <label class="labelField" style="width: 131px;">TV</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16526">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField form__pl">
                                                <label class="labelField" style="width: 131px;">Pevna Linka</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16527">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField form__mp">
                                                <label class="labelField" style="width: 131px;">Moj Pausal</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16528">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField form__1p">
                                                <label class="labelField" style="width: 131px;">Prvy pausal</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16529">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField form__2p">
                                                <label class="labelField" style="width: 131px;">Druhy pausal</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16530">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField form__3p">
                                                <label class="labelField" style="width: 131px;">Treti pausal</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16531">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField" style="width: 131px;">Vaše Meno</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId16532">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField" style="width: 131px;">Telefónne číslo</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearBoth"></div>
    <div class="dynamicFormPages"> <span class="prevPageButtonSpan"><input type="button" class="prevPageButton" value="Predchádzajúca stránka" style="display: none;"></span> <span class="pageMiddle"> <span> Stránka <span class="pageNumber">1</span> z <span class="totalPages">1</span> </span>
        </span> <span class="nextPageButtonSpan" style="float: right;"><input type="button" class="nextPageButton" value="Nasledujúca stránka" style="display: none;"></span> <span class="nextPageButtonSpan" style="float: right;"><input type="button" class="finishFormButton" value="Odoslať" style="display: inline-block;"></span>
        <div class="clearBoth"></div>
    </div>
    <br>
</div>



<!--<script type="text/javascript" src="../assets/js/menu.js"></script>-->
<script type="text/javascript" src="../assets/js/smartmenu.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
