<div class="mob__kv"></div>
<div id="magenta__app">
    <h2 class="calc__title">MAGENTA 1 – VYSKLADAJTE SI SVOJE SLUŽBY</h2>
    <ul id="magenta-menu" class="sm sm-simple is_closed">
        <li id="help-1" class="master" data-type="0" data-order="0" data-choosen="0"><a href="#">INTERNET</a>
            <ul class="hidden">
                <li class="parent"><a href="#" class="type">Už mám internet</a>
    
                    <ul class="hidden">
                        <li class="product product-variant" data-variant="M"><a href="#" class="child">Internet M</a></li>
                        <li class="product product-variant" data-variant="L"><a href="#" class="child">Internet L</a></li>
                        <li class="product product-variant" data-variant="X"><a href="#" class="child">Internet XL</a></li>
                    </ul>
    
                </li>
                <li class="parent"><a href="#" class="type">Chcem internet</a>
    
                    <ul class="hidden">
                        <li class="product product-variant" data-variant="M"><a href="#" class="child">Internet M</a></li>
                        <li class="product product-variant" data-variant="L"><a href="#" class="child">Internet L</a></li>
                        <li class="product product-variant" data-variant="X"><a href="#" class="child">Internet XL</a></li>
                    </ul>
    
                </li>
                <li class="parent product-variant" data-variant="o"><a href="#" class="not-interested">Nemám záujem</a>
            </ul>
            <div id="productHolderInternet" class="productHolder hidden" data-product="0" data-variant="o"></div>
        </li>
        <li class="master disabled" data-type="1" data-order="1" data-choosen="0"><a href="#"
                                                                                     class="mainParent">TELEVÍZIA</a>
            <ul class="hidden">
                <li class="parent double-lined"><a href="#" class="type">Už mám televíziu</a>
    
                    <ul class="hidden">
                        <li class="product product-variant" data-variant="M"><a href="#" class="child">Televízia M</a></li>
                        <li class="product product-variant" data-variant="L"><a href="#" class="child">Televízia L</a></li>
                        <li class="product product-variant" data-variant="X"><a href="#" class="child">Televízia XL</a></li>
                    </ul>
    
                </li>
                <li class="parent"><a href="#" class="type">Chcem televíziu</a>
    
                    <ul class="hidden">
                        <li class="product product-variant" data-variant="M"><a href="#" class="child">Televízia M</a></li>
                        <li class="product product-variant" data-variant="L"><a href="#" class="child">Televízia L</a></li>
                        <li class="product product-variant" data-variant="X"><a href="#" class="child">Televízia XL</a></li>
                    </ul>
    
                </li>
                <li class="parent product-variant" data-variant="o"><a href="#" class="not-interested">Nemám záujem</a>
            </ul>
            <div id="productHolderTV" class="productHolder hidden" data-product="0" data-variant="o"></div>
        </li>
        <li class="master disabled" data-type="2" data-order="2" data-choosen="0"><a href="#">PEVNÁ LINKA</a>
            <ul class="hidden">
                <li class="parent"><a href="#" class="type">Už mám pevnú linku</a>
    
                    <ul class="hidden">
                        <li class="product product-variant" data-variant="M"><a href="#" class="child">Pevná linka M</a>
                        </li>
                        <li class="product product-variant" data-variant="L"><a href="#" class="child">Pevná linka L</a>
                        </li>
                        <li class="product product-variant" data-variant="X"><a href="#" class="child">Pevná linka XL</a>
                        </li>
                    </ul>
    
                </li>
                <li class="parent"><a href="#" class="type">Chcem pevnú linku</a>
    
                    <ul class="hidden">
                        <li class="product product-variant" data-variant="M"><a href="#" class="child">Pevná linka M</a>
                        </li>
                        <li class="product product-variant" data-variant="L"><a href="#" class="child">Pevná linka L</a>
                        </li>
                        <li class="product product-variant" data-variant="X"><a href="#" class="child">Pevná linka XL</a>
                        </li>
                    </ul>
    
                </li>
                <li class="parent product-variant" data-variant="o"><a href="#" class="not-interested">Nemám záujem</a>
            </ul>
            <div id="productHolderPL" class="productHolder hidden" data-product="0" data-variant="o"></div>
        </li>
        <li id="help-2" class="master disabled double-line" data-type="3" data-order="3" data-choosen="0"><a href="#">MÔJ
            VÝHODNÝ PAUŠÁL</a>
            <ul class="hidden">
                <li class="parent product product-variant" data-variant="a"><a href="#" class="child">Happy L</a></li>
                <li class="parent product product-variant" data-variant="b"><a href="#" class="child">Happy XL Volania</a></li>
                <li class="parent product product-variant" data-variant="c"><a href="#" class="child">Happy XL Data</a></li>
                <li class="parent product product-variant" data-variant="d"><a href="#" class="child">Happy XL</a></li>
                <li class="parent product product-variant" data-variant="e"><a href="#" class="child">Happy XXL</a></li>
                <li class="parent product product-variant" data-variant="f"><a href="#" class="child">Happy Profi</a></li>
                <li class="parent product product-variant" data-variant="o"><a href="#" class="not-interested">Nemám
                    záujem</a>
            </ul>
            <div id="productHolderMP" class="productHolder hidden" data-product="0" data-variant="o"></div>
        </li>
        <li id="help-3" class="master disabled double-line" data-type="4" data-order="4" data-choosen="0"><a href="#">3
            PAUŠÁLY PRE BLÍZKYCH</a>
            <ul class="hidden">
                <li class="package" data-package="0"><a href="#" class="parent">Pausal 1</a>
    
                    <ul class="hidden">
                        <li class="parent product product-variant" data-variant="a"><a href="#" class="child">Happy L</a>
                        </li>
                        <li class="parent product product-variant" data-variant="b"><a href="#" class="child">Happy XL
                            Volania</a></li>
                        <li class="parent product product-variant" data-variant="c"><a href="#" class="child">Happy XL
                            Data</a></li>
                        <li class="parent product product-variant" data-variant="d"><a href="#" class="child">Happy XL</a>
                        </li>
                        <li class="parent product product-variant" data-variant="e"><a href="#" class="child">Happy XXL</a>
                        </li>
                        <li class="parent product product-variant" data-variant="f"><a href="#" class="child">Happy
                            Profi</a></li>
                        <li class="product product-variant" data-variant="o"><a href="#" class="not-interested">Nemám
                            záujem</a></li>
                    </ul>
    
                </li>
                <li class="package" data-package="1"><a href="#" class="parent">Pausal 2</a>
    
                    <ul class="hidden">
                        <li class="parent product product-variant" data-variant="a"><a href="#" class="child">Happy L</a>
                        </li>
                        <li class="parent product product-variant" data-variant="b"><a href="#" class="child">Happy XL
                            Volania</a></li>
                        <li class="parent product product-variant" data-variant="c"><a href="#" class="child">Happy XL
                            Data</a></li>
                        <li class="parent product product-variant" data-variant="d"><a href="#" class="child">Happy XL</a>
                        </li>
                        <li class="parent product product-variant" data-variant="e"><a href="#" class="child">Happy XXL</a>
                        </li>
                        <li class="parent product product-variant" data-variant="f"><a href="#" class="child">Happy
                            Profi</a></li>
                        <li class="product product-variant" data-variant="o"><a href="#" class="not-interested">Nemám
                            záujem</a></li>
                    </ul>
    
                </li>
                <li class="package" data-package="2"><a href="#" class="parent">Pausal 3</a>
    
                    <ul class="hidden">
                        <li class="parent product product-variant" data-variant="a"><a href="#" class="child">Magio M</a>
                        </li>
                        <li class="parent product product-variant" data-variant="b"><a href="#" class="child">Magio L</a>
                        </li>
                        <li class="parent product product-variant" data-variant="c"><a href="#" class="child">Magio M</a>
                        </li>
                        <li class="parent product product-variant" data-variant="d"><a href="#" class="child">Magio L</a>
                        </li>
                        <li class="parent product product-variant" data-variant="e"><a href="#" class="child">Magio M</a>
                        </li>
                        <li class="parent product product-variant" data-variant="f"><a href="#" class="child">Magio L</a>
                        </li>
                        <li class="product product-variant" data-variant="o"><a href="#" class="not-interested">Nemám
                            záujem</a></li>
                    </ul>
    
                </li>
                <li class="parent product product-variant package" data-package="3" data-variant="ooo"><a href="#"
                                                                                                          class="not-interested">Nemám
                    záujem</a>
            </ul>
            <div id="productHolderM3P" class="productHolder hidden" data-product="0" data-variant="ooo"></div>
        </li>
        <li>
            <p class="price">MESAČNE SPOLU</p>
            <div class="priceHolder" data-product="0">0.00 €</div>
        </li>
        <li><a href="#" class="button button_lima button-buy disabled">Mam zaujem</a></li>
    </ul>
</div>
<div class="lightbox-cover hidden"></div>