<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">
				Služba mPOS</h1>
            <h2 class="hero__sub-title">
				Mobilný platobný terminál akceptujúci platobné karty</h2>
            <p class="hero__desc">
                Prijímajte platby kedykoľvek a kdekoľvek.
                <br />Zvýšite si tak tržby a spokojnosť zákazníkov.</p>
            <a class="button button_lima scroll-to" href="#sec-4">MÁM ZÁUJEM</a>
        </div>
        <img src="../assets/img/logos.png" alt="Logo" class="logos">
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">Hlavné výhody</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">Výber zariadenia</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">Mám záujem</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">Pomoc</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>

<section class="section sec-1" id="sec-1">
    <div class="fixed-column">
        <h2 class="section__title">
            HLAVNÉ VÝHODY SLUŽBY</h2>
        <div class="col-group services">
            <div class="grid-g__col_4 service">
                <img src="../assets/img/ico-phone.png" alt="Mobilná aplikácia" />
                <p class="service__desc">Ovládanie cez mobilnú aplikáciu v smartfóne alebo tablete</p>
            </div>
            <div class="grid-g__col_4 service">
                <img src="../assets/img/ico-docs.png" alt="Platby" />
                <p class="service__desc">Platby môžete prijímať na váš existujúci bankový účet</p>
            </div>
            <div class="grid-g__col_4 service">
                <img src="../assets/img/ico-phone.png" alt="Podporované karty" />
                <p class="service__desc">Podporované karty MasterCard, Maestro, VISA, VISA Electron</p>
            </div>
        </div>
        <div class="col-group services">
            <div class="grid-g__col_3 service">
                <img src="../assets/img/ico-euro.png" alt="Cena" />
                <p class="service__desc">Cena už od 11,99 € mesačne bez DPH</p>
            </div>
            <div class="grid-g__col_3 service">
                <img src="../assets/img/ico-keyboard.png" alt="História platieb" />
                <p class="service__desc">Prístup na online portál s prehľadom a históriou platieb</p>
            </div>
            <div class="grid-g__col_3 service">
                <img src="../assets/img/ico-discount.png" alt="Nízke poplatky" />
                <p class="service__desc">Nízke poplatky za vykonané transakcie</p>
            </div>
            <div class="grid-g__col_3 service">
                <img src="../assets/img/ico-call.png" alt="Bezplatná nonstop linka technickej pomoci" />
                <p class="service__desc">Bezplatná nonstop linka technickej pomoci</p>
            </div>
        </div>
    </div>
</section>

<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <h2 class="section__title">PLATBA CEZ mPOS JE JEDNODUCHÁ</h2>
        <div class="col-group">
            <div class="grid-g__col_4 prod__img">
                <img src="../assets/img/device-1.png" alt="">
            </div>
            <div class="grid-g__col_8 right prod__desc">
                <ol class="prod__list">
                    <li><span>V mobilnej aplikácii POGO mPOS nastavíte výšku platby a v prípade potreby nepovinné doplňujúce údaje (variabilný symbol, číslo faktúry, atď)</span></li>
                    <li><span>Váš zákazník použije svoju platobnú kartu ako je bežne zvyknutý</span></li>
                    <li><span>Výsledok transakcie uvidíte priamo na displeji a zároveň zákazník dostane emailom potvrdenie o platbe</span></li>
                    <li><span>Informácie o prijatých platbách a ich archív máte dostupné kedykoľvek cez online portál a taktiež v mobilnej aplikácii</span></li>
                </ol>
                <img src="../assets/img/logo-mpos.png" alt="mPOS" class="logo-mpos">
            </div>
        </div>
    </div>
</section>

<section class="section sec-3" id="sec-3">
    <div class="fixed-column">
        <h2 class="section__title">AKTIVÁCIA SLUŽBY TVRVÁ LEN PÁR MINÚT</h2>
        <div class="col-group">
            <div class="grid-g__col_6 right prod__desc">
                <ol class="prod__list">
                    <li><span>Potom ako získate službu mPOS na jednom z našich Telekom centier, kuriér vám doručí terminál na vami vybrané miesto.</span></li>
                    <li><span>Stiahnete si platobnú aplikáciu POGO mPOS na Google play store alebo v App store</span>
                        <br />
                        <a target="_blank" href="https://play.google.com/store/apps/details?id=com.fdi.pogo.telekom&hl=sk"><img class="logo-play" src="../assets/img/google-play.png" alt="Google Play"></a>
                        <a target="_blank" href="https://appsto.re/sk/6dNH-.i"><img class="logo-store" src="../assets/img/app-store.png" alt="App Store"></a>
                    </li>
                    <li><span>Prihlásite sa na svoj účet v aplikácii</span></li>
                    <li><span>Spojíte mPOS terminál a váš mobil cez bluetooth</span></li>
                    <li><span>Môžete začať prijímať prvé platby</span>
                        <br />
                    </li>
                </ol>
                <p class="disclaimer">Obchodná značka Pogo>® je vlastnená spoločnosťou First Data Corporation</p>
            </div>
            <div class="grid-g__col_6 prod__img">
                <img src="../assets/img/device-2.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="section sec-4" id="sec-4">
    <div class="fixed-column">
        <p class="section__title">
            ZÍSKAJTE SLUŽBU <span class="small-type">m</span>POS</p>
        <p class="section__sub-title">Prosíme zanechajte nám vaše údaje a budeme vás kontaktovať za účelom dohodnutia osobného stretnutia na jednej z našich Telekom predajní. Viac informácií sa môžete tiež dozvedieť na telefónnom čísle 0800 123 500.</p>
        <div id="form-holder"></div>
    </div>
</section>
<section class="section sec-5" id="sec-5">
    <div class="fixed-column">
        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu">
                    <li class="variant current" data-variant="1">
                        <a href="#tab-1">Ceny a poplatky</a></li>
                    <li class="variant">
                        <a href="#tab-2">Odporúčame</a></li>
                    <li class="variant">
                        <a href="#tab-3">Časté otázky</a></li>
                </ul>
            </div>
            <div class="tab">
                <div class="tab-content" id="tab-1">
                    <div class="col-group">
                        <div class="pricing-table">
                            <div class="item-holder">
                                <p class="item">Mesačný poplatok 11,99 €</p>
                            </div>
                            <div class="item-holder">
                                <p class="item">Zriadenie služby 9 €</p>
                            </div>
                            <div class="item-holder">
                                <p class="item">Zariadenie <span class="small-type">m</span>POS za</p>
                                <ul class="aditional-info-list">
                                    <li><span class="square-ico">■</span><b>akciovú cenu 1 €</b> pri 24-mesačnej viazanosti</li>
                                    <li><span class="square-ico">■</span>alebo za 150 € bez viazanosti</li>
                                </ul>
                            </div>
                            <div class="item-holder">
                                <p class="item">Poplatky za vykonané transakcie</p>
                                <p class="aditional-info-list">Zúčtovanie platobných transakcií sa riadi cenníkom nášho partnera – spoločnosti First Data Europe Limited. Podrobnosti a detaily získate v našich <a href="#" class="link_blue">Telekom Centrách</a>.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="tab-2">
                    <div class="col-group services">
                        <div class="grid-g__col_4 service">
                            <img src="../assets/img/ico-kurier.png" alt="Mobilná aplikácia" />
                            <p class="service__desc">Taxi, kuriér a donáškové služby</p>
                        </div>
                        <div class="grid-g__col_4 service">
                            <img src="../assets/img/ico-briefcase.png" alt="Platby" />
                            <p class="service__desc">Obchodní agenti a cestujúci</p>
                        </div>
                        <div class="grid-g__col_4 service">
                            <img src="../assets/img/ico-clock.png" alt="Podporované karty" />
                            <p class="service__desc">Sezónni predajcovia</p>
                        </div>
                    </div>
                    <div class="col-group services">
                        <div class="grid-g__col_4 service">
                            <img src="../assets/img/ico-coffee.png" alt="Mobilná aplikácia" />
                            <p class="service__desc">Reštaurácie</p>
                        </div>
                        <div class="grid-g__col_4 service">
                            <img src="../assets/img/ico-medkit.png" alt="Platby" />
                            <p class="service__desc">Lekári, zubári či veterinári</p>
                        </div>
                        <div class="grid-g__col_4 service">
                            <img src="../assets/img/ico-barber.png" alt="Podporované karty" />
                            <p class="service__desc">Kaderníctva a služby</p>
                        </div>
                    </div>
                    <div class="col-group">
                        <p class="more">..a mnoho ďalších</p>
                    </div>
                </div>
                <div class="tab-content" id="tab-3">
                    <ol class="faq">
                        <li class="faq__item">
                            <p class="faq__title">Poskytujete aj technickú podporu počas používania služby mPOS?</p>
                            <p class="faq__desc normal">Nonstop linka technickej pomoci je tu pre Vás bezplatne na čísle +421 2 6828 5257. Poskytované prostredníctvom partnera projektu – First Data Slovakia</p>
                        </li>
                        <li class="faq__item">
                            <p class="faq__title">Je nutné, aby som mal podnikateľský účet vo vybranej bankovej inštitúcii?</p>
                            <p class="faq__desc normal">Nezáleží na tom, v akej banke máte vedený svoj podnikateľský účet, peniaze sú vám pripísané do 2 pracovných dní od vykonania platby na účet vo vašej banke.</p>
                        </li>
                        <li class="faq__item">
                            <p class="faq__title">Potrebujem internetové pripojenie?</p>
                            <p class="faq__desc normal">Áno, pre uskutočnenie platieb cez mobilnú aplikáciu potrebujete byť pripojený do internetu. S kúpou služby mPOS vám dáme zadarmo dátovú SIM kartu, ktorú môžete nielen na to používať. Ceny jednotlivých dátových balíčkov Vám radi poskytnú naši predajcovia. Ak už máte existujúce internetové pripojenie, môžete využívať to.</p>
                        </li>
                        <li class="faq__item">
                            <p class="faq__title">Akým cenníkom sa riadi zúčtovanie transakcií realizovaných platobnými kartami?</p>
                            <p class="faq__desc normal">Zúčtovanie platobných transakcií sa riadi cenníkom a ponukou spoločnosti First Data Europe Limited a zákazník tieto podmienky získa na predajnom mieste ST v rámci Objednávky služby mPOS</p>
                        </li>
                        <li class="faq__item">
                            <p class="faq__title">Aký typ telefónu alebo tabletu potrebujem?</p>
                            <p class="faq__desc normal">iOS s operačným systémom 7.0 alebo vyšším
                                <br />Android s operačným systémom 4.0 alebo vyšším</p>
                        </li>
                        <li class="faq__item">
                            <p class="faq__title">Aké karty sú podporované?</p>
                            <p class="faq__desc normal">Akceptuje platobné karty s čipom aj magnetickým prúžkom
                                <br /> Umožňuje bezkontaktné platby kartou alebo mobilom s NFC technológiou</p>
                        </li>
                        <li class="faq__item">
                            <p class="faq__title">Kto je spoločnosť FirstData Europe Limited?</p>
                            <p class="faq__desc normal">Poplatky za transakcie sú určené spoločnosťou FirstData Europe Limited, ktorá je medzinárodným poskytovateľom platobných služieb prostredníctvom mPOS terminálov a zabezpečuje pripisovanie finančných prostriedkov prijatých cez mPOS na Váš zvolený podnikateľský účet.</p>
                        </li>
                        <li class="faq__item">
                            <p class="faq__title">Môžem niekde vidieť históriu uskutočnených transakcií?</p>
                            <p class="faq__desc normal">Áno, prihláste sa do online portálu <a href="http://www.omnipaygroup.com/ramtool" target="_blank" class="link_blue">www.omnipaygroup.com/ramtool</a>.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-6" id="sec-6">
    <div class="fixed-column">
        <p class="promo__head">MÁME PRE VÁS VIAC</p>
        <p class="promo__detail">V prípade, že za svojimi zákazníkmi necestujete, môže byť pre vás vhodný aj <a href="#">platobný terminál POS.</a></p>
        <p class="promo__detail">Ak potrebujete doklady o zaplatení aj tlačiť, získajte registračnú pokladnicu a <a href="#">fiškálnu tlačiaren SMART POS.</a></p>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
