<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title"><b>HUDBA S DEEZEROM</b><br/>40 MILIÓNOV SKLADIEB<br/>VŽDY A VŠADE</h1>
            <a class="btn cta scroll-to" href="#sec-2">KÚPIŤ DEEZER</a>
            <br/>
            <a href="#sec-1" class="link scroll-to">Viac informácií</a>
        </div>
        <img src="../assets/img/ec.png" alt="" class="ec">
        <img src="../assets/img/logo-deezer.jpg" alt="" class="logo">
    </div>
</section>
<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <h2 class="sec__title">ČO JE DEEZER A JEHO VÝHODY</h2>
        <div class="row">
            <div class="col-md-4 benefit">
                <img src="../assets/img/ico-1.png" alt="Viac ako 40 miliónov skladieb">
                <p class="benefit__title">Viac ako 40 miliónov skladieb</p>
                <p class="benefit__desc">Získate prístup k obrovskému množstvu hudby rôznych žánrov v tej najlepšej kvalite zvuku a navyše – zoznam skladieb stále narastá.</p>
            </div>
            <div class="col-md-4 benefit">
                <img src="../assets/img/ico-2.png" alt="Aj bez internetového pripojenia">
                <p class="benefit__title">Aj bez internetového pripojenia</p>
                <p class="benefit__desc">So službou Deezer počúvate hudbu online alebo si ju stiahnite a púšťajte bez internetového pripojenia na svojom mobile, tablete či notebooku.</p>
            </div>
            <div class="col-md-4 benefit">
                <img src="../assets/img/ico-3.png" alt="Zdielanie obľúbenej hudby">
                <p class="benefit__title">Zdielanie obľúbenej hudby</p>
                <p class="benefit__desc">Nastavte si výber hudby podľa svojho vkusu a zdieľajte ho s najbližšími jedným klikom cez Facebook, Twitter či Google+.</p>
            </div>
        </div>
    </div>
</section>
<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <h2 class="sec__title">SLUŽBY A CENY</h2>
        <div class="pricing-box">
            <div class="pricing-box__cover">
                <p class="pbc__title">Deezer
                    <br>za polovicu</p>
                <p class="pbc__sub-title">len pre zákazníkov Slovak Telekomu</p>
            </div>
            <div class="pricing-box__content">
                <div class="actual-price">
                    <p class="price"> 2,99 € <span class="monthly">| mesačne na 12 mesiacov</span></p>
                    <p class="price_old"> 5,99 € | mesačne</p>
                    <p class="price-save">ušetríte 36 € <img class="t-tip t-1" src="../assets/img/ico-question.png" alt=""></p>
                    <select id="deezer-select">
                        <option value="0">Vyberte jednu z možností</option>
                        <option value="1">Mám jeden z paušálov ÁNO</option>
                        <option value="2">Mám jeden z paušálov Happy</option>
                        <option value="3">Mám program Bez záväzkov</option>
                        <option value="4">Mám Easy kartu</option>
                        <option value="5">Mám Magio televíziu alebo internet</option>
                        <option value="6">Mám Pevnú linku</option>
                        <option value="7">Nemám žiadnu službu od Telekomu</option>
                    </select>
                    <div class="buy-area">
                        <a href="#" id="order" class="btn cta btn_disabled popup">KÚPIŤ DEEZER</a>
                        <br/>
                        <a href="/wiki/ostatne/deezer#pouzivanie" class="link">Už mám kúpený Deezer, chcem prejsť k aktivácii</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-holder">
            <p class="info-text">Po uplynutí 12 mesiacov je cena 4,99 € / mesiac.</p>
        </div>
    </div>
</section>


<section class="section sec-4" id="sec-4">
        <div class="container-fixed" id="aui_3_4_0_1_594">
            <h2 class="sec__title" id="-2">
                <a id="pouzivanie" name="pouzivanie"></a>AKO SI AKTIVOVAŤ SLUŽBU</h2>
            <p> Na aktivovanie služby Deezer je potrebné zaregistrovať na hudobnom portáli:</p>
            <ol class="list-number">
                <li> Kliknite na
                    <a href="http://www.deezer.com/sync/telekomsk" target="_blank">www.deezer.com/sync/telekomsk</a>
                </li>
                <li> Zvoľte si
                    <strong>"Užívateľ cez mobil"</strong> ak je služba Deezer aktivovaná k mobilnému paušálu, alebo
                    <strong>"Internetový užívateľ"</strong>, ak je Deezer aktivovaný k fixným produktom alebo Mobilnému internetu.</li>
                <li> Zadajte
                    <strong>mobilné telefónne číslo</strong>, ku ktorému je služba Deezer aktivovaná, alebo
                    <strong>e-mailovú adresu</strong>, ktorú ste zadali pri objednaní služby Deezer.
                    <br> (Ak sa registrujete prostredníctvom e-mailovej adresy Deezer Vám následne pošle e-mail s aktivačným kódom,
                    tento kód je treba zadať do príslušného políčka)</li>
                <li> Ak už
                    <strong>máte konto na Deezeri</strong> prihláste sa do portálu. Ak
                    <strong>nemáte konto na Deezeri</strong>, musíte sa zaregistrovať: zvoľte si meno, prihlasovaciu e-mailovú adresu
                    a heslo. Všetky údaje sa dajú neskôr zmeniť.</li>
            </ol>
            <p> Týmto ste sa zaregistrovali do služby Deezer a môžete ju začať používať.</p>
        </div>
    </section>

<section id="sec-3" class="section sec-3">
    <div class="container-fixed">
        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu">
                    <li class="variant current" data-variant="1"><a href="#tab-1">Viac o službe Deezer</a></li>
                    <li class="variant" data-variant="2"><a href="#tab-2">Deezer bez viazanosti</a></li>
                    <li class="variant" data-variant="4"><a href="#tab-4">Deezer v mobile</a></li>
                    <li class="variant" data-variant="3"><a href="#tab-3">Deaktivácia</a></li>
                </ul>
            </div>
            <div class="tab">
                <!-- tab-1 -->
                <div class="tab-content" id="tab-1">
                    <!-- 1 -->
                    <div class="row tab_feature">
                        <!-- A -->
                        <div class="feature_imgholder col-md-6">
                            <img class="tab_feature__img" src="../assets/img/001.jpg" alt="">
                        </div>
                        <!-- B -->
                        <div class="tab_desc_holder col-md-6">
                            <p class="tab-title">Neobmedzená hudba v mobile, tablete či počítači</p>
                            <p class="tab_desc">S Deezerom získate prístup k viac ako 40 miliónom hudobných skladieb, ktoré si môžete vziať kamkoľvek so sebou. Počúvajte hudbu na svojom mobile, tablete, notebooku či počítači, je to len na vás.</p>
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="row tab_feature">
                        <!-- B -->
                        <div class="feature_imgholder col-md-6 push-sm-6">
                            <img class="tab_feature__img" src="../assets/img/002.png" alt="">
                        </div>
                        <!-- A -->
                        <div class="tab_desc_holder col-md-6 pull-sm-6 text-right">
                            <p class="tab-title">Funkcia FLOW – osobné rádio prispôbené vášmu vkusu</p>
                            <p class="tab_desc">S Flow máte istotu, že budete počúvať hudbu, ktorá sa vám páči. Flow pozná vaše obľúbené albumy a vyberá skladby, ktoré chcete počuť. Kliknite na srdce, ak sa vám výber páči alebo na preškrtnuté srdce, ak sa vám nepáči a Flow sa vám prispôsobí.</p>
                        </div>
                    </div>
                    <!-- 3 -->
                    <div class="row tab_feature">
                        <!-- A -->
                        <div class="feature_imgholder col-md-6">
                            <img class="tab_feature__img" src="../assets/img/003.png" alt="">
                        </div>
                        <!-- B -->
                        <div class="tab_desc_holder col-md-6">
                            <p class="tab-title">Texty vašich obľúbených skladieb</p>
                            <p class="tab_desc">Zapnite si zobrazovanie textov svojich obľúbených skladieb a prebuďte v sebe hviezdu! Texty piesní najväčších hitov spustíte jediným kliknutím na ikonku mikrofónu na obrázku obalu albumu.</p>
                        </div>
                    </div>
                    <!-- 4 -->
                    <div class="row tab_feature">
                        <!-- B -->
                        <div class="feature_imgholder col-md-6 push-sm-6">
                            <img class="tab_feature__img" src="../assets/img/004.png" alt="">
                        </div>
                        <!-- A -->
                        <div class="tab_desc_holder col-md-6 pull-sm-6 text-right">
                            <p class="tab-title">Žiadne dáta naviac</p>
                            <p class="tab_desc">Stiahnete si svoju obľúbenú hudbu do mobilu a počúvajte offline kdekoľvek ste aj bez prístupu do internetu. Vaši obľúbení interpreti sú tak stále pri vás, nech sa chystáte robiť čokoľvek.</p>
                        </div>
                    </div>
                    <!-- features -->
                    <div class="row text_centered">
                        <p class="tab-title">Ďalšie vlastnosti a funkcie</p>
                        <br>
                        <!-- 1 -->
                        <div class="col-xs-12 col-md-4 spec_item">
                            <div class="feat_img"> <img src="../assets/img/ico-1.jpg" /></div>
                            <div class="spec_desc">
                                <p>Vytvorte si vlastné obľúbené playlisty alebo si vyberte z rádií podľa hudobných žánrov či spevákov a staňte sa tým najlepším DJ-om.</p>
                            </div>
                        </div>
                        <!-- 2 -->
                        <div class="col-xs-12 col-md-4 spec_item">
                            <div class="feat_img"> <img src="../assets/img/ico-2.jpg" /></div>
                            <div class="spec_desc">
                                <p>V ponuke nájdete aj nové albumy a skladby ešte pred ich oficiálnym spustením. Vypočujte si horúce novinky skôr než ostatní.</p>
                            </div>
                        </div>
                        <!-- 3 -->
                        <div class="col-xs-12 col-md-4 spec_item">
                            <div class="feat_img"> <img src="../assets/img/ico-3.jpg" /></div>
                            <div class="spec_desc">
                                <p>
                                  Vychutnajte si každý detail obľúbenej pesničky vo vysokej kvalite zvuku (až 320 kb/s) a bez prerušovania reklamou.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row text_centered mgt">
                        <div class="col-md-12"> <a href="/wiki/ostatne/deezer" class="link">Viac o Deezeri sa dočítate v našej Wiki</a></div>
                    </div>
                </div>
                <!-- tab-2 -->
                <div class="tab-content" id="tab-2">
                    <p>Doplnkovú službu Deezer si môžete aktivovať aj
                        <br />bez viazanosti za mesačný poplatok 4,99 €.</p>
                    <a href="#deezer-akt" class="btn popup">AKTIVOVAŤ</a>
                    <!--<a href="#deezer-deakt" class="link popup">Deaktivovať</a>-->
                </div>
                <!-- tab-3 -->
                <div class="tab-content" id="tab-3">
                    <p class="tc-title">Deaktivácia Deezeru bez viazanosti</p>
                    <p>Zašlite bezplatnú SMS s textom <b>DEEZER VYP</b> na číslo <b>12323</b></p>
                    <p class="tc-title mt__20">Deaktivácia Deezeru po uplynutí 12 mesiacov</p>
                    <p>pre Happy a program Bez záväzkov pošlite SMS s textom <b>DEEZER VYP</b> na číslo <b>12323</b></p>
                    <p class="mt__10">pre Magio TV, internet, Pevnú linku nás kontaktujte na čísle <b>0800 123 456</b> alebo nás navštívte v <b>Telekom Centre</b>.</p>
                </div>
                <!-- tab-4 -->
                <div class="tab-content" id="tab-4">
                    
    <p id="aui_3_4_0_1_667"> Stiahnite si
        <strong id="aui_3_4_0_1_666">aplikáciu:</strong>
    </p>
    <div>
        <div class="app-div" style="float:left; margin-left:12%; margin-bottom:5%;">
            <a href="https://play.google.com/store/apps/details?id=deezer.android.app&amp;hl=sk">
                <img alt="" src="/documents/10179/102461/googleplay.png/035b5164-849c-4b3e-916c-c7d3df548d08"> </a>
            <h3 id="-3"> Obchod Play</h3> Pre Android</div>
        <div class="app-div" style="float:left; margin-left:12%; margin-bottom:5%;">
            <a href="https://itunes.apple.com/us/app/deezer-music/id292738169?mt=8">
                <img alt="" src="/documents/10179/102461/appstore.png/c6e156d3-86d7-4cbf-bee2-e421325f004b"> </a>
            <h3 id="-4"> App store</h3> Pre iOS</div>
        <div class="app-div" style="float:left; margin-left:12%;">
            <a href="http://appworld.blackberry.com/webstore/content/4624/?lang=en&amp;countrycode=SK">
                <img alt="" src="/documents/10179/102461/blackberyworld.png/5165f7bb-cdf0-4d23-912f-120701b5d2c1"> </a>
            <h3 id="-5"> BlackBerry World</h3> Pre BlackBerry</div>
        <div class="app-div" style="float:left; margin-left:11%;">
            <a href="http://www.windowsphone.com/sk-sk/store/app/deezer/abf78126-7301-e011-9264-00237de2db9e">
                <img alt="" src="/documents/10179/102461/windows-store.png/63899fc7-6ae7-4263-bf46-925d8617fa75"> </a>
            <h3 id="-6"> Windows Store</h3> Pre Windows Phone 7, 8,
            <br> 8.1&nbsp;alebo Windows 8, 8.1</div>
    </div>
    <div style="clear:both;"> &nbsp;</div>
    <p> Ak si chcete overiť kompatibilitu vášho mobilného zariadenia, kliknite na
        <a href="http://www.deezer.com" target="_blank">www.deezer.com</a> priamo z vášho mobilného zariadenia.</p>
    <!-- tab-3 -->
    <div class="tab-content" id="tab-3" style="display: none;">
        <p class="tc-title"> Deaktivácia Deezeru bez viazanosti</p>
        <p> Zašlite bezplatnú SMS s textom
            <b>DEEZER VYP</b> na číslo
            <b>12323</b>
        </p>
        <p class="tc-title mt__20"> Deaktivácia Deezeru po uplynutí 12 mesiacov</p>
        <p> pre Happy a program Bez záväzkov pošlite SMS s textom
            <b>DEEZER VYP</b> na číslo
            <b>12323</b>
        </p>
        <p class="mt__10"> pre Magio TV, internet, Pevnú linku nás kontaktujte na čísle
            <b>0800 123 456</b> alebo nás navštívte v
            <b>Telekom Centre</b>.</p>
    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-legal" class="section sec-legal">
    <div class="container-fixed">
        <div class="legal"> <a class="note-legal" href="" onclick="$('#legal-1').toggle('slow');return false;">Podmienky</a>
            <div class="legal-content" id="legal-1" style="display: none;">
                <p>Cena služby Deezer 2,99 €/mesiac je podmienená jej aktivovaním ako doplnkovej služby k službám pevnej siete (Magio TV, Magio Internet a Hlasová služba) alebo mobilnej siete v programe Happy XS a vyššie a v programe Bez záväzkov a prevzatím záväzku viazanosti k službe Deezer na 12 mesiacov. Po uplynutí doby viazanosti bude služba Deezer poskytovaná za cenu a podmienok podľa platného <a class="link" href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-pevnej-siete/">Cenníka</a>. Podmienky služby Deezer sú upravené v aktuálnom <a class="link" href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-pevnej-siete/">Cenníku</a> a v <a class="link" href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-pevnej-siete/">Osobitných podmienkach služby Deezer</a>.</p>
            </div>
        </div>
    </div>
</section>

<div id="deezer1" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Ako kúpiť Deezer</p>
        <p class="p-detail"><b>Ak vám skončila viazanosť</b></p>
        <p class="p-detail">Predĺžte si zmluvu cez web a získate Deezer za 2,99 € | mes.</p>
        <!-- <a href="/mob/objednavka/-/scenario/e-shop/happy" class="btn cta mb__20 mt__10">PREDĹŽIŤ PAUŠÁL ÁNO</a> -->
        <br />
        <p class="p-detail"><b>Počas viazanosti služby</b></p>
        <p class="p-detail"><b>1.</b> Zašlite bezplatnú SMS s textom
            <br /><b>DEEZER 12M ZAP</b> na číslo <b>12323</b>.</p>
        <p class="p-detail mt__5 mb__5"><b>2. Počkajte na spätnú SMS.</b></p>
        <p class="p-detail"><b>3.</b> Môžete prejsť k aktivácii Deezeru.</p>
        <a href="/wiki/ostatne/deezer#pouzivanie" class="btn mt__10">PREJSŤ K AKTIVÁCII</a>
        <br />
        <a href="#" class="link link-close mt__10">Zavrieť okno</a>
    </div>
</div>

<div id="deezer2" style="display: none;">
        <div class="p-head">
            <a href="#" class="p-close"></a>
        </div>
        <div class="p-content">
            <p class="p-title">Ako kúpiť Deezer</p>
            <p class="p-detail"><b>Ak vám skončila viazanosť</b></p>
            <p class="p-detail">Predĺžte si zmluvu cez web a získate Deezer za 2,99 € | mes.</p>
            <!-- <a href="/mob/objednavka/-/scenario/e-shop/happy" class="btn cta mb__20 mt__10">PREDĹŽIŤ PAUŠÁL ÁNO</a> -->
            <br />
            <p class="p-detail"><b>Počas viazanosti služby</b></p>
            <p class="p-detail"><b>1.</b> Zašlite bezplatnú SMS s textom
                <br /><b>DEEZER 12M ZAP</b> na číslo <b>12323</b>.</p>
            <p class="p-detail mt__5 mb__5"><b>2. Počkajte na spätnú SMS.</b></p>
            <p class="p-detail"><b>3.</b> Môžete prejsť k aktivácii Deezeru.</p>
            <a href="/wiki/ostatne/deezer#pouzivanie" class="btn mt__10">PREJSŤ K AKTIVÁCII</a>
            <br />
            <a href="#" class="link link-close mt__10">Zavrieť okno</a>
        </div>
</div>

<div id="deezer3" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Ako kúpiť Deezer</p>
        <p class="p-detail"><b>1.</b> Zašlite bezplatnú SMS s textom
            <br /><b>DEEZER 12M ZAP</b> na číslo <b>12323</b>.</p>
        <p class="p-detail mt__5 mb__5"><b>2. Počkajte na spätnú SMS.</b></p>
        <p class="p-detail"><b>3.</b> Môžete prejsť k aktivácii Deezeru.</p>
        <a href="/wiki/ostatne/deezer#pouzivanie" class="btn mt__20">PREJSŤ K AKTIVÁCII</a>
        <br />
        <a href="#" class="link link-close mt__10">Zavrieť okno</a>
    </div>
</div>

<div id="deezer4" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Deezer na 12 mesiacov</p>
        <p class="p-detail">S Easy kartou žiaľ nemáte nárok na aktiváciu služby Deezer.</p>
    </div>
</div>

<div id="deezer5" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Ako kúpiť Deezer</p>
        <p class="p-detail"><b>Ak vám skončila viazanosť</b></p>
        <p class="p-detail">Predĺžte si zmluvu cez web a získate Deezer za 2,99 € | mes.</p>
        <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="btn cta mb__20 mt__10">PREDĹŽIŤ MAGIO TV, INTERNET</a>
        <br />
        <p class="p-detail"><b>Počas viazanosti služby</b></p>
        <p class="p-detail"><b>1.</b> Službu Deezer kúpite telefonicky na čísle <b>0800 123 456</b></p>
        <p class="p-detail mt__5 mb__5"><b>2. Počkajte na potvrdzujúci e-mail.</b></p>
        <p class="p-detail"><b>3.</b> Môžete prejsť k aktivácii Deezeru.</p>
        <a href="/wiki/ostatne/deezer#pouzivanie" class="btn mt__10">PREJSŤ K AKTIVÁCII</a>
        <br />
        <a href="#" class="link link-close mt__10">Zavrieť okno</a>
    </div>
</div>

<div id="deezer6" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Ako kúpiť Deezer</p>
        <p class="p-detail"><b>Ak vám skončila viazanosť</b></p>
        <p class="p-detail">Predĺžte si zmluvu cez web a získate Deezer za 2,99 € | mes.</p>
        <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="btn cta mb__20 mt__10">PREDĹŽIŤ PEVNÚ LINKU</a>
        <br />
        <p class="p-detail"><b>Počas viazanosti služby</b></p>
        <p class="p-detail"><b>1.</b> Službu Deezer kúpite telefonicky na čísle <b>0800 123 456</b></p>
        <p class="p-detail mt__5 mb__5"><b>2. Počkajte na potvrdzujúci e-mail.</b></p>
        <p class="p-detail"><b>3.</b> Môžete prejsť k aktivácii Deezeru.</p>
        <a href="/wiki/ostatne/deezer#pouzivanie" class="btn mt__10">PREJSŤ K AKTIVÁCII</a>
        <br />
        <a href="#" class="link link-close mt__10">Zavrieť okno</a>
    </div>
</div>

<div id="deezer7" style="display: none;">
        <div class="p-head">
            <a href="#" class="p-close"></a>
        </div>
        <div class="p-content">
            <p class="p-title">Ako kúpiť Deezer</p>
            <p class="p-detail">Službu Deezer získate k akémukoľvek paušálu Happy, programu Bez záväzkov alebo k niektorej zo služieb Chytrého balíka (Magio televízii, internetu či Pevnej linke).</p>
            <p class="p-detail mt__10"><b>Kúpite ho vložením do košíka počas nakupovania.</b></p>
            <a href="/mob/objednavka/-/scenario/e-shop/happy" class="btn cta mb__10 mt__10">K PAUŠÁLOM HAPPY</a>
            <br />
            <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="btn cta_outline">K CHYTRÉMU BALÍKU</a>
            <br />
            <a href="#" class="link link-close mt__10">Zavrieť okno</a>
        </div>
</div>

<div id="deezer-deakt" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Deaktivácia Deezeru
            <br />bez viazanosti</p>
        <p class="p-detail">Zašlite bezplatnú SMS s textom
            <br /><b>DEEZER VYP</b> na číslo <b>12323</b></p>
        <a href="#" class="btn mt__20 link-close">Zavrieť okno</a>
    </div>
</div>
<div id="deezer-deakt-2" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Deaktivácia Deezeru
            <br />po uplynutí 12 mesiacov</p>
        <p class="p-detail">pre Happy a program Bez záväzkov pošlite SMS s textom
            <br /><b>DEEZER VYP</b> na číslo <b>12323</b></p>
        <p class="p-detail mt__10">pre Magio TV, internet, Pevnú linku nás kontaktujte na čísle <b>0800 123 456</b> alebo nás navštívte v <b>Telekom Centre</b>.</p>
        <a href="#" class="btn mt__20 link-close">Zavrieť okno</a>
    </div>
</div>
<div id="deezer-akt" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
    </div>
    <div class="p-content">
        <p class="p-title">Deezer bez viazanosti</p>
        <p class="p-detail">Deezer bez viazanosti si môžete kúpiť len k paušálu Happy, programu Bez záväzkov, Magio TV, internetu alebo Pevnej linke. K Easy karte nie je dostupný.</p>
        <p class="p-detail mt__10">Deezer kúpite cez Môj Telekom</p>
        <a href="/web/mojtelekom/produkty-a-sluzby/-/scenario/e-shop/produkty-a-sluzby" class="btn mb__20">KÚPIŤ CEZ MÔJ TELEKOM</a>
        <br />
        <div class="popup-separator"><span class="p-separator sl"></span><span>alebo cez SMS</span><span class="p-separator sr"></span></div>
        <p class="p-detail mb__10">(len majitelia paušálu Happy alebo Programu bez záväzkov)</p>
        <p class="p-detail"><b>1.</b> Pošlite bezplatnú SMS s textom
            <br /><b>DEEZER ZAP</b> na číslo <b>12323</b>.</p>
        <p class="p-detail mt__5 mb__5"><b>2. Počkajte na spätnú SMS.</b></p>
        <p class="p-detail"><b>3.</b> Môžete <a class="link" href="/wiki/ostatne/deezer#pouzivanie">prejsť k aktivácii Deezeru.</a></p>
        <br />
        <a href="#" class="link link-close">Zavrieť okno</a>
    </div>
</div>
<script type="text/javascript" src="../assets/js/main.js"></script>





