<div id="custom-modal">
    <div id="overlay">
        <div class="modal-head" ng-click="close()">
            <div class="modal-head_left"><img src="../assets/img/ico-left-arrow.png" alt="" /></div>
            <div class="modal-head_text">Zoradiť podľa</div>
        </div>
        <div class="modal-item" ng-repeat="item in zakladnyFilter" ng-click="changeOrder(item)">
            <span class="modal-item_text">{{item.name}}</span>
        </div>
    </div>
    <div id="fade" ng-click="close()"></div>
</div>
