<section id="hero" class="hero section">
    <div class="fixed-column">
        <div class="col-group">
            <div class="grid-g__col_7 col_text">
                <h2 class="hero__title">LG G5 – PRVÝ MODULÁRNY<br/>SMARTFÓN S KOVOVÝM TELOM</h2>
                <p class="hero__desc">Osloboďte sa a objavte neobmedzené
                    <br/>možnosti s vymeniteľnými modulmi</p>
                <ul class="hero__list">
                    <li><span>Elegantné kovové telo</span></li>
                    <li><span>Vymeniteľné moduly</span></li>
                    <li><span>Širokouhlý objektív</span></li>
                    <li><span>Mimoriadny zoom</span></li>
                    <li><span>Funkcia Pop-out picture</span></li>
                </ul>
                <img src="../assets/img/hero__logo.png" alt="" class="hero__logo">
            </div>
            <div class="grid-g__col_5 col_img">
                <img src="../assets/img/hero__prod.png" alt="" class="hero__prod">
            </div>
        </div>
    </div>
</section>

<div class="main_sec" id="sec-1">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title">ZÁKLADNÉ  ÚDAJE</h2>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img alt="" class="img__specs" src="../assets/img/specs__img.png" /></div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">5,3" QuadHD Quantum IPS<br/>(554 ppi)</div>
                        <div class="spec__param">živší displej aj na slnku</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">2 800 mAh</div>
                        <div class="spec__param">
                            batéria</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Gorilla Glass 4</div>
                        <div class="spec__param">tvrdené sklo</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Android™ 6.0 Marshmallow</div>
                        <div class="spec__param">OS</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">32 GB ROM, 4GB RAM</div>
                        <div class="spec__param">podpora microSDXC</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">16 Mpx</div>
                        <div class="spec__param">zadný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">8 Mpx</div>
                        <div class="spec__param">predný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">149.4 x 73.9 x 7.7~8.6 mm</div>
                        <div class="spec__param">rozmery (výška x šírka x hrúbka)</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Štvorjadrový 2,1 GHz<br/>Qualcomm Snapdragon</div>
                        <div class="spec__param">procesor</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">ÚPLNE NOVÝ KOVOVÝ DIZAJN</h2>
                <p class="feat__desc">Kov a sklo plynule splývajú do jedného celku bez štrbiny antény. Elegantný dizajn s kultovou jednoduchosťou je k dispozícii v titánovej farbe. Vyskúšajte si jedinečnú praktickosť na vlastný dotyk.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">MODULÁRNA KONŠTRUKCIA</h2>
                <p class="feat__desc">Dolná časť smartfónu je odnímateľná aj s batériou, vďaka čomu ju ľahko vymeníte za inú. Umožní vám jednoduché pridávanie modulov so špecifickými funkciami. Získate tak nové možnosti, ktoré vám dodajú pocit slobody.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">MIMORIADNY ZOOM</h2>
                <p class="feat__desc">Jedinečná funkcia ultra širokého oddialenia (zoom 0.5x) vám umožní robiť rozmanité fotky a videá z tesnej blízkosti až po obrovské scenérie. Potiahnite to do extrému!</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">ŠIROKOUHLÝ OBJEKTÍV</h2>
                <p class="feat__desc">Získajte nový pohľad na veci! Vaše oči môžu vidieť veľa, ale fotoaparát v LG G5 zachytí ešte viac v 135 stupňoch. Môžete tak jednoducho odfotiť rozľahlé panorámy, plný koncert na štadióne alebo aj celú pláž.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">POP-OUT PICTURE</h2>
                <p class="feat__desc">Hravá funkcia, s ktorou vytvoríte štandardnú aj širokouhlú fotografiu naraz. Môžete ju skrášliť 4 rôznymi spôsobmi: rybie oko, čiernobiely filter, medailón, rozostrenie objektívu.</p>
            </div>
        </div>
    </section>
    <section class="prod-1 feat-6 section">
        <div class="fixed-column">
            <div class="col-group">
                <div class="grid-g__col_4">
                    <h2 class="feat__title">VŽDY NA OČIACH</h2>
                    <p class="feat__desc">Šetrite svoje prsty. Už nikdy viac stláčanie tlačidla pre kontrolu času, dátumu či notifikácií. S LG G5 máte všetky dôležité informácie stále na očiach.</p>
                </div>
                <div class="grid-g__col_8">
                    <div class="img__holder">
                        <img src="../assets/img/footer__ec.png" alt="" class="footer__ec">
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>

<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>