/* =============== IMPORTS  =============== */
/* =============== GLOBAL IMPORTS  =============== */
/* =============== BASE IMPORTS  =============== */
/* =============== RESET PORTAL STYLES =============== */
#wrapper #content {
  padding-bottom: 0; }

#wrapper .portlet-column-content {
  padding: 0; }

#content h1, #content h2, #content h3 {
  text-decoration: none;
  border: 0; }

#content a {
  text-decoration: none;
  font-size: 16px; }

#content p {
  font-size: 16px; }

#content ul {
  list-style: none; }

#wrapper .wbreadcrumbs {
  display: none; }

#content, #content * {
  box-sizing: border-box; }

#content .portlet-content {
  padding: 0; }

#main-content .portlet-column {
  display: block; }

#content .portlet-layout {
  display: block; }

#content .row {
  line-height: normal; }

/* =============== GLOBAL CONFIG  =============== */
/* =============== UTILITIES  =============== */
/* =============== FUNCTIONS & MIXINS =============== */
/* =============== CSS FOR STICKY NAV =============== */
.text_centered {
  text-align: center; }

.text_left {
  text-align: left; }

.text_uc {
  text-transform: uppercase; }

.text_bold {
  font-weight: bold; }

.text_initial {
  text-transform: initial; }

#wrapper .text__link {
  font-size: 18px; }

#wrapper .font_magenta {
  color: #e20074; }

#wrapper .font_black {
  color: #000000; }

#wrapper .font_white {
  color: #ffffff; }

#wrapper .font_mine-shaft {
  color: #383838; }

#wrapper .font_deep-cerulean {
  color: #007faf; }

/* =============== SPACING =============== */
#wrapper .margin_top20 {
  margin-top: 20px; }

#wrapper .margin_top50 {
  margin-top: 50px; }

#wrapper .margin_bottom20 {
  margin-bottom: 20px; }

#wrapper .mid__icon {
  vertical-align: middle; }

/* =============== BASE IMPORTS  =============== */
/* =============== CSS FOR BUTTONS =============== */
/* LEGACY BUTTONS     */
#wrapper .button {
  color: #fff;
  font-size: 16px;
  padding: 0 17px;
  border-radius: 4px; }

#wrapper .button_font-black {
  color: #000; }

#wrapper .button_cream-can {
  background-color: #f2c957;
  border: 1px solid #f2c957; }

#wrapper .button_lima {
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#wrapper .button_gray {
  background-color: #8c8c8c;
  border: 1px solid #8c8c8c; }

#wrapper .btn_double {
  background-color: #6bb324;
  border: 1px solid #65ac20;
  height: 60px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px; }

/* LEGACY BUTTONS END */
#content .btn {
  text-transform: uppercase;
  font-size: 16px;
  color: #383838;
  background-color: #ededed;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none; }

#content .btn .fa {
  margin-right: 6px; }

#content .btn .fa-only {
  margin-right: 0; }

#content .btn:hover {
  background-color: #dbdbdb;
  border: 1px solid #a1a1a1; }

#content .btn:active {
  background-color: #e7e7e7;
  border: 1px solid #a4a4a4; }

#content .btn.btn_disabled {
  color: #bababa;
  background-color: #f2f2f2;
  border: 1px solid #dedede;
  cursor: no-drop; }

#content .cta {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#content .cta:hover {
  background-color: #58951c;
  border: 1px solid #4d8319; }

#content .cta:active {
  background-color: #5e9e20;
  border: 1px solid #65ac20; }

#content .cta_mag {
  color: #ffffff;
  background-color: #e20074;
  border: 1px solid #cc0069; }

#content .cta_mag:hover {
  background-color: #cc0069;
  border: 1px solid #9f0052; }

#content .cta_mag:active {
  background-color: #db0070;
  border: 1px solid #cc0069; }

#content .cta.btn_disabled, #content .cta_mag.btn_disabled {
  color: #ffffff;
  background-color: #d7d7d7;
  border: 1px solid #cdcdcd; }

#content .btn_clean {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838; }

#content .btn_clean:hover {
  background-color: #ededed;
  border: 1px solid #ededed; }

#content .btn_outline, #content .btn_outline:hover {
  background-color: transparent;
  border: 1px solid #a4a4a4; }

#content .btn_white-outline, #content .btn_white-outline:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff; }

#content .btn_mag-outline, #content .btn_mag-outline:hover {
  background-color: transparent;
  color: #e20074;
  border: 1px solid #e20074; }

#content .link {
  color: #007faf;
  text-decoration: underline; }

#content .link:hover {
  color: #00668d;
  text-decoration: underline; }

#content .link:active {
  color: #017ba9;
  text-decoration: none; }

.play {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: inline-block;
  background-color: #ededed;
  border: 1px solid #b4b4b4;
  position: relative; }

.play .fa {
  color: #383838;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-30%); }

#content .input, #content .textarea {
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  font-size: 18px;
  padding: 7px 10px;
  display: block; }

#content .input:active, #content .input:focus, #content .textarea:active, #content .textarea:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  outline: none; }

#content .input-label {
  display: block;
  font-size: 15px;
  color: #383838;
  margin-bottom: 0; }

#content div.radio span {
  border: 1px solid #b6b6b6;
  background-color: #ededed; }

#content div.radio span.checked:before {
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  background-color: #6bb324; }

#content div.checker span {
  border: 1px solid #b6b6b6;
  background-color: #ededed;
  border-radius: 4px; }

#content div.checker span.checked:before {
  left: 6px;
  font-size: 16px; }

.tooltip .qtip-content {
  border-radius: 4px; }

/* =============== CSS FOR STICKY NAV =============== */
#nav-sticky ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto; }

#nav-sticky ul li {
  display: inline-block; }

#nav-sticky {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
  text-transform: uppercase; }

#nav-sticky a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active {
  background-color: #fff;
  color: #e20074; }

#nav-sticky li:last-child {
  float: right; }

#nav-sticky li:last-child a {
  color: #7c7c7c; }

@media screen and (max-width: 960px) {
  #nav-sticky ul {
    width: 100%; } }

@media screen and (max-width: 799px) {
  #nav-sticky-sticky-wrapper, #nav-sticky {
    display: none; } }

/* =============== HERO KV =============== */
.portlet-body .journal-content-article .hero__title {
  color: #fff;
  border: 0;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-top: 0; }

.portlet-body .journal-content-article .hero__desc {
  color: #fff;
  font-size: 20px;
  line-height: 20px; }

.hero__content, .hero__img {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 40px 2%; } }

@media screen and (max-width: 720px) {
  .portlet-body .journal-content-article .hero__title {
    font-size: 30px; } }

@media screen and (max-width: 560px) {
  .hero__content {
    width: 96%;
    margin: 0 2%; } }

/* =============== MEDIA =============== */
.media {
  display: table;
  width: 100%; }

.media__image, .media__body {
  display: table-cell;
  vertical-align: middle; }

.media--top .media__image, .media--top .media__body {
  vertical-align: top; }

.media--bottom .media__image, .media--bottom .media__body {
  vertical-align: bottom; }

.media_v__image, .media_v__body {
  width: 100%; }

.show-mobile {
  display: none; }

.page table {
  color: #000; }

.c-row-table .header-top {
  padding-top: 20px; }

.c-row-table .c-content {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  overflow: hidden;
  padding-bottom: 20px; }

.c-row-table {
  overflow: hidden; }

.table-container {
  width: 495px;
  /* Total width of visible columns + border widths */
  overflow: hidden; }

.sliding-window {
  /*width:1320px; */
  /* Total width of all columns in sliding-window + border widths */
  width: 1485px;
  overflow: hidden; }

.happy-left, .happy-right {
  position: static; }

.happy-right img {
  position: absolute;
  top: 200px;
  width: 50px;
  height: 50px; }

.happy-left img {
  position: absolute;
  top: 200px;
  width: 50px;
  height: 50px; }

/*-------------------------------------------------------*/
.happy td.row-2-xl2, .happy td.row-2-xl, .happy td.row-2-xxl, .happy td.row-2-profi {
  font-size: 0.8em; }

/*-------------------------------------------------------*/
#happy-boxes h2 {
  padding-left: 0; }

#happy-boxes {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px; }

#happy-boxes .nadpis {
  font-size: 1.6em;
  text-align: center;
  height: 30px;
  display: inline-block;
  color: #E20074;
  padding-bottom: 10px; }

#happy-boxes .cena {
  font-size: 1.6em;
  color: #E20074;
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 0; }

#happy-boxes .box {
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  width: 200px;
  float: left;
  height: 233px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative; }

#happy-boxes .box .desc {
  padding-left: 10px;
  background: url("https://www.telekom.sk/documents/10179/457601/bullet2.png") no-repeat scroll;
  padding-bottom: 10px;
  font-size: 0.9em;
  text-align: left; }

#happy-boxes a {
  text-decoration: none; }

/*-------------------------------------------------------*/
#content .waterbear-theme td {
  padding: 0;
  line-height: 1em;
  font-size: 15px; }

.page .happy-table1, .page .happy-table2, .page .happy-table3, .page .happy-left, .page .happy-right {
  float: left; }

.happy-table1 {
  width: 40px; }

.happy-table2 {
  margin-left: 20px;
  width: 215px;
  table-layout: fixed; }

.page .happy-left {
  margin-left: 30px; }

.page .happy-right {
  margin-left: 30px; }

.happy-table3 {
  margin-left: 110px;
  position: relative; }

table.happy-desc, table.happy {
  border-spacing: 0;
  border-collapse: collapse; }

.happy td {
  width: 165px;
  /*margin-right: 2px;*/
  /*padding-right: 10px;*/
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/ }

.happy tr {
  margin: 0; }

.happy th {
  color: #000;
  font-weight: bold; }

.happy-desc td, .happy-desc th {
  border-bottom: 1px solid #d0d0d0;
  text-align: left;
  vertical-align: middle; }

.happy td, .happy th {
  border-bottom: 1px solid #d0d0d0;
  vertical-align: middle;
  text-align: center; }

.happy tr:first-child, .happy tr:last-child {
  border-bottom: none; }

.happy tr, .happy-desc tr {
  height: 60px; }

.happy tr.row-9, .happy-desc tr.row-9 {
  height: 40px; }

td.row-1-head, td.row-2-head, td.row-3-head, td.row-4-head, td.row-5-head, td.row-6-head, td.row-7-head, td.row-8-head, td.row-9-head, td.row-10-head {
  padding-left: 10px;
  /*padding-right: 5px;*/ }

/*-------------------------------------------------------*/
.happy tr.header {
  color: #e20074;
  font-size: 1.3em;
  text-transform: uppercase;
  line-height: 1em;
  height: 70px; }

.happy-desc tr.header {
  height: 70px; }

.happy tr {
  line-height: 1em; }

/*-------------------------------------------------------*/
.happy-desc tr.row-9, .happy tr.row-9 {
  color: #1063ad;
  font-weight: bold; }

.happy-desc .row-9-head, .happy .row-9 td, .happy .row-order td {
  border-bottom: none; }

.happy .row-order td {
  padding-bottom: 20px; }

.happy-desc .row-5-head img {
  vertical-align: -5px;
  padding-left: 5px; }

.happy-desc .row-8-head img {
  vertical-align: -5px;
  padding-left: 5px; }

.row-8-head {
  position: relative; }

.magenta-row {
  width: 120px;
  height: 40px;
  background-color: #fce5f1;
  position: absolute;
  right: -120px;
  top: 0; }

.happy tr.row-10 {
  font-size: 1.5em; }

.waterbear-theme .page .row-order a.green {
  background-color: #6bb324;
  border: 1px solid #6bb324; }

.waterbear-theme .page .friend-order a.green {
  background-color: #6bb324;
  border: 1px solid #6bb324; }

.friend-order {
  padding-top: 30px;
  float: right; }

.activeBox {
  background-color: rgba(215, 215, 215, 0.3); }

@media screen and (max-width: 960px) {
  .table-container {
    width: 300px;
    /* Total width of visible columns + border widths */
    overflow: hidden; }
  .button-order-table {
    bottom: -50px;
    left: 140px; } }

@media screen and (max-width: 800px) {
  .button-order-table {
    bottom: -50px;
    left: -10px; } }

@media screen and (max-width: 770px) {
  .show-mobile {
    display: block; }
  .hide-mobile {
    display: none; } }

@media screen and (max-width: 600px) {
  .table-container {
    width: 170px;
    /* Total width of visible columns + border widths */
    overflow: hidden; } }

/* =============== FANCYBOX =============== */
body .fancybox-wrap {
  border: 10px solid #6b6b6b;
  box-shadow: none; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body .fancybox-wrap .fancybox-close {
  top: -28px;
  right: -28px;
  width: 16px;
  height: 16px; }

/* =============== QTIP =============== */
.tooltip .qtip-content {
  font-size: 14px;
  text-align: center; }

#content .heapBox {
  margin: 0; }

.heapBox .holder {
  border-radius: 4px 0 0 4px; }

.heapBox .handler {
  border-radius: 0 4px 4px 0; }

.heapBox div.heap {
  border-radius: 4px;
  border-top: 1px solid #a1a1a1;
  top: 120%; }

.heapBox div.heap:before {
  display: none; }

#content .heapOptions {
  margin: 0; }

#content .heapBox .holder, #content .heapBox .handler {
  max-height: 36px;
  background-color: #ededed;
  text-decoration: none; }

#content .heapBox.open {
  height: 36px; }

#content .heapBox.open .holder, #content .heapBox.open .handler {
  background-color: #cdcdcd; }

#content .heapBox.open .holder {
  padding: 8px 10px 8px 9px; }

#content .heapBox .handler:after {
  content: '\f107';
  font-family: FontAwesome;
  color: #383838;
  border: 0;
  top: 22%;
  right: 20px; }

#content .heapBox.open .handler:after {
  content: "\f106"; }

/* TABS */
#content .tabs-container ul {
  list-style: none; }

#content .tabs-container li {
  cursor: pointer; }

.tab__holder {
  text-align: center;
  line-height: 0; }

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block; }

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left; }

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed; }

.tabs-menu li a {
  font-size: 1em;
  padding: 0 40px;
  color: #757575;
  text-decoration: none;
  display: inline-block; }

.tabs-menu li a:hover {
  color: #383838; }

.tabs-menu .current a {
  color: #6bb324; }

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%; }

.tab__variant {
  display: none; }

.tab__variant.selected {
  display: block; }

.tab-content {
  margin-top: 45px;
  display: none; }

#tab-1, #tab-4 {
  display: block; }

@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%; }
  .tabs-menu li:hover {
    border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0; }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu {
    height: auto; }
  .tab {
    border: 0; }
  .tabs-menu li a {
    padding: 0;
    display: block; } }

#content span.hide-span {
  width: 0;
  height: 0;
  border: 0 !important; }

#content div.checker span.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box; }

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px; }

/* Switchery sizes. */
.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px; }

.switchery-small > small {
  height: 20px;
  width: 20px; }

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px; }

.switchery-large > small {
  height: 40px;
  width: 40px; }

/* =============== LAYOUT IMPORTS  =============== */
/* =============== GRID COLUMNS =============== */
#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 {
  float: left; }

#content .grid__col_1 {
  width: 8.20793%; }

#content .grid__col_2 {
  width: 16.55267%; }

#content .grid__col_3 {
  width: 24.8974%; }

#content .grid__col_4 {
  width: 33.24213%; }

#content .grid__col_5 {
  width: 41.58687%; }

#content .grid__col_6 {
  width: 49.9316%; }

#content .grid__col_7 {
  width: 58.27633%; }

#content .grid__col_8 {
  width: 66.62107%; }

#content .grid__col_9 {
  width: 74.9658%; }

#content .grid__col_10 {
  width: 83.31053%; }

#content .grid__col_11 {
  width: 91.65527%; }

#content .grid__col_12 {
  width: 100%; }

#content .grid-g__col_1 {
  width: 6.38298%; }

#content .grid-g__col_2 {
  width: 14.89362%; }

#content .grid-g__col_3 {
  width: 23.40426%; }

#content .grid-g__col_4 {
  width: 31.91489%; }

#content .grid-g__col_5 {
  width: 40.42553%; }

#content .grid-g__col_6 {
  width: 48.93617%; }

#content .grid-g__col_7 {
  width: 57.44681%; }

#content .grid-g__col_8 {
  width: 65.95745%; }

#content .grid-g__col_9 {
  width: 74.46809%; }

#content .grid-g__col_10 {
  width: 82.97872%; }

#content .grid-g__col_11 {
  width: 91.48936%; }

#content .grid-g__col_12 {
  width: 100%; }

.row {
  width: 100%;
  float: left; }

.fixed-column {
  width: 940px;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  .fixed-column {
    width: 96%;
    padding: 0 2%; } }

.section {
  width: 100%;
  float: left; }

.col-group:after {
  content: "";
  display: table;
  clear: both; }

/*@import 'grid-system';*/
.section {
  width: 100%;
  float: left; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 544px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 940px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fixed {
  margin: 0 auto;
  max-width: 940px; }

@media screen and (max-width: 960px) {
  .container-fixed {
    width: 96%;
    padding: 0 2%; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-fluid::after {
  content: "";
  display: table;
  clear: both; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 25%; }

.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 50%; }

.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 75%; }

.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 100%; }

.pull-xs-0 {
  right: auto; }

.pull-xs-1 {
  right: 8.33333%; }

.pull-xs-2 {
  right: 16.66667%; }

.pull-xs-3 {
  right: 25%; }

.pull-xs-4 {
  right: 33.33333%; }

.pull-xs-5 {
  right: 41.66667%; }

.pull-xs-6 {
  right: 50%; }

.pull-xs-7 {
  right: 58.33333%; }

.pull-xs-8 {
  right: 66.66667%; }

.pull-xs-9 {
  right: 75%; }

.pull-xs-10 {
  right: 83.33333%; }

.pull-xs-11 {
  right: 91.66667%; }

.pull-xs-12 {
  right: 100%; }

.push-xs-0 {
  left: auto; }

.push-xs-1 {
  left: 8.33333%; }

.push-xs-2 {
  left: 16.66667%; }

.push-xs-3 {
  left: 25%; }

.push-xs-4 {
  left: 33.33333%; }

.push-xs-5 {
  left: 41.66667%; }

.push-xs-6 {
  left: 50%; }

.push-xs-7 {
  left: 58.33333%; }

.push-xs-8 {
  left: 66.66667%; }

.push-xs-9 {
  left: 75%; }

.push-xs-10 {
  left: 83.33333%; }

.push-xs-11 {
  left: 91.66667%; }

.push-xs-12 {
  left: 100%; }

.offset-xs-1 {
  margin-left: 8.33333%; }

.offset-xs-2 {
  margin-left: 16.66667%; }

.offset-xs-3 {
  margin-left: 25%; }

.offset-xs-4 {
  margin-left: 33.33333%; }

.offset-xs-5 {
  margin-left: 41.66667%; }

.offset-xs-6 {
  margin-left: 50%; }

.offset-xs-7 {
  margin-left: 58.33333%; }

.offset-xs-8 {
  margin-left: 66.66667%; }

.offset-xs-9 {
  margin-left: 75%; }

.offset-xs-10 {
  margin-left: 83.33333%; }

.offset-xs-11 {
  margin-left: 91.66667%; }

@media (min-width: 544px) {
  .col-sm-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-sm-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-sm-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.33333%; }
  .pull-sm-2 {
    right: 16.66667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.33333%; }
  .pull-sm-5 {
    right: 41.66667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.33333%; }
  .pull-sm-8 {
    right: 66.66667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.33333%; }
  .pull-sm-11 {
    right: 91.66667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.33333%; }
  .push-sm-2 {
    left: 16.66667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.33333%; }
  .push-sm-5 {
    left: 41.66667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.33333%; }
  .push-sm-8 {
    left: 66.66667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.33333%; }
  .push-sm-11 {
    left: 91.66667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-md-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.33333%; }
  .pull-md-2 {
    right: 16.66667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.33333%; }
  .pull-md-5 {
    right: 41.66667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.33333%; }
  .pull-md-8 {
    right: 66.66667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.33333%; }
  .pull-md-11 {
    right: 91.66667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.33333%; }
  .push-md-2 {
    left: 16.66667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.33333%; }
  .push-md-5 {
    left: 41.66667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.33333%; }
  .push-md-8 {
    left: 66.66667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.33333%; }
  .push-md-11 {
    left: 91.66667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-lg-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-lg-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-lg-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-lg-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-lg-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-lg-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-lg-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.33333%; }
  .pull-lg-2 {
    right: 16.66667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.33333%; }
  .pull-lg-5 {
    right: 41.66667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.33333%; }
  .pull-lg-8 {
    right: 66.66667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.33333%; }
  .pull-lg-11 {
    right: 91.66667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.33333%; }
  .push-lg-2 {
    left: 16.66667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.33333%; }
  .push-lg-5 {
    left: 41.66667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.33333%; }
  .push-lg-8 {
    left: 66.66667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.33333%; }
  .push-lg-11 {
    left: 91.66667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-xl-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-xl-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-xl-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-xl-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-xl-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-xl-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-xl-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-xl-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-xl-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-xl-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.33333%; }
  .pull-xl-2 {
    right: 16.66667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.33333%; }
  .pull-xl-5 {
    right: 41.66667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.33333%; }
  .pull-xl-8 {
    right: 66.66667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.33333%; }
  .pull-xl-11 {
    right: 91.66667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.33333%; }
  .push-xl-2 {
    left: 16.66667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.33333%; }
  .push-xl-5 {
    left: 41.66667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.33333%; }
  .push-xl-8 {
    left: 66.66667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.33333%; }
  .push-xl-11 {
    left: 91.66667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

/*@import url(/documents/10179/642134/happy6.css);*/
#content {
  padding-bottom: 0; }

.wbreadcrumbs {
  display: none; }

.portlet-body .journal-content-article h1 {
  border-bottom: none;
  padding: 0;
  margin: 0; }

.portlet-body .journal-content-article h2 {
  border-bottom: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 25px; }

.portlet-body .journal-content-article h3 {
  border-bottom: none;
  padding: 0;
  margin: 0; }

.c-row {
  display: block;
  position: relative;
  text-align: center; }

.c-content {
  width: 940px;
  margin: 0 auto;
  position: relative; }

.button-green, .waterbear-theme .button.button-green, .waterbear-theme .page a.button.button-green {
  background: #6bb324;
  border: #6bb324;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3); }

.happy-lightbox {
  font-size: 1.3em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #e20074; }

.tooltip .qtip-content {
  font-size: 17px;
  line-height: 19px; }

/*-------------------------------------------------------*/
.portlet-body .journal-content-article .c-row-top h1 {
  text-align: left;
  color: #fff;
  font-weight: bold; }

.c-row-top {
  min-height: 170px;
  margin-top: 50px; }

#row-top-more {
  padding-top: 15px;
  text-align: left; }

.c-row-top .order-row-top {
  padding-top: 15px;
  text-align: left; }

.waterbear-theme #row-top-more a {
  color: #3ec0f0;
  text-decoration: none; }

.waterbear-theme #row-top-more a:hover {
  text-decoration: underline; }

/*-------------------------------------------------------*/
.portlet-body .journal-content-article .c-row-1 h3 {
  color: #262626;
  font-size: 1em;
  font-weight: bold; }

.c-row-1 {
  /*margin-top: 60px;*/
  padding-top: 90px;
  margin-bottom: 10px; }

.c-row-1 .tiles-a .c-tile, .c-row-1 .tiles-b .c-tile {
  width: 100%;
  max-width: 280px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 30px;
  padding-bottom: 30px;
  font-size: 0.9em; }

.c-row-1 .tiles-a .c-tile:last-child {
  margin-right: 0; }

.c-row-1 .tiles-b .c-tile {
  max-width: 140px; }

.c-row-1 .c-tile img {
  vertical-align: middle; }

.c-row-1 .c-tile-img {
  height: 80px;
  vertical-align: middle; }

/*-------------------------------------------------------*/
.portlet-body .journal-content-article .c-row-2 h2 {
  color: #262626; }

.portlet-body .journal-content-article .pausal .c-row-2 h3 {
  color: #262626;
  font-size: 1em;
  font-weight: bold; }

.c-row-2 {
  padding-top: 50px;
  padding-bottom: 10px; }

.c-row-2 .tiles-a .c-tile, .c-row-2 .tiles-b .c-tile {
  width: 100%;
  max-width: 250px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 30px;
  padding-bottom: 30px;
  font-size: 0.9em; }

.c-row-2 .tiles-a .c-tile:last-child {
  margin-right: 0; }

.c-row-2 .c-tile img {
  vertical-align: middle; }

.c-row-2 .c-tile-img {
  height: 80px;
  vertical-align: middle; }

.c-row-oblubene {
  padding-top: 80px;
  background: url("https://www.telekom.sk/documents/10179/642134/row1_background.png") no-repeat;
  background-size: cover;
  min-height: 930px;
  overflow: hidden; }

.c-row-zakladne {
  padding-top: 40px;
  margin-bottom: 90px;
  overflow: hidden; }

.c-row-narocnych {
  padding-top: 40px;
  margin-bottom: 30px;
  background-color: #e6e6e6;
  overflow: hidden; }

/*-------------------------------------------------------*/
.portlet-body .journal-content-article .c-row-3 h3 {
  font-size: 1.5em;
  font-weight: bold; }

.portlet-body .journal-content-article .c-row-3 h2.grey {
  padding-top: 40px;
  color: #262626; }

.c-row-3 {
  padding-top: 30px;
  padding-bottom: 90px; }

.c-row-3 .header {
  position: relative;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center; }

#ec-bateria {
  /* position: absolute; top: -40px; right: 40px; */
  display: none; }

.c-row-3 .box {
  text-align: left;
  border: 1px solid #d0d0d0;
  display: inline-block;
  vertical-align: top;
  min-height: 180px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  font-size: 0.9em; }

.c-row-3 .boxes-a {
  width: 100%;
  text-align: left; }

.c-row-3 .boxes-b {
  width: 100%;
  margin-top: 30px;
  text-align: left; }

/*-------------------------------------------------------*/
.c-row-3 .boxes-b .box {
  min-height: 183px;
  padding-left: 15px; }

.c-row-3 .boxes-b .box-1 {
  width: 420px;
  margin-right: 20px;
  position: relative;
  background: url("https://www.telekom.sk/documents/10179/591712/background_powerbank.png") 10px 0 no-repeat;
  /*border: 1px solid #E20074;*/ }

.c-row-3 .boxes-b .box-1.box-1_custom {
  width: 420px;
  margin-right: 20px;
  position: relative;
  background: transparent; }

.c-row-3 .boxes-b .box-2 {
  width: 185px;
  margin-right: 0;
  /*border: 1px solid #E20074;*/ }

.c-row-3 .boxes-b .box-3 {
  width: 185px;
  position: relative;
  margin-right: 20px;
  /*border: 1px solid #E20074;*/ }

.c-row-3 .boxes-b .box-1 .box-order {
  padding-top: 10px; }

.c-row-3 .boxes-b .box-3 .box-order {
  padding-top: 5px;
  padding-bottom: 5px; }

.c-row-3 .boxes-b .box-1 .box-desc1 {
  width: 70%; }

.c-row-3 .boxes-b .box-1_custom .box-desc1 {
  width: 100%; }

/*-------------------------------------------------------*/
.portlet-body .journal-content-article .c-row-3 .boxes-a h3 {
  color: #262626; }

.c-row-3 .boxes-a .box-1, .c-row-3 .boxes-a .box-2, .c-row-3 .boxes-a .box-3 {
  min-height: 223px;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
  padding-left: 15px; }

.c-row-3 .boxes-a .box-1 {
  width: 280px;
  margin-right: 20px;
  position: relative;
  background: url("https://www.telekom.sk/documents/10179/642134/susedi_background_box2.png") no-repeat;
  background-size: cover;
  padding-right: 10px;
  border: none; }

#ec-happy-susedi {
  position: absolute;
  bottom: 10px;
  right: 10px; }

.c-row-3 .boxes-a .box-2 {
  width: 340px;
  position: relative;
  margin-right: 20px; }

.waterbear-theme .c-row-3 .boxes-a .box-2 a, .waterbear-theme .c-row-3 .boxes-a .box-3 a {
  color: #262626; }

.c-row-3 .boxes-a .box-3 {
  width: 200px;
  position: relative;
  padding-right: 10px; }

.c-row-3 .box .box-desc1 {
  color: #262626; }

.c-row-3 .box .box-desc2 {
  color: #6c6c6c; }

.c-row-3 .boxes-a .box-1 .box-order {
  padding-top: 8px;
  padding-bottom: 8px; }

.c-row-3 .boxes-a .box-2a .box-desc2 {
  padding-top: 10px; }

.c-row-3 .boxes-a .box-2a .box-order {
  padding-top: 10px; }

.c-row-3 .boxes-a .box-2a {
  width: 50%;
  vertical-align: top;
  float: left; }

.c-row-3 .boxes-a .box-1 .box-head, .c-row-3 .boxes-a .box-2a .box-head, .c-row-3 .boxes-a .box-3 .box-head {
  padding-top: 20px; }

.c-row-3 .boxes-a .box-2b {
  vertical-align: top;
  float: right; }

.c-row-3 .boxes-a .box-2b img {
  position: absolute;
  top: 0;
  right: 0; }

.c-row-3 .box-1a, .c-row-3 .box-1b {
  display: inline-block;
  vertical-align: top; }

.c-row-3 .boxes-b .box-1 img {
  width: 140px; }

.c-row-3 .boxes-b .box-1_custom img {
  max-width: 330px;
  width: 100%; }

.c-row-3 .boxes-b .box-1a {
  width: 80%; }

.c-row-3 .boxes-b .box-1b {
  padding-left: 20px;
  width: 50%; }

#info-zdielanie {
  width: 14px;
  height: auto; }

.kupon-info {
  text-align: left;
  padding-top: 10px;
  font-size: 0.9em; }

#ec-happy-xs {
  position: absolute;
  bottom: 10px;
  right: 0; }

/*-------------------------------------------------------*/
.portlet-body .journal-content-article .c-row-4 h3 {
  font-size: 1em;
  color: #E20074;
  padding-bottom: 10px;
  font-weight: bold; }

.c-row-4 {
  padding-top: 50px;
  background-color: #ededed;
  padding-bottom: 90px; }

.c-row-4 .tiles-a {
  padding-bottom: 30px; }

.c-row-4 .tiles-a .c-tile {
  width: 100%;
  max-width: 290px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 30px;
  padding-bottom: 30px;
  font-size: 0.9em; }

.c-row-4 .tiles-a .c-tile:last-child {
  margin-right: 0; }

.c-row-4 .tiles-a .c-tile .c-tile-head {
  padding-top: 10px; }

.c-row-4 .tiles-a .c-tile .c-tile-price {
  padding-top: 20px;
  color: #4b4b4b;
  display: none; }

.c-row-4 .tiles-a .c-tile .c-tile-desc {
  color: #939393; }

.c-row-4 .tiles-a .c-tile .c-tile-price .price-big {
  font-size: 1.2em; }

.c-row-4 .c-tile img {
  vertical-align: middle; }

.c-row-4 .c-tile-img {
  height: 80px;
  vertical-align: middle; }

.c-row-4 .box {
  margin-top: 20px; }

.c-row-4 .box {
  width: 100%;
  max-width: 180px;
  height: 325px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  background-color: #fff;
  font-size: 0.9em;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px;
  margin-right: 20px;
  border: 1px solid #fff; }

#datanavyse1000a {
  padding-top: 5px;
  padding-bottom: 10px; }

.c-row-4 .box:hover {
  border: 1px solid #E20074; }

.c-row-4 .box:last-child {
  margin-right: 0; }

.c-row-4 .box .box-header {
  border-bottom: 1px solid #d0d0d0; }

.c-row-4 .box .box-desc {
  height: 100px;
  padding-top: 10px;
  padding-bottom: 10px; }

.c-row-4 .box .box-more {
  border-bottom: 1px solid #d0d0d0;
  padding-top: 5px;
  padding-bottom: 25px; }

.c-row-4 .box .box-price {
  padding-top: 10px;
  padding-bottom: 20px; }

.c-row-4 .box .box-price .price-big {
  font-size: 1.2em; }

.data-notice {
  text-align: left;
  margin-top: 10px;
  padding-left: 4px;
  font-size: 0.8em; }

.waterbear-theme .c-row-4 .box-1 .button {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1em;
  line-height: 1.1em;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.3); }

/*-------------------------------------------------------*/
.portlet-body .journal-content-article .c-row-5 h3 {
  color: #262626;
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 10px; }

.c-row-5 {
  padding-top: 50px;
  background-color: #fff;
  padding-bottom: 100px; }

.c-row-5 .tiles-a .c-tile, .c-row-5 .tiles-b .c-tile {
  width: 100%;
  max-width: 260px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-right: 50px;
  padding-bottom: 50px;
  font-size: 0.9em; }

.c-row-5 .tiles-a .c-tile:last-child {
  margin-right: 0; }

.c-row-5 .c-tile img {
  vertical-align: middle; }

.c-row-5 .c-tile-img {
  height: 80px;
  vertical-align: middle; }

.c-row-5 .tiles-a .c-tile-desc {
  min-height: 70px; }

.c-row-5 .tiles-a .c-tile-order {
  padding-top: 10px; }

.waterbear-theme .grey a, .waterbear-theme a.grey {
  color: #4b4b4b; }

/*-------------------------------------------------------*/
.c-row-legals {
  text-align: left;
  padding-bottom: 30px; }

.c-row-legals .c-content:first-child {
  padding-top: 20px;
  border-top: 1px solid #d0d0d0; }

#happy-legal {
  display: none;
  padding-top: 10px; }

.happy-legal {
  display: inline-block;
  font-size: 0.9em; }

.happy-legal-content {
  display: none;
  padding-bottom: 10px; }

.happy-legal-cennik {
  padding-top: 20px; }

.note-legal-bold {
  font-weight: bold; }

/*-------------------------------------------------------*/
@media screen and (max-width: 960px) {
  .c-content {
    width: auto; }
  .c-row-4 .box:last-child {
    margin-right: 20px; }
  .c-row-3 .boxes-a .box-3 {
    margin-top: 20px; }
  .c-row-3 .boxes-b .box-2 {
    margin-top: 20px; } }

@media screen and (max-width: 870px) {
  .c-row-3 .header {
    width: 100%; } }

@media screen and (max-width: 800px) {
  .c-row-1 {
    margin-top: 130px; }
  .portlet-content, .portlet-minimized .portlet-content-container {
    padding-left: 0;
    padding-right: 0; }
  .c-row .c-content {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 750px) {
  .c-row-3 .boxes-b .box-3 {
    margin-top: 20px; } }

@media screen and (max-width: 742px) {
  .c-row-3 .boxes-a .box-2 {
    margin-top: 20px; } }

@media screen and (max-width: 620px) {
  .c-row-1 .tiles-a .c-tile {
    margin-right: 0; }
  .c-row-2 .tiles-a .c-tile {
    margin-right: 0; }
  .c-row-4 .tiles-a .c-tile {
    margin-right: 0; }
  .c-row-5 .tiles-a .c-tile {
    margin-right: 0; }
  #ec-bateria {
    /* position: relative; top: 0; right: 0; padding-bottom: 10px; */
    display: none; } }

@media screen and (max-width: 600px) {
  .c-row-1 {
    margin-top: 90px; } }

@media screen and (max-width: 540px) {
  .data-notice {
    padding-left: 10px;
    padding-right: 10px; } }

@media screen and (max-width: 500px) {
  .c-row-3 .boxes-a .box, .c-row-3 .boxes-b .box {
    width: auto;
    margin-right: 0;
    background: none;
    min-height: 100%;
    padding: 10px; }
  .c-row-3 .boxes-b .box-1 .box-desc1 {
    width: 100%; }
  .c-row-3 .boxes-a .box-2b {
    display: none; }
  #ec-happy-susedi {
    display: none; }
  .c-row-3 .boxes-a .box-1 .box-head, .c-row-3 .boxes-a .box-2a .box-head, .c-row-3 .boxes-a .box-3 .box-head {
    padding-top: 0; }
  .c-row-3 .boxes-a .box-2a {
    width: 100%; }
  .c-row-3 .boxes-a .box-1 {
    border: 1px solid #d0d0d0; } }

@media screen and (max-width: 470px) {
  .c-row-4 .box:last-child {
    margin-right: 0; }
  .c-row-4 .box {
    margin-right: 0; } }

@media screen and (max-width: 430px) {
  .c-row-2 .c-content {
    padding-left: 10px;
    padding-right: 20px; }
  .c-row-4 .box {
    margin-right: 0; }
  .c-row-1 {
    margin-bottom: 30px; }
  .pausal .cena-right {
    padding-top: 10px; } }

#nav-sticky ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto; }

#nav-sticky ul li {
  display: inline-block; }

#nav-sticky {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100; }

#nav-sticky a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active {
  background-color: #fff;
  color: #e20074; }

#nav-sticky li:last-child {
  float: right; }

#nav-sticky li:last-child a {
  color: #7c7c7c; }

@media screen and (max-width: 960px) {
  #nav-sticky {
    display: none; } }

@media screen and (max-width: 690px) {
  .portlet-body .journal-content-article .hero__title {
    font-size: 30px;
    padding-bottom: 0; } }

#content .box__item {
  text-align: left;
  border: 1px solid #d0d0d0;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 15px; }

#content .box__item p, #content .box__item a {
  font-size: 16px; }

#content .box__item p {
  margin: 0;
  padding: 0; }

#content p.box__title {
  color: #e20074;
  font-size: 24px;
  line-height: 26px;
  font-weight: bold; }

#content .col-c:after {
  content: "";
  display: table;
  clear: both; }

#content .col-2 {
  float: left;
  width: 49%; }

#content .col-2_right {
  float: right; }

.margin_top20px {
  margin-top: 20px; }

.box__item_fixed {
  min-height: 186px; }

#content p.box__desc {
  margin: 10px 0; }

#content .box__custom-sizes img {
  margin: 62px 0; }

#content .box__custom-sizes p.box__desc {
  margin: 0 0 54px 0; }

#content .box__item_power-bank {
  max-width: 447px;
  display: block;
  background: url(/documents/10179/642134/banner-powerbank.jpg) no-repeat center right; }

#content .content-holder {
  max-width: 250px; }

@media screen and (max-width: 856px) {
  #content .box__item_power-bank {
    background-image: none; } }

@media screen and (max-width: 788px) {
  #content .col-2 {
    width: 100%; }
  #content .col-2_custom {
    width: 49%; }
  .margin_top20px {
    margin-top: 0; }
  .col-c {
    margin-top: 20px; }
  #content .box__item_power-bank {
    max-width: 100%; }
  #content .box__item_power-bank {
    background: url(/documents/10179/642134/banner-powerbank.jpg) no-repeat center right; }
  #content .box__custom-sizes img {
    margin: 20px 0; }
  #content .box__custom-sizes p.box__desc {
    margin: 0 0 20px 0; } }

@media screen and (max-width: 500px) {
  #content .col-2_custom {
    width: 100%; }
  .box__item_fixed {
    min-height: auto; } }

@media screen and (max-width: 448px) {
  #content .box__item_power-bank {
    background-image: none; } }

/* =============== AKTUALNE AKCIE A HERO =============== */
#content .portlet-column-content {
  padding: 0; }

#content .hero {
  background: url(/documents/10179/642134/KV.jpg) no-repeat 50% 86%;
  margin-top: 0;
  padding: 40px 0; }

#content .hero h1 {
  border-bottom: 1px solid #6c6c6c;
  margin-bottom: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 34px; }

#content .hero__desc {
  color: #fff;
  margin-top: 0;
  padding-top: 0;
  font-size: 16px; }

.hero__content {
  max-width: 450px;
  width: 100%; }

.box__item {
  box-sizing: border-box; }

#content .box__item.box__custom-full {
  background: url(/documents/10179/642134/action-1.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 940px;
  padding-top: 30px;
  padding-bottom: 30px; }

.box__custom-full .box__content {
  max-width: 340px;
  text-align: center; }

#content .box__custom-full .box__title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal; }

#content .box__custom-full .box__desc {
  color: #fff; }

.img-share {
  max-width: 330px;
  width: 100%; }

.col-gr {
  margin-top: 20px; }

.col-gr:after {
  content: "";
  display: table;
  clear: both; }

.col-left, .col-right {
  min-height: 206px; }

.col-left {
  float: left;
  width: 31%;
  background: url(/documents/10179/642134/ico-phone.png) no-repeat 150% 50%; }

#content .col-left .content-holder {
  max-width: 150px; }

.col-right {
  float: right;
  width: 67%;
  background: url(/documents/10179/642134/action-2.jpg) no-repeat center right; }

#content .link_dark, #content .col-left .box__title, #content .col-right .box__title {
  color: #4b4b4b; }

@media screen and (max-width: 870px) {
  .col-right {
    background-position: 150% 50%; } }

@media screen and (max-width: 750px) {
  .col-right {
    background-position: center right; }
  .col-left {
    background-position: 110% 50%; }
  .col-left, .col-right {
    width: 100%;
    min-height: auto; }
  .col-right {
    margin-top: 20px; } }

@media screen and (max-width: 600px) {
  .col-right {
    background-position: 150% 50%; } }

@media screen and (max-width: 500px) {
  #content .col-right {
    background-image: none; } }

/*@import url(https://m.telekom.sk/wb/happy6/css/happy6_table.css);*/
.roaming-info {
  text-decoration: underline;
  cursor: pointer; }

.happy_xs-info {
  text-decoration: underline;
  cursor: pointer; }

.pausal .left {
  display: inline-block;
  vertical-align: top;
  margin-top: 300px; }

.pausal .right {
  display: inline-block;
  vertical-align: top;
  margin-top: 300px; }

.pausal .boxes {
  text-align: center;
  display: inline-block;
  vertical-align: top; }

.pausal .box {
  background-color: #fff;
  color: #6c6c6c;
  max-width: 385px;
  text-align: center;
  padding: 20px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px; }

.pausal .box:last-child {
  margin-right: 0; }

#happy-xsmini {
  background-color: #ededed; }

#happy-xs {
  background-color: #ededed; }

.pausal .nadpis {
  height: 40px;
  background-color: #262626;
  color: #fff;
  padding-top: 5px;
  font-size: 1.55em;
  text-transform: uppercase; }

.pausal .volania, .pausal .sms, .pausal .internet {
  margin-top: 5px;
  background-color: #ededed;
  padding: 20px; }

.c-row-oblubene .volania {
  min-height: 260px; }

.c-row-oblubene .sms {
  min-height: 90px; }

.c-row-oblubene .internet {
  min-height: 50px; }

.c-row-zakladne .volania {
  min-height: 240px;
  background-color: #fff; }

.c-row-zakladne .sms {
  min-height: 70px;
  background-color: #fff; }

.c-row-zakladne .internet {
  min-height: 55px;
  background-color: #fff; }

.c-row-narocnych .volania {
  min-height: 240px; }

.c-row-narocnych .sms {
  min-height: 70px; }

.c-row-narocnych .internet {
  min-height: 55px; }

.pausal .desc1 {
  margin-top: 10px;
  font-size: 0.8em; }

.pausal .desc2, .pausal .desc3, .pausal .desc4, .pausal .desc5 {
  margin-top: 10px;
  font-size: 0.8em; }

.pausal .cena {
  margin-top: 30px;
  font-size: 0.9em; }

.pausal .magenta {
  color: #E20074; }

.pausal .cena-left, .pausal .cena-right {
  display: inline-block;
  vertical-align: top; }

.pausal .objednat {
  margin-top: 30px; }

.portlet-body .journal-content-article .pausal .cena h2 {
  margin-bottom: 0;
  font-size: 2.1em; }

.portlet-body .journal-content-article .pausal h3 {
  color: #262626;
  font-size: 1.35em;
  font-weight: bold; }

.portlet-body .journal-content-article .pausal h4 {
  color: #262626;
  /*font-size: 1em;*/
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0; }

.table-container {
  width: 780px;
  /* Total width of visible columns + border widths */
  overflow: hidden;
  display: inline-block;
  vertical-align: top; }

.sliding-window {
  /*width:1320px; */
  /* Total width of all columns in sliding-window + border widths */
  width: 1965px;
  overflow: hidden; }

/*-------------------------------------------------------*/
@media screen and (max-width: 940px) {
  .table-container {
    width: 100%;
    display: block; }
  .sliding-window {
    width: 100%;
    overflow: hidden; }
  .pausal .boxes {
    display: block; }
  .pausal .box {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px; }
  .pausal .box:last-child {
    margin-right: 10px; }
  .pausal .right {
    display: none; }
  .pausal .left {
    display: none; }
  .c-row-oblubene {
    background: none;
    background-color: #e6e6e6;
    min-height: 930px;
    padding-bottom: 50px; } }

/* content */
.footer-top.sticky {
  position: relative !important; }

.modrePole {
  background: #cfe0ef;
  padding: 25px;
  width: 100%;
  max-width: 776px;
  box-sizing: border-box;
  margin: 25px 0;
  text-align: center; }

.modrePole .button {
  font-size: 16px !important;
  background: #e10073;
  border: 1px solid #e10073; }

.modrePole .button span {
  display: block;
  line-height: 1.4em; }

.c-row-3 {
  padding-bottom: 70px;
  overflow: hidden; }

#content .box__item_power {
  display: none; }

.disp-flex {
  display: flex; }

.col-act .box__item:nth-of-type(1) {
  width: 43%;
  background: url(/documents/10179/642134/bg-sagan.jpg) no-repeat;
  background-size: cover; }

.col-act .box__item:nth-of-type(2) {
  width: 30%;
  margin: 0 2%; }

.col-act .box__item:nth-of-type(3) {
  width: 23%;
  background: url(/documents/10179/642134/ico-phone2.png) no-repeat 50% 50%; }

@media screen and (max-width: 780px) {
  .disp-flex {
    display: block; }
  .col-act .box__item:nth-of-type(1), .col-act .box__item:nth-of-type(2), .col-act .box__item:nth-of-type(3) {
    width: 100%; }
  #content .col-act .box__item .content-holder {
    width: 100%;
    max-width: inherit; }
  .col-act .box__item:nth-of-type(2) {
    margin: 20px 0; } }

/* section Bez zavazkov */
#sec-7 .bez-zavazkov .nadpis {
  font-size: 24px; }

#sec-7 .bez-zavazkov .volania {
  min-height: inherit; }

#sec-7 .mgb-10 {
  margin-bottom: 10px; }

#sec-7 .cbox__item {
  border: 1px solid #ececec;
  margin-bottom: 20px;
  padding: 10px; }

#sec-7 .cbox__item:hover {
  border: 1px solid #e20074; }

#sec-7 .cbox__item .cbox__title {
  font-size: 20px;
  color: #e20074; }

#sec-7 .info-text {
  color: #a4a4a4; }

.ec-holder {
  position: absolute; }

.ec-clip {
  right: -230px;
  position: relative;
  top: 28px; }

/*# sourceMappingURL=maps/style.css.map */
