/* ===============
   CSS FOR MICROSITE
   =============== */
/* HERO SECTION */
#hero {
  background: url("../img/kv.jpg") no-repeat 50% 50%;
  padding: 60px 2%;
  overflow: hidden;
  background-size: cover;
}

.hero__content {
  text-align: center;
  max-width: 460px;
}
@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0;
  }

  .hero__mobile {
    background: url("../img/kv.jpg") no-repeat 50% 50%;
    height: 195px;
  }

  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero__content {
    padding: 40px 4%;
  }

  #content .hero__desc,
  #content .hero__title {
    color: $mine-shaft-dark;
  }

  #hero .btn {
    margin-top: 60px;
  }
}
/* TABS */

#content .tabs-container ul {
  list-style: none;
}

#content .tabs-container .tab-link {
  cursor: pointer;
}

.tab__holder {
  text-align: center;
  line-height: 0;
}

.segment .tab__holder {
  text-align: left;
}

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block;
}

#content .segment .tabs-menu {
  height: 39px;

  & li.variant:hover {
    height: 39px;
  }

  & li a {
    padding: 0 20px;
  }

  & li:hover {
    border-bottom: 0;
    background-color: #ededed;
  }

  & .variant.current {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0;

    & a {
      color: #757575;
    }

    &:hover {
      background-color: #fff;
      height: 40px;
    }
  }
}

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left;
}

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324;
}

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed;
}

.tabs-menu li a {
  font-size: 1em;
  padding: 0 40px;
  color: #757575;
  text-decoration: none;
  display: inline-block;
}

.tabs-menu li a:hover {
  color: #383838;
}

.tabs-menu .current a {
  color: #6bb324;
}

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%;
}

.segment .tab {
  border: none;
}

.tab__variant {
  display: none;
}

.tab__variant.selected {
  display: block;
}

.tab-content {
  margin-top: 45px;
  display: none;
}

.segment .tab-content {
  padding-top: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2;
}

#tab-1 {
  display: block;
}
@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%;
  }

  .tabs-menu li:hover {
    border-bottom: 0;
  }

  .tabs-menu li,
  .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0;
  }

  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb;
  }

  #content .tabs-menu {
    height: auto;
  }

  .tab {
    border: 0;
  }

  .tabs-menu li a {
    padding: 0;
    display: block;
  }
}
/* TABS END */
/****************************************/
/* ACCORDION */
/****************************************/
// hide ACCORDION by default

.accordion {
  display: none;
}
@media screen and (max-width: 768px) {
  // hide TABS if window size <768px
  .tabs-container .tab,
  .tabs-container .tab__holder {
    display: none;
  }
  // show ACCORDION
  .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px;
    padding: 0 2%;

    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url("../img/ico-plus.png") no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;

      & .ac-price {
        color: #a4a4a4;
        font-weight: normal;
      }
    }

    & .item.open .heading {
      background: url("../img/ico-minus.png") no-repeat;
      background-position: right center;
    }

    & .item.open .content {
      display: block;
    }

    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }

    .content:after {
      content: "";
      display: table;
      clear: both;
    }

    .p-detail {
      & p {
        margin-top: 0;
      }

      & p.mb-10 {
        margin-bottom: 10px;
        text-align: left;
      }
    }

    .p-actions {
      width: 100%;

      & .btn {
        margin: 5px 0;
        width: 100%;
      }
    }

    .p-price-label {
      text-align: left;

      & .p-price {
        font-size: 20px;
        color: #e20074;
      }
    }
  }
}
/* ACCORDION END */
/* SECONDARY RADIO BTNS */
.secondaryRadio {
  margin: 0 auto;

  & input[type="radio"] {
    display: none;
  }

  & label {
    border: 1px solid #ccc;
    padding: 7px 20px;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 10px;
    @media screen and (max-width: 550px) {
      width: 48%;
      padding: 2% 0;
      text-align: center;
    }
  }
}
/* SECONDARY RADIO BTNS END */
/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;

  & .arrow-right {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }

  &:hover,
  &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}

#content .arrow-content {
  display: none;
}

#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */
/* Tip */
#content {
  & .tip {
    background-color: #fff2cc;
    padding: 1% 3%;
    margin: 4% 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #c0aa69;
    width: 100%;
    display: inline-block;
    @media screen and (max-width: 777px) {
      min-height: 84px;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      margin: 1% 0;
      min-height: auto;
    }

    & p {
      color: #000;
      @media screen and (max-width: 777px) {
        line-height: 16px;
      }
    }
  }
}

.tip2 {
  margin: 0 0 2% 0 !important;
  width: 100%;
  text-align: left;
  @media screen and (max-width: 768px) {
    //margin: 0 0 0 6% !important;
  }
  @media screen and (max-width: 550px) {
    width: 100% !important;
    margin: 0 !important;
  }
}
/* Tip END */
/* POPUP */
.fancybox-title {
  display: none !important;
}

.fancybox-wrap {
  border: 0;
  margin: 3% 0;

  & .fancybox-skin {
    background-color: #fff;
    border-radius: 11px;
    padding: 15px;
    width: auto;
    height: auto;

    & .fancybox-outer {
      & .fancybox-inner {
        & .p-head {
          display: block;
          height: 40px;
          border-bottom: 1px solid #d0d0d0;
          margin-bottom: 10px;

          & .p-close {
            background: none;
            position: absolute;
            right: 10px;
            top: 11px;

            a.close-btn {
              position: relative;
              display: inline-block;
              width: 17px;
              height: 17px;
              overflow: hidden;
              float: right;
              transition: all 100ms linear;

              &::before {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                top: 48%;
                left: 0;
                background: #000;
                transform: rotate(45deg);
                height: 1px;
              }

              &::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                top: 48%;
                left: 0;
                background: #000;
                transform: rotate(-45deg);
                height: 1px;
              }
            }
          }
        }

        & .p-content {
          & .popup-lightbox {
            font-size: 1.3em;
            text-align: left;
            padding: 10px;
            color: #e20074;

            & p {
              font-size: 18px;
              margin: 0;
              color: black;
            }

            & a.btn {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }

  & .fancybox-opened .fancybox-skin {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  }
}
/* POPUP END */
/* V-ALIGN */
.table-container {
  display: table;
  width: 100%;
  @media screen and (max-width: 550px) {
    display: block;
  }
}

.table-container .table-row {
  height: 100%;
  display: table-row;
  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: middle;
  @media screen and (max-width: 550px) {
    //display: block;
    width: 100%;
    text-align: center;
    display: block;
    flex-direction: column;
    flex: none;
  }

  & img {
    max-width: 100%;
    @media screen and (max-width: 768px) {
      width: 80%;
    }
    @media screen and (max-width: 550px) {
      max-width: 100%;
      margin: 0 auto;
      height: auto;
      width: 50%;
    }
  }
}
/* V-ALIGN END */
.text-left {
  text-align: left;
}

.col-xs-12 {
  padding: 0;
}

.horizontalDivider {
  border-bottom: 1px solid #ccc;
  width: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  @media screen and (max-width: 550px) {
    display: none;
  }
}

#content .heapBox .handler,
#content .heapBox .holder {
  background-color: #fff;
}

.vBottom {
  vertical-align: bottom !important;
}

.block {
  display: block !important;
  //padding: 0;
  float: left !important;
  @media screen and (max-width: 768px) {
    display: table-cell !important;
    float: none !important;
  }
  @media screen and (max-width: 550px) {
    display: flex !important;
    float: left !important;
  }
}

#content {
  #sec-1 {
    & a.link {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin: 10px 0;
      color: #007faf;

      & img {
        margin-right: 7px;
        height: 16px;
        width: 10px;
      }
    }

    & .tvhero {
      margin: 5% 0;

      & .tvimg {
        max-width: 100%;
      }

      & .margin {
        width: 325px;
        margin: 0 auto;
        @media screen and (max-width: 550px) {
          width: 100%;
          margin: 0;
        }

        & .tvheadline {
          font-weight: 500;
          text-align: left;
          margin-top: 0;
          @media screen and (max-width: 550px) {
            text-align: center;
            margin: 10px 0;
          }
        }

        & .ceny {
          color: #6c6c6c;
          margin-bottom: 0;
          text-align: left;
        }

        & .pricewrap {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          width: 280px;
          display: inline-block;
          max-width: 290px;
          @media screen and (max-width: 550px) {
            max-width: 100%;
            width: 100%;
          }

          & p {
            margin: 0;
          }

          & .priceLeft {
            display: inline-block;
            flex-direction: column;
            width: 95px;
            vertical-align: top;
            text-align: left;
            @media screen and (max-width: 550px) {
              width: 35%;
            }
          }

          & .priceRight {
            display: inline-block;
            width: 180px;
            text-align: right;
            @media screen and (max-width: 550px) {
              width: 63%;
            }

            & .activation {
              color: $magenta;
              font-weight: 500;
            }

            & .strikeThrough {
              text-decoration: line-through;
              font-weight: 500;
            }
          }
        }

        & .Wording {
          //margin-left: 0.8vw;
          width: 40px;
          display: inline-block;
          vertical-align: top;
          @media screen and (max-width: 550px) {
            display: none;
          }
        }

        & .btn {
          text-align: center;
          width: 280px;
          @media screen and (max-width: 550px) {
            width: 100%;
          }
        }
      }
    }
  }
}
/* sec-2 tabs */

#sec-2 {
  padding-bottom: 30px;
}

.detailHolder {
  @media screen and (max-width: 550px) {
    display: block;
  }
}

.programovyBalikHolder {
  & img {
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    margin-bottom: 6px;
    &:hover {
      cursor: pointer;
    }
  }
}

#tri,
#triZadarmo {
  & img {
    border: none !important;
  }
}

.tab-content {
  padding: 20px;
}

p.halbFett {
  font-weight: 500;
}

.zobrazStanice {
  @media screen and (max-width: 550px) {
    display: none;
  }
}

p.magenta {
  font-weight: 500;
  color: $magenta;
  margin: 0;
}

p.magentaMmargin {
  margin: 20px 0 10px;
}

p.normal {
  margin: 0;
  color: #4b4b4b;
}

a.normal {
  margin: 0;
  color: #4b4b4b;
}

#qtipInfo {
  color: #4b4b4b;
}

.program {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin: 15px;
}

.toggleProgram {
  background: url("../img/ico-minus.png") no-repeat;
  background-position: right top 25px;
  cursor: pointer;
  @media screen and (min-width: 550px) {
    background: transparent;
    background-position: none;
    cursor: default;
  }
}

.programOpen {
  background: url("../img/ico-plus.png") no-repeat;
  background-position: right top 25px;
  cursor: pointer;
  @media screen and (min-width: 550px) {
    background: transparent;
    background-position: none;
    cursor: default;
  }
}

.programPoplatok {
  border-top: 1px solid #ccc;
  padding-top: 20px;
  margin-top: 15px;
}

.programovyBalikStyle {
  & img {
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    margin-bottom: 6px;
    &:hover {
      cursor: pointer;
    }
  }
}

.stanice {
  & p {
    margin: 0;
  }

  & .left {
    width: 170px;
    display: inline-block;
  }

  & .right {
    //width: 70px;
    display: inline-block;
  }
}
//magio archiv
.archiv-wrap {
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid #ccc;
  @media screen and (max-width: 550px) {
    border-top: 0 solid #ccc;
  }

  & .archiv {
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    @media screen and (max-width: 550px) {
      width: 49%;
      display: inline-block;
      border-bottom: 0 solid #ccc;
    }

    & .left {
      width: 53%;
      display: inline-block;
      @media screen and (max-width: 923px) {
        //width: 23.5vw;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        text-align: center;
      }

      & p {
        margin: 0;
        @media screen and (max-width: 923px) {
          //font-size: 2vw;
        }
        @media screen and (max-width: 550px) {
          font-size: 3vw;
        }
      }

      & p > .link-nordr {
        display: inline-block;
        @media screen and (max-width: 923px) {
          //font-size: 2vw;
        }
        @media screen and (max-width: 550px) {
          font-size: 3vw;
        }
      }
    }

    & .right {
      text-align: right;
      width: 45%;
      display: inline-block;
      @media screen and (max-width: 923px) {
        //width: 15vw;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        text-align: center;
      }

      & .green {
        color: #58951c;
      }

      & p {
        margin: 0;
        @media screen and (max-width: 923px) {
          //font-size: 2vw;
        }
        @media screen and (max-width: 550px) {
          font-size: 3vw;
        }
      }

      & p:nth-of-type(2) {
        @media screen and (max-width: 768px) {
          margin-right: 15px;
        }
      }

      & .archivQtip {
        display: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          display: inline-block;
          width: 5%;
          vertical-align: top;
        }
      }
    }
  }

  & .archiv:nth-of-type(1) {
    @media screen and (max-width: 550px) {
      border-right: 1px solid #ccc;
    }
  }
}
//magio archiv end
//tabOrders for mobile devices
@media screen and (max-width: 550px) {
  .orderTabLeft {
    order: 2;
  }

  .orderTabRight {
    order: 1;
  }
}

p.accordionHeadline {
  display: none;
  margin: 0 10px;
  @media screen and (max-width: 550px) {
    display: block;
  }
}

#tab-3,
.tab-box {
  & .mobileFix {
    padding: 0;
  }

  & .magio-go-left {
    margin: 0;
    border-radius: 3px;
    padding-top: 15px;
    text-align: center;
    width: 50%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      margin: 0 auto;
      border: none;
      padding-top: 15px;
      width: 100%;
    }
    @media screen and (max-width: 550px) {
      max-width: 100%;
      margin: 0 auto;
      padding: 0;
      border: none;
    }

    & .heapTV-infoText {
      margin: 7px 0;
    }

    & p {
      margin: 0;
      text-align: left;
    }

    & #heapbox_heapTv {
      width: 100%;
      text-align: left;
    }

    & .heapBox .handler,
    .heapBox .holder {
      background-color: #fff;
    }

    & .heapTVtext {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;

      & .heapTvtext-wrap {
        padding: 7px 0;
        border-bottom: 1px solid #ccc;

        & .left {
          width: 60%;
          display: inline-block;
        }

        & .right {
          width: 38%;
          display: inline-block;
          text-align: right;

          & a {
            color: #4b4b4b;
          }

          & p {
            text-align: right;
          }
        }
      }

      & .heapTvtext-wrap:last-of-type {
        border: none;
      }
    }
  }

  & .magio-go-right {
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 0;
    display: block;
    @media screen and (max-width: 768px) {
      align-items: flex-start;
      margin: 0;
      padding: 0;
      display: flex;
      min-height: auto;
      display: block;
    }
    @media screen and (max-width: 550px) {
      padding: 20px 0 0;
    }
  }

  & .moreInfo {
    text-align: left;
    @media screen and (max-width: 768px) {
      text-align: left;
      margin: 7px 0;
      padding: 0;
    }
    @media screen and (max-width: 550px) {
      text-align: left;
      margin: 7px 0;
    }
  }
}
