<section class="section sec-1 main-bg" id="sec-1">
    <div class="container-fixed">
        <div class="row text_centered">
            <h2 class="main_title">
                tablety k Mobilnému internetu</h2>
        </div>
        <div class="row">
            <div class="col-md-12 fullWidthBox">
                <div class="col-md-4 ">
                    <div class="slider main-gallery pull-center large-image text_centered">
                        <!-- large 1 -->
                        <div>
                            <img alt="gallery image" class="responsive-image" src="../assets/img/gallery_01_front.png" /></div>
                        <!-- large 2 -->
                        <div>
                            <img alt="gallery image" class="responsive-image" src="../assets/img/gallery_02_back.png" /></div>
                        <!-- large 3 -->
                        <div>
                            <img alt="gallery image" class="responsive-image" src="../assets/img/gallery_06_front-back.png" /></div>
                        <!-- large 5 -->
                        <div>
                            <img alt="gallery image" class="responsive-image" src="../assets/img/gallery_05_side.png" /></div>
                    </div>
                    <div class="slider slider-nav text_centered wow fadeInLeft" data-wow-delay="0.2s" id="thumbs">
                        <!-- thumb 1 -->
                        <div>
                            <img alt="gallery image" class="thumb-img" src="../assets/img/gallery_01_front_thumb.jpg" /></div>
                        <!-- thumb2 -->
                        <div>
                            <img alt="gallery image" class="thumb-img" src="../assets/img/gallery_02_back_thumb.jpg" /></div>
                        <!-- thumb3 -->
                        <div>
                            <img alt="gallery image" class="thumb-img" src="../assets/img/gallery_06_front-back_thumb.jpg" /></div>
                        <!-- thumb5 -->
                        <div>
                            <img alt="gallery image" class="thumb-img" src="../assets/img/gallery_05_side_thumb.jpg" /></div>
                    </div>
                </div>
                <div class="col2 col-md-6 b-r b-b-m">
                    <p class="sub_title">Akcia k paušálom Happy M a vyšším</p>
                    <h3 class="section_title b-b">Mobilný internet S + 4G tablet Lenovo TAB4 8</h3>
                    <p class="no-space">Mobilný internet vo variante S zahŕňa:</p>
                    <ul class="spec-list">
                        <li>
                            ■ Objem dát plnou rýchlosťou 1 GB a potom <span class="info-link info-1">neobmedzene</span></li>
                        <li>
                            ■ Max. rýchlosť: 300 Mb/s</li>
                        <li>
                            ■ Jednoduché pripojenie prostredníctvom SIM karty, ktorú vložíte do tabletu
                        </li>
                    </ul>
                    <p class="no-space">
                        4G tablet Lenovo TAB4 8:</p>
                    <ul class="spec-list">
                        <li>
                            ■ Displej: 8" HD IPS</li>
                        <li>
                            ■ Procesor: 4-jadrový</li>
                        <li>
                            ■ Pamäť: 2 GB</li>
                    </ul>
                    <a class="popup" href="#tab48">Viac info o tablete</a></div>
                <div class="col3 col-md-2 text_centered col-holder">
                    <div class="col-top">
                        <span class="col_title"> 4,00 €</span>
                        <p class="col-desc no-space">
                            mesačne
                            <br /> + jednorazovo za tablet 19,00 €</p>
                    </div>
                    <div class="col-cta">
                        <a class="btn cta" href="/mam-zaujem/hw/mobilny-internet/special/lenovo-tab4-8">KÚPIŤ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2" id="sec-2">
    <div class="container-fixed">
        <div class="row text_centered">
            <h2 class="section_title font_black">
                Extra výhody za nákup na webe</h2>
            <div class="col-md-4">
                <img alt="Extra zľava 10 €" src="../assets/img/ico-01.png" />
                <p class="desc">
                    <b>Extra zľava 10 €</b>
                    <br /> pri kúpe Mobilného internetu cez web</p>
            </div>
            <div class="col-md-4">
                <img alt="Prvých 14 dní bez záväzkov" src="../assets/img/ico-02.png" />
                <p class="desc">
                    <b>Prvých 14 dní bez záväzkov</b>
                    <br /> pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
            </div>
            <div class="col-md-4">
                <img alt="Doručenie kuriérom zadarmo" src="../assets/img/ico-03.png" />
                <p class="desc">
                    <b>Doručenie kuriérom zadarmo</b>
                    <br /> kdekoľvek v rámci SR</p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <div class="checker-main" style="display:none">
                    <div class="checkbox-main">
                        <span class="checker"><input id="checkboxHappy" name="checkboxHappy" type="checkbox" /> </span></div>
                    <div class="checkbox-header">
                        <div class="checkbox-magenta">
                            <span class="checker">Mám paušál Happy M/L/XL volania/XL/XXL alebo Profi</span></div>
                        <span class="checker">a nárok na zvýhodnené ceny Neobmedzeného mobilného internetu s tabletom </span></div>
                </div>
            </div>
        </div>
        <div class="row" ng-app="tabletsListApp">
			<tablet-grid></tablet-grid>
        </div>
    </div>
</section>
<!-- Podmineky -->
<section class="section sec-4" id="sec-4">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <div class="legal">
                    <p>
                        <a href="#" onclick="$('#podmienky').slideToggle(); return false;">Podmienky k Mobilnému internetu</a></p>
                    <div id="podmienky" style="display:none">
                        <p>
                            Ponuka platí do 30. 4. 2017. Ponuka nie je kombinovateľná so žiadnymi inými zľavami ani akciovými ponukami. Jeden účastník (jedno unikátne RČ, resp. IČO) môže túto ponuku využiť len 1-krát. Zmena zariadení v ponuke alebo ich parametrov je vyhradená. Mesačný poplatok za programy služieb Mobilný internet sa skladá z dvoch zložiek (základnej a doplnkovej, uvedenej v ponuke ako „Mesačný doplatok“ ). Podmienkou poskytovania programov služieb Mobilný internet s kúpou nižšie uvedených tabletov za nižšie uvedené akciové kúpne ceny, ktoré sú splatné jednorazovo pri uzavretí kúpnej zmluvy, je aktivácia programu Mobilný internet, uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov a kúpa akciového tabletu podľa uvedenej ponuky. Kompletné podmienky poskytovania služby, podmienky týkajúce sa kúpy tabletu, splátok za tablet a ďalšie informácie o ponuke nájdete v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a>, na Zákazníckej linke 0800 123 456 a v každom Telekom Centre.</p>
                        <p>
                            Ponuka zvýhodneného tabletu k programu Mobilný internet S
                            <br /> Ponuka zvýhodného tabletu k programu Mobilný internet S platí pre účastníka využívajúceho mesačný program služieb Happy M alebo vyšší, ktorý si aktivuje alebo pokračuje vo využívaní programu Služieb Mobilný internet S s prevzatím záväzku viazanosti aspoň na 24 mesiacov. Možnosť kúpy zariadenia podľa predchádzajúcej vety môže ten istý Účastník využiť iba 1 x, bez ohľadu na počet uzatvorených zmlúv s Podnikom. Benefit nie je možné počas jeho poskytovania kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku vo vzťahu k programom Služieb, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do 30. 4. 2017</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<div class="detail-lightbox" id="tab3" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
        <h2 style="color:#e20074">Lenovo TAB3 8</h2>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-device-content">
        <div class="p-device-content__img-wrap">
            <div class="p-device-content__img">
                <img src="../assets/img/gallery_01_front.png" />
            </div>
        </div>
        <div class="p-tablety-content__desc">
            <table class="detail-table">
                <tbody>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Pamäť RAM:</td>
                        <td class="row-2">
                            2 GB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Pevný disk:</td>
                        <td class="row-2">
                            eMMC 16 GB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Displej:</td>
                        <td class="row-2">
                            8" displej s technológiou IPS (In-Plane Switching), rozlíšenie HD 1280 x 800, LED-backlit TFT LCD s integrovanou funkciou multitouch</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Webkamera:</td>
                        <td class="row-2">
                            2 Mpx (predná s pevným zaostrením) + 5 Mpx (zadná s automatickým zaostrovaním)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Čítačka kariet:</td>
                        <td class="row-2">
                            microSD, 64 GB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Mechanika:</td>
                        <td class="row-2">
                            Nie</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Procesor:</td>
                        <td class="row-2">
                            štvorjadrový 64-bitový MediaTek™ s frekvenciou 1,0 GHz</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Wi-Fi:</td>
                        <td class="row-2">
                            802.11 b/g/n</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            GPS:</td>
                        <td class="row-2">
                            GPS</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Bluetooth:</td>
                        <td class="row-2">
                            áno, verzia BT 4.0</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            HDMI:</td>
                        <td class="row-2">
                            nie</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            USB:</td>
                        <td class="row-2">
                            microUSB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Operačný systém:</td>
                        <td class="row-2">
                            Android 6.0</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Extra numerická klávesnica:</td>
                        <td class="row-2">
                            Nie</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Rozmery v x š x h (mm):</td>
                        <td class="row-2">
                            210 x 125 x 8,9 mm</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Hmotnosť:</td>
                        <td class="row-2">
                            329 g</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Obsah balenia:</td>
                        <td class="row-2">
                            tablet , nabíjačka, dátový USB kábel, používateľská príručka</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="detail-lightbox" id="tab48" style="display: none;">
    <div class="p-head">
        <a href="#" class="p-close"></a>
        <h2 style="color:#e20074">Lenovo TAB4 8</h2>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-device-content">
        <div class="p-device-content__img-wrap">
            <div class="p-device-content__img">
                <img src="../assets/img/gallery_01_front.png" />
            </div>
        </div>
        <div class="p-tablety-content__desc">
            <table class="detail-table">
                <tbody>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Pamäť RAM:</td>
                        <td class="row-2">
                            2 GB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Pevný disk:</td>
                        <td class="row-2">
                            eMMC 16 GB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Displej:</td>
                        <td class="row-2">8" displej s technológiou IPS (In-Plane Switching), rozlíšenie HD 1280 x 800, LED-backlit TFT LCD s integrovanou funkciou multitouch</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Webkamera:</td>
                        <td class="row-2">2 Mpx (predná s pevným zaostrením) + 5 Mpx (zadná s automatickým zaostrovaním)</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Čítačka kariet:</td>
                        <td class="row-2">
                            microSD, 64 GB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Mechanika:</td>
                        <td class="row-2">
                            -</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Procesor:</td>
                        <td class="row-2">štvorjadrový Qualcomm® MSM8917, Snapdragon™ 64-bit, 1.4 GHz</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Wi-Fi:</td>
                        <td class="row-2">802.11 a/b/g/n/</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            GPS:</td>
                        <td class="row-2">
                            GPS</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Bluetooth:</td>
                        <td class="row-2">
                            áno, verzia BT 4.0</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            HDMI:</td>
                        <td class="row-2">
                            nie</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            USB:</td>
                        <td class="row-2">
                            microUSB</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Operačný systém:</td>
                        <td class="row-2">Android™ Nougat 7.0</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Extra numerická klávesnica:</td>
                        <td class="row-2">
                            -</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Rozmery v x š x h (mm):</td>
                        <td class="row-2">211 x 124 x 8,2 mm</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Hmotnosť:</td>
                        <td class="row-2">
                            310 g</td>
                    </tr>
                    <tr>
                        <td>
                            <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                        </td>
                        <td>
                            Obsah balenia:</td>
                        <td class="row-2">tablet , nabíjačka, dátový USB kábel, používateľská príručka</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Scripts -->
<script src="../assets/js/carousel.min.js"></script>
<script src="../assets/js/main-tablety.js"></script>
<!-- App Vendor -->
<script type="text/javascript" src="../assets/app/angular.min.js"></script>
<script type="text/javascript" src="../assets/app/angular-resource.min.js"></script>
<script type="text/javascript" src="../assets/app/angular-slick.js"></script>
<!-- App -->
<script type="text/javascript" src="../assets/app/app.module.js"></script>
<script type="text/javascript" src="../assets/app/app.config.js"></script>
<!-- App core -->
<script src="../assets/app/core.module.js"></script>
<script src="../assets/app/device.module.js"></script>
<!-- App core-filter -->
<script src="../assets/app/app.filters.js"></script>
<!-- App core-tablet -->
<script src="../assets/app/tablet-slider.module.js"></script>
<script src="../assets/app/tablet-slider.component.js?v=2"></script>
<!-- App core-grid -->
<script src="../assets/app/tablet-grid.module.js"></script>
<script src="../assets/app/tablet-grid.component.js?v=2"></script>
<!-- App core-notebook -->
<script src="../assets/app/notebook.module.js"></script>
<script src="../assets/app/notebook.component.js?v=2"></script>
<!-- App Data -->
<script src="../assets/app/device.service.js?v=2"></script>
