<section id="hero">
  <div class="container-fixed">
    <div class="hero__mobile">
      &nbsp;
    </div>
    <div class="hero__content">
      <h1 class="hero__title font_mine-shaft">
        <b class="font_black"
          >INTERNET<br />
          V TABLETE A NOTEBOOKU</b
        >
      </h1>
      <a class="scroll-to btn magenta cta_mag" href="#sec-2"
        >VYBRAŤ SI Z PONUKY</a
      ><br />
      <a class="scroll-to" href="#sec-1"
        ><span>Viac informácií </span>
        <!--<img alt="" src="../assets/img/arrow-down.png" />--></a
      >
    </div>
  </div>
</section>
<div id="nav-sticky">
  <ul>
    <li>
      <a class="scroll-to" href="#sec-1">VÝHODY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-3">DÁTOVÉ ZARIADENIA</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-6">TABLETY A NOTEBOOKY</a>
    </li>
    <li>
      <a class="scroll-to" href="#wrapper"
        >NAHOR <img alt="" src="../assets/img/arrow-top.png"
      /></a>
    </li>
  </ul>
</div>
<!--  predlzenie -->
<section class="section sec-8" id="sec-8">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 zlava-10 text_centered">
        <p class="banner__desc font_white">
          Predĺžte si Mobilný internet cez web<br />
          <span class="banner__title"> A ZÍSKATE ZĽAVU 10 €</span><br />
          Navyše vás čaká neobmedzený objem dát, superrýchlosť 4G siete a
          doručenie kuriérom zadarmo.
        </p>
        <a class="btn cta" href="/internet/mobilny-internet/prolong/mam-zaujem"
          >PREDĹŽIŤ MOBILNÝ INTERNET</a
        >
      </div>
    </div>
  </div>
</section>
<!-- vyhody -->
<section class="section sec-1 text_centered" id="sec-1">
  <div class="container-fixed">
    <p class="section__title margin_top20">
      Výhody MOBILNÉHO INTERNETU
    </p>
    <div class="col-md-4">
      <img alt="Internet kdekoľvek" src="../assets/img/ico-1.png" />
      <p>
        <b>Internet kdekoľvek</b>
      </p>
      <p>
        S Mobilným 4G internetom ste online doma aj na cestách, skrátka
        kdekoľvek v rámci pokrytia.
      </p>
    </div>
    <div class="col-md-4">
      <img alt="Neobmedzený objem dát" src="../assets/img/ico-2.png" />
      <p>
        <b>Neobmedzený objem dát</b>
      </p>
      <p>
        Ak vyčerpáte predplatené dáta, za ďalšie neplatíte nič navyše. Obmedzí
        sa však
        <a class="info-1"
          >rýchlosť internetu. <img alt="" src="../assets/img/qm.png"
        /></a>
      </p>
    </div>
    <div class="col-md-4">
      <img alt="Jednoduché pripojenie" src="../assets/img/ico-3.png" />
      <p>
        <b>Jednoduché pripojenie</b>
      </p>
      <p>
        Pripojenie je bez zložitej inštalácie pomocou USB modemu alebo
        bezdrôtového Wi-Fi routera, ktoré máme už od 1 €
      </p>
      <a class="scroll-to" href="#sec-3">Pozrieť dátové zariadenia</a>
    </div>
  </div>
</section>
<!-- sluzby a ceny -->
<section class="section sec-2 text_centered" id="sec-2">
  <div class="container-fixed">
    <p class="section__title margin_top20">
      SLUŽBY A CENY MOBILNÉHO INTERNETU
    </p>
    <div class="col-group pricing-tables">
      <div class="col-md-12">
        <div class="row-table">
          <div class="grid-g__col_6 pricing-box">
            <h3 class="pricing-box__title">
              MOBILNÝ INTERNET S
            </h3>
            <div class="ec-holder-l">
              <img
                alt="Darcek externa batéria"
                src="../assets/img/ec-gift-b.png"
              />
            </div>
            <div class="pricing-box__desc">
              <p class="desc__title">
                1 GB DÁT
              </p>
              <p>
                <span class="speed"
                  >300 Mb/s<br />
                  maximálna rýchlosť</span
                ><br />
                Vhodný na
                <b
                  >príležitostné využívanie mimo domova alebo ako spoľahlivá
                  záloha</b
                >
                k domácemu pevnému internetu
              </p>
            </div>
            <p class="pricing-box__price">
              <span class="price">5,99 €</span> / mesačne<br />
              s novým dátovým zariadením
            </p>
            <a
              class="btn cta"
              href="/internet/mobilny-internet/mam-zaujem/datove-zariadenia?mi=s"
              >KÚPIŤ</a
            >
            <p class="more-info">
              alebo bez<br />
              nového dátového zariadenia<br />
              <a
                class="link-ul"
                href="/internet/mobilny-internet/mam-zaujem?mi=s"
                >kúpiť za 4,99 € / mesačne</a
              >
            </p>
          </div>
          <div class="grid-g__col_6 pricing-box">
            <h3 class="pricing-box__title">
              MOBILNÝ INTERNET M
            </h3>
            <div class="ec-holder-r">
              <img
                alt="Darcek externa batéria"
                src="../assets/img/ec-gift-b.png"
              />
            </div>
            <div class="pricing-box__desc">
              <p class="desc__title">
                5 GB DÁT
              </p>
              <p>
                <span class="speed"
                  >300 Mb/s<br />
                  maximálna rýchlosť</span
                ><br />
                <b>Pre rodiny a menšie kolektívy</b> na prácu aj videá či hudbu.
                Ideálny
                <b>s mobilným WiFi routrom s vlastnou batériou za 1 €.</b>
              </p>
            </div>
            <p class="pricing-box__price">
              <span class="price">17,99 €</span> / mesačne<br />
              s novým dátovým zariadením
            </p>
            <a
              class="btn cta"
              href="/internet/mobilny-internet/mam-zaujem/datove-zariadenia?mi=m"
              >KÚPIŤ</a
            >
            <p class="more-info">
              alebo bez<br />
              nového dátového zariadenia<br />
              <a
                class="link-ul"
                href="/internet/mobilny-internet/mam-zaujem?mi=m"
                >kúpiť za 14,99 € / mesačne</a
              >
            </p>
          </div>
        </div>
        <div class="row-table">
          <div class="grid-g__col_6 pricing-box">
            <h3 class="pricing-box__title">
              MOBILNÝ INTERNET L
            </h3>
            <div class="ec-holder-l">
              <img
                alt="Darcek externa batéria"
                src="../assets/img/ec-gift-b.png"
              />
            </div>
            <div class="pricing-box__desc">
              <p class="desc__title">
                15 GB DÁT
              </p>
              <p>
                <span class="speed"
                  >300 Mb/s<br />
                  maximálna rýchlosť</span
                ><br />
                Extra objem dát
                <b>pre najnáročnejších užívateľov a profesionálov</b> aj
                zdieľanie pripojenia viacerými zariadeniami.
              </p>
            </div>
            <p class="pricing-box__price">
              <span class="price">29,99 €</span> / mesačne<br />
              s novým dátovým zariadením
            </p>
            <a
              class="btn cta"
              href="/internet/mobilny-internet/mam-zaujem/datove-zariadenia?mi=l"
              >KÚPIŤ</a
            >
            <p class="more-info">
              alebo bez<br />
              nového dátového zariadenia<br />
              <a
                class="link-ul"
                href="/internet/mobilny-internet/mam-zaujem?mi=l"
                >kúpiť za 24,99 € / mesačne</a
              >
            </p>
          </div>
          <div class="grid-g__col_6 pricing-box pricing-box_inverse">
            <h3 class="pricing-box__title">
              EXTRA DÁTA NAVYŠE
            </h3>
            <div class="pricing-box__desc">
              <p>
                Minuli ste dáta z&nbsp;balíka? S&nbsp;extra dátami navyše si
                obnovíte maximálnu rýchlosť internetu jednoducho a&nbsp;podľa
                potreby.<br />
                <span class="speed_top"
                  >300 Mb/s<br />
                  maximálna rýchlosť</span
                >
              </p>
            </div>
            <p class="pricing-box__price price-custom">
              <span class="price">už od 5,99 €</span>
            </p>
            <a class="link" href="http://m.telekom.sk/data/"
              >Kúpiť dáta navyše cez web</a
            >
            <p class="buy__phone">
              &nbsp;
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="modrePole tac" id="cmb__block">
      <h2 class="velkyNadpis">
        POTREBUJETE PORADIŤ S PONUKOU?
      </h2>
      <a class="btn cta_mag" href="/volania/happy?sluzby-a-ceny#" id="cmb__btn"
        ><span
          >ÁNO, ZAVOLAJTE<br />
          MI SPÄŤ</span
        ></a
      >
    </div>
    <div class="col-group">
      <div class="grid-g__col_12 benefits">
        <p class="section__title margin_top20 section__title_dark">
          EXTRA VÝHODY ZA NÁKUP NA WEBE:
        </p>
        <div class="benefit__item">
          <img alt="Extra zľava 10 €" src="../assets/img/ico-4.png" />
          <p>
            <b>Extra zľava 10 €</b><br />
            pri kúpe Mobilného internetu cez web
          </p>
        </div>
        <div class="benefit__item">
          <img alt="Prvých 14 dní bez záväzkov" src="../assets/img/ico-5.png" />
          <p>
            <b>Prvých 14 dní bez záväzkov</b><br />
            pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu
          </p>
        </div>
        <div class="benefit__item">
          <img alt="Doručenie kuriérom zadarmo" src="../assets/img/ico-6.png" />
          <p>
            <b>Doručenie kuriérom zadarmo</b><br />
            kdekoľvek v rámci SR
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- TABLETY LIST -->
<section class="section sec-6" data-segment="1">
  <div id="tablety">
    <!-- tablety -->
  </div>
  <div id="notebooky">
    <!-- notebooky -->
  </div>
  <!-- tabletListApp -->
  <div id="tabletsListApp" ng-app="tabletsListApp">
    <!-- Datove zariadenia -->
    <div id="sec-3">
      <div class="container-fixed clearfix text_centered">
        <div class="row">
          <p class="section__title margin_top20">
            DÁTOVÉ ZARIADENIA
          </p>
          <p class="section__description">
            Pre zapojenie mobilného internetu je potrebné dátové zariadenie. Ak
            žiadne nemáte, môžete si ho vybrať z našej ponuky. Vďaka dátovému
            zariadeniu sa bez akýchkoľvek problémov rýchlo pripojíte k
            internetu.
          </p>
          <datove-zariadenia></datove-zariadenia>
        </div>
      </div>
    </div>
    <!-- Telefony, tablety a notebooky k mobilnemu internetu -->
    <div class="container-fixed clearfix text_centered" id="sec-6">
      <div class="row">
        <p class="section__title" style="margin-top: 35px;">
          TABLETY A NOTEBOOKY K MOBILNÉMU INTERNETU
        </p>
        <!--  <p class="section__description">
            Dátujte doma aj na cestách 4G rýchlosťou s Mobilným internetom a 4G tabletom!</p> -->
        <!--  TAB -->
        <div class="tabs-container">
          <div class="tab__holder">
            <ul class="tabs-menu tabs">
              <!-- <li class="tab-link variant" data-tab="tab-1">
							<a href="#tab-1" id="link-tab1">Telefóny</a>
						</li> -->
              <li class="tab-link variant current" data-tab="tab-2">
                <a href="#tab-2" id="link-tab2">Tablety</a>
              </li>
              <li class="tab-link variant" data-tab="tab-3">
                <a href="#tab-3" id="link-tab3">Notebooky</a>
              </li>
            </ul>
          </div>

          <div class="tab">
            <!-- tab 1 Telefony -->
            <!-- <div class="tab-content clearfix" id="tab-1" style="display: block;">
						<phone-slider></phone-slider>
					</div> -->
            <!-- tab 2 Tablety -->
            <div
              class="tab-content clearfix"
              id="tab-2"
              style="display: block;"
            >
              <tablet-slider></tablet-slider>
            </div>
            <!-- tab 3 Notebooky -->
            <div class="tab-content clearfix" id="tab-3" style="display: none;">
              <notebooks-list></notebooks-list>
            </div>
          </div>
          <div class="accordion" data-accordion="1">
            &nbsp;
          </div>
        </div>
        <!-- //tabletListApp -->
      </div>
    </div>
  </div>
</section>
<!-- AKCIE A NOVINKY -->
<!--<section class="section sec-4" id="sec-4">
	<div class="container-fixed">
		<div class="row">
			<p class="section__title margin_top20">
				AKCIE A NOVINKY</p>
			<div class="sale_row-0"> -->
<!-- <div class="col-md-12 sale__item fullWidthBox">
                    <div class="col-md-7">
                        <h3 class="sale__title_huge font_black">
                            MS Office 365 Personal za super cenu!</h3>
                        <p>
                            <span class="halfbett">Kúpte si cez web Mobilný internet s tabletom alebo notebookom</span>
                            <br /> a získate ročnú licenciu MS Office 365 Personal s Word-om, Excel-om, Powerpoint-om a ďalšími aplikáciami za super cenu!</p>
                        <p class="price-current">
                            Vaša cena: 21,99 €</p>
                        <p class="price-old">
                            Štandardná cena: <span class="strikethrough">69,00 €</span></p>
                        <a class="btn cta" href="/internet/mobilny-internet/notebooky">PREJSŤ NA PONUKU</a> <a class="link popup" href="#popup-office">Viac info o MS Office</a></div>
                    <div class="col-md-5">
                        <div class="prod-img-holder">
                            <img alt="" class="ec-sale-0" src="../assets/img/ec-web-only.png" /> <img alt="" src="../assets/img/office-package.jpg" /></div>
                    </div>
                </div> -->
<!--	<div class="sale_row-1" style="display: none;">
				<div class="col-md-10 offset-md-1 fullWidthBox sale__item sale__item-1">
					<div class="row">
						<div class="col-md-4 text_centered">
							<img alt="Externá batéria" class="responsive-img" src="../assets/img/battery-pack.png" /></div>
						<div class="col-md-8">
							<h3 class="sale__title font_black">
								Externá batéria ako darček ku každému nákupu!</h3>
							<p>
								Vyberte si Mobilný internet S, M, L a my vám darujeme externú batériu, ktorá slúži ako nabíjačka pre váš mobil či tablet aj tam, kde nie je elektrická zásuvka.</p>
							<span class="iblock"><a class="btn cta scroll-to" href="#sec-2">VYBRAŤ si MOBILNÝ INTERNET</a></span> <span class="iblock"><a class="link-ul fancy" href="#activate-external-battery">Viac o externej batérii</a></span></div>
					</div>
				</div>
			</div>
			<div class="sale_row-2">
				<div class="col-md-7 offset-md-1 fullWidthBox sale__item sale__item-2">
					<div class="row">
						<div class="col-md-9">
							<p>
								<b>4G tablet s Mobilným internetom S len za 4 € mesačne!</b><br />
								Vezmite si k Mobilnému internetu s 1 GB dát aj tablet Lenovo TAB4 8 za zvýhodnenú cenu.</p>
							<a class="btn mgt-10" href="/mam-zaujem/hw/mobilny-internet/lenovo-tab4-8">PREJSŤ NA PONUKU</a>
							<hr />
							<p class="disclaimer">
								Ponuka platí iba pre zákazníkov s <a class="info-tablet"> vybranými paušálmi <img src="../assets/img/qm.png" alt=""></a></p>
						</div>
						<div class="col-md-3 text_centered">
							<img alt="Lenovo TAB4 8" class="responsive-img" src="../assets/img/lenovo_tab4_web.png" /></div>
					</div>
				</div>
				<div class="col-md-3 saleBox sale__item-3 text_centered">
					<p>
						<b>Magio GO zadarmo</b><br />
						Mobilnú televíziu Magio GO získate na 3 mesiace zadarmo ku každému novému Mobilnému internetu. Stačí navoliť Magio GO počas kúpy cez web.</p>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- MOHLO BY VAS ZAUJIMAT -->
<section class="section">
  <div class="container-fixed">
    <div class="separator">
      &nbsp;
    </div>
  </div>
</section>
<section class="section sec-5" id="sec-5">
  <div class="container-fixed text_left">
    <p class="section__title text_centered">
      Mohlo by vás zaujímať
    </p>
    <div class="row">
      <!-- 1 -->
      <div class="col-md-4 text_centered">
        <img alt="" src="../assets/img/ico-7.png" />
        <p>
          <b>Najrýchlejšia 4G sieť</b>
        </p>
        <p class="desc">
          Spoznajte najrýchlejšiu a stále sa rozširujúcu 4G sieť od Telekomu.
        </p>
        <a class="link" href="/internet/4g-internet"
          >Viac o 4G internete <img alt="" src="../assets/img/arrow-right.png"
        /></a>
      </div>
      <!-- 2 -->
      <div class="col-md-4 text_centered">
        <img alt="" src="../assets/img/ico-8.png" />
        <p>
          <b>Bezpečnosť na internete</b>
        </p>
        <p class="desc">
          Nezabúdajte na ochranu svojho počítača, ktorá je dnes mimoriadne
          dôležitá. Ubráňte sa pred nástrahami internetu a získajte kvalitné
          riešenie.
        </p>
        <a class="link" href="/internet/magio-internet-security"
          >Viac o bezpečnosti na internete
          <img alt="" src="../assets/img/arrow-right.png"
        /></a>
      </div>
      <!-- 3 -->
      <div class="col-md-4 text_centered">
        <img alt="" src="../assets/img/ico-9.png" />
        <p>
          <b>Notebooky za skvelé ceny</b>
        </p>
        <p class="desc">
          Vyberte si z ponuky Neobmedzeného mobilného internetu a získajte nový
          notebook za výhodnú cenu.
        </p>
        <a class="link" href="/internet/mobilny-internet/notebooky"
          >Prejsť na notebooky <img alt="" src="../assets/img/arrow-right.png"
        /></a>
      </div>
    </div>
  </div>
</section>
<!-- PODMIENKY -->
<section class="section sec-7" id="sec-7">
  <div class="container-fixed">
    <div class="podmienky-holder">
      <!-- <p>
				<a href="#" onclick="$('#podmienky').slideToggle(); return false;">Podmienky k Mobilnému internetu</a>
			</p> -->
      <div class="togleArrow">
        <a class="toggle-arrow" href="#"
          >Podmienky k mobilnému internetu<span class="arrow-right"></span
        ></a>
        <div class="arrow-content">
          <div id="podmienky">
            <p>
              Ponuka platí do 31.7.2018. Ceny sú uvedené v € s DPH. Uvedené
              mesačné poplatky platia pri aktivácii príslušného programu služby
              Mobilný internet a podpise Dodatku k Zmluve o poskytovaní
              verejných služieb s viazanosťou na 24 mesiacov. Pri aktivácii
              nového alebo predĺžení existujúceho mesačného programu služieb
              Mobilný internet s prevzatím viazanosti aspoň na 12 mesiacov je
              zároveň každému zákazníkovi aktivovaná doplnková služba
              počítačovej bezpečnosti Magio internet Security. Magio internet
              Security je poskytovaná bez viazanosti a je počas prvých troch
              mesiacov zadarmo. Po uplynutí tejto doby je spoplatnená mesačným
              poplatkom 2,51 € s DPH, pričom je možné ju kedykoľvek bezplatne
              deaktivovať. Pri programoch Mobilný internet S/M/L sa uplatňuje
              obmedzenie rýchlosti dátových prenosov na max. 64 kb/s po
              vyčerpaní objemu dát 1 GB/5 GB/15 GB. Kompletné podmienky
              poskytovania a ďalšie informácie o ponuke nájdete v aktuálnom
              <a
                href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
                >Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a.
                s.</a
              >, na Zákazníckej linke 0800 123 456 a v každom Telekom Centre.
            </p>
            <br />
            <p>
              Ponuka s viazanosťou k akciovému zariadeniu nie je kombinovateľná
              so žiadnymi inými zľavami ani akciovými ponukami, ak nie je
              vyslovene určené inak. Jeden účastník (jedno unikátne RČ, resp.
              IČO) môže túto ponuku využiť len 1-krát. Zmena zariadení v ponuke
              alebo ich parametrov je vyhradená. Mesačný poplatok za programy
              služieb Mobilný internet sa skladá z dvoch zložiek (základnej a
              doplnkovej, uvedenej v ponuke ako „Mesačný doplatok“ ). Podmienkou
              poskytovania programov služieb Mobilný internet s kúpou zariadenia
              za akciové kúpne ceny, je aktivácia programu Mobilný internet,
              uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s
              viazanosťou na 24 mesiacov.
            </p>
            <br />
            <p>
              Ponuka zvýhodneného tabletu k programu Mobilný internet S<br />
              Ponuka zvýhodného tabletu k programu Mobilný internet S platí pre
              účastníka využívajúceho mesačný program služieb Happy M alebo
              vyšší, ktorý si aktivuje alebo pokračuje vo využívaní programu
              Služieb Mobilný internet S s prevzatím záväzku viazanosti aspoň na
              24 mesiacov. Možnosť kúpy zariadenia podľa predchádzajúcej vety
              môže ten istý Účastník využiť iba 1 x, bez ohľadu na počet
              uzatvorených zmlúv s Podnikom. Benefit nie je možné počas jeho
              poskytovania kombinovať a súčasne využívať s akoukoľvek inou
              zľavou alebo akciovou ponukou Podniku vo vzťahu k programom
              Služieb, ak z výslovných pokynov Podniku nevyplýva niečo iné.
              Ponuka platí do 31.7.2018
            </p>
          </div>
        </div>
      </div>
      <p>
        Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta.
        Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre
        poskytovanie služieb spoločnosti Slovak Telekom, a. s. –
        <a
          class="link"
          href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
          >Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a
        >
      </p>
    </div>
  </div>
</section>
<div id="popup-office" style="display: none;">
  <div class="p-head">
    &nbsp;
  </div>
  <div class="p-content">
    <img alt="" src="../assets/img/lightbox-office.jpg" />
    <p class="popup-title">
      MS OFFICE 365 PERSONAL
    </p>
    <p class="popup-default-p">
      Balík MS Office 365 Personal možno mať na 3 zariadeniach naraz: na
      počítači (PC alebo Mac), tablete (iPad, Android či Windows) a mobile.
    </p>
    <p class="popup-default-p">
      Navyše získate 1 TB ukladacieho priestoru v online službe OneDrive.
    </p>
    <p class="popup-default-p">
      V balíku je aj 60 minút hovorov mesačne v službe Skype vo vyše 60
      krajinách.
    </p>
    <a class="btn cta" href="/internet/mobilny-internet/notebooky"
      >PREJSŤ NA PONUKU</a
    ><br />
    <a class="link link-close" href="#">Zavrieť okno</a>
  </div>
</div>
<!-- Scripts -->
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=2"></script>
<!-- App Vendor -->
<!-- <script type="text/javascript" src="../assets/app/angular.min.js"></script> -->
<script type="text/javascript" src="../assets/app/angular.min.js"></script>
<script
  type="text/javascript"
  src="../assets/app/angular-resource.min.js"
></script>
<script
  type="text/javascript"
  src="../assets/app/angular-slick.min.js"
></script>
<!-- App -->
<script type="text/javascript" src="../assets/app/app.module.js"></script>
<script type="text/javascript" src="../assets/app/app.config.js"></script>
<!-- App core -->
<script src="../assets/app/core.module.js"></script>
<script src="../assets/app/device.module.js"></script>
<!-- App core-filter -->
<script src="../assets/app/app.filters.js"></script>
<!-- App core-tablet -->
<script src="../assets/app/tablet-slider.module.js"></script>
<script src="../assets/app/tablet-slider.component.js?v=2"></script>
<!-- App core-grid -->
<script src="../assets/app/tablet-grid.module.js"></script>
<script src="../assets/app/tablet-grid.component.js?v=2"></script>
<!-- App core-notebook -->
<script src="../assets/app/notebook.module.js"></script>
<script src="../assets/app/notebook.component.js?v=2"></script>
<!-- App core-phones -->
<script src="../assets/app/phone-slider.module.js"></script>
<script src="../assets/app/phone-slider.component.js?v=2"></script>
<!-- App core-phones -->
<script src="../assets/app/datove-zariadenia.module.js"></script>
<script src="../assets/app/datove-zariadenia.component.js?v=2"></script>
<!-- App Data -->
<script src="../assets/app/device.service.js?v=2"></script>
