/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';

/* ===============
   CSS FOR MICROSITE
   =============== */

#content .button_invert {
    background: #fff;
    border: 1px solid #fff;
    color: $magenta;
    font-weight: bold;
    margin-bottom: 10px;
}


/* ===============
    GLOBALS FOR ALL 
   =============== */

.text_centered {
    margin: 0 auto;
}

.text_bold {
    font-weight: bold;
}

#content .section {
    padding: 20px 0 50px 0;
    font-size: 16px;
}

#content .section__nav {
    padding: 0;
}

#content .section__title {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
}

#content .section__title-large {
    font-size: 100px;
    text-transform: uppercase;
    text-align: center;
}

#content .main_sec {
    display: inline-block;
}

#content .section__title__double {
    margin-bottom: 0;
}

#content .section__subtitle {
    font-size: 2.5em;
    text-transform: uppercase;
    border: 0;
    margin-top: 0;
}

#content .grid__right {
    float: right;
}

.at-a-glance {
    text-align: left;
    font-size: 16px;
}

#content .disclaimer {
    color: #666666;
    font-size: 14px;
}

@media screen and (max-width: 630px) {
    #content .section {
        font-size: 80%;
        padding: 30px 0;
    }
    #content .margin_bottom20_mob {
        margin-bottom: 20px;
    }
}

#content .btn_double {
    background-color: #6bb324;
    border: 1px solid #4d8319;
    height: 60px;
    line-height: 20px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    #content .row {
        margin-left: inherit;
        margin-right: inherit;
    }
}


/* HERO SECTION */

#hero {
    background: url(../img/kv_pc.jpg) no-repeat 50% 50%;
    min-height: 259px;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
}

#hero span.text_thin {
    display: block;
    font-size: 24px;
    /*max-width: 360px;*/
}

#hero span.text_bold {
    display: block;
    /*max-width: 360px;*/
}

#content .hero__content {
    position: relative;
}

@media screen and (min-width: 800px) {
    .hero__content {
        max-width: 50%;
    }
}

#content .hero__title {
    /*color: $white;*/
    font-size: 36px;
}

#content .hero__desc {
    color: #000;
    /*max-width: 80%;*/
    font-size: 20px;
}

#content .ec-holder {
    position: absolute;
    right: -13%;
    top: -15%;
}

@media screen and (max-width: 800px) and (min-width: 450px) {
    #content .desc-holder {
        width: 70%;
    }
    #content .ec-holder {
        position: absolute;
        right: 23%;
        top: 21%;
    }
}

@media screen and (max-width: 630px) {
    #hero {
        padding: 30px 2%;
    }
    #content .hero__title {
        font-size: 1.5em;
    }
    #content .section__title-large {
        font-size: 60px;
    }
    #hero img {
        /*width: 100%;*/
    }
    #content .ec-holder {
        position: relative;
        float: right;
        right: 0;
        top: 0;
        margin-bottom: 10px;
    }
}


/* BACKGROUNDS FOR FEATURES */

.section-bg {
    background: url(../img/section_bg.jpg) no-repeat 50% 50%;
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
}


/* Sections */
#content .program-row {
    margin-bottom: 20px;
}
#content .program_title {
    border-bottom: 1px solid $magenta;
}

#content .section_title {
    margin: 0px;
    font-size: 24px;
}

#content .film-info {
    color: #6c6c6c;
}
@media screen and (min-width: 768px) {
#content .program-row img {
    width: 100%;
}
}
#content .cover-img {
    max-width: 236px;
    height: auto;

}
#content .fix-mob-img img {
    width: 100%;
}
/* sec-1 */

#content #sec-1 {
    padding: 10px 0 50px 0;
    background-color: #ffd300;
}

#content .section-line {
    border-top: 1px solid #fff;
    padding-top: 30px;
}