/* ===============
   Slider
   =============== */

#content .waterbear-theme .slick-arrow {
    border: none!important;
}

/* slider custom */

#content .slick-disabled {
    opacity: 0.2;
    pointer-events: none;
}

#content .slick-slide img {
    display: inline-block;
}



.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Slider theme */

@charset 'UTF-8';

/* Slider */

.slick-loading .slick-list {
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}


/* Icons */

@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}


/* Arrows */

#content .slick-prev,
#content .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

#content .slick-prev:hover,
#content .slick-prev:focus,
#content .slick-next:hover,
#content .slick-next:focus {
    color: transparent;
    outline: none;
    /*background: transparent;*/
}

#content .slick-prev:hover:before,
#content .slick-prev:focus:before,
#content .slick-next:hover:before,
#content .slick-next:focus:before {
    opacity: 1;
}

#content .slick-prev.slick-disabled:before,
#content .slick-next.slick-disabled:before {
    opacity: .25;
}

#content .slick-prev:before,
#content .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


#content .slick-prev {
    left: -60px;
    display: inline-block;
    height: 60px;
    width: 60px;
    background: url('../img/arrow.png') no-repeat;
    background-position: -0px -0px;
}
#content .slick-prev:hover {
    height: 60px;
    width: 60px;
    background: url('../img/arrow-hover.png') no-repeat;
    background-position: -0px -0px;
    }

#content .slick-next {
    right: -60px;
    display: inline-block;
    height: 60px;
    width: 60px;
    background: url('../img/arrow.png') no-repeat;
    background-position: -0px -64px;
}
#content .slick-next:hover {
    height: 60px;
    width: 60px;
    background: url('../img/arrow-hover.png') no-repeat;
    background-position: -0px -64px;
    }

/*@media (max-width: 1100px) {
    #content .slick-prev {
        left: -20px;
        height: 20px;
        width: 20px;
        background-position: -0px -1px;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
    }
    #content .slick-next {
        right: -20px;
        height: 20px;
        width: 20px;
        -webkit-background-size: 20px 20px;
        background-size: 20px 20px;
    }
}*/


/* Dots */

#content .slick-dotted.slick-slider {
    margin-bottom: 30px;
}

#content .slick-dots {
    /*position: absolute;*/
    position: relative;
    bottom: 0px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

#content .slick-dots li {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 20px 10px;
    padding: 0;
    cursor: pointer;
}



#content .slick-dots li button {
    font-size: 0;
    line-height: 0;
    border: 0px!important;
    display: block;
    width: 30px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

#content .slick-dots li button:hover,
#content .slick-dots li button:focus {
    outline: none;
}

#content .slick-dots li button:hover:before,
#content .slick-dots li button:focus:before {
    opacity: 1;
}

#content .slick-dots li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#content .slide-dot {
  width: 30px;
  height: 4px;
  display: inline-block;
  background-color: #dcdcdc;
   transition: all 0.5s ease 0s;
}
#content .slick-active {
    outline: none;
}
#content .slick-active .slide-dot {
    opacity: .75;
    background-color: #e20074;
}

#content .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}
