/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

.section {
    padding: 25px 0 70px 0;
}
#content .section__title {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
}

#content .two-lined-btn {
    font-size: 18px;
    line-height: 20px;
    padding: 5px 45px;
    margin-top: 20px;
    height: initial;
}

#content .small-type {
    text-transform: lowercase;
}

/* HERO */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    height: 300px;
    padding: 60px 2%;
}
#hero .fixed-column {
    position: relative;
}
#hero .logos {
    position: absolute;
    right: 0;
    bottom: 0;
}
.hero__content {
    position: relative;
}
#hero .ec-1 {
    position: absolute;
    bottom: -80px;
    left: 250px;
}
#content .hero__title {
    color: $magenta;
    font-size: 2.8em;
}
#content .hero__sub-title {
    color: $black;
    font-size: 1.7em;
    font-weight: bold;
    border: 0;
    margin: 0;
    padding: 0;
}
#content .hero__desc {
    color: #000;
    line-height: 1.2em;
    font-size: 1.2em;
    width: 60%;
}
@media screen and (max-width: 800px) {
    #hero {
        font-size: 80%;
    }
    #content .hero__sub-title {
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    #hero {
        font-size: 74%;
        padding-top: 20px;
        height: auto;
    }
    #content .hero__sub-title {
        width: 100%;
    }
    #content .hero__desc {
        width: 100%;
    }
    #hero .ec-1 {
        display: none;
    }
    #hero .logos {
        display: none;
    }
}

/* TABS */

.tab__holder {
    text-align: center;
    line-height: 0;
    margin-bottom: -1px;
}
#content .tabs-menu,
#content .tabs-menu-2 {
    height: 40px;
    clear: both;
    margin: 0;
    display: inline-block;
}
.tabs-menu li,
.tabs-menu-2 li {
    height: 40px;
    line-height: 40px;
    float: left;
    background-color: #ededed;
    border: 1px solid $black;
    border-top: 0;
    border-right: 0;
}
.tabs-menu li:last-of-type,
.tabs-menu-2 li:last-of-type {
    border-right: 1px solid $black;
}
.tabs-menu li.current,
.tabs-menu-2 li.current {
    position: relative;
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}
.tabs-menu-2 li.current {
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.tabs-menu li a,
.tabs-menu-2 li a {
    font-size: 1.2em;
    padding: 0 70px;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
    display: inline-block;
}
.tabs-menu li a:hover,
.tabs-menu-2 li a:hover {
    color: $magenta;
}
.tabs-menu .current a,
.tabs-menu-2 .current a {
    color: $magenta;
}
.tab {
    border-top: 1px solid $black;
    width: 100%;
}
.tab__variant {
    display: none;
}
.tab__variant.selected {
    display: block;
}
.tab-content,
.tab-content-2 {
    margin-top: 45px;
    display: none;
}
#tab-1 {
    display: block;
}
@media screen and (max-width: 946px) {
    #content .tabs-menu-2 {
        width: 100%;
    }
    .tabs-menu-2 li {
        width: 33.33333333333333%;
    }
    .tabs-menu-2 li a {
        padding: 0;
        display: block;
    }
}
@media screen and (max-width: 580px) {
    .tabs-menu-2 li a {
        font-size: 1em;
    }
}
@media screen and (max-width: 520px) {
    #content .tabs-menu {
        width: 100%;
    }
    .tabs-menu li,
    .tabs-menu li.current {
        width: 100%;
        border: 1px solid #000;
        border-bottom: 0;
    }
    .tabs-menu li:last-of-type {
        border-bottom: 1px solid #000;
    }
    #content .tabs-menu {
        height: auto;
    }
    .tab {
        border: 0;
    }
    .tabs-menu-2 li {
        width: 33.33333333333333%;
    }
    .tabs-menu li a {
        padding: 0;
        display: block;
    }
}
@media screen and (max-width: 470px) {
    .tabs-menu-2 li a {
        font-size: 0.6em;
    }
}

/* SEC - 1 */

.sec-1 {
    background: #f1f1f1;
}
#content .services:nth-of-type(2) {
    margin-top: 30px;
}
#content .service {
    text-align: center;
}
#content .service:nth-of-type(2) {
    margin: 0 2%;
}
#content .services:nth-of-type(2) .service {
    margin: 0 2% 0 0;
}
#content .services:nth-of-type(2) .service:last-of-type {
    margin: 0;
}
#content .sec-1 .section__title {
    color: #000;
}
#content .service__desc {
    color: #8c8c8c;
    font-size: 18px;
    margin: 0;
}
@media screen and (max-width: 600px) {
    #content .service {
        width: 100%;
        margin: 0 0 15px 0;
    }
    #content .services:nth-of-type(2) .service:last-of-type {
        margin: 0;
    }
}

/* SEC - 2 */

#content .sec-2 .section__title {
    color: #000;
}

#content .sec-2 img {
    max-width: 260px;
    width: 100%;
}

#content .sec-2 .right {
    float: right;
}

#content .prod__detail {
    font-size: 20px;
}
.prod__desc .button {
    margin: 20px 0 10px 0;
}
.relative {
    position: relative;
}
#content img.logo-mpos {
    width: auto;
    margin: 20px 0 0 20px;
}
#content .prod__list li {
    margin-bottom: 15px;
    color: $magenta;
    font-weight: bold;
    padding-left: 15px;
}
#content .prod__list li span {
    margin-bottom: 15px;
    color: #4b4b4b;
}
.prod__list li:last-of-type {
    margin-bottom: 0;
}

#content .second__title {
    font-size: 1.2em;
    margin-top: 0;
}
@media screen and (max-width: 580px) {
    #content .sec-2 .grid-g__col_4,
    #content .sec-2 .grid-g__col_8 {
        width: 100%;
        padding: 0;
    }
    #content .sec-2 .grid-g__col_4 {
        text-align: center;
    }
}

/* SEC - 3 */

#content .sec-3 {
    background: #f1f1f1;
}

#content .sec-3 .section__title {
    color: #000;
}

#content .sec-3 img {
    max-width: 411px;
    width: 100%;
}

#content img.logo-play {
    max-width: 141px;
    margin: 15px 10px 0 0;
}

#content .sec-3 .disclaimer {
    color: #4c4c4c;
    font-size: 16px;
    font-weight: normal;
    margin-left: 20px;
}

#content img.logo-store {
    max-width: 165px;
    margin: 15px 0 0 0;
}

@media screen and (max-width: 580px) {
    #content .sec-3 .grid-g__col_6 {
        width: 100%;
        padding: 0;
    }
    #content .sec-3 .prod__img {
        text-align: center;
    }
}

/* SEC - 4 */

.sec-4 {
    background: url(../img/form-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-align: center;
}
.sec-4.section {
    padding: 40px 0 0 0;
}
.sec__type b {
    color: $magenta;
}
#content .sec-4 .section__title {
    color: $white;
    margin: 0 auto;
    width: 60%;
}
#content .sec-4 .section__sub-title {
    color: $white;
    font-size: 1.2em;
    width: 77%;
    margin: 10px auto;
}
@media screen and (max-width: 580px) {
    #content .sec-4 {
        font-size: 80%;
    }
}

/* SEC - 5 */

.sec-5 {
    background: #fff;
    padding: 40px 0;
}

.sec-5 .services:nth-of-type(2) {
    margin-top: 15px;
}

#content .more {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    color: #000;
}

#content .link_blue {
    color: #007faf;
    text-decoration: underline;
}

.pricing-table {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
}

#content .square-ico {
    color: $magenta;
    vertical-align: text-bottom;
    margin-right: 5px;
}

#content .aditional-info-list,
#content .aditional-info {
    color: #6c6c6c;
    font-size: 18px;
}

.item-holder {
    padding: 20px;
}

.item-holder:nth-of-type(even) {
    background: #ededed;
}

#content .item {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

#content .faq__item {
    color: #000;
    margin-bottom: 10px;
}
#content .faq__title {
    font-weight: 500;
}
#content .faq__item .normal {
    color: #6c6c6c;
}
#content .faq__item p {
    font-size: 20px;
    margin: 0;
}


/* SEC - 6 */

.sec-6 {
    background: #ededed;
    padding: 20px 0;
    text-align: center;
}
#content .promo__head {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 500;
}
#content .promo__detail {
    font-size: 1.2em;
}
#content .promo__detail a {
    text-decoration: underline;
    color: #007faf;
}
@media screen and (max-width: 680px) {
    .sec-6 {
        font-size: 80%;
    }
}
/* SEC 7*/
#content .sec-7 {
    background: #fff;
}

@media screen and (min-width: 680px) {
    #content .section.sec-7 {
        padding: 70px 0 70px 0;
    }
}
@media screen and (max-width: 680px) {
    #content .section.sec-7 {
        padding-bottom: 25px;
    }
}

/* SEC 7 Video */

#content .sec-7 .video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

#content .sec-7 .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.video-container {
    background-image: url(../img/video_bg.png);
    content: "";
    background-size: cover;
    cursor: pointer;
    display: block;
/*    left: 5px;
    top: 5px;*/
    z-index: 5;
}

.video-thumbnail {
    height: 100%;
    position: relative;
    width: 100%;
}

.video-embed {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.video-thumbnail .play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/play_ico.png) no-repeat 0 0%;
    z-index: 2;
    width: 68px;
    height: 49px;
    margin: -24px 0 0 -34px;
    cursor: pointer;
    z-index: 10;
}
.video-thumbnail:hover .play_btn {
    background-position: 0 100%;
}


/* FORM */

#content .waterbear-theme input[type="submit"],
#content .waterbear-theme input[type="submit"]:hover,
#content .waterbear-theme input[type="submit"]:active,
#content .waterbear-theme input[type="submit"]:focus {
    color: #fff !important;
    background: #6bb324 !important;
    border: 1px solid #6bb324 !important;
}
li.dynamicFormItemBox {
    background-color: transparent;
}
.availableFields,
.availableRootFields,
.dynamicFormFields,
.dynamicFormSubFields {
    border: none;
}
.journal-content-article ul {
    list-style: none;
}
.formComposition label.labelField {
    display: block;
}
.page label {
    font-size: 16px;
    color: #fff;
}
.availableFields li,
.availableRootFields li,
.dynamicFormFields li {
    padding: 0;
}
.journal-content-article ul:not(.accordion):not(.content-menu):not(.content-sub-menu):not(.tabs-navi):not(.list-arrow):not(.list-square):not(.toolbox-list) {
    margin: 0;
}
.waterbear-theme input[type="submit"] {
    max-width: 150px!important;
}
.dynamicFormPages {
    display: none;
}
.formCompositionRender .dynamicFormPages .nextPageButtonSpan {
    display: inline;
    width: 100%;
    text-align: left;
}
.formCompositionRender .formFieldValidationResult .error {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
#content #form-holder {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 400px;
    float: none;
}
#content #form-holder h2,
#content #form-holder h4 {
    display: none;
}
.page label {
    font-size: 15px;
}
.formFieldRenderField.inputRenderField {
    text-align: left;
}
.defaultValueField.submitField {
    margin-right: 90px;
}
