

/* =============== IMPORTS =============== */
/* ===============
CSS FOR MICROSITE
=============== */
#availability-module {
    //background: #ededed;
    background-size: cover;
    padding: 20px 0;
    display: none;
}

.module-wrapper {
    max-width: 940px;
    margin: 0 auto;
}

.availability {
    width: 100%;
    padding: 13px 14px 13px 17px;
    //background: #ededed;
}

.availability form {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    position: relative;
    width: 100%;
    margin-top: 10px;
}

#content .search-title {
    color: #262626;
    font-size: 18px;
    display: inline-block;
}

#number-form {
    max-width: 130px;
    margin-right: 10px;
}

.availability input {
    height: 44px;
    line-height: 44px;
    padding-left: 4px;
    width: 100%;
    border: 1px solid #a4a4a4;
}

.availability input.loading {
    background: #fff url("../img/loading.gif") no-repeat 98% 50%;
}

.availability input.disabled {
    background-color: #f5f5f5;
    color: #a4a4a4;
    border: 1px solid #d3d3d3;
}

.availability button {
    vertical-align: top;
    min-width: 100px;
    margin-top: 10px;
}

.availability button.disabled {
    border-color: #e2a5c4 !important;
    background: #e2a5c4;
    color: #ededed;
    cursor: default;
    margin-top: 10px;
}

.results {
    height: 135px;
    overflow: overlay;
    width: 100%;
    position: absolute;
    z-index: 100;
    display: none;
}

#content .availability .results ul {
    margin: 0;
    background-color: #fff;
    width: 100%;
}

#content .availability .results li {
    padding: 10px;
    cursor: pointer;
}

#content .availability .results li:hover {
    background-color: #f5f5f5;
}

#content .error-msg {
    color: red;
}


#main-ins {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.map-holder {
    position: relative;
    display: none;
    margin-top: 20px;
}

.box {
    position: relative;
    z-index: 50;
    top: 0;
    left: 10px;
    width: 300px;
    display: none;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px #888;
    box-shadow: 0 0 5px #888;
    overflow: hidden;
    background-color: #fff;
}

.ulice, .ulicebox {
    display: none;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    overflow: auto;
    background-color: #fff;
    color: #e20074;
}

#ulicebox {
    display: block;
    width: 100%;
    min-height: 50px;
    max-height: 200px;
    overflow: auto;
    padding-left: 10px;
    background-color: #ededed;
    color: #e20074;
}

#ulicebox .row {
    background-color: #ededed;
    line-height: 52px;
    font-weight: bold;
}


.sluzby, .sluzby title {
    display: none;
    width: 100%;
    height: 50px;
    overflow: hidden;
    /*cursor: pointer;*/
}

.sluzby {
    display: none;
    width: 100%;
    height: 150px;
    background-color: white;
    overflow: hidden;
    font-weight: normal !important;
    font-weight: bold;
    color: #e20074;
    border-bottom: 1px solid #ededed;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

.sluzby .black {
    color: #333333;
}

.pos {
    display: none;
    color: black;
    width: 100%;
    height: 50px;
    background-color: white;
    overflow: hidden;
    cursor: pointer;
}

.internet, .tv {
    display: block;
    width: 100%;
    height: auto;
    background-color: white;
    overflow: hidden;
    /*cursor: pointer;*/
    padding-top: 15px;
}

.internet img, .tv img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.zaujem {
    display: none;
    text-align: center;
    margin-bottom: 10px;
}

#zaujem {
    display: none;
    width: 90%;
}

.ulice {
    display: none;
    position: absolute;
    top: 51px;
    z-index: 50;
}

#sluzby-header {
    margin-top: 10px;
    color: #a6a6a6;
    text-transform: uppercase;
}

.subheader {
    color: #fff;
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 20px;
}

@media screen and (max-width: 740px) {
    .availability form {
        width: 100%;
        margin-bottom: 10px;
    }
}

.c-row-4 .c-content {
    border: inherit;
}

.c-row-4 {
    margin-top: inherit;
    padding-top: inherit;
    margin-bottom: inherit;
}

#content .wysiwygValue p {
    display: none;
}

#portlet_dynamicForm_WAR_eccadmin {
    width: inherit;
}

.dynamicFormItemBox .dynamicFormItemRootBox .ieldTypePAGE {
    background-color: #e6e6e6;
}

.dynamicFormItemBox .fieldTypeINPUT {
    background-color: #e6e6e6;
}

#wrapper .finishFormButton {
    background-color: #6bb324;
    border: 1px solid #6bb324;
}

#content .contact-item {
    text-align: center;
}

#content .contact-item img {
    width: 100px;
    height: auto;
}

#wrapper .contact-item .sec8__description {
    font-size: 20px;
    text-transform: uppercase;
    color: #e20074;
    text-align: center;
    margin-top: 10px;
}

#content .sec8__lightColor {
    color: #f363ad;
}

.formCompositionRender .dynamicFormPages .nextPageButtonSpan {
    width: inherit;
    margin-right: 84%;
}

#content .contact_right_col {
    width: 20%;
    margin: 0 auto;
}

@media screen and (min-width: 960px) {
    #c-form {
        width: 74%;
        float: left;
    }
    #content .contact_right_col {
        width: 21%;
        float: left;
        margin-top: 95px;
    }
}

@media screen and (max-width: 600px) {
    .c-content {
        width: 99%;
    }
    #content .contact_right_col {
        width: 45%;
        margin: 0 auto;
    }
}

.formComposition .dynamicFormSubFields {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.formComposition .dynamicFormFields {
    border: 0 solid #ccc;
}


#not-found {

    // padding-top: 10px;
    // padding-right: 20px;
    // padding-left: 20px;
    // padding-bottom: 40px;

    h3 {
        font-size: 24px;
        color: $magenta;
        text-align: center;
    }

    .services {
        padding-bottom: 10px;

        .services-header {
            padding-bottom: 5px;
        }
    }

    .nf-button {
        padding-top: 15px;
    }

    .btn {
        text-transform: uppercase;
        font-size: 16px;
        color: #383838;
        background-color: #ededed;
        border: 1px solid #a4a4a4;
        border-radius: 4px;
        padding: 8px 19px;
        display: inline-block;
        text-decoration: none;
    }

    .cta {
        color: #ffffff;
        background-color: #6bb324;
        border: 1px solid #65ac20;
    }

    .cta:hover {
        background-color: #58951c;
        border: 1px solid #4d8319;
    }
}


.not-found-success {
    display: none;
}

.not-found-success {
    .p-head {
        height: auto;
    }

}
