#content #sec-6 {
  text-align: left;
  padding-top: 50px;
  padding-bottom: 70px;
  font-size: 16px;
  color: #fff;
  background-color: #ededed;

  .vyhody-row {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .vyhody {
      text-align: center;
      background-color: #585858;
      padding: 6px 16px 6px 16px;
      color: #fff;
      border-radius: 4px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
      font-size: 12px;
    }
  }

  .tab {
    width: 100%;
  }

  .header-holder {
    display: none;
  }

  & .section__title {
    text-align: center;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: $magenta;
  }

  & .tab-content {
    border-radius: 10px;
    height: 476px;
  }

  & .box-title {
    font-size: 24px;
    color: $magenta;
    font-weight: 600;
    line-height: 24px;
  }

  & .text-cont {
    padding: 40px;
    font-size: 16px;
    color: #343434;
    text-align: left;
  }

  & .img-cont {
    position: relative;
    height: 476px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $black;
    background-size: cover;
  }

  .vianoce {
    & .img-cont {
      background: url(../img/akcia-vianoce-bg.jpg) no-repeat 100% 100%;
    }
  }

  .powerline {
    & .img-cont {
      background: url(../img/akcia_powerline.png) no-repeat 100% 100%;
    }
  }

  .cena-box {
    margin-top: 10px;

    & .magenta {
      font-weight: bold;
    }

    .cena-item {
      width: 100%;

      .left {
        width: 60%;
        display: inline-block;
      }

      .right {
        width: 39%;
        display: inline-block;
        text-align: left;
      }
    }
  }

  .btn {
    background-color: $magenta;
    border-color: $magenta;
    color: #fff;
    text-transform: none;
    font-size: 23px;
    border-radius: 0;
    padding: 20px 37px 20px 37px;
  }

  .btn:hover {
    background-color: $magenta;
    border-color: $magenta;
  }

  .btn-holder {
    margin-top: 30px;
  }

  .link-holder {
    margin-top: 10px;
  }

  & .flex-row {
    display: flex;
  }

  & .flex-col {
    flex: 1;
  }

  & .flex-left {
    flex: 50%;
  }

  & .flex-right {
    flex: 50%;
  }

  .ec-vianoce {
    position: absolute;
    right: 20px;
    top: 30px;

    width: 120px;
    height: auto;
  }

  .ec-powerline,
  .ec-powerline-small {
    position: absolute;
    left: 5px;
    top: 20px;

    width: 140px;
    height: auto;
  }

  .ec-powerline-small {
    display: none;
  }

  .viac-info {
    margin-top: 20px;
  }

  .tab {
    border-top: none;
  }

  .tabs-menu li:hover {
    border-bottom: 4px solid #6bb324;
  }

  .tabs-menu li a:hover {
    color: #6bb324;
  }

  @media screen and (max-width: 960px) {
    .powerline {
      & .img-cont {
        background: url(../img/akcia_powerline_960.png) no-repeat 100% 100%;
      }
    }

    .btn {
      padding: 10px 15px 10px 15px;
      font-size: 16px;
    }

    .ec-powerline {
      display: none;
    }

    .ec-powerline-small {
      display: block;
      left: 35px;
      top: 50px;

      width: 105px;
      height: auto;
    }

    .flex-left {
      flex: 60%;
    }

    .flex-right {
      flex: 40%;
    }

    .text-cont {
      padding: 27px;
    }

    .btn-holder {
      margin-top: 20px;
    }

    .btn-nb {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  @media screen and (max-width: 700px) {
    .flex-left {
      flex: 65%;
    }

    .flex-right {
      flex: 35%;
    }
  }

  @media screen and (max-width: 630px) {
    .flex-left {
      flex: 100%;
    }

    .flex-right {
      display: none;
    }

    & .text-cont {
      height: auto;
      padding: 20px;
    }

    & .tab-content {
      height: auto;
    }

    .header-holder {
      display: block;
      position: relative;
    }

    .header-img {
      width: 100%;
      height: auto;
    }

    .ec-powerline-480 {
      position: absolute;
      left: 20px;
      bottom: -30px;

      width: 105px;
      height: auto;
    }

    .ec-zlava-480 {
      position: absolute;
      left: 20px;
      bottom: -30px;

      width: 105px;
      height: auto;
    }

    .box-title {
      font-size: 24px;
      line-height: 24px;
      margin-top: 30px;
    }

    .section__title {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 550px) {
    .tabs-container .tab__holder,
    .tabs-container .tab {
      display: block;
    }
  }

  @media screen and (max-width: 520px) {
    .tabs-menu li.variant {
      margin: 0;
    }
  }
  .element-item {
    height: 495px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 31.33%;
    margin: 1%;
    margin-bottom: 1%;
    min-height: 300px;
    color: #262524;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
    float: left;
    @media screen and (max-width: 768px) {
      width: 47%;
      margin: 0 3% 3% 0;
    }
    @media screen and (max-width: 543px) {
      width: 90%;
      margin: 0 5% 3% 5%;
    }
    &:hover {
      -webkit-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
    }
    .limitedOffer {
      z-index: 10;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
      height: 18px;
      background-color: #464646;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      p {
        margin: 0;
        font-size: 14px;
        color: #ededed;
      }
    }
    .name {
      margin-top: 20px;
      font-size: 18px;
      text-align: center;
      line-height: 18px;
      color: #4b4b4b;
      &:hover {
        text-decoration: underline;
      }
    }
    &.magio {
      .btn {
        margin-top: 70px;
      }
      .prices {
        min-height: auto;
      }
    }
    &.easy {
      .btn {
        padding: 8px 23px;
      }
      &#segwayKickScooter {
        .name {
          margin-top: 40px;
        }
        .btn {
          margin-bottom: 36px;
        }
      }
      .prices {
        min-height: auto;
      }
    }
    &.soldOut {
      cursor: default;
      box-shadow: none;
      &:before {
        content: "VYPREDANÉ";
        color: #fff;
        display: flex;
        font-size: 46px;
        font-weight: 800;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(206, 206, 206, 0.8);
        width: 100%;
        height: 100%;
        z-index: 99;
        left: 0;
        top: 0;
        @media screen and (max-width: 900px) {
          font-size: 42px;
        }
      }
      &:hover {
        overflow: hidden;
      }
    }
    &.special {
      background-color: $magenta;
      background-image: url("../img/aktualne-akcie/Pattern_1.png");
      background-repeat: repeat;
      background-size: 80%;
      &.zimnyBalik {
        background-image: url("../img/aktualne-akcie/Pattern_2.png");
        .mainImg {
          height: 138px;
          img {
            position: relative;
            margin-top: -40px;
          }
        }
        .btn {
          margin-top: 19px;
        }
        .name {
          padding-top: 12px;
        }
      }
      p {
        color: #fff;
        z-index: 1;
      }
      .mainImg {
        z-index: 10;
      }
      .prices {
        &-hdl {
          p {
            color: #fff;
          }
        }
        &-row {
          &:nth-of-type(2) {
            .hdl,
            .monthlyWeb {
              color: #fff;
              font-weight: bold;
            }
          }
          .hdl,
          .monthlyStore,
          .oneTimeWeb,
          .oneTimeStore {
            color: #dca6c4;
            font-size: 17px;
          }
        }
      }
      .btn {
        z-index: 10;
      }
      .link {
        color: #6dd7ff;
        z-index: 10;
      }
    }
    &.magenta-bg {
      background-color: #e20074;
    }
    &.textver {
      p {
        font-weight: normal;
      }
      .mainImg {
        position: relative;
        z-index: 10;
        img {
          min-width: 100%;
        }
      }
      .small-btn {
        padding: 8px 23px;
        position: relative;
        z-index: 10;
      }
      .btn {
        padding: 8px 40px;
        position: relative;
        z-index: 10;
      }
      .link {
        position: relative;
        z-index: 10;
      }
      .text {
        min-height: 140px;
        width: 87%;
      }
      &.special {
        background-color: $magenta;
        p {
          color: #fff !important;
          z-index: 999;
        }
        .link {
          margin-top: 0px;
          margin-bottom: 0px;
          color: #6dd7ff;
        }
      }
    }
    .white {
      color: #fff;
    }
    .ec1 {
      position: absolute;
      right: 20px;
      top: 10px;
      z-index: 11;
    }
    .ec2 {
      position: absolute;
      right: 20px;
      top: 90px;
      z-index: 11;
    }
    .mainImg {
      height: 167px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      text-align: center;
      overflow: hidden;
    }
    .prices {
      margin-bottom: 54px;
      width: 87%;
      border-bottom: 1px solid #ccc;
      &-hdl {
        p {
          font-size: 15px;
          color: #6c6c6c;
          padding-bottom: 3px;
          margin-bottom: 3px;
          border-bottom: 1px solid #ccc;
        }
      }
      &-row {
        p {
          margin: 0;
        }
        &:nth-of-type(2) {
          .hdl,
          .monthlyWeb {
            color: #e20074;
            font-weight: bold;
          }
        }
        .hdl,
        .monthlyStore,
        .oneTimeStore {
          color: #6c6c6c;
          font-size: 17px;
        }

        .monthlyWeb,
        .oneTimeWeb {
          font-size: 17px;
        }
        .monthlyStore,
        .oneTimeStore {
          font-size: 15px;

          text-decoration: line-through;
          line-height: 10px;
          padding-bottom: 7px;
        }
      }
    }
    .btn {
      border-radius: 4px;
      margin: 20px 0 5px 0;
      padding: 8px 30px;
      border: 1px solid #6bb329;
      background-color: #6bb324;
      font-size: 16px;
    }
    .btn:hover {
      background-color: #5e9e20;
      border: 1px solid #4d8319;
    }
    .white-btn {
      background-color: #fff;
      color: #262626;
      border: none;
    }
    .white-btn:hover {
      background-color: #ededed;
    }
  }
}
