/* ===============
   CSS FOR MICROSITE
   =============== */

/* HERO SECTION */

#hero {
  background: url(../img/hero_940.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 250px;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  & .hero__mobile {
    display: none;
  }
}

.hero__content {
  text-align: center;
  position: relative;
  & img.icon-ec {
    position: absolute;
    top: 0px;
    right: -130px;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url(../img/hero_768.jpg) no-repeat 50% 50%;
    & .hero__content {
      & img.icon-ec {
        right: -130px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  #hero {
    & .hero__content {
      width: auto;
      & img.icon-ec {
      }
    }
  }
}

@media screen and (max-width: 543px) {
  #hero {
    background: transparent;
    padding: 0;
    height: auto;
    .hero__mobile {
      display: block;
      background: url(../img/hero_480.jpg) no-repeat 59.5% 50%;
      background-size: cover;
      height: 210px;
      position: relative;
    }
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .hero__content {
      margin: 0;
      width: 100%;
      position: initial;
      padding: 30px 4% 10px 4%;
      & img.icon-ec {
        top: 130px;
        right: 35px;
      }
    }
    .btn {
      margin-top: 30px;
    }
    .hero__title,
    .hero__desc {
      color: #262626 !important;
    }
  }
}

section[id*="sec-"] {
  margin: 30px 0;
}

hr {
  max-width: 90%;
  margin: 0 auto !important;
  background: #ccc !important;
}

/* LINK NO REDIRECT */
#content .link-nordr {
  color: #007faf;
  text-decoration: none;
  display: block;
  & :hover {
    color: #00668d;
    text-decoration: none;
  }
}
/* LINK NO REDIRECT END */

/* SECONDARY RADIO BTNS */
.secondaryRadio {
  & input[type="radio"] {
    display: none;
  }
  & label {
    border: 1px solid #ccc;
    padding: 5px 20px;
    display: inline-block;
    cursor: pointer;
    //margin: 10px 5px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 0px;
  }
  @media screen and (max-width: 550px) {
    text-align: center;
  }
}
/* SECONDARY RADIO BTNS END */

/* Tip */
#content {
  & .tip {
    background-color: #fff2cc;
    padding: 1% 3%;
    margin: 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #c0aa69;
    width: 57%;
    display: inline-block;
    @media screen and (max-width: 777px) {
      min-height: 84px;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      margin: 1% 0;
      min-height: auto;
    }
    & p {
      color: #000;
      @media screen and (max-width: 777px) {
        line-height: 16px;
      }
    }
  }
}

.tip2 {
  margin: 0 auto !important;
  width: 100% !important;
  @media screen and (max-width: 550px) {
    width: 100% !important;
  }
}
/* Tip END */

/* Commit box */
#content {
  & .commitbox {
    background-color: #e9f4de;
    padding: 1% 3%;
    margin: 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #93c661;
    width: 100%;
    margin: 10px auto;
    & p {
      color: #4d8319;
    }
  }
}
/* Commit box END */

/* Error box */
#content {
  & .errorbox {
    background-color: #fbe5e5;
    padding: 1% 3%;
    margin: 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f4a1a1;
    & p {
      color: #d90000;
    }
  }
}
/* Error box END */

/* TABS */
#content .tabs-container ul {
  list-style: none;
}

#content .tabs-container .tab-link {
  cursor: pointer;
}

.tab__holder {
  text-align: center;
  line-height: 0;
}

.segment .tab__holder {
  text-align: left;
}

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block;
  border-bottom: 1px solid #ccc !important;
}

#content .segment .tabs-menu {
  height: 39px;
  & li.variant:hover {
    height: 39px;
  }
  & li a {
    padding: 0 20px;
  }
  & li:hover {
    border-bottom: 0px;
    background-color: #ededed;
  }
  & .variant.current {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0px;
    & a {
      color: #757575;
    }
    &:hover {
      background-color: #fff;
      height: 40px;
    }
  }
}

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left;
}

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324;
}

.tabs-menu li.variant {
  margin: 0 20px;
}

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed;
}

.tabs-menu li a {
  font-size: 1em;
  padding: 0px;
  color: #757575;
  text-decoration: none;
  display: inline-block;
}

.tabs-menu li a:hover {
  color: #383838;
}

.tabs-menu .current a {
  color: #6bb324;
}

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%;
}

.segment .tab {
  border: none;
}

.tab__variant {
  display: none;
}

.tab__variant.selected {
  display: block;
}

.tab-content {
  margin-top: 45px;
  display: none;
}

.segment .tab-content {
  padding-top: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2;
}

#tab-1 {
  display: block;
}

@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%;
  }
  .tabs-menu li:hover {
    border-bottom: 0;
  }
  .tabs-menu li,
  .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0;
  }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb;
  }
  #content .tabs-menu {
    height: auto;
  }
  .tab {
    border: 0;
  }
  .tabs-menu li a {
    padding: 0;
    display: block;
  }
}
/* TABS END */

/****************************************/
/* ACCORDION */
/****************************************/
// hide ACCORDION by default
.accordion {
  display: none;
}
@media screen and (max-width: 550px) {
  // hide TABS if window size <768px
  .tabs-container .tab__holder,
  .tabs-container .tab {
    display: none;
  }
  // show ACCORDION
  .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px;
    padding: 0% 2%;
    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url("../img/ico-plus.png") no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;
      & .ac-price {
        color: #a4a4a4;
        font-weight: normal;
      }
    }
    & .item.open .heading {
      background: url("../img/ico-minus.png") no-repeat;
      background-position: right center;
    }
    & .item.open .content {
      display: block;
    }
    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }

    .content:after {
      content: "";
      display: table;
      clear: both;
    }
    .p-detail {
      & p {
        margin-top: 0;
      }
      & p.mb-10 {
        margin-bottom: 10px;
        text-align: left;
      }
    }

    .p-actions {
      width: 100%;
      & .btn {
        margin: 5px 0px;
        width: 100%;
      }
    }

    .p-price-label {
      text-align: left;
      & .p-price {
        font-size: 20px;
        color: #e20074;
      }
    }
  }
}

/* ACCORDION END */

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover,
  &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */

/* POPUP */
.fancybox-title {
  display: none !important;
}

#content {
  .fancybox-wrap {
    border: 0;
    margin: 3% 0;
    & .fancybox-skin {
      background-color: #fff;
      border-radius: 11px;
      padding: 15px;
      width: auto;
      height: auto;
      & .fancybox-outer {
        & .fancybox-inner {
          & .p-head {
            display: block;
            height: 40px;
            border-bottom: 1px solid #d0d0d0;
            margin-bottom: 10px;
            & .p-close {
              background: none;
              position: absolute;
              right: 10px;
              top: 11px;
              a.close-btn {
                position: relative;
                display: inline-block;
                width: 17px;
                height: 17px;
                overflow: hidden;
                float: right;
                transition: all 100ms linear;
                &::before {
                  content: "";
                  position: absolute;
                  height: 2px;
                  width: 100%;
                  top: 48%;
                  left: 0;
                  background: #000;
                  transform: rotate(45deg);
                  height: 1px;
                }
                &::after {
                  content: "";
                  position: absolute;
                  height: 2px;
                  width: 100%;
                  top: 48%;
                  left: 0;
                  background: #000;
                  transform: rotate(-45deg);
                  height: 1px;
                }
              }
            }
          }
          & .p-content {
            & .popup-lightbox {
              font-size: 1.3em;
              text-align: left;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
              color: #e20074;
              & p {
                font-size: 18px;
                margin: 0;
                color: black;
              }
              & a.btn {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
    & .fancybox-opened .fancybox-skin {
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
  }
}
/* POPUP END */

.separator-right::after {
  content: "";
  border-right: 1px solid #ccc;
  height: 80%;
  position: absolute;
  right: 0px;
  top: 10px;
}

.tab {
  border-top: 0px solid #dbdbdb !important;
  width: 87%;
  margin: 0 auto;
}

.img-maxwidth {
  & img {
    max-width: 100%;
  }
}

h2.sec__title {
  padding: 0 !important;
}

/* V-ALIGN */
.table-container {
  display: table;
  @media screen and (max-width: 550px) {
    display: flex;
  }
}

.table-container .table-row {
  height: 100%;
  display: table-row;
  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
}

.table-container .table-row .table-col {
  display: table-cell;
  float: left;
  vertical-align: middle;
  @media screen and (max-width: 550px) {
    //display: block;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: none;
  }
  & img {
    @media screen and (max-width: 550px) {
      max-width: 100%;
      margin: 0 auto;
      width: 50%;
      height: 100%;
    }
  }
}
/* V-ALIGN END */

/* POPUP */
.fancybox-title {
  display: none !important;
}

.fancybox-wrap {
  border: 0;
  margin: 3% 0;
  & .fancybox-skin {
    background-color: #fff;
    border-radius: 11px;
    padding: 15px;
    width: auto;
    height: auto;
    & .fancybox-outer {
      & .fancybox-inner {
        & .p-head {
          display: block;
          height: 40px;
          border-bottom: 1px solid #d0d0d0;
          margin-bottom: 10px;
          & .p-close {
            position: absolute;
            right: 10px;
            top: 11px;
            a.close-btn {
              position: relative;
              display: inline-block;
              width: 17px;
              height: 17px;
              overflow: hidden;
              float: right;
              transition: all 100ms linear;
              &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                top: 48%;
                left: 0;
                background: #000;
                transform: rotate(45deg);
                height: 1px;
              }
              &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                top: 48%;
                left: 0;
                background: #000;
                transform: rotate(-45deg);
                height: 1px;
              }
            }
          }
        }
        & .p-content {
          & .popup-lightbox {
            font-size: 1.3em;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            color: #e20074;
            & p {
              font-size: 18px;
              margin: 0;
              color: black;
            }
            & a.btn {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
  & .fancybox-opened .fancybox-skin {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  }
}

/* POPUP END */

#sec-1 {
  margin-bottom: 0px;
  & h2.sec__title {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  & .strike-through {
    width: 56%;
    margin-bottom: 15px;
    height: 1px;
    background-color: #d0d0d0;
    z-index: -1;
    position: relative;
    bottom: -13px;
    margin: 0 auto;
  }
  & p.striked-text {
    background-color: #fff;
    width: 100px;
    margin: 0 auto;
  }
  & .ttp {
    width: 387px;
    margin: 0 auto;
    display: block;
    color: #4b4b4b;
  }
  & .confirmed {
    margin: 20px 0px 40px 0px;
    & .vcentering {
      margin: 5px 0;
      & .strike-through {
        width: 100%;
        margin-bottom: 15px;
        height: 1px;
        background-color: #d0d0d0;
        z-index: -1;
        position: relative;
        bottom: -13px;
        margin: 0 auto;
      }
      & p.striked-text {
        background-color: #fff;
        width: 50px;
        margin: 0 auto;
      }
    }
    & .vcentering {
      margin: 5px 0;
      & .ttp {
        width: 387px;
        margin: 0 auto;
        display: block;
        color: #4b4b4b;
      }
    }
  }
  & .confirmed-headline {
    margin: 20px 0;
    margin-left: 20px;
  }
  & .reset-confirm {
    margin-top: 1%;
  }
  & a.fa-icon:nth-of-type(1) {
    margin-left: 20px;
  }
  & .btnmag {
    margin: 7px 0;
  }
  & .showtv-p {
    margin: 0px;
    @media screen and (max-width: 550px) {
      display: none;
    }
  }
  & .details {
    margin-top: 15px;
    padding: 0px;
    // details HEAD
    & .details-head {
      background-color: $magenta;
      color: #fff;
      padding: 10px 0;
      margin-bottom: 10px;
      text-align: center;
      box-shadow: 0px 3px 4px 0px #ccc;
      @media screen and (max-width: 808px) {
        font-size: 14px;
      }
      @media screen and (max-width: 550px) {
        display: none;
      }
    }
    // DETAILS BODY
    & .detail-wrapper {
      border: 1px solid #ccc;
      min-height: 100px;
      padding: 10px 0;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      position: relative;
      @media screen and (max-width: 550px) {
        display: none;
      }
      & .ribbon {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $magenta;
        color: #ffffff;
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        width: auto;
        padding: 0 30px;
      }
      & .detailHeading {
        font-size: 100%;
        margin-bottom: 0px;
        @media screen and (max-width: 900px) {
          //text-align: left;
        }
      }
      & .detailPrice {
        font-size: 36px;
        margin: 0px;
        display: inline-block;
        @media screen and (max-width: 700px) {
          font-size: 32px;
          line-height: 30px;
        }
      }
      & .discount {
        top: 7px;
        left: 7px;
        // margin: 0 auto;
        position: relative;
        @media screen and (max-width: 654px) {
          left: 0px;
        }
      }
      & .detailHeading-stanice {
        color: #6c6c6c;
      }
      & .popis-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        & .detail-popis {
          margin: 0px;
        }
        & p {
          //font-size: 2vw;
        }
      }
      & .cta-wrap {
        flex-direction: column;
        display: flex;
        text-align: right;
        justify-content: center;
        height: 100%;
        @media screen and (max-width: 768px) {
          text-align: center;
        }
        & a.btn {
          text-align: center;
          padding: 10px 10px;
          @media screen and (max-width: 777px) {
            font-size: 13px;
          }
          @media screen and (max-width: 583px) {
            padding: 7px;
          }
        }
        & .link {
          margin: 0 12%;
          @media screen and (max-width: 575px) {
            margin: 0;
          }
        }
      }
    }
    & .detail-wrapper:hover {
      box-shadow: 2px 3px 4px 0px #ccc;
    }
    & .detail-wrapper.magenta {
      border: 1px solid $magenta;
    }
    & .separator-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      & img {
        max-width: 100%;
      }
    }
    & .separator-right:nth-of-type(1) {
      display: block;
    }
    & #cmb__holder {
      display: inline-block;
      width: 40%;
      float: right;
      margin: 4% 0%;
      @media screen and (max-width: 768px) {
        width: 48%;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
      }
    }
    & .cmbbox {
      background-color: #dedede;
      background: url(../img/cmb.png) 50% 50% no-repeat;
      background-size: cover;
      padding: 2.5% 3% 1% 3%;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #d0d0d0;
      width: 100%;
      display: inline-block;
      float: right;
      min-height: 84px;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 1% 3%;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        margin: 1% 0;
        background-color: #ededed;
        //background-image: none;
        min-height: auto;
        padding: 2% 3%;
      }
      & p {
        color: #000;
        margin: 0px;
        @media screen and (max-width: 550px) {
          margin: 5px 0;
        }
        @media screen and (max-width: 768px) {
          margin: 5px 0;
        }
      }
    }
    & .detail-wrapper-mobile {
      border-top: 1px solid #ccc;
      position: relative;
      margin: 10px 0;
      display: block;
      &:hover {
        //cursor: pointer;
      }
      @media screen and (min-width: 551px) {
        display: none;
      }
      & .ribbon-mobile {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $magenta;
        color: #ffffff;
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        width: auto;
        padding: 0 10px;
      }
      & .left-mobile {
        width: 29%;
        display: inline-block;
        position: relative;
        min-height: 100px;
        float: left;
        text-align: center;
        & .detailHeading-stanice {
          font-weight: 400;
        }
        & img {
          max-width: 100%;
        }
      }
      & .right-mobile {
        width: 68%;
        display: inline-block;
        padding-left: 2%;
        min-height: 100px;
        position: relative;
        & .mobile-redirect:hover {
          cursor: pointer;
        }
        & .detailHeading {
          font-weight: 500;
          margin-bottom: 0px;
        }
        & .popis-wrap {
          & p.detail-popis {
            margin: 0;
          }
        }
        & .priceinfo {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          margin: 15px 0;
          & .price-left {
            width: 60%;
            display: inline-block;
            & p {
              margin: 0px;
              font-weight: 500;
              line-height: 18px;
            }
            & a {
              margin: 0px;
              font-weight: 500;
              line-height: 18px;
              cursor: pointer;
            }
            & .price-zlava {
              color: $magenta;
            }
          }
          & .price-right {
            width: 38%;
            display: inline-block;
            & p {
              margin: 0px;
              text-align: right;
              font-weight: 500;
              line-height: 18px;
            }
            & .price-mesacne-zlava {
              color: $magenta;
            }
          }
        }
        & a.btn {
          margin: 10px 0;
        }
        & .arrowBtn {
          top: 42px;
          position: absolute;
          right: 0;
          font-size: 22px;
          color: #000;
        }
      }
      & .right-mobile:after {
        content: "";
        border-right: 1px solid #ccc;
        height: 90%;
        position: absolute;
        left: 0px;
        top: 5%;
      }
    }
    & .detail-wrapper-mobile.magenta-mobile {
      border-top: 1px solid $magenta;
    }
    & .detail-wrapper-mobile:hover {
      box-shadow: 0px 3px 6px 0px #ccc;
    }
  }
}

#sec-2 {
  margin-top: 0px;
  @media screen and (max-width: 550px) {
    margin-bottom: 0px;
  }
  & .archiv-wrap {
    width: 100%;
    margin: 10px 0;
    border-top: 1px solid #ccc;
    @media screen and (max-width: 550px) {
      border-top: 0px solid #ccc;
    }
    & .archiv {
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
      @media screen and (max-width: 550px) {
        width: 49%;
        display: inline-block;
        border-bottom: 0px solid #ccc;
      }
      & .left {
        width: 60%;
        display: inline-block;
        @media screen and (max-width: 923px) {
          width: 23.5vw;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          text-align: center;
        }
        & p {
          margin: 0px;
          @media screen and (max-width: 923px) {
            font-size: 2vw;
          }
          @media screen and (max-width: 550px) {
            font-size: 3vw;
          }
        }
        & p > .link-nordr {
          display: inline-block;
          @media screen and (max-width: 923px) {
            font-size: 2vw;
          }
          @media screen and (max-width: 550px) {
            font-size: 3vw;
          }
        }
      }
      & .right {
        text-align: right;
        width: 39%;
        display: inline-block;
        @media screen and (max-width: 923px) {
          width: 15vw;
        }
        @media screen and (max-width: 550px) {
          width: 100%;
          text-align: center;
        }
        & .green {
          color: #58951c;
        }
        & p {
          margin: 0px;
          @media screen and (max-width: 923px) {
            font-size: 2vw;
          }
          @media screen and (max-width: 550px) {
            font-size: 3vw;
          }
        }
      }
    }
    & .archiv:nth-of-type(1) {
      @media screen and (max-width: 550px) {
        border-right: 1px solid #ccc;
      }
    }
  }
  & #tab-6 {
    & p {
      //margin: 0px;
    }
    & ul {
      list-style: square;
      margin-left: 17px;
      margin-top: 2px;
      font-size: 16px;
      & li {
        line-height: 20px;
      }
    }
  }
  & .tab {
    text-align: left !important;
  }
}
/* MOBILE COLUMN ORDERS */
@media screen and (max-width: 550px) {
  .orderTabLeft {
    order: 2;
  }
  .orderTabRight {
    order: 1;
  }
}

.gridFix {
  @media screen and (max-width: 768px) {
    display: block;
    float: none;
    width: 100%;
  }
}

#sec-3 {
  & .tv-stanice-left {
    margin: 7%;
    background-color: #ededed;
    border-radius: 3px;
    border: 1px solid #dedede;
    padding: 20px;
    text-align: center;
    @media screen and (max-width: 768px) {
      max-width: 60%;
      margin: 0 auto;
    }
    @media screen and (max-width: 550px) {
      max-width: 100%;
      margin: 0 auto;
    }
    & p {
      margin: 0;
      text-align: left;
    }
    & #heapbox_heap {
      width: 100%;
      text-align: left;
      z-index: 1;
    }
    & .heapBox .handler,
    .heapBox .holder {
      background-color: #fff;
    }
    & .heapText {
      & ul {
        list-style: none;
        padding: 0;
        text-align: left;
        & li {
          padding-left: 1.3em;
        }
        & li:before {
          content: "\f00c"; /* FontAwesome Unicode */
          font-family: FontAwesome;
          color: #5e9e20;
          display: inline-block;
          margin-left: -1.3em; /* same as padding-left set on li */
          float: left;
        }
        & li.magenta:before {
          color: $magenta;
        }
      }
      & p {
        margin: 5px;
      }
      & .btn {
        width: 100%;
      }
    }
  }
  & .tv-stanice-right {
    padding: 0px 0;
    //border: 1px solid #000;
    position: relative;
    display: flex;
    margin-bottom: 3%;
    & .tv-wording {
      width: 20%;
      display: inline-block;
      //position: relative;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
      height: 100%;
      & img {
        //position: absolute;
        top: 0;
        max-width: 100%;
      }
    }
    & .tv-text {
      margin-left: 10px;
      width: 80%;
      display: inline-block;
      & p {
        margin: 0px;
      }
    }
  }
  & .tv-stanice-right:nth-of-type(1) {
    margin: 7% 0% 3% 0%;
  }
}
#sec-4 {
  background-color: #f2f2f2;

  & p {
    font-size: 16px;
  }
  & .sec-img {
    background: url(../img/discovery.jpg) no-repeat 100% 0%;
    background-size: cover;
    text-align: center;
    min-height: 600px;
  }
  & .sec-content {
    padding: 30px 30px 0 30px;
    & h2 {
      font-size: 32px;
      color: #000;
    }
  }
  & .btn {
    margin-top: 15px;
  }

  @media screen and (max-width: 768px) {
    padding: 20px 0;
    display: block;
    text-align: left;
    & .sec-content {
      padding: 0px;
      margin-bottom: 20px;
    }
    & .sec-img {
      min-height: 320px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
#sec-5 {
  & .magio-go-left {
    margin: 7%;
    border-radius: 3px;
    border: 1px solid #dedede;
    padding: 20px;
    text-align: center;
    @media screen and (max-width: 768px) {
      max-width: 65%;
      margin: 0 auto;
    }
    @media screen and (max-width: 550px) {
      max-width: 100%;
      margin: 0 auto;
    }
    & .heapTV-infoText {
      margin: 7px 0;
    }
    & p {
      margin: 0;
      text-align: left;
    }
    & #heapbox_heapTv {
      width: 100%;
      text-align: left;
      z-index: 1;
    }
    & .heapBox .handler,
    .heapBox .holder {
      background-color: #fff;
    }
    & .heapTVtext {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      & .heapTvtext-wrap {
        padding: 7px 0;
        border-bottom: 1px solid #ccc;
        & .left {
          width: 60%;
          display: inline-block;
        }
        & .right {
          width: 38%;
          display: inline-block;
          text-align: right;
          & a {
            color: #4b4b4b;
          }
          & p {
            text-align: right;
          }
        }
      }
      & .heapTvtext-wrap:last-of-type {
        border: none;
      }
    }
  }
  & .magio-go-right {
    margin: 7% 0;
    border-radius: 3px;
    //border: 1px solid #dedede;
    padding: 20px;
    padding-bottom: 0px;
    //text-align: center;
    display: flex;
    min-height: 275px;
    align-items: flex-end;
    @media screen and (max-width: 818px) {
      min-height: 0px;
      padding-top: 0px;
    }
    @media screen and (max-width: 768px) {
      align-items: flex-start;
      margin-top: 0px;
      margin-bottom: 0px;
      min-height: auto;
    }
    @media screen and (max-width: 550px) {
      padding: 0px;
      padding-top: 20px;
      margin-bottom: 20px;
    }
  }
}

/* POPUP TV STANICE */
.tvPackageImg {
  & img {
    border: 1px solid #e6e6e6;
    margin-right: 10px;
    margin-bottom: 6px;
  }
}

// timer start
#ajaxLoading-AjaxLoader_assetsListGlobal {
  display: none;
}

.ajaxLoadingSpinnerOverlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 100;
}
.ajaxLoadingSpinnerOverlay .square {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: $magenta;
  margin: 0 10px;
  top: 50%;
  position: relative;
  margin-top: -15px;
  -webkit-animation: pulse 1200ms infinite;
  animation: pulse 1200ms infinite;
}
// timer end

// #sec-5 {
//   & .akcie-box1 {
//     border: 1px solid #ccc;
//     & img {
//       max-width: 100%;
//     }
//     & .text-wrap {
//       padding: 15px;
//       & p.title {
//         font-size: 18px;
//         font-weight: 500;
//       }
//     }
//   }
//   & .akcie-box2 {
//     border: 1px solid #ccc;
//     text-align: center;
//     padding-bottom: 5px;
//     margin-bottom: 20px;
//     & img {
//       max-width: 100%;
//     }
//     & .text-wrap {
//       padding: 15px;
//       text-align: left;
//       & p.title {
//         font-size: 18px;
//         font-weight: 500;
//       }
//       & p {
//         margin: 0px;
//       }
//     }
//     & a.btn {
//       margin: 5px 0;
//       width: 90%;
//     }
//   }
//   & .akcie-box3 {
//     border: 1px solid #ccc;
//     & .text-wrap {
//       padding: 15px;
//       & p.title {
//         font-size: 18px;
//         font-weight: 500;
//       }
//       & p {
//         line-height: 18px;
//       }
//       & .link {
//         margin: 6px 0px;
//       }
//     }
//   }
//   & .akcie-box4 {
//     border: 1px solid #ccc;
//     text-align: center;
//     padding-bottom: 42px;
//     & img {
//       max-width: 100%;
//     }
//     & .wording {
//       position: absolute;
//       top: 240px;
//       left: 26px;
//     }
//     & .text-wrap {
//       padding: 15px;
//       text-align: left;
//       & p.title {
//         font-size: 18px;
//         font-weight: 500;
//       }
//       & p {
//         //margin: 0px;
//       }
//     }
//     & a.btn {
//       width: 90%;
//     }
//   }
// }

/* ===============
  SEC-6 - AKTUALNE AKCIE
  =============== */

.sticker-picture {
  position: absolute;
  top: 130px;
  left: 120px;
}
.sticker-picture2 {
  position: absolute;
  top: 0px;
  left: 160px;
}

#sec-6 {
  & .row {
    & .offer-box {
      background: #fff;
      border: 1px solid #d0d0d0;
      // padding: 20px 30px;
      & .offer__wrapper {
        & .left-holder {
          float: left;
          & .offer__title {
            color: #262626;
            font-size: 22px;
          }
        }
        & .right-holder {
          float: right;
        }
      }
    }
    & .sub-offer__holder {
      margin-top: 20px;
      & .sub-offer-chris {
        & .tabs-container {
          & .tab__holder {
            & .tabs-menu {
              height: auto;
              & li {
                background-color: white;
              }
              & li.current {
                & a {
                  color: #6bb324;
                }
              }
              & li a:hover {
                color: #383838;
              }
            }
          }
          & .tab {
            text-align: left;
            border-top: 0px solid #dbdbdb;
            width: 100%;
            margin-bottom: 5px;
            & .tab-content {
              margin-top: 20px;
              & .tab-label {
                text-align: center;
                font-size: 26px;
                font-weight: normal;
              }
              & .tab-help {
                width: 23%;
                text-align: center;
                display: inline-block;
                margin-right: 30px;
                & .tab-help-sub {
                  & p {
                    line-height: 18px;
                  }
                  & .tab-help-title {
                    & h2 {
                      font-size: 16px;
                      color: #4b4b4b;
                      font-weight: 500;
                      //padding-left: 20px;
                    }
                  }
                }
                & p {
                  font-weight: normal;
                }
                & .tab-icons {
                  padding-top: 20px;
                  & p {
                    color: #a4a4a4;
                    margin-top: 0;
                  }
                }
                & .tab-icons:nth-child(3) {
                  padding-top: 5px;
                }
              }
              & .tab-acc {
                display: inline-block;
                vertical-align: top;
                text-align: left;
                & .tab-acc-sub {
                  padding: 11px 6px;
                  width: 230px;
                  text-align: center;
                  display: inline-block;
                  vertical-align: top;
                  border: 0;
                  margin-bottom: 10px;
                  & .a-title-2 {
                    float: right;
                    display: none;
                  }
                  & .tab-img-cont {
                    & img.change-width:nth-of-type(2) {
                      margin-top: 20px;
                    }
                    img {
                      max-width: 100%;
                    }
                  }
                  & .tab-acc-cont {
                    & .tab-ex {
                      text-align: left;
                      font-weight: normal;
                      font-size: 16px;
                      cursor: default;
                      & p:first-child {
                        border-bottom: solid 1px #ccc;
                      }
                      & p {
                        margin: 1px 0;
                      }
                      & > div:last-child {
                        border-top: solid 1px #ccc;
                        color: $magenta;
                        font-weight: bold;
                        margin-top: 5px;
                        padding-top: 5px;
                      }
                      & .tab-ex-label {
                        display: inline-block;
                        width: 73%;
                      }
                      & .tab-ex-price {
                        display: inline-block;
                        width: 25%;
                        text-align: right;
                      }
                    }
                    & a.a-title {
                      //min-height: 63px;
                      display: inline-block;
                      width: 100%;
                      font-size: 18px;
                      color: #4b4b4b;
                      margin: 10px 0;
                      &:hover {
                        text-decoration: underline;
                      }
                    }
                    & .tab-web-disc {
                      color: #6bb324;
                    }
                  }
                }
                & .tab-acc-sub:hover {
                  cursor: pointer;
                  z-index: 100;
                  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
                  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
                  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
                  & .tab-action {
                    display: block;
                  }
                }
                & .tab-mag-go {
                  display: inline-block;
                  position: relative;
                  width: 210px;
                  min-height: 315px;
                  vertical-align: top;
                  background-color: #e6e6e6;
                  text-align: center;
                  padding: 30px 0;
                  float: right;
                  position: relative;
                  top: 0;
                  & h2 {
                    color: $magenta;
                    font-size: 28px;
                    padding-bottom: 0;
                    font-weight: 900;
                  }
                  & p {
                    margin: 0 0 10px 0;
                  }
                  & .tab-mag-go-1 {
                  }
                  & .tab-mag-go-2 {
                    & a.btn {
                      margin: 0px;
                    }
                  }
                }
              }
            }
          }
          & .tab-action {
            display: none;
            padding: 10px 0;
            & a {
              width: 100%;
            }
          }
        }
        & #tab-1 {
          & .tab-acc {
            width: 485px;
            & .tab-acc-sub {
              min-height: 440px;
            }
            & .tab-img-cont {
              height: 160px;
              position: relative;
            }
          }
        }
        & #tab-2 {
          & .tab-acc {
            width: 485px;
            & .tab-acc-sub {
              min-height: 440px;
              height: 300px;
            }
            & .tab-img-cont {
              height: 160px;
              position: relative;
            }
          }
        }
        & #tab-3 {
          position: relative;
          & .tab-acc {
            width: 485px;
            & .tab-acc-sub {
              min-height: 440px;
            }
            & .tab-img-cont {
              height: 200px;
              position: relative;
            }
            & .tab-mag-go {
              position: absolute;
              top: 60px;
              right: 0;
            }
          }
        }
      }
      & .dph p {
        color: #999;
        margin-top: 0px;
        text-align: right;
      }
    }
    & .akcie_title {
      text-align: center;
      //color: #4b4b4b;
      color: $magenta;
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 960px) {
  .tab {
    text-align: center !important;
  }
  .tab-mag-go {
    position: relative !important;
    top: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  #content {
    & .row {
      & .sub-offer__holder {
        & .sub-offer-chris {
          & .tabs-container {
            & .tab__holder {
              & .tabs-menu {
                width: 100%;
                & li {
                  float: none;
                  width: 100%;
                  border: 1px solid #dbdbdb;
                }
                & li.current {
                  border-bottom: 4px solid #6bb324;
                }
              }
            }
            & .tab {
              & .tab-content {
                & .tab-help {
                  width: 100%;
                  margin: 20px 0px;
                  & .tab-icons {
                    display: none;
                  }
                }
                & .tab-acc {
                  width: 100% !important;
                  margin: 10px 0 0 0;
                  & .tab-acc-sub {
                    min-height: 227px !important;
                    text-align: left;
                    border-top: solid 1px #aaa;
                    padding-top: 15px;
                    width: 100%;
                    & .tab-acc-cont {
                      width: 68%;
                      display: inline-block;
                      & .a-title {
                        margin: 10px 0px;
                        min-height: auto !important;
                      }
                      & .tab-ex {
                        & .tab-ex-label {
                          width: 70%;
                        }
                        & .tab-ex-price {
                          width: 28%;
                        }
                      }
                      & .tab-action {
                        display: block;
                        & .btn {
                          width: auto;
                        }
                      }
                    }
                    & .tab-img-cont {
                      text-align: center;
                      width: 30%;
                      display: inline-block;
                      vertical-align: top;
                      & img:nth-child(1) {
                        width: 90%;
                      }
                      & img.change-width {
                        //width: 50%;
                      }
                      & .sticker-picture2 {
                        right: 20px;
                        left: inherit;
                        width: 30%;
                      }
                    }
                  }
                  & .tab-mag-go {
                    display: block;
                    float: inherit;
                    width: 100%;
                    min-height: 250px;
                    padding: 15px 0 0 0;
                    & h2 {
                      font-size: 36px !important;
                    }
                    & p {
                      font-size: 28px !important;
                    }
                    & div {
                      display: inline-block;
                    }
                    & .tab-mag-go-1 {
                      width: 280px;
                      position: relative;
                    }
                    & .tab-mag-go-2 {
                      vertical-align: top;
                      & a {
                        margin-top: 40px !important;
                      }
                    }
                    & .sticker-picture {
                      left: 10px;
                      top: 20px;
                    }
                  }
                }
              }
            }
          }
        }
        & #tab-1 {
          position: relative;
          & .tab-acc {
            & .tab-acc-sub {
              min-height: 277px !important;
              height: auto !important;
            }
          }
        }
        & #tab-2 {
          position: relative;
          & .tab-acc {
            & .tab-acc-sub {
              min-height: 274px !important;
              height: auto !important;
            }
          }
        }
      }
      & .akcie_title {
        text-align: center;
        color: #4b4b4b !important;
        margin-bottom: 10px;
      }
    }
  }
}

/****************************************/
/* ACCORDION - AKTUALNE AKCIE */
/****************************************/
// hide ACCORDION by default
.accordion {
  display: none;
}
@media screen and (max-width: 550px) {
  // hide TABS if window size <768px
  .tabs-container .tab__holder,
  .tabs-container .tab {
    display: none;
  }
  // show ACCORDION
  .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px;
    padding: 0% 2%;
    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url("../img/ico-plus.png") no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;
      & .ac-price {
        color: #a4a4a4;
        font-weight: normal;
      }
    }
    & .item.open .heading {
      background: url("../img/ico-minus.png") no-repeat;
      background-position: right center;
    }
    & .item.open .content {
      display: block;
      & .tab-label {
        text-align: center;
        display: none;
      }
      & .tab-help {
        text-align: center;
        margin: 20px 0;
        & .tab-icons {
          display: none;
        }
        & .tab-help-sub {
          & p {
            line-height: 16px;
            margin-left: 0px;
          }
        }
      }
      & .tab-acc {
        width: 100%;
        margin: 10px 0 0 0;
        & .tab-acc-sub {
          //min-height: 238px;
          text-align: left;
          border-top: solid 1px #aaa;
          padding-top: 15px;
          padding-bottom: 15px;
          width: 100%;
          margin-bottom: 10px;
          cursor: pointer;
          padding: 5%;
          & .tab-acc-cont {
            display: inline-block;
            cursor: default;
            display: block;
            width: 100%;
            text-align: left;
            & .a-title {
              color: black;
              display: block;
              margin: 10px 0px;
              text-align: center;
            }
            & div.a-title-2 {
              display: none;
            }
            & .a-title:hover {
              text-decoration: underline !important;
            }
            & .tab-ex {
              & .tab-ex-label {
                width: 70%;
                display: inline-block;
              }
              & .tab-ex-price {
                width: 28%;
                display: inline-block;
                text-align: right;
              }
              & p:first-of-type {
                border-bottom: solid 1px #ccc;
              }
              & p {
                text-align: left;
                margin: 0px;
              }
            }
            & .tab-ex > div:last-child {
              color: $magenta;
              font-weight: bold;
              border-top: 1px solid #ccc;
            }
            & .tab-ex > div.tab-web-disc {
              color: #6bb324;
            }
            & .tab-action {
              text-align: center;
            }
          }
          & .tab-img-cont {
            text-align: center;
            width: 30%;
            display: inline-block;
            vertical-align: top;
            position: relative;
            margin: 0 auto;
            width: 60%;
            display: block;
            & img:nth-child(1) {
              width: 90%;
            }
            & img.change-width {
              max-width: 100%;
            }
            & img.mobil-width {
              width: 30%;
            }
            & .sticker-picture2 {
              right: 10px;
              left: unset;
              top: 0px;
              width: 30%;
            }
          }
          & .tab-action {
            display: block !important;
            & a.btn {
              width: auto !important;
            }
          }
        }
        & .tab-acc-sub:hover {
          -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
        }
        & .tab-mag-go {
          text-align: center;
          display: block;
          float: inherit;
          width: 100%;
          min-height: 250px;
          padding: 15px;
          background: #e6e6e6;
          & p {
            font-size: 28px !important;
          }
          & h2 {
            font-size: 28px !important;
            font-weight: 800;
          }
          & div {
            display: inline-block;
          }
          & .tab-mag-go-1 {
            width: 280px;
            position: relative;
          }
          & .tab-mag-go-2 {
            vertical-align: top;
            & a {
              margin-top: 10px;
            }
          }
          & .sticker-picture {
            left: 10px;
            top: 20px;
          }
        }
      }
    }
    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }
  }
}
/* ACCORDION - AKTUALNE AKCIE END  */

/* ===============
 SEC-6 - VIANOCNE AKCIE END
 =============== */

/* ===============
   LIGHTBOX
   =============== */
#info-magio-box {
  display: none;
  width: 560px;
  padding: 0px 10px 0 20px;
  font-size: 16px;
  & > div {
    display: inline-block;
  }
  & h2 {
    text-align: center;
  }
  & .lightbox-content {
    width: 283px;
  }
  & .lightbox-img-cont {
    vertical-align: top;
    margin-left: 15px;
    width: 210px;
    position: relative;
    & img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  & .lightbox-content-2 {
    color: #999;
  }
  & .lightbox-content-3 {
    color: $magenta;
    background-color: #fff6d5;
    padding: 10px;
    & div {
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
    }
    & .lightbox-3-cont {
      max-width: 220px;
      margin-left: 10px;
    }
  }
  & div[class^="lightbox-content-"] {
    margin-top: 10px;
  }

  & .tab-ex {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    & p:first-child {
      border-bottom: solid 1px #ccc;
    }
    & p {
      margin: 1px 0;
    }
    & > div:last-child {
      border-top: solid 1px #ccc;
      color: $magenta;
      font-weight: bold;
      //margin-top: 5px;
      //padding-top: 5px;
    }
  }

  & .tab-ex .tab-ex-label {
    display: inline-block;
    width: 90px;
  }
  & .tab-ex .tab-ex-price {
    display: inline-block;
    width: 110px;
    text-align: right;
  }
  & .lightbox-content-mob {
    display: none;
    position: relative;
  }
  & .close-end {
    text-align: right;
    cursor: pointer;
    margin-top: 0;
    font-weight: bold;
    & a {
      font-size: 26px;
      color: #999;
    }
  }
  & .sticker-picture {
    width: 80px !important;
    top: 20px;
    left: 105px;
  }
  .lightbox-action {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 610px) {
  #info-magio-box {
    width: 320px;
    padding: 0;
    height: 520px;
    position: relative;
    & .lightbox-content {
      width: 100%;
    }
    & div {
      display: block;
    }
    & .lightbox-content-1 {
      & div {
        display: inline-block;
        vertical-align: top;
      }
      & div:nth-child(2) {
        margin-left: 10px;
        width: 200px;
      }
    }
    & .lightbox-img-cont {
      margin: 10px 0;
      width: 100%;
      & img {
        display: none;
      }
    }
    & .lightbox-content-3 {
      position: absolute;
      width: 100%;
      bottom: 55px;
      left: 0;
      & .lightbox-3-cont {
        max-width: 250px;
      }
    }
    & .tab-ex .tab-ex-price {
      width: 220px;
    }
    & .close-end {
      margin-bottom: 0;
      width: 100%;
    }
    & .sticker-picture {
      width: 40px !important;
      top: 5px;
      left: 45px;
    }
    & .lightbox-action {
      position: absolute;
      bottom: 0;
      left: 90px;
    }
  }
}
/* ===============
   LIGHTBOX - END
   =============== */

/****************************************/
/* POPUP */
/****************************************/

.fancybox-wrap {
  border: 0;
  & .fancybox-skin {
    background-color: #fff;
    border-radius: 11px;
    & .fancybox-outer {
      & .fancybox-inner {
        & .p-head {
          display: block;
          min-height: 40px;
          height: auto;
          border-bottom: 1px solid #d0d0d0;
          margin-bottom: 10px;
          & .p-close {
            position: absolute;
            right: 10px;
            top: 11px;
            a.close-btn {
              position: relative;
              display: inline-block;
              width: 17px;
              height: 17px;
              overflow: hidden;
              float: right;
              transition: all 100ms linear;
              &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                top: 48%;
                left: 0;
                background: #000;
                transform: rotate(45deg);
                height: 1px;
              }
              &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                top: 48%;
                left: 0;
                background: #000;
                transform: rotate(-45deg);
                height: 1px;
              }
            }
          }
        }
        & .p-content {
          & .popup-lightbox {
            font-size: 1.3em;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            //color: #e20074;
            & p {
              font-size: 18px;
              margin: 0;
              color: black;
            }
            & a.btn {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
  & .fancybox-opened .fancybox-skin {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
  }
}

/* POPUP END */

/* strikethrough START */
.strike-center {
  position: relative;
  white-space: nowrap; /* would center line-through in the middle of the wrapped lines */
}

.strike-center:after {
  border-top: 1px solid #000;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  left: 0;
}
/* strikethrough END */

#content .btn_clean:hover {
  background-color: #dbdbdb;
}

// christmas action

span.christ-action {
  color: #1865ab;
}

img.christ-action {
  position: absolute;
  bottom: 5px;
  right: 5px;
  @media screen and (max-width: 900px) {
    display: none;
  }
}

#content .cont-christ-action {
  padding: 20px;
  -webkit-box-shadow: 0px 0px 30px 1px rgba(217, 217, 217, 1);
  -moz-box-shadow: 0px 0px 30px 1px rgba(217, 217, 217, 1);
  box-shadow: 0px 0px 30px 1px rgba(217, 217, 217, 1);
  & h2 {
    font-size: 32px;
    margin-top: 5px;
  }
  & .blue {
    color: #1865ab;
    font-size: 21px;
  }
  & .cont-icon {
    text-align: right;
    & img {
      width: 70px;
    }
    @media screen and (max-width: 768px) {
      text-align: left;
      margin-bottom: 20px;
    }
  }
  & .cont-tv-pack-xl {
    margin: 20px 0;
    & img {
      padding: 2px;
      border: solid 1px #ddd;
      margin-right: 5px;
    }
  }
}
#content .magenta {
  color: $magenta;
}

.magentabg {
  background-color: $magenta;
  color: #fff !important;
  &:hover {
    color: $magenta !important;
  }
  &.active {
    color: $magenta !important;
  }
}

@media screen and (max-width: 940px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
