<div id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			<!-- mobile --></div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>PEVNÁ LINKA</b><br />
				A SKVELÉ VIANOČNÉ AKCIE</h1>
			<a class="scroll-to btn cta" href="?vianocne-akcie#sec-9">VIANOČNÉ AKCIE</a></div>
	</div>
</div>
<div class="sticky-wrapper" id="nav-sticky-sticky-wrapper" style="height: 56px;">
	<div id="nav-sticky">
		<ul>
			<li>
				<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
			<li>
				<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
			<li>
				<a class="scroll-to" href="?vianocne-akcie#sec-9">VIANOČNÉ AKCIE</a></li>
			<li>
				<a class="scroll-to" href="#sec-4">TELEFÓNY</a></li>
			<li>
				<a class="scroll-to" href="#sec-5">DOPLNKOVÉ SLUŽBY</a></li>
			<li>
				<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="https://www.telekom.sk/documents/10179/521661/arrow-top.png" /></a></li>
		</ul>
	</div>
</div>
<section id="sec-1">
	<div class="pozadie1">
		<div class="obalka">
			<h2 class="velkyNadpis">
				VÝHODY PEVNEJ LINKY</h2>
			<div class="jedna3">
				<img class="tac" src="../assets/img/telefon.png" />
				<h3 class="tac">
					Neobmedzené volania</h3>
				<p class="tac">
					Užívajte si neobmedzené volania na mobily, do pevných sietí a Európskej únie z pohodlia svojho domova.</p>
			</div>
			<div class="jedna3 stred">
				<img class="tac" src="../assets/img/domcek.png" />
				<h3 class="tac">
					Spoľahlivosť a kvalita</h3>
				<p class="tac">
					S rokmi overenou Pevnou linkou od Telekomu sa môžete spoľahnúť na stabilné pripojenie s vysoko kvalitným zvukom.</p>
			</div>
			<div class="jedna3">
				<img class="tac" src="../assets/img/slovensko.png" />
				<h3 class="tac">
					Široká dostupnosť v celej SR</h3>
				<p class="tac">
					Pevnú linku vieme zriadiť takmer na celom Slovensku. Overte si dostupnosť v prvom kroku nákupného košíka</p>
			</div>
		</div>
	</div>
</section>
<section id="sec-2">
	<div class="pozadie2">
		<div class="obalka">
			<h2 class="velkyNadpis">
				SLUŽBY A CENY PEVNEJ LINKY</h2>
			<p class="tac">
				Pevná linka sa dá objednať v Chytrom balíku samostatne alebo za výhodnejšiu cenu <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik">s internetom a/alebo televíziou</a></p>
			<div class="jedna3medzera tac">
				<h3 class="tac">
					PEVNÁ LINKA M</h3>
				<hr />
				<h5 class="tac neobmedzene-volania-m">
					Neobmedzené volania<img alt="" src="/documents/10179/566026/icko.png" style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
				<p class="tac weight-400">
					do pevných sietí v SR<br />
					a do mobilnej siete Telekom</p>
				<br />
				<h5 class="tac">
					100 minút</h5>
				<p class="tac weight-400">
					do ostatných mobilných sietí v SR<br />
					a do Európskej únie</p>
				<br />
				<br />
				<hr />
				<h5 class="tac">
					10,00 € / mesačne</h5>
				<!--p class="tac"><a href="#">s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</a></p--><br />
				<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik"><span>VYBRAŤ</span></a><br />
				<a class="blue-link" href="/pevna-linka-m">Viac info</a></div>
			<div class="jedna3medzera stred tac">
				<h3 class="tac">
					PEVNÁ LINKA L</h3>
				<hr />
				<h5 class="tac neobmedzene-volania-l">
					Neobmedzené volania<img alt="" src="/documents/10179/566026/icko.png" style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
				<p class="tac weight-400">
					do všetkých pevných<br />
					a mobilných sietí v SR</p>
				<br />
				<h5 class="tac">
					400 minút</h5>
				<p class="tac weight-400">
					do Európskej únie<br />
					&nbsp;</p>
				<br />
				<br />
				<hr />
				<h5 class="tac">
					15,00 € / mesačne</h5>
				<!--p class="tac"><a href="#">s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</a></p--><br />
				<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?linka=l"><span>VYBRAŤ</span></a><br />
				<a class="blue-link" href="/pevna-linka-l">Viac info</a></div>
			<div class="jedna3medzera tac">
				<h3 class="tac">
					PEVNÁ LINKA XL</h3>
				<hr />
				<h5 class="tac neobmedzene-volania-xl">
					Neobmedzené volania<img alt="" src="/documents/10179/566026/icko.png" style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
				<p class="tac weight-400">
					do všetkých pevných<br />
					a mobilných sietí v SR</p>
				<br />
				<h5 class="tac neobmedzene-volania-xl">
					NEOBMEDZENÉ VOLANIA<img alt="" src="/documents/10179/566026/icko.png" style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
				<p class="tac weight-400">
					do Európskej únie</p>
				<br />
				<h5 class="tac">
					200 minút</h5>
				<p class="tac weight-400">
					do sveta</p>
				<hr />
				<h5 class="tac">
					20,00 € / mesačne</h5>
				<!--p class="tac"><a href="#">s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</a></p--><br />
				<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?linka=xl"><span>VYBRAŤ</span></a><br />
				<a class="blue-link" href="/pevna-linka-xl">Viac info</a></div>
			<p class="tac">
				Všetky uvedené ceny sú vrátane DPH.<br />
				Neobmedzené hovory vám poskytujeme vďaka zásadám férového používania. Pre paušál M &nbsp;- 1000 minút &nbsp;do mobilnej siete Telekom., pre paušál&nbsp;L &nbsp;- 1000 minút &nbsp;do mobilných sietí v SR, pre paušál&nbsp;XL - 1000 minút &nbsp;do mobilných sietí v SR a 1000 minút &nbsp;do EÚ.</p>
			<br />
			<div id="cmb__holder">
				&nbsp;</div>
			<!--
                                    <div class="modrePole tac" id="cmb__block">
                                            <h2 class="velkyNadpis">
                                                    CHCETE VÝHODNEJŠIU PONUKU?</h2>
                                            <a class="btn cta" href="/volania/happy?sluzby-a-ceny#" id="cmb__btn"><span>ÁNO, ZAVOLAJTE MI SPÄŤ</span></a>
                                    </div>
                                    --></div>
	</div>
	<div class="pozadie3">
		<div class="obalka">
			<h2 class="velkyNadpis">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
			<div class="jedna3">
				<img class="tac" src="/documents/10179/5213087/ico-discount.png" />
				<p class="tac">
					<strong>Extra zľava 10 €</strong><br />
					pri kúpe Magio internetu cez web. V kombinácii s televíziou a Pevnou linkou zľava až do 30 €.</p>
			</div>
			<div class="jedna3 stred">
				<img class="tac" src="/documents/10179/5213087/ico-cal.png" />
				<p class="tac">
					<strong>Prvých 14 dní bez záväzkov</strong><br />
					pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
			</div>
			<div class="jedna3">
				<img class="tac" src="/documents/10179/5213087/ico-car.png" />
				<p class="tac">
					<strong>Doručenie kuriérom zadarmo</strong><br />
					kdekoľvek v rámci SR</p>
			</div>
		</div>
	</div>
</section>
<!-- <section class="section sec-aktualneAkcie" id="sec-3">
    <div class="fixed-column">
        <h2 class="section__title">
            AKTUÁLNE AKCIE k MAGIO TV, INTERNETU a PEVNEJ LINKE</h2>
        <div class="col-group">
            <div class="box__sales box_full box_flex">
                <div class="box__imgHolder">
                    <img alt="Samsung LED TV" class="box__img" src="/documents/10179/669910/prod-1.png" /></div>
                <div class="box_txtHolder">
                    <p class="box__title">
                        FULL HD LED TELEVÍZOR Samsung od 6 € mesačne</p>
                    <p class="box__desc">
                        alebo Xbox One s revolučnou technológiou Kineckt či notebook Lenovo IdeaPad v nadštandardnom prevedení!</p>
                    <a class="button box__btn" href="/magio-tv-akcia">VIAC INFO</a></div>
            </div>
            <div class="box__sales box_full" style="margin: 1% 0;">
                <p class="box__title">
                    VYUŽITE 100 % zľavU na faktúru za jeden mesiac</p>
                <a class="box__link box__moreInfo" href="/odporucte-zakaznika">Viac info</a></div>
            <div class="box__sales box_full">
                <a class="rightGreenLink" href="/viac-za-menej">ZÍSKAJTE VYŠŠIU SLUŽBU ZA CENU NIŽŠEJ <img alt="Arrow" class="img__arrowCirlcle" src="/documents/10179/669910/ico-roundArrow.png" /></a></div>
        </div>
    </div>
</section> -->
<section class="section sec-9 xmas-bg" id="sec-9">
	<div class="container-fixed">
		<div class="row">
			<h2 class="velkyNadpis">
				VIANOČNÉ AKCIE</h2>
			<div class="offer__wrapper">
				<div class="sub-offer-chris">
					<div class="tabs-container">
						<div class="tab__holder">
							<ul class="tabs-menu">
								<li class="variant current" data-variant="2">
									<a href="#tab-2">Zariadenie od 1 €</a></li>
								<li class="variant" data-variant="3">
									<a href="#tab-3">Bezdrôtová domácnosť</a></li>
							</ul>
						</div>
						<div class="tab">
							<div class="tab-content" id="tab-2" style="display: block;">
								<p class="tab-label">
									ZARIADENIA OD 1€</p>
								<div class="tab-help">
									<div class="tab-help-sub">
										<div class="tab-help-title">
											<h2>
												<strong>Ako získať zariadenie od 1 € k Pevnej linke?</strong></h2>
										</div>
										<p>
											1. Vyberte si ľubovolné zariadenie.</p>
										<p>
											2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu, Magio TV alebo Pevnej linky a získate viac informácií.</p>
										<p>
											3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko Vám doručíme kuriérom.</p>
									</div>
									<div class="tab-icons">
										<img src="/documents/10179/5213087/icon1.png" />
										<p>
											EXTRA WEB ZĽAVA</p>
									</div>
									<div class="tab-icons">
										<img src="/documents/10179/5213087/icon2.png" />
										<p>
											14 DNÍ BEZ ZÁVÄZKOV</p>
									</div>
								</div>
								<div class="tab-acc">
									<div class="tab-acc-sub" data-href="notebook-lenovo-ideapad-110">
										<div class="tab-img-cont" style="padding: 20px;">
											<img src="/documents/10179/5213087/ntbk_lenovo.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/notebook-lenovo-ideapad-110">Notebook Lenovo<br />
												IdeaPad 110</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/notebook-lenovo-ideapad-110">&gt;</a></div>
											<div class="tab-ex">
												<p>
													Napr. s pevnými službami XL:</p>
												<p>
													<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Pevná služba XL</div>
													<div class="tab-ex-price">
														20,00 €</div>
												</div>
												<div class="tab-web-disc">
													<div class="tab-ex-label">
														<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
													<div class="tab-ex-price">
														-5,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														9,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														1,00 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/notebook-lenovo-ideapad-110">Prejsť k nákupu</a></div>
										</div>
									</div>
									<!-- VYPNUTE <div class="tab-acc-sub" data-href="playstation4-hry">
										<div class="tab-img-cont">
											<img src="/documents/10179/5213087/ps4.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/playstation4-hry">Sony PlayStation 4 Slim<br />
												+ 3 hry a PS Plus na 90 dní</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/playstation4-hry">&gt;</a></div>
											<div class="tab-ex">
												<p>
													Napr. s pevnými službami XL:</p>
												<p>
													<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Pevná služba XL</div>
													<div class="tab-ex-price">
														20,00 €</div>
												</div>
												<div class="tab-web-disc">
													<div class="tab-ex-label">
														<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
													<div class="tab-ex-price">
														-5,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														9,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														1,00 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/playstation4-hry">Prejsť k nákupu</a></div>
										</div>
									</div> -->
									<div class="tab-acc-sub" data-href="lenovo-moto-g5s-plus">
										<div class="tab-img-cont">
											<img class="change-width" src="/documents/10179/5213087/MotoG5.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/lenovo-moto-g5s-plus">Mobil Lenovo Moto G5s Plus</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/lenovo-moto-g5s-plus">&gt;</a></div>
											<div class="tab-ex">
												<p>
													Napr. s pevnými službami XL:</p>
												<p>
													<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Pevná služba XL</div>
													<div class="tab-ex-price">
														20,00 €</div>
												</div>
												<div class="tab-web-disc">
													<div class="tab-ex-label">
														<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
													<div class="tab-ex-price">
														-5,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														9,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														1,00 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/lenovo-moto-g5s-plus">Prejsť k nákupu</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-content" id="tab-3">
								<p class="tab-label">
									BEZDRÔTOVÁ DOMÁCNOSŤ</p>
								<div class="tab-help">
									<div class="tab-help-sub">
										<div class="tab-help-title">
											<h2>
												<strong>Ako získať zariadenia pre bezdrôtovú domácnosť k Pevnej linke?</strong></h2>
										</div>
										<p>
											1. Vyberte si ľubovolné zariadenie.</p>
										<p>
											2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu, Magio TV alebo Pevnej linky a získate viac informácií.</p>
										<p>
											3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko Vám doručíme kuriérom.</p>
									</div>
									<div class="tab-icons">
										<img src="/documents/10179/5213087/icon1.png" />
										<p>
											EXTRA WEB ZĽAVA</p>
									</div>
									<div class="tab-icons">
										<img src="/documents/10179/5213087/icon2.png" />
										<p>
											14 DNÍ BEZ ZÁVÄZKOV</p>
									</div>
								</div>
								<div class="tab-acc">
									<div class="tab-acc-sub" data-href="sluchadla-mys">
										<div class="tab-img-cont" style="padding: 10px;">
											<img src="/documents/10179/5213087/hp.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_4.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/sluchadla-mys">Bezdrôtové slúchadlá s<br />
												mikrofónom + bezdrôtová myš</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/sluchadla-mys">&gt;</a></div>
											<div class="tab-ex">
												<p>
													K ľubovolnej pevnej službe:</p>
												<div>
													<div class="tab-ex-label">
														Mesačný doplatok ku službe</div>
													<div class="tab-ex-price">
														0 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														9,90 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/sluchadla-mys">Prejsť k nákupu</a></div>
										</div>
									</div>
									<div class="tab-acc-sub" data-href="glitel-gp-7420">
										<div class="tab-img-cont">
											<img class="change-width" src="/documents/10179/5213087/glitel7420.jpg" style="max-width: 180px;" /><br />
											<img class="change-width" src="/documents/10179/5213087/icon3.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_4.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/glitel-gp-7420">Powerline Extender<br />
												Glitel GP-7420</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/glitel-gp-7420">&gt;</a></div>
											<div class="tab-ex">
												<p>
													K ľubovolnej pevnej službe:</p>
												<div>
													<div class="tab-ex-label">
														Mesačný doplatok ku službe</div>
													<div class="tab-ex-price">
														0 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														9,90 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/glitel-gp-7420">Prejsť k nákupu</a></div>
										</div>
									</div>
									<div class="tab-acc-sub" data-href="tplink-tlwpa-4220">
										<div class="tab-img-cont">
											<img class="change-width" src="/documents/10179/5213087/tplink4220.png" /><br />
											<img class="change-width" src="/documents/10179/5213087/icon4.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_5.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/tplink-tlwpa-4220">Powerline Wi-Fi Extender<br />
												TP-Link TL-WPA4220 Starter Kit</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/tplink-tlwpa-4220">&gt;</a></div>
											<div class="tab-ex">
												<p>
													K ľubovolnej pevnej službe:</p>
												<div>
													<div class="tab-ex-label">
														Mesačný doplatok ku službe</div>
													<div class="tab-ex-price">
														0 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														19,90 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/tplink-tlwpa-4220">Prejsť k nákupu</a></div>
										</div>
									</div>
									<div class="tab-mag-go">
										<h2>
											TELEVÍZIA KDEKOĽVEK</h2>
										<p>
											MAGIO GO TV BOX</p>
										<div class="tab-mag-go-1">
											<img src="/documents/10179/5213087/magio_box.png" width="80%" /> <img class="sticker-picture" src="/documents/10179/5213087/wording_3.png" /></div>
										<div class="tab-mag-go-2">
											<a class="btn popup" href="#info-magio-box">VIAC INFO</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--<p class="legal-text">
					Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie balíčka služieb Magio Internet a Magio Televízia oboje v programe L alebo XL a s dobou viazanosti 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 13 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy. Akciová cena zariadení, ktoré sú predávané v danom balíčku, je platná len pri zakúpení daného balíčka ako celku.</p>-->
				<div class="dph">
					<p>Uvedené ceny sú s DPH</p>
				</div>
				<div id="cont_legal">
					<p class="legal-text">PODMIENKY</p>
					<p class="legal-text">Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie služby Televízie, Internetu alebo Hlasovej služby v programe L alebo XL, s viazanosťou 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 9 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy.</p>
				</div>
			</div>
			<div class="offer__wrapper">
				<!--<div class="offer-box box-1">
					<div class="offer__wrapper ">
						<div class="left-holder">
							<img alt="" src="/documents/10179/5209263/detskytabletm.png" style="width: inherit; margin-left: 25%;" /></div>
						<div class="right-holder">
							<h3 class="main-offer__title">
								TABLET OD 1 €</h3>
							<p class="main-offer__desc">
								Kvalitný tablet s voliteľnou aplikáciou KIDOZ s jednoduchým ovládaním pre deti.</p>
							<a class="btn cta" href="/detsky-tablet">ZISTIŤ VIAC</a></div>
					</div>
				</div>-->&nbsp;

				<!-- OSTATNÉ AKCIE -->
				<h2 class="akcie_title">OSTATNÉ AKCIE</h2>
				<div class="offer-box box-2">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h4 class="offer__title">
								CHCETE VIAC ZA MENEJ?</h4>
							<p class="offer__desc">
								Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
							<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a>
						</div>

						<div class="right-holder">
								<!-- <img alt="" src="../assets/img/prod-eset.jpg" /> -->
					</div>

					</div>
				</div>

				<!-- <div class="offer-box_no-border box-2">
					<div class="offer__wrapper">
						<div class="left-holder">
							<img alt="" src="/documents/10179/5209263/prod-bat.png" /></div>
						<div class="right-holder">
							<h4 class="offer__title">
								Darček ku každému nákupu!</h4>
							<p class="offer__desc">
								Externú batériu ako darček vám pribalíme ku každému nákupu.</p>
						</div>
					</div>
				</div> -->

				<div class="offer-box box-3 hidden" style="margin-top: 20px;width: 100%;">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h3 class="offer__title">
								Notebook od 1 €</h3>
							<p class="offer__desc">
								Kvalitny notebook HP 250 G5 pri objednaní niektorej zo služieb pevnej siete</p>
							<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">OBJEDNAŤ</a></div>
						<div class="right-holder">
							<img alt="" src="/documents/10179/5213087/offer-nb.jpg" /></div>
					</div>
				</div>

			</div>
			<div class="sub-offer__holder">
				<div class="sub-offer so__1" style="display: none;">
					<h5 class="so__title">
						Notebook Lenovo už od 1 €!</h5>
					<p class="so__desc">
						Vezmite si k Magio TV, internetu alebo Pevnej linke 11" notebook Lenovo IdeaPad 100S už od 1 €!</p>
					<a class="link so__link" href="/vianocna-ponuka/notebook-lenovo-ideapad-100-s">Zistiť viac o tejto akcii</a></div>
				<div class="sub-offer so__2" style="display: none;">
					<h5 class="so__title" style="margin-bottom: 20px;">
						Unikátne tablety len za 1 €</h5>
					<!--<p class="so__desc">
                        Získajte špeciálny Tablet na doma alebo Detský tablet len za 1 €!</p>
                    <a class="link so__link sol_ico" href="/vianocna-ponuka/tablet-na-doma"><img alt="" src="/documents/10179/5209263/ico-home.png" />Viac o Tablete na doma</a><br />--><a class="link so__link sol_ico" href="/vianocna-ponuka/detsky-tablet"><img alt="" src="/documents/10179/5209263/ico-tedy.png" />Viac o Detskom tablete</a></div>
				<div class="sub-offer so__3 offer-box" style="display: none;">
					<h5 class="so__title">
						Chcete viac za menej?</h5>
					<p class="so__desc">
						Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
					<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a></div>
				<!--<div class="offer__wrapper box-7-outer">
					<div class="offer-box_no-border box-7">
						<div class="right-holder">
							<h4 class="offer__title">
								NOTEBOOK ALEBO PC K MAGIO INTERNETU UŽ OD 1€</h4>
							<p class="offer__desc">
								Získajte výkonný notebook alebo PC (all-in-one) za výhodnú cenu.</p>
							<a class="cta btn" href="/notebook-pocitac-za-euro">Viac info</a></div>
					</div>
				</div>-->

				<!-- <div class="offer__wrapper box-6-outer">
					<div class="offer-box_no-border box-6">
						<div class="right-holder">
							<h4 class="offer__title">
								CHCETE VIAC ZA MENEJ?</h4>
							<p class="offer__desc">
								Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
							<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a></div>
					</div>
				</div> -->

			</div>
		</div>
	</div>
</section>
<section class="section sec-4" id="sec-4">
	<div class="pozadie4 ">
		<div class="obalka tac">
			<h2 class="velkyNadpis">
				TELEFÓNY K PEVNEJ LINKE</h2>
			<div class="jedna2">
				<img class="tac" src="../assets/img/techRetro.jpg" style="width: 233px; height: 153px;" />
				<p class="tac">
					<strong>Vtech Retro</strong><br />
					Štýlový bezšnúrový telefón v retro štýle s podsvieteným LCD displejom a pamäťou na 50 mien s čísel + 50 volaní. Súčasťou je možnosť hlasitého telefonovania s funkciou stíšenia.</p>
				<a class="btn cta" href="/volania/pevna-linka/vtech-retro"><span>VIAC INFO</span></a></div>
			<div class="jedna2 posledna">
				<img class="tac" src="../assets/img/philipsLuceo.jpg" />
				<p class="tac">
					<strong>Philips Luceo</strong><br />
					Neodolateľný bezšnúrový telefón so štíhlou siluetou a kvalitnou povrchovou úpravou rúca predstavy o dizajne telefónov. Philips Luceo sa vyníma ako elegantné umelecké dielo.</p>
				<a class="fancy btn cta" href="#mira-m550"><span>VIAC INFO</span></a></div>
			<br class="clearer" />
			<br />
			<hr />
			<br class="clearer" />
			<div class="jedna4">
				<img class="tac" src="https://www.telekom.sk/documents/10179/80451/telco_ph.png/6fabe378-7c3f-46b1-b83a-e19bd7e9e6f1?t=1470314943499" />
				<p class="tac">
					<strong>Telco PH – 895</strong><br />
					Vďaka napájaniu z telefónnej linky nepotrebuje tento telefón batérie, ani sieťový adaptér.</p>
				<a class="fancy" href="#telco-ph-883">Viac info</a></div>
			<div class="jedna4">
				<img class="tac" src="../assets/img/gigasetA.jpg" />
				<p class="tac">
					<strong>Gigaset A220</strong><br />
					Telefón s funkciou hlasitého telefonovania. Využiť môžete úsporu energie s funkciou ECO DECT.</p>
				<a class="fancy" href="#gigaset-a220">Viac info</a></div>
			<div class="jedna4">
				<img class="tac" src="../assets/img/panasonicKX.jpg" />
				<p class="tac">
					<strong>Panasonic KX-TG1711</strong><br />
					Ľahko použiteľný telefón s pamäťou na 50 mien s číslami, podsvieteným LCD displejom a budíkom.</p>
				<a class="fancy" href="#panasonic-kx-tg1711">Viac info</a></div>
			<div class="jedna4 posledna">
				<img class="tac" src="../assets/img/gigasetC.jpg" />
				<p class="tac">
					<strong>Gigaset C530</strong><br />
					Bezdrôtový telefón s kvalitným zvukom, jednoduchým ovládaním a moderným vzhľadom.</p>
				<a class="fancy" href="#gigaset-c530">Viac info</a></div>
		</div>
	</div>
</section>
<section class="section" id="sec-5">
	<div class="pozadie4">
		<div class="obalka tac">
			<h2 class="velkyNadpis">
				DOPLNKOVÉ SLUŽBY</h2>
			<div class="jedna3">
				<img class="tac" src="../assets/img/09.png" />
				<h3 class="tac">
					CLIP a CLIR</h3>
				<p class="tac">
					Aj na Pevnej linke môžete bezplatne využívať službu CLIP, s ktorou vidíte, aké číslo vám volá alebo CLIR, ktorý zabráni zobrazovaniu vášho čísla.</p>
			</div>
			<div class="jedna3 stred">
				<img class="tac" src="../assets/img/sipka.png" />
				<h3 class="tac">
					Presmerovanie volania</h3>
				<p class="tac">
					Ak čakáte na dôležitý hovor a nie ste doma, využite presmerovanie volania napr. na mobil, ktorý máte so sebou.</p>
			</div>
			<div class="jedna3">
				<img class="tac" src="../assets/img/x.png" />
				<h3 class="tac">
					Zachytenie zlomyseľných a výhražných volaní</h3>
				<p class="tac">
					S pomocou tejto služby identifikujete telefónne číslo, z ktorého sa uskutočnilo zlomyseľné volanie.</p>
			</div>
			<br class="clearer" />
			<br />
			<br />
			<a href="/documents/10179/118685/doplnkove_sluzby_navod.pdf/b8231234-6db6-46f1-8ee7-e7c9326d6065"><img src="../assets/img/ikonaSuboru.png" /> Ostatné doplnkové služby a návod na ich aktiváciu</a></div>
	</div>
</section>
<div class="detail">
	<div class="detail-lightbox" id="telco-ph-883">
		<div class="detail-header">
			Telco PH - 895</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="https://www.telekom.sk/documents/10179/521661/telco_ph.png" style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">1,00 € <span class="price-small">/ jednorázovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 3,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">vlastnosti</span><br />
				<ul class="list-square">
					<li>
						Zobrazenie telefónneho čísla volajúceho na displaji(CLIP)</li>
					<li>
						61 - miestna pamäť prichádzajúcich volaní</li>
					<li>
						16 - miestna pamäť odchádzajúcich volaní</li>
					<li>
						3 jednodotykové pamäte</li>
					<li>
						Nastavenie kontrastu displeja</li>
					<li>
						Svetelná indikácia zvonenia</li>
					<li>
						Možnosť montáže na stenu</li>
				</ul>
				<br />
				<span class="detail-vlastnost">farba </span><br />
				Tmavá</div>
		</div>
	</div>
	<div class="detail-lightbox" id="gigaset-a220">
		<div class="detail-header">
			Gigaset A220</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="https://www.telekom.sk/documents/10179/521661/gigaset_a220_detail.png" style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">1,00 € <span class="price-small">/ jednorázovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 9,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">vlastnosti</span><br />
				<ul class="list-square">
					<li>
						Používateľsky príjemné tlačidlá s citlivými bodmi stlačenia</li>
					<li>
						Hlasité telefonovanie s podsvieteným tlačidlom hlasitého telefonovania</li>
					<li>
						Plug &amp; play inštalácia: slúchadlo je vopred zaregistrované na základňovej stanici</li>
					<li>
						Režim ECO Mode Plus bez vyžarovania</li>
					<li>
						Priame vytáčanie</li>
					<li>
						Automatická predvoľba operátora</li>
					<li>
						10 - miestna pamäť odchádzajúcich hovorov</li>
					<li>
						Kopírovanie telefónneho zoznamu cez DECT</li>
					<li>
						Adresár s 80 položkami</li>
					<li>
						Dosah v interiéri: 50m</li>
					<li>
						Dosah v exteriéri: 300m</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Displej a funkcie menu</span><br />
				<ul class="list-square">
					<li>
						Zobrazenie stavu nabitia akumulátorov</li>
					<li>
						Zobrazenie dĺžky hovoru</li>
					<li>
						Zobrazenie poplatkov za hovor</li>
					<li>
						Zobrazenie dátumu a času</li>
					<li>
						25 - miestny zoznam stratených volaní s dátumom a časom</li>
					<li>
						Zobrazenie čísla volajúceho(CLIP)</li>
					<li>
						Jednoduché textové menu</li>
					<li>
						Grafický displej</li>
					<li>
						Možnosť nastavenia menu v 28 jazykoch</li>
				</ul>
				<br />
				<span class="detail-vlastnost">eco dect</span><br />
				<ul class="list-square">
					<li>
						Až do 60% zníženie spotreby elektrickej energie</li>
					<li>
						Zníženie vysielacieho výkonu až takmer na nulu v prípade, ak je slúchadlo v základni</li>
					<li>
						Režim Eco Plus bez vyžarovania</li>
				</ul>
				<br />
				<span class="detail-vlastnost">klávesnica</span><br />
				<ul class="list-square">
					<li>
						Navigačné tlačidlo</li>
					<li>
						Osvetlená klávesnica</li>
					<li>
						Farba podsvietenia: zelená</li>
				</ul>
				<br />
				<span class="detail-vlastnost">ostatné</span><br />
				<ul class="list-square">
					<li>
						Možnosť montáže na stenu</li>
					<li>
						Napájanie: 2xAAA</li>
					<li>
						Funkcia šifrovania prenosu reči</li>
					<li>
						Nastaviteľná hlasitosť slúchadla</li>
					<li>
						10 vyzváňacích melódií</li>
				</ul>
				<br />
				<span class="detail-vlastnost">technické údaje</span><br />
				<ul class="list-square">
					<li>
						Standards DECT a GAP</li>
					<li>
						Rozmery slúchadla(V x Š x H v mm): 151 x 47 x 31</li>
					<li>
						Rozmery základne(V x Š x H v mm): 89 x 80 x 61</li>
					<li>
						Rozmery nabíjacej základne(V x Š x H v mm): 75 x 69 x 38</li>
				</ul>
				<br />
				<span class="detail-vlastnost">farba </span><br />
				Čierna</div>
		</div>
	</div>
	<div class="detail-lightbox" id="panasonic-kx-tg1711">
		<div class="detail-header">
			Panasonic KX-TG1711</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="https://www.telekom.sk/documents/10179/521661/panasonic_kxtg1711_detail.png" style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">4,90 € <span class="price-small">/ jednorazovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 9,90 € / jednorazovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">funkcie</span><br />
				<ul class="list-square">
					<li>
						Bezdrôtový, jednoduchý a ľahko použiteľný</li>
					<li>
						Zobrazenie čísla volajúceho(CLIP)</li>
					<li>
						Pamäť na 50 staníc so zobrazením čísla volajúceho</li>
					<li>
						Ľahko čitateľný podsvietený LCD displej</li>
					<li>
						Jednoduché ovládanie navigačným tlačidlom</li>
					<li>
						Prvotriedna povrchová úprava (slúchadlo bez šmúh)</li>
					<li>
						50 - miestny telefónny zoznam</li>
					<li>
						10 - miestna pamäť na opakovanie voľby</li>
					<li>
						Voliteľné vyzváňacie melódie</li>
					<li>
						Konferenčné hovory</li>
					<li>
						Domáci telefón (slúchadlo - slúchadlo)</li>
					<li>
						Zdieľanie hovoru</li>
					<li>
						Budík a hodiny</li>
					<li>
						Príjem hovoru ktorýmkoľvek tlačidlom</li>
					<li>
						Nabíjateľná Ni-MH batéria</li>
					<li>
						Možná inštalácia na stenu</li>
				</ul>
				<br />
				<span class="detail-vlastnost">technické údaje</span><br />
				<ul class="list-square">
					<li>
						Rozmery slúchadla(V x Š x H v mm): 151 x 47 x 31</li>
					<li>
						Rozmery základne(V x Š x H v mm): 89 x 80 x 61</li>
					<li>
						Rozmery nabíjacej základne(V x Š x H v mm): 75 x 69 x 38</li>
				</ul>
				<br />
				<span class="detail-vlastnost">farba </span><br />
				Čierna</div>
		</div>
	</div>
	<div class="detail-lightbox" id="gigaset-c530">
		<div class="detail-header">
			Gigaset C530</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="https://www.telekom.sk/documents/10179/521661/gigaset_c550_detail.png" style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">9,90 € <span class="price-small">/ jednorázovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 19,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">funkcie</span><br />
				<ul class="list-square">
					<li>
						Veľký 1,8" farebný TFT displej má na výber dva farebné motívy</li>
					<li>
						Jednoduché možnosti prispôsobenia tónov zvonenia, šetriča<br />
						obrazovky a zvukových profilov</li>
					<li>
						Veľký telefónny zoznam s vyhľadávaním na 150 záznamov, každý obsahuje celé meno,<br />
						3 čísla, tón zvonenia a pripomenutie narodením</li>
					<li>
						210 - miestna pamäť na posledné volané čísla</li>
					<li>
						Kopírovanie telefónneho zoznamu cez DECT</li>
					<li>
						Pohotovostný režim: 320 h</li>
					<li>
						Dĺžka hovoru: 14 h</li>
					<li>
						Monitorovanie miestností</li>
					<li>
						Pripomienkovač</li>
					<li>
						Alarm</li>
					<li>
						Plug-and-play inštalácia</li>
					<li>
						Dosah v interiéri: 50m</li>
					<li>
						Dosah v exteriéri: 300m</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Displej a funkcie menu</span><br />
				<ul class="list-square">
					<li>
						Zobrazenie stavu nabitia akumulátorov</li>
					<li>
						Zobrazenie dĺžky hovoru</li>
					<li>
						Zobrazenie dosahu (od slúchadla k základni)</li>
					<li>
						Zobrazenie dátumu a času</li>
					<li>
						20 - miestny zoznam stratených volaní s dátumom a časom</li>
					<li>
						Zobrazenie čísla volajúceho(CLIP)</li>
					<li>
						Jednoduché textové a ikonovité menu</li>
					<li>
						Rozlíšenie displeja: 28x160 px</li>
					<li>
						Farebný a podsvietený displej</li>
					<li>
						Možnosť nastavenia menu v 25 jazykoch</li>
				</ul>
				<br />
				<span class="detail-vlastnost">eco dect</span><br />
				<ul class="list-square">
					<li>
						Až do 60% zníženie spotreby elektrickej energie</li>
					<li>
						Zníženie vysielacieho výkonu až takmer na nulu v prípade, ak je slúchadlo v základni</li>
					<li>
						Režim Eco Plus bez vyžarovanie</li>
					<li>
						ECO Mode</li>
				</ul>
				<br />
				<span class="detail-vlastnost">klávesnica</span><br />
				<ul class="list-square">
					<li>
						Navigačné tlačidlo a tlačidlo zobrazujúce správu</li>
					<li>
						Farba podsvietenia: žltá</li>
				</ul>
				<br />
				<span class="detail-vlastnost">ostatné</span><br />
				<ul class="list-square">
					<li>
						Možnosť montáže na stenu</li>
					<li>
						Napájanie: 2xAAA</li>
					<li>
						Funkcia šifrovania prenosu reči</li>
				</ul>
				<br />
				<span class="detail-vlastnost">zvuk</span><br />
				<ul class="list-square">
					<li>
						Individuálne vyzváňacie melódie pre VIP položky</li>
					<li>
						Technológia HSP<sup>TM</sup> pre vynikajúcu kvalitu zvuku</li>
					<li>
						Nastaviteľná hlasitosť slúchadla</li>
				</ul>
				<br />
				<span class="detail-vlastnost">technické údaje</span><br />
				<ul class="list-square">
					<li>
						Standards DECT a GAP</li>
					<li>
						Rozmery slúchadla(V x Š x H v mm): 151 x 26 x 49</li>
					<li>
						Rozmery základne(V x Š x H v mm): 103 x 126 x 43</li>
					<li>
						Rozmery nabíjacej základne(V x Š x H v mm): 75 x 71 x 36</li>
				</ul>
				<br />
				<span class="detail-vlastnost">farba </span><br />
				Čierna</div>
		</div>
	</div>
	<div class="detail-lightbox" id="mira-m550">
		<div class="detail-header">
			Philips Luceo</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="/documents/10179/547644/phillips-luceo2.jpg/cd302a88-f2cd-4668-9530-e8479938b3f1" style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">14,90 € <span class="price-small">/ jednorázovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 29,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">stručná charakteristika</span><br />
				<ul class="list-square">
					<li>
						Pohodlné mušle slúchadla pre dlhšie hovory</li>
					<li>
						Pevná a vysoko lesklá vonkajšia schránka odolná voči odtlačkom prstov</li>
					<li>
						Kalibrovaná klávesnica na jednoduché a presné zadávanie</li>
					<li>
						Bezproblémové nabíjanie slúchadla z ktorejkoľvek strany</li>
					<li>
						Elegantný a štýlový vzhľad z každého uhla</li>
					<li>
						Dômyselné usporiadanie káblov</li>
					<li>
						Špičková kvalita zvuku s pokročilým vyladením</li>
					<li>
						Telefónny zoznam na 100 kontaktov</li>
					<li>
						Ľahko čitateľný, 2-riadkový grafický displej</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Displej a funkcie menu</span><br />
				<ul class="list-square">
					<li>
						Zobrazenie stavu nabitia akumulátorov</li>
					<li>
						Zobrazenie dĺžky hovoru</li>
					<li>
						Zobrazenie dosahu (od slúchadla k základni)</li>
					<li>
						Zobrazenie dátumu a času</li>
					<li>
						20 - miestny zoznam stratených volaní s dátumom a časom</li>
					<li>
						Zobrazenie čísla volajúceho(CLIP)</li>
					<li>
						Jednoduché textové a ikonovité menu</li>
					<li>
						Rozlíšenie displeja: 28x160 px</li>
					<li>
						Farebný a podsvietený displej</li>
					<li>
						Možnosť nastavenia menu v 25 jazykoch</li>
				</ul>
				<br />
				<span class="detail-vlastnost">zvuk</span><br />
				<ul class="list-square">
					<li>
						10 polyfonických zvonení na slúchadle</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Obraz / Displej</span><br />
				<ul class="list-square">
					<li>
						Veľkosť displeja: 3,4 cm / 1,6"</li>
					<li>
						Typ displeja: dvojriadkový grafický + pevné ikony</li>
					<li>
						Podsvietenie bielou farbou</li>
				</ul>
				<br />
				<span class="detail-vlastnost">vybavenie a vlastnosti</span><br />
				<ul class="list-square">
					<li>
						Hlasitý odposluch</li>
					<li>
						Štruktúra ponúk v slúchadle</li>
					<li>
						Indikátor intenzity signálu</li>
					<li>
						Indikátor úrovne nabitia batérie</li>
					<li>
						Zobrazenie dátumu a času</li>
					<li>
						Indikátor stavu batérie</li>
					<li>
						Indikátor sily signálu</li>
					<li>
						Programovateľné klávesové skratky</li>
					<li>
						Automatické zloženie</li>
					<li>
						Vypnutie / zapnutie tónu tlačidiel</li>
					<li>
						Identifikácia volajúceho</li>
					<li>
						Pri viacerých slúchadlách možnosť použiť ako domáci telefón</li>
					<li>
						Dĺžka linkového kábla: 1,8m</li>
					<li>
						Dĺžka napájacieho kábla: 1,8m</li>
					<li>
						Čas nabíjania: 8 hodín</li>
					<li>
						Čas hovoru: 16 hodín</li>
					<li>
						Až 250 hodín pohotovostného stavu</li>
					<li>
						Dosah v interiéri: &lt; 50m</li>
					<li>
						Dosah v exteriéri: &lt; 300m</li>
					<li>
						Uzamknutie klávesnice</li>
				</ul>
				<br />
				<span class="detail-vlastnost">pamäť</span><br />
				<ul class="list-square">
					<li>
						Telefónny zoznam: 100 mien a čísel</li>
					<li>
						Kapacita zoznamu opät. vyt.: 20 záznamov</li>
					<li>
						Záznamy hovorov: 50 záznamov</li>
					<li>
						Ukladanie telefónneho zoznamu do základne</li>
				</ul>
				<br />
				<span class="detail-vlastnost">ekologický dizajn</span><br />
				Eco+<br />
				<br />
				<span class="detail-vlastnost">príkon</span><br />
				<ul class="list-square">
					<li>
						Kapacita batérií: 550 mAh</li>
					<li>
						Typ batérie: 2xAAA, NiMH</li>
					<li>
						Napájanie zo siete: AC 100 - 240 V ~ 50/60 Hz</li>
					<li>
						Spotreba energie: &lt; 0,6 W</li>
				</ul>
				<br />
				<span class="detail-vlastnost">bezpečnosť</span><br />
				Šifrovaný prenos<br />
				<span class="detail-vlastnost">Vlastnosť siete</span><br />
				Kompatibilný: GAP<br />
				<span class="detail-vlastnost">hodnota sar</span><br />
				Slúchadlá Philips: &lt; 0.1 W/kg<br />
				<span class="detail-vlastnost">farba </span><br />
				Biela</div>
		</div>
	</div>
</div>
<p>
	&nbsp;</p>
<div class="easy-lightbox" id="info-magio-box">
	<p class="close-end">
		<a>X</a></p>
	<h2>
		<b>Magio GO TV Box</b></h2>
	<div class="lightbox-content">
		<div class="lightbox-content-1">
			<div class="lightbox-content-mob">
				<img src="/documents/10179/5213087/magio_go_box_mob.png" /> <img class="sticker-picture" src="/documents/10179/5213087/wording_8.png" /></div>
			<div>
				Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte internet.</div>
		</div>
		<div class="lightbox-content-2">
			K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO Premium za 5,99 € | mes.</div>
		<div class="lightbox-content-3">
			<div class="lightbox-icon">
				<img src="/documents/10179/5213087/icon6.png" /></div>
			<div class="lightbox-3-cont">
				V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
		</div>
	</div>
	<div class="lightbox-img-cont">
		<img src="/documents/10179/5213087/magio_go_box.png" /> <img class="sticker-picture" src="/documents/10179/5213087/wording_8.png" />
		<div class="tab-ex">
			<p>
				K ľubovolnej pevnej službe:</p>
			<div>
				<div class="tab-ex-label">
					Mesačne</div>
				<div class="tab-ex-price">
					0 €</div>
			</div>
			<div>
				<div class="tab-ex-label">
					Jednorázovo</div>
				<div class="tab-ex-price">
					<span class="strikethrough">69,99 €</span>29,90 €</div>
			</div>
		</div>
	</div>
	<p class="lightbox-action">
		<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
</div>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
