﻿<section class="section sec-2" id="sec-2">
	<div class="fixed-column">
		<h2 class="sec__title">
			SKOMBINUJTE SI SLUŽBY A ZISTITE CENY</h2>
	</div>
	<div class="mob__kv">
		&nbsp;</div>
	<div id="magenta__app">

		<div class="c-content">
			<div id="skupina">
				<div class="skupina">
					<div class="check-img">
						<div id="skupina-check" class="checked"></div>
					</div>
					<div class="check-text">Som členom skupiny a získam ešte nižšie ceny</div>
				</div>

				<div class="skupina-mame">
					<div class="skupina-internet">
						<div class="skupina-button internet-main">Internet</div>
						<div class="skupina-button internet-sub">
							<div id="internet-sub">
								<div class="skupina-subcheck check-internet"></div>
								<div class="skupina-subcheck-desc">Máme Internet</div>
							</div>
						</div>
					</div>

					<div class="skupina-televizia">
						<div class="skupina-button televizia-main">Televízia</div>
						<div class="skupina-button televizia-sub">
							<div id="televizia-sub">
								<div class="skupina-subcheck check-televizia"></div>
								<div class="skupina-subcheck-desc">Máme Televíziu</div>
							</div>
						</div>
					</div>

					<div class="skupina-pevna">
						<div class="skupina-button pevna-main">Pevná linka</div>
						<div class="skupina-button pevna-sub">
							<div id="pevna-sub">
								<div class="skupina-subcheck check-pevna"></div>
								<div class="skupina-subcheck-desc">Máme Pevnú linku</div>
							</div>
						</div>
					</div>

					<div class="skupina-happy">
						<div class="skupina-button happy-main">Happy paušály</div>
						<div class="skupina-button happy-sub">
							<div id="happy-sub">
								<div class="skupina-subcheck check-happy"></div>
								<div class="skupina-subcheck-desc">Máme Happy paušál</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<div id="bubliny">
				<div class="bublina bublina-pevna">
					<img src="../assets/img/bubble_pevna.png">
					<div class="bublina-desc" id="bublina-pevna">&nbsp;</div>
				</div>

				<div class="bublina bublina-internet">
					<img src="../assets/img/bubble_internet.png">
					<div class="bublina-desc" id="bublina-internet">&nbsp;</div>
				</div>

				<div class="bublina bublina-tv">
					<img src="../assets/img/bubble_tv.png">
					<div class="bublina-desc" id="bublina-tv">&nbsp;</div>
				</div>

				<div class="bublina bublina-happy">
					<img src="../assets/img/bubble_happy.png">
					<div class="bublina-desc" id="bublina-happy">&nbsp;</div>
				</div>
			</div>
		</div>
		<ul class="sm sm-simple is_closed" id="magenta-menu">
			<li class="master" data-choosen="0" data-order="0" data-type="0" id="help-1">
				<a href="#">INTERNET</a>
				<ul class="hidden">
					<li class="parent">
						<a class="type" href="#">Už mám internet</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M" data-status="mam">
								<a class="child" href="#">Internet M</a></li>
							<li class="product product-variant" data-variant="L" data-status="mam">
								<a class="child" href="#">Internet L</a></li>
							<li class="product product-variant" data-variant="X" data-status="mam">
								<a class="child" href="#">Internet XL</a></li>
						</ul>
					</li>
					<li class="parent">
						<a class="type" href="#">Chcem internet</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M" data-status="nemam">
								<a class="child" href="#">Internet M</a></li>
							<li class="product product-variant" data-variant="L" data-status="nemam">
								<a class="child" href="#">Internet L</a></li>
							<li class="product product-variant" data-variant="X" data-status="nemam">
								<a class="child" href="#">Internet XL</a></li>
						</ul>
					</li>
					<li class="parent product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderInternet">
					&nbsp;</div>
			</li>
			<li class="master disabled" data-choosen="0" data-order="1" data-type="1">
				<a class="mainParent" href="#">TELEVÍZIA</a>
				<ul class="hidden">
					<li class="parent double-lined">
						<a class="type" href="#">Už mám televíziu</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Televízia M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Televízia L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Televízia XL</a></li>
						</ul>
					</li>
					<li class="parent">
						<a class="type" href="#">Chcem televíziu</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Televízia M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Televízia L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Televízia XL</a></li>

							<li class="product product-variant" data-variant="3">
								<a class="child" href="#">Magenta TV Biznis</a></li>
						</ul>
					</li>
					<li class="parent product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderTV">
					&nbsp;</div>
			</li>
			<li class="master disabled" data-choosen="0" data-order="2" data-type="2">
				<a href="#">PEVNÁ LINKA</a>
				<ul class="hidden">
					<li class="parent">
						<a class="type" href="#">Už mám pevnú linku</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Pevná linka M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Pevná linka L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Pevná linka XL</a></li>
						</ul>
					</li>
					<li class="parent">
						<a class="type" href="#">Chcem pevnú linku</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Pevná linka M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Pevná linka L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Pevná linka XL</a></li>
						</ul>
					</li>
					<li class="parent product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderPL">
					&nbsp;</div>
			</li>
			<li class="master disabled double-line" data-choosen="0" data-order="3" data-type="3" id="help-2">
				<a href="#">MÔJ VÝHODNÝ PAUŠÁL</a>
				<ul class="hidden">
					<li class="parent product product-variant" data-variant="g">
						<a class="child" href="#">Happy M</a></li>
					<li class="parent product product-variant" data-variant="a">
						<a class="child" href="#">Happy L</a></li>
					<li class="parent product product-variant" data-variant="b">
						<a class="child" href="#">Happy XL Volania</a></li>
					<!--<li class="parent product product-variant" data-variant="c"><a href="#" class="child">Happy XL Data</a></li>-->
					<li class="parent product product-variant" data-variant="d">
						<a class="child" href="#">Happy XL</a></li>
					<li class="parent product product-variant" data-variant="e">
						<a class="child" href="#">Happy XXL</a></li>
					<li class="parent product product-variant" data-variant="f">
						<a class="child" href="#">Happy Profi</a></li>
					<li class="parent product product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderMP">
					&nbsp;</div>
			</li>
			<li class="master disabled double-line" data-choosen="0" data-order="4" data-type="4" id="help-3">
				<a href="#">PAUŠÁLY PRE BLÍZKYCH</a>
				<ul class="hidden">
					<li class="package" data-package="0">
						<a class="parent" href="#">Prvý paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="package" data-package="1">
						<a class="parent" href="#">Druhý paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="package" data-package="2">
						<a class="parent" href="#">Tretí paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="package" data-package="3">
						<a class="parent" href="#">Štvrtý paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="parent product product-variant package" data-package="4" data-variant="oooo">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="oooo" id="productHolderM3P">
					&nbsp;</div>
			</li>
			<li>
				<p class="price">
					MESAČNE SPOLU</p>
				<div class="priceHolder2">
					<div class="half-main">
						<div class="half half-left">
							<p class="half-desc">
								PEVNÉ SLUŽBY</p>
							<p class="itemHolder">
								&nbsp;</p>
						</div>
						<div class="half half-middle">
							&nbsp;</div>
						<div class="half half-right">
							<p class="half-desc">
								MOBILNÉ SLUŽBY</p>
							<div class="price-row price-mobile2">
								<div class="itemHolder2">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw2">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check2">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile3">
								<div class="itemHolder3">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw3">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check3">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile4">
								<div class="itemHolder4">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw4">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check4">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile5">
								<div class="itemHolder5">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw5">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check5">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile6">
								<div class="itemHolder6">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw6">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check6">
										&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
					<!--					<div class="full">
						<p class="priceHolder" data-product="0">PRED ZĽAVOU SPOLU: 0.00 €</p>
						<p class="priceHolderZ mag">PO ZĽAVE SPOLU: 0.00 €</p>
						<div class="button zaujem">MÁM ZÁUJEM</div>
					</div>-->
					<div class="full">
						<div class="full-price1">
							<div class="full-price-left">
								PRED ZĽAVOU SPOLU</div>
							<div class="full-price-right priceHolder" data-product="0">
								0.00 €</div>
						</div>
						<div class="full-price2">
							<div class="full-price-left">
								PO ZĽAVE SPOLU</div>
							<div class="full-price-right priceHolderZ">
								0.00 €</div>
						</div>
						<div class="button zaujem">
							MÁM ZÁUJEM</div>
					</div>
				</div>
			</li>
			<!--<li><a href="#" class="button button_lima button-buy disabled">Mam zaujem</a></li>-->
		</ul>
	</div>
	<div class="lightbox-cover hidden">
		&nbsp;</div>
	<div id="cmb__holder"></div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/skupina.js"></script>
<script type="text/javascript" src="../assets/js/smartmenu.js"></script>
