<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">HBO GO</h1>
            <p class="hero__desc">Televízia dostupná cez internet</p>
        </div>
        <div class="logo-hbo"></div>
    </div>
</section>

<section id="sec-1" class="section sec-1 tc">
    <div class="fixed-column">
        <h2 class="section__title">VÝHODY HBO GO</h2>
        <div class="col-group">
            <div class="grid-g__col_4 benefit">
                <img src="../assets/img/ico-1.png" alt="Obľúbené programy kdekoľvek a kedykoľvek">
                <p class="benefit__title">Obľúbené programy kdekoľvek a kedykoľvek</p>
                <p class="benefit__description">Sledujte online filmy, seriály alebo dokumenty z TV stanice HBO, ktoré sú dostupné kedykoľvek a kdekoľvek v rámci pokrytia internetom až na štaroch zariadeniach súčasne (počítač, tablet, smartfón alebo Smart TV).</p>
            </div>
            <div class="grid-g__col_4 benefit">
                <img src="../assets/img/ico-2.png" alt="Viac ako 2000 hodín pozerania">
                <p class="benefit__title">Viac ako 2000 hodín pozerania</p>
                <p class="benefit__description">Vyberte si z online videotéky, ktorá ma viac ako 2000 hod. – premiérové tituly najväčších hollywoodskych štúdií alebo seriály dostupné ihneď po uvedení v USA aj v HD kvalite.</p>
            </div>
            <div class="grid-g__col_4 benefit">
                <img src="../assets/img/ico-3.png" alt="Pravidelné novinky">
                <p class="benefit__title">Pravidelné novinky</p>
                <p class="benefit__description">Ponuka televízneho programu na HBO GO sa pravidelne obmieňa každý týždeň a všetky tituly je možné sledovať v pôvodnom znení s kvalitnými titulkami alebo s dabingom.</p>
            </div>
        </div>
    </div>
</section>

<section id="sec-2" class="section sec-2 tc">
    <div class="fixed-column">
        <h2 class="section__title">SLUŽBY A CENY</h2>
        <div class="product-box">
            <div class="logo-hbo2">
                <img src="../assets/img/logo-hbo2.png" alt="">
            </div>
            <p class="pb__desc">HBO GO obsahuje:
                <br />Prístup k programu HBO a do online videotéky s viac ako 2000 hodinami filmov a seriálov bez reklám v pôvodnom znení s titulkami alebo dabingom. Program je možné sledovať na štyroch zariadeniach súčasne všade, kde máte pripojenie k internetu. Rodičovský zámok pre zamedzenie prístupu detí k nevhodným programom.</p>
            <div class="pb__pricing">
                <p class="pricing">0 € / prvé dva mesiace</p>
                <p class="pricing__detail">a potom 9,99 € pri 12-mes. viazanosti</p>
                <p class="pricing__detail">alebo 9,99 € / mesačne bez viazanosti</p>
                <a href="/televizia/hbo-go/mam-zaujem" class="button button_lima">MÁM ZÁUJEM</a>
            </div>
        </div>
    </div>
</section>

<section id="sec-3" class="section sec-3 tc">
    <div class="fixed-column">
        <h2 class="section__title">AKO NA TO? JE TO JEDNODUCHÉ.</h2>
        <div class="col-group">
            <div class="grid-g__col_4 step">
                <img src="../assets/img/ico-step1.png" alt="">
                <p class="step__title">Registrácia</p>
                <p class="step__desc">Na stránkách www.hbogo.sk prejdite do sekcie Menu, vyberte Nastavenia a kliknite na Registrovať.</p>
                <a href="http://www.hbogo.sk" class="step__link">Prejsť na hbogo.sk</a>
            </div>
            <div class="grid-g__col_4 step">
                <img src="../assets/img/ico-step2.png" alt="">
                <p class="step__title">Výber operátora</p>
                <p class="step__desc">V prvom krokuvyberte operátora Slovak Telekom. Zadajte svoj MSTV ID (TV ID)* kód.</p>
            </div>
            <div class="grid-g__col_4 step">
                <img src="../assets/img/ico-step3.png" alt="">
                <p class="step__title">Dokončenie registrácie</p>
                <p class="step__desc">Vyplňte svoje osobné údaje a dokončite registráciu alebo si pozrite podrobnejší manuál o HBO GO.</p>
                <a href="http://www.hbogo.sk" class="step__link step__link_dark">Zobraziť manuál o registrácii HBO GO</a>
            </div>
        </div>
        <div class="col-group tc">
            <div class="grid-g__col_12 download">
                <img class="dl__image" src="../assets/img/product-img.png" alt="">
                <p class="step__title">Stiahnutie aplikácie</p>
                <p class="step__desc">Na záver si do zariadenia (smartfón, tablet, Smart TV, počítač) stiahnite aplikáciu, vhodnú pre váš operačný systém (iOS, Android, Windows mobile, Samsung Smart TV, LG Smart TV) a môžete začať sledovať program kdekoľvek, kde máte prístup k internetu.</p>
                <div class="dl__buttons">
                    <a href="https://play.google.com/store/apps/details?id=hbogo.v3.czech.slovakia"><img src="../assets/img/ico-play-store.png" alt="Google Play"></a>
                    <a href="https://itunes.apple.com/us/app/hbo-go/id429775439?mt=8"><img src="../assets/img/ico-app-store.png" alt="App Store"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>