#content .bd-scenario-landing {
	.section {
		&.aktualne-akcie {
			padding-top: 0;
			max-width: 940px;
			//background-color: #ededed;

			@media screen and (min-width: 767px) {
				padding-left: 0;
				padding-right: 0;

				p,
				a {
					font-size: 16px !important;
				}
			}

			& .akcieBox {
				border: 1px solid #ccc;
				margin-bottom: 20px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;

				> div:first-of-type {
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius-left: 10px;
				}

				> div:last-of-type {
					-webkit-border-radius: 0 10px 10px 0;
					-moz-border-radius: 0 10px 10px 0;
					border-radius-left: 0 10px 10px 0;
				}

				@media screen and (max-width: 550px) {
					display: flex;
					flex-direction: column;
				}

				/* letny balik dat */
				& .letnyBalik {
					background: url(../img/letnyBalik_img.jpg) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/letnyBalik_img.jpg) no-repeat 50% 20%;
						//width: 34%;
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						display: none;
						width: 100%;
						background: url(../img/letnyBalik.jpg) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/datovanie_bezbarier_438x100.jpg) no-repeat 50% 50%;
						background-size: cover;
					}

					.ec {
						left: -40px;
					}
				}

				/* Az do 1 GB zadarmo */
				& .akciaLeft2 {
					background: url(../img/1gb_zadarmo.png) no-repeat 100% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/1gb_zadarmo.png) no-repeat 50% 20%;
						//width: 34%;
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						display: none;
						width: 100%;
						background: url(../img/1gb_zadarmo.png) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/magenta_more_438x100.jpg) no-repeat 50% 50%;
						background-size: cover;
					}

					.ec {
						left: -60px;
					}
				}

				/* Prenos dát zadarmo */
				& .akciaLeft {
					background: url(../img/prenos_dat.png) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/prenos_dat.png) no-repeat 50% 50%;
						//width: 34%;
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						display: none;
						width: 100%;
						background: url(../img/prenos_dat.png) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/bekim480.jpg) no-repeat 50% 50%;
						background-size: cover;
					}
				}

				/* Happy za ANO */
				& .akciaLeft3 {
					background: url(../img/ano_akcie-novinky_940px_0520.jpg) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/ano_akcie-novinky_940px_0520.jpg) no-repeat 50% 20%;
						//width: 34%;
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						display: none;
						width: 100%;
						background: url(../img/ano_acie-novinky_940px_1119.jpg) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/datovanie_bezbarier_438x100.jpg) no-repeat 50% 50%;
						background-size: cover;
					}

					.ec {
						left: -40px;
					}
				}

				/* 3 GB navyse */
				& .akciaLeft5 {
					background: url(../img/3gb940.png) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/3gb768.jpg) no-repeat 50% 50%;
						//width: 34%;
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						width: 100%;
						background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
						background-size: cover;
					}
				}

				/* darceky k pausalom */
				& .akciaLeft6 {
					background: url(../img/darcek940.png) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/darceky768.jpg) no-repeat 50% 50%;
						//width: 34%;
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						width: 100%;
						background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
						background-size: cover;
					}
				}

				/* Viac dat a volani */
				& .akciaLeft11 {
					background: url(../img/viac_datavolani.png) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					.ec {
						left: -40px;
					}

					@media screen and (max-width: 768px) {
						background: url(../img/viac_datavolani.png) no-repeat 50% 20%;
						//width: 34%;
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						display: none;
						width: 100%;
						background: url(../img/viac_datavolani.png) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/STREAMON_438x100.png) no-repeat 50% 50%;
						background-size: cover;
					}
				}

				& .vianoce {
					background: url(../img/via_pausaly_lp_1366px_1020-AKCIE-A-NOVINKY.jpg) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					.ec {
						left: initial;
						right: 10px;
						top: 10px;
						width: 100px;
					}

					@media screen and (max-width: 550px) {
						display: none;
					}
				}

				& .siet-5g {
					background: url(../img/boom_5G_banner_lp-pausaly_460x442px_1220.jpg) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 550px) {
						display: none;
					}
				}

				& .sutaz-iphone-11 {
					background: url(../img/TCH_sutaz_iphone_360x340_1.jpg) no-repeat 30% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/TCH_sutaz_iphone_360x340_1.jpg) no-repeat 50% 50%;
					}

					@media screen and (max-width: 550px) {
						display: none;
					}
				}

				& .data-maj {
					min-height: 365px;
				}

				/* Najlepšia Sieť */
				& .akciaLeft12 {
					background: url(../img/top_siet360x340.png) no-repeat 50% 50%;
					background-size: cover;
					width: 100%;

					@media screen and (max-width: 768px) {
						background: url(../img/top_siet360x340.png) no-repeat 100% 50%;
						//width: 34%;
						background-size: contain;
					}

					@media screen and (max-width: 720px) {
						background-size: cover;
					}

					@media screen and (max-width: 550px) {
						display: none;
						width: 100%;
						background: url(../img/top_siet360x340.png) no-repeat 50% 50%;
						background-size: cover;
					}

					@media screen and (max-width: 480px) {
						width: 100%;
						background: url(../img/top_siet360x340.png) no-repeat 50% 50%;
						background-size: cover;
					}
				}

				& .akciaRight {
					background-color: #f6f6f6;

					@media screen and (max-width: 550px) {
						order: 1;
					}

					& .rightWrapper {
						padding: 50px 30px;

						@media screen and (max-width: 850px) {
							padding: 4%;
						}

						@media screen and (max-width: 768px) {
							padding: 20px;
						}

						@media screen and (max-width: 550px) {
							text-align: center;
						}

						& h3.akciaHeadline {
							font-size: 24px;
							margin-top: 0;
							text-align: left;
							margin-bottom: 20px;

							@media screen and (max-width: 768px) {
								font-size: 20px;
							}

							@media screen and (max-width: 550px) {
								text-align: center;
							}
						}

						& .btnodporucit {
							margin-top: 68px;
							margin-right: 15px;

							@media screen and (max-width: 550px) {
								margin: 30px 0 0 0;
							}
						}

						& .link {
							white-space: nowrap;
							display: inline-block;

							@media screen and (max-width: 768px) {
								display: block;
							}

							@media screen and (max-width: 550px) {
								display: inline-block;
							}
						}

						& .magentaBold {
							color: $magenta;
							margin-top: 0;
							margin: 0px;
						}

						& .magenta {
							color: $magenta;
						}

						& .akciaSteps {
							margin-bottom: 0px;
							line-height: 18px;
							padding-right: 2em;

							@media screen and (max-width: 550px) {
								padding-right: 0;
							}

							@media screen and(min-width: 1367px) {
								line-height: 1.5rem;
							}
						}
					}

					& .stepwrapper {
						margin: 23px 0px;
						display: inline-block;
						justify-content: center;

						@media screen and (max-width: 550px) {
							align-items: center;
							flex-direction: column;
						}
					}

					& .step {
						display: inline-block;
						width: 43%;
						text-align: center;
						margin: 10px 0;
						vertical-align: top;

						@media screen and (max-width: 550px) {
							width: auto;
						}

						& img {
							max-width: 23%;
						}
					}

					& .stepArrow {
						display: inline-block;
						width: 10%;
						position: relative;
						top: 33px;
						left: -27px;

						@media screen and (max-width: 550px) {
							width: 24%;
							top: 0px;
							left: 0px;
							text-align: center;
							margin: 20px auto;
							display: block;
						}

						& .arrowDefault {
							@media screen and (max-width: 550px) {
								display: none;
							}
						}

						& .arrowDwn {
							display: none;

							@media screen and (max-width: 550px) {
								display: block;
								width: 30%;
							}
						}
					}

					.onlineOnlyBenefit {
						&-table {
							margin-top: 15px;
							width: 85%;

							@media screen and (max-width: 543px) {
								width: 100%;
							}
						}

						&-tableContent {
							border-top: 1px solid #ccc;

							&:last-of-type {
								border-bottom: 1px solid #ccc;
							}

							p {
								margin: 5px 0px;
							}

							.left {
								float: left;
							}

							.right {
								float: right;
							}

							&.magenta {
								.left p,
								.right p {
									color: #e20074;
								}
							}
						}
					}
				}

				.ec {
					position: absolute;
					top: 20px;
					left: -20px;
				}
			}

			//  .akcieBox2 {
			//     padding: 0px;
			//     border: 1px solid #ccc;
			//     margin-bottom: 20px;
			//     /* AKCIA 3 */
			//     & .akciaLeft3 {
			//       display: block;
			//       width: 100%;
			//       min-height: 260px;
			//       background: url(../img/Lenovo_desktop.jpg) no-repeat 50% 50%;
			//       background-size: cover;
			//      @media screen and (max-width: 550px) {
			//        width: 100%;
			//        min-height: 120px;
			//        background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
			//        background-size: cover;
			//      }
			//      @media screen and (max-width: 480px) {
			//        width: 100%;
			//        background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
			//        background-size: cover;
			//       min-height: 78px;
			//      }
			//     }

			//   /* AKCIA 2 */
			//    & .akciaLeft2 {
			//       display: block;
			//       width: 100%;
			//       background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
			//       background-size: cover;
			//     @media screen and (max-width: 550px) {
			//       width: 100%;
			//       background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
			//       background-size: cover;
			//     }
			//     @media screen and (max-width: 480px) {
			//       width: 100%;
			//       background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
			//       background-size: cover;
			//     }
			//    }
			//    & .akciaRight {
			//     & .rightWrapper {
			//         padding: 30px 20px;
			//         @media screen and (max-width: 850px) {
			//           padding: 4%;
			//         }
			//         @media screen and (max-width: 768px) {
			//           padding: 20px;
			//         }
			//       & h3.akciaHeadline {
			//         text-align: left;
			//         margin-top: 0;
			//         @media screen and (max-width: 768px) {
			//           font-size: 20px;
			//         }
			//       }
			//       & .btnodporucit {
			//         margin-top: 15px;
			//       }
			//       & .magentaBold {
			//         color: $magenta;
			//         margin-top: 0;
			//       }
			//       & .akciaSteps {
			//           margin-bottom: 0px;
			//       }
			//     }
			//    }
			//   }
			.plandatainfo {
				.heapBox {
					max-width: 350px;
					margin-bottom: 10px;

					.holder,
					.handler {
						background-color: #fff;
					}
				}

				&-details {
					div:first-of-type {
						padding-left: 0px;
						padding-right: 10px;

						@media screen and(max-width: 768px) {
							padding: 0px;
							margin-bottom: 15px;
						}
					}

					div:last-of-type {
						padding-left: 10px;
						padding-right: 0px;

						@media screen and(max-width: 768px) {
							padding: 0px;
						}
					}

					p {
						text-align: left;
						border-bottom: 1px solid #d0d0d0;
						margin: 0px;
					}

					&.happy,
					&.bezZavazkov {
						display: none;
					}
				}

				&-buttons {
					.btn {
						padding: 8px 30px;

						@media screen and(max-width: 543px) {
							margin-left: 0px !important;
							margin-right: 0px !important;
						}
					}
				}
			}

			@media screen and (min-width: 550px) {
				.tabs-menu li {
					margin: 0 8px;

					a {
						padding: 0 2px;
						font-size: 16px;
					}
				}
			}

			@media screen and (max-width: 550px) {
				.tabs-menu {
					height: auto;
					clear: both;
					margin: 0;

					//display: inline-block;
					& li {
						width: 100%;
						border: 0px;
					}

					& :hover {
						border-bottom: 2px solid #ededed;
					}

					& .current {
						border-bottom: 4px solid #6bb324;
					}
				}
			}

			.pad0 {
				padding: 0px;
			}

			.note {
				p {
					font-size: 15px !important;
				}
			}

			#darcek-15-gb {
				.akcieBox {
					.akciaRight {
						.rightWrapper {
							padding: 80px 30px;
						}
					}
				}
			}
		}
	}

	.table-container {
		display: table;
		width: 100%;

		@media screen and (max-width: 550px) {
			display: block;
		}

		.table-row .table-col {
			display: table-cell;
			float: none;
			vertical-align: middle;
			padding: 0;
			min-height: 120px;

			@media screen and (max-width: 550px) {
				text-align: left;
				display: flex;
				flex-direction: column;
				flex: none;
				min-height: 120px;
			}

			& img {
				@media screen and (max-width: 550px) {
					max-width: 100%;
					margin: 0 auto;
					width: 50%;
					height: 100%;
				}
			}

			@media screen and (max-width: 480px) {
				text-align: left;
				display: flex;
				flex-direction: column;
				flex: none;
				min-height: 78px;
			}

			.btn_outline {
				margin-top: 10px;
			}

			.btn_outline,
			.btn_outline:hover {
				background-color: transparent;
				border: 1px solid #a4a4a4;
			}

			.btn_outline:hover {
				color: #000;
			}
		}
	}

	.accordion {
		display: none;

		@media screen and (max-width: 550px) {
			width: 100%;
			border-radius: 5px;
			overflow: hidden;
			margin: auto;
			display: block;
			font-size: 16px;
			padding: 0% 2%;

			.item {
				.heading {
					height: 45px;
					line-height: 45px;
					cursor: pointer;
					border-top: 1px solid #d0d0d0;
					font-weight: 500;
					text-align: left;
					background: url(../img/ico-plus.png) no-repeat;
					background-position: right center;
				}

				.content {
					padding-bottom: 15px;
					display: none;
				}

				&.open {
					.heading {
						background: url(../img/ico-minus.png) no-repeat;
						background-position: right center;
					}

					.content {
						display: block;
						overflow: hidden;
					}
				}
			}
		}
	}

	.tab,
	.tab__holder {
		display: none;

		@media screen and (min-width: 551px) {
			display: block;
		}
	}
}
