#content .bd-scenario-landing {
	.section {
		&.datove-baliky {
			max-width: 940px;

			@media screen and (min-width: 767px) {
				padding-left: 0;
				padding-right: 0;

				p,
				a {
					font-size: 16px;
				}
			}

			@media screen and(min-width: 1367px) {
				a,
				p {
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
			}

			.p-detail {
				.box__title {
					min-height: 40px;
					border-bottom: solid 1px #ddd;
				}
				.ako-funguje {
					min-height: 180px;
				}
				.objem-dat {
					min-height: 55px;
				}
				.platnost {
					min-height: 85px;
				}
				.dostupnost {
					min-height: 180px;
				}
				> div {
					margin-top: 10px;
				}
				> div:not(:last-of-type) {
					border-bottom: solid 1px #ddd;
				}
			}
			.p-actions {
				min-height: 170px;
			}

			/* Slider */
			.slick-slider {
				position: relative;
				display: inline-block;
				box-sizing: border-box;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				-ms-touch-action: pan-y;
				touch-action: pan-y;
				-webkit-tap-highlight-color: transparent;
				width: 100%;
			}

			.slick-list {
				position: relative;
				overflow: hidden;
				display: block;
				margin: 0;
				padding: 0;

				&:focus {
					outline: none;
				}

				&.dragging {
					cursor: pointer;
					cursor: hand;
				}
			}

			.slick-slider .slick-track,
			.slick-slider .slick-list {
				-webkit-transform: translate3d(0, 0, 0);
				-moz-transform: translate3d(0, 0, 0);
				-ms-transform: translate3d(0, 0, 0);
				-o-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}

			.slick-track {
				position: relative;
				left: 0;
				top: 0;
				display: block;

				&:before,
				&:after {
					content: '';
					display: table;
				}

				&:after {
					clear: both;
				}

				.slick-loading & {
					visibility: hidden;
				}
			}

			.slick-slide {
				float: left;
				height: 100%;
				min-height: 1px;

				[dir='rtl'] & {
					float: right;
				}

				img {
					display: block;
				}

				&.slick-loading img {
					display: none;
				}

				display: none;

				&.dragging img {
					pointer-events: none;
				}

				.slick-initialized & {
					display: block;
				}

				.slick-loading & {
					visibility: hidden;
				}

				.slick-vertical & {
					display: block;
					height: auto;
					border: 1px solid transparent;
				}
			}

			.slick-arrow.slick-hidden {
				display: none;
			}

			.app-slider {
				max-width: 675px;
				margin: 0 auto;
				position: relative;
			}

			.slick-list {
				padding: 15px 0;
			}

			.slick-track {
				display: flex;
			}

			.slick-slide {
				display: flex !important;
				height: auto;
				align-items: center; //optional
				justify-content: center; //optional
				margin: 0 10px;
			}

			.slick-list {
				margin: 0 -10px;
			}

			.slick-arrow {
				font-size: 0;
				height: 44px;
				width: 44px;
				transform: none;
				transition: none;
				border: none !important;
				background: transparent url('../img/btn-sprite.png');
				position: absolute;
				top: 50%;
				z-index: 10;
			}

			.slick-prev {
				background-position: 0 0;
				left: -48px;
			}

			.slick-next {
				background-position: 44px 0;
				right: -48px;
			}

			.slick-prev:hover {
				background-position: 0 88px;
			}

			.slick-next:hover {
				background-position: 44px 88px;
			}

			.slick-prev:active {
				background-position: 0 44px;
			}

			.slick-next:active {
				background-position: 44px 44px;
			}

			/* ===============
            Slider Custom Arrows
            =============== */
			.slick-disabled {
				opacity: 0.2;
				pointer-events: none;
			}

			.slick-prev.slick-arrow.slick-disabled {
				background-position: 0 0;
				left: -48px;
			}

			.slick-next.slick-arrow.slick-disabled {
				background-position: 44px 0;
				right: -48px;
			}

			.slick-dots button {
				font-size: 0;
				height: 8px;
				width: 8px;
				padding: 0;
				border-radius: 50%;
				border: 1px solid #b6b6b6 !important;
				background-color: #ededed;
			}

			ul.slick-dots {
				margin: 10px 0 0 0;
				text-align: center;
				height: 8px;
			}

			.slick-dots li {
				display: inline-block;
				margin: 0 2px;
				height: 8px;
			}

			.slick-dots .slick-active button,
			.slick-dots button:focus,
			.slick-dots button:hover {
				border: 1px solid #568727 !important;
				background-color: #6bb324;
			}

			@media screen and (max-width: 500px) {
				.app-slider {
					display: none;
				}
			}

			.new-ribbon {
				position: absolute;
				width: 172px;
				color: $white;
				background: #235482;
				text-align: center;
				top: -11px;
				transform: translateX(-50%);
				left: 50%;
			}

			.p-box {
				float: left;
				outline: none !important;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
				transition: all 0.2s ease-in-out;
				position: relative;
				text-align: center;
				display: flex;
				flex-flow: column;
				.label {
					position: absolute;
					top: -11px;
					background-color: #383838;
					padding: 3px 10px;
					color: #fff;
					font-size: 16px;
					font-weight: 600;
				}
			}

			.p-detail p.box__title {
				color: $magenta;
				font-size: 16px;
				font-weight: 600;
				text-transform: uppercase;
				&.l-2 {
					text-transform: none;
					line-height: 1;
					margin-bottom: 5px;
					span {
						font-weight: normal;
						font-size: 14px;
					}
				}
			}

			.p-box:hover {
				transform: scale(1.01);
				-ms-transform: scale(1);
				-webkit-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
				-moz-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
				box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
			}

			.p-box,
			.box {
				border: 1px solid #dcdcdc;
				padding: 20px 30px 20px 30px;
				min-height: 456px;
				width: 320px;
				background-color: #fff;
			}

			.p-box_new {
				border: 1px solid #235482;
			}

			.p-detail {
				flex-grow: 1;
				width: 100%;
			}

			.p-detail p {
				font-size: 15px;
				margin: 0;
			}

			.p-detail .link {
				display: inline-block;
			}

			.p-detail p b,
			.p-price-label {
				color: $mine-shaft-dark;
				font-weight: 500;
				font-size: 16px;
			}

			.p-price {
				font-size: 20px;
				color: $magenta;
			}

			.p-actions {
				width: 100%;
			}

			.p-actions .cta {
				margin: 8px 0;
			}

			.as2 .p-actions .cta {
				margin: 0;
			}

			.p-actions .link {
				text-decoration: none;

				&.popup {
					line-height: 150%;
				}
			}

			.p-actions {
				.btn {
					padding: 8px 0;
					width: 100%;
					text-align: center;
					margin: 5px 0;
				}

				.link {
					margin-top: 15px;
				}
			}

			@media screen and (max-width: 760px) {
				.p-box .box {
					margin: 0 auto;
				}

				.slick-prev {
					left: 0;
				}

				.slick-next {
					right: 0;
				}
			}

			/* ACCORDION */

			.accordion {
				display: none;
			}

			@media screen and (max-width: 550px) {
				.accordion {
					width: 100%;
					border-radius: 5px;
					overflow: hidden;
					margin: auto;
					display: block;
					font-size: 16px;
				}

				.ac-label {
					font-size: 15px;
					color: #757575;
					margin-bottom: 0;
				}

				.ac-darcek {
					padding: 2px 5px;
					background-color: #282828;
					color: #fff;
					margin-left: 5px;
					font-size: 14px;
				}

				.accordion .item .heading {
					height: 45px;
					line-height: 45px;
					cursor: pointer;
					background: url('../img/ico-plus.png') no-repeat;
					background-position: right center;
					border-top: 1px solid #d0d0d0;
					box-sizing: border-box;
					font-weight: 500;
					text-align: left;
				}

				.accordion .item.open .heading {
					background: url('../img/ico-minus.png') no-repeat;
					background-position: right center;
				}

				.accordion .item .content {
					display: none;
					padding-bottom: 15px;
				}

				.accordion .item.open .content {
					display: block;
				}

				.accordion .p-detail,
				.accordion .p-price-label {
					text-align: left;
				}

				.ac-price {
					color: #a4a4a4;
					font-weight: normal;
				}

				.accordion .item .content p {
					margin-top: 0;
				}

				.content:after {
					content: '';
					display: table;
					clear: both;
				}
			}

			@media screen and (max-width: 380px) {
				.accordion {
					.ac-darcek {
						font-size: 12px;
					}
				}
			}

			p.mb-10 {
				margin-bottom: 10px;
			}

			.tab {
				border-top: none;
			}

			.btn {
				font-size: 16px;
			}

			.link {
				font-size: 16px;
			}

			.slick-dots .slick-active button,
			.slick-dots button:focus,
			.slick-dots button:hover {
				line-height: 45px;
			}
		}
	}
}

// popup

#content .fancybox-wrap .fancybox-skin {
	background-color: #fff;
	border-radius: 11px;
}

#content .fancybox-wrap .fancybox-skin {
	background-color: #fff;
	border-radius: 11px;
}

#content .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-inner .p-head {
	display: block;
	height: 40px;
	border-bottom: 1px solid #d0d0d0;
	margin-bottom: 10px;
}

#content .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-inner .p-head .p-close {
	background: none;
	position: absolute;
	right: 10px;
	top: 11px;
}

#content .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-inner .p-head .p-close a.close-btn {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 17px;
	overflow: hidden;
	float: right;
	transition: all 100ms linear;
}

#content .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-inner .p-head .p-close a.close-btn::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 48%;
	left: 0;
	background: #000;
	transform: rotate(45deg);
	height: 1px;
}

#content .fancybox-wrap .fancybox-skin .fancybox-outer .fancybox-inner .p-head .p-close a.close-btn::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	top: 48%;
	left: 0;
	background: #000;
	transform: rotate(-45deg);
	height: 1px;
}

.happy-lightbox {
	font-size: 1.3em;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	color: #e20074;
}

#content .btn-sms {
	display: none;

	@media screen and (max-width: 560px) {
		display: block;
	}
}
