/* ===============  bd-scenario globals  =============== */
#content .bd-scenario-landing,
.bd-scenario-popup {
    .container-fixed {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        max-width: 1366px;
    }

    .px0 {
        padding-left: 0;
        padding-right: 0;
    }

    .py0 {
        padding-top: 0;
        padding-bottom: 0;
    }

    .mb0 {
        margin-bottom: 0;
    }

    .xs-hide {
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    .md-hide {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    .bg-mobile {
        @media screen and (max-width: 360px) {
            background-color: $darkgray;
        }
    }

    .d-flex {
        display: flex;
    }

    .d-inline-flex {
        display: inline-flex;
    }

    .d-block {
        display: block;
    }

    .d-inline {
        display: inline-block;
    }

    .align-start {
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
    }

    .align-center {
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    .align-space {
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
    }

    .align-end {
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
    }

    .grow-0 {
        flex-grow: 0;
    }

    .magenta {
        color: $magenta !important;
    }

    .equalHeight {
        @media screen and (min-width: 768px) {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
        }

        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            /* IE10+ CSS */
            display: -ms-flexbox;
            flex-direction: column;
        }
    }

    .s14 {
        font-size: 0.875rem; //14px
    }

    .s1 {
        font-size: 1rem; //16px
    }

    .s18 {
        font-size: 1.125rem; //18px
    }

    .s22 {
        font-size: 1.375rem; //22px
    }

    .s24 {
        font-size: 1.5rem; //24px
    }

    .s25 {
        font-size: 1.5625rem; //25px
    }

    .s2 {
        font-size: 2rem; //32px
    }

    .s3 {
        font-size: 3rem;
    }

    .bold {
        font-weight: 700;
    }

    .ultra {
        font-weight: 800;
    }

    /* font sizing */
    font-size: 100%;
    line-height: 1rem;
    font-family: "TeleGroteskNext";

    @media screen and(min-width: 1367px) {

        html,
        a,
        p {
            font-size: 1.25rem;
            line-height: 1.5rem;
        }

        h1 {
            font-size: 1.875rem;
        }
    }

    /* icons */
    .t-icon {
        font-family: "Tele-Icon";

        &--magenta {
            font-family: "Tele-Icon";
            color: $magenta;

            &--border {
                font-family: "Tele-Icon";
                padding: 3px 3px;
                color: $magenta;
                border: 2px solid $magenta;
            }
        }

        &--maginverse {
            font-family: "Tele-Icon";
            padding: 5px 5px;
            background-color: $magenta;
            color: $white;
            //display: inline-block;
        }
    }

    /* loader spinning */
    .loader-spinning {
        padding: 2rem 0;
        -webkit-animation: spinning 1s linear infinite both;
        animation: spinning 1s linear infinite both;
        display: inline-block;
    }

    /* buttons */
    button.btn {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        font-size: 1rem;
        background: $magenta;
        color: $white;
        font-weight: 700;
        border: 0px !important;
        line-height: 1rem;
        margin: 1rem 0;
        text-transform: initial;

        &:disabled {
            background: #d0d0d0;
            color: #a8a8a8;
            font-weight: 700;

            &:hover {
                transform: scale(1);
                -webkit-transform: scale(1);
                -moz-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
            }
        }
    }

    /* hide all heapboxes on init 
   * we dont want to use heapboxes
   */
    .heapBox {
        display: none !important;
    }

    /* legals */
    .legals {
        &:last-of-type {
            padding-top: 1rem;
            background-image: linear-gradient(to right,
                    $white 20%,
                    rgba(255, 255, 255, 0) 0%);
            background-size: 7px 2px;
            background-repeat: repeat-x;
        }

        text-align: left;

        &-text {
            font-size: 0.75rem;
            color: $legaltext;

            @media screen and (min-width: 1366px) {
                font-size: 1rem;
            }

            .legals-link {
                font-size: 0.75rem;

                @media screen and (min-width: 1366px) {
                    font-size: 1rem;
                }
            }
        }

        &-link {
            display: block;
            color: $magenta;
            line-height: 1.5rem;
            font-size: 0.875rem;

            @media screen and (min-width: 1366px) {
                font-size: 1rem;
            }
        }

        [id^="legals-"] {
            display: none;
        }
    }
}

@-webkit-keyframes spinning {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinning {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}