.qtip.qtip-new {
    background-color: rgba(72, 72, 72, 0.9);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);

    .qtip-content {
        padding: 30px 20px;
        font-size: 14px;
        line-height: 1.3;
        color: #d6d6d6;

        .title {
            font-weight: 600;
            margin-bottom: 10px;
            color: #fff;
        }
        .title2 {
            font-weight: 600;
            margin-bottom: 2px;
        }
        .m-t- {
            &5 {
                margin-top: 5px;
            }
        }
    }

    .qtip-close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        text-decoration: none;
        color: #fff;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}
