/* ===============  bd-scenario popup  =============== */
#content .bd-scenario-popup {
    &.fancybox-wrap {
        .fancybox-skin {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .fancybox-outer {
                .fancybox-inner {
                    .p-content {
                        padding: 1rem;
                        font-family: "TeleGroteskNext";

                        .popup-lightbox {
                            text-align: left;

                            .headline {
                                font-size: 1.875rem;
                                font-weight: 800;
                                color: $popupgray;
                                margin-bottom: 20px;
                            }

                            img {
                                margin: 1rem 0;
                            }

                            ul {
                                list-style-type: square;
                                padding-left: 1rem;
                            }

                            .text {
                                font-size: 0.875rem;

                                @media screen and (min-width: 1367px) {
                                    font-size: 1.25rem;
                                }

                                a {
                                    font-size: 0.875rem;
                                }

                                &.small {
                                    font-weight: 1.375rem;
                                }

                                b {
                                    font-weight: 800;
                                }
                            }

                            a.btn {
                                width: 100%;
                                text-align: center;
                                border-radius: 0;
                                padding: 0.875rem 0;
                                margin: 0.5rem 0;
                                font-size: 1rem;
                                font-weight: 700;
                                text-transform: initial;
                                -webkit-border-radius: 0;
                                -moz-border-radius: 0;
                                -ms-border-radius: 0;
                                -o-border-radius: 0;

                                @media screen and (min-width: 768px) {
                                    width: auto;
                                    min-width: 120px;
                                    margin: 0.5rem 1rem 0.5rem 0;
                                    padding: 0.875rem 1rem;
                                }

                                &.guaranteebtn {
                                    &:first-of-type {
                                        margin-bottom: 0rem;
                                    }

                                    &:last-of-type {
                                        margin-top: 0.7rem;
                                    }
                                }
                            }

                            .iconDone {
                                margin: 2.5rem 0;
                                display: block;
                            }

                            .postponedIcon {
                                margin: 2.5rem 0;
                                display: block;
                            }

                            .cont-icon {
                                margin-bottom: 30px;

                                .t-info {
                                    color: $magenta;
                                    border: solid 1px $magenta;
                                    padding: 7px;
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.desktop {
        .fancybox-skin {
            border-radius: 0px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            -ms-border-radius: 0px;
            -o-border-radius: 0px;

            .fancybox-outer {
                .fancybox-inner {
                    .p-content {
                        padding: 2rem;
                    }
                }
            }
        }
    }
}