#content .bd-scenario-landing {
	.block {
		display: block;
	}

	#hero {
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;

		.img-cont {
			text-align: center;
			z-index: 1;
			position: relative;
			max-width: 2560px;
			.bg {
				width: 100%;
				height: 100%;
			}
		}

		.text-cont {
			position: absolute;
			z-index: 2;
			top: 15%;
			width: 100%;
			.container-fixed {
				.hero__content {
					padding-left: 60px;
					max-width: 670px;

					.hero__title {
						font-size: 80px;
						font-weight: 800;
						text-transform: none;
						margin-bottom: 20px;
						color: #fff;
						span {
							color: #a3a3a3;
						}
					}

					.btn {
						margin-top: 20px;
						padding: 15px 30px;
					}
				}
			}
			.ec {
				display: none;
			}
		}

		@media screen and (max-width: 1250px) {
			.text-cont {
				.container-fixed {
					.hero__content {
						.hero__title {
							font-size: 62px;
						}
					}
				}
			}
		}
		@media screen and (max-width: 960px) {
			padding: 0;
			.text-cont {
				.container-fixed {
					.hero__content {
						max-width: 500px;
						padding-bottom: 20px;
						.hero__title {
							font-size: 52px;
						}
					}
				}
			}
		}

		@media screen and (max-width: 800px) {
			.text-cont {
				top: 10%;
				.container-fixed {
					.hero__content {
						padding-left: 20px;
						max-width: 450px;
						.hero__title {
							font-size: 42px;
						}
					}
				}
			}
		}

		@media screen and (max-width: 640px) {
			.text-cont {
				top: 5%;
				.container-fixed {
					.hero__content {
						max-width: 350px;
						.hero__title {
							font-size: 34px;
						}
					}
				}
			}
		}

		@media screen and (max-width: 480px) {
			background: url(../img/hero_480.jpg) no-repeat 100% 50%;
			background-size: cover;
			height: 732px;

			.img-cont {
				display: none;
			}
			.text-cont {
				position: relative;
				display: flex;
				align-items: center;
				top: 0;
				.container-fixed {
					.hero__content {
						max-width: 100%;
						padding: 0 15px;

						.hero__title {
							font-size: 66px;
							span {
								color: #ccc;
							}
						}
					}
				}
				.btn {
					width: 100%;
					text-align: center;
					width: 100%;
				}
				.ec {
					display: block;
					top: 10px;
				}
			}
		}

		@media screen and (max-width: 420px) {
			.text-cont {
				.container-fixed {
					.hero__content {
						.hero__title {
							font-size: 48px;
						}
					}
				}
			}
		}
	}

	#nav-sticky {
		ul {
			max-width: 1246px;
			width: 100%;
			a {
				text-decoration: none;
				height: 55px;
				line-height: 55px;
				display: block;
				color: #000;
				padding: 0 15px;
				font-size: 16px;
			}
		}
	}

	.section-center {
		display: flex;
		justify-content: center;
	}

	.section {
		padding: 100px 20px;

		@media screen and (min-width: 768px) {
			padding: 100px 60px;
		}

		&.vyhody {
			text-align: center;

			@media screen and (min-width: 768px) {
				padding: 180px 40px;
			}

			.vyhody-title {
				font-size: 22px;
				text-align: center;
				font-weight: 800;
				padding: 0 30px;
				color: #262626;

				@media screen and (min-width: 768px) {
					font-size: 32px;
				}
			}

			.vyhody-cart {
				padding-top: 30px;

				.vyhody-cart-title {
					font-weight: 600;
					color: #262626;
				}

				p,
				a {
					font-size: 16px;
				}
			}

			@media screen and (min-width: 768px) {
				> div {
					padding: 10px 20px;
				}

				.vyhody-cart {
					p,
					a {
						font-size: 20px;
					}

					.img-cont {
						height: 54px;
					}

					.vyhody-cart-title {
						min-height: 72px;
					}
				}
			}
		}

		&.biznis-pausaly {
			max-width: 810px;
			width: 100%;
			padding: 20px;

			@media screen and (min-width: 768px) {
				padding: 100px 20px;
			}

			.cart {
				height: 250px;
				padding: 20px 10px;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				border-radius: 8px;
				background-color: #f6f6f6;
				background-image: url('../img/lp_biznis2.png');
				background-repeat: no-repeat;
				background-position: 100% 0;
				background-size: 150px 250px;

				h2 {
					font-size: 20px;
					font-weight: bold;
					margin-top: 0;

					@media screen and (min-width: 768px) {
						font-size: 24px;
					}
				}

				p {
					font-size: 14px;

					@media screen and (min-width: 768px) {
						font-size: 20px;
					}
				}

				> div {
					display: flex;
					flex-direction: column;
					height: 100%;
					justify-content: space-between;
					width: 60%;
				}

				@media screen and (min-width: 768px) {
					padding: 35px;
					height: 255px;
					background-image: url('../img/lp_biznis_desk2.jpg');
					background-size: 260px 255px;
				}
			}
		}

		&.podmienky {
			padding-top: 0;
			background-color: #f6f6f6;

			p,
			a {
				font-size: 14px;

				@media screen and (min-width: 768px) {
					font-size: 16px;
				}

				@media screen and(min-width: 1367px) {
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
			}

			p {
				color: #a3a3a3;
			}

			/* TOGGLE ARROW */
			a.toggle-arrow {
				color: #007faf;
				text-decoration: none;

				& .arrow-right {
					content: '';
					display: inline-block;
					margin-right: 5px;
					width: 0;
					height: 0;
					margin-left: 5px;
					vertical-align: baseline;
					border-style: solid;
					border-width: 4.5px 0 4.5px 6px;
					border-color: transparent transparent transparent #007faf;
					transition: all 300ms;
				}

				&:hover,
				&:hover span.arrow-right {
					color: #00668d;
					text-decoration: none;
					border-color: transparent transparent transparent #00668d;
				}
			}

			.arrow-content {
				display: none;
			}

			.arrow-rotate {
				transform: rotate(90deg);
			}

			.happy-legal-content {
				display: none;
				padding-bottom: 10px;
			}

			.legal__holder {
				text-align: left;
				padding-bottom: 30px;
			}

			.legal__holder:first-child {
				padding-top: 20px;
				border-top: 1px solid #d0d0d0;
			}

			#happy-legal {
				padding-top: 10px;
			}

			.happy-legal {
				display: inline-block;
				font-size: 0.9em;
				-webkit-border-radius: 8px;
				-moz-border-radius: 8px;
				border-radius: 8px;
				border: solid 1px #ccc;
				padding: 1px 3px;
				margin-bottom: 3px;
			}

			.happy-legal:hover {
				background-color: #f5f5f5;
			}

			.happy-legal-content {
				display: none;
				padding-bottom: 10px;
				a {
					font-size: 100%;
				}
			}

			.happy-legal-cennik {
				padding-top: 20px;
				font-size: 16px;

				@media screen and(min-width: 1367px) {
					font-size: 1.25rem;
					line-height: 1.5rem;
				}
			}

			.note-legal-bold {
				font-weight: bold;
			}
		}

		&.pausaly {
			.hero-pausaly-title {
				&.odporucame {
					.icons {
						display: block;

						.icon-free {
							@media screen and (min-width: 768px) {
								text-align: left;
							}
						}
					}

					.row {
						div:first-of-type {
							@media screen and (min-width: 992px) {
								p {
									padding-right: 20%;
								}
							}
						}
					}
				}
			}

			.danger {
				padding: 30px 20px;
				border-radius: 8px;
				background-color: #e6e6e6;
				margin: 20px 0;
				display: flex;

				@media screen and (min-width: 992px) {
					margin: 0;
				}

				.t-info {
					color: #fff;
					background-color: $magenta;
					font-size: 20px;
					border: solid 1px $magenta;
					padding: 3px;
				}

				p {
					padding-left: 20px;
					margin: 0;

					.link {
						display: block;
						color: $magenta;
						text-decoration: none;
						margin-top: 10px;
						font-weight: 600;
					}
				}
			}
		}
	}

	.p-t-0 {
		padding-top: 0 !important;
	}
}

#content .bd-scenario-landing.nba {
	.section {
		padding-bottom: 0;
	}
}
