/* ===============
   CSS FOR MICROSITE
   =============== */


/**********   HEADER   ***********/

.wrapper-header {
	margin: 0 auto;
	max-width: 980px;
	height:58px;
	margin-top:20px;
	margin-bottom:20px;
	padding-left:15px;
	padding-right:15px;
	width: unset;
}

.magenta {
    color: $magenta;
}

.wrapper-header .left {
	float:left;
}

.wrapper-header .right {
	padding-top:20px;
	float:right;
}

	
/**********   HERO   ***********/

.content-hero {
	background: rgba(226,0,116,1);
	max-height: 500px;
}

.content-hero .inner {
	background-image: url('../img/hero-bg.jpg');
	background-position: center 65%;
	background-size: cover;
	margin: 0 auto;
	min-height: 480px;
	text-align: center;
	max-width: 1160px;
}

 .hero-text {
    background: rgba(226,0,116,0.54);
    display:block;
    position: absolute;
    top: 300px;
    left: 50%;
    padding: 30px 0;
    transform: translateX(-50%) translateY(70%);
    width: 100%;
    -webkit-transform: translateX(-50%) translateY(70%);
    -moz-transform: translateX(-50%) translateY(70%);
    -ms-transform: translateX(-50%) translateY(70%);
    -o-transform: translateX(-50%) translateY(70%);
}

 #content .hero-text {
    h1 {
        font-family: TeleGrotesk, Helvetica, Arial, sans-serif;
        font-size: 56px;
        font-weight: 900;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        width:100%; 
    }
    p {
        font-family: TeleGrotesk, Helvetica, Arial, sans-serif;
        font-size: 30px !important;
        color: #fff;
        margin-top: 10px;
        line-height: normal;
    }

 }
 
@media (max-width: 990px) {
    .hero-text {
        padding: 20px 20px;
        top: 280px;
        transform: translateX(-50%) translateY(80%);
        -webkit-transform: translateX(-50%) translateY(80%);
        -moz-transform: translateX(-50%) translateY(80%);
        -ms-transform: translateX(-50%) translateY(80%);
        -o-transform: translateX(-50%) translateY(80%);
    }
}
@media (max-width: 800px) {
    #content .hero-text {
        top: 270px;
        transform: translateX(-50%) translateY(50%);
        -webkit-transform: translateX(-50%) translateY(50%);
        -moz-transform: translateX(-50%) translateY(50%);
        -ms-transform: translateX(-50%) translateY(50%);
        -o-transform: translateX(-50%) translateY(50%);
    }
}
@media (max-width: 768px) {
    #content .hero-text {
        top: 270px;
        transform: translateX(-50%) translateY(50%);
        -webkit-transform: translateX(-50%) translateY(50%);
        -moz-transform: translateX(-50%) translateY(50%);
        -ms-transform: translateX(-50%) translateY(50%);
        -o-transform: translateX(-50%) translateY(50%);
        h1 {
            font-size: 40px;
        }
    }
}
@media (max-width: 550px) {
    #content .hero-text {
        top: 290px;
        h1 {
            //font-size: 36px;
        }
        p {
            font-size: 22px !important;
        }
    }
}
@media (max-width: 480px) {
    .content-hero .inner {
        min-height: 360px;
    }
    #content .hero-text {
        padding: 20px 20px;
        transform: translateX(-50%) translateY(100%);
        top: 0px;
        -webkit-transform: translateX(-50%) translateY(100%);
        -moz-transform: translateX(-50%) translateY(100%);
        -ms-transform: translateX(-50%) translateY(100%);
        -o-transform: translateX(-50%) translateY(100%);
    }
    .hero-text h1 {
        font-size: 30px;
    }
    .hero-text p {
        font-size: 20px !important;
    }
}
@media (max-width: 350px) {
    #content .hero-text {
        h1 {
            font-size: 36px;
        }
    }
}


/**********   CONTENT   ***********/
.wrapper-main {
	margin: 0 auto;
	max-width: 940px;
	width: unset;
}

.wrapper-main .content-section{
	padding: 20px 20px;
}

.wrapper-main .box-section{
	padding: 20px 0;
}

.wrapper-main .divider {
	background: rgba(226,0,116,1);
	height: 7px;
	margin: 0 auto;
	width: 230px;
}

.wrapper-main .col {
	min-width: 190px;
}

 .offer-headline {
	text-align: center;
}

 .offer-headline h2 {
	font-family: TeleGrotesk, Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: 900;
	margin: 20px 0 10px;
	color: rgba(226,0,116,1);
	text-transform: uppercase;
}

 .offer-headline p {
	font-family: TeleGrotesk, Helvetica, Arial, sans-serif;
	font-size: 21px !important;
	margin: 0 0 10px;
	padding: 5px 0;
	color: #000;
}

 .offer-box {
	background-color: rgba(226,0,116,1);
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
	height: 340px;
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: all 0.2s ease 0s;
	z-index: 1;
}

 .offer-box h3 {
	color: #fff;
	font-family: TeleGrotesk, Helvetica, Arial, sans-serif;
	font-size: 40px;
	font-weight: 900;
	float: left;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

 .offer-box .offer-title, .offer-box .offer-text, .offer-box .offer-img {
	color: #fff;
	display:block;
    position: absolute;
    width: auto;
    & h3 {
        color: #fff;
        font-size: 34px;  
        margin-top: 0px;
    }
}

 .offer-box  .offer-text {
	padding: 10px;
}

 .offer-box .offer-text span {
	font-family: TeleGrotesk, Helvetica, Arial, sans-serif;
	font-size: 21px;
	line-height: 21px;
}

 .offer-box  .offer-img img {
	width: 100%;
}

.shadow a:hover .offer-box {
	box-shadow: 0 0 30px 0 rgba(0,0,0,1);
	z-index: 100;
}

#box-1 .offer-title, #box-2 .offer-title, #box-3 .offer-title {
	top: 40px;
	left: 20px;
}

#box-4 .offer-title {
	top: 130px;
	left: 40px;
}

#box-5 .offer-title {
	top: 130px;
	left: 20px;
}

#box-6 .offer-title {
	top: 60px;
	left: 20px;
	width: 250px;
}

#box-7 .offer-title {
	top: 60px;
	left: 40px;
	width: 300px;
}

#box-1 .offer-text {
	top: 100px;
	left: 150px;
}

#box-2 .offer-text {
	top: 100px;
	left: 10px;
	width: 80%;
}

#box-3 .offer-text {
	top: 130px;
	left: 10px;
	width: 50%;
}

#box-4 .offer-text {
	top: 180px;
	left: 30px;
	width: 60%;
}

#box-5 .offer-text {
	top: 180px;
	left: 10px;
	width: 50%;
}

#box-6 .offer-text {
	top: 150px;
	left: 10px;
	width: 50%;
}

#box-7 .offer-text {
	top: 150px;
	left: 30px;
	width: 50%;
}

#box-1 .offer-img {
	top: 120px;
	left: -55px;
	width: 218px;
}

#box-3 .offer-img {
	top: 135px;
	left: 155px;
	width: 232px;
}

#box-5 .offer-img {
	top: 80px;
	left: 180px;
	width: 320px;
}

#box-6 .offer-img {
	top: 25px;
	left: 205px;
	width: 147px;
}

.happy { width: 16.64%; max-width: 16.64%; height: 275px; background-color:#e9e9e9; float:left; text-align:center;}
.polovica1 {height: 149px; background-color:#f6f6f6; }
.sh1 {color:#E20074; display:block; padding-top: 18px; font-size:28px; font-weight:bold;}
.sh2 {color:#E20074; display:block; font-size:45px; font-weight:bold; line-height: 30px;}
#xlv .sh2 {color:#E20074; display:block; font-size:28px; font-weight:bold; line-height: 30px;}
.sh3 {display:block; padding: 10px 20px 0px 20px; }
.sh4 {display:block; font-weight:bold; padding: 25px 10px 10px 10px;}
.sh5 {display:block; font-weight:bold; padding: 0px 10px 0px 10px;}
.polovica2 {}
.line {width:2px; background-color: #E20074; height: 80%; margin-top:30px;  margin-bottom:20%; float:right   }

@media (max-width: 990px) {
 .offer-box h3 {
	font-size: 30px;
	line-height: 30px;
}

 .offer-box .offer-text span {
	font-size: 18px;
	line-height: 18px;
}

#box-6 .offer-title {
	top: 60px;
	left: 20px;
	width: 150px;
}

#box-7 .offer-title {
	top: 60px;
	left: 40px;
	width: 200px;
}

#box-1 .offer-text {
	top: 90px;
	left: 120px;
}

#box-2 .offer-text {
	top: 100px;
	left: 10px;
	width: 72%;
}

#box-3 .offer-text {
	top: 130px;
	left: 10px;
	width: 55%;
}

#box-1 .offer-img {
	top: 100px;
	left: -65px;
	width: 200px;
}

#box-3 .offer-img {
	top: 135px;
	left: 135px;
	width: 200px;
}

.happy { width: 33.3%; max-width: 33.3% }
#m .line{ display: none; }
}

@media (max-width: 767px) {
 .offer-box {
	height: 260px;
}

 .offer-box h3 {
	font-size: 40px;
	line-height: 40px;
}

 .offer-box .offer-text span {
	font-size: 24px;
	line-height: 24px;
}

#box-1 .offer-title {
	top: 40px;
	left: 160px;
}

#box-2 .offer-title, #box-3 .offer-title, #box-4 .offer-title {
	top: 40px;
	left: 40px;
}

#box-5 .offer-title {
	top: 40px;
	left: 300px;
}

#box-6 .offer-title {
	top: 60px;
	left: 40px;
	width: 70%;
}

#box-7 .offer-title {
	top: 60px;
	left: 40px;
	width: 70%;
}

#box-1 .offer-text {
	top: 90px;
	left: 150px;
	padding-right: 40px;
}

#box-2 .offer-text {
	top: 100px;
	left: 30px;
	width: 48%;
}

#box-3 .offer-text {
	top: 100px;
	left: 30px;
	width: 55%;
}

#box-4 .offer-text {
	top: 100px;
	left: 30px;
	width: 55%;
}

#box-5 .offer-text {
	top: 100px;
	left: 290px;
	width: 50%;
}

#box-6 .offer-text, #box-7 .offer-text {
	top: 120px;
	left: 30px;
	width: 60%;
}

#box-1 .offer-img {
	top: 40px;
	left: -55px;
	width: 218px;
}

#box-3 .offer-img {
	top: 35px;
	left: 72%;
	width: 232px;
}

#box-5 .offer-img {
	top: 35px;
	left: 0;
	width: 320px;
}

#box-6 .offer-img {
	top: 25px;
	left: 75%;
	width: 108px;
}

}

@media (max-width: 479px) {
 .offer-box h3 {
	font-size: 30px;
	line-height: 30px;
}

 .offer-box .offer-text span {
	font-size: 18px;
	line-height: 18px;
}

#box-1 .offer-title {
	top: 40px;
	left: 145px;
}

#box-2 .offer-title {
	top: 40px;
	left: 40px;
}

#box-3 .offer-title {
	top: 40px;
	left: 40px;
	width: 60%;
}

#box-4 .offer-title {
	top: 80px;
	left: 40px;
}

#box-5 .offer-title {
	top: 40px;
	left: 200px;
}

#box-6 .offer-title {
	top: 60px;
	left: 40px;
	width: 70%;
}

#box-7 .offer-title {
	top: 40px;
	left: 40px;
	width: 80%;
}

#box-1 .offer-text {
	top: 90px;
	left: 135px;
	padding-right: 20px;
}

#box-2 .offer-text {
	top: 90px;
	left: 30px;
	width: 48%;
}

#box-3 .offer-text {
	top: 110px;
	left: 30px;
	width: 50%;
}

#box-4 .offer-text {
	top: 130px;
	left: 30px;
	width: 55%;
}

#box-5 .offer-text {
	top: 90px;
	left: 190px;
	width: 45%;
}

#box-6 .offer-text {
	top: 120px;
	left: 30px;
	width: 60%;
}

#box-7 .offer-text {
	top: 90px;
	left: 30px;
	width: 50%;
}

#box-1 .offer-img {
	top: 40px;
	left: -50px;
	width: 200px;
}

#box-3 .offer-img {
	top: 35px;
	left: 60%;
	width: 200px;
}

#box-5 .offer-img {
	top: 35px;
	left: 0;
	width: 200px;
}

#box-6 .offer-img {
	top: 25px;
	left: 75%;
	width: 108px;
}

}
/**********   MISC   ***********/
@media (min-width: 360px) {
	.col-sm-3, .col-sm-6, .col-sm-12 {
		float: left;
		min-height: 100px;
		padding: 0px;
	}
	.col-sm-3 {
		width: 25%;
	}
	.col-sm-6 {
		width: 50%;
	}
	.col-sm-12 {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-12 {
		float: left;
		min-height: 100px;
		padding: 0px;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.3333%;
	}
	.col-md-5 {
		width: 41.6667%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.3333%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.col-lg-3, .col-lg-6, .col-lg-12 {
		float: left;
		min-height: 100px;
		padding: 0px;
	}
	.col-lg-3 {
		width: 25%;
	}
	.col-lg-6 {
		width: 50%;
	}
	.col-lg-12{
		width: 100%;
	}
}
