<script src="/documents/10179/4321019/main.js"></script>
<!-- <script src="https://m.telekom.sk/selfcare/js/main.js"></script> -->
<script src="https://m.telekom.sk/selfcare/js/fastclick.js"></script>
<script src="https://m.telekom.sk/selfcare/js/cycle.js"></script>
<script src="https://m.telekom.sk/selfcare/js/idle.js"></script>
<div id="selfcare">
	<div class="slf-top">
		<div class="left">
			<div id="slf-iframe-box">
				<div id="slf-iframe">
					<iframe id="slf-iframe-content"></iframe>
				</div>
			</div>
			<div id="slf-slogan">
				<div class="slf-logo">
					<img src="/documents/10179/620924/logo.png"/></div>
				<div class="slf-header">
					<img id="slf-header-vitajte" src="/documents/10179/620924/vitajte.png"/>
					<img id="slf-header-slogan" src="/documents/10179/620924/slogan.png"/></div>
			</div>
		</div>
		<div class="right">
			<div class="box" id="slf-aplikacia">
				<img src="/documents/10179/620924/aplikacia.png"/></div>
			<div class="box" id="slf-staffino">
				<img src="/documents/10179/620924/hodnotenie.png"/></div>
			<div class="box" id="slf-lsb">
				<img src="/documents/10179/620924/dokoncenie2.png"/></div>
			<div class="box" id="slf-www">
				<img src="/documents/10179/620924/telekom.png"/></div>
			<div class="box" id="slf-predpredaj">
				<img src="/documents/10179/620924/ico_predpredaj-283x282.png"/></div>
		</div>
	</div>
	<div class="slf-footer">
		<div class="slf-navigation">
			<img id="slf-back" src="/documents/10179/620924/spat.png"/>
			<img id="slf-domov" src="/documents/10179/620924/domov.png"/></div>
		<div class="slf-disclaimer">
			Používaním Samoobslužnej zóny <a href="" id="suhlas">súhlasím s podmienkami používania.</a></div>
		<div id="slf-datum">
			&nbsp;
		</div>
		<div id="slf-test" style="    width: 50px;
    height: 100px;
    position: absolute;
    top: -30px;
    right: 0;">
			&nbsp;
		</div>
	</div>
</div>
<div id="screensaver">
	<div class="pics">
		<!--<img src="https://m.telekom.sk/wb/selfcare/background/img1.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img2.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img3.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img4.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img5.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img6.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img7.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img8.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img9.png" />
        <img src="https://m.telekom.sk/wb/selfcare/background/img10.png" />--></div>
	<div class="screensaver-slogan">
		<div class="header1">
			Vitajte
		</div>
		<div class="header2">
			VSTÚPIŤ
		</div>
	</div>
</div>
<div id="ajaxLoadingSpinnerOverlay" style="display: none;">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated">
			&nbsp;
		</div>
		<div class="square second pulse infinite animated">
			&nbsp;
		</div>
		<div class="square third pulse infinite animated">
			&nbsp;
		</div>
	</div>
</div>
