<section id="hero">
    <div class="container-fixed">
        <div class="hero__content">
            <h1 class="hero__title">External template</h1>
            <p class="font_white">Template in external file</p>
            <a class="btn cta" href="#"><span>button</span> </a>
        </div>
    </div>
</section>
