<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
					<img src="../assets/img/vypredane.png" alt="">
					</div> -->
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<div class="overlay_fix">

					<p class="bpis__title">
						Notebook: Lenovo IdeaPad 330-15IGM</p>
					<div class="box-device">
						<p class="pricing__title">
							S pevnými službami <span class="feeType">XL</span>: <span class="info-qm"><img src="../assets/img/qm.png" style="cursor: pointer;"/></span></p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Pevná služba XL
									</td>
									<td>
										<span class="feePrice">20,90 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										<b>Jednorazovo pri kúpe:</b></td>
									<td>
										<span class="oneTimeFee"><b>1,00 €</b></span></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="box-device">
						<p class="pricing__title">
							S pevnými službami <span class="feeType">L</span>: <span class="info-qm"><img src="../assets/img/qm.png" style="cursor: pointer;"/></span></p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Pevná služba <span class="feeType">L</span></td>
									<td>
										<span class="feePrice">15,90 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										<b>Jednorazovo pri kúpe:</b></td>
									<td>
										<span class="oneTimeFee"><b>49,00 €</b></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="btn cta" type="button"href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ K NÁKUPU</a>

					<div class="tip">
						<p><b>NÁŠ TIP:</b> Cenu za služby pevnej siete si môžete znížiť až o 35% kombináciou viacerých služieb dokopy a vytvorením Chytrého balíka. Kliknite na PREJSŤ K NÁKUPU a skúste kalkulačku služieb.</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Zjednodušte si život</p>
								<p class="feat-desc">
									Niekedy je najlepšie robiť veci jednoducho. Ideapad 330 je pohá-ňaný prvotriednymi procesormi, disponuje možnosťou dedikova-nej grafickej karty, je výkonný, a pritom ľahko použiteľný. Je do-stupný v širokej škále farieb, je zabezpečený, odolný a pripravený pre splnenie každodenných úloh - a pre budúcnosť.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Udrží s vami krok</p>
								<p class="feat-desc">
									Notebook nie je len kus elektroniky - je to tiež investícia. Preto je IdeaPad 330 vybavený špeciálnym ochranným náterom, ktorý chráni proti opotrebeniu. Navyše disponuje gumenými prvkami na spodnom kryte, aby sa maximalizovalo vetranie a predĺžila vý-drž zariadenia.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Rýchle nabíjanie</p>
								<p class="feat-desc">
									Dochádza vám výdrž batéria a nestíhate? IdeaPad 330 disponuje až 6hodinovou výdržou batérie a podporou rýchleho nabíjania— 15 minút nabíjania vám poskytne ďalšie až 2 hodiny výdrže.* Vy-užite maximálne svoj čas.
					<br>* V režime vypnutý. Je potreba 65 W zdroj napájania.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Windows 10 je stále lepšie</p>
								<p class="feat-desc">
									Získajte z Windows 10 to najlepšie vďaka novým aktualizáciám so skvelými funkciami. Skvelá aplikácia Fotky uľahčuje spracovanie videí, pridávanie soundtrackov, použitie prenosu dát, aplikáciu 3D efektov a ešte viac. A zdieľanie je ešte rýchlejšie vďaka intuitív-nemu nastaveniu, ktoré uľahčuje okamžité spojenie s tými, na kto-rých vám najviac záleží.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.png" /></div>

					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Ostrý obraz a vynikajúci zvuk</p>
								<p class="feat-desc">
									IdeaPad 330 disponuje rozlíšením až FHD na 15,6“ displeji a po-núka tak vynikajúce zobrazenie na cestách. V kombinácii s technológiou Dolby Audio™ poskytuje 330 úžasný zvukový záži-tok. Zvýšte hlasitosť bez skreslenia a počúvajte každý detail.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.png" /></div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Čistejšie, bezpečnejšie predinštalované aplikácie</p>
								<p class="feat-desc">
									Lenovo vám prináša jednoduché zariadenie a bezpečnejší spôsob používania už od začiatku. Náš predinštalovaný softvér ponúka 5 aplikácií, ktoré zvýšia vašu produktivitu.</p>
							</div>
						</div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Voliteľná DVD mechanika</p>
								<p class="feat-desc">
									IdeaPad 330 je vybavený jednotkou DVD, takže budete môcť sle-dovať filmy a počúvať hudbu, ktorú už máte a milujete.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Technická špecifikácia</th>
								</tr>
								<tr>
									<td>
										Procesor:</td>
									<td>
										2-jadrový, Intel Celeron N4000 @ 1.10GHz, Turbo Speed 2.60 Ghz</td>
								</tr>
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Windows 10 Home 64-bit</td>
								</tr>
								<tr>
									<td>
										Grafická karta:</td>
									<td>
										Intel UHD Graphics 600</td>
								</tr>
								<tr>
									<td>
										Pamäť RAM:</td>
									<td>
										4 GB</td>
								</tr>
								<tr>
									<td>
										Pevný disk:</td>
									<td>
										500 GB 7MM 5400RPM</td>
								</tr>
								<tr>
									<td>
										Displej:</td>
									<td>
										15,6“ displej s rozlíšením HD (1366x768)</td>
								</tr>
								<tr>
									<td>
										Web kamera:</td>
									<td>
										HD kamera s mikrofónom
								</tr>
								<tr>
									<td>
										Čítačka kariet:</td>
									<td>
										4v1 (SD, SDHC, SDXC, MMC)</td>
								</tr>
								<tr>
									<td>
										Mechanika:</td>
									<td>
										DVD-RW</td>
								</tr>
								<tr>
									<td>
										Wi-Fi:</td>
									<td>
										WiFi 802.11 ac</td>
								</tr>
								<tr>
									<td>
										GPS:</td>
									<td>
										nie</td>
								</tr>
								<tr>
									<td>
										Bluetooth:</td>
									<td>
										BT 4.1</td>
								</tr>
								<tr>
									<td>
										Porty:</td>
									<td>
										USB typu C 3.1, 2 x USB 3.0 (1 s rýchlym pripájaním), HDMI
</td>
								</tr>
								<tr>
									<td>
										Zvuk:</td>
									<td>
										2 x 2 W reproduktory s technológiou Dolby Audio™
										</td>
								</tr>
								<tr>
									<td>
										Batéria:</td>
									<td>
										až 6 hodín*, rýchle nabíjanie (15 minút nabíjania pre až 2 hodiny používania†) 
										<br>* Na základe testov MobileMark 2014. Výdrž batérie sa líši v závislosti od nastavenia, používania a ďalších faktorov.
										<br>† Pri vypnutí; vyžaduje zdroj napájania 65 W
										</td>
								</tr>
								<tr>
									<td>
										Extra numerická klávesnica:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Rozmery (V x Š x H):</td>
									<td>
										378 x 260 x 22,9 mm</td>
								</tr>
								<tr>
									<td>
										Hmotnosť:</td>
									<td>
										od 2,20 kg</td>
								</tr>
								<tr>
									<td>
										Farba:</td>
									<td>
										čierna</td>
								</tr>
								<tr>
									<td>
										Obsah balenia:</td>
									<td>
										notebook, napájací adaptér, slovenský manuál</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
