/* ===============
   UTILITIES 
   =============== */

@mixin element($element) {
    &__#{$element} {
        @content;
    }
}

@mixin modifier($modifier) {
    &--#{$modifier} {
        @content;
    }
}

///  alias element
@mixin e($element) {
    @include element($element)  {
        @content;
    }
}

/// alias modifier
@mixin m($modifier) {
    @include modifier($modifier) {
        @content;
    }
}