<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.jpg" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.jpg" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.jpg" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.jpg" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.jpg" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.jpg" />
								<img class="ec-gallery" src="../assets/img/lenovo.jpg" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<p class="bpis__title">
						Lenovo Moto G5 Plus</p>
					<div class="box-device">
						<p class="pricing__title">
							Napr. s pevnými službami <span class="feeType">XL</span>:</p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Pevná služba <span class="feeType">XL</span></td>
									<td>
										<span class="feePrice">20,00 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>								
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">1,00 €</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="box-device">
						<p class="pricing__title">
							Napr. s pevnými službami <span class="feeType">L</span>:</p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Pevná služba <span class="feeType">L</span></td>
									<td>
										<span class="feePrice">15,00 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>								
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">49,00 €</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ K NÁKUPU</a>					
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Najmodernejší fotoaparát vo svojej triede</p>
								<p class="feat-desc">
									Nový Lenovo Moto G5 Plus disponuje prvým fotoaparátom vo svojej triede s technológiou Dual Autofocus Pixels. Využitím 10-krát viac pixelov senzora je fotoaparát schopný zaostriť na predmet až o 60% rýchlejšie ako kedykoľvek predtým.1 Menej zmeškaných záberov, viac nádherných denných i nočných fotografií.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Batéria + TurboPower™</p>
								<p class="feat-desc">
									Nemusíte zapájať nabíjačku. 3000mAh batéria s celodennou výdržou poskytuje dostatok energie, takže nemusíte nabíjať smartfón počas dňa. Keď je čas smartphone dobiť, nespomalí vás. Vďaka technológii TurboPower™ nabijete smartfón až na 6 hodín prevádzky už po 15 minútach nabíjania.1</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Precízny kovový dizajn</p>
								<p class="feat-desc">
									Nový smartphone Lenovo Moto G5 Plus prichádza s vysoko kvalitnou, hliníkovou povrchovou úpravou, ktorá bola vytvorená s úplnou presnosťou až k dokonalosti. Vyberte si šedé alebo zlaté farebné prevedenie.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.jpg" /></div>
					</div>
					<div class="feature-to-holder">
						<div class="col-md-6 feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Výkon pod kapotou</p>
								<p class="feat-tit">
									Okamžitý pôžitok</p>									
								<p class="feat-desc">
									Lenovo Moto G5 Plus prichádza s rýchlym osemjadrovým 2,0 GHz procesorom, výkonnými grafickými funkciami a podporou 4G LTE.2.</p>
								<p class="feat-tit" style="margin-top: 10px;">
									Život v HD</p>									
								<p class="feat-desc">
									Nechajte vaše fotografie, videá a hry ožiť. Lenovo Moto G5 prináša 5,2“ Full HD displej s jasnými farbami a jemnými detailmi, ktoré očakávate od prémiového smartfónu.</p>
								<p class="feat-tit" style="margin-top: 10px;">
									Trocha vody neuškodí</p>									
								<p class="feat-desc">
									Nenechajte sa zastrašiť kvapkami dažďa alebo poliatím vodou. Lenovo Moto G5 Plus disponuje vodoodpudivým nano povrchom, vďaka ktorému je telefón chránený zvnútra aj zvonku.</p>																		
							</div>
						</div>
						<div class="col-md-6 feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Vylepšenia</p>
								<p class="feat-tit">
									Skratky, ktoré prináša Moto</p>									
								<p class="feat-desc">
									Odomknite telefón pomocou odtlačku prsta alebo si prečítajte oznámenie bez odomykania telefónu. Navyše vám rýchle gestá pomôžu dostať sa k položkám, ktoré využívate najčastejšie.</p>
								<p class="feat-tit" style="margin-top: 10px;">
									Čítačka odtlačkov prstov</p>									
								<p class="feat-desc">
									Stačí použiť čítačku odtlačkov prsta a odomknúť tak telefón v jednom okamihu. Dotknite sa čítačky znova a smartphone sa opäť zamkne. Navyše Lenovo Moto G5 Plus disponuje technológiou NFC, takže môžete bezpečne nakupovať pomocou smartfónu. Môžete tiež nakúpiť veľa aplikácií bez zadávania hesla.</p>									
								<p class="feat-tit" style="margin-top: 10px;">
									Buďte o krok vpred</p>									
								<p class="feat-desc">
									Moto displej vám ponúka rýchly prehľad oznámení a updatov, takže môžete vidieť, čo sa deje, a to bez odomyknutia telefónu. Stačí len potriasť telefónom, aby ste videli, čo je nové a vyriešiť to okamžite alebo odložiť na neskôr.</p>
								<p class="feat-tit" style="margin-top: 10px;">
									Akcie Moto</p>									
								<p class="feat-desc">
									S akciami Moto vám jednoduchá gestá uľahčia každodenné používanie. Či už je to otočenie zápästia pre spustenie fotoaparátu alebo dvojité zatrasenie pre spustenie blesku, môžete všetky funkcie používať bez stlačenia jediného tlačidla.</p>									
							</div>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Technické parametre</th>
								</tr>
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Android 7.0, Nougat OS</td>
								</tr>
								<tr>
									<td>
										Pamäť RAM:</td>
									<td>
										3 GB</td>
								</tr>
								<tr>
									<td>
										Ukladací priestor:</td>
									<td>
										32 GB interná pamäť, až 128 GB s microSD kartou</td>
								</tr>
								<tr>
									<td>
										SIM karta:</td>
									<td>
										jedna nano SIM karta</td>
								</tr>
								<tr>
									<td>
										Senzory:</td>
									<td>
										Čítačka odtlačkov prstov, NFC, Akcelerometer, Gyroskop, snímač intenzity okolitého osvetlenia, snímač priblíženia</td>
								</tr>
								<tr>
									<td>
										Ochrana proti vode:</td>
									<td>
										Vodeodolná nanovrstva3</td>
								</tr>
								<tr>
									<td>
										Ochrana displeja:</td>
									<td>
										Corning® Gorilla® Glass</td>
								</tr>
								<tr>
									<td>
										Zadná kamera:</td>
									<td>
										12 MP so zaostrovaním pomocou duálnych pixelov, f/1.7, 1.4μm, duálny LED blesk</td>
								</tr>
								<tr>
									<td>
										Predná kamera:</td>
									<td>
										5 MP širokouhlá, f/2.2, 1.4μm s možnosťou prisvietenia displejom</td>
								</tr>
								<tr>
									<td>
										Dáta:</td>
									<td>
										4G LTE</td>
								</tr>
								<tr>
									<td>
										Wi-Fi:</td>
									<td>
										802.11 a/b/g/n</td>
								</tr>
								<tr>
									<td>
										Technológia Bluetooth®:</td>
									<td>
										Bluetooth verzia 4.2</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p>
									Objednávku vám doručíme kuriérom čo najskôr od jej spracovania.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon2.png" />
								<p>
									Ak zistíte, že vám tovar alebo služba nevyhovuje, môžete ich vrátiť do 14 dní bez udania dôvodu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>