
<!--#include virtual="../../../global-assets/templates/_header1.html" -->
<!--#include virtual="../../../global-assets/templates/_styles.html" -->
<!--#include virtual="../../../global-assets/templates/_header2.html" -->
<!--#include virtual="../../../global-assets/templates/_kv.html" -->
<!--#include virtual="../../../global-assets/templates/_top-content.html" -->
<link rel="stylesheet" href="/assets/css/style.css">
    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>
    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/reflect-metadata/Reflect.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>


    <my-app>Loading...</my-app>

<!--#include virtual="../../../global-assets/templates/_bottom-content.html" -->
<!--#include virtual="../../../global-assets/templates/_footer.html" -->