<script type="text/javascript" src="../assets/js/highlight.pack.js"></script>
<section id="hero_custom">
    <div class="fixed-column">
        <div class="hero__content_custom">
            <h1 class="hero__title">Standard UI components</h1>
        </div>
    </div>
</section>
<section id="sec-0" class="section sec-0">
    <div class="fixed-column">
        <h2 class="sec__title">Hero Section</h2>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;section id=&quot;hero&quot;&gt;
    &lt;div class=&quot;container-fixed&quot;&gt;
        &lt;div class=&quot;hero__mobile&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;hero__content&quot;&gt;
            &lt;h1 class=&quot;hero__title&quot;&gt;&lt;b&gt;MAGENTA SMARTHOME&lt;/b&gt;&lt;br/&gt;VÁŠ DOMOV V MOBILE&lt;/h1&gt;
            &lt;p class=&quot;hero__desc&quot;&gt;S Magenta SmartHome máte vždy prehľad o svojej domácnosti a jednoducho z nej spravíte inteligentný domov.&lt;/p&gt;
            &lt;a class=&quot;btn cta&quot; href=&quot;#&quot;&gt;VIAC INFO&lt;/a&gt;
        &lt;/div&gt;
        &lt;/div&gt;
    &lt;/section&gt;
            </code>
        </pre>
        <h4 class="title__pre">CSS</h4>
        <pre>
            <code class="css">
    #hero {
        background: url(../img/kv.jpg) no-repeat 50% 50%;
        padding: 60px 2%;
        overflow: hidden;
        background-size: cover;
    }

    .hero__content {
        text-align: center;
        max-width: 460px;
    }

    @media screen and (max-width: 480px) {
        #hero {
            background: transparent;
            padding: 0;
        }

        .hero__mobile {
            background: url(../img/kv.jpg) no-repeat 50% 50%;
            height: 195px;
        }

        #hero .container-fixed {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .hero__content {
            padding: 40px 4%;
        }

        #content .hero__title,
        #content .hero__desc {
            color: #262626;
        }

        #hero .btn {
            margin-top: 60px;
        }
    }

            </code>
        </pre>
    </div>
</section>
<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title"><b>MAGENTA SMARTHOME</b><br/>VÁŠ DOMOV V MOBILE</h1>
            <p class="hero__desc">S Magenta SmartHome máte vždy prehľad o svojej domácnosti a jednoducho z nej spravíte inteligentný domov.</p>
            <a class="btn cta" href="#">VIAC INFO</a>
        </div>
    </div>
</section>
<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <h2 class="sec__title">Buttons</h2>
        <h4 class="title__comp">Default Button</h4>
        <a href="#" class="btn">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Default Disabled Button</h4>
        <a href="#" class="btn btn_disabled">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn btn_disabled&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Button with Icon</h4>
        <a href="#" class="btn"><i class="fa fa-refresh" aria-hidden="true"></i>Icon</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;&lt;i class=&quot;fa fa-refresh&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;Icon&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Button with Icon only</h4>
        <a href="#" class="btn"><i class="fa fa-only fa-refresh" aria-hidden="true"></i></a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;&lt;i class=&quot;fa fa-only fa-refresh&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">CTA</h4>
        <a href="#" class="btn cta">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn cta&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">CTA Disabled</h4>
        <a href="#" class="btn cta btn_disabled">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn cta btn_disabled&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Magenta CTA</h4>
        <a href="#" class="btn cta_mag">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn cta_mag&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Magenta CTA Disabled</h4>
        <a href="#" class="btn cta_mag btn_disabled">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn cta_mag btn_disabled&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Clean Button</h4>
        <a href="#" class="btn btn_clean">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn btn_clean&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Button Outline</h4>
        <a href="#" class="btn btn_outline">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn btn_outline&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Button with Magenta Outline</h4>
        <a href="#" class="btn btn_mag-outline">Button</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;btn btn_mag-outline&quot;&gt;Button&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Default Hyperlink</h4>
        <a href="#" class="link">Hyperlink</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;link&quot;&gt;Hyperlink&lt;/a&gt;
            </code>
        </pre>
        <h4 class="title__comp">Play Button</h4>
        <a href="#" class="play"><i class="fa fa-play" aria-hidden="true"></i></a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;a href=&quot;#&quot; class=&quot;play&quot;&gt;&lt;i class=&quot;fa fa-play&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            </code>
        </pre>
    </div>
</section>
<section id="sec-2" class="section sec-2">
    <div class="fixed-column">
        <h2 class="sec__title">Form Elements</h2>
        <h4 class="title__comp">Text Input</h4>
        <label for="input1" class="input-label">Label</label>
        <input id="input1" class="input" type="text" placeholder="Placeholder" />
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;label for=&quot;input1&quot; class=&quot;input-label&quot;&gt;Label&lt;/label&gt;
    &lt;input id=&quot;input1&quot; class=&quot;input&quot; type=&quot;text&quot; placeholder=&quot;Placeholder&quot; /&gt;
            </code>
        </pre>
        <h4 class="title__comp">Textarea</h4>
        <label for="textarea" class="input-label">Label</label>
        <textarea class="textarea" name="" id="textarea" cols="30" rows="10"></textarea>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;label for=&quot;textarea&quot; class=&quot;input-label&quot;&gt;Label&lt;/label&gt;
    &lt;textarea class=&quot;textarea&quot; name=&quot;&quot; id=&quot;textarea&quot; cols=&quot;30&quot; rows=&quot;10&quot;&gt;&lt;/textarea&gt;
            </code>
        </pre>
        <h4 class="title__comp">Radiobuttons</h4>
        <form>
            <input type="radio" name="addName" value="1" checked>
            <br>
            <input type="radio" name="addName" value="2">
            <br>
            <input type="radio" name="addName" value="3">
        </form>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="html">
    &lt;form&gt;
        &lt;input type=&quot;radio&quot; name=&quot;addName&quot; value=&quot;1&quot; checked&gt;
        &lt;br&gt;
        &lt;input type=&quot;radio&quot; name=&quot;addName&quot; value=&quot;2&quot;&gt;
        &lt;br&gt;
        &lt;input type=&quot;radio&quot; name=&quot;addName&quot; value=&quot;3&quot;&gt;
    &lt;/form&gt;
            </code>
        </pre>
        <h4 class="title__comp">Checkbox</h4>
        <input type="checkbox">
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="xml hljs">
    &lt;input type=&quot;checkbox&quot;&gt;
            </code>
        </pre>
        <h4 class="title__comp">SelectBox</h4>
        <select>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="xml hljs">
    &lt;select&gt;
        &lt;option value=&quot;volvo&quot;&gt;Volvo&lt;/option&gt;
        &lt;option value=&quot;saab&quot;&gt;Saab&lt;/option&gt;
        &lt;option value=&quot;mercedes&quot;&gt;Mercedes&lt;/option&gt;
        &lt;option value=&quot;audi&quot;&gt;Audi&lt;/option&gt;
    &lt;/select&gt;
            </code>
        </pre>
        <h4 class="title__comp">Switcher</h4>
        <input type="checkbox" class="js-switch" checked />
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="xml hljs">
    &lt;input type=&quot;checkbox&quot; class=&quot;js-switch&quot; checked /&gt;
            </code>
        </pre>
        <h4 class="title__pre">JS</h4>
        <pre>
            <code class="xml hljs">
    &lt;script type=&quot;text/javascript&quot; src=&quot;/documents/10179/5721442/switchery.js&quot;&gt;&lt;/script&gt;
    var elem = document.querySelector(&apos;.js-switch&apos;);
    var init = new Switchery(elem, { color: &apos;#6bb324&apos;, secondaryColor: &apos;#ededed&apos; });
    $(&apos;.switchery&apos;).parent().closest(&apos;span&apos;).addClass(&apos;hide-span&apos;);
            </code>
        </pre>
    </div>
</section>
<section id="sec-3" class="section sec-3">
    <div class="fixed-column">
        <h2 class="sec__title">Interactive Elements</h2>
        <h4 class="title__comp">Tooltip</h4>
        <p class="tooltip">ToolTip</p>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="xml hljs">
                &lt;p class=&quot;tooltip&quot;&gt;ToolTip&lt;/p&gt;
                        </code>
                    </pre>
                    <h4 class="title__pre">JavaScript</h4>
                    <pre>
                        <code class="javascript hljs">
                $(&apos;.tooltip&apos;).qtip({
                    content: {
                        text: &apos;This is a tooltip.&apos;
                    },
                    position: {
                        my: &apos;left center&apos;,
                        at: &apos;right center&apos;
                    }
                });
            </code>
        </pre>
        <h4 class="title__comp">Tabs</h4>
        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu">
                    <li class="variant current" data-variant="1"><a href="#tab-1">tab1</a></li>
                    <li class="variant" data-variant="2"><a href="#tab-2">tab2</a></li>
                    <li class="variant" data-variant="3"><a href="#tab-3">tab3</a></li>
                </ul>
            </div>
            <div class="tab">
                <div class="tab-content" id="tab-1">
                    content1
                </div>
                <div class="tab-content" id="tab-2">
                    content2
                </div>
                <div class="tab-content" id="tab-3">
                    content3
                </div>
            </div>
        </div>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="xml hljs">
    &lt;div class=&quot;tabs-container&quot;&gt;
        &lt;div class=&quot;tab__holder&quot;&gt;
            &lt;ul class=&quot;tabs-menu&quot;&gt;
                &lt;li class=&quot;variant current&quot; data-variant=&quot;1&quot;&gt;&lt;a href=&quot;#tab-1&quot;&gt;tab1&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;variant&quot; data-variant=&quot;2&quot;&gt;&lt;a href=&quot;#tab-2&quot;&gt;tab2&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;variant&quot; data-variant=&quot;3&quot;&gt;&lt;a href=&quot;#tab-3&quot;&gt;tab3&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
        &lt;div class=&quot;tab&quot;&gt;
            &lt;div class=&quot;tab-content&quot; id=&quot;tab-1&quot;&gt;
                content1
            &lt;/div&gt;
            &lt;div class=&quot;tab-content&quot; id=&quot;tab-2&quot;&gt;
                content2
            &lt;/div&gt;
            &lt;div class=&quot;tab-content&quot; id=&quot;tab-3&quot;&gt;
                content3
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
            </code>
        </pre>
        <h4 class="title__pre">JavaScript</h4>
        <pre>
            <code class="javascript hljs">
                    $(&quot;.tabs-menu a&quot;).click(function (event) {
                        event.preventDefault();
                        if (!$(this).parent().hasClass(&quot;current&quot;) &amp;&amp; !$(this).parent().hasClass(&quot;isVariant&quot;)) {
                            toggleTabs();
                        }

                        $(this).parent().addClass(&quot;current&quot;);
                        $(this).parent().siblings().removeClass(&quot;current&quot;);
                        var tab = $(this).attr(&quot;href&quot;),
                            parent = $(this).closest(&apos;ul&apos;).parent().parent();
                        parent.find(&apos;.tab-content&apos;).not(tab).css(&quot;display&quot;, &quot;none&quot;);
                        $(tab).fadeIn();

                    });

                    var toggleTabs = function () {
                        $(&apos;.tab__variant&apos;).toggleClass(&apos;selected&apos;);
                    };
            </code>
        </pre>
        <h4 class="title__comp">Popup</h4>
        <a href="#p-outer" class="popup">Popup</a>
        <h4 class="title__pre">HTML</h4>
        <pre>
            <code class="xml hljs">
    &lt;a href=&quot;#p-outer&quot; class=&quot;popup&quot;&gt;Popup&lt;/a&gt;

    &lt;div id=&quot;p-outer&quot; style=&quot;display: none;&quot;&gt;
        &lt;div class=&quot;p-head&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;p-close&quot;&gt;&lt;/a&gt;&lt;/div&gt;
            &lt;!-- POPUP CONTENT --&gt;
        &lt;div class=&quot;p-content&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
            </code>
        </pre>
        <h4 class="title__pre">JavaScript</h4>
        <pre>
            <code class="javascript hljs">
    $(&apos;.popup&apos;).fancybox({
        padding: 11,
        margin: 0,
        closeBtn: false,
        helpers : {
            overlay : {
                css : {
                    &apos;background&apos; : &apos;rgba(0, 0, 0, 0.7)&apos;
                }
            }
    }
    });

    $(&apos;.p-close&apos;).on(&apos;click&apos;, function(e) {
        e.preventDefault();
        $.fancybox.close();
    });
            </code>
        </pre>
        <div id="p-outer" style="display: none;">
            <div class="p-head">
                <a href="#" class="p-close"></a>
            </div>
            <!-- POPUP CONTENT -->
            <div class="p-content"></div>
        </div>
    </div>
</section>
<!-- Slider -->
<section id="sec-4" class="section sec-4">
   <div class="container-fixed">
       <div class="row program-holder">
       <h2 class="sec__title">Slider</h2>
             <h4 class="title__pre">CSS / HTML</h4>
        <pre>
            <code class="xml hljs">
               _slider-core.scss
               _slider-pausaly.scss

                &lt;!-- slider html --&gt;
            &lt;div id="program_slider" class="slider"&gt;
                &lt;!-- 1 Slide --&gt;
                &lt;div class="col-md-6 box-g" id="happy-s"&gt;&lt;/div&gt;
                &lt;!-- 2 Slide --&gt;
                &lt;div class="col-md-6 box-g" id="happy-s"&gt;&lt;/div&gt;
                .....
            &lt;/div&gt;
            </code>
        </pre>
        <h4 class="title__pre">JavaScript</h4>
        <pre>
            <code class="javascript hljs">
                slider.min.js
                main.js =>> /* ::: Slider ::: */
            </code>
        </pre>
            <!-- slider html -->
            <div id="program_slider" class="slider">
                <!-- 1 S -->
                <div class="col-md-6 box-g" id="happy-s">
                    <div class="program_item">
                        <!-- program type -->
                        <div class="program_title text_centered">
                            Happy S
                        </div>
                        <!--  volania -->
                        <div class="program_volania box-white">
                            <h3> VOLANIA</h3>
                            <div class="desc">
                                <h4> neobmedzené</h4> volania do siete Telekom a pevných sietí v SR</div>
                            <div class="desc">
                                <h4> neobmedzené</h4> prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4> 100 minút</h4> volania do ostatných sietí v SR a do EÚ
                                <br /> odchádzajúce volania <span class="roaming-info">zo susedných štátov</span>
                                <br /> do celej EÚ</div>
                            <div class="desc">
                                <h4> 100 minút</h4> prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-white">
                            <h3> SMS a MMS</h3>
                            <div class="desc">
                                <h4> 0,10 €</h4> do všetkých sietí v SR a
                                <br /> <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-white">
                            <h3> 4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4> 200 MB v SR</h4> </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_magenta"> 16,99 €</h2>
                                <div class="font_magenta"> mesačne s novým telefónom</div> alebo 15,99 € mesačne bez telefónu
                            </div>
                            <div class="cena-right"></div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s" id="order-happy-s">vybrať</a>
                        </div>
                    </div>
                </div>
                <!-- 2 M -->
                <div class="col-md-6 box-g" id="happy-m">
                    <div class="program_item">
                        <!-- program type -->
                        <div class="program_title text_centered">
                            Happy M
                        </div>
                        <!--  volania -->
                        <div class="program_volania box-white">
                            <h3> VOLANIA</h3>
                            <div class="desc">
                                <h4> neobmedzené</h4> volania do siete Telekom a pevných sietí v SR</div>
                            <div class="desc">
                                <h4> neobmedzené</h4> prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>150 minút</h4> volania do ostatných sietí v SR a do EÚ
                                <br /> odchádzajúce volania <span class="roaming-info">zo susedných štátov</span>
                                <br /> do celej EÚ</div>
                            <div class="desc">
                                <h4>150 minút</h4> prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-white">
                            <h3> SMS a MMS</h3>
                            <div class="desc">
                                <h4>neobmedzené</h4> do všetkých sietí v SR a
                                <br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-white">
                            <h3> 4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4> 500 MB v SR</h4> </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_magenta"> 23,99 €</h2>
                                <div class="font_magenta"> mesačne s novým telefónom</div> alebo 19,99 € mesačne bez telefónu</div>
                            <div class="cena-right"></div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m" id="order-happy-m">vybrať</a>
                        </div>
                    </div>
                </div>
                <!-- 3 L -->
                <div class="col-md-6 box-g" id="happy-l">
                    <div class="program_item">
                        <!-- program type -->
                        <div class="program_title text_centered">
                            Happy L
                        </div>
                        <!--  volania -->
                        <div class="program_volania box-white">
                            <h3> VOLANIA</h3>
                            <div class="desc">
                                <h4>
                                            neobmedzené</h4> volania do siete Telekom a pevných sietí v SR</div>
                            <div class="desc">
                                <h4>
                                            neobmedzené</h4> prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>
                                            250 minút</h4> volania do ostatných sietí v SR a do EÚ
                                <br /> odchádzajúce volania <span class="roaming-info">zo susedných štátov</span>
                                <br /> do celej EÚ</div>
                            <div class="desc">
                                <h4>
                                            250 minút</h4> prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-white">
                            <h3> SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                            neobmedzené</h4> do všetkých sietí v SR a
                                <br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-white">
                            <h3> 4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                            2 000 MB v SR</h4></div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_magenta"> 29,99 €</h2>
                                <div class="font_magenta"> mesačne s novým telefónom</div> alebo 27,99 € mesačne bez telefónu</div>
                            <div class="cena-right"></div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l" id="order-happy-l">vybrať</a>
                        </div>
                    </div>
                </div>
                <!-- 4 XL-call -->
                <div class="col-md-6 box-g" id="happy-xl-volania">
                    <div class="program_item">
                        <!-- program type -->
                        <div class="program_title text_centered">
                            HAPPY XL VOLANIA
                        </div>
                        <!--  volania -->
                        <div class="program_volania box-white">
                            <h3> VOLANIA</h3>
                            <div class="desc">
                                <h4>
                                            neobmedzené</h4> volania do všetkých sietí v SR</div>
                            <div class="desc">
                                <h4>
                                            neobmedzené</h4> prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>
                                            1000 minút</h4> odchádzajúce volania zo SR a <span class="roaming-info">zo susedných štátov</span> do EÚ</div>
                            <div class="desc">
                                <h4>
                                            1000 minút</h4> prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-white">
                            <h3> SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                            0,10 €</h4> do všetkých sietí v SR a
                                <br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-white">
                            <h3> 4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4> 500 MB v SR</h4> </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_magenta"> 29,99 €</h2>
                                <div class="font_magenta"> mesačne s novým telefónom</div> alebo 27,99 € mesačne bez telefónu
                            </div>
                            <div class="cena-right"></div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call" id="order-happy-xl-call">vybrať</a>
                        </div>
                    </div>
                </div>
                <!-- 5 XL -->
                <div class="col-md-6 box-g" id="happy-xl">
                    <div class="program_item">
                        <!-- program type -->
                        <div class="program_title text_centered">
                            Happy XL
                        </div>
                        <!--  volania -->
                        <div class="program_volania box-white">
                            <h3> VOLANIA</h3>
                            <div class="desc">
                                <h4>neobmedzené</h4> volania do všetkých sietí v SR</div>
                            <div class="desc">
                                <h4>neobmedzené</h4> prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>1000 minút</h4> odchádzajúce volania zo SR a <span class="roaming-info">zo susedných štátov</span> do EÚ</div>
                            <div class="desc">
                                <h4>1000 minút</h4> prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-white">
                            <h3> SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                            neobmedzené</h4> do všetkých sietí v SR a
                                <br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-white">
                            <h3> 4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                            4 000 MB v SR</h4> </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_magenta">39,99 €</h2>
                                <div class="font_magenta"> mesačne s novým telefónom</div> alebo 35,99 € mesačne bez telefónu</div>
                            <div class="cena-right"></div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl" id="order-happy-xl">vybrať</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>

</section>
<!-- SCRIPTS -->
<script type="text/javascript" src="../assets/js/switchery.min.js"></script>
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
