/* Animate `ngRepeat` in `phoneList` component */
.device-card.ng-enter,
.device-card.ng-leave,
.device-card.ng-move {
  overflow: hidden;
  // transition: 0.3s ease all;
  transition: background .3s linear;
}

.device-card.ng-enter,
.device-card.ng-leave.ng-leave-active,
.device-card.ng-move {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.device-card.ng-enter.ng-enter-active,
.device-card.ng-leave,
.device-card.ng-move.ng-move-active {
  height: 120px;
  margin-bottom: 20px;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 15px;
}

/* Animate view transitions with `ngView` */
.view-container {
  position: relative;
}

.view-frame {
  margin-top: 20px;
}

.view-frame.ng-enter,
.view-frame.ng-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame.ng-enter {
  animation: 1s fade-in;
  z-index: 515;
}

.view-frame.ng-leave {
  animation: 1s fade-out;
  z-index: 514;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}


.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important;
}

.cssFadeOut {
    transition: .2s linear all;
    opacity: 1;
    overflow: hidden;
}
.cssFadeOut.ng-hide {
   opacity: 0;
}
