.info {
    text-decoration: underline;
    cursor: pointer;
}
.popup {
 cursor: pointer;
}
.show-mobile-only {
    display: none;
}

.show-desktop-only {
    display: block;
}

@media only screen and (max-width: 768px) {
    .show-mobile-only {
        display: block;
    }
    .show-desktop-only {
        display: none;
    }
}

.device-list {
    border-top: 1px solid $alto;
    padding-top: 15px;
}


/* Device card */

#content .device-card {
    margin: 5px 0;
    min-height: 550px;
}
#content .device-card:last-child {
   margin-bottom: 40px;
}

@media only screen and (min-width: 690px) {
    #content .device-card {
        margin: 5px;
        max-width: 48%;
        min-height: 550px;
    }
}

@media only screen and (min-width: 690px) and (max-width: 960px) {
    #content .device-card:nth-child(even) {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 961px) {
    #content .device-card {
        margin-left: 5px;
        margin-right: 5px;
        max-width: 32.2222%;
    }
}


/* ::: CARD ::: */

#content .device-card {
    border: 1px solid #dcdcdc;
    padding: 20px 15px 20px 15px;
    background-color: #fff;
    transition: all .2s ease-in-out;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
}


/* img zoom blur fix */

@media screen and (min-width: 768px) {
    .device-card:hover {
        transform: scale(1.01);
        -webkit-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
        box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
}


/*  img */

#content .device-card-img__wrap {
    text-align: center;
    & .device-card-img {
        max-width: 235px;
        max-height: 200px;
        width: auto;
        display: inline-block;
    }
    & .ec-wrap-left {
        position: relative;
        float: left;
        & .ec-img-left {
            position: absolute;
            top: 10px;
            left: 25px;
            z-index: 10;
            display: block;
            width: 85px;
            height: 85px;
        }
        & .ec-img-left-2 {
            position: absolute;
            top: 81px;
            left: 25px;
            z-index: 10;
            display: block;
            width: 71px;
            height: 71px;
        }
        @media (max-width: 768px) {
            .ec-img-left {
                position: absolute;
                top: 0;
                left: 10px;
                z-index: 10;
                display: block;
                width: 71px;
                height: 71px;
            }
            .ec-img-left-2 {
                position: absolute;
                top: 71px;
                left: 10px;
                z-index: 10;
                display: block;
                width: 71px;
                height: 71px;
            }
        }
    }
    & .ec-wrap-right {
        position: relative;
        float: right;
        & .ec-img-right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            display: block;
            width: 90px;
            height: 90px;
        }
        @media (max-width: 768px) {
            .ec-img-right {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
                display: block;
                width: 70px;
                height: 70px;
            }
        }
    }
}


/* Title */

#content .device-card {
    & .device-card__title {
        & h3 {
            margin: 10px 0 0 0;
            overflow: hidden;
            text-align: center;
            min-height: 50px;
        }
    }
}

@media screen and (min-width: 1024px) {
    #content .device-card {
        & .device-card__title {
            min-height: 51px;
        }
    }
}


/* Detail */

#device-grid .device-card__detail-list {
    // reset t-theme margin
    margin: 0;
    padding-top: 5px;
    text-align: center;
    min-height: 105px;
}

@media screen and (max-width: 768px) {
    #content .device-card-img__wrap {
        & .device-card-img {
            max-width: 180px;
        }
    }
    #content .device-card__title h3 {
        margin: 10px;
    }
    #content .device-card__detail-wrap ul {
        margin: 10px;
    }
}


/*  Price Solo */

// .device-card__price-wrap {
//     width: 100%;
//     margin-top: 15px;
//     position: relative;
//     text-align: center;
//     min-height: 1px;
//     padding-right: 10px;
//     padding-left: 10px;
//     & .price {
//         color: $magenta;
//         font-size: 22px;
//         & sup {
//             top: -4px;
//         }
//     }
//     & .price__desc {
//         font-size: 16px;
//     }
// }

/*  Device Price */

.device-card__price-wrap {
    margin-top: 15px;
    & .price-left__wrap,
    .price-right__wrap {
        width: 50%;
        position: relative;
        float: left;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
    }
    & .price-left__wrap {
        border-right: 1px solid #dadada;
    }
    & .price {
        color: $magenta;
        font-size: 22px;
        & sup {
            top: -5px;
        }
    }
    & .price_tag {
        color: #6c6c6c;
        font-size: 16px;
    }
}

.device-card__price-wrap {
    & .device-card__price-solo-wrap {
        width: 100%;
        position: relative;
        text-align: center;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        & .price-solo {
            color: $magenta;
            font-size: 32px;
            & sup {
                top: -5px;
            }
        }
    }
}


/* CTA BTN */

.device-card__cta {
    width: 100%;
    position: relative;
    margin-top: 20px;
    min-height: 1px;
    float: left;
}


/* SortFilter */

.filter-tags_wrap {
    margin: 10px 0;
}

.filter-sort {
    margin: 0;
    padding: 8px 0 10px 0;
}

.filter-label {
    display: inline-block;
    min-width: 150px;
}

.no-decoration {
    list-style: none;
}

.filter-tag {
    background-color: $concrete;
    color: $boulder;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    & .filter-tag_label {}
    & .remove-button {
        margin: 0 0 0 5px;
        padding: 0;
        border: none;
        background: 0 0;
        cursor: pointer;
        vertical-align: middle;
        font: 500 14px Arial, sans-serif;
        color: #fff;
        background-color: $silver-chalice-dark;
        border-radius: 50%;
        padding: 0 4px;
        &:hover {
            text-decoration: underline;
            color: $alto-mid;
        }
    }
}


/* Select */
.filter-select {
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
    border: 1px solid #a4a4a4 !important;
    font-size: 14px;
    line-height: inherit;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    color: #555;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    white-space: normal;
    background-color: #ededed;
}

/* filter mob btn */
#content .btn_filter {
    border: 1px solid $silver-chalice;
    width: 48%;
    text-align: center;
    &::before {
        content:url('../img/filter-icon-16.png');
        position:relative;
        right:5px;
        top:3px;
    }
}

#content .btn_sort {
    border: 1px solid $silver-chalice;
    width: 48%;
    text-align: center;
    &::before {
        content:url('../img/sort-icon.png');
        position:relative;
        right:5px;
        top:3px;
    }
}


.checkbox-filter {
    min-height: 320px;
}
@media screen and (max-width: 400px) {
    .checkbox-label {
    font-size: 16px;
}   
}
