<section id="hero">
    <div class="container-fixed">
        <div class="row text_centered-mob">
            <div class="col-md-6">
                <div class="hero__content">
                    <img src="../assets/img/ec-hero_v2.png" alt="">
                    <h1 class="hero__title">
                        <b>SPEEZY JE EASY!</b><br />
                        ZÍSKAJ KNIHU MAJKA SPIRITA<br />
                        S DARČEMI ZADARMO <span class="hero-bold">ZA 16,90 €</span></h1>
                    <a class="button button_lima" href="/volania/easy/easy-balicek/mam-zaujem">CHCEM EASY BALÍČEK</a><br />
                    <a class="link" href="/volania/easy/easy-balicek#sec-1">Viac info o balíčku</a></div>
            </div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">VÝPREDAJ MOBILOV</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">AKCIE</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">DOPLNKOVÉ BALÍKY</a></li>
        <li>
            <a class="scroll-to" href="#sec-6">ROAMING</a></li>
        <li>
            <a class="scroll-to spotlight" href="#sec-7">DOBIŤ KREDIT</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1 tc" id="sec-1">
    <div class="fixed-column">
        <h2 class="section__title">
            <img alt="Výhody EASY KARTY" src="../assets/img/title-1.png" /></h2>
        <div class="col-group">
            <div class="grid-g__col_4 col">
                <img alt="Volania, SMS a internet bez viazanosti" src="../assets/img/ico-1.png" />
                <p class="desc">
                    <b>Volania, SMS a internet bez viazanosti</b><br />
                    a nečakaných výdavkov naviac</p>
            </div>
            <div class="grid-g__col_4 col">
                <img alt="Neobmedzené volania s blízkym" src="../assets/img/ico-2.png" />
                <p class="desc">
                    <b>Neobmedzené volania s blízkym,</b><br />
                    ktorý ti pravidelne dobíja kredit</p>
                <a class="link link link_blue fancy" href="#info-vyhody-volania">Mám záujem</a></div>
            <div class="grid-g__col_4 col">
                <img alt="Kredit ti platí až 12 mesiacov" src="../assets/img/ico-3.png" />
                <p class="desc">
                    <b>Kredit ti platí až 12 mesiacov</b><br />
                    od každého posledného dobitia</p>
            </div>
        </div>
        <div class="col-group margin_top20">
            <div class="grid-g__col_12 tc">
                <p class="desc">
                    Navyše získaš bezplatné volania na zákaznícke centrum <b>0800 123 456</b></p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2 tc" id="sec-2">
    <div class="fixed-column">
        <h2 class="section__title">
            <img alt="Služby a ceny EASY KARTY" src="../assets/img/title-2.png" /></h2>
        <p class="subtitle margin_top50">
            ZAPLATÍŠ MAX. 50 CENTOV ZA DEŇ!</p>
        <div class="col-group col-holder">
            <div class="grid-g__col_6 col">
                <img alt="Volania a SMS a MMS" src="../assets/img/ico-4.png" />
                <p class="title">
                    Volania a SMS</p>
                <p class="desc">
                    0,09 € / minúta hovoru a 0,06 € / SMS</p>
                max. však 50 centov / deň
                <p>
                    &nbsp;</p>
                <a class="link link_blue info-1" href="#">Viac info</a></div>
            <div class="grid-g__col_6 col">
                <img alt="4G internet v mobile" src="../assets/img/ico-5.png" />
                <p class="title">
                    4G internet v mobile</p>
                <p class="desc">
                    0,10 € / 1 MB s rýchlosťou 150 Mb/s</p>
                max. však 50 centov / deň
                <p>
                    &nbsp;</p>
                <a class="link link_blue info-2" href="#">Viac info</a></div>
        </div>
        <p class="brochure-info">Podrobnejšie informácie o Easy karte získaš v <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/marketingove-letaky-a-brozury/" class="link">brožúre</a></p>
        <p class="subtitle margin_top50">
            TRI SPÔSOBY AKO ZÍSKAŤ EASY</p>
        <div class="col-group">
            <div class="grid-g__col_4 col box box_magenta">
                <p class="box__title">
                    NOVÁ Easy karta</p>
                <div class="box__mid-area">
                    <p class="ma_desc">
                        so štartovacím kreditom 9,00 €</p>
                    <p class="font_big">
                        za 4,50 €</p>
                </div>
                <a class="button button_lima" href="/mam-zaujem/prepaid/volania/easy/objednavka/nova-easy">CHCEM EASY KARTU</a></div>
            <div class="grid-g__col_4 col box">
                <p class="box__title">
                    NOVÁ Easy S MOBILOM</p>
                <div class="box__mid-area">
                    <p class="ma_desc">
                        so štartovacím kreditom 9,00 €</p>
                    <p class="font_big">
                        za 1,00 € + nový mobil</p>
                </div>
                <a class="link link_blue" href="/volania/easy?vypredaj-mobilov#sec-3">Vybrať mobil k novej Easy karte</a></div>
            <div class="grid-g__col_4 col box">
                <p class="box__title">
                    PRENOS ČÍSLA NA EASY</p>
                <div class="box__mid-area">
                    <p>
                        Pri prenose čísla od iného operátora získaš pri prvom dobití<br />
                        <b>dvojnásobný kredit</b></p>
                </div>
                <a class="link link_blue" href="/mam-zaujem/prepaid/volania/easy/objednavka/prenos">Prejsť od iného operátora na Easy</a></div>
        </div>
        <div class="col-group">
            <div class="grid__col_12 margin_top20">
                <p class="ad-1">
                    Máš starú Easy kartu? Porovnaj si <a class="link link_ul link_dark" href="/easynaj">Easy Naj</a>, <a class="link link_ul link_dark" href="/easyfree">Easy Free</a>, <a class="link link_ul link_dark" href="/easynonstop">Easy Nonstop</a>, <a class="link link_ul link_dark" href="/easytime">Easy Time</a> a <a class="link link_ul link_dark" href="/easyfixhm">programy Fix</a> s novou Easy kartou s programom Easy Pecka.</p>
            </div>
        </div>
        <p class="subtitle margin_top50">
            NÁKUP CEZ WEB SA OPLATÍ!</p>
        <div class="col-group">
            <div class="grid-g__col_4 col">
                <img alt="Len pri kúpe cez web získaš Easy kartu s 9 € štartovacím kreditom už od 1 €" src="../assets/img/ico-6.png" />
                <p class="desc">
                    <b>Len pri kúpe cez web získaš Easy kartu s 9 € štartovacím kreditom už od 1 €</b></p>
            </div>
            <div class="grid-g__col_4 col">
                <img alt="Prvých 14 dní bez záväzkov" src="../assets/img/ico-7.png" />
                <p class="desc">
                    <b>prvých 14 dní bez záväzkov</b><br />
                    pri kúpe cez web môžeš vrátiť službu aj tovar bez udania dôvodu*</p>
            </div>
            <div class="grid-g__col_4 col">
                <img alt="Doručenie kuriérom zadarmo" src="../assets/img/ico-8.png" />
                <p class="desc">
                    <b>doručenie kuriérom zadarmo</b><br />
                    kdekoľvek v rámci SR</p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="fixed-column">
        <h2 class="section__title">
            <img alt="VÝPREDAJ MOBILOV S EASY KARTOU" src="../assets/img/title-3.png" /></h2>
        <div id="product-holder">
            &nbsp;</div>
        <div id="detail">
            &nbsp;</div>
        <div class="cmb__area" id="cmb__block">
            <h3 class="cmb__area__head">
                POTREBUJETE PORADIŤ S PONUKOU?</h3>
            <a class="button" href="#" id="cmb__btn"><span>ÁNO, ZAVOLAJTE<br />
            MI SPÄŤ</span></a></div>
    </div>
</section>
<section class="section sec-4" id="sec-4">
    <div class="fixed-column">
        <h2 class="section__title">
            <img alt="AKTUÁLNE AKCIE" src="../assets/img/title-4.png" /></h2>
        <div class="xmas-banner">
            <div class="row">
                <div class="banner-1 box-banner">
                    <div class="banner-1__content">
                        <p class="banner-1-title">
                            Aj Speezy je Easy!<br />
                            Získaj Easy kartu v limitovanom balíčku s knihou o Spiritovi</p>
                        <p class="banner-1-subtitle">
                            Získaj novú Easy kartu so štartovacím kreditom 9 €. Navyše ti pribalíme limitované vrecko Sp<b>easy</b> a životopisnú knihu o Majkovi Spiritovi – Chalan, ktorý vynašiel Spirita aby inšpiroval.</p>
                        <a class="button button_lima" href="/volania/easy/easy-balicek/mam-zaujem">KÚPIŤ EASY BALÍČEK</a> <a class="link" href="/volania/easy/easy-balicek#sec-1">Viac info o Easy balíčku</a></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 banner-2 box-banner">
                    <div class="banner-2-content">
                        <p class="banner-2-title">
                            Poteš sa Kozmixovým vianočným balíčkom plným darčekov!</p>
                        <p class="banner-2-detail">
                            S balíčkom získaš prístup na vzdelávací portál Kozmix.sk, nový super mobil Samsung J3, Easy kartu, výtvarné pomôcky, športový Kozmix vak a fľašu na vodu.</p>
                        <a class="button button_lima" href="/kozmix/mam-zaujem">KÚPIŤ KOZMIXOV BALÍČEK</a><br />
                        <a class="link" href="/kozmix">Viac info o Kozmix balíčku</a></div>
                </div>
                <div class="col-md-4 banner-3__holder">
                    <div class="banner-3 box-banner">
                        <p class="banner-3-title">
                            Kaniball – nová online sociálna hra, do ktorej sa zažerieš!</p>
                        <p class="banner-3-detail">
                            Spoznaj prvú online sociálnu hru, kde je zoznamovanie sa veľká zábava.<br />
                            Aby si mohol četovať a hrať sa, potrebuješ iba kartu Easy!</p>
                        <a class="button button_lima" href="/mam-zaujem/prepaid/volania/easy/objednavka">CHCEM NOVÚ EASY</a><br />
                        <a class="link" href="http://www.kaniball.sk/" target="_blank">Mám Easy, chcem hrať Kaniballa</a></div>
                </div>
            </div>
            <div class="row">
                <div class="banner-4 box-banner">
                    <div class="banner-4__content">
                        <p class="banner-4-title">
                            Výhody Magenta1 aj pre Easy</p>
                        <p class="banner-4-subtitle">
                           Vstúp so svojou Easy kartou do Magenta1 skupiny a získaj výhody
                        <ul class="spec-list spec-list-num">
                            <!--<li data-type="sq">Neobmedzené dáta do konca roku</li>-->
                            <li data-type="sq">Neobmedzené volania v rámci skupiny</li>
                            <li data-type="sq">Neobmedzené SMS a MMS v rámci skupiny</li>
                        </ul>
                        </p>
                        <a class="button button_lima" href="/magenta1-skupina/">Viac info</a>

                        </div>
                </div>
            </div>
        </div>
        <div class="old-banner">
            <div class="main-action-banner">
                <div class="mab_content">
                    <p class="mab_title">
                        Volať zadarmo s blízkym je Easy!</p>
                    <p class="mab_desc">
                        Ak má jeden z vás paušál Happy a druhý Easy kartu, stačí aktivovať pravidelné dobíjanie kreditu z paušálu Happy a môžete spolu telefonovať úplne zadarmo.</p>
                    <a class="button button_lima btn__two-lined fancy" href="#pravidelne-dobijanie">AKTIVOVAŤ PRAVIDELNÉ<br />
                    DOBÍJANIE</a></div>
            </div>
            <div class="ad-2 margin_top20">
                <p class="ad-2__title">
                    4G SIM karta zadarmo pre všetkých!</p>
                <p class="ad-2__desc">
                    Všetky nové Easy karty sú 4G. <a class="link link_ul link_blue" href="/internet/4g-internet/podporuje-moja-sim-karta-4g">Over si tu</a>, či máš starú SIM kartu, ktorá nepodporuje 4G sieť. Ak nepodporuje, zadarmo ti ju vymeníme v ktoromkoľvek Telekom centre.</p>
            </div>
        </div>
    </div>
</section>
<!-- Doplnkove sluzby -->
<section class="section sec-9" id="sec-5">
    <div class="container-fixed">
        <div class="row">
            <h2 class="section__title">
                <img alt="DOPLNKOVÉ SLužby" src="../assets/img/title-5.png" /></h2>
            <p class="desc text_centered">
                Dokúpte si k Easy karte výhodné balíky neobmedzených volaní a SMS, užite si surfovanie s dátovými balíkmi alebo si aktivujte praktické Rodičovské služby.</p>
        </div>
        <div class="row">
            <div class="col-md-12 text_centered">
                <!-- TABS -->
                <div class="tabbed-module">
                    <nav>
                        <ul class="tabs">
                            <li>
                                <a href="#tabVolaniaSms">Volania a SMS</a></li>
                            <li class="selected">
                                <a href="#tabInternet">Internet</a></li>
                            <li>
                                <a href="#tabRodSluzby">Rodičovské služby</a></li>
                        </ul>
                    </nav>
                    <div class="tabs-content">
                        <div id="tabVolaniaSms">
                            <div class="row row-centered tab-caroussel" id="tab1">
                                <!-- 1 -->
                                <div class="col-md-3 col-centered text_centered">
                                    <div class="tab-box">
                                        <div class="tab-box_title">
                                            <h4>
                                                Neobmedzené<br />
                                                Telekom volania</h4>
                                        </div>
                                        <div class="tab-box_desc">
                                            <p class="text_centered">
                                                <span class="tab-box_subTitle">Neobmedzené volania</span><br />
                                                Balík obsahuje neobmedzené volania do siete Telekom a všetkých pevných sietí v SR.<br />
                                                <br />
                                                <span class="lg-font">2,79 €/7 dní</span></p>
                                        </div>
                                        <div class="tab-box_cta text_centered">
                                            <a class="button button_lima fancy" href="#activate-baliky-volania">AKTIVOVAŤ</a><br />
                                            <!-- <a href="#">Viac info</a> --></div>
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="col-md-3 col-centered text_centered">
                                    <div class="tab-box">
                                        <div class="tab-box_title">
                                            <h4 class="tab-box_title_one">
                                                Neobmedzené SMS</h4>
                                        </div>
                                        <div class="tab-box_desc">
                                            <p class="text_centered">
                                                <span class="tab-box_subTitle">Neobmedzené SMS</span><br />
                                                Balík obsahuje neobmedzené SMS do všetkých mobilných sietí v SR.<br />
                                                <br />
                                                <span class="lg-font">1,59 €/7 dní</span></p>
                                        </div>
                                        <div class="tab-box_cta text_centered">
                                            <a class="button button_lima fancy" href="#activate-baliky-sms">AKTIVOVAŤ</a><br />
                                            <!-- <a href="#">Viac info</a> --></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-disclaimer text_centered">
                                        <p>
                                            Platnosť balíkov Neobmedzené volania a Neobmedzené SMS je 7 dní od aktivácie.<br />
                                            Pre deaktiváciu balíkov zašlite SMS s textom IN VYP na číslo 12323 (pre balík Neobmedzené volania) alebo SMS s textom SMSALL VYP na číslo 12323 (pre Neobmedzené SMS).<br />
                                            Ponuka platí od 1.10.2016</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="selected" id="tabInternet">
                            <div class="row row-centered tab-caroussel" id="tab2">
                                <!-- 1 -->
                                <div class="col-md-3 col-centered text_centered">
                                    <div class="tab-box">
                                        <div class="tab-box_title">
                                            <h4 class="tab-box_title_one">
                                                Balík Surf 100</h4>
                                        </div>
                                        <div class="tab-box_desc">
                                            <p class="text_centered">
                                                <span class="tab-box_subTitle">100 MB dát</span><br />
                                                So 100 MB si napr. pozriete e-maily bez príloh alebo správy či počasie.<br />
                                                <br />
                                                <span class="lg-font">1,99 €</span></p>
                                        </div>
                                        <div class="tab-box_cta text_centered">
                                            <a class="button button_lima fancy" href="#activate-baliky-internet-100">AKTIVOVAŤ</a><br />
                                            <!-- <a href="#">Viac info</a> --></div>
                                    </div>
                                </div>
                                <!-- 2 -->
                                <div class="col-md-3 col-centered text_centered">
                                    <div class="tab-box">
                                        <div class="tab-box_title">
                                            <h4 class="tab-box_title_one">
                                                Balík Surf 500</h4>
                                        </div>
                                        <div class="tab-box_desc">
                                            <p class="text_centered">
                                                <span class="tab-box_subTitle">500 MB dát</span><br />
                                                S 500 MB si napr. pozriete fotografie alebo sociálne siete.<br />
                                                <br />
                                                <span class="lg-font">4,99 €</span></p>
                                        </div>
                                        <div class="tab-box_cta text_centered">
                                            <a class="button button_lima fancy" href="#activate-baliky-internet-500">AKTIVOVAŤ</a><br />
                                            <!-- <a href="#">Viac info</a> --></div>
                                    </div>
                                </div>
                                <!-- 3 -->
                                <div class="col-md-3 col-centered text_centered">
                                    <div class="tab-box">
                                        <div class="tab-box_title">
                                            <h4 class="tab-box_title_one">
                                                Balík Surf 1 000</h4>
                                        </div>
                                        <div class="tab-box_desc">
                                            <!-- <div class="ec-holder"><img class="responsive-image" src="../assets/img/ec-balik.png" alt=""></div> -->
                                            <p class="text_centered">
                                                <span class="tab-box_subTitle">1 000 MB dát</span><br />
                                                S 1000 MB napr. sledujete videá, počúvate hudbu či využijete navigáciu.<br />
                                                <br />
                                                <span class="lg-font">5,99 €</span></p>
                                        </div>
                                        <div class="tab-box_cta text_centered">
                                            <a class="button button_lima fancy" href="#activate-baliky-internet">AKTIVOVAŤ</a><br />
                                            <!-- <a href="#">Viac info</a> --></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="tab-disclaimer text_centered">
                                        <p>
                                            Balík Surf 100 má platnosť maximálne 7 dní alebo do vyčerpania dát.<br />
                                            Balíky Surf 500 a Surf 1000 sú platné max. 30 dní alebo do vyčerpania dát.<br />
                                            Ponuka platí od 1.10.2016</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tabRodSluzby">
                            <div class="row row-centered tab-carosusel" id="tab3">
                                <div class="col-md-3 col-centered text_centered">
                                    <div class="tab-box">
                                        <div class="tab-box_title">
                                            <h4>
                                                Rodičovské služby pre bezpečnosť detí</h4>
                                        </div>
                                        <div class="tab-box_desc">
                                            <p class="text_centered">
                                                S týmto balíkom získate prístup k informácii o tom, kde sa vaše dieťa nachádza a informácie o výške jeho kreditu.<br />
                                                <br />
                                                <span class="lg-font">zadarmo</span></p>
                                        </div>
                                        <div class="tab-box_cta text_centered">
                                            <a class="button button_lima fancy" href="#activate-baliky-rodic">AKTIVOVAŤ</a><br />
                                            <a href="/volania/easy/rodicovske-sluzby">Viac info</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //TABS --></div>
        </div>
    </div>
</section>
<!-- Easy roaming -->
<section class="section sec-6 tc" id="sec-6">
    <div class="fixed-column">
        <h2 class="section__title">
            <img alt="DOPLNKOVÉ SLužby" src="../assets/img/title-6.png" /></h2>
        <div class="col-group margin_top50">
            <div class="grid__col_12">
                <img alt="Volania a SMS v zahraničí" src="../assets/img/ico-9.png" />
                <p class="desc">
                    <b>Volania a SMS v zahraničí</b><br />
                    Aj v zahraničí môžeš volať a esemeskovať za výhodné ceny so službou Easy Roaming. Aktivácia služby je bezplatná a bez mesačných poplatkov.</p>
                <a class="button button_lima btn__two-lined" href="/volania/roaming/easy">PREJSŤ NA EASY<br />
                ROAMING</a></div>
        </div>
    </div>
</section>
<section class="section sec-7 tc" id="sec-7">
    <div class="fixed-column">
        <h2 class="section__title">
            <img alt="DOBITie KREDITu" src="../assets/img/title-7.png" /></h2>
        <div class="col-group box__wrapper">
            <div class="grid-g__col_6 col box box_inversed">
                <div class="box__ec">
                    &nbsp;</div>
                <p class="box__title">
                    VÝHODNE CEZ WEB</p>
                <div class="box__mid-area">
                    <p class="ma_desc">
                        Dobitie prebieha prostredníctvom bankového prevodu a je zývhodnené kreditom navyše.</p>
                    <a class="link link_ul link_dark fancy" href="#info-dobitie-kredit">Viac info</a></div>
                <a class="button button_lima fancy" href="#cez-web">DOBIŤ CEZ WEB</a></div>
            <div class="grid-g__col_6 col box">
                <p class="box__title">
                    RÝCHLO CEZ SMS</p>
                <div class="box__mid-area">
                    <p class="ma_desc">
                        S Balíkom rodičovských služieb môžete využiť rýchle dobitie kreditu svojmu dieťaťu cez SMS.</p>
                </div>
                <a class="link link_blue link_custom fancy" href="#info-dobitie-rodic">Ako dobiť kredit cez SMS</a></div>
        </div>
        <div class="col-group box__wrapper margin_top50">
            <div class="grid-g__col_6 col">
                <p class="desc">
                    <b>Cez Telekom aplikáciu</b><br />
                    S bezplatnou Telekom aplikáciou máš dobitie kreditu pod palcom. <a class="link link_uc link_dark fancybox-media" href="https://www.youtube.com/watch?v=U_t43dyPFFw">Pozrite si video o aplikácii</a></p>
                <a class="link link_ul link_blue link_top20" href="https://www.telekom.sk/telekom-aplikacia#portlet_56_INSTANCE_hFH4RxnCFvMP">Stiahnuť aplikáciu</a></div>
            <div class="grid-g__col_6 col">
                <p class="desc">
                    <b>Cez Facebook</b><br />
                    Ak máš účet na Facebooku, môžeš si kredit dobiť aj tam cez aplikáciou Easy dobíjač.</p>
                <a class="link link_ul link_dark link_top20" href="https://www.facebook.com/telekom.sk/app_701821569860815">Dobiť kredit cez Facebook</a></div>
        </div>
        <div class="col-group">
            <div class="grid__col_12 margin_top20">
                <p class="ad-1">
                    Vo Wiki nájdeš <a class="link link_ul link_dark" href="/wiki/volania/dobitie-kreditu">ďalšie možnosti dobitia kreditu</a></p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-8" id="sec-8">
    <div class="fixed-column">
        <h2 class="section__title">
            <img alt="MOHLO BY ŤA ZAUJÍMAŤ" src="../assets/img/title-8.png" /></h2>
        <div class="col-group box__wrapper tc">
            <div class="grid__col_12 col">
                <p class="desc">
                    <b>Katka, Fero, Mirka a Jaro musia obvolať svojich kamošov. </b><br />
                    Každý z nich má v Telekom, 4ke, O2 a Orangei 1 kamoša, ktorému volá 10 minút a pošle<br />
                    10 SMS. Spolu tak každý z nich volá 4 kamošom 40 minút a pošle im spolu 40 SMS.</p>
            </div>
        </div>
        <div class="col-group">
            <div class="grid__col_12 banner__holder">
                <img alt="" class="banner-2" src="../assets/img/banner-2.png" /> <img alt="" class="banner-2-mobile" src="../assets/img/banner-2-mob.png" /></div>
        </div>
        <div class="col-group">
            <div class="grid__col_12 margin_top50">
                <a class="note-zdielanie" href="" onclick="$('#easy-legal').toggle('slow');return false;">Podmienky</a>
                <div id="easy-legal">
                    <div class="easy-legal">
                        <a class="note-legal" href="" onclick="$('#easy-legal-1').toggle('slow');return false;">Dvojnásobný kredit za prenos čísla</a>
                        <div class="easy-legal-content" id="easy-legal-1">
                            Účastník, ktorý si aktivuje program Easy Pecka vo vzťahu k telefónnemu číslu, ktoré bolo prenesené do spoločnosti Slovak Telekom, a. s., od iného podniku poskytujúceho elektronické komunikačné služby v čase od 1. 10. 2014 do 31. 8. 2016, má nárok na benefit Dvojnásobný kredit za prenos čísla. Benefit spočíva v pripísaní bonusového kreditu vo výške 100% kreditu dobitého prvýkrát po aktivácii programu Easy Pecka vo vzťahu k prenesenému telefónnemu číslu, uskutočnenému najneskôr do 12 mesiacov odo dňa aktivácie programu služby Easy. Nárok na tento benefit je možné vo vzťahu k jednému telefónnemu číslu uplatniť iba jedenkrát za 24 mesiacov. Podrobne informácie sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a.s.</div>
                    </div>
                    <div class="easy-legal">
                        <a class="note-legal" href="" onclick="$('#easy-legal-2').toggle('slow');return false;">Podmienky akcie max. 50 centov za deň</a>
                        <div class="easy-legal-content" id="easy-legal-2">
                            Maximálna hranica 50 centov na deň sa uplatňuje pre volania a SMS správy pre každú sieť v SR zvlášť. Uvedené sa vzťahuje na prvých 2 000 minút a 2 000 SMS správ do všetkých sietí v SR spoločne, po vyčerpaní ktorých sú ďalšie hovory alebo SMS až do konca kalendárneho mesiaca spoplatnené podľa Cenníka pre program Easy Pecka. Po prenesení 200 MB v rámci jedného kalendárneho dňa bude rýchlosť dátových prenosov znížená na 64/16 kb/s (sťahovanie/odosielanie dát). SIM karta a úvodný kredit sú platné 90 dní odo dňa jej aktivácie, následne sú SIM karta a kredit platné 12 mesiacov od posledného dobitia kreditu. Ceny sú uvedené v € s DPH. Viac info o ponuke nájdete v Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s.</div>
                    </div>
                    <div class="easy-legal">
                        <a class="note-legal" href="" onclick="$('#easy-legal-3').toggle('slow');return false;">Podmienky dobitia kreditu</a>
                        <div class="easy-legal-content" id="easy-legal-3">
                            Pre úspešné dobitie je nevyhnutné zadať požiadavku na tejto stránke. Pri opakovanom použití platobných symbolov (ich manuálnym zadaním do platobného príkazu) dobitie kreditu nebude zrealizované!<br />
                            Faktúru (vyúčtovanie služby Dobi Easy) vám Telekom na požiadanie vystaví v Telekom Centre na základe nasledujúcich údajov a dokladov: telefónne číslo SIM karty, ktorá bola dobitá, dátum dobitia, dobíjaná suma, identifikačné údaje platiteľa (údaje platiteľa sa overujú) a variabilný symbol platby.</div>
                        <div class="easy-legal">
                            <a class="note-legal" href="" onclick="$('#easy-legal-4').toggle('slow');return false;">Podmienky Neobmedzené Telekom volania a Neobmedzené SMS</a>
                            <div class="easy-legal-content" id="easy-legal-4">
                                Doplnkové balíčky a služby v rámci nich zahrnuté je možné využiť len v prospech štandardných účastníckych telefónnych čísel. Poskytovanie aktivovaného doplnkového balíčka Neobmedzené Telekom volania a Neobmedzené SMS sa za predpokladu dostatočného kreditu automaticky predlžuje o ďalších 7 dní. Pre deaktiváciu služby Neobmedzené Telekom volania je potrebné zaslanie SMS v tvare IN VYP na číslo 12323. Pre deaktiváciu služby Neobmedzené SMS do SR je potrebné zaslanie SMS v tvare SMSALL VYP na číslo 12323. Podrobnejšie informácie o podmienkach využívania doplnkových služieb nájdete v Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a.s.</div>
                            <div class="easy-legal">
                                <a class="note-legal" href="" onclick="$('#easy-legal-5').toggle('slow');return false;">Podmienky k dátovým balíkom SURF</a>
                                <div class="easy-legal-content" id="easy-legal-5">
                                    Dátové balíky SURF sa poskytujú maximálne na 7 dní (SURF 100) alebo 30 dní (SURF 500, SURF 1000) odo dňa aktivácie. Deaktivácia dátového balíka SURF sa pri jednorazovej aktivácii uskutoční uplynutím maximálnej doby jej platnosti alebo vyčerpaním celého objemu voľných dát pred uplynutím doby ich platnosti. Pri voľbe automatického obnovovania dátového balíka SURF dôjde po uplynutí maximálnej doby platnosti služby alebo po vyčerpaní voľného objemu dát k jej automatickej obnove len v prípade, ak zostatok kreditu je minimálne vo výške poplatku za príslušný dátový balík SURF. Po deaktivácii automatického obnovovania dátového balíka SURF, dôjde k jej deaktivácii uplynutím maximálnej doby platnosti príslušného balíka SURF alebo vyčerpaním už zakúpeného voľného objemu dát. Prechod medzi jednotlivými balíkmi SURF (100, 500 alebo 1000), je realizovaný deaktiváciou aktívneho dátového balíka SURF a následnou aktiváciou požadovaného dátového balíka SURF. Jednotlivé dátové balíky SURF je možné medzi sebou navzájom kombinovať, avšak dátové balíky SURF nie sú kombinovateľné s benefitom 100 MB voľných dát/mesiac zadarmo pri programe Easy Fix. Úplné podmienky poskytovania dátových balíkov SURF sú uvedené v Cenníku pre poskytovanie služieb Slovak Telekom, a.s.</div>
                            </div>
                            <div class="easy-legal">
                                <a class="note-legal" href="" onclick="$('#easy-legal-6').toggle('slow');return false;">Podmienky Travel &amp; Surf</a>
                                <div class="easy-legal-content" id="easy-legal-6">
                                    Ceny sú uvedené v € s DPH. Pre všetky balíčky služby Internet v zahraničí Travel&amp;Surf platí pre voľné dáta v rámci balíčkov tarifikačný interval 10 kB a počíta sa ako suma prijatých a odoslaných dát. Služba Internet v zahraničí Travel&amp;Surf zahŕňa dátové prenosy cez APN WAP, internet, internet plus a nevzťahuje sa na dátové prenosy cez APN blackberry.net. Službu Internet v zahraničí Travel&amp;Surf možno aktivovať len vo vzťahu k SIM karte s aktivovaným mesačným hlasovým programom služieb alebo programom služby Easy a Fix. Príslušný balíček je aktívny po doručení SMS správy potvrdzujúcej úspešnú aktiváciu. Služba Internet v zahraničí Travel&amp;Surf nie je kombinovateľná s akoukoľvek inou dátovou roamingovou službou. K deaktivácii balíčka služby Internet v zahraničí Travel&amp;Surf dôjde uplynutím maximálnej doby jeho platnosti alebo vyčerpaním celého objemu voľných dát podľa toho, ktorá z týchto skutočností nastane skôr. Viac info o ponuke nájdete v Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a.s.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    * Právo na odstúpenie od zmluvy a/alebo pri kúpe tovaru od kúpnej zmluvy v 14-dňovej lehote od uzatvorenia zmluvy alebo prevzatia tovaru môže uplatniť len účastník-spotrebiteľ v zmysle osobitného predpisu. Na účastníka, ktorý je fyzickou osobou-podnikateľom alebo právnickou osobou, sa toto zákonné právo spotrebiteľa nevzťahuje.</p>
            </div>
        </div>
    </div>
</section>
<!-- Lightboxes -->
<div class="easy-lightbox" id="info-vyhody-volania">
    <h2>
        Neobmedzené VOLANIA S BLÍZKYM</h2>
    Služba Neobmedzené volania s blízkym sa dá aktivovať, ak má váš blízky paušál Happy. Blízky si musí nastaviť pravidelné dobíjanie Easy z paušálu. Následne môžete spolu volať úplne zadarmo.<br />
    <br />
    Aktivácia pravidelného dobíjania z paušálu Happy:<br />
    zavolajte na linku <span class="magenta">0800 123 456</span>, voľba <span class="magenta">1</span>, <span class="magenta">3</span></div>
<div style="display:none">
    <div class="easy-lightbox" id="info-baliky-volania">
        <h2>
            Neobmedzené Telekom volania</h2>
        Balík Neobmedzené Telekom volania platí 7 dní od aktivácie.<br />
        Ak máte ku koncu obdobia dostatočný kredit, balík sa automaticky predĺži o ďalších 30 dní. Pre deaktiváciu balíčka je potrebné zaslať SMS.<br />
        <br />
        Balík je dostupný pre všetky programy Easy a Easy Fix.</div>
    <div class="easy-lightbox" id="activate-baliky-volania">
        <h2>
            NEOBMEDZENÉ TELEKOM VOLANIA</h2>
        <div>
            Pre aktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">IN ZAP</span> na číslo <span class="semibold magenta">12323</span>.</div>
    </div>
    <div class="easy-lightbox" id="deactivate-baliky-volania">
        <h2>
            NEOBMEDZENÉ TELEKOM VOLANIA</h2>
        <div>
            Pre deaktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">IN VYP</span> na číslo <span class="semibold magenta">12323</span>.</div>
    </div>
    <div class="easy-lightbox" id="info-baliky-internet">
        <h2>
            BALÍK INTERNETU SURF 1000</h2>
        Balík internetu Surf 1000 platí 30 dní od aktivácie alebo do vyčerpania 1000 MB dát.<br />
        <br />
        Ak máte ku koncu obdobia dostatočný kredit, balík sa automaticky predĺži o ďalších 30 dní. Pre deaktiváciu balíčka je potrebné zaslať SMS.<br />
        <br />
        Balík je dostupný pre všetky programy Easy a Easy Fix.</div>
    <!-- 100 -->
    <div class="easy-lightbox" id="activate-baliky-internet-100">
        <h2>
            BALÍK INTERNETU SURF 100</h2>
        <div>
            Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
            <span class="semibold magenta">SURF100</span> na číslo <span class="semibold magenta">12330</span>.<br />
            Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 100 MB alebo po uplynutí 7 dní, zašlite SMS s textom SURF100A na číslo 12330.</div>
    </div>
    <!-- 500 -->
    <div class="easy-lightbox" id="activate-baliky-internet-500">
        <h2>
            BALÍK INTERNETU SURF 500</h2>
        <div>
            Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
            <span class="semibold magenta">SURF500</span> na číslo <span class="semibold magenta">12330</span>.<br />
            Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 500 MB alebo po uplynutí 30 dní, zašlite SMS s textom SURF500A na číslo 12330.</div>
    </div>
    <!--  1000 -->
    <div class="easy-lightbox" id="activate-baliky-internet">
        <h2>
            BALÍK INTERNETU SURF 1000</h2>
        <div>
            Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
            <span class="semibold magenta">SURF1000</span> na číslo <span class="semibold magenta">12330</span>.<br />
            Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 1000 MB alebo po uplynutí 30 dní, zašlite SMS s textom SURF1000A na číslo 12330.</div>
    </div>
    <div class="easy-lightbox" id="deactivate-baliky-internet">
        <h2>
            BALÍK INTERNETU SURF 1000</h2>
        <div>
            Pre deaktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">SURF1000 VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
    </div>
    <div class="easy-lightbox" id="info-baliky-sms">
        <h2>
            NEOBMEDZENÉ SMS</h2>
        Balík Neobmedzené SMS platí 7 dní od aktivácie.<br />
        <br />
        Ak máte ku koncu obdobia dostatočný kredit, balík sa automaticky predĺži o ďalších 7 dní. Pre deaktiváciu balíčka je potrebné zaslať SMS.<br />
        <br />
        Balík je dostupný pre všetky programy Easy a Easy Fix.</div>
    <div class="easy-lightbox" id="activate-baliky-sms">
        <h2>
            NEOBMEDZENÉ SMS</h2>
        <div>
            Pre aktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">SMSALL ZAP</span> na číslo <span class="semibold magenta">12323</span>.</div>
    </div>
    <div class="easy-lightbox" id="deactivate-baliky-sms">
        <h2>
            NEOBMEDZENÉ SMS</h2>
        <div>
            Pre deaktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">SMSALL VYP</span> na číslo <span class="semibold magenta">12323</span>.</div>
    </div>
    <div class="easy-lightbox" id="info-baliky-kdeje">
        <h2>
            SLUŽBA KDE JE...</h2>
        <div>
            <div class="bold">
                Pre zistenie polohy vášho dieťaťa pošlite SMS správu s textom<br />
                <span class="magenta">KDE 09xxxxxxxx</span> na číslo <span class="magenta">333</span></div>
            <div class="grey" style="padding-top: 10px">
                Číslo, ktoré zadáte do SMS, je číslo vášho dieťaťa, ktorého polohu chcete zistiť.<br />
                Cena za prijatú SMS s informáciou o polohe je 0,1008 € s DPH.</div>
        </div>
    </div>
    <div class="easy-lightbox" id="activate-baliky-rodic">
        <h2>
            RODIČOVSKÉ SLUŽBY PRE BEZPEČNOSŤ DETÍ</h2>
        <div>
            <div class="bold">
                Pre aktiváciu balíka Rodičovských služieb pošlite bezplatnú SMS správu s textom <span class="magenta">RS 09xxxxxxxx</span> na číslo <span class="magenta">12323</span></div>
            <div class="grey" style="padding-top: 10px">
                Číslo, ktoré zadáte do SMS, je číslo vášho dieťaťa, pre ktoré chcete Rodičovské služby využívať.<br />
                Za balík neplatíte žiadny aktivačný ani mesačný poplatok.</div>
        </div>
    </div>
    <div class="easy-lightbox" id="activate-baliky-s">
        <h2>
            MIX BALÍK S</h2>
        <div>
            Pre aktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">MIXS ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
    </div>
    <div class="easy-lightbox" id="deactivate-baliky-s">
        <h2>
            MIX BALÍK S</h2>
        <div>
            Pre deaktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">MIXS VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
    </div>
    <div class="easy-lightbox" id="activate-baliky-m">
        <h2>
            MIX BALÍK M</h2>
        <div>
            Pre aktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">MIXM ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
    </div>
    <div class="easy-lightbox" id="deactivate-baliky-m">
        <h2>
            MIX BALÍK M</h2>
        <div>
            Pre deaktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">MIXM VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
    </div>
    <div class="easy-lightbox" id="activate-baliky-l">
        <h2>
            MIX BALÍK L</h2>
        <div>
            Pre aktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">MIXL ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
    </div>
    <div class="easy-lightbox" id="deactivate-baliky-l">
        <h2>
            MIX BALÍK L</h2>
        <div>
            Pre deaktiváciu zašlite SMS s textom<br />
            <span class="semibold magenta">MIXL VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
    </div>
    <div class="easy-lightbox" id="info-dobitie-kredit">
        <h2>
            kredit navyše pri dobití cez web</h2>
        <div class="c-text dobi-table">
            <table class="easy-kredit">
                <tbody>
                    <tr>
                        <td>
                            Platba</td>
                        <td>
                            7,00 €</td>
                        <td>
                            10,00 €</td>
                        <td>
                            12,00 €</td>
                        <td>
                            16,00 €</td>
                        <td>
                            25,00 €</td>
                        <td>
                            50,00 €</td>
                    </tr>
                    <tr>
                        <td>
                            Kredit</td>
                        <td>
                            7,00 €</td>
                        <td>
                            10,20 €</td>
                        <td>
                            12,42 €</td>
                        <td>
                            16,80 €</td>
                        <td>
                            26,75 €</td>
                        <td>
                            57,50 €</td>
                    </tr>
                </tbody>
            </table>
            <div class="kredit-ceny">
                Ceny sú uvedené v € s DPH. Slovak Telekom, a. s., si vyhrazuje právo údaje podľa potreby kedykoľvek aktualizovať.</div>
        </div>
    </div>
    <div class="easy-lightbox" id="info-dobitie-banka">
        <h2>
            DOBITIE BANKOVÝM PREVODOM</h2>
        <div style="padding-top: 20px;">
            Vyberte svoju banku<br />
            <a href="https://www.telekom.sk/internetove-dobijanie-taba" target="_blank">Tatra banka</a><br />
            <a href="https://www.telekom.sk/internetove-dobijanie-vub" target="_blank">VÚB banka</a><br />
            <a href="https://ib24.csob.sk/" target="_blank">ČSOB</a><br />
            <a href="https://www.telekom.sk/internetove-dobijanie-slsp" target="_blank">Slovenská sporiteľna</a><br />
            <a href="https://ib.primabanka.sk/" target="_blank">Prima banka</a></div>
    </div>
    <div class="easy-lightbox" id="info-dobitie-rodic">
        <h2>
            RÝCHLE DOBITIE CEZ SMS</h2>
        <div style="padding-bottom: 20px;">
            Pre rýchle dobitie cez SMS musíte mať aktivovaný Balík rodičovských služieb. Jeho súčasťou sú bezplatné SMS, ktoré vás informujú o výške kreditu dieťaťa v prípade, že jeho kredit klesne pod 0,50 €. Pre rýchle dobitie 12 € kreditu stačí odpovedať na túto SMS správou s textom DOBI</div>
        <h3 style="padding-bottom: 10px;">
            AKTIVÁCIA RODIČOVSKÝCH SLUŽIEB</h3>
        <div style="padding-bottom: 10px;">
            Zašlite bezplatnú SMS s textom <span class="bold">RS 09XXXXXXXX</span> na číslo <span class="bold">12323</span></div>
        <div style="padding-bottom: 10px;color: #6c6c6c">
            Za balík neplatíte žiadny aktivačný ani mesačný poplatok. Číslo, ktoré zadáte do SMS, je číslo vášho dieťaťa, pre ktoré chcete Rodičovské služby využívať.</div>
        <div style="display: none">
            <a href="">Viac info o balíku Rodičovských služieb</a></div>
    </div>
    <div class="easy-lightbox" id="pravidelne-dobijanie">
        <h2>
            AKTIVÁCIA PRAVIDELNÉHO<br />
            DOBÍJANIA</h2>
        <div>
            Pre aktiváciu pravidelného dobíjania<br />
            kreditu z paušálu Happy zavolajte na linku</div>
        <span class="semibold">0800 123 456, voľba 1, 3</span></div>
    <div class="easy-lightbox" id="cez-web">
        <h2>
            DOBITIE BANKOVÝM PREVODOM</h2>
        <a href="/internetove-dobijanie-taba">Tatra banka</a><br />
        <a href="/internetove-dobijanie-vub">VÚB banka</a><br />
        <a href="https://ib24.csob.sk">ČSOB</a><br />
        <a href="/internetove-dobijanie-slsp">Slovenská sporiteľna</a><br />
        <a href="https://ib.primabanka.sk/ib/(S(15yp3r55nimadv2u1nwj0mmk))/default.aspx">Prima banka</a></div>
</div>
<script type="text/javascript" src="../assets/js/fancybox-media.js"></script><script type="text/javascript" src="../assets/js/slider.js"></script><script type="text/javascript" src="../assets/js/vypredaj.js"></script><script type="text/javascript" src="../assets/js/main.js"></script><script type="text/javascript">
$(document).on('click', '.tabs > li > a', function(e) {
    var $parent = $(this).parent();
    if ($parent.is('.selected')) {
        e.preventDefault();
        // mobile support
        $(this).closest('ul').addClass('active');
    } else {
        var target = $(this).attr('href');
        e.preventDefault();
        $(target).siblings().removeClass('selected');
        $(target).addClass('selected');

        $parent.siblings().removeClass('selected');
        $parent.addClass('selected');
        // mobile support
        $(this).closest('ul').removeClass('active');
    }
});


$(document).ready(function() {

    // initialize_owl($('#owl1'));

    $('a[href="#tabVolaniaSms"]').on('click', function(e) {
        e.preventDefault();
        // initialize_owl($('#owl1'));
    }).on('hide.bs.tab', function() {
        // destroy_owl($('#owl1'));
    });

    $('a[href="#tabInternet"]').on('click', function(e) {
        e.preventDefault();
        // initialize_owl($('#owl2'));
    }).on('hide.bs.tab', function() {
        // destroy_owl($('#owl2'));
    });

    $('a[href="#tabRodSluzby"]').on('click', function(e) {
        e.preventDefault();
        // initialize_owl($('#owl3'));
    }).on('hide.bs.tab', function() {
        // destroy_owl($('#owl3'));
    });


});

</script>
