<div class="row">
    <div class="banner-4 box-banner" style="background-image: none; background-color: white;">
        <div class="banner-4__content" style="min-width: 100%;">
            <p class="banner-4-title">
                DÁTUJ NEOBMEDZENE ĽUBOVOĽNÝ DEŇ V TÝŽDNI
                <br /> POČAS CELÉHO LETA S MAGENTA 1!</p>
            <p class="banner-4-subtitle">
                Každý týždeň počas leta ti dáme 1 deň, kedy budeš dátovať neobmedzene.</p>
            <ul class="spec-list spec-list-num">
                <li data-type="sq">
                    Vyber si ľubovoľný deň v týždni, ktorý chceš mať neobmedzené dáta. Každý týždeň to môže byť iný deň.</li>
                <li data-type="sq">
                    Benefit si aktivuješ bezplatnou smskou v tvare DATADEN na 12330 a môžeš dátovať neobmedzene celých 24 hodín.</li>
                <li data-type="sq">
                    Stačí byť v skupine <a href="/magenta1-skupina">Magenta 1</a>, v ktorej sú aspoň dve služby úrovne M a vyššej.</li>
                <li data-type="sq">
                    Akcia platí až do 30. 9. 2017.</li>
            </ul>
            <p>
                &nbsp;</p>
            <a class="btn cta" href="/mam-zaujem/prepaid/volania/easy/objednavka/nova-easy">Chcem Easy</a></div>
    </div>
</div>
<!--<div class="row">
                <div class="banner-4 box-banner">
                    <div class="banner-4__content">
                        <p class="banner-4-title">
                            Výhody Magenta1 aj pre Easy</p>
                        <p class="banner-4-subtitle">
                            Vstúp so svojou Easy kartou do Magenta1 skupiny a získaj výhody</p>
                        <ul class="spec-list spec-list-num">
                            <li data-type="sq">
                                Neobmedzené volania v rámci skupiny</li>
                            <li data-type="sq">
                                Neobmedzené SMS a MMS v rámci skupiny</li>
                        </ul>
                        <p>
                            &nbsp;</p>
                        <a class="btn cta" href="/magenta1-skupina/">Viac info</a></div>
                </div>
            </div>-->
<div class="old-banner">
    <div class="main-action-banner">
        <div class="mab_content">
            <p class="mab_title">
                Volať zadarmo s blízkym je Easy!</p>
            <p class="mab_desc">
                Ak má jeden z vás paušál Happy a druhý Easy kartu, stačí aktivovať pravidelné dobíjanie kreditu z paušálu Happy a môžete spolu telefonovať úplne zadarmo.</p>
            <a class="btn cta btn__two-lined fancy" href="#pravidelne-dobijanie">AKTIVOVAŤ PRAVIDELNÉ<br />
                    DOBÍJANIE</a></div>
    </div>
    <div class="ad-2 margin_top20">
        <p class="ad-2__title">
            4G SIM karta zadarmo pre všetkých!</p>
        <p class="ad-2__desc">
            Všetky nové Easy karty sú 4G. <a class="link link_ul link_blue" href="/internet/4g-internet/podporuje-moja-sim-karta-4g">Over si tu</a>, či máš starú SIM kartu, ktorá nepodporuje 4G sieť. Ak nepodporuje, zadarmo ti ju vymeníme v ktoromkoľvek Telekom centre.</p>
    </div>
</div>
