/* =============== IMPORTS =============== */
/* ===============
CSS FOR MICROSITE
=============== */
#availability-module {
  background-size: cover;
  padding: 70px 0 0 0;
  @media screen and (max-width: 543px) {
    padding: 30px 0 0 0;
  }
}

#availability-module-v2 {
  padding: 30px 0 20px 0;
  background-color: #faf4f7;
  border-radius: 5px;
}

#availability-module-v2 .header-magenta {
  font-size: 21px;
  color: #e20074;
  font-weight: bold;
}

#availability-module-v2 .header-desc {
  font-size: 16px;
}

.header {
  width: 100%;
  padding: 13px 14px 13px 17px;
}

.module-wrapper {
  max-width: 940px;
  margin: 0 auto;
  margin: 0 auto 30px auto;
}

.availability {
  width: 100%;
  padding: 40px 20px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    max-width: 90%;
    margin: 0 auto;
  }
  @media screen and (max-width: 543px) {
    display: block;
  }
}

.availability label {
  font-size: 16px;
  color: #383838;
}

.availability label.disabled {
  color: #9b9b9b;
}

.availability form {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 10px 10px 0 0;
}

#content .search-title {
  color: #262626;
  font-size: 18px;
  display: inline-block;
}

#number-form {
  max-width: 130px;
  margin-right: 10px;
}

.availability input {
  height: 44px;
  line-height: 44px;
  padding-left: 4px;
  width: 100%;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
}

.availability label {
  font-size: 15px;
}

.availability input.loading {
  background: #fff url("../img/loading.gif") no-repeat 98% 50%;
}

.availability input.disabled {
  background-color: #f5f5f5;
  color: #a4a4a4;
  border: 1px solid #d3d3d3;
}

.availability button {
  vertical-align: top;
  min-width: 130px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
}

#availability-module-v2 .availability button {
  min-width: 95%;
  width: 95%;
}

.header-description {
  width: 260px;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.availability button.disabled {
  border-color: #d7d7d7 !important;
  background: #d7d7d7;
  color: #ededed;
  cursor: default;
}

/* original ui autocomplete list - hide */
ul.ui-menu.ui-autocomplete {
  visibility: hidden !important;
}

/* custom autocomplete list */
.results {
  height: 135px;
  overflow: overlay;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: none;
}

#content .availability .results ul {
  margin: 0;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  &:empty {
    border: none;
  }
}

#content .availability .results li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  &:last-of-type {
    border-bottom: none;
  }
}

#content .availability .results li:hover {
  background-color: #f5f5f5;
}

#content .error-msg {
  color: red;
  display: none;
}

#content .error-msg,
#content .info-msg {
  text-align: center;
  font-size: 20px;
  color: red;
  a {
    font-size: 20px;
  }
}

#map {
  height: 400px;
  overflow: hidden;
  position: relative;
}

#main-ins {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  width: 360px;
  height: 400px;
  overflow: hidden;
}

.map-holder {
  position: relative;
  display: none;
  margin-top: 60px;
}

.box {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 10px;
  width: 300px;
  display: none;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
  overflow: hidden;
  background-color: #fff;
}

.reset {
  position: absolute;
  top: 0;
  right: 30px;
  display: none;
  width: 50px;
  height: 50px;
  z-index: 50;
  cursor: pointer;
}

.reset img {
  width: 19px;
  height: 19px;
  padding-left: 5px;
  padding-top: 7px;
}

.ulice,
.ulicebox {
  display: none;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  overflow: auto;
  background-color: #fff;
  color: #e20074;
}

#ulicebox {
  display: block;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  overflow: auto;
  padding-left: 10px;
  background-color: #ededed;
  color: #e20074;
}

#ulicebox .row {
  background-color: #ededed;
  line-height: 52px;
  font-weight: bold;
}

.sluzby,
.sluzby title {
  display: none;
  width: 100%;
  height: 50px;
  overflow: hidden;
  /*cursor: pointer;*/
}

.sluzby {
  display: none;
  width: 100%;
  height: 150px;
  background-color: white;
  overflow: hidden;
  font-weight: normal !important;
  font-weight: bold;
  color: #e20074;
  border-bottom: 1px solid #ededed;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 10px;
}

.sluzby .black {
  color: #333333;
}

.pos {
  display: none;
  color: black;
  width: 100%;
  height: 50px;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}

.internet,
.tv {
  display: block;
  width: 100%;
  height: auto;
  background-color: white;
  overflow: hidden;
  /*cursor: pointer;*/
  padding-top: 15px;
}

.internet img,
.tv img {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.zaujem {
  display: none;
  text-align: center;
  margin-bottom: 10px;
}

#zaujem {
  display: none;
  width: 90%;
}

.ulice {
  display: none;
  position: absolute;
  top: 51px;
  z-index: 50;
}

#sluzby-header {
  margin-top: 10px;
  color: #a6a6a6;
  text-transform: uppercase;
}

.subheader {
  color: #fff;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 20px;
}

.c-row-4 .c-content {
  border: inherit;
}

.c-row-4 {
  margin-top: inherit;
  padding-top: inherit;
  margin-bottom: inherit;
}

#content .wysiwygValue p {
  display: none;
}

#portlet_dynamicForm_WAR_eccadmin {
  width: inherit;
}

.dynamicFormItemBox .dynamicFormItemRootBox .ieldTypePAGE {
  background-color: #e6e6e6;
}

.dynamicFormItemBox .fieldTypeINPUT {
  background-color: #e6e6e6;
}

#wrapper .finishFormButton {
  background-color: #6bb324;
  border: 1px solid #6bb324;
}

#content .contact-item {
  text-align: center;
}

#content .contact-item img {
  width: 100px;
  height: auto;
}

#wrapper .contact-item .sec8__description {
  font-size: 20px;
  text-transform: uppercase;
  color: #e20074;
  text-align: center;
  margin-top: 10px;
}

#content .sec8__lightColor {
  color: #f363ad;
}

.formCompositionRender .dynamicFormPages .nextPageButtonSpan {
  width: inherit;
  margin-right: 84%;
}

#content .contact_right_col {
  width: 20%;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .c-row-1 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 80px;
  }
  .c-content {
    width: 100%;
  }
}

@media screen and (min-width: 960px) {
  #c-form {
    width: 74%;
    float: left;
  }
  #content .contact_right_col {
    width: 21%;
    float: left;
    margin-top: 95px;
  }
}

@media screen and (max-width: 600px) {
  .c-content {
    width: 99%;
  }
  #content .contact_right_col {
    width: 45%;
    margin: 0 auto;
  }
}

.formComposition .dynamicFormSubFields {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.formComposition .dynamicFormFields {
  border: 0 solid #ccc;
}

// /* HERO SECTION */
// #hero {
//     background: url(../img/fix_ins_hero-update_940px_0818.jpg) no-repeat 50% 50%;
//     min-height: 300px;
//     padding: 60px 2%;
//     overflow: hidden;
//     background-size: cover;
// }

// .hero__content {
//     max-width: 350px;
// }

// #content .hero__title {
//     color: #ffffff;
//     font-size: 45px;
// }

// #content .hero__desc {
//     color: #000;
//     max-width: 80%;
//     font-size: 20px;
// }

// @media screen and (max-width: 768px) {
//     .hero__content {
//         max-width: inherit;
//     }
//     #content .hero__title {
//         color: #ffffff;
//         font-size: 32px;
//         margin-top: 60%;
//         padding: 10px;
//     }
// }

// @media screen and (max-width: 480px) {
//     .hero__content {
//         max-width: inherit;
//     }
//     #content .hero__title {
//         color: #ffffff;
//         font-size: 30px;
//         margin-top: 80%;
//         padding: 10px;
//     }
// }

.section {
  padding: 40px 0;
}

.grid__col_4__custom {
  float: left;
  width: 30%;
}

.col_border {
  border-left: 1px solid $silver-chalice;
  border-right: 1px solid $silver-chalice;
  margin: 0 2.5% 0 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

@media screen and (max-width: 768px) {
  .grid__col_4__custom {
    width: 100%;
    margin-bottom: 10px;
    min-height: 220px;
  }
  .col_border {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid $silver-chalice;
    border-bottom: 1px solid $silver-chalice;
    margin: 0;
    margin-bottom: 15px;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* SEC 2 columns */
.magenta {
  color: $magenta;
}

#content {
  & .section {
    padding: 40px 0;

    & .sec-cont {
      display: flex;
      align-items: center;
      & .sec-img {
        text-align: center;
      }
      & .sec-content {
        & h2 {
          font-size: 21px;
          color: #000;
        }
      }

      & .button-cont {
        margin-top: 40px;

        & a {
          text-align: center;
          margin-bottom: 10px;
          min-width: 200px;
        }
      }

      & .sec-img {
        & img {
          width: auto;
          max-width: 100%;
          max-height: 383px;
        }
      }

      @media screen and (max-width: 768px) {
        display: block;
        text-align: center;
        & .sec-img {
          text-align: center;
          margin-bottom: 20px;
        }
        & .button-cont {
          text-align: center;
          & a {
            max-width: 400px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

#content [class*="section"]:nth-child(even) {
  background-color: #ededed;
}
#content [class*="section"]:nth-child(odd) {
  background: #fff url("../img/pattern.jpg");
}

#content .sec-4 {
  background-color: #fff !important;
  background: none !important;
  margin: 50px 0;
  .heading {
    font-size: 21px;
    text-align: center;
    margin-bottom: 40px;
  }

  & .calcul {
    border: solid 1px #ccc;
    -webkit-box-shadow: 0px 0px 46px -7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 46px -7px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 46px -7px rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
      width: 100%;
    }
    & div.col {
      margin: 0 20px;
      max-width: 22%;
      height: 160px;
      position: relative;
      min-width: 105px;
      text-align: center;
      p {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      img {
        max-height: 115px;
        width: auto;
        max-width: 100%;
      }
    }
    & div:nth-of-type(2n + 2) {
      //width: 8%;
      font-size: 60px;
      font-weight: bold;
    }
    & div.result {
      width: 34%;
      text-align: right;
      position: relative;
      text-align: center;
      @media screen and (max-width: 768px) {
        width: 100%;
        display: block;
      }
      & p {
        margin: 0;
        line-height: 36px;
      }
      & p:nth-of-type(2) {
        font-size: 32px;
        text-decoration: line-through;
      }

      & p:last-of-type {
        font-size: 42px;
        color: $magenta;
        @media screen and (max-width: 950px) {
          font-size: 32px;
        }
      }

      & a {
        text-align: center;
        position: absolute;
        bottom: -30px;
        min-width: 130px;
        right: 0;
      }
      .prices,
      .badge {
        display: inline-block;
      }
    }
    @media screen and (max-width: 768px) {
      display: block;
      max-width: 90%;
      margin: 0 auto;
      & > div.col {
        text-align: center;
        display: block;
        max-width: 100%;
        margin: 0;
        height: auto;
        & img {
          max-height: 100%;
          max-width: 40%;
        }
        p {
          position: relative;
        }
      }
      & div:nth-of-type(4) {
        margin-top: 30px;
      }
      & div:nth-of-type(5) {
        text-align: center;

        & p:last-of-type {
          font-size: 42px;
        }

        & a {
          position: initial;
          margin-top: 20px;
        }
      }
    }
  }
}

#content .sec2__link {
  /*font-size: $font-link;*/
  font-size: 16px;
  text-transform: none;
  text-decoration: underline;
}

#not-found {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 40px;

  h3 {
    font-size: 24px;
    color: $magenta;
    text-align: center;
  }

  .p-head {
    border-bottom: none;
    height: auto;
  }

  .services {
    padding-bottom: 10px;

    .services-header {
      padding-bottom: 5px;
    }
  }

  .nf-button {
    padding-top: 15px;
  }

  .btn {
    text-transform: uppercase;
    font-size: 16px;
    color: #383838;
    background-color: #ededed;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
  }

  .cta {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #65ac20;
  }

  .cta:hover {
    background-color: #58951c;
    border: 1px solid #4d8319;
  }
}
