/*
** redesign 2019
*/

/* global variables */
$green: #4f8223;
$light_green: #e9f4df;
$dark_green: #d5e3c7;

.no-padd {
  padding: 0;
}

.desktop {
  @media screen and(max-width: 543px) {
    display: none !important;
  }
}
.mob {
  display: none !important;
  @media screen and(max-width: 543px) {
    display: inherit !important;
  }
}

/* Hero */

#hero {
  overflow: hidden;
  min-height: 254px;
  padding: 60px 2%;
  background: url(../img/kv_940px.jpg) no-repeat 46% 50%;
  background-size: cover;
  & .hero__content {
    text-align: left;
    max-width: 460px;
    & .btn {
      margin-bottom: 10px;
    }
  }
  & .hero__title {
    font-size: 34px;
    margin-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    border: 0;
  }
  &.link {
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
  }
  & .hero__link {
    margin-top: 10px;
    display: inline-block;
    text-decoration: underline;
  }
}

// #hero .hero__title {
//     color: #fff;
// }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 40px 2%;
  }
}

@media screen and (max-width: 768px) {
  #hero .hero__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 543px) {
  #hero {
    background: transparent;
    padding: 0;
    & .btn {
      margin-top: 60px;
    }
    & .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .hero__mobile {
      background: url(../img/kv_940px.jpg) no-repeat 65% 0%;
      height: 195px;
      background-size: cover;
    }
    .hero__content {
      padding: 40px 4%;
      text-align: center;
      max-width: 100%;
    }
  }

  #content .hero__title,
  #content .hero__desc {
    color: #262626;
  }
}
/* HERO END */

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover,
  &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */

/* AVAILABILITY module 2019 */
#availability-module {
  .availability {
    margin-bottom: 40px;
  }
  .heading {
    margin-bottom: 30px;
    h2 {
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 32px;
    }
    p {
      margin: 0;
      font-size: 21px;
    }
  }
  .sendReq {
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 16px;
  }
  .av-services {
    max-width: 80%;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
    &_heading {
      p {
        font-size: 21px;
        color: $green;
      }
      &.unavailable {
        p {
          color: red;
        }
      }
    }
    &_content {
      background-color: $light_green;
      border: 1px solid $green;
      border-bottom: none;
      padding: 25px;

      p {
        margin: 0;
      }
      img {
        max-width: 100%;
      }
      .monthly {
        color: #6c6c6c;
      }
      .text-right {
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }
      &.unavailable {
        background-color: #ededed;
        border-color: #b7b7b7 !important;
        justify-content: center;
        align-items: center;
        display: flex;
        p {
          color: #a4a4a4;
        }
        &:hover {
          background-color: #ededed;
        }
      }
      &:hover {
        background-color: $dark_green;
        .service-name {
          text-decoration: underline;
        }
      }
      &__hidden {
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (max-width: 768px) {
          text-align: center;
          display: block;
        }
        &.hidden {
          display: none;
        }
      }
      &:nth-child(2) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      &:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 1px solid $green;
      }
    }
    .pricelegal {
      color: #6c6c6c;
    }
  }
  .av-eshopBtn {
    max-width: 80%;
    margin: 0 auto;
  }
}

.ins {
  font-size: 16px;
  .bold {
    font-weight: bold;
  }
}

