$graybg: #e6e6e6;

$darkgray: #262626;
$lightgray: #f6f6f6;
$mediumgray: #e20074;

$textgray: #808080;
$legaltext: #757575;
$headlinegray: #a3a3a3;

$inputBorderColor: #a4a4a4;
$popupgray: #383838;

$formValidated: #6e6e6e;
$personalFormShortDesc: #b3b3b3;

$inputText: #919191;

$disabled: #d0d0d0;

$magenta: #e20074;
$orange: #d0d0d0;
$white: #fff;
$orangeError: #d90000;
