#wrapper {
	// HEART
	@-webkit-keyframes swinging {
		0% {
			-webkit-transform: rotate(10deg);
		}

		50% {
			-webkit-transform: rotate(-5deg);
		}

		100% {
			-webkit-transform: rotate(10deg);
		}
	}

	@keyframes swinging {
		0% {
			transform: rotate(10deg);
		}

		50% {
			transform: rotate(-5deg);
		}

		100% {
			transform: rotate(10deg);
		}
	}

	.heart {
		display: inline-block;
		position: absolute;
		-webkit-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-animation: swinging 3.5s ease-in-out forwards infinite;
		animation: swinging 3s ease-in-out forwards infinite;

		@media screen and (max-width: 650px) {
			img {
				width: 100px;
			}
		}
		@media screen and (max-width: 390px) {
			display: none;
		}
	}

	.rateplan-cont {
		.heart {
			top: 0;
			right: 13%;
			@media screen and (max-width: 960px) {
				right: 10px;
			}
			@media screen and (max-width: 767px) {
				top: 30px;
			}
			@media screen and (max-width: 650px) {
				top: 70px;
				right: 5%;
			}
			@media screen and (max-width: 450px) {
				top: 50px;
				right: 10px;
			}
		}
	}

	.magio-cont {
		.heart {
			top: -30px;
			right: 8%;
			@media screen and (max-width: 800px) {
				right: 15px;
			}
			@media screen and (max-width: 650px) {
				top: 20px;
				right: 8%;
			}
			@media screen and (max-width: 500px) {
				top: 20px;
				right: 5px;
			}
		}
	}

	.heart .light {
		width: 5px;
		height: 5px;
		position: absolute;
		border-radius: 50%;
		background-color: #ddd;
		z-index: 1;
		@media screen and (max-width: 650px) {
			width: 2px;
			height: 2px;
		}
	}

	.heart .light.light-1 {
		top: 55px;
		left: 26px;
		animation: glowing 3s infinite;
		@media screen and (max-width: 650px) {
			top: 33px;
			left: 16px;
			animation: glowing2 3s infinite;
		}
	}

	.heart .light.light-2 {
		top: 50px;
		left: 71px;
		animation: glowing 2800ms infinite;
		@media screen and (max-width: 650px) {
			top: 29px;
			left: 42px;
			animation: glowing2 2800ms infinite;
		}
	}

	.heart .light.light-3 {
		top: 23px;
		right: 60px;
		animation: glowing 2400ms infinite;
		@media screen and (max-width: 650px) {
			top: 15px;
			left: 62.7px;
			animation: glowing2 2400ms infinite;
		}
	}

	.heart .light.light-4 {
		top: 42px;
		right: 15px;
		animation: glowing 2000ms infinite;
		@media screen and (max-width: 650px) {
			top: 25px;
			right: 9.5px;
			animation: glowing2 2s infinite;
		}
	}

	.heart .light.light-5 {
		top: 87px;
		left: 47px;
		animation: glowing 2700ms infinite;
		@media screen and (max-width: 650px) {
			top: 53px;
			left: 28.5px;
			animation: glowing2 2700ms infinite;
		}
	}

	.heart .light.light-6 {
		top: 108px;
		left: 83px;
		animation: glowing 2900ms infinite;
		@media screen and (max-width: 650px) {
			top: 64px;
			left: 49.3px;
			animation: glowing2 2900ms infinite;
		}
	}

	.heart .light.light-7 {
		top: 91px;
		right: 43px;
		animation: glowing 2500ms infinite;
		@media screen and (max-width: 650px) {
			top: 55px;
			right: 26px;
			animation: glowing2 2500ms infinite;
		}
	}

	@keyframes glowing {
		0%,
		100% {
			box-shadow: 0 0 0 #ddd;
		}

		50% {
			box-shadow: 0 0 8px 8px #ddd;
		}
	}

	@keyframes glowing2 {
		0%,
		100% {
			box-shadow: 0 0 0 #ddd;
		}

		50% {
			box-shadow: 0 0 5px 5px #ddd;
		}
	}

	// HEART end
	.bg-stars {
		.bg-stars-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: auto;
			background-position: 0 0;
			animation-name: stars-move;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-play-state: paused;
			//opacity: 0.9;
			&.bg-1 {
				animation-duration: 19s;
				background-image: url('../img/bg_stars3.png');
			}
			&.bg-2 {
				animation-duration: 10s;
				background-image: url('../img/bg_stars4.png');
			}
		}
		.bg-stars-content {
			z-index: 2;
			position: relative;
		}
	}

	.bg-stars:hover .bg-stars-img {
		animation-play-state: running;
	}

	@keyframes stars-move {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: -300px 0px;
		}
	}
}
