/* ===============  bd-scenario inputs  =============== */
.select2-container.selectbox {
    .select2-dropdown {
        font-size: 0.875rem;
        border: none;
        background-color: $white;
        font-weight: 700;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow: -1px 0px 7px 1px rgba(0, 0, 0, 0.4);
        overflow: hidden;

        .select2-results {
            &__option {
                padding: 0.5rem;

                &--highlighted {
                    padding: 0.5rem;
                    background-color: #f1f1f1;
                    color: initial;
                }
            }
        }
    }
}

#content,
.bd-scenario-popup {

    /* select boxes */
    .select2-container {
        border-bottom: 1px solid $inputBorderColor;

        &--open.selectbox {
            border-bottom: 1px solid $magenta;

            .select2-selection {
                &__arrow {
                    b {
                        border-color: $magenta transparent $magenta transparent;
                    }
                }
            }
        }

        &.selectbox {
            font-weight: 700;
            font-size: 0.875rem;
            outline: none;

            @media screen and (min-width: 768px) {
                font-size: 1.25rem;
            }

            &.error {
                border-bottom: 1px solid $orangeError;
            }

            .select2-selection {
                border: none;

                &--single {
                    background-color: transparent;
                    background-image: none;
                }

                &__rendered {
                    padding: 0;
                }

                &__arrow {
                    border: none;
                    background-color: transparent;
                    background-image: none;

                    b {
                        border-color: $magenta transparent $magenta transparent;
                    }
                }
            }
        }
    }

    .error_message {
        color: $orangeError;
        font-size: 0.75rem;
    }

    .fancybox-inner {
        .input-wrapper {
            input {
                width: 100%;
            }
        }
    }

    .input-wrapper {
        position: relative;
        margin-bottom: 10px;

        input {
            position: relative;
            padding: 15px 0 5px 0;
            margin-bottom: 15px;
            border: 0px solid #dadada;
            background-color: transparent;
            border-bottom: 1px solid $inputBorderColor;
            font-size: 0.875rem;
            font-weight: 700;
            font-family: "TeleGroteskNext";
            transition: border 200ms ease-in-out;
            box-shadow: none;
            border-radius: 0;

            @media screen and (min-width: 768px) {
                font-size: 1.25rem;
                padding: 10px 0 5px 0;
            }

            &:focus {
                outline: none;
                border-bottom: 1px solid $magenta;
            }

            &.error {
                border-bottom: 1px solid $orangeError;
                background: none;
                margin-bottom: 5px;
            }
        }

        // checkbox error
        .checker {
            span.error {
                border: 1px solid $orangeError;
            }
        }

        // checkboxes
        .label {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:first-child {
                align-items: normal;
            }

            @media screen and (min-width: 768px) {
                flex-direction: row-reverse;
            }

            .required {
                color: $orangeError;
            }

            .label-text {
                max-width: 80%;
                display: inline-block;

                font-size: 0.875rem;

                @media screen and (min-width: 768px) {
                    width: 80%;
                }

                .block {
                    display: block;
                    margin-bottom: 0.5rem;
                }

                a {
                    font-size: 0.875rem;
                }
            }

            .checker {
                margin: 0;

                span {
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                    background-color: transparent;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;

                    &::before {
                        color: transparent;
                        top: 18px;
                        left: 7px;
                        width: 25px;
                        height: 30px;
                        font-size: 1.5rem;
                    }

                    &.checked::before {
                        top: 3px;
                        left: 7px;
                        color: $magenta;
                        width: 25px;
                        height: 30px;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        //input label
        .placeholder {
            position: absolute;
            font-size: 14px;
            left: 0;
            top: 14px;
            color: $inputText;
            font-weight: 300;
            transition: top 200ms ease-in-out, font-size 200ms ease-in-out,
                color 200ms ease-in-out;
            pointer-events: none;

            @media screen and (min-width: 1367px) {
                font-size: 1rem;
            }

            .required {
                color: $orangeError;
            }

            &.error {
                color: $orangeError;
            }
        }
    }

    input:focus~.placeholder {
        top: -5px;
        font-size: 12px;
        color: $magenta;

        @media screen and (min-width: 768px) {
            top: -7px;
            font-size: 0.75rem !important;
        }
    }

    input:valid~.placeholder {
        top: -5px;
        font-size: 12px;

        @media screen and (min-width: 768px) {
            top: -7px;
            font-size: 0.75rem !important;
        }
    }
}