/* globals */
$magenta: rgb(226, 0, 116);

.pad0 {
	padding: 0;
}

/* 
* christmas products filter module 
*/

#wrapper {
	h3 {
		color: #262626;
		font-size: 24px;
		font-weight: 800;
	}

	.line-through-m {
		text-decoration-line: line-through;
		text-decoration-style: solid;
		text-decoration-color: $magenta;
	}
	.predplatenka-statut {
		display: none;
	}
}

#wrapper #sortingOptionsSection-sticky-wrapper {
	background-color: #f2f2f2;
	//height: 60px !important;

	&.is-sticky {
		#sortingOptionsSection {
			transition: all 0.5s ease;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			padding: 10px 0 10px 0;
			z-index: 999;
			border-bottom: 1px solid #ccc;
			box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
		}
	}
}

#wrapper #categoryTitle {
	padding: 50px 0 0;
	background-color: #fff;

	h2 {
		font-size: 38px;
		text-align: center;
		font-weight: 800;
		color: #262626;
		margin-bottom: 20px;
	}
}

#wrapper #sortingOptionsSection {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	padding: 0 0 30px;
	background-color: #fff;
	border-bottom: 0px;

	/* button */
	.button:active,
	.button:focus,
	.button.is-checked {
		background-color: $magenta !important;
		-webkit-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
		box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
	}

	/* button-group */
	.button-group {
		display: flex;
		justify-content: center;

		&::after {
			content: '';
			display: block;
			clear: both;
		}

		.button {
			text-transform: none;
			font-size: 20px;
			background: none;
			border: none;
			color: #000;
			border-radius: 30px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			-ms-border-radius: 30px;
			-o-border-radius: 30px;
			height: auto;
			line-height: 24px;
			float: left;
			padding: 15px 40px;
			margin-left: 5px;
			margin-right: 5px;

			@media screen and (max-width: 768px) {
				float: none;
			}

			@media screen and (max-width: 630px) {
				font-size: 18px;
				padding: 15px 30px;
			}

			@media screen and (max-width: 530px) {
				font-size: 16px;
				padding: 12px 20px;
			}

			@media screen and (max-width: 432px) {
				font-size: 14px;
				padding: 10px 13px;
			}

			&:first-child {
				margin-left: 0;
			}

			&:hover {
				background-color: #dedede;
			}

			&.is-checked {
				color: white;
				font-weight: 400;
			}
		}
	}

	/* category wrapper */
	#categoryWrapper {
		margin-bottom: 15px;
		width: 100%;
		margin: 0 1%;

		@media screen and (max-width: 768px) {
			display: block;
			float: none;
			width: 100%;
			text-align: center;
		}

		@media screen and (max-width: 543px) {
			margin-bottom: 5px;
		}
	}

	/* sorting wrapper */
	.sortingWrapper {
		width: 38%;
		float: left;
		margin: 0 1%;

		@media screen and (max-width: 768px) {
			display: block;
			float: none;
			width: 100%;
		}

		@media screen and (max-width: 543px) {
			display: block;
			text-align: center;
			margin: 0;
		}

		#sorts {
			width: 50%;
			float: left;

			@media screen and (max-width: 543px) {
				width: 100%;
				float: none;
			}
		}

		#changePlan {
			justify-content: flex-end;
			display: flex;
			align-items: center;

			@media screen and (max-width: 768px) {
				margin-top: 15px;
				justify-content: center;
			}

			@media screen and (max-width: 380px) {
				margin-left: 20px;
				margin-right: 20px;
			}

			p {
				margin: 0 7px 0 0;
			}

			.heapBox {
				width: 230px;

				@media screen and (max-width: 768px) {
					width: 270px;
				}

				@media screen and (max-width: 543px) {
					text-align: left;
				}

				.holder,
				.handler {
					font-weight: bold;
					background-color: #fff;
				}

				.handler {
					line-height: 14px;
				}
			}
		}
	}
}

#wrapper #productsSection {
	background-color: #f2f2f2;

	/* grid */
	.grid {
		display: block;
		margin: 0px 0 20px 0;
		position: relative;
		height: auto;

		&::after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.gutter-sizer {
		width: 2%;

		@media screen and (max-width: 768px) {
			width: 2%;
		}
	}

	.grid-sizer {
		width: 31.33%;

		@media screen and (max-width: 768px) {
			width: 49%;
		}

		@media screen and (max-width: 543px) {
			width: 100%;
		}
	}

	/* .element-item */
	.element-item {
		height: 490px;
		background-color: #fff;
		border-radius: 10px;
		width: 31.33%;
		margin: 1%;
		margin-bottom: 1%;
		min-height: 300px;
		color: #262524;
		padding: 30px 2%;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		-webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
		box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);

		@media screen and (max-width: 820px) {
			height: 520px;
		}

		@media screen and (max-width: 768px) {
			width: 47%;
			margin: 0 0 3% 0;
			height: 490px;
		}

		@media screen and (max-width: 543px) {
			width: 90%;
			margin: 0 5% 3% 5%;
			padding: 30px 5%;
		}

		&:hover {
			overflow: visible;
			-webkit-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
			box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
			transition: all 0.2s ease;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
		}

		.limitedOffer {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			text-align: center;
			height: 18px;
			background-color: #464646;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;

			p {
				margin: 0;
				font-size: 14px;
				color: #fff;
			}
		}

		.name {
			margin-top: 20px;
			font-size: 16px;
			text-align: center;
			line-height: 18px;
			min-height: 36px;

			&:hover {
				text-decoration: underline;
			}
		}

		&.width2 {
			width: 64.5%;

			@media screen and (max-width: 768px) {
				width: 100%;
			}
		}

		&.fullwidth {
			width: 100%;
		}

		&.height2 {
			height: 500px;
		}

		&.soldOut {
			cursor: default;
			box-shadow: none;

			&:before {
				content: 'VYPREDANÉ';
				color: #fff;
				display: flex;
				font-size: 40px;
				font-weight: 800;
				justify-content: center;
				align-items: center;
				position: absolute;
				background-color: rgba(206, 206, 206, 0.8);
				width: 100%;
				height: 100%;
				z-index: 99;
				left: 0;
				top: 0;

				@media screen and (max-width: 900px) {
					font-size: 42px;
				}
			}

			&:hover {
				overflow: hidden;
			}
		}

		&.akcia-ukoncena {
			box-shadow: none;

			&:before {
				content: 'AKCIA\aUKONČENÁ';
				white-space: pre-wrap;
				text-align: center;
				color: #fff;
				display: flex;
				font-size: 40px;
				font-weight: 800;
				justify-content: center;
				align-items: center;
				position: absolute;
				background-color: rgba(186, 186, 186, 0.7);
				width: 100%;
				height: 100%;
				z-index: 99;
				left: 0;
				top: 0;

				@media screen and (max-width: 900px) {
					font-size: 42px;
				}
			}

			&:hover {
				overflow: hidden;
			}
		}

		&.textver {
			p {
				font-weight: normal;
			}

			.mainImg {
				position: relative;
				z-index: 10;
			}

			.btn {
				padding: 8px 23px;
				position: relative;
				z-index: 10;
			}

			.link {
				position: relative;
				z-index: 10;
			}

			.text {
				min-height: 119px;
				width: 100%;
			}

			&.special {
				background-color: $magenta;

				p {
					color: #fff !important;
					z-index: 999;
				}

				.link {
					margin-top: 0px;
					margin-bottom: 0px;
					color: #6dd7ff;
				}
			}
		}

		.ec {
			position: absolute;
			right: 13px;
			top: 25px;
			z-index: 11;

			&.ec-circle {
				display: flex;
				flex-direction: column;
				width: 76px;
				height: 76px;
				border-radius: 50%;
				background-color: #529ad6;
				align-items: center;
				justify-content: center;
				color: #fff;
				font-size: 12px;
				line-height: 0.85;
				span {
					text-align: center;
					&.title {
						font-size: 14px;
						font-weight: 600;
						margin-bottom: 3px;
					}
				}
			}

			&.online-zlava {
				.sum {
					font-size: 24px;
					font-weight: 800;
					margin: 3px 0;
				}
			}
			&.ec-dvoj-kredit,
			&.ec-darcek-giga {
				span {
					font-size: 14px;
					font-weight: 600;
					line-height: 1;
				}
			}

			&.ec-dvoj-kredit {
				background-color: $magenta;
			}

			&.ec-darcek-giga {
				background-color: #1063ad;
				span:first-of-type {
					margin-top: 5px;
				}
			}
		}

		.ec-vernostna-zlava {
			//display: none;
			position: absolute;
			right: 18.5px;
			top: 125px;
			z-index: 11;
			visibility: hidden;
			opacity: 0;
			transition: visibility 0s linear 0.33s, opacity 0.33s linear;

			> div {
				position: relative;
				.text {
					position: absolute;
					top: -8px;
					left: 0;
					z-index: 12;
					p {
						color: #fff;
						margin: 0;
						line-height: 0.85;
						text-align: center;
						font-size: 12px;
						&.sum {
							font-size: 22px;
							font-weight: 800;
							margin-top: 3px;
						}
					}
				}
				.ec-heart {
					background-color: #dbad39;
					display: inline-block;
					height: 45px;
					margin: 0 10px;
					position: relative;
					top: 0;
					transform: rotate(-45deg);
					width: 45px;
				}

				.ec-heart:before,
				.ec-heart:after {
					content: '';
					background-color: #dbad39;
					border-radius: 50%;
					height: 45px;
					position: absolute;
					width: 45px;
				}

				.ec-heart:before {
					top: -23px;
					left: 0;
				}

				.ec-heart:after {
					left: 23px;
					top: 0;
				}
			}
		}

		.mainImg {
			height: 120px;
			margin-top: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				max-height: 150px;
			}
		}

		.prices {
			width: 100%;
			border-bottom: 1px solid #ccc;
			height: 130px;

			&-hdl {
				p {
					font-size: 13px;
					color: #6c6c6c;
					padding-bottom: 3px;
					margin-bottom: 10px;
					border-bottom: 1px solid #ccc;
				}
			}

			&-row {
				p {
					margin: 0;
				}

				&:nth-of-type(2) {
					.hdl,
					.monthlyWeb {
						color: $magenta;
					}
				}

				.hdl,
				.monthlyStore,
				.oneTimeStore {
					color: #4b4b4b;
					font-size: 16px;
					height: 22.5px;
				}

				.monthlyWeb,
				.oneTimeWeb {
					font-size: 16px;

					.text {
						color: #4b4b4b;
					}
					.sum {
						font-weight: bold;
					}
				}

				.oneTimeWeb_nodph {
					line-height: 14px;
					padding-bottom: 7px;
				}

				.monthlyStore,
				.oneTimeStore {
					font-size: 16px;
					color: #6c6c6c;
					line-height: 14px;
					padding-bottom: 7px;
					.sum {
						font-size: 14px;
						color: #6c6c6c;
					}
				}

				.no-discont {
					.monthlyWeb .text,
					.oneTimeWeb .text {
						display: none;
					}
					.monthlyStore,
					.oneTimeStore {
						text-decoration-line: none;
					}
				}
			}
		}

		.btn-action {
			position: absolute;
			bottom: 20px;
			display: flex;
			align-items: center;
			flex-direction: column;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 3;
			.btn {
				margin: 20px 0 5px 0;
				padding: 8px 40px;
				display: block;
				max-width: 240px;
			}
		}

		&.bg-stars {
			.ec {
				right: 20px;
			}
			.mainImg {
				margin: 10px 0 30px 0;
			}
			p {
				text-align: center;
				&.name {
					font-size: 22px;
					line-height: 1;
					font-weight: 800;
					min-height: auto;
					margin-bottom: 15px;
					@media screen and (max-width: 820px) {
						margin-bottom: 0;
					}
					@media screen and (max-width: 590px) {
						min-height: 44px;
					}
				}
			}
			.link {
				color: #262626;
				display: block;
			}
			.btn-action {
				.link {
					color: #fff;
				}
				.btn {
					padding: 8px 20px;
					@media screen and (max-width: 800px) {
						padding: 8px 10px;
					}
				}
			}
		}

		&.online-zlava {
			background-color: $magenta;
			p {
				color: #fff;
			}
			.btn-action {
				.link {
					color: #6dd7ff;
				}
			}
		}

		&.online-zlava,
		&.dvoj-kredit {
			padding-top: 0;
			text-align: center;
		}

		&.online-zlava {
			img {
				height: 160px;
			}
		}

		&.dvoj-kredit {
			img {
				height: 165px;
			}
		}

		&.hbo-go,
		&.deezer,
		&.dvoj-kredit,
		&.sutaz-s20 {
			background-color: #35a467;
			p {
				color: #000;
			}
		}

		&.item-gray {
			background-color: #e2e2e2;
			p {
				color: #262626;
			}
			.btn-action {
				.link {
					color: #007faf;
				}
			}
		}
	}

	.zlava-pre-vernych {
		.element-item {
			.ec-vernostna-zlava {
				visibility: visible;
				opacity: 1;

				transition-delay: 0s;
			}
		}
	}

	.flex-center {
		display: flex;
		justify-content: center;
	}
	.banner-cont {
		display: flex;
		width: 90%;
		max-width: 750px;
		background-color: #fff;
		border-radius: 10px;
		min-height: 255px;
		margin: 40px 0;
		h3 {
			margin-top: 0;
		}
		.text-cont {
			width: 65%;
			padding: 20px 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			p,
			a {
				font-size: 20px;
			}
			a {
				color: $magenta;
				text-decoration: none;
				margin-top: 15px;
			}
		}
		.img-cont {
			width: 35%;
			background: url(../img/biznis.jpg) no-repeat 50% 50%;
			border-radius: 0 10px 10px 0;
		}

		@media screen and (max-width: 840px) {
			.text-cont {
				width: calc(100% - 140px);
			}
			.img-cont {
				width: 140px;
				background: url(../img/biznis_mobil.jpg) no-repeat 50% 50%;
			}
		}
		@media screen and (max-width: 500px) {
			.text-cont {
				width: 100%;
			}
			.img-cont {
				display: none;
			}
		}
	}
}

#wrapper .terms-conditions {
	background-color: #f2f2f2;
	padding-bottom: 40px;
}

/*
* SNOW EFFECTS
*/

$d: 20; // density
$w: 300; // grid size
$s: 5s; // speed
$grad: ();

// Generate the snow image using radial gradients
@for $i from 0 to $d {
	$v: random(4) + 2;
	$a: random(5) * 0.1 + 0.5;
	$grad: $grad,
		radial-gradient(
			$v + px $v + px at (random($w - $v * 2) + $v) + px (random($w - $v * 2) + $v) + px,
			rgba(255, 255, 255, $a) 50%,
			rgba(0, 0, 0, 0)
		) !global;
}

.snow {
	animation: none;
	-webkit-animation: none;

	&:before,
	&:after {
		position: absolute;
		top: -$w + px;
		left: 0;
		bottom: 0;
		right: 0;
		background-image: none;
		background-size: $w + px $w + px;
		content: '';
		// animation: snow $s linear infinite;
		// background-image: $grad;
	}

	&:before {
		animation-duration: $s * 3;
		margin-left: -$w/2 + px;
		opacity: 0.65;
		filter: blur(1.5px);
		-webkit-filter: blur(1.5px);
	}

	&:after {
		margin-left: -$w/3 + px;
		opacity: 0.4;
		animation-duration: $s * 2;
		filter: blur(1px);
		-webkit-filter: blur(1px);
	}

	&:hover {
		overflow: hidden !important;

		&:before,
		&:after {
			animation: snow $s linear infinite;
			background-image: $grad;
		}
	}
}

@keyframes snow {
	to {
		transform: translateY($w + px);
	}
}

// ajaxLoader
#ajaxLoadingSpinnerOverlay {
	background-color: rgba(255, 255, 255, 0.7);
}

// popups
.christmas-popup {
	display: none;
	.p-content {
		padding: 0 20px 15px;

		h4 {
			margin-bottom: 20px;
		}
		p {
			margin: 10px 0 !important;
			text-align: left;
		}

		.text-center {
			text-align: center;
		}

		.list {
			font-size: 18px;
			text-align: left;
			color: #000;
			margin-bottom: 20px;
			> p {
				margin-bottom: 0 !important;
				font-weight: 600;
			}
			> div {
				display: flex;
				> div:first-of-type {
					width: 20px;
				}
				> div:last-of-type {
					width: calc(100% - 20px);
				}
			}
		}
	}
}

/****************************************/
/* POPUP */
/****************************************/
#content {
	.fancybox-wrap {
		border: 0;

		& .fancybox-skin {
			background-color: #fff;
			border-radius: 11px;

			& .fancybox-outer {
				& .fancybox-inner {
					& .p-head {
						display: block;
						height: 40px;
						border-bottom: 1px solid #d0d0d0;
						margin-bottom: 10px;

						& .p-close {
							background: none;
							position: absolute;
							right: 10px;
							top: 11px;

							a.close-btn {
								position: relative;
								display: inline-block;
								width: 17px;
								height: 17px;
								overflow: hidden;
								float: right;
								transition: all 100ms linear;

								&::before {
									content: '';
									position: absolute;
									height: 2px;
									width: 100%;
									top: 48%;
									left: 0;
									background: #000;
									transform: rotate(45deg);
									height: 1px;
								}

								&::after {
									content: '';
									position: absolute;
									height: 2px;
									width: 100%;
									top: 48%;
									left: 0;
									background: #000;
									transform: rotate(-45deg);
									height: 1px;
								}
							}
						}
					}

					& .p-content {
						& .popup-lightbox {
							font-size: 1.3em;
							text-align: center;
							padding-top: 10px;
							padding-bottom: 10px;
							padding-left: 10px;
							padding-right: 10px;
							color: #e20074;

							& p {
								font-size: 18px;
								margin: 0;
								color: black;
							}

							& a.btn {
								margin-top: 15px;
							}
						}
					}
				}
			}
		}

		& .fancybox-opened .fancybox-skin {
			box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
		}
	}
}

/* POPUP END */

/* TOGGLE ARROW */
#content a.toggle-arrow {
	color: #007faf;
	text-decoration: none;

	& .arrow-right {
		content: '';
		display: inline-block;
		margin-right: 5px;
		width: 0;
		height: 0;
		margin-left: 5px;
		vertical-align: baseline;
		border-style: solid;
		border-width: 4.5px 0 4.5px 6px;
		border-color: transparent transparent transparent #007faf;
		transition: all 300ms;
	}

	&:hover,
	&:hover span.arrow-right {
		color: #00668d;
		text-decoration: none;
		border-color: transparent transparent transparent #00668d;
	}
}

#content .arrow-content {
	display: none;
	&.main .arrow-content {
		padding: 5px 15px;
		background-color: #f8f8f8;
		border: solid 1px #ddd;
		margin-bottom: 10px;
	}
}

#content .arrow-rotate {
	transform: rotate(90deg);
}

/* TOGGLE ARROW END */
