/* ===============
   MEDIA
   =============== */

.media {
    display: table;
    width: 100%;
}
.media__image,
.media__body {
    display: table-cell;
    vertical-align: middle;
    .media--top & {
        vertical-align: top;
    }
    .media--bottom & {
        vertical-align: bottom;
    }
}
.media__image {}
.media__body {}
.media_v__image,
.media_v__body {
    width: 100%;
}
