/* ===============
   CSS FOR STICKY NAV
   =============== */

#nav-sticky ul {
    list-style-type: none;
    width: 940px;
    margin: 0 auto;
}
#nav-sticky ul li {
    display: inline-block;
}
#nav-sticky {
    background-color: #ededed;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    z-index: 100;
    text-transform: uppercase;
}
#nav-sticky a {
    text-decoration: none;
    height: 55px;
    line-height: 55px;
    display: block;
    color: #000;
    padding: 0 15px;
}
#nav-sticky a:hover,
#nav-sticky a.active {
    background-color: #fff;
    color: #e20074;
}
#nav-sticky li:last-child {
    float: right;
}
#nav-sticky li:last-child a {
    color: #7c7c7c;
}
@media screen and (max-width: 960px) {
    #nav-sticky ul {
        width: 100%;
    }
}
@media screen and (max-width: 799px) {
    #nav-sticky-sticky-wrapper,
    #nav-sticky {
        display: none;
    }
}
