body .fancybox-wrap {
    border: 0;
}

.fancybox-skin {
    background-color: #fff;
    border-radius: 3px;
}

.fancybox-opened .fancybox-skin {
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}

.p-head {
    display: block;
    height: 30px;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
}

.p-close {
    background: url('/documents/10179/8158104/ico-close.png') no-repeat;
    width: 17px;
    height: 17px;
    display: inline-block;;
    float: right;
}
