.show-mobile {
    display: none;
}

.page table {
    color: #000;
}

.c-row-table .header-top {
    padding-top: 20px;
}

.c-row-table .c-content {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    overflow: hidden;
    padding-bottom: 20px;
}

.c-row-table {
    overflow: hidden;
}

.table-container {
    width: 495px; /* Total width of visible columns + border widths */
    overflow: hidden;
}

.sliding-window {
    /*width:1320px; */
    /* Total width of all columns in sliding-window + border widths */

    width:1485px;
    overflow:hidden;
}

.happy-left, .happy-right {
    position: static;
}

.happy-right img {
    position: absolute;
    top: 200px;

    width: 50px;
    height: 50px;
}

.happy-left img {
    position: absolute;
    top: 200px;

    width: 50px;
    height: 50px;
}

/*-------------------------------------------------------*/

.happy td.row-2-xl2, .happy td.row-2-xl, .happy td.row-2-xxl, .happy td.row-2-profi {
    font-size: 0.8em;
}

/*-------------------------------------------------------*/

#happy-boxes h2 {
    padding-left: 0;
}

#happy-boxes {
    padding-left: 30px;
    padding-right: 30px;

    padding-bottom: 20px;
}

#happy-boxes .nadpis {
    font-size: 1.6em;
    text-align: center;
    height: 30px;
    display: inline-block;
    color: #E20074;

    padding-bottom: 10px;
}

#happy-boxes .cena {
    font-size: 1.6em;
    color: #E20074;
    text-align: right;

    position: absolute;

    right: 10px;
    bottom: 0;
}

#happy-boxes .box {
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
    width: 200px;
    float: left;
    height: 233px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

#happy-boxes .box .desc {
    padding-left: 10px;
    background: url('https://www.telekom.sk/documents/10179/457601/bullet2.png') no-repeat scroll;
    padding-bottom: 10px;
    font-size: 0.9em;
    text-align: left;
}

#happy-boxes a {
    text-decoration: none;

}

/*-------------------------------------------------------*/

#content .waterbear-theme td {
    padding: 0;
    line-height: 1em;
    font-size: 15px;
}

.page .happy-table1, .page .happy-table2, .page .happy-table3, .page .happy-left, .page .happy-right {
    float: left;
}

.happy-table1 {
    width: 40px;
}

.happy-table2 {
    margin-left: 20px;
    width: 215px;
    table-layout:fixed;
}

.page .happy-left {
    margin-left: 30px;
}

.page .happy-right {
    margin-left: 30px;
}

.happy-table3 {
    margin-left: 110px;
    position: relative;
}

table.happy-desc, table.happy  {
    border-spacing: 0;
    border-collapse: collapse;
}

.happy td {
    width: 165px;
    /*margin-right: 2px;*/
    /*padding-right: 10px;*/

    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
}

.happy tr {
    margin: 0;
}

.happy th  {
    color: #000;
    font-weight: bold;
}

.happy-desc td, .happy-desc th {
    border-bottom: 1px solid #d0d0d0;
    text-align: left;
    vertical-align: middle;
}

.happy td, .happy th {
    border-bottom: 1px solid #d0d0d0;
    vertical-align: middle;
    text-align: center;
}

.happy tr:first-child, .happy tr:last-child {
    border-bottom: none;
}

.happy tr, .happy-desc tr {
    height: 60px;
}

.happy tr.row-9, .happy-desc tr.row-9 {
    height: 40px;
}

td.row-1-head, td.row-2-head, td.row-3-head, td.row-4-head, td.row-5-head, td.row-6-head, td.row-7-head, td.row-8-head, td.row-9-head, td.row-10-head {
    padding-left: 10px;
    /*padding-right: 5px;*/
}

/*-------------------------------------------------------*/

.happy tr.header {
    color: #e20074;
    font-size: 1.3em;
    text-transform: uppercase;
    line-height: 1em;
    height: 70px;
}

.happy-desc tr.header {
    height: 70px;
}

.happy-desc tr {
}

.happy tr {
    line-height: 1em;
}
/*-------------------------------------------------------*/

.happy-desc tr.row-9, .happy tr.row-9 {
    color: #1063ad;
    font-weight: bold;
}

.happy-desc .row-9-head, .happy .row-9 td, .happy .row-order td {
    border-bottom: none;
}

.happy .row-order td {
    padding-bottom: 20px;
}

.happy-desc .row-5-head img {
    vertical-align: -5px;
    padding-left: 5px;
}

.happy-desc .row-8-head img {
    vertical-align: -5px;
    padding-left: 5px;
}

.row-8-head {
    position: relative;
}

.magenta-row {
    width: 120px;
    height: 40px;
    background-color: #fce5f1;
    position: absolute;
    right: -120px;
    top: 0;
}

.happy tr.row-10 {
    font-size: 1.5em;
}

.waterbear-theme .page .row-order a.green {
    background-color: #6bb324;
    border: 1px solid #6bb324;
}

.waterbear-theme .page .friend-order a.green {
    background-color: #6bb324;
    border: 1px solid #6bb324;
}

.friend-order {
    padding-top: 30px;
    float: right;
}

.activeBox {
    background-color: rgba(215,215,215,.3);
}

@media screen and (max-width: 960px) {
    .table-container {
        width: 300px; /* Total width of visible columns + border widths */
        overflow: hidden;
    }

    .button-order-table {
        bottom: -50px;
        left: 140px;
    }
}

@media screen and (max-width: 800px) {

    .button-order-table {
        bottom: -50px;
        left: -10px;
    }
}

@media screen and (max-width: 770px) {

    .show-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

}


@media screen and (max-width: 600px) {

    .table-container {
        width: 170px; /* Total width of visible columns + border widths */
        overflow: hidden;
    }

}