<section id="scenario-bd" class="section bd-scenario-thankyou">
  <div class="container-fixed">
    <div class="row">
      <div class="vh100 textHolder">
        <div class="content">
          <h2>Ďakujeme za Vašu objednávku</h2>
          <p>
            <!-- SIM ONLY -->
            <!-- <span class="boldtxt"
              >Objednávka bola prijatá.<br />
              O aktivácii nového paušálu na Vašom čísle budete informovaný SMS
              správou.</span
            > -->

            <!-- SHOP -->
            <span class="boldtxt">Objednávka bola prijatá.</span>

            <!-- KURIER-->
            <!-- <span class="boldtxt"
              >Objednávka bola prijatá.<br />
              Doručíme Vám ju kuriérom v čo najkratšom čase.</span
            > -->
          </p>
          <p>
            Na uvedený e-mail sme Vám poslali podrobnosti o&nbsp;objednávke .
          </p>
          <p>
            Ak bude potrebné doplniť Vaše údaje, budeme Vás telefonicky
            kontaktovať.
          </p>

          <!-- stepper -->
          <div class="nav-stepper">
            <div class="nav-stepper-wrapper d-inline-flex">
              <div class="steps d-inline-flex">
                <hr class="divider" />
                <!-- first step -->
                <div class="step-wrapper d-inline-flex align-start">
                  <a href="#">
                    <div class="step d-inline-flex align-center done">
                      <i class="t-icon icon">V</i>
                    </div>
                  </a>
                </div>
                <!-- second step -->

                <!-- <div class="step-wrapper d-inline-flex align-center grow-0">
                  <a href="#">
                    <div class="step d-inline-flex align-center pending">
                      <img
                        class="white"
                        src="../assets/img/icon-car-grey.png"
                        alt="icon car"
                      />
                    </div>
                  </a>
                </div> -->

                <div class="step-wrapper d-inline-flex align-center grow-0">
                  <a href="#">
                    <div class="step d-inline-flex align-center pending">
                      <img
                        class="white"
                        src="../assets/img/icon-store-grey.png"
                        alt="icon shop"
                      />
                    </div>
                  </a>
                </div>

                <!-- last step -->

                <div class="step-wrapper d-inline-flex align-end grow-0">
                  <a href="#">
                    <div class="step d-inline-flex align-center pending">
                      <img
                        class="white"
                        src="../assets/img/icon-sim-grey.png"
                        alt="icon sim card"
                      />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="imageHolder-desktop vh100">
        <!-- img in bg -->
      </div>
    </div>
  </div>
</section>
