<section class="fix-prolong single-col content-page tc">

	<div class="board-holder bh_normal">
		<div class="board">
			<h3 class="page-title margin_bottom20">Vaša zľava</h3>

			<div class="slogan"><div class="slogan-bold">Získajte Magio TV, Magio internet, prípadne Pevnú linku na 12 mesiacov za cenu nižšej služby.</div>

			</div>

			<div class="prod-detail flex-holder">
				<div class="prod-img-lightbox prod-img-holder">
					<img alt="" src="../assets/img/chytry_balik_picture.png"/>
				</div>

				<div class="prod-info tl">

					<div class="main-feat">
						<ul class="pi__lightbox inline-block" style="margin-left: 0;font-size: 18px;">
							<li>Aktivujte si teraz napríklad Magio TV, Magio internet, prípadne Pevnú linku vo variante XL a <span class="bold">12 mesiacov platíte sumu za nižší variant L</span>. </li>
							<br>
							<li>
								Užívajte si až o <span class="bold">40 TV programov viac, až 5 krát rýchlejší internet alebo neobmedzené volania</span> do všetkých mobilných aj pevných sietí na Slovensku.
							</li>
							<br>
						</ul>
					</div>

				</div>

			</div>

			<div class="fix-vyhody">
				<img alt="" src="../assets/img/fix_chb_mkr_picture_1118.png"/>
			</div>

			<div class="fix-order">
				<div class="button-holder">
					<a class="btn btn-buy btn-primary fix-mail" href="#">CHCEM VIAC ZA MENEJ</a>
				</div>
			</div>

		</div>

		<div class="benefit-holder">
			<h3 class="page-title page-title_dark">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
			<div class="flex-holder justify-center">
				<!-- <div class="benefit__item">
					<img alt="" src="../assets/img/ico-happy_50.png" />
					<p class="benefit__title">
						2 mobily za cenu<br />
						jedného</p>
				</div> -->
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-1.png"/>
					<p class="benefit__title">
						zľava na mobil až 20 €<br/>
						pri kúpe cez web</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png"/>
					<p class="benefit__title">
						doručenie kuriérom<br/>
						zadarmo</p>
				</div>
				<div class="benefit__item" style="display: none">
					<img alt="" src="../assets/img/micon-4.png"/>
					<p class="benefit__title">
						možnosť osobného<br/>
						prevzatia na pobočke</p>
				</div>

				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-2.png"/>
					<p class="benefit__title">
						prvých 14 dní bez<br/>
						záväzkov</p>
				</div>

			</div>
		</div>

		<div class="row najlepsi">
			<hr>
			<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
			<div>
				Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
			</div>
			<ul class="pi__lightbox inline-block">
				<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
				<br>
				<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
				<br>
				<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
			</ul>
		</div>

		<div class="board board__lightbox">
			<div class="prod-detail flex-holder">
				<div class="prod-img-holder">
					<img alt="" class="prod-img" src=""/></div>
				<div class="prod-info pi__lightbox tl">
					<h4 class="pi__title">
						&nbsp;</h4>
					<ul>
					</ul>
				</div>
			</div>
		</div>

	</div>

	</div>
</section>


<section class="fix-prolong-thank-you single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<img alt="" src="../assets/img/bmicon-3.png"/>
			<p class="page-title">
				ďakujeme za váš záujem!</p>
			<p>
				Budeme vás kontaktovať do 3 pracovných dní<br/>
				na zadanom telefónnom čísle.</p>
			<a class="btn btn-secondary" href="https://www.telekom.sk/?kampan=mobikazdyrok">SPÄŤ NA DOMOVSKÚ STRÁNKU</a></div>
	</div>
</section>