<!--@import url(/documents/10179/2747162/style.css);-->
<section class="startpage startpage-styles content-page tc" id="step1">
	<div class="fixed-column fixed-column_wide">
		<div class="flex-holder">
			<div class="left-panel">
				<!-- <h2 class="page-sidetitle">
					VYMEŇTE STARÝ MOBIL ZA NOVÝ</h2> -->
			</div>
			<div class="right-panel">
				<div class="progressicon-holder">
					<div class="pgicon_active pgicon">
						&nbsp;
					</div>
					<div class="pgicon pgicon">
						&nbsp;
					</div>
					<div class="pgicon">
						&nbsp;
					</div>
				</div>
				<div class="board">
					<form class="board__form" id="msisdnForm">
						<h3 class="page-title">
							OVERTE SI, ČI MÁTE NÁROK NA NOVÝ MOBIL</h3>
						<div class="input-label">
							Zadajte svoje telefónne číslo
							<img alt="" class="tooltip-info info-startpage" src="../assets/img/ico-tooltip.png"/></div>
						<input autocomplete="off" class="input-text" id="msisdn" maxlength="10" name="msisdn" placeholder="09 _ _ _ _ _ _ _ _" type="text" value=""/>
						<div class="error-msg">
							&nbsp;
						</div>
						<input class="btn btn-primary btn_disabled" disabled="disabled" id="msisdn-btn" type="submit" value="OVERIŤ"/>
						<a class="link link_dark bf__bottom-link" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw?kampan=mobilkazdyrok">Chcem nový mobil,<br/>
							ale nie som zákazník Telekomu</a></form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="startpage-styles startpage-verification content-page tc" id="step2">
	<div class="fixed-column fixed-column_wide">
		<div class="flex-holder">
			<div class="left-panel">
				<!-- <h2 class="page-sidetitle">
					VYMEŇTE STARÝ MOBIL ZA NOVÝ</h2> -->
			</div>
			<div class="right-panel">
				<div class="progressicon-holder">
					<div class="pgicon_active pgicon">
						&nbsp;
					</div>
					<div class="pgicon_active pgicon">
						&nbsp;
					</div>
					<div class="pgicon">
						&nbsp;
					</div>
				</div>
				<div class="board">
					<form class="board__form" id="codeForm">
						<h3 class="page-title">
							OVERTE SI, ČI MÁTE NÁROK NA NOVÝ MOBIL</h3>
						<div class="number-verification">
							Overuje sa číslo <span class="current-phone-number"></span></div>
						<div class="text-left">
							<a class="link link_dark change-number" href="#">Zmeniť číslo</a></div>
						<div class="input-label">
							Overovací kód z SMS
						</div>
						<input class="input-text" id="code" maxlength="4" placeholder="_ _ _ _" size="4" type="text"/>
						<div class="error-msg">
							&nbsp;
						</div>
						<input class="btn btn-primary" id="code-btn" type="submit" value="OVERIŤ"/>&nbsp;
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!--#include virtual="_wrong_segment.html" -->

<!--#include virtual="_prolong.html" -->

<!--#include virtual="_fix.html" -->

<!--#include virtual="_migration.html" -->

<!--#include virtual="_noprolong.html" -->

<!--#include virtual="_easy.html" -->

<!--#include virtual="_prolong_soft_nonhw.html" -->

<!--#include virtual="_ups.html" -->

<div class="cmb-lightbox__holder">
	<div class="board cmb__lightbox">
		<p class="page-title">
			CHCETE BLIŽŠIE VYSVETLIŤ PONUKU?</p>
		<p>
			Naši operátori Vám radi zavolajú.</p>
		<div class="form-holder">
			<div class="input-label">
				Vaše telefónne číslo
			</div>
			<div class="input-holder">
				<input autocomplete="off" class="input-text cmb_msisdn" maxlength="10" name="cmb_msisdn" placeholder="09 _ _ _ _ _ _ _ _" type="text" value=""/>
				<input class="btn btn-primary cmb_button" type="button" value="POTVRDIŤ ČÍSLO"/></div>
			<div class="error-msg">
				&nbsp;
			</div>
		</div>
	</div>
</div>

<div class="phone-detail" id="phone-main">
	<div class="phone-content">
		<div class="phone">
			<div class="image">
				&nbsp;
			</div>
			<div class="properties">
				<div class="phoneName">
					&nbsp;
				</div>
				<div id="change-phone">
					<a class="link change-phone-link" href="#">Zmeniť mobil</a></div>
				<div class="desc">
					Pre upresnenie ceny vyplňte nasledujúce údaje:
				</div>
				<table class="prop">
				</table>
				<div class="final">
					Orientačná výkupná cena: <span id="price">0</span> €
				</div>
			</div>
		</div>
		<div class="clear">
			&nbsp;
		</div>
		<div class="btn-nav">
			<div class="desc-top">
				Vybavte všetko bez čakania a dohodnite si svoj termín stretnutia v Telekom centre
			</div>
			<div class="buttons-row">
				<div class="btn-left">
					<a class="button button_lima" href="https://www.telekom.sk/rezervacia-stretnutia?kampan=mobikazdyrok" id="btn-reserve" target="_blank">REZERVOVAŤ TERMÍN</a>
				</div>
				<div class="btn-right">
					<a href="https://www.telekom.sk/kontakt/predajne/?kampan=mobikazdyrok" id="btn-shop" target="_blank"><img src="https://www.telekom.sk/documents/10179/623804/shop.png"/></a> <!--<a href="" id="btn-mail"><img src="https://www.telekom.sk/documents/10179/623804/mail.png"></a>--><a href="" id="btn-print"><img src="https://www.telekom.sk/documents/10179/623804/print.png"/></a>
				</div>
				<div class="desc-bottom">
					Uvedené výkupné ceny mobilov sú len orientačné.<br/>
					Presnú cenu určí predajca v Telekom centre.
				</div>
			</div>
		</div>
	</div>
</div>

<div id="ajaxLoadingSpinnerOverlay" style="display: none;">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated">
			&nbsp;
		</div>
		<div class="square second pulse infinite animated">
			&nbsp;
		</div>
		<div class="square third pulse infinite animated">
			&nbsp;
		</div>
	</div>
</div>

<!-- LightBox: HAPPY XL DÁTA PRE MLADÝCH -->
<div class="lightbox-area" id="lightbox-young">
	<div class="p-head">
		<a class="p-close" href="#">&nbsp;</a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content" style="padding: 0 10px 10px 10px">
		<div class="col-md-12 box-outside" id="happy-young">
			<!-- program type -->
			<div class="program_title text_centered">
				HAPPY XL DÁTA PRE MLADÝCH
			</div>
			<div class="program_item">
				<!--  volania -->
				<div class="program_volania box-inside">
					<h3>
						VOLANIA</h3>
					<div class="desc">
						<h4>
							neobmedzené</h4>
						volania do siete Telekom a pevných sietí v SR
					</div>
					<div class="desc">
						<h4>
							100 minút</h4>
						volania zo SR a z <span class="roaming-info info-link">EÚ+</span> do ostatných sietí v SR a v
						<span class="roaming-info info-link">EÚ+</span></div>
					<div class="desc">
						<h4>
							neobmedzené</h4>
						prichádzajúce volania v <span class="roaming-info info-link">EÚ+</span></div>
				</div>
				<!-- sms -->
				<div class="sms box-inside">
					<h3>
						SMS a MMS</h3>
					<div class="desc">
						<h4>
							0,10 €</h4>
						do všetkých sietí v SR<br/>
						<br/>
						Poznámka:<br/>
						0,07 € z <span class="roaming-info info-link">EÚ+</span> do SR a
						<span class="roaming-info info-link">EÚ+</span><br/>
						0,15 €/SMS a 0,39 €/MMS zo SR do <span class="roaming-info info-link">EÚ+</span></div>
				</div>
				<!--  internet -->
				<div class="internet box-inside">
					<h3>
						4G INTERNET V MOBILE</h3>
					<div class="desc">
						<h4>
							5 GB v SR a <span class="roaming-info info-link">EÚ+</span></h4>
					</div>
				</div>
				<!-- price -->
				<div class="cena">
					<div class="cena-left">
						<div class="cena-inholder">
							<div class="cena-side-l">
								<h2 class="font_magenta">
									19,99 €</h2>
							</div>
							<div class="cena-side-r">
								<span class="font_magenta"> mesačne</span></div>
						</div>
					</div>
					<div class="cena-right happy_young-info">
						<img src="../assets/img/ec-zlava20.png"/></div>
				</div>
				<!--  cta -->
				<div class="objednat">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_data_premladych">vybrať</a></div>
			</div>
		</div>
		<div class="col-md-12 lb-disc">
			<p class="text_centered">
				Paušál je určený pre zákazníkov do 26 rokov.</p>
		</div>
	</div>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/jquery.history.js"></script>
<script type="text/javascript" src="../assets/js/calc.js"></script>
<script type="text/javascript" src="../assets/js/printThis.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>
