<!--@import url(/documents/10179/2747162/style.css);-->
<section class="startpage startpage-styles content-page tc" id="step1">
	<div class="fixed-column fixed-column_wide">
		<div class="flex-holder">
			<div class="left-panel">
				<!-- <h2 class="page-sidetitle">
					VYMEŇTE STARÝ MOBIL ZA NOVÝ</h2> -->
			</div>
			<div class="right-panel">
				<div class="progressicon-holder">
					<div class="pgicon_active pgicon">
						&nbsp;
					</div>
					<div class="pgicon pgicon">
						&nbsp;
					</div>
					<div class="pgicon">
						&nbsp;
					</div>
				</div>
				<div class="board">
					<form class="board__form" id="msisdnForm">
						<h3 class="page-title">
							OVERTE SI, ČI MÁTE NÁROK NA NOVÝ MOBIL</h3>
						<div class="input-label">
							Zadajte svoje telefónne číslo
							<img alt="" class="tooltip-info info-startpage" src="../assets/img/ico-tooltip.png"/></div>
						<input autocomplete="off" class="input-text" id="msisdn" maxlength="10" name="msisdn" placeholder="09 _ _ _ _ _ _ _ _" type="text" value=""/>
						<div class="error-msg">
							&nbsp;
						</div>
						<input class="btn btn-primary btn_disabled" disabled="disabled" id="msisdn-btn" type="submit" value="OVERIŤ"/>
						<a class="link link_dark bf__bottom-link" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw?kampan=mobilkazdyrok">Chcem nový mobil,<br/>
							ale nie som zákazník Telekomu</a></form>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="startpage-styles startpage-verification content-page tc" id="step2">
	<div class="fixed-column fixed-column_wide">
		<div class="flex-holder">
			<div class="left-panel">
				<!-- <h2 class="page-sidetitle">
					VYMEŇTE STARÝ MOBIL ZA NOVÝ</h2> -->
			</div>
			<div class="right-panel">
				<div class="progressicon-holder">
					<div class="pgicon_active pgicon">
						&nbsp;
					</div>
					<div class="pgicon_active pgicon">
						&nbsp;
					</div>
					<div class="pgicon">
						&nbsp;
					</div>
				</div>
				<div class="board">
					<form class="board__form" id="codeForm">
						<h3 class="page-title">
							OVERTE SI, ČI MÁTE NÁROK NA NOVÝ MOBIL</h3>
						<div class="number-verification">
							Overuje sa číslo <span class="current-phone-number"></span></div>
						<div class="text-left">
							<a class="link link_dark change-number" href="#">Zmeniť číslo</a></div>
						<div class="input-label">
							Overovací kód z SMS
						</div>
						<input class="input-text" id="code" maxlength="4" placeholder="_ _ _ _" size="4" type="text"/>
						<div class="error-msg">
							&nbsp;
						</div>
						<input class="btn btn-primary" id="code-btn" type="submit" value="OVERIŤ"/>&nbsp;
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!--#include virtual="_wrong_segment.html" -->

<!--#include virtual="_prolong.html" -->

<!--#include virtual="_fix.html" -->

<!--#include virtual="_migration.html" -->

<!--#include virtual="_noprolong.html" -->

<!--#include virtual="_easy.html" -->

<!--#include virtual="_prolong_soft_nonhw.html" -->

<!--#include virtual="_ups.html" -->

<div class="cmb-lightbox__holder">
	<div class="board cmb__lightbox">
		<p class="page-title">
			CHCETE BLIŽŠIE VYSVETLIŤ PONUKU?</p>
		<p>
			Naši operátori Vám radi zavolajú.</p>
		<div class="form-holder">
			<div class="input-label">
				Vaše telefónne číslo
			</div>
			<div class="input-holder">
				<input autocomplete="off" class="input-text cmb_msisdn" maxlength="10" name="cmb_msisdn" placeholder="09 _ _ _ _ _ _ _ _" type="text" value=""/>
				<input class="btn btn-primary cmb_button" type="button" value="POTVRDIŤ ČÍSLO"/></div>
			<div class="error-msg">
				&nbsp;
			</div>
		</div>
	</div>
</div>

<div class="phone-detail" id="phone-main">
	<div class="phone-content">
		<div class="phone">
			<div class="image">
				&nbsp;
			</div>
			<div class="properties">
				<div class="phoneName">
					&nbsp;
				</div>
				<div id="change-phone">
					<a class="link change-phone-link" href="#">Zmeniť mobil</a></div>
				<div class="desc">
					Pre upresnenie ceny vyplňte nasledujúce údaje:
				</div>
				<table class="prop">
				</table>
				<div class="final">
					Orientačná výkupná cena: <span id="price">0</span> €
				</div>
			</div>
		</div>
		<div class="clear">
			&nbsp;
		</div>
		<div class="btn-nav">
			<div class="desc-top">
				Vybavte všetko bez čakania a dohodnite si svoj termín stretnutia v Telekom centre
			</div>
			<div class="buttons-row">
				<div class="btn-left">
					<a class="button button_lima" href="https://www.telekom.sk/rezervacia-stretnutia?kampan=mobikazdyrok" id="btn-reserve" target="_blank">REZERVOVAŤ TERMÍN</a>
				</div>
				<div class="btn-right">
					<a href="https://www.telekom.sk/kontakt/predajne/?kampan=mobikazdyrok" id="btn-shop" target="_blank"><img src="https://www.telekom.sk/documents/10179/623804/shop.png"/></a> <!--<a href="" id="btn-mail"><img src="https://www.telekom.sk/documents/10179/623804/mail.png"></a>--><a href="" id="btn-print"><img src="https://www.telekom.sk/documents/10179/623804/print.png"/></a>
				</div>
				<div class="desc-bottom">
					Uvedené výkupné ceny mobilov sú len orientačné.<br/>
					Presnú cenu určí predajca v Telekom centre.
				</div>
			</div>
		</div>
	</div>
</div>

<div id="ajaxLoadingSpinnerOverlay" style="display: none;">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated">
			&nbsp;
		</div>
		<div class="square second pulse infinite animated">
			&nbsp;
		</div>
		<div class="square third pulse infinite animated">
			&nbsp;
		</div>
	</div>
</div>

<!-- LightBox: HAPPY XL DÁTA PRE MLADÝCH -->
<div class="lightbox-area" id="lightbox-young">
	<div class="p-head">
		<a class="p-close" href="#">&nbsp;</a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content" style="padding: 0 10px 10px 10px">
		<div class="col-md-12 box-outside" id="happy-young">
			<!-- program type -->
			<div class="program_title text_centered">
				HAPPY XL DÁTA PRE MLADÝCH
			</div>
			<div class="program_item">
				<!--  volania -->
				<div class="program_volania box-inside">
					<h3>
						VOLANIA</h3>
					<div class="desc">
						<h4>
							neobmedzené</h4>
						volania do siete Telekom a pevných sietí v SR
					</div>
					<div class="desc">
						<h4>
							100 minút</h4>
						volania zo SR a z <span class="roaming-info info-link">EÚ+</span> do ostatných sietí v SR a v
						<span class="roaming-info info-link">EÚ+</span></div>
					<div class="desc">
						<h4>
							neobmedzené</h4>
						prichádzajúce volania v <span class="roaming-info info-link">EÚ+</span></div>
				</div>
				<!-- sms -->
				<div class="sms box-inside">
					<h3>
						SMS a MMS</h3>
					<div class="desc">
						<h4>
							0,10 €</h4>
						do všetkých sietí v SR<br/>
						<br/>
						Poznámka:<br/>
						0,07 € z <span class="roaming-info info-link">EÚ+</span> do SR a
						<span class="roaming-info info-link">EÚ+</span><br/>
						0,15 €/SMS a 0,39 €/MMS zo SR do <span class="roaming-info info-link">EÚ+</span></div>
				</div>
				<!--  internet -->
				<div class="internet box-inside">
					<h3>
						4G INTERNET V MOBILE</h3>
					<div class="desc">
						<h4>
							5 GB v SR a <span class="roaming-info info-link">EÚ+</span></h4>
					</div>
				</div>
				<!-- price -->
				<div class="cena">
					<div class="cena-left">
						<div class="cena-inholder">
							<div class="cena-side-l">
								<h2 class="font_magenta">
									19,99 €</h2>
							</div>
							<div class="cena-side-r">
								<span class="font_magenta"> mesačne</span></div>
						</div>
					</div>
					<div class="cena-right happy_young-info">
						<img src="../assets/img/ec-zlava20.png"/></div>
				</div>
				<!--  cta -->
				<div class="objednat">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_data_premladych">vybrať</a></div>
			</div>
		</div>
		<div class="col-md-12 lb-disc">
			<p class="text_centered">
				Paušál je určený pre zákazníkov do 26 rokov.</p>
		</div>
	</div>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/jquery.history.js"></script>
<script type="text/javascript" src="../assets/js/calc.js"></script>
<script type="text/javascript" src="../assets/js/printThis.js"></script>
<script type="text/javascript" src="../assets/js/app.js"></script>

<section class="wrong-segment single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<p class="page-title">
					Vážený zákazník, patríte k naším významným zákazníkom.</p>
				<p>
					Prosím, kontaktujte prideleného reprezentanta alebo linku 0800 123 500.</p>
			</div>
		</div>
	</div>
</section>
<section class="standard-prolong single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-standard-prolong-step1">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-standard-prolong-step2">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-standard-prolong-step3">
				&nbsp;
			</div>
		</div>
		<div class="board-holder bh_normal">
			<div class="board">
				<h3 class="page-title margin_bottom20">
					ÁNO, MÁTE NÁROK NA NOVÚ PONUKU!</h3>
				<div class="prod-detail flex-holder">
					<div class="prod-img-lightbox prod-img-holder">
						<img alt="" class="prod-img" src=""/>
						<br>
						<a class="more-info-lightbox" href="#">Viac info</a></div>
					<div class="prod-info tl">
						<img alt="" class="ec-standard-prolong" src="../assets/img/ano_ec-zlava20.png"/>

						<p class="our-tip">
							Náš tip:</p>
						<p class="prod-title">
							&nbsp;</p>
						<p class="main-feat">
						<ul class="pi__lightbox inline-block" style="margin-left: 0;">
							<li>viac dát ako kedykoľvek predtým,</li>
							<br>
							<li>dáta, ktoré neminiete, sa zadarmo prenesú,</li>
							<br>
							<li>volania a SMS bez omedzení.</li>
							<br>
							<li>extra dáta navyše pri kúpe cez web až do 1 GB</li>
						</ul>
						&nbsp;</p>
						<div class="button-holder">
							<a class="btn btn-buy btn-primary" href="#">CHCEM TENTO MOBIL</a><a class="btn btn-secondary btn-choose-other" href="#">VYBRAŤ INÝ MOBIL</a>
						</div>
						<a class="link link_blue cmb__prolong open_cmb" href="#">Poraďte mi s ponukou</a></div>
				</div>

			</div>

			<div class="benefit-holder">
				<h3 class="page-title page-title_dark">
					EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
				<div class="flex-holder justify-center">
					<!-- <div class="benefit__item">
						<img alt="" src="../assets/img/ico-happy_50.png" />
						<p class="benefit__title">
							2 mobily za cenu<br />
							jedného</p>
					</div> -->
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-1.png"/>
						<p class="benefit__title">
							zľava na mobil až 20 €<br/>
							pri kúpe cez web</p>
					</div>
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-3.png"/>
						<p class="benefit__title">
							doručenie kuriérom<br/>
							zadarmo</p>
					</div>
					<div class="benefit__item" style="display: none">
						<img alt="" src="../assets/img/micon-4.png"/>
						<p class="benefit__title">
							možnosť osobného<br/>
							prevzatia na pobočke</p>
					</div>

					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-2.png"/>
						<p class="benefit__title">
							prvých 14 dní bez<br/>
							záväzkov</p>
					</div>

				</div>
			</div>

			<div class="row najlepsi">
				<hr>
				<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
				<div>
					Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
				</div>
				<ul class="pi__lightbox inline-block">
					<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
					<br>
					<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
					<br>
					<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
				</ul>
			</div>

			<div class="board board__lightbox">
				<div class="prod-detail flex-holder">
					<div class="prod-img-holder">
						<img alt="" class="prod-img" src=""/></div>
					<div class="prod-info pi__lightbox tl">
						<h4 class="pi__title">
							&nbsp;</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>

<section class="number-transfer single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-number-transfer-step1">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-number-transfer-step2">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-number-transfer-step3">
				&nbsp;
			</div>
		</div>

		<div class="board-holder bh_medium">
			<div class="board">
				<img alt="" class="ec-number-transfer" src="../assets/img/ano_ec-zlava20.png"/>

				<!--<img src="../assets/img/ec-batery.png" alt="" class="ec-number-transfer">-->

				<h3 class="page-title margin_bottom20">
					PRENESTE SI ČÍSLO K NÁM
					<br/>a získate:
				</h3>

				<ul class="pi__lightbox inline-block" style="margin-left: 0;">
					<li>najrýchlejšiu 4G sieť na Slovensku,</li>
					<br>
					<li><span class="magenta">viac dát ako kedykoľvek predtým</span> od paušálu ÁNO L,</li>
					<br>
					<li><span class="magenta">volania a SMS bez obmedzení</span> do všetkých sietí od paušálu ÁNO M,</li>
					<br>
					<li>automatický <span class="magenta">bezplatný prenos dát</span>, ktoré neminiete,</li>
					<br>
					<li>paušály už od 10 € mesačne.</li>
					<br>
					<li>extra dáta navyše pri kúpe cez web až do 1 GB</li>
				</ul>

				<div class="button-holder">
					<a class="btn btn-primary" href="/volania/mam-zaujem/prenos-cisla/formular/?kampan=mobilkazdyrok" id="number-transfer-link">PRENIESŤ ČÍSLO + NOVÝ MOBIL</a>
					<a class="btn btn-secondary" href="/volania/prenos-cisla?kampan=mobilkazdyrok">POZRIEŤ VIAC INFO</a></div>
				<a class="link link_blue cmb__prenos open_cmb" href="#">Poraďte mi s ponukou</a>
			</div>

			<div class="benefit-holder">
				<h3 class="page-title page-title_dark">
					EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
				<div class="flex-holder justify-center">
					<!-- <div class="benefit__item">
						<img alt="" src="../assets/img/ico-happy_50.png" />
						<p class="benefit__title">
							2 mobily za cenu<br />
							jedného</p>
					</div> -->
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-1.png"/>
						<p class="benefit__title">
							zľava na mobil až 20 €<br/>
							pri kúpe cez web</p>
					</div>
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-3.png"/>
						<p class="benefit__title">
							doručenie kuriérom<br/>
							zadarmo</p>
					</div>
					<div class="benefit__item" style="display: none">
						<img alt="" src="../assets/img/micon-4.png"/>
						<p class="benefit__title">
							možnosť osobného<br/>
							prevzatia na pobočke</p>
					</div>

					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-2.png"/>
						<p class="benefit__title">
							prvých 14 dní bez<br/>
							záväzkov</p>
					</div>

				</div>
			</div>

			<div class="row najlepsi">
				<hr>
				<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
				<div>
					Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
				</div>
				<ul class="pi__lightbox inline-block">
					<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
					<br>
					<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
					<br>
					<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
				</ul>
			</div>

		</div>

	</div>
</section>

<section class="no-prolong single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-number-transfer-step1">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-number-transfer-step2">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-number-transfer-step3">
				&nbsp;
			</div>
		</div>
		<div class="board-holder bh_medium">
			<div class="board">
				<p>
					Ľutujeme, aktuálne nemáte nárok na nový mobil k svojmu paušálu.</p>
				<h3 class="page-title margin_bottom20">
					Môžeme vám však ponúknuť:</h3>
				<div class="no-prolong-offer">

					<div class="col-md-6 col-xs-12 npo__item">
						<img alt="" src="../assets/img/ico-mag-circle-phone.png"/>
						<p>
							Nový paušál ÁNO s mobilom už <br>od 1 € mesačne.</p>
						<a class="btn btn_outline" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw?kampan=mobilkazdyrok">POZRIEŤ MOBILY</a>
					</div>

					<div class="col-md-6 col-xs-12 npo__item">
						<img alt="" src="../assets/img/ico-mag-circle-smartphone.png"/>
						<p>Máte blízkych v Telekome? So&nbsp;skupinou <br>Magenta 1 získate spoločne viac!</p>
						<a class="btn btn_outline" href="/magenta1?kampan=mobilkazdyrok">PREJSŤ NA PONUKU</a>
					</div>

					<div class="npo__item" style="display: none">
						<img alt="" src="../assets/img/ico-mag-circle-magenta1.png"/>
						<p>
							Kúpte si Easy cez web a vyhrajte iPhone 8 a dáta na rok zadarmo!</p>
						<a class="btn btn_outline" href="/volania/easy#sec-4">VIAC INFORMÁCIÍ</a>
					</div>
				</div>
				<a class="link link_blue cmb__prenos open_cmb" href="#">Poraďte mi s ponukou</a>

			</div>

			<div class="benefit-holder">
				<h3 class="page-title page-title_dark">
					EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
				<div class="flex-holder justify-center">
					<!-- <div class="benefit__item">
						<img alt="" src="../assets/img/ico-happy_50.png" />
						<p class="benefit__title">
							2 mobily za cenu<br />
							jedného</p>
					</div> -->
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-1.png"/>
						<p class="benefit__title">
							zľava na mobil až 20 €<br/>
							pri kúpe cez web</p>
					</div>
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-3.png"/>
						<p class="benefit__title">
							doručenie kuriérom<br/>
							zadarmo</p>
					</div>
					<div class="benefit__item" style="display: none">
						<img alt="" src="../assets/img/micon-4.png"/>
						<p class="benefit__title">
							možnosť osobného<br/>
							prevzatia na pobočke</p>
					</div>

					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-2.png"/>
						<p class="benefit__title">
							prvých 14 dní bez<br/>
							záväzkov</p>
					</div>

				</div>
			</div>

			<div class="row najlepsi">
				<hr>
				<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
				<div>
					Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
				</div>
				<ul class="pi__lightbox inline-block">
					<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
					<br>
					<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
					<br>
					<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
				</ul>
			</div>

		</div>

	</div>
</section>

<section class="easy-prolong single-col content-page tc">
	<div class="fixed-column">

		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-standard-prolong-step1">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-standard-prolong-step2">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-standard-prolong-step3">
				&nbsp;
			</div>
		</div>

		<div class="board-holder bh_medium">

			<div class="board">
				<p class="page-title">
					PREJDI Z EASY KARTY<br/>
					NA VÝHODNEJŠÍ PAUŠÁL ÁNO
				</p>
				<span class="easy-detail">
					<img alt="" class="ec-easy" src="../assets/img/ano_ec-zlava20.png"/>
				</span>

				<div class="easy-pausal">
					<p class="detail-title">
						<span class="easy-detail easy-detail-example"><b>Napríklad na:</b></span>
					</p>

					<div class="detail-pausal-row">
						<div class="col-xs-6 no-padding detail-pausal text-left">Paušál ÁNO M</div>
						<div class="col-xs-6 no-padding detail-pausal text-right">20 € | mes.</div>
					</div>

					<div class="easy-detail-desc">
					<span class="easy-detail">
					<ul class="pi__lightbox inline-block" style="margin-left: 0;">
						<li>500 MB dát v mobile</li>
						<br>
						<li>neobmedzené volania a SMS do všetkých sietí v SR</li>
						<br>
						<li>nový mobil už od 1 € mesačne</li>
						<br>
						<li>extra dáta navyše pri kúpe cez web až do 1 GB</li>
					</ul>
					</span>

					</div>
				</div>

				<div class="button-holder">
					<span class="easy-detail"><a class="btn btn-primary" href="/mob/objednavka/-/scenario/e-shop/pausal?vyberrp=m&vybersl=migration_easy&kampan=mobilkazdyrok">CHCEM TENTO PAUŠÁL</a>
						<a class="btn btn-secondary" href="/volania/pausal?kampan=mobilkazdyrok">POZRIEŤ ĎALŠIE PAUŠÁLY</a> </span>
				</div>
				<span class="easy-detail"><a class="link link_blue cmb__easy open_cmb" href="#">Poraďte mi s ponukou</a> </span>
			</div>

			<div class="benefit-holder">
				<h3 class="page-title page-title_dark">
					EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
				<div class="flex-holder justify-center">
					<!-- <div class="benefit__item">
						<img alt="" src="../assets/img/ico-happy_50.png" />
						<p class="benefit__title">
							2 mobily za cenu<br />
							jedného</p>
					</div> -->
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-1.png"/>
						<p class="benefit__title">
							zľava na mobil až 20 €<br/>
							pri kúpe cez web</p>
					</div>
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-3.png"/>
						<p class="benefit__title">
							doručenie kuriérom<br/>
							zadarmo</p>
					</div>
					<div class="benefit__item" style="display: none">
						<img alt="" src="../assets/img/micon-4.png"/>
						<p class="benefit__title">
							možnosť osobného<br/>
							prevzatia na pobočke</p>
					</div>

					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-2.png"/>
						<p class="benefit__title">
							prvých 14 dní bez<br/>
							záväzkov</p>
					</div>

				</div>
			</div>

			<div class="row najlepsi">
				<hr>
				<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
				<div>
					Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
				</div>
				<ul class="pi__lightbox inline-block">
					<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
					<br>
					<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
					<br>
					<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
				</ul>
			</div>

		</div>

		<div class="board-holder m-40 board-no-back" style="display: none">
			<div class="board">
				<h3 class="page-title margin_bottom20">
					AJ S EASY MÁTE NÁROK NA NOVÉ MOBILY<br/>
					ZA SUPER CENY!</h3>
				<div class="prod-detail flex-holder">
					<div class="prod-img-lightbox prod-img-holder">
						<img alt="" class="prod-img" src=""/> <a class="more-info-lightbox" href="#">Viac info</a></div>
					<div class="prod-info tl">
						<p class="our-tip">
							Náš tip:</p>
						<p class="prod-title">
							&nbsp;</p>
						<p class="main-feat">
							&nbsp;</p>
						<div class="button-holder">
							<a class="btn btn-primary btn-buy" href="#">CHCEM TENTO MOBIL</a><a class="btn btn-secondary" href="/volania/pausal?kampan=mobilkazdyrok">VYBRAŤ INÝ MOBIL</a>
						</div>
						<a class="link link_blue cmb__easy open_cmb" href="#">Poraďte mi s ponukou</a></div>
				</div>
			</div>
			<div class="board board__lightbox">
				<div class="prod-detail flex-holder">
					<div class="prod-img-holder">
						<img alt="" class="prod-img" src=""/></div>
					<div class="prod-info pi__lightbox tl">
						<h4 class="pi__title">
							&nbsp;</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="standard-prolong-soft-non-hw single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<img alt="" class="ec-standard-prolong-soft-non-hw" src="../assets/img/ano_ec-zlava20.png"/>
				<img alt="" src="../assets/img/bmicon-2.png"/>
				<p class="page-title">
					ÁNO, MÁTE NÁROK NA NOVÚ PONUKU!</p>
				<p>
					Nový mobil si môžete dokúpiť<br/>
					k svojmu existujúcemu mobilnému paušálu ÁNO.</p>
				<p>
					S konkrétnou ponukou vás budeme telefonicky kontaktovať.</p>
				<a class="btn btn-primary open_cmb cmb__spsnh" href="#">KONTAKTUJTE MA</a>
				<div class="error-msg em-content-page">
					&nbsp;
				</div>
			</div>

			<div class="benefit-holder">
				<h3 class="page-title page-title_dark">
					EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
				<div class="flex-holder justify-center">
					<!-- <div class="benefit__item">
						<img alt="" src="../assets/img/ico-happy_50.png" />
						<p class="benefit__title">
							2 mobily za cenu<br />
							jedného</p>
					</div> -->
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-1.png"/>
						<p class="benefit__title">
							zľava na mobil až 20 €<br/>
							pri kúpe cez web</p>
					</div>
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-3.png"/>
						<p class="benefit__title">
							doručenie kuriérom<br/>
							zadarmo</p>
					</div>
					<div class="benefit__item" style="display: none">
						<img alt="" src="../assets/img/micon-4.png"/>
						<p class="benefit__title">
							možnosť osobného<br/>
							prevzatia na pobočke</p>
					</div>

					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-2.png"/>
						<p class="benefit__title">
							prvých 14 dní bez<br/>
							záväzkov</p>
					</div>

				</div>
			</div>

			<div class="row najlepsi">
				<hr>
				<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
				<div>
					Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
				</div>
				<ul class="pi__lightbox inline-block">
					<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
					<br>
					<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
					<br>
					<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
				</ul>
			</div>

		</div>

	</div>
</section>

<section class="standard-prolong-soft-non-hw-thank-you single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<img alt="" src="../assets/img/bmicon-3.png"/>
			<p class="page-title">
				ďakujeme za váš záujem!</p>
			<p>
				Budeme vás kontaktovať do 24 hodín<br/>
				na telefónnom čísle <span class="current-phone-number"></span></p>
			<a class="btn btn-secondary" href="https://www.telekom.sk/?kampan=mobikazdyrok">SPÄŤ NA DOMOVSKÚ STRÁNKU</a></div>
	</div>
</section>
<section class="cant-check single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<p class="page-title">
					Ups, aktuálne sa nám nepodarilo preveriť Vaše údaje. Skúste to prosím neskôr.</p>
				<p>
					V prípade záujmu Vás môžeme kontaktovať telefonicky.</p>
				<a class="btn btn-primary open_cmb cmb__other" href="#">KONTAKTUJTE MA</a></div>
		</div>
	</div>
</section>
<section class="fix-prolong single-col content-page tc">

	<div class="board-holder bh_normal">
		<div class="board">
			<h3 class="page-title margin_bottom20">Vaša zľava</h3>

			<div class="slogan"><div class="slogan-bold">Získajte Magio TV, Magio internet, prípadne Pevnú linku na 12 mesiacov za cenu nižšej služby.</div>

			</div>

			<div class="prod-detail flex-holder">
				<div class="prod-img-lightbox prod-img-holder">
					<img alt="" src="../assets/img/chytry_balik_picture.png"/>
				</div>

				<div class="prod-info tl">

					<div class="main-feat">
						<ul class="pi__lightbox inline-block" style="margin-left: 0;font-size: 18px;">
							<li>Aktivujte si teraz napríklad Magio TV, Magio internet, prípadne Pevnú linku vo variante XL a <span class="bold">12 mesiacov platíte sumu za nižší variant L</span>. </li>
							<br>
							<li>
								Užívajte si až o <span class="bold">40 TV programov viac, až 5 krát rýchlejší internet alebo neobmedzené volania</span> do všetkých mobilných aj pevných sietí na Slovensku.
							</li>
							<br>
						</ul>
					</div>

				</div>

			</div>

			<div class="fix-vyhody">
				<img alt="" src="../assets/img/fix_chb_mkr_picture_1118.png"/>
			</div>

			<div class="fix-order">
				<div class="button-holder">
					<a class="btn btn-buy btn-primary fix-mail" href="#">CHCEM VIAC ZA MENEJ</a>
				</div>
			</div>

		</div>

		<div class="benefit-holder">
			<h3 class="page-title page-title_dark">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
			<div class="flex-holder justify-center">
				<!-- <div class="benefit__item">
					<img alt="" src="../assets/img/ico-happy_50.png" />
					<p class="benefit__title">
						2 mobily za cenu<br />
						jedného</p>
				</div> -->
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-1.png"/>
					<p class="benefit__title">
						zľava na mobil až 20 €<br/>
						pri kúpe cez web</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png"/>
					<p class="benefit__title">
						doručenie kuriérom<br/>
						zadarmo</p>
				</div>
				<div class="benefit__item" style="display: none">
					<img alt="" src="../assets/img/micon-4.png"/>
					<p class="benefit__title">
						možnosť osobného<br/>
						prevzatia na pobočke</p>
				</div>

				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-2.png"/>
					<p class="benefit__title">
						prvých 14 dní bez<br/>
						záväzkov</p>
				</div>

			</div>
		</div>

		<div class="row najlepsi">
			<hr>
			<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
			<div>
				Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
			</div>
			<ul class="pi__lightbox inline-block">
				<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
				<br>
				<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
				<br>
				<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
			</ul>
		</div>

		<div class="board board__lightbox">
			<div class="prod-detail flex-holder">
				<div class="prod-img-holder">
					<img alt="" class="prod-img" src=""/></div>
				<div class="prod-info pi__lightbox tl">
					<h4 class="pi__title">
						&nbsp;</h4>
					<ul>
					</ul>
				</div>
			</div>
		</div>

	</div>

	</div>
</section>


<section class="fix-prolong-thank-you single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<img alt="" src="../assets/img/bmicon-3.png"/>
			<p class="page-title">
				ďakujeme za váš záujem!</p>
			<p>
				Budeme vás kontaktovať do 3 pracovných dní<br/>
				na zadanom telefónnom čísle.</p>
			<a class="btn btn-secondary" href="https://www.telekom.sk/?kampan=mobikazdyrok">SPÄŤ NA DOMOVSKÚ STRÁNKU</a></div>
	</div>
</section>