<section class="number-transfer single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-number-transfer-step1">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-number-transfer-step2">
				&nbsp;
			</div>
			<div class="pgicon tooltip-info info-number-transfer-step3">
				&nbsp;
			</div>
		</div>

		<div class="board-holder bh_medium">
			<div class="board">
				<img alt="" class="ec-number-transfer" src="../assets/img/ano_ec-zlava20.png"/>

				<!--<img src="../assets/img/ec-batery.png" alt="" class="ec-number-transfer">-->

				<h3 class="page-title margin_bottom20">
					PRENESTE SI ČÍSLO K NÁM
					<br/>a získate:
				</h3>

				<ul class="pi__lightbox inline-block" style="margin-left: 0;">
					<li>najrýchlejšiu 4G sieť na Slovensku,</li>
					<br>
					<li><span class="magenta">viac dát ako kedykoľvek predtým</span> od paušálu ÁNO L,</li>
					<br>
					<li><span class="magenta">volania a SMS bez obmedzení</span> do všetkých sietí od paušálu ÁNO M,</li>
					<br>
					<li>automatický <span class="magenta">bezplatný prenos dát</span>, ktoré neminiete,</li>
					<br>
					<li>paušály už od 10 € mesačne.</li>
					<br>
					<li>extra dáta navyše pri kúpe cez web až do 1 GB</li>
				</ul>

				<div class="button-holder">
					<a class="btn btn-primary" href="/volania/mam-zaujem/prenos-cisla/formular/?kampan=mobilkazdyrok" id="number-transfer-link">PRENIESŤ ČÍSLO + NOVÝ MOBIL</a>
					<a class="btn btn-secondary" href="/volania/prenos-cisla?kampan=mobilkazdyrok">POZRIEŤ VIAC INFO</a></div>
				<a class="link link_blue cmb__prenos open_cmb" href="#">Poraďte mi s ponukou</a>
			</div>

			<div class="benefit-holder">
				<h3 class="page-title page-title_dark">
					EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
				<div class="flex-holder justify-center">
					<!-- <div class="benefit__item">
						<img alt="" src="../assets/img/ico-happy_50.png" />
						<p class="benefit__title">
							2 mobily za cenu<br />
							jedného</p>
					</div> -->
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-1.png"/>
						<p class="benefit__title">
							zľava na mobil až 20 €<br/>
							pri kúpe cez web</p>
					</div>
					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-3.png"/>
						<p class="benefit__title">
							doručenie kuriérom<br/>
							zadarmo</p>
					</div>
					<div class="benefit__item" style="display: none">
						<img alt="" src="../assets/img/micon-4.png"/>
						<p class="benefit__title">
							možnosť osobného<br/>
							prevzatia na pobočke</p>
					</div>

					<div class="benefit__item">
						<img alt="" src="../assets/img/micon-2.png"/>
						<p class="benefit__title">
							prvých 14 dní bez<br/>
							záväzkov</p>
					</div>

				</div>
			</div>

			<div class="row najlepsi">
				<hr>
				<img alt="" src="../assets/img/ano_7x-najlepsi.png"/>
				<div>
					Povedzte aj vy áno sieti Telekom, ktorá je najlepšia už siedmykrát po sebe a získate:
				</div>
				<ul class="pi__lightbox inline-block">
					<li>najrýchlejší 4G internet v mobile s pokrytím už 93 % populácie Slovenska,</li>
					<br>
					<li>najlepšiu stabilitu pripojenia k internetu v mestách aj na cestách,</li>
					<br>
					<li>volania v najlepšej možnej kvalite so službou VoLTE</li>
				</ul>
			</div>

		</div>

	</div>
</section>
