<section class="cant-check single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<p class="page-title">
					Ups, aktuálne sa nám nepodarilo preveriť Vaše údaje. Skúste to prosím neskôr.</p>
				<p>
					V prípade záujmu Vás môžeme kontaktovať telefonicky.</p>
				<a class="btn btn-primary open_cmb cmb__other" href="#">KONTAKTUJTE MA</a></div>
		</div>
	</div>
</section>