<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title"><b>MAGENTA 1</b><br/>S OTCOM NA JEDNOTKU<br/>SA O ZÁBAVU NEMUSÍŠ BÁŤ</h1>
        </div>
    </div>
</section>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <div class="col-group">
            <div class="grid-g__col_4 how-to">
                <img src="../assets/img/ico-1.png" alt="Čo je Magenta 1">
                <p class="how-to__title">Čo je skupina Magenta 1?</p>
                <p class="how-to__desc">Magenta 1 je balík služieb pre vás a vašich blízkych, vďaka ktorému všetci získavate viac výhod a šetríte. Namixujte si balík služieb podľa seba: Paušály Happy, Easy karta, Magio TV a internet či pevná linka.</p>
                <a href="#sec-4" class="scroll-to">Viac info</a>
            </div>

            <div class="grid-g__col_4 how-to">
                <img src="../assets/img/ico-2.png" alt="Ako začať">
                <p class="how-to__title">Ako začať</p>
                <p class="how-to__desc">Magentu 1 môžete využit len vy alebo založíte skupinu, do ktorej pozvete svojich blízkych. Čím viac vás bude, tým výhodnejšie ceny získate.</p>
            </div>

            <div class="grid-g__col_4 how-to">
                <img src="../assets/img/ico-3.png" alt="Užívanie výhod">
                <p class="how-to__title">Užívanie výhod</p>
                <p class="how-to__desc">Čím viac služieb využijú členovia skupiny, tým nižšie ceny a viac bezplatných výhod navyše získajú! Napríklad si volajú a esemeskujú neobmedzene, získavajú telefón Samsung Galaxy A3 (2016) so zľavou a VIP starostlivosť.</p>
                <a href="#sec-3" class="scroll-to">Viac info</a>
            </div>
        </div>
        <div class="col-group">
            <div class="grid-g__col_12 how-to-links">
                <a href="/magenta1-skupina" class="button button_lima">ZALOŽIŤ SKUPINU</a>
                <br />
                <a href="#sec-2" class="link scroll-to">Kombinovať služby a zistiť ceny<br /><img src="../assets/img/ico-arrow-down.png" alt="Kombinovať služby a zistiť ceny"></a>
            </div>
        </div>
    </div>
</section>

<section id="sec-2" class="section sec-2 sec-app">
    <div class="fixed-column">
        <h2 class="sec__title">KOMBINUJTE SLUŽBY A ZISTÍTE CENY</h2>
    </div>
</section>

<section id="sec-3" class="section sec-3">
    <div class="fixed-column">
        <h2 class="sec__title">ČO ZÍSKATE S MAGENTA 1?</h2>
        <div class="col-group eqWrap">
            <div class="grid-g__col_6 benefit-box">
                <img src="../assets/img/ico-pipe.png" alt="">
                <p class="bb__maintitle">NIŽŠIE CENY</p>
                <p class="bb__title">Nižšie ceny paušálov Happy a vybraných mobilov</p>
                <p class="bb__desc">Nižšie ceny paušálov získate, ak máte v skupine aspoň 2 služby s úrovňou M alebo vyššou. Môže ísť o služby Chytrého balíka alebo o paušály Happy. Čím viac členov skupina má, tým výhodnejšie ceny získavajú všetci v skupine.
                    <br/>
                    <br/>V skupine môžete získať aj telefón Samsung Galaxy A3 (2016) so zľavou. </p>
                <p class="bb__title margin-top-15">Nižšie ceny za Chytrý balík</p>
                <p class="bb__desc">Čím viac služieb Chytrého balíka máte, tým bude ich cena výhodnejšia!</p>
            </div>
            <div class="grid-g__col_6 benefit-box">
                <img src="../assets/img/ico-pipe.png" alt="">
                <p class="bb__maintitle">SKUPINOVÉ VÝHODY</p>
                <p class="bb__title">Volania z mobilu a SMS navzájom v skupine zadarmo</p>
                <p class="bb__title">Úložisko vo veľkosti 20 GB zadarmo <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                <p class="bb__desc">Uložte si bezpečne svoje dokumenty, fotky či videá s Magenta Cloud až do 5 GB zadarmo</p>
                <a href="http://www.magentajedna.sk" class="link">Prejsť na Magenta Cloud</a>
                <p class="bb__title margin-top-15">Technickú pomoc Pôjdeto zadarmo <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                <p class="bb__desc">S balíkom služieb Pôjde Light získate neobmedzenú technickú pomoc pre všetkých členov skupiny.</p>
                <a href="#" class="link">Prejsť na stránku Pojdeto</a>
            </div>
        </div>
    </div>
</section>

<section id="sec-4" class="section sec-4">
    <div class="fixed-column">
        <h2 class="sec__title">ČASTÉ OTÁZKY</h2>
        <div class="col-group">
            <div class="grid-g__col_12 faq">
                <div class="col-group">
                    <div class="grid-g__col_2">
                        <img src="../assets/img/logo-magenta1.png" alt="" class="faq__img">
                    </div>
                    <div class="grid-g__col_10">
                        <p class="faq__maintitle">Skupina Magenta 1</p>
                        <div class="faq__item">
                            <p class="faq__title">Kedy môžem založiť skupinu? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Skupinu môžete založiť, ak máte mobilný paušál Happy M alebo vyšší. Založením skupiny sa stanete jej správcom a môžete do nej pozvať svojich blízkych.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Môžem pozvať blízkeho do skupiny, aj keď nie som jej správcom? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Nových ľudí možete do skupiny pozvať, len ak ste správca, ktorý ju založil.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Kedy môžem vstúpiť do skupiny? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc faq__desc_red">Vstúpiť do skupiny môžete, ak máte aspoň jednu z týchto služieb: mobilný paušál Happy, Bez záväzkov alebo Easy kartu. Ak máte služby Chytrého balíka: Magio televíziu, Magio internet alebo Pevnú linku, musíte mať súčasne mobilné číslo od Telekomu.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Koľko členov môže mať skupina? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc faq__desc_red">Jedna skupina môže mať maximálne 5 členov s mobilným číslom od Telekomu. V skupine môžu byť až 3 služby pevnej siete od programu M a vyššie patriace niektorému z členov skupiny s mobilným číslom. Môže ísť max. o 1 televíziu (Magio TV alebo Biznis TV), 1 internet (Magio Internet alebo Firemný internet) a 1 pevnú linku (Doma Happy, Biznis linka alebo Magenta Office).</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Aké výhody v skupine môžem získať? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc faq__desc_red">Ak máte v skupine minimálne 2 služby s úrovňou M alebo vyššou (mobilné alebo pevné):
                                <br/> - <b>voláte, esemeskujete a ememeskujete si v rámci skupiny zadarmo</b>
                                <br/> - získavate <b>zvýhodnenú skupinovú cenu na paušál Happy</b>. Čím je v skupine viac členov s úrovňou služby M alebo vyššou, tým je cena paušálu pre každého člena skupiny nižšia.
                                <br/>
                                <br/> Ak si zaradíte do skupiny aspôň jednu službu pevnej siete, získate
                                <br/> - <b>Službu MagentaCLOUD</b>, vďaka ktorej si vzájomne vymieňate fotky a zabávate sa na videách celej rodiny.
                                <br/> - <b>Pôjdeto Light</b>: Neobmedzenú profesionálnu technickú pomoc pre každého člena rodiny.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Volania z mobilu a SMS/MMS zadarmo navzájom má celá skupina? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Áno, volania z mobilu a SMS/MMS zadarmo medzi sebou v rámci skupiny, získajú všetci, ktorí vstúpia do skupiny, aj keď im beží viazanosť.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Kedy získam zvýhodnenú skupinovú cenu mobilného paušálu Happy a mobilu? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Zníženú cenu mobilného paušálu Happy a mobilu získate pri predĺžení alebo podpise novej zmluvy a nevyužili ste inú akciu.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Môžu sa zákazníkom, ktorí už patria do skupiny, znížíť ceny aj počas viazanosti? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Áno, ceny sa znižujú všetkým v skupine bez ohľadu na ich viazanosť vždy, keď do skupiny vstúpi niekto so službou s úrovňou M a vyššou.
                                <br/>
                                <br/>Samozrejme skupinovú zľavu môže získať ten zákazník, ktorý nevyužíva inú zľavu alebo akciu.</p>
                        </div>
                        <!--<div class="faq__item">
                            <p class="faq__title">Kedy získame všetci znížené ceny paušálov Happy? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Znížené ceny paušálov Happy získate všetci v skupine, ak:</p>
                            <ul class="faq__list">
                                <li>do skupiny vstúpi niekto s mobilným paušálom Happy M a vyšším</li>
                                <li>do skupiny vstúpi niekto, ktorý má Magio televíziu, Magio internet alebo Pevnú linku vo verzii M a vyššej</li>
                            </ul>
                        </div>-->
                        <div class="faq__item">
                            <p class="faq__title">Získam výhodnejšiu cenu, aj keď mám nižší mobilný paušál ako je Happy M? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Áno, získate zvýhodnenú cenu, ale ostatným v skupine cenu neznížite.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Musia byť všetky čísla v skupine písané na jedného zákazníka? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Môžu, ale nemusia. V skupine môžu byť zaradené služby písané na zákazníkov s rôznymi adresami, rodnými číslami alebo IČO.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Je to pravda, že môžem v jednej skupine kombinovať domácnosti s malými podnikateľmi? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Áno je to pravda. Služby skupiny môžu patriť rôznym účastníkom (súkromným osobám alebo malým podnikateľom). V prípade zaradenia služieb podnikateľa môžu byť v jednej skupine služby len jedného podnikateľa. Jeden podnikateľ môže mať vytvorenú len 1 skupinu.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Ako často môžem zmeniť skupinu? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">1 mobilné telefónne číslo alebo jedna pevná služba môže zmeniť skupinu max. 2-krát ročne.</p>
                        </div>
                        <div class="faq__item">
                            <p class="faq__title">Budem platiť rovnakú cenu paušálu po celý čas, čo som v skupine? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Zvýhodnená skupinová cena, na ktorú má zákazník v skupine nárok, sa prepočítava na každé zúčtovacie obdobie na základe podmienok splnených počas príslušného zúčtovacieho obdobia (napr. počet služieb v skupine s úrovňou M a vyššou).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-group">
            <div class="grid-g__col_12">
                <a href="/documents/10179/543359/Obchodne_Podmienky_Magenta1.pdf" class="link link_terms">Obchodné podmienky</a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>