<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="hero">
            <div class="headline-wrapper">
                <h2 class="sec__title text-center headline">PREDOBJEDNAJTE SI NOVÝ <br>
                    GALAXY S20+ / S20 ULTRA 5G
                </h2>
                <!-- <img class="img" src="../assets/img/ec_20e.png" alt=""> -->
            </div>
            <p class="subHeadline">A ZÍSKAJTE SLÚCHADLÁ GALAXY BUDS+ ZADARMO</p>
            <p class="offer">K PAUŠÁLOM ÁNO</p>
        </div>

    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <div class="content clearfix">
            <div class="col-md-6 imgwrapper">
                <div class="data">
                    <img class="device" alt="" src="../assets/img/device.jpg">
                    <!-- <a class="ttp" style="cursor: default" href="#">
                        <img class="ttp ec" href="#" id="info-exclusiveoffer" alt="" src="../assets/img/ec_20e.png">
                    </a> -->
                </div>
            </div>
            <div class="col-md-6 textwrapper">
                <p class="text">
                    Predobjednajte si nový Samsung Galaxy S20, S20+ alebo S20 Ultra 5G k paušálom ÁNO a získajte slúchadlá Galaxy Buds+ zadarmo.
                    <br>Navyše vám dáme <b><span class="discount">web zľavu do 20&nbsp;€ na úvodný poplatok</b> za
                    mobil.</span>
                </p>
                <p class="legal">Vyplňte, prosím, nasledovné údaje, budeme vás kontaktovať kvôli potvrdeniu
                    predobjednávky.</p>
                <div class="contact-form-wrapper">
                    <form id="contact-form">

                        <div class="form-group useremail">
                            <label for="useremail" class="input-label">Váš email</label>
                            <input id="useremail" class="input" type="email" name="useremail" />
                        </div>

                        <div class="form-group phoneNum">
                            <label for="phoneNum" class="input-label">Vaše kontaktné telefónne číslo</label>
                            <input id="phoneNum" class="input" type="text" name="phoneNum" maxlength="13" />
                        </div>

                        <div class="form-group checkb">
                            <input class="termscheck" id="termscheck" type="checkbox" name="termscheck">
                            <label for="termscheck">Odoslaním formulára súhlasím s&nbsp;<a href="#"
                                    onclick="event.preventDefault(); $('.termstext').toggle('slow')">Podmienkami</a></label>
                            <p class="termstext" style="font-size: 12px; display: none;">
                                Odoslaním formulára súhlasím, aby ma spoločnosť Slovak Telekom, a.s.
                                kontaktovala s detailnou
                                ponukou produktov a služieb, o ktoré som týmto prejavil(a) záujem, a to
                                telefonicky, prípadne
                                SMS alebo MMS na mnou uvedené telefónne číslo. Potvrdzujem, že som používateľom
                                uvedeného
                                telefónneho čísla a mnou poskytnuté údaje nie sú údajmi tretích osôb. Viac
                                informácií o ochrane
                                osobných údajov nájdete <a style="font-size: 12px"
                                    href="https://www.telekom.sk/wiki/ostatne/osobne-udaje-zakaznik"
                                    target="_blank">tu</a>.
                            </p>
                        </div>

                        <a href="#" class="btn cta sendfrm">PREDOBJEDNAŤ</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-3" class="section sec-3">
    <div class="container-fixed">
        <div class="row" >
            <div class="col-md-2 ico">
                <img src="../assets/img/ico1.png" alt=""> 
            </div>
            <div class="col-md-3 ico">
                <img src="../assets/img/ico2.png" alt=""> 
            </div>
            <div class="col-md-2 ico">
                <img src="../assets/img/ico3.png" alt=""> 
            </div>
            <div class="col-md-3 ico">
                <img src="../assets/img/ico4.png" alt=""> 
            </div>
            <div class="col-md-2 ico">
                <img src="../assets/img/ico5.png" alt=""> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 legal-beats">
            <a href="#" onclick="event.preventDefault(); $('.beatstext').toggle('slow')">Ako získať Galaxy Buds+</a>
            <div class="beatstext" style="font-size: 14px; display: none;">
                <ol>
                    <li>Zákazník si predobjedná Galaxy S20+ alebo S20 Ultra 5G u predajcu, ktorý pochádza z oficiálnej slovenskej distribúcie v období od 11. 2. do 8. 3. 2020.</li>
                    <li>Zákazník, ktorý má záujem o bonus Galaxy Buds+ si musí spraviť aj predregistráciu. Zákazník si spraví predregistráciu na stránke www.samsung-bonus.eu  v období od 11. 2. do 8.3. 2020, neskôr už predregistrácia nebude možná. Zákazník zaregistruje svoje osobné údaje, model predobjednaného zariadenia a predajcu, u ktorého zariadenie predobjednal.</li>
                    <li>Po obdržaní predobjednaného telefónu zákazník dokončí registráciu v období od 10. 3. 2020 do 8. 4. 2020.
                        <br>Pre dokončenie registrácie sú potrebné tieto kroky:
                        <br>&nbsp;&nbsp;-&nbsp;Po spustení telefónu sa zákazník musí prihlásiť do aplikácie Samsung Members (postup ako nainštalovať Samsung Members a získať unikátny kód viď. Nižšie), kde sa mu po spustení aplikácie vygeneruje unikátny kód.
                        <br>&nbsp;&nbsp;-&nbsp;Zákazník sa následne prihlási do svojho vytvoreného konta na stránke www.samsung-bonus.eu, kde zadá unikátny kód z aplikácie Samsung Members, IMEI číslo nového zariadenia a kópiu pokladničného dokladu a svoju registráciu dokončí.
                    </li>
                    <li>Po overení a schválení zaregistrovaných údajov zákazníka mu bude zaslaný bonus – slúchadlá Galaxy Buds+.</li> 
                </ol>
            </div>
            </div>
        </div>

    </div>
</section>

<script type="text/javascript" src="../assets/js/validations.js"></script>
<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>