/* ===============
   CSS FOR MICROSITE
   =============== */


/* HERO SECTION */

#hero {
    background: url(../img/kv_pc.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    min-height: 553px;
}

#content .hero__title {
    color: $magenta;
    font-size: 36px;
    font-weight: bold;
}

#content .hero__list {
    margin-left: 0;
}

#content .hero__list li {
    background: url(../img/ico__sqare.jpg) no-repeat left 7px;
    padding-left: 15px;
}

#content .hero__list li span {
    font-size: 20px;
    color: $white;
}

.hero-prod {
    width: 100%;
}

.hero__logo {
    margin-top: 20px;
    /*width: 100%;*/
}

#content .ec-holder {
    position: relative;
}

#content .ec-holder .hero__ec {
    position: absolute;
    width: 50%;
    top: 0;
    right: 135px;
}

#content .ec-holder .feat__ec {
    width: 40%;
    height: auto;
    position: absolute;
    top: 20px;
    right: 0;
}

@media screen and (min-width: 600px) {
    #content .ec-holder .hero__ec {
        top: 208px;
        right: 290px;
    }
    #content .ec-holder .feat__ec {
        width: 50%;
        max-width: 172px;
    }
}

@media screen and (min-width: 980px) {
    #content .ec-holder .feat__ec {
        max-width: 172px;
        height: auto;
        top: 85px;
        right: 330px;
    }
    .hero__logo {
    margin-top: 20%;
    max-width: 283px;
}
}

@media screen and (max-width: 760px) {
    .hero-prod__holder {
        width: 100%;
        text-align: center;
    }
    .hero-prod {
        float: none;
        margin-top: 80px;
    }
}

.show_pc {
    display: block;
}

.show_mobile {
    display: none;
}

@media screen and (max-width: 767px) {
    .show_pc {
        display: none;
    }
    .show_mobile {
        display: block;
    }
}

.show_web {
    display: block;
}

.show_tablet {
    display: none;
}

@media screen and (max-width: 768px) {
    .show_web {
        display: none;
        
    }
    .show_tablet {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 690px) {
    #content .hero__title {
        font-size: 34px;
    }
    .hero__prod {
        margin-top: 20px;
        max-width: 300px;
    }
    .hero-prod__holder {
        margin-top: 20px;
    }
}


/* PRODUCT SPECS MAIN */

#content .prod-specs_main .section__title {
    margin-bottom: 0;
    padding-bottom: 0;
}

#content .prod-specs_main .prod__subtitle {
    padding-bottom: 30px;
}

#content .prod-specs_main .img__holder {
    text-align: left;
}

#content .img__holder img {
    width: 100%;
}
.spec__list {
	margin-top: 30px;
}
.sec__item {
    margin-bottom: 18px;
}

.spec__value {
    font-size: 1.6em;
    line-height: 1em;
    color: #999999;
}

.spec__param {
    font-size: 1.4em;
    color: #333;
}

@media screen and (max-width: 500px) {
    #content .prod-specs_main .img__holder {
        text-align: center;
    }
    .prod-specs_main .grid__content {
        margin: 15px 0 0 0;
    }
}


/* FEATURE SECTION */

.feat_full-bg {
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
}

#content .feat__title {
    border: 0;
    font-size: 1.78em;
    text-transform: uppercase;
}

#content .feat__desc {
    color: #333;
}

#content .feat__sub-title {
    font-size: 1.4em;
}

#content .feat_full-bg .cta {
    color: $magenta;
    font-size: 1.2em;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}

.feat__item {
    width: 45%;
}

.feat__item_right {
    float: right;
}

.feat__item_left {
    float: left;
}
.spec-img__holder {
	width: 100%;
}
.feat-img__holder {
    width: 45%;
}

.feat-img__holder img {
    max-width: 600px;
}

.feat-img__holder_right {
    float: right;
}

.feat-img__holder_left {
    float: left;
}

@media screen and (max-width: 600px) {
    #content .feat_full-bg {
        background-size: cover;
        background-position-y: 50%;
        background-repeat: no-repeat;
        padding: 20px 0 300px 0;
    }
    .feat__item {
        width: 100%;
        /*text-align: center;*/
    }
    .feat-img__holder {
        width: 100%;
        margin-top: 15px;
    }
}


/* BACKGROUNDS FOR FEATURES */

@media screen and (min-width: 768px) {
    .prod-1.feat-1 .feat__title,
    .prod-1.feat-3 .feat__title,
    .prod-1.feat-5 .feat__title,
    .prod-1.feat-6 .feat__title {
        margin-top: 15%;
    }
    .prod-1.feat-2 .feat__title {
        margin-top: 10%;
    }
}


/* PRODUCT 1 */
#sec-1 {
	padding: 50px 0;
}
.prod-1.feat-1 {
    background-image: url(../img/s7-edge-img-1.jpg);
    min-height: 300px;
}

.prod-1.feat-2 {
    background-image: url(../img/s7-edge-img-2.jpg);
    min-height: 300px;
}

.prod-1.feat-3 {
    background-image: url(../img/s7-edge-img-3.jpg);
    min-height: 299px;
}

.prod-1.feat-4 {
    background-image: url(../img/s7-edge-img-4.jpg);
    min-height: 297px;
}

.prod-1.feat-5 {
    background-image: url(../img/s7-edge-img-5.jpg);
    min-height: 366px;
}

.prod-1.feat-6 {
    background-image: url(../img/s7-edge-img-6.jpg);
    min-height: 346px;
}

@media screen and (max-width: 600px) {
    .prod-1.feat-1 {
        background-image: url(../img/s7-edge-img-1-mob.jpg);
    }
    .prod-1.feat-2 {
        background-image: url(../img/s7-edge-img-2-mob.jpg);
    }
    .prod-1.feat-3 {
        background-image: url(../img/s7-edge-img-3-mob.jpg);
    }
    .prod-1.feat-4 {
        background-image: url(../img/s7-edge-img-4-mob.jpg);
    }
    .prod-1.feat-5 {
        background-image: url(../img/s7-edge-img-5-mob.jpg);
    }
    .prod-1.feat-6 {
        background-image: url(../img/s7-edge-img-6-mob.jpg);
    }
}
