/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

.section {
    padding: 80px 0 60px 0;
}

#content .sec__title {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 430px) {
    #content .sec__title {
        font-size: 28px;
    }
}


/* HERO */

#hero {
    background: url(../img/KV.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 80px 0;
}

#content .hero__title {
    font-size: 38px;
    text-align: center;
}

#content .hero__title b {
    font-weight: 900;
}

@media screen and (max-width: 600px) {
    #hero {
        background-position: 34% 50%;
    }
}


/* SEC-1 */

.how-to {
    text-align: center;
    margin-right: 2%;
    position: relative;
}

.how-to:nth-of-type(2):before,
.how-to:nth-of-type(2):after {
    content: '';
    background: url(../img/ico-arrow.png) no-repeat;
    width: 63px;
    height: 47px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -27px;
}

.how-to:nth-of-type(2):after {
    left: auto;
    right: -16px;
}

.how-to:last-of-type {
    margin-right: 0;
}

#content .how-to__title {
    font-size: 20px;
    color: $magenta;
    margin-bottom: 0;
}

#content .how-to__desc {
    margin-top: 0;
}

.how-to-links {
    text-align: center;
}

#content .how-to-links a {
    display: inline-block;
}

#content .how-to-links .link {
    margin-top: 10px;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .how-to:nth-of-type(2):before,
    .how-to:nth-of-type(2):after {
        display: none;
    }
    #content .how-to {
        width: 100%;
        margin: 0 0 20px 0;
    }
}


/* SEC-2 */

.sec-app {
    background: url(../img/bg-app.jpg) no-repeat 50% 50%;
    padding: 40px 0 50px 0;
}


/* SEC-3 */

.sec-3 {
    padding: 50px 0 70px 0;
    background-color: #f2f2f2;
}

#content .sec-3 p {
    margin: 0;
}

.eqWrap {
    display: flex;
    justify-content: center;
}

.benefit-box {
    background-color: $white;
    max-width: 380px;
    margin-right: 2%;
    text-align: center;
    padding: 30px;
    justify-content: space-between;
}

.benefit-box:last-of-type {
    margin-right: 0;
}

#content p.bb__maintitle {
    font-size: 24px;
    text-transform: uppercase;
    color: $magenta;
    margin: 20px 0;
}

#content p.bb__title {
    font-weight: bold;
    margin-bottom: 10px;
}

#content p.margin-top-15 {
    margin-top: 15px;
}

#content .info {
    color: #4b4b4b;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .eqWrap {
        display: inline-block;
    }
    #content .benefit-box {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
    #content .benefit-box:last-of-type {
        margin: 0;
    }
}

/* SEC-4 */

.faq {
    padding: 35px;
    border: 1px solid #e6e6e6;
}

.faq__img {
    max-width: 125px;
    width: 100%;
}

#content .faq__maintitle {
    color: $magenta;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0;
}

.faq__item {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.faq__item:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#content .faq__title,
#content .faq__desc {
    margin: 0;
}

#content .faq__title {
    color: #007faf;
    text-decoration: underline;
}

#content .faq__desc_red {
    color: #c61818;
}

#content ul.faq__list {
    list-style: square;
    margin: 0 0 0 50px;
}

#content ul.faq__list li {
    font-size: 16px;
}

#content .link_terms {
    display: inline-block;
    margin-top: 20px;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    #content .faq .grid-g__col_2 {
        display: none;
    }
    
    #content .faq .grid-g__col_10 {
        width: 100%;
    }
}