<section id="sec-1" class="section sec-1">
  <div class="container-fixed">
    <div class="hero">
      <div class="headline-wrapper">
        <h2 class="sec__title text-center headline">
          EŠTE VIAC DÁT A MAGIO TELEVÍZIA <br />
          A INTERNET ZA ZVÝHODNENÚ CENU
        </h2>
        <!-- <img class="img" src="../assets/img/ec_20e.png" alt=""> -->
      </div>
      <p class="subHeadline">S MAGENTOU 1</p>
      <p class="offer">EXKLUZÍVNA PONUKA</p>
    </div>
  </div>
</section>

<section id="sec-2" class="section sec-2">
  <div class="container-fixed">
    <div class="content clearfix">
      <div class="col-md-12 imgwrapper">
        <div class="data">
          <div id="personalizedPlayer">
            <!-- video -->
          </div>
        </div>
      </div>
      <div class="row icons-wrapper">
        <div class="col-md-6" style="margin-bottom: 20px;">
          <div class="category-name">S Magio internetom získate:</div>

          <div class="holder">
            <div class="ico-holder">
              <img src="../assets/img/rychlost-stahovania.png" />
            </div>
            <div class="ico-description">
              rýchlosť sťahovania až do 600 Mb/s a odosielania až do
              60&nbsp;Mb/s
            </div>
          </div>
          <div class="holder">
            <div class="ico-holder">
              <img src="../assets/img/internet-bez-obmedzeni.png" />
            </div>
            <div class="ico-description">
              internet bez časových a dátových obmedzení
            </div>
          </div>
          <div class="holder">
            <div class="ico-holder">
              <img src="../assets/img/kvalitna-opticka-siet.png" />
            </div>
            <div class="ico-description">
              pripojenie cez kvalitnú optickú sieť
            </div>
          </div>
        </div>
        <div class="col-md-6" style="margin-bottom: 20px;">
          <div class="category-name">S Magio televíziou získate:</div>

          <div class="holder">
            <div class="ico-holder">
              <img src="../assets/img/az-do-120-tv.png" />
            </div>
            <div class="ico-description">až do 120 TV kanálov</div>
          </div>
          <div class="holder">
            <div class="ico-holder">
              <img src="../assets/img/nahravanie-programov.png" />
            </div>
            <div class="ico-description">
              nahrávanie programov, 7 dňový archív
            </div>
          </div>
          <div class="holder">
            <div class="ico-holder">
              <img src="../assets/img/hbo-tuki.png" />
            </div>
            <div class="ico-description">
              HBO, Ťuki a najlepšie športové kanály
            </div>
          </div>
        </div>
      </div>
      <div class="cta-link">
        <a href="#contact-form">Mám záujem</a>
      </div>
    </div>
  </div>
</section>

<section id="sec-3" class="section sec-3">
  <div class="container-fixed">
    <div class="content-center">
      <div class="col-md-6 textwrapper">
        <p class="text">
          <b
            >Ak máte záujem o túto ponuku, nechajte nám na seba telefónne
            číslo.</b
          >
          Zavoláme vám a všetko vyriešime za vás.
        </p>

        <div class="contact-form-wrapper">
          <form id="contact-form">
            <div class="form-group useremail">
              <label for="useremail" class="input-label">Váš email</label>
              <input
                id="useremail"
                class="input"
                type="email"
                name="useremail"
              />
            </div>

            <div class="form-group phoneNum">
              <label for="phoneNum" class="input-label"
                >Vaše kontaktné telefónne číslo</label
              >
              <input
                id="phoneNum"
                class="input"
                type="text"
                name="phoneNum"
                maxlength="13"
              />
            </div>

            <div class="form-group checkb">
              <input
                class="termscheck"
                id="termscheck"
                type="checkbox"
                name="termscheck"
              />
              <label for="termscheck"
                >Odoslaním formulára súhlasím s&nbsp;<a
                  href="#"
                  onclick="event.preventDefault(); $('.termstext').toggle('slow')"
                  >Podmienkami</a
                ></label
              >
              <p class="termstext" style="font-size: 12px; display: none;">
                Odoslaním formulára súhlasím, aby ma spoločnosť Slovak Telekom,
                a.s. kontaktovala s detailnou ponukou produktov a služieb, o
                ktoré som týmto prejavil(a) záujem, a to telefonicky, prípadne
                SMS alebo MMS na mnou uvedené telefónne číslo. Potvrdzujem, že
                som používateľom uvedeného telefónneho čísla a mnou poskytnuté
                údaje nie sú údajmi tretích osôb. Viac informácií o ochrane
                osobných údajov nájdete
                <a
                  style="font-size: 12px"
                  href="https://www.telekom.sk/wiki/ostatne/osobne-udaje-zakaznik"
                  target="_blank"
                  >tu</a
                >.
              </p>
            </div>
            <a href="#" class="btn cta sendfrm">PREDOBJEDNAŤ</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/validations.js"></script>
<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
