<!-- TABLETY LIST -->
<section class="section sec-6" id="sec-6">
    <!-- tabletListApp -->
    <div id="jsonEditorApp" ng-app="jsonEditorApp">
        <div class="container-fixed">
            <json-editor></json-editor>
        </div>
        <!-- //tabletListApp -->
</section>
<!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
<link href="//ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.css" rel="stylesheet">
<!-- Angular Material Dependencies -->
<script type="text/javascript" src="../assets/app/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-animate.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-aria.js"></script>
<!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
<script src="//ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>
<!-- Scripts -->
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=2"></script>
<!-- App Vendor -->
<script type="text/javascript" src="../assets/app/angular-resource.min.js"></script>
<script type="text/javascript" src="../assets/app/angular-slick.min.js"></script>
<!-- Application Dependencies -->
<script src="../assets/js/api-check.min.js"></script>
<script src="../assets/js/formly.js"></script>
<script src="../assets/js/angular-formly-templates-bootstrap.js"></script>
<!-- App -->
<script type="text/javascript" src="../assets/app/app.module.js"></script>
<script type="text/javascript" src="../assets/app/app.config.js"></script>
<!-- App core -->
<script src="../assets/app/core.module.js"></script>
<!-- App core-filter -->
<script src="../assets/app/app.filters.js"></script>
<!-- App core-notebook -->
<script src="../assets/app/jsonEditor.module.js"></script>
<script src="../assets/app/jsonEditor.component.js?v=2"></script>
<!-- App Data -->
<script src="../assets/app/device.service.js?v=2"></script>

