#wrapper #content {
  padding-bottom: 0; }

#wrapper .portlet-column-content {
  padding: 0; }

#content h1, #content h2, #content h3 {
  text-decoration: none;
  border: 0; }

#content a {
  text-decoration: none;
  font-size: 16px; }

#content p {
  font-size: 16px; }

#content ul {
  list-style: none; }

#wrapper .wbreadcrumbs {
  display: none; }

#content, #content * {
  box-sizing: border-box; }

#content .portlet-content {
  padding: 0; }

#main-content .portlet-column {
  display: block; }

#content .portlet-layout {
  display: block; }

.text_centered {
  text-align: center; }

.text_left {
  text-align: left; }

.text_uc {
  text-transform: uppercase; }

.text_initial {
  text-transform: initial; }

#wrapper .text__link {
  font-size: 18px; }

#wrapper .font_magenta {
  color: #e20074; }

#wrapper .font_black {
  color: #000; }

#wrapper .font_white {
  color: #fff; }

#wrapper .font_mine-shaft {
  color: #262626; }

#wrapper .font_deep-cerulean {
  color: #007faf; }

#wrapper .margin_top20 {
  margin-top: 20px; }

#wrapper .margin_top50 {
  margin-top: 50px; }

#wrapper .margin_bottom20 {
  margin-bottom: 20px; }

#wrapper .mid__icon {
  vertical-align: middle; }

#wrapper .button {
  color: #fff;
  font-size: 16px;
  padding: 0 17px; 
  margin-top: 10px;}

#wrapper .button_font-black {
  color: #000; }

#wrapper .button_cream-can {
  background-color: #f2c957;
  border: 1px solid #f2c957; }

#wrapper .button_lima {
  background-color: #6bb324;
  border: 1px solid #6bb324; }

#nav-sticky ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto; }

#nav-sticky ul li {
  display: inline-block; }

#nav-sticky {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
  text-transform: uppercase; }

#nav-sticky a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active {
  background-color: #fff;
  color: #e20074; }

#nav-sticky li:last-child {
  float: right; }

#nav-sticky li:last-child a {
  color: #7c7c7c; }

@media screen and (max-width: 960px) {
  #nav-sticky ul {
    width: 100%; } }

@media screen and (max-width: 799px) {
  #nav-sticky-sticky-wrapper {
    display: none; } }

.portlet-body .journal-content-article .hero__title {
  color: #fff;
  border: 0;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-top: 0; }

.portlet-body .journal-content-article .hero__desc {
  color: #fff;
  font-size: 20px;
  line-height: 20px; }

.hero__content, .hero__img {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 40px 2%; } }

@media screen and (max-width: 720px) {
  .portlet-body .journal-content-article .hero__title {
    font-size: 30px; } }

@media screen and (max-width: 560px) {
  .hero__content {
    width: 96%;
    margin: 0 2%; } }

.media {
  display: table;
  width: 100%; }

.media__image, .media__body {
  display: table-cell;
  vertical-align: middle; }

.media--top .media__image, .media--top .media__body {
  vertical-align: top; }

.media--bottom .media__image, .media--bottom .media__body {
  vertical-align: bottom; }

.media_v__image, .media_v__body {
  width: 100%; }

.show-mobile {
  display: none; }

.page table {
  color: #000; }

.c-row-table .header-top {
  padding-top: 20px; }

.c-row-table .c-content {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  overflow: hidden;
  padding-bottom: 20px; }

.c-row-table {
  overflow: hidden; }

.table-container {
  width: 495px;
  overflow: hidden; }

.sliding-window {
  width: 1485px;
  overflow: hidden; }

.happy-left, .happy-right {
  position: static; }

.happy-right img {
  position: absolute;
  top: 200px;
  width: 50px;
  height: 50px; }

.happy-left img {
  position: absolute;
  top: 200px;
  width: 50px;
  height: 50px; }

.happy td.row-2-xl2, .happy td.row-2-xl, .happy td.row-2-xxl, .happy td.row-2-profi {
  font-size: 0.8em; }

#happy-boxes h2 {
  padding-left: 0; }

#happy-boxes {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px; }

#happy-boxes .nadpis {
  font-size: 1.6em;
  text-align: center;
  height: 30px;
  display: inline-block;
  color: #E20074;
  padding-bottom: 10px; }

#happy-boxes .cena {
  font-size: 1.6em;
  color: #E20074;
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 0; }

#happy-boxes .box {
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  width: 200px;
  float: left;
  height: 233px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative; }

#happy-boxes .box .desc {
  padding-left: 10px;
  background: url("https://www.telekom.sk/documents/10179/457601/bullet2.png") no-repeat scroll;
  padding-bottom: 10px;
  font-size: 0.9em;
  text-align: left; }

#happy-boxes a {
  text-decoration: none; }

#content .waterbear-theme td {
  padding: 0;
  line-height: 1em;
  font-size: 15px; }

.page .happy-table1, .page .happy-table2, .page .happy-table3, .page .happy-left, .page .happy-right {
  float: left; }

.happy-table1 {
  width: 40px; }

.happy-table2 {
  margin-left: 20px;
  width: 215px;
  table-layout: fixed; }

.page .happy-left {
  margin-left: 30px; }

.page .happy-right {
  margin-left: 30px; }

.happy-table3 {
  margin-left: 110px;
  position: relative; }

table.happy-desc, table.happy {
  border-spacing: 0;
  border-collapse: collapse; }

.happy td {
  width: 165px; }

.happy tr {
  margin: 0; }

.happy th {
  color: #000;
  font-weight: bold; }

.happy-desc td, .happy-desc th {
  border-bottom: 1px solid #d0d0d0;
  text-align: left;
  vertical-align: middle; }

.happy td, .happy th {
  border-bottom: 1px solid #d0d0d0;
  vertical-align: middle;
  text-align: center; }

.happy tr:first-child, .happy tr:last-child {
  border-bottom: none; }

.happy tr, .happy-desc tr {
  height: 60px; }

.happy tr.row-9, .happy-desc tr.row-9 {
  height: 40px; }

td.row-1-head, td.row-2-head, td.row-3-head, td.row-4-head, td.row-5-head, td.row-6-head, td.row-7-head, td.row-8-head, td.row-9-head, td.row-10-head {
  padding-left: 10px; }

.happy tr.header {
  color: #e20074;
  font-size: 1.3em;
  text-transform: uppercase;
  line-height: 1em;
  height: 70px; }

.happy-desc tr.header {
  height: 70px; }

.happy tr {
  line-height: 1em; }

.happy-desc tr.row-9, .happy tr.row-9 {
  color: #1063ad;
  font-weight: bold; }

.happy-desc .row-9-head, .happy .row-9 td, .happy .row-order td {
  border-bottom: none; }

.happy .row-order td {
  padding-bottom: 20px; }

.happy-desc .row-5-head img {
  vertical-align: -5px;
  padding-left: 5px; }

.happy-desc .row-8-head img {
  vertical-align: -5px;
  padding-left: 5px; }

.row-8-head {
  position: relative; }

.magenta-row {
  width: 120px;
  height: 40px;
  background-color: #fce5f1;
  position: absolute;
  right: -120px;
  top: 0; }

.happy tr.row-10 {
  font-size: 1.5em; }

.waterbear-theme .page .row-order a.green {
  background-color: #6bb324;
  border: 1px solid #6bb324; }

.waterbear-theme .page .friend-order a.green {
  background-color: #6bb324;
  border: 1px solid #6bb324; }

.friend-order {
  padding-top: 30px;
  float: right; }

.activeBox {
  background-color: rgba(215, 215, 215, 0.3); }

@media screen and (max-width: 960px) {
  .table-container {
    width: 300px;
    overflow: hidden; }
  .button-order-table {
    bottom: -50px;
    left: 140px; } }

@media screen and (max-width: 800px) {
  .button-order-table {
    bottom: -50px;
    left: -10px; } }

@media screen and (max-width: 770px) {
  .show-mobile {
    display: block; }
  .hide-mobile {
    display: none; } }

@media screen and (max-width: 600px) {
  .table-container {
    width: 170px;
    overflow: hidden; } }

body .fancybox-wrap {
  border: 10px solid #6b6b6b;
  box-shadow: none; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body .fancybox-wrap .fancybox-close {
  top: -28px;
  right: -28px;
  width: 16px;
  height: 16px; }

.tooltip .qtip-content {
  font-size: 14px; }

#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 {
  float: left; }

#content .grid__col_1 {
  width: 8.20793%; }

#content .grid__col_2 {
  width: 16.55267%; }

#content .grid__col_3 {
  width: 24.8974%; }

#content .grid__col_4 {
  width: 33.24213%; }

#content .grid__col_5 {
  width: 41.58687%; }

#content .grid__col_6 {
  width: 49.9316%; }

#content .grid__col_7 {
  width: 58.27633%; }

#content .grid__col_8 {
  width: 66.62107%; }

#content .grid__col_9 {
  width: 74.9658%; }

#content .grid__col_10 {
  width: 83.31053%; }

#content .grid__col_11 {
  width: 91.65527%; }

#content .grid__col_12 {
  width: 100%; }

#content .grid-g__col_1 {
  width: 6.38298%; }

#content .grid-g__col_2 {
  width: 14.89362%; }

#content .grid-g__col_3 {
  width: 23.40426%; }

#content .grid-g__col_4 {
  width: 31.91489%; }

#content .grid-g__col_5 {
  width: 40.42553%; }

#content .grid-g__col_6 {
  width: 48.93617%; }

#content .grid-g__col_7 {
  width: 57.44681%; }

#content .grid-g__col_8 {
  width: 65.95745%; }

#content .grid-g__col_9 {
  width: 74.46809%; }

#content .grid-g__col_10 {
  width: 82.97872%; }

#content .grid-g__col_11 {
  width: 91.48936%; }

#content .grid-g__col_12 {
  width: 100%; }

.row {
  width: 100%;
  float: left; }

.fixed-column {
  width: 940px;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  .fixed-column {
    width: 96%;
    padding: 0 2%; } }

.section {
  width: 100%;
  float: left; }

.col-group:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 35.5em) {
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-sm-5-12, .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-sm-7-12, .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-sm-5-8, .pure-u-sm-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-sm-2-3, .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-sm-3-4, .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-sm-5-6, .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-sm-7-8, .pure-u-sm-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 {
    width: 100%; } }

@media screen and (min-width: 48em) {
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-md-5-12, .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-md-7-12, .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-md-5-8, .pure-u-md-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-md-2-3, .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-md-3-4, .pure-u-md-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-md-5-6, .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-md-7-8, .pure-u-md-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 {
    width: 100%; } }

@media screen and (min-width: 64em) {
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-lg-5-12, .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-lg-7-12, .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-lg-5-8, .pure-u-lg-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-lg-2-3, .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-lg-3-4, .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-lg-5-6, .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-lg-7-8, .pure-u-lg-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 {
    width: 100%; } }

@media screen and (min-width: 80em) {
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-xl-5-12, .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-xl-7-12, .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-xl-5-8, .pure-u-xl-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-xl-2-3, .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-xl-3-4, .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-xl-5-6, .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-xl-7-8, .pure-u-xl-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 {
    width: 100%; } }

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1; }

.bx-wrapper img {
  max-width: 100%; }

.bx-wrapper .bx-viewport {
  left: -5px;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -52px;
  width: 100%; }

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(/documents/10179/946391/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000; }

.bx-wrapper .bx-prev {
  left: -55px;
  background: url(/documents/10179/946391/controls.png) no-repeat 0 -32px; }

.bx-wrapper .bx-next {
  right: -47px;
  background: url(/documents/10179/946391/controls.png) no-repeat -43px -32px; }

@media screen and (max-width: 1065px) {
  .bx-wrapper .bx-prev {
    left: 10px; }
  .bx-wrapper .bx-next {
    right: 20px; } }

.bx-wrapper .bx-prev:hover {
  background-position: 0 0; }

.bx-wrapper .bx-next:hover {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 99; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(/documents/10179/946391/controls.png) -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(/documents/10179/946391/controls.png) -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

#content p {
  font-size: 18px; }

.section {
  padding: 30px 0 80px 0; }

#content .section__title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  line-height: 38px;
  color: #000; }

.tc {
  text-align: center; }

#content .section ul.custom-list li {
  color: #e20074;
  list-style: square;
  list-style-position: inside;
  font-size: 30px;
  line-height: 26px;
  text-indent: -27px;
  margin-left: 27px; }

#content .section ul.custom-list li span {
  color: #000;
  font-size: 18px;
  vertical-align: middle; }

#p_p_id_dynamicForm_WAR_eccadmin_ {
  display: none; }

#hero {
  background: url(/documents/10179/946391/KV.jpg) no-repeat 50% 50%;
  min-height: 350px;
  padding: 60px 2% 50px 2%;
  overflow: hidden; }

#content .hero__title {
  color: #e20074;
  font-size: 2.8em; }

#content .hero__sub-title {
  color: #000;
  font-size: 1.7em;
  font-weight: bold;
  line-height: 1.2em;
  width: 70%;
  border: 0;
  margin: 0;
  padding: 0; }

#content .hero__desc {
  color: #000;
  line-height: 1.2em;
  font-size: 1.2em;
  width: 60%; }

#hero .fixed-column {
  position: relative; }

.logo-one {
  background: url(/documents/10179/946391/logo-one.png) no-repeat;
  width: 169px;
  height: 312px;
  position: absolute;
  top: -40px;
  right: 96px; }

.opener-holder {
  position: relative;
  width: 169px;
  height: 312px; }

#content .video-opener {
  background: url(/documents/10179/946391/ico-play.png) no-repeat;
  width: 66px;
  height: 67px;
  position: relative;
  top: 140px;
  right: 6px;
  cursor: pointer;
  float: right; }

#content .video-opener:hover {
  background: url(/documents/10179/946391/ico-play-h.png) no-repeat;
  width: 66px;
  height: 67px;
  position: relative;
  top: 140px;
  right: 6px;
  cursor: pointer;
  float: right; }

@media screen and (max-width: 800px) {
  #hero {
    font-size: 80%; }
  #content .hero__sub-title {
    width: 60%; } }

@media screen and (max-width: 600px) {
  #hero {
    font-size: 74%; }
  #content .hero__sub-title {
    width: 100%; }
  #content .hero__desc {
    width: 100%; } }

.sec-1 {
  background: #f7f5f6 url(/documents/10179/946391/sec-1-bg.jpg) no-repeat top center; }

.benefit {
  float: left;
  width: 20%;
  text-align: center; }

#content .benefit p {
  margin: 0;
  padding: 0; }

#content .benefit__title {
  margin: 0 0 0 0;
  color: #000000;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  min-height: 62px;
  display: flex;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 780px) {
  #nav-sticky {
    display: none; } }

@media screen and (max-width: 750px) {
  .logo-one {
    display: none; } }

@media screen and (max-width: 600px) {
  .benefit {
    width: 100%;
    margin-bottom: 14px; }
  .benefit:last-of-type {
    margin-bottom: 0; }
  #content .benefit__title {
    min-height: auto; } }

.bx-loading {
  display: none; }

.pricing__cell__row {
  display: inline-block;
  width: 100%; }

.pricing-table {
  text-align: center;
  background: #e5e5e5;
  padding: 25px 0 10px 0; }

.pricing-table:hover {
  background: #eee; }

#content .pricing__title {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900; }

#content .pricing__for {
  margin-bottom: 0;
  font-weight: bold; }

#content .pricing__position {
  margin-top: 0;
  color: #e20074;
  text-transform: uppercase; }

.pricing__cell {
  background: #fff;
  margin: 0 4% 15px 4%;
  padding: 10px 12px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow .5s; }

.link__cell:hover .pricing__cell {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.1); }

#content .pricing__cell__title {
  margin-top: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000; }

.pricing__cell__title img {
  vertical-align: middle; }

#content .pricing__call_1 {
  border-bottom: 1px solid #eaeaea;
  margin: 0 auto;
  width: 75%; }

#content .pricing__call_2 {
  margin-top: 0;
  margin: 0 auto;
  width: 75%; }

#content .pricing__cell__title2 {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  width: 70%;
  margin: 0 auto; }

#content .price {
  color: #e20074;
  font-size: 2em;
  margin-bottom: 0;
  line-height: 1em; }

#content .price sup {
  font-size: 22px; }

#content .price__desc {
  margin-top: 0; }

#content .pricing__data, #content .pricing__cell__sub-title, #content .price__desc {
  font-size: 16px; }

.sec-3 {
  background: #f1f1f1; }

#content .custom-list {
  margin-left: 0; }

#content .sec-3 p {
  color: #000; }

#content .sec-3 img {
  max-width: 498px;
  width: 100%; }

@media screen and (max-width: 600px) {
  #content .sec-3 .grid-g__col_6 {
    width: 100%;
    text-align: center; } }

#tab-1 {
  display: block; }

#tab-2 {
  display: none; }

.tab__holder {
  text-align: center;
  line-height: 0;
  margin-bottom: -1px; }

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block; }

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left;
  background-color: #ededed;
  border: 1px solid #000;
  border-top: 0;
  border-right: 0; }

.tabs-menu li:last-of-type {
  border-right: 1px solid #000; }

.tabs-menu li.current {
  position: relative;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  z-index: 5; }

.tabs-menu li a {
  font-size: 1.2em;
  padding: 0 70px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: inline-block; }

.tabs-menu li a:hover {
  color: #e20074; }

.tabs-menu .current a {
  color: #e20074; }

.tab {
  border-top: 1px solid #000;
  width: 100%; }

.tab__variant {
  display: none; }

.tab__variant.selected {
  display: block; }

.tab-content {
  margin-top: 45px;
  display: none; }

@media screen and (max-width: 750px) {
  #content .tabs-menu {
    width: 100%; }
  .tabs-menu li, .tabs-menu li.current {
    width: 100%;
    border: 1px solid #000;
    border-bottom: 0; }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #000; }
  #content .tabs-menu {
    height: auto; }
  .tab {
    border: 0; }
  .tabs-menu li a {
    padding: 0;
    display: block; } }

#content .sec-4 p {
  color: #000; }

.aditional-services {
  margin-right: 2.1%; }

.as_last {
  margin-right: 0; }

#content .as__title, #content .as__desc {
  margin: 0; }

#content .as__title {
  font-weight: bold;
  font-size: 20px; }

@media screen and (max-width: 600px) {
  #content .sec-4 .aditional-services {
    width: 100%;
    margin-bottom: 10px; }
  #content .sec-4 .as_last {
    margin-bottom: 0; } }

#content .sec-5 {
  background-color: #dcdcdc; }

.call-ico img {
  max-width: 220px;
  width: 100%; }

.form-holder {
  min-height: 221px; }

#content .form-holder input[type="text"] {
  margin: 10px 0px 20px 0;
  width: 246px;
  max-width: 246px; }

.form-box {
  background: #e9eaea;
  padding: 20px; }

.form-col {
  margin-right: 2%; }

.form-col:last-of-type {
  margin-right: 0; }

.form-box.margin_top {
  margin-top: 15px; }

#content .form-box p {
  margin: 0; }

#content .phone-number {
  color: #e20074;
  font-size: 30px; }

#content .form-text {
  font-size: 20px;
  color: #000; }

#content .contact-box {
  padding: 20px;
  text-align: center; }

#content .contact-holder {
  min-height: 180px; }

#content .contact-holder .form-col-btn {
  margin-top: 10%; }

#content .contact__numBig {
  color: #e20074;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 10px;
  font-weight: bold; }

@media screen and (min-width: 750px) {
  #content .contact-holder.border-right {
    border-right: 1px solid #d0d0d0; } }

@media screen and (max-width: 600px) {
  #content .contact-holder.border-right {
    border-bottom: 1px solid #d0d0d0; } }

#content .form-holder ul.dynamicFormFields, #content .form-holder ul.dynamicFormSubFields, #content .form-holder .formFieldRender, #content .form-holder li.dynamicFormItemBox, #content .form-holder .dynamicFormFields, #content .form-holder .formFieldRenderField > span {
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  height: auto; }

.form-holder .pageNameField, #content .form-holder label, #content .form-holder .formFieldValidationResult, #content .formComposition.formCompositionRender.formCompositionRenderDisplay {
  display: none; }

@media screen and (max-width: 750px) {
  #content .grid-g__col_4.form-col {
    width: 49%; }
  #content .grid-g__col_4.form-col:nth-of-type(2) {
    margin-right: 0; }
  #content .call-ico {
    display: none; } }

@media screen and (max-width: 600px) {
  #content .grid-g__col_4.form-col {
    width: 100%;
    margin-right: 0; }
  #content .grid-g__col_4.form-col:nth-of-type(2), #content .grid-g__col_4.form-col:nth-of-type(3) {
    margin-right: 0;
    margin-top: 15px; } }

.prod-slider .slide {
  text-align: center; }

#content .phone-title {
  display: inline-block;
  margin-top: 15px; }

#content .phone-desc {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: #000; }

#content .sec-7 {
  background: #e20074;
  padding: 20px 0; }

#content .dl-holder a span {
  color: #fff;
  font-size: 20px;
  text-decoration: underline; }

#content .dl-holder {
  max-width: 400px;
  width: 100%;
  margin: 0 auto; }

/*# sourceMappingURL=maps/style.css.map */
