/* ===============
   CSS FOR MICROSITE
   =============== */


/* ===============
    GLOBALS FOR ALL
   =============== */

 /* LINK NO REDIRECT */
 #content .link-nordr {
   color: #007faf;
   text-decoration: none;
   display: block;
   & :hover {
     color: #00668d;
     text-decoration: none;
   }
 }
 /* LINK NO REDIRECT END */

#content .section {
    padding: 60px 0;
    font-size: 16px;
}

#content .superscript {
    position: relative; top: -0.5em; font-size: 80%;
}

#content .section__nav {
    padding: 0;
}

#content .section__title {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
}

#content .main_sec {
    display: inline-block;
}

#content .section__title__double {
    margin-bottom: 0;
}

#content .section__subtitle {
    font-size: 2.5em;
    text-transform: uppercase;
    border: 0;
    margin-top: 0;
}

#content .grid__right {
    float: right;
}

.at-a-glance {
    text-align: left;
    font-size: 16px;
    text-indent: -27px;
    /* margin-left: 27px; */
    padding-left: 27px;
}

#content .disclaimer {
    color: #666666;
    font-size: 14px;
}

.img__holder__origin {
  min-height: 260px;
}

@media screen and (max-width: 630px) {
    #content .section {
        font-size: 80%;
        padding: 30px 0;
    }
}

@media screen and (max-width: 500px) {
    #content .section {
        text-align: center;
    }
    ,
    #content .img__holder__origin img {
        margin: 0 auto;
    }
    #content .section__title {
        margin-top: 0;
    }
    #content .cta__wrapper {
        float: none;
    }
}


/* ===============
    GLOBALS NOT FOR ALL
   =============== */


/* STYLE FOR PRODUCTS */

#content .section__hero__title {
    margin-top: 0;
    margin-bottom: 20px;
}

#content .grid__img {
    text-align: center;
}

#content .prod__title {
    font-size: 2em;
    margin-top: 15px;
    color: #333;
    min-height: 70px;
    text-align: center;
}

.prod-list_densed .img__swap {
    margin: 0 auto;
}

#content .prod__subtitle {
    font-size: 1.6em;
    color: $magenta;
    text-transform: uppercase;
}

#content .more-info {
    font-size: 18px;
    margin-left: 20px;
}

.cta__wrapper {
    text-align: center;
    /*float: left;*/
}

.more-info__clearer {
    width: 100%;
    height: 1px;
    display: block;
}

#content .more-info_vertical {
    margin: 10px 0 0 0;
    display: inline-block;
}

@media screen and (max-width: 990px) {
    #content .grid__img_can-swap_2 img {
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    #content .grid__content_2,
    #content .grid__img_can-swap_2 {
        width: 100%;
    }
    #content .grid__img_can-swap_2 img {
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    .img__swap {
        width: 100%;
    }
    .prod-list_densed .img__swap {
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    #content .grid__content {
        width: 100%;
    }
    .img__swap {
        width: auto;
    }
    #content .grid__img {
        display: none;
    }
}

@media screen and (max-width: 360px) {
    .img__swap {
        width: 100%;
    }
}


/* END OF STYLE FOR PRODUCTS */


/* STYLE FOR AT A GLANCE */

#content .at-a-glance {
    margin: 30px 0;
    min-height: 220px;
}

#content .at-a-glance li {
    font-size: 16px;
}

#content .at-a-glance li:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: $magenta;
    margin-right: 10px;
}


/* END OF STYLE FOR AT A GLANCE */


/* ===============
    STYLE FOR SECTIONS
   =============== */


/* HERO SECTION */

.hero {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
}


/* PRODUCT LIST SECTION */

.prod-list {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
    display: inline-block;
    width: 100%;
}


/* PRODUCT SPECS MAIN */

#content .prod-specs_main .section__title {
    margin-bottom: 0;
    padding-bottom: 0;
}

#content .prod-specs_main .prod__subtitle {
    padding-bottom: 30px;
}

#content .prod-specs_main .img__holder {
    text-align: left;
}

#content .prod-specs_main .grid__col_8 {
    padding-left: 2%;
}

.prod-specs_main .img__specs {
    width: 100%;
    max-width: 211px;
}

.sec__item {
    margin-bottom: 18px;
}

.spec__value {
    font-size: 1.6em;
    line-height: 1em;
    color: #999999;
}

.spec__param {
    font-size: 1.4em;
    color: #333;
}

@media screen and (max-width: 500px) {
    #content .prod-specs_main .grid__col_8 {
        width: 100%
    }
    #content .prod-specs_main .grid__col_4 {
        width: 100%;
        padding-left: 0;
    }
    #content .prod-specs_main .img__holder {
        text-align: center;
    }
    .prod-specs_main .grid__content {
        margin: 15px 0 0 0;
    }
}


/* FEATURE SECTION */

.feat_full-bg {
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    min-height: 400px;
}

#content .feat__title {
    border: 0;
    font-size: 2em;
    margin-top: 55px;
    text-transform: uppercase;
}

#content .feat__desc {
    color: #333;
}

#content .mobheading {
  color: #fff;
  margin-top: 55px;
  @media screen and (max-width: 600px) {
    color: $magenta;
  }
}

#content .mobsubheading {
  color: #fff;
  @media screen and (max-width: 600px) {
    color: $magenta;
  }
}

#content .mobtext {
  color: #fff;
  @media screen and (max-width: 600px) {
    color: #333;
  }
}

@media screen and (min-width: 600px) {
#content .web-text-wht{
    color: #fff;
}
}

#content .feat__desc_wht_mob {
        color: #fff;
    }

@media screen and (max-width: 600px) {
    #content .feat__desc_wht_mob {
        color: #333;
    }
}

#content .feat__sub-title {
    font-size: 1.4em;
}

.feat__item {
    width: 45%;
}

.feat__item_right {
    float: right;
}
@media screen and (max-width: 600px) {
  .feat__item_right-XA2,
  .feat__item_left-XA2,
  .feat__item_right-XZ1compact,
  .feat__item_left-XZ1compact {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.feat__item_right-XA2 {
  float: right;
  //margin-right: -180px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.feat__item_left-XA2 {
  float: left;
  //margin-left: -160px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.feat__item_right-XZ1compact {
  float: right;
  //margin-right: -180px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}

.feat__item_left-XZ1compact {
    float: left;
    //margin-left: -160px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px;
}

.feat__item_left {
    float: left;
}

.feat-img__holder {
    width: 45%;
}

.feat-img__holder img {
    width: 100%;
}

.feat-img__holder_right {
    float: right;
}

.feat-img__holder_left {
    float: left;
}

@media screen and (max-width: 600px) {
    #content .feat_full-bg {
        background-size: contain;
        background-position-y: 103%;
        background-repeat: no-repeat;
        padding: 20px 0 300px 0;
    }
    .feat__item {
        width: 100%;
        text-align: center;
    }
    .feat-img__holder {
        width: 100%;
        margin-top: 15px;
    }
    #content .prod-3.feat-4 {
        padding-top: 0 !important;    
    }
    #content .mobtext, #content .feat__desc {
        margin-bottom: 20px;
    }
}


/* BACKGROUNDS FOR FEATURES */


/* PRODUCT 1 */

.prod-1.feat-1 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek1.png);
}

.prod-1.feat-2 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek2.png);
    background-repeat: no-repeat;
}

.prod-1.feat-3 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek3.png);
}

.prod-1.feat-4 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek4.png);
}

.prod-1.feat-5 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek5.png);
}

.prod-1.feat-6 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek6.png);
}

.prod-1.feat-7 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek7.png);
}
.prod-1.feat-8 {
    background-image: url(../img/Xperia+XZ+Premium_spec_sek8.png);
}

@media screen and (max-width: 600px) {
    .prod-1.feat-1 {
        background-image: url(../img/Xperia_X_1_mob.png);
    }
    .prod-1.feat-2 {
        background-image: url(../img/Xperia_Xc_1.png);
    }
    .prod-1.feat-3 {
        background-image: url(../img/Xperia_Xc_2.png);
    }
    .prod-1.feat-4 {
        background-image: url(../img/Xperia_Xc_3.png);
    }
    .prod-1.feat-5 {
        background-image: url(../img/Xperia_Xc_4.png);
    }
    .prod-1.feat-6 {
        background-image: url(../img/Xperia_Xc_5.png);
    }
    .prod-1.feat-7 {
        background-image: url(../img/Xperia_Xc_6.png);
    }
     .prod-1.feat-8 {
        background-image: url(../img/Xperia_Xc_7.png);
    }
}


/* PRODUCT 2 */
.prod-2 {
    min-height: 400px;
}
.prod-2.feat-1 {
    background-image: url(../img/1_true_beauty_2650x400px_reverse.jpg);
}

.prod-2.feat-2 {
    background-image: url(../img/2_latest_camera_2650x400px_reverse.jpg);
}

.prod-2.feat-3 {
    background-image: url(../img/3_smile_2650x400px_reverse.jpg);
}

.prod-2.feat-4 {
    background-image: url(../img/4_super_sharp_2650x400px.jpg);
}

.prod-2.feat-5 {
    background-image: url(../img/5_selfies_2650x400px.jpg);
}
.prod-2.feat-6 {
    background-image: url(../img/6_breakthrough_2650x400px.jpg);
}
.prod-2.feat-7 {
    background-image: url(../img/7_ready_2650x400px.jpg);
}

@media screen and (max-width: 600px) {
    .prod-2.feat-1 {
        background-image: url(../img/xz-premium-feat-1-mob.jpg);
    }
    .prod-2.feat-2 {
        background-image: url(../img/xz-premium-feat-2-mob.jpg);
    }
    .prod-2.feat-3 {
        background-image: url(../img/xz-premium-feat-3-mob.jpg);
    }
    .prod-2.feat-4 {
        background-image: url(../img/xz-premium-feat-4-mob.jpg);
    }
    .prod-2.feat-5 {
        background-image: url(../img/xz-premium-feat-5-mob.jpg);
    }
    .prod-2.feat-6 {
        background-image: url(../img/xz-premium-feat-6-mob.jpg);
    }
    .prod-2.feat-7 {
        background-image: url(../img/xz-premium-feat-7-mob.jpg);
    }
    .prod-2.feat-8 {
        background-image: url(../img/xz-premium-feat-8-mob.jpg);
    }
}


/* PRODUCT 3 - XZ2 */
.prod-3.feat-1 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_1.jpg);
    min-height: 400px;
    background-position-x: 20% !important;
}

.prod-3.feat-2 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_2.jpg);
    min-height: 400px;
    background-position-x: 0 !important;
}

.prod-3.feat-3 {
    //background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_3.jpg);
    min-height: 100px;
    background-position-x: 50% !important;
    padding: 20px 0 !important;
    & .mobheading {
        color: #000 !important;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px !important;
    }
    & .mobtext {
        color: #aaa !important;
    }
    & img {
        width: 200px;
    }
}

.prod-3.feat-4 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_4.jpg);
    min-height: 400px;
    background-position-x: 70% !important;
    padding-top: 130px !important;
}

.prod-3.feat-5 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_5.jpg);
    min-height: 400px;
    background-position-x: 50% !important;
}

.prod-3.feat-6 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_6.jpg);
    min-height: 400px;
    background-position-x: 75% !important;
}

.prod-3.feat-7 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_7.jpg);
    min-height: 400px;
    background-position-x: 55% !important;
}
.prod-3.feat-8 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_8.jpg);
    min-height: 400px;
    background-position-x: 70% !important;
}
.prod-3.feat-9 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_9.jpg);
    min-height: 400px;
    background-position-x: 40% !important;
}
.prod-3.feat-10 {
    background-image: url(../img/Xperia_XZ3_Telekom_microsite_2650x400px_SK_10.jpg);
    min-height: 400px;
    background-position-x: 25% !important;
}
#content .prod-3.feat-11 {
    padding: 20px 0 0 0;
    min-height: 100px;
    & li {
        color: #999;
    }
}

@media screen and (max-width: 900px) {
    .prod-3.feat-1 {
        background-position-x: 45% !important;
    }    
    .prod-3.feat-2 {
        background-position-x: 15% !important;
    } 
    .prod-3.feat-6 {
        background-position-x: 65% !important;
    }
    .prod-3.feat-7 {
        background-position-x: 48% !important;
    }
    .prod-3.feat-10 {
        background-position-x: 40% !important;
    }                     
}

@media screen and (max-width: 768px) {
    .prod-3.feat-1 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_1.jpg);
    }
    .prod-3.feat-2 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_2.jpg);
        background-position-x: 70% !important;
        padding-top: 10px !important;
        & .mobheading {
            margin-top: 10px !important;
        }
    }
    .prod-3.feat-4 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_4.jpg);
    }
    .prod-3.feat-5 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_5.jpg);
    }
    .prod-3.feat-6 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_6.jpg);
    }
    .prod-3.feat-7 {
        //background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_7.jpg);
        background-position-x: 37% !important;
    }
    .prod-3.feat-8 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_8.jpg);
    }
    .prod-3.feat-9 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_9.jpg);
        background-position-x: 70% !important;
    }
    .prod-3.feat-10 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_10.jpg);
    }            
}
@media screen and (max-width: 600px) {
    .prod-3.feat-7 {
        background-image: url(../img/Xperia_XZ3_Telekom_microsite_760x400px_SK_7.jpg);
     }
}

/* PRODUCT 4 */

#sec-4 .feat-list__grid {
    text-align: center;
}

.prod-4.feat-1 {
    background-image: url(../img/l1-feat-1.jpg);
}

.prod-4.feat-2 {
    background-image: url(../img/l1-feat-2.jpg);
}

.prod-4.feat-3 {
    background-image: url(../img/l1-feat-3.jpg);
}

.prod-4.feat-4 {
    background-image: url(../img/l1-feat-4.jpg);
}

.prod-4.feat-5 {
    background-image: url(../img/l1-feat-5.jpg);
}

.prod-4.feat-6 {
    background-image: url(../img/l1-feat-6.jpg);
}

.prod-4.feat-7 {
    background-image: url(../img/l1-feat-7.jpg);
}

.prod-4.feat-8 {
    background-image: url(../img/l1-feat-8.jpg);
}

@media screen and (max-width: 600px) {
    .prod-4.feat-1 {
        background-image: url(../img/l1-feat-1-mob.jpg);
    }
    .prod-4.feat-2 {
        background-image: url(../img/l1-feat-2-mob.jpg);
    }
    .prod-4.feat-3 {
        background-image: url(../img/l1-feat-3-mob.jpg);
    }
    .prod-4.feat-4 {
        background-image: url(../img/l1-feat-4-mob.jpg);
    }
    .prod-4.feat-5 {
        background-image: url(../img/l1-feat-5-mob.jpg);
    }

    .prod-4.feat-6 {
        background-image: url(../img/l1-feat-6-mob.jpg);
    }

    .prod-4.feat-7 {
        background-image: url(../img/l1-feat-7-mob.jpg);
    }

    .prod-4.feat-8 {
        background-image: url(../img/l1-feat-8-mob.jpg);
    }
}

/* PRODUCT 5  Xperia XA2 */

#sec-5 .feat-list__grid {
    text-align: center;
}

.prod-5.feat-1 {
    background-image: url(../img/xa2-feat-1.jpeg);
}

.prod-5.feat-2 {
    background-image: url(../img/xa2-feat-2.jpeg);
}

.prod-5.feat-3 {
    background-image: url(../img/xa2-feat-3.jpeg);
}

.prod-5.feat-4 {
    background-image: url(../img/xa2-feat-4.jpeg);
}

.prod-5.feat-5 {
    background-image: url(../img/xa2-feat-5.jpeg);
}

.prod-5.feat-6 {
    background-image: url(../img/xa2-feat-6.jpeg);
}

@media screen and (max-width: 768px) {
    .prod-5.feat-1 {
        background-image: url(../img/xa2-feat-1-mob.jpg);
    }
    .prod-5.feat-2 {
        background-image: url(../img/xa2-feat-2-mob.jpg);
    }
    .prod-5.feat-3 {
        background-image: url(../img/xa2-feat-3-mob.jpg);
    }
    .prod-5.feat-4 {
        background-image: url(../img/xa2-feat-4-mob.jpg);
    }
    .prod-5.feat-5 {
        background-image: url(../img/xa2-feat-5-mob.jpg);
    }
    .prod-5.feat-6 {
        background-image: url(../img/xa2-feat-6-mob.jpg);
    }
}

/* PRODUCT 5  Xperia L2 */

#sec-6 .feat-list__grid {
    text-align: center;
}

#content .prod-6 {
    & .feat__item {
        padding: 20px 20px;
        & .feat__title {
            margin-top: 15px;
            padding: 0;
        }
        & h2, h4, p {
            color: #000;
        }
    }
    &.feat-4, &.feat-6, &.feat-7 {
        & h2, h4, p {
            color: #fff;
        }
    }
    &.feat-1 {
        background: url(../img/l2_Telekom_microsite_2650x400px_SK_1.jpg) no-repeat 50% 50%;
        padding: 140px 0;
        & .feat__item {
            background-color: #fff;
        }
    }
    &.feat-2 {
        background: url(../img/l2_Telekom_microsite_2650x400px_SK_2.jpg) no-repeat 85% 50%;
        padding: 80px 0;
    }
    &.feat-3 {
        background: url(../img/l2_Telekom_microsite_2650x400px_SK_3.jpg) no-repeat 35% 50%;
        padding: 70px 0;
    }
    &.feat-4 {
        background: url(../img/l2_Telekom_microsite_2650x400px_SK_4.jpg) no-repeat 50% 50%;
        padding: 50px 0;
    }
    &.feat-5 {
        background: url(../img/l2_Telekom_microsite_2650x400px_SK_5.jpg) no-repeat 20% 50%;
        padding: 90px 0;
    }
    &.feat-6 {
        background: url(../img/l2_Telekom_microsite_2650x400px_SK_6.jpg) no-repeat 50% 50%;
        padding: 90px 0;
    }
    &.feat-7 {
        background: url(../img/l2_Telekom_microsite_2650x400px_SK_7.jpg) no-repeat 50% 50%;
        padding: 90px 0;
    }                    
    @media screen and (max-width: 768px) {
        & .feat__item {
            width: 100%;
            text-align: center;
        }
        & h2, h4 {
            color: $magenta !important;
        }
        & p {
            color: #000 !important;
        }        
        &.feat-1 {
            background: url(../img/l2_Telekom_microsite_760x400px_SK_1.jpg) no-repeat 50% 100%;
            padding-top: 20px;
            padding-bottom: 400px;
        }
        &.feat-2 {
            background: url(../img/l2_Telekom_microsite_480x400px_SK_2.jpg) no-repeat 50% 100%;
            padding-top: 20px;
            padding-bottom: 400px;
        }
        &.feat-3 {
            background: url(../img/l2_Telekom_microsite_760x400px_SK_3.jpg) no-repeat 50% 100%;
            padding-top: 20px;
            padding-bottom: 400px;
        }
        &.feat-4 {
            background: url(../img/l2_Telekom_microsite_760x400px_SK_4.jpg) no-repeat 50% 100%;
            padding-top: 20px;
            padding-bottom: 400px;
        }
        &.feat-5 {
            background: url(../img/l2_Telekom_microsite_760x400px_SK_5.jpg) no-repeat 50% 100%;
            padding-top: 20px;
            padding-bottom: 360px;
        }
        &.feat-6 {
            background: url(../img/l2_Telekom_microsite_760x400px_SK_6.jpg) no-repeat 50% 100%;
            padding-top: 20px;
            padding-bottom: 400px;
        }
        &.feat-7 {
            background: url(../img/l2_Telekom_microsite_760x400px_SK_7.jpg) no-repeat 50% 100%;
            padding-top: 20px;
            padding-bottom: 400px;
        }        
    }
}


/* FEAT LIST */

.feat-list {
    text-align: center;
}

.feat-list__grid {
    padding: 0 1%;
}

#content .feat-list__title {
    font-size: 22px;
    margin-top: 15px;
}

@media screen and (max-width: 700px) {
    #content .feat-list__grid {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px auto;
        float: none;
    }
}


/* INFO STRIP */

#content .info__strip {
    background: #ededed;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
}

#content .info__strip__title {
    display: inline;
    font-size: 22px;
    color: #333;
    text-transform: uppercase;
    margin-right: 20px;
}


/* PRODUCT NAV */

#content .product__nav {
    background: #ededed;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
    text-align: inherit;
    z-index: 20;
    position: relative;
    display: inline-block;
    width: 100%;
}

#content .product__nav_mobile {
    left: 0;
}

#content .product__nav img {
    width: 20px;
    float: right;
}

#content .product__nav_link {
    margin-left: 5px;
    color: $black;
}

.menu__link__content {
    display: inline;
}

#content .scroll-to.active {
    color: $magenta;
    font-weight: 500;
    font-size: 22px;
}

#content .product__nav_link,
#content .menu a {
    font-size: 22px;
    text-transform: uppercase;
}

#content .menu a {
    display: block;
    height: 49px;
}

.product__nav .menu .link__text {
    margin: 14px 14px 0 0;
    display: inline-block;
}

#content .product__nav .menu ul {
    padding: 0;
    margin: 0;
}

.product__nav .menu ul li {
    display: inline-block;
    margin: 4px 14px 0 0;
}

.product__nav .menuIcon {
    display: none;
}

.product__nav .menuIcon a {}

.product__nav .menuIcon a img {
    vertical-align: middle;
}

@media only screen and (max-width: 870px) {
    .product__nav .menu ul li {
        width: 100%;
        margin: 4px 0 0 0;
    }
    .product__nav .menu .link__text {
        margin: 14px 0 0 57px;
    }
    .product__nav .menu {
        max-height: 0;
        overflow: hidden;
        float: none;
        width: 100%;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
    .product__nav .menu.menuOpen {
        max-height: 1000px;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
    .product__nav .menuIcon {
        display: inline-block;
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    #content .section .product__nav {
        text-align: left;
    }
}


/* ICO */

#nav-icon {
    width: 50px;
    height: 26px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 11px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon div {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #959595;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon div:nth-child(even) {
    left: 50%;
}

#nav-icon div:nth-child(odd) {
    left: 0px;
}

#nav-icon div:nth-child(1),
#nav-icon div:nth-child(2) {
    top: 0px;
}

#nav-icon div:nth-child(3),
#nav-icon div:nth-child(4) {
    top: 10px;
}

#nav-icon div:nth-child(5),
#nav-icon div:nth-child(6) {
    top: 20px;
}

#nav-icon.open div:nth-child(1),
#nav-icon.open div:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open div:nth-child(2),
#nav-icon.open div:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open div:nth-child(1) {
    left: 5px;
    top: 0px;
}

#nav-icon.open div:nth-child(2) {
    left: calc(50% - 5px);
    top: 0px;
}

#nav-icon.open div:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon.open div:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon.open div:nth-child(5) {
    left: 5px;
    top: 15px;
}

#nav-icon.open div:nth-child(6) {
    left: calc(50% - 5px);
    top: 15px;
}


/* VIDEO SECTION */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* SCROLL TOP BTN */
#scrollTopBtn {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    cursor: pointer;
    background-image: url('../img/arrow-top.png');
    border: 1px solid #e0e0e0 !important;
    background-color: #ededed;
    background-repeat: no-repeat;
    text-align: center;
    background-position: 50%;
  }