/* MODUL MKR */

.mkr-module-holder {
    //background-color: #262626;
    padding: 10px 20px 20px 20px;
    @media screen and (max-width: 320px) {
      padding: 10px 10px 10px 10px;
    }
}

.box__mkr {
    max-width: 500px;
    margin: 0 auto;
}

#content .big-header {
    text-transform: uppercase;
    font-size: 32px;
}

#content .box__mkr p.box__title,
#content .box__mkr .input-label {
    color: #4b4b4b;
    font-size: 16px;
}

#content .box__mkr p.box__title {
    font-size: 18px;
    line-height: 22px;
    display: block;
    text-align: center;
    margin-bottom: 15px !important;
}

#content .box__mkr .box__link_dark {
    color: #4b4b4b;
    display: inline-block;
    text-decoration: underline;
}

#content .box__mkr .box__btn {
    margin-top: 10px !important;
    width: 100%;
    text-align: center;
}

.box__mkr .box__title {
    margin-bottom: 6px !important;
}

.box__mkr .box__link {
    margin-top: 10px !important;
}

.box__mkr input {
    width: 100%;
    font-size: 16px;
}

.box__mkr .tc {
    width: 100%;
    text-align: center;
}

#content .mkr__input.placeholder {
    color: #a9a9a9;
}

#content p.mkr__error {
    color: red;
    display: none;
    margin-top: 5px;
}

#content .prolong-btn {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #58951c;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
}

#content .prolong-btn:hover {
    background-color: #5e9e20;
    border: 1px solid #4d8319;
}

#content .prolong-btn:active {
    background-color: #65ac20;
    border: 1px solid #58951c;
}

#content .mkr-info {
    text-align: center;
    color: #ccc;
}
