/* ===============
CSS FOR MICROSITE
=============== */

/* GLOBALS */

#content .section {
    padding: 40px 0;
}

#content .sec__title {
    text-align: center;
    text-transform: uppercase;
    font-size: $font-sh;
}

#content .sec__desc {
    max-width: 530px;
    margin: 0 auto;
    text-align: center;
}

.glob-clear {
    float: left;
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 40px;
}

.sec__holder {
    text-align: center;
    margin-bottom: 20px;
}

#content .sec__desc {
    margin-bottom: 0;
}

#content .sec__link {
    margin-top: 0;
}

.qtip-content {
    text-align: left !important;
}

.ttip {
    text-decoration: underline;
    cursor: pointer;
}

.mgo-lightbox {
    display: none;
}

.section .sec__separator {
    margin: 40px 4% 0 4%;
    max-width: 940px;
}

.sec__separator {
    height: 1px;
    width: 92%;
    display: block;
    background-color: #d0d0d0;
    margin: 0 4%;
}

.sec__separator_mob {
    display: none;
}

@media screen and (max-width: 480px) {
    .sec__separator_mob {
        display: block;
    }
}

/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    max-height: 259px;
}

.hero__content {
    text-align: center;
    max-width: 460px;
    position: relative;
}

#content .ec-hero {
    position: absolute;
    right: -145px;
}

#content .hero__title {
    color: #262626;
}

#content .more-info {
    display: inline-block;
    margin-top: 5px;
}

@media screen and (max-width: 560px) {
    #content .ec-hero {
        top: 50px;
        right: 10px;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
        max-height: none;
    }

    #content .ec-hero {
        top: -90px;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 65% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
    }

    #hero .btn {
        margin-top: 60px;
    }
}

/* SEC - 1 */

.item {
    text-align: center;
}

#content .sec-1 {
    padding-bottom: 0;
}

#content .item p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .item .col-md-4:nth-of-type(2) {
        margin: 20px 0;
    }
}

/* SEC - 2 */

#content .sec-2 .sec__title {
    margin-bottom: 0;
    padding-bottom: 5px;
}

#tab-w-go {
    display: block;
}

.sec-2 .tabs-container {
    margin-top: 15px;
}

.box-pricing {
    border: 1px solid #d0d0d0;
    display: inline-block;
    width: 100%;
}

.bp__info-line {
    border-bottom: 1px solid #d0d0d0;
    background-color: #fff6d5;
    padding: 10px 14px;
}

.bp__info-line:after {
    content: "";
    display: table;
    clear: both;
}

#content .tooltip-4 {
    text-decoration: none;
}

#content .bp__headline,
#content .bp__info-vat {
    margin: 0;
    float: right;
}

#content .bp-more-info {
    margin: 0;
}

#content #lightbox-archive {
    text-decoration: none;
}

#content .bp__headline {
    color: #e20074;
    background: url('../img/ico-warn.png') no-repeat left center;
    padding-left: 30px;
    height: 22px;
    line-height: 22px;
    float: left;
}

.bp__content {
    padding: 20px 0;
    display: flex;
}

#content .commitment-label {
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}

#content .choose-method {
    font-size: 14px;
    margin: 0;
}

#content div.radio span.checked:before {
    width: 13px;
    height: 13px;
    top: 5px;
    left: 5px;
}

div.radio span,
div.radio input[type="radio"] {
    width: 25px;
    height: 25px;
}

div.radio {
    margin-right: 6px;
}

.bp__inner-section {
    width: 33.33333333333333%;
    float: left;
    padding: 0 2%;
}

#content .bpis__title {
    font-size: 24px;
    color: #242424;
    margin: 0 0 15px 0;
}

#content .bpis__item {
    margin: 0;
    padding-left: 18px;
    background: url('../img/ico-pipe.png') no-repeat left 6px;
}

.bp__inner-section:nth-child(2) {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

.dp-row {
    display: flex;
    justify-content: space-between;
}

.display-price .first-row {
    border-bottom: 1px solid #ededed;
}

.pricing-box-text-holder {
    display: inline-block;
    text-align: right;
}

#content .pricing-box-text-holder p {
    margin-top: 0;
    margin-bottom: 0;
}

#content .display-price p {
    display: inline-block;
}

.pbth-second-line {
    display: block;
    margin-top: -9px;
}

#content .buy-go-tv {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#content .method-small {
    color: #4b4b4b;
    font-size: 14px;
    line-height: 14px;
}

#content .display-price .action {
    color: #e20074;
    font-size: 14px;
    line-height: 14px;
    display: block;
}

#content .dp-price {
    color: #e20074;
    font-size: 24px;
    margin-left: 5px;
}

#content .heapBox {
    z-index: 0;
}

#content .heapBox .holder, #content .heapBox .handler {
    background-color: #fff;
}

#content .select-label {
    font-size: 14px;
    margin: 0;
}

#heapbox_selectType {
    display: inline-block !important;
}

@media screen and (max-width: 880px) {

    #content .bp__headline {
        height: auto;
    }

    #content .bp__info-vat {
        float: left;
        width: 100%;
        margin: 10px 0;
    }

    .bp__inner-section {
        width: 100%;
        float: left;
        padding: 0 2%;
    }

    .bp__content {
        display: inherit;
        width: 100%;
    }

    .bp__inner-section:nth-child(2) {
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
        padding: 20px 2%;
        margin: 20px 0;
    }
}

/* ZOOM GALLERY */

.gallery {
    position: relative;
}

.zoomWindowContainer div {
    top: -69px !important;
}

.thumbnails {
    float: left;
    padding-right: 10px;
    width: 21%;
}

.full__holder {
    float: left;
    width: 79%;
}

.preview {
    width: 43px;
    height: 53px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.preview img {
    width: 43px;
    height: 32px;
}

.preview:last-child {
    margin-bottom: 0;
}

.zoomLens {
    cursor: zoom-in !important;
}

.full {
    max-width: 240px;
    width: 100%;
    font-size: 12px;
    float: left;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.controlls {
    display: none;
}

@media screen and (max-width: 768px) {
    .indicator {
        background-color: #d0d0d0;
        height: 3px;
        width: 100%;
    }

    .indicator:after{
        content: "";
        display: table;
        clear: both;
    }

    .in__content {
        background-color: $magenta;
        height: 3px;
    }

    #content .controlls a {
        color: #383838;
        font-size: 18px;
    }

    .controlls {
        display: block;
    }

    .control__holder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .control-left {

    }

    #content .img-size {
        display: inline-block;
    }

    .control-right {

    }

    .full__holder {
        text-align: center;
        width: auto;
        float: none;
    }

    .full {
        float: none;
    }

    .thumbnails {
        display: none;
    }

}

/* SEC - 3 */

#tab-4 {
    display: none;
}

.tab__holder {
    max-width: 480px;
    margin: 0 auto;
    border-bottom: 1px solid $alto;
}

.tab {
    border-top: 0;
}

.tabs-menu li a {
    padding: 0 10px;
}

.func__img-holder {
    text-align: center;
}

.func__img-holder img {
    max-width: 404px;
    width: 100%;
}

#content #tab-5 p {
    margin: 0;
}

#content #tab-5 b {
    margin-bottom: 10px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .func__img-holder {
        margin-top: 20px;
    }
}

/* SEC - 4 */

.connection-instructions {
    max-width: 600px;
    margin: 0 auto;
}

.instruction {
    margin-bottom: 20px;
    padding-left: 30px;
}

.instruction:nth-child(1) {
    background: url('../img/ico-num1.png') no-repeat top left;
}

.instruction:nth-child(2) {
    background: url('../img/ico-num2.png') no-repeat top left;
}

.instruction:nth-child(3) {
    background: url('../img/ico-num3.png') no-repeat top left;
}

.instruction:nth-child(4) {
    background: url('../img/ico-num4.png') no-repeat top left;
}

.instruction:after {
    content: "";
    display: table;
    clear: both;
}

#content .instruction-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    display: inline-block;
}

#content .instruction-detail {
    margin-top: 0;
    display: inline-block;
}

.instruction-w-img .instruction-text,
.instruction-w-img .instruction-img {
    float: left;
}

.instruction-w-img .instruction-text {
    width: 60%;
}

.instruction-w-img .instruction-img {
    width: 40%;
}

.instruction-img img {
    margin-left: 20px;
}

@media screen and (max-width: 450px) {
    .instruction-w-img .instruction-text,
    .instruction-w-img .instruction-img {
        width: 100%;
    }

    .instruction-w-img .instruction-img {
        margin-top: 5px;
    }
}

/* SEC - 5 */

.waterbear-theme .spec-table td {
    padding: 5px 0;
}

.page table.spec-table {
    font-size: 16px;
    width: 100%;
}

.page table.spec-table:first-of-type {
    margin-bottom: 40px;
}

.page table.spec-table:nth-of-type(2) {
    margin-bottom: 15px;
}

#content .spec-table th {
    font-weight: bold;
}

.spec-table tr {
    border-bottom: 1px solid #d0d0d0;
}

.spec-table tr.spec-head {
    border-bottom: 1px solid #b2b2b2;
}

.buy-area {
    text-align: center;
    margin-top: 40px;
}
