/* ===============
   CSS FOR MICROSITE
   =============== */

.m-auto {
  margin: 0 auto;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pb-10 {
  padding-bottom: 10px !important;
}
.pb-20 {
  padding-bottom: 20px !important;
}
.pb-30 {
  padding-bottom: 30px !important;
}

.divider {
  border-bottom: 1px #e5e5e5 solid;
}

.magenta {
  color: $magenta !important;
}

/* content */
#sec-1 {
  background-color: #f2f2f2;
  h1 {
    font-size: 36px;
    text-align: left;
    font-weight: bold;
    color: #262626;
  }
  h2 {
    font-size: 28px;
    text-align: left;
    font-weight: bold;
    color: #262626;
    border-bottom: 1px solid #d4d4d4;
  }
  h4 {
    font-size: 18px;
    text-align: left;
    font-weight: bold;
    color: #262626;
    margin-top: 30px;
  }

  .content {
    background-color: #fff;
    margin: 50px auto 50px auto;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    .send-message {
      color: green;
      text-align: center;
      margin: 50px 0;
      padding: 30px 0;
    }
    .textwrapper {
      padding: 50px 50px 10px 50px;
      @media screen and (max-width: 767px) {
        padding: 20px 20px 10px 20px;
      }
      .text {
        font-size: 21px;
        margin-top: 0;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
      .spacer {
        margin-bottom: 5px;
        display: block;
        font-size: 21px;
      }
      .legal {
        margin-top: 20px;
        color: #6c6c6c;
        font-size: 16px;
        line-height: normal;
      }
    }
  }

  /* contact form */
  .contact-form-wrapper {
    padding: 10px 50px 50px 50px;
    margin: 0;
    @media screen and (max-width: 767px) {
      padding: 10px 20px 40px 20px;
    }

    .input {
      width: 100%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .btn {
      text-align: center;
      width: 150px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    .form-group {
      padding-top: 20px;
    }

    .checker {
      height: 30px;
      margin-right: 5px;
      span {
        background-color: #fff !important;
      }
    }
    .checkb {
      margin: 20px 0;
      label {
        padding-top: 6px;
        font-size: 14px;
        display: inline-block;
        a {
          font-size: 14px !important;
        }
      }
    }
    .valid input {
      border: 1px solid green !important;
    }
    .valid span.checked {
      border: 1px solid green !important;
    }
    .error span {
      border: 1px solid #ffcc00 !important;
    }
    .error input {
      border: 1px solid #ffcc00 !important;
    }

    b.error {
      font-size: 16px;
      color: #ffcc00;
      display: block;
      padding-top: 6px;
      min-width: 180px;
    }
    label.error {
      font-size: 16px;
      color: #ffcc00;
      display: block;
      padding-top: 6px;
      min-width: 180px;
    }
    #lock-error,
    #warranty-error,
    #repair-error,
    #replacementDevice-error {
      position: absolute;
      top: -35px;
      left: 0px;
    }
  }
}
