#content .heapBox {
    margin: 0;
}

.heapBox .holder {
    border-radius: 4px 0 0 4px;
}

.heapBox .handler {
    border-radius: 0 4px 4px 0;
}

.heapBox div.heap {
    border-radius: 4px;
    border-top: 1px solid $silver-chalice-dark;
    top: 120%;
}

.heapBox div.heap:before {
    display: none;
}

#content .heapOptions {
    margin: 0;
}

#content .heapBox .holder,
#content .heapBox .handler {
    max-height: 36px;
    background-color: $gallery;
    text-decoration: none;
}

#content .heapBox.open {
    height: 36px;
}

#content .heapBox.open .holder,
#content .heapBox.open .handler {
    background-color: $silver-light;
}

#content .heapBox.open .holder {
    padding: 8px 10px 8px 9px;
}

#content .heapBox .handler:after {
    content: '\f107';
    font-family: FontAwesome;
    color: $mine-shaft;
    border: 0;
    top: 22%;
    right: 20px;
}

#content .heapBox.open .handler:after {
    content: "\f106";
}