/* TABS */

#content .tabs-container ul {
    list-style: none;
}

#content .tabs-container li {
    cursor: pointer;
}

.tab__holder {
    text-align: center;
    line-height: 0;
}
#content .tabs-menu {
    height: 40px;
    clear: both;
    margin: 0;
    display: inline-block;
}
.tabs-menu li {
    height: 40px;
    line-height: 40px;
    float: left;
}
.tabs-menu li.current {
    position: relative;
    border-bottom: 1px solid $alto;
    z-index: 5;
    border-bottom: 4px solid $lima;
}

.tabs-menu li:hover {
    border-bottom: 4px solid $gallery;
}

.tabs-menu li a {
    font-size: 1em;
    padding: 0 40px;
    color: $boulder;
    text-decoration: none;
    display: inline-block;
}
.tabs-menu li a:hover {
    color: $mine-shaft;
}
.tabs-menu .current a {
    color: $lima;
}
.tab {
    border-top: 1px solid $alto;
    width: 100%;
}
.tab__variant {
    display: none;
}
.tab__variant.selected {
    display: block;
}
.tab-content {
    margin-top: 45px;
    display: none;
}
#tab-1,
#tab-4 {
    display: block;
}

@media screen and (max-width: 520px) {
    #content .tabs-menu {
        width: 100%;
    }
    .tabs-menu li:hover {
        border-bottom: 0;
    }
    .tabs-menu li,
    .tabs-menu li.current {
        width: 100%;
        border: 1px solid $alto;
        border-bottom: 0;
    }
    .tabs-menu li:last-of-type {
        border-bottom: 1px solid $alto;
    }
    #content .tabs-menu {
        height: auto;
    }
    .tab {
        border: 0;
    }
    .tabs-menu li a {
        padding: 0;
        display: block;
    }
}