/* ===============
   VARIABLES 
   =============== */

$mine-shaft: #383838;
$boulder: #757575;
$gallery: #ededed;
$silver-chalice: #b2b2b2;
$silver-chalice-dark: #a1a1a1;
$nobel: #b4b4b4;
$nobel-mid: #b6b6b6;
$alto-light: #dedede;
$alto: #dbdbdb;
$alto-mid: #d7d7d7;
$mercury: #e7e7e7;
$silver-light: #cdcdcd;
$silver: #bababa;
$concrete: #f2f2f2;
$white: #ffffff;
$black: #000000;
$lima: #6bb324;
$vida-loca-light: #65ac20;
$vida-loca: #58951c;
$vida-loca-mid: #5e9e20;
$vida-loca-dark: #4d8319;
$rose: #e20074;
$lipstick: #cc0069;
$fresh-eggplant: #9f0052;
$razzmatazz: #db0070;
$deep-cerulean: #007faf;
$deep-cerulean-mid: #017ba9;
$orient: #00668d;
$cornflower-blue: #66afe9;