<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img
											src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img
											src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img
											src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img
											src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img
											src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" />
										Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt=""
											src="../assets/img/ico-right.png" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">

						<p class="bpis__title">
							4K UHD LED TV Philips 50" - 50PUS6704</p>
						<div class="box-device">
							<p class="pricing__title">
								Zobraziť ceny pre:</p>
							<select id="heap">
								<option value="M">Magio TV / Magio internet M</option>
								<option value="L">Magio TV / Magio internet L</option>
								<option value="XL" selected>Magio TV / Magio internet XL</option>
							</select>
							<table class="pricing-table">
								<tbody>
									<tr class="inner-head no-margin">
										<th colspan="2">
											Mesačne:</th>
									</tr>
									<!-- <tr class="no-margin">
										<td>
											Za paušál:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyFeeService" class="feePrice">70,00 €</span>
										</td>
									</tr> -->
									<!-- <tr class="no-margin">
										<td>
											Mesačný doplatok k paušálu:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthylFeeWithMob" class="feePrice">1,00 €</span>
										</td>
									</tr> -->
									<tr class="one-time-payment">
										<td>
											Mesačný doplatok k pevnej službe:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyMagenta1fee" class="feePrice">8,00 €</span>
										</td>
									</tr>
									<!-- <tr class="no-margin text-green">
													<td>
														<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
													<td>
														<span class="feePrice">-5,00 €</span></td>
												</tr>
												<tr class="no-margin">
													<td>
														Doplatok k službe</td>
													<td>
														9,00 €</td>
												</tr> -->
									<tr class="inner-head no-margin">
										<th colspan="2">Jednorazovo pri kúpe:</th>
									</tr>
									<tr class="one-time-payment">
										<td>
											Jednorazovo:</td>
										<td>
											<span id="magentaPrice" class="oneTimeFee">109,00 €</span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Bežná cena:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="regularPrice" class="feePrice"
												style="text-decoration: line-through;">549,00 €</span>
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button"
								href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ K NÁKUPU</a>
						</div>
						<!-- <div class="box-device">
						<p class="pricing__title">
							K Magio internetu <span class="feeType">L</span>:</p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Magio internet <span class="feeType">L</span></td>
									<td>
										<span class="feePrice">15,00 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">49,00 €</span></td>
								</tr>
							</tbody>
						</table>
					</div> -->
						<!-- <div class="tip">
						<p><b>NÁŠ TIP:</b> Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na PREJSŤ K NÁKUPU a skúste kalkulačku služieb.</p>
					</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="togleArrow">
			<a class="toggle-arrow" href="#">Podmienky<span class="arrow-right"></span></a>
			<div class="arrow-content">Ponuka na kúpu televízora a uvádzané akciové ceny platia do 31. 08. 2019, resp.
				do
				vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie a uzavretie Zmluvy
				a/alebo Dodatku na príslušnú službu Magio internet a/alebo Magio Televízia v programe M alebo L alebo XL
				s dobou viazanosti 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu
				zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník môže ponuku využiť len jedenkrát a len na jedno
				zariadenie. Za poskytovanie zvoleného programu služieb sa účtuje mesačný poplatok , ktorý sa skladá z
				dvoch zložiek – základnej za poskytovanie zvoleného programu služieb vo výške v zmysle aktuálnej
				akciovej ponuky a doplnkovej v sume ako je uvedené vyššie pre zvolenú úroveň služby v zmysle príslušného
				akciového Cenníka pre poskytovanie služieb pevnej siete. Doplnková časť poplatku (mesačný doplatok k
				pevnej službe) je Účastníkovi účtovaná mesačne počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a
				kúpnej zmluvy. Poplatok za doručenie zariadenia kuriérom je 5 € s DPH. Ponuka nie je kombinovateľná s
				inými výhodami a akciovými ponukami, ak nebude uvedené inak. Bližšie informácie o službách Magio
				internet a Magio Televízia sú uvedené v príslušnom cenníku pre poskytovanie služieb pevnej siete a/
				alebo ďalej na web stránke. Ceny sú uvádzané s DPH.</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">4K UHD LED televízor Smart TV</p>
								<p class="feat-desc">
									S televízorom Philips rozjasníte každú miestnosť emóciami. Bol navrhnutý tak, aby
									zapadol kdekoľvek. Kvalita obrazu je tak ostrá, že vás úplne pohltí. 4K rozlíšenie
									je jasné a energic-ké. Technológia Ambilight prispôsobí atmosféru pre filmy, hudbu
									alebo videohray.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Ambilight. Preneste emócie mimo obrazovku.</p>
								<p class="feat-desc">
									S funkciou Ambilight od spoločnosti Philips vás filmy a hry viac pohltia. Hudbu bude
									spre-vádzať svetelná šou. Vaša obrazovka bude vyzerať väčšia než je v skutočnosti.
									Inteligentné LED diódy okolo okrajov televízora odrážajú farby na obrazovke na steny
									a do miestnosti v reálnom čase. Získate dokonale vyladené okolité osvetlenie. A to
									je o dôvod viac, prečo milujete svoj televízor.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Dolby Vision a Dolby Atmos. Obraz aj zvuk ako v kine.</p>
								<p class="feat-desc">
									Podpora špičkového zvuku a formátov videa od spoločnosti Dolby zaisťuje HDR obsah s
									neuveriteľne skutočným obrazom a zvukom. Či už pozeráte seriály cez stream, alebo
									ob-sah na diskoch Blu-Ray, budú sa vám páčiť kontrast, jas a farby, ktoré odrážajú
									pôvodné zámery režiséra, ako aj priestorný, zreteľný, detailný a hlboký zvuk.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Podpora formátu HDR10+. Vychutnajte si presne taký obraz, aký si
									režisér predstavoval.</p>
								<p class="feat-desc">
									Televízor Philips je vybavený funkciami, aby využil plný potenciál formátu videa
									HDR10+. Úrovne kontrastu, farieb a jasu sú upravované na každom zábere. Či už
									sledujete obľúbený seriál, alebo nový filmový trhák, tiene budú hlbšie, svetlé
									povrchy žiarivejšie a farby vernej-šie.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.png" /></div>
					</div>
					<!--<div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px; color: #aaa;">* Obrázky sú len ilustračné.</p>
					</div>-->
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<div class="detailed-specification" style="" id="aui_3_4_0_1_483">
							<table class="tbl double" id="aui_3_4_0_1_482">
								<thead id="aui_3_4_0_1_481">
									<tr id="aui_3_4_0_1_480">
										<th colspan="2" id="aui_3_4_0_1_479">Všeobecné parametre</th>
									</tr>
								</thead>
								<tbody id="aui_3_4_0_1_500">
									<tr>
										<td>
											<div> Váha </div>
										</td>
										<td class="paramValue"> 13,4 kg </td>
									</tr>
									<tr id="aui_3_4_0_1_499">
										<td id="aui_3_4_0_1_498">
											<div id="aui_3_4_0_1_497"> Rozmery (výška x šírka x hrúbka) </div>
										</td>
										<td class="paramValue"> 678,8 x 1122,8 x 235,4 mm (so stojanom) </td>
									</tr>
									<tr>
										<th colspan="2">Displej</th>
									</tr>
									<tr>
										<td>
											<div style="padding-left: 10px;"> Uhlopriečka </div>
										</td>
										<td class="paramValue"> 50" </td>
									</tr>
									<tr>
										<td>
											<div style="padding-left: 10px;"> Rozlíšenie </div>
										</td>
										<td class="paramValue"> 3840 x 2160 </td>
									</tr>
									<tr>
										<td>
											<div style="padding-left: 10px;"> Typ displeja </div>
										</td>
										<td class="paramValue"> LED UHD </td>
									</tr>
									<tr>
										<td>
											<div> Farba </div>
										</td>
										<td class="paramValue"> Čierna </td>
									</tr>
									<tr>
										<td>
											<div> Typ </div>
										</td>
										<td class="paramValue"> TV </td>
									</tr>
								</tbody>
							</table>
							<table class="tbl double">
								<thead>
									<tr>
										<th colspan="2">Technické parametre</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div> Operačný systém </div>
										</td>
										<td class="paramValue"> Iný OS </td>
									</tr>
									<tr>
										<td>
											<div> Verzia OS </div>
										</td>
										<td class="paramValue"> OS Saphi </td>
									</tr>
									<tr>
										<th colspan="2">Batéria</th>
									</tr>
								</tbody>
							</table>
							<table class="tbl double">
								<thead>
									<tr>
										<th colspan="2">Telefonovanie, funkcie a multimédiá</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th colspan="2">Fotoaparát</th>
									</tr>
								</tbody>
							</table>
							<table class="tbl double">
								<thead>
									<tr>
										<th colspan="2">Iné</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div> Obsah balenia </div>
										</td>
										<td class="paramValue"> TV, Diaľkové ovládanie, Dve batérie AAA, Sieťový
											napájací kábel, Stručná príručka spustenia, Brožúrka s právnymi a
											bezpečnostnými informáciami, Podstavec na stôl </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>