<!-- HERO -->
<section id="hero">
    <div class="breadcrumb">
        <!-- breadcrumb bg -->
    </div>
    <div class="container-fixed">
        <div class="row">
            <div class="hero__mobile">
                <!-- hero mob -->
                <div class="breadcrumb-mob">
                    <!-- breadcrumb bg -->
                </div>
            </div>
            <div class="hero__content col-md-6 push-md-6">
                <div class="col-md-12">
                    <p class="hero__site-name">Paušály Áno</p>
					<h1 class="hero__title">Nové mobilné paušály&nbsp;Áno</h1>
					<a class="btn btn_hero cta_mag scroll-to" href="#module-plan-chooser">Zobraziť paušály</a>
                    <!-- <p class="hero__desc">
                </p> -->
                </div>
              
                 
            </div>
        </div>
    </div>
</section>

<!-- NAVIGATION -->
<div class="main-navigation" id="nav-sticky-custom">
	<ul class="main-menu">
		<li>
			<a class="scroll-to" href="#module-plan-chooser">SLUŽBY A CENY</a></li>
		<li>
			<a class="scroll-to" href="#sec-7">AKCIE A NOVINKY</a></li>
		<li>
			<a class="scroll-to" href="#sec-9">DÁTOVÉ BALÍKY</a></li>
		<li>
				<a class="scroll-to" href="#sec-6">DOPLNKOVÉ MESAČNÉ SLUŽBY</a></li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png"/></a></li>
	</ul>
</div>
<!--  SEC-1 -->
<div id="module-plan-chooser">
	<div class="container-fixed">
		<div id="plan-switcher">
			<h2 class="sec__title desktop mg-top_40">
					SLUŽBY A CENY PAUŠÁLOV ÁNO</h2>
			<h2 class="sec__title mob">
				SLUŽBY A CENY</h2>
			<!-- <p class="plan-sec-head">
				Chcem nový paušál:</p>
			 <div class="ps__btn-holder">
				<a class="btn ps__btn ps__btn_selected" href="#" id="plan-mobile">S novým mobilom</a> <a class="btn ps__btn"																																											 id="plan-no-mobile">Bez
				mobilu</a></div>
			<div class="plan-separator-holder">
				<span class="p-separator sl"></span>
				<p class="plan-separator">
					alebo</p>
				<span class="p-separator s2"></span></div>
			<div class="ps__link-holder">
				<a class="link link_no-underline scroll-to" href="#sec-prolong" id="to-prolong">Chcem predĺžiť paušál</a></div> -->
		</div>
		<div id="ec-holder">
			<img alt="" class="ec-module" id="ec-4" src="../assets/img/ec-webzlava.png"/>
			<img alt="" class="ec-module" id="ec-3" src="../assets/img/ec-kurier.png"/></div>
		<div id="plan-filter">
			<!-- <p class="plan-sec-head">
				Zobraziť paušály:</p>
			<div class="row">
				<div class="col-md-4 col-sm-4 filter-item">
					<div class="filter-checkbox-holder">
						<input checked="checked" class="filter-checkbox" id="base" type="checkbox"/></div>
					<div class="filter-text-holder">
						<p class="filter-title">
							Základné</p>
						<p class="filter-detail">
							Volania, SMS a e-maily<br/>
							(do 400 MB dát)</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 filter-item">
					<div class="filter-checkbox-holder">
						<input checked="checked" class="filter-checkbox" id="favourite" type="checkbox"/></div>
					<div class="filter-text-holder">
						<p class="filter-title">
							Obľúbené</p>
						<p class="filter-detail">
							E-maily, webstránky a sociálne siete<br/>
							(do 6 GB dát)</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 filter-item">
					<div class="filter-checkbox-holder">
						<input checked="checked" class="filter-checkbox" id="experienced" type="checkbox"/></div>
					<div class="filter-text-holder">
						<p class="filter-title">
							Pre náročných</p>
						<p class="filter-detail">
							Web, sociálne siete, hudba a videá<br/>
							(do 16 GB dát)</p>
					</div>
				</div>
			</div> 
			<p id="filter-result">
				Nájdených <span id="filteredObjCount">9</span> výsledkov z <span id="allObj">9</span> paušálov</p>-->
		</div>
		<div id="plan-list_pc">
			<div style="height: 70px;">
			<div class="plp__head">
				<div class="row">
					<div class="plc__col plc__col-1">
						<a class="plp__head-item plph__ico unset" href="#" id="sort-by-price">Cena mesačne</a></div>
					<div class="plc__col plc__col-2">
						<a class="plp__head-item plph__ico unset" href="#" id="sort-by-data">4G dáta</a></div>
					<div class="plc__col plc__col-3">
						<p class="plp__head-item">
							Volania</p>
					</div>
					<div class="plc__col plc__col-4">
						<p class="plp__head-item">
							SMS a MMS</p>
					</div>
					<div class="plc__col plc__col-5">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
			<div id="plp__body"></div>
		</div>
		
		<div id="plan-list_mob">
			<div id="plm-sticky">
				<p class="plan-sec-head">
					POROVNAŤ PAUŠÁLY PODĽA</p>
				<div id="plm__head">
					<a class="plm__head-item" data-headid="0" href="#" id="show-calls">Volania</a> <a
								class="plm__head-item plm__head-item_selected" data-headid="1" href="#" id="show-data">4G dáta</a> <a
								class="plm__head-item" data-headid="2" href="#" id="show-sms">SMS/MMS</a></div>
			</div>
			<div id="plm__body"></div>
			<div class="hidden" id="plm__plan-detail">
				<div class="plmp__head plmp__head_w-ribbon">
					<a href="#" id="plm__plan-back"><img alt="" src="../assets/img/ico-back.png"/></a>
					<p class="plm__plan-name">
						Happy XS mini</p>
					<p class="plmp__ribbon">
						DOSTUPNÝ LEN NA WEBE</p>
				</div>
				<div class="plmp__body">
					&nbsp;
				</div>
			</div>
		</div>
		<p class="module-legal">
			EÚ+ sú všetky členské štáty EÚ, Island, Nórsko, Lichtenštajnsko, Monako a Andora</p>
		<div class="hidden" id="plm__overlay">
			&nbsp;
		</div>
		<div class="section_happy" id="sec-prolong">
			<div class="prolong-wrapper">
				<h2 class="prolong-title">
					Chcete predĺžiť svoj paušál?</h2>
				<p class="prolong-desc">
					Overte svoje číslo a užívajte si naďalej neobmedzené volania do mobilných a pevných sietí či ďalšie
					výhody. Zistite aké.</p>
				<div class="prolong-form-holder">
					<div class="prolong-input-wrapper">
						<div class="input-label">
							Zadajte svoje telefónne číslo:
						</div>
						<input class="prolong-input" id="msisdn" maxlength="10" placeholder="09" type="text" value=""/></div>
					<a class="btn btn_outline" href="#" id="msisdn-btn">OVERIŤ</a></div>
				<div class="prolong-cta">
					<div class="prolong-separator">
						<span class="p-separator sl"></span><span>alebo</span><span class="p-separator sr"></span></div>
					<a class="prolong-call" href="#" id="prolong-cmb"><img alt="" src="../assets/img/ico-call.png"/> predĺžiť
						paušál telefonicky</a></div>
			</div>
		</div>
	</div>
</div>
<!-- NAVIGATION -->
<div class="sticky-wrapper" id="nav-sticky-sticky-wrapper">
	<div class="main-navigation" id="nav-sticky">
		<ul class="main-menu">
			<li>
				<a class="scroll-to" href="#module-plan-chooser">SLUŽBY A CENY</a></li>
			<li>
				<a class="scroll-to" href="#sec-7">AKCIE A NOVINKY</a></li>
			<li>
				<a class="scroll-to" href="#sec-9">DÁTOVÉ BALÍKY</a></li>
			<li>
				<a class="scroll-to" href="#sec-6">DOPLNKOVÉ MESAČNÉ SLUŽBY</a></li>
			<li>
				<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png"/></a></li>
		</ul>
	</div>
</div>

<!-- SEC-7 AKCIE A NOVINKY -->
<!-- <section class="section_happy sec-7" id="sec-7">
	<div class="container-fixed">
		<div class="row">

			<div class="col-md-12 text_centered">
				<h2 class="sec__title">AKTUÁLNE AKCIE</h2>
			</div>
			<div class="col-md-12 table-container">
				<div class="row table-row akcieBox">
					<div class="col-md-5 akciaLeft table-col">

					</div>
					<div class="col-md-7 akciaRight table-col">
						<div class="rightWrapper">
							<h3 class="akciaHeadline"><b>Máte paušál Happy M alebo vyšší?</br>Získajte až 3 GB mesačne navyš</b></h3>
							<p class="akciaSteps">1. Odporučte telefónne číslo kamaráta jednoducho cez Telekom aplikáciu.</br>
						 		 2. Kamarát si k nám prenesie číslo a vyberie si paušál Happy M alebo vyšší.</br>
								 3. Každý z vás získa <b>1 GB dát mesačne!</b>
							</p>
							<p class="magentaBold"><b>Odporučiť môžete až 3 čísla a získať tak mesačne až 3 GB dát!</b></p>
							<a class="link" href="/odporucte-znameho">Prejsť na viac info do Wiki</a></br>
							<a href="/telekom-aplikacia" class="btn cta btnodporucit">ODPORUČIŤ ZNÁMEHO V TELEKOM APKE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<section class="section_happy default sec-7 akcieTabs" data-segment="2" id="sec-7">
	<div class="container-fixed">
		<div class="row">
			<!--  Title -->
			<div class="col-md-12 text_centered">
				<h2 class="sec__title">AKCIE A NOVINKY</h2>
			</div>


			<div class="tabs-container">
				<div class="tab__holder">
				<!-- TABS MENU -->
					<ul class="tabs-menu">
						<li class="variant current" data-variant="1" id="bezBarier">
							<a href="#tab-3">Dátovanie bez bariér</a></li>
						<li class="variant" data-variant="2" id="magenta1">
								<a href="#tab-4">Viac s Magenta 1</a>
						</li>
						<li class="variant" data-variant="3" id="najsiet">
								<a href="#tab-5">Najlepšia sieť</a>
						</li>
						<li class="variant" data-variant="4" id="streamOn">
							<a href="#tab-11">StreamOn</a>
						</li>						
					</ul>
				</div>

				<div class="tab">
						<!-- Tab 1 -->
						<div class="tab-content clearfix" id="tab-3" style="display:block;">
						<!-- <div class="tab-box">
								<div class="tab-box__content">
									<div class="col-xs-12 col-md-12">
										<div class="col-md-12 table-container">
											<div class="row table-row col-md-12 col-sm-12 col-xs-12 pad0">
												<div class="akcieBox">
													<div class="col-lg-7 col-md-7 col-sm-9 col-xs-12 akciaRight table-col">
														<div class="rightWrapper">
															<h3 class="akciaHeadline"><b>Vyberte si niektorý z paušálov Happy</br>a získate kupón s 50 % zľavou na druhý paušál.</b></h3>
															<div class="stepwrapper">
																<div class="step">
																	<img src="../assets/img/step1.png" alt="">
																	<p><b>Najskôr si vezmite niektorý z paušálov Happy za plnú cenu.</b></p>
																	<a href="#module-plan-chooser" class="btn cta scroll-to">PREJSŤ K PAUŠÁLOM</a></br>
																</div>
																<div class="stepArrow">
																	<img class="arrowDefault" src="../assets/img/separArrow.png" alt="">
																	<img class="arrowDwn" src="../assets/img/arrowdown.png" alt="">
																</div>
																<div class="step">
																	<img src="../assets/img/step2.png" alt="">
																	<p style="color: #e20074;"><b> Automaticky získate kupón s 50 % zľavou na druhý paušál.</b></p>
																	<a href="/kuponakodarcek" class="btn cta" style="background-color: white; color: #6bb324;">UPLATNIŤ ZĽAVOVÝ KUPÓN</a></br>
																</div>
															</div>
														</div>
													</div>
													<div class="col-lg-5 col-md-5 col-sm-3 col-xs-12 akciaLeft3 table-col ">
													</div>
												</div>
												<div class="box1-info">
													<div class="togleArrow" style="margin-bottom: 20px;">
														<a class="toggle-arrow" href="">Viac info o akcii<span class="arrow-right"></span></a>
														<div class="arrow-content">
															<p>Kupón je neprenosný – na aktiváciu nového paušálu s 50 % zľavou má nárok <b>iba zákazník, ktorému bol kupón vydaný (na rovnaké rodné číslo alebo IČO)</b>. Platnosť zľavového kupónu je 2 mesiace od jeho vydania.
															Kupón s 50 % zľavou uplatníte na paušály Happy bez mobilu.</p></div>
													</div>
													<div class="togleArrow" style="margin-bottom: 20px;">
														<a class="toggle-arrow" href="#">Ako to funguje<span class="arrow-right"></span></a>
														<div class="arrow-content">
															<ol>
																<li>
																	<p>Vyberte si niektorý z <a href="#module-plan-chooser" class="link scroll-to" style="text-decoration: none;">paušálov Happy</a></p>
																	<p>Ponuka platí: <br>
																		■  pre nových zákazníkov, <br>
																		■  pre tých, ktorí chcú predĺžiť svoj existujúci paušál Happy, <br>
																		■  pre tých, ktorí chcú prejsť z Easy karty, z Programu Bez záväzkov či od iného operátora. <br>
																	</p>
																</li>
																<li>
																	<p>Objednávku vám bezplatne doručíme kuriérom.</p>
																</li>
																<li>
																	<p>Po úspešnom prevzatí objednávky vám v SMS správe pošleme 50 % zľavový kupón na druhý paušál Happy.</p>
																</li>
																<li>
																	<p>Kupón si uplatníte na <a href="/kuponakodarcek" class="link">www.telekom.sk/kuponakodarcek</a></p>
																</li>
															</ol>

														</div>
													</div>
													<div class="togleArrow" style="margin-bottom: 20px;">
														<a class="toggle-arrow" href="#">Ako uplatniť zľavový kupón<span class="arrow-right"></span></a>
														<div class="arrow-content">
															<p>50 % zľavový kupón na druhý paušál Happy uplatníte jednoducho cez internet na <a href="/kuponakodarcek" class="link">www.telekom.sk/kuponakodarcek</a></p>
														</div>
													</div>
													<div class="togleArrow">
														<a class="toggle-arrow" href="#">Čo ak stratím zľavový kupón <span class="arrow-right"></span></a>
														<div class="arrow-content">
														 <p>Vymazali ste omylom SMS správu so zľavovým kupónom alebo ju neviete nájsť v mobile? <br>Pošleme vám ho znova.</p>
														 <a href="#kupon" class="btn outline popup">POSLAŤ ZĽAVOVÝ KUPÓN</a>
														</div>
													</div>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div> -->
						<div class="tab-box">
								<div class="tab-box__content">
									<div class="col-xs-12 col-md-12">
										<div class="col-md-12 table-container">
											<div class="row table-row col-md-12 col-sm-12 col-xs-12 pad0">
												<div class="akcieBox">
													<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 akciaRight table-col">
														<div class="rightWrapper">
															<h3 class="akciaHeadline"><b>Dátovanie bez bariér!<br>S novými paušálmi ÁNO získate:</b></h3>
															<p class="akciaSteps">
																 ▪ <b>Viac dát</b> ako kedykoľvek predtým od paušálu ÁNO L.</br>
																 ▪ <b>Dáta</b>, ktoré nespotrebujete sa vám automaticky a <b>bez
																 poplatkov prenesú</b> do ďalšieho zúčtovacieho obdobia.</br>
																 ▪ <b>Volania a SMS bez obmedzení</b> od paušálu ÁNO M.
															</p>
															<!-- <p class="magentaBold"><b>Viac info o najlepšej 4G sieti</b></p> -->
															<a href="#module-plan-chooser" class="btn cta btnodporucit scroll-to" style="margin-top: 72px;">VYBRAŤ NOVÝ PAUŠÁL ÁNO</a>
														</div>
													</div>
													<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 akciaLeft3 table-col ">
														<!-- <img src="../assets/img/3gbzadarmo.png" alt=""> -->
													</div>
												</div>
											</div>
										</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Tab 2 -->
					<div class="tab-content clearfix" id="tab-4">
						<div class="tab-box">
							<div class="tab-box__content">
								<div class="col-xs-12 col-md-12">
									<div class="col-md-12 table-container">
										<div class="row table-row col-md-12 col-sm-12 col-xs-12 pad0">
											<div class="akcieBox">
												<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 akciaRight table-col">
													<div class="rightWrapper">
														<h3 class="akciaHeadline"><b>Vytvorte Magenta 1 skupinu <br>a získajte viac!</b></h3>
														<p class="akciaSteps">V skupine Magenta 1 možete mať mobilné a pevné služby na jednom mieste s množstvom výhod:</br>
															 ▪ 2 x viac volaní a dát,</br>
															 ▪ nový smartfón za zvýhodnenú cenu,</br>
															 ▪ volania a SMS zadarmo v rámci skupiny,</br>
															 ▪ neobmedzené mobilné dáta na 48 h <br>
															 <span style="color: #6c6c6c; padding-left: 8px;">  pri výpadku Magio internetu.</span>
														</p>
														<a href="/magenta1 " style="padding-top: 15px; display: block;" class="link">Viac info o Magenta 1</a></br>
													</div>
												</div>
												<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 akciaLeft2 table-col ">
													<!-- <img src="../assets/img/3gbzadarmo.png" alt=""> -->
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-content clearfix" id="tab-5">
					<div class="tab-box">
						<div class="tab-box__content">
							<div class="col-xs-12 col-md-12">
								<div class="col-md-12 table-container">
									<div class="row table-row col-md-12 col-sm-12 col-xs-12 pad0">
										<div class="akcieBox">
											<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 akciaRight table-col">
												<div class="rightWrapper">
													<h3 class="akciaHeadline"><b>Povedzte aj vy ÁNO sieti, ktorá je najlepšia už piatykrát po sebe!</b></h3>
													<p class="akciaSteps">Vyberte si ľubovoľný paušál a získate:</br>
														▪ najrýchlejšiu 4G sieť na Slovensku,</br>
														▪ najkratší čas načítania YouTube videí,</br>
														▪ najrýchlejšie sťahovanie a posielanie súborov či načítanie stránok,</br>
														▪ najkratší čas spojenia a najlepšiu kvalitu hovorov.
													</p>
													<a href="/wiki/internet/4g-internet" class="link">Viac info o najlepšej 4G sieti</a></br>
													<!-- <p class="magentaBold"><b>Viac info o najlepšej 4G sieti</b></p> -->
													<a href="#module-plan-chooser" class="btn cta btnodporucit scroll-to">VYBRAŤ PAUŠÁL V NAJLEPŠEJ SIETI</a>
												</div>
											</div>
											<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 akciaLeft table-col ">
												<!-- <img src="../assets/img/3gbzadarmo.png" alt=""> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="tab-content clearfix" id="tab-11">
					<div class="tab-box">
						<div class="tab-box__content">
							<div class="col-xs-12 col-md-12">
								<div class="col-md-12 table-container">
									<div class="row table-row col-md-12 col-sm-12 col-xs-12 pad0">
										<div class="akcieBox">
											<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 akciaRight table-col">
												<div class="rightWrapper">
													<h3 class="akciaHeadline"><b>Sledujte videá a počúvajte hudbu neobmedzene</b></h3>
													<p class="akciaSteps">
														▪ S balíkom StreamOn počúvate hudbu a pozeráte videá cez partnerské aplikácie bez spotreby vašich dát len za 1 € na deň do polnoci. Ušetrené dáta potom môžete použiť napríklad na surfovanie alebo chatovanie.</br>
														▪ Navyše získate 200 MB dát ako poistku na všetko ostatné.</br>
														▪ StreamOn využijete v týchto aplikáciách:</br>
														Apple Music, YouTube, Netflix, HBO GO, Deezer, Spotify, TIDAL, Markíza+ Videoarchív, Magio GO, DIGI GO, Rádio Europa 2, Rádio Expres, Rádio Vlna/Vlna Golden Hits, Rádio Anténa Rock/Anténa HardRock, Rádio Jemné/Jemné Chillout a Detské rádio Žofka
													</p>
													<a href="/datanavyse" class="btn cta btnodporucit">KÚPIŤ BALÍK</a>
													<a href="/wiki/ostatne/aplikacia-telekom " class="btn cta btnodporucit">KÚPIŤ BALÍK CEZ TELEKOM APPLIKÁCIU</a><br/>
													<br/>
													<a href="#popupStreamOn" class="link popup">Kúpiť balík cez SMS</a>
												</div>
											</div>
											<div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 akciaLeft11 table-col ">
												<!-- <img src="../assets/img/3gbzadarmo.png" alt=""> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>				

			</div>
			<div class="accordion" data-accordion="2">
			<!-- Accordion Data -->
			</div>
		</div>


			<!-- <div class="col-md-12 table-container">

				<div class="row table-row col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="akcieBox2">
					<div class="col-md-5 akciaLeft2 table-col">
						<!-- <img src="../assets/img/lenovo.png" alt="">
					</div>
					<div class="col-md-7 akciaRight table-col">
						<div class="rightWrapper">
							<h3 class="akciaHeadline"><b>Máte paušál Happy M alebo vyšší?</br>Získajte až 3 GB mesačne navyše</b></h3>
							<p class="akciaSteps">1. Odporučte telefónne číslo kamaráta jednoducho cez Telekom aplikáciu.</br>
						 		 2. Kamarát si k nám prenesie číslo a vyberie si paušál Happy M alebo vyšší.</br>
								 3. Každý z vás získa <b>1 GB dát mesačne!</b>
							</p>
							<p class="magentaBold"><b>Odporučiť môžete až 3 čísla a získať tak mesačne až 3 GB dát!</b></p>
							<a class="link" href="/odporucte-znameho">Prejsť na viac info do Wiki</a></br>
							<a href="/telekom-aplikacia" class="btn cta btnodporucit">ODPORUČIŤ ZNÁMEHO V TELEKOM APKE</a>
						</div>
					</div>
				 </div>
				</div>

				<div class="row table-row col-md-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="akcieBox2">
					<div class="col-md-5 akciaLeft3 table-col">
						<!-- <img src="../assets/img/3gbzadarmo.png" alt="">
					</div>
					<div class="col-md-7 akciaRight table-col">
						<div class="rightWrapper">
							<h3 class="akciaHeadline"><b>Získajte darček k paušálom Happy!</b></h3>
							<p class="akciaSteps">
								Vezmite si k paušálom Happy mobil LENOVO MOTO E4 a vyberte si <b>slúchadlá, reproduktor alebo hodinky ako darček!</b>
							</p>
							<!-- <p class="magentaBold"><b>Navyše pri kúpe cez web zľava až 20€!</b></p>
							<a href="/mob/objednavka/lenovo-ponuka/-/scenario/e-shop/hw-happy/vyber-hw" class="btn cta btnodporucit">PREJSŤ K NÁKUPU</a>
						</div>
					</div>
				</div>
			 </div>
			</div> -->

		</div>
	</div>
</section>

<!-- SEC-9 DÁTOVÉ BALÍKY K PAUŠÁLOM -->
<section class="section_happy sec-9" id="sec-9">
	<div class="container-fixed datoveBaliky">
		<div class="row text_centered">
			<!--  Title -->
			<div class="col-md-12">
				<h2 class="sec__title no-padding-bottom">
					DÁTOVÉ BALÍKY K PAUŠÁLOM</h2>
				<p class="sec__desc">
					Spotrebovali ste dáta v paušáli? Surfujte naďalej s dátovými balíčkami podľa vlastného výberu.</p>
			</div>
		</div>
		<!--  TAB -->
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu taby2">
					<!-- <li class="tab-link current" data-tab="tab-6">
						<a href="#tab-3">k paušálom Happy</a></li> -->
					<!-- <li class="tab-link" data-tab="tab-4"><a href="#tab-4">k Easy karte</a></li> -->
				</ul>
			</div>
			<div class="tab">
				<div class="taby2-content active text-center" id="tab-6" style="display: block;">
					<div class="app-slider as1">
						<!-- Balíky s platnosťou do polnoci od aktivácie -->
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									StreamOn</p>
								<p>
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									S balíkom StreamOn počúvate hudbu a pozeráte videá cez partnerské aplikácie bez spotreby vašich dát len za 1 € na deň do polnoci. Ušetrené dáta potom môžete použiť napríklad na surfovanie alebo chatovanie.</p>
								<p class="mb-10">
									Navyše získate 200 MB dát ako poistku na všetko ostatné.</p>
									<a class="link popup" href="#popupStreamOnApps" style="text-decoration: none; margin-bottom: 10px;">StreamOn využijete v týchto aplikáciách</a>
								<p><b>Objem dát:</b></p>
								<p class="mb-10">Neobmedzene</p>
								<p><b>Platnosť balíka:</b></p>
								<p>Do polnoci daného dňa</p>									
								<p><b>Dostupnosť balíka:</b></p>
								<p>Balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S</p>																	
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">1,00&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#popupStreamOn">Kúpiť balík cez SMS</a></div>
						</div>
						<!-- Denne data -->
						<div class="p-box">
								<div class="p-detail">
									<p class="box__title mb-10">
										DENNÉ DÁTA 1000 MB</p>
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete napr. sledovať videá či počúvať hudbu.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										24 hodín od aktivácie balíka alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S.</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">1,00&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#dataden1000">Kúpiť balík cez SMS</a></div>
							</div>
							<!-- Vianocne data neobmedzene -->
							<div class="p-box">
								<div class="p-detail">
									<p class="box__title mb-10">
										DENNÉ DÁTA NEOBMEDZENÉ</p>
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete sledovať videá, internetovú televíziu, počúvať hudbu či sťahovať veľké súbory bez limitov.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										Neobmedzený</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										24 hodín od kúpy balíka</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S.
										</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">4,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#datadenneob">Kúpiť balík cez SMS</a></div>
							</div>
							<!-- Data 100mb -->
							<div class="p-box">
								<div class="p-detail">
									<p class="box__title mb-10">
										DÁTA 100 MB</p>
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
											Keď si aktivujete tento balík, čerpáte dáta z neho. Dáta z paušálu si šetríte. 
											Balík je vhodný napr. na prezeranie e-mailov bez veľkých príloh, správ, blogov či cestovného poriadku.
											</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										100 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">1,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data100">Kúpiť balík cez SMS</a></div>
							</div>
							<!-- Data 500mb -->
							<div class="p-box">
								<div class="p-detail">
									<p class="box__title mb-10">
										DÁTA 500 MB</p>
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
											Keď si aktivujete tento balík, čerpáte dáta z neho. Dáta z paušálu si šetríte. 
											Balík je vhodný napr. na prezeranie sociálnych sietí, fotografií či na stiahnutie e-mailov so stredne veľkými prílohami.
											</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										500 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
	
									<p><b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">4,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data500">Kúpiť balík cez SMS</a></div>
							</div>
							<!-- Data 1000mb -->
							<div class="p-box">
								<div class="p-detail">
									<p class="box__title mb-10">
										DÁTA 1000 MB</p>
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
											Keď si aktivujete tento balík, čerpáte dáta z neho. Dáta z paušálu si šetríte. 
											Balík je vhodný napr. na: sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.
											</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
	
									<p><b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S.</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">5,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data1000">Kúpiť balík cez SMS</a></div>
							</div>
							<!-- Data navyse pre blizkych -->
							<div class="p-box">
								<!-- <div class="new-ribbon">
									NOVINKA
								</div> -->
								<div class="p-detail">
									<p class="box__title mb-10">DÁTA NAVYŠE PRE BLÍZKYCH</p>
									<!-- <p>
										<b>1000 MB pre blízkych + 1000 MB pre seba</b>
									</p> -->
									<p>
										<b>Ako balík funguje:</b>
									</p>
									<p class="mb-10">
										balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojich blízkych, ktorí majú paušál ÁNO, Happy, Bez záväzkov alebo Easy kartu. Dáta z balíčka môžete prideliť aj sebe.
									</p>
									<p class="">
										<a class="link" href="https://www.telekom.sk/wiki/internet/data-navyse-pre-blizkych">Prejsť na viac info do Wiki</a>
									</p>
	
									<!-- <p>
										<b>Balík je vhodný napr. na:</b></br>
										sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.
									</p> -->
	
									<p class="mt-10"><b>Objem dát:</b></p>
									<p>1000 MB</p>
	
									<p class="mt-10"><b>Platnosť balíka:</b></p>
									<p>30 dní od kúpy balíka alebo</br>do vyčerpania dát</p>
	
									<p><b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">5,99 €</span>
									</p>
									<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a>
									<a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
			<div class="accordion">

				<p class="ac-label">Balíky s platnosťou do polnoci od aktivácie</p>
				<div class="item">
					<div class="heading">
						StreamOn <span class="ac-price">| 1,00&nbsp;€</span></div>
					<div class="content">
						<div class="p-detail">
							<p><b>Ako balík funguje:</b></p>
							<p class="mb-10">
								S balíkom StreamOn počúvate hudbu a pozeráte videá cez partnerské aplikácie bez spotreby vašich dát len za 1 € na deň do polnoci. Ušetrené dáta potom môžete použiť napríklad na surfovanie alebo chatovanie.</p>
							<p class="mb-10">
								Navyše získate 200 MB dát ako poistku na všetko ostatné.</p>
								<a class="link popup" href="#popupStreamOnApps" style="text-decoration: none; margin-bottom: 10px;">StreamOn využijete v týchto aplikáciách</a>
							<p><b>Objem dát:</b></p>
							<p class="mb-10">Neobmedzene</p>
							<p><b>Platnosť balíka:</b></p>
							<p>Do polnoci daného dňa</p>									
							<p><b>Dostupnosť balíka:</b></p>
							<p>Balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S</p>																	
						</div>
						<div class="p-actions">
							<p class="p-price-label mb-20">
								Cena: <span class="p-price">1,00&nbsp;€</span></p>
							<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#popupStreamOn">Kúpiť balík cez SMS</a>
						</div>						
					</div>
				</div>

				<p class="ac-label">
						Balíky s platnosťou 24 hodín od aktivácie</p>
					<div class="item">
						<div class="heading">
							DENNÉ DÁTA 1000 MB <span class="ac-price">| 1,00&nbsp;€</span></div>
						<div class="content">
							<div class="p-detail">
								<p>
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete napr. sledovať videá či počúvať hudbu.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									1000 MB</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									24 hodín od kúpy balíka alebo do vyčerpania dát</p>
								<p>
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">1,00&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#dataden1000">Kúpiť balík cez SMS</a></div>
						</div>
					</div>

					<div class="item">
							<div class="heading">
								DENNÉ DÁTA NEOBMEDZENÉ <span class="ac-price">| 4,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete sledovať videá, internetovú televíziu, počúvať hudbu či sťahovať veľké súbory bez limitov.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										Neobmedzený</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										24 hodín od kúpy balíka</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S.
										</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">4,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#datadenneob">Kúpiť balík cez SMS</a></div>
							</div>
						</div>

						<p class="ac-label">
							Balík s platnosťou do konca zúčtovacieho obdobia</p>
						<div class="item">
							<div class="heading">
								DÁTA 100 MB <span class="ac-price">| 1,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete tento balík, čerpáte dáta z neho. Dáta z paušálu si šetríte. 
										Balík je vhodný napr. na prezeranie e-mailov bez veľkých príloh, správ, blogov či cestovného poriadku.
										</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										100 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-10">
										balík je dostupný pre všetky paušály ÁNO a Happy</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">1,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data100">Kúpiť balík cez SMS</a></div>
							</div>
						</div>

						<div class="item">
							<div class="heading">
								DÁTA 500 MB <span class="ac-price">| 4,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete tento balík, čerpáte dáta z neho. Dáta z paušálu si šetríte. 
										Balík je vhodný napr. na prezeranie sociálnych sietí, fotografií či na stiahnutie e-mailov so stredne veľkými prílohami.
										</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										500 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
										<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">4,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data500">Kúpiť balík cez SMS</a></div>
							</div>
						</div>

						<div class="item">
							<div class="heading">
								DÁTA 1000 MB <span class="ac-price">| 5,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete tento balík, čerpáte dáta z neho. Dáta z paušálu si šetríte. 
										Balík je vhodný napr. na: sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.
										</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály ÁNO a Happy okrem Happy XS mini, XS a S.</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">5,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data1000">Kúpiť balík cez SMS</a></div>
							</div>
						</div>

						<p class="ac-label">
							Balík s platnosťou 30 dní od zakúpenia</p>
						<div class="item">
							<div class="heading">
								DÁTA NAVYŠE PRE BLÍZKYCH <span class="ac-price">| 5,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojich blízkych, ktorí majú paušál ÁNO, Happy, Bez záväzkov alebo Easy kartu. Dáta z balíčka môžete prideliť aj sebe.
									</p>
									<p class="mb-10"><a class="link" href="https://www.telekom.sk/wiki/internet/data-navyse-pre-blizkych">Prejsť na viac info do Wiki</a></p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										30 dní od kúpy balíka alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-10">
										balík je dostupný pre všetky paušály ÁNO a Happy </p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">5,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
							</div>
						</div>

				
			</div>
		</div>
	</div>
</section>

<!-- SEC-6 DOPLNKOVÉ MESAČNÉ SLUŽBY -->
<section class="section_happy sec-6 default" id="sec-6" data-segment="2">
		<div class="container-fixed">
			<div class="row">
				<!--  Title -->
				<div class="col-md-12 text_centered">
					<h2 class="sec__title">
						DOPLNKOVÉ MESAČNÉ SLUŽBY</h2>
						<p>Rozšírte svoj paušál ÁNO o ďalšie dáta, minúty, či neobmedzené SMS a MMS s doplnkovými mesačnými službami.</p>
				</div>
				<div class="col-md-12">
					<div class="tabs-container">
						<div class="tab__holder">
							<ul class="tabs-menu">
								<li class="variant current" data-variant="7">
									<a href="#tab-7">Dáta navyše</a></li>
								<li class="variant" data-variant="8">
									<a href="#tab-8">Volania navyše</a>
								</li>
								<li class="variant" data-variant="9">
									<a href="#tab-9">SMS a MMS navyše</a>
								</li>
								<!-- <li class="variant" data-variant="10">
									<a href="#tab-10">Magenta Talk</a>
								</li> -->
							</ul>
						</div>
						<div class="tab">
							<!-- Tab 7 -->
							<div class="tab-content" id="tab-7" style="display: block;">
								<div class="col-md-12 servicesContent clearfix">
									<div class="col-md-6 col-sm-6 col-xs-12 textWrapper">
										<div class="textContent clearfix">
											<div class="left">
												<p><b>Mesačné dáta 1 GB</b></p>
												<a href="#dataNavyse1GB" class="link dataNavyse" style="text-decoration: none;">Viac info</a>
											</div>
											<div class="right">
												<p>5,00 €| mes.</p>
											</div>
										</div>
										<div class="textContent clearfix">
												<div class="left">
													<p><b>Mesačné dáta 2 GB</b></p>
													<a href="#dataNavyse2GB" class="link dataNavyse2GB" style="text-decoration: none;">Viac info</a>
												</div>
												<div class="right">
													<p>6,00 €| mes.</p>
												</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<img class="serivcesImg" src="../assets/img/navyse_phone.png" alt="">
									</div>
								</div>
								<div style="width: auto; margin: 0 auto; display: table;">
									<div class="tip">
										<p>Doplnkové mesačné služby si aktivujete počas kúpy alebo predĺženia paušálu v nákupnom košíku</p>
									</div>
								</div>
							</div>

							<!-- Tab 8 -->
							<div class="tab-content" id="tab-8">
								<div class="col-md-12 servicesContent clearfix">
									<div class="col-md-6 col-sm-6 col-xs-12 textWrapper">
										<div class="textContent clearfix">
											<div class="left">
												<p><b>Neobmedzené Telekom volania</b></p>
												<a href="#neobNavyse" class="link volaniaNavyse" style="text-decoration: none;">Viac info</a>
											</div>
											<div class="right">
												<p>3,00 €| mes.</p>
											</div>
										</div>
										<div class="textContent clearfix">
											<div class="left">
												<p><b>100 minút do všetkých sietí</b></p>
												<a href="#100navyse" class="link volaniaNavyse100" style="text-decoration: none;">Viac info</a>
											</div>
											<div class="right">
												<p>3,00 €| mes.</p>
											</div>
										</div>
										<div class="textContent clearfix">
											<div class="left">
												<p><b>Volania najbližším</b></p>
												<a href="#navyseNajblizsi" class="link volaniaNajblizsim" style="text-decoration: none;">Viac info</a>
											</div>
											<div class="right">
												<p>9,99 €| mes.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<img class="serivcesImg" src="../assets/img/volaniaNavyse.png" alt="">
									</div>
								</div>
								<div style="width: auto; margin: 0 auto; display: table;">
									<div class="tip">
										<p>Doplnkové mesačné služby si aktivujte počas kúpy alebo predĺženia paušálu v nákupnom košíku.</p>
									</div>
								</div>
							</div>

							<!-- TAB 9 -->
							<div class="tab-content" id="tab-9">
								<div class="col-md-12 servicesContent clearfix">
									<div class="col-md-6 col-sm-6 col-xs-12 textWrapper">
										<div class="textContent clearfix">
											<div class="left">
												<p><b>Neobmedzené SMS a MMS</b></p>
												<a href="#smsMMSnavyse" class="link smsAmms" style="text-decoration: none;">Viac info</a>
											</div>
											<div class="right">
												<p>3,00 €| mes.</p>
											</div>
										</div>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<img class="serivcesImg" src="../assets/img/smsMMS.png" alt="">
									</div>
								</div>
								<div style="width: auto; margin: 0 auto; display: table;">
									<div class="tip">
										<p>Doplnkové mesačné služby si aktivujte počas kúpy alebo predĺženia paušálu v nákupnom košíku.</p>
									</div>
								</div>
							</div>

							<!-- TAB 10 -->
							<!-- <div class="tab-content" id="tab-10">
									<div class="col-md-12 servicesContent clearfix">
										<div class="col-md-7 col-sm-7 col-xs-12 textWrapper">
											<div class="textContent clearfix">
												<div class="clearfix">
													<div class="left">
														<p><b>Magenta Talk</b></p>
													</div>
													<div class="right">
														<p>0,00 €</p>
													</div>
												</div>
												<div>
													<p>Volajte a píšte si zadarmo s bezplatnou komunikačnou aplikáciou cez svoj mobil, stolový počítač či tablet, všade, kde máte internet – doma aj v zahraničí.</p>
												</div>
												<div class="clearfix" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 7px 0; margin-bottom: 10px;">
													<div class="left">
														<p><b>Dostupnosť:</b></p>
													</div>
													<div class="right">
														<p>ku všetkým paušálom ÁNO</p>
													</div>
												</div>
												<a class="link" href="/magenta-talk/aktivacia">Aktivovať Magenta Talk</a>
											</div>
										</div>
										<div class="col-md-5 col-sm-5 col-xs-12 text-center">
											<img class="serivcesImg" src="../assets/img/magentaTalk.png" alt="">
										</div>
									</div>
								</div> -->
						</div>
							<div class="accordion" data-accordion="2"></div>
					</div>
				</div>
			</div>
		</div>
	</section>

<!-- SEC-10 Mohlo by vás zaujímať -->
<section class="section_happy sec-10" id="sec-10">
	<div class="container-fixed">
		<div class="row sec_border">
			<!--  Title -->
			<div class="col-md-12 text_centered">
				<h2 class="sec__title">
					Mohlo by vás zaujímať</h2>
			</div>
		</div>
		<div class="row tiles-a text_centered">
			<!-- 1 -->
			<div class="col-md-4 feature">
				<div class="feat_img">
					<img alt="" src="../assets/img/happy_zdielanie.png"/></div>
				<div class="title__holder">
					<h3 class="feat_title">
						Zdieľanie dát</h3>
				</div>
				<div class="feat-desc">
					<p>
						Dáta z paušálu môžete zdieľať na notebooku či tablete. Stačí si aktivovať dátovú SIM za 2,99&nbsp;€
						mesačne.</p>
				</div>
				<div class="c-tile-order">
					<a class="link" href="/internet/internet-v-mobile#sec-4">Viac o Zdieľanie dát</a></div>
			</div>
			<!-- 2 -->
			<div class="col-md-4 feature">
				<div class="feat_img">
					<img alt="" src="../assets/img/ico-eset.png"/></div>
				<div class="title__holder">
					<h3 class="feat_title">
						Bezpečný internet v mobile</h3>
				</div>
				<div class="feat-desc">
					<p>
						Získajte ESET Mobile Security pre Android, ktorý chráni váš mobil pred vírusmi, kontroluje bezpečnosť
						aplikácií a pomôže aj v prípade straty či krádeže.</p>
				</div>
				<div class="c-tile-order">
					<a class="link" href="/wiki/internet/eset-mobile-security-telekom-edicia">Viac o službe</a></div>
			</div>
			<!-- 3 --><!--
            <div class="col-md-3 feature">
                <div class="feat_img">
                    <img alt="" src="../assets/img/happy_klik.png" /></div>
                <div class="title__holder">
                    <h3 class="feat_title">
                        Klikni a vyzdvihni</h3>
                </div>
                <div class="feat-desc">
                    <p>
                        Už nečakajte v rade, ani na kuriéra. So službou Klikni a vyzdvihni máte možnosť objednať si mobil cez web a vyzdvihnúť ho u nás na predajni.</p>
                </div>
                <div class="c-tile-order">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw">Chcem nový mobil</a></div>
            </div>
            --><!-- 4 -->
			<div class="col-md-4 feature">
				<div class="feat_img">
					<img alt="" src="../assets/img/happy_4g.png"/></div>
				<div class="title__holder">
					<h3 class="feat_title">
						4G SIM karta zadarmo</h3>
				</div>
				<div class="feat-desc">
					<p>
						Stačí o ňu požiadať počas kúpy alebo predĺženia <a class="link" href="/objednavka/-/scenario/e-shop/pausal">
						paušálu</a> na webe, telefonicky na 0800&nbsp;123&nbsp;456 alebo osobne v niektorom z našich <a
									class="text-link" href="http://www.telekom.sk/kontakt/predajne/">Telekom centier</a>. O
						zmenu EASY SIM karty na 4G je možné požiadať telefonicky alebo osobne.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- SEC-11 Legals -->
<section class="section_happy sec-11" id="sec-11">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12">
				<div class="legal__holder">
					<div class="togleArrow">
					<a class="happy-legal-cennik toggle-arrow" href="#">Podmienky k paušálom<span class="arrow-right"></span></a>
					<div class="arrow-content">
						<div id="happy-legal">
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-1').toggle('slow');return false;">Podmienky akcie Zľavy na programy ÁNO s alebo bez mobilného telefónu,</a>
								<div class="happy-legal-content" id="happy-legal-1">
									Podmienkou poskytovania programov služieb ÁNO so zľavnenou cenou mesačného poplatku za program služieb ÁNO je uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou na 12 alebo 24 mesiacov.<br>
									Podmienkou poskytovania programov služieb ÁNO s kúpou vybraných mobilných telefónov za zvýhodnenú cenu je uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov. Mesačný poplatok za programy služieb ÁNO pri využití ponuky s kúpou akciového telefónu sa skladá z dvoch zložiek (základnej a doplnkovej), ktorých súčet predstavuje sumu mesačného poplatku za programy služieb ÁNO, ktorý sa uplatňuje počas celej doby viazanosti. Zľavnená cena mesačných poplatkov sa uplatňuje počas celej doby viazanosti a po jej uplynutí bude uplatňovaná štandardná nezľavnená cena mesačného poplatku. Zmena programu služieb ÁNO na akýkoľvek iný mesačný program služieb nie je možná. Právnické osoby a fyzické osoby – podnikatelia majú pri uzavretí Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov možnosť zakúpenia akciového MT podľa prílohy Biznis akciový cenník zariadení k programom ÁNO pre podnikateľov. Pri zakúpení akciového MT podľa prílohy Biznis akciový cenník zariadení k programom ÁNO pre podnikateľov nie je súčasne možné využívať akúkoľvek inú zľavu alebo akciovú ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné. 
								</div>
							</div>
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-3').toggle('slow');return false;">Podmienky programov ÁNO a doplnkových balíčkov,</a>
								<div class="happy-legal-content" id="happy-legal-3">
									Voľné minúty zahŕňajú minúty, ktoré sa uplatňujú na odchádzajúce hovory uskutočnené na štandardné účastnícke čísla mobilných a pevných sietí, neuplatňujú sa na volania na Odkazovú službu, dátové volania ani na volania so špeciálnou tarifou. V prípade, ak je v tabuľkách vyššie rovnaký počet voľných minút graficky vyčlenený pre viaceré zložky zahrnuté v mesačnom programe služieb ÁNO, je tento počet zdieľaný so všetkými takto vyčlenenými zložkami programu služieb ÁNO, t. j. ide o celkový počet voľných minút, ktoré môžu byť v rámci určených zložiek programu služieb ÁNO vyčerpané. Voľné minúty v rámci zložiek programov služieb ÁNO sa nevzťahujú na volania na Odkazovú službu ani na dátové volania. Pre volania do EÚ, resp. zóny Profi v rámci voľných minút, aj po ich vyčerpaní, platí tarifikácia podľa aktuálne aktívnej služby pre zahraničné volania (Hovory do zahraničia atď.); po vyčerpaní voľných minút sa uplatnia ceny podľa Cenníka pre túto aktívnu službu pre zahraničné volania.<br>
									Pre roamingové volania sa v rámci voľných minút, aj po ich vyčerpaní, uplatňuje tarifikácia podľa aktuálne aktívnej hlasovej roamingovej služby (Euro roaming, atď.); po vyčerpaní voľných minút sa uplatnia ceny podľa Cenníka pre túto aktívnu hlasovú roamingovú službu. Z technických dôvodov súvisiacich s poskytovaním služby roamingových hovorov môžu byť roamingové hovory uskutočnené Účastníkom ku koncu zúčtovacieho obdobia čerpané z balíka voľných minút pre zúčtovacie obdobie nasledujúce po uskutočnení hovorov; z balíka voľných minút sa v takomto prípade odráta aj prevádzka z predchádzajúceho zúčtovacieho obdobia. Voľné minúty sa nevzťahujú na roamingové volania v sieťach operátorov zo zóny lode, lietadlá a satelitné siete.<br>
									Voľné SMS/MMS v rámci programu sa nevzťahujú na SMS/MMS správy poslané na skrátené čísla a čísla služieb mobilnej zábavy, ktoré sú spoplatňované osobitnou tarifou podľa Cenníka, ako ani na SMS/MMS správy poslané z virtuálnych čísel, SMS brán, t-zones, SMS Directu a E-mailu SMS. Dĺžka jednej SMS správy je najviac 160 znakov. Voľný objem dát sa nevzťahuje na roamingové dáta v sieťach operátorov zo zóny lode, lietadlá a satelitné siete.
									</div>
							</div>
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-4').toggle('slow');return false;">Krajiny zóny Profi pre program služieb ÁNO XXL,</a>
								<div class="happy-legal-content" id="happy-legal-4">
									Albánsko, Aljaška, Americké Panenské ostrovy, Angola, Argentína, Austrália, Bahamy, Bahrajn, Bangladéš, Bielorusko, Bosna a Hercegovina, Brunej, Burundi, Cyprus, Čierna Hora, Čína, Egypt, Etiópska federatívna demokratická republika, Filipíny, Gabon, Ghana, Guam, Guatemala, Holandské Antily, Hongkong, Čile, India, Indonézia, Irán, Izrael, Japonsko, Južná Afrika, Kambodža, Kanada, Kolumbia, Kórejská republika, Kostarika, Kuvajt, Laos, Libanon, Macao, Macedónsko, Malajzia, Maurícius, Mexiko, Moldavsko, Mongolsko, Namíbia, Niger, Nigéria, Pakistan, Palestínske územia, Panama, Peru, Ruská federácia, San Maríno, Saudská Arábia, Severné Mariány, Singapur,  Spojené arabské emiráty, Srbsko, Srí Lanka, Sýria, Švajčiarsko, Tadžikistan, Taiwan, Thajsko, Turecko, Ukrajina, USA, Uzbekistan, Vietnam, Zambia.
									<br/>
									<br/>
									<div class="note-legal-bold">
										<!--  -->
									</div>
								</div>
							</div>
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-easy').toggle('slow');return false;">Pri programoch ÁNO,</a>
								<div class="happy-legal-content" id="happy-legal-easy">
									bude po vyčerpaní objemu dát, ktorý je dostupný v príslušnom programe služby ÁNO v danom zúčtovacom období, v rámci jedného zúčtovacieho obdobia Účastník nebude môcť využívať prístup k sieti internet. Účastník má možnosť zvýšenia objemu dát za poplatok podľa Cenníka. Na využívanie objemu dát stanovenému pre príslušný program služby ÁNO v roamingu je potrebná aktivácia bezplatnej služby Dátové prenosy v roamingu Web roaming.
								</div>
							</div>
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-5').toggle('slow');return false;">Dáta navyše pre blízkych,</a>
								<div class="happy-legal-content" id="happy-legal-5">
									Dáta navyše pre blízkych 1 000 MB je doplnková služba k programom služieb ÁNO a k programom služieb Happy M a vyššie, ktorá umožňuje zdieľanie objemu dát 1 000 MB zahrnutého v príslušnom balíku Dáta navyše pre blízkych 1 000 MB s ďalšími, maximálne piatimi SIM kartami s aktivovaným programom služieb ÁNO, Happy, Profi, Easy Pecka, Easy Team alebo Fix. Hlavná SIM karta, z ktorej došlo k zakúpeniu balíka Dáta navyše pre blízkych 1 000 MB, môže zdieľať zakúpený objem dát s ďalšími SIM kartami tak, že tieto dáta prostredníctvom <a href="http://m.telekom.sk/datapreblizkych" target="_blank">http://m.telekom.sk/datapreblizkych</a>  alebo zaslaním bezplatnej SMS na číslo 12323 s textom DAVAM ObjemDat Cislo (napr. DAVAM 200 090xxxxxxx) v častiach po 100 MB priradí jednotlivým obdarovaným SIM kartám. Objem dát v rámci balíčka Dáta navyše pre blízkych 1000 MB nie je možné čerpať bez ich priradenia, pričom hlavná SIM karta má možnosť priradiť tieto dáta sama sebe. Hlavná SIM karta má po priradení dát samej sebe možnosť čerpať takto priradené dáta za rovnakých podmienok ako obdarovaná SIM karta. Hlavná SIM karta môže zakúpené voľné dáta priradiť maximálne do 30 dní od ich zakúpenia. Po uplynutí doby podľa predchádzajúcej vety dochádza automaticky k deaktivácii balíka Dáta navyše pre blízkych 1 000 MB a Hlavná SIM karta stráca nárok na priradenie voľných dát, ktoré neboli do uplynutia tejto doby priradené. Hlavná SIM karta má prostredníctvom <a href="http://m.telekom.sk/datapreblizkych" target="_blank">http://m.telekom.sk/datapreblizkych</a> alebo zaslaním bezplatnej SMS na číslo 12323 s textom AUTODARUJ1000ZAP možnosť voľby automatického dokupovania dát, na základe čoho po uplynutí 30 dní od zakúpenia balíka Dáta navyše pre blízkych 1 000 MB dôjde k automatického zakúpeniu ďalšieho balíka Dáta navyše pre blízkych 1 000 MB. Automatické dokupovanie dát je možné kedykoľvek deaktivovať zaslaním bezplatnej SMS na číslo 12323 s textom AUTODARUJ VYP.<br>
									Obdarovaná SIM karta môže priradené dáta využiť maximálne 30 dní odo dňa ich priradenia hlavnou SIM kartou. Po vyčerpaní priradeného objemu dát z balíka Dáta navyše pre blízkych 1 000 MB sa bude ďalšia dátová prevádzka obdarovanej SIM karty spravovať podmienkami stanovenými pre príslušný program Služby  v platnom  Cenníku. V prípade, že ktorákoľvek obdarovaná SIM karta využíva po vyčerpaní priradeného objemu dát z balíka Dáta navyše pre blízkych 1 000 MB iný doplnkový balíček dát, na čerpanie dát z tohto balíčka sa uplatňujú podmienky tohto aktívneho doplnkového balíčka dát.<br> 
									Ak účastník požiada o deaktiváciu alebo zmenu programu služieb na taký program služieb, ku ktorému doplnková služba Dáta navyše pre blízkych 1 000 MB nie je poskytovaná, doplnková služba Dáta navyše pre blízkych 1 000 MB bude deaktivovaná. Pridelený objem dát sa čerpá prioritne pred čerpaním dát z  objemu dát prislúchajúceho k mesačnému programu Služieb ÁNO a Happy a predplatenej službe Easy.

								</div>
							</div>
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-6').toggle('slow');return false;">Podmienky web zľavy,</a>
								<div class="happy-legal-content" id="happy-legal-6">
									Pri objednávkach realizovaných prostredníctvom stránky <a href="http://telekom.sk" target="_blank">www.telekom.sk</a> je poskytovaná Účastníkovi, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom ÁNO S a vyšším s viazanosťou aspoň na 24 mesiacov (ďalej len „Základný Dodatok“), zľava vo výške (i) 10€ s DPH pre program ÁNO S a (ii) 20€ s DPH pre programy ÁNO M a vyššie z akciovej kúpnej ceny Zariadenia. V prípade, ak výška Zľavy presiahne výšku akciovej ceny Zariadenia, je kúpna cena Zariadenia 1 € s DPH. Zľavu nie je možné počas jej poskytovania kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do 31.5.2018.
								</div>
							</div>
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-18').toggle('slow');return false;">Zdieľanie dát z paušálu,</a>
								<div class="happy-legal-content" id="happy-legal-18">
									Zdieľanie dát z paušálu je doplnková služba k programom ÁNO a Happy XS a vyšším, ktorá umožňuje zdieľanie objemu dát zahrnutého v príslušnom hlasovom programe služieb ÁNO alebo Happy XS a vyšším vo vzťahu k hlavnej SIM karte aj prostredníctvom ďalších dodatočných, maximálne dvoch doplnkových SIM kariet poskytnutých účastníkovi. Podmienkou využívania služby Zdieľanie dát z paušálu je aktivácia aspoň jednej doplnkovej SIM karty, prostredníctvom ktorej bude prebiehať zdieľanie dát. Po vyčerpaní objemu dát zahrnutého v príslušnom hlasovom programe služieb ÁNO alebo Happy XS a vyšším, či už prostredníctvom hlavnej SIM karty, alebo ktorejkoľvek doplnkovej SIM karty, má účastník na všetkých (hlavnej i doplnkových) SIM kartách možnosť zvýšenia objemu dát za poplatok podľa Cenníka V prípade jednorazového zvýšenia objemu dát bude tento zvýšený objem dát čerpaný nielen hlavnou SIM kartou, ale aj aktívnymi doplnkovými SIM kartami služby Zdieľanie dát z paušálu. Ak účastník požiada o deaktiváciu alebo zmenu programu služieb na taký program služieb, ku ktorému doplnková služba Zdieľanie dát z paušálu nie je poskytovaná, doplnková služba Zdieľanie dát z paušálu bude deaktivovaná. Doplnkovú službu Zdieľanie dát z paušálu je možné využívať aj v prípade doplnkových balíčkov Mesačné dáta 1GB a Mesačné dáta 2GB, ktoré je možné aktivovať k programom ÁNO. Doplnkovú službu Zdieľanie dát z paušálu nie je možné využívať v prípade, ak účastník využíva iné typy zdieľania dát. V prípade, že si hlasová SIM karta zakúpi denný neobmedzený balíček dát alebo denný balíček dát 1 000 MB, tieto dáta nie je možné využívať prostredníctvom doplnkovej SIM karty. Prostredníctvom doplnkových SIM kariet nie je možné využívať iné (napr. hlasové a roamingové) služby Podniku.
								</div>
							</div>
							<div class="happy-legal">
								<a class="note-legal" href="" onclick="$('#happy-legal-8').toggle('slow');return false;">Podmienky poistenia zariadenia,</a>
								<div class="happy-legal-content" id="happy-legal-8">
									Služba Poistenie elektronického zariadenia je poskytovaná spoločnosťou Generali Poisťovňa, a. s. Poistnú zmluvu na poistenie elektronického zariadenia je možné uzavrieť len pri kúpe nového mobilného telefónu, tabletu alebo modemu so súčasným uzavretím Zmluvy o poskytovaní verejných služieb alebo jej Dodatku medzi poistníkom ako účastníkom zo Zmluvy a Podnikom, pričom bol dojednaný záväzok viazanosti aspoň na 24 mesiacov. Viac informácií a všeobecné podmienky k poisteniu elektronického zariadenia získate na čísle 0850 111 117, <a href="https://www.generali.sk/sk/" target="_blank">www.generali.sk</a>.
								</div>
							</div>
							<div class="happy-legal" style="display: none">
								<a class="note-legal" href="" onclick="$('#happy-legal-20').toggle('slow');return false;">Easy Pecka s 9 € kreditom za cenu 0 €,</a>
								<div class="happy-legal-content" id="happy-legal-20">
									Ponuka pre Easy Pecka s 9 € kreditom za cenu 0 € platí pre Účastníka do konca pracovného dňa, v ktorom Účastník uzavrel s Podnikom Dodatok k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov s akýmkoľvek mesačným mobilným hlasovým programom služieb, ak účastník túto ponuku nevyužil alebo neodmietol už pred uzavretím tohto Dodatku.
								</div>
							</div>

						</div>
					</div>
				</div>
				</div>
					<div class="happy-legal-cennik">
						Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú
						uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a class="link"
									href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
									target="_blank">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a>
					</div>
			</div>
		</div>
	</div>
</section>

<!-- LIGHTBOXes -->
<div>
	<!-- LightBox:dataNavyse1GB-->
	<div class="lightbox-area" id="dataNavyse1GB">
		<div class="p-head">
			<div class="p-close" href="#">
				<a href="#" class="close-btn">
					<!-- # -->
				</a>
			</div>
		</div>
		<!-- POPUP CONTENT -->
		<div class="p-content">
			<h2 class="lightbox-title">Mesačné dáta 1GB</h2>
			<table>
				<tbody>
					<tr class="tr-head">
						<th>
							Cena mesačne:
						</th>
						<th>
							5,00 €
						</th>
					</tr>
					<tr>
						<td>
							Dostupnosť:
						</td>
						<td>
							ku všetkým paušálom ÁNO
						</td>
					</tr>
					<tr>
						<td>
							Viazanosť balíka:
						</td>
						<td>
							24 mesiacov
						</td>
					</tr>
				</tbody>
			</table>
			<p class="lightbox-desc">
				Dáta z balíka sa čerpajú po prečerpaní voľných dát z paušálu. Neminuté dáta z balíka sa automaticky a bezplatne prenesú do
				ďalšieho zúčtovacieho obdobia.</p>
			<div class="tip">
				<p>Balík aktivujete v nákupnom košíku počas kúpy paušálu.</p>
			</div>
			<div class="btns">
				<a class="btn cta btn_no-shadow popup-modal-scroll" href="#module-plan-chooser">VYBRAŤ PAUŠÁL</a>
				<br/>
				<a class="closePopupWindow" href="">Zavrieť okno</a>
			</div>
	
		</div>
	</div>


	<!-- popup-stream-on -->
	<div class="lightbox-area" id="popupStreamOn">
		<div class="p-head">
			<div class="p-close" href="#">
				<a href="#" class="close-btn">
					<!-- # -->
				</a>
			</div>
		</div>
		<!-- POPUP CONTENT -->
		<div class="p-content">
			<div class="happy-lightbox">
				Pre aktiváciu zašlite SMS s textom<br/>
				<b>STREAMON AUTO</b> na číslo <b>12323</b></div><br/>
				<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="STREAMON AUTO" href="#">Pošlite SMS</a>
			<div class="btns">
				<a class="closePopupWindow" href="">Zavrieť okno</a>
			</div>
		</div>
	</div>
	<!-- popup-stream-on-apps -->
	<div class="lightbox-area" id="popupStreamOnApps">
		<div class="p-head">
			<div class="p-close" href="#">
				<a href="#" class="close-btn">
					<!-- # -->
				</a>
			</div>
		</div>
		<!-- POPUP CONTENT -->
		<div class="p-content">
			<p class="lightbox-desc">
				Apple Music, YouTube, Netflix, HBO GO, Deezer, Spotify, TIDAL, Markíza+ Videoarchív, Magio GO, DIGI GO, Rádio Europa 2, Rádio Expres, Rádio Vlna/Vlna Golden Hits, Rádio Anténa Rock/Anténa HardRock, Rádio Jemné/Jemné Chillout a Detské rádio Žofka</p>
			<div class="btns">
				<a class="closePopupWindow" href="">Zavrieť okno</a>
			</div>
		</div>
	</div>	

	<!-- LightBox:dataNavyse2GB-->
	<div class="lightbox-area" id="dataNavyse2GB">
			<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn">
						<!-- # -->
					</a>
				</div>
			</div>
			<!-- POPUP CONTENT -->
			<div class="p-content">
				<h2 class="lightbox-title">Mesačné dáta 2GB</h2>
				<table>
					<tbody>
						<tr class="tr-head">
							<th>
								Cena mesačne:
							</th>
							<th>
								6,00 €
							</th>
						</tr>
						<tr>
							<td>
								Dostupnosť:
							</td>
							<td>
							    k paušálom ÁNO M, L, XL a XXL
							</td>
						</tr>
						<tr>
							<td>
								Viazanosť balíka:
							</td>
							<td>
								24 mesiacov
							</td>
						</tr>
					</tbody>
				</table>
				<p class="lightbox-desc">
					Dáta z balíka sa čerpajú po prečerpaní voľných dát z paušálu. Neminuté dáta z balíka sa automaticky a bezplatne prenesú do
					ďalšieho zúčtovacieho obdobia.</p>
				<div class="tip">
					<p>Balík aktivujete v nákupnom košíku počas kúpy paušálu.</p>
				</div>
				<div class="btns">
					<a class="btn cta btn_no-shadow popup-modal-scroll" href="#module-plan-chooser">VYBRAŤ PAUŠÁL</a>
					<br/>
					<a class="closePopupWindow" href="">Zavrieť okno</a>
				</div>
		</div>
	</div>

	<!-- LightBox: Neobmedzené Telekom volania-->
	<div class="lightbox-area" id="neobNavyse">
			<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn">
						<!-- # -->
					</a>
				</div>
			</div>
			<!-- POPUP CONTENT -->
			<div class="p-content">
				<h2 class="lightbox-title">Neobmedzené Telekom volania</h2>
				<table>
					<tbody>
						<tr class="tr-head">
							<th>
								Cena mesačne:
							</th>
							<th>
								3,00 €
							</th>
						</tr>
						<tr>
							<td>
								Dostupnosť:
							</td>
							<td>
								k paušálu ÁNO S
							</td>
						</tr>
						<tr>
							<td>
								Viazanosť balíka:
							</td>
							<td>
								24 mesiacov
							</td>
						</tr>
					</tbody>
				</table>
				<p class="lightbox-desc">
					S balíkom získate neobmedzené volania zo Slovenska a EÚ+ do SR do pevnej a mobilnej siete Telekom, ktoré platia 24 hodín denne, 7 dní v týždni.</p>
				<div class="tip">
					<p>Balík aktivujete v nákupnom košíku počas kúpy paušálu.</p>
				</div>
				<div class="btns">
					<a class="btn cta btn_no-shadow popup-modal-scroll" href="#module-plan-chooser">VYBRAŤ PAUŠÁL</a>
					<br/>
					<a class="closePopupWindow" href="">Zavrieť okno</a>
				</div>
		</div>
	</div>

	<!-- LightBox: 100 min do všetkých sietí-->
	<div class="lightbox-area" id="100navyse">
			<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn">
						<!-- # -->
					</a>
				</div>
			</div>
			<!-- POPUP CONTENT -->
			<div class="p-content">
				<h2 class="lightbox-title">100 minút do všetkách sietí</h2>
				<table>
					<tbody>
						<tr class="tr-head">
							<th>
								Cena mesačne:
							</th>
							<th>
								3,00 €
							</th>
						</tr>
						<tr>
							<td>
								Dostupnosť:
							</td>
							<td>
								k paušálu ÁNO S
							</td>
						</tr>
						<tr>
							<td>
								Viazanosť balíka:
							</td>
							<td>
								24 mesiacov
							</td>
						</tr>
					</tbody>
				</table>
				<p class="lightbox-desc">
					Získate ďalších 100 minút na volania zo Slovenska a EÚ+ do SR a EÚ+, ktoré platia 24 hodín denne, 7 dní v týždni.<br>
				Minúty z balíka sa začnú čerpať po prevolaní voľných minút z paušálu.</p>
				<div class="tip">
					<p>Balík aktivujete v nákupnom košíku počas kúpy paušálu.</p>
				</div>
				<div class="btns">
					<a class="btn cta btn_no-shadow popup-modal-scroll" href="#module-plan-chooser">VYBRAŤ PAUŠÁL</a>
					<br/>
					<a class="closePopupWindow" href="">Zavrieť okno</a>
				</div>
		</div>
	</div>

	<!-- LightBox: Volania najbližším -->
	<div class="lightbox-area" id="navyseNajblizsi">
			<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn">
						<!-- # -->
					</a>
				</div>
			</div>
			<!-- POPUP CONTENT -->
			<div class="p-content">
				<h2 class="lightbox-title">Volania najbližším</h2>
				<table>
					<tbody>
						<tr class="tr-head">
							<th>
								Cena mesačne:
							</th>
							<th>
								9,99 €
							</th>
						</tr>
						<tr>
							<td>
								Dostupnosť:
							</td>
							<td>
								k paušálu ÁNO S
							</td>
						</tr>
						<tr>
							<td>
								Viazanosť balíka:
							</td>
							<td>
								bez viazanosti
							</td>
						</tr>
					</tbody>
				</table>
				<p class="lightbox-desc">
					S balíkom získate neobmedzené volania na tri ľubovoľné čísla, ktoré sú v akejkoľvek sieti v SR.</p>
				<div class="tip">
					<p>Balík aktivujete v nákupnom košíku počas kúpy paušálu.</p>
				</div>
				<div class="btns">
					<a class="btn cta btn_no-shadow popup-modal-scroll" href="#module-plan-chooser">VYBRAŤ PAUŠÁL</a>
					<br/>
					<a class="closePopupWindow" href="">Zavrieť okno</a>
				</div>
		</div>
	</div>

	<!-- LightBox: SMS a MMS navyše -->
	<div class="lightbox-area" id="smsMMSnavyse">
			<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn">
						<!-- # -->
					</a>
				</div>
			</div>
			<!-- POPUP CONTENT -->
			<div class="p-content">
				<h2 class="lightbox-title">Neobmedzené SMS a MMS</h2>
				<table>
					<tbody>
						<tr class="tr-head">
							<th>
								Cena mesačne:
							</th>
							<th>
								3,00 €
							</th>
						</tr>
						<tr>
							<td>
								Dostupnosť:
							</td>
							<td>
								k paušálu ÁNO S
							</td>
						</tr>
						<tr>
							<td>
								Viazanosť balíka:
							</td>
							<td>
								24 mesiacov
							</td>
						</tr>
					</tbody>
				</table>
				<p class="lightbox-desc">
					Získate ľubovoľné množstvo SMS a MMS zo Slovenska a EÚ+ do SR a EÚ+, ktoré môžete posielať 24 hodín denne, 7 dní v týždni.</p>
				<div class="tip">
					<p>Balík aktivujete v nákupnom košíku počas kúpy paušálu.</p>
				</div>
				<div class="btns">
					<a class="btn cta btn_no-shadow popup-modal-scroll" href="#module-plan-chooser">VYBRAŤ PAUŠÁL</a>
					<br/>
					<a class="closePopupWindow" href="">Zavrieť okno</a>
					<p style="color:#6c6c6c;font-size: 14px;">Nevzťahuje sa na správy poslané na skrátené čísla, čísla služieb mobilnej zábavy, na správy poslané z virtuálnych čísiel, SMS brán, t-zones, PC Messengera, SMS Directu a E-Mailu SMS.</p>
				</div>
		</div>
	</div>

	<!-- LightBox:100MB -->
	<div id="data100" style="display:none">
		<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn"><!-- # --></a>
				</div>
		</div>
		<!-- POPUP CONTENT -->
		<div class="p-content">
			<div class="happy-lightbox">
				Pre aktiváciu zašlite SMS s textom<br/>
				<strong>100 ZAP</strong> na číslo <strong>12323</strong><br/>
				<br/>
				<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="100 ZAP" href="#">Pošlite SMS</a>
			</div>
		</div>
	</div>

	<!-- LightBox:500MB -->
	<div id="data500" style="display:none">
		<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn"><!-- # --></a>
				</div>
		</div>
		<!-- POPUP CONTENT -->
		<div class="p-content">
			<div class="happy-lightbox">
				Pre aktiváciu zašlite SMS s textom<br/>
				<strong>500 ZAP</strong> na číslo <strong>12323</strong><br/>
				<br/>
				<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="500 ZAP" href="#">Pošlite SMS</a>
			</div>
		</div>
	</div>

	<!-- LightBox:1000MB -->
	<div class="fancybox_hide" id="data1000" style="display: none;">
		<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn"><!-- # --></a>
				</div>
		</div>
		<!-- POPUP CONTENT -->
		<div class="p-content">
			<div class="happy-lightbox">
				Pre aktiváciu zašlite SMS s textom<br/>
				<strong>DATA1000ZAP</strong> na číslo <strong>12323</strong><br/>
				<br/>
				<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA1000ZAP" href="#">Pošlite SMS</a>
			</div>
		</div>
	</div>

	<!-- LightBox:1000MB den-->
	<div class="fancybox_hide" id="dataden1000" style="display: none;">
		<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn"><!-- # --></a>
				</div>
		</div>
		<div class="p-content">
			<div class="happy-lightbox">
				Pre aktiváciu zašlite SMS s textom<br/>
				<strong>DATA DEN 1000</strong> na číslo <strong>12323</strong><br/>
				<br/>
				<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA DEN 1000" href="#">Pošlite
					SMS</a></div>
		</div>
	</div>

	<!-- LightBox:data neob -->
	<div class="fancybox_hide" id="datadenneob" style="display: none;">
		<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn"><!-- # --></a>
				</div>
		</div>
		<div class="p-content">
			<div class="happy-lightbox">
				Pre aktiváciu zašlite SMS s textom<br/>
				<strong>DATA DEN NEOB</strong> na číslo <strong>12323</strong><br/>
				<br/>
				<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA DEN NEOB" href="#">Pošlite
					SMS</a></div>
		</div>
	</div>

	<!-- Lightbox: Zlavovy Kupon -->
	<div class="fancybox_hide" id="kupon" style="display: none;">
		<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn"><!-- # --></a>
				</div>
		</div>
		<div class="p-content">
			<div class="p-content">
				<div class="happy-lightbox">
					Pre opätovné zaslanie zľavového kupónu <br/> zašlite SMS s textom <strong>KUPON</strong> na číslo <strong>12323</strong>.<br/>
					<br/>
					<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="KUPON" href="#">Pošlite SMS</a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- LightBox: HAPPY XL DÁTA PRE MLADÝCH -->
	<div class="lightbox-area" id="lightbox-young">
		<div class="p-head">
				<div class="p-close" href="#">
					<a href="#" class="close-btn"><!-- # --></a>
				</div>
		</div>
		<!-- POPUP CONTENT -->
		<div class="p-content" style="padding: 0 10px 10px 10px">
			<div class="col-md-12 box-outside" id="happy-young">
				<!-- program type -->
				<div class="program_title text_centered">
					HAPPY XL DÁTA PRE MLADÝCH
				</div>
				<div class="program_item">
					<!--  volania -->
					<div class="program_volania box-inside">
						<h3>
							VOLANIA</h3>
						<div class="desc">
							<h4>
								neobmedzené</h4>
							volania do siete Telekom a pevných sietí v SR
						</div>
						<div class="desc">
							<h4>
								100 minút</h4>
							volania zo SR a z <span class="roaming-info info-link">EÚ+</span> do ostatných sietí v SR a v <span
										class="roaming-info info-link">EÚ+</span></div>
						<div class="desc">
							<h4>
								neobmedzené</h4>
							prichádzajúce volania v <span class="roaming-info info-link">EÚ+</span></div>
					</div>
					<!-- sms -->
					<div class="sms box-inside">
						<h3>
							SMS a MMS</h3>
						<div class="desc">
							<h4>
								0,10 €</h4>
							do všetkých sietí v SR<br/>
							<br/>
							Poznámka:<br/>
							0,07 € z <span class="roaming-info info-link">EÚ+</span> do SR a <span
										class="roaming-info info-link">EÚ+</span><br/>
							0,15 €/SMS a 0,39 €/MMS zo SR do <span class="roaming-info info-link">EÚ+</span></div>
					</div>
					<!--  internet -->
					<div class="internet box-inside">
						<h3>
							4G INTERNET V MOBILE</h3>
						<div class="desc">
							<h4>
								5 GB v SR a <span class="roaming-info info-link">EÚ+</span></h4>
						</div>
					</div>
					<!-- price -->
					<div class="cena">
						<div class="cena-left">
							<div class="cena-inholder">
								<div class="cena-side-l">
									<h2 class="font_magenta">
										19,99 €</h2>
								</div>
								<div class="cena-side-r">
									<span class="font_magenta"> mesačne</span></div>
							</div>
						</div>
						<div class="cena-right happy_young-info">
							<img alt="" src="../assets/img/ec-zlava20.png"/></div>
					</div>
					<!--  cta -->
					<div class="objednat">
						<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_data_premladych">vybrať</a>
					</div>
				</div>
			</div>
			<div class="col-md-12 lb-disc">
				<p class="text_centered">
					Paušál je určený pre zákazníkov do 26 rokov.</p>
			</div>
		</div>
	</div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="../assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../assets/js/sticky.min.js"></script>
<script type="text/javascript" src="../assets/js/modul.pausaly.js"></script>
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=2"></script>
<script type="text/javascript" src="../assets/js/prolong.js"></script>
<script type="text/javascript" src="../assets/js/phones.js"></script>
