<div id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			<img class="icon-ec" src="../assets/img/ec-pevna-linka.png" />
		</div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>PEVNÁ LINKA</b><br />
				S VOĽNÝMI MINÚTAMI</br>
				AJ NA MOBILY
			</h1>
			<a href="#sec-2" style="margin: 5px 0" class="scroll-to btn cta">VYBRAŤ SI PEVNÚ LINKU</a></br>
			<a class="scroll-to" href="#sec-1">Viac info o Pevnej linke</a>
			<img class="icon-ec"  src="../assets/img/ec-pevna-linka.png" />
		</div>
	</div>
</div>
<div id="nav-sticky">
  <ul>
    <li>
      <a class="scroll-to" href="#sec-1">VÝHODY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-9">AKTUÁLNE AKCIE</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-3">TELEFÓNY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-4">DOPLNKOVÉ SLUŽBY</a>
    </li>
    <li>
      <a class="scroll-to" href="#wrapper"
        >NAHOR <img alt="arrow-top" src="../assets/img/arrow-top.png"
      /></a>
    </li>
  </ul>
</div>
<section class="section" id="sec-1">
  <div class="container-fixed">
    <div class="sec__title">
      Výhody pevnej linky
    </div>
    <div class="row text_centered">
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="img-holder">
          <img alt=" " src="../assets/img/ico-01m.png" />
        </div>
        <p class="sec__description">
          <b>Neobmedzené volania</b>
          <br />
          Užívajte si neobmedzené volania na mobily, do pevných sietí
          a&nbsp;Európskej únie z&nbsp;pohodlia svojho domova.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="img-holder">
          <img alt=" " src="../assets/img/ico-02m.png" />
        </div>
        <p class="sec__description">
          <b>Spoľahlivosť a kvalita</b>
          <br />
          S rokmi overenou Pevnou linkou od Telekomu sa môžete spoľahnúť na
          stabilné pripojenie s&nbsp;vysoko kvalitným zvukom.
          <br />
        </p>
      </div>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="img-holder">
          <img alt=" " src="../assets/img/ico-03m.png" />
        </div>
        <p class="sec__description">
          <b>Široká dostupnosť v celej SR</b>
          <br />
          Pevnú linku vieme zriadiť takmer na celom Slovensku. Overte si
          dostupnosť v&nbsp;prvom kroku nákupného košíka
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section" id="sec-2">
  <div class="container-fixed">
    <div class="sec__title">
      Služby a ceny pevnej linky
    </div>
    <div class="row text_centered">
      <p class="sub-headline">
        Pevná linka sa dá objednať v Chytrom balíku samostatne alebo za
        výhodnejšiu cenu
        <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="link"
          >s internetom a/alebo televíziou</a
        >
      </p>
    </div>
    <div class="row text_centered">
      <div class="col-xs-12 col-md-4">
        <div class="service">
          <h3>
            PEVNÁ LINKA M
          </h3>
          <div class="description">
            <h4 class="rpln-m">
              Neobmedzené volania<img
                alt=""
                src="../assets/img/info.png"
                style="width: 15px; height: auto; margin-left: 4px;"
              />
            </h4>
            <p>
              do pevných sietí v SR<br />
              a do mobilnej siete Telekom
            </p>
            <h4>100 minút</h4>
            <p>
              do ostatných mobilných sietí v SR<br />
              a do Európskej únie
            </p>
          </div>
          <h4>10,90 € / MESAČNE</h4>
          <a
            class="btn cta"
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?linka=m"
            >VYBRAŤ</a
          >
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="service">
          <h3>
            PEVNÁ LINKA L
          </h3>
          <div class="description">
            <h4 class="rpln-l">
              Neobmedzené volania<img
                alt=""
                src="../assets/img/info.png"
                style="width: 15px; height: auto; margin-left: 4px;"
              />
            </h4>
            <p>
              do všetkých pevných<br />
              a mobilných sietí v SR
            </p>
            <h4>400 minút</h4>
            <p>do Európskej únie</p>
          </div>
          <h4>15,90 € / MESAČNE</h4>
          <a
            class="btn cta"
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?linka=l"
            >VYBRAŤ</a
          >
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="service">
          <h3>
            PEVNÁ LINKA XL
          </h3>
          <div class="description">
            <h4 class="rpln-xl">
              Neobmedzené volania<img
                alt=""
                src="../assets/img/info.png"
                style="width: 15px; height: auto; margin-left: 4px;"
              />
            </h4>
            <p>
              do všetkých pevných<br />
              a mobilných sietí v SR
            </p>
            <h4 class="rpln-xl">
              Neobmedzené volania<img
                alt=""
                src="../assets/img/info.png"
                style="width: 15px; height: auto; margin-left: 4px;"
              />
            </h4>
            <p>do Európskej únie</p>
            <h4>200 minút</h4>
            <p>do sveta</p>
          </div>
          <h4>20,90 € / mesačne</h4>
          <a
            class="btn cta"
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?linka=xl"
            >VYBRAŤ</a
          >
        </div>
      </div>
    </div>
    <div class="row text_centered">
      <div class="col-xs-12">
        <p>
          Všetky uvedené ceny sú vrátane DPH.<br />
          Uvedené ceny služby Pevná linka predstavujú akciové ceny za
          poskytovanie Samostatnej služby alebo Služby v&nbsp;rámci Balíka
          služieb s&nbsp;24-mesačnou viazanosťou. Neobmedzené hovory vám
          poskytujeme vďaka zásadám férového používania. Pre
          paušál&nbsp;M&nbsp;-&nbsp;1000 minút do mobilnej siete Telekom., pre
          paušál&nbsp;L&nbsp;-&nbsp;1000 minút do mobilných sietí v&nbsp;SR, pre
          paušál&nbsp;XL&nbsp;-&nbsp;1000 minút do mobilných sietí v&nbsp;SR
          a&nbsp;1000 minút do EÚ. Služba Pevná linka v&nbsp;programoch M, L a
          XL a&nbsp;služba Doma Happy v&nbsp;programoch M, L a XL predstavujú
          jednu a&nbsp;tú istú službu. Ak je v&nbsp;akomkoľvek dokumente
          spoločnosti Slovak Telekom, a.s. uvedené označenie služby Doma Happy
          v&nbsp;programoch M, L a XL, myslí sa tým služba Pevná linka
          v&nbsp;programoch M, L a XL.
        </p>
      </div>
    </div>
  </div>
</section>
