/* ===============
   CSS FOR MICROSITE
   =============== */

/* VARIABLES */

$mine-shaft: #383838;
$boulder: #757575;
$gallery: #ededed;
$silver-chalice: #b2b2b2;
$silver-chalice-dark: #a1a1a1;
$nobel: #b4b4b4;
$nobel-mid: #b6b6b6;
$alto-light: #dedede;
$alto: #dbdbdb;
$alto-mid: #d7d7d7;
$mercury: #e7e7e7;
$silver-light: #cdcdcd;
$silver: #bababa;
$concrete: #f2f2f2;
$white: #ffffff;
$black: #000000;
$lima: #6bb324;
$vida-loca-light: #65ac20;
$vida-loca: #58951c;
$vida-loca-mid: #5e9e20;
$vida-loca-dark: #4d8319;
$rose: #e20074;
$lipstick: #cc0069;
$fresh-eggplant: #9f0052;
$razzmatazz: #db0070;
$deep-cerulean: #007faf;
$deep-cerulean-mid: #017ba9;
$orient: #00668d;
$cornflower-blue: #66afe9;

.box-mi {
    position: relative;
    background: url('../assets/img/box-mi.jpg') no-repeat 0 50%;
    margin-bottom: 0;
}

.info-panel {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    display: inline-block;
    border: solid 1px #d0d0d0;
    width: 100%;
}

#content .ip-title {
    margin: 0;
    font-size: 36px !important;
}

#content .info-panel .btn {
    float: right;
    display: inline-block;
}

@media screen and (max-width: 580px) {
    .box-mi {
        min-height: 240px;
        background: url('../assets/img/box-mi-mob.jpg') no-repeat 0 50%;
    }

    #content .info-panel .btn {
        margin-top: 15px;
    }
}

/* BUTTONS */

#content .btn {
    text-transform: uppercase;
    font-size: 16px;
    color: $mine-shaft;
    background-color: $gallery;
    border: 1px solid $silver-chalice;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
}

#content .btn .fa {
    margin-right: 6px;
}

#content .btn .fa-only {
    margin-right: 0;
}

#content .btn:hover {
    background-color: $alto;
    border: 1px solid $silver-chalice-dark;
}

#content .btn:active {
    background-color: $mercury;
    border: 1px solid $silver-chalice;
}

#content .btn.btn_disabled {
    color: $silver;
    background-color: $concrete;
    border: 1px solid $alto-light;
    cursor: no-drop;
}

#content .cta {
    color: $white;
    background-color: $lima;
    border: 1px solid $vida-loca;
}

#content .cta:hover {
    background-color: $vida-loca-mid;
    border: 1px solid $vida-loca-dark;
}

#content .cta:active {
    background-color: $vida-loca-light;
    border: 1px solid $vida-loca;
}

#content .cta_mag {
    color: $white;
    background-color: $rose;
    border: 1px solid $lipstick;
}

#content .cta_mag:hover {
    background-color: $lipstick;
    border: 1px solid $fresh-eggplant;
}

#content .cta_mag:active {
    background-color: $razzmatazz;
    border: 1px solid $lipstick;
}

#content .cta.btn_disabled,
#content .cta_mag.btn_disabled {
    color: $white;
    background-color: $alto-mid;
    border: 1px solid $silver-light;
}

#content .btn_clean {
    background-color: $white;
    border: 1px solid $white;
    color: $mine-shaft;
}

#content .btn_clean:hover {
    background-color: $gallery;
    border: 1px solid $gallery;
}

#content .btn_outline,
#content .btn_outline:hover {
    background-color: transparent;
    border: 1px solid $silver-chalice;
}

#content .btn_mag-outline,
#content .btn_mag-outline:hover {
    background-color: transparent;
    color: $rose;
    border: 1px solid $rose;
}

#content .link {
    color: $deep-cerulean;
    text-decoration: underline;
}

#content .link:hover {
    color: $orient;
    text-decoration: underline;
}

#content .link:active {
    color: $deep-cerulean-mid;
    text-decoration: none;
}

/* GLOBALS */

#content .sec__title {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.section {
    padding: 40px 0 40px 0;
}

#sec-6.section {
    padding: 0;
    background-color: #ededed;

    .cit-img {
        background: url(../img/chytry_balik.jpg) no-repeat 100% 50%;
        height: 700px;

        @media screen and (max-width: 900px) {
            background: url(../img/chytry_balik_768.jpg) no-repeat 100% 50%;
            height: 984px;
        }

        @media screen and (max-width: 480px) {
            background: url(../img/chytry_balik_480.jpg) no-repeat 50% 50%;
            height: 271px;
        }
    }

    h2.title {
        margin: 0 0 40px 0;
        font-size: 32px;
        color: #262626;
        font-weight: 600;

        @media screen and (max-width: 900px) {
            margin: 0 0 10px 0;
        }
    }

    .btn {
        margin-top: 30px;

        @media screen and (max-width: 900px) {
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 540px) {
        h2 {
            margin: 15px 0;
            padding: 0;
        }

        .btn {
            margin-top: 10px;
        }
    }

    .c-i-t {
        max-width: 1366px;
        display: flex;

        .cit-content {
            width: 50%;

            &.cit-940 {
                display: flex;
                align-items: center;

                .cit-940-content {
                    width: 100%;
                    max-width: 470px;
                    padding-right: 10px;

                    @media screen and (max-width: 480px) {
                        .cont-btn {
                            text-align: center;
                        }
                    }
                }
            }
        }

        .cit-img {
            width: 50%;
        }

        &.cit-left {
            .cit-content {
                &.cit-940 {
                    justify-content: flex-end;
                }
            }

            .cit-img {
                text-align: right;
            }

            @media screen and (max-width: 480px) {
                flex-direction: column-reverse;
            }
        }

        @media screen and (max-width: 960px) {
            padding-right: 0;
            margin-right: 0;
        }

        @media screen and (max-width: 480px) {
            flex-direction: column;
            padding: 0;
            margin: 0;
            width: 100%;

            .cit-content,
            .cit-img {
                width: 100%;
            }

            .cit-content {
                padding: 50px 2%;
                margin: 0 auto;
                width: 96%;
            }
        }
    }
}

#content .example {
    margin: 20px 0;

    .content {
        padding-top: 10px;
        display: flex;

        .item {
            text-align: center;

            .top {
                height: 90px;

                &.img {
                    display: flex;
                    align-items: center;

                    img {
                        width: 120px;
                    }
                }
            }

            &.price {
                margin-top: 28px;

                h2 {
                    margin: 0;
                    padding: 0;
                    color: $magenta;
                    font-weight: 600;
                }

                .top {
                    height: 62px
                }

                .old-price {
                    font-size: 22px;
                    margin: 0;
                    text-decoration: line-through;
                }
            }

            &.mark {
                font-weight: 800;
                font-size: 48px;
                margin-top: 15px;
                padding: 0 15px;
            }

            &.mark:last-of-type {
                padding: 0 10px 0 5px;
            }
        }

        @media screen and (max-width: 960px) {
            .item {
                &.mark {
                    padding: 0 8px;
                }

                .top {
                    &.img {
                        img {
                            width: 113px;
                        }
                    }
                }
            }
        }

    }

    @media screen and (max-width: 900px) {
        margin: 20px 0;

        .content {
            flex-direction: column;

            .item {
                max-width: 140px;

                .top {
                    height: auto;

                    &.img {
                        img {
                            width: 100%;
                        }
                    }
                }

                >p {
                    margin: 5px 0 0 0;
                    font-size: 16px;
                }

                &.mark {
                    margin-top: 0;
                }

                &.price {
                    margin-top: 0;

                    .top {
                        height: auto;
                    }

                    >p {
                        margin: 0;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 630px) {
        .content {
            .item {
                max-width: 100px;

                >p {
                    margin: 0;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        text-align: center;
        margin-top: 60px;

        .content {
            align-items: center;

            .item {
                max-width: 100%;
                width: 100%;

                >p {
                    font-size: 24px;
                }

                .top {
                    &.img {
                        justify-content: center;

                        img {
                            width: auto;
                            max-width: 90%;
                        }
                    }
                }

                &.price {
                    h2 {
                        font-size: 68px;
                    }

                    .old-price {
                        font-size: 46px;
                    }
                }
            }
        }
    }
}

/* HERO */

#hero {
    background: url("../img/hero_940.jpg") no-repeat 50% 50%;
    background-size: cover;
    height: 250px;
    padding-top: 40px;
    overflow: hidden;

    & .hero__mobile {
        display: none;
    }
}

.hero__content {
    text-align: center;
    position: relative;

    & img.icon-ec {
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: -130px;
    }
}

#content .hero__title {
    //color: #000;
    margin-top: 0px;
    margin-bottom: 10px;
}

#hero .link {
    margin-top: 10px;
    display: inline-block;
}

#content {
    #hero {
        a {
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 960px) {
    #hero_old {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        background: url("../img/hero_768.jpg") no-repeat 58% 50%;

        & .hero__content {
            & img.icon-ec {
                right: -130px;
            }
        }
    }

    #content .hero__title {
        margin-top: 30px;
    }
}

@media screen and (max-width: 560px) {
    #hero {
        & .hero__content {
            width: initial;
        }
    }
}

@media screen and (max-width: 543px) {
    #hero {
        background: transparent;
        padding: 0;
        height: auto;

        .hero__mobile {
            display: block;
            background: url("../img/hero_480.jpg") no-repeat 100% 10%;
            background-size: cover;
            height: 210px;
            position: relative;
        }

        .container-fixed {
            margin: 0;
            padding: 0;
            width: 100%;
        }

        .hero__content {
            width: 100%;
            padding: 10px 4%;

            & img.icon-ec {
                right: 20px;
                top: -180px;
            }
        }

        .btn {
            margin-top: 10px;
        }

        .hero__title,
        .hero__desc {
            color: #262626 !important;
        }
    }
}

/* XMAS OFFERS */

@media screen and (max-width: 768px) {
    .section {
        padding: 40px 0 40px 0;
    }
}

.akcie_title {
    text-align: center;
    color: #4b4b4b;
}

.offer-box {
    background: #fff;
    border: 1px solid #d0d0d0;
    //padding: 20px 30px;
}

#content .main-offer__title {
    font-size: 32px;
    color: #262626;
}

#content .main-offer__desc {
    color: #4b4b4b;
}

#content .offer__title,
#content .so__title {
    color: #262626;
    font-size: 22px;
}

#content .so__title {
    font-size: 16px;
}

#content .offer__desc,
#content .offer__link,
#content .so__desc {
    color: #4b4b4b;
}

.sol_ico:nth-of-type(2) {
    display: inline-block;
    margin-top: 5px;
}

.sol_ico img {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.left-holder {
    float: left;
}

.right-holder {
    float: right;
}

.offer__wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.sub-offer__holder {
    margin-top: 20px;
}

.sub-offer {
    width: 32%;
    float: left;
}

.sub-offer:nth-of-type(1) {
    padding-right: 2%;
}

.sub-offer:nth-of-type(2) {
    padding: 0 2%;
    margin-right: 2%;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

/* BOX - 1 */

.box-1 .left-holder {
    width: 38%;
}

.box-1 .right-holder {
    width: 60%;
}

.box-1 img {
    max-width: 275px;
    width: 100%;
}

@media screen and (max-width: 670px) {
    .box-1 .left-holder {
        display: none;
    }

    .box-1 .right-holder {
        width: 100%;
    }
}

/* SEC-4 OSTATNE AKCIE */
/* BOX - 2 */
.box-2 {
    width: 70%;
    float: left;
    margin: 1% 1% 1% 0%;
    height: 230px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .offer__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        & .left-holder {
            width: 60%;
            padding: 20px;
        }

        & .right-holder {
            width: 40%;
            height: 80%;
            background: url(../img/prod-eset.jpg) no-repeat 50% 50%;
            background-size: contain;
        }
    }
}

@media screen and (max-width: 768px) {
    .box-2 {
        margin: 1% 1% 1% 0%;
        width: 60%;
        height: auto;
        min-height: auto;

        & .right-holder {
            min-height: 200px;
        }
    }
}

@media screen and (max-width: 600px) {
    .box-2 {
        width: 100%;
        margin: 0%;

        & .offer__wrapper {
            display: flex;
            flex-direction: column-reverse;

            & .right-holder {
                width: 100%;
                min-height: 150px;
            }

            & .left-holder {
                width: 100%;
                text-align: center;
            }
        }
    }
}

/* BOX - 8 */
.box-8 {
    width: 28%;
    float: left;
    margin: 1% 0% 1% 1%;
    //height: 230px;
    min-height: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .offer__wrapper {
        height: 100%;
        width: 100%;

        & .bottom-holder {
            min-height: 163px;
            padding: 0px 10px 10px 10px;
            overflow: hidden;

            & h4 {
                color: #262626;
                font-size: 22px;
            }
        }

        & .top-holder {
            height: 65px;
            background: url(../img/box-viac-za-menej_2.jpg) no-repeat 50% 50%;
            background-size: contain;
        }
    }
}

@media screen and (max-width: 768px) {
    .box-8 {
        margin: 1% 0% 1% 1%;
        width: 38%;
        height: auto;
        min-height: auto;

        & .offer__wrapper {
            & .bottom-holder {
                padding: 20px;
            }

            & .top-holder {
                //height: 50px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .box-8 {
        margin: 3% 0 0 0;
        width: 100%;

        & .offer__wrapper {
            & .bottom-holder {
                width: 100%;
                min-height: auto;
                padding: 20px;
            }

            & .top-holder {
                width: 100%;
                min-height: 150px;
            }
        }
    }
}

/* BOX - 9 */
.box-9 {
    width: 23%;
    float: left;
    margin: 1% 0% 1% 1%;
    min-height: 330px;

    & .offer__wrapper {
        height: 100%;
        width: 100%;

        & .bottom-holder {
            height: 100%;
            padding: 0px 10px;
        }

        & .top-holder {
            //height: 30%;
        }
    }
}

@media screen and (max-width: 768px) {
    .box-9 {
        margin: 1% 0% 1% 1%;
        width: 58%;
        height: auto;
        min-height: auto;

        & .bottom-holder {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .box-9 {
        margin: 3% 0 0 0;
        width: 100%;

        & .right-holder {
            width: 100%;
        }

        & .left-holder {
            width: 100%;
        }
    }
}

/* SEC-4 OSTATNE AKCIE END */

/* BOX - 3 */

.box-3 {
    float: right;
    width: 49%;
    margin-top: 20px;
    min-height: 240px;
}

.box-3 .left-holder {
    width: 60%;
}

.box-3 .right-holder {
    width: 38%;
    text-align: right;
}

.box-3 img {
    max-width: 248px;
    width: 100%;
}

#content .offer__title {
    margin-top: 15px;
}

@media screen and (max-width: 900px) {
    .box-3 {
        /*width: 68%;*/
    }

    .box-3 .left-holder {
        width: 100%;
    }

    .box-3 .right-holder {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .box-3 {
        float: right;
        width: 100%;
        margin-top: 10px;
    }

    // .box-2 {
    //     width: 100%;
    //     margin-top: 10px;
    // }
    .box-3 .left-holder {
        width: 60%;
    }

    .box-3 .right-holder {
        width: 38%;
        display: inline-block;
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    .box-3 .left-holder {
        width: 100%;
    }

    .box-3 .right-holder {
        display: none;
    }

    //   .box-2 .left-holder {
    //     display: none;
    // }
    //  .box-2 .right-holder {
    //     width: 100%;
    //}
    .sub-offer {
        width: 100%;
    }

    .sub-offer:nth-of-type(1) {
        padding-right: 0;
    }

    .sub-offer:nth-of-type(2) {
        padding: 4% 0;
        margin: 4% 0;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
    }

    #content .main-offer__title,
    #content .offer__title {
        margin-top: 0;
    }
}

/* ***********************

***********************  */

/* ITEM */

.item-sec1 {
    width: 32%;
    float: left;
    text-align: center;
}

.item-sec1:nth-of-type(2) {
    padding: 0 2%;
}

.item__title {
    font-weight: 500;
    color: #000000;
}

#content .item__link {
    color: #4b4b4b;
}

.sec-5 .item-sec1 {
    width: 50%;
}

.item__holder {
    max-width: 600px;
    margin: 0 auto;
}

@media screen and (max-width: 550px) {
    .item-sec1 {
        width: 100%;
    }

    .item-sec1:nth-of-type(2) {
        padding: 4% 0;
    }
}

/* SEC - 2 */

.sec-2 {
    background-color: #ededed;
}

.sec-2 .right-side {
    float: right;
}

.sec-2 .right-side img {
    max-width: 379px;
    width: 100%;
}

.sec-2 .left-side {
    float: left;
    text-align: center;
    margin-top: 30px;
}

.sec-2 .right-side,
.sec-2 .left-side {
    width: 49%;
}

@media screen and (max-width: 550px) {
    .sec-2 .right-side {
        display: none;
    }

    .sec-2 .left-side {
        width: 100%;
    }
}

/* SEC - 3 */

.sec-3 {
    background-color: #fff;
}

/* SEC - 5 */

.sec-5 {
    background-color: #fff;
}

/* TABS FIX */

.sticker-picture2 {
    position: absolute;
    top: 0px;
    left: 160px;
}

#tab-1 .tab-img-cont,
#tab-2 .tab-img-cont,
#tab-3 .tab-img-cont {
    min-height: 190px;
    position: relative;
    margin-bottom: 10px;

    & .change-width {
        max-width: 100%;
    }

    & .change-width:nth-of-type(2) {
        margin-top: 20px;
    }
}

/* TABS FIX END */

.strikethrough {
    position: relative;
    margin-right: 10px;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.box-7-outer {
    background: url(/documents/10179/639145/box-b2s.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: 350px;
    float: left;
    width: 100%;
}

/* LIGHTBOX */
#info-magio-box {
    display: none;
    width: 560px;
    padding: 0px 10px 0 20px;
    font-size: 16px;

    &>div {
        display: inline-block;
    }

    & h2 {
        text-align: center;
    }

    & .lightbox-content {
        width: 283px;
    }

    & .lightbox-img-cont {
        vertical-align: top;
        margin-left: 15px;
        width: 210px;
        position: relative;

        & img {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    & .lightbox-content-2 {
        color: #999;
    }

    & .lightbox-content-3 {
        color: $magenta;
        background-color: #fff6d5;
        padding: 10px;

        & div {
            display: inline-block;
            font-size: 16px;
            vertical-align: top;
        }

        & .lightbox-3-cont {
            max-width: 220px;
            margin-left: 10px;
        }
    }

    & div[class^="lightbox-content-"] {
        margin-top: 10px;
    }

    & .tab-ex {
        text-align: left;
        font-weight: normal;
        font-size: 16px;

        & p:first-child {
            border-bottom: solid 1px #ccc;
        }

        & p {
            margin: 1px 0;
        }

        &>div:last-child {
            border-top: solid 1px #ccc;
            color: $magenta;
            font-weight: bold;
            //margin-top: 5px;
            //padding-top: 5px;
        }
    }

    & .tab-ex .tab-ex-label {
        display: inline-block;
        width: 90px;
    }

    & .tab-ex .tab-ex-price {
        display: inline-block;
        width: 110px;
        text-align: right;
    }

    & .lightbox-content-mob {
        display: none;
        position: relative;
    }

    & .close-end {
        text-align: right;
        cursor: pointer;
        margin-top: 0;
        font-weight: bold;

        & a {
            font-size: 26px !important;
            color: #999;
        }
    }

    & .sticker-picture {
        width: 80px !important;
        top: 20px;
        left: 105px;
    }

    .lightbox-action {
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 610px) {
    #info-magio-box {
        width: 320px;
        padding: 0;
        height: 520px;
        position: relative;

        & .lightbox-content {
            width: 100%;
        }

        & div {
            display: block;
        }

        & .lightbox-content-1 {
            & div {
                display: inline-block;
                vertical-align: top;
            }

            & div:nth-child(2) {
                margin-left: 10px;
                width: 200px;
            }
        }

        & .lightbox-img-cont {
            margin: 10px 0;
            width: 100%;

            & img {
                display: none;
            }
        }

        & .lightbox-content-3 {
            position: absolute;
            width: 100%;
            bottom: 55px;
            left: 0;

            & .lightbox-3-cont {
                max-width: 250px;
            }
        }

        & .tab-ex .tab-ex-price {
            width: 220px;
        }

        & .close-end {
            margin-bottom: 0;
            width: 100%;
        }

        & .sticker-picture {
            width: 40px !important;
            top: 5px;
            left: 45px;
        }

        & .lightbox-action {
            position: absolute;
            bottom: 0;
            left: 90px;
        }
    }
}

/* LIGHTBOX - END */

.box-6-outer {
    background: url(/documents/10179/639145/box-viac-za-menej.jpg) no-repeat 50% 50%;
    min-height: 250px;
    background-size: cover;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    border: solid 1px #d0d0d0;
}

.box-6 .right-holder {
    width: 48%;
    padding: 30px 24px;
}

#content .legal-text {
    font-size: 12px !important;
    margin: 0;
    padding: 0 5px;

    & a {
        cursor: pointer;
        font-size: 12px;
    }
}

#legal_more {
    display: none;
}

#cont_legal {
    background-color: #eee;
    padding: 5px;
}

section .ostatne-akcie {
    padding-top: 0;
}