<section id="hero">
  <div class="container-fixed">
    <div class="hero__mobile">
      <img
        class="device__img"
        src="../assets/img/magio_go_product.png"
        alt=""
      />
    </div>
    <div class="hero__content">
      <div class="ec-holder">
        <img src="../assets/img/ec-new.png" alt="" />
      </div>
      <div class="desc-holder">
        <h1 class="hero__title">
          <span class="text_bold">MAGIO GO</span>
          <span class="text_thin"
            >SLEDUJTE ONLINE <br />TELEVÍZIU KDEKOĽVEK</span
          >
        </h1>
        <a class="btn cta scroll-to" href="#servicesAndPrices"
          >VYBRAŤ SI MAGIO GO</a
        ><br />
        <a class="text_bold moreInfo scroll-to" href="#benefits"
          >Pozrieť viac o Magio GO</a
        >
      </div>
    </div>
    <div class="parallax">
      <!-- parallax -->
    </div>
  </div>
</section>

<section class="section" id="benefits">
  <div class="container-fixed">
    <div class="devices">
      <img
        class="device__img"
        src="../assets/img/magio_go_product.png"
        alt=""
      />
    </div>
    <div class="benefits row">
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-play.png" alt="" />
        </div>
        <p><b>Sledovanie TV kdekoľvek a kedykoľvek</b></p>
        <p>
          So službou Magio GO môžete sledovať televíziu všade, kde máte
          internetové pripojenie od akéhokoľvek operátora na celom území
          Slovenska aj Európskej únie.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-60programs.png" alt="" />
        </div>
        <p><b>Viac ako 140 televíznych staníc</b></p>
        <p>
          Sledujte viac ako 140 slovenských a zahraničných TV staníc vrátane
          exkluzívnych športových staníc Digi Sport, detskej Ťuki TV v
          Slovenčine či fascinujúcej BBC Earth. Množstvo staníc môžete sledovať
          v HD kvalite.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-cal.png" alt="" />
        </div>
        <p>
          <b>7-dňový Archív Magio GO na viac ako 120 kanáloch </b>
        </p>
        <p>
          Viac ako 120 TV staníc nájdete aj v 7-dňovom archíve, s ktorým si
          môžete pustiť už odvysielaný program až 7 dní dozadu. Navyše ho môžete
          sledovať bez reklám, ktoré jednoducho pretočíte.
        </p>
      </div>
    </div>
    <div class="benefits row">
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/cinema.png" alt="" />
        </div>
        <p>
          <b
            >Neobmedzené sledovanie filmov a seriálov s videopožičovňou Magio
            Kino</b
          >
        </p>
        <p>
          Sledujte v pohodlí domova rôzne žánre svetovej aj domácej produkcie. V
          ponuke nechýbajú oskarové filmy, unikátna tvorba National Geographic
          či seriály z Epic Drama.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-devices.png" alt="" />
        </div>
        <p>
          <b>Sledujte rozličný program na viacerých zariadeniach súčasne</b>
        </p>
        <p>
          S Magio GO môžete súčasne sledovať rozdielny program na viacerých
          zariadeniach, napríklad na smart televízore alebo na akomkoľvek inom
          televízore s
          <a
            href="/televizia/magio-go/magio-go-tv-box"
            class="link"
            target="_blank"
            >Magio GO TV Boxom</a
          >, ale aj na smartfóne, tablete či počítači.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-imagequality.png" alt="" />
        </div>
        <p><b>Nastavenie kvality zobrazenia</b></p>
        <p>
          Môžete si vybrať zo šiestich stupňov kvality zobrazenia vrátane
          automatického. Zvoľte si kvalitu napríklad podľa rýchlosti
          internetového pripojenia alebo podľa zariadenia, na ktorom chcete
          program sledovať.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="welcome">
  <div class="container-fixed">
    <div class="sec-cont">
      <div class="sec-img col-md-6 push-md-6">
        <img class="eec" src="../assets/img/ec-smart-tv.png" alt="eec" />
      </div>
      <div class="sec-content col-md-6 pull-md-6 mobile-pad">
        <h2>
          <b>Vitajte vo svete Magio GO</b>
        </h2>
        <p>
          <b>Moderný dizajn s jednoduchým ovládaním</b>
        </p>
        <p>
          Moderné prostredie aplikácie Magio GO vás osloví jednoduchým dizajnom,
          ktorý odráža vaše potreby. Zo stručného a prehľadného menu sa rýchlo
          dostanete k televíznemu programu, archívu, svojim nahrávkam,
          Videopožičovni či nastaveniam.<br />
          V nastaveniach nájdete možnosť zvoliť si svoje obľúbené TV stanice,
          nastaviť rodičovskú kontrolu či zmeniť heslo a mnohé ďalšie.
        </p>
        <a class="btn cta scroll-to" href="#servicesAndPrices"
          >VYBRAŤ SI MAGIO GO</a
        >
      </div>
    </div>
  </div>
</section>
<section class="section" id="magioAbilities">
  <div class="container-fixed">
    <h2 class="sec__title">
      OBJAVTE, ČO MAGIO GO DOKÁŽE
    </h2>
    <div class="row">
      <div class="device">
        <div class="col-sm-6 col-xs-12 device__img">
          <div class="content">
            <img
              data-aos="fade-up"
              data-aos-duration="3000"
              class="img-1"
              src="../assets/img/phone1.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 device__text device-1">
          <p><b>Ovládajte svoju televíziu od začiatku do konca</b></p>
          <p>
            Nestihli ste začiatok programu? Nevadí, s Magio GO už nič
            nezmeškáte. Spustite si práve vysielaný program vybraných TV staníc
            od začiatku jedným dotykom. Navyše môžete už odvysielaný program
            sledovať bez reklám, ktoré jednoducho pretočíte.
          </p>
        </div>
      </div>

      <div class="device">
        <div class="col-sm-6 col-xs-12 device__text device-2">
          <p><b>Nahranie a uloženie na 30 dní</b></p>
          <p>
            Nemusíte sa báť, že zmeškáte niečo zaujímavé. Nahrajte si a sledujte
            kedykoľvek až 30 hodín svojich obľúbených programov, filmov a
            seriálov. Programy si môžete nahrať až na 30 dní a kedykoľvek sa k
            nim vrátiť.
          </p>
        </div>

        <div class="col-sm-6 col-xs-12 device__img">
          <div class="content">
            <img
              data-aos="fade-up"
              data-aos-duration="3000"
              class="img-2"
              src="../assets/img/phone2.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="device">
        <div class="col-sm-6 col-xs-12 device__img">
          <div class="content">
            <img
              data-aos="fade-up"
              data-aos-duration="3000"
              class="img-3"
              src="../assets/img/phone3.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 device__text device-3">
          <p>
            <b
              >Svetové aj domáce filmy a seriály v Magio kine s veľkou
              videopožičovňou</b
            >
          </p>
          <p>
            Vyberte si program Magio kino M alebo L a sledujte filmy či seriály
            zo svetovej aj domácej produkcie neobmedzene, koľkokrát chcete.
            Vybrať si môžete z 500 titulov rôznych žánrov vrátane oskarových
            filmov a titulov v HD rozlíšení.<br />Vyskúšajte Magio kino s
            videopožičovňou bez obáv z viazanosti. Službu môžete kedykoľvek
            bezplatne deaktivovať.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section"
  id="servicesAndPrices"
  style="background-color: #ededed;"
>
  <div class="container-fixed">
    <h2 class="sec__title">
      SLUŽBY A CENY MAGIO GO
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <p>
          Vyberte si Magio GO balík podľa seba a užívajte si online televíziu
          kedykoľvek a kdekoľvek, kde máte internetové pripojenie.
          <b
            >V nasledujúcom kroku si k Magio GO môžete aktivovať aj Magio GO
            Archív už od 1,99 € a/alebo Magio Kino od 3,99 €.</b
          >
          Magio GO zadarmo získate k akejkoľvek Magio televízii na celú dobu,
          počas ktorej máte Magio televíziu.
        </p>
      </div>
    </div>
  </div>
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <div class="tabs-container">
          <div class="tab__holder">
            <!-- TABS MENU -->
            <ul class="tabs-menu">
              <li class="variant current" data-variant="1">
                <a href="#tab-1">Magio GO Balíky</a>
              </li>
              <li class="variant" data-variant="2">
                <a href="#tab-2">Zadarmo k Magio TV</a>
              </li>
            </ul>
          </div>

          <div class="tab">
            <!-- Tab 1 -->
            <div class="tab-content clearfix" id="tab-1">
              <div class="tab-box">
                <div class="tab-box__content">
                  <div class="col-xs-12 col-md-12 text-center">
                    <div class="shadow-box">
                      <div class="channels">
                        <img
                          src="../assets/img/magio-go-m.png"
                          alt="channels"
                        />
                        <div class="overlay">
                          <h4>60 + TV STANÍC</h4>
                          <p>v HD aj v SD kvalite</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="headline">Magio GO M</p>
                        <a class="popupbtn lightbox" href="#staniceM"
                          >Zoznam TV staníc</a
                        >
                        <!-- <p class="subHeadline">Ceny s Magio TV M, L, XL</p> -->
                        <div class="row sep-1">
                          <span class="text-left magenta"><b>Mesačne</b></span>
                          <span class="text-right magenta"><b>17,00 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray"
                            >bez viazanosti
                          </span>
                          <span class="text-right text-gray">&nbsp;</span>
                        </div>

                        <div class="cta-holder">
                          <a
                            class="btn cta"
                            href="/televizia/magio-go/mam-zaujem?sluzba=magio-go-m&zariadenie=false"
                            >OBJEDNAŤ</a
                          >
                        </div>
                      </div>
                      <!-- <p class="terms">Zvýhodnená cena...</p> -->
                    </div>
                    <div class="shadow-box">
                      <div class="channels">
                        <img
                          src="../assets/img/magio-go-l.png"
                          alt="channels"
                        />
                        <div class="overlay">
                          <h4>95 + TV STANÍC</h4>
                          <p>v HD aj v SD kvalite</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="headline">Magio GO L</p>
                        <a class="popupbtn lightbox" href="#staniceL"
                          >Zoznam TV staníc</a
                        >

                        <!-- <p class="subHeadline">Ceny s Magio TV M, L, XL</p> -->
                        <div class="row sep-1">
                          <span class="text-left magenta"><b>Mesačne</b></span>
                          <span class="text-right magenta"><b>22,00 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray"
                            >bez viazanosti
                          </span>
                          <span class="text-right text-gray">&nbsp;</span>
                        </div>

                        <div class="cta-holder">
                          <a
                            class="btn cta"
                            href="/televizia/magio-go/mam-zaujem?sluzba=magio-go-l&zariadenie=false"
                            >OBJEDNAŤ</a
                          >
                        </div>
                      </div>
                      <!-- <p class="terms">Zvýhodnená cena...</p> -->
                    </div>
                    <div class="shadow-box">
                      <div class="channels">
                        <img
                          src="../assets/img/magio-go-xl.png"
                          alt="channels"
                        />
                        <div class="overlay">
                          <h4>135 + TV STANÍC</h4>
                          <p>v HD aj v SD kvalite</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="headline">Magio GO XL</p>
                        <a class="popupbtn lightbox" href="#staniceXL"
                          >Zoznam TV staníc</a
                        >
                        <!-- <p class="subHeadline">Ceny s Magio TV M, L, XL</p> -->
                        <div class="row sep-1">
                          <span class="text-left magenta"><b>Mesačne</b></span>
                          <span class="text-right magenta"><b>27,00 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray"
                            >bez viazanosti
                          </span>
                          <span class="text-right text-gray">&nbsp;</span>
                        </div>

                        <div class="cta-holder">
                          <a
                            class="btn cta"
                            href="/televizia/magio-go/mam-zaujem?sluzba=magio-go-xl&zariadenie=false"
                            >OBJEDNAŤ</a
                          >
                        </div>
                      </div>
                      <!-- <p class="terms">Zvýhodnená cena...</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Tab 2 -->
            <div class="tab-content clearfix" id="tab-2">
              <div class="tab-box">
                <div class="tab-box__content">
                  <div class="col-xs-12 col-md-12 text-center">
                    <div class="shadow-box">
                      <div class="channels">
                        <img
                          src="../assets/img/60tvstaniczadarmo.png"
                          alt="channels"
                        />
                        <div class="overlay">
                          <h4>60 + TV STANÍC</h4>
                          <p>v SD aj HD kvalite</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="headline">Magio GO k akejkoľvek Magio TV</p>
                        <a class="popupbtn lightbox" href="#50tvStanicZadarmo"
                          >Zoznam TV staníc</a
                        >
                        <a
                          class="popupbtn"
                          href="/documents/10179/6920575/ponuka_Magio_Go_07_20.pdf"
                          >Zoznam TV staníc v archíve</a
                        >
                        <!-- <p class="subHeadline">Ceny s Magio TV M, L, XL</p> -->
                        <div class="row sep-1">
                          <span class="text-left magenta"><b>Mesačne</b></span>
                          <span class="text-right magenta"><b>0 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray">&nbsp;</span>
                          <span class="text-right text-gray">
                            na dobu, ktorú máte Magio TV
                          </span>
                        </div>

                        <div class="cta-holder">
                          <a
                            class="btn cta buyMagio"
                            href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                            >MAGIO TV S MAGIO GO</a
                          >
                        </div>
                        <a class="havetv scroll-to" href="#howToGetMagioGO"
                          >Mám Magio TV a chcem Magio GO
                        </a>
                      </div>

                      <!-- <p class="terms">Zvýhodnená cena...</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="moreDevices">
  <div class="container-fixed">
    <div class="row valign">
      <div class="col-xs-12 col-sm-6 text-center">
        <img class="desktop" src="../assets/img/magio_go_product.png" alt="" />
        <img class="mob" src="../assets/img/magio_go_product.png" alt="" />
      </div>
      <div class="col-xs-12 col-sm-6 text">
        <h3>Sledujte odlišný program na viacerých zariadeniach súčasne</h3>
        <p>
          S Magio GO si najviac vychutnáte obľúbený program na smart TV alebo
          akomkoľvek inom televízore s
          <a
            href="/televizia/magio-go/magio-go-tv-box"
            class="link"
            target="_blank"
            >Magio GO TV Boxom</a
          >
        </p>
        <p>
          Ak nie ste práve v obývačke, sledujte TV kdekoľvek na smartfóne,
          tablete, notebooku alebo stolovom počítači. S balíkmi Magio GO M, L
          alebo XL získate prístup na 2 ľubovoľné zariadenia, na ktorých môžete
          súčasne sledovať rozdielny program. Dokúpiť sa dá aj prístup na jedno
          ďalšie zariadenie (smartfón, tablet, notebook alebo stolný počítač).
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section" id="archivMagioGo">
  <div class="container-fixed">
    <div class="row valign">
      <div class="col-xs-12 col-sm-6 push-md-6 text-center">
        <img class="desktop" src="../assets/img/archiv-img.jpg" alt="" />
        <img class="mob" src="../assets/img/archiv-img.jpg" alt="" />
      </div>
      <div class="col-xs-12 col-sm-6 pull-md-6 text">
        <h3>S novým archívom nepremeškáte žiaden obľúbený program</h3>
        <p>
          V novom archíve Magio GO je odteraz dostupných viac ako 120 staníc, na
          ktorých môžete sledovať všetky odvysielané programy až 7 dní dozadu.
          Odteraz nie je problém, ak nestíhate sledovať svoje obľúbené programy
          v živom vysielaní. Jednoducho ich vyhľadáte v archíve a pozriete v
          čase, ktorý vám najviac vyhovuje.
        </p>
        <p>
          <a class="popupbtn lightbox" href="#staniceArchivBasic"
            >TV stanice v Magio GO Archív Basic</a
          >
        </p>
        <p>
          <a class="popupbtn lightbox" href="#stanicArchivPremium"
            >TV stanice v Magio GO Archív Premium</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section" id="howToGetMagioGO" data-segment="3">
  <div class="container-fixed">
    <h2 class="sec__title">
      ZÍSKAŤ MAGIO GO JE TAK JEDNODUCHÉ
    </h2>
    <div class="row">
      <div class="tabs-container" id="tabs-triangle">
        <div class="tab__holder">
          <div class="tab-separator"></div>
          <!-- TABS MENU -->
          <ul class="tabs-menu" id="new-tab">
            <li class="variant current step1">
              <a href="#tab-3"
                ><img class="step-ico" src="../assets/img/ico-1.png" />
                <img class="step-ico-active" src="../assets/img/ico-1-h.png" />
              </a>
              <a class="tab-menu" href="#tab-1">PRVÝ&nbsp;KROK</a>
              <a href="#tab-3"><b>Objednajte si Magio GO</b></a>
              <div class="trian"></div>
            </li>
            <li class="variant step2">
              <a href="#tab-4"
                ><img class="step-ico" src="../assets/img/ico-2.png" />
                <img class="step-ico-active" src="../assets/img/ico-2-a.png" />
              </a>
              <a class="tab-menu" href="#tab-2">DRUHY&nbsp;KROK</a>
              <a href="#tab-4"><b>Prihláste sa do Magio GO</b></a>
              <div class="trian"></div>
            </li>
            <li class="variant step3">
              <a href="#tab-5"
                ><img class="step-ico" src="../assets/img/ico-3.png" />
                <img class="step-ico-active" src="../assets/img/ico-3-h.png" />
              </a>
              <a class="tab-menu" href="#tab-3">TRETÍ&nbsp;KROK</a>
              <a href="#tab-5"><b>Užívajte si Magio GO</b></a>
              <div class="trian"></div>
            </li>
          </ul>
        </div>
        <div class="tab">
          <!-- Tab 1 -->
          <div class="tab-content clearfix" id="tab-3" style="display: block;">
            <div class="tab-box">
              <div class="tab-box__content">
                <div class="col-xs-12 text-center">
                  <p>
                    Vyberte si Magio GO M, L alebo XL a jednoducho ho objednajte
                    online. <br />Po vybavení objednávky počkajte na SMS s
                    vašimi prihlasovacími údajmi.
                  </p>
                  <a href="#servicesAndPrices" class="btn cta scroll-to"
                    >KÚPIŤ MAGIO GO</a
                  >
                  <p>
                    Magio GO máte zadarmo, ak máte zriadenú Magio televíziu M, L
                    alebo XL (cez kábel alebo satelit). Pre jeho aktiváciu si
                    vyžiadajte <b>prihlasovacie údaje k účtu Magio GO</b> v
                    ktoromkoľvek Telekom centre alebo na našej zákazníckej linke
                  </p>
                  <h3><a href="tel:0800123456">0800 123 456</a></h3>
                  <p>
                    Prihlasovacie údaje vám odošleme formou SMS<br />
                    alebo e-mailom na vašu kontaktnú e-mailovú adresu.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 2 -->
          <div class="tab-content clearfix" id="tab-4">
            <div class="tab-box">
              <div class="tab-box__content">
                <div class="col-xs-12 text-center">
                  <img
                    src="../assets/img/app-icon.png"
                    width="60"
                    height="60"
                    alt=""
                  />
                  <p>
                    Pre prihlásenie z mobilu, tabletu alebo smart TV si
                    stiahnite bezplatnú aplikáciu Magio GO podľa vášho
                    operačného systému v Google Play alebo AppStore a prihláste
                    sa do nej svojím používateľským menom a heslom.
                  </p>
                  <a href="#"
                    ><img
                      src="../assets/img/googleplay.png"
                      alt="google play icon"
                  /></a>
                  <a href="#"
                    ><img
                      src="../assets/img/applestore.png"
                      alt="apple store icon"
                  /></a>
                  <p>
                    Pre prihlásenie z počítača alebo notebooku navštívte web
                  </p>
                  <a href="https://www.magiogo.sk" class="link"
                    >www.magiogo.sk</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 3 -->
          <div class="tab-content clearfix" id="tab-5">
            <div class="tab-box">
              <div class="tab-box__content">
                <div class="col-xs-12 text-center">
                  <p>
                    Po úspešnom prihlásení môžete Magio GO sledovať až na dvoch
                    zariadeniach súčasne. Každé zariadenie, z ktorého chcete
                    pozerať, musíte prihlásiť do vášho Magio GO účtu. Prihlásené
                    zariadenia môžete kedykoľvek vymazať a vytvoriť tak priestor
                    na prihlásenie iných.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="magioGoPartners">
  <div class="container-fixed">
    <div class="row valign">
      <div class="col-xs-12 col-sm-6 text">
        <h4>Sledujte Magio GO bez míňania dát z MOBILU!</h4>
        <p>
          Aktiujte si balík StreamOn k paušálom či Easy karte a môžete sledovať
          obľúbené programy s Magio GO bez toho, aby ste míňali svoje dáta v
          mobile. V balíku StreamOn nájdete aj ďalšie appky, ktoré vám nebudú
          míňať mobilné dáta ako napríklad YouTube, Netflix či Spotify, HBO GO a
          veľa ďalších.
        </p>
        <a href="/wiki/ostatne/streamon">Viac o balíku StreamOn</a>
      </div>
      <div class="col-xs-12 col-sm-6 logos">
        <div class="logoWrapper">
          <img src="../assets/img/app-icon.png" width="60" height="60" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-applemusic.png" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-netflix.png" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-hbogo.png" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-deezer.png" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-digigo.png" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-spotify.png" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-tidal.png" alt="" />
        </div>
        <div class="logoWrapper">
          <img src="../assets/img/logo-tv2go.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--popups -->
<div style="display: none;">
  <div class="easy-lightbox" id="staniceM">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_ZAKLADNY">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="staniceL">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_ZAKLADNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_EXTRA_L">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_DOKUMENTARNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_STYL_A_FAKTY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_HUDBA_A_DETI">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_VOLNY_CAS">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_FILMOVY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SPORTOVY">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="staniceXL">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_ZAKLADNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_EXTRA_L">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_EXTRA_XL">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_DOKUMENTARNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_STYL_A_FAKTY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_HUDBA_A_DETI">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_VOLNY_CAS">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_FILMOVY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SPORTOVY">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="50tvStanicZadarmo">
    <p>
      Zákazníci Magio Televízie majú zadarmo dostupné TV kanály, ktoré majú
      aktivované v rámci programových balíčkov na Magio Televízii.<br />
      Zoznam nájdete
      <a href="/documents/10179/99010/ponuka_Magio_Go_07_20.pdf" target="_blank"
        >TU</a
      >.
    </p>
  </div>
  <div class="easy-lightbox" id="staniceArchivBasic">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_ARCHIV_BASIC">
      &nbsp;
    </div>
  </div>

  <div class="easy-lightbox" id="stanicArchivPremium">
    <div
      class="tvPackageCodebook"
      data-tvpackagecodebook="MAGIO_ARCHIV_PREMIUM"
    >
      &nbsp;
    </div>
  </div>
</div>

<script type="text/javascript" src="../assets/js/aos.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=6.1"></script>
