
<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="row top">
            <div class="col-md-7 col-sm-7 col-xs-12 top-text">
                <h2><b>VYHRAJTE SONY XPERIA</b></h2>
                <p>AKtivujte si počas júna bezplatne Hlasovú Biometriu a budete<br> zaradení do súťaže o špičkový smartfón sony Xperia XA2</p>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 image">
                <img src="../assets/img/xperiaXA2.png" alt="Xperia XA2">
            </div>
        </div>
        <div class="row bottom">
            <h2 class="sec__title text-center">AKO SA ZAPOJIŤ DO SÚŤAŽE</h2>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="../assets/img/ico-id.png" alt="">
                <p><b>Najskôr zísajte bezplatný ID kód</b></p>
                <p>Pri aktivácii Hlasovej Biometrie budete potrebovať ID kód, ktorý získate na: <a href="/id-kod" target="_blank" class="link">www.telekom.sk/id-kod</a></p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center arrows">
                <img src="../assets/img/ico-phone.png" alt="">
                <p><b>Aktivujte si Hlasovú Biometriu</b></p>
                <p>Po získaní ID kódu si aktivujte Hlasovú Biometriu na bezplatnej zákazníckej linke.</p>
                <a href="/id-kod" class="btn cta">AKTIVOVAŤ A VYHRAŤ</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <img src="../assets/img/ico-phone2.png" alt="">
                <p><b>Budete zaradení do súťaže</b></p>
                <p>Po úspešnej aktivácií budete automaticky zaradený do súťaže o Sony Xperia XA2!</p>
            </div>
        </div>
        <div class="tip">
            <p>Hlasovú Biometriu si môžete aktivovať aj v ktorejkoľvek predajni.<br>Následne zavolajte na bezplatné číslo 0800 123 444, kde vás automaticky hlasová služba prevedie jednoduchými krokmi</p>
        </div>
        <a href="/documents/10179/0/Statut_sutaz++HB_2018_revLegal.pdf" class="link">Štatút súťaže</a>
        
    </div>
</section>

<section class="sec-2 section bg" id="sec-2">
    <div class="container-fixed">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 text-center box">
                    <div class="desc-box-img">
                        <img alt="Hlasová biometria" src="https://www.telekom.sk/documents/10179/211203/biometria_icon_1.png/5cfdb53b-fbc6-47f1-8571-e3383907c62c" /></div>
                    <div class="desc-box-text">
                        Jednoduchá aktivácia na našej zákazníckej linke alebo v ktorejkoľvek predajni vytvorením hlasového odtlačku.</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-center box">
                    <div class="desc-box-img">
                        <img alt="Hlasová biometria" src="https://www.telekom.sk/documents/10179/211203/biometria_icon_2.png/93658e53-3d1a-489a-9b44-74197a7c9e86" /></div>
                    <div class="desc-box-text">
                        Automatické porovnanie a vyhodnotenie zhody vášho hlasu pri každom budúcom volaní.</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-center box">
                    <div class="desc-box-img">
                        <img alt="Hlasová biometria" src="https://www.telekom.sk/documents/10179/211203/biometria_icon_3.png/032f072c-8a06-4f6b-a64a-f295f1f8b5d1" /></div>
                    <div class="desc-box-text">
                        V prípade straty vášho telefónu stačí zavolať z iného a my hneď spoznáme, s kým hovoríme.</div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 text-center box">
                    <div class="desc-box-img">
                        <img alt="Hlasová biometria" src="https://www.telekom.sk/documents/10179/211203/biometria_icon_4.png/1abeb77a-e5dc-444b-bdf5-df1c50d309fb" /></div>
                    <div class="desc-box-text">
                        Možnosť delegovať oprávnenia aj na iné osoby, čím môžete získať prístup k službám svojich najbližšich.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>

