<div id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			<img class="icon-ec" src="../assets/img/ec-pevna-linka.png" />
		</div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>PEVNÁ LINKA</b><br />
				S VOĽNÝMI MINÚTAMI</br>
				AJ NA MOBILY
			</h1>
			<a href="#sec-2" style="margin: 5px 0" class="scroll-to btn cta">VYBRAŤ SI PEVNÚ LINKU</a></br>
			<a class="scroll-to" href="#sec-1">Viac info o Pevnej linke</a>
			<img class="icon-ec"  src="../assets/img/ec-pevna-linka.png" />
		</div>
	</div>
</div>
<div class="sticky-wrapper" id="nav-sticky-sticky-wrapper" style="height: 56px;">
	<div id="nav-sticky">
		<ul>
			<li>
				<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
			<li>
				<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
			<li>
				<a class="scroll-to" href="#sec-9">Aktuálne akcie</a></li>
			<li>
				<a class="scroll-to" href="#sec-4">TELEFÓNY</a></li>
			<li>
				<a class="scroll-to" href="#sec-5">DOPLNKOVÉ SLUŽBY</a></li>
			<li>
				<a class="scroll-to" href="#wrapper">NAHOR <img alt=" "
						src="https://www.telekom.sk/documents/10179/521661/arrow-top.png" /></a></li>
		</ul>
	</div>
</div>
<section id="sec-1">
	<div class="container-fixed clearfix">
		<div class="row">
			<h2 class="velkyNadpis">
				VÝHODY PEVNEJ LINKY</h2>
			<div class="col-md-4 col-sm-12">
				<img class="tac" src="../assets/img/telefon.png" />
				<h3 class="tac">
					Neobmedzené volania</h3>
				<p class="tac">
					Užívajte si neobmedzené volania na mobily, do pevných sietí a Európskej únie z pohodlia svojho
					domova.</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<img class="tac" src="../assets/img/domcek.png" />
				<h3 class="tac">
					Spoľahlivosť a kvalita</h3>
				<p class="tac">
					S rokmi overenou Pevnou linkou od Telekomu sa môžete spoľahnúť na stabilné pripojenie s vysoko
					kvalitným zvukom.</p>
			</div>
			<div class="col-md-4 col-sm-12">
				<img class="tac" src="../assets/img/slovensko.png" />
				<h3 class="tac">
					Široká dostupnosť v celej SR</h3>
				<p class="tac">
					Pevnú linku vieme zriadiť takmer na celom Slovensku. Overte si dostupnosť v prvom kroku nákupného
					košíka</p>
			</div>
		</div>
	</div>
</section>
<section id="sec-2">
	<div class="container-fixed clearfix">
		<div class="row">
			<h2 class="velkyNadpis">
				SLUŽBY A CENY PEVNEJ LINKY</h2>
			<p class="tac">
				Pevná linka sa dá objednať v Chytrom balíku samostatne alebo za výhodnejšiu cenu <a
					href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="link">s internetom a/alebo
					televíziou</a></p>
			<div class="col-md-4 col-sm-12 tac">
				<div class="sluzby">
					<h3 class="tac">
						PEVNÁ LINKA M</h3>
					<hr />
					<h5 class="tac neobmedzene-volania-m">
						Neobmedzené volania<img alt="" src="../assets/img/icko.png"
							style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
					<p class="tac weight-400">
						do pevných sietí v SR<br />
						a do mobilnej siete Telekom</p>
					<br />
					<h5 class="tac">
						100 minút</h5>
					<p class="tac weight-400">
						do ostatných mobilných sietí v SR<br />
						a do Európskej únie</p>
					<br />
					<br />
					<hr />
					<h5 class="tac">
						10,90 € / mesačne</h5>
					<!--p class="tac"><a href="#">s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</a></p--><br />
					<a class="btn cta"
						href="/fix/objednavka/-/scenario/e-shop/chytry-balik"><span>VYBRAŤ</span></a><br />
					<a class="link" href="/pevna-linka-m">Viac info</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-12 tac">
				<div class="sluzby">
					<h3 class="tac">
						PEVNÁ LINKA L</h3>
					<hr />
					<h5 class="tac neobmedzene-volania-l">
						Neobmedzené volania<img alt="" src="../assets/img/icko.png"
							style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
					<p class="tac weight-400">
						do všetkých pevných<br />
						a mobilných sietí v SR</p>
					<br />
					<h5 class="tac">
						400 minút</h5>
					<p class="tac weight-400">
						do Európskej únie<br />
						&nbsp;</p>
					<br />
					<br />
					<hr />
					<h5 class="tac">
						15,90 € / mesačne</h5>
					<!--p class="tac"><a href="#">s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</a></p--><br />
					<a class="btn cta"
						href="/fix/objednavka/-/scenario/e-shop/chytry-balik?linka=l"><span>VYBRAŤ</span></a><br />
					<a class="link" href="/pevna-linka-l">Viac info</a>
				</div>
			</div>

			<div class="col-md-4 col-sm-12 tac">
				<div class="sluzby">
					<h3 class="tac">
						PEVNÁ LINKA XL</h3>
					<hr />
					<h5 class="tac neobmedzene-volania-xl">
						Neobmedzené volania<img alt="" src="../assets/img/icko.png"
							style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
					<p class="tac weight-400">
						do všetkých pevných<br />
						a mobilných sietí v SR</p>
					<br />
					<h5 class="tac neobmedzene-volania-xl">
						NEOBMEDZENÉ VOLANIA<img alt="" src="../assets/img/icko.png"
							style="    width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;" /></h5>
					<p class="tac weight-400">
						do Európskej únie</p>
					<br />
					<h5 class="tac">
						200 minút</h5>
					<p class="tac weight-400">
						do sveta</p>
					<hr />
					<h5 class="tac">
						20,90 € / mesačne</h5>
					<!--p class="tac"><a href="#">s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</a></p--><br />
					<a class="btn cta"
						href="/fix/objednavka/-/scenario/e-shop/chytry-balik?linka=xl"><span>VYBRAŤ</span></a><br />
					<a class="link" href="/pevna-linka-xl">Viac info</a>
				</div>
			</div>

			<p class="tac">
				Všetky uvedené ceny sú vrátane DPH.<br />
                Uvedené ceny služby Pevná linka predstavujú akciové ceny za poskytovanie Samostatnej služby alebo Služby v&nbsp;rámci 
                Balíka služieb s&nbsp;24-mesačnou viazanosťou. Neobmedzené hovory vám poskytujeme vďaka zásadám férového používania. 
                Pre paušál&nbsp;M&nbsp;-&nbsp;1000 minút do mobilnej siete Telekom., pre paušál&nbsp;L&nbsp;-&nbsp;1000 minút do 
                mobilných sietí v&nbsp;SR, pre paušál&nbsp;XL&nbsp;-&nbsp;1000 minút do mobilných sietí v&nbsp;SR a&nbsp;1000 minút
                do EÚ. Služba Pevná linka v&nbsp;programoch M, L a XL a&nbsp;služba Doma Happy v&nbsp;programoch M, L a XL predstavujú 
                jednu a&nbsp;tú istú službu. Ak je v&nbsp;akomkoľvek dokumente spoločnosti Slovak Telekom, a.s. uvedené označenie služby 
                Doma Happy v&nbsp;programoch M, L a XL, myslí sa tým služba Pevná linka v&nbsp;programoch M, L a XL.
			<br />
			<div id="cmb__holder">
				&nbsp;</div>
			<!--
                                    <div class="modrePole tac" id="cmb__block">
                                            <h2 class="velkyNadpis">
                                                    CHCETE VÝHODNEJŠIU PONUKU?</h2>
                                            <a class="btn cta" href="/volania/happy?sluzby-a-ceny#" id="cmb__btn"><span>ÁNO, ZAVOLAJTE MI SPÄŤ</span></a>
                                    </div>
                                    -->
		</div>
	</div>
</section>
<section id="sec-3">
	<div class="container-fixed clearfix">
		<div class="row">
			<h2 class="velkyNadpis">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
			<div class="col-md-4">
				<img class="tac" src="../assets/img/ico-discount.png" />
				<p class="tac">
					<strong>Extra zľava 10 €</strong><br />
					pri kúpe Magio internetu cez web. V kombinácii s televíziou a Pevnou linkou zľava až do 30 €.</p>
			</div>
			<div class="col-md-4">
				<img class="tac" src="../assets/img/ico-cal.png" />
				<p class="tac">
					<strong>Prvých 14 dní bez záväzkov</strong><br />
					pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
			</div>
			<div class="col-md-4">
				<img class="tac" src="../assets/img/ico-car.png" />
				<p class="tac">
					<strong>Doručenie kuriérom zadarmo</strong><br />
					kdekoľvek v rámci SR</p>
			</div>
		</div>
	</div>
</section>
<!-- <section class="section sec-aktualneAkcie" id="sec-3">
    <div class="fixed-column">
        <h2 class="section__title">
            AKTUÁLNE AKCIE k MAGIO TV, INTERNETU a PEVNEJ LINKE</h2>
        <div class="col-group">
            <div class="box__sales box_full box_flex">
                <div class="box__imgHolder">
                    <img alt="Samsung LED TV" class="box__img" src="/documents/10179/669910/prod-1.png" /></div>
                <div class="box_txtHolder">
                    <p class="box__title">
                        FULL HD LED TELEVÍZOR Samsung od 6 € mesačne</p>
                    <p class="box__desc">
                        alebo Xbox One s revolučnou technológiou Kineckt či notebook Lenovo IdeaPad v nadštandardnom prevedení!</p>
                    <a class="button box__btn" href="/magio-tv-akcia">VIAC INFO</a></div>
            </div>
            <div class="box__sales box_full" style="margin: 1% 0;">
                <p class="box__title">
                    VYUŽITE 100 % zľavU na faktúru za jeden mesiac</p>
                <a class="box__link box__moreInfo" href="/odporucte-zakaznika">Viac info</a></div>
            <div class="box__sales box_full">
                <a class="rightGreenLink" href="/viac-za-menej">ZÍSKAJTE VYŠŠIU SLUŽBU ZA CENU NIŽŠEJ <img alt="Arrow" class="img__arrowCirlcle" src="/documents/10179/669910/ico-roundArrow.png" /></a></div>
        </div>
    </div>
</section> -->

<!-- <section class="section sec-akcie" id="sec-9"> -->
	<!-- load from aktualne-akcie.html -->
<!-- </section> -->

<!-- <section class="section ostatne-akcie">
	<div class="container-fixed">
		<div class="row">
			<h2 class="velkyNadpis">OSTATNÉ AKCIE</h2>
			<div class="offer-box box-2">
				<div class="offer__wrapper">
					<div class="left-holder">
						<h4 class="offer__title">
							CHCETE VIAC ZA MENEJ?</h4>
						<p class="offer__desc">
							Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate
							výhody vyššej služby.</p>
						<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a>
					</div>
					<div class="right-holder">
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section class="section sec-4" id="sec-4">
	<div class="container-fixed phones">
		<h2 class="velkyNadpis">TELEFÓNY K PEVNEJ LINKE</h2>

		<div class="row text-center">
			<div class="col-md-4 float-none phone">
				<img class="tac" src="../assets/img/techRetro.jpg" style="width: 233px; height: 153px;" />
				<p class="tac">
					<strong>Vtech Retro</strong><br />
					Štýlový bezšnúrový telefón v retro štýle s podsvieteným LCD displejom a pamäťou na 50 mien s čísel +
					50 volaní. Súčasťou je možnosť hlasitého telefonovania s funkciou stíšenia.</p>
				<a class="link" href="/volania/pevna-linka/vtech-retro"><span>Viac info</span></a>
			</div>

			<!-- <div class="col-md-4">
					<img class="tac" src="../assets/img/philipsLuceo.jpg" />
					<p class="tac">
						<strong>Philips Luceo</strong><br />
						Neodolateľný bezšnúrový telefón so štíhlou siluetou a kvalitnou povrchovou úpravou rúca predstavy o
						dizajne telefónov. Philips Luceo sa vyníma ako elegantné umelecké dielo.</p>
					<a class="fancy" href="#mira-m550"><span>Viac info</span></a>
				</div> -->

			<!-- <div class="col-md-4 float-none phone">
					<img class="tac" src="../assets/img/KX-TGC210.jpg" />
					<p class="tac">
						<strong>Panasonic KX - TGC210B</strong><br />
						Cenovo výhodný digitálny bezdrôtový telefón s jednoriadkovým displejom. Jednoduché použitie, režim
						NERUŠIŤ, kompatibilné s načúvacími prístrojmi podľa normy TIA-1083 + redukcia šumu.</p>
					<a class="fancy" href="#KX-TGC210B"><span>Viac info</span></a>
				</div> -->
			<div class="col-md-4 float-none phone">
				<img class="tac"
					src="https://www.telekom.sk/documents/10179/80451/telco_ph.png/6fabe378-7c3f-46b1-b83a-e19bd7e9e6f1?t=1470314943499" />
				<p class="tac">
					<strong>Telco PH – 895</strong><br />
					Vďaka napájaniu z telefónnej linky nepotrebuje tento telefón batérie, ani sieťový adaptér.</p>
				<a class="fancy" href="#telco-ph-883">Viac info</a>
			</div>
		</div>
		<div class="row text-center">

			<!-- <div class="jedna4">
					<img class="tac" src="../assets/img/panasonicKX.jpg" />
					<p class="tac">
						<strong>Panasonic KX-TG1711</strong><br />
						Ľahko použiteľný telefón s pamäťou na 50 mien s číslami, podsvieteným LCD displejom a budíkom.</p>
					<a class="fancy" href="#panasonic-kx-tg1711">Viac info</a>
				</div> -->
			<div class="col-md-4 float-none phone">
				<img class="tac" src="../assets/img/gigasetC.jpg" />
				<p class="tac">
					<strong>Gigaset C530</strong><br />
					Bezdrôtový telefón s kvalitným zvukom, jednoduchým ovládaním a moderným vzhľadom.</p>
				<a class="fancy" href="#gigaset-c530">Viac info</a>
			</div>
		</div>

	</div>
</section>
<section class="section" id="sec-5">
	<div class="container-fixed clearfix">
		<div class="row">
			<h2 class="velkyNadpis">
				DOPLNKOVÉ SLUŽBY</h2>
			<div class="col-md-4">
				<img class="tac" src="../assets/img/09.png" />
				<h3 class="tac">
					CLIP a CLIR</h3>
				<p class="tac">
					Aj na Pevnej linke môžete bezplatne využívať službu CLIP, s ktorou vidíte, aké číslo vám volá alebo
					CLIR, ktorý zabráni zobrazovaniu vášho čísla.</p>
			</div>
			<div class="col-md-4">
				<img class="tac" src="../assets/img/sipka.png" />
				<h3 class="tac">
					Presmerovanie volania</h3>
				<p class="tac">
					Ak čakáte na dôležitý hovor a nie ste doma, využite presmerovanie volania napr. na mobil, ktorý máte
					so sebou.</p>
			</div>
			<div class="col-md-4">
				<img class="tac" src="../assets/img/x.png" />
				<h3 class="tac">
					Zachytenie zlomyseľných a výhražných volaní</h3>
				<p class="tac">
					S pomocou tejto služby identifikujete telefónne číslo, z ktorého sa uskutočnilo zlomyseľné volanie.
				</p>
			</div>
			<br class="clearer" />
			<br />
			<br />
			<a class="link"
				href="/documents/10179/118685/doplnkove_sluzby_navod.pdf/b8231234-6db6-46f1-8ee7-e7c9326d6065"><img
					style="margin-right: 5px" src="../assets/img/ikonaSuboru.png" />Ostatné doplnkové služby a návod na
				ich aktiváciu</a>
		</div>
	</div>
</section>
<div class="detail">
	<div class="detail-lightbox" id="telco-ph-883">
		<div class="detail-header">
			Telco PH - 895</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="https://www.telekom.sk/documents/10179/521661/telco_ph.png"
					style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">1,00 € <span class="price-small">/ jednorázovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 3,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">vlastnosti</span><br />
				<ul class="list-square">
					<li>
						Zobrazenie telefónneho čísla volajúceho na displaji(CLIP)</li>
					<li>
						61 - miestna pamäť prichádzajúcich volaní</li>
					<li>
						16 - miestna pamäť odchádzajúcich volaní</li>
					<li>
						3 jednodotykové pamäte</li>
					<li>
						Nastavenie kontrastu displeja</li>
					<li>
						Svetelná indikácia zvonenia</li>
					<li>
						Možnosť montáže na stenu</li>
				</ul>
				<br />
				<span class="detail-vlastnost">farba </span><br />
				Tmavá
			</div>
		</div>
	</div>
	<div class="detail-lightbox" id="panasonic-kx-tg1711">
		<div class="detail-header">
			Panasonic KX-TG1711</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="https://www.telekom.sk/documents/10179/521661/panasonic_kxtg1711_detail.png"
					style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">4,90 € <span class="price-small">/ jednorazovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 9,90 € / jednorazovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">funkcie</span><br />
				<ul class="list-square">
					<li>
						Bezdrôtový, jednoduchý a ľahko použiteľný</li>
					<li>
						Zobrazenie čísla volajúceho(CLIP)</li>
					<li>
						Pamäť na 50 staníc so zobrazením čísla volajúceho</li>
					<li>
						Ľahko čitateľný podsvietený LCD displej</li>
					<li>
						Jednoduché ovládanie navigačným tlačidlom</li>
					<li>
						Prvotriedna povrchová úprava (slúchadlo bez šmúh)</li>
					<li>
						50 - miestny telefónny zoznam</li>
					<li>
						10 - miestna pamäť na opakovanie voľby</li>
					<li>
						Voliteľné vyzváňacie melódie</li>
					<li>
						Konferenčné hovory</li>
					<li>
						Domáci telefón (slúchadlo - slúchadlo)</li>
					<li>
						Zdieľanie hovoru</li>
					<li>
						Budík a hodiny</li>
					<li>
						Príjem hovoru ktorýmkoľvek tlačidlom</li>
					<li>
						Nabíjateľná Ni-MH batéria</li>
					<li>
						Možná inštalácia na stenu</li>
				</ul>
				<br />
				<span class="detail-vlastnost">technické údaje</span><br />
				<ul class="list-square">
					<li>
						Rozmery slúchadla(V x Š x H v mm): 151 x 47 x 31</li>
					<li>
						Rozmery základne(V x Š x H v mm): 89 x 80 x 61</li>
					<li>
						Rozmery nabíjacej základne(V x Š x H v mm): 75 x 69 x 38</li>
				</ul>
				<br />
				<span class="detail-vlastnost">farba </span><br />
				Čierna
			</div>
		</div>
	</div>
	<div class="detail-lightbox" id="gigaset-c530">
		<div class="detail-header">
			Gigaset C530</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="https://www.telekom.sk/documents/10179/521661/gigaset_c550_detail.png"
					style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">9,90 € <span class="price-small">/ jednorázovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 19,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">funkcie</span><br />
				<ul class="list-square">
					<li>
						Veľký 1,8" farebný TFT displej má na výber dva farebné motívy</li>
					<li>
						Jednoduché možnosti prispôsobenia tónov zvonenia, šetriča<br />
						obrazovky a zvukových profilov</li>
					<li>
						Veľký telefónny zoznam s vyhľadávaním na 150 záznamov, každý obsahuje celé meno,<br />
						3 čísla, tón zvonenia a pripomenutie narodením</li>
					<li>
						210 - miestna pamäť na posledné volané čísla</li>
					<li>
						Kopírovanie telefónneho zoznamu cez DECT</li>
					<li>
						Pohotovostný režim: 320 h</li>
					<li>
						Dĺžka hovoru: 14 h</li>
					<li>
						Monitorovanie miestností</li>
					<li>
						Pripomienkovač</li>
					<li>
						Alarm</li>
					<li>
						Plug-and-play inštalácia</li>
					<li>
						Dosah v interiéri: 50m</li>
					<li>
						Dosah v exteriéri: 300m</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Displej a funkcie menu</span><br />
				<ul class="list-square">
					<li>
						Zobrazenie stavu nabitia akumulátorov</li>
					<li>
						Zobrazenie dĺžky hovoru</li>
					<li>
						Zobrazenie dosahu (od slúchadla k základni)</li>
					<li>
						Zobrazenie dátumu a času</li>
					<li>
						20 - miestny zoznam stratených volaní s dátumom a časom</li>
					<li>
						Zobrazenie čísla volajúceho(CLIP)</li>
					<li>
						Jednoduché textové a ikonovité menu</li>
					<li>
						Rozlíšenie displeja: 28x160 px</li>
					<li>
						Farebný a podsvietený displej</li>
					<li>
						Možnosť nastavenia menu v 25 jazykoch</li>
				</ul>
				<br />
				<span class="detail-vlastnost">eco dect</span><br />
				<ul class="list-square">
					<li>
						Až do 60% zníženie spotreby elektrickej energie</li>
					<li>
						Zníženie vysielacieho výkonu až takmer na nulu v prípade, ak je slúchadlo v základni</li>
					<li>
						Režim Eco Plus bez vyžarovanie</li>
					<li>
						ECO Mode</li>
				</ul>
				<br />
				<span class="detail-vlastnost">klávesnica</span><br />
				<ul class="list-square">
					<li>
						Navigačné tlačidlo a tlačidlo zobrazujúce správu</li>
					<li>
						Farba podsvietenia: žltá</li>
				</ul>
				<br />
				<span class="detail-vlastnost">ostatné</span><br />
				<ul class="list-square">
					<li>
						Možnosť montáže na stenu</li>
					<li>
						Napájanie: 2xAAA</li>
					<li>
						Funkcia šifrovania prenosu reči</li>
				</ul>
				<br />
				<span class="detail-vlastnost">zvuk</span><br />
				<ul class="list-square">
					<li>
						Individuálne vyzváňacie melódie pre VIP položky</li>
					<li>
						Technológia HSP<sup>TM</sup> pre vynikajúcu kvalitu zvuku</li>
					<li>
						Nastaviteľná hlasitosť slúchadla</li>
				</ul>
				<br />
				<span class="detail-vlastnost">technické údaje</span><br />
				<ul class="list-square">
					<li>
						Standards DECT a GAP</li>
					<li>
						Rozmery slúchadla(V x Š x H v mm): 151 x 26 x 49</li>
					<li>
						Rozmery základne(V x Š x H v mm): 103 x 126 x 43</li>
					<li>
						Rozmery nabíjacej základne(V x Š x H v mm): 75 x 71 x 36</li>
				</ul>
				<br />
				<span class="detail-vlastnost">farba </span><br />
				Čierna
			</div>
		</div>
	</div>
	<!-- lightbox mira-m550 -->
	<div class="detail-lightbox" id="mira-m550">
		<div class="detail-header">
			Philips Luceo</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="../assets/img/phillips-luceo2.jpg" style="vertical-align: top;" /></div>
			<div class="detail-text">
				<span class="detail-cena magenta">14,90 € <span class="price-small">/ jednorázovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 29,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">stručná charakteristika</span><br />
				<ul class="list-square">
					<li>
						Pohodlné mušle slúchadla pre dlhšie hovory</li>
					<li>
						Pevná a vysoko lesklá vonkajšia schránka odolná voči odtlačkom prstov</li>
					<li>
						Kalibrovaná klávesnica na jednoduché a presné zadávanie</li>
					<li>
						Bezproblémové nabíjanie slúchadla z ktorejkoľvek strany</li>
					<li>
						Elegantný a štýlový vzhľad z každého uhla</li>
					<li>
						Dômyselné usporiadanie káblov</li>
					<li>
						Špičková kvalita zvuku s pokročilým vyladením</li>
					<li>
						Telefónny zoznam na 100 kontaktov</li>
					<li>
						Ľahko čitateľný, 2-riadkový grafický displej</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Displej a funkcie menu</span><br />
				<ul class="list-square">
					<li>
						Zobrazenie stavu nabitia akumulátorov</li>
					<li>
						Zobrazenie dĺžky hovoru</li>
					<li>
						Zobrazenie dosahu (od slúchadla k základni)</li>
					<li>
						Zobrazenie dátumu a času</li>
					<li>
						20 - miestny zoznam stratených volaní s dátumom a časom</li>
					<li>
						Zobrazenie čísla volajúceho(CLIP)</li>
					<li>
						Jednoduché textové a ikonovité menu</li>
					<li>
						Rozlíšenie displeja: 28x160 px</li>
					<li>
						Farebný a podsvietený displej</li>
					<li>
						Možnosť nastavenia menu v 25 jazykoch</li>
				</ul>
				<br />
				<span class="detail-vlastnost">zvuk</span><br />
				<ul class="list-square">
					<li>
						10 polyfonických zvonení na slúchadle</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Obraz / Displej</span><br />
				<ul class="list-square">
					<li>
						Veľkosť displeja: 3,4 cm / 1,6"</li>
					<li>
						Typ displeja: dvojriadkový grafický + pevné ikony</li>
					<li>
						Podsvietenie bielou farbou</li>
				</ul>
				<br />
				<span class="detail-vlastnost">vybavenie a vlastnosti</span><br />
				<ul class="list-square">
					<li>
						Hlasitý odposluch</li>
					<li>
						Štruktúra ponúk v slúchadle</li>
					<li>
						Indikátor intenzity signálu</li>
					<li>
						Indikátor úrovne nabitia batérie</li>
					<li>
						Zobrazenie dátumu a času</li>
					<li>
						Indikátor stavu batérie</li>
					<li>
						Indikátor sily signálu</li>
					<li>
						Programovateľné klávesové skratky</li>
					<li>
						Automatické zloženie</li>
					<li>
						Vypnutie / zapnutie tónu tlačidiel</li>
					<li>
						Identifikácia volajúceho</li>
					<li>
						Pri viacerých slúchadlách možnosť použiť ako domáci telefón</li>
					<li>
						Dĺžka linkového kábla: 1,8m</li>
					<li>
						Dĺžka napájacieho kábla: 1,8m</li>
					<li>
						Čas nabíjania: 8 hodín</li>
					<li>
						Čas hovoru: 16 hodín</li>
					<li>
						Až 250 hodín pohotovostného stavu</li>
					<li>
						Dosah v interiéri: &lt; 50m</li>
					<li>
						Dosah v exteriéri: &lt; 300m</li>
					<li>
						Uzamknutie klávesnice</li>
				</ul>
				<br />
				<span class="detail-vlastnost">pamäť</span><br />
				<ul class="list-square">
					<li>
						Telefónny zoznam: 100 mien a čísel</li>
					<li>
						Kapacita zoznamu opät. vyt.: 20 záznamov</li>
					<li>
						Záznamy hovorov: 50 záznamov</li>
					<li>
						Ukladanie telefónneho zoznamu do základne</li>
				</ul>
				<br />
				<span class="detail-vlastnost">ekologický dizajn</span><br />
				Eco+<br />
				<br />
				<span class="detail-vlastnost">príkon</span><br />
				<ul class="list-square">
					<li>
						Kapacita batérií: 550 mAh</li>
					<li>
						Typ batérie: 2xAAA, NiMH</li>
					<li>
						Napájanie zo siete: AC 100 - 240 V ~ 50/60 Hz</li>
					<li>
						Spotreba energie: &lt; 0,6 W</li>
				</ul>
				<br />
				<span class="detail-vlastnost">bezpečnosť</span><br />
				Šifrovaný prenos<br />
				<span class="detail-vlastnost">Vlastnosť siete</span><br />
				Kompatibilný: GAP<br />
				<span class="detail-vlastnost">hodnota sar</span><br />
				Slúchadlá Philips: &lt; 0.1 W/kg<br />
				<span class="detail-vlastnost">farba </span><br />
				Biela
			</div>
		</div>
	</div>

	<!-- lightbox KX - TGC210B -->
	<div class="detail-lightbox" id="KX-TGC210B">
		<div class="detail-header">
			Panasonic KX - TGC210B</div>
		<div class="detail-content">
			<div class="detail-img">
				<img alt="detail-obr" src="../assets/img/KX-TGC210B_1280.jpg" style="vertical-align: top;" /></br>
				<a href="https://www.telekom.sk/fix/objednavka/-/scenario/e-shop/chytry-balik"
					class="btn cta"><span>PREJSŤ K NÁKUPU</span></a>
			</div>
			<div class="detail-text">
				<span class="detail-cena magenta">14,90 € <span class="price-small">/ jednorazovo</span></span><br />
				<p class="magenta">
					k službe PEVNÁ LINKA L a XL</p>
				<p>
					alebo 29,90 € / jednorázovo k službe PEVNÁ LINKA M</p>
				<div style="border-top: 1px solid #ededed;padding: 8px 0px; margin-top: 8px;">
					&nbsp;</div>
				<span class="detail-vlastnost">Obsah balenia</span><br />
				<ul class="list-square">
					<li>
						Slúchadlo</li>
					<li>
						Základňa pre slúchadlo</li>
					<li>
						Sieťový adaptér</li>
					<li>
						2 x AAA nabíjateľné batérie</li>
					<li>
						Telefónny kábel</li>
				</ul>
				<br />
				<span class="detail-vlastnost">Popis a technické špecifikácie</span><br />
				<table id="detail-info-table" border="1" cellpadding="1" cellspacing="1">
					<tbody>
						<tr>
							<td> <strong>Batérie:</strong></td>
							<td> 2xAAA</td>
						</tr>
						<tr>
							<td> <strong>Displej<span style="line-height: 15.4px;">:</span></strong></td>
							<td> jednoriadkový podsvietený LCD displej</td>
						</tr>
						<tr>
							<td> <strong>Dĺžka hovoru<span style="line-height: 15.4px;">:</span></strong></td>
							<td> 15 hodín</td>
						</tr>
						<tr>
							<td> <strong>Farba<span style="line-height: 15.4px;">:</span></strong></td>
							<td> čierna</td>
						</tr>
						<tr>
							<td> <strong>Hmotnosť<span style="line-height: 15.4px;">:</span></strong></td>
							<td> 127 g</td>
						</tr>
						<tr>
							<td> <strong>Napájanie<span style="line-height: 15.4px;">:</span></strong></td>
							<td> AC 12V</td>
						</tr>
						<tr>
							<td> <strong>Pohotovostný režim<span style="line-height: 15.4px;">:</span></strong></td>
							<td> 150 hodín</td>
						</tr>
						<tr>
							<td> <strong>Rozmery<span style="line-height: 15.4px;">:</span></strong></td>
							<td> 47x30x159 (mm)</td>
						</tr>
						<tr>
							<td> <strong>Výrobca<span style="line-height: 15.4px;">:</span></strong></td>
							<td> Panasonic</td>
						</tr>
						<tr>
							<td> <strong>Podsvietenie displeja<span style="line-height: 15.4px;">:</span></strong></td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Podsvietenie klávesnice<span style="line-height: 15.4px;">:</span></strong>
							</td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Skrátená voľba<span style="line-height: 15.4px;">:</span></strong></td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Veľkosť telefónneho zoznamu<span style="line-height: 15.4px;">:</span></strong>
							</td>
							<td> 50</td>
						</tr>
						<tr>
							<td> <strong>Pamäť volaní<span style="line-height: 15.4px;">:</span></strong></td>
							<td> 10</td>
						</tr>
						<tr>
							<td> <strong>Funkcia CLIP - zobrazenie čísla volajúceho<span
										style="line-height: 15.4px;">:</span></strong></td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Funkcia prenos SMS<span style="line-height: 15.4px;">:</span></strong></td>
							<td> nie</td>
						</tr>
						<tr>
							<td> <strong>Funkcia handsFree - hlasité telefonovanie<span
										style="line-height: 15.4px;">:</span></strong></td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Funkcia Mute - vypnutie mikrotelefónu<span
										style="line-height: 15.4px;">:</span></strong></td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Počet zvonení<span style="line-height: 15.4px;">:</span></strong></td>
							<td> 6</td>
						</tr>
						<tr>
							<td> <strong>Hlasitosť zvonenia<span style="line-height: 15.4px;">:</span></strong></td>
							<td> nastaviteľná</td>
						</tr>
						<tr>
							<td> <strong>Znázornenie času v pohotovostnom režime<span
										style="line-height: 15.4px;">:</span></strong></td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Jazyk menu<span style="line-height: 15.4px;">:</span></strong></td>
							<td> Slovenčina</td>
						</tr>
						<tr>
							<td> <strong>Funkcia Paging - zvuková identifikácia polohy slúchadla<span
										style="line-height: 15.4px;">:</span></strong></td>
							<td> nie</td>
						</tr>
						<tr>
							<td> <strong>Monitorovanie miestnosti<span style="line-height: 15.4px;">:</span></strong>
							</td>
							<td> nie</td>
						</tr>
						<tr>
							<td> <strong>Kalendár a pripomienkovač<span style="line-height: 15.4px;">:</span></strong>
							</td>
							<td> nie</td>
						</tr>
						<tr>
							<td> <strong>Dosah<span style="line-height: 15.4px;">:</span></strong></td>
							<td> interiér: 50m; exteriér: 300m</td>
						</tr>
						<tr>
							<td> <strong>Tlačidlo vypnúť zapnúť zariadenie<span
										style="line-height: 15.4px;">:</span></strong></td>
							<td> áno</td>
						</tr>
						<tr>
							<td> <strong>Podpora napájania cez Ethernet (POE)<span
										style="line-height: 15.4px;">:</span></strong></td>
							<td> nie</td>
						</tr>
						<tr>
							<td> <strong>Možnosť upevnenia na stenu<span style="line-height: 15.4px;">:</span></strong>
							</td>
							<td> áno</td>
						</tr>
					</tbody>
				</table>
				<br />
			</div>
		</div>
	</div>

</div>
<p>
	&nbsp;</p>
<div class="easy-lightbox" id="info-magio-box">
	<p class="close-end">
		<a>X</a></p>
	<h2>
		<b>Magio GO TV Box</b></h2>
	<div class="lightbox-content">
		<div class="lightbox-content-1">
			<div class="lightbox-content-mob">
				<img src="../assets/img/magio_go_box_mob.png" /> <img class="sticker-picture"
					src="../assets/img/wording_8.png" /></div>
			<div>
				Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom
				televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte
				internet.</div>
		</div>
		<div class="lightbox-content-2">
			K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO
			Premium za 5,99 € | mes.</div>
		<div class="lightbox-content-3">
			<div class="lightbox-icon">
				<img src="../assets/img/icon6.png" /></div>
			<div class="lightbox-3-cont">
				V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
		</div>
	</div>
	<div class="lightbox-img-cont">
		<img src="../assets/img/magio_go_box.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" />
		<div class="tab-ex">
			<p>
				K ľubovolnej pevnej službe:</p>
			<div>
				<div class="tab-ex-label">
					Mesačne</div>
				<div class="tab-ex-price">
					0 €</div>
			</div>
			<div>
				<div class="tab-ex-label">
					Jednorázovo</div>
				<div class="tab-ex-price">
					<span class="strikethrough">69,99 €</span>29,90 €</div>
			</div>
		</div>
	</div>
	<p class="lightbox-action">
		<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
</div>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>