<section id="sec-5" class="section vyhody">
  <div class="container-fixed">
    <div class="row">
      <h2 class="sec__title">Objavte výhody Magenta&nbsp;1</h2>
      <div id="vyhody_slider" class="slider">
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_1.png" />
          </div>
          <p><b>Viac dát a volaní</b></p>
          <p>
            V skupine Magenta&nbsp;1 môžu všetky T&nbsp;paušály a paušály ÁNO
            získať ešte viac dát a volaní.
          </p>
          <a href="#viac-dat-a-volani" class="scroll-to"
            >Koľko dát a volaní získam?</a
          >
        </div>
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_2.png" />
          </div>
          <p><b>Darovanie dát svojim blízkym</b></p>
          <p>
            Podeľte sa s blízkymi o dáta, ktoré máte navyše v skupine
            Magenta&nbsp;1 k T&nbsp;paušálu alebo paušálu ÁNO.
          </p>
          <a href="#podelte-sa-o-data" class="scroll-to">Viac o darovaní dát</a>
        </div>
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_11.png" />
          </div>
          <p><b>TV archív</b></p>
          <p>
            Aktivujte si TV archív zadarmo v&nbsp;Telekom aplikácii
            a&nbsp;neujde vám už žiadny program. V&nbsp;archíve nájdete obľúbené
            programy zo staníc Markíza, Joj, Jednotka, Dvojka, ČT1 až 7 dní
            dozadu.
          </p>
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_5.png" />
          </div>
          <p><b>Volania, SMS a MMS navzájom zadarmo</b></p>
          <p>
            pre všetkých členov skupiny s paušálmi, Easy kartou aj programom Bez
            záväzkov.
          </p>
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_4.png" />
          </div>
          <p><b>Automatický prenos dát</b></p>
          <p>
            Dáta v T a ÁNO paušáloch, ktoré neminiete v príslušnom zúčtovacom
            období, vám automaticky a bezplatne prenesieme do ďalšieho mesiaca.
          </p>
        </div>
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_3.png" />
          </div>
          <p><b>Smartfón za výhodnejšiu cenu</b></p>
          <p>
            Ako člen skupiny získate pri predĺžení alebo výbere nového paušálu
            extra zľavu na vybraný smartfón.
          </p>
          <a href="#novy-smartfon" class="scroll-to"
            >Pozrieť zvýhodnené smartfóny</a
          >
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_7.png" />
          </div>
          <p>
            <b
              >Internet v mobile zadarmo pri výpadku Magio internetu alebo TV</b
            >
          </p>
          <p>
            Pri výpadku Magio internetu alebo TV vám sprístupníme záložný
            neobmedzený internet v mobile zadarmo. Tak môžete naďalej
            neobmedzene surfovať ako aj bezstarostne využívať internetovú
            televíziu Magio Go.
            <span
              class="info"
              alt="V prípade výpadku Magio internetu alebo Magio TV nám zavolajte na bezplatnú non-stop linku 0800 123 777 a ak sa nám nepodarí poruchu okamžite odstrániť, na 48 hodín vám zadarmo poskytneme neobmedzený internet v mobile."
              >i</span
            >
          </p>
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_9.png" alt="" />
          </div>
          <p><b>Neobmedzené denné dáta so zľavou</b></p>
          <p>
            Balík za 2 € namiesto 3 €, je dostupný pre všetky T&nbsp;paušály,
            paušály ÁNO a Happy okrem Happy XS mini, XS a S.
          </p>
          <a href="https://telekomsk.page.link/Zhs6">Aktivovať balík</a>
        </div>
      </div>
      <a href="#" class="btn btn_mag-outline all-benefits">Ďaľšie výhody</a>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
