/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

.section {
    padding: 50px 0 0 0;
}

.section .container-fixed {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 100px;
}

.section .container-fixed:after {
    content: "";
    display: table;
    clear: both;
}

.section:last-of-type .container-fixed {
    border: 0;
}

.ico-sq {
    font-size: 8px;
    vertical-align: middle;
    margin-right: 2px;
}

#content .sec__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#content .sec__title b {
    font-weight: 900;
}

#prod-detail,
#product-form,
.formComposition h2,
.dynamicFormPages,
.emptyPageField,
.form-popup,
.portlet-msg-success {
    display: none;
}

#content .mb-15 {
    margin-bottom: 15px !important;
}

#content .mb-30 {
    margin-bottom: 30px !important;
}

/* TABS */

.tab {
    border: 0;
}

.tabs-menu li {
    margin: 0 10px;
}

.tabs-menu li a {
    padding: 0;
}

.tab-content {
    margin-top: 15px;
}

@media screen and (max-width: 520px) {
    #content .tabs-menu { width: auto; }
  .tabs-menu li:hover { border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current { width: auto; border: 0; border-bottom: 0; }
  .tabs-menu li:last-of-type { border-bottom: 0; }
  #content .tabs-menu { height: auto; }
  .tab { border: 0; }
  .tabs-menu li a { padding: 0; display: block; }
  .tabs-menu li.current {
      border-bottom: 4px solid #6bb324;
  }
}

/* BOTTOM TABS */

#tab-4 {
    display: block;
}

.tab-2 .tabs-menu li a {
    padding: 0 20px;
}

#content .tab-2 .tabs-container li {
    cursor: default;
}

.tab-2 .tabs-menu li {
  margin: 0;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #b2b2b2;
  border-right: 0;
  background: #ededed; }

.tab-2 .tabs-menu li.current {
  background: #c7c7c7; }

.tab-2 .tabs-menu li:first-of-type {
  border-right: 0;
  border-radius: 4px 0 0 0; }

.tab-2 .tabs-menu li:last-of-type {
  border-radius: 0 4px 0 0;
  border-right: 1px solid #a4a4a4; }

.tab-2 .tabs-menu li:hover {
  background: #c7c7c7; }

.tab-2 .tab__holder {
  border-bottom: 1px solid #a4a4a4;
  text-align: inherit;
}

#content .tab-2 .tabs-menu li.current a {
  color: #383838; }

#content .tab-2 .tabs-menu {
  margin-bottom: -1px !important; }

@media screen and (max-width: 520px) {
  #content .tab-2 .tabs-menu li a {
    text-align: center; }

    .tab-2 .tab__holder {
      border-bottom: 0;
      text-align: center;;
    }

    .tab-2 .tabs-menu li:first-of-type {
      border-radius: 4px 0 0 4px; }

    .tab-2 .tabs-menu li:last-of-type {
      border-radius: 0 4px 4px 0; }

}

/* =============== CSS FOR POPUP =============== */
.form-popup {
    display: none;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    max-width: 380px;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 60px;
    text-align: center;
    z-index: 101; }

#content .fp__close-btn {
    position: absolute;
    top: 10px;
    right: 10px; }

#content .form-popup h3, #content .form-popup p, #content .form-popup a {
    margin: 0; }

#content .form-popup .fp__title {
    color: #4b4b4b; }

#content .form-popup .fp__desc {
    margin: 10px 0 15px; }

.fp__overlay {
    display: none;
    background: rgba(237, 237, 237, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.p-content {
    text-align: center;
    font-size: 16px;
    padding-bottom: 15px;
}

.p-title {
    text-transform: uppercase;
    font-size: 24px;
    color: #e20074;
    margin-bottom: 10px;
}

.p-bold {
    font-weight: bold;
    margin: 5px 0;
}

.c-close {
    margin-top: 20px;
    display: inline-block;
}

/* PROD LIST */


/* HERO */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
}

.hero__content {
    text-align: center;
    max-width: 460px;
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 60% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color: #262626;
    }

    #hero .btn {
        margin-top: 60px;
    }
}


/* SEC - 1 */

#content .reason {
    text-align: center;
    color: $black;
    padding: 0 30px;
}

#content .reason__title {
    font-weight: bold;
    margin-bottom: 0;
    line-height: 18px;
}

#content .reason__desc {
    margin-top: 0;
    line-height: 18px;
}

.ico_center {
    text-align: center;
}

.ico_link {
    display: inline-block;
}

.ico_link img {
    vertical-align: bottom;
    margin-right: 5px;
}

.img_right {
    text-align: right;
}

#content #sec-1 .function-detail p {
    margin: 0;
}

#content #sec-1 .function-detail ul {
    font-size: 16px;
}

#content #sec-1 .function-detail li {
    cursor: default;
    margin-top: 3px;
}

#content #sec-1 .function-detail li span {
    margin-left: -20px;
}

@media screen and (max-width: 768px) {
    .img_right {
        text-align: center;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    #sec-1 {
        border-top: 1px solid #d0d0d0;
    }
}

/* SEC - 2 */


/* SIDEBAR SLIDER */

.sidebar-slider {
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.59);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.59);
}

.ss__sidebar,
.ss__slides {
    padding: 0;
}

#content .ss__link {
    font-size: 30px;
    font-weight: 900;
    color: $black;
    display: inline-block;
    width: 100%;
    padding: 25px 0 25px 15px;
}

#content .ss__link {
    opacity: 0.2;
}

#content .ss__link:hover {
    opacity: 0.6;
}

#content .ss__link.active {
    color: $white;
}

#content .ss__link.active {
    opacity: 1;
}

#content .ss__holder {
    display: block;
    background-size: cover;
}

.ss__holder-1 {
    background: url('../img/slider-slide-1.jpg') no-repeat;
}

.ss__holder-2 {
    background: url('../img/slider-slide-2.jpg') no-repeat;
}

.ss__holder-3 {
    background: url('../img/slider-slide-3.jpg') no-repeat;
}

#content .ss__slide {
    background-size: cover;
    padding: 20px;
    display: none;
}

#content .ss__slide.active {
    display: inline-block;
}

.ss__slide-1 {
    background: url('../img/slider-big__slide-1.jpg') no-repeat;
}

.ss__slide-2 {
    background: url('../img/slider-big__slide-2.jpg') no-repeat;
}

.ss__slide-3 {
    background: url('../img/slider-big__slide-3.jpg') no-repeat;
}

#content .ss__title {
    margin: 0 0 15px 0;
    color: $black;
    font-size: 24px;
    font-weight: 900;
}

#content .ss__desc {
    margin: 0;
}

#content .ss__prod-list {
    margin: 20px 0 0 0;
}

.ss__prod {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
}

#content .ss__prod p {
    font-size: 14px;
    line-height: 16px;
}


/* SEC - 5 */

.app-title-section {
    margin-bottom: 15px;
    width: 100%;
    display: block;
    min-height: 85px;
}

.app-ico-holder {
    float: left;
    margin-right: 15px;
}

#content .app-title {
    font-size: 32px;
    text-transform: uppercase;
    color: #e20074;
    line-height: 32px;
}

#sec-5 ul,
#content #sec-5 #tab-5 p {
    margin: 0;
    font-size: 16px;
}

#sec-5 #tab-5 li {
    cursor: default;
}

.app__link:first-of-type {
    margin-right: 30px;
}

.qr-code {
    max-width: 126px;
}

.qr-android {
    margin: 5px 20px 0 20px;
}

.qr-ios {
    margin: 5px 20px 0 20px;
}

.app-slider {
    margin-top: 40px;
}

#content .slick-arrow {
    border: 0 !important;
    height: auto !important;
    font-size: 0;
    width: 14px;
    height: 24px !important;
    position: absolute;
    top: 50%;
    z-index: 10;
}

#content .slick-prev.slick-arrow {
    background: url('../img/slider-left.png') no-repeat;
    left: 0;
}

#content .slick-next.slick-arrow {
    background: url('../img/slider-right.png') no-repeat;
    right: 0;
}

#content .slick-arrow {
    border: 0 !important;
    height: auto !important;
    font-size: 0;
    width: 14px;
    height: 24px !important;
    position: absolute;
    top: 50%;
    z-index: 10;
}

#content .slick-prev.slick-arrow {
    background: url('../img/slider-left.png') no-repeat;
    left: 0;
}

#content .slick-next.slick-arrow {
    background: url('../img/slider-right.png') no-repeat;
    right: 0;
}

.slick-slide:focus {
    outline: 0;
}

.slick-slide img {
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .app__link,
    .app__link img {
        max-width: 130px;
    }

    .app__link:first-of-type {
        margin-right: 10px;
    }

    .qr-code {
        max-width: 115px;
    }

    .qr-android {
        margin: 5px 10px 0 10px;
    }

    .qr-ios {
        margin: 5px 10px 0 10px;
    }
}

/* SEC - 6 */

#sec-6 .row {
    text-align: center;
}

#sec-6 .col-holder {
    max-width: 640px;
    display: inline-block;
}


/* ANIMATION BANNER */

.img-holder {
    position: relative;
}

.hand {
    position: absolute;
    top: -16px;
    left: 97px;
    z-index: 30;
    display: inline-block;
}

.screen {
    opacity: 0;
    position: absolute;
    left: 147px;
    top: 38px;
    z-index: 20;
    display: inline-block;
}

@media screen and (max-width: 800px) {
    .hand {
        top: -16px;
        left: -10px;
    }
    .screen {
        opacity: 0;
        position: absolute;
        left: 40px;
        top: 38px;
        display: inline-block;
    }
}


/* SEC - 3 */


/* BIG SLIDER */

#content .bs__slide .row {
    background-size: cover;
    min-height: 480px;
}

.bs__slide-1 .row {
    background: url('../img/slider-big_1.jpg') no-repeat;
}

.bs__slide-2 .row {
    background: url('../img/slider-big_2.jpg') no-repeat;
}

.bs__slide-3 .row {
    background: url('../img/slider-big_3.jpg') no-repeat;
}

.bs__slide-4 .row {
    background: url('../img/slider-big_4.jpg') no-repeat;
}

.bs__slide-5 .row {
    background: url('../img/slider-big_5.jpg') no-repeat;
}

.bs__slide-6 .row {
    background: url('../img/slider-big_6.jpg') no-repeat;
}

.bs__prod-list {
    min-height: 480px;
    background-color: rgba(226, 0, 116, 0.7);
    padding: 40px;
}

#content .bs__title {
    color: $white;
    font-size: 38px;
    margin: 0 0 60px 0;
}

#content .bs__title b {
    font-weight: 900;
}

#content .bs__list {
    margin: 0;
}

.bs__prod {
    display: inline-block;
    text-align: center;
    padding: 0 15px;
}

#content .bs__prod p {
    color: $white;
}


/* SEC - 4 */

#content .sec-4 .container-fixed {
    position: relative;
}

#content .sec-4 .container-fixed {
    padding-bottom: 20px;
}

#content .sec-4 .sec__title {
    margin-bottom: 0;
    padding-bottom: 0;
}

#content .sec-4 .sec__desc {
    text-align: center;
    margin-bottom: 40px;
}

.sec__ec {
    position: absolute;
    top: -8px;
    right: 85px;
}

#content .sec-4 .sub-head {
    font-size: 34px;
    color: $black;
    font-weight: 900;
}

#content .sec-4 .sub-head img {
    vertical-align: text-bottom;
    margin-right: 10px;
}

.product-filter {
    margin: 10px 0;
}

#content .pf__desc {
    color: $mine-shaft-dark;
}

.payment-labels {
    text-align: left;
    margin: 5px 0;
}

.payment-option {
    text-align: center;
    margin-top: 20px;
}

.payment-option label {
    margin-top: 2px;
    display: inline-block;
}

#product-list-pack {
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}

.products.sub-head {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 20px;
}

#content .ssb-custom {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
}

#content .product-list {
    width: 100%;
}

#content .plh__holder {
    border-bottom: 1px solid #d0d0d0;
}

#content .plh {
    text-align: center;
    color: #6c6c6c;
}

.product-row {
    text-align: center;
    border-bottom: 1px solid #d0d0d0;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.product-row_last {
    border-bottom: 0;
}

#content .more-info {
    color: #007faf;
}

.prod-link:hover .more-info {
    text-decoration: underline;
}

.hue-selected {
    background-color: #fffbe9;
}

.product-row:hover {
    background-color: #ededed;
}

.product-row .item-holder:first-of-type .item-inner {
    flex: 1;
    display: flex;
    align-items: center;
}

.prod-img {
    float: left;
}

#content .prod-title {
    text-align: left;
    float: left;
    font-size: 18px;
}

#content .prod-title b {
    font-weight: 900;
}

.price1-holder {
    border-left: 1px solid #d0d0d0;
}

.price1-holder .item-inner {
    display: flex;
    justify-content: center;
}

#content .price1 {
    color: #d0d0d0;
}

#content .price1 b {
    font-size: 38px;
}

#content .price2,
#content .force-disabled,
#content .force-disabled.active,
#content .force-disabled.active b {
    color: #d0d0d0;
}

#content .price2 b {
    font-size: 38px;
}

#content .active b,
#content .force-active b {
    color: $magenta;
}

#content .active,
#content .force-active {
    color: #4b4b4b;
}

.count {
    display: inline-block;
}

#content .count input {
    max-width: 48px;
}

.count .arrow {
    background: url('../img/ico-arrow_top.png') no-repeat;
    width: 14px;
    height: 12px;
    display: block;
    cursor: pointer;
}

.count .arrow.dec {
    background: url('../img/ico-arrow_bottom.png') no-repeat;
    margin-top: 3px;
}

.count .arrow-holder {
    display: inline-block;
    margin-top: 4px;
}

.count-input {
    vertical-align: bottom;
}

.sec-4 .btn-wrapper {
    width: 100%;
    text-align: right;
    margin-top: 20px;
    display: inline-block;
}

.error-msg {
    display: none;
}

@media screen and (max-width: 930px) {
    .sec__ec {
        right: 0;
    }
}

@media screen and (max-width: 767px) {
    .sec__ec {
        display: none;
    }

    .payment-labels {
        text-align: center;
    }

    .product-row {
        display: inline-block !important;
    }
    .payment-option .col-md-4 {
        max-width: 250px;
        text-align: left;
        margin: 0 auto 10px auto;
    }
    .pl__head {
        display: none;
    }
    .prod-holder,
    .price1-holder,
    .price2-holder,
    .count-holder {
        width: 50%;
        float: left;
    }
    .price1-holder {
        border-left: 0;
    }
    .clear-row {
        width: 100%;
        height: 1px;
        float: left;
    }
}

@media screen and (max-width: 540px) {
    .prod-holder,
    .price1-holder,
    .price2-holder,
    .count-holder {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* PROD LIST END */


/* PROD DET */

#prod-detail p {
    color: $black;
}

#content .back img,
#content .back2 img {
    vertical-align: middle;
}

#content .back,
#content .back2 {
    font-size: 24px;
    color: #1063ad;
    margin: 20px 0;
    display: inline-block;
}

.pd__prod-img {
    text-align: center;
}

.pd__prod-img img {
    max-width: 397px;
    width: 100%;
}

#content .pd__prod-title {
    color: $black;
    font-size: 38px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#content .pd__prod-title b {
    font-weight: 900;
}

#content .pd__desc {
    color: $black;
}

#content .key-function-title {
    color: $black;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
    display: inline-block;
    margin-top: 20px;
}

#content .key-func {
    margin: 0 0 20px 0;
}

#content .key-func li {
    list-style: square;
    list-style-position: inside;
    color: $black;
    font-size: 16px;
}

#content .main-price {
    color: $magenta;
    font-size: 50px;
    margin-bottom: 0;
    line-height: 40px;
    margin-top: 20px;
}

#content .main-price-monthly {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 20px;
}

#content .mp-desc {
    margin-top: 0;
    margin-bottom: 20px;
}

#prod-detail .gallery {
    margin: 20px 0;
}

.gal-img-holder {
    padding-top: 5px;
    padding-bottom: 5px;
}

.gal-img-holder img {
    max-width: 220px;
    width: 100%;
}

#content .det-info__title {
    color: $black;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 20px;
}

#content .spec-table td {
    padding: 3px 5px 3px 0;
}

#content .spec-table a {
    color: #000;
}

.spec-table tr td:first-of-type {
    font-weight: bold;
}

#content .package-items {
    margin: 0 0 20px 0;
}

#content .package-items li {
    list-style: square;
    list-style-position: inside;
    color: $black;
    font-size: 16px;
}

#content .download {
    font-weight: bold;
    margin-bottom: 0;
}

#content .download-link {
    color: $black;
    text-decoration: none;
    margin-top: 0;
}

.detailed-info {
    margin-top: 60px;
}

/* PROD DET END */


/* CMB AREA */

#content #cmb__btn {
    font-size: 16px;
}

#content .text-center {
    text-align: center;
}

#content .cmb__area {
    background: #cedfef;
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 940px;
    width: 100%;
}

#content h3.cmb__area__head {
    border-bottom: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #262626;
}

#cmb__holder:after,
#cmb__holder:before {
    content: "";
    display: table;
    clear: both;
}

#cmb__holder {
    text-align: center;
    margin: 40px 0;
    display: inline-block;
    width: 100%;
}


/* FORM */

#content .sec-8 {
    padding-top: 0;
}

#content .sec-8 .sec__title {
    display: inline-block;
    margin-bottom: 0;
}

#content .sec-8 .sec__title.title-1 {
    margin-bottom: 20px;
}

#content .sec-8 .sec__title.title-2 {
    margin-top: 80px;
}

#content .dynamicFormFields {
    height: auto !important;
}

#content li.dynamicFormItemBox {
    background: none !important;
    border: 0;
}

#content .formFieldRender {
    border: 0;
}

#content .pageNameField {
    display: none;
}

#content .outside {
    position: absolute;
    top: -1000px;
}

#content .inputRenderField label {
    width: 160px !important;
    display: inline-block;
}

#content .waterbear-theme #product-form input[type="text"] {
    min-width: 200px;
}

#content .journal-content-article ul:not(.accordion):not(.content-menu):not(.content-sub-menu):not(.tabs-navi):not(.list-arrow):not(.list-square):not(.toolbox-list) {
    margin: 0;
}

.waterbear-theme .button,
.waterbear-theme .page a.button,
.waterbear-theme input[type="submit"],
.waterbear-theme input[type="button"],
.waterbear-theme input[type="reset"],
.waterbear-theme button {
    line-height: normal;
}

button:not(.disabled):hover,
a.button:not(.disabled):hover,
input[type="button"]:not(.disabled):hover,
input[type="submit"]:not(.disabled):hover {
    transform: none;
}

.price-final {
    justify-content: flex-end;
    border-bottom: 0;
}

.price-final .item-holder {
    border-bottom: 1px solid #d0d0d0;
    padding-top: 20px;
    padding-bottom: 18px;
}

.pricing-method-final {
    border: 0 !important;
    text-align: left;
}

#content .sec-ma {
    margin-top: 40px;
    display: inline-block;
}

#content .disabled-prod p,
#content .disabled-prod b {
    color: #d0d0d0 !important;
}

#content .billing .price1,
#content .billing .price2 {
    margin-top: 20px;
}

#content .legal_small,
#content .legal_small a {
    font-size: 14px;
}

.user-notes label {
    display: block;
}

.formFieldRenderField.user-notes span textarea {
    max-width: 320px;
    min-height: 150px;
}

/* IFRAME */

#sec-iframe .fixed-column {
    overflow: hidden;
}

.iframe-holder {
    position: relative;
    width: 105%;
    height: 640px;
}

#sec-iframe iframe {
    width: 100%;
    height: 640px;
    right: 38px;
    position: absolute;
    overflow: hidden;
}

@media screen and (max-width: 940px) {
    #sec-iframe {
        display: none;
    }
}
