/* ===============
   CSS FOR MICROSITE
   =============== */

/****************************************/
/* SECTIONS */
/****************************************/
   $bg-grey: #ededed;

   .section {
     padding: 40px 0px;

       &:nth-of-type(odd) {
       background-color: $bg-grey;
     }
  }

  /* ===============
    Hero
     =============== */

  #hero {
      overflow: hidden;
      min-height: 254px;
      padding: 60px 2%;
      background: url(../img/kv_hero.jpg?v=1) no-repeat 46% 50%;
      background-size: cover;
      & .hero__content {
          text-align: center;
          max-width: 460px;
          & .btn {
            margin-bottom: 10px;
          }
      }
      & .hero__title {
          font-size: 34px;
          margin-top: 0;
          padding-bottom: 0;
          text-transform: uppercase;
          color: #000;
          border: 0;
      }
      &.link {
          font-size: 18px;
          font-weight: 500;
          text-decoration: underline;
      }
      & .hero__link {
          margin-top: 10px;
          display: inline-block;
          text-decoration: underline;
      }
  }

  // #hero .hero__title {
  //     color: #fff;
  // }

  @media screen and (max-width: 960px) {
      #hero {
          width: 100%;
          padding: 40px 2%;
      }
  }

  @media screen and (max-width: 768px) {
      #hero .hero__title {
          font-size: 30px;
      }
  }

  @media screen and (max-width: 480px) {
      #hero {
          background: transparent;
          padding: 0;
          & .btn {
              margin-top: 60px;
          }
          & .container-fixed {
              margin: 0;
              padding: 0;
              width: 100%;
          }
      }
      .hero__mobile {
          background: url(../img/kv_hero.jpg) no-repeat 60% 0%;
          height: 195px;
      }
      .hero__content {
          padding: 40px 4%;
      }
      #content .hero__title,
      #content .hero__desc {
          color: #262626;
      }
  }

/****************************************/
/* LIGHTBOX - FANCYBOX */
/****************************************/
.easy-lightbox {
    display: none;
    text-align: center;
    max-width: 300px;
    padding: 30px;
}

.easy-lightbox h2 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #E20074;
    text-transform: uppercase;
}

.easy-lightbox h3 {
    text-transform: uppercase;
}

.easy-kredit tr {
    background-color: #fff;
}

.easy-kredit tr:last-child {
    background-color: #e20074;
    color: #fff;
}

.easy-kredit td {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.kredit-ceny {
    font-size: .9em;
    text-align: left;
}

/****************************************/
/* SLIDER */
/****************************************/
.slider {
    max-width: 675px;
    margin: 0 auto;
    position: relative;
    & .slick-list {
        padding: 15px 0;
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0 -30px;
        &:focus {
            outline: none;
        }
        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
        & .slick-track {
            display: flex;
            & .slick-slide {
                display: flex !important;
                height: auto;
                align-items: center; //optional
                justify-content: center; //optional
                margin: 0 10px;
                &:hover {
                    //transform: scale(1.01);
                    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
                    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
                    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
                }
                & img {
                  max-width: 100%;
                }
            }
            & .box-slider {
              background-color: #ededed;
              color: #6c6c6c;
              /*max-width: 385px;*/
              text-align: center;
              padding: 20px;
              display: inline-block;
              vertical-align: top;
              margin-right: 10px;
              margin-left: 10px; }
        }
    }
}

#content .slick-arrow {
    font-size: 0;
    height: 44px;
    width: 44px;
    transform: none;
    transition: none;
    border: none !important;
    background: transparent url('../img/btn-sprite.png');
    position: absolute;
    top: 43%;
    z-index: 10;
}

#content .slick-prev {
    background-position: 0 0;
    left: -68px;
}

#content .slick-next {
    background-position: 44px 0;
    right: -68px;
}

/* =============== Slider Custom Arrows =============== */
#content .slick-disabled {
  opacity: 0.2;
  pointer-events: none;
}

// #content .slick-prev.slick-arrow.slick-disabled {
//   background: url("../img/arrow-disabled.png") no-repeat !important;
//   background-position: 0px 0px !important; }
//
// #content .slick-next.slick-arrow.slick-disabled {
//   background: url("../img/arrow-disabled.png") no-repeat !important;
//   background-position: 0px -64px !important; }
/* ============= Slider Custom Arrows END ============= */


/* === SLICK dots v1 START ==== */
/* v1 sa pouzije ak sa v main.js prepne customPaging pre slider */

// .slick-dotted.slick-slider {
//     margin-bottom: 30px;
// }
// .slick-dots {
//     position: relative;
//     bottom: 0px;
//     display: block;
//     width: 100%;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     text-align: center;
// }
// .slick-dots li {
//     position: relative;
//     display: inline-block;
//     width: 30px;
//     height: 20px;
//     margin: 20px 10px;
//     padding: 0;
//     cursor: pointer;
// }
// .slick-dots li button {
//     font-size: 0;
//     line-height: 0;
//     border: 0px!important;
//     display: block;
//     width: 30px;
//     height: 20px;
//     padding: 5px;
//     cursor: pointer;
//     color: transparent;
//     border: 0;
//     outline: none;
//     background: transparent;
// }
// .slick-dots li button:hover,
// .slick-dots li button:focus {
//     outline: none;
// }
// .slick-dots li button:hover:before,
// .slick-dots li button:focus:before {
//     opacity: 1;
// }
// .slick-dots li button:before {
//     font-family: 'slick';
//     font-size: 6px;
//     line-height: 20px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 20px;
//     height: 20px;
//     content: '•';
//     text-align: center;
//     opacity: .25;
//     color: black;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
// .slide-dot {
//     width: 30px;
//     height: 4px;
//     display: inline-block;
//     background-color: #ededed;
//     transition: all 0.5s ease 0s;
// }
// .slick-active {
//     outline: none;
// }
// .slick-active .slide-dot {
//     opacity: .75;
//     background-color: #6bb324;
// }
// .slick-dots li.slick-active button:before {
//     opacity: .75;
//     color: black;
// }
/* === SLICK dots v1 END ==== */

/* === SLICK dots v2 START ==== */
.slick-dots li button {
    font-size: 0;
    height: 8px;
    width: 8px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #b6b6b6 !important;
    background-color: #ededed;
}

#content ul.slick-dots {
    margin: 10px 0 0 0;
    text-align: center;
    height: 8px;
}

.slick-dots li {
    display: inline-block;
    margin: 0 2px;
    height: 8px;
}

.slick-dots .slick-active button,
.slick-dots button:focus,
.slick-dots button:hover {
    border: 1px solid #568727 !important;
    background-color: #6bb324;
}
/* === SLICK dots v2 END ==== */

@media screen and (max-width: 768px) {
    #content .slick-prev {
        background-position: 0 0;
        left: -20px;
    }
    #content .slick-next {
        background-position: 44px 0;
        right: -20px;
    }
}
/* SLIDER END */

/* TABS */
#content .tabs-container ul { list-style: none; }

#content .tabs-container .tab-link { cursor: pointer; }

.tab__holder { text-align: center; line-height: 0; }

.segment .tab__holder {
  text-align: left;
}

#content .tabs-menu { height: 40px; clear: both; margin: 0; display: inline-block; }

#content .segment .tabs-menu {
  height: 39px;
  & li.variant:hover {
    height: 39px;
  }
  & li a {
    padding: 0 20px;
  }
  & li:hover {
    border-bottom: 0px;
    background-color: #ededed;
  }
  & .variant.current {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0px;
    & a {
      color: #757575;
    }
    &:hover {
      background-color: #fff;
      height: 40px;
    }
  }
}

.tabs-menu li { height: 40px; line-height: 40px; float: left; }

.tabs-menu li.current { position: relative; border-bottom: 1px solid #dbdbdb; z-index: 5; border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover { border-bottom: 4px solid #ededed; }

.tabs-menu li a { font-size: 1em; padding: 0 40px; color: #757575; text-decoration: none; display: inline-block; }

.tabs-menu li a:hover { color: #383838; }

.tabs-menu .current a { color: #6bb324; }

.tab { border-top: 1px solid #dbdbdb; width: 100%; }

.segment .tab {
  border: none;
}

.tab__variant { display: none; }

.tab__variant.selected { display: block; }

.tab-content { margin-top: 45px; display: none; }

.segment .tab-content {
  padding-top: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2;
}

#tab-1 { display: block; }

@media screen and (max-width: 520px) { #content .tabs-menu { width: 100%; }
  .tabs-menu li:hover { border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current { width: 100%; border: 1px solid #dbdbdb; border-bottom: 0; }
  .tabs-menu li:last-of-type { border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu { height: auto; }
  .tab { border: 0; }
  .tabs-menu li a { padding: 0; display: block; } }
/* TABS END */

/****************************************/
/* ACCORDION */
/****************************************/
// hide ACCORDION by default
.accordion {
    display: none;
}
@media screen and (max-width: 768px) {
  // hide TABS if window size <768px
  .tabs-container .tab__holder, .tabs-container .tab {
  display: none;
  }
  // show ACCORDION
    .accordion {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        margin: auto;
        display: block;
        font-size: 16px;
        padding: 0% 2%;
    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url('../img/ico-plus.png') no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;
      & .ac-price {
            color: #a4a4a4;
            font-weight: normal;
      }
    }
    & .item.open .heading {
      background: url('../img/ico-minus.png') no-repeat;
      background-position: right center;
    }
    & .item.open .content {
       display: block;
    }
    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }

    .content:after {
        content: "";
        display: table;
        clear: both;
    }
    .p-detail {
      & p {
          margin-top: 0;
      }
      & p.mb-10 {
          margin-bottom: 10px;
          text-align: left;
      }
    }

    .p-actions {
        width: 100%;
      & .btn {
          margin: 5px 0px;
          width: 100%;
      }
    }

    .p-price-label {
        text-align: left;
      &  .p-price {
          font-size: 20px;
          color: #e20074;
      }
    }
  }
}


/****************************************/
/* POPUP */
/****************************************/

#content {
  .fancybox-wrap {
    border: 0;
    & .fancybox-skin {
      background-color: #fff;
      border-radius: 11px;
      & .fancybox-outer {
        & .fancybox-inner {
          & .p-head {
              display: block;
              height: 40px;
              border-bottom: 1px solid #d0d0d0;
              margin-bottom: 10px;
              & .p-close {
                background: none;
                position: absolute;
                right: 10px;
                top: 11px;
                a.close-btn {
                  position: relative;
                  display: inline-block;
                  width: 17px;
                  height: 17px;
                  overflow: hidden;
                  float: right;
                  transition: all 100ms linear;
                  &::before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 48%;
                    left: 0;
                    background: #000;
                    transform: rotate(45deg);
                    height: 1px;
                  }
                  &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 48%;
                    left: 0;
                    background: #000;
                    transform: rotate(-45deg);
                    height: 1px;
                  }
                }
              }
          }
          & .p-content {
            & .popup-lightbox {
              font-size: 1.3em;
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
              color: #e20074;
              & p {
                font-size: 18px;
                margin: 0;
                color: black;
              }
              & a.btn {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
    & .fancybox-opened .fancybox-skin {
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
  }
}
/* POPUP END */




/****************************************/
/*  ARROWS, BUTTONS, DROPDOWNS, ITEMS   */
/****************************************/

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover, &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */

/* LINK DARK-BG */
#content a.link-darkbg {
  color: #3ec0f0;
  text-decoration: underline;
  &:hover {
      color: #27a2cf;
      text-decoration: underline;
  }
}
/* LINK DARK-BG END */

/* LINK NO REDIRECT */
#content .link-nordr {
  color: #007faf;
  text-decoration: none;
  display: block;
  & :hover {
    color: #00668d;
    text-decoration: none;
  }
}
/* LINK NO REDIRECT END */

.container {
	background-color: grey;
	height: 200px;
	padding: 10px 5px;
}

/* RANGE SLIDER 2 OPTIONS */
.ui-slider {
	position: relative;
  text-align: left;
  .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
  }
  .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
  }
  /* support: IE8 - See #6727 */
  &.ui-state-disabled .ui-slider-handle,
  &.ui-state-disabled .ui-slider-range {
    filter: inherit;
  }
}
.ui-slider-horizontal {
  height: .8em;
  .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
  }
  .ui-slider-range {
    top: 0;
    height: 100%;
  }
  .ui-slider-range-min {
    left: 0;
  }
  .ui-slider-range-max {
    right: 0;
  }
}

.ui-slider-vertical {
	width: .8em;
  height: 100px;
  .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
  }
  .ui-slider-range {
    left: 0;
    width: 100%;
  }
  .ui-slider-range-min {
    bottom: 0;
  }
  .ui-slider-range-max {
    top: 0;
  }
}

.slider_range {
  display: block;
  min-height: 25px;
  .slider-name {
      padding-bottom: 5px;
  }
  .slider_range-content {
  &.ui-slider-horizontal {
      height: 3px;
      .ui-slider-handle {
      /* set top to -0.85 if used with price in circles*/
      top: -5px;
      font-size: 0.85em;
      /* set width and height to 30 if used with price in circles*/
      height: 12px;
      width: 12px;
      background: $magenta;
      color: #fff;
      cursor: pointer;
      text-align: center;
      line-height: 27px;
      border: 1px solid $magenta;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
          &:focus {
              background: $magenta;
              outline: none;
          }
      }
      .ui-slider-range {
          height: inherit;
          top: 0;
      }
  }
  }
  .slider-priceWrapper {
      .left-price {
          float: left;
      }
      .right-price {
          float: right;
      }
  }
}

/* RANGE INPUT START */
#content .range-slider {
  width: 27%;
  & .input-range {
   cursor: pointer;
  }
  & input[type="range"]{
      -webkit-appearance: none;
      width: 200px;
      -moz-apperance: none;
      background: transparent;
      background-image: -webkit-gradient(
  		 linear,
  		 left top,
  		 right top,
  		 color-stop(0.05, #94A14E), //starting position of green line
  		 color-stop(0.05, #C5C5C5)
      );
  }
  input[type=range]:focus {
      outline: none;
  }
  /* CHROME FIX */
  input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
  	 border: 1px solid #b6b6b6;
      border-radius: 50%;
      background: #ededed;
      height: 16px;
      width: 16px;
  	 margin-top: -6px;
  }
  input[type=range]::-webkit-slider-runnable-track {
  	height: 3px;
  }
  /* FIREFOX FIX */
  input[type=range]::-moz-range-track {
      width: 200px;
      height: 3px;
      background: transparent;
      border: none;
      border-radius: 3px;
  }
  input[type=range]::-moz-range-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #ededed;
  	 border: 1px solid #b6b6b6;
  }
  /*hide the outline behind the border*/
  input[type=range]:-moz-focusring{
      outline: 1px solid white;
      outline-offset: -1px;
  }
  /* IE FIX */
  input[type=range]::-ms-track {
      width: 200px;
      height: 3px;
      /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
      background: transparent;
      /*leave room for the larger thumb to overflow with a transparent border */
      border-color: transparent;
      border-width: 6px 0;
      /*remove default tick marks*/
      color: transparent;
  }
  input[type=range]::-ms-fill-lower {
      background: #94A14E;
      border-radius: 10px;
  }
  input[type=range]::-ms-fill-upper {
      background: #ddd;
      border-radius: 10px;
  }
  input[type=range]::-ms-thumb {
      border: none;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      background: #ededed;
  	 margin-top: 0px;
  	 border: 1px solid #b6b6b6;
  }
  input[type=range]:focus::-ms-fill-lower {
      background: #94A14E;
  }
  input[type=range]:focus::-ms-fill-upper {
      background: #ccc;
  }
}

#content .range-value {
  margin: 10px 0;
  display: block;
}
/* RANGE INPUT END */

/* H1 */
#content h1 {
  font-size: 36px;
  color: #262626;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #content h1 {
    font-size: 32px;
  }
}
/* H1 END */

/* H1 DARKBG */
#content h1.darkbg {
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #content h1.darkbg {
    font-size: 32px;
  }
}
/* H1 DARKBG END */

/* H2 */
#content h2 {
  font-size: 32px;
  color: #e20074;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #content h2 {
    font-size: 28px;
  }
}
/* H2 END */

/* H2 EXCEPT */
#content h2.except {
  font-size: 32px;
  color: #262626;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #content h2.except {
    font-size: 28px;
  }
}
/* H2 EXCEPT END */

/* H3 */
#content h3 {
  font-size: 16px;
  color: #262626;
  font-weight: 600;
}
/* H3 END */

/* p error */
#content p.errormsg {
  font-size: 14px;
  color: #D90000;
}
/* p error END */

/* p legal */
#content p.legaltext {
  font-size: 14px;
  color: #6C6C6C;
}
/* p legal END */

/* search bar */
.search-container{
  width: 200px;
  display: block;
  margin: 0 auto;
  position: relative;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 35px;
  padding: 0 50px 0 35px;
  font-size: 1rem;
  border: 1px solid #b6b6b6;
  outline: none;
  border-radius: 5px;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease;
  	 opacity: 0;
     }
   }
 }
// lupa
a.magnifa {
  position: absolute;
  float: left;
  top: 0;
  height: 35px;
  width: 35px;
    #magnifying-glass {
      font-size: 15em;
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid #383838;
      position: relative;
      border-radius: 0.35em;
      margin: 11px 7px 11px 15px;
    }
    #magnifying-glass::before {
     content: "";
     display: inline-block;
     position: absolute;
     right: 9px;
     bottom: -3px;
     border-width: 0;
     background: #383838;
     width: 7px;
     height: 1px;
     -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
         -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
    }
}

// x button
a.closea {
  position: absolute;
  right: 10px;
  top: 11px;
    span.close-bttn {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 13px;
      overflow: hidden;
      float: right;
      transition: all 100ms linear;
      &::before, &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 48%;
        left: 0;
        background: #000;
      }
      &::before {
        transform: rotate(45deg);
        height: 1px;
      }
      &::after {
        transform: rotate(-45deg);
        height: 1px;
      }
      &:hover {
          transform: rotate(45deg);
        }
    }
}
/* search bar END */

/* Play button white */
.play-white {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  position: relative;
  & .fa {
    color: #383838;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-30%);
  }
}
/* Play button white END */

/* Product Stars */
#content {
  .product-stars {
    color: #ededed;
    text-decoration: none;
    & .fa {
      display: inline-block;
      width: 15px;
      text-align: center;
      height: 19px;
    }
  }
  .product-stars-set {
    color: #b6b6b6;
    text-decoration: none;
    & .fa {
      display: inline-block;
      width: 15px;
      text-align: center;
      height: 19px;
    }
  }
}
/* Product Stars END */

/* Tip */
#content {
  & .tip {
    background-color: #fff2cc;
    padding: 1% 3%;
    margin: 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #c0aa69;
    & p {
    color: #000;
    }
  }
}
/* Tip END */

/* Commit box */
#content {
  & .commitbox {
    background-color: #e9f4de;
    padding: 1% 3%;
    margin: 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #93c661;
    & p {
    color: #4d8319;
    }
  }
}
/* Commit box END */

/* Error box */
#content {
  & .errorbox {
    background-color: #fbe5e5;
    padding: 1% 3%;
    margin: 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #f4a1a1;
    & p {
      color: #d90000;
    }
  }
}
/* Error box END */

/* CHECKBOX */
#content {

    div.checker {
      position:relative;
      left:5px;
      margin:0;
      padding:0;
      position:relative;
      margin-right:15px;
      display:inline-block;
      vertical-align:top;
      & span {
        position: relative;
        width: 30px;
        height: 30px;
        border: 1px solid #999;
        background-color: #fff;
        box-sizing: border-box;
        background-image: none;
        overflow: visible;
        display: inline-block;
      }
      & span.checked {
        background-color: #ededed;
      }
      & span:before{
          position:absolute;
          content:"\f00c";
          display:inline-block;
          background-color:transparent;
          top: 15px;
          left: 15px;
          width: 20px;
          height: 28px;
          font-family:FontAwesome;
          font-size:0;
          line-height:0;
          color:#fff;
          transition: width .2s cubic-bezier(0.56,1,0.8,1.6),height .2s cubic-bezier(0.56,1,0.8,1.6),left .2s cubic-bezier(0.56,1,0.8,1.6),font-size .2s cubic-bezier(0.56,1,0.8,1.6),line-height .2s cubic-bezier(0.56,1,0.8,1.6),color .4s;
      }
      & span.checked:before{
        width: 20px;
        height: 28px;
        top: 0px;
        left: 4px;
        font-size: 20px;
        line-height: 30px;
        color: #6bb324;
        -webkit-text-stroke: 2px #ededed;
      }
    }
    div.checker.disabled {
      & span{
        background-color:#dcdcdc
      }
      & span:before{
          color:#dcdcdc;
      }
      span.checked:before{
          color:#999
      }
    }


    div.checker input[type="checkbox"]{
      background: none repeat scroll 0 0 transparent;
      border: medium none;
      display: inline-block;
      opacity: 0;
      -moz-appearance: none;
      width: 28px;
      height: 28px;
      margin-left: 0;
    }

    div.checker{
    }
}
/* CHECKBOX END */

/* rbCheckbox START */
.rbCheckbox {
  & .radio {
    & span {
    background-color: #fff !important;
    }
    & span.checked {
    background-color: #ededed !important;
    }
  }
}
/* rbCheckbox END */

/* SECONDARY RADIO BTNS */
.secondaryRadio {
  & input[type="radio"] {
    display: none;
  }
  & label {
    border: 1px solid #ccc;
    padding: 5px 20px;
    display: inline-block;
    cursor: pointer;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 18px;
  }
}
/* SECONDARY RADIO BTNS END */

/* HEAPBOX */
#content {
  & .heapBox {
    margin: 0;
    & .holder {
      border-radius: 4px 0 0 4px;
      max-height: 36px;
      background-color: #ededed;
      text-decoration: none;
    }
    & .handler {
      border-radius: 0 4px 4px 0;
      max-height: 36px;
      background-color: #ededed;
      text-decoration: none;
      &:after {
        content: '\f107';
        font-family: FontAwesome;
        color: #383838;
        border: 0;
        top: 18%;
        right: 20px;
        font-size: 20px;
      }
    }
    & div.heap {
      border-radius: 4px;
      border-top: 1px solid #a1a1a1; top: 120%;
      &:before {
        display: none;
      }
    }
  }
  & .heapOptions {
    margin: 0;
  }
  & .heapBox.open {
    height: 36px;
    & .holder {
      background-color: #cdcdcd;
      padding: 8px 10px 8px 9px;
    }
    & .handler {
      background-color: #cdcdcd;
      &:after {
        content: "\f106";
        font-size: 20px;
      }
    }
  }
}

//heapbox no-arrow
#content {
  & .heapBox#heapbox_heap-noArrow {
    width: 100px;
    & .holder {
      border-radius: 4px;
      width: 100%;
      border-right: 1px solid #a4a4a4;
      text-align: center;
    }
    & .handler {
      display: none;
    }
  }
}

/* HEAPBOX END */

/* SWITCHERY */
#content {
  div.checker {
    & span.hide-span {
      background-color: transparent;
    }
    & span .switchery {
      border: 1px solid #ccc !important;
      border-radius: 20px;
      cursor: pointer;
      display: inline-block;
      height: 30px;
      position: relative;
      vertical-align: middle;
      width: 55px;

      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      box-sizing: content-box;
      background-clip: content-box;
    }
  }

  .switchery > small {
    background: #fff;
    border-radius: 100%;
    //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    box-shadow: none !important;
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
    border: 1px solid #ccc;
  }

  /* Switchery sizes. */
  .switchery-small {
    border-radius: 20px;
    height: 20px;
    width: 33px;
  }

  .switchery-small > small {
    height: 20px;
    width: 20px;
  }

  .switchery-large {
    border-radius: 40px;
    height: 40px;
    width: 66px;
  }

  .switchery-large > small {
    height: 40px;
    width: 40px;
  }
}

/* SWITCHERY END */

/* FILTERED SEARCH select2 plugin */
.select2-container {
  width: auto;
  min-width: 200px;
}
.select2-choices {
  margin: 0px !important;
  border-radius: 5px;
  & .select2-search-field {
    height: 41px;
    & input {
      height: 100% !important;
      max-width: 20px !important;
    }
  }
}
.select2-search-choice {
  padding-left: 5px !important;
  padding: 10px 5px 10px !important;
  background-image: none !important;
  & div {
    float: left;
  }
  & a {
    float: right;
    position: relative;
    top: 0;
  }
}
.select2-search-choice-close {
   background: url(../img/select2.png) right top no-repeat !important;
}
/* FILTERED SEARCH select2 plugin END */

/* ANIMATED PROGRESSBAR */
  .AnimatedProgressBar {
      width: 400px;
      height: 22px;
      border: 1px solid $magenta;
      border-radius: 7px;
      background-color: #ccc;
      margin: 1% 0 1% 0;
  }
  .AnimatedProgressBar div {
      height: 100%;
      color: #fff;
      text-align: right;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      padding-right: 10px;
      line-height: 22px; /* same as #progressBar height if we want text middle aligned */
      width: 0;
      background-color: $magenta;
  }
/* ANIMATED PROGRESSBAR END */
