/* ===============
   CSS FOR MICROSITE
   =============== */


/* Globals */

.section {
    background-color: #fff;
    padding: 40px 0;
}
.sec__title {
    font-size: $font-huge;
    text-align: center;
    padding: 40px 0;
}

/* Hero KV */

#hero {
    padding: 40px 0;
}
.hero_squares {
    background: url(https://www.telekom.sk/documents/10179/556100/squares.png) no-repeat;
    height: 356px;
    padding: 20px;
    position: relative;
}
.hero__content {
    width: 634px;
    padding-right: 52px;
}
#wrapper .hero__title {
    margin-bottom: 20px;
    font-size: $font-sh;
}
#wrapper .hero__desc {
    width: 90%;
    font-size: $font-sh-med;
    line-height: $font-sh-med + 1;
    margin-bottom: 20px;
}
.post-it {
    position: absolute;
    top: 0;
    right: -105px;
    background: url(https://www.telekom.sk/documents/10179/556100/ec.png) no-repeat;
    width: 191px;
    height: 134px;
}
.logo-profitup {
    background: url(https://www.telekom.sk/documents/10179/556100/logo.png) no-repeat;
    width: 143px;
    height: 48px;
    float: right;
    margin-top: 300px;
}
@media screen and (max-width: 830px) {
    .logo-profitup {
        float: none;
        margin-top: 20px;
    }
}
@media screen and (max-width: 780px) {
    .post-it {
        top: 224px;
        right: -1px;
    }
}
@media screen and (max-width: 700px) {
    .hero_squares {
        background: rgba(226, 0, 116, 0.9);
        height: auto;
        padding: 20px;
    }
    .hero__content {
        width: auto;
    }
}
@media screen and (max-width: 630px) {
    #wrapper .hero__desc {
        font-size: $font-h;
        line-height: $font-h + 1;
    }
}
@media screen and (max-width: 560px) {
    .logo-profitup {
        margin-left: 10px;
    }
}

@media screen and (max-width: 545px) {
    .post-it {
        display: none;
    }
}

/* Sec 1 */

#content .media__analysis p,
#content .analysis__text {
    font-size: $font-h;
    line-height: $font-h + 1;
}
#sec-1 .grid-g__col_7 {
    margin-top: 15px;
}
#sec-1 .media__img {
    padding: 0;
}
#sec-1 .media__body {
    padding: 0 5%;
}
@media screen and (max-width: 760px) {
    #sec-1 .grid-g__col_5,
    #sec-1 .grid-g__col_7 {
        width: 100%;
        margin-bottom: 15px;
    }
    #sec-1 .grid-g__col_7:last-of-type {
        margin-bottom: 0;
    }
}

/* Sec 2 */

#sec-2 {
    position: relative;
    padding: 0;
}
#sec-2 .sec__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
#sec-2 .row:first-child .grid__col_4 {
    padding-top: 150px;
}
#sec-2 .row {
    background-color: #f3f3f3;
}
#sec-2 .row:last-of-type {
    background-color: #ededed;
}
#sec-2 .light {
    background-color: #f6f6f6;
}
#sec-2 .lighter {
    background-color: #f2f2f2;
}
#sec-2 .grid__col_4 {
    padding: 40px 2%;
}
#sec-2 .media_v__body b {
    font-size: $font-link;
}
@media screen and (max-width: 600px) {
    #sec-2 .sec__title {
        position: static;
        left: auto;
        transform: rotateX(0);
        padding-bottom: 0;
    }
    #sec-2 .row:first-child .grid__col_4 {
        padding-top: 80px;
    }
    #sec-2 .grid__col_4 {
        padding: 40px 2%;
    }
    #sec-2 .grid__col_4 {
        width: 100%;
    }
    #sec-2 .fixed-column {
        width: 100%;
        padding: 0;
    }
}

/* Sec 3 */

#sec-3 {
    background: url(https://www.telekom.sk/documents/10179/556100/BG.jpg) no-repeat;
    padding-top: 0;
    padding-bottom: 0;
}
.media__image_left {
    padding-right: 4%;
}
.media__image_right {
    padding-left: 4%;
}
#content #sec-3 .media__sub-title {
    font-size: $font-ssh;
    line-height: $font-ssh + 1;
}
#sec-3 .row {
    padding: 10px 0;
}
.row.darker {
    background-color: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 450px) {
    #sec-3 .media__image,
    #sec-3 .media__body {
        width: 100%;
        float: left;
    }
    #sec-3 .media__image {
        margin-top: 15px;
    }
    #sec-3 .media__image {
        text-align: center;
    }
}

/* Sec 4 */

#sec-4 .media {
    margin-bottom: 20px;
}
#sec-4 .media_mid {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}
#sec-4 .media__body p:nth-child(2) {
    margin-bottom: 20px;
}
#sec-4 .media__image {
    padding-right: 4%;
}
#content #sec-4 .media__sub-title {
    font-size: $font-sh;
    line-height: $font-sh + 1;
}
@media screen and (max-width: 450px) {
    #sec-4 .media__image,
    #sec-4 .media__body {
        width: 100%;
        float: left;
        padding: 0;
    }
    #sec-4 .media__image {
        text-align: center;
    }
}
