/* ===============
   CSS FOR MICROSITE
   =============== */

/* ===============
    GLOBALS FOR ALL 
   =============== */

.text_centered {
  margin: 0 auto;
}

.section {
  padding: 20px 0 50px 0;
  font-size: 16px;
}

#content .section__nav {
  padding: 0;
}

#content .section__title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  line-height: 38px;
}

#content .main_sec {
  display: inline-block;
}

#content .section__title__double {
  margin-bottom: 0;
}

#content .section__subtitle {
  font-size: 2.5em;
  text-transform: uppercase;
  border: 0;
  margin-top: 0;
}

.col-sm-4 {
  @media screen and (max-width: 543px) {
    margin-bottom: 30px;
  }
}

/* HERO SECTION */

#hero {
  background: url(../img/Hero_940px_2020_12.png) no-repeat 50% 50%;
  min-height: 305px;
  padding: 60px 2%;
  overflow: hidden;
  background-size: cover;
  @media (max-width: 768px) {
    background: url(../img/Hero_768px_2020_12.png) no-repeat 54% 50%;
    padding: 30px 2%;
    background-size: cover;
  }
  @media (max-width: 543px) {
    background: transparent;
    padding: 0;
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  & h1 {
    margin-top: 25px;
  }
  .hero__content {
    @media screen and (max-width: 768px) {
      margin-top: 20px;
      max-width: 55%;
    }
    @media screen and (max-width: 543px) {
      width: 100%;
      max-width: 100%;
      padding: 0 4% 8% 4%;
      margin: 0;
    }
  }
  .hero__mobile {
    @media screen and (max-width: 543px) {
      background: url(../img/Hero_480px_2020_12.png) no-repeat 60% 50%;
      background-size: cover;
      height: 215px;
    }
  }
  .hero__title {
    color: #fff;
    @media screen and (max-width: 543px) {
      color: #262626;
      margin-top: 40px;
    }
  }
  .moreInfo {
    padding-top: 10px;
    display: block;
    color: #3ec0f0;
    @media screen and (max-width: 543px) {
      width: 100%;
      color: #007faf;
    }
  }
}

#hero .text_thin {
  display: block;
  /*max-width: 360px;*/
}

#content .hero__content {
  position: relative;
}

#content .ec-holder {
  position: absolute;
  right: -120px;
  top: 5%;
  @media screen and (max-width: 543px) {
    right: 30px;
    left: unset;
    top: -50px;
  }
}

#sec-benefits {
  padding: 100px 0;
  background-color: #000;
  img {
    max-height: 40px;
    max-width: 100%;
  }
  p {
    color: #fff;
  }
}

#sec-howto {
  padding: 50px 0;
  background-color: #000;
  .sec__title {
    margin-bottom: 50px;
  }
  p {
    color: #fff;
    padding: 0 2%;
  }
  .manual {
    max-width: 350px;
    margin: 30px auto 0 auto;
    border-top: 1px solid #4b4b4b;
  }
  .link {
    color: #3ec0f0;
  }
}
#content #akcie {
  padding: 70px 0;
  background: #fff;
  & .section__title {
    text-align: center;
  }
  & .sec__title {
    color: #e20074;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  & .big-card {
    border: 1px #d0d0d0 solid;
    background-color: #fff;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: stretch;
  }

  & .text {
    padding: 50px 50px 20px 40px;
    text-align: left;
    position: relative;
  }
  & .sec__title {
    text-align: left;
  }
  & .btn-holder {
    margin-top: 20px;
  }
  & .link {
    padding-left: 20px;
  }
  & .ec {
    position: absolute;
    right: -60px;
  }
  @media screen and (max-width: 768px) {
    .t-img {
      display: none;
    }
    .text {
      padding: 40px 20px;
      text-align: center;
    }
    & .ec {
      display: none;
    }
    .sec__title {
      text-align: center;
    }
    & .link {
      padding: 0;
      margin-top: 15px;
    }
    & .btn-holder a {
      display: block;
    }
  }
}

#sec-1 {
  padding: 70px 0;
  @media screen and (max-width: 543px) {
    padding: 50px 0;
  }
  & h3 {
    margin-top: 90px;
    text-align: center;
    color: #262626;
    font-weight: bold;
  }
  & h4 {
    text-align: center;
    color: #262626;
    margin: 20px 0;
  }
  & p {
    text-align: center;
    max-width: 90%;
    color: #4b4b4b;
    margin: 0 auto 10px auto;
  }

  & .shadow-box {
    background-color: #fff;
    width: 270px;
    border: none;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    .channels {
      overflow: hidden;
      img {
        max-width: 100%;
      }
    }
    .content {
      padding: 30px 20px 40px 20px;
      .headline {
        font-weight: 700;
        line-height: normal;
        font-size: 20px;
        padding-bottom: 20px;
        span {
          font-weight: normal;
        }
      }
    }
    .terms {
      font-size: 13px;
      color: #6c6c6c !important;
      text-align: left;
    }
  }
  & .text-gray {
    color: #6c6c6c !important;
  }
  & .text-dark {
    color: #262626 !important;
    font-weight: bold;
  }
  & .text-left {
    text-align: left !important;
    float: left;
  }
  & .text-right {
    text-align: right !important;
    float: right;
  }
  & .magenta {
    color: #e20074 !important;
  }
  & .cta-holder {
    clear: both;
    text-align: center;
    padding-top: 40px;
    margin: 0px auto;
  }
  & .sep {
    border-bottom: 1px dotted #bfbfbf;
    padding-bottom: 8px;
    clear: both;
  }
  & .sep-1 {
    border-top: 1px dotted #bfbfbf;
    padding-top: 8px;
    clear: both;
  }
  & .sep-2 {
    border-bottom: 1px dotted #bfbfbf;
    border-top: 1px dotted #bfbfbf;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  & .row {
    line-height: 12px !important;
    margin-bottom: 10px;
  }
  .btn {
    padding: 10px 20px;
    width: 100%;
  }

  .tabs-container {
    .tab__holder {
      .tabs-menu {
        .variant {
          border-radius: 22px;
          -webkit-border-radius: 22px;
          -moz-border-radius: 22px;
          -ms-border-radius: 22px;
          -o-border-radius: 22px;
          border: none;
          float: none;
          display: inline-block;
          &:hover {
            border-bottom: none;
            background-color: #dedede;
          }
          @media screen and (max-width: 543px) {
            width: auto;
          }
          a {
            padding: 0 20px;
          }
          &:not(:last-of-type) {
            margin-right: 5px;
          }
          &.current {
            background-color: $magenta;
            border-bottom: none;
            -webkit-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            a {
              color: #fff;
            }
          }
        }
      }
    }
    .tab {
      border: none;
    }
  }
  .tab-content {
    margin-top: 20px;
  }

  @media (max-width: 480px) {
    h3 {
      margin-top: 40px;
    }
  }
}
