<!-- HERO -->
<section id="hero-vianoce">
  <div class="container-fixed">
    <!-- <div class="eec-hero">
      <img src="../assets/img/ec_predlzenie.png" alt="" />
    </div> -->
    <div class="hero-content-holder">
      <h1 class="hero-title">
        Preneste si číslo cez web s&nbsp;extra zľavou
        <br /><span>do 20€ na nový mobil</span>
      </h1>

      <div class="hero-cta">
        <a class="btn cta_mag scroll-to" href="#sec-2">Preniesť číslo</a>
      </div>
    </div>
  </div>
</section>

<div id="nav-sticky">
  <ul>
    <li>
      <a class="scroll-to" href="#sec-1">VÝHODY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-2">ŠTEDRÁ PONUKA</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-3">AKO PREBEHNE PRENOS</a>
    </li>
    <li>
      <a class="scroll-to" href="#wrapper"
        >NAHOR <img alt=" " src="../assets/img/arrow-top.png"
      /></a>
    </li>
  </ul>
</div>
<section class="section" id="sec-1">
  <div class="container-fixed">
    <div class="sec__title">
      Výhody pri prenose čísla
    </div>
    <div class="row text_centered">
      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-01m.png" />
        </div>
        <p class="sec__description">
          <b>Vybavíme všetko za vás!</b>
          <br />
          Stačí nás požiadať a všetky potrebné veci vybavíme za vás.
          <br />
          <a class="link" href="/volania/mam-zaujem/prenos-cisla/formular "
            >Požiadať o prenos čísla</a
          >
        </p>
      </div>
      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-02m.png" />
        </div>
        <p class="sec__description">
          <b>Neobmedzené volania a SMS</b>
          <br />
          v SR a EÚ+ získate so všetkými paušálmi T&nbsp;Ideál
          a&nbsp;T&nbsp;Nekonečno.
          <br />
        </p>
      </div>
      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-03m.png" />
        </div>
        <p class="sec__description">
          <b>Viac dát ako kedykoľvek predtým</b>
          <br />
          vás čaká v paušáloch T&nbsp;Dáta. Surfovanie bez hraníc získate
          s&nbsp;paušálmi T&nbsp;Nekonečno.
        </p>
      </div>
      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="ico">
          <img alt="" src="../assets/img/ico-04m.png" />
        </div>
        <p class="description">
          <b>Nespotrebujete, prenesiete</b>
          <br />
          dáta z&nbsp;T&nbsp;paušálov, ktoré nespotrebujete, vám automaticky
          a&nbsp;bez poplatkov prenesieme do ďalšieho zúčtovacieho obdobia.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section" id="sec-2">
  <div class="container-fixed">
    <div class="card-body">
      <div class="text">
        <div class="card-title">
          Dátujte, volajte a píšte donekonečna s&nbsp;novými paušálmi
        </div>
        <p>
          Nová ponuka paušálov je taká široká, že ten správny paušál si
          v&nbsp;nej nájde úplne každý. Navyše si svoj paušál môžete podľa
          potreby zvýšiť a&nbsp;následne späť znížiť, pokojne aj každý mesiac.
        </p>
        <br />
        <a
          class="btn cta_mag"
          href="https://eshop.telekom.sk/category/pausaly-telekom/list/product_listing?productOfferingTerm=agreement24"
          >Pozrieť si paušály</a
        >
      </div>
      <img class="card-img" src="../assets/img/t-pausaly.png" alt="t-pausaly" />
    </div>
  </div>
</section>
<section class="section" id="sec-3">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="title">
          Ako prebehne prenos
        </div>
        <p class="desc">
          O stave prenosu vás budeme priebežne informovať cez SMS.
          <br />
          Vydanie novej Telekom SIM karty je bez poplatku.
        </p>
        <ul class="spec-list spec-list-num">
          <li data-type="one">
            <b>Žiadosť o prenos čísla a doručenie</b>
            <br />
            V priebehu 3 pracovných dní po odoslaní žiadosti vás budeme
            kontaktovať kvôli overeniu údajov a výberu paušálneho programu,
            prípadne nového mobilu. Následne vám kuriérom bezplatne doručíme
            potrebné dokumenty na podpis, novú Telekom SIM kartu a nový mobil
            (ak ste si ho objednali).
          </li>
          <li data-type="two">
            <b>Fungovanie počas prenosu</b>
            <br />
            Počas prenosu využívate svoje telefónne číslo u svojho súčasného
            operátora. Okrem neho môžete používať aj novú Telekom SIM kartu, na
            ktorej je aktivované dočasné číslo.
          </li>
          <li data-type="three">
            <b>Aktivovanie T&nbsp;paušálu</b>
            <br />
            Do 4 dní po podpísaní dokumentov bude na novej Telekom SIM karte
            aktivované vaše pôvodné číslo, ktoré môžete ihneď začať používať.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
