.wbreadcrumbs {display:none}

.header-01 a.tile-double,
.header-01 .tiles.tiles-big > a.tile-double {
    background-color: transparent;
}

#footer {top:0px !important}

#p_p_id_56_INSTANCE_R5FEZx65Wixw_ {margin-top:45px}

#content {
height:650px;
background: url(/documents/10179/3400490/pozadie.jpg/a671abda-9a32-442b-8505-12bd85ffb92c?t=1476950133651) no-repeat 50% 0%;}

.pulsar {
    display: none;
}
.hp-my-telekom-anchor.tile-double {
    background-color: #226a61 !important;
}
#lg-promo {
    font-size: 20px;
    color: #000;
    /* float: right; */
    
    transition: transform .2s;
    padding-left: 185px;
}
#lg-promo h3 {
    font-size: 30px;
    font-weight: 900;
}
.waterbear-theme #lg-promo a {
    color: #000000;
    text-decoration: none;
    font-weight: 900;
}
.waterbear-theme #lg-promo:hover {
    transform: scale(1.02);
}
#lg-promo::after {
    content: '\f054';
    font-family: FontAwesome;
    color: #E10073;
    font-size: 14px;
    padding-left: 3px;
}
.c-row-hp {
    max-width: 940px;
    position: relative;
    margin: 0 auto;
}
@media screen and (max-width: 960px) {
    #lg-promo {
        display: none;
    }
}

#toggle-chat {
    background-color: white;
}

/*.tiles.tiles-big .hp-televizia_ {
    background: url("/documents/10179/536604/dlazdice_ikony_0001_magioTV.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-televizia_ {
        background: url("/documents/10179/536375/dlazdice_ikony_86_0001_magioTV.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.tiles.tiles-big .hp-chb_ {
    background: url("/documents/10179/490391/CHB") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-chb_ {
        background: url("/documents/10179/490391/CHB+mala") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.tiles.tiles-big .hp-easy_ {
    background: url("/documents/10179/536604/dlazdice_ikony_0006_easy.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-easy_ {
        background: url("/documents/10179/536375/dlazdice_ikony_86_0006_easy.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.tiles.tiles-big .hp-volania_ {
    background: url("/documents/10179/536604/dlazdice_ikony_0003_mobilne_pausaly.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-volania_ {
        background: url("/documents/10179/536375/dlazdice_ikony_86_0003_mobilne_pausaly.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.tiles.tiles-big .hp-mobil_ {
    background: url("/documents/10179/536604/dlazdice_ikony_0004_mobilne_telefony.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-mobil_ {
        background: url("/documents/10179/536375/dlazdice_ikony_86_0004_mobilne_telefony.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.tiles.tiles-big .hp-internet_ {
    background: url("/documents/10179/536604/dlazdice_ikony_0002_magio_internet.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-internet_ {
        background: url("/documents/10179/536375/dlazdice_ikony_86_0002_magio_internet.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.tiles.tiles-big .hp-magenta_ {
    background: url("/documents/10179/490391/Magenta") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-magenta_ {
        background: url("/documents/10179/490391/Magenta+mala") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}
.tiles.tiles-big .hp-asistent_ {
    background: url("/documents/10179/663077/RA_156x75.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-asistent_ {
        background: url("/documents/10179/663077/RA_86x50.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    }
}

.tiles.tiles-big .hp-rod-asist_ {
    background: url("/documents/10179/2503927/edit-rodinny_asistent.png/9f7737e8-b3e1-47a7-8981-d9a6cafea301?t=1468397061205") no-repeat 0 0 rgba(0, 0, 0, 0);
}
@media(max-width: 600px) {
    .tiles.tiles-big .hp-rod-asist_ {
        background: url("/documents/10179/2505693/edit-rodinny_asistent_small.png/0046b99d-c04b-456d-9f4d-a0fa87f55af8?t=1468398441289") no-repeat 0 0 rgba(0, 0, 0, 0);
    }
}
@media(max-width: 600px) {
    .tiles.tiles-big .fa-search_ {
        background: url("/documents/10179/2505693/edit-search_small.png/a1ed5fc2-2128-4dcf-b6c8-9f328d9a35f8?t=1468487347480") no-repeat 0 0 rgba(0, 0, 0, 0);
    }
}
*/

/* new */
.hp-happy_, .hp-net_, .hp-lcd_, .hp-smartphone_, .hp-package_, .hp-magenta_, .fa-moj-telekom_, .fa-comments_, .fa-graduation-cap_, .fa-facebook_, .fa-google_, .fa-linkedin_, .fa-twitter_, .fa-search_ {display: inline-block; background: url('/documents/10179/2924520/ico-b2c-homepage.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

/* 1 Mobilne Pausaly */

.tiles.tiles-big .hp-happy_ {
    background-position: -0px -75px;
    width: 156px;
    height: 75px;
}

@media(max-width: 600px) {
    .tiles.tiles-big .hp-happy_ {
        background-position: -0px -620px;
        width: 86px;
        height: 50px;
    }
}


/* 2 Chytry balik */

.tiles.tiles-big .hp-package_ {
    background-position: -0px -0px;
    width: 156px;
    height: 75px;
}

@media(max-width: 600px) {
    .tiles.tiles-big .hp-package_ {
        background-position: -0px -570px;
        width: 86px;
        height: 50px;
    }
}


/* 3 Magio internet */

.tiles.tiles-big .hp-net_ {
    background-position: -0px -150px;
    width: 156px;
    height: 75px;
}

@media(max-width: 600px) {
    .tiles.tiles-big .hp-net_ {
        background-position: -0px -670px;
        width: 86px;
        height: 50px;
    }
}


/* 4 Magio televizia */

.tiles.tiles-big .hp-lcd_ {
    background-position: -0px -225px;
    width: 156px;
    height: 75px;
}

@media(max-width: 600px) {
    .tiles.tiles-big .hp-lcd_ {
        background-position: -0px -720px;
        width: 86px;
        height: 50px;
    }
}


/* 5 Mobilne telefony */

.tiles.tiles-big .hp-smartphone_ {
    background-position: -0px -300px;
    width: 156px;
    height: 75px;
}

@media(max-width: 600px) {
    .tiles.tiles-big .hp-smartphone_ {
        background-position: -0px -774px;
        width: 86px;
        height: 50px;
    }
}


/* 6 Magenta 1 */

.tiles.tiles-big .hp-magenta_ {
    background-position: -0px -949px;
    width: 156px;
    height: 75px;
}

@media(max-width: 600px) {
    .tiles.tiles-big .hp-magenta_ {
        background-position: -0px -1025px;
        width: 86px;
        height: 50px;
    }
}


/* 7 Moj telekom */

.tiles.tiles-other .fa-moj-telekom_ {
    background-position: -0px -440px;
    width: 100px;
    height: 65px;
}

@media(max-width: 960px) {
    .tile-double .fa-moj-telekom_ {
    background-position: -0px -1200px;
    width: 100px;
    height: 100px;
    }
}

@media(max-width: 600px) {
    .tile-double .fa-moj-telekom_ {
        background-position: -18px -442px;
        width: 60px;
        height: 60px;
    }
    a.hp-my-telekom-anchor>.fa {
        margin: -4px 0 4px 0!important;
    }
}


/* 8 Forum */

.tiles.tiles-other .fa-comments_ {
    background-position: -0px -375px;
    width: 100px;
    height: 65px;
}

@media(max-width: 600px) {
    .tiles.tiles-other .fa-comments_ {
        background-position: -0px -375px;
        width: 100px;
        height: 65px;
    }
}


/* 9 wiki */

.tiles.tiles-other .fa-graduation-cap_ {
    background-position: -0px -505px;
    width: 100px;
    height: 65px;
}

@media(max-width: 960px) {
    .tiles.tiles-big .fa-graduation-cap_{
      background-position: -0px -1125px;
      width: 156px;
      height: 75px;
    }
}

@media(max-width: 600px) {
    .tiles.tiles-big .fa-graduation-cap_ {
        background-position: -0px -1075px;
        width: 86px;
        height: 50px;
    }
}


/* 10 search */
@media(max-width: 800px) {
    .tiles.tiles-big .fa-search_ {
        background-position: -0px -875px;
        width: 156px;
        height: 75px;
    }
}

@media(max-width: 600px) {
    .tiles.tiles-big .fa-search_ {
        background-position: -0px -824px;
        width: 86px;
        height: 50px;
    }
}


/* Social Icons */

.tiles.tiles-small .fa-facebook_ {
    background-position: -105px -380px;
    width: 48px;
    height: 32px;
}

.tiles.tiles-small .fa-google_ {
    background-position: -105px -417px;
    width: 48px;
    height: 32px;
}

.tiles.tiles-small .fa-linkedin_ {
    background-position: -105px -454px;
    width: 48px;
    height: 32px;
}

.tiles.tiles-small .fa-twitter_ {
    background-position: -105px -491px;
    width: 48px;
    height: 32px;
}