<section class="section sec-det sec-det-1" id="sec-det-1">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 back-holder" style="padding: 0px;">
        <a class="link" onclick="goBack()" href="#">Späť</a>
      </div>
    </div>
    <div class="box-pricing">
      <div class="bp__content">
        <div class="bp__inner-section">
          <div class="gallery clearfix">
            <div class="pics clearfix">
              <div class="thumbnails">
                <div class="preview">
                  <a
                    class="selected"
                    data-full="../assets/img/product1.jpg"
                    href="#"
                    ><img src="../assets/img/product1_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product2.jpg" href="#"
                    ><img src="../assets/img/product2_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product3.jpg" href="#"
                    ><img src="../assets/img/product3_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product4.jpg" href="#"
                    ><img src="../assets/img/product4_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product5.jpg" href="#"
                    ><img src="../assets/img/product5_prev.png" />
                  </a>
                </div>
              </div>
              <div class="full__holder">
                <img class="full" src="../assets/img/product1.jpg" />
              </div>
              <div class="eec-product">
                <img
                  id="eec"
                  src="../assets/img/eec.png"
                  style="height: 80px; width: auto;"
                />
              </div>
              <div class="controlls">
                <div class="indicator">
                  <div class="in__content">
                    &nbsp;
                  </div>
                </div>
                <div class="control__holder">
                  <a class="control-left" href="#"
                    ><img alt="" src="../assets/img/ico-left.png" /> Späť</a
                  >
                  <p class="img-size">
                    (<span class="current-img"></span>/<span
                      class="all-img"
                    ></span
                    >)
                  </p>
                  <a class="control-right" href="#"
                    >Ďalej <img alt="" src="../assets/img/ico-right.png"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bp__inner-section">
          <!-- OVERLAY VYPREDANE  -->
          <div class="overlay_fix">
            <div id="soldOut" class="overlay" style="display: none;">
              <img src="../assets/img/vypredane.png" alt="" />
            </div>
            <h1 class="bpis__title">
              Slúchadlá Huawei FreeBuds 3i
            </h1>
            <!-- B2C variant -->
            <div class="box-device" id="b2c-price">
              <div class="rpln-label">
                Zvoľte si variant Magio internetu alebo TV
              </div>
              <div class="rpln-holder">
                <!-- M -->
                <div class="my-rpln" id="M" category="all" data-value="M">
                  <h4>M</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    30/3 Mb/s<br />
                    Počet TV staníc: až 60
                  </p>
                </div>
                <!-- L -->
                <div class="my-rpln" id="L" category="all" data-value="L">
                  <h4>L</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    250/25 Mb/s<br />
                    Počet TV staníc: až 79
                  </p>
                </div>
                <!-- XL -->
                <div class="my-rpln" id="XL" category="all" data-value="XL">
                  <h4>XL</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    600/60 Mb/s<br />
                    Počet TV staníc: až 121
                  </p>
                </div>
              </div>
              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2c-all-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenie:
                    </td>
                    <td>
                      <span id="b2c-all-rc" class="rc-price"></span><br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-rc"
                        ></span>
                      </div>
                      <span id="b2c-all-oc" class="oc-price"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2c-rpln-price-sale"
                        class="rpln-price-salle"
                      ></span
                      ><span class="monthly"> 2. a 3. mesiac</span
                      ><img
                        class="ttp"
                        id="info-zlava"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="b2c-rpln-price" class="rpln-price"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a
                class="btn cta"
                type="button"
                id="buyBtn"
                href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                >PREJSŤ K NÁKUPU</a
              >
              <p class="tax-info">
                Ceny sú s DPH a platia pri 24 mesačnej viazanosti
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section sec-det sec-det-2 segment"
  id="sec-det-2"
  data-segment="1"
>
  <div class="container-fixed">
    <div class="tabs-container">
      <div class="tab__holder">
        <ul class="tabs-menu">
          <li class="variant current" data-variant="1">
            <a href="#tab-1">Popis produktu</a>
          </li>
          <li class="variant" data-variant="2">
            <a href="#tab-2">Parametre</a>
          </li>
          <li class="variant" data-variant="3" id="biznis-delivery">
            <a href="#tab-3">Doručenie a vrátenie</a>
          </li>
        </ul>
      </div>
      <div class="tab">
        <div class="tab-content clearfix" id="tab-1" style="height: auto;">
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Hodia sa k tebe, aj k tvojmu štýlu.
                </h2>
                <p class="feat-desc">
                  Vďaka ergonomickému kužeľovitému tvaru sú nové slúchadlá
                  nielen mimoriadne pohodlné, ale navyše prinášajú aj výborný
                  zvuk. Spáruj ich s&nbsp;pružnými silikónovými násadkami, ktoré
                  sú dodávané v 4 rôznych veľkostiach pre pohodlné
                  a&nbsp;bezpečné nosenie. Sú zárukou lepšieho tvaru,
                  kvalitnejšieho utesnenia a perfektného zvuku.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail1.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Dokonalé potlačenie okolitého hluku
                </h2>
                <p class="feat-desc">
                  Zatiaľ čo, mikrofón smerujúci von detekuje okolitý hluk
                  a&nbsp;aktívne ho redukuje, mikrofón smerujúci dovnútra
                  potláča zvyšky šumu v&nbsp;ušiach. HUAWEI FreeBuds 3i dokonale
                  pohlcujú okolitý hluk, pre vysokokvalitný zvuk kedykoľvek
                  a&nbsp;kdekoľvek.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail2.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Čistá radosť bez rušenia.
                </h2>
                <p class="feat-desc">
                  HUAWEI FreeBuds 3i vytvárajú ideálne podmienky pre počúvanie
                  tvojej obľúbenej hudby. Dokážu znížiť úroveň okolitého hluku
                  až o&nbsp;32 dB. Počúvaj hudbu s&nbsp;dokonale vykreslenými
                  tónmi, vychutnaj si vzrušujúce zvukové efekty obľúbeného filmu
                  a&nbsp;uži si relax so svojimi obľúbenými interpretmi.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail3.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Systém troch mikrofónov
                </h2>
                <p class="feat-desc">
                  Nech svet počuje tvoj hlas HUAWEI FreeBuds 3i prichádza
                  s&nbsp;dvoma mikrofónmi smerujúcimi von, ktoré presne zachytia
                  tvoj hlas a&nbsp;odstránia z&nbsp;neho okolitý šum. Tretí
                  mikrofón smerujúci dovnútra prijíma hlas priamo v&nbsp;ušiach,
                  aby sa ešte viac zvýšila kvalita hovoru. Všetko, čo hovoríš,
                  je dokonale jasné bez ohľadu na okolité zvuky.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail4.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Kompaktná veľkosť, veľkolepý zvuk
                </h2>
                <p class="feat-desc">
                  S vysoko citlivou membránou vyladenou tak, aby poskytovala
                  autentický a&nbsp;vyvážený zvuk s&nbsp;10 milimetrovými
                  dynamickými ovládačmi pre silné basy, budeš cítiť brilantnosť
                  každého tónu.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail5.jpg" />
            </div>
          </div>
        </div>

        <div class="tab-content" id="tab-2">
          <div class="table-holder">
            <div class="detailed-specification" style="padding: 10px;">
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Základné informácie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Rozmery slúchadla:
                    </td>
                    <td class="paramValue">41,8 x 23,7 x 19,8 mm</td>
                  </tr>
                  <tr>
                    <td>
                      Rozmery púzdra:
                    </td>
                    <td class="paramValue">80,7 x 35,4 x 29,2 mm</td>
                  </tr>
                  <tr>
                    <td>
                      Hmotnosť:
                    </td>
                    <td class="paramValue">5,5 g slúchadlo, 51g púzdro</td>
                  </tr>
                  <tr>
                    <td>
                      Doba nabitia:
                    </td>
                    <td class="paramValue">
                      Slúchadlá 60 minút, Celkom 115 minút
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Výdrž batérie:
                    </td>
                    <td class="paramValue">
                      3,5 hodiny prehrávanie na jedno nabitie.
                      <br />Spolu s puzdrom až 14,5 hodiny.
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Bluetooth:
                    </td>
                    <td class="paramValue">5.0</td>
                  </tr>
                  <tr>
                    <td>
                      Ovládanie:
                    </td>
                    <td class="paramValue">
                      Dvojité poklepanie; Dlhé podržanie
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Farba:
                    </td>
                    <td class="paramValue">Biela</td>
                  </tr>
                  <tr>
                    <td>
                      Aktívne potlačenie hluku:
                    </td>
                    <td class="paramValue">
                      áno
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Redukcia šumu pri telefonovaní:
                    </td>
                    <td class="paramValue">áno</td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Iné</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Obsah balenia</div>
                    </td>
                    <td class="paramValue">
                      Slúchadlá jeden pár, Násadky do uší 4 páry (L, M, S, XS),
                      Nabíjacie puzdro, Kábel USB-C, Príručka pre rýchly štart,
                      Bezpečnostné informácie, Záručný list.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content clearfix" id="tab-3">
          <div class="order-info-holder">
            <div class="order-info-wrapper">
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon4.png" />
                <p class="order-subheading">
                  <b>Informácie o stave objednávky</b>
                </p>
                <p>
                  O stave vašej objednávky vás budeme pravidelne informovať cez
                  SMS a/alebo e-mailom.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon1.png" />
                <p class="order-subheading">
                  <b>Prvých 14 dní bez záväzkov</b>
                </p>
                <p>
                  Pri kúpe cez web môžete vrátiť službu aj tovar bez udania
                  dôvodu.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/ikona_sofa.png" />
                <p class="order-subheading">
                  <b>Nákup z pohodlia domova</b>
                </p>
                <p>
                  Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní
                  v týždni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="../assets/js/detail.js"></script>
<script
  type="text/javascript"
  src="../assets/js/jquery.enhanced-switch.js"
></script>
<script type="text/javascript" src="../assets/js/prices.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
<script>
  function goBack() {
    window.history.back();
  }
</script>
