<section id="hero">
  <div class="container-fixed">
    <div class="hero-content">
      <h1>Lorem ipsum dolor sit amet consectetur</h1>
      <div class="videowrapper">
        <div class="video youtube-video" data-video-id="_taT02fd0js">
          <i class="fa fa-play video-playbutton animate"></i>
          <p>Spustiť video</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sec-1" class="section sec-1">
  <div class="container-fixed">
    <div class="col-md-10 offset-md-1">
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet. lacus accumsan et viverra justo commodo. Proin sodales
        pulvinar sic tempor.
      </h3>
    </div>
  </div>
</section>

<script
  type="text/javascript"
  src="../assets/js/videoLightning.min.js"
></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
