/* ===============
   CSS FOR MICROSITE
   =============== */

/* GLOBALS */

.section {
  padding: 40px 0;
}

#content .sec__title {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* HERO SECTION */

#hero {
  background: url(../img/kv_940px.jpg) no-repeat 53% 50%;
  padding: 60px 2%;
  background-size: cover;
  position: relative;
}

.hero__content {
  text-align: center;
  max-width: 460px;
  position: relative;
}

.hero__mobile {
  .hero-ec-mob {
    display: none;
    @media screen and (max-width: 480px) {
      display: block;
      position: relative;
      top: 45px;
      left: 30px;
    }
  }
}

.hero-ec {
  position: absolute;
  right: -110px;
  @media screen and (max-width: 560px) {
    right: 0;
    top: 0;
  }
  @media screen and (max-width: 480px) {
    display: none;
  }
  &-right {
    float: right;
  }
}

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0;
  }

  .hero__mobile {
    background: url(../img/kv_940px.jpg) no-repeat 56% 50%;
    background-size: cover;
    height: 195px;
  }

  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .hero__content {
    padding: 40px 4%;
  }

  #content .hero__title,
  #content .hero__desc {
    color: $mine-shaft-dark;
  }

  #hero .btn {
    margin-top: 10px;
  }
}

/* SEC - 1 */

.sec-1 .col-md-4 {
  display: flex;
}

.detail-holder {
  margin-left: 5px;
}

#content .detail-holder p {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .sec-1 .col-md-4:nth-of-type(2) {
    margin: 20px 0;
  }

  .detail-holder {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}

/* SEC - 2 */

#content .sec-2 .item {
  text-align: center;
  max-width: 196px;
  margin: 0 auto;
}

#content .sec-2 .img {
  margin: 0 0 10px 0;
}

#content .sec-2 .title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

#content .sec-2 .desc {
  margin: 0;
}

.more-items {
  margin-top: 50px;
}

.more-items.hidden {
  display: none !important;
}

.toggle-holder {
  text-align: center;
  margin-top: 20px;
}

#content .more-items-link {
  font-size: 21px;
  color: #000;
  text-decoration: underline;
  padding-left: 18px;
  background: url("../img/ico-arrow-down.png") no-repeat left center;
}

#content .more-items-link.hide {
  background: url("../img/ico-arrow-up.png") no-repeat left center;
}

@media screen and (max-width: 767px) {
  #content .sec-2 .item {
    margin: 0 auto 15px auto;
  }
}

/* SEC - 3 */

.sec-3 {
  background-color: #ededed;
}

.pt-holder {
  display: flex;
  justify-content: center;
}

.pricing__table {
  background-color: #fff;
  width: 300px;
  padding: 20px 27px 27px 27px;
  text-align: center;
}

.pricing__table:nth-of-type(1) {
  margin-right: 25px;
}

.pt_top {
  position: relative;
}

.pt__ec {
  position: absolute;
  right: 0;
  width: 75px;
}

#content .pricing__title {
  color: $magenta;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
}

.pt_mid {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding: 10px 0;
}

#content .pricing__mid-title {
  text-transform: uppercase;
  margin-bottom: 0;
}

#content .pricing__sub-title {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}

#content .pt_mid .li {
  text-align: left;
  margin-bottom: 2px;
  margin-top: 0;
  padding-left: 12px;
  background: url("../img/mag-dot.png") no-repeat left center;
}

#content .pt_mid .li.first {
  margin-top: 10px;
}

#content .price {
  color: $magenta;
  font-size: 41px;
}

#content .price span {
  font-size: 16px;
  color: #262626;
}

.legal-holder {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 640px) {
  .pt-holder {
    display: inline-block;
    width: 100%;
  }

  .pricing__table:nth-of-type(1) {
    margin-right: auto;
  }

  .pricing__table {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
  }
}

/* SEC - 4 */

.sec-4 .img-holder {
  text-align: center;
}

.sec-4 .img-holder img {
  width: 100%;
  max-width: 264px;
}

.more-info-holder {
  text-align: center;
  margin-top: 30px;
}

#content .more-info-holder a {
  text-decoration: underline;
}

@media screen and (max-width: 764px) {
  .sec-4 .img-holder {
    margin-top: 40px;
  }
}
