<section class="fixed-column" id="hero">
    <div class="hero__content hero_squares hero_no-offset">
        <h1 class="hero__title">
			<strong>Magio Televízia</strong><br />
			Biznis Riešenie<br />
			pre vašu prevádzku</h1>
        <div class="post-it">
            &nbsp;</div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">Magio TV Biznis</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">Športová aréna</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">Komplexné riešenie</a></li>
        <li>
            <a class="scroll-to" href="#sec-6">Objednať</a></li>
        <li>
            <a class="scroll-to" href="#sec-8">Aktuálne akcie</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="sec-1 section" id="sec-1">
    <div class="fixed-column">
        <div class="sec__title text_uc">
            <b>Výnimočný program pre vašich zákazníkov</b></div>
        <div class="sec__desc text_centered">
            Slovak Telekom ako jediný operátor na Slovensku vám prináša televíziu, ktorú môžete používať aj na komerčné účely. Magio Televízia Biznis sa líši od bežne predávaných TV produktov tým, že má vysporiadané práva k televíznym staniciam&nbsp; s&nbsp;povolením vysielateľa na šírenie TV vysielania v&nbsp;komerčných a uzavretých verejných&nbsp; priestoroch.
            <br />
            <br /> Priame prenosy prestížnych futbalových súťaží v HD kvalite prenesú vašich zákazníkov priamo na štadión medzi divákov a ponúknu im jedinečný športový zážitok.</div>
        <div class="info__wrapper">
            <div class="sticker">
                &nbsp;</div>
            <div class="info__title">
                Čo môže priniesť Magio Televízia biznis vášmu podnikaniu:</div>
            <ul class="font_white text_left">
                <li>
                    <img alt="" src="../assets/img/squares.jpg" /> Zvýšiť návštevnosť a&nbsp;tržby v&nbsp;krčmách a&nbsp;baroch vďaka spoločnému sledovaniu jedinečného športového obsahu – 5 programov Digi Sport prináša v priemere až 30 priamych prenosov týždenne.</li>
                <li>
                    <img alt="" src="../assets/img/squares.jpg" /> Spríjemniť a&nbsp;skrátiť čakanie klientov v&nbsp;čakárňach ambulancií, v autoservisoch, na recepciách.</li>
                <li>
                    <img alt="" src="../assets/img/squares.jpg" /> Urobiť vašu kanceláriu modernejšou, dynamickejšou, a tak udržať zamestnancov v&nbsp;dobrej nálade.</li>
            </ul>
        </div>
    </div>
</section>
<section class="sec-2 section" id="sec-2">
    <div class="row">
        <div class="fixed-column">
            <div class="sec__title text_uc">
                <b>Zlepšite svoj obraz medzi zákazníkmi</b></div>
        </div>
    </div>
    <div class="row darker">
        <div class="fixed-column">
            <div class="media">
                <div class="media__image media__image_left">
                    <img alt="" src="../assets/img/ico-1.png" /></div>
                <div class="media__body">
                    <p class="font_magenta media__sub-title">
                        <b>Bohatá ponuka kanálov</b></p>
                    <p>
                        Magio Televízia Biznis ponúka rozmanité zloženie <a class="popups" href="#popup1"><b>TV kanálov</b></a> od športu, hudobných staníc cez spravodajské kanály až po dokumentárne, lifestylové či detské kanály. Tie najlepšie z&nbsp;nich aj v HD kvalite. V&nbsp;zozname nájdete aj exkluzívne Ťuki TV.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="fixed-column darker">
            <div class="media">
                <div class="media__body">
                    <p class="font_magenta media__sub-title">
                        <b>Výhodná cena</b></p>
                    <p>
                        Službu Magio Televízia Biznis si môžete objednať <b>už za 25€ s&nbsp;DPH</b> mesačne, za podmienky 24 mesačnej viazanosti.* Nová Magio Televízia Biznis je dostupná pre IPTV ako&nbsp; aj pre satelitnú technológiu, maximalne 3 Set – top- Boxy.</p>
                </div>
                <div class="media__image media__image_right">
                    <img alt="" src="../assets/img/ico-2.png" /></div>
            </div>
        </div>
    </div>
    <div class="row darker">
        <div class="fixed-column">
            <div class="media">
                <div class="media__image media__image_left">
                    <img alt="" src="../assets/img/ico-3.png" /></div>
                <div class="media__body">
                    <p class="font_magenta media__sub-title">
                        <b>Koncesionárske poplatky</b></p>
                    <p>
                        Koncesionárske poplatky ani poplatky určené autorským zväzom (napr. SOZA) nie sú súčasťou služby. Zákazník je povinný ich uhradiť podľa platných cenníkov organizácií vo vlastnom mene.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="fixed-column text_centered">
            <p>
                Službu Magio Televízia Biznis si môžete objednať na zákazníckej linke <b>0800 123&nbsp;500</b>, v ktorejkoľvek predajni spoločnosti Slovak Telekom alebo cez formulár na spodnej časti stránky.</p>
            <a class="button" href="#sec-6">objednať</a></div>
    </div>
</section>
<section class="sec-3 section" id="sec-3">
    <div class="sec__title font_white text_uc">
        <b>Exkluzívne zápasy v priamom prenose</b></div>
    <div class="sec__desc text_centered font_white">
        <b>Premeňte svoju krčmu, bar alebo pub na futbalovú arénu a<br />
		naplňte svoje priestory fanúšikmi futbalu.</b></div>
</section>
<section class="sec-4 section" id="sec-4">
    <div class="fixed-column">
        <div class="media">
            <div class="media__image">
                <img alt="" src="../assets/img/ico-4.jpg" /></div>
            <div class="media__body">
                <p>
                    S Ligou majstrov UEFA uvidíte každý týždeň 3 live prenosy, ostatné zo záznamu v plnom rozsahu.&nbsp;Spolu až 146 zápasov v HD kvalite.</p>
            </div>
        </div>
        <div class="media">
            <div class="media__image">
                <img alt="" src="../assets/img/ico-5.jpg" /></div>
            <div class="media__body">
                <p>
                    Exkluzívna Premier League prináša viac ako 220 live prenosov najžiadanejších zápasov sezóny v HD kvalite.</p>
            </div>
        </div>
    </div>
</section>
<section class="sec-5 section" id="sec-5">
    <div class="fixed-column">
        <div class="sec__title text_uc">
            <b>Máme komplexné riešenie pre váš biznis</b></div>
        <div class="row">
            <div class="grid__col_4 text_centered">
                <img alt="" src="../assets/img/ico-6.png" />
                <p>
                    Potešte svojich zákazníkov športovými prenosmi, hudbou a ďalšími kanálmi. Zároveň sa vyhnete zbytočným sankciám a poplatkom za šírenie audiovizuálneho obsahu.</p>
            </div>
            <div class="grid__col_4 text_centered mid__col">
                <img alt="" src="../assets/img/ico-7.png" />
                <p>
                    Doprajte zákazníkom maximálne pohodlie a štandard vďaka bezplatnému Wi-Fi pripojeniu vo svojich priestoroch.</p>
            </div>
            <div class="grid__col_4 text_centered">
                <img alt="" src="../assets/img/ico-8.png" />
                <p>
                    Pevná linka pre všetky objednávky a rezervácie. Dohovorte sa bezstarostne so svojimi dodávateľmi.</p>
            </div>
        </div>
    </div>
</section>
<section class="sec-8 section" id="sec-8">
    <div class="fixed-column">
        <div class="sec__title text_uc"><b>AKTUÁLNE AKCIE</b></div>

        <div class="item-box item-box-first">
            <div class="item-box__section">
                <p class="item-box__title">Štýlová Smart led televízia LG 49Uf695v za 50 €</p>
                <p class="item-box__desc"><span class="price-info">A potom len 20 € mesačne (x 24 mesiacov)</span>
                    <br/> Nadštandardný obraz – 123 cm uhlopriečka s vysokým rozlíšením 4K, kvalitným ozvučením a Wi-Fi pripojením.</p>
                <ul>
                    <li>4K Upscaler Ultra HD 3 840 x 2 160</li>
                    <li>DVB-S2/T2/C</li>
                </ul>
                <a href="#" class="button button_lima">MÁM ZÁUJEM</a>
            </div>
            <div class="item-box__section item-box__img">
                <img src="../assets/img/product__tv.jpg" alt="49Uf695v">
            </div>
        </div>

        <div class="grid-g__col_6 first-type">
            <div class="item-box item-box__padding">
                <div class="item-box__section">
                    <p class="item-box__title">Úsporná LED TV SAMSUNG UE32J5100 len za 20 €!</p>
                    <p class="item-box__desc">A potom 10 € mesačne počas 24 mesiacov.</p>
                    <ul>
                        <li>80 cm uhlopriečka</li>
                        <li>Full HD 1920 x 1080</li>
                        <li>frekvencia 200 Hz</li>
                        <li>DVB T/C</li>
                    </ul>
                    <a href="#" class="buy">Chcem túto TV</a>
                </div>
                <div class="item-box__section item-box__img_right">
                    <img src="../assets/img/product__tv1.jpg" alt="UE32J5100">
                </div>
            </div>
        </div>

        <div class="grid-g__col_6">
            <div class="item-box">
                <p class="item-box__title">Prémiová hifi zostava s reproduktormi a Wi-Fi pripojením za 50 €</p>
                <p class="item-box__desc">A potom 20 € mesačne počas 24 mesiacov
                    <br/> Marantz M-CR511 s reproduktormi Klipsch AW-525:</p>
                <ul>
                    <li>aplikácia na ovládanie cez smartfón</li>
                    <li>internetové rádio so stovkami staníc</li>
                    <li>Bluetooth, NFC, Wi-Fi, 2 x USB</li>
                    <li>2 x 75 W reproduktor</li>
                </ul>
                <a href="#" class="buy">Chcem túto TV</a>
            </div>
        </div>


    </div>
</section>
<section class="sec-6 section" id="sec-6">
    <div class="fixed-column">
        <div class="sec__title font_white text_uc">
            <b>Zanechajte nám svoje údaje</b>
            <br />
            <p class="font_white text_initial">
                Pripravíme vám ponuku šitú na mieru.</p>
        </div>
        <div class="row">
            &nbsp;</div>
    </div>
</section>
<section class="sec-7 section" id="sec-7">
    <div class="fixed-column">
        <div class="row">
            <p class="sec__desc">
                <b>Všeobecná časť:</b>
                <br /> Program Magio Televízia Biznis je samostatným programom Služby Televízie, ktorý nie je kompatibilný ani kombinovateľný s inými programami služby Magio Televízie. Viac informácii o podmienkach a obmedzeniach poskytovania služby Magio Televízia v programe Magio Televízia Biznis nájdete v Cenníku Televízie, Akciovom cenníku a Obchodných podmienkach služby.</p>
            <p class="sec__desc">
                <b>Osobitná časť:</b>
                <br /> * Účastník má nárok na poskytovanie služby Magio Televízia v programe Magio Televízia Biznis za uvedenú akciovú cenu pri dobe viazanosti 24 mesiacov, a to od aktivácie služby až do uplynutia 30. mesiaca od aktivácie. Po uplynutí 30. mesiaca od aktivácie bude Účastníkovi poskytovaný zvolený program Služby podľa platného Cenníka Televízie ako cena bez viazanosti.</p>
        </div>
    </div>
</section>
<div class="popup-content" id="popup1" style="display:none">
    <h1>
		Magio Televízia Biznis:</h1>
    <div class="tvPackageCodebook" data-tvpackagecodebook="HORECA">
        &nbsp;</div>
    <h1>
		Magio Televízia Biznis cez satelit</h1>
    <div class="tvPackageCodebook" data-tvpackagecodebook="HORECA_SAT">
        &nbsp;</div>
</div>
<script type="text/javascript" src="https://www.telekom.sk/documents/10179/573355/main.js"></script>
