<section class="sec clearfix" id="sec-1a">
<div class="" ng-repeat="nehnutelnost in indexData">
  <div class="row propertyWrapper">
    <div class="col-sm-7 col-md-7 col-lg-8">
      <h2>
        <a class="propertyTitle" href="#/nehnutelnost/{{nehnutelnost.info.routeName}}" onclick="zobrazNehnutelnost(0)">{{$index + 1 }}.{{nehnutelnost.info.nazov}}</a>
      </h2>
      <strong>Lokalita – {{nehnutelnost.info.nazov}}</strong>
      <table class="">
        <tbody>
          <tr>
            <td>Celková rozloha pozemkov:</td>
            <td class="">{{nehnutelnost.info.rozloha}} m<sup>2</sup></td>
          </tr>
          <tr>
            <td>Celková úžitková plocha budov:</td>
            <td class="">{{nehnutelnost.info.plocha}} m<sup>2</sup></td>
          </tr>
        </tbody>
      </table>
       <!-- MAGNIFIC POPUP START -->
      <!-- <div class="zoom-gallery col-md-12">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12"  ng-repeat="galeria in nehnutelnost.gallery | limitTo : 4">
          <a id="img1" href="../assets/img/{{galeria.img}}" data-source="" title="">
            <img id="img1thumb" style="max-width: 100%;" ng-src="../assets/img/{{galeria.imgthumb}}">
          </a>
        </div>
      </div> -->
       <!-- MAGNIFIC POPUP END -->
      <a class="moreInfo" href="#/nehnutelnost/{{nehnutelnost.info.routeName}}" onclick="zobrazNehnutelnost(0)"><div class="btn">Viac info</div></a>
    </div>

    <div class="col-sm-5 col-md-5 col-lg-4 propertyBg">
      <a href="#/nehnutelnost/{{nehnutelnost.info.routeName}}" onclick="zobrazNehnutelnost(0)"><img class="propertyImg" ng-src="../assets/img/{{nehnutelnost.info.mainImg}}" alt="" height="auto" width="100%"></a>
    </div>
  </div>
  <!-- <div class="" ng-repeat="nehnutelnost in indexData">
    <img class="" ng-src="../assets/img/{{nehnutelnost.info.mainImg}}" alt="" height="115" width="153">
    <h2><a href="#/nehnutelnost/{{$index}}">{{nehnutelnost.info.nazov}}</a></h2>
    <strong>Lokalita – {{nehnutelnost.info.uzemie}}</strong>
    <table class="">
      <tbody>
        <tr>
          <td>Celková rozloha pozemkov:</td>
          <td class="">{{nehnutelnost.info.rozloha}} m<sup>2</sup></td>
        </tr>
        <tr>
          <td>Celková úžitková plocha budov:</td>
          <td class="">{{nehnutelnost.info.plocha}} m<sup>2</sup></td>
        </tr>
      </tbody>
    </table>
    <hr>
  </div> -->
</div>
</section>
