/*#roaming-filter  {margin-top: 250px;}

#roaming-filter .roaming-category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #fff;
}

#roaming-filter li {
    float: left;
    border: 1px solid #fff;
}

#roaming-filter  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: #e20074;
}

#roaming-filter li a:hover {
    background-color: #ef77b5;
}

*/


/* radio btn group */


/*input[data-toggle] {
  display: none; }*/


/*
input[data-toggle]:checked + label,
input[data-toggle]:checked + label:active {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.15); }
*/


/*.button-group.toggle li:not(first-child) {
  margin: 0 -0.9rem; }*/

.content_hidden {
    display: none;
}
