<div id="ajaxLoadingSpinnerOverlay" style="display: none !important;">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated"></div>
		<div class="square second pulse infinite animated"></div>
		<div class="square third pulse infinite animated"></div>
	</div>
</div>

<h1>NEPOUZIVA SA!!!! POZRI Velkoobchod Datove sluzby</h1>
<h1>NEPOUZIVA SA!!!! POZRI Velkoobchod Datove sluzby</h1>
<h1>NEPOUZIVA SA!!!! POZRI Velkoobchod Datove sluzby</h1>
<h1>NEPOUZIVA SA!!!! POZRI Velkoobchod Datove sluzby</h1>
<h1>NEPOUZIVA SA!!!! POZRI Velkoobchod Datove sluzby</h1>
<h1>NEPOUZIVA SA!!!! POZRI Velkoobchod Datove sluzby</h1>
<h1>NEPOUZIVA SA!!!! POZRI Velkoobchod Datove sluzby</h1>

<div id="availability-module">
	<div class="text-center heading">
		<h2 class="sec__title">OVERTE SI DOSTUPNOSŤ</h2>
	</div>
	<div class="module-wrapper">
		<div class="availability">
			<div class="row">
				<div class="col-md-12">
					<form id="token-form">
						<label for="token">Heslo</label>
						<input class="token-input" name="token" placeholder="Zadajte heslo"/>
					</form>
				</div>

				<div class="col-md-12">
					<form id="city-form">
						<label for="searchTermValue">Mesto alebo obec</label>
						<input class="city-input" name="searchTermValue" placeholder="Obec"/>
						<div class="results">
							<ul class="city-form__result_list">
							</ul>
						</div>
					</form>
					<form id="street-form">
						<label for="searchTermValue">Ulica</label>
						<input class="street-input" disabled="disabled" name="searchTermValue" placeholder="Ulica"/>
						<div class="results">
							<ul class="street-form__result_list">
							</ul>
						</div>
					</form>
					<form id="number-form">
						<label for="number">Číslo domu</label>
						<input class="number-input" disabled="disabled" name="number" placeholder="Číslo"/>
						<div class="results">
							<ul class="number-form__result_list">
							</ul>
						</div>
					</form>
					<button class="sendReq">Overiť</button>
				</div>
			</div>


		</div>
		<div class="av-services clearfix">
			<!-- append available services -->
		</div>
		<div class="av-services-btns">
			<!-- append chytry balik btn -->
		</div>

		<div class="msg-holder">
			<p class="error-msg">
				&nbsp;</p>
			<p class="info-msg">
				&nbsp;</p>
		</div>
		<div class="map-holder">
			<div id="main-ins">
				<div class="box" style="display: block;">
					&nbsp;
				</div>
				<div class="reset" style="display: block;">
					<img src="../assets/img/close.png"/></div>
			</div>
			<div id="map">
				&nbsp;
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
				integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4BHKV9ijIn6nCRo8QBbFfW3eepI3LAl4" async defer></script>


<!--<a href="#not-found" class="popup">Popup</a>-->

<div id="not-found" style="display: none;">
	<div class="not-found-form">
		<div class="p-head">
			<h3>
				Ulicu, ktorú ste zadali neevidujeme.
				<br>
				Vyplňte, prosím, nasledujúce údaje.
			</h3>
			<a href="#" class="p-close"></a>
		</div>

		<div class="p-content">

			<div class="services">
				<div class="services-header">
					Označte prosím služby o ktoré máte záujem
				</div>

				<div class="services-checkbox">
					<form>
						<input id="nf-internet" type="checkbox" name="addName" value="Internet"> Internet
						<br/>
						<input id="nf-tv" type="checkbox" name="addName" value="Televízia"> Televízia
						<br/>
						<input id="nf-pevna" type="checkbox" name="addName" value="Pevná linka"> Pevná linka
					</form>
				</div>
			</div>

			<div class="nf-phone">
				<label for="phone" class="input-label">Zadajte, prosím, telefónne číslo, budeme vás kontaktovať</label>
				<br>
				<input id="nf-phone" class="input" type="text"/>
			</div>

			<div class="nf-button">
				<a id="not-found-send" href="#" class="btn cta">Odoslať</a>
			</div>

		</div>
	</div>

	<div class="not-found-success">
		<div class="p-head">
			<h3>
				Ďakujeme za odoslanie, <br>budeme vás kontaktovať <br>do 3 pracovných dní.
			</h3>
			<a href="#" class="p-close"></a>
		</div>
	</div>

</div>