<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
					<img src="../assets/img/vypredane.png" alt="">
					</div> -->
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<div class="overlay_fix">

					<p class="bpis__title">
						All in One PC: Lenovo IdeaCentre AIO 330-20IGM + Bezdrôtové slúchadlá s mikrofónom + bezdrôtová myš </p>
					<div class="box-device">
						<p class="pricing__title">
							S pevnými službami <span class="feeType">XL</span>: <span class="info-qm"><img src="../assets/img/qm.png" style="cursor: pointer;"/></span></p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Pevná služba XL
									</td>
									<td>
										<span class="feePrice">20,90 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										<b>Jednorazovo pri kúpe:</b></td>
									<td>
										<span class="oneTimeFee"><b>10,90 €</b></span></td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="box-device">
						<p class="pricing__title">
							S pevnými službami <span class="feeType">L</span>: <span class="info-qm"><img src="../assets/img/qm.png" style="cursor: pointer;"/></span></p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Pevná služba <span class="feeType">L</span></td>
									<td>
										<span class="feePrice">15,90 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										<b>Jednorazovo pri kúpe:</b></td>
									<td>
										<span class="oneTimeFee"><b>58,90 €</b></span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<a class="btn cta" type="button"href="https://www.telekom.sk/chytry-balik/lenovo-ideacentre-sluchadla-mys-pevna-sluzba/mam-zaujem ">PREJSŤ K NÁKUPU</a>

					<div class="tip">
						<p><b>NÁŠ TIP:</b> Cenu za služby pevnej siete si môžete znížiť až o 35% kombináciou viacerých služieb dokopy a vytvorením Chytrého balíka. Kliknite na PREJSŤ K NÁKUPU a skúste kalkulačku služieb.</p>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<!--<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>-->
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab"><!--
				<div class="tab-content" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Neobmedzená radosť zo sledovania</p>
								<p class="feat-desc">
									Galaxy A6 vás už na prvý pohľad zaujme svojím Infinity displejom s pomerom strán 18,5 : 9. Telefón je vybavený rozsiahlou a tak-mer bezrámovou Super AMOLED obrazovkou, na ktorej uvidíte tie najjemnejšie detaily, vysoký kontrast a skutočne živé farby. Vždy, keď sa na displej pozriete, budete svedkom pohlcujúceho a ničím nerušeného zážitku.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Tri úrovne jasu</p>
								<p class="feat-desc">
									Rozžiarte svoje fotografie. Na prednom fotoaparáte Galaxy A6 si môžete vybrať z troch úrovní intenzity blesku. Vaše snímky tak nebudú presvetlené ani plné nežiaducich odleskov, ale kvalitné a ostré vo dne v noci.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Skutočné jasné fotografie</p>
								<p class="feat-desc">
									Vaše zábery budú mať dostatok svetla bez ohľadu na to, kde fotografujete. O skvelú kvalitu fotografií sa postará 16Mpx predný fotoaparát s rýchlou a širokou clonou s hodnotou svetelnosti F/1,9.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Prebuďte svoju predstavivosť</p>
								<p class="feat-desc">
									Pridajte do svojich fotografií viac kreativity. Galaxy A6 ponúka niekoľko režimov fotografovania, veselé nálepky a rozmanité filtre, ktorými ozvláštnite každý záber. Telefón dokáže okrem toho vaše fotografie aj inteligentne roztriediť a usporiadať.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.png" /></div>

					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Genius HS-935BT Bluetooth headset White a bezdrôtová myš Genius NX-7000</p>
								<p class="feat-desc">
									Vychutnajte si širokú škálu hudby s bezdrôtovými dobíjacími slú-chadlami s bluetooth rozhraním, vďaka ktorému majú dosah až 30 metrov. 
									Slúchadlá sú navrhnuté tak, aby použitý materiál zni-žoval skreslenie hudby, vďaka čomu si ešte viac vychutnáte čisto-tu zvukov.<br><br>
									Praktická bezdrôtová menšia myš Genius NX-7000 je tým správ-nym doplnkom k vášmu počítaču či notebooku. Vďaka symetric-kému tvaru padne do každej ruky a poskytuje tak pohodlie aj pri celodennom používaní.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.png" /></div>
					</div>
				
				</div>-->
				<div class="tab-content" id="tab-1">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Technická špecifikácia - Lenovo Centre AIO 330-201GM</th>
								</tr>
								<tr>
									<td class="tab1st">
										Procesor:</td>
									<td>
										2-jadrový, Intel Celeron J4005 @ 2.0GHz, Turbo Speed 2.70 Ghz</td>
								</tr>
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Windows 10 Home 64-bit</td>
								</tr>
								<tr>
									<td>
										Grafická karta:</td>
									<td>
										Integrovaná grafická karta</td>
								</tr>
								<tr>
									<td>
										Pamäť RAM:</td>
									<td>
										4 GB DDR4</td>
								</tr>
								<tr>
									<td>
										Pevný disk:</td>
									<td>
										až 1TB HDD</td>
								</tr>
								<tr>
									<td>
										Displej:</td>
									<td>
										19,5“, HD, 1440 x 900 px, 16:10
								</td>
								</tr>
								<tr>
									<td>
										Web kamera:</td>
									<td>
										HD kamera s mikrofónom
								</tr>
								<tr>
									<td>
										Čítačka kariet:</td>
									<td>
										3v1 (SD, SDHC, SDXC)</td>
								</tr>
								<tr>
									<td>
										Mechanika:</td>
									<td>
										DVD-RW</td>
								</tr>
								<tr>
									<td>
										Wi-Fi:</td>
									<td>
										WiFi 802.11 ac</td>
								</tr>
								<tr>
									<td>
										Bluetooth:</td>
									<td>
										BT 4.0</td>
								</tr>
								<tr>
									<td>
										Porty:</td>
									<td>
										USB 3.0, 2 x USB 2.0, výstup HDMI, čítačka kariet 3 v 1, RJ45 Ethernet, Kombinovaný port pre slúchadlá a mikrofón
									</td>
								</tr>
							
								
								<tr>
									<td>
										Extra numerická klávesnica:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Rozmery (V x Š x H):</td>
									<td>
										460,6 x 224,5 x 394,9 mm</td>
								</tr>
								<tr>
									<td>
										Hmotnosť:</td>
									<td>
									 3,90 kg</td>
								</tr>
								<tr>
									<td>
										Farba:</td>
									<td>
										biela</td>
								</tr>
								<tr>
									<td>
										Obsah balenia:</td>
									<td>
										PC, napájací adaptér, Slovenský manuál</td>
								</tr>
							</tbody>
						</table>
						<br>
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Technická špecifikácia - Bezdrôtové slúchadlá Genius HS-935BT Bluetooth</th>
								</tr>
								<tr>
									<td class="tab1st">
										Produktový názov:</td>
									<td>
										slúchadlá s mikrofónom</td>
								</tr>
								<tr>
									<td>
										Značka</td>
									<td>
										Genius</td>
								</tr>
								<tr>
									<td>
										Farba</td>
									<td>
										biela s čiernou</td>
								</tr>
								<tr>
									<td>
										Ovládanie hlasitosti:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Citlivosť:</td>
									<td>
										82 db</td>
								</tr>
								<tr>
									<td>
										Frekvenčný rozsah:</td>
									<td>
										160 Hz – 20 kHz</td>
								</tr>
								<tr>
									<td>
										Mikrofón: </td>
									<td>
										áno
								</tr>
								<tr>
									<td>
										Bluetooth:</td>
									<td>
										áno (4.1)</td>
								</tr>
								<tr>
									<td>
										Dosah:</td>
									<td>
										až 30 metrov</td>
								</tr>
								<tr>
									<td>
										Výdrž batérie:</td>
									<td>
										15 hodín a viac</td>
								</tr>
								<tr>
									<td>
										Konektor:</td>
									<td>
										3,5 mm jack</td>
								</tr>
								
							</tbody>
						</table>
						<br>
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Technická špecifikácia - Bezdrôtová myš Genius NX-7000</th>
								</tr>
								<tr>
									<td class="tab1st">
										Typ snímania:</td>
									<td>
										optické</td>
								</tr>
								<tr>
									<td>
										Prenos signálu:</td>
									<td>
										bezdrôtový</td>
								</tr>
								<tr>
									<td>
										Tlačidlá:</td>
									<td>
										3 x</td>
								</tr>
								<tr>
									<td>
										Vhodné k notebooku:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Vhodné pre ľavákov:</td>
									<td>
										áno</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
