<div class="fixed-link__full" id="fixed-link">
	<div class="fixed-link__table">
		<div class="fixed-link__row">
			<h5>
				Potrebujete pomôcť?</h5>
			<div class="green-tile green-tile__border cursor__hover" id="livechat">
				<a><img alt="" class="fixed-link__ico" src="/documents/10179/562752/ico-phone.png" /></a></div>
			<div class="green-tile green-tile__border cursor__hover" id="chat">
				<a><img alt="Chat" class="fixed-link__ico_chat" src="/documents/10179/562752/ico-chat.png" /></a></div>
			<div class="cursor__hover" id="toggle-chat">
				<img alt="" src="https://www.telekom.sk/documents/10179/562752/toggle-arrow.png" /></div>
		</div>
	</div>
</div>
<div class="fixed-link__compact cursor__hover hidden" id="fixed-link">
	<div class="fixed-link__table">
		<div class="fixed-link__row">
			<div class="white-tile" id="chat__compact">
				<img alt="" class="fixed-link__ico" src="/documents/10179/562752/ico-helpdesk.png" /></div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/documents/10179/562752/chat.js"></script><script>


	livechatoo.embed.init({
		lang: 'sk',
		side: 'right',
		layout: 'telekom.sk',
		page: 'hidden',
		departments: '4',
		onload: chat_callback
	})
</script>