<section class="section sec-5 akcie" id="sec-5">
	<div class="fixed-column">

		<div class="row">
			<h2 class="section__title">
				AKCIE A NOVINKY
			</h2>
		</div>

		<div class="row">
			<div class="tabs-container">
				<div class="overlay">
					<div class="tab__holder">
						<!-- TABS MENU -->
						<ul class="tabs tabs-menu">
							<li id="volne-piatky" class="variant" data-variant="1" style="display: none">
								<a href="#tab-1">Voľné piatky</a>
							</li>

							<li id="nekonecne-pripojenia-tab" class="nekonecne-pripojenia variant current" data-variant="2">
								<a href="#tab-2">Nekonečné pripojenia</a>
							</li>

						</ul>
					</div>
				</div>

				<div class="tab">

					<!-- Tab 1 -->
					<div class="tab-content clearfix" id="tab-1" style="display: none;">

						<div class="header-holder">
							<img src="../assets/img/akcia_volne_piatky_480.png" alt="Získajte plné vrecká nekonečných dát každý piatok!" class="header-img">
							<img src="../assets/img/ec_volne_piatky.png" alt="Voľné piatky" class="ec-piatky-480">
						</div>

						<div class="flex-row">

							<div class="text-cont flex-col flex-left">
								<p class="box-title">
									Získajte plné vrecká nekonečných dát bezplatne každý piatok!
								</p>
								Kúpte si novú Predplatenku alebo prejdite na Predplatenku z Easy karty a získate
								<strong>nekonečné dáta každý piatok počas nasledujúcich 90 dní</strong>.
								<br>
								<br>
								Dáta stačí aktivovať len raz v Telekom appke, hneď po prvom dobití kreditu, najneskôr do 90 dní od aktivácie vašej novej Predplatenky. Nekonečné piatkové dáta sú dostupné v SR.

								<div class="btn-holder">
									<a class="btn cta scroll-to magenta teasing-hide" href="/volania/predplatenka/mam-zaujem">KÚPIŤ PREDPLATENKU</a>
									<a class="btn cta scroll-to btn-nb teasing-hide" href="https://telekomsk.page.link/wvF9">AKTIVOVAŤ NEKONEČNÉ DÁTA</a>
								</div>
								<div class="link-holder">
									<a class="teasing-hide" href="https://m.telekom.sk/predplatenka">Prejsť z Easy na Predplatenku</a>
								</div>
							</div>

							<div class="img-cont flex-col flex-right">
								<img src="../assets/img/ec_volne_piatky.png" alt="Voľné piatky" class="ec-piatky">
							</div>

						</div>
					</div>

					<!-- Tab 2 -->
					<div class="tab-content clearfix nekonecno" id="tab-2" style="display: block;">

						<div class="header-holder">
							<img src="../assets/img/akcia_nekonecne_pripojenie_480.png" alt="Buďte 10 dní v balíku" class="header-img">
							<img src="../assets/img/ec_novinka_480.png" alt="Novinka" class="ec-novinka-480">
						</div>

						<div class="flex-row">

							<div class="text-cont flex-col flex-left">
								<p class="box-title">
									Buďte 10 dní v balíku
								</p>
								K Predplatenke vám prinášame nový dátový balík
								<strong>Nekonečné pripojenie na 10 dní</strong> s rýchlosťou 1 Mbps,
								s ktorou môžete surfovať, sledovať sociálne siete, videá a počúvať hudbu bez obmedzení*.
								<br>
								<br>
								<strong>Aktivujte si ho za 4 €</strong> na webe, v Telekom appke alebo cez SMS.
								<br>
								<br>
								Dáta z balíka môžete čerpať aj v regulovaných roamingových zónach 0 a 1 rovnakou rychlostou ako doma.

								<div class="btn-holder">
									<a class="btn cta scroll-to magenta" href="https://m.telekom.sk/predplatenka">AKTIVOVAŤ BALÍK CEZ WEB</a>
									<a class="btn cta scroll-to btn-nb" href="https://telekomsk.page.link/Avks">AKTIVOVAŤ BALÍK V APPKE</a>
								</div>
								<div class="link-holder">
									<a class="fancy teasing-hide" href="#activate-internet-UNL10DNI">Aktivovať cez SMS</a>
								</div>
							</div>

							<div class="img-cont flex-col flex-right">
								<img src="../assets/img/ec_novinka.png" alt="Novinka" class="ec-novinka">
							</div>

						</div>

						<div class="row">
							<div class="desc">
								*Maximálny objem prečerpaných dát v balíku (FUP) je 1,9 GB zdarma.
								Následne, po vyčerpaní ostatných roamingových dát (FUP) je za zvyšné voľné dáta účtovaný roamingový príplatok 0,0042 €/MB s DPH.
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>
