<section class="section sec-2 vyhody" id="sec-2">
	<div class="row">
		<div class="fixed-column">

			<div class="row">
				<h2 class="section__title">
					Objavte výhody Predplatenky
				</h2>
			</div>

			<div class="row">

				<div class="col-md-4">
					<div class="box__holder">
						<img src="../assets/img/icon_bez_zavazkov.png" alt="Úplne bez záväzkov">
						<div class="row1">Úplne bez záväzkov</div>
						<div class="row2">Volajte, posielajte správy a dátujte s Predplatenkou bez mesačných poplatkov a viazanosti. Z kreditu platíte len za to, čo spotrebujete.</div>
						<div class="row3"><a class="popup" href="#vyhody-internet">Zobraziť viac info</a></div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="box__holder">
						<img src="../assets/img/icon_neobmedzene_volania.png" alt="Neobmedzené volania">
						<div class="row1">Neobmedzené volania za max. 50 centov</div>
						<div class="row2">Volajte iba za 10 centov za minútu do akejkoľvek siete v SR. Ak dosiahnete hranicu 50 centov, viac už v daný deň za volania nezaplatíte.</div>
						<div class="row3"><a class="popup" href="#vyhody-volania">Zobraziť viac info</a></div>
					</div>
				</div>

				<div class="col-md-4">
					<div class="box__holder">
						<img src="../assets/img/icon_neobmedzene_sms.png" alt="Neobmedzené SMS">
						<div class="row1">Neobmedzené SMS za max. 50 centov</div>
						<div class="row2">Posielajte SMSky za 0,10 € a MMS-ky za 0,39 € do všetkých sietí v SR. Ak pri odosielaní SMS dosiahnete hranicu 0,50€, v daný deň už viac za SMS nezaplatíte.</div>
						<div class="row3"><a class="popup" href="#vyhody-sms-mms">Zobraziť viac info</a></div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<div class="predplatenka-lightbox" id="vyhody-volania">
	<h2>
		Volania</h2>
	<div>
		Za minútu hovoru do všetkých sietí v SR (Telekom, Orange, O2 alebo 4ka) zaplatíte 0,10€.
		Ak dosiahnete hranicu 0,50€, v daný deň už viac za hovory nezaplatíte. <br>
		Mesačne môžete prevolať až 2000 minút. Po prekročení tohto limitu vám budú ďalšie volania do konca mesiaca spoplatnené sumou 0,10€ za minútu.
		Viac info v
		<a href=" https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/" target="_blank">Cenníku pre poskytovanie služieb prostredníctvom mobilnej siete v časti A</a>.
		<br><br>
		<br/><br/>
		<a class="link-close" href="#">Zavrieť okno</a></div>
</div>

<div class="predplatenka-lightbox" id="vyhody-sms-mms">
	<h2>
		SMS a MMS</h2>
	<div>
		Za SMS zaplatíte 0,10€ a za MMS 0,39€ do všetkých sietí (Telekom, Orange, O2 alebo 4ka). Ak pri odosielaní SMS dosiahnete hranicu 0,50€, v daný deň už viac za SMS nezaplatíte. Mesačne môžete odoslať až 2000 SMS správ.
		<br/><br/>
		<a class="link-close" href="#">Zavrieť okno</a></div>
</div>

<div class="predplatenka-lightbox" id="vyhody-internet">
	<h2>
		4G Internet</h2>
	<div>
		Po pripojení na internet v mobile sa automaticky aktivuje denný balík 300 MB za 0,50€ (kým dosiahnete hranicu 0,50€, platíte za 1 MB 0,10€).
		Balík je platný v daný deň do 23:59. V ten deň, keď nesurfujete, neplatíte nič. Po vyčerpaní dát z balíka, sa prístup na internet zastaví.
		Pre obnovenie dát si môžete aktivovať jeden z dátových balíkov k Predplatenke. Rýchlosť internetu: 150 Mb/s.
		<br/><br/>
		<a class="link-close" href="#">Zavrieť okno</a></div>
</div>