<section class="section sec-6 roaming" id="sec-6">
	<div class="header-holder">
		<img src="../assets/img/roaming_background_480.png" alt="Roaming" class="header-img">
	</div>

	<div class="fixed-column">
		<div class="flex-row roaming-holder">

			<div class="img-cont flex-col flex-left">
			</div>

			<div class="flex-col flex-right">
				<div class="roaming-content">
					<img src="../assets/img/roaming_badge.png" class="roaming-badge">

					<h2 class="section__title">
						Aj v zahraničí dátujete, voláte a SMS-kujete bez viazanosti a poplatkov
					</h2>

					<div class="roaming-desc">
						V zahraničí, voláte, SMS-kujete a dátujete so službou Predplatenka Roaming bez záväzkov a poplatkov. Navyše si môžete aktivovať ľubovoľný balík internetu v zahraničí už od 2,50 € na 30 dní.
						<br>
						S Predplatenkou môžete volať a SMS-kovať aj zo Slovenska do zahraničia.
					</div>

					<div class="roaming-link">
						<a class="scroll-to teasing-hide" href="/volania/predplatenka/roaming">Viac o Predplatenka roamingu</a>
					</div>
					<div class="roaming-link">
						<a class="scroll-to teasing-hide" href="/volania/volania-do-zahranicia">Prejsť na balíky internetu v zahraničí</a>
					</div>
					<div class="roaming-link">
						<a class="scroll-to teasing-hide" href="/volania/predplatenka/roaming">Viac o volaniach zo Slovenska do zahraničia</a>
					</div>

				</div>
			</div>
		</div>
	</div>

</section>
