<section class="section sec-4 aplikacia" id="sec-4">
	<div class="fixed-column">
		<div class="flex-row">

			<div class="flex-col flex-left">
				<img src="../assets/img/telekom_app_badge.png" class="app-badge">

				<h2 class="section__title">
					Spravujte svoju Predplatenku s Telekom appkou
				</h2>

				<div>
					Stiahnite si bezplatnú Telekom appku do mobilu alebo tabletu a získate prehľad o spotrebe, možnosť aktivovať či deaktivovať doplnkové balíky a dobiť kredit.
					S appkou získate
					<span class="bold">bonusový kredit pri každom dobití nad 10 € a exkluzívny balík Nekonečné dáta na 1 deň za 2 €</span>.
				</div>

				<div class="app-links">
					<div class="app-links-desc">
						Telekom appku nájdete vo svojom online obchode:
					</div>
					<a href="https://play.google.com/store/apps/details?id=com.telekom.portal&amp;hl=sk" target="_blank">
						<img src="https://www.telekom.sk/documents/10179/12397481/googlePlay.png" class="play-store-logo">
					</a>
					<a href="https://itunes.apple.com/sk/app/telekom/id582997807" target="_blank">
						<img src="https://www.telekom.sk/documents/10179/12397481/app-store.png" class="app-store-logo">
					</a>
				</div>
			</div>

			<div class="flex-col flex-right img-holder">
				<img src="../assets/img/telekom_app_phone.png" class="app-phone">
			</div>
		</div>

	</div>
</section>
