/* ===============
   CSS FOR MICROSITE
   =============== */

/* HERO SECTION */

#last-articles-list {
  padding: 70px 0;
  h3 {
    color: #262626;
    font-size: 32px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
    @media screen and (max-width: 520px) {
      font-size: 24px;
    }
  }
  #posts-contents {
    margin-top: 30px;
  }
  .blog {
    &_item:hover::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(38, 38, 38, 0.7);
    }
    &_item {
      min-height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;

      &__category {
        padding: 5px;
        background-color: #262626;
        float: right;
        position: relative;
        z-index: 3;

        color: #fff;
      }
      &__details {
        bottom: 0;
        padding: 15px;
        position: absolute;
        color: #fff;
        background-image: -webkit-gradient(
          linear,
          left top,
          left bottom,
          from(transparent),
          to(#000)
        );
        background-image: linear-gradient(180deg, transparent, #000);
        text-align: left;
        h3 {
          line-height: normal !important;
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          padding-right: 20px;
          line-height: 34px;
          margin-bottom: 16px;
          margin: 20px 0 10px;
        }
        p {
          line-height: normal;
          color: #fff;
          font-size: 18px;
          margin: 0px 0 10px 0;
        }

        .blog_meta a {
          color: #fff;
          font-size: 16px;
        }
        .blog_meta p {
          float: left;
          margin-bottom: 0;
          color: #fff;
        }
        p:last-of-type {
          float: right;
        }
        .blog_meta__divider {
          margin: 4px 10px 0 10px;
          line-height: 14px;
        }
      }
    }
  }
}
