
<slick class="app-slider as2 device-list col-md-12" settings="$ctrl.slickDatoveZariadeniaConfig" ng-if="$ctrl.zariadeniaLoaded">

  <!-- Datove zariadenia -->
  <div class="col-md-12 dataDevice__item  data-device__wrap" ng-repeat="zariadenie in $ctrl.datoveZariadenia" ng-if="zariadenie.visible">
    <div class="dataDevice__item-img">
      <img alt="" src="../assets/img/dev-01.jpg" ng-src="{{zariadenie.imageUrl}}" /></div>
    <div class="dataDevice__item-title">
      <h5>
        {{zariadenie.name}}</h5>
    </div>
    <div class="dataDevice__item-desc">
      <p>
        {{zariadenie.subInfo}}</p>
    </div>
    <div class="dataDevice__item-cta">
      <a class="popup" href="#{{zariadenie.id}}">Viac info <!--<img src="../assets/img/modraSipka.jpg" />--></a></div>
  </div>

</slick>

<!-- pagination datove zariadenia -->
<div class="slider-pagination__wrap show-mobile-only">
    <div class="control__holder">
        <span class="paging-arrow paging-arrow-prev" ng-click="$ctrl.slickDatoveZariadeniaConfig.method.slickPrev()"><img alt="" src="../assets/img/ico-left.png"> Späť</span>
        <p class="paging-current">
            ({{$ctrl.currentSlideNum}}/{{$ctrl.allIndex}})
        </p>
       <span class="paging-arrow paging-arrow-next" ng-click="$ctrl.slickDatoveZariadeniaConfig.method.slickNext()">Ďalej <img alt="" src="../assets/img/ico-right.png"></span>
    </div>
</div>


<!-- e3372h -->
<div ng-repeat="zariadenie in $ctrl.datoveZariadenia">
<div id="{{zariadenie.id}}" style="display: none;">
  <div class="p-head">
    <h2 style="color:#e20074">
      {{zariadenie.name}}</h2>
  <div class="p-close">
    <a href="" class="close-btn" ng-click="$ctrl.pcloseZariadenia()"></a>
  </div>
</div>
  <!-- POPUP CONTENT -->
  <div class="p-content">
    <div class="p-content__img">
      <img alt="{{zariadenie.name}}" ng-src="{{zariadenie.imageUrl}}" /></div>

    <div class="p-content__desc">
      <p class="velkeCislo">
        {{zariadenie.mainDesc.priceL}}</p>
      <p>
        {{zariadenie.mainDesc.serviceL}}</p>
      <br />
      <p class="velkeCislo">
        {{zariadenie.mainDesc.priceM}}</p>
      <p>
        {{zariadenie.mainDesc.serviceM}}</p>
      <br />
      <p class="velkeCislo">
        {{zariadenie.mainDesc.priceS}}</p>
      <p>
        {{zariadenie.mainDesc.serviceS}}</p>
    </div>
    <hr />

    <table class="table_popup" style="border-left: 0;border-right: 0;">
      <thead>
        <tr>
          <th>
            <b>Technické špecifikácie:</b>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="spec in zariadenie.descLightBox">
            <td>
                {{spec.desc[0]}}
              </td>
            <td>
                {{spec.desc[1]}}
              </td>
        </tr>
      </tbody>
    </table>
    <span ng-if="zariadenie.package" style="font-weight: 900;">Obsah balenia: </span>
    <p ng-model="zariadenie.package">{{zariadenie.package}}</p>
  </div>
</div>
</div>

<!-- LightBox: datove zariadenia -->
