<!-- Notebook-List Content -->
<slick class="app-slider as2 device-list col-md-12" settings="$ctrl.slickNbConfig" ng-if="$ctrl.notebooksLoaded">
    <!-- device-card 1 -->
    <div class="device-card col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="notebook in $ctrl.allNotebooks" ng-if="notebook.visible">
        <!-- device-img -->
        <div class="device-card-img__wrap">
            <img class="device-card-img" ng-src="{{notebook.imageUrl}}" alt="" />
        </div>
        <!-- device-title -->
        <div class="device-card__title">
            <h3><span>{{notebook.name}}</span></h3>
        </div>
        <!-- device-details -->
        <div class="device-card__detail-wrap">
            <ul class="device-card__detail-list">
                <li class="device-card__detail-list-item">
                    <span>{{notebook.description.desc1}}</span>
                </li>
                <li class="device-card__detail-list-item">
                    <span>{{notebook.description.desc2}}</span>
                </li>
                <li class="device-card__detail-list-item">
                    <span>{{notebook.description.desc3}}</span>
                </li>
                <li class="device-card__detail-list-item">
                    <a class="popup" ng-href="{{notebook.id}}"><span>Viac info</span></a>
                </li>
            </ul>
        </div>
        <!-- device-price -->
        <div class="device-card__price-wrap">
            <!-- price-nb -->
            <div class="device-card__price-wrap">
                <div class="price">
                    už od {{notebook.price.priceBase.split('.')[0]}},<sup>{{notebook.price.priceBase.split('.')[1]}}</sup> €
                </div>
                <div class="price__desc">{{notebook.price.priceDesc}}</div>
            </div>
        </div>
        <!-- device-cta -->
        <div class="device-card__cta">
            <a ng-href="{{notebook.formUrl}}" class="btn cta">Kúpiť</a>
        </div>
    </div>
</slick>
<!-- pagination Notebook-List -->
<div class="slider-pagination__wrap show-mobile-only">
    <div class="control__holder">
        <span class="paging-arrow paging-arrow-prev" ng-click="$ctrl.slickNbConfig.method.slickPrev()"
            ><img alt="" src="../assets/img/ico-left.png" /> Späť</span
        >
        <p class="paging-current">
            ({{$ctrl.currentSlideNum}}/{{$ctrl.allIndex}})
        </p>
        <span class="paging-arrow paging-arrow-next" ng-click="$ctrl.slickNbConfig.method.slickNext()"
            >Ďalej <img alt="" src="../assets/img/ico-right.png"
        /></span>
    </div>
</div>
<!-- LightBox: phones -->
<div ng-repeat="notebook in $ctrl.allNotebooks" style="display: none;">
    <div id="{{notebook.id}}" style="display: none;">
        <div class="p-head">
            <div class="p-close">
                <a href="" class="close-btn" ng-click="$ctrl.pcloseNotebook()"></a>
            </div>
            <!-- <a class="p-close" ng-click="$ctrl.pclose()">
            </a> -->
            <h2 style="color: #e20074;">{{notebook.name}}</h2>
        </div>
        <!-- POPUP CONTENT -->
        <div class="p-device-content">
            <!--   <div class="p-device-content__img-wrap">
                <div class="p-device-content__img">
                    <img alt="{{phone.name}}" ng-src="{{phone.imageUrl}}" />
                </div>
            </div> -->
            <div class="p-phoney-content__desc">
                <table class="detail-table">
                    <tbody>
                        <tr ng-repeat="spec in notebook.descLightBox">
                            <td>
                                <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                            </td>
                            <td class="spec-name">
                                {{spec.desc[0]}}
                            </td>
                            <td class="row-2">
                                {{spec.desc[1]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- //Notebook-List Content -->
