<!-- phone-List-Slider Content -->
<slick class="app-slider as1 device-list col-md-12" settings="$ctrl.slickPhoneConfig" ng-if="$ctrl.phoneLoaded">
    <!-- device-card 1 -->
    <div class="device-card col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="phone in $ctrl.allPhones" ng-if="phone.visible">

        <!-- device-img -->
        <div class="device-card-img__wrap">
            <!-- ec-info -->
            <div class="ec-wrap-left" ng-if="phone.ec.ecLeftVisible">
                <img ng-src="{{phone.ec.ecRightUrl}}" alt="" class="ec-img-left">
            </div>
            <div class="ec-wrap-right" ng-if="phone.ec.ecRightVisible">
                <img ng-src="{{phone.ec.ecRightUrl}}" alt="" class="ec-img-right">
            </div>
            <img class="device-card-img" ng-src="{{phone.imageUrl}}" alt="" />
        </div>
        <!-- device-title -->
        <div class="device-card__title">
            <h3><span>{{phone.name}}</span></h3>
        </div>
        <!-- device-details -->
        <div class="device-card__detail-wrap">
            <ul class="device-card__detail-list">
                <li class="device-card__detail-list-item">
                    <span>{{phone.description.desc1}}   </span>
                </li>
                <li class="device-card__detail-list-item">
                    <span>{{phone.description.desc2}} </span>
                </li>
                <li class="device-card__detail-list-item">
                    <span>{{phone.description.desc3}} </span>
                </li>
                <li class="device-card__detail-list-item">
                    <a class="popup" href="{{phone.id}}"><span>Viac info</span></a></li>
            </ul>
        </div>
        <!-- device-price -->
        <div class="device-card__price-wrap">
            <!-- price-phone -->
            <div class="device-card__price-wrap">
                <div class="price">
                    už od {{phone.price.priceBase}},<sup>00</sup> €
                </div>
                <div class="price__desc">{{phone.price.priceDesc}}</div>
            </div>
        </div>
        <!-- device-cta -->
        <div class="device-card__cta">
            <a ng-href="{{phone.formUrl}}" class="btn cta">Kúpiť</a>
        </div>
    </div>
</slick>
<!-- pagination slider-1 -->
<div class="slider-pagination__wrap show-mobile-only">
    <div class="control__holder">
        <span class="paging-arrow paging-arrow-prev" ng-click="$ctrl.slickPhoneConfig.method.slickPrev()"><img alt="" src="../assets/img/ico-left.png"> Späť</span>
        <p class="paging-current">
            ({{$ctrl.currentSlideNum}}/{{$ctrl.allIndex}})
        </p>
        <span class="paging-arrow paging-arrow-next" ng-click="$ctrl.slickPhoneConfig.method.slickNext()">Ďalej <img alt="" src="../assets/img/ico-right.png"></span>
    </div>
</div>
<!-- LightBox: phones -->
<div ng-repeat="phone in $ctrl.allPhones" style="display:none;">
    <div id="{{phone.id}}" style="display: none;">
        <div class="p-head">
          <div class="p-close">
            <a href="" class="close-btn" ng-click="$ctrl.pclosePhone()"></a>
          </div>
            <!-- <a class="p-close" ng-click="$ctrl.pclose()">
            </a> -->
            <h2 style="color:#e20074">{{phone.name}}</h2>
        </div>
        <!-- POPUP CONTENT -->
        <div class="p-device-content">
          <!--   <div class="p-device-content__img-wrap">
                <div class="p-device-content__img">
                    <img alt="{{phone.name}}" ng-src="{{phone.imageUrl}}" />
                </div>
            </div> -->
            <div class="p-phoney-content__desc">
                <table class="detail-table">
                    <tbody>
                        <tr ng-repeat="spec in phone.descLightBox">
                            <td>
                                <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                            </td>
                            <td class="spec-name">
                                {{spec.desc[0]}}</td>
                            <td class="row-2">
                                {{spec.desc[1]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- //phone-List-Slider Content -->
