<section class="prod-list_densed section">
    <div class="fixed-column">
        <h2 class="section__title section__hero__title section__title__double">NOVÁ KOLEKCIA SAMSUNG</h2>
        <div class="prod__carousel_4">
            <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/S7_1.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title"><img src="../assets/img/galaxy-s7-logo.png" alt="Samsung Galaxy S7"></h4>
                <h4 class="prod__subtitle">Zmení váš pohľad na telefón</h4>
                <ul class="at-a-glance">
                    <li><span>12Mpx fotoaparát s technológiou Dual Pixel a svetelnosťou F1.7</span></li>
                    <li><span>Podpora microSD kariet (až do 200GB)</span></li>
                    <li><span>Vode a prachu odolný IP68</span></li>
                </ul>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_s7" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-1" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
            <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/S7_edge_1.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title"><img src="../assets/img/galaxy-s7-edge-logo.png" alt="Samsung Galaxy S7 edge"></h4>
                <h4 class="prod__subtitle">Zmení váš pohľad na telefón</h4>
                <ul class="at-a-glance">
                    <li><span>Na oboch stranách zakrivený 5.5" qHD Super AMOLED displej</span></li>
                    <li><span>12Mpx fotoaparát s technológiou Dual Pixel a svetelnosťou F1.7</span></li>
                    <li><span>Vode a prachu odolný IP68</span></li>
                </ul>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_s7_edge" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-2" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
            <div class="grid__col_3">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/A5_1.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title"><img src="../assets/img/galaxy-a5-logo.png" alt="Samsung Galaxy A5"></h4>
                <h4 class="prod__subtitle">Exkluzívne pre teba</h4>
                <ul class="at-a-glance">
                    <li><span>Výnimočná kombinácia kovu a skla</span></li>
                    <li><span>13 MPx fotoaprát s vysokou svetelnosťou (F1.9) a optickou stabilizáciou</span></li>
                    <li><span>Rýchle nabíjanie a snímač odtlačkov prstov</span></li>
                </ul>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_a5_2016" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-3" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
            <div class="grid__col_3">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/A3_1.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title"><img src="../assets/img/galaxy-a3-logo.png" alt="Samsung Galaxy A3"></h4>
                <h4 class="prod__subtitle">Exkluzívne pre teba</h4>
                <ul class="at-a-glance">
                    <li><span>Elegantný dizajn: kombinácia skla a kovu</span></li>
                    <li><span>4,7" adaptívny HD Super AMOLED displej</span></li>
                    <li><span>Štvorjadrový 1.5 GHz procesor</span></li>
                </ul>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_a3_2016" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-4" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section__nav">
    <div class="product__nav">
        <div class="fixed-column">
            <div class="grid__col_12">
                <div class="menuIcon">
                    <div id="nav-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="#menuExpand" class="product__nav_link">Menu</a>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#sec-1" class="scroll-to">
                                <div class="content__sec-1 menu__link__content">
                                    <span class="link__text">Samsung Galaxy S7</span>
                                    <img src="../assets/img/s7-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-2" class="scroll-to">
                                <div class="content__sec-2 menu__link__content">
                                    <span class="link__text">Samsung Galaxy S7 edge</span>
                                    <img src="../assets/img/s7-edge-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-3" class="scroll-to">
                                <div class="content__sec-3 menu__link__content">
                                    <span class="link__text">Samsung Galaxy A5</span>
                                    <img src="../assets/img/a5-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-4" class="scroll-to">
                                <div class="content__sec-4 menu__link__content">
                                    <span class="link__text">Samsung Galaxy A3</span>
                                    <img src="../assets/img/a3-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<div id="sec-1" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title"><img src="../assets/img/galaxy-s7-logo.png" alt="Samsung Galaxy S7"></h2>
            <h4 class="prod__subtitle">Zmení váš pohľad na telefón</h4>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/S7_2.png" v alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">5,1" Quad HD</div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">3000 mAh</div>
                        <div class="spec__param">batéria</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">32 GB</div>
                        <div class="spec__param">interná pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">5 MPix</div>
                        <div class="spec__param">predný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">12 Mpix</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">do 200 GB</div>
                        <div class="spec__param">rozšírená pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G</div>
                        <div class="spec__param">sieť</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-1 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Odolnosť voči vode a prachu</h2>
                <p class="feat__desc">Telefón Samsung Galaxy S7 sa nemusíte báť položiť na mokrý povrch. Môžete ho ďalej používať dokonca aj potom, keď vám spadne do vody. Môžete hrať hry pri bazéne, uverejňovať selfie na pláži a volať taxík v daždi. Má krytie IP (ochrana pred vniknutím vody) triedy 68.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-1 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Revolučný fotoaparát</h2>
                <p class="feat__desc">Mnoho z najfotogenickejších momentov našich životov sa odohráva pri slabom osvetlení. V interiéri alebo po západe slnka. Pre Samsung Galaxy S7 to nebude žiadny problém. Jasnejší objektív s F1.7 a väčšie 1.4µm pixely obrazového snímača zachytia oveľa viac svetla. Navyše všetky pixely obrazového snímača používajú dve fotodiódy namiesto jednej, čo znamená, že snímač Dual Pixel senzor triedy DSLR dokáže zaostrovať tak rýchlo a tak presne, ako to dokážu vaše oči. Vďaka tomu všetkému budú fotografie dokonale ostré a detailné.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_s7">Objednať</a>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-1 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Rozširujúca veľká pamäť</h2>
                <p class="feat__desc">S podporou kariet microSD môžete podľa potreby rozšíriť úložnú kapacitu. Po veľmi dlhú dobu nebudete musieť odstrániť žiadne súbory, fotografie ani videá.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-1 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Dlhšia výdrž batérie a rýchle nabíjanie</h2>
                <p class="feat__desc">Samsung Galaxy S7 má až 3000mAh batériu, takže môžete sledovať svoje obľúbené televízne programy a počúvať hudbu dlhé hodiny. Aj s väčšou batériou sa môžete spoľahnúť na vstavané funkcie rýchleho nabíjania. Spolu s fenomenálnym a rýchlym bezdrôtovým nabíjaním sa už viac nemusíte príliš dlho zdržovať čakaním na nabitie telefónu.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-1 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Strhujúca rýchlosť a sila</h2>
                <p class="feat__desc">Nový prispôsobený procesor, výkonná grafika a 4GB RAM predstavujú výkonnú kombináciu. Od spúšťania aplikácií po hranie hier a streamovanie videí, všetko prebieha rýchlejšie a plynulejšie. Váš telefón bude aj naďalej fungovať ako nový.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_s7">Objednať</a>
            </div>
        </div>
    </section>
</div>

<div id="sec-2" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title"><img src="../assets/img/galaxy-s7-edge-logo.png" alt="Samsung Galaxy S7 edge"></h2>
            <h4 class="prod__subtitle">Zmení váš pohľad na telefón</h4>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/S7_edge_2.png" v alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">5,5" Quad HD</div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">3600 mAh</div>
                        <div class="spec__param">batéria</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">32 GB</div>
                        <div class="spec__param">interná pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">5 MPix</div>
                        <div class="spec__param">predný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">12 Mpix</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">do 200 GB</div>
                        <div class="spec__param">rozšírená pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G</div>
                        <div class="spec__param">sieť</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-2 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Odolnosť voči vode a prachu</h2>
                <p class="feat__desc">Telefón Samsung Galaxy S7 edge sa nemusíte báť položiť na mokrý povrch. Môžete ho ďalej používať dokonca aj potom, keď vám spadne do vody. Môžete hrať hry pri bazéne, uverejňovať selfie na pláži a volať taxík v daždi. Má krytie IP (ochrana pred vniknutím vody) triedy 68.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-2 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Revolučný fotoaparát</h2>
                <p class="feat__desc">Mnoho z najfotogenickejších momentov našich životov sa odohráva pri slabom osvetlení. V interiéri alebo po západe slnka. Pre Samsung Galaxy S7 edge to nebude žiadny problém. Jasnejší objektív s F1.7 a väčšie 1.4µm pixely obrazového snímača zachytia oveľa viac svetla. Navyše všetky pixely obrazového snímača používajú dve fotodiódy namiesto jednej, čo znamená, že snímač Dual Pixel senzor triedy DSLR dokáže zaostrovať tak rýchlo a tak presne, ako to dokážu vaše oči. Vďaka tomu všetkému budú fotografie dokonale ostré a detailné.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_s7_edge">Objednať</a>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-2 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Rozširujúca veľká pamäť</h2>
                <p class="feat__desc">S podporou kariet microSD môžete podľa potreby rozšíriť úložnú kapacitu. Po veľmi dlhú dobu nebudete musieť odstrániť žiadne súbory, fotografie ani videá.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-2 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Dlhšia výdrž batérie a rýchle nabíjanie</h2>
                <p class="feat__desc">Samsung Galaxy S7 edge má až 3600mAh batériu, takže môžete sledovať svoje obľúbené televízne programy a počúvať hudbu dlhé hodiny. Aj s väčšou batériou sa môžete spoľahnúť na vstavané funkcie rýchleho nabíjania. Spolu s fenomenálnym a rýchlym bezdrôtovým nabíjaním sa už viac nemusíte príliš dlho zdržovať čakaním na nabitie telefónu.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-2 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Hry na serióznej úrovni</h2>
                <p class="feat__desc">Dokonca aj hry náročné na grafický výkon bežia vždy plynule a s výrazne menším oneskorením a vybíjaním batérie. Aj keď vy sa pri hre zapotíte, telefón sa nebude veľmi zahrievať, takže môžete zachovať pokoj a sústrediť sa na víťazstvo. A keďže Samsung Galaxy S7 edge je prvý smartfón podporujúci rozhranie Vulkan API, budete pri hraní hier vyvinutých s rozhraním API dramaticky pociťovať efekty.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_s7_edge">Objednať</a>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-2 feat-6 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Strhujúca rýchlosť a sila</h2>
                <p class="feat__desc">Nový prispôsobený procesor, výkonná grafika a 4GB RAM predstavujú výkonnú kombináciu. Od spúšťania aplikácií po hranie hier a streamovanie videí, všetko prebieha rýchlejšie a plynulejšie. Váš telefón bude aj naďalej fungovať ako nový.</p>
            </div>
        </div>
    </section>
</div>

<div id="sec-3" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title"><img src="../assets/img/galaxy-a5-logo.png" alt="Samsung Galaxy A5"></h2>
            <h4 class="prod__subtitle">Exkluzívne pre teba</h4>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/A5_2.png" v alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">5,2"</div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">1920 x 1080 (full HD)</div>
                        <div class="spec__param">rozlíšenie displeja</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">13 Mpix</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">144.8 x 71.0 x 7.3</div>
                        <div class="spec__param">rozmery (výška x šírka x hrúbka)</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">microSD, až do 128 GB</div>
                        <div class="spec__param">podporovaná pamäťová karta</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G</div>
                        <div class="spec__param">sieť</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-3 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Výnimočná kombinácia kovu a skla</h2>
                <p class="feat__desc">Spojenie štýlového a pevného kovu a pútavého skla Gorilla Glass. Vychutnajte si stabilnejšie a pohodlnejšie uchopenie s tenkým dizajnom a ešte tenším rámom.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_a5_2016">Objednať</a>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-3 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Vysoký výkon</h2>
                <p class="feat__desc">Zažite výnimočný hardvérový výkon a neuveriteľne vysoké rýchlosti internetového pripojenia. Osemjadrový procesor a LTE kategórie 6 umožňujú bezproblémové surfovanie na webe, plynulejšie prechody v rámci používateľského rozhrania a rýchlejší multitasking.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-3 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Jasnejšie a ostrejšie fotografie</h2>
                <p class="feat__desc">Predný a zadný fotoaparát so svetelnosťou f / 1,9 poskytujú mimoriadne jasné fotografie dokonca aj pri slabom osvetlení. Funkcia optickej stabilizácie obrazu (OIS) zadného fotoaparátu umožňuje zhotovovať fotografie a videá bez rozmazania. Zachyťte vzácny okamih takmer okamžite vďaka možnosti rýchleho spustenia fotoaparátu dvojitým stlačením tlačidla Domov.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-3 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Lepšie zabezpečenie</h2>
                <p class="feat__desc">Odomykajte telefón a prihlasujte sa do účtu Samsung pomocou jednoduchého a bezpečného rozpoznávania odtlačkov prstov. Vylepšená technológia rozpoznávania odtlačkov prstov zaručuje nielen lepšiu ochranu osobných údajov, ale aj pohodlnejšie používanie. Podpora jednoduchých a zabezpečených mobilných platieb.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_a5_2016">Objednať</a>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-3 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Dlhšia výdrž a rýchle nabíjanie</h2>
                <p class="feat__desc">Veľká kapacita batérie umožňuje hrať hry a vychutnávať si multimediálny obsah ešte dlhšie. Schopnosť rýchleho nabíjania znamená, že môžete batériu dobiť ešte rýchlejšie než kedykoľvek predtým.</p>
            </div>
        </div>
    </section>
</div>

<div id="sec-4" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title"><img src="../assets/img/galaxy-a3-logo.png" alt="Samsung Galaxy A3"></h2>
            <h4 class="prod__subtitle">Exkluzívne pre teba</h4>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/A3_2.png" v alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">4,7"</div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">720 x 1280 (HD)</div>
                        <div class="spec__param">rozlíšenie displeja</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">13 Mpix</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">134.5 x 65.2 x 7.3</div>
                        <div class="spec__param">rozmery (výška x šírka x hrúbka)</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">microSD, do 128 GB</div>
                        <div class="spec__param">podporovaná pamäťová karta</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G</div>
                        <div class="spec__param">sieť</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-4 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Výnimočná kombinácia kovu a skla</h2>
                <p class="feat__desc">Spojenie štýlového a pevného kovu a pútavého skla Gorilla Glass. Vychutnajte si stabilnejšie a pohodlnejšie uchopenie s tenkým dizajnom a ešte tenším rámom.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_a3_2016">Objednať</a>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-4 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Vysoký výkon</h2>
                <p class="feat__desc">Zažite výnimočný hardvérový výkon a neuveriteľne vysoké rýchlosti internetového pripojenia. Štvorjadrový procesor a LTE kategórie 4 umožňujú bezproblémové surfovanie na webe, plynulejšie prechody v rámci používateľského rozhrania a rýchlejší multitasking.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-4 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Jasnejšie a ostrejšie fotografie</h2>
                <p class="feat__desc">Predný a zadný fotoaparát so svetelnosťou f / 1,9 poskytujú mimoriadne jasné fotografie dokonca aj pri slabom osvetlení. Zachyťte vzácny okamih takmer okamžite vďaka možnosti rýchleho spustenia fotoaparátu dvojitým stlačením tlačidla Domov.</p>
            </div>
        </div>
    </section>

    <section class="feat_full-bg prod-4 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Dlhšia výdrž batérie</h2>
                <p class="feat__desc">Väčšia kapacita batérie umožňuje využívať množstvo funkcií oveľa dlhšie. Sledujte HD videá, hrajte hry, streamujte vysokokvalitný zvuk a pracujte na aplikáciách na zvyšovanie produktivity dlhšie ako doteraz.</p>
                <a class="cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/samsung_galaxy_a3_2016">Objednať</a>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
