<section id="sec-1" class="section sec-1">

	<div class="container-fixed">
		<div class="content clearfix" style="padding-bottom: 50px;">
			<div class="col-md-12 textwrapper header" style="padding-top: 30px;">
				<h1>Deezer na 60 dní zadarmo</h1>

				Užite si neobmedzenú hudbu vo vysokej kvalite zvuku vo svojom mobile, tablete či počítači.
				Deezer ponúka viac ako 56 miliónov skladieb, podcasty, možnosť vytvárať si vlastné playlisty, prehrávanie obľúbenej hudby bez reklám aj v režime offline a na mieru šité osobné odporúčania.
				Zobrazte si text obľúbenej piesne a ak si neviete spomenúť na jej názov, využite identifikátor skladieb.
				<br>
				<br>
				<b>Vyskúšajte Deezer teraz až na 60 dní bezplatne!</b>
				<br>
				<span class="italic">Ponuka platí pre všetkých našich zákazníkov Magio TV, Magio internetu, Magenta Office Internet, Biznis NET, Pevnej linky a všetkých mobilných paušálov.</span>
				<br>
				<br>
				Po uplynutí bezplatnej verzie Vám bude služba automaticky deaktivovaná. Nemusíte sa obávať žiadnych ďalších poplatkov.
			</div>

			<div class="col-md-12 textwrapper howto-box">
				<strong>Ako na to:</strong>
				<br>
				1) Objednajte si službu Deezer na 60 dní zadarmo.
				<br>
				2) Po prijatí sms, prípadne e-mailu, si zaregistrujte službu Deezer.
			</div>

			<div class="col-md-12 textwrapper">
				<div class="contact-form-wrapper">
					<h1>Objednávka služby Deezer na 60 dní zadarmo</h1>

					<form id="contact-form">
						<input type="hidden" id="customer-type" name="customer-type" value="b2c">
						<input type="hidden" id="action_id" name="action_id" value="deezer">

						<div id="customer-error">Na základe zadaných vstupných údajov sme zistili, že nespĺňate podmienky pre
							aktiváciu HBO GO na 30 dní zadarmo v zmysle
							<a href="https://www.telekom.sk/wiki/televizia/hbo-go-na-mesiac-zadarmo" target="_blank">podmienok akcie.</a>
						</div>

						<p class="notice">Vyplňte, prosím, nasledovné údaje.</p>

						<div class="form-group username">
							<label for="userName" class="input-label">Meno a priezvisko <span class="required">*</span></label>
							<input id="userName" class="input" type="text" maxlength="100" name="userName"
										 required
										 data-parsley-minlength="5"
										 data-parsley-maxlength="100"
										 data-parsley-trigger="focusout"
							/>
						</div>

						<div class="form-group customer">
							<input class="customer-type"
										 id="customer-checkbox"
										 type="checkbox"
										 name="customer-checkbox">

							<label for="customer-checkbox">Som biznis zákazník</label>
						</div>

						<div class="row">
							<div class="col-md-3 no-padding">
								<div class="form-group" id="ico" style="display: none">
									<label for="b2b-ico" class="input-label">IČO<span class="required">*</span></label>
									<input id="b2b-ico" class="input" type="text" maxlength="12" name="b2b-ico"
												 required
												 data-parsley-minlength="6"
												 data-parsley-maxlength="12"
												 data-parsley-type="integer"
												 data-parsley-trigger="focusout"
									/>
								</div>
							</div>
						</div>

						<div class="row userCode">
							<div class="col-md-3 no-padding">
								<div class="form-group">
									<label for="userCode" class="input-label">Čislo adresáta <span class="required">*</span>
										<a class="ttp" href="#" id="max-price" data-hasqtip="1" aria-describedby="qtip-1"><img alt="" src="https://www.telekom.sk/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
										<a href="#fa_popup" class="link fa_popup">Príklad</a>
									</label>
									<input id="userCode" class="input" type="text" name="userCode"
												 required
												 data-parsley-trigger="focusout"
												 data-parsley-type="integer"
												 data-parsley-length="[10,10]"
												 data-parsley-type-message="Kód adresáta musí obsahovať len čísla"
												 data-parsley-length-message="Kód adresáta musí mať 10 znakov"
									/>
								</div>
							</div>
						</div>


						<div class="row serviceCode">
							<div class="col-md-3 no-padding">
								<label for="service-type" class="input-label">
									Vyberte typ služby <span class="required">*</span>
									<a class="ttp" href="#" id="service-desc" data-hasqtip="2" aria-describedby="qtip-2"><img alt="" src="https://www.telekom.sk/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
								</label>
								<select id="service-type" name="service-type">
									<option value="mobile" selected>Mobilné číslo</option>
									<option value="magio-tv">Magio Televízia</option>
									<option value="magio-internet">Magio Internet</option>
									<option value="fixed-line">Pevná linka</option>
									<option value="mobile-internet">Mobilný internet</option>
									<option value="fwa-internet">Magio Internet vzduchom</option>
									<option value="office-internet">Magenta Office Internet</option>
									<option value="biznis-net">Biznis NET</option>
								</select>
							</div>

							<div class="col-md-3 no-padding">
								<label for="serviceCode" class="input-label">ID služby <span class="required">*</span></label>
								<input id="serviceCode" class="input" type="text" name="serviceCode"
											 required
											 data-parsley-trigger="focusout"
											 data-parsley-type="alphanum"
											 data-parsley-min-length="6"
											 data-parsley-max-length="20"
											 data-parsley-length-message="ID služby musí mať aspoň 6 znakov"
								/>

								<div id="servicecode-error"></div>

								<div style="text-align: left">
									<a href="#" onclick="event.preventDefault(); $('.servicecode-desc').toggle('fast')">Kde nájdem ID služby?</a>
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-3 no-padding">
								<div class="form-group" id="email-holder" style="display: none">
									<label for="email" class="input-label">Email <span class="required">*</span></label>
									<input id="email" class="input" type="text" name="email"
												 required
												 data-parsley-type="email"
												 data-parsley-trigger="focusout"
									/>
								</div>
							</div>
						</div>

						<div class="row servicecode-desc" style="display: none;">
							<div class="service-desc-main">
								ID služby
								<a href="#fa_detail_popup" class="link fa_popup">nájdete na druhej strane svojej faktúry</a> v riadku s názvom služby a v
								<a href="#app_popup" class="link app_popup">Telekom appke na obrazovke Prehľad,</a> ak v nej máte služby pripojené.
							</div>

							<div class="service-items" id="service-mobile">
								<div class="service-item">Zadajte mobilné telefónne číslo, napríklad <b>0903903903</b></div>
							</div>
							<div class="service-items" id="service-magio-tv">
								<div class="service-item">Zadajte identifikátor Magio Televízie, napríklad <b>1XCLY5YP</b></div>
							</div>
							<div class="service-items" id="service-magio-internet">
								<div class="service-item">Zadajte identifikátor Magio internetu, napríklad <b>jotcvpkj23</b></div>
							</div>
							<div class="service-items" id="service-biznis-net">
								<div class="service-item">Zadajte identifikátor Biznis net, napríklad <b>jotcvpkj23</b></div>
							</div>
							<div class="service-items" id="service-office-internet">
								<div class="service-item">Zadajte identifikátor Office internetu, napríklad <b>jotcvpkj23</b></div>
							</div>
							<div class="service-items" id="service-fixed-line">
								<div class="service-item">Zadajte číslo vašej pevnej linky (bez lomítka), napríklad <b>02123456789</b>
								</div>
							</div>
							<div class="service-items" id="service-mobile-internet">
								<div class="service-item">Zadajte číslo mobilného internetu, napríklad <b>0903903903</b></div>
							</div>
							<div class="service-items" id="service-fwa-internet">
								<div class="service-item">Zadajte identifikátor Magio Internetu vzduchom, napríklad <b>0903903903</b>
								</div>
							</div>

						</div>

						<div class="row phoneNum">
							<div class="col-md-3 no-padding">
								<div class="form-group">
									<label for="phoneNum" class="input-label">Vaše kontaktné telefónne číslo
										<span class="required">*</span></label>
									<input id="phoneNum" class="input telefonne_cislo" type="text" name="phoneNum" maxlength="10" placeholder="09"
												 required
												 data-parsley-type="integer"
												 data-parsley-trigger="focusout"
												 data-parsley-type-message="Telefónne číslo musí obsahovať len čísla"
												 data-parsley-minlength="9"
												 data-parsley-maxlength="10"
									/>
								</div>
							</div>
						</div>

						<div class="form-group checkb">
							<input class="termscheck"
										 id="termscheck"
										 type="checkbox"
										 name="termscheck"
										 required
										 data-parsley-required-message="Pred odoslaním musíte súhlasiť s podmienkami"
										 data-parsley-errors-container="#checkbox-error"
							>
							<label for="termscheck">Odoslaním formulára súhlasím s&nbsp;<a href="#"
																																						 onclick="event.preventDefault(); $('.termstext-box').toggle('fast')">Podmienkami</a></label>

							<div id="checkbox-error">

							</div>

							<div class="termstext-box">
								<b>VŠEOBECNÉ USTANOVENIA</b>
								<br>
								<ul class="termstext">
									<li>
										Účastníkom sa pre účely tohto cenového výmeru (ďalej „CV“) rozumie spoločné označenie účastníka, využívajúceho služby pevnej siete: služba Internetového prístupu, služba Magenta Office Internet, Biznis NET, Magio Televízia (Magio Televízia na pevnej sieti, Magio Televízia cez satelitnú anténu, Magio Televízia cez internet) alebo hlasovej služby Doma Happy alebo Biznis Linka alebo služby mobilnej siete: programy T Paušál, T Biznis paušál, ÁNO, ÁNO Biznis, programy Happy, Bez záväzkov alebo Mobilný internet (uvedené služby ďalej spolu len „Služba“) a ktorý počas účinnosti tohto CV podá návrh na uzavretie Zmluvy o poskytovaní služby Deezer a táto služba je mu počas účinnosti tohto CV aktivovaná.
									</li>
								</ul>
								<b>PODMIENKY AKCIE</b>
								<br>
								<ul class="termstext">
									<li>
										Účastník má nárok na využívanie služby Deezer Premium bez poplatku počas 60 dní odo dňa jej aktivácie (ďalej len „Benefit“), ak počas platnosti tohto CV a počas trvania zmluvy o poskytovaní niektorej zo Služieb uzavrie Zmluvu o poskytovaní služby Deezer v programe Premium
									</li>
									<li>
										Podnik po overení žiadosti Účastníka o uzavretie Zmluvy o poskytovaní služby Deezer v programe Premium a splnenia podmienky trvania zmluvy o poskytovaní niektorej zo Služieb, potvrdí Účastníkovi akceptáciu jeho žiadosti o uzavretie Zmluvy o poskytovaní služby Deezer v programe Premium s Benefitom a oznámi mu ID jeho služby Deezer; ak účastník využíva viacero služieb mobilnej siete alebo služieb pevnej siete uvedených vyššie, Podnik mu spolu s potvrdením akceptácie oznámi aj ID Služby, ku ktorej sa poskytnutie Benefitu vzťahuje. K jednej službe mobilnej siete vymedzenej vyššie alebo službe fixnej siete a v prípade služieb fixnej siete zaradených do jedného balíka služieb k jednému balíku služieb fixnej siete je možné využiť Benefit len jedenkrát.
									</li>
									<li>
										Spôsob uzavretia Zmluvy o poskytovaní služby Deezer v programe Premium s využitím Benefitu závisí od Služieb využívaných Účastníkom. Podnik informuje o možnostiach uzavretia Zmluvy o poskytovaní služby Deezer v programe Premium s využitím Benefitu spôsobom zodpovedajúcim Službám využívaným Účastníkom ako aj na svojej internetovej stránke.
									</li>
									<li>
										Po uplynutí obdobia Benefitu bude služba Deezer Premium Účastníkovi automaticky deaktivovaná a dôjde k zániku Zmluvy o poskytovaní služby Deezer v programe Premium, ak nepožiada o jej deaktiváciu skôr.
									</li>
									<li>
										Ak Účastník zašle počas využívania Benefitu SMS na číslo 0903333188 v tvare DEEZER NECHAJ XXXXX [namiesto XXXXX sa doplní ID DEEZER služby], Účastníkovi bude uplynutím obdobia Benefitu poskytovaná služba Deezer Premium aj po uplynutí obdobia Benefitu za cenu 4,99 € s DPH (4,16€ bez DPH).
										V prípade, že Účastník využíva služby pevnej siete, ID DEEZER služby je v tvare e-mailovej adresy, ktorú účastník uviedol pri aktivácii služby Deezer. V prípade, že Účastník využíva služby mobilnej siete, ID DEEZER služby je mobilné telefónne číslo Účastníka. „ID DEEZER služby“ je uvedené aj na faktúre za telekomunikačné služby v časti služba Deezer.
									</li>
									<li>
										Uzavretím Zmluvy o poskytovaní služby Deezer v programe Premium spôsobom podľa tohto cenového výmeru Účastník súhlasí s Podmienkami poskytovania služby Deezer spoločnosti Slovak Telekom, a.s. Podmienky poskytovania služby Deezer spoločnosti Slovak Telekom, a.s. sa uplatňujú na poskytovanie služby Deezer Premium aktivovanej podľa tohto cenového výmeru; v prípade rozporu medzi ustanoveniami Podmienok poskytovania služby Deezer spoločnosti Slovak Telekom, a.s. a podmienok tohto cenového výmeru, podmienky tohto cenového výmeru majú prednosť.
									</li>
								</ul>
								<b>Záverečné ustanovenia</b>
								<br>
								Podnik si vyhradzuje právo ukončiť poskytovanie akciovej ponuky podľa tohto CV aj pred skončením účinnosti tohto CV. O ukončení poskytovania akciovej ponuky podľa tohto CV bude záujemca informovaný na Predajnom mieste (Telekom Centrum), na Zákazníckej linke Telekom alebo na Internetovej stránke Podniku
								<a href="https://www.telekom.sk">www.telekom.sk</a>.
								<br><br>
								Platnosť akcie nadobúda účinnosť dňa 29. októbra 2020 a jeho účinnosť končí dňa 31. decembra 2020 (vrátane).
								</p>
							</div>
						</div>

						<div class="form-group gdpr">
							Všetky informácie týkajúce sa ochrany osobných údajov nájdete na stránke
							<a href="https://www.telekom.sk/osobne-udaje" target="_blank">www.telekom.sk/osobne-udaje</a>.
						</div>

						<div class="form-group required-desc">
							Polia označené * sú povinné
						</div>

						<button href="#" id="send" type="submit" class="btn cta sendfrm tlacidlo_odoslat">Odoslať</button>
					</form>

					<form id="code-form" style="display: none">
						<div class="form-group username">
							<label for="smsCode" class="input-label">Zadajte overovací kód, ktorý sme vám odoslali na váš mobilný telefón</label>
							<input id="smsCode" class="input" type="text" name="smsCode"
										 required
										 data-parsley-trigger="focusout"
										 data-parsley-type="integer"
										 data-parsley-length="[4,4]"
										 data-parsley-type-message="Overovací kód musí obsahovať len čísla"
										 data-parsley-length-message="Overovací kód musí mať 4 znaky"
							/>
						</div>

						<div id="otp-error" style="display: none"></div>
						<div id="otp-info" style="display: none">Čakajte prosím na overenie</div>

						<button href="#" type="submit" id="send-code" class="btn cta sendfrm">Odoslať</button>
					</form>

				</div>

				<div class="activation-box">
					<div class="container-fixed">
						<a href="#" onclick="event.preventDefault(); $('.activation-desc').toggle('fast')">Ako si zaregistrovať službu</a>
						<div class="activation-desc" style="display: none">
							<p> Na aktivovanie služby Deezer je potrebné zaregistrovať sa na hudobnom portáli:</p>
							<ol class="list-number">
								<li> Kliknite na
									<a href="https://www.deezer.com/sync/telekomsk" target="_blank">https://www.deezer.com/sync/telekomsk</a>.
								</li>
								<li> Zvoľte si
									<strong>"Užívateľ cez mobil"</strong> ak je služba Deezer aktivovaná k mobilnému paušálu, alebo
									<strong>"Internetový užívateľ"</strong>, ak je Deezer aktivovaný k fixným produktom alebo Mobilnému internetu.
								</li>
								<li> Zadajte <strong>mobilné telefónne číslo</strong>, ku ktorému je služba Deezer aktivovaná, alebo
									<strong>e-mailovú adresu</strong>, ktorú ste zadali pri objednaní služby Deezer.<br> (Ak sa registrujete prostredníctvom e-mailovej adresy Deezer Vám následne pošle e-mail s aktivačným kódom, tento kód je treba zadať do príslušného políčka).
								</li>
								<li> Ak už <strong>máte konto na Deezeri</strong> prihláste sa do portálu. Ak
									<strong>nemáte konto na Deezeri</strong>, musíte sa zaregistrovať: zvoľte si meno, prihlasovaciu e-mailovú adresu a heslo. Všetky údaje sa dajú neskôr zmeniť.
								</li>
							</ol>
							<p> Týmto ste sa zaregistrovali do služby Deezer a môžete ju začať používať.</p>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-12 textwrapper">
				<div id="activated" style="display: none">
					<h3 class="activated-info">Služba Vám bude aktivovaná do 24 hodín. Počkajte, prosím, na SMS, ktorou Vás budeme informovať o zriadení služby. V SMS obdržíte údaje potrebné na registráciu Deezer.</h3>
				</div>
			</div>

		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<!--<script src="../assets/js/parsley.js"></script>-->
<script src="../assets/js/parsley_sk.js"></script>

<!-- popup -->
<div id="fa_popup" class="christmasPopup" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn">
				<!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<div class="desc-1">
				<img src="../assets/img/wiki_faktury_form-hbogo-deezer_600x800.jpg">
			</div>

			<div class="close">
				<a href="#" class="link text-close">Zavrieť okno</a>
			</div>
		</div>
	</div>
</div>

<!-- popup -->
<div id="fa_detail_popup" class="christmasPopup" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn">
				<!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<div class="desc-1">
				<img src="../assets/img/wiki_faktury_form-hbogo-deezer_600x800px.jpg">
			</div>

			<div class="close">
				<a href="#" class="link text-close">Zavrieť okno</a>
			</div>
		</div>
	</div>
</div>

<!-- popup -->
<div id="app_popup" class="christmasPopup" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn">
				<!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<div class="desc-1">
				<img src="../assets/img/wiki_faktury_apka_form-hbogo-deezer.jpg">
			</div>

			<div class="close">
				<a href="#" class="link text-close">Zavrieť okno</a>
			</div>
		</div>
	</div>
</div>
