<section id="sec-1" class="section sec-1">

	<div class="container-fixed">
		<div class="content clearfix" style="padding-bottom: 50px;">
			<div class="col-md-12 textwrapper header" style="padding-top: 30px;">
				<h1>HBO GO na 30 dní zadarmo</h1>
				Užite si kino v pohodlí domova. Vychutnajte si kasové trháky a najhorúcejšie seriály nielen v TV, ale aj na počítači alebo v mobile. HBO GO ponúka každý týždeň nové filmy, seriály, premiéry - rôzne žánre pre každého. Aplikácia HBO GO sa dá stiahnuť aj do smart televízorov, herných konzol, alebo do Apple TV. Sledovať HBO GO môžete aj na počítači, notebooku či cez Chromecast.
				<br>
				<br>
				<b>Získajte aplikáciu HBO GO, teraz na prvých 30 dní bezplatne!</b>
				<br>
				<span class="italic">Ponuka platí pre všetkých našich zákazníkov Magio TV, Magio internetu, Magenta Office Internet, Biznis NET, Pevnej linky a všetkých mobilných paušálov.</span>
				<br>
				<br>
				Pred uplynutím bezplatnej verzie Vás budeme kontaktovať s možnosťou jednoduchej deaktivácie. Nemusíte sa obávať žiadnych ďalších poplatkov.
			</div>

			<div class="col-md-12 textwrapper howto-box">
				<strong>Ako na to:</strong>
				<br>
				1) Objednajte si službu HBO GO na 30 dní zadarmo.
				<br>
				2) Po prijatí sms si zaregistrujte službu HBO GO.
			</div>

			<div class="col-md-12 textwrapper">
				<div class="contact-form-wrapper">
					<h1>Objednávka služby HBO GO na 30 dní zadarmo</h1>

					<form id="contact-form">
						<input type="hidden" id="customer-type" name="customer-type" value="b2c">
						<input type="hidden" id="action_id" name="action_id" value="hbo">

						<div id="customer-error">
						</div>

						<p class="notice">Vyplňte, prosím, nasledovné údaje.</p>

						<div class="form-group username">
							<label for="userName" class="input-label">Meno a priezvisko <span class="required">*</span></label>
							<input id="userName" class="input" type="text" maxlength="100" name="userName"
										 required
										 data-parsley-minlength="5"
										 data-parsley-maxlength="100"
										 data-parsley-trigger="focusout"
							/>
						</div>

						<div class="form-group customer">
							<input class="customer-type"
										 id="customer-checkbox"
										 type="checkbox"
										 name="customer-checkbox">

							<label for="customer-checkbox">Som biznis zákazník</label>
						</div>

						<div class="row b2b">
							<div class="col-md-3 no-padding">
								<div class="form-group" id="ico" style="display: none">
									<label for="b2b-ico" class="input-label">IČO<span class="required">*</span></label>
									<input id="b2b-ico" class="input" type="text" maxlength="12" name="b2b-ico"
												 required
												 data-parsley-minlength="6"
												 data-parsley-maxlength="12"
												 data-parsley-type="integer"
												 data-parsley-trigger="focusout"
									/>
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-group" id="pid" style="display: none">
									<label for="b2b-pid" class="input-label">PID<span class="required">*</span>
										<a class="ttp" href="#" id="pid-desc" data-hasqtip="1" aria-describedby="qtip-3"><img alt="" src="https://www.telekom.sk/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
									</label>
									<input id="b2b-pid" class="input" type="text" maxlength="12" name="b2b-pid"
												 required
												 data-parsley-minlength="4"
												 data-parsley-maxlength="9"
												 data-parsley-type="integer"
												 data-parsley-trigger="focusout"
									/>
								</div>
							</div>
						</div>


						<div class="row">
							<div class="col-md-3 no-padding">
								<div class="form-group userCode">
									<label for="userCode" class="input-label">Čislo adresáta <span class="required">*</span>
										<a class="ttp" href="#" id="max-price" data-hasqtip="1" aria-describedby="qtip-1"><img alt="" src="https://www.telekom.sk/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
										<a href="#fa_popup" class="link fa_popup">Príklad</a>
									</label>
									<input id="userCode" class="input" type="text" name="userCode"
												 required
												 data-parsley-trigger="focusout"
												 data-parsley-type="integer"
												 data-parsley-length="[10,10]"
												 data-parsley-type-message="Kód adresáta musí obsahovať len čísla"
												 data-parsley-length-message="Kód adresáta musí mať 10 znakov"
									/>

								</div>
							</div>
						</div>


						<div class="row serviceCode">
							<div class="col-md-3 no-padding">
								<label for="service-type" class="input-label">
									Vyberte typ služby <span class="required">*</span>
									<a class="ttp" href="#" id="service-desc" data-hasqtip="2" aria-describedby="qtip-2"><img alt="" src="https://www.telekom.sk/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
								</label>
								<select id="service-type" name="service-type">
									<option value="mobile" selected>Mobilné číslo</option>
									<option value="magio-tv">Magio Televízia</option>
									<option value="magio-internet">Magio Internet</option>
									<option value="fixed-line">Pevná linka</option>
									<option value="mobile-internet">Mobilný internet</option>
									<option value="fwa-internet">Magio Internet vzduchom</option>
									<option value="office-internet">Magenta Office Internet</option>
									<option value="biznis-net">Biznis NET</option>
								</select>
							</div>

							<div class="col-md-3">
								<label for="serviceCode" class="input-label">ID služby <span class="required">*</span></label>
								<input id="serviceCode" class="input" type="text" name="serviceCode"
											 data-parsley-trigger="focusout"
											 data-parsley-type="alphanum"
											 data-parsley-min-length="6"
											 data-parsley-max-length="20"
											 data-parsley-length-message="ID služby musí mať aspoň 6 znakov"
								/>

								<div>
									<a href="#" onclick="event.preventDefault(); $('.servicecode-desc').toggle('fast')">Kde nájdem ID služby?</a>
								</div>

								<div id="servicecode-error">

								</div>

							</div>
						</div>

						<div class="row servicecode-desc" style="display: none;">
							<div class="service-desc-main">
								ID služby <a href="#fa_detail_popup" class="link fa_popup">nájdete na druhej strane svojej faktúry</a> v riadku s názvom služby a v
								<a href="#app_popup" class="link app_popup">Telekom appke na obrazovke Prehľad,</a> ak v nej máte služby pripojené.
							</div>

							<div class="service-items" id="service-mobile">
								<div class="service-item">Zadajte mobilné telefónne číslo, napríklad <b>0903903903</b></div>
							</div>
							<div class="service-items" id="service-magio-tv">
								<div class="service-item">Zadajte identifikátor Magio Televízie, napríklad <b>1XCLY5YP</b></div>
							</div>
							<div class="service-items" id="service-magio-internet">
								<div class="service-item">Zadajte identifikátor Magio internetu, napríklad <b>jotcvpkj23</b></div>
							</div>
							<div class="service-items" id="service-biznis-net">
								<div class="service-item">Zadajte identifikátor Biznis net, napríklad <b>jotcvpkj23</b></div>
							</div>
							<div class="service-items" id="service-office-internet">
								<div class="service-item">Zadajte identifikátor Office internetu, napríklad <b>jotcvpkj23</b></div>
							</div>
							<div class="service-items" id="service-fixed-line">
								<div class="service-item">Zadajte číslo vašej pevnej linky (bez lomítka), napríklad <b>02123456789</b>
								</div>
							</div>
							<div class="service-items" id="service-mobile-internet">
								<div class="service-item">Zadajte číslo mobilného internetu, napríklad <b>0903903903</b></div>
							</div>

						</div>

						<div class="row">
							<div class="col-md-3 no-padding">
								<div class="form-group phoneNum">
									<label for="phoneNum" class="input-label">Vaše kontaktné telefónne číslo
										<span class="required">*</span></label>
									<input id="phoneNum" class="input telefonne_cislo" type="text" name="phoneNum" maxlength="10" placeholder="09"
												 required
												 data-parsley-type="integer"
												 data-parsley-trigger="focusout"
												 data-parsley-type-message="Telefónne číslo musí obsahovať len čísla"
												 data-parsley-minlength="9"
												 data-parsley-maxlength="10"
									/>
								</div>
							</div>
						</div>

						<div class="form-group checkb">
							<input class="termscheck"
										 id="termscheck"
										 type="checkbox"
										 name="termscheck"
										 required
										 data-parsley-required-message="Pred odoslaním musíte súhlasiť s podmienkami"
										 data-parsley-errors-container="#checkbox-error"
							>
							<label for="termscheck">Odoslaním formulára súhlasím s&nbsp;<a href="#"
																																						 onclick="event.preventDefault(); $('.termstext-box').toggle('fast')">Podmienkami</a></label>

							<div id="checkbox-error">

							</div>

							<div class="termstext-box">
								<b>VŠEOBECNÉ USTANOVENIA</b>
								<br>
								<ul class="termstext">
									<li>
										Účastníkom sa pre účely tohto cenového výmeru (ďalej „CV“) rozumie spoločné označenie účastníka, využívajúceho služby pevnej siete: služba Internetového prístupu, služba Magenta Office Internet, Biznis NET, Magio Televízia (Magio Televízia na pevnej sieti, Magio Televízia cez satelitnú anténu, Magio Televízia cez internet) alebo hlasovej služby Doma Happy alebo Biznis Linka alebo služby mobilnej siete: programy T Paušál, T Biznis, ÁNO, ÁNO Biznis, programy Happy, Bez záväzkov alebo Mobilný internet a ktorý počas účinnosti tohto CV podá návrh na uzavretie Zmluvy o poskytovaní samostatnej služby HBO GO a táto služba je mu počas účinnosti tohto CV aktivovaná.
									</li>
								</ul>
								<b>PODMIENKY AKCIE</b>
								<br>
								<ul class="termstext">
									<li>
										Účastník má nárok na využívanie samostatnej služby HBO GO bez poplatku počas 30 dní odo dňa jej aktivácie (ďalej len „Benefit“).
									</li>
									<li>
										Uzavretie Zmluvy o poskytovaní samostatnej služby HBO GO s uplatneným Benefitom Účastník vykoná počas účinnosti tohto CV, a to: a) zaslaním bezplatnej SMS na číslo 0903333188 s textom HBO GO ZAP s uvedením ID služby alebo b) prostredníctvom internetovej stránky https://www.telekom.sk/vianoce/hbo-go-zadarmo, pričom možný spôsob uzavretia Zmluvy o poskytovaní samostatnej služby HBO GO s aktivovaným Benefitom závisí od technických možností Podniku a Podnik informuje Účastníka o tom, ktorý zo spôsobov aktivácie je možné využiť.
									</li>
									<li>
										Po uplynutí obdobia poskytovania Benefitu bude samostatná služba HBO GO Účastníkovi poskytovaná za cenu 6,00 € s DPH (5,00 € bez DPH), resp. podľa podmienok aktuálneho Cenníka Televízie.
									</li>
									<li>
										Službu HBO GO podľa tejto časti môže Účastník kedykoľvek bezplatne zrušiť zaslaním SMS na číslo 0903333188 v tvare HBO GO VYP TV ID HBO GO. TV ID HBO GO je registračný kód, ktorý Účastník obdrží pri aktivácii služby a s jeho pomocou vykoná registráciu na www.hbogo.sk.
									</li>
									<li>
										Účastník je oprávnený využiť Benefit pre každú aktívnu službu resp. každý balík služieb v zmysle tejto časti jedenkrát.
									</li>
								</ul>
								<b>Záverečné ustanovenia</b>
								<br>
								Podnik si vyhradzuje právo ukončiť poskytovanie akciovej ponuky podľa tohto CV aj pred skončením účinnosti tohto CV. O ukončení poskytovania akciovej ponuky podľa tohto CV bude záujemca informovaný na Predajnom mieste (Telekom Centrum), na Zákazníckej linke Telekom alebo na Internetovej stránke Podniku
								<a href="https://www.telekom.sk">www.telekom.sk</a>.
								<br><br>
								Platnosť akcie nadobúda účinnosť dňa 29. októbra 2020 a jeho účinnosť končí dňa 31. decembra 2020 (vrátane).
							</div>

							<div class="form-group gdpr">
								Všetky informácie týkajúce sa ochrany osobných údajov nájdete na stránke
								<a href="https://www.telekom.sk/osobne-udaje" target="_blank">www.telekom.sk/osobne-udaje</a>.
							</div>

							<div class="form-group required-desc">
								Polia označené * sú povinné
							</div>

							<button href="#" id="send" type="submit" class="btn cta sendfrm tlacidlo_odoslat">Odoslať</button>
						</div>

					</form>

					<form id="code-form" style="display: none">
						<div class="form-group username">
							<label for="smsCode" class="input-label">Zadajte overovací kód, ktorý sme vám odoslali na váš mobilný telefón</label>
							<input id="smsCode" class="input" type="text" name="smsCode"
										 required
										 data-parsley-trigger="focusout"
										 data-parsley-type="integer"
										 data-parsley-length="[4,4]"
										 data-parsley-type-message="Overovací kód musí obsahovať len čísla"
										 data-parsley-length-message="Overovací kód musí mať 4 znaky"
							/>
						</div>

						<div id="otp-error" style="display: none"></div>
						<div id="otp-info" style="display: none">Čakajte prosím na overenie</div>

						<button href="#" type="submit" id="send-code" class="btn cta sendfrm">Odoslať</button>
					</form>

				</div>
			</div>

			<div class="col-md-12 textwrapper">
				<div id="activated" style="display: none">
					<h3 class="activated-info">Služba Vám bude aktivovaná do 24 hodín. Počkajte, prosím, na SMS, ktorou Vás budeme informovať o zriadení služby. V SMS obdržíte údaje potrebné na registráciu HBO GO.</h3>
				</div>
			</div>

		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<!--<script src="../assets/js/parsley.js"></script>-->
<script src="../assets/js/parsley_sk.js"></script>

<!-- popup -->
<div id="fa_popup" class="christmasPopup" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn">
				<!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<div class="desc-1">
				<img src="../assets/img/wiki_faktury_form-hbogo-deezer_600x800.jpg">
			</div>

			<div class="close">
				<a href="#" class="link text-close">Zavrieť okno</a>
			</div>
		</div>
	</div>
</div>

<!-- popup -->
<div id="fa_detail_popup" class="christmasPopup" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn">
				<!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<div class="desc-1">
				<img src="../assets/img/wiki_faktury_form-hbogo-deezer_600x800px.jpg">
			</div>

			<div class="close">
				<a href="#" class="link text-close">Zavrieť okno</a>
			</div>
		</div>
	</div>
</div>

<!-- popup -->
<div id="app_popup" class="christmasPopup" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn">
				<!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<div class="desc-1">
				<img src="../assets/img/wiki_faktury_apka_form-hbogo-deezer.jpg">
			</div>

			<div class="close">
				<a href="#" class="link text-close">Zavrieť okno</a>
			</div>
		</div>
	</div>
</div>