/* HAPPY BOX */

#happy-list {
    & .new-ribbon {
        position: absolute;
        width: 172px;
        color: $white;
        background: #235482;
        text-align: center;
        top: -11px;
        transform: translateX(-50%);
        left: 50%;
    }
    & .h-box {
        float: left;
        outline: none !important;
    }
    & .h-box {
        transition: all .2s ease-in-out;
        position: relative;
        text-align: center;
        display: flex;
        flex-flow: column;
    }
    & .h-detail p.box__title {
        color: $magenta;
        font-size: 21px;
        font-weight: 500;
        text-transform: uppercase;
    }
    & .h-box:hover {
        transform: scale(1.01);
        -webkit-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
        box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
    }
    & .h-box,
    .box {
        border: 1px solid #dcdcdc;
        padding: 20px 30px 20px 30px;
        background-color: #fff;
    }
    & .h-box_new {
        border: 1px solid #235482;
    }
    & .h-detail {
        flex-grow: 1;
    }
    & .h-detail p {
        font-size: 15px;
        margin: 0;
    }
    & .h-detail .link {
        display: inline-block;
    }
    & .h-detail p b,
    & .h-price-label {
        color: $mine-shaft-dark;
        font-weight: 500;
    }
    & .h-price {
        font-size: 20px;
        color: $magenta;
    }
    & .h-actions {
        width: 100%;
    }
    & .h-actions .cta {
        margin: 8px 0;
    }
    & .as2 .h-actions .cta {
        margin: 0;
    }
    & .h-actions .link {
        text-decoration: none;
    }
    & .h-actions .btn {
        padding: 8px 0;
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    .h-box .box {
        margin: 0 auto;
    }
    #content .slick-prev {
        left: 0;
    }
    #content .slick-next {
        right: 0;
    }
}

/* Hapy program list */
.happy-list__holder {
    margin-top: 20px;
}

 /* Filter */
    .checkbox-label-desc{
        font-size: 14px;
    }

.happy-list__item {
    & .happy-list_box {
        border-top: 1px solid #235482;
        border-bottom: 1px solid #235482;
        border-left: 1px solid #235482;
        min-height: 100px;
        text-align: center;
    }
    & .happy-list_box:last-child {
        border-right: 1px solid #235482;
    }

    & .happy-list__item-price {
        
        padding: 0;
        & div {
            width: 100%;
            text-align: center;
        }
        & .happy-list__item-price-wphone {
            color: #fff;
            background-color: $orient;
            font-size: 14px;
        }
    }
   
}