/* ===============
   CSS FOR MICROSITE
   =============== */


/* ===============
  Custom + Global
   =============== */

@media screen and (max-width: 960px) {
    #content .container-fixed {
        width: 98%;
        padding: 0 1%;
    }
    #content .responsive-image {
        max-width: 90%;
        max-height: 85%;
    }
}

.section {
    padding: 30px 0 40px 0;
    margin-bottom: 10px;
    overflow: hidden;
}

.roaming-info {
    text-decoration: underline;
    cursor: pointer;
}

#content {
    & .text-disc {
        color: #a4a4a4;
        font-size: 0.8em;
    }
    & .color_grey {
        color: #4b4b4b;
    }
    & .font_grey {
        color: #262626;
    }
    & a.modal_link {
        text-decoration: underline;
        color: #4b4b4b;
        font-size: 16px;
    }
    & .data-notice {
        text-align: left;
        margin-top: 10px;
        padding-left: 4px;
        font-size: 0.8em;
    }
    & .border-t {
        border-top: 1px solid #d0d0d0;
    }
    & .crossed {
        display: inline-block;
        text-decoration: line-through;
    }
    & .mgt-10 {
        margin-top: 10px;
    }
    & .no-pad {
        padding-right: 0;
        padding-left: 0;
    }
    & .info-link {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }
    & .mb-10 {
        margin-bottom: 10px;
    }
}


/* ===============
  Hero
   =============== */

#hero {
    overflow: hidden;
    min-height: 255px;
    padding: 60px 2%;
    background: url(../img/kv.jpg) no-repeat 56% 50%;
    background-size: cover;
    & .hero__content {
        text-align: center;
        max-width: 460px;
    }
    & .hero__title {
        font-size: 34px;
        margin-top: 0;
        padding-bottom: 0;
        text-transform: uppercase;
        color: #000;
        border: 0;
    }
    &.link {
        font-size: 18px;
        font-weight: 500;
        text-decoration: underline;
    }
    & .hero__link {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }
}

#hero .hero__title {
    color: #fff;
}

@media screen and (max-width: 960px) {
    #hero {
        width: 100%;
        padding: 40px 2%;
    }
}

@media screen and (max-width: 768px) {
    #hero .hero__title {
        font-size: 30px;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
        & .btn {
            margin-top: 60px;
        }
        & .container-fixed {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 60% 0%;
        height: 195px;
    }
    .hero__content {
        padding: 40px 4%;
    }
    #content .hero__title,
    #content .hero__desc {
        color: #262626;
    }
}


/* ===============
  Section
   =============== */

#content .sec__title {
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
}


/* ===============
  Moduly
   =============== */

#cmb__block {
    box-sizing: border-box;
    padding: 20px 10px;
    margin-top: 35px;
    text-align: center;
    background: #cfe0ef;
    & .cmb__title {
        font-size: 20px;
        color: #343434;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 7px;
        display: inline-block;
    }
    & .cmb__btn {
        margin-top: 10px;
    }
}

#content .sec_border {
    padding: 20px 0 20px 0;
    border-top: 1px solid #d0d0d0;
}


/* ===============
  Sec-1 Vyhody
   =============== */

#content .feature {
    /*text-align: center;*/
    & .feat_title {
        color: #000;
        font-size: 16px;
        font-weight: bold;
    }
    & .feat_img {
        min-height: 72px;
    }
}

@media screen and (max-width: 768px) {
    #content .feature {
        padding-bottom: 30px;
    }
}


/* ===============
  Sec-2 Oblubene
   =============== */

#sec-2 {}


/* ===============
  Sec-3 Zakladne
   =============== */

#sec-3 {
    background-color: #ededed;
}


/* ===============
  Sec-4 Pre Narocnych
   =============== */

#sec-4 {
    & .sms {
        min-height: 128px;
    }
}

@media screen and (max-width: 900px) {
    #sec-4 {
        & .program_volania {
            min-height: 363px;
        }
    }
}


/* ===============
  Sec-5 Extra výhody
   =============== */


/* ===============
  Sec-6 Bez viazanosti
   =============== */

#content .ec-holder {
    position: relative;
    & img {
        position: absolute;
        right: -65px;
        top: -70px;
    }
}

#sec-6 {
    background-color: #ededed;
}

@media (min-width: 768px) {
    .offset-md-1-5 {
        margin-left: 11.33333%;
    }
}

@media (max-width: 560px) {
    #content .responsive-image-ec img {
        width: 30%;
        height: auto;
    }
    #content .ec-holder img {
        right: -34px;
        top: -70px;
    }
}

.tab-box {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.tab-box__cover-tab1 {
    background: url('../img/bez.jpg') no-repeat 20% 50%;
    background-size: cover;
    max-width: 216px;
    width: 39%;
    float: left;
    text-align: center;
    padding: 60px 10px 30px 10px;
}

.tab-box__cover-tab2 {
    background: url('../img/bez100.jpg') no-repeat 20% 50%;
    background-size: cover;
    max-width: 216px;
    width: 39%;
    float: left;
    text-align: center;
    padding: 60px 10px 30px 10px;
}

.tab-box__content {
    border-top: 1px solid $alto-mid;
    border-right: 1px solid $alto-mid;
    border-bottom: 1px solid $alto-mid;
    max-width: 344px;
    background-color: #fff;
    width: 62%;
    float: right;
    padding: 30px 30px 20px 30px;
}

#content .pbc__title {
    font-size: 32px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 32px;
}

#content .pbc__sub-title {
    color: $white;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 32px;
    line-height: 32px;
}

.tab_holder-right {
    padding: 12px 12px 25px 36px;
}

.tab-font-big {
    font-size: 26px;
}

.tab_title {
    padding-top: 42px;
}

.tab-content p {
    margin-top: 0;
}

@media screen and (max-width: 490px) {
    .tab-box {
        display: block;
        border-bottom: 1px solid $alto-mid;
        padding-bottom: 60px;
        margin-bottom: 15px;
        float: left;
    }
    .tab-box__cover-tab1,
    .tab-box__cover-tab2,
    {
        max-width: none;
        width: 100%;
        min-height: 190px;
    }
    .tab-box__content {
        border-top: 0;
        border-right: 1px solid $alto-mid;
        border-left: 1px solid $alto-mid;
        border-bottom: 1px solid $alto-mid;
        max-width: none;
        width: 100%;
        padding: 20px 10px 20px 10px;
    }
}


/* ===============
  Sec-7 Aktualne akcie
   =============== */

#sec-7 {}

.novinka {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
}


/* ===============
 Module: Aktualne akcie
   =============== */

#mod-akcie {
    &.box__holder {
        max-width: 780px;
        width: 100%;
        margin: 0 auto;
        left: 0;
        right: 0;
        float: inherit;
        display: block;
    }
    & .box__clearer {
        width: 100%;
        height: 1px;
        display: block;
        float: left;
    }
    & .border-box {
        border: 1px solid #d0d0d0;
        padding: 30px 20px;
        background: #fff;
        display: inline-block;
    }
    & .box-02 {
        @extend .border-box;
        padding: 0 0 0 20px;
        & img {
            width: 100%;
            display: flex;
        }
        & .box-02_inner {
            margin: 35px 0;
        }
        & .box-02_img {
            padding-right: 0;
        }
    }
    & .img__holder {}
    & .text__holder {}
    & .box-4 {
        margin-right: 20px;
        border-right: 1px solid #b2b2b2;
        min-height: 145px;
        & .text__holder {
            width: 100%;
            float: none;
            padding-right: 20px;
        }
    }
    & .box-5 {
        margin-right: 20px;
        border-right: 1px solid #b2b2b2;
        min-height: 145px;
        & .text__holder {
            width: 100%;
            float: none;
            padding-right: 20px;
        }
        & .box__link_dark {
            margin-top: 10px;
            display: inline-block;
        }
    }
    & .box-6 {
        min-height: 145px;
        & .text__holder {
            width: 100%;
            float: none;
        }
    }
    & h4 {
        font-size: 16px;
        color: #262626;
        font-weight: bold;
    }
    & .main-box-title {
        font-size: 36px;
        color: #262626;
        margin-top: 0;
        font-weight: normal;
        text-transform: uppercase;
    }
    & .box-title {
        font-size: 32px;
        color: #262626;
        font-weight: normal;
        margin-top: 16px;
    }
    & .data-big {
        color: $magenta;
        font-size: 24px;
    }
    & .disclaimer-akcie {
        margin-top: 20px;
    }
}

#content .box-01 {
    width: 100%;
    background: url('../img/box-data.jpg') no-repeat 50% 50%;
    background-size: cover !important;
    padding: 45px 20px;
}

#content .main-box-title,
#content .main-box-desc {
    color: #fff;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 760px) {
    #mod-akcie {
        & .box-02 {
            background: inherit;
            background-color: #fff;
        }
        & .box-4 {
            margin-right: inherit;
        }
        & .box-5 {
            margin-right: 0;
            border-right: none;
        }
        & .box-4,
        .box-5,
        .box-6 {
            margin-top: 20px;
            padding: 19px;
            border: 1px solid #d0d0d0;
            background: #fff;
            min-height: 100%;
        }
    }
}

@media screen and (max-width: 730px) {
    #mod-akcie .box-02 img {
        display: block;
        margin: 0 auto 20px auto !important;
    }
    #mod-akcie .box-02 {
        padding: 0 20px;
    }
}

@media screen and (max-width: 700px) {
    #mod-akcie .box-4 {
        & .left-holder {
            display: none;
        }
        & .right-holder {
            width: 100%;
        }
    }
    #content .box-01 {
        background: url('../img/box-data.jpg') no-repeat 0% 50%;
    }
}

@media screen and (max-width: 500px) {
    #mod-akcie {
        & .main-box-title {
            font-size: 29px;
        }
        & .box-4 {
            width: 100%;
        }
        & .box-5 {
            width: 100%;
            padding-left: 19px;
        }
    }
}

@media screen and (max-width: 420px) {
    #mod-akcie .box-3 {
        background: transparent;
        min-height: auto;
        & .text__holder {
            width: 100%;
        }
    }
}


/* ===============
  Sec-8 Doplnkové služby
   =============== */

#content .feature {
    & .feature-order {
        text-decoration: underline;
    }
}

#sec-8 .sec_border {
    padding: 20px 0 20px 0;
    border-top: 1px solid #d0d0d0;
}

#sec-8 {
    & .title__holder h3 {
        color: #4b4b4b;
        &.font_magenta {
            color: $magenta;
        }
    }
    & .activ__text {
        font-size: 16px;
        font-weight: bold;
    }
    & .immmr {
        position: relative;
        & .c-tile-order {
            text-decoration: none;
            margin-top: 8px;
        }
        & .c-tile-order span {
            font-weight: bold;
        }
        & .c-tile-order a {
            text-decoration: underline;
            color: #007faf;
        }
    }
}

.ec-beta {
    position: absolute;
    top: -17px;
    right: 0;
}


/* ===============
  Sec-9 Dátové doplnkové balíky
   =============== */

#sec-9 {}


/* ===============
    Sec-10 Mohlo by vás zaujímať
    =============== */


/* ===============
  Sec-11 Legal
   =============== */

.legal__holder {
    text-align: left;
    padding-bottom: 30px;
}

.legal__holder:first-child {
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;
}

#happy-legal {
    display: none;
    padding-top: 10px;
}

.happy-legal {
    display: inline-block;
    font-size: 0.9em;
}

.happy-legal-content {
    display: none;
    padding-bottom: 10px;
}

.happy-legal-cennik {
    padding-top: 20px;
    font-size: 16px;
}

.note-legal-bold {
    font-weight: bold;
}


/* ===============
  LightBox
   =============== */

.lightbox-area {
    display: none;
}

.happy-lightbox {
    font-size: 1.3em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #e20074;
}

h2.lightbox-title {
    font-size: 20px;
    color: #e20074;
    margin-bottom: 10px;
}

p.lightbox-desc {
    font-size: 18px;
    margin-bottom: 20px;
}

.tr-head {
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    color: #000;
    font-size: 20px;
}

.waterbear-theme th {
    padding: 5px 0;
}

.waterbear-theme td {
    padding: 0 10px 0 0;
    font-size: 16px;
}

a.lightbox-btn {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #65ac20;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
}

a.lightbox-btn:hover {
    color: #fff;
    background-color: #58951c;
    border: 1px solid #4d8319;
}


/* ===============
    Tooltips
   =============== */

.tooltip .qtip-content {
    font-size: 16px;
    line-height: 19px;
}

.tooltip-info {
    text-decoration: underline;
    cursor: pointer;
}

.tag-left {
    text-align: left;
}


/* datovy slider */

#content .taby2-content {
    display: none;
    padding: 15px;
}

#content .taby2-content.active {
    display: block;
}

#content .btn {
    text-align: center;
}
