<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.jpg" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.jpg" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.jpg" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.jpg" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.jpg" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.jpg" />

							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<img class="ec-gallery" src="../assets/img/icon7.png" />
					<p class="bpis__title">
						Bezdrôtové slúchadlá s mikrofónom </br> + bezdrôtová myš</p>
					<div class="box-device">
						<p class="pricing__title">
							K Magio internetu <span class="feeType">M, L a XL</span>: <span class="info-magio"><img src="../assets/img/icon5.png" /></span></p>
						<table class="pricing-table">
							<tbody>
								<tr class="margin">
									<td>
										Mesačne</td>
									<td>
										<span class="feePrice">0,00 €</span></td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">1,00 €</span></td>
								</tr>
							</tbody>
						</table>
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ K NÁKUPU</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Genius HS-935BT Bluetooth headset White</p>
								<p class="feat-desc">
									Vychutnajte si širokú škálu hudby s bezdrôtovými dobíjacími slúchadlami s bluetooth rozhraním, vďaka ktorému majú dosah až 30 metrov. Slúchadlá sú navrhnuté tak, aby použitý materiál znižoval skreslenie hudby, vďaka čomu si ešte viac vychutnáte čistotu zvukov.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Zabudovaný Bluetooth 4.1</p>
								<p class="feat-desc">
									Bluetooth v slúchadlách umožňuje veľmi jednoduché a rýchle spárovanie s mobilom, tabletom, notebookom a ďalšími prístrojmi vybavenými vhodným bluetooth rozhraním, takže môžete nielen streamovať svoju obľúbenú hudbu, ale aj prijať prichádzajúce hovory.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Praktické slúchadlá so silnou výdržou</p>
								<p class="feat-desc">
									Skladacie slúchadlá s elegantnou nastaviteľnou čelenkou sú vďaka širokému pásu cez hlavu a silnému polstrovaniu ideálne na dlhé počúvanie hudby. Vďaka výkonnej batérii – 450 mAh si hudbu vychutnáte až 15 hodín a viac bez prerušenia.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Genius NX-7000 White</p>
								<p class="feat-desc">
									Praktická bezdrôtová menšia myš Genius NX-7000 je tým správnym doplnkom k vášmu počítaču či notebooku. Vďaka symetrickému tvaru padne do každej ruky a poskytuje tak pohodlie aj pri celodennom používaní a to bez obťažujúceho Myška má zabudovaný BlueEye senzor s rozlíšením 1200 dpi, ktorý umožňuje presné snímanie a použitie na akomkoľvek povrchu. Snímač je 100 %, aj keď myš používate na zaprášenom stole, skle, pohovke či dokonca koberci.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.jpg" /></div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Bezdrôtové slúchadlá Genius HS-935BT Bluetooth</th>
								</tr>
								<tr>
									<td>
										Produktový názov:</td>
									<td>
										slúchadlá s mikrofónom</td>
								</tr>
								<tr>
									<td>
										Značka:</td>
									<td>
										Genius</td>
								</tr>
								<tr>
									<td>
										Farba:</td>
									<td>
										biela s čiernou</td>
								</tr>
								<tr>
									<td>
										Ovládanie hlasitosti:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Citlivosť:</td>
									<td>
										82 dB</td>
								</tr>
								<tr>
									<td>
										Frekvenčný rozsah:</td>
									<td>
										160 Hz – 20 kHz</td>
								</tr>
								<tr>
									<td>
										Mikrofón:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Bluetooth:</td>
									<td>
										áno (4.1)</td>
								</tr>
								<tr>
									<td>
										Dosah:</td>
									<td>
										až 30 metrov</td>
								</tr>
								<tr>
									<td>
										Výdrž batérie:</td>
									<td>
										15 hodín a viac</td>
								</tr>
								<tr>
									<td>
										Konektor:</td>
									<td>
										3,5 mm jack</td>
								</tr>
								<tr>
									<th colspan="2" style="padding-top: 15px;">
										Bezdrôtová myš Genius NX-7000</th>
								</tr>
								<tr>
									<td>
										Produktový názov:</td>
									<td>
										Bezdrôtová myš Genius</td>
								</tr>
								<tr>
									<td>
										Typ snímania:</td>
									<td>
										optické</td>
								</tr>
								<tr>
									<td>
										Prenos signálu:</td>
									<td>
										bezdrôtové</td>
								</tr>
								<tr>
									<td>
										Tlačidlá:</td>
									<td>
										3 x</td>
								</tr>
								<tr>
									<td>
										Vhodné k notebooku:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Vhodné pre ľavákov:</td>
									<td>
										áno</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p>
								<strong>Informácie o stave objednávky</strong></br>
								O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p>
									<strong>Prvých 14 dní bez záväzkov</strong></br>
									Pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p>
									<strong>Nákup z pohodila domova</strong></br>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/detail.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
