<div style="min-height: 100px;" class="page-title title-center disabled-bg">
    <div class="wf-wrap">
        <div class="wf-container-title">
            <div style="height: 100px;" class="wf-table">
                <div class="wf-td hgroup">
                    <h1 class="h2-size" ng-show="searchText.length">Search Results for: <span>{{searchText}}</span></h1>
                    <h1 class="h2-size" ng-show="!searchText.length"><span>No search text was entered</span></h1>
                    </div>
                <div class="wf-td">
                    <div class="assistive-text">You are here:</div>
                    <ol xmlns:v="http://rdf.data-vocabulary.org/#" class="breadcrumbs text-normal">
                        <li typeof="v:Breadcrumb"><a title="" href="#/" property="v:title" rel="v:url">Home</a></li>
                        <li class="current">Results for: {{searchText}}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
