<!-- meta -->
<meta name="apple-itunes-app" content="app-id=582997807">
<meta name="google-play-app" content="app-id=com.telekom.portal">
<link rel="apple-touch-icon" href="/documents/10179/4077543/icon-ios.png" />
<link rel="android-touch-icon" href="/documents/10179/4077543/icon-android.png" />
<!-- CSS -->
<style>
@import url(/documents/10179/4077543/smartbanner.css?v=2);
</style>
<!-- JS -->
<script type="text/javascript" src="/documents/10179/4077543/jquery.smartbanner.js"></script>
<script type="text/javascript">
$(function() {
    $.smartbanner({
        appStoreLanguage: 'sk',
        title: 'Telekom',
        author: 'Slovak Telekom, a.s.',
        button: 'ZOBRAZIŤ',
        daysHidden: 0,
        daysReminder: 0,
        price: 'ZADARMO',
        inAppStore: 'v App Store',
        inGooglePlay: 'v Google Play'
    });
});
</script>
