<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/zazraky/vianoce">Zázračné akcie</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" /></div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> --><!-- OVERLAY VYPREDANE  --><!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
						<div class="box-device">
							<p class="pricing__title magenta-text">
								Zázračná akcia</p>
							<h1 class="bpis__title">
								Mobil Huawei P20 Lite + tablet Huawei MediaPad T3 10</h1>
							<p class="bpis__desc">
								Výhodný Huawei balík s mobilom so širokouhlým Full HD+ displejom a s tabletom v brilantnom dizajne s jednoduchým ovládaním.</p>
							<div class="box-device-prices">
								<p class="pricing__title">
									Zobraziť ceny pre:</p>
								<select id="select_program">
									<option value="s">ÁNO S</option>
									<option value="m">ÁNO M</option>
									<option value="m_data">ÁNO M Dáta</option>
									<option value="l">ÁNO L</option>
									<option value="xl">ÁNO XL</option>
									<option value="xxl">ÁNO XXL</option>
								</select>
								<table class="pricing-table">
									<tbody>
										<tr class="inner-head no-margin">
											<th colspan="2">
												Cena:</th>
										</tr>
										<tr class="no-margin">
											<td>
												Za paušál ÁNO <span class="program-short">S</span>:</td>
											<td>
												<span class="feePrice">20,00 €</span></td>
										</tr>
										<tr class="no-margin web-action">
											<td>
												<img src="../assets/img/ico-1.png" />Jednorázová web zľava na zariadenie</td>
											<td>
												<span class="feePrice">20,00 €</span></td>
										</tr>
										<tr class="no-margin">
											<td>
												Doplatok k službe:</td>
											<td>
												<span class="feePrice">15,00 €</span></td>
										</tr>
										<tr class="one-time-payment">
											<td>
												Jednorazovo pri kúpe:</td>
											<td>
												<span class="feePrice oneTimeFee">1,00 €</span></td>
										</tr>
									</tbody>
								</table>
								<a class="btn cta shop" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=s&zariadenie=huawei_p20_lite_huawei_mediapad_t3_10" type="button">PREJSŤ K NÁKUPU</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2 segment" data-segment="1" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Huawei P20 Lite – posunuli sme hranice dokonalosti</p>
								<p class="feat-desc">
									Nechajte sa pohltiť HUAWEI FullView displejom novej generácie bez akýchkoľvek kompromisov. HUAWEI P20 lite sa pýši tenkým kom-paktným rámom, ktorému dominuje 5,84" široký Full HD displej.</p>
								<p class="feat-desc-2">
									* 5,84" FHD+ displej na mobile HUAWEI P20 lite je meraný pozdĺž uhlopriečky od najvzdialenejšieho konca oboch krajov. Oblasť zobrazenia je nepatrne menšia.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Telo &amp; Duša</p>
								<p class="feat-desc">
									HUAWEI P20 lite posúva farby na novú úroveň. Preskúmajte do detailu farbu Klein Blue, žiarivý odtieň modrej, ktorý odráža záblesky svetla vďaka širokému vzoru v jeho textúre.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Vidieť znamená uveriť</p>
								<p class="feat-desc">
									HUAWEI P20 lite charakterizuje 2280 x 1080 FHD+ displej so širokým 96 % NTSC farebným rozsahom. To znamená, že všetko, čo vidíte na obrazovke je bohaté, živé a tak detailné, ako len môže byť.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Huawei MediaPad T3 10 – elegantný dizajn, jasný obraz</p>
								<p class="feat-desc">
									Dotknite sa brilantného dizajnu pomocou tabletu HUAWEI MediaPad T3 10. Na displeji s veľkosťou 9,6” si môžete prezrieť svet v tých najživších farbách. Zažite kvalitu jednoliatého tela z eloxovaného hliníku.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Prirodzene výkonný s priateľským dizajnom</p>
								<p class="feat-desc">
									S operačným systémom EMUI 5.1 sa budete cítiť ako so starým pria-teľom. Prostredie tabletu je starostlivo navrhnuté pre intuitívne, jed-noduché ovládanie. Operačný systém z rodiny Androidu 7.0 vám výrazne uľahčí život.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.png" /></div>
					</div>
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> --></div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th class="first-param" colspan="2">
										Mobil Huawei P20 Lite 64 GB</th>
								</tr>
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Android™ 8.0</td>
								</tr>
								<tr>
									<td>
										Procesor:</td>
									<td>
										HUAWEI Kirin 659<br />
										4 x Cortex-A53 2,36 GHz + 4 x Cortex-A53 1,7 GHz</td>
								</tr>
								<tr>
									<td>
										Displej:</td>
									<td>
										TFT LCD (IPS)<br />
										FHD+ 2280 x 1080 px</td>
								</tr>
								<tr>
									<td>
										Pamäť:</td>
									<td>
										4 GB + 64 GB* (microSD karta 256 GB)</td>
								</tr>
								<tr>
									<td>
										Sieť:</td>
									<td>
										4G / 3G / 2G<br />
										Primárna SIM karta: 4G (LTE FDD) 3G (WCDMA) 2G (GSM)</td>
								</tr>
								<tr>
									<td>
										GPS:</td>
									<td>
										GPS / AGPS / GLONASS</td>
								</tr>
								<tr>
									<td>
										Pripojenie:</td>
									<td>
										Wi-Fi: 802.11b/g/n/a/ac 2.4 GHz a 5 GHz USB-C, USB 2.0<br />
										BT4.2, BLE, s podporou aptX</td>
								</tr>
								<tr>
									<td>
										Snímače:</td>
									<td>
										Hallov snímač<br />
										Snímač odtlačkov prstov<br />
										Snímač prblíženia<br />
										Snímač okolitého osvetlenia<br />
										Digitálny kompas<br />
										Snímač gravitácie<br />
										Gyroskop</td>
								</tr>
								<tr>
									<td>
										Fotoaparát:</td>
									<td>
										Predný fotoaparát: 16 M F/2.0<br />
										Zadný fotoaparát: 16 M + 2 M F/2.2</td>
								</tr>
								<tr>
									<td>
										Audio:</td>
									<td>
										*.mp3, *.mp4, *.3gp, *.ogg, *.amr, *.aac, *.flac, *.midi</td>
								</tr>
								<tr>
									<td>
										Video:</td>
									<td>
										*.3gp, *.mp4</td>
								</tr>
								<tr>
									<td>
										Emotion UI:</td>
									<td>
										EMUI 8.0</td>
								</tr>
								<tr>
									<td>
										Batéria:</td>
									<td>
										3000 mAh** (typická hodnota)</td>
								</tr>
								<tr>
									<td>
										NFC:</td>
									<td>
										Podporované</td>
								</tr>
								<tr>
									<td>
										Obsah balenia:</td>
									<td>
										1 x telefón<br />
										1 x vstavaná batéria<br />
										1 x slúchadlá<br />
										1 x nabíjačka<br />
										USB-C kábel<br />
										Nástroj pre vloženie SIM karty<br />
										Stručná príručka</td>
								</tr>
								<tr>
									<td>
										Rozmery (Š x V x H):</td>
									<td>
										71,2 x 148,6 x 7,4 mm</td>
								</tr>
								<tr>
									<td>
										Hmotnosť (približne):</td>
									<td>
										145 g (vrátane batérie)</td>
								</tr>
								<tr>
									<td>
										Farba:</td>
									<td>
										Modrá</td>
								</tr>
								<tr>
									<td class="table-desc" colspan="2">
										* Vzhľadom k obmedzeným nárokom na výkon procesora, pamäte používanej operačným sys-témom a predinštalovanými aplikaciami, môže byť skutočný priestor dostupný užívateľom menší než uvedená kapacita pamäte. Aktuálny pamäťový priestor sa môže zmeniť v dôsledku aktualizácií aplikácií, operácií užívateľa a ďalších súvisejúcich faktorov.<br />
										<br />
										** Typická hodnota. Skutočná kapacita sa môže mierne líšiť. Táto kapacita je nominálna kapacita batérie. Skutočná kapacita batérie pre každý telefón môže byť mierne nad alebo pod no-minálnou kapacitou batérie.</td>
								</tr>
								<tr>
									<th class="first-param" colspan="2">
										Tablet Huawei MediaPad T3 10</th>
								</tr>
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Android™ N (nugát)</td>
								</tr>
								<tr>
									<td>
										Procesor:</td>
									<td>
										Qualcomm MSM8917, štvorjadrový A53</td>
								</tr>
								<tr>
									<td>
										Displej:</td>
									<td>
										Veľkosť: 9,6“<br />
										Typ: IPS displej<br />
										Rozlíšenie: 1280 x 800 (HD)<br />
										Hustota pixelov 157 PPI, kontrast: 800:1</td>
								</tr>
								<tr>
									<td>
										Pamäť:</td>
									<td>
										2 GB</td>
								</tr>
								<tr>
									<td>
										Sieť:</td>
									<td>
										Wi-Fi / WAPI: 802.11a/b/g/n@2,4 GHz &amp; 5 GHz</td>
								</tr>
								<tr>
									<td>
										GPS:</td>
									<td>
										Podporuje GPS, A-GPS, GLONASS a BDS.<br />
										Poznámka: AGS-W09 nepodporuje A-GPS.</td>
								</tr>
								<tr>
									<td>
										Pripojenie:</td>
									<td>
										AGS-L09:<br />
										LTE-FDD: B1, B3, B5, (B19), B7, B8, B20<br />
										LTE-TDD: B38, B39, B40, B41 (2 555 - 2 655 MHz)<br />
										UMTS: B1, B2, B5 (B6 / 19), B8<br />
										TD-SCDMA: B34, B39<br />
										GSM: B2, B3, B5, B8<br />
										Wi-Fi / WAPI: 802.11a/b/g/n@2,4 GHz &amp; 5 GHz<br />
										AGS-L03:<br />
										LTE-FDD: B2 (B25), B3, B4, B26 / 5, B7, B8, B12 / B17, B28<br />
										LTE-TDD: B38, B41 (2 555-2 655 MHz)<br />
										UMTS: B1, B2, B4, B5, B8<br />
										GSM: B2, B3, B5, B8<br />
										Wi-Fi / WAPI: 802.11a/b/g/n@2,4 GHz &amp; 5 GHz</td>
								</tr>
								<tr>
									<td>
										Snímače:</td>
									<td>
										Gravitačné činidlo</td>
								</tr>
								<tr>
									<td>
										Fotoaparát:</td>
									<td>
										Predný fotoaparát: 2 MP s fixným zaostrením<br />
										Zadný fotoaparát: 5 MP s autofokusom</td>
								</tr>
								<tr>
									<td>
										Audio:</td>
									<td>
										mp3, * .mid, * .amr, * .3gp, * .aac, * .wav, * .ogg, * .flac a * .m4a</td>
								</tr>
								<tr>
									<td>
										Video:</td>
									<td>
										* .3gp, * .mp4, * .webm, * .mkv, .ts, .3g2, .mov, .avi, .flv, .m4v a .divx</td>
								</tr>
								<tr>
									<td>
										Emotion UI:</td>
									<td>
										EMUI 5.1</td>
								</tr>
								<tr>
									<td>
										Batéria:</td>
									<td>
										4800 mAh*</td>
								</tr>
								<tr>
									<td>
										Obsah balenia:</td>
									<td>
										1 x nabíjačka<br />
										1 x kábel<br />
										1 x ihla na vysunutie SIM karty<br />
										Stručný návod<br />
										Záručný list</td>
								</tr>
								<tr>
									<td class="table-desc" colspan="2">
										* Zvyčajná hodnota. Skutečná kapacita sa môže mierne líšiť. Ide o zvyčajnú kapacitu batérie. Skutočná kapacita jednotlivých výrobkov môže byť mierne vyššia alebo nižšia než daná kapacita.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="../assets/img/icon-1.png" /></div>
								<p>
									Objednávku vám doručíme kuriérom čo najskôr od jej spracovania.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="../assets/img/icon-2.png" /></div>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="../assets/img/icon-3.png" /></div>
								<p>
									Ak zistíte, že vám tovar alebo služba nevyhovuje, môžete ich vrátiť do 14 dní bez udania dôvodu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1">
				&nbsp;</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-3 segment">
	<div class="container-fixed">
		<p class="other-action-title">
			Ďalšie zázračné akcie</p>
		<div class="row">
			<div class="col-md-4 other-action">
				<img src="../assets/img/tv-samsung.jpg" />
				<div class="action-name">
					4K televízor Samsung</div>
				<p class="magenta-text">
					už od 13 € mesačne</p>
				<p>
					<b>k paušálom ÁNO</b></p>
				<a class="btn shop-tv" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=l&zariadenie=samsung_ue49nu7172uxxh">VIAC INFO</a>
			</div>			
			<div class="col-md-4 other-action">
				<img src="../assets/img/sony.jpg" />
				<div class="action-name">
					Sony Playstation 4, dva ovládače, tri hry a&nbsp;členská karta</div>
				<p class="magenta-text">
					už od 4 € mesačne</p>
				<p>
					<b>k paušálom ÁNO</b></p>
				<a class="btn shop-sony" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=s&zariadenie=playstation_4_3hry_2ovladac">VIAC INFO</a></div>
			<div class="col-md-4 other-action">
				<img src="../assets/img/roomba.jpg" />
				<div class="action-name">
					Robotický vysávač iRobot Roomba 965</div>
				<p class="magenta-text">
					už od 7 € mesačne</p>
				<p>
					<b>k paušálom ÁNO</b></p>
				<a class="btn shop-roomba" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=s&zariadenie=irobot_roomba_965">VIAC INFO</a></div>
		</div>
	</div>
</section>
<script type="text/javascript" src="../assets/js/main.js?v=5"></script><script type="text/javascript" src="../assets/js/detail.js"></script>