<div id="account-page-1" class="magio-go container-fluid">

	<div class="header">

		<div class="container-fixed">
			<div class="row">
				<div class="col-md-12 back" id="account-back-1">
					<img src="../assets/img/icon-back.png"/>
					<div class="back-text">Späť</div>
				</div>
			</div>
		</div>

		<section class="section default" data-segment="2" id="magio-go-navigation">
			<div class="container-fixed">
				<div class="row">
					<div class="tabs-container">
						<div class="tab__holder">
							<div class="tab-separator"></div>

							<!-- TABS MENU -->
							<ul class="tabs-menu">

								<li class="variant current" data-variant="1">
									<a href="#tab-1">
										<img class="step-ico" src="../assets/img/top-icon-user-active.png"/>
										<img class="step-ico-active" src="../assets/img/top-icon-user-active.png"/>
									</a>
									<div class="tab-menu" href="#tab-1">Účet</div>
								</li>

								<li class="variant" data-variant="2">
									<a href="#tab-2">
										<img class="step-ico" src="../assets/img/top-icon-check.png"/>
										<img class="step-ico-active" src="../assets/img/top-icon-check-active.png"/>
									</a>
									<div class="tab-menu" href="#tab-2">Overenie</div>
								</li>

								<li class="variant" data-variant="3">
									<a href="#tab-3">
										<img class="step-ico" src="../assets/img/top-icon-next.png"/>
										<img class="step-ico-active" src="../assets/img/top-icon-next-active.png"/>
									</a>
									<div class="tab-menu" href="#tab-3">Aktivácia</div>
								</li>

							</ul>

						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

	<section class="content">
		<div class="container-fixed">

			<div class="row no-gutters box-title justify-content-center">
				<div class="col-xs-10 col-sm-6">
					<h2 class="sec__title">
						Vytvorenie účtu
					</h2>

					<div class="magioLine">&nbsp;</div>

				</div>
			</div>

			<div class="row no-gutters justify-content-center">
				<div class="col-xs-12 col-sm-6">

					<div class="form-controls">
						<input id="customer-name" name="name" class="input col-xs-12" type="text" placeholder="Meno"/>
					</div>

					<div class="form-controls">
						<input id="customer-surname" name="surname" class="input col-xs-12" type="text" placeholder="Priezvisko"/>
					</div>

					<div class="form-controls">
						<input id="customer-email" name="email" class="input col-xs-12" type="text" placeholder="E-mail"/>
					</div>

					<div class="form-controls">
						<input id="customer-msisdn" required="required" maxlength="12" size="12" name="msisdn" class="msisdn input col-xs-12" type="text" placeholder="Telefónne číslo" onkeypress="return checkPhone(event)"/>

						<div id="msisdn-error" class="errormsg">Zadajte prosím vaše telefónne číslo</div>
						<div class="msisdn-desc">Na toto telefónne číslo vám pošleme SMS správu s overovacím kódom.</div>
					</div>
				</div>

				<div class="row no-gutters justify-content-center">
					<div class="col-xs-12 col-sm-6">
						<div class=" row marketing-checkbox">
								<div class="col-xs-1">
									<input id="marketing-checkbox" type="checkbox">
								</div>
								<div class="col-xs-11 suhlas">
									Súhlasím so spracovaním mojich osobných údajov na účely marketingu
								</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row justify-content-center">
				<div class="btn-order-box">
					<a href="#" id="msisdn-send" class="btn btn-big cta_mag">Pokračovať na overenie čísla</a>
				</div>
			</div>

		</div>

	</section>

</div>