<div id="main-page" class="magio-go">

	<section class="section sec-1" id="sec-1">

		<div class="container-fixed">

			<div class="row">
				<div class="col-md-12 text-center">

					<h2 class="sec__title">
						Začnite sledovať televízne programy rýchlo a
						<br>
						pohodlne priamo vo vašej Smart TV alebo mobilnej aplikácii.
					</h2>

					<div class="btn-order">
						<a href="#" class="btn btn-big cta_mag">Vybrať si Magio GO</a>
					</div>

					<div class="btn-voucher">
						<a href="#" id="voucherButton" class="btn btn-big btn_outline">Uplatniť poukaz</a>
					</div>

					<div class="question">
						Chcete Magio GO len vyskúšať?
					</div>

					<div class="trial">
						<a href="#" id="trialButton">Vyskúšať zadarmo na 7 dní</a>
					</div>

					<div class="faq">
						<a href="#" id="go-faq-page">Často kladené otázky</a>
					</div>

				</div>

			</div>
		</div>

	</section>

</div>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<!--<script type="text/javascript" src="../assets/js/tab.js"></script>-->
