<div id="sms-page-sms" class="magio-go container-fluid">

	<section class="content container-fixed">

		<div class="row no-gutters">
			<div class="col-xs-12">
				<img style="" class="float-right icon-close back-sms-final" src="../assets/img/icone-close.png"/>
			</div>
		</div>

		<div class="row justify-content-center">
			<h2 class="sec__title magioInfoNameHeader">
				Platba cez SMS
			</h2>
		</div>

		<div class="row justify-content-center">
			<div class="magioInfoLine">&nbsp;</div>
		</div>

		<div class="row no-gutters justify-content-center">
			<div class="col-xs-12 col-sm-6">
				<div class="terms">
					Prečítal som si zmluvné podmienky a osobitné podmienky poskytovania služby Magio GO a súhlasím s nimi.
				</div>
			</div>
		</div>

		<div class="row no-gutters justify-content-center" id="agree-box">
			<div class="col-xs-12 col-sm-6">
				<div class=" row marketing-checkbox">
					<div class="col-xs-1 agree-left">
						<input type="checkbox" id="agree">
					</div>
					<div class="col-xs-11">
						<div class="termsLink agree-right">
							Súhlasím s
							<a href="https://backvm.telekom.sk/static/microsites/magio-go-registracia/dev/assets/pdf/magio_GO-obchodne_podmienky_2019_10.pdf" target="_blank">Obchodnými podmienkami</a> a
							<a href="https://backvm.telekom.sk/static/microsites/magio-go-registracia/dev/assets/pdf/OP Magio GO_Final_25022021.pdf" target="_blank">Osobitnými podmienkami poskytovania služby Magio GO</a>
						</div>
					</div>
				</div>

				<div class="row" id="agree-error">
					<div class="errormsg">Musíte súhlasiť s obchodnými podmienkami</div>
				</div>

			</div>
		</div>

		<div class="row no-gutters justify-content-center">
			<div class="btn-order-box">
				<a id="fullsms" href="#" class="btn btn-big cta_mag">Súhlasím</a>
			</div>
		</div>

		<div class="row no-gutters justify-content-center">
			<div class="btn-voucher">
				<a href="#" class="btn btn-big btn_outline back-sms-final">Zavrieť</a>
			</div>
		</div>

	</section>

</div>