<div id="trial-page-error" class="magio-go container-fluid">

	<div class="container-fixed">
		<div class="no-gutters justify-content-center">
			<div class="col-md-12">
				<img class="float-right trial-page-error-back icon-close" src="../assets/img/icone-close.png"/>
			</div>
		</div>
	</div>

	<section class="content">
		<div class="container-fixed">

			<div class="row no-gutters box-title justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-10">

					<h2 class="sec__title">
						Overenie mobilného čísla
					</h2>

					<div class="magioLine">&nbsp;</div>

				</div>
			</div>

			<div class="row no-gutters box-desc justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-10">

					<div class="btn-order-box">
						<div class="error-box btn">
							Na tomto čísle bola bezplatná skúšobná verzia Magio GO už aktivovaná.
						</div>
					</div>

				</div>
			</div>

			<div class="row no-gutters box-desc justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-10">

					<div class="success-header">
						Pokračujte v televíznej zábave s Magio GO. Vyberte si z balíkov v našej ponuke.
					</div>

				</div>
			</div>

			<div class="row no-gutters justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-10">
					<div class="btn-order-box">
						<a href="#" class="trial-page-error-back btn btn-big cta_mag">Vybrať si balík Magio GO</a>
					</div>
				</div>
			</div>

		</div>

	</section>

</div>