<div id="voucher-page-1" class="magio-go container-fluid">

	<div class="header-small">

		<div class="container-fixed">
			<div class="row">
				<div class="col-md-12 back" id="voucher-back-1">
					<img src="../assets/img/icon-back.png"/>
					<div class="back-text">Späť</div>
				</div>
			</div>
		</div>

	</div>

	<section class="content">
		<div class="container-fixed">

			<div class="row no-gutters box-title justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-12">
					<h2 class="sec__title">
						Uplatnenie poukazu
					</h2>

					<div class="magioLine">&nbsp;</div>

				</div>
			</div>

			<div class="row no-gutters justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-12">
					<div class="voucher-desc">
						S poukazom získate skúšobnú verziu Magio GO bezplatne.
					</div>
				</div>
			</div>

			<div class="row no-gutters justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-12">
					<div class="main-desc">
						Ak chcete uplatniť poukaz, vytvorte si účet a pripravte si kód poukazu.
					</div>
				</div>
			</div>

			<div class="row no-gutters justify-content-center">
				<div class="col-md-6 col-sm-8 col-xs-12">
					<div class="btn-order-box">
						<a href="#" id="goto-voucher-2" class="btn btn-big cta_mag">Pokračovať</a>
					</div>
				</div>
			</div>

		</div>
	</section>

</div>