<section id="hero">
	<div class="container-fixed">
		&nbsp;</div>
	<div class="row text_centered">
		<div id="hero-content">
			<h1 id="hero-title">
				ZÍSKAJTE VYŠŠIU SLUŽBU ZA CENU NIŽŠEJ</h1>
			<div>
				<span id="hero-subtitle">S MAGIO INTERNETOM, TV A PEVNOU LINKOU</span></div>
		</div>
	</div>
</section>

<section class="section" id="sec-0">
	<div class="container-fixed">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12" id="over-first">
				<div class="row">
					<p id="key-message">
						Získajte na prvé tri mesiace Magio internet, televíziu či Pevnú linku L alebo XL za cenu nižších služieb. Služby L získate za cenu M a služby XL za cenu L. Môžete si vziať jednu, dve alebo všetky tri služby podľa seba.</p>
				</div>
				<div class="row" id="exam-header">
					<div class="col-xs-12 col-sm-12 col-md-6 left">
						<span>Príklad ako ušetriť</span></div>
					<div class="col-xs-12 col-sm-12 col-md-6 right">
						<span class="sw-ex-text" id="ver-text">Vypnúť príklad, koľko ušetrím</span>
						<div class="sw-ex" id="ver-box">
							<input checked="checked" class="js-switch js-check-change" id="box" type="checkbox" /></div>
					</div>
				</div>
				<div class="row center" id="desktop-screen">
					<img class="js-check-change-field obr-exem" src="../assets/img/priklad-1.png" /> <img class="js-check-change-field-none obr-exem" src="../assets/img/priklad-2.png" /></div>
				<div class="row center" id="tab-screen">
					<img class="js-check-change-field obr-exem" src="../assets/img/priklad-tab-1.png" /> <img class="js-check-change-field-none obr-exem" src="../assets/img/priklad-tab-2.png" /></div>
				<div class="row center" id="mobile-screen">
					<img class="js-check-change-field obr-exem" src="../assets/img/priklad-mobil-1.png" /> <img class="js-check-change-field-none obr-exem" src="../assets/img/priklad-mobil-2.png" /></div>
				<div id="eecat">
					<img class="eecat-net js-check-change-field" src="../assets/img/eecat-net-xl.png" /> <img class="eecat-net js-check-change-field-none" src="../assets/img/eecat-net.png" /> <img class="eecat-tv js-check-change-field" src="../assets/img/eecat-tv-xl.png" /> <img class="eecat-tv js-check-change-field-none" src="../assets/img/eecat-tv.png" /> <img class="eecat-equal js-check-change-field" src="../assets/img/eecat-equal.png" /></div>
				<div class="row center">
					<div class="call-action">
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Vyskladať služby</a></div>
				</div>
				<div class="row">
					<div class="dph">
						Uvedené ceny sú vrátane DPH</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fixed">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12" id="over-second">
				<div class="col-xs-12 col-sm-12 col-md-6 center">
					<img src="../assets/img/nb-tab-bg.png" /> <img class="eecat-net" src="../assets/img/eecat-zlava.png" /></div>
				<div class="col-xs-12 col-sm-12 col-md-6 ">
					<div class="phonespecs">
						<h3 class="specs">
							Magio internet na doma<br />
							s rýchlosťou až do 300/30 Mb/s<br />
							v superrýchlej optickej sieti</h3>
						<p class="specdescription">
							Surfujte koľko len chete s neobmedzeným Magio internetom na doma. Užívajte si spoľahlivý internet bez výpadkov na viacerých zariadeniach súčasne. <span class="magenta">Magio internet L alebo XL získate teraz za cenu nižšej služby na tri mesiace.</span> Ak si navyše vezmete aj televíziu a/alebo Pevnú linku, získate ešte nižšiu cenu.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section" id="sec-1">
	<div class="container-fixed">
		<div class="row">

			<div class="col-xs-12 col-sm-12 col-md-6 ">
				<div class="phonespecs">
					<h3 class="specs">
						S Magio televíziou získate až 121 TV staníc vrátane športových Digi Sport a exkluzívnej detskej Ťuki TV HD.</h3>
					<p class="specdescription">
						Magio televíziu môžete sledovať až na štyroch televízoroch a zadarmo aj na počítači, tablete či v mobile. Program môžete pozastaviť, pretočiť alebo sledovať zo sedem dňového Magio archívu. <span class="magenta">Magio televíziu L alebo XL získate teraz za cenu nižšej služby na tri mesiace.</span> Ak si navyše vezmete aj Magio internet a/alebo Pevnú linku, získate ešte nižšiu cenu.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 center">
				<img src="../assets/img/tv.png" /> <img class="eecat-tv" src="../assets/img/eecat-zlava.png" /></div>
		</div>
	</div>
</section>
<section class="section" id="sec-2">
	<div class="container-fixed">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<h3>
					Ako si kúpite vyššie služby za cenu nižších</h3>
			</div>
		</div>
	</div>
</section>

<section class="section default" data-segment="2" id="sec-3" style="background-color: white;">
	<div class="container-fixed">
		<div class="row">
			<div class="tabs-container">
				<div class="tab__holder">
					<div class="tab-separator"></div>
					<!-- TABS MENU -->
					<ul class="tabs-menu">
						<li class="variant current" data-variant="1">
							<a href="#tab-1"><img class="step-ico" src="../assets/img/ico-1.png" /> <img class="step-ico-active" src="../assets/img/ico-1-h.png" /> </a>
							<a class="tab-menu" href="#tab-1">PRVÝ&nbsp;KROK</a>
							<a href="#tab-1"><b>Prejdite do Chytrého balíka</b></a>
							<div class="trian"></div>
						</li>
						<li class="variant" data-variant="2">
							<a href="#tab-2"><img class="step-ico" src="../assets/img/ico-2.png" /> <img class="step-ico-active" src="../assets/img/ico-1-h.png" /> </a>
							<a class="tab-menu" href="#tab-2">DRUHY&nbsp;KROK</a>
							<a href="#tab-2"><b>Vyskladajte si služby</b></a>
							<div class="trian"></div>
						</li>
						<li class="variant" data-variant="3">
							<a href="#tab-3"><img class="step-ico" src="../assets/img/ico-3.png" /> <img class="step-ico-active" src="../assets/img/ico-3-h.png" /> </a>
							<a class="tab-menu" href="#tab-3">TRETÍ&nbsp;KROK</a>
							<a href="#tab-3"><b>Aktivujte si akciu</b></a>
							<div class="trian"></div>
						</li>
					</ul>
				</div>
				<div class="tab">
					<!-- Tab 1 -->
					<div class="tab-content clearfix" id="tab-1">
						<div class="tab-box">
							<div class="tab-box__content">
								<div class="col-xs-12 text-center">
									Je to jednoduché. Prejdite na stránku Chytrého balíka kliknutím na “VYSKLADAŤ SLUŽBY”.<br />
									Na stránke Chytrého balíka si zvoľte služby podľa svojich predstáv.</div>
							</div>
						</div>
					</div>
					<!-- Tab 2 -->
					<div class="tab-content clearfix" id="tab-2">
						<div class="tab-box">
							<div class="tab-box__content">
								<div class="col-xs-12 text-center">
									Vyberte si kombináciu služieb do Chytrého balíka podľa vašich predstáv</div>
							</div>
						</div>
					</div>
					<!-- Tab 3 -->
					<div class="tab-content clearfix" id="tab-3">
						<div class="tab-box">
							<div class="tab-box__content">
								<div class="col-xs-12 text-center">
									Po výbere služieb si v časti "Výhodné ponuky k Chytrému balíku" zvoľte ponuku "Vyššia služba na 3 mesiace za cenu nižšej." Pokračujte kliknutím na tlačidlo "Ďalej" a dokončite vašu objednávku. Pri vybavení vašej objednávky sa akcia automaticky aktivuje.</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<div class="call-action-2">
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Vyskladať služby</a></div>
				</div>
			</div>
		</div>
</section>

<section id="sec-4">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12">
				<div class="separator">
					&nbsp;</div>
			</div>
		</div>
		<div class="row end-section">
			<strong>Užitočné informácie</strong>
			<div class="col-xs-12 col-sm-6 col-md-6 faq-info-left">
				<div class="togleArrow ">
					<a class="toggle-arrow" href="#">Pre koľko služieb platí akcia?<span class="arrow-right"></span></a>
					<div class="arrow-content" style="display: block;">
						Môžete si aktivovať samostatne jednu službu, dve alebo všetky tri služby naraz vo veľkosti M alebo L. Akcia Viac za menej vám následne umožní získať služby vo vyššom variante, pričom cena ostane nezmenená. Tri mesiace si tak budete užívať výhody vyššej služby za cenu nižšej.</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 faq-info-right">
				<div class="togleArrow">
					<a class="toggle-arrow" href="#">Akcia platí aj pre existujúcich zákazníkov?<span class="arrow-right"></span></a>
					<div class="arrow-content" style="display: block;">
						Aj existujúci zákazníci, ktorí chcú predĺžiť svoj Magio internet, televíziu a/alebo Pevnú linku, môžu využiť ponuku vyšších služieb za cenu nižších. Stačí, ak si aktivujú aspoň jednu službu vo vyššom variante, ako mali doteraz.</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script><script type="text/javascript" src="../assets/js/switchery.js"></script><script type="text/javascript" src="../assets/js/tab.js"></script><script type="text/javascript">
  $(document).ready(function() {

    /* SWITCHER */
    var elem = document.querySelector('.js-switch');
    var init = new Switchery(elem, { color: '#6bb324', secondaryColor: '#ededed' });
    $('.switchery').parent().closest('span').addClass('hide-span');

    var changeCheckbox = document.querySelector('.js-check-change')
      , changeField = document.querySelectorAll('.js-check-change-field')
      , changeFieldNone = document.querySelectorAll('.js-check-change-field-none');

    changeCheckbox.onchange = function() {

      if (changeCheckbox.checked == true){
        for (i = 0; i < changeField.length; i++) {
          changeField[i].style.display='inline-block';
        }
        for (i = 0; i < changeFieldNone.length; i++) {
          changeFieldNone[i].style.display='none';
        }
      }
      else {
        for (i = 0; i < changeField.length; i++) {
          changeField[i].style.display='none';
        }
        for (i = 0; i < changeFieldNone.length; i++) {
          changeFieldNone[i].style.display='inline-block';
        }
      }
    };
    /* SWITCHER END */

  });

</script>