.header-01 a.tile-double, .header-01 .tiles.tiles-big > a.tile-double {
    background-color: transparent;
}

.pulsar {
display:none;
}

.hp-my-telekom-anchor.tile-double {
background-color:  #226a61 !important;
}


#lg-promo {
       font-size: 20px;
    color: #000;
    /* float: right; */
    transition: transform .2s;
    padding-left: 185px;
}

#lg-promo h3{
 font-size: 30px;
font-weight: 900;
}

.waterbear-theme #lg-promo a {
    color: #000000;
    text-decoration: none;
    font-weight: 900;
}

.waterbear-theme #lg-promo:hover {
    transform: scale(1.02);
}

#lg-promo::after {
    content: '\f054';
    font-family: FontAwesome;
    color: #E10073;
    font-size: 14px;
    padding-left: 3px;
}

.c-row-hp {
    max-width: 940px;
    position: relative;
    margin: 0 auto;
}

@media screen and (max-width: 960px) {
    #lg-promo {
        display: none;
    }
}

.tiles.tiles-big .hp-televizia_{
background: url("/documents/10179/536604/dlazdice_ikony_0001_magioTV.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-televizia_{
background: url("/documents/10179/536375/dlazdice_ikony_86_0001_magioTV.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-chb_{
background: url("/documents/10179/490391/CHB") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-chb_{
background: url("/documents/10179/490391/CHB+mala") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-easy_{
background: url("/documents/10179/536604/dlazdice_ikony_0006_easy.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-easy_{
background: url("/documents/10179/536375/dlazdice_ikony_86_0006_easy.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-volania_{
background: url("/documents/10179/536604/dlazdice_ikony_0003_mobilne_pausaly.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-volania_{
background: url("/documents/10179/536375/dlazdice_ikony_86_0003_mobilne_pausaly.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-mobil_{
background: url("/documents/10179/536604/dlazdice_ikony_0004_mobilne_telefony.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-mobil_{
background: url("/documents/10179/536375/dlazdice_ikony_86_0004_mobilne_telefony.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-internet_{
background: url("/documents/10179/536604/dlazdice_ikony_0002_magio_internet.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-internet_{
background: url("/documents/10179/536375/dlazdice_ikony_86_0002_magio_internet.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-magenta_{
background: url("/documents/10179/490391/Magenta") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-magenta_{
background: url("/documents/10179/490391/Magenta+mala") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-asistent_{
background: url("/documents/10179/663077/RA_156x75.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-asistent_{
background: url("/documents/10179/663077/RA_86x50.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

#toggle-chat {
   background-color: white;
}



.tiles.tiles-big .hp-rod-asist_{
background: url("/documents/10179/2503927/edit-rodinny_asistent.png/9f7737e8-b3e1-47a7-8981-d9a6cafea301?t=1468397061205") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-rod-asist_{
background: url("/documents/10179/2505693/edit-rodinny_asistent_small.png/0046b99d-c04b-456d-9f4d-a0fa87f55af8?t=1468398441289") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-big .hp-happy_{
background: url("/documents/10179/2503927/edit-happy_pausaly.png/f3248a9b-d791-460e-b1b3-9547f8ab44d9?t=1468395334274") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-happy_{
background: url("/documents/10179/2505693/edit-happy_pausaly_small.png/b026f17f-5e42-4aa1-bd66-740f9e63e6b0?t=1468398437161") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-big .hp-net_{
background: url("/documents/10179/2503927/edit-magio_internet.png/cf558fe4-b90d-4f81-829a-877013c760c4?t=1468395336812") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-net_{
background: url("/documents/10179/2505693/edit-magio_internet_small.png/6a91465a-13e1-42f7-8e36-3f5e9a140a50?t=1468398439284") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}

.tiles.tiles-big .hp-lcd_{
background: url("/documents/10179/2503927/edit-magio_televizia.png/d7c72d45-cd71-449f-853b-0be202c68bf1?t=1468395337970") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-lcd_{
background: url("/documents/10179/2505693/edit-magio_televizia_small.png/92d02aca-372d-47c0-abe3-cbba6e8d7652?t=1468398439919") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-big .hp-smartphone_{
background: url("/documents/10179/2503927/edit-mobilne_telefony.png/e580db8c-a31f-46aa-81ce-b518740c1987?t=1468395338771") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-smartphone_{
background: url("/documents/10179/2505693/edit-mobilne_telefony_small.png/4d2f0317-f163-4807-b289-6b728a76080a?t=1468398440525") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-big .hp-package_{
background: url("/documents/10179/2503927/edit-chytry_balik.png/fca92c94-2784-4b52-b86a-850fa81250ff?t=1468395335909") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .hp-package_{
background: url("/documents/10179/2505693/edit-chytry_balik_small.png/ceb57fc2-1e64-4033-9b47-7108b7be39cd?t=1468398438234") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-other .fa-graduation-cap_{
background: url("/documents/10179/2503927/edit-wiki.png/b7f0a68c-8f7b-4825-a10f-c8160f097378?t=1468399832695") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-big .fa-graduation-cap_ {
background: url("/documents/10179/2505693/edit-wiki_small.png/cd00fc8d-af08-4fc4-b2e3-6e7a7430e188?t=1468483702871") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-other .fa-comments_{
background: url("/documents/10179/2503927/edit-forum.png/66f6e35d-da2a-413b-98f3-58dc1e2ac04d?t=1468399828380") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tiles.tiles-other .fa-comments_{
background: url("/documents/10179/2505693/moj_telekom_small.png/3b290df4-8e9b-4439-955c-7deb923d4a6d?t=1468400741130") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-other .fa-moj-telekom_{
background: url("/documents/10179/2503927/edit-moj_telekom.png/cd4705fe-47ff-4558-b9b6-a2efcd495c78?t=1468399830793") no-repeat 0 0 rgba(0, 0, 0, 0);
}


@media(max-width: 600px){
.tile-double .fa-moj-telekom_{
background: url("/documents/10179/2505693/edit-moj_telekom.png/b0a95b89-0d52-48ce-a4f2-07ece429b30f?t=1468484894985") no-repeat 0 0 rgba(0, 0, 0, 0);
}
a.hp-my-telekom-anchor>.fa {
margin: -4px 0 4px 0 ! important;
}
}


@media(max-width: 600px){
.tiles.tiles-big .fa-search_{
background: url("/documents/10179/2505693/edit-search_small.png/a1ed5fc2-2128-4dcf-b6c8-9f328d9a35f8?t=1468487347480") no-repeat 0 0 rgba(0, 0, 0, 0);
}
}


.tiles.tiles-small .fa-facebook_{
background: url("/documents/10179/2503927/edit-facebook.png/d454f231-ff6e-4cfa-a691-15a563591823?t=1468399777829") no-repeat 0 0 rgba(0, 0, 0, 0);
}


.tiles.tiles-small .fa-google_{
background: url("/documents/10179/2503927/edit-google_plus.png/449dc663-68ea-4b1f-b079-e8dbcab501ad?t=1468399829398") no-repeat 0 0 rgba(0, 0, 0, 0);
}


.tiles.tiles-small .fa-linkedin_{
background: url("/documents/10179/2503927/edit-linkedin.png/6c142dbf-7bff-41af-bc25-21972bcccda8?t=1468399830138") no-repeat 0 0 rgba(0, 0, 0, 0);
}


.tiles.tiles-small .fa-twitter_{
background: url("/documents/10179/2503927/edit-twitter.png/0f608662-e26a-4ef1-bee0-d970e6cf8dec?t=1468399831634") no-repeat 0 0 rgba(0, 0, 0, 0);
}