<section id="hero">
  <div class="container-fixed">
    <div class="hero__mobile"></div>
    <div class="hero__content">
      <div class="ec-holder">
        <img src="../assets/img/ec-novinka.png" />
      </div>
      <div class="desc-holder">
        <h1 class="hero__title">
          <span class="text_bold">MAGIO GO TV BOX</span>
          <span class="text_thin"
            >PREMEŇTE SVOJ OBYČAJNÝ TELEVÍZOR NA SMART!</span
          >
        </h1>
        <a class="btn cta scroll-to" href="#servicesAndPrices">KÚPIŤ</a><br />
        <a class="text_bold moreInfo scroll-to" href="#benefits"
          >Viac o Magio GO TV Boxe</a
        >
      </div>
    </div>
    <div class="parallax">
      <!-- parallax -->
    </div>
  </div>
</section>

<section class="section" id="benefits">
  <div class="container-fixed">
    <h2 class="sec__title">
      VITAJTE VO SVETE MULTIMEDIÁLNEJ ZÁBAVY
    </h2>
    <div class="benefits row">
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-1.png" alt="" />
        </div>
        <p><b>Nový Magio GO TV Box zmení váš starší televízor na smart</b></p>
        <p>
          Nový Magio GO TV Box v balíku s online televíziou Magio GO vám umožní
          sledovať viac ako 60 TV staníc alebo využívať ostatné aplikácie ako
          YouTube, HBO GO a ďalšie aj na obyčajnom televíznom prijímači.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-2.png" alt="" />
        </div>
        <p><b>Obsah z mobilu na veľkej TV obrazovke</b></p>
        <p>
          Premietajte videá, fotografie a ďalší obsah zo svojho mobilu, tabletu
          či notebooku na veľkú TV obrazovku alebo monitor. Cez nový Magio GO TV
          Box s OS Android a podporou Google Cast je to jednoduché.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-3.png" alt="" />
        </div>
        <p><b>Kompaktné zariadenie s jednoduchou inštaláciou</b></p>
        <p>
          Nový Magio GO TV Box je malé zariadenie, ktoré pripojíte len do
          elektriky, k internetu (cez Wi-FI alebo kábel) a do svojej TV pomocou
          HDMI kábla. Odporúčame rýchlosť internetového pripojenia 5 Mbit/s.
          <br />
          <a
            href="/wiki/zariadenia/magioboxy/magio-go"
            class="link"
            target="_blank"
            >Rýchly sprievodca inštaláciou</a
          >
        </p>
      </div>
    </div>
    <div class="benefits row">
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-4.png" alt="" />
        </div>
        <p><b>Viac ako 60 televíznych staníc</b></p>
        <p>
          Vyberte si k Boxu online televíziu Magio GO Štandard alebo Premium s
          viac ako 60 TV stanicami vrátane športových Digi Sport, detskej Ťuki
          TV v Slovenčine či fascinujúcej BBC Earth.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-5.png" alt="" />
        </div>
        <p><b>7-dňový Archív Magio GO</b></p>
        <p>
          S Magio GO máte k dispozícii už odvysielaný program vybraných TV
          staníc v 7-dňovom archíve. Môžete ho sledovať bez reklám, ktoré
          jednoducho pretočíte.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <div class="imgwrapper">
          <img src="../assets/img/icon-6.png" alt="" />
        </div>
        <p><b>Vysoko kvalitný HD aj 4K obraz</b></p>
        <p>
          Vychutnajte si kvalitný a ostrejší obraz s vynoveným Magio GO TV
          Boxom, ktorý podporuje vysielanie vo vysokej HD aj úžasnej 4K kvalite.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="magioAbilities">
  <div class="container-fixed">
    <div class="row">
      <div class="device">
        <div class="col-sm-6 col-xs-12 device__text device-1">
          <p>
            <b
              >Rozšírte funkcie svojho obyčajného televízora a vytvorte z neho
              multimediálny prehrávač</b
            >
          </p>
          <p>
            S vynoveným Magio GO TV Boxom premeníte aj starý, obyčajný televízor
            na moderné smart zariadenie. Magio GO TV Box vám umožní sledovať
            online televíziu Magio GO alebo používať iné obľúbené aplikácie ako
            napríklad YouTube, HBO GO, Google filmy či Google Cast, s ktorým
            môžete videá, fotky či iný obsah svojho smartfónu alebo iného
            zariadenia streamovať na veľkú televíznu obrazovku alebo monitor.
          </p>
          <a href="#servicesAndPrices" class="scroll-to btn cta">KÚPIŤ</a>
        </div>
        <div class="col-sm-6 col-xs-12 device__img">
          <div class="content">
            <img
              data-aos="fade-up"
              data-aos-duration="3000"
              class="img-1"
              src="../assets/img/tv-1.png"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="device">
        <div class="col-sm-6 col-xs-12 device__img">
          <div class="content">
            <img
              data-aos="fade-up"
              data-aos-duration="3000"
              class="img-2"
              src="../assets/img/tv-2.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 device__text device-2">
          <p>
            <b
              >S vynoveným Magio GO TV Boxom si užívate výhody online televízie
              Magio GO Štandard alebo Premium</b
            >
          </p>
          <p>
            Vyberte si k Magio GO TV Boxu online televíziu Magio GO Štandard
            alebo Premium s viac ako 60 TV stanicami vrátane staníc vo vysokom
            HD rozlíšení. S online televíziou Magio GO môžete práve vysielaný
            program pustiť od začiatku alebo ho zastaviť či pretočiť späť.
            Navyše nájdete už odvysielaný program vybraných TV staníc v 7 dňovom
            archíve. S Magio GO si môžete nahrať a sledovať až 60 hodín
            programu.
          </p>
          <a href="#servicesAndPrices" class="scroll-to btn cta">KÚPIŤ</a>
        </div>
      </div>

      <div class="device">
        <div class="col-sm-6 col-xs-12 device__text device-3">
          <p>
            <b>Elegantné zariadenie s jednoduchým zapojením aj ovládaním</b>
          </p>
          <p>
            Jednoduchšie to už ani nemôže byť. Magio GO TV BOX je malé kompaktné
            zariadenie, ktoré zapojíte bez komplikácií. V balení nájdete aj
            šikovný diaľkový ovládač, s ktorým hravo zvládnete užívatelsky
            príjemné rozhranie. V online televízii Magio GO vás čaká stručné
            menu a prehľadný televízny program, z ktorého sa rýchlo dostanete k
            živému vysielaniu alebo do archívu Magio GO.
          </p>
          <a
            href="/wiki/zariadenia/magioboxy/magio-go/kaon-kstb-6077"
            class="link"
            >Pozrieť viac info vo wiki</a
          >
        </div>
        <div class="col-sm-6 col-xs-12 device__img">
          <div class="content">
            <img
              data-aos="fade-up"
              data-aos-duration="3000"
              class="img-3"
              src="../assets/img/tv-3.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section"
  id="servicesAndPrices"
  style="background-color: #ededed;"
>
  <div class="container-fixed">
    <h2 class="sec__title">
      SLUŽBY A CENY MAGIO GO TV BOXU
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <p>
          Vyberte si k Magio GO TV Boxu online televíziu Magio GO M, L alebo XL
          s viac ako 135 TV stanicami. Objednávajte bez obáv z viazanosti. V
          prípade deaktivácie služby stačí vrátiť Magio GO TV Box v jednom z
          našich Telekom centier.
        </p>
        <img src="../assets/img/ec-nofee.png" class="ec" />
      </div>
    </div>
  </div>
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <div class="tabs-container">
          <div class="tab__holder">
            <!-- TABS MENU -->
            <ul class="tabs-menu" style="display: none;">
              <li class="variant current" data-variant="1">
                <a href="#tab-1">Magio GO</a>
              </li>
            </ul>
          </div>

          <div class="tab">
            <!-- Tab 1 -->
            <div class="tab-content clearfix" id="tab-1">
              <div class="tab-box">
                <div class="tab-box__content">
                  <div class="col-xs-12 col-md-12 text-center">
                    <div class="shadow-box">
                      <div class="channels">
                        <img
                          src="../assets/img/magio-go-m.png"
                          alt="channels"
                        />
                        <div class="overlay">
                          <h4>60 + TV STANÍC</h4>
                          <p>v HD aj v SD kvalite</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="headline">Magio GO M</p>
                        <a class="popupbtn lightbox" href="#staniceM"
                          >Zoznam TV staníc</a
                        >
                        <!-- <p class="subHeadline">Ceny s Magio TV M, L, XL</p> -->
                        <span class="text-left text-gray">mesačne</span>
                        <div class="row sep-1">
                          <span class="text-left magenta"
                            ><b>Magio GO TV Box</b></span
                          >
                          <span class="text-right magenta"><b>2,95 €</b></span>
                          <span class="text-left"><b>Magio GO TV Box</b></span>
                          <span class="text-right"><b>17,00 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray"
                            >bez viazanosti
                          </span>
                          <span class="text-right text-gray">&nbsp;</span>
                        </div>

                        <div class="cta-holder">
                          <a
                            class="btn cta"
                            href="/televizia/magio-go/mam-zaujem?sluzba=magio-go-m&zariadenie=true"
                            >OBJEDNAŤ</a
                          >
                        </div>
                      </div>
                      <!-- <p class="terms">Zvýhodnená cena...</p> -->
                    </div>
                    <div class="shadow-box">
                      <div class="channels">
                        <img
                          src="../assets/img/magio-go-l.png"
                          alt="channels"
                        />
                        <div class="overlay">
                          <h4>95 + TV STANÍC</h4>
                          <p>v HD aj v SD kvalite</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="headline">Magio GO L</p>
                        <a class="popupbtn lightbox" href="#staniceL"
                          >Zoznam TV staníc</a
                        >

                        <!-- <p class="subHeadline">Ceny s Magio TV M, L, XL</p> -->
                        <span class="text-left text-gray">mesačne</span>
                        <div class="row sep-1">
                          <span class="text-left magenta"
                            ><b>Magio GO TV Box</b></span
                          >
                          <span class="text-right magenta"><b>2,95 €</b></span>
                          <span class="text-left"><b>Magio GO TV Box</b></span>
                          <span class="text-right"><b>22,00 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray"
                            >bez viazanosti
                          </span>
                          <span class="text-right text-gray">&nbsp;</span>
                        </div>

                        <div class="cta-holder">
                          <a
                            class="btn cta"
                            href="/televizia/magio-go/mam-zaujem?sluzba=magio-go-l&zariadenie=true"
                            >OBJEDNAŤ</a
                          >
                        </div>
                      </div>
                      <!-- <p class="terms">Zvýhodnená cena...</p> -->
                    </div>
                    <div class="shadow-box">
                      <div class="channels">
                        <img
                          src="../assets/img/magio-go-xl.png"
                          alt="channels"
                        />
                        <div class="overlay">
                          <h4>135 + TV STANÍC</h4>
                          <p>v HD aj v SD kvalite</p>
                        </div>
                      </div>
                      <div class="content">
                        <p class="headline">Magio GO XL</p>
                        <a class="popupbtn lightbox" href="#staniceXL"
                          >Zoznam TV staníc</a
                        >
                        <!-- <p class="subHeadline">Ceny s Magio TV M, L, XL</p> -->
                        <span class="text-left text-gray">mesačne</span>
                        <div class="row sep-1">
                          <span class="text-left magenta"
                            ><b>Magio GO TV Box</b></span
                          >
                          <span class="text-right magenta"><b>2,95 €</b></span>
                          <span class="text-left"><b>Magio GO TV Box</b></span>
                          <span class="text-right"><b>27,00 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray"
                            >bez viazanosti
                          </span>
                          <span class="text-right text-gray">&nbsp;</span>
                        </div>

                        <div class="cta-holder">
                          <a
                            class="btn cta"
                            href="/televizia/magio-go/mam-zaujem?sluzba=magio-go-xl&zariadenie=true"
                            >OBJEDNAŤ</a
                          >
                        </div>
                      </div>
                      <!-- <p class="terms">Zvýhodnená cena...</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="info text-center">
            <p>
              Ak máte
              <b>online televíziu Magio GO zadarmo k svojej Magio televízii</b
              ><br />
              a máte záujem o Magio GO TV Box, vyplňte nasledujúci formulár
            </p>
            <a
              href="/televizia/magio-go/magio-go-tv-box-/mam-zaujem"
              class="link"
              >Mám Magio TV a chcem Magio GO TV Box</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="howToGetMagioGO" data-segment="3">
  <div class="container-fixed">
    <h2 class="sec__title">
      ZAPOJENIE MAGIO GO TV BOXU JE TAK JEDNODUCHÉ
    </h2>
    <div class="row">
      <div class="tabs-container" id="tabs-triangle">
        <div class="tab__holder">
          <div class="tab-separator"></div>
          <!-- TABS MENU -->
          <ul class="tabs-menu" id="new-tab">
            <li class="variant current step1">
              <a href="#tab-3"
                ><img class="step-ico" src="../assets/img/ico-1.png" />
                <img class="step-ico-active" src="../assets/img/ico-1-h.png" />
              </a>
              <a class="tab-menu" href="#tab-3">PRVÝ&nbsp;KROK</a>
              <a href="#tab-3"><b>Objednajte si</b></a>
              <div class="trian"></div>
            </li>
            <li class="variant step2">
              <a href="#tab-4"
                ><img class="step-ico" src="../assets/img/ico-2.png" />
                <img class="step-ico-active" src="../assets/img/ico-2-a.png" />
              </a>
              <a class="tab-menu" href="#tab-4">DRUHY&nbsp;KROK</a>
              <a href="#tab-4"><b>Prihláste sa do Magio GO</b></a>
              <div class="trian"></div>
            </li>
            <li class="variant step3">
              <a href="#tab-5"
                ><img class="step-ico" src="../assets/img/ico-3.png" />
                <img class="step-ico-active" src="../assets/img/ico-3-h.png" />
              </a>
              <a class="tab-menu" href="#tab-5">TRETÍ&nbsp;KROK</a>
              <a href="#tab-5"><b>Užívajte si Magio GO</b></a>
              <div class="trian"></div>
            </li>
          </ul>
        </div>
        <div class="tab">
          <!-- Tab 1 -->
          <div class="tab-content clearfix" id="tab-3" style="display: block;">
            <div class="tab-box">
              <div class="tab-box__content">
                <div class="col-xs-12 text-center">
                  <p>
                    Vyberte si Magio GO TV Boxu online televíziu Magio GO M, L
                    alebo XL a kúpte ho jednoducho online.
                  </p>
                  <br />
                  <p>
                    Ak už máte televíziu Magio GO aktivovanú, zapojte Magio GO
                    TV Box podľa nasledujúceho návodu. Ak využívate našu Magio
                    TV a účet Magio GO máte aktívny, Magio GO TV Box sa po
                    zapojení a aktualizácii automaticky prihlási do účtu Magio
                    GO.
                  </p>
                  <a href="#servicesAndPrices" class="btn cta scroll-to"
                    >KÚPIŤ MAGIO GO TV BOX + MAGIO TV</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 2 -->
          <div class="tab-content clearfix" id="tab-4">
            <div class="tab-box">
              <div class="tab-box__content">
                <div class="col-xs-12 text-center">
                  <p>
                    <b>1.</b> Magio GO TV Box pripojte do elektrickej zásuvky a
                    k televíznemu prijímaču alebo monitoru.
                  </p>
                  <p>
                    <b>2.</b> Pre pripojenie k internetu zvoľte pripojenie
                    bezdrôtovo cez Wi-Fi alebo kábel (ethernet). Odporúčaná
                    rýchlosť vášho pripojenia je 5 Mbit/s.
                  </p>
                  <a href="#"
                    ><img
                      src="../assets/img/prihlasenie1.png"
                      alt="prihlasenie krok 1"
                  /></a>
                  <a href="#"
                    ><img
                      src="../assets/img/prihlasenie2.png"
                      alt="prihlasenie krok 2"
                  /></a>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab 3 -->
          <div class="tab-content clearfix" id="tab-5">
            <div class="tab-box">
              <div class="tab-box__content">
                <div class="col-xs-12 text-center">
                  <p>
                    Po úspešnom prihlásení môžete Magio GO sledovať až na
                    štyroch zariadeniach súčasne.
                  </p>
                  <br />
                  <p>
                    Každé zariadenie, z ktorého chcete pozerať, musíte prihlásiť
                    do vášho Magio GO účtu. Prihlásené zariadenia môžete
                    kedykoľvek vymazať a vytvoriť tak priestor na prihlásenie
                    iných.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="technology-spec">
  <div class="container-fixed">
    <h2 class="sec__title">
      TECHNICKÁ ŠPECIFIKÁCIA
    </h2>
    <div class="row">
      <div class="content">
        <div class="col-sm-12 col-md-6">
          <div class="gallery clearfix">
            <div class="pics clearfix">
              <div class="thumbnails">
                <div class="preview">
                  <a
                    href="#"
                    class="selected"
                    data-full="../assets/img/product1.jpg"
                    data-zoom-image="../assets/img/product1.jpg"
                  >
                    <img src="../assets/img/product1_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a
                    href="#"
                    data-full="../assets/img/product2.jpg"
                    data-zoom-image="../assets/img/product2.jpg"
                  >
                    <img src="../assets/img/product2_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a
                    href="#"
                    data-full="../assets/img/product3.jpg"
                    data-zoom-image="../assets/img/product3.jpg"
                  >
                    <img src="../assets/img/product3_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a
                    href="#"
                    data-full="../assets/img/product4.jpg"
                    data-zoom-image="../assets/img/product4.jpg"
                  >
                    <img src="../assets/img/product4_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a
                    href="#"
                    data-full="../assets/img/product5.jpg"
                    data-zoom-image="../assets/img/product5.jpg"
                  >
                    <img src="../assets/img/product5_prev.png" />
                  </a>
                </div>
              </div>
              <div class="full__holder">
                <img
                  class="full"
                  src="../assets/img/product1.jpg"
                  data-zoom-image="../assets/img/product1.jpg"
                />
              </div>
              <div class="controlls">
                <div class="indicator">
                  <div class="in__content"></div>
                </div>
                <div class="control__holder">
                  <a href="#" class="control-left"
                    ><img src="../assets/img/ico-left.png" alt="" /> Späť</a
                  >
                  <p class="img-size">
                    (<span class="current-img"></span>/<span
                      class="all-img"
                    ></span
                    >)
                  </p>
                  <a href="#" class="control-right"
                    >Ďalej <img src="../assets/img/ico-right.png" alt=""
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 specifications">
          <h3><b>Základné parametre</b></h3>
          <div class="spec1">
            <p>Internetové pripojenie</p>
            <p>Wi-Fi alebo kábel (ethernet - RJ45)</p>
          </div>
          <div class="spec2">
            <p>Výstup</p>
            <p>USB 2.0, AV Out</p>
          </div>
          <div class="spec3">
            <p>Rozmery Boxu</p>
            <p>135 x 135 x 25 mm</p>
          </div>
          <div class="spec4">
            <p>Farba</p>
            <p>čierna</p>
          </div>
          <div class="spec5">
            <p>Obsah balenia</p>
            <p>
              <span>Magio GO TV Box</span>
              <span>Externý adaptér 12V, 1A</span>
              <span>Diaľkový ovládač vrátane AAA batérií</span>
              <span>HDMI kábel 1.4</span>
              <span>Rýchly sprievodca inštaláciou</span>
            </p>
          </div>
          <a
            href="/wiki/zariadenia/magioboxy/magio-go/kaon-kstb-6077"
            class="link"
            >Ďalšie informácie nájdete vo Wiki</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!--popups -->
<div style="display: none;">
  <div class="easy-lightbox" id="staniceM">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_ZAKLADNY">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="staniceL">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_ZAKLADNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_EXTRA_L">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_DOKUMENTARNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_STYL_A_FAKTY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_HUDBA_A_DETI">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_VOLNY_CAS">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_FILMOVY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SPORTOVY">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="staniceXL">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_ZAKLADNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_EXTRA_L">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_EXTRA_XL">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_DOKUMENTARNY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_STYL_A_FAKTY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_HUDBA_A_DETI">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_VOLNY_CAS">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_FILMOVY">
      &nbsp;
    </div>
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SPORTOVY">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="staniceMagioGO">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_GO">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="staniceMagioGOpremium">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_GO_PREMIUM">
      &nbsp;
    </div>
  </div>
  <div class="easy-lightbox" id="50tvStanicZadarmo">
    <p>
      Zákazníci Magio Televízie majú zadarmo dostupné TV kanály, ktoré majú
      aktivované v rámci programových balíčkov na Magio Televízii.<br />
      Zoznam nájdete
      <a
        href="/documents/10179/99010/Programova+struktura+Magio+GO+na+web+08_15.pdf/5ef08038-7c08-4ade-a0ae-f819bdce9cdc"
        target="_blank"
        >TU</a
      >.
    </p>
  </div>
  <div class="easy-lightbox" id="archivMagioGO">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_GO_ARCHIV">
      &nbsp;
    </div>
  </div>

  <div class="easy-lightbox" id="archivMagioGOpremium">
    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_GO_ARCHIV_M">
      &nbsp;
    </div>
  </div>
</div>

<script type="text/javascript" src="../assets/js/aos.js"></script>
<script type="text/javascript" src="../assets/js/zoom.js"></script>
<script type="text/javascript" src="../assets/js/magnifier.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
