<section id="sec-1" class="section sec-1">
    <div class="fixed-column">

    </div>
</section>

<div class="formComposition formCompositionRender formCompositionRenderDisplay">
    <h2 id="-0" style="display: none;">Easy Pecka 07_2016</h2>
    <div class="dynamicFormLeft">
        <div class="dynamicFormBox">
            <div class="dynamicFormBoxLabel">Dostupné hlavné polia</div>
            <ul class="availableRootFields ui-sortable">
                <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypePAGE" style="display: none;">
                    <div>
                        <div class="formFieldRender">
                            <h4 class="pageNameField defaultValueField">Meno stránky</h4>
                            <div class="pageContent">
                                <ul class="dynamicFormSubFields connectedSortableSubFields">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypeTHANK_YOU_PAGE" style="display: none;">
                    <div>
                        <div class="formFieldRender">
                            <h4 class="pageNameField defaultValueField">Meno stránky</h4>
                            <div class="pageContent">
                                <ul class="dynamicFormSubFields connectedSortableSubFields">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <div class="dynamicFormBox">
            <div class="dynamicFormBoxLabel">Dostupné polia</div>
            <ul class="availableFields ui-sortable">
                <li class="dynamicFormItemBox fieldTypeINPUT">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField inputRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField" value=" " title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypePASSWORD">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField passwordRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="password" class="defaultValueField passwordField" value="" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeTEXTAREA">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField textareaRenderField">
                                <label class="labelField">Popisok:</label> <span><textarea class="textareaField defaultValueField" title="Tooltip"></textarea></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSMS_VERIFICATION">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField formFieldContainer destinationRenderField">
                                <label class="labelField">Popisok čísla:</label> <span> <input type="text" class="verificationFieldNumber defaultValueField" value="Číslo" title="Tooltip čísla"> <button data-localized-text="Odoslať" data-localized-text-1="Preposlať" class="submit">Odoslať</button> </span> <span class="formFieldValidationResult"><span class="error"></span></span>
                            </div>
                            <div class="formFieldRenderField formFieldContainer codeRenderField">
                                <label class="verificationFieldCodeLabel labelField fieldRequired">Popisok kódu:</label> <span> <input type="text" class="verificationFieldCode defaultValueField" value="Kód" title="Tooltip"> <button class="submit">Overiť</button> </span> <span class="formFieldValidationResult"><span class="error" data-default-error-message="Prosím overte zadaný údaj"></span></span>
                            </div>
                            <div class="formFieldContainer successRenderField"><span class="staticTextField wysiwygValue">SMS bola overená.</span></div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeEMAIL_VERIFICATION">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField formFieldContainer destinationRenderField">
                                <label class="labelField">Popisok emailu:</label> <span> <input type="text" class="verificationFieldNumber defaultValueField" value="Email" title="Tooltip emailu"> <button data-localized-text="Odoslať" data-localized-text-1="Preposlať" class="submit">Odoslať</button> </span> <span class="formFieldValidationResult"><span class="error"></span></span>
                            </div>
                            <div class="formFieldRenderField formFieldContainer codeRenderField">
                                <label class="verificationFieldCodeLabel labelField fieldRequired">Popisok kódu:</label> <span> <input type="text" class="verificationFieldCode defaultValueField" value="Kód" title="Tooltip kódu"> <button class="submit">Overiť</button> </span> <span class="formFieldValidationResult"><span data-default-error-message="Prosím overte zadaný údaj" class="error"></span></span>
                            </div>
                            <div class="formFieldPartRender successRenderField"><span class="staticTextField wysiwygValue">E-mail bol overený.</span></div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeDATE">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField dateRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField dateTimeField" value="" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT">
                    <div>
                        <div class="formFieldRender">
                            <div class="staticTextField wysiwygValue">Statický text</div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeCHECKBOX">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField checkboxRenderField">
                                <label class="labelField">Popisok:</label>
                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField"></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                            </div>
                            <div class="checkboxSubFields dynamicFormSubFormDiv">
                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields" style="display: none;">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeRADIOBOX">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField radioboxRenderField">
                                <label class="labelField">Popisok:</label>
                                <div class="radio"><span><input type="radio" class="defaultValueField radioboxField optionsField"></span></div>
                            </div>
                            <div class="radioboxSubFields dynamicFormSubFormDiv">
                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields" style="display: none;">
                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSELECT">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField selectRenderField">
                                <label class="labelField">Popisok:</label> <span> <div id="heapbox_84030685" class="heapBox"><a href="" class="holder">Empty</a><a href="" class="handler"></a><div class="heap" style="height: auto;"><ul class="heapOptions"></ul></div></div><select class="selectField defaultValueField" style="display: none;"> </select> </span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeSUBMIT">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField submitRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="submit" value="Submit" class="defaultValueField submitField" title="formComposition.field.submit.tooltip"></span> </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeRESET">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField resetRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="reset" value="Reset" class="defaultValueField resetField" title="Reset tooltip"></span> </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeFILE">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField fileRenderField">
                                <label class="labelField">Popisok:</label> <span><input type="file" name="files" multiple="multiple" class="defaultValueField fileField" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="error" style="display:none;">Nie je možné nahrať súbory s nepovolenými príponami</span></span>
                                <div class="fileInputResponseDiv"> <span class="fileUploadedItems"></span> </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeHIDDEN">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField hiddenRenderField"> <span><input type="hidden" class="defaultValueField hiddenField" value="Value"></span> </div>
                        </div>
                    </div>
                </li>
                <li class="dynamicFormItemBox fieldTypeNOTIFICATION_CHOOSER">
                    <div>
                        <div class="formFieldRender">
                            <div class="formFieldRenderField notificationChooserRenderField">
                                <label class="labelField">Kým chcete byť kontaktovaný?:</label> <span> <div id="heapbox_6068342" class="heapBox"><a href="" class="holder" rel="GENERATED_Easy Pecka 07_2016_1312511809_1"> Back Office </a><a href="" class="handler"></a><div class="heap" style="height: 300px; display: none;"><a class="sliderUp" href=""></a><ul class="heapOptions" style="top: 275px;"><li class="heapOption"><a href="" rel="GENERATED_Easy Pecka 07_2016_1312511809_1" title=" Back Office " class="selected"> Back Office </a></li><li class="heapOption"><a href="" rel="GENERATED_Easy Pecka 07_2016_1312511809_2" title=" Onlinesales " class=""> Onlinesales </a></li><li class="heapOption"><a href="" rel="GENERATED_Easy Pecka 07_2016_1312511809_3" title=" Zákazník " class=""> Zákazník </a></li></ul><a class="sliderDown" href=""></a></div></div><select class="defaultValueField" title="Tooltip" style="display: none;">    <option value="GENERATED_Easy Pecka 07_2016_1312511809_1" selected="selected"> Back Office </option><option value="GENERATED_Easy Pecka 07_2016_1312511809_2"> Onlinesales </option><option value="GENERATED_Easy Pecka 07_2016_1312511809_3"> Zákazník </option></select> </span> </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="dynamicFormMain">
        <ul class="dynamicFormFields connectedSortableFields ui-sortable">
            <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypePAGE" id="formFieldId110754" style="display: list-item;">
                <div>
                    <div class="formFieldRender">
                        <h4 class="pageNameField defaultValueField">NOVÁ EASY KARTA ALEBO PRENOS ČÍSLA OD INÉHO OPERÁTORA</h4>
                        <div class="pageContent">
                            <ul class="dynamicFormSubFields connectedSortableSubFields ui-sortable">
                                <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                <li class="dynamicFormItemBox fieldTypeHIDDEN" id="formFieldId110755">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField hiddenRenderField"> <span><input type="hidden" class="defaultValueField hiddenField" value="customer-type" placeholder="customer-type"></span> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT" id="formFieldId110756">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="staticTextField wysiwygValue">Objednávky môžu vytvárať len osoby staršie ako 18 rokov.
                                                <br>Pre rýchlejšie vybavenie Vašej objednávky, vyplňte, prosím, nasledujúce údaje:</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeSELECT" id="formFieldId110757">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField selectRenderField">
                                                <label class="labelField" style="width: 360px;">
                                                    <div id="pocet-sim">Počet SIM kariet</div>
                                                </label> <span> <div id="heapbox_67511992" class="heapBox"><a href="" class="holder" rel="1">1</a><a href="" class="handler"></a><div class="heap" style="height: 300px; display: none;"><a class="sliderUp" href=""></a><ul class="heapOptions" style="top: 25px;"><li class="heapOption"><a href="" rel="1" title="1" class="selected">1</a></li><li class="heapOption"><a href="" rel="2" title="2" class="">2</a></li><li class="heapOption"><a href="" rel="3" title="3" class="">3</a></li><li class="heapOption"><a href="" rel="4" title="4" class="">4</a></li><li class="heapOption"><a href="" rel="5" title="5" class="">5</a></li><li class="heapOption"><a href="" rel="6" title="6" class="">6</a></li><li class="heapOption"><a href="" rel="7" title="7" class="">7</a></li><li class="heapOption"><a href="" rel="8" title="8" class="">8</a></li><li class="heapOption"><a href="" rel="9" title="9" class="">9</a></li><li class="heapOption"><a href="" rel="10" title="10" class="">10</a></li></ul><a class="sliderDown" href=""></a></div></div><select class="selectField defaultValueField" style="display: none;"> <option value="1" selected="selected">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option></select> </span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeCHECKBOX" id="formFieldId110758">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField checkboxRenderField">
                                                <label class="labelField" style="width: 360px;">
                                                    <div id="prenos-zaujem">Mám záujem o prenos uvedeného mobilného čísla od iného operátora na Easy Pecka.</div>
                                                </label>
                                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField" title=""></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                            </div>
                                            <div class="checkboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110759">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField">
                                                                    <label class="labelField" style="width: 360px;">Číslo, ktoré chcem preniesť</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder="09"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeSELECT" id="formFieldId110760">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField selectRenderField">
                                                                    <label class="labelField" style="width: 360px;">Súčasný operátor</label> <span> <div id="heapbox_62232220" class="heapBox"><a href="" class="holder" rel="Vyberte súčasného operátora">Vyberte súčasného operátora</a><a href="" class="handler"></a><div class="heap" style="height: 300px; display: none;"><a class="sliderUp" href=""></a><ul class="heapOptions" style="top: 275px;"><li class="heapOption"><a href="" rel="Vyberte súčasného operátora" title="Vyberte súčasného operátora" class="selected disabled">Vyberte súčasného operátora</a></li><li class="heapOption"><a href="" rel="Orange" title="Orange" class="">Orange</a></li><li class="heapOption"><a href="" rel="O2" title="O2" class="">O2</a></li><li class="heapOption"><a href="" rel="4ka" title="4ka" class="">4ka</a></li><li class="heapOption"><a href="" rel="Juro" title="Juro" class="">Juro</a></li></ul><a class="sliderDown" href=""></a></div></div><select class="selectField defaultValueField" style="display: none;"> <option value="Vyberte súčasného operátora" selected="selected">Vyberte súčasného operátora</option><option value="Orange">Orange</option><option value="O2">O2</option><option value="4ka">4ka</option><option value="Juro">Juro</option></select> </span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT" id="formFieldId110761">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="staticTextField wysiwygValue">
                                                                    <p>
                                                                        <span style="font-size:15px;">
<span style="line-height: 1.4;">
Cena SIM pri prenose je 0,04 € bez úvodného kreditu.</span>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT" id="formFieldId110762">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="staticTextField wysiwygValue">
                                                <div id="typ-zakaznika">
                                                    Typ zákazníka</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeRADIOBOX" id="formFieldId110763">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField radioboxRenderField fyzicka-osoba">
                                                <label class="labelField" style="width: 360px;">Fyzická osoba - nepodnikateľ</label>
                                                <div class="radio"><span class="checked"><input type="radio" class="defaultValueField radioboxField optionsField" value="radioVal0" title="" name="typ-zakaznika"></span></div>
                                            </div>
                                            <div class="radioboxSubFields dynamicFormSubFormDiv" style="display: block;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable" style="display: none;">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeRADIOBOX" id="formFieldId110764">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField radioboxRenderField pravnicka-osoba">
                                                <label class="labelField" style="width: 360px;">Právnicka osoba</label>
                                                <div class="radio"><span><input type="radio" class="defaultValueField radioboxField optionsField" value="radioVal1" title="" name="typ-zakaznika"></span></div>
                                            </div>
                                            <div class="radioboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable" style="display: none;">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT" id="formFieldId110765">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="staticTextField wysiwygValue">
                                                <div id="fakturacna-adresa">
                                                    OSOBNÉ ÚDAJE:</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110834">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField field__person-title">
                                                <label class="labelField" style="width: 360px;">Titul</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110766">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Názov právnickej osoby</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110767">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">IČO</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110854">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Osoba oprávnená zaväzovať právnickú osobu</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110788">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Rodné číslo</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110787">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Čislo OP</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110768">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Meno</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110769">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Priezvisko</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT" id="formFieldId110781">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="staticTextField wysiwygValue">
                                                <div id="kontaktne-udaje">Kontaktné údaje</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110770">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField cityInvoiceAutocompleteClass">
                                                <label class="labelField fieldRequired" style="width: 360px;">Mesto / Obec</label> <span><input type="text" class="defaultValueField ui-autocomplete-input" value=" " title="" placeholder="" autocomplete="off"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110771">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField streetInvoiceAutocompleteClass">
                                                <label class="labelField" style="width: 360px;">Ulica</label> <span><input type="text" class="defaultValueField ui-autocomplete-input" value=" " title="" placeholder="" autocomplete="off"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110772">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Číslo</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110773">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField zipInvoiceAutocompleteClass">
                                                <label class="labelField fieldRequired" style="width: 360px;">PSČ</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110783">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">Telefónne číslo:</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder="09"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110784">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField inputRenderField">
                                                <label class="labelField fieldRequired" style="width: 360px;">E-mail:</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder="@"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeTEXTAREA" id="formFieldId110774">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField textareaRenderField">
                                                <label class="labelField" style="width: 360px;">Poznámka pre kuriéra:</label> <span><textarea class="textareaField defaultValueField" title="" placeholder=""></textarea></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeCHECKBOX" id="formFieldId110775">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField checkboxRenderField cityDeliveryCheckboxClass">
                                                <label class="labelField" style="width: 360px;">
                                                    <div id="dorucenie-adresa">Adresa pre doručenie zásielky
                                                        <br>(ak je iná ako fakturačná): </div>
                                                </label>
                                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField" title=""></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                            </div>
                                            <div class="checkboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                    <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT" id="formFieldId110776">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="staticTextField wysiwygValue">
                                                                    <div id="adresa-dorucenie">
                                                                        Adresa pre doručenie</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110777">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField cityDeliveryAutocompleteClass">
                                                                    <label class="labelField" style="width: 360px;">Mesto / Obec</label> <span><input type="text" class="defaultValueField ui-autocomplete-input" value=" " title="" placeholder="" autocomplete="off"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110778">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField streetDeliveryAutocompleteClass">
                                                                    <label class="labelField" style="width: 360px;">Ulica</label> <span><input type="text" class="defaultValueField ui-autocomplete-input" value=" " title="" placeholder="" autocomplete="off"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110779">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField">
                                                                    <label class="labelField" style="width: 360px;">Číslo</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId110780">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField zipDeliveryAutocompleteClass">
                                                                    <label class="labelField" style="width: 360px;">PSČ</label> <span><input type="text" class="defaultValueField" value=" " title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeHIDDEN" id="formFieldId110785">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField hiddenRenderField"> <span><input type="hidden" class="defaultValueField hiddenField" value="B2C" placeholder="B2C"></span> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeHIDDEN" id="formFieldId110786">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField hiddenRenderField"> <span><input type="hidden" class="defaultValueField hiddenField" value="OX0199" placeholder="OX0199"></span> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeCHECKBOX" id="formFieldId110790">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField checkboxRenderField">
                                                <label class="labelField" style="width: 360px;">
                                                    <div id="suhlas-1">Súhlas so všeobecnými obchodnými podmienkami, osobitnými obchodnými podmienkami a cenníkom</div>
                                                </label>
                                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField" title=""></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                            </div>
                                            <div class="checkboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable" style="display: none;">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeCHECKBOX" id="formFieldId110835">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField checkboxRenderField">
                                                <label class="labelField" style="width: 360px;">
                                                    <div id="suhlas-2">Súhlas so všeobecnými obchodnými podmienkami, osobitnými obchodnými podmienkami a cenníkom</div>
                                                </label>
                                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField" title=""></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                            </div>
                                            <div class="checkboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable" style="display: none;">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeCHECKBOX" id="formFieldId110836">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField checkboxRenderField">
                                                <label class="labelField" style="width: 360px;">
                                                    <div id="suhlas-3">Žiadam o zverejnenie údajov v telefónnom zozname a informačnej službe</div>
                                                </label>
                                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField" title=""></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                            </div>
                                            <div class="checkboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable" style="display: none;">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeCHECKBOX" id="formFieldId110837">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField checkboxRenderField">
                                                <label class="labelField" style="width: 360px;">
                                                    <div id="suhlas-4">Žiadam o uzatvorenie rozhodcovskej zmluvy</div>
                                                </label>
                                                <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField" title=""></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                            </div>
                                            <div class="checkboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable" style="display: none;">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypeTHANK_YOU_PAGE" id="formFieldId110791" style="display: none;">
                <div>
                    <div class="formFieldRender">
                        <h4 class="pageNameField defaultValueField"></h4>
                        <div class="pageContent">
                            <ul class="dynamicFormSubFields connectedSortableSubFields ui-sortable">
                                <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT" id="formFieldId110792">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="staticTextField wysiwygValue">
                                                <h1>
	Ďakujeme za Vašu objednávku.</h1>
                                                <p>
                                                    V prípade, že bude potrebné overiť alebo doplniť informácie k&nbsp;Vašej objednávke, budeme Vás kontaktovať do troch pracovných dní.</p>
                                                Po spracovaní objednávky Vám bude Easy karta doručená kuriérom.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="clearBoth"></div>
    <div class="dynamicFormPages"> <span class="prevPageButtonSpan" style="display: none;"><input type="button" class="prevPageButton" value="Predchádzajúca stránka" style="display: none;"></span> <span class="pageMiddle" style="display: none;"> <span> Stránka <span class="pageNumber">1</span> z <span class="totalPages">1</span> </span>
        </span> <span class="nextPageButtonSpan" style="float: right;"><input type="button" class="nextPageButton" value="Nasledujúca stránka" style="display: none;"></span> <span class="nextPageButtonSpan" style="float: right;"><input type="button" class="finishFormButton" value="Odoslať" style="display: inline-block;"></span>
        <div class="clearBoth"></div>
    </div>
    <br> </div>

<div> <a href="#" onclick="$('#legal-1').toggle('slow');return false;">Súhlas s obchodnými podmienkami</a>
    <p id="legal-1" style="display: none; font-size: 14px;">Súhlasím so <a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-mobilnej-siete/" target="_blank">všeobecnými obchodnými podmienkami</a>, osobitnými obchodnými podmienkami a <a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/" target="_blank">cenníkom</a>, ktorý upravuje podmienky poskytovania objednávanej služby a so spracovaním osobných údajov pre potreby uzatvorenia zmluvy podľa § 56 zákona č. 351/2011 Z.z. o elektronických komunikáciách v znení neskorších predpisov spoločnosťou Slovak Telekom a.s. <span id="fyzicka-osoba-op"></span></p>
</div>

<div> <a href="#" onclick="$('#legal-1').toggle('slow');return false;">Súhlas so všeobecnými obchodnými podmienkami, osobitnými obchodnými podmienkami a cenníkom:</a>
    <p id="legal-1" style="display: none; font-size: 14px;">Súhlasím so všeobecnými obchodnými podmienkami, osobitnými obchodnými podmienkami a cenníkom, ktorý upravuje podmienky poskytovania objednávanej služby a so spracovaním osobných údajov pre potreby uzatvorenia zmluvy podľa § 56 zákona č. 351/2011 Z.z. o elektronických komunikáciách v znení neskorších predpisov spoločnosťou Slovak Telekom a.s.</p>
</div>

<div> <a href="#" onclick="$('#legal-2').toggle('slow');return false;">Súhlas s obchodnými podmienkami pre uzatváranie zmlúv s využitím prostriedkov komunikácie na diaľku:</a>
    <p id="legal-2" style="display: none; font-size: 14px;">Súhlasím s obchodnými podmienkami pre uzatváranie zmlúv s využitím prostriedkov komunikácie na diaľku a so začatím poskytovania služieb za podmienok uvedených v tejto objednávke aj pred uplynutím lehoty na odstúpenie od zmluvy uzatvorenej na diaľku v dĺžke 14 dní odo dňa doručenia Registračného formulára a Easy karty a bol som poučený o tom, že udelením súhlasu so začatím poskytovania služieb pred uplynutím lehoty na odstúpenie od zmluvy na diaľku som povinný uhradiť sumu úmernú rozsahu poskytnutého plnenia do momentu odstúpenia.</p>
</div>

<div> <a href="#" onclick="$('#legal-3').toggle('slow');return false;">Žiadam o zverejnenie údajov v telefónnom zozname a informačnej službe:</a>
    <p id="legal-3" style="display: none; font-size: 14px;">V zmysle zákona o elektronických komunikáciách má Slovak Telekom, a.s. povinnosť informovať o účele telefónneho zoznamu, ktorým je vyhľadávanie kontaktných údajov účastníkov na základe ich mena, priezviska alebo názvu, prípadne ďalších minimálnych identifikačných údajov, predtým než budú ich osobné údaje zaradené do telefónneho zoznamu a o ďalších možnostiach využitia osobných údajov založených na vyhľadávacích funkciách v elektronických verziách telefónneho zoznamu. Účastník, ktorý je fyzickou osobou, má právo určiť či jeho osobné údaje budú zaradené do telefónneho zoznamu a ak áno, ktoré osobné údaje budú zaradené, ak sú relevantné na účel telefónneho zoznamu. Relevantnými údajmi fyzickej osoby na účely telefónneho zoznamu sú telefónne číslo, meno, priezvisko a adresa trvalého pobytu.</p>
</div>


<div> <a href="#" onclick="$('#legal-4').toggle('slow');return false;">Udelenie súhlasu s použitím údajov na marketingové účely:</a>
    <p id="legal-4" style="display: none; font-size: 14px;"><b><u>Udelenie súhlasu na spracovanie údajov na marketingové účely spoločnosťou Slovak Telekom, a.s.:</u></b> Udelenie súhlasu spoločnosti Slovak Telekom, a.s. so spracúvaním osobných údajov v rozsahu titul, meno, priezvisko, adresa trvalého bydliska, adresa elektronickej pošty a telefónne číslo za účelom zasielania marketingových ponúk v rámci priameho marketingu spoločnosťou Slovak Telekom, a.s. poskytovaných produktov a služieb a to telefonicky, faxom, prostredníctvom SMS, elektronickej pošty, poštou alebo iným primeraným spôsobom.
        <br/>
        <br/>
        <b><u>Udelenie súhlasu na spracovanie lokalizačných údajov:</u></b> Udelenie súhlasu spoločnosti Slovak Telekom, a.s. so spracúvaním lokalizačných údajov označujúcich geografickú polohu koncových zariadení za účelom poskytovania služieb s pridanou hodnotou, prostredníctvom ktorých je možné získať prístup k zľavám, výhodným akciám a iným benefitom poskytovaných zo strany spoločnosti Slovak Telekom, a.s. alebo tretích osôb. Zároveň súhlasím, aby ma spoločnosť Slovak Telekom, a.s. kontaktovala pre účely poskytnutia Služieb prostredníctvom zasielania elektronickej pošty, vrátane SMS a MMS.
        <br/>
        <br/>
        <b><u>Udelenie súhlasu na spracovanie údajov tretími stranami:</u></b> Udelenie súhlasu spoločnosti Slovak Telekom, a.s. s poskytnutím osobných údajov v rozsahu titul, meno, priezvisko, adresa trvalého bydliska, adresa elektronickej pošty a telefónne číslo spoločnosti Zoznam, s.r.o, Zoznam Mobile, s.r.o., PosAm, spol. s r.o. a ďalším spoločnostiam, v ktorých má spoločnosť Slovak Telekom, a.s. postavenie ovládajúcej spoločnosti v zmysle § 66a Obchodného zákonníka, za účelom zasielania marketingových ponúk v rámci priameho marketingu vyššie definovanými spoločnosťami poskytovaných produktov a služieb a to telefonicky, faxom, prostredníctvom SMS, elektronickej pošty, poštou alebo iným primeraným spôsobom.
    </p>
</div>

<div> <a href="#" onclick="$('#legal-5').toggle('slow');return false;">Žiadam o uzatvorenie rozhodcovskej zmluvy:</a>
    <p id="legal-5" style="display: none; font-size: 14px;">Spoločnosť Slovak Telekom, a.s. je v zmysle zákona o platobných službách povinná v súvislosti s mobilnými platbami (napr. platba za MHD lístok, úhrada parkovania formou SMS) ponúknuť zákazníkom návrh na uzavretie rozhodcovskej zmluvy, na základe ktorej budú prípadné spory z mobilný platieb riešené pred Stálym rozhodcovským súdom Slovenskej bankovej asociácie. Je len na rozhodnutí zákazníka, či uvedený návrh prijme alebo nie. Zároveň spoločnosť Slovak Telekom, a.s. v súlade so zákonom o spotrebiteľskom rozhodcovskom konaní zverejňuje v časti Dokumenty na stiahnutie návrh spotrebiteľskej rozhodcovskej zmluvy, ktorej súčasťou je aj poučenie spotrebiteľa.</p>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>