/* ===============
 CSS FOR app /instalacia
 =============== */

/* HERO SECTION */

#hero-instalacia {
    background: url("https://www.telekom.sk/documents/10179/16827704/kv_instalacia_940.png") no-repeat 50% 50%;
    overflow: hidden;
    background-size: cover;
    min-height: 330px;
    .hero__title {
      color: black;
      text-align: left;
      font-size: 40px;
      line-height: 42px;
      font-size: 38px;
    }
    .hero__desc {
      color: #494d55;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
    }
    .btn {
      margin-top: 20px;
    }
    .hero__mobile {
      display: none;
      .playbtn {
        padding-top: 85px;
        margin: 0 auto;
      }
    }
    .playbtn.desktop {
      margin-top: 90px;
    }
    .hero__content {
      text-align: left;
      max-width: 460px;
    }
}

@media screen and (max-width: 768px) {
  #hero-instalacia {
      background: url("https://www.telekom.sk/documents/10179/16827704/kv_instalacia_940.png") no-repeat 50% 50%;
      overflow: hidden;
      background-size: cover;
      min-height: auto;
      .hero__title {
        color:  #262626;
        font-size: 32px;
        line-height: 32px;
      }

      .hero__desc {
          color:  #262626;
          font-size: 18px;
          line-height: 21px;
      }

      .btn {
          margin-top: 20px;
      }

      .hero__content {
        text-align: left;
        max-width: 400px;
      }
  }

}

@media screen and (max-width: 543px) {
    #hero-instalacia {
        background: transparent;
        padding: 0;
        .hero__mobile {
          display: block;
          background: url("https://www.telekom.sk/documents/10179/16827704/hero_mobile.png") no-repeat 50% 50%;
          height: 235px;
          background-size: cover;
        }
        .playbtn.desktop {
          display: none;
        }
        .btn {
          margin-top: 10px;
          text-align: center;
        }
        .container-fixed {
          margin: 0;
          padding: 0;
          width: 100%;
        }
        .hero__content {
          padding: 0px;
          text-align: center;
          max-width: 100%;
        }
    
        .hero__title {
          color:  #262626;
          font-size: 34px;
          line-height: 34px;
          text-align: center;
        }
    
        .hero__desc {
            color:  #262626;
            font-size: 18px;
            text-align: center;
        }
    }
}
/* HERO SECTION END */

/* center all content on mobile */
.mobileCenter {
  @media screen and (max-width: 543px) {
    text-align: center;
    .heading {
      padding: 0;
    }
  }
}

.paddingLR {
  padding: 0;
}

#sec-1-install {
  @media screen and (max-width: 543px) {
    margin: 0;
  }
  h3 {
    font-size: 28px;
    margin: 30px 0;
  }
  p {
    font-size: 18px;
    color: #4b4b4b;
  }
  .wrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
    .valign {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 270px;
      padding: 0 4%;
      @media screen and (max-width: 543px) {
        min-height: auto;
        padding: 30px 15px 0 15px;
      }
    }
    .textwrap {
      p {
        margin: 0;
      }
    }
  }
  .wrapper:nth-of-type(3) {
    border: none;
  }
}
