/* =============== GLOBAL IMPORTS  =============== */
/* =============== BASE IMPORTS  =============== */
/* =============== RESET PORTAL STYLES =============== */
#wrapper #content { padding-bottom: 0; }

#wrapper .portlet-column-content { padding: 0; }

#content h1, #content h2, #content h3 { text-decoration: none; border: 0; }

#content a { text-decoration: none; font-size: 16px; }

#content p { font-size: 16px; }

#content ul { list-style: none; }

#wrapper .wbreadcrumbs { display: none; }

#content, #content * { box-sizing: border-box; }

#content .portlet-content { padding: 0; }

#main-content .portlet-column { display: block; }

#content .portlet-layout { display: block; }

/* =============== GLOBAL CONFIG  =============== */
/* =============== UTILITIES  =============== */
/* =============== FUNCTIONS & MIXINS =============== */
/* =============== CSS FOR STICKY NAV =============== */
.text_centered { text-align: center; }

.text_left { text-align: left; }

.text_uc { text-transform: uppercase; }

.text_initial { text-transform: initial; }

#wrapper .text__link { font-size: 18px; }

#wrapper .font_magenta { color: #e20074; }

#wrapper .font_black { color: #000; }

#wrapper .font_white { color: #fff; }

#wrapper .font_mine-shaft { color: #262626; }

#wrapper .font_deep-cerulean { color: #007faf; }

/* =============== SPACING =============== */
#wrapper .margin_top20 { margin-top: 20px; }

#wrapper .margin_top50 { margin-top: 50px; }

#wrapper .margin_bottom20 { margin-bottom: 20px; }

#wrapper .mid__icon { vertical-align: middle; }

/* =============== BASE IMPORTS  =============== */
/* =============== BUTTONS =============== */
#wrapper .button { color: #fff; font-size: 16px; padding: 0 17px; }

#wrapper .button_font-black { color: #000; }

#wrapper .button_cream-can { background-color: #f2c957; border: 1px solid #f2c957; }

#wrapper .button_lima { background-color: #6bb324; border: 1px solid #6bb324; }

/* =============== CSS FOR STICKY NAV =============== */
#nav-sticky ul { list-style-type: none; width: 940px; margin: 0 auto; }

#nav-sticky ul li { display: inline-block; }

#nav-sticky { background-color: #ededed; height: 55px; width: 100%; border-bottom: 1px solid #e0e0e0; z-index: 100; text-transform: uppercase; }

#nav-sticky a { text-decoration: none; height: 55px; line-height: 55px; display: block; color: #000; padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active { background-color: #fff; color: #e20074; }

#nav-sticky li:last-child { float: right; }

#nav-sticky li:last-child a { color: #7c7c7c; }

@media screen and (max-width: 960px) { #nav-sticky ul { width: 100%; } }

@media screen and (max-width: 799px) { #nav-sticky-sticky-wrapper { display: none; } }

/* =============== HERO KV =============== */
.portlet-body .journal-content-article .hero__title { color: #fff; border: 0; font-size: 36px; text-transform: uppercase; padding-bottom: 0; margin-top: 0; }

.portlet-body .journal-content-article .hero__desc { color: #fff; font-size: 20px; line-height: 20px; }

.hero__content, .hero__img { display: inline-block; vertical-align: top; }

@media screen and (max-width: 960px) { #hero { width: 100%; padding: 40px 2%; } }

@media screen and (max-width: 720px) { .portlet-body .journal-content-article .hero__title { font-size: 30px; } }

@media screen and (max-width: 560px) { .hero__content { width: 96%; margin: 0 2%; } }

/* =============== MEDIA =============== */
.media { display: table; width: 100%; }

.media__image, .media__body { display: table-cell; vertical-align: middle; }

.media--top .media__image, .media--top .media__body { vertical-align: top; }

.media--bottom .media__image, .media--bottom .media__body { vertical-align: bottom; }

.media_v__image, .media_v__body { width: 100%; }

.show-mobile { display: none; }

.page table { color: #000; }

.c-row-table .header-top { padding-top: 20px; }

.c-row-table .c-content { background-color: #fff; border: 1px solid #d4d4d4; overflow: hidden; padding-bottom: 20px; }

.c-row-table { overflow: hidden; }

.table-container { width: 495px; /* Total width of visible columns + border widths */ overflow: hidden; }

.sliding-window { /*width:1320px; */ /* Total width of all columns in sliding-window + border widths */ width: 1485px; overflow: hidden; }

.happy-left, .happy-right { position: static; }

.happy-right img { position: absolute; top: 200px; width: 50px; height: 50px; }

.happy-left img { position: absolute; top: 200px; width: 50px; height: 50px; }

/*-------------------------------------------------------*/
.happy td.row-2-xl2, .happy td.row-2-xl, .happy td.row-2-xxl, .happy td.row-2-profi { font-size: 0.8em; }

/*-------------------------------------------------------*/
#happy-boxes h2 { padding-left: 0; }

#happy-boxes { padding-left: 30px; padding-right: 30px; padding-bottom: 20px; }

#happy-boxes .nadpis { font-size: 1.6em; text-align: center; height: 30px; display: inline-block; color: #E20074; padding-bottom: 10px; }

#happy-boxes .cena { font-size: 1.6em; color: #E20074; text-align: right; position: absolute; right: 10px; bottom: 0; }

#happy-boxes .box { padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #d1d1d1; width: 200px; float: left; height: 233px; margin-right: 10px; margin-bottom: 10px; position: relative; }

#happy-boxes .box .desc { padding-left: 10px; background: url("https://www.telekom.sk/documents/10179/457601/bullet2.png") no-repeat scroll; padding-bottom: 10px; font-size: 0.9em; text-align: left; }

#happy-boxes a { text-decoration: none; }

/*-------------------------------------------------------*/
#content .waterbear-theme td { padding: 0; line-height: 1em; font-size: 15px; }

.page .happy-table1, .page .happy-table2, .page .happy-table3, .page .happy-left, .page .happy-right { float: left; }

.happy-table1 { width: 40px; }

.happy-table2 { margin-left: 20px; width: 215px; table-layout: fixed; }

.page .happy-left { margin-left: 30px; }

.page .happy-right { margin-left: 30px; }

.happy-table3 { margin-left: 110px; position: relative; }

table.happy-desc, table.happy { border-spacing: 0; border-collapse: collapse; }

.happy td { width: 165px; /*margin-right: 2px;*/ /*padding-right: 10px;*/ /*padding-right: 10px;*/ /*padding-left: 10px;*/ }

.happy tr { margin: 0; }

.happy th { color: #000; font-weight: bold; }

.happy-desc td, .happy-desc th { border-bottom: 1px solid #d0d0d0; text-align: left; vertical-align: middle; }

.happy td, .happy th { border-bottom: 1px solid #d0d0d0; vertical-align: middle; text-align: center; }

.happy tr:first-child, .happy tr:last-child { border-bottom: none; }

.happy tr, .happy-desc tr { height: 60px; }

.happy tr.row-9, .happy-desc tr.row-9 { height: 40px; }

td.row-1-head, td.row-2-head, td.row-3-head, td.row-4-head, td.row-5-head, td.row-6-head, td.row-7-head, td.row-8-head, td.row-9-head, td.row-10-head { padding-left: 10px; /*padding-right: 5px;*/ }

/*-------------------------------------------------------*/
.happy tr.header { color: #e20074; font-size: 1.3em; text-transform: uppercase; line-height: 1em; height: 70px; }

.happy-desc tr.header { height: 70px; }

.happy tr { line-height: 1em; }

/*-------------------------------------------------------*/
.happy-desc tr.row-9, .happy tr.row-9 { color: #1063ad; font-weight: bold; }

.happy-desc .row-9-head, .happy .row-9 td, .happy .row-order td { border-bottom: none; }

.happy .row-order td { padding-bottom: 20px; }

.happy-desc .row-5-head img { vertical-align: -5px; padding-left: 5px; }

.happy-desc .row-8-head img { vertical-align: -5px; padding-left: 5px; }

.row-8-head { position: relative; }

.magenta-row { width: 120px; height: 40px; background-color: #fce5f1; position: absolute; right: -120px; top: 0; }

.happy tr.row-10 { font-size: 1.5em; }

.waterbear-theme .page .row-order a.green { background-color: #6bb324; border: 1px solid #6bb324; }

.waterbear-theme .page .friend-order a.green { background-color: #6bb324; border: 1px solid #6bb324; }

.friend-order { padding-top: 30px; float: right; }

.activeBox { background-color: rgba(215, 215, 215, 0.3); }

@media screen and (max-width: 960px) { .table-container { width: 300px; /* Total width of visible columns + border widths */ overflow: hidden; }
  .button-order-table { bottom: -50px; left: 140px; } }

@media screen and (max-width: 800px) { .button-order-table { bottom: -50px; left: -10px; } }

@media screen and (max-width: 770px) { .show-mobile { display: block; }
  .hide-mobile { display: none; } }

@media screen and (max-width: 600px) { .table-container { width: 170px; /* Total width of visible columns + border widths */ overflow: hidden; } }

/* =============== FANCYBOX =============== */
body .fancybox-wrap { border: 10px solid #6b6b6b; box-shadow: none; }

.fancybox-opened .fancybox-skin { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

body .fancybox-wrap .fancybox-close { top: -28px; right: -28px; width: 16px; height: 16px; }

/* =============== QTIP =============== */
.tooltip .qtip-content { font-size: 14px; }

/* =============== LAYOUT IMPORTS  =============== */
/* =============== GRID COLUMNS =============== */
#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 { float: left; }

#content .grid__col_1 { width: 8.20793%; }

#content .grid__col_2 { width: 16.55267%; }

#content .grid__col_3 { width: 24.8974%; }

#content .grid__col_4 { width: 33.24213%; }

#content .grid__col_5 { width: 41.58687%; }

#content .grid__col_6 { width: 49.9316%; }

#content .grid__col_7 { width: 58.27633%; }

#content .grid__col_8 { width: 66.62107%; }

#content .grid__col_9 { width: 74.9658%; }

#content .grid__col_10 { width: 83.31053%; }

#content .grid__col_11 { width: 91.65527%; }

#content .grid__col_12 { width: 100%; }

#content .grid-g__col_1 { width: 6.38298%; }

#content .grid-g__col_2 { width: 14.89362%; }

#content .grid-g__col_3 { width: 23.40426%; }

#content .grid-g__col_4 { width: 31.91489%; }

#content .grid-g__col_5 { width: 40.42553%; }

#content .grid-g__col_6 { width: 48.93617%; }

#content .grid-g__col_7 { width: 57.44681%; }

#content .grid-g__col_8 { width: 65.95745%; }

#content .grid-g__col_9 { width: 74.46809%; }

#content .grid-g__col_10 { width: 82.97872%; }

#content .grid-g__col_11 { width: 91.48936%; }

#content .grid-g__col_12 { width: 100%; }

.row { width: 100%; float: left; }

.fixed-column { width: 940px; margin: 0 auto; }

@media screen and (max-width: 960px) { .fixed-column { width: 96%; padding: 0 2%; } }

.section { width: 100%; float: left; }

.col-group:after { content: ""; display: table; clear: both; }

@media screen and (min-width: 35.5em) { .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
  .pure-u-sm-1-24 { width: 4.1667%; *width: 4.1357%; }
  .pure-u-sm-1-12, .pure-u-sm-2-24 { width: 8.3333%; *width: 8.3023%; }
  .pure-u-sm-1-8, .pure-u-sm-3-24 { width: 12.5%; *width: 12.469%; }
  .pure-u-sm-1-6, .pure-u-sm-4-24 { width: 16.6667%; *width: 16.6357%; }
  .pure-u-sm-1-5 { width: 20%; *width: 19.969%; }
  .pure-u-sm-5-24 { width: 20.8333%; *width: 20.8023%; }
  .pure-u-sm-1-4, .pure-u-sm-6-24 { width: 25%; *width: 24.969%; }
  .pure-u-sm-7-24 { width: 29.1667%; *width: 29.1357%; }
  .pure-u-sm-1-3, .pure-u-sm-8-24 { width: 33.3333%; *width: 33.3023%; }
  .pure-u-sm-3-8, .pure-u-sm-9-24 { width: 37.5%; *width: 37.469%; }
  .pure-u-sm-2-5 { width: 40%; *width: 39.969%; }
  .pure-u-sm-5-12, .pure-u-sm-10-24 { width: 41.6667%; *width: 41.6357%; }
  .pure-u-sm-11-24 { width: 45.8333%; *width: 45.8023%; }
  .pure-u-sm-1-2, .pure-u-sm-12-24 { width: 50%; *width: 49.969%; }
  .pure-u-sm-13-24 { width: 54.1667%; *width: 54.1357%; }
  .pure-u-sm-7-12, .pure-u-sm-14-24 { width: 58.3333%; *width: 58.3023%; }
  .pure-u-sm-3-5 { width: 60%; *width: 59.969%; }
  .pure-u-sm-5-8, .pure-u-sm-15-24 { width: 62.5%; *width: 62.469%; }
  .pure-u-sm-2-3, .pure-u-sm-16-24 { width: 66.6667%; *width: 66.6357%; }
  .pure-u-sm-17-24 { width: 70.8333%; *width: 70.8023%; }
  .pure-u-sm-3-4, .pure-u-sm-18-24 { width: 75%; *width: 74.969%; }
  .pure-u-sm-19-24 { width: 79.1667%; *width: 79.1357%; }
  .pure-u-sm-4-5 { width: 80%; *width: 79.969%; }
  .pure-u-sm-5-6, .pure-u-sm-20-24 { width: 83.3333%; *width: 83.3023%; }
  .pure-u-sm-7-8, .pure-u-sm-21-24 { width: 87.5%; *width: 87.469%; }
  .pure-u-sm-11-12, .pure-u-sm-22-24 { width: 91.6667%; *width: 91.6357%; }
  .pure-u-sm-23-24 { width: 95.8333%; *width: 95.8023%; }
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 { width: 100%; } }

@media screen and (min-width: 48em) { .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
  .pure-u-md-1-24 { width: 4.1667%; *width: 4.1357%; }
  .pure-u-md-1-12, .pure-u-md-2-24 { width: 8.3333%; *width: 8.3023%; }
  .pure-u-md-1-8, .pure-u-md-3-24 { width: 12.5%; *width: 12.469%; }
  .pure-u-md-1-6, .pure-u-md-4-24 { width: 16.6667%; *width: 16.6357%; }
  .pure-u-md-1-5 { width: 20%; *width: 19.969%; }
  .pure-u-md-5-24 { width: 20.8333%; *width: 20.8023%; }
  .pure-u-md-1-4, .pure-u-md-6-24 { width: 25%; *width: 24.969%; }
  .pure-u-md-7-24 { width: 29.1667%; *width: 29.1357%; }
  .pure-u-md-1-3, .pure-u-md-8-24 { width: 33.3333%; *width: 33.3023%; }
  .pure-u-md-3-8, .pure-u-md-9-24 { width: 37.5%; *width: 37.469%; }
  .pure-u-md-2-5 { width: 40%; *width: 39.969%; }
  .pure-u-md-5-12, .pure-u-md-10-24 { width: 41.6667%; *width: 41.6357%; }
  .pure-u-md-11-24 { width: 45.8333%; *width: 45.8023%; }
  .pure-u-md-1-2, .pure-u-md-12-24 { width: 50%; *width: 49.969%; }
  .pure-u-md-13-24 { width: 54.1667%; *width: 54.1357%; }
  .pure-u-md-7-12, .pure-u-md-14-24 { width: 58.3333%; *width: 58.3023%; }
  .pure-u-md-3-5 { width: 60%; *width: 59.969%; }
  .pure-u-md-5-8, .pure-u-md-15-24 { width: 62.5%; *width: 62.469%; }
  .pure-u-md-2-3, .pure-u-md-16-24 { width: 66.6667%; *width: 66.6357%; }
  .pure-u-md-17-24 { width: 70.8333%; *width: 70.8023%; }
  .pure-u-md-3-4, .pure-u-md-18-24 { width: 75%; *width: 74.969%; }
  .pure-u-md-19-24 { width: 79.1667%; *width: 79.1357%; }
  .pure-u-md-4-5 { width: 80%; *width: 79.969%; }
  .pure-u-md-5-6, .pure-u-md-20-24 { width: 83.3333%; *width: 83.3023%; }
  .pure-u-md-7-8, .pure-u-md-21-24 { width: 87.5%; *width: 87.469%; }
  .pure-u-md-11-12, .pure-u-md-22-24 { width: 91.6667%; *width: 91.6357%; }
  .pure-u-md-23-24 { width: 95.8333%; *width: 95.8023%; }
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 { width: 100%; } }

@media screen and (min-width: 64em) { .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
  .pure-u-lg-1-24 { width: 4.1667%; *width: 4.1357%; }
  .pure-u-lg-1-12, .pure-u-lg-2-24 { width: 8.3333%; *width: 8.3023%; }
  .pure-u-lg-1-8, .pure-u-lg-3-24 { width: 12.5%; *width: 12.469%; }
  .pure-u-lg-1-6, .pure-u-lg-4-24 { width: 16.6667%; *width: 16.6357%; }
  .pure-u-lg-1-5 { width: 20%; *width: 19.969%; }
  .pure-u-lg-5-24 { width: 20.8333%; *width: 20.8023%; }
  .pure-u-lg-1-4, .pure-u-lg-6-24 { width: 25%; *width: 24.969%; }
  .pure-u-lg-7-24 { width: 29.1667%; *width: 29.1357%; }
  .pure-u-lg-1-3, .pure-u-lg-8-24 { width: 33.3333%; *width: 33.3023%; }
  .pure-u-lg-3-8, .pure-u-lg-9-24 { width: 37.5%; *width: 37.469%; }
  .pure-u-lg-2-5 { width: 40%; *width: 39.969%; }
  .pure-u-lg-5-12, .pure-u-lg-10-24 { width: 41.6667%; *width: 41.6357%; }
  .pure-u-lg-11-24 { width: 45.8333%; *width: 45.8023%; }
  .pure-u-lg-1-2, .pure-u-lg-12-24 { width: 50%; *width: 49.969%; }
  .pure-u-lg-13-24 { width: 54.1667%; *width: 54.1357%; }
  .pure-u-lg-7-12, .pure-u-lg-14-24 { width: 58.3333%; *width: 58.3023%; }
  .pure-u-lg-3-5 { width: 60%; *width: 59.969%; }
  .pure-u-lg-5-8, .pure-u-lg-15-24 { width: 62.5%; *width: 62.469%; }
  .pure-u-lg-2-3, .pure-u-lg-16-24 { width: 66.6667%; *width: 66.6357%; }
  .pure-u-lg-17-24 { width: 70.8333%; *width: 70.8023%; }
  .pure-u-lg-3-4, .pure-u-lg-18-24 { width: 75%; *width: 74.969%; }
  .pure-u-lg-19-24 { width: 79.1667%; *width: 79.1357%; }
  .pure-u-lg-4-5 { width: 80%; *width: 79.969%; }
  .pure-u-lg-5-6, .pure-u-lg-20-24 { width: 83.3333%; *width: 83.3023%; }
  .pure-u-lg-7-8, .pure-u-lg-21-24 { width: 87.5%; *width: 87.469%; }
  .pure-u-lg-11-12, .pure-u-lg-22-24 { width: 91.6667%; *width: 91.6357%; }
  .pure-u-lg-23-24 { width: 95.8333%; *width: 95.8023%; }
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 { width: 100%; } }

@media screen and (min-width: 80em) { .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 { display: inline-block; *display: inline; zoom: 1; letter-spacing: normal; word-spacing: normal; vertical-align: top; text-rendering: auto; }
  .pure-u-xl-1-24 { width: 4.1667%; *width: 4.1357%; }
  .pure-u-xl-1-12, .pure-u-xl-2-24 { width: 8.3333%; *width: 8.3023%; }
  .pure-u-xl-1-8, .pure-u-xl-3-24 { width: 12.5%; *width: 12.469%; }
  .pure-u-xl-1-6, .pure-u-xl-4-24 { width: 16.6667%; *width: 16.6357%; }
  .pure-u-xl-1-5 { width: 20%; *width: 19.969%; }
  .pure-u-xl-5-24 { width: 20.8333%; *width: 20.8023%; }
  .pure-u-xl-1-4, .pure-u-xl-6-24 { width: 25%; *width: 24.969%; }
  .pure-u-xl-7-24 { width: 29.1667%; *width: 29.1357%; }
  .pure-u-xl-1-3, .pure-u-xl-8-24 { width: 33.3333%; *width: 33.3023%; }
  .pure-u-xl-3-8, .pure-u-xl-9-24 { width: 37.5%; *width: 37.469%; }
  .pure-u-xl-2-5 { width: 40%; *width: 39.969%; }
  .pure-u-xl-5-12, .pure-u-xl-10-24 { width: 41.6667%; *width: 41.6357%; }
  .pure-u-xl-11-24 { width: 45.8333%; *width: 45.8023%; }
  .pure-u-xl-1-2, .pure-u-xl-12-24 { width: 50%; *width: 49.969%; }
  .pure-u-xl-13-24 { width: 54.1667%; *width: 54.1357%; }
  .pure-u-xl-7-12, .pure-u-xl-14-24 { width: 58.3333%; *width: 58.3023%; }
  .pure-u-xl-3-5 { width: 60%; *width: 59.969%; }
  .pure-u-xl-5-8, .pure-u-xl-15-24 { width: 62.5%; *width: 62.469%; }
  .pure-u-xl-2-3, .pure-u-xl-16-24 { width: 66.6667%; *width: 66.6357%; }
  .pure-u-xl-17-24 { width: 70.8333%; *width: 70.8023%; }
  .pure-u-xl-3-4, .pure-u-xl-18-24 { width: 75%; *width: 74.969%; }
  .pure-u-xl-19-24 { width: 79.1667%; *width: 79.1357%; }
  .pure-u-xl-4-5 { width: 80%; *width: 79.969%; }
  .pure-u-xl-5-6, .pure-u-xl-20-24 { width: 83.3333%; *width: 83.3023%; }
  .pure-u-xl-7-8, .pure-u-xl-21-24 { width: 87.5%; *width: 87.469%; }
  .pure-u-xl-11-12, .pure-u-xl-22-24 { width: 91.6667%; *width: 91.6357%; }
  .pure-u-xl-23-24 { width: 95.8333%; *width: 95.8023%; }
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 { width: 100%; } }

/** BxSlider v4.1.2 - Fully loaded, responsive content slider http://bxslider.com Written by: Steven Wanderski, 2014 http://stevenwanderski.com (while drinking Belgian ales and listening to jazz) CEO and founder of bxCreative, LTD http://bxcreative.com */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper { position: relative; margin: 0 auto 30px; padding: 0; *zoom: 1; }

.bx-wrapper img { max-width: 100%; display: block; }

.bxslider { margin: 0; padding: 0; list-style: none; }

/** THEME
===================================*/
.bx-wrapper .bx-viewport { /*fix other elements on the page moving (on Chrome)*/ -webkit-transform: translatez(0); -moz-transform: translatez(0); -ms-transform: translatez(0); -o-transform: translatez(0); transform: translatez(0); }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading { min-height: 50px; background: url(/documents/10179/619260/bx_loader.gif) center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; display: none; }

/* PAGER */
.bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a { background: #ededed; text-indent: -9999px; display: block; width: 15px; height: 15px; margin: 0 5px; outline: 0; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: #e20074; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev { left: 10px; background: url(/documents/10179/619260/arrows.png) no-repeat 0 -83px; }

.bx-wrapper .bx-next { right: 10px; background: url(/documents/10179/619260/arrows.png) no-repeat -53px -83px; }

.bx-wrapper .bx-prev:hover { background-position: 0 0; }

.bx-wrapper .bx-next:hover { background-position: -53px 0; }

.bx-wrapper .bx-controls-direction a { position: absolute; top: 30%; margin-top: -16px; outline: 0; width: 53px; height: 83px; text-indent: -9999px; z-index: 9; }

.bx-wrapper .bx-controls-direction a.disabled { display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto { text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(/documents/10179/619260/controls.png) -86px -11px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(/documents/10179/619260/controls.png) -86px -44px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666\9; background: rgba(80, 80, 80, 0.75); width: 100%; }

.bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }

/* =============== CSS FOR MICROSITE =============== */
/* =============== GLOBALS FOR ALL  =============== */
#content .section { padding: 60px 0; font-size: 16px; }

#content .section__nav { padding: 0; }

#content .section__title { font-size: 2.5em; font-weight: bold; text-transform: uppercase; border: 0; }

#content .main_sec { display: inline-block; }

#content .section__title__double { margin-bottom: 0; }

#content .section__subtitle { font-size: 2.5em; text-transform: uppercase; border: 0; margin-top: 0; }

#content .grid__right { float: right; }

.at-a-glance { text-align: left; font-size: 16px; }

#content .disclaimer { color: #666666; font-size: 14px; }

@media screen and (max-width: 630px) { #content .section { font-size: 80%; padding: 30px 0; } }

@media screen and (max-width: 500px) { #content .section { text-align: center; }
  #content .img__holder__origin img { margin: 0 auto; }
  #content .section__title { margin-top: 0; }
  #content .cta__wrapper { float: none; } }

/* =============== GLOBALS NOT FOR ALL  =============== */
/* STYLE FOR PRODUCTS */
#content .section__hero__title { margin-top: 0; margin-bottom: 20px; }

#content .grid__img { text-align: center; }

#content .prod__title { font-size: 2em; margin-top: 15px; color: #333; min-height: 70px; }

.prod-list_densed .img__swap { margin: 0 auto; }

#content .prod__subtitle { font-size: 1.6em; color: #e20074; text-transform: uppercase; }

#content .more-info { font-size: 24px; margin-left: 20px; }

.cta__wrapper { text-align: center; float: left; }

.more-info__clearer { width: 100%; height: 1px; display: block; }

#content .more-info_vertical { margin: 10px 0 0 0; display: inline-block; }

@media screen and (max-width: 990px) { #content .grid__img_can-swap_2 img { width: 100%; } }

@media screen and (max-width: 770px) { #content .grid__content_2, #content .grid__img_can-swap_2 { width: 100%; }
  #content .grid__img_can-swap_2 img { width: auto; } }

@media screen and (max-width: 700px) { .img__swap { width: 100%; }
  .prod-list_densed .img__swap { width: auto; } }

@media screen and (max-width: 500px) { #content .grid__content { width: 100%; }
  .img__swap { width: auto; }
  #content .grid__img { display: none; } }

@media screen and (max-width: 360px) { .img__swap { width: 100%; } }

/* END OF STYLE FOR PRODUCTS */
/* STYLE FOR AT A GLANCE */
#content .at-a-glance { margin: 30px 0; min-height: 203px; }

#content .at-a-glance li { font-size: 16px; }

#content .at-a-glance li:before { content: ""; width: 10px; height: 10px; display: inline-block; background-color: #e20074; margin-right: 10px; }

/* END OF STYLE FOR AT A GLANCE */
/* =============== STYLE FOR SECTIONS =============== */
/* HERO SECTION */
.hero { background: url(../img/bg.jpg) no-repeat; background-size: cover; display: inline-block; width: 100%; }

/* PRODUCT LIST SECTION */
.prod-list { background: url(../img/bg.jpg) no-repeat; background-size: cover; display: inline-block; width: 100%; }

/* PRODUCT SPECS MAIN */
#content .prod-specs_main .section__title { margin-bottom: 0; padding-bottom: 0; }

#content .prod-specs_main .prod__subtitle { padding-bottom: 30px; }

#content .prod-specs_main .img__holder { text-align: left; }

#content .prod-specs_main .grid__col_8 { padding-left: 2%; }

.prod-specs_main .img__specs { width: 100%; max-width: 211px; }

.sec__item { margin-bottom: 18px; }

.spec__value { font-size: 1.6em; line-height: 1em; color: #999999; }

.spec__param { font-size: 1.4em; color: #333; }

@media screen and (max-width: 500px) { #content .prod-specs_main .grid__col_8 { width: 100%; }
  #content .prod-specs_main .grid__col_4 { width: 100%; padding-left: 0; }
  #content .prod-specs_main .img__holder { text-align: center; }
  .prod-specs_main .grid__content { margin: 15px 0 0 0; } }

/* FEATURE SECTION */
.feat_full-bg { background-size: cover; background-position-x: 50%; background-repeat: no-repeat; }

#content .feat__title { border: 0; font-size: 2em; text-transform: uppercase; }

#content .feat__desc { color: #333; }

#content .feat__desc_wht_mob { color: #fff; }

@media screen and (max-width: 600px) { #content .feat__desc_wht_mob { color: #333; } }

#content .feat__sub-title { font-size: 1.4em; }

.feat__item { width: 45%; }

.feat__item_right { float: right; }

.feat__item_left { float: left; }

.feat-img__holder { width: 45%; }

.feat-img__holder img { width: 100%; }

.feat-img__holder_right { float: right; }

.feat-img__holder_left { float: left; }

@media screen and (max-width: 600px) { #content .feat_full-bg { background-size: cover; background-position-y: 50%; background-repeat: no-repeat; padding: 20px 0 300px 0; }
  .feat__item { width: 100%; text-align: center; }
  .feat-img__holder { width: 100%; margin-top: 15px; } }

/* BACKGROUNDS FOR FEATURES */
/* PRODUCT 1 */
.prod-1.feat-1 { background-image: url(../img/Xperia_X_1.png); }

.prod-1.feat-2 { background-image: url(../img/Xperia_X_2.png); background-repeat: no-repeat; }

.prod-1.feat-3 { background-image: url(../img/Xperia_X_3.png); }

/*.prod-1.feat-4 {
    background-image: url(../img/Xperia_X_4.png);
}*/
.prod-1.feat-5 { background-image: url(../img/Xperia_X_5.png); }

.prod-1.feat-6 { background-image: url(../img/Xperia_X_6.png); }

/*.prod-1.feat-7 {
    background-image: url(../img/Xperia_X_7.png);
}*/
@media screen and (max-width: 600px) { .prod-1.feat-1 { background-image: url(../img/Xperia_X_1_mob.png); }
  .prod-1.feat-2 { background-image: url(../img/Xperia_X_2_mob.png); }
  .prod-1.feat-3 { background-image: url(../img/Xperia_X_3_mob.png); }
  /*  .prod-1.feat-4 { background-image: url(../img/Xperia_X_4_mob.png); }*/
  .prod-1.feat-5 { background-image: url(../img/Xperia_X_5_mob.png); }
  .prod-1.feat-6 { background-image: url(../img/Xperia_X_6_mob.png); }
  /*.prod-1.feat-7 { background-image: url(../img/Xperia_X_7_mob.png); }*/ }

/* PRODUCT 2 */
.prod-2.feat-1 { background-image: url(../img/Z5-Premium-Baner1.png); }

.prod-2.feat-3 { background-image: url(../img/Z5-Premium-Baner3.png); }

.prod-2.feat-4 { background-image: url(../img/Z5-Premium-Baner4.png); }

.prod-2.feat-5 { background-image: url(../img/Z5-Premium-Baner5.png); }

@media screen and (max-width: 600px) { .prod-2.feat-1 { background-image: url(../img/Z5-Premium-Baner1-mobile.jpg); }
  .prod-2.feat-3 { background-image: url(../img/Z5-Premium-Baner3-mobile.jpg); }
  .prod-2.feat-4 { background-image: url(../img/Z5-Premium-Baner4-mobile.jpg); }
  .prod-2.feat-5 { background-image: url(../img/Z5-Premium-Baner5-mobile.jpg); } }

/* PRODUCT 3 */
.prod-3.feat-1 { background-image: url(../img/Sony_Xperia_XA_1.png); }

.prod-3.feat-2 { background-image: url(../img/Sony_Xperia_XA_2.jpg); }

.prod-3.feat-3 { background-image: url(../img/Sony_Xperia_XA_3.png); }

.prod-3.feat-4 { background-image: url(../img/Sony_Xperia_XA_4.png); }

.prod-3.feat-5 { background-image: url(../img/Sony_Xperia_XA_5.png); }

.prod-3.feat-6 { background-image: url(../img/Sony_Xperia_XA_6.png); }

@media screen and (max-width: 600px) { .prod-3.feat-1 { background-image: url(../img/feature-mob_Sony_Xperia_XA_0000_1.png); }
  .prod-3.feat-2 { background-image: url(../img/feature-mob_Sony_Xperia_XA_0001_2.png); }
  .prod-3.feat-3 { background-image: url(../img/feature-mob_Sony_Xperia_XA_0002_3.png); }
  .prod-3.feat-4 { background-image: url(../img/feature-mob_Sony_Xperia_XA_0003_4.png); }
  .prod-3.feat-5 { background-image: url(../img/feature-mob_Sony_Xperia_XA_0004_5.png); }
  .prod-3.feat-6 { background-image: url(../img/feature-mob_Sony_Xperia_XA_0005_6.png); } }

/* PRODUCT 4 */
#sec-4 .feat-list__grid { text-align: center; }

.prod-4.feat-1 { background-image: url(../img/M5-Baner1.png); }

.prod-4.feat-2 { background-image: url(../img/M5-Baner2.png); }

.prod-4.feat-3 { background-image: url(../img/M5-Baner3.png); }

.prod-4.feat-4 { background-image: url(../img/M5-Baner4.png); }

.prod-4.feat-5 { background-image: url(../img/M5-Baner5.png); }

@media screen and (max-width: 600px) { .prod-4.feat-1 { background-image: url(../img/M5-Baner1-mobile.jpg); }
  .prod-4.feat-2 { background-image: url(../img/M5-Baner2-mobile.jpg); }
  .prod-4.feat-3 { background-image: url(../img/M5-Baner3-mobile.jpg); }
  .prod-4.feat-4 { background-image: url(../img/M5-Baner4-mobile.jpg); }
  .prod-4.feat-5 { background-image: url(../img/M5-Baner5-mobile.jpg); } }

/* FEAT LIST */
.feat-list { text-align: center; }

.feat-list__grid { padding: 0 1%; }

#content .feat-list__title { font-size: 22px; margin-top: 15px; }

@media screen and (max-width: 700px) { #content .feat-list__grid { width: 100%; max-width: 400px; margin: 0 auto 20px auto; float: none; } }

/* INFO STRIP */
#content .info__strip { background: #ededed; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 20px 0; }

#content .info__strip__title { display: inline; font-size: 22px; color: #333; text-transform: uppercase; margin-right: 20px; }

/* PRODUCT NAV */
#content .product__nav { background: #ededed; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc; padding: 20px 0; text-align: inherit; z-index: 20; position: relative; display: inline-block; width: 100%; }

#content .product__nav_mobile { left: 0; }

#content .product__nav img { width: 20px; float: right; }

#content .product__nav_link { margin-left: 5px; color: #000; }

.menu__link__content { display: inline; }

#content .scroll-to { color: #000; }

#content .scroll-to.active { color: #e20074; font-weight: 500; }

#content .product__nav_link, #content .menu a { font-size: 22px; text-transform: uppercase; }

#content .menu a { display: block; height: 49px; }

.product__nav .menu .link__text { margin: 14px 14px 0 0; display: inline-block; }

#content .product__nav .menu ul { padding: 0; margin: 0; }

.product__nav .menu ul li { display: inline-block; margin: 4px 14px 0 0; }

.product__nav .menuIcon { display: none; }

.product__nav .menuIcon a img { vertical-align: middle; }

@media only screen and (max-width: 870px) { .product__nav .menu ul li { width: 100%; margin: 4px 0 0 0; }
  .product__nav .menu .link__text { margin: 14px 0 0 57px; }
  .product__nav .menu { max-height: 0; overflow: hidden; float: none; width: 100%; -webkit-transition: max-height 0.5s; -moz-transition: max-height 0.5s; transition: max-height 0.5s; }
  .product__nav .menu.menuOpen { max-height: 1000px; -webkit-transition: max-height 0.5s; -moz-transition: max-height 0.5s; transition: max-height 0.5s; }
  .product__nav .menuIcon { display: inline-block; width: 100%; } }

@media only screen and (max-width: 500px) { #content .section .product__nav { text-align: left; } }

/* ICO */
#nav-icon { width: 50px; height: 26px; position: relative; display: inline-block; vertical-align: bottom; margin-top: 11px; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; }

#nav-icon div { display: block; position: absolute; height: 5px; width: 50%; background: #959595; opacity: 1; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out; }

#nav-icon div:nth-child(even) { left: 50%; }

#nav-icon div:nth-child(odd) { left: 0px; }

#nav-icon div:nth-child(1), #nav-icon div:nth-child(2) { top: 0px; }

#nav-icon div:nth-child(3), #nav-icon div:nth-child(4) { top: 10px; }

#nav-icon div:nth-child(5), #nav-icon div:nth-child(6) { top: 20px; }

#nav-icon.open div:nth-child(1), #nav-icon.open div:nth-child(6) { -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

#nav-icon.open div:nth-child(2), #nav-icon.open div:nth-child(5) { -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); }

#nav-icon.open div:nth-child(1) { left: 5px; top: 0px; }

#nav-icon.open div:nth-child(2) { left: calc(50% - 5px); top: 0px; }

#nav-icon.open div:nth-child(3) { left: -50%; opacity: 0; }

#nav-icon.open div:nth-child(4) { left: 100%; opacity: 0; }

#nav-icon.open div:nth-child(5) { left: 5px; top: 15px; }

#nav-icon.open div:nth-child(6) { left: calc(50% - 5px); top: 15px; }

/* VIDEO SECTION */
.videoWrapper { position: relative; padding-bottom: 56.25%; /* 16:9 */ padding-top: 25px; height: 0; }

.videoWrapper iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*# sourceMappingURL=maps/style.css.map */
