<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title"><b>ZRAĎTE<br />VYŠŠIU RÝCHLOSŤ S OPTIKOU UŽ AJ U VÁS DOMA!</b></h1>
            <a class="btn cta hero-cta" href="#">PREJSŤ NA OPTIKU</a><br />
            <a href="#" class="link hero-link">Viac info</a>
            <img src="../assets/img/hero-ec.png" alt="" class="ec-hero">
        </div>
    </div>
</section>

<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <h2 class="sec__title">AKO TO FUNGUJE</h2>

        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu">
                    <li class="variant current" data-variant="1"><a href="#tab-1">Magio internet</a></li>
                    <li class="variant" data-variant="2"><a href="#tab-2">Magio televízia</a></li>
                </ul>
            </div>
            <div class="tab">
                <div class="tab-content" id="tab-1">
                    <div class="row">
                        <div class="col-md-4 item">
                            <img src="../assets/img/ico-1.png" alt="">
                            <p class="item-title">Televízia s ešte kvalitnejším obrazom</p>
                            <p class="item-desc">Po prechode na optiku získate kvalitnejší obraz, vďaka čomu si vychutnáte obľúbené programy v sýtejších farbách a s ostrejšími detailami.</p>
                        </div>
                        <div class="col-md-4 item">
                            <img src="../assets/img/ico-2.png" alt="">
                            <p class="item-title">Prechod na optiku je jednoduchý!</p>
                            <p class="item-desc">Naši operátori vám radi poskytnú podrobnejšie informácie. Je to jednoduché – stačí, ak nám necháte kontakt:</p>
                            <div class="cmb-holder">
                                <a class="cmb-link" href="#" id="cmb-link1">Viac informácií telefonicky</a>
                            </div>
                            <a href="#" class="btn cta">VYPLNIŤ FORMULÁR</a>
                        </div>
                        <div class="col-md-4 item">
                            <img src="../assets/img/ico-3.png" alt="">
                            <p class="item-title">Prechod na optiku je bezplatný</p>
                            <p class="item-desc">Prechod na optiku je bezplatný a neplatíte nič navyše ani v mesačných poplatkoch. V prípade výmeny routera vám nový router doručí kuriér zadarmo a starý od vás preberie.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="tab-2">
                    <div class="row">
                        <div class="col-md-4 item">
                            <img src="../assets/img/ico-4.png" alt="">
                            <p class="item-title">Televízia s ešte kvalitnejším obrazom</p>
                            <p class="item-desc">Po prechode na optiku získate kvalitnejší obraz, vďaka čomu si vychutnáte obľúbené programy v sýtejších farbách a s ostrejšími detailami.</p>
                        </div>
                        <div class="col-md-4 item">
                            <img src="../assets/img/ico-2.png" alt="">
                            <p class="item-title">Prechod na optiku je jednoduchý!</p>
                            <p class="item-desc">Naši operátori vám radi poskytnú podrobnejšie informácie. Je to jednoduché – stačí, ak nám necháte kontakt:</p>
                            <div class="cmb-holder">
                                <a class="cmb-link" href="#" id="cmb-link2">Viac informácií telefonicky</a>
                            </div>
                            <a href="#" class="btn cta">VYPLNIŤ FORMULÁR</a>
                        </div>
                        <div class="col-md-4 item">
                            <img src="../assets/img/ico-3.png" alt="">
                            <p class="item-title">Prechod na optiku je bezplatný</p>
                            <p class="item-desc">Prechod na optiku je bezplatný a neplatíte nič navyše ani v mesačných poplatkoch. V prípade výmeny routera vám nový router doručí kuriér zadarmo a starý od vás preberie.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row info-row">
            <div class="col-md-12"><p class="info-1"> Ak máte Magio internet, aj Magio televíziu, stačí o prechod na optiku požiadať raz.</p></div>
        </div>
    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <h2 class="sec__title">VÝHODY MAGIO INTERNETU A TELEVÍZIE</h2>

        <div class="row">
            <div class="col-md-5">
                <div class="vert-items">
                    <p class="item-title">Magio internet</p>
                    <p class="item-desc">Je spoľahlivý, bezpečný a ideálny internet na doma. Umožňuje surfovanie viacerých ľudí naraz na viacerých zariadeniach bez časových a dátových obmedzení.</p>
                    <a href="#" class="item-link">Pozrieť viac informácií</a>
                </div>
                <div class="vert-items">
                    <p class="item-title">Magio televízia</p>
                    <p class="item-desc">Má v ponuke až 113 TV staníc vrátane staníc v HD kvalite, exkluzívnych športových staníc Digi či detskej Ťuki televízie. K Magio TV získate aj internetovú televíziu Magio GO zadarmo.</p>
                    <a href="#" class="item-link">Pozrieť viac informácií</a>
                </div>
            </div>
            <div class="col-md-7 prod-img-holder">
                <img class="prod-img" src="../assets/img/products.png" alt="">
            </div>
        </div>

    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
