<!-- phone-num -->
<div class="row" ng-show="$ctrl.msid">
    <div class="col-md-12 phone-num__wrap">
        <p class="sec__desc text_centered">
            Kalkulácia pre číslo
            <span class="phone-num">{{ $ctrl.msid }}</span>
            <!-- TODO -->
            <!-- Dorobit zmenit btn -->
            <a href="#" class="change-num">Zmeniť</a>
        </p>
    </div>
</div>