/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

#content .section__title {
    text-align: center;
    font-size: 1.8em;
}
.section {
    padding: 30px 0;
}

/* HERO */

#hero {
    padding: 40px 2%;
}
#content .hero__content {
    text-align: center;
}
#content .hero__title {
    color: $magenta;
    font-size: 2em;
    margin-top: 80px;
}
#content .hero__title b {
    font-weight: 900;
}
#hero .button {
    margin-bottom: 10px;
}
.hero__img img {
    max-width: 543px;
    width: 100%;
}
@media screen and (max-width: 800px) {
    #content .hero__title {
        margin-top: 0;
    }
}
@media screen and (max-width: 500px) {
    .hero__img {
        display: none;
    }
    #hero .grid__col_6 {
        width: 100%;
    }
}

/* SEC 1 */

.sec-1 {
    background: url(../img/sec-bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}
#content .points {
    text-align: center;
    position: relative;
}
#content .points__title {
    font-weight: bold;
    margin-bottom: 0;
}
#content .points__detail {
    margin-top: 0;
}
#content .points__link {
    font-size: 16px;
}
.points.arrows:before,
.points.arrows:after {
    content: "";
    background: url(../img/point-arrow.png) no-repeat;
    width: 90px;
    height: 61px;
    display: block;
    position: absolute;
    top: 0;
}
.points.arrows:before {
    left: -50px;
}
.points.arrows:after {
    right: -42px;
}
@media screen and (max-width: 600px) {
    #content .points {
        width: 100%;
    }
    .points.arrows:before,
    .points.arrows:after {
        display: none;
    }
    .points.arrows {
        margin: 10px 0;
    }
}

/* SEC 2 */

#content .info__title {
    font-weight: bold;
    margin-bottom: 0;
}
#content .info__desc {
    margin-top: 0;
}
#content .features:first-of-type {
    text-align: center;
}
#content .feature__img {
    max-width: 398px;
    width: 100%;
}

.device-controls {
    text-align: center;
}

.device-controls img,
.device-controls_upper img{
    width: 90px;
}

@media screen and (max-width: 600px) {
    #content .features {
        width: 100%;
    }
}

/* SEC 3 */

.sec-3 {
    background: #f2f2f5;
}
#content .sec__img {
    text-align: center;
}
#content .sec__img img {
    width: 100%;
}
#content .param {
    width: 19%;
    margin: 0 0.5%;
    float: left;
    text-align: center;
}
#content .param:first-of-type {
    margin: 0 0.5% 0 0;
}
#content .param:last-of-type {
    margin: 0 0 0 0.5%;
}
#content .param__title {
    font-weight: bold;
    margin-bottom: 0;
}
#content .param__desc {
    margin-top: 0;
}

.disclaimer {
    border-top: 1px solid #8b8b8b;
    margin-top: 20px;
    padding-top: 10px;
}

#content .disclaimer__title {
    text-decoration: underline;
}

#content .disclaimer__title a {
    color: $tundora;
}

#content .disclaimer__title,
#content .disclaimer__desc {
    font-size: 14px;
}

@media screen and (max-width: 500px) {
    #content .param {
        width: 49%;
        margin: 0 0.5%;
        min-height: 140px;
    }
}

/* WINNERS */

#winners {
    display: none;
}

#content .link_ul {
    text-decoration: underline;
}

body .fancybox-wrap {
    min-width: 400px;
}