<section id="hero">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6 hero__content">
                <h1 class="hero__title font_black">
                    MOBIL AKO DARČEK!</h1>
                <!-- <h2 class="hero_subtitle font_black"></h2> -->
                <div class="hero_desc">
                    <p class="no-space">
                        Mobil ako darček získate, ak si vezmete akýkoľvek paušál Happy spolu s novým mobilom alebo notebookom či Xboxom. Zistite viac:</p>
                    <ul class="spec-list spec-list-hero">
                        <li data-type="gift">
                            <a class="scroll-to url-link" href="#sec-1">2 mobily za cenu 1</a></li>
                        <li data-type="gift">
                            <a class="scroll-to url-link" href="#sec-2">mobil ako darček k notebooku</a></li>
                        <li data-type="gift">
                            <a class="scroll-to url-link" href="#sec-3">mobil ako darček k Xboxu</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">2 MOBILY ZA CENU 1</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">MOBIL K NOTEBOOKU</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">MOBIL K XBOXU</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<div class="section-bg">
    <section class="section sec-1" id="sec-1">
        <div class="container-fixed">
            <div class="row">
                <div class="sale_row-1">
                    <div class="col-md-10 offset-md-1 fullWidthBox">
                        <div class="row ">
                            <div class="col-md-6">
                                <h2 class="sale__title">
                                    2 MOBILY ZA CENU 1</h2>
                                <p>
                                    &nbsp;</p>
                                <ul class="spec-list spec-list-num">
                                    <li data-type="one">
                                        Vyberte si paušál Happy podľa svojich predstáv.
                                        <br />
                                        <a class="search-ico url-link lightbox happy-l-tip" href="#lightbox-2mob">Pozrieť príklad s Happy L</a></li>
                                    <li data-type="two">
                                        Vložte do košíka dvojicu mobilov Huawei P9 lite + <span class="bold">Huawei Y5 II, ktorý vám dáme ako darček!</span></li>
                                    <li data-type="three">
                                        <!-- Navyše získate <span class="info-link external_battery">externú batériu</span> a  -->Objednávku vám doručíme bezplatne kuriérom.</li>
                                </ul>
                                <p>
                                    &nbsp;</p>
                                <span class="iblock"><a class="button button_lima scroll-to" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/Huawei_P9_lite_Huawei_Y5_II">VYBRAŤ PAUŠÁL</a></span></div>
                            <div class="col-md-6 text_centered mgt-m20">
                                <div class="col-md-6">
                                    <img alt="Externá batéria" class="responsive-img" src="../assets/img/p9lite.png" />
                                    <p>
                                        <span class="tooltip huaweip9-tip">Huawei P9 lite</span></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="ec-holder-r">
                                        <img alt="" class="ec-gift" src="../assets/img/ec-gift.png" /></div>
                                    <div class="img-holder">
                                        <img alt="Externá batéria" class="responsive-img" src="../assets/img/y5ii.png" />
                                        <p>
                                            <span class="tooltip huaweiy5-tip">Huawei Y5 II</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section sec-2" id="sec-2">
        <div class="container-fixed">
            <div class="row">
                <div class="sale_row-1">
                    <div class="col-md-10 offset-md-1 fullWidthBox">
                        <div class="row ">
                            <div class="col-md-6">
                                <h2 class="sale__title">
                                    MOBIL AKO DARČEK<br />
                                    K NOTEBOOKU</h2>
                                <p>
                                    &nbsp;</p>
                                <ul class="spec-list spec-list-num">
                                    <li data-type="one">
                                        Vyberte si paušál Happy podľa svojich predstáv.
                                        <br />
                                        <a class="search-ico url-link lightbox happy-l-tip" href="#lightbox-nb">Pozrieť príklad s Happy L</a></li>
                                    <li data-type="two">
                                        Vložte do košíka dvojicu zariadení – notebook Lenovo IdePad 110s + <span class="bold">mobil Lenovo C2, ktorý vám dáme ako darček!</span></li>
                                    <li data-type="three">
                                        <!-- Navyše získate <span class="info-link info-link-2 external_battery">externú batériu</span> a  -->Objednávku vám doručíme bezplatne kuriérom.</li>
                                </ul>
                                <p>
                                    &nbsp;</p>
                                <span class="iblock"><a class="button button_lima scroll-to" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/Lenovo_IdeaPad_100s_Lenovo_C2">VYBRAŤ PAUŠÁL</a></span></div>
                            <div class="col-md-6 text_centered mgt-m20 ">
                                <div class="ec-holder-r">
                                    <img alt="" class="ec-gift responsive-img" src="../assets/img/ec-gift-c2.png" /></div>
                                <img alt="Externá batéria" class="responsive-img" src="../assets/img/notebook.png" />
                                <p class="info-holder">
                                    <span class="tooltip link-1 lenovo100s-tip">Lenovo IdeaPad 110s</span> <span class="tooltip link-2 lenovoc2-tip">Lenovo C2</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section sec-3" id="sec-3">
        <div class="container-fixed">
            <div class="row">
                <div class="sale_row-1">
                    <div class="col-md-10 offset-md-1 fullWidthBox">
                        <div class="row ">
                            <div class="col-md-6">
                                <h2 class="sale__title">
                                    MOBIL AKO DARČEK<br />
                                    K XBOXU</h2>
                                <p>
                                    &nbsp;</p>
                                <ul class="spec-list spec-list-num">
                                    <li data-type="one">
                                        Vyberte si paušál Happy podľa svojich predstáv.
                                        <br />
                                        <a class="search-ico url-link lightbox happy-xl-tip" href="#lightbox-xbox">Pozrieť príklad s Happy XL</a></li>
                                    <li data-type="two">
                                        Vložte do košíka dvojicu zariadení – hernú konzolu Xbox One S 500 GB + hra Minecraft + <span class="bold">mobil CoolPad Porto S, ktorý vám dáme ako darček!</span></li>
                                    <li data-type="three">
                                        <!-- Navyše získate <span class="info-link info-link-2 external_battery">externú batériu</span> a  -->Objednávku vám doručíme bezplatne kuriérom.</li>
                                </ul>
                                <p>
                                    &nbsp;</p>
                                <span class="iblock"><a class="button button_lima scroll-to" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/Xbox_One_S_Minecraft_Favorites_Coolpad_Porto_S">VYBRAŤ PAUŠÁL</a></span></div>
                            <div class="col-md-6 text_centered mgt-m20 ">
                                <div class="ec-holder-r">
                                    <img alt="" class="ec-gift responsive-img" src="../assets/img/ec-gift-porto.png" /></div>
                                <img alt="Externá batéria" class="responsive-img" src="../assets/img/xbox.jpg" />
                                <p class="info-holder">
                                    <span class="tooltip link-1 xbox-tip">Xbox One S 500 GB + hra Minecraft</span> <span class="tooltip link-2 coolpad-tip">CoolPad Porto S</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section sec-4" id="sec-4">
        <div class="container-fixed">
            <div class="row">
                <div class="sale_row-1">
                    <div class="col-md-10 offset-md-1 fullWidthBox-h">
                        <div class="row ">
                            <h2>
                                TÚŽITE PO INOM MOBILE ČI TABLETE?</h2>
                            <p>
                                Využite zľavu až 100 € na mobil, tablet, wearables alebo iné zariadenie z našej ponuky.
                                <br />
                                <span class="bold">Pri uplatnení máte dve možnosti:</span></p>
                            <div class="col-md-6">
                                <div class="col-md-4 text_centered">
                                    <img alt="" src="../assets/img/zlava50.png" /></div>
                                <div class="col-md-8">
                                    <p>
                                        Zľava 50 € sa dá uplatniť len na neakciové cenu zariadenia.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-4 text_centered">
                                    <img alt="" src="../assets/img/zlava100.png" /></div>
                                <div class="col-md-8">
                                    <p>
                                        Zľava 100 € sa dá uplatniť z kúpnej ceny alebo druhej časti mesačného poplatku paušálu Happy.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <a class="button button_grey" href="/objednavka/-/scenario/e-shop/happy"><span>PREJSŤ NA PAUŠÁLY HAPPY</span> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="section sec-5" id="sec-5">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="podmienky-holder">
                    <p>
                        <a href="#" onclick="$('#podmienky').slideToggle(); return false;">Podmienky Dvojičky zariadení</a></p>
                    <div id="podmienky" style="display:none">
                        <p>
                            Účastníkovi, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XS a vyšším, s kúpou akciového mobilného telefónu Huawei P9 Lite, Lenovo IdeaPad 110s alebo Xbox One S 500 GB + hra Minecraft, s viazanosťou aspoň na 24 mesiacov (ďalej len „Základný Dodatok“), vzniká nárok na kúpu ďalšieho zariadenia za zvýhodnenú kúpnu cenu 0,04 € s DPH (ďalej len „Zariadenie“), a to výlučne v kombinácii (i) Huawei P9 Lite s Huawei Y5 II alebo (ii) Lenovo IdeaPad 110s s Lenovo C2 alebo (iii) Xbox One S 500 GB + hra Minecraft s Coolpad Porto S. Túto ponuku môže Účastník využiť najneskôr pri podpise Základného Dodatku, inak nárok Účastníka zaniká. V prípade využitia práva Účastníka na odstúpenie od Základného Dodatku do 14 dní od jeho uzavretia podľa zákona č. 102/2014 Z. z. je Účastník povinný z titulu bezdôvodného obohatenia vrátiť všetko, čo na základe tohto Základného Dodatku prijal, vrátane poskytnutého Zariadenia. Túto ponuku nie je možné kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do vypredania zásob alebo 31. 1. 2017.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 1 -->
<div class="modal-holder lightbox-area" id="lightbox-2mob">
    <h2 class="lightbox-title">
        PAUŠÁL HAPPY L</h2>
    <p class="lightbox-desc">
        &nbsp;</p>
    <ul class="spec-list">
        <li>
            Mesačný poplatok:<span class="list-right"> 29,99 €</span></li>
    </ul>
    <p>
        &nbsp;</p>
    <h2 class="lightbox-title">
        + Huawei p9 lite<br />
        a Huawei Y5 II ako darček</h2>
    <p class="lightbox-desc">
        &nbsp;</p>
    <ul class="spec-list">
        <li class="linetrough">
            ■ na predajni <span class="list-right">39,04 €</span></li>
        <li>
            ■ na webe <span class="list-right">iba 19,04 €</span></li>
        <li>
            ■ mesačný doplatok k paušálu: <span class="list-right">3,00 €</span></li>
    </ul>
    <p>
        &nbsp;</p>
    <p class="lightbox-desc disclaimer bordet-t">
        Uvedené ceny platia v kombinácii s paušálom Happy L, za
        <br /> ktorý je mesačný poplatok 29,99 €. Ceny sa menia v závislosti
        <br /> od paušálu, ktorý si vyberiete.</p>
    <a class="button button_lima" href="#">VYBRAŤ PAUŠÁL HAPPY</a>
    <p class="mgt-10">
        <a class="popup-modal-dismiss " href="#">Zavrieť okno</a></p>
</div>
<!-- 2 -->
<div class="modal-holder lightbox-area" id="lightbox-nb">
    <h2 class="lightbox-title">
        PAUŠÁL HAPPY L</h2>
    <p class="lightbox-desc">
        &nbsp;</p>
    <ul class="spec-list">
        <li>
            Mesačný poplatok:<span class="list-right"> 29,99 €</span></li>
    </ul>
    <p>
        &nbsp;</p>
    <h2 class="lightbox-title">
        + LENOVO IDEAPAD 110S<br />
        A LENOVO C2</h2>
    <p class="lightbox-desc">
        &nbsp;</p>
    <ul class="spec-list">
        <li class="linetrough">
            ■ na predajni <span class="list-right">39,04 €</span></li>
        <li>
            ■ na webe <span class="list-right">iba 19,04 €</span></li>
        <li>
            ■ mesačný doplatok k paušálu: <span class="list-right">3,00 €</span></li>
    </ul>
    <p>
        &nbsp;</p>
    <p class="lightbox-desc disclaimer bordet-t">
        Uvedené ceny platia v kombinácii s paušálom Happy L, za
        <br /> ktorý je mesačný poplatok 29,99 €. Ceny sa menia v závislosti
        <br /> od paušálu, ktorý si vyberiete.</p>
    <a class="button button_lima" href="#">VYBRAŤ PAUŠÁL HAPPY</a>
    <p class="mgt-10">
        <a class="popup-modal-dismiss " href="#">Zavrieť okno</a></p>
</div>
<!-- 3 -->
<div class="modal-holder lightbox-area" id="lightbox-xbox">
    <h2 class="lightbox-title">
        PAUŠÁL HAPPY XL</h2>
    <p class="lightbox-desc">
        &nbsp;</p>
    <ul class="spec-list">
        <li>
            Mesačný poplatok:<span class="list-right"> 39,99 €</span></li>
    </ul>
    <p>
        &nbsp;</p>
    <h2 class="lightbox-title">
        + XBOX ONE S 500 GB + HRA MINECRAFT<br />
        A COOLPAD PORTO S</h2>
    <p class="lightbox-desc">
        &nbsp;</p>
    <ul class="spec-list">
        <li class="linetrough">
            ■ na predajni <span class="list-right">19,04 €</span></li>
        <li>
            ■ na webe <span class="list-right">iba 1,00 €</span></li>
        <li>
            ■ mesačný doplatok k paušálu: <span class="list-right">4,00 €</span></li>
    </ul>
    <p>
        &nbsp;</p>
    <p class="lightbox-desc disclaimer bordet-t">
        Uvedené ceny platia v kombinácii s paušálom Happy XL, za
        <br /> ktorý je mesačný poplatok 39,99 €. Ceny sa menia v závislosti
        <br /> od paušálu, ktorý si vyberiete.</p>
    <a class="button button_lima" href="#">VYBRAŤ PAUŠÁL HAPPY</a>
    <p class="mgt-10">
        <a class="popup-modal-dismiss " href="#">Zavrieť okno</a></p>
</div>
<script type="text/javascript" src="../assets/js/main.js"></script>
