/* ===============
   CSS FOR MICROSITE
   =============== */

.c-content {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

#magenta__app {
    text-align: center;
}

#magenta-menu ul {
    display: block;
    margin: 0;
    z-index: 100;
}

#sec-2 {
    min-height: 600px;
    height: 100%;
    padding-top: 15px;
}

.mob__kv {
    display: none;
}

#sec-2 .dynamicFormMain {
    width: 100%;
    max-width: 600px;
    padding: 26px;
    position: absolute;
    top: 0;
    z-index: 100;
    margin: 0 auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

#sec-2 .formCloseBtn.close-icon {
    color: #e20074;
    position: absolute;
    top: 0;
    right: 0;
}

#sec-2 .formCloseBtn.close-icon i {
    font-size: 25px;
}

#sec-2 .dynamicFormMain ul {
    margin: 0;
}

#sec-2 .dynamicFormMain .pos-top {
    position: absolute;
    top: -5000px;
}

#sec-2 .dynamicFormSubFields {
    text-align: center;
}

#sec-2 .formComposition label.labelField {
    width: 100%;
    min-width: 100%;
}

#sec-2 .formCompositionRenderDisplay h2,
#sec-2 .pageNameField,
#sec-2 .dynamicFormPages {
    display: none;
}

#sec-2 li.dynamicFormItemBox {
    margin: 0;
    padding: 0;
}

body .button.qtip-button {
    font-size: 16px;
    height: 33px;
    line-height: 33px;
    margin-top: 8px;
}

body .qtip-custom-blue {
    margin-top: 8px;
    color: #3ec0f0;
    display: inline-block;
}

#sec-2 .calc__title {
    margin: 18px 2% 0 2%;
    padding: 0;
    width: 96%;
    font-size: 30px;
    text-transform: uppercase;
}

#sec-2 #magenta-menu {
    margin: 1em;
    display: inline-block;
}

#sec-2 #magenta-menu ul ul {
    position: relative;
    margin: 0 !important;
}

#sec-2 #magenta-menu ul ul li {
    background: #d0d0d0;
}

#sec-2 #magenta-menu > li {
    min-width: 144px;
    min-height: 45px;
}

.sub-arrow {
    display: none;
}

#sec-2 #magenta-menu > li a {
    padding: 14px 0;
    text-align: center;
}

#sec-2 #magenta-menu > li.double-line > a {
    padding: 6px 20px 3px 20px;
    text-align: center;
    line-height: 18px;
    white-space: normal;
    width: 144px;
}

#sec-2 #magenta-menu > li.double-line > a.button {
    padding: 4px 20px 5px 20px;
}

.sm-simple ul ul > li {
    border-top: 1px solid #bbbbbb;
}

#sec-2 #magenta-menu ul ul li a {
    color: #4b4b4b;
}

#sec-2 #magenta-menu ul ul li a:hover {
    background: transparent;
    color: #262626;
}

#sec-2 .productHolder,
#sec-2 .priceHolders {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 11px 0;
    font-size: 16px;
    line-height: 21px;
    background-color: #fff;
    text-align: center;
}

.disabled,
#sec-2 .button.disabled {
    background-color: #a7a7a7;
}

.disabled a:hover {
    background: transparent;
    cursor: default;
}

#sec-2 .button.disabled {
    border-color: #a7a7a7;
    cursor: default;
}

#sec-2 .price {
    margin: 0;
    padding: 11px 20px;
    color: #4b4b4b;
    height: 45px;
    line-height: 22px;
    text-align: center;
    background-color: #ededed;
    width: 14vw;
}

#sec-2 .button-buy {
    height: 45px;
    width: 144px;
    line-height: 17px;
}

.lightbox-cover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    right: 0;
}

.priceHolder2 {
    float: left;
    font-size: 16px;
    color: #4b4b4b;
    background-color: #ffffff;
    text-align: left;
    padding-left: 0;
}

.priceHolder2 {
    width: 100%;
    float: right;
    padding: 0px 0;
    text-align: center;
    position: absolute;
    line-height: 100%;
    display: block;
}

@media (max-width: 1052px) {
    #sec-2 {
        background-image: none;
        background-color: #e6e6e6;
        height: auto;
    }
    .mob__kv {
        background: url(../img/bg-main.jpg) no-repeat top center;
        background-size: cover;
        display: block;
        height: 170px;
        width: 100%;
    }
    #sec-2 .calc__title {
        font-size: 24px;
    }
    #sec-2 #magenta-menu {
        width: 96%;
        margin: 1em 2%;
    }
    #sec-2 #magenta-menu > li,
    #sec-2 #magenta-menu > li.double-line > a {
        width: 100%;
    }
    #sec-2 #magenta-menu ul {
        margin: 0;
    }
    #sec-2 .productHolder,
    #sec-2 .priceHolder {
        position: relative;
    }
    #sec-2 .button-buy {
        width: 100%;
    }
    #sec-2 #magenta-menu > li a,
    #sec-2 #magenta-menu > li.double-line > a {
        text-align: left;
        padding-left: 14px;
    }
    #sec-2 #magenta-menu > li.double-line > a,
    #sec-2 #magenta-menu > li.double-line > a.button {
        padding: 14px 0 14px 14px;
    }
    #sec-2 #magenta-menu > li a.button,
    #sec-2 #magenta-menu > li.double-line > a.button {
        text-align: center;
    }
    #sec-2 .price,
    #sec-2 .priceHolders {
        width: 60%;
        float: left;
        color: #e20074;
        font-size: 22px;
        text-align: left;
        padding-left: 0;
    }
    #sec-2 .priceHolders {
        width: 40%;
        float: right;
        padding: 12px 0;
        text-align: right;
    }
    .sub-arrow {
        display: block;
    }
    #bubliny {
        display: none;
    }
    #skupina {
        display: none;
    }
}

.half-main {
    display: flex;
}

.half {
    width: 129px;
    text-align: center;
    margin: 0;
    background-color: #ffffff;
    float: left;
    color: #4b4b4b;
}

.half-left,
.half-right {
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d0d0;
}

.half-middle {
    width: 1px;
    border-right: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 20px;
}

.half-desc {
    border-bottom: 1px solid #d0d0d0;
}

.half p {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.half .price-row {
    line-height: 140%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
    border-top: 1px solid #d0d0d0;
}

.half .price-row:first-child {
    border-top: none;
}

.kosik-hw {
    margin-top: 5px;
    margin-bottom: 19px;
}

.hw-check {
    cursor: pointer;
}

.full {
    width: 100%;
    text-align: center;
    display: block;
    height: auto;
    margin: 0px !important;
    border-left: 0px solid #d0d0d0;
    background-color: #ffffff;
    float: left;
    color: #4b4b4b;
}

.full:first-child {
    border-left: 0px solid #d0d0d0;
}

.full p {
    border-bottom: 1px solid #d0d0d0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.full-price1,
.full-price2 {
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 100%;
}

.full-price1 {
    color: #e20074 !important;
}

.full-price2 {
    color: #ffffff !important;
    background-color: #e20074 !important;
}

.full-price-left,
.full-price-right {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    vertical-align: top;
}

.full-price-left {
    text-align: left;
    float: left;
}

.full-price-right {
    text-align: right;
    float: right;
}

.itemHolder,
.itemHolder2,
.itemHolder3,
.itemHolder4,
.itemHolder5,
.itemHolder6 {
    display: inline-block;
    text-align: left;
    padding-left: 5px;
    height: auto !important;
    width: 100%;
}

.zaujem {
    background-color: #6bb324 !important;
    border: none !important;
    margin: 10px !important;
}

.left {
    display: inline-block;
    float: left;
}

.right {
    display: inline-block;
    float: right;
    padding-right: 5px;
}

.skselected {
    background-color: #eeeeee !important;
}

.portlet-body .journal-content-article .sec-2 h2 {
    padding-bottom: 0;
    margin-bottom: 5px;
}


/* =============== CSS FOR MICROSITE =============== */


/* GLOBALS */

.section {
    padding: 80px 0 60px 0;
}

#content .sec__title {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (max-width: 430px) {
    #content .sec__title {
        font-size: 28px;
    }
}


/* HERO */

#hero {
    background: url(../img/kv_v3.png) no-repeat 50% 50%;
    background-size: cover;
    padding: 80px 0;
}

#content .hero__title {
    font-size: 38px;
    text-align: center;
}

#content .hero__title b {
    font-weight: 900;
}

@media screen and (max-width: 600px) {
    #hero {
        background-position: 34% 50%;
    }
}


/* SEC-1 */

.how-to {
    text-align: center;
    margin-right: 2%;
    position: relative;
}

.how-to:nth-of-type(2):before,
.how-to:nth-of-type(2):after {
    content: '';
    background: url(../img/ico-arrow.png) no-repeat;
    width: 63px;
    height: 47px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -27px;
}

.how-to:nth-of-type(2):after {
    left: auto;
    right: -16px;
}

.how-to:last-of-type {
    margin-right: 0;
}

#content .how-to__title {
    font-size: 20px;
    color: #e20074;
    margin-bottom: 0;
}

#content .how-to__desc {
    margin-top: 0;
}

.how-to-links {
    text-align: center;
}

#content .how-to-links a {
    display: inline-block;
}

#content .how-to-links .link {
    margin-top: 10px;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .how-to:nth-of-type(2):before,
    .how-to:nth-of-type(2):after {
        display: none;
    }
    #content .how-to {
        width: 100%;
        margin: 0 0 20px 0;
    }
}


/* SEC-2 */


/*
.sec-app {
    background: url(../img/bg-app.jpg) no-repeat 50% 50%;
    padding: 40px 0 50px 0;
}
*/


/* SEC-3 */

.sec-3 {
    padding: 50px 0 70px 0;
    background-color: #f2f2f2;
}

#content .sec-3 p {
    margin: 0;
}

.eqWrap {
    display: flex;
    justify-content: center;
}

.benefit-box {
    background-color: #fff;
    max-width: 380px;
    margin-right: 2%;
    text-align: center;
    padding: 30px;
    justify-content: space-between;
}

.benefit-box:last-of-type {
    margin-right: 0;
}

#content p.bb__maintitle {
    font-size: 24px;
    text-transform: uppercase;
    color: #e20074;
    margin: 20px 0;
}

#content p.bb__title {
    font-weight: bold;
    margin-bottom: 10px;
}

#content p.margin-top-15 {
    margin-top: 15px;
}

#content .info {
    color: #4b4b4b;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .eqWrap {
        display: inline-block;
    }
    #content .benefit-box {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
    #content .benefit-box:last-of-type {
        margin: 0;
    }
}


/* SEC-4 */

.faq {
    padding: 35px;
    border: 1px solid #e6e6e6;
}

.faq__img {
    max-width: 125px;
    width: 100%;
}

#content .faq__maintitle {
    color: #e20074;
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0;
}

.faq__item {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.faq__item:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#content .faq__title,
#content .faq__desc {
    margin: 0;
}

#content .faq__title {
    color: #007faf;
    text-decoration: underline;
}

#content .faq__desc_red {
    color: #c61818;
}

#content ul.faq__list {
    list-style: square;
    margin: 0 0 0 50px;
}

#content ul.faq__list li {
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    #content .faq .grid-g__col_2 {
        display: none;
    }
    #content .faq .grid-g__col_10 {
        width: 100%;
    }
}

#skupina {
    position: absolute;
    top: 130px;
    left: 0;
    width: 190px;
    background-color: rgba(255, 255, 255, 0.8);
    min-height: 55px;
    padding-bottom: 10px;
}

.skupina {
    padding: 10px;
    position: relative;
}

.skupina .check-img,
.skupina .check-text {
    vertical-align: top;
}

.skupina .check-img {
    position: absolute;
    top: 10px;
    cursor: pointer;
}

.hw-check .checked,
.checked.hw-check,
.hw-check.checked {
    width: 15px;
    height: 15px;
    background: url(../img/checkbox_on15.png) no-repeat top center;
    float: right;
    margin-right: 5px;
}

.hw-check {
    width: 15px;
    height: 15px;
    background: url(../img/checkbox_off15.png) no-repeat top center;
    float: right;
    margin-right: 5px;
}

.hw-check-desc {
    float: left;
    margin-top: -1px;
    margin-left: 5px;
}

#skupina-check .checked,
.checked#skupina-check,
#skupina-check.checked {
    width: 30px;
    height: 30px;
    background: url(../img/checkbox_on.png) no-repeat top center;
}

#skupina-check,
#hw-check {
    width: 30px;
    height: 30px;
    background: url(../img/checkbox_off.png) no-repeat top center;
}

.checked.skupina-subcheck,
.skupina-subcheck.checked {
    width: 20px;
    height: 20px;
    background: url(../img/checkbox_on20.png) no-repeat top center;
}

.skupina-subcheck {
    width: 20px;
    height: 20px;
    background: url(../img/checkbox_off20.png) no-repeat top center;
}

.skupina-subcheck,
.skupina-subcheck-desc {
    vertical-align: top;
    display: inline-block;
}

.skupina-subcheck-desc {
    margin-left: 5px;
}

.skupina .check-text {
    position: absolute;
    left: 45px;
    top: 5px;
    color: #e20074;
    font-size: 16px;
    line-height: 18px;
    padding-top: 4px;
}

.skupina-mame {
    margin-top: 40px;
    margin-left: 10px;
}

.skupina-button {
    text-align: center;
    background-color: #f6f6f6;
    height: 43px;
    width: 170px;
    padding-top: 10px;
    border-bottom: 1px solid #e6e6e6;
    display: none;
    cursor: pointer;
}

.internet-main,
.televizia-main,
.pevna-main,
.happy-main {
    background-color: #e3e3e3;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #d3d3d4;
    display: block;
}

.bublina {
    display: none;
    position: absolute;
}

.bublina-pevna {
    top: 110px;
    left: 360px;
}

.bublina-internet {
    top: 90px;
    left: 280px;
}

.bublina-tv {
    top: 90px;
    left: 490px;
}

.bublina-happy {
    top: 90px;
    left: 390px;
}

#content #magenta-menu > li {
    min-width: 134px;
}

#content #magenta-menu > li:last-child {
    min-width: 240px !important;
}

#content .price {
    width: 260px;
}

.itemHolder2 {
    /*height: 40px!important;*/
    position: relative;
}

.bublina-desc {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}

.page .bublina-desc p {
    margin: 3px 0;
    line-height: 100%;
    color: #fff;
}

.page .bublina-desc p:first-child {
    margin: 7px 0;
    font-weight: bold;
}

.bublina-pevna img {
    width: 230px;
    height: 100%;
}

.bublina-happy img {
    width: 290px;
    height: 100%;
}

.desc-internet-m,
.desc-internet-l,
.desc-internet-x {
    padding-top: 30px;
}

.desc-internet-1,
.desc-internet-2 {
    padding-top: 30px;
}

.desc-tv-3 {
    padding-top: 15px;
}

.desc-tv-m {
    padding-top: 20px;
}

.desc-tv-l {
    padding-top: 10px;
}

.desc-pevna-m {
    padding-top: 20px;
}

.desc-pevna-l {
    padding-top: 30px;
}

.desc-pevna-x {
    padding-top: 20px;
}

#bublina-happy {
    padding-top: 10px;
}