<section id="hero">
    <div class="container-fixed">
        <div class="row hero-row text_centered">
            <div class="hero-box">
                <h2 class="hero-title"><span class="text_bold">Pozrite sa na svet inak</span><br>
                    Viasat kanály na Magio TV</h2>
                <a href="#sec-1" class="button button_lima scroll-to">mám záujem</a>
            </div>
        </div>
    </div>
</section>
<!--  sec-1 -->
<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="row channel-row">
            <div class="col-xs-12 col-md-2 offset-md-1 text_centered">
                <img class="responsive-image" src="../assets/img/logo1.png">
            </div>
            <div class="col-xs-12 col-md-6 text_centered">
                <h3 class="section_title font_black">Viasat Nature</h3>
                <p class="section_desc">Nechajte sa unášať príbehmi divokej prírody v celej jej nádhere. Neuveriteľné zábery z celého sveta vám ponúknu nezvyčajný pohľad na život, kde je človek iba hosťom.</p>
            </div>
        </div>
        <!-- img left -->
        <div class="row programm-row text_centered">
            <h3 class="section_title font_black mgb-30">NOVé SERIÁLY</h3>
            <div class="col-xs-12 col-md-4 feature-img-left">
                <img class="responsive-image" src="../assets/img/feat-01.jpg">
                <img class="responsive-image-ec ec-date-right" src="../assets/img/feat-01-ec.png">
            </div>
            <div class="col-xs-12 col-md-6 text_centered gray-box">
                <h3 class="section_title">DRAVÍ!</h3>
                <p class="section_desc">Prírodovedec Steve Backshell hľadá najdivokejšie zvieratá na svete, ktoré by ste nechceli nikdy strenúť. Najsilnejších predátorov, najväčšie jaštery či jedovatých poslov smrti môžete vidieť na svojej <span class="text_bold">Magio TV už od 5. septembra.</span></p>
            </div>
        </div>
        <!-- img right -->
        <div class="row programm-row text_centered">
            <div class="col-xs-12 col-md-6 offset-md-2 text_centered gray-box">
                <h3 class="section_title">divoký sever</h3>
                <p class="section_desc">Čo obnáša prežitie v miestach s extrémnymi poveternostnými podmienkami, v krajine hustých lesov, zasnežených hôr a rozoklaných pobreží? Spoznajte rozmanitosť života severnej Škandinávie a skutočné krásy prírody tohto jedinečného regiónu.</p>
            </div>
            <div class="col-xs-12 col-md-4 feature-img-right">
                <img class="responsive-image" src="../assets/img/feat-02.jpg">
                <img class="responsive-image-ec ec-date-left" src="../assets/img/feat-02-ec.png">
            </div>
        </div>
    </div>
</section>
<!--  sec-2 -->
<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
         <div class="row channel-row">
            <div class="col-xs-12 col-md-2 offset-md-1 text_centered">
                <img class="responsive-image" src="../assets/img/logo2.png">
            </div>
            <div class="col-xs-12 col-md-6 text_centered">
                <h3 class="section_title font_white">Viasat EXPLORE</h3>
                <p class="section_desc font_white">Objavte nové a neobvyklé príbehy, ktoré prispievajú k pokroku celého ľudstva. Najnovšie vedecké objavy či každodenný život tých, ktorí vedia, že nič nie je nemožné, vám odhalíme vo fascinujúcich seriáloch na Viasat Explore.</p>
            </div>
        </div>
        <!-- img left -->
        <div class="row programm-row text_centered">
            <h3 class="section_title font_white mgb-30">novinka</h3>
            <div class="col-xs-12 col-md-4 feature-img-left">
                <img class="responsive-image" src="../assets/img/feat-03.jpg">
                <img class="responsive-image-ec ec-date-right" src="../assets/img/feat-03-ec.png">
            </div>
            <div class="col-xs-12 col-md-6 text_centered gray-box">
                <h3 class="section_title">Bratia v akcii &amp; Bratia v dome</h3>
                <p class="section_desc">Bratia Kevin a Andrew Buckles našli miesto pre únik od každodenných starostí. V seriáli premenia sto rokov starú chalupu v ideálny úkryt pred svetom aj so spiacimi kapsulami a lezeckým schodiskom. Okrem iného postavia aj vonkajšie kino a plávajúce golfové ihrisko. </p>
            </div>
        </div>
        <!-- img right -->
        <div class="row programm-row  text_centered">
            <div class="col-xs-12 col-md-6 offset-md-2 text_centered gray-box">
                <h3 class="section_title">Super Trucker Rad 1 a 2</h3>
                <p class="section_desc">Kings Haulage je rodinná firma, ktorá preváža veľké a netradičné náklady – od lodí, tankov a helikoptér cez veľké továrenské stroje až po veterné turbíny. Podmienky, ktorým musia pritom títo vodiči čeliť, vyžadujú poriadnu dávku odvahy a dokonalú znalosť ich áut.</p>
            </div>
            <div class="col-xs-12 col-md-4 feature-img-right">
                <img class="responsive-image" src="../assets/img/feat-04.jpg">
                <img class="responsive-image-ec ec-date-left" src="../assets/img/feat-04-ec.png">
            </div>
        </div>
    </div>
</section>
<!--  sec-3 -->
<section id="sec-3" class="section sec-3">
    <div class="container-fixed">
        <div class="row channel-row">
            <div class="col-xs-12 col-md-2 offset-md-1 text_centered">
                <img class="responsive-image" src="../assets/img/logo3.png">
            </div>
            <div class="col-xs-12 col-md-6 text_centered">
                <h3 class="section_title font_black">Viasat HISTORY</h3>
                <p class="section_desc">Napínavé skutočné príbehy, pôsobivé rozprávania od života zhýčkaných kráľov cez boj otrokov za slobodu po najväčšie vojenské ťaženia v dejinách. Pozrite sa na našu históriu v kontexte moderných udalostí.</p> 
            </div>
        </div>
        <!-- img left -->
         <div class="row programm-row text_centered">
            <h3 class="section_title font_black mgb-30">pripravujeme</h3>
            <div class="col-xs-12 col-md-4 feature-img-left text_centered">
                 <img class="responsive-image" src="../assets/img/feat-05.jpg">
                <img class="responsive-image-ec ec-date-right" src="../assets/img/feat-05-ec.png">
            </div>
            <div class="col-xs-12 col-md-6 text_centered gray-box">
                <h3 class="section_title">Moja dcéra Anna Franková</h3>
                <p class="section_desc">Príbeh Anny Frankovej zostáva dôležitým svedectvom o krutosti nacistického režimu a desivosti holokaustu. Živému obrazu rodiny prežívajúcu strašnú nočnú moru dodávajú ďalší rozmer hrané scény, archívne materiály a autentické rozhovory. </p> 
            </div>
        </div>
         <!-- img right -->
        <div class="row programm-row text_centered">
            <div class="col-xs-12 col-md-6 offset-md-2 text_centered gray-box">
                <h3 class="section_title">Tajomstvo podsvetia </h3>
                <p class="section_desc">Odhaľte tajomstvo tajných organizácií ako Ku Klux Klan, Priorstvo Sionu alebo hnutie Asasínov. Aké sú ciele a názory sektárskych kultov, fanatických náboženských skupín, ezoterických spolkov a politických militantov?</p> 
            </div>
            <div class="col-xs-12 col-md-4 feature-img-right text_centered">
                <img class="responsive-image" src="../assets/img/feat-06.jpg">
                <img class="responsive-image-ec ec-date-left" src="../assets/img/feat-06-ec.png">
            </div>
        </div>
        <div class="row text_centered">
        <a href="#sec-1" class="button button_lima scroll-to">mám záujem</a>
        </div>


        
    </div>
</section>





<script type="text/javascript" src="../assets/js/main.js"></script>
