<section id="sec-1" class="section sec-1">
    <!--   <div class="fixed-column">
        <h2 class="section__title">VEĽKÝ VÝPREDAJ MOBILOV A TABLETOV<br />POSLEDNÉ KUSY ZA SKVELÉ CENY</h2>
        <div class="col-group">
            <div class="grid-g__col_6">
                <img src="../assets/img/ico-1.png" alt="Mobil/tablet + Happy XS mini">
                <p class="item__title">Mobil/tablet + Happy XS mini</p>
                <p class="item__desc">Vezmite si nový nový mobil alebo tablet s paušálom Happy XS mini s bezplatnými volaniami až na <span class="info">3 ľubovoľné čísla</span>.</p>
                <a href="#xsmini-info" class="item__link fancybox">Viac o paušále Happy XS mini</a>
            </div>
            <div class="grid-g__col_6">
                <img src="../assets/img/ico-2.png" alt="Mobil/tablet + Easy karta">
                <p class="item__title">Mobil/tablet + Easy karta</p>
                <p class="item__desc">K novému mobilu alebo tabletu si môžete vziať Easy kartu bez záväzkov a zbytočných faktúr so štartovacím kreditom 9 € len za<br />1 €.</p>
                <a href="#pecka-info" class="item__link fancybox">Viac o Easy karte</a>
            </div>
        </div>
    </div> -->
    <div class="container-fixed">
        <div class="row ">
            <div class="col-xs-12 col-md-7 hero-box">
                <h2 class="section__title"><span class="text_bold">MOBILY A TABLETY</span><br />POSLEDNÉ KUSY ZA VÝPREDAJOVÉ CENY</h2>
                <p>Mobily a tablety z tejto ponuky si môžete kúpiť: 
                <br>■ k paušálu <a href="#xsmini-info" class="item__link fancybox">Happy XS mini</a>, s ktorým získate bezplatné volania na <span class="info">3 ľubovoľné čísla </span>
                <br>■ alebo k novej <a href="#pecka-info" class="item__link fancybox">Easy karte</a> bez záväzkov a zbytočných faktúr so štartovacím kreditom 9 € len za 1 €</p>
                <p class="text-center"> <a href="#phones" class="button button_lima scroll-to">Viac info</a><br></p>
               
        
            </div>
            <div class="col-xs-12 col-md-5 hero-box hero-img">
                <img src="../assets/img/hero.png" alt="">
            </div>
            <div class="margin_top20">
                <hr class="divider-horizontal">
            </div>
            
        </div>
    </div>

</section>
<div id="xsmini-info">
    <div class="header"> Happy XS Mini </div>
    <div class="content">
        <div class="row1-1"> Volania a SMS/MMS: </div>
        <div class="row1-2">
            <table>
                <tbody>
                    <tr>
                        <td class="td-left">Bezplatné volania:</td>
                        <td class="magenta">až na 3 čísla do všetkých mobilných sietí v SR</td>
                    </tr>
                    <tr>
                        <td class="td-left">Predplatené minúty:</td>
                        <td class="magenta">30 voľných minút do celej SR a EÚ a prichádzajúce hovory v EÚ</td>
                    </tr>
                    <tr>
                        <td class="td-left">SMS:</td>
                        <td class="magenta">len 10 centov</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row2-1"> Internet: </div>
        <div class="row2-2">
            <table>
                <tbody>
                    <tr>
                        <td class="td-left">Služba CLIP:</td>
                        <td><span class="magenta">zadarmo</span> <span class="grey">(CLIP = Identifikácia volajúceho čísla)</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row3-1"> <span class="grey">Viazanosť: 24 mesiacov.</span> </div>
    </div>
</div>
<div id="pecka-info">
    <div class="header"> Easy Pecka </div>
    <div class="content">
        <div class="row1-1"> Ako funguje Easy Pecka? </div>
        <div class="row1-2"> Len čo dosiahnete hranicu 50 centov za volania a SMS v jednej zo sietí v SR (Telekom, Orange, O2 A Swan), v daný deň už v tejto sieti viac neplatíte. </div>
        <div class="row2-1"> Volania a SMS:
            <table>
                <tbody>
                    <tr>
                        <td class="td-left">Volania:</td>
                        <td><span class="magenta">len 9 centov</span> / minúta</td>
                    </tr>
                    <tr>
                        <td class="td-left">SMS:</td>
                        <td><span class="magenta">len 6 centov</span> / SMS</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row3-1"> Internet:
            <table>
                <tbody>
                    <tr>
                        <td class="td-left">Surfovanie:</td>
                        <td><span class="magenta">len 10 centov</span> / 1 MB</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row3-3"> Za surfovanie však zaplatíš maximálne 50 centov za deň a to iba vtedy, ak v danom dni surfuješ. Ak nesurfuješ, neplatíš samozrejme nič. </div>
        <div class="row4-1"> Krediť ti platí až 12 mesiacov po dobití. </div>
    </div>
</div>
<script src="../assets/js/main.js"></script>
