<script src="https://m.telekom.sk/wb/vypredaj3/vypredaj.js"></script>
<script>
$(document).ready(function() {
    loadPhones();
    loadDetail();
});
</script>
<style type="text/css">
	.phone-list {
		margin-top:20px!important;
	}
	.btn-wide {
		width: 200px!important;
	}
	.phone h3 {
		min-height: 48px;
	}
</style>
<div class="c-row c-row-1 phone-list">
    <div class="c-content">
        <div class="c-text c-header">
            <h1>
				<strong>Výpredaj telefónov</strong></h1>
        </div>
        <div class="phones" id="phones">
            &nbsp;</div>
        <div class="c-text c-header" id="sec-2">
            <h1>
				<strong>Výpredaj tabletov</strong></h1>
        </div>
        <div class="phones" id="tablet">
            &nbsp;</div>
        <div class="detail" id="detail">
            &nbsp;</div>
    </div>
</div>
<section class="section">
    <div class="fixed-column">
        <div class="modrePole tac" id="cmb__block">
            <h3 class="velkyNadpis cmb__area__head">
				POTREBUJETE PORADIŤ S PONUKOU?</h3>
            <a class="button btn-wide" href="/volania/happy?sluzby-a-ceny#" id="cmb__btn"><span>ÁNO, ZAVOLAJTE<br />
			MI SPÄŤ</span></a></div>
    </div>
</section>
