@charset "UTF-8";
/* =============== GLOBAL CONFIG  =============== */
/* Gallery */
.thumb-img {
  width: 51px;
  height: 40px;
  border: 1px solid #eef4f8; }

.main-gallery img, .main-gallery2 img, .main-gallery3 img {
  /*height: calc(50vh - 100px);*/
  width: auto;
  margin: 0 auto; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
/*@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}*/
/* Arrows */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -17px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: url(../images/arrow-prev.png); }

[dir='rtl'] .slick-prev:before {
  content: url(../images/arrow-next.png); }

.slick-next {
  right: -25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  /*content: 'â†’';*/
  content: url(../images/arrow-next.png); }

[dir='rtl'] .slick-next:before {
  content: url(../images/arrow-prev.png); }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  /*bottom: -60px;
*/
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: 'â€¢';
  text-align: center;
  opacity: .25;
  color: #e20074;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #e20074; }

.slick-slide.slick-current.slick-active {
  outline: none; }

.text_centered {
  text-align: center; }

.button {
  min-width: 130px; }

/* qtip */
#content .info-link {
  text-decoration: underline;
  cursor: pointer; }

.tooltip .qtip-content {
  font-size: 14px; }

.fullWidthBox {
  background-color: #fff;
  display: block;
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #c6ccd0; }

.ec-holder {
  position: relative; }

.ec-holder img {
  position: absolute;
  top: 15px;
  right: 20px; }

.ec-holder img.first-ico {
  position: absolute;
  top: 15px;
  right: 110px; }

@media screen and (min-width: 961px) {
  #content .b-r {
    border-right: 1px solid #c6ccd0; } }

@media screen and (max-width: 960px) {
  #content .b-b-m {
    border-bottom: 1px solid #c6ccd0; } }

#content .b-b {
  border-bottom: 1px solid #c6ccd0; }

.main-bg {
  padding: 40px 0 10px 0;
  background-size: initial;
  background-color: #e6e6e6; }

#content .section_title {
  margin-bottom: 20px; }

#content .no-space {
  margin-top: 0;
  margin-bottom: 0; }

/* sec-1 */
#content .sec-1 .main_title {
  text-transform: uppercase;
  margin-bottom: 20px; }

.sec-1 .sub_title {
  color: #262626;
  font-weight: bold; }

#content .spec-list {
  margin-left: 0;
  margin-top: 0;
  font-size: 16px; }

#content .section_title {
  font-size: 24px;
  display: inline-table; }

#content .col-top {
  line-height: 100%;
  margin-top: 60px; }

#content .col_title {
  font-size: 24px;
  color: #e20074; }

#content .col-holder {
  position: relative; }

#content .col-holder .col-cta {
  margin-top: 40px; }

@media screen and (min-width: 768px) {
  #content .item_desc {
    min-height: 360px; }
  #content .col-holder .col-cta {
    margin-top: 92px; } }

@media screen and (max-width: 960px) and (min-width: 768px) {
  #content .col2 {
    width: 66.66667%; }
  #content .col3 {
    width: 90%; } }

@media screen and (max-width: 960px) {
  #content .col-top {
    line-height: 100%;
    margin-top: 20px; }
  #content .col-holder {
    position: relative; }
  #content .col-holder .col-cta {
    position: relative;
    margin-top: 15px;
    left: inherit;
    top: inherit; } }

/* sec-2 */
.sec-2 {
  background-color: #e6e6e6;
  padding-bottom: 40px; }

/* sec-2 */
.sec-3 {
  background-color: #e6e6e6;
  padding-bottom: 40px; }

#content .btn_double {
  height: 60px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px; }

/* sec-2 */
.sec-4, .sec-6 {
  background-color: #e6e6e6;
  padding-bottom: 40px; }

/* LightBox */
.detail-lightbox {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px; }

.detail-header h2 {
  font-size: 2em;
  color: #e20074;
  margin: 20px 0 10px;
  text-align: center; }

.detail-img img {
  max-height: 240px;
  max-width: 220px;
  width: auto; }

.p-content .images-detail {
  display: inline-block;
  padding-left: 20px;
  width: 20%; }

.p-content .detail-text {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  float: right; }

@media screen and (max-width: 767px) {
  .p-content .images-detail {
    width: 100%; }
  .p-content .detail-text {
    width: 100%; } }

.p-content .detail-text {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  width: 66%; }

.waterbear-theme td {
  padding-right: 0;
  padding-left: 10px; }

.waterbear-theme td {
  vertical-align: top; }

td.row-2 {
  max-width: 300px; }

.waterbear-theme td.row-2 {
  padding-left: 20px; }

.odrazka:before {
  content: '\f054';
  font-family: FontAwesome;
  color: #e10073;
  top: 3px;
  left: 3px;
  font-size: 14px; }

.odrazka:before {
  content: '\f0c8';
  left: 0; }

/* show - hide */
.sec-hide {
  display: none; }

.height-transition {
  -webkit-transition: max-height 0.9s ease-in-out;
  -moz-transition: max-height 0.9s ease-in-out;
  -o-transition: max-height 0.9s ease-in-out;
  transition: max-height 0.9s ease-in-out;
  overflow-y: hidden; }

.height-transition-hidden {
  max-height: 0; }

#content .toggle-info {
  margin: 20px 0;
  cursor: pointer;
  display: inline-block;
  color: #007faf; }

#content .toggle-content p {
  margin-bottom: 30px; }

#content .toggle-info-up-dark {
  margin: 20px 0 40px 0;
  cursor: pointer;
  display: inline-block;
  color: #262626; }

.t-ico-down::after {
  display: inline-block;
  background-image: url(../img/ico-b-down.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  content: '';
  width: 13px;
  height: 7px;
  margin-top: -1px;
  margin-left: 7px; }

.t-ico-up:after {
  display: inline-block;
  background-image: url(../img/ico-b-up.png);
  background-repeat: no-repeat;
  vertical-align: middle;
  content: '';
  width: 13px;
  height: 7px;
  margin-top: -1px;
  margin-left: 7px; }

/* TOOLTIP */
.tooltip .qtip-content {
  text-align: left; }
