/* ===============
   CSS FOR MICROSITE
   =============== */

.bg-wrapper {
    background: url(../img/bg.jpg) repeat-x;
    width: 100%;
    display: inline-block;
}

.sticky-wrapper {
    display: inline-block;
}

#hero {
    padding: 50px 0;
}

#content .hero__title {
    color: #262626;
    font-size: 48px;
    font-weight: 900;
    display: inline-block;
    margin-top: 10px;
}

#content .item__title {
    color: $magenta;
    margin: 0;
}

#content .item__title_dark {
    color: #262626;
    margin: 0;
}

#content .item__p {
    color: #4b4b4b;
    margin-top: 0;
    line-height: 19px;
}

#content .sec__title {
    font-size: 32px;
    color: #262626;
    text-transform: capitalize;
}

#content .no-cap {
    text-transform: none;
}

#content .link {
    text-decoration: underline;
}

.box-wrapper {
    border: 1px solid #d0d0d0;
    background-color: #ffffff;
    padding: 25px;
}

.box_no-border {
    padding-top: 25px;
}

.box-row {
    margin-bottom: 10px;
}


/* HERO */

.hero__content {
    width: 100%;
}

.hero__ec {
    display: inline-block;
    float: right;
}

.ec-img {
    cursor: pointer;
}


/* PAGE */

.page__content {
    max-width: 780px;
    width: 80%;
    float: right;
}


/* FLOATER */

.floater {
    float: left;
    max-width: 160px;
    width: 20%;
}

.floater .box__inner {
    padding-right: 10px;
}

.floater img {
    max-width: 121px;
    width: 100%;
}


/* SEC - 1 */

#sec-1 {
    margin: 15px 0 50px 0;
}

.box-magenta {
    background: #fff url('../img/magenta_neobmedzene_data.png') no-repeat 400px center;
}

.box-1 {
    background: #fff url('../img/two-phones.png') no-repeat 204px center;
}

.box__inner {
    max-width: 190px;
    width: 100%;
}

.box-magenta .box__inner {
    max-width: 320px;
    width: 100%;
}

.box-magenta {
    //padding-bottom: 10px;
}

.magenta__activate {

}

.magenta__info {
    padding-top: 5px;
}

.box-3 {
    background: #fff url('../img/pixel-phone.png') no-repeat right top;
}

.box-4 {
    background: #fff url('../img/tablet.png') no-repeat 244px center;
    display: none;
}

.box-3,
.box-4 {
    min-height: 196px;
}

.box-5 {
    background: #fff url('../img/xbox.jpg') no-repeat right center;
    margin-bottom: 15px;
}

.box-5 .box__inner {
    max-width: 250px;
}

.box-6 img {
    max-width: 176px;
    width: 100%;
}

.small-box {
    min-height: 166px;
}

.mid-box {
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

@media screen and (max-width: 850px) {
    .floater,
    .page__content {
        width: 100%;
        max-width: 100%;
    }
    .floater .box__inner {
        padding: 0 10px;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .box-2,
    .box-3 {
        margin-bottom: 10px;
    }
    .box-4 {
        background-position: right center;
    }
    .box-2 .box__inner,
    .box-6 .box__inner {
        max-width: 100%;
    }
    .floater .box__inner {
        padding: 0;
    }
    .small-box {
        min-height: auto;
    }
    
    .mid-box {
        margin: 20px 0;
        border: 0;
    }
    
    .box-6 {
        margin-top: 20px;
    }
    
    .box-6 img {
        margin: 10px 0;
    }
}

@media screen and (max-width: 510px) {
    .box-5 {
        background-image: none;
    }
}

@media screen and (max-width: 420px) {
   .box-4 {
        background-image: none;
    } 
}

@media screen and (max-width: 380px) {
    .box-1,
    .box-3 {
        background-image: none;
    } 
}