<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title font_white">
                <b>MÁTE BLÍZKYCH V TELEKOME?</b><br/>
                SO SKUPINOU MAGENTA 1<br/>
                ZÍSKATE SPOLOČNE VIAC
                </h1>

            <div>
                <a class="scroll-to btn cta" href="#sec-act">Zistiť viac</a></div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">ČO JE MAGENTA</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <li>
            <a class="scroll-to" href="#sec-3" id="sec3">ČO ZÍSKATE</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">ČASTÉ OTÁZKY</a></li>
        <li>
            <a class="scroll-to" href="#sec-act">AKCIE</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="https://m.telekom.sk/wb/magenta1/v2/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1" id="sec-1">
    <div class="fixed-column">
        <div class="col-group">
            <div class="grid-g__col_4 how-to">
                <img alt="Čo je Magenta 1" src="https://m.telekom.sk/wb/magenta1/v2/img/ico-1.png" />
                <p class="how-to__title">
                    Čo je skupina Magenta 1?</p>
                <p class="how-to__desc">
                    Magenta 1 je balík služieb pre vás a vašich blízkych, vďaka ktorému všetci získavate viac výhod a šetríte. Namixujte si balík služieb podľa seba: Paušály Happy, Easy karta, Magio TV a internet či pevná linka.</p>
                <a class="scroll-to" href="#sec-4">Viac info</a></div>
            <div class="grid-g__col_4 how-to">
                <img alt="Ako začať" src="https://m.telekom.sk/wb/magenta1/v2/img/ico-2.png" />
                <p class="how-to__title">
                    Ako začať</p>
                <p class="how-to__desc">
                    Magentu 1 môžete využit len vy alebo založíte skupinu, do ktorej pozvete svojich blízkych. Čím viac vás bude, tým výhodnejšie ceny získate.</p>
            </div>
            <div class="grid-g__col_4 how-to">
                <img alt="Užívanie výhod" src="https://m.telekom.sk/wb/magenta1/v2/img/ico-3.png" />
                <p class="how-to__title">
                    Užívanie výhod</p>
                <p class="how-to__desc">
                    Čím viac služieb využijú členovia skupiny, tým nižšie ceny a viac bezplatných výhod navyše získajú! Napríklad si volajú a esemeskujú neobmedzene, získavajú telefón Lenovo K6 so zľavou a VIP starostlivosť.</p>
                <a class="scroll-to" href="#sec-3">Viac info</a></div>
        </div>
        <div class="col-group">
            <div class="grid-g__col_12 how-to-links">
                <a class="button button_lima" href="/magenta1-skupina">ZALOŽIŤ SKUPINU</a><br />
                <a class="link scroll-to" href="#sec-2">Kombinovať služby a zistiť ceny<br />
                <img alt="Kombinovať služby a zistiť ceny" src="https://m.telekom.sk/wb/magenta1/v2/img/ico-arrow-down.png" /></a></div>
        </div>
    </div>
</section>
<p>
    &nbsp;</p>
