/* ===============
   CSS FOR MICROSITE
   =============== */

.magenta {
  color: $magenta !important;
}

/* hero bg img */
#sec-1 {
  min-height: 630px;
  background: url(../img/bg.jpg) center top;
  background-color: #541631;
  background-repeat: no-repeat;
  background-size: 2665px;
  @media screen and (min-width: 940px) {
    background-position: 50% 0%;
  }
  @media screen and (max-width: 940px) {
    background-position: 50% 0%;
  }
  @media screen and (max-width: 767px) {
    background-position: 50% 50%;
  }
  @media screen and (max-width: 543px) {
    background-position: 50% 0%;
    background-size: 1720px;
    min-height: 330px;
  }
  .hero {
    text-align: center;
    position: relative;
    .headline {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      margin: 88px 0 0 0;
      font-size: 48px;
      width: auto;
      @media screen and (max-width: 850px) {
        font-size: 40px;
      }
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
      @media screen and (max-width: 543px) {
        margin-top: 60px;
        font-size: 31px;
      }
    }
    .subHeadline {
      color: #fff;
      font-size: 28px;
      margin-top: 0;
      @media screen and (max-width: 543px) {
        font-size: 18px;
      }
    }
    .img {
      display: inline-block;
      max-width: 110px;
      position: absolute;
      top: 75px;
      margin-left: 15px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .offer {
      color: #fff;
      font-weight: bold;
      background-color: $magenta;
      width: 200px;
      margin: 0 auto;
      display: block;
      font-size: 21px;
    }
  }
}

/* content */
#sec-2 {
  background-color: #f2f2f2;
  .content {
    background-color: #fff;
    margin: -300px auto 50px auto;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    // @media screen and (max-width: 940px) {
    //   margin: -300px 0px 40px 0px;
    // }
    @media screen and (max-width: 543px) {
      margin: -20% 0px 50px 0px;
    }
    .imgwrapper {
      padding: 85px 0px 30px 85px;
      @media screen and (max-width: 767px) {
        padding: 30px 0;
      }
      .data {
        position: relative;
        @media screen and (max-width: 767px) {
          margin: 0 40px;
        }
        img {
          display: block;
          @media screen and (max-width: 767px) {
            margin: 0 auto;
            padding-top: 30px;
          }
          &.device {
            max-width: 100%;
            margin: 0 auto;
          }
        }
        a.ttp {
          position: absolute;
          top: -20px;
          right: 0;
          @media screen and (max-width: 767px) {
            right: 14%;
          }
          @media screen and (max-width: 543px) {
            right: 0px;
          }
        }
      }
    }
    .textwrapper {
      padding: 85px 85px 85px 43px;
      @media screen and (max-width: 767px) {
        padding: 50px 40px;
      }
      .text {
        font-size: 21px;
        margin-top: 0;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
      .spacer {
        margin-bottom: 5px;
        display: block;
        font-size: 21px;
      }
      .monthly {
        text-align: right;
        display: block;
        font-size: 14px;
        color: #a4a4a4;
      }
      .plan {
        &-content {
          border-top: 1px solid #d0d0d0;
          border-bottom: 1px solid #d0d0d0;
          padding: 10px 0;
          p {
            color: #6c6c6c;
          }
          &-rate {
            float: left;
          }
          &-price {
            float: right;
            text-align: right;
            p {
              margin: 0;
            }
            .new-price {
              color: $magenta;
              font-size: 30px;
              font-weight: bold;
              line-height: 26px;
            }
            .regular-price {
              text-decoration: line-through;
            }
          }
        }
        &-otherInfo {
          margin-top: 30px;
          .subheadline {
            margin-bottom: 20px;
          }
          .info {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            img,
            p {
              display: inline-block;
              vertical-align: top;
              margin: 0;
            }
            img {
              text-align: center;
              width: auto;
              margin-right: 3%;
              width: 32px;
            }
            p {
              width: 85%;
              line-height: 16px;
            }
          }
        }
      }
      .legal {
        margin-top: 20px;
        color: #6c6c6c;
        font-size: 16px;
        line-height: normal;
      }
    }
  }
}

/* contact form */
.contact-form-wrapper {
  padding-top: 20px;
  margin: 0 auto;

  #fullName,
  #phoneNum,
  #useremail {
    width: 100%;
  }

  .phoneNum {
    padding-top: 20px;
  }

  .checker {
    height: 30px;
    margin-right: 5px;
    span {
      background-color: #fff !important;
    }
  }
  .checkb {
    margin: 20px 0;
    #termscheck {
      cursor: pointer;
    }
    label {
      padding-top: 6px;
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      a {
        font-size: 14px !important;
      }
    }
  }
  .valid input {
    border: 1px solid green !important;
  }
  .valid span.checked {
    border: 1px solid green !important;
  }
  .error span {
    border: 1px solid #ffcc00 !important;
  }
  .error input {
    border: 1px solid #ffcc00 !important;
  }
  label.error {
    font-size: 16px;
    color: #ffcc00;
    display: block;
    padding-top: 6px;
  }
  .sendfrm {
    width: 70%;
    text-align: center;
  }
}

#sec-3 {
  background-color: #f2f2f2;
  padding: 30px 0;
  .headline {
    font-size: 21px;
    color: #262626;
    text-align: center;
    margin-bottom: 40px;
    @media screen and (max-width: 543px) {
      margin: 0 0 50px 0;
    }
  }
  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125px;
  }
  a {
    text-decoration: underline;
  }
  p {
    padding: 0 20px;
  }
  .legal {
    margin-top: 50px;
    color: #a4a4a4;
    font-size: 14px;
  }
}

@media screen and (max-width: 940px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}

/* ===============
   CSS FOR CMB
   =============== */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  vertical-align: middle;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  position: relative;
  margin: auto;
  padding: 20px;
  width: 600px;
  height: 295px;
  z-index: 99999;
  -moz-box-shadow: 1px 1px 7px 3px #000;
  -webkit-box-shadow: 1px 1px 7px 3px #000;
  box-shadow: 1px 1px 7px 3px #000;
}
#cmbForm {
  background-image: url(https://www.telekom.sk/chat/files/wininv/5ad85ca0170e2.jpg);
}
#cmbThanks {
  background-image: url(https://www.telekom.sk/chat/files/wininv/5ddd11df2924d.png);
  display: none;
}
/* The Close Button */
.close {
  height: 42px;
  width: 42px;
  background: url(https://www.telekom.sk/chat/images/wininv/ico_close.png);
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
  z-index: 1;
}
.cmb-body input[type="text"] {
  width: 205px;
  height: 40px !important;
  line-height: 19px;
  padding: 3px 10px;
  color: #3c3c3c;
  font-size: 20px;
  position: absolute;
  top: 210px;
  left: 35px;
  border-top: 1px solid #878787;
  border-left: 1px solid #878787;
  border-bottom: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  background: white
    url(https://www.telekom.sk/chat/images/wininv/img_def/inputshadow.gif) 0 0;
  box-sizing: border-box;
}

.cmb-body input[type="text"]:hover {
  background: white
    url(https://www.telekom.sk/chat/images/wininv/img_def/inputshadow_hover.gif)
    0 0;
}

.cmb-body input[type="text"]:focus {
  background: white
    url(https://www.telekom.sk/chat/images/wininv/img_def/inputshadow_hover.gif)
    0 0;
}

.cmb-body input[type="text"].error {
  border-color: red;
}

button.cmb-but {
  cursor: pointer;
  background: #e10073;
  text-shadow: 1px 1px 0 #9a0554;
  width: 83px;
  height: 40px;
  color: white;
  display: block;
  line-height: 42px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -1px;
  position: absolute;
  top: 210px;
  left: 265px;
}

a.cmb_but:hover,
a.cmb_but:active {
  margin-top: 0px;
  color: white;
}

a.cmb_but:focus {
  line-height: 45px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
