/* ===============
  Pausaly Slider
   =============== */

#content .box-w {
    background-color: #fff;
    color: #6c6c6c;
    /*max-width: 385px;*/
    text-align: center;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-left: 10px;
}

#content .box-g {
    background-color: #ededed;
    color: #6c6c6c;
    /*max-width: 385px;*/
    text-align: center;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-left: 10px;
}

#content .box-gray {
    margin-top: 5px;
    background-color: #ededed;
    padding: 20px;
}

#content .box-white {
    margin-top: 5px;
    background-color: #fff;
    padding: 20px;
}

#content .program_volania {
    min-height: 282px;
}

#content .program_title {
    background-color: #262626;
    height: 40px;
    color: #fff;
    font-size: 1.55em;
    padding-top: 5px;
    text-transform: uppercase;
}

#content .program_item {
    & h3 {
        color: #262626;
        font-size: 1.35em;
        font-weight: bold;
        margin-top: 0;
    }
    & h4 {
        color: #262626;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 0;
    }
    & .desc {
        margin-top: 10px;
        font-size: 0.8em;
    }
    & .cena {
        margin-top: 30px;
        font-size: 0.9em;
        & h2 {
            margin: 0;
            padding-bottom: 0;
            font-size: 2.1em;
        }
    }
    & .cena-left,
    .cena-right {
        display: inline-block;
        vertical-align: top;
    }
    & .cena-disc {
        color: #6c6c6c;
        font-size: 16px;
        padding-top: 10px;
    }
    & .objednat {
        margin-top: 30px;
    }
}
