/* PAP THEME */

  #sec-help {
    & .divider {
      width: 100%;
      border-bottom: 1px solid #ccc;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    & .container-fixed {
      //margin-top: 50px;
      padding-top: 5px;
      //border-top: 1px solid #d0d0d0;
      margin-bottom: 50px;
      padding-bottom: 40px;
      & .sec__title {
        margin-top: 0 !important;
        text-align: center !important;
        color: #e20074 !important;
        font-size: 32px !important;
      }
      /* LEFT SIDE */
      & .pap__links {
        float: left;
        width: 49.7%;
        //margin-right: 2%;
        @media screen and (max-width: 768px) {
          width: 49.7%;
        }
        @media screen and (max-width: 380px) {
          width: 100%;
          float: none;
          margin-bottom: 50px;
        }
        & .pap__head {
          //border-bottom: 1px solid #b2b2b2;
          & p {
            color: #262626;

            font-weight: 500;
            margin: 6px 0;
          }
        }
        & .pap__li {
          padding: 5px 0;
          & p {
            margin: 0;
            color: #007faf;
          }
        }
        & .pap__li:hover {
          //background-color: #ededed;
          text-decoration: underline;
        }
        & .pap__links-bottom {
          margin-top: 15px;
          & p {
            margin: 5px 0;
            color: #262626;
            font-weight: 600;
          }
          & a.btn {
            text-decoration: none;
            color: #000;
          }
        }
      }

      /* RIGHT SIDE */
      & .pap__apps {
        float: left;
        width: 48%;
        padding-left: 2%;
        border-left: 1px solid #ccc;
        @media screen and (max-width: 768px) {
          width: 48%;
          //margin-left: 2%;
        }
        @media screen and (max-width: 380px) {
          width: 100%;
          float: none;
          border: none;
          padding-left: 0%;
        }
        & .pap__head {
          //border-bottom: 1px solid #b2b2b2;
          text-align: left;
          & p {
            color: #262626;
            font-weight: 500;
            margin: 6px 0;
          }
        }
        & .pap__apps-content {
          margin-bottom: 18px;
          & .pap__apps-item {
            //margin-top: 18px;
            text-align: left;
            & p {
              margin: 0;
              line-height: 17px;
              color: #262626;
            }
            & a {
              margin: 0;
              line-height: 17px;
              text-decoration: underline;
              &:hover {
                text-decoration: underline;
              }
            }
          }
          & .pap__apps-item-bottom {
            //margin-top: 18px;
            text-align: left;
            & ul {
              list-style: square;
              margin-left: 18px;
              margin-top: 0;
              margin-bottom: 6px;
              font-size: 16px;
            }
            & p {
              margin: 0;
              line-height: 17px;
            }
            & a {
              margin: 0;
              line-height: 17px;
              text-decoration: underline;
              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }


.pap__apps-link_mobile {
  display: none;
}

// @media screen and (max-width: 840px) {
//     .pap__links {
//         width: 100%;
//         margin: 0 0 50px 0;
//     }
//
//     .pap__apps {
//         width: 100%;
//         margin-bottom: 50px;
//     }
//
//     .pap__apps-head {
//         text-align: left;
//     }
//
//     .pap__apps-item {
//         width: 33.33333333333333%;
//         float: left;
//         padding: 0 2%;
//     }
// }
//
// @media screen and (max-width: 440px) {
//     .pap__apps-item {
//         width: 100%;
//         padding: 10px 0;
//         position: relative;
//         margin: 0;
//         background: url('../img/ico-linkarrow.png') no-repeat center right;
//         border-bottom: 1px solid #dcdcdc;
//     }
//
//     .pap__apps-item:hover {
//         background-color: #ededed;
//     }
//
//     .pap__apps-item img {
//         max-width: 27px;
//         float: left;
//         margin-right: 15px;
//     }
//
//     .pap__apps-item p {
//         float: left;
//         padding-top: 7px;
//     }
//
//     .pap__apps-link {
//         display: none;
//     }
//
//     #content .pap__apps-link_mobile {
//         display: block;
//         position: absolute;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//     }
// }
