<!-- ///////////////////////////////
         verzia 1
         //////////////////////////////// -->
<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <div class="row">
            <a id="sms_link" href="#" class="btn cta">test sms</a>
        </div>
    </div>
</section>
<script>
</script>
<script type="text/javascript">
$(document).ready(function() {
    function checkMobileOS() { var MobileUserAgent = navigator.userAgent || navigator.vendor || window.opera; if (MobileUserAgent.match(/iPad/i) || MobileUserAgent.match(/iPhone/i) || MobileUserAgent.match(/iPod/i)) { return 'iOS'; } else if (MobileUserAgent.match(/Android/i)) { return 'Android'; } else { return 'unknown'; } }

    var smsLink = document.getElementById("sms_link");
    console.log('sms', smsLink.dataset.smsNumber);
    var message_text = 'Nazdar Piso DATA1000';

    var href = '';

    if (checkMobileOS() == 'iOS') {

        href = "sms:999999&body=" + encodeURI(message_text);

    }

    if (checkMobileOS() == 'Android') {

        href = "sms:9999999?body=" + encodeURI(message_text);

    }

    document.getElementById("sms_link").setAttribute('href', href);
});
</script>

<!-- ///////////////////////////////
         verzia 2 
         //////////////////////////////// -->
<a href="#" class="btn cta btn-sms sms_link" data-sms-text="100 ZAP" data-sms-number="12323">Pošlite SMS</a>

<script>
$(document).ready(function() {
    function checkMobileOS() { var MobileUserAgent = navigator.userAgent || navigator.vendor || window.opera; if (MobileUserAgent.match(/iPad/i) || MobileUserAgent.match(/iPhone/i) || MobileUserAgent.match(/iPod/i)) { return 'iOS'; } else if (MobileUserAgent.match(/Android/i)) { return 'Android'; } else { return 'unknown'; } }
    $(".sms_link").each(function(index) {
        $(this).on("click", function() {
            // event.preventDefault();
            var href = '';
            var message_text = this.dataset.smsText;
            var message_number = this.dataset.smsNumber;
            if (checkMobileOS() == 'iOS') {href = "sms:" + message_number + "&body=" + encodeURI(message_text); } 
            if (checkMobileOS() == 'Android') { href = "sms:" + message_number + "?body=" + encodeURI(message_text); }
            $(this).attr('href', href);
        });
    });
});
</script>