#tabs-triangle .tab {
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 90px 100px; 
    margin-left: 15px;
  }
  #tabs-triangle .tab-menu{
      color: #333; 
      display: block;
      height: 23px
  }
  #tabs-triangle .tab__holder {
  margin-bottom: 130px; 
  }
  #tab-4, #tab-5, #tab-6 {
    margin: 0px; 
  }
  #tabs-triangle li {
    width: auto !important;
    text-align: center;
    vertical-align: middle;
    border: none; 
  }
  #tabs-triangle .variant {
    max-width: 220px;
    min-width: 220px; 
  }
  #tabs-triangle a {
    padding: 0px; 
  }
  #tabs-triangle .tab-separator {
    position: relative;
    border-bottom: #ebebeb 1px solid;
    top: 26px;
    margin: 0 auto;
    max-width: 440px; 
  }
  #tabs-triangle .trian {
    display: none; }
  #tabs-triangle .step-ico-active {
    display: none; }
  #tabs-triangle .current b {
    color: #666 !important; 
  }
  #tabs-triangle .current .trian {
    display: block;
    margin: 22px auto;
    border-left: solid 35px transparent; 
    border-right: solid 35px transparent; 
    border-bottom: solid 35px #fff;
    filter: drop-shadow(0 -35px 30px rgba(0, 0, 0, 0.1));
    height: 0; 
    width: 0; 
  }
  #tabs-triangle .current .step-ico-active {
    display: inline-block !important; 
  }
  #tabs-triangle .current .step-ico {
    display: none !important; 
  }


  @media (max-width: 768px) {
    #tabs-triangle .tab {
      padding: 60px 60px; 
    }
    #tabs-triangle .tab__holder {
      margin-bottom: 125px; 
    } 
    #tabs-triangle b {
      display: none; 
    }
    #tabs-triangle .tab-separator {
      min-width: 200px; 
      max-width: 200px;
    }  
    #tabs-triangle .variant {
      min-width: 100px;
      max-width: 100px; 
    }
    #tabs-triangle .current .trian{
      margin: 9px auto;
      border-left: solid 28px transparent; 
      border-right: solid 28px transparent; 
      border-bottom: solid 28px #fff;
    }
  }
  @media (max-width: 520px) {
    #tabs-triangle .tabs-menu {
      width: unset!important;
    }
    #tabs-triangle .tabs-menu li a{
      display: inline-block;
        }
    #tabs-triangle .current .trian{
      margin: 39px auto;
    }  
  }
  
  @media (max-width: 480px) {
    #tabs-triangle .variant {
      min-width: 90px;
      max-width: 90px; 
    } 
    #tabs-triangle .tab {
      padding: 25px 25px; 
    } 
    #tabs-triangle .tab-box {
      font-size: 16px; 
    }
    #tabs-triangle .tab__holder {
      margin-bottom: 100px; 
    }
    #tabs-triangle .current .trian{
      margin: 10px auto;
    } 
  }