<section id="eshop" class="section">
  <div class="clearfix">
    <div class="container-fixed">
      <h1>Bezpečný nákup cez internet z&nbsp;pohodlia domova</h1>
      <p class="subtitle">
        Vyskúšajte s&nbsp;nami fungovať z&nbsp;pohodlia domova. Nakúpte cez
        internet a&nbsp;navyše získate extra zľavu na nový mobil k&nbsp;paušálu
        alebo zľavu na mesačný poplatok za Magio internet, TV a/alebo Pevnú
        linku. Pri každej objednávke si môžete zvoliť doručenie kuriérom.
      </p>
      <div class="element-item aktualne-akcie textver">
        <img src="../assets/img/ec_online-zlava_72px.png" alt="" class="ec" />
        <div class="mainImg">
          <img src="../assets/img/pausal.png" alt="" />
        </div>
        <a
          href="https://eshop.telekom.sk/category/pausaly-telekom/list/product_listing?productOfferingTerm=agreement24"
          class="name"
          ><b>Nové&nbsp;paušály</b><br />&nbsp;</a
        >
        <div class="text">
          <div class="col-xs-12 text-center pad0">
            <p>
              Kúpiť si nový paušál, predĺžiť existujúci alebo prejsť od iného
              operátora či z Easy karty alebo Predplatenky na paušál môžete aj
              pohodlne cez internet.
            </p>
          </div>
        </div>
        <a
          href="https://eshop.telekom.sk/category/pausaly-telekom/list/product_listing?productOfferingTerm=agreement24"
          class="btn cta"
          >NOVÉ&nbsp;PAUŠÁLY</a
        >
      </div>
      <div class="element-item aktualne-akcie textver">
        <img src="../assets/img/ec_online-zlava_72px.png" alt="" class="ec" />
        <div class="mainImg">
          <img src="../assets/img/mobil-tablet.png" alt="" />
        </div>
        <a
          href="https://eshop.telekom.sk/category/all-devices/list/product_listing "
          class="name"
          ><b>Mobily, tablety, notebooky,<br />smart zariadenia a iné</b></a
        >
        <div class="text">
          <div class="col-xs-12 text-center pad0">
            <p>
              Vyberte si k paušálu aj nový mobil, tablet či iné zariadenie s
              online zľavou alebo si pozrite ponuku zariadení k Magio internetu
              a televízii.
            </p>
          </div>
        </div>
        <a
          href="https://eshop.telekom.sk/category/all-devices/list/product_listing "
          class="btn cta"
          >ZARIADENIA K PAUŠÁLOM</a
        >
        <a href="https://www.telekom.sk/chytry-balik#sec-9" class="btn white"
          >ZARIADENIA K MAGIO SLUŽBÁM</a
        >
      </div>
      <div class="element-item aktualne-akcie textver">
        <img src="../assets/img/ec_online-zlava_72px.png" alt="" class="ec" />
        <div class="mainImg">
          <img src="../assets/img/tv-internet.png" alt="" />
        </div>
        <a href="/internet/magio-internet" class="name"
          ><b>Magio internet alebo<br />Magio televízia</b></a
        >
        <div class="text">
          <div class="col-xs-12 text-center pad0">
            <p>
              Ostaňte doma a kúpte si nový alebo predĺžite existujúci Magio
              internet alebo televíziu cez internet. Získate extra zľavu na
              mesačný poplatok.
            </p>
          </div>
        </div>

        <a href="/internet/magio-internet" class="btn cta">MAGIO INTERNET</a>
        <a href="/televizia/magio-televizia" class="btn white"
          >MAGIO TELEVÍZIA</a
        >
      </div>
    </div>
  </div>
</section>
