<section class="section sec-1" id="sec-1">
    <div class="container-fixed">
        <div class="row hero__row">
            <div class="col-md-6 hero-img__holder">
                <img alt="" class="hero__img" src="../assets/img/hero-kv_v1.jpg" /></div>
            <div class="col-md-6">
                <div class="col-md-10">
                    <div class="hp__holder">
                        <h2 class="hero__title">
                            Program Bez záväzkov</h2>
                        <div class="hero__pricing">
                            <p class="hero__price">
                                0 <span class="hero__euro">€</span> <span class="hp__detail">| mesačne </span><span class="hp_light">s DPH</span></p>
                        </div>
                        <p class="hero__info">
                            <b>Pre tých, ktorí radi volajú a neradi sa viažu!</b><br />
                            S programom Bez záväzkov voláte, esemeskujete a dátujete bez viazanosti a pravidelných poplatkov.<!--<img class="tt info-pausaly" src="../assets/img/ico-questionmark.png" alt="">--></p>
                        <br />
                        <a class="btn cta" href="/volania/happy/bez-zavazkov/mam-zaujem">kúpiť program bez záväzkov</a><br />
                        <a class="scroll-to more__info link mgt-10" href="#sec-2">Pozrieť viac info</a></div>
                </div>
                <div class="col-md-2 ec-holder">
                    <!--<img class="ec-cena tt" src="../assets/img/ec-3.png" alt="">--><img alt="" class="ec-1" src="../assets/img/ec-01.png" /> <img alt="" class="ec-2 info-clip tt" src="../assets/img/ec-02.png" /></div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu">
                    <li class="variant current" data-variant="1">
                        <a href="#tab-1">Podrobnosti o programe</a></li>
                    <li class="variant" data-variant="2">
                        <a href="#tab-2">Užitočné informácie</a></li>
                </ul>
            </div>
            <div class="tab">
                <div class="tab-content" id="tab-1">
                    <div class="row">
                        <div class="col-md-8 tc__left">
                            <div class="tc__top">
                                <h4 class="tc__title">
                                    Podrobnosti o programe</h4>
                                <p class="tc__sub-title">
                                    Program Bez záväzkov je mobilný program:</p>
                                <p class="pipe">
                                    bez viazanosti a mesačných poplatkov,</p>
                                <p class="pipe">
                                    so 4G Internetom v mobile.</p>
                                <!--<p class="pipe font_magenta">teraz v akcii s balíkom 100 minút do všetkých sietí v SR.</p>
                                <div class="legal"> <a class="more__info more__info-arrow" href="" onclick="$('#legal-1').toggle('slow');$('.more__info-arrow').toggleClass('arrow_down');return false;">Viac info o balíku 100 minút</a>
                                    <div class="legal-content" id="legal-1" style="display: none;">
                                        <p class="bottom-text">100 minút z balíka môžete využiť aj na volania z Čiech, Maďarska, Rakúska alebo Poľska na Slovensko a do EÚ.
                                            <br/>Akciu môžu využiť len majitelia <span class="ec-3 tt tt__link">paušálov Happy M a vyšších.</span></p>
                                    </div>
                                </div>--></div>
                            <p class="tc__sub-title">
                                Vaše budúce platby</p>
                            <table class="pricing-table">
                                <tbody>
                                    <tr class="head">
                                        <th>
                                            Produkt / služba</th>
                                        <th>
                                            jednorazovo <img alt="" class="tt ec-4" src="../assets/img/ico-questionmark_pink.png" /></th>
                                        <th>
                                            mesačne</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            Program Bez záväzkov</td>
                                        <td>
                                            10 €</td>
                                        <td>
                                            0 €</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Služba CLIP</td>
                                        <td>
                                            0 €</td>
                                        <td>
                                            0 €</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="tc__sub-title">
                                Ceny ostatných služieb</p>
                            <table class="other-services">
                                <tbody>
                                    <tr>
                                        <td>
                                            <img alt="" src="../assets/img/ico-phone.png" /> Volania</td>
                                        <td>
                                            0,12 € | min.</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img alt="" src="../assets/img/ico-mail.png" /> SMS a MMS</td>
                                        <td>
                                            0,06 €</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img alt="" src="../assets/img/ico-4g.png" /> 4G Internet v mobile</td>
                                        <td>
                                            0,49 € | MB</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4 tc__right">
                            <h4 class="tc__title">
                                Doplnkové balíky</h4>
                            <p class="tc__sub-title">
                                4G Internet v mobile</p>
                            <p>
                                Vyberte si 100 alebo 500 MB balík</p>
                            <select id="subs-type"><option value="100">100 MB mesačne 3,99 €</option><option value="500">500 MB mesačne 5,99 €</option></select>
                            <p id="info-1">
                                S balíkom 100 MB dát si pozriete napr. cestovný poriadok, či predpoveď počasia.</p>
                            <p id="info-2" style="display: none;">
                                S balíkom 500 MB dát si pozriete napr. e-maily s prílohami, fotografie či sociálne siete.</p>
                            <a class="btn btn_outline" href="#data100" id="activate">AKTIVOVAŤ</a><br />
                            <a class="link deactivate" href="#deact" id="deactivate">Deaktivovať</a></div>
                    </div>
                </div>
                <div class="tab-content tc_2" id="tab-2">
                    <div class="row">
                        <h4 class="tc__title">
                            Užitočné informácie</h4>
                        <p class="tc__sub-title">
                            Program Bez záväzkov a nový mobil</p>
                        <p class="item__desc">
                            Máte záujem aj o nový mobil? Vyberte si z našej ponuky už od 1 € k paušálom Happy. K programu Bez záväzkov sa žial nový mobil nedá zobrať.</p>
                        <a class="link item__link" href="/volania/happy?bez-zavazkov#sec-2">Prejsť na paušály Happy</a>
                        <p class="tc__sub-title">
                            Skutočne bez záväzkov a viazanosti!</p>
                        <p class="item__desc">
                            Ak na vašej SIM karte s programom Bez záväzkov neuskutočníte odchádzajúci hovor, neodošlete SMS/MMS alebo nepresurfujete žiadne dáta dlhšie ako 365 dní, dôjde k ukončeniu Zmluvy a deaktivácii SIM karty.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="legal legal_bottom">
            <a class="link note-legal" href="" onclick="$('#legal-2').toggle('slow');return false;">Podmienky Program Bez záväzkov</a>
            <div class="legal-content" id="legal-2" style="display: none;">
                <p>
                    Ceny sú uvedené s DPH zaokrúhlené na 2 desatinné miesta. Úplná cena s DPH pre hovory je 0,121€ za minútu, pre SMS je 0,060 € za SMS a pre dáta je 0,49 € za MB.&nbsp;</p>
                <p>
                    Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom<a class="link" href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete">Cenníku pre poskytovanie služieb</a></p>
            </div>
        </div>
    </div>
</section>
<div style="display:none">
    <div class="happy-lightbox" id="data100">
        Pre aktiváciu zašlite SMS s textom<br />
        <strong>100 ZAP</strong> na číslo <strong>12323</strong></div>
</div>
<div style="display:none">
    <div class="happy-lightbox" id="data500">
        Pre aktiváciu zašlite SMS s textom<br />
        <strong>500 ZAP</strong> na číslo <strong>12323</strong></div>
</div>
<div style="display:none">
    <div class="happy-lightbox" id="deact">
        Pre deaktiváciu zašlite SMS s textom<br />
        <strong>100 VYP alebo 500 VYP</strong> na číslo <strong>12323</strong></div>
</div>
<script type="text/javascript" src="../assets/js/main.js"></script>