/* LEGACY BUTTONS END */
.btn {
  text-transform: uppercase;
  font-size: 16px;
  color: #383838;
  background-color: #ededed;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  height: auto;
  line-height: normal;
}

.cta {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #65ac20;
}

.cta:hover {
  background-color: #58951c;
  border: 1px solid #4d8319;
}

.cta:active {
  background-color: #5e9e20;
  border: 1px solid #65ac20;
}

.cta_mag {
  color: #ffffff;
  background-color: #e20074;
  border: 1px solid #cc0069;
}

.cta_mag:hover {
  background-color: #cc0069;
  border: 1px solid #9f0052;
}

.cta_mag:active {
  background-color: #db0070;
  border: 1px solid #cc0069;
}

.cta_mag:focus {
    outline: none;
}

.cta.btn_disabled,
.cta_mag.btn_disabled {
  color: #ffffff;
  background-color: #d7d7d7;
  border: 1px solid #cdcdcd;
}

.btn_mag-outline, .btn_mag-outline:hover {
    background-color: transparent;
    color: #e20074;
    border: 1px solid #e20074; }


/* dialogBox shop */
  .dialogshop-content {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    .wrapper {
        width: 49%;
        max-width: 49%;
        display: inline-block;
        vertical-align: top;
        @media screen and (max-width: 768px) {
            width: 100%;
            max-width: none;
            display: block;
        }
        .left, .right {
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
            display: block;
            text-align: center;
            @media screen and (max-width: 768px) {
                max-width: none;
            }
            & p {
                font-size: 16px;
            }
            .headline {
                font-size: 20px;
                font-weight: 600;
            }
            .subheadline {
                margin-bottom: 0px;
            }
        }
        .btn {
            text-align: center;
            margin-bottom: 10px;
            width: 100%;
        }
        .top {
            min-height: 405px;
            //min-height: 406px;
            margin-top: 20px;
            @media screen and (max-width: 768px) {
                min-height: auto;
            }
            .subheadline, .text {
                text-align: left;
            }
            img {
                max-width: 95%;
                max-height: 167px;
            }
        }
        ul {
            line-height: normal;
            margin-top: 0;
            text-align: left;
            //margin-bottom: 20px;
            li {
                font-size: 16px;
            }
        }
        .btnPadd {
            padding: 8px 20%;
        }
    }
    .wrapper:first-of-type {
        border-right: 1px solid #ccc;
        @media screen and (max-width: 768px) {
            border: none;
        }
    }
}

.headline {
        & h3 {
        font-size: 28px;
        color: #000;
        font-weight: 600;
    }
}

button.shop-close {
    background: none;
    border: none;
    color: #007faf;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.mat-dialog-content {
    // margin: 0 -24px 0 -8px;
    max-height: unset;
    overflow-x: hidden;
}

a.cta_mag.incartstyle {
    color: #6bb324 !important;
    background-color: #fff !important;
    border: none !important;
    font-weight: 600;
    &:active {
        border: none;
    }
}
/* dialogBox shop END */



/* dialogBox cart START */
.dialogBoxCart-content {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    p {
        font-size: 16px;
    }
    .side {
        display: flex;
        @media screen and (max-width: 768px) {
            display: block;
        }
        .wrapperLeft {
            width: 60%;
            display: inline-block;
            vertical-align: top;
            border-right: 1px solid #ccc;
            @media screen and (max-width: 768px) {
                width: 100%;
                display: block;
                border: none;
            }
            .product {
                display: flex;
                align-items: center;
                @media screen and (max-width: 543px) {
                    display: block;
                }
                .productImg {
                    width: 39%;
                    padding: 5%;
                    display: inline-block;
                    text-align: center;
                    @media screen and (max-width: 543px) {
                        width: 100%;
                        display: block;
                        padding: 5% 0;
                    }
                    img {
                        max-width: 100%;
                    }
                }
                .productDesc {
                    width: 40%;
                    padding: 5%;
                    display: inline-block;
                    vertical-align: top;
                    @media screen and (max-width: 543px) {
                        width: 100%;
                        display: block;
                        padding: 0;
                        text-align: center;
                    }
                    .inCart {
                        color: #5e9e20;
                        padding: 2% 0%;
                    }
                    .prodHeadline {
                        font-size: 18px;
                        margin: 0px;
                    }
                }

            }
            .product:nth-of-type(2) {
                border-top: 1px solid #ccc;
            }
        }
        .wrapperRight {
            width: 39%;
            display: inline-block;
            vertical-align: top;
            @media screen and (max-width: 768px) {
                width: 100%;
                display: block;
            }
            .right {
                .buttons {
                    padding: 8%;
                    text-align: center;
                    @media screen and (max-width: 768px) {
                        padding: 0 8%;
                    }
                    .btn {
                        width: 100%;
                        margin-bottom: 3%;
                    }
                }
                .cartDetailInfo {
                    padding: 0 8%;
                    @media screen and (max-width: 768px) {
                        text-align: center;
                    }
                    p {
                        margin: 0px;
                    }
                    p:last-of-type {
                        margin-bottom: 15px;
                    }
                    .headline {
                        font-weight: 600;
                        color: #000;
                        margin: 0;
                    }
                    .numProductsInCart {
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                    .magenta {
                        margin: 10px 0 0 0;
                        color: #e20074;
                        font-size: 22px;
                        & span {
                            font-size: 16px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
    .moreProducts {
        padding-bottom: 3%;
        border-top: 1px solid #ccc;
        p {
            margin-bottom: 10px;
        }
        .productWrapper {
            width: 27%;
            padding: 0% 3%;
            display: inline-block;
            vertical-align: top;
            @media screen and (max-width: 768px) {
                width: 100%;
                padding: 0 0 5% 0;
                display: block;
                vertical-align: top;
                text-align: center;
                border-bottom: 1px solid #ccc;
                &:nth-of-type(4) {
                    border-bottom: none;
                }
            }
            &:nth-of-type(4) {
                border-bottom: none;
            }
            .image {
                min-height: 170px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    max-width: 60%;
                    max-height: 100px;
                }
            }
            .prodName {
                font-size: 22px;
                margin: 0;
                font-weight: 600;
            }
            .shortDesc {
                min-height: 55px;
            }
            .magentaPrice {
                color: #cc0069;
                font-size: 18px;
                span {
                    color: #383838;
                    font-size: 14px;
                }
            }
        }
    }
}

 



.hidden {
    display: none !important;
}

.center {
    text-align: center;
}

.cta.incartstyle {
    background-color: #fff !important;
    color: #6bb324;
    font-weight: 600;
    border: 1px solid transparent;
}
/* dialogBox cart END */

// // popup
// aaa.mat-dialog-content[_ngcontent-c6] {
//     max-height: 65vh !important;
// }