<mat-dialog-content>
    <div class="container-fixed">
        <div class="row">
            <div class="headline text-center">
                <h3>Produkty boli pridané do nákupného košíka</h3>
            </div>
            <div class="dialogBoxCart-content">
                <div class="side">
                <div class="wrapperLeft" *ngIf="basicPackage">
                    <div class="product" *ngFor="let basicPack of basicPackage">
                        <div class="productImg">
                            <img src="{{imgSrcStrapi}}{{basicPack.imgs[0].url}}" alt="">
                        </div>
                        <div class="productDesc">
                            <p class="inCart"><b>VLOŽENÝ V KOŠÍKU</b></p>
                            <p class="prodHeadline"><b>{{basicPack.name}}</b></p>
                            <p>{{basicPack.shortDesc}}</p>
                            <p Markdown [data]="basicPack.cartDesc"></p>
                        </div>
                    </div>
                </div>
                <div class="wrapperRight">
                    <div class="right">
                        <div class="buttons">
                            <button routerLink="/cart" mat-dialog-close class="btn cta_mag">UPRAVIŤ POLOŽKY V KOŠÍKU</button>
                            <button href="" mat-dialog-close class="btn btn_mag-outline">VYBRAŤ ĎALŠIE PRODUKTY</button>
                        </div>
                        <div class="cartDetailInfo text-left">
                            <h3 class="headline">Hodnota košíka:</h3>
                            <p class="numProductsInCart">Počet položiek: {{this._shoppingCartService.shoppingCartLength}}</p>
                            <p class="fullPrice">Plná cena: {{this._shoppingCartService.oneTimePrice | number : '1.2-2'}} €</p>
                            <p class="magenta">Cena: <b>{{this._shoppingCartService.fullMonthlyPrice | number : '1.2-2'}}€ </b><span>/mesačne</span></p>
                            <p>Pri viazanosti 24 mes.</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="moreProducts">
                    <div class="headline text-center">
                        <h3>K týmto produktom zákazníci najčastejšie dokupujú</h3>
                    </div>
                    <div class="productWrapper" *ngFor = "let product of additionalProducts; let i = index" [class.hidden]="i>2">
                        <div class="product" *ngIf ="i<3">
                            <div class="image">
                                <img src="{{imgSrcStrapi}}{{product.imgs[0].url}}" alt="">
                            </div>
                            <p class="prodName"><b>{{product.name}}</b></p>
                            <p class="shortDesc">{{product.shortDesc}}</p>
                            <p [hidden]="product.fullPrice==0">Plná cena: {{product.fullPrice}} € <span mat-raised-button matTooltip="Jednorazová cena zariadenia." matTooltipHideDelay="100" matTooltipClass="tooltip"><img style="cursor:pointer;" src="{{ imgsLR }}/qm.png" alt="tooltip"></span></p>
                            <p class="magentaPrice"><b>Cena: {{product.price}} €</b><span> / viazanosť 24 mes</span></p>
                            <!-- <a (click)="addToCart(product)" class="btn cta_mag">PRIDAŤ DO KOŠÍKA</a> -->
                            <button class="btn cta" style="cursor: pointer;" *ngIf="product.isInCart == null" (click)="addToCart(product)">PRIDAŤ DO KOŠÍKA</button>
                            <button class="btn cta" style="cursor: auto;" *ngIf="product.isInCart" [class.incartstyle]="product.isInCart == true">VLOŽENÝ V KOŠÍKU</button>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
<button class="shop-close" mat-button mat-dialog-close>Zavrieť okno</button>
<!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>


<!-- <ng-template #noName> -->
    <!-- <dialogbox *ngIf="isVisible == true" (click)="addtoCart(product, $event.target, 'VLOŽENÝ V KOŠÍKU')" (BalicekChanged)="onZakladnyBalicekClicked($event)" ></dialogbox> -->
<!-- </ng-template> -->