<section id="hero" class="fixed-column group">
    <div class="hero__content hero_squares hero_no-offset text_centered grid__col_5">
        <h1 class="hero__title font_black">
        <strong class="font_magenta">PRENOS ČÍSLA</strong>
        <br />PREJDITE do LEPŠej SIEte
        jednoducho a bez STAROSTÍ</h1>
        <a class="button button_lima scroll-to" href="#sec-3"><span>VIAC INFO</span></a>
    </div>
    <!--<div class="grid__col_7 text_centered"><img class="hero__img" src="https://www.telekom.sk/documents/10179/558901/kv-img.png" alt=""></div>-->
</section>


<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li><a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <!--<li><a class="scroll-to" href="#sec-3">CHCEM PRENIESŤ</a></li>
        <li><a class="scroll-to" href="#sec-4">CHCEM ODPORUČIŤ</a></li>-->
        <li><a class="scroll-to" href="#sec-5">AKO FUNGUJE PRENOS</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="https://www.telekom.sk/documents/10179/544745/arrow-top.png" alt=" "></a></li>
    </ul>
</div>


<section id="sec-1" class="sec-1 section">
    <div class="fixed-column">
        <div class="sec__title"><b>výhody pri prenose čísla</b></div>
        <div class="row">
            <div class="grid__col_4 text_centered benefits">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-1.png" alt="">
                <p><b>Preneste si svoje číslo</b></p>
                <p>Prejdite bezplatne od iného operátora na mobilný paušál Happy a volajte si v sieti Telekom neobmedzene.</p>
                <a class="scroll-to" href="#sec-2">Pozrieť paušály <img src="https://www.telekom.sk/documents/10179/558901/link-arrow.png" alt=""></a>
            </div>
            <div class="grid__col_4 text_centered benefits">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-2.png" alt="">
                <p><b>Vybavíme všetko za vás!</b></p>
                <p>Požiadajte o prenos čísla a zabudnite na starosti. Všetky potrebné veci vybavíme za vás a už o pár dní si budete môcť užívať všetky výhody našej 4G siete.</p>
                <a href="https://www.telekom.sk/volania/mam-zaujem/prenos-cisla/formular">Prejsť na formulár <img src="https://www.telekom.sk/documents/10179/558901/link-arrow.png" alt=""></a>
            </div>
            <div class="clear2"></div>
            <div class="grid__col_4 text_centered benefits">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-3.png" alt="">
                <p><b>Výhody nákupu na webe</b></p>
                <p>Za nákup na webe máte doručenie kuriérom zadarmo a možnosť vrátiť tovar alebo službu bez udania dôvodu až do 14 dní.</p>
            </div>
            <div class="clear"></div>
            <div class="grid__col_4 text_centered benefits">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-4.png" alt="">
                <p><b>Externá batéria ako darček</b></p>
                <p>Ku každej objednávke mobilného Happy paušálu vám dáme Externú batériu ako darček.</p>
            </div>
            <div class="clear2"></div>
            <div class="grid__col_4 text_centered benefits">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-5.png" alt="">
                <p><b>Najrýchlejšia 4G sieť</b></p>
                <p>K paušálom Happy si môžete vybrať z množstva výhodných 4G smartfónov a dátovať v najrýchlejšej 4G sieti bez poplatkov navyše.</p>
            </div>
            <div class="grid__col_4 text_centered benefits">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-6.png" alt="">
                <p><b>Mobilná TV Magio GO zadarmo</b></p>
                <p>3 mesiace zadarmo získate, k akémukoľvek Happy paušálu</p>
            </div>
        </div>
    </div>
</section>

<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <div class="c-row c-row-table">
            <div class="c-content show-mobile" id="happy-boxes">
                <div class="header-top">
                    <div class="sec__title">
                        <b>SLUŽBY A CENY HAPPY PAUŠÁLOV</b></div>
                </div>
                <div class="box" id="happy-xs">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">Happy XS</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">50 minút do ostatných sietí SR, EÚ a&nbsp;prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">100 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">9,99 €</a></div>
                </div>
                <div class="box" id="happy-s">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">Happy S</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">100 minút do ostatných sietí SR, EÚ a&nbsp;prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">200 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">16,99 €</a></div>
                </div>
                <div class="box" id="happy-m">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">Happy M</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">150 minút do ostatných sietí SR, EÚ a prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">500 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">23,99 €</a></div>
                </div>
                <div class="box" id="happy-l">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">Happy L</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">250 minút do ostatných sietí SR, EÚ a&nbsp;prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">2000 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">29,99 €</a></div>
                </div>
                <div class="box" id="happy-xl-volania">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">Happy XL volania</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">Neobmedzene v SR, 1 000 minút do EÚ zo SR, 1 000 minút prijatých v EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">500 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">29,99 €</a></div>
                </div>
                <div class="box" id="happy-xl">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">Happy XL</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">Neobmedzene v SR, 1 000 minút do EÚ zo SR, 1 000 minút prijatých v EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">4000 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">39,99 €</a></div>
                </div>
                <div class="box" id="happy-xxl">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">Happy XXL</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">Neobmedzene v SR, 1 000 minút do EÚ zo SR, 1 000 minút prijatých v EÚ, 100 minút z EÚ do SR</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">6000 MB aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">54,99 €</a></div>
                </div>
                <div class="box" id="happy-profi">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=profi">Happy PROFI</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy">Neobmedzene v SR, 1 000 minút do EÚ a svet, 1 000 minút v EÚ a svet, 200 minút z EÚ a sveta do SR</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy">6000 MB aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy">69,99 €</a></div>
                </div>
                <div class="clear"></div>
                <div class="table-order">
                    <a class="button button_lima" href="https://www.telekom.sk/volania/mam-zaujem/prenos-cisla/formular">PRENIESŤ ČÍSLO</a></div>
            </div>
            <div class="c-content hide-mobile" id="happy-table">
                <div class="header-top">
                    <div class="sec__title">
                        <b>SLUŽBY A CENY HAPPY PAUŠÁLOV</b></div>
                </div>
                <div class="happy-table2">
                    <table class="happy-desc">
                        <thead>
                            <tr class="header">
                                <th>
                                    &nbsp;</th>
                                <th>
                                    &nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-1">
                                <td class="row-1-head">
                                    Neobmedzené volania do mobilnej a pevnej siete Telekom</td>
                            </tr>
                            <tr class="row-2">
                                <td class="row-2-head">
                                    Volania do ostatných sietí SR, EÚ a prijaté hovory v EÚ</td>
                            </tr>
                            <tr class="row-4">
                                <td class="row-4-head">
                                    SMS/MMS v rámci SR</td>
                            </tr>
                            <tr class="row-5">
                                <td class="row-5-head">
                                    4G Internet v mobile <span><img src="https://www.telekom.sk/documents/10179/355205/icon_info_grey.png" /></span></td>
                            </tr>
                            <tr class="row-10">
                                <td class="row-10-head">
                                    Mesačný poplatok</td>
                            </tr>
                            <!--<tr class="row-8">
								<td class="row-8-head">
									Bonus na paušál
									<div class="magenta-row">
										&nbsp;</div>
								</td>
							</tr>
							<tr class="row-8">
								<td class="row-8-head">
									Bonus na telefón
									<div class="magenta-row">
										&nbsp;</div>
								</td>
							</tr>-->
                            <tr class="row-9">
                                <td class="row-9-head">
                                    Zľava na paušál bez mobilu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="happy-left">
                    <a href="#" id="previous-column"><img src="https://www.telekom.sk/documents/10179/355205/row1-table_left.png" /> </a>
                </div>
                <div class="happy-table3">
                    <div class="table-container">
                        <div class="sliding-window">
                            <table class="happy">
                                <thead>
                                    <tr class="header">
                                        <td class="row-head-xs">
                                            Happy XS</td>
                                        <td class="row-head-s">
                                            Happy S</td>
                                        <td class="row-head-m">
                                            Happy M</td>
                                        <td class="row-head-l">
                                            Happy L</td>
                                        <td class="row-head-xl2">
                                            Happy XL volania</td>
                                        <td class="row-head-xl">
                                            Happy XL</td>
                                        <td class="row-head-xxl">
                                            Happy XXL</td>
                                        <td class="row-head-profi">
                                            Happy PROFI</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row-1">
                                        <td class="row-1-xs">
                                            Mimo špičky
                                            <br /> a cez víkend</td>
                                        <td class="row-1-s">
                                            &nbsp;</td>
                                        <td class="row-1-m">
                                            &nbsp;</td>
                                        <td class="row-1-l">
                                            &nbsp;</td>
                                        <td class="row-1-xl2">
                                            &nbsp;</td>
                                        <td class="row-1-xl">
                                            &nbsp;</td>
                                        <td class="row-1-xxl">
                                            &nbsp;</td>
                                        <td class="row-1-profi">
                                            &nbsp;</td>
                                    </tr>
                                    <tr class="row-2">
                                        <td class="row-2-xs">
                                            50 minút</td>
                                        <td class="row-2-s">
                                            100 minút</td>
                                        <td class="row-2-m">
                                            150 minút</td>
                                        <td class="row-2-l">
                                            250 minút</td>
                                        <td class="row-2-xl2">
                                            <div class="row-2-xl2-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-xl2-b">
                                                1 000 minút do EÚ zo SR,</div>
                                            <div class="row-2-xl2-c">
                                                1 000 minút prijatých v EÚ</div>
                                        </td>
                                        <td class="row-2-xl">
                                            <div class="row-2-xl-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-xl-b">
                                                1 000 minút do EÚ zo SR,</div>
                                            <div class="row-2-xl-c">
                                                1 000 minút prijatých v EÚ</div>
                                        </td>
                                        <td class="row-2-xxl">
                                            <div class="row-2-xxl-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-xxl-b">
                                                1 000 minút do EÚ zo SR,</div>
                                            <div class="row-2-xxl-c">
                                                1 000 minút prijatých v EÚ,</div>
                                            <div class="row-2-xxl-d">
                                                100 minút z EÚ do SR</div>
                                        </td>
                                        <td class="row-2-profi">
                                            <div class="row-2-profi-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-profi-b">
                                                1 000 minút do EÚ a svet,</div>
                                            <div class="row-2-profi-c">
                                                1 000 minút v EÚ a svet,</div>
                                            <div class="row-2-profi-d">
                                                200 minút z EÚ a sveta do SR</div>
                                        </td>
                                    </tr>
                                    <tr class="row-4">
                                        <td class="row-4-xs">
                                            0,10 €</td>
                                        <td class="row-4-s">
                                            0,10 €</td>
                                        <td class="row-4-m">
                                            Neobmedzene</td>
                                        <td class="row-4-l">
                                            Neobmedzene</td>
                                        <td class="row-4-xl2">
                                            0,10 €</td>
                                        <td class="row-4-xl">
                                            Neobmedzene</td>
                                        <td class="row-4-xxl">
                                            Neobmedzene aj do EÚ</td>
                                        <td class="row-4-profi">
                                            <div class="row-4-profi-a">
                                                Neobmedzene aj do</div>
                                            <div class="row-4-profi-b">
                                                EÚ + svet</div>
                                        </td>
                                    </tr>
                                    <tr class="row-5">
                                        <td class="row-5-xs">
                                            100 MB</td>
                                        <td class="row-5-s">
                                            200 MB</td>
                                        <td class="row-5-m">
                                            500 MB</td>
                                        <td class="row-5-l">
                                            2 000 MB</td>
                                        <td class="row-5-xl2">
                                            500 MB</td>
                                        <td class="row-5-xl">
                                            4 000 MB</td>
                                        <td class="row-5-xxl">
                                            6 000 MB</td>
                                        <td class="row-5-profi">
                                            6 000 MB</td>
                                    </tr>
                                    <tr class="row-10">
                                        <td class="row-10-xs">
                                            9,99 €</td>
                                        <td class="row-10-s">
                                            16,99 €</td>
                                        <td class="row-10-m">
                                            23,99 €</td>
                                        <td class="row-10-l">
                                            29,99 €</td>
                                        <td class="row-10-xl2">
                                            29,99 €</td>
                                        <td class="row-10-xl">
                                            39,99 €</td>
                                        <td class="row-10-xxl">
                                            54,99 €</td>
                                        <td class="row-10-profi">
                                            69,99 €</td>
                                    </tr>
                                    <!--<tr class="row-8">
										<td class="row-8-xs">
											50,00 €</td>
										<td class="row-8-s">
											50,00 €</td>
										<td class="row-8-m">
											100,00 €</td>
										<td class="row-8-l">
											100,00 €</td>
										<td class="row-8-xl2">
											100,00 €</td>
										<td class="row-8-xl">
											150,00 €</td>
										<td class="row-8-xxl">
											150,00 €</td>
										<td class="row-8-profi">
											150,00 €</td>
									</tr>
									<tr class="row-8">
										<td class="row-8-xs">
											50,00 €</td>
										<td class="row-8-s">
											50,00 €</td>
										<td class="row-8-m">
											50,00 €</td>
										<td class="row-8-l">
											50,00 €</td>
										<td class="row-8-xl2">
											50,00 €</td>
										<td class="row-8-xl">
											50,00 €</td>
										<td class="row-8-xxl">
											50,00 €</td>
										<td class="row-8-profi">
											50,00 €</td>
									</tr>-->
                                    <tr class="row-9">
                                        <td class="row-9-xs">
                                            -</td>
                                        <td class="row-9-s">
                                            - 1,00 €</td>
                                        <td class="row-9-m">
                                            - 4,00 €</td>
                                        <td class="row-9-l">
                                            - 2,00 €</td>
                                        <td class="row-9-xl2">
                                            - 2,00 €</td>
                                        <td class="row-9-xl">
                                            - 4,00 €</td>
                                        <td class="row-9-xxl">
                                            - 8,00 €</td>
                                        <td class="row-9-profi">
                                            - 10,00 €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="happy-right">
                    <a href="#" id="next-column"><img src="https://www.telekom.sk/documents/10179/355205/row1-table_right.png" /></a>
                </div>
                <div class="clear"></div>
                <div class="table-order">
                    <a class="button button_lima" href="https://www.telekom.sk/volania/mam-zaujem/prenos-cisla/formular">PRENIESŤ ČÍSLO</a></div>
            </div>
        </div>
    </div>
</section>


<!--<section id="sec-3" class="sec-3 section">
    <div class="fixed-column">
        <div class="sec__title"><b>PRENESTE SI SVOJE ČÍSLO<br /><span class="font_magenta">A ZÍSKAJTE bonus AŽ 200 €</span><img class="post-it" src="https://www.telekom.sk/documents/10179/558901/post-it.png" alt=""></b></div>
        <div class="sec__desc text_centered"><span class="margin_bottom20">Bonus do 200 € získate, ak si k nám prenesiete číslo<br />od iného operátora.</span>
            <br /><span>Čím vyšší paušál si vyberiete, tým väčší bonus dostanete.<br />Bonus si môžete uplatniť ako zľavu na paušál a nový smartfón.</span></div>
        <div class="row text_centered">
            <div class="grid__col_4">
                <p class="sub__title font_magenta"><b>200 €</b> bonus</p>
                <p class="sub__desc">získate k paušálom Happy XL, XXL a Profi, z toho 150 € na paušá a 50 € na nový telefón <img class="benefit2" src="../assets/img/icon_info_black.png" /></p>
            </div>
            <div class="grid__col_4">
                <p class="sub__title font_magenta"><b>150 €</b> bonus</p>
                <p class="sub__desc">získate k paušálom Happy M, L a XL Volania, z toho 100 € na paušál a 50 € na nový telefón <img class="benefit2" src="../assets/img/icon_info_black.png" /></p>
            </div>
            <div class="grid__col_4">
                <p class="sub__title font_magenta"><b>100 €</b> bonus</p>
                <p class="sub__desc">získate k paušálom Happy XS a S, z toho 50 € na paušál a 50 € na nový telefón <img class="benefit3" src="../assets/img/icon_info_black.png" /></p>
            </div>
        </div>
        <div class="row text_centered">
            <a class="button button_lima" href="https://www.telekom.sk/volania/mam-zaujem/prenos-cisla/formular">PRENIESŤ ČÍSLO</a>
        </div>
        <div class="row text_centered margin_top20"><p>Bonus na telefón dostanete okamžite. Bonus na paušál sa vám uplatní počas nasledujúcich 20 mesiacov.<br />
            <span class="font_magenta">Nemusíte čakať 40 mesiacov ako u iných operátorov.</span></p></div>
    </div>
</section>

<section id="sec-4" class="sec-4 section">
    <div class="fixed-column">
        <div class="sec__title"><b>CHCEM ODPORUČIŤ BLÍZKYCH<br /><span class="font_magenta">A ZÍSKAŤ bonus DO 200 €</span></b></div>

        <div class="row text_centered">
            <div class="grid__col_6">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-7.png" alt="">
                <p class="sub__title font_magenta"><b>100 €</b> bonus</p>
                <p class="sub__desc">
                    <span class="font_magenta">50 € na paušál + 50 € na telefón <img class="benefit4" src="../assets/img/icon_info_black.png" /></span>
                    <br />získate za jedného odporučeného zákazníka</p>
            </div>
            <div class="grid__col_6">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-8.png" alt="">
                <p class="sub__title font_magenta"><b>200 €</b> bonus</p>
                <p class="sub__desc">
                    <span class="font_magenta">100 € na paušál + 100 € na telefón <img class="benefit5" src="../assets/img/icon_info_black.png" /></span>
                    <br />získate za dvoch odporučených zákazníkov</p>
            </div>
            <img class="line" src="https://www.telekom.sk/documents/10179/558901/row-bg.png" alt="">
            <div class="row text_centered">
                <p class="sub__title font_magenta">AKO ODPORUČIŤ BLÍZKEHO</p>
                <p class="sub__desc">
                    <span>Predtým, ako váš blízky požiada o prenos čísla, napíšte SMS s textom<br /><b>Odporucam 09xx xxx xxx</b> na číslo <b>12323</b></span></p>
                <p class="sub__title font_magenta">AKO UPLATNIŤ BONUS NA TELEFÓN</p>
                <p class="sub__desc">
                    <span>Po úspešnom odporučení si môžete uplatniť Bonus na telefón vo forme zľavy</span></p>
                <a href="https://www.telekom.sk/volania/mam-zaujem/prenos-cisla/bonus-na-telefon/formular">Uplatniť Bonus <img src="https://www.telekom.sk/documents/10179/558901/link-arrow.png" alt=""></a>
            </div>
            <img class="line" src="https://www.telekom.sk/documents/10179/558901/row-bg.png" alt="">
            <div class="row">
                <p>Bonus za odporúčanie (vrátane bonusu na telefón) získate po vystavení 1. faktúry vášmu známemu, ktorý si k nám úspešne prenesie číslo.</p>
            </div>
        </div>
    </div>
</section>-->
<section id="sec-5" class="sec-5 section">
    <div class="fixed-column">
        <div class="sec__title"><b>AKO FUNGUJE PRENOS ČÍSLA</b></div>
        <div class="row text_centered">
            <div class="grid__col_3">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-9.png" alt="">
                <p class="sub__desc">
                    <b>Žiadosť o prenos čísla</b>
                    <br />V priebehu 3 pracovných dní po odoslaní žiadosti vás budeme kontaktovať kvôli overeniu údajov a výberu paušálneho programu, prípadne nového mobilného telefónu.</p>
            </div>
            <div class="grid__col_3">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-10.png" alt="">
                <p class="sub__desc">
                    <b>Bezplatné doručenie kuriérom</b>
                    <br />Následne vám kuriérom bezplatne doručíme potrebné dokumenty na podpis, novú Telekom SIM kartu a mobilný telefón (ak ste si ho objednali).</p>
            </div>
            <div class="grid__col_3">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-11.png" alt="">
                <p class="sub__desc">
                    <b>Fungovanie počas prenosu</b>
                    <br />Počas prenosu využívate vaše telefónne číslo u svojho súčasného operátora. Okrem neho môžete používať aj novú Telekom SIM kartu, na ktorej je aktivované dočasné číslo.</p>
            </div>
            <div class="grid__col_3">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-12.png" alt="">
                <p class="sub__desc">
                    <b>Aktivovanie paušálu Happy</b>
                    <br />Do 4 dní po podpísaní dokumentov bude na novej Telekom SIM karte aktivované vaše pôvodné číslo, ktoré môžete ihneď začať používať.</p>
            </div>
        </div>
        <div class="row text_centered">
            <p class="font_magenta">O stave prenosu vás budeme priebežne informovať cez SMS</p>
            <p>Poplatok za vydanie novej Telekom SIM karty je 10 €.</p>
        </div>

    </div>
</section>


<section id="sec-6" class="sec-6 section">
    <div class="fixed-column">
        <div class="sec__title"><b>NAŠE ODPORÚČANIA</b></div>
        <div class="row text_centered">
            <div class="grid__col_4">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-13.png" alt="">
                <p class="sub__desc">Skontrolujte si osobné údaje v zmluve so súčasným operátorom. Musia sa zhodovať s tými, ktoré uvediete v žiadosti o prenos do Telekomu.</p>
            </div>
            <div class="grid__col_4">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-14.png" alt="">
                <p class="sub__desc">O prenos čísla vám odporúčame požiadať po skončení viazanosti, pretože váš súčasný operátor si môže uplatniť pokutu za predčasné ukončenie zmluvy.</p>
            </div>
            <div class="grid__col_4">
                <img src="https://www.telekom.sk/documents/10179/558901/ico-15.png" alt="">
                <p class="sub__desc">Pre plynulý a bezproblémový prenos je dôležité, aby ste mali vysporiadané všetky záväzky s vaším súčasným operátorom.</p>
            </div>
        </div>



        <div class="row margin_top50">
            <!--<div class="c-content"> <a class="note-zdielanie" href="" onclick="$('#happy-legal').toggle('slow');return false;">Podmienky k Prenosu čísla BONUS 200 €:</a>
                <div id="happy-legal" style="display: none;">
                    <div class="happy-legal"> <a class="note-legal" href="" onclick="$('#happy-legal-1').toggle('slow');return false;">Bonus za odporúčanie</a>
                        <div class="happy-legal-content" id="happy-legal-1" style="display: none;"> <p>Akcia Bonus za odporúčanie platí do 31. 12. 2015 a vzťahuje sa len na účastníkov s mesačnými programami mobilných hlasových služieb s mesačným poplatkom, okrem účastníkov využívajúcich ponuku Magenta 1 (ďalej len „Odporúčajúci Účastník“). Odporúčajúci Účastník môže odporučiť iného účastníka využívajúceho mobilné hlasové služby iného podniku na prenos jeho telefónneho čísla do mobilnej siete ST prostredníctvom SMS zaslanej v tvare „Odporucam 09xxxxxx“ na číslo 12323, pričom nárok na bonus za odporúčanie vznikne Odporúčajúcemu Účastníkovi v prípade (i) úspešného prenosu odporúčaného telefónneho čísla do mobilnej siete ST s aktiváciou mesačného programu služieb Happy s viazanosťou 24 mesiacov a (ii) uhradenia prvej faktúry za aktivovaný program služieb Happy odporučeným účastníkom. Odporúčajúci Účastník môže postupom podľa predchádzajúcej vety zaslať najviac 10 SMS, pričom Odporúčajúci Účastník má nárok na bonus za odporúčanie za najviac dvoch odporučených účastníkov. Bonus za odporúčanie sa poskytuje v hodnote (i) 50 € za každého odporučeného účastníka, ktorý bude uplatňovaný postupne vo forme zľavy vo faktúrach počas dvadsiatich zúčtovacích období nasledujúcich po vzniku nároku na jeho poskytnutie, a to v sumách po 2,50 € až do dosiahnutia celkovej hodnoty poskytnutého bonusu alebo (ii) 50 € za každého odporučeného účastníka vo forme zľavy z akciovej alebo z neakciovej kúpnej ceny Zariadenia (spolu ďalej len „Zľava“). Zľavu je možné využiť prostredníctvom jedinečného jednorazového kódu (ďalej len „Kód“), ktorý bude Účastníkovi doručený prostredníctvom SMS správy po vzniku nároku na Zľavu. V prípade, ak výška Zľavy presiahne výšku akciovej alebo neakciovej kúpnej ceny Zariadenia, je kúpna cena Zariadenia 1 €. Podmienkou uplatnenia Zľavy je, že ani Odporúčajúci Účastník, ani odporučený účastník nebudú ku dňu kalendárneho mesiaca, ktorý sa číselne zhoduje s dňom mesiaca, v ktorom došlo k úspešnému preneseniu telefónneho čísla odporučeného účastníka do mobilnej siete ST, v omeškaní s úhradou vyúčtovaných poplatkov za využívanie služieb; v prípade omeškania s úhradou vyúčtovaných poplatkov za využívanie služieb bude Zľava za splnenia tých istých podmienok uplatnená v najbližšom zúčtovacom období. V prípade dočasného prerušenia poskytovania služieb Odporúčajúcemu Účastníkovi, z dôvodu neuhradenia splatnej ceny za poskytované služby, nárok na poskytnutie Bonusu za odporúčanie zaniká.</p> </div>
                    </div>
                    <div class="happy-legal"> <a class="note-legal" href="" onclick="$('#happy-legal-2').toggle('slow');return false;">Bonus za aktiváciu s prenesením čísla</a>
                        <div class="happy-legal-content" id="happy-legal-2" style="display: none;"> <p>Účastník, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XS a vyšším s viazanosťou 24 mesiacov (ďalej len „Happy“) vo vzťahu k novej SIM karte a k telefónnemu číslu, ktoré bolo prenesené k Podniku od iného podniku poskytujúceho elektronické komunikačné služby na základe Podnikom akceptovanej Žiadosti o prenos čísla v mobilnej sieti k spoločnosti Slovak Telekom, a.s., získava bonus za aktiváciu čísla (ďalej len „Bonus“) a zľavu vo výške 50 € na akciovú kúpnu cenu Zariadenia (ďalej len „Zľava“). V prípade, ak výška Zľavy presiahne výšku kúpnej ceny Zariadenia, je kúpna cena Zariadenia 1 €. Bonus za aktiváciu je uplatňovaný vo forme zľavy za Služby poskytované vo vzťahu k SIM karte v celkovej výške: (i) Bonus 50,- €, ktorý bude uplatňovaný v sumách po 2,50 € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy XS alebo Happy S v zmysle tohto Dodatku; (ii) Bonus 100,- €, ktorý bude uplatňovaný v sumách po 5,- € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy M, Happy L alebo Happy XL volania v zmysle tohto Dodatku; (iii) Bonus 150,- €, ktorý bude uplatňovaný v sumách po 7,50 € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy XL, Happy XXL alebo Happy Profi v zmysle Dodatku. Bonus podľa predchádzajúcej vety je možné vo vzťahu k telefónnemu číslu využiť a uplatniť iba jedenkrát (nie opakovane), pričom výška Bonusu je počas celého obdobia jeho uplatňovania závislá od úrovne programu Happy, ktorý bol aktivovaný pri uzavretí Dodatku. Nárok na Bonus definitívne zaniká v prípadoch: (i) prerušenia poskytovania Služieb alebo deaktivácie zvoleného programu Služieb Happy na iné programy Služieb než Happy (ii) uzavretia nového dodatku k Zmluve, ktorým sa tento Dodatok zruší. Ponuku nie je možné kombinovať a súčasne využívať s akoukoľvek inou akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné.</p> </div>
                    </div>
                   
                </div>-->
        </div>
        <div class="c-content happy-legal-cennik">
            <p>Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/" target="_blank">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a></p>
        </div>
    </div>
    </div>

</section>


<script type="text/javascript" src="https://www.telekom.sk/documents/10179/558905/main.js"></script>
