/* =============== GLOBAL CONFIG  =============== */
/* PAP THEME */
#sec-help .divider {
  width: 100%;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 30px; }

#sec-help .container-fixed {
  padding-top: 5px;
  margin-bottom: 50px;
  padding-bottom: 40px;
  /* LEFT SIDE */
  /* RIGHT SIDE */ }

#sec-help .container-fixed .sec__title {
  margin-top: 0 !important;
  text-align: center !important;
  color: #e20074 !important;
  font-size: 32px !important; }

#sec-help .container-fixed .pap__links {
  float: left;
  width: 49.7%; }

@media screen and (max-width: 768px) {
  #sec-help .container-fixed .pap__links {
    width: 49.7%; } }

@media screen and (max-width: 380px) {
  #sec-help .container-fixed .pap__links {
    width: 100%;
    float: none;
    margin-bottom: 50px; } }

#sec-help .container-fixed .pap__links .pap__head p {
  color: #262626;
  font-weight: 500;
  margin: 6px 0; }

#sec-help .container-fixed .pap__links .pap__li {
  padding: 5px 0; }

#sec-help .container-fixed .pap__links .pap__li p {
  margin: 0;
  color: #007faf; }

#sec-help .container-fixed .pap__links .pap__li:hover {
  text-decoration: underline; }

#sec-help .container-fixed .pap__links .pap__links-bottom {
  margin-top: 15px; }

#sec-help .container-fixed .pap__links .pap__links-bottom p {
  margin: 5px 0;
  color: #262626;
  font-weight: 600; }

#sec-help .container-fixed .pap__links .pap__links-bottom a.btn {
  text-decoration: none;
  color: #000; }

#sec-help .container-fixed .pap__apps {
  float: left;
  width: 48%;
  padding-left: 2%;
  border-left: 1px solid #ccc; }

@media screen and (max-width: 768px) {
  #sec-help .container-fixed .pap__apps {
    width: 48%; } }

@media screen and (max-width: 380px) {
  #sec-help .container-fixed .pap__apps {
    width: 100%;
    float: none;
    border: none;
    padding-left: 0%; } }

#sec-help .container-fixed .pap__apps .pap__head {
  text-align: left; }

#sec-help .container-fixed .pap__apps .pap__head p {
  color: #262626;
  font-weight: 500;
  margin: 6px 0; }

#sec-help .container-fixed .pap__apps .pap__apps-content {
  margin-bottom: 18px; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item {
  text-align: left; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item p {
  margin: 0;
  line-height: 17px;
  color: #262626; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item a {
  margin: 0;
  line-height: 17px;
  text-decoration: underline; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item a:hover {
  text-decoration: underline; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item-bottom {
  text-align: left; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item-bottom ul {
  list-style: square;
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 16px; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item-bottom p {
  margin: 0;
  line-height: 17px; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item-bottom a {
  margin: 0;
  line-height: 17px;
  text-decoration: underline; }

#sec-help .container-fixed .pap__apps .pap__apps-content .pap__apps-item-bottom a:hover {
  text-decoration: underline; }

.pap__apps-link_mobile {
  display: none; }
