/* HERO SECTION */

#hero-instalacia {
    background: url(../img/kv_instalacia_940.png) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    min-height: 330px;
    .hero__title {
      color: black;
      text-align: left;
    }
    .hero__desc {
      color: black;
      text-align: left;
    }
    .btn {
      margin-top: 20px;
    }
    .playbtn {
      margin-left: 34%;
      margin-top: 8%;
    }
}

.hero__content {
    text-align: left;
    max-width: 460px;
}

@media screen and (max-width: 480px) {
    #hero-instalacia {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 50% 50%;
        height: 195px;
    }

    #hero-instalacia .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
    }

    #hero .btn {
        margin-top: 60px;
    }
}

/* HERO SECTION END */

.paddingLR {
  padding: 0;
}

#sec-1-install {
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
  }
  .wrapper {
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
    margin-bottom: 30px;
    .valign {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 270px;
      padding: 0 5%;
    }
  }
  .wrapper:nth-of-type(3) {
    border: none;
  }
}
