/* ===============
 CSS FOR HOME.html PAGE
 =============== */

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover, &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */

.section {
  margin: 30px 0px;
}

#content h2 {
  color: #4b4b4b;
  line-height: 42px;
}

.pad0 {
  padding: 0;
}

.pad5 {
  padding: 0px 5px;
}

.pad30 {
  padding: 30px 0px;
}

/* wave */
.wave {
  opacity: .4;
  position: absolute;
  top: 0px;
  right: 15%;
  background: $magenta;
  width: 70%;
  height: 300px;
  margin-left: 0px;
  margin-top: 0px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 20000ms infinite linear;
  opacity: .2;
}

.wave.-three {
  animation: drift 25000ms infinite linear;
  opacity: .1;
}

.wave.-two {
  animation: drift 30000ms infinite linear;
  opacity: .1;
  background: $magenta;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

#sec-1 {
  .vyuzitieBtn {
    margin-top: 15px;
  }
}

#sec-2 {
  .smh-layout {
    margin: 60px 0;
    p {
      color: #4b4b4b
    }
  }
  .products {
    margin: 30px 0;
    .box {
      width: 100%;
      min-height: 130px;
      background-color: white;
      text-align: center;
      box-shadow: 5px 10px 15px 0px rgba(197, 197, 197, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      .box-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        .prod-category {
          color: $magenta;
          font-weight: 500;
        }
        p {
          margin-top: 0px;
        }
      }
    }
    & .box:hover {
      box-shadow: 0px 5px 10px 2px rgba(197, 197, 197, 0.6);
      transition: all 200ms;
    }
    .boxv2 {
      width: 146.66px;
      box-shadow: unset;
      background-color: #939393;
      float: left;
      padding: 0px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      .box-content {
        .prod-category {
          color: white;
        }
      }
    }
    & .boxv2:hover {
      box-shadow: unset;
    }
  }
  .headline {
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
  }
  .rdrEshop {
    color: #4b4b4b;
    line-height:normal;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .imgRight {
    text-align: center;
    padding: 20px;
    img {
      box-shadow: 0px 10px 20px 5px rgba(197, 197, 197, 0.5);
      z-index: 1;
      position: relative;
      max-width: 100%;
    }
    .corner {
      width: 12vw;
      height: 12vw;
      background-color: rgba(197, 197, 197, 0.25);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
  }
  .imgRight2 {
    text-align: left;
    padding: 20px 0;
    img {
      box-shadow: 0px 10px 20px 5px rgba(197, 197, 197, 0.5);
      z-index: 1;
      position: relative;
      max-width: 100%;
    }
    .corner {
      width: 12vw;
      height: 12vw;
      background-color: rgba(197, 197, 197, 0.25);
      position: absolute;
      left: -30px;
      bottom: 0;
      z-index: 0;
    }
    .cornerTL {
      width: 12vw;
      height: 12vw;
      background-color: rgba(197, 197, 197, 0.25);
      position: absolute;
      left: -30px;
      top: 0;
      z-index: 0;
    }
  }
}

#sec-3 {
  .smh-footer {
    align-items: center;
    display: flex;
    .fleft {
      display: inline-block;
      min-width: 100px;
    }
    .fright {
      display: inline-block;
      width: auto;
      margin-left: 5%;
      h3 {
        font-size: 32px;
        margin-top: 0;
      }
      p {
        margin-bottom: 30px;
      }
      input {
        border-radius: 5px;
      }
      .btn {
        vertical-align: top;
        margin-left: 10px;
      }
    }
  }
}

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}


