/* ===============
  LightBox
   =============== */

.lightbox-area {
    display: none;
}

#content .btn-sms {
    display: none;
}

@media screen and (max-width: 560px) {
   #content .btn-sms {
        display: block;
    }
}

.happy-lightbox {
    font-size: 1.3em;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: #e20074;
}

h2.lightbox-title {
    font-size: 20px;
    color: #e20074;
    margin-bottom: 10px;
    text-align: center;
}

p.lightbox-desc {
    font-size: 18px;
    margin-bottom: 20px;
}

.btns {
    text-align: center;
    .btn {
        width: 100%;
        margin-top: 15px;
    }
}

.tr-head {
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    color: #000;
    font-size: 20px;
    th:nth-of-type(2) {
        text-align: right;
    }
}
.lightbox-area {
    table {
        width: 100%;
    }
    td:nth-of-type(2) {
        text-align: right;
        padding: 0;
    }
}

.waterbear-theme th {
    padding: 5px 0;
}

.waterbear-theme td {
    padding: 0 10px 0 0;
    font-size: 16px;
}

a.lightbox-btn {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #65ac20;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
}

a.lightbox-btn:hover {
    color: #fff;
    background-color: #58951c;
    border: 1px solid #4d8319;
}

// Happy Young Light Box
#content #lightbox-young {
    max-width: 392px;
    & #happy-young {
        & .box-inside {
            padding: 10px;
        }
        & .program_title {
            background-color: $magenta;
            font-size: 26px;
        }
        & .objednat {
            margin-top: 0;
        }
        &.box-outside {
            margin: 0;
        }
        &.program_item {
            max-width: 385px;
            & .cena {
                margin-top: 20px;
            }
        }
        & .cena-side-r {
            margin-top: 20px;
            & p {
                padding-top: 10px;
                margin-bottom: 0;
            }
        }
    }
    & .lb-disc {
        display: inline-block;
        & p {
            color: #979797;
        }
    }
}


/****************************************/
/* POPUP */
/****************************************/

#content {
    .fancybox-wrap {
      border: 0;
      & .fancybox-skin {
        background-color: #fff;
        border-radius: 11px;
        & .fancybox-outer {
          & .fancybox-inner {
            & .p-head {
                display: block;
                height: 40px;
                border-bottom: 1px solid #d0d0d0;
                margin-bottom: 10px;
                & .p-close {
                  background: none;
                  position: absolute;
                  right: 10px;
                  top: 11px;
                  a.close-btn {
                    position: relative;
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    overflow: hidden;
                    float: right;
                    transition: all 100ms linear;
                    &::before {
                      content: '';
                      position: absolute;
                      height: 2px;
                      width: 100%;
                      top: 48%;
                      left: 0;
                      background: #000;
                      transform: rotate(45deg);
                      height: 1px;
                    }
                    &::after {
                      content: '';
                      position: absolute;
                      height: 2px;
                      width: 100%;
                      top: 48%;
                      left: 0;
                      background: #000;
                      transform: rotate(-45deg);
                      height: 1px;
                    }
                  }
                }
            }
            & .p-content {
              & .popup-lightbox {
                font-size: 1.3em;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
                color: #e20074;
                & p {
                  font-size: 18px;
                  margin: 0;
                  color: black;
                }
                & a.btn {
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
      & .fancybox-opened .fancybox-skin {
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
      }
    }
  }
  /* POPUP END */