#sec-prolong {
    padding: 40px 0;
}
.prolong-title {
    text-transform: uppercase;
}
#content .prolong-desc {
    color: #fff;
}

#content .input-label {
    color: #d0d0d0;
}

#content .prolong-separator span {
    color: #a4a4a4;
    font-size: 16px;
}

.prolong-wrapper {
    background-color: #262626;
    padding: 20px;
    text-align: center;
}

.prolong-form-holder {
    margin-bottom: 10px;
}

.prolong-input-wrapper {
    display: inline-block;
    text-align: left;
}

#content .prolong-input {
    border-radius: 4px;
    border: 1px solid #b2b2b2;
    font-size: 18px;
    padding: 7px 10px;
    display: inline-block;
    margin-right: 5px;
}

#content .prolong-btn {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #58951c;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
}

#content .prolong-btn:hover {
    background-color: #5e9e20;
    border: 1px solid #4d8319;
}

#content .prolong-btn:active {
    background-color: #65ac20;
    border: 1px solid #58951c;
}

.prolong-separator {
    max-width: 310px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px;
}

.prolong-separator .p-separator {
    background-color: #6c6c6c;
    height: 1px;
    width: 42%;
    position: absolute;
    bottom: 50%;
}

.p-separator.sl {
    left: 0;
}

.p-separator.sr {
    right: 0;
}

.prolong-cta {
    display: none;
}

@media screen and (max-width: 400px) {
    #content .prolong-input,
    #content .prolong-input-wrapper,
    #content .prolong-btn {
        width: 100%;
    }

    #content .prolong-input {
        margin: 0 0 10px 0;
    }
}
