/* ===============
CSS FOR MICROSITE
=============== */

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* ===============
  Custom + Global
   =============== */

@media screen and (max-width: 960px) {
    #content .container-fixed {
        width: 98%;
        padding: 0 1%;
    }
    #content .responsive-image {
        max-width: 90%;
        max-height: 85%;
    }
}

.section_happy {
    padding: 30px 0 40px 0;
    margin-bottom: 10px;
    overflow: hidden;
}

.roaming-info {
    text-decoration: underline;
    cursor: pointer;
}

#content {
    & .mg-top_40 {
        margin-top: 40px;
    }
    & .text-disc {
        color: #a4a4a4;
        font-size: 0.8em;
    }
    & .color_grey {
        color: #4b4b4b;
    }
    & .font_grey {
        color: #262626;
    }
    & a.modal_link {
        text-decoration: underline;
        color: #4b4b4b;
        font-size: 16px;
    }
    & .data-notice {
        text-align: left;
        margin-top: 10px;
        padding-left: 4px;
        font-size: 0.8em;
    }
    & .border-t {
        border-top: 1px solid #d0d0d0;
    }
    & .crossed {
        display: inline-block;
        text-decoration: line-through;
    }
    & .mgt-10 {
        margin-top: 10px;
    }
    & .no-pad {
        padding-right: 0;
        padding-left: 0;
    }
    & .info-link {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }
    & .text-link {
        text-decoration: underline;
    }

    & .mb-5 {
        margin-bottom: 10px!important;
    }

    & .mb-10 {
        margin-bottom: 10px!important;;
    }

    & .mb-15 {
        margin-bottom: 15px!important;
    }

    & .mb-20 {
        margin-bottom: 20px!important;;
    }

    & .mt-5 {
        margin-top: 5px!important;
    }

    & .mt-10 {
        margin-top: 10px!important;
    }

    & .mt-15 {
        margin-top: 15px!important;
    }

    & .mt-20 {
        margin-top: 20px!important;
    }

}

/* ===============
   CSS FOR CUSTOM STICKY NAV
   =============== */

#nav-sticky-custom ul {
    list-style-type: none;
    width: 940px;
    margin: 0 auto;
}

#nav-sticky-custom ul li {
    display: inline-block;
}

#nav-sticky-custom {
    background-color: #ededed;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    z-index: 100;
    text-transform: uppercase;
}

#nav-sticky-custom a {
    text-decoration: none;
    height: 55px;
    line-height: 55px;
    display: block;
    color: #000;
    padding: 0 15px;
}

#nav-sticky-custom a:hover,
#nav-sticky-custom a.active {
    background-color: #fff;
    color: #e20074;
}

#nav-sticky-custom li:last-child {
    float: right;
}

#nav-sticky-custom li:last-child a {
    color: #7c7c7c;
}

@media screen and (max-width: 960px) {
    #nav-sticky-custom ul {
        width: 100%;
    }
}

@media screen and (max-width: 799px) {
    #nav-sticky-sticky-wrapper,
    #nav-sticky-custom {
        display: none;
    }
}

/* ===============
  Hero
   =============== */

#hero {
    overflow: hidden;
    min-height: 400px;
    //padding: 60px 2%;
    background: url(../img/kv-biznis.jpg) no-repeat 50% 50%;
    background-size: cover;
    & .hero__content {
        max-width: 460px;
        margin-top: 60px;
        & .link {
          text-decoration: none;
        }
        & .hero__site-name {
            color: #ffffff;
            text-transform: uppercase;
            font-size: 28px;    
          }
    }
    & .hero__title {
        font-size: 50px;
        font-weight: 900;
        margin-top: 20px;
        padding-bottom: 0;
        text-transform: uppercase;
        color: #000;
        border: 0;
        margin-bottom: 20px;
        & a {
          display: none;
        }
    }
    & .hero__subtitle {
      font-size: 30px;
      margin-top: 20px;
      padding-bottom: 0;
      text-transform: uppercase;
      color: #fff;
      border: 0;
      margin: 0;
      padding: 0;
    }
    & .link {
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
    }
    & .hero__link {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }
}

#hero .hero__title {
    color: #fff;
}

@media screen and (max-width: 960px) {
    #hero {
        width: 100%;
        padding: 0px;
    }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url(../img/kv-biznis-768.jpg) no-repeat 100% 50%;
    background-size: cover;
    padding: 0;
    text-align: center;
    
    
    & .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }
   
  }
    #hero .hero__title {
        font-size: 42px;
        line-height: 50px;
        margin-top: 20px;
        color: #fff;
    }
    #hero .hero__subtitle {
        font-size: 24px;
    }
    

     .hero__content {         
        background: rgba(38, 38, 38, 0.85);
        padding: 20px;
      & .hero__site-name {
        color: #fff;
        font-size: 28px;    
      }
      
      @media screen and (max-width: 560px) {
        margin-left: 0px;
      }
    }

}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
        min-height: auto;

        & .container-fixed {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
    .hero__mobile {
        background: url(../img/kv-biznis-480.jpg) no-repeat 60% 0%;
        height: 215px;
    }

    #hero .hero__title {
        font-size: 42px;
    }
    #hero .hero__content {
        padding: 0 4%;
        margin: 0;
        background: none;
        & .hero__site-name {
            color: #262626;
            font-size: 28px;    
          }
       
        a.link {
            display: none;
        }
    }
    #content .hero__title,
    #content .hero__subtitle,
    #content .hero__desc {
        color: #262626;
        line-height: normal;
    }
}


/* ===============
  Section
   =============== */

#content .sec__title {
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

/* ===============
  Moduly
   =============== */

#cmb__block {
    box-sizing: border-box;
    padding: 20px 10px;
    margin-top: 35px;
    text-align: center;
    background: #cfe0ef;
    & .cmb__title {
        font-size: 20px;
        color: #343434;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 7px;
        display: inline-block;
    }
    & .cmb__btn {
        margin-top: 10px;
    }
}

#content .sec_border {
    padding: 20px 0 20px 0;
    border-top: 1px solid #d0d0d0;
}

/* ===============
  Features
   =============== */
#content .feature {
    /*text-align: center;*/
    & .feat_title {
        color: #000;
        font-size: 16px;
        font-weight: bold;
        margin-top: 0;
    }
    & .feat_img {
        min-height: 72px;
    }
    & .feature-order {
        //text-decoration: underline;
    }
}

@media screen and (max-width: 768px) {
    #content .feature {
        padding-bottom: 30px;
        //min-height: 364px;
    }
}

@media screen and (max-width: 420px) {
    #content .feature {
        min-height: 386px;
    }
}

@media screen and (max-width: 325px) {
    #content .feature {
        min-height: 461px;
    }
}

/* ===============
  Sec-1
   =============== */

#sec-1 {
}

/* ===============
  Sec-2
   =============== */

#sec-2 {
}

/* ===============
  Sec-3 Zakladne
   =============== */

#sec-3 {
}

/* ===============
  Sec-4 Pre Narocnych
   =============== */

#sec-4 {
    & .sms {
        min-height: 128px;
    }
}

@media screen and (max-width: 900px) {
    #sec-4 {
        & .program_volania {
            min-height: 363px;
        }
    }
}

/* ===============
  Sec-5
   =============== */

/* ===============
  Sec-6 Doplnkové mesačné služby
   =============== */
#sec-6 {
    .servicesContent {
        display: flex;
        @media screen and (max-width: 550px) {
            flex-direction: column;
        }
    .textWrapper {
        align-self: center;
        @media screen and (max-width: 550px) {
            order: 2;
        }
    .textContent {
        border-top: 1px solid #ccc;
        padding: 7px 0;
        .left {
            float: left;
            p {
                margin: 0px;
            }
        }
        .right {
            float: right;
            p {
                margin: 0px;
            }
        }
     }
    }
  }
   #tab-7 .textContent:nth-of-type(2) {
    border-bottom: 1px solid #ccc;
   }
   #tab-8 .textContent:nth-of-type(3) {
    border-bottom: 1px solid #ccc;
   }
   #tab-9 .textContent:nth-of-type(1) {
    border-bottom: 1px solid #ccc;
   }
   #tab-10 .textContent {
    border: none;
   }
  .serivcesImg {
      max-width: 100%;
      @media screen and (max-width: 550px) {
          display: none;
      }
  }
}

/* ===============
  Sec-7 Aktualne akcie
   =============== */

@media screen and (max-width: 550px) {
  #content .tabs-menu {
     height: auto;
     clear: both;
     margin: 0;
     //display: inline-block;
     & li {
       width: 100%;
       border: 0px;
     }
     & :hover {
       border-bottom: 2px solid #ededed;
     }
     & .current {
       border-bottom: 4px solid #6bb324;

     }
   }
 }

#sec-7 {
    background-color: #ededed;
    //background: url(../img/vlocky.png) repeat-x;
    margin-bottom: 0px;

    h3 {
        color: #262626;
        font-size: 21px;
        text-align: center;
        //padding-bottom: 10px;
    }

    .left-desc {
        width: 90%;
        font-size: 16px;
        text-align: center;
    }

    .left-desc1 {
        color: #262626;
        .step {
            padding-bottom: 10px;
        }
    }

    .left-desc2 {
        padding-top: 30px;
        color: #a4a4a4;
        text-transform: uppercase;
        .step {
            padding-bottom: 30px;
        }
    }

    .note {
        font-size: 14px;
        color: #6c6c6c;
        padding-top: 10px;
        padding-left: 10px;
    }

    @media screen and (max-width: 980px) {
        .left-desc {
            width: 100%;
        }

    }

}

.box__holder {
    overflow: hidden;
}

.box__holder .box-device {
    margin-left: 5px;
    margin-bottom: 5px;
}

#device-ps4_t3 img, #device-ps4_shock img {
    width: 200px;
}

.waterbear-theme .device__name a {
    color: #6c6c6c;
}

#content .box-device {
    max-width: 218px;
    text-align: center;
    border: 1px solid $white;
    padding: 5px 10px;
    float: left;
    color: #6c6c6c;
    height: 400px;

    .btn-cta {
        display: none;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &:hover {
        z-index: 100;
        border: 1px solid #d0d0d0;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);

        .device__name {
            text-decoration: underline;
        }

        .btn-cta {
            display: block;
        }
    }

    .device__name {
        font-size: 17px;
    }

    .img__holder {
        margin-top: 10px;
        position: relative;
        height: 160px;
    }

    .pricing__title {
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 5px;
    }

    .pricing-table {
        font-size: 16px;
        text-align: left;
        width: 100%;

        td {
            padding: 0;
            padding-bottom: 5px;
            line-height: 15px;
        }

        tr td:last-of-type {
            text-align: right;
        }

        .magenta-text {
            color: $magenta;
            font-size: 18px;
        }

        .strike-text {
            color: #6c6c6c;
            text-decoration: line-through;
        }

        .first-row {
            border-bottom: 1px solid #d0d0d0;
        }

        .second-row {
            td {
                padding-top: 5px;
                vertical-align: text-bottom;
            }
        }
    }
}

#device-ps4_shock.box-device .device__name {
    font-size: 16px;
}

.novinka {
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
}

.portlet-body .journal-content-article .tab-vianoce_content h2 {
    font-size: 26px;
    color: #262626;
    text-align: center;
    padding-bottom: 30px;
}

.tab-vianoce_content {
    &.active {
        display: block;
    }

    .outline {
        //border: 1px solid;
    }

}

#content .tab-vianoce_content .cta2 {
    color: #58951c;
    background-color: #ffffff;
}

#content .tab-vianoce_content .cta2:hover {
    color: #ffffff;
    background-color: #58951c;
}

#content .tab-vianoce_content .popup:hover {
    color: #ffffff;
    background-color: #58951c;
}

.vianocne_data {

    .panel-left {
        font-size: 16px;
        h3 {
            font-size: 21px;
            color: #262626;
        }
    }

    .panel-middle {

        img {
            max-width: 440px;
            height: auto;
        }

        h4 {
            font-size: 17px;
            padding-top: 5px;
        }

        .desc {
            font-size: 14px;
        }

        .table {
            padding-top: 15px;
        }

        .objem {
            font-size: 14px;
        }

        .vianoce-table {
            overflow: hidden;
            margin-top: 15px;
        }

        .vianoce-data {
            width: 100%;

            tr {
                border-top: 1px solid #d0d0d0;
                border-bottom: 1px solid #d0d0d0;
            }

            td {
                padding-top: 5px;
                padding-bottom: 5px;
            }

            .left {
                color: #262626;
            }

            .right {
                text-align: right;
                color: #e20074;
                padding-right: 0;
            }
        }

      .vianoce-buton-cta {
            margin-top: 10px;
        }

        .vianoce-wiki {
            margin-top: 10px;
        }

    }

    .panel-right {

        font-size: 16px;
        text-align: center;
        margin: 0 auto;
        float: none;
        //padding: 5%;
        border: 1px solid #d0d0d0;

        .desc-row1, .desc-row2 {
            font-size: 14px;
            text-align: center;
        }

        .vianoce-hidden {
            display: block;
            padding-bottom: 10px;
        }

        .vianoce-buton-cta {
              margin-top: 0px;
              & .btn {
                margin-top: 2% !important;
              }
          }

        h4 {
            font-size: 17px;
            color: #262626;
        }

        .text_centered {
            padding-top: 3px;
        }

        .panel-right-content {
            padding-top: 15px;
            padding-left: 0px;
            text-align: left;
        }

        .objem {
            font-size: 14px;
        }

        .vianoce-data {

            width: 100%;

            tr {
                border-top: 1px solid #d0d0d0;
                border-bottom: 1px solid #d0d0d0;
            }

            td {
                padding-top: 2px;
                padding-bottom: 2px;
            }

            .data-row1 {
                line-height: 14px;
                text-align: left;
            }

            .data-row2 {
                line-height: 14px;
                text-align: left;
            }

            .right {
                text-align: right;
                padding-right: 0;
            }

        }

    }

    .dph {
        font-size: 14px;
    }

}

.pausal_polovica {

    .row1 {
        text-align: center;
        height: 50px;
    }

    .row2 {
        text-align: center;
        h3 {
            font-size: 21px;
        }

        height: 200px;
    }

    .row1-mobile {
        display: none;
        text-align: center;

        .row-desc {
            padding-left: 20%;
            padding-right: 20%;
        }

        .sipka-dole {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        margin-bottom: 30px;
    }

    .row1-desktop {
        text-align: center;
        height: 50px;
    }

    .row2-desktop {
        text-align: center;
        h3 {
            font-size: 21px;
        }

        height: 200px;
    }

    @media screen and (max-width: 576px) {
        h3 {
            padding-top: 0;
            padding-bottom: 0;
        }

        .row1-desktop {
            display: none;
        }

        .row2-desktop {
            display: none;
        }

        .row1-mobile {
            display: block;
        }

    }

    @media screen and (max-width: 450px) {
        .row1-mobile {
            .row-desc {
                padding-left: 10%;
                padding-right: 10%;
            }
        }

    }

    @media screen and (max-width: 400px) {
        .row1-mobile {
            .row-desc {
                padding-left: 5%;
                padding-right: 5%;
            }
        }

    }

    .row3 {
        font-size: 16px;

        .header {
            font-size: 21px;
            color: #262626;
            padding-bottom: 10px;
        }

        .hide {
            display: none;
        }

        .question_content {
        }

        .question_content_row {
            border-bottom: 1px solid #d0d0d0;
            background: none;
        }
    }

    .sipka {
        padding-top: 20px;
    }
}

.question {
    padding-bottom: 5px;
}

a.show-hide::after {
    content: '\f105';
    font-family: FontAwesome;
    margin-left: 5px;
    color: #e20074;
    font-size: 16px;
}

a.show-hide.open-down::after {
    content: '\f107';
}

/* gridFix */
.col-sm-6 {
  @media screen and (max-width: 768px) {
    width: 50%;
  }
}
.col-xs-12 {
  @media screen and (max-width: 550px) {
    width: 100%;
  }
}

/* V-ALIGN */
.table-container {
  display: table;
  width: 100%;
  @media screen and (max-width: 550px) {
    display: block;
  }
}

.table-container .table-row {
  height: 100%;
  display: table-row;
  @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: middle;
  padding: 0;
  min-height: 120px;
  @media screen and (max-width: 550px) {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: none;
    min-height: 120px;
  }
  & img {
    @media screen and (max-width: 550px) {
    max-width: 100%;
    margin: 0 auto;
    width: 50%;
    height: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: none;
    min-height: 78px;
  }
}
/* V-ALIGN END */

/* AKTUALNE AKCIE 01.2018 */
.pad0 {
  padding: 0px;
}
#sec-7 {
  & .akcieBox {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    @media screen and (max-width: 550px) {
    display: flex;
    flex-direction: column;
  }
    /* Viac s Magenta 1 */
   & .akciaLeft2 {
     background: url(../img/magenta_more.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    @media screen and (max-width: 768px) {
      background: url(../img/magenta_more_345x283.jpg) no-repeat 50% 20%;
      //width: 34%;
      background-size: cover;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      background: url(../img/magenta_more_438x100.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      background: url(../img/magenta_more_438x100.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
   }
   /* najlepsia siet */
   & .akciaLeft {
    background: url(../img/bekim.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    @media screen and (max-width: 768px) {
      background: url(../img/bekim_768.jpg) no-repeat 50% 50%;
      //width: 34%;
      background-size: cover;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      background: url(../img/bekim_550.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      background: url(../img/bekim480.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
   }
   /* Datovanie bez barier */
   & .akciaLeft3 {
     background: url(../img/datovanie_bezbarier.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    @media screen and (max-width: 768px) {
      background: url(../img/datovanie_bezbarier_345x283.jpg) no-repeat 50% 20%; 
      //width: 34%;
      background-size: cover;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      background: url(../img/datovanie_bezbarier_438x100.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      background: url(../img/datovanie_bezbarier_438x100.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
   }
   /* 3 GB navyse */
   & .akciaLeft5 {
    background: url(../img/3gb940.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    @media screen and (max-width: 768px) {
      background: url(../img/3gb768.jpg) no-repeat 50% 50%;
      //width: 34%;
      background-size: cover;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
      background-size: cover;
    }
   }
   /* darceky k pausalom */
   & .akciaLeft6 {
    background: url(../img/darcek940.png) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    @media screen and (max-width: 768px) {
      background: url(../img/darceky768.jpg) no-repeat 50% 50%;
      //width: 34%;
      background-size: cover;
    }
    @media screen and (max-width: 550px) {
      width: 100%;
      background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
   }
   & .akciaLeft11 {
    background: url(../img/STREAMON_345x283.png) no-repeat 50% 50%;
   background-size: cover;
   width: 100%;
   @media screen and (max-width: 768px) {
     background: url(../img/STREAMON_345x283.png) no-repeat 50% 20%; 
     //width: 34%;
     background-size: cover;
   }
   @media screen and (max-width: 550px) {
     width: 100%;
     background: url(../img/STREAMON_438x100.png) no-repeat 50% 50%;
     background-size: cover;
   }
   @media screen and (max-width: 480px) {
     width: 100%;
     background: url(../img/STREAMON_438x100.png) no-repeat 50% 50%;
     background-size: cover;
   }
  }   
   & .akciaRight {
     background-color: #fff;
     @media screen and (max-width: 550px) {
       order: 1;
     }
    & .rightWrapper {
      padding: 40px 20px;
      @media screen and (max-width: 850px) {
        padding: 4%;
      }
      @media screen and (max-width: 768px) {
        padding: 20px;
      }
      @media screen and (max-width: 550px) {
        //text-align: center;
      }
      & h3.akciaHeadline {
        text-align: left;
        margin-top: 0;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      & .btnodporucit {
        margin-top: 15px;
      }
      & .magentaBold {
        color: $magenta;
        margin-top: 0;
        margin: 0px;
      }
      & .akciaSteps {
          margin-bottom: 0px;
          line-height: 18px;
      }
    }
    & .stepwrapper {
      margin: 23px 0px;
      display: inline-block;
      justify-content: center;
      @media screen and (max-width: 550px) {
        align-items: center;
        flex-direction: column;
      }
    }
    & .step {
      display: inline-block;
      width: 43%;
      text-align: center;
      margin: 10px 0;
      vertical-align: top;
      @media screen and (max-width: 550px) {
        width: auto;
      }
      & img {
        max-width: 23%;
      }
    }
    & .stepArrow {
      display: inline-block;
      width: 10%;
      position: relative;
      top: 33px;
      left: -27px;
      @media screen and (max-width: 550px) {
        width: 24%;
        top: 0px;
        left: 0px;
        text-align: center;
        margin: 20px auto;
        display: block;
      }
      & .arrowDefault {
        @media screen and (max-width: 550px) {
          display: none;
        }
      }
      & .arrowDwn {
        display: none;
        @media screen and (max-width: 550px) {
          display: block;
          width: 30%;
        }
      }
    }
   }
  }

 .akcieBox2 {
    padding: 0px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    /* AKCIA 3 */
    & .akciaLeft3 {
      display: block;
      width: 100%;
      min-height: 260px;
      background: url(../img/Lenovo_desktop.jpg) no-repeat 50% 50%;
      background-size: cover;
     @media screen and (max-width: 550px) {
       width: 100%;
       min-height: 120px;
       background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
       background-size: cover;
     }
     @media screen and (max-width: 480px) {
       width: 100%;
       background: url(../img/Lenovo_480.jpg) no-repeat 50% 50%;
       background-size: cover;
      min-height: 78px;
     }
    }

  /* AKCIA 2 */
   & .akciaLeft2 {
      display: block;
      width: 100%;
      background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
      background-size: cover;
    @media screen and (max-width: 550px) {
      width: 100%;
      background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
      background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
      background-size: cover;
    }
   }
   & .akciaRight {
    & .rightWrapper {
        padding: 30px 20px;
        @media screen and (max-width: 850px) {
          padding: 4%;
        }
        @media screen and (max-width: 768px) {
          padding: 20px;
        }
      & h3.akciaHeadline {
        text-align: left;
        margin-top: 0;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
      }
      & .btnodporucit {
        margin-top: 15px;
      }
      & .magentaBold {
        color: $magenta;
        margin-top: 0;
      }
      & .akciaSteps {
          margin-bottom: 0px;
      }
    }
   }
  }
}
/* AKTUALNE AKCIE 01.2018 */

/* ===============
 Module: Aktualne akcie
   =============== */

// tmp style
.box-6 {
    margin-top: 0;
    padding: 19px;
    border: 1px solid #d0d0d0;
    background: #fff;
    min-height: 100%;
}

#content .box-01 {
    width: 100%;
    background: url('../img/box-data.jpg') no-repeat 50% 50%;
    background-size: cover !important;
    padding: 40px 20px 15px 20px;
    & .box-01_disc {
        margin-top: 20px;
    }
}

#content .box-02a .box-title {
    font-size: 28px;
    text-transform: uppercase;
}

#mod-akcie .box-02a {
    padding: 0 0 0 19px;
    overflow: hidden;
    display: flex;
}

@media screen and (max-width: 340px) {
    #mod-akcie .box-02a {
        padding: 0 10px 0 10px;
        overflow: hidden;
        display: flex;
    }
}

#mod-akcie .box-02b {
    min-height: 307px;
}

#mod-akcie .box-02a .box-02_inner {
    margin-top: 20px;
    margin-bottom: 20px;
}

#mod-akcie .box-02a .box-02_img {
    overflow: hidden;
    background: url('../img/banner_300px.jpg') no-repeat 100% 50%;
    background-size: contain;
}

#mod-akcie .box-02a .responsive-image {
    visibility: hidden;
}

#content .main-box-title,
#content .main-box-desc {
    color: #fff;
}

@media screen and (max-width: 890px) {
    #content .custom-1,
    #content .custom-2,
    #content .custom-2 .box-02b {
        width: 100%;
    }
}

@media screen and (max-width: 760px) {
    #mod-akcie {
        & .box-02 {
            background: inherit;
            background-color: #fff;
        }
        & .box-4 {
            margin-right: inherit;
        }
        & .box-5 {
            margin-right: 0;
            border-right: none;
        }
        & .box-4,
        .box-5,
        .box-6 {
            margin-top: 0;
            padding: 19px;
            border: 1px solid #d0d0d0;
            background: #fff;
            min-height: 100%;
        }
    }
}

@media screen and (max-width: 730px) {
    #mod-akcie .box-02 img {
        display: block;
        margin: 0 auto 20px auto !important;
    }
    #mod-akcie .box-02 {
        padding: 0 20px;
    }
}

@media screen and (max-width: 700px) {
    #mod-akcie .box-4 {
        & .left-holder {
            display: none;
        }
        & .right-holder {
            width: 100%;
        }
    }
    #content .box-01 {
        background: url('../img/box-data.jpg') no-repeat 0% 50%;
    }
}

@media screen and (max-width: 540px) {
    .custom-1 .box-02_img {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    #mod-akcie {
        & .main-box-title {
            font-size: 29px;
        }
        & .box-4 {
            width: 100%;
        }
        & .box-5 {
            width: 100%;
            padding-left: 19px;
        }
    }
}

@media screen and (max-width: 420px) {
    #mod-akcie .box-3 {
        background: transparent;
        min-height: auto;
        & .text__holder {
            width: 100%;
        }
    }
}

/* ===============
  Sec-9 Dátové doplnkové balíky
   =============== */
//#sec-9 {}

#sec-9 {
    background-color: transparent;
}

/* ===============
    Sec-10 Mohlo by vás zaujímať
    =============== */
//#sec-10 {}

/* ===============
  Sec-11 Legal
   =============== */

.legal__holder {
    text-align: left;
    padding-bottom: 30px;
}

.legal__holder:first-child {
    padding-top: 20px;
    border-top: 1px solid #d0d0d0;
}

#happy-legal {
    padding-top: 10px;
}

.happy-legal {
    display: inline-block;
    font-size: 0.9em;
}

.happy-legal-content {
    display: none;
    padding-bottom: 10px;
}

.happy-legal-cennik {
    padding-top: 20px;
    font-size: 16px;
}

.note-legal-bold {
    font-weight: bold;
}

/* ===============
    Tooltips
   =============== */

.tooltip .qtip-content {
    font-size: 16px;
    line-height: 19px;
}

.tooltip-info {
    text-decoration: underline;
    cursor: pointer;
}

.tag-left {
    text-align: left;
}

/* datovy slider */

#content .taby2-content {
    display: none;
    //padding: 15px;
}

#content .taby2-content.active {
    display: block;
}

#content .btn {
    text-align: center;
}

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover, &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */

.arrow-content ol {
    margin: 0 0 0 17px;
    & p {
        margin-bottom: 0px;
    }
}

/* Tip */
#content {
    & .tip {
      background-color: #fff2cc;
      padding: 0% 10px;
      margin: 2% 0%;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #c0aa69;
      & p {
      color: #000;
      }
    }
  }
  /* Tip END */