<section class="section sec-det sec-det-1" id="sec-det-1">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 back-holder" style="padding: 0px;">
        <a class="link" href="/vianoce#magio">Späť na všetky vianočné akcie</a>
      </div>
    </div>
    <div class="box-pricing">
      <div class="bp__content">
        <div class="bp__inner-section">
          <div class="gallery clearfix">
            <div class="pics clearfix">
              <div class="thumbnails">
                <div class="preview">
                  <a
                    class="selected"
                    data-full="../assets/img/product1.jpg"
                    href="#"
                    ><img src="../assets/img/product1_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product2.jpg" href="#"
                    ><img src="../assets/img/product2_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product3.jpg" href="#"
                    ><img src="../assets/img/product3_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product4.jpg" href="#"
                    ><img src="../assets/img/product4_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product5.jpg" href="#"
                    ><img src="../assets/img/product5_prev.png" />
                  </a>
                </div>
              </div>
              <div class="full__holder">
                <img class="full" src="../assets/img/product1.jpg" />
              </div>
              <div class="eec-product">
                <img
                  id="eec"
                  src="../assets/img/eec.png"
                  style="height: 80px; width: auto;"
                />
              </div>
              <div class="controlls">
                <div class="indicator">
                  <div class="in__content">
                    &nbsp;
                  </div>
                </div>
                <div class="control__holder">
                  <a class="control-left" href="#"
                    ><img alt="" src="../assets/img/ico-left.png" /> Späť</a
                  >
                  <p class="img-size">
                    (<span class="current-img"></span>/<span
                      class="all-img"
                    ></span
                    >)
                  </p>
                  <a class="control-right" href="#"
                    >Ďalej <img alt="" src="../assets/img/ico-right.png"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bp__inner-section">
          <p class="christ-magenta">Vianočná akcia</p>
          <!-- OVERLAY VYPREDANE  -->
          <div class="overlay_fix">
            <div id="soldOut" class="overlay" style="display: none;">
              <img src="../assets/img/vypredane.png" alt="" />
            </div>
            <h1 class="bpis__title">
              Asus VivoBook 14 + taška a Micro:bit starter Kit ako darček
            </h1>
            <!-- B2C variant -->
            <div
              class="box-device"
              id="b2c-price"
              style="height: 0; opacity: 0;"
            >
              <div class="rpln-label">
                Zvoľte si variant Magio internetu alebo TV
              </div>
              <div class="rpln-holder">
                <!-- M -->
                <div class="my-rpln" id="M" category="all" data-value="M">
                  <h4>M</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    30/3 Mb/s<br />
                    Počet TV staníc: až 60
                  </p>
                </div>
                <!-- L -->
                <div class="my-rpln" id="L" category="all" data-value="L">
                  <h4>L</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    250/25 Mb/s<br />
                    Počet TV staníc: až 79
                  </p>
                </div>
                <!-- XL -->
                <div class="my-rpln" id="XL" category="all" data-value="XL">
                  <h4>XL</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    600/60 Mb/s<br />
                    Počet TV staníc: až 121
                  </p>
                </div>
              </div>
              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2c-all-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenia:
                    </td>
                    <td>
                      <span id="b2c-all-rc" class="rc-price"></span><<br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-rc"
                        ></span>
                      </div>
                      <span id="b2c-all-oc" class="oc-price"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2c-rpln-price-sale"
                        class="rpln-price-salle"
                      ></span
                      ><span class="monthly"> 2. a 3. mesiac</span
                      ><img
                        class="ttp"
                        id="info-zlava"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="b2c-rpln-price" class="rpln-price"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a
                class="btn cta"
                type="button"
                id="buyBtn"
                href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                >PREJSŤ K NÁKUPU</a
              >
              <p class="tax-info">
                Ceny sú s DPH a platia pri 24 mesačnej viazanosti
              </p>
            </div>
            <!-- B2B BiznisNET variant -->
            <div
              class="box-device"
              id="b2b-net-price"
              style="height: 0; opacity: 0;"
            >
              <div class="rpln-label">
                Zvoľte si variant Biznis NETu
              </div>

              <div class="tabs-container" style="max-width: 400px;">
                <div class="dph-switcher">
                  <div class="dph-label">Ceny s DPH</div>
                  <div class="switch" id="net-dph"></div>
                </div>
                <div class="tab__holder rpln-tab">
                  <ul class="rpln-tabs-menu">
                    <li class="variant current">
                      <a href="#tab-optika" id="optik">Optika</a>
                    </li>
                    <li class="variant">
                      <a href="#tab-vdsl" id="vdsl">VDSL</a>
                    </li>
                    <li class="variant">
                      <a href="#tab-adsl" id="adsl">ADSL</a>
                    </li>
                  </ul>
                </div>
                <div class="tab">
                  <div class="tab-content" id="tab-optika">
                    <div class="rpln-holder-slider">
                      <!-- OptikNet M -->
                      <div class="my-rpln" id="optikNet_m" category="optik">
                        <h4>OptikNET M</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 60 Mb/s<br />
                          odosielanie: 12 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet L -->
                      <div class="my-rpln" id="optikNet_l" category="optik">
                        <h4>OptikNET L</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 300 Mb/s<br />
                          odosielanie: 60 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet XL -->
                      <div class="my-rpln" id="optikNet_xl" category="optik">
                        <h4>OptikNET XL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 450 Mb/s<br />
                          odosielanie: 90 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet XXL -->
                      <div class="my-rpln" id="optikNet_xxl" category="optik">
                        <h4>OptikNET XXL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 600 Mb/s<br />
                          odosielanie: 120 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet MAX -->
                      <div class="my-rpln" id="optikNet_max" category="optik">
                        <h4>OptikNET MAX</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 1000 Mb/s<br />
                          odosielanie: 200 Mb/s
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content" id="tab-vdsl">
                    <div class="rpln-holder-slider">
                      <!-- KlasikNET M -->
                      <div class="my-rpln" id="klasikNet_m" category="vdsl">
                        <h4>KlasikNET M</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 10 Mb/s<br />
                          odosielanie: 2 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET M+ -->
                      <div class="my-rpln" id="klasikNet_mplus" category="vdsl">
                        <h4>KlasikNET M+</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 25 Mb/s<br />
                          odosielanie: 5 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET L+ -->
                      <div class="my-rpln" id="klasikNet_lplus" category="vdsl">
                        <h4>KlasikNET L+</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 40 Mb/s<br />
                          odosielanie: 8 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET XL -->
                      <div class="my-rpln" id="klasikNet_xl" category="vdsl">
                        <h4>KlasikNET XL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 60 Mb/s<br />
                          odosielanie: 9 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET XXL -->
                      <div class="my-rpln" id="klasikNet_xxl" category="vdsl">
                        <h4>KlasikNET XXL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 90 Mb/s<br />
                          odosielanie: 10 Mb/s
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content" id="tab-adsl">
                    <div class="rpln-holder-slider">
                      <!-- KlasikNET M -->
                      <div
                        class="my-rpln"
                        id="klasikNet_m_adsl"
                        category="adsl"
                        data-value="klasikNet_m"
                      >
                        <h4>KlasikNET M</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie:&nbsp;10&nbsp;Mb/s<br />
                          odosielanie:&nbsp;2&nbsp;Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET M+ -->
                      <div
                        class="my-rpln"
                        id="klasikNet_mplus_adsl"
                        category="adsl"
                        data-value="klasikNet_mplus"
                      >
                        <h4>KlasikNET M+</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie:&nbsp;25&nbsp;Mb/s<br />
                          odosielanie:&nbsp;5&nbsp;Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET L+ -->
                      <div
                        class="my-rpln"
                        id="klasikNet_xl_adsl"
                        category="adsl"
                        data-value="klasikNet_xl"
                      >
                        <h4>KlasikNET XL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie:&nbsp;40&nbsp;Mb/s<br />
                          odosielanie:&nbsp;8&nbsp;Mb/s
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2b-net-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="b2b-net-info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenia:
                    </td>
                    <td>
                      <span id="b2b-net-rc" class="rc-price"></span
                      ><span class="txt-dph"></span>
                      <br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-net-normal-rc"
                        ></span>
                      </div>
                      <span id="b2b-net-oc" class="oc-price"></span
                      ><span class="txt-dph monthly"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-net-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2b-net-rpln-price"
                        class="b2b-rpln-price"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a class="btn cta" type="button" id="b2b-buyBtn" href="#"
                >KÚPIŤ</a
              >
            </div>
            <!-- B2B Biznis TV variant -->
            <div
              class="box-device"
              id="b2b-tv-price"
              style="height: 0; opacity: 0;"
            >
              <div class="rpln-label">
                Zvoľte si variant Magio TV
              </div>
              <div class="dph-tv-switcher">
                <div class="dph-label">Ceny s DPH</div>
                <div class="switch" id="tv-dph"></div>
              </div>
              <div class="rpln-holder">
                <!-- M -->
                <div
                  class="my-rpln"
                  id="biznisTv_m"
                  category="tv"
                  data-value="M"
                >
                  <h4>M</h4>
                  <p>Počet TV staníc:<br />až 60</p>
                </div>
                <!-- L -->
                <div
                  class="my-rpln"
                  id="biznisTv_l"
                  category="tv"
                  data-value="L"
                >
                  <h4>L</h4>
                  <p>Počet TV staníc:<br />až 79</p>
                </div>
                <!-- XL -->
                <div
                  class="my-rpln"
                  id="biznisTv_xl"
                  category="tv"
                  data-value="XL"
                >
                  <h4>XL</h4>
                  <p>Počet TV staníc:<br />až 121</p>
                </div>
              </div>
              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2b-tv-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="b2b-tv-info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenia:
                    </td>
                    <td>
                      <span id="b2b-tv-rc" class="rc-price"></span
                      ><span class="txt-dph"></span><br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-tv-normal-rc"
                        ></span>
                      </div>
                      <span id="b2b-tv-oc" class="oc-price"></span
                      ><span class="txt-dph"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-tv-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2b-tv-rpln-price"
                        class="b2b-rpln-price"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a class="btn cta" type="button" id="b2b-buyBtn" href="#"
                >KÚPIŤ</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="section sec-det sec-det-2 segment"
  id="sec-det-2"
  data-segment="1"
>
  <div class="container-fixed">
    <div class="tabs-container">
      <div class="tab__holder">
        <ul class="tabs-menu">
          <li class="variant current" data-variant="1">
            <a href="#tab-1">Popis produktu</a>
          </li>
          <li class="variant" data-variant="2">
            <a href="#tab-2">Parametre</a>
          </li>
          <li class="variant" data-variant="3" id="biznis-delivery">
            <a href="#tab-3">Doručenie a vrátenie</a>
          </li>
        </ul>
      </div>
      <div class="tab">
        <div class="tab-content clearfix" id="tab-1" style="height: auto;">
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">Viac než len krásny notebook</h2>
                <p class="feat-desc">
                  Nenechajte sa zmiasť štýlovým vzhľadom 14" notebooku Lenovo
                  Slim 1 - s&nbsp;veľkým úložiskom, FHD panelom s&nbsp;tenkými
                  rámčekmi a&nbsp;najnovšími procesormi AMD poskytuje tiež
                  vysoký výkon. Celodenná výdrž batérie vám umožní držať krok aj
                  na cestách.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail1.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Porty a sloty
                </h2>
                <p class="feat-desc">
                  1. Napájanie<br />
                  2. 2 × USB 3.1 (Gen 1)<br />
                  3. HDMI<br />
                  4. Čítačka microSD kariet<br />
                  5. Kombinovaný port pre slúchadlá/mikrofón
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail2.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Spoznajte programovateľný mikropočítač Micro:bit v štartovacej
                  súprave
                </h2>
                <p class="feat-desc">
                  Micro:bit je malý programovateľný počítač určený na ľahké a
                  zábavné učenie programovania z ľubovoľného webového
                  prehliadača v blokoch, JavaScripte, Pythone, Scratch a
                  ďalších.<br />
                  Okrem samotného Micro:bitu nájdete v súprave aj rozširujúci
                  modul GPIO, farebné LED diódy, tlačidlové spínače a ďalšie
                  komponenty, s ktorými môžete ovládať svetlo a jas, motor,
                  vytvárať zvuky a programovať množstvo ďalších funkcií.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail3.jpg" />
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab-2">
          <div class="table-holder">
            <div class="detailed-specification" style="padding: 10px;">
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Základné informácie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Celková hmotnosť
                    </td>
                    <td class="paramValue">1400 g</td>
                  </tr>
                  <tr>
                    <td>
                      Rozmery:
                    </td>
                    <td class="paramValue">19,9 x 327,1 x 235 mm</td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Displej</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Uhlopriečka
                    </td>
                    <td class="paramValue">14"</td>
                  </tr>
                  <tr>
                    <td>
                      Rozlíšenie:
                    </td>
                    <td class="paramValue">1920x1080</td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Technické parametre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Procesor:
                    </td>
                    <td class="paramValue">AMD 3020e 2,6 GHz</td>
                  </tr>
                  <tr>
                    <td>
                      Celková zdielaná interná pamät:
                    </td>
                    <td class="paramValue">
                      64 GB eMMC 5.1 úložisko rozšíriteľné o microSD karty
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Operačný systém:
                    </td>
                    <td class="paramValue">Windows 10 Home S</td>
                  </tr>
                  <tr>
                    <td>
                      Batéria výdrž:
                    </td>
                    <td class="paramValue">7.3 hod</td>
                  </tr>
                  <tr>
                    <td>
                      Bluetooth:
                    </td>
                    <td class="paramValue">BT 4.2</td>
                  </tr>
                  <tr>
                    <td>
                      WiFi:
                    </td>
                    <td class="paramValue">WiFi 802.11 ac</td>
                  </tr>
                  <tr>
                    <td>
                      USB:
                    </td>
                    <td class="paramValue">
                      2x USB 3.2 Gen 1
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Webkamera:
                    </td>
                    <td class="paramValue">0,3MP</td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Iné</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Micro:bit Starter kit</div>
                    </td>
                    <td class="paramValue">
                      Micro:bit BBC Board (mikropočítač)<br />
                      Elecrow Basic Kit For BBC Micro:bit<br />
                      Mi:sound Speaker (malý reproduktor)<br />
                      Neopixel LED Strip 10 (LED pásik)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>Obsah balenia</div>
                    </td>
                    <td class="paramValue">
                      notebook, Napájací adaptér, Používateľská príručka,
                      <br />Micro:bit Starter kit
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content clearfix" id="tab-3">
          <div class="order-info-holder">
            <div class="order-info-wrapper">
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon4.png" />
                <p class="order-subheading">
                  <b>Informácie o stave objednávky</b>
                </p>
                <p>
                  O stave vašej objednávky vás budeme pravidelne informovať cez
                  SMS a/alebo e-mailom.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon1.png" />
                <p class="order-subheading">
                  <b>Prvých 14 dní bez záväzkov</b>
                </p>
                <p>
                  Pri kúpe cez web môžete vrátiť službu aj tovar bez udania
                  dôvodu.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/ikona_sofa.png" />
                <p class="order-subheading">
                  <b>Nákup z pohodlia domova</b>
                </p>
                <p>
                  Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní
                  v týždni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
<script
  type="text/javascript"
  src="../assets/js/jquery.enhanced-switch.js"
></script>
<script type="text/javascript" src="../assets/js/rpln-info.js"></script>
<script>
  var segment = "b2c";
  var deviceId = "LENOVO_IDEAPAD_1_FIX";
</script>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
