<section class="section sec-3 sec-tv">
	<div class="container-fixed">
		<div class="sec-cont">
			<div class="sec-img col-md-6">
				<img alt=" " src="../assets/img/section_3.png" />
			</div>
			<div class="sec-content col-md-6">
				<h2><b>S Magio televíziou získate až <span class="sec-tv-insert">121 TV staníc</span></b><br>
					vrátane športových Digi Sport a exkluzívnej detskej Ťuki TV HD.</h2>
				<p>
					Magio televíziu môžete sledovať až na štyroch televízoroch a zadarmo aj na počítači, tablete či v
					mobile. Program môžete pozastaviť, pretočiť alebo sledovať zo sedem dňového Magio archívu. <b>Magio
						televíziu M, L alebo XL získate už od 10,90 € mesačne alebo ešte menej</b>,
					<span class="magenta">ak si k nemu vezmete aj internet a/alebo Pevnú linku</span>.
				</p>
				<div class="button-cont">
					<a class="btn cta-outline" href="/televizia/magio-televizia" target="_blank">VIAC O MAGIO
						TELEVÍZII</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-2 sec-internet">
	<div class="container-fixed">
		<div class="sec-cont">
			<div class="sec-img col-md-6 push-md-6">
				<img alt=" " src="../assets/img/section_2.png" />
			</div>
			<div class="sec-content col-md-6 pull-md-6">
				<h2><b>Magio internet na doma s rýchlosťou až <span class="sec-internet-insert">do 300/30
							Mb/s</span></b><br>
					v superrýchlej optickej sieti</h2>
				<p>
					Surfujte koľko len chcete s neobmedzeným Magio internetom na doma. Užívajte si spoľahlivý internet
					bez výpadkov na viacerých zariadeniach súčasne. <b>Magio internet M, L alebo XL získate už od 10,90
						€ mesačne alebo ešte menej</b>,
					<span class="magenta">ak si k nemu vezmete aj televíziu a/alebo Pevnú linku</span>.
				</p>
				<div class="button-cont">
					<a class="btn cta-outline" href="/internet/magio-internet" target="_blank">VIAC O MAGIO
						INTERNETE</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-5 sec-voice">
	<div class="container-fixed">
		<div class="sec-cont">
			<div class="sec-img col-md-6">
				<img alt=" " src="../assets/img/voice.png" />
			</div>
			<div class="sec-content col-md-6">
				<h2><b>Spoľahlivá a kvalitná Pevná linka s neobmedzenými volaniami</b><br>
					na mobily, do pevných sietí a Európskej únie</h2>
				<p>
					S rokmi overenou Pevnou linkou od Telekomu sa môžete spoľahnúť na stabilné pripojenie s vysoko
					kvalitným zvukom. Užite si neobmedzené volania na mobily, do pevných sietí a Európskej únie z
					pohodlia svojho domova.<b>Pevnú linku M, L alebo XL získate už od 10,90 € mesačne alebo ešte
						menej,</b>
					<span class="magenta">ak si k nej vezmete aj Magio internet a/alebo televíziu</span>.
				</p>
				<div class="button-cont">
					<a class="btn cta-outline" href="/volania/pevna-linka" target="_blank">VIAC O PEVNEJ LINKE</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-4">
	<div class="container-fixed">
		<p class="heading"><b>Náš tip:</b> čím viac služieb si vezmete, tým výhodnejšiu cenu získate!</p>
		<div class="calcul">
			<div class="col">
				<img alt=" " src="../assets/img/section_2.png" />
				<p class="text-center">Magio internet M</p>
			</div>
			<div class="text-center">+</div>
			<div class="col">
				<img alt=" " src="../assets/img/section_3.png" />
				<p class="text-center">Magio televízia M</p>
			</div>
			<div class="text-center">+</div>
			<div class="col">
				<img alt=" " src="../assets/img/phone.png" />
				<p class="text-center">Pevná linka M</p>
			</div>
			<div class="text-center">=</div>
			<div class="result">
				<div class="prices">
					<p>mesačne už od</p>
					<p>32,70 €</p>
					<p>24,80 €</p>
				</div>
				<div class="badge">
					<img src="../assets/img/wording790.png" alt="">
				</div>
			</div>
		</div>
	</div>
</section>