<!-- HERO -->
<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;</div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>PRENOS ČÍSLA</b>
				</br>
				DO LEPŠEJ SIETE BEZ STAROSTÍ</h1>
			<a class="btn cta scroll-to" href="#sec-1">
				<span>PRENIESŤ ČÍSLO</span>
			</a>
			</br>
			<a class="scroll-to link" href="#sec-1">Viac o prenose čísla</a>
			<div class="hero_desc">
				&nbsp;</div>
		</div>
		<img src="../assets/img/wording4g.png" alt="" class="wording4g">
	</div>
</section>
<div id="nav-sticky">
	<ul>
		<li>
			<a class="scroll-to" href="#sec-1">VÝHODY</a>
		</li>
		<li>
			<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a>
		</li>
		<li>
			<a class="scroll-to" href="#sec-3">AKO PREBEHNE PRENOS</a>
		</li>
		<li>
			<a class="scroll-to" href="#sec-4">ODPORÚČAME</a>
		</li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR
				<img alt=" " src="https://www.telekom.sk/documents/10179/544745/arrow-top.png" />
			</a>
		</li>
	</ul>
</div>

<section class="section sec-mkr hidden" id="sec-mkr">
	<div class="container-fixed sec_border_bottom clearfix">
		<div class="sec__title">
			ZÍSKAJTE OBE VÝHODY ZA PRENOS ČÍSLA:
		</div>
		<!-- SECONDARY RADIO BTNS -->
		<form id="secondaryRadio">
			<div class="secondaryRadio">
				<input type="radio" id="check-1" name="rb-pair" checked>
				<label for="check-1">DÁTA NAVYŠE</label>

				<input type="radio" id="check-2" name="rb-pair">
				<label for="check-2">BONUS ZA PRENOS</label>
			</div>
		</form>
		<div class="row">
			<div class="detailHolder" id="check-1">
				<div class="data-wrapper">
					<div class="data-navyse">
						<div class="numberWrapper">
							<div class="number">1</div>
						</div>
						<p class="data-navyseText">Máte známeho v Telekome? Požiadajte ho, aby vás odporučil jednoducho cez
							<a class="link" href="/telekom-aplikacia">Telekom aplikáciu.</a>
						</p>
					</div>
					<div class="data-navyse">
						<div class="numberWrapper">
							<div class="number">2</div>
						</div>
						<p class="data-navyseText">Prejdite k nám a vyberte si paušál Happy M alebo vyšší.</p>
					</div>
					<div class="data-navyse">
						<div class="numberWrapper">
							<div class="number">3</div>
						</div>
						<p class="data-navyseText font_magenta">Po úspešnom prenose získa každý z vás
							<b>1 GB mesačne navyše!</b> Celkovo až 24 GB dát za 2 roky.</p>
					</div>
					<div class="wikitext">
						<a href="/odporucte-znameho " class="link wikitext">Prejsť na viac info o akcii do Wiki</a>
					</div>
				</div>
			</div>
			<div class="detailHolder" id="check-2" style="display: none;">
				<div class="mkr-module-holder">
					<div class="box box__mkr">
						<div class="box__inner">
							<div class="box-content">
								<p class="box__title">
									<!-- <span class="big-header">Preneste si číslo k nám.</span><br /> -->
									Za prenos čísla k nám získate</br>
									<b>bonus, nový mobil a ďalšie výhody.</b>
								</p>
								<div class="mkr-wrapper">
									<label class="input-label" for="mkr__input1">Spoznajte výhody. Zadajte svoje číslo:</label>
									<input class="mkr__input input" id="mkr__input1" placeholder="09 _ _ _ _ _ _ _ _" type="text" />
									<p class="mkr__error">ssss</p>
									<a class="btn cta box__btn mkr__submit btn_disabled tab1_row1_col3" href="#">OVERIŤ</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <p class="mkr-info">
				Bonus za prenos nie je možné kombinovať s akciou 1 GB dát navyše.
			</p> -->
		</div>
		<!-- SECONDARY RADIO BTNS END -->
	</div>
</section>

<section class="sec-1 section" id="sec-1">
	<div class="container-fixed">
		<div class="sec__title">
			výhody pri prenose čísla</div>
		<div class="row text_centered">
			<div class="col-xs-12 col-md-3 prg-holder">
				<div class="logo-holder">
					<img alt=" " src="../assets/img/ico-01.png" />
				</div>
				<p class="sec1__description">
					<span class="sec1__title text_bold">Vybavíme všetko za vás!</span>
					<br /> Stačí nás požiadať a všetky potrebné veci vybavíme za vás.
					<br />
					<a class="link" href="/volania/mam-zaujem/prenos-cisla/formular ">Požiadať o prenos čísla</a>
				</p>
			</div>
			<div class="col-xs-12 col-md-3 prg-holder">
				<div class="logo-holder">
					<img alt=" " src="../assets/img/ico-02.png" />
				</div>
				<p class="sec1__description">
					<span class="sec1__title text_bold ">Neobmedzené volania a SMS</span>
					<br /> získate nielen v SR s paušálom ÁNO&nbsp;M a vyššími.
					<br />
			</div>
			<div class="col-xs-12 col-md-3 prg-holder">
				<div class="logo-holder">
					<img alt=" " src="../assets/img/ico-03.png" />
				</div>
				<p class="sec1__description">
					<span class="sec1__title text_bold">Viac dát ako kedykoľvek predtým</span>
					<br /> vás čaká s paušálom ÁNO&nbsp;L a vyššími paušálmi.</p>
			</div>
			<div class="col-xs-12 col-md-3 prg-holder">
				<div class="logo-holder">
					<img alt=" " src="../assets/img/ico-04.png" />
				</div>
				<p class="sec1__description">
					<span class="sec1__title text_bold">Nespotrebujete, prenesiete</span>
					<br /> Dáta z paušálov ÁNO, ktoré nespotrebujete, sa automaticky bez poplatkov prenesú do ďalšieho zúčtovacieho obdobia.</p>
			</div>
		</div>
	</div>
</section>
<!--  SEC-2 Oblubene -->
<section class="section" id="sec-2">
	<div class="container-fixed sec_border">
		<div id="module-plan-chooser">
			<div class="container-fixed">
				<div id="plan-switcher">
					<h2 class="sec__title desktop mg-top_40">
						SLUŽBY A CENY PAUŠÁLOV ÁNO</h2>
					<h2 class="sec__title mob">
						SLUŽBY A CENY</h2>
					<!-- <p class="plan-sec-head">
						Chcem nový paušál:</p>
					 <div class="ps__btn-holder">
						<a class="btn ps__btn ps__btn_selected" href="#" id="plan-mobile">S novým mobilom</a> <a class="btn ps__btn"																																											 id="plan-no-mobile">Bez
						mobilu</a></div>
					<div class="plan-separator-holder">
						<span class="p-separator sl"></span>
						<p class="plan-separator">
							alebo</p>
						<span class="p-separator s2"></span></div>
					<div class="ps__link-holder">
						<a class="link link_no-underline scroll-to" href="#sec-prolong" id="to-prolong">Chcem predĺžiť paušál</a></div> -->
				</div>
				<div id="ec-holder">
					<img alt="" class="ec-module" id="ec-1" src="../assets/img/ec-webzlava.png" />
					<img alt="" class="ec-module" src="../assets/img/ec-bez-zavazkov.png" />
					<img alt="" class="ec-module" id="ec-3" src="../assets/img/ec-kurier.png" />
				</div>
				<div id="plan-filter">
					<!-- <p class="plan-sec-head">
						Zobraziť paušály:</p>
					<div class="row">
						<div class="col-md-4 col-sm-4 filter-item">
							<div class="filter-checkbox-holder">
								<input checked="checked" class="filter-checkbox" id="base" type="checkbox"/></div>
							<div class="filter-text-holder">
								<p class="filter-title">
									Základné</p>
								<p class="filter-detail">
									Volania, SMS a e-maily<br/>
									(do 400 MB dát)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 filter-item">
							<div class="filter-checkbox-holder">
								<input checked="checked" class="filter-checkbox" id="favourite" type="checkbox"/></div>
							<div class="filter-text-holder">
								<p class="filter-title">
									Obľúbené</p>
								<p class="filter-detail">
									E-maily, webstránky a sociálne siete<br/>
									(do 6 GB dát)</p>
							</div>
						</div>
						<div class="col-md-4 col-sm-4 filter-item">
							<div class="filter-checkbox-holder">
								<input checked="checked" class="filter-checkbox" id="experienced" type="checkbox"/></div>
							<div class="filter-text-holder">
								<p class="filter-title">
									Pre náročných</p>
								<p class="filter-detail">
									Web, sociálne siete, hudba a videá<br/>
									(do 16 GB dát)</p>
							</div>
						</div>
					</div>
					<p id="filter-result">
						Nájdených <span id="filteredObjCount">9</span> výsledkov z <span id="allObj">9</span> paušálov</p>-->
				</div>
				<div id="plan-list_pc">
					<div style="height: 70px;">
						<div class="plp__head ">
							<div class="row d-flex">
								<div class="plc__col plc__col-1">
									<a class="plp__head-item plph__ico unset" href="#" id="sort-by-price">Cena mesačne</a>
								</div>
								<div class="plc__col plc__col-3">
									<a class="plp__head-item plph__ico unset" href="#" id="sort-by-data">4G dáta</a>
									<p class="text-center plp__head-subheadline">v SR a EÚ+</p>
								</div>
								<div class="plc__col plc__col-2">
									<p class="plp__head-item">
										Volania
									</p>
									<p class="text-center plp__head-subheadline">do všetkých sietí<br>v SR a EÚ+</p>
								</div>
								<div class="plc__col plc__col-4">
									<p class="plp__head-item">
										SMS a MMS
									</p>
									<p class="text-center plp__head-subheadline">do všetkých sietí<br>v SR a EÚ+</p>
								</div>
								<div class="plc__col plc__col-5">
									&nbsp;
								</div>
							</div>
						</div>
					</div>
					<div id="plp__body">
						&nbsp;
					</div>
				</div>
				<div id="plan-list_mob">
					<div id="plm-sticky">
						<p class="plan-sec-head">
							POROVNAŤ PAUŠÁLY PODĽA</p>
						<div id="plm__head">
							<a class="plm__head-item" data-headid="0" href="#" id="show-calls">
								<b>Volania</b>
								<span style="font-size: 14px; line-height: 10px;">
									<br>do všetkých sietí<br>v SR a EÚ+
								</span>
							</a>
							<a class="plm__head-item plm__head-item_selected" data-headid="1" href="#" id="show-data">
								<b>4G dáta</b>
								<span style="font-size: 14px; line-height: 10px;">
									<br>do všetkých sietí<br>v SR a EÚ+
								</span>
							</a>
							<a class="plm__head-item" data-headid="2" href="#" id="show-sms">
								<b>SMS/MMS</b>
								<span style="font-size: 14px; line-height: 10px;">
									<br>do všetkých sietí<br>v SR a EÚ+
								</span>
							</a>
						</div>
					</div>
					<div id="plm__body">
						&nbsp;</div>
					<div class="hidden" id="plm__plan-detail">
						<div class="plmp__head plmp__head_w-ribbon">
							<a href="#" id="plm__plan-back">
								<img alt="" src="../assets/img/ico-back.png" />
							</a>
							<p class="plm__plan-name">
								Happy XS mini</p>
							<p class="plmp__ribbon">
								DOSTUPNÝ LEN NA WEBE</p>
						</div>
						<div class="plmp__body">
							&nbsp;</div>
					</div>
				</div>
				<p class="module-legal"  id="sec-prolong">
					EÚ+ sú všetky členské štáty EÚ, Island, Nórsko, Lichtenštajnsko, Monako a Andora</p>
				<div class="hidden" id="plm__overlay">
					&nbsp;</div>
				<!-- <div class="section_happy" id="sec-prolong">
					<div class="prolong-wrapper">
						<h2 class="prolong-title">
							Chcete predĺžiť svoj paušál?</h2>
						<p class="prolong-desc">
							Overte svoje číslo a užívajte si naďalej neobmedzené volania do mobilných a pevných sietí či ďalšie výhody. Zistite aké.</p>
						<div class="prolong-form-holder">
							<div class="prolong-input-wrapper">
								<div class="input-label">
									Zadajte svoje telefónne číslo:</div>
								<input class="prolong-input" id="msisdn" maxlength="10" placeholder="09" type="text" value="" /></div>
							<a class="btn btn_outline" href="#" id="msisdn-btn">OVERIŤ</a></div>
						<div class="prolong-cta">
							<div class="prolong-separator">
								<span class="p-separator sl"></span><span>alebo</span><span class="p-separator sr"></span></div>
							<a class="prolong-call" href="#" id="prolong-cmb"><img alt="" src="../assets/img/ico-call.png" /> predĺžiť paušál telefonicky</a></div>
					</div>
				</div> -->
			</div>
		</div>

		<!-- CMB -->
		<div class="row b-b">
			<div class="col-md-10 offset-md-1 modrePole tac" id="cmb__block">
				<div class="col-md-8">
					<span class="cmb__title">POTREBUJETE PORADIŤ S NAŠOU ponukou?</span>
				</div>
				<div class="col-md-4">
					<a class="btn cta_mag" href="/volania/happy?sluzby-a-ceny#" id="cmb__btn">
						<span>ÁNO, ZAVOLAJTE MI SPÄŤ</span>
					</a>
				</div>
			</div>
		</div>

	</div>
</section>

<section class="sec-5 section" id="sec-5">
	<div class="fixed-column">
		<h2 class="section__title">
			AKCIE A NOVINKY</h2>
			<div class="row webDiscount" id="webDiscount">
				<div class="action-banner box-banner">
					<div class="banner__content">
						<p class="banner-title">
							<b>ZA NÁKUP CEZ WEB VÁS ODMENÍME</b></p>
						<p class="banner-subtitle">
							<b>Kúpte si nový alebo predĺžte existujúci paušál ÁNO M alebo vyšší cez web a získate dáta navyše na 12 mesiacov.</b><br />
							Vyzdvihnite si ich každý mesiac v mobilnej Telekom aplikácii.
						</p>
						<div class="prices">
							<div class="clearfix">
								<div class="float-left">
									<b>ÁNO M a M Dáta</b>
								</div>
								<div class="float-right">
									<b>+ 500 MB | mes.</b>
								</div>                                
							</div>
							<div class="clearfix">
								<div class="float-left magenta">
									<b>ÁNO L, XL a XXL</b>
								</div>
								<div class="float-right magenta">
									<b>+ 1 GB | mes.</b>
								</div>                                
							</div>                            
						</div> 
						<a class="button btn cta" href="/volania/pausal#module-plan-chooser">VYBRAŤ PAUŠÁL ÁNO</a>
						<a class="button btn activate-app" href="https://telekomsk.page.link/6xvZ">AKTIVOVAŤ V APLIKÁCII</a>
						<a class="" href="/wiki/ostatne/data-navyse">Ako aktivovať extra dáta</a>
						<img class="ec" src="../assets/img/EC.png" />
					</div>
				</div>
			</div> 
	</div>
</section>

<section class="sec-3 section" id="sec-3">
	<div class="container-fixed">
		<div class="row b-b">
			<div class="col-md-8 offset-md-2 ">
				<div class="sec__title" style="margin-bottom: 0px;">
					AKO PREBEHNE PRENOS</div>
				<p class="sec__desc text_centered">
					O stave prenosu vás budeme priebežne informovať cez SMS.
					<br /> Poplatok za vydanie novej Telekom SIM karty je 5 €.</p>
				<p class="sec__desc-list">
					&nbsp;</p>
				<ul class="spec-list spec-list-num">
					<li data-type="one">
						<b>Žiadosť o prenos čísla a doručenie</b>
						<br /> V priebehu 3 pracovných dní po odoslaní žiadosti vás budeme kontaktovať kvôli overeniu údajov a výberu paušálneho
						programu, prípadne nového mobilu. Následne vám kuriérom bezplatne doručíme potrebné dokumenty na podpis, novú Telekom
						SIM kartu a nový mobil (ak ste si ho objednali).</li>
					<li data-type="two">
						<b>Fungovanie počas prenosu</b>
						<br /> Počas prenosu využívate svoje telefónne číslo u svojho súčasného operátora. Okrem neho môžete používať aj novú Telekom
						SIM kartu, na ktorej je aktivované dočasné číslo.</li>
					<li data-type="three">
						<b>Aktivovanie paušálu ÁNO</b>
						<br /> Do 4 dní po podpísaní dokumentov bude na novej Telekom SIM karte aktivované vaše pôvodné číslo, ktoré môžete ihneď
						začať používať.</li>
				</ul>
				<p>
					&nbsp;</p>
			</div>
		</div>
	</div>
</section>
<section class="sec-4 section" id="sec-4">
	<div class="container-fixed">
		<div class="row">
			<div class="sec__title">
				MOHLO BY VÁS ZAUJÍMAŤ</div>
			<div class="row text_centered">
				<div class="col-md-4">
					<img alt="" src="../assets/img/ico-07.png" />
					<p class="sub__desc">
						Skontrolujte si osobné údaje v zmluve so súčasným operátorom. Musia sa zhodovať s tými, ktoré uvediete v&nbsp;žiadosti o&nbsp;prenos
						do Telekomu.</p>
				</div>
				<div class="col-md-4">
					<img alt="" src="../assets/img/ico-08.png" />
					<p class="sub__desc">
						O&nbsp;prenos čísla vám odporúčame požiadať po skončení viazanosti, pretože váš súčasný operátor si môže uplatniť pokutu
						za predčasné ukončenie zmluvy.</p>
				</div>
				<div class="col-md-4">
					<img alt="" src="../assets/img/ico-09.png" />
					<p class="sub__desc">
						Pre plynulý a&nbsp;bezproblémový prenos je dôležité, aby ste mali vysporiadané všetky záväzky s vaším súčasným operátorom.</p>
				</div>
			</div>
			<div class="row margin_top50">
				&nbsp;</div>
			<div class="c-content happy-legal-cennik">
				<p>
					Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom
					Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. –
					<a class="link" href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
					 target="_blank">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a>
				</p>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="../assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../assets/js/sticky.min.js"></script>
<script type="text/javascript" src="../assets/js/modul.pausaly.vianoce.js?v=5"></script>
<!-- <script type="text/javascript" src="../assets/js/modul.pausaly.js?v=5"></script> -->
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<script type="text/javascript" src="../assets/js/mkr.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=4"></script>