<section class="sec-1 section" id="sec-1">
  <div class="container-fixed">
    <div class="sec__title">
      Výhody pri prenose čísla
    </div>
    <div class="row text_centered">
      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-01m.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold">Vybavíme všetko za vás!</span>
          <br />
          Stačí nás požiadať a všetky potrebné veci vybavíme za vás.
          <br />
          <a class="link" href="/volania/mam-zaujem/prenos-cisla/formular "
            >Požiadať o prenos čísla</a
          >
        </p>
      </div>
      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-02m.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold">Neobmedzené volania a SMS</span>
          <br />
          v SR a EÚ+ získate so všetkými paušálmi T&nbsp;Ideál
          a&nbsp;T&nbsp;Nekonečno.
          <br />
        </p>
      </div>

      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-03m.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold"
            >Viac dát ako kedykoľvek predtým</span
          >
          <br />
          vás čaká v paušáloch T&nbsp;Dáta. Surfovanie bez hraníc získate
          s&nbsp;paušálmi T&nbsp;Nekonečno.
        </p>
      </div>
      <div class="col-xs-12 col-md-3 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-04m.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold">Nespotrebujete, prenesiete</span>
          <br />
          dáta z&nbsp;T&nbsp;paušálov, ktoré nespotrebujete, vám automaticky
          a&nbsp;bez poplatkov prenesieme do ďalšieho zúčtovacieho obdobia.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="sec-5 section" id="sec-5">
  <div class="container-fixed">
    <div class="t-pausal">
      <div class="text">
        <div class="sec__title">
          V Telekome si každý vyberie paušál podľa svojich predstáv
        </div>
        <p>
          Spoznajte širokú ponuku T paušálov, ktoré prinášajú viac dát ako
          kedykoľvek predtým. Stačí si vybrať ten svoj a prenos čísla od iného
          operátora vybavíme za vás!
        </p>
        <a class="btn cta_mag" href="/volania/pausal#odporucame"
          >Pozrieť si T paušály</a
        >
      </div>
      <img class="t-img" src="../assets/img/t-pausaly.png" alt="t-pausaly" />
    </div>
  </div>
</section>

<section class="sec-3 section" id="sec-3">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="sec__title" style="margin-bottom: 0px;">
          Ako prebehne prenos
        </div>
        <p class="sec__desc text_centered">
          O stave prenosu vás budeme priebežne informovať cez SMS.
          <br />
          Vydanie novej Telekom SIM karty je bez poplatku.
        </p>
        <p class="sec__desc-list">
          &nbsp;
        </p>
        <ul class="spec-list spec-list-num">
          <li data-type="one">
            <b>Žiadosť o prenos čísla a doručenie</b>
            <br />
            V priebehu 3 pracovných dní po odoslaní žiadosti vás budeme
            kontaktovať kvôli overeniu údajov a výberu paušálneho programu,
            prípadne nového mobilu. Následne vám kuriérom bezplatne doručíme
            potrebné dokumenty na podpis, novú Telekom SIM kartu a nový mobil
            (ak ste si ho objednali).
          </li>
          <li data-type="two">
            <b>Fungovanie počas prenosu</b>
            <br />
            Počas prenosu využívate svoje telefónne číslo u svojho súčasného
            operátora. Okrem neho môžete používať aj novú Telekom SIM kartu, na
            ktorej je aktivované dočasné číslo.
          </li>
          <li data-type="three">
            <b>Aktivovanie T&nbsp;paušálu</b>
            <br />
            Do 4 dní po podpísaní dokumentov bude na novej Telekom SIM karte
            aktivované vaše pôvodné číslo, ktoré môžete ihneď začať používať.
          </li>
        </ul>
        <p>
          &nbsp;
        </p>
      </div>
    </div>
  </div>
</section>
