<!-- KV -->
<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="row ">
            <div class="col-xs-12 col-md-7 hero-box">
                <h2 class="section__title"><span class="text_bold">MOBILY A TABLETY</span><br />POSLEDNÉ KUSY ZA VÝPREDAJOVÉ CENY</h2>
                <p>Mobily a tablety z tejto ponuky si môžete kúpiť:
                    <br>■ k paušálu <a href="#xsmini-info" class="popup" >Happy XS mini</a>, s ktorým získate bezplatné volania na <span class="info" ng-init="$ctrl.qtip()">3 ľubovoľné čísla </span>
                    <br>■ alebo k novej <a href="#pecka-info" class="popup">Easy karte</a> bez záväzkov a zbytočných faktúr so štartovacím kreditom 9 € len za 1 €</p>
                    <p> <a href="" class="btn cta" ng-click="$ctrl.scrollToTag('#phone-list')">Viac info Mobily</a>
                    <a href="" class="btn cta" ng-click="$ctrl.scrollToTag('#sec-2')">Viac info Tablety</a>
                    <br>
                </p>
            </div>
            <div class="col-xs-12 col-md-5 hero-box hero-img">
                <div class="ec-holder">
                    <img src="https://www.telekom.sk/documents/10179/462918/LEN-CEZ-WEB_106x106.png" alt="">
                </div>
                <img class="main-img" src="https://www.telekom.sk/documents/10179/462918/hero.png" alt="">
            </div>
            <div class="margin_top20">
                <hr class="divider-horizontal">
            </div>
        </div>
    </div>
</section>

<!-- Phone-list -->
<section id="phone-list" class="section" ng-cloak>
    <div class="container-fixed">
        <div class="row">
            <h2 class="sec__title" ng-click="$ctrl.loadDevices('tablet')">Výpredaj telefónov</h2>
            <!-- Device Grid -->
            <div id="device-grid">
                <!-- Sort Filter Desktop -->
                <div class="filter-sort col-md-12 show-desktop-only">
                    <!--  ::::::::::BASE:::::::::: -->
                    <div class="col-md-4">
                        <span class="filter-label">Zoradiť podľa :</span>
                        <div isteven-multi-select 
                        input-model="$ctrl.zakladnyFilter" 
                        output-model="$ctrl.outputBaseFilter" 
                        button-label="name" 
                        item-label="name maker" 
                        tick-property="ticked" 
                        helper-elements="" 
                        on-item-click="$ctrl.changeOrder(data, '')" 
                        selection-mode="single">
                        </div>
                    </div>
                    <!--  ::::::::::BRANDS:::::::::: -->
                    <div class="col-md-4">
                        <span class="filter-label">Výber podľa výrobcov:</span>
                        <div id="brandFilter" isteven-multi-select 
                        input-model="$ctrl.zoznamBrandov" 
                        output-model="$ctrl.outputBrands" 
                        button-label="name" item-label="name" 
                        max-labels="2" 
                        tick-property="ticked" 
                        helper-elements="" 
                        on-item-click="$ctrl.checkBrandChange(data)">
                        </div>
                    </div>
                    <!--  ::::::::::SCREEN:::::::::: -->
                    <div class="col-md-4">
                        <span class="filter-label">Zoradiť podľa veľkosti displeja :</span>
                        <div isteven-multi-select input-model="$ctrl.zoznamScreenov" output-model="$ctrl.outputScreenSize" button-label="name" max-labels="3" item-label="name maker" tick-property="ticked" helper-elements="" on-item-click="$ctrl.checkScreenChange(data)" selection-mode="single">
                        </div>
                    </div>
                </div>
                <!-- Sort Filter Mobile -->
                <div class="filter-sort-mob col-md-12 show-mobile-only">
                    <a href="" class="btn btn_clean btn_filter" 
                    ng-click="$ctrl.ShowHideTab1()">
                    Filtrovať</a>
                    <a href="" class="btn btn_clean btn_sort" 
                    ng-click="$ctrl.ShowHideTab2()">
                    Zoradiť</a>
                    <!-- Filter checkbox -->
                    <div id="detailFilter" ng-hide="$ctrl.IsHiddenTab1" class="cssFadeOut">
                        <div class="modal-head">
                            <div class="modal-head_text detail-filter">Filtrovať podľa :</div>
                        </div>
                        <div class="modal-checkbox">
                            <div class="checkbox-filter col-md-12">
                                <p class="filter-title">Značky :</p>
                                <div class="col-xs-6" ng-repeat="limit in $ctrl.getLimits($ctrl.zoznamBrandov)">
                                    <label class="checkable" 
                                    ng-repeat="brand in $ctrl.zoznamBrandov 
                                    | orderBy:'name':reverse 
                                    | limitTo:limit">
                                        <div class="checker">
                                            <span ng-class="{checked : brand.ticked}">
                                                <input type="checkbox" 
                                                ng-model="brand.ticked" 
                                                ng-change="$ctrl.checkBrandChange(brand)" 
                                                name="brandNames">
                                            </span>
                                        </div>
                                        <span class="checkbox-label">{{brand.name}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="filter-title">Veľkosti displeja :</p>
                                <div class="col-xs-6" ng-repeat="limit in $ctrl.getLimit2($ctrl.zoznamScreenov)">
                                    <label class="checkable" ng-repeat="screenSize in $ctrl.zoznamScreenov | orderBy:'name':reverse | limitTo:limit">
                                        <div class="checker">
                                            <span ng-class="{checked : screenSize.ticked}">
                                                <input type="checkbox" 
                                                ng-model="screenSize.ticked" 
                                                ng-change="$ctrl.checkScreenChange(screenSize)" 
                                                name="brandNames" 
                                                ng-click="$ctrl.updateSelection(screenSize.name, $ctrl.zoznamScreenov)">
                                            </span>
                                        </div>
                                        <span class="checkbox-label">{{screenSize.name}}</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 text_centered">
                                <a href="" class="btn cta" ng-click="$ctrl.ShowHideTab1('true')">Zobraz výsledky  ({{$ctrl.filterResult.length}})</a>
                            </div>
                        </div>
                    </div>
                    <!-- Sort Filter -->
                    <div id="sortFilter" ng-hide="$ctrl.IsHiddenTab2" class="cssFadeOut">
                        <div class="modal-head__wrap">
                            <!--   
                            <div class="modal-head_left">
                                <img src="../assets/img/ico-left-arrow.png" alt="">
                            </div> -->
                            <div class="modal-head">
                                <div class="modal-head_text sort-filter">Zoradiť podľa :</div>
                            </div>
                        </div>
                        <div class="sort-filter__wrap">
                            <li class="no-decoration modal-item" 
                            ng-class="{selected : baseFilter.ticked}"
                            ng-repeat="baseFilter in $ctrl.zakladnyFilter 
                            | orderBy:'value':reverse"
                            ng-click="$ctrl.changeOrder(baseFilter, 'mobile')" >
                                {{baseFilter.name}}
                            </li>
                        </div>
                         <div class="col-md-12 text_centered">
                                <a href="" class="btn cta" 
                                ng-click="$ctrl.ShowHideTab2('true')">Zobraz výsledky  ({{$ctrl.filterResult.length}})</a>
                            </div>
                    </div>
                    <!-- sort-mob-menu -->
                </div>
                <!--  ::::::::::TAGS:::::::::: -->
                <div class="filter-tags_wrap col-md-12">
                    <!-- TagsBrand -->
                    <div class="filter-tag" 
                    ng-repeat="brand in $ctrl.zoznamBrandov 
                    | filter: { ticked: '!false' }">
                        <span class="filter-tag_label">{{brand.name}}</span>
                        <a class="remove-button" 
                        ng-click="$ctrl.checkBrandChange(brand)">×</a>
                    </div>
                    <!-- TagsScreen -->
                    <div class="filter-tag" 
                    ng-repeat="tag in $ctrl.zoznamScreenov 
                    | filter: { ticked: '!false' }" 
                    ng-if="!tag.hideTag">
                        <span 
                        class="filter-tag_label">{{tag.name}}</span>
                        <a 
                        class="remove-button" 
                        ng-click="$ctrl.untick($index,tag)">×</a>
                    </div>
                </div>
                <!--  ::::::::::DEVICE LIST:::::::::: -->
                <div class="device-list col-md-12" ng-cloak>
                <!-- not-found -->
                        <div class="col-md-12 text_centered" ng-show="$ctrl.filterResult.length == 0">
                        <h2>Žiadne výsledky vyhľadávania</h2></div>
                    <!-- device-card -->
                    <div 
                    class="device-card col-lg-4 col-md-6 col-sm-12 col-xs-12" 
                    ng-if="device.visible"
                    ng-repeat="device in ($ctrl.filterResult = ($ctrl.devices  
                    | filter:$ctrl.brandFilter 
                    | rangeFilter:'screenSize':$ctrl.screenSize.min:$ctrl.screenSize.max 
                    | filter: $ctrl.filterUnavailable 
                    | orderBy:$ctrl.orderProp:$ctrl.reverse))">
                            <!-- device-img -->
                            <div class="device-card-img__wrap">
                                <!-- ec-info -->
                                <div class="ec-wrap-left">
                                    <img ng-if="device.ec.ecLeftVisible[0]" ng-src="{{device.ec.ecLeftUrl}}" alt="" class="ec-img-left">
                                    <img ng-if="device.ec.ecLeftVisible[1]" ng-src="{{device.ec.ecLeftUrl2}}" alt="" class="ec-img-left-2">
                                </div>
                                <div class="ec-wrap-right" ng-if="device.ec.ecRightVisible">
                                    <img ng-src="{{device.ec.ecRightUrl}}" alt="" class="ec-img-right">
                                </div>
                                <img class="device-card-img" ng-src="{{device.imageUrl}}" alt="" />
                            </div>
                            <!-- device-title -->
                            <div class="device-card__title">
                                <h3><span>{{device.name}}</span></h3>
                            </div>
                            <!-- device-details -->
                            <div class="device-card__detail-wrap">
                                <ul class="device-card__detail-list">
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc1">
                                        <!-- {{device.description.desc1}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc2">
                                        <!-- {{device.description.desc2}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc3">
                                        <!-- {{device.description.desc3}}  -->
                                    </li>
                                </ul>
                            </div>
                            <!-- device-price -->
                            <div class="device-card__price-wrap">
                                <!-- price-duo -->
                                <div class="device-card__price-easy-xsmini" ng-if="!device.price.isSoloPrice">
                                    <!-- price-left -->
                                    <div class="price-left__wrap">
                                        <div class="price">{{device.price.easy}},00 €</div>
                                        <div class="desc">k Easy karte</div>
                                    </div>
                                    <!-- price-right -->
                                    <div class="price-right__wrap">
                                        <div class="price">{{device.price.xsMiniMonth}},00 €/mes.</div>
                                        <div class="price_tag">k Happy XS mini</div>
                                    </div>
                                </div>
                                <!-- price-solo -->
                                <div class="device-card__price-solo-wrap" ng-if="device.price.isSoloPrice">
                                    <div class="price">{{device.price.easy}},00 €</div>
                                        <div class="desc">k Easy karte</div>
                                </div>
                            </div>
                            <!-- device-cta -->
                            <div class="device-card__cta">
                                <a ng-href="#!/vyber-hw/{{device.deviceId}}" class="btn cta">Viac info</a>
                            </div>
                        </div>
                    <!-- //device-card -->
                </div>
                <!-- //device list -->
            </div>
            <!-- //Device Grid -->
        </div>
    </div>
</section>

<!-- Tablet-list -->
<section id="sec-2" class="section" ng-cloak>
    <div class="container-fixed">
        <div class="row">
            <h2>Výpredaj tabletov</h2>
            <!-- Device Grid -->
            <div id="device-grid">
                <!-- Device list -->
                <div class="device-list col-md-12">
                  <!-- device-card -->
                    <div ng-repeat="device in $ctrl.tabletAll
                         | orderBy:$ctrl.orderProp:$ctrl.reverse" 
                         class="device-card col-lg-4 col-md-6 col-sm-12 col-xs-12" 
                         ng-if="device.visible">
                         <!-- new-item -->
                        <div class="new-item" ng-if="!device.secondHand">
                            <!-- device-img -->
                            <div class="device-card-img__wrap">
                                <!-- ec-info -->
                                <div class="ec-wrap-left">
                                    <img ng-if="device.ec.ecLeftVisible[0]" ng-src="{{device.ec.ecLeftUrl}}" alt="" class="ec-img-left">
                                    <img ng-if="device.ec.ecLeftVisible[1]" ng-src="{{device.ec.ecLeftUrl2}}" alt="" class="ec-img-left-2">
                                </div>
                                <div class="ec-wrap-right" ng-if="device.ec.ecRightVisible">
                                    <img ng-src="{{device.ec.ecRightUrl}}" alt="" class="ec-img-right">
                                </div>
                                <img class="device-card-img" ng-src="{{device.imageUrl}}" alt="" />
                            </div>
                            <!-- device-title -->
                            <div class="device-card__title">
                                <h3><span>{{device.name}}</span></h3>
                            </div>
                            <!-- device-details -->
                            <div class="device-card__detail-wrap">
                                <ul class="device-card__detail-list">
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc1">
                                        <!-- {{device.description.desc1}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc2">
                                        <!-- {{device.description.desc2}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc3">
                                        <!-- {{device.description.desc3}}  -->
                                    </li>
                                </ul>
                            </div>
                            <!-- device-price -->
                            <div class="device-card__price-wrap">
                                <!-- price-duo -->
                                <div class="device-card__price-easy-xsmini" ng-if="!device.price.isSoloPrice">
                                    <!-- price-left -->
                                    <div class="price-left__wrap">
                                        <div class="price">{{device.price.easy}},00 €</div>
                                        <div class="desc">k Easy karte</div>
                                    </div>
                                    <!-- price-right -->
                                    <div class="price-right__wrap">
                                        <div class="price">{{device.price.xsMiniMonth}},00 €/mes.</div>
                                        <div class="price_tag">k Happy XS mini</div>
                                    </div>
                                </div>
                                <!-- price-solo -->
                                <div class="device-card__price-solo-wrap" ng-if="device.price.isSoloPrice">
                                    <div class="price-solo">
                                        {{device.price.soloPrice}},<sup>00</sup> €
                                    </div>
                                </div>
                            </div>
                            <!-- device-cta -->
                            <div class="device-card__cta" ng-if="!device.price.isSoloPrice">
                                <a ng-href="#!/vyber-hw/tablet/{{device.deviceId}}" class="btn cta">Viac info</a>
                            </div>
                            <!-- device-cta-solo-price -->
                            <div class="device-card__cta" ng-if="device.price.isSoloPrice">
                                <a ng-href="{{device.urls.formUrl}}" class="btn cta">KÚPIŤ</a>
                            </div>
                        </div>
                        <!-- second-hand -->
                        <div class="new-item" ng-if="device.secondHand">
                            <!-- device-img -->
                            <div class="device-card-img__wrap">
                                <!-- ec-info -->
                                <div class="ec-wrap-left">
                                    <img ng-if="device.ec.ecLeftVisible[0]" ng-src="{{device.ec.ecLeftUrl}}" alt="" class="ec-img-left">
                                    <img ng-if="device.ec.ecLeftVisible[1]" ng-src="{{device.ec.ecLeftUrl2}}" alt="" class="ec-img-left-2">
                                </div>
                                <div class="ec-wrap-right" ng-if="device.ec.ecRightVisible">
                                    <img ng-src="{{device.ec.ecRightUrl}}" alt="" class="ec-img-right">
                                </div>
                                <img class="device-card-img" ng-src="{{device.imageUrl}}" alt="" />
                            </div>
                            <!-- device-title -->
                            <div class="device-card__title">
                                <h3><span>{{device.name}}</span></h3>
                            </div>
                            <!-- device-details -->
                            <div class="device-card__detail-wrap">
                                <ul class="device-card__detail-list">
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc1">
                                        <!-- {{device.description.desc1}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc2">
                                        <!-- {{device.description.desc2}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc3">
                                        <!-- {{device.description.desc3}}  -->
                                    </li>
                                </ul>
                            </div>
                            <!-- device-price -->
                            <div class="device-card__price-wrap">
                                <!-- price-duo -->
                                <div class="device-card__price-easy-xsmini" ng-if="!device.price.isSoloPrice">
                                    <!-- price-left -->
                                    <div class="price-left__wrap">
                                        <div class="price">{{device.price.easy}},00 €</div>
                                        <div class="desc">k Easy karte</div>
                                    </div>
                                    <!-- price-right -->
                                    <div class="price-right__wrap">
                                        <div class="price">{{device.price.xsMiniMonth | decimal2comma}} €/mes.</div>
                                        <div class="price_tag">s Mobilným internetom S</div>
                                    </div>
                                </div>
                                <!-- price-solo -->
                                <div class="device-card__price-solo-wrap" ng-if="device.price.isSoloPrice">
                                    <div class="price-solo">
                                        {{device.price.soloPrice}},<sup>00</sup> €
                                    </div>
                                </div>
                            </div>
                            <!-- device-cta -->
                            <div class="device-card__cta" ng-if="!device.price.isSoloPrice">
                                <a ng-href="#!/vyber-hw/tablet/{{device.deviceId}}" class="btn cta">Viac info</a>
                            </div>
                            <!-- device-cta-solo-price -->
                            <div class="device-card__cta" ng-if="device.price.isSoloPrice">
                                <a ng-href="{{device.urls.formUrl}}" class="btn cta">KÚPIŤ</a>
                            </div>
                        </div>
                    </div>
                    <!-- //device-card -->
                </div>
                <!-- //device list -->
            </div>
            <!-- //Device Grid -->
        </div>
    </div>
</section>



<!-- LIGHTBOXES --> 
        <div style="display: none;">
            <!--pecka info -->
            <div id="pecka-info">
                <div class="p-head">
                    <a class="p-close" ng-click="$ctrl.pclose()">
                        <!-- closeBtn -->
                    </a>
                    <h2 class="lb-title">Easy Pecka</h2>
                </div>
                <!-- POPUP CONTENT -->
                <div class="p-device-content">
                    <div class="lb-subtitle">
                        Ako funguje Easy Pecka?</div>
                    <div class="lb-desc">
                        Len čo dosiahnete hranicu 50 centov za volania a SMS v jednej zo sietí v SR (Telekom, Orange, O2 A Swan), v daný deň už v tejto sieti viac neplatíte.</div>
                    <div class="row2-1">
                        <span class="lb-subtitle"> Volania a SMS:</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-left">
                                        Volania:</td>
                                    <td>
                                        <span class="lb-magenta lb-bold">len 9 centov</span> / <span class="lb-gray lb-bold"> minúta</span></td>
                                </tr>
                                <tr>
                                    <td class="td-left">
                                        SMS:</td>
                                    <td>
                                        <span class="lb-magenta lb-bold">len 6 centov</span> / <span class="lb-gray lb-bold"> SMS</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row3-1">
                        <span class="lb-subtitle"> Internet:</span>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-left">
                                        Surfovanie:</td>
                                    <td>
                                        <span class="lb-magenta lb-bold">len 10 centov</span> / <span class="lb-gray lb-bold"> 1 MB</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row3-3">
                        Za surfovanie však zaplatíš maximálne 50 centov za deň a to iba vtedy, ak v danom dni surfuješ. Ak nesurfuješ, neplatíš samozrejme nič.
                        <br>
                        <br>
                    </div>
                    <div class="row4-1">
                        Krediť ti platí až 12 mesiacov po dobití.
                    </div>
                </div>
            </div>
            <!-- xs-mini info -->
            <div id="xsmini-info">
                <div class="p-head">
                    <a class="p-close" ng-click="$ctrl.pclose()">
                        <!-- closeBtn -->
                    </a>
                    <h2 class="lb-title">Happy XS Mini</h2>
                </div>
                <!-- POPUP CONTENT -->
                <div class="p-device-content">
                    <div class="lb-subtitle">
                        Volania a SMS/MMS:</div>
                    <div class="row1-2">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-left">
                                        Bezplatné volania:</td>
                                    <td class="lb-magenta">až na 3 čísla do všetkých mobilných sietí v SR</td>
                                </tr>
                                <tr>
                                    <td class="td-left">
                                        Predplatené minúty:</td>
                                    <td class="lb-magenta">
                                        30 voľných minút do celej SR a EÚ a prichádzajúce hovory v EÚ</td>
                                </tr>
                                <tr>
                                    <td class="td-left">
                                        SMS:</td>
                                    <td class="lb-magenta">
                                        len 10 centov</td>
                                </tr>
                                <tr>
                                    <td class="td-left">
                                        Služba CLIP:</td>
                                    <td>
                                        <span class="lb-magenta">zadarmo</span> <span class="lb-disclaimer">(CLIP = Identifikácia volajúceho čísla)</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row2-1">
                        <span class="lb-subtitle">Internet:</span>
                    </div>
                    <div class="row2-2">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="td-left">
                                        4G internet v mobile: </td>
                                    <td>10 MB + 10 MB Extra dáta v SR
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row3-1">
                        <span class="lb-disclaimer">Viazanosť: 24 mesiacov.</span></div>
                </div>
            </div>
<!-- //LIGHTBOXES -->
