<!-- Tablet-list -->
<section id="sec-2" class="section" ng-cloak>
    <div class="container-fixed">
        <div class="row">
            <!-- <h2>Výpredaj tabletov</h2> -->
            <!-- Device Grid -->
            <div id="device-grid">
                <!-- Device list -->
                <div class="device-list col-md-12">
                  <!-- device-card -->
                    <div ng-repeat="device in $ctrl.tabletAll
                         | orderBy:$ctrl.orderProp:$ctrl.reverse" 
                         class="device-card col-lg-4 col-md-6 col-sm-12 col-xs-12" 
                         ng-if="device.visible">
                         <!-- new-item -->
                        <div class="new-item" ng-if="!device.secondHand">
                            <!-- device-img -->
                            <div class="device-card-img__wrap">
                                <!-- ec-info -->
                                <div class="ec-wrap-left">
                                    <img ng-if="device.ec.ecLeftVisible[0]" ng-src="{{device.ec.ecLeftUrl}}" alt="" class="ec-img-left">
                                    <img ng-if="device.ec.ecLeftVisible[1]" ng-src="{{device.ec.ecLeftUrl2}}" alt="" class="ec-img-left-2">
                                </div>
                                <div class="ec-wrap-right" ng-if="device.ec.ecRightVisible">
                                    <img ng-src="{{device.ec.ecRightUrl}}" alt="" class="ec-img-right">
                                </div>
                                <img class="device-card-img" ng-src="{{device.imageUrl}}" alt="" />
                            </div>
                            <!-- device-title -->
                            <div class="device-card__title">
                                <h3><span>{{device.name}}</span></h3>
                            </div>
                            <!-- device-details -->
                            <div class="device-card__detail-wrap">
                                <ul class="device-card__detail-list">
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc1">
                                        <!-- {{device.description.desc1}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc2">
                                        <!-- {{device.description.desc2}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc3">
                                        <!-- {{device.description.desc3}}  -->
                                    </li>
                                </ul>
                            </div>
                            <!-- device-price -->
                            <div class="device-card__price-wrap">
                                <!-- price-duo -->
                                <div class="device-card__price-easy-xsmini" ng-if="!device.price.isSoloPrice">
                                    <!-- price-left -->
                                    <div class="price-left__wrap">
                                        <div class="price">{{device.price.easy}},00 €</div>
                                        <div class="desc">k Easy karte</div>
                                    </div>
                                    <!-- price-right -->
                                    <div class="price-right__wrap">
                                        <div class="price">{{device.price.xsMiniMonth}},00 €/mes.</div>
                                        <div class="price_tag">k Happy XS mini</div>
                                    </div>
                                </div>
                                <!-- price-solo -->
                                <div class="device-card__price-solo-wrap" ng-if="device.price.isSoloPrice">
                                    <div class="price-solo">
                                        {{device.price.soloPrice}},<sup>00</sup> €
                                    </div>
                                </div>
                            </div>
                            <!-- device-cta -->
                            <div class="device-card__cta" ng-if="!device.price.isSoloPrice">
                                <a ng-href="#!/vyber-hw/tablet/{{device.deviceId}}" class="btn cta">Viac info</a>
                            </div>
                            <!-- device-cta-solo-price -->
                            <div class="device-card__cta" ng-if="device.price.isSoloPrice">
                                <a ng-href="{{device.urls.formUrl}}" class="btn cta">KÚPIŤ</a>
                            </div>
                        </div>
                        <!-- second-hand -->
                        <div class="new-item" ng-if="device.secondHand">
                            <!-- device-img -->
                            <div class="device-card-img__wrap">
                                <!-- ec-info -->
                                <div class="ec-wrap-left">
                                    <img ng-if="device.ec.ecLeftVisible[0]" ng-src="{{device.ec.ecLeftUrl}}" alt="" class="ec-img-left">
                                    <img ng-if="device.ec.ecLeftVisible[1]" ng-src="{{device.ec.ecLeftUrl2}}" alt="" class="ec-img-left-2">
                                </div>
                                <div class="ec-wrap-right" ng-if="device.ec.ecRightVisible">
                                    <img ng-src="{{device.ec.ecRightUrl}}" alt="" class="ec-img-right">
                                </div>
                                <img class="device-card-img" ng-src="{{device.imageUrl}}" alt="" />
                            </div>
                            <!-- device-title -->
                            <div class="device-card__title">
                                <h3><span>{{device.name}}</span></h3>
                            </div>
                            <!-- device-details -->
                            <div class="device-card__detail-wrap">
                                <ul class="device-card__detail-list">
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc1">
                                        <!-- {{device.description.desc1}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc2">
                                        <!-- {{device.description.desc2}}  -->
                                    </li>
                                    <li class="device-card__detail-list-item" ng-bind-html="device.description.desc3">
                                        <!-- {{device.description.desc3}}  -->
                                    </li>
                                </ul>
                            </div>
                            <!-- device-price -->
                            <div class="device-card__price-wrap">
                                <!-- price-duo -->
                                <div class="device-card__price-easy-xsmini" ng-if="!device.price.isSoloPrice">
                                    <!-- price-left -->
                                    <div class="price-left__wrap">
                                        <div class="price">{{device.price.easy}},00 €</div>
                                        <div class="desc">k Easy karte</div>
                                    </div>
                                    <!-- price-right -->
                                    <div class="price-right__wrap">
                                        <div class="price">{{device.price.xsMiniMonth | decimal2comma}} €/mes.</div>
                                        <div class="price_tag">s Mobilným internetom S</div>
                                    </div>
                                </div>
                                <!-- price-solo -->
                                <div class="device-card__price-solo-wrap" ng-if="device.price.isSoloPrice">
                                    <div class="price-solo">
                                        {{device.price.soloPrice}},<sup>00</sup> €
                                    </div>
                                </div>
                            </div>
                            <!-- device-cta -->
                            <div class="device-card__cta" ng-if="!device.price.isSoloPrice">
                                <a ng-href="#!/vyber-hw/tablet/{{device.deviceId}}" class="btn cta">Viac info</a>
                            </div>
                            <!-- device-cta-solo-price -->
                            <div class="device-card__cta" ng-if="device.price.isSoloPrice">
                                <a ng-href="{{device.urls.formUrl}}" class="btn cta">KÚPIŤ</a>
                            </div>
                        </div>
                    </div>
                    <!-- //device-card -->
                </div>
                <!-- //device list -->
            </div>
            <!-- //Device Grid -->
        </div>
    </div>
</section>