<style type="text/css">
</style>
<div id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			<!-- mobile --></div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>MAGIO INTERNET</b><br />
				A SKVELÉ VIANOČNÉ AKCIE</h1>
			<a class="scroll-to btn cta" href="?vianocne-akcie#sec-9">VIANOČNÉ AKCIE</a></div>
	</div>
</div>
<div class="sticky-wrapper" id="nav-sticky-sticky-wrapper" style="height: 56px;">
	<div id="nav-sticky">
		<ul>
			<li>
				<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
			<li>
				<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
			<li>
				<a class="scroll-to" href="?vianocne-akcie#sec-9">VIANOČNÉ AKCIE</a></li>
			<li>
				<a class="scroll-to" href="#sec-4">DOPLNKOVÉ SLUŽBY</a></li>
			<li>
				<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="https://www.telekom.sk/documents/10179/521661/arrow-top.png" /></a></li>
		</ul>
	</div>
</div>
<section id="sec-1">
		<div class="container-fixed clearfix">
		<div class="row">
	<h2 class="velkyNadpis">
		VÝHODY MAGIO INTERNETU NA DOMA</h2>
	<div class="col-md-4 tooltip0">
		<img class="tac" src="../assets/img/telefon.png" />
		<h3 class="tac">
			Spoľahlivosť a bezpečnosť</h3>
		<p class="tac">
			Surfujte doma bez výpadkov naraz na počítači, notebooku, telefóne alebo tablete cez bezpečnú bezdrôtovú Wi-Fi sieť alebo kábel.</p>
	</div>
	<div class="col-md-4">
		<img class="tac" src="../assets/img/domcek.png" />
		<h3 class="tac">
			Neobmedzený internet</h3>
		<p class="tac">
			Magio internet na doma nemá žiadne časové ani dátové obmedzenia a je ideálny pre časté a intenzívne využívanie.</p>
	</div>
	<div class="col-md-4">
		<img class="tac" src="../assets/img/slovensko.png" />
		<h3 class="tac">
			Široká dostupnosť</h3>
		<p class="tac">
			Surfujte doma cez najmodernejšiu optickú sieť, ktorej dostupnosť neustále rozširujeme. Získate tak prístup k superrýchlemu Magio internetu.<br />
			<!--a href="#">Overiť dostupnosť</a--></p>
	</div>
</div>
		</div>
</section>

<section id="sec-2">
	<div class="pozadie2">
		<div class="obalka">
			<h2 class="velkyNadpis">
				SLUŽBY A CENY MAGIO INTERNETU</h2>
			<p class="tac">
				Magio internet sa dá objednať v Chytrom balíku samostatne alebo za výhodnejšiu cenu <a class="modryOdkaz" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl&amp;linka=xl">s televíziou a/alebo Pevnou linkou už od 1 €</a></p>
			<div class="jedna3medzera tac">
				<h3 class="tac">
					Magio internet M</h3>
				<hr />
				<h5 class="tac">
					<a class="tooltip1" href="#">Rýchlosť do 15/1 M<span class="malepismo">b/s</span></a></h5>
				<br />
				<p class="tac">
					Bez časových a dátových obmedzení</p>
				<br />
				<p class="tac">
					Stabilné a superrýchle pripojenie všetkých zariadení cez Wi-Fi alebo kábel</p>
				<br />
				<hr />
				<h5 class="tac">
					10,00 € / mesačne</h5>
				<br />
				<a class="tac tooltip2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=m">s televíziou a/alebo Pevnou linkou<br />
				získate výhodnejšiu cenu</a><br />
				<br />
				<br />
				<a class="btn cta" href="/internet/magio-internet/mam-zaujem">VYBRAŤ</a></div>
			<div class="jedna3medzera stred tac">
				<h3 class="tac">
					Magio internet L</h3>
				<hr />
				<h5 class="tac">
					<a class="tooltip3" href="#">Rýchlosť do 60/6 M<span class="malepismo">b/s</span></a></h5>
				<br />
				<p class="tac">
					Bez časových a dátových obmedzení</p>
				<br />
				<p class="tac">
					Stabilné a superrýchle pripojenie všetkých zariadení cez Wi-Fi alebo kábel</p>
				<br />
				<hr />
				<h5 class="tac">
					15,00 € / mesačne</h5>
				<br />
				<a class="tac tooltip2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=l">s televíziou a/alebo Pevnou linkou<br />
				získate výhodnejšiu cenu</a><br />
				<br />
				<br />
				<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=l">VYBRAŤ</a></div>
			<div class="jedna3medzera tac">
				<h3 class="tac">
					Magio internet XL</h3>
				<hr />
				<h5 class="tac">
					<a class="tooltip4" href="#">Rýchlosť do 300/30 M<span class="malepismo">b/s</span></a></h5>
				<br />
				<p class="tac">
					Bez časových a dátových obmedzení</p>
				<br />
				<p class="tac">
					Stabilné a superrýchle pripojenie všetkých zariadení cez Wi-Fi alebo kábel</p>
				<br />
				<hr />
				<h5 class="tac">
					20,00 € / mesačne</h5>
				<br />
				<a class="tac tooltip2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=xl">s televíziou a/alebo Pevnou linkou<br />
				získate výhodnejšiu cenu</a><br />
				<br />
				<br />
				<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=xl">VYBRAŤ</a></div>
			<br class="clearer" />
			<p class="tac">
				Všetky uvedené ceny sú vrátane DPH.</p>
			<br />
			<div id="cmb__holder">
				&nbsp;</div>
			<!--
              <div class="modrePole tac" id="cmb__block">
                  <h2 class="velkyNadpis">
                      CHCETE VÝHODNEJŠIU PONUKU?</h2>
                  <a class="btn cta_mag" href="/volania/happy?sluzby-a-ceny#" id="cmb__btn"><span>ÁNO, ZAVOLAJTE MI SPÄŤ</span></a>
              </div>
              --></div>
	</div>
	<div class="pozadie3">
		<div class="obalka">
			<h2 class="velkyNadpis">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
			<div class="jedna3">
				<img class="tac" src="../assets/img/ico-discount.png" />
				<p class="tac">
					<strong>Extra zľava 10 €</strong><br />
					pri kúpe Magio internetu cez web</p>
			</div>
			<div class="jedna3 stred">
				<img class="tac" src="../assets/img/ico-cal.png" />
				<p class="tac">
					<strong>Prvých 14 dní bez záväzkov</strong><br />
					pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
			</div>
			<div class="jedna3">
				<img class="tac" src="../assets/img/ico-car.png" />
				<p class="tac">
					<strong>Doručenie kuriérom zadarmo</strong><br />
					kdekoľvek v rámci SR</p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-9 xmas-bg" id="sec-9">
	<div class="container-fixed">
		<div class="row">
			<div class="offer__wrapper">
				<!--<div class="offer-box box-1 col-md-12">
            <div class="offer__wrapper ">
              <div class="left-holder">
                <img alt="" src="/documents/10179/5209263/detskytabletm.png" style="width: inherit; margin-left: 25%;" /></div>
              <div class="right-holder">
                <h3 class="main-offer__title">
                  TABLET OD 1 €</h3>
                <p class="main-offer__desc">
                  Kvalitný tablet s voliteľnou aplikáciou KIDOZ s jednoduchým ovládaním pre deti.</p>
                <a class="btn cta" href="/detsky-tablet">ZISTIŤ VIAC</a></div>
            </div>
          </div>--> &nbsp;
					<h2 class="velkyNadpis">
						VIANOČNÉ AKCIE</h2>
				<div class="offer-box box-3 col-md-6 hidden">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h3 class="offer__title">
								Notebook od 1 €</h3>
							<p class="offer__desc">
								Kvalitny notebook HP 250 G5 pri objednaní niektorej zo služieb pevnej siete</p>
							<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">OBJEDNAŤ</a></div>
						<div class="right-holder">
							<img alt="" src="../assets/img/offer-nb.jpg" /></div>
					</div>
				</div>
			</div>
			<div class="sub-offer__holder">
				<div class="sub-offer-chris">
					<div class="tabs-container">
						<div class="tab__holder">
							  <!-- TABS MENU -->
							<ul class="tabs-menu">
								<li class="variant current" data-variant="1">
									<a href="#tab-1">Darčeky k Magio internetu</a></li>
								<li class="variant" data-variant="2">
									<a href="#tab-2">Zariadenie od 1 €</a></li>
								<li class="variant" data-variant="3">
									<a href="#tab-3">Bezdrôtová domácnosť</a></li>
							</ul>
						</div>
						<div class="tab">
							<div class="tab-content" id="tab-1">
								<p class="tab-label">
									DARČEKY K MAGIO INTERNETU</p>
								<div class="tab-help">
									<div class="tab-help-sub">
										<div class="tab-help-title">
											<h2>
												Ako získať darčeky k Magio internetu?</h2>
										</div>
										<p>
											1. Vyberte si ľubovolné zariadenie z&nbsp;ponuky vpravo.</p>
										<p>
											2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu. Pre získanie darčekov je nutné objednať si službu Magio internetu minimálne vo verzii L alebo vyššej. Po výbere služieb pokračujte v&nbsp;objednávke.</p>
										<p>
											3. Zadajte Vaše kontaktné údaje a&nbsp;dokončite objednávku. Čo najskôr ju vybavíme a&nbsp;všetko Vám doručíme kuriérom.</p>
									</div>
									<div class="tab-icons">
										<img src="../assets/img/icon1.png" />
										<p>
											EXTRA WEB ZĽAVA</p>
									</div>
									<div class="tab-icons">
										<img src="../assets/img/icon2.png" />
										<p>
											14 DNÍ BEZ ZÁVÄZKOV</p>
									</div>
								</div>
								<div class="tab-acc">
									<div class="tab-acc-sub" data-href="notebook-mobil">
										<div class="tab-img-cont" style="padding-top: 15px;">
											<img src="../assets/img/gift1.png" /> <!-- skryté kvôli legalu<img class="sticker-picture2" src="../assets/img/wording_6.png" />--></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/notebook-mobil">Lenovo IdeaPad 110 + Lenovo Moto C</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/notebook-mobil">&gt;</a></div>
											<div class="tab-ex">
												<p>
													Napr. k Magio internetu XL:</p>
												<p>
													<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Magio internet XL</div>
													<div class="tab-ex-price">
														20,00 €</div>
												</div>
												<div class="tab-web-disc">
													<div class="tab-ex-label">
														<img src="../assets/img/icon5.png" />Web zľava 2, a 3. mesiac</div>
													<div class="tab-ex-price">
														-5,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														13,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														1,04 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
										</div>
									</div>
									<div class="tab-acc-sub" data-href="playstation4-mobil-psplus">
										<div class="tab-img-cont">
											<img src="../assets/img/gift2.png" /> <!-- skryté kvôli legalu<img class="sticker-picture2" src="../assets/img/wording_7.png" />--></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/playstation4-mobil-psplus">Sony PlayStation4 Slim +<br />
												hra a PS Plus na 90 dní+<br />
												Lenovo Moto C</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/playstation4-mobil-psplus">&gt;</a></div>
											<div class="tab-ex">
												<p>
													Napr. k Magio internetu XL:</p>
												<p>
													<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Magio internet XL</div>
													<div class="tab-ex-price">
														20,00 €</div>
												</div>
												<div class="tab-web-disc">
													<div class="tab-ex-label">
														<img src="../assets/img/icon5.png" />Web zľava 2, a 3. mesiac</div>
													<div class="tab-ex-price">
														-5,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														13,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														1,04 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-content" id="tab-2">
								<p class="tab-label">
									ZARIADENIA OD 1€</p>
								<div class="tab-help">
									<div class="tab-help-sub">
										<div class="tab-help-title">
											<h2>
												Ako získať zariadenie od 1 € k Magio internetu?</h2>
										</div>
										<p>
											1. Vyberte si ľubovolné zariadenie z ponuky vpravo.</p>
										<p>
											2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu. Pre získanie zariadení z ponuky od 1€ je nutné objednať si službu Magio internetu minimálne vo verzii L alebo vyššej.</p>
										<p>
											3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko Vám doručíme kuriérom.</p>
									</div>
									<div class="tab-icons">
										<img src="../assets/img/icon1.png" />
										<p>
											EXTRA WEB ZĽAVA</p>
									</div>
									<div class="tab-icons">
										<img src="../assets/img/icon2.png" />
										<p>
											14 DNÍ BEZ ZÁVÄZKOV</p>
									</div>
								</div>
								<div class="tab-acc">
									<div class="tab-acc-sub" data-href="notebook-lenovo-ideapad-110">
										<div class="tab-img-cont" style="padding: 20px;">
											<img src="../assets/img/ntbk_lenovo.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/notebook-lenovo-ideapad-110">Notebook Lenovo<br />
												IdeaPad 110</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/notebook-lenovo-ideapad-110">&gt;</a></div>
											<div class="tab-ex">
												<p>
													Napr. s pevnými službami XL:</p>
												<p>
													<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Pevná služba XL</div>
													<div class="tab-ex-price">
														20,00 €</div>
												</div>
												<div class="tab-web-disc">
													<div class="tab-ex-label">
														<img src="../assets/img/icon5.png" />Web zľava 2. a 3. mesiac</div>
													<div class="tab-ex-price">
														-5,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														9,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														1,00 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
										</div>
									</div>
									<!-- VYPNUTE <div class="tab-acc-sub" data-href="playstation4-hry">
                      <div class="tab-img-cont">
                        <img src="../assets/img/ps4.png" /></div>
                      <div class="tab-acc-cont">
                        <div>
                          <a class="a-title" href="/playstation4-hry">Sony PlayStation 4 Slim<br />
                          + 3 hry a PS Plus na 90 dní</a></div>
                        <div class="a-title-2">
                          <a class="a-title" href="/playstation4-hry">&gt;</a></div>
                        <div class="tab-ex">
                          <p>
                            Napr. s pevnými službami XL:</p>
                          <p>
                            <b>Mesačne</b></p>
                          <div>
                            <div class="tab-ex-label">
                              Pevná služba XL</div>
                            <div class="tab-ex-price">
                              20,00 €</div>
                          </div>
                          <div class="tab-web-disc">
                            <div class="tab-ex-label">
                              <img src="../assets/img/icon5.png" />Web zľava 2, a 3. mesiac</div>
                            <div class="tab-ex-price">
                              -5,00 €</div>
                          </div>
                          <div>
                            <div class="tab-ex-label">
                              Doplatok k službe</div>
                            <div class="tab-ex-price">
                              9,00 €</div>
                          </div>
                          <div>
                            <div class="tab-ex-label">
                              Jednorázovo pri kúpe</div>
                            <div class="tab-ex-price">
                              1,00 €</div>
                          </div>
                        </div>
                        <div class="tab-action">
                          <a class="btn cta" href="/playstation4-hry">Prejsť k nákupu</a></div>
                      </div>
                    </div> -->
									<div class="tab-acc-sub" data-href="lenovo-moto-g5s-plus">
										<div class="tab-img-cont">
											<img class="change-width" src="../assets/img/MotoG5.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/lenovo-moto-g5s-plus">Mobil Lenovo<br>Moto G5s Plus</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/lenovo-moto-g5s-plus">&gt;</a></div>
											<div class="tab-ex">
												<p>
													Napr. s pevnými službami XL:</p>
												<p>
													<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Pevná služba XL</div>
													<div class="tab-ex-price">
														20,00 €</div>
												</div>
												<div class="tab-web-disc">
													<div class="tab-ex-label">
														<img src="../assets/img/icon5.png" />Web zľava 2. a 3. mesiac</div>
													<div class="tab-ex-price">
														-5,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														9,00 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorázovo pri kúpe</div>
													<div class="tab-ex-price">
														1,00 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-content" id="tab-3">
								<p class="tab-label">
									BEZDRÔTOVÁ DOMÁCNOSŤ</p>
								<div class="tab-help">
									<div class="tab-help-sub">
										<div class="tab-help-title">
											<h2>
												Ako získať zariadenia bezdrôtovej domácnosti k Magio internetu?</h2>
										</div>
										<p>
											1. Vyberte si ľubovolné zariadenie z ponuku vpravo.</p>
										<p>
											2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu a získate viac informácií.</p>
										<p>
											3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko Vám doručíme kuriérom.</p>
									</div>
									<div class="tab-icons">
										<img src="../assets/img/icon1.png" />
										<p>
											EXTRA WEB ZĽAVA</p>
									</div>
									<div class="tab-icons">
										<img src="../assets/img/icon2.png" />
										<p>
											14 DNÍ BEZ ZÁVÄZKOV</p>
									</div>
								</div>
								<div class="tab-acc">
									<div class="tab-acc-sub" data-href="sluchadla-mys">
										<div class="tab-img-cont" style="padding: 10px;">
											<img src="../assets/img/hp.png" /> <img class="sticker-picture2" src="../assets/img/wording_4.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/sluchadla-mys">Bezdrôtové slúchadlá s<br />
												mikrofónom + bezdrôtová myš</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/sluchadla-mys">&gt;</a></div>
											<div class="tab-ex">
												<p>
													K ľubovolnej pevnej službe:</p>
													<p>
														<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														0 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorazovo pri kúpe</div>
													<div class="tab-ex-price">
														9,90 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
										</div>
									</div>
									<div class="tab-acc-sub" data-href="glitel-gp-7420">
										<div class="tab-img-cont">
											<img class="change-width" src="../assets/img/glitel7420.jpg" style="max-width: 180px;" /><br />
											<img class="change-width" src="../assets/img/icon3.png" /> <img class="sticker-picture2" src="../assets/img/wording_4.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/glitel-gp-7420">Powerline Extender<br />
												Glitel GP-7420</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/glitel-gp-7420">&gt;</a></div>
											<div class="tab-ex">
												<p>
													K ľubovolnej pevnej službe:</p>
													<p>
														<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														0 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorazovo pri kúpe</div>
													<div class="tab-ex-price">
														9,90 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
										</div>
									</div>
									<div class="tab-acc-sub" data-href="devolo-dlan-550-wifi">
										<div class="tab-img-cont">
											<img class="change-width" src="../assets/img/tplink4220.png" /><br />
											<img class="change-width" src="../assets/img/icon4.png" /> <img class="sticker-picture2" src="../assets/img/wording_5.png" /></div>
										<div class="tab-acc-cont">
											<div>
												<a class="a-title" href="/devolo-dlan-550-wifi">Powerline Wi-Fi Extender<br />
												Devolo dLAN® 550 WiFi</a></div>
											<div class="a-title-2">
												<a class="a-title" href="/devolo-dlan-550-wifi">&gt;</a></div>
											<div class="tab-ex">
												<p>
													K ľubovolnej pevnej službe:</p>
													<p>
														<b>Mesačne</b></p>
												<div>
													<div class="tab-ex-label">
														Doplatok k službe</div>
													<div class="tab-ex-price">
														0 €</div>
												</div>
												<div>
													<div class="tab-ex-label">
														Jednorazovo pri kúpe</div>
													<div class="tab-ex-price">
														19,90 €</div>
												</div>
											</div>
											<div class="tab-action">
												<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
										</div>
									</div>
									<div class="tab-mag-go">
										<h2>
											TELEVÍZIA KDEKOĽVEK</h2>
										<p>
											MAGIO GO TV BOX</p>
										<div class="tab-mag-go-1">
											<img src="../assets/img/magio_box.png" width="100%" /> <img class="sticker-picture" src="../assets/img/wording_3.png" /></div>
										<div class="tab-mag-go-2">
											<a class="btn popup" href="#info-magio-box">VIAC INFO</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dph">
					<p>
						Uvedené ceny sú s DPH</p>
				</div>
				<div id="cont_legal">
					<p class="legal-text">
						PODMIENKY</p>
					<p class="legal-text">
						<strong>Darčeky k Magio internetu: </strong>Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie služby Magio Internet alebo Magio Televízia v programe L alebo XL, s viazanosťou 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 13 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy. Akciová cena zariadení, ktoré sú predávané v danom balíčku, je platná len pri zakúpení daného balíčka ako celku.</p>
					<p class="legal-text">
						<a id="show_legal">Čítať viac</a></p>
					<p class="legal-text" id="legal_more">
						<strong>Zariadenia od 1 €: </strong>Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie služby Televízie, Internetu alebo Hlasovej služby v programe L alebo XL, s viazanosťou 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 9 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy.</p>
				</div>
				<div class="sub-offer so__1" style="display: none;">
					<h5 class="so__title">
						Notebook Lenovo už od 1 €!</h5>
					<p class="so__desc">
						Vezmite si k Magio TV, internetu alebo Pevnej linke 11" notebook Lenovo IdeaPad 100S už od 1 €!</p>
					<a class="link so__link" href="/vianocna-ponuka/notebook-lenovo-ideapad-100-s">Zistiť viac o tejto akcii</a></div>
				<div class="sub-offer so__2" style="display: none;">
					<h5 class="so__title" style="margin-bottom: 20px;">
						Unikátne tablety len za 1 €</h5>
					<!--<p class="so__desc">
                          Získajte špeciálny Tablet na doma alebo Detský tablet len za 1 €!</p>
                      <a class="link so__link sol_ico" href="/vianocna-ponuka/tablet-na-doma"><img alt="" src="/documents/10179/5209263/ico-home.png" />Viac o Tablete na doma</a><br />
            <a class="link so__link sol_ico" href="/vianocna-ponuka/detsky-tablet"><img alt="" src="/documents/10179/5209263/ico-tedy.png" />Viac o Detskom tablete</a></div>
          <div class="sub-offer so__3 offer-box" style="width: 100%;">
            <h5 class="so__title">
              Chcete viac za menej?</h5>
            <p class="so__desc">
              Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
            <a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a></div>--></div>
				<!--<div class="offer__wrapper box-7-outer box-mi">
            <div class="offer-box_no-border box-7">
              &nbsp;</div>
          </div>
          <div class="info-panel">
            <p class="ip-title">
              SÚŤAŽ POKRAČUJE!<br />
              VYHRAJ MAGIO INTERNET NA DVA ROKY ZADARMO!</p>
            <p class="ip-desc">
              Aj <strong>počas októbra</strong> môžeš vyhrať dva roky surfovania zadarmo. Stačí ak si aktivuješ Magio internet M,L alebo XL <strong>cez web</strong>, či už ako samostatnú službu alebo kombináciu viacerých služieb v Chytrom balíku a môžeš ho vyhrať <strong>na dva roky úplne zadarmo.</strong></p>
            <a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže - september 2017</a><br />
            <a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže - október 2017</a><br />
            <a class="cta btn" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Chcem Vyhrať</a></div>-->&nbsp; <!--<div class="offer__wrapper box-7-outer">
            <div class="offer-box_no-border box-7">
              <div class="right-holder">
                <h4 class="offer__title">
                  NOTEBOOK ALEBO PC K MAGIO INTERNETU UŽ OD 1€</h4>
                <p class="offer__desc">
                  Získajte výkonný notebook alebo PC (all-in-one) za výhodnú cenu.</p>
                <a class="cta btn" href="/notebook-pocitac-za-euro">Viac info</a></div>
            </div>
          </div>--><!-- OSTATNÉ AKCIE -->
				<h1 class="akcie_title">
					OSTATNÉ AKCIE</h1>
				<div class="offer-box box-2">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h4 class="offer__title">
								Magio internet security</h4>
							<p class="offer__desc">
								Nedovoľte nikomu prekĺznuť do vášho počítača a ukradnúť vaše súkromné súbory, údaje, fotografie alebo heslá</p>
							<!-- <a class="btn cta" href="/internet/magio-internet-security">viac info</a> -->
							<a class="link so__link" href="/internet/magio-internet-security">Viac info o Magio Internet Security</a>

						</div>
						<div class="right-holder">
							<!-- <img alt="" src="../assets/img/prod-eset.jpg" /> --></div>
					</div>
				</div>
				<div class="offer-box box-8">
					<div class="offer__wrapper">
						<div class="top-holder">
							<!-- <img alt="" src="../assets/img/box-viac-za-menej_2.jpg" /> --></div>
						<div class="bottom-holder text-center">
							<h4 class="offer__title">
								Chcete viac za menej?</h4>
							<p class="offer__desc">
								Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
							<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a></div>
					</div>
				</div>
				<!-- <div class="offer-box box-9">
          <div class="offer__wrapper">
            <div class="top-holder">
            </div>
            <div class="bottom-holder text-center">
              <h4 class="offer__title">
                VYHODNOTENIE SÚŤAŽE<br />
                O MAGIO INTENRET NA DVA ROKY ZADARMO</h4>
              <p class="offer__desc">
                Výhercov v súťaži o Magio internet na dva roky zadarmo nájdete na odkazoch nižšie. Výhercom gratulujeme.</p>
              <a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže a výherca - september 2017</a><br />
              <a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže - október 2017</a><br />
              <a class="cta btn" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Chcem Vyhrať</a>
            </div>
          </div>
      </div> --><!-- OSTATNÉ AKCIE - END --></div>
			<!--<div class="offer__wrapper box-7-outer box-mi">
                  <div class="offer-box_no-border box-7">
                      &nbsp;</div>
              </div>--><!-- <div class="info-panel">
          <p class="ip-title">
            VYHODNOTENIE SÚŤAŽE<br />
            O MAGIO INTENRET NA DVA ROKY ZADARMO</p>
          <p class="ip-desc">
            Výhercov v súťaži o Magio internet na dva roky zadarmo nájdete na odkazoch nižšie. Výhercom gratulujeme.</p>
          <a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže a výherca - september 2017</a><br />
          <a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže - október 2017</a><br />
          <a class="cta btn" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Chcem Vyhrať</a>
        </div> --></div>
	</div>
</section>
<section class="section" id="sec-4">
	<div class="pozadie4">
		<div class="obalka tac">
			<h2 class="velkyNadpis">
				DOPLNKOVÉ SLUŽBY</h2>
			<div class="jedna3">
				<img class="tac" src="../assets/img/srobovak.png" />
				<h3 class="tac">
					Pomoc s inštaláciou</h3>
				<p class="tac">
					Nainštalovať internet si môžete sami, ale naši technici vám radi pomôžu za jednorazový poplatok 19,99 €. V&nbsp;prípade záujmu si službu aktivujte v&nbsp;nákupnom košíku.</p>
			</div>
			<div class="jedna3 stred">
				<img class="tac" src="../assets/img/stit.png" />
				<h3 class="tac">
					Magio Internet Security zadarmo</h3>
				<p class="tac">
					Získajte antivírusovú ochranu až pre päť počítačov zadarmo na prvé 3 mesiace. V&nbsp;prípade záujmu si službu aktivujte v&nbsp;nákupnom košíku.<br />
					<a class="link" href="/internet/magio-internet-security">Viac info</a></p>
			</div>
			<div class="jedna3">
				<img class="tac" src="../assets/img/headset.png" />
				<h3 class="tac">
					Bezplatná nonstop technická podpora</h3>
				<p class="tac">
					<a href="tel:+4210800123777">Na linke 0800 123 777</a></p>
				<p class="tac">
					Alebo nám napíšte e-mailom na <a href="mailto:techgroup@telekom.sk" class="link">techgroup@telekom.sk</a>. Manuály a často kladené otázky nájdete v našej encyklopédii <a href="/wiki" class="link">Wiki</a></p>
			</div>
		</div>
	</div>
</section>
<div class="easy-lightbox" id="info-magio-box">
	<p class="close-end">
		<a>X</a></p>
	<h2>
		<b>Magio GO TV Box</b></h2>
	<div class="lightbox-content">
		<div class="lightbox-content-1">
			<div class="lightbox-content-mob">
				<img src="../assets/img/magio_go_box_mob.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" /></div>
			<div>
				Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte internet.</div>
		</div>
		<div class="lightbox-content-2">
			K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO Premium za 5,99 € | mes.</div>
		<div class="lightbox-content-3">
			<div class="lightbox-icon">
				<img src="../assets/img/icon6.png" /></div>
			<div class="lightbox-3-cont">
				V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
		</div>
	</div>
	<div class="lightbox-img-cont">
		<img src="../assets/img/magio_go_box.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" />
		<div class="tab-ex">
			<p>
				K ľubovolnej pevnej službe:</p>
			<div>
				<div class="tab-ex-label">
					Mesačne</div>
				<div class="tab-ex-price">
					0 €</div>
			</div>
			<div>
				<div class="tab-ex-label">
					Jednorázovo</div>
				<div class="tab-ex-price">
					<span class="strikethrough">69,99 €</span>29,90 €</div>
			</div>
		</div>
	</div>
	<p class="lightbox-action">
		<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
</div>

<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
