<style type="text/css">
</style>
<section id="hero">
	<div>
		<div class="container-fixed">
			<div class="hero__mobile">
				<!-- <img class="icon-ec" id="naj_znacka_m" src="../assets/img/naj_znacka_mobil.png" /> -->
			</div>
			<div class="hero__content">
				<h1 class="hero__title">
					<b>ZRÝCHĽUJEME<br /> MAGIO INTERNET</b>
				</h1>
				<a href="#sec-2" style="margin: 5px 0;" class="btn cta scroll-to">VYBRAŤ MAGIO INTERNET</a></br>
				<a class="scroll-to link" href="/zrychlujeme">Viac o zrýchlení Magio
					internetu</a>
				<img class="icon-ec" src="../assets/img/ec-optika.png" />
			</div>
			<img src="../assets/img/ec-tonajlepsie.png" class="ec-nasim">
		</div>
	</div>
</section>
<div class="sticky-wrapper" id="nav-sticky-sticky-wrapper" style="height: 56px;">
	<div id="nav-sticky">
		<ul>
			<li>
				<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
			<li>
				<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
			<li>
				<a class="scroll-to" href="#sec-4">Aktuálne akcie</a></li>
			<li>
				<a class="scroll-to" href="#sec-5">DOPLNKOVÉ SLUŽBY</a></li>
			<li>
				<a class="scroll-to" href="#wrapper">NAHOR <img alt=" "
						src="https://www.telekom.sk/documents/10179/521661/arrow-top.png" /></a></li>
		</ul>
	</div>
</div>
<section id="sec-1">
	<div class="container-fixed clearfix">
		<div class="row">
			<h2 class="velkyNadpis">VÝHODY MAGIO INTERNETU NA DOMA</h2>
			<div class="col-md-3 tooltip0">
				<img class="tac" src="../assets/img/icon-wifi.png" />
				<h3 class="tac">
					<b>Spoľahlivý internet bez výpadkov</b></h3>
				<p class="tac">
					Surfujte doma cez overenú sieť bez výpadkov, naraz aj na počítači, notebooku, telefóne alebo tablete
					cez bezdrôtovú Wi-Fi sieť alebo kábel.</p>
			</div>
			<div class="col-md-3">
				<img class="tac" src="../assets/img/icon-infinity.png" />
				<h3 class="tac">
					<b>Surfujte bez obmedzení</b></h3>
				<p class="tac">
					Využívajte Magio internet podľa svojich predstáv. Je ideálny pre časté a intenzívne surfovanie bez
					časových a dátových obmedzení.</p>
			</div>
			<div class="col-md-3">
				<img class="tac" src="../assets/img/icon-firstbadge.png" />
				<h3 class="tac">
					<b>Najdôveryhodnejšia značka</b></h3>
				<p class="tac">
					Magio internet a TV sú víťazmi Ankety o najdôveryhodnejšiu značku v oblasti poskytovateľov
					internetových a televíznych služieb za rok 2018, ktorú robila nezávislá agentúra Nielsen.</p>
			</div>
			<div class="col-md-3">
				<img class="tac" src="../assets/img/icon-map.png" />
				<h3 class="tac">
					<b>Široká dostupnosť</b></h3>
				<p class="tac">
					S Magio internetom získate pripojenie k najmodernejšej optickej sieti, ktorej dostupnosť neustále
					rozširujeme na celom Slovensku.<br />
					<!--a href="#">Overiť dostupnosť</a-->
				</p>
			</div>
		</div>
	</div>
</section>
<section id="sec-2">
	<div class="container-fixed clearfix">
		<div class="row">
			<h2 class="velkyNadpis">SLUŽBY A CENY MAGIO INTERNETU</h2>
			<p class="tac">Magio internet sa dá objednať v Chytrom balíku samostatne alebo za výhodnejšiu cenu <a
					class="modryOdkaz" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl&amp;linka=xl">s
					televíziou a/alebo Pevnou linkou už od 1 €</a></p>
			<div class="col-md-4 col-sm-12 col-xs-12 tac">
				<div class="internet-wrapper">
					<h3 class="tac">Magio internet M</h3>
					<hr />
					<h5 class="tac">
						<a class="tooltip1 no-href">Rýchlosť do 30/3 M<span class="malepismo">b/s</span></a></h5>
					<br />
					<p class="tac">Bez časových a dátových obmedzení</p>
					<br />
					<p class="tac">Stabilné a superrýchle pripojenie všetkých zariadení cez Wi-Fi alebo kábel</p>
					<br />
					<hr />
					<h5 class="tac">10,90 € / mesačne</h5>
					<br />
					<a class="tac tooltip2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=m">s
						televíziou a/alebo Pevnou linkou<br />
						získate výhodnejšiu cenu</a><br />
					<br />
					<br />
					<a class="btn cta" href="/internet/magio-internet/mam-zaujem">VYBRAŤ</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 tac">
				<div class="internet-wrapper">
					<h3 class="tac">Magio internet L</h3>
					<hr />
					<h5 class="tac">
						<a class="tooltip3 no-href">Rýchlosť do 120/12 M<span class="malepismo">b/s</span></a></h5>
					<br />
					<p class="tac">Bez časových a dátových obmedzení</p>
					<br />
					<p class="tac">Stabilné a superrýchle pripojenie všetkých zariadení cez Wi-Fi alebo kábel</p>
					<br />
					<hr />
					<h5 class="tac">15,90 € / mesačne</h5>
					<br />
					<a class="tac tooltip2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=l">s
						televíziou a/alebo Pevnou linkou<br />
						získate výhodnejšiu cenu</a><br />
					<br />
					<br />
					<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=l">VYBRAŤ</a>
				</div>
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12 tac">
				<div class="internet-wrapper">
					<h3 class="tac">Magio internet XL</h3>
					<hr />
					<h5 class="tac">
						<a class="tooltip4 no-href">Rýchlosť do 600/60 M<span class="malepismo">b/s</span></a>
					</h5>
					<br />
					<p class="tac">Bez časových a dátových obmedzení</p>
					<br />
					<p class="tac">Stabilné a superrýchle pripojenie všetkých zariadení cez Wi-Fi alebo kábel</p>
					<br />
					<hr />
					<h5 class="tac">20,90 € / mesačne</h5>
					<br />
					<a class="tac tooltip2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=xl">s
						televíziou a/alebo Pevnou linkou<br />
						získate výhodnejšiu cenu</a><br />
					<br />
					<br />
					<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=xl">VYBRAŤ</a>
				</div>
			</div>
			<p class="tac">Všetky uvedené ceny sú vrátane DPH.</p>
			<br />
			<div id="cmb__holder">&nbsp;</div>
		</div>
	</div>
</section>
<section class="section" id="sec-3">
	<div class="container-fixed clearfix">
		<h2 class="velkyNadpis">
			EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
		<div class="col-md-4">
			<img class="tac" src="../assets/img/ico-discount.png" />
			<p class="tac">
				<strong>Extra web zľava 10 €</strong><br />
				pri kúpe Magio internetu cez web</p>
		</div>
		<div class="col-md-4">
			<img class="tac" src="../assets/img/ico-cal.png" />
			<p class="tac">
				<strong>Prvých 14 dní bez záväzkov</strong><br />
				pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
		</div>
		<div class="col-md-4">
			<img class="tac" src="../assets/img/ico-car.png" />
			<p class="tac">
				<strong>Doručenie kuriérom</strong><br />
				zásielku vám doručíme kuriérom kdekoľvek v rámci Slovenska</p>
		</div>
	</div>
	</div>
	</div>
</section>
<section class="section sec-akcie" id="sec-4">
	<!-- load from aktualne-akcie.html -->
</section>
<section class="section" id="ostatne-akcie">
	<div class="container-fixed clearfix">
		<div class="row">
			<!-- OSTATNÉ AKCIE -->
			<h1 class="akcie_title">
				OSTATNÉ AKCIE</h1>
			<div class="offer-box zrychlujeme">
				<div class="offer__wrapper">
					<div class="left-holder">
						<h4 class="offer__title">
							Zrýchľujeme Magio internet</h4>
						<p class="offer__desc">
							<b>Zrýchľujeme pre vás Magio internet, a na optike až 2-násobne. Len tak, automaticky
								a&nbsp;
								bezplatne!</b> Zrýchľujeme od <b>26. 9.</b> postupne po celom Slovensku, všade kde je to
							možné.
							Rýchlosť zvýšime existujúcim aj novým zákazníkom s Magio Internetom M, L alebo XL. Zvýšenie
							rýchlosti nastane pri metalickej VDSL aj optickej technológii.

						</p>
						<a class="link" href="/zrychlujeme" target="_blank">Pozrieť viac o zrýchlení</a><br>
						<a class="btn cta scroll-to" style="margin-top: 15px" href="#sec-2">VYBRAŤ MAGIO INTERNET</a>

					</div>
					<div class="right-holder">
						<img alt="" src="../assets/img/ec-optika.png" />
					</div>
				</div>
			</div>
			<div class="offer-box box-1">
				<div class="offer__wrapper">
					<div class="left-holder">
						<h4 class="offer__title">
							Doplnková služba Giga</h4>
						<p class="offer__desc">
							Magio internet nebol nikdy rýchlejší. Získajte rýchlosť pripojenia až do 1 Gbit/s
							s&nbsp;Doplnkovou službou Giga. Len za 5 eur mesačne bez viazanosti k Magio internetu XL.
						</p>
						<!-- <a class="btn cta" href="/internet/magio-internet-security">viac info</a> -->
						<a class="link" href="/doplnkova-sluzba-giga" target="_blank">Zistiť viac</a>

					</div>
					<div class="right-holder">
						<!-- <img alt="" src="../assets/img/prod-eset.jpg" /> -->
					</div>
				</div>
			</div>
			<div class="offer-box box-2">
				<div class="offer__wrapper">
					<div class="left-holder">
						<h4 class="offer__title">
							Magio internet security</h4>
						<p class="offer__desc">
							Nedovoľte nikomu prekĺznuť do vášho počítača a ukradnúť vaše súkromné súbory, údaje,
							fotografie alebo heslá</p>
						<!-- <a class="btn cta" href="/internet/magio-internet-security">viac info</a> -->
						<a class="link" href="/internet/magio-internet-security">Viac info o Magio Internet Security</a>

					</div>
					<div class="right-holder">
						<!-- <img alt="" src="../assets/img/prod-eset.jpg" /> -->
					</div>
				</div>
			</div>
			<div class="offer-box box-8">
				<div class="offer__wrapper">
					<div class="top-holder">
						<!-- <img alt="" src="../assets/img/box-viac-za-menej_2.jpg" /> -->
					</div>
					<div class="bottom-holder text-center">
						<h4 class="offer__title">
							Chcete viac za menej?</h4>
						<p class="offer__desc">
							Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate
							výhody vyššej služby.</p>
						<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a>
					</div>
				</div>
			</div>
			<!-- <div class="offer-box box-9">
						<div class="offer__wrapper">
							<div class="top-holder">
							</div>
							<div class="bottom-holder text-center">
								<h4 class="offer__title">
									VYHODNOTENIE SÚŤAŽE<br />
									O MAGIO INTENRET NA DVA ROKY ZADARMO</h4>
								<p class="offer__desc">
									Výhercov v súťaži o Magio internet na dva roky zadarmo nájdete na odkazoch nižšie. Výhercom gratulujeme.</p>
								<a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže a výherca - september 2017</a><br />
								<a href="https://www.telekom.sk/wiki/internet/sutaz-o-magio-internet-na-dva-roky-zadarmo">Štatút súťaže - október 2017</a><br />
								<a class="cta btn" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Chcem Vyhrať</a>
							</div>
						</div>
				</div> -->
			<!-- OSTATNÉ AKCIE - END -->
		</div>
	</div>
</section>
<section class="section" id="sec-5">
	<h2 class="velkyNadpis">DOPLNKOVÉ SLUŽBY</h2>
	<div class="container-fixed">
		<div class="row">
			<div class="services-wrapper col-md-4">
				<img class="tac" src="../assets/img/srobovak.png" />
				<h3 class="tac">
					Pomoc s inštaláciou</h3>
				<p class="tac">
					Nainštalovať internet si môžete sami, ale naši technici vám radi pomôžu za jednorazový poplatok
					19,99 €. V&nbsp;prípade záujmu si službu aktivujte v&nbsp;nákupnom košíku.</p>
			</div>
			<div class="services-wrapper col-md-4">
				<img class="tac" src="../assets/img/stit.png" />
				<h3 class="tac">
					Magio Internet Security zadarmo</h3>
				<p class="tac">
					Získajte antivírusovú ochranu až pre päť počítačov zadarmo na prvé 3 mesiace. V&nbsp;prípade záujmu
					si službu aktivujte v&nbsp;nákupnom košíku.<br />
					<a class="link" href="/internet/magio-internet-security">Viac info</a></p>
			</div>
			<div class="services-wrapper col-md-4">
				<img class="tac" src="../assets/img/headset.png" />
				<h3 class="tac">
					Bezplatná nonstop technická podpora</h3>
				<p class="tac">
					<a href="tel:+4210800123777">Na linke 0800 123 777</a></p>
				<p class="tac">
					Alebo nám napíšte cez <a class="link item__link"
						href="/kontakt/napiste-nam?p_p_id=faqCategories_WAR_portlets&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_pos=1&p_p_col_count=3&_faqCategories_WAR_portlets_render=getFaqItemsByCategory&_faqCategories_WAR_portlets_categoryId=780&_faqCategories_WAR_portlets_subCategoryId=2821&subCategoryId=2821">kontaktný
						formulár</a>. Manuály a často kladené otázky nájdete v našej encyklopédii <a href="/wiki"
						class="link">Wiki</a></p>
			</div>
		</div>
	</div>
</section>
<div class="easy-lightbox" id="info-magio-box">
	<p class="close-end">
		<a>X</a></p>
	<h2>
		<b>Magio GO TV Box</b></h2>
	<div class="lightbox-content">
		<div class="lightbox-content-1">
			<div class="lightbox-content-mob">
				<img src="../assets/img/magio_go_box_mob.png" /> <img class="sticker-picture"
					src="../assets/img/wording_8.png" /></div>
			<div>
				Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom
				televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte
				internet.</div>
		</div>
		<div class="lightbox-content-2">
			K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO
			Premium za 5,99 € | mes.</div>
		<div class="lightbox-content-3">
			<div class="lightbox-icon">
				<img src="../assets/img/icon6.png" /></div>
			<div class="lightbox-3-cont">
				V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
		</div>
	</div>
	<div class="lightbox-img-cont">
		<img src="../assets/img/magio_go_box.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" />
		<div class="tab-ex">
			<p>
				K ľubovolnej pevnej službe:</p>
			<div>
				<div class="tab-ex-label">
					Mesačne</div>
				<div class="tab-ex-price">
					0 €</div>
			</div>
			<div>
				<div class="tab-ex-label">
					Jednorázovo</div>
				<div class="tab-ex-price">
					<span class="strikethrough">69,99 €</span>29,90 €</div>
			</div>
		</div>
	</div>
	<p class="lightbox-action">
		<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
</div>

<script type="text/javascript" src="../assets/js/main.js?v=1"></script>