/* ===============
   CSS FOR MICROSITE
   =============== */

.magenta {
    color: $magenta !important;
}

/* hero bg img */
#sec-1 {
    min-height: 330px;
}

/* content */
#sec-2 {
    .content {
        background-color: #fff;
        margin: -300px auto 40px auto;
        box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
        // @media screen and (max-width: 940px) {
        //   margin: -300px 0px 40px 0px;
        // }

        h1 {
            font-size: 34px;
        }

        @media screen and (max-width: 543px) {
            margin: -20% 0px 40px 0px;
        }

        .gdpr {
            margin-top: 20px;
            font-size: 15px;

            a {
                font-size: 15px;
            }
        }

        .required-desc {
            margin-top: 20px;
            padding-bottom: 20px;
            font-size: 15px;
            color: #dc3545;
            font-weight: 500;
        }

        .required {
            color: #dc3545;
            font-weight: 700;
        }

        .textwrapper {
            padding-left: 43px;
            padding-right: 43px;

            @media screen and (max-width: 767px) {
                padding: 50px 40px;
            }

            .text {
                font-size: 21px;
                margin-top: 0;
                @media screen and (max-width: 767px) {
                    font-size: 16px;
                }
            }

            .spacer {
                margin-bottom: 5px;
                display: block;
                font-size: 21px;
            }

            .notice {
                margin-bottom: 20px;
                color: #6c6c6c;
                font-size: 17px;
                line-height: normal;
            }
        }
    }
}

/* contact form */
.contact-form-wrapper {
    padding-top: 20px;
    margin: 0 auto;

    #userName {
        width: 330px;
    }

    .phoneNum, .usercode {
        padding-top: 20px;
    }

    .checker {
        height: 30px;
        margin-right: 5px;

        span {
            background-color: #fff !important;
        }
    }

    .checkb {
        margin: 0;
        margin-top: 20px;

        #termscheck {
            cursor: pointer;
        }

        label {
            padding-top: 6px;
            cursor: pointer;
            font-size: 15px;
            display: inline-block;

            a {
                font-size: 14px !important;
            }
        }
    }

    .sendfrm {
        width: 230px;
        text-align: center;
    }

    #send, #send-code {
        border: 1px solid #4d8319 !important;
        padding: 0 !important;
    }

    #send-code {
        margin-top: 20px;

        &.disabled {
            pointer-events: none;
            border-color: #DFDFDF !important;
            background-color: #DFDFDF !important;
            box-shadow: none;
            color: #9F9F9F !important;
            cursor: default;
        }
    }

    ul.parsley-errors-list {
        margin: 0 !important;
        padding-top: 5px;
        font-size: 14px;
        color: #dc3545;
    }

    input.parsley-error, input.parsley-error:focus, textarea.parsley-error, textarea.parsley-error:focus {
        box-shadow: none !important;
        border-color: #dc3545 !important;
    }

    .parsley-error div.checker span:before {
        border-color: #dc3545 !important;
    }

    span.parsley-error {
        border-color: #dc3545 !important;
    }

    #otp-error {
        font-size: 16px;
        color: #dc3545;
        padding-top: 15px;
    }

    #otp-info {
        font-size: 16px;
        padding-top: 15px;
    }

}

#activated {
    h3 {
        color: #4b4b4b;
    }
}

#customer-error {
    display: none;
    padding-top: 10px;
    font-size: 17px;
    color: #dc3545;

    a {
        font-size: 17px;
    }
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
}
