/* ===============
   CSS FOR MICROSITE
   =============== */
   
/* HERO SECTION */

#hero {
    background: url(../img/iphone-x_predpredaj_940_0918-V2-HERO.jpg) no-repeat 50% 50%;
    padding: 190px 2%;
    overflow: hidden;
    background-size: cover;
    height: 600px;
    & .hero__desc {
        //font-size: 24px;
        margin-bottom: 20px;
    }
}

.hero__content {
    text-align: center;
    max-width: 480px;
}

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {
    #hero {
        background: url(../img/iphone-x_predpredaj_768_0918-V2-HERO.jpg) no-repeat 50% 50%;
        height: 420px;
        padding: 100px 2%;
        .hero__content {
            text-align: center;
            max-width: 360px;
            & .hero__title {
                font-size: 34px;
            }
        }        
    }    
}
@media screen and (max-width: 480px) {
    #hero {
        background: url(../img/iphone-x_predpredaj_480_0918-V2-HERO.jpg) no-repeat 50% 50%;
        background-color: #000;
        background-size: 100%;
        height: 600px;
        padding: 30px 2%;
        .hero__content {
            text-align: center;
            max-width: 100%;
        }        
    }    
}
@media screen and (max-width: 450px) { #hero {height: 550px;}}
@media screen and (max-width: 420px) {
    #hero {
        padding: 10px 2%;
        height: 520px;
        .hero__content {
            & .hero__title {
                font-size: 24px;
            }
            & .hero__desc {
                font-size: 14px;        
            }
        }
    }
}
@media screen and (max-width: 390px) { #hero {height: 480px;}}
@media screen and (max-width: 360px) { 
    #hero {
        height: 410px;
        .hero__content {
            & .hero__title {
                font-size: 22px;
                margin-bottom: 0;
            }
            & .hero__desc {
                font-size: 12px;        
                margin-top: 0;
                margin-bottom: 5px;
            }
        }
    }
}