<section id="sec-aktualneAkcie" class="section sec-aktualneAkcie">
    <div class="fixed-column">
        <h2 class="section__title">AKTUÁLNE AKCIE k MAGIO TV, INTERNETU a PEVNEJ LINKE</h2>
        <div class="box__sales box_full box_flex">
            <div class="box__imgHolder">
                <img src="../assets/img/prod-1.png" alt="Samsung LED TV" class="box__img">
            </div>
            <div class="box_txtHolder">
                <p class="box__title">FULL HD LED TELEVÍZOR Samsung od 6 € mesačne</p>
                <p class="box__desc">alebo Xbox One s revolučnou technológiou Kineckt či notebook Lenovo IdeaPad v nadštandardnom prevedení!</p>
                <a href="/magio-tv-akcia/samsung-40" class="button box__btn">VIAC INFO</a>
            </div>
        </div>
        <div class="box__sales box_small">
            <p class="box__title">VYUŽITE 100 % zľavU na faktúru za jeden mesiac</p>
            <a href="/odporucte-zakaznika" class="box__link box__moreInfo">Viac info</a>
        </div>
        <div class="box__sales box_large">

            <div class="box__item box__col3">
                <a href="/tablet-na-doma">
                    <img src="../assets/img/prod-2.png" alt="Tablet na doma" class="box__img">
                </a>
                <br />
                <a href="/tablet-na-doma" class="box__moreInfo">Viac info</a>
            </div>
            <div class="box__item box__col3">
                <a href="/detskytablet">
                    <img src="../assets/img/prod-3.png" alt="Tablet detský" class="box__img">
                </a>
                <br />
                <a href="/detskytablet" class="box__moreInfo">Viac info</a>
            </div>
            <div class="box__col3">
                <p class="box__title">TABLETY HUAWEI UŽ od 1 €!</p>
            </div>
        </div>
        <div class="box__sales box_full">
            <a href="/viac-za-menej" class="rightGreenLink">ZÍSKAJTE VYŠŠIU SLUŽBU ZA CENU NIŽŠEJ <img src="../assets/img/ico-roundArrow.png" alt="Arrow" class="img__arrowCirlcle"></a>
        </div>

    </div>
</section>