/* ===============
   CSS FOR MICROSITE
   =============== */

/* GLOBALS */

.section {
  padding: 80px 0 60px 0;
}

#content .sec__title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 430px) {
  #content .sec__title {
    font-size: 28px;
  }
}

#hero a.blue-link {
  text-decoration: underline;
  font-size: 18px;
}

#content a.blue-link {
  text-decoration: underline;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}


/* HERO */

#hero {
  background: url(../img/magenta-kv.jpg) no-repeat 50% 50%;
  background-size: cover;
  padding: 80px 0;
}

#content .hero__title {
  font-size: 38px;
  text-align: left;
  color: #fff;
}

#content .hero__title h1 {
}

#content .hero__title b {
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  #hero {
    background-position: 34% 50%;
  }
}

/* SEC-1 */

.how-to {
  text-align: center;
  margin-right: 2%;
  position: relative;
}

/*.how-to:nth-of-type(2):before,
.how-to:nth-of-type(2):after {
    content: '';
    background: url(../img/ico-arrow.png) no-repeat;
    width: 63px;
    height: 47px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -27px;
}*/

.how-to:nth-of-type(2):after {
  left: auto;
  right: -16px;
}

.how-to:last-of-type {
  margin-right: 0;
}

#content .how-to__title {
  font-size: 20px;
  color: $magenta;
  margin-bottom: 0;
}

#content .how-to__desc {
  margin-top: 0;
}

.how-to-links {
  text-align: center;
}

#content .how-to-links a {
  display: inline-block;
}

#content .how-to-links .link {
  margin-top: 10px;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .how-to:nth-of-type(2):before,
  .how-to:nth-of-type(2):after {
    display: none;
  }
  #content .how-to {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

/* SEC-2 */

/*
.sec-app {
    background: url(../img/bg-app.jpg) no-repeat 50% 50%;
    padding: 40px 0 50px 0;
}
*/

/* SEC-3 */

.sec-3 {
  padding: 20px 0 100px 0;
  font-size: 16px;
  // background: url(../img/magenta1_middle_background.png) no-repeat 50% 30%;
}

.white-box {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border: 1px solid #d4d4d4;
}

.blank-box {
  display: inline-block;
  width: 100%;
}

.ziskaj {
  padding-bottom: 10px;
}

.desc {
  color: #a4a4a4;
  padding-bottom: 20px;
}

#sec-3 a.gray {
  color: #a4a4a4;
  //text-decoration: underline;
}

#sec-3 .white-box .image {
  text-align: center;
}

.left {
  padding-top: 20px;
  vertical-align: bottom;
}

.right {
  //padding-bottom: 40px;
}

.sec-3-header {
  padding-top: 30px;
  padding-bottom: 10px;
}

#sec-3 .sec-3-header h2 {
  text-align: center;
}

#sec-3 .right h2 {
  color: #262626;
  text-align: left;
}

#sec-3 h3 {
  color: #262626;
  text-align: left;
}

.vyhody-box, .ceny-box {
  padding-top: 10px;
}

.vyhody-link {
  padding-top: 10px;
}

.vyhody-body {
  color: #4b4b4b;
}

#sec-3 .vyhody-body a.gray {
  color: #4b4b4b;
}

.ceny-1 {
  padding-bottom: 10px;
}

.page .vyhody-body p {
  margin: 5px 0;
}

.page .vyhody-body p img {
  padding-right: 10px;
}

.vyhody, .ceny {
  padding: 0 30px 30px 30px;
}

#wrapper .button_gray {
  background-color: #ededed;
  border: 1px solid #b2b2b2;
  color: #363636;
}

.ceny-button {
  padding-top: 30px;
}

#zasady-tooltip {
}

.tooltip-left .qtip-content {
  text-align: left;
}

.lightbox-area {
  display: none;
}

.lightbox {
  width: 50%;
}

@media screen and (max-width: 1052px) {

  .sec-3 {
    padding-top: 50px;
  }

}

@media screen and (max-width: 992px) {
  #sec-3 .button_lima {
    margin-bottom: 20px;
  }

  .sec-3 {
    padding-bottom: 0;
  }

}

@media screen and (max-width: 960px) {
  .sec-3 {
    background: none;
    background-color: #fff;
  }
}

@media screen and (max-width: 768px) {
  .ceny-box {
    margin-top: 20px;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border: 1px solid #d4d4d4;
  }
}

@media screen and (max-width: 600px) {

  #sec-3 .white-box .image img {
    width: 100%;
  }

}

/* SEC-4 */

.faq {
  padding: 35px;
  border: 1px solid #e6e6e6;
}

.faq__img {
  max-width: 125px;
  width: 100%;
}

#content .faq__maintitle {
  color: $magenta;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0;
}

.faq__item {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.faq__item:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#content .faq__title,
#content .faq__desc {
  margin: 0;
}

#content .faq__title {
  color: #007faf;
  text-decoration: underline;
}

#content .faq__desc_red {
  color: #c61818;
}

#content ul.faq__list {
  list-style: square;
  margin: 0 0 0 50px;
}

#content ul.faq__list li {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  #content .faq .grid-g__col_2 {
    display: none;
  }

  #content .faq .grid-g__col_10 {
    width: 100%;
  }
}

#neobmedzene-data h2 {
  color: #e20074;
  text-align: center;
  font-size: 20px;
  font-weight:bold;
}

#neobmedzene-data .postup {
  padding-bottom: 10px;
}

#neobmedzene-data .moznosti {
  padding-bottom: 10px;
}

#neobmedzene-data .zavriet {
  padding-top: 20px;
  text-align: center;
}

#neobmedzene-data {
  margin-top: 40px;
}

#neobmedzene-data hr {
  background-color: #d0d0d0;
}

#neobmedzene-data .magenta {
  color: #e20074;
}

.fancybox-opened .fancybox-skin {
  border-radius: 3px;
}

.fancybox-opened .fancybox-inner {
  height: auto;
}

body .fancybox-wrap {
  border: 0;
  border-radius: 3px;
}

.fancybox-overlay {
  background-image: url(../img/fancybox_overlay.png)!important;

}

body .fancybox-wrap .fancybox-close {
  top: 20px; right: 20px; width: 16px; height: 16px;
}

body .fancybox-wrap .zavriet .fancybox-close {
  position: relative;
}

#magenta1-1 {
  display: none;
}

.waterbear-theme #neobmedzene-data select {
  display: block!important;
  font-size: 16px;
}
