/* ===============
   CSS FOR MENU
   =============== */

#content #magenta-menu,
#content #magenta-menu ul {
    margin: 0;
    background: #4b4b4b;
	
}
#magenta-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
#magenta-menu li {
    display: block;
    position: relative;
    float: left;
}
#magenta-menu ul li {
    width: 100%;
    background: #4b4b4b;
}

/* This hides the dropdowns */

#magenta-menu li ul {
    display: none;
}
#magenta-menu li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
}
#magenta-menu li a:hover {
    background: #262626;
}

/* Display the dropdown */

#content .magentaMenu_open {
    display: block;
    position: absolute;
}
#content #magenta-menu ul ul {
    position: relative;
}
#content .magentaMenu_active {
    background: #262626;
}

/* Simple clearfix */

#magenta-menu:before,
#magenta-menu:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
#magenta-menu:after {
    clear: both;
}
