<section id="hero">
    <div class="container">
        <div class="hero__mobile">
            <!-- img -->
        </div>
        <div class="hero__content">
            <h1 class="hero__title">
                <p> <b>ZRÝCHĽUJEME</b></p>
                <p> <b>MAGIO INTERNET</b></p>

            </h1>
            <img class="hero-ec" src="../assets/img/ec-optika.png" alt="">
            <a class="button button_lima" href="/internet/magio-internet"><span>VYBRAŤ SI MAGIO INTERNET</span> </a>
            <br />
            <a href="#sec-1" class="link link_bright scroll-to">Viac info o zrýchľovaní
                <!-- <img src="../assets/img/ico-arrow-down.png" alt=""> -->
            </a>
        </div>
        <img class="hero-ec-tonajlepsie" src="../assets/img/ec-tonajlepsie.png" alt="">
    </div>
</section>

<section class="section sec-1" id="sec-1">
    <div class="container-fixed">
        <h2 class="sec__title text-center">ZRÝCHĽUJEME VŠADE, KDE JE TO MOŽNÉ</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-4 text-center item">
                <img src="../assets/img/map.png" alt="map">
                <p class="headline"><b>Postupne po celom Slovensku</b></p>
                <p class="text"><span class="magenta">Od 26.9 zrýchľujeme Magio Internet postupne po celom
                        Slovensku,</span> všade
                    kde je to technicky možné.</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center item">
                <img src="../assets/img/notebook.png" alt="map">
                <p class="headline"><b>Automaticky a bezplatne</b></p>
                <p class="text">Magio Internet zrýchľujeme pre vás. Len tak, automaticky a zadarmo.</p>
            </div>
            <div class="col-xs-12 col-sm-4 text-center item">
                <img src="../assets/img/speed.png" alt="map">
                <p class="headline"><b>Až 2x rýchlejšie</b></p>
                <p class="text">Rýchlosť Magio Internetu zvyšujeme pri optickej technológii až 2-násobne!</p>
            </div>
        </div>
    </div>
</section>

<section class="section default speedcircles" data-segment="1">
    <div class="container-fixed">
        <h2 class="sec__title text-center">POZRITE SI NOVÚ RÝCHLOSŤ</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-container">
                    <div class="tab__holder">
                        <!-- TABS MENU -->
                        <ul class="tabs-menu">
                            <li class="variant current" data-variant="1">
                                <a href="#optic">Optika</a></li>
                            <li class="variant" data-variant="2">
                                <a href="#vdsl">VDSL</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab">
                        <!-- Tab 1 -->
                        <div class="tab-content clearfix" id="optic" style="display: block;">
                            <div class="tab-box">
                                <div class="tab-box__content">
                                    <div class="col-xs-12 col-md-12 text-center">
                                        <div class="col-group speeds optic">
                                            <!-- speed circles -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div class="tab-content clearfix" id="vdsl">
                            <div class="tab-box">
                                <div class="tab-box__content">
                                    <div class="col-xs-12 col-md-12 text-center">
                                        <div class="col-group speeds vdsl">
                                            <!-- speed circles -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" data-accordion="1">
                        <!-- Accordion Data -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section default mapssection stripe" data-segment="2">
    <h2 class="sec__title text-center">KEDY ZRÝCHĽUJEME MAGIO INTERNET U VÁS DOMA?</h2>
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-container">
                    <div class="tab__holder">
                        <!-- TABS MENU -->
                        <ul class="tabs-menu">
                            <li class="variant current" data-variant="1">
                                <a href="#opticspeed">Optika</a></li>
                            <li class="variant" data-variant="2">
                                <a href="#vdslspeed">VDSL</a>
                            </li>
                        </ul>
                    </div>

                    <div class="tab">
                        <!-- Tab 1 -->
                        <div class="tab-content clearfix" id="opticspeed" style="display: block;">
                            <div class="tab-box">
                                <div class="tab-box__content">
                                    <div class="col-xs-12 text-center">
                                        <!-- optic map -->
                                        <div class="col-xs-12" id="mapoptic"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div class="tab-content clearfix" id="vdslspeed">
                            <div class="tab-box">
                                <div class="tab-box__content">
                                    <div class="text-center">
                                        <!-- vdsl map -->
                                        <div id="mapvdsl"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" data-accordion="2">
                        <!-- Accordion Data -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="faq">
    <h2 class="sec__title text-center">ČASTÉ OTÁZKY</h2>
    <div class="container-fixed">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 column">

                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Aké budú nové rýchlosti internetového pripojenia ?<span
                            class="arrow-right arrow-rotate"></span></a>
                    <div class="arrow-content" style="display: block;">Nové maximálne rýchlosti sťahovania a odosielania
                        dát nájdete nižšie. Pre programy Magio Internet L, Magenta Office Internet Premium 1 a Standard
                        1 na VDSL technológii zostáva stále možnosť objednať si zvýšenie rýchlosti upstreamu.
                        <table class="speed-table">
                            <tr>
                                <th class="tg-uzvj">Technológia</th>
                                <th class="tg-uzvj">Program</th>
                                <th class="tg-9wq8"><span style="font-weight:bold">Súčasná rýchlosť</span><br>(Mbit/s)
                                    Rýchlosť sťahovania / Rýchlosť odosielania
                                </th>
                                <th class="tg-9wq8"><span class="magenta" style="font-weight:bold">Nová
                                        rýchlosť</span><br>(Mbit/s) Rýchlosť sťahovania / Rýchlosť odosielania</th>
                            </tr>
                            <tr>
                                <td class="tg-uzvj" rowspan="6">VDSL</td>
                                <td class="tg-c3ow">Magio Internet M</td>
                                <td class="tg-c3ow">8/1</td>
                                <td class="tg-7btt magenta">10/1</td>
                            </tr>
                            <tr>
                                <td class="tg-c3ow">Magio Internet L</td>
                                <td class="tg-c3ow">30/3</td>
                                <td class="tg-7btt magenta">40/4</td>
                            </tr>
                            <tr>
                                <td class="tg-c3ow">Magio Internet XL</td>
                                <td class="tg-c3ow">80/8</td>
                                <td class="tg-7btt magenta">90/9</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Office Internet Mini</td>
                                <td class="tg-baqh">8/1</td>
                                <td class="tg-amwm magenta">10/1</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Magenta Office Internet Premium 1/Standard 1</td>
                                <td class="tg-baqh">30/3</td>
                                <td class="tg-amwm magenta">40/4</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Magenta Office Internet Premium 2/Standard 2</td>
                                <td class="tg-baqh">80/8</td>
                                <td class="tg-amwm magenta">90/9</td>
                            </tr>
                            <tr>
                                <td class="tg-nrix" rowspan="6"><span style="font-weight:bold">OPTIKA</span></td>
                                <td class="tg-baqh">Magio Internet M</td>
                                <td class="tg-baqh">15/1</td>
                                <td class="tg-amwm magenta">30/3</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Magio Internet L</td>
                                <td class="tg-baqh">60/6</td>
                                <td class="tg-amwm magenta">120/12</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Magio Internet XL</td>
                                <td class="tg-baqh">300/3</td>
                                <td class="tg-amwm magenta">600/60</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Magenta Office Internet Mini</td>
                                <td class="tg-baqh">20/2</td>
                                <td class="tg-amwm magenta">30/3</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Magenta Office Internet Premium 1/Standard 1</td>
                                <td class="tg-baqh">60/6</td>
                                <td class="tg-amwm magenta">120/12</td>
                            </tr>
                            <tr>
                                <td class="tg-baqh">Magenta Office Internet Premium 2/Standard 2</td>
                                <td class="tg-baqh">300/30</td>
                                <td class="tg-amwm magenta">600/60</td>
                            </tr>
                        </table>
                        <p class="table-legal">
                            Poznámka: Pri programoch sú uvádzané negarantované maximálne rýchlosti, ktoré závisia od
                            pokrytia a aktuálnych možností siete.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 column">
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Bude sa zvyšovať rýchlosť novým aj existujúcim zákazníkom?<span
                            class="arrow-right"></span></a>
                    <div class="arrow-content">Zvýšenie rýchlosti nastane rovnako u nových aj
                        existujúcich zákazníkoch, ktorí využívajú službu Magio Internet alebo Magenta Office Internet na
                        technológií GPON alebo VDSL. Každý nový zákazník, ktorý si aktivuje internetovú službu od 26.
                        septembra 2019 bude mať už automaticky nové zvýšené rýchlosti okamžite po vybavení objednávky
                        (teda aj v prípade, že zvyšovanie rýchlosti v jeho lokalite ešte neprebehlo). Existujúcim
                        zákazníkom sa bude zvyšovať rýchlosť postupne po oblastiach v 4 plánovaných vlnách. Každá vlna
                        bude trvať 1 týždeň. Zákazník môže očakávať zvýšenú rýchlosť až po skončení danej vlny, pokiaľ
                        to umožňuje kapacity linky.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Kedy sa začne zvyšovanie rýchlostí a ako dlho bude trvať ?<span
                            class="arrow-right"></span></a>
                    <div class="arrow-content">Zmena rýchlostí internetových programov bude
                        realizovaná pre zákazníkov, ktorí majú jeden z programov Magio Internet M, L alebo XL a Magenta
                        Office Internet Premium alebo Standard na metalickej technológii VDSL alebo optickej technológii
                        GPON. Od 26. septembra 2019 budú postupne na celom Slovensku aplikované nové maximálne rýchlosti
                        sťahovania a odosielania dát, pričom celý proces by mal trvať 1 mesiac. Vlastné zvyšovanie
                        rýchlostí v jednotlivých lokalitách prebehne počas 1 týždňa.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Bude zvyšovanie rýchlosti realizované na všetkých internetových
                        prístupoch, technológiách?<span class="arrow-right"></span></a>
                    <div class="arrow-content">Zvýšenie rýchlosti sa bude týkať metalickej
                        technológie VDSL a optickej technológie GPON pre programy Magio Internet a Magenta Office
                        Internet. Pre programy na metalickej technológii ADSL a optickej technológii Active Ethernet
                        nebudú rýchlosti menené.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Príde mi dodatočne na podpis aj nejaký dokument o zvýšení rýchlosti
                        na mojom internete?<span class="arrow-right"></span></a>
                    <div class="arrow-content">Nie, nakoľko ide o skvalitnenie parametrov
                        služby. V tomto prípade sa zmena len oznamuje, napr. formou SMS.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Prebehne zvyšovanie rýchlosti aj na viazaných produktoch? Ako áno,
                        prebehne hneď alebo až po ukončení viazanosti?<span class="arrow-right"></span></a>
                    <div class="arrow-content">Áno, zvyšovanie rýchlosti nastane na viazaných aj neviazaných produktoch
                        programov Magio Internet a Magenta Office Internet.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Nedôjde pri zvyšovaní rýchlosti k zvýšeniu ceny produktov?<span
                            class="arrow-right"></span></a>
                    <div class="arrow-content">Zvýšenie rýchlosti nastane automaticky u všetkých, ktorých sa to týka,
                        bez zmeny viazanosti, zmluvných podmienok a ceny.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Ako si môžem zmerať aktuálnu rýchlosť internetového
                        pripojenia?<span class="arrow-right"></span></a>
                    <div class="arrow-content">Pre zmeranie rýchlosti vášho internetového pripojenia odporúčame
                        postupovať podľa informácií na stránke <a href="https://www.telekom.sk/wiki/internet/speedmeter"
                            target="_blank">www.telekom.sk/wiki/internet/speedmeter</a>. Sú tam
                        uvedené všetky potrebné informácie na objektívne zmeranie rýchlosti internetového pripojenia.
                    </div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Mám starší internetový program (Turbo, Optik, Firemný internet).
                        Zvýši sa aj rýchlosť môjho pripojenia?<span class="arrow-right"></span></a>
                    <div class="arrow-content">Nie, rýchlosť pripojenia sa bude zvyšovať len u programov Magio Internet
                        a Magenta Office Internet na metalickej technológii VDSL a optickej technológii GPON. Preto vám
                        odporúčame využiť našu aktuálnu ponuku a zmeniť si internetový program.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Ako zistím, že moja rýchlosť Internetu už bola navýšená?<span
                            class="arrow-right"></span></a>
                    <div class="arrow-content">Priebeh zvyšovania rýchlostí môžete sledovať na samostatnej podstránke
                        <a href="https://www.telekom.sk/zrychlujeme" target="_blank">www.telekom.sk/zrychlujeme</a>. Je
                        tam zobrazený plán
                        zvyšovania rýchlostí podľa regiónov a podľa
                        technológií. </div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Bude potrebné pre dosiahnutie zvýšenej rýchlosti niečo z mojej
                        strany urobiť, napr. reštartovať router?<span class="arrow-right"></span></a>
                    <div class="arrow-content">Nie, zvyšovanie rýchlosti prebehne automaticky a nebude potrebný žiadny
                        zásah z vašej strany.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Bude počas zvyšovania rýchlosti výpadok internetu?<span
                            class="arrow-right"></span></a>
                    <div class="arrow-content">Môže dôjsť ku krátkodobému výpadku vášho internetového prístupu do 1
                        minúty, výnimočne do 5 minút. Ak výpadok zaznamenáte, vyčkajte prosím na automatickú
                        synchronizáciu vášho modemu alebo routra.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Zvyšovanie rýchlosti v mojej lokalite už prebehlo a mne úplne
                        prestala fungovať služba alebo sa rýchlosť znížila, ako postupovať?<span
                            class="arrow-right"></span></a>
                    <div class="arrow-content">V takomto prípade nás kontaktujte telefonicky na čísle <a
                            href="tel:0800123777">0800 123 777</a> alebo prostredníctvom formulára na stránke <a
                            href="/kontakt/napiste-nam/" target="_blank">https://www.telekom.sk/kontakt/napiste-nam/</a>
                        (bytoví zákazníci) alebo na čísle
                        <a href="tel:0800123369">0800 123 369</a> (firemní zákazníci), kde
                        preveríme možnosti Vášho pripojenia. Pre účely komunikácie si pripravte kód adresáta, ktorý
                        nájdete na faktúre.</div>
                </div>
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Internet mám zakúpený od iného poskytovateľa služieb, vzťahuje sa
                        zvyšovanie rýchlosti aj na mňa? <span class="arrow-right"></span></a>
                    <div class="arrow-content">Pre viac informácií kontaktujte, prosím, zákaznícku linku vášho
                        poskytovateľa služieb.</div>
                </div>

                <p>Nenašli ste odpoveď na vaše otázky? Chcete nám nechať spätnú väzbu? <a href="/kontakt/napiste-nam"
                        class="link" target="_blank">Napíšte nám.</a></p>

                <div class="more-info">
                    <p>Viac informácií o zrýchlení Magio Internetu nájdete vo Wiki</p>
                    <a href="/wiki/internet/zrychlujeme-2019" target="_blank" class="btn">VIAC O ZRÝCHLENÍ VO WIKI</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="informations" class="section informations">
    <div class="container-fixed">
        <div class="mbi">
            <h2 class="sec__title">MOHLO BY VÁS ZAUJÍMAŤ</h2>

            <div class="col-group">
                <div class="col-xs-12 col-sm-4 mbi__item">
                    <img src="../assets/img/wifi.png" alt="">
                    <p class="mbi__title">Spoľahlivý a bezpečný</p>
                    <p class="mbi__desc">S Magio Internetom na doma surfujte bez výpadkov naraz na počítači, notebooku,
                        telefóne alebo tablete cez bezpečnú bezdrôtovú Wi-Fi sieť alebo kábel.</p>
                </div>
                <div class="col-xs-12 col-sm-4 mbi__item">
                    <img src="../assets/img/infinity.png" alt="">
                    <p class="mbi__title">Neobmedzený</p>
                    <p class="mbi__desc">Magio Internet na doma nemá žiadne časové ani dátové obmedzenia a je ideálny
                        pre časté a intenzívne využívanie.</p>
                </div>
                <div class="col-xs-12 col-sm-4 mbi__item">
                    <img src="../assets/img/map.png" alt="">
                    <p class="mbi__title">Široká dostupnosť</p>
                    <p class="mbi__desc">Surfujte doma cez najmodernejšiu optickú sieť, ktorej dostupnosť neustále
                        rozširujeme. Získate tak prístup k superrýchlemu Magio Internetu.</p>
                </div>
            </div>

            <div class="col-group">
                <div class="grid-g__col_12">
                    <a class="button button_lima btn_border" href="/internet/magio-internet"><span>VYBRAŤ SI MAGIO
                            INTERNET</span> </a>
                </div>
            </div>
        </div>
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="../assets/js/svk.js"></script>
<script src="../assets/js/circle-progress.js"></script>
<script src="../assets/js/circles.js"></script>
<script src="../assets/js/maps_svk.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>