<section class="background">
    <div id="hero-samsung">
        <div class="container">
            <div class="col-xs-12">
                <div class="logo">
                    <img src="../assets/img/samsung-logo-predpredaj.png" class="screen"> 
                    <img src="../assets/img/samsung-logo-tablet.png" class="tablet">
                    <img src="../assets/img/samsung-logo-mobil.png" class="mobile">
                </div>
                <div class="separator"></div>
                <h1 class="title">Nezmeškajte spustenie predpredaja!</h1>
                <p class="subtitle">O spustení predpredaja vás budeme včas informovať SMS správou. Nechajte nám na seba kontakt.</p>
            </div>
        <a href="https://www.telekom.sk/predpredaj/samsung-galaxy-s10/mam-zaujem" class="btn-preorder">Zanechať kontakt</a>
    </div>
</div>

</section>


<div class="topbtn"><button onclick="topFunction()" id="myBtn" title="Nahor"><img src="../assets/img/arrow-top.png"></button></div>



<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript">
$(document).ready(function() {});
</script>
<script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }
        
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;    
        }
        </script>