/* ajax loading overlay */
 #ajaxLoadingSpinnerOverlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10000000000000000;
    background: url(/theme/stwbmain/images/style/transparentWhite.png) repeat;
  }
  #ajaxLoadingSpinnerOverlay .ajaxLoadingSpinnerOverlay-container {
    background-color: #fff;
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -140px;
    position: absolute;
    top: 50%;
    width: 280px;
  }
  #ajaxLoadingSpinnerOverlay .ajaxLoadingSpinnerOverlay-container .square {
    background-color: transparent;
    height: 40px;
    position: absolute;
    top: 30px;
    width: 40px;
    -webkit-animation: pulse 1200ms infinite;
    animation: pulse 1200ms infinite;
  }
  #ajaxLoadingSpinnerOverlay
    .ajaxLoadingSpinnerOverlay-container
    .square.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  #ajaxLoadingSpinnerOverlay
    .ajaxLoadingSpinnerOverlay-container
    .square.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  #ajaxLoadingSpinnerOverlay
    .ajaxLoadingSpinnerOverlay-container
    .square.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  #ajaxLoadingSpinnerOverlay
    .ajaxLoadingSpinnerOverlay-container
    .square.animated.pulse.infinite {
    animation-duration: 1.3s !important;
    -webkit-animation-duration: 1.3s !important;
  }
  #ajaxLoadingSpinnerOverlay .ajaxLoadingSpinnerOverlay-container .square.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }
  #ajaxLoadingSpinnerOverlay .ajaxLoadingSpinnerOverlay-container .square.first {
    left: 30px;
  }
  #ajaxLoadingSpinnerOverlay .ajaxLoadingSpinnerOverlay-container .square.second {
    left: 120px;
  }
  #ajaxLoadingSpinnerOverlay .ajaxLoadingSpinnerOverlay-container .square.third {
    left: 210px;
  }
  #ajaxLoadingSpinnerOverlay
    .ajaxLoadingSpinnerOverlay-container
    .square.first.animated.pulse.infinite {
    animation-delay: 0;
    -webkit-animation-delay: 0;
  }
  #ajaxLoadingSpinnerOverlay
    .ajaxLoadingSpinnerOverlay-container
    .square.second.animated.pulse.infinite {
    animation-delay: 0.25s !important;
    -webkit-animation-delay: 0.25s !important;
  }
  #ajaxLoadingSpinnerOverlay
    .ajaxLoadingSpinnerOverlay-container
    .square.third.animated.pulse.infinite {
    animation-delay: 0.5s !important;
    -webkit-animation-delay: 0.5s !important;
  }
  #ajaxLoadingSpinnerOverlay .ajaxLoadingSpinnerOverlay-container .square:after {
    background-color: #e20074;
    content: "";
    display: block;
    height: 40px;
    width: 40px;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    25% {
      -webkit-transform: scale(1.3, 1.3);
      transform: scale(1.3, 1.3);
    }
    70% {
      -webkit-transform: scale(1, 1);
      transform: scale3d(1, 1);
    }
  }

  @keyframes pulse {
    0% {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    30% {
      -webkit-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
    }
    70% {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }