/* bottom row with buttons*/
#section-shoppingScenario {
  .bottomRow-nextPrevious {
    border-top: 1px solid #ccc;
    padding: 20px 0;
    margin: 20px 12px;
    .btn {
      text-align: center;
      cursor: pointer;
    }
    .prev {
      float: left;
    }
    .next {
      float: right;
    }
    /* stepSummary form button */
    button[type="submit"].cta {
      height: auto;
      line-height: inherit;
      float: right;
      border: 1px solid #58951c !important;
    }
    button[type="submit"].cta:hover {
      transform: scale(1.0);
      background-color: #58951c;
      border: 1px solid #4d8319;
    }
  }
}
