/* shopping cart section */
#section-shoppingScenario {
  .cartTop {
    margin-bottom: 15px;
  }
  .cart {
    margin: 0 10px;
    @media screen and (max-width: 768px) {
      margin: 0;
    }
    .cartHead {
      border: 1px solid #ccc;
      padding: 1% 3%;
      width: 100%;
      display: block;
      background-color: rgba(237, 237, 237, 1);
      text-align: initial;
      cursor: pointer;
      p {
        display: inline-block;
      }
      i {
        float: right;
        font-size: 32px;
        padding: 3px 10px 3px 0px;
      }
    }
    .cartContent {
      border-top: 0px;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 2% 3%;
      @media screen and (max-width: 543px) {
        display: none;
      }
      .cartProgram,
      .cartDevice,
      .cartFee,
      .cartBottom {
        padding: 2% 3%;
        width: 100%;
        display: inline-block;
        @media screen and (max-width: 768px) {
          padding: 2% 0;
        }
      }
      .left {
        width: 60%;
        display: inline-block;
        text-align: left;
        @media screen and (max-width: 768px) {
          width: 68%;
        }
        .magenta {
          color: rgb(226, 0, 116);
        }
        a {
          text-decoration: underline;
          & i {
            margin-right: 5px;
          }
        }
      }
      .right {
        width: 37%;
        display: inline-block;
        text-align: right;
        vertical-align: top;
        @media screen and (max-width: 768px) {
          width: 30%;
        }
      }
      p {
        margin: 0px;
      }
      .cartDevice {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .left {
          .green {
            color: #6bb324 !important;
            font-weight: 600;
          }
        }
        .right {
          vertical-align: bottom;
          .green {
            color: #6bb324 !important;
            font-weight: 600;
          }
          .price:first-child {
            vertical-align: top !important;
          }
        }
      }
      .cartFee {
        border-bottom: 1px solid #ccc;
      }
    }
  }
}
