/*Odsadenie filtra hw catalog*/
@media screen and (max-width: 960px) {
	#catalogue-filter-items-paging .filter {
		margin: 35px auto;
	}
}

#section-shoppingScenario.stepHwCatalog {
	/* product nadpis fix */
	.catalogue .products li h3 {
		text-decoration: underline;
	}
	.catalogue .products li h3 a {
		font-size: 24px;
	}
}
