/* all stepps globals */
#section-shoppingScenario.stepActivation,
#section-shoppingScenario.stepHwCatalog,
#section-shoppingScenario.stepDelivery,
#section-shoppingScenario.stepPersonalInfo,
#section-shoppingScenario.stepSummary {

  h2.sec__title {
    margin: 0;
  }

  .flex-row {
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    margin: 3% 0;
    @media screen and (max-width: 543px) {
      flex-direction: column;
      max-width: 100%;
      overflow: hidden;
    }
    .order1 {
      @media screen and (max-width: 543px) {
        text-align: center;
        order: 1;
      }
    }
    .order2 {
      text-align: right;
      @media screen and (max-width: 543px) {
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }

  div.radio {
    vertical-align: middle;
    display: flex;
    margin-bottom: 5px;
    & label {
      margin-left: 10px;
    }
  }

  input[type="button"].disabled,
  .btn.disabled {
    background-color: #d7d7d7;
    border-color: #cdcdcd !important;
    //border: none !important;
    color: #fff;
    cursor: default;
    &:hover {
      border: 1px solid #d7d7d7 ;
    }
  }

  .mt20 {
      margin-top: 20px; 
  }

  .magenta {
    color: #e20074;
  }

  /* TOGGLE ARROW */
  .togleArrow {
    margin: 10px 0;
    a.toggle-arrow {
      color: #007faf;
      text-decoration: none;
      & .arrow-right {
        content: '';
        display: inline-block;
        margin-right: 5px;
        width: 0;
        height: 0;
        margin-left: 5px;
        vertical-align: baseline;
        border-style: solid;
        border-width: 4.5px 0 4.5px 6px;
        border-color: transparent transparent transparent #007faf;
        transition: all 300ms;
      }
      &:hover, &:hover span.arrow-right {
        color: #00668d;
        text-decoration: none;
        border-color: transparent transparent transparent #00668d;
      }
    }
    .arrow-content {
      display: none;
    }
    .arrow-content.show {
      display: block;
    }
    .arrow-rotate {
      transform: rotate(90deg);
    }
  }
  /* TOGGLE ARROW END */

  /* hide arrow right on "next" btn */
  .fa-angle-right {
    display: none;
}

}