  /****************************************/
  /* POPUP */
  /****************************************/
  #content {
    .fancybox-wrap {
      border: 0;
      & .fancybox-skin {
        background-color: #fff;
        border-radius: 11px;
        & .fancybox-outer {
          & .fancybox-inner {
            & .p-head {
                display: block;
                height: 40px;
                border-bottom: 1px solid #d0d0d0;
                margin-bottom: 10px;
                & .p-close {
                  background: none;
                  position: absolute;
                  right: 10px;
                  top: 11px;
                  a.close-btn {
                    position: relative;
                    display: inline-block;
                    width: 17px;
                    height: 17px;
                    overflow: hidden;
                    float: right;
                    transition: all 100ms linear;
                    &::before {
                      content: '';
                      position: absolute;
                      height: 2px;
                      width: 100%;
                      top: 48%;
                      left: 0;
                      background: #000;
                      transform: rotate(45deg);
                      height: 1px;
                    }
                    &::after {
                      content: '';
                      position: absolute;
                      height: 2px;
                      width: 100%;
                      top: 48%;
                      left: 0;
                      background: #000;
                      transform: rotate(-45deg);
                      height: 1px;
                    }
                  }
                }
            }
            & .p-content {
              & .popup-lightbox {
                font-size: 1.3em;
                text-align: center;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;
                color: #e20074;
                & p {
                  font-size: 18px;
                  margin: 0;
                  color: black;
                }
                & a.btn {
                  margin-top: 15px;
                }
              }
            }
          }
        }
      }
      & .fancybox-opened .fancybox-skin {
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
      }
    }
  }
  /* POPUP END */