#section-shoppingScenario .vasSection {
    margin-bottom: 20px;
    h3 {
      margin-bottom: 0px;
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
    }
    .shoppingScenario-list-option h3 {
      display: none;
    }
    form {
      margin: 20px 0;
    }
    table.setProductParameter-product-price-table {
      font-size: 18px;
    }
    .setProductParameter-product-price-table {
      margin: 0px;
      color: inherit;
      font-size: inherit;
    }
    .single-vas {
      margin-bottom: 3px;
    }
    .hw-voucher-for-happy-container .setProductParameter-info-tooltip {
      float: right;
      font-size: 18px;
      a {
        color: white;
      }
    }
    .setProductParameter-checkbox {
      position: relative;
      display: block;
      width: auto;
      margin-bottom: 1px;
      background-color: #ededed;
      padding: 20px;
      > label {
        display: block;
        padding-left: 45px;
        > .wrapper {
          display: inline-block;
          width: 100%;
          > .heading .setProductParameter-product-name {
            font-weight: 500;
            display: inline-block;
          }
          .setProductParameter-product-name {
            display: block;
          }
        }
        .checker {
          margin-left: -45px;
          margin-right: 10px;
          display: inline-block;
        }
      }
      i {
        float: right;
        margin-right: 15px;
      }
    }
    .setProductParameter-product-name {
      line-height: 18px;
      margin: 0;
      font-size: 18px;
      cursor: pointer;
      &.productNameMagenta {
        color: #e20074;
      }
    }
    .setProductParameter-product-price {
      display: inline-block;
      color: #e20074;
      float: right;
      margin-right: 1px;
      margin-top: 0px;
      font-size: 20px;
    }
    
    .setProductParameter-product-price-table td {
        padding: 0 0.25em 0 0;
        white-space: nowrap;
        &:nth-child(2n + 1) {
          text-align: right;
        }
      }
      .productName-title {
        color: #7c7c7c;
        span {
          color: #e20074;
        }
      }
      .setProductParameter-product-icon {
        background: transparent url("../../../stwbmain/images/stwb/product/step-2-icon-fixed.png") no-repeat;
        height: 42px;
        width: 45px;
        display: inline-block;
        margin-bottom: 1px;
        float: left;
        &.MOBILE_TARIFF, &.MOBILE_HW {
          background: transparent url("../../../stwbmain/images/stwb/product/step-2-icon-mobile.png") no-repeat;
        }
        &.TELEVISION {
          background: transparent url("../../../stwbmain/images/stwb/product/step-2-icon-tv.png") no-repeat;
        }
        &.INTERNET {
          background: transparent url("../../../stwbmain/images/stwb/product/step-2-icon-inet.png") no-repeat;
        }
      }
      .productName-base {
        color: #7c7c7c;
        display: inline-block;
      }
      .productName-sizeLetter {
        display: inline-block;
      }
      .setProductParameter-product-name-container h3 {
        margin-top: 20px;
        margin-bottom: 15px;
        span {
          margin-right: 20px;
        }
      }
      .product-list {
        height: 218px;
        overflow: visible;
        padding: 0 20px;
      }
      .shoppingScenario-list {
        &:last-of-type {
          padding-bottom: 20px;
        }
        .shoppingScenario-list-option {
          margin: 0 0 1px 0;
          padding: 0px;
          overflow: hidden;
        }
      }
      .shoppingScenario-list-option {
        .shoppingScenario-list-option {
          padding: 0;
        }
        .grid-wrapper {
          margin-bottom: 0px;
        }
      }
      .tooltip_step2 {
        right: 0px;
      }
      .setProductParameter-checkbox {
        a.tooltip {
          position: absolute;
          text-decoration: none;
        }
        &.setProductParameter-checkedDropdown {
          .setProductParameter-product-price {
            display: none;
            &.selected {
              display: block;
            }
          }
          .setProductParameter-checkedDropdown-checkbox {
            width: 220px;
            display: block;
            float: left;
          }
          .setProductParameter-checkedDropdown-dropdown {
            width: 190px;
            display: block;
            float: left;
          }
        }
      }
      .hw-voucher-for-happy-container {
        padding: 10px 10px 10px 65px;
        background-color: #218076;
        color: white;
        position: relative;
        font-size: 36px;
        margin-bottom: 10px;
        .icon {
          position: absolute;
          left: 10px;
          top: 13px;
        }
      }
      .grid-wrapper.insuranceAddon .grid-col-lg, .setProductParemeters-list-option .grid-wrapper .grid-col-lg.mobile-hw-addon {
        width: 100%;
        .setProductParameter-checkbox {
          width: 100%;
        }
      }
      .grid-wrapper.insuranceAddon .grid-col-lg .setProductParameter-product-name {
        margin-top: 0;
        margin-right: 0;
      }
      .shoppingScenario-list-option.setProductParemeters-list-option h3 {
        color: #4b4b4b;
      }
      .setProductParemeters-list-option {
        .setProductParameter-checkedDropdown-checkbox.MOBILE_ADDON_INTERNET_RECHARGE {
          width: 200px;
        }
        .setProductParameter-checkedDropdown-dropdown.MOBILE_ADDON_INTERNET_RECHARGE {
          width: 130px;
          padding-right: 70px;
        }
      }
      .setProductParameter-checkedDropdown-dropdown {
        padding-right: 20px;
      }
      div.setProductParameter-product-price-special-offer {
        text-align: right;
        font-size: 24px;
        line-height: 120%;
        position: relative;
        top: 6px;
        float: right;
      }
      .shoppingScenario-list .shoppingScenario-list-option.setProductParemeters-list-option {
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
      div.setProductParameter-product-price-special-offer span {
        display: block;
        &:first-child {
          font-size: 36px;
          color: rgb(226, 0, 116);
        }
      }
      .setProductParameters-special-offer {
        .shoppingScenario-list-option .grid-wrapper {
          margin-top: 80px;
          margin-bottom: 0px;
        }
        .setProductParameter-radio {
          width: auto;
          padding-right: 50px;
          margin-bottom: 0px;
          > label {
            display: inline-block;
          }
        }
        h3 {
          float: left;
        }
        .setProductParameter-product-name {
          line-height: 34px;
        }
      }
      .setProductParameter-info-modal-toggler {
        cursor: pointer;
        margin-left: 5px;
      }
      .setProductParameters-special-offer-modal-window {
        box-sizing: border-box;
        min-width: 500px;
        padding: 30px 30px 20px 35px;
        h4 {
          float: left;
          font-size: 28px;
        }
        div.setProductParameter-product-price-special-offer span {
          font-size: 28px;
        }
      }
      .special-offer-modal-table-wrapper {
        margin-top: 55px;
        border-top: 1px solid #a4a4a4;
        table td {
          vertical-align: top;
          max-width: 340px;
          min-width: 160px;
          padding: 0 10px 0 0;
        }
        span {
          &.magenta-highlited-text {
            color: #e20074;
          }
          &.dimmed-down-text {
            color: #a4a4a4;
          }
          &.table-section-header {
            display: inline-block;
            padding: 20px 0 0 0;
          }
        }
      }
      .setProductParameter-product-icon.SPECIAL_OFFER_ADDON {
        background: transparent url("") no-repeat;
        box-sizing: border-box;
        padding: 0 0 0 8px;
        margin-top: -2px;
      }
      div.modalWindowInfoContent {
        font-size: 18px;
        div.fix-phones {
          .detail-lightbox {
            display: none;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
          }
          .detail-header {
            font-weight: bolder;
            font-size: 32px;
            padding: 10px 0;
          }
          .detail-img {
            float: left;
            display: inline-block;
            padding-right: 30px;
          }
          .detail-text {
            display: inline-block;
            vertical-align: top;
            padding-left: 19px;
            border-left: 1px solid #ededed;
          }
          .detail-cena {
            font-weight: bold;
            font-size: 32px;
            .price-small {
              font-size: 22px;
            }
          }
          .detail-vlastnost {
            text-transform: uppercase;
            font-weight: bold;
          }
          .section_top_EC {
            position: absolute;
            left: 0;
            top: -20px;
          }
          .magenta {
            color: #e20074;
          }
          .list-square > li:before {
            color: #6c6c6c;
          }
        }
      }
      .setProductParameter-checkbox .padd-left45 {
        display: block;
      }
      .topLabel {
        padding: 0 10px 5px 0px;
        width: auto;
        display: inline-block;
        font-size: 38px;
      }
      .padd-left45 {
        padding-left: 45px;
      }
  }
  
  @media screen and (min-width: 543px) {
    #section-shoppingScenario .vasSection .wrapper {
        .product-prices {
            float: right;
            position: absolute;
            right: 10px;
            top: 15px;
        }
        .heading {
            display: inline-block;
        }
    }
  }
  
  @media screen and (max-width: 485px) {
    #section-shoppingScenario .vasSection .setProductParameter-product-price {
      float: none;
    }
  }
  
  @media screen and (-webkit-max-device-pixel-ratio: 1.5) and (max-width: 800px) {
    #section-shoppingScenario .vasSection .shoppingScenario-list .shoppingScenario-list-option.setProductParemeters-list-option .grid-wrapper {
      width: auto;
      margin-left: 0%;
      margin-right: 0%;
    }
  }
  
  @media screen and (max-width: 800px) {
    #section-shoppingScenario .vasSection {
      .setProductParameter-product-name-container {
        > h3 {
          width: 100%;
        }
        div.float-right {
          width: 100%;
          box-sizing: border-box;
          float: none;
          padding-left: 65px;
          > h3 {
            margin-top: 0;
          }
        }
        > h3 {
          margin-bottom: 0;
        }
      }
      .setProductParameter-checkbox {
        //width: 360px;
        i {
          float: right;
          margin-right: -15px;
        }
      }
      .setProductParameter-radio i {
        float: right;
        margin-right: -15px;
      }
      
      /* special offer */
      div.setProductParameter-product-price-special-offer {
        text-align: left;
        float: none;
      }
      .setProductParameters-special-offer-modal-window div.setProductParameter-product-price-special-offer {
        text-align: right;
        float: right;
      }
      .setProductParameters-special-offer {
        h3 {
          float: none;
          margin-bottom: 5px;
        }
        .shoppingScenario-list-option .grid-wrapper {
          margin-top: 20px;
        }
        .setProductParameter-radio {
          padding-right: 0px;
        }
        .grid-wrapper {
          margin-right: 1px;
        }
      }
    }
  }
  
  /** special offer modal window */
  @media screen and (max-width: 600px) {
    #section-shoppingScenario .vasSection {
      .setProductParameters-special-offer-modal-window {
        min-width: 350px;
        padding: 25px 15px;
        h4 {
          max-width: 150px;
        }
      }
      .special-offer-modal-table-wrapper {
        margin-top: 75px;
      }
    }
  }
  
  @media screen and (max-width: 960px) {
    #section-shoppingScenario .vasSection .modal.always-grey-border .fancybox-skin {
      background: #6c6c6c;
    }
  }
  
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 800px) {
    #section-shoppingScenario .vasSection .shoppingScenario-list-option.setProductParemeters-list-option div.grid-wrapper {
      margin-right: 0%;
      margin-left: 0%;
      width: 100%;
      overflow: hidden;
    }
  }