/* ===============
   CSS FOR MICROSITE
   =============== */


div.stvorcek{
   background-color: #e20074;
   width: 115px;
   margin-left: 3%;
   margin-top: 3%;
   height: 120px;
   text-align:center;
   padding: 5px;
   float:left;
   box-shadow: 4px 4px 4px #6C6C6C;
   -moz-box-shadow: 4px 4px 4px #6C6C6C;
   -webkit-box-shadow: 4px 4px 4px #6C6C6C;
}

div.stvorcek p{
  color: #FFF;
  margin: 0 auto;
  width:100%;
  font-weight: bold;
}

div.stvorcek img{
  margin-top: 3px;
  margin-bottom: 4px; 
}