/* ===============
   CSS FOR MICROSITE
   =============== */
   
/* HERO SECTION */

#hero {
    background: url(../img/vianoce.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    & .hero__content {
        text-align: center;
        width: 100%;
        & .hero__title {
            color: $magenta;
        }
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/vianoce2.jpg) no-repeat 50% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 0 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
    }

    #content .hero__title {
        font-size: 46px;
    }

    #hero .btn {
        margin-top: 60px;
    }
}
@media screen and (max-width: 350px) {
    #content .hero__title {
        font-size: 42px;
    }
}

#content {
    & .is-sticky {
        & > div {
            -webkit-box-shadow: -2px 10px 17px -14px rgba(0,0,0,0.75);
            -moz-box-shadow: -2px 10px 17px -14px rgba(0,0,0,0.75);
            box-shadow: -2px 10px 17px -14px rgba(0,0,0,0.75);
            left: 0;
            width: 100%;
            max-width: 100% !important;
        }
    }
    & .only-mobile {
        display: none;
        @media screen and (max-width: 480px) {
            display: block;
        }
    }
    & .ico-kur {
        display: none;
    }
    & .m-b-0 {
        margin-bottom: 0;
    }
    & .old-price {
        text-decoration: line-through;
    }    
    & .section {
        padding: 40px 0;
        &.sec-1 {
            padding-top: 0;
        }
    }
    & .p-title {
        text-align: center;
        padding: 0 26%;
        @media screen and (max-width: 905px) {
            padding: 0 20%;
        }
        @media screen and (max-width: 725px) {
            padding: 0 20px;
        }
    }
    & #nav-sticky-new {
        background-color: #fff;
        z-index: 9999;
        width: 100%;
        max-width: 940px;
        @media screen and (max-width: 960px) {
            & ul {
                margin-left: 0;
            }
        }
    }
    & .select-cont {
        text-align: center;
        padding: 20px 0;
        & .select {
            background-color: #fff;
            display: inline-block;
            padding: 5px 0;
            width: 250px;
            border: solid 1px #ccc;
            text-align: center;
            margin-right: 10px;
            cursor: pointer;
            @media screen and (max-width: 630px) {
                width: 200px;
            }
            @media screen and (max-width: 510px) {
                width: 160px;
            }
            @media screen and (max-width: 440px) {
                margin-top: 8px;
                width: 200px;
            }                        
            &.active {
                border-color: $magenta;
                color: $magenta;
            }
        }
        @media screen and (max-width: 440px) {
            height: 210px;
        }        
    }
    & .actions-cont {
        & .tip {
            background-color: #fff1ce;
            border: solid 1px #dfd1ae;
            padding: 10px;
        }
        & .pos-abs {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        & .pos-abs:not(:first-of-type) {
            top: 80px;
        }
        & .container {
            padding: 0 10px 20px 0;
            border-bottom: solid 1px #ccc;
            margin-bottom: 20px;
            max-width: 320px;
        }
        & .items-cont {
            & > div {
                display: inline-block;
            }
            & .left-cont {
                width: 190px;
                & h2 {
                    font-size: 28px;
                    margin-top: 0;
                }
                & ol {
                    margin: 0;
                    padding: 5px 5px 5px 16px;
                }
                @media screen and (max-width: 960px) {
                    width: 100%;
                    text-align: center;
                }
            }
            & .right-cont {
                vertical-align: top;
                display: inline-block;
                & .column {
                    display: inline-block;
                    width: 350px;
                    text-align: center;
                    padding: 0 10px;
                    border-left: solid 1px #ccc;
                    & .item {
                        cursor: pointer;
                        padding: 30px 20px 30px 20px;
                        border-bottom: solid 1px #ccc;
                        position: relative;
                        & .on-web {
                            color: $magenta;
                            font-size: 21px;
                            margin-bottom: 0;
                        }
                        & .old-price {
                            margin-top: 0;
                            text-decoration: none;
                        }
                        & > img {
                            width: 100%;
                        }
                        & .item-title {
                            color: #262626;
                            font-size: 17px;
                        }
                        & .vypredane-img {
                            position: absolute;
                            top: 10%;
                            left: 10%;
                            width: 80%;
                            z-index: 999;
                        }
                        &.item-vypredane {
                            cursor: default !important; 
                        }
                        & .vypredane {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            opacity: 0.7;
                            filter: alpha(opacity=70);
                        }
                    }
                    & .item.item-disabled {
                        opacity: 0.5;
                        filter:alpha(opacity=50);
                    }                        
                    & .item-1 {
                        padding: 280px 20px 20px 20px;
                        background: url(../img/item1.jpg) no-repeat 50% 0;
                        background-size: 100%;
                        background-color: #ededed;    
                        border-bottom:0;

                        @media screen and (max-width: 480px) {
                            background: none;
                            padding: inherit;
                            background-color: none;
                            padding: 30px 20px 30px 20px;
                            border-bottom: solid 1px #ccc;                            
                        }
                    }
                    & .item-3 {
                        border-bottom: 0;
                     }
                    & .item-4 {
                        //padding-top: 0;
                        @media screen and (max-width: 565px) {
                            padding-top: 30px;
                        }
                    }
                    & .item-5 {
                        //border-bottom: 0;
                    }                    
                    & .item-6 {
                        padding: 220px 20px 20px 20px;
                        background: url(../img/streamon.jpg) no-repeat 50% 0;
                        background-color: #e8ebf3;
                        background-size: 100%;    
                        border-bottom:0;
                        & h2 {
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                        & h3 {
                            margin-top: 0;
                        }
                        & .btn_mag-outline {
                            margin-top: 20px;
                        }
                        // background: url(../img/data_max.jpg) no-repeat 50% 0;
                        // border-bottom:0;
                        // padding: 180px 20px 20px 20px;
                        // background-color: #e8ebf3;
                        // background-size: 100%;
                        // & h2 {
                        //     margin-bottom: 0;
                        //     padding-bottom: 0;
                        //     font-size: 28px;
                        // }
                        // & h3 {
                        //     margin-top: 0;
                        //     font-size: 28px;
                        // }
                        // & .container {
                        //     padding: 0 25px;
                        //     border: none;
                        // }
                        // & .old-price {
                        //     text-decoration: line-through;
                        // }
                    }
                    @media screen and (max-width: 760px) {
                        border-left: 0;
                    }
                    & .item-7 {
                        border-bottom: none;
                    }
                    & .item-8 {
                        margin-top: 10px;
                        //margin-bottom: 100px;
                        background: url(../img/data_max.jpg) no-repeat 50% 0;
                        border-bottom:0;
                        padding: 180px 20px 20px 20px;
                        background-color: #e8ebf3;
                        background-size: 100%;
                        & h2 {
                            margin-bottom: 0;
                            padding-bottom: 0;
                            font-size: 28px;
                        }
                        & h3 {
                            margin-top: 0;
                            font-size: 28px;
                        }
                        & .container {
                            padding: 0 25px;
                            border: none;
                        }
                        & .old-price {
                            text-decoration: line-through;
                        }
                    }
                }
                & .datovy-strop {
                    padding: 10px 10px 0 20px;
                    border-left: solid 1px #ccc;
                    & .ds-cont {
                        background: url(../img/datovy_strop1.jpg) no-repeat 50% 50%;
                        & .ds-text {
                            max-width: 320px;
                            padding: 10px 0 20px 20px;
                            text-align: center;
                            & h2 {
                                font-size: 28px;
                            }
                            @media screen and (max-width: 760px) {
                                max-width: 100%;
                                padding-right: 20px;
                            }
                        }
                        @media screen and (max-width: 760px) {
                            background: url(../img/datovy_strop2.jpg) no-repeat 50% 0%;
                            background-size: 100%;
                            padding-top: 220px;
                            background-color: #e8ebf3;
                        }
                    }
                    @media screen and (max-width: 960px) {
                        width: 700px;
                        border-left: none;
                    }
                    @media screen and (max-width: 760px) {
                        width: 350px;
                        padding: 20px 10px 10px 10px;
                    }
                }
                @media screen and (max-width: 960px) {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    & .column:first-of-type {
                        border-left: 0;
                        & .item-3 {
                            padding-bottom: 20px;
                        }                         
                    }
                }                
            }
            &.cont-1 {                    
                & .item-3 {
                    padding-bottom: 120px !important;
                    //padding-bottom: 156px !important;
                    & img {
                        max-width: 110px;
                    }
                    @media screen and (max-width: 760px) {
                        padding-bottom: 40px !important;
                    }                            
                }
            }
            &.cont-2 {
                & .cta_mag {
                    margin-top: 10px;
                }
                & .item-5 {
                    //padding-bottom: 90px !important;
                }                
            }
        }
    }
}

@media screen and (max-width: 565px) {
    #content {
        & .container {
            border-bottom: 0 !important;
        }
        & .cont-1 .item-5 {
            border-bottom: solid 1px #ccc !important;
        }        
        & .cont-2 .item-3 {
            border-bottom: solid 1px #ccc !important;
        }
        & .how-get-action {
            margin-top: 20px;
        }
      
    }
}
@media screen and (max-width: 590px) {
    & .how-get-action {
        display: none;
    }
}

@media screen and (max-width: 760px) {
    #content {
        & .item-8 {
            margin-bottom: 20px !important;
        }
    }
}

@media screen and (max-width: 960px) {
    #content {
        & .left-cont {
            & h2 {
                margin-top: 40px !important;
            }
        }
        & ol {
            text-align: left;
            font-size: 16px;
        }
        & .how-get-action {
            margin-bottom: 20px;
            & div {
                display: flex;
                justify-content: center;    
            }
        }
    }
}    