<section id="esales_forms" class="section esales_forms">
    <!-- form wrapper -->
    <div class="esales_form">
        <div class="container-fluid p-0">
            <!-- bg img -->
            <div class="esales_form-imgWrapper">
                <!-- img from stylesheet -->
            </div>
        </div>

        <div class="container-fixed">
            <div class="esales_form-wrapper">
                <!-- form main headline -->
                <div class="esales_form-wrapper--headline">
                    <p>Ponuka pre vás</p>
                </div>
                <!-- form body -->
                <form id="esales_form" class="esales_form-wrapper--body">
                    <!-- form sub headline -->
                    <div class="headline">
                        <p>Nechajte nám svoje telefónne číslo. 
                            <br>Zavoláme vám s detailami ponuky.
                        </p>
                    </div>
                    <!-- form inputs -->
                    <div class="form-group">
                        <label class="form-label" for="firstName">Vaše meno?</label>
                        <input id="firstName" class="form-input" type="text" name="firstName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="lastName">Vaše priezvisko?</label>
                        <input id="lastName" class="form-input" type="text" name="lastName" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="email">Váš e-mail?</label>
                        <input id="email" class="form-input" type="email" name="email"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="phoneNum">Telefónne číslo?</label>
                        <input id="phoneNum" class="form-input" type="tel" name="phoneNum"/>
                    </div>
                    <!-- form conditions -->
                    <div class="conditions">
                        <p>
                            Odoslaním formulára súhlasím, aby ma spoločnosť Slovak Telekom, a.s. kontaktovala s
                            detailnou
                            ponukou produktov a služieb, o ktoré som týmto prejavil(a) záujem, a to telefonicky,
                            prípadne
                            SMS alebo MMS na mnou uvedené telefónne číslo. Potvrdzujem, že som používateľom uvedeného
                            telefónneho čísla a mnou poskytnuté údaje nie sú údajmi tretích osôb. Viac informácií o
                            ochrane
                            osobných údajov nájdete tu.
                        </p>
                    </div>
                    <!-- form submit -->
                    <div class="submit">
                        <button id="esales_formSubmitBtn" type="submit" class="btn cta_mag disabled" disabled>Odoslať</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>