/* ===============
   IMPORTS
   =============== */

@import "../../global-assets/sass/style";
@import "aktualne-akcie";

/*@import '_theme';*/
/* =============== HERO  =============== */

/* =============== IMPORTS  =============== */
/* tooltip */
.tooltip .qtip-content {
  text-align: left;
}
.neobmedzene-volania-m,
.neobmedzene-volania-l,
.neobmedzene-volania-xl {
  text-decoration: underline;
}
/* =============== CSS FOR MICROSITE =============== */

#content .sec-aktualneAkcie {
  background-color: #e6e6e6;
  padding: 80px 0 100px 0;
  box-sizing: border-box;
}

#content .sec-aktualneAkcie .section__title {
  color: #e20074;
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin-top: 0;
}

.box__sales {
  background-color: #fff;
  padding: 20px;
  float: left;
}

.box_full {
  width: 100%;
}

.box_flex {
  display: flex;
  align-items: center;
}

.box__imgHolder,
.box_txtHolder {
  width: 50%;
  float: left;
  text-align: center;
}

.box_small,
.box_large {
  min-height: 190px;
}

.box_small {
  margin: 1% 1% 1% 0;
  width: 30%;
}

.box_large {
  margin: 1% 0 1% 0;
  width: 69%;
}

.box__img {
  width: 100%;
}

.box_full .box__img {
  max-width: 381px;
}

.box_large .box__img {
  max-width: 161px;
}

#content .box__title {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 32px;
}

#content .box__btn {
  background: #6bb324;
  border-color: #6bb324;
  font-size: 18px;
  line-height: 18px;
  height: auto;
  padding: 16px 35px;
}

#content .box__moreInfo {
  color: #007faf;
  text-decoration: underline;
  font-size: 16px;
}

#content .box_small p {
  margin: 0;
  padding: 0;
}

#content .box__col3 {
  float: left;
  width: 33.333333333333333333333333333333%;
  text-align: center;
}

#content .box__item .box__moreInfo {
  display: inline-block;
}

#content .rightGreenLink {
  color: #6bb324;
  text-transform: uppercase;
  font-size: 32px;
  float: right;
}

.img__arrowCirlcle {
  vertical-align: sub;
}

@media screen and (max-width: 870px) {
  .box_small,
  .box_large {
    width: 100%;
    margin: 1% 0;
    min-height: auto;
  }
  .box_large {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #content .box__col3,
  .box__imgHolder,
  .box_txtHolder {
    width: 100%;
  }
  #content .box__col3:nth-of-type(2) {
    margin: 2% 0;
  }
  .box_flex {
    display: block;
  }
}

/* css direct input */

.fixed-column {
  width: 940px;
  margin: 0 auto;
}

.box__col3 a {
  display: inline-block;
}

.box__sales {
  box-sizing: border-box;
}

.col-group:after {
  content: "";
  display: table;
  clear: both;
}

#content .box__title,
#content .sec-aktualneAkcie .section__title {
  font-size: 32px !important;
}

@media screen and (max-width: 960px) {
  .fixed-column {
    width: 96%;
    padding: 0 2%;
  }
}

#wrapper .wbreadcrumbs {
  display: none;
}

.weight-400 {
  font-weight: 400;
}

#content .jedna2 .button {
  background: #6bb324 !important;
}

.modrePole {
  background: #cfe0ef !important;
}

/* inline css */

.obalka {
  max-width: 940px;
  margin: auto;
}

p {
  font-size: 16px;
}

@media (max-width: 1000px) {
  .obalka {
    padding: 0px 30px;
  }
}

hr {
  height: 1px;
  border: 0;
  color: #d0d0d0 !important;
  background-color: #d0d0d0 !important;
}

h1 {
  /*color: white !important;*/
  font-size: 38px !important;
  border-bottom: 0 !important;
}

.pozadie0 {
  background: url(/documents/37667/624888/pozadie.jpg/183bc1f5-b42c-4151-9f53-bec5dc8fd816)
    center center no-repeat;
  padding: 50px 0 80px;
}

.pozadie1 {
  background: white;
  padding: 50px 90px;
}

.pozadie2 {
  background: #ededed;
  padding: 50px 0;
}

.pozadie3 {
  background: #ededed;
  padding: 50px 0;
}

.pozadie4 {
  background: #fff;
  padding: 55px 0;
}

#sec-4 {
  background: #fff;
  padding: 50px 0;
}

.pozadie0 .button {
  background: #6bb324 !important;
  border: 0 !important;
}

.pozadie1 h3 {
  font-size: 16px !important;
  color: black !important;
}

#nav-sticky {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
}

#nav-sticky ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto;
}

#nav-sticky ul li {
  display: inline-block;
}

#nav-sticky a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px;
}

#nav-sticky li:last-child a {
  color: #7c7c7c;
}

#nav-sticky li:last-child {
  float: right;
}

#nav-sticky a:hover,
#nav-sticky a.active {
  background-color: #fff;
  color: #e20074;
}

h2 {
  border-bottom: 0 !important;
  font-size: 20px;
  margin: 0;
}

.velkyNadpis {
  text-align: center;
  margin: 0 0 16px 0 !important;
  padding: 0 !important;
  color: #e20074 !important;
  font-size: 32px !important;
  border-bottom: 0 !important;
}

#sec-1 {
  padding: 50px 0;
  & h3 {
    font-size: 16px !important;
    color: black !important;
  }
}
#sec-2,
#sec-3 {
  padding: 50px 0;
  background-color: #ededed;
}

#sec-5 {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
  & h3 {
    font-size: 16px;
  }
}

.sluzby {
  color: black;
  text-align: center !important;
  padding: 30px 20px;
  background: white;
  text-align: justify;
  margin: 30px auto;
  font-weight: bold;
  & p {
    margin: 0px;
  }
}

.tac {
  text-align: center !important;
}

img.tac {
  display: block;
  margin: auto;
  max-width: 100%;
}

@media screen and (max-width: 710px) {
  #nav-sticky {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .fixed-column,
  #nav-sticky ul {
    width: 100%;
  }
}

h5 {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.modrePole {
  background: #ffff00;
  padding: 25px;
  width: 100%;
  box-sizing: border-box;
}

#content .modrePole h2 {
  color: #262626 !important;
}

.modrePole .button {
  font-size: 16px !important;
}

.modrePole .button span {
  display: block;
  line-height: 2.6em;
}

.neobVolania {
  background: white
    url(/documents/37667/624888/bezsnurovyRetroTelefon.jpg/17691767-18ae-4799-92d0-8ac31277f3a4)
    top right no-repeat;
  padding: 30px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.neobVolaniah2 {
  margin: 0 !important;
  padding: 0 !important;
}

.detskyTab {
  background: white
    url(/documents/37667/624888/detskyTablet.jpg/4e3c261f-f419-44d2-b7a2-faa0cc06ca77)
    top right no-repeat;
  padding: 30px;
  max-width: 38%;
  margin-right: 3%;
  box-sizing: border-box;
  float: left;
}

.tabNaDoma {
  background: white
    url(/documents/37667/624888/tabletNaDoma.jpg/b4b673ca-c485-473a-b529-3db51e6d142e)
    top right no-repeat;
  padding: 30px;
  max-width: 59%;
  box-sizing: border-box;
  float: left;
  min-height: 264px;
}

.neobVolania p,
.detskyTab p,
.tabNaDoma p {
  max-width: 50%;
}

@media (max-width: 1000px) {
  .neobVolania p,
  .detskyTab p,
  .tabNaDoma p {
    max-width: 40%;
  }
  .detskyTab p,
  .tabNaDoma p {
    max-width: 70%;
  }
  .detskyTab {
    margin-bottom: 20px;
  }
  .neobVolania,
  .detskyTab,
  .tabNaDoma {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 600px) {
  .neobVolania p,
  .detskyTab p,
  .tabNaDoma p {
    max-width: 100%;
  }
  .detskyTab p,
  .tabNaDoma p {
    max-width: 100%;
  }
  .detskyTab {
    margin-bottom: 20px;
  }
  .neobVolania,
  .detskyTab,
  .tabNaDoma {
    background: white;
  }
}

.clearer {
  clear: both;
}

.phones {
  > .row:first-of-type {
    padding-bottom: 30px;
    border-bottom: solid 1px #ccc;
    @media screen and (max-width: 768px) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
  @media screen and (max-width: 768px) {
    .phone {
      padding-bottom: 30px;
    }
  }
}

.jedna2 {
  max-width: 50%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #d0d0d0;
  padding: 0 10px;
  text-align: center;
}

#sec-4 .col-md-4 {
  text-align: center;
  margin-top: 3%;
}

.jedna2.posledna {
  border: 0;
}

.jedna2 .button {
  background: #007faf !important;
  border: 0 !important;
}

.jedna4 {
  box-sizing: border-box;
  border-right: 1px solid #d0d0d0;
  max-width: 25%;
  float: left;
  padding: 0 10px;
  text-align: center;
}

.jedna4.posledna {
  border-right: 0;
}

@media (max-width: 800px) {
  .jedna4 {
    max-width: 50%;
    border: 0;
    margin: 15px 0;
  }
  .jedna4:nth-of-type(4),
  .jedna4:nth-of-type(6) {
    border-left: 1px solid #d0d0d0;
  }
}

@media (max-width: 500px) {
  .jedna2 {
    width: 100%;
    max-width: 100%;
    border: 0;
  }
  .jedna4 {
    max-width: 100%;
  }
  .jedna4:nth-of-type(4),
  .jedna4:nth-of-type(6) {
    border-left: none;
  }
}

.detail-lightbox {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.fancybox-skin {
  //border: 13px solid #6b6b6b !important;
  background-color: #fff !important;
}

.fancybox-close {
  right: -49px !important;
  top: -30px !important;
}

.detail-lightbox .list-arrow > li:before,
.detail-lightbox .list-square > li:before {
  color: #6c6c6c;
}

.detail-lightbox {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.detail-header {
  font-weight: bolder;
  font-size: 32px;
  padding: 10px 0;
}

.detail-content {
}

#detail-info-table {
  & td {
    padding-left: 0px;
  }
}

.detail-img {
  float: left;
  display: inline-block;
  padding-right: 1%;
  text-align: center;
  width: 36%;
  @media (max-width: 500px) {
    width: 100%;
    float: none;
    display: block;
  }
  & a.btn {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: #383838;
    background-color: #ededed;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      background-color: #dbdbdb;
      border: 1px solid #a1a1a1;
    }
  }
  & a.cta {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #65ac20;
    &:hover {
      background-color: #58951c;
      border: 1px solid #4d8319;
    }
  }
  & img {
    max-width: 100%;
  }
}

.detail-text {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  border-left: 1px solid #ededed;
  width: 58%;
  float: left;
  @media (max-width: 500px) {
    width: 100%;
    float: none;
    display: block;
  }
}

.detail-cena {
  font-weight: bold;
  font-size: 32px;
}

.detail-cena .price-small {
  font-size: 22px;
}

.detail-vlastnost {
  text-transform: uppercase;
  font-weight: bold;
}

.mgt10 {
  margin-top: 10px;
}

@media (max-width: 800px) {
  .mgt10 {
    margin-top: 1%;
  }
}

#content .rightGreenLink {
  text-decoration: none;
}

/* ***********************
NEW
***********************  */

#content .sec__title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}

/* HERO */

#hero {
  background: url("../img/hero_960.jpg") no-repeat 60% 50%;
  background-size: cover;
  height: 250px;
  padding-top: 40px;
  & .hero__mobile {
    display: none;
  }
}

.hero__content {
  text-align: center;
  position: relative;
  & img.icon-ec {
    position: absolute;
    top: 0;
    right: -140px;
  }
}

#content .hero__title {
  //color: #000;
  //margin-top: 20px;
  margin-bottom: 0px;
}

#hero .link {
  margin-top: 10px;
  display: inline-block;
}

@media screen and (max-width: 960px) {
  #hero_old {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url("../img/hero_768.jpg") no-repeat 50% 50%;
    & .hero__content {
      & img.icon-ec {
        top: 0px;
        right: -120px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  #hero {
    & .hero__content {
      & img.icon-ec {
        top: -25px;
        right: -20px;
        width: 80px;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0;
    height: auto;
    .hero__mobile {
      display: block;
      background: url("../img/hero_480.jpg") no-repeat 100% 10%;
      height: 210px;
      position: relative;
      & img.icon-ec {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .hero__content {
      padding: 30px 4% 10px 4%;
      & img.icon-ec {
        display: none;
      }
    }
    .btn {
      margin-top: 30px;
    }
    .hero__title,
    .hero__desc {
      color: #262626 !important;
    }
  }
}

/* XMAS OFFERS */

.offer-box {
  background: #fff;
  border: 1px solid #d0d0d0;
  //padding: 20px 30px;
}

#content .main-offer__title {
  font-size: 32px;
  color: #262626;
}

#content .main-offer__desc {
  color: #4b4b4b;
}

#content .offer__title,
#content .so__title {
  color: #262626;
  font-size: 22px;
}

#content .so__title {
  font-size: 16px;
}

#content .offer__desc,
#content .offer__link,
#content .so__desc {
  color: #4b4b4b;
}

.sol_ico:nth-of-type(2) {
  display: inline-block;
  margin-top: 5px;
}

.sol_ico img {
  vertical-align: text-bottom;
  margin-right: 5px;
}

.left-holder {
  float: left;
}

.right-holder {
  float: right;
}

.offer__wrapper {
  margin-bottom: 20px;
}

.offer__wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.sub-offer__holder {
  margin-top: 20px;
}

.sub-offer {
  width: 32%;
  float: left;
}

.sub-offer:nth-of-type(1) {
  padding-right: 2%;
}

.sub-offer:nth-of-type(2) {
  padding: 0 2%;
  margin-right: 2%;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}

/* BOX - 2 */
.box-2 {
  width: 100%;
  float: left;
  margin: 1% 1% 1% 0%;
  height: 230px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .offer__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.box-2 .left-holder {
  width: 60%;
  padding: 20px;
}

.box-2 .right-holder {
  width: 40%;
  height: 100%;
  background: url(../img/box-viac-za-menej_2.jpg) no-repeat 50% 50%;
  background-size: contain;
}

@media screen and (max-width: 768px) {
  .box-2 {
    margin: 1% 0% 1% 0%;
    width: 100%;
    height: auto;
    min-height: auto;
    & .right-holder {
      min-height: 200px;
    }
  }
}

@media screen and (max-width: 400px) {
  .box-2 {
    margin: 0%;
    & .offer__wrapper {
      display: flex;
      flex-direction: column-reverse;
    }
    & .right-holder {
      width: 100%;
      min-height: 150px;
    }
    & .left-holder {
      width: 100%;
    }
  }
}

.strikethrough {
  position: relative;
  margin-right: 10px;
}

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

/* LIGHTBOX */
#info-magio-box {
  display: none;
  width: 560px;
  padding: 0px 10px 0 20px;
  font-size: 16px;
  & > div {
    display: inline-block;
  }
  & h2 {
    text-align: center;
  }
  & .lightbox-content {
    width: 283px;
  }
  & .lightbox-img-cont {
    vertical-align: top;
    margin-left: 15px;
    width: 210px;
    position: relative;
    & img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  & .lightbox-content-2 {
    color: #999;
  }
  & .lightbox-content-3 {
    color: $magenta;
    background-color: #fff6d5;
    padding: 10px;
    & div {
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
    }
    & .lightbox-3-cont {
      max-width: 220px;
      margin-left: 10px;
    }
  }
  & div[class^="lightbox-content-"] {
    margin-top: 10px;
  }

  & .tab-ex {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    & p:first-child {
      border-bottom: solid 1px #ccc;
    }
    & p {
      margin: 1px 0;
    }
    & > div:last-child {
      border-top: solid 1px #ccc;
      color: $magenta;
      font-weight: bold;
      //margin-top: 5px;
      //padding-top: 5px;
    }
  }

  & .tab-ex .tab-ex-label {
    display: inline-block;
    width: 90px;
  }
  & .tab-ex .tab-ex-price {
    display: inline-block;
    width: 110px;
    text-align: right;
  }
  & .lightbox-content-mob {
    display: none;
    position: relative;
  }
  & .close-end {
    text-align: right;
    cursor: pointer;
    margin-top: 0;
    font-weight: bold;
    & a {
      font-size: 26px !important;
      color: #999;
    }
  }
  & .sticker-picture {
    width: 80px !important;
    top: 20px;
    left: 105px;
  }
  .lightbox-action {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 610px) {
  #info-magio-box {
    width: 320px;
    padding: 0;
    height: 520px;
    position: relative;
    & .lightbox-content {
      width: 100%;
    }
    & div {
      display: block;
    }
    & .lightbox-content-1 {
      & div {
        display: inline-block;
        vertical-align: top;
      }
      & div:nth-child(2) {
        margin-left: 10px;
        width: 200px;
      }
    }
    & .lightbox-img-cont {
      margin: 10px 0;
      width: 100%;
      & img {
        display: none;
      }
    }
    & .lightbox-content-3 {
      position: absolute;
      width: 100%;
      bottom: 55px;
      left: 0;
      & .lightbox-3-cont {
        max-width: 250px;
      }
    }
    & .tab-ex .tab-ex-price {
      width: 220px;
    }
    & .close-end {
      margin-bottom: 0;
      width: 100%;
    }
    & .sticker-picture {
      width: 40px !important;
      top: 5px;
      left: 45px;
    }
    & .lightbox-action {
      position: absolute;
      bottom: 0;
      left: 90px;
    }
  }
}

/* LIGHTBOX - END */

#content .legal-text {
  font-size: 12px !important;
  margin: 0;
  padding: 0 5px;
  & a {
    cursor: pointer;
    font-size: 12px;
  }
}

#legal_more {
  display: none;
}

#cont_legal {
  background-color: #eee;
  padding: 5px;
}

.float-none {
  display: inline-block;
  float: none;
}
