/* ===============
   CSS FOR MICROSITE
   =============== */

/* H1 */
h1 {

  line-height: 1.2!important;
  color: #fff!important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0!important;
  
  @media screen and (max-width: 768px) {
    font-size: 38px!important;
    line-height: 50px!important;;
  }
  @media screen and (max-width: 544px) {
    font-size: 36px!important;
    line-height: 45px!important;;
  }
}
/* H2 */
h2 {
  font-size: 24px;

  color: #000!important;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #content h2 {
    font-size: 18px;
    line-height: 1;
  }
}
p {

  font-weight: normal;
}
strong{
  font-weight: bold;
}


#hero-title{
margin-top: 70px;
@media (max-width: 768px) {
  margin-top: 0px;
}
}


#hero-subtitle{
padding: 0 10px 0 10px;
background-color: #e20074;
color: #fff;
font-size: 21px;
@media  (max-width: 544px) {
  font-size: 18px;
}

}
/* LINK NO REDIRECT */
#content .link-nordr {
  color: #007faf;
  text-decoration: none;
  display: block;
  & :hover {
    color: #00668d;
    text-decoration: none;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none !important;
  outline: none !important;
  background-color: #ededed;
  color: #262626;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
}

@media screen and (max-width: 544px)  {
  .topbtn {display: none;}
}

#myBtn:hover {
  background-color: #f1f1f1;
}



#hero { 
  background: url(../img/hero-back.jpg) no-repeat center top;
  background-color: rgb(0, 0, 0);
  min-height: 950px;
  @media  (max-width: 768px) {
    min-height: 600px;
  }
  @media  (max-width: 544px) {
    min-height: 430px;
  }  
}

#hero-info{
  background-color: rgb(0, 0, 0);
  border: #888888 solid 1px;
  margin-top: 175px;
  padding: 20px 0 20px 0;
  text-align: left;
  & h2{
    color: rgb(255, 255, 255)!important;
    text-align: left;
    padding: 0px;
  }
  & .btn{padding: 10px 60px 10px 60px;}
  & img { margin-left: 50px;}
  & .phonespecs { margin-top: 100px;}
  & .specdescription {
    color: rgb(255, 255, 255)!important;
    text-align: left;  
    padding-right: 70px;
    font-size: 21px;
    }
    & .spec-magenta { 
      color: #e20074!important; 
      padding-right: 70px;
      padding-bottom: 20px;
    
    }
    @media (max-width: 1000px)  {
      margin-top: 100px;
      img {
        width: 90%; height: auto;
        margin-left: 10px
      }
      .spec-magenta {padding-right: 50px;}
      .specdescription {padding-right: 50px;}
      .phonespecs { margin-top: 50px;}
    }
    @media (max-width: 850px)  {
      font-size: 18px;
      .spec-magenta {padding-right: 20px;}
      .specdescription {padding-right: 20px;}
      .phonespecs { margin-top: 30px;}   
      .specdescription {font-size: 18px;}
    }

    @media (max-width: 768px)  {
      margin-top: 50px;
      font-size: 16px;
      img {width: 100%; height: auto;}
      .spec-magenta {padding-right: 10px;}
      .specdescription {padding-right: 10px;}
      .phonespecs { margin-top: 20px;}   
    }
    @media (max-width: 544px)  {
      margin-top: 50px;
      font-size: 14px;
      text-align: center!important;
      .spec-magenta {padding: 0 10px 10px 10px;}
      .specdescription {padding: 0 10px 0 10px;}
      .phonespecs { margin-bottom: 50px;}  
      img { width: 80%; height: auto;}
      p {
        text-align: center!important;
        padding: 0px 10px 0px 10px;
      }
      h2 { 
        text-align: center!important;
      }
    
    }


}

#sec-0 {
  background-color: rgb(0, 0, 0);
  padding-top: 50px;

  padding-bottom: 100px;
  & #note {
    margin-top: 40px;
   }
  & p {
    color: rgb(255, 255, 255)!important;
    padding: 0 6px 0 6px;
  }
  & h2{
    color: rgb(255, 255, 255)!important;
    padding-bottom: 20px;
  }
  @media (max-width: 768px)  {
    padding-top: 10px;
  }
} 



/* SEC-1*/
#sec-1 {
  background-color: rgb(0, 0, 0);
  text-align: left;  
  padding-bottom: 40px;
  & h2{
    color: rgb(255, 255, 255)!important;
    text-align: left;
    padding: 0px;
  }
  & .btn{padding: 10px 60px 10px 60px;}
  & .phonespecs { margin-top: 200px; }
  & .specdescription {
    color: rgb(255, 255, 255)!important;
    text-align: left;  
    margin: 20px auto 20px auto;
    }
    
    @media (max-width: 1300px)  {
      img {width: 100%; height: auto;} 
    }
    
    @media (max-width: 1000px)  {
    .phonespecs { margin-top: 120px; }
    }
    
    @media (max-width: 768px)  {
      margin: 0 auto;
      .phonespecs { margin-top: 10px; }

    }
    
    @media (max-width: 544px)  {
      text-align: center!important;
      .specdescription {  
        margin: 10px auto;
        width: 100%; 
      }
      .phonespecs img {
        width: 100%; 
        height: auto; 
        margin-bottom: 30px; 
      }
      p {
        text-align: center!important;
        padding: 0px 10px 0px 10px;
      }
      h2 { 
        text-align: center!important;
      }
    }
}



/* SEC-2 */
#sec-2 {
  background-color: rgb(0, 0, 0);
  text-align: left;  
  padding-top: 20px;
  padding-bottom: 10px;
  & h2{
    color: rgb(255, 255, 255)!important;
    text-align: left;
    padding: 0px;
  }
  & .btn{padding: 10px 60px 10px 60px;}
  & img {width: 100%; height: auto;} 
  & .phonespecs { margin-top: 180px;}
  & .specdescription {
    color: rgb(255, 255, 255)!important;
    text-align: left;  
    margin: 20px auto 20px auto;
    }
    @media (max-width: 1000px)  {
      .phonespecs { margin-top: 100px; }
      }

    @media (max-width: 768px)  {
      .phonespecs { margin-top: 10px; }
    }
    @media (max-width: 544px)  {
      text-align: center!important;
      img {width: 90%; height: auto; }
      .specdescription { 
        margin: 10px auto;
        width: 100%;}
      p {
          text-align: center!important;
          padding: 0 10px 0 10px;
        }
      h2 { 
          text-align: center!important;
         }
    }
}

/* SEC-3 */
#sec-3 {
  background-color: rgb(0, 0, 0);
  text-align: center;
  &  h2{
    color: rgb(255, 255, 255)!important;
    padding: 0px;
  }
  & .phonespecs {margin-top: 60px; margin-bottom: 60px;}
  & .phonespecs img {width: 100%; height: auto; }
  & .specdescription {
    color: rgb(255, 255, 255)!important;
    margin: 20px auto 30px auto;
    width: 80%;}
    

    @media screen and (max-width: 768px)  {
      margin: 0 auto;
    }
    @media screen and (max-width: 544px)  {
      .specdescription {
        margin: 10px auto;
        width: 100%;}
    }    

}


/* SEC-4 */
#sec-4 {
  background-color: rgb(0, 0, 0);
  text-align: left;  
  padding-top: 40px;
  padding-bottom: 40px;
  & h2{
    color: rgb(255, 255, 255)!important;
    text-align: left;
    padding: 0px;
  }
  & .btn{padding: 10px 60px 10px 60px;}
  & img {width: 100%; height: auto;} 
  & .phonespecs { margin-top: 150px;}
  & .specdescription {
    color: rgb(255, 255, 255)!important;
    text-align: left;  
    margin: 20px auto 20px auto;
    padding-right: 20px;
    }
    @media (max-width: 1000px)  {
      .phonespecs { margin-top: 80px; }
      }

    @media screen and (max-width: 768px)  {
      .phonespecs { margin-top: 10px; }
    }
    @media screen and (max-width: 544px)  {
      text-align: center!important;
      .specdescription {
        margin: 20px auto;
        width: 100%;}
        p {
          text-align: center!important;
          padding: 0 10px 0 10px;
        }
      h2 { 
          text-align: center!important;
         }
    }
}


/* SEC-5 */
#sec-5 {
  background-color: rgb(0, 0, 0);
  text-align: center;
  & .phonespecs {margin-top: 60px; margin-bottom: 80px;}
  & img {width: 100%; height: auto; }
  &  h2{
    color: rgb(255, 255, 255)!important;
    padding: 0px;
  }
  & .specdescription {
    color: rgb(255, 255, 255)!important;
    margin: 20px auto 30px auto;
    width: 80%;}

    @media screen and (max-width: 768px)  {
      margin: 0 auto;
    }
    @media screen and (max-width: 544px)  {
      .description {
        margin: 10px auto;
        width: 100%;}
    }
}

/* SEC-6 */
#sec-6 {
  background-color: rgb(0, 0, 0);
  text-align: left;  
  padding-bottom: 30px;
  & h2{
    color: rgb(255, 255, 255)!important;
    text-align: left;
    padding: 0px;
  }
  & .btn{padding: 10px 60px 10px 60px;}
  & .phonespecs { margin-top: 200px;}
  & .specdescription {
    color: rgb(255, 255, 255)!important;
    text-align: left;  
    margin: 20px auto 20px auto;
    }
    @media (max-width: 1000px)  {
      padding-bottom: 50px;
      .phonespecs { margin-top: 60px; }
      img {width: 100%; height: auto;} 
    }   
    @media (max-width: 768px)  {
      .phonespecs { margin-top: 10px; }
      img {width: 100%; height: auto;} 
    }
    @media (max-width: 544px)  {
      padding-bottom: 80px;
      text-align: center!important;
      .specdescription {  
        margin: 10px auto;
        width: 100%; 
      }
      .phonespecs img {
        width: 100%; 
        height: auto; 
        margin-bottom: 30px; 
      }
      p {
        text-align: center!important;
        padding: 0px 10px 0px 10px;
      }
      h2 { 
        text-align: center!important;
      }
    }


}


/* SEC-7 */
#sec-7 {
  background-color: rgb(223, 223, 223);
  text-align: center;
  &  h2{padding: 0px;}
  & .phonespecs {margin-top: 60px; margin-bottom: 20px;}
  & .phonespecs img {width: 100%; height: auto; }
  & .specdescription {
    margin: 20px auto 20px auto;
    width: 80%;}

    @media (max-width: 544px)  {
      padding-bottom: 20px;
      .specdescription {  
        margin: 10px auto; 
      }
    }
}


/* SEC-8 */
#sec-8 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  &  h2{padding: 0px;}
  & .btn{padding: 10px 60px 10px 60px;}
  & .phonespecs {margin-top: 60px; margin-bottom: 80px;}
  & .phonespecs img {width: 100%; height: auto; }
  & .specdescription {
    margin: 20px auto 20px auto;
    width: 80%;}

    @media (max-width: 544px)  {
      .phonespecs { margin-bottom: 60px;}
      .specdescription {  margin: 10px auto; }
    }
}


/* SEC-9 */
#sec-9 {
  background-color: rgb(223, 223, 223);
  text-align: center;
  &  h2 {padding: 0px;}
  & .phonespecs {margin-top: 80px; margin-bottom: 80px;}
  & .phonespecs img {width: 100%; height: auto; }
  & .specdescription {
    margin: 20px auto 20px auto;
    width: 80%;}
    @media (max-width: 768px)  {
      img {width: 90%; height: auto; }
    }
    @media (max-width: 544px)  {
      img {width: 100%; height: auto; }
      .specdescription {  margin: 10px auto; }
    }
}

/* SEC-10 */
#sec-10 {
  background-color: rgb(255, 255, 255);
  text-align: left;  
  margin-top: 30px;
  margin-bottom: 60px;
  & h2{
    text-align: left;
    padding: 0px;
  }
  & .btn{padding: 10px 60px 10px 60px;}
  & .phonespecs { margin-top: 220px;}
  & .specdescription {
    text-align: left;  
    margin: 20px auto 20px auto;
    }
    @media (max-width: 1300px)  {
      img {width: 100%; height: auto;} 
      .phonespecs { margin-top: 120px; }
    }
    
    @media (max-width: 768px)  {
      .phonespecs { margin-top: 10px;}
      img {width: 100%; height: auto; }

    }
    @media (max-width: 544px)  {
      
      text-align: center;  
      margin-bottom: 80px;
      margin-top: 10px;
      .specdescription { margin: 10px auto}
      .phonespecs { margin-top: 0px;}
      img {width: 90%; height: auto; }
      h2 {text-align: center;}
      p {
        text-align: center!important;
        padding: 0px 10px 0px 10px;
      }
  }
}

@media (min-width: 768px)  {
  .desk-md {display: block;}
  .tab-sm {display: none;}
  .mob-xs {display: none;}
}
@media (max-width: 768px)  {
  .desk-md {display: none;}
  .tab-sm {display: block;}
  .mob-xs {display: none;}
}
@media (max-width: 543px)  {
  .desk-md {display: none;}
  .tab-sm{display: none;}
  .mob-xs {display: block;}
}
