/* =============== CSS FOR MICROSITE =============== */
/* GLOBALS */
#content .section__title { color: #e20074; text-align: center; padding: 0 0 40px 0; margin-top: 0; text-transform: uppercase; }

#content .section { padding: 60px 0 70px 0; }

#content .link_dark { color: #4b4b4b; }

#content .link { text-decoration: underline; }

#content .button_two-lined { line-height: 18px; padding: 7px 20px; height: initial; }

#content .button_two-linedv2 { font-size: 20px; line-height: 20px; padding: 10px 24px; height: initial; }

.tooltip .qtip-content { font-size: 16px; }

/* HERO */
#hero { margin: 0; padding: 0; border-bottom: 1px solid #bfbcb7; padding-top: 20px;}

#hero .fixed-column { background: url("../img/hero.png") no-repeat 400px 50%; margin: 0 auto; padding: 40px 0 40px 10px; }

#content .hero__content { text-align: center; max-width: 410px; width: 100%; }

#content .hero__title { color: #e20074; font-weight: 900; font-size: 62px; }

#content .link-more-info { text-decoration: underline; margin-top: 10px; display: inline-block; color: #007faf; }

@media screen and (max-width: 960px) { #hero { padding: 0; }
  #hero .fixed-column { margin: 0; padding: 40px 0 40px 10px; width: 100%; } }

@media screen and (max-width: 560px) { .hero__content { margin: 0; }
  #content .hero__title { font-size: 42px; } }

/* GALLERY */
.device { text-align: center; }

.device-controls { margin: 10px 0; }

.device-controls a { width: 60px; height: 60px; display: inline-block; margin-right: 5px; }

.device-controls a:last-of-type { margin-right: 0; }

.device-controls img { max-width: 60px; max-height: 60px; width: auto; height: auto; }

.device_img img { max-width: 269px; width: 100%; }

/* SEC 1 */
.item { text-align: center; }

.item:nth-of-type(2) { margin: 0 2.1%; }

.item__img { margin-bottom: 15px; }

#content .item__title, #content .item__desc, #content .item__link { margin: 0; padding: 0; color: #262626; font-size: 18px; }

#content .item__desc { margin: 5px 0; color: #4b4b4b; }

#content .item__link { text-decoration: underline; }

@media screen and (max-width: 600px) { #content .item { width: 100%; }
  .item:nth-of-type(2) { margin: 3% 0; } }

/* SEC 2 */
#content .sec-2 { padding: 0; }

.sec-2 .fixed-column { background: #ececec; padding: 60px 10px 40px 10px; }

#content .pt_title { color: #e20074; text-transform: uppercase; font-size: 20px; margin-top: 0; }

.pricing-table { background: #fff; text-align: center; padding: 20px 10px 30px 10px; margin-right: 2.12%; position: relative; border: 1px solid #ececec; }

.pt_magenta { margin-right: 0; border: 1px solid #e20074; }

.ec_magenta { background: url("../assets/img/ec.png") no-repeat; width: 105px; height: 74px; position: absolute; top: -60px; left: 50%; transform: translateX(-50%); }

.desc-holder { border-top: 1px solid #d0d0d0; border-bottom: 1px solid #d0d0d0; padding: 10px 0; min-height: 175px; }

#content .dh_det { padding: 0; margin: 0 0 10px 0; }

#content .pricing-table a { font-size: 16px; }

#content .price { font-size: 20px; }

#content hr { display: none; }

#content .btn-holder { text-align: center; margin-top: 20px; }

@media screen and (max-width: 800px) { #content hr { display: block; background: transparent; }
  #content .pricing-table { width: 48.88%; }
  #content .pricing-table:nth-of-type(2) { margin-right: 0; }
  .desc-holder { min-height: 131px; } }

@media screen and (max-width: 600px) { #content hr { display: none; }
  #content .pricing-table { width: 100%; }
  #content .pricing-table { margin-right: 0; margin-bottom: 4%; }
  #content .pt_magenta { margin-bottom: 0; }
  .desc-holder { min-height: auto; }
  .ec_magenta { top: -40px; } }

/* SEC 3 */
#content .feat__title { font-weight: bold; margin: 0; }

#content .feat__desc { margin: 0; }

.feat { margin-bottom: 15px; }

.feat:last-of-type { margin-bottom: 0; }

@media screen and (max-width: 600px) { #content .features, #content .gallery { width: 100%; } }

/* SEC 4 */
#content .sec-4 { padding-top: 0; }

.specs_col:nth-of-type(2) { margin: 0 2.1%; }

#content .sec-4 .section__title { color: #262626; }

.spec { border: 1px solid #e6e6e6; border-bottom: 0; padding: 10px; }

.spec:last-of-type { border: 1px solid #e6e6e6; }

#content .spec p { margin: 0; }

.spec__title { font-weight: bold; }

@media screen and (max-width: 600px) { #content .specs_col { width: 100%; }
  .specs_col:nth-of-type(2) { margin: 0; }
  .spec:last-of-type { border-bottom: 0; }
  .specs_col:last-of-type .spec:last-of-type { border: 1px solid #e6e6e6; } }

#content .ec-tip {
    position: absolute;
    display: block;
    z-index: 10;
    right: 42px;
    top: 0;
}

@media screen and (max-width: 960px) {
    #content .ec-tip {
        right: -24px;
        top: 10px;
    }
    #content .ec-tip img {
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    #content .ec-tip {
        display: none;
    }
}

#content .table-title-holder {
    position: relative;
}

@media screen and (min-width: 800px) {
    .grid-g__col_3.pricing-table {
        min-height: 358px;
    }
}

.tooltip {
    min-width: 290px;
}
