<section id="sec-1" class="section sec-1 text_centered">
    <div class="fixed-column">
        <h1 class="section__title"><b>Spomaľte na Vianoce</b><br />so svojimi blízkymi</h1>
        <div class="row">
            <img class="ico__power shut-down tubular-play" src="https://www.telekom.sk/documents/10179/565126/ico-power.png" alt="">
        </div>
        <a onclick="ga('send', { hitType: 'pageview', page: /krb/otvoreny });" class="button shut-down tubular-play" href="#">ZAPNITE SI VIANOČNÚ POHODU</a>
    </div>
</section>



<!--
<section class="big-background">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=kWTQZYMIEKE',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1, loop: true}"></a>

    <div class="pattern"></div>
    <div class="big-background-container">
    </div>
</section>
-->


<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

</script>

<link rel="manifest" href="https://www.telekom.sk/documents/10179/565126/manifest.json">
<!--<script type="text/javascript" src="../assets/js/jquery.tubular.1.0.js"></script>-->
<script type="text/javascript" src="../assets/js/main.js"></script>
