<style type="text/css">
.sivePozadieTrans {
    width: 100%;
    background: rgba(237, 237, 237, .75);
}

.center {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.wbreadcrumbs {
    display: none;
}

#content .portlet-column {
    display: initial;
}

@media screen and (max-width: 600px) {
    .center {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 25px;
        padding-bottom: 25px;
        overflow: auto;
    }
}
</style>
<div class="sivePozadieTrans">
    <div class="center">
        <h2>
            <strong>PRINÁŠAME VÁM LEPŠÍ, VÝHODNEJŠÍ PROGRAM EASY PECKA</strong><br />
            POROVNAJTE SI HO S PROGRAMOM EASY TIME</h2>
        <p>
            Vážený zákazník, z dôvodu ukončenia poskytovania programu „Easy Time“, bude Váš program automaticky zmenený na výhodnejší program Easy Pecka. Prehľad programu Easy Pecka nájdete nižšie.</p>
        <table class="tbl tbl-stripped">
            <thead>
                <tr>
                    <th style="  width: 205px;">
                        POROVNANIE</th>
                    <th style="    width: 35%;">
                        Easy Pecka</th>
                    <th>
                        Easy Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <strong>Volania do vlastnej siete</strong></td>
                    <td>
                        0,09 €/min.</td>
                    <td>
                        celý hovor za 0,15 €</td>
                </tr>
                <tr>
                    <td>
                        <strong>Volania do ostatných sietí v SR</strong></td>
                    <td>
                        0,09 €</td>
                    <td>
                        0,12 €</td>
                </tr>
                <tr>
                    <td>
                        <strong>SMS do všetkých sietí v SR</strong></td>
                    <td>
                        0,06 €</td>
                    <td>
                        0,10 €</td>
                </tr>
                <tr>
                    <td>
                        <strong>Platnosť kreditu od dobitia</strong></td>
                    <td>
                        365 dní</td>
                    <td>
                        365 dní</td>
                </tr>
                <tr>
                    <td>
                        <strong>Neobmedzené volania a SMS</strong></td>
                    <td>
                        Za 0,50 € na deň do každej siete v SR</td>
                    <td>
                        Neobmedzene dlhý hovor v mobilnej sieti Telekom a do pevných sietí v SR len za 15 centov</td>
                </tr>
                <tr>
                    <td>
                        <strong>Internet v mobile - cena za MB</strong></td>
                    <td>
                        0,10 €</td>
                    <td>
                        0,95 € / MB</td>
                </tr>
                <tr>
                    <td>
                        <strong>Internet v mobile na deň</strong></td>
                    <td>
                        0,50 €</td>
                    <td>
                        max. 0,50 €</td>
                </tr>
                <tr>
                    <td>
                        <strong>Internet v mobile FUP</strong></td>
                    <td>
                        200 MB</td>
                    <td>
                        100 MB</td>
                </tr>
                <tr>
                    <td><strong>Tarifikácia</strong></td>
                    <td>sekundová</td>
                    <td>sekundová (1+1)</td>
                </tr>
                <tr>
                    <td>
                        <strong>Dátový balíček</strong></td>
                    <td>
                        1000 MB za 5,99 €</td>
                    <td>
                        1000 MB za 5,99 €</td>
                </tr>
                <tr>
                    <td>
                        <strong>Iné benefity</strong></td>
                    <td>
                        max. 0,50€ na deň za volania a SMS do každej siete v SR, služba CLIP zadarmo</td>
                    <td>
                        Cena za hovor v mobilnej sieti Telekom a do všetkých pevných sietí v SR len za 15 centov/hovor, bez ohľadu na jeho dĺžku</td>
                </tr>
            </tbody>
        </table>
        <p>
            Podmienky poskytovania programu Easy Pecka sú uvedené <a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/" target="_blank">v Cenníku pre poskytovanie služieb Slovak Telekom, a.s.</a></p>
    </div>
</div>
<p>&nbsp;</p>
