/* ===============
CSS FOR MICROSITE
=============== */

/* GLOBALS */

#content .sec__title {
    text-align: center;
    text-transform: uppercase;
}

#content .sec__desc {
    text-align: center;
    margin-top: 0;
}

/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    max-height: 254px;
}

#hero .container-fixed {
    position: relative;
}

.hero__content {
    text-align: center;
    max-width: 460px;
    position: relative;
}

#content #hero .link {
    text-decoration: none;
}

.ec-header {
    position: absolute;
    top: -36px;
    right: -202px;
}

.logo-header {
    position: absolute;
    right: 0;
    top: -60px;
}

#content .hero__title,
#content .hero__desc {
    color:  $mine-shaft-dark;
}

@media screen and (max-width: 958px) {
    .logo-header {
        right: -25px;
    }
}

@media screen and (max-width: 560px) {
    .logo-header {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
        max-height: inherit;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 59% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    .ec-header {
        top: -81px;
        right: 0px;
    }

    #hero .btn {
        margin-top: 60px;
    }
}


/* SEC - 1 */

.sec-1 .container-fixed {
    border-top: 1px solid #d0d0d0;
    padding-top: 30px;
}

#content .sec-1 .sec__title {
    margin-bottom: 0;
}

.tabs-container {
    margin-top: 20px;
}

.tab {
    border-top: 0;
}

.tabs-menu li,
.tabs-menu li:hover {
    border: 1px solid #dbdbdb;
    border-right: 0;
    border-radius: 3px 0 0 0;
}

.tabs-menu li.current {
    border: 1px solid #dbdbdb;
    border-right: 0;
    background-color: #ededed;
}

.tabs-menu li:last-of-type {
    border: 1px solid #dbdbdb;
    border-radius: 0 3px 0 0;
}

.tabs-menu .current a {
    color: #262626;
}

.tabs-menu li a {
    padding: 0 20px;
}

.sec-1 .tab-content {
    text-align: center;
}

.box__holder {
    display: inline-block;
}

.box__holder .box-device:last-of-type {
    margin-left: 5px;
}

#content .box-device {
    max-width: 253px;
    text-align: center;
    border: 1px solid $white;
    padding: 5px 10px;
    float: left;

    &:hover {
        border: 1px solid #d0d0d0;
        -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
        -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.4);
        cursor: pointer;

        .device__name,
        .device__params {
            text-decoration: underline;
        }
    }

    .device__name {
        font-weight: bold;
    }

    .img__holder {
        position: relative;
    }

    .img__ec {
        position: absolute;
        top: 20px;
        right: 16px;
    }

    .device__params {
        margin: 0;
        font-size: 16px;
    }

    .pricing__title {
        text-align: left;
        font-weight: bold;
        border-bottom: 1px solid #d0d0d0;
    }

    .pricing-table {
        font-size: 16px;
        text-align: left;
        width: 100%;

        td {
            padding: 0;
        }

        .no-margin td {
            line-height: 15px;
        }

        .inner-head {
            font-weight: bold;
        }

        tr td:last-of-type {
            text-align: right;
        }

        .magenta-text {
            color: $magenta;

            td {
                padding-bottom: 10px;
            }
        }

        .one-time-payment {
            border-top: 1px solid #d0d0d0;
            border-bottom: 1px solid #d0d0d0;
            color: #262626;

            td {
                padding: 2px 0;
            }
        }
    }
}


#content .device-1 .device__name {
    padding: 10px 0 12px 0;
}

.info-box__holder {
    text-align: center;
}

.info-box {
    background-color: #fff6d5;
    padding: 1px 8px;
    display: inline-block;
}

#content .info {
    color: $magenta;
    padding-left: 30px;
    text-align: left;
    background: url('../img/ico-info.png') no-repeat center left;
}

#content .bottom-button-holder {
    text-align: center;
    max-width: 297px;
    margin: 10px auto 0 auto;

    .btn {
        width: 100%;
        padding: 8px 0;
    }

    .btn:last-of-type {
        margin-top: 10px;
    }
}

@media screen and (max-width: 526px) {
    #content .box-device {
        float: none;
    }

    #content .device-1 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 520px) {
    .tabs-menu li,
    .tabs-menu li.current,
    .tabs-menu li:hover {
        border: 1px solid #dbdbdb;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }

    .tabs-menu li:last-of-type {
        border: 1px solid #dbdbdb;
        border-radius: 0 0 3px 3px;
    }
}


/* SEC - PROD DET */

#content .back-holder {
    margin: 20px 0;
}

#content .back-holder a {
    background: url('../img/arrow-back.png') no-repeat center left;
    padding-left: 15px;
}

.box-pricing {
    display: inline-block;
    width: 100%;
}

.bp__content {
    padding: 20px 0;
    display: flex;
}

.bp__inner-section {
    width: 47%;
    float: left;
    padding: 0 2%;
}

.bp__inner-section:nth-of-type(2) {
    width: 35%;
}

.bp__inner-section:nth-of-type(3) {
    width: 18%;
}

#content .bpis__title {
    font-size: 22px;
    font-weight: bold;
    color: #242424;
    margin: 0 0 5px 0;
}

#content .sec-det {

    .box-device {
        padding: 0;
        max-width: 297px;
        width: 100%;
        border: 0;

        &:hover {
            border: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            cursor: default;

            .device__name,
            .device__params {
                text-decoration: none;
            }
        }

        .cta {
            width: 100%;
            max-width: 297px;
            margin-top: 5px;
        }
    }

    .info-box {
        padding: 8px;
        margin-top: 66px;

        p {
            margin: 0;
            color: $magenta;
            line-height: 18px;
        }
    }
}

@media screen and (max-width: 880px) {

    .bp__inner-section,
    .bp__inner-section:nth-of-type(2),
    .bp__inner-section:nth-of-type(3) {
        width: 100%;
        float: left;
        padding: 0 2%;
    }

    .bp__inner-section:nth-of-type(2),
    .bp__inner-section:nth-of-type(3) {
        text-align: center;
    }

    #content .sec-det .box-device {
        margin: 0 auto;
        float: none;
    }

    #content .sec-det .info-box {
        margin-top: 0;

        img {
            display: inline-block;
            vertical-align: bottom;
        }

        p {
            display: inline-block;
        }
    }

    .bp__content {
        display: inherit;
        width: 100%;
    }

    .bp__inner-section:nth-child(2) {
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
        padding: 20px 2%;
        margin: 20px 0;
    }
}

/* ZOOM GALLERY */

.gallery {
    position: relative;
}

.zoomWindowContainer div {
    top: -69px !important;
}

.thumbnails {
    float: left;
    padding-right: 10px;
    width: 21%;
}

.full__holder {
    float: left;
    width: 79%;
}

.preview {
    width: 43px;
    height: 53px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.preview img {
    width: 43px;
    height: 32px;
}

.preview:last-child {
    margin-bottom: 0;
}

.zoomLens {
    cursor: zoom-in !important;
}

.full {
    max-width: 313px;
    width: 100%;
    font-size: 12px;
    float: left;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.controlls {
    display: none;
}

@media screen and (max-width: 768px) {
    .indicator {
        background-color: #d0d0d0;
        height: 3px;
        width: 100%;
    }

    .indicator:after{
        content: "";
        display: table;
        clear: both;
    }

    .in__content {
        background-color: $magenta;
        height: 3px;
    }

    #content .controlls a {
        color: #383838;
        font-size: 18px;
    }

    .controlls {
        display: block;
    }

    .control__holder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .control-left {

    }

    #content .img-size {
        display: inline-block;
    }

    .control-right {

    }

    .full__holder {
        text-align: center;
        width: auto;
        float: none;
    }

    .full {
        float: none;
    }

    .thumbnails {
        display: none;
    }

}


/* SEC DET 2 */

#content .sec-det-2 {

    .tabs-container {
        margin-bottom: 40px;
    }

    .tab__holder {
        text-align: left;
        margin-bottom: -1px;
    }

    .tabs-menu li, .tabs-menu li:hover {
        border: 0;
        border-bottom: 1px solid #b2b2b2;
    }

    .tabs-menu li.current {
        background-color: transparent;
        border: 1px solid #b2b2b2;
        border-bottom: 1px solid $white;
    }

    .tabs-menu li:nth-of-type(2).current {
        border-radius: 0;
    }

    .tab-content {
        padding-top: 45px;
        margin-top: 0;
        border: 1px solid #b2b2b2;
    }

    .feat-text {
        max-width: 366px;

        .feat-tit {
            margin: 0 0 5px 0;
            font-weight: bold;
        }

        .feat-desc {
            margin: 0;
        }
    }

    .feat {
        display: flex;
        align-items: center;
        padding: 10px 0;
        margin: 0 40px;
        border-bottom: 1px solid #b2b2b2;

        &.feat-img-left {
            .feat-img-holder {
                order: 1;
            }

            .feat-text-holder {
                order: 2;
            }
        }

        .feat-text-holder {
            float: left;
            width: 55%;
        }

        .feat-img-holder {
            float: left;
            width: 45%;
            text-align: center;

            img {
                max-width: 378px;
                width: 100%;
            }
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        &:last-of-type {
            border-bottom: 0;
        }
    }

    .feature-to-holder {
        padding: 80px 0;
        margin: 0 40px;

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .table-holder {
        margin: 30px 40px 0 40px;

        &:first-of-type {
            margin-top: 0;
        }

        &:last-of-type {
            margin-bottom: 20px;
        }

        .table-params {
            font-size: 16px;
            width: 100%;

            th {
                border-bottom: 1px solid #b2b2b2;
                color: $mine-shaft-dark;
                font-weight: 500;
            }

            td {
                padding: 2px 0;
                border-bottom: 1px solid #d0d0d0;
            }

            tr {
                td {
                    &:first-of-type {
                        width: 269px;
                    }
                }
            }
        }
    }

    .order-info-holder {
        margin: 20px 40px;

        .order-info-wrapper {
            width: 100%;
            max-width: 768px;
            margin: 0 auto;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            .col-md-4 {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    #content .sec-det-2 {

        .feature-to-holder {
            padding: 40px 0;

            .feat-text {
                max-width: none;
            }

            .feat-text-only:first-of-type {
                margin-bottom: 25px;
            }
        }

        .table-holder {
            tr {
                td {
                    &:first-of-type {
                        width: auto !important;
                    }
                }
            }
        }

        .order-info-holder {

            .col-md-4:nth-of-type(2) {
                margin: 20px 0;
            }
        }
    }

}

@media screen and (max-width: 520px) {
    #content .sec-det-2 {

        .tab__holder {
            margin-bottom: 20px;
        }

        .tabs-menu li {
            border: 1px solid #b2b2b2;

            &:hover,
            &.current {
                background-color: #ededed;
                border: 1px solid #b2b2b2;
            }

            &.current {
                background-color: #ededed;
            }

            &:first-of-type {
                border-radius: 3px 3px 0 0;
                border-bottom: 0;
            }

            &:nth-of-type(2) {
                border-radius: 0;
                border-bottom: 0;
            }

            &:last-of-type {
                border-radius: 0 0 3px 3px;
            }
        }
    }
}
