<link rel="stylesheet" href="gulp_doplni_cestu_nba.css?v=1" />

<section class="bd-scenario-landing nba">
	<div class="cont-gray clearfix">
		<div class="container-fixed">
			<div class="row section pausaly ponuka-na-mieru">
				<div class="overenie">
					<div class="result">
						<div class="result-cont">
							<div class="result-icon">
								<i class="t-icon--magenta"> <!-- icon --></i>
							</div>
							<div class="result-content">
								<!-- cont -->
							</div>
						</div>
					</div>
					<div class="form">
						<div>
							<span class="title"> Overte svoje číslo a spoznáte ponuku šitú na mieru. </span>
							<span class="desc">
								Je to jednoduché, na zadané číslo vám pošleme SMS správu s overovacím kódom.
							</span>
						</div>
						<div class="input-phone">
							<div class="input-wrapper phoneNumber">
								<input
									type="tel"
									class="input_text"
									name="phoneNumber"
									id="phoneNumber"
									maxlength="10"
									required
								/>
								<label class="placeholder" for="phoneNumber">Vaše aktuálne telefónne číslo</label>
							</div>
							<a class="btn btn_mag-outline cursor-p" id="checkPhone">Overiť</a>
						</div>
						<div class="input-pin">
							<div class="input-wrapper">
								<input type="tel" class="input_text" name="phoneNumber" required />
								<input type="tel" class="input_text" name="phoneNumber" required />
								<input type="tel" class="input_text" name="phoneNumber" required />
								<input type="tel" class="input_text" name="phoneNumber" required />
								<label class="placeholder" for="phoneNumber">Zadajte 4-miestny kód z SMS správy</label>
							</div>
							<a class="btn btn_mag-outline cursor-p" id="checkPin">Odoslať kód</a>
						</div>
					</div>
				</div>
				<div class="user-offer">
					<div class="hero-pausaly-title">
						<div>
							<div class="icons">
								<div class="icon-free">
									<div>Kuriér zadarmo</div>
									<div>Extra web zľava</div>
									<div class="i-ch"><!--.--></div>
								</div>
								<h1>Vyberte si z ponuky paušálov šitej na mieru</h1>
							</div>
						</div>
						<p class="desc"><!--.--></p>
						<div class="dph-switch">
							<label>Ceny s DPH</label>
							<input type="checkbox" class="js-switch change-dph" checked />
						</div>
					</div>
					<div class="hero-offer">
						<div class="carts-cont">
							<div class="carts-header">
								<div class="w-0 sh-d">Paušál</div>
								<div class="w-1">Dáta</div>
								<div class="w-2">Volania a SMS</div>
								<div class="w-3 text-center">Extra</div>
								<div class="w-4 sh-m">Mesačne</div>
							</div>
							<div>
								<div class="carts slider">
									<div class="box-slider" id="offer-slider">
										<!-- slider -->
									</div>
								</div>
							</div>
						</div>
						<p class="viac-info"><span>Viac</span> info o paušáloch</p>
						<p class="eu-legend">
							Uvedený objem minút platí pre odchádzajúce volania do všetkých sietí v&nbsp;SR, zo&nbsp;SR
							do EÚ+, z&nbsp;EÚ+ do SR, z&nbsp;EÚ+ do EÚ+. Rovnaké podmienky platia pre uvedený objem SMS
							a&nbsp;MMS. Prichádzajúce volania sú pre všetky paušály neobmedzené v&nbsp;SR a&nbsp;EÚ+.
							EÚ+ sú všetky členské štáty EÚ, Island, Nórsko, Lichtenštajnsko, Monako a&nbsp;Andora. Cena
							mesačne predstavuje zľavnenú cenu mesačného poplatku za T&nbsp;paušál. Platí pri uzavretí
							zmluvy s&nbsp;viazanosťou na 24 mesiacov.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/global_ratePlanes.js"></script>
<script type="text/javascript" src="../assets/js/global_slick.min.js"></script>
<script type="text/javascript" src="../assets/js/global_switchery.js"></script>
<script type="text/javascript" src="../assets/js/nba.js?v1"></script>
