/* =============== GLOBAL CONFIG  =============== */
/* =============== CSS FOR MICROSITE =============== */
/* GLOBALS */
#content .sec__title {
  text-align: center;
  text-transform: uppercase; }

#content .section {
  padding: 30px 0 40px 0; }

@media screen and (max-width: 400px) {
  #content .sec__title {
    font-size: 30px; } }

/* HERO SECTION */
#hero {
  background: url(../img/kv.jpg) no-repeat 50% 50%;
  padding: 60px 2%;
  overflow: hidden;
  background-size: cover; }

.hero__content {
  text-align: center;
  max-width: 500px; }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0; }
  .hero__mobile {
    background: url(../img/kv.jpg) no-repeat 60% 65%;
    height: 195px; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__content {
    padding: 40px 4%; }
  #content .hero__title {
    font-size: 26px; }
  #content .hero__title, #content .hero__desc {
    color: #262626; }
  #hero .btn {
    margin-top: 60px; } }

/* PACK */
.pack-holder {
  max-width: 635px;
  margin: 30px auto 40px auto;
  padding-bottom: 15px;
  border-bottom: 1px solid #d0d0d0; }

.pack-holder:after {
  content: "";
  display: table;
  clear: both; }

#content .pack {
  margin: 0 auto;
  width: 50%;
  text-align: center; }

#content .pack:first-of-type {
  border-right: 1px solid #d0d0d0;
  border-left: 1px solid #d0d0d0; }

#content .pack__title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0; }

#content .pack__price {
  margin-top: 5px; }

#content .pack__price span {
  font-size: 22px; }

@media screen and (max-width: 600px) {
  #content .pack {
    width: 100%;
    padding: 20px 0; }
  #content .pack:first-of-type {
    border-right: 0;
    border-left: 0; } }

/* BENEFITS */
.benefit-holder {
  text-align: center;
  max-width: 430px;
  width: 100%;
  margin: 0 auto; }

#content .benefits {
  margin-bottom: 30px; }

/* SEC - 2 */
#sec-2 {
  background: url("../img/sec-bg.jpg") no-repeat 50% 50%;
  background-size: cover; }

.box-flex {
  display: flex;
  margin-top: 15px; }

.box-flex .box:first-of-type {
  margin-right: 15px; }

.box {
  background-color: #fff;
  padding: 30px; }

.box:after {
  content: "";
  display: table;
  clear: both; }

#content .box-left {
  float: left; }

#content .box-right {
  float: right; }

.box_large .box-left {
  width: 50%; }

.box_large .box-right {
  width: 50%;
  text-align: center; }

.box-flex .box-left {
  text-align: center;
  width: 20%; }

.box-flex .box-left img {
  max-width: 89px;
  width: 100%; }

.box-flex .box-right {
  width: 78%;
  margin-left: 2%; }

#content .box-title {
  font-size: 28px;
  line-height: 28px; }

#content .bd-large {
  font-size: 28px;
  font-weight: bold; }

.box_large img {
  max-width: 250px;
  width: 100%; }

@media screen and (max-width: 750px) {
  .box-flex .box-left, .box-flex .box-right {
    width: 100%; }
  .box-flex {
    display: inline-block; }
  .box-flex .box:first-of-type {
    margin-right: 0;
    margin-bottom: 15px; } }

@media screen and (max-width: 600px) {
  .box_large .box-right, .box_large .box-left {
    width: 100%; } }
