<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.jpg" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.jpg" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.jpg" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.jpg" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.jpg" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.jpg" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<p class="bpis__title">
						Lenovo IdeaPad 110 + Lenovo Moto C</p>
					<div class="box-device">
						<p class="pricing__title">
							Napr. k Magio internetu a TV <span class="feeType">XL</span>:</p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Magio internet + TV <span class="feeType">XL</span></td>
									<td>
										<span class="feePrice">40,00 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-10,00 €</span></td>
								</tr>								
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										13,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">1,04 €</span></td>
								</tr>
							</tbody>
						</table>
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ K NÁKUPU</a>					
					</div>
					<div class="lightbox-content-3">
						<div class="lightbox-icon">
							<img src="../assets/img/icon6.png" />
						</div>
						<div class="lightbox-3-cont">NÁŠ TIP: Kliknite na PREJSŤ K NÁKUPU a navoľte si kombináciu Magio internetu a televízie vo variantách L alebo XL.</div>
					</div>										
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Windows 10 Home</p>
								<p class="feat-desc">
									Známe prostredie operačných systémov Windows, len vylepšené. Ponuka Štart je späť a ešte lepšia! Rozbaľte ju, prispôsobte si ju a zlaďte ju so svojou osobnosťou. Pracujte s viacerými zariadeniami, ktoré sú pre vás dôležité, ako sú tlačiarne, fotoaparáty zariadenia USB a ďalšie. Využite pridané funkcie zabezpečenia, ktoré vás ochránia pred krádežou zariadenia a škodlivým softvérom.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Bleskovo rýchle prehliadanie webu</p>
								<p class="feat-desc">
									Pripojenie WiFi so štandardom 802.11 a/c sa stáva štandardnou výbavou notebooku ideapad 110, vďaka čomu sa dokonale hodí na bleskurýchle prehliadanie, prenosy a sťahovanie. Pripojenie WiFi so štandardom 802.11 a/c je v skutočnosti 3-krát rýchlejšie ako štandard 802.11 b/g/n.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Voliteľná optická mechanika</p>
								<p class="feat-desc">
									S notebookom ideapad 110 si nemusíte kupovať externú optickú jednotku – vybrané modely sú vybavené integrovanou jednotkou na disky DVD/CD-RW, takže môžete načítavať programy, počúvať hudbu z diskov CD alebo sledovať filmy offline.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Lenovo Moto C Black</p>
								<div class="feat-desc">
									<ul>
										<li>Premyslený dizajn s veľkým 5“ displejom</li>
										<li>Nová verzia operačného systému Android 7.0</li>
										<li>Plynulý výkon vďaka 4 jadrovému výkonnému procesoru</li>
										<li>Dlhá výdrž batérie 2350mAh</li>
										<li>Dostatočne veľká vnútorná pamäť 16 GB</li>
										<li>Selfie kamera s vlastným bleskom</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.jpg" /></div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Lenovo IdeaPad 110</th>
								</tr>
								<tr>
									<td>
										Procesor:</td>
									<td>
										Intel® Celeron® N3060</td>
								</tr>
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Windows 10 Home</td>
								</tr>
								<tr>
									<td>
										Grafická karta:</td>
									<td>
										integrovaná grafická karta Intel®</td>
								</tr>
								<tr>
									<td>
										Web kamera/mikrofón:</td>
									<td>
										0,3 Mpx s mikrofónom</td>
								</tr>
								<tr>
									<td>
										Pamäť:</td>
									<td>
										4 GB DDR3</td>
								</tr>
								<tr>
									<td>
										Ukladací priestor:</td>
									<td>
										500 GB 5400RPM</td>
								</tr>
								<tr>
									<td>
										Batéria:</td>
									<td>
										24 Wh</td>
								</tr>
								<tr>
									<td>
										Displej:</td>
									<td>
										15,6" HD (1366 x 768) s technológiou TN</td>
								</tr>
								<tr>
									<td>
										Rozmery (Š x H x V):</td>
									<td>
										378 x 265 x 22,9 mm</td>
								</tr>
								<tr>
									<td>
										Hmotnosť:</td>
									<td>
										od 2,2 kg</td>
								</tr>
								<tr>
									<td>
										Farba:</td>
									<td>
										čierna Ebony Black</td>
								</tr>
								<tr>
									<td>
										Optická jednotka:</td>
									<td>
										integrovaná (DVD±RW)</td>
								</tr>
								<tr>
									<td>
										WLAN:</td>
									<td>
										WiFi 802.11 a/c</td>
								</tr>
								<tr>
									<td>
										LAN:</td>
									<td>
										10/100 Mbit</td>
								</tr>
								<tr>
									<td>
										Bluetooth®:</td>
									<td>
										4.0</td>
								</tr>
								<tr>
									<td>
										Porty:</td>
									<td>
										1 x USB 3.0, 1 x USB 2.0, 3,5 mm kombinovaný zvukový konektor, 1 x HDMI™, 1 x konektor RJ45<br />
										pre gigabitovú sieť LAN, čítačka kariet 4 v 1 (SD, SDHC, SDXC, MMC)</td>
								</tr>
								<tr>
									<th colspan="2" style="padding-top: 15px;">
										Lenovo Moto C</th>
								</tr>
								<tr>
									<td>
										Rozmery (výška x šírka x hrúbka):</td>
									<td>
										73,6 x 145,5 x 9,0 mm</td>
								</tr>																
								<tr>
									<td>
										Uhlopriečka:</td>
									<td>
										5.0"</td>
								</tr>
								<tr>
									<td>
										Rozlíšenie:</td>
									<td>
										854 x 480</td>
								</tr>
								<tr>
									<td>
										Farba:</td>
									<td>
										Čierna</td>
								</tr>																
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Android</td>
								</tr>
								<tr>
									<td>
										Verzia OS:</td>
									<td>
										7.0</td>
								</tr>
								<tr>
									<td>
										Podporovaná pamäťová karta:</td>
									<td>
										microSD™ až do 32GB</td>
								</tr>																
								<tr>
									<td>
										Pohotovostný režim:</td>
									<td>
										do 340 h</td>
								</tr>
								<tr>
									<td>
										Rozlíšenie fotoaparátu:</td>
									<td>
										5 Mpix</td>
								</tr>
								<tr>
									<td>
										MP3 prehrávač:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										GPS:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										Bluetooth:</td>
									<td>
										áno v4.2</td>
								</tr>
								<tr>
									<td>
										WiFi:</td>
									<td>
										802.11 b/g/n</td>
								</tr>
								<tr>
									<td>
										WiFi HotSpot:</td>
									<td>
										áno</td>
								</tr>
								<tr>
									<td>
										4G:</td>
									<td>
										áno</td>
								</tr>																																																																								
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p>
									Objednávku vám doručíme kuriérom čo najskôr od jej spracovania.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon2.png" />
								<p>
									Ak zistíte, že vám tovar alebo služba nevyhovuje, môžete ich vrátiť do 14 dní bez udania dôvodu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/detail.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>