<section id="hero-bg">
    <div id="hero" class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title font_mine-shaft"> <b class="font_white">DÁTOVÉ SLUŽBY</b></h1>
            <a class="scroll-to btn cta" href="#sec-1" style="text-decoration: none;">MÁM ZÁUJEM</a><br>
            <a class="scroll-to link" href="#sec-1"><span>Viac info o dátovaní</span><img alt=" " src="/documents/10179/573671/arrow-bottom.png"></a>
        </div>
    </div>
</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">Dátove balíčky k paušálom Happy</a></li>
        <li><a class="scroll-to" href="#sec-2">Doplnkové balíčky k paušálom Happy</a></li>
        <li><a class="scroll-to" href="#sec-3">Dáta k EASY PECKA</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="/documents/10179/573671/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <p class="section__title"><b>VYUŽITE DÁTOVÉ BALÍČKY K PAUŠÁLOM HAPPY</b>
            <br />podľa svojich predstáv</p>
            <p class="section__desc"><b>Pozrite si názorné ukážky toho, čo dokážete s jednotlivými balíčkami z našej ponuky.</b>
                <br /> Surfujte na webe, počúvajte obľúbenú hudbu alebo si pozrite niektorý z aktuálnych športových zápasov. S našimi balíkmi môžete robiť všetko. <img src="/documents/10179/573671/ico-info.png" id="info-1" alt="">
            </p>

            <div id="app__wrapper" class="row">
                <div class="grid-g__col_5">
                    <div class="controls">
                        <div class="controls__wrapper">
                            <a href="#" class="controls__left"></a>
                            <a href="#" class="controls__right"></a>
                        </div>
                    </div>
                </div>

                <div class="grid__col_12 text_centered devices">
                    <div class="device__wrapper">
                        <div class="device__small device__small__first">
                            <div class="device__screen__small device__screen__small__first">

                            </div>
                        </div>
                    </div>

                    <div class="device">
                        <div class="device__screen">

                        </div>
                    </div>

                    <div class="device__wrapper">
                        <div class="device__small device__small__last">
                            <div class="device__screen__small device__screen__small__last">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__col_12 text_centered">
                    <div class="text-area">

                    </div>
                </div>
            </div>

            <div class="stack">
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen1.png" alt="">
                    <div class="text_content">
                        <p>100 MB je súčasťou paušálu <b><a href="/volania/happy?sluzby-a-ceny#sec-2">Happy XS</a></b> a najmenšieho <b><a href="#sec-2" class="scroll-to">doplnkového dátového balíčka pre paušály Happy</a></b>.</p>
                    </div>
                </div>
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen2.png" alt="">
                    <div class="text_content">
                        <p>200 MB je súčasťou paušálu <b><a href="/volania/happy?sluzby-a-ceny#sec-2">Happy S</a></b>.</p>
                    </div>
                </div>
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen3.png" alt="">
                    <div class="text_content">
                        <p>500 MB je súčasťou paušálu <b><a href="/volania/happy?sluzby-a-ceny#sec-2">Happy M</a></b>, <b><a href="/volania/happy?sluzby-a-ceny#sec-2">Happy XL VOLANIA</a></b> a stredného <b><a href="">doplnkového dátového balíčka pre paušály Happy</a></b>.</p>
                    </div>
                </div>
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen4.png" alt="">
                    <div class="text_content">
                        <p>1 000 MB si môžete zakúpiť ako <b><a href="#sec-2" class="scroll-to">doplnkový dátový balíček</a></b> pre paušály Happy M a vyššie alebo ako balíček <b><a href="#sec-3" class="scroll-to">Surf 1 000 k Easy Pecka</a></b>.</p>
                    </div>
                </div>
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen5.png" alt="">
                    <div class="text_content">
                        <p>2 000 MB je súčasťou paušálu <b><a href="/volania/happy?sluzby-a-ceny#sec-2">Happy L</a></b>.</p>
                    </div>
                </div>
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen6.png" alt="">
                    <div class="text_content">
                        <p>4 000 MB je súčasťou paušálu <b><a href="/volania/happy?sluzby-a-ceny#sec-2">Happy XL</a></b>.</p>
                    </div>
                </div>
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen7.png" alt="">
                    <div class="text_content">
                        <p>8 000 MB je súčasťou paušálu <b><a href="/volania/happy?sluzby-a-ceny#sec-4">Happy XXL</a></b>.</p>
                    </div>
                </div>
                <div class="stack__item">
                    <img src="/documents/10179/573671/screen8.png" alt="">
                    <div class="text_content">
                        <p>12 000 MB je súčasťou paušálu <b><a href="/volania/happy?sluzby-a-ceny#sec-4">Happy Profi</a></b>.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="sec-2" class="section sec-2">
        <div class="fixed-column">
            <p class="section__title"><b>BALÍČKY K PAUŠÁLOM HAPPY</b>
                <br />Dátujte 4G rýchlosťou aj po minutí dát
                <br />z paušálu</p>
                <p class="section__desc">Nestačia vám dáta vo vašom paušále? Pozrite si ponuku našich doplnkových balíčkov a naďalej dátujte maximálnou rýchlosťou za super cenu.</p>

                <div class="row">
                    <div class="grid__col_4">
                        <div class="pack__box">
                            <div class="pack__title">100 MB</div>
                            <div class="pack__desc"><b>dátový balíček</b>
                                <br />pre všetky paušály Happy <img src="/documents/10179/573671/ico-info.png" class="info-2" alt=""></div>
                                <div class="pack__price">1,99 €</div>
                                <a href="#popup1" class="popups button button_lima button__pack">aktivovať</a>
                            </div>
                        </div>
                        <div class="grid__col_4">
                            <div class="pack__box mid">
                                <div class="pack__title">500 MB</div>
                                <div class="pack__desc"><b>dátový balíček</b>
                                    <br />pre všetky paušály Happy <img src="/documents/10179/573671/ico-info.png" class="info-3" alt=""></div>
                                    <div class="pack__price">4,99 €</div>
                                    <a href="#popup2" class="popups button button_lima button__pack">aktivovať</a>
                                </div>
                            </div>
                            <div class="grid__col_4">
                                <div class="pack__box">
                                    <div class="pack__title">1 000 MB</div>
                                    <div class="pack__desc"><b>dátový balíček</b>
                                        <br />pre paušály Happy M a vyššie <img src="/documents/10179/573671/ico-info.png" class="info-4" alt=""></div>
                                        <div class="pack__price">5,99 €</div>
                                        <a href="#popup3" class="popups button button_lima button__pack">aktivovať</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="grid__col_12 disclaimer">Balíček platí do vyčerpania alebo do konca príslušného zúčtovacieho obdobia.</div>
                                <div class="grid__col_12 apps">
                                    <div class="grid__col_4">Balíčky si môžete kúpiť aj cez aplikáciu Telekom.</div>
                                    <div class="grid__col_8 apps__links">
                                        <a href="https://itunes.apple.com/sk/app/telekom/id582997807?mt=8" target="_blank"><img class="appstore" src="/documents/10179/573671/ico-appstore.png" alt=""></a>
                                        <a href="https://play.google.com/store/apps/details?id=com.telekom.portal&hl=sk" target="_blank"><img src="/documents/10179/573671/ico-playstore.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section id="sec-3" class="section sec-3">
                        <div class="fixed-column">
                            <div class="squares">
                                <p class="section__title"><b>Easy Pecka</b>
                                    <br />Dátujte najvyššou rýchlosťou
                                    <br />aj bez paušálu</p>
                                    <p class="section__desc">Máte Easy Pecka? Nezabudli sme ani na vás. Vďaka balíčku SURF 1000 môžete aj vy pohodlne a bez problémov dátovať v našej 4G sieti.</p>
                                </div>
                                <div class="promo">
                                    <div class="text-wrapper">
                                        <div class="promo__title">SURF 1000</div>
                                        <div class="promo__subtitle">1 000 MB</div>
                                        <div class="promo__text"><b>dátový balíček</b>
                                            <br />s rýchlosťou do 150 Mb/s</div>
                                        </div>
                                        <div class="promo__post-it"></div>
                                        <a href="#popup4" class="popups button promo__button">aktivovať</a>
                                    </div>
                                </div>
                            </section>


                            <!--  POPUPS -->


                            <div id="popup1" class="popup-content" style="display:none">
                                Pre aktiváciu zašlite SMS s textom
                                <br><strong>DATA100ZAP</strong> na číslo <strong>12323</strong>
                            </div>

                            <div id="popup2" class="popup-content" style="display:none">
                                Pre aktiváciu zašlite SMS s textom
                                <br><strong>DATA500ZAP</strong> na číslo <strong>12323</strong>
                            </div>

                            <div id="popup3" class="popup-content" style="display:none">
                                Pre aktiváciu zašlite SMS s textom
                                <br><strong>DATA1000ZAP</strong> na číslo <strong>12323</strong>
                            </div>

                            <div id="popup4" class="popup-content" style="display:none">
                                Pre aktiváciu zašlite SMS s textom
                                <br><strong>SURF1000 ZAP</strong> na číslo <strong>12330</strong>
                            </div>

                            <script type="text/javascript" src="/documents/10179/573673/app-slider.js"></script>
                            <script type="text/javascript" src="/documents/10179/573673/main.js"></script>
