<div ng-app="mag-1">

    <div ng-view></div>

</div>

<!-- build:js -->
<!-- ccs:test -->

<!-- CORE -->

<script type="text/javascript" src="../assets/lib/js/angular-main/angular.js"></script>

<!-- PLUGINS -->

<script type="text/javascript" src="../assets/lib/js/angular-plugins/angular-mocks.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/angular-route.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/angular-animate.min.js"></script>

<!-- MODULES -->

<script type="text/javascript" src="../assets/js/app.module.js"></script>

<!-- CONFIG -->

<script type="text/javascript" src="../assets/js/config/app.config.js"></script>
<script type="text/javascript" src="../assets/js/config/routes.config.js"></script>
<script type="text/javascript" src="../assets/js/config/const.config.js"></script>

<!-- SERVICES & DATA -->

<script type="text/javascript" src="../assets/js/data/user.service.js"></script>
<script type="text/javascript" src="../assets/js/data/data-chooser.service.js"></script>
<script type="text/javascript" src="../assets/js/data/crossroads.const.js"></script>
<script type="text/javascript" src="../assets/js/services/http.service.js"></script>
<script type="text/javascript" src="../assets/js/services/local-storage.service.js"></script>

<!-- PAGES -->

<script type="text/javascript" src="../assets/js/pages/landing/landing.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/calc-intro/calc-intro.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/calc-crossroads/calc-crossroads.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/calc-chooser/calc-chooser.component.js"></script>

<!-- COMPONENTS -->

<script type="text/javascript" src="../assets/js/components/calc-entrance/calc-entrance.component.js"></script>
<script type="text/javascript" src="../assets/js/components/step-indicator/step-indicator.component.js"></script>
<script type="text/javascript" src="../assets/js/components/step-controls/step-controls.component.js"></script>
<script type="text/javascript" src="../assets/js/components/service-crossroads/service-crossroads.component.js"></script>
<script type="text/javascript" src="../assets/js/components/service-chooser/service-chooser.component.js"></script>
<script type="text/javascript" src="../assets/js/components/phone-num/phone-num.component.js"></script>
<script type="text/javascript" src="../assets/js/components/popup/popup.component.js"></script>

<!-- /ccs:test -->
<!-- endbuild -->