/* ===============
   CSS FOR MICROSITE
   =============== */

/* ===============
    GLOBALS FOR ALL 
   =============== */

.text_centered {
  margin: 0 auto;
}

.section {
  padding: 20px 0 50px 0;
  font-size: 16px;
}

#content .section__nav {
  padding: 0;
}

#content .section__title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  line-height: 38px;
}

#content .main_sec {
  display: inline-block;
}

#content .section__title__double {
  margin-bottom: 0;
}

#content .section__subtitle {
  font-size: 2.5em;
  text-transform: uppercase;
  border: 0;
  margin-top: 0;
}

.col-sm-4 {
  @media screen and (max-width: 543px) {
    margin-bottom: 30px;
  }
}

#content .valign {
  display: flex;
  align-items: center;
  @media screen and (max-width: 543px) {
    display: block;
  }
}

.sec__title {
  text-align: center;
}

/* HERO SECTION */

#hero {
  background: url(../img/kv_940.png) no-repeat 50% 50%;
  min-height: 490px;
  padding: 60px 2%;
  overflow: hidden;
  background-size: cover;
  position: relative;
  @media (max-width: 768px) {
    background: url(../img/kv_940.png) no-repeat 54% 50%;
    padding: 30px 2%;
    background-size: cover;
    min-height: 300px;
  }
  @media (max-width: 543px) {
    background: transparent;
    padding: 0;
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  & h1 {
    margin-top: 25px;
  }
  .hero__content {
    position: relative;
    z-index: 2;
    margin-top: 50px;
    @media screen and (max-width: 768px) {
      margin-top: 20px;
      max-width: 65%;
    }
    @media screen and (max-width: 543px) {
      width: 100%;
      max-width: 100%;
      padding: 10px 12% 10px 12%;
      margin: 0;
      text-align: center;
    }
    .ec-holder {
      position: absolute;
      right: -70px;
      top: 5%;
      @media screen and (max-width: 543px) {
        right: auto;
        left: 30px;
        top: -175px;
      }
      img {
        max-width: 100px;
      }
    }
    .btn.cta {
      padding: 8px 60px;
    }
  }
  .hero__mobile {
    display: none;
    @media screen and (max-width: 543px) {
      display: block;
      background: url(../img/kv_940.png) no-repeat 60% 50%;
      background-size: cover;
      height: 215px;
    }

    .device__img {
      width: 100%;
      padding: 0 5%;
      position: relative;
      bottom: -120px;
      z-index: 2;
    }
    @media (max-width: 380px) {
      background-position: 62% 50%;
    }
  }
  .hero__title {
    color: #fff;
    max-width: 350px;
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
    @media screen and (max-width: 543px) {
      color: #262626;
      margin-top: 40px;
    }
    .text_bold {
      font-weight: 800;
      color: $magenta;
    }
    .text_thin {
      display: block;
      /*max-width: 360px;*/
    }
  }
  .moreInfo {
    padding-top: 10px;
    display: block;
    color: #3ec0f0;
    @media screen and (max-width: 543px) {
      width: 100%;
      color: #007faf;
    }
  }
  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/bg_family.png?v=2") 50% 50%;
    background-size: contain;
    min-height: 560px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    @media screen and (max-width: 768px) {
      background-size: contain;
      background-position: 100% 0%;
    }
    @media screen and (max-width: 543px) {
      min-height: 215px;
      background-size: 100%;
      background-position: 50% 0%;
    }
    @media screen and (max-width: 400px) {
      background-size: 130%;
      background-position: 50% 0%;
    }
  }
}

#benefits {
  padding: 50px 0 50px 0;
  background-color: #ededed;
  @media screen and (max-width: 543px) {
    margin-top: 30px;
  }
  .benefits {
    margin-top: 60px;
    @media screen and (max-width: 543px) {
      margin: 0;
    }
  }
  .imgwrapper {
    min-height: 50px;
  }
}

#magioAbilities {
  overflow: hidden;
  padding: 100px 0 0;
  @media screen and (max-width: 543px) {
    padding: 50px 0;
  }
  .device {
    display: flex;
    margin-bottom: 40px;
    @media screen and (max-width: 543px) {
      flex-direction: column;
      margin: 40px 0;
    }
    .device__text {
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 30px;
      margin: 0 !important;
      @media screen and (max-width: 543px) {
        height: auto;
        display: block;
        text-align: center;
        &.device-1,
        &.device-3 {
          order: 2;
        }
      }
      .btn {
        width: inherit;
        text-align: center;
        @media screen and (max-width: 543px) {
          width: 50%;
        }
      }
    }
    .device__img {
      position: relative;
      @media screen and (max-width: 543px) {
        display: block;
        text-align: center;
        img {
          width: auto;
          max-height: 300px;
        }
      }
      .content {
        color: #fff;
        overflow: hidden;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .device__img div:nth-child(1) {
    //border: 1px solid #6c6c6c;
  }
}

#servicesAndPrices {
  padding: 70px 0;
  @media screen and (max-width: 543px) {
    padding: 50px 0;
  }
  .ec {
    position: absolute;
    top: -50px;
    right: 30px;
    width: 110px;
    @media screen and (max-width: 960px) {
      top: -120px;
    }
    @media screen and (max-width: 543px) {
      width: 80px;
      top: -100px;
      right: 0;
    }
    @media screen and (max-width: 400px) {
      width: 80px;
      top: -140px;
      right: 0;
    }
  }
  & h3 {
    margin-top: 90px;
    text-align: center;
    color: #262626;
    font-weight: bold;
  }
  & h4 {
    text-align: center;
    color: #262626;
    margin: 20px 0;
  }
  & p {
    text-align: center;
    max-width: 600px;
    color: #4b4b4b;
    margin: 0 auto 10px auto;
  }

  & .shadow-box {
    background-color: #fff;
    width: 250px;
    display: inline-block;
    border: none;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    margin: 0 10px 20px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;
    @media screen and (max-width: 543px) {
      margin: 0 0 20px 0;
    }
    .channels {
      position: relative;
      overflow: hidden;
      img {
        max-width: 100%;
      }
      .overlay {
        padding: 55px 0 0 0;
        width: 100%;
        height: 157px;
        position: absolute;
        top: 0;
        left: 0;
        h4,
        p {
          margin: 0;
          color: #fff;
        }
        h4 {
          font-size: 26px;
        }
      }
    }
    .content {
      padding: 30px 20px;
      .headline {
        font-weight: 800;
        line-height: normal;
      }
      .subHeadline {
        margin: 0;
        text-align: left;
        font-size: 14px;
      }
      .popupbtn {
        display: block;
        text-align: center;
        margin: 10px 0;
        line-height: 12px;
        &:last-of-type {
          margin-bottom: 30px;
        }
      }
      .buyMagio {
        padding: 10px 15px;
      }
      .havetv {
        margin-top: 15px;
        display: block;
      }
    }
    .terms {
      font-size: 14px;
    }
  }
  .info {
    margin-top: 50px;
  }
  & .text-gray {
    color: #6c6c6c !important;
    font-size: 14px;
  }
  & .text-dark {
    color: #262626 !important;
    font-weight: bold;
  }
  & .text-left {
    text-align: left !important;
    float: left;
  }
  & .text-right {
    text-align: right !important;
    float: right;
  }
  & .magenta {
    color: #e20074 !important;
  }
  & .cta-holder {
    clear: both;
    text-align: center;
    padding-top: 20px;
    margin: 0px auto;
  }
  & .sep {
    border-bottom: 1px dotted #bfbfbf;
    padding-bottom: 12px;
    clear: both;
  }
  & .sep-1 {
    border-top: 1px dotted #bfbfbf;
    padding-top: 12px;
    clear: both;
    line-height: normal;
  }
  & .sep-2 {
    border-bottom: 1px dotted #bfbfbf;
    border-top: 1px dotted #bfbfbf;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn {
    padding: 10px 40px;
  }

  .tabs-container {
    .tab__holder {
      .tabs-menu {
        .variant {
          border-radius: 22px;
          -webkit-border-radius: 22px;
          -moz-border-radius: 22px;
          -ms-border-radius: 22px;
          -o-border-radius: 22px;
          border: none;
          float: none;
          display: inline-block;
          &:hover {
            border-bottom: none;
            background-color: #dedede;
          }
          @media screen and (max-width: 543px) {
            width: auto;
          }
          a {
            padding: 0 20px;
          }
          &:not(:last-of-type) {
            margin-right: 5px;
          }
          &.current {
            background-color: $magenta;
            border-bottom: none;
            -webkit-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            a {
              color: #fff;
            }
          }
        }
      }
    }
    .tab {
      border: none;
    }
  }
  .tab-content {
    margin-top: 20px;
  }

  @media (max-width: 480px) {
    h3 {
      margin-top: 40px;
    }
  }
}

#howToGetMagioGO {
  padding: 70px 0;
  #tabs-triangle {
    margin-top: 30px;
    .btn.cta {
      margin-bottom: 20px;
    }
    .tab-content {
      h3 {
        a {
          color: #4b4b4b;
          font-size: 100%;
        }
      }
      p {
        margin: 0;
      }
      .btn {
        margin-top: 40px;
      }
      img {
        margin: 20px 30px;
      }
    }
  }
}

#technology-spec {
  .specifications {
    h3 {
      font-size: 16px;
      color: #262626;
      margin: 3px 0;
    }
    .spec1 {
      border-top: 2px solid #6c6c6c;
    }
    div[class^="spec"] {
      border-bottom: 1px solid #d0d0d0;
      p {
        display: inline-block;
        width: 49.5%;
        vertical-align: middle;
        @media (max-width: 543px) {
          width: 49%;
        }
      }
      span {
        display: block;
      }
    }
    .link {
      margin-top: 15px;
      display: block;
    }
  }
}
