/* ZOOM GALLERY */

.gallery {
  position: relative;
  margin-bottom: 30px;
}

.zoomWindowContainer div {
  top: -69px !important;
}

.thumbnails {
  float: left;
  padding-right: 10px;
  width: 21%;
}

.full__holder {
  float: left;
  width: 79%;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview {
  width: 55px;
  height: 55px;
  //overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:hover {
    background-color: #e0e0e0;
  }
  a {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    &.selected {
      border: 1px solid #000;
    }
  }
}

.preview img {
  height: 100%;
}

.preview:last-child {
  margin-bottom: 0;
}

.zoomLens {
  cursor: zoom-in !important;
}

.full {
  max-width: 240px;
  width: 100%;
  font-size: 12px;
  //float: left;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.controlls {
  display: none;
}

@media screen and (max-width: 768px) {
  .indicator {
    background-color: #d0d0d0;
    height: 3px;
    width: 100%;
  }

  .indicator:after {
    content: "";
    display: table;
    clear: both;
  }

  .in__content {
    background-color: $magenta;
    height: 3px;
  }

  #content .controlls a {
    color: #383838;
    font-size: 18px;
  }

  .controlls {
    display: block;
  }

  .control__holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .control-left {
  }

  #content .img-size {
    display: inline-block;
  }

  .control-right {
  }

  .full__holder {
    text-align: center;
    width: auto;
    float: none;
  }

  .full {
    float: none;
  }

  .thumbnails {
    display: none;
  }
}
