.wbreadcrumbs {
	display: none;
}

#smarthome-table tbody tr td:first-child {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
	word-break: break-all;
}

#smarthome-table tbody tr td:last-child {
	font-weight: bold;
}

#smarthome-table tbody tr:first-child {
	display: none;
}

.shippment td {
	padding-top: 20px;
}

#smarthome-header h2, #smarthome-final h2, #smarthome-error h2 {
	border-bottom: none;
	text-align: center;
}

#smarthome-final {
	display: none;
}

#smarthome-error {
	display: none;
}

#smarthome-table {
	display: none;
}

#smarthome-header {
	display: none;
}