<div class="c-row c-row-1">
    <div class="c-content">
        <div class="left">
            <h1>
			    <span class="logo">MAGENTA 1</span><br />
                <span class="normal">NEOBMEDZENÉ MOBILNÉ<br />VOLANIA ZA LEPŠIU CENU</span></h1>
            <div class="order">
                <a href="" id="row-1-order">Pozrieť viac info <img id="row-1-info" src="/documents/10179/649728/arrow-down.png" /> </a></div>
        </div>
        <!--		<img id="magenta1-logo" src="/documents/10179/538197/magenta1-logo.png" />-->
    </div>
</div>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-2">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-1">SLUŽBY A CENY</a></li>
        <li>
            <a class="scroll-to bold" href="#sec-3">AKTUÁLNE AKCIE</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">AKO OBJEDNAŤ</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/520299/arrow-top.png" /></a></li>
    </ul>
</div>



<section class="section" id="sec-2">
    <div class="c-row c-row-3">
        <div class="c-content">
            <div class="header">
                <h2>
					VÝHODY MAGENTA 1</h2>
            </div>
            <div class="tiles">
                <div class="c-tile c-tile-1">
                    <div class="c-tile-img">
                        <img src="/documents/10179/649728/ico-1.png" /></div>
                    <div class="c-tile-desc">
                        <span class="bold">Neobmedzené volania za lepšiu cenu</span>
                        <br /> Magenta 1 znamená, že ak máte jednu alebo dve pevné služby (Magio internet, televíziu alebo Pevnú linku), získate mobilné paušály s neobmedzenými volaniami za výhodnejšiu cenu.</div>
                </div>
                <div class="c-tile c-tile-2">
                    <div class="c-tile-img">
                        <img src="/documents/10179/649728/ico-2.png" /></div>
                    <div class="c-tile-desc">
                        <span class="bold">Bonus až 100 € na telefón</span>
                        <br />
                        <span id="rodina4">S Magentou 1 môžete získať bonus až 100 € na nákup mobilného telefónu pre vás a vašich zamestnancov</span></div>
                </div>
                <div class="c-tile c-tile-3">
                    <div class="c-tile-img">
                        <img src="/documents/10179/649728/ico-3.png" /></div>
                    <div class="c-tile-desc">
                        <span class="bold">Mobilná TV Magio GO zadarmo</span>
                        <br /> S Magentou 1 získate mobilnú televíziu Magio GO so 7-dňovým archívom zadarmo. Sledovať televíziu môžete až na troch zariadeniach (napr. mobil, tablet alebo notebook) súčasne.
                        <br />
                        <a href="/televizia/magio-go">Viac o Magio GO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="section" id="sec-1">
	<div class="c-row c-row-2">
		<div class="c-content">
			<div class="tiles">
				<div class="tiles-left">
					<div class="header">
						<img id="" src="/documents/10179/649728/100-EUR-BONUS.png" />
						<h3>
							AK SI VYBERIETE:</h3>
					</div>
					<div class="tile-top">
						<div class="c-tile c-tile-1">
							<div class="tile-cislo">
								2</div>
							<div class="c-tile-box">
								<h4>
									PEVNÉ SLUŽBY L/XL</h4>
								<div class="c-tile-img">
									<img src="/documents/10179/538197/icon-sluzby.png" /></div>
							</div>
							<div class="c-tile-desc">
								Magio televíziu, Internet alebo Pevnú linku</div>
							<div class="c-tile-order">
								<a class="button button-green" href="/chytry-balik">PEVNÉ SLUŽBY</a></div>
						</div>
						<div class="c-tile-small">
							<img src="/documents/10179/538197/icon_magenta-plus.png" /></div>
						<div class="c-tile c-tile-2">
							<div class="tile-cislo">
								1</div>
							<div class="c-tile-box">
								<h4>
									HAPPY PAUŠÁL<br />
									ZA VÝHODNÚ CENU <img id="left-happy-pausal" src="/documents/10179/538197/icon-info.png" /></h4>
							</div>
							<div class="c-tile-desc">
								L, XL volania, XL data, XL, XXL alebo Profi</div>
							<div class="c-tile-order">
								<a class="button button-green" href="/mob/objednavka/-/scenario/e-shop/magenta1">ZVÝHODNENÝ PAUŠÁL</a></div>
						</div>
					</div>
					<div class="tile-bottom">
						<img src="/documents/10179/538197/icon_magenta-down.png" />
						<h3>
							ZÍSKATE NÁROK NA:</h3>
						<div class="header-small">
							<h4>
								3 ZVÝHODNENÉ MOBILNÉ PAUŠÁLY<br />
								s neobmedzenými volaniami</h4>
						</div>
						<div class="c-tile c-tile-1">
							<div class="c-tile-img">
								<img src="/documents/10179/538197/icon-pausal2.png" /></div>
							<h4>
								HAPPY XS <img id="left-happy-xs" src="/documents/10179/538197/icon-info.png" /></h4>
							<div class="c-tile-price">
								7,99 € mes.</div>
							<div class="magenta1-tooltip">
								<div id="left-happy-xs-content">
									■ neobmedzené volania do mobilnej a pevnej siete Telekom mimo špičky a cez víkend<br />
									■ 50 min. volaní v SR a do EÚ<br />
									■ 100 MB dát<br />
									■ 0,10 € / SMS a MMS v rámci SR</div>
							</div>
						</div>
						<div class="c-tile c-tile-2">
							<div class="c-tile-img">
								<img src="/documents/10179/538197/icon-pausal2.png" /></div>
							<h4>
								HAPPY M <img id="left-happy-m" src="/documents/10179/538197/icon-info.png" /></h4>
							<div class="c-tile-price">
								19,99 € mes.</div>
							<div class="magenta1-tooltip">
								<div id="left-happy-m-content">
									■ neobmedzené volania do mobilnej a pevnej siete Telekom<br />
									■ 150 min. volaní v SR a do EÚ<br />
									■ 500 MB dát<br />
									■ neobmedzené SMS a MMS v rámci SR</div>
							</div>
						</div>
						<div class="c-tile c-tile-3">
							<div class="c-tile-img">
								<img src="/documents/10179/538197/icon-pausal2.png" /></div>
							<h4>
								HAPPY L <img id="left-happy-l" src="/documents/10179/538197/icon-info.png" /></h4>
							<div class="c-tile-price">
								24,99 € mes.</div>
							<div class="magenta1-tooltip">
								<div id="left-happy-l-content">
									■ neobmedzené volania do mobilnej a pevnej siete Telekom<br />
									■ 250 min. volaní v SR a do EÚ<br />
									■ 2 000 MB dát<br />
									■ neobmedzené SMS a MMS v rámci SR</div>
							</div>
						</div>
						<div class="c-tile c-tile-4">
							<div class="c-tile-img">
								<img src="/documents/10179/538197/icon-pausal2.png" /></div>
							<h4>
								HAPPY XL VOLANIA <img id="left-happy-xl2" src="/documents/10179/538197/icon-info.png" /></h4>
							<div class="c-tile-price">
								22,99 € mes.</div>
							<div class="magenta1-tooltip">
								<div id="left-happy-xl2-content">
									■ neobmedzené volania do všetkých sietí v SR, 1 000 minút do EÚ zo SR a 1 000 minút prijatých v EÚ<br />
									■ 500 MB dát<br />
									■ neobmedzené SMS a MMS v rámci SR</div>
							</div>
						</div>
						<div class="c-tile c-tile-5">
							<div class="c-tile-img">
								<img src="/documents/10179/538197/icon-pausal2.png" /></div>
							<h4>
								HAPPY XL <img id="left-happy-xl" src="/documents/10179/538197/icon-info.png" /></h4>
							<div class="c-tile-price">
								32,99 € mes.</div>
							<div class="magenta1-tooltip">
								<div id="left-happy-xl-content">
									■ neobmedzené volania do všetkých sietí v SR, 1 000 minút do EÚ zo SR a 1 000 minút prijatých v EÚ<br />
									■ 4 000 MB dát<br />
									■ neobmedzené SMS a MMS v rámci SR</div>
							</div>
						</div>
						<div class="c-tile-order">
							<a class="button button-green" href="/objednavka/-/scenario/e-shop/chytry-balik-biznis" id="rodina2">CHCEM PAUŠÁL DO FIRMY</a></div>
					</div>
				</div>
				<div class="tiles-right">
					<div class="header">
						<!--<img id="" src="/documents/10179/538197/eyecatcher_BONUS.png" />--><img id="" src="/documents/10179/649728/50-EUR-BONUS.png" />
						<h3>
							AK SI VYBERIETE:</h3>
					</div>
					<div class="tile-top">
						<div class="c-tile c-tile-1">
							<div class="tile-cislo">
								1</div>
							<div class="c-tile-box">
								<h4>
									PEVNÚ SLUŽBU L/XL</h4>
								<div class="c-tile-img">
									<img src="/documents/10179/538197/icon-sluzby.png" /></div>
							</div>
							<div class="c-tile-desc">
								Magio televíziu, Internet alebo Pevnú linku</div>
							<div class="c-tile-order">
								<a class="button button-green" href="/chytry-balik">PEVNÉ SLUŽBY</a></div>
						</div>
						<div class="c-tile-small">
							<img src="/documents/10179/538197/icon_magenta-plus.png" /></div>
						<div class="c-tile c-tile-2">
							<div class="tile-cislo">
								1</div>
							<div class="c-tile-box">
								<h4>
									HAPPY PAUŠÁL<img id="right-happy-pausal" src="/documents/10179/538197/icon-info.png" /></h4>
								<div class="c-tile-img">
									<img src="/documents/10179/538197/icon-pausal2.png" /></div>
							</div>
							<div class="c-tile-desc">
								L, XL volania, XL data, XL, XXL alebo Profi</div>
							<div class="c-tile-order">
								<a class="button button-green" href="/mob/objednavka/-/scenario/e-shop/magenta1">ZVÝHODNENÝ PAUŠÁL</a></div>
						</div>
					</div>
					<div class="tile-bottom">
						<img src="/documents/10179/538197/icon_magenta-down.png" />
						<div class="header">
							<h3>
								ZÍSKATE NÁROK NA:</h3>
						</div>
						<div class="tile-bottom-left">
							<div class="header-small">
								<h4>
									jeden z týchto benefitov<br />
									na dva roky:</h4>
							</div>
							<div class="benefit-desc">
								<div>
									Ochrana až piatich zariadení<br />
									s rozšírenou licenciou od firmy<br />
									ESET. <img id="info-eset" src="/documents/10179/538197/icon-info.png" /></div>
								<div>
									Mesačne 1 GB dát navyše</div>
								<div>
									Pôjdeto pomocník Premium</div>
								<div>
									Bonus na mobil 50 €</div>
								<div>
									Mobilná televízia Magio GO s<br />
									archívom</div>
								<div>
									Zdielaná SIM karta so 4G<br />
									modemom.</div>
								<div>
									Navigácia Sygic len v<br />
									kombinácii s OS Android</div>
								<div>
									Office 365 Business Essentials</div>
							</div>
							<div class="magenta1-tooltip">
								<div id="info-eset-content">
									Podmienkou využitia benefitu je zriadenie alebo objednanie služby prístupu do internetu (ADSL, VDSL, Optika)</div>
							</div>
						</div>
						<div class="tile-bottom-right">
							<div class="header-small">
								<h4>
									3 ZVÝHODNENÉ MOBILNÉ PAUŠÁLY<br />
									s neobmedzenými volaniami</h4>
							</div>
							<div class="c-tile c-tile-1">
								<h4>
									HAPPY XL DATA <img id="right-happy-xldata" src="/documents/10179/538197/icon-info.png" /></h4>
								<div class="c-tile-desc">
									len k Magenta 1</div>
								<div class="c-tile-price">
									22,99 € mes.</div>
								<div class="magenta1-tooltip">
									<div id="right-happy-xldata-content">
										■ 3 GB dát na online<br />
										■ 100 voľných minút do SR, EU a prichádzajúce v EU<br />
										■ Neobmedzené volania do Telekomu a pevných sietí SR mimo špičky a cez víkend</div>
								</div>
							</div>
							<div class="c-tile c-tile-2">
								<h4>
									HAPPY XL VOLANIA <img id="right-happy-xl2" src="/documents/10179/538197/icon-info.png" /></h4>
								<div class="c-tile-price">
									22,99 € mes.</div>
								<div class="magenta1-tooltip">
									<div id="right-happy-xl2-content">
										■ neobmedzené volania do všetkých sietí v SR, 1 000 minút do EÚ zo SR a 1 000 minút prijatých v EÚ<br />
										■ 500 MB dát<br />
										■ neobmedzené SMS a MMS v rámci SR</div>
								</div>
							</div>
							<div class="c-tile c-tile-3">
								<h4>
									HAPPY L <img id="right-happy-l" src="/documents/10179/538197/icon-info.png" /></h4>
								<div class="c-tile-price">
									24,99 € mes.</div>
								<div class="magenta1-tooltip">
									<div id="right-happy-l-content">
										■ neobmedzené volania do mobilnej a pevnej siete Telekom<br />
										■ 250 min. volaní v SR a do EÚ<br />
										■ 2 000 MB dát<br />
										■ neobmedzené SMS a MMS v rámci SR</div>
								</div>
							</div>
							<div class="c-tile c-tile-4">
								<h4>
									HAPPY XL <img id="right-happy-xl" src="/documents/10179/538197/icon-info.png" /></h4>
								<div class="c-tile-price">
									32,99 € mes.</div>
								<div class="magenta1-tooltip">
									<div id="right-happy-xl-content">
										■ neobmedzené volania do všetkých sietí v SR, 1 000 minút do EÚ zo SR a 1 000 minút prijatých v EÚ<br />
										■ 4 000 MB dát<br />
										■ neobmedzené SMS a MMS v rámci SR</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="section" id="sec-3">
    <div class="c-row c-row-4">
        <div class="c-content">
            <div class="header-top">
                <h2>AKTUÁLNE AKCIE</h2>
            </div>
            <div class="box box-1">
                <div class="box-content">
                    <div class="box-header">
                        <h3>
                           Získajte zadarmo až 20 GB úložného priestoru<br />s <span class="bold">Magenta</span>Cloud</h3>
                    </div>
                    <div class="box-desc">
                        So službou Magenta Cloud si vytvoríte zálohu svojich súborov, dokumentov, fotografií či videí, ktoré môžete zdieľať s ostatnými členmi rodiny. Ako zákazník Magenty 1 získate priestor 5 GB pre každého člena rodiny, čiže spolu až 4 x 5 GB úplne zadarmo.
                    </div>
                    <div class="box-order">
                        <a class="blue" href="http://www.magentajedna.sk">Prejsť na <span class="bold">Magenta</span>Cloud</a></div>
                </div>
            </div>
            <div class="box box-2">
                <div class="box-content">
                    <div class="box-header">
                        <h3>Bezplatné služby firmy Pôjdeto</h3>
                    </div>
                    <div class="box-desc">
                        Pracovníci z Pôjdeto vám zadarmo pomôžu s nastavením prihlasovacích údajov k službám Telekomu, s nastavením e-mailu, inštaláciou aplikácií (ESET, Magio GO, Sygic) a so zálohovaním kontaktov.
                        <div class="bold">
                            <a href="/documents/10179/543359/PojdetoPomocnikLight.pdf/d189fc87-749d-4673-97eb-3902e42966f6" target="_blank">Volajte na bezplatnú linku<br />0800 800 700</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="section" id="sec-4">
    <div class="c-row c-row-5">
        <div class="c-content">
            <div class="header">
                <h2>
					AKO OBJEDNAŤ MAGENTA 1</h2>
            </div>
            <div class="tiles">
                <div class="c-tile c-tile-1">
                    <div class="c-tile-img">
                        <img src="/documents/10179/649728/step-1.png" /></div>
                    <div class="c-tile-desc">
                        <span class="bold">Ak nemáte ani jednu pevnú službu</span>
                        <br /> Pre využitie výhod Magenty 1 je potrebné mať alebo si zriadiť aspoň jednu z pevných služieb L alebo XL (Magio internet, televíziu alebo Pevnú linku). V závislosti od počtu pevných služieb získate viac výhod.
                        <br />
                        <a href="/chytry-balik">Prejsť na Pevné služby</a>
                    </div>
                </div>
                <div class="c-tile c-tile-2">
                    <div class="c-tile-img">
                        <img src="/documents/10179/649728/step-2.png" /></div>
                    <div class="c-tile-desc">
                        <span class="bold">Ak máte jednu a viac pevných služieb</span>
                        <br />
                        <span id="rodina4">Ak máte Magio internet, televíziu alebo Pevnú linku vo veľkosti L alebo XL, môžete si vziať jeden z mobilných paušálov Happy (L, XL volania, XL data, XL, XXL alebo Profi) s neobmedzenými volaniami za zvýhodnenú cenu!</span>
                        <br />
                        <a class="button button-green" href="/mob/objednavka/-/scenario/e-shop/magenta1">ZVÝHODNENÝ PAUŠÁL</a>
                    </div>
                </div>
                <div class="c-tile c-tile-3">
                    <div class="c-tile-img">
                        <img src="/documents/10179/649728/step-3.png" /></div>
                    <div class="c-tile-desc">
                        <span class="bold">Ak máte jednu alebo viac pevných služieb a jeden zo zvýhodnených paušálov Happy,</span>
                        <br /> máte nárok na ďalšie 3 výhodné paušály Happy (platí aj pre Easy Pecka) s neobmedzenými volaniami pre vás a vašich zamestnancov.
                        <br />
                        <a href="/televizia/magio-go">Viac o Magio GO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="sec-6 section section-custom" id="sec-6">
    <div class="fixed-column">


        <div class="c-content"> <a class="note-zdielanie" href="" onclick="$('#happy-legal').toggle('slow');return false;">Obchodné podmienky</a>
            <div id="happy-legal" style="display: none;">
                <div class="happy-legal">
                    <div class="happy-legal-content" id="happy-legal-1">

                        <p>
                            Účastník, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy L a vyšším s viazanosťou 24 mesiacov (ďalej len „Happy“) vo vzťahu k novej SIM karte a k telefónnemu číslu, ktoré bolo prenesené k Podniku od iného podniku poskytujúceho elektronické komunikačné služby na základe Podnikom akceptovanej Žiadosti o prenos čísla v mobilnej sieti k spoločnosti Slovak Telekom, a.s., získava bonus za aktiváciu čísla (ďalej len „Bonus“) a zľavu vo výške 50 € na akciovú kúpnu cenu Zariadenia (ďalej len „Zľava“). V prípade, ak výška Zľavy presiahne výšku kúpnej ceny Zariadenia, je kúpna cena Zariadenia 1 €. Bonus za aktiváciu je uplatňovaný vo forme zľavy za Služby poskytované vo vzťahu k SIM karte v celkovej výške: (i) Bonus 100,- €, ktorý bude uplatňovaný v sumách po 5,- € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy L, Happy XL data, alebo Happy XL volania v zmysle tohto Dodatku; (ii) Bonus 150,- €, ktorý bude uplatňovaný v sumách po 7,50 € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy XL, Happy XXL alebo Happy Profi v zmysle Dodatku. Bonus podľa predchádzajúcej vety je možné vo vzťahu k telefónnemu číslu využiť a uplatniť iba jedenkrát (nie opakovane), pričom výška Bonusu je počas celého obdobia jeho uplatňovania závislá od úrovne programu Happy, ktorý bol aktivovaný pri uzavretí Dodatku. Nárok na Bonus definitívne zaniká v prípadoch: (i) prerušenia poskytovania Služieb alebo deaktivácie zvoleného programu Služieb Happy na iné programy Služieb než Happy (ii) uzavretia nového dodatku k Zmluve, ktorým sa tento Dodatok zruší. Ponuku nie je možné kombinovať a súčasne využívať s akoukoľvek inou akciovou ponukou Podniku, s výnimkou ponuky Magenta 1 vo verzii „Rodina 1+1“ v prípade využitia ponuky pre Vlastníka, ak z výslovných pokynov Podniku nevyplýva niečo iné.</p>
                        <p>
                            Podmienkou využitia ponuky Magenta 1 a) v kombinácii „2 + 1“ je uzavretie dodatku s viazanosťou 24 mesiacov na program služby Happy L, XL Volania, XL Data, XL, XXL alebo Profi a súčasné využívanie aspoň dvoch služieb pevnej siete – televízie, internetu a hlasovej služby v programe L alebo XL v rámci balíka služieb týmto Účastníkom a b) v kombinácii „1 + 1“ je uzavretie dodatku s viazanosťou 24 mesiacov na program služby Happy L, XL volania, XL data, XL, XXL alebo Profi a súčasné využívanie aspoň jednej služby pevnej siete – televízie, internetu alebo hlasovej služby v programe L alebo XL týmto Účastníkom. týmto je zároveň založená „rodina“ s jedinečným id. Pri využití tejto ponuky získa Účastník ako vlastník rodiny nárok na benefit – poskytovanie doplnkovej služby Magenta Cloud a Pôjdeto Pomocník Light a zároveň ako: - vlastník rodiny „2 + 1“: a) jednorazovú zľavu na akciovú kúpnu cenu zariadenia, ak Účastník využije ponuku aj so súčasnou kúpou akciového mobilného telefónu vo výške 50 €, b) službu magio Go archív aktivovanú k službe televízie so 100 % zľavou z mesačného poplatku c) kupón so zľavou na akciovú cenu mobilného telefónu pre ďalšieho Účastníka ako člena vo výške 50 €. bonus 100 € na mobily do rodiny predstavuje súčet zľavy v zmysle písm. a) a c). - vlastník rodiny „1 + 1“ získa: a) zľavu na vybranú doplnkovú službu poskytovanú za zvýhodnených podmienok počas 24 mesiacov od využitia ponuky Magenta 1 a b) kupón so zľavou na akciovú cenu mobilného telefónu pre ďalšieho Účastníka ako člena vo výške 50 €. Akciové ceny programov služieb Happy pre blízkych (členov) a neobmedzené volania platia za podmienky: a) uzavretia dodatku s viazanosťou 24 mesiacov na program Happy Xs a vyšší, b) Účastník sa preukáže id rodiny c) Účastník má rovnaký trvalý pobyt ako Účastník (vlastník), ktorý, rodinu založil. Akciová cena služby Happy predstavuje základnú časť mesačného poplatku pri jeho aktivácii spolu s kúpou telefónu, ku ktorej bude pripočítaná druhá časť v závislosti od zvoleného telefónu. Výhody v rámci balíka Magenta 1 platia len počas doby využívania služieb pevnej a mobilnej siete v definovanom rozsahu a so spoločnou adresou trvalého pobytu účastníkov. Kompletné podmienky ponuky sú v cenníku. * Podmienkou aktivácie služby magio internet security – rodinná licencia je zriadenie alebo objednanie služby prístupu do internetu (Adsl, Vdsl, Optika).</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->




<script src="/documents/10179/649730/main.js"></script>