<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 controls__wrap">
            <!-- left -->
            <div class="col-xs-2 col-sm-4">
                <div class="arrow__holder arrow-left" ng-click="$ctrl.reload(1)">
                    <div class="arrow-ico arrow-back">
                        <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                    </div>
                    <div class="arrow-text"> Zhrnutie</div>
                </div>
            </div>
            <!-- middle -->
            <div class="col-xs-8 col-sm-4">
                <div class="indicator__holder indicator__phone" ng-if="$ctrl.msid">
                    <phone-num></phone-num>
                </div>
            </div>     
        </div>
    </div>
</div>
<div id="summary-sec-1">
    <div class="container">
        <h2 class="text-center">Vyberte spôsob, ako získať vašu<br>Magenta 1 skupinu</h2>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="summary-box">
                    <h3>VYRIEŠIME TO ZA VÁS</h3>
                    <div class="summary-text">Radi vám pomôžeme s výberom služieb a vytvorením vašej Magenta 1 skupiny.
                        <br><br>Na akom čísle vás môžeme kontaktovať?</div>
                    <div>
                        <input type="text" id="msid" name="msid" placeholder="napr. 0911 258 785" ng-minlength="10" style="margin-top: 10px;" ng-maxlength="10" required autocomplete="off">
                        <a  class="btn cta no-href" ng-click="$ctrl.sendForm('msid')" style="height: 35px;vertical-align: top;">{{$ctrl.callMeText}}</a>
                    </div>
                    <div class="error-msg" ng-show="$ctrl.showError!=null">
                        <span>{{ $ctrl.showError }}</span>
                    </div>                     
                </div>
                <div class="summary-box-2">
                    <h3>CHCEM SI VYTVORIŤ SKUPINU SÁM</h3>
                    <div class="summary-text">Magenta 1 skupinu si môžete vytvoriť sami.  Je to jednoduché:
                        <div>
                            <p>1. VYTVORÍTE SKUPINU</p>
                            <p><a href="/magenta1-skupina/">Zadajte svoje mobilné telefónne číslo na prihlasovacej stránke a zaregistrujte sa.<br>Potrebujete paušál ÁNO S alebo Happy S alebo vyšší.</a></p>
                            <p><a href="/volania/pausal ">Nemáte paušál? Pozrite ponuku paušálov</a></p>
                        </div>
                        <hr>
                        <div>
                            <p>2. PRIDÁTE PEVNÉ SLUŽBY</p>
                            <p>Pridajte do svojej skupiny Magio internet, Magio televíziu alebo pevnú linku a získate v skupine ešte viac.</p>
                            <p>
                                <a href="/chytry-balik">Nemáte pevné služby od Telekomu? Pozrite ponuku pevných služieb</a>
                            </p>
                        </div>
                        <hr>
                        <div>
                            <p>3. PRIDÁTE BLÍZKYCH</p>
                            <p>Do Magenta 1 skupiny pridajte telefónne čísla vašich blízkych a všetci si môžete spolu užívať výhody Magenta 1 skupiny.</p>
                        </div>
                    <div style="margin-top: 30px;">
                        <a href="/magenta1-skupina/" class="btn btn_outline">Vytvoriť skupinu</a>
                    </div>
                </div>                
               
            </div>
        </div>
    </div>
</div>
