$inputSize: 30.5%;

#section-shoppingScenario.scenario_2018_personalInfo {
  background-color: #ededed;

  .sendOrder a.disabled,
  .left_stepper .step_paymentOptions .notifications .next_btn button.disabled {
    -webkit-appearance: initial;
    background-color: grey;
    border: 1px solid grey !important;
    color: #fff;
    cursor: default;
    &:hover {
      transform: none;
    }
  }

  // STEPPER
  .left_stepper {
    .step_personalInfo {
      .headline {
        h3 {
          display: block;
        }
      }
    }
    .step_delivery,
    .step_paymentOptions {
      .headline {
        .textRight {
          display: none;
        }
        h3 {
          display: none;
        }
      }
      .formContent {
        //display: none;
      }
    }
    .step_personalInfo,
    .step_delivery,
    .step_paymentOptions {
      margin: 0 3% 3% 3%;
      padding: 3% 0 3% 0;
      border-bottom: 1px solid #ccc;
      // Headline
      .headline {
        position: relative;
        h1.greyText {
          color: #c7c7c7;
          @media screen and (max-width: 400px) {
            font-size: 38px;
          }
        }
        h1,
        h3 {
          color: #000;
          font-weight: 800;
          margin: 0;
          padding: 0;
        }
        h3 {
          margin-bottom: 15px;
        }
        h1,
        p {
          display: inline-block;
          margin: 0;
          padding: 0;
        }
        p {
          position: absolute;
          right: 0;
          bottom: 0;
          @media screen and (max-width: 960px) {
            display: block;
            position: relative;
          }
        }
        p.icon_done {
          display: none;
          font-family: Tele-Icon;
          font-size: 42px;
          color: #6bb324;
          float: right;
          @media screen and (max-width: 543px) {
            font-size: 30px;
          }
        }
      }

      // shortDesc
      .shortDesc {
        display: none;
        margin: 3% 0 0 0;
        position: relative;
        .shortDescWrapper {
          @media screen and (min-width: 1200px) {
            max-width: 75%;
          }
          @media screen and (max-width: 543px) {
            display: none;
          }
          @media screen and (min-width: 544px) {
            display: block !important;
          }
        }
        .toggleShortDesc {
          display: none;
          color: #e20074;
          font-weight: 600;
          position: relative;
          font-size: 18px;
          @media screen and (max-width: 543px) {
            display: block;
          }
        }
        .shortDescItem {
          display: inline-block;
          margin-right: 3%;
          width: 160px;
          @media screen and (max-width: 365px) {
            width: 140px;
          }
          p {
            text-overflow: ellipsis;
            overflow: hidden; 
            white-space: nowrap;
          }
          p:first-of-type {
            color: #c7c7c7;
          }
          p:last-of-type {
            color: #757575;
            font-size: 22px;
            margin: 0;
          }
        }
        .shortDescMob {
          min-width: 179px;
        }
        a { //pencil button
          position: absolute;
          color: #757575;
          right: 0;
          bottom: 0;
          font-size: 42px;
          @media screen and (max-width: 543px) {
            font-size: 30px;
          }
        }
        // delivery details div
        .deliveryDetails,
        .paymentOptionDetails {
          .billAddress,
          .deliveryDate,
          .paymentMethod {
            display: inline-block;
            margin-right: 3%;
            p:first-of-type {
              color: #c7c7c7;
            }
            p:last-of-type {
              color: #757575;
              font-size: 22px;
              margin: 0;
            }
          }
        }
      }

      // Forms
      .deliveryInfoDiv {
        padding-bottom: 5%;
        .left {
          padding: 0 3% 0 0;
          @media screen and (max-width: 543px) {
            text-align: center;
          }
          .text {
            max-width: 67%;
            @media screen and (max-width: 543px) {
              max-width: 100%;
            }
          }
        }
        .right {
          border-left: 1px solid #ccc;
          padding: 0 0 0 3%;
          @media screen and (max-width: 543px) {
            text-align: center;
          }
          .text {
            max-width: 67%;
            @media screen and (max-width: 543px) {
              max-width: 100%;
            }
          }
        }
        .img {
          max-width: 31%;
          text-align: left;
          vertical-align: top;
          padding-right: 5%;
          img {
            max-width: 100%;
            @media screen and (max-width: 543px) {
              max-width: 30%;
            }
          }
        }
        .img, .text {
          display: inline-block;
          @media screen and (max-width: 543px) {
            display: block;
            width: 100%;
            text-align: center;
            max-width: 100%;
          }
          h2 {
            color: #000;
            margin: 0;
            padding: 0;
            line-height: normal;
            @media screen and (max-width: 768px) {
              font-size: 28px;
            }
            @media screen and (max-width: 543px) {
              font-size: 30px;
            }
            @media screen and (max-width: 400px) {
              font-size: 26px;
            }
            &.greenText {
              color: #6bb324;
            }
            &.greyText {
              color: #c7c7c7;
            }
          }
        }
      }
      .formContent {
        margin-top: 3%;
        .checkbox {
          label {
            display: inline-block;
            cursor: pointer;
            padding: 4px 0;
          }
          div.checker {
            max-height: 30px;
          }
          div.checker span {
            background-color: #fff;
          }
          div.checker input {
            cursor: pointer;
          }
        }
        .personalForm,
        .deliveryForm,
        .paymentOptionsForm {
          margin-top: 3%;
          .rbCheckbox {
            .formField {
              width: 100%;
              margin: 1% 0 0 0;
              label {
                max-width: 80%;
              }
            }
          }
          .choosePayment {
            img {
              max-height: 70px;
              @media screen and (max-width: 543px) {
                display: inline-block;
                max-height: 40px;
              }
            }
            p {
              margin-bottom: 0;
              font-size: 20px;
              @media screen and (max-width: 543px) {
                display: inline-block;
                vertical-align: super;
                margin-top: 0;
                line-height: 20px;
                min-width: 40%;
              }
            }
            .bgWhite.inactive {
              background-color: #fff;
              &:hover {
                cursor: default;
              }
              & img,p {
                opacity: 0.5;
              }
            }
            .bgWhite.magentaBg {
              background-color: #e20074;
            }
            .bgWhite {
              background-color: #fff;
              min-height: 181px;
              padding: 20px;
              margin: 0 5px 5px 0;
              cursor: pointer;
              transition: transform .2s; /* Animation */
              &:hover {
                // border-radius: 15px;
                // transform: scale(0.95);
              }
              @media screen and (max-width: 543px) {
                min-height: auto;
              }
            }
            .payment:last-of-type {
              margin-bottom: 50px;
            }
            .paymentDetails {
              padding: 0 0 60px 0;
              .payment-Card,
              .payment-Transfer,
              .payment-Delivery {
                display: none;
              }
              .payment-Card {
                .partnerLogos {
                  padding-top: 10px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                }
                img {
                  max-width: 70px;
                  margin-right: 20px;
                }
              }
            }
          }
          .formField {
            margin-top: 0;
            display: inline-block;
            width: $inputSize;
            vertical-align: top;
              @media screen and (max-width: 543px) {
                width: 100%;
                margin: 0;
              }
            &.streetNo,
            &.psc {
              width: $inputSize;

              @media screen and (max-width: 768px) {
                //width: 23.9%;
              }
              @media screen and (max-width: 543px) {
                width: 49.5%;
              }
              @media screen and (max-width: 400px) {
                width: 100%;
              }
            }
            label span {
              color: #e20074;
            }
            &.business {
              display: none;
            }
            &.showBusinessFields {
              display: inline-block;
            }
            &.m-right {
              margin-right: 3.5%;
              @media screen and (max-width: 543px) {
                margin-right: 0;
              }
            }
          }

          .deliveryAdressFields {
              margin-top: 20px;
              //display: none;
              h3 {
                color: #000;
                font-size: 24px;
              }
              .rbCheckbox {
                padding-bottom: 15px; 
              }
              .formField {
                margin-right: 3.5%;
                @media screen and (max-width: 543px) {
                  margin-right: 0;
                }
                &:nth-of-type(3n) {
                  margin-right: 0;
                }
              }
          }
          .billingAddress {
            display: none;
            padding-top: 20px;
          }
          .deliveryAddress {
            display: none;
          }
          .switcher {
            padding-bottom: 3%;
            border-bottom: 1px solid #ccc;
            margin-bottom: 3%;
            h3 {
              color: #000;
              padding-bottom: 1%;
            }
            input, label {
              display: inline-block;
            }
            label {
              padding: 5px 3%;
              cursor: pointer;
              &:first-of-type {
                padding-left: 0;
              }
            }
            .checker {
              width: 53px;
              margin: 0;
            }
          }
        }


        label,
        input {
          display: block;
        }
        label {
          font-size: 18px;
          left: 10px;
          transition: all .3s ease;
          &.active {
            
            transform: translateY(-20px);
            left: 0px;
          }
        }
        input {
          border: 1px solid #757575;
          background-color: #fff;
          border-radius: 5px;
          width: 100%;
          padding: 10px;
          margin-bottom: 20px;
          color: #a4a4a4;
          &.error.error_message {
            color: red;
          }
          &.valid {
            color: green;
          }
          &:focus {
            color: #000;
            box-shadow: none;
          }
          &.error {
            border: 1px solid #d90000;
            background: white url("/theme/stwbmain/images/validationWarnings/icons-warning-red.png") no-repeat 100% 50%;
            -webkit-transition: none;
            -moz-transition: none;
            -ms-transition: none;
            -o-transition: none;
            transition: background .0s ease
          }
        }
        .additionalFields {
          border-top: 1px solid #ccc;
          margin-top: 10px;
          @media screen and (max-width: 1199px) {
            .formField {
              width: $inputSize;
            }
          }
          @media screen and (max-width: 700px) {
            .formField {
              width: 47.7%;
            }
          }
          @media screen and (max-width: 543px) {
            .formField {
              width: 49.5%;
            }
          }
          @media screen and (max-width: 400px) {
            .formField {
              width: 100%;
            }
          }
          .formField:nth-of-type(1) {
            margin-right: 3.5%;
            @media screen and (max-width: 543px) {
              margin-right: 0;
            }
          }
        }
      }

      // Notifications, next btn
      .notifications {
        margin-top: 25px;
        .notifications {
          display: inline-block;
          max-width: 60%;
          min-width: 60%;
          @media screen and (max-width: 543px) {
            max-width: 100%;
          }
          p {
            font-size: 24px;
          }
          .rbCheckbox {
            .checker {
              margin-right: 10px;
              span {
                background-color: #fff;
              }
            }
            .sms,
            .email {
              display: inline-block;
            }
            .email {
              margin-left: 4%;
            }
          }
          label {
            padding: 4px 0;
          }
          label,
          input {
            display: inline-block;
            cursor: pointer;
          }
        }
        .next_btn {
          display: inline-block;
          text-align: right;
          width: 39.2%;
          @media screen and (max-width: 543px) {
            width: 100%;
            text-align: center;
          }
          .step1_next {
            display: inline-block;
            @media screen and (max-width: 543px) {
              margin-top: 15px;
              width: 100%;
            }
          }
          .step2_next {
            display: none;
            @media screen and (max-width: 543px) {
              width: 100%;
            }
          }
          .step3_next {
            display: none;
            @media screen and (max-width: 543px) {
              width: 100%;
            }
          }
          button {
              border: 1px solid #6bb324 !important;
              line-height: normal;
              height: auto;
          }
        }
      }

      input[type="email"] {
        border: 1px solid #a4a4a4;
        -webkit-transition: border 0.3s ease, background 0.4s ease;
        -moz-transition: border 0.3s ease, background 0.4s ease;
        -ms-transition: border 0.3s ease, background 0.4s ease;
        -o-transition: border 0.3s ease, background 0.4s ease;
        transition: border 0.3s ease, background 0.4s ease;
        line-height: 1;
        padding: 3px 10px;
      }
      /* error messages */
      .error.checkbox_error {
        color: red;
        margin-top: 10px;
      }
      .error.error_message {
        color: red;
        margin-bottom: 0px;
      }
      .error.error_message.valid {
        margin-top: 10px;
      }
      div.error.error_message {
        margin-top: -21px;
      }
      #paymentOptions div.error.error_message.termsError {
        //margin-left: 48px;
        margin-top: 5px;
      }
      div.checker span.valid {
        border: 1px solid green;
      }
      div.checker span.error {
        border: 1px solid red;
      }
      input.valid {
        border: 1px solid green;
        box-shadow: none;
      }
      /* error messages END */
    }
    .step_paymentOptions {
      border-bottom: none;
    }
  }

  // Summary cart
  .right_summary {
    background-color: #fff;
    //margin: 0 3% 3% 3%;
    //padding: 6% 0px 6% 0px;
    .fixedCart {
      // position: absolute;
      // bottom: 0;
      // width: 85%;
      background-color: #fff;
      z-index: 999;
      padding-bottom: 20px;
    }
    .summary {
      //margin: 0 3% 3% 3%;
      background-color: #fff;
      padding: 10% 5%;
      h2 {
        margin: 0;
        padding: 0;
        color: #000;
      }
      .goods {
        border-bottom: 1px solid #c7c7c7;
        position: relative;
        p {
          color: #c7c7c7;
          display: inline-block;
        }
        .edit {
          color: #c7c7c7;
          margin: 10px 0;
          display: inline-block;
          float: right;
          line-height: 140%;
          text-decoration: underline;
          i {
            padding-left: 5px;
          }
        }
      }
      .summaryCart {
        .programAndDevice {
          background-color: #ededed;
          border-radius: 7px;
          margin: 10px 0;
          padding: 0 5%;
          .programAndDeviceItem {
            border-bottom: 1px solid #fff;
            //margin-bottom: 15px;
            padding-bottom: 15px;
            display: flex;
            &:last-of-type {
              border-bottom: none;
            }
            .itemInfo {
              //width: 70%;
              //display: inline-block;
              .itemImg {
                //width: 20%;
                min-width: 32px;
                text-align: center;
                //padding-right: 2%;
                display: inline-block;
                img {
                  max-width: 100%;
                  padding-top: 20px;
                  @media screen and (max-width: 1199px) {
                    max-width: 70px;
                  }
                  @media screen and (max-width: 543px) {
                    max-width: 100%;
                  }
                }
              }
              .infoDetails {
                display: inline-block;
                padding-left: 10px;
                //max-width: 65%;
                .itemName {
                  font-size: 26px;
                }
                .itemDetails {
                  //display: inline-block;
                  //margin-right: 5%;
                  p {
                    margin: 0;
                    font-size: 20px;
                    line-height: normal;
                  }
                  .topText {
                    font-size: 14px;
                    color: #a4a4a4;
                  }
                }
              }
            }
            .itemPrice {
              //display: flex;
              // align-items: flex-end;
              // margin-left: auto;
              // max-width: 30%;
              text-align: right;
              p {
                font-size: 20px;
                margin: 0;
                line-height: normal;
                text-align: right;
                display: inline-block;
                &.margin {
                  margin-left: 10px;
                }
              }
              .topText {
                font-size: 14px;
                color: #a4a4a4;
              }
            }
          }
        }
        .cartItem {
          border-top: 1px solid #ededed;
          padding: 1% 5%;
          position: relative;
          p {
            font-size: 20px;
            display: inline-block;
            &:last-child {
              float: right;
              margin: 10px 0 0 0;
            }
            &.greenText {
              color: green;
              text-align: right;
            }
          }
          .topText {
            display: block;
            text-align: right;
            margin: 0;
            line-height: 14px;
            font-size:14px; 
          }
          .sumTabLegalInfo {
            display: table;
            margin: 10px 0;
            p {
              font-size: 16px;
            }
          }
        }
        .finalSumm {
          border-top: 1px solid #ededed;
          padding: 3% 5%;
          p {
            float: left;
            //font-weight: 800;
            &:last-child {
              float: right;
            }
            & > span {
              font-weight: normal;
              color: #a4a4a4;
              font-size: 14px;
            }
            &.priceText {
              font-weight: 800;
            }
          }
          .right {
            .price {
              font-size: 24px;
              float: right;
              text-align: right;
              &:not(:first-of-type) {
                margin-right: 10px;
              }
              .topText {
                display: block;
                text-align: right;
                margin: 0;
                line-height: 14px;
              }
              .eur_sign {
                font-size: 24px;
              }
            }
          }
        }
        .sendOrder {
          margin-top: 20px;
          a {
            -webkit-appearance: initial;
            appearance: initial;
            width: 100%;
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }
}
