/* ===============
   CSS FOR MICROSITE
   =============== */

.magenta {
  color: $magenta !important;
}

/* hero bg img */
#sec-1 {
  min-height: 630px;
  background: url(../img/hero.png) center top;
  background-color: #000;
  background-repeat: no-repeat;
  //background-size: 2665px;
  @media screen and (min-width: 940px) {
    background-position: 50% 0%;
  }
  @media screen and (max-width: 940px) {
    background-position: 50% 0%;
  }
  @media screen and (max-width: 767px) {
    background: url(../img/hero-mobile.png);
    background-position: 50% 0%;
  }
  @media screen and (max-width: 543px) {
    background-position: 50% 50%;
    //background-size: 1720px;
    min-height: 330px;
  }
  .hero {
    text-align: center;
    position: relative;
    .headline {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      margin: 88px 0 0 0;
      font-size: 48px;
      width: auto;
      @media screen and (max-width: 850px) {
        font-size: 40px;
      }
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
      @media screen and (max-width: 543px) {
        margin-top: 60px;
        font-size: 31px;
      }
    }
    .subHeadline {
      color: #fff;
      font-size: 28px;
      margin-top: 0;
      @media screen and (max-width: 543px) {
        font-size: 18px;
      }
    }
    .img {
      display: inline-block;
      max-width: 110px;
      position: absolute;
      top: 75px;
      margin-left: 15px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    .offer {
      color: #fff;
      font-weight: bold;
      background-color: $magenta;
      width: 200px;
      margin: 0 auto;
      display: block;
      font-size: 21px;
    }
  }
}

/* content */
#sec-2 {
  background-color: #f2f2f2;
  .content {
    background-color: #fff;
    margin: -300px auto 140px auto;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    // @media screen and (max-width: 940px) {
    //   margin: -300px 0px 40px 0px;
    // }
    @media screen and (max-width: 543px) {
      margin: -20% 0px 40px 0px;
    }
    .imgwrapper {
      padding: 85px 0px 30px 85px;
      @media screen and (max-width: 767px) {
        padding: 30px 0;
      }
      .data {
        position: relative;
        @media screen and (max-width: 767px) {
          margin: 0 40px;
        }
        img {
          display: block;
          @media screen and (max-width: 767px) {
            margin: 0 auto;
            padding-top: 30px;
          }
          &.device {
            max-width: 100%;
            margin: 0 auto;
          }
        }
        a.ttp {
          position: absolute;
          top: -20px;
          right: 0;
          @media screen and (max-width: 767px) {
            right: 14%;
          }
          @media screen and (max-width: 543px) {
            right: 0px;
          }
        }
      }
    }
    .textwrapper {
      padding: 85px 85px 85px 43px;
      @media screen and (max-width: 767px) {
        padding: 50px 40px;
      }
      .text {
        font-size: 21px;
        margin-top: 0;
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
      .spacer {
        margin-bottom: 5px;
        display: block;
        font-size: 21px;
      }
      .monthly {
        text-align: right;
        display: block;
        font-size: 14px;
        color: #a4a4a4;
      }
      .plan {
        &-content {
          border-top: 1px solid #d0d0d0;
          border-bottom: 1px solid #d0d0d0;
          padding: 10px 0;
          p {
            color: #6c6c6c;
          }
          &-rate {
            float: left;
          }
          &-price {
            float: right;
            text-align: right;
            p {
              margin: 0;
            }
            .new-price {
              color: $magenta;
              font-size: 30px;
              font-weight: bold;
              line-height: 26px;
            }
            .regular-price {
              text-decoration: line-through;
            }
          }
        }
        &-otherInfo {
          margin-top: 30px;
          .subheadline {
            margin-bottom: 20px;
          }
          .info {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            img,
            p {
              display: inline-block;
              vertical-align: top;
              margin: 0;
            }
            img {
              text-align: center;
              width: auto;
              margin-right: 3%;
              width: 32px;
            }
            p {
              width: 85%;
              line-height: 16px;
            }
          }
        }
      }
      .legal {
        margin-top: 20px;
        color: #6c6c6c;
        font-size: 16px;
        line-height: normal;
      }
    }
  }
}

/* contact form */
.contact-form-wrapper {
  padding-top: 20px;
  margin: 0 auto;

  #fullName,
  #phoneNum,
  #useremail {
    width: 100%;
  }

  .phoneNum {
    padding-top: 20px;
  }

  .checker {
    height: 30px;
    margin-right: 5px;
    span {
      background-color: #fff !important;
    }
  }
  .checkb {
    margin: 20px 0;
    #termscheck {
      cursor: pointer;
    }
    label {
      padding-top: 6px;
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      a {
        font-size: 14px !important;
      }
    }
  }
  .valid input {
    border: 1px solid green !important;
  }
  .valid span.checked {
    border: 1px solid green !important;
  }
  .error span {
    border: 1px solid #ffcc00 !important;
  }
  .error input {
    border: 1px solid #ffcc00 !important;
  }
  label.error {
    font-size: 16px;
    color: #ffcc00;
    display: block;
    padding-top: 6px;
  }
  .sendfrm {
    width: 70%;
    text-align: center;
  }
}

#sec-3 {
  background-color: #f2f2f2;
  padding: 30px 0;
  .headline {
    font-size: 21px;
    color: #262626;
    text-align: center;
    margin-bottom: 40px;
    @media screen and (max-width: 543px) {
      margin: 0 0 50px 0;
    }
  }
  .imgWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 125px;
  }
  a {
    text-decoration: underline;
  }
  p {
    padding: 0 20px;
  }
  .legal {
    margin-top: 50px;
    color: #a4a4a4;
    font-size: 14px;
  }
}

@media screen and (max-width: 940px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
