
/* gridfix 768 */
.gridFix {
  @media screen and (max-width: 768px) {
    width: auto;
  }
}

@media screen and (max-width: 769px)  {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-10{
    width: 83.33333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-1 {
    width: 8.33333%;
  }
}


@media screen and (max-width: 480px)  {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-10{
    width: 83.33333%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-1 {
    width: 8.33333%;
  }
}
