<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title"><b>MAGENTA SMARTHOME</b><br/>VÁŠ DOMOV V MOBILE</h1>
            <p class="hero__desc">S Magenta SmartHome máte vždy prehľad o svojej domácnosti a jednoducho z nej spravíte inteligentný domov.</p>
            <a class="btn cta" href="#">VIAC INFO</a>
        </div>
    </div>
</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">mav1</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <h2 class="sec__title">sec title</h2>

        <div class="box box__mkr">
            <div class="box__inner">
                <div class="box-content">
                    <p class="box__title">Máte nárok na nový mobil?
                        <br />Overte si to jednoducho dvoma krokmi.</p>
                    <label for="mkr__input1" class="input-label">Zadajte svoje telefónne číslo:</label>
                    <input id="mkr__input1" class="mkr__input input" type="text" placeholder="09 _ _ _ _ _ _ _ _" />
                    <p class="mkr__error">ssss</p>
                    <a href="#" class="btn cta box__btn mkr__submit btn_disabled tab1_row1_col3">OVERIŤ</a>
                    <div class="tc">
                        <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw" class="box__link box__link_dark box__link_ul">Chcem nový mobil,<br />ale nie som zákazník Telekomu</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box__mkr">
            <div class="box__inner">
                <div class="box-content">
                    <p class="box__title">Prejsť z EASY na paušál Happy sa oplatí!
                        <br />Over si to jednoducho dvoma krokmi.</p>
                    <label for="mkr__input1" class="input-label">Zadaj svoje telefónne číslo:</label>
                    <input id="mkr__input1" class="mkr__input input" type="text" placeholder="09 _ _ _ _ _ _ _ _" />
                    <p class="mkr__error">ssss</p>
                    <a href="#" class="btn cta box__btn mkr__submit btn_disabled tab1_row1_col3">OVERIŤ</a>
                    <div class="tc">
                        <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw" class="box__link box__link_dark box__link_ul">Chcem nový mobil,<br />ale nie som zákazník Telekomu</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/mkr.js"></script>
