<!-- Article landing box -->
<div class="wf-container loading-effect-none description-under-image iso-grid " data-padding="20px" data-cur-page="1" data-width="360px" data-columns="2">

    <div class="wf-cell" data-date="2015-10-31T16:45:30+00:00" data-name="{{article.title}}" data-post-id="{{article.id}}" dir-paginate="article in printerItems.articles | filter: {category: {name: categoryName}} | itemsPerPage:4  " pagination-id="cust">
        <article class="post status-publish format-standard has-post-thumbnail hentry description-off" >
            <div class="blog-media wf-td">
                <p>
                    <a ng-href="{{article.linkToArticle}}" class="alignnone rollover"><img class="preload-me" ng-srcset="{{article.linkToThumbImg}} 1x, {{article.linkToThumbImg}} 2x" alt="Cloud printing, Samsung Printing Solutions, A Quick Guide, Mobile Technology pop up book" title="Cloud printing, Samsung Printing Solutions, A Quick Guide, Mobile Technology" width="900" height="450" /><i></i></a>
                </p>
            </div>
            <div class="blog-content wf-td grid-box">
                <h2 class="entry-title">
                    <a ng-href="{{article.linkToArticle}}" title="{{article.title}}" rel="bookmark">{{article.title}}</a>
                                                </h2>
                <p>{{article.description}}</p>
                <div class="entry-meta">
                    <a ng-href="{{article.linkToArticle}}" title="4:45 pm" class="data-link" rel="bookmark">
                        <time class="entry-date updated" datetime="2015-10-31T16:45:30+00:00">{{article.monthName}} {{article.day}}, {{article.year}}</time>
                    </a><span class="category-link" ng:repeat="cat in article.category"><a ng-href="#/category/{{cat.name}}" >{{cat.name | capitalize}}</a>,&nbsp;</span></div>
            </div>
        </article>
        <!-- #post-2439 ng-href="/template_v2/#/category/{{sendCategory(cat.name)}}" -->
    </div>
</div>
<!-- //Article landing box -->
<!-- Article Landing page Pagination -->
<!-- <div class="paginator" role="navigation"> -->
<dir-pagination-controls pagination-id="cust" template-url="js/dirPagination.tpl.html" ></dir-pagination-controls>
<!-- </div> -->
<!-- //Article Landing page Pagination -->
