<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
				
						<p class="bpis__title">
							Prémiový Wi-Fi router pre každého</p>
						<p>Získajte prémiový router <b>Sagemcom 5655 AC k optickému internetu</b> alebo <b>Sercomm Speedport+ k metalickému internetu</b>. Ktorý internet je dostupný na vašej adrese si overíte po kliknutí na tlačidlo CHCEM PRÉMIOVÝ ROUTER.</p>
						<div class="box-device">
							<p class="pricing__title">
								Zobraziť ceny:</p>
							<select id="heap">
								<option value="M">k Magio internetu M</option>
								<option value="L">k Magio internetu L</option>
								<option value="XL">k Magio internetu XL</option>
							</select>
							<table class="pricing-table">
								<tbody>
									<tr class="inner-head no-margin">
										<th colspan="2">
											Mesačne:</th>
									</tr>
									<tr class="no-margin">
										<td>
											Magio internet
											<span class="type-program">M</span>
										</td>
										<td>
											<span id="price_val1" class="feePrice"></span>
										</td>
									</tr>
									<tr class="text-green">
										<td>
											Web zľava 2. a 3. mesasiac
										</td>
										<td>
											<span id="price_val2" class="feePrice"></span>
										</td>
									</tr>
									<tr class="one-time-payment"> 
										<td>
											<b>Prémiový router</b></td>
										<td>
											<span id="price_val3" class="oneTimeFee"></span>
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" href="/fix/objednavka/-/scenario/e-shop/chytry-balik ">CHCEM PRÉMIOVÝ ROUTER</a>
						</div>
					<!-- <div class="box-device">
						<p class="pricing__title">
							K Magio internetu <span class="feeType">L</span>:</p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Magio internet <span class="feeType">L</span></td>
									<td>
										<span class="feePrice">15,00 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">49,00 €</span></td>
								</tr>
							</tbody>
						</table>
					</div> -->
					<!-- <div class="tip">
						<p><b>NÁŠ TIP:</b> Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na PREJSŤ K NÁKUPU a skúste kalkulačku služieb.</p>
					</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Výkon, z ktorého budete unesení!</p>
								<p class="feat-desc">
									Vyberte si k Magio internetu prémiový Wi-Fi router a získate výkonnú Wi-Fi s rýchlosťou až do 600 Mbit/s, stabilné pripojenie viacerých zariadení bez výpadkov a signál v každom kúte svojej domácnosti.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Prémiový router Sagemcom 5655AC k optike</p>
								<p class="feat-desc">
									Užite si rýchly Magio internet cez optiku s týmto výkonným Wi-Fi route-rom s veľkým dosahom.
								</p>
								<ul class="detail-product">
									<li>Automatická inštalácia</li>
									<li>4 x ethernetový port 100/1000 Mb/s.</li>
									<li>bezdrôtové pripojenie viacerých notebookov alebo PC.</li>
									<li>štandard Wi-Fi 802.11n na 2.4Ghz a 802.11ac na 5Ghz.</li>
									<li>2x RJ11 port pre pripojenie analógového telefónu.</li>
									<li>2x USB pre pripojenie USB disku alebo tlačiarne.</li>
								</ul>
								<a href="/wiki/zariadenia/sagemcom-5655ac">Pozrieť viac o Sagemcom 5655AC vo Wiki</a>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<div class="feat-text">
									<p class="feat-tit">Prémiový router Sercomm Speedport+ k metalike</p>
									<p class="feat-desc">
										Vezmite si multifunkčný Wi-Fi router k metalickému Magio internetu a zís-kate spoľahlivé pripojenie bez výpadkov.
									</p>
									<ul class="detail-product">
										<li>Automatická inštalácia.</li>
										<li>4 x ethernetový port 10/100/1000 Mb/s.</li>
										<li>Bezdrôtové pripojenie viacerých notebookov alebo PC.</li>
										<li>Štandard Wi-Fi 802.11n na 2.4Ghz a 802.11ac na 5Ghz.</li>
										<li>2x RJ11 port pre pripojenie analógového telefónu</li>
									</ul>
									<a href="/wiki/zariadenia/sercomm-speedport">Pozrieť viac o Sercomm Speedport+ vo Wiki</a>
								</div>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> -->
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
			<div style="margin: 0 2.6% 40px 2.6%; float: left">
				<p style="font-size: 14px;">Uvedené ceny Wifi routrov sú za ich nájom a platia sa mesačne. Prenosová rýchlosť až 600 Mbit/s je maximálna podporovaná rýchlosť, dosahovaná rýchlosť internetu závisí od rýchlosti internetového pripojenia.</p>
			</div>			
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
