<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;</div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>INTERNET V MOBILE</b></h1>
			<a class="btn cta scroll-to" href="#sec-1">VIAC INFORMÁCIÍ</a></div>
	</div>
</section>
<div id="nav-sticky">
	<ul>
		<li>
			<a class="scroll-to" href="#sec-1">AKO TO FUNGUJE</a></li>
		<li>
			<a class="scroll-to" href="#sec-2">DÁTOVÉ BALÍKY</a></li>
		<li>
			<a class="scroll-to" href="#sec-3">ZDIEĽANIE DÁT</a></li>
		<li>
			<a class="scroll-to" href="#sec-4">AKTUÁLNE AKCIE</a></li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/9827031/arrow-top.png" /></a></li>
	</ul>
</div>
<section class="section sec-1" id="sec-1">
	<div class="container-fixed">
		<h2 class="sec__title">
			AKO TO FUNGUJE</h2>
		<div class="row">
			<div class="col-md-4 item item_new">
				<img alt="" src="/documents/10179/9827031/ico-1.png" />
				<h4 class="item__title">
					Všetky mobilné paušály majú internet v mobile</h4>
				<p class="item__desc">
					Internet v mobile je súčasťou všetkých paušálov Happy a Programu Bez záväzkov.</p>
				<a class="item__link popup" href="#data">Koľko dát majú paušály?</a></div>
			<div class="col-md-4 item">
				<img alt="" src="/documents/10179/9827031/ico-2.png" />
				<h4 class="item__title">
					Bez poplatkov navyše</h4>
				<p class="item__desc">
					Ak vyčerpáte dáta z paušálu, neplatíte nič navyše. Môžete však obnoviť rýchlosť internetu zakúpením <a class="scroll-to" href="#sec-2">dátového balíka</a>.</p>
			</div>
			<div class="col-md-4 item">
				<img alt="" src="/documents/10179/9827031/ico-3.png" />
				<h4 class="item__title">
					Internet v mobile aj k Easy Pecke</h4>
				<p class="item__desc">
					S Easy kartou stojí surfovanie <a class="q-link popup" href="#max50">max. 50 centov na deň</a>. Aktivovať si tiež môžete výhodné <a class="scroll-to" href="#sec-2" id="scrollToSurf">dátové balíky RAZ GIGA, VŽDY GIGA alebo VŽDY 2 GIGA</a>.</p>
				<!--
				<p class="item__desc">S Easy kartou stojí surfovanie max. 50 centov na deň. Ak za deň prekročíte 200 MB, rýchlosť internetu sa zníži. Získate ju späť aktivovaním balíčku <a href="#sec-2" class="scroll-to" id="scrollToSurf">Surf 1000</a>.</p>
				--></div>
		</div>
	</div>
</section>
<section class="section sec-2" id="sec-2">
	<div class="container-fixed">
		<h2 class="sec__title no-padding-bottom">
			DÁTOVÉ BALÍKY</h2>
		<p class="sec__desc">
			Dátové balíky slúžia na obnovenie rýchlosti internetu, ak miniete dáta v paušáli alebo prekročíte 200 MB na Easy karte.</p>
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">k paušálom Happy</a></li>
					<li class="variant" data-variant="2" id="tabEasy">
						<a href="#tab-2">k Easy karte</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content" id="tab-1">
					<div class="app-slider as1">
						<div class="p-box p-box_new">
							<div class="new-ribbon">
								VIANOČNÝ BALÍK</div>
							<div class="p-detail">
								<p class="box__title mb-10">
									VIANOČNÉ DÁTA</p>
								<p>
									<b>2000 MB pre blízkych + 2000 MB pre seba</b></p>
								<p class="mt-20">
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojich blízkych, ktorí majú paušál Happy, Bez záväzkov alebo Easy kartu.</p>
								<p>
									<b>Koľko dát darujete, toľko dát navyše od nás dostanete ako darček. </b></p>
								<p class="mt-10">
									Balík si môže každý zákazník aktivovať raz.</p>
								<p>
									Akcia platí do 31.12.2017.</p>
								<p class="mt-15">
									<a href="https://www.telekom.sk/wiki/internet/vianocne-data">Prejsť na viac info do Wiki</a></p>
								<p class="mt-15">
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky paušály Happy</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">0&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
						</div>
						<div class="p-box p-box_new">
							<div class="new-ribbon">
								VIANOČNÝ BALÍK</div>
							<div class="p-detail">
								<p class="box__title mb-10">
									DÁTA NAVYŠE PRE BLÍZKYCH</p>
								<p>
									<b>1000 MB pre blízkych + 1000 MB pre seba</b></p>
								<p class="mt-20">
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojich blízkych, ktorí majú paušál Happy, Bez záväzkov alebo Easy kartu.</p>
								<p>
									<b>Koľko dát darujete, toľko dát navyše od nás dostanete ako darček. </b></p>
								<p class="mt-10">
									Balík si môžete aktivovať opakovane.</p>
								<p>
									Akcia platí do 30.1.2018.</p>
								<p class="mt-15">
									<a href="https://www.telekom.sk/wiki/internet/data-navyse-pre-blizkych">Prejsť na viac info do Wiki</a></p>
								<p class="mt-15">
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky paušály Happy</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">5,99&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
						</div>
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DENNÉ DÁTA 1000 MB</p>
								<p>
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete napr. sledovať videá či počúvať hudbu.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									1000 MB</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									24 hodín od kúpy balíka alebo do vyčerpania dát</p>
								<p>
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">1,00&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#dataden1000">Kúpiť balík cez SMS</a></div>
						</div>
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DENNÉ DÁTA NEOBMEDZENÉ</p>
								<p>
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete sledovať videá, internetovú televíziu, počúvať hudbu či sťahovať veľké súbory bez limitov.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									Neobmedzený</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									24 hodín od kúpy balíka</p>
								<p>
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">4,99&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#datadenneob">Kúpiť balík cez SMS</a></div>
						</div>
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DÁTA 100 MB</p>
								<p>
									<b>Balík je vhodný napr. na:</b></p>
								<p class="mb-10">
									prezeranie e-mailov bez veľkých príloh, správ, blogov či cestovného poriadku.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									100 MB</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">1,99&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data100">Kúpiť balík cez SMS</a></div>
						</div>
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DÁTA 500 MB</p>
								<p>
									<b>Balík je vhodný napr. na:</b></p>
								<p class="mb-10">
									prezeranie sociálnych sietí, fotografií či na stiahnutie e-mailov so stredne veľkými prílohami.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									500 MB</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">4,99&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data500">Kúpiť balík cez SMS</a></div>
						</div>
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DÁTA 1000 MB</p>
								<p>
									<b>Balík je vhodný napr. na:</b></p>
								<p class="mb-10">
									sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									1000 MB</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
								<p>
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">5,99&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data1000">Kúpiť balík cez SMS</a></div>
						</div>
						<!--						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">DÁTA NAVYŠE PRE BLÍZKYCH</p>
								<p><b>Ako balík funguje:</b></p>
								<p>balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojích blízkych, ktorí majú paušál Happy alebo Easy kartu.</p>
								<a href="/wiki/internet/data-navyse-pre-blizkych" class="link mb-10">Prejsť na viac info do Wiki</a>
								<p><b>Balík je vhodný napr. na:</b></p>
								<p class="mb-10">sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
								<p><b>Objem dát:</b></p>
								<p class="mb-10">1000 MB</p>
								<p><b>Platnosť balíka:</b></p>
								<p class="mb-10">30 dní od kúpy balíka alebo do vyčerpania dát</p>
								<p><b>Dostupnosť balíka:</b></p>
								<p class="mb-20">balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">Cena: <span class="p-price">5,99 €</span></p>
								<a href="http://m.telekom.sk/datanavyse/preblizkych" class="btn">KÚPIŤ BALÍK</a>
								<a href="/wiki/ostatne/aplikacia-telekom" class="btn cta">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a>
								<a href="#" class="link link-hide">Kúpiť balík cez SMS</a>
							</div>
						</div>--></div>
					<div class="accordion">
						<p class="ac-label">
							Balík s platnosťou 30 dní od zakúpenia</p>
						<div class="item">
							<div class="heading">
								VIANOČNÉ DÁTA <span class="ac-price">| 0&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Balík je vhodný napr. na:</b></p>
									<p class="mb-10">
										sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										2000 MB pre blízkych + 2000 MB pre seba</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										30 dní od aktivácie a platnosť rozdaných dát je 30 dní odo dňa ich pridelenia blízkemu</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">0&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
							</div>
						</div>
						<div class="item">
							<div class="heading">
								DÁTA NAVYŠE PRE BLÍZKYCH <span class="ac-price">| 5,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Balík je vhodný napr. na:</b></p>
									<p class="mb-10">
										sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB pre blízkych + 1000 MB pre seba</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										30 dní od aktivácie a platnosť rozdaných dát je 30 dní odo dňa ich pridelenia blízkemu</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">5,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
							</div>
						</div>
						<p class="ac-label">
							Balík s platnosťou do konca zúčtovacieho obdobia</p>
						<div class="item">
							<div class="heading">
								DÁTA 100 MB <span class="ac-price">| 1,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Balík je vhodný napr. na:</b></p>
									<p class="mb-10">
										prezeranie e-mailov bez veľkých príloh, správ, blogov či cestovného poriadku.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										100 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">1,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data100">Kúpiť balík cez SMS</a></div>
							</div>
						</div>
						<div class="item">
							<div class="heading">
								DÁTA 500 MB <span class="ac-price">| 4,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Balík je vhodný napr. na:</b></p>
									<p class="mb-10">
										prezeranie sociálnych sietí, fotografií či na stiahnutie e-mailov so stredne veľkými prílohami.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										500 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">4,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data500">Kúpiť balík cez SMS</a></div>
							</div>
						</div>
						<div class="item">
							<div class="heading">
								DÁTA 1000 MB <span class="ac-price">| 5,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Balík je vhodný napr. na:</b></p>
									<p class="mb-10">
										sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">5,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data1000">Kúpiť balík cez SMS</a></div>
							</div>
						</div>
						<p class="ac-label">
							Balíky s platnosťou 24 hodín od zakúpenia</p>
						<div class="item">
							<div class="heading">
								DENNÉ DÁTA 1000 MB <span class="ac-price">| 1,00&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete napr. sledovať videá či počúvať hudbu.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										24 hodín od kúpy balíka alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">1,00&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#dataden1000">Kúpiť balík cez SMS</a></div>
							</div>
						</div>
						<div class="item">
							<div class="heading">
								DENNÉ DÁTA NEOBMEDZENÉ <span class="ac-price">| 4,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p class="mb-10">
										Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete sledovať videá, internetovú televíziu, počúvať hudbu či sťahovať veľké súbory bez limitov.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										Neobmedzený</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										24 hodín od kúpy balíka</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">4,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#datadenneob">Kúpiť balík cez SMS</a></div>
							</div>
						</div>
						<p class="ac-label" style="display: none">
							Balík s platnosťou 30 dní od zakúpenia</p>
						<div class="item" style="display: none">
							<div class="heading">
								DÁTA NAVYŠE PRE BLÍZKYCH <span class="ac-price">| 5,99&nbsp;€</span></div>
							<div class="content">
								<div class="p-detail">
									<p>
										<b>Ako balík funguje:</b></p>
									<p>
										balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojích blízkych, ktorí majú paušál Happy alebo Easy kartu.</p>
									<a class="link mb-10" href="#">Prejsť na viac info do Wiki</a>
									<p>
										<b>Balík je vhodný napr. na:</b></p>
									<p class="mb-10">
										sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
									<p>
										<b>Objem dát:</b></p>
									<p class="mb-10">
										1000 MB</p>
									<p>
										<b>Platnosť balíka:</b></p>
									<p class="mb-10">
										30 dní od kúpy balíka alebo do vyčerpania dát</p>
									<p>
										<b>Dostupnosť balíka:</b></p>
									<p class="mb-20">
										balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
								</div>
								<div class="p-actions">
									<p class="p-price-label mb-20">
										Cena: <span class="p-price">5,99&nbsp;€</span></p>
									<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia" style="visibility: hidden;">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-content" id="tab-2">
				<div class="app-slider as2">
					<div class="p-box">
						<div class="p-detail">
							<p class="box__title mb-10">
								RAZ GIGA</p>
							<p class="text_centered p-row-1">
								<b>1 GB</b> na 7 dní</p>
							<p class="text_centered p-row-2">
								Veľký objem dát<br />
								jednorázovo a hneď.</p>
						</div>
						<div class="p-actions">
							<p class="p-price-label mb-20">
								<span class="p-price">3&nbsp;€</span></p>
							<a class="btn cta popup" href="#activate-baliky-internet-100">KÚPIŤ BALÍK CEZ SMS</a></div>
					</div>
					<div class="p-box">
						<div class="p-detail">
							<p class="box__title mb-10">
								VŽDY GIGA</p>
							<p class="text_centered p-row-1">
								<b>1 GB </b> na 30 dní</p>
							<p class="text_centered p-row-2">
								Ak chceš mať svoju spotrebu pod kontrolou a dáta používaš priebežne celý mesiac.</p>
							<p class="text_centered p-row-3">
								Balík s <a class="automaticka-obnova q-link popup" href="#automaticka-obnova">automatickou obnovou</a> s <a class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších dát</a>.</p>
						</div>
						<div class="p-actions">
							<p class="p-price-label mb-20">
								<span class="p-price">6&nbsp;€</span></p>
							<a class="btn cta popup" href="#activate-baliky-internet-500">KÚPIŤ BALÍK CEZ SMS</a></div>
					</div>
					<div class="p-box">
						<div class="p-detail">
							<p class="box__title mb-10">
								VŽDY 2 GIGA</p>
							<p class="text_centered p-row-1">
								<b>2 GB</b> na 30 dní</p>
							<p class="text_centered p-row-2">
								Ak chceš mať svoju spotrebu pod kontrolou a potrebuješ veľký objem dát pre veľké zážitky.</p>
							<p class="text_centered p-row-3">
								Balík s <a class="automaticka-obnova2 q-link popup" href="#automaticka-obnova2">automatickou obnovou</a> s <a class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších dát</a>.<br />
								<br />
								pri aktivácii do <b>31.1.2018</b> iba</p>
						</div>
						<div class="p-actions">
							<p class="p-price-label mb-20">
								<span class="p-price strikethrough">8&nbsp;€</span><span class="p-price">6&nbsp;€</span></p>
							<a class="btn cta popup" href="#activate-baliky-internet">KÚPIŤ BALÍK CEZ SMS</a></div>
					</div>
				</div>
				<div class="accordion">
					<div class="item">
						<div class="heading">
							RAZ GIGA <span class="ac-price">| 3&nbsp;€</span></div>
						<div class="content">
							<div class="p-detail">
								<p>
									<b>1 GB</b> na 7 dní</p>
								<p>
									&nbsp;</p>
								<p class="mb-10">
									Veľký objem dát<br />
									jednorázovo a hneď.</p>
								<p>
									&nbsp;</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">3&nbsp;€</span></p>
								<a class="btn cta popup" href="#activate-baliky-internet-100">KÚPIŤ BALÍK CEZ SMS</a></div>
						</div>
					</div>
					<div class="item">
						<div class="heading">
							VŽDY GIGA <span class="ac-price">| 6&nbsp;€</span></div>
						<div class="content">
							<div class="p-detail">
								<p>
									<b>1 GB </b> na 30 dní</p>
								<p>
									&nbsp;</p>
								<p class="mb-10">
									Ak chceš mať svoju spotrebu pod kontrolou a dáta používaš priebežne celý mesiac.</p>
								<p>
									Balík s <a class="automaticka-obnova q-link popup" href="#automaticka-obnova">automatickou obnovou</a> s <a class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších dát</a>.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">6&nbsp;€</span></p>
								<a class="btn cta popup" href="#activate-baliky-internet-500">KÚPIŤ BALÍK CEZ SMS</a></div>
						</div>
					</div>
					<div class="item">
						<div class="heading" id="surf1000acc">
							VŽDY 2 GIGA <span class="ac-price">| </span><span class="ac-price strikethrough">8&nbsp;€</span><span class="ac-price">6&nbsp;€</span></div>
						<div class="content">
							<div class="p-detail">
								<b>2 GB</b> na 30 dní
								<p>
									&nbsp;</p>
								<p class="mb-10">
									Ak chceš mať svoju spotrebu pod kontrolou a potrebuješ veľký objem dát pre veľké zážitky.</p>
								<p>
									Balík s <a class="automaticka-obnova q-link popup" href="#automaticka-obnova2">automatickou obnovou</a> s <a class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších dát</a>.<br />
									<br />
									pri aktivácii do <b>31.1.2018</b> iba<br />
									&nbsp;</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price strikethrough">8&nbsp;€</span><span class="p-price">6&nbsp;€</span></p>
								<a class="btn cta popup" href="#activate-baliky-internet">KÚPIŤ BALÍK CEZ SMS</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-3" id="sec-3">
	<div class="container-fixed">
		<h2 class="sec__title no-padding-bottom">
			ZDIEĽANIE DÁT</h2>
		<p class="sec__desc">
			So službou Zdieľanie dát získate jednu alebo dve SIM karty, vďaka ktorým môžete dáta zo svojho paušálu Happy využivať vy alebo vaši blízki aj na iných zariadeniach ako je váš mobil (napr. na ďalšom mobile, tablete či notebooku).</p>
		<div class="row">
			<div class="col-md-6">
				<div class="p-box">
					<div class="p-detail">
						<p class="box__title mb-10">
							1 SIM KARTA na zdieľanie dát z paušálu</p>
						<p>
							<b>So službou získate:</b></p>
						<p class="mb-10">
							1 kus SIM karty, s ktorou môžete využívať dáta zo svojho paušálu Happy na ďalšom zariadení.</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">0,99&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							Aktivačný poplatok poplatok: 2,99&nbsp;€</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup" href="/mam-zaujem/internet-v-mobile/zdielanie-dat-1-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="p-box">
					<div class="p-detail">
						<p class="box__title mb-10">
							2 SIM KARTY na zdieľanie dát z paušálu</p>
						<p>
							<b>So službou získate:</b></p>
						<p class="mb-10">
							2 kusy SIM karty, s ktorými môžete využívať dáta zo svojho paušálu Happy na ďalších zariadeniach.</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">1,98&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							Aktivačný poplatok poplatok: 2,99&nbsp;€</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup" href="/mam-zaujem/internet-v-mobile/zdielanie-dat-2-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>
		</div>
		<div class="accordion">
			<div class="item">
				<div class="heading">
					1 SIM KARTA na zdieľanie dát z paušálu <span class="ac-price">| 0,99&nbsp;€</span></div>
				<div class="content">
					<div class="p-detail">
						<p>
							<b>So službou získate:</b></p>
						<p class="mb-10">
							1 kus SIM karty, s ktorou môžete využívať dáta zo svojho paušálu Happy na ďalšom zariadení.</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">0,99&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							Aktivačný poplatok poplatok: 2,99&nbsp;€</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup" href="/mam-zaujem/internet-v-mobile/zdielanie-dat-1-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>
			<div class="item">
				<div class="heading">
					2 SIM KARTY na zdieľanie dát z paušálu <span class="ac-price">| 1,98&nbsp;€</span></div>
				<div class="content">
					<div class="p-detail">
						<p>
							<b>So službou získate:</b></p>
						<p class="mb-10">
							2 kusy SIM karty, s ktorými môžete využívať dáta zo svojho paušálu Happy na ďalších zariadeniach.</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">1,98&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							Aktivačný poplatok poplatok: 2,99&nbsp;€</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup" href="/mam-zaujem/internet-v-mobile/zdielanie-dat-2-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-4" id="sec-4">
	<div class="container-fixed">
		<h2 class="sec__title">
			AKTUÁLNE AKCIE</h2>
		<div class="row">
			<div class="sale_row-2">
				<div class="col-md-6 col-lg-6 nopadding saleBox sale__item">
					<div class="col-md-12 col-lg-7 nopadding">
						<div class="box-left">
							<h4>
								Vianočné dáta pre blízkeho a pre seba</h4>
							Toľko dát, koľko darujte blízkym, automaticky darujeme aj my vám do 31. 12. 2017. Balíček si môžete aktivovať cez aplikáciu Telekom 1x zadarmo.
							<div class="akcia">
								2000 MB pre blízkych + 2000 MB pre seba
								<div class="price">
									0&nbsp;€</div>
							</div>
							<div class="vianoce-wiki" style="padding-top: 10px;">
								<a href="https://www.telekom.sk/wiki/internet/vianocne-data">Prejsť na viac info do Wiki</a></div>
							<div class="vianoce-buton-cta text_centered" style="padding-top: 20px;">
								<a class="scroll-to btn cta" href="https://www.telekom.sk/telekom-aplikacia">AKTIVOVAŤ V TELEKOM APPKE</a></div>
						</div>
					</div>
					<div class="col-md-12 col-lg-5 nopadding vianoce-main-img">
						<img src="/documents/10179/9827031/mobilny_internet_vianoce_main.png" style="float: right" /></div>
				</div>
				<div class="col-md-5 col-lg-3 row-middle saleBox sale__item text_centered">
					<img src="/documents/10179/9827031/mobilny_internet_data_blizky.png" />
					<h4>
						Dáta navyše pre blízkych</h4>
					<div style="color: #6c6c6c;padding-bottom: 5px;font-size: 15px;">
						Darujte 1000 MB blízkym koľkokrát chcete a my vám po každé darujeme 1000 MB. Aktivujte si balík Dáta navyše pre blízkych iba za 5,99&nbsp;€.</div>
					<a href="https://www.telekom.sk/wiki/internet/data-navyse-pre-blizkych">Prejsť na viac info do Wiki</a>
					<div class="vianoce-buton-cta text_centered" style="padding-top: 10px;">
						<a class="scroll-to btn cta" href="https://www.telekom.sk/telekom-aplikacia" style="font-size: 15px">AKTIVOVAŤ V TELEKOM APPKE</a></div>
				</div>
				<div class="col-md-3 col-lg-2 saleBox sale__item text_centered row-right">
					<h4 style="padding-top: 10px;">
						4G SIM karta zadarmo!</h4>
					<div style="color: #4b4b4b;padding-top: 8px;padding-bottom: 13px;">
						Vymeňte si zadarmo starú SIM kartu za novú 4G.</div>
					<div style="color: #262626">
						O 4G SIM kartu požiadajte na čísle 0800 123 456, pri kúpe paušálu <a href="/happy">Happy</a> alebo osobne v <a href="/predajne">Telekom centrách</a>.</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-5" id="sec-5">
	<div class="container-fixed">
		<h2 class="sec__title">
			MOHLO BY VÁS ZAUJÍMAŤ</h2>
		<div class="row">
			<div class="col-md-2">
				&nbsp;</div>
			<div class="col-md-4 item">
				<img alt="" src="/documents/10179/9827031/ico-4.png" />
				<h4 class="item__title">
					Najrýchlejšia mobilná 4G sieť</h4>
				<p class="item__desc">
					Získajte viac informácií o 4G sieti od Telekomu, vďaka ktorej surfujete v mobile najvyššou rýchlosťou.</p>
				<a class="link" href="internet/4g-internet">Viac informácií</a></div>
			<div class="col-md-4 item">
				<img alt="" src="/documents/10179/9827031/ico-5.png" />
				<h4 class="item__title">
					Internet v mobile aj k Easy Pecke</h4>
				<p class="item__desc">
					Zabudnite na hľadanie Wi-Fi počas dovolenky a surfujte bez problémov aj v zahraničí.</p>
				<a class="link" href="/volania/roaming#internet">Viac informácií</a></div>
			<div class="col-md-2">
				&nbsp;</div>
		</div>
	</div>
</section>
<!-- LIGHTBOXES -->
<div class="fancybox_hide" id="data100" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br />
		<strong>DATA100ZAP</strong> na číslo <strong>12323</strong><br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA100ZAP" href="#">Pošlite SMS</a></div>
</div>
<div class="fancybox_hide" id="dataden1000" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br />
		<strong>DATA DEN 1000</strong> na číslo <strong>12323</strong><br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA DEN 1000" href="#">Pošlite SMS</a></div>
</div>
<div class="fancybox_hide" id="datadenneob" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br />
		<strong>DATA DEN NEOB</strong> na číslo <strong>12323</strong><br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA DEN NEOB" href="#">Pošlite SMS</a></div>
</div>
<div class="fancybox_hide" id="data500" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br />
		<strong>DATA500ZAP</strong> na číslo <strong>12323</strong><br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA500ZAP" href="#">Pošlite SMS</a></div>
</div>
<div class="fancybox_hide" id="data1000" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br />
		<strong>DATA1000ZAP</strong> na číslo <strong>12323</strong><br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA1000ZAP" href="#">Pošlite SMS</a></div>
</div>
<!-- 100 -->
<div class="easy-lightbox" id="activate-baliky-internet-100">
	<h2>
		RAZ GIGA</h2>
	<div>
		Pošli SMS s textom <span class="semibold magenta">RAZGIGA</span> na <span class="semibold magenta">12330</span>.<br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="RAZGIGA" href="#">Poslať SMS</a></div>
</div>
<!-- vzdy giga -->
<div class="easy-lightbox" id="activate-baliky-internet-500">
	<h2>
		VŽDY GIGA</h2>
	<div>
		Pošli SMS s textom <span class="semibold magenta">GIGA</span> na <span class="semibold magenta">12330</span>.<br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="GIGA" href="#">Poslať SMS</a></div>
</div>
<!--  VŽDY 2 GIGA -->
<div class="easy-lightbox" id="activate-baliky-internet">
	<h2>
		VŽDY 2 GIGA</h2>
	<div>
		Pošli SMS s textom <span class="semibold magenta">2GIGA</span> na <span class="semibold magenta">12330</span><br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="2GIGA" href="#">Poslať SMS</a></div>
</div>
<div class="fancybox_hide" id="lightbox-zd">
	<div class="p-head">
		&nbsp;</div>
	<!-- POPUP CONTENT -->
	<div class="p-content" style="padding: 20px 20px;">
		<div class="text_centered">
			<img alt="" src="/documents/10179/9827031/lightbox-zd.png" />
			<h2 class="lightbox-title" id="-73" style="padding-top: 12px;">
				<b>ZDIEĽANIE DÁT Z PAUŠÁLU</b></h2>
			<p style="max-width: 283px;">
				So službou Zdieľanie dát môžete svoje dáta z paušálu využívať vy alevo vaši blízki na pripojenie k internetu aj na ďalšom mobile, tablete či počítači.<br />
				<br />
				<b>Ak si aktivujete nový paušál Happy L, XL, XXL alebo Profi, získate Zdieľanie dát zadarmo až na 2 roky.</b><br />
				<br />
				Službu aktivujete vložením do košíka počas kúpy paušálu.</p>
			<br />
			<a class="lightbox-btn" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">PREJSŤ K PAUŠÁLOM</a></div>
	</div>
</div>
<!-- 100 -->
<div class="fancybox_hide" id="data-100">
	Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
	<strong>SURF100</strong> na číslo <strong>12330</strong><br />
	<br />
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF100" href="#">Pošlite SMS</a><br />
	<br />
	Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 100 MB<br />
	alebo po uplynutí 30 dní, zašlite SMS s textom SURF100A na číslo 12330<br />
	<br />
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF100A" href="#">Pošlite SMS</a></div>
<!-- 500 -->
<div class="fancybox_hide" id="data-500">
	Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
	<strong>SURF500</strong> na číslo <strong>12330</strong><br />
	<br />
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF500" href="#">Pošlite SMS</a><br />
	<br />
	Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 500 MB<br />
	alebo po uplynutí 30 dní, zašlite SMS s textom SURF500A na číslo 12330<br />
	<br />
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF500A" href="#">Pošlite SMS</a></div>
<!-- 1000 -->
<div class="fancybox_hide" id="lightbox-5">
	Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
	<strong>SURF1000</strong> na číslo <strong>12330</strong><br />
	<br />
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF1000" href="#">Pošlite SMS</a><br />
	<br />
	Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 1000 MB<br />
	alebo po uplynutí 30 dní, zašlite SMS s textom SURF1000A na číslo 12330<br />
	<br />
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF1000A" href="#">Pošlite SMS</a></div>
<div class="fancybox_hide fancybox-small" id="lightbox-6">
	<span class="font_magenta">Dátový balíček 1 000 MB navyše pre blízkych</span><br />
	Dáta môžete rozdeliť blízkym, ktorí majú aktivované služby Happy (okrem Happy XS mini), Easy Pecka, Easy Team alebo Fix<br />
	Balíček nie je dostupný pre Happy XS mini, XS a S.</div>
<div id="data" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<div class="p-content">
		<h4 class="p-title">
			Koľko dát majú paušály</h4>
		<table>
			<tbody>
				<tr>
					<td>
						Happy XS mini</td>
					<td>
						20 MB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XS</td>
					<td>
						200 MB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy S</td>
					<td>
						400 MB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XL<br />
						Dáta pre mladých</td>
					<td>
						5 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy M</td>
					<td>
						1 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy L</td>
					<td>
						3 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XL volania</td>
					<td>
						1 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XL</td>
					<td>
						6 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XXL</td>
					<td>
						9 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy Profi</td>
					<td>
						16 GB<br />
						v SR a EÚ+<br />
						+ 500 MB<br />
						vo svete a zóne<br />
						Profi</td>
				</tr>
				<tr>
					<td>
						Program<br />
						Bez záväzkov</td>
					<td>
						0,10&nbsp;€ / MB<br />
						v SR a EÚ+</td>
				</tr>
			</tbody>
		</table>
		<p class="custom-legal">
			EÚ+ sú všetky členské štáty EÚ,<br />
			Island, Nórsko a Lichtenštajnsko</p>
	</div>
</div>
<div class="easy-lightbox" id="max50">
	<h2>
		Max 50 centov na deň</h2>
	<div>
		Za surfovanie zaplatíš 0,10 €/MB, max. však do 0,50 €. Následne v danom dni surfuješ 200 MB zadarmo.<br />
		Ak nesurfuješ, neplatíš samozrejme nič. Kedykoľvek si môžeš dokúpiť ďalších 200 MB poslaním SMS<br />
		v tvare ESTE200 na 12330 alebo využiť Dátové balíčky.</div>
</div>
<!-- vzdy-giga -->
<div class="easy-lightbox" id="automaticka-obnova">
	<h2>
		VŽDY GIGA</h2>
	<div>
		Balík sa ti <b>vždy automaticky obnoví</b> na ďalšie obdobie. Obnovovanie balíka si môžeš kedykoľvek deaktivovať poslaním SMS v tvare <span class="semibold magenta">GIGA VYP</span> na <span class="semibold magenta">12330</span>. Po vypršaní balíčka sa ti už ďalší neaktivuje.</div>
</div>
<!-- 2giga -->
<div class="easy-lightbox" id="automaticka-obnova2">
	<h2>
		VŽDY 2 GIGA</h2>
	<div>
		Balík sa ti <b>vždy automaticky obnoví</b> na ďalšie obdobie. Obnovovanie balíka si môžeš kedykoľvek deaktivovať poslaním SMS v tvare <span class="semibold magenta">2GIGA VYP</span> na <span class="semibold magenta">12330</span>. Po vypršaní balíčka sa ti už ďalší neaktivuje.</div>
</div>
<!-- dokupenie -->
<div class="easy-lightbox" id="dalsie-data">
	<h2>
		EŠTE 500</h2>
	<div>
		Po vyčerpaní dát z balíčka si môžeš dokúpiť ďalších 500 MB dát len za 1 €. A to až 4 x. Pošli SMS v tvare <span class="semibold magenta">ESTE500</span> na <span class="semibold magenta">12330</span>.</div>
</div>
<script type="text/javascript" src="/documents/10179/9827033/slick.min.js"></script><script type="text/javascript" src="/documents/10179/9827033/main.js"></script><script type="text/javascript" src="/documents/10179/13169475/sms-prefill.js"></script>
