<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			<!-- mobile --></div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>MAGIO TELEVÍZIA</b><br />
				AŽ 150 TV STANÍC</br>A MAGIO GO ZADARMO</h1>
			<a class="scroll-to" href="?aktualne-akcie#sec-4">Pozrieť aktuálne akcie k Magio televízii</a></div>
	</div>
</section>
<div id="nav-sticky">
	<ul>
		<li>
			<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
		<li>
			<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
		<li>
			<a class="scroll-to" href="#sec-4">AKTUÁLNE AKCIE</a></li>
		<li>
			<a class="scroll-to" href="#sec-5">TV STANICE</a></li>
		<li>
			<a class="scroll-to" href="#sec-6">FUNKCIE</a></li>
		<li>
			<a class="scroll-to" href="#sec-7">DOPLNKOVÉ SLUŽBY</a></li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
	</ul>
</div>
<section class="section sec-1" id="sec-1">
	<div class="fixed-column">
		<h2 class="section__title">
			VÝHODY MAGIO TELEVÍZIE</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Programy v HD kvalite" class="media__img" src="../assets/img/ico-hd.png" />
				<p class="media__title_black">
					<strong>Programy v HD kvalite</strong></p>
				<p class="media__desc">
					Aj s Magio televíziou si vychutnáte skutočné farby a ostré detaily pri sledovaní vybraných TV staníc v HD kvalite.</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Mobilná televízia Magio GO zadarmo" class="media__img" src="../assets/img/ico-tv.png" />
				<p class="media__title_black">
					<strong>Mobilná televízia Magio GO zadarmo</strong></p>
				<p class="media__desc">
					V rámci Magio TV získate mobilnú televíziu Magio GO zadarmo na celý čas, ktorý budete využívať službu Magio TV.</p>
				<a class="link media__link link_tundora" href="/televizia/magio-go">Viac o Magio GO</a></div>
			<div class="grid-g__col_4 media">
				<img alt="Široká dostupnosť v celej SR" class="media__img" src="../assets/img/ico-sk.png" />
				<p class="media__title_black">
					<strong>Široká dostupnosť v celej SR</strong></p>
				<p class="media__desc">
					Televíziu zriadime aj u vás doma cez pevnú sieť (optická a metalická technológia) alebo cez satelitnú anténu.</p>
				<!--<a href="#" class="link media__link link_tundora">Overiť dostupnosť</a>--></div>
		</div>
	</div>
</section>
<section class="section sec-2" id="sec-2">
	<div class="fixed-column">
		<h2 class="section__title">
			SLUŽBY A CENY MAGIO TELEVÍZIE</h2>
		<p class="section__desc">
			Magio televízia sa dá objednať v Chytrom balíku samostatne alebo za výhodnejšiu cenu s <a class="link" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=xl&amp;linka=xl">Magio Internetom XL a Pevnou linkou XL</a> od 1 €.</p>
		<div class="col-group">
			<div class="grid-g__col_4 variant-sec1">
				<div class="variant__title">
					Magio TELEVÍZIA M</div>
				<div class="variant__chanels">
					<p class="chanels__title">
						<a class="fancy" href="#magiom">61 TV STANÍC</a></p>
					<p class="chanels_desc">
						<a class="fancy" href="#magiom">1 x základný a český balík<br />
						3 x programový balík podľa výberu</a></p>
				</div>
				<img alt="" class="variant__img" src="../assets/img/tv-1.png" />
				<p>
					&nbsp;</p>
				<div class="variant__go">
					Mobilná TV Magio GO zadarmo<br />
					<span class="info-tooltip info-4">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
				<div class="variant__pricing">
					<p class="price">
						10,00 € / mesačne</p>
					<p class="price__detail info-tooltip info-5">
						s Magio internetom a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					<p class="price__detail info-tooltip info-5">
						&nbsp;</p>
					<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=m"><span>VYBRAŤ</span> </a><br />
					<!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
			<div class="grid-g__col_4 variant-sec1">
				<div class="variant__title">
					Magio TELEVÍZIA L</div>
				<div class="variant__chanels">
					<p class="chanels__title">
						<a class="fancy" href="#magiol">88 TV STANÍC</a></p>
					<p class="chanels__desc">
						<a class="fancy" href="#magiol">1 x základný a český balík<br />
						6 x programový balík podľa výberu<br />
						1 x Extra balík L<br />
						Exkluzívna detská Ťuki TV</a></p>
				</div>
				<img alt="" class="variant__img" src="../assets/img/tv-2.png" />
				<p>
					&nbsp;</p>
				<div class="variant__go">
					Mobilná TV Magio GO zadarmo<br />
					<span class="info-tooltip info-4">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
				<div class="variant__pricing">
					<p class="price">
						15,00 € / mesačne</p>
					<p class="price__detail info-tooltip info-5">
						s Magio internetom a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					<p class="price__detail info-tooltip info-5">
						&nbsp;</p>
					<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=l"><span>VYBRAŤ</span> </a><br />
					<!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
			<div class="grid-g__col_4 variant-sec1">
				<div class="variant__title">
					Magio TELEVÍZIA XL</div>
				<div class="variant__chanels">
					<p class="chanels__title">
						<a class="fancy" href="#magioxl">113 TV STANÍC</a></p>
					<p class="chanels__desc">
						<a class="fancy" href="#magioxl">1 x základný a český balík<br />
						6 x programový balík podľa výberu<br />
						1 x Extra balík L<br />
						1 x Extra balík XL<br />
						Exkluzívna detská Ťuki TV</a></p>
				</div>
				<img alt="" class="variant__img" src="../assets/img/tv-3.png" />
				<p>
					&nbsp;</p>
				<div class="variant__go">
					Mobilná TV Magio GO zadarmo<br />
					<span class="info-tooltip info-4">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
				<div class="variant__pricing">
					<p class="price">
						20,00 € / mesačne</p>
					<p class="price__detail info-tooltip info-5">
						s Magio internetom a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					<p class="price__detail info-tooltip info-5">
						&nbsp;</p>
					<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl"><span>VYBRAŤ</span> </a><br />
					<!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
		</div>
		<div class="col-group">
			<div class="grid-g__col_12">
				<p class="disclaimer">
					Všetky uvedené ceny sú vrátane DPH.</p>
			</div>
		</div>
		<div class="col-group">
			<div class="cmb__area" id="cmb__block">
				<h3 class="cmb__area__head" id="-5">
					Poradíme Vám s ponukou?</h3>
				<a class="btn cta_mag" href="#" id="cmb__btn">Áno, zavolajte mi späť</a>
			</div>
		</div>
	</div>
</section>
<section class="section sec-3" id="sec-3">
	<div class="fixed-column">
		<h2 class="section__title">
			EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Extra zľava 10 €" class="media__img" src="../assets/img/ico-discount.png" />
				<p class="media__title">
					Extra zľava 10 €</p>
				<p class="media__desc">
					pri kúpe Magio Televízie cez web. V kombinácii s Internetom a Pevnou linkou zľava až do 30 €.</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Prvých 14 dní bez záväzkov" class="media__img" src="../assets/img/ico-cal.png" />
				<p class="media__title">
					Prvých 14 dní bez záväzkov</p>
				<p class="media__desc">
					pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Doručenie kuriérom zadarmo" class="media__img" src="../assets/img/ico-car.png" />
				<p class="media__title">
					Doručenie kuriérom zadarmo</p>
				<p class="media__desc">
					kdekoľvek v rámci SR</p>
			</div>
		</div>
	</div>
</section>

<section class="section sec-akcie" id="sec-4">
		<!-- load from aktualne-akcie.html -->
</section>

<section class="section ostatne-akcie">
	<div class="container-fixed">
		<div class="row">
			<!-- OSTATNÉ AKCIE -->
			<h2 class="akcie_title">
				OSTATNÉ AKCIE</h2>
			<div class="offer-box box-2">
				<div class="offer__wrapper">
					<div class="left-holder">
						<h4 class="offer__title">
							CHCETE VIAC ZA MENEJ?</h4>
						<p class="offer__desc">
							Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
						<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a></div>
					<div class="right-holder">
						<!-- <img alt="" src="../assets/img/prod-eset.jpg" /> --></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-5" id="sec-5">
	<div class="fixed-column">
		<h2 class="section__title">
			TELEVÍZNE STANICE</h2>
		<div class="col-group">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12 media">
					<img alt="Základný a Český balík zadarmo" class="media__img" src="../assets/img/ico-czsk.png" />
					<p class="media__title">
						Základný a Český balík zadarmo</p>
					<p class="media__desc">
						Základný balík s 18 TV stanicami vrátane staníc v HD kvalite a Český balík sú súčasťou všetkých Magio TV (M, L a XL). Balíky sa aktivujú automaticky v nákupnom košíku.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#zak-bal">Pozrieť Základný a Český balík</a></div>
				<div class="col-md-4 col-sm-4 col-xs-12 media">
					<img alt="Programové balíky v cene" class="media__img" src="../assets/img/ico-pipe.png" />
					<p class="media__title">
						Programové balíky v cene</p>
					<p class="media__desc">
						S Magio TV L a XL získate v cene 6 Programových balíkov. S Magio TV M si z nich môžete vybrať 3 podľa svojich predstáv.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#hudobny-a-detsky-balik">Pozrieť Programové balíky</a><br />
					<p class="link media__link link_tundora info-activation info-tooltip">
						Ako balíky aktivovať</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 media">
					<img alt="Extra programové balíky" class="media__img" src="../assets/img/ico-program.png" />
					<p class="media__title">
						Extra programové balíky</p>
					<p class="media__desc">
						Pozrite si ponuku extra balíkov aj pre tých najnáročnejších divákov, ktoré si môžete objednať navyše už od 1,39 € /mes.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#variant-xl">Pozrieť Extra balíky</a><br />
					<p class="link media__link link_tundora info-activation info-tooltip">
						Ako balíky aktivovať</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 media">
					<div class="wrapper">
						<img alt="Extra programové balíky" class="media__img" src="../assets/img/liga.png" />
						<p class="media__title">
							Magio TV je úplne iná liga</p>
						<p class="media__desc">
							Sledujte futbalové zápasy Premier League, Ligy majstrov UEFA alebo La Liga exkluzívne so stanicami Digi Sport. Zastavte a pretočte obraz, aby vám už žiadny gól neunikol!</p>
						<a class="link media__link link_blue" href="/televizia/magio-sport">Viac o športových staniciach</a><br />
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 media">
					<div class="wrapper">
						<img alt="Extra programové balíky" class="media__img" src="../assets/img/tuki.png" />
						<p class="media__title">
							Exkluzívna Ťuki TV pre deti v Slovenčine</p>
						<p class="media__desc">
							Ťuki TV vysiela pre tých najmenších nové, ale aj tradičné rozprávky , seriály či hudbu výhradne v slovenčine. Stanica je dostupná len pre zákazníkov Magio televízie L a XL.</p>
						<a class="link media__link link_blue" href="http://www.tukitv.sk/">Viac o Ťuki televízii</a><br />
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section default sec-6a" id="sec-6a" data-segment="3">
	<div class="container-fixed">
		<h2 class="section__title">
			FUNKCIE MAGIO TELEVÍZIE</h2>
		<div class="row">
			<div class="col-md-12">
				<div class="tabs-container">
					<div class="tab__holder">
						<!-- TABS MENU -->
						<ul class="tabs-menu">
							<li class="variant current" data-variant="4">
								<a href="#tab-4">Moderné ovládanie</a>
							</li>
							<li class="variant" data-variant="5">
								<a href="#tab-5">Zastavenie a pretočenie</a>
							</li>
							<li class="variant" data-variant="6">
								<a href="#tab-6">Ďalšie funkcie</a>
							</li>
						</ul>
					</div>

					<div class="tab">
						<!-- Tab 1 -->
						<div class="tab-content clearfix" id="tab-4" style="display: block;">
							<div class="tab-box clearfix">
								<div class="tab-box__content">
									<div class="col-xs-12 col-md-12 flex">
										<div class="col-md-6 col-sm-6 col-xs-12 order-2">
											<p>
												<b>Moderný, vylepšený dizajn</b>
											</p>
											<p>Vďaka vylepšenému dizajnu zvládnete ovládanie svojej Magio televízie veľmi rýchlo. V prehľadnom menu sa za okamih
												dostanete do TV Archívu, Videopožičovne, k svojim nahrávkam či do nastavení, ktoré vám umožnia prispôsobiť televíziu
												svojim predstavám. Spustenie programu od začiatku jedným tlačidlom nebolo nikdy jednoduchšie.</p>
											<a href="/wiki/televizia/funkcie-magio-televizie" class="link">Pozrieť viac o funkciách vo Wiki</a>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12 order-1">
											<img src="../assets/img/new-tv1.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Tab 2 -->
						<div class="tab-content clearfix" id="tab-5">
							<div class="tab-box clearfix">
								<div class="tab-box__content">
									<div class="col-xs-12 col-md-12 flex">
										<div class="col-md-6 col-sm-6 col-xs-12 order-2">
											<p>
												<b>Zastavenie a pretočenie programu</b>
											</p>
											<p>Zastavte alebo pretočte obraz dozadu a späť. Vrátiť sa dá do času, od kedy ste program začali sledovať (max. 90
												minút). Pri prepnutí na inú stanicu sa táto pamäť vymaže. S Magio Archívom môžete program vybraných TV staníc
												pretočiť späť aj po zapnutí televízoru alebo prepnutí TV stanice.</p>
											<a href="/wiki/televizia/funkcie-magio-televizie" class="link">Pozrieť viac o funkciách vo Wiki</a>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12 order-1">
											<img src="../assets/img/new-tv2.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Tab 3 -->
						<div class="tab-content clearfix" id="tab-6">
							<div class="tab-box clearfix">
								<div class="tab-box__content">
									<div class="col-xs-12 col-md-12 flex">
										<div class="col-md-6 col-sm-6 col-xs-12 order-2">
											<p>
												<b>Ďalšie užitočné funkcie</b>
											</p>
											<p>Nahrajte si program až na 4 Magio boxoch súčasne. Nahrávanie nastavte priamo cez televízor alebo cez internet
												na svojom mobile či počítači. Nájdite cez lupu film, reláciu alebo TV stanicu jednoducho podľa názvu, mien hercov
												či režiséra. Vyberte si film, rozprávku či seriál z ponuky Videopožičovňe, ktorá je k dispozícii 24 hodín denne,
												7 dní v týždni.</p>
											<a href="/wiki/televizia/funkcie-magio-televizie" class="link">Pozrieť viac o funkciách vo Wiki</a>
										</div>
										<div class="col-md-6 col-sm-6 col-xs-12 order-1">
											<img src="../assets/img/new-tv.png" alt="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="accordion" data-accordion="3">
						<!-- Accordion Data -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section sec-7" id="sec-7">
	<div class="fixed-column">
		<h2 class="section__title">
			DOPLNKOVÉ SLUŽBY</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Spustenie programu od začiatku a Magio archív" class="media__img" style="max-height: 81px;" src="../assets/img/ec-zadarmo.png" />
				<p class="media__title_black">
					Spustenie programu od začiatku a Magio archív</p>
				<p class="media__desc">
					Pustite si alebo pretočte program, ktorý už beží od začiatku aj po zapnutí/prepnutí TV stanice alebo sledujte program až 7 dní dozadu s Magio archívom. Teraz na prvé 3 mesiace zadarmo. Cena od štvrtého mesiaca pre:<br />
					<a class="lightbox fancy link media__link link_blue" href="#archivs">Archiv S cena 1,99 €/mes.</a><br />
					<a class="lightbox fancy link media__link link_blue" href="#archivm">Archiv M cena 3,99 €/mes.</a></p>
				<p class="link media__link link_blue info-tooltip info-3">
					Ako aktivovať tieto služby</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Extra programové balíky" class="media__img" src="../assets/img/ico-program.png" />
				<p class="media__title_black">
					Extra programové balíky</p>
				<p class="media__desc">
					uspokoja aj tých najnáročnejších divákov už od 1,39 / mes. Pre filmových fanúšikov je určený balík HBO + Cinemax s filmovými trhákmi. Okrem neho vám ponúkame rodinný a športový balíček programov v HD kvalite či balíček s maďarskými kanálmi.</p>
				<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#variant-xl">Pozrieť Extra balíky</a><br />
				<p class="link media__link link_tundora info-activation info-tooltip">
					Ako balíky aktivovať</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Pomoc s inštaláciou" class="media__img" src="../assets/img/ico-service.png" />
				<p class="media__title_black">
					Pomoc s inštaláciou</p>
				<p class="media__desc">
					Naši technici vám radi pomôžu so zapojením televízie za jednorazový poplatok 19,99 €. V prípade záujmu si službu Inštalácia technikom aktivujte v nákupnom košíku.</p>
			</div>
		</div>
	</div>
</section>

<div class="detail">
	<div class="detail-lightbox" id="magiom">
		<div class="detail-content">
			<h1>
				Magio TV M - Základný a český balík v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
				&nbsp;</div>
			<h1>
				3 Programové balíky v cene, podľa vlastného výberu:</h1>
			<p>
				V ďalšom kroku si vyberiete kombináciu troch programových balíkov v cene služby podľa vašich predstáv.</p>
			<h4>
				HUDOBNÝ + DETSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
				&nbsp;</div>
			<h4>
				VOĽNÝ ČAS</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
				&nbsp;</div>
			<h4>
				ŠTÝL A FAKTY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
				&nbsp;</div>
			<h4>
				DOKUMENTÁRNY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
				&nbsp;</div>
			<h4>
				ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
				&nbsp;</div>
			<h4>
				FILMOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
				&nbsp;</div>
			<h1>
				Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
			<h4>
				HBO + CINEMAX</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
				&nbsp;</div>
			<h4>
				MAĎARSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
				&nbsp;</div>
			<h4>
				HD RODINNÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
				&nbsp;</div>
			<h4>
				HD ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
				&nbsp;</div>
		</div>
	</div>
	<div class="detail-lightbox" id="magiol">
		<div class="detail-content">
			<h1>
				Magio TV L - Základný a český balík v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
				&nbsp;</div>
			<h1>
				Extra balík L - v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="EXTRA_BALICEK_L">
				&nbsp;</div>
			<h1>
				Programové balíky - v cene služby</h1>
			<h4>
				HUDOBNÝ + DETSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
				&nbsp;</div>
			<h4>
				VOĽNÝ ČAS</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
				&nbsp;</div>
			<h4>
				ŠTÝL A FAKTY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
				&nbsp;</div>
			<h4>
				DOKUMENTÁRNY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
				&nbsp;</div>
			<h4>
				ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
				&nbsp;</div>
			<h4>
				FILMOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
				&nbsp;</div>
			<h1>
				Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
			<h4>
				HBO + CINEMAX</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
				&nbsp;</div>
			<h4>
				MAĎARSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
				&nbsp;</div>
			<h4>
				HD RODINNÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
				&nbsp;</div>
			<h4>
				HD ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
				&nbsp;</div>
		</div>
	</div>
	<div class="detail-lightbox" id="magioxl">
		<div class="detail-content">
			<h1>
				Magio TV XL - Základný a český balík v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
				&nbsp;</div>
			<h1>
				Extra balík L - v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="EXTRA_BALICEK_L">
				&nbsp;</div>
			<h1>
				Extra balík XL - v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="KANALY_NAVYSE_XL">
				&nbsp;</div>
			<h1>
				Programové balíky - v cene služby</h1>
			<h4>
				HUDOBNÝ + DETSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
				&nbsp;</div>
			<h4>
				VOĽNÝ ČAS</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
				&nbsp;</div>
			<h4>
				ŠTÝL A FAKTY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
				&nbsp;</div>
			<h4>
				DOKUMENTÁRNY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
				&nbsp;</div>
			<h4>
				ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
				&nbsp;</div>
			<h4>
				FILMOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
				&nbsp;</div>
			<h1>
				Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
			<h4>
				HBO + CINEMAX</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
				&nbsp;</div>
			<h4>
				MAĎARSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
				&nbsp;</div>
			<h4>
				HD RODINNÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
				&nbsp;</div>
			<h4>
				HD ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
				&nbsp;</div>
		</div>
	</div>
	<div class="easy-lightbox" id="archivs">
		<div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_S">
			&nbsp;</div>
	</div>
	<div class="easy-lightbox" id="archivm">
		<div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_M">
			&nbsp;</div>
	</div>
</div>
<div class="easy-lightbox" id="info-magio-box">
	<p class="close-end">
		<a>X</a></p>
	<h2>
		<b>Magio GO TV Box</b></h2>
	<div class="lightbox-content">
		<div class="lightbox-content-1">
			<div class="lightbox-content-mob">
				<img src="../assets/img/magio_go_box_mob.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" /></div>
			<div>
				Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte internet.</div>
		</div>
		<div class="lightbox-content-2">
			K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO Premium za 5,99 € | mes.</div>
		<div class="lightbox-content-3">
			<div class="lightbox-icon">
				<img src="../assets/img/icon6.png" /></div>
			<div class="lightbox-3-cont">
				V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
		</div>
	</div>
	<div class="lightbox-img-cont">
		<img src="../assets/img/magio_go_box.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" />
		<div class="tab-ex">
			<p>
				K ľubovolnej pevnej službe:</p>
			<div>
				<div class="tab-ex-label">
					Mesačne</div>
				<div class="tab-ex-price">
					0 €</div>
			</div>
			<div>
				<div class="tab-ex-label">
					Jednorázovo</div>
				<div class="tab-ex-price">
					<span class="strikethrough">69,99 €</span>29,90 €</div>
			</div>
		</div>
	</div>
	<p class="lightbox-action">
		<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
</div>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
