<section id="hero">
	<div class="fixed-column">
		<div class="hero__content">
			<h1 class="hero__title">
				MAGIO TELEVÍZIA</h1>
			<a class="button button_lima scroll-to" href="#sec-2"><span>VIAC INFO</span> </a><br />
			<!--<a class="arrow-down" href="#">Pozrieť viac info <img src="/documents/10179/639145/arrow-down.png" alt="Arrow"></a>--></div>
	</div>
</section>
<div id="nav-sticky">
	<ul>
		<li>
			<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
		<li>
			<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
		<li>
			<a class="scroll-to" href="#sec-4">VIANOČNÉ AKCIE</a></li>
		<li>
			<a class="scroll-to" href="#sec-5">TV STANICE</a></li>
		<li>
			<a class="scroll-to" href="#sec-6">FUNKCIE</a></li>
		<li>
			<a class="scroll-to" href="#sec-7">DOPLNKOVÉ SLUŽBY</a></li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/639145/arrow-top.png" /></a></li>
	</ul>
</div>
<section class="section sec-1" id="sec-1">
	<div class="fixed-column">
		<h2 class="section__title">
			VÝHODY MAGIO TELEVÍZIE</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Programy v HD kvalite" class="media__img" src="/documents/10179/639145/ico-hd.png" />
				<p class="media__title_black">
					Programy v HD kvalite</p>
				<p class="media__desc">
					Aj s Magio televíziou si vychutnáte skutočné farby a ostré detaily pri sledovaní vybraných TV staníc v HD kvalite.</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Mobilná televízia Magio GO zadarmo" class="media__img" src="/documents/10179/639145/ico-tv.png" />
				<p class="media__title_black">
					Mobilná televízia Magio GO zadarmo</p>
				<p class="media__desc">
					V rámci Magio TV získate mobilnú televíziu Magio GO zadarmo na celý čas, ktorý budete využívať službu Magio TV.</p>
				<a class="link media__link link_tundora" href="/televizia/magio-go">Viac o Magio GO</a></div>
			<div class="grid-g__col_4 media">
				<img alt="Široká dostupnosť v celej SR" class="media__img" src="/documents/10179/639145/ico-sk.png" />
				<p class="media__title_black">
					Široká dostupnosť v celej SR</p>
				<p class="media__desc">
					Televíziu zriadime aj u vás doma cez pevnú sieť (optická a metalická technológia) alebo cez satelitnú anténu.</p>
				<!--<a href="#" class="link media__link link_tundora">Overiť dostupnosť</a>--></div>
		</div>
	</div>
</section>
<section class="section sec-2" id="sec-2">
	<div class="fixed-column">
		<h2 class="section__title">
			SLUŽBY A CENY MAGIO TELEVÍZIE</h2>
		<p class="section__desc">
			Magio televízia sa dá objednať v Chytrom balíku samostatne alebo za výhodnejšiu cenu s <a class="link" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=xl&amp;linka=xl">Magio Internetom XL a Pevnou linkou XL</a> od 1 €.</p>
		<div class="col-group">
			<div class="grid-g__col_4 variant">
				<div class="variant__title">
					Magio TELEVÍZIA M</div>
				<div class="variant__chanels">
					<p class="chanels__title">
						<a class="fancy" href="#magiom">61 TV STANÍC</a></p>
					<p class="chanels__desc">
						<a class="fancy" href="#magiom">1 x základný a český balík<br />
						3 x programový balík podľa výberu</a></p>
				</div>
				<img alt="" class="variant__img" src="/documents/10179/639145/tv-1.png" />
				<div class="variant__go">
					Mobilná TV Magio GO zadarmo<br />
					<span class="info-tooltip info-4">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
				<div class="variant__pricing">
					<p class="price">
						10,00 € / mesačne</p>
					<p class="price__detail info-tooltip info-5">
						s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					<a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=m"><span>VYBRAŤ</span> </a><br />
					<!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
			<div class="grid-g__col_4 variant">
				<div class="variant__title">
					Magio TELEVÍZIA L</div>
				<div class="variant__chanels">
					<p class="chanels__title">
						<a class="fancy" href="#magiol">88 TV staníc</a></p>
					<p class="chanels__desc">
						<a class="fancy" href="#magiol">1 x základný a český balík<br />
						6 x programový balík podľa výberu<br />
						1 x Extra balík L<br />
						Exkluzívna detská Ťuki TV</a></p>
				</div>
				<img alt="" class="variant__img" src="/documents/10179/639145/tv-2.png" />
				<div class="variant__go">
					Mobilná TV Magio GO zadarmo<br />
					<span class="info-tooltip info-4">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
				<div class="variant__pricing">
					<p class="price">
						15,00 € / mesačne</p>
					<p class="price__detail info-tooltip info-5">
						s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					<a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=l"><span>VYBRAŤ</span> </a><br />
					<!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
			<div class="grid-g__col_4 variant">
				<div class="variant__title">
					Magio TELEVÍZIA XL</div>
				<div class="variant__chanels">
					<p class="chanels__title">
						<a class="fancy" href="#magioxl">113 TV staníc</a></p>
					<p class="chanels__desc">
						<a class="fancy" href="#magioxl">1 x základný a český balík<br />
						6 x programový balík podľa výberu<br />
						1 x Extra balík L<br />
						1 x Extra balík XL<br />
						Exkluzívna detská Ťuki TV</a></p>
				</div>
				<img alt="" class="variant__img" src="/documents/10179/639145/tv-3.png" />
				<div class="variant__go">
					Mobilná TV Magio GO zadarmo<br />
					<span class="info-tooltip info-4">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
				<div class="variant__pricing">
					<p class="price">
						20,00 € / mesačne</p>
					<p class="price__detail info-tooltip info-5">
						s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					<a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl"><span>VYBRAŤ</span> </a><br />
					<!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
		</div>
		<div class="col-group">
			<div class="grid-g__col_12">
				<p class="disclaimer">
					Všetky uvedené ceny sú vrátane DPH.</p>
			</div>
		</div>
		<div class="col-group">
			<div class="cmb__area" id="cmb__block">
				<h3 class="cmb__area__head" id="-5">
					Poradíme Vám s ponukou?</h3>
				<a class="button" href="#" id="cmb__btn">Áno, zavolajte mi späť</a></div>
		</div>
	</div>
</section>
<section class="section sec-3" id="sec-3">
	<div class="fixed-column">
		<h2 class="section__title">
			EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Extra zľava 10 €" class="media__img" src="/documents/10179/639145/ico-discount.png" />
				<p class="media__title">
					Extra zľava 10 €</p>
				<p class="media__desc">
					pri kúpe Magio internetu cez web. V kombinácii s televíziou a Pevnou linkou zľava až do 40 €.</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Prvých 14 dní bez záväzkov" class="media__img" src="/documents/10179/639145/ico-cal.png" />
				<p class="media__title">
					Prvých 14 dní bez záväzkov</p>
				<p class="media__desc">
					pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Doručenie kuriérom zadarmo" class="media__img" src="/documents/10179/639145/ico-car.png" />
				<p class="media__title">
					Doručenie kuriérom zadarmo</p>
				<p class="media__desc">
					kdekoľvek v rámci SR</p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-4 xmas-bg" id="sec-4">
	<div class="fixed-column">
		<!--<h2 class="section__title">AKTUÁLNE AKCIE</h2>
        <div class="col-group">
            <div class="grid-g__col_5 tablet-1 promo-media">
                <p class="promo-media__title">Detský tablet od 1 €</p>
                <p class="promo-media__desc">K Magio televízii L alebo XL získate tablet s aplikáciou Kidoz, vďaka ktorej sa deti hrajú alebo surfujú v bezpečnom užívateľskom prostredí.</p>
                <a href="/detskytablet" class="promo-media__link">Pozrieť ponuku</a>
            </div>
            <div class="grid-g__col_7 tablet-2 promo-media">
                <p class="promo-media__title">Tablet na doma od 1 €</p>
                <p class="promo-media__desc">K Magio televízii L alebo XL získate výnimočný tablet, s ktorým príjmete hovor na Pevnú linku, aj keď nie ste doma. Tablet má jednoduché ovládanie, ktoré si osvoja aj vaši starí rodičia.</p>
                <a href="/tablet-na-doma" class="promo-media__link">Pozrieť ponuku</a>
            </div>
        </div>
        <div class="col-group col-space">
            <div class="grid-g__col_7 promo-media">
                <p class="promo-media__title">Mobilná TV Magio GO zadarmo</p>
                <p class="promo-media__desc">Sledujte mobilnú televíziu cez notebook, tablet alebo mobil až na troch zariadeniach súčasne všade v rámci Slovenska, kde máte dostupný internet. Na Magio GO získate zadarmo <span href="#" class="underline info-tooltip">televízne stanice</span>, ktoré máte aktivované v rámci programových balíčkov. Magio GO zadarmo získate ku všetkým Magio TV.</p>
                <a href="/televizia/magio-go" class="promo-media__link">Viac info o Magio GO</a>
            </div>
            <div class="grid-g__col_5 promo-media">
                <p class="promo-media__title">Magio archív na 3 mesiace zadarmo</p>
                <p class="promo-media__desc">Pustite si program, ktorý už beží od začiatku aj po zapnutí/prepnutí TV stanice alebo sledujte program až 7 dní dozadu.Magio archív získate zadarmo na prvé 3 mesiace ku všetkým Magio TV (potom len 1,99 € mes.). Aktivujete ho v nákupnom košíku.</p>
            </div>
        </div>-->
		<div class="row">
			<h2 class="sec__title">
				VIANOČNÉ AKCIE</h2>
			<div class="offer__wrapper">
				<div class="offer-box box-1">
					<div class="offer__wrapper">
						<div class="left-holder">
							<img alt="" src="/documents/10179/639145/offer-prod-3.jpg" /></div>
						<div class="right-holder">
							<h3 class="main-offer__title">
								Získajte Xbox s hrou Minecraft!</h3>
							<p class="main-offer__desc">
								Bavte sa s nami celé Vianoce!<br />
								Bavte sa s nami celé Vianoce! Vezmite si k Magio TV, internetu alebo Pevnej linke hernú konzolu Xbox s hrou Minecraft zadarmo!</p>
							<a class="btn cta" href="/vianocna-ponuka/xbox-a-minecraft">ZISTIŤ VIAC</a></div>
					</div>
				</div>
				<div class="offer-box_no-border box-2" style="display: none;">
					<div class="offer__wrapper">
						<div class="left-holder">
							<img alt="" src="/documents/10179/639145/prod-bat.png" /></div>
						<div class="right-holder">
							<h4 class="offer__title">
								Darček ku každému nákupu!</h4>
							<p class="offer__desc">
								Externú batériu ako darček vám pribalíme ku každému nákupu.</p>
						</div>
					</div>
				</div>
				<!--  <div class="offer-box box-3">
                    <div class="offer__wrapper">
                        <div class="left-holder">
                            <h3 class="offer__title">
								Mobil ako darček k notebooku</h3>
                            <p class="offer__desc">
                                Ak si k Magio TV, internetu alebo Pevnej linke vezmete notebook Lenovo IdeaPad 100S od 1 €, dáme vám mobil Lenovo A2010 ako darček.</p>
                            <a class="btn" href="/vianocna-ponuka/notebook-a-mobil">ZISTIŤ VIAC</a></div>
                        <div class="right-holder">
                            <img alt="" src="/documents/10179/639145/offer-prod-2.jpg" /></div>
                    </div>
                </div> -->
				<div class="offer-box box-3">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h3 class="offer__title">
								Notebook Lenovo IdeaPad 110</h3>
							<p class="offer__desc">
								Surfujte na novom notebooku za dobrú cenu k Magio televízii, internetu alebo Pevnej linke.</p>
							<a class="btn" href="/vianocna-ponuka/notebook-lenovo-ideapad-100">ZISTIŤ VIAC</a></div>
						<div class="right-holder">
							<img alt="" src="/documents/10179/5209263/offer-prod-2.jpg" /></div>
					</div>
				</div>
			</div>
			<div class="sub-offer__holder">
				<div class="sub-offer so__1">
					<h5 class="so__title">
						Notebook Lenovo už od 1 €!</h5>
					<p class="so__desc">
						Vezmite si k Magio TV, internetu alebo Pevnej linke 11" notebook Lenovo IdeaPad 100S už od 1 €!</p>
					<a class="link so__link" href="/vianocna-ponuka/notebook-lenovo-ideapad-100-s">Zistiť viac o tejto akcii</a></div>
				<div class="sub-offer so__2">
					<h5 class="so__title" style="margin-bottom: 20px;">
						Unikátne tablety len za 1 €</h5>
					<!--<p class="so__desc">
						Získajte špeciálny Tablet na doma alebo Detský tablet len za 1 €!</p>
					<a class="link so__link sol_ico" href="/vianocna-ponuka/tablet-na-doma"><img alt="" src="/documents/10179/639145/ico-home.png" />Viac o Tablete na doma</a><br />--><a class="link so__link sol_ico" href="/vianocna-ponuka/detsky-tablet"><img alt="" src="/documents/10179/639145/ico-tedy.png" />Viac o Detskom tablete</a></div>
				<div class="sub-offer so__3">
					<h5 class="so__title">
						Chcete viac za menej?</h5>
					<p class="so__desc">
						Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
					<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a></div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-5" id="sec-5">
	<div class="fixed-column">
		<h2 class="section__title">
			TELEVÍZNE STANICE</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Základný a Český balík zadarmo" class="media__img" src="/documents/10179/639145/ico-czsk.png" />
				<p class="media__title">
					Základný a Český balík zadarmo</p>
				<p class="media__desc">
					Základný balík s 18 TV stanicami vrátane staníc v HD kvalite a Český balík sú súčasťou všetkých Magio TV (M, L a XL). Balíky sa aktivujú automaticky v nákupnom košíku.</p>
				<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#zak-bal">Pozrieť Základný a Český balík</a></div>
			<div class="grid-g__col_4 media">
				<img alt="Programové balíky v cene" class="media__img" src="/documents/10179/639145/ico-pipe.png" />
				<p class="media__title">
					Programové balíky v cene</p>
				<p class="media__desc">
					S Magio TV L a XL získate v cene 6 Programových balíkov. S Magio TV M si z nich môžete vybrať 3 podľa svojich predstáv.</p>
				<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#hudobny-a-detsky-balik">Pozrieť Programové balíky</a><br />
				<p class="link media__link link_tundora info-activation info-tooltip">
					Ako balíky aktivovať</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Extra programové balíky" class="media__img" src="/documents/10179/639145/ico-program.png" />
				<p class="media__title">
					Extra programové balíky</p>
				<p class="media__desc">
					Pozrite si ponuku extra balíkov aj pre tých najnáročnejších divákov, ktoré si môžete objednať navyše už od 1,39 € /mes.</p>
				<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#variant-xl">Pozrieť Extra balíky</a><br />
				<p class="link media__link link_tundora info-activation info-tooltip">
					Ako balíky aktivovať</p>
			</div>
		</div>
		<div class="col-group col-space">
			<div class="grid-g__col_7">
				<p class="custom-title">
					Magio TV je úplne iná liga</p>
				<p class="custom-desc">
					Sledujte futbalové zápasy Premier League, Ligy majstrov UEFA alebo La Liga exkluzívne so stanicami Digi Sport. Zastavte a pretočte obraz, aby vám už žiadny gól neunikol!</p>
				<a class="link custom-link" href="/televizia/magio-sport">Viac o športových staniciach</a>
				<p class="custom-title">
					Exkluzívna Ťuki TV pre deti v Slovenčine</p>
				<p class="custom-desc">
					Ťuki TV vysiela pre tých najmenších nové, ale aj tradičné rozprávky , seriály či hudbu výhradne v slovenčine. Stanica je dostupná len pre zákazníkov Magio televízie L a XL.</p>
				<a class="link custom-link" href="http://www.tukitv.sk" target="_blank">Viac o Ťuki televízii</a></div>
			<div class="grid-g__col_5">
				<img alt="Magio TV je úplne iná liga" class="prod-img" src="/documents/10179/639145/tv.png" /></div>
		</div>
	</div>
</section>
<section class="section sec-6" id="sec-6">
	<div class="fixed-column">
		<h2 class="section__title">
			FUNKCIE MAGIO TELEVÍZIE</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Vyhľadávanie" class="media__img" src="/documents/10179/639145/ico-magnify.png" />
				<p class="media__title">
					Vyhľadávanie</p>
				<p class="media__desc">
					S Magio televíziou nájdete film alebo reláciu jednoducho podľa názvu programu alebo mena hercov či režiséra v originálnom vysielacom jazyku (ak sú v TV programe uvedení).</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Nahrávanie s Magio Boxom" class="media__img" src="/documents/10179/639145/ico-device.png" />
				<p class="media__title">
					Nahrávanie s Magio Boxom</p>
				<p class="media__desc">
					<span class="underline info-tooltip info-1">Nahrajte si program</span> až na 4 Magio boxoch súčasne (viac ako 370 hodín).Cez internet môžete nastaviť nahrávanie, aj keď nie ste doma.</p>
				<!--<a href="#" class="link media__link link_tundora">nastaviť nahrávanie</a>
                <br />
                <a href="#" class="link media__link link_tundora">nastaviť nahrávanie z mobilu</a>--></div>
			<div class="grid-g__col_4 media">
				<img alt="Pozastavenie a pretočenie obrazu" class="media__img" src="/documents/10179/639145/ico-remote.png" />
				<p class="media__title">
					Pozastavenie a pretočenie obrazu</p>
				<p class="media__desc">
					Zastavte alebo pretočte obraz dozadu a späť. Vrátiť sa dá do času, od kedy ste program začali sledovať (max. 90 minút). Pri prepnutí na inú stanicu sa táto pamäť vymaže.</p>
			</div>
			<div class="grid-g__col_12">
				<a class="link media__link link_blue link_wiki" href="/wiki/televizia/nahravanie-vysielania">Pozrieť všetky funkcie na Wiki</a></div>
		</div>
	</div>
</section>
<section class="section sec-7" id="sec-7">
	<div class="fixed-column">
		<h2 class="section__title">
			DOPLNKOVÉ SLUŽBY</h2>
		<div class="col-group">
			<div class="grid-g__col_4 media">
				<img alt="Spustenie programu od začiatku a Magio archív" class="media__img" src="/documents/10179/639145/ico-ec.png" />
				<p class="media__title_black">
					Spustenie programu od začiatku a Magio archív</p>
				<p class="media__desc">
					Pustite si alebo pretočte program, ktorý už beží od začiatku aj po zapnutí/prepnutí TV stanice alebo sledujte program až 7 dní dozadu s Magio archívom. Teraz na prvé 3 mesiace zadarmo. Cena od štvrtého mesiaca pre: <br><a href="#archivs" class="lightbox fancy">Archiv S cena 1,99 €/mes.</a>	<br>
					<a href="#archivm" class="lightbox fancy">Archiv M cena 3,99 €/mes.</a>
				</p>
				<p class="link media__link link_blue info-tooltip info-3">
					Ako aktivovať tieto služby</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Extra programové balíky" class="media__img" src="/documents/10179/639145/ico-program.png" />
				<p class="media__title_black">
					Extra programové balíky</p>
				<p class="media__desc">
					uspokoja aj tých najnáročnejších divákov už od 1,39 / mes. Pre filmových fanúšikov je určený balík HBO + Cinemax s filmovými trhákmi. Okrem neho vám ponúkame rodinný a športový balíček programov v HD kvalite či balíček s maďarskými kanálmi.</p>
				<a class="link media__link link_blue" href="/televizia/kanaly-magio-tv#variant-xl">Pozrieť Extra balíky</a><br />
				<p class="link media__link link_tundora info-activation info-tooltip">
					Ako balíky aktivovať</p>
			</div>
			<div class="grid-g__col_4 media">
				<img alt="Pomoc s inštaláciou" class="media__img" src="/documents/10179/639145/ico-service.png" />
				<p class="media__title_black">
					Pomoc s inštaláciou</p>
				<p class="media__desc">
					Naši technici vám radi pomôžu so zapojením televízie za jednorazový poplatok 19,99 €. V prípade záujmu si službu Inštalácia technikom aktivujte v nákupnom košíku.</p>
			</div>
		</div>
	</div>
</section>
<div class="detail">
	<div class="detail-lightbox" id="magiom">
		<div class="detail-content">
			<h1>
				Magio TV M - Základný balík v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
				&nbsp;</div>
			<h1>
				3 Programové balíky v cene, podľa vlastného výberu:</h1>
			<h4>
				HUDOBNÝ + DETSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
				&nbsp;</div>
			<h4>
				VOĽNÝ ČAS</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
				&nbsp;</div>
			<h4>
				ŠTÝL A FAKTY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
				&nbsp;</div>
			<h4>
				DOKUMENTÁRNY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
				&nbsp;</div>
			<h4>
				ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
				&nbsp;</div>
			<h4>
				FILMOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
				&nbsp;</div>
			<h1>
				Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
			<h4>
				HBO + CINEMAX</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
				&nbsp;</div>
			<h4>
				MAĎARSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
				&nbsp;</div>
			<h4>
				HD RODINNÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
				&nbsp;</div>
			<h4>
				HD ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
				&nbsp;</div>
		</div>
	</div>
	<div class="detail-lightbox" id="magiol">
		<div class="detail-content">
			<h1>
				Magio TV L - Základný balík v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
				&nbsp;</div>
			<h1>
				Extra balík L - v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="EXTRA_BALICEK_L">
				&nbsp;</div>
			<h1>
				Programové balíky - v cene služby</h1>
			<h4>
				HUDOBNÝ + DETSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
				&nbsp;</div>
			<h4>
				VOĽNÝ ČAS</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
				&nbsp;</div>
			<h4>
				ŠTÝL A FAKTY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
				&nbsp;</div>
			<h4>
				DOKUMENTÁRNY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
				&nbsp;</div>
			<h4>
				ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
				&nbsp;</div>
			<h4>
				FILMOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
				&nbsp;</div>
			<h1>
				Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
			<h4>
				HBO + CINEMAX</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
				&nbsp;</div>
			<h4>
				MAĎARSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
				&nbsp;</div>
			<h4>
				HD RODINNÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
				&nbsp;</div>
			<h4>
				HD ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
				&nbsp;</div>
		</div>
	</div>
	<div class="detail-lightbox" id="magioxl">
		<div class="detail-content">
			<h1>
				Magio TV XL - Základný balík v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
				&nbsp;</div>
			<h1>
				Extra balík L - v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="EXTRA_BALICEK_L">
				&nbsp;</div>
			<h1>
				Extra balík XL - v cene služby</h1>
			<div class="tvPackageCodebook" data-tvpackagecodebook="KANALY_NAVYSE_XL">
				&nbsp;</div>
			<h1>
				Programové balíky - v cene služby</h1>
			<h4>
				HUDOBNÝ + DETSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
				&nbsp;</div>
			<h4>
				VOĽNÝ ČAS</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
				&nbsp;</div>
			<h4>
				ŠTÝL A FAKTY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
				&nbsp;</div>
			<h4>
				DOKUMENTÁRNY</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
				&nbsp;</div>
			<h4>
				ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
				&nbsp;</div>
			<h4>
				FILMOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
				&nbsp;</div>
			<h1>
				Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
			<h4>
				HBO + CINEMAX</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
				&nbsp;</div>
			<h4>
				MAĎARSKÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
				&nbsp;</div>
			<h4>
				HD RODINNÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
				&nbsp;</div>
			<h4>
				HD ŠPORTOVÝ</h4>
			<div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
				&nbsp;</div>
		</div>
	</div>
	 <div class="easy-lightbox" id="archivs">
        <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_S">
                            &nbsp;</div>
    </div>
    <div class="easy-lightbox" id="archivm">
        <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_M">
                            &nbsp;</div>
    </div>

</div>
<script type="text/javascript" src="/documents/10179/5214656/main.js"></script>