<section id="sec-1" class="section sec-1">

</section>

<section id="sec-2" class="section sec-2">
	<div class="container-fixed">
		<div class="content clearfix" style="padding-bottom: 50px;">
			<div class="col-md-12 textwrapper" style="padding-top: 30px;">
				<p class="text">
				<h1>Sledujte skvelé filmy a seriály na HBO GO bez obmedzení a zadarmo pre našich existujúcich aj nových zákazníkov</h1>

				Aktivujte si nezáväzne HBO GO do 21. júna 2020 k akémukoľvek Magio Internetu, Magio televízii, T paušálu
				alebo paušálu ÁNO či Happy a získate ho <b>na prvých 30 dní zadarmo</b>. Zákazníkom, ktorí službu už majú aktivovanú,
				bude poskytnutá zľava v plnej výške do faktúry automaticky.
				<br>
				<br>
				<b>Buďte bez obáv</b> – o blížiacom sa konci akcie a možnom predĺžení alebo deaktivácii vás včas upozorníme SMS správou.

				</p>
			</div>

			<div class="col-md-9 textwrapper">
				<div class="contact-form-wrapper">
					<form id="contact-form">
						<p class="notice">Vyplňte, prosím, nasledovné údaje.</p>

						<div class="form-group username">
							<label for="userName" class="input-label">Meno a priezvisko <span class="required">*</span></label>
							<input id="userName" class="input" type="text" maxlength="100" name="userName"
										 required
										 data-parsley-minlength="5"
										 data-parsley-maxlength="100"
										 data-parsley-trigger="focusout"
							/>
						</div>

						<div class="form-group usercode">
							<label for="userCode" class="input-label">Čislo adresáta <span class="required">*</span>
								<a class="ttp" href="#" id="max-price" data-hasqtip="1" aria-describedby="qtip-1"><img alt="" src="https://www.telekom.sk/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
							</label>
							<input id="userCode" class="input" type="text" name="userCode"
										 required
										 data-parsley-trigger="focusout"
										 data-parsley-type="integer"
										 data-parsley-length="[10,10]"
										 data-parsley-type-message="Kód adresáta musí obsahovať len čísla"
										 data-parsley-length-message="Kód adresáta musí mať 10 znakov"
							/>

							<div id="customer-error">Na základe zadaných vstupných údajov sme zistili, že nespĺňate podmienky pre
								aktiváciu HBO GO na 30 dní zadarmo v zmysle <a href="https://www.telekom.sk/wiki/televizia/hbo-go-na-mesiac-zadarmo" target="_blank">podmienok akcie.</a></div>

						</div>

						<div class="form-group phoneNum">
							<label for="phoneNum" class="input-label">Vaše kontaktné telefónne číslo <span class="required">*</span></label>
							<input id="phoneNum" class="input" type="text" name="phoneNum" maxlength="10" placeholder="09"
										 required
										 data-parsley-type="integer"
										 data-parsley-trigger="focusout"
										 data-parsley-type-message="Telefónne číslo musí obsahovať len čísla"
										 data-parsley-minlength="9"
										 data-parsley-maxlength="10"
							/>
						</div>

						<div class="form-group checkb">
							<input class="termscheck"
										 id="termscheck"
										 type="checkbox"
										 name="termscheck"
										 required
										 data-parsley-required-message="Pred odoslaním musíte súhlasiť s podmienkami"
										 data-parsley-errors-container="#checkbox-error"
							>
							<label for="termscheck">Odoslaním formulára súhlasím s&nbsp;<a href="#"
																																						 onclick="event.preventDefault(); $('.termstext').toggle('slow')">Podmienkami</a></label>

							<div id="checkbox-error">

							</div>

							<p class="termstext" style="font-size: 14px; display: none;">
								Viac informácií o podmienkach akcie nájdete
								<a style="font-size: 14px" href="https://www.telekom.sk/wiki/televizia/hbo-go-na-mesiac-zadarmo" target="_blank">tu</a>.
							</p>
						</div>

						<div class="form-group gdpr">
							Všetky informácie týkajúce sa ochrany osobných údajov nájdete na stránke
							<a href="https://www.telekom.sk/osobne-udaje" target="_blank">www.telekom.sk/osobne-udaje</a>.
						</div>

						<div class="form-group required-desc">
							Polia označené * sú povinné
						</div>

						<button href="#" id="send" type="submit" class="btn cta sendfrm">Odoslať</button>
					</form>

					<form id="code-form" style="display: none">
						<div class="form-group username">
							<label for="smsCode" class="input-label">Zadajte overovací kód, ktorý sme vám odoslali na váš mobilný telefón</label>
							<input id="smsCode" class="input" type="text" name="smsCode"
										 required
										 data-parsley-trigger="focusout"
										 data-parsley-type="integer"
										 data-parsley-length="[4,4]"
										 data-parsley-type-message="Overovací kód musí obsahovať len čísla"
										 data-parsley-length-message="Overovací kód musí mať 4 znaky"
							/>
						</div>

						<div id="otp-error" style="display: none"></div>
						<div id="otp-info" style="display: none">Čakajte prosím na overenie</div>

						<button href="#" type="submit" id="send-code" class="btn cta sendfrm">Odoslať</button>
					</form>

				</div>
			</div>

			<div class="col-md-12 textwrapper">
				<div id="activated" style="display: none">
					<h3 class="activated-info">Služba Vám bude aktivovaná do 24 hodín. Počkajte, prosím, na SMS, ktorou Vás budeme informovať o zriadení služby. V SMS obdržíte údaje potrebné na registráciu HBO GO.</h3>
				</div>
			</div>

		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js"></script>
<!--<script src="../assets/js/parsley.js"></script>-->
<script src="../assets/js/parsley_sk.js"></script>
