/* ===============
   CSS FOR CHAT
   =============== */

.fixed-link__full, #chat, #livechat {
    display: none;
}
.cursor__hover {
    cursor: pointer;
}
#fixed-link.fixed-link__compact .fixed-link__table {
    right: 0;
    background-color: #fff;
}
.fixed-link__table,
.fixed-link__compact {
    position: fixed;
    right: 40px;
    bottom: 0;
    height: 40px;
    z-index: 600;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    background-color: #fff;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}
.fixed-link__compact {
    display: table;
}
.fixed-link__row {
    display: table-row;
}
#fixed-link h5 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    display: table-cell;
    padding: 0 10px 0 5px;
    vertical-align: middle;
}
#fixed-link h5:before {
    content: '\2022';
    font-size: 18px;
    vertical-align: middle;
    color: #9bc66a;
    padding-right: 5px;
}
.shadow-wrapper {
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}
.green-tile {
    background-color: #9bc66a;
    display: table-cell;
    vertical-align: middle;
}
.white-tile {
    display: table-cell;
    vertical-align: middle;
}
.white-tile img {
    padding: 0 20px 0 5px;
}
.white-tile:before {
    content: '\2022';
    font-size: 18px;
    vertical-align: middle;
    color: #9bc66a;
    padding-left: 5px;
}
#toggle-chat {
    background-color: white;
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 600;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.3);
}
#toggle-chat img {
    padding: 15px 0 0 15px;
}
.fixed-link__ico {
    vertical-align: middle;
    padding: 0 20px;
}
.fixed-link__ico_chat {
    vertical-align: middle;
    padding: 0 13px;
}
.green-tile__border:first-of-type {
    border-right: 1px solid #8eb264;
}
.green-tile__border:nth-of-type(2) {
    border-left: 1px solid #afd188;
}