/* ===============
   CSS FOR MICROSITE
   =============== */


/* ===============
    GLOBALS FOR ALL 
   =============== */

#content .section {
    padding: 60px 0;
    font-size: 16px;
}
#content .section__nav {
    padding: 0;
}
#content .section__title {
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
}
#content .main_sec {
    display: inline-block;
}
#content .section__title__double {
    margin-bottom: 0;
}
#content .section__subtitle {
    font-size: 2.5em;
    text-transform: uppercase;
    border: 0;
    margin-top: 0;
}
#content .grid__right {
    float: right;
}
.at-a-glance {
    text-align: left;
    font-size: 16px;
}
#content .disclaimer {
    color: #666666;
    font-size: 14px;
}
@media screen and (max-width: 630px) {
    #content .section {
        font-size: 80%;
        padding: 30px 0;
    }
}
@media screen and (max-width: 500px) {
    #content .section {
        text-align: center;
    }
    ,
    #content .img__holder__origin img {
        margin: 0 auto;
    }
    #content .section__title {
        margin-top: 0;
    }
    #content .cta__wrapper {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    #content .row {
        margin-left: inherit;
        margin-right: inherit;
    }
}

/* ===============
    GLOBALS NOT FOR ALL 
   =============== */


/* STYLE FOR PRODUCTS */

#content .section__hero__title {
    margin-top: 0;
    margin-bottom: 20px;
}
#content .prod__carousel_4 {
    text-align: center;
}
#content .grid__img {
    text-align: center;
}
#content .prod__title {
    font-size: 1.6em;
    margin-top: 15px;
    color: $magenta;
    min-height: 60px;
    font-weight: bold;
}
.prod-list_densed .img__swap {
    margin: 0 auto;
}
#content .prod__subtitle {
    font-size: 1.2em;
    color: #333;
    text-transform: uppercase;
    min-height: 70px;
}
#content .more-info {
    font-size: 24px;
    margin-left: 20px;
}
.cta__wrapper {
    text-align: center;
}
.more-info__clearer {
    width: 100%;
    height: 1px;
    display: block;
}
#content .more-info_vertical {
    margin: 10px 0 0 0;
    display: inline-block;
}
@media screen and (max-width: 990px) {
    #content .grid__img_can-swap_2 img {
        width: 100%;
    }
}
@media screen and (max-width: 770px) {
    #content .grid__content_2,
    #content .grid__img_can-swap_2 {
        width: 100%;
    }
    #content .grid__img_can-swap_2 img {
        width: auto;
    }
}
@media screen and (max-width: 700px) {
    .img__swap {
        width: 100%;
    }
    .prod-list_densed .img__swap {
        width: auto;
    }
}
@media screen and (max-width: 500px) {
    #content .grid__content {
        width: 100%;
    }
    .img__swap {
        width: auto;
    }
    #content .grid__img {
        display: none;
    }
    #content .prod__title,
    #content .prod__subtitle {
        min-height: 30px;
    }
}
@media screen and (max-width: 360px) {
    .img__swap {
        width: 100%;
    }
}

/* END OF STYLE FOR PRODUCTS */


/* ===============
    STYLE FOR SECTIONS
   =============== */


/* HERO SECTION */

.hero {
    display: inline-block;
    width: 100%;
}

.prod-list_densed .logo {
    margin: 0 0 44px 0;
}

/* PRODUCT LIST SECTION */

.prod-list {
    display: inline-block;
    width: 100%;
}
.prod-list_densed .prod__subtitle {
    min-height: 50px;
    margin-top: 10px;
}

/* STYLE FOR AT A GLANCE */

#content .at-a-glance {
    margin: 20px 0;
    padding-left: 8%;
    list-style: square;
    min-height: 132px;
}
#content .at-a-glance li {
    font-size: 16px;
    color: $magenta;
}
#content .at-a-glance li span {
    color: #4b4b4b;
}
@media screen and (max-width: 516px) {
    #content .at-a-glance {
        min-height: inherit;
    }
    .prod-list_densed .prod__subtitle {
        min-height: inherit;
    }
}

/*#content .at-a-glance li:before {
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: $magenta;
    margin-right: 10px;
}*/


/* END OF STYLE FOR AT A GLANCE */


/* PRODUCT SPECS MAIN */

#content .prod-specs_main .section__title {
    margin-bottom: 32px;
    padding-bottom: 0;
}
#content .prod-specs_main .prod__subtitle {
    padding-bottom: 30px;
}
#content .prod-specs_main .img__holder {
    text-align: left;
}
#content .prod-specs_main .grid__col_8 {
    padding-left: 2%;
}
.prod-specs_main .img__specs {
    width: 100%;
    max-width: 211px;
}
.sec__item {
    margin-bottom: 18px;
}
.spec__value {
    font-size: 1.6em;
    line-height: 1em;
    color: #999999;
}
.spec__param {
    font-size: 1.4em;
    color: #333;
}
@media screen and (max-width: 500px) {
    #content .prod-specs_main .grid__col_8 {
        width: 100%
    }
    #content .prod-specs_main .grid__col_4 {
        width: 100%;
        padding-left: 0;
    }
    #content .prod-specs_main .img__holder {
        text-align: center;
    }
    .prod-specs_main .grid__content {
        margin: 15px 0 0 0;
    }
}

/* FEATURE SECTION */

.feat_full-bg {
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
}
#content .feat__title {
    border: 0;
    font-size: 2em;
    text-transform: uppercase;
}
#content .feat__desc {
    color: #333;
}
#content .feat__sub-title {
    font-size: 1.4em;
}
#content .feat_full-bg .cta {
    color: $magenta;
    font-size: 1.2em;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}
.feat__item {
    width: 45%;
}
.feat__item_right {
    float: right;
}
.feat__item_left {
    float: left;
}
.feat-img__holder {
    width: 45%;
}
.feat-img__holder img {
    width: 100%;
}
.feat-img__holder_right {
    float: right;
}
.feat-img__holder_left {
    float: left;
}
@media screen and (max-width: 600px) {
    #content .feat_full-bg {
        background-size: cover;
        background-position-y: 50%;
        background-repeat: no-repeat;
        padding: 20px 0 300px 0;
    }
     #content .feat_full-bg.custom-hg {
        padding: 20px 0 460px 0;
    }

    .feat__item {
        width: 100%;
        text-align: center;
    }
    .feat-img__holder {
        width: 100%;
        margin-top: 15px;
    }
}

/* BACKGROUNDS FOR FEATURES */


/* PRODUCT 1 */

.prod-1.feat-1 {
    background-image: url(../img/Huawei_MediaPad_1.png);
}
.prod-1.feat-2 {
    background-image: url(../img/Huawei_MediaPad_2.png);
}
.prod-1.feat-3 {
    background-image: url(../img/Huawei_MediaPad_3.png);
}
.prod-1.feat-4 {
    background-image: url(../img/Huawei_MediaPad_4.png);
}
.prod-1.feat-5 {
    background-image: url(../img/Huawei_MediaPad_5.png);
}
.prod-1.feat-6 {
    background-image: url(../img/Huawei_MediaPad_6.png);
}
@media screen and (max-width: 600px) {
    .prod-1.feat-1 {
        background-image: url(../img/Huawei_MediaPad_0000_1.jpg);
    }
    .prod-1.feat-2 {
        background-image: url(../img/Huawei_MediaPad_0001_2.jpg);
    }
    .prod-1.feat-3 {
        background-image: url(../img/Huawei_MediaPad_0002_3.jpg);
    }
    .prod-1.feat-4 {
        background-image: url(../img/Huawei_MediaPad_0003_4.jpg);
    }
    .prod-1.feat-5 {
        background-image: url(../img/Huawei_MediaPad_0004_4.jpg);
    }
    .prod-1.feat-6 {
        background-image: url(../img/Huawei_MediaPad_0005_5.jpg);
    }
    #content .prod-1.feat-5 .feat__title,
    #content .prod-1.feat-5 .cta {
        color: $magenta;
    }
    #content .prod-1.feat-5 .feat__desc {
        color: #333;
    }
}

/* PRODUCT 2 */

.prod-2.feat-1 {
    background-image: url(../img/P9_1.png);
}
.prod-2.feat-2 {
    background-image: url(../img/P9_2.png);
}
.prod-2.feat-3 {
    background-image: url(../img/P9_3.png);
}
.prod-2.feat-4 {
    background-image: url(../img/P9_4.png);
}
.prod-2.feat-5 {
    background-image: url(../img/P9_5.png);
}
.prod-2.feat-6 {
    background-image: url(../img/P9_6.png);
}
.prod-2.feat-7 {
    background-image: url(../img/P9_7.png);
}
.prod-2.feat-8 {
    background-image: url(../img/P9_8.png);
}
@media screen and (max-width: 600px) {
    .prod-2.feat-1 {
        background-image: url(../img/feature-mob_P9_0000_1.png);
    }
    .prod-2.feat-2 {
        background-image: url(../img/feature-mob_P9_0001_2.png);
    }
    .prod-2.feat-3 {
        background-image: url(../img/feature-mob_P9_0002_3.png);
    }
    .prod-2.feat-4 {
        background-image: url(../img/feature-mob_P9_0003_4.png);
    }
    .prod-2.feat-5 {
        background-image: url(../img/feature-mob_P9_0004_5.png);
    }
    .prod-2.feat-6 {
        background-image: url(../img/feature-mob_P9_0005_6.png);
    }
     .prod-2.feat-7 {
        background-image: url(../img/feature-mob_P9_0006_7.png);
    }
     .prod-2.feat-8 {
        background-image: url(../img/feature-mob_P9_0007_8.png);
    }
}

/* PRODUCT 3 */

.prod-3.feat-1 {
    background-image: url(../img/P9_lite_1.png);
}
.prod-3.feat-2 {
    background-image: url(../img/P9_lite_2.png);
}
.prod-3.feat-3 {
    background-image: url(../img/P9_lite_3.png);
}
.prod-3.feat-4 {
    background-image: url(../img/P9_lite_4.png);
}
.prod-3.feat-5 {
    background-image: url(../img/P9_lite_5.png);
}
.prod-3.feat-6 {
    background-image: url(../img/P9_lite_6.png);
}
.prod-3.feat-7 {
    background-image: url(../img/P9_lite_7.png);
}
.prod-3.feat-8 {
    background-image: url(../img/P9_lite_8.png);
}
.prod-3.feat-9 {
    background-image: url(../img/P9_lite_9.png);
}
.prod-3.feat-10 {
    background-image: url(../img/P9_lite_10.png);
}
/*#content .prod-3.feat-2 .feat__desc {
    color: #fff;
}*/
@media screen and (max-width: 600px) {
    .prod-3.feat-1 {
        background-image: url(../img/feature-mob_P9_lite_0000_1.png);
    }
    .prod-3.feat-2 {
        background-image: url(../img/feature-mob_P9_lite_0001_2.png);
    }
    .prod-3.feat-3 {
        background-image: url(../img/feature-mob_P9_lite_0002_3.png);
    }
    .prod-3.feat-4 {
        background-image: url(../img/feature-mob_P9_lite_0003_4.png);
    }
    .prod-3.feat-5 {
        background-image: url(../img/feature-mob_P9_lite_0004_5.png);
    }
     .prod-3.feat-6 {
        background-image: url(../img/feature-mob_P9_lite_0005_6.png);
    }
     .prod-3.feat-7 {
        background-image: url(../img/feature-mob_P9_lite_0006_7.png);
    }
     .prod-3.feat-8 {
        background-image: url(../img/feature-mob_P9_lite_0007_8.png);
    }
    .prod-3.feat-9 {
        background-image: url(../img/feature-mob_P9_lite_0008_9.png);
    }
    .prod-3.feat-10 {
        background-image: url(../img/feature-mob_P9_lite_0009_10.png);
    }
    #content .prod-3.feat-2 .feat__desc {
        color: #333;
    }
}

/* PRODUCT 4 */

.prod-4.feat-1 {
    background-image: url(../img/Huawei_watch_hero.png);
}
.prod-4.feat-2 {
    background-image: url(../img/Huawei_watch_1.png);
}
.prod-4.feat-3 {
    background-image: url(../img/Huawei_watch_2.png);
}
.prod-4.feat-4 {
    background-image: url(../img/Huawei_watch_3.png);
}
.prod-4.feat-5 {
    background-image: url(../img/Huawei_watch_4.png);
}
.prod-4.feat-6 {
    background-image: url(../img/Huawei_watch_5.png);
}
.prod-4.feat-7 {
    background-image: url(../img/Huawei_watch_6.png);
}
@media screen and (max-width: 600px) {
    .prod-4.feat-1 {
        background-image: url(../img/Huawei_watch_0000_hero.jpg);
    }
    .prod-4.feat-2 {
        background-image: url(../img/Huawei_watch_0001_1.jpg);
    }
    .prod-4.feat-3 {
        background-image: url(../img/Huawei_watch_0002_2.jpg);
    }
    .prod-4.feat-4 {
        background-image: url(../img/Huawei_watch_0003_3.jpg);
    }
    .prod-4.feat-5 {
        background-image: url(../img/Huawei_watch_0004_4.jpg);
    }
    .prod-4.feat-6 {
        background-image: url(../img/Huawei_watch_0005_5.jpg);
    }
    .prod-4.feat-7 {
        background-image: url(../img/Huawei_watch_0006_6.jpg);
    }
}

/* FEAT LIST */
#content .icon-size-img {
    width: 50%;
}
#content .icon-size-img-2 {
    width: 20%;
}

@media screen and (max-width: 768px) {
    #content .icon-size-img {
        width: 20%;
    }
}


.feat-list {
    text-align: center;
}
.feat-list__grid {
    padding: 0 1%;
}
#content .feat-list__title {
    font-size: 22px;
    margin-top: 15px;
}
@media screen and (max-width: 700px) {
    #content .feat-list__grid {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px auto;
        float: none;
    }
}

/* INFO STRIP */

#content .info__strip {
    background: #ededed;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
}
#content .info__strip__title {
    display: inline;
    font-size: 22px;
    color: #333;
    text-transform: uppercase;
    margin-right: 20px;
}

/* PRODUCT NAV */

#content .product__nav {
    background: #ededed;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
    text-align: inherit;
    z-index: 20;
    position: relative;
    display: inline-block;
    width: 100%;
}
#content .product__nav_mobile {
    left: 0;
}
#content .product__nav img {
    width: 20px;
    float: right;
}
#content .product__nav_link {
    margin-left: 5px;
    color: $black;
}
.menu__link__content {
    display: inline;
}
#content .scroll-to {
    color: $black;
}
#content .scroll-to.active {
    color: $magenta;
    font-weight: 500;
}
#content .product__nav_link,
#content .menu a {
    font-size: 22px;
    text-transform: uppercase;
}
#content .menu a {
    display: block;
    height: 49px;
}
.product__nav .menu .link__text {
    margin: 14px 14px 0 0;
    display: inline-block;
    font-size: 1em;
}
#content .product__nav .menu ul {
    padding: 0;
    margin: 0;
}
.product__nav .menu ul li {
    display: inline-block;
    margin: 4px 14px 0 0;
}
.product__nav .menuIcon {
    display: none;
}
.product__nav .menuIcon a {}
.product__nav .menuIcon a img {
    vertical-align: middle;
}
@media only screen and (max-width: 938px) {
    .product__nav .menu ul li {
        width: 100%;
        margin: 4px 0 0 0;
    }
    .product__nav .menu .link__text {
        margin: 14px 0 0 57px;
    }
    .product__nav .menu {
        max-height: 0;
        overflow: hidden;
        float: none;
        width: 100%;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
    .product__nav .menu.menuOpen {
        max-height: 1000px;
        -webkit-transition: max-height 0.5s;
        -moz-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
    .product__nav .menuIcon {
        display: inline-block;
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {
    #content .section .product__nav {
        text-align: left;
    }
}
@media only screen and (max-width: 380px) {
    #content .product__nav_link {
        font-size: 17px;
    }
}

/* ICO */

#nav-icon {
    width: 50px;
    height: 26px;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 11px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon div {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #959595;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon div:nth-child(even) {
    left: 50%;
}
#nav-icon div:nth-child(odd) {
    left: 0px;
}
#nav-icon div:nth-child(1),
#nav-icon div:nth-child(2) {
    top: 0px;
}
#nav-icon div:nth-child(3),
#nav-icon div:nth-child(4) {
    top: 10px;
}
#nav-icon div:nth-child(5),
#nav-icon div:nth-child(6) {
    top: 20px;
}
#nav-icon.open div:nth-child(1),
#nav-icon.open div:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
#nav-icon.open div:nth-child(2),
#nav-icon.open div:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#nav-icon.open div:nth-child(1) {
    left: 5px;
    top: 0px;
}
#nav-icon.open div:nth-child(2) {
    left: calc(50% - 5px);
    top: 0px;
}
#nav-icon.open div:nth-child(3) {
    left: -50%;
    opacity: 0;
}
#nav-icon.open div:nth-child(4) {
    left: 100%;
    opacity: 0;
}
#nav-icon.open div:nth-child(5) {
    left: 5px;
    top: 15px;
}
#nav-icon.open div:nth-child(6) {
    left: calc(50% - 5px);
    top: 15px;
}

/* VIDEO SECTION */

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
