<link href="../assets/js/bootstrap-tour-standalone.css" rel="stylesheet" />
<section class="prod-list_densed section" style="padding-top:20px;">
    <div class="fixed-column">
        <h2 class="section__title section__hero__title section__title__double">
           tour test site</h2>
        <div class="grid__col_12">
            <div class="cta__wrapper">
                <a id="startTour1" class="button button_lima" href="#">1. mobilne telefonne cislo s fakturou</a>
            </div>
            <div class="cta__wrapper">
                <a id="startTour2" class="button button_cream-can" href="#">2. pevne sluzby s fakturou</a>
            </div>
            <div class="cta__wrapper">
                <a id="startTour3" class="button" href="#">3. Firma</a>
            </div>
        </div>
    </div>
</section>
<div class="main_sec" id="sec-1">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <!--             <div class="grid__col_4">
            </div> -->
            <div class="grid__col_12 grid__content">
                <div class="panel panel-default editable" id="aui_3_4_0_1_385">
                    <div class="panel-heading" id="aui_3_4_0_1_384">
                        <h2>1. Co na seba delegovat</h2>
                        <a href="#" class="panel-action-link" data-edit-mode="false" id="aui_3_4_0_1_383" style="display: none;"><i class="fa fa-pencil" id="aui_3_4_0_1_382"></i></a>
                    </div>
                    <div class="panel-body">
                        <form id="delegateWhatBottomTopForm" method="post" action="">
                            <div class="row">
                                <div class="radio" style="width: 100%">
                                    <input type="radio" name="selectedType" value="MSISDN" id="delegateWhatBottomTopType-MSISDN" checked="checked" class=" tour1-step-one">
                                    <label for="delegateWhatBottomTopType-MSISDN" class="cfe-text-ultra">Mobilné telefónne číslo</label>
                                </div>
                                <div class="radio" style="width: 100%">
                                    <input type="radio" name="selectedType" value="CODE" id="delegateWhatBottomTopType-CODE" class="tour2-step-one">
                                    <label for="delegateWhatBottomTopType-CODE" class="cfe-text-ultra">Služby pevnej siete</label>
                                </div>
                                <div class="radio" style="width: 100%">
                                    <input type="radio" name="selectedType" value="COMPANY_NUMBER" id="delegateWhatBottomTopType-COMPANY_NUMBER" class="tour3-step-one">
                                    <label for="delegateWhatBottomTopType-COMPANY_NUMBER" class="cfe-text-ultra">Firmu (IČO)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 pt-10">
                                    <a class="button button_lima" href="" id='tourNext'>Pokracovat</a>
                                </div>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <div class="grid__col_12 grid__content">
                <div class="panel-heading" id="aui_3_4_0_1_384">
                    <h2> 2. Identifikacia</h2>
                    <a href="#" class="panel-action-link" data-edit-mode="false" id="aui_3_4_0_1_383" style="display: none;"><i class="fa fa-pencil" id="aui_3_4_0_1_382"></i></a>
                </div>
                <form id="userAddressChangeForm" action="" method="post" class="form-horizontal" data-edit-mode="true" style="display: block;">
                    <div class="form-group">
                        <label class="control-label col-sm-6">Mobilne tel. cislo</label>
                        <div class="col-sm-5">
                            <input type="text" id="phone" name="phone" value="" class="form-control tour1-step-two" style="width: 500px;">
                        </div>
                        <br>
                        <br>
                        <label class="control-label col-sm-6 tour1-step-three">Sposob overenia</label>
                        <br>
                        <br>
                        <div class="radio" style="width: 100%">
                            <input type="radio" name="selectedType" value="MSISDN" id="delegateWhatBottomTopType-MSISDN" checked="checked">
                            <label for="delegateWhatBottomTopType-MSISDN" class="cfe-text-ultra">SMS kod</label>
                        </div>
                        <div class="radio" style="width: 100%">
                            <input type="radio" name="selectedType" value="MSISDN" id="delegateWhatBottomTopType-MSISDN" >
                            <label for="delegateWhatBottomTopType-MSISDN" class="cfe-text-ultra">Id Kod</label>
                        </div>
                        <label class="control-label col-sm-6">ID kod</label>
                        <div class="col-sm-5">
                            <input type="text" id="idKod" name="email" value="" class="form-control" style="width: 500px;">
                        </div>
                    </div>
                    <br>
                </form>
                <div class="row">
                    <div class="col-xs-12 pt-10 tour1-step-four">
                        <a class="button" href="#" id="createRequest">Vytvorit ziadost</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg section">
        <div class="fixed-column" style="height:700px;">
            <br>
        </div>
    </section>
</div>
<!-- bootstrap-tour -->
<script src="../assets/js/bootstrap-tour-standalone.js"></script>
<script src="../assets/js/main.js"></script>
