<!-- HERO -->
<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;
		</div>
		<div class="hero__content">
			<h1 class="hero__title">
				DRUHÝ PAUŠÁL ZA POLOVICU
			</h1>

			<div class="hero__small-title">
				Ďakujeme Vám, že ste si zakúpili paušál Happy. Ako darček k nemu ste získali kupón na ďalší paušál za polovicu.<br>
				<b>Happy paušál s 50 % zľavou si môžete objednať na tejto stránke.</b>
			</div>

			<div class="hero__sub-title">
				<div class="steps step-img">
					<img alt="" src="../assets/img/step1.png"/>
				</div>
				<div class="steps step-text">
					Vyberte si paušál Happy s 50&nbsp;% zľavou
				</div>
			</div>

		</div>
	</div>
</section>

<!--  SEC-1 -->
<div id="module-plan-chooser">
	<div class="container-fixed">
		<h2 class="sec__title mg-top_40" style="display: none">SLUŽBY A CENY PAUŠÁLOV HAPPY</h2>
		<div id="plan-switcher">
			<p class="plan-sec-head">Chcem nový paušál:</p>
			<div class="ps__btn-holder">
				<a class="btn ps__btn ps__btn_selected" href="#" id="plan-mobile">S novým mobilom</a>
				<a class="btn ps__btn" href="#" id="plan-no-mobile">Bez mobilu</a>
			</div>
			<div class="plan-separator-holder">
				<span class="p-separator sl"></span>
				<p class="plan-separator">alebo</p>
				<span class="p-separator s2"></span>
			</div>
			<div class="ps__link-holder">
				<a class="link link_no-underline scroll-to" href="#sec-prolong" id="to-prolong">Chcem predĺžiť paušál</a>
			</div>
		</div>
		<div id="ec-holder">
			<img alt="" class="ec-module" id="ec-1" src="../assets/img/ec-webzlava.png"/>
			<img alt="" class="ec-module" id="ec-2" src="../assets/img/ec-bez-zavazkov.png"/>
			<img alt="" class="ec-module" id="ec-3" src="../assets/img/ec-kurier.png"/>
		</div>
		<div id="plan-filter">
			<p class="plan-sec-head">Zobraziť paušály:</p>
			<div class="row">
				<div class="col-md-4 col-sm-4 filter-item">
					<div class="filter-checkbox-holder">
						<input checked="checked" class="filter-checkbox" id="base" type="checkbox"/>
					</div>
					<div class="filter-text-holder">
						<p class="filter-title">Základné</p>
						<p class="filter-detail">
							Volania, SMS a e-maily<br/>
							(do 400 MB dát)
						</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 filter-item">
					<div class="filter-checkbox-holder">
						<input checked="checked" class="filter-checkbox" id="favourite" type="checkbox"/></div>
					<div class="filter-text-holder">
						<p class="filter-title">
							Obľúbené</p>
						<p class="filter-detail">
							E-maily, webstránky a sociálne siete<br/>
							(do 6 GB dát)</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 filter-item">
					<div class="filter-checkbox-holder">
						<input checked="checked" class="filter-checkbox" id="experienced" type="checkbox"/></div>
					<div class="filter-text-holder">
						<p class="filter-title">
							Pre náročných</p>
						<p class="filter-detail">
							Web, sociálne siete, hudba a videá<br/>
							(do 16 GB dát)</p>
					</div>
				</div>
			</div>
			<p id="filter-result">
				Nájdených <span id="filteredObjCount">9</span> výsledkov z <span id="allObj">9</span> paušálov</p>
		</div>
		<div id="plan-list_pc">
			<div class="plp__head">
				<div class="row">
					<div class="plc__col plc__col-1">
						<a class="plp__head-item plph__ico unset" href="#" id="sort-by-price">Cena mesačne</a></div>
					<div class="plc__col plc__col-2">
						<a class="plp__head-item plph__ico unset" href="#" id="sort-by-data">4G dáta</a></div>
					<div class="plc__col plc__col-3">
						<p class="plp__head-item">
							Volania</p>
					</div>
					<div class="plc__col plc__col-4">
						<p class="plp__head-item">
							SMS a MMS</p>
					</div>
					<div class="plc__col plc__col-5">
						&nbsp;
					</div>
				</div>
			</div>
			<div id="plp__body">
				&nbsp;
			</div>
		</div>
		<div id="plan-list_mob">
			<div id="plm-sticky">
				<p class="plan-sec-head">
					POROVNAŤ PAUŠÁLY PODĽA</p>
				<div id="plm__head">
					<a class="plm__head-item" data-headid="0" href="#" id="show-calls">Volania</a>
					<a class="plm__head-item plm__head-item_selected" data-headid="1" href="#" id="show-data">4G dáta</a>
					<a class="plm__head-item" data-headid="2" href="#" id="show-sms">SMS/MMS</a>
				</div>
			</div>
			<div id="plm__body">
				&nbsp;
			</div>
			<div class="hidden" id="plm__plan-detail">
				<div class="plmp__head plmp__head_w-ribbon">
					<a href="#" id="plm__plan-back"><img alt="" src="../assets/img/ico-back.png"/></a>
					<p class="plm__plan-name">
						Happy XS mini</p>
					<p class="plmp__ribbon">
						DOSTUPNÝ LEN NA WEBE</p>
				</div>
				<div class="plmp__body">
					&nbsp;
				</div>
			</div>
		</div>
		<p class="module-legal">
			EÚ+ sú všetky členské štáty EÚ, Island, Nórsko a Lichtenštajnsko</p>
		<div class="hidden" id="plm__overlay">
			&nbsp;
		</div>
	</div>
</div>

<div class="section_happy" id="sec-1">
	<div id="sec-1-overlay" class="overlay">&nbsp;</div>

	<div class="container-fixed">

		<div class="title">
			<div class="steps step-img">
				<img alt="" src="../assets/img/step2.png"/>
			</div>
			<div class="steps step-text">
				Zadajte, prosím, mobilné číslo ku ktorému ste získali kupón so zľavou. Zašleme vám overovací SMS kód.
			</div>
		</div>

		<div class="form">
			<div class="form-holder" id="phone-form">
				<div class="input-wrapper">
					<div class="input-label">
						Zadajte mobilné číslo:
					</div>
					<input class="input" id="msisdn" maxlength="10" placeholder="09" type="text" value=""/>
				</div>
				<a class="btn cta btn_disabled" href="#" id="msisdn-btn">ODOSLAŤ</a>

				<div id="msisdn-error"></div>
			</div>

			<div class="form-holder" id="code-form">
				<div class="input-wrapper">
					<div class="input-label">
						Zadajte overovací kód:
					</div>
					<input class="input" id="code" maxlength="4" type="text" value=""/>
				</div>
				<a class="btn cta btn_disabled" href="#" id="code-btn">OVERIŤ</a>

				<div id="code-error"></div>
				<div class="number-change"><a href="">Zmeniť číslo</a></div>
			</div>

			<div class="success-holder">
				<div class="number-ok">
					Zadané telefónne číslo <span id="current-phone-number"></span> bolo úspešne overené.
				</div>
				<div class="number-change"><a href="">Zmeniť číslo</a></div>
			</div>
		</div>

	</div>
</div>

<div id="happy-form">
	<!-- -->
</div>

<div class="section_happy" id="sec-2">
	<div id="sec-2-overlay" class="overlay">&nbsp;</div>

	<div class="container-fixed">

		<div class="title">
			<div class="steps step-img">
				<img alt="" src="../assets/img/step3.png"/>
			</div>
			<div class="steps step-text">
				Zadajte, prosím, kód kupónu
			</div>
		</div>

		<div class="form">
			<div class="row form2-holder">
				<div class="input-wrapper">
					C17X50 -
					<input class="input" id="voucher1" maxlength="6" placeholder="______" type="text" value=""/>
					/
					<input class="input" id="voucher2" maxlength="6" placeholder="______" type="text" value=""/>
				</div>
				<div id="voucher-error"></div>

				<div class="button-wrapper">
					<a class="btn cta btn_disabled" href="#" id="voucher-btn">OVERIŤ KÓD</a>
				</div>

			</div>

			<div class="success-holder">
				<div class="number-ok">
					Kód kupónu <span id="current-voucher"></span> bol úspešne overený.
					<br>
					<strong>Zľavu získavate na nový paušál, nie na váš existujúci.</strong>
				</div>
			</div>

			<div class="row vop-holder">
				<div class="vop-text">
					<input type="checkbox" id="vop-agree" name="vop-agree">
					<label for="vop-agree"><a href="#podmienky" class="popup">Súhlasím s obchodnými podmienkami</a></label>
				</div>
			</div>

			<div class="row order-holder">
				<div class="ps__btn-holder">
					<a class="btn cta btn_disabled" href="#" id="half-order">OBJEDNAŤ</a>
					<a class="btn btn-outline scroll-to" href="#module-plan-chooser" id="half-change">VYBRAŤ INÝ PAUŠÁL</a>
				</div>
			</div>

		</div>

	</div>

	<div class="container-fixed">

		<div class="row easy-holder">
			<div class="col-xs-8 col-lg-5">
				<div class="row">
					<div class="col-xs-2">
						<input type="checkbox" id="easy-agree" name="easy-agree">
					</div>
					<div class="col-xs-10">
						<label class="easy-agree" for="easy-agree"><strong>Easy karta</strong> s kreditom 9 € <strong>ako darček zadarmo</strong></label>
						<br>
						<div id="easy-info" class="easy-info"><a class="popup" href="#easy-tip">Viac info</a></div>
					</div>
				</div>
			</div>

			<div class="hidden-xs col-lg-5 jednorazovo-desktop">
				<!-- -->
			</div>

			<div class="col-xs-4 col-lg-2 img-tip">
				<img alt="" src="../assets/img/ico-nas-tip.png"/>
			</div>
		</div>

		<div class="desc-holder" style="display: none">
			<div class="row">
				<div class="col-xs-8 col-lg-10">
					Nemáte ešte kupón na paušál s 50 % zľavou? Aktivujte si niektorý z Happy paušálov.
					<div>
						<a href="/volania/happy">Prejsť k paušálom</a>
					</div>
				</div>
				<div class="col-xs-4 col-lg-2 img-tip">
					<img alt="" src="../assets/img/ico-nas-tip.png"/>
				</div>
			</div>
		</div>

	</div>
</div>

<section class="sec-11" id="sec-11">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12">
				<div class="legal__holder">
					<a href="" onclick="$('#happy-legal').toggle('slow');return false;">Podmienky akcie Druhý paušál za polovicu</a>
					<div class="happy-legal" id="happy-legal">
						Účastník, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s programom Služieb Happy s viazanosťou aspoň na 24 mesiacov (ďalej len „Základný Dodatok“), získa kupón (ďalej len „Kupón“), ku ktorému bude následne prostredníctvom SMS správy doručený jedinečný jednorazový kód, na základe ktorého si Účastník môže počas platnosti a účinnosti Základného Dodatku aktivovať novú SIM kartu s niektorým z programov Služieb Happy, s výnimkou programu Happy XL data a Happy Profi, (ii) aktivovať program Služieb Happy vo vzťahu k telefónnemu číslu, ktoré bolo úspešne prenesené k Podniku od iného podniku poskytujúceho elektronické komunikačné služby, alebo (iii) prejsť z využívania predplatenej služby Easy na využívanie niektorého z mesačných programov Služieb Happy, s výnimkou programu Happy XL data a Happy Profi, so súčasným uzavretím Dodatku k Zmluve o poskytovaní verejných služieb na program Služieb Happy bez kúpy akciového koncového zariadenia, s viazanosťou aspoň na 24 mesiacov (ďalej len „Doplnkový Dodatok“), so zľavou z mesačného poplatku programu Služieb Happy poskytovaného na základe Doplnkového Dodatku, a to vo výške 50 % na obdobie viazanosti Doplnkového Dodatku (spolu ďalej len „Zľava“). Kupón je nepredajný a neprenosný a môže byť využitý iba Účastníkom, ktorý uzatvoril Základný Dodatok. Na základe jedného Kupónu môže Účastník využiť ponuku len jedenkrát a platnosť zaslaného jedinečného jednorazového kódu na základe Kupónu je 30 dní od jeho doručenia, resp. do momentu využitia práva Účastníka na odstúpenie od Základného Dodatku do 14 dní od jeho uzavretia podľa zákona č. 102/2014 Z.z. o ochrane spotrebiteľa pri predaji tovaru alebo poskytovaní služieb na základe zmluvy uzavretej na diaľku alebo zmluvy uzavretej mimo prevádzkových priestorov predávajúceho. Nárok na poskytovanie Zľavy zanikne v prípade: zmeny v osobe Účastníka, (ii) zmeny programu Služieb Happy aktivovaného na základe Základného Dodatku na program Služieb Happy XL Data alebo Happy Profi, (iii) uplynutia dohodnutej doby viazanosti a (iv) zániku Základného Dodatku z dôvodu využitia práva Účastníka na odstúpenie od Základného Dodatku do 14 dní od jeho uzavretia podľa zákona č. 102/2014 Z.z. o ochrane spotrebiteľa pri predaji tovaru alebo poskytovaní služieb na základe zmluvy uzavretej na diaľku alebo zmluvy uzavretej mimo prevádzkových priestorov predávajúceho. Po zániku nároku na poskytovanie Zľavy bude Podnik naďalej poskytovať program Služieb Happy poskytovaný na základe Doplnkového Dodatku podľa Cenníka platného v momente zániku nároku na poskytovanie Zľavy. V prípade prerušenia poskytovania programu Služieb Happy poskytovaného na základe Doplnkového Dodatku sa poskytovanie Zľavy preruší až do obnovenia poskytovania programu Služieb Happy poskytovaného na základe Doplnkového Dodatku Podnikom. Počas zúčtovacieho obdobia prebiehajúceho v deň aktivácie niektorého z programov Služieb Happy so Zľavou poskytne Podnik Účastníkovi alikvotnú časť Zľavy zodpovedajúcu počtu dní zostávajúcich odo dňa aktivácie do skončenia príslušného zúčtovacieho obdobia. V súvislosti s aktiváciou niektorého z programov Služieb Happy so Zľavou nemá Účastník nárok na vydanie ďalšieho Kupónu. Zľavu nie je možné počas jej poskytovania kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do 30. 4. 2018.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="easy-tip" style="display:none">
	<div class="p-head">
		<a class="p-close" href="#">&nbsp;</a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="happy-lightbox">
			<h3><strong>Easy karta</strong> s kreditom 9 € <strong>ako darček zadarmo</strong></h3>

			<div class="easy-desc"><b>Volania, sms a internet max. 50 centov za deň.</b></div>
			<div class="easy-desc">Platnosť kreditu až 12 mesiacov.</div>
			<div class="easy-desc">Neobmedzené volania s blízkym, ktorý vám pravidelne dobíja kredit.</div>

			<div class="easy-desc" style="padding-top: 20px;"><strong>Súťaž:</strong></div>
			<div class="easy-desc">Vezmite si Easy kartu, aktivujte si ju do 20.12.2017 a budete zaradený do súťaže o iPhone X a Dáta na rok zadarmo.</div>

			<div class="easy-desc"><a href="#" class="p-close2">Zavrieť okno</a></div>
		</div>
	</div>
</div>

<div id="podmienky" style="display:none">
	<div class="p-head">
		<a class="p-close" href="#">&nbsp;</a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="happy-lightbox">
			Súhlasím so
			<a href="http://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-mobilnej-siete/">všeobecnými obchodnými podmienkami</a>, osobitnými obchodnými podmienkami a
			<a href="http://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">cenníkom</a> ktorý upravuje podmienky
			poskytovania objednávanej služby a so spracovaním osobných údajov pre potreby uzatvorenia zmluvy podľa
			§ 56 zákona č. 351/2011 Z.z. o elektronických komunikáciách v znení neskorších predpisov spoločnosťou Slovak Telekom a.s.
			Zároveň súhlasím s
			<a href="https://www.telekom.sk/obchodne-podmienky-e-shop">obchodnými podmienkami pre uzatváranie zmlúv s využitím prostriedkov komunikácie na diaľku</a> a so
			začatím poskytovania služieb za podmienok uvedených v tejto objednávke aj pred uplynutím lehoty 14 dní a prehlasujem, že som mal možnosť oboznámiť sa s
			<a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/informacie-pre-koncovych-uzivatelov/">Informáciami o alternatívnom riešení sporov</a>.
			<br> <br>
			Zároveň súhlasím so zaslaním a uzatvorením Dohody o elektronickej komunikácii.
		</div>
	</div>
</div>

<div id="ajaxLoadingSpinnerOverlay" style="display: none;">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated"></div>
		<div class="square second pulse infinite animated"></div>
		<div class="square third pulse infinite animated"></div>
	</div>
</div>

<!-- SCRIPTS -->
<script type="text/javascript" src="../assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../assets/js/sticky.min.js"></script>
<script type="text/javascript" src="../assets/js/modul.pausaly.js?v=3"></script>
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=2"></script>
<script type="text/javascript" src="../assets/js/akcia_LSB.js?v=1"></script>
<script type="text/javascript" src="../assets/js/form.js?v=1"></script>