body
{
  min-width: 100px !important;
}

input, textarea
{
  max-width: 408px !important;
}

#calendar .header
{
  max-width: 400px;
  text-align: center;
}

#calendar .header .day
{
  padding: 5px 0;
  cursor: pointer;
  font-size: 24px;
  width: 14%; 
}

#calendar .header div.selected-day
{
  color: #E20074;
  border-bottom: solid 2px #E20074;
}

#calendar .body
{
  padding: 10px 0;
  
}

#calendar .body div.time-cont
{
  padding: 10px 10px 10px 20px;
  max-width: 400px;
  font-size: 20px;
  min-height: 42px;
}

#calendar .body .time-cont .time
{
  margin-right: 20px;
}

#calendar .body .time-cont.select-enable
{
  background-color: #E0E5A2;
  border: solid 1px #eee;
  cursor: pointer;
}

#calendar .body .time-cont.select-disable
{
  color: #ccc;
  background-color: #F6F6F6;
  border: solid 1px #eee;
}

#calendar .body .time-cont.select-enable:hover
{
  background-color: #D0D592;
}

#calendar .body .time-cont.reserved
{
  color: #888;
  background-color: #ccc;
  border: solid 1px #ddd;
}

i.fa-check
{
  color: white;
  margin-left: 10px;
}



p
{
  font-weight: normal;
}

#calendar
{
  margin-top: 5px;
}

#calendar .select-enable
{
  background-color: #E0E5A2;
  border: solid 1px #EEEEEE;
  cursor: pointer; 
}

#calendar .selected, #calendar .selected:hover
{
  background-color: #E3177E !important;
  border: solid 1px #EEEEEE;
  color: white;
  cursor:auto !important;
  vertical-align: top;
}

.inline-block
{
  display: inline-block !important;
}

.term
{
  color: #E3177E;
}

#res_val, #res_val_sub1
{
  display: none;
}

#calendar, #res_val_sub1
{
  margin-top: 20px;
}

.load-shop
{
  display: none;
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

label
{
   font-weight: normal;
}

#create_reservation > div
{
  padding: 10px;
  color: #E3177E;
  background-color: #EEEEEE;
  border: solid 1px #BBBBBB;
  display: inline-block;
  font-weight: bold;
  text-align: center;
}

.form
{
  margin-bottom: 10px;
}

.form div
{
  font-weight: normal;
}

.alert-message
{
  color: #DA0820;
  padding: 2px 10px;
  font-weight: bold !important;   
}

.tooltip-inner {
  width: 95px;
}

#myModal p
{
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
}

.myButton
{
  padding: 10px 20px;
  color: white;
  background-color: #E30B7A;
  font-size: 18px;
  font-weight: 600;
}

.myButton:hover
{
  background-color: #D3076A;
}

div.modal-backdrop.fade.in
{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

.create-message
{
  display: none;
  margin-bottom: 20px;
  max-width: 410px !important;
  margin-left: 0 !important;
}