.button-number
{
  display: inline-block;
  padding: 24px 5px;
  font-size: 24px;
  background-color: #E30B7A;
  color: white;
  width: 80px;
}

.button-number:hover
{
  background-color: #D3076A;
}

input
{
  width: 215px;
  padding: 5px 10px;
  font-size: 18px;
}

.timer
{
  width: 200px;
  height:100px;
}

#myModal p
{
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

.myButton
{
  padding: 10px 20px;
  color: white;
  background-color: #E30B7A;
  font-size: 18px;
  font-weight: 600;
}

.myButton:hover
{
  background-color: #D3076A;
}