/* ===============
   Slider
   =============== */

.waterbear-theme .slick-arrow {
    border: none!important;
}

#sec-2,
#sec-3,
#sec-4 {
    /* ===============
   Slider
   =============== */
    .slick-slide img {
        display: inline-block;
    }
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    /* Slider theme */
    @charset 'UTF-8';
    .slick-loading .slick-list {
        background: #fff url('../../img/ajax-loader.gif') center center no-repeat;
    }
    /* ===============
  slider icons
   =============== */
    /*@font-face {
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick.woff') format('woff'), url('../fonts/slick.ttf') format('truetype'), url('../fonts/slick.svg#slick') format('svg');
}
*/
    /* ===============
  slider arrows
   =============== */
    .slick-arrow {
        font-size: 0;
        height: 44px;
        width: 44px;
        transform: none;
        transition: none;
        border: none !important;
        background: transparent url('../../img/btn-sprite.png');
        position: absolute;
        top: 50%;
        z-index: 10;
    }
    .slick-prev {
        background-position: 0 0;
        left: -48px;
    }
    .slick-next {
        background-position: 44px 0;
        right: -48px;
    }
    .slick-prev:hover {
        background-position: 0 88px;
    }
    .slick-next:hover {
        background-position: 44px 88px;
    }
    .slick-prev:active {
        background-position: 0 44px;
    }
    .slick-next:active {
        background-position: 44px 44px;
    }
    .slick-dots button {
        font-size: 0;
        height: 8px;
        width: 8px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #b6b6b6 !important;
        background-color: #ededed;
    }
    ul.slick-dots {
        margin: 10px 0 0 0;
        text-align: center;
        height: 8px;
    }
    .slick-dots li {
        display: inline-block;
        margin: 0 2px;
        height: 8px;
    }
    .slick-dots .slick-active button,
    .slick-dots button:focus,
    .slick-dots button:hover {
        border: 1px solid #568727 !important;
        background-color: #6bb324;
    }
    /* Mobile & Tablet arrows */
    @media (max-width: 1080px) {
        .slick-prev {
            left: -10px;
        }
        .slick-next {
            right: -10px;
        }
    }
    @media (max-width: 1000px) {
        .slick-prev {
            left: -5px;
        }
        .slick-next {
            right: -5px;
        }
    }
    @media (max-width: 768px) {
        .slick-prev {
            left: -10px;
        }
        .slick-next {
            right: -10px;
        }
    }
    @media (max-width: 560px) {
        .slick-prev {
            left: -5px;
        }
        .slick-next {
            right: -5px;
        }
    }
    /* ===============
  slider dots
   =============== */
    .slick-dotted.slick-slider {
        margin-bottom: 30px;
    }
    .slick-dots {
        position: relative;
        bottom: 0px;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
    }
    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        margin: 20px 10px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        border: 0px!important;
        display: block;
        width: 30px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }
    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .slide-dot {
        width: 30px;
        height: 4px;
        display: inline-block;
        background-color: #ededed;
        transition: all 0.5s ease 0s;
    }
    .slick-active {
        outline: none;
    }
    .slick-active .slide-dot {
        opacity: .75;
        background-color: #6bb324;
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: black;
    }
    /* ===============
   Slider Custom Arrows
   =============== */
    .slick-disabled {
        opacity: 0.2;
        pointer-events: none;
    }
    .slick-prev.slick-arrow.slick-disabled {
        background-position: 0 0;
        left: -48px;
    }
    .slick-next.slick-arrow.slick-disabled {
        background-position: 44px 0;
        right: -48px;
    }
    /* ===============
  slider text selection mod
   =============== */
    .slick-slider {
        -webkit-user-select: text;
        -khtml-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    .slick-list.draggable {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}
