/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';

/* ===============
   Global
   =============== */


/*#content {
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}*/

@media (min-width: 768px) {
    .offset-md-2 .offset-custom {
        margin-left: 15%;
    }
}

#wrapper .button_border {
    background-color: transparent;
    border: 1px solid #9b9b9a;
    font-size: 22px;
    color: #9b9b9a;
}

@media screen and (min-width: 920px) {
    #content .col-custom {
        width: 220px;
    }
}

@media screen and (max-width: 768px) {
    #content .row {
        margin-left: inherit;
        margin-right: inherit;
    }
}

@media screen and (max-width: 960px) {
    #content .responsive-image {
        max-width: 90%;
        max-height: 85%;
    }
    #content .responsive-image-ec {
        max-width: 90%;
        max-height: 45%;
    }
}

#content {
    background-color: #000;
}


/* ===============
  Hero
   =============== */
  .ec-holder {
    position: absolute;
    right: 10%;
    z-index: 20;
    top: 320px;
}
@media only screen and (min-width: 600px) {
  .ec-holder {
    right: 10%;
    top: 20%;
}
}
@media only screen and (min-width: 800px) {
  .ec-holder {
    right: 15%;
    top: 30%;
}
}
@media only screen and (min-width: 1024px) {
  .ec-holder {
    right: 24%;
    top: 24%;
}
}
#hero {
    min-height: 595px;
    padding: 60px 2%;
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-color: #000;
}

.show-mobile {
    display: none;
}

@media only screen and (max-width: 1023px) {
    .show-mobile {
        display: block;
    }
}

#content .hero-title {
    font-size: 64px;
    color: #fff;
}

#content .hero-desc {
    font-size: 18px;
    color: #ccc;
}

#content .hero-text {
    color: #ccc;
    font-size: 20px;
}

@media only screen and (min-width: 1024px) {
    #hero {
        background: url(../img/hero-pc.jpg) no-repeat 50% 50%;
        /*min-height: 1094px;*/
        overflow: hidden;
        background-size: cover;
        padding: 60px 2%;
    }
    #content .hero-text {
        padding-top: 70%;
    }
}


/* SEC-1 */

#sec-1 {
    background: url(../img/design_hero_large.jpg) no-repeat 50% 50%;
    min-height: 1217px;
    overflow: hidden;
    background-size: cover;
    padding: 60px 2%;
    background-color: #111111;
}

@media only screen and (max-width: 735px) {
    #sec-1 {
        min-height: 592px;
        /*background-size: 736px 592px;*/
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/design_hero_small.jpg);
    }
}

#content .feature-title {
    color: #ccc;
    font-size: 24px;
}

#content .feature-largeheadline {
    font-size: 52px;
    line-height: 1.07724;
    font-weight: 300;
    letter-spacing: 0em;
    color: #fff;
    margin-bottom: 20px;
}

@media only screen and (max-width: 460px) {
    #content .feature-largeheadline {
        font-size: 40px;
    }
}


/* sec-1 ico1 */

#conten .badge {
    display: inline-block;
    position: relative;
    font-size: 20px;
    width: 120px;
    height: 106px;
    color: #333;
    vertical-align: middle;
}

#content .badge-content {
    /*position: absolute;*/
    width: 100%;
    left: 0;
    right: 0;
    bottom: 2.75em;
}

#content .design-desc {
    margin-left: 5px;
    margin-right: 5px;
    color: #ccc;
}

#content #sec-1 .feature-2 {
    position: relative;
}

#sec-1 .card-trigger-expand {
    bottom: 70px;
}

#sec-1 .card-trigger {
    visibility: visible;
    overflow: visible;
    display: block;
    position: absolute;
    width: 100%;
    opacity: 0.999;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

#sec-1 .feature-2 {
    position: relative!important;
}

#sec-1 .more-info {
    position: absolute;
    bottom: 0;
    right: 0;
}

#sec-4 {
    min-height: 200px;
    padding: 60px 2%;
    height: 100%;
    width: 100%;
    overflow: overlay;
    background-color: #000;
    color: #999;
}

#content .footer-disc {
    border-top: 1px solid #6c6c6c;
    padding: 16px 0 11px;
    font-size: 14px;
}


/* SEC-2 */

#sec-2 {
    background: url(../img/feature-3.jpg) no-repeat 50% 50%;
    min-height: 824px;
    overflow: hidden;
    background-size: cover;
    padding: 60px 2%;
}

#content .ico-holder {
    min-height: 57px;
}
