<section id="hero">
	<div class="fixed-column">
		<div class="hero__content">
			<h1 class="hero__title">
				<b>MAGENTA 1</b><br />
				S OTCOM NA JEDNOTKU<br />
				SA O ZÁBAVU NEMUSÍŠ BÁŤ</h1>
		</div>
	</div>
</section>
<section class="section sec-1" id="sec-1">
	<div class="fixed-column">
		<div class="col-group">
			<div class="grid-g__col_4 how-to">
				<img alt="Čo je Magenta 1" src="../assets/img/ico-1.png" />
				<p class="how-to__title">
					Čo je skupina Magenta 1?</p>
				<p class="how-to__desc">
					Magenta 1 je balík služieb pre vás a vašich blízkych, vďaka ktorému všetci získavate viac výhod a šetríte. Namixujte si balík služieb podľa seba: Paušály Happy, Easy karta, Magio TV a internet či pevná linka.</p>
				<a class="scroll-to" href="#sec-4">Viac info</a></div>
			<div class="grid-g__col_4 how-to">
				<img alt="Ako začať" src="../assets/img/ico-2.png" />
				<p class="how-to__title">
					Ako začať</p>
				<p class="how-to__desc">
					Magentu 1 môžete využit len vy alebo založíte skupinu, do ktorej pozvete svojich blízkych. Čím viac vás bude, tým výhodnejšie ceny získate.</p>
			</div>
			<div class="grid-g__col_4 how-to">
				<img alt="Užívanie výhod" src="../assets/img/ico-3.png" />
				<p class="how-to__title">
					Užívanie výhod</p>
				<p class="how-to__desc">
					Čím viac služieb využijú členovia skupiny, tým nižšie ceny a viac bezplatných výhod navyše získajú! Napríklad si volajú a esemeskujú neobmedzene, získavajú telefón Samsung Galaxy A3 (2016) so zľavou a VIP starostlivosť.</p>
				<a class="scroll-to" href="#sec-3">Viac info</a></div>
		</div>
		<div class="col-group">
			<div class="grid-g__col_12 how-to-links">
				<a class="button button_lima" href="/magenta1-skupina">ZALOŽIŤ SKUPINU</a><br />
				<a class="link scroll-to" href="#sec-2">Kombinovať služby a zistiť ceny<br />
				<img alt="Kombinovať služby a zistiť ceny" src="../assets/img/ico-arrow-down.png" /></a></div>
		</div>
	</div>
</section>
<section class="section sec-2" id="sec-2">
	<div class="fixed-column">
		<h2 class="sec__title">
			SKOMBINUJTE SI SLUŽBY A ZISTITE CENY</h2>
	</div>
	<!--<div class="mob__kv">
		&nbsp;</div>-->
	<div id="magenta__app">
		<div class="c-content">
			<div id="skupina">
				<div class="skupina">
					<div class="check-img">
						<div class="checked" id="skupina-check">
							&nbsp;</div>
					</div>
					<div class="check-text">
						Som členom skupiny a získam ešte nižšie ceny</div>
				</div>
				<div class="skupina-mame">
					<div class="skupina-internet">
						<div class="skupina-button internet-main">
							Internet</div>
						<div class="skupina-button internet-sub">
							<div id="internet-sub">
								<div class="skupina-subcheck check-internet">
									&nbsp;</div>
								<div class="skupina-subcheck-desc">
									Máme Internet</div>
							</div>
						</div>
					</div>
					<div class="skupina-televizia">
						<div class="skupina-button televizia-main">
							Televízia</div>
						<div class="skupina-button televizia-sub">
							<div id="televizia-sub">
								<div class="skupina-subcheck check-televizia">
									&nbsp;</div>
								<div class="skupina-subcheck-desc">
									Máme Televíziu</div>
							</div>
						</div>
					</div>
					<div class="skupina-pevna">
						<div class="skupina-button pevna-main">
							Pevná linka</div>
						<div class="skupina-button pevna-sub">
							<div id="pevna-sub">
								<div class="skupina-subcheck check-pevna">
									&nbsp;</div>
								<div class="skupina-subcheck-desc">
									Máme Pevnú linku</div>
							</div>
						</div>
					</div>
					<div class="skupina-happy">
						<div class="skupina-button happy-main">
							Happy paušály</div>
						<div class="skupina-button happy-sub">
							<div id="happy-sub">
								<div class="skupina-subcheck check-happy">
									&nbsp;</div>
								<div class="skupina-subcheck-desc">
									Máme Happy paušál</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="bubliny">
				<div class="bublina bublina-pevna">
					<img src="https://m.telekom.sk/wb/magenta1/v2/img/bubble_pevna.png" />
					<div class="bublina-desc" id="bublina-pevna">
						&nbsp;</div>
				</div>
				<div class="bublina bublina-internet">
					<img src="https://m.telekom.sk/wb/magenta1/v2/img/bubble_internet.png" />
					<div class="bublina-desc" id="bublina-internet">
						&nbsp;</div>
				</div>
				<div class="bublina bublina-tv">
					<img src="https://m.telekom.sk/wb/magenta1/v2/img/bubble_tv.png" />
					<div class="bublina-desc" id="bublina-tv">
						&nbsp;</div>
				</div>
				<div class="bublina bublina-happy">
					<img src="https://m.telekom.sk/wb/magenta1/v2/img/bubble_happy.png" />
					<div class="bublina-desc" id="bublina-happy">
						&nbsp;</div>
				</div>
			</div>
		</div>
		<ul class="sm sm-simple is_closed" id="magenta-menu">
			<li class="master" data-choosen="0" data-order="0" data-type="0" id="help-1">
				<a href="#">INTERNET</a>
				<ul class="hidden">
					<li class="parent">
						<a class="type" href="#">Už mám internet</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Internet M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Internet L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Internet XL</a></li>
						</ul>
					</li>
					<li class="parent">
						<a class="type" href="#">Chcem internet</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Internet M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Internet L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Internet XL</a></li>
						</ul>
					</li>
					<li class="parent product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderInternet">
					&nbsp;</div>
			</li>
			<li class="master disabled" data-choosen="0" data-order="1" data-type="1">
				<a class="mainParent" href="#">TELEVÍZIA</a>
				<ul class="hidden">
					<li class="parent double-lined">
						<a class="type" href="#">Už mám televíziu</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Televízia M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Televízia L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Televízia XL</a></li>
						</ul>
					</li>
					<li class="parent">
						<a class="type" href="#">Chcem televíziu</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Televízia M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Televízia L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Televízia XL</a></li>
						</ul>
					</li>
					<li class="parent product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderTV">
					&nbsp;</div>
			</li>
			<li class="master disabled" data-choosen="0" data-order="2" data-type="2">
				<a href="#">PEVNÁ LINKA</a>
				<ul class="hidden">
					<li class="parent">
						<a class="type" href="#">Už mám pevnú linku</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Pevná linka M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Pevná linka L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Pevná linka XL</a></li>
						</ul>
					</li>
					<li class="parent">
						<a class="type" href="#">Chcem pevnú linku</a>
						<ul class="hidden">
							<li class="product product-variant" data-variant="M">
								<a class="child" href="#">Pevná linka M</a></li>
							<li class="product product-variant" data-variant="L">
								<a class="child" href="#">Pevná linka L</a></li>
							<li class="product product-variant" data-variant="X">
								<a class="child" href="#">Pevná linka XL</a></li>
						</ul>
					</li>
					<li class="parent product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderPL">
					&nbsp;</div>
			</li>
			<li class="master disabled double-line" data-choosen="0" data-order="3" data-type="3" id="help-2">
				<a href="#">MÔJ VÝHODNÝ PAUŠÁL</a>
				<ul class="hidden">
					<li class="parent product product-variant" data-variant="g">
						<a class="child" href="#">Happy M</a></li>
					<li class="parent product product-variant" data-variant="a">
						<a class="child" href="#">Happy L</a></li>
					<li class="parent product product-variant" data-variant="b">
						<a class="child" href="#">Happy XL Volania</a></li>
					<!--<li class="parent product product-variant" data-variant="c"><a href="#" class="child">Happy XL Data</a></li>-->
					<li class="parent product product-variant" data-variant="d">
						<a class="child" href="#">Happy XL</a></li>
					<li class="parent product product-variant" data-variant="e">
						<a class="child" href="#">Happy XXL</a></li>
					<li class="parent product product-variant" data-variant="f">
						<a class="child" href="#">Happy Profi</a></li>
					<li class="parent product product-variant" data-variant="o">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="o" id="productHolderMP">
					&nbsp;</div>
			</li>
			<li class="master disabled double-line" data-choosen="0" data-order="4" data-type="4" id="help-3">
				<a href="#">PAUŠÁLY PRE BLÍZKYCH</a>
				<ul class="hidden">
					<li class="package" data-package="0">
						<a class="parent" href="#">Prvý paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="package" data-package="1">
						<a class="parent" href="#">Druhý paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="package" data-package="2">
						<a class="parent" href="#">Tretí paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="package" data-package="3">
						<a class="parent" href="#">Štvrtý paušál</a>
						<ul class="hidden">
							<li class="parent product product-variant" data-variant="g">
								<a class="child" href="#">Happy XS mini</a></li>
							<li class="parent product product-variant" data-variant="i">
								<a class="child" href="#">Happy XS</a></li>
							<li class="parent product product-variant" data-variant="c">
								<a class="child" href="#">Happy S</a></li>
							<li class="parent product product-variant" data-variant="j">
								<a class="child" href="#">Happy M</a></li>
							<li class="parent product product-variant" data-variant="a">
								<a class="child" href="#">Happy L</a></li>
							<li class="parent product product-variant" data-variant="b">
								<a class="child" href="#">Happy XL Volania</a></li>
							<li class="parent product product-variant" data-variant="d">
								<a class="child" href="#">Happy XL</a></li>
							<li class="parent product product-variant" data-variant="e">
								<a class="child" href="#">Happy XXL</a></li>
							<li class="parent product product-variant" data-variant="f">
								<a class="child" href="#">Happy Profi</a></li>
							<li class="parent product product-variant" data-variant="h">
								<a class="child" href="#">Easy karta</a></li>
							<li class="product product-variant" data-variant="o">
								<a class="not-interested" href="#">Nemám záujem</a></li>
						</ul>
					</li>
					<li class="parent product product-variant package" data-package="4" data-variant="oooo">
						<a class="not-interested" href="#">Nemám záujem</a></li>
				</ul>
				<div class="productHolder hidden" data-product="0" data-variant="oooo" id="productHolderM3P">
					&nbsp;</div>
			</li>
			<li>
				<p class="price">
					MESAČNE SPOLU</p>
				<div class="priceHolder2">
					<div class="half-main">
						<div class="half half-left">
							<p class="half-desc">
								PEVNÉ SLUŽBY</p>
							<p class="itemHolder">
								&nbsp;</p>
						</div>
						<div class="half half-middle">
							&nbsp;</div>
						<div class="half half-right">
							<p class="half-desc">
								MOBILNÉ SLUŽBY</p>
							<div class="price-row price-mobile2">
								<div class="itemHolder2">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw2">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check2">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile3">
								<div class="itemHolder3">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw3">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check3">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile4">
								<div class="itemHolder4">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw4">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check4">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile5">
								<div class="itemHolder5">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw5">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check5">
										&nbsp;</div>
								</div>
							</div>
							<div class="price-row price-mobile6">
								<div class="itemHolder6">
									&nbsp;</div>
								<div class="kosik-hw kosik-hw6">
									<div class="hw-check-desc">
										Chcem aj mobil</div>
									<div class="hw-check" id="hw-check6">
										&nbsp;</div>
								</div>
							</div>
						</div>
					</div>
					<!--					<div class="full">
						<p class="priceHolder" data-product="0">PRED ZĽAVOU SPOLU: 0.00 €</p>
						<p class="priceHolderZ mag">PO ZĽAVE SPOLU: 0.00 €</p>
						<div class="button zaujem">MÁM ZÁUJEM</div>
					</div>-->
					<div class="full">
						<div class="full-price1">
							<div class="full-price-left">
								PRED ZĽAVOU SPOLU</div>
							<div class="full-price-right priceHolder" data-product="0">
								0.00 €</div>
						</div>
						<div class="full-price2">
							<div class="full-price-left">
								PO ZĽAVE SPOLU</div>
							<div class="full-price-right priceHolderZ">
								0.00 €</div>
						</div>
						<div class="button zaujem">
							MÁM ZÁUJEM</div>
					</div>
				</div>
			</li>
			<!--<li><a href="#" class="button button_lima button-buy disabled">Mam zaujem</a></li>-->
		</ul>
	</div>
	<div class="lightbox-cover hidden">
		&nbsp;</div>

        <div id="cmb__holder" style="display: none;"></div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script><script type="text/javascript" src="../assets/js/skupina.js"></script><script type="text/javascript" src="../assets/js/smartmenu.js"></script>
<section class="section sec-3" id="sec-3">
	<div class="fixed-column">
		<h2 class="sec__title">
			ČO ZÍSKATE S MAGENTA 1?</h2>
		<div class="col-group eqWrap">
			<div class="grid-g__col_6 benefit-box">
				<img alt="" src="../assets/img/ico-pipe.png" />
				<p class="bb__maintitle">
					NIŽŠIE CENY</p>
				<p class="bb__title">
					Nižšie ceny paušálov Happy a vybraných mobilov</p>
				<p class="bb__desc">
					Nižšie ceny paušálov získate, ak máte v skupine aspoň 2 služby s úrovňou M alebo vyššou. Môže ísť o služby Chytrého balíka alebo o paušály Happy. Čím viac členov skupina má, tým výhodnejšie ceny získavajú všetci v skupine.<br />
					<br />
					V skupine môžete získať aj telefón Samsung Galaxy A3 (2016) so zľavou.</p>
				<p class="bb__title margin-top-15">
					Nižšie ceny za Chytrý balík</p>
				<p class="bb__desc">
					Čím viac služieb Chytrého balíka máte, tým bude ich cena výhodnejšia!</p>
			</div>
			<div class="grid-g__col_6 benefit-box">
				<img alt="" src="../assets/img/ico-pipe.png" />
				<p class="bb__maintitle">
					SKUPINOVÉ VÝHODY</p>
				<p class="bb__title">
					Volania z mobilu a SMS navzájom v skupine zadarmo</p>
				<p class="bb__title">
					Úložisko vo veľkosti 20 GB zadarmo <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
				<p class="bb__desc">
					Uložte si bezpečne svoje dokumenty, fotky či videá s Magenta Cloud až do 5 GB zadarmo</p>
				<a class="link" href="http://www.magentajedna.sk">Prejsť na Magenta Cloud</a>
				<p class="bb__title margin-top-15">
					Technickú pomoc Pôjdeto zadarmo <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
				<p class="bb__desc">
					S balíkom služieb Pôjde Light získate neobmedzenú technickú pomoc pre všetkých členov skupiny.</p>
				<a class="link" href="https://www.pojdeto.sk/sk/magenta1">Prejsť na stránku Pojdeto</a></div>
		</div>
	</div>
</section>
<section class="section sec-4" id="sec-4">
	<div class="fixed-column">
		<h2 class="sec__title">
			ČASTÉ OTÁZKY</h2>
		<div class="col-group">
			<div class="grid-g__col_12 faq">
				<div class="col-group">
					<div class="grid-g__col_2">
						<img alt="" class="faq__img" src="../assets/img/logo-magenta1.png" /></div>
					<div class="grid-g__col_10">
						<p class="faq__maintitle">
							Skupina Magenta 1</p>
						<div class="faq__item">
							<p class="faq__title">
								Kedy môžem založiť skupinu? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Skupinu môžete založiť, ak máte mobilný paušál Happy M alebo vyšší. Založením skupiny sa stanete jej správcom a môžete do nej pozvať svojich blízkych.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Môžem pozvať blízkeho do skupiny, aj keď nie som jej správcom? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Nových ľudí možete do skupiny pozvať, len ak ste správca, ktorý ju založil.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Kedy môžem vstúpiť do skupiny? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Vstúpiť do skupiny môžete, ak máte aspoň jednu z týchto služieb: mobilný paušál Happy, Bez záväzkov alebo Easy kartu. Ak máte služby Chytrého balíka: Magio televíziu, Magio internet alebo Pevnú linku, musíte mať súčasne mobilné číslo od Telekomu.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Koľko členov môže mať skupina? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Jedna skupina môže mať maximálne 5 členov s mobilným číslom od Telekomu. V skupine môžu byť až 3 služby pevnej siete od programu M a vyššie patriace niektorému z členov skupiny s mobilným číslom. Môže ísť max. o 1 televíziu (Magio TV alebo Biznis TV), 1 internet (Magio Internet alebo Firemný internet) a 1 pevnú linku (Doma Happy, Biznis linka alebo Magenta Office).</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Aké výhody v skupine môžem získať? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Ak máte v skupine minimálne 2 služby s úrovňou M alebo vyššou (mobilné alebo pevné):<br />
								- <b>voláte, esemeskujete a ememeskujete si v rámci skupiny zadarmo</b><br />
								- získavate <b>zvýhodnenú skupinovú cenu na paušál Happy</b>. Čím je v skupine viac členov s úrovňou služby M alebo vyššou, tým je cena paušálu pre každého člena skupiny nižšia.<br />
								<br />
								Ak si zaradíte do skupiny aspôň jednu službu pevnej siete, získate<br />
								- <b>Službu MagentaCLOUD</b>, vďaka ktorej si vzájomne vymieňate fotky a zabávate sa na videách celej rodiny.<br />
								- <b>Pôjdeto Light</b>: Neobmedzenú profesionálnu technickú pomoc pre každého člena rodiny.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Volania z mobilu a SMS/MMS zadarmo navzájom má celá skupina? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Áno, volania z mobilu a SMS/MMS zadarmo medzi sebou v rámci skupiny, získajú všetci, ktorí vstúpia do skupiny, aj keď im beží viazanosť.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Kedy získam zvýhodnenú skupinovú cenu mobilného paušálu Happy a mobilu? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Zníženú cenu mobilného paušálu Happy a mobilu získate pri predĺžení alebo podpise novej zmluvy a nevyužili ste inú akciu.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Môžu sa zákazníkom, ktorí už patria do skupiny, znížíť ceny aj počas viazanosti? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Áno, ceny sa znižujú všetkým v skupine bez ohľadu na ich viazanosť vždy, keď do skupiny vstúpi niekto so službou s úrovňou M a vyššou.<br />
								<br />
								Samozrejme skupinovú zľavu môže získať ten zákazník, ktorý nevyužíva inú zľavu alebo akciu.</p>
						</div>
						<!--<div class="faq__item">
                            <p class="faq__title">Kedy získame všetci znížené ceny paušálov Happy? <img src="../assets/img/ico-smart-arrow.png" alt=""></p>
                            <p class="faq__desc">Znížené ceny paušálov Happy získate všetci v skupine, ak:</p>
                            <ul class="faq__list">
                                <li>do skupiny vstúpi niekto s mobilným paušálom Happy M a vyšším</li>
                                <li>do skupiny vstúpi niekto, ktorý má Magio televíziu, Magio internet alebo Pevnú linku vo verzii M a vyššej</li>
                            </ul>
                        </div>-->
						<div class="faq__item">
							<p class="faq__title">
								Získam výhodnejšiu cenu, aj keď mám nižší mobilný paušál ako je Happy M? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Áno, získate zvýhodnenú cenu, ale ostatným v skupine cenu neznížite.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Musia byť všetky čísla v skupine písané na jedného zákazníka? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Môžu, ale nemusia. V skupine môžu byť zaradené služby písané na zákazníkov s rôznymi adresami, rodnými číslami alebo IČO.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Je to pravda, že môžem v jednej skupine kombinovať domácnosti s malými podnikateľmi? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Áno je to pravda. Služby skupiny môžu patriť rôznym účastníkom (súkromným osobám alebo malým podnikateľom). V prípade zaradenia služieb podnikateľa môžu byť v jednej skupine služby len jedného podnikateľa. Jeden podnikateľ môže mať vytvorenú len 1 skupinu.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Ako často môžem zmeniť skupinu? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								1 mobilné telefónne číslo alebo jedna pevná služba môže zmeniť skupinu max. 2-krát ročne.</p>
						</div>
						<div class="faq__item">
							<p class="faq__title">
								Budem platiť rovnakú cenu paušálu po celý čas, čo som v skupine? <img alt="" src="../assets/img/ico-smart-arrow.png" /></p>
							<p class="faq__desc">
								Zvýhodnená skupinová cena, na ktorú má zákazník v skupine nárok, sa prepočítava na každé zúčtovacie obdobie na základe podmienok splnených počas príslušného zúčtovacieho obdobia (napr. počet služieb v skupine s úrovňou M a vyššou).</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-group">
			<div class="grid-g__col_12">
				<a class="link link_terms" href="/documents/10179/543359/Obchodne_Podmienky_Magenta1.pdf">Obchodné podmienky</a></div>
		</div>
	</div>
</section>
<p>
	&nbsp;</p>