.disp-flex {
    display: flex;
}

.col-act .box__item:nth-of-type(1) {
    width: 43%;
    background: url(/documents/10179/642134/bg-sagan.jpg) no-repeat;
    background-size: cover;
}

.col-act .box__item:nth-of-type(2) {
    width: 30%;
    margin: 0 2%;
}

.col-act .box__item:nth-of-type(3) {
    width: 23%;
    background: url(/documents/10179/642134/ico-phone2.png) no-repeat 50% 50%;
}

@media screen and (max-width: 780px) {
    .disp-flex {
        display: block;
    }
    .col-act .box__item:nth-of-type(1),
    .col-act .box__item:nth-of-type(2),
    .col-act .box__item:nth-of-type(3) {
        width: 100%;
    }
    #content .col-act .box__item .content-holder {
        width: 100%;
        max-width: inherit;
    }
    .col-act .box__item:nth-of-type(2) {
        margin: 20px 0;
    }
}