<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
				
						<p class="bpis__title">
							SAMSUNG GALAXY A50</p>
						<div class="box-device">
							<p class="pricing__title">
								Zobraziť ceny:</p>
							<select id="heap">
								<option value="S">s paušálom ÁNO S</option>
								<option value="M_DATA">s paušálom ÁNO M Dáta</option>
								<option value="M">s paušálom ÁNO M</option>
								<option value="L">s paušálom ÁNO L</option>
								<option value="XL">s paušálom ÁNO XL</option>
								<option value="XXL">s paušálom ÁNO XXL</option>
							</select>
							<table class="pricing-table">
								<tbody>
									<tr class="inner-head no-margin">
										<th colspan="2">
											Mesačne:</th>
									</tr>
									<tr class="no-margin">
										<td>
											Za paušál:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyFeeService" class="feePrice">70,00 €</span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Mesačná splátka za mobil:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthylFeeWithMob" class="feePrice">1,00 €</span>
										</td>
									</tr>
									<tr class="one-time-payment">
										<td>
											Mesačná splátka s Magenta 1:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyMagenta1fee" class="feePrice">1,00 €</span>
										</td>
									</tr>
									<!-- <tr class="no-margin text-green">
													<td>
														<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
													<td>
														<span class="feePrice">-5,00 €</span></td>
												</tr>
												<tr class="no-margin">
													<td>
														Doplatok k službe</td>
													<td>
														9,00 €</td>
												</tr> -->
									<tr class="inner-head no-margin">
										<th colspan="2">Jednorazovo pri kúpe:</th>
									</tr>
									<tr class="one-time-payment">
										<td>
											Akontácia pre členov Magenta 1:</td>
										<td>
											<span id="magentaPrice" class="oneTimeFee">1,00 €</span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Bežná akontácia:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="regularPrice" class="feePrice" style="text-decoration: line-through;">29,00 €</span>
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" href="/magenta1/zvyhodnena-cena-samsung-galaxy-a-50/mam-zaujem">CHCEM SAMSUNG SO ZĽAVOU</a>
						</div>
					<!-- <div class="box-device">
						<p class="pricing__title">
							K Magio internetu <span class="feeType">L</span>:</p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Magio internet <span class="feeType">L</span></td>
									<td>
										<span class="feePrice">15,00 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">49,00 €</span></td>
								</tr>
							</tbody>
						</table>
					</div> -->
					<!-- <div class="tip">
						<p><b>NÁŠ TIP:</b> Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na PREJSŤ K NÁKUPU a skúste kalkulačku služieb.</p>
					</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Displej pre úplne nový pohľad na svet</p>
								<p class="feat-desc">
									Doprajte si perfektný zážitok s 6,4" Infinity-U displejom Galaxy A50. Takmer bezrámová obrazovka sa rozprestiera až k samotným okrajom telefónu. A vďaka FHD+ rozlíšeniu a farbám technológie Super AMOLED na nej bude skvelo vyzerať každé sledované video.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Prémiový dizajn v nádherných farbách</p>
								<p class="feat-desc">
									Galaxy A50 sa pýši prémiovo elegantným dizajnom. Jeho tenké telo s ladnými líniami sa príjemne drží a na výber máte z nadčasovo bieleho alebo čierneho variantu, aj zo žiarivo modrého či korálového modelu. Ku komfortnému ovládaniu prispieva aj zadná časť z 3D skla a integrovaný snímač odtlačkov prstov priamo v displeji telefónu.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Trojitý fotoaparát pre každú príležitosť</p>
								<p class="feat-desc">
									Galaxy A50 je vybavený ultraširokouhlým objektívom, ktorý svet vidí v 123° uhle záberu podobne ako ľudské oko, 25Mpx hlavným fotoaparátom (F1.7) pre jasné a ostré zábery počas celého dňa a 5Mpx snímačom pre úpravu hĺbok ostrosti.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Tri spôsoby fotografovania</p>
								<p class="feat-desc">
									Vďaka trom objektívom vytvoríte skvelé snímky skutočne kdekoľvek a kedykoľvek. Zachytíte omnoho rozsiahlejšie scény. Alebo daný okamih vyfotografujete zakaždým v inom svetle. Denné zábery zostanú perfektne jasné, nočné fotografie budú dostatočne svetlé, ostré a bez rušivého šumu. Dokonca môžete fotografovaný subjekt nechať vyniknúť ľahkou úpravou rozostreného pozadia.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Optimalizácia scény pre vždy perfektné fotografie</p>
								<p class="feat-desc">
									Fantastické fotografie vytvoríte hneď na prvý raz. Či už fotografujete milovanú osobu, svojho psa, alebo napríklad len váš chutný obed, vďaka funkcii optimalizácie scény bude každá snímka dokonalá. Pomocou umelej inteligencie rozpozná a vylepší každý záber, takže získa optimálny jas, farebnosť i ďalšie hodnoty. A všetko zachytíte presne tak, ako to vidíte v skutočnosti.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.png" /></div>
					</div>
					<!--<div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px; color: #aaa;">* Obrázky sú len ilustračné.</p>
					</div>-->
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<div class="detailed-specification" style=""> <table class="tbl double"> <thead> <tr> <th colspan="2">Všeobecné parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Váha </div> </td> <td class="paramValue"> 166 g </td> </tr> <tr> <td> <div> Rozmery (výška x šírka x hrúbka) </div> </td> <td class="paramValue"> 158,5 x 74,7 x 7,7 mm </td> </tr> <tr> <th colspan="2">Displej</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Uhlopriečka </div> </td> <td class="paramValue"> 6.4" </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Rozlíšenie </div> </td> <td class="paramValue"> 2340 x 1080 </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Typ displeja </div> </td> <td class="paramValue"> Super AMOLED </td> </tr> <tr> <td> <div> Farba </div> </td> <td class="paramValue"> Biela </td> </tr> <tr> <td> <div> Zhotovenie krytov telefónu </div> </td> <td class="paramValue"> plast a sklo </td> </tr> <tr> <td> <div> SAR (vyžarovanie zariadenia) </div> </td> <td class="paramValue"> 0.27 W/Kg </td> </tr> <tr> <td> <div> Typ SIM karty </div> </td> <td class="paramValue"> Nano SIM </td> </tr> <tr> <td> <div> Dual SIM </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Typ </div> </td> <td class="paramValue"> dotykový </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Technické parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Procesor </div> </td> <td class="paramValue"> 2,3 Ghz osemjadrový </td> </tr> <tr> <td> <div> Operačná pamäť </div> </td> <td class="paramValue"> 4 GB </td> </tr> <tr> <td> <div> Celková zdieľaná interná pamäť </div> </td> <td class="paramValue"> 128 GB </td> </tr> <tr> <td> <div> Podporovaná pamäťová karta </div> </td> <td class="paramValue"> až do 512 GB </td> </tr> <tr> <td> <div> Operačný systém </div> </td> <td class="paramValue"> Android </td> </tr> <tr> <td> <div> Verzia OS </div> </td> <td class="paramValue"> Android 9 </td> </tr> <tr> <th colspan="2">Batéria</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Štandardná batéria </div> </td> <td class="paramValue"> 4000 mAh </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Telefonovanie, funkcie a multimédiá</th> </tr> </thead> <tbody> <tr> <td> <div> Funkcie telefonovania </div> </td> <td class="paramValue"> viacpoložkový zoznam, skupiny volajúcich, </td> </tr> <tr> <td> <div> SMS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> MMS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> VoLTE - volania cez 4G </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> HD hlas (AMR-WB kodek) </div> </td> <td class="paramValue"> áno/áno </td> </tr> <tr> <td> <div> Prehliadač dokumentov </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> E-mail klient </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Kancelária </div> </td> <td class="paramValue"> kalkulačka, diktafón, Poznámky, Úlohy </td> </tr> <tr> <td> <div> Organizácia času </div> </td> <td class="paramValue"> budik, kalendar, pripomienky, úlohy, svetový čas, </td> </tr> <tr> <td> <div> MP3 prehrávač </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <th colspan="2">Fotoaparát</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Rozlíšenie fotoaparátu </div> </td> <td class="paramValue"> 25 Mpix + 5 Mpix + 8 Mpix </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Duálny fotoaparát </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Blesk hlavného fotoaparátu </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Nahrávanie videa </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Vedľajší fotoaparát </div> </td> <td class="paramValue"> 25 Mpx </td> </tr> <tr> <td> <div> FM rádio </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> GPS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Audio konektor </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Podporované formáty hudobných súborov </div> </td> <td class="paramValue"> MP3,M4A,3GA,AAC,OGG,OGA,WAV,WMA,AMR,AWB,FLAC,MID,MIDI,XMF,MXMF,IMY,RTTTL,RTX,OTA </td> </tr> <tr> <td> <div> Podporované formáty video súborov </div> </td> <td class="paramValue"> MP4,M4V,3GP,3G2,WMV,ASF,AVI,FLV,MKV,WEBM </td> </tr> <tr> <td> <div> Snímače </div> </td> <td class="paramValue"> Akcelerometer, Snímač odtlačkov prstov, Gyroskop, Geomagnetický senzor, Hallový senzor, Svetelný senzor, Senzor priblíženia </td> </tr> <tr> <td> <div> Ďalšie funkcie </div> </td> <td class="paramValue"> Ultraširokouhlý objektív 123°, Rýchle nabíjanie, Infinity-U displej, Dolby Atmos, Snímač odtlačkov prstov v displeji, Adaptívne WiFi, Bixby, DUAL SIM. KNOX </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Iné</th> </tr> </thead> <tbody> <tr> <td> <div> Obsah balenia </div> </td> <td class="paramValue"> Telefón, cestovná nabíjačka, dátový kábel, stereo slúchadlá, nástroj na vyberanie SIM karty a stručná užívateľská príručka </td> </tr> </tbody> </table> </div>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
			<div style="margin: 0 2.6% 20px 2.6%; float: left">
				<p style="font-size: 14px;">* Batéria musí byť takmer vybitá, pretože čím viac je nabitá, tým pomalšie sa dobíja. Všetky tvrdenia o výdrži batérie uvádzajú približné hodnoty a vychádzajú z profilu kom-binovaného používania za optimálnych sieťových podmienok, ktorý zahŕňa čas používa-nia aj pohotovostný čas. Skutočný výkon batérie sa bude líšiť v závislosti od mnohých faktorov vrátane intenzity signálu, konfigurácie siete, veku batérie, prevádzkovej teploty, zvolených funkcií, nastavení zariadenia a spôsobu používania hlasových, dátových a iných aplikácií.</p>
			</div>			
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
