@charset "UTF-8";
/* =============== GLOBAL CONFIG  =============== */
/* SLIDER */
#sec-9 {
  /* Slider */
  /* =============== Slider Custom Arrows =============== */ }

#sec-9 .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

#sec-9 .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

#sec-9 .slick-list:focus {
  outline: none; }

#sec-9 .slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

#sec-9 .slick-slider .slick-track, #sec-9 .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#sec-9 .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }

#sec-9 .slick-track:before, #sec-9 .slick-track:after {
  content: "";
  display: table; }

#sec-9 .slick-track:after {
  clear: both; }

.slick-loading #sec-9 .slick-track {
  visibility: hidden; }

#sec-9 .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] #sec-9 .slick-slide {
  float: right; }

#sec-9 .slick-slide img {
  display: block; }

#sec-9 .slick-slide.slick-loading img {
  display: none; }

#sec-9 .slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized #sec-9 .slick-slide {
  display: block; }

.slick-loading #sec-9 .slick-slide {
  visibility: hidden; }

.slick-vertical #sec-9 .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

#sec-9 .slick-arrow.slick-hidden {
  display: none; }

#sec-9 .app-slider {
  max-width: 675px;
  margin: 0 auto;
  position: relative; }

#sec-9 .slick-list {
  padding: 15px 0; }

#sec-9 .slick-track {
  display: flex; }

#sec-9 .slick-slide {
  display: flex !important;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 10px; }

#sec-9 .slick-list {
  margin: 0 -10px; }

#sec-9 .slick-arrow {
  font-size: 0;
  height: 44px;
  width: 44px;
  transform: none;
  transition: none;
  border: none !important;
  background: transparent url("/documents/10179/16413160/btn-sprite.png");
  position: absolute;
  top: 50%;
  z-index: 10; }

#sec-9 .slick-prev {
  background-position: 0 0;
  left: -48px; }

#sec-9 .slick-next {
  background-position: 44px 0;
  right: -48px; }

#sec-9 .slick-prev:hover {
  background-position: 0 88px; }

#sec-9 .slick-next:hover {
  background-position: 44px 88px; }

#sec-9 .slick-prev:active {
  background-position: 0 44px; }

#sec-9 .slick-next:active {
  background-position: 44px 44px; }

#sec-9 .slick-disabled {
  opacity: 0.2;
  pointer-events: none; }

#sec-9 .slick-prev.slick-arrow.slick-disabled {
  background-position: 0 0;
  left: -48px; }

#sec-9 .slick-next.slick-arrow.slick-disabled {
  background-position: 44px 0;
  right: -48px; }

#sec-9 .slick-dots button {
  font-size: 0;
  height: 8px;
  width: 8px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #b6b6b6 !important;
  background-color: #ededed; }

#sec-9 ul.slick-dots {
  margin: 10px 0 0 0;
  text-align: center;
  height: 8px; }

#sec-9 .slick-dots li {
  display: inline-block;
  margin: 0 2px;
  height: 8px; }

#sec-9 .slick-dots .slick-active button, #sec-9 .slick-dots button:focus, #sec-9 .slick-dots button:hover {
  border: 1px solid #568727 !important;
  background-color: #6bb324; }

@media screen and (max-width: 500px) {
  #sec-9 .app-slider {
    display: none; } }

/* SEC 9 */
.sec-9 .tabs-container {
  margin-top: 10px; }

/* BOX */
#content .new-ribbon {
  position: absolute;
  width: 172px;
  color: #ffffff;
  background: #235482;
  text-align: center;
  top: -11px;
  transform: translateX(-50%);
  left: 50%; }

.p-box {
  float: left;
  outline: none !important; }

.p-box {
  transition: all .2s ease-in-out;
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column; }

#content .p-detail p.box__title {
  color: #e20074;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase; }

.p-box:hover {
  transform: scale(1.01);
  -webkit-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6); }

.p-box, .box {
  border: 1px solid #dcdcdc;
  padding: 20px 30px 20px 30px;
  min-height: 456px;
  width: 320px;
  background-color: #fff; }

.p-box_new {
  border: 1px solid #235482; }

.p-detail {
  flex-grow: 1;
  width: 100%; }

#content .p-detail p {
  font-size: 15px;
  margin: 0; }

#content .p-detail .link {
  display: inline-block; }

#content .p-detail p b, #content .p-price-label {
  color: #262626;
  font-weight: 500; }

#content .p-price {
  font-size: 20px;
  color: #e20074; }

#content .p-actions {
  width: 100%; }

#content .p-actions .cta {
  margin: 8px 0; }

#content .as2 .p-actions .cta {
  margin: 0; }

#content .p-actions .link {
  text-decoration: none; }

#content .p-actions .btn {
  padding: 8px 0;
  width: 100%; }

@media screen and (max-width: 760px) {
  .p-box .box {
    margin: 0 auto; }
  #content .slick-prev {
    left: 0; }
  #content .slick-next {
    right: 0; } }

/* ACCORDION */
.accordion {
  display: none; }

@media screen and (max-width: 500px) {
  .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px; }
  #content .ac-label {
    font-size: 15px;
    color: #757575;
    margin-bottom: 0; }
  .accordion .item .heading {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background: url("/documents/10179/16413160/ico-plus.png") no-repeat;
    background-position: right center;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    font-weight: 500;
    text-align: left; }
  .accordion .item.open .heading {
    background: url("/documents/10179/16413160/ico-minus.png") no-repeat;
    background-position: right center; }
  .accordion .item .content {
    display: none;
    padding-bottom: 15px; }
  .accordion .item.open .content {
    display: block; }
  .accordion .p-detail, .accordion .p-price-label {
    text-align: left; }
  #content .ac-price {
    color: #a4a4a4;
    font-weight: normal; }
  #content .accordion .item .content p {
    margin-top: 0; }
  .content:after {
    content: "";
    display: table;
    clear: both; } }

#content p.mb-10 {
  margin-bottom: 10px; }

/* =============== Pausaly Slider =============== */
#content .box-outside {
  background-color: #fff;
  color: #6c6c6c;
  border: 1px solid #d0d0d0;
  /*max-width: 385px;*/
  text-align: center;
  padding: 0 0 20px 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-left: 10px; }

#content .box-inside {
  margin-top: 5px;
  padding: 20px;
  border-bottom: 1px solid #d0d0d0; }

#content .program_volania {
  min-height: 220px; }

#content .program_title {
  background-color: #262626;
  height: 40px;
  color: #fff;
  font-size: 1.55em;
  padding-top: 5px;
  text-transform: uppercase; }

#content .program_item {
  padding: 0 25px; }

#content .program_item h3 {
  color: #262626;
  font-size: 1.35em;
  font-weight: bold;
  margin-top: 0; }

#content .program_item h4 {
  color: #262626;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0; }

#content .program_item h4.color_grey {
  color: #6c6c6c; }

#content .program_item .box-bg {
  background-color: #fff5cf;
  margin-top: 0; }

#content .program_item .desc {
  margin-top: 10px;
  font-size: 0.8em; }

#content .program_item .internet {
  min-height: 113px; }

#content .program_item .cena {
  margin-top: 30px;
  font-size: 0.9em; }

#content .program_item .cena h2 {
  margin: 0;
  padding-bottom: 0;
  font-size: 2.1em;
  padding-top: 10px; }

#content .program_item .cena .cena-inholder {
  width: 100%;
  min-height: 60px; }

#content .program_item .cena .cena-side-l {
  width: 120px;
  display: inline-block;
  float: left;
  padding-right: 10px; }

#content .program_item .cena .cena-side-r {
  width: 95px;
  display: inline-block;
  float: left;
  text-align: left;
  border-left: 1px solid #e20074;
  padding-left: 10px; }

#content .program_item .cena .cena-side-bottom {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px; }

#content .program_item .cena-left, #content .program_item .cena-right {
  display: inline-block;
  vertical-align: top; }

#content .program_item .cena-disc {
  color: #6c6c6c;
  font-size: 16px;
  padding-top: 10px; }

#content .program_item .objednat {
  margin-top: 30px; }

#content .program_item .internet-large {
  font-size: 20px;
  color: #262626;
  font-weight: bold; }

/* =============== LightBox =============== */
.lightbox-area {
  display: none; }

#content .btn-sms {
  display: none; }

@media screen and (max-width: 560px) {
  #content .btn-sms {
    display: block; } }

.happy-lightbox {
  font-size: 1.3em;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: #e20074; }

h2.lightbox-title {
  font-size: 20px;
  color: #e20074;
  margin-bottom: 10px; }

p.lightbox-desc {
  font-size: 18px;
  margin-bottom: 20px; }

.tr-head {
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  color: #000;
  font-size: 20px; }

.waterbear-theme th {
  padding: 5px 0; }

.waterbear-theme td {
  padding: 0 10px 0 0;
  font-size: 16px; }

a.lightbox-btn {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #65ac20;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none; }

a.lightbox-btn:hover {
  color: #fff;
  background-color: #58951c;
  border: 1px solid #4d8319; }

#content #lightbox-young {
  max-width: 392px; }

#content #lightbox-young #happy-young .box-inside {
  padding: 10px; }

#content #lightbox-young #happy-young .program_title {
  background-color: #e20074;
  font-size: 26px; }

#content #lightbox-young #happy-young .objednat {
  margin-top: 0; }

#content #lightbox-young #happy-young.box-outside {
  margin: 0; }

#content #lightbox-young #happy-young.program_item {
  max-width: 385px; }

#content #lightbox-young #happy-young.program_item .cena {
  margin-top: 20px; }

#content #lightbox-young #happy-young .cena-side-r {
  margin-top: 20px; }

#content #lightbox-young #happy-young .cena-side-r p {
  padding-top: 10px;
  margin-bottom: 0; }

#content #lightbox-young .lb-disc {
  display: inline-block; }

#content #lightbox-young .lb-disc p {
  color: #979797; }

/*   MODULE PLAN CHOOSER   */
#module-plan-chooser {
  display: inline-block;
  width: 100%; }

#module-plan-chooser:after {
  content: "";
  display: table;
  clear: both; }

#plan-list_mob, #plm__plan-detail {
  display: none; }

#content .module-legal {
  font-size: 14px;
  color: #a4a4a4;
  margin-top: 20px;
  display: inline-block; }

@media screen and (max-width: 768px) {
  #plan-list_pc {
    display: none; }
  #plan-list_mob {
    display: block;
    float: left;
    width: 100%;
    position: relative; } }

/* GLOBALS FOR PLAN CHOOSER */
#content .link_no-underline {
  text-decoration: none; }

#content .plan-sec-head {
  text-transform: uppercase; }

.stuck {
  position: fixed;
  top: 0;
  width: 96%;
  z-index: 100; }

.plp__head.stuck {
  width: 100%;
  max-width: 940px; }

.sticky-surpassed {
  display: none;
  position: absolute;
  bottom: 0; }

#content .gray-txt {
  color: #a4a4a4 !important; }

#content .mg-b-10 {
  margin-bottom: 10px !important; }

#content .small {
  font-size: 14px; }

@media screen and (max-width: 960px) {
  .plp__head.stuck {
    width: 96%; } }

@media screen and (max-width: 670px) {
  .stuck {
    width: 98%; } }

/* EC */
#ec-holder {
  float: right;
  margin-top: 20px; }

#ec-holder .ec-module {
  margin-left: 10px; }

@media screen and (max-width: 794px) {
  #ec-holder {
    display: none; } }

/* PLAN SWITCHER */
.ps__btn-holder, .ps__link-holder, .plan-separator-holder {
  display: inline-block; }

#content .ps__btn, #content .ps__btn:hover {
  background-color: transparent;
  border: 1px solid #a4a4a4; }

  #content .btn {
    text-transform: uppercase;
    font-size: 16px;
    color: #383838;
    background-color: #ededed;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
}

#content .ps__btn_selected {
  color: #ffffff;
  background-color: #e20074;
  border: 1px solid #cc0069; }

#content .ps__btn_selected:hover {
  background-color: #cc0069;
  border: 1px solid #9f0052; }

#content #plan-mobile, #content #plan-no-mobile {
  text-transform: inherit;
  margin-right: 10px;
  width: 144px;
  text-align: center; }

#content .plan-separator {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px; }

#plan-switcher {
  display: inline-block;
  margin-bottom: 20px;
}

@media screen and (max-width: 560px) {
  #plan-switcher {
    display: flex;
    flex-direction: column; }
  .ps__link-holder {
    order: 1; }
  .plan-separator-holder {
    display: block;
    position: relative;
    margin: 10px 17% 0 17%;
    order: 2; }
  #plan-switcher .plan-sec-head {
    order: 3;
    margin-top: 0; }
  .ps__btn-holder {
    display: block;
    text-align: center;
    order: 4; }
  #content .ps__btn-holder .btn.btn_outline, #content #to-prolong {
    font-size: 16px;
    color: #383838;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #a4a4a4;
    text-transform: uppercase;
    width: 302px; }
  .plan-separator-holder .p-separator {
    background-color: #d0d0d0;
    height: 1px;
    width: 42%;
    position: absolute;
    bottom: 50%; }
  .p-separator.sl {
    left: 0; }
  .p-separator.s2 {
    right: 0; }
  #content #plan-no-mobile {
    margin-right: 0; }
  #content .plan-sec-head {
    text-align: center; }
  #content .plan-separator, .ps__link-holder {
    display: block;
    text-align: center; } }

@media screen and (max-width: 350px) {
  #content #plan-mobile {
    margin-right: 0; }
  #content #to-prolong {
    width: 276px; }
  #content #plan-mobile, #content #plan-no-mobile {
    width: 136px;
    padding: 8px 13px; }
  .plan-separator-holder {
    margin: 0; } }

/* PLAN FILTER */
#plan-filter {
  margin-top: 25px; }

.filter-checkbox-holder {
  float: left;
  width: 15%; }

.filter-text-holder {
  float: right;
  width: 85%; }

#content .filter-title {
  margin: 0;
  font-weight: bold; }

#content .filter-detail {
  margin: 0; }

#content #filter-result {
  font-size: 14px;
  color: #6c6c6c;
  display: inline-block; }

@media screen and (max-width: 820px) {
  .filter-checkbox-holder {
    width: 20%; }
  .filter-text-holder {
    width: 80%; } }

@media screen and (max-width: 600px) {
  #plan-filter {
    display: none; } }

/* PLAN LIST PC */
.plp__head .row {
  background-color: #e20074;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 10px; }

#content .plc__col {
  float: left;
  padding: 0 0.5%; }

#content .plc__col-1 {
  width: 22%; }

#content .plc__col-3 {
  width: 30%; }

#content .plc__col-2, #content .plc__col-4 {
  width: 12%; }

#content .plc__col-5 {
  width: 24%; }

#content .plp__head a, #content .plp__head p {
  color: #ffffff;
  display: block; }

#content .plp__head-item {
  text-align: center;
  height: 58px;
  line-height: 58px;
  text-decoration: none;
  margin: 0; }

#plp__body .plc__col {
  text-align: center;
  border-right: 1px solid #ededed; }

#plp__body .plc__col:last-of-type {
  border-right: 0; }

.plp__plan.row {
  border: 1px solid #c9c9c9;
  transition: box-shadow 0.3s ease-in-out;
  margin-bottom: 5px;
  position: relative;
  padding: 20px 0;
  display: block; }

#content .plp__plan i {
  font-style: italic; }

.plpp-inner {
  display: flex; }

.plp__plan.row:hover {
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24); }

.plp__plan .plpp-inner .plc__col, .plp__plan .plpp-inner .plc__col .col-md-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.plp__plan .plpp-inner .plc__col-3 {
  flex-direction: row; }

.plp__plan .plpp__detail .plc__col-5 {
  justify-content: space-between; }

.plp__plan_w-ribbon.row {
  border: 1px solid #5791c5; }

#content .plp__plan-ribbon {
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5791c5;
  color: #ffffff;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: 222px; }

#content .plan-price {
  font-size: 31px;
  line-height: 31px;
  font-weight: 400;
  margin: 0;
  color: #262626; }

#content .plan-name {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  color: #4b4b4b; }

#content .plan-sale, #content .plan-warn {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #58951c; }

#content .plan-warn {
  color: #E53935; }

#content .plan-data {
  color: #262626;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0; }

#content .plan-data-location {
  color: #6c6c6c;
  line-height: 16px;
  margin: 0;
  width: 100%; }

#content .plan-call-tit, #content .plan-call-det, #content .plan-sms-tit, #content .plan-sms-det {
  font-weight: 400;
  line-height: 16px;
  color: #262626;
  margin: 0;
  width: 100%; }

#content .plan-call-tit, #content .plan-sms-tit {
  font-weight: bold;
  margin-bottom: 6px; }

#content .plan-call-det, #content .plan-sms-det {
  font-weight: normal;
  color: #6c6c6c; }

.plan-call-col-holder {
  width: 100%; }

#content .plan-show-detail, #content .plan-hide-detail {
  background: url("/documents/10179/16413160/ico-search.png") no-repeat center left;
  padding-left: 18px;
  margin-bottom: 10px;
  display: inline-block; }

#content .plan-choose-btn {
  width: 154px;
  margin-top: 5px; }

.ico-basket {
  background: url("/documents/10179/16413160/ico-basket.png") no-repeat;
  width: 15px;
  height: 14px;
  display: inline-block;
  margin-right: 4px; }

.plpp__detail .plan-hide-detail {
  justify-content: flex-start; }

.plpp__detail .plan-choose-btn {
  justify-content: flex-end; }

.plp__plan .plpp-inner.plpp__detail .plc__col-3 {
  flex-direction: column; }

#content .plan-call__header {
  color: #6c6c6c;
}

#content .plan-call__header_outgoing {
  margin-top: 0;
  background: url("/documents/10179/16413160/ico-outgoing.png") no-repeat left center; }

#content .plan-call__header_incoming {
  background: url("/documents/10179/16413160/ico-incoming.png") no-repeat left center;
  margin-top: 25px; }

/* PLAN LIST MOBILE */
#plm-sticky {
  background-color: #ffffff; }

#plm-sticky #plm__head .plm__arrow-holder, #plm-sticky #plm__head .plm__arrow-white-space {
  display: none; }

#plm-sticky.stuck #plm__head {
  width: 100%;
  float: left;
  position: relative; }

#plm-sticky.stuck #plm__head .plm__arrow-holder {
  position: absolute;
  display: block;
  bottom: -23px;
  width: 100%;
  height: 18px;
  border-top: 4px solid #e20074;
  background: url(/documents/10179/16413160/ico-selected-row.png) no-repeat center top; }

#plm-sticky.stuck #plm__head .plm__arrow-white-space {
  position: absolute;
  display: block;
  bottom: -6px;
  width: 100%;
  height: 6px;
  background-color: #fff; }

.plm__head {
  width: 100%; }

#content .plm__head-item {
  width: 33.33333333333333%;
  float: left;
  text-align: center;
  height: 34px;
  line-height: 34px;
  border: 1px solid #b2b2b2;
  color: #262626;
  background-color: #ffffff; }

#content .plm__head-item:first-of-type {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }

#content .plm__head-item:last-of-type {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }

#content .plm__head-item_selected {
  background-color: #e20074;
  color: #ffffff;
  border: 1px solid #cc0069; }

#content .plan-show-detail_mob {
  display: none; }

.plm__col {
  float: left;
  width: 33.33333333333333%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.plmp-inner {
  display: flex;
  align-items: center; }

#plm__body {
  float: left;
  width: 100%;
  border-top: 4px solid #e20074;
  margin-top: 10px; }

#plm__body .plan-choose-btn {
  text-align: center;
  width: 118px; }

#content #plm__body .plan-price, #content #plm__body .plan-data {
  font-size: 16px;
  line-height: 16px;
  font-weight: bold; }

#content #plm__body .plan-name, #content #plm__body .plan-data-location {
  font-size: 16px;
  line-height: 16px; }

#content .plan-show-detail {
  margin-bottom: 2px; }

.plm__plan.row:first-of-type .plm__col-2 {
  background: #fbd9ea url("/documents/10179/16413160/ico-selected-row.png") center top no-repeat; }

.plm__plan.row {
  border: 1px solid #d0d0d0;
  border-top: 0;
  position: relative; }

#content .plm__plan-ribbon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5791c5;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
  margin: 0; }

.plm__plan_w-ribbon.row {
  border-top: 1px solid #1063ad; }

.plm__col {
  min-height: 124px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px; }

#content .plm__col .plan-data {
  margin-top: 5px; }

.plm__col-2 {
  background-color: #fbd9ea; }

@media screen and (max-width: 430px) {
  #plm__body .plan-choose-btn {
    width: 90px;
    padding: 8px 0; } }

@media screen and (max-width: 400px) {
  #content .plan-show-detail_mob {
    display: block; }
  #content .plan-show-detail_tab {
    display: none; } }

@media screen and (max-width: 768px) {
  #wrapper {
    position: relative; }
  #plm__overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10; }
  #plm__plan-detail {
    display: block;
    position: absolute;
    top: 0;
    min-height: 100vh;
    background-color: #ffffff;
    z-index: 100; }
  .plmp__head {
    background-color: #e20074;
    height: 60px;
    width: 100%;
    display: flex;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    position: relative; }
  .plmp__head_w-ribbon {
    border-bottom: 1px solid #5791c5; }
  #content #plm__plan-back {
    height: 60px;
    width: 60px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0; }
  #content .plm__plan-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase; }
  #content .plmp__ribbon {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5791c5;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    margin: 0; }
  .plmp__body {
    padding: 15px; }
  #content .plmp__body-row {
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
    display: flex; }
  #content .plmp__row-price {
    border-bottom: 0; }
  .plmp__body-col, .plmp__row-price .plmp__body-col-1 {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .plmp__body-col-1 {
    justify-content: flex-start; }
  .plmp__body-col-1 {
    width: 25%; }
  .plmp__body-col-2 {
    width: 75%; }
  #content .plmpd-title, #content .plmp__data, #content .plmp__data-location, #content .plmp__call-tit {
    margin: 0;
    line-height: 16px;
    color: #262626; }
  #content .plmpd-title, #content .plmp_small {
    color: #6c6c6c;
    font-size: 14px;
    line-height: 14px;
    margin: 0; }
  .plmp__sep {
    height: 1px;
    width: 100%;
    background-color: #d0d0d0;
    margin: 10px 0; }
  .plmp__row-call .plmp__sep {
    margin-top: 40px; }
  .plmp__row-sms .plmp__sep {
    margin-top: 30px; }
  .plmp__row-call .plmp__body-col-1 {
    justify-content: space-between; }
  #content .plmp__body .plan-sale, #content .plmp__price {
    margin: 0; }
  #content .plmp__price {
    font-size: 26px;
    line-height: 26px; }
  .plmp__btn-holder {
    text-align: center;
    margin: 10px 0;
    display: inline-block;
    width: 100%; }
  #content .plmp__btn-holder .module-legal {
    text-align: center;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #d0d0d0;
    padding-top: 10px; } }

@media screen and (max-width: 400px) {
  .plmp__body-col-1 {
    width: 30%; }
  .plmp__body-col-2 {
    width: 60%; }
  #content .plmp__btn-holder .plan-choose-btn {
    width: 100%; } }

/* MODULE PROLONG */
#sec-prolong {
  padding: 40px 0; }

.prolong-form-holder {
  display: inline-block;
  margin-top: 10px; }

.prolong-input-wrapper {
  display: inline-block;
  text-align: left; }

#content .prolong-input {
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  font-size: 18px;
  padding: 7px 10px;
  display: inline-block;
  margin-right: 5px;
  width: 220px; }

.prolong-cta, .prolong-separator, #prolong-cmb {
  display: inline-block; }

#content .prolong-separator span {
  margin: 0 5px;
  color: #7c7c7c; }

.prolong-wrapper {
  text-align: center; }

#content .prolong-title {
  text-transform: initial;
  color: #262626; }

@media screen and (max-width: 850px) {
  .prolong-wrapper {
    text-align: left; }
  #content .prolong-title {
    text-transform: uppercase;
    color: #e20074; } }

@media screen and (max-width: 670px) {
  .prolong-wrapper {
    text-align: center; }
  .prolong-cta, .prolong-separator, #prolong-cmb {
    display: block; }
  .prolong-form-holder {
    margin-bottom: 10px;
    display: block; }
  #content .prolong-separator span {
    color: #383838;
    font-size: 16px; }
  .prolong-separator {
    max-width: 310px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 10px; }
  .prolong-separator .p-separator {
    background-color: #d0d0d0;
    height: 1px;
    width: 42%;
    position: absolute;
    bottom: 50%; }
  .p-separator.sl {
    left: 0; }
  .p-separator.sr {
    right: 0; }
  .prolong-cta {
    display: block; }
  #content .prolong-input {
    width: 190px; }
  .prolong-wrapper {
    padding: 0; }
  #content #module-plan-chooser .container-fixed {
    margin: 0 auto;
    padding: 0; } }

@media screen and (max-width: 330px) {
  #content .prolong-input {
    width: 170px; } }

.prolong-cta {
  display: none; }

/* MODULE PLAN CHOOSER END */
/* ===============
CSS FOR MICROSITE
=============== */
/* =============== Custom + Global =============== */
@media screen and (max-width: 960px) {
  #content .container-fixed {
    width: 98%;
    padding: 0 1%; }
  #content .responsive-image {
    max-width: 90%;
    max-height: 85%; } }

.section_happy {
  padding: 30px 0 40px 0;
  margin-bottom: 10px;
  overflow: hidden; }

.roaming-info {
  text-decoration: underline;
  cursor: pointer; }

#content .mg-top_40 {
  margin-top: 40px; }

#content .text-disc {
  color: #a4a4a4;
  font-size: 0.8em; }

#content .color_grey {
  color: #4b4b4b; }

#content .font_grey {
  color: #262626; }

#content a.modal_link {
  text-decoration: underline;
  color: #4b4b4b;
  font-size: 16px; }

#content .data-notice {
  text-align: left;
  margin-top: 10px;
  padding-left: 4px;
  font-size: 0.8em; }

#content .border-t {
  border-top: 1px solid #d0d0d0; }

#content .crossed {
  display: inline-block;
  text-decoration: line-through; }

#content .mgt-10 {
  margin-top: 10px; }

#content .no-pad {
  padding-right: 0;
  padding-left: 0; }

#content .info-link {
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline; }

#content .text-link {
  text-decoration: underline; }

#content .mb-5 {
  margin-bottom: 10px !important; }

#content .mb-10 {
  margin-bottom: 10px !important; }

#content .mb-15 {
  margin-bottom: 15px !important; }

#content .mb-20 {
  margin-bottom: 20px !important; }

#content .mt-5 {
  margin-top: 5px !important; }

#content .mt-10 {
  margin-top: 10px !important; }

#content .mt-15 {
  margin-top: 15px !important; }

#content .mt-20 {
  margin-top: 20px !important; }

/* =============== CSS FOR CUSTOM STICKY NAV =============== */
#nav-sticky-custom ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto; }

#nav-sticky-custom ul li {
  display: inline-block; }

#nav-sticky-custom {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
  text-transform: uppercase; }

#nav-sticky-custom a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px; }

#nav-sticky-custom a:hover, #nav-sticky-custom a.active {
  background-color: #fff;
  color: #e20074; }

#nav-sticky-custom li:last-child {
  float: right; }

#nav-sticky-custom li:last-child a {
  color: #7c7c7c; }

@media screen and (max-width: 960px) {
  #nav-sticky-custom ul {
    width: 100%; } }

@media screen and (max-width: 799px) {
  #nav-sticky-sticky-wrapper, #nav-sticky-custom {
    display: none; } }

/* =============== Hero =============== */
#hero {
  overflow: hidden;
  min-height: 254px;
  background: url(/documents/10179/16413160/kv_940.jpg?v=1) no-repeat 50% 50%;
  background-size: cover; }

#hero .hero__content {
  text-align: center;
  max-width: 460px; }

#hero .hero__content .link {
  text-decoration: none; }

#hero .hero__content .btn {
  display: none; }

#hero .hero__title {
  font-size: 36px;
  margin-top: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
  color: #000;
  border: 0;
  margin-bottom: 0; }

#hero .hero__title a {
  display: none; }

#hero .hero__subtitle {
  font-size: 30px;
  margin-top: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  margin: 0;
  padding: 0; }

#hero .link {
  font-size: 18px;
  font-weight: 400;
  text-decoration: underline; }

#hero .hero__link {
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline; }

#hero img:nth-of-type(2) {
  display: none; }

#hero .hero__title {
  color: #fff; }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 0px; } }

@media screen and (max-width: 768px) {
  #hero {
    background: url(/documents/10179/16413160/kv_768.jpg?v=1) no-repeat 100% 50%;
    background-size: cover; }
  #hero .hero__title {
    font-size: 32px;
    margin-top: 40px; }
  #hero .hero__subtitle {
    font-size: 24px; }
  .hero__content {
    margin-left: 20px; } }

@media screen and (max-width: 768px) and (max-width: 560px) {
  .hero__content {
    margin-left: 0px; } }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__mobile {
    background: url(/documents/10179/16413160/kv_480.jpg) no-repeat 60% 0%;
    height: 215px; }
  #hero .hero__content {
    padding: 40px 4%; }
  #hero img:nth-of-type(2) {
    display: inherit; }
  #hero img:nth-of-type(1) {
    display: none; }
  #content .hero__title, #content .hero__subtitle, #content .hero__desc {
    color: #262626;
    line-height: normal; } }

@media screen and (max-width: 320px) {
  .hero__mobile {
    background: url(/documents/10179/16413160/kv_320.jpg) no-repeat 50% 0%; } }

/* =============== Section =============== */
#content .sec__title {
  font-size: 28px;
  text-align: center;
  text-transform: uppercase; }

/* =============== Moduly =============== */
#cmb__block {
  box-sizing: border-box;
  padding: 20px 10px;
  margin-top: 35px;
  text-align: center;
  background: #cfe0ef; }

#cmb__block .cmb__title {
  font-size: 20px;
  color: #343434;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 7px;
  display: inline-block; }

#cmb__block .cmb__btn {
  margin-top: 10px; }

#content .sec_border {
  padding: 20px 0 20px 0;
  border-top: 1px solid #d0d0d0; }

/* =============== Features =============== */
#content .feature {
  /*text-align: center;*/ }

#content .feature .feat_title {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0; }

#content .feature .feat_img {
  min-height: 72px; }

@media screen and (max-width: 768px) {
  #content .feature {
    padding-bottom: 30px;
    min-height: 364px; } }

@media screen and (max-width: 420px) {
  #content .feature {
    min-height: 386px; } }

@media screen and (max-width: 325px) {
  #content .feature {
    min-height: 461px; } }

/* =============== Sec-1 =============== */
/* =============== Sec-2 =============== */
/* =============== Sec-3 Zakladne =============== */
/* =============== Sec-4 Pre Narocnych =============== */
#sec-4 .sms {
  min-height: 128px; }

@media screen and (max-width: 900px) {
  #sec-4 .program_volania {
    min-height: 363px; } }

/* =============== Sec-5 =============== */
/* =============== Sec-6 Bez viazanosti =============== */
#content .ec-holder {
  position: relative; }

#content .ec-holder img {
  position: absolute;
  right: -65px;
  top: -70px; }

#content .ec-holder img.novinka {
  position: absolute;
  right: 0;
  top: 0; }

@media (max-width: 640px) {
  #content .ec-holder img.novinka {
    width: 90px;
    height: auto;
    right: -45px;
    top: 0; } }

@media (max-width: 480px) {
  #content .ec-holder img.novinka {
    width: 90%;
    right: 0;
    top: 0; } }

@media (min-width: 768px) {
  #content .ec-holder img.novinka {
    right: -65px;
    top: 0; } }

#sec-6 {
  background-color: #ededed; }

@media (min-width: 768px) {
  .offset-md-1-5 {
    margin-left: 11.33333%; } }

@media (max-width: 560px) {
  #content .responsive-image-ec img {
    width: 30%;
    height: auto; }
  #content .ec-holder img {
    right: -34px;
    top: -70px; } }

.tab-box1 {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  display: flex; }

.tab-box {
  width: 100%;
  margin: 0 auto;
  display: flex; }

.tab-box__cover-tab1 {
  background: url("/documents/10179/16413160/bez.jpg") no-repeat 20% 50%;
  background-size: cover;
  max-width: 216px;
  width: 39%;
  float: left;
  text-align: center;
  padding: 60px 10px 30px 10px; }

.tab-box__cover-tab2 {
  background: url("/documents/10179/16413160/bez100.jpg") no-repeat 20% 50%;
  background-size: cover;
  max-width: 216px;
  width: 39%;
  float: left;
  text-align: center;
  padding: 60px 10px 30px 10px; }

.tab-box__content1 {
  border-top: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  max-width: 344px;
  background-color: #fff;
  width: 63%;
  float: right;
  padding: 30px 30px 20px 30px; }

.tab-box__content {
  background-color: #fff;
  width: 100%;
  float: right; }

#content .pbc__title {
  font-size: 32px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 32px; }

#content .pbc__sub-title {
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 32px;
  line-height: 32px; }

.tab_holder-right {
  padding: 12px 12px 25px 36px; }

.tab-font-big {
  font-size: 26px; }

.tab_title {
  padding-top: 42px; }

.tab-content p {
  margin-top: 0; }

@media screen and (max-width: 490px) {
  .tab-box {
    display: block;
    margin-bottom: 15px;
    float: left; }
  .tab-box__cover-tab1, .tab-box__cover-tab2, .tab-box__cover-tab3 {
    max-width: none;
    min-height: 190px; } }

/* =============== Sec-7 Aktualne akcie =============== */
@media screen and (max-width: 550px) {
  #content .tabs-menu {
    height: auto;
    clear: both;
    margin: 0; }
  #content .tabs-menu li {
    width: 100%;
    border: 0px; }
  #content .tabs-menu :hover {
    border-bottom: 2px solid #ededed; }
  #content .tabs-menu .current {
    border-bottom: 4px solid #6bb324; } }

#sec-7 {
  margin-bottom: 50px; }

#sec-7 h3 {
  color: #262626;
  font-size: 21px;
  text-align: center; }

#sec-7 .left-desc {
  width: 90%;
  font-size: 16px;
  text-align: center; }

#sec-7 .left-desc1 {
  color: #262626; }

#sec-7 .left-desc1 .step {
  padding-bottom: 10px; }

#sec-7 .left-desc2 {
  padding-top: 30px;
  color: #a4a4a4;
  text-transform: uppercase; }

#sec-7 .left-desc2 .step {
  padding-bottom: 30px; }

#sec-7 .note {
  font-size: 14px;
  color: #6c6c6c;
  padding-top: 10px;
  padding-left: 10px; }

@media screen and (max-width: 980px) {
  #sec-7 .left-desc {
    width: 100%; } }

.box__holder {
  overflow: hidden; }

.box__holder .box-device {
  margin-left: 5px;
  margin-bottom: 5px; }

#device-ps4_t3 img, #device-ps4_shock img {
  width: 200px; }

.waterbear-theme .device__name a {
  color: #6c6c6c; }

#content .box-device {
  max-width: 218px;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  float: left;
  color: #6c6c6c;
  height: 400px; }

#content .box-device .btn-cta {
  display: none;
  margin-top: 15px;
  margin-bottom: 15px; }

#content .box-device:hover {
  z-index: 100;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4); }

#content .box-device:hover .device__name {
  text-decoration: underline; }

#content .box-device:hover .btn-cta {
  display: block; }

#content .box-device .device__name {
  font-size: 17px; }

#content .box-device .img__holder {
  margin-top: 10px;
  position: relative;
  height: 160px; }

#content .box-device .pricing__title {
  text-align: left;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 5px; }

#content .box-device .pricing-table {
  font-size: 16px;
  text-align: left;
  width: 100%; }

#content .box-device .pricing-table td {
  padding: 0;
  padding-bottom: 5px;
  line-height: 15px; }

#content .box-device .pricing-table tr td:last-of-type {
  text-align: right; }

#content .box-device .pricing-table .magenta-text {
  color: #e20074;
  font-size: 18px; }

#content .box-device .pricing-table .strike-text {
  color: #6c6c6c;
  text-decoration: line-through; }

#content .box-device .pricing-table .first-row {
  border-bottom: 1px solid #d0d0d0; }

#content .box-device .pricing-table .second-row td {
  padding-top: 5px;
  vertical-align: text-bottom; }

#device-ps4_shock.box-device .device__name {
  font-size: 16px; }

.novinka {
  display: inline-block;
  font-size: 21px;
  font-weight: bold; }

.portlet-body .journal-content-article .tab-vianoce_content h2 {
  font-size: 26px;
  color: #262626;
  text-align: center;
  padding-bottom: 30px; }

.tab-vianoce_content.active {
  display: block; }

#content .tab-vianoce_content .cta2 {
  color: #58951c;
  background-color: #ffffff; }

#content .tab-vianoce_content .cta2:hover {
  color: #ffffff;
  background-color: #58951c; }

#content .tab-vianoce_content .popup:hover {
  color: #ffffff;
  background-color: #58951c; }

.vianocne_data .panel-left {
  font-size: 16px; }

.vianocne_data .panel-left h3 {
  font-size: 21px;
  color: #262626; }

.vianocne_data .panel-middle img {
  max-width: 440px;
  height: auto; }

.vianocne_data .panel-middle h4 {
  font-size: 17px;
  padding-top: 5px; }

.vianocne_data .panel-middle .desc {
  font-size: 14px; }

.vianocne_data .panel-middle .table {
  padding-top: 15px; }

.vianocne_data .panel-middle .objem {
  font-size: 14px; }

.vianocne_data .panel-middle .vianoce-table {
  overflow: hidden;
  margin-top: 15px; }

.vianocne_data .panel-middle .vianoce-data {
  width: 100%; }

.vianocne_data .panel-middle .vianoce-data tr {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0; }

.vianocne_data .panel-middle .vianoce-data td {
  padding-top: 5px;
  padding-bottom: 5px; }

.vianocne_data .panel-middle .vianoce-data .left {
  color: #262626; }

.vianocne_data .panel-middle .vianoce-data .right {
  text-align: right;
  color: #e20074;
  padding-right: 0; }

.vianocne_data .panel-middle .vianoce-buton-cta {
  margin-top: 10px; }

.vianocne_data .panel-middle .vianoce-wiki {
  margin-top: 10px; }

.vianocne_data .panel-right {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  float: none;
  border: 1px solid #d0d0d0; }

.vianocne_data .panel-right .desc-row1, .vianocne_data .panel-right .desc-row2 {
  font-size: 14px;
  text-align: center; }

.vianocne_data .panel-right .vianoce-hidden {
  display: block;
  padding-bottom: 10px; }

.vianocne_data .panel-right .vianoce-buton-cta {
  margin-top: 0px; }

.vianocne_data .panel-right .vianoce-buton-cta .btn {
  margin-top: 2% !important; }

.vianocne_data .panel-right h4 {
  font-size: 17px;
  color: #262626; }

.vianocne_data .panel-right .text_centered {
  padding-top: 3px; }

.vianocne_data .panel-right .panel-right-content {
  padding-top: 15px;
  padding-left: 0px;
  text-align: left; }

.vianocne_data .panel-right .objem {
  font-size: 14px; }

.vianocne_data .panel-right .vianoce-data {
  width: 100%; }

.vianocne_data .panel-right .vianoce-data tr {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0; }

.vianocne_data .panel-right .vianoce-data td {
  padding-top: 2px;
  padding-bottom: 2px; }

.vianocne_data .panel-right .vianoce-data .data-row1 {
  line-height: 14px;
  text-align: left; }

.vianocne_data .panel-right .vianoce-data .data-row2 {
  line-height: 14px;
  text-align: left; }

.vianocne_data .panel-right .vianoce-data .right {
  text-align: right;
  padding-right: 0; }

.vianocne_data .dph {
  font-size: 14px; }

.pausal_polovica .row1 {
  text-align: center;
  height: 50px; }

.pausal_polovica .row2 {
  text-align: center;
  height: 200px; }

.pausal_polovica .row2 h3 {
  font-size: 21px; }

.pausal_polovica .row1-mobile {
  display: none;
  text-align: center;
  margin-bottom: 30px; }

.pausal_polovica .row1-mobile .row-desc {
  padding-left: 20%;
  padding-right: 20%; }

.pausal_polovica .row1-mobile .sipka-dole {
  margin-top: 20px;
  margin-bottom: 20px; }

.pausal_polovica .row1-desktop {
  text-align: center;
  height: 50px; }

.pausal_polovica .row2-desktop {
  text-align: center;
  height: 200px; }

.pausal_polovica .row2-desktop h3 {
  font-size: 21px; }

@media screen and (max-width: 576px) {
  .pausal_polovica h3 {
    padding-top: 0;
    padding-bottom: 0; }
  .pausal_polovica .row1-desktop {
    display: none; }
  .pausal_polovica .row2-desktop {
    display: none; }
  .pausal_polovica .row1-mobile {
    display: block; } }

@media screen and (max-width: 450px) {
  .pausal_polovica .row1-mobile .row-desc {
    padding-left: 10%;
    padding-right: 10%; } }

@media screen and (max-width: 400px) {
  .pausal_polovica .row1-mobile .row-desc {
    padding-left: 5%;
    padding-right: 5%; } }

.pausal_polovica .row3 {
  font-size: 16px; }

.pausal_polovica .row3 .header {
  font-size: 21px;
  color: #262626;
  padding-bottom: 10px; }

.pausal_polovica .row3 .hide {
  display: none; }

.pausal_polovica .row3 .question_content_row {
  border-bottom: 1px solid #d0d0d0;
  background: none; }

.pausal_polovica .sipka {
  padding-top: 20px; }

.question {
  padding-bottom: 5px; }

a.show-hide::after {
  content: '\f105';
  font-family: FontAwesome;
  margin-left: 5px;
  color: #e20074;
  font-size: 16px; }

a.show-hide.open-down::after {
  content: '\f107'; }

/* gridFix */
@media screen and (max-width: 768px) {
  .col-sm-6 {
    width: 50%; } }

@media screen and (max-width: 550px) {
  .col-xs-12 {
    width: 100%; } }

/* V-ALIGN */
.table-container {
  display: table;
  width: 100%; }

@media screen and (max-width: 550px) {
  .table-container {
    display: block; } }

.table-container .table-row {
  height: 100%;
  display: table-row; }

@media screen and (max-width: 550px) {
  .table-container .table-row {
    display: flex;
    flex-direction: column;
    height: 100%; } }

.table-container .table-row .table-col {
  display: table-cell;
  float: none;
  vertical-align: middle;
  padding: 0;
  min-height: 120px; }

@media screen and (max-width: 550px) {
  .table-container .table-row .table-col {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: none;
    min-height: 120px; } }

@media screen and (max-width: 550px) {
  .table-container .table-row .table-col img {
    max-width: 100%;
    margin: 0 auto;
    width: 50%;
    height: 100%; } }

@media screen and (max-width: 480px) {
  .table-container .table-row .table-col {
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: none;
    min-height: 78px; } }

/* V-ALIGN END */
/* AKTUALNE AKCIE 01.2018 */
.pad0 {
  padding: 0px; }

#sec-7 .akcieBox {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  /* najlepsia siet */
  /* pausal za polovicu */
  /* 3 GB navyse */
  /* darceky k pausalom */ }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox {
    display: flex;
    flex-direction: column; } }

#sec-7 .akcieBox .akciaLeft2 {
  background: url(/documents/10179/16413160/Lenovo_940.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 42%; }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox .akciaLeft2 {
    background: url(/documents/10179/16413160/Lenovo_768.jpg) no-repeat 50% 20%;
    width: 34%; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaLeft2 {
    width: 100%;
    background: url(/documents/10179/16413160/Lenovo_480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  #sec-7 .akcieBox .akciaLeft2 {
    width: 100%;
    background: url(/documents/10179/16413160/Lenovo_480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

#sec-7 .akcieBox .akciaLeft {
  background: url(/documents/10179/16413160/bekim.jpg) no-repeat 50% 50%;
  background-size: cover;
  width: 100%; }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox .akciaLeft {
    background: url(/documents/10179/16413160/bekim_768.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaLeft {
    width: 100%;
    background: url(/documents/10179/16413160/bekim_550.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  #sec-7 .akcieBox .akciaLeft {
    width: 100%;
    background: url(/documents/10179/16413160/bekim480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

#sec-7 .akcieBox .akciaLeft3 {
  background: url(/documents/10179/16413160/50zlava940.png) no-repeat 50% 50%;
  background-size: cover;
  width: 42%; }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox .akciaLeft3 {
    background: url(/documents/10179/16413160/ZaPolovicu768.jpg) no-repeat 50% 20%;
    width: 34%;
    background-size: cover; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaLeft3 {
    width: 100%;
    background: url(/documents/10179/16413160/ZaPolovicu480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  #sec-7 .akcieBox .akciaLeft3 {
    width: 100%;
    background: url(/documents/10179/16413160/ZaPolovicu480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

#sec-7 .akcieBox .akciaLeft5 {
  background: url(/documents/10179/16413160/3gb940.png) no-repeat 50% 50%;
  background-size: cover;
  width: 100%; }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox .akciaLeft5 {
    background: url(/documents/10179/16413160/3gb768.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaLeft5 {
    width: 100%;
    background: url(/documents/10179/16413160/3gbzadarmo_480.png) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  #sec-7 .akcieBox .akciaLeft5 {
    width: 100%;
    background: url(/documents/10179/16413160/3gbzadarmo_480.png) no-repeat 50% 50%;
    background-size: cover; } }

#sec-7 .akcieBox .akciaLeft6 {
  background: url(/documents/10179/16413160/darcek940.png) no-repeat 50% 50%;
  background-size: cover;
  width: 100%; }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox .akciaLeft6 {
    background: url(/documents/10179/16413160/darceky768.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaLeft6 {
    width: 100%;
    background: url(/documents/10179/16413160/Lenovo_480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  #sec-7 .akcieBox .akciaLeft6 {
    width: 100%;
    background: url(/documents/10179/16413160/Lenovo_480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaRight {
    order: 1; } }

#sec-7 .akcieBox .akciaRight .rightWrapper {
  padding: 40px 20px; }

@media screen and (max-width: 850px) {
  #sec-7 .akcieBox .akciaRight .rightWrapper {
    padding: 4%; } }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox .akciaRight .rightWrapper {
    padding: 20px; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaRight .rightWrapper {
    text-align: center; } }

#sec-7 .akcieBox .akciaRight .rightWrapper h3.akciaHeadline {
  text-align: left;
  margin-top: 0; }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 20px; } }

#sec-7 .akcieBox .akciaRight .rightWrapper .btnodporucit {
  margin-top: 15px; }

#sec-7 .akcieBox .akciaRight .rightWrapper .magentaBold {
  color: #e20074;
  margin-top: 0;
  margin: 0px; }

#sec-7 .akcieBox .akciaRight .rightWrapper .akciaSteps {
  margin-bottom: 0px;
  line-height: 18px; }

#sec-7 .akcieBox .akciaRight .stepwrapper {
  margin: 23px 0px;
  display: inline-block;
  justify-content: center; }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaRight .stepwrapper {
    align-items: center;
    flex-direction: column; } }

#sec-7 .akcieBox .akciaRight .step {
  display: inline-block;
  width: 43%;
  text-align: center;
  margin: 10px 0;
  vertical-align: top; }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaRight .step {
    width: auto; } }

#sec-7 .akcieBox .akciaRight .step img {
  max-width: 23%; }

#sec-7 .akcieBox .akciaRight .stepArrow {
  display: inline-block;
  width: 10%;
  position: relative;
  top: 33px;
  left: -27px; }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaRight .stepArrow {
    width: 24%;
    top: 0px;
    left: 0px;
    text-align: center;
    margin: 20px auto;
    display: block; } }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaRight .stepArrow .arrowDefault {
    display: none; } }

#sec-7 .akcieBox .akciaRight .stepArrow .arrowDwn {
  display: none; }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox .akciaRight .stepArrow .arrowDwn {
    display: block;
    width: 30%; } }

#sec-7 .akcieBox2 {
  padding: 0px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  /* AKCIA 3 */
  /* AKCIA 2 */ }

#sec-7 .akcieBox2 .akciaLeft3 {
  display: block;
  width: 100%;
  min-height: 260px;
  background: url(/documents/10179/16413160/Lenovo_desktop.jpg) no-repeat 50% 50%;
  background-size: cover; }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox2 .akciaLeft3 {
    width: 100%;
    min-height: 120px;
    background: url(/documents/10179/16413160/Lenovo_480.jpg) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  #sec-7 .akcieBox2 .akciaLeft3 {
    width: 100%;
    background: url(/documents/10179/16413160/Lenovo_480.jpg) no-repeat 50% 50%;
    background-size: cover;
    min-height: 78px; } }

#sec-7 .akcieBox2 .akciaLeft2 {
  display: block;
  width: 100%;
  background: url(/documents/10179/16413160/3gbzadarmo_480.png) no-repeat 50% 50%;
  background-size: cover; }

@media screen and (max-width: 550px) {
  #sec-7 .akcieBox2 .akciaLeft2 {
    width: 100%;
    background: url(/documents/10179/16413160/3gbzadarmo_480.png) no-repeat 50% 50%;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  #sec-7 .akcieBox2 .akciaLeft2 {
    width: 100%;
    background: url(/documents/10179/16413160/3gbzadarmo_480.png) no-repeat 50% 50%;
    background-size: cover; } }

#sec-7 .akcieBox2 .akciaRight .rightWrapper {
  padding: 30px 20px; }

@media screen and (max-width: 850px) {
  #sec-7 .akcieBox2 .akciaRight .rightWrapper {
    padding: 4%; } }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox2 .akciaRight .rightWrapper {
    padding: 20px; } }

#sec-7 .akcieBox2 .akciaRight .rightWrapper h3.akciaHeadline {
  text-align: left;
  margin-top: 0; }

@media screen and (max-width: 768px) {
  #sec-7 .akcieBox2 .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 20px; } }

#sec-7 .akcieBox2 .akciaRight .rightWrapper .btnodporucit {
  margin-top: 15px; }

#sec-7 .akcieBox2 .akciaRight .rightWrapper .magentaBold {
  color: #e20074;
  margin-top: 0; }

#sec-7 .akcieBox2 .akciaRight .rightWrapper .akciaSteps {
  margin-bottom: 0px; }

/* AKTUALNE AKCIE 01.2018 */
/* =============== Module: Aktualne akcie =============== */
.box-6 {
  margin-top: 0;
  padding: 19px;
  border: 1px solid #d0d0d0;
  background: #fff;
  min-height: 100%; }

#content .box-01 {
  width: 100%;
  background: url("/documents/10179/16413160/box-data.jpg") no-repeat 50% 50%;
  background-size: cover !important;
  padding: 40px 20px 15px 20px; }

#content .box-01 .box-01_disc {
  margin-top: 20px; }

#content .box-02a .box-title {
  font-size: 28px;
  text-transform: uppercase; }

#mod-akcie .box-02a {
  padding: 0 0 0 19px;
  overflow: hidden;
  display: flex; }

@media screen and (max-width: 340px) {
  #mod-akcie .box-02a {
    padding: 0 10px 0 10px;
    overflow: hidden;
    display: flex; } }

#mod-akcie .box-02b {
  min-height: 307px; }

#mod-akcie .box-02a .box-02_inner {
  margin-top: 20px;
  margin-bottom: 20px; }

#mod-akcie .box-02a .box-02_img {
  overflow: hidden;
  background: url("/documents/10179/16413160/banner_300px.jpg") no-repeat 100% 50%;
  background-size: contain; }

#mod-akcie .box-02a .responsive-image {
  visibility: hidden; }

#content .main-box-title, #content .main-box-desc {
  color: #fff; }

@media screen and (max-width: 890px) {
  #content .custom-1, #content .custom-2, #content .custom-2 .box-02b {
    width: 100%; } }

@media screen and (max-width: 760px) {
  #mod-akcie .box-02 {
    background: inherit;
    background-color: #fff; }
  #mod-akcie .box-4 {
    margin-right: inherit; }
  #mod-akcie .box-5 {
    margin-right: 0;
    border-right: none; }
  #mod-akcie .box-4, #mod-akcie .box-5, #mod-akcie .box-6 {
    margin-top: 0;
    padding: 19px;
    border: 1px solid #d0d0d0;
    background: #fff;
    min-height: 100%; } }

@media screen and (max-width: 730px) {
  #mod-akcie .box-02 img {
    display: block;
    margin: 0 auto 20px auto !important; }
  #mod-akcie .box-02 {
    padding: 0 20px; } }

@media screen and (max-width: 700px) {
  #mod-akcie .box-4 .left-holder {
    display: none; }
  #mod-akcie .box-4 .right-holder {
    width: 100%; }
  #content .box-01 {
    background: url("/documents/10179/16413160/box-data.jpg") no-repeat 0% 50%; } }

@media screen and (max-width: 540px) {
  .custom-1 .box-02_img {
    display: none; } }

@media screen and (max-width: 500px) {
  #mod-akcie .main-box-title {
    font-size: 29px; }
  #mod-akcie .box-4 {
    width: 100%; }
  #mod-akcie .box-5 {
    width: 100%;
    padding-left: 19px; } }

@media screen and (max-width: 420px) {
  #mod-akcie .box-3 {
    background: transparent;
    min-height: auto; }
  #mod-akcie .box-3 .text__holder {
    width: 100%; } }

/* =============== Sec-8 Doplnkové služby =============== */
#sec-8 .sec_border {
  padding: 20px 0 20px 0;
  border-top: 1px solid #d0d0d0; }

#sec-8 .title__holder h3 {
  color: #4b4b4b; }

#sec-8 .title__holder h3.font_magenta {
  color: #e20074; }

#sec-8 .activ__text {
  font-size: 16px;
  font-weight: bold; }

#sec-8 .magenta-talk {
  position: relative; }

#sec-8 .magenta-talk .c-tile-order {
  margin-top: 8px; }

#sec-8 .magenta-talk .c-tile-order span {
  font-weight: bold; }

#sec-8 .magenta-talk .c-tile-order a {
  text-decoration: underline;
  color: #007faf; }

#sec-8 .magenta-talk img {
  width: auto;
  max-width: 50px;
  height: auto; }

.ec-beta {
  position: absolute;
  top: -17px;
  right: 0; }

/* =============== Sec-9 Dátové doplnkové balíky =============== */
#sec-9 {
  background-color: #ededed; }

/* =============== Sec-10 Mohlo by vás zaujímať =============== */
/* =============== Sec-11 Legal =============== */
.legal__holder {
  text-align: left;
  padding-bottom: 30px; }

.legal__holder:first-child {
  padding-top: 20px;
  border-top: 1px solid #d0d0d0; }

#happy-legal {
  padding-top: 10px; }

.happy-legal {
  display: inline-block;
  font-size: 0.9em; }

.happy-legal-content {
  display: none;
  padding-bottom: 10px; }

.happy-legal-cennik {
  padding-top: 20px;
  font-size: 16px; }

.note-legal-bold {
  font-weight: bold; }

/* =============== Tooltips =============== */
.tooltip .qtip-content {
  font-size: 16px;
  line-height: 19px; }

.tooltip-info {
  text-decoration: underline;
  cursor: pointer; }

.tag-left {
  text-align: left; }

/* datovy slider */
#content .taby2-content {
  display: none; }

#content .taby2-content.active {
  display: block; }

#content .btn {
  text-align: center; }

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none; }

#content a.toggle-arrow .arrow-right {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: baseline;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent #007faf;
  transition: all 300ms; }

#content a.toggle-arrow:hover, #content a.toggle-arrow:hover span.arrow-right {
  color: #00668d;
  text-decoration: none;
  border-color: transparent transparent transparent #00668d; }

#content .arrow-content {
  display: none; }

#content .arrow-rotate {
  transform: rotate(90deg); }

/* TOGGLE ARROW END */
.arrow-content ol {
  margin: 0 0 0 17px; }

.arrow-content ol p {
  margin-bottom: 0px; }

/* TABS */
#content .tabs-container ul {
  list-style: none; }

#content .tabs-container .tab-link {
  cursor: pointer; }

.tab__holder {
  text-align: center;
  line-height: 0; }

.segment .tab__holder {
  text-align: left; }

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block; }

#content .segment .tabs-menu {
  height: 39px; }

#content .segment .tabs-menu li.variant:hover {
  height: 39px; }

#content .segment .tabs-menu li a {
  padding: 0 20px; }

#content .segment .tabs-menu li:hover {
  border-bottom: 0px;
  background-color: #ededed; }

#content .segment .tabs-menu .variant.current {
  background-color: #fff;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
  border-radius: 3px 3px 0 0px; }

#content .segment .tabs-menu .variant.current a {
  color: #757575; }

#content .segment .tabs-menu .variant.current:hover {
  background-color: #fff;
  height: 40px; }

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left; }

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed; }

.tabs-menu li a {
  font-size: 1em;
  padding: 0 17px;
  color: #757575;
  text-decoration: none;
  display: inline-block; }

.tabs-menu li a:hover {
  color: #383838; }

.tabs-menu .current a {
  color: #6bb324; }

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%; }

.segment .tab {
  border: none; }

.tab__variant {
  display: none; }

.tab__variant.selected {
  display: block; }

.tab-content {
  margin-top: 45px;
  display: none; }

.segment .tab-content {
  padding-top: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2; }

#tab-1 {
  display: block; }

@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%; }
  .tabs-menu li:hover {
    border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0; }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu {
    height: auto; }
  .tab {
    border: 0; }
  .tabs-menu li a {
    padding: 0;
    display: block; } }

/* TABS END */
/****************************************/
/* ACCORDION */
/****************************************/
.accordion {
  display: none; }

@media screen and (max-width: 550px) {
  .tabs-container .tab__holder, .tabs-container .tab {
    display: none; }
  .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px;
    padding: 0% 2%; }
  .accordion .item .heading {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background: url("/documents/10179/16413160/ico-plus.png") no-repeat;
    background-position: right center;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    font-weight: 500;
    text-align: left; }
  .accordion .item .heading .ac-price {
    color: #a4a4a4;
    font-weight: normal; }
  .accordion .item.open .heading {
    background: url("/documents/10179/16413160/ico-minus.png") no-repeat;
    background-position: right center; }
  .accordion .item.open .content {
    display: block; }
  .accordion .content {
    display: none;
    padding-bottom: 15px; }
  .accordion .content:after {
    content: "";
    display: table;
    clear: both; }
  .accordion .p-detail p {
    margin-top: 0; }
  .accordion .p-detail p.mb-10 {
    margin-bottom: 10px;
    text-align: left; }
  .accordion .p-actions {
    width: 100%; }
  .accordion .p-actions .btn {
    margin: 5px 0px;
    width: 100%; }
  .accordion .p-price-label {
    text-align: left; }
  .accordion .p-price-label .p-price {
    font-size: 20px;
    color: #e20074; } }

/* FIXES for HAPPY web */
@media screen and (max-width: 500px) {
  .datoveBaliky .tabs-container .tab {
    display: inline-block !important; } }

@media screen and (max-width: 500px) {
  .bezViazanosti .tabs-container .tab__holder {
    display: none; }
  .bezViazanosti .tabs-container .tab .tab-content {
    display: block; }
  .bezViazanosti .tabs-container .tab__holder .tabs-container .tab {
    display: inline-block !important; } }
