<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <img src="../assets/img/ec-hero_v3.png" alt="">
            <h1 class="hero__title"><b>súkromný<br/>koncert!</b><br/>Zapoj sa do súťaže<br/>so Speasy balíčkom<br/>a vyhraj.</h1>
            <a class="btn cta" href="/volania/easy/kniha-spirit/mam-zaujem">CHCEM VYHRAŤ</a><br />
            <a href="#sec-contest" class="link scroll-to">Viac info o súťaži</a>
        </div>
    </div>
</section>

<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <h2 class="sec__title">LIMITOVANÉ BALÍČEK S DARČEKMI OBSAHUJE:</h2>

        <div class="row">
            <div class="col-md-4 item">
                <img src="../assets/img/item-1.jpg" alt="">
                <p class="item__title">Štýlové vrecúško Speasy</p>
                <p class="item__desc">Získaj vrecúško s unikátnou potlačou Majka Spirita v limitovanej edícii!</p>
            </div>

            <div class="col-md-4 item">
                <img src="../assets/img/item-2.jpg" alt="">
                <p class="item__title">Chalan, ktorý vynašiel Spirita, aby inšpiroval</p>
                <p class="item__desc">Životopis výnimočného rapera Majka Spirita. Spoznaj jeho príbeh a zisti, ako sa z obyčajného Miša Dušičku stala hviezda rapovej scény a idol mladej generácie.</p>
            </div>

            <div class="col-md-4 item">
                <img src="../assets/img/item-3.jpg" alt="">
                <p class="item__title">Easy karta bez záväzkov s kreditom 9 €</p>
                <p class="item__desc">Súčasťou balíčka je aj Easy karta, s volaniami, SMS-kami a internetom bez záväzkov a nečakaných faktúr, so štartovacím kreditom 9 €.</p>
            </div>
        </div>
    </div>
</section>

<section id="sec-contest" class="section sec-contest">
    <div class="fixed-column">
        <div class="col-md-5 pack-holder">
            <img src="../assets/img/a3.png" alt="">
        </div>
        <div class="col-md-7 pack-content">
            <p class="comp__title">Špeciálna akcia. Kniha Majka Spirita zadarmo ku každému Samsungu Galaxy A3.</p>
            <p class="comp__desc">Získaj teraz knihu Majka Spirita zadarmo a možnosť vyhrať lístky na jeho súkromný koncert. Stačí, ak si na jednej z predajní kúpiš Samsung Galaxy A3, Speezy balíček môžeš získať zadarmo a zároveň si v hre o súkromný koncert Majka Spirita.</p>
            <a href="#stores" class="link link_white fancy">Pozrieť zoznam predajní</a>
        </div>
    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="fixed-column">
        <div class="folder">
            <div class="folder__body">
                <div class="col-md-8">
                    <div class="pack">
                        <p class="pack__title">Limitovaný balíček obsahuje:</p>
                        <p class="pack__item">Knihu: Chalan, ktorý vynašiel Spirita aby inšpiroval</p>
                        <p class="pack__item">Easy karta so štartovacím kreditom 9 €</p>
                        <p class="pack__item">štýlové vrecúško Speasy</p>
                        <p class="pack__item"><span class="magenta"><b>Navyše si v hre o súkromný koncert Majka Spirita!</b></span></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="price">9,99 €<br/><span class="method">jednorazovo</span><span class="vat"> s DPH</span></p>
                    <p class="more-info">Pozor! Zásielku neposielame kuriérom, dá sa vyzdvihnúť len osobne v niektorej z vybraných predajní</p>
                    <a href="#stores" class="link fancy">Pozrieť zoznam predajní</a><br/>
                    <a href="/volania/easy/kniha-spirit/mam-zaujem" class="btn cta">KÚPIŤ BALÍČEK</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="sec-3" class="section sec-3">
    <div class="fixed-column">
        <img src="../assets/img/title.png" class="custom-title" alt="">
        <img src="../assets/img/ec.png" class="custom-ec" alt="">
        <a href="http://www.instragram.com/easykarta" target="_blank" class="btn cta custom-cta"><i class="fa fa-instagram" aria-hidden="true"></i>VIAC NA INSTAGRAME</a>

    </div>
</section> -->

<div id="stores">
    <h3 class="fancy-title">ZOZNAM VYBRANÝCH PREDAJNÍ</h3>
    <div class="row">
        <div class="col-md-12 city">Bratislava</div>
    </div>
    <div class="row">
        <div class="col-md-6">Aupark, Einsteinova 18,</div>
        <div class="col-md-6">po–pia: 09.30 – 21.00<br/>so–ne: 09.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-6">Avion, Ivánska cesta 12,</div>
        <div class="col-md-6">po–ne: 10.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-6">Central, Metodova 6,</div>
        <div class="col-md-6">po–ne: 10.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-6">Eurovea, Pribinova 10,</div>
        <div class="col-md-6">po–ne: 10.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-6">Polus City Center, Vajnroská 100/A,</div>
        <div class="col-md-6">so–ne: 09.30 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-6">Telekom Forum, Bajkalská 28,</div>
        <div class="col-md-6">po–ne: 09.00 – 17.00</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Banská Bystrica</div>
    </div>
    <div class="row">
        <div class="col-md-6">Europa, Na troskách 25,</div>
        <div class="col-md-6">po–ne: 09.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Košice</div>
    </div>
    <div class="row">
        <div class="col-md-6">Aupark, Nám. osloboditeľov 1,</div>
        <div class="col-md-6">po–ne: 09.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-6">Optima, Moldavská cesta 32,</div>
        <div class="col-md-6">po–ne: 09.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Martin</div>
    </div>
    <div class="row">
        <div class="col-md-6">Telekom, M. R. Štefánika 42,</div>
        <div class="col-md-6">po–pia: 09.00 – 18.00<br/>so:       09.00 – 12.00</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Poprad</div>
    </div>
    <div class="row">
        <div class="col-md-6">Telekom, Nám. Sv. Egídia 3643,</div>
        <div class="col-md-6">po–pia: 08.30 – 17.00</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Prešov</div>
    </div>
    <div class="row">
        <div class="col-md-6">OC Max, Vihorlatské 2/A,</div>
        <div class="col-md-6">po–ne: 09.00 – 20.30</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Trenčín</div>
    </div>
    <div class="row">
        <div class="col-md-6">Max, Gener. M. R. Štefánika 42,</div>
        <div class="col-md-6">po–ne: 09.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Trnava</div>
    </div>
    <div class="row">
        <div class="col-md-6">OC, City Arena, Kollárova 20,</div>
        <div class="col-md-6">po–ne: 09.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-12 city">Žilina</div>
    </div>
    <div class="row">
        <div class="col-md-6">Aupark, Veľká okružná 59A,</div>
        <div class="col-md-6">po–ne: 09.00 – 21.00</div>
    </div>
    <div class="row">
        <div class="col-md-6">Dubeň, Vysokoškolákov 52,</div>
        <div class="col-md-6">po–ne: 08.30 – 20.00</div>
    </div>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>
