<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile">
            <!-- <img id="naj_znacka_m" class="icon-ec" src="../assets/img/naj_znacka_mobil.png" /> -->
        </div>
        <div class="hero__content">
            <h1 class="hero__title">
                <b>MAGIO TELEVÍZIA</b><br />
                S NOTEBOOKOM ALEBO TV<br />
                LEN ZA 8 € MESAČNE
            </h1>
            <p class="hero__desc">
                <a class="btn cta scroll-to" style="margin-bottom: 5px" href="#sec-1">VYBRAŤ SI ZARIADENIE</a>
                <a class="link-nordr scroll-to" href="#sec-3">Pozrieť viac o Magio televízii</a>
            </p>
            <!-- <img id="naj_znacka" style="margin-top: 15px" class="icon-ec" src="../assets/img/naj_znacka.png" /> -->
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">Magio TV</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">Výhody</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">TV Stanice</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">Zariadenia</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">Aktuálne akcie</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section" id="sec-1">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="sec__title" id="-0">
                    SLUŽBY A CENY MAGIO TELEVÍZIE</h2>
                <a class="link" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Chcem predĺžiť svoj program</a>
                <div class="strike-through">
                    &nbsp;</div>
                <p class="striked-text">
                    alebo</p>
                <a class="ttp" href="#" id="info-tvDostupnost">CHCEM NOVÚ TELEVÍZIU PODĽA DOSTUPNEJ TECHNOLÓGIE<img
                        alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 2px;" /></a>
                <!-- loading squares start -->
                <div class="ajaxLoadingSpinnerOverlay" id="ajaxLoading-AjaxLoader_assetsListGlobal"
                    style="height: 40px; margin-top: 10px; margin-bottom: 10px;">
                    <span class="square"></span> <span class="square"></span> <span class="square"></span></div>
                <!-- loading squares end --><a class="btn cta_mag btnmag confirmation-btn dostupnostPopup"
                    href="#availability">OVERIŤ DOSTUPNOSŤ NA MOJEJ ADRESE</a>
                <!-- <div class="commitbox">
              <p>Na overenej adrese sú dostupné iba služby Magio SAT.</p>
            </div> -->
                <!-- <div class"col-md-12" id="availability-module">
                <div class="module-wrapper">
                    <p class="search-title">
                        Overte si dostupnosť vo Vašej lokalite:</p>
                    <div class="availability">
                        <form id="city-form">
                            <input class="city-input" name="searchTermValue" placeholder="Obec"/>
                            <div class="results">
                                <ul class="city-form__result_list">
                                </ul>
                            </div>
                        </form>
                        <form id="street-form">
                            <input class="street-input" disabled="disabled" name="searchTermValue" placeholder="Ulica"/>
                            <div class="results">
                                <ul class="street-form__result_list">
                                </ul>
                            </div>
                        </form>
                        <form id="number-form">
                            <input class="number-input" disabled="disabled" name="number" placeholder="Číslo"/>
                            <div class="results">
                                <ul class="number-form__result_list">
                                </ul>
                            </div>
                        </form>
                        <button class="sendReq">Overiť</button>
                        <div class="msg-holder">
                            <p class="error-msg">
                                &nbsp;</p>
                            <p class="info-msg">
                                &nbsp;</p>
                        </div>
                    </div>
                    <div class="map-holder">
                        <div id="main-ins">
                            <div class="box" style="display: block;">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
                <!-- fancybox NENAJDENA SLUZBA -->
                <div id="not-found" style="display: none;">
                    <div class="not-found-form">
                        <div class="p-head">
                            <div class="p-close">
                                &nbsp;</div>
                        </div>
                        <div class="p-content">
                            <h3>
                                Ulicu, ktorú ste zadali neevidujeme.<br />
                                Vyplňte, prosím, nasledujúce údaje.</h3>
                            <div class="popup-lightbox">
                                <div class="services">
                                    <div class="services-header">
                                        Označte prosím služby o ktoré máte záujem</div>
                                    <div class="services-checkbox">
                                        <form>
                                            <input id="nf-internet" name="addName" type="checkbox" value="Internet" />
                                            Internet<br />
                                            <input id="nf-tv" name="addName" type="checkbox" value="Televízia" />
                                            Televízia<br />
                                            <input id="nf-pevna" name="addName" type="checkbox" value="Pevná linka" />
                                            Pevná linka</form>
                                    </div>
                                </div>
                                <div class="nf-phone">
                                    <label class="input-label" for="phone">Zadajte, prosím, telefónne číslo, budeme vás
                                        kontaktovať</label><br />
                                    <input class="input" id="nf-phone" type="text" /></div>
                                <div class="nf-button">
                                    <a class="btn cta" href="#" id="not-found-send">Odoslať</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="not-found-success">
                        <div class="p-head">
                            <div class="p-close">
                                &nbsp;</div>
                        </div>
                        <div class="p-content">
                            <h3>
                                Ďakujeme za odoslanie,<br />
                                budeme vás kontaktovať<br />
                                do 3 pracovných dní.</h3>
                        </div>
                    </div>
                </div>
                <!-- Fancybox nenajdena sluzba END -->
            </div>
        </div>
        <!-- <div class="row hidden">
          <div class="col-md-12">
            <div class="confirmed clearfix">
              <div class="col-md-4">
                <a class="btn btn_outline" href="#">CHCEM PREDĹŽIŤ SVOJ PROGRAM</a>
              </div>
              <div class="col-md-2 vcentering">
                <div class="strike-through"></div>
                <p class="striked-text text-center">alebo</p>
              </div>
              <div class="col-md-6 vcentering">
                <a class="ttp" href="#" id="after-confirmation">CHCEM NOVÚ TELEVÍZIU PODĽA DOSTUPNEJ TECHNOLÓGIE<img alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;"></a>
              </div>
            </div>
          </div>
          <h2 class="sec__title confirmed-headline" id="-0">DOSTUPNÉ TELEVÍZIE NA VAŠEJ ADRESE</h2>
          <a class="fa-icon " href="#"><i class="fa fa-refresh" aria-hidden="true"></i> Zmeniť adresu</a>
          <a class="fa-icon " href="#">| <i class="fa fa-trash-o" aria-hidden="true"></i> Zmazať filter – ukázať celú ponuku</a>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="reset-confirm hidden">
                    <a class="fa-icon zmenit-adresu dostupnostPopup" href="#availability">Zmeniť adresu</a> <a
                        class="fa-icon filter zmazat-filter" href="#">| Zmazať filter – ukázať celú ponuku</a></div>
                <p class="showtv-p">
                    Zobraziť televíziu</p>
                <form id="secondaryRadio">
                    <div class="secondaryRadio">
                        <input checked="checked" id="check-1" name="rb-pair" type="radio" /> <label for="check-1">CEZ
                            KÁBEL</label> <input id="check-2" name="rb-pair" type="radio" /> <label for="check-2">CEZ
                            SATELIT</label></div>
                </form>
                <div class="col-md-12 details">
                    <div class="row">
                        <div class="details-head clearfix">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                Cena mesačne</div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                Počet TV staníc</div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                Výhody</div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                &nbsp;</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="detailHolder" id="check-1">
                            <!-- get from JSON <div class="detail-wrapper-mobile"> <div class="detail-wrapper"> -->
                            <!-- <div class="detail-wrapper-mobile">
                  <div class="left-mobile">
                    <p class="detailHeading-stanice">až 61 staníc</p>
                    <img src="../assets/img/stanice1.png" alt="">
                  </div>
                  <div class="right-mobile">
                    <p class="detailHeading">Magio televízia M</p>
                    <div class="popis-wrap">
                      <p class="detail-popis">▪ vybrané stanice v HD kvalite</p>
                      <p class="detail-popis">▪ pre 3 televízory, mobil, tablet</p>
                      <a class="arrowBtn" href="">></a>
                    </div>
                    <div class="priceinfo">
                      <div class="price-left">
                        <p class="price-mesacne">Mesačne</p>
                        <p class="price-zlava">2. a 3. mes. s web zľavou</p>
                        <p class="price-zvysne">Zvyšné mesiace</p>
                      </div>
                      <div class="price-right">
                        <p></p>
                        <p class="price-mesacne-zlava">5,00 €</p>
                        <p class="price-zvysnemesiace">10,00 €</p>
                      </div>
                    </div>
                      <a href="" class="btn cta">PREJSŤ K NÁKUPU</a>
                  </div>
                </div> -->
                            <!-- 1 -->
                            <!-- <div class="detail-wrapper">
                  <div class="col-md-3 text-center separator-right">
                    <p class="detailHeading">MAGIO TELEVÍZIA M</p>
                    <p class="detailPrice">10,00 €</p><img class="discount" src="../assets/img/discount10.png" alt="">
                  </div>

                  <div class="col-md-2 text-center separator-right">
                    <p class="detailHeading-stanice">až 61 staníc</p>
                    <img src="../assets/img/stanice1.png" alt="">
                  </div>

                  <div class="col-md-3 text-center separator-right">
                    <div class="popis-wrap">
                      <p class="detail-popis">▪ vybrané stanice v HD kvalite</p>
                      <p class="detail-popis">▪ pre 3 televízory, mobil, tablet</p>
                      <p class="detail-popis">▪ nahrávanie, zastavenie</p>
                    </div>
                  </div>

                  <div class="col-md-4 text-right">
                    <div class="cta-wrap">
                      <div><a href="#" class="btn cta btnmag">PREJSŤ K NÁKUPU</a></div>
                      <div><a class="link" href="#">Zobraziť detail</a></div>
                    </div>
                  </div>
                </div> -->
                            <!-- 2 -->
                            <!-- <div class="detail-wrapper">
                  <p class="ribbon">OBĽÚBENÁ TV</p>
                  <div class="col-md-3 text-center separator-right">
                    <p class="detailHeading">MAGIO TELEVÍZIA M</p>
                    <p class="detailPrice">10,00 €</p><img class="discount" src="../assets/img/discount10.png" alt="">
                  </div>

                  <div class="col-md-2 text-center separator-right">
                    <p class="detailHeading-stanice">až 61 staníc</p>
                    <img src="../assets/img/stanice1.png" alt="">
                  </div>

                  <div class="col-md-3 text-center separator-right">
                    <div class="popis-wrap">
                      <p class="detail-popis">▪ vybrané stanice v HD kvalite</p>
                      <p class="detail-popis">▪ pre 3 televízory, mobil, tablet</p>
                      <p class="detail-popis">▪ nahrávanie, zastavenie</p>
                    </div>
                  </div>

                  <div class="col-md-4 text-right">
                    <div class="cta-wrap">
                      <div><a href="#" class="btn cta btnmag">PREJSŤ K NÁKUPU</a></div>
                      <div><a class="link" href="#">Zobraziť detail</a></div>
                    </div>
                  </div>
                </div> -->
                            <!-- 3 -->
                            <!-- <div class="detail-wrapper">
                  <div class="col-md-3 text-center separator-right">
                    <p class="detailHeading">MAGIO TELEVÍZIA M</p>
                    <p class="detailPrice">10,00 €</p><img class="discount" src="../assets/img/discount10.png" alt="">
                  </div>

                  <div class="col-md-2 text-center separator-right">
                    <p class="detailHeading-stanice">až 61 staníc</p>
                    <img src="../assets/img/stanice1.png" alt="">
                  </div>

                  <div class="col-md-3 text-center separator-right">
                    <div class="popis-wrap">
                      <p class="detail-popis">▪ vybrané stanice v HD kvalite</p>
                      <p class="detail-popis">▪ pre 3 televízory, mobil, tablet</p>
                      <p class="detail-popis">▪ nahrávanie, zastavenie</p>
                    </div>
                  </div>

                  <div class="col-md-4 text-right">
                    <div class="cta-wrap">
                      <div><a href="#" class="btn cta btnmag">PREJSŤ K NÁKUPU</a></div>
                      <div><a class="link" href="#">Zobraziť detail</a></div>
                    </div>
                  </div>
                </div> -->
                        </div>
                        <div class="detailHolder" id="check-2" style="display: none;">
                            <!-- get from JSON <div class="detail-wrapper-mobile"> <div class="detail-wrapper"> -->
                        </div>
                        <!-- TIP -->
                        <div class="tipCmb-wrapper">
                            <div class="tip">
                                <p>
                                    <b>Náš tip na výhodný balík:</b> vezmite si k televízii aj internet a ušetriť môžete
                                    až 8 € mesačne: Magio televízia XL + internet XL = <span class="strike-center">41,80
                                        €</span> 33,20 €</p>
                            </div>
                            <div id="cmb__holder">
                                <div class="cmbbox cmb__area" id="cmb__block">
                                    <p>
                                        Poradíme vám?</p>
                                    <a class="btn cta_mag" href="" id="cmb__btn">ÁNO, ZAVOLAJTE MI SPÄŤ</a>
                                </div>
                            </div>
                        </div>
                        <!-- AKTUALNE AKCIE SEC-5 -->
                        <!-- <section id="sec-5" class="section">
              <div class="container-fixed">
                <h2 class="sec__title text-center" id="-0">AKTUÁLNE AKCIE</h2>
                <div class="row">
                  <div class="col-md-4 col-sm-4">
                    <div class="akcie-box1">
                      <img src="../assets/img/akcie_box1.png" alt="">
                      <div class="text-wrap">
                        <p class="title">My ceny nezvyšujeme.</br>Stojíte nám za to!</p>
                        <p><b>S Magio Televíziou vás naďalej čakajú kvalitné služby za nezmenenú cenu</b> počas celého tohto roka*.</p>
                        <p>Navyše do konca augusta máme zadarmo pre všetkých detský kanál ŤUKI TV a športové kanály Digi Sport v HD kvalite.</p>
                        <p class="link-nordr">*Poznámka</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="akcie-box2">
                      <img src="../assets/img/akcie_box2.png" alt="">
                      <div class="text-wrap">
                        <p class="title">Získajte Notebook alebo PC</br> už od 1 €!</p>
                        <p>K Magio televízii L alebo XL.</p>
                      </div>
                      <a href="#" class="btn cta">PREJSŤ K NÁKUPU</a></br>
                      <a href="#" class="btn btn_outline">VIAC O AKCII</a>
                    </div>
                    <div class="akcie-box3">
                      <div class="text-wrap">
                        <p class="title">Získajte  viac za menej!</p>
                        <p>Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
                        <p class="link">Zistiť viac o akcii</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                    <div class="akcie-box4">
                      <img src="../assets/img/akcie_box4.png" alt="">
                      <img class="wording" src="../assets/img/got_wording.png" alt="">
                      <div class="text-wrap">
                        <p class="title">Sledujte premiérové epizódy</br>seriálu Hra o Tróny na Magio TV!</p>
                        <p>S balíkom programov HBO a Cinemax</p>
                      </div>
                      <a href="#" class="btn btn_outline">VIAC INFORMÁCIÍ</a>
                    </div>
                  </div>
                </div>
              </div>
            </section> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TABS -->
<section class="section default" data-segment="1" id="sec-2" style="background-color: white;">
    <div class="container-fixed">
        <h2 class="sec__title text-center" id="-0">
            VÝHODY MAGIO TELEVÍZIE</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="tabs-container">
                    <div class="tab__holder">
                        <!-- TABS MENU -->
                        <ul class="tabs-menu">
                            <li class="variant current" data-variant="4">
                                <a href="#tab-4">Magio archív</a></li>
                            <li class="variant" data-variant="5">
                                <a href="#tab-5">Televízia v mobile</a></li>
                            <li class="variant" data-variant="6">
                                <a href="#tab-6">Funkcie</a></li>
                            <li class="variant" data-variant="7">
                                <a href="#tab-7">Ovládanie</a></li>
                            <li class="variant" data-variant="8">
                                <a href="#tab-8">Výhody</a></li>
                        </ul>
                    </div>
                    <div class="tab">
                        <!-- Tab 1 -->
                        <div class="tab-content clearfix" id="tab-4" style="display: block;">
                            <div class="tab-box">
                                <div class="tab-box__content table-container">
                                    <div class="col-xs-12 col-md-12 table-row">
                                        <div class="col-md-7 col-sm-7 col-xs-12 orderTabLeft table-col">
                                            <p>
                                                <b>Pozerajte vysielanie bez reklám</b></p>
                                            <p>
                                                S Magio archívom si pustíte alebo pretočíte program, ktorý už beží aj po
                                                zapnutí/prepnutí TV stanice. Už odvysielaný program môžete sledovať až 7
                                                dní dozadu a napr. reklamu pretočiť.</p>
                                            <a class="link"
                                                href="/wiki/televizia/spustenie-programu-od-zaciatku-a-magio-tv-archiv">Pozrieť
                                                viac info vo Wiki</a>
                                            <div class="archiv-wrap">
                                                <div class="archiv">
                                                    <div class="left">
                                                        <p>
                                                            <b>Magio archiv S</b></p>
                                                        <p>
                                                            10 TV staníc <a class="link-nordr archivyPopup"
                                                                href="#archivs">Zobraziť TV stanice</a></p>
                                                    </div>
                                                    <div class="right">
                                                        <p class="green">
                                                            <b>Prvé 3 mesiace 0 €</b></p>
                                                        <p>
                                                            potom 1,99 €| mes.</p>
                                                    </div>
                                                </div>
                                                <div class="archiv">
                                                    <div class="left">
                                                        <p>
                                                            <b>Magio archiv M</b></p>
                                                        <p>
                                                            20 TV staníc <a class="link-nordr archivyPopup"
                                                                href="#archivm">Zobraziť TV stanice</a></p>
                                                    </div>
                                                    <div class="right">
                                                        <p class="green">
                                                            <b>Prvé 3 mesiace 0 €</b></p>
                                                        <p>
                                                            potom 3,98 €| mes.</p>
                                                    </div>
                                                </div>
                                                <div class="archiv">
                                                    <div class="left">
                                                        <p>
                                                            <b>Magio archiv L</b></p>
                                                        <p>
                                                            30 TV staníc <a class="link-nordr archivyPopup"
                                                                href="#archivl">Zobraziť TV stanice</a></p>
                                                    </div>
                                                    <div class="right">
                                                        <p class="green">
                                                            <b>Prvé 3 mesiace 0 €</b></p>
                                                        <p>
                                                            potom 5,99 €| mes.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="col-md-5 col-sm-5 col-xs-12 orderTabRight text-center img-maxwidth table-col">
                                            <img alt="" src="../assets/img/archiv_img.png" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div class="tab-content clearfix" id="tab-5">
                            <div class="tab-box">
                                <div class="tab-box__content table-container">
                                    <div class="col-xs-12 col-md-12 table-row">
                                        <div class="col-md-7 col-sm-7 orderTabLeft table-col">
                                            <p>
                                                <b>Televízia v mobile, tablete aj počítači</b></p>
                                            <p>
                                                K Magio televízii automaticky získavate online televíziu Magio GO s
                                                online archívom, vďaka ktorej môžete televíziu sledovať aj na notebooku,
                                                tablete či smartfóne – až na štyroch rôznych zariadeniach naraz. Stačí
                                                vám pripojenie na internet.</p>
                                            <a class="link" href="/televizia/magio-go">Viac info o Magio GO</a><br />
                                            <a class="link" href="/televizia/magio-go#sec-4">Aktivácia Magio GO k Magio
                                                TV</a>
                                        </div>
                                        <div class="col-md-5 col-sm-5 orderTabRight text-center img-maxwidth table-col">
                                            <img alt="" src="../assets/img/tv_img.png" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TAB 3 -->
                        <div class="tab-content clearfix" id="tab-6">
                            <div class="tab-box">
                                <div class="tab-box__content table-container">
                                    <div class="col-xs-12 col-md-12 table-row">
                                        <div class="col-md-7 col-sm-7 orderTabLeft table-col">
                                            <p>
                                                <b>Funkcie</b></p>
                                            <ul>
                                                <li>
                                                    Nahrávanie – nahrajte si svoje obľúbené filmy alebo iné programy.
                                                    Stačí, ak si vyberiete Magio Box s funkciou nahrávania.</li>
                                                <li>
                                                    Práve vysielaný program môžete tiež zastaviť alebo pretočiť dozadu a
                                                    späť. Vrátiť sa dá do času, od kedy ste program začali sledovať.
                                                </li>
                                                <li>
                                                    Videopožičovňa – vyberte si z ponuky až 700 titulov rôznych</li>
                                            </ul>
                                            <a class="link" href="/wiki/televizia/funkcie-magio-televizie">Pozrieť viac
                                                o funkciách vo Wiki</a>
                                        </div>
                                        <div class="col-md-5 col-sm-5 orderTabRight text-center img-maxwidth table-col">
                                            <img alt="" src="../assets/img/funkcie_img.png" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TAB 4 -->
                        <div class="tab-content clearfix" id="tab-7">
                            <div class="tab-box">
                                <div class="tab-box__content table-container">
                                    <div class="col-xs-12 col-md-12 table-row">
                                        <div class="col-md-7 col-sm-7 orderTabLeft table-col">
                                            <p>
                                                <b>Moderné ovládanie</b></p>
                                            <p>
                                                Vďaka vylepšenému dizajnu zvládnete ovládanie svojej Magio televízie
                                                veľmi rýchlo. V prehľadnom menu sa za okamih dostanete do TV Archívu,
                                                Videopožičovne, k svojim nahrávkam či do nastavení, ktoré vám umožnia
                                                prispôsobiť televíziu svojim predstavám. Spustenie programu od začiatku
                                                jedným tlačidlom nebolo nikdy jednoduchšie.</p>
                                            <a class="link" href="/wiki/televizia/funkcie-magio-televizie">Pozrieť viac
                                                o funkciách vo Wiki</a>
                                        </div>
                                        <div class="col-md-5 col-sm-5 orderTabRight text-center img-maxwidth table-col">
                                            <img alt="" src="../assets/img/nove-rozhranie.png" style="max-width: 70%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TAB 5 -->
                        <div class="tab-content clearfix" id="tab-8">
                            <div class="tab-box">
                                <div class="tab-box__content">
                                    <div class="col-xs-12 col-md-12">
                                        <div class="col-md-12">
                                            <div class="togleArrow">
                                                <a class="toggle-arrow" href="#">Najdôveryhodnejšia značka<span
                                                        class="arrow-right arrow-rotate"></span></a>
                                                <p class="arrow-content" style="display: block;">
                                                    Magio internet a televízia sú víťazmi Ankety o najdôveryhodnejšiu
                                                    značku v oblasti poskytovateľov internetových a televíznych služieb
                                                    za rok 2018, ktorú robila nezávislá agentúra Nielsen.</p>
                                            </div>
                                            <div class="togleArrow">
                                                <a class="toggle-arrow" href="#">Technická podpora nonstop bez
                                                    poplatku<span class="arrow-right arrow-rotate"></span></a>
                                                <p class="arrow-content" style="display: block;">
                                                    V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne,
                                                    7 dní v týždni, na bezplatnom telefónnom čísle:<br />
                                                    0800 123 777</p>
                                            </div>
                                            <div class="togleArrow">
                                                <a class="toggle-arrow" href="#">Bez vysokých zriaďovacích
                                                    poplatkov<span class="arrow-right arrow-rotate"></span></a>
                                                <p class="arrow-content" style="display: block;">
                                                    Nekupujte drahé digitálne prijímače (settopboxy) a paraboly.
                                                    Potrebné zariadenia dostanete od nás za symbolický prenájom.</p>
                                            </div>
                                            <div class="togleArrow">
                                                <a class="toggle-arrow" href="#">Široká dostupnosť na celom
                                                    Slovensku<span class="arrow-right arrow-rotate"></span></a>
                                                <p class="arrow-content" style="display: block;">
                                                    Televíziu zriadime aj u vás doma cez pevnú sieť (optická a metalická
                                                    technológia). Ak u vás nebude dostupná pevná sieť, zriadime vám
                                                    Magio televíziu cez satelit.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion" data-accordion="1">
                        <!-- Accordion Data -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<!-- TABS END -->
<section class="section" id="sec-3">
    <div class="container-fixed">
        <h2 class="sec__title text-center" id="-0">
            TELEVÍZNE STANICE</h2>
        <p class="text-center">
            <b>Vyskladajte si TV stanice podľa seba – okrem programov, ktoré máte v cene, si môžete<br />
                aktivovať alebo deaktivovať ľubovoľné balíky programov.</b></p>
        <!--
            <div class="row">
            <div class="col-md-12">
                <div class="cont-christ-action">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>
                                Vianočná nádielka TV staníc<br />
                                PRE VERNÝCH AJ NOVÝCH ZÁKAZNÍKOV</h2>
                        </div>
                        <div class="col-md-4 cont-icon">
                            <img src="../assets/img/ico-ch-action-1.png" /> <img src="../assets/img/ico-ch-action-2.png" /> <img src="../assets/img/ico-ch-action-3.png" /></div>
                    </div>
                    <p>
                        Užite si zázračnú vianočnú náladu aj s Magio televíziou M a L naplno! Od 19. 12. 2018 do 14. 1. 2019 sme do Magio TV M a L pridali televízne stanice z balíka XL. TV stanice vám budú automaticky aktivované v Magio televízii.</p>
                    <p class="magenta">
                        Sledujte všetky TV stanice bez obáv, je to zadarmo!</p>
                    <div class="cont-tv-pack-xl pack-1" style="display: none;">
                        &nbsp;</div>
                    <div class="togleArrow">
                        <a class="toggle-arrow blue" href="#">Zobraziť všetky stanice z vianočnej nádielky<span class="arrow-right One"></span></a>
                        <div class="arrow-content cont-tv-pack-xl pack-2" style="display: none;">
                            <div class="tvPackageCodebook" data-tvpackagecodebook="VIANOCNE_OW_TV1_2018">
                                &nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-6 col-sm-12 gridFix">
                <div class="tv-stanice-left">
                    <p>
                        Vyberte variant televízie:</p>
                    <select id="heap">
                        <option value="tvM">Magio Televízia M</option>
                        <option value="tvL">Magio Televízia L</option>
                        <option value="tvXL">Magio Televízia XL</option>
                        <option value="satM">Magio SAT M</option>
                        <option value="satL">Magio SAT L</option>
                        <option value="satXL">Magio SAT XL</option>
                    </select>
                    <div class="heapText">
                        <ul>
                            <li>
                                <p id="infotxt1">
                                    Základný balík vrátane HD staníc</p>
                            </li>
                            <li>
                                <p id="infotxt2">
                                    3 programové balíky podľa vlastného výberu</p>
                            </li>
                            <li>
                                <p id="infotxt3">
                                    Ďalšie lubovoľné balíky programov, napr.: HD Rodinný, Športový, ...</p>
                            </li>
                            <li>
                                <p id="infotxt4">
                                    &nbsp;</p>
                            </li>
                            <li>
                                <p id="infotxt5">
                                    &nbsp;</p>
                            </li>
                        </ul>
                        <a class="btn btn_clean heapboxPopup" href="/televizia/magio-televizia/detail/#magioM">POZRIEŤ
                            STANICE MAGIO TV M</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 gridFix">
                <div class="tv-stanice-right">
                    <div class="tv-wording">
                        <img alt="" src="../assets/img/wording1.png" /></div>
                    <div class="tv-text">
                        <p>
                            <b>Športové stanice Premier sport a Digi Sport</b></p>
                        <p>
                            Premier sport a Digi Sport ako jediné na Slovensku vysielajú v HD zápasy Premier League, La
                            Ligu a mnoho ďalších. TV Stanice nájdete na Magio televízii vo variante L a XL alebo HD
                            Športovom balíku programov.</p>
                        <a class="link" href="/televizia/magio-sport">Viac o športových staniciach</a>
                    </div>
                </div>
                <div class="tv-stanice-right">
                    <div class="tv-wording">
                        <img alt="" src="../assets/img/wording2.png" /></div>
                    <div class="tv-text">
                        <p>
                            <b>ŤUKI TV HD pre deti</b></p>
                        <p>
                            ŤUKI televízia pre deti vysiela v HD kvalite nové, aj tradičné rozprávky, seriály a hudobné
                            programy výhradne v Slovenčine.</p>
                        <a class="link" href="https://www.tukitv.sk/">Viac o ŤUKI TV</a>
                    </div>
                </div>
                <div class="tv-stanice-right">
                    <div class="tv-wording">
                        <img alt="" src="../assets/img/wording3.png" /></div>
                    <div class="tv-text">
                        <p>
                            <b>HBO + HBO GO</b></p>
                        <p>
                            Filmové novinky a trháky vám ponúka HBO v prémiovom balíku spolu s internetovou televíziou HBO GO.    
                        </p>
                        <a class="link" href="/televizia/hbo">Viac o HBO</a><br />
                        <a class="link" href="/televizia/hbo-go">Viac o internetovej televízii HBO GO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />
<section class="section" id="sec-4">
    <div class="container-fixed">
        <h2 class="sec__title text-center" id="-0">
            ZARIADENIA K MAGIO TV</h2>
        <p class="text-center">
            <b>Pre zapojenie Magio TV je potrebný digitálny prijímač Magio Box.<br />
                Vziať si môžete až 4 Magio Boxy a zapojiť tak štyri televízory.</b></p>
        <div class="row">
            <div class="col-md-6 col-sm-12 gridFix">
                <div class="magio-go-left">
                    <p>
                        Vyberte množstvo:</p>
                    <select id="heapTv">
                        <option value="4ks">4 kusy Magio Boxu</option>
                        <option value="3ks">3 kusy Magio Boxu</option>
                        <option value="2ks">2 kusy Magio Boxu</option>
                        <option value="1ks">1 kus Magio Boxu</option>
                        <option value="4kssat">4 kusy Magio Box SAT</option>
                        <option value="3kssat">3 kusy Magio Box SAT</option>
                        <option value="2kssat">2 kusy Magio Box SAT</option>
                        <option value="1kssat">1 kus Magio Box SAT</option>
                    </select>
                    <p class="heapTV-infoText">
                        Štyri Magio Boxy umožňujú pripojiť štyri televízory. Na každom môžete sledovať iný program.</p>
                    <div class="heapTVtext">
                        <div class="heapTvtext-wrap">
                            <div class="left">
                                <p>
                                    Nahrávanie:</p>
                            </div>
                            <div class="right">
                                <p>
                                    áno<img alt="" id="magio-tv-tooltip" src="../assets/img/qm.png"
                                        style=" width: 15px; height: auto; margin-left: 3px;" /></p>
                            </div>
                        </div>
                        <div class="heapTvtext-wrap">
                            <div class="left">
                                <p>
                                    Cena jednorazovo pri kúpe:</p>
                            </div>
                            <div class="right" id="price1">
                                <p>
                                    74,94 €</p>
                            </div>
                        </div>
                        <div class="heapTvtext-wrap">
                            <div class="left">
                                <p>
                                    Cena mesačne:</p>
                            </div>
                            <div class="right" id="monthly">
                                <p>
                                    8,77 €</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 gridFix">
                <div class="magio-go-right">
                    <div class="tip tip2">
                        <p>
                            <b>NÁŠ TIP:</b><br />
                            Ak ste si vybrali, prejdite na overenie dostupnosti. Po overení vás presmerujeme k nákupu,
                            kde si zvolíte množstvo Magio boxov.</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">
            <a class="link" href="/wiki/zariadenia/magioboxy-IPTV">Prejsť na viac info o Magio Boxoch do Wiki.</a></p>
    </div>
</section>
<hr />
<section class="section sec-akcie" id="sec-5">
    <!-- load from aktualne-akcie.html -->
</section>
<!-- POPUP TV DATA -->
<!-- POPUP:tvM -->
<div id="tvM" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn" href="#">
                <!-- x close button --></a></div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="popup-content">
                <h3>
                    Magio TV M - Základný a český balík v cene služby</h3>
                <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
                    &nbsp;</div>
                <h3>
                    3 Programové balíky v cene, podľa vlastného výberu:</h3>
                <p>
                    V ďalšom kroku si vyberiete kombináciu troch programových balíkov v cene služby podľa vašich
                    predstáv.</p>
                <h4>
                    HUDOBNÝ + DETSKÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
                    &nbsp;</div>
                <h4>
                    VOĽNÝ ČAS</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
                    &nbsp;</div>
                <h4>
                    ŠTÝL A FAKTY</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
                    &nbsp;</div>
                <h4>
                    DOKUMENTÁRNY</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
                    &nbsp;</div>
                <h4>
                    ŠPORTOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
                    &nbsp;</div>
                <h4>
                    FILMOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
                    &nbsp;</div>
                <h1>
                    Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
                <h4>
                    HBO + CINEMAX</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
                    &nbsp;</div>
                <h4>
                    MAĎARSKÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
                    &nbsp;</div>
                <h4>
                    HD RODINNÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
                    &nbsp;</div>
                <h4>
                    HD ŠPORTOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
                    &nbsp;</div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP:tvL -->
<div id="tvL" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn" href="#">
                <!-- x close button --></a></div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="popup-content">
                <h3>
                    Magio TV L - Základný a český balík v cene služby</h3>
                <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
                    &nbsp;</div>
                <h3>
                    Extra balík L - v cene služby</h3>
                <div class="tvPackageCodebook" data-tvpackagecodebook="EXTRA_BALICEK_L">
                    &nbsp;</div>
                <h3>
                    Programové balíky - v cene služby</h3>
                <h4>
                    HUDOBNÝ + DETSKÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
                    &nbsp;</div>
                <h4>
                    VOĽNÝ ČAS</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
                    &nbsp;</div>
                <h4>
                    ŠTÝL A FAKTY</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
                    &nbsp;</div>
                <h4>
                    DOKUMENTÁRNY</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
                    &nbsp;</div>
                <h4>
                    ŠPORTOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
                    &nbsp;</div>
                <h4>
                    FILMOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
                    &nbsp;</div>
                <h1>
                    Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
                <h4>
                    HBO + CINEMAX</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
                    &nbsp;</div>
                <h4>
                    MAĎARSKÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
                    &nbsp;</div>
                <h4>
                    HD RODINNÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
                    &nbsp;</div>
                <h4>
                    HD ŠPORTOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
                    &nbsp;</div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP:tvXL -->
<div id="tvXL" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn" href="#">
                <!-- x close button --></a></div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="popup-content">
                <h3>
                    Magio TV XL - Základný a český balík v cene služby</h3>
                <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY">
                    &nbsp;</div>
                <h3>
                    Extra balík L - v cene služby</h3>
                <div class="tvPackageCodebook" data-tvpackagecodebook="EXTRA_BALICEK_L">
                    &nbsp;</div>
                <h3>
                    Extra balík XL - v cene služby</h3>
                <div class="tvPackageCodebook" data-tvpackagecodebook="KANALY_NAVYSE_XL">
                    &nbsp;</div>
                <h3>
                    Programové balíky - v cene služby</h3>
                <h4>
                    HUDOBNÝ + DETSKÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HUDOBNY_DETSKY">
                    &nbsp;</div>
                <h4>
                    VOĽNÝ ČAS</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="VOLNY_CAS">
                    &nbsp;</div>
                <h4>
                    ŠTÝL A FAKTY</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="STYL_A_FAKTY">
                    &nbsp;</div>
                <h4>
                    DOKUMENTÁRNY</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="DOKUMENTARNY">
                    &nbsp;</div>
                <h4>
                    ŠPORTOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="SPORTOVY">
                    &nbsp;</div>
                <h4>
                    FILMOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="FILMOVY">
                    &nbsp;</div>
                <h1>
                    Prémiové balíky - nie sú v cene služby, ľahko si ich objednáte v ďalšom kroku</h1>
                <h4>
                    HBO + CINEMAX</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">
                    &nbsp;</div>
                <h4>
                    MAĎARSKÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">
                    &nbsp;</div>
                <h4>
                    HD RODINNÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">
                    &nbsp;</div>
                <h4>
                    HD ŠPORTOVÝ</h4>
                <div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">
                    &nbsp;</div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP TV DATA END -->
<!-- POPUP: info-magio-box -->
<div class="easy-lightbox" id="info-magio-box">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn" href="#">
                <!-- x close button --></a></div>
    </div>
    <h2>
        <b>Magio GO TV Box</b></h2>
    <div class="lightbox-content">
        <div class="lightbox-content-1">
            <div class="lightbox-content-mob">
                <img src="../assets/img/magio_go_box_mob.png" /> <img class="sticker-picture"
                    src="../assets/img/wording_8.png" /></div>
            <div>
                Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom
                televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte
                internet.</div>
        </div>
        <div class="lightbox-content-2">
            K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO
            Premium za 5,99 € | mes.</div>
        <div class="lightbox-content-3">
            <div class="lightbox-icon">
                <img src="../assets/img/icon6.png" /></div>
            <div class="lightbox-3-cont">
                V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
        </div>
    </div>
    <div class="lightbox-img-cont">
        <img src="../assets/img/magio_go_box.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" />
        <div class="tab-ex">
            <p>
                K ľubovolnej pevnej službe:</p>
            <div>
                <div class="tab-ex-label">
                    Mesačne</div>
                <div class="tab-ex-price">
                    0 €</div>
            </div>
            <div>
                <div class="tab-ex-label">
                    Jednorázovo</div>
                <div class="tab-ex-price">
                    <span class="strikethrough">69,99 €</span>29,90 €</div>
            </div>
        </div>
    </div>
    <p class="lightbox-action">
        <a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
</div>
<!-- POPUP DATA archivy -->
<!-- POPUP:archivS -->
<div id="archivs" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn" href="#">
                <!-- x close button --></a></div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="popup-content">
                <h3>
                    Archív S</h3>
                <p>
                    Nestihli ste si pozrieť váš obľúbený program? Nevadí, Archív S vám ponúka možnosť celkového prehľadu
                    vysielania základných televíznych staníc až na 7 dní dozadu.</p>
                <div class="tvPackageImg">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_S">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP:archivm -->
<div id="archivm" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn" href="#">
                <!-- x close button --></a></div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="popup-content">
                <h3>
                    Archív M</h3>
                <p>
                    Ak nechcete aby vám čokoľvek uniklo z našej ponuky televíznych kanálov, prinášame vám aj možnosť
                    využitia Archívu M, ktorý zabezpečuje dostupnosť vysielania až 20 televíznych kanálov na 7 dní
                    dozadu.</p>
                <div class="tvPackageImg">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_M">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP:archivl -->
<div id="archivl" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn" href="#">
                <!-- x close button --></a></div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="popup-content">
                <h3>
                    Archív L</h3>
                <p>
                    Ak nechcete aby vám čokoľvek uniklo z našej ponuky televíznych kanálov, prinášame vám aj možnosť
                    využitia Archívu L, ktorý zabezpečuje dostupnosť vysielania až 30 televíznych kanálov na 7 dní
                    dozadu.</p>
                <div class="tvPackageImg">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_L">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- POPUP DATA archivy END -->
<!-- POPUP DATA overit dostupnost -->
<div id="availability" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a class="close-btn closebtn-availability" href="#">
                <!-- x close button --></a></div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="popup-content">
                <div>
                    <div class="module-wrapper">
                        <p class="search-title">
                            Overte si dostupnosť vo Vašej lokalite:</p>
                        <div class="availability">
                            <form id="city-form">
                                <input class="city-input" name="searchTermValue" placeholder="Obec" />
                                <div class="results">
                                    <ul class="city-form__result_list">
                                    </ul>
                                </div>
                            </form>
                            <form id="street-form">
                                <input class="street-input" disabled="disabled" name="searchTermValue"
                                    placeholder="Ulica" />
                                <div class="results">
                                    <ul class="street-form__result_list">
                                    </ul>
                                </div>
                            </form>
                            <form id="number-form">
                                <input class="number-input" disabled="disabled" name="number" placeholder="Číslo" />
                                <div class="results">
                                    <ul class="number-form__result_list">
                                    </ul>
                                </div>
                            </form>
                            <button class="sendReq">Overiť</button>
                            <div class="msg-holder">
                                <p class="error-msg">
                                    &nbsp;</p>
                                <p class="info-msg">
                                    &nbsp;</p>
                            </div>
                        </div>
                        <div class="map-holder">
                            <div id="main-ins">
                                <div class="box" style="display: block;">
                                    &nbsp;</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../assets/js/heapbox.min.js"></script>
<script type="text/javascript" src="../assets/js/fancybox-media.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/service.js?v1"></script>
<script type="text/javascript" src="../assets/js/checker.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4BHKV9ijIn6nCRo8QBbFfW3eepI3LAl4" async defer></script> -->