<div class="paginator" role="navigation" >
    <div class="page-links">
        <ul class="pagination" ng-if="1 < pages.length">
            <!--         <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
            <a href="" ng-click="setCurrent(1)">&laquo;</a>
        </li> -->
            <!--   <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
            <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">‹</a>
        </li> -->
            <li ng-repeat="pageNumber in pages track by $index" >
                <a href="" ng-class="{ act : pagination.current == pageNumber, disabled : pageNumber == '...' }" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
            </li>
            <!--     <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
            <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">›</a>
        </li> -->
            <!-- <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
            <a href="" ng-click="setCurrent(pagination.last)">&raquo;</a>
        </li> -->
        </ul>
    </div>
    <div class="page-nav" >
        <a href="" title="Previous page" class="nav-prev" ng-class="{ disabled : pagination.current == 1 }" ng-click="setCurrent(pagination.current - 1)" >Prev page</a>
        <a href="" title="Next page" class="nav-next" ng-class="{ disabled : pagination.current == pagination.last }" ng-click="setCurrent(pagination.current + 1)" >Next page</a>
    </div>
</div>
