#content #sec-5 {
  text-align: center;
  padding-bottom: 0;

  .slider {
    max-width: 675px;

    .slider-item {
      text-align: center;
      outline: none; // bez bordera

      .cont-img {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .slick-dots {
      margin-top: 20px;
    }

    @media screen and (max-width: 800px) {
      max-width: 80%;
    }

    @media screen and (max-width: 500px) {
      .slider-item {
        margin-top: 50px;

        &.hide-mobil {
          display: none;
        }
      }
    }
  }

  .all-benefits {
    display: none;

    @media screen and (max-width: 500px) {
      display: inline-block;
      margin: 50px 0 20px 0;
    }
  }
}
