<section id="hero">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6 margin_bottom20_mob">
                <div class="hero__content ">
                    <h1 class="hero__title">
                        MAGENTA CONNECT</h1>
                    <h2 class="hero__sub-title">
                        Moderné komunikačné služby, ktoré šetria čas aj prostriedky</h2>
                    <p class="hero__desc">
                        Efektívna komunikácia a spolupráca vďaka chatu, audio a videokonferenciám, zdieľaniu plochy či súborov.</p>
                    <a class="button button_lima scroll-to" href="#sec-8"><span>mám záujem</span> </a>
                    <!--<a class="button button_lima-inversed" href="/wiki/mapa-pokrytia" target="_blank"><b>Vyskúšať zadarmo<br></b></a>--></div>
            </div>
            <div class="col-md-6 margin_bottom20_mob text_centered">
                <!-- <div class="video-thumbnail">
                    <div class="video-container">
                        <iframe allowfullscreen="" class="video-embed" frameborder="0" src="//www.youtube.com/embed/opR5AmYiwSs?rel=0&amp;color=white&amp;controls=1&amp;showinfo=0"></iframe>
                    </div>
                    <span class="play_btn"> </span>
                </div> -->
                <img src="../assets/img/video-cover.png" alt="" class="hero-img">
            </div>
        </div>
    </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">Hlavné výhody</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">ako to funguje</a></li>
        <li>
            <a class="scroll-to" href="#sec-8">Mám záujem</a></li>
        <li>
            <a class="scroll-to" href="#sec-9">Stiahnuť aplikáciu</a></li>
        <li>
            <a class="scroll-to" href="#sec-10">Pomoc</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1" id="sec-1">
    <div class="fixed-column text_centered">
        <h2 class="section__title font_black">
            HLAVNÉ VÝHODY</h2>
        <div class="col-group">
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-euro.png" /></div>
                <p class="feat__desc ">
                    <b>Zníženie nákladov</b>
                    <br /> Na cestovanie vďaka audio,
                    <br /> či videokonferenciám</p>
            </div>
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-produktivita.png" /></div>
                <p class="feat__desc ">
                    <b>Zvýšenie produktivity</b>
                    <br /> Vďaka chatu, zdieľaniu
                    <br /> súborov, či pracovnej plochy</p>
            </div>
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-pevna.png" /></div>
                <p class="feat__desc ">
                    <b>Zlepšenie dostupnosti</b>
                    <br /> Prijímajte hovory z pevnej linky
                    <br /> aj cez mobilný telefón</p>
            </div>
        </div>
        <div class="col-group">
            <div class="grid__col_4__custom col second-row ">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-presun.png" /></div>
                <p class="feat__desc ">
                    <b>Plynulé prepájanie hovoru</b>
                    <br /> Z pevnej linky na mobilný telefón
                    <br /> aj počas telefonovania</p>
            </div>
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-nastavenie.png" /></div>
                <p class="feat__desc ">
                    <b>Jednoduché nastavenia</b>
                    <br /> Nastavte si všetko podľa seba
                    <br /> bez zložitej inštalácie</p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2 grey-bg " id="sec-2">
    <div class="fixed-column">
        <div class="feat__item feat__item_left">
            <h2 class="feat__title font_black">
                CHAT</h2>
            <p class="feat__desc">
                Komunikácia formou krátkych správ. K dispozícii sú aplikácie pre PC aj pre mobilné telefóny (Android, iOS), aj v slovenčine.</p>
        </div>
        <div class="feat-img__holder feat-img__holder_right">
            <img alt="" src="../assets/img/feat-02.png" /></div>
    </div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="fixed-column">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title font_black">
                    AUDIO a VIDEOKONFERENCIE</h2>
                <p class="feat__desc">
                    Nestrácajte čas zbytočným cestovaním, z pohodlia kancelárie zorganizujete konferenciu, medzinárodné stretnutie či školenie.</p>
            </div>
            <div class="feat-img__holder feat-img__holder_left text_centered">
                <img alt="" src="../assets/img/feat-03.png" /></div>
        </div>
    </div>
</section>
<section class="section sec-4 grey-bg " id="sec-4">
    <div class="fixed-column">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title font_black">
                    NASTAVENIE PROFILU</h2>
                <p class="feat__desc">
                    Presmerovania a notifikácie o zmeškaných hovoroch si môžete nastaviť podľa toho, či ste v kancelárii, na stretnutí alebo na dovolenke.</p>
            </div>
            <div class="feat-img__holder feat-img__holder_right">
                <img alt="" src="../assets/img/feat-04.png" /></div>
        </div>
    </div>
</section>
<section class="section sec-5" id="sec-5">
    <div class="fixed-column">
        <div class="fixed-column">
            <div class="feat__item feat__item_right ">
                <h2 class="feat__title font_black">
                    SIMULTÁNNE VYZVÁŇANIE</h2>
                <p class="feat__desc">
                    Už nikdy nezmeškáte žiadny hovor. Bude automaticky presmerovaný na čísla, ktoré si jednoducho nastavíte podľa potreby.</p>
            </div>
            <div class="feat-img__holder feat-img__holder_left text_centered">
                <img alt="" src="../assets/img/feat-05.png" /></div>
        </div>
    </div>
</section>
<section class="section sec-6 grey-bg " id="sec-6">
    <div class="fixed-column">
        <div class="feat__item feat__item_left ">
            <h2 class="feat__title font_white">
                POSTUPNÉ VYZVÁŇANIE</h2>
            <p class="feat__desc_white">
                Ak hovor nezdvihnete do nastaveného počtu zazvonení, bude automaticky presmerovaný na ďalšie nastavené číslo v poradí.</p>
        </div>
        <!--  <div class="feat-img__holder feat-img__holder_right">
            <img alt="" src="../assets/img/feat-5.png" />
            </div> --></div>
</section>
<section class="section sec-7" id="sec-7">
    <div class="fixed-column text_centered">
        <h2 class="section__title font_black">
            VYBERTE SI Z TROCH VERZIÍ SLUŽBY</h2>
        <div class="col-group">
            <div class="grid-g__col_12">
                <table>
                    <thead>
                        <tr>
                            <th>
                                &nbsp;</th>
                            <th>
                                <h4>
                                    <span class="table_title">MAGENTA CONNECT</span><br />
                                    &nbsp;</h4>
                            </th>
                            <th>
                                <h4>
                                    <span class="table_title">MAGENTA CONNECT</span><br />
                                    <span class="font_black">VOICE</span></h4>
                            </th>
                            <th>
                                <h4>
                                    <span class="table_title">MAGENTA CONNECT</span><br />
                                    <span class="font_black">TEAM</span></h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="option_title">
                                Instant Messaging</td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="dash"><!-- &mdash; --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                        </tr>
                        <tr>
                            <td class="option_title">
                                Zdieľanie plochy alebo súborov</td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="dash"><!-- &mdash; --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                        </tr>
                        <tr>
                            <td class="option_title">
                                Audio a videokonferencie</td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="dash"><!-- &mdash; --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                        </tr>
                        <tr>
                            <td class="option_title">
                                Simultánne vyzváňanie</td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="dash"><!-- &mdash; --></span></td>
                        </tr>
                        <tr>
                            <td class="option_title">
                                Postupné vyzváňanie</td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="dash"><!-- &mdash; --></span></td>
                        </tr>
                        <tr>
                            <td class="option_title">
                                Nastavenia profilov</td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                        </tr>
                        <tr>
                            <td class="option_title">
                                Aplikácie</td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                            <td>
                                <span class="check"><!-- ✔ --></span></td>
                        </tr>
                        <tr class="table-price">
                            <td class="hide-on-mobile">
                                Cena za 1 používateľa</td>
                            <td>
                                <div class="table-price-big">
                                    4<sup>00</sup> €</div>
                                <br />
                                <div class="font_black">
                                    bez DPH mesačne</div>
                            </td>
                            <td>
                                <div class="table-price-big">
                                    1<sup>00</sup> €</div>
                                <br />
                                <div class="font_black">
                                    bez DPH mesačne</div>
                            </td>
                            <td>
                                <div class="table-price-big">
                                    3<sup>33</sup> €</div>
                                <br />
                                <div class="font_black">
                                    bez DPH mesačne</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div data-accordion-group="">
            <div class="accordion" data-accordion="">
                <div data-control="">
                    MAGENTA CONNECT</div>
                <div data-content="">
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Instant
                            <br /> Messaging
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Zdieľanie plochy
                            <br /> alebo súborov</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Audio
                            <br /> a videokonferencie</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Simultánne
                            <br /> vyzváňanie
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Postupné
                            <br /> vyzváňanie
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Nastavenia
                            <br /> profilov
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Aplikácie</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Cena za 1 používateľa</div>
                        <div class="grid-g__col_6">
                            <div class="table-price">
                                <div class="table-price-big">
                                    4<sup>00</sup> €</div>
                                <div class="font_black">
                                    bez DPH mesačne</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" data-accordion="">
                <div class="grey-ico" data-control="">
                    <span>MAGENTA CONNECT</span>
                    <br />
                    <span class="font_black">VOICE</span></div>
                <div data-content="">
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Instant
                            <br /> Messaging
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/dash-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Zdieľanie plochy
                            <br /> alebo súborov</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/dash-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Audio
                            <br /> a videokonferencie</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/dash-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Simultánne
                            <br /> vyzváňanie
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Postupné
                            <br /> vyzváňanie
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Nastavenia
                            <br /> profilov
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Aplikácie</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Cena za 1 používateľa</div>
                        <div class="grid-g__col_6">
                            <div class="table-price">
                                <div class="table-price-big">
                                    1<sup>00</sup> €</div>
                                <div class="font_black">
                                    bez DPH mesačne</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion" data-accordion="">
                <div data-control="">
                    MAGENTA CONNECT
                    <br />
                    <span class="font_black">TEAM</span></div>
                <div data-content="">
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Instant
                            <br /> Messaging
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Zdieľanie plochy
                            <br /> alebo súborov</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Audio
                            <br /> a videokonferencie</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Simultánne
                            <br /> vyzváňanie
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/dash-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Postupné
                            <br /> vyzváňanie
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/dash-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Nastavenia
                            <br /> profilov
                        </div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Aplikácie</div>
                        <div class="grid-g__col_6">
                            <img alt="" src="../assets/img/pipe-small.png" /></div>
                    </div>
                    <div class="col-group">
                        <div class="grid-g__col_6">
                            Cena za 1 používateľa</div>
                        <div class="grid-g__col_6">
                            <div class="table-price">
                                <div class="table-price-big">
                                    3<sup>33</sup> €</div>
                                <div class="font_black">
                                    bez DPH mesačne</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-8 grey-bg" id="sec-8">
    <div class="fixed-column text_centered">
        <h2 class="section__title font_black">
            Máte záujem alebo si želáte viac informácií?</h2>
        <div class="col-group text_centered">
            <div class="grid-g__col_4 col_border_btm  border-right">
                <div class="contact-item">
                    <div class="ico_holder">
                        <img alt=" " src="../assets/img/ico-question.png" /></div>
                    <div class="contact_desc">
                        <p class="sec8__description">
                            <b>Opýtajte sa nás</b></p>
                        <p class="sec8__description">
                            <span class="sec8__numBig">0800 123 500</span></p>
                    </div>
                </div>
            </div>
            <div class="grid-g__col_4 col_border_btm  border-right">
                <div class="contact-item">
                    <div class="ico_holder">
                        <img alt=" " src="../assets/img/ico-contact.png" /></div>
                    <div class="contact_desc">
                        <a class="button button_lima" href="/biznis/aplikacie/magenta-connect/mam-zaujem"><span>NAPÍŠTE NÁM</span> </a></div>
                </div>
            </div>
            <div class="grid-g__col_4">
                <div class="contact-item">
                    <div class="ico_holder">
                        <img alt=" " src="../assets/img/ico-zastupca.png" /></div>
                    <div class="contact_desc">
                        <p class="sec8__description">
                            <b>Kontaktujte vášho<br />
                            obchodného zástupcu</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-9" id="sec-9">
    <div class="fixed-column text_centered">
        <h2 class="section__title font_black">
            STIAHNITE SI APLIKÁCIU MAGENTA CONNECT</h2>
        <p class="feat__desc">
            <!--    Pre používanie aplikácie potrebujete mať aktivovanú plnú alebo testovaciu verziu služby.<br />
            Ak ju ešte nemáte, <a href="/biznis/magenta-connect/testovacia-verzia">požiadajte o 30-dňovú bezplatnú testovaciu verziu.</a></p> -->Pre používanie aplikácie potrebujete mať aktivovanú plnú alebo <a href="/biznis/aplikacie/magenta-connect/testovacia-verzia">bezplatnú 30-dňovú testovaciu verziu služby</a></p>
        <div class="col-group down__group text_centered mgt">
            <div class="grid-g__col_6 border-right pdt">
                <img alt=" " src="../assets/img/ico-pc.png" />
                <div class="col-group text_centered height-fix">
                    <div class="grid__col_6">
                        <div class="down__item border-right ">
                            <div class="down__title">
                                <a href="http://www.telekom.sk/mc/win" title="Stiahnite si appku pre Windows">WINDOWS</a></div>
                            <div class="down__logo">
                                <a href="http://www.telekom.sk/mc/win" title="Stiahnite si appku pre Windows"><img alt=" " src="../assets/img/logo-win.png" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="grid__col_6">
                        <div class="down__item">
                            <div class="down__title">
                                <a href="http://www.telekom.sk/mc/mac" title="Stiahnite si appku pre MAC OS X">MAC OS X</a></div>
                            <div class="down__logo">
                                <a href="http://www.telekom.sk/mc/mac" title="Stiahnite si appku pre MAC OS X"><img alt=" " src="../assets/img/logo-apple.png" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-g__col_6 pdt">
                <img alt=" " src="../assets/img/ico-mobil.png" />
                <div class="col-group text_centered">
                    <div class="grid__col_6">
                        <div class="down__item border-right ">
                            <div class="down__title">
                                <a href="https://play.google.com/store/apps/details?id=sk.telekom.ucone.android&amp;hl=sk" title="Stiahnite si appku pre Android">OS Android</a></div>
                            <div class="down__logo">
                                <a href="https://play.google.com/store/apps/details?id=sk.telekom.ucone.android&amp;hl=sk" title="Stiahnite si appku pre Android"><img alt=" " src="../assets/img/logo-gp.png" /></a>
                            </div>
                            <div class="down__logo">
                                <br />
                                <img alt=" " src="../assets/img/qr-android.png" title="Naskenujte QR kód" /></div>
                        </div>
                    </div>
                    <div class="grid__col_6">
                        <div class="down__item">
                            <div class="down__title">
                                <a href="https://itunes.apple.com/sk/app/magenta-connect/id1085791198?mt=8" title="Stiahnite si appku pre iPhone">iPhone / iOS</a></div>
                            <div class="down__logo">
                                <a href="https://itunes.apple.com/sk/app/magenta-connect/id1085791198?mt=8" title="Stiahnite si appku pre iPhone"><img alt=" " src="../assets/img/logo-appstore.png" /></a>
                            </div>
                            <div class="down__logo">
                                <br />
                                <img alt=" " src="../assets/img/qr-ios.png" title="Naskenujte QR kód" /></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-10 grey-bg" id="sec-10">
    <div class="fixed-column">
        <h2 class="section__title font_black">
            pomoc s nastavením</h2>
        <div class="col-group mgb">
            <div class="grid-g__col_4">
                <ul>
                    <li class="title">
                        Príručky pre rýchly štart</li>
                    <li>
                        <a class="ico-pdf" href="/mc/navod-android" target="_blank" title="Stiahnuť príručku pre Android">Android</a></li>
                    <li>
                        <a class="ico-pdf" href="/mc/navod-iphone" target="_blank" title="Stiahnuť príručku pre iPhone a iPad">iPhone a iPad</a></li>
                    <li>
                        <a class="ico-pdf" href="/mc/navod-win" target="_blank" title="Stiahnuť príručku pre Windows a Mac">Windows a Mac</a></li>
                </ul>
            </div>
            <div class="grid-g__col_4">
                <ul>
                    <li class="title">
                        Komplexné manuály</li>
                    <li>
                        <a class="ico-pdf" href="/mc/manual" target="_blank" title="Stiahnuť manuál Magenta Connect Team aj Voice">Magenta Connect Team aj Voice</a></li>
                    <li>
                        <a class="ico-pdf" href="/documents/10179/780734/Manual+Magenta+Connect+Voice.pdf" target="_blank" title="Stiahnuť manuál Magenta Connect Voice">Magenta Connect Voice</a></li>
                </ul>
            </div>
            <!-- <div class="grid-g__col_4">
                <ul>
                
                    <li>
                        <a class="ico-pdf" href=""></a></li>
                </ul>
            </div>--></div>
        <div class="col-group text_centered border-top">
            <div class="grid-g__col_12 mgt">
                <a class="ico-yt" href="https://www.youtube.com/playlist?list=PLJALLrtSz8EbHyxXAn428skMVHjRaakEE" target="_blank">Pozrite si inštruktážne videá</a></div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/accordion.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
