/* ===============
   CSS FOR MICROSITE
   =============== */

/* VARIABLES */

$mine-shaft: #383838;
$boulder: #757575;
$gallery: #ededed;
$silver-chalice: #b2b2b2;
$silver-chalice-dark: #a1a1a1;
$nobel: #b4b4b4;
$nobel-mid: #b6b6b6;
$alto-light: #dedede;
$alto: #dbdbdb;
$alto-mid: #d7d7d7;
$mercury: #e7e7e7;
$silver-light: #cdcdcd;
$silver: #bababa;
$concrete: #f2f2f2;
$white: #ffffff;
$black: #000000;
$lima: #6bb324;
$vida-loca-light: #65ac20;
$vida-loca: #58951c;
$vida-loca-mid: #5e9e20;
$vida-loca-dark: #4d8319;
$rose: #e20074;
$lipstick: #cc0069;
$fresh-eggplant: #9f0052;
$razzmatazz: #db0070;
$deep-cerulean: #007faf;
$deep-cerulean-mid: #017ba9;
$orient: #00668d;
$cornflower-blue: #66afe9;

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pad0 {
  padding: 0 !important;
}

/* BUTTONS */

#content .btn {
  text-transform: uppercase;
  font-size: 16px;
  color: $mine-shaft;
  background-color: $gallery;
  border: 1px solid $silver-chalice;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none;
}

#content .btn .fa {
  margin-right: 6px;
}

#content .btn .fa-only {
  margin-right: 0;
}

#content .btn:hover {
  background-color: $alto;
  border: 1px solid $silver-chalice-dark;
}

#content .btn:active {
  background-color: $mercury;
  border: 1px solid $silver-chalice;
}

#content .btn.btn_disabled {
  color: $silver;
  background-color: $concrete;
  border: 1px solid $alto-light;
  cursor: no-drop;
}

#content .cta {
  color: $white !important;
  background-color: $lima;
  border: 1px solid $vida-loca;
}

#content .cta:hover {
  background-color: $vida-loca-mid;
  border: 1px solid $vida-loca-dark;
}

#content .cta:active {
  background-color: $vida-loca-light;
  border: 1px solid $vida-loca;
}

#content .magenta {
  color: #e20074 !important;
}

#content .cta_mag {
  color: $white;
  background-color: $rose;
  border: 1px solid $lipstick;
}

#content .cta_mag:hover {
  background-color: $lipstick;
  border: 1px solid $fresh-eggplant;
}

#content .cta_mag:active {
  background-color: $razzmatazz;
  border: 1px solid $lipstick;
}

#content .cta.btn_disabled,
#content .cta_mag.btn_disabled {
  color: $white;
  background-color: $alto-mid;
  border: 1px solid $silver-light;
}

#content .btn_clean {
  background-color: $white;
  border: 1px solid $white;
  color: $mine-shaft;
}

#content .btn_clean:hover {
  background-color: $gallery;
  border: 1px solid $gallery;
}

#content .btn_outline,
#content .btn_outline:hover {
  background-color: transparent;
  border: 1px solid $silver-chalice;
}

#content .btn_mag-outline,
#content .btn_mag-outline:hover {
  background-color: transparent;
  color: $rose;
  border: 1px solid $rose;
}

#content .link {
  color: $deep-cerulean;
  text-decoration: underline;
}

#content .link:hover {
  color: $orient;
  text-decoration: underline;
}

#content .link:active {
  color: $deep-cerulean-mid;
  text-decoration: none;
}

/* GLOBALS */

#content .sec__title {
  font-size: 32px;
  color: #e20074;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}

.section {
  padding: 60px 0 80px 0;
}

#content {
  h2 {
    font-size: 32px;

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }

  p {
    color: #6c6c6c;

    &.title {
      font-size: 18px;
      font-weight: 600;
      margin: 20px 0;
    }
  }

  .label {
    font-size: 12px;
    padding: 3px 10px;
    border-radius: 5px;
    color: #fff;

    &.color-gray {
      background-color: #e6e6e6;
      color: #3c3c3c;
    }

    &.color-dark {
      background-color: #3a3a3a;
    }

    &.color-black {
      background-color: #262626;
    }
  }

  .info {
    border-radius: 50%;
    background-color: #bbb;
    padding: 0px 6px;
    color: #fff;
    font-size: 14px;
  }

  a.link,
  a.link:hover {
    text-decoration: none;
  }

  .overlay {
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    ::-webkit-scrollbar {
      display: none;
    }

    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: -2px;
      top: 0;
      width: 25px;
      height: 60px;
      z-index: 999;
      background: linear-gradient(
        to right,
        #ffffff 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &::after {
      content: "";
      position: absolute;
      right: -2px;
      top: 0;
      width: 25px;
      height: 60px;
      z-index: 999;
      background: linear-gradient(
        to left,
        #ffffff 50%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

/* HERO */

/* ===============
   CSS FOR MICROSITE
   =============== */

/* HERO SECTION */
#hero {
  background: url(../img/hero-2021.jpg) no-repeat 50% 50%;
  background-size: cover;
  height: 680px;
  position: relative;
  overflow: hidden;
  & img.ec-vianoce-30e {
    position: absolute;
    top: 160px;
    right: 60px;
  }
  .hero-content {
    text-align: center;
    position: relative;
    margin-top: 120px;
    h1.hero-title {
      font-size: 70px;
      text-transform: none;
      font-weight: 800;
      text-align: left;
    }
  }
  .hero-desc {
    margin-top: 30px;
    text-align: left;
    .btn {
      background-color: $magenta;
      border-color: $magenta;
      text-transform: none;
      font-size: 22px;
      border-radius: 0;
      padding: 20px 37px 20px 37px;
    }
    .btn:hover {
      background-color: $magenta;
      border-color: $magenta;
    }
  }
}
@media screen and (max-width: 580px) {
  #hero {
    height: 550px;
    background: url(../img/hero-480-2021.jpg) no-repeat 50% 50%;
    background-size: cover;
    margin: 0;
    width: 100%;
    padding: 0px 15px;
    img.ec-vianoce-30e {
      top: 30px;
      right: 30px;
      width: 100px;
    }
    .hero-content {
      height: 500px;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      h1.hero-title {
        line-height: 56px;
        font-size: 50px;
      }
      .hero-desc {
        text-align: center;
        .btn {
          width: 100%;
          margin-top: 20px;
          padding: 15px 27px 15px 27px;
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  #hero {
    .hero-content {
      h1.hero-title {
        line-height: 42px;
        font-size: 38px;
      }
    }
  }
}

/* SEC - 1 */
#content #sec-1 {
  background-color: #f2f2f2;

  .row {
    h2 {
      color: #262626;
    }

    .sec-content {
      padding-right: 70px;

      @media screen and (max-width: 940px) {
        padding-right: 20px;
      }

      @media screen and (max-width: 767px) {
        .label {
          display: none;
        }
      }

      .cont-link {
        margin: 30px 0 20px 0;
      }
    }

    .sec-img {
      img {
        width: 100%;

        @media screen and (max-width: 767px) {
          max-width: 50%;
        }
      }
    }
  }
}

#content #sec-5 {
  text-align: center;
  padding-bottom: 0;

  .slider {
    max-width: 675px;

    .slider-item {
      text-align: center;
      outline: none; // bez bordera

      .cont-img {
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .ec {
          position: absolute;
          top: -15px;
          right: 40px;
        }

        .ec-nekonecno {
          position: absolute;
          top: -15px;
          right: 50px;
        }
      }
    }

    .slick-dots {
      margin-top: 20px;
    }

    @media screen and (max-width: 800px) {
      max-width: 80%;
    }

    @media screen and (max-width: 500px) {
      .slider-item {
        margin-top: 50px;

        &.hide-mobil {
          display: none;
        }
      }
    }
  }

  .all-benefits {
    display: none;

    @media screen and (max-width: 500px) {
      display: inline-block;
      margin: 50px 0 20px 0;
    }
  }
}

#sec-6 {
  background-color: #f2f2f2;
  text-align: center;

  h2 {
    line-height: 1.2;
  }

  .title {
    p {
      padding: 0 140px;

      @media screen and (max-width: 940px) {
        padding: 0;
      }
    }
  }

  .services {
    margin-top: 30px;

    .item {
      text-align: center;
      background-color: #fff;
      padding: 40px 20px;
      display: inline-block;
      width: 290px;
      border-radius: 8px;
      margin-right: 8px;
      margin-bottom: 15px;
      position: relative;

      h3 {
        font-size: 18px;
        margin: 0 0 20px 0;
      }
      .holder {
        height: 185px;
      }
      img {
        max-width: 90%;
      }

      p {
        margin: 0;
      }

      p.desc-1 {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: #262626;
        .through {
          font-size: 16px;
          font-weight: 400;
          color: #6c6c6c;
          text-decoration: line-through;
        }
      }
      .row {
        padding: 15px 0;
      }

      .desc-2 {
        font-size: 14px;
      }
      .s-row {
        border-top: solid 1px #ddd;
        padding: 15px 0;
      }

      .btn {
        margin-top: 20px;
      }

      .ec {
        position: absolute;
        top: 60px;
        right: -7px;
      }

      @media screen and (max-width: 495px) {
        width: 300px;
        max-width: 96%;
      }
    }
    .item:hover {
      -webkit-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
    }
    .item.magenta {
      border: 2px solid #e20074;
      padding: 50px 18px;
    }
    .item .magenta-header {
      top: -13px;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      span {
        color: #fff;
        padding: 3px 8px 3px 8px;
        background-color: #e20074;
        font-size: 16px;
      }
    }
  }
}

#content #sec-7 {
  background-color: #fff;
  background: url("../img/bg_darovat_2560.jpg") no-repeat 50% 50%;
  padding: 80px 0;

  @media screen and (max-width: 1366px) {
    background: url("../img/bg_darovat.jpg") no-repeat 50% 50%;
  }

  @media screen and (max-width: 768px) {
    background: url("../img/bg_darovat_desktop.jpg") no-repeat 50% 50%;
    padding: 70px 0;
  }

  @media screen and (max-width: 480px) {
    padding: 60px 0;
    background: url("../img/bg_darovat_mobil.jpg") no-repeat 50% 50%;
  }

  .row {
    h2 {
      color: #262626;
    }

    .sec-content {
      padding-right: 60px;

      @media screen and (max-width: 1000px) {
        padding-right: 15px;
      }

      @media screen and (max-width: 480px) {
        .link {
          display: block;
          text-align: center;
        }
      }

      @media screen and (max-width: 400px) {
        .link {
          display: block;
          text-align: left;
        }
      }

      .heapBox {
        max-width: 280px;

        .holder,
        .handler {
          background-color: #fff;
        }
      }

      .data {
        margin-top: 20px;

        span {
          font-weight: 600;
          font-size: 32px;
        }
      }

      .sel-desc {
        margin-bottom: 0;
      }

      .cont-link {
        margin: 30px 0 20px 0;

        a:first-of-type {
          margin-right: 10px;
        }

        @media screen and (max-width: 900px) {
          a {
            min-width: 205px;
            text-align: center;
          }

          a:first-of-type {
            margin-bottom: 20px;
          }
        }

        @media screen and (max-width: 655px) {
          margin: 20px 0 10px 0;
        }

        @media screen and (max-width: 480px) {
          a {
            min-width: calc(50% - 8px);
            padding: 8px 0;
          }
        }

        @media screen and (max-width: 400px) {
          a {
            min-width: 205px;
          }

          margin-bottom: 20px;
        }
      }
    }

    .sec-img {
      img {
        @media screen and (max-width: 767px) {
          display: none;
        }

        @media screen and (max-width: 480px) {
          display: initial;
          max-width: 140px;
        }
      }
    }
  }
}

/* SEC - 2 */
#content {
  #sec-2 {
    background-color: #fff;
    padding-top: 0;

    .slider {
      max-width: 675px;

      @media screen and (max-width: 800px) {
        max-width: 80%;
      }

      @media screen and (max-width: 450px) {
        max-width: 60%;
      }
    }

    & h3 {
      margin-top: 60px;
      font-size: 32px;
      color: #262626;
      font-weight: 600;
      text-align: center;
    }

    section.default {
      margin-top: 20px;
    }

    & .legal-desc {
      text-align: left;
      margin-top: 20px;
      font-size: 14px;
      color: #6c6c6c;
      margin-bottom: 5px;
    }

    & .ben-p {
      padding: 10px;
      text-align: center;

      .ben-cont {
        margin-bottom: 30px;
        width: 260px;
      }

      & .flex-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      & p.desc {
        margin: 0 0 5px 0;
      }

      & p.subtitle {
        padding: 0 70px;
      }

      p.rtpl-name {
        background-color: #e20074;
        color: #fff;
        padding: 2px 30px;
        display: initial;
        font-size: 20px;
        font-weight: bold;
      }

      .ben-cont-m {
        color: #262626;
        min-height: 48px;
        margin-top: 10px;
      }

      .ben-inline {
        display: inline-block;
        width: 40%;
      }

      .ben-label {
        font-size: 14px;
      }

      .ben-price {
        font-size: 24px;
        padding-bottom: 7px;
      }

      .ben-hr {
        padding: 0 30px 0 30px;
        margin-bottom: 7px;
      }

      .ben-hr > div {
        border-bottom: solid 1px #ccc;
      }
    }

    & .wrapper {
      display: flex;
      justify-content: center;
      border: 1px solid #ccc;
      align-items: initial;

      & h3 {
        color: #e20074;
        text-align: left;
        margin: 10px 0 10px;
      }

      & .action-buttons {
        text-align: left;
      }

      & .text {
        padding: 50px 50px;
      }

      & .link {
        text-decoration: none;
        padding-left: 10px;
      }

      @media screen and (max-width: 768px) {
        .action-buttons {
          text-align: center;
        }

        .btn {
          width: 100%;
          margin-bottom: 10px;
        }

        .link {
          padding: 0;
          margin-bottom: 10px;
        }

        .text {
          padding: 20px 15px;
        }
      }
    }

    & .prenos-dat {
      & .text {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .img {
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media screen and (max-width: 768px) {
        .img {
          display: none;
        }
      }
    }

    & .ostatneVyhody {
      & .dataBlock {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
      }

      & .dataBlock p {
        margin: 0;
      }

      @media screen and (max-width: 768px) {
        .vyhody div:first-of-type {
          padding-top: 20px;
          padding-bottom: 0px;
        }

        .vyhody div:last-of-type {
          padding-top: 0px;
          padding-bottom: 20px;
        }

        a {
          text-align: center;
        }
      }
    }

    & .volania-zadarmo {
      & .text {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      & .img {
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
      }

      & img {
        height: 300px;
      }

      @media screen and (max-width: 768px) {
        .img {
          display: none;
        }
      }
    }

    & .dataNavzajom {
      & h2 {
        font-size: 32px;
        color: #e20074;
        text-transform: uppercase;
        font-weight: 500;
      }

      & .img {
        background: url(../img/darovanie_dat.jpg) 50% 50% no-repeat;
        min-height: 375px;
        background-size: cover;
      }

      & .heapBox {
        width: 60%;
      }

      @media screen and (max-width: 768px) {
        h2 {
          font-size: 25px;
        }

        .img {
          display: none;
        }

        & .heapBox {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 768px) {
      & .ben-p {
        & p.subtitle {
          padding: 0 10px;
        }
      }
    }

    @media screen and (max-width: 480px) {
      margin-top: 40px;

      .ben-p {
        border-top: solid 1px #ccc;
      }

      h3 {
        margin-top: 40px;
      }
    }

    // tab
    .tab__holder {
      overflow-y: hidden;
    }

    .tabs-menu {
      border-bottom: 1px solid #dbdbdb;
    }

    .tab {
      border-top: 0;
    }

    .tabs-menu {
      float: none;
      display: inline-block;
      margin: 0px;

      @media screen and (max-width: 520px) {
        margin: 0 auto;
        position: relative;
        overflow-y: hidden;
        text-align: left;
        min-width: 800px; // set width of tabs menu
      }

      li.current {
        border-bottom: 4px solid #6bb324;

        a {
          color: #6bb324;
        }
      }
    }

    .tabs-menu li {
      float: none;
      display: inline-block;

      @media screen and (max-width: 520px) {
        width: auto;
        border: none;

        /*        &:last-of-type() {
          border-bottom: none;
        }*/
      }

      &.current {
        @media screen and (max-width: 520px) {
          width: auto;
          border: none;
          border-bottom: 4px solid #6bb324;
        }
      }
    }

    .tabs-menu li a {
      padding: 0 10px;
    }

    .tabs-menu li:first-of-type {
      margin-left: 20px;
    }

    .tabs-menu li:last-of-type {
      margin-right: 20px;
    }
  }
}

/* SEC - 3 */

#sec-3 {
  h2 {
    padding: 0;
    color: #262626;
    font-weight: 600;
  }

  .tab-acc {
    margin-top: 30px;
    vertical-align: top;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tab-img-cont {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .tab-acc-cont {
    display: block;
    width: 100%;
    margin-right: 40px;
  }

  .tab-ex {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    cursor: default;

    & p {
      margin: 0;
    }

    & div.tab-ex-result {
      color: #e20074;
    }

    & div.tab-ex-result.web-zlava {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 3px;
      font-weight: bold;
    }

    & .info-akcia {
      margin-top: 20px;
    }
  }

  p.tab-ex-cap:nth-child(1n + 4) {
    margin-top: 30px;
  }

  .b-top {
    border-top: solid 1px #ddd;
    padding-top: 10px;
    margin-top: 10px;
  }

  .old-price {
    text-decoration: line-through;
  }

  .discont {
    color: $magenta;
    font-weight: 600;
  }

  .gray {
    color: #a4a4a4;
  }

  .tab-ex-row {
    display: flex;
    justify-content: space-between;

    &.right {
      justify-content: flex-end;
    }
  }

  .tab-acc-sub {
    display: block;
    width: 310px;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    align-items: center;
    border: 0;
    margin-bottom: 30px;
    cursor: pointer;
  }

  .tab-acc-sub:hover {
    box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 12px 5px rgba(0, 0, 0, 0.1);
  }

  .tab-acc-cont-label {
    margin-bottom: 15px;
    font-weight: 600;
  }

  .modrePole {
    background: #cfe0ef;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    margin: 25px 0;
    text-align: center;
  }

  .modrePole .button {
    font-size: 16px !important;
  }

  .modrePole .button span {
    display: block;
    line-height: 1.4em;
  }
}

#content {
  #sec-4 {
    background-color: #fff;

    .wrapper {
      padding: 35px;
      border: 1px solid #e6e6e6;
    }

    .faq__item {
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 15px;
      padding-bottom: 15px;
    }

    .arrow-content {
      display: none;
    }

    .arrow-right {
      content: "";
      display: inline-block;
      margin-right: 5px;
      width: 0;
      height: 0;
      margin-left: 10px;
      vertical-align: baseline;
      border-style: solid;
      border-width: 4.5px 0 4.5px 6px;
      border-color: transparent transparent transparent #007faf;
      transition: all 300ms;
    }

    .arrow-rotate {
      transform: rotate(90deg);
    }

    .datapack {
      color: #e20074;
    }

    .datatable td {
      min-width: 100px;
      font-size: 16px;
    }

    .datalist {
      font-size: 16px;
      list-style: square;
    }
  }
}

#content #sec-8 {
  background-color: #f2f2f2;

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .tab {
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 90px 100px;
    //margin-left: 15px;
  }

  .tab-menu {
    color: #333;
    display: block;
    height: 23px;
  }

  .tab__holder {
    margin-bottom: 130px;
  }

  #tab_krok_1,
  #tab_krok_2,
  #tab_krok_3 {
    margin: 0px;
  }

  #tab_krok_1 {
    display: block;
  }

  #tab_krok_2 {
    .tab-box__content {
      > div {
        padding-left: 20px;
        padding-right: 20px;
      }

      > div:first-of-type {
        @media (max-width: 768px) {
          margin-bottom: 50px;
        }
      }

      .desc {
        min-height: 90px;

        @media (max-width: 900px) {
          min-height: 135px;
        }

        @media (max-width: 767px) {
          min-height: auto;
        }
      }
    }
  }

  li {
    width: auto !important;
    text-align: center;
    vertical-align: middle;
    border: none;
  }

  .variant {
    max-width: 220px;
    min-width: 220px;
  }

  .tabs-menu a {
    padding: 0px;
  }

  .tab-separator {
    position: relative;
    border-bottom: #ddd 1px solid;
    top: 26px;
    margin: 0 auto;
    max-width: 440px;
  }

  .trian {
    display: none;
  }

  .tab a {
    margin-top: 30px;
  }

  .step-ico-active,
  .step-ico-ok {
    display: none;
  }

  .current b {
    color: #666 !important;
  }

  .current .trian {
    display: block;
    margin: 9px auto;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    border-bottom: solid 35px #fff;
    filter: drop-shadow(0 -35px 30px rgba(0, 0, 0, 0.1));
    height: 0;
    width: 0;
  }

  .current .step-ico-active {
    display: inline-block !important;
  }

  .current .step-ico {
    display: none !important;
  }

  @media (max-width: 768px) {
    .tab {
      padding: 60px 60px;
    }

    .tab__holder {
      margin-bottom: 125px;
    }

    .tabs-menu b {
      display: none;
    }

    .tab-separator {
      min-width: 200px;
      max-width: 200px;
    }

    .variant {
      min-width: 100px;
      max-width: 100px;
    }

    .current .trian {
      margin: 9px auto;
      border-left: solid 28px transparent;
      border-right: solid 28px transparent;
      border-bottom: solid 28px #fff;
    }
  }

  @media (max-width: 520px) {
    .tabs-menu {
      width: unset !important;
    }

    .tabs-menu li a {
      display: inline-block;
    }

    .current .trian {
      margin: 39px auto;
    }
  }

  @media (max-width: 480px) {
    .variant {
      min-width: 90px;
      max-width: 90px;
    }

    .tab {
      padding: 25px 25px;
    }

    .tab-box {
      font-size: 16px;
    }

    .tab__holder {
      margin-bottom: 100px;
    }

    .current .trian {
      margin: 10px auto;
    }
  }
}

.heapBox {
  z-index: 1 !important;
}

/* popups */
.christmasPopup {
  .p-content {
    padding: 20px;
    .data {
      padding: 0 20%;
      display: block;
    }

    h4 {
      text-align: center;
      font-weight: bold;
    }

    .desc-1 {
      padding-top: 10px;
      font-weight: bold;
      font-size: 16px;
    }

    .desc-2 {
      padding-top: 10px;
      padding-bottom: 5px;
    }

    .close {
      text-align: center;
    }

    p {
      margin: 5px 0;
    }
  }
}
.fancybox-skin {
  .p-head {
    .p-close {
      margin-right: 6px;
      margin-top: 6px;
    }
  }
}
