/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';

/* ===============
   CSS FOR MICROSITE
   =============== */

@media screen and (max-width: 768px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

.section {
    padding: 20px 0;
}

hr.divider-horizontal {
    border-top: 1px solid #d2d2d2;
}

.hero-box {
    min-height: 300px;
}


/* HERO */

#content .section__title {
    margin: 60px 0 25px 0;
    font-size: 34px;
    color: #e20074;
    padding: 0;
    letter-spacing: -1px;
}

.hero-img img {
    margin-top: 45px;
}

@media screen and (min-width: 768px) {
    .hero-img {
        padding-right: 0;
    }
    .hero-img img {
        float: right;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-img img {
        width: 100%;
        float: right;
    }
}

@media screen and (max-width: 400px) {
    .hero-img img {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hero-img {
        text-align: center;
    }
}


/* Grid */

.col-group {
    text-align: center;
    max-width: 570px;
    width: 100%;
    margin: 0 auto;
}

.col-group:after {
    content: "";
    display: table;
    clear: both;
}

#content .grid-g__col_6 {
    width: 48.93617%;
    float: left;
}

#content .grid-g__col_6:last-of-type {
    float: right;
}

#content .item__title {
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

#content .item__desc {
    padding: 0;
    margin: 5px 0;
}

#content .item__link {
    color: #007faf;
    text-decoration: underline;
    font-size: 16px;
    margin-top: 0;
    padding-top: 0;
}

#content .info {
    text-decoration: underline;
    cursor: pointer;
}

.tooltip .qtip-content {
    font-size: 16px;
}

#pecka-info,
#xsmini-info {
    display: none;
    padding: 20px;
    color: #4b4b4b;
}

#pecka-info .magenta,
#xsmini-info .magenta {
    color: #e20074;
}

#pecka-info .header,
#xsmini-info .header {
    font-size: 2em;
    color: #e20074;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
}

.content .row1-1,
.content .row2-1,
.content .row3-1 {
    color: #4b4b4b;
    font-weight: bold;
    padding-top: 20px;
}

.content .row1-2,
.content .row2-2,
.content .row3-2 {}

.td-left {
    width: 150px;
    font-weight: normal;
    padding-right: 10px;
}

.row3-3 {
    padding-top: 0;
}

.row4-1 {
    padding-top: 20px;
    color: #6c6c6c;
}

.grey {
    color: #a4a4a4;
    font-weight: normal;
}

.waterbear-theme .content td {
    padding-left: 0;
}

@media screen and (max-width: 500px) {
    #content .grid-g__col_6 {
        width: 100%;
    }
}
