
<section class="section forum-section">
	<div class="container-fixed">
		<div class="title-line-through">
			<div class="lineForum"></div>
			<h4 class="fs-title">Telekom fórum</h4>
		</div>
		<p class="fs-description">Poraďte sa o internete, volaniach, televízii, zdieľajte svoje skúsenosti alebo pomôžte ostatným!</p>
		<div class="row forum">
			<!-- <div class="col-6">
				<div class="forum-table ft__topics">
				</div>
			</div> -->
			<div class="col-12 posts-divider clearfix">
				<div class="forum-table ft__posts">
					<!-- posts here -->
				</div>
			</div>
		</div>
		<div class="forum-cta">
			<a href="https://forum.telekom.sk/" target="_blank" class="btn">PREJSŤ NA TELEKOM FÓRUM</a>
		</div>
	</div>
</section>
<script type="text/javascript" src="../assets/js/forum.js"></script>

