<div id="web_service_error" class="popup-cont">
    <div class="p-head">
        <div class="p-close" ng-click="$ctrl.closePopup()">
            <a class="close-btn no-href"></a>
        </div>
    </div>
    <div class="p-content">
        <div class="popup-lightbox">
            <p>Služba je momentálne nedostupná. Vyskúšajte si sami zadať všetky potrebné údaje.</p>
        </div>
    </div>
</div>
<div id="phone_not_code" class="popup-cont">
    <div class="p-head">
        <div class="p-close" ng-click="$ctrl.closePopup()">
            <a class="close-btn no-href"></a>
        </div>
    </div>
    <div class="p-content">
        <div class="popup-lightbox">
            <p>Zadané číslo nebolo nájdené. Skúste znova.</p>
        </div>
    </div>
</div>
<div id="sms_code_error" class="popup-cont">
    <div class="p-head">
        <div class="p-close" ng-click="$ctrl.closePopup()">
            <a class="close-btn no-href"></a>
        </div>
    </div>
    <div class="p-content">
        <div class="popup-lightbox">
            <p>Zadali ste chybný SMS kód</p>
        </div>
    </div>
</div>
<div id="phone_not_t" class="popup-cont">
    <div class="p-head">
        <div class="p-close" ng-click="$ctrl.closePopup()">
            <a class="close-btn no-href"></a>
        </div>
    </div>
    <div class="p-content">
        <div class="popup-lightbox">
          <div class="nott-content">
            <h2>VAŠE ČÍSLO NIE JE TELEKOM</h2>
            <p>
                Využívate služby iného operátora?
                <br />Nevadí. Aj tak si môžete vyskúšať našu Magenta 1 kalkulačku a zistiť, aké výhody môžete získať.
            </p>
            <a class="btn btn_outline no-href" ng-click="$ctrl.reload(1)">CHCEM TO VYPOČÍTAŤ</a>
            <h2>POTREBUJETE POMÔCŤ?</h2>
            <p>
                Nechajte nám číslo, ozveme sa vám s detailami ponuky.
            </p>
            <p class="number-inputfield">
                <input id="msid_not_t" type="text" name="msid" placeholder="napr. 0911 258 785" ng-minlength="10" ng-maxlength="10" required autocomplete="off" />
                <div class="error-msg" ng-show="$ctrl.showError!=null">
                    <span>{{ $ctrl.showError }}</span>
                </div>                    
            </p>
            <p class="btn-zavolajte"><input  class="btn cta" type="button" ng-click="$ctrl.sendForm('msid_not_t')" value="ZAVOLAJTE MI" /></p>
          </div>
        </div>
    </div>
</div>
<div id="phone_has_m1" class="popup-cont">
    <div class="p-head">
        <div class="p-close" ng-click="$ctrl.closePopup()">
            <a class="close-btn no-href"></a>
        </div>
    </div>
    <div class="p-content">
        <div class="popup-lightbox">
            <div class="nott-content">
                <h2>TOTO ČÍSLO JE UŽ V MAGENTA 1 SKUPINE</h2>
                <p>Aj tak si môžete vyskúšať našu Magenta 1 kalkulačku a zistiť, ktorá kombinácia paušálov a pevných služieb by vám vyhovovala najviac</p>
                <a class="btn btn_outline no-href" ng-click="$ctrl.reload(1)">CHCEM TO VYPOČÍTAŤ</a>
            </div>
        </div>
    </div>
</div>
<div id="phone_not_use" class="popup-cont">
    <div class="p-head">
        <div class="p-close" ng-click="$ctrl.closePopup()">
            <a class="close-btn no-href"></a>
        </div>
    </div>
    <div class="p-content">
        <div class="popup-lightbox">
          <div class="notuse-content">
            <h2>ĽUTUJEME, TOTO ČÍSLO NEMÔŽE VYUŽIŤ VÝHODY MAGENTA 1 SKUPINY</h2>
            <p>
                Momentálne využívate špeciálny program a nemôžeme vám ponúknuť výhodnejšie podmienky vďaka Magenta 1 skupine.
            </p>
            <p>
                Vaše otázky radi zodpovieme. Nechajte nám vaše číslo a my vám zavoláme.
            </p>
            <p class="number-inputfield">
                <input id="msid_not_use" type="text" name="msid" placeholder="napr. 0911 258 785" ng-minlength="10" ng-maxlength="10" required autocomplete="off" />
                <div class="error-msg" ng-show="$ctrl.showError!=null">
                    <span>{{ $ctrl.showError }}</span>
                </div>            
            </p>
            <p class="btn-zavolajte"><input  class="btn cta" ng-click="$ctrl.sendForm('msid_not_use')" type="button" value="ZAVOLAJTE MI" /></p>
            <p>Chcete si to aj tak skúsiť?</p>
          </div>
            <a class="btn btn_outline no-href" ng-click="$ctrl.reload(1)">CHCEM TO VYPOČÍTAŤ</a>
        </div>
    </div>
</div>
