<section class="section sec-2" id="sec-2">
	<div class="fixed-column">
		<!--         <p class="section__title margin_top20">MAGIO INTERNET</p> -->
		<div class="sec2__row text_centered">

			<div class="grid__col_4__custom">
				<img alt=" " src="../assets/img/box1-ico.png" />
				<p class="sec2__description">
					<span class="sec2__title">MAGIO INTERNET</span><br />
					S rýchlosť do 300/30 Mb/s.<br />
					Neobmedzený objem dát.<br />
					Stabilné a spoľahlivé pripojenie</p>
				<div class="sec2__price">
					od <span class="sec2__priceBig">10 €</span> / mes.
				</div>
			</div>

			<div class="grid__col_4__custom col_border">
				<img alt=" " src="../assets/img/box2-ico.png" />
				<p class="sec2__description">
					<span class="sec2__title">MAGIO TELEVÍZIA</span><br />
					Až 113 TV staníc.<br />
					Programy v HD kvalite.<br />
					Množstvo užitočných funkcií.</p>
				<div class="sec2__price">
					od <span class="sec2__priceBig">10 €</span> / mes.</div>
			</div>

			<div class="grid__col_4__custom">
				<img alt=" " src="../assets/img/box3-ico.png" />
				<p class="sec2__description">
					<span class="sec2__title">UŠETRITE S CHYTRÝM BALÍKOM</span><br />
					Vezmite si napr. k Magio televízii aj Magio internet a ušetríte!</p>
				<p class="sec2__description">
					Vyskúšajte si <a class="sec2__link" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">kalkulačku Chytrého balíka</a></p>
			</div>

		</div>
	</div>
</section>
