<div class="c-row c-row-4">
	<div class="c-content">
		<div class="c-form" id="c-form">
			&nbsp;</div>
		<div class="c-img">
			&nbsp;</div>
		<div class="contact_right_col">
			<div class="contact-item">
				<img alt="" src="../assets/img/ins_page_form.png" />
				<p class="sec8__description">
					Zavoláme vám späť<br />
					do 3 dní<br />
					<span class="sec8__lightColor">(okrem nedele)</span><br />
					v čase od 9.00 do 19.00</p>
			</div>
		</div>
	</div>
</div>
