<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/zazraky/vianoce">Zázračné vianočné akcie</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="/documents/10179/17017777/product1.png" href="#"><img src="/documents/10179/17017777/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017777/product2.png" href="#"><img src="/documents/10179/17017777/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017777/product3.png" href="#"><img src="/documents/10179/17017777/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017777/product4.png" href="#"><img src="/documents/10179/17017777/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017777/product5.png" href="#"><img src="/documents/10179/17017777/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="/documents/10179/17017777/product1.png" /></div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="/documents/10179/17017777/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="/documents/10179/17017777/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="/documents/10179/17017777/icon5.png" /> --><!-- OVERLAY VYPREDANE  --><!-- <div class="overlay">
									<img src="/documents/10179/17017777/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
						<div class="box-device">
							<p class="pricing__title magenta-text">
								Vianočná akcia</p>
							<h1 class="bpis__title">
								Robotický vysávač iRobot Roomba 965</h1>
							<p class="bpis__desc">
								Dajte si domácnosť do poriadku bez námahy s inteligentným vysávačom iRobot Roomba 965. Teraz za výhodnú cenu k našim službám.</p>
							<div class="box-device-prices">
								<p class="pricing__title">
									Zobraziť ceny pre:</p>
								<select id="select_program"><option value="l">Magio internet, TV a Pevnú linku L</option><option value="xl">Magio internet, TV a Pevnú linku XL</option></select>
								<table class="pricing-table">
									<tbody>
										<tr class="inner-head no-margin">
											<th colspan="2">
												Mesačne:</th>
										</tr>
										<tr class="no-margin">
											<td>
												Za pevnú službu:</td>
											<td>
												<span class="feePrice">20,00 €</span></td>
										</tr>
										<tr class="no-margin web-action">
											<td>
												<img src="/documents/10179/17017777/ico-1.png" />Web zľava 2. a 3. mesiac</td>
											<td>
												<span class="feePrice">20,00 €</span></td>
										</tr>
										<tr class="no-margin">
											<td>
												Doplatok k službe:</td>
											<td>
												<span class="feePrice">15,00 €</span></td>
										</tr>
										<tr class="one-time-payment">
											<td>
												Jednorazovo pri kúpe:</td>
											<td>
												<span class="feePrice oneTimeFee">1,00 €</span></td>
										</tr>
									</tbody>
								</table>
								<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik" type="button">PREJSŤ K NÁKUPU</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2 segment" data-segment="1" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Dokonale čistá podlaha bez práce</p>
								<p class="feat-desc">
									Vysávač Roomba 965 povysáva hladké povrchy, ale aj koberce. 3-stupňový systém čistenia, bočná kefka, vysokoúčinný AeroForce filter a 5-krát výkonnejší motor* hravo zabezpečí vysatie prachu, vlasov, zvieracích chlpov, ale aj väčších nečistôt ako sú napr. rozsypané cereálie.</p>
								<p class="feat-desc-2">
									*V porovnaní s AeroVac™ systémom Roomba® série 600 a 700.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017777/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Dokonalá orientácia a pamäť</p>
								<p class="feat-desc">
									Vďaka inteligentnej navigácii iAdapt 2.0 s kamerou sa vysávač sám orientuje v celej domácnosti, pamätá si svoju polohu a v prípade potreby sa dobije, aby pokračoval vo vysávaní všetkých miestností ďalej*. S ľahkosťou povysáva aj podlahu pod nábytkom.</p>
								<p class="feat-desc-2">
									*Vysáva až 75 minút a pokiaľ je to potrebné, automatickysa dobije a pokračuje.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017777/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Aplikácia iRobot Home</p>
								<p class="feat-desc">
									Pomocou aplikácie iRobot HOME môžete naplánovať presný čas vysávania alebo prispôsobiť vlastnosti vysávania svojim potrebám kedykoľvek a kdekoľvek. Alebo len jednoducho stlačíte tlačidlo CLEAN priamo na vysávači.</p>
								<p class="feat-desc-2">
									*Niektoré nastavenia vysávania sú dostupné iba cez aplikáciu iRobot HOME.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017777/detail3.jpg" /></div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Čistiaci systém AeroForce</p>
								<p class="feat-desc">
									Proti sebe rotujúce kefy odolné voči namotávaniu vlasov účinne zbierajú nečistoty a nevyžadujú takmer žiadnu údržbu.</p>
								<p class="feat-tit">
									Technológia Dirt Direct</p>
								<p class="feat-desc">
									S technológiou Dirt Direct 2. generácie vysávač aktívne vyhľadáva viac znečistené miesta.</p>
								<p class="feat-tit">
									Vysokovýkonné vysávanie Airflow</p>
								<p class="feat-desc">
									Vysávanie Airflow prudko zvyšuje účinnosť odsávania prachu, nečistôt a alergénov cez utesnený kanál.</p>
							</div>
						</div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Postupné vysávanie miestností</p>
								<p class="feat-desc">
									Pomocou majákov dokáže iRobot Roomba 965 povysávať dve miestnosti (po dokúpení dodatočných majákov aj viac).</p>
								<p class="feat-tit">
									Ešte šetrnejšia k nábytku a stenám</p>
								<p class="feat-desc">
									Vďaka pogumovanému nárazníku so spomaleným dotykom je ešte šetrnejší k nábytku a stenám.</p>
								<p class="feat-tit">
									Signalizácia plného zásobníka</p>
								<p class="feat-desc">
									Vysávač vám sám oznámi, keď je potrebné zásobník na nečistoty vyprázdniť.</p>
							</div>
						</div>
					</div>
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> --></div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th class="first-param" colspan="2">
										Technická špecifikácia</th>
								</tr>
								<tr>
									<td>
										Rozmery:</td>
									<td>
										35,1 x 9,5 cm</td>
								</tr>
								<tr>
									<td>
										Hmotnosť:</td>
									<td>
										3,9 kg</td>
								</tr>
								<tr>
									<td>
										Doba nabíjania:</td>
									<td>
										2 hodiny</td>
								</tr>
								<tr>
									<td>
										Filter:</td>
									<td>
										vysokoúčinný AeroForce filter****</td>
								</tr>
								<tr>
									<td>
										Výdrž batérie:</td>
									<td>
										až 75 minút**</td>
								</tr>
								<tr>
									<td>
										Typ batérie:</td>
									<td>
										Lithium Ion</td>
								</tr>
								<tr>
									<td>
										Objem zásobníka:</td>
									<td>
										0,6 litra</td>
								</tr>
								<tr>
									<td>
										Maximálne pokrytie:</td>
									<td>
										až 185 m2</td>
								</tr>
								<tr>
									<td>
										Maximálna výška prahu:</td>
									<td>
										až 1,6 cm</td>
								</tr>
								<tr>
									<td>
										Hlučnosť:</td>
									<td>
										58 dB***</td>
								</tr>
								<tr>
									<td>
										Obsah balenia:</td>
									<td>
										iRobot Roomba 965<br />
										nabíjacia stanica Home Base<br />
										sieťový kábel<br />
										virtuálna stena Dual Mode Virtual Wall (2 al-kalické AA batérie pribalené)<br />
										1 extra filter</td>
								</tr>
								<tr>
									<td class="table-desc" colspan="2">
										* V porovnaní s AeroVac systémom Roomba série 600 a 700.<br />
										** Testované v laboratóriu iRobot Home Test Lab na pevných podlahách. Výdrž batérie sa môže líšiť.<br />
										*** Zdroj: interné testovanie na koberci.<br />
										**** Použitý vysokoúčinný AeroForce filter zachytí až 99% alergénov, peľu a čiastočiek väčších ako 10 mikromet-rov.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="/documents/10179/17017777/icon-1.png" /></div>
								<p>
									Objednávku vám doručíme kuriérom čo najskôr od jej spracovania.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="/documents/10179/17017777/icon-2.png" /></div>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="/documents/10179/17017777/icon-3.png" /></div>
								<p>
									Ak zistíte, že vám tovar alebo služba nevyhovuje, môžete ich vrátiť do 14 dní bez udania dôvodu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1">
				&nbsp;</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-3 segment">
	<div class="container-fixed">
		<p class="other-action-title">
			Ďalšie zázračné vianočné akcie</p>
		<div class="row">
			<div class="col-md-4 other-action">
				<img src="/documents/10179/17017777/ntbk_lenovo.jpg" />
				<div class="action-name">
					Notebook Lenovo IdeaPad 330-15IGM</div>
				<p class="magenta-text">
					už od 10 € mesačne</p>
				<p>
					k pevným službám</p>
				<a class="btn" href="/zazraky/vianoce/chytry-balik/notebook-lenovo-ideapad-330-15igm">VIAC INFO</a></div>
			<div class="col-md-4 other-action">
				<img src="/documents/10179/17017777/sony.jpg" />
				<div class="action-name">
					Sony Playstation 4, dva ovládače, tri hry a&nbsp;členská karta</div>
				<p class="magenta-text">
					už od 10 € mesačne</p>
				<p>
					k pevným službám</p>
				<a class="btn" href="/zazraky/vianoce/chytry-balik/sony-playstation-4">VIAC INFO</a></div>
			<div class="col-md-4 other-action">
				<img src="/documents/10179/17017777/tv-samsung.jpg" />
				<div class="action-name">
					4K televízor Samsung</div>
				<p class="magenta-text">
					už od 13 € mesačne</p>
				<p>
					k pevným službám</p>
				<a class="btn" href="/zazraky/vianoce/chytry-balik/4k-televizor-samsung">VIAC INFO</a></div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/documents/10179/17017779/main.js?v=2"></script><script type="text/javascript" src="/documents/10179/17017779/detail.js"></script>