<div class="c-content">
    <p>
        <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-mobilnej-siete/">Všeobecné podmienky mobilnej siete</a>&nbsp;a <a href="/documents/10179/499144/Cennik+Rodinny+asistent/">Cenník a podmienky poskytnutia služby Rodinný asistent</a></p>
    <p>
        Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. Viac informácií o službe Rodinný asistent získate na <a href="http://telekom.sk/wiki/rodinnyasistent">www.telekom.sk/wiki/rodinnyasistent</a></p>
</div>
<p>&nbsp;</p>
