<style type="text/css">
.hdl_ec {
        right: 58%;
        top: 40%;
    }

    .detail-lightbox {
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .detail-header {
        font-weight: bolder;
        font-size: 32px;
        padding: 10px 0;
        margin-left: 35%;
        color: #e20074;
    }

    .detail-content {
    }

    .detail-img {
        float: left;
        display: inline-block;
        padding-right: 30px
    }

    .detail-text {
        display: inline-block;
        vertical-align: top;
        padding-left: 47px;
        /*border-left: 1px solid #ededed;*/
    }

    .detail-cena {
        font-weight: bold;
        display: inline-block;
        font-size: 35px;
        text-align: center;
        width: 90%;
        margin-bottom: 15%;
    }

    .detail-rc {
        width: 145px;
    }

    .detail-rc, .detail-oc, .detail-price-cross {
        display: inherit;
        position: relative;
    }

    .detail-rc span, .detail-oc span {
        font-size: 15px;
        position: absolute;
        left: 8%;
        bottom: -30px;
    }

    .detail-oc {
        color: #a4a4a4;
        font-size: 20px;
        margin-left: -10px
    }

    .detail-oc span {
        font-size: 12px;
        top: 22px;
    }

    .detail-price-cross {
        margin-left: -30px;
    }

    .detail-price-cross img {
        vertical-align: bottom;
        width: 45%;
    }

    .detail-vlastnost {
        text-transform: uppercase;
        font-weight: bold;
    }

    .magenta {
        color: #e20074;
    }

    .hero-img-ec {
    position: absolute;
    bottom: 30%;
    right: 0;
}

@media screen and (max-width: 960px) {
    .img-ec-img {
        width: 70%;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .hero-img-ec {
        display: none;
    }
}

.content_hidden {
  display: none; }
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}


    </style>
<script type="text/javascript">$(document).ready(function () {
    $("a#gt-300, a#detail-gt, a#gt-img, a#navigil-s1, a#detail-s1, a#s1-img").fancybox({hideOnContentClick: true})
});
</script>
<div class="c-row">
    <div class="c-content" style="height: 400px;">
        <div class="head_mag_bg">
            <h1 class="h1_margin">
                <b>pomoc ukrytá<br />
                v telefóne<br />
                a hodinkách</b></h1>
                 <div class="hero-img-ec">
                <img class="img-ec-img" src="/documents/10179/485475/ec-akcia.png" alt="akcia">
            </div>
            <div class="falck_logo">
                <img alt="falc" src="/documents/10179/485475/FALCK.png/16e04030-856d-48c0-b0de-e3d403e700db" /></div>
            <div class="head_hw">
                <img alt="img" src="/documents/10179/485475/vec.png/f647aee9-7db6-4ee8-9b40-a8081df09afb" /> <img alt="img" src="/documents/10179/485475/hodinky.png/4d23279a-efd7-478b-8d03-7286f40b6dee" /></div>
            <a class="button green green-margin" href="https://www.telekom.sk/mam-zaujem/sluzba-rodinny-asistent">mám záujem</a></div>
    </div>
</div>
<div class="c-row bg-magenta-transparent">
    <div class="c-content info">
        <div class="img_float_left">
            <img alt="img" src="/documents/10179/485475/pink_img_info.png/5f0838cd-0271-4543-b5d3-13b74d111cdb" /></div>
        <div class="info_text">
            <p>
                Rodinný Asistent slúži na monitorovanie stavu<br />
                starších či chronicky chorých ľudí,<br />
                na lokalizované signalizovanie potenciálne<br />
                rizikovej situácie a na privolanie profesionálnej<br />
                pomoci v prípade potreby.</p>
        </div>
    </div>
</div>
<div class="c-row bg-white">
    <div class="c-content">
        <div class="video_text">
            <p style="float: left;width: 450px;">
                Služba Rodinný asistent pozostáva zo <strong>špeciálneho mobilného zariadenia s vlastnou SIM</strong>, webovej aplikácie a nonstop služieb Dohľadového centra.<br />
                Prostredníctvom zákazníckeho portálu na diaľku nastavíte funkcie <strong>zariadenie</strong> a <strong>určíte udalosti</strong>, ktoré chcete monitorovať,<strong>vytvoríte zdravotný profil</strong> používateľa, uvediete údaje užitočné k jeho záchrane, a mnoho iného. Kľúčovou súčasťou služby je <strong>Dohľadové centrum</strong> vďaka ktorému máte istotu, že o blízkeho je automaticky a okamžite postarané, ako by ste to robili sami.</p>
            <p style="float: right;width: 455px;padding-left: 20px;">
                <iframe allowfullscreen="1" class="videoCanvas" frameborder="0" id="videoDiv" src="https://www.youtube.com/embed/ZO9ai9VtJYQ?autoplay=0&amp;rel=0&amp;controls=0&amp;showinfo=0&amp;enablejsapi=1&amp;origin=http://www.telekom.sk" style="width: 100%;height: 230px;" title="Rodinný asistent"></iframe></p>
        </div>
    </div>
</div>
<div id="elder_bg">
    <div class="c-row c-row2">
        <div class="c-content">
            <h3 style="font-weight: 900; text-transform: uppercase;float: left;margin-bottom: -40px;">
                Jedinečné funkcionality služby Rodinný Asistent</h3>
            <div id="box-nav">
                <div id="box-prev">
                    <img src="https://m.telekom.sk/wb/wearables2/slider/images/slider_left.png" title="Slider" /></div>
                <div id="box-next">
                    <img src="https://m.telekom.sk/wb/wearables2/slider/images/slider_right.png" title="Slider" /></div>
            </div>
            <ul id="sliderbox">
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/sos.png/5d615979-d6d7-4a2a-a711-d16d1645b3bd" /></div>
                        <div class="c-box-desc">
                            <b>SOS tlačidlo</b><br />
                            spoľahlivo privolá pomoc<br />
                            v prípade núdze<br />
                            či nebezpečenstva.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/dohladove_centrum_img.jpg/e30c4556-8435-455f-bc2f-fa314cb695ed" /></div>
                        <div class="c-box-desc">
                            <b>Dohľadové centrum</b><br />
                            24 hodín, 7 dní v týždni<br />
                            Partnerská spoločnosť FALCK poskytuje služby Dohľadového centra nepretržite, 24h denne.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/lokalizacia.png/25f34452-e29d-4b3d-b6ed-69edb771540d" /></div>
                        <div class="c-box-desc">
                            <b>Lokalizácia</b><br />
                            V prípade potreby, určenie polohy zariadenia<br />
                            nie len prostredníctvom GPS, ale aj mimo dosahu GPS vďaka lokalizácii pomocou mobilnej siete.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/detekcia_padu.jpg/f6a471cc-8f64-4ab5-880e-43d031d6820f" /></div>
                        <div class="c-box-desc">
                            <b>Detekcia pádu a senzor<br />
                            nehybnosti.</b><br />
                            Zariadenie zavolá Dohľadové centrum aj<br />
                            v prípade náhleho<br />
                            pádu a následnej nehybnosti zariadenia.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/vodeodolnost.jpg/797861e0-0920-437b-8640-6d49748b548f" /></div>
                        <div class="c-box-desc">
                            <b>Vodeodolnosť</b><br />
                            Hodinky Navigil S1 sú odolné voči špliechajúcej vode<br />
                            a krátkemu ponoreniu pri bežných domácich činnostiach či osobnej hygiene. Zariadenie GT300 nie je voči vode odolné.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/geozony.png/740d3c22-5c5a-45d7-8289-70957803a556" /></div>
                        <div class="c-box-desc">
                            <b>Bezpečné geozóny</b><br />
                            Upozorní na vstup<br />
                            či opustenie vymedzeného územia, napr. domov, záhrada<br />
                            a pod.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/zdravotne+data.jpg/5b563800-7149-4be2-9c1e-3c6cc4940129" /></div>
                        <div class="c-box-desc">
                            <b>Zdravotné dáta</b><br />
                            Možnosť uviesť informácie<br />
                            o zdravotnom stave<br />
                            používateľa,<br />
                            ktoré uľahčia<br />
                            a urýchlia pomoc<br />
                            či záchranu.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/notifikacie.jpg/7c309049-14e0-40db-a474-d3b3a177e1fb" /></div>
                        <div class="c-box-desc">
                            <b>Okamžité notifikácie</b><br />
                            Zariadenie vám vďaka svojmu napojeniu<br />
                            platformu umožňuje mať prehľad o stave vášho blízkeho takmer neustále.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/kontrola_dostupnosti.jpg/8fea1a43-752d-4ab9-8fd7-5a118d7ea0d5" /></div>
                        <div class="c-box-desc">
                            <b>Kontrola dostupnosti<br />
                            zariadenia</b><br />
                            Aktívne monitorovanie činnosti zariadenia<br />
                            (má signál, je zapnuté).<br />
                            Ak sa zariadenie ocitne mimo signálu alebo je zariadenie dokonca vypnuté, systém to zaznamená a vyšle alarm.</div>
                    </div>
                </li>
                <li>
                    <div class="c-box c-box-1">
                        <div class="c-box-img2">
                            <img src="/documents/10179/485475/stav_baterie.jpg/98e08f79-c2e0-4f99-be72-7294742723da" /></div>
                        <div class="c-box-desc">
                            <b>Stav batérie</b><br />
                            Aktívne monitorovanie<br />
                            stavu batérie</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="c-row bg-magenta-transparent">
        <div class="c-content center">
            <div class="benefity_text1">
                <h3>
                    Výhody pre používateľa</h3>
                <ul>
                    <li>
                        mobilné zariadenie s jednoduchou obsluhou</li>
                    <li>
                        pocit istoty a bezpečia v každej situácii, doma aj kdekoľvek vonku</li>
                    <li>
                        zaistenie rýchlej a účinnej pomoci v prípade potreby</li>
                    <li>
                        predĺženie samostatnosti vo vlastnom domove</li>
                    <li>
                        zastihnuteľnosť - možnosť volať a prijímať hovory</li>
                    <li>
                        kontakt s Dohľadovým centrom, či blízkymi</li>
                    <li>
                        riešenie urgentných aj neurgentných stavov</li>
                    <li>
                        Rodinný asistent upokojí, poradí a vypočuje</li>
                </ul>
            </div>
            <div class="benefity_text2">
                <h3>
                    Výhody pre rodinu a blízkych</h3>
                <ul>
                    <li>
                        sofistikované funkcionality a komplexné služby</li>
                    <li>
                        pocit kľudu a istoty, vďaka dohľadu nad blízkou osobou 24 hodín denne a včasnému privolaniu pomoci</li>
                    <li>
                        informovanosť o udalosti a jej riešení</li>
                    <li>
                        možnosť nastavenia zariadenia a služby na diaľku</li>
                    <li>
                        bezstarostné riešenie – používanie, či nabíjanie zariadenia pripomenie Dohľadové centrum</li>
                    <li>
                        efektívna a kvalifikovaná pomoc</li>
                </ul>
            </div>
            <a class="button green bene-btn" href="https://www.telekom.sk/mam-zaujem/sluzba-rodinny-asistent" style="">mám záujem</a></div>
    </div>
    <div class="c-row bg-white-transparent">
        <div class="c-content">
            <div class="devices">
            <!-- GT 300 -->
                <div class="device" style="border-right:1px solid #ededed;">
                    <div class="device_header text-center ">
                        GT300
                    </div>
                     <br>
                    <div class="device_img text-center ">
                        <a href="#gt-300" id="gt-img"><img alt="img" src="/documents/10179/485475/vec.png/f647aee9-7db6-4ee8-9b40-a8081df09afb" /></a>
                    </div>
                    <div class="device-controls text-center ">
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/default1.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/1.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/2.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/3.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/4.png" /></a>
                    </div>
                   <p>&nbsp;</p>
                    <div class="device_desc">
                        SOS volanie, <strong>detekcia pádu</strong>, senzor
                        <br /> nehybnosti, volanie <strong>100 minút</strong> zo zariadenia
                        <br /> 4 osobám na rýchlej voľbe, neobmedzené prijímanie hovorov, nosenie na krku / vo vrecku, veľké tlačidlá pre vytáčanie
                    </div>
                    <div class="detail-text text-left"><br>
                        <a href="#" onclick="$('#gt300-list').toggle('slow');return false;">Technické parametre </a>
                        <br>
                        <div id="gt300-list" class="content_hidden">
                            <ul class="list-square">
                                <li> Celková hmotnosť: 75 g</li>
                                <li> Rozmery (v x š x h): 87mm x 44.5mm x 17.8mm</li>
                                <li> Displej: 1.3”, 128x96</li>
                                <li> Typ displeja: biely OLED</li>
                                <li> Farba: čierna</li>
                                <li> Zhotovenie krytu: plast</li>
                                <li> Typ SIM karty: 2FF</li>
                                <li> Štandardná batéria: 850mAh</li>
                                <li> Pohotovostný režim: 150 hod</li>
                                <li> GPRS: áno</li>
                                <li> Prevádzkové frekvencie: 850/900/1800/1900 MHz.</li>
                                <li> GPS: Áno</li>
                                <li> Ďalšie funkcie: Detektor pádu, Senzor nehybnosti,
                                    <br /> Interný 3D akcelerometer pre úsporu energie</li>
                                <li> Príslušenstvo: nabíjačka – mini USB</li>
                            </ul>
                        </div>
                    </div>
                </div>
            <!-- Navigil S1 -->
                <div class="device">
                    <div class="device_header text-center">
                        navigil s1</div>
                         <br>
                    <div class="device_img text-center">
                        <a href="#navigil-s1" id="s1-img"><img alt="img" src="/documents/10179/485475/hodinky.png/4d23279a-efd7-478b-8d03-7286f40b6dee" /></a>
                    </div>
                    <div class="device-controls text-center">
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/default2.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/5.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/6.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/7.png" /></a>
                        <a href="#"><img alt=" " src="https://www.telekom.sk/documents/10179/597984/8.png" /></a>
                    </div>
                   <p>&nbsp;</p>
                    <div class="device_desc">
                        SOS volanie (stlačením korunky), senzor nehybnosti, volanie <strong>100 minút</strong> zo zariadenia, neobmedzené prijímanie hovorov, neustále
                        <br /> na ruke, <strong>vhodné aj pri kardiostimulátore,</strong> <strong>vodeodolnosť</strong>, bluetooth 4.0</div>
                    <div class="detail-text text-left">
                    <br/> 
                    <a href="#" onclick="$('#s1-list').toggle('slow');return false;">Technické parametre </a>
                    <br/>
                        <div id="s1-list" class="content_hidden">
                              <ul class="list-square">
                                <li> Celková hmotnosť: 64 g</li>
                                <li> Displej: Dvojriadkový OLED displej</li>
                                <li> Farba: čierna</li>
                                <li> Zhotovenie krytu: plast</li>
                                <li> Typ SIM karty: MFF2</li>
                                <li> Štandardná batéria: 500mAh</li>
                                <li> Pohotovostný režim: 96 hod</li>
                                <li> GPRS: áno</li>
                                <li> GPS: A-GPS/GLONASS lokalizácia</li>
                                <li> Ďalšie funkcie: Senzor nehybnosti,Interný 3D
                                    <br /> akcelerometer pre úsporu energie a detekciu pohybu,
                                    <br /> podpora bezdrôtových senzorov</li>
                                <li> Príslušenstvo: nabíjačka - dokovacia stanica
                                    <br /> s mikro USB konektorom</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="detail">
    <div class="detail-lightbox" id="gt-300">
        <div class="detail-header">
            GT300</div>
        <div class="detail-content">
            <div class="detail-img">
                <img alt="detail-obr" src="/documents/10179/485475/vec.png/f647aee9-7db6-4ee8-9b40-a8081df09afb" style="vertical-align: top;" /></div>
            <div class="detail-text">
                <ul class="list-square">
                    <li>
                        Celková hmotnosť: 75 g</li>
                    <li>
                        Rozmery (v x š x h): 87mm x 44.5mm x 17.8mm</li>
                    <li>
                        Displej: 1.3”, 128x96</li>
                    <li>
                        Typ displeja: biely OLED</li>
                    <li>
                        Farba: čierna</li>
                    <li>
                        Zhotovenie krytu: plast</li>
                    <li>
                        Typ SIM karty: 2FF</li>
                    <li>
                        Štandardná batéria: 850mAh</li>
                    <li>
                        Pohotovostný režim: 150 hod</li>
                    <li>
                        GPRS: áno</li>
                    <li>
                        Prevádzkové frekvencie: 850/900/1800/1900 MHz.</li>
                    <li>
                        GPS: Áno</li>
                    <li>
                        Ďalšie funkcie: Detektor pádu, Senzor nehybnosti,
                        <br /> Interný 3D akcelerometer pre úsporu energie</li>
                    <li>
                        Príslušenstvo: nabíjačka – mini USB</li>
                </ul>
                <div style="border-top: 1px solid #ededed; margin-top: 25px;">
                    &nbsp;</div>
                <div class="detail-cena">
                    <div class="detail-rc magenta">
                        14<sup>90 </sup>€ * <span>mesačne<br />
                        (pre Rodinný Asistent)</span></div>
                    <div class="detail-price-cross">
                        <img alt="cross" src="/documents/10179/485475/icon-plus-price-35.png/78c293ee-17cd-4c4f-8d81-eee3515818d8" /></div>
                    <div class="detail-oc">
                        59<sup>00 </sup>€ <span>jednorázovo</span></div>
                </div>
                <p>
                    *platí pri dvojročnej viazanosti</p>
            </div>
        </div>
    </div>
    <div class="detail-lightbox" id="navigil-s1">
        <div class="detail-header" style="margin-left: 42%;">
            NAVIGIL S1</div>
        <div class="detail-content">
            <div class="detail-img">
                <img alt="detail-obr" src="/documents/10179/485475/hodinky.png/4d23279a-efd7-478b-8d03-7286f40b6dee" style="vertical-align: top;" /></div>
            <div class="detail-text">
                <ul class="list-square">
                    <li> Celková hmotnosť: 64 g</li>
                    <li> Displej: Dvojriadkový OLED displej</li>
                    <li> Farba: čierna</li>
                    <li> Zhotovenie krytu: plast</li>
                    <li> Typ SIM karty: MFF2</li>
                    <li> Štandardná batéria: 500mAh</li>
                    <li> Pohotovostný režim: 96 hod</li>
                    <li> GPRS: áno</li>
                    <li> GPS: A-GPS/GLONASS lokalizácia</li>
                    <li> Ďalšie funkcie: Senzor nehybnosti,Interný 3D
                        <br /> akcelerometer pre úsporu energie a detekciu pohybu,
                        <br /> podpora bezdrôtových senzorov</li>
                    <li> Príslušenstvo: nabíjačka - dokovacia stanica
                        <br /> s mikro USB konektorom</li>
                </ul>
                <div style="border-top: 1px solid #ededed; margin-top: 25px;">
                    &nbsp;</div>
                <div class="detail-cena">
                    <div class="detail-rc magenta">
                        14<sup>90 </sup>€ * <span>mesačne<br />
                        (pre Rodinný Asistent)</span></div>
                    <div class="detail-price-cross">
                        <img alt="cross" src="/documents/10179/485475/icon-plus-price-35.png/78c293ee-17cd-4c4f-8d81-eee3515818d8" /></div>
                    <div class="detail-oc">
                        169<sup>00 </sup>€ <span>jednorázovo</span></div>
                </div>
                <p>
                    *platí pri dvojročnej viazanosti</p>
            </div>
        </div>
    </div>
</div> -->

<p>&nbsp;</p>
