<section id="hero" class="fixed-column margin_top20">
    <div class="grid__col_7">
        <div class="hero__content hero_squares hero_no-offset">
            <h1 class="hero__title">
        <strong>"Hodinky, ktoré dokáŽu zachrániŤ Život."</strong></h1>
            <p class="hero__sub_title"><b>Služba Rodinný asistent</b></p>
            <p class="hero__desc">Rodinný Asistent slúži na monitorovanie stavu starších či chronicky chorých ľudí, na lokalizované signalizovanie potenciálne rizikovej situácie a na privolanie profesionálnej pomoci v prípade potreby.</p>
        </div>
    </div>
    <div class="grid__col_5">
        <img src="https://www.telekom.sk/documents/10179/561719/falck.png" alt="" class="logo-falck">
    </div>
</section>

<div class="sec__wrapper">

    <section id="sec-1" class="sec-1 section text_centered">
        <div class="fixed-column">
            <div class="sec__title">Chcete sa dozvedieť viac o službe rodinný asistent?</div>
            <a id="livechat" class="button button_lima button__holder"><img class="button__icon" src="https://www.telekom.sk/documents/10179/561719/ico-1.png" alt=""><span class="button__text">ZAVOLÁME VÁM</span></a>
            <a class="button button_lima button__holder" href="javascript:void(livechatoo.embed.init({lang: 'sk', mode : 'custom', layout : 'telekom.sk', departments : '4,5'}))"><img class="button__icon" src="https://www.telekom.sk/documents/10179/561719/ico-2.png" alt=""><span class="button__text">ONLINE CHAT</span></a>
        </div>
    </section>

    <section id="sec-2" class="sec-2 section text_centered">
        <div class="fixed-column">
            <div class="sec__title">Benefity</div>
            <div class="row benefits">
                <div class="grid__col_3">
                    <img src="https://www.telekom.sk/documents/10179/561719/ico-3.png" alt="">
                    <p class="benefits__sub_title">Neustály zdravotný dozor 24/7</p>
                    <p class="benefits__sub_desc">Dohľadové centrum 24 hodín 7 dní v týždni. Partnerská spoločnosť FALCK poskytuje služby Dohľadového centra nepretržite, 24h denne.</p>
                </div>
                <div class="grid__col_3">
                    <img src="https://www.telekom.sk/documents/10179/561719/ico-4.png" alt="">
                    <p class="benefits__sub_title">monitorovanie zdravotného stavu</p>
                    <p class="benefits__sub_desc">Lokalizácia v prípade potreby, určenie polohy zariadenia nielen prostredníctvom GPS, ale aj mimo dosahu GPS vďaka lokalizácii pomocou mobilnej siete.</p>
                </div>
                <div class="clear"></div>
                <div class="grid__col_3">
                    <img src="https://www.telekom.sk/documents/10179/561719/ico-5.png" alt="">
                    <p class="benefits__sub_title">privolanie pomoci v prípade núdze</p>
                    <p class="benefits__sub_desc">Zariadenie vám vďaka svojmu napojeniu na platformu umožňuje mať prehľad o stave vášho blízkeho takmer neustále.</p>
                </div>
                <div class="grid__col_3">
                    <img src="https://www.telekom.sk/documents/10179/561719/ico-6.png" alt="">
                    <p class="benefits__sub_title">určenie presnej polohy</p>
                    <p class="benefits__sub_desc">V prípade potreby, určenie polohy zariadenia nie len prostredníctvom GPS, ale aj mimo dosahu GPS vďaka lokalizácii pomocou mobilnej siete.</p>
                </div>
            </div>

        </div>
    </section>

    <section id="sec-3" class="sec-3 section text_centered">
        <div class="fixed-column">
            <div class="sec__title">Vašim blízkym pomôžu tieto zariadenia</div>
            <div class="row product">
                <div class="grid__col_6">
                    <img src="https://www.telekom.sk/documents/10179/561719/prod1.png" alt="">
                    <p class="product__title">GT 300</p>
                    <p class="product__desc">GT300 telefón s vlastnou SIM, 1,3" LCD displejom a jednoduchým ovládaním, umožňuje komunikáciu s Dohľadovým centrom a volania 4 kontaktným osobám, monitorovanie pohybu (akcelerometer) a polohy (GPS)</p>
                    <a href="#GT300__content" class="GT300 button" rel="GT300" class="button">VIAC INFO</a>
                </div>
                <div class="grid__col_6">
                    <img src="https://www.telekom.sk/documents/10179/561719/prod2.png" alt="">
                    <p class="product__title">NAVIGIL S1</p>
                    <p class="product__desc">nenápadné hodinky so vstavanou SIM, s OLED displejom a jednoduchým ovládaním, umožňujú komunikáciu s Dohľadovým centrom, monitorovanie polohy (GPS/GLONASS) a pohybu</p>
                    <a href="#NAVIGILS1__content" class="NAVIGILS1 button">VIAC INFO</a>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-4" class="sec-4 section text_centered">
        <div class="fixed-column">
            <div class="sec__title font_white">SPOKOJNÍ ZÁKAZNÍCI</div>
            <div class="row quotes">
                <div class="quote">
                    <p class="quote__desc">Táto služba mi skutočne uľahčila život. Uľahčila ho vlastne celej našej rodine. Moja mama má po sedemdesiatke a už má svoje zdravotné problémy. My s manželom pracujeme, a tak pri nej nemôžeme byť stále. Vďaka tejto službe som pokojnejšia, lebo viem, čo sa s mamou deje. Raz sa stalo, že jej prišlo zle, až na odpadnutie, a zavolala si pomoc. Ja som hneď vedela, čo sa deje, a už pri nej bola aj záchranná služba. Všetko dobre dopadlo. Aj mama vie, že je v bezpečí, a ja mám pocit, že som takto stále s ňou.
                        <br /><b>Zuzana, 35 r., obchodná manažérka, Košice</b></p>
                </div>
                <div class="quote">
                    <p class="quote__desc">Moja mama dostala tento rok silný infarkt. Veľmi sa to dotklo celej našej rodiny. Aj keď sa jej stav zlepšil a je plne mobilná, snažili sme sa byť s ňou každú chvíľu. No sami to poznáte, nie vždy je to možné. Preto sme jej kúpili zariadenie so službou Rodinný Asistent. Som rada, že teraz môžem volať mame kedykoľvek. Navyše je nonstop pod plnou zdravotnou kontrolou.
                        <br /><b>Lenka, 32 r., administratívna pracovníčka, Žilina</b></p>
                </div>
            </div>
        </div>
    </section>

</div>

<div id="GT300__content" class="fancybox__content">
    <div class="grid__col_6">
        <div class="fancy__title">GT 300</div>
        <img class="fancy__img" src="https://www.telekom.sk/documents/10179/561719/prod1_fancy.png" alt="">
    </div>
    <div class="grid__col_6">
        <div class="fancy__table">
            <table>
                <tr>
                    <th><b>mesačne</b></th>
                    <th><b>jednorázovo</b></th>
                </tr>
                <tr>
                    <td>14,90 €</td>
                    <td><b>59€</b></td>
                </tr>
                <tr>
                    <caption align="bottom">Všetky ceny sú uvedené v € s DPH.</caption>
                </tr>
            </table>
            <div class="ico__tip"></div>
        </div>
    </div>
</div>
<div id="NAVIGILS1__content" class="fancybox__content">

    <div class="grid__col_6">
        <div class="fancy__title">NAVIGIL S1</div>
        <img class="fancy__img" src="https://www.telekom.sk/documents/10179/561719/prod2_fancy.png" alt="">
    </div>
    <div class="grid__col_6">
        <div class="fancy__table">
            <table>
                <tr>
                    <th><b>mesačne</b></th>
                    <th><b>jednorázovo</b></th>
                </tr>
                <tr>
                    <td>14,90 €</td>
                    <td><b>169€</b></td>
                </tr>
                <tr>
                    <caption align="bottom">Všetky ceny sú uvedené v € s DPH.</caption>
                </tr>
            </table>
            <div class="ico__tip"></div>
        </div>
    </div>

</div>
<script type="text/javascript" src="https://www.telekom.sk/documents/10179/561721/main.js"></script>