<section id="hero">
  <div class="container-fixed">
    <div class="hero__content">
      <h1 class="hero__title">
        Poistenie mobilných telefónov a&nbsp;iných elektronických zariadení
      </h1>
      <div class="row">
        <div class="col-md-4">
          <a class="btn cta scroll-to" href="#sec-0"
            ><span>Viac informácií</span>
          </a>
        </div>
        <div class="col-md-6">
          <div class="logo-holder">
            &nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="nav-sticky">
  <ul>
    <li>
      <a class="scroll-to" href="#sec-1">Hlavné výhody</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-2">Benefity poistenia</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-0a">Ako sa poistiť</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-3">Krytie rizika </a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-10">Cenník poistenia </a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-6">Podmienky </a>
    </li>
    <li>
      <a class="scroll-to" href="#wrapper"
        >NAHOR <img alt=" " src="/documents/10179/17094523/arrow-top.png"
      /></a>
    </li>
  </ul>
</div>
<section class="section sec-0" id="sec-0">
  <div class="container-fixed">
    <div class="row text_centered ciara">
      <div class="col-md-8 offset-md-2">
        Bojíte sa poškodenia svojho mobilného zariadenia ?
        <strong>S poistením od 2,99 €</strong> mesačne si zo zničeného mobilu,
        tabletu alebo iného elektronického zariadenia už nemusíte viac robiť
        ťažkú hlavu.
      </div>
    </div>
  </div>
</section>
<section class="section sec-1" id="sec-1">
  <div class="container-fixed">
    <div class="row text_centered">
      <h2 class="feat__title">
        Výhody poistenia
      </h2>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-01.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold"
            >Poistenie platné kdekoľvek na svete</span
          >
        </p>
      </div>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-02.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold"
            >Nízka cena oproti cene nového mobilného koncového zariadenia</span
          >
        </p>
      </div>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-03.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold"
            >Určené pre fyzické aj právnické osoby</span
          >
        </p>
      </div>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-04.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold">Mesačná platba vo faktúre</span
          ><br />
          Za poistenie vám bude účtovaný mesačný poplatok priamo do faktúry za
          služby od Telekomu
        </p>
      </div>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-05.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold"
            >Široký rozsah krytých poistných rizík</span
          ><br />
          Poškodenie/zničenie zariadenia, krádež a lúpež zariadenia, zneužitie
          SIM karty po krádeži/lúpeži zariadenia
        </p>
      </div>
      <div class="col-xs-12 col-md-4 prg-holder">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-06.png" />
        </div>
        <p class="sec1__description">
          <span class="sec1__title text_bold"
            >Možnosť likvidácie poistných udalostí bez nutnosti platiť opravu </span
          ><br />
          V prípade škodovej udalosti zaplatíte spravidla iba spoluúčasť
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section sec-2" id="sec-2">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-8">
        <h2 class="feat__title">
          Čo všetko vám ponúka poistenie?
        </h2>
        <ul class="list">
          <li>
            krytie škody na zariadení až do výšky 1500 €
          </li>
          <li>
            poistenie je platné na celom svete
          </li>
          <li>
            poistenie aj v prípade poškodenia či zničenia dokonca
            aj&nbsp;krádeže/lúpeže
          </li>
          <li>
            poistenie je dostupné pre zariadenia zo štandardnej ponuky, viazané
            k mesačnému programu služieb
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section sec-0a" id="sec-0a">
  <div class="container-fixed">
    <div class="row text_centered">
      <h2 class="feat__title">
        Ako získať poistenie pre mobilný telefón, tablet alebo&nbsp;iné
        elektronické zariadenie?
      </h2>
      <div class="col-xs-12 col-md-4">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-07.png" />
        </div>
        Prejdite na
        <a
          href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/hw-pausal/"
          >náš e-shop</a
        >
        a ku kúpe nového zariadenia vám automaticky ponúkneme a vypočítame
        poistenie na mieru. Za pár eur mesačne tak získate istotu, že aj v
        prípade neočakávanej udalosti máte spoľahlivé krytie.
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-08.png" />
        </div>
        Alebo navštívte naše predajné miesta, kde Vám naši predajcovia ochotne
        ponúknu poistenie k vášmu novému zariadeniu.
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="logo-holder">
          <img alt=" " src="../assets/img/ico-09.png" />
        </div>
        Ak sa pre poistenie nerozhodnete hneď, tak si je možné zriadiť poistenie
        do 30 dní od kúpy Vášho zariadenia na ktoromkoľvek našom predajnom
        mieste.
      </div>
    </div>
  </div>
</section>
<section class="section sec-3" id="sec-3">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-8">
        <h2 class="feat__title">
          Aké riziká kryje poistenie mobilného zariadenia?
        </h2>
        <ul class="list">
          <li>
            <strong>Poškodenie alebo zničenie zariadenia:</strong>
            <ul class="list">
              <li>
                Živelnou udalosťou
              </li>
              <li>
                Pádom alebo nárazom zariadenia
              </li>
              <li>
                Manipuláciou napr. náhodné mechanické poškodenie pri
                manipulácii, preprave
              </li>
              <li>
                Nešikovnosťou, nepozornosťou (napr. utopenie/obliatie
                tekutinou). Je nutné sa však o poistené elektronické zariadenie
                riadne starať a dbať na to, aby poistná udalosť nenastala
              </li>
              <li>
                Skratom alebo iným pôsobením elektrického prúdu (napr. prepätie)
              </li>
            </ul>
          </li>
          <li>
            <strong>Odcudzenie zariadenia:</strong>
            <ul class="list">
              <li>
                Krádežou vlámaním
              </li>
              <li>
                Lúpežným prepadnutím
              </li>
              <li>
                Vreckovou krádežou
              </li>
            </ul>
          </li>
          <li>
            <strong>Zneužitie SIM karty</strong>, ku ktorej dôjde v súvislosti s
            odcudzením elektronického zariadenia, v&nbsp;ktorom bola SIM karta
            vložená
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section sec-10" id="sec-10">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <h2 class="feat__title">
          Cenník poistenia
        </h2>
        <table cellpadding="0" cellspacing="0" class="cennik">
          <tbody>
            <tr class="th1">
              <td>
                Cenové hladiny zariadenia
              </td>
              <td>
                Mesačné poistné
              </td>
              <td>
                Spoluúčasť
              </td>
            </tr>
            <tr class="th2">
              <td>
                do 199,99 €
              </td>
              <td>
                2,99 €
              </td>
              <td>
                10%, min 20 €
              </td>
            </tr>
            <tr class="th3">
              <td>
                od 200 € do 399,99 €
              </td>
              <td>
                3,99 €
              </td>
              <td>
                10%, min 20 €
              </td>
            </tr>
            <tr class="th2">
              <td>
                od 400 € do 599,99 €
              </td>
              <td>
                6,99 €
              </td>
              <td>
                10%, min 20 €
              </td>
            </tr>
            <tr class="th3">
              <td>
                od 600 € do 999,99 €
              </td>
              <td>
                9,99 €
              </td>
              <td>
                10%, min 50 €
              </td>
            </tr>
            <tr class="th2">
              <td>
                od 1000 € do 1500 €
              </td>
              <td>
                14,99 €
              </td>
              <td>
                10%, min 50 €
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          Pre určenie konkrétnej cenovej hladiny zariadenia sa posudzuje cena
          elektronického zariadenia s DPH, ktorá bola platná v deň nadobudnutia
          elektronického zariadenia a publikovaná v Cenníku Neakciových
          telefónov. Tento Cenník je prístupný na internetovej stránke
          spoločnosti
          <a
            href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-mobilnych-telefonov-a-datovych-zariadeni/"
            >www.telekom.sk</a
          >
          v časti Neakciové telefóny Archív. Poistenie je možné uzatvoriť aj pre
          zariadenia s kúpnou cenou 1501 € až 2000 € , pričom poistná suma
          takéhoto elektronického zariadenia je vo výške 1500 € a na takéto
          elektronické zariadenie sa vzťahuje mesačné poistné vo výške 14,99€.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section sec-6" id="sec-6">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <h2 class="feat__title">
          Podmienky poskytnutia poistenia:
        </h2>
        <ul class="list">
          <li>
            Poistenie je poskytované v spolupráci so spoločnosťou Generali
            Poisťovňa, a. s.
          </li>
          <li>
            Cena poistenia je závislá od hodnoty nedotovaného poisteného
            zariadenia vrátane DPH, ktorá je v čase podpisu poistnej zmluvy
            uvádzaná v cenníku neakciových zariadení Telekomu.
          </li>
          <li>
            Poistenie je možné aktivovať iba pri kúpe nového zariadenia k
            mesačnému programu služieb.
          </li>
          <li>
            Poistenie nie je možné uzatvoriť pre katalógové zariadenia.
          </li>
          <li>
            Podrobné podmienky poistenia nájdete v týchto dokumentoch:
            <ul class="list">
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/Poistn%C3%A1+zmluva+-+platn%C3%A1+od+21.11.2018.pdf"
                  target="blank"
                  >Poistná zmluva – platná od 21.11.2018</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/V%C5%A1eobecn%C3%A9+Poistn%C3%A9+Podmienky.pdf"
                  target="blank"
                  >Všeobecné poistné podmienky MZ 15 (platné do 31. 12. 2018)</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17485166/V%C5%A1eobecn%C3%A9+Poistn%C3%A9+Podmienky+MZ+19.pdf"
                  target="blank"
                  >Všeobecné poistné podmienky MZ 19 (platné od 01. 01. 2019)</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/S%C3%BAhlas+so+zaraden%C3%ADm+elektronick%C3%A9ho+zariadenia+do+poistenia+-+platn%C3%BD+od+21.11.2018.pdf"
                  target="blank"
                  >Súhlas so zaradením elektronického zariadenia do poistenia
                  platný od 21.11.2018 do 31.03.2019</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17485166/S%C3%BAhlas+so+zaraden%C3%ADm+elektronick%C3%A9ho+zariadenia+do+poistenia+platn%C3%BD+od+01.04.2019.pdf"
                  target="blank"
                  >Súhlas so zaradením elektronického zariadenia do poistenia
                  platný od 01.04.2019</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/Suhlas_s_poistenim_2020.pdf"
                  target="blank"
                  >Súhlas so zaradením elektronického zariadenia do poistenia
                  platný od 01.06.2020</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/Inform%C3%A1cie+pod%C4%BEa+z%C3%A1kona+%C4%8D.186-2009+Z.z.+o+finan%C4%8Dnom+sprostredkovan%C3%AD.pdf"
                  target="blank"
                  >Informácie podľa zákona č.186/2009 Z.z. o finančnom
                  sprostredkovaní</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/Informa%C4%8Dn%C3%BD+dokument+o+poistnom+produkte.pdf"
                  target="blank"
                  >Informačný dokument o poistnom produkte platný do
                  31.03.2019</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17485166/Informa%C4%8Dn%C3%BD+dokument+o+poistnom+produkte+platn%C3%BD+od+01042019.pdf"
                  target="blank"
                  >Informačný dokument o poistnom produkte platný od
                  01.04.2019</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17485166/IPID_ST_2019_od_15.08.2019.pdf"
                  target="blank"
                  >Informačný dokument o poistnom produkte platný od
                  15.08.2019</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/IPID_ST_2020.pdf"
                  target="blank"
                  >Informačný dokument o poistnom produkte platný od
                  01.06.2020</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/Inform%C3%A1cie+o+sprac%C3%BAvan%C3%AD+osobn%C3%BDch+%C3%BAdajov-Generali+Pois%C5%A5ov%C5%88a.pdf"
                  target="blank"
                  >Informácie o spracúvaní osobných údajov – Generali</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17485166/Dodatok+%C4%8D.1+k+poistnej+zmluve.pdf"
                  target="blank"
                  >Dodatok č.1 k poistnej zmluve</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17485166/Dodatok+%C4%8D.+2.pdf"
                  target="blank"
                  >Dodatok č.2 k poistnej zmluve</a
                >
              </li>
              <li>
                <a
                  href="https://www.telekom.sk/documents/10179/17094523/Dodatok+c%CC%8C.+3+k+RZ+9059800035.pdf"
                  target="blank"
                  >Dodatok č.3 k poistnej zmluve</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <p style="font-weight: bold; font-size: 18px;">
          Podmienky pre zákazníkov, ktorí uzatvorili poistenie elektronických
          zariadení do 20.11.2018 (vrátane) nájdete
          <a
            href="https://www.telekom.sk/wiki/ostatne/poistenie-mobilnych-telefonov-tabletov-a-modemov-zariadeni"
            >tu</a
          >
        </p>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="/documents/10179/17094521/main.js"></script>
