<section ng-app="smartHome" class="clearfix">
  <!-- Content -->
    <div ng-view></div>
</section>



<script src="../assets/js/shared/angular.js" charset="utf-8"></script>
<script src="../assets/js/shared/angular-route.min.js"></script>

<!-- Modules -->
<script src="../assets/js/app.js"></script>

<!-- Controllers -->
<script src="../assets/js/controllers/MainController.js"></script>
<script src="../assets/js/controllers/zakladny-balik.js"></script>
<script src="../assets/js/controllers/instalacia.js"></script>

<!-- Services -->
<script src="../assets/js/services/smarthome-service.js"></script>

<!-- Plugins -->
<script src="../assets/js/shared/angular-sticky.js"></script>

<script src="../assets/js/main.js"></script>
