/* ===============
   CSS FOR MICROSITE
   =============== */

#sec-1{
  margin-bottom: 100px;
  @media (max-width: 540px)  {
    margin-bottom: 60px;
  }  
  & p {
    font-weight: normal;
    color:#262626!important;
    line-height: 25px;
    font-size: 18px;
  }
  & strong{
  font-weight: bold;
  }
}
#hero-content{
margin-top: 100px;
  @media (max-width: 768px) {
    margin-top: 0px;
  }
  & h1 {
    line-height: 1.2!important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 20 auto;
    padding: 0!important;
    @media screen and (max-width: 940px) {
      font-size: 40px!important;
      line-height: 50px!important;;
    }
    @media screen and (max-width: 768px) {
      font-size: 38px!important;
      line-height: 50px!important;
    }
  
    @media screen and (max-width: 480px) {
      font-size: 28px!important;
      line-height: 32px!important;;
    }
    @media screen and (max-width: 370px) {
      font-size: 24px!important;
      line-height: 30px!important;;
    }
  }
  & #h-title {
  position: relative;
  }
  & .eecat-zlava {
    position: absolute;
    top: 15px;
    margin-left: 10px;
    display: inline-block;
    @media screen and (max-width: 767px) {
    display: none;
    }
  }
}


#hero-title{
  display: inline-block;
  max-width: 550px;
} 

#hero { 
  background: url(../img/hero.jpg) no-repeat center top;
  background-color: #000;
  background-size: cover;
  min-height: 630px;
  @media  (max-width: 768px) {
    min-height: 500px;
  }
  @media  (max-width: 544px) {
    min-height: 430px;
  }  
  @media  (max-width: 480px) {
    min-height: 250px;
  }  
}
 

#over-first{ 
  background-color: #fff;
  margin-top: -250px;
  padding: 50px 70px 30px 70px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
  @media (max-width: 960px)  {
    margin-top: -250px;
    padding: 50px 30px 30px 30px;
  } 
  @media (max-width: 768px)  {
    margin-top: -200px;
  }
  @media (max-width: 480px)  {
    margin-top: -50px;
    padding: 30px 25px 30px 25px;
  }

  & p {
    display: block;
    margin: 0;
  }

  & .eecat-div{
    max-height: 10px;
  }
  & .eecat{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    cursor: pointer;   
  
    @media (max-width: 480px)  {
      position: absolute;
      top: 10%;
      left: 60%;
    }  

  }

  & .ecat{
    position: absolute;
    top: 10px;
    left: 20px;
    @media (max-width: 767px)  {
      top: 10px;
      left: 25%;
    }  
    @media (max-width: 540px)  {
      top: 10px;
      left: 10%;
    }  

  }
  & .img-hw{
    position: relative;
  }

  & .desc{
    padding: 15px;
  }
  & .box-pricing{
    max-width: 280px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    @media (max-width: 540px)  {
      max-width: 100%;
    }  
  }
  & #dph-price {    
    text-align: right;
    padding-top: 30px;
    color: #a4a4a4!important;
    font-size: 14px;
    font-weight: normal;
    @media (max-width: 768px)  {
      text-align: center;
    }  
    } 
  & .call-action{
    padding-top: 30px;
  }
  & .btn {
    @media (max-width: 768px)  {
      width: 100%;
      text-align: center;
  }
  }
  & .pricing__title {
    font-size: 14px;
  }

} 
.center{
  text-align: center;
}

#box-device{
  
  margin: 0 auto;
  padding: 0px 25px; 
  @media (max-width: 960px)  {
    padding: 0px 10px; 
  }  
  @media (max-width: 540px)  {
    padding: 0px;
  }  
  & table {
    margin-bottom: 20px;
  }
  & img {
    margin-bottom: 20px
  }
  & p {
    line-height: 20px;
    margin-bottom: 10px;
    color: #6c6c6c!important;
  }
  
  & .device{
    margin: 0 auto;
    padding: 30px 60px;
    @media (max-width: 540px)  {
      padding: 30px 40px;
    }  
    
    @media (max-width: 540px)  {
      padding: 20px 30px;
    }  
    
  }
  
  & .pricing-table {
    font-size: 16px;
    text-align: left;
    width: 100%; 
    color: #6c6c6c!important;
  }

  & .pricing-table td {
    padding: 0;
    line-height: 100%; 
  }

  & .pricing-table .no-margin td {
    line-height: 15px;
  }

  & .pricing-table .inner-head {
  font-weight: bold;
  }

  & .pricing-table .inner-head th {
  padding-top: 15px;
  }

  & .pricing-table tr td:last-of-type {
  text-align: right; 
  }

  & .magenta-text {
    color: #e20074; 
    font-weight: bold;
  }

  & .line {
  border-bottom: 1px solid #d0d0d0;
  }
  & .pb-10{
    padding-bottom: 10px;
  }

}
#table-wrap {
  padding: 0 10px;
  @media (max-width: 940px)  {
    padding: 0px;
  }  
}
// HEAPBOX
#content .heapBox .holder {
  padding: 8px 10px 8px 9px !important;
  text-align: left;
  background-color: #fff;
}
#content .heapBox .handler {
  border-left: 1px solid #ccc;
}
// HEAPBOX END


//--------------------------
// Section 02
//--------------------------
#sec-2{ 
margin-bottom: 70px;
  & p{
    color: #6c6c6c!important;
  }  
  & .flex-box-center{
    padding-right: 30px!important;
    padding-left: 30px!important;
  }
  & .info-box{
    padding-right: 30px!important;
    padding-left: 30px!important;
    margin-bottom: 20px;
    @media (max-width: 540px)  {
      padding-right: 10px!important;
      padding-left: 10px!important;
    }  
  }
  & .ico{
    margin-bottom:10px; 
  }
} 
//--------------------------
// Section 03
//--------------------------
#sec-3{ 
  margin-bottom: 50px; 
}
//--------------------------
// TIP
//--------------------------
#content .tip {
  background-color: #fff2cc;
  padding: 15px;
  margin: 2% 0%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #c0aa69;
  text-align: left;
}

#content ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
}
#content ol li {
padding-left: 10px;
}



