<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1a">EASY ROAMING</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">INTERNET V MOBILE</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/663137/arrow-top.png" /></a></li>
    </ul>
</div>
<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">
				ROAMING K EASY KARTE</h1>
        </div>
    </div>
</section>
<div ng-app="roamingZonesModule">
    <section class="section sec-1 text-center" id="sec-1a">
        <div class="fixed-column">
            <h2 class="section__title">
			Easy Roaming</h2>
            <p class="section__desc">
                Aj s Easy kartou s programom Easy Pecka môžete využívať služby roamingu za výhodné ceny.*
                <br />
                <br /> Aktivácia služby je bezplatná.
                <br /> Služba je bez mesačných poplatkov.</p>
            <a class="button button_lima fancybox" href="#infoSMS1">AKTIVOVAŤ</a>
            <br />
            <a class="link link_ul linkDeactivate fancybox" href="#infoSMS2">Dobiť kredit zo zahraničia</a>
            <div class="table table-1">
                <table>
                    <tbody>
                        <tr>
                            <th class="text-left">
                                Zóny/krajiny</th>
                            <th class="text-center" colspan="2">
                                Hovory</th>
                            <th class="text-center">
                                SMS</th>
                            <th class="text-center" style="width: 100px;">
                                Dáta</th>
                            <th class="text-center">
                                Denný strop 50 centov</th>
                        </tr>
                        <tr class="subHead">
                            <td>
                                &nbsp;</td>
                            <td>
                                Odchádzajúce</td>
                            <td>
                                Prichádzajúce</td>
                            <td>
                                Odchádzajúce</td>
                            <td>
                                &nbsp;</td>
                            <td>
                                &nbsp;</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 0 + 1: EÚ + Island, Nórsko, Lichtenštajnsko</td>
                            <td>
                                0,15 €</td>
                            <td>
                                0,0137 €</td>
                            <td>
                                0,072 €</td>
                            <td>
                                0,16 €</td>
                            <td>
                                Ak dosiahnete za den 50 centov v roamingu buď za dáta alebo volania a SMS do niektorých zo sietí v SR, platíte nižšiu cenu:
                                <br /> 0,06 € / min.
                                <br /> 0,024 € / SMS
                                <br /> 0,06 € / MB</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 2: Dovolenkové a biznis krajiny</td>
                            <td>
                                1,95 €</td>
                            <td>
                                0,99 €</td>
                            <td>
                                0,39 €</td>
                            <td>
                                0,49 €</td>
                            <td>
                                –</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 3: Ostatné krajiny</td>
                            <td>
                                3,94 €</td>
                            <td>
                                1,95 €</td>
                            <td>
                                0,39 €</td>
                            <td>
                                10,00 €</td>
                            <td>
                                –</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 4: Satelitní operátori</td>
                            <td>
                                3,94 €</td>
                            <td>
                                1,95 €</td>
                            <td>
                                0,39 €</td>
                            <td>
                                10,00 €</td>
                            <td>
                                –</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="fixed-column">
                <p class="disclaimer">
                    * Ceny pre ostatné Easy karty s programami Easy Team a Easy Fix nájdete <a href="/documents/10179/1301016/Cennik_program_Easy_Team_a_dalsie_programy.pdf">v cenníku Easy Team</a>, <a href="/documents/10179/1301016/cennik_programov_sluzby_fix_ktore_podnik_nepredava_1.3.2015.pdf"> v cenníku Easy Fix</a> a roamingové ceny týchto programov <a href="/documents/10179/1301016/Spolocny_cennik_B_cast_JUN_2016.pdf">v cenníku mobilných služieb</a>.</p>
            </div>
            <div class="happy-legal margin_top50">
                <a class="note-legal" href="" onclick="$('#happy-legal-1').toggle('slow');return false;">Zóny/Krajiny pre Easy Roaming</a>
                <div class="happy-legal-content content_hidden" id="happy-legal-1">
                    <b>Zóna 0: Európska únia</b>
                    <br /> Belgicko, Bulharsko, Cyprus, Česká republika, Dánsko, Desirade, Estónsko, Fínsko, Francúzska Guyana, Francúzsko, Gibraltár, Grécko, Guadeloupe, Holandsko, Chorvátsko, Írsko, Litva, Lotyšsko, Luxembursko, Maďarsko, Malta, Marie Galante, Martinik, Mayotte, Nemecko, Poľsko, Portugalsko, Rakúsko, Réunion, Rumunsko, Slovinsko, Svätý Martin, Svätý Bartolomej, Španielsko, Švédsko, Taliansko, Vatikán, Veľká Británia
                    <br />
                    <br />
                    <b>Zóna 1:</b>
                    <br /> Island, Lichtenštajnsko, Nórsko
                    <br />
                    <br />
                    <b>Zóna 2: Dovolenkové a biznis krajiny</b>
                    <br /> Albánsko, Aljaška, Americké Panenské ostrovy, Argentína, Austrália, Azerbajdžan, Barbados, Bielorusko, Bosna a Hercegovina, Brazília, Čierna Hora, Čile, Čína, Dominika, Egypt, Ekvádor, Filipíny, Galapágy, Grenada, Guatemala, Guernsey, Haiti, Havajské ostrovy, Honduras, Hongkong, India, Indonézia, Izrael, Jamajka, Japonsko, Jersey, Južná Afrika, Kanada, Katar, Kazachstan, Keňa, Kirgizská republika, Kirgizsko, Kolumbia, Kórea, Kosovo, Kuvajt, Macedónsko, Malajzia, Mexiko, Ostrov Man, Panama, Peru, Portoriko, Ruská federácia, Samoa, San Maríno, Saudská Arábia, Singapur, Spojené arabské emiráty, Spojené štáty americké, Srbsko, Srí Lanka, Svätý Krištof a Nevis, Svätý Vincent a Grenadíny, Švajčiarsko, Tadžikistan, Taiwan, Thajsko, Tibet, Turecko, Ukrajina, Veľkonočný ostrov
                    <br />
                    <br />
                    <b>Zóna 3: Ostatné krajiny</b>
                    <br /> Afganistan, Alžírsko, Americká Samoa, Andorra, Angola, Anguilla, Antarktída, Antigua a Barbuda, Arménsko, Aruba, Ascension, Bahamy, Bahrajn, Bangladéš, Belize, Benin, Bermudy, Bhután, Bolívia, Botswana, Britské Panenské ostrovy, Brunej, Burkina Faso, Burundi, Cookove ostrovy, Čad, Diego García, Dominikánska republika, Džibutsko, Eritrea, Etiópia, Etiópska federatívna demokratická republika, Faerské ostrovy, Fidži, Falklandy, Francúzska Polynézia, Gabon, Gambia, Georgia, Ghana, Grónsko, Gruzínsko, Guam, Guantanámo, Guinea, Guinea-Bissau, Guyana, Holandské Antily, Irak, Irán, Jemen, Jordánsko, Južný Sudán, Kajmanie ostrovy, Kambodža, Kamerun, Kapverdy, Kiribati, Komory, Kongo, Kostarika, Kuba, Laos, Lesotho, Libanon, Libéria, Líbya, Macao, Madagaskar, Malawi, Maldivy, Mali, Mariány, Maroko, Marshallove ostrovy, Maurícius, Mauritánia, Mikronézia, Mjanmarsko (Barma), Moldavsko, Monako, Mongolsko, Montserrat, Mozambik, Namíbia, Nauru, Nepál, Niger, Nigéria, Nikaragua, Niue, Norfolk, Nová Kaledónia, Omán, Pakistan, Palau, Palestínske územia, Papua-Nová Guinea, Paraguaj, Pobrežie Slonoviny, Rovníková Guinea, Rwanda, Salvádor, Senegal, Severné Seychely, Sierra Leone, Somálsko, Stredoafrická republika, Sudán, Surinam, Svazijsko, Svätá Helena, Svätá Lucia, Svätý Peter a Michal, Svätý Tomáš a Princov ostrov, Sýria, Šalamúnove ostrovy, Tanzánia, Togo, Tokelau, Tonga, Trinidad a Tobago, Tunisko, Turkménsko, Turks a Caicos, Tuvalu, Uganda, Uruguaj, Uzbekistan, Vanuatu, Wallis &amp; Futuna, Venezuela, Vietnam, Východný Timor, Zambia, Nový Zéland, Zimbabwe
                    <br />
                    <br />
                    <b>Zóna 4:</b>
                    <br /> Ostatné krajiny, roaming na lodiach, roaming v lietadlách a satelitní operátori
                    <br /> &nbsp;
                </div>
            </div>
        </div>
    </section>
    <section class="section sec-3 text-center" id="sec-3">
        <div class="fixed-column">
            <h2 class="section__title">
			Internet v zahraničí Travel&amp;Surf</h2>
            <div class="col-group roaming__group">
                <div class="grid-g__col_6">
                    <img alt="" src="/documents/10179/663137/ico-pointer.png" />
                    <p>
                        <b>Internet v mobile kdekoľvek ste</b></p>
                    <p>
                        Zabudnite na starosti s hľadaním Wi-Fi na dovolenke! Aktivujte si niektorý z balíčkov Internetu v zahraničí Travel&amp;Surf a dátujte výhodne kdekoľvek a kedykoľvek!</p>
                </div>
                <div class="grid-g__col_6">
                    <img alt="" src="/documents/10179/663137/ico-4g.png" />
                    <p>
                        <b>4G rýchlosť aj v zahraničí</b></p>
                    <p>
                        S nami dátujete 4G rýchlosťou už aj v Česku, Chorvátsku, Holandsku, Maďarsku, Nemecku, Poľsku, Rakúsku, Rusku alebo Švajčiarsku.</p>
                </div>
            </div>
            <h2 class="section__subTitle margin_top50">
			BALÍKY INTERNETU V ZAHRANIČÍ</h2>
            <p class="subsub__title">
                Balíky, ktoré platia v krajinách zóny 1</p>
            <div class="col-group">
                <div class="prodItem">
                    <p class="prodItem__title">
                        BALÍK XS</p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            35 MB DÁT</p>
                        <p class="midArea__desc">
                            Vhodný napr. na prezeranie cestovných poriadkov, počasia či e-mailov.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        2,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS3">AKTIVOVAŤ</a></div>
                <div class="prodItem">
                    <p class="prodItem__title">
                        BALÍK M</p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            100 MB DÁT</p>
                        <p class="midArea__desc">
                            Ideálny napr. na prezeranie fotografií a sťahovanie e-mailov s prílohami.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        5,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS4">AKTIVOVAŤ</a></div>
                <div class="prodItem">
                    <p class="prodItem__title">
                        BALÍK XL</p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            500 MB DÁT</p>
                        <p class="midArea__desc">
                            S balíkom napr. stiahnete e-maily s väčšími prílohami alebo využijete navigáciu.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        15,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS5">AKTIVOVAŤ</a></div>
            </div>
            <p class="subsub__title margin_top50">
                Balíky, ktoré platia v krajinách zóny 1 a 2</p>
            <div class="col-group">
                <div class="prodItem prodItem_inversed">
                    <p class="prodItem__title">
                        BALÍK XS <b>PLUS</b></p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            20 MB DÁT</p>
                        <p class="midArea__desc">
                            Vhodný napr. na prezeranie cestovných poriadkov, počasia či e-mailov.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        4,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS6">AKTIVOVAŤ</a></div>
                <div class="prodItem prodItem_inversed">
                    <p class="prodItem__title">
                        BALÍK M <b>PLUS</b></p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            100 MB DÁT</p>
                        <p class="midArea__desc">
                            Ideálny napr. na prezeranie fotografií a sťahovanie e-mailov s prílohami.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        10,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS7">AKTIVOVAŤ</a></div>
                <div class="prodItem prodItem_inversed">
                    <p class="prodItem__title">
                        BALÍK XL <b>PLUS</b></p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            500 MB DÁT</p>
                        <p class="midArea__desc">
                            S balíkom napr. stiahnete e-maily s väčšími prílohami alebo využijete navigáciu.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        30,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS8">AKTIVOVAŤ</a></div>
            </div>
            <div class="happy-legal margin_top50">
                <a class="note-legal" href="" onclick="$('#happy-legal-5').toggle('slow');return false;">Zóny/Krajiny pre balíky internetu v zahraničí</a>
                <div class="happy-legal-content margin_top20" id="happy-legal-5">
                    <b>Zóna 1: EÚ + Island, Lichtenštajnsko, Nórsko, Švajčiarsko, USA</b>
                    <br /> Americké panenské ostrovy, Azorské ostrovy, Belgicko, Bulharsko, Česko, Dánsko, Désirade, Estónsko, Fínsko, Francúzsko, Francúzska Guyana, Gibraltár, Grécko, Guadeloupe, Havajské ostrovy, Holandsko, Chorvátsko, Island, Írsko, Južný Cyprus, Kanárske ostrovy, Litva, Lichtenštajnsko, Lotyšsko, Luxembursko, Madeira, Maďarsko, Malta, Marie Galante, Martinik, Nemecko, Nórsko, Poľsko, Portoriko, Portugalsko, Rakúsko, Reunion, Rumunsko, Slovinsko, Sv. Martin, Sv. Bartolomej, Španielsko, Švajčiarsko, Švédsko, Taliansko, Veľká Británia, USA.
                    <br />
                    <br />
                    <b>Zóna 2:</b>
                    <br /> Afganistan, Albánsko, Antigua, Aruba, Austrália, Azerbajdžan, Barbados, Bielorusko, Brazília, Čierna hora, Čile, Čína, Dominika, Egypt, Ekvádor, Filipíny, Galapágy, Grenada, Grenadíny, Guatemala, Haity, Honduras, Hongkong, India, Indonézia, Izrael, Jamajka, Japonsko, Juhoafrická republika, Južná Kórea, Kajmanské ostrovy, Kanada, Katar, Kazachstan, Keňa, Kirgizsko, Kolumbia, Kuvajt, Macao, Macedónsko, Malajzia, Mexiko, Moldavsko, Nový Zéland, Panama, Peru, Ruská federácia, Salvador, Samoa, Saudská Arábia, Severný Cyprus, Singapur, Spojené arabské emiráty, Srbsko, Srí Lanka, Sv. Krištof, Sv. Lucia, Sv. Vincent, Tadžikistan, Taiwan, Thajsko, Turecko, Turks a Caicos, Ukrajina, Veľkonočný ostrov.
                    <br /> &nbsp;
                </div>
            </div>
            <div class="happy-legal margin_top20">
                <a class="note-legal link_black" href="" onclick="$('#happy-legal-6').toggle('slow');return false;">Podmienky</a>
                <div class="happy-legal-content content_hidden margin_top20" id="happy-legal-6">
                    Ceny sú uvedené v € s DPH. Pre všetky balíčky služby Internet v zahraničí Travel&amp;Surf platí pre voľné dáta v rámci balíčkov tarifikačný interval
                    <br /> 10 kB a počíta sa ako suma prijatých a odoslaných dát. Služba Internet v zahraničí Travel&amp;Surf zahŕňa dátové prenosy cez APN WAP, internet, internet plus a nevzťahuje sa na dátové prenosy cez APN blackberry.net. Príslušný balíček je aktívny po doručení SMS správy potvrdzujúcej úspešnú aktiváciu. K deaktivácii balíčka služby Internet v zahraničí Travel&amp;Surf dôjde uplynutím maximálnej doby jeho platnosti alebo vyčerpaním celého objemu voľných dát podľa toho, ktorá z týchto skutočností nastane skôr.</div>
            </div>
        </div>
    </section>
</div>
<section class="section sec-4 text-center" id="sec-4">
    <div class="fixed-column">
        <h2 class="section__title">
			WEB ROAMING</h2>
        <p class="section__desc">
            Chcete vedieť, koľko stojí dátovanie v roamingu, ak si neaktivujete žiadny
            <br /> balík Internetu v zahraničí? Pozrite si stránku</p>
        <a class="link link_ul linkDeactivate" href="/wiki/internet/web-roaming">Web roaming</a></div>
</section>
<section class="section sec-5 text-center" id="sec-5">
    <div class="fixed-column">
        <h2 class="section__title">
			mohlo by vás zaujímať</h2>
        <div class="roamingHolder">
            <div class="col-group roaming__group">
                <div class="grid-g__col_6">
                    <img alt="Aktivácia balíkov internetu v zahraničí" src="/documents/10179/663137/ico-pointer.png" />
                    <p>
                        <b>Aktivácia balíkov internetu v zahraničí</b></p>
                    <p>
                        Stiahnite si všetky užitočné informácie o aktivácii balíkov internetu v zahraničí.</p>
                    <a class="link link_ul link_black" href="/documents/10179/62336/Letak+na+shopy_AUGUST+2015/44035999-b624-4b64-986b-59c91c28f2c6">Otvoriť PDF</a></div>
                <div class="grid-g__col_6">
                    <img alt="4G rýchlosť aj v zahraničí" src="/documents/10179/663137/ico-4g.png" />
                    <p>
                        <b>4G rýchlosť aj v zahraničí</b></p>
                    <p>
                        S nami dátujete 4G rýchlosťou už aj v Česku, Chorvátsku, Holandsku, Maďarsku, Nemecku, Poľsku, Rakúsku, Rusku alebo Švajčiarsku.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="roam-lightbox" id="infoSMS1" style="display: none;">
    <h2>
		Aktivácia Easy Roamingu</h2>
    <p class="firstPar">
        Službu aktivujte na čísle bezplatnej Easy linky 12350 pod voľbou 3, v Telekom centrách alebo na zákazníckej linke Telekom
        <br /> 0800 123 456</p>
</div>
<div class="roam-lightbox" id="infoSMS2" style="display: none;">
    <h2>
		Dobitie kreditu zo zahraničia</h2>
    <p class="firstPar">
        V zahraničí máte viaceré možnosti dobitia kreditu:
        <br />
        <br /> dobíjacím kupónom – na bezplatné dobitie kreditu použite príkaz v tvare:
        <br /> *101 *14-miestne číslo dobíjacieho kupónu # a potvrďte ako hovor
        <br />
        <br /> môžete požiadať niekoho na Slovensku o dobitie ľubovoľným spôsobom</p>
    <a class="link link_ul" href="/volania/easy/kredit">dobiť cez internet</a></div>
<div class="roam-lightbox" id="infoSMS3" style="display: none;">
    <h2>
		Zákazníci Easy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XS</b> na číslo <b>12330</b></p>
</div>
<div class="roam-lightbox" id="infoSMS4" style="display: none;">
    <h2>
		Zákazníci Easy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA M</b> na číslo <b>12330</b></p>
</div>
<div class="roam-lightbox" id="infoSMS5" style="display: none;">
    <h2>
		Zákazníci Easy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XL</b> na číslo <b>12330</b></p>
</div>
<div class="roam-lightbox" id="infoSMS6" style="display: none;">
    <h2>
		Zákazníci Easy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XS PLUS</b> na číslo <b>12330</b></p>
</div>
<div class="roam-lightbox" id="infoSMS7" style="display: none;">
    <h2>
		Zákazníci Easy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA M PLUS</b> na číslo <b>12330</b></p>
</div>
<div class="roam-lightbox" id="infoSMS8" style="display: none;">
    <h2>
		Zákazníci Easy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XL PLUS</b> na číslo <b>12330</b></p>
</div>
<div class="roam-lightbox" id="infoSMSxxx" style="display: none;">
    <h2>
		Info SMS o cenách internetu v<br />
		zahraničí</h2>
    <p class="firstPar">
        Pre informácie pošlite bezplatnú SMS na
        <br /> číslo <b>233</b> v tvare:
        <br />
        <b>ROAM INFO</b></p>
    <h2>
		Kontrola spotreby dát</h2>
    <p class="secondPar">
        Zistite koľko dát ste už vyčerpali.
        <br /> Pošlite bezplatnú SMS na číslo <b>233</b> (pre
        <br /> paušály Happy) alebo na číslo <b>12330</b> (pre
        <br /> Easy karty) v tvare:
        <br />
        <b>ROAM DATA</b>
        <br /> &nbsp;
    </p>
    <p>
        Obratom dostanete bezplatnú SMS s informáciami o roamingových balíkoch.</p>
</div>
<script type="text/javascript" src="/documents/10179/663135/main.js"></script>
<!-- Roaming Json -->
<script type="text/javascript" src="/documents/10179/2580336/angular.min.js"></script>
<script type="text/javascript" src="/documents/10179/2580336/controllers.js"></script>
