/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

#content .sec__title {
    text-align: center;
    font-size: 32px;
}

.section {
    padding: 40px 0;
}

#content .link_white,
#content .link_white:hover {
    color: #fff;
}

/* HERO */

#hero {
    background: url(../img/kv_v2.jpg) no-repeat 50% 50%;
    padding: 28px 2%;
    overflow: hidden;
    background-size: cover;
    min-height: 430px;
}

.hero__content {
    text-align: center;
    max-width: 460px;
    margin-left: 90px;
}

#content .hero__title {
    font-size: 26px;
}

#content .hero__title b {
    font-size: 34px;
}

#content #hero .cta {
    margin-bottom: 10px;
}

@media screen and (max-width: 880px) {
    .hero__content {
        margin-left: 0;
    }
}

@media screen and (max-width: 560px) {
    #hero {
        background: url(../img/kv_v2.jpg) no-repeat 35% 50%;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/kv_v2.jpg) no-repeat 58% 33%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color: #262626;
    }

    #hero .btn {
        margin-top: 60px;
    }
}


/* SEC - 1 */

.item {
    text-align: center;
}

#content .item__title {
    color: #3f7286;
    margin: 10px 0 0 0;
    font-weight: bold;
}

#content .item__desc {
    color: #3f7286;
    margin: 5px 0 20px 0;
}


/* SEC - 2 */

.sec-2 {
    background-color: $gallery;
}

.folder {
    max-width: 620px;
    width: 100%;
    margin: 60px auto 20px auto;
}

#content .folder__head {
    background-color: $magenta;
}

#content .folder__head p {
    color: $white;
    padding: 10px 20px;
}

#content .folder__head p {
    margin: 0;
    font-size: 24px;
}

#content .folder__head {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.folder__body {
    width: 100%;
    border: 1px solid #dcdcdc;
    display: inline-block;
    background-color: $white;
    padding: 20px 0;
}

.folder__body .col-md-8 {
    border-right: 1px solid #dcdcdc;
    margin: 15px 0;
}

.pack {
    background: url('../img/pack.png') no-repeat center left;
    padding-left: 224px;
    width: 100%;
    padding-bottom: 40px;
    min-height: 228px;
}

#content .pack p {
    margin: 0;
}

.pack__item {
    background: url('../img/ico-pipe.png') no-repeat center left;
    padding-left: 17px;
}
#content .pack p.pack__item {margin-top:8px;}

#content .pack__title {
    font-size: 20px;
    margin-bottom: 15px !important;
}

#content .price {
    color: $magenta;
    font-size: 38px;
    line-height: 20px;
    margin-top: 20px;
}

#content .price .vat {
    color: #a4a4a4;
    font-size: 16px;
}

.folder__body .col-md-4 {
    text-align: center;
}

.folder__body .col-md-4 .cta {
    margin-top: 40px;
}

#content .method {
    font-size: 16px;
    color: $tundora;
}

#content .folder .link {
    display: inline-block;
}

#content .more-info {
    color: $magenta;
    font-weight: bold;
    padding: 0 10px;
}

@media screen and (max-width: 767px) {
    .folder__body .col-md-8 {
        border-right: 0;
        border-bottom: 1px solid #dcdcdc;
        margin: 15px 20px;
        padding-bottom: 30px;
    }
    .folder__body .col-md-4 {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 460px) {
    .pack {
        padding-top: 240px;
        padding-left: 0;
        background-position: top center;
    }
}


/* SEC - 3 */

.sec-3 {
    background: $gallery url('../img/bg.jpg') no-repeat 50% 50%;
    min-height: 551px;
}

.sec-3 .fixed-column {
    position: relative;
}

.custom-title {
    position: absolute;
    top: 20px;
    left: 0;
    max-width: 671px;
    width: 100%;
}

.custom-ec {
    position: absolute;
    top: 112px;
    left: 316px;
    max-width: 219px;
    width: 100%;
}

.custom-cta {
    position: absolute;
    top: 206px;
    left: 0;
}

#content .magenta {
    color: $magenta;
}

@media screen and (max-width: 572px) {
    .custom-ec {
        top: 205px;
        left: 150px;
    }
    .custom-cta {
        top: 166px;
    }
}

@media screen and (max-width: 600px) {
    .custom-ec {
        left: 50px;
        top: 220px;
    }
}


/* LIGHTBOX */

#stores {
    display: none;
}

.fancy-title {
    font-size: 24px;
    font-weight: 500;
    padding-left: 10px;
    color: $magenta;
}

.modal .fancybox-skin {
    background: #fff;
}

.modal .fancybox-title {
    display: none;
}

#stores .col-md-6 {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

#stores .city {
    font-weight: bold;
    border-top: 1px solid #d0d0d0;
    margin-top: 10px;
    box-sizing: border-box;
}

/* SEC CONTEST */

.sec-contest {
    background: url('../img/sec-bg.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.pack-holder {
    text-align: center;
}

#content .comp__title,
#content .comp__desc {
    color: #fff;
}

#content .comp__title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
    .sec-contest {
        padding: 40px 0;
    }

    #content .pack-content {
        text-align: center;
    }

    #content .comp__title {
        margin-top: 0;
    }
}
