/* ===============
   CSS FOR MICROSITE
   =============== */
   
/* Tip */
#content {
    & .tip {
      display: inline-block;
      width: 100%;
      background-color: #fff2cc;
      padding: 0.1% 2%;
      margin: 4% 0% 1% 0%;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #c0aa69;
      & p {
      color: #000;
      }
    }
  }
  /* Tip END */

  .section {
    padding: 30px 0;
  }

  #sec-1 {
    background-color: #fff;
    .top {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
      @media screen and (max-width: 543px) {
        display: block;
        text-align: center;
      }
      .image {
        img {
          max-width: 100%;
          @media screen and (max-width: 543px) {
            max-width: 50%;
          }
        }
      }
      h2 {
        margin: 0;
        padding: 0;
      }
      .top-text {
        padding-left: 10%;
        @media screen and (max-width: 543px) {
          padding-left: 0%;
        }
      }
    }
    .bottom {
      div {
        @media screen and (max-width: 543px) {
          margin-bottom: 30px;
        }
      }
    }
    .arrows {
      @media screen and (max-width: 543px) {
        padding: 30px 0;
      }
      &::after {
        content: url("../img/arrow.png");
        position: absolute;
        right: -15px;
        top: 25%;
        @media screen and (max-width: 768px) {
          display: none;
        }
        @media screen and (max-width: 543px) {
          display: block;
          top: 96%;
          left: -30px;
          //transform: translateY(50%);
          transform: rotate(90deg);
        }
      }
      &::before {
        content: url("../img/arrow.png");
        position: absolute;
        left: -15px;
        top: 25%;
        @media screen and (max-width: 768px) {
          display: none;
        }
        @media screen and (max-width: 543px) {
          display: block;
          top: -6%;
          right: 0%;
          transform: translateX(50%);
          transform: rotate(90deg);
        }
      }
    }
  }
  .bg {
    background-image: url('https://www.telekom.sk/documents/10179/211203/biometria_background_2a.jpg');
  }
  #sec-2 {
    .wrapper {
      color: #fff;
      .row {
        padding: 15px;
        .box {
          margin: 30px 0;
        }
      }
    }
    .desc-box-img {
      height: 70px;
      text-align: center;
    }
  }

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
