<section id="hero">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-7 hero__content text_centered">
                <h1 class="hero__title font_black">
                    PRENOS ČÍSLA</h1>
                <h2 class="hero_subtitle font_black">
                    PREJDITE K NÁM A ZÍSKATE BONUS<br />
                    AŽ 200 €</h2>
                <div class="hero_desc">
                    &nbsp;</div>
                <a class="button button_lima" href="/mam-zaujem/prenos-cisla-bonus-200/formular"><span>PRENIESŤ ČÍSLO</span> </a><br />
                <a class="scroll-to" href="#sec-3">Pozrieť viac o prenose čísla</a></div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">AKO ZÍSKAŤ A UPLATNIŤ VIANOČNÝ BONUS</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">AKO PREBEHNE PRENOS</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">ODPORÚČAME</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="https://www.telekom.sk/documents/10179/544745/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="sec-1 section" id="sec-1">
    <div class="container-fixed">
        <div class="sec__title">
            <b>výhody pri prenose čísla</b></div>
        <div class="row text_centered">
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-01.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold">Vybavíme všetko za vás!</span><br />
                    Požiadajte o prenos čísla a všetky potrebné veci vybavíme za vás. Už o pár dní si budete môcť užívať množstvo výhod.<br />
                    <a href="/mam-zaujem/prenos-cisla-bonus-200/formular">Preniesť číslo</a></p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-02.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">Neobmedzené volania</span><br />
                    Ak si vyberiete niektorý z paušálov Happy, získate neobmedzené volania do pevnej a mobilnej siete Telekom.<br />
                    <a class="scroll-to" href="#sec-2">Pozrieť paušály</a></p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-03.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">U susedov ako doma</span><br />
                    S paušálmi Happy voláte a esemeskujete v susedných štátoch v rámci voľných minút. Po ich minutí máte ceny ako doma!</p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-04.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold">Výhody nákupu na webe</span><br />
                    Pri kúpe cez web máte extra zľavu na mobil, doručenie zadarmo a možnosť vrátiť tovar alebo službu do 14 dní.</p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-05.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">Magio GO zadarmo na 3 mesiace</span><br />
                    Televíziu Magio GO môžete sledovať cez mobil, tablet či notebook všade tam, kde máte internetové pripojenie.</p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-06.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">Najrýchlejšia 4G sieť</span><br />
                    S paušálmi Happy voláte a esemeskujete v <span class="roaming-info">susedných štátoch</span> v rámci voľných minút. Po ich minutí máte ceny ako doma!</p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <div class="c-row c-row-table">
            <div class="c-content show-mobile" id="happy-boxes">
                <div class="header-top">
                    <div class="sec__title">
                        <b>SLUŽBY A CENY HAPPY PAUŠÁLOV</b></div>
                </div>
                <div class="box" id="happy-xs">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">Happy XS</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">50 minút do ostatných sietí SR, EÚ a&nbsp;prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">100 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xs">9,99 €</a></div>
                </div>
                <div class="box" id="happy-s">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">Happy S</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">100 minút do ostatných sietí SR, EÚ a&nbsp;prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">200 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s">16,99 €</a></div>
                </div>
                <div class="box" id="happy-m">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">Happy M</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">150 minút do ostatných sietí SR, EÚ a prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">500 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m">23,99 €</a></div>
                </div>
                <div class="box" id="happy-l">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">Happy L</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">250 minút do ostatných sietí SR, EÚ a&nbsp;prijaté hovory v&nbsp;EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">2000 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">29,99 €</a></div>
                </div>
                <div class="box" id="happy-xl-volania">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">Happy XL volania</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">Neobmedzene v SR, 1 000 minút do EÚ zo SR, 1 000 minút prijatých v EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">500 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">29,99 €</a></div>
                </div>
                <div class="box" id="happy-xl">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">Happy XL</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">Neobmedzene v SR, 1 000 minút do EÚ zo SR, 1 000 minút prijatých v EÚ</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">4000 MB voľných dát aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">39,99 €</a></div>
                </div>
                <div class="box" id="happy-xxl">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">Happy XXL</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">Neobmedzene v SR, 1 000 minút do EÚ zo SR, 1 000 minút prijatých v EÚ, 100 minút z EÚ do SR</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">6000 MB aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">54,99 €</a></div>
                </div>
                <div class="box" id="happy-profi">
                    <div class="nadpis">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy?vyberrp=profi">Happy PROFI</a></div>
                    <div class="maindesc">
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy">Neobmedzene v SR, 1 000 minút do EÚ a svet, 1 000 minút v EÚ a svet, 200 minút z EÚ a sveta do SR</a></div>
                        <div class="desc">
                            <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy">6000 MB aj v&nbsp;4G sieti</a></div>
                    </div>
                    <div class="cena">
                        <a href="https://www.telekom.sk/mob/objednavka/-/scenario/e-shop/happy">69,99 €</a></div>
                </div>
            </div>
            <div class="c-content hide-mobile" id="happy-table">
                <div class="header-top">
                    <div class="sec__title">
                        <b>SLUŽBY A CENY HAPPY PAUŠÁLOV</b></div>
                </div>
                <div class="happy-table2">
                    <table class="happy-desc">
                        <thead>
                            <tr class="header">
                                <th>
                                    &nbsp;</th>
                                <th>
                                    &nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-1">
                                <td class="row-1-head">
                                    Neobmedzené volania do mobilnej a pevnej siete Telekom</td>
                            </tr>
                            <tr class="row-2">
                                <td class="row-2-head">
                                    Volania do ostatných sietí SR, EÚ a prijaté hovory v EÚ</td>
                            </tr>
                            <tr class="row-4">
                                <td class="row-4-head">
                                    SMS/MMS v rámci SR</td>
                            </tr>
                            <tr class="row-5">
                                <td class="row-5-head">
                                    4G Internet v mobile <span><img src="https://www.telekom.sk/documents/10179/355205/icon_info_grey.png" /></span></td>
                            </tr>
                            <tr class="row-10">
                                <td class="row-10-head">
                                    Mesačný poplatok</td>
                            </tr>
                            <tr class="row-8">
                                <td class="row-8-head">
                                    Bonus na paušál
                                    <div class="magenta-row">
                                        &nbsp;</div>
                                </td>
                            </tr>
                            <tr class="row-8">
                                <td class="row-8-head">
                                    Bonus na telefón
                                    <div class="magenta-row">
                                        &nbsp;</div>
                                </td>
                            </tr>
                            <tr class="row-9">
                                <td class="row-9-head">
                                    Zľava na paušál bez mobilu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="happy-left">
                    <a href="#" id="previous-column"><img src="https://www.telekom.sk/documents/10179/355205/row1-table_left.png" /> </a></div>
                <div class="happy-table3">
                    <div class="table-container">
                        <div class="sliding-window">
                            <table class="happy">
                                <thead>
                                    <tr class="header">
                                        <td class="row-head-xs">
                                            Happy XS</td>
                                        <td class="row-head-s">
                                            Happy S</td>
                                        <td class="row-head-m">
                                            Happy M</td>
                                        <td class="row-head-l">
                                            Happy L</td>
                                        <td class="row-head-xl2">
                                            Happy XL volania</td>
                                        <td class="row-head-xl">
                                            Happy XL</td>
                                        <td class="row-head-xxl">
                                            Happy XXL</td>
                                        <td class="row-head-profi">
                                            Happy PROFI</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row-1">
                                        <td class="row-1-xs">
                                            Mimo špičky<br />
                                            a cez víkend</td>
                                        <td class="row-1-s">
                                            &nbsp;</td>
                                        <td class="row-1-m">
                                            &nbsp;</td>
                                        <td class="row-1-l">
                                            &nbsp;</td>
                                        <td class="row-1-xl2">
                                            &nbsp;</td>
                                        <td class="row-1-xl">
                                            &nbsp;</td>
                                        <td class="row-1-xxl">
                                            &nbsp;</td>
                                        <td class="row-1-profi">
                                            &nbsp;</td>
                                    </tr>
                                    <tr class="row-2">
                                        <td class="row-2-xs">
                                            50 minút</td>
                                        <td class="row-2-s">
                                            100 minút</td>
                                        <td class="row-2-m">
                                            150 minút</td>
                                        <td class="row-2-l">
                                            250 minút</td>
                                        <td class="row-2-xl2">
                                            <div class="row-2-xl2-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-xl2-b">
                                                1 000 minút do EÚ zo SR,</div>
                                            <div class="row-2-xl2-c">
                                                1 000 minút prijatých v EÚ</div>
                                        </td>
                                        <td class="row-2-xl">
                                            <div class="row-2-xl-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-xl-b">
                                                1 000 minút do EÚ zo SR,</div>
                                            <div class="row-2-xl-c">
                                                1 000 minút prijatých v EÚ</div>
                                        </td>
                                        <td class="row-2-xxl">
                                            <div class="row-2-xxl-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-xxl-b">
                                                1 000 minút do EÚ zo SR,</div>
                                            <div class="row-2-xxl-c">
                                                1 000 minút prijatých v EÚ,</div>
                                            <div class="row-2-xxl-d">
                                                100 minút z EÚ do SR</div>
                                        </td>
                                        <td class="row-2-profi">
                                            <div class="row-2-profi-a">
                                                Neobmedzene v SR,</div>
                                            <div class="row-2-profi-b">
                                                1 000 minút do EÚ a svet,</div>
                                            <div class="row-2-profi-c">
                                                1 000 minút v EÚ a svet,</div>
                                            <div class="row-2-profi-d">
                                                200 minút z EÚ a sveta do SR</div>
                                        </td>
                                    </tr>
                                    <tr class="row-4">
                                        <td class="row-4-xs">
                                            0,10 €</td>
                                        <td class="row-4-s">
                                            0,10 €</td>
                                        <td class="row-4-m">
                                            Neobmedzene</td>
                                        <td class="row-4-l">
                                            Neobmedzene</td>
                                        <td class="row-4-xl2">
                                            0,10 €</td>
                                        <td class="row-4-xl">
                                            Neobmedzene</td>
                                        <td class="row-4-xxl">
                                            Neobmedzene aj do EÚ</td>
                                        <td class="row-4-profi">
                                            <div class="row-4-profi-a">
                                                Neobmedzene aj do</div>
                                            <div class="row-4-profi-b">
                                                EÚ + svet</div>
                                        </td>
                                    </tr>
                                    <tr class="row-5">
                                        <td class="row-5-xs">
                                            100 MB</td>
                                        <td class="row-5-s">
                                            200 MB</td>
                                        <td class="row-5-m">
                                            500 MB</td>
                                        <td class="row-5-l">
                                            2 000 MB</td>
                                        <td class="row-5-xl2">
                                            500 MB</td>
                                        <td class="row-5-xl">
                                            4 000 MB</td>
                                        <td class="row-5-xxl">
                                            6 000 MB</td>
                                        <td class="row-5-profi">
                                            6 000 MB</td>
                                    </tr>
                                    <tr class="row-10">
                                        <td class="row-10-xs">
                                            9,99 €</td>
                                        <td class="row-10-s">
                                            16,99 €</td>
                                        <td class="row-10-m">
                                            23,99 €</td>
                                        <td class="row-10-l">
                                            29,99 €</td>
                                        <td class="row-10-xl2">
                                            29,99 €</td>
                                        <td class="row-10-xl">
                                            39,99 €</td>
                                        <td class="row-10-xxl">
                                            54,99 €</td>
                                        <td class="row-10-profi">
                                            69,99 €</td>
                                    </tr>
                                    <tr class="row-8">
                                        <td class="row-8-xs">
                                            50,00 €</td>
                                        <td class="row-8-s">
                                            50,00 €</td>
                                        <td class="row-8-m">
                                            100,00 €</td>
                                        <td class="row-8-l">
                                            100,00 €</td>
                                        <td class="row-8-xl2">
                                            100,00 €</td>
                                        <td class="row-8-xl">
                                            150,00 €</td>
                                        <td class="row-8-xxl">
                                            150,00 €</td>
                                        <td class="row-8-profi">
                                            150,00 €</td>
                                    </tr>
                                    <tr class="row-8">
                                        <td class="row-8-xs">
                                            50,00 €</td>
                                        <td class="row-8-s">
                                            50,00 €</td>
                                        <td class="row-8-m">
                                            50,00 €</td>
                                        <td class="row-8-l">
                                            50,00 €</td>
                                        <td class="row-8-xl2">
                                            50,00 €</td>
                                        <td class="row-8-xl">
                                            50,00 €</td>
                                        <td class="row-8-xxl">
                                            50,00 €</td>
                                        <td class="row-8-profi">
                                            50,00 €</td>
                                    </tr>
                                    <tr class="row-9">
                                        <td class="row-9-xs">
                                            -</td>
                                        <td class="row-9-s">
                                            - 1,00 €</td>
                                        <td class="row-9-m">
                                            - 4,00 €</td>
                                        <td class="row-9-l">
                                            - 2,00 €</td>
                                        <td class="row-9-xl2">
                                            - 2,00 €</td>
                                        <td class="row-9-xl">
                                            - 4,00 €</td>
                                        <td class="row-9-xxl">
                                            - 8,00 €</td>
                                        <td class="row-9-profi">
                                            - 10,00 €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="happy-right">
                    <a href="#" id="next-column"><img src="https://www.telekom.sk/documents/10179/355205/row1-table_right.png" /></a></div>
                <div class="table-order">
                    <a class="button button_lima" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular">PRENIESŤ ČÍSLO</a></div>
            </div>
        </div>
    </div>
</section>
<section class="sec-3 section" id="sec-3">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="sec__title">
                    <b>AKO ZÍSKAŤ A UPLATNIŤ VIANOČNÝ BONUS</b></div>
                <p class="sec__desc text_centered">
                    Bonus do 200 € získate pri prenose svojho čísla od iného operátora k nám. Čím vyšší paušál si vyberiete, tým väčší bonus dostanete.</p>
                <p class="sec__desc text_centered">
                    Bonus si môžete uplatniť ako zľavu na paušál a nový mobil. Bonus na mobil dostanete okamžite.<br />
                    Bonus na paušál sa vám uplatní počas nasledujúcich 20 mesiacov.</p>
            </div>
            <div class="row text_centered">
                <div class="col-md-4">
                    <p class="sub__title font_magenta">
                        <b>100 €</b> bonus</p>
                    <p class="sub__desc">
                        získate k paušálom Happy XS a S, z toho 50 € na paušál a 50 € na nový telefón <!-- <img class="benefit3" src="../assets/img/ico-info.png" /> --><br />
                        <a class="benefit3" href="#">Viac info o uplatnení</a></p>
                </div>
                <div class="col-md-4">
                    <p class="sub__title font_magenta">
                        <b>150 €</b> bonus</p>
                    <p class="sub__desc">
                        získate k paušálom Happy M, L a XL Volania, z toho 100 € na paušál a 50 € na nový telefón <!-- <img class="benefit3" src="../assets/img/ico-info.png" /> --><br />
                        <a class="benefit2" href="#">Viac info o uplatnení</a></p>
                </div>
                <div class="col-md-4">
                    <p class="sub__title font_magenta">
                        <b>200 €</b> bonus</p>
                    <p class="sub__desc">
                        získate k paušálom Happy XL, XXL a Profi, z toho 150 € na paušál a 50 € na nový telefón <!-- <img class="benefit3" src="../assets/img/ico-info.png" /> --><br />
                        <a class="benefit1" href="#">Viac info o uplatnení</a></p>
                </div>
            </div>
            <div class="row text_centered">
                <div class="col-md-12 mgt-50">
                    <a class="button button_lima" href="/mam-zaujem/prenos-cisla-bonus-200/formular">PRENIESŤ ČÍSLO</a></div>
            </div>
        </div>
    </div>
</section>
<section class="sec-4 section" id="sec-4">
    <div class="container-fixed">
        <div class="row b-b">
            <div class="col-md-8 offset-md-2 ">
                <div class="sec__title">
                    <b>AKO PREBEHNE PRENOS</b></div>
                <p class="sec__desc text_centered">
                    O stave prenosu vás budeme priebežne informovať cez SMS.<br />
                    Poplatok za vydanie novej Telekom SIM karty je 10 €.</p>
                <p class="sec__desc-list">
                    &nbsp;</p>
                <ul class="spec-list spec-list-num">
                    <li data-type="one">
                        <b>Žiadosť o prenos čísla a doručenie</b><br />
                        V priebehu 3 pracovných dní po odoslaní žiadosti vás budeme kontaktovať kvôli overeniu údajov a výberu paušálneho programu, prípadne nového mobilu. Následne vám kuriérom bezplatne doručíme potrebné dokumenty na podpis, novú Telekom SIM kartu a nový mobil (ak ste si ho objednali).</li>
                    <li data-type="two">
                        <b>Fungovanie počas prenosu</b><br />
                        Počas prenosu využívate svoje telefónne číslo u svojho súčasného operátora. Okrem neho môžete používať aj novú Telekom SIM kartu, na ktorej je aktivované dočasné číslo.</li>
                    <li data-type="three">
                        <b>Aktivovanie paušálu Happy</b><br />
                        Do 4 dní po podpísaní dokumentov bude na novej Telekom SIM karte aktivované vaše pôvodné číslo, ktoré môžete ihneď začať používať.</li>
                </ul>
                <p>
                    &nbsp;</p>
            </div>
        </div>
    </div>
</section>
<section class="sec-5 section" id="sec-5">
    <div class="container-fixed">
        <div class="row b-b">
            <div class="sec__title">
                <b>ODPORÚČAME</b></div>
            <div class="row text_centered">
                <div class="col-md-4">
                    <img alt="" src="../assets/img/ico-07.png" />
                    <p class="sub__desc">
                        Skontrolujte si osobné údaje v zmluve so súčasným operátorom. Musia sa zhodovať s tými, ktoré uvediete v&nbsp;žiadosti o&nbsp;prenos do Telekomu.</p>
                </div>
                <div class="col-md-4">
                    <img alt="" src="../assets/img/ico-08.png" />
                    <p class="sub__desc">
                        O&nbsp;prenos čísla vám odporúčame požiadať po skončení viazanosti, pretože váš súčasný operátor si môže uplatniť pokutu za predčasné ukončenie zmluvy.</p>
                </div>
                <div class="col-md-4">
                    <img alt="" src="../assets/img/ico-09.png" />
                    <p class="sub__desc">
                        Pre plynulý a&nbsp;bezproblémový prenos je dôležité, aby ste mali vysporiadané všetky záväzky s vaším súčasným operátorom.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-6 section" id="sec-6">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <a class="note-zdielanie" href="" onclick="$('#happy-legal').toggle('slow');return false;">Podmienky:</a>
                <div id="happy-legal" style="display: none;">
                    <div class="happy-legal">
                        <a class="note-legal" href="" onclick="$('#happy-legal-2').toggle('slow');return false;">Bonus za aktiváciu s prenesením čísla</a>
                        <div class="happy-legal-content" id="happy-legal-2">
                            <p>
                                Účastník, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XS a vyšším s viazanosťou 24 mesiacov (ďalej len „Happy“) vo vzťahu k novej SIM karte a k telefónnemu číslu, ktoré bolo prenesené k Podniku od iného podniku poskytujúceho elektronické komunikačné služby na základe Podnikom akceptovanej Žiadosti o prenos čísla v mobilnej sieti k spoločnosti Slovak Telekom, a.s., získava bonus za aktiváciu čísla (ďalej len „Bonus“) a zľavu vo výške 50 € na akciovú kúpnu cenu Zariadenia (ďalej len „Zľava“). V prípade, ak výška Zľavy presiahne výšku kúpnej ceny Zariadenia, je kúpna cena Zariadenia 1 €. Bonus za aktiváciu je uplatňovaný vo forme zľavy za Služby poskytované vo vzťahu k SIM karte v celkovej výške: (i) Bonus 50,- €, ktorý bude uplatňovaný v sumách po 2,50 € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy XS alebo Happy S v zmysle tohto Dodatku; (ii) Bonus 100,- €, ktorý bude uplatňovaný v sumách po 5,- € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy M, Happy L alebo Happy XL volania v zmysle tohto Dodatku; (iii) Bonus 150,- €, ktorý bude uplatňovaný v sumách po 7,50 € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy XL, Happy XXL alebo Happy Profi v zmysle Dodatku. Bonus podľa predchádzajúcej vety je možné vo vzťahu k telefónnemu číslu využiť a uplatniť iba jedenkrát (nie opakovane), pričom výška Bonusu je počas celého obdobia jeho uplatňovania závislá od úrovne programu Happy, ktorý bol aktivovaný pri uzavretí Dodatku. Nárok na Bonus definitívne zaniká v prípadoch: (i) prerušenia poskytovania Služieb alebo deaktivácie zvoleného programu Služieb Happy na iné programy Služieb než Happy (ii) uzavretia nového dodatku k Zmluve, ktorým sa tento Dodatok zruší. Ponuku nie je možné kombinovať a súčasne využívať s akoukoľvek inou akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné.</p>
                        </div>
                    </div>
                </div>
                <div class="c-content happy-legal-cennik">
                    <p>
                        Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/" target="_blank">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>