/* ===============
   CSS FOR MICROSITE
   =============== */

/* VARIABLES */

$mine-shaft: #383838;
$boulder: #757575;
$gallery: #ededed;
$silver-chalice: #b2b2b2;
$silver-chalice-dark: #a1a1a1;
$nobel: #b4b4b4;
$nobel-mid: #b6b6b6;
$alto-light: #dedede;
$alto: #dbdbdb;
$alto-mid: #d7d7d7;
$mercury: #e7e7e7;
$silver-light: #cdcdcd;
$silver: #bababa;
$concrete: #f2f2f2;
$white: #ffffff;
$black: #000000;
$lima: #6bb324;
$vida-loca-light: #65ac20;
$vida-loca: #58951c;
$vida-loca-mid: #5e9e20;
$vida-loca-dark: #4d8319;
$rose: #e20074;
$lipstick: #cc0069;
$fresh-eggplant: #9f0052;
$razzmatazz: #db0070;
$deep-cerulean: #007faf;
$deep-cerulean-mid: #017ba9;
$orient: #00668d;
$cornflower-blue: #66afe9;

/* BUTTONS */

#content .btn {
    text-transform: uppercase;
    font-size: 16px;
    color: $mine-shaft;
    background-color: $gallery;
    border: 1px solid $silver-chalice;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
}

#content .btn .fa {
    margin-right: 6px;
}

#content .btn .fa-only {
    margin-right: 0;
}

#content .btn:hover {
    background-color: $alto;
    border: 1px solid $silver-chalice-dark;
}

#content .btn:active {
    background-color: $mercury;
    border: 1px solid $silver-chalice;
}

#content .btn.btn_disabled {
    color: $silver;
    background-color: $concrete;
    border: 1px solid $alto-light;
    cursor: no-drop;
}

#content .cta {
    color: $white;
    background-color: $lima;
    border: 1px solid $vida-loca;
}

#content .cta:hover {
    background-color: $vida-loca-mid;
    border: 1px solid $vida-loca-dark;
}

#content .cta:active {
    background-color: $vida-loca-light;
    border: 1px solid $vida-loca;
}

#content .cta_mag {
    color: $white;
    background-color: $rose;
    border: 1px solid $lipstick;
}

#content .cta_mag:hover {
    background-color: $lipstick;
    border: 1px solid $fresh-eggplant;
}

#content .cta_mag:active {
    background-color: $razzmatazz;
    border: 1px solid $lipstick;
}

#content .cta.btn_disabled,
#content .cta_mag.btn_disabled {
    color: $white;
    background-color: $alto-mid;
    border: 1px solid $silver-light;
}

#content .btn_clean {
    background-color: $white;
    border: 1px solid $white;
    color: $mine-shaft;
}

#content .btn_clean:hover {
    background-color: $gallery;
    border: 1px solid $gallery;
}

#content .btn_outline,
#content .btn_outline:hover {
    background-color: transparent;
    border: 1px solid $silver-chalice;
}

#content .btn_mag-outline,
#content .btn_mag-outline:hover {
    background-color: transparent;
    color: $rose;
    border: 1px solid $rose;
}

#content .link {
    color: $deep-cerulean;
    text-decoration: underline;
}

#content .link:hover {
    color: $orient;
    text-decoration: underline;
}

#content .link:active {
    color: $deep-cerulean-mid;
    text-decoration: none;
}

/* GLOBALS */

#content .link {
    text-decoration: underline;
}
#content a.fancy:hover {
    text-decoration: underline;
}
#content .info-tooltip {
    cursor: pointer;
}
.tooltip .qtip-content {
    font-size: 14px;
}
#content .link_tundora {
    color: $tundora;
}
#content .link_magenta {
    color: $magenta;
}
#content .link_blue {
    color: $deep-cerulean;
}
#content .section {
    padding: 30px 0 40px 0;
}
#content .section__desc {
    text-align: center;
}
#content .section__title {
    color: $magenta;
    font-size: 1.8em;
    text-align: center;
    text-transform: uppercase;
}
.col-space {
    margin-top: 40px;
}
#content .media {
    text-align: center;
    display: inline-block;
}
#content .media__title {
    margin: 10px 0 5px 0;
    font-weight: 500;
}
#content .media__title_black {
    color: $black;
    font-weight: bold;
}
#content .media__desc {
    margin: 0;
    color: $tundora;
}
#content .media__desc .underline {
    color: $tundora;
    text-decoration: underline;
}
#content .media__link {
    margin: 10px 0 0 0;
    display: inline-block;
    font-size: 16px;
}
#content .media__title_tundora {
    color: $tundora;
}
#content .media__title_magenta {
    color: $magenta;
}
#content .cmb__area {
    background: #cedfef;
    padding: 30px 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#content h3.cmb__area__head {
    border-bottom: 0;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.8em;
    margin-bottom: 25px;
    color: #262626;
}
@media screen and (max-width: 892px) {
    #nav-sticky-sticky-wrapper {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #content .media {
        width: 100%;
    }
    #content .media:nth-of-type(2) {
        margin: 15px 0;
    }
}

/* LIGHTBOX */

.detail,
.fancybox-title {
    display: none;
}
.detail-lightbox h1,
.detail-lightbox h3 {
    color: #e20074;
}
.fancybox-skin {
    padding: 15px;
    width: auto;
    height: auto;
}

/* HERO */

#hero {
    background: url(../img/kv_960.jpg) no-repeat 60% 50%;
    background-size: cover;
    min-height: 203px;
    padding-top: 30px;
}

.hero__content {
    text-align: center;
}

#content .hero__title {
    color: #000;
    margin-top: 20px;
    margin-bottom: 0px;
}

#hero .link {
    margin-top: 10px;
    display: inline-block;
}

@media screen and (max-width: 960px) {
    #hero_old {
        display: inline-block;
    }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url(../img/kv_768.jpg) no-repeat;
    background-position: 100% 50%;
    min-height: 240px;
  }
  #content .hero__title {
      margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0; }
  .hero__mobile {
    background: url(../img/kv_480.png) no-repeat 100% 10%;
    height: 210px;
    background-size: contain;
  }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__content {
    padding: 40px 4%; }
  #content .hero__title, #content .hero__desc {
    color: #262626 !important; }
  #hero .btn {
    margin-top: 30px; } }

/* SEC 2 */

#content .sec-2 {
    background: #ededed;
}
#content .sec-2 .section__desc {
    margin-bottom: 25px;
}
.sec-2 .col-holder {
    /*max-width: 620px;*/
    width: 100%;
    margin: 0 auto;
}
#content .sec-2 .info-4.link-ul {
    margin-top: 10px;
}
#content .sec-2 .link-ul:hover {
    text-decoration: underline;
}
.variant2 {
    background: $white;
    padding: 25px;
    text-align: center;
    max-width: 300px;
}

#content .variant2:nth-of-type(3) {
    float: right;
}
#content .variant__title {
    color: $magenta;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
}
#content .chanels__title {
    color: $black;
    font-size: 20px;
}
#content .variant__img {
    padding-bottom: 10px;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
#content .variant__img {
    width: 100%;
}
}

#content .variant__go {
    font-size: 16px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
}
#content .variant__go {
    border-top: 1px solid #d0d0d0;
    padding-top: 15px;
}
#content .variant__pricing .price {
    font-size: 20px;
}
#content .variant__pricing .price__detail {
    font-size: 16px;
    color: $magenta;
}
#content .variant__pricing .variant__link {
    font-size: 16px;
    display: inline-block;
    color: #007faf;
    margin-top: 10px;
}
#content .disclaimer {
    text-align: center;
    margin-bottom: 20px;
}
@media screen and (min-width: 600px) {
 #content .variant2:nth-of-type(2) {
        margin-left: 2%;
    }
#content .variant__title {
    min-height: 65px;
}

}

/* responsive fix */
@media screen and (max-width: 600px) {
    #content .tabs-menu li {
        width: 100%;
        max-width: none;
    }
    .variant2:nth-of-type(2) {
        margin: 15px 0;
    }

    #content .grid-g__col_4,
    #content .variant2:nth-of-type(3) {
      float: none;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 5%;
    }
}
/* responsive fix END */

/* SEC 3 */

#sec-3 {
    background-color: #ededed;
}

#content .sec-3 .section__title {
    color: $mine-shaft;
}



/* SEC 5 */

#sec-5 {
    background-color: #ededed;
}

.sec-5 .grid-g__col_7 {
    margin-right: 2.12766%;
    text-align: center;
}
#content .sec-5 .media__title {
    color: $magenta;
}
#content .custom-title {
    font-weight: 500;
    color: $magenta;
}
#content .sec-5 .custom-desc:last-of-type {
    margin-top: 20px;
}
#content .custom-link {
    font-size: 16px;
    color: $tundora;
}
#content .prod-img {
    width: 100%;
    max-width: 380px;
}
#content .sec-5 .grid-g__col_5 {
    text-align: center;
}
@media screen and (max-width: 600px) {
    #content .sec-5 .grid-g__col_7 {
        margin: 0 0 20px 0;
        width: 100%;
    }
    #content .sec-5 .grid-g__col_5 {
        width: 100%;
    }
}

/* SEC 6 */

#content .sec-6 {
    background: #ededed;
    padding: 30px 0 30px 0;
}
#content .sec-6 .grid-g__col_12 {
    text-align: center;
}
#content .link_wiki {
    margin-top: 30px;
}
#content .sec-6 .media__desc {
    padding: 0 2%;
}

/* SEC 6 */

#content .sec-7 .media__desc {
    padding: 0 2%;
}

/* XMAS OFFERS */

.offer-box {
    background: #fff;
    border: 1px solid #d0d0d0;
    //padding: 20px 30px;
}

#content .main-offer__title {
    font-size: 32px;
    color: #262626;
}

#content .main-offer__desc {
    color: #4b4b4b;
}

#content .offer__title,
#content .so__title {
    color: #262626;
    font-size: 22px;
}

#content .so__title {
    font-size: 16px;
}

#content .offer__desc,
#content .offer__link,
#content .so__desc {
    color: #4b4b4b;
}

.sol_ico:nth-of-type(2) {
    display: inline-block;
    margin-top: 5px;
}

.sol_ico img {
    vertical-align: text-bottom;
    margin-right: 5px;
}

.left-holder {
    float: left;
}

.right-holder {
    float: right;
}

.offer__wrapper:after {
    content: "";
    display: table;
    clear: both;
}


.sub-offer {
    width: 32%;
    float: left;
}

.sub-offer:nth-of-type(1) {
    padding-right: 2%;
}

.sub-offer:nth-of-type(2) {
    padding: 0 2%;
    margin-right: 2%;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}


/* BOX - 1 */

.box-1 .left-holder {
    width: 38%;
}

.box-1 .right-holder {
    width: 60%;
}

.box-1 img {
    max-width: 275px;
    width: 100%;
}

@media screen and (max-width: 670px) {
    .box-1 .left-holder {
        display: none
    }
    .box-1 .right-holder {
        width: 100%;
    }
}


/* BOX - 2 */
.box-2 {
  width: 100%;
  float: left;
  margin: 1% 1% 1% 0%;
  height: 230px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .offer__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.box-2 .left-holder {
  width: 60%;
  padding: 20px;
}

.box-2 .right-holder {
  width: 40%;
  height: 100%;
  background: url(../img/box-viac-za-menej_2.jpg) no-repeat 50% 50%;
  background-size:contain;
}

@media screen and (max-width: 768px) {
  .box-2 {
    margin: 1% 0% 1% 0%;
    width: 100%;
    height: auto;
    min-height: auto;
    & .right-holder {
      min-height: 200px;
    }
  }
 }

 @media screen and (max-width: 400px) {
   .box-2 {
     margin: 0%;
     & .offer__wrapper {
     display: flex;
     flex-direction: column-reverse;
     }
     & .right-holder {
       width: 100%;
       min-height: 150px;
     }
     & .left-holder {
       width: 100%;
     }
   }
 }


/* BOX - 3 */

.box-3 {
    float: right;
    width: 70%;
    margin-top: 10px;
}

.box-3 .left-holder {
    width: 60%;
}

.box-3 .right-holder {
    width: 38%;
    text-align: right;
}

.box-3 img {
    max-width: 248px;
    width: 100%;
}

#content .offer__title {
    margin-top: 15px;
}

@media screen and (max-width: 900px) {
    .box-3 {
        width: 68%;
    }
    .box-3 .left-holder {
        width: 100%;
    }
    .box-3 .right-holder {
        display: none;
    }
}

@media screen and (max-width: 850px) {
    .box-3 {
        float: right;
        width: 100%;
        margin-top: 10px;
    }
    .box-3 .left-holder {
        width: 60%;
    }
    .box-3 .right-holder {
        width: 38%;
        display: inline-block;
        text-align: right;
    }
}

@media screen and (max-width: 600px) {
    .box-3 .left-holder {
        width: 100%;
    }
    .box-3 .right-holder {
        display: none;
    }
    .sub-offer {
        width: 100%;
    }
    .sub-offer:nth-of-type(1) {
        padding-right: 0;
    }
    .sub-offer:nth-of-type(2) {
        padding: 4% 0;
        margin: 4% 0;
        border-left: 0;
        border-right: 0;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
    }
    #content .main-offer__title,
    #content .offer__title {
        margin-top: 0;
    }
}

/* TABS */
#content .tab {
    margin-bottom: 5px;
}

#sec-4 {
  //background: #fff url("/documents/10179/5213087/vlocky.png") no-repeat 50% 0%;
}

#content .tab .tab-content {
  margin-top: 20px;
}

#content .tab .tab-label {
  text-align: center;
  font-size: 26px;
  font-weight: normal;
}

#content .tab .tab-help {
  width: 200px;
  text-align: center;
  display: inline-block;
  margin-right: 30px;
  & p {
    font-weight: normal;
    line-height: 18px;
  }
  & .tab-icons {
    padding-top: 20px;
    & p {
      color: #a4a4a4;
      margin-top: 0;
    }
  }
  & .tab-help-title {
    //padding-left: 20px;
    font-weight: 600;
  }
}

.dph p {
  color: #999;
  margin-top: 10px;
  text-align: right;
}

#content .tab .tab-acc {
  display: inline-block;
  vertical-align: top;
}

#content .tab .tab-acc {
  width: 700px;
}



#content .tab .tab-acc-sub {
  padding: 11px 6px;
  width: 230px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border: 0;
  margin-bottom: 10px;
  min-height: 427px;
  & a.a-title {
    display: inline-block;
    width: 100%;
    font-size:18px;
    color: #4b4b4b;
    //height: 70px;
    margin: 10px 0;
  }
  & .a-title:hover {
    text-decoration: underline;
  }
  & .a-title-2 {
    float: right;
    display: none;
  }
}

#content .tab h2 {
    font-size:16px;
    color: #4b4b4b;
}

#content h2 {
    border-bottom: 0;
    font-size: 20px;
    line-height: 1;
    color: #e20074;
    margin: 20px 0 10px;
}


#content .tab .tab-ex {
  cursor: default;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  & p:first-child {
    border-bottom: solid 1px #ccc;
  }
  & p {
    margin: 1px 0;;
  }
  & > div:last-child {
    border-top: solid 1px #ccc;
    color: $magenta;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 5px;
  }
}

#content .tab .tab-ex .tab-ex-label {
  display: inline-block;
  width: 163px;
}

#content .tab .tab-ex .tab-ex-price {
  display: inline-block;
  width: 50px;
  text-align: right;
}

#content .tab .tab-mag-go {
  display: inline-block;
  position: relative;
  width: 210px;
  min-height: 315px;
  vertical-align: top;
  background-color: #e6e6e6;
  text-align: center;
  padding: 30px 0;
  float: right;
  & h2 {
    color: $magenta;
    font-size: 28px !important;
    padding-bottom: 0;
    font-weight: 900;
    margin: 0px;
  }
  & p {
    margin: 0 0 10px 0;
  }
  & a {
    margin-top: 10px;
  }
}

#tab-3 {
  position: relative;
  & .tab-acc {
    width: 485px !important;
  }
  & .tab-mag-go {
    position: absolute !important;
    top: 60px;
    right: 0;
  }
}

.sticker-picture {
  position: absolute;
  top: 130px;
  left: 120px;
}

.sticker-picture2 {
  position: absolute;
  top: 0px;
  left: 160px;
}

#content .tab .tab-action {
  display: none;
  padding: 10px 0;
  & a {
    width: 100%;
  }
}

#content .tab .tab-acc-sub:hover {
  cursor: pointer;
  //padding: 10px 5px;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
}

#content .tab .tab-acc-sub:hover .tab-action {
    display: block;
}

#content .tab-img-cont {
  & .change-width {
    max-width: 100%;
  }
}

#tab-1 .tab-img-cont, #tab-2 .tab-img-cont {
  height: 160px;
  position: relative;
}

#content .tab .tab-web-disc {
  color: #6bb324;
}

#tab-3 .tab-img-cont {
  height: 190px;
  position: relative;
}


@media screen and (max-width: 960px) {
  #content .tab .tab-acc {
    text-align: left;
  }
  #content .tab .tab-help {
    margin-right: 2%;
  }
  #content .tab .tab-acc {
    width: 470px !important;
  }
  #content .tab .tab-mag-go {
    position: relative !important;
    top: 0;
  }
  #content .tab {
    text-align: center;
  }
  #content .tab .tab-content {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 766px) {
    #content .tabs-menu {
      height: auto;
      & li {
          width: auto;
          //line-height: 100%;
          height: 50px;
          padding-top: 6px;
          & a {
            padding: 0 20px;
          }
      }
    }
    .dph {
        display: none;
      }
    #content .tab .tab-help {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        & .tab-icons {
        display: none;
        }
  }
  #content .tab .tab-acc {
    width: 100% !important;
  }
  #content .tab .tab-acc-sub {
    width: 100%;
    text-align: left;
    border-top: solid 1px #aaa;
    padding-top: 15px;
    min-height: auto;
    height: auto;
    & .tab-img-cont {
      width: 30%;
      padding: 0 !important;
      text-align: center;
      & img:first-child {
        width: 80%;
      }
    }
    & .tab-acc-cont {
      width: 68%;
      & .tab-action {
        display: block;
        & .btn {
          width: auto;
        }
      }
    }
    & .sticker-picture2 {
      right: 20px;
      left: inherit;
      width: 30%;
    }
    & .tab-img-cont, .tab-acc-cont {
      display: inline-block;
      vertical-align: top;
    }
    & .tab-ex-label {
      width: 70%;
    }
    & .tab-ex-price {
      width: 25%;
    }
    & .a-title-2 {
      display: block;
    }
  }


  #content .tab .tab-mag-go {
    display: block;
    float: inherit;
    width: 100%;
    min-height: 250px;
    & h2 {
      font-size: 36px !important;
    }
    & p {
      font-size: 28px !important;
    }
    & div {
      display: inline-block;
    }
    & .tab-mag-go-1 {
      width: 280px;
      position: relative;
    }
    & .tab-mag-go-2 {
      vertical-align: top;
      & a {
        margin-top: 40px !important;
      }
    }
    & .sticker-picture {
      left: 10px;
      top: 20px;
    }
  }
}


// tabs menu fix
@media screen and (max-width: 521px) {
  #content .tabs-menu li {
    width: 100%;
    line-height: 40px;
    border: none;
    & a {
      padding: 0 20px;
    }
  }
  & li:hover {
    border-bottom: 4px solid #ededed !important;
  }
  & li.current {
    border-bottom: 4px solid #6bb324 !important;
  }
}

/****************************************/
/* ACCORDION */
/****************************************/
// hide ACCORDION by default
.accordion {
    display: none;
}
@media screen and (max-width: 521px) {
  // hide TABS if window size <768px
  .tabs-container .tab__holder, .tabs-container .tab {
  display: none;
  }
  // show ACCORDION
    .accordion {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        margin: auto;
        display: block;
        font-size: 16px;
        padding: 0% 2%;
    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url('../img/ico-plus.png') no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;
      & .ac-price {
            color: #a4a4a4;
            font-weight: normal;
      }
    }
    & .item.open .heading {
      background: url('../img/ico-minus.png') no-repeat;
      background-position: right center;
    }
    & .item.open .content {
       display: block;
    }
    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }

    .content:after {
        content: "";
        display: table;
        clear: both;
    }
    .p-detail {
      & p {
          margin-top: 0;
      }
      & p.mb-10 {
          margin-bottom: 10px;
          text-align: left;
      }
    }

    .p-actions {
        width: 100%;
      & .btn {
          margin: 5px 0px;
          width: 100%;
      }
    }

    .p-price-label {
        text-align: left;
      &  .p-price {
          font-size: 20px;
          color: #e20074;
      }
    }
  }
}



@media screen and (max-width: 480px) {
  #content .tab .tab-mag-go {
    height: 200px;
    & h2 {
      font-size: 28px !important;
    }
    & p {
      font-size: 20px !important;
    }
    & .tab-mag-go-1 {
      width: 200px;
      & .sticker-picture {
        width: 60px;
      }
    }
    & .tab-mag-go-2 a {
      margin-top: 25px !important;
    }
  }
}

@media screen and (max-width: 390px) {
    #tab-1 .tab-acc-sub, #tab-2 .tab-acc-sub {
      height: 300px;
    }
    #tab-3 .tab-acc-sub {
      height: 240px;
    }
}

@media screen and (max-width: 360px) {
    #content .tab .tab-mag-go {
      height: 280px;
      & div {
        width: 100% !important;
        text-align: center;
        display: block;
      }
      & .tab-mag-go-1 {
        padding-left: 15px;
      }
      & h2 {
        font-size: 24px !important;
      }
      & .tab-mag-go-2 a {
        margin-top: 0px !important;
      }
      & .sticker-picture {
        left: 30px;
        top: 20px;
      }
    }
}

.strikethrough {
    position: relative;
    margin-right: 10px;
}

.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}


#content .tabs-menu li {
    //border: solid 1px #dbdbdb;
    //background-color: white;
    & a {
      color: #757575;

    }
}



#content .tabs-menu li a:hover {
    color: #383838;
}

/* TABS - END */
/* LIGHTBOX */
#info-magio-box {
    display: none;
    width: 560px;
    padding: 0px 10px 0 20px;
    font-size: 16px;
    & > div {
      display: inline-block;
    }
    & h2 {
      text-align: center;
    }
    & .lightbox-content {
      width: 283px;
    }
    & .lightbox-img-cont {
      vertical-align: top;
      margin-left: 15px;
      width: 210px;
      position: relative;
      & img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    & .lightbox-content-2 {
      color: #999;
    }
    & .lightbox-content-3 {
      color: $magenta;
      background-color: #FFF6D5;
      padding: 10px;
      & div {
        display: inline-block;
        font-size: 16px;
        vertical-align: top;
      }
      & .lightbox-3-cont {
        max-width: 220px;
        margin-left: 10px;
      }
    }
    & div[class^='lightbox-content-'] {
        margin-top: 10px;
    }

    & .tab-ex {
      text-align: left;
      font-weight: normal;
      font-size: 16px;
      & p:first-child {
        border-bottom: solid 1px #ccc;
      }
      & p {
        margin: 1px 0;;
      }
      & > div:last-child {
        border-top: solid 1px #ccc;
        color: $magenta;
        font-weight: bold;
        // margin-top: 5px;
        // padding-top: 5px;
      }
    }

    & .tab-ex .tab-ex-label {
      display: inline-block;
      width: 90px;
    }
    & .tab-ex .tab-ex-price {
      display: inline-block;
      width: 110px;
      text-align: right;
    }
    & .lightbox-content-mob {
      display: none;
      position: relative;
    }
    & .close-end {
      text-align: right;
      cursor: pointer;
      margin-top: 0;
      font-weight: bold;
      & a {
        font-size: 26px !important;
        color: #999;
      }
    }
    & .sticker-picture {
      width: 80px !important;
      top: 20px;
      left: 105px;
    }
    .lightbox-action {
      text-align: center;
      margin-top: 20px;
    }
}

@media screen and (max-width: 610px) {
    #info-magio-box {
      width: 320px;
      padding: 0;
      height: 520px;
      position: relative;
      & .lightbox-content {
        width: 100%;
      }
      & div {
        display: block;
      }
      & .lightbox-content-1 {
        & div {
          display: inline-block;
          vertical-align: top;
        }
        & div:nth-child(2) {
          margin-left: 10px;
          width: 200px;
        }
      }
      & .lightbox-img-cont {
        margin: 10px 0;
        width: 100%;
        & img {
          display: none;
        }
      }
      & .lightbox-content-3 {
        position: absolute;
        width: 100%;
        bottom: 55px;
        left: 0;
         & .lightbox-3-cont {
           max-width: 250px;
         }
      }
      & .tab-ex .tab-ex-price {
        width: 220px;
      }
      & .close-end {
        margin-bottom: 0;
        width: 100%;
      }
      & .sticker-picture {
        width: 40px !important;
        top: 5px;
        left: 45px;
      }
      & .lightbox-action {
        position: absolute;
        bottom: 0;
        left: 90px;
      }
    }
  }

/* LIGHTBOX - END */

.box-6-outer {
    background: url(/documents/10179/639145/box-viac-za-menej.jpg) no-repeat 50% 50%;
    min-height: 250px;
    background-size: cover;
    margin-bottom: 20px;
    float: left;
    width: 100%;
    border: solid 1px #d0d0d0;
    margin-top: 40px;
}

.box-6 .right-holder {
    width: 48%;
    padding: 30px 24px;
}

#content .legal-text {
  font-size: 12px !important;
  margin: 0;
  padding: 0 5px;
  & a {
    cursor: pointer;
    font-size: 12px;
  }
}

#legal_more {
    display: none;
  }

  #cont_legal {
    background-color: #eee;
    padding: 5px;
  }

  #content .sec-akcie {
    padding: 0px;
  }
