<section id="sec-1" class="section sec-1">
    <div class="container-fixed" id="a_referrer">
       <a class="link" href="/televizia/magio-televizia"><img src="../assets/img/arrowleft.png" alt="">Späť na prehľad</a>
       <div class="table-container">
       <div class="row tvhero table-row">
         <div class="col-md-6 col-sm-6 col-xs-12 text-center table-col">
           <img class="tvimg" src="../assets/img/tvimg.png" alt="magio tv">
         </div>
         <div class="col-md-6 col-sm-6 col-xs-12 table-col">
            <div class="margin">
            <h3 class="tvheadline">MAGIO TELEVÍZIA M</h3>
            <p class="ceny">Ceny mesačne:</p>
            <div class="pricewrap clearfix">
              <div class="priceLeft">
                <p class="months">Prvý mesiac</p>
                <p>&nbsp;</p>
                <p>Zvyšné mesiace</p>
              </div>
              <div class="priceRight">
                <p class="activation">pri aktivácii na webe 5,00 €</p>
                <p class="strikeThrough">v predajni 10,00 €</p>
                <p class="otherMonths">10,00 €</p>
              </div>
            </div>
            <div class="Wording">
              <img class="wordingZlava" src="../assets/img/wordingZlava.png" alt="">
            </div>
            <a href="#" class="btn cta" id="btnNakup">PREJST K NAKUPU</a>
          </div>
         </div>
       </div>
     </div>
    </div>
</section>

<section class="section segment" id="sec-2" data-segment="1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12">
				<div class="tabs-container">
					<div class="tab__holder">
          <!-- TABS MENU -->
						<ul class="tabs-menu">
							<li class="variant current" data-variant="1">
								<a href="#tab-1">Televízne stanice</a></li>
							<li class="variant" data-variant="2">
									<a href="#tab-2">Výhody</a>
							</li>
              <li class="variant" data-variant="3">
									<a href="#tab-3">Zariadenia</a>
							</li>
						</ul>
					</div>

					<div class="tab">
							<!-- Tab 1 -->
							<div class="tab-content clearfix" id="tab-1" style="display: block;">
								<div class="tab-box">
									<div class="tab-box__content">
										<div class="col-xs-12 col-md-12">
											<p class="halbFett zobrazStanice">Zobraziť stanice</p>
                      <form id="secondaryRadio">
                  			<div class="secondaryRadio">
                  			  <input type="radio" id="check-1" name="rb-pair" checked>
                  			  <label for="check-1">BALÍKY V CENE</label>

                  			  <input type="radio" id="check-2" name="rb-pair">
                  			  <label for="check-2">BALÍKY ZA POPLATOK</label>
                  			</div>
                  		</form>
                      <div class="detailHolder" id="check-1">
                      <div class="programovyBalikHolder">
                        <!-- append programovy balik -->
                      </div>
                      </div>
                      <!-- ZA POPLATOK -->
                      <div class="detailHolder" id="check-2">
                        <p class="magenta" style="margin-top:15px;">Balíky za poplatok</p>
                        <p class="normal">Navyše si môžete dokúpiť ľubovoľné balíky podľa seba.</p>
                        <div class="otherPrograms">
                            <div class="programPoplatok">
                                <p class="halbFett">HBO + HBO GO</p>
                                <p class="normal">Filmové novinky a trháky, najsledovanejšie seriály, hodiny a hodiny zábavy. To a ešte viac vám ponúkame s naším prémiovým balíčkom. Sledujte HBO kdekoľvek vďaka <a href="https://www.telekom.sk/televizia/hbo-go">internetovej televízii HBO GO</a>.</p>
                                <div class="stanice">
                                  <div class="left">
                                    <p>Počet TV staníc:</p>
                                    <p>Cena mesačne:</p>
                                  </div>
                                  <div class="right">
                                    <p>5</p>
                                    <p>počas viazanosti 6 mesiacov 7,99 € mesačne, potom 8,99 € mesačne</p>
                                  </div>
                                </div>
                                <div class="programovyBalikStyle">
                                  <div class="tvPackageCodebook" data-tvpackagecodebook="HBO_HBO GO_SAT">&nbsp;</div>
                                </div>
                              </div>
                          <div class="programPoplatok">
                            <p class="halbFett">HBO + Cinemax + HBO GO</p>
                            <p class="normal">Zažite ešte viac filmovej zábavy a&nbsp;sledujte najnovšie seriály vďaka nášmu špeciálnemu prémiovému balíčku zloženého z kanálov HBO a&nbsp;Cinemax. Navyše získate možnosť sledovať HBO kdekoľvek vďaka <a href="https://www.telekom.sk/televizia/hbo-go">internetovej televízii HBO GO</a>.</p>
                            <div class="stanice">
                              <div class="left">
                                <p>Počet TV staníc:</p>
                                <p>Cena mesačne:</p>
                              </div>
                              <div class="right">
                                <p>6</p>
                                <p>0 € / 9,99€ 2 mesiace 0 €, potom 9,99 € mesačne viazanosť 12 mesiacov | 9,99€ mesačne bez viazanosti</p>
                              </div>
                            </div>
                            <div class="programovyBalikStyle">
                              <div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX">&nbsp;</div>
                            </div>
                          </div>

                          <div class="programPoplatok">
                            <p class="halbFett">MAĎARSKÝ</p>
                            <p class="normal">Vždy vám na vašom televíznom prijímači chýbali maďarské programy? S prémiovým balíčkom je to už minulosťou a vy si môžete vychutnať to najlepšie, čo vám maďarská televízia ponúka.</p>
                            <div class="stanice">
                              <div class="left">
                                <p>Počet TV staníc:</p>
                                <p>Cena mesačne:</p>
                              </div>
                              <div class="right">
                                <p>21</p>
                                <p>2,99€ mesačne pri viazanosti na 6 mesiacov | 3,49€ mesačne bez viazanosti</p>
                              </div>
                            </div>
                            <div class="programovyBalikStyle">
                              <div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY">&nbsp;</div>
                            </div>
                          </div>

                          <!-- <div class="programPoplatok">
                            <p class="halbFett">HD Športový</p>
                            <p class="normal">Športové zážitky v nádhernej farebnosti s ostrými detailami.</p>
                            <div class="stanice">
                              <div class="left">
                                <p>Počet TV staníc:</p>
                                <p>Cena mesačne:</p>
                              </div>
                              <div class="right">
                                <p>34</p>
                                <p>4,50€ mesačne pri viazanosti na 6 mesiacov | 5,99€ mesačne bez viazanosti</p>
                              </div>
                            </div>
                            <div class="tvPackageCodebook" data-tvpackagecodebook="HD_SPORTOVY">&nbsp;</div>
                          </div> -->

                          <!-- <div class="programPoplatok">
                            <p class="halbFett">HD Rodinný</p>
                            <p class="normal">Balíček ako stvorený pre rodinnú pohodu. Mama, otec, sestra, brat – každý si tu príde na svoje. Ba čo viac, vysielanie v HD kvalite zabezpečí tie najkvalitnejšie zážitky z vašich obľúbených programov.</p>
                            <div class="stanice">
                              <div class="left">
                                <p>Počet TV staníc:</p>
                                <p>Cena mesačne:</p>
                              </div>
                              <div class="right">
                                <p>12</p>
                                <p>5,99€ mesačne bez viazanosti</p>
                              </div>
                            </div>
                            <div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY">&nbsp;</div>
                          </div> -->

                          <!-- <div class="programPoplatok">
                            <p class="halbFett">Spravodajský balík</p>
                            <p class="normal">Chcete byť v neustálom obraze o tom, čo sa deje vo svete z pohodlia vášho domova? Vďaka prémiovému balíku môžete sledovať najaktuálnejší prehľad správ a udalostí nepretržite 24 hodín denne.</p>
                            <div class="stanice">
                              <div class="left">
                                <p>Počet TV staníc:</p>
                                <p>Cena mesačne:</p>
                              </div>
                              <div class="right">
                                <p>13</p>
                                <p>2,99€ počas prvých 6 mesiacov | 3,49€ ďalšie obdobie</p>
                              </div>
                            </div>
                            <div class="tvPackageCodebook" data-tvpackagecodebook="SPRAVODAJSKY">&nbsp;</div>
                          </div> -->

                        </div>
                      </div>
									</div>
								</div>
							</div>
						</div>
	          <!-- Tab 2 -->
            <div class="tab-content clearfix" id="tab-2">
	            <div class="tab-box">
	              <div class="tab-box__content table-container">
                  <div class="col-xs-12 col-md-12 table-row horizontalDivider">
                    <div class="col-md-6 col-sm-7 col-xs-12 orderTabLeft table-col">
                      <p><b>S magio archívom bez reklamy</b><br/></p>
                      <p>Pozerajte vysielanie bez reklám. S Magio archívom si pustíte alebo pretočíte program, ktorý už beží aj po zapnutí/prepnutí TV stanice. Už odvysielaný program môžete sledovať až 7 dní dozadu a napr. reklamu pretočiť.</p>
                      <a class="link" href="/wiki/zariadenia/magioboxy-satelit">Pozrieť viac info vo Wiki</a>
                      <div class="archiv-wrap">
                        <div class="archiv">
                          <div class="left">
                          <p><b>Magio archiv S</b></p>
                          <p>10 TV staníc <a class="link-nordr archivy" href="#archivs">Zobraziť TV stanice</a></p>
                          </div>
                          <div class="right">
                            <p class="green"><b>Prvé 3 mesiace 0 €</b><img class="archivQtip" id="archivS" alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 3px;"></p>
                            <p>potom 1,99 €| mes.</p>
                          </div>
                        </div>
                        <div class="archiv">
                          <div class="left">
                          <p><b>Magio archiv M</b></p>
                          <p>20 TV staníc <a class="link-nordr archivy" href="#archivm">Zobraziť TV stanice</a></p>
                          </div>
                          <div class="right">
                            <p class="green"><b>Prvé 3 mesiace 0 €</b><img class="archivQtip" id="archivM" alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 3px;"></p>
                            <p>potom 3,99 €| mes.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-5 col-xs-12 text-center orderTabRight table-col">
                      <img src="../assets/img/archiv_img.png" alt="">
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 table-row horizontalDivider">
                  <div class="col-md-6 col-sm-7 text-center table-col">
                    <img src="../assets/img/tv_img.png" alt="">
                  </div>
                  <div class="col-md-6 col-sm-5 table-col">
                      <p><b>Televízia aj vo vašom mobile či tablete</b><br/></p>
                      <p>K Magio televízii automaticky získavate online televíziu Magio GO, vďaka ktorej môžete televíziu sledovať aj na notebooku, tablete či smartfóne – až na štyroch rôznych zariadeniach naraz. Stačí vám pripojenie na internet.</p>
                      <!-- <a class="link" href="">Viac info o Magio GO</a></br>
                      <a class="link" href="">Aktivácia Magio GO k Magio TV</a> -->
                  </div>
                </div>


                <div class="col-xs-12 col-md-12 table-row horizontalDivider">
                  <div class="col-md-6 col-sm-7 orderTabLeft table-col">
                    <p><b>Nahrávanie, zastavenie a pretočenie</b><br/></p>
                    <p>Nahrajte si svoje obľúbené filmy alebo iné programy s nahrávacím Magioboxom. Práve vysielaný program môžete tiež zastaviť alebo pretočiť dozadu a späť. Vrátiť sa dá do času, od kedy ste program začali sledovať.</p>
                    <!-- <a class="link" href="">Pozrieť viac o funkciách vo Wiki</a> -->
                  </div>
                  <div class="col-md-6 col-sm-5 text-center text-center orderTabRight table-col">
                    <img src="../assets/img/funkcie_img.png"  alt="">
                  </div>
              </div>


              <div class="col-xs-12 col-md-12 table-row">
                <div class="col-md-12">
                                <p><b>Ostatné výhody</b></p>
                  <div class="togle">
                    <a class="toggle-arrow" href="#">Technická podpora nonstop bez poplatku<span class="arrow-right One arrow-rotate"></span></a>
                    <p class="arrow-content One" style="display: block;">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
    0800 123 777 </p>
                  </div>
                  <div class="togle">
                    <a class="toggle-arrow" href="#">Bez vysokých zriaďovacích poplatkov<span class="arrow-right arrow-rotate"></span></a>
                    <p class="arrow-content" style="display: block;">Nekupujte drahé digitálne prijímače (settopboxy) a paraboly. Potrebné zariadenia dostanete od nás za symbolický prenájom.</p>
                  </div>
                  <div class="togle">
                    <a class="toggle-arrow" href="#">Široká dostupnosť na celom Slovensku<span class="arrow-right arrow-rotate"></span></a>
                    <p class="arrow-content" style="display: block;">Televíziu zriadime aj u vás doma cez pevnú sieť (optická a metalická technológia). Ak u vás nebude dostupná pevná sieť, zriadime vám Magio televíziu cez satelit.</p>
                  </div>
                </div>
            </div>

	            </div>
	          </div>
	        </div>

          <div class="tab-content clearfix" id="tab-3">
            <div class="tab-box">
              <div class="tab-box__content table-container">
                <div class="col-xs-12 col-md-12 table-row mobileFix">
                  <div class="col-md-12 col-sm-12 col-xs-12 orderTabLeft table-col mobileFix">
                    <div class="row">
                      <p class="text-left"><b>Zariadenia k Magio TV SAT</b></p>
                      <p class="text-left">Pre zapojenie Magio TV je potrebný digitálny prijímač Magio Box. Vziať si môžete až 4 Magio Boxy a zapojiť tak štyri televízory.</p>
                    <div class="col-md-12 col-sm-6 table-col block">
                      <div class="magio-go-left">
                        <p>Vyberte množstvo:</p>
                        <div class="heapBoxHolder">
                        <!-- <select id="heapTv">
                            <option value="4ks">4 kusy Magio Boxu</option>
                            <option value="3ks">3 kusy Magio Boxu</option>
                            <option value="2ks">2 kusy Magio Boxu</option>
                            <option value="1ks">1 kus Magio Boxu</option>
                            <option value="4kssat">4 kusy Magio Box SAT</option>
                            <option value="3kssat">3 kusy Magio Box SAT</option>
                            <option value="2kssat">2 kusy Magio Box SAT</option>
                            <option value="1kssat">1 kus Magio Box SAT</option>
                        </select> -->
                        </div>
                        <div class="heapDataHolder">
                        <!-- <p class="heapTV-infoText">Tri Magio Boxy umožňujú pripojiť tri televízory. Na každom môžete sledovať iný program.</p>
                        <div class="heapTVtext">
                          <div class="heapTvtext-wrap">
                            <div class="left">
                              <p>Nahrávanie:</p>
                            </div>
                            <div class="right">
                              <p>áno<img id="magio-tv-tooltip" alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 3px;"></p>
                            </div>
                          </div>
                          <div class="heapTvtext-wrap">
                            <div class="left">
                              <p>Cena jednorazovo pri kúpe:</p>
                            </div>
                            <div class="right" id="price1">
                              <p>24,98 €</p>
                            </div>
                          </div>
                          <div class="heapTvtext-wrap">
                            <div class="left">
                              <p>Cena mesačne:</p>
                            </div>
                            <div class="right" id="monthly">
                              <p>6,83 €</p>
                            </div>
                          </div>
                        </div> -->

                      </div>
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-6 table-col vBottom block">
                      <div class="magio-go-right">
                        <div class="tip tip2">
                          <p><b>NÁŠ TIP:</b></br> Ak ste si vybrali, prejdite na overenie dostupnosti. Po overení vás presmerujeme k nákupu, kde si zvolíte množstvo Magio boxov.</p>
                        </div>
                      </div>

                    </div>
                    <p class="col-md-12 col-sm-12 col-xs-12 moreInfo">
                      <a href="/wiki/zariadenia/magioboxy-satelit" class="link">Prejsť na viac info o Magio Boxoch do Wiki.</a>
                    </p>
                  </div>
              </div>




            </div>
          </div>
        </div>


        </div>
				</div>
        <p class="accordionHeadline">Informácie k Magio TV SAT</p>
				<div class="accordion"  data-accordion="1">
				<!-- Accordion Data -->
				</div>
			</div>
		</div>
	</div>
</div>
</section>

<!-- <section class="section" id="sec-3">
    <div class="container-fixed">
      <h2 class="sec__title text-center" id="-0">ZARIADENIA K MAGIO TV</h2>
      <p class="text-center"><b>Pre zapojenie Magio TV je potrebný digitálny prijímač Magio Box.</br>Vziať si môžete až 4 Magio Boxy a zapojiť tak štyri televízory.</b></p>
      <div class="row">
      <div class="col-md-6 col-sm-12 gridFix">
        <div class="magio-go-left">
          <p>Vyberte množstvo:</p>
          <select id="heapTv">
              <option value="4ks">4 kusy Magio Boxu</option>
              <option value="3ks">3 kusy Magio Boxu</option>
              <option value="2ks">2 kusy Magio Boxu</option>
              <option value="1ks">1 kus Magio Boxu</option>
              <option value="4kssat">4 kusy Magio Box SAT</option>
              <option value="3kssat">3 kusy Magio Box SAT</option>
              <option value="2kssat">2 kusy Magio Box SAT</option>
              <option value="1kssat">1 kus Magio Box SAT</option>
          </select>
          <p class="heapTV-infoText">Tri Magio Boxy umožňujú pripojiť tri televízory. Na každom môžete sledovať iný program.</p>
          <div class="heapTVtext">
            <div class="heapTvtext-wrap">
              <div class="left">
                <p>Nahrávanie:</p>
              </div>
              <div class="right">
                <p>áno<img id="magio-tv-tooltip" alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 3px;"></p>
              </div>
            </div>
            <div class="heapTvtext-wrap">
              <div class="left">
                <p>Cena jednorazovo pri kúpe:</p>
              </div>
              <div class="right" id="price1">
                <p>24,98 €</p>
              </div>
            </div>
            <div class="heapTvtext-wrap">
              <div class="left">
                <p>Cena mesačne:</p>
              </div>
              <div class="right" id="monthly">
                <p>6,83 €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 gridFix">
        <div class="magio-go-right">
          <div class="tip tip2">
            <p><b>NÁŠ TIP:</b></br> Ak ste si vybrali, prejdite na overenie dostupnosti. Po overení vás presmerujeme k nákupu, kde si zvolíte množstvo Magio boxov.</p>
          </div>
        </div>
      </div>
      </div>
      <p class="text-center">
        <a href="#" class="link">Prejsť na viac info o Magio Boxoch do Wiki.</a>
      </p>
    </div>
</section> -->

<!-- POPUP DATA -->
<!-- POPUP:archivS -->
<div id="archivs" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn"><!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
    <div class="popup-lightbox">
  		<div class="popup-content">
  			<h3>Archív S</h3>
        <p>Nestihli ste si pozrieť váš obľúbený program? Nevadí, Archív S vám ponúka možnosť celkového prehľadu vysielania základných televíznych staníc až na 7 dní dozadu.</p>
        <div class="programovyBalikStyle">
          <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_S">&nbsp;</div>
        </div>
  		</div>
  	</div>
	</div>
</div>

<!-- POPUP:archivm -->
<div id="archivm" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn"><!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
    <div class="popup-lightbox">
  		<div class="popup-content">
  			<h3>Archív M</h3>
        <p>Ak nechcete aby vám čokoľvek uniklo z našej ponuky televíznych kanálov, prinášame vám aj možnosť využitia Archívu M, ktorý zabezpečuje dostupnosť vysielania až 20 televíznych kanálov na 7 dní dozadu.</p>
        <div class="programovyBalikStyle">
          <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_M">&nbsp;</div>
        </div>
  		</div>
  	</div>
	</div>
</div>

<script type="text/javascript" src="../assets/js/heapbox.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="/documents/10179/16430294/qtipdata.js"></script>
