.portlet-msg-success {
    display: none;
    }
    
    .formComposition h2 {
    display: none;
    }
    
    .pageMiddle {
      display: none;
    }
    
    .formComposition {
        background-color: white;
        padding: 3%;
        box-shadow: 3px 3px 3px rgba(0,0,0, 0.3);
        border-radius: 5px;
        width: 100%;
        max-width: 50%;
        margin: 0 auto;
    }
    
    @media screen and (max-width: 768px) {
     .formComposition {
        max-width: 75%;
     }
    }
    
    .dynamicFormMain ul {
      list-style-type: none;
      list-style: none;
    }
    
    .labelField {
      display: none !important;
    }
    
    .formFieldRender  {
      padding: 0px !important;
    }
    
    .formFieldRender input {
      width: 100%;
      border-radius: 5px;
    }
    
    .nextPageButtonSpan {
      float: none !important;
    }
    
    .nextPageButtonSpan input {
        width: 100%;
        border-radius: 5px !important;
        background-color: #6cb325 !important;
        border-color: #569716 !important;
    }
    
    .portlet-layout #column-1 {
      display: block;
    }

    /* NOTEBOOKY */

    .boxWrapper {
      text-align: center;
      margin-top: 30px;
  }
  .itemBox {
      text-align: center;
      border: 1px solid #ccc;
      max-width: 213px;
      padding: 5px;
      margin:  5px;
      display: inline-block;
      vertical-align: top;
  }
  .itemBox .headline {
      margin-top: 0 !important;
      margin-bottom: 10px;
      min-height: 52px;
      font-size: 24px;
  }
  .itemBox img {
      max-width: 100%;
  }
  .specs {
      margin: 0 !important;
  }
  .price {
      font-size: 20px;
  }
  .kupit {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px!important;
      background-color: #6cb325!important;
      border-color: #569716!important;
      text-decoration: none !important;
      color: #fff !important;
      display: inline-block;
      padding: 7px 35px;
  }
  .kupit:hover {
      background-color: #4d8319;
  }