.actualSale {
    .saleWrapper {
        margin: 50px 0px;
        //background-color: #ededed;
        background: url('https://www.telekom.sk/documents/10179/16827704/LED-background.png');
        padding: 20px 40px;
        display: flex;
        overflow: hidden;
        @media screen and (max-width: 650px) {
            display: block;
            text-align: center;
        }
        .image {
            position: absolute;
            top: -20px;
            @media screen and (max-width: 900px) {
                position: relative;
                top: 0;
            }
        }
        img {
            max-width: 100%;
            //max-height: 180px;
            @media screen and (max-width: 900px) {
                max-height: 150px;
            }
            @media screen and (max-width: 768px) {
                max-height: auto;
            }
            @media screen and (max-width: 650px) {
                max-height: 180px;
            }
        }
        h2 {
            font-weight: 800;
            color: #fff;
            font-size: 42px;
            &>span {
                font-weight: normal;
            }
            @media screen and (max-width: 960px) {
                font-size: 38px;
            }
            @media screen and (max-width: 900px) {
                font-size: 22px;
            }
        }
        p {
            color: #fff;
            font-size: 20px !important;
            font-weight: bold;
        }
        .btnRow {
            text-align: right;
            display: flex;
            .btn.cta {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}

.christmasWrapper {
    background-color: #e20074;
    .christmas {
        display: flex;
        align-items: center;
        @media screen and (max-width: 650px) {
            display: block;
        }
    }
    .leftSide,
    .rightSide {
        padding: 50px 0;
        @media screen and (max-width: 650px) {
            padding: 10px 0;
        }
        .headline,
        .subHeadline {
            @media screen and (max-width: 650px) {
                text-align: center;
            }
        }
        h3, p {
            color: #fff;
        }
        .img {
            padding-left: 0;
        }
        img {
            max-width: 100%;
        }
        p {
            margin-bottom: 5px;
        }
        .benefit {
            margin-top: 25px;
        }
        .benefitHeadline {
            padding-bottom: 5px;
        }
        .button-more {
            margin-top: 15px;
            @media screen and (max-width: 768px) {
                text-align: center;
            }
            .btn.btn_outline {
                color: #fff !important;
                border: 1px solid #fff !important;
            }
        }
    }
}