<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer" style="padding: 0px;">
				<a class="link" href="/internet/magio-internet" >Späť na všetky vianočné akcie</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.jpg" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.jpg" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.jpg" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.jpg" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.jpg" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.jpg" />
							</div>
							<div class="eec-product"><img id="eec" src="" style="height: 80px; width: auto;" /></div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
						<p class="christ-magenta">Vianočná akcia</p>
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
							<img src="../assets/img/vypredane.png" alt="">
					</div> -->
					<div class="overlay_fix">
				
						<h1 class="bpis__title">
							Samsung Galaxy A70 + Samsung Galaxy A10<br>ako darček za 4 centy </h1>
						<p class="christ-info">
							<a class="scroll-to" href="#sec-det-2">Viac info o produkte</a></p>	

						<div class="box-device" id="b2c-price">
							
							<table class="pricing-table">
								<tbody>
									<tr class="no-margin">
										<td>
											S paušálom ÁNO:
										</td>
										<td>
											<input type="button" id="anoS" class="rpln" value="S" />
											<input type="button" id="anoM" class="rpln" value="M" />
											<input type="button" id="anoMdata" class="rpln" value="M Dáta" />
											<input type="button" id="anoL" class="rpln" value="L" />
											<input type="button" id="anoXL" class="rpln" value="XL" />
											<input type="button" id="anoXXL" class="rpln" value="XXL" />
										</td>
									</tr>
									<tr >
										<td>
											Cena za zariadenia:
										</td>
										<td>
											<span id="MonthylFeeMobile"> </span><span class="monthly"> mesačne</span><br>
											<span id="MonthlyRegularPrice"> v predajni</span><br>
											<span id="oneTimeWebPrice"> </span><span class="monthly"> akontácia</span><img id="info-akontacia" lass="ttp" alt="" src="../assets/img/info.png" style=" width: 15px; height: auto; margin-left: 5px; margin-bottom: -2px;"><br>
											<span id="oneTimeRegularPrice"> v predajni</span><br>												
										</td>
									</tr>
									<tr>
										<td>
											Cena za paušál:
										</td>
										<td>
											<span id="MonthlyFeeService"> za ÁNO XL</span>								
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" id="buyBtn" href="#">KÚPIŤ</a>
						</div>

						<div class="box-device" id="b2b-price">
								<table class="pricing-table">
									<tbody>
										<tr class="no-margin">
											<td>
												S paušálom ÁNO:
											</td>
											<td>
												<input type="button" id="RP1054" class="rpln" value="L Biznis" />
												<input type="button" id="RP1055" class="rpln" value="XL Biznis" />
											</td>
										</tr>
										<tr class="no-margin">
												<td>
													Ceny s DPH:
												</td>
												<td>
													<input type="checkbox" class="js-switch js-check-change" checked /><br>&nbsp;
												</td>
											</tr>
										<tr >
											<td>
												Cena za zariadenia:
											</td>
											<td>
												<span id="MonthylFeeMobileBiznis" class="js-check-change-field-none" style="display: none;"> </span>
												<span id="MonthylFeeMobileBiznisDPH" class="js-check-change-field"> </span>
												<span class="monthly"> mesačne</span><br>
												
												<span id="oneTimeWebPriceBiznis" class="js-check-change-field-none" style="display: none;"> </span>
												<span id="oneTimeWebPriceBiznisDPH" class="js-check-change-field"> </span>
												<span class="monthly"> akontácia</span><img id="info-akontacia-b2b" lass="ttp" alt="" src="../assets/img/info.png" style=" width: 15px; height: auto; margin-left: 5px; margin-bottom: -2px;"><br>
																					
											</td>
										</tr>
										<tr>
											<td>
												Cena za paušál:
											</td>
											<td>
												<span id="MonthlyFeeServiceBiznis" class="js-check-change-field-none" style="display: none;"> </span>
											 	<span id="MonthlyFeeServiceBiznisDPH" class="js-check-change-field"></span>							
											</td>
										</tr>
									</tbody>
								</table>
								<a class="btn cta" type="button" id="buyBtnBiznis" href="#">KÚPIŤ</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3" id="biznis-delivery">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">Displej Samsung Galaxy A70 pre všetky vaše nápady</h2>
								<p class="feat-desc">
									Nechajte na úžasne veľkom 6,7" FHD+ sAMOLED Infinity-U displeji Galaxy A70 vyniknúť všetko, čo máte radi. 
									Či už sledujete online stream, alebo sa pozeráte na obľúbený seriál, vďaka rozsiahlej obrazovke s pomerom strán 20 : 9 je zážitok zo sledovania tak realistický, že vás absolútne pohltí.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">Stvorený pre život, stvorený pre vás</h2>
								<p class="feat-desc">
									Vďaka integrovanému snímaču odtlačkov prstov priamo v displeji je dizajn Galaxy A70 dokonale minimalistický. 
									Prevedenie zadnej časti z 3D skla pomáha ku komfortnému držaniu telefónu, a ten tak bude vaším oddaným pomocníkom pri práci aj pohodlným doplnkom na cestách. 
									Vyberte si z čiernej, bielej, modrej či korálovej farby podľa svojho vkusu.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">Tri spôsoby vytvorenia skvelých snímok</h2>
								<p class="feat-desc">
									Trojitý fotoaparát Galaxy A70 tvorí ultraširokouhlý objektív, ktorý svet zachytí v 123° uhle podobne ako ľudské oko, 32Mpx hlavný fotoaparát (so svetelnosťou F1.7)
									pre jasné a ostré snímky po celý deň a 5Mpx snímač pre úpravu hĺbky ostrosti.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">Väčší displej, väčšia zábava so Samsung Galaxy A10</h2>
								<p class="feat-desc">
									Tento inteligentný telefón sa pýši 6,2" veľkým displejom s HD+ rozlíšením. Či už chcete pozerať obľúbené seriály, hrať hry alebo pripravovať prezentáciu do práce, budete prekvapení, koľko sa toho na obrazovku zmestí. 
									Všetko si užijete ešte o niečo viac a aj nudná práca vás bude baviť.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">V jednoduchosti je krása</h2>
								<p class="feat-desc">
									Pre Galaxy A10 pripravili vývojári jednoduchý dizajn a úzke telo, takže sa vám bude príjemne držať a s telefónom budete môcť jednoducho manipulovať jednou rukou. Vyrobený je v dvoch farbách - čiernej a modrej. 
									Nech už siahnete po ktorejkoľvek, budete maximálne spokojní a telefón nebudete chcieť pustiť z ruky.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.jpg" /></div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<div class="detailed-specification" style="padding:10px"> 
							<h3>Samsung Galaxy A70</h3>
							<table class="tbl double">
										<thead>
											<tr>
												<th colspan="2">Všeobecné parametre</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div> Váha </div>
												</td>
												<td class="paramValue"> 183 g </td>
											</tr>
											<tr>
												<td>
													<div> Rozmery (výška x šírka x hrúbka) </div>
												</td>
												<td class="paramValue"> 164.3 x 76.7 x 7.9 </td>
											</tr>
											<tr>
												<th colspan="2">Displej</th>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Uhlopriečka </div>
												</td>
												<td class="paramValue"> 6.7" </td>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Rozlíšenie </div>
												</td>
												<td class="paramValue"> 2400 x 1080  </td>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Typ displeja </div>
												</td>
												<td class="paramValue"> Super AMOLED </td>
											</tr>
											<tr>
												<td>
													<div> Farba </div>
												</td>
												<td class="paramValue"> Biela </td>
											</tr>
											<tr>
												<td>
													<div> Zhotovenie krytov telefónu </div>
												</td>
												<td class="paramValue"> Plast a sklo </td>
											</tr>
											<tr>
												<td>
													<div> SAR (vyžarovanie zariadenia) </div>
												</td>
												<td class="paramValue"> 0.949 </td>
											</tr>
											<tr>
												<td>
													<div> Typ SIM karty </div>
												</td>
												<td class="paramValue"> Nano SIM </td>
											</tr>
											<tr>
												<td>
													<div> Dual SIM </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> Typ </div>
												</td>
												<td class="paramValue"> dotykový </td>
											</tr>
										</tbody>
									</table>
									<table class="tbl double">
										<thead>
											<tr>
												<th colspan="2">Technické parametre</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div> Procesor </div>
												</td>
												<td class="paramValue"> osemjadrový 2Ghz + 1.7Ghz </td>
											</tr>
											<tr>
												<td>
													<div> Operačná pamäť </div>
												</td>
												<td class="paramValue"> 6 GB </td>
											</tr>
											<tr>
												<td>
													<div> Celková zdieľaná interná pamäť </div>
												</td>
												<td class="paramValue"> 128 GB </td>
											</tr>
											<tr>
												<td>
													<div> Podporovaná pamäťová karta </div>
												</td>
												<td class="paramValue"> až do 512 GB </td>
											</tr>
											<tr>
												<td>
													<div> Operačný systém </div>
												</td>
												<td class="paramValue"> Android </td>
											</tr>
											<tr>
												<td>
													<div> Verzia OS </div>
												</td>
												<td class="paramValue"> Android 9</td>
											</tr>
											<tr>
												<th colspan="2">Batéria</th>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Štandardná batéria </div>
												</td>
												<td class="paramValue"> 4500 mAh </td>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Čas hovoru </div>
												</td>
												<td class="paramValue"> 28 hod. </td>
											</tr>
										</tbody>
									</table>
									<table class="tbl double">
										<thead>
											<tr>
												<th colspan="2">Telefonovanie, funkcie a multimédiá</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div> Funkcie telefonovania </div>
												</td>
												<td class="paramValue"> viacpoložkový zoznam, skupiny volajúcich</td>
											</tr>
											<tr>
												<td>
													<div> SMS </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> MMS </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> VoLTE - volania cez 4G </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> Prehliadač dokumentov </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> E-mail klient </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> Kancelária </div>
												</td>
												<td class="paramValue"> kalkulačka, diktafón, poznámky, úlohy </td>
											</tr>
											<tr>
												<td>
													<div> Organizácia času </div>
												</td>
												<td class="paramValue"> budík, kalendár, pripomienky, úlohy, svetový čas, </td>
											</tr>
											<tr>
												<td>
													<div> MP3 prehrávač </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<th colspan="2">Fotoaparát</th>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Rozlíšenie fotoaparátu </div>
												</td>
												<td class="paramValue"> 32+5+8 Mpix </td>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Blesk hlavného fotoaparátu </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Nahrávanie videa </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div style="padding-left: 10px;"> Predný fotoaparát </div>
												</td>
												<td class="paramValue"> 32 Mpix </td>
											</tr>
											<tr>
												<td>
													<div> FM rádio </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> GPS </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> Audio konektor </div>
												</td>
												<td class="paramValue">
													<i class="fa fa-check"></i>
												</td>
											</tr>
											<tr>
												<td>
													<div> Podporované formáty hudobných súborov </div>
												</td>
												<td class="paramValue"> MP3, M4A, 3GA, AAC, OGG, OGA, WAV, WMA, AMR, AWB, FLAC, MID, MIDI, XMF, MXMF, IMY, RTTTL, RTX, OTA </td>
											</tr>
											<tr>
												<td>
													<div> Podporované formáty video súborov </div>
												</td>
												<td class="paramValue"> MP4, M4V, 3GP, 3G2, WMV, ASF, AVI, FLV, MKV, WEBM </td>
											</tr>
											<tr>
												<td>
													<div> Snímače </div>
												</td>
												<td class="paramValue"> Akcelerometer, Snímač odtlačkov prstov, Gyroskop, Geomagnetický senzor, Hallový senzor, RGB svetelný senzor, Senzor priblíženia </td>
											</tr>
											<tr>
												<td>
													<div> Ďalšie funkcie </div>
												</td>
												<td class="paramValue"> Ultraširokouhlý objektív 123°, Super rýchle 25W nabíjanie, Infinity-U displej, Dolby Atmos, Snímač odtlačkov prstov v displeji, Adaptívne WiFi, Bixby, DUAL SIM. KNOX </td>
											</tr>
										</tbody>
									</table>
									<table class="tbl double">
										<thead>
											<tr>
												<th colspan="2">Iné</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<div> Obsah balenia </div>
												</td>
												<td class="paramValue"> Telefón, cestovná nabíjačka, stereo slúchadlá a stručná užívateľská príručka. </td>
											</tr>
										</tbody>
									</table>
							</div>
							<div class="detailed-specification" style="padding:10px"> 
									<h3>Samsung Galaxy A10</h3>
									<table class="tbl double">
												<thead>
													<tr>
														<th colspan="2">Všeobecné parametre</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div> Váha </div>
														</td>
														<td class="paramValue"> 168 g </td>
													</tr>
													<tr>
														<td>
															<div> Rozmery (výška x šírka x hrúbka) </div>
														</td>
														<td class="paramValue">155,6 x 75,8 x 8,1 </td>
													</tr>
													<tr>
														<th colspan="2">Displej</th>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Uhlopriečka </div>
														</td>
														<td class="paramValue"> 6.2" </td>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Rozlíšenie </div>
														</td>
														<td class="paramValue"> 1520 x 720  </td>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Typ displeja </div>
														</td>
														<td class="paramValue"> TFT </td>
													</tr>
													<tr>
														<td>
															<div> Farba </div>
														</td>
														<td class="paramValue"> Čierna </td>
													</tr>
													<tr>
														<td>
															<div> Zhotovenie krytov telefónu </div>
														</td>
														<td class="paramValue"> Plast a sklo </td>
													</tr>
													<tr>
														<td>
															<div> Typ SIM karty </div>
														</td>
														<td class="paramValue"> Nano SIM </td>
													</tr>
													<tr>
														<td>
															<div> Dual SIM </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> Typ </div>
														</td>
														<td class="paramValue"> dotykový </td>
													</tr>
												</tbody>
											</table>
											<table class="tbl double">
												<thead>
													<tr>
														<th colspan="2">Technické parametre</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div> Procesor </div>
														</td>
														<td class="paramValue"> osemjadrový 1.6Ghz + 1.35Ghz </td>
													</tr>
													<tr>
														<td>
															<div> Operačná pamäť </div>
														</td>
														<td class="paramValue"> 2 GB </td>
													</tr>
													<tr>
														<td>
															<div> Celková zdieľaná interná pamäť </div>
														</td>
														<td class="paramValue"> 32 GB </td>
													</tr>
													<tr>
														<td>
															<div> Podporovaná pamäťová karta </div>
														</td>
														<td class="paramValue"> až do 512 GB </td>
													</tr>
													<tr>
														<td>
															<div> Operačný systém </div>
														</td>
														<td class="paramValue"> Android </td>
													</tr>
													<tr>
														<td>
															<div> Verzia OS </div>
														</td>
														<td class="paramValue"> Android 9</td>
													</tr>
													<tr>
														<th colspan="2">Batéria</th>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Štandardná batéria </div>
														</td>
														<td class="paramValue"> 3400 mAh </td>
													</tr>
												</tbody>
											</table>
											<table class="tbl double">
												<thead>
													<tr>
														<th colspan="2">Telefonovanie, funkcie a multimédiá</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div> Funkcie telefonovania </div>
														</td>
														<td class="paramValue"> viacpoložkový zoznam, skupiny volajúcich</td>
													</tr>
													<tr>
														<td>
															<div> SMS </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> MMS </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> VoLTE - volania cez 4G </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> Prehliadač dokumentov </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> E-mail klient </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> Kancelária </div>
														</td>
														<td class="paramValue"> kalkulačka, diktafón, poznámky, úlohy </td>
													</tr>
													<tr>
														<td>
															<div> Organizácia času </div>
														</td>
														<td class="paramValue"> budik, kalendar, pripomienky, úlohy, svetový čas, </td>
													</tr>
													<tr>
														<td>
															<div> MP3 prehrávač </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<th colspan="2">Fotoaparát</th>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Rozlíšenie fotoaparátu </div>
														</td>
														<td class="paramValue"> 13 Mpix </td>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Blesk hlavného fotoaparátu </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Nahrávanie videa </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div style="padding-left: 10px;"> Predný fotoaparát </div>
														</td>
														<td class="paramValue"> 5 Mpix </td>
													</tr>
													<tr>
														<td>
															<div> FM rádio </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> GPS </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> Audio konektor </div>
														</td>
														<td class="paramValue">
															<i class="fa fa-check"></i>
														</td>
													</tr>
													<tr>
														<td>
															<div> Podporované formáty hudobných súborov </div>
														</td>
														<td class="paramValue"> MP3, M4A, 3GA, AAC, OGG, OGA, WAV, WMA, AMR, AWB, FLAC, MID, MIDI, XMF, MXMF, IMY, RTTTL, RTX, OTA </td>
													</tr>
													<tr>
														<td>
															<div> Podporované formáty video súborov </div>
														</td>
														<td class="paramValue"> MP4, M4V, 3GP, 3G2, WMV, ASF, AVI, FLV, MKV, WEBM </td>
													</tr>
													<tr>
														<td>
															<div> Snímače </div>
														</td>
														<td class="paramValue"> Akcelerometer, Senzor priblíženia, Virtual Light Sensing </td>
													</tr>
													<tr>
														<td>
															<div> Ďalšie funkcie </div>
														</td>
														<td class="paramValue"> Infinity-V displej, Dual SIM </td>
													</tr>
												</tbody>
											</table>
											<table class="tbl double">
												<thead>
													<tr>
														<th colspan="2">Iné</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<div> Obsah balenia </div>
														</td>
														<td class="paramValue"> Telefón, cestovná nabíjačka, stereo slúchadlá a stručná užívateľská príručka. </td>
													</tr>
												</tbody>
											</table>
							</div>	
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">				
								<div class="col-md-4">
									<img alt="" src="../assets/img/icon4.png" />
									<p class="order-subheading">
										<b>Informácie o stave objednávky</b>
									</p>
									<p>
										O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
									</p>
								</div>
								<div class="col-md-4">
									<img alt="" src="../assets/img/icon1.png" />
									<p class="order-subheading">
										<b>Prvých 14 dní bez záväzkov</b>
									</p>
									<p>
										O stave objednávky vás budeme priebežne informovať.</p>
								</div>
								<div class="col-md-4">
									<img alt="" src="../assets/img/ikona_sofa.png" />
									<p class="order-subheading">
										<b>Nákup z pohodlia domova</b>
									</p>
									<p>
										Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
								</div>
							
						</div>
					</div>
				</div>			
			</div>
			<div class="accordion" data-accordion="1"></div>
		</div>
	</div>
</section>
<section>
	<div class="container-fixed">
		<div class="small">

			* Obrázky sú iba ilustračné. 
			<br>** Infinity displej: takmer bezrámový, celoplošne sklenený displej siahajúci až k okrajom zariadenia. 
			<br>*** Uhlopriečka pri diagonálnom meraní displeja ako celého obdĺžnika bez zaoblených rohov. Skutočná zobrazovacia plocha displeja je menšia kvôli zaobleným rohom a výrezu fotoaparátu.
		</div>
	</div>
</section>
<section class="section sec-det sec-det-3 segment" id="other-actions">
	<div class="container-fixed">
		<p class="other-action-title">
			Ďalšie vianočné akcie</p>
			<div class="row">
			
			<!-- *** FIXNE AKCIE ***   -->

				<!--<div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/Roomba.png" />
						<div class="action-name">
								Robotický vysávač iRobot<br>Roomba i7</div>
							<p class="grey-text">K Magio službám</p>
						
						<a class="btn-christ" href="/vianoce/vysavac-roomba-i7">VIAC INFO</a></div> -->

				<!-- <div class="col-md-4 other-action">
					<img src="https://www.telekom.sk/documents/10179/17846464/Kavovar-non-smart.png" />
					<div class="action-name">
						Plne-automatický kávovar Krups<br>Evidence EA890110 biely</div>
						<p class="grey-text">K Magio službám</p>
					
					<a class="btn-christ" href="/vianoce/kavovar-ea890110">VIAC INFO</a></div>  -->
				
				<!-- <div class="col-md-4 other-action">
					<img src="https://www.telekom.sk/documents/10179/17846464/Kavovar-smart.png" />
					<div class="action-name">
						Plne-automatický SMART kávovar<br>Krups Evidence  EA892D10</div>
						<p class="grey-text">K Magio službám</p>
			
					<a class="btn-christ" href="/vianoce/smart-kavovar-ea892D10">VIAC INFO</a></div>  -->
				
				<!-- <div class="col-md-4 other-action">
					<img src="https://www.telekom.sk/documents/10179/17846464/Televizor.png" />
					<div class="action-name">
						4K Smart televízor Samsung<br>s uhlopriečkou 50“/123 cm UHD</div>
						<p class="grey-text">K Magio službám</p>		
					<a class="btn-christ" href="/vianoce/tv-samsung-ue50ru7172uxxh">VIAC INFO</a></div> -->
				
				<!-- <div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/PS4.png" />
						<div class="action-name">
								PlayStation 4 Pro 1TB s troma hrami<br>a ďalšími darčekmi</div>
							<p class="grey-text">K Magio službám</p>
						
						<a class="btn-christ" href="/vianoce/playstation-4-pro">VIAC INFO</a></div> -->
				
				<!-- <div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/Notebook-batoh.png" />
						<div class="action-name">
								Lenovo Ideapad S145-14IWL +<br>batoh ako darček za 4 centy</div>
							<p class="grey-text">K Magio službám</p>
						
						<a class="btn-christ" href="/vianoce/lenovo-ideapad-S145-14iwl">VIAC INFO</a></div> -->
							
				<!-- <div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/raspberry.png" />
						<div class="action-name">
								Sada Raspberry pi 4<br>model B 4 GB RAM</div>
							<p class="grey-text">K Magio službám</p>
						
						<a class="btn-christ" href="/vianoce/raspberry-pi4">VIAC INFO</a></div>	-->				

			<!-- *** MOBILNE AKCIE ***   -->

				<!--<div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/Smartfon-smartfon.png" />
						<div class="action-name">
								Samsung Galaxy A70 +<br>smartfón ako darček za 0,04 €</div>
							<p class="grey-text">K paušálom ÁNO</p>
						
						<a class="btn-christ" href="/vianoce/samsung-galaxy-a70">VIAC INFO</a></div>-->

				 <div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/Smartfon-lego.png" />
						<div class="action-name">
								Samung Galaxy A40 + Lego Hidden<br>Side bus ako darček za 0,04 €</div>
							<p class="grey-text">K paušálom ÁNO</p>
						
						<a class="btn-christ" href="/vianoce/samsung-galaxy-a40">VIAC INFO</a></div>
						
				 <div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/Watch-smartfon.png" />
						<div class="action-name">
								Samsung Galaxy Watch +<br>smartfón ako darček za 0,04 €</div>
							<p class="grey-text">K paušálom ÁNO</p>
						
						<a class="btn-christ" href="/vianoce/samsung-galaxy-watch">VIAC INFO</a></div> 
								<!-- <div class="col-md-4 other-action">
					<img src="https://www.telekom.sk/documents/10179/17846464/Kavovar-non-smart.png" />
					<div class="action-name">
						Plne-automatický kávovar Krups<br>Evidence EA890110 biely</div>
						<p class="grey-text">K paušálom ÁNO</p>
					
					<a class="btn-christ" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw/kavovar_ea890110">VIAC INFO</a></div>  -->
				
				<!-- <div class="col-md-4 other-action">
					<img src="https://www.telekom.sk/documents/10179/17846464/Kavovar-smart.png" />
					<div class="action-name">
						Plne-automatický SMART kávovar<br>Krups Evidence  EA892D10</div>
						<p class="grey-text">K paušálom ÁNO</p>
			
					<a class="btn-christ" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw/smart_kavovar_ea892d10">VIAC INFO</a></div>-->
						
					<div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/Televizor.png" />
						<div class="action-name">
							4K Smart televízor Samsung<br>s uhlopriečkou 50“/123 cm UHD</div>
							<p class="grey-text">K paušálom ÁNO</p>		
						<a class="btn-christ" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw/tv_samsung_ue50ru7172uxxh">VIAC INFO</a></div>
	
				<!--<div class="col-md-4 other-action">
						<img src="https://www.telekom.sk/documents/10179/17846464/PS4.png" />
						<div class="action-name">
								PlayStation 4 Pro 1TB s troma hrami<br>a ďalšími darčekmi</div>
							<p class="grey-text">K paušálom ÁNO</p>
						
						<a class="btn-christ" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw/playstation_4_pro">VIAC INFO</a></div>	-->				
			</div>
	</div>
</section>
<section class="section sec-det-3">
	<div class="container-fixed">
		<div class="row">
			<!-- terms and conditions -->
			<div class="termsandconditions">
				<p>Vianočná ponuka platí pri uzavretí zmluvy s viazanosťou na 24 mesiacov.</p>
				
				<div class="togleArrow-main">
					<a class="toggle-arrow-main" href="#">Podmienky vianočných akcií<span class="arrow-right-main"></span></a>
					<div class="arrow-content-main" style="padding-left: 20px;">
						<div class="togleArrow">
							<a class="toggle-arrow" href="#">Ponuka akciových zariadení<span class="arrow-right"></span></a>
							<div class="arrow-content">Ponuka platí do 31. 12. 2019 alebo do vypredania zásob podľa toho, čo
								nastane skôr. Ponuka akciových zariadení je podmienená uzavretím Zmluvy alebo Dodatku k Zmluve,
								v ktorých sa Účastník zaviaže využívať Službu uvedenú v ponuke, a ak sa v ponuke uvádza aj
								program Služby, tak minimálne v uvedenom programe Služby, po dobu 24 mesiacov. Ponuka na kúpu
								druhého zariadenia za 0,04&nbsp;€ je podmienená kúpou v ponuke uvádzaného prvého zariadenia za
								akciovú cenu podľa aktuálne platného akciového Cenníka. Doručenie akciového zariadenia k Službám
								pevnej siete je spoplatnené poplatkom za dopravu vo výške 5&nbsp;€. Dodávka zariadení podľa
								ponuky
								môže trvať až 45 dní od uzavretia Zmluvy alebo Dodatku.</div>
						</div>
						<div class="togleArrow">
							<a class="toggle-arrow" href="#">Kupón na príslušenstvo alebo dáta<span
									class="arrow-right"></span></a>
							<div class="arrow-content">Príslušenstvo je možné získať za zvýhodnených podmienok len na základe a
								pri získaní a uplatnení zľavového kupónu počas jeho platnosti, ktorý oprávňuje na uplatnenie
								zľavy z ceny jedného príslušenstva vo výške získanej zľavy z kupónu; cena po zohľadnení zľavy z
								kupónu je najmenej 0,04&nbsp;€. Podmienkou získania kupónu je aktivácia programu ÁNO so záväzkom
								viazanosti na 24 mesiacov počas platnosti ponuky a výška zľavy je závislá od úrovne aktivovaného
								paušálu. Maximálna výška zľavy je 40&nbsp;€. Ponuky nemusia byť navzájom kombinovateľné a môžu
								byť
								obmedzené počtom využitia na jedného účastníka.</div>
						</div>
						<div class="togleArrow">
							<a class="toggle-arrow" href="#">Zimný balík dát<span class="arrow-right"></span></a>
							<div class="arrow-content">Ponuka platí od 1. 11. do 30.11. 2019 a od 1.12. do 31. 12. 2019 a možno
								ju využiť len raz v danom jednom mesiaci vo vzťahu k tel. číslam s vyššie uvedenými paušálmi cez
								aplikáciu. Objem dát v balíku je obmedzený podľa paušálu. Čerpanie dát je možné v SR, EÚ a zóne
								po aktivácii účastníkom; v EÚ a zóne 1 môže byť spoplatnené.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	

<script type="text/javascript" src="../assets/js/main.js?v=9"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
<script type="text/javascript" src="../assets/js/switchery.js"></script>
