/* ===============
   CSS FOR MICROSITE
   =============== */

#content .portlet-column-content {
    padding: 0;
}

#content .hero {
    background: url(/documents/10179/642134/KV.jpg) no-repeat 50% 86%;
    margin-top: 0;
    padding: 40px 0;
}

#content .hero h1 {
    border-bottom: 1px solid #6c6c6c;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 34px;
}

#content .hero__desc {
    color: #fff;
    margin-top: 0;
    padding-top: 0;
    font-size: 16px;
}

.hero__content {
    max-width: 450px;
    width: 100%;
}

.box__item {
    box-sizing: border-box;
}

#content .box__item.box__custom-full {
    background: url(/documents/10179/642134/action-1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    max-width: 940px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.box__custom-full .box__content {
    max-width: 340px;
    text-align: center;
}

#content .box__custom-full .box__title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: normal;
}

#content .box__custom-full .box__desc {
    color: #fff;
}

.img-share {
    max-width: 330px;
    width: 100%;
}

.col-gr {
    margin-top: 20px;
}

.col-gr:after {
    content: "";
    display: table;
    clear: both;
}

.col-left,
.col-right {
    min-height: 206px;
}

.col-left {
    float: left;
    width: 31%;
    background: url(/documents/10179/642134/ico-phone.png) no-repeat 150% 50%;
}

#content .col-left .content-holder {
    max-width: 150px;
}

.col-right {
    float: right;
    width: 67%;
    background: url(/documents/10179/642134/action-2.jpg) no-repeat center right;
}

#content .link_dark,
#content .col-left .box__title,
#content .col-right .box__title {
    color: #4b4b4b;
}

@media screen and (max-width: 870px) {
    .col-right {
        background-position: 150% 50%;
    }
}

@media screen and (max-width: 750px) {
    .col-right {
        background-position: center right;
    }
    .col-left {
        background-position: 110% 50%;
    }
    .col-left,
    .col-right {
        width: 100%;
        min-height: auto;
    }
    
    .col-right {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .col-right {
        background-position: 150% 50%;
    }
}

@media screen and (max-width: 500px) {
    #content .col-right {
        background-image: none;
    }
}