<section id="hero">
        <div class="container-fixed">
            <div class="hero__mobile"></div>
            <div class="hero__content">
                <div><img src="../assets/img/ico-1.png" /></div>
                <h1 class="hero__title">MAGENTA TALK</h1>
                <p class="hero__desc">Volajte a posielajte správy bezplatne cez internet</p>
                <a class="btn cta" href="#">MÁM ZÁUJEM</a>
            </div>
        </div>
    </section>
    
    <section id="sec-1" class="section">
        <div class="container-fixed">
            <div class="col-md-7">
                <img src="../assets/img/monitor.jpg" />    
            </div>
            <div class="col-md-5">
                <h1><b>Zadarmo hovory, videohovory a správy zo všetkých zariadení</b></h1>    
                <p>Volajte a píšte si zadarmo cez svoj mobil, stolový počítač, či tablet, všade kde máte internet - doma aj v zahraničí. Stačí si stiahnuť a prihlásiť sa do aplikácie Magenta Talk.</p>
                <p><a href="#">Stiahnuť aplikáciu Magenta Talk</a></p>
            </div>
        </div>
    </section>
    
    <section id="sec-2" class="section">
        <div class="container-fixed">
            <div class="col-md-4">
                <img src="../assets/img/ico-2.png" />
                <p>Komunikujte nezávisle od svojho mobilu a SIM karty na ľubovolnom zariadení</p>    
            </div>
            <div class="col-md-4">
                <img src="../assets/img/ico-3.png" />
                <p>Skupinové hovory, videohovory, konverzácie cez správy a zvukové správy</p>    
            </div>        
            <div class="col-md-4">
                <img src="../assets/img/ico-4.png" />
                <p>Zdieľanie polohy, fotiek či videí so svojimi priateľmi</p>    
            </div>                
        </div>
    </section>
    
    <section id="sec-3" class="section">
        <div class="container-fixed">
            <div class="tabs-container">
                <div class="tab__holder">
                    <ul class="tabs-menu"> 
                        <li id="tab-1-li" class="variant current" data-variant="1">
                            <a href="#tab-1">Bezplatné hovory</a>
                        </li>
                        <li id="tab-2-li" class="variant" data-variant="2">
                            <a href="#tab-2">Pre iOS aj Android</a>
                        </li>                    
                        <li id="tab-3-li" class="variant" data-variant="3">
                            <a href="#tab-3">Nezávisle od mobilu</a>
                        </li>
                    </ul>
                </div>
                <div class="tab">
                    <div id="tab-1" class="tab-content active">
                            Bezplatné hovory    
                    </div>
                    <div id="tab-2" class="tab-content">
                            Pre iOS aj Android
                    </div>
                    <div id="tab-3" class="tab-content">
                            Nezávisle od mobilu    
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="sec-4" class="section">
        <div class="container-fixed">
            <div class="app-slider as1">
                <div>1</div>
                <div>2</div>
                <div><img src="../../../magenta-talk/dev/assets/img/slide1.jpg"></div>
                <div><img src="../../../magenta-talk/dev/assets/img/slide2.jpg"></div>
                <div><img src="../../../magenta-talk/dev/assets/img/slide3.jpg"></div> 
                <div><img src="../../../magenta-talk/dev/assets/img/slide4.jpg"></div>                                    
            </div>
        </div>
    </section>
    
    <script type="text/javascript" src="../assets/js/slick.min.js"></script>
    <script type="text/javascript" src="../assets/js/main.js"></script>
    
    
    