/* =============== IMPORTS  =============== */
/* =============== GLOBAL IMPORTS  =============== */
/* =============== BASE IMPORTS  =============== */
/* =============== RESET PORTAL STYLES =============== */
#wrapper #content {
  padding-bottom: 0; }

#wrapper .portlet-column-content {
  padding: 0; }

#content h1, #content h2, #content h3 {
  text-decoration: none;
  border: 0; }

#content a {
  text-decoration: none;
  font-size: 16px; }

#content p {
  font-size: 16px; }

#content ul {
  list-style: none; }

#wrapper .wbreadcrumbs {
  display: none; }

#content, #content * {
  box-sizing: border-box; }

#content .portlet-content {
  padding: 0; }

#main-content .portlet-column {
  display: block; }

#content .portlet-layout {
  display: block; }

#content .row {
  line-height: normal; }

/* =============== GLOBAL CONFIG  =============== */
/* =============== UTILITIES  =============== */
/* =============== FUNCTIONS & MIXINS =============== */
/* =============== CSS FOR STICKY NAV =============== */
.text_centered {
  text-align: center; }

.text_left {
  text-align: left; }

.text_uc {
  text-transform: uppercase; }

.text_bold {
  font-weight: bold; }

.text_initial {
  text-transform: initial; }

#wrapper .text__link {
  font-size: 18px; }

#wrapper .font_magenta {
  color: #e20074; }

#wrapper .font_black {
  color: #000000; }

#wrapper .font_white {
  color: #ffffff; }

#wrapper .font_mine-shaft {
  color: #383838; }

#wrapper .font_deep-cerulean {
  color: #007faf; }

/* =============== SPACING =============== */
#wrapper .margin_top20 {
  margin-top: 20px; }

#wrapper .margin_top50 {
  margin-top: 50px; }

#wrapper .margin_bottom20 {
  margin-bottom: 20px; }

#wrapper .mid__icon {
  vertical-align: middle; }

/* =============== BASE IMPORTS  =============== */
/* =============== CSS FOR BUTTONS =============== */
/* LEGACY BUTTONS     */
#wrapper .button {
  color: #fff;
  font-size: 16px;
  padding: 0 17px;
  border-radius: 4px; }

#wrapper .button_font-black {
  color: #000; }

#wrapper .button_cream-can {
  background-color: #f2c957;
  border: 1px solid #f2c957; }

#wrapper .button_lima {
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#wrapper .button_gray {
  background-color: #8c8c8c;
  border: 1px solid #8c8c8c; }

#wrapper .btn_double {
  background-color: #6bb324;
  border: 1px solid #65ac20;
  height: 60px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px; }

/* LEGACY BUTTONS END */
#content .btn {
  text-transform: uppercase;
  font-size: 16px;
  color: #383838;
  background-color: #ededed;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none; }

#content .btn .fa {
  margin-right: 6px; }

#content .btn .fa-only {
  margin-right: 0; }

#content .btn:hover {
  background-color: #dbdbdb;
  border: 1px solid #a1a1a1; }

#content .btn:active {
  background-color: #e7e7e7;
  border: 1px solid #a4a4a4; }

#content .btn.btn_disabled {
  color: #bababa;
  background-color: #f2f2f2;
  border: 1px solid #dedede;
  cursor: no-drop; }

#content .cta {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#content .cta:hover {
  background-color: #58951c;
  border: 1px solid #4d8319; }

#content .cta:active {
  background-color: #5e9e20;
  border: 1px solid #65ac20; }

#content .cta_mag {
  color: #ffffff;
  background-color: #e20074;
  border: 1px solid #cc0069; }

#content .cta_mag:hover {
  background-color: #cc0069;
  border: 1px solid #9f0052; }

#content .cta_mag:active {
  background-color: #db0070;
  border: 1px solid #cc0069; }

#content .cta.btn_disabled, #content .cta_mag.btn_disabled {
  color: #ffffff;
  background-color: #d7d7d7;
  border: 1px solid #cdcdcd; }

#content .btn_clean {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838; }

#content .btn_clean:hover {
  background-color: #ededed;
  border: 1px solid #ededed; }

#content .btn_outline, #content .btn_outline:hover {
  background-color: transparent;
  border: 1px solid #a4a4a4; }

#content .btn_white-outline, #content .btn_white-outline:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff; }

#content .btn_mag-outline, #content .btn_mag-outline:hover {
  background-color: transparent;
  color: #e20074;
  border: 1px solid #e20074; }

#content .link {
  color: #007faf;
  text-decoration: underline; }

#content .link:hover {
  color: #00668d;
  text-decoration: underline; }

#content .link:active {
  color: #017ba9;
  text-decoration: none; }

.play {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: inline-block;
  background-color: #ededed;
  border: 1px solid #b4b4b4;
  position: relative; }

.play .fa {
  color: #383838;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-30%); }

#content .input, #content .textarea {
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  font-size: 18px;
  padding: 7px 10px;
  display: block; }

#content .input:active, #content .input:focus, #content .textarea:active, #content .textarea:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  outline: none; }

#content .input-label {
  display: block;
  font-size: 15px;
  color: #383838;
  margin-bottom: 0; }

#content div.radio span {
  border: 1px solid #b6b6b6;
  background-color: #ededed; }

#content div.radio span.checked:before {
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  background-color: #6bb324; }

#content div.checker span {
  border: 1px solid #b6b6b6;
  background-color: #ededed;
  border-radius: 4px; }

#content div.checker span.checked:before {
  left: 6px;
  font-size: 16px; }

.tooltip .qtip-content {
  border-radius: 4px; }

/* =============== CSS FOR STICKY NAV =============== */
#nav-sticky ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto; }

#nav-sticky ul li {
  display: inline-block; }

#nav-sticky {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
  text-transform: uppercase; }

#nav-sticky a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active {
  background-color: #fff;
  color: #e20074; }

#nav-sticky li:last-child {
  float: right; }

#nav-sticky li:last-child a {
  color: #7c7c7c; }

@media screen and (max-width: 960px) {
  #nav-sticky ul {
    width: 100%; } }

@media screen and (max-width: 799px) {
  #nav-sticky-sticky-wrapper, #nav-sticky {
    display: none; } }

/* =============== HERO KV =============== */
.portlet-body .journal-content-article .hero__title {
  color: #fff;
  border: 0;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-top: 0; }

.portlet-body .journal-content-article .hero__desc {
  color: #fff;
  font-size: 20px;
  line-height: 20px; }

.hero__content, .hero__img {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 40px 2%; } }

@media screen and (max-width: 720px) {
  .portlet-body .journal-content-article .hero__title {
    font-size: 30px; } }

@media screen and (max-width: 560px) {
  .hero__content {
    width: 96%;
    margin: 0 2%; } }

/* =============== MEDIA =============== */
.media {
  display: table;
  width: 100%; }

.media__image, .media__body {
  display: table-cell;
  vertical-align: middle; }

.media--top .media__image, .media--top .media__body {
  vertical-align: top; }

.media--bottom .media__image, .media--bottom .media__body {
  vertical-align: bottom; }

.media_v__image, .media_v__body {
  width: 100%; }

.show-mobile {
  display: none; }

.page table {
  color: #000; }

.c-row-table .header-top {
  padding-top: 20px; }

.c-row-table .c-content {
  background-color: #fff;
  border: 1px solid #d4d4d4;
  overflow: hidden;
  padding-bottom: 20px; }

.c-row-table {
  overflow: hidden; }

.table-container {
  width: 495px;
  /* Total width of visible columns + border widths */
  overflow: hidden; }

.sliding-window {
  /*width:1320px; */
  /* Total width of all columns in sliding-window + border widths */
  width: 1485px;
  overflow: hidden; }

.happy-left, .happy-right {
  position: static; }

.happy-right img {
  position: absolute;
  top: 200px;
  width: 50px;
  height: 50px; }

.happy-left img {
  position: absolute;
  top: 200px;
  width: 50px;
  height: 50px; }

/*-------------------------------------------------------*/
.happy td.row-2-xl2, .happy td.row-2-xl, .happy td.row-2-xxl, .happy td.row-2-profi {
  font-size: 0.8em; }

/*-------------------------------------------------------*/
#happy-boxes h2 {
  padding-left: 0; }

#happy-boxes {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px; }

#happy-boxes .nadpis {
  font-size: 1.6em;
  text-align: center;
  height: 30px;
  display: inline-block;
  color: #E20074;
  padding-bottom: 10px; }

#happy-boxes .cena {
  font-size: 1.6em;
  color: #E20074;
  text-align: right;
  position: absolute;
  right: 10px;
  bottom: 0; }

#happy-boxes .box {
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  width: 200px;
  float: left;
  height: 233px;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative; }

#happy-boxes .box .desc {
  padding-left: 10px;
  background: url("https://www.telekom.sk/documents/10179/457601/bullet2.png") no-repeat scroll;
  padding-bottom: 10px;
  font-size: 0.9em;
  text-align: left; }

#happy-boxes a {
  text-decoration: none; }

/*-------------------------------------------------------*/
#content .waterbear-theme td {
  padding: 0;
  line-height: 1em;
  font-size: 15px; }

.page .happy-table1, .page .happy-table2, .page .happy-table3, .page .happy-left, .page .happy-right {
  float: left; }

.happy-table1 {
  width: 40px; }

.happy-table2 {
  margin-left: 20px;
  width: 215px;
  table-layout: fixed; }

.page .happy-left {
  margin-left: 30px; }

.page .happy-right {
  margin-left: 30px; }

.happy-table3 {
  margin-left: 110px;
  position: relative; }

table.happy-desc, table.happy {
  border-spacing: 0;
  border-collapse: collapse; }

.happy td {
  width: 165px;
  /*margin-right: 2px;*/
  /*padding-right: 10px;*/
  /*padding-right: 10px;*/
  /*padding-left: 10px;*/ }

.happy tr {
  margin: 0; }

.happy th {
  color: #000;
  font-weight: bold; }

.happy-desc td, .happy-desc th {
  border-bottom: 1px solid #d0d0d0;
  text-align: left;
  vertical-align: middle; }

.happy td, .happy th {
  border-bottom: 1px solid #d0d0d0;
  vertical-align: middle;
  text-align: center; }

.happy tr:first-child, .happy tr:last-child {
  border-bottom: none; }

.happy tr, .happy-desc tr {
  height: 60px; }

.happy tr.row-9, .happy-desc tr.row-9 {
  height: 40px; }

td.row-1-head, td.row-2-head, td.row-3-head, td.row-4-head, td.row-5-head, td.row-6-head, td.row-7-head, td.row-8-head, td.row-9-head, td.row-10-head {
  padding-left: 10px;
  /*padding-right: 5px;*/ }

/*-------------------------------------------------------*/
.happy tr.header {
  color: #e20074;
  font-size: 1.3em;
  text-transform: uppercase;
  line-height: 1em;
  height: 70px; }

.happy-desc tr.header {
  height: 70px; }

.happy tr {
  line-height: 1em; }

/*-------------------------------------------------------*/
.happy-desc tr.row-9, .happy tr.row-9 {
  color: #1063ad;
  font-weight: bold; }

.happy-desc .row-9-head, .happy .row-9 td, .happy .row-order td {
  border-bottom: none; }

.happy .row-order td {
  padding-bottom: 20px; }

.happy-desc .row-5-head img {
  vertical-align: -5px;
  padding-left: 5px; }

.happy-desc .row-8-head img {
  vertical-align: -5px;
  padding-left: 5px; }

.row-8-head {
  position: relative; }

.magenta-row {
  width: 120px;
  height: 40px;
  background-color: #fce5f1;
  position: absolute;
  right: -120px;
  top: 0; }

.happy tr.row-10 {
  font-size: 1.5em; }

.waterbear-theme .page .row-order a.green {
  background-color: #6bb324;
  border: 1px solid #6bb324; }

.waterbear-theme .page .friend-order a.green {
  background-color: #6bb324;
  border: 1px solid #6bb324; }

.friend-order {
  padding-top: 30px;
  float: right; }

.activeBox {
  background-color: rgba(215, 215, 215, 0.3); }

@media screen and (max-width: 960px) {
  .table-container {
    width: 300px;
    /* Total width of visible columns + border widths */
    overflow: hidden; }
  .button-order-table {
    bottom: -50px;
    left: 140px; } }

@media screen and (max-width: 800px) {
  .button-order-table {
    bottom: -50px;
    left: -10px; } }

@media screen and (max-width: 770px) {
  .show-mobile {
    display: block; }
  .hide-mobile {
    display: none; } }

@media screen and (max-width: 600px) {
  .table-container {
    width: 170px;
    /* Total width of visible columns + border widths */
    overflow: hidden; } }

/* =============== FANCYBOX =============== */
body .fancybox-wrap {
  border: 10px solid #6b6b6b;
  box-shadow: none; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body .fancybox-wrap .fancybox-close {
  top: -28px;
  right: -28px;
  width: 16px;
  height: 16px; }

/* =============== QTIP =============== */
.tooltip .qtip-content {
  font-size: 14px;
  text-align: center; }

#content .heapBox {
  margin: 0; }

.heapBox .holder {
  border-radius: 4px 0 0 4px; }

.heapBox .handler {
  border-radius: 0 4px 4px 0; }

.heapBox div.heap {
  border-radius: 4px;
  border-top: 1px solid #a1a1a1;
  top: 120%; }

.heapBox div.heap:before {
  display: none; }

#content .heapOptions {
  margin: 0; }

#content .heapBox .holder, #content .heapBox .handler {
  max-height: 36px;
  background-color: #ededed;
  text-decoration: none; }

#content .heapBox.open {
  height: 36px; }

#content .heapBox.open .holder, #content .heapBox.open .handler {
  background-color: #cdcdcd; }

#content .heapBox.open .holder {
  padding: 8px 10px 8px 9px; }

#content .heapBox .handler:after {
  content: '\f107';
  font-family: FontAwesome;
  color: #383838;
  border: 0;
  top: 22%;
  right: 20px; }

#content .heapBox.open .handler:after {
  content: "\f106"; }

/* TABS */
#content .tabs-container ul {
  list-style: none; }

#content .tabs-container li {
  cursor: pointer; }

.tab__holder {
  text-align: center;
  line-height: 0; }

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block; }

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left; }

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed; }

.tabs-menu li a {
  font-size: 1em;
  padding: 0 40px;
  color: #757575;
  text-decoration: none;
  display: inline-block; }

.tabs-menu li a:hover {
  color: #383838; }

.tabs-menu .current a {
  color: #6bb324; }

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%; }

.tab__variant {
  display: none; }

.tab__variant.selected {
  display: block; }

.tab-content {
  margin-top: 45px;
  display: none; }

#tab-1, #tab-4 {
  display: block; }

@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%; }
  .tabs-menu li:hover {
    border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0; }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu {
    height: auto; }
  .tab {
    border: 0; }
  .tabs-menu li a {
    padding: 0;
    display: block; } }

#content span.hide-span {
  width: 0;
  height: 0;
  border: 0 !important; }

#content div.checker span.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box; }

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px; }

/* Switchery sizes. */
.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px; }

.switchery-small > small {
  height: 20px;
  width: 20px; }

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px; }

.switchery-large > small {
  height: 40px;
  width: 40px; }

/* =============== LAYOUT IMPORTS  =============== */
/* =============== GRID COLUMNS =============== */
#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 {
  float: left; }

#content .grid__col_1 {
  width: 8.20793%; }

#content .grid__col_2 {
  width: 16.55267%; }

#content .grid__col_3 {
  width: 24.8974%; }

#content .grid__col_4 {
  width: 33.24213%; }

#content .grid__col_5 {
  width: 41.58687%; }

#content .grid__col_6 {
  width: 49.9316%; }

#content .grid__col_7 {
  width: 58.27633%; }

#content .grid__col_8 {
  width: 66.62107%; }

#content .grid__col_9 {
  width: 74.9658%; }

#content .grid__col_10 {
  width: 83.31053%; }

#content .grid__col_11 {
  width: 91.65527%; }

#content .grid__col_12 {
  width: 100%; }

#content .grid-g__col_1 {
  width: 6.38298%; }

#content .grid-g__col_2 {
  width: 14.89362%; }

#content .grid-g__col_3 {
  width: 23.40426%; }

#content .grid-g__col_4 {
  width: 31.91489%; }

#content .grid-g__col_5 {
  width: 40.42553%; }

#content .grid-g__col_6 {
  width: 48.93617%; }

#content .grid-g__col_7 {
  width: 57.44681%; }

#content .grid-g__col_8 {
  width: 65.95745%; }

#content .grid-g__col_9 {
  width: 74.46809%; }

#content .grid-g__col_10 {
  width: 82.97872%; }

#content .grid-g__col_11 {
  width: 91.48936%; }

#content .grid-g__col_12 {
  width: 100%; }

.row {
  width: 100%;
  float: left; }

.fixed-column {
  width: 940px;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  .fixed-column {
    width: 96%;
    padding: 0 2%; } }

.section {
  width: 100%;
  float: left; }

.col-group:after {
  content: "";
  display: table;
  clear: both; }

/*@import 'grid-system';*/
.section {
  width: 100%;
  float: left; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 544px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 940px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fixed {
  margin: 0 auto;
  max-width: 940px; }

@media screen and (max-width: 960px) {
  .container-fixed {
    width: 96%;
    padding: 0 2%; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-fluid::after {
  content: "";
  display: table;
  clear: both; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 25%; }

.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 50%; }

.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 75%; }

.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 100%; }

.pull-xs-0 {
  right: auto; }

.pull-xs-1 {
  right: 8.33333%; }

.pull-xs-2 {
  right: 16.66667%; }

.pull-xs-3 {
  right: 25%; }

.pull-xs-4 {
  right: 33.33333%; }

.pull-xs-5 {
  right: 41.66667%; }

.pull-xs-6 {
  right: 50%; }

.pull-xs-7 {
  right: 58.33333%; }

.pull-xs-8 {
  right: 66.66667%; }

.pull-xs-9 {
  right: 75%; }

.pull-xs-10 {
  right: 83.33333%; }

.pull-xs-11 {
  right: 91.66667%; }

.pull-xs-12 {
  right: 100%; }

.push-xs-0 {
  left: auto; }

.push-xs-1 {
  left: 8.33333%; }

.push-xs-2 {
  left: 16.66667%; }

.push-xs-3 {
  left: 25%; }

.push-xs-4 {
  left: 33.33333%; }

.push-xs-5 {
  left: 41.66667%; }

.push-xs-6 {
  left: 50%; }

.push-xs-7 {
  left: 58.33333%; }

.push-xs-8 {
  left: 66.66667%; }

.push-xs-9 {
  left: 75%; }

.push-xs-10 {
  left: 83.33333%; }

.push-xs-11 {
  left: 91.66667%; }

.push-xs-12 {
  left: 100%; }

.offset-xs-1 {
  margin-left: 8.33333%; }

.offset-xs-2 {
  margin-left: 16.66667%; }

.offset-xs-3 {
  margin-left: 25%; }

.offset-xs-4 {
  margin-left: 33.33333%; }

.offset-xs-5 {
  margin-left: 41.66667%; }

.offset-xs-6 {
  margin-left: 50%; }

.offset-xs-7 {
  margin-left: 58.33333%; }

.offset-xs-8 {
  margin-left: 66.66667%; }

.offset-xs-9 {
  margin-left: 75%; }

.offset-xs-10 {
  margin-left: 83.33333%; }

.offset-xs-11 {
  margin-left: 91.66667%; }

@media (min-width: 544px) {
  .col-sm-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-sm-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-sm-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.33333%; }
  .pull-sm-2 {
    right: 16.66667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.33333%; }
  .pull-sm-5 {
    right: 41.66667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.33333%; }
  .pull-sm-8 {
    right: 66.66667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.33333%; }
  .pull-sm-11 {
    right: 91.66667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.33333%; }
  .push-sm-2 {
    left: 16.66667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.33333%; }
  .push-sm-5 {
    left: 41.66667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.33333%; }
  .push-sm-8 {
    left: 66.66667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.33333%; }
  .push-sm-11 {
    left: 91.66667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-md-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.33333%; }
  .pull-md-2 {
    right: 16.66667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.33333%; }
  .pull-md-5 {
    right: 41.66667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.33333%; }
  .pull-md-8 {
    right: 66.66667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.33333%; }
  .pull-md-11 {
    right: 91.66667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.33333%; }
  .push-md-2 {
    left: 16.66667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.33333%; }
  .push-md-5 {
    left: 41.66667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.33333%; }
  .push-md-8 {
    left: 66.66667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.33333%; }
  .push-md-11 {
    left: 91.66667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-lg-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-lg-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-lg-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-lg-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-lg-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-lg-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-lg-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.33333%; }
  .pull-lg-2 {
    right: 16.66667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.33333%; }
  .pull-lg-5 {
    right: 41.66667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.33333%; }
  .pull-lg-8 {
    right: 66.66667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.33333%; }
  .pull-lg-11 {
    right: 91.66667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.33333%; }
  .push-lg-2 {
    left: 16.66667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.33333%; }
  .push-lg-5 {
    left: 41.66667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.33333%; }
  .push-lg-8 {
    left: 66.66667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.33333%; }
  .push-lg-11 {
    left: 91.66667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-xl-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-xl-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-xl-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-xl-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-xl-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-xl-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-xl-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-xl-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-xl-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-xl-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.33333%; }
  .pull-xl-2 {
    right: 16.66667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.33333%; }
  .pull-xl-5 {
    right: 41.66667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.33333%; }
  .pull-xl-8 {
    right: 66.66667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.33333%; }
  .pull-xl-11 {
    right: 91.66667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.33333%; }
  .push-xl-2 {
    left: 16.66667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.33333%; }
  .push-xl-5 {
    left: 41.66667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.33333%; }
  .push-xl-8 {
    left: 66.66667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.33333%; }
  .push-xl-11 {
    left: 91.66667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

/*@import 'menu';*/
.sm {
  position: relative;
  z-index: 10; }

.sm, .sm ul, .sm li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
  -webkit-tap-highlight-color: transparent; }

.sm-rtl, .sm-rtl ul, .sm-rtl li {
  direction: rtl;
  text-align: right; }

.sm > li > h1, .sm > li > h2, .sm > li > h3, .sm > li > h4, .sm > li > h5, .sm > li > h6 {
  margin: 0;
  padding: 0; }

.sm ul {
  display: none; }

.sm li, .sm a {
  position: relative; }

.sm a {
  display: block; }

.sm a.disabled {
  cursor: not-allowed; }

.sm:after {
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  clear: both;
  visibility: hidden;
  overflow: hidden; }

.sm, .sm *, .sm *:before, .sm *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.sm-simple {
  background: #4b4b4b; }

.sm-simple a, .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active {
  padding: 13px 20px;
  /* make room for the toggle button (sub indicator) */
  padding-right: 58px;
  color: #fffefe;
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none; }

.sm-simple a.current {
  background: #555555;
  color: white; }

.sm-simple a.disabled {
  color: #cccccc; }

.sm-simple a span.sub-arrow {
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: auto;
  right: 4px;
  width: 34px;
  height: 34px;
  overflow: hidden;
  font: bold 14px/34px monospace !important;
  text-align: center;
  text-shadow: none; }

.sm-simple a span.sub-arrow:before {
  font-family: FontAwesome;
  font-size: 24px;
  content: "\f105"; }

.sm-simple a.highlighted span.sub-arrow:before {
  display: block;
  content: "\f107"; }

.sm-simple li {
  border-top: 1px solid #d0d0d0; }

.sm-simple > li:first-child {
  border-top: 0; }

.sm-simple ul {
  background: rgba(179, 179, 179, 0.1); }

.sm-simple ul a, .sm-simple ul a:hover, .sm-simple ul a:focus, .sm-simple ul a:active {
  font-size: 15px; }

.sm-simple ul ul ul a, .sm-simple ul ul ul a:hover, .sm-simple ul ul ul a:focus, .sm-simple ul ul ul a:active {
  border-left: 24px solid transparent; }

.sm-simple ul ul ul ul a, .sm-simple ul ul ul ul a:hover, .sm-simple ul ul ul ul a:focus, .sm-simple ul ul ul ul a:active {
  border-left: 32px solid transparent; }

.sm-simple ul ul ul ul ul a, .sm-simple ul ul ul ul ul a:hover, .sm-simple ul ul ul ul ul a:focus, .sm-simple ul ul ul ul ul a:active {
  border-left: 40px solid transparent; }

@media (min-width: 1052px) {
  /* Switch to desktop layout ----------------------------------------------- These transform the menu tree from collapsible to desktop (navbar + dropdowns) -----------------------------------------------*/
  /* start... (it's not recommended editing these rules) */
  .sm-simple ul {
    position: absolute;
    width: 12em; }
  .sm-simple li {
    float: left; }
  .sm-simple.sm-rtl li {
    float: right; }
  .sm-simple ul li, .sm-simple.sm-rtl ul li, .sm-simple.sm-vertical li {
    float: none; }
  .sm-simple a {
    white-space: nowrap; }
  .sm-simple ul a, .sm-simple.sm-vertical a {
    white-space: normal; }
  .sm-simple .sm-nowrap > li > a, .sm-simple .sm-nowrap > li > :not(ul) a {
    white-space: nowrap; }
  /* ...end */
  .sm-simple a, .sm-simple a:hover, .sm-simple a:focus, .sm-simple a:active, .sm-simple a.highlighted {
    padding: 11px 20px;
    color: #fffefe; }
  .sm-simple a:hover, .sm-simple a:active, .sm-simple a.highlighted {
    background: #262626; }
  .sm-simple a.current {
    background: #262626;
    color: white; }
  .sm-simple a.disabled {
    background: white;
    color: #cccccc; }
  .sm-simple a span.sub-arrow {
    top: 50%;
    margin-top: -8px;
    right: 20px;
    width: 8px;
    height: 16px;
    font: 14px/16px monospace !important;
    background: transparent; }
  .sm-simple a.highlighted span.sub-arrow:before {
    display: block; }
  .sm-simple > li {
    border-top: 0;
    border-left: 1px solid #d0d0d0; }
  .sm-simple > li:first-child {
    border-left: 0; }
  .sm-simple ul {
    background: #4b4b4b; }
  .sm-simple ul a {
    border: 0 !important; }
  .sm-simple ul a.has-submenu {
    padding-right: 20px; }
  .sm-simple ul a span.sub-arrow {
    right: auto;
    margin-left: -12px; }
  .sm-simple ul > li {
    border-left: 0;
    border-top: 1px solid #6e6e6e; }
  .sm-simple ul > li:first-child {
    border-top: 0; }
  .sm-simple span.scroll-up, .sm-simple span.scroll-down {
    position: absolute;
    display: none;
    visibility: hidden;
    overflow: hidden;
    background: white;
    height: 20px; }
  .sm-simple span.scroll-up-arrow, .sm-simple span.scroll-down-arrow {
    position: absolute;
    top: -2px;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 8px;
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #555555 transparent; }
  .sm-simple span.scroll-down-arrow {
    top: 6px;
    border-style: solid dashed dashed dashed;
    border-color: #555555 transparent transparent transparent; }
  .sm-simple.sm-rtl a.has-submenu {
    padding-right: 20px;
    padding-left: 32px; }
  .sm-simple.sm-rtl a span.sub-arrow {
    right: auto;
    left: 20px; }
  .sm-simple.sm-rtl.sm-vertical a.has-submenu {
    padding: 11px 20px; }
  .sm-simple.sm-rtl.sm-vertical a span.sub-arrow {
    right: 20px;
    margin-right: -12px; }
  .sm-simple.sm-rtl > li:first-child {
    border-left: 1px solid #eeeeee; }
  .sm-simple.sm-rtl > li:last-child {
    border-left: 0; }
  .sm-simple.sm-rtl ul a.has-submenu {
    padding: 11px 20px; }
  .sm-simple.sm-rtl ul a span.sub-arrow {
    right: 20px;
    margin-right: -12px; }
  .sm-simple.sm-vertical a span.sub-arrow {
    right: auto;
    margin-left: -12px; }
  .sm-simple.sm-vertical li {
    border-left: 0;
    border-top: 1px solid #eeeeee; }
  .sm-simple.sm-vertical > li:first-child {
    border-top: 0; } }

.third-level {
  margin: 0 !important;
  background: #d0d0d0 !important; }

.third-level li {
  border: 0 !important; }

.third-level li a {
  color: #4b4b4b !important; }

.third-level li a:hover {
  background: transparent !important;
  color: #262626 !important; }

/* =============== CSS FOR MICROSITE =============== */
.c-content {
  width: 940px;
  margin: 0 auto;
  position: relative; }

#magenta__app {
  text-align: center; }

#magenta-menu ul {
  display: block;
  margin: 0;
  z-index: 100; }

#sec-2 {
  min-height: 600px;
  height: 100%;
  padding-top: 15px;
  position: relative; }

.mob__kv {
  display: none; }

#sec-2 .dynamicFormMain {
  width: 100%;
  max-width: 600px;
  padding: 26px;
  position: absolute;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px; }

#sec-2 .formCloseBtn.close-icon {
  color: #e20074;
  position: absolute;
  top: 0;
  right: 0; }

#sec-2 .formCloseBtn.close-icon i {
  font-size: 25px; }

#sec-2 .dynamicFormMain ul {
  margin: 0; }

#sec-2 .dynamicFormMain .pos-top {
  position: absolute;
  top: -5000px; }

#sec-2 .dynamicFormSubFields {
  text-align: center; }

#sec-2 .formComposition label.labelField {
  width: 100%;
  min-width: 100%; }

#sec-2 .formCompositionRenderDisplay h2, #sec-2 .pageNameField, #sec-2 .dynamicFormPages {
  display: none; }

#sec-2 li.dynamicFormItemBox {
  margin: 0;
  padding: 0; }

body .button.qtip-button {
  font-size: 16px;
  height: 33px;
  line-height: 33px;
  margin-top: 8px; }

body .qtip-custom-blue {
  margin-top: 8px;
  color: #3ec0f0;
  display: inline-block; }

#sec-2 .calc__title {
  margin: 18px 2% 0 2%;
  padding: 0;
  width: 96%;
  font-size: 30px;
  text-transform: uppercase; }

#sec-2 #magenta-menu {
  margin: 1em;
  display: inline-block; }

#sec-2 #magenta-menu ul ul {
  position: relative;
  margin: 0 !important; }

#sec-2 #magenta-menu ul ul li {
  background: #d0d0d0; }

#sec-2 #magenta-menu > li {
  min-width: 144px;
  min-height: 45px; }

.sub-arrow {
  display: none; }

#sec-2 #magenta-menu > li a {
  padding: 14px 0;
  text-align: center; }

#sec-2 #magenta-menu > li.double-line > a {
  padding: 6px 20px 3px 20px;
  text-align: center;
  line-height: 18px;
  white-space: normal;
  width: 144px; }

#sec-2 #magenta-menu > li.double-line > a.button {
  padding: 4px 20px 5px 20px; }

.sm-simple ul ul > li {
  border-top: 1px solid #bbbbbb; }

#sec-2 #magenta-menu ul ul li a {
  color: #4b4b4b; }

#sec-2 #magenta-menu ul ul li a:hover {
  background: transparent;
  color: #262626; }

#sec-2 .productHolder, #sec-2 .priceHolders {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 11px 0;
  font-size: 16px;
  line-height: 21px;
  background-color: #fff;
  text-align: center; }

.disabled, #sec-2 .button.disabled {
  background-color: #a7a7a7; }

.disabled a:hover {
  background: transparent;
  cursor: default; }

#sec-2 .button.disabled {
  border-color: #a7a7a7;
  cursor: default; }

#sec-2 .price {
  margin: 0;
  padding: 11px 20px;
  color: #4b4b4b;
  height: 45px;
  line-height: 22px;
  text-align: center;
  background-color: #ededed;
  width: 14vw; }

#sec-2 .button-buy {
  height: 45px;
  width: 144px;
  line-height: 17px; }

.lightbox-cover {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  right: 0; }

.priceHolder2 {
  float: left;
  font-size: 16px;
  color: #4b4b4b;
  background-color: #ffffff;
  text-align: left;
  padding-left: 0; }

.priceHolder2 {
  width: 100%;
  float: right;
  padding: 0px 0;
  text-align: center;
  position: absolute;
  line-height: 100%;
  display: block; }

@media (max-width: 1052px) {
  #sec-2 {
    background-image: none;
    background-color: #e6e6e6;
    height: auto; }
  .mob__kv {
    background: url(https://m.telekom.sk/wb/magenta1/v2/img/bg-main.jpg) no-repeat top center;
    background-size: cover;
    display: block;
    height: 170px;
    width: 100%; }
  #sec-2 .calc__title {
    font-size: 24px; }
  #sec-2 #magenta-menu {
    width: 96%;
    margin: 1em 2%; }
  #sec-2 #magenta-menu > li, #sec-2 #magenta-menu > li.double-line > a {
    width: 100%; }
  #sec-2 #magenta-menu ul {
    margin: 0; }
  #sec-2 .productHolder, #sec-2 .priceHolder {
    position: relative; }
  #sec-2 .button-buy {
    width: 100%; }
  #sec-2 #magenta-menu > li a, #sec-2 #magenta-menu > li.double-line > a {
    text-align: left;
    padding-left: 14px; }
  #sec-2 #magenta-menu > li.double-line > a, #sec-2 #magenta-menu > li.double-line > a.button {
    padding: 14px 0 14px 14px; }
  #sec-2 #magenta-menu > li a.button, #sec-2 #magenta-menu > li.double-line > a.button {
    text-align: center; }
  #sec-2 .price, #sec-2 .priceHolders {
    width: 60%;
    float: left;
    color: #e20074;
    font-size: 22px;
    text-align: left;
    padding-left: 0; }
  #sec-2 .priceHolders {
    width: 40%;
    float: right;
    padding: 12px 0;
    text-align: right; }
  .sub-arrow {
    display: block; }
  #bubliny {
    display: none; }
  #skupina {
    display: none; } }

.half-main {
  display: flex; }

.half {
  width: 129px;
  text-align: center;
  margin: 0;
  background-color: #ffffff;
  float: left;
  color: #4b4b4b; }

.half-left, .half-right {
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0; }

.half-middle {
  width: 1px;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 20px; }

.half-desc {
  border-bottom: 1px solid #d0d0d0; }

.half p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.half .price-row {
  line-height: 140%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  border-top: 1px solid #d0d0d0; }

.half .price-row:first-child {
  border-top: none; }

.kosik-hw {
  margin-top: 5px;
  margin-bottom: 19px; }

.hw-check {
  cursor: pointer; }

.full {
  width: 100%;
  text-align: center;
  display: block;
  height: auto;
  margin: 0px !important;
  border-left: 0px solid #d0d0d0;
  background-color: #ffffff;
  float: left;
  color: #4b4b4b; }

.full:first-child {
  border-left: 0px solid #d0d0d0; }

.full p {
  border-bottom: 1px solid #d0d0d0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

.full-price1, .full-price2 {
  clear: both;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  width: 100%; }

.full-price1 {
  color: #e20074 !important; }

.full-price2 {
  color: #ffffff !important;
  background-color: #e20074 !important; }

.full-price-left, .full-price-right {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: top; }

.full-price-left {
  text-align: left;
  float: left; }

.full-price-right {
  text-align: right;
  float: right; }

.itemHolder, .itemHolder2, .itemHolder3, .itemHolder4, .itemHolder5, .itemHolder6 {
  display: inline-block;
  text-align: left;
  padding-left: 5px;
  height: auto !important;
  width: 100%; }

.zaujem {
  background-color: #6bb324 !important;
  border: none !important;
  margin: 10px !important; }

.left {
  display: inline-block;
  float: left; }

.right {
  display: inline-block;
  float: right;
  padding-right: 5px; }

.skselected {
  background-color: #eeeeee !important; }

.portlet-body .journal-content-article .sec-2 h2 {
  padding-bottom: 0;
  margin-bottom: 5px; }

/* =============== CSS FOR MICROSITE =============== */
/* GLOBALS */
.section {
  padding: 80px 0 60px 0; }

#content .sec__title {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center; }

@media screen and (max-width: 430px) {
  #content .sec__title {
    font-size: 28px; } }

#hero a.blue-link {
  text-decoration: underline;
  font-size: 18px; }

#content a.blue-link {
  text-decoration: underline; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/* HERO */
#hero {
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/magenta1_top_background.png) no-repeat 50% 50%;
  background-size: cover;
  padding: 80px 0; }

#content .hero__title {
  font-size: 38px;
  text-align: left;
  color: #262626; }

#content .hero__title b {
  font-weight: 900; }

@media screen and (max-width: 600px) {
  #hero {
    background-position: 34% 50%; } }

/* SEC-1 */
.how-to {
  text-align: center;
  margin-right: 2%;
  position: relative; }

/*.how-to:nth-of-type(2):before,
.how-to:nth-of-type(2):after {
    content: '';
    background: url(https://m.telekom.sk/wb/magenta1/v2/img/ico-arrow.png) no-repeat;
    width: 63px;
    height: 47px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -27px;
}*/
.how-to:nth-of-type(2):after {
  left: auto;
  right: -16px; }

.how-to:last-of-type {
  margin-right: 0; }

#content .how-to__title {
  font-size: 20px;
  color: #e20074;
  margin-bottom: 0; }

#content .how-to__desc {
  margin-top: 0; }

.how-to-links {
  text-align: center; }

#content .how-to-links a {
  display: inline-block; }

#content .how-to-links .link {
  margin-top: 10px;
  font-size: 16px; }

@media screen and (max-width: 600px) {
  .how-to:nth-of-type(2):before, .how-to:nth-of-type(2):after {
    display: none; }
  #content .how-to {
    width: 100%;
    margin: 0 0 20px 0; } }

/* SEC-2 */
/*
.sec-app {
    background: url(https://m.telekom.sk/wb/magenta1/v2/img/bg-app.jpg) no-repeat 50% 50%;
    padding: 40px 0 50px 0;
}
*/
/* SEC-3 */
.sec-3 {
  padding: 20px 0 100px 0;
  font-size: 16px;
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/magenta1_middle_background.png) no-repeat 50% 30%; }

.white-box {
  background-color: #fff;
  display: inline-block;
  width: 100%;
  border: 1px solid #d4d4d4; }

.blank-box {
  display: inline-block;
  width: 100%; }

.ziskaj {
  padding-bottom: 10px; }

.desc {
  color: #a4a4a4;
  padding-bottom: 20px; }

#sec-3 a.gray {
  color: #a4a4a4;
  text-decoration: underline; }

#sec-3 .white-box .image {
  text-align: center; }

.left {
  padding-top: 20px;
  vertical-align: bottom; }

.sec-3-header {
  padding-top: 30px;
  padding-bottom: 10px; }

#sec-3 .sec-3-header h2 {
  text-align: center; }

#sec-3 .right h2 {
  color: #262626;
  text-align: left; }

#sec-3 h3 {
  color: #262626;
  text-align: left; }

.vyhody-box, .ceny-box {
  padding-top: 10px; }

.vyhody-link {
  padding-top: 10px; }

.vyhody-body {
  color: #4b4b4b; }

#sec-3 .vyhody-body a.gray {
  color: #4b4b4b; }

.ceny-1 {
  padding-bottom: 10px; }

.page .vyhody-body p {
  margin: 5px 0; }

.page .vyhody-body p img {
  padding-right: 10px; }

.vyhody, .ceny {
  padding: 0 30px 30px 30px; }

#wrapper .button_gray {
  background-color: #ededed;
  border: 1px solid #b2b2b2;
  color: #363636; }

.ceny-button {
  padding-top: 30px; }

.tooltip-left .qtip-content {
  text-align: left; }

.lightbox-area {
  display: none; }

.lightbox {
  width: 50%; }

@media screen and (max-width: 1052px) {
  .sec-3 {
    padding-top: 50px; } }

@media screen and (max-width: 992px) {
  #sec-3 .button_lima {
    margin-bottom: 20px; }
  .sec-3 {
    padding-bottom: 0; } }

@media screen and (max-width: 960px) {
  .sec-3 {
    background: none;
    background-color: #fff; } }

@media screen and (max-width: 768px) {
  .ceny-box {
    margin-top: 20px;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border: 1px solid #d4d4d4; } }

@media screen and (max-width: 600px) {
  #sec-3 .white-box .image img {
    width: 100%; } }

/* SEC-4 */
.faq {
  padding: 35px;
  border: 1px solid #e6e6e6; }

.faq__img {
  max-width: 125px;
  width: 100%; }

#content .faq__maintitle {
  color: #e20074;
  font-size: 24px;
  text-transform: uppercase;
  margin-top: 0; }

.faq__item {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  padding-bottom: 15px; }

.faq__item:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0; }

#content .faq__title, #content .faq__desc {
  margin: 0; }

#content .faq__title {
  color: #007faf;
  text-decoration: underline; }

#content .faq__desc_red {
  color: #c61818; }

#content ul.faq__list {
  list-style: square;
  margin: 0 0 0 50px; }

#content ul.faq__list li {
  font-size: 16px; }

@media screen and (max-width: 600px) {
  #content .faq .grid-g__col_2 {
    display: none; }
  #content .faq .grid-g__col_10 {
    width: 100%; } }

#neobmedzene-data h2 {
  color: #e20074;
  text-align: center;
  font-size: 20px;
  font-weight: bold; }

#neobmedzene-data .postup {
  padding-bottom: 10px; }

#neobmedzene-data .moznosti {
  padding-bottom: 10px; }

#neobmedzene-data .zavriet {
  padding-top: 20px;
  text-align: center; }

#neobmedzene-data {
  margin-top: 40px; }

#neobmedzene-data hr {
  background-color: #d0d0d0; }

#neobmedzene-data .magenta {
  color: #e20074; }

.fancybox-opened .fancybox-skin {
  border-radius: 3px; }

.fancybox-opened .fancybox-inner {
  height: auto; }

body .fancybox-wrap {
  border: 0;
  border-radius: 3px; }

.fancybox-overlay {
  background-image: url(https://m.telekom.sk/wb/magenta1/v2/img/fancybox_overlay.png) !important; }

body .fancybox-wrap .fancybox-close {
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px; }

body .fancybox-wrap .zavriet .fancybox-close {
  position: relative; }

#magenta1-1 {
  display: none; }

.waterbear-theme #neobmedzene-data select {
  display: block !important;
  font-size: 16px; }

#skupina {
  position: absolute;
  top: 130px;
  left: 0;
  width: 190px;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 55px;
  padding-bottom: 10px; }

.skupina {
  padding: 10px;
  position: relative; }

.skupina .check-img, .skupina .check-text {
  vertical-align: top; }

.skupina .check-img {
  position: absolute;
  top: 10px;
  cursor: pointer; }

.hw-check .checked, .checked.hw-check, .hw-check.checked {
  width: 15px;
  height: 15px;
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/checkbox_on15.png) no-repeat top center;
  float: right;
  margin-right: 5px; }

.hw-check {
  width: 15px;
  height: 15px;
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/checkbox_off15.png) no-repeat top center;
  float: right;
  margin-right: 5px; }

.hw-check-desc {
  float: left;
  margin-top: -1px;
  margin-left: 5px; }

#skupina-check .checked, .checked#skupina-check, #skupina-check.checked {
  width: 30px;
  height: 30px;
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/checkbox_on.png) no-repeat top center; }

#skupina-check, #hw-check {
  width: 30px;
  height: 30px;
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/checkbox_off.png) no-repeat top center; }

.checked.skupina-subcheck, .skupina-subcheck.checked {
  width: 20px;
  height: 20px;
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/checkbox_on20.png) no-repeat top center; }

.skupina-subcheck {
  width: 20px;
  height: 20px;
  background: url(https://m.telekom.sk/wb/magenta1/v2/img/checkbox_off20.png) no-repeat top center; }

.skupina-subcheck, .skupina-subcheck-desc {
  vertical-align: top;
  display: inline-block; }

.skupina-subcheck-desc {
  margin-left: 5px; }

.skupina .check-text {
  position: absolute;
  left: 45px;
  top: 5px;
  color: #e20074;
  font-size: 16px;
  line-height: 18px;
  padding-top: 4px; }

.skupina-mame {
  margin-top: 40px;
  margin-left: 10px; }

.skupina-button {
  text-align: center;
  background-color: #f6f6f6;
  height: 43px;
  width: 170px;
  padding-top: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: none;
  cursor: pointer; }

.internet-main, .televizia-main, .pevna-main, .happy-main {
  background-color: #e3e3e3;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #d3d3d4;
  display: block; }

.bublina {
  display: none;
  position: absolute; }

.bublina-pevna {
  top: 110px;
  left: 360px; }

.bublina-internet {
  top: 90px;
  left: 280px; }

.bublina-tv {
  top: 90px;
  left: 490px; }

.bublina-happy {
  top: 90px;
  left: 390px; }

#content #magenta-menu > li {
  min-width: 134px; }

#content #magenta-menu > li:last-child {
  min-width: 240px !important; }

#content .price {
  width: 260px; }

.itemHolder2 {
  /*height: 40px!important;*/
  position: relative; }

.bublina-desc {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center; }

.page .bublina-desc p {
  margin: 3px 0;
  line-height: 100%;
  color: #fff; }

.page .bublina-desc p:first-child {
  margin: 7px 0;
  font-weight: bold; }

.bublina-pevna img {
  width: 230px;
  height: 100%; }

.bublina-happy img {
  width: 290px;
  height: 100%; }

.desc-internet-m, .desc-internet-l, .desc-internet-x {
  padding-top: 30px; }

.desc-internet-1, .desc-internet-2 {
  padding-top: 30px; }

.desc-tv-3 {
  padding-top: 15px; }

.desc-tv-m {
  padding-top: 20px; }

.desc-tv-l {
  padding-top: 10px; }

.desc-pevna-m {
  padding-top: 20px; }

.desc-pevna-l {
  padding-top: 30px; }

.desc-pevna-x {
  padding-top: 20px; }

#bublina-happy {
  padding-top: 10px; }

/*# sourceMappingURL=maps/style.css.map */