<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;</div>
		<div class="hero__content">
			<h1 class="hero__title">
				<span class="bold-title">MÔJ TELEKOM</span><br />
				SAMOOBSLUŽNÁ ZÁKAZNÍCKA<br />
				zóna</h1>
			<a class="btn cta " href="/web/mojtelekom/dashboard" target="_blank">PRIHLÁSIŤ SA DO MÔJ TELEKOM</a><br />
			<a class="link" href="/sso-registracia" target="_blank">Vytvoriť účet v Môj Telekom</a></div>
	</div>
</section>
<section class="section sec-1" id="sec-1">
	<div class="container-fixed ">
		<h2 class="sec__title text_centered">
			VÝHODY MÔJ TELEKOM</h2>
		<p class="sec__desc" style="text-align: center;">
			Samoobslužný portál Môj Telekom vám prináša možnosť jednoducho a pohodlne spravovať všetky vaše služby online.</p>
		<div class="row text-center border-b">
			<div class="col-md-4 detail">
				<img alt="Bezpečný prístup k službám" src="/documents/10179/6920575/ico-3.png" />
				<p class="detail__title">
					Prístup cez počítač aj smartfón&nbsp;</p>
				<p class="detail__desc">
					Portál Môj Telekom vám prináša možnosť bezpečného prístupu k vašim službám prostredníctvom internetu - kedykoľvek a kdekoľvek.</p>
			</div>
			<div class="col-md-4 detail">
				<img alt="24 hodín, 7 dní v týždni" src="/documents/10179/9827031/ico-4.png" />
				<p class="detail__title">
					Online registrácia</p>
				<p class="detail__desc">
					Účet si môžete vytvoriť kedykoľvek prostredníctvom <a href="/sso-registracia">online formulára</a>, dokonca aj pred tým, ako si zriadite služby. Po zriadení&nbsp; si ich jednoducho pripojíte k svojmu účtu.</p>
			</div>
			<div class="col-md-4 detail">
				<img alt="Bezplatné spravovanie služieb" src="../assets/img/ico-1.png" />
				<p class="detail__title">
					Pohodlné&nbsp; spravovanie služieb</p>
				<p class="detail__desc">
					Na jednom mieste si&nbsp; spravujete všetky mobilné aj pevné služby a máte bezplatný a okamžitý prehľad o vašej spotrebe, doplnkových službách či faktúrach.</p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-8" id="sec-8">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12">
				<div class="tab-box">
					<div class="tab-box__cover-tab1">
						<p class="pbc__title">
							MÔJ TELEKOM<br />
							<span class="small-title">a Elektronická komunikácia</span></p>
					</div>
					<div class="tab-box__content">
						<!--  <div class="tab_title-img col-xs-4 col-md-4 text_centered">
                                        <img class="clip-info" src="../assets/img/ec_clip-b.png" alt="">
                                </div> -->
						<div class="tab_desc col-xs-12 col-md-12">
							<p>
								<b>Ak si aktivujete Elektronickú komunikáciu, získate v&nbsp;portále Môj Telekom navyše:</b></p>
							<ul class="tab-list">
								<li>
									<img alt="" src="../assets/img/ico__sqare-b.jpg" /><span id="aui_3_4_0_1_524" style="color:#e20074;">automatický prístup</span> ku všetkým svojim službám evidovaným pod vaším rodným číslom - bez potreby pripájania produktov cez ID kód,</li>
								<li>
									<img alt="" src="../assets/img/ico__sqare-b.jpg" />možnosť prezerať si a <span id="aui_3_4_0_1_524" style="color:#e20074;">podpisovať dokumenty a zmluvy&nbsp;</span> elektronicky,</li>
								<li>
									<img alt="" src="../assets/img/ico__sqare-b.jpg" />možnosť <span id="aui_3_4_0_1_524" style="color:#e20074;">nazdieľať prístup k&nbsp;svojim službám</span> ďalším ľudom, napr. deťom, rodine alebo nájomníkom.</li>
							</ul>
							<p>
								&nbsp;</p>
							<a class="btn cta" href="/elektronicka-komunikacia#-1">AKTIVOVAŤ ELEKTRONICKÚ KOMUNIKÁCIU</a><br />
							<a class="info-link" href="/elektronicka-komunikacia">Viac info o Elektronickej komunikácii</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-2" id="sec-2">
	<div class="container-fixed ui accordion">
		<!-- mobile-panel 01 heading -->
		<h2 class="sec__title text_centered">
			FUNKCIE PORTÁLU MÔJ TELEKOM</h2>
		<br />
		<div class="mobile-panel-title">
			<a class="toggle-info" href="#feature-01">Kontrola spotreby </a></div>
		<!-- collapse 01 -->
		<div class="row height-transition" id="feature-01">
			<div class="mobile-panel-collapse">
				<div class="col-md-6 feature_imgholder">
					<img data-zoom-image="../assets/img/feature-zoom-01.png" id="zoom-01" src="../assets/img/feature-01.png" /></div>
				<div class="col-md-6 feature_holder">
					<h6 class="feature_title">
						Kontrola spotreby</h6>
					<p class="feature_desc">
						V samoobslužnom zákazníckom portále Môj Telekom si môžete pozrieť prehľad prevolaných minút, odoslaných SMS a MMS správ, ale aj objem minutých dát či požičaných filmov v&nbsp;Magio televízii.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-5" id="sec-5">
	<div class="container-fixed">
		<!-- mobile-panel 04 heading -->
		<div class="mobile-panel-title">
			<a class="toggle-info" href="#feature-04">Prehľad faktúr a ich platba</a></div>
		<!-- collapse 04 -->
		<div class="row height-transition" id="feature-04">
			<div class="col-md-6 push-md-6 feature_imgholder">
				<img data-zoom-image="../assets/img/feature-zoom-02.png" id="zoom-02" src="../assets/img/feature-02.png" /></div>
			<div class="col-md-6 pull-md-6 feature_holder">
				<h6 class="feature_title">
					Prehľad faktúr a ich platba</h6>
				<p class="feature_desc">
					Nájdete tu aj vaše faktúry v prehľadnom zozname s možnosťou uhradiť ich jednoducho pomocou predvyplnených platobných údajov alebo kartou.</p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-4" id="sec-4">
	<div class="container-fixed">
		<!-- mobile-panel 03 heading -->
		<div class="mobile-panel-title">
			<a class="toggle-info" href="#feature-03">Správa služieb a ich sprístupnenie </a></div>
		<!-- collapse 03 -->
		<div class="row height-transition" id="feature-03">
			<div class="col-md-6 feature_imgholder">
				<img data-zoom-image="../assets/img/feature-zoom-03.png" id="zoom-03" src="../assets/img/feature-03.png" /></div>
			<div class="col-md-6 feature_holder">
				<h6 class="feature_title">
					Sprístupnenie služieb&nbsp;&nbsp;</h6>
				<p class="feature_desc">
					Cez portál Môj Telekom môžete svoje služby sprístupnit aj iným užívateľom – napríklad rodinnému príslušníkovi, ktorý uvidí svoju spotrebu na mobilnom čísle alebo nájomníkom vo vašom byte, čím vás odbremenia od starostí s platbami za TV či internet.</p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-5" id="sec-5">
	<div class="container-fixed">
		<!-- mobile-panel 04 heading -->
		<div class="mobile-panel-title">
			<a class="toggle-info" href="#feature-04">Nastavenie doplnkových služieb </a></div>
		<!-- collapse 04 -->
		<div class="row height-transition" id="feature-04">
			<div class="col-md-6 push-md-6 feature_imgholder">
				<img data-zoom-image="../assets/img/feature-zoom-04.png" id="zoom-04" src="../assets/img/feature-04.png" /></div>
			<div class="col-md-6 pull-md-6 feature_holder">
				<h6 class="feature_title">
					Nastavenie doplnkových služieb</h6>
				<p class="feature_desc">
					V portále môžete spravovať všetky doplnkové služby na jednom mieste. Aktivujte si napr. dátový balík k paušálu, športový programový balík k Magio TV a množstvo iných.</p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-6" id="sec-6">
	<div class="container-fixed">
		<!-- mobile-panel 05 heading -->
		<div class="mobile-panel-title">
			<a class="toggle-info" href="#feature-05">Analýza výdavkov </a></div>
		<!-- collapse 05 -->
		<div class="row height-transition" id="feature-05">
			<div class="col-md-6 feature_imgholder">
				<img data-zoom-image="../assets/img/feature-zoom-05.png" id="zoom-05" src="../assets/img/feature-05.png" /></div>
			<div class="col-md-6 feature_holder">
				<h6 class="feature_title">
					Analýza výdavkov</h6>
				<p class="feature_desc">
					Vďaka&nbsp; Môj Telekom získate aj dokonalý prehľad o svojich výdavkoch. Výdavky sa roztriedia do kategŕií podľa služieb a zobrazia sa v prehľadných grafoch.</p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-7" id="sec-7">
	<div class="container-fixed">
		<!-- mobile-panel 06 heading -->
		<div class="mobile-panel-title">
			<a class="toggle-info" href="#feature-06">Nastaviteľný vzhľad stránky </a></div>
		<!-- collapse 06 -->
		<div class="row height-transition" id="feature-06">
			<div class="col-md-6 push-md-6 feature_imgholder">
				<img data-zoom-image="../assets/img/feature-zoom-06.png" id="zoom-06" src="../assets/img/feature-06.png" /></div>
			<div class="col-md-6 pull-md-6 feature_holder">
				<h6 class="feature_title">
					Nastaviteľný vzhľad stránky</h6>
				<p class="feature_desc">
					Vzhľad stránky&nbsp; si môžete nastaviť podľa svojho vkusu. Na pozadie si môžete nahrať vlastnú fotografiu alebo si vyberiete z našej ponuky. Upraviť sa dá aj dôležitý obsah úvodnej obrazovky a farebnosť dlaždíc.</p>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="../assets/js/zoom.js"></script><script type="text/javascript" src="../assets/js/main.js"></script>