<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile">
            <!-- <img class="hero-ec" src="../assets/img/ec_navysujeme-data.png"> -->
        </div>
        <div class="hero__content">
            <h1 class="hero__title">
                <span class="m1-nm">DARUJTE DÁTA BLÍZKYM</span><br />V MAGENTE 1
            </h1>

            <a class="btn cta scroll-to" href="https://telekomsk.page.link/Zhs6"
                >DAROVAŤ DÁTA</a
            ><br />
            <a class="link_nordr scroll-to no-href" data-id="sec-moreBenefits"
                >Viac o darovaní dát</a
            >
            <!-- <img class="hero-ec" src="../assets/img/ec_navysujeme-data.png"> -->
        </div>
    </div>
</section>

<div
    id="nav-sticky-sticky-wrapper"
    class="sticky-wrapper"
    style="height: 55px;"
>
    <div id="nav-sticky" class="nav-sticky">
        <ul>
            <li>
                <a class="scroll-to no-href" data-id="sec-howtoGetBenefits"
                    >AKO TO FUNGUJE</a
                >
            </li>
            <li>
                <a class="scroll-to no-href" data-id="ziskam">ČO ZÍSKAM?</a>
            </li>
            <li>
                <a class="scroll-to no-href" data-id="akcie">AKCIE A NOVINKY</a>
            </li>
            <li>
                <a class="scroll-to no-href" data-id="caste-otazky"
                    >ČASTÉ OTÁZKY</a
                >
            </li>
            <li>
                <a class="spotlight" href="/magenta1-skupina"
                    >PRIHLÁSIŤ SA DO SKUPINY</a
                >
            </li>
            <li>
                <a class="scroll-to no-href" data-id="wrapper"
                    >NAHOR <img src="../assets/img/arrow-top.png" alt=" "
                /></a>
            </li>
        </ul>
    </div>
</div>

<section class="section" id="sec-howtoGetBenefits">
    <div class="container-fixed">
        <h2 class="sec__title title-mb40 text-center">AKO FUNGUJE MAGENTA 1</h2>
        <div class="row">
            <div class="col-xs-12 col-md-5 push-md-7 img text-center">
                <img src="../assets/img/ako_funguje_M1.png" alt="" />
            </div>
            <div class="col-xs-12 col-md-7 pull-md-5 text">
                <p>
                    <b
                        >Získajte exkluzívne výhody za to, že máte od nás
                        mobilné a pevné služby. Stačí si ich spojiť v skupine
                        Magenta&nbsp;1.</b
                    >
                </p>
                <ul class="ul-sq">
                    <li>
                        Skupinu môžete založiť, ak máte paušál ÁNO S, Happy XS
                        alebo vyšší.
                    </li>
                    <li>
                        Do skupiny môžete pridať ďalších 4 členov - 4 telefónne
                        čísla s paušálom ÁNO, Happy, Bez záväzkov alebo Easy
                        kartou.
                    </li>
                    <li>
                        Ak pridáte do skupiny aspoň jednu zo služieb Magio
                        internet, TV alebo Pevnú linku M alebo vyššiu, členovia
                        s paušálom ÁNO získavajú viac dát a volaní.
                    </li>
                    <li>
                        Skupinu spravujete
                        <b>bezplatne a jednoducho cez web</b>.
                    </li>
                </ul>
                <div class="btn-cont">
                    <div>
                        <a href="/magenta1-skupina" class="btn cta_mag">
                            ZALOŽIŤ SKUPINU
                        </a>
                    </div>
                    <div>
                        <a data-id="sec-moreBenefits" class="scroll-to no-href">
                            Pozrieť ostatné výhody
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SEC-1 -->
<section
    class="section sec-1"
    data-segment="2"
    id="ziskam"
    style="background-color: white;"
>
    <div class="container-fixed">
        <h2 class="sec__title title-mb40 text-center">
            ČO ZÍSKATE V <span class="nowrap">MAGENTA 1?</span>
        </h2>
        <div class="row">
            <div class="ben-p col-md-12">
                <h3>VIAC DÁT A VOLANÍ</h3>
                <p>
                    Pridajte si do skupiny Magenta&nbsp;1
                    <b
                        >aspoň jednu zo služieb Magio internet, TV alebo Pevnú
                        linku M, L alebo XL</b
                    >
                    a všetky paušály ÁNO v&nbsp;skupine Magenta&nbsp;1 získajú
                    viac dát a volaní.
                </p>
                <div class="tabs-container" ng-init="selectedTab=1">
                    <div class="tab__holder">
                        <!-- TABS MENU -->
                        <ul class="tabs-menu clearfix">
                            <li
                                class="variant"
                                ng-class="{ current: selectedTab == 1 }"
                            >
                                <a ng-click="selectedTab=1">Dáta</a>
                            </li>
                            <li
                                class="variant"
                                ng-class="{ current: selectedTab == 2 }"
                            >
                                <a ng-click="selectedTab=2">Volania*</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab">
                        <!-- Tab 1 -->
                        <div
                            ng-show="selectedTab == 1"
                            class="tab-content clearfix"
                        >
                            <div class="tab-box">
                                <div class="tab-box__content">
                                    <div class="text-center">
                                        <div
                                            class="col-md-4 col-xs-6 ben-cont"
                                            ng-repeat="data in $ctrl.dataAno"
                                        >
                                            <p class="rtpl-name">
                                                <b>{{ data.name }}</b>
                                            </p>
                                            <div class="ben-cont-m">
                                                <div class="ben-inline">
                                                    <div class="ben-label">
                                                        Bez Magenty&nbsp;1
                                                    </div>
                                                    <div
                                                        class="ben-price text-through"
                                                    >
                                                        <b>{{
                                                            data.row1Title
                                                        }}</b>
                                                    </div>
                                                </div>
                                                <div class="ben-inline color-m">
                                                    <div class="ben-label">
                                                        S Magentou&nbsp;1
                                                    </div>
                                                    <div class="ben-price">
                                                        <b>{{
                                                            data.row1TitleWithM1
                                                        }}</b>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ben-hr">
                                                <div>
                                                    <!--cont-->
                                                </div>
                                            </div>
                                            <div>
                                                {{ data.price }} € mesačne
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <div
                            ng-show="selectedTab == 2"
                            class="tab-content clearfix"
                        >
                            <div class="tab-box">
                                <div class="tab-box__content">
                                    <div class="text-center">
                                        <div
                                            class="col-md-4 col-xs-6 ben-cont"
                                            ng-repeat="data in $ctrl.dataAno"
                                        >
                                            <p class="rtpl-name">
                                                <b>{{ data.name }}</b>
                                            </p>
                                            <div class="ben-cont-m">
                                                <div>
                                                    <div class="ben-inline">
                                                        <div class="ben-label">
                                                            Bez Magenty&nbsp;1
                                                        </div>
                                                        <div
                                                            ng-if="
                                                                data.row2Title !==
                                                                'Neobmedzene'
                                                            "
                                                            class="ben-price text-through"
                                                        >
                                                            <b>{{
                                                                data.row2Title
                                                            }}</b>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="ben-inline color-m"
                                                    >
                                                        <div class="ben-label">
                                                            S Magentou&nbsp;1
                                                        </div>
                                                        <div
                                                            ng-if="
                                                                data.row2Title !==
                                                                'Neobmedzene'
                                                            "
                                                            class="ben-price"
                                                        >
                                                            <b>{{
                                                                data.row2TitleWithM1
                                                            }}</b>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div
                                                    ng-show="
                                                        data.row2Title ===
                                                        'Neobmedzene'
                                                    "
                                                    class="ben-price"
                                                >
                                                    <b>{{ data.row2Title }}</b>
                                                </div>
                                            </div>
                                            <div class="ben-hr">
                                                <div>
                                                    <!--cont-->
                                                </div>
                                            </div>
                                            <div>
                                                {{ data.price }} € mesačne
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-cont text-center">
                    <!-- btns -->
                </div>
            </div>
            <div class="col-md-12">
                <p class="legaltext">
                    *Volania do všetkých sietí v SR, zo SR do EÚ+, z EÚ+ do SR a
                    z EÚ+ do EÚ+
                </p>
            </div>
        </div>
    </div>
</section>

<!-- SEC-MORE-BENEFITS -->
<section class="section" id="sec-moreBenefits" data-id="sec-moreBenefits">
    <div class="container-fixed">
        <h3 class="text-center">ĎALŠIE VÝHODY</h3>
        <div class="row">
            <div class="tabs-container" ng-init="selectedTabBenefits=1">
                <div class="tab__holder">
                    <!-- TABS MENU -->
                    <ul class="tabs-menu clearfix">
                        <li
                            class="variant"
                            ng-class="{ current: selectedTabBenefits == 1 }"
                        >
                            <a ng-click="selectedTabBenefits=1"
                                >Darovanie dát</a
                            >
                        </li>
                        <li
                            class="variant"
                            ng-class="{ current: selectedTabBenefits == 2 }"
                        >
                            <a ng-click="selectedTabBenefits=2">Prenos dát</a>
                        </li>
                        <li
                            class="variant"
                            ng-class="{ current: selectedTabBenefits == 3 }"
                        >
                            <a ng-click="selectedTabBenefits=3"
                                >Volania zadarmo</a
                            >
                        </li>
                        <li
                            class="variant"
                            ng-class="{ current: selectedTabBenefits == 4 }"
                        >
                            <a ng-click="selectedTabBenefits=4"
                                >Smartfón výhodnejšie</a
                            >
                        </li>
                        <li
                            class="variant"
                            ng-class="{ current: selectedTabBenefits == 5 }"
                        >
                            <a ng-click="selectedTabBenefits=5"
                                >Ostatné výhody</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="tab">
                    <div
                        ng-show="selectedTabBenefits == 1"
                        class="tab-content clearfix"
                    >
                        <div class="tab-box">
                            <div class="tab-box__content">
                                <div class="wrapper dataNavzajom">
                                    <div class="col-xs-12 col-sm-8 text">
                                        <h3>
                                            Podeľte sa o dáta s blízkymi v
                                            Magenta&nbsp;1
                                        </h3>
                                        <p>
                                            Potešte dátami svojich blízkych v
                                            skupine Magenta&nbsp;1, kedykoľvek
                                            to potrebujú. Odteraz sa
                                            <b
                                                >môžete o dáta, ktoré máte
                                                navyše k svojmu paušálu ÁNO
                                                vďaka členstvu v skupine
                                                Magenta&nbsp;1, podeliť so
                                                zvyšnými členmi skupiny</b
                                            >. Darovať ich môžete členom, ktorí
                                            majú paušál ÁNO, Happy, Bez záväzkov
                                            alebo Easy kartu. Kedykoľvek,
                                            bezplatne a
                                            <b
                                                >jednoducho cez Telekom
                                                aplikáciu.</b
                                            >
                                        </p>
                                        <p style="margin-bottom: 0;">
                                            <b
                                                >Koľko magentových dát môžete
                                                darovať?</b
                                            >
                                        </p>
                                        <div class="giveawaySelect">
                                            <select id="giveaway">
                                                <option value="S"
                                                    >S paušálom ÁNO S</option
                                                >
                                                <option value="M"
                                                    >S paušálom ÁNO M</option
                                                >
                                                <option value="M_DATA"
                                                    >S paušálom ÁNO M
                                                    Dáta</option
                                                >
                                                <option value="L" selected
                                                    >S paušálom ÁNO L</option
                                                >
                                                <option value="XL"
                                                    >S paušálom ÁNO XL</option
                                                >
                                                <option value="XXL"
                                                    >S paušálom ÁNO XXL</option
                                                >
                                            </select>
                                        </div>
                                        <h2 class="giveawayText magenta">
                                            Môžete darovať
                                            <b><span>5 GB</span></b>
                                        </h2>
                                        <a
                                            href="https://telekomsk.page.link/Zhs6"
                                            class="btn cta_mag"
                                            >Darovať dáta</a
                                        >
                                        <a
                                            data-id="caste-otazky"
                                            class="link scroll-to no-href"
                                            >Viac info o darovaní dát</a
                                        >
                                    </div>
                                    <div
                                        class="col-xs-12 col-sm-4 img text-center"
                                    >
                                        <!-- img -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        ng-show="selectedTabBenefits == 2"
                        class="tab-content clearfix"
                    >
                        <div class="tab-box">
                            <div class="tab-box__content">
                                <div class="wrapper">
                                    <div class="col-xs-12 col-sm-6 text">
                                        <p>
                                            <b
                                                >Automatický a bezplatný prenos
                                                dát</b
                                            >
                                        </p>
                                        <p>
                                            Nespotrebované dáta z paušálov ÁNO
                                            <b
                                                >vám automaticky prenesieme do
                                                ďalšieho mesiaca bez poplatkov a
                                                zbytočných podmienok.</b
                                            >
                                            Prenesené magentové dáta čerpáte
                                            nasledujúci mesiac ako prvé.
                                        </p>
                                    </div>
                                    <div
                                        class="col-xs-12 col-sm-6 img text-center"
                                    >
                                        <img
                                            src="../assets/img/prenos_dat.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        ng-show="selectedTabBenefits == 3"
                        class="tab-content clearfix"
                    >
                        <div class="tab-box">
                            <div class="tab-box__content">
                                <div class="wrapper">
                                    <div class="col-xs-12 col-sm-6 text">
                                        <p>
                                            <b>
                                                Volania, SMS a MMS navzájom
                                                zadarmo</b
                                            >
                                        </p>
                                        <p>
                                            Všetci členovia skupiny s paušálmi
                                            ÁNO, Happy, s programom Bez záväzkov
                                            aj Easy kartou si
                                            <b
                                                >volajú, esemeskujú
                                                a&nbsp;ememeskujú navzájom
                                                zadarmo.</b
                                            >
                                        </p>
                                    </div>
                                    <div
                                        class="col-xs-12 col-sm-6 img text-center"
                                    >
                                        <img
                                            src="../assets/img/volania_zadarmo.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        ng-show="selectedTabBenefits == 4"
                        class="tab-content clearfix"
                    >
                        <div class="tab-box">
                            <div class="tab-box__content">
                                <div class="wrapper">
                                    <div class="col-xs-12 col-sm-6 text">
                                        <p>
                                            <b
                                                >Výhodnejšia cena nového
                                                smartfónu</b
                                            >
                                        </p>
                                        <p>
                                            Každý člen skupiny Magenta&nbsp;1 si
                                            môže k paušálu ÁNO vziať vybraný
                                            smartfón za lepšiu cenu. Ponuku
                                            smratfónov pravidelne obmieňame.
                                        </p>
                                    </div>
                                    <div
                                        class="col-xs-12 col-sm-6 img text-center"
                                    >
                                        <img
                                            src="../assets/img/smartfon_vyhodnejsie.png"
                                            alt=""
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div
                        ng-show="selectedTabBenefits == 5"
                        class="tab-content clearfix"
                    >
                        <div class="tab-box">
                            <div class="tab-box__content">
                                <div class="wrapper ostatneVyhody">
                                    <div class="col-md-12 col-lg-6 text">
                                        <p>
                                            <b> Internetová Magio GO zadarmo</b>
                                        </p>
                                        <p>
                                            Pri výpadku vašej Magio televízie
                                            vám na 48 hodín poskytneme online
                                            televíziu Magio GO zadarmo spolu s
                                            neobmedzenými mobilnými dátami.<span
                                                class="circle"
                                                alt="V prípade výpadku Magio televízie nám zavolajte na bezplatnú non-stop linku 0800 123 777 a ak sa nám nepodarí poruchu okamžite odstrániť, na 48 hodín vám zadarmo poskytneme mobilnú televíziu Magio Go spolu s neobmedzenými mobilnými dátami."
                                                >i</span
                                            >
                                        </p>
                                        <p><b> Internet v mobile zadarmo</b></p>
                                        <p>
                                            Pri výpadku vášho Magio internetu
                                            získate záložný neobmedzený internet
                                            v mobile zadarmo na 48 hodín.<span
                                                class="circle"
                                                alt="V prípade výpadku Magio internetu nám zavolajte na bezplatnú non-stop linku 0800 123 777 a ak sa nám nepodarí poruchu okamžite odstrániť, na 48 hodín vám zadarmo poskytneme neobmedzený internet v mobile."
                                                >i</span
                                            >
                                        </p>
                                    </div>
                                    <div class="col-md-12 col-lg-6 text">
                                        <p>
                                            <b
                                                >Neobmedzené denné dáta za
                                                zvýhodnenú cenu</b
                                            >
                                        </p>
                                        <p>
                                            Aktivujte si balík za zvýhodnenú
                                            cenu cez portál Magenta&nbsp;1 alebo
                                            jednoducho v Telekom appke v časti
                                            Magenta&nbsp;1 skupina. Balík je
                                            dostupný pre všetky paušály ÁNO a
                                            Happy okrem Happy XS mini, XS a S.
                                        </p>
                                        <div class="row dataBlock">
                                            <div class="col-xs-7 pad0">
                                                <p class="magenta">
                                                    Neobmedzené denné dáta
                                                </p>
                                            </div>
                                            <div
                                                class="col-xs-5 pad0 text-right"
                                            >
                                                <p class="magenta">
                                                    2,99 €
                                                </p>
                                                <p>bežná cena 4,99 €</p>
                                            </div>
                                        </div>
                                        <a
                                            href="https://telekomsk.page.link/Zhs6"
                                            class="btn cta_mag"
                                            >AKTIVOVAŤ BALÍK</a
                                        >
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SEC-2 -->
<section class="section sec-2">
    <div class="container-fixed">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="box-left">
                    <h2>OVERTE SI,<br />AKÉ VÝHODY ZÍSKATE</h2>
                    <calc-entrance></calc-entrance>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="box-right row">
                    <h2 class="except" id="magenta1tooltip">
                        Príklady výhod <span class="nowrap">Magenta 1</span>
                    </h2>
                    <div class="circle-wrapper">
                        <div class="options">
                            <div class="circle color-2">
                                <p>PAUŠÁL</p>
                                <p>ÁNO M</p>
                            </div>
                            <div class="mark" style="margin: 0 16px;">+</div>
                            <div class="circle color-1">
                                <p>1 x</p>
                                <p>internet</p>
                                <p>alebo TV</p>
                            </div>
                            <div class="mark" style="margin: 0 16px;">=</div>
                            <div class="circle-cont">
                                <p><b>2X VIAC</b></p>
                                <p><b>DÁT A VOLANÍ</b></p>
                                <p>V PAUŠÁLE</p>
                                <div class="circle color-3"></div>
                                <div class="circle color-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="circle-wrapper">
                        <div class="options">
                            <div class="circle color-2">
                                <p>PAUŠÁL</p>
                                <p>HAPPY XL</p>
                            </div>
                            <div class="mark">+</div>
                            <div class="circle color-1">
                                <p>2 x</p>
                                <p>Happy M</p>
                                <p>alebo vyšší</p>
                            </div>
                            <div class="mark">+</div>
                            <div class="circle color-1">
                                <p>1 x</p>
                                <p>internet</p>
                                <p>a 1 x TV</p>
                            </div>
                            <div class="mark">=</div>
                            <div class="circle color-3">
                                <p><b>ZĽAVA 10 €</b></p>
                                <p><b>MESAČNE</b></p>
                                <p>NA PAUŠÁL</p>
                                <p>XL</p>
                            </div>
                        </div>
                    </div>
                    <p>
                        S
                        <span class="color-m"
                            >Easy kartou získate dvojnásobné extra dáta</span
                        ><br />k dátovým balíkom Vždy Giga alebo Vždy 2 Giga.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SEC-4 -->
<section id="akcie" class="section sec-4">
    <div class="container-fixed">
        <h2 class="sec__title title-mb40 text-center">
            AKTUÁLNE AKCIE A NOVINKY
        </h2>
        <p class="color-m text-center">
            Iba pre členov skupiny Magenta&nbsp;1:
        </p>

        <div class="tab-acc text-center more-phone">
            <!-- mobil 1 -->
            <div
                class="tab-acc-sub"
                ng-click="$ctrl.reloadActionMobile($event.currentTarget)"
            >
                <div class="tab-acc-cont-label text-center">Huawei Nova 5T</div>
                <div class="tab-img-cont">
                    <img
                        src="../assets/img/m1_zvyhodneny_huawei-nova-5t_206x292_0420.png"
                    />
                </div>
                <div class="tab-acc-cont">
                    <div class="tab-ex">
                        <p class="b-bot">Napr. s paušálom ÁNO L</p>
                        <p class="tab-ex-cap"><b>Mesačne:</b></p>
                        <div>
                            <div class="tab-ex-label">
                                Za paušál:
                            </div>
                            <div class="tab-ex-price">
                                30,00 €
                            </div>
                        </div>
                        <div>
                            <div class="tab-ex-label">
                                Mesačná splátka za mobil:
                            </div>
                            <div class="tab-ex-price old-price">
                                8,00 €
                            </div>
                        </div>
                        <div class="tab-ex-result">
                            <div class="tab-ex-label">
                                Mesačná splátka s Magenta&nbsp;1:
                            </div>
                            <div class="tab-ex-price">
                                7,00 €
                            </div>
                        </div>
                        <div class="tab-ex-result web-zlava">
                            <div class="tab-ex-label">
                                Mesačná splátka s Magenta&nbsp;1 pri&nbsp;kúpe
                                cez web:
                            </div>
                            <div class="tab-ex-price">
                                6,16 €
                            </div>
                        </div>
                        <p class="tab-ex-cap"><b>Jednorazovo pri kúpe:</b></p>
                        <div>
                            <div class="tab-ex-label">
                                Bežná akontácia:
                            </div>
                            <div class="tab-ex-price old-price">
                                49,00 €
                            </div>
                        </div>
                        <div class="tab-ex-result web-zlava">
                            <div class="tab-ex-label">
                                Akontácia pre členov Magenta&nbsp;1:
                            </div>
                            <div class="tab-ex-price">
                                1,16 €
                            </div>
                        </div>
                        <!-- <div class="tab-ex-result web-zlava">
                            <div class="tab-ex-label">
                                Akontácia pre členov Magenta&nbsp;1 pri&nbsp;kúpe cez web:
                            </div>
                            <div class="tab-ex-price">
                                1,16 €
                            </div>
                        </div> -->
                        <div class="text-center info">
                            <a
                                class="detail-page"
                                href="/mob/objednavka/huawei-ponuka/-/scenario/e-shop/hw-pausal/vyber-hw/huawei_nova_5t_black_nova?vyberrp=l"
                                >Viac info</a
                            >
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobil 2 -->
            <div
                class="tab-acc-sub"
                ng-click="$ctrl.reloadActionMobile($event.currentTarget)"
            >
                <div class="tab-acc-cont-label text-center">
                    Huawei P30 Lite
                </div>
                <div class="tab-img-cont">
                    <img
                        src="../assets/img/m1_zvyhodneny_huawei-p30-lite_206x292_0420.png"
                    />
                </div>
                <div class="tab-acc-cont">
                    <div class="tab-ex">
                        <p class="b-bot">Napr. s paušálom ÁNO L</p>
                        <p class="tab-ex-cap"><b>Mesačne:</b></p>
                        <div>
                            <div class="tab-ex-label">
                                Za paušál:
                            </div>
                            <div class="tab-ex-price">
                                30,00 €
                            </div>
                        </div>
                        <div>
                            <div class="tab-ex-label">
                                Mesačná splátka za mobil:
                            </div>
                            <div class="tab-ex-price old-price">
                                5,00 €
                            </div>
                        </div>
                        <div class="tab-ex-result">
                            <div class="tab-ex-label">
                                Mesačná splátka s Magenta&nbsp;1:
                            </div>
                            <div class="tab-ex-price">
                                4,00 €
                            </div>
                        </div>
                        <div class="tab-ex-result web-zlava">
                            <div class="tab-ex-label">
                                Mesačná splátka s Magenta&nbsp;1 pri&nbsp;kúpe
                                cez web:
                            </div>
                            <div class="tab-ex-price">
                                3,16 €
                            </div>
                        </div>
                        <p class="tab-ex-cap"><b>Jednorazovo pri kúpe:</b></p>
                        <div>
                            <div class="tab-ex-label">
                                Bežná akontácia:
                            </div>
                            <div class="tab-ex-price old-price">
                                29,00 €
                            </div>
                        </div>
                        <div class="tab-ex-result web-zlava">
                            <div class="tab-ex-label">
                                Akontácia pre členov Magenta&nbsp;1:
                            </div>
                            <div class="tab-ex-price">
                                1,16 €
                            </div>
                        </div>
                        <!-- <div class="tab-ex-result web-zlava">
                            <div class="tab-ex-label">
                                Akontácia pre členov Magenta&nbsp;1 pri&nbsp;kúpe cez web:
                            </div>
                            <div class="tab-ex-price">
                                1,16 €
                            </div>
                        </div> -->
                        <div class="text-center info">
                            <a
                                class="detail-page"
                                href="/mob/objednavka/huawei-ponuka/-/scenario/e-shop/hw-pausal/vyber-hw/huawei_p30_lite_pearl_white_magenta?vyberrp=l"
                            >
                                Viac info
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div id="cmb__holder">&nbsp;</div>
    </div>
</section>

<!-- SEC-5 -->
<section class="section sec-5" id="caste-otazky">
    <h2 class="sec__title title-mb40 text-center">ČASTÉ OTÁZKY</h2>
    <div class="fixed-column">
        <div class="col-group">
            <div class="col-md-12 info">
                <div class="col-group">
                    <div>
                        <p>Užitočné informácie</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="togleArrow faq__item open">
                                    <a class="toggle-arrow" href="#"
                                        >Ako funguje darovanie dát v Magente
                                        1?<span class="arrow-right"></span
                                    ></a>
                                    <div class="arrow-content">
                                        <p>
                                            <b
                                                >Kto môže darovať magentové
                                                dáta?</b
                                            >
                                        </p>
                                        <p>
                                            Darovať magentové dáta môže každý
                                            člen skupiny, ktorý má paušál ÁNO a
                                            má vo svojej skupine min. jednu
                                            pevnú službu (TV, internet alebo
                                            pevnú linku). Zákazník, ktorý
                                            využíva na paušál ÁNO inú akciu a
                                            nemá dáta navyše, nemôže dáta ani
                                            darovať.
                                        </p>

                                        <p>
                                            <b
                                                >Komu a ako môžem darovať
                                                magentové dáta?</b
                                            >
                                        </p>
                                        <p>
                                            Dáta môžete darovať jednému členovi
                                            alebo ich rozdeliť medzi ostatných
                                            členov svojej skupiny, ktorí majú
                                            paušál ÁNO, Happy, Bez záväzkov
                                            alebo Easy kartu. Každý člen skupiny
                                            môže magentové dáta dávať aj
                                            prijímať od viacerých členov naraz.
                                            Darovanie magentových dát prebieha
                                            zadarmo. Ich objem a prerozdelenie
                                            nastavíte v Telekom aplikácii alebo
                                            na
                                            <a
                                                href="https://www.telekom.sk/magenta1-skupina"
                                                target="_blank"
                                            >
                                                www.telekom.sk/magenta1-skupina </a
                                            >. Na
                                            <a
                                                href="https://www.telekom.sk/magenta1-skupina"
                                                target="_blank"
                                            >
                                                www.telekom.sk/magenta1-skupina
                                            </a>
                                            je možné nastaviť aj pravidelné
                                            automatické darovanie dát.
                                        </p>
                                        <p>
                                            <b
                                                >Čo sú moje magentové dáta a ako
                                                sa čerpajú?</b
                                            >
                                        </p>
                                        <p>
                                            Magentové dáta, ktoré môžete
                                            darovať, sú dáta, ktoré máte navyše
                                            v skupine Magenta&nbsp;1 za to, že v
                                            skupine máte pevné aj mobilné
                                            služby.
                                            <br />Objem magentových dát, ktoré
                                            môžete darovať:
                                        </p>
                                        <table class="datatable">
                                            <tr>
                                                <td class=""><b>ÁNO S:</b></td>
                                                <td class="datapack">
                                                    <b>250 MB</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><b>ÁNO M:</b></td>
                                                <td class="datapack">
                                                    <b>500 MB</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="">
                                                    <b>ÁNO M Dáta:</b>
                                                </td>
                                                <td class="datapack">
                                                    <b>4 GB</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><b>ÁNO L:</b></td>
                                                <td class="datapack">
                                                    <b>5 GB</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class=""><b>ÁNO XL:</b></td>
                                                <td class="datapack">
                                                    <b>10 GB</b>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="">
                                                    <b>ÁNO XXL:</b>
                                                </td>
                                                <td class="datapack">
                                                    <b>15 GB</b>
                                                </td>
                                            </tr>
                                        </table>
                                        <p>
                                            Z týchto dát môžete darovať min. 100
                                            MB a maximálne zvyšný objem svojich
                                            magentových dát. Magentové dáta sa v
                                            rámci mesiaca čerpajú ako posledné.
                                        </p>
                                        <p>
                                            <b
                                                >Môžem dáta darovať len raz
                                                alebo pravidelne?</b
                                            >
                                        </p>
                                        <p>
                                            Darovať magentové dáta môžete
                                            jednorazovo aj pravidelne. Ak
                                            nastavíte pravidelné darovanie, dáta
                                            sa obdarovaným členom pridelia v
                                            prvý deň vášho zúčtovacieho obdobia.
                                            Pri jednorazovom darovaní sa dáta
                                            pridelia hneď.
                                        </p>
                                        <p>
                                            <b
                                                >Dokedy mi platia magentové
                                                dáta, ktoré dostanem?</b
                                            >
                                        </p>
                                        <ul class="datalist">
                                            <li>
                                                pri paušáloch ÁNO a Bez záväzkov
                                                do vyčerpania dát alebo do konca
                                                nasledujúceho zúčtovacieho
                                                obdobia,
                                            </li>
                                            <li>
                                                pri paušáloch Happy do
                                                vyčerpania dát alebo do konca
                                                aktuálneho zúčtovacieho obdobia,
                                            </li>
                                            <li>
                                                pri Easy karte do vyčerpania dát
                                                alebo do 30 dní.
                                            </li>
                                        </ul>
                                        <p>
                                            <b
                                                >Mám paušál ÁNO, som v skupine
                                                Magenta&nbsp;1 a nemám možnosť
                                                darovať dáta. Ako je to
                                                možné?</b
                                            >
                                        </p>
                                        <p>
                                            Na to, aby ste mohli využívať všetky
                                            výhody skupiny Magenta&nbsp;1,
                                            musíte mať v skupine min. jeden
                                            produkt pevnej siete úrovne M alebo
                                            vyššej (Magio internet, Magio TV
                                            alebo Pevnú linku, Digi internet
                                            alebo Digi TV), a zároveň na svojom
                                            paušále ÁNO nemôžete využívať inú
                                            akciu, ktorá nie je kombinovateľná s
                                            benefitom magentové dáta navyše. Ak
                                            vo svojom paušále nemáte magentové
                                            dáta navyše, znamená to, že
                                            nespĺňate min. jednu z týchto
                                            podmienok.
                                        </p>
                                    </div>
                                </div>

                                <div class="togleArrow faq__item open">
                                    <a class="toggle-arrow" href="#"
                                        >Kedy môžem založiť skupinu
                                        Magenta&nbsp;1?<span
                                            class="arrow-right"
                                        ></span
                                    ></a>
                                    <p class="arrow-content">
                                        Skupinu môžete založiť, ak máte mobilný
                                        paušál ÁNO S alebo vyšší, prípadne
                                        paušál Happy XS alebo vyšší. Založením
                                        skupiny sa stanete jej správcom a môžete
                                        do nej pozvať svojich blízkych, ktorí
                                        majú Telekom služby. Na to, aby ste
                                        získali magentové benefity, pridajte si
                                        do skupiny min. jeden produkt pevnej
                                        siete úrovne M alebo vyššej (Magio
                                        internet, Magio TV alebo Pevnú linku,
                                        Digi internet alebo Digi TV).
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="togleArrow faq__item open">
                                    <a class="toggle-arrow" href="#"
                                        >Kedy môžem vstúpiť do skupiny
                                        Magenta&nbsp;1?<span
                                            class="arrow-right"
                                        ></span
                                    ></a>
                                    <p class="arrow-content">
                                        Vstúpiť do skupiny môžete, ak máte
                                        mobilné číslo od Telekomu: mobilný
                                        paušál ÁNO, Happy, Bez záväzkov alebo
                                        Easy kartu. Ak máte služby Chytrého
                                        balíka (Magio televíziu, Magio internet
                                        alebo Pevnú linku) alebo služby DIGI
                                        (DIGI Internet alebo DIGI televíziu),
                                        musíte mať súčasne mobilné číslo od
                                        Telekomu, aby ste ich mohli zaradiť do
                                        skupiny a čerpať jej výhody.
                                    </p>
                                </div>
                                <div class="togleArrow faq__item open">
                                    <a class="toggle-arrow" href="#"
                                        >Aké výhody v skupine Magenta&nbsp;1
                                        môžem získať?<span
                                            class="arrow-right"
                                        ></span
                                    ></a>
                                    <p class="arrow-content">
                                        Aby ste si mohli naplno užívať výhody
                                        skupiny Magenta&nbsp;1, zaraďte si do
                                        skupiny aspoň jednu pevnú službu s
                                        úrovňou M a vyššou (Magio internet,
                                        Magio TV alebo Pevnú linku, Digi
                                        internet alebo Digi TV).
                                    </p>
                                    <p class="arrow-content">
                                        <b>Ak máte paušál ÁNO:</b><br /><b
                                            >Získate viac volaní a dát.</b
                                        >
                                        Stačí, keď si do skupiny zaradíte aspoň
                                        jednu službu pevnej siete – jeden Magio
                                        internet, Magio televíziu alebo Pevnú
                                        linku s úrovňou M alebo vyššou alebo
                                        jeden DIGI internet alebo DIGI
                                        televíziu.
                                        <b
                                            >Dáta navyše môžete darovať ostatným
                                            členom skupiny</b
                                        >. Dáta a minúty navyše nezískavate v
                                        prípade, že využívate na svojom paušále
                                        ÁNO inú akciu.
                                    </p>
                                    <p class="arrow-content">
                                        <b>Ak máte paušál Happy:</b
                                        ><br />Získate
                                        <b
                                            >zvýhodnenú skupinovú cenu na paušál
                                            Happy.</b
                                        >
                                        Čím je v skupine viac členov alebo
                                        pevných služieb s úrovňou služby M alebo
                                        vyššou, tým je cena Happy paušálu pre
                                        každého člena skupiny nižšia. Zvýhodnená
                                        skupinová cena nie je kombinovateľná s
                                        inými akciami.
                                    </p>
                                    <p class="arrow-content">
                                        <b>Ak máte EASY kartu:</b><br />
                                        Získate dvojnásobné extra dáta k dátovým
                                        balíkom Vždy Giga alebo Vždy 2 Giga.
                                    </p>
                                    <p class="arrow-content">
                                        Ak máte v skupine minimálne 2 služby s
                                        úrovňou S alebo vyššou (ÁNO S alebo
                                        vyššie, Happy S alebo vyššie, Magio
                                        internet M alebo vyššie, Magio televíziu
                                        M, Pevnú linku M alebo vyššie, DIGI
                                        internet alebo DIGI televíziu),
                                        <b
                                            >voláte, esemeskujete a ememeskujete
                                            si v rámci skupiny zadarmo a
                                            neobmedzene</b
                                        >
                                        so všetkými členmi skupiny.
                                    </p>
                                </div>
                                <div class="togleArrow faq__item">
                                    <a class="toggle-arrow" href="#">
                                        Volania z mobilu a SMS/MMS zadarmo
                                        navzájom má celá skupina Magenta&nbsp;1?
                                        <span class="arrow-right"></span>
                                    </a>
                                    <p class="arrow-content">
                                        Áno, volania z mobilu a SMS/MMS zadarmo
                                        medzi sebou v rámci skupiny, získajú
                                        všetci, ktorí vstúpia do skupiny, aj keď
                                        im beží viazanosť.
                                    </p>
                                </div>
                                <div class="togleArrow faq__item">
                                    <a class="toggle-arrow" href="#">
                                        Môžem pozvať blízkeho do skupiny
                                        Magenta&nbsp;1, aj keď nie som jej
                                        správcom?
                                        <span class="arrow-right"></span>
                                    </a>
                                    <p class="arrow-content">
                                        Nových ľudí môžete do skupiny pozvať,
                                        len ak ste správca, ktorý ju založil.
                                    </p>
                                </div>
                                <div class="togleArrow faq__item">
                                    <a class="toggle-arrow" href="#">
                                        Môže zákazník ÁNO vstúpiť do skupiny
                                        Magenta&nbsp;1 aj počas viazanosti a
                                        získať tak viac minút a dát?
                                        <span class="arrow-right"></span>
                                    </a>
                                    <p class="arrow-content">
                                        Áno, zákazníci s paušálmi ÁNO môžu
                                        vstúpiť do skupiny bez ohľadu na ich
                                        viazanosť a získať viac minút a dát.
                                        Samozrejme, viac minút a dát môže získať
                                        ten zákazník, ktorý už nevyužíva inú
                                        akciu.
                                    </p>
                                </div>
                                <br />
                                <p>
                                    Viac informácií nájdete v našej encyklopédii
                                    Wiki
                                </p>
                                <a href="/wiki/volania/magenta-1" class="btn"
                                    >PREJSŤ DO WIKI</a
                                >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-group">
            <div class="grid-g__col_12">
                <a
                    class="link link_terms"
                    href="/documents/10179/17370447/Osobitne+podmienky+magenta+1/570809a3-0f25-4123-ac53-a3b6d7efab14"
                    >Obchodné podmienky</a
                >
            </div>
        </div>
    </div>
</section>
