/* ===============
   CSS FOR MICROSITE
   =============== */

#sec-0{
  & p {
    font-weight: normal;
    color:#262626!important;
    line-height: 20px;
    font-size: 18px;
  }
  & strong{
  font-weight: bold;
  }
  & a{
    padding: 0px;
  }
}
#hero-content{
margin-top: 120px;
  @media (max-width: 768px) {
    margin-top: 0px;
  }
  & h1 {
    line-height: 1.2!important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 20 auto;
    padding: 0!important;
    @media screen and (max-width: 768px) {
      font-size: 38px!important;
      line-height: 50px!important;;
    }
  
    @media screen and (max-width: 480px) {
      font-size: 28px!important;
      line-height: 32px!important;;
    }
  }
}


#hero-title{
display: inline-block;
max-width: 500px;
}
#hero-subtitle{
padding: 0 10px 0 10px;
background-color: #e20074;
max-width: 500px;
color: #fff;
font-size: 21px;
  @media  (max-width: 540px) {
    font-size: 18px;
  }
  @media  (max-width: 480px) {
    font-size: 14px;
  }
}  

#hero { 
  background: url(../img/hero.png) no-repeat center top;
  background-color: #000;
  background-size: cover;
  min-height: 630px;
  @media  (max-width: 768px) {
    min-height: 500px;
  }
  @media  (max-width: 544px) {
    min-height: 430px;
  }  
  @media  (max-width: 480px) {
    min-height: 250px;
  }  
}
 

#over-first{ 
  background-color: #fff;
  margin-top: -250px;
  padding: 50px 70px 100px 70px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
  @media (max-width: 768px)  {
    margin-top: -200px;
    padding: 50px 50px 80px 50px;
  }
  @media (max-width: 480px)  {
    margin-top: -50px;
    padding: 30px 25px 50px 25px;
  }

  & span{
    font-size: 21px; 
    padding-bottom: 5px;
    @media (max-width: 768px)  {
      font-size: 18px; 
      padding-bottom: 5px;
    }
    @media (max-width: 350px)  {
      font-size: 16px!important; 
      padding-bottom: 4px;
    }
  }
  & p {
    display: block;
    margin: 0;
    .side-info{
      padding-left: 50px;
      color: #6c6c6c!important;
    }
  }
  & .hw-img{
    @media (max-width: 480px)  {
      img {
        width: 50%;
        height: auto;
        }
    }
  }
  & .inform-box{
    padding: 20px 15px 0 15px;
  }
  & .container{
    padding: 0px;
  }

  & .desc{
    font-size: 21px; 
    line-height: 30px;
    padding-bottom: 15px;
    @media (max-width: 768px)  {
      font-size: 18px; 
    }
    @media (max-width: 350px)  {
      font-size: 16px!important; 
      padding-bottom: 10px;
    }

  }
  & .magenta{
    color: #e20074!important; 
  }
  & .left{
    text-align: left!important;
    float: left;
  }
  & .right{
    text-align: right!important;
    float: right;
  }
  & .center{
    text-align: center!important;

  }
  & .eecat-div{
    max-height: 10px;
  }
  & .eecat{
    position: relative;
    top: -400px;
    left: 65%;
    z-index: 10;   
  
    @media (max-width: 480px)  {
      position: absolute;
      top: 10%;
      left: 60%;
    }  

  }
   & .example{
    border-top: #d0d0d0 1px solid;
    padding: 10px 0 5px 0;
    }
  & .result {
    border-top: #d0d0d0 1px solid;
    padding: 10px 0 60px 0;
    }
  & .small-ico {
    float: left;
  } 
  .side-info{
    padding-left: 50px;
    color: #6c6c6c!important;
  }
  & .m-bt {
    padding-bottom: 10px;
  } 
  & .m-top {
    padding-top: 10px;
  } 
  & .blue-text {
  color: #007faf!important;
  } 
  & .pipa::before { 
    content: "| ";
    @media (max-width: 902px) {
      content: " ";
      display: block;
    }  
  }
  & .call-action{
    padding-top: 30px;
  }
  & .btn {
    @media (max-width: 480px)  {
      width: 100%;
      text-align: center;
  }
  }
} 

#over-second {
  padding: 60px 50px;
  & p {color: #6c6c6c!important;}
  @media (max-width: 480px)  {
    padding: 50px 40px;
  }
} 