/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';

/* =============== CSS FOR MICROSITE =============== */


/* GLOBALS */

.section {
    background: #ffffff;
    padding: 40px 0;
}

#content .grid-g__col_6.right {
    float: right;
}

#content .section__title {
    font-size: 32px;
    color: #e20074;
    text-align: center;
    text-transform: uppercase;
}

#content .font_gray {
    color: #939393;
}

.outer-border {
    border: 1px solid #a4a4a4;
    display: inline-block;
    padding: 0 10% 5% 10%;
}

.outer-border .section__title {
    margin-top: 25px;
}

#content .section__link {
    font-size: 18px;
    text-transform: none;
    text-decoration: underline;
}

#content .button-double {
    font-size: 18px;
    line-height: 19px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 50px;
}

@media screen and (max-width: 400px) {
    .outer-border {
        border: 0;
        padding: 0;
    }
    .section {
        padding: 20px 0;
    }
}


/* LIGHTBOXES */

.fancybox_hide {
    display: none;
    font-size: 1.6em;
    text-align: center;
    padding: 50px;
    color: #e20074;
}

.fancybox_hide.fancybox-small {
    display: none;
    font-size: 1em;
    text-align: center;
    padding: 20px;
    color: #383838;
}

.fancybox_hide.fancybox-small .font_magenta {
    color: #e20074;
}

.fancybox_hide_table {
    display: none;
    padding: 0;
}

.fancybox__title {
    font-size: 20px;
    color: #e20074;
}

.fancybox__info {
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px !important;
    margin: 10px 0 !important;
}

th {
    border-bottom: 1px solid #a4a4a4 !important;
}

td,
th {
    padding: 6px;
    text-align: center !important;
    border-right: 1px solid #a4a4a4 !important;
}

td:last-of-type,
th:last-of-type {
    border-right: 0 !important;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .fancybox_hide_table.fancybox-xsmall {
        padding: 0;
    }
    table {
        min-width: 274px;
    }
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block !important;
    }
    thead tr {
        position: absolute !important;
        top: -9999px !important;
        left: -9999px !important;
    }
    td {
        border: none !important;
        border-bottom: 1px solid #a4a4a4 !important;
        position: relative !important;
        padding-left: 50% !important;
    }
    td:before {
        position: absolute !important;
        top: 3px !important;
        left: 6px !important;
        width: 45% !important;
        padding-right: 10px !important;
        white-space: nowrap !important;
    }
    td:nth-of-type(1):before {
        content: "Happy XS";
    }
    td:nth-of-type(2):before {
        content: "Happy S";
    }
    td:nth-of-type(3):before {
        content: "Happy M";
    }
    td:nth-of-type(4):before {
        content: "Happy XL Volania";
    }
    td:nth-of-type(5):before {
        content: "Happy L";
    }
    td:nth-of-type(6):before {
        content: "Happy XL";
    }
    td:nth-of-type(7):before {
        content: "Happy XXL";
    }
    td:nth-of-type(8):before {
        content: "Profi";
    }
}


/* HERO */

#hero {
    padding: 40px 2%;
    background: url(../img/KV.jpg) no-repeat 50% 5%;
    background-size: cover;
    min-height: 250px;
}

#content .hero__content a {
    text-decoration: underline;
}

.hero__content,
.hero__img {
    display: inline-block;
    width: 48%;
}

.hero__content {
    margin-right: 2%;
    margin-top: 2%;
}

#content .hero__content .button {
    text-decoration: none;
    margin-bottom: 10px;
}

.hero__content .scroll-to {
    color: #3ec0f0;
}

.hero__content a.scroll-to:hover {
    color: #3ec0f0;
}

@media screen and (max-width: 890px) {
    #nav-sticky {
        display: none;
    }
}

@media screen and (max-width: 710px) {
    .hero__img img {
        width: 100%;
    }
}

@media screen and (max-width: 560px) {
    .hero__content,
    .hero__img {
        width: 99%;
    }
    .hero__content {
        margin-right: 0;
    }
    .hero__img {
        margin-top: 20px;
    }
    .hero__img img {
        width: auto;
    }
}

@media screen and (max-width: 380px) {
    .hero__img img {
        width: 100%;
    }
}


/* SEC 1 */

.grid__col_4__custom {
    float: left;
    width: 30%;
}

.col_border {
    border-right: 1px solid #a4a4a4;
    margin: 0 2.5% 0 5%;
    padding-right: 2.5%;
}

@media screen and (max-width: 560px) {
    .grid__col_4__custom {
        width: 100%;
    }
    .col_border {
        border-right: 0;
        margin: 0;
        padding-right: 0;
    }
}


/* SEC 2 */

.top_space {
    margin-top: 40px;
}

.easy-bg {
    background: url(../img/bg-easy.png) no-repeat 50% -10px;
}

#content .easy-bg .row-box {
    margin-bottom: 0;
}

#content .row-box {
    margin-bottom: 10px;
}

.box {
    width: 47.5%;
    float: left;
    background: #e9eaed;
    text-align: center;
    padding: 25px;
    position: relative;
}

.row-box:first-of-type .box {
    min-height: 373px;
}

.box-new {
    border: 1px solid #e20074;
    background: #ffffff;
}

.box:first-of-type {
    margin-right: 2.5%;
}

#content .box.box_full {
    width: 98%;
    margin-right: 0;
    min-height: auto;
}

.box__title {
    color: #e20074;
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
}

.box__body {
    font-size: 16px;
    line-height: 18px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
}

.box-new .box__body {
    border-top: 1px solid #e9eaed;
    border-bottom: 1px solid #e9eaed;
}

.box__price {
    font-weight: bold;
    font-size: 20px;
}

#content .box .button_lima {
    padding: 0 25px;
}

.buy__link {
    font-size: 16px;
}

.sticker-new {
    position: absolute;
    background: url(../img/sticker-new.png) no-repeat;
    width: 140px;
    height: 98px;
    top: 98px;
    left: -42px;
}

@media screen and (max-width: 700px) {
    .box {
        width: 100%;
        margin-bottom: 10px;
        min-height: auto;
    }
    .box.box_full {
        width: 100%;
    }
    #content .row-box {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .easy-bg {
        background: none;
    }
}

@media screen and (max-width: 430px) {
    .sticker-new {
        display: none;
    }
    .box-new .box__body {
        padding-left: 0;
    }
}


/* SEC 3 */

#sec-3 {
    padding-top: 0;
}

#sec-3 .font_gray {
    margin-top: 10px;
    display: inline-block;
}

#sec-3 .box {
    width: 31%;
    margin-top: 20px;
    min-height: 320px;
}

#sec-3 .box:first-of-type {
    margin-right: 2.5%;
}

#sec-3 .box:nth-child(2) {
    margin-right: 2.5%;
}

#content .disclaimer {
    font-size: 0.8em;
    color: #6c6c6c;
}

@media screen and (max-width: 900px) {
    #sec-3 .box {
        width: 47%;
    }
    #sec-3 .box:nth-child(2) {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    #sec-3 .box {
        width: 100%;
        min-height: 330px;
    }
    #sec-3 .box:first-of-type {
        margin-right: 0;
    }
}


/* SEC 4 */

#sec-4 {
    background: url(../img/bg-sec1.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.section__img {
    margin: 20px 0;
}

#sec-4 .outer-border {
    border: 0;
}

#sec-4 .box {
    background: #ffffff;
    min-height: auto;
}

#sec-4 .box__body {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.conditions {
    margin-bottom: 10px;
    display: inline-block;
}

@media screen and (max-width: 444px) {
    .section__img img {
        width: 100%;
    }
}


/* SEC 5 */

#sec-5 .outer-border {
    padding: 0 5% 5% 5%;
}

#content .link__custom1 {
    text-decoration: underline;
}

#content .link__custom2 {
    text-decoration: underline;
    color: #4b4b4b;
}

#sec-5 .cutom-color__text {
    color: #6c6c6c;
}

#content #sec-5 .box__title {
    text-align: left;
    color: #e20074;
    font-size: 20px;
}

#content .grid_right {
    float: right;
}

#content .side-area__title {
    font-weight: bold;
    font-size: 20px;
}

#content .section__description_custom {
    margin-bottom: 29px;
}

#content .grid-g__col_6.left {
    float: right;
}

@media screen and (max-width: 560px) {
    #content .grid-g__col_6,
    #content .grid-g__col_6 {
        width: 100%;
    }
    .sec-5 .grid-g__col_6.right {
        margin-top: 15px;
    }
    #content .side-area__title {
        margin-top: 10px;
    }
}

@media screen and (max-width: 400px) {
    #sec-5 .outer-border {
        padding: 0;
    }
}

.sale__item {
    padding: 25px;
    border: 1px solid #a4a4a4;
}

#content .sale__item-1 {
    padding-bottom: 20px;
    font-size: 16px;
    margin-bottom: 20px;
    overflow: hidden;
}

.ziskaj {
    padding-bottom: 10px;
}

#sec-5 .desc {
    color: #a4a4a4;
    padding-bottom: 20px;
}

#content a.blue-link {
    text-decoration: underline;
}

#sec-5 a.gray {
    color: #a4a4a4;
    text-decoration: underline;
}

.sale__item.sale__item-1 {
    padding-left: 0;
}


/* TOOLTIP */

#neobmedzene-data {
    display: none;
}

.tooltip-left .qtip-content {
    text-align: left;
}

#neobmedzene-data h2 {
    color: #e20074;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#neobmedzene-data .postup {
    padding-bottom: 10px;
}

#neobmedzene-data .moznosti {
    padding-bottom: 10px;
}

#neobmedzene-data .zavriet {
    padding-top: 20px;
    text-align: center;
}

#neobmedzene-data {
    margin-top: 40px;
}

#neobmedzene-data hr {
    background-color: #d0d0d0;
}

#neobmedzene-data .magenta {
    color: #e20074;
}

.fancybox-opened .fancybox-skin {
    border-radius: 3px;
}

.fancybox-opened .fancybox-inner {
    height: auto;
}

body .fancybox-wrap {
    border: 0;
    border-radius: 3px;
}

.fancybox-overlay {
    background-image: url(../img/fancybox_overlay.png) !important;
}

body .fancybox-wrap .fancybox-close {
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
}

body .fancybox-wrap .zavriet .fancybox-close {
    position: relative;
}

#magenta1-1 {
    display: none;
}

.waterbear-theme #neobmedzene-data select {
    display: block !important;
    font-size: 16px;
}


/* TOOLTIP */


/*# sourceMappingURL=maps/style.css.map */
