#magio-go-navigation {
    display: none;
}

.tab {
    background-color: transparent;
    border: none;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 90px 100px;

}

.tabs-menu {
    img {
        background-color: #000000;
    }
}

@media (max-width: 768px) {
    .tab {
        padding: 60px 60px;
    }
}

@media (max-width: 600px) {
    .tab {
        padding: 35px 35px;
    }
}

@media (max-width: 375px) {
    .tab {
        padding: 20px 20px;
    }
}

.tab__holder {
    margin-bottom: 130px;
}

@media (max-width: 768px) {
    .tab__holder {
        margin-bottom: 105px;
    }
}

@media (max-width: 480px) {
    .tab__holder {
        margin-bottom: 90px;
    }
}

#tab-1, #tab-2, #tab-3 {
    margin: 0px;
}

@media (max-width: 480px) {
    .tab-box {
        font-size: 16px;
    }
}

.sw-ex {
    position: absolute;
    top: -10px;
    right: 30px;
}

@media (max-width: 768px) {
    .sw-ex {
        top: 8px;
        right: 35px;
        z-index: 20;
    }
}

.sw-ex-text {
    padding-right: 50px;
}

@media (max-width: 544px) {
    .sw-ex-text {
        padding-right: 0px;
    }
}

@media (max-width: 375px) {
    .sw-ex-text {
        font-size: 15px;
    }
}

/* -----magio-go-navigation----- */
#magio-go-navigation .tab {
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    padding: 90px 100px;
}

#magio-go-navigation .tab-menu {
    color: #696969;
    display: block;
    height: 23px;
    margin-top: -20px;
}

#magio-go-navigation .tab__holder {
    margin-bottom: 30px;
}

#magio-go-navigation #tab-1, #magio-go-navigation #tab-2, #magio-go-navigation #tab-3 {
    margin: 0px;
}

#magio-go-navigation li {
    width: auto !important;
    text-align: center;
    vertical-align: middle;
    border: none;
}

#magio-go-navigation .variant {
    max-width: 220px;
    min-width: 220px;
}

#magio-go-navigation a {
    padding: 0px;
}

#magio-go-navigation .tab-separator {
    position: relative;
    border-bottom: #ebebeb 1px solid;
    top: 26px;
    margin: 0 auto;
    max-width: 440px;
}

#magio-go-navigation .trian {
    display: none;
}

#magio-go-navigation .step-ico-active {
    display: none;
}

#magio-go-navigation .current b {
    color: #666 !important;
}

#magio-go-navigation .current .trian {
    display: block;
    margin: 9px auto;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
    border-bottom: solid 35px #fff;
    filter: drop-shadow(0 -35px 30px rgba(0, 0, 0, 0.1));
    height: 0;
    width: 0;
}

#magio-go-navigation .current .step-ico-active {
    display: inline-block !important;
}

#magio-go-navigation .current .step-ico {
    display: none !important;
}

#magio-go-navigation .call-action-2 {
    margin: 60px 0;
}

#magio-go-navigation .btn {
    padding: 10px 60px 10px 60px;
}

@media (max-width: 768px) {
    #magio-go-navigation .tab {
        padding: 60px 60px;
    }
    #magio-go-navigation .tab__holder {
        margin-bottom: 60px;
    }
    #magio-go-navigation b {
        display: none;
    }
    #magio-go-navigation .tab-separator {
        min-width: 200px;
        max-width: 200px;
    }
    #magio-go-navigation .variant {
        min-width: 100px;
        max-width: 100px;
    }
    #magio-go-navigation .current .trian {
        margin: 9px auto;
        border-left: solid 28px transparent;
        border-right: solid 28px transparent;
        border-bottom: solid 28px #fff;
    }
}

@media (max-width: 520px) {
    #magio-go-navigation .tabs-menu {
        width: unset !important;
    }
    #magio-go-navigation .tabs-menu li a {
        display: inline-block;
    }
    #magio-go-navigation .current .trian {
        margin: 19px auto;
    }
}

@media (max-width: 480px) {
    #magio-go-navigation .variant {
        min-width: 90px;
        max-width: 90px;
    }
    #magio-go-navigation .tab {
        padding: 25px 25px;
    }
    #magio-go-navigation .tab-box {
        font-size: 16px;
    }
    #magio-go-navigation .tab__holder {
        margin-bottom: 100px;
    }
    #magio-go-navigation .current .trian {
        margin: 10px auto;
    }
}