/* ===============
   CSS FOR MICROSITE
   =============== */

/* GLOBALS */

#magio-go-navigation {
    display: none;
}

.portlet-body .journal-content-article .magio-go h2 {
    color: #ffffff !important;
    text-align: center;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 0 0;

    position: relative;
}

#content div.radio span.checked:before {
    background-color: #e20074;
}

#content .magio-go a {
    font-size: 18px;
    cursor: pointer;
}

div.radio span:before {
    background-color: #252525;
}

div.radio input[type="radio"] {
    background: none repeat scroll 0 0 rgba(63, 63, 63, 100);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

/* MAIN BACKGROUND */

#main-page {
    background: url(../img/hero-dvojica.png);
    //position: absolute;
    width: 100%;
    height: 100%;
    min-height: 760px;
    font-size: 18px;

    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    a {
        font-size: 18px;
    }

}

#sec-1, #sms-page-sms {
    .btn_outline, #content .btn_outline:hover {
        background-color: #262626;
        border: 1px solid #a4a4a4;
        color: #ebebeb;
    }
}

#sec-1 {

    padding-top: 170px;

    h2 {
        margin-bottom: 30px;
    }

    .btn-voucher {
        padding-top: 15px;
    }

    .question {
        padding-top: 30px;
        color: #6c6c6c;

        a {
            color: #00a0de;
        }
    }

    .trial {
        padding-top: 5px;
    }

    .faq {
        padding-top: 80px;

        a {
            color: #ffffff;
        }
    }

}

.justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
}


/*
* ======================================================
*
* SMS PAGE 1
*
* ======================================================
*/


#trial-page-1,
#trial-page-2,
#trial-page-code,
#trial-page-error,
#trial-page-success,
#success-page,
#faq-page,
#voucher-page-1,
#voucher-page-2,
#voucher-page-3,
#voucher-page-4,
#account-page-1,
#account-page-2,
#account-page-3,
#sms-page-1,
#sms-page-2,
#sms-page-info,
#sms-page-info-standard,
#sms-page-info-premium,
#sms-page-info-archive,
#sms-page-sms {

    display: none;

    //position: absolute;
    width: 100%;
    height: 100%;
    background-color: #11151e;
    min-height: 760px;

    margin-bottom: 0;
    padding-bottom: 50px;

    .magio-box {
        width: 360px;

        .magio-desc {
            color: #7c7c7c;
            font-size: 18px;
        }
    }
}

.icon-close {
    margin-top: 20px;
    width: 25px;
    height: auto;

    cursor: pointer;
}

#success-page {
    .success-image {
        margin-top: 120px;
    }
}

#voucher-used-error {
    display: none;
}

#account-page-1 {
    .form-controls {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#voucher-page-2 {
    .info-error {
        text-align: center;
        margin-bottom: 30px;
    }
}

#content .btn.error-box {
    width: 320px;
    padding: 20px;
    background-color: #6c060d;
    color: #ffffff;
    border: none;
    font-size: 18px;
    text-align: center;
    vertical-align: center;
}

#msisdn-error, #msisdn-code-error, #voucher-code-error, #agree-error {
    margin-bottom: 10px;
    color: #D90000;
    display: none
}

#agree-error {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    padding-left: 10px;
}

#agree-box {

    margin-top: 20px;

    .agree-left {
        margin-top: 10px;
    }

    .agree-right {
        text-align: left;
        margin-left:20px;
    }
}

#trial-page-success, #trial-page-error {
    .box-title {
        margin-bottom: 30px;
    }

    .box-desc {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .success-desc {
        text-align: center;
        font-size: 18px;
    }

    .success-header {
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        color: #ffffff;
    }

}

.magio-go {

    font-size: 18px;
    color: #a4a4a4;

    .input {
        color: #000;
    }

    .success-header {
        text-align: center;
        font-size: 24px;
        color: #ffffff;
    }

    .success-desc {
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
    }

    .voucher-success-image {
        margin-top: 20px;
    }

    .form-controls input {
        margin-bottom: 15px;
    }

    .form-controls input.msisdn {
        margin-bottom: 5px;
    }

    .msisdn-desc {
        font-size: 15px;
        color: #a4a4a4;
    }

    .marketing-checkbox {
        margin-top: 15px;

        .suhlas {
            padding-left: 20px;
        }
    }

    .btn {
        text-align: center !important;
        text-transform: none !important;
    }

    .btn-big {
        font-size: 20px !important;
        width: 310px;
        height: 54px;
        padding-top: 15px !important;
    }

    .magio-name {
        font-size: 20px;
        color: #ffffff;
    }

    .magio-desc {
        font-size: 18px;
        color: #7c7c7c;
    }

    .magio-box-top-bottom {
        border-top: 1px #6c6c6c solid;
        border-bottom: 1px #6c6c6c solid;

        padding-top: 20px;
        padding-bottom: 20px;
    }

    .steps {
        color: #a4a4a4;
        font-size: 18px;
        margin-top: 30px;

        .note {
            margin-top: 20px;
            font-size: 15px;
        }

        .row {
            margin-bottom: 20px;
        }
    }

    .float-right {
        text-align: right;
    }

    .order {
        margin-top: 30px;
    }

    .link {
        text-decoration: none;
        cursor: pointer;
    }

    .link:hover {
        text-decoration: none;
    }

    .box-title-sms {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .header, .header-small, .header-small-black {
        //height: 135px;
        height: 80px;
        background-color: #000000;

        .back {
            margin-top: 30px;
            cursor: pointer;

            img {
                vertical-align: top;
            }

            .back-text {
                color: #ffffff;
                font-size: 20px;
                display: inline;
                padding-left: 10px;
            }
        }
    }

    .header-small-black {
        background-color: transparent;
    }

    .header-small {
        height: 80px;
    }

    .content {
        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
    }

    .sms-choice {
        .left, .right {
            border-top: 1px #6c6c6c solid;
            border-bottom: 1px #6c6c6c solid;

            padding-top: 20px;
            padding-bottom: 20px;

            width: 360px !important;
        }

        .left {
            margin-right: 30px;
        }

        .right {
            margin-left: 30px;
        }

    }

    .button-price {
        font-size: 20px;
    }

    .button-date {
        font-size: 16px;
    }

    .notice {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        font-size: 15px;
        color: #a4a4a4;

        .second {
            margin-top: 10px;
        }
    }

    .ok-green {
        margin-left: 10px;
    }

}

/*
*
*   Global
*
*/

.voucher-desc {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

.btn-order-box {
    text-align: center;
    padding-top: 20px;
}

.box-title {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-desc {
    margin-bottom: 10px;
}

#sms-page-1 {
    .btn-order-box {
        text-align: center;
        padding-top: 50px;
    }

}

#sms-page-2 {
    .btn-order-box {
        text-align: center;
        padding-top: 10px;
    }

    .box-title {
        margin-bottom: 20px;
    }

}


#sec-2 {
    display: none;
}

#sec-3 {
    display: none;
}

.magioLine {
    border-bottom: 1px solid #a4a4a4;
    //margin: 0 auto;
    //width: 510px;
}

#sms-page-info, #sms-page-sms {
    text-align: center;

    .magioInfoLine {
        width: 50%;
        border-bottom: 1px solid #a4a4a4;
    }

    .terms {
        margin-top: 60px;
        font-size: 21px;
        color: #fff;
    }

    .termsLink {
        margin-top: 10px;
    }

    .btn-order-box {
        margin-top: 20px;
    }

    .btn-voucher {
        margin-top: 20px;
    }

}

#sms-page-info {
    .btn-order-box {
        margin-top: 20px;
    }
}


#sms-page-info-premium, #sms-page-info-standard, #sms-page-info-archive {
    .info-desc {
        padding-top: 10px;
    }

    .stanice {
        margin-top: 20px;
        text-align: center;
    }

    .stanice img {
        padding: 5px 45px 5px 45px;
        margin: 5px 10px 5px 10px;
        background-color: #fff;
        border-radius: 4px;
        text-align: center;
    }

}

#trial-page-1 {

    .sec__title {
        padding-top: 30px;
    }

    .magioInfoLogo {
        margin-top: 40px;
    }

    .trial-desc {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .trial-desc-small {
        margin-top: 30px;
        font-size: 15px;
        text-align: center;
    }

    .box-title {
        margin-bottom: 20px;
    }

}

#sms-page-info {

    .magioInfoLogo {
        margin-top: 20px;
    }

    .magioInfoNameHeader {
        margin-top: 20px;
    }

    .magioInfoNameHeader2 {
        margin-top: 40px;
    }

    .magioInfoNumberBox {
        margin-top: 20px;
    }

    .magioInfoDescList {
        margin-top: 20px;
    }

    .magioInfoPriceBox {

    }

    .magioInfoDescBox {
        width: 50%;
        margin-top: 20px;
    }

    .info-3-box {
        font-size: 16px;
        margin-top: 50px;

        .desc {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .desc-line {
            border-bottom: 1px solid #a4a4a4;
            margin: 0 auto;
            width: 135px;
        }

    }
}


/*
* ======================================================
*
* MEDIA QUERY
*
* ======================================================
*/

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {

    #sms-page-info .info-3-box.first {
        margin-top: 10px;
    }

    #sms-page-info .info-3-box.second {
        margin-top: 0;
    }

    #sms-page-info .info-3-box .desc {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}

@media screen and (max-width: 816px) {
    .magio-go .sms-choice .left {
        margin-left: 10px;
        margin-right: 10px;
    }

    .magio-go .sms-choice .right {
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media screen and (max-width: 768px) {
    .magio-go .sms-choice .right {
        border-top: none;
    }

    .box-title {
        margin-top: 0;
    }

    #sms-page-info .magioInfoDescBox {
        width: 100%;
    }

}

@media screen and (max-width: 640px) {
    .magioLine {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    #sms-page-info, #sms-page-sms {
        .magioInfoLine {
            width: 90%;
        }
    }

    .magio-go .sms-choice .left {
        margin-left: 5px;
        margin-right: 5px;
    }

    .magio-go .sms-choice .right {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 480px) {
    .magio-name {
        .ok-green {
            display: none;
        }
    }

    #main-page {
        background-color: #000;
        background-position: top;
        background-size: 480px auto;
    }

}


#sms-page-info_standard {
    //opacity:0;

    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#content div.radio span.checked:before {
    background-color: #6bb324!important;
}

.tabs-menu .current a {
    color: #fff;
}

.tabs-menu .current a:hover {
    color: #fff;
}

.tabs-menu li.current {
    border-bottom: 1px solid #dbdbdb;
    border-bottom: 4px solid #fff;
}

.tabs-menu li a:hover {
    color: #fff;
}

#faq-page {

    .tab-content {
        color: #fff;
    }
}

#tab-4.tab-content {
    display: block;
}

.tab-content {
    margin-top: 0;
}

.tab__holder {
 margin-bottom: 20px;
}

.tab {
    padding: 0!important;
    width: auto;

    ol, ul, dl {
        margin: 0!important;
    }

    ol {
        list-style: none;
        //counter-reset: my-awesome-counter;
    }
    ol li {
        //counter-increment: my-awesome-counter;
    }

    ol li::before {
        //content: counter(my-awesome-counter) ". ";
        font-weight: bold;
    }

    p, ul {
        color: #e2e2e2!important;
    }


}