<section class="section" id="sec-9">
  <div class="fixed-column">
    <div class="row vyhody-row">
      <div class="vyhody">Extra online zľava</div>
      <div class="vyhody">Nákup z bezpečia domova</div>
      <div class="vyhody">14 dní bez záväzkov</div>
    </div>

    <div class="row">
      <h2 class="section__title">AKTUÁLNE AKCIE</h2>
    </div>

    <div class="row">
      <div class="tabs-container">
        <div class="tab__holder">
          <!-- TABS MENU -->
          <ul class="tabs tabs-menu">
            <li class="variant current" data-variant="1">
              <a href="#tab-1a">Súťaž</a>
            </li>

            <li class="variant" data-variant="2">
              <a href="#tab-2a">Ostatné zariadenia</a>
            </li>
          </ul>
        </div>

        <div class="tab">
          <!-- Tab 1 -->
          <div
            class="tab-content clearfix akcia-1"
            id="tab-1a"
            style="display: block; background-color: #f6f6f6;"
          >
            <div class="header-holder">
              <img
                src="../assets/img/LP_sutaz_macbook.png"
                alt=""
                class="header-img"
              />
            </div>

            <div class="flex-row">
              <div class="text-cont flex-col flex-left">
                <div>
                  <p class="box-title">
                    Zapojte sa do súťaže o&nbsp;MacBook Air&nbsp;2020
                    k&nbsp;Magio internetu a/alebo Magio televízii
                  </p>
                  Kúpte si nový Magio internet a/alebo Magio televíziu
                  a&nbsp;zapojte sa do súťaže o&nbsp;<b>
                    notebook APPLE MacBook AIR&nbsp;2020</b
                  >.
                  <br />
                  <br />
                  <b>
                    Do súťaže ste zaradení automaticky, pri každej novej
                    aktivácii Magio internetu a/alebo Magio Televízie
                    prostredníctvom našich stránok.
                  </b>
                  Súťaž sa uskutoční v&nbsp;termíne
                  <b> 1.2.2021&nbsp;-&nbsp;30.4.2021</b>. Navyše
                  <b>
                    získate zľavu na naše služby až do 30&nbsp;€ pri nákupe cez
                    web</b
                  >.

                  <div class="btn-holder">
                    <a
                      class="btn magenta"
                      href="/fix/objednavka/-/scenario/e-shop/chytry-balik#sutazins"
                      >Chcem súťažiť</a
                    >
                  </div>

                  <a
                    style="
                      display: block;
                      text-decoration: underline;
                      color: #343434;
                      margin-top: 15px;
                    "
                    href="/documents/10179/18557263/Statut_propagacnej_a_reklamnej_sutaze-MacBook.pdf"
                    >Štatút súťaže</a
                  >
                </div>
              </div>

              <div class="img-cont flex-col flex-right"></div>
            </div>
          </div>

          <!-- Tab 2 -->

          <div class="tab-content clearfix" id="tab-2a" style="display: none;">
            <div class="tab-box">
              <div class="tab-box__content">
                <!-- 0 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                   <p>Limitovaná ponuka</p>
                  </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />
                  <img src="../assets/img/ec2.png" alt="" class="ec2" />
                  <div class="mainImg">
                    <img src="../assets/img/fix-lenovo-ip-3.jpg" alt="" />
                  </div>
                  <a href="/lenovo-ideapad-3-022021" class="name"
                    ><b>Lenovo IdeaPad 3</b></a
                  ><br />
                  <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl">Magio službou L</span>
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">8,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>179,00</span> €</p>
                        <!-- <p class="oneTimeStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/lenovo-ideapad-3-022021" class="link">Viac info</a>
                </div>
                <!-- 1 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                                                  <p>Limitovaná ponuka</p>
                                              </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />
                  <img src="../assets/img/ec2.png" alt="" class="ec2" />
                  <div class="mainImg">
                    <img src="../assets/img/xbox-series-s.png" alt="" />
                  </div>
                  <a href="/xbox-series-s" class="name"
                    ><b>Herná konzola Xbox Series S</b></a
                  ><br />
                  <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl">Magio službou L</span>
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">6,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>129,00</span> €</p>
                        <!-- <p class="oneTimeStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/xbox-series-s" class="link">Viac info</a>
                </div>
                <!-- 2 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                  </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />
                  <img src="../assets/img/ec2.png" alt="" class="ec2" />
                  <div class="mainImg">
                    <img
                      src="../assets/img/microbit-starter-kit.png"
                      alt="microbit"
                    />
                  </div>
                  <a href="/microbit-starter-kit" class="name"
                    ><b>Micro:bit starter Kit</b></a
                  ><br />
                  <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl">Magio službou L</span>
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">1,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>1,00</span> €</p>
                        <!-- <p class="oneTimeStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/microbit-starter-kit" class="link">Viac info</a>
                </div>
                <!-- 3 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                  </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />
                  <img src="../assets/img/ec2.png" alt="" class="ec2" />
                  <div class="mainImg">
                    <img
                      src="../assets/img/lenovo-tab-m10hd.png"
                      alt="microbit"
                    />
                  </div>
                  <a href="/lenovo-tab-m10hd-2nd-gen" class="name"
                    ><b>LENOVO TAB M10HD (2nd GEN)</b></a
                  ><br />
                  <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl">Magio službou L</span>
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">4,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>59,00</span> €</p>
                        <!-- <p class="oneTimeStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/lenovo-tab-m10hd-2nd-gen" class="link">Viac info</a>
                </div>
                <!-- 4 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                  </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />
                  <img src="../assets/img/ec2.png" alt="" class="ec2" />
                  <div class="mainImg">
                    <img src="../assets/img/tv-phillips.jpg" alt="tv-philips" />
                  </div>
                  <a href="/tv-philips-65pus8505-12-fix2" class="name"
                    ><b>Philips 65PUS8505/12</b></a
                  ><br />
                  <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl">Magio službou L</span>
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">17,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>239,00</span> €</p>
                        <!-- <p class="oneTimeStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/tv-philips-65pus8505-12-fix2" class="link"
                    >Viac info</a
                  >
                </div>
                <!-- 5 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                                      <p>Limitovaná ponuka</p>
                                    </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />
                  <img src="../assets/img/ec2.png" alt="" class="ec2" />
                  <div class="mainImg">
                    <img
                      src="../assets/img/sluchadla-huawei.jpg"
                      alt="Freebuds 3i"
                    />
                  </div>
                  <a href="/huawei-freebuds-3i-fix" class="name"
                    ><b>Huawei Freebuds 3i</b></a
                  ><br />
                  <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl">Magio službou L</span>
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">2,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>19,00</span> €</p>
                        <!-- <p class="oneTimeStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/huawei-freebuds-3i-fix" class="link">Viac info</a>
                </div>
                <!-- 6 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                                    <p>Limitovaná ponuka</p>
                                  </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />
                  <img src="../assets/img/ec2.png" alt="" class="ec2" />
                  <div class="mainImg">
                    <img
                      src="../assets/img/microbit-smrt-kit.png"
                      alt="Freebuds 3i"
                    />
                  </div>
                  <a href="/micro-bit-smart-kit-fix" class="name"
                    ><b>Micro:bit smart Kit</b></a
                  ><br />
                  <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl">Magio službou L</span>
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">2,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>29,00</span> €</p>
                        <!-- <p class="oneTimeStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/micro-bit-smart-kit-fix" class="link">Viac info</a>
                </div>
                <!-- 7 -->
                <div class="element-item aktualne-akcie">
                  <!-- <div class="limitedOffer">
                      <p>Limitovaná ponuka</p>
                    </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />

                  <div class="mainImg">
                    <img src="../assets/img/powerline_wifi-small.png" alt="" />
                  </div>
                  <a href="/powerline-devolo-wifi-dlan-550" class="name"
                    ><b>Powerline Wi-Fi Extender<br />Devolo dLAN® 550</b></a
                  >
                  <div class="prices" style="margin-bottom: 35px;">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl"
                          >akoukoľvek Magio službou</span
                        >
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">0,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>29,00</span> €</p>
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left" style="width: 75%;">
                        <p style="color: #abaaaa; font-size: 14px;">
                          Akontácia bez Magio služieb
                        </p>
                      </div>
                      <div class="col-xs-8 pad0 text-right" style="width: 25%;">
                        <p style="color: #abaaaa; font-size: 14px;">
                          63,00 €
                        </p>
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/powerline-devolo-wifi-dlan-550" class="link"
                    >Viac info</a
                  >
                </div>
                <!-- 8 -->
                <div class="element-item aktualne-akcie soldOut">
                  <!-- <div class="limitedOffer">
                          <p>Limitovaná ponuka</p>
                        </div> -->
                  <img src="../assets/img/ec1.png" alt="" class="ec1" />

                  <div class="mainImg">
                    <img
                      src="../assets/img/glitel-gp-7420.jpg"
                      alt="glitel-gp-7420"
                    />
                  </div>
                  <a href="/powerline-devolo-wifi-dlan-550" class="name"
                    ><b>Powerline Extender<br />Glitel GP-7420</b></a
                  >
                  <div class="prices" style="margin-bottom: 35px;">
                    <div class="col-xs-12 prices-hdl pad0">
                      <p>
                        Ceny s
                        <span class="prices-rtpl"
                          >akoukoľvek Magio službou</span
                        >
                      </p>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Mesačne</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="monthlyWeb">
                          <b><span class="pricenum">0,00</span> €</b>
                        </p>
                        <!-- <p class="monthlyStore">v predajni <span>0,00</span> €</p> -->
                      </div>
                    </div>
                    <div class="prices-row pad0">
                      <div class="col-xs-4 pad0 text-left">
                        <p class="hdl">Akontácia</p>
                      </div>
                      <div class="col-xs-8 pad0 text-right">
                        <p class="oneTimeWeb"><span>14,90</span> €</p>
                      </div>
                    </div>
                  </div>
                  <a
                    href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                    class="btn cta"
                    >KÚPIŤ</a
                  >
                  <a href="/glitel-gp-7420" class="link">Viac info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
