<div class="bg-wrapper">

	<div class="c-row c-row-1 c-heading">
		<div class="c-content">
			<div class="pure-g">
				<div class="pure-u-1 pure-u-sm-1-2">
					<h1><strong>KONČÍ TV MARKÍZA VYSIELANIE?</strong></h1>

					<h3>
						ÁNO, TV MARKÍZA KONČÍ S VYSIELANÍM CEZ ANTÉNU.<br>
						PREJDITE NA MAGIO TELEVÍZIU a sledujte STANICE Markíza, Doma a Dajto aj naďalej <strong>UŽ OD 1 €
						MESAČNE!</strong>
					</h3>

					<div class="order">
						<a href="https://www.telekom.sk/fix/objednavka/-/scenario/e-shop/chytry-balik" class="button button-green btn_no-shadow">CHCEM MAGIO TV</a>
					</div>

					<div class="more-info">
						<a href="https://www.telekom.sk/televizia/magio-televizia" class="blue-link">Viac informácií o Magio televízii</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="c-row c-row-2">
		<div class="c-content">

			<h2>VÝHODY MAGIO TELEVÍZIE</h2>

			<div class="pure-g pure-row-1">
				<div class="pure-u-1 pure-u-md-8-24">
					<div class="blank-box">
						<div class="blank-box-img">
							<img src="../assets/img/magio_dostupnost.png">
						</div>

						<h4>Dostupnosť na celom Slovensku</h4>
						Magio televíziu vám zriadime kdekoľvek cez pevnú sieť alebo satelitnú anténu. Overte si dostupnosť v druhom
						kroku na nasledujúcej stránke:
						<div>
							<a href="https://www.telekom.sk/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť na overenie dostupnosti</a>
						</div>
					</div>
				</div>

				<div class="pure-u-1 pure-u-md-8-24">
					<div class="blank-box">
						<div class="blank-box-img">
							<img src="../assets/img/magio_poplatky.png">
						</div>

						<h4>Žiadne vysoké poplatky za zriadenie</h4>
						Pri zriadení Magio televízie sa vyhnete vysokým vstupným poplatkom. Nainštalovať televíziu zvládnete aj sami
						alebo vám pomôžu naši technici za poplatok 19,99 €.
					</div>
				</div>

				<div class="pure-u-1 pure-u-md-8-24">
					<div class="blank-box">
						<div class="blank-box-img">
							<img src="../assets/img/magio_stanice.png">
						</div>

						<h4>Výnimočné televízne stanice</h4>
						Okrem základných slovenských a českých staníc, môžete navyše získať exkluzívne športové stanice Digi Sport
						alebo detskú Ťuki TV v Slovenčine.
					</div>
				</div>

			</div>

			<div class="pure-g pure-row-2">
				<div class="pure-u-1 pure-u-md-8-24">
					<div class="blank-box">
						<div class="blank-box-img">
							<img src="../assets/img/magio_archiv.png">
						</div>

						<h4>Magio archív a nahrávanie</h4>
						Pozrite si s Magio archívom program vybraných staníc až 7 dní dozadu alebo si program nahrajte či pretočte na
						začiatok. Teraz na prvé 3 mesiace zadarmo a potom len za 1,99 €/mes.
					</div>
				</div>

				<div class="pure-u-1 pure-u-md-8-24">
					<div class="blank-box">
						<div class="blank-box-img">
							<img src="../assets/img/magio_meno.png">
						</div>

						<h4>Prehľadné menu a rýchle ovládanie</h4>
						Magio televízia má napr. prehľadné menu, jednoduché ovládanie, rýchle prepínanie, rodičovský zámok pre ochranu
						detí pred neželaným obsahom a množstvo ďalších moderných funkcií.
					</div>
				</div>

				<div class="pure-u-1 pure-u-md-8-24">
					<div class="blank-box">
						<div class="blank-box-img">
							<img src="../assets/img/magio_zavezky.png">
						</div>

						<h4>Prvých 14 dní bez záväzkov</h4>
						Ak si Magio televíziu kupíte cez web, môžete nám ju ako službu vrátiť bez udania dôvodu až do 14 dní! Navyše
						vám všetko potrebné doručíme zadarmo kuriérom.
					</div>
				</div>

			</div>

		</div>

	</div>


	<div class="c-row c-row-3">
		<div class="c-content">

			<h2>SLUŽBY A CENY MAGIO TELEVÍZIE</h2>

			<div class="pure-g">

				<div class="pure-u-1 pure-u-md-8-24">
					<div class="white-box-main">
						<div class="white-box">

							<div class="box-top">
								<h3>MAGIO TELEVÍZIA M</h3>
							</div>

							<div class="box-middle">
								<div class="stanice">61 TV STANÍC</div>

								<div class="balik">
									1 x základný<br>
									3 x programový balík podľa výberu
								</div>
							</div>

							<div class="box-bottom">
								<div class="box-price">len 1 € / mesačne</div>
								<div class="box-vyhoda">ak si vezmete alebo máte aj<br>Magio internet XL a Pevnú&nbsp;linku&nbsp;XL</div>
								<div class="box-solo">Cena samostatnej Magio televízie M je 10 € mesačne</div>
							</div>

						</div>
					</div>
				</div>

				<div class="pure-u-1 pure-u-md-8-24">
					<div class="white-box-main">
						<div class="white-box">

							<div class="box-top">
								<h3>MAGIO TELEVÍZIA L</h3>
							</div>

							<div class="box-middle">
								<div class="stanice">88 TV STANÍC</div>

								<div class="balik">
									1 x základný<br>
									6 x programový balík podľa výberu<br>
									1 x Extra balík L<br>
									Exkluzívna detská Ťuki TV
								</div>
							</div>

							<div class="box-bottom">
								<div class="box-price">len 3 € / mesačne</div>
								<div class="box-vyhoda">ak si vezmete alebo máte aj<br>Magio internet XL a Pevnú&nbsp;linku&nbsp;XL</div>
								<div class="box-solo">Cena samostatnej Magio televízie L je 15 € mesačne</div>
							</div>

						</div>
					</div>
				</div>

				<div class="pure-u-1 pure-u-md-8-24">
					<div class="white-box-main white-box-main-last">
						<div class="white-box">

							<div class="box-top">
								<h3>MAGIO TELEVÍZIA XL</h3>
							</div>

							<div class="box-middle">
								<div class="stanice">113 TV STANÍC</div>

								<div class="balik">
									1 x základný<br>
									6 x programový balík podľa výberu<br>
									1 x Extra balík L<br>
									1 x Extra balík XL<br>
									Exkluzívna detská Ťuki TV
								</div>
							</div>

							<div class="box-bottom">
								<div class="box-price">len 6 € / mesačne</div>
								<div class="box-vyhoda">ak si vezmete alebo máte aj<br>Magio internet XL a Pevnú&nbsp;linku&nbsp;XL</div>
								<div class="box-solo">Cena samostatnej Magio televízie XL je 20 € mesačne</div>
							</div>

						</div>
					</div>
				</div>

			</div>

			<div class="pure-g">
				<div class="pure-u-1">
					<div class="order">
						<a href="https://www.telekom.sk/fix/objednavka/-/scenario/e-shop/chytry-balik" class="button button-green btn_no-shadow">CHCEM MAGIO TV</a>
					</div>

					<div class="more-info">
						<a href="https://www.telekom.sk/televizia/magio-televizia" class="blue-link">Viac informácií o Magio televízii</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>