<section id="hero">
    <div class="container-fixed">
        <div class="col-md-12 ">
            <div class="logo__left col-md-3">
                <img src="../assets/img/logo_samsung-galaxy-w.png" alt="">
            </div>
            <div class="logo__right col-md-4 push-md-5">
                <img src="../assets/img/logo-s8.png" alt="">
            </div>
        </div>
        <div class="col-md-12">
            <div class="ec_wrap">
                <img src="../assets/img/ec-happy.png" alt="" class="ec-ico ec-happy">
                <img src="../assets/img/ec-zlava.png" alt="" class="ec-ico ec-zlava">
            </div>
        </div>
        <div class="col-md-12">
            <h1 class="hero__title"><span class="title-left">Telefón</span> <span class="title-middle">bez</span> <span class="title-right">hraníc</span></h1>
        </div>
    </div>
</section>
<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="col-md-12 text-center">
            <div class="cta__wrap">
                <a href="/predpredaj/samsung-galaxy-s8/mam-zaujem" class="btn cta">nezáväzne rezervovať</a>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="desc__wrap">
                <h3 class="section__title">Samsung Galaxy S8 prichádza!</h3>
                <p class="section__desc">
                    Objavte telefón bez hraníc až o 8 dní skôr ako ostatní.
                    <br> Platí pre objednávky od 29. 3., 18:00 do 19. 4. 2017
                </p>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <div class="features__wrap">
                <div class="feature col-md-2  offset-md-1">
                    <div class="feature__img">
                        <img src="../assets/img/ico-display.png" alt="">
                    </div>
                    <p class="feature__title">
                        DISPLEJ</p>
                    <p class="feature__desc">
                        5,8’’ Super
                        <br> AMOLED Infinity displej
                    </p>
                </div>
                <div class="col-md-2 ">
                    <img src="../assets/img/ico-camera.png" alt="">
                    <p class="feature__title">
                        FOTOAPARÁT</p>
                    <p class="feature__desc">
                        Zdokonalený selfie fotoaparát s automatickým zaostrovaním
                    </p>
                </div>
                <div class="col-md-2 ">
                    <img src="../assets/img/ico-watter.png" alt="">
                    <p class="feature__title">
                        ODOLNOSŤ</p>
                    <p class="feature__desc">
                        Vode a prachu odolný (IP68)
                    </p>
                </div>
                <div class="col-md-2 ">
                    <img src="../assets/img/ico-power.png" alt="">
                    <p class="feature__title">
                        NABÍJANIE</p>
                    <p class="feature__desc">
                        Rýchle bezdrôtové nabíjanie USB typu C
                    </p>
                </div>
                <div class="col-md-2 ">
                    <img src="../assets/img/ico-data.png" alt="">
                    <p class="feature__title">
                        ÚLOŽISKO</p>
                    <p class="feature__desc">
                        64 GB interná pamäť
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
