/* ===============
   CSS FOR MICROSITE
   =============== */

#content .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @media screen and (max-width: 767px) {
      display: table-row;
  }
}

.bg-grey {
  background-color: #ededed;
}
.bg-lightgrey {
  background-color: #f4f4f4;
}
.bg-softgrey {
  background-color: #f9f9f9;
}
.bg-magenta {
  background-color: $magenta;
}

#sec-1 {
    padding: 110px;
    @media screen and (max-width: 767px) {
        padding: 7%;
    }
    .infocol {
        padding: 5% 5%;
        h1 {
            color: #000;
            font-weight: bold;
        }
        p {
            max-width: 70%;
        }
        .stepper {
            position: relative;
            max-width: 85%;
            .line {
                background: #dcdcdc;
                height: 1px;
                width: 100%;
                top: 20px;
                position: absolute;
                z-index: 0;
            }
            .done-icon {
                float: left;
                z-index: 1;
                position: relative;
            }
            .deliveryhome-icon, .phone-icon {
                float: right;
                margin-left: 10px;
                z-index: 1;
                position: relative;
            }
        }
        .btnback {
            margin-top: 70px;
        }
    }
    .emptycol {
        @media screen and (max-width: 767px) {
            height: 70px;
        }
    }
    .donecol {
        padding: 70px 0;
        text-align: center;
        @media screen and (max-width: 767px) {
            height: 140px;
            padding: 20px;
        }
        img {
            max-width: 80%;
        }
    }
}

@media screen and (max-width: 940px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
