/* =============== GLOBAL CONFIG  =============== */
/* ===============
CSS FOR MICROSITE
=============== */
/* GLOBALS */
#content .sec__title {
  text-align: center;
  text-transform: uppercase; }

#content .sec__desc {
  text-align: center;
  margin-top: 0; }

/* HERO SECTION */
#hero {
  background: url('../img/detail1.jpg') no-repeat 50% 50%;
  padding: 48px 2%;
  overflow: hidden;
  background-size: cover;
  max-height: 254px; }

#hero .container-fixed {
  position: relative; }

.hero__content {
  text-align: center;
  max-width: 460px;
  position: relative; }

#content #hero .link {
  text-decoration: none; }

#content .hero__title b {
  font-weight: 900; }

.ec-header {
  position: absolute;
  top: -36px;
  right: -202px; }

.logo-header {
  position: absolute;
  right: 0;
  top: -48px; }

#content .hero__title, #content .hero__desc {
  color: #262626; }

@media screen and (max-width: 958px) {
  .logo-header {
    right: -25px; } }

@media screen and (max-width: 560px) {
  .logo-header {
    display: none; } }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0;
    max-height: inherit; }
  .hero__mobile {
    background: url(/documents/10179/12868973/kv.jpg) no-repeat 59% 50%;
    height: 195px; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__content {
    padding: 40px 4%; }
  .ec-header {
    top: -81px;
    right: 0px; }
  #hero .btn {
    margin-top: 60px; } }

/* SEC - 1 */
.sec-1 .container-fixed {
  padding-top: 30px; }

#content .sec-1 .sec__title {
  margin-bottom: 0; }

  /* TABS */
  #content .tabs-container ul { list-style: none; }
  #content .tabs-container .tab-link { cursor: pointer; }

  .segment .tab__holder {
    text-align: left;
    border-bottom: 0.6px solid #d0d0d0;
  }

  #content .tabs-menu { 
    height: 65px; 
    clear: both; 
    margin: 0; 
    display: inline-block; 
      @media screen and (max-width: 520px) { 
        height: 150px;
    }
  
  }

  #content .tabs-menu li { 
    line-height: 61px; 
    float: left; 
  }

  #content .tabs-menu li a { 
    font-size: 16px; 
    color: #757575; 
    text-decoration: none; 
    display: inline-block; 
    padding: 0px!important;
  }

  .tabs-menu li.current{ 
    border: none!important;
  }

  .tabs-menu li:hover { 
    border: none!important;
  }

  #content .tabs-menu li { 
    padding-left: 40px!important;
  }

  #content .tabs-menu a:hover { 
    color: #383838; 
    border: none;
  }

  .tabs-menu .current a{ 
    color: #6bb324!important; 
    border-bottom: 3px solid #6bb324!important; 
  }

  .tab { 
    border-top: 1px solid #dbdbdb; 
    width: 100%; 
  }

  .segment .tab {
    border: none;
  }

  .tab__variant { display: none; }

  .tab__variant.selected { display: block; }

  .tab-content { margin-top: 45px; display: none; }

  .segment .tab-content {
    //padding-top: 10px;
    margin-top: 0;

  }

  #tab-1 { display: block; }
  
  .table-holder {
    & td {
      width: 50%;
      @media screen and (max-width: 600px) {
        text-align: left;
      }
    }
  }

  @media screen and (max-width: 520px) { 
    .tabs-menu li, .tabs-menu li.current{
      border-top: 0;
      border-right: 0;
      border-left: 0;
      border-bottom: 0.6px 0solid #d0d0d0!important; 
    }
    .segment .tab__holder{
      border-bottom:0!important;
    }

    #content .tabs-menu li{
      line-height: 40px!important; 
      padding-left: 20px!important;
      border-bottom: 0.6px solid #d0d0d0!important;
    }
    .tabs-menu .current a{ 
      border: 0!important;
    }
}
  


  /* TABS END */



.box__holder {
  display: inline-block; }

.box__holder .box-device:last-of-type {
  margin-left: 5px; }

#content .box-device {
  max-width: 253px;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  float: left; }

#content .box-device:hover {
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer; }

#content .box-device:hover .device__name, #content .box-device:hover .device__params {
  text-decoration: underline; }

#content .box-device .device__name {
  font-weight: bold; }

#content .box-device .img__holder {
  position: relative; }

#content .box-device .img__ec {
  position: absolute;
  top: 20px;
  right: 16px; }

#content .box-device .device__params {
  margin: 0;
  font-size: 16px; }

#content .box-device .pricing__title {
  text-align: left;
  font-weight: bold;
  //border-bottom: 1px solid #d0d0d0;
}

#content .box-device .pricing-table {
  font-size: 16px;
  text-align: left;
  width: 100%; 
  
}

#content .box-device .pricing-table td {
  padding: 0;
  line-height: 100%; 
  }
#content .box-device .pricing-table tr td:first-child {
  width: 130px;
  vertical-align: top;
  color: #a4a4a4;
  @media screen and (max-width: 526px) {
    width: 90px;
  }


}

#content .box-device .pricing-table td {
padding-bottom: 10px!important;
}


#content .box-device .pricing-table .inner-head {
  font-weight: bold;
}


#content .device-1 .device__name {
  padding: 10px 0 12px 0; }

.info-box__holder {
  text-align: center; }

.info-box {
  background-color: #fff6d5;
  padding: 1px 8px;
  display: inline-block; }

#content .info {
  color: #e20074;
  padding-left: 30px;
  text-align: left;
  background: url("/documents/10179/12868973/ico-info.png") no-repeat center left; }

#content .bottom-button-holder {
  text-align: center;
  max-width: 297px;
  margin: 10px auto 0 auto; }

#content .bottom-button-holder .btn {
  width: 100%;
  padding: 8px 0; }

#content .bottom-button-holder .btn:last-of-type {
  margin-top: 10px; }

@media screen and (max-width: 526px) {
  #content .box-device {
    float: none; }
  #content .device-1 {
    margin-bottom: 20px; } 
}


/* SEC - 2 */
.sec-2 {
  margin-bottom: 40px; }

.sec-2 .container-fixed {
  border-top: 1px solid #d0d0d0;
  padding-top: 30px;
  margin-top: 20px; }

.item {
  text-align: center; }

#content .item p {
  margin: 0; }

#content .left-text {
  text-align: left;
  font-size: 16px;
  display: inline-block;
  margin: 0 auto; }

.sec-2 .col-md-4:nth-of-type(2) {
  position: relative; }

.sec-2 .col-md-4:nth-of-type(2):before, .sec-2 .col-md-4:nth-of-type(2):after {
  background: url("/documents/10179/12868973/ico-arrow-right.jpg") no-repeat;
  width: 54px;
  height: 41px;
  position: absolute;
  content: '';
  top: 10px;
  left: -22px; }

.sec-2 .col-md-4:nth-of-type(2):after {
  left: auto;
  right: -22px; }

@media screen and (max-width: 768px) {
  .item .col-md-4:nth-of-type(2) {
    margin: 20px 0; }
  .sec-2 .col-md-4:nth-of-type(2):before, .sec-2 .col-md-4:nth-of-type(2):after {
    display: none; } }

/* SEC - PROD DET */
#content .back-holder {
  margin: 20px 0; }

#content .back-holder a {
  background: url("/documents/10179/12868973/arrow-back.png") no-repeat center left;
  padding-left: 15px; }

.box-pricing {
  display: inline-block;
  width: 100%; }

.bp__content {
  padding: 20px 0;
  display: flex;
  @media screen and (max-width: 550px) {
    padding-top: 0px;
  }
}

.bp__inner-section:first-child {
  width: 100%;
  float: left;
  padding-right: 4%;
  text-align: left;
  position: relative; }


// OVERLAY VYPREDANE
.overlay {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: inherit;
  background-color: rgba(255,255,255, 0.8);
  text-align: center;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
// OVERLAY VYPREDANE END

.bp__inner-section:nth-of-type(2) {
  width: 100%;
}

// HEAPBOX
#content .heapBox .holder {
  padding: 8px 10px 8px 9px !important;
  text-align: left;
  background-color: #fff;
}
#content .heapBox .handler {
  border-left: 1px solid #ccc;
}
// HEAPBOX END

#content .bpis__title {
  font-size: 22px;
  font-weight: bold;
  color: #242424;
  margin: 0 0 5px 0;
  line-height: 120%; }

#content .sec-det .box-device {
  padding: 0;
  max-width: 400px;
  width: 100%;
  border: 0;
  float: none;
  display: inline-block;
  text-align: left;
}

#content .sec-det .box-device:nth-last-of-type(2) {
  margin-right: 10px;
}

#content .sec-det .box-device:hover {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default; }

#content .sec-det .box-device:hover .device__name, #content .sec-det .box-device:hover .device__params {
  text-decoration: none; }

#content .sec-det .box-device .cta {
  min-width: 150px;
  margin-top: 5px; 
  text-align: center;
  @media screen and (max-width: 880px) {
    min-width: 100%;
  }
}

#content .sec-det .info-box {
  padding: 8px;
  margin-top: 66px; }

#content .sec-det .info-box p {
  margin: 0;
  color: #e20074;
  line-height: 18px; }

@media screen and (max-width: 880px) {
  .bp__inner-section, .bp__inner-section:nth-of-type(2), .bp__inner-section:nth-of-type(3) {
    width: 100%;
    float: left;
    padding: 0 2%; }
  .bp__inner-section:nth-of-type(2), .bp__inner-section:nth-of-type(3) {
    text-align: center; }
  #content .sec-det .box-device {
    margin: 0 auto;
    float: none; }
  #content .sec-det .info-box {
    margin-top: 0; }
  #content .sec-det .info-box img {
    display: inline-block;
    vertical-align: bottom; }
  #content .sec-det .info-box p {
    display: inline-block; }
  .bp__content {
    display: inherit;
    width: 100%; }
  .bp__inner-section:nth-child(2) {
    max-width: inherit;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 20px 2%;
    margin: 20px 0; }
  .ec-gallery {
    left: 90%;
  }
  .full__holder {
    padding-left: 8%;
  }
}

/* ZOOM GALLERY */
.gallery {
  position: relative; }

.zoomWindowContainer div {
  top: -69px !important; }

.thumbnails {
  float: left;
  padding-right: 10px;
  width: 21%; }

.full__holder {
  float: left;
  width: 79%;
  position: relative;
  margin-top: 0px;
  max-height: 305px;
  @media screen and (max-width: 880px) {
    text-align: left;
  }  
}

#content .feat-desc-2 {
  font-size: 14px;
  margin: 0;
}

.ec-gallery {
  position: absolute;
  top: 0px;
  right: 10px; }

.preview {


  display: flex;
  cursor: pointer; }

.preview img {
  padding-left: 3px;
  padding-top: 3px;
  width: 40px;
 }

.preview:last-child {
  margin-bottom: 0; }

.zoomLens {
  cursor: zoom-in !important; }

.full {
  max-height: 285px;
  width: auto;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.controlls {
  display: none; }

@media screen and (max-width: 768px) {
  .indicator {
    background-color: #d0d0d0;
    height: 3px;
    width: 100%; }
  .indicator:after {
    content: "";
    display: table;
    clear: both; }
  .in__content {
    background-color: #e20074;
    height: 3px; }
  #content .controlls a {
    color: #383838;
    font-size: 18px; }
  .controlls {
    display: block; }
  .control__holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #content .img-size {
    display: inline-block; }
  .full__holder {
    text-align: center;
    width: auto;
    margin-top: 0;
    float: none; }
  .full {
    float: none;
    padding-bottom: 10px;
  }
  .thumbnails {
    display: none; }
  .ec-gallery {
    left: 90%;
  }
  .full__holder {
    padding-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .ec-gallery {
    position: unset;
  }
}

/* SEC DET 2 */
#content .sec-det-2 .tabs-container {
  margin-bottom: 40px;
  border: 0.6px solid #d0d0d0;
  border-radius: 4px;
}

#content .sec-det-2 .feat-text .feat-tit {
  margin: 0 0 5px 0;
  font-weight: bold; 
  color: #4b4b4b!important;
  font-size: 16px!important;
  padding: 0;
  line-height: 22px;
}



#content .sec-det-2 .feat {
  display: flex;
  align-items: center;
  border-bottom: 0.6px solid #d0d0d0;
  overflow: hidden;
  @media screen and (max-width: 550px) {
    margin: 0;
    flex-direction: column;
  }
}

#content .sec-det-2 .feat.feat-img-left .feat-img-holder {
  order: 1;
  height: 313px;
  display: flex;
  padding-left: 0.6px;
  padding-bottom: 0.3px;
  @media screen and (max-width: 960px) {
    height: 289px; 
  }
  @media screen and (max-width: 768px) {
    height: 230px;
  }
  @media screen and (max-width: 550px) {
    border-bottom: 0;
    height: auto;

  }
}

#content .sec-det-2 .feat.feat-img-left .feat-text-holder {
  order: 2; }

#content .sec-det-2 .feat .feat-text-holder {
  float: left;
  width: 50%;
  padding: 0 25px;
    @media screen and (max-width: 550px) {
      width: 100%;
      float: none;
      display: block;
      margin-top: 3%;
      margin-bottom: 3%;
      padding: 0 10px;
      order: 2;
    }
}

#content .sec-det-2 .feat .feat-img-holder {
  float: left;
  width: 50%;
  text-align: center;
  height: 325px;
  overflow: hidden;
  display: flex;
  padding-right: 0.6px;
  padding-bottom: 0.4px;
  @media screen and (max-width: 960px) {
    height: 300px;
    overflow: hidden;
  }
  @media screen and (max-width: 768px) {
    height: 239px;
  }
  @media screen and (max-width: 550px) {
   
    width: 100%;
    float: none;
    display: block;
    height: auto;
  }
}

#content .sec-det-2 .feat .feat-img-holder img {
  max-width: 100%;
  width: 100%;

}

#content .sec-det-2 .feat:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .feat:last-of-type {
  border-bottom: 0; }

#content .sec-det-2 .feature-to-holder {
  padding: 60px 0;
  width: 44.8%;
  //display: inline-block;
  margin: 0 2.6%;
  float: left;
  min-height: 270px;
  @media screen and (max-width: 550px) {

    width: 100%;
    margin: 0;
    min-height: auto;
  }
}

#content .sec-det-2 .feature-to-holder:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .order-info-holder {
  margin: 20px 40px; }

#content .sec-det-2 .order-info-holder .order-info-wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto; }

#content .sec-det-2 .order-info-holder .order-info-wrapper:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .order-info-holder .order-info-wrapper .col-md-4 {
  text-align: center; }

#content .order-info-wrapper .col-md-4 .order-subheading {
  margin: 0px;
}

#content .order-info-wrapper .col-md-4 p {
  margin-top: 0px;
}

.thumbnails a {
  width: 47px;
  height: 53px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #cfcfcf;
  }

.thumbnails a.selected {
  border-width: 1px;
  border-color: rgb(75, 75, 75);
  border-style: solid;
  border-radius: 4px;
}
.thumbnails a:hover {
  background-color: #ddd;
}

.text-green {
  color: #6bb324;
}

  #content .box-device input {
    border-color: rgb(208, 208, 208)!important;
    border-radius: 4px;
    background-color: #fff;
    margin:0px 3px 10px 3px;
    color: #a4a4a4;
    font-size: 16px;
    line-height: 16px;
    height: 35px;
    padding: 0 15px;
  }
  #content .box-device input:hover {
    background-color: #ececec;
    color: #4b4b4b;
  }
  #content .box-device input:focus {
    color: #4b4b4b;
    border-color: rgb(75, 75, 75)!important;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  }

  #content .box-device .active-plan {
    color: #4b4b4b;
    border-color: rgb(75, 75, 75)!important;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  }

  #content .christ-magenta{
    margin-top:-60px;
    margin-bottom: 30px;
    color: #e20074;
      @media screen and (max-width: 880px) {
        display: none;
      }
    }
  #content .christ-info{
    margin-top:0px;
    margin-bottom: 20px;

  }
  #content #oneTimeWebPrice {
    font-size: 18px;
    color: #262626;
    font-weight: bold;
  }
  #content #oneTimeWebPriceBiznis,  #content #oneTimeWebPriceBiznisDPH {
    font-size: 18px;
    color: #262626;
    font-weight: bold;
    line-height: 25px;
  }
  #content #MonthylFeeMobile {
    font-size: 18px;
    color: #e20074;
    font-weight: bold;
  }
  #content #MonthylFeeMobileBiznis, #content #MonthylFeeMobileBiznisDPH {
    font-size: 18px;
    color: #e20074;
    font-weight: bold;
    line-height: 25px;
  }
  #content #MonthlyFeeService{
    font-size: 18px;
    color: #6c6c6c;
    font-weight: normal;
  }
  #content #MonthlyFeeServiceBiznis, #content #MonthlyFeeServiceBiznisDPH{
    font-size: 18px;
    color: #6c6c6c;
    font-weight: normal;
    
  }
  #content #oneTimeRegularPrice, #content #MonthlyRegularPrice{
    line-height: 18px;
    font-size: 16px;
    color: #6c6c6c;
    font-weight: normal;
    text-decoration: line-through;
    line-height: 25px;
  }
  #content .monthly{
    font-size: 18px;
    color: #6c6c6c;
    font-weight: normal;
  }

  #content .eec-product{
    position: absolute;
    top:10px;
    left: 110px;
    @media screen and (max-width: 550px) {
      left: 80px;
    }
  }

/// SECTION 3 other devices

  #content .sec-det-3 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    & .other-action-title {
      font-size: 20px;
      margin-bottom: 30px;
    }
    & .other-action {
      margin-bottom: 40px;
      & img {
        height: 130px;
      }
   
      & .magenta-text {
        color: #e20074;
        font-size: 20px;
        
        margin: 0 0 20px 0;
      }
      & .action-name {
        min-height: 45px;
      }
     & .grey-text {
      
      color: #a4a4a4;
       margin: 0 0 20px 0;
     } 
    
     & .btn-christ {
      border: 1px solid;
      border-color: rgb(208, 208, 208)!important;
      border-radius: 4px;
      background-color: #fff;
      margin:0px 3px 10px 3px;
      color: #a4a4a4;
      font-size: 16px;
      line-height: 16px;
      height: 35px;
      padding: 10px 15px;
    }
    
    & .btn-christ:hover {
      background-color: #ececec;
      color: #4b4b4b;
      }
    }

    & .termsandconditions {
      margin-top: 50px;
      text-align: left;
      & p{color: #a4a4a4;}
    }
  }


  #content .small{
      font-size: 14px;
      color: #a4a4a4;
      margin-bottom: 20px; 
  }
  #content .ttp{
    cursor: pointer;
  }

/* TOGGLE ARROW */
#content a.toggle-arrow, #content a.toggle-arrow-main {
  color: #007faf;
  text-decoration: none;
  & .arrow-right, .arrow-right-main {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
    
  }
  &:hover,
  &:hover span.arrow-right, span.arrow-right-main {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content, #content .arrow-content-main {
  display: none;
  font-size: 16px!important;
  color: #a4a4a4;
  margin-bottom: 15px;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */
