<section id="hero">
    <div class="container-fixed">
        <div class="row">
            <div class="col-xs-12 col-md-6 offset-md-4 hero__content">
                <h1 class="hero__title">
                    <span class="text_bold">MAGENTA 1</span><br />
                    BIZNIS</h1>
                <h2 class="hero__sub-title font_white">
                    Podnikajte na jednotku s cenovo výhodnejšími balíkmi volaní z mobilu a pevnej linky, 4G internetom a aplikáciou na tímovú spoluprácu.</h2>
                <div class="ec-holder">
                    <img alt="" src="../assets/img/ec-13.png" /></div>
            </div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">Hlavné výhody</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">Balíčky</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">Mám záujem</a></li>
        <li>
            <a class="scroll-to sutaz-btn" href="#sec-8">Súťaž o Samsung S7</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt="nahor" src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1" id="sec-1">
    <div class="container-fixed">
        <div class="row">
            <h2 class="section__title">
                3 SLUŽBY OD JEDNÉHO PARTNERA TERAZ VÝHODNEJŠIE</h2>
            <div class="row text_centered">
                <div class="col-xs-12 col-md-4 prg-holder">
                    <div class="logo-holder">
                        <img alt=" " src="../assets/img/icon2.png" /></div>
                    <p class="sec1__description">
                        <span class="sec1__title text_bold">Služba Magenta Mobile</span><br />
                        4G Internet v mobile a volania z mobilu</p>
                </div>
                <div class="col-xs-12 col-md-4 prg-holder">
                    <div class="logo-holder">
                        <img alt=" " src="../assets/img/icon1.png" /></div>
                    <p class="sec1__description">
                        <span class="sec1__title text_bold "> Služba Magenta Office</span><br />
                        Volania z pevnej linky do mobilných a fixných sietí</p>
                </div>
                <div class="col-xs-12 col-md-4 prg-holder">
                    <div class="logo-holder">
                        <img alt=" " src="../assets/img/icon4.png" /></div>
                    <p class="sec1__description">
                        <span class="sec1__title text_bold ">Služba Magenta Connect</span><br />
                        Aplikácia pre tímovú spoluprácu</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <h2 class="section__title">
            VYBERTE SI BALÍK PRE SEBA A SVOJICH ZAMESTNANCOV</h2>
        <div class="pricing-tables">
            <!-- mini -->
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img class="pricing__img" src="../assets/img/ico-mini.png" />
                        <h3 class="pricing__title">
                            Mini</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            Manuálny pracovník</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            MAGENTA MOBILE</p>
                        <!-- 4g internet -->
                        <div class="row-4g">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-globe.png" /> 4G Internet v mobile</p>
                            <p class="pricing__data">
                                <b>200 MB dát v plnej rýchlosti 4G</b></p>
                        </div>
                        <!-- volania z mobilu -->
                        <div class="row-zmobilu">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-smartphone.png" /> Volania z mobilu</p>
                            <p class="pricing__data">
                                <b>Neobmedzene v rámci firmy</b>. 50 minút voľných minút SK, do EÚ a na odchádzajúce volania <a class="roaming-info">zo susedných štátov</a>. 50 minút prichádzajúce roamingové volania v EÚ</p>
                        </div>
                        <!-- sms/mms -->
                        <div class="row-sms">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                            <p class="pricing__cell__sub-title">
                                <b>100 do všetkých sietí v SR a <a class="roaming-info">zo susedných štátov do SR</a></b></p>
                        </div>
                    </div>
                    <!-- magenta office -->
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            MAGENTA OFFICE</p>
                        <!-- volania z pevnej linky -->
                        <div class="row-pevnalinka">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-phone.png" /> Volania z pevnej linky</p>
                            <p class="pricing__cell__sub-title">
                                <b>100 minút</b></p>
                        </div>
                    </div>
                    <!-- magenta connect -->
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> MAGENTA CONNECT</p>
                        <p class="pricing__cell__sub-title">
                            Bezpečná online komunikácia<br />
                            Telekonferencie a videokonferencie<br />
                            Zdieľanie pracovnej plochy a súborov</p>
                    </div>
                    <div class="price__area">
                        <p class="pricing__cell__sub-title">
                            Cena za služby mimo balíka<br />
                            <span class="price-med strikethrough">16<sup>00</sup> €</span> bez DPH mesačne</p>
                        <p class="price">
                            13<sup>00</sup> €</p>
                        <p class="price__desc">
                            bez DPH mesačne</p>
                    </div>
                </div>
            </div>
            <!-- basic -->
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-basic.png" />
                        <h3 class="pricing__title">
                            Basic</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            ADMINISTRATÍVNY PRACOVNÍK</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            MAGENTA MOBILE</p>
                        <!-- 4g internet -->
                        <div class="row-4g">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-globe.png" /> 4G Internet v mobile</p>
                            <p class="pricing__data">
                                <b>2 000 MB dát v plnej rýchlosti 4G</b></p>
                        </div>
                        <!-- volania z mobilu -->
                        <div class="row-zmobilu">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-smartphone.png" /> Volania z mobilu</p>
                            <p class="pricing__data">
                                <b>Neobmedzene v Telekom sieti</b><br />
                                100 minút voľných minút SK, do EÚ a na odchádzajúce volania <a class="roaming-info">zo susedných štátov</a>. 100 minút prichádzajúce roamingové volania v EÚ</p>
                        </div>
                        <!-- sms/mms -->
                        <div class="row-sms">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                            <p class="pricing__cell__sub-title">
                                <b>Neobmedzené v Telekom sieti</b></p>
                        </div>
                    </div>
                    <!-- magenta office -->
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            MAGENTA OFFICE</p>
                        <!-- volania z pevnej linky -->
                        <div class="row-pevnalinka">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-phone.png" /> Volania z pevnej linky</p>
                            <p class="pricing__cell__sub-title">
                                <b>100 minút</b></p>
                        </div>
                    </div>
                    <!-- magenta connect -->
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> MAGENTA CONNECT</p>
                        <p class="pricing__cell__sub-title">
                            Bezpečná online komunikácia<br />
                            Telekonferencie a videokonferencie<br />
                            Zdieľanie pracovnej plochy a súborov</p>
                    </div>
                    <!-- price -->
                    <div class="price__area">
                        <!-- old price -->
                        <p class="pricing__cell__sub-title">
                            Cena za služby mimo balíka<br />
                            <span class="price-med strikethrough">36<sup>00</sup> €</span> bez DPH mesačne</p>
                        <p class="price">
                            30<sup>00</sup> €</p>
                        <p class="price__desc">
                            bez DPH mesačne</p>
                    </div>
                </div>
            </div>
            <!-- standard -->
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-standard.png" />
                        <h3 class="pricing__title">
                            Štandard</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            OBCHODNÝ ZÁSTUPCA</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            MAGENTA MOBILE</p>
                        <!-- 4g internet -->
                        <div class="row-4g">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-globe.png" /> 4G Internet v mobile</p>
                            <p class="pricing__data">
                                <b>4 000 MB dát v plnej rýchlosti 4G</b></p>
                        </div>
                        <!-- volania z mobilu -->
                        <div class="row-zmobilu">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-smartphone.png" /> Volania z mobilu</p>
                            <p class="pricing__data">
                                <b>Neobmedzene v SR a na odchádzajúce volania <a class="roaming-info">zo susedných štátov</a></b>. 250 voľných minút v EÚ. 250 minút prichádzajúce roamingové volania v EÚ</p>
                        </div>
                        <!-- sms/mms -->
                        <div class="row-sms">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                            <p class="pricing__cell__sub-title">
                                <b>Neobmedzene v SR <a class="roaming-info">zo susedných štátov</a> do SR</b></p>
                        </div>
                    </div>
                    <!-- magenta office -->
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            MAGENTA OFFICE</p>
                        <!-- volania z pevnej linky -->
                        <div class="row-pevnalinka">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-phone.png" /> Volania z pevnej linky</p>
                            <p class="pricing__cell__sub-title">
                                <b>100 minút</b></p>
                        </div>
                    </div>
                    <!-- magenta connect -->
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> MAGENTA CONNECT</p>
                        <p class="pricing__cell__sub-title">
                            Bezpečná online komunikácia<br />
                            Telekonferencie a videokonferencie<br />
                            Zdieľanie pracovnej plochy a súborov</p>
                    </div>
                    <!-- price -->
                    <div class="price__area">
                        <!-- old price -->
                        <p class="pricing__cell__sub-title">
                            Cena za služby mimo balíka<br />
                            <span class="price-med strikethrough">51<sup>00</sup> €</span> bez DPH mesačne</p>
                        <p class="price">
                            43<sup>00</sup> €</p>
                        <p class="price__desc">
                            bez DPH mesačne</p>
                    </div>
                </div>
            </div>
            <!-- manager -->
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-manager.png" />
                        <h3 class="pricing__title">
                            Manager</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            MANAŽÉR A ŠPECIALISTA</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            MAGENTA MOBILE</p>
                        <!-- 4g internet -->
                        <div class="row-4g">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-globe.png" /><b> 4G Internet v mobile</b></p>
                            <p class="pricing__data">
                                <b>6 000 MB dát v plnej rýchlosti 4G + 500 MB v EÚ</b></p>
                        </div>
                        <!-- volania z mobilu -->
                        <div class="row-zmobilu">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-smartphone.png" /> Volania z mobilu</p>
                            <p class="pricing__data">
                                <b>Neobmedzene v SR, do EÚ a na odchádzajúce volania a<a class="roaming-info"> zo susedných štátov</a></b>. Neobmedzené prichádzajúce volania v roamingu</p>
                        </div>
                        <!-- sms/mms -->
                        <div class="row-sms">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                            <p class="pricing__cell__sub-title">
                                <b>Neobmedzené v SR, do EÚ a zo <a class="roaming-info">susedných štátov do SR</a></b></p>
                        </div>
                    </div>
                    <!-- magenta office -->
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            MAGENTA OFFICE</p>
                        <!-- volania z pevnej linky -->
                        <div class="row-pevnalinka">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-phone.png" /> Volania z pevnej linky</p>
                            <p class="pricing__cell__sub-title">
                                <b>Neobmedzené volania v SR a EÚ</b></p>
                        </div>
                    </div>
                    <!-- magenta connect -->
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> MAGENTA CONNECT</p>
                        <p class="pricing__cell__sub-title">
                            Bezpečná online komunikácia<br />
                            Telekonferencie a videokonferencie<br />
                            Zdieľanie pracovnej plochy a súborov</p>
                    </div>
                    <!-- price -->
                    <div class="price__area">
                        <!-- old price -->
                        <p class="pricing__cell__sub-title">
                            Cena za služby mimo balíka<br />
                            <span class="price-med strikethrough">108,<sup>99</sup> €</span> bez DPH mesačne</p>
                        <p class="price">
                            91<sup>00</sup> €</p>
                        <p class="price__desc">
                            bez DPH mesačne</p>
                    </div>
                </div>
            </div>
            <!-- vip -->
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-VIP.png" />
                        <h3 class="pricing__title">
                            VIP</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            MAJITEĽ A CEO</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            MAGENTA MOBILE</p>
                        <!-- 4g internet -->
                        <div class="row-4g">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-globe.png" /> 4G Internet v mobile</p>
                            <p class="pricing__data">
                                <b>10 000 MB dát v plnej rýchlosti 4G + 1000 MB v EÚ</b></p>
                        </div>
                        <!-- volania z mobilu -->
                        <div class="row-zmobilu">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-smartphone.png" /> Volania z mobilu</p>
                            <p class="pricing__data">
                                <b>Neobmedzene v SR, do EÚ a ďalších vybraných krajinách</b> a na odchádzajúce volania <a class="roaming-info">zo susedných štátov</a>. Neobmedzené prichádzajúce volania v roamingu</p>
                        </div>
                        <!-- sms/mms -->
                        <div class="row-sms">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                            <p class="pricing__cell__sub-title">
                                <b>Neobmedzene v SR, do EU + do ďalších vybraných krajín a zo susedných štátov do SR</b></p>
                        </div>
                    </div>
                    <!-- magenta office -->
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            MAGENTA OFFICE</p>
                        <!-- volania z pevnej linky -->
                        <div class="row-pevnalinka">
                            <p class="pricing__cell__title">
                                <img alt="" src="../assets/img/ico-phone.png" /> Volania z pevnej linky</p>
                            <p class="pricing__cell__sub-title">
                                <b>Neobmedzené volania v SR a EÚ</b></p>
                        </div>
                    </div>
                    <!-- magenta connect -->
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> MAGENTA CONNECT</p>
                        <p class="pricing__cell__sub-title">
                            Bezpečná online komunikácia<br />
                            Telekonferencie a videokonferencie<br />
                            Zdieľanie pracovnej plochy a súborov</p>
                    </div>
                    <!-- price -->
                    <div class="price__area">
                        <!-- old price -->
                        <p class="pricing__cell__sub-title">
                            Cena za služby mimo balíka<br />
                            <span class="price-med strikethrough">158<sup>99</sup> €</span> bez DPH mesačne</p>
                        <p class="price">
                            134<sup>00</sup> €</p>
                        <p class="price__desc">
                            bez DPH mesačne</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-group">
            <div class="grid-g__col_12 tc">
                <a class="button scroll-to button_lima" href="#sec-5">MÁM ZÁUJEM</a></div>
        </div>
    </div>
</section>
<!-- video -->
<section class="section sec-7" id="sec-7">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section__title">
                    Pozrite si všetky výhody Magenta 1 Biznis</h2>
                <div class="video-thumbnail">
                    <div class="video-container">
                        <iframe allowfullscreen="" class="video-embed" frameborder="0" src="//www.youtube.com/embed/CO2bOKqJxvs?rel=0&amp;color=white&amp;controls=1&amp;showinfo=0"></iframe></div>
                    <span class="play_btn"><!-- PLAY --></span></div>
            </div>
        </div>
    </div>
</section>
<!-- sutaz -->
<section class="section sec-8" id="sec-8">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section_title" id="-12">
                    <span class="text_bold">Podnikajte</span><br />
                    vo veľkom štýle</h2>
                <p class="section_desc font_white">
                    Kúpte si do konca novembra akýkoľvek balík Magenta 1 Biznis a automaticky hráte o <span class="text_bold">Samsung S7 Edge</span>.</p>
            </div>
        </div>
    </div>
</section>
<!-- contact -->
<section class="section sec-5" id="sec-5">
    <div class="fixed-column">
        <h2 class="section__title">
            MÁTE ZÁUJEM O SLUŽBU ALEBO O VIAC INFORMÁCIÍ?</h2>
        <div class="col-group">
            <div class="grid-g__col_4 form-col">
                <div class="contact-box contact-holder border-right">
                    <img alt=" " src="../assets/img/ico-question.png" />
                    <p class="sec8__description">
                        <b>Opýtajte sa nás hneď</b></p>
                    <p>
                        <span class="contact__numBig">0800 123 500</span></p>
                </div>
            </div>
            <div class="grid-g__col_4 form-col">
                <div class="contact-box contact-holder border-right">
                    <img alt=" " src="../assets/img/ico-contact.png" />
                    <p class="form-col-btn">
                        <a class="button button_lima scroll-to" href="/biznis/baliky/magenta-1-biznis/zaujem">Napíšte nám</a></p>
                </div>
            </div>
            <div class="grid-g__col_4 form-col">
                <div class="contact-box contact-holder">
                    <img alt=" " src="../assets/img/ico-zastupca.png" />
                    <p>
                        <b>Kontaktujte vášho<br />
                        obchodného zástupcu</b></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div class="zoom-anim-dialog mfp-hide" id="small-dialog">
    <h1>
        Vážený zákazník,</h1>
    <p>
        ak má vaša firma menej ako 5 zamestnancov, prejdite na ponuku pre váš biznis alebo sa najprv <a class="pouplink scroll-to" href="/biznis/baliky/magenta-1-biznis#sec-9?utm_source=M1B%20kampan&amp;utm_campaign=Zapojte%20sa%20do%20sutaze&amp;utm_medium=pop-up">zapojte do súťaže.</a></p>
    <a class="button button_lima mgt-10" href="/biznis/baliky/magenta1?utm_source=M1B%20kampan&amp;utm_campaign=Prejst%20na%20ponuku&amp;utm_medium=pop-up">Prejsť na ponuku</a>
</div> --><script type="text/javascript" src="../assets/js/fancybox-media.js"></script><script type="text/javascript" src="../assets/js/slider.js"></script><script type="text/javascript" src="../assets/js/main.js"></script>