<div class="slider">
    <ul class="bxslider">
        <li>
            <div class="bxslider__content__wrapper">
                <div class="bxslider__content">
                    <div class="magenta-squares__holder">
                        <div class="magenta-squares_right">
                            <div class="magenta-squares">
                                <h2 class="bxslider__title"><b>PROFESIONÁLNY SERVIS</b><br />MOBILOV A TABLETOV NA POČKANIE</h2>
                                <p class="bxslider__desc">v kioskoch Pôjdeto</p>
                            </div>
                        </div>
                        <div class="magenta-squares_bottom"></div>
                    </div>
                    <a href="#" class="button">viac info</a>
                </div>
            </div>
            <img alt='' data-src-base='https://www.telekom.sk/documents/10179/583805/' data-src='<767:mobile_1.jpg,
                                                         <1280:tablet_1.jpg,
                                                          >1280:desktop_1.jpg' />
            <noscript><img alt='' src='https://www.telekom.sk/documents/10179/583805/desktop_1.png' /></noscript>
        </li>
        <li>
            <div class="bxslider__content__wrapper">
                <div class="bxslider__content bxslider_clean bxslider_right">
                    <h2 class="bxslider__title"><b>Sed ut perspiciatis</b><br />iste natus error siT</h2>
                    <p class="bxslider__desc">accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                    <a href="#" class="button">viac info</a>
                </div>
            </div>
            <img alt='' data-src-base='../assets/img/' data-src='<767:mobile_2.jpg,
                                                         <1280:tablet_2.jpg,
                                                          >1280:desktop_2.jpg' />
            <noscript><img alt='' src='../assets/img/desktop_2.png' /></noscript>
        </li>
        <li>
            <div class="bxslider__content__wrapper">
                <div class="bxslider__content bxslider_clean bxslider_left">
                    <h2 class="bxslider__title"><b>Sed ut perspiciatis</b><br />iste natus error siT</h2>
                    <p class="bxslider__desc">accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
                    <a href="#" class="button">viac info</a>
                </div>
            </div>
            <img alt='' data-src-base='../assets/img/' data-src='<767:mobile_3.jpg,
                                                         <1280:tablet_3.jpg,
                                                          >1280:desktop_3.jpg' />
            <noscript><img alt='' src='../assets/img/desktop_1.png' /></noscript>
        </li>
    </ul>

    <div class="bx-controls-direction">
        <div class="bx-controls-inner">
            <div class="slider-prev control-button"></div>
            <div class="slider-next control-button"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.telekom.sk/documents/10179/583803/responsive-img.min.js" async></script>
<script type="text/javascript" src="../assets/js/bxslider.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>