<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">TABLET LENOVO<br />ZADARMO</h1>
            <a class="button button_lima button_two-lined" href="/tablet-zadarmo/mam-zaujem"><span>MÁM ZÁUJEM<br />ZAVOLAJTE MI</span></a>
            <br />
            <a href="#sec-1" class="link link-more-info scroll-to">Viac info</a>
        </div>
    </div>
</section>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <h2 class="section__title">AKO TO FUNGUJE?</h2>
        <div class="col-group">
            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-1.png" alt="Happy paušál alebo Easy" class="item__img">
                <p class="item__title">Happy paušál alebo Easy</p>
                <p class="item__desc">Tablet Lenovo Tab 2 A7-20 v čiernom prevedení získate zadarmo, len ak máte paušál Happy alebo Easy kartu...</p>
            </div>

            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-2.png" alt="Služby Chytrého balíka" class="item__img">
                <p class="item__title">Služby Chytrého balíka</p>
                <p class="item__desc">... a vezmete si jednu alebo viac služieb Chytrého balíka – Magio internet, televíziu a/alebo Pevnú linku.</p>
                <a href="/chytry-balik" class="link link_dark item__link">Služby Chytrého balíka</a>
            </div>

            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-3.png" alt="Tablet Lenovo Tab 2 A7-20" class="item__img">
                <p class="item__title">Tablet Lenovo Tab 2 A7-20</p>
                <p class="item__desc">Ako darček vám dáme rýchly a výkonný tablet, ideálny na fotografovanie, ale i hranie či prezeranie webu 4G rýchlosťou.</p>
                <a href="#sec-3" class="link link_dark item__link scroll-to">Viac o tablete</a>
            </div>
        </div>
    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="fixed-column">
        <h2 class="section__title">SLUŽBY A CENY K AKCII TABLET ZADARMO</h2>
        <div class="col-group">
            <div class="grid-g__col_3 pricing-table">
                <p class="pt_title">PEVNÁ LINKA</p>
                <div class="desc-holder">
                    <p class="dh_det">Neobmedzené volania do všetkých sietí</p>
                    <p class="dh_det">Možnosť výberu z troch variant služby – M, L a XL</p>
                    <a href="#" class="link link_dark info-10">Web zľava 10 €</a>
                </div>
                <p class="pt_price">od <span class="price">15,00 €</span> / mesačne</p>
                <a href="/volania/pevna-linka" target="_blank" class="link">Viac o Pevnej linke</a>
            </div>
            <div class="grid-g__col_3 pricing-table">
                <p class="pt_title">MAGIO INTERNET</p>
                <div class="desc-holder">
                    <p class="dh_det">Neobmedzený internet s rýchlosťou až 300 Mb/s</p>
                    <p class="dh_det">Možnosť výberu z troch variant služieb – M, L a XL</p>
                    <a href="#" class="link link_dark info-10">Web zľava 10 €</a>
                </div>
                <p class="pt_price">od <span class="price">15,00 €</span> / mesačne</p>
                <a href="/internet/magio-internet" target="_blank" class="link">Viac o Magio internete</a>
            </div>
            <hr>
            <div class="grid-g__col_3 pricing-table">
                <p class="pt_title">MAGIO TELEVÍZIA</p>
                <div class="desc-holder">
                    <p class="dh_det">Až 113 TV staníc a množstvo unikátnych funkcií</p>
                    <p class="dh_det">Možnosť výberu z troch variant služieb – M, L a XL</p>
                    <a href="#" class="link link_dark info-10">Web zľava 10 €</a>
                </div>
                <p class="pt_price">od <span class="price">15,00 €</span> / mesačne</p>
                <a href="/televizia/magio-televizia" target="_blank" class="link">Viac o Magio televízii</a>
            </div>
            <div class="grid-g__col_3 pricing-table pt_magenta">
                <div class="ec_magenta"></div>
                <p class="pt_title">MAGIO INTERNET + TV</p>
                <div class="desc-holder">
                    <p class="dh_det">Neobmedzený internet s rýchlosťou do 300 Mb/s a televízia s až 113 stanicami</p>
                    <p class="dh_det">Možnosť výberu z troch variant služby – M, L a XL</p>
                    <a href="#" class="link link_dark info-20">Web zľava 20 €</a>
                </div>
                <p class="pt_price">od <span class="price">24,00 €</span> / mesačne</p>
                <a href="/chytry-balik" target="_blank" class="link">Viac o Chytrom balíku</a>
            </div>
            <div class="grid__col_12 btn-holder">
                <a class="button button_lima button_two-linedv2" href="/tablet-zadarmo/mam-zaujem"><span>MÁM ZÁUJEM<br />ZAVOLAJTE MI</span></a>
            </div>
        </div>
    </div>
</section>

<section id="sec-3" class="section sec-3">
    <div class="fixed-column">
        <h2 class="section__title">TABLET LENOVO TAB 2 A7-20</h2>
        <div class="col-group">
            <div class="grid-g__col_6 gallery">
                <div class="device">
                    <div class="device_img">
                        <img alt="img" src="../assets/img/prod-1.png" />
                    </div>
                    <div class="device-controls">
                        <a href="#"><img src="../assets/img/prod-1.png" alt=" "></a>
                        <a href="#"><img src="../assets/img/prod-2.png" alt=" "></a>
                        <a href="#"><img src="../assets/img/prod-3.png" alt=" "></a>
                        <a href="#"><img src="../assets/img/prod-4.png" alt=" "></a>
                    </div>
                </div>
            </div>
            <div class="grid-g__col_6 features">
                <div class="feat">
                    <p class="feat__title">Výkonný procesor</p>
                    <p class="feat__desc">S Android 4.4 KitKat a štvorjadrovým procesorom 1,3 GHz môžete robiť viaceré akcie naraz bez spomalenia. Výkon tabletu zvyšuje aj 1 GB pamäte RAM.</p>
                </div>
                <div class="feat">
                    <p class="feat__title">Skvelý na fotografovanie</p>
                    <p class="feat__desc">S pokročilou 2 MP zadnou kamerou s vynikajúcou jasnosťou zachytíte aj malebné detaily.</p>
                </div>
                <div class="feat">
                    <p class="feat__title">Všetko vyzerá perfektne na 7" dotykovej obrazovke</p>
                    <p class="feat__desc">Sledujte filmy a hrajte graficky náročné hry na multi-dotykovom displeji. Zobrazenie IPS zvyšuje pozorovací uhol a poskytuje najlepší výhľad z každého uhla.</p>
                </div>
                <div class="feat">
                    <p class="feat__title">Dlhá životnosť batérie</p>
                    <p class="feat__desc">Tablet s výkonnou Li-ion batériou prináša neuveriteľných 8 hodín hracieho času a až 18 dní pohotovostného režimu.</p>
                </div>
                <div class="feat">
                    <p class="feat__title">Satelitná GPS navigácia</p>
                    <p class="feat__desc">So zabudovanou satelitnou GPS navigáciou, ktorá pracuje aj v režime offline, sa už nikdy nestratíte.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-4" class="section sec-4">
    <div class="fixed-column">
        <h2 class="section__title">VLASTNOSTI</h2>
        <div class="col-group">
            <div class="grid-g__col_4 specs_col">
                <div class="spec">
                    <p class="spec__title">Procesor</p>
                    <p class="spec__desc">MediaTek® MT8127 1.3GHz Quad-Core™</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Operačný systém</p>
                    <p class="spec__desc">Android™ 4.4 KitKat</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Zvuk</p>
                    <p class="spec__desc">1x Front Speaker, Dolby® Audio, 3.5mm Jack</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Operačná pamäť</p>
                    <p class="spec__desc">RAM 1 GB</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Zabudovaný fotoaparát</p>
                    <p class="spec__desc">Predný fotoaparát: 2 MP</p>
                    <p class="spec__desc">Predný fotoaparát: 0,3 MP</p>
                </div>
            </div>
            <div class="grid-g__col_4 specs_col">
                <div class="spec">
                    <p class="spec__title">Zdieľaná pamät</p>
                    <p class="spec__desc">MediaTek® MT8127 1.3GHz Quad-Core™</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Zdieľaná Pamäť</p>
                    <p class="spec__desc">Vnútorná: 8 GB / 16 GB eMMC</p>
                    <p class="spec__desc">Externá: až do 32 GB s microSD</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Rozmery (Š x H x V):</p>
                    <p class="spec__desc">105 mm x 9.3 mm x 189 mm</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Váha</p>
                    <p class="spec__desc">269 g</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Farba</p>
                    <p class="spec__desc">Ebenová čierna</p>
                </div>
            </div>
            <div class="grid-g__col_4 specs_col">
                <div class="spec">
                    <p class="spec__title">Displej</p>
                    <p class="spec__desc">Veľkosť: 7.0” (1024 x 600) IPS, GFM Air bonding</p>
                    <p class="spec__desc">Dotyková obrazovka</p>
                    <p class="spec__desc">5-bodový multidotykový</p>
                </div>
                <div class="spec">
                    <p class="spec__title">Batéria</p>
                    <p class="spec__desc">Typ: 3450 mAh, Li-ion, Fixed</p>
                    <p class="spec__desc">Výdrž v pohotovostnom režime: do 18 dní</p>
                    <p class="spec__desc">Výdrž v čase používania: do 8 hodín</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
