/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

#content .section {
    padding: 40px 0;
}

#content .sec__title {
    text-align: center;
    text-transform: uppercase;
    font-size: $font-sh;
}

.sec__holder {
    text-align: center;
    margin-bottom: 20px;
}

#content .sec__desc {
    margin-bottom: 0;
}

#content .sec__link {
    margin-top: 0;
}

.qtip-content {
    text-align: left !important;
}

.ttip {
    text-decoration: underline;
    cursor: pointer;
}

.mgo-lightbox {
    display: none;
}

/* ZOOM GALLERY */

.gallery {
    position: relative;
}
.thumbnails {
    float: left;
    padding-right: 10px;
}
.preview {
    width: 43px;
    height: 53px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 1px solid #cfcfcf;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.preview img {
    width: 43px;
    height: 32px;
}

.preview:last-child {
    margin-bottom: 0;
}

.zoomLens {
    cursor: zoom-in !important;
}

.full {
    max-width: 340px;
    width: 100%;
    font-size: 12px;
    float: left;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.controlls {
    display: none;
}

@media screen and (max-width: 768px) {
    .indicator {
        background-color: #d0d0d0;
        height: 3px;
        width: 100%;
    }

    .indicator:after{
        content: "";
        display: table;
        clear: both;
    }

    .in__content {
        background-color: $magenta;
        height: 3px;
    }

    #content .controlls a {
        color: #383838;
        font-size: 18px;
    }

    .controlls {
        display: block;
    }

    .control__holder {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .control-left {

    }

    #content .img-size {
        display: inline-block;
    }

    .control-right {

    }

    .full__holder {
        text-align: center;
    }

    .full {
        float: none;
    }

    .thumbnails {
        display: none;
    }

}

/* PROMO BOX */

.promo-box {
    background-color: $white;
    border: 1px solid $alto;
    padding: 20px;
    display: flex;
    max-width: 660px;
    margin: 0 auto;
}

.pb__img {
    max-width: 214px;
    width: 100%;
}

.pb__detail-holder {
    padding-left: 30px;
    border-right: 1px solid $alto;
}

#content .pb__title {
    color: $mine-shaft-dark;
    font-size: $font-ssh;
    margin-bottom: 10px;
}

#content .promo-box ul {
    margin: 0;
}

#content .promo-box li {
    font-size: 16px;
    background: url('../img/ico-pipe.png') no-repeat left center;
    padding-left: 20px;
}

#content .promo-box li img {
    vertical-align: middle;
}

.pb__flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pb__price-holder {
    align-self: flex-start;
    display: flex;
    text-align: center;
}

#content .pb__price {
    color: $magenta;
    font-size: 38px;
    line-height: 16px;
}

#content .pb__currency {
    font-size: 20px;
}

#content .pb__method {
    font-size: 16px;
    color: $mine-shaft-dark;
}

#content .pb__vat {
    font-size: 16px;
    color: $silver-chalice;
}

.pb__btn {
    align-self: flex-end;
    min-width: 100px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .promo-box,
    .pb__price-holder {
        display: block;
    }

    .pb__img-holder {
        text-align: center;
    }

    .pb__price-holder {
        width: 100%;
    }

    .pb__detail-holder {
        border-right: 0;
    }

    .pb__detail-holder {
        margin: 20px 0;
    }
}

/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 100px 2%;
    overflow: hidden;
    background-size: cover;
}

.hero__content {
    position: relative;
    text-align: center;
}

#content .hero__title {
    color: $mine-shaft-dark;
}

#content .hero__title b {
    font-weight: 900;
}

.ec-hero {
    position: absolute;
    right: -112px;
    bottom: 91px;
}

@media screen and (max-width: 560px) {
    #hero {
        background-position: 30% 50%;
    }
    .ec-hero {
        right: -10px;
        bottom: auto;
        top: -98px;
    }
}


/* SEC - 1 */

.item {
    text-align: center;
}

#content .item p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .item .col-md-4:nth-of-type(2) {
        margin: 20px 0;
    }
}


/* SEC - 2 */

.sec-2 {
    background-color: #ededed;
}


/* SEC - 3 */

#tab-4 {
    display: none;
}

.tab__holder {
    max-width: 480px;
    margin: 0 auto;
    border-bottom: 1px solid $alto;
}

.tab {
    border-top: 0;
}

.tabs-menu li a {
    padding: 0 10px;
}

.func__img-holder {
    text-align: center;
}

.func__img-holder img {
    max-width: 404px;
    width: 100%;
}

#content #tab-5 p {
    margin: 0;
}

#content #tab-5 b {
    margin-bottom: 10px;
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .func__img-holder {
        margin-top: 20px;
    }
}


/* SEC - 4 */

.sec-4 {
    background-color: $gallery;
}

/* SEC - 5 */

#content .gal__title {
    font-size: $font-ssh;
    color: $mine-shaft-dark;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 5px;
}

#content .spec {
    margin: 0;
    color: $tundora;
}

#content .spec-val {
    color: #6c6c6c;
}

#content .spec.package {
    margin-top: 15px;
}

.spec-btn {
    margin-top: 15px;
}

.wiki-info {
    margin-top: 40px;
    padding-top: 10px;
    border-top: 1px solid #d0d0d0;
}
