/* ===============
   CSS FOR POPUP
   =============== */

.form-popup {
    display: none;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.21);
    max-width: 380px;
    width: 100%;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 60px;
    text-align: center;
    z-index: 101;
}

#content .fp__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

#content .form-popup h3,
#content .form-popup p,
#content .form-popup a {
    margin: 0;
}

#content .form-popup .fp__title {
    color: #4b4b4b;
}

#content .form-popup .fp__desc {
    margin: 10px 0 15px;
}

.fp__overlay {
    display: none;
    background: rgba(237, 237, 237, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}