<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;</div>
		<div class="hero__content">
			<div class="hero__holder">
				<h1 class="hero__title">
					KÚP SI EASY<br />
					<b>A VYBER SI BONUS<br />
					6 € alebo 1,5 GB</b></h1>
				<a class="btn scroll-to cta btnDesktop" href="#ziskaj-easy"><b>CHCEM EASY KARTU</b></a> <a class="btn cta scroll-to btnMob" href="#ziskaj-easy">CHCEM EASY KARTU</a><br />
				<a class="link scroll-to" href="#easyKredit">Viac info o akcii</a></div>
		</div>
	</div>
</section>
<div id="nav-sticky">
	<ul>
		<li>
			<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
		<li>
			<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
		<!--
		<li>
			<a class="scroll-to" href="#sec-3">Mobily k Easy</a></li>
		-->
		<li>
			<a class="scroll-to" href="#sec-4">AKCIE A NOVINKY</a></li>
		<li>
			<a class="scroll-to" href="#sec-5">DOPLNKOVÉ BALÍKY</a></li>
		<li>
			<a class="scroll-to spotlight" href="#sec-7">DOBIŤ KREDIT</a></li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/14135436/arrow-top.png" /></a></li>
	</ul>
</div>
<section class="section sec-1 tc" id="sec-1">
	<div class="fixed-column">
		<h2 class="section__title">
			<!-- <img alt="Výhody EASY KARTY" src="/documents/10179/14135436/title-1.png" /> -->Výhody EASY KARTY</h2>
		<div class="col-group">
			<div class="grid-g__col_4 col">
				<img alt="Volania, SMS a internet bez viazanosti" src="/documents/10179/14135436/ico-1.png" />
				<p class="desc">
					<b>Volania, SMS a internet bez viazanosti</b><br />
					a nečakaných výdavkov naviac</p>
			</div>
			<div class="grid-g__col_4 col">
				<img alt="Neobmedzené volania s blízkym" src="/documents/10179/14135436/ico-2.png" />
				<p class="desc">
					<b>Neobmedzené volania s blízkym,</b><br />
					ktorý ti pravidelne dobíja kredit</p>
				<a class="link link link_blue fancy" href="#info-vyhody-volania">Mám záujem</a></div>
			<div class="grid-g__col_4 col">
				<img alt="Kredit ti platí až 12 mesiacov" src="/documents/10179/14135436/ico-3.png" />
				<p class="desc">
					<b>Kredit ti platí až 12 mesiacov</b><br />
					od každého posledného dobitia</p>
			</div>
		</div>
		<div class="col-group margin_top20">
			<div class="grid-g__col_12 tc">
				<p class="desc">
					Navyše získaš bezplatné volania na zákaznícke centrum <b>0800 123 456</b></p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-2 tc" id="sec-2">
	<div class="fixed-column">
		<h2 class="section__title">
			<!-- <img alt="Služby a ceny EASY KARTY" src="/documents/10179/14135436/title-2.png" /> -->Služby a ceny EASY KARTY</h2>
		<p class="subtitle margin_top50">
			ZAPLATÍŠ MAX. 50 CENTOV ZA DEŇ</p>
		<div class="col-group col-holder">
			<!-- 1 -->
			<div class="grid-g__col_6 col">
				<img alt="Volania a SMS a MMS" src="/documents/10179/14135436/ico-4.png" />
				<p class="title">
					Volania a SMS</p>
				<p class="desc">
					0,09 € / minúta hovoru a 0,06 € / SMS<br />
					max. však 50 centov / deň</p>
				<p>
					<a class="link_blue info-1 popup" href="#info-1">Viac info</a></p>
			</div>
			<!-- 2 -->
			<div class="grid-g__col_6 col">
				<img alt="4G internet v mobile" src="/documents/10179/14135436/ico-5.png" />
				<p class="title">
					4G internet v mobile</p>
				<p class="desc">
					0,10€ / 1MB s rýchlosťou 150Mb/s až do<br />
					50 centov /deň, potom 200 MB zadarmo</p>
				<p>
					<a class="link_blue info-2 popup" href="#info-2">Viac info</a></p>
			</div>
		</div>
		<div class="easyServices">
			<div class="line-wrapper">
				<p class="brochure-info">
					Podrobnejšie informácie o Easy karte získaš v <a class="link" href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/marketingove-letaky-a-brozury/">brožúre</a></p>
				<div class="line-through">
					<!-- # --></div>
			</div>
			<p class="subtitle margin_top50" id="ziskaj-easy" style="margin-bottom: 30px;">
				VYBER SI SVOJU NOVÚ EASY KARTU</p>
			<div class="eyeCatchers">
				<img alt="" src="/documents/10179/14135436/14dnibezzavaz.png" /> <img alt="" src="/documents/10179/14135436/dorucenie.png" /></div>
			<div class="col-md-12 col-sm-12 col-xs-12 box box_magenta" style="min-height: 248px;">
				<p class="ribbon">
					NOVINKA</p>
				<div class="left">
					<p class="box__title">
						Easy karta<br />
						<strong>+ 1,5GB dát zadarmo</strong><br />
						<a class="ttp" href="#" id="balik-vzdyGiga">na 30 dní s balíkom VŽDY GIGA<img alt="" src="/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;" /></a></p>
					<div class="box__mid-area">
						<p class="ma_desc">
							<b>Kredit:</b><br />
							3 € ihneď na karte<br />
							+ 6 € bonusový kredit za prvé dobitie<br />
							<!-- <span class="hide-me"><br /> + si v súťaži o&nbsp;<strong>iPhone 8 a dáta na rok</strong></span> --></p>
					</div>
					<p>
						<b>Cena:</b> <span class="font_big font_magenta" style="margin-top: 10px;"> 3,00 € </span></p>
					<a class="btn cta" href="/volania/easy/objednavka/nova-easy-s-datami/mam-zaujem">CHCEM EASY S 1,5 GB DÁT ZADARMO</a></div>
				<div class="mid box-separator">
					<p class="separator-text">
						alebo</p>
					<hr size="500" width="1" />
				</div>
				<div class="right">
					<p class="box__title">
						Easy karta<br />
						<strong>s bonusovým kreditom 6 €</strong></p>
					<div class="box__mid-area">
						<p class="ma_desc">
							<b>Kredit:</b><br />
							3 € + 3 € ihneď na karte<br />
							+ 6 € bonusový kredit za prvé dobitie<br />
							<!-- <span class="hide-me"><br /> + si v súťaži o&nbsp;<strong>iPhone 8 a dáta na rok</strong></span> --></p>
					</div>
					<p>
						<b>Cena:</b> <span class="font_big font_magenta" style="margin-top: 10px;"> 3,00 € </span></p>
					<a class="btn cta" href="/volania/easy/objednavka/nova-easy-s-bonusovym-kreditom/mam-zaujem">CHCEM EASY S BONUSOVÝM KREDITOM</a></div>
			</div>
			<!-- <div class="grid-g__col_4 col box box_magenta" style="min-height: 248px;">
						<p class="box__title">
							NOVÁ Easy karta</p>
						<div class="box__mid-area">
							<p class="ma_desc">
								so štartovacím kreditom 9,00 €<br />
								<span class="font_big font_magenta" style="margin-top: 10px;"> za 4,50 € </span>
								<span class="hide-me"><br /> + si v súťaži o&nbsp;<strong>iPhone 8 a dáta na rok</strong></span>
							</p>
						</div>
						<a class="btn cta" href="/mam-zaujem/prepaid/volania/easy/objednavka/nova-easy">CHCEM EASY KARTU</a>
					</div> -->
			<div class="box3 box prenos-cisla">
				<p class="box__title grey">
					Prenos čísla na Easy<br />
					<strong>+ 2,5GB dát zadarmo</strong><br />
					<a class="ttp" href="#" id="balik-dataZadarmo">získaš ako bonus pri prvom dobití kreditu<img alt="" src="/documents/10179/14135436/qm.png" style=" width: 15px; height: auto; margin-left: 2px;" /></a></p>
				<div class="hFx">
					<p class="ma_desc">
						<b>Kredit:</b><br />
						3 € ihneď na karte<br />
						+ 25% bonusový kredit pri 1., 2. aj 3. dobití<br />
						<!-- <span class="hide-me"><br /> + si v súťaži o&nbsp;<strong>iPhone 8 a dáta na rok</strong></span> --></p>
				</div>
				<p>
					<b>Cena:</b> <span class="font_big" style="margin-top: 10px;"> 0 € </span></p>
				<a class="link link_blue" href="/mam-zaujem/prepaid/volania/easy/objednavka/prenos">Prejsť od iného operátora na Easy</a></div>
			<div class="box4 box">
				<p class="box__title grey">
					Easy karta<br />
					<strong>s novým mobilom</strong></p>
				<div class="hFx">
					<p class="ma_desc">
						<b>Kredit:</b><br />
						9 € ihneď na karte<br />
						<!-- <span class="hide-me"><br /> + si v súťaži o&nbsp;<strong>iPhone 8 a dáta na rok</strong></span> --></p>
				</div>
				<p>
					<b>Cena:</b> <span class="font_big" style="margin-top: 10px;"> 1,00 € <span style="color: #6c6c6c; font-size: 16px;">+ cena za nový mobil</span> </span></p>
				<a class="link link_blue scroll-to" href="?vypredaj-mobilov#sec-3">Vybrať nový mobil k Easy karte</a></div>
		</div>
		<!-- pad110 end --></div>
</section>
<!-- 9.8.2018
<section class="section sec-3" id="sec-3">
	<div class="fixed-column">
		<h2 class="section__title">
--><!-- <img alt="VÝPREDAJ MOBILOV S EASY KARTOU" src="/documents/10179/14135436/title-3.png" /> --><!-- 9.8.2018Mobily k Easy karte</h2>--><!--  <div id="product-holder">
				&nbsp;</div>
			<div id="detail">
				&nbsp;</div> --><!-- 9.8.2018
	</div>
	<div class="container-fixed">
		<div id="tabletsListApp" ng-app="tabletsListApp">
			<div class="container-fixed text_centered">
				<device-slider></device-slider></div>
			</div>
		<div class="cmb__area" id="cmb__block" style="display:none">
			<h3 class="cmb__area__head">
				POTREBUJETE PORADIŤ S PONUKOU?</h3>
			<a class="button" href="#" id="cmb__btn"><span>ÁNO, ZAVOLAJTE<br />
			MI SPÄŤ</span></a></div>
	</div>
</section>
--><!-- AKTUÁLNE AKCIE -->
<section class="section sec-4" id="sec-4">
	<div class="fixed-column">
		<h2 class="section__title">
			<!-- <img alt="AKTUÁLNE AKCIE" src="/documents/10179/14135436/title-4.png" /> -->AKCIE A NOVINKY</h2>
		<div class="xmas-banner">
			<section class="sec-data" id="sec-data">
				<!-- 1 -->
				<div class="row s-j5" id="s-j5">
					<div class="action-banner box-banner">
						<div class="banner__content">
							<p class="banner-title">
								Samsung Galaxy J5 s EASY kartou pre školákov</p>
							<p class="banner-subtitle">
								Začni školský rok s najlepším parťákom. <b>Samsung Galaxy J5 2017 s Easy kartou s 9 € kreditom získaš teraz za skvelých 189 €.</b><br />
								Nový mobil ti bude krátiť cestu do školy super hudbou a so spolužiakmi sa môžeš fotiť super foťákom. Kúp si Easy kartu a Samsung Galaxy J5 s ňou dostaneš za výbornú cenu. Škola je Easy.</p>
							<a class="button button_lima scroll-to" href="/volania/easy/easy-karta-so-samsung-galaxy-j5/mam-zaujem">Mám záujem</a></div>
					</div>
				</div>
				<!-- 2 -->
				<div class="row easyKredit" id="easyKredit">
					<div class="action-banner box-banner">
						<div class="banner__content">
							<p class="banner-title">
								Dáta alebo kredit zadarmo k&nbsp;novej Easy</p>
							<p class="banner-subtitle">
								Kúp si Easy kartu cez web a vyber si svoj bonus. Je len na tebe, či dostaneš balík VŽDY GIGA s <b>1,5 GB dát na 30 dní zadarmo alebo chceš radšej 6 € kredit</b>. Navyše, pri prvom dobití získaš bonusový kredit 6 €. A je jedno, akou sumou si svoju novú Easy kartu dobiješ.<br />
								Lebo #ZIVOTJEEASY.</p>
							<a class="button button_lima scroll-to" href="#ziskaj-easy">CHCEM EASY KARTU</a></div>
					</div>
				</div>
				<!-- 3 -->
				<div class="row streamon" id="streamon">
					<div class="banner-0 box-banner">
						<div class="banner-0__content">
							<h2 class="banner-0-title">
								Nalož si, koľko vládzeš so STREAM ON</h2>
							<p class="banner-0-subtitle" style="margin-bottom:0px;">
								Pozeraj videá, filmy a počúvaj hudbu cez vybrané apky koľko vládzeš. S balíkom StreamOn na to neminieš ani megabajt. <b>Za 1 € na deň</b> využívaš tieto apky <b>neobmedzene</b> až do polnoci. <b>Navyše</b> ti k&nbsp;StreamOn dáme ešte <b>200 MB dát</b> na všetko ostatné.<br />
								<br />
								<a onclick="$('.streamonApps').toggle('slow');return false;" style="cursor: pointer;"><b>StreamOn využiješ v&nbsp;týchto apkách:</b></a></p>
							<div class="streamonApps" style="display: block; font-size: 16px;">
								Apple Music, YouTube, Netflix, HBO GO, Deezer, Spotify, TIDAL, Markíza+ Videoarchív, Magio GO, DIGI GO, SledovanieTV, Rádio Europa 2, Rádio Expres, Rádio Vlna/Vlna Golden Hits, Rádio Anténa Rock/Anténa HardRock, Rádio Jemné/Jemné Chillout, Detské rádio Žofka a NONSTOP Rádio</div>
							<br />
							StreamOn si <a class="popup" href="#streamonSMS" style="text-decoration: underline; color:#4b4b4b; font-size: 18px;">aktivuješ smskou</a> alebo v&nbsp;<a href="/telekom-aplikacia" style="text-decoration: underline; color:#4b4b4b;  font-size: 18px;">Telekom aplikácii</a>.
							<p>
								&nbsp;</p>
							<!-- <a class="button button_lima" href="/mam-zaujem/prepaid/volania/easy/objednavka/nova-easy">KÚPIŤ EASY</a><br /> --><br />
							<a class="button button_lima scroll-to" href="#ziskaj-easy" target="_blank">Chcem Easy</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a class="link" href="/wiki/ostatne/streamon" target="_blank">Viac o StreamOn</a></div>
					</div>
				</div>
				<!--
				<div class="row magenta1" id="">
					<div class="banner-4 box-banner">
						<div class="banner-4__content">
							<p class="banner-4-title">
								Získaj 500 MB dát navyše<br />
								s&nbsp;Magenta 1</p>
							<p class="banner-4-subtitle">
								Vezmi svoju EASY kartu do Magenta 1 skupiny a získaš dvojnásobné extra dáta k dátovým balíkom Vždy Giga alebo Vždy 2 Giga. Navyše, všetci členovia v skupine si volajú a esemeskujú navzájom zadarmo.</p>
							<a class="button button_lima scroll-to" href="#ziskaj-easy">CHCEM EASY</a> <a class="link space-btn" href="/magenta1/#/">Viac o Magenta 1 skupine</a></div>
					</div>
				</div>
				--><!-- 4 --><!--
				<div class="row rowHalf">
					<div class="banner-1 box-banner">
						<div class="banner-1__content">
							<p class="banner-1-title">
								Získaj 500 MB dát navyše<br />
								s&nbsp;Magenta 1</p>
							<p class="banner-1-subtitle">
								Vezmi svoju EASY kartu do Magenta 1 skupiny a získaš dvojnásobné extra dáta k dátovým balíkom Vždy Giga alebo Vždy 2 Giga. Navyše, všetci členovia v skupine si volajú a esemeskujú navzájom zadarmo.
							</p>
							<a class="button button_lima scroll-to" href="#ziskaj-easy">CHCEM EASY</a> <a class="link space-btn" href="/magenta1/#/">Viac o Magenta 1 skupine</a></div>
					</div>
				</div>
				--><!-- 5 --><!--
				<div class="row rowHalf" id="easy-zadarmo">
					<div class="banner-6 box-banner">
						<div class="banner-6__content">
							<p class="banner-6-title">
								EASY karta s 9 € kreditom zadarmo</p>
							<p class="banner-6-subtitle">
								Vezmite si paušál ÁNO, Magio internet, Magio televíziu alebo pevnú linku a získate <b>Easy kartu s 9 € kreditom</b> ako darček. Stačí ju vybrať pri objednávaní služby.
							</p>
							<p style="margin-top: 15px;">
								<a class="button button_lima scroll-to" href="/volania/pausal">K paušálom ÁNO</a> <a class="button button_lima scroll-to" href="/chytry-balik">K pevným službám</a>
							</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 banner-2 box-banner">
						<div class="banner-2-content">
							<p class="banner-2-title">
								Poteš sa Kozmixovým balíčkom pre zvedavé deti!</p>
							<p class="banner-2-detail">
								S balíčkom získaš prístup na vzdelávací portál Kozmix.sk, nový super mobil Samsung J3, Easy kartu, výtvarné pomôcky, športový Kozmix vak a fľašu na vodu.</p>
							<a class="btn cta" href="/kozmix/mam-zaujem">KÚPIŤ KOZMIXOV BALÍČEK</a>
							<br />
							<a class="link" href="/kozmix">Viac info o Kozmix balíčku</a></div>
					</div> --><!--   <div class="col-md-4 banner-3__holder">
						<div class="banner-3 box-banner">
							<p class="banner-3-title">
								Kaniball – nová online sociálna hra, do ktorej sa zažerieš!</p>
							<p class="banner-3-detail">
								Spoznaj prvú online sociálnu hru, kde je zoznamovanie sa veľká zábava.
								<br /> Aby si mohol četovať a hrať sa, potrebuješ iba kartu Easy!</p>
							<a class="btn cta" href="/mam-zaujem/prepaid/volania/easy/objednavka">CHCEM NOVÚ EASY</a>
							<br />
							<a class="link" href="http://www.kaniball.sk/" target="_blank">Mám Easy, chcem hrať Kaniballa</a></div>
					</div>
				</div>
				--></section>
		</div>
	</div>
</section>
<!-- Doplnkove sluzby -->
<section class="section sec-9" id="sec-5">
	<div class="container-fixed">
		<div class="row">
			<h2 class="section__title">
				<!-- <img alt="DOPLNKOVÉ SLužby" src="/documents/10179/14135436/title-5.png" /> -->Doplnkové balíky</h2>
			<p class="desc text_centered">
				Dokúp si k Easy karte výhodné balíky neobmedzených volaní a SMS, uži si surfovanie 4G rýchlosťou s dátovými balíkmi alebo si aktivuj praktické Rodičovské služby.</p>
		</div>
		<div class="row">
			<div class="col-md-12 text_centered">
				<!-- TABS -->
				<div class="tabbed-module">
					<nav>
						<ul class="tabs">
							<li>
								<a href="#tabVolaniaSms">Volania a SMS</a></li>
							<li class="selected">
								<a href="#tabInternet">Internet</a></li>
							<li>
								<a href="#tabRodSluzby">Rodičovské služby</a></li>
						</ul>
					</nav>
					<div class="tabs-content">
						<div id="tabVolaniaSms">
							<div class="row row-centered tab-caroussel" id="tab1">
								<!-- 1 -->
								<div class="col-md-3 col-centered text_centered">
									<div class="tab-box">
										<div class="tab-box_title">
											<h4>
												Neobmedzené<br />
												Telekom volania</h4>
										</div>
										<div class="tab-box_desc">
											<p class="text_centered">
												<span class="tab-box_subTitle">Neobmedzené volania</span><br />
												Balík obsahuje neobmedzené volania do siete Telekom a všetkých pevných sietí v SR.<br />
												<br />
												<span class="lg-font">2,79 €/7 dní</span></p>
										</div>
										<div class="tab-box_cta text_centered">
											<a class="btn cta fancy" href="#activate-baliky-volania">AKTIVOVAŤ</a><br />
											<!-- <a href="#">Viac info</a> --></div>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-md-3 col-centered text_centered">
									<div class="tab-box">
										<div class="tab-box_title">
											<h4 class="tab-box_title_one">
												Neobmedzené SMS</h4>
										</div>
										<div class="tab-box_desc">
											<p class="text_centered">
												<span class="tab-box_subTitle">Neobmedzené SMS</span><br />
												Balík obsahuje neobmedzené SMS do všetkých mobilných sietí v SR.<br />
												<br />
												<span class="lg-font">1,59 €/7 dní</span></p>
										</div>
										<div class="tab-box_cta text_centered">
											<a class="btn cta fancy" href="#activate-baliky-sms">AKTIVOVAŤ</a><br />
											<!-- <a href="#">Viac info</a> --></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="tab-disclaimer text_centered">
										<p>
											Platnosť balíkov Neobmedzené volania a Neobmedzené SMS je 7 dní od aktivácie.<br />
											Pre deaktiváciu balíkov zašlite SMS s textom IN VYP na číslo 12330 (pre balík Neobmedzené volania) alebo SMS s textom SMSALL VYP na číslo 12330 (pre Neobmedzené SMS).<br />
											Ponuka platí od 1.10.2016</p>
									</div>
								</div>
							</div>
						</div>
						<!-- internet -->
						<div class="selected" id="tabInternet">
							<div class="row row-centered tab-caroussel" id="tab2">
								<!-- 0 -->
								<div class="col-md-3 col-centered text_centered">
									<div class="tab-box">
										<div class="tab-box_title" style="padding: 6px 24px 11px 24px; background-color: #007faf">
											<h4 class="tab-box_title_one">
												<b>NOVINKA</b><br />
												STREAM ON + 200 MB</h4>
										</div>
										<div class="tab-box_desc">
											<p class="text_centered p-row-1">
												<span class="tab-box_subTitle"><b>Neobmedzené dáta </b></span><br />
												na filmy a&nbsp;hudbu vo viac ako 15 apkách <b>+ 200 MB</b> na ostatné / deň</p>
											<p class="text_centered p-row-2">
												Pozeraj klipy na Youtube, filmy na Netflixe či počúvaj hudbu na Deezeri a&nbsp;Spotify a&nbsp;v&nbsp;<a class="automaticka-obnova q-link popup" href="#dalsie-apky">ďalších apkách</a> neobmedzene až do polnoci.</p>
											<p class="text_centered p-row-3">
												<span class="lg-font font_magenta">1 €</span><br />
												/ deň</p>
										</div>
										<div class="tab-box_cta text_centered">
											<a class="btn cta popup" href="#streamonSMS">AKTIVOVAŤ</a> <!-- <br />
												<a class="app-link" href="http://m.telekom.sk/aplikacia">Aktivovať v Telekom appke</a> --></div>
									</div>
								</div>
								<!-- 1 -->
								<div class="col-md-3 col-centered text_centered">
									<div class="tab-box">
										<div class="tab-box_title">
											<h4 class="tab-box_title_one">
												RAZ GIGA</h4>
										</div>
										<div class="tab-box_desc">
											<p class="text_centered p-row-1">
												<span class="tab-box_subTitle"><b>1 GB</b> na 7 dní</span><br />
												Veľký objem dát<br />
												jednorázovo a hneď.</p>
											<p class="text_centered p-row-2">
												<!-- 2 --></p>
											<p class="text_centered p-row-3">
												<span class="lg-font font_magenta">3 €</span></p>
										</div>
										<div class="tab-box_cta text_centered">
											<a class="btn cta popup" href="#activate-baliky-internet-100">AKTIVOVAŤ</a> <!-- <br />
												<a class="app-link" href="http://m.telekom.sk/aplikacia">Aktivovať v Telekom appke</a> --></div>
									</div>
								</div>
								<!-- 2 -->
								<div class="col-md-3 col-centered text_centered">
									<div class="tab-box">
										<div class="tab-box_title">
											<h4 class="tab-box_title_one">
												VŽDY GIGA</h4>
										</div>
										<div class="tab-box_desc">
											<p class="text_centered p-row-1">
												<span class="tab-box_subTitle"> <b>1 GB </b> na 30 dní<br />
												teraz <span class="font_magenta"><strong>+500 MB</strong></span> navyše</span><br />
												Ak chceš mať svoju spotrebu pod kontrolou a dáta používaš priebežne celý mesiac.</p>
											<p class="text_centered p-row-2">
												Balík s <a class="automaticka-obnova q-link popup" href="#automaticka-obnova">automatickou obnovou</a> s <a class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších dát</a>.</p>
											<p class="text_centered p-row-3">
												<span class="lg-font font_magenta">6 €</span><br />
												/ mesačne</p>
										</div>
										<div class="tab-box_cta text_centered">
											<a class="btn cta popup" href="#activate-baliky-internet-500">AKTIVOVAŤ</a> <!-- <br />
												<a class="app-link" href="http://m.telekom.sk/aplikacia">Aktivovať v Telekom appke</a> --></div>
									</div>
								</div>
								<!-- 3 -->
								<div class="col-md-3 col-centered text_centered">
									<div class="tab-box">
										<div class="tab-box_title">
											<h4 class="tab-box_title_one">
												VŽDY 2 GIGA</h4>
										</div>
										<div class="tab-box_desc">
											<!-- <div class="ec-holder"><img class="responsive-image" src="/documents/10179/14135436/ec-balik.png" alt=""></div> -->
											<p class="text_centered p-row-1">
												<span class="tab-box_subTitle"> <b>2 GB</b> na 30 dní<br />
												teraz <span class="font_magenta"><strong>+500 MB</strong></span> navyše</span><br />
												Ak chceš mať svoju spotrebu pod kontrolou a potrebuješ veľa dát pre veľké zážitky.</p>
											<p class="text_centered p-row-2">
												Balík s <a class="automaticka-obnova2 q-link popup" href="#automaticka-obnova2">automatickou obnovou</a> s <a class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších dát</a>.</p>
											<p class="text_centered p-row-3 ">
												<span class="lg-font font_magenta">8 €</span><br />
												/ mesačne</p>
										</div>
										<div class="tab-box_cta text_centered">
											<a class="btn cta popup" href="#activate-baliky-internet">AKTIVOVAŤ</a> <!-- <br />
												<a class="app-link" href="http://m.telekom.sk/aplikacia">Aktivovať v Telekom appke</a> --></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="tab-disclaimer text_centered">
										<p>
											Balík <b>RAZ GIGA</b> má platnosť 7 dní. Balíky <b>VŽDY GIGA</b> a <b>VŽDY 2 GIGA </b>sú platné 30 dní a obnovujú sa automaticky.<br />
											Po vyčerpaní dát z balíčkov <b>VŽDY GIGA</b> a <b>VŽDY 2 GIGA</b> si môžeš dokúpiť 500 MB iba za 1 €. A to až 4x v rámci platnosti balíčka.<br />
											Neminuté dáta sa ti automaticky prenesú do ďalšieho mesiaca.<br />
											Ponuka balíčkov platí od 20.09.2017. Zvýhodnená cena 6 € za balík <b>VŽDY 2 GIGA</b> platí pri aktivácii balíčka do 31.3.2018.<br />
											Balík&nbsp;<b>StreamOn + 200 MB</b>&nbsp;má platnosť vždy do konca daného dňa, v&nbsp;ktorom bol aktivovaný.</p>
									</div>
								</div>
							</div>
						</div>
						<div id="tabRodSluzby">
							<div class="row row-centered tab-carosusel" id="tab3">
								<div class="col-md-3 col-centered text_centered">
									<div class="tab-box">
										<div class="tab-box_title">
											<h4>
												Rodičovské služby pre bezpečnosť detí</h4>
										</div>
										<div class="tab-box_desc">
											<p class="text_centered">
												S týmto balíkom získate prístup k informácii o tom, kde sa vaše dieťa nachádza a informácie o výške jeho kreditu.<br />
												<br />
												<span class="lg-font">zadarmo</span></p>
										</div>
										<div class="tab-box_cta text_centered">
											<a class="btn cta fancy" href="#activate-baliky-rodic">AKTIVOVAŤ</a><br />
											<a href="/volania/easy/rodicovske-sluzby">Viac info</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //TABS --></div>
		</div>
	</div>
</section>
<!-- Easy roaming -->
<section class="section sec-6 tc" id="sec-6">
	<div class="fixed-column">
		<h2 class="section__title">
			<!-- <img alt="DOPLNKOVÉ SLužby" src="/documents/10179/14135436/title-6.png" /> -->VOLANIA DO ZAHRANIČIA A EASY ROAMING</h2>
		<div class="col-group">
			<div class="grid__col_12">
				<p class="desc">
					<b>Volania a SMS do zahraničia a v zahraničí</b><br />
					S Easy kartou môžeš volať zo SR aj do zahraničia za výhodné ceny.<br />
					Volať a smskovať môžeš aj v zahraničí so službou Easy Roaming. Aktivácia služby je bezplatná a bez mesačných poplatkov.</p>
				<a class="link link_ul" href="/volania/volania-do-zahranicia">Viac o volaniach zo SR do zahraničia</a> <a class="link link_ul" href="/volania/roaming/easy">Viac o Easy roamingu</a></div>
		</div>
	</div>
</section>
<section class="section sec-7 tc" id="sec-7">
	<div class="fixed-column">
		<h2 class="section__title">
			<!-- <img alt="DOBITie KREDITu" src="/documents/10179/14135436/title-7.png" /> -->DOBITie KREDITu</h2>
		<div class="col-group box__wrapper">
			<div class="grid-g__col_6 col box">
				<div>
					<img src="/documents/10179/14135436/icon-dob-1.png" /></div>
				<p class="box__title">
					Výhodne s Telekom aplikáciou</p>
				<div>
					<p class="ma_desc">
						S bezplatnou Telekom aplikáciou máš dobitie kreditu pod palcom. Podľa výšky dobitého kreditu môžeš získať <span class="col-mag">bonusový kredit navyše až do 7,50 €</span>!</p>
					<p class="ma_desc">
						Dobiť kredit môžeš cez platobnú kartu alebo z paušálu.</p>
				</div>
				<a class="btn cta-mag fancy-kred" href="/telekom-aplikacia">DOBIŤ KREDIT CEZ APLIKÁCIU</a></div>
			<div class="grid-g__col_6 col box">
				<div>
					<img src="/documents/10179/14135436/icon-dob-2.png" /></div>
				<p class="box__title">
					Cez web alebo Facebook</p>
				<div>
					<p class="ma_desc">
						Dobitie cez web prebieha bankovým prevodom. Cez Facebook si môžeš dobiť kredit s aplikáciou Easy dobíjač. V&nbsp;oboch prípadoch môžeš získať bonusový kredit navyše až do 7,50 €.</p>
				</div>
				<a class="link link_ul fancy" href="#cez-web">Dobiť kredit cez web</a> <a class="link link_ul" href="https://www.facebook.com/telekom.sk/app_701821569860815">Dobiť kredit cez Facebook</a></div>
		</div>
		<div class="col-group box__wrapper margin_top50">
			<!--
			<div class="grid-g__col_6 col">
				<p class="desc">
					<b>Cez Telekom aplikáciu</b><br />
					S bezplatnou Telekom aplikáciou máš dobitie kreditu pod palcom. <a class="link link_uc link_dark fancybox-media" href="https://www.youtube.com/watch?v=U_t43dyPFFw">Pozri si video o aplikácii</a></p>
				<a class="link link_ul link_blue link_top20" href="https://www.telekom.sk/telekom-aplikacia#portlet_56_INSTANCE_hFH4RxnCFvMP">Stiahnuť aplikáciu</a></div>
			<div class="grid-g__col_6 col">
				<p class="desc">
					<b>Cez Facebook</b><br />
					Ak máš účet na Facebooku, môžeš si kredit dobiť aj tam cez aplikáciou Easy dobíjač.</p>
				<a class="link link_ul link_dark link_top20" href="https://www.facebook.com/telekom.sk/app_701821569860815">Dobiť kredit cez Facebook</a></div>
				--></div>
		<div class="col-group">
			<div class="grid__col_12 margin_top20">
				<p class="ad-1">
					<a class="link link_ul" href="/wiki/volania/dobitie-kreditu">Ďalšie možnosti dobitia kreditu nájdeš vo Wiki</a></p>
			</div>
		</div>
	</div>
</section>
<section class="section sec-8" id="sec-8">
	<div class="fixed-column">
		<h2 class="section__title">
			<!-- <img alt="MOHLO BY ŤA ZAUJÍMAŤ" src="/documents/10179/14135436/title-8b.png" /> -->Porovnanie easy vs. ostatní operátori</h2>
		<div class="col-group box__wrapper tc">
			<div class="grid__col_12 col">
				<p class="desc">
					<b>Katka, Fero, Mirka a Jaro musia dnes obvolať svojich kamošov.</b><br />
					Každý z nich má v Telekome, O2, Orange a 4ke 1 kamoša a volá im v tomto poradí, pričom každému zavolá<br />
					2x po 5 minút a zároveň každému z nich pošle 10 SMS za jeden kalendárny deň. Spolu tak každý<br />
					z nich počas 1 dňa volá 4 kamošom 40 minút a pošle im spolu 40 SMS.<br />
					<br />
					Zákazník by platil nasledovne:</p>
			</div>
		</div>
		<div class="col-group">
			<div class="grid__col_12 banner__holder">
				<img alt="" class="banner-2" src="/documents/10179/14135436/banner-2.png" /> <img alt="" class="banner-2-mobile" src="/documents/10179/14135436/banner-2-mob.png" /></div>
			<p class="tc">
				NAJMENEJ V RÁMCI DŇA ZAPLATÍ KATKA, KTORÁ MÁ EASY PECKU.</p>
			<p class="tc">
				Porovnanie platné ku dňu 30. 8. 2018.</p>
		</div>
		<div class="col-group">
			<div class="grid__col_12 margin_top50">
				<a class="note-zdielanie" href="" onclick="$('#easy-legal').toggle('slow');return false;">Podmienky</a>
				<div id="easy-legal">
					<div class="easy-legal">
						<a class="note-legal" href="" onclick="$('#easy-legal-1').toggle('slow');return false;">Benefit za prenos čísla</a>
						<div class="easy-legal-content" id="easy-legal-1">
							Účastník, ktorý si aktivuje program Easy Pecka vo vzťahu k telefónnemu číslu, ktoré bolo prenesené do spoločnosti Slovak Telekom, a. s., od iného podniku poskytujúceho elektronické komunikačné služby v čase od 4. 5. 2018, má nárok na benefity za prenos čísla. Benefity za prenos čísla spočívajú v&nbsp;(i)&nbsp;aktivácii a možnosti bezplatného využívania dátového balíka Vždy 2 Giga po dobu 30 dní od prvého dobitia kreditu na prenesenom telefónnom čísle, (ii) získaní extra bonusového kreditu vo výške 25 % z hodnoty jednotlivého dobitia za prvé tri dobitia kreditu po aktivácii programu Easy Pecka vo vzťahu k&nbsp;prenesenému telefónnemu číslu. Nárok na tento benefit je možné vo vzťahu k jednému telefónnemu číslu uplatniť iba jedenkrát za 24 mesiacov. Ponuka platí od 4. 5. 2018 do odvolania.</div>
					</div>
					<div class="easy-legal">
						<a class="note-legal" href="" onclick="$('#easy-legal-2').toggle('slow');return false;">Podmienky akcie max. 50 centov za deň</a>
						<div class="easy-legal-content" id="easy-legal-2">
							Maximálna hranica 50 centov na deň sa uplatňuje pre volania a SMS správy pre každú sieť v SR zvlášť. Uvedené sa vzťahuje na prvých 2 000 minút a 2 000 SMS správ do všetkých sietí v SR spoločne, po vyčerpaní ktorých sú ďalšie hovory alebo SMS až do konca kalendárneho mesiaca spoplatnené podľa Cenníka pre program Easy Pecka. Prenos dát v mobilnej sieti Telekom so službou Internet na deň bude počas kalendárneho dňa spoplatnený sumou 0,10 € s DPH za 1 MB, avšak maximálne do výšky 0,50 € za jeden kalendárny deň. Po prenesení 200 MB v rámci sledovaného obdobia (1 kalendárny deň) dôjde k pozastaveniu prístupu na Internet. Prístup na Internet je možné do konca daného dňa obnoviť zaslaním SMS s textom ESTE200 na číslo 12330, čím účastník získa 200 MB za 0,50 €.</div>
					</div>
					<div class="easy-legal">
						<a class="note-legal" href="" onclick="$('#easy-legal-3').toggle('slow');return false;">Podmienky dobitia kreditu</a>
						<div class="easy-legal-content" id="easy-legal-3">
							Pre úspešné dobitie je nevyhnutné zadať požiadavku na tejto stránke. Pri opakovanom použití platobných symbolov (ich manuálnym zadaním do platobného príkazu) dobitie kreditu nebude zrealizované!<br />
							Faktúru (vyúčtovanie služby Dobi Easy) vám Telekom na požiadanie vystaví v Telekom Centre na základe nasledujúcich údajov a dokladov: telefónne číslo SIM karty, ktorá bola dobitá, dátum dobitia, dobíjaná suma, identifikačné údaje platiteľa (údaje platiteľa sa overujú) a variabilný symbol platby.</div>
						<div class="easy-legal">
							<a class="note-legal" href="" onclick="$('#easy-legal-4').toggle('slow');return false;">Podmienky Neobmedzené Telekom volania a Neobmedzené SMS</a>
							<div class="easy-legal-content" id="easy-legal-4">
								Doplnkové balíčky a služby v rámci nich zahrnuté je možné využiť len v prospech štandardných účastníckych telefónnych čísel. Poskytovanie aktivovaného doplnkového balíčka Neobmedzené Telekom volania a Neobmedzené SMS sa za predpokladu dostatočného kreditu automaticky predlžuje o ďalších 7 dní. Pre deaktiváciu služby Neobmedzené Telekom volania je potrebné zaslanie SMS v tvare IN VYP na číslo 12323. Pre deaktiváciu služby Neobmedzené SMS do SR je potrebné zaslanie SMS v tvare SMSALL VYP na číslo 12323. Podrobnejšie informácie o podmienkach využívania doplnkových služieb nájdete v Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a.s.</div>
							<div class="easy-legal">
								<a class="note-legal" href="" onclick="$('#easy-legal-5').toggle('slow');return false;">Podmienky k dátovým balíkom Raz Giga, Vždy Giga, Vždy 2 Giga</a>
								<div class="easy-legal-content" id="easy-legal-5">
									Dátové balíky Raz Giga, Vždy Giga a Vždy 2 Giga umožňujú využívanie služby Internet v mobile a dátových prenosov v mobilnej sieti Telekom aj prostredníctvom technológie LTE s max. prenosovou rýchlosťou z Internetu 150 Mb/s a s max. prenosovou rýchlosťou do Internetu 50 Mb/s. Dodatočnou podmienkou pre technické umožnenie využívania vyššie uvedených dátových balíkov je zostatok Kreditu minimálne vo výške 0,24 €. Dátový balík Raz Giga sa poskytuje s dobou platnosti maximálne 7 dní odo dňa jeho aktivácie, pokiaľ nedôjde k vyčerpaniu voľného objemu dát pred uplynutím doby platnosti. Deaktivácia dátového balíka Raz Giga, je realizovaná uplynutím maximálnej doby jeho platnosti alebo úplným vyčerpaním zakúpeného celého objemu voľných dát. Dátové balíky Vždy Giga a Vždy 2 Giga sa poskytujú počas obdobia 30 dní odo dňa ich aktivácie, pokiaľ nedôjde k vyčerpaniu voľného objemu dát pred uplynutím doby platnosti, a následne sa ich poskytovanie automaticky predĺži o ďalších 30 dní za predpokladu dostatočného Kreditu na SIM karte. Deaktivácia dátového balíka Vždy Giga a Vždy 2 Giga je realizovaná uplynutím doby platnosti už zaplateného príslušného dátového balíka. Po vyčerpaní voľného objemu dát prislúchajúcemu k dátovému balíku Vždy Giga alebo Vždy 2 Giga, tak do skončenia doby platnosti príslušného dátového balíka dôjde k zníženiu rýchlosti dátových prenosov (sťahovania aj odosielania dát) na 64 kb/s. Rýchlosť prístupu na Internet v mobilnej sieti Telekom je možné do konca doby platnosti pôvodného dátového balíka Vždy Giga alebo Vždy 2 Giga obnoviť zaslaním SMS s textom ESTE500 na číslo 12330, čím účastník získa 500 MB za 1 EUR. Opätovné obnovenie rýchlosti počas doby platnosti dátového balíka Vždy Giga a Vždy 2 Giga je možné maximálne 4 krát.</div>
							</div>
							<div class="easy-legal">
								<a class="note-legal" href="" onclick="$('#easy-legal-8').toggle('slow');return false;">StreamOn</a>
								<div class="easy-legal-content" id="easy-legal-8">
									Balíček StreamOn umožňuje dátový prenos súvisiaci s&nbsp;určitým typom aplikácii bez jeho zarátania do štandardnej dátovej prevádzky. Účastník Predplatenej služby EASY si môže aktivovať jednorazový balíček StreamOn s&nbsp;platnosťou do konca dňa, v&nbsp;ktorom prebehla aktivácia. Podmienky balíčka StreamOn upravujúce jeho aktiváciu, využívanie, prerušenie, obmedzenia,&nbsp;využívanie v&nbsp;roamingu a iné sú stanovené v&nbsp;Cenníku.</div>
							</div>
							<div class="easy-legal">
								<a class="note-legal" href="" onclick="$('#easy-legal-6').toggle('slow');return false;">Podmienky Travel &amp; Surf</a>
								<div class="easy-legal-content" id="easy-legal-6">
									Ceny sú uvedené v € s DPH. Pre všetky balíčky služby Internet v zahraničí Travel&amp;Surf platí pre voľné dáta v rámci balíčkov tarifikačný interval 10 kB a počíta sa ako suma prijatých a odoslaných dát. Služba Internet v zahraničí Travel&amp;Surf zahŕňa dátové prenosy cez APN WAP, internet, internet plus a nevzťahuje sa na dátové prenosy cez APN blackberry.net. Službu Internet v zahraničí Travel&amp;Surf možno aktivovať len vo vzťahu k SIM karte s aktivovaným mesačným hlasovým programom služieb alebo programom služby Easy a Fix. Príslušný balíček je aktívny po doručení SMS správy potvrdzujúcej úspešnú aktiváciu. Služba Internet v zahraničí Travel&amp;Surf nie je kombinovateľná s akoukoľvek inou dátovou roamingovou službou. K deaktivácii balíčka služby Internet v zahraničí Travel&amp;Surf dôjde uplynutím maximálnej doby jeho platnosti alebo vyčerpaním celého objemu voľných dát podľa toho, ktorá z týchto skutočností nastane skôr. Viac info o ponuke nájdete v Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a.s.</div>
							</div>
							<div class="easy-legal">
								<a class="note-legal" href="" onclick="$('#easy-legal-7').toggle('slow');return false;">Informácie o alternatívnom riešení sporov</a>
								<div class="easy-legal-content" id="easy-legal-7">
									Osoba, ktorá je spotrebiteľom (t.j. fyzická osoba, ktorá pri uzatváraní a plnení spotrebiteľskej zmluvy nekoná v rámci predmetu svojej podnikateľskej činnosti, zamestnania alebo povolania), je v súlade so zákonom č. 391/2015 Z. z. o alternatívnom riešení spotrebiteľských sporov oprávnená predložiť orgánu alternatívneho riešenia sporu návrh na začatie alternatívneho riešenia sporu, ak spoločnosť Slovak Telekom, a.s. zamietla alebo sa v lehote 30 dní odo dňa jej odoslania nevyjadrila k žiadosti o nápravu, na základe ktorej spotrebiteľ vyjadruje svoju nespokojnosť so spôsobom, ktorým spoločnosť Slovak Telekom, a.s. vybavila jeho reklamáciu, alebo ak sa spotrebiteľ domnieva, že spoločnosť Slovak Telekom, a.s. porušila jeho práva. Spotrebiteľ môže svoju žiadosť o nápravu zaslať aj elektronicky na adresu <a href="mailto:spotrebitelskespory@telekom.sk">spotrebitelskespory@telekom.sk</a>. Spotrebiteľ predloží návrh na začatie alternatívneho riešenia sporu bezodkladne, najneskôr do 1 roku od doručenia zamietavej odpovede spoločnosti Slovak Telekom, a.s. k žiadosti o nápravu alebo odo dňa márneho uplynutia 30-dňovej lehoty na vyjadrenie sa k žiadosti o nápravu zo strany spoločnosti Slovak Telekom, a.s. Úrad pre reguláciu elektronických komunikácií a poštových služieb je orgánom alternatívneho riešenia sporov pre spory vyplývajúce zo zmlúv, ktoré sa týkajú kvality a ceny služieb; v ostatných prípadoch je orgánom alternatívneho riešenia sporov Slovenská obchodná inšpekcia, <a href="http://www.soi.sk/" target="_blank">www.soi.sk</a>. Spotrebiteľ, ktorý si na webovej stránke prevádzkovanej spoločnosťou Slovak Telekom, a.s. a/alebo prostredníctvom iných elektronických prostriedkov objednal ponúkaný tovar a/alebo službu, môže návrh na začatie alternatívneho riešenia sporu podať aj prostredníctvom platformy alternatívneho riešenia sporov, ktorú nájde na stránke <a href="http://ec.europa.eu/odr" target="_blank">http://ec.europa.eu/odr</a>.</div>
							</div>
						</div>
					</div>
				</div>
				<p>
					* Právo na odstúpenie od zmluvy a/alebo pri kúpe tovaru od kúpnej zmluvy v 14-dňovej lehote od uzatvorenia zmluvy alebo prevzatia tovaru môže uplatniť len účastník-spotrebiteľ v zmysle osobitného predpisu. Na účastníka, ktorý je fyzickou osobou-podnikateľom alebo právnickou osobou, sa toto zákonné právo spotrebiteľa nevzťahuje.</p>
			</div>
		</div>
	</div>
</section>
<!-- Lightboxes -->
<div class="easy-lightbox" id="streamonSMS">
	<h2>
		STREAM ON</h2>
	<div>
		Pošli SMS s textom <span class="semibold magenta">STREAMON</span> na <span class="semibold magenta">12330</span>.<br />
		<br />
		<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="STREAMON" href="#">Poslať SMS</a></div>
</div>
<div class="easy-lightbox" id="info-vyhody-volania">
	<h2>
		Neobmedzené VOLANIA S BLÍZKYM</h2>
	Služba Neobmedzené volania s blízkym sa dá aktivovať, ak má váš blízky paušál Happy. Blízky si musí nastaviť pravidelné dobíjanie Easy z paušálu. Následne môžete spolu volať úplne zadarmo.<br />
	<br />
	Aktivácia pravidelného dobíjania z paušálu Happy:<br />
	zavolajte na linku <span class="magenta">0800 123 456</span>, voľba <span class="magenta">1</span>, <span class="magenta">3</span></div>
<div style="display:none">
	<div class="easy-lightbox" id="info-baliky-volania">
		<h2>
			Neobmedzené Telekom volania</h2>
		Balík Neobmedzené Telekom volania platí 7 dní od aktivácie.<br />
		Ak máte ku koncu obdobia dostatočný kredit, balík sa automaticky predĺži o ďalších 30 dní. Pre deaktiváciu balíčka je potrebné zaslať SMS.<br />
		<br />
		Balík je dostupný pre všetky programy Easy a Easy Fix.</div>
	<div class="easy-lightbox" id="activate-baliky-volania">
		<h2>
			NEOBMEDZENÉ TELEKOM VOLANIA</h2>
		<div>
			Pre aktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">IN ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="deactivate-baliky-volania">
		<h2>
			NEOBMEDZENÉ TELEKOM VOLANIA</h2>
		<div>
			Pre deaktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">IN VYP</span> na číslo <span class="semibold magenta">12323</span>.</div>
	</div>
	<div class="easy-lightbox" id="info-baliky-internet">
		<h2>
			BALÍK INTERNETU SURF 1000</h2>
		Balík internetu Surf 1000 platí 30 dní od aktivácie alebo do vyčerpania 1000 MB dát.<br />
		<br />
		Ak máte ku koncu obdobia dostatočný kredit, balík sa automaticky predĺži o ďalších 30 dní. Pre deaktiváciu balíčka je potrebné zaslať SMS.<br />
		<br />
		Balík je dostupný pre všetky programy Easy a Easy Fix.</div>
	<!-- info-1 -->
	<div class="easy-lightbox" id="info-1">
		<h2>
			AKO TO FUNGUJE?</h2>
		<div>
			Za minútu hovoru platíš 9 centov. Za SMS zaplatíš 6 centov. Ak dosiahneš hranicu 50 centov za volania a SMS do jednej zo sietí v SR (Telekom/Orange/O2/4ka), v daný deň už v tejto sieti viac nezaplatíš.</div>
	</div>
	<!-- info-2 -->
	<div class="easy-lightbox" id="info-2">
		<!-- <h2></h2> -->
		<div>
			Za surfovanie zaplatíš 0,10 €/MB, max. však do 0,50 €. Následne v danom dni surfuješ 200 MB zadarmo. Ak nesurfuješ, neplatíš samozrejme nič. Kedykoľvek si môžeš dokúpiť ďalších 200 MB poslaním SMS v tvare ESTE200 na 12330 alebo využiť <a class="scroll-to link-close" href="#sec-5">Dátové balíčky.</a></div>
	</div>
	<!-- 100 -->
	<div class="easy-lightbox" id="activate-baliky-internet-100">
		<h2>
			RAZ GIGA</h2>
		<div>
			Pošli SMS s textom <span class="semibold magenta">RAZGIGA</span> na <span class="semibold magenta">12330</span>.<br />
			<br />
			<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="RAZGIGA" href="#">Poslať SMS</a></div>
	</div>
	<!-- vzdy giga -->
	<div class="easy-lightbox" id="activate-baliky-internet-500">
		<h2>
			VŽDY GIGA</h2>
		<div>
			Pošli SMS s textom <span class="semibold magenta">GIGA</span> na <span class="semibold magenta">12330</span>.<br />
			<br />
			<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="GIGA" href="#">Poslať SMS</a></div>
	</div>
	<!--  VŽDY 2 GIGA -->
	<div class="easy-lightbox" id="activate-baliky-internet">
		<h2>
			VŽDY 2 GIGA</h2>
		<div>
			Pošli SMS s textom <span class="semibold magenta">2GIGA</span> na <span class="semibold magenta">12330</span><br />
			<br />
			<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="2GIGA" href="#">Poslať SMS</a></div>
	</div>
	<!-- vzdy-giga -->
	<div class="easy-lightbox" id="automaticka-obnova">
		<h2>
			VŽDY GIGA</h2>
		<div>
			Balík sa ti <b>vždy automaticky obnoví</b> na ďalšie obdobie. Obnovovanie balíka si môžeš kedykoľvek deaktivovať poslaním SMS v tvare <span class="semibold magenta">GIGA VYP</span> na <span class="semibold magenta">12330</span>. Po vypršaní balíčka sa ti už ďalší neaktivuje.</div>
	</div>
	<!-- dalsie-apky -->
	<div class="easy-lightbox" id="dalsie-apky">
		<h2>
			VYUŽÍVAJ NEOBMEDZENÉ DÁTA V APKÁCH AKO SÚ:</h2>
		<div>
			Apple Music, YouTube, Netflix, HBO GO, Deezer, Spotify, TIDAL, Markíza+ Videoarchív, Magio GO, DIGI GO, SledovanieTV, Rádio Europa 2, Rádio Expres, Rádio Vlna/Vlna Golden Hits, Rádio Anténa Rock/Anténa HardRock, Rádio Jemné/Jemné Chillout, Detské rádio Žofka a NONSTOP Rádio</div>
	</div>
	<!-- 2giga -->
	<div class="easy-lightbox" id="automaticka-obnova2">
		<h2>
			VŽDY 2 GIGA</h2>
		<div>
			Balík sa ti <b>vždy automaticky obnoví</b> na ďalšie obdobie. Obnovovanie balíka si môžeš kedykoľvek deaktivovať poslaním SMS v tvare <span class="semibold magenta">2GIGA VYP</span> na <span class="semibold magenta">12330</span>. Po vypršaní balíčka sa ti už ďalší neaktivuje.</div>
	</div>
	<!-- dokupenie -->
	<div class="easy-lightbox" id="dalsie-data">
		<h2>
			EŠTE 500</h2>
		<div>
			Po vyčerpaní dát z balíčka si môžeš dokúpiť ďalších 500 MB dát len za 1 €. A to až 4 x. Pošli SMS v tvare <span class="semibold magenta">ESTE500</span> na <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="deactivate-baliky-internet">
		<h2>
			BALÍK INTERNETU SURF 1000</h2>
		<div>
			Pre deaktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">SURF1000 VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="info-baliky-sms">
		<h2>
			NEOBMEDZENÉ SMS</h2>
		Balík Neobmedzené SMS platí 7 dní od aktivácie.<br />
		<br />
		Ak máte ku koncu obdobia dostatočný kredit, balík sa automaticky predĺži o ďalších 7 dní. Pre deaktiváciu balíčka je potrebné zaslať SMS.<br />
		<br />
		Balík je dostupný pre všetky programy Easy a Easy Fix.</div>
	<div class="easy-lightbox" id="activate-baliky-sms">
		<h2>
			NEOBMEDZENÉ SMS</h2>
		<div>
			Pre aktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">SMSALL ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="deactivate-baliky-sms">
		<h2>
			NEOBMEDZENÉ SMS</h2>
		<div>
			Pre deaktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">SMSALL VYP</span> na číslo <span class="semibold magenta">12323</span>.</div>
	</div>
	<div class="easy-lightbox" id="info-baliky-kdeje">
		<h2>
			SLUŽBA KDE JE...</h2>
		<div>
			<div class="bold">
				Pre zistenie polohy vášho dieťaťa pošlite SMS správu s textom<br />
				<span class="magenta">KDE 09xxxxxxxx</span> na číslo <span class="magenta">333</span></div>
			<div class="grey" style="padding-top: 10px">
				Číslo, ktoré zadáte do SMS, je číslo vášho dieťaťa, ktorého polohu chcete zistiť.<br />
				Cena za prijatú SMS s informáciou o polohe je 0,1008 € s DPH.</div>
		</div>
	</div>
	<div class="easy-lightbox" id="activate-baliky-rodic">
		<h2>
			RODIČOVSKÉ SLUŽBY PRE BEZPEČNOSŤ DETÍ</h2>
		<div>
			<div class="bold">
				Pre aktiváciu balíka Rodičovských služieb pošlite bezplatnú SMS správu s textom <span class="magenta">RS 09xxxxxxxx</span> na číslo <span class="magenta">12323</span></div>
			<div class="grey" style="padding-top: 10px">
				Číslo, ktoré zadáte do SMS, je číslo vášho dieťaťa, pre ktoré chcete Rodičovské služby využívať.<br />
				Za balík neplatíte žiadny aktivačný ani mesačný poplatok.</div>
		</div>
	</div>
	<div class="easy-lightbox" id="activate-baliky-s">
		<h2>
			MIX BALÍK S</h2>
		<div>
			Pre aktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">MIXS ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="deactivate-baliky-s">
		<h2>
			MIX BALÍK S</h2>
		<div>
			Pre deaktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">MIXS VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="activate-baliky-m">
		<h2>
			MIX BALÍK M</h2>
		<div>
			Pre aktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">MIXM ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="deactivate-baliky-m">
		<h2>
			MIX BALÍK M</h2>
		<div>
			Pre deaktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">MIXM VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="activate-baliky-l">
		<h2>
			MIX BALÍK L</h2>
		<div>
			Pre aktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">MIXL ZAP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="deactivate-baliky-l">
		<h2>
			MIX BALÍK L</h2>
		<div>
			Pre deaktiváciu zašlite SMS s textom<br />
			<span class="semibold magenta">MIXL VYP</span> na číslo <span class="semibold magenta">12330</span>.</div>
	</div>
	<div class="easy-lightbox" id="info-dobitie-kredit">
		<h2>
			kredit navyše pri dobití cez web</h2>
		<div class="c-text dobi-table">
			<table class="easy-kredit">
				<tbody>
					<tr>
						<td>
							Platba</td>
						<td>
							7,00 €</td>
						<td>
							10,00 €</td>
						<td>
							12,00 €</td>
						<td>
							16,00 €</td>
						<td>
							25,00 €</td>
						<td>
							50,00 €</td>
					</tr>
					<tr>
						<td>
							Kredit</td>
						<td>
							7,00 €</td>
						<td>
							10,20 €</td>
						<td>
							12,42 €</td>
						<td>
							16,80 €</td>
						<td>
							26,75 €</td>
						<td>
							57,50 €</td>
					</tr>
				</tbody>
			</table>
			<div class="kredit-ceny">
				Ceny sú uvedené v € s DPH. Slovak Telekom, a. s., si vyhrazuje právo údaje podľa potreby kedykoľvek aktualizovať.</div>
		</div>
	</div>
	<div class="easy-lightbox" id="info-dobitie-banka">
		<h2>
			DOBITIE BANKOVÝM PREVODOM</h2>
		<div style="padding-top: 20px;">
			Vyberte svoju banku<br />
			<a href="/internetove-dobijanie-taba" target="_blank">Tatra banka</a><br />
			<a href="/internetove-dobijanie-vub" target="_blank">VÚB banka</a><br />
			<a href="https://ib24.csob.sk/" target="_blank">ČSOB</a><br />
			<a href="/internetove-dobijanie-slsp" target="_blank">Slovenská sporiteľna</a><br />
			<a href="https://ib.primabanka.sk/" target="_blank">Prima banka</a></div>
	</div>
	<div class="easy-lightbox" id="info-dobitie-rodic">
		<h2>
			RÝCHLE DOBITIE CEZ SMS</h2>
		<div style="padding-bottom: 20px;">
			Pre rýchle dobitie cez SMS musíte mať aktivovaný Balík rodičovských služieb. Jeho súčasťou sú bezplatné SMS, ktoré vás informujú o výške kreditu dieťaťa v prípade, že jeho kredit klesne pod 0,50 €. Pre rýchle dobitie 12 € kreditu stačí odpovedať na túto SMS správou s textom DOBI</div>
		<h3 style="padding-bottom: 10px;">
			AKTIVÁCIA RODIČOVSKÝCH SLUŽIEB</h3>
		<div style="padding-bottom: 10px;">
			Zašlite bezplatnú SMS s textom <span class="bold">RS 09XXXXXXXX</span> na číslo <span class="bold">12323</span></div>
		<div style="padding-bottom: 10px;color: #6c6c6c">
			Za balík neplatíte žiadny aktivačný ani mesačný poplatok. Číslo, ktoré zadáte do SMS, je číslo vášho dieťaťa, pre ktoré chcete Rodičovské služby využívať.</div>
		<div style="display: none">
			<a href="">Viac info o balíku Rodičovských služieb</a></div>
	</div>
	<div class="easy-lightbox" id="pravidelne-dobijanie">
		<h2>
			AKTIVÁCIA PRAVIDELNÉHO<br />
			DOBÍJANIA</h2>
		<div>
			Pre aktiváciu pravidelného dobíjania<br />
			kreditu z paušálu Happy zavolajte na linku</div>
		<span class="semibold">0800 123 456, voľba 1, 3</span></div>
	<div class="easy-lightbox payment-lightbox" id="cez-web">
		<h2>
			DOBITIE KREDITU CEZ WEB</h2>
		<div class="payment-section">
			<p class="ps__title">
				Platba bankovým prevodom:</p>
			<a class="payment-box" href="/internetove-dobijanie-taba"><img alt="" src="/documents/10179/14135436/ico-payment-tb.png" /></a> <a class="payment-box" href="/internetove-dobijanie-vub"><img alt="" src="/documents/10179/14135436/ico-payment-vub.png" /></a> <a class="payment-box" href="https://ib24.csob.sk/" target="_blank"><img alt="" src="/documents/10179/14135436/ico-payment-csob.png" /></a> <a class="payment-box" href="/internetove-dobijanie-slsp"><img alt="" src="/documents/10179/14135436/ico-payment-sp.png" /></a> <a class="payment-box" href="https://ib.primabanka.sk/ib/(S(15yp3r55nimadv2u1nwj0mmk))/default.aspx" target="_blank"><img alt="" src="/documents/10179/14135436/ico-payment-pb.png" /></a></div>
		<div class="payment-section">
			<p class="ps__title">
				Platba kartami:</p>
			<a class="payment-box payment-box_custom" href="/internetove-dobijanie-karta"><img alt="" src="/documents/10179/14135436/ico-payment-cards.png" /></a></div>
	</div>
</div>
<script type="text/javascript" src="/documents/10179/14135438/fancybox-media.js"></script><!-- <script type="text/javascript" src="/documents/10179/14135438/slider.js"></script>
	<script type="text/javascript" src="/documents/10179/14135438/vypredaj.js"></script> --><!-- Scripts --><script type="text/javascript" src="/documents/10179/14135438/slider.min.js"></script><script type="text/javascript" src="/documents/10179/14135438/main.js?v=6"></script><!-- App Vendor --><script type="text/javascript" src="/documents/10179/12772165/angular.min.js"></script><script type="text/javascript" src="/documents/10179/12772165/angular-resource.min.js"></script><script type="text/javascript" src="/documents/10179/12772165/angular-slick.min.js"></script><!-- App --><script type="text/javascript" src="/documents/10179/12772165/app.module.js"></script><script type="text/javascript" src="/documents/10179/12772165/app.config.js"></script><!-- App core --><script src="/documents/10179/12772165/core.module.js"></script><script src="/documents/10179/12772165/device.module.js"></script><!-- App core-filter --><script src="/documents/10179/12772165/app.filters.js"></script><!-- App core-device --><script src="/documents/10179/12772165/device-slider.module.js"></script><script src="/documents/10179/12772165/device-slider.component.js?v=2"></script><!-- App Data --><script src="/documents/10179/12772165/device.service.js?v=2"></script><script type="text/javascript">
	$(document).on('click', '.tabs > li > a', function(e) {
		var $parent = $(this).parent();
		if ($parent.is('.selected')) {
			e.preventDefault();
			// mobile support
			$(this).closest('ul').addClass('active');
		} else {
			var target = $(this).attr('href');
			e.preventDefault();
			$(target).siblings().removeClass('selected');
			$(target).addClass('selected');

			$parent.siblings().removeClass('selected');
			$parent.addClass('selected');
			// mobile support
			$(this).closest('ul').removeClass('active');
		}
	});
	$(document).ready(function() {
		// initialize_owl($('#owl1'));
		$('a[href="#tabVolaniaSms"]').on('click', function(e) {
			e.preventDefault();
			// initialize_owl($('#owl1'));
		}).on('hide.bs.tab', function() {
			// destroy_owl($('#owl1'));
		});

		$('a[href="#tabInternet"]').on('click', function(e) {
			e.preventDefault();
			// initialize_owl($('#owl2'));
		}).on('hide.bs.tab', function() {
			// destroy_owl($('#owl2'));
		});

		$('a[href="#tabRodSluzby"]').on('click', function(e) {
			e.preventDefault();
			// initialize_owl($('#owl3'));
		}).on('hide.bs.tab', function() {
			// destroy_owl($('#owl3'));
		});
	});
	</script>