/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';

/*@import '_theme';*/


/* Global */

.text_centered {
    text-align: center;
}


/* qtip */

#content .info-link {
    text-decoration: underline;
    cursor: pointer;
}

.tooltip .qtip-content {
    font-size: 14px;
}

#content .no-space {
    margin-top: 0;
    margin-bottom: 0;
}

#content .spec-list {
    margin-left: 0;
    margin-top: 0;
    font-size: 16px;
}

#content .button_grey {
    background-color: #ededed;
    border: 1px solid #b2b2b2;
    color: #383838;
} 


/* HERO */

#hero {
    padding: 55px 2%;
    background: url(../img/kv_pc.jpg) no-repeat 50% 50%;
    background-color: #f5f8fa;
    background-size: cover;
    min-height: 412px;
    overflow: hidden;
    & .hero__title {
        font-size: 38px;
        font-weight: bold;
        margin-bottom: 0;
    }
    & .hero_subtitle {
        font-size: 28px;
        margin-top: 10px;
        text-transform: uppercase;
    }
}

@media (min-width: 768px) {
    #hero .col-md-7 {
        width: 57.33333%;
    }
}

@media screen and (max-width: 768px) {
    #hero {
        min-height: 460px;
    }
}

@media screen and (max-width: 460px) {
    #hero {
        min-height: 570px;
    }
}

#content .list_title {
    font-size: 20px;
    font-weight: bold;
}


/* sec-1 */

.sec-1 {
    margin-bottom: 20px;
}

.sec-1 .col-md-6 {
    border-top: 1px solid #dcdcdc;
    margin-top: 35px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dcdcdc;
}

#content ul {
    margin-left: 0;
}

#content .spec-list-num li {
    padding-left: 33px;
    background-repeat: no-repeat;
}

#content .spec-list-num li:first-child {
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
}

#content .spec-list-num li:nth-child(2) {
    background-image: url(../img/2.png);
    background-repeat: no-repeat;
}

#content .spec-list-num li:nth-child(3) {
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
}

.spec-list li {
    text-indent: -13px;
    padding-left: 33px;
}


/* sec-2 */

.sec-2 {
    padding-bottom: 35px;
}

@media screen and (max-width: 960px) {}
