/* =============== IMPORTS =============== */
/* ===============
CSS FOR MICROSITE
=============== */

.availability {
  input.loading {
    background: #fff url("../img/loading.gif") no-repeat 98% 50%;
  }
}

/* original ui autocomplete list - hide */
ul.ui-menu.ui-autocomplete {
  visibility: hidden !important;
}

#content .availability .results {
  height: 135px;
  width: 100%;
  position: absolute;
  z-index: 100;
  display: none;
  top: 40px;
  padding-right: 6%;
}

#content .availability .results ul {
  margin: 0;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  
  &:empty {
    border: none;
  }
  
  border-top: none;
  border-bottom: none;
}

#content .availability .results li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#content .availability .results li:hover {
  background-color: #f5f5f5;
}

.no-street {
  display: none;
  position: absolute;
  top: 10px;
  font-weight: 600;
  font-size: 1.25rem;
}