#section-shoppingScenario.scenario_2018_cart {
    //background-color: #ededed;

    //LEFT SIDE OF SCREEN
    //CART CONTENT
    .cartheadline {
        color: #000;
        font-weight: 800;
        margin-bottom: 0;
        padding: 0 10px;
        @media ( max-width :991px) {
            padding: 0;
        }
    }
    .cartHead {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid #ededed;
        p {
            color: #b6b4b5;
        }
        .info-ttip {
            width: 18px;
            height: 18px;
            background-color: #b6b4b5;
            display: inline-block;
            text-align: center;
            color: #fff;
            font-weight: 600;
            vertical-align: top;
            margin-top: 12px;
        }
        .right {
            p {
                display: inline-block;
                margin-left: 50px;
            }
        }
    }
    .orderNO,
    .vasHeadline,
    .addServicesHeadline {
        p {
            color: #b6b4b5;
        }
    }

    //program
    .yourProgram {
        .program {
            .program_removeBtn {
                margin: 5px 0;
                padding-top: 5px;
                @media ( max-width :991px) {
                    border-top: 1px solid #ededed;
                }
                p {
                    float: left;
                    margin: 0;
                    color: #b6b4b5;
                }
                .trash {
                    float: right;
                    i {
                        color: #b6b4b5;
                    }
                }
            }
            .leftSide {
                .programLeft,
                .deviceLeft {
                    display: inline-block;
                    margin-bottom: 10px;
                    width: 100%;
                    .programDetail,
                    .deviceDetail, {
                        padding: 10px 15px;
                        border-radius: 8px;
                        display: inline-flex;
                        align-items: center;
                        width: 100%;
                        & .imagePhone {
                            font-family: Tele-Icon;
                            font-size: 62px;
                            color: #e20074;
                            @media ( max-width :543px) {
                                font-size: 2.5em;
                            }
                            @media ( max-width :400px) {
                                font-size: 2em;
                            }
                            @media ( max-width :350px) {
                                font-size: 1.5em;
                            }
                        }
                        &.inCart {
                            border: 1px solid #ededed;
                            background-color: #ededed;
                            transition: all 0.25s ease-in;
                        }
                        &.notInCart {
                            border: 1px solid #b6b4b5;
                            background-color: #fff;
                            transition: all 0.25s ease-out;
                        }
                        img {
                            max-height: 70px;
                            max-width: 100%;
                        }
                        .programInfo,
                        .deviceInfo {
                            @media ( max-width :576px) {
                                min-height: auto;
                            }
                            &.mobDetail .commitment { 
                                font-size: 12px;
                                color: #b6b4b5;;
                            }
                            .mob-text-right {
                                @media ( max-width :543px) {
                                    text-align: right;
                                }
                            }
                            .badgeActivationType {
                                background-color: #e20074;
                                display: inline-block;
                                padding: 2px 7px;
                                p {
                                    color: #fff;
                                    font-size: 14px;
                                    line-height: normal;
                                }
                            }    
                            .activationMSISDN {
                                display: inline-block;
                                margin-left: 5px;
                                @media screen and (max-width: 543px) {
                                    margin-left: 0;
                                }
                            }
                            .refreshNumBtn {
                                i {
                                    color: #4b4b4b;
                                    font-size: 14px;
                                    margin-left: 5px;
                                }
                            }
                            .programName,
                            .deviceName {
                                font-size: 20px;
                            }
                            p {
                                margin: 0;
                            }
                            .commitment,
                            .oneTime,
                            .monthly {
                                font-size: 12px;
                                color: #b6b4b5;
                            }
                            .btn {
                                    margin-top: 10px;
                                    width: 100%;
                                    text-align: center;
                            }
                        }
                        .changeItem {
                            .btn.cta {
                                text-align: center;
                                margin-top: 14px;
                                background-color: #b6b4b5;
                                border: 1px solid #b6b4b5;
                                padding: 2px 10px;
                            }
                        }
                        .btn.cta {
                            @media ( max-width :576px) {
                                max-width: 100%;
                                padding: 8px
                            }
                            @media ( max-width :543px) {
                                max-width: 100%;
                                padding: 5px 20px;
                                margin: 5px 0px;
                                background-color: #b6b4b5;
                                border: 1px solid #b6b4b5;
                            }
                        }
                    }
                }
            }
            .rightSide {
                & p {
                    display: inline-block;
                    margin: 36px 0 36px 50px;
                    min-width: 50px;
                }
                .trash {
                    margin-left: 0;
                    position: absolute;
                    height: 15px;
                    right: 0;
                    margin: 36px 0;
                    font-size: 22px;
                    i {
                        color: #b6b4b5;
                    }
                }
            }
        }
    }

    //VAS
    .vas {
        margin-top: 35px;
        .singleVas {
            .mobVas_removeBtn {
                margin: 5px 0;
                padding-top: 5px;
                border-top: 1px solid #ededed;
                p {
                    float: left;
                    margin: 0;
                    color: #b6b4b5;
                }
                .trash {
                    float: right;
                    i {
                        color: #b6b4b5;
                    }
                }
            }
            .vasWrapper {
                margin-bottom: 15px;
                .leftSide {
                    .vasDetail {
                        background-color: #ededed;
                        border-radius: 8px;
                        display: inline-flex;
                        align-items: center;
                        padding: 10px 15px;
                        width: 100%;
                        &.inCart {
                            border: 1px solid #ededed;
                            background-color: #ededed;
                            transition: all 0.25s ease-in;
                        }
                        &.notInCart {
                            border: 1px solid #b6b4b5;
                            background-color: #fff;
                            transition: all 0.25s ease-out;
                        }
                        .vasImg {
                            img {
                                max-height: 70px;
                                max-width: 100%;
                            }
                            i {
                                color: #e20074;
                                font-size: 48px;
                                @media ( max-width :450px) {
                                    font-size: 32px;
                                }
                                @media ( max-width :350px) {
                                    font-size: 26px;
                                }
                            }
                        }
                        .vasInfo_text {
                            position: relative;
                            .vasName {
                                font-size: 20px;
                            }
                            p {
                                margin: 0;
                            }
                            .text p:nth-of-type(1) {
                                font-size: 12px;
                                color: #b6b4b5;
                                display: inline-block;
                            }
                            .link {
                                margin-top: 25px;
                                display: block;
                                text-decoration: none;
                                @media ( max-width :992px) {
                                    // top: 0;
                                    // bottom: unset;
                                }
                            }
                        }
                    }
                }
                .rightSide {
                    & p {
                        display: inline-block;
                        margin: 36px 0 36px 50px;
                        min-width: 50px;
                    }
                    .trash {
                        margin-left: 0;
                        position: absolute;
                        height: 15px;
                        right: 0;
                        margin: 36px 0;
                        font-size: 22px;
                        i {
                            color: #b6b4b5;
                        }
                    }
                }
            }
            &:last-of-type {
                margin-bottom: 35px;
            }
        }
    }
    //ADDITIONAL SERVICES
    .additionalServices {
        //border-top: 1px solid #ededed;
        @media screen and ( max-width : 543px) {
            padding-bottom: 50px;
        }
        .addServicesHeadline {
            border-top: 1px solid #ededed;
        }
        .servicesWrapper {
            margin-bottom: 30px;
            .serviceContent {
                margin-bottom: 10px;
                padding-right: 10px;
                &:nth-child(3n) {
                    padding-right: 0;
                }
                @media screen and ( min-width : 0px) and ( max-width : 767px) {
                    padding-right: 0;
                }
                // &:nth-child(even) {
                //     @media screen and ( min-width : 0px) and ( max-width : 767px) {
                //         padding: 0;
                //     }
                //     @media screen and ( min-width : 768px) {
                //         padding: 0 10px;
                //     }
                // }
                .mobService_removeBtn {
                    
                    @media screen and ( min-width : 768px) {
                        display: none;
                    }
                    margin: 5px 0;
                    padding-top: 5px;
                    border-top: 1px solid #ededed;
                    p {
                        float: left;
                        margin: 0;
                        color: #b6b4b5;
                    }
                    .trash {
                        float: right;
                        i {
                            color: #b6b4b5;
                        }
                    }
                }
            }
            .service {
                padding: 10px 15px;
                border-radius: 8px;
                &.inCart {
                    border: 1px solid #ededed;
                    background-color: #ededed;
                    transition: all 0.25s ease-in;
                }
                &.notInCart {
                    border: 1px solid #b6b4b5;
                    background-color: #fff;
                    transition: all 0.25s ease-out;
                }
                .serviceName {
                    font-size: 20px;
                    margin-top: 0;
                    line-height: 20px;
                }
                .serviceDetails {
                    position: initial;
                    &:first-child {
                        min-height: 70px;
                        
                    }
                    .link-right {
                        @media ( max-width :768px) {
                            text-align: right;
                        }
                    }
                    div p {
                        margin: 0;
                        font-size: 14px;
                        color: #b6b4b5;
                        & span {
                            font-size: 16px;
                            color: #4b4b4b;
                        }
                    }
                    .link {
                        text-decoration: none;
                        margin-top: 20px;
                        display: block;
                    }
                }
                .addBtn {
                    text-align: right;
                    .trash {
                        margin-top: 16px;
                        display: inline-block;
                        i {
                            font-size: 22px;
                            color: #b6b4b5;
                        }
                    }
                }
            }
        }
    }

    //RIGHT SIDE OF SCREEN
    .r_cartheadline {
        max-height: 30px;
        color: #000;
        padding: 0 5%;
        font-size: 30px;
        margin-bottom: 18px;
        transition: max-height, visibility 0.50s ease-in;
        -webkit-transition: max-height, visibility 0.50s ease-in;
        -moz-transition: max-height, visibility 0.50s ease-in;
        -ms-transition: max-height, visibility 0.50s ease-in;
        -o-transition: max-height, visibility 0.50s ease-in;
        @media screen and (max-width :1199px) {
            margin-bottom: 0;
        }
        &.closed {
            @media screen and (max-width :1199px) {
                max-height: 0;
                transition: max-height 0.25s ease-out;
                border: 0px solid transparent;
                padding: 0px !important;
                margin: 0px !important;
                visibility: hidden;
                -webkit-transition: max-height 0.25s ease-out;
                -moz-transition: max-height 0.25s ease-out;
                -ms-transition: max-height 0.25s ease-out;
                -o-transition: max-height 0.25s ease-out;
            }
        }
    }
    .cartSumm {
        @media screen and (max-width :1199px) {
            border-top: 1px solid #b6b4b5;
            position: fixed;
            bottom: 0;
            z-index: 999;
        }
        &.whiteBg {
            background-color: #fff;
            @media screen and (min-width :1200px) {
                background-color: #ededed;
            }
        }
        .toggleSummTop {
            display: none;
            padding: 0 5%;
            border-bottom: 1px solid #ededed;
            .openSummaryCart {
                text-align: left;
                i {
                    font-size: 36px;
                    color: #e20074;
                    cursor: pointer;
                    transform: rotateZ(180deg);
                }
            }
        }
        .cartSummary {
            padding: 0 5%;
            .r_cartSummary {
                max-height: 71px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid #b6b4b5;
                transition: all 0.50s ease-in;
                -webkit-transition: all 0.50s ease-in;
                -moz-transition: all 0.50s ease-in;
                -ms-transition: all 0.50s ease-in;
                -o-transition: all 0.50s ease-in;
                overflow: hidden;
                &:not(:first-of-type) {
                    padding: 10px 0;
                }
                &:last-of-type {
                    border-bottom: none;
                }
                &.closed {
                    @media screen and (max-width :1199px) {
                        max-height: 0;
                        transition: all 0.25s ease-out;
                        border: 0px solid transparent;
                        padding: 0px !important;
                        visibility: hidden;
                        -webkit-transition: all 0.25s ease-out;
                        -moz-transition: all 0.25s ease-out;
                        -ms-transition: all 0.25s ease-out;
                        -o-transition: all 0.25s ease-out;
                    }
                }
                p {
                    font-size: 18px;
                }
                .right {
                    width: 170px;
                    p {
                        font-size: 16px;
                        display: inline-block;
                        &:first-child {
                            margin-right: 10%;
                            min-width: 60px;
                        }
                        &:last-child {
                            min-width: 13px;
                        }
                    }
                }
            }
            .saveOrder {
                text-decoration: none;
                display: block;
            }
        }
        .cartSummary_bottom {
            padding: 0px 5%;
            @media screen and (max-width :1199px) {
                background-color: #ededed;
            }
            .moreInfo {
                text-align: center;
                display: block;
            }
            .toggleSummBottom {
                width: 33px;
                float: left;
                margin: 10px 0;
                @media screen and (max-width: 543px) {
                    width: 33px;
                }
                .openSummaryCart {
                    text-align: left;
                    margin: 0;
                    i {
                        font-size: 36px;
                        color: #e20074;
                        cursor: pointer;
                        line-height: 28px;
                    }
                }
            }
            .finalizeOrderBtn {
                margin: 10px 0;
                height: auto;
                line-height: normal;
                &.widthFix {
                    width: 100%;
                }
                .btn {
                    display: inline-block;
                    text-align: center;
                    height: auto;
                    line-height: normal;
                    float: right;
                    @media screen and (min-width :1200px) {
                        width: 100%;
                        float: none;
                    }
                    &.widthFix {
                        width: 100%;
                    }
                }
                p.cartheadlineBottom {
                    cursor: pointer;
                    display: inline-block;
                    margin: 4px 0;
                    font-size: 20px;
                    text-align: left;
                    @media screen and (max-width :543px) {
                        
                    }
                }
            }
            .saveOrder {
                display: block;
                margin: 9px auto 0 auto;
                width: 200px;
                float: none;
                &.widthFix {
                    width: 100%;
                    margin-top: 9px;
                }
            }
        }
    }
}

//popup windows
#content #checkService {
    .p-head {
        margin-bottom: 0px;
    }
    .pop_left {
        padding: 70px 30px 20px 50px;
        min-height: 300px;
        border-bottom-left-radius: 11px;
            @media screen and (max-width: 543px) {
                padding: 0 10% 5% 10%;
                min-height: auto;
            }
        h2 {
            color: #000;
            font-weight: 800;
            margin-bottom: 40px;
            @media screen and (max-width: 543px) {
                font-size: 48px;
                margin-bottom: 0;
            }
        }
    }
    .pop_right {
        padding: 70px 30px 20px 50px;
        min-height: 300px;
        background-color: #e20074;
        border-bottom-right-radius: 11px;
        @media screen and (max-width: 543px) {
            border-bottom-left-radius: 11px;
            padding:  0 10% 5% 10%;
            min-height: auto;
        }
        h2 {
            color: #fff;
            font-weight: 800;
            margin-bottom: 40px;
            @media screen and (max-width: 543px) {
                font-size: 48px;
                margin-bottom: 0;
            }
        }
        .btn {
            color: #e20074;
        }
    }
}