/* =============== GLOBAL CONFIG  =============== */
/* ===============
CSS FOR MICROSITE
=============== */
/* GLOBALS */
#content .sec__title {
  text-align: center;
  text-transform: uppercase; }

#content .sec__desc {
  text-align: center;
  margin-top: 0; }

/* HERO SECTION */
#hero {
  background: url(/documents/10179/12868973/kv.jpg) no-repeat 50% 50%;
  padding: 48px 2%;
  overflow: hidden;
  background-size: cover;
  max-height: 254px; }

#hero .container-fixed {
  position: relative; }

.hero__content {
  text-align: center;
  max-width: 460px;
  position: relative; }

#content #hero .link {
  text-decoration: none; }

#content .hero__title b {
  font-weight: 900; }

.ec-header {
  position: absolute;
  top: -36px;
  right: -202px; }

.logo-header {
  position: absolute;
  right: 0;
  top: -48px; }

#content .hero__title, #content .hero__desc {
  color: #262626; }

@media screen and (max-width: 958px) {
  .logo-header {
    right: -25px; } }

@media screen and (max-width: 560px) {
  .logo-header {
    display: none; } }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0;
    max-height: inherit; }
  .hero__mobile {
    background: url(/documents/10179/12868973/kv.jpg) no-repeat 59% 50%;
    height: 195px; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__content {
    padding: 40px 4%; }
  .ec-header {
    top: -81px;
    right: 0px; }
  #hero .btn {
    margin-top: 60px; } }

/* SEC - 1 */
.sec-1 .container-fixed {
  padding-top: 30px; }

#content .sec-1 .sec__title {
  margin-bottom: 0; }

  /* TABS */
  #content .tabs-container ul { list-style: none; }

  #content .tabs-container .tab-link { cursor: pointer; }

  .tab__holder { text-align: center; line-height: 0; }

  .segment .tab__holder {
    text-align: left;
  }

  #content .tabs-menu { height: 40px; clear: both; margin: 0; display: inline-block; }

  #content .segment .tabs-menu {
    height: 39px;
    & li.variant:hover {
      height: 39px;
    }
    & li a {
      padding: 0 20px;
    }
    & li:hover {
      border-bottom: 0px;
      background-color: #ededed;
    }
    & .variant.current {
      background-color: #fff;
      border: 1px solid #b2b2b2;
      border-bottom: 1px solid #fff;
      border-radius: 3px 3px 0 0px;
      & a {
        color: #757575;
      }
      &:hover {
        background-color: #fff;
        height: 40px;
      }
    }
  }

  .tabs-menu li { height: 40px; line-height: 40px; float: left; }

  .tabs-menu li.current { position: relative; border-bottom: 1px solid #dbdbdb; z-index: 5; border-bottom: 4px solid #6bb324; }

  .tabs-menu li:hover { border-bottom: 4px solid #ededed; }

  .tabs-menu li a { font-size: 1em; padding: 0 40px; color: #757575; text-decoration: none; display: inline-block; }

  .tabs-menu li a:hover { color: #383838; }

  .tabs-menu .current a { color: #6bb324; }

  .tab { border-top: 1px solid #dbdbdb; width: 100%; }

  .segment .tab {
    border: none;
  }

  .tab__variant { display: none; }

  .tab__variant.selected { display: block; }

  .tab-content { margin-top: 45px; display: none; }

  .segment .tab-content {
    padding-top: 10px;
    margin-top: 0;
    border: 1px solid #b2b2b2;
  }

  #tab-1 { display: block; }

  @media screen and (max-width: 520px) { #content .tabs-menu { width: 100%; }
    .tabs-menu li:hover { border-bottom: 0; }
    .tabs-menu li, .tabs-menu li.current { width: 100%; border: 1px solid #dbdbdb; border-bottom: 0; }
    .tabs-menu li:last-of-type { border-bottom: 1px solid #dbdbdb; }
    #content .tabs-menu { height: auto; }
    .tab { border: 0; }
    .tabs-menu li a { padding: 0; display: block; } }
  /* TABS END */

  /****************************************/
  /* ACCORDION */
  /****************************************/
  // hide ACCORDION by default
  .accordion {
      display: none;
  }
  @media screen and (max-width: 521px) {
    // hide TABS if window size <768px
    .tabs-container .tab__holder, .tabs-container .tab {
    display: none;
    }
    // show ACCORDION
      .accordion {
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
          margin: auto;
          display: block;
          font-size: 16px;
          padding: 0% 2%;
      & .item .heading {
        height: 45px;
        line-height: 45px;
        cursor: pointer;
        background: url('../img/ico-plus.png') no-repeat;
        background-position: right center;
        border-top: 1px solid #d0d0d0;
        box-sizing: border-box;
        font-weight: 500;
        text-align: left;
        & .ac-price {
              color: #a4a4a4;
              font-weight: normal;
        }
      }
      & .item.open .heading {
        background: url('../img/ico-minus.png') no-repeat;
        background-position: right center;
      }
      & .item.open .content {
         display: block;
      }
      & .content {
        display: none; //default hide for accordions
        padding-bottom: 15px;
      }

      .content:after {
          content: "";
          display: table;
          clear: both;
      }
      .p-detail {
        & p {
            margin-top: 0;
        }
        & p.mb-10 {
            margin-bottom: 10px;
            text-align: left;
        }
      }

      .p-actions {
          width: 100%;
        & .btn {
            margin: 5px 0px;
            width: 100%;
        }
      }

      .p-price-label {
          text-align: left;
        &  .p-price {
            font-size: 20px;
            color: #e20074;
        }
      }
    }
  }

.box__holder {
  display: inline-block; }

.box__holder .box-device:last-of-type {
  margin-left: 5px; }

#content .box-device {
  max-width: 253px;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  float: left; }

#content .box-device:hover {
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer; }

#content .box-device:hover .device__name, #content .box-device:hover .device__params {
  text-decoration: underline; }

#content .box-device .device__name {
  font-weight: bold; }

#content .box-device .img__holder {
  position: relative; }

#content .box-device .img__ec {
  position: absolute;
  top: 20px;
  right: 16px; }

#content .box-device .device__params {
  margin: 0;
  font-size: 16px; }

#content .box-device .pricing__title {
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0; }

#content .box-device .pricing-table {
  font-size: 16px;
  text-align: left;
  width: 100%; }

#content .box-device .pricing-table td {
  padding: 0;
  line-height: 100%; }

#content .box-device .pricing-table tr:nth-last-of-type(2) td {
  padding-bottom: 5px;
}

#content .box-device .pricing-table .no-margin td {
  line-height: 15px; }

#content .box-device .pricing-table .inner-head {
  font-weight: bold; }

#content .box-device .pricing-table tr td:last-of-type {
  text-align: right; }

#content .box-device .pricing-table .magenta-text {
  color: #e20074; }

#content .box-device .pricing-table .magenta-text td {
  padding-bottom: 10px; }

#content .box-device .pricing-table .one-time-payment {
  border-top: 1px solid #d0d0d0;
  color: $magenta; }

#content .box-device .pricing-table .one-time-payment td {
  padding: 5px 0; }

#content .device-1 .device__name {
  padding: 10px 0 12px 0; }

.info-box__holder {
  text-align: center; }

.info-box {
  background-color: #fff6d5;
  padding: 1px 8px;
  display: inline-block; }

#content .info {
  color: #e20074;
  padding-left: 30px;
  text-align: left;
  background: url("/documents/10179/12868973/ico-info.png") no-repeat center left; }

#content .bottom-button-holder {
  text-align: center;
  max-width: 297px;
  margin: 10px auto 0 auto; }

#content .bottom-button-holder .btn {
  width: 100%;
  padding: 8px 0; }

#content .bottom-button-holder .btn:last-of-type {
  margin-top: 10px; }

@media screen and (max-width: 526px) {
  #content .box-device {
    float: none; }
  #content .device-1 {
    margin-bottom: 20px; } }

@media screen and (max-width: 520px) {
  .tabs-menu li, .tabs-menu li.current, .tabs-menu li:hover {
    border: 1px solid #dbdbdb;
    border-bottom: 0;
    border-radius: 3px 3px 0 0; }
  .tabs-menu li:last-of-type {
    border: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px; } }

/* SEC - 2 */
.sec-2 {
  margin-bottom: 40px; }

.sec-2 .container-fixed {
  border-top: 1px solid #d0d0d0;
  padding-top: 30px;
  margin-top: 20px; }

.item {
  text-align: center; }

#content .item p {
  margin: 0; }

#content .left-text {
  text-align: left;
  font-size: 16px;
  display: inline-block;
  margin: 0 auto; }

.sec-2 .col-md-4:nth-of-type(2) {
  position: relative; }

.sec-2 .col-md-4:nth-of-type(2):before, .sec-2 .col-md-4:nth-of-type(2):after {
  background: url("/documents/10179/12868973/ico-arrow-right.jpg") no-repeat;
  width: 54px;
  height: 41px;
  position: absolute;
  content: '';
  top: 10px;
  left: -22px; }

.sec-2 .col-md-4:nth-of-type(2):after {
  left: auto;
  right: -22px; }

@media screen and (max-width: 768px) {
  .item .col-md-4:nth-of-type(2) {
    margin: 20px 0; }
  .sec-2 .col-md-4:nth-of-type(2):before, .sec-2 .col-md-4:nth-of-type(2):after {
    display: none; } }

/* SEC - PROD DET */
#content .back-holder {
  margin: 20px 0; }

#content .back-holder a {
  background: url("/documents/10179/12868973/arrow-back.png") no-repeat center left;
  padding-left: 15px; }

.box-pricing {
  display: inline-block;
  width: 100%; }

.bp__content {
  padding: 20px 0;
  display: flex; }

.bp__inner-section {
  width: 47%;
  float: left;
  padding: 0 2%;
  position: relative; }

// OVERLAY VYPREDANE
.overlay {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: inherit;
  background-color: rgba(255,255,255, 0.8);
  text-align: center;
    & img {
      max-width: 100%;
      max-height: 100%;
    }
  }
// OVERLAY VYPREDANE END

.bp__inner-section:nth-of-type(2) {
  width: 100%;
  max-width: 510px;
  & a {
    padding: 8px 80px !important;
  }
}

#content .bpis__title {
  font-size: 22px;
  font-weight: bold;
  color: #242424;
  margin: 0 0 5px 0;
  line-height: 100%; }

#content .sec-det .box-device {
  padding: 0;
  max-width: 220px;
  width: 100%;
  border: 0;
  display: inline-block;
}

#content .sec-det .box-device:nth-last-of-type(2) {
  margin-left: 20px;
  @media screen and (max-width: 637px) {
    margin-left: 0%;
  }
}

#content .sec-det .box-device:hover {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default; }

#content .sec-det .box-device:hover .device__name, #content .sec-det .box-device:hover .device__params {
  text-decoration: none; }

#content .sec-det .box-device .cta {
  width: 100%;
  max-width: 297px;
  margin-top: 5px;
}

#content .sec-det .info-box {
  padding: 8px;
  margin-top: 66px; }

#content .sec-det .info-box p {
  margin: 0;
  color: #e20074;
  line-height: 18px; }

@media screen and (max-width: 880px) {
  .bp__inner-section, .bp__inner-section:nth-of-type(2), .bp__inner-section:nth-of-type(3) {
    width: 100%;
    float: left;
    padding: 0 2%; }
  .bp__inner-section:nth-of-type(2), .bp__inner-section:nth-of-type(3) {
    text-align: center; }
  #content .sec-det .box-device {
    margin: 0 auto;
    max-width: 270px;
    float: none;
    vertical-align: top;
}
  #content .sec-det .info-box {
    margin-top: 0; }
  #content .sec-det .info-box img {
    display: inline-block;
    vertical-align: bottom; }
  #content .sec-det .info-box p {
    display: inline-block; }
  .bp__content {
    display: inherit;
    width: 100%; }
  .bp__inner-section:nth-child(2) {
    max-width: inherit;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 20px 2%;
    margin: 20px 0; }
  .ec-gallery {
    display: none;
  }
  .full__holder {
    padding-left: 8%;
  }
}

/* ZOOM GALLERY */
.gallery {
  position: relative; }

.zoomWindowContainer div {
  top: -69px !important; }

.thumbnails {
  float: left;
  padding-right: 10px;
  width: 21%; }

.full__holder {
  float: left;
  width: 79%;
  position: relative;
  //margin-top: 30px;
}

.ec-gallery {
  position: absolute;
  top: 0px;
  right: 10px;
}

.preview {
  width: 45px;
  height: 53px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #cfcfcf;
  display: flex;
  cursor: pointer; }

.preview img {
  width: 43px;
  height: 53px; }

.preview:last-child {
  margin-bottom: 0; }

.zoomLens {
  cursor: zoom-in !important; }

.full {
  max-width: 313px;
  width: 100%;
  font-size: 12px;
  float: left;
  margin: 0 auto; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.controlls {
  display: none; }

@media screen and (max-width: 768px) {
  .indicator {
    background-color: #d0d0d0;
    height: 3px;
    width: 100%; }
  .indicator:after {
    content: "";
    display: table;
    clear: both; }
  .in__content {
    background-color: #e20074;
    height: 3px; }
  #content .controlls a {
    color: #383838;
    font-size: 18px; }
  .controlls {
    display: block; }
  .control__holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #content .img-size {
    display: inline-block; }
  .full__holder {
    text-align: center;
    width: auto;
    margin-top: 0;
    padding-left: 0;
    float: none; }
  .full {
    float: none; }
  .thumbnails {
    display: none; }
  .ec-gallery {
    left: 90%;
  }
}

/* SEC DET 2 */
#content .sec-det-2 .tabs-container {
  margin-bottom: 40px;
}

#content .sec-det-2 .feat-text .feat-tit {
  margin: 0 0 5px 0;
  font-weight: bold; }



#content .sec-det-2 .feat {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0 60px;
  border-bottom: 1px solid #b2b2b2;
  @media screen and (max-width: 521px) {
    margin: 0;
    flex-direction: column;
  }
}

#content .sec-det-2 .feat.feat-img-left .feat-img-holder {
  order: 1; }

#content .sec-det-2 .feat.feat-img-left .feat-text-holder {
  order: 2; }

#content .sec-det-2 .feat .feat-text-holder {
  float: left;
  width: 50%;
    @media screen and (max-width: 521px) {
      width: 100%;
      float: none;
      display: block;
      margin-top: 10px;
      order: 2;
    }
}

#content .sec-det-2 .feat .feat-img-holder {
  float: left;
  width: 50%;
  text-align: center;
  margin: 0 20px;
  @media screen and (max-width: 521px) {
    width: 100%;
    float: none;
    display: block;
  }
}

#content .sec-det-2 .feat .feat-img-holder img {
  max-width: 100%; }

#content .sec-det-2 .feat:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .feat:last-of-type {
  border-bottom: 0; }

#content .sec-det-2 .feature-to-holder {
  padding: 80px 0;
  margin: 0 60px;
  border-bottom: 1px solid #b2b2b2;
    @media screen and (max-width: 521px) {
      margin: 0 10px;
      padding: 20px 0;
    }
}
#content .sec-det-2 .feature-to-holder:last-of-type {
  border-bottom: none;
}


#content .sec-det-2 .feature-to-holder:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .table-holder {
  margin: 30px 40px 0 40px;
  @media screen and (max-width: 521px) {
    width: 100%;
    float: none;
    display: block;
    margin: 0;
  }
}



#content .sec-det-2 .table-holder:first-of-type {
  margin-top: 30px;
}

#content .sec-det-2 .table-holder:last-of-type {
  margin-bottom: 50px; }

#content .sec-det-2 .table-holder .table-params {
  font-size: 16px;
  width: 100%; }

#content .sec-det-2 .table-holder .table-params th {
  border-bottom: 1px solid #b2b2b2;
  color: #262626;
  font-weight: 500; }

#content .sec-det-2 .table-holder .table-params td {
  padding: 2px 0;
  border-bottom: 1px solid #d0d0d0; }

 




#content .sec-det-2 .table-holder .table-params tr td:first-of-type {
  //width: 269px;
}

#content .sec-det-2 .order-info-holder {
  margin: 20px 40px; }

#content .sec-det-2 .order-info-holder .order-info-wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto; }

#content .sec-det-2 .order-info-holder .order-info-wrapper:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .order-info-holder .order-info-wrapper .col-md-4 {
  text-align: center; }

#content .order-info-wrapper .col-md-4 .order-subheading {
  margin: 0px;
}

#content .order-info-wrapper .col-md-4 p {
  margin-top: 0px;
}

// @media screen and (max-width: 767px) {
//   #content .sec-det-2 .feature-to-holder {
//     padding: 40px 0; }
//   #content .sec-det-2 .feature-to-holder .feat-text {
//     max-width: none; }
//   #content .sec-det-2 .feature-to-holder .feat-text-only:first-of-type {
//     margin-bottom: 25px; }
//   #content .sec-det-2 .table-holder tr td:first-of-type {
//     width: auto !important; }
//   #content .sec-det-2 .order-info-holder .col-md-4:nth-of-type(2) {
//     margin: 20px 0; } }

// @media screen and (max-width: 520px) {
//   #content .sec-det-2 .tab__holder {
//     margin-bottom: 20px; }
//   #content .sec-det-2 .tabs-menu li {
//     border: 1px solid #b2b2b2; }
//   #content .sec-det-2 .tabs-menu li:hover, #content .sec-det-2 .tabs-menu li.current {
//     background-color: #ededed;
//     border: 1px solid #b2b2b2; }
//   #content .sec-det-2 .tabs-menu li.current {
//     background-color: #ededed; }
//   #content .sec-det-2 .tabs-menu li:first-of-type {
//     border-radius: 3px 3px 0 0;
//     border-bottom: 0; }
//   #content .sec-det-2 .tabs-menu li:nth-of-type(2) {
//     border-radius: 0;
//     border-bottom: 0; }
//   #content .sec-det-2 .tabs-menu li:last-of-type {
//     border-radius: 0 0 3px 3px; } }

.thumbnails a.selected {
  background-color: #ddd;
}

.text-green {
  color: #6bb324;
}


/* Tip */
#content {
  & .tip {
    background-color: #fff2cc;
    padding: 1% 3%;
    margin: 4% 0% 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #c0aa69;
    display: inline-block;
    & p {
    color: #000;
    }
    @media screen and (max-width: 550px) {
      margin: 9% 0% 4% 0%;
    }
  }
}
/* Tip END */
