<!-- <section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <h2 class="sec__title">Sprite test</h2>
        <div class="ico-magenta"></div>
        <div class="ico-edit-chytry-balik"></div>
        <div class="ico-edit-happy-pausaly"></div>
        <div class="ico-edit-magio-internet"></div>
        <div class="ico-edit-magio-televizia"></div>
        <div class="ico-edit-mobilne-telefony"></div>
        <div class="ico-edit-forum"></div>
        <div class="ico-edit-moj-telekom"></div>
        <div class="ico-edit-wiki"></div>
        <div class="ico-magenta-mala"></div>
        <div class="ico-edit-chytry-balik-small"></div>
        <div class="ico-edit-happy-pausaly-small"></div>
        <div class="ico-edit-magio-internet-small"></div>
        <div class="ico-edit-magio-televizia-small"></div>
        <div class="ico-edit-mobilne-telefony-small"></div>
        <div class="ico-edit-search-small"></div>
        <div class="ico-edit-wiki-small"></div>
        <div class="ico-edit-facebook"></div>
        <div class="ico-edit-google-plus"></div>
        <div class="ico-edit-linkedin"></div>
        <div class="ico-edit-twitter"></div>
        <div class="ico-moj-telekom-small"></div>
    </div>
</section> -->
<section class="header-01">
    <div class="tiles-wrapper clearfix" style="margin-top: 0px;">
        <div class="tiles tiles-big">
            <a href="/volania/happy#sec-2">
                <i class="fa hp-happy_"></i>Mobilné paušály</a>
            <a href="/internet/magio-internet">
                <i class="fa hp-net_"></i>Magio internet</a>
            <a href="/televizia/magio-televizia">
                <i class="fa hp-lcd_"></i>Magio televízia</a>
            <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw">
                <i class="fa hp-smartphone_"></i>Mobilné telefóny</a>
            <a href="/chytry-balik">
                <i class="fa hp-package_"></i>Chytrý balík</a>
            <a href="/magenta1#sec-2">
                <i class="fa hp-magenta_"></i>Magenta 1</a>
            <a href="/wiki" class="hp-wiki-anchor tile-white">
                <i class="fa fa-graduation-cap_"></i>Wiki</a>
            <a href="/mobilkazdyrok" class="tile-double tile-right">
                <img src="/image/journal/article?img_id=2774115&amp;t=1469175885726" alt=""></a>
            <a class="hp-search-anchor tile-white">
                <i class="fa fa-search_"></i>Vyhľadať</a>
            <a href="/wiki" class="hp-wiki-anchor responsive tile-white">
                <i class="fa fa-graduation-cap_"></i>Wiki</a>
            <a href="/web/mojtelekom/dashboard" class="hp-my-telekom-anchor tile-double">
                <i class="fa fa-moj-telekom_"></i>Môj Telekom</a>
        </div>
        <div class="tiles tiles-other">
            <a href="/web/mojtelekom/dashboard" class="hp-my-telekom-anchor">
                <i class="fa fa-moj-telekom_"></i>Môj Telekom</a>
            <a href="https://forum.telekom.sk/?utm_source=telekom.sk&amp;utm_medium=sticker&amp;utm_content=titulka_sticker&amp;utm_campaign=forum_promo" class="">
                <i class="fa fa-comments_"></i>Telekom Fórum</a>
            <a href="/wiki" class="hp-wiki-anchor">
                <i class="fa fa-graduation-cap_"></i>Wiki</a>
            <div class="tiles tiles-small">
                <a class="tile-small" href="https://www.facebook.com/telekom.sk" onclick="">
                    <i class="fa fa-facebook_"></i></a>
                <a class="tile-small" href="https://twitter.com/telekomsk" onclick="return shareToTwitter()"><i class="fa fa-twitter_"></i></a>
                <a class="tile-small" href="https://www.linkedin.com/company/telekomsk" onclick="return shareToLinkedIn()"><i class="fa fa-linkedin_"></i></a>
                <a class="tile-small" href="https://plus.google.com/+telekomsk/posts" onclick="return shareToGooglePlus()"><i class="fa fa-google_"></i></a>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
