<script src="https://m.telekom.sk/wb/happy6/happy.js"></script>
<script src="https://m.telekom.sk/wb/happy6/form.js"></script>
<div class="c-row c-row-top hero">
    <div class="c-content">
        <div class="hero__content">
            <h1>MOBILNÉ HAPPY PAUŠÁLY</h1>
            <p class="hero__desc">S paušálmi Happy teraz voláte a esemeskujete v Česku, Maďarsku, Poľsku a Rakúsku v rámci voľných minút a SMS. Po ich minutí voláte a esemeskujete za ceny ako doma!</p>
            <a class="button button-green" href="" id="show-happy">POZRIEŤ PAUŠÁLY</a>
        </div>
    </div>
</div>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">OBĽÚBENÉ PAUŠÁLY</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">ZÁKLADNÉ PAUŠÁLY</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">PRE NÁROČNÝCH</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">AKCIE</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/520299/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section" id="sec-1">
    <div class="c-row c-row-1">
        <div class="c-content">
            <h2>
				VÝHODY PAUŠÁLOV HAPPY</h2>
            <div class="tiles-a">
                <div class="c-tile c-tile-1">
                    <div class="c-tile-img">
                        <img src="/documents/10179/642134/vyhody_sused.png" /></div>
                    <div class="c-tile-head">
                        <h3>
							U susedov ako doma</h3>
                    </div>
                    <div class="c-tile-desc">
                        Volajte a SMS-kujte <span class="roaming-info">v susedných štátoch</span> v rámci voľných minút. Po ich minutí máte ceny ako doma!</div>
                </div>
                <div class="c-tile c-tile-2">
                    <div class="c-tile-img">
                        <img src="/documents/10179/642134/vyhody_volania.png" /></div>
                    <div class="c-tile-head">
                        <h3>
							Neobmedzené volania</h3>
                    </div>
                    <div class="c-tile-desc">
                        do mobilnej a pevnej siete Telekom</div>
                </div>
                <div class="c-tile c-tile-3">
                    <div class="c-tile-img">
                        <img src="/documents/10179/591712/vyhody_zlava10.png" /></div>
                    <div class="c-tile-head">
                        <h3>
							zľava do výšky 10 €</h3>
                    </div>
                    <div class="c-tile-desc">
                        na paušál bez nového telefónu</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="sec-5">
    <div class="c-row c-row-3">
        <div class="c-content">
            <div class="header">
                <h2>
					AKTUÁLNE AKCIE</h2>
            </div>

            <div class="box__item box__custom-full">
                <div class="box__content">
                    <p class="box__title">U susedov za ceny ako doma!</p>
                    <p class="box__desc">S paušálmi Happy voláte a esemeskujete v Česku, Maďarsku, Poľsku a Rakúsku v rámci voľných minút a SMS. Po ich minutí voláte a esemeskujete za ceny ako doma!</p>
                    <a class="button button-green" href="" id="show-happy">MÁM ZÁUJEM</a>
                </div>
            </div>

            <div class="col-gr">
                <div class="box__item col-left">
                    <div class="content-holder">
                        <p class="box__title">Neobmedzené volania z Pevnej linky</p>
                        <p class="box__desc">a navyše štýlový telefón získate k paušálu Happy</p>
                        <a class="link link_dark" href="/volania/pevna-linka/vtech-retro">Prejsť na ponuku</a>
                    </div>
                </div>

                <div class="box__item col-right">
                    <div class="content-holder">
                        <p class="box__title">Čakanie na nový mobil skracujeme o polovicu</p>
                        <p class="box__desc">Nečakajte 24 mesiacov a vezmite si nový mobil už po roku s novou službou Mobil každý rok.</p>
                        <a class="link" href="/mobilkazdyrok">Môžem už získať nový mobil?</a>
                    </div>
                </div>
            </div>

            <div class="header">
                <h2 class="grey">
					EXTRA AKCIE PRI KÚPE CEZ WEB</h2>
            </div>
            <div>
                <div class="col-2 col-c">
                    <div class="box__item box__custom-sizes">
                        <p class="box__title">
                            Zdieľanie dát z paušálu zadarmo!</p>
                        <img class="img-share" alt=" " src="/documents/10179/642134/ikonky-zdielanie.png" />
                        <p class="box__desc">
                            Nemáte Wi-Fi a chcete so svojim blízkym naraz surfovať na svojom telefóne aj tablete? Odteraz už môžete. Zdieľanie dát v ďalšom zariadení získate ku každému novému paušálu Happy L, XL volania, XL, XXL a Profi na 24 mesiacov zadarmo.
                            <br />
                            <b>Za dva roky ušetríte vyše 70 €!</b></p>
                        <a class="button button-green" href="/objednavka/-/scenario/e-shop/happy">PREJSŤ NA PAUŠÁLY</a></div>
                </div>
                <div class="col-2 col-2_right col-c">
                    <div class="box__item box__item_power-bank">
                        <div class="content-holder">
                            <p class="box__title">
                                Power Bank ako darček</p>
                            <p class="box__desc">
                                Pri kúpe paušálu Happy L, XL volania, XL, XXL alebo Profi cez web, získate externú batériu pre smartfóny a tablety za 0,04 €. Tenká batéria zo zliatiny hliníka má kapacitu 2600 mAh a výstup DC5V/1A.</p>
                            <a class="button button-green" href="/volania/happy/akcie/powerbank">MÁM ZÁUJEM</a></div>
                    </div>
                    <div class="margin_top20px">
                        <div class="col-2 col-2_custom col-c">
                            <div class="box__item box__item_fixed">
                                <p class="box__title">
                                    Bezplatné volania na 3 čísla len za 5,99 € mesačne!</p>
                                <p class="box__desc">
                                    S paušálom Happy XS Mini voláte bezplatne až na 3 čísla do akejkoľvek mobilnej siete v SR.</p>
                                <a href="/happy-xs-mini ">Viac o Happy XS Mini</a></div>
                        </div>
                        <div class="col-2 col-2_custom col-2_right col-c">
                            <div class="box__item box__item_fixed">
                                <p class="box__title">
                                    Výpredaj mobilov za super ceny</p>
                                <p class="box__desc">
                                    Len na webe si môžete vybrať z mobilov už od 1 € k šikovnému paušálu Happy XS Mini alebo Easy karte.</p>
                                <a href="/vypredaj-telefonov ">Prejsť na ponuku</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<link rel="stylesheet" href="/documents/10179/642134/happy6.css">
<link rel="stylesheet" href="https://m.telekom.sk/wb/happy6/css/happy6_table.css">

<script type="text/javascript" src="../assets/js/main.js"></script>