<section id="sec-1" class="section sec-1">
  <div class="container-fixed">
    <div class="hero">
      <div class="headline-wrapper">
        <h2 class="sec__title text-center headline">
          BUĎTE PRVÝ, PREDOBJEDNAJTE<br />
          SI NOVÝ IPHONE SE UŽ TERAZ
        </h2>
        <img class="img" src="../assets/img/logo-iphone.png" alt="" />
      </div>

      <p class="offer">K PAUŠÁLOM ÁNO</p>
    </div>
  </div>
</section>

<section id="sec-2" class="section sec-2">
  <div class="container-fixed">
    <div class="content clearfix">
      <div class="col-md-6 imgwrapper">
        <div class="data">
          <img class="device" alt="" src="../assets/img/device.jpg" />
          <a class="ttp" style="cursor: default;" href="#">
            <img
              class="ttp ec"
              href="#"
              id="info-exclusiveoffer"
              alt=""
              src="../assets/img/ec_20e.png"
            />
          </a>
        </div>
      </div>
      <div class="col-md-6 textwrapper">
        <p class="text">
          Predobjednajte si nezáväzne nový iPhone SE k paušálom ÁNO a získate
          <b>web zľavu do 20&nbsp;€</b>.
        </p>
        <p class="legal">
          Vyplňte, prosím, nasledovné údaje, budeme vás kontaktovať kvôli
          potvrdeniu predobjednávky.
        </p>

        <div class="contact-form-wrapper">
          <form id="contact-form">
            <div class="form-group useremail">
              <label for="useremail" class="input-label">Váš email</label>
              <input
                id="useremail"
                class="input"
                type="email"
                name="useremail"
              />
            </div>

            <div class="form-group phoneNum">
              <label for="phoneNum" class="input-label"
                >Vaše kontaktné telefónne číslo</label
              >
              <input
                id="phoneNum"
                class="input"
                type="text"
                name="phoneNum"
                maxlength="13"
              />
            </div>

            <div class="form-group checkb">
              <input
                class="termscheck"
                id="termscheck"
                type="checkbox"
                name="termscheck"
              />
              <label for="termscheck"
                >Odoslaním formulára súhlasím s&nbsp;<a
                  href="#"
                  onclick="event.preventDefault(); $('.termstext').toggle('slow')"
                  >Podmienkami</a
                ></label
              >
              <p class="termstext" style="font-size: 12px; display: none;">
                Odoslaním formulára súhlasím, aby ma spoločnosť Slovak Telekom,
                a.s. kontaktovala s detailnou ponukou produktov a služieb, o
                ktoré som týmto prejavil(a) záujem, a to telefonicky, prípadne
                SMS alebo MMS na mnou uvedené telefónne číslo. Potvrdzujem, že
                som používateľom uvedeného telefónneho čísla a mnou poskytnuté
                údaje nie sú údajmi tretích osôb. Viac informácií o ochrane
                osobných údajov nájdete
                <a
                  style="font-size: 12px;"
                  href="https://www.telekom.sk/wiki/ostatne/osobne-udaje-zakaznik"
                  target="_blank"
                  >tu</a
                >.
              </p>
            </div>

            <a href="#" class="btn cta sendfrm">PREDOBJEDNAŤ</a>
          </form>
        </div>
        <div class="mt-30">
          <p><b>Prehľad cien:</b></p>

          <select id="heap">
            <option value="M">s paušálom ÁNO M</option>
            <option value="L">s paušálom ÁNO L</option>
            <option value="XL">s paušálom ÁNO XL</option>
            <option value="XXL">s paušálom ÁNO XXL</option>
          </select>

          <p>
            iPhone SE 64 GB:
            <b
              ><span class="magenta" id="monthly64"> </span> +
              <span id="oneTime64"> </span> akontácia</b
            >
          </p>
          <p>
            iPhone SE 128 GB:
            <b
              ><span class="magenta" id="monthly128"> </span> +
              <span id="oneTime128"> </span> akontácia</b
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/validations.js"></script>
<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
