/* ===============
   CSS FOR MICROSITE
   =============== */

.magenta {
  color: $magenta !important;
}

/* hero bg img */
#sec-1 {
  min-height: 630px;
  background: url(../img/ps5_background.png) center top;
  background-color: #6e6e6e;
  background-repeat: no-repeat;
  background-size: 1366px;
  @media screen and (min-width: 940px) {
    background-position: 50% 0%;
  }
  @media screen and (max-width: 940px) {
    background-position: 50% 0%;
  }
  @media screen and (max-width: 767px) {
    background-position: 50% 50%;
  }
  @media screen and (max-width: 543px) {
    background-position: 50% 0%;
    background-size: 1720px;
    min-height: 330px;
  }
  
  .hero {
    text-align: center;
    position: relative;
    
    .ps5-logo {
      margin-top: 50px;
      
      @media screen and (max-width: 543px) {
        margin-top: 20px;
      }
    }
    
    .headline {
      display: inline-block;
      color: #fff;
      font-weight: bold;
      margin: 48px 0 0 0;
      font-size: 48px;
      //width: auto;
      width: 80%;
      
      @media screen and (max-width: 850px) {
        font-size: 40px;
      }
      
      @media screen and (max-width: 768px) {
        font-size: 48px;
        width: 100%;
      }
      
      @media screen and (max-width: 543px) {
        margin-top: 30px;
        font-size: 31px;
        width: 100%;
      }
      
    }
    
    .subHeadline {
      color: #fff;
      font-size: 28px;
      margin-top: 0;
      @media screen and (max-width: 543px) {
        font-size: 18px;
      }
    }
    
    .img {
      display: inline-block;
      max-width: 110px;
      position: absolute;
      top: 75px;
      margin-left: 15px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    
    .offer {
      color: #fff;
      font-weight: bold;
      background-color: $magenta;
      width: 200px;
      margin: 0 auto;
      display: block;
      font-size: 21px;
    }
  }
}

/* content */
#sec-2 {
  background-color: #f2f2f2;
  
  .content {
    background-color: #fff;
    margin: -300px auto 40px auto;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.1);
    // @media screen and (max-width: 940px) {
    //   margin: -300px 0px 40px 0px;
    // }
    @media screen and (max-width: 543px) {
      margin: -20% 0px 40px 0px;
    }
    
    .imgwrapper {
      padding: 85px 0px 30px 85px;
      @media screen and (max-width: 767px) {
        padding: 30px 0;
      }
      
      .data {
        position: relative;
        @media screen and (max-width: 767px) {
          margin: 0 40px;
        }
        
        img {
          display: block;
          @media screen and (max-width: 767px) {
            margin: 0 auto;
            padding-top: 30px;
          }
          
          &.device {
            max-width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
    
    .textwrapper {
      padding: 85px 85px 85px 43px;
      
      @media screen and (max-width: 767px) {
        padding: 50px 40px;
      }
      
      .text {
        font-size: 21px;
        margin-top: 0;
        
        .desc {
          padding-bottom: 10px;
        }
        
        @media screen and (max-width: 767px) {
          font-size: 16px;
        }
      }
      
      .spacer {
        margin-bottom: 5px;
        display: block;
        font-size: 21px;
      }
      
      .monthly {
        text-align: right;
        display: block;
        font-size: 14px;
        color: #a4a4a4;
      }
      
      .legal {
        margin-top: 20px;
        color: #6c6c6c;
        font-size: 16px;
        line-height: normal;
      }
    }
  }
}

/* contact form */
.contact-form-wrapper {
  padding-top: 20px;
  margin: 0 auto;
  
  #fullName,
  #phoneNum,
  #useremail {
    width: 100%;
  }
  
  .phoneNum {
    padding-bottom: 20px;
  }
  
  .checker {
    height: 30px;
    margin-right: 5px;
    
    span {
      background-color: #fff !important;
    }
  }
  
  .checkb {
    margin: 20px 0;
    
    #termscheck {
      cursor: pointer;
    }
    
    label {
      padding-top: 6px;
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      
      a {
        font-size: 14px !important;
      }
    }
  }
  
  .valid input {
    border: 1px solid green !important;
  }
  
  .valid span.checked {
    border: 1px solid green !important;
  }
  
  .error span {
    border: 1px solid #ffcc00 !important;
  }
  
  .error input {
    border: 1px solid #ffcc00 !important;
  }
  
  label.error {
    font-size: 16px;
    color: #ffcc00;
    display: block;
    padding-top: 6px;
  }
  
  .sendfrm {
    width: 70%;
    text-align: center;
  }
}

section {
  &.ps5 {
    min-height: 500px;
    
    & .flex-row {
      display: flex;
    }
    
    & .flex-col {
      flex: 1;
    }
    
    .desc-row {
      font-size: 18px;
      
      .img-box {
        height: 500px;
        
        &img {
        }
      }
    }
    
    h3 {
      font-size: 22px;
      font-weight: bold;
    }
    
    .text-box-row {
      padding-bottom: 15px;
    }
    
    @media screen and (max-width: 1240px) {
      //min-height: 450px;
    }
    
    @media screen and (max-width: 980px) {
    }
    
    @media screen and (max-width: 600px) {
      & .flex-row {
        flex-wrap: wrap;
      }
      
      .container-fixed {
        width: 100%;
        padding: 0;
      }
    }
  }
}

#sec-3, #sec-5, #sec-7 {
  background-color: #f2f2f2;
  color: #262626;
  
  h3 {
    color: #262626;
  }
  
  .text-box {
    margin-left: 30px;
    margin-top: 70px;
  }
  
  & .flex-left {
    height: 500px;
    position: relative;
    
    & img {
      position: absolute;
      left: -130px;
      width: auto;
    }
  }
  
  @media screen and (max-width: 1240px) {
    & .flex-left {
      height: 450px;
    }
  }
  
  @media screen and (max-width: 980px) {
    
    .text-box {
      margin-top: 30px;
    }
    
    & .flex-left {
      flex: 45%;
      margin-right: 50px;
      
      & img {
        left: -180px;
      }
    }
    
    & .flex-right {
      flex: 55%;
    }
    
  }
  
  @media screen and (max-width: 940px) {
    & .flex-left {
      & img {
        left: -220px;
      }
    }
  }
  
  @media screen and (max-width: 840px) {
    & .flex-left {
      flex: 35%;
      
      & img {
        left: -320px;
      }
    }
    
    & .flex-right {
      flex: 65%;
    }
  }
  
  @media screen and (max-width: 768px) {
    & .flex-left {
      flex: 30%;
      
      & img {
        left: -400px;
      }
    }
    
    & .flex-right {
      flex: 70%;
    }
  }
  
  @media screen and (max-width: 640px) {
    & .flex-left {
      flex: 25%;
      
      & img {
        left: -430px;
      }
    }
    
    & .flex-right {
      flex: 75%;
    }
  }
  
  @media screen and (max-width: 600px) {
    height: auto;
    
    .text-box {
      margin: 30px;
    }
    
    & .flex-left {
      height: auto;
      margin-right: 0;
      margin-left: 0;
      flex: 100%;
      
      & img {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
      }
    }
    
  }
  
}

#sec-3 {
  background-color: #000;
  color: #ffffff;
  
  h3 {
    color: #fff;
  }
  
}

#sec-5 {
  .text-box {
    margin-top: 120px;
  }
  
  @media screen and (max-width: 600px) {
    .text-box {
      margin-top: 30px;
    }
  }
  
}

#sec-4, #sec-6 {
  background-color: #f2f2f2;
  color: #262626;
  
  & .flex-right {
    height: 500px;
    position: relative;
    
    & img {
      position: absolute;
      right: -130px;
    }
  }
  
  h3 {
    color: #262626;
  }
  
  .text-box {
    margin-right: 30px;
    margin-top: 150px;
  }
  
  @media screen and (max-width: 1240px) {
    & .flex-right {
      height: 450px;
      
      & img {
        right: -130px;
      }
    }
  }
  
  @media screen and (max-width: 980px) {
    & .flex-right {
      & img {
        right: -180px;
      }
    }
    
    .text-box {
      margin-left: 20px;
    }
  }
  
  @media screen and (max-width: 940px) {
    & .flex-right {
      & img {
        right: -220px;
      }
    }
  }
  
  @media screen and (max-width: 840px) {
    & .flex-right {
      flex: 35%;
      
      & img {
        right: -320px;
      }
    }
    
    & .flex-left {
      flex: 65%;
    }
    
    .text-box {
      margin-right: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    & .flex-right {
      & img {
        right: -360px;
      }
    }
    
    .text-box {
      margin-right: 100px;
      margin-top: 120px;
    }
    
  }
  
  @media screen and (max-width: 600px) {
    & .flex-right {
      flex: 100%;
      height: auto;
      order: 1;
      
      & img {
        width: 100%;
        height: auto;
        position: relative;
        right: 0;
      }
    }
    
    & .flex-left {
      flex: 100%;
      order: 2;
      height: auto;
      //min-height: 300px;
    }
    
    .text-box {
      margin: 30px;
    }
    
  }
  
}

#sec-6 {
  .text-box {
    margin-top: 90px;
    
    @media screen and (max-width: 768px) {
      margin-top: 60px;
    }
    
    @media screen and (max-width: 600px) {
      margin-top: 0;
    }
    
  }
}

#sec-4 {
  .text-box {
    @media screen and (max-width: 600px) {
      margin-top: 0;
    }
  }
}

@media screen and (max-width: 940px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}

.portlet-content-container {
  margin-bottom: 0;
}