<section id="hero" class="fixed-column">
    <div class="hero__content">
        <h1 class="hero__title"><b>VoLTE</b><br />PILOT</h1>
        <p class="hero__desc">Ako prví na Slovensku sme xx.xx spustili volanie v LTE sieti (tj VoLTE- Voice Over LTE) v komerčnom pilote. Naši vybraní LTE zákazníci môžu už teraz využívať výhody VoLTE Plnú prevázdku VoLTE pre všetkých našich zákazníkov pripravujeme.</p>
    </div>

</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">Aké sú výhody VoLTE?</a></li>
        <li><a class="scroll-to" href="#sec-2">Na čom ešte pracujeme</a></li>
        <li><a class="scroll-to" href="#sec-3">Viac o VoLTE</a></li>
        <li><a class="scroll-to" href="#sec-4">FAQ</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="https://www.telekom.sk/documents/10179/563524/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1 text_centered">
    <div class="fixed-column">
        <p class="section__title">Aké sú výhody VoLTE?</p>
        <div class="grid__col_4">
            <img src="https://www.telekom.sk/documents/10179/563524/ico-1.jpg" alt="">
            <p class="col__title">Najlkvalitnejší zvuk</p>
            <p class="col__desc">S VoLTE máte najkvalitnejší zvuk, je to akoby ten druhý bol hneď vedľa vás. VoLTE má totiž širší rozsah zvuku a dokáže potlačiť</p>
        </div>
        <div class="grid__col_4">
            <img src="https://www.telekom.sk/documents/10179/563524/ico-2.jpg" alt="">
            <p class="col__title">Môžete volať aj súčasne dátovať LTE rýchlosťou</p>
            <p class="col__desc">S VoLTE možete zároveň dátovať aj počas hovoru v našej najrýchlejšej sieti LTE. Toto oceníte napríklad vtedy, keď máte spustenú navigáciu a potrebujete si zavolať.</p>
        </div>
        <div class="grid__col_4">
            <img src="https://www.telekom.sk/documents/10179/563524/ico-3.jpg" alt="">
            <p class="col__title">Rýchlejšie spojenie hovoru</p>
            <p class="col__desc">S VoLTE máte podstatne kratší čas na spojenie hovoru, už nemusíte strácať čas čakaním.</p>
        </div>
    </div>
</section>
<section id="sec-2" class="section sec-2 text_centered">
    <div class="fixed-column">
        <p class="section__title">Na čom ešte pracujeme</p>
        <img src="https://www.telekom.sk/documents/10179/563524/ico-4.png" alt="">
        <p class="section__subtitle">Plynulý prechod medzi LTE a 2G/3G</p>
        <p class="section__sub-desc">V pilotnom riešení zatiaľ nefunguje plynulý prechod zo siete LTE do siete 2G alebo 3G počas hovoru. Na riešení pre plynulý prechod hovoru do 2G alebo 3G siete pracujeme a v plnej prevádzke bude fungovať.</p>
        <div class="info__wrapper">
            <div class="sticker"></div>
            <ul class="font_white text_left">
                <li><img src="https://www.telekom.sk/documents/10179/563524/squares.jpg" alt=""> Na Váš telefón Samsung Galaxy S6 edge nebudú počas trvania pilotu doručované aktualizácie softvéru.</li>
                <li><img src="https://www.telekom.sk/documents/10179/563524/squares.jpg" alt=""> V pilotnej verzii zatiaľ nebudú fungovať služby Volacie tóny, Virtuálne číslo, Zmeškané hovory a Odkazová schránka.</li>
            </ul>
        </div>

    </div>
</section>

<section id="sec-3" class="section sec-3 text_centered">
    <div class="fixed-column">
        <p class="section__title">Viac o VoLTE</p>
        <img src="https://www.telekom.sk/documents/10179/563524/ico-5.png" alt="">
        <p class="section__sub-desc">VoLTE je skratka pre „Voice over LTE“ alebo „hlas cez LTE“. Znamená to, že sa hovor prenáša v dátovej podobe. Volanie cez VoLTE nečerpá váš dátový limit a nestojí vás nič navyše oproti tomu, čo bežne platíte v rámci svojho paušálu. Aktuálne môžu VoLTE v pilotnej fáze využívať vybraní zákazníci Slovak Telekomu s telefónom Samsung Galaxy S6 EDGE.
        </p>
    </div>
</section>

<section id="sec-4" class="section sec-4 text_centered">
    <div class="fixed-column">
        <p class="section__title">FAQ</p>
        <img src="https://www.telekom.sk/documents/10179/563524/ico-6.png" alt="">
        <div class="faq__item">
            <p class="section__subtitle">Čo presne je VoLTE?</p>
            <p class="section__sub-desc">VoLTE je technológia, ktorá umožňuje volať v sieti LTE (Voice over LTE). Volanie vo VoLTE nesptrebováva vaše dáta a stojí bežne ako ktorýkoľvek iný hovor v rámci vášho paušálu.</p>
        </div>
        <div class="faq__item">
            <p class="section__subtitle">Keď VoLTE nespotrebováva moje dáta, prečo potrebujem paušál s dátami?</p>
            <p class="section__sub-desc">Dáta, ktoré vo VoLTE „prevoláte“, sa neodpočítavajú z vášho dátového paušálu podobne ako dáta za prenos MMSiek.</p>
        </div>
        <div class="faq__item">
            <p class="section__subtitle">Ako to funguje, že spojenie hovoru je s VoLTE rýchlejšie?</p>
            <p class="section__sub-desc">Keď nemáte VoLTE, váš telefón musí pri každom hovore prepnúť do 2G alebo do 3G siete, v ktorých prebieha volanie. Keď dotelefonujete, telefón sa vráti do LTE siete. S VoLTE zostávate v LTE sieti, takže môžete okamžite telefonovať a pritom aj surfovať v najvyšších rýchlostiach.</p>
        </div>
        <div class="faq__item">
            <p class="section__subtitle">Keď s niekým volám, musíme byť obidvaja v pokrytí LTE a mať VoLTE telefón?</p>
            <p class="section__sub-desc">S VoLTE sa dovoláte každému, ale plné výhody VoLTE, najmä vysokú kvalitu zvuku si užijete iba vtedy, keď majú VoLTE obidve strany. Ak jeden z vás volá cez VoLTE a druhý volá v 3G sieti, stále máte k dispozícii hlas v HD kvalite vďaka službe HD voice.</p>
        </div>
    </div>
</section>

<script type="text/javascript" src="https://www.telekom.sk/documents/10179/563526/main.js"></script>
