/* ===============
   CSS FOR MICROSITE
   =============== */


/* ===============
    TESTING
=============== */


/* ===============
    RESET & FIX
=============== */

#content * {
    font-size: 16px;
    line-height: 18px;
    outline: 0;
    color: $mine-shaft;
}

#content .tooltip .qtip-content {
    color: #fff;
    font-size: 14px;
    line-height: 14px;
}

#content button:not(.disabled):hover,
#content a.button:not(.disabled):hover,
#content input[type="button"]:not(.disabled):hover,
#content input[type="submit"]:not(.disabled):hover {
    transform: none;
}

#content h2,
#content h3 {
    margin: 0;
}

#footer {
    position: inherit !important;
}

.fixed-column:after {
    content: "";
    display: table;
    clear: both;
}


/* ===============
    GLOBALS
=============== */


/* MISC */

.m-20 {
    margin-top: 20px;
}

.content-page {
    padding: 40px 0;
    display: none;
}

.flex-holder {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

#content .note-legal {
    text-decoration: underline;
}

.mey-legal {
    text-align: left;
    margin-top: 80px;
}

.mey-legal-content {
    display: none;
    margin-top: 10px;
}

.fixed-column {
    width: 620px;
}

.fixed-column_wide {
    width: 960px;
}

.reset-holder {
    margin-bottom: 18px;
    text-align: right;
}

@media screen and (max-width: 960px) {
    .fixed-column_wide {
        width: 96%;
    }
    .fixed-column {
        width: 96%;
    }
}

@media screen and (max-width: 600px) {
    .single-col .flex-holder {
        display: inline-block;
    }
    .startpage-styles .flex-holder {
        display: inline-block;
        text-align: center;
    }
}


/* EC */

.standard-prolong .prod-info,
.standard-prolong-soft .board,
.standard-prolong-soft-non-hw .board,
.number-transfer .board,
.easy-prolong .benefit-holder .board,
.happy_looners .board {
    position: relative;
}

.standard-prolong .ec-standard-prolong {
    position: absolute;
    top: -65px;
    right: -11px;
}

.ec-standard-prolong-soft,
.ec-standard-prolong-soft-non-hw,
.ec-happy_looners {
    position: absolute;
    top: 61px;
    right: 35px;
}

.ec-number-transfer {
    position: absolute;
    top: 137px;
    right: 26px;
}

.ec-easy-prolong {
    position: absolute;
    top: -8px;
    right: -21px;
}

@media screen and (max-width: 600px) {
    .standard-prolong .ec-standard-prolong {
        top: -75px;
        right: -12px;
    }
    .ec-easy-prolong {
        position: absolute;
        top: -87px;
        right: -35px;
    }
}

@media screen and (max-width: 500px) {
    .ec-standard-prolong-soft,
    .ec-happy_looners {
        top: 46px;
        right: 9px;
    }
    .ec-number-transfer {
        top: -15px;
        right: auto;
        left: 0;
    }
}


/* FONTS */

#content .tc {
    text-align: center;
}

#content .tl {
    text-align: left;
}

.text-left {
    display: block;
    text-align: left;
}

.text-right {
    display: block;
    text-align: right;
}

#content .page-title,
#content .page-title b {
    font-size: 28px;
    line-height: 30px;
    color: $magenta;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    #content .page-title,
    #content .page-title b {
        padding-top: 20px;
    }
}

#content .page-title b {
    font-weight: bold;
}

#content .page-title_dark {
    color: $tundora;
}

#content .page-sidetitle {
    color: #fff;
    font-size: 38px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

@media screen and (max-width: 960px) {
    #content .page-sidetitle {
        padding-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    #content .page-sidetitle {
        padding-right: 0;
    }
}

#content .board__form .page-title {
    margin-bottom: 30px;
}

#content .link {
    text-decoration: underline;
    color: $deep-cerulean;
}

#content .link_dark {
    color: $mine-shaft;
}

@media screen and (max-width: 800px) {
    #content .page-sidetitle {
        font-size: 30px;
        line-height: 32px;
    }
}


/* INPUTS & BUTTONS */

.cmb__link {
    display: none;
}

#content .input-text,
#content .btn {
    border-radius: 3px;
}

#content .button_lima {
    line-height: 43px;
}

#content .input-text {
    height: 45px;
    padding: 2px 10px 0;
    color: $tundora;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d0d0d0;
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

#content .input-text.placeholder {
    color: #a9a9a9;
}

#content .input_error {
    border-color: #d90000;
}

#content .input-text:active,
#content .input-text:focus,
#content .input-text:hover {
    border-color: #007faf;
}

#content .btn {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0 10px;
    display: inline-block;
    vertical-align: bottom;
    border-width: 1px;
    border-style: solid;
}

#content .btn:hover {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: #549316;
    border-color: #549316 !important;
    color: #fff;
}

#content .btn-primary {
    background-color: $lima;
    border-color: $lima !important;
    color: #fff;
}

#content .btn-secondary {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-color: #d0d0d0 !important;
    color: $tundora;
}

#content .btn_disabled,
#content .btn_disabled:hover {
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    color: #fff;
    background-color: #b6b6b6;
    border: 1px solid #cdcdcd !important;
    cursor: not-allowed;
}

/* FORMS */

#content .board__form .input-text,
#content .board__form .btn {
    width: 100%;
}

#content .input-label {
    text-align: left;
    margin-bottom: 4px;
}

#content .il_magenta {
    color: $magenta;
    font-weight: bold;
}

.board__form .tooltip-info {
    vertical-align: bottom;
}

#content .board__form .btn {
    margin-top: 8px;
}

#content .error-msg {
    margin-top: 2px;
    color: #ff0000;
    text-align: left;
}

.cmb-confirm .error-msg {
    padding-top: 10px;
    display: none;
}

#content .em-content-page {
    text-align: center;
    margin-top: 10px;
}

#content .info-msg {
    margin-top: 2px;
    color: $silver-chalice;
    text-align: right;
    font-size: 14px;
}

#content .bf__bottom-link {
    margin-top: 10px;
    display: inline-block;
}

.form-holder {
    display: inline-block;
    margin-top: 40px;
}

.form-holder .input-text {
    min-width: 200px;
    margin-right: 8px;
}

@media screen and (max-width: 450px) {
    .form-holder .input-text {
        width: 100%;
        margin: 0 0 10px 0;
    }
    .form-holder .btn {
        width: 100%;
    }
}


/* PROGRESS ICONS */

.progressicon-holder {
    display: inline-block;
    margin-bottom: 16px;
}

.pgicon {
    width: 35px;
    height: 35px;
    display: inline-block;
}

.pgicon:first-of-type {
    background: url(../img/picon-1_active.png) no-repeat;
}

.pgicon:nth-of-type(2) {
    background: url(../img/picon-2_inactive.png) no-repeat;
    position: relative;
    margin: 0 30px;
}

.pgicon:nth-of-type(2):before,
.pgicon:nth-of-type(2):after {
    position: absolute;
    content: '';
    background: url(../img/picon-arrow_inactive.png) no-repeat;
    width: 10px;
    height: 19px;
    top: 8px;
    left: -20px;
}

.pgicon:nth-of-type(2):after {
    right: -20px;
    left: inherit;
}

.pgicon_active:nth-of-type(2) {
    background: url(../img/picon-2_active.png) no-repeat;
}

.pgicon_active:nth-of-type(2):before {
    background: url(../img/picon-arrow_active.png) no-repeat;
}

.pgicon:nth-of-type(3) {
    background: url(../img/picon-3_inactive.png) no-repeat;
}


/* MAGENTA VARIANT */

.progressicon-holder_magenta .pgicon:first-of-type {
    background: url(../img/picon-1_magenta.png) no-repeat;
}

.progressicon-holder_magenta .pgicon:nth-of-type(2) {
    background: url(../img/picon-2_magenta.png) no-repeat;
}

.progressicon-holder_magenta .pgicon:nth-of-type(2):before,
.progressicon-holder_magenta .pgicon:nth-of-type(2):after {
    background: url(../img/picon-arrow_magenta.png) no-repeat;
}

.progressicon-holder_magenta .pgicon:nth-of-type(3) {
    background: url(../img/picon-message.png) no-repeat;
}

.number-transfer .progressicon-holder_magenta .pgicon:first-of-type {
    background: url(../img/picon-3_magenta.png) no-repeat;
}

.number-transfer .progressicon-holder_magenta .pgicon:nth-of-type(2) {
    background: url(../img/picon-4_magenta.png) no-repeat;
}


/* BOARD */

.board {
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.2);
    padding: 27px 24px;
}

.benefit-holder .board {
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 0 0;
}

.board.cmb__lightbox {
    background-color: #fff;
}


/* BENEFITS */

.benefit-holder {
    margin-top: 40px;
}

#content .benefit-holder .page-title {
    margin-bottom: 20px;
}

.benefit__item {
    width: 25%;
    float: left;
    padding: 0 10px;
}

#content .benefit__title {
    margin: 5px 0 0 0;
}

@media screen and (max-width: 600px) {
    .benefit__item {
        width: 100%;
        margin-bottom: 15px;
    }
    .benefit__item:last-of-type {
        margin-bottom: 0;
    }
}


/* ===============
    INDIVIDUAL PAGES
=============== */


/*  STARTPAGE -
    STARTPAGE-VERIF */

.startpage-styles {
    background: url(../img/bg-1.jpg) no-repeat 50% 40%;
    background-size: cover;
}

.startpage-styles .right-panel {
    max-width: 300px;
    width: 40%;
    float: right;
}

.startpage-styles .left-panel {
    max-width: 600px;
    width: 60%;
    float: left;
}

.startpage-verification .number-verification {
    text-align: left;
}

.startpage-verification .text-left {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .startpage-styles .right-panel,
    .startpage-styles .left-panel {
        width: 100%;
        float: none;
    }
    .startpage-styles .left-panel {
        margin-bottom: 15px;
    }
    .startpage-styles .right-panel {
        margin: 0 auto;
    }
}


/* STANDARD PROLONG */

.board-holder {
    position: relative;
}

.bh_small {
    margin: 0 auto;
    max-width: 620px;
    margin-top: 40px;
}

.single-col {
    background: url(../img/bg-2.jpg) no-repeat 50% 40%;
    background-size: cover;
}

.prod-img-holder {
    width: 40%;
}

.prod-img-holder img {
    max-width: 350px;
    width: 100%;
}

.prod-info {
    width: 60%;
}

#content .our-tip,
#content .prod-title {
    margin: 0;
    font-size: 20px;
}

#content .prod-title {
    font-weight: bold;
    text-transform: uppercase;
}

#content .button-holder .btn {
    margin: 10px 0;
}

#content .button-holder .btn:first-of-type {
    margin-right: 10px;
}

#content .pi__title {
    font-size: 24px;
    text-transform: uppercase;
}

.standard-prolong .pi__title {
    padding-top: 15px;
}

#content .more-info-lightbox {
    color: #007FAF;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10px;
}

#content .pi__lightbox ul {
    margin-left: 0;
}

#content .pi__lightbox li {
    color: $tundora;
    margin: 0 0 5px 0;
    padding-left: 14px;
    background: url(../img/ico-ul.png) no-repeat top left;
}

#content .inline-block li {
    display: inline-block;
}

.board__lightbox {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1;
    //background-color: rgba(255, 255, 255, 0.9);
}

.cmb__lightbox {
    display: none;
}

.board__lightbox .prod-img {
    margin-top: 50px;
}

.board__lightbox .prod-detail {
    height: 100%;
    position: relative;
}

#content .lightbox-close {
    background: url(../img/lightbox-close.png) no-repeat;
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
}

#content .cmb__lightbox-close {
    top: 20px;
    right: 20px;
}

@media screen and (max-width: 600px) {
    .board__lightbox {
        height: auto;
    }
    .prod-img-holder,
    .prod-info {
        width: 100%;
    }
    .prod-img-holder {
        margin-bottom: 15px;
    }
}


/* NUMBER TRANSFER */

#content .number-transfer {
    background: url(../img/bg-2a.jpg) no-repeat 50% 40%;
}

#content .happy_looners {
    background: url(../img/bg-2.jpg) no-repeat 50% 40%;
}

@media screen and (max-width: 600px) {
    #content .number-transfer {
        background: url(../img/bg-2.jpg) 50% 40%;
        background-size: cover;
    }
}

.transfer-not-allowed {
    background: url(../img/bg-4.jpg) no-repeat 50% 40%;
}

.transfer-not-allowed-thank-you {
    background: url(../img/bg-5.jpg) no-repeat 50% 40%;
}

#content .number-transfer .btn {
    min-width: 218px;
}


/* NUMBER TRANSFER EASY */

.with-border {
    border: 1px solid #7c7c7c;
    border-radius: 2px;
    padding: 30px;
    position: relative;
}

#content .with-border .btn {
    margin: 30px 0 10px 0;
}

.with-border .ec {
    position: absolute;
    top: 15px;
    right: 15px;
    max-width: 125px;
    width: 100%;
    display: none;
}

@media screen and (max-width: 600px) {
    .with-border .ec {
        top: 80px;
    }
}

@media screen and (max-width: 460px) {
    .with-border .ec {
        display: none;
    }
}


/* MOBIL EVERY YEAR */

.mobil-every-year {
    background: url(../img/bg-6.jpg) no-repeat 50% 40%;
}

.mobil-every-year .input-text {
    min-width: 260px;
    margin-right: 0;
}

.mobil-every-year .search-input {
    position: relative;
}

.mobil-every-year .result {
    display: block;
    position: absolute;
    background-color: #fff;
    text-align: left;
    z-index: 100;
    width: 100%;
    max-height: 200px;
    overflow: auto;
}

.mobil-every-year .result .row {
    padding: 4px 10px;
}

.mobil-every-year .result .row:hover {
    background-color: #e8e8e8;
}

.steps-clearer {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.steps-holder {
    max-width: 330px;
    margin: 0 auto;
    text-align: left;
}

.mey-step {
    clear: both;
}

#content .mey-step:nth-of-type(3) p {
    font-weight: bold;
}

.mey-step img {
    float: left;
    margin-top: 7px;
}

.mey-step p {
    float: right;
    width: 90%;
}

.mobil-every-year .form-holder {
    margin-top: 0;
}

@media screen and (max-width: 380px) {
    .mobil-every-year .input-text {
        min-width: 100%;
    }
}


/* PHONE MAIN */

#phone-main {
    display: none;
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
}

.phone-content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}


/*-------------------------------------------------------*/

#phone-main .image {
    float: right;
    width: 340px;
}

#phone-main .image img {
    max-height: 340px;
    width: auto;
}

#phone-main .properties {
    float: left;
    width: 600px;
    color: #262626;
}

#phone-main .phoneName {
    color: #e20074;
    font-size: 2em;
    line-height: 2em;
}

#change-phone {
    padding-bottom: 20px;
}

.properties .desc {
    padding-bottom: 10px;
}

#phone-main .final,
#phone-main #price {
    font-size: 24px;
    color: #e20074;
    margin-top: 50px;
    font-weight: normal;
}

#price {
    font-weight: bold;
}

.clear {
    clear: both;
}

table .prop {}

table.prop tr {
    height: 35px;
}

table.prop td:first-child {
    min-width: 250px;
}

table.prop td:last-child label {
    min-width: 70px;
    display: inline-block;
}

table.prop td:last-child select {
    width: 250px;
}

.waterbear-theme .prop td {
    padding-left: 2px;
    color: #262626;
}

.page .prop input,
.page .prop label,
.page .prop select,
.page table {
    font-size: 16px;
}


/*-------------------------------------------------------*/

.btn-tooltip {
    width: 130px;
    text-align: center;
    background: black;
    background: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    font-size: 17px;
    line-height: 19px;
    color: white;
    padding: 10px 15px;
}

.qtip.info-tooltip {
    max-width: 340px;
}

.info-tooltip .qtip-tip {
    opacity: .85;
}

.iconinfo {
    width: 15px;
    height: 15px;
    vertical-align: text-top;
    cursor: pointer;
}

.info-tooltip .qtip-content {
    background: black;
    background: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.75);
    font-size: 17px;
    line-height: 19px;
    color: white;
    padding: 10px 15px;
}

.btn-tooltip .qtip-content {
    text-align: center;
}

.btn-nav {
    padding-top: 20px;
}

.btn-nav .desc-top {
    font-weight: bold;
    color: #262626;
    padding-bottom: 10px;
}

.btn-nav .desc-bottom {
    color: #7c7c7c;
    clear: both;
}

.buttons-row .btn-left {
    float: left;
}

.buttons-row .btn-right {
    float: right;
}

#btn-shop {}

#btn-mail {
    margin-left: 20px;
}

#btn-print {
    margin-left: 20px;
}


/*-------------------------------------------------------*/
