/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

.section {
    padding: 20px 0 40px 0;
}
#content .section__title {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
}
#content .sec-1 .section__title,
#content .sec-2 .section__title {
    color: $black;
}
#content .sec-3 .section__title,
#content .sec-6 .section__title {
    color: $white
}
#content .sec-4 .section__title,
#content .sec-5 .section__title {
    color: $black;
}
.info,
.info-2 {
    vertical-align: middle;
}
#content .roaming-info {
    color: #4b4b4b;
    text-decoration: underline;
}
@media screen and (max-width: 500px) {
    #content .section__title {
        font-size: 30px;
    }
}
@media screen and (max-width: 440px) {
    #content .grid-g__col_4 {
        width: 100%;
    }
    .grid-g__col_4.second {
        margin: 0;
    }
}

/* HERO SECTION */

#hero {
    background: url(https://www.telekom.sk/documents/10179/608619/KV.jpg) no-repeat 50% 50%;
    background-size: cover;
    padding: 60px 2%;
}
#content .hero__title {
    color: $magenta;
    font-size: 2.8em;
}
#content .hero__sub-title {
    color: $black;
    font-size: 1.7em;
    font-weight: 900;
    border: 0;
    margin: 0;
    padding: 0;
}
#content .hero__desc {
    color: $black;
    color: #000;
    line-height: 1.2em;
    font-size: 1.2em;
    width: 70%;
}
@media screen and (max-width: 480px) {
    #content .hero__desc {
        width: 100%;
    }
}

/* SECTION 1 */

.sec-1 .item {
    font-size: 18px;
    font-weight: bold;
}
.sec-1 .item:before {
    content: " ";
    background: url(https://www.telekom.sk/documents/10179/608619/ico-pipe.png) no-repeat;
    width: 29px;
    display: inline-block;
    height: 21px;
    margin-right: 5px;
    vertical-align: sub;
}
#content .sec-1 .right {
    float: right;
}
#sec-1 {
    background: #ededed;
}
#content .two-lined-btn {
    font-size: 18px;
    line-height: 20px;
    padding: 5px 45px;
    margin-top: 20px;
    height: initial;
}
@media screen and (max-width: 520px) {
    #content .sec-1 .grid-g__col_6 {
        width: 100%;
    }
}

/* SECTION 2 */


/* PRICING TABLES */

.pc-1 {
    height: 112px;
}
.pc-2 {
    height: 227px;
}
.pc-3 {
    height: 140px;
}
.pc-4 {
    height: 268px;
}
.pricing__cell__row {
    display: inline-block;
    width: 100%;
}
.pricing-table {
    text-align: center;
    background: #e5e5e5;
    padding: 25px 0 10px 0;
}
.pricing-table:hover {
    background: #eee;
}
#content .pricing__title {
    color: $black;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 900;
}
#content .pricing__for {
    margin-bottom: 0;
    font-weight: bold;
}
#content .pricing__position {
    margin-top: 0;
    color: $magenta;
    text-transform: uppercase;
}
.pricing__cell {
    background: $white;
    margin: 0 4% 15px 4%;
    padding: 10px 12px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
#content .pricing__cell__title {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    color: $black;
}
.pricing__cell__title img {
    vertical-align: middle;
}
#content .pricing__cell__sub-title {
    width: 70%;
    margin: 0 auto;
}
#content .pricing__call_1 {
    border-bottom: 1px solid #eaeaea;
    margin: 0 auto;
    width: 75%;
}
#content .pricing__call_2 {
    margin-top: 0;
    margin: 0 auto;
    width: 75%;
}
#content .pricing__cell__title2 {
    color: $black;
    font-weight: bold;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}

/* SECTION 3 */

.sec-3 {
    background: $magenta;
}
.sec-3 .fixed-column {
    width: 50%;
}
#content .sec-3 .section__desc {
    color: $white;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
#content .sec-3 a {
    text-decoration: underline;
    color: $white;
}
@media screen and (max-width: 970px) {
    .sec-3 .fixed-column {
        width: 100%;
    }
}

/* SECTION 4 */

.sec-4 {
    background: #ededed;
}
.grid-g__col_4.second {
    margin: 0 2.127665%;
}
.sec-4 .grid-g__col_4 p {
    font-weight: 500;
}

/* SECTION 5 */

.sec-5 {
    background: #d0d0d0;
}
.sec-5 .grid-g__col_12 {
    color: $black;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* SECTION 6 */

.sec-6 {
    background: url(https://www.telekom.sk/documents/10179/608619/sec__bg.jpg) no-repeat;
    background-size: cover;
}

.sec-6.section {
    padding: 20px 0 0 0;
}
.sec-6 .section__title {
    width: 70%;
    margin: 10px auto;
}

.sec-6 .grid-g__col_12:first-of-type {
    margin-bottom: 30px;
}
.sec-6 .grid-g__col_12 {
    color: $white;
    font-size: 20px;
    font-weight: 500;
}
@media screen and (max-width: 970px) {
    .sec-6 .section__title {
        width: 100%;
    }
}

/* SECTION 7 */

.sec-7 {
    background-color: #ededed;
}
#content .sec-7 .section__sub-title {
    font-size: 30px;
    font-weight: 500;
    color: $black;
    text-transform: uppercase;
}
.sec-7 .grid-g__col_12 {
    color: $black;
    font-size: 20px;
    font-weight: 500;
}
#content .sec-7 .grid-g__col_12 a {
    color: $magenta;
    text-decoration: underline;
}

/* FORM */

#content .waterbear-theme input[type="submit"],
#content .waterbear-theme input[type="submit"]:hover,
#content .waterbear-theme input[type="submit"]:active,
#content .waterbear-theme input[type="submit"]:focus {
    color: #fff !important;
    background: #6bb324 !important;
    border: 1px solid #6bb324 !important;
}
li.dynamicFormItemBox {
    background-color: transparent;
}
.availableFields,
.availableRootFields,
.dynamicFormFields,
.dynamicFormSubFields {
    border: none;
}
.journal-content-article ul {
    list-style: none;
}
.formComposition label.labelField {
    display: block;
}
.page label {
    font-size: 16px;
    color: #fff;
}
.availableFields li,
.availableRootFields li,
.dynamicFormFields li {
    padding: 0;
}
.journal-content-article ul:not(.accordion):not(.content-menu):not(.content-sub-menu):not(.tabs-navi):not(.list-arrow):not(.list-square):not(.toolbox-list) {
    margin: 0;
}
.waterbear-theme input[type="submit"] {
    max-width: 150px!important;
}
.dynamicFormPages {
    display: none;
}
.formCompositionRender .dynamicFormPages .nextPageButtonSpan {
    display: inline;
    width: 100%;
    text-align: left;
}
.formCompositionRender .formFieldValidationResult .error {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
#content #form-holder {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 400px;
    float: none;
}
#content #form-holder h2,
#content #form-holder h4 {
    display: none;
}
.page label {
    font-size: 15px;
}
.formFieldRenderField.inputRenderField {
    text-align: left;
}
.defaultValueField.submitField {
    margin-right: 90px;
}
