/* global */

.desktop {
  @media screen and(max-width: 543px) {
    display: none !important;
  }
}
.mob {
  display: none !important;
  @media screen and(max-width: 543px) {
    display: inherit !important;
  }
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}

/* HERO */
.desk {
  background: url(../img/hero.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.desk_b2b {
  background: url(../img/hero-b2b.jpg) no-repeat 50% 50%;
  background-size: cover;
}
#hero {
  overflow: hidden;
  min-height: 455px;
  padding: 60px 2%;

  & .hero__content {
    display: block;
    text-align: center;
  }
  & .hero__title {
    font-size: 60px;
    line-height: 55px;
    margin-top: 75px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
  }
  & .link {
    color: #3ec0f0;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }

  & .hero__link {
    margin-top: 10px;
    display: inline-block;
    text-decoration: underline;
  }
}

// #hero .hero__title {
//     color: #fff;
// }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 40px 2%;
  }
}

@media screen and (max-width: 768px) {
  #hero .hero__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 543px) {
  #hero {
    min-height: 0;
    background: transparent;
    padding: 0;
    & .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    & .hero__title {
      font-size: 34px;
      line-height: 40px;
      margin-top: 0px;
      padding-bottom: 0;
      text-transform: uppercase;
      color: #fff;
      border: 0;
    }
    .hero__mobile {
      background: url(../img/hero-mobile.jpg) no-repeat 65% 0%;
      height: 195px;
      background-size: cover;
    }
    .hero__mobile_b2b {
      background: url(../img/hero-b2b-mobile.jpg) no-repeat 65% 0%;
      height: 195px;
      background-size: cover;
    }
    .hero__content {
      padding: 40px 4%;
      text-align: center;
      max-width: 100%;
    }
  }
  #content .hero__title,
  #content .hero__desc {
    color: #262626;
  }
}
/* HERO END */

/* CONTENT */

#content {
  #viac-tv-kanalov,
  #senior-linka,
  #infolinky-b2b {
    background-color: #f2f2f2;
  }
  #magio-go,
  #teams-b2b {
    background-color: #000;
    & p {
      color: #fff !important;
    }
    & h2 {
      color: #fff !important;
    }
    & .magenta {
      color: #e20074 !important;
    }
    & h3 {
      color: #e20074 !important;
    }
  }

  & .section {
    & .sec-cont {
      display: flex;
      align-items: center;
      & p {
        font-size: 18px;
      }
      & .sec-img {
        background-size: cover;
        text-align: center;
        min-height: 450px;
      }
      & .sec-content {
        padding: 0 40px;
        & h2 {
          font-size: 22px;
          color: #000;
        }
      }
      & .link {
        display: block;
        margin-top: 10px;
        font-size: 18px;
      }
      & .button-cont {
        margin-top: 20px;
        & a {
          background-color: #6bb324;
          border: 1px solid #65ac20;
          color: #fff;
          text-align: center;
          margin-bottom: 10px;
          min-width: 225px;
        }
        & a:hover {
          background-color: #58951c;
          border: 1px solid #4d8319;
        }
      }
      & .button-white {
        & a {
          background-color: #fff;
          border: 1px solid #262626;
          color: #262626;
          text-align: center;
          margin-bottom: 10px;
          min-width: 225px;
        }
        & a:hover {
          background-color: #ededed;
          border: 1px solid #333;
        }
      }

      & .sec-img {
        & img {
          width: auto;
          max-width: 100%;
          max-height: 383px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      padding: 20px 0;
      & .sec-cont {
        display: block;
        text-align: left;
        & .sec-content {
          padding: 0px;
        }
        & .mobile-pad {
          padding-bottom: 50px;
        }
        & .sec-img {
          text-align: center;
          margin-bottom: 20px;
        }
        & .button-cont {
          text-align: center;
          & a {
            max-width: 400px;
            margin: 0 auto;
          }
        }
        & .button-white {
          text-align: center;
          & a {
            max-width: 400px;
            margin: 10px auto;
          }
        }
      }
    }
  }
}
#content {
  #magio-go {
    padding-bottom: 100px;
    & .sec-img {
      @media screen and (max-width: 768px) {
        min-height: 320px;
      }
    }
  }

  #sec-1,
  #contacts,
  #contacts-b2b {
    padding: 100px 0px;
    background-color: #f2f2f2;
  }
  #sec-info,
  #sec-info-b2b {
    background-color: #f2f2f2;
  }

  #sec-2,
  #sec-info,
  #sec-info-b2b {
    padding: 80px 0 50px 0;
    & h1 {
      font-size: 32px;
      text-align: center;
    }
    /* button */
    .button:active,
    .button:focus,
    .button.is-checked {
      background-color: $magenta !important;
      -webkit-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
      box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
    }

    /* button-group */
    .button-group {
      margin-top: 30px;
      text-align: center;

      .button {
        text-transform: none;
        font-size: 18px;
        background: none;
        border: none;
        color: #000;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        height: auto;
        line-height: 24px;

        padding: 8px 20px;
        margin-left: 5px;
        margin-right: 1px;
        @media screen and (max-width: 768px) {
          float: none;
        }
        @media screen and (max-width: 543px) {
          font-size: 20px;
        }
        @media screen and (max-width: 455px) {
          font-size: 16px;
        }
        @media screen and (max-width: 380px) {
          font-size: 14px;
          padding: 8px 15px;
        }
        &:first-child {
          margin-left: 0;
        }
        &:hover {
          background-color: #dedede;
        }
        &.is-checked {
          color: white;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .item {
      margin: 20px 0px;
    }
    #contacts,
    #contacts-b2b,
    #teams,
    #sec-1,
    #sec-2,
    #sec-info,
    #sec-info-b2b {
      padding: 40px 0px;
    }
  }

  #tab-b2b {
    display: none;
  }
  #contacts-b2b,
  #contacts {
    & .contact-content {
      color: #4b4b4b;
      text-align: left;
      padding: 0 30px;
    }
    & .title {
      color: #4b4b4b !important;
    }
    & p {
      font-size: 18px;
    }
    & .contact-header {
      text-align: center;
      margin-bottom: 30px;
      padding: 0 20px;
      & span {
        background-color: #f2f2f2;
        padding: 0 20px;
      }
    }
    & .link {
      font-size: 18px;
    }
    & .line-header {
      margin-bottom: -33px;
      border-bottom: #d0d0d0 1px solid;
    }
  }

  /* ===============
  SEC-AKCIE
  =============== */
  #sec-akcie-b2b,
  #sec-akcie {
    $magenta: #e20074;
    background-color: #f2f2f2;
    text-align: center;

    h3 {
      color: #4b4b4b;
    }
    .subtitle {
      margin: 15px auto 30px auto;
      max-width: 80%;
      font-size: 18px;
    }
    /* .element-item */
    .element-item {
      height: 495px;
      background-color: #fff;
      display: flex;
      align-items: center;
      flex-direction: column;
      border-radius: 10px;
      width: 31.33%;
      margin: 1%;
      margin-bottom: 1%;
      min-height: 300px;
      color: #262524;
      overflow: hidden;
      position: relative;
      -webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
      float: left;
      @media screen and (max-width: 768px) {
        width: 47%;
        margin: 0 3% 3% 0;
      }
      @media screen and (max-width: 543px) {
        width: 90%;
        margin: 0 5% 3% 5%;
      }
      &:hover {
        -webkit-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
        box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
      }
      .limitedOffer {
        z-index: 10;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        height: 18px;
        background-color: #464646;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        p {
          margin: 0;
          font-size: 14px;
          color: #ededed;
        }
      }
      .name {
        margin-top: 20px;
        font-size: 18px;
        text-align: center;
        line-height: 18px;
        color: #4b4b4b;
        &:hover {
          text-decoration: underline;
        }
      }
      &.magio {
        .btn {
          margin-top: 70px;
        }
        .prices {
          min-height: auto;
        }
      }
      &.easy {
        .btn {
          padding: 8px 23px;
        }
        &#segwayKickScooter {
          .name {
            margin-top: 40px;
          }
          .btn {
            margin-bottom: 36px;
          }
        }
        .prices {
          min-height: auto;
        }
      }
      &.soldOut {
        cursor: default;
        box-shadow: none;
        &:before {
          content: "VYPREDANÉ";
          color: #fff;
          display: flex;
          font-size: 46px;
          font-weight: 800;
          justify-content: center;
          align-items: center;
          position: absolute;
          background-color: rgba(206, 206, 206, 0.8);
          width: 100%;
          height: 100%;
          z-index: 99;
          left: 0;
          top: 0;
          @media screen and (max-width: 900px) {
            font-size: 42px;
          }
        }
        &:hover {
          overflow: hidden;
        }
      }
      &.special {
        background-color: $magenta;
        background-image: url("../img/aktualne-akcie/Pattern_1.png");
        background-repeat: repeat;
        background-size: 80%;
        &.zimnyBalik {
          background-image: url("../img/aktualne-akcie/Pattern_2.png");
          .mainImg {
            height: 138px;
            img {
              position: relative;
              margin-top: -40px;
            }
          }
          .btn {
            margin-top: 19px;
          }
          .name {
            padding-top: 12px;
          }
        }
        p {
          color: #fff;
          z-index: 1;
        }
        .mainImg {
          z-index: 10;
        }
        .prices {
          &-hdl {
            p {
              color: #fff;
            }
          }
          &-row {
            &:nth-of-type(2) {
              .hdl,
              .monthlyWeb {
                color: #fff;
                font-weight: bold;
              }
            }
            .hdl,
            .monthlyStore,
            .oneTimeWeb,
            .oneTimeStore {
              color: #dca6c4;
              font-size: 17px;
            }
          }
        }
        .btn {
          z-index: 10;
        }
        .link {
          color: #6dd7ff;
          z-index: 10;
        }
      }
      &.magenta-bg {
        background-color: #e20074;
      }
      &.textver {
        p {
          font-weight: normal;
          font-size: 18px;
        }
        .mainImg {
          position: relative;
          z-index: 10;
          img {
            min-width: 100%;
          }
        }
        .small-btn {
          padding: 8px;
          position: relative;
          z-index: 10;
        }
        .btn {
          padding: 8px;
          width: 80%;
          position: relative;
          z-index: 10;
        }
        .white {
          margin-top: 10px;
          background-color: #fff;
          border: 1px solid #262626;
          color: #262626;
          text-align: center;
        }
        .white:hover {
          background-color: #ededed;
          border: 1px solid #333;
        }
        .link {
          position: relative;
          z-index: 10;
        }
        .text {
          min-height: 140px;
          width: 87%;
        }
        &.special {
          background-color: $magenta;
          p {
            color: #fff !important;
            z-index: 999;
          }
          .link {
            margin-top: 0px;
            margin-bottom: 0px;
            color: #6dd7ff;
          }
        }
      }
      .white {
        color: #fff;
      }
      .ec {
        float: left;
        position: absolute;
        left: 6%;
        top: 4%;
        z-index: 11;
        @media screen and (max-width: 543px) {
          left: 10%;
        }
      }
      .mainImg {
        height: 167px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        overflow: hidden;
      }
      .prices {
        margin-bottom: 54px;
        width: 87%;
        border-bottom: 1px solid #ccc;
        &-hdl {
          p {
            font-size: 15px;
            color: #6c6c6c;
            padding-bottom: 3px;
            margin-bottom: 3px;
            border-bottom: 1px solid #ccc;
          }
        }
        &-row {
          p {
            margin: 0;
          }
          &:nth-of-type(2) {
            .hdl,
            .monthlyWeb {
              color: $magenta;
              font-weight: bold;
            }
          }
          .hdl,
          .monthlyStore,
          .oneTimeStore {
            color: #6c6c6c;
            font-size: 17px;
          }

          .monthlyWeb,
          .oneTimeWeb {
            font-size: 17px;
          }
          .monthlyStore,
          .oneTimeStore {
            font-size: 15px;

            text-decoration: line-through;
            line-height: 10px;
            padding-bottom: 7px;
          }
        }
      }
      .btn {
        margin: 20px 0 5px 0;
        padding: 8px 40px;
        border: 1px solid #58951c;
      }
      .white-btn {
        background-color: #fff;
        color: #262626;
        border: none;
      }
      .white-btn:hover {
        background-color: #ededed;
      }
    }
  }
}
/* ===============
  SEC-Apka
  =============== */

.apka {
  background-color: #f2f2f2;
  & h3 {
    color: #4b4b4b !important ;
  }
  & p {
    font-size: 18px !important;
  }
  .img {
    text-align: center;
    padding-top: 15px;
  }
  ul {
    list-style: none; /* Remove HTML bullets */
    padding: 0;
    margin: 0;
    display: table;
  }

  li {
    padding-left: 16px;
    margin-bottom: 10px;
    display: table-row;
  }

  ul li:before {
    content: "■";
    font-size: 18px;
    padding-right: 8px;
    display: table-cell;
  }
  .app-stores {
    margin-top: 30px;
    & img {
      padding-right: 10px;
    }
  }
  display: none;
}
.stores {
  background-color: #f2f2f2;
  & h3 {
    color: #4b4b4b !important;
  }
  & p {
    font-size: 18px !important;
  }
  .magenta {
    color: #e20074;
  }
  .img {
    text-align: center;
    padding-top: 15px;
  }
  display: none;
}
.my-card-holder {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
