<link href="/documents/10179/143959/happy.css?v=3" rel="stylesheet" type="text/css" />
<script>
$(function() {
    var planNoMobile = $('#plan-no-mobile');
    var planMobile = $('#plan-mobile');
    var bezMobilu = [
        {"id":0,"bezMob":"4,99 €","sMob":"5,99 €"},
        {"id":1,"bezMob":"9,99 €","sMob":"9,99 €"},
        {"id":2,"bezMob":"15,99 €","sMob":"16,99 €"},
        {"id":3,"bezMob":"19,99 €","sMob":"19,99 €"},
        {"id":4,"bezMob":"19,99 €","sMob":"23,99 €"},
        {"id":5,"bezMob":"27,99 €","sMob":"29,99 €"},
        {"id":6,"bezMob":"27,99 €","sMob":"29,99 €"},
        {"id":7,"bezMob":"35,99 €","sMob":"39,99 €"},
        {"id":8,"bezMob":"46,99 €","sMob":"54,99 €"},
        {"id":9,"bezMob":"59,99 €","sMob":"69,99 €"}];


    $('.ps__btn').on("click", function(e) {
        e.preventDefault();
        if ($(this).hasClass('ps__btn_selected')){
            return;
        } else {
            $(this).addClass('ps__btn_selected');
            $(this).siblings().removeClass('ps__btn_selected');
        }
    });

    var planPrice = $('.plpp-inner').find('.plan-price');
        $('#plan-no-mobile').on('click', function(e){
            e.preventDefault();
            $(planPrice).each(function(index) {
                if(bezMobilu[index].id == index) {
                    $(this).text(bezMobilu[index].bezMob)
                } else {
                    console.log ("cena sa nezhoduje s pausalom")
                }
            });
        });

        $('#plan-mobile').on('click', function(e){
            e.preventDefault();
            $(planPrice).each(function(index) {
                if(bezMobilu[index].id == index) {
                    $(this).text(bezMobilu[index].sMob)
                } else {
                    console.log ("cena sa nezhoduje s pausalom")
                }
            });
         });   
});
</script>

<section id="sec-1" class="section sec-1">
    <div id="plan-switcher">
        <p class="plan-sec-head"> Chcem nový paušál:</p>
        <div class="ps__btn-holder">
            <a class="btn ps__btn ps__btn_selected" href="#" id="plan-mobile">S novým mobilom</a>
            <a class="btn ps__btn" href="#" id="plan-no-mobile">Bez mobilu</a>
        </div>
    </div>

    <div class="plp__head" id="aui_3_4_0_1_443">
        <div class="row" style="display: block; width: 100%; height: 55px;">
            <div class="plc__col plc__col-1">
                <a class="plp__head-item plph__ico unset" id="sort-by-price">Cena mesačne</a>
            </div>
            <div class="plc__col plc__col-2">
                <a class="plp__head-item plph__ico unset" id="sort-by-data">4G dáta</a>
            </div>
            <div class="plc__col plc__col-3">
                <p class="plp__head-item"> Volania</p>
            </div>
            <div class="plc__col plc__col-3">
                <p class="plp__head-item"> SMS a MMS</p>
            </div>
        </div>
    </div>
    <div id="plp__body">
        <div id="prod-0" class="plp__plan row plp__plan_w-ribbon">
            <p class="plp__plan-ribbon">dostupný len na webe</p>
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">5,99 €</p>
                    <p class="plan-name">Happy XS mini</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">20 MB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">na 3 telefónne čísla* do všetkých mobilných sietí v SR
                                <br>
                                <i class="small">*pri aktivácii nového paušálu</i>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+30 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">do všetkých sietí v SR
                                <br>zo SR do EÚ
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">0,10 €</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR</p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,07 €
                            <br>
                            <span class="gray-txt">z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</span>
                            <br>
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>

            </div>
        </div>
        <div id="prod-1" class="plp__plan row">
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">9,99 €</p>
                    <p class="plan-name">Happy XS</p>
                    <p class="plan-sale">web zľava 10 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">200 MB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">mimo špičky* do siete Telekom a pevných sietí v SR
                                <br>
                                <i class="small">*počas pracovných dní v čase od 19.00 hod. do 7.00 hod. Soboty, nedele a štátne sviatky počas
                                    celých 24 hodín.</i>
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+50 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">do všetkých sietí v SR
                                <br>zo SR do EÚ
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">0,10 €</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR</p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,07 €
                            <br>
                            <span class="gray-txt">z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</span>
                            <br>
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-2" class="plp__plan row">
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">16,99 €</p>
                    <p class="plan-name">Happy S</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">400 MB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do siete Telekom a pevných sietí v SR</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+100 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">do ostatných sietí v SR
                                <br>zo SR do EÚ
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">0,10 €</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR</p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,07 €
                            <br>
                            <span class="gray-txt">z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</span>
                            <br>
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-3" class="plp__plan row plp__plan_w-ribbon">
            <p class="plp__plan-ribbon">LEN DO 26 ROKOV</p>
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">19,99 €</p>
                    <p class="plan-name">HAPPY XL
                        <br>Dáta pre mladých</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">5 GB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do siete Telekom a pevných sietí v SR</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+100 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">do ostatných sietí v SR
                                <br>zo SR do EÚ
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">0,10 €</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR</p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,07 €
                            <br>
                            <span class="gray-txt">z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</span>
                            <br>
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-4" class="plp__plan row">
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">23,99 €</p>
                    <p class="plan-name">HAPPY M</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">1 GB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do siete Telekom a pevných sietí v SR</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+150 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">do ostatných sietí v SR
                                <br>zo SR do EÚ
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">Neobmedzené</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR
                        <br>
                        <span class="gray-txt">z EÚ+ do SR
                            <br>z EÚ+ do EÚ+</span>
                    </p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-5" class="plp__plan row">
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">29,99 €</p>
                    <p class="plan-name">HAPPY L</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">3 GB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do siete Telekom a pevných sietí v SR</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+250 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">do ostatných sietí v SR
                                <br>zo SR do EÚ
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">Neobmedzené</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR
                        <br>
                        <span class="gray-txt">z EÚ+ do SR
                            <br>z EÚ+ do EÚ+</span>
                    </p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-6" class="plp__plan row">
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">29,99 €</p>
                    <p class="plan-name">HAPPY XL
                        <br>VOLANIA</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">1 GB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do všetkých sietí v SR
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+1000 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">zo SR do EÚ</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">0,10 €</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR</p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,07 €
                            <br>
                            <span class="gray-txt">z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</span>
                            <br>
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-7" class="plp__plan row plp__plan_w-ribbon">
            <p class="plp__plan-ribbon">OBĽÚBENÝ</p>
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">39,99 €</p>
                    <p class="plan-name">HAPPY XL</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">6 GB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do všetkých sietí v SR
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+1000 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">zo SR do EÚ</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">Neobmedzené</p>
                    <p class="plan-sms-det mg-b-10">do všetkých sietí v SR
                        <br>
                        <span class="gray-txt">z EÚ+ do SR
                            <br>z EÚ+ do EÚ+</span>
                    </p>
                    <p class="plan-sms-det plan-sms-det_more">
                        <span class="small">Poznámka:
                            <br>0,15 €/SMS a 0,39 €/MMS
                            <br>
                            <span class="gray-txt">zo SR do EÚ+</span>
                        </span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-8" class="plp__plan row">
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">54,99 €</p>
                    <p class="plan-name">HAPPY XXL</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">9 GB</p>
                    <p class="plan-data-location">v SR a EÚ+</p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do všetkých sietí v SR
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+1000 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">zo SR do EÚ</p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR a EÚ+</p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">Neobmedzené</p>
                    <p class="plan-sms-det plan-sms-det_more">do všetkých sietí v SR
                        <br>
                        <span class="gray-txt">zo SR do EÚ+
                            <br>z EÚ+ do SR
                            <br>z EÚ+ do EÚ+</span>
                    </p>
                </div>
            </div>
        </div>
        <div id="prod-9" class="plp__plan row">
            <div class="plpp-inner plpp__detail">
                <div class="plc__col plc__col-1">
                    <p class="plan-price">69,99 €</p>
                    <p class="plan-name">HAPPY PROFI</p>
                    <p class="plan-sale">web zľava 20 €</p>
                </div>
                <div class="plc__col plc__col-2">
                    <p class="plan-data">16 GB</p>
                    <p class="plan-data-location">v SR a EÚ+
                        <br>+ 500 MB v EÚ a
                        <a href="/casto-kladene-otazky/-/faq/ktore-krajiny-patria-do-zony-profi" target="_blank" class="zone-link">zóne Profi</a>
                    </p>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-call__header plan-call__header_outgoing">Odchádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_outgoing">
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">do všetkých sietí v SR
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+</p>
                        </div>
                        <div class="col-md-6">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-2">+1000 minút</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det-2">zo SR do EÚ
                                <br>
                                <a href="/casto-kladene-otazky/-/faq/ktore-krajiny-patria-do-zony-profi" target="_blank" class="zone-link">a zóny Profi</a>
                                <br>
                                <br>
                                <b>+200 min.</b>
                                <br>
                                <a href="/casto-kladene-otazky/-/faq/ktore-krajiny-patria-do-zony-profi" target="_blank" class="zone-link">v zóne Profi</a>
                            </p>
                        </div>
                    </div>
                    <p class="plan-call__header plan-call__header_incoming">Prichádzajúce volania</p>
                    <div class="plan-call-col-holder plan-call-col-holder_incoming">
                        <div class="col-md-12">
                            <p class="plan-call-tit plan-call-tit_more plan-call-tit_more-1">Neobmedzené</p>
                            <p class="plan-call-det plan-call-det_more plan-call-det_more-1">v SR, EÚ+
                                <br>
                                <b>+1000 min.</b>
                                <br>
                                <a href="/casto-kladene-otazky/-/faq/ktore-krajiny-patria-do-zony-profi" target="_blank" class="zone-link">v zóne Profi</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="plc__col plc__col-3">
                    <p class="plan-sms-tit">Neobmedzené</p>
                    <p class="plan-sms-det plan-sms-det_more">do všetkých sietí v SR
                        <br>
                        <span class="gray-txt">zo SR do EÚ+
                            <br>z EÚ+ do SR
                            <br>z EÚ+ do EÚ+</span>
                        <br>+
                        <br>
                        <a href="/casto-kladene-otazky/-/faq/ktore-krajiny-patria-do-zony-profi" target="_blank" class="zone-link">do zóny Profi</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>