<div id="nav-sticky">
	<ul>
		<li>
			<a class="scroll-to" href="#sec-2">EURO ROAMING</a></li>
		<li>
			<a class="scroll-to" href="#sec-3">INTERNET V MOBILE</a></li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png"/></a></li>
	</ul>
</div>
<div ng-app="roamingZonesModule" ng-controller="mainCtrl as vm">

	<!-- <section class="section sec-1 text-center" id="sec-1a">
		<div class="fixed-column">
			<h2 class="section__title">
				Happy roaming</h2>
			<p class="section__desc">
				je služba, ktorú je možné aktivovať len s paušálmi Happy.<br />
				Získate s ním <b>volania</b> za 0,13 € v celej EÚ, v Nórsku, Švajčiarsku aj na Islande<br />
				a za polovicu v USA, Egypte či Turecku!<br />
				<br />
				<b>Aktivácia</b> služby je <b>bezplatná.</b><br />
				Mesačný poplatok za službu je 2 €.</p>
			<a class="button button_lima fancybox" href="#infoSMS1">AKTIVOVAŤ</a><br />
			<a class="link link_ul linkDeactivate fancybox" href="#infoSMS2">Deaktivovať</a>
			<div class="table table-1">
				<table>
					<tbody>
						<tr>
							<th class="text-left">
								Zóny/krajiny</th>
							<th class="text-center" colspan="2">
								Hovory</th>
							<th class="text-center">
								SMS</th>
							<th class="text-center">
								MMS</th>
						</tr>
						<tr class="subHead">
							<td>
								&nbsp;</td>
							<td>
								Odchádzajúce</td>
							<td>
								Prichádzajúce</td>
							<td>
								Odchádzajúce</td>
							<td>
								Odchádzajúce</td>
						</tr>
						<tr>
							<td class="text-left">
								Zóna 1: EÚ + Island, Nórsko, Lichtenštajnsko a Švajčiarsko</td>
							<td>
								0,13 €</td>
							<td>
								0 €</td>
							<td>
								0,06 €</td>
							<td>
								0,39 €</td>
						</tr>
						<tr>
							<td class="text-left">
								Zóna 2: Dovolenkové krajiny a iné</td>
							<td>
								1 €</td>
							<td>
								1 €</td>
							<td>
								0,39 €</td>
							<td>
								0,39 €</td>
						</tr>
						<tr>
							<td class="text-left">
								Zóna 3: Kanada, Mexiko, Brazília a iné</td>
							<td>
								2 €</td>
							<td>
								2 €</td>
							<td>
								0,39 €</td>
							<td>
								0,39 €</td>
						</tr>
						<tr>
							<td class="text-left">
								Zóna 4: Ostatné svetové krajiny + roaming na lodiach, v lietadlách a satelitní operátori</td>
							<td>
								4 €</td>
							<td>
								2 €</td>
							<td>
								0,39 €</td>
							<td>
								0,39 €</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="happy-legal margin_top50">
				<a class="note-legal" href="" onclick="$('#happy-legal-1').toggle('slow');return false;">Zóny/Krajiny pre Happy Roaming</a>
				<div class="happy-legal-content content_hidden" id="happy-legal-1">
					<div ng-if="vm.finalObj.zona0[0].happy">
						<b>Zóna 0:</b><br />
						{{vm.finalObj.zona0[0].happy}}<br />
						&nbsp;</div>
					<div ng-if="vm.finalObj.zona1[0].happy">
						<b>Zóna 1: EÚ + Island, Lichtenštajnsko a Švajčiarsko</b><br />
						{{vm.finalObj.zona1[0].happy}}<br />
						&nbsp;</div>
					<div ng-if="vm.finalObj.zona2[0].happy">
						<b>Zóna 2: Dovolenkové krajiny a iné</b><br />
						{{vm.finalObj.zona2[0].happy}}<br />
						&nbsp;</div>
					<div ng-if="vm.finalObj.zona3[0].happy">
						<b>Zóna 3: Kanada, Mexiko, Brazília a iné</b><br />
						{{vm.finalObj.zona3[0].happy}}<br />
						&nbsp;</div>
					<div ng-if="vm.finalObj.zona4[0].happy">
						<b>Zóna 4: Ostatné svetové krajiny + roaming na lodiach, roaming v lietadlách, satelitní operátori</b><br />
						{{vm.finalObj.zona4[0].happy}}<br />
						&nbsp;</div>
				</div>
			</div>
			<div class="happy-legal">
				<a class="note-legal link_black" href="" onclick="$('#happy-legal-2').toggle('slow');return false;">Podmienky</a>
				<div class="happy-legal-content content_hidden" id="happy-legal-2">
					Ceny sú uvedené v €/min. s DPH. Prichádzajúce a odchádzajúce hovory sú spoplatňované minútovou tarifikáciou. Mesačný poplatok za službu Happy roaming je<br />
					2 € a aktivácia služby je bezplatná. Deaktivácia služby Happy roaming je okamžitá a bezplatná. Deaktiváciu služby Happy roaming vykonáte zaslaním bezplatnej SMS v tvare HAPPY ROAM VYP na číslo 12323. V prípade zmeny z inej roamingovej služby je aktivácia služby Happy roaming možná až po deaktivácii predchádzajúcej roamingovej služby v zmysle jej podmienok. Pri odchádzajúcich hovoroch a SMS správach z jednej zóny do druhej platí cena pre vyššiu zónu. Službu Happy roaming je možné aktivovať s programami Happy.</div>
			</div>
		</div>
	</section> -->

	<section class="section sec-2 text-center" id="sec-2">
		<div class="fixed-column">
			<h2 class="section__title" style="border: none;">
				Euro roaming</h2>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12 padd">
					<img src="../assets/img/roaming-globe.png" alt="">
					<p><b>Základný roaming</b></p>
					<p>Euro roaming je základný roaming, ktorý majú aktivovaný všetky T paušály, paušály ÁNO a tiež ostatné paušály, pri ktorých nie sú využívané iné roamingové služby (napr. Happy roaming).</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 padd">
					<img src="../assets/img/roaming-euro.png" alt="">
					<p><b>Regulované ceny</b></p>
					<p>Služba Euro roaming umožňuje účastníkom telefonovať a odosielať SMS správy za regulované ceny z krajín Európskej únie, z Nórska, Lichtenštajnska, Islandu, Monaka a Andory.</p>
				</div>
			</div>
			<div class="">
				<a href="#sec-4" class="link scroll-to" style="text-decoration: none;">Viac info o Euro roamingu</a>
			</div>
		</div>
	</section>
	<section class="section sec-3 text-center" id="sec-3">
		<div class="fixed-column" style="border-top: 1px solid #a4a4a4; padding-top: 20px;">
			<h2 class="section__title">
				Internet v zahraničí Travel&amp;Surf</h2>
			<div class="col-group roaming__group">
				<div class="grid-g__col_4">
					<img alt="Internet v mobile bez obáv" src="../assets/img/roaming-phone.png"/>
					<p>
						<b>Internet v mobile bez obáv</b></p>
					<p>
						Po prekročení hraníc si s T paušálmi, paušálmi ÁNO aj Happy vždy vyberiete:<br/>
						■ či využijete dátové balíčky,<br/>
						■ či zaplatíte len toľko, koľko predátujete<br/>
						■ alebo dátové služby nevyužijete vôbec.</p>
				</div>
				<div class="grid-g__col_4">
					<img alt="" src="../assets/img/ico-pointer.png"/>
					<p>
						<b>Internet v mobile kdekoľvek ste</b></p>
					<p>
						Zabudnite na starosti s hľadaním Wi-Fi na dovolenke! Aktivujte si niektorý z balíčkov Internetu v zahraničí Travel&amp;Surf a dátujte výhodne kdekoľvek a kedykoľvek!</p>
				</div>
				<div class="grid-g__col_4">
					<img alt="" src="../assets/img/ico-4g.png"/>
					<p>
						<b>4G rýchlosť aj v zahraničí</b></p>
					<p>
						S nami dátujete 4G rýchlosťou už aj v Česku, Chorvátsku, Holandsku, Maďarsku, Nemecku, Poľsku, Rakúsku, Rusku alebo Švajčiarsku.</p>
				</div>
			</div>
			<h2 class="section__title margin_top50" style="border-top: none">
				BALÍKY INTERNETU V ZAHRANIČÍ</h2>
			<p class="subsub__title">
				Balíky, ktoré platia v krajinách zóny 1</p>
			<div class="col-group">
				<div class="prodItem">
					<p class="prodItem__title">
						BALÍK L</p>
					<div class="prodItem__midArea">
						<p class="midArea__title">
							1 GB DÁT</p>
						<p class="midArea__desc">
							S balíkom napr. stiahnete e-maily s väčšími prílohami alebo využijete navigáciu.</p>
						<!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
						<p class="midArea__desc">
							Platnosť balíka je 30 dní odo dňa aktivácie</p>
					</div>
					<p class="price">
						12,00 €</p>
					<a class="button button_lima" href="https://telekomsk.page.link/7foP">AKTIVOVAŤ V TELEKOM APPKE</a>

					<div style="padding-top: 10px;">
						<a class="fancybox" href="#infoSMS5">Kúpiť balík cez SMS</a>
					</div>

				</div>

				<div class="prodItem">
					<p class="prodItem__title">
						BALÍK M</p>
					<div class="prodItem__midArea">
						<p class="midArea__title">
							500 MB DÁT</p>
						<p class="midArea__desc">
							Ideálny napr. na prezeranie fotografií a sťahovanie e-mailov s prílohami.</p>
						<!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
						<p class="midArea__desc">
							Platnosť balíka je 30 dní odo dňa aktivácie</p>
					</div>
					<p class="price">
						8,00 €</p>
					<a class="button button_lima" href="https://telekomsk.page.link/7foP">AKTIVOVAŤ V TELEKOM APPKE</a>

					<div style="padding-top: 10px;">
						<a class="fancybox" href="#infoSMS4">Kúpiť balík cez SMS</a>
					</div>

				</div>

				<div class="prodItem">
					<p class="prodItem__title">
						BALÍK S</p>
					<div class="prodItem__midArea">
						<p class="midArea__title">
							100 MB DÁT</p>
						<p class="midArea__desc">
							Vhodný napr. na prezeranie cestovných poriadkov, počasia či e-mailov.</p>
						<!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
						<p class="midArea__desc">
							Platnosť balíka je 30 dní odo dňa aktivácie</p>
					</div>
					<p class="price">
						2,50 €</p>
					<a class="button button_lima" href="https://telekomsk.page.link/7foP">AKTIVOVAŤ V TELEKOM APPKE</a>

					<div style="padding-top: 10px;">
						<a class="fancybox" href="#infoSMS3">Kúpiť balík cez SMS</a>
					</div>

				</div>

			</div>
			<p class="subsub__title margin_top50">
				Balíky, ktoré platia v krajinách zóny 2</p>
			<div class="col-group">
				<div class="prodItem prodItem_inversed">
					<p class="prodItem__title">
						BALÍK L <b>PLUS</b></p>
					<div class="prodItem__midArea">
						<p class="midArea__title">
							1 GB DÁT</p>
						<p class="midArea__desc">
							S balíkom napr. stiahnete e-maily s väčšími prílohami alebo využijete navigáciu.</p>
						<!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
						<p class="midArea__desc">
							Platnosť balíka je 30 dní odo dňa aktivácie</p>
					</div>
					<p class="price">
						33,00 €</p>
					<a class="button button_lima" href="https://telekomsk.page.link/7foP">AKTIVOVAŤ V TELEKOM APPKE</a>


					<div style="padding-top: 10px;">
						<a class="fancybox" href="#infoSMS8">Kúpiť balík cez SMS</a>
					</div>

				</div>
				<div class="prodItem prodItem_inversed">
					<p class="prodItem__title">
						BALÍK M <b>PLUS</b></p>
					<div class="prodItem__midArea">
						<p class="midArea__title">
							500 MB DÁT</p>
						<p class="midArea__desc">
							Ideálny napr. na prezeranie fotografií a sťahovanie e-mailov s prílohami.</p>
						<!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
						<p class="midArea__desc">
							Platnosť balíka je 30 dní odo dňa aktivácie</p>
					</div>
					<p class="price">
						20,00 €</p>
					<a class="button button_lima" href="https://telekomsk.page.link/7foP">AKTIVOVAŤ V TELEKOM APPKE</a>

					<div style="padding-top: 10px;">
						<a class="fancybox" href="#infoSMS7">Kúpiť balík cez SMS</a>
					</div>

				</div>
				<div class="prodItem prodItem_inversed">
					<p class="prodItem__title">
						BALÍK S <b>PLUS</b></p>
					<div class="prodItem__midArea">
						<p class="midArea__title">
							100 MB DÁT</p>
						<p class="midArea__desc">
							Vhodný napr. na prezeranie cestovných poriadkov, počasia či e-mailov.</p>
						<!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
						<p class="midArea__desc">
							Platnosť balíka je 30 dní odo dňa aktivácie</p>
					</div>
					<p class="price">
						5,00 €</p>
					<a class="button button_lima" href="https://telekomsk.page.link/7foP">AKTIVOVAŤ V TELEKOM APPKE</a>


					<div style="padding-top: 10px;">
						<a class="fancybox" href="#infoSMS6">Kúpiť balík cez SMS</a>
					</div>

				</div>

			</div>
			<div class="happy-legal margin_top50">
				<div class="togleArrow">
					<a class="toggle-arrow" href="" onclick="$('#happy-legal-5').toggle('slow');$(this).find('span').toggleClass('arrow-rotate');return false;">Zóny/Krajiny pre balíky internetu v zahraničí<span class="arrow-right"></span></a>
					<div class="arrow-content-sub2">
						<div class="happy-legal-content margin_top20 content_hidden" id="happy-legal-5">
							<div>
								<b>Zóna 1 :</b><br/>
								Americké Panenské ostrovy, Argentína, Arménsko, Aruba, Austrália, Bosna a Hercegovina, Ekvádor, Galapágy, Guernsey, Havajské ostrovy, Honduras, Jersey, Kanada, Kolumbia, Mexiko, Moldavsko, Ostrov Man, Peru, Portoriko, Salvádor, Severný Cyprus, Srbsko, Švajčiarsko, Turecko, USA
								<br/>
								<br/>
							</div>
							<div>
								<b>Zóna 2: </b><br/>
								Albánsko, Anguilla, Antigua a Barbuda, Azerbajdžan, Barbados, Bielorusko, Brazília, Britské Panenské ostrovy, Brunej*, Čierna Hora, Čile, Čína, Dominika, Dominikánska republika, Egypt, Filipíny, Grenada, Gruzínsko, Guatemala, Hongkong, India, Irak, Izrael, Jamajka, Japonsko, Jordánsko, Juhoafrická republika, Kórejská republika, Kajmanie ostrovy, Katar, Kazachstan, Keňa, Kirgizská republika, Kostarika, Kuvajt, Macao, Malajzia, Montserrat, Nový Zéland, Palestína, Panama, Paraguaj; Rusko, Samoa, Severné Macedónsko, Singapur, Spojené arabské emiráty, Svätý Krištof a Nevis, Sv. Lucia, Svätý Vincent a Grenadíny, Tibet, Taiwan, Thajsko, Turks a Caicos, Ukrajina, Veľkonočný ostrov
								<br/>
								<br/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="happy-legal">
				<!-- Podmienky -->
				<div class="togleArrow">
					<a class="toggle-arrow" href="" onclick="$('#podmienky').toggle('slow');$(this).find('span').toggleClass('arrow-rotate');return false;">Podmienky<span class="arrow-right"></span></a>
					<div class="arrow-content-sub2">
						<div class="content_hidden" id="podmienky">
							<p>Ceny sú uvedené v € s DPH. Pre všetky balíčky služby Internet v zahraničí Travel&amp;Surf platí pre voľné dáta v rámci balíčkov tarifikačný interval<br/>
								10 kB a počíta sa ako suma prijatých a odoslaných dát. Služba Internet v zahraničí Travel&amp;Surf zahŕňa dátové prenosy cez APN WAP, internet, internet plus a nevzťahuje sa na dátové prenosy cez APN blackberry.net. Príslušný balíček je aktívny po doručení SMS správy potvrdzujúcej úspešnú aktiváciu. K deaktivácii balíčka služby Internet v zahraničí Travel&amp;Surf dôjde uplynutím maximálnej doby jeho platnosti alebo vyčerpaním celého objemu voľných dát podľa toho, ktorá z týchto skutočností nastane skôr.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section sec-4" id="sec-4">
		<div class="fixed-column" style="border-top: 1px solid #a4a4a4; padding-top: 20px;">
			<p><b>Užitočné informácie</b></p>
			<!-- Euro Roaming -->
			<div class="togleArrow">
				<a class="toggle-arrow" href="" onclick="$('#euroRoaming').toggle('slow'); $(this).find('span').toggleClass('arrow-rotate');return false;">Euro Roaming<span class="arrow-right arrow-rotate"></span></a>
				<div class="arrow-content" style="display: block;" id="euroRoaming">
					<!-- regulácia roamingu v EÚ -->
					<div class="togleArrow" style="margin-left: 20px;">
						<a class="toggle-arrow" href="" onclick="$('#happy-legal-3').toggle('slow');$(this).find('span').toggleClass('arrow-rotate');return false;">Ako funguje regulácia roamingu v EÚ?<span class="arrow-right arrow-rotate"></span></a>
						<div class="arrow-content-sub2">
							<div class="happy-legal-content" id="happy-legal-3">
								<p>
									Cena hovorov, SMS a dát v krajinách Európskej únie sa odvíja od domácich cien vášho paušálu alebo predplatenej karty. Cenu ovplyvňuje aj to, či v roamingu voláte v rámci voľných minút alebo po ich vyčerpaní. Okrem krajín EÚ platí regulovaný roaming aj v Nórsku, Lichtenštajnsku, Monaku, Andore a na Islande.</p>
								<div class="table table-2">
									<table>
										<tbody>
										<tr>
											<th style="width:300px;">
												Roamingové ceny podľa regulácie Európskej únie
											</th>
											<th class="text-center" colspan="2">
												Hovory
											</th>
											<th class="text-center">
												SMS
											</th>
											<th class="text-center">
												Dáta
											</th>
										</tr>
										<tr class="subHead">
											<td>
												&nbsp;
											</td>
											<td>
												Odchádzajúce
											</td>
											<td>
												Prichádzajúce
											</td>
											<td>
												Odchádzajúce
											</td>
											<td>
												&nbsp;
											</td>
										</tr>
										<tr>
											<td class="text-left">
												Pred vyčerpaním voľných minút / SMS / dát
											</td>
											<td>
												Čerpáte voľné domáce minúty
											</td>
											<td>
												Bez poplatku
											</td>
											<td>
												Čerpáte voľné domáce SMS
											</td>
											<td>
												Čerpáte voľné domáce dáta
											</td>
										</tr>
										<tr>
											<td class="text-left">
												Po vyčerpaní voľných minút/SMS/dát
											</td>
											<td>
												Cena domácich volaní do iných sietí
											</td>
											<td>
												0 € / min.
											</td>
											<td>
												0,072 € / SMS
											</td>
											<td>
												Cena domácich dát
											</td>
										</tr>
										</tbody>
									</table>

									<div style="padding-top: 10px;margin-left: -20px;">
										<!-- Politika primeraného využívania roamingových služieb -->
										<a class="note-legal happy-legal" href="/wiki/ostatne/roaming-v-eu" style="display: block; margin-bottom: 15px; margin-left: 20px;">Politika primeraného využívania roamingových služieb v rámci EÚ, Nórska, Islandu, Lichtenštajnska, Monaka a Andory</a>
									</div>


									<!-- Web Roaming -->
									<div class="togleArrow">
										<a class="toggle-arrow" href="" onclick="$('#happy-legal-nonstop').toggle('slow');$(this).find('span').toggleClass('arrow-rotate');return false;">Balík EÚ Nonstop<span class="arrow-right"></span></a>
										<div class="arrow-content-sub2">
											<div class="content_hidden" id="happy-legal-nonstop">
												<p>
													Zákazník s aktívnym balíčkom <b>EÚ Nonstop</b> môže využívať svoj <b>T paušál, alebo paušál ÁNO</b> (volania a
													SMS, dáta do výšky FUP paušálu) aj počas dlhodobého pobytu v EÚ a zóne 1 bez účtovania
													roamingových príplatkov za dlhodobý pobyt v zahraničí (dlhší ako 4 mesiace).
													Balík <b>EÚ Nonstop</b> stojí <b>8 €</b>, je dostupný <b>pre všetky T paušály alebo paušály ÁNO</b> a platí do konca zúčtovacieho obdobia.
													Môžete si ho <b>aktivovať</b> na bezplatnej Zákazníckej linke Telekomu na tel.č. <b>0800 123 456</b> alebo v ktoromkoľvek <a href="https://www.telekom.sk/predajne" target="_blank" class="link">Telekom Centre</a>. <a href="/wiki/volania/roaming-v-eu " target="_blank" class="link"> Viac info o EÚ Nonstop</a>.
												</p>
											</div>
										</div>
									</div>

								</div>

								<div class="table table-3 margin_top20">
									<table>
										<tbody>
										<tr>
											<th style="width: 400px;">
												Zóny/krajiny
											</th>
											<th class="text-center" colspan="2">
												Hovory
											</th>
											<th class="text-center">
												SMS
											</th>
											<th class="text-center">
												MMS
											</th>
										</tr>
										<tr class="subHead">
											<td>
												&nbsp;
											</td>
											<td>
												Odchádzajúce
											</td>
											<td>
												Prichádzajúce
											</td>
											<td>
												Odchádzajúce
											</td>
											<td>
												Odchádzajúce
											</td>
										</tr>
										<tr>
											<td class="text-left">
												Zóna 0 + 1: EÚ, Island, Nórsko, Lichtenštajnsko, Monako a Andora
											</td>
											<td colspan="4">
												Nájdete vo&nbsp;<a class="scroll-to" href="#sec-1">vyhľadávači roamingových cien</a></td>
										</tr>
										<tr>
											<td class="text-left">
												Zóna 2: Dovolenkové krajiny a biznis krajiny
											</td>
											<td>
												1,95 €
											</td>
											<td>
												0,99 €
											</td>
											<td>
												0,39 €
											</td>
											<td>
												0,39 €
											</td>
										</tr>
										<tr>
											<td class="text-left">
												Zóna 3: Ostatné krajiny
											</td>
											<td>
												3,94 €
											</td>
											<td>
												1,95 €
											</td>
											<td>
												0,39 €
											</td>
											<td>
												0,39 €
											</td>
										</tr>
										<tr>
											<td class="text-left">
												Zóna 4: Satelitní operátori
											</td>
											<td>
												3,94 €
											</td>
											<td>
												1,95 €
											</td>
											<td>
												0,39 €
											</td>
											<td>
												0,39 €
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- Zóny / krajiny pre euro roaming -->
					<div class="togleArrow" style="margin-left: 20px;">
						<a class="toggle-arrow" onclick="$('#happy-legal-4').toggle('slow');$(this).find('span').toggleClass('arrow-rotate');return false;" href="">Zóny/Krajiny pre Euro roaming<span class="arrow-right"></span></a>
						<div class="arrow-content-sub2">
							<div class="happy-legal-content margin_top20 content_hidden" id="happy-legal-4">
								<div>
									<b>Zóna 0:</b>
									Krajiny EÚ okrem SR vrátane zámorských území, Veľká Británia počas uplatňovania roamingových pravidiel EÚ a Vatikán
									<br/>
									<b>Poznámka:</b>
									Krajiny EÚ okrem SR vrátane zámorských území ku dňu vyhotovenia Cenníka s dostupnosťou služby: Azorské ostrovy, Belgicko, Bulharsko, Česká republika, Dánsko, Désirade, Estónsko, Fínsko, Francúzska Guyana, Francúzsko, Gibraltár, Grécko, Guadeloupe, Holandsko, Chorvátsko, Írsko, Južný Cyprus, Kanárske ostrovy, Litva, Lotyšsko, Luxembursko, Maďarsko, Madeira, Malta, Maria-Galante, Martinik, Mayotte, Nemecko, Poľsko, Portugalsko, Rakúsko, Réunion, Rumunsko, Saintes, Slovinsko, Svätý Bartolomej, Svätý Martin, Španielsko, Švédsko, Taliansko
									<br/>
									&nbsp;
								</div>

								<div>
									<b>Zóna 1:</b>
									Krajiny EEA EFTA, Andorra, Monako
									<br/>
									<b>Poznámka:</b>
									Krajiny EEA EFTA ku dňu vyhotovenia Cenníka: Island, Nórsko, Lichtenštajnsko
									<br/>
									<br/>
								</div>

								<div>
									<b>Zóna 2:</b>
									Albánsko, Aljaška, Americké Panenské ostrovy, Argentína, Austrália, Azerbajdžan, Barbados, Bielorusko, Bosna a Hercegovina, Brazília, Čierna Hora, Čile, Čína, Dominika, Egypt, Ekvádor, Filipíny, Galapágy, Grenada, Guatemala, Guernsey, Haiti, Havajské ostrovy, Honduras, Hongkong, India, Indonézia, Izrael, Jamajka, Japonsko, Jersey, Juhoafrická republika, Kanada, Katar, Kazachstan, Keňa, Kirgizská republika, Kolumbia, Kórejská republika, Kosovo, Kuvajt, Malajzia, Mexiko, Ostrov Man, Panama, Peru, Portoriko, Rusko, Samoa, San Maríno, Saudská Arábia, Severné Macedónsko, Severný Cyprus, Singapur, Spojené arabské emiráty, Srbsko, Srí Lanka, Svätý Krištof a Nevis, Svätý Vincent a Grenadíny, Švajčiarsko, Tadžikistan, Taiwan, Thajsko, Tibet, Turecko, Ukrajina, USA, Veľkonočný ostrov
									<br/>
									<br/>
								</div>

								<div>
									<b>Zóna 3:</b>
									Afganistan, Alžírsko, Angola, Anguilla, Antigua a Barbuda, Arménsko, Aruba, Bahamy, Bahrajn, Bangladéš, Belize, Benin, Bermudy, Bolívia, Britské Panenské ostrovy, Burkina Faso, Burundi, Čad, Dominikánska republika, Džibutsko, Etiópia, Faerské ostrovy, Fidži, Francúzska Polynézia, Gambia, Ghana, Grónsko, Gruzínsko, Holandské Antily, Irak, Irán, Jemen, Jordánsko, Kajmanie ostrovy, Kambodža, Kapverdy, Konžská demokratická republika, Kostarika, Kuba, Laos, Libanon, Libéria, Líbya, Macao, Madagaskar, Malawi, Maldivy, Mali, Maroko, Maurícius, Mauritánia, Mjanmarsko, Moldavsko, Mongolsko, Montserrat, Mozambik, Náhorný Karabach, Namíbia, Nauru, Nepál, Niger, Nigéria, Nikaragua, Nový Zéland, Omán, Pakistan, Palestína, Paraguaj, Pobrežie Slonoviny, Rovníková Guinea, Salvádor, Senegal, Seychely, Sierra Leone, Sudán, Svätá Lucia, Sýria, Tanzánia, Tonga, Trinidad a Tobago, Tunisko, Turkménsko, Turks a Caicos, Uganda, Uruguaj, Uzbekistan, Venezuela, Vietnam, Zambia, Zimbabwe
									<br/>
									<div class="note-legal happy-legal" style="display: block; margin-bottom: 25px;">* dostupné len so satelitným operátorom</div>
								</div>

								<div>
									<b>Zóna 4:</b>
									Roaming na lodiach, roaming v lietadlách a satelitní operátori
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Web Roaming -->
			<div class="togleArrow" style="margin-top: 10px;">
				<a class="toggle-arrow" href="" onclick="$('#happy-legal-6').toggle('slow');$(this).find('span').toggleClass('arrow-rotate');return false;">Web Roaming<span class="arrow-right"></span></a>
				<div class="arrow-content-sub2">
					<div class="content_hidden" id="happy-legal-6">
						<p>Chcete vedieť, koľko stojí dátovanie v roamingu, ak si neaktivujete žiadny balík Internetu v zahraničí? Pozrite si stránku
							<a href="/wiki/internet/web-roaming" target="_blank" class="link">Web Roaming</a></p>
					</div>
				</div>
			</div>
			<!-- 4g rýchlosť aj v zahraničí -->
			<div class="togleArrow">
				<a class="toggle-arrow" href="" onclick="$('#happy-legal-7').toggle('slow');$(this).find('span').toggleClass('arrow-rotate');return false;">4g rýchlosť aj v zahraničí<span class="arrow-right"></span></a>
				<div class="arrow-content-sub2">
					<div class="content_hidden" id="happy-legal-7">
						<p>S nami dátujete 4G rýchlosťou už aj v Česku, Chorvátsku, Holandsku, Maďarsku, Nemecku, Poľsku, Rakúsku, Rusku alebo Švajčiarsku.</p>
					</div>
				</div>
			</div>
			<br>
			<p><b>Viac informácií nájdete v našej encyklopédii Wiki.</b></p>
			<a href="/wiki" class="btn">PREJSŤ DO WIKI</a>
		</div>
	</section>
</div> <!-- ng end -->

<!-- lightboxes -->
<div class="roam-lightbox" id="infoSMS1" style="display: none;">
	<h2>
		Aktivácia Happy Roamingu</h2>
	<p class="firstPar">
		Pošlite bezplatnú SMS na číslo <b>12323</b> s textom <b>HAPPY ROAMING</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="HAPPY ROAMING" href="#">Pošlite SMS</a>
</div>
<div class="roam-lightbox" id="infoSMS2" style="display: none;">
	<h2>
		Deaktivácia Happy Roamingu</h2>
	<p class="firstPar">
		Pošlite bezplatnú SMS na číslo<br/>
		<b>12323</b> s textom <b>HAPPY ROAM VYP</b> alebo<br/>
		<b>HAPPY ROAMING VYP</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="HAPPY ROAMING VYP" href="#">Pošlite SMS</a>
	<p>
		Deaktivácia služby je okamžitá a&nbsp;bezplatná.</p>
</div>
<div class="roam-lightbox" id="infoSMS3" style="display: none;">
	<h2>
		Zákazníci ÁNO a Happy</h2>
	<p class="firstPar">
		Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA S</b> na číslo <b>233</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="233" data-sms-text="DATA XS" href="#">Pošlite SMS</a></div>
<div class="roam-lightbox" id="infoSMS4" style="display: none;">
	<h2>
		Zákazníci ÁNO a Happy</h2>
	<p class="firstPar">
		Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA M</b> na číslo <b>233</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="233" data-sms-text="DATA M" href="#">Pošlite SMS</a></div>
<div class="roam-lightbox" id="infoSMS5" style="display: none;">
	<h2>
		Zákazníci ÁNO a Happy</h2>
	<p class="firstPar">
		Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA L</b> na číslo <b>233</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="233" data-sms-text="DATA XL" href="#">Pošlite SMS</a></div>
<div class="roam-lightbox" id="infoSMS6" style="display: none;">
	<h2>
		Zákazníci ÁNO a Happy</h2>
	<p class="firstPar">
		Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA S PLUS</b> na číslo <b>233</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="233" data-sms-text="DATA XS PLUS" href="#">Pošlite SMS</a></div>
<div class="roam-lightbox" id="infoSMS7" style="display: none;">
	<h2>
		Zákazníci ÁNO a Happy</h2>
	<p class="firstPar">
		Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA M PLUS</b> na číslo <b>233</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="233" data-sms-text="DATA M PLUS" href="#">Pošlite SMS</a></div>
<div class="roam-lightbox" id="infoSMS8" style="display: none;">
	<h2>
		Zákazníci ÁNO a Happy</h2>
	<p class="firstPar">
		Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA L PLUS</b> na číslo <b>233</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="233" data-sms-text="DATA XL PLUS" href="#">Pošlite SMS</a></div>
<div class="roam-lightbox" id="infoSMSxxx" style="display: none;">
	<h2>
		Info SMS o cenách internetu v<br/>
		zahraničí</h2>
	<p class="firstPar">
		Pre informácie pošlite bezplatnú SMS na<br/>
		číslo <b>233</b> v tvare:<br/>
		<b>ROAM INFO</b></p>
	<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="233" data-sms-text="ROAM INFO" href="#">Pošlite SMS</a>
	<h2>
		Kontrola spotreby dát</h2>
	<p class="secondPar">
		Zistite koľko dát ste už vyčerpali.<br/>
		Pošlite bezplatnú SMS na číslo <b>233</b> (pre<br/>
		paušály Happy) alebo na číslo <b>12330</b> (pre<br/>
		Easy karty) v tvare:<br/>
		<b>ROAM DATA</b><br/>
		&nbsp;</p>
	<p>
		Obratom dostanete bezplatnú SMS s informáciami o roamingových balíkoch.</p>
</div>
<!--<script type="text/javascript" src="/documents/10179/663143/main.js"></script>-->
<script type="text/javascript" src="/documents/10179/13169475/sms-prefill.js"></script>
<!-- Roaming Json -->
<script type="text/javascript" src="../assets/js/angular.min.js"></script>
<script type="text/javascript" src="../assets/js/controllers.js"></script>
