<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-uad">U SUSEDOV AKO DOMA</a></li>
        <li>
            <a class="scroll-to" href="#sec-1a">HAPPY ROAMING</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">EURO ROAMING</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">INTERNET V MOBILE</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/663141/arrow-top.png" /></a></li>
    </ul>
</div>
<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">
				ROAMING K PAUŠÁLOM HAPPY</h1>
        </div>
    </div>
</section>
<div ng-app="roamingZonesModule" ng-controller="mainCtrl as vm">
    <section class="section sec-uad text-center" id="sec-uad">
        <div class="fixed-column">
            <h2 class="section__title">
			U SUSEDOV AKO DOMA</h2>
            <p class="section__desc">
                Ak máte paušál Happy, automaticky voláte a esemeskujte v Čechách, Poľsku, Maďarsku a Rakúsku za ceny ako doma.
                <br />
                <a class="link link_ul" href="https://www.telekom.sk/volania/happy#sec-2">Pozrieť paušály Happy</a></p>
            <div class="col-group">
                <div class="grid-g__col_3 item">
                    <img alt="Keď prijímate hovor" src="/documents/10179/663141/ico-incomming-2.png" />
                    <p class="item__title">
                        Keď prijímate hovor</p>
                    <p class="item__desc">
                        Všetky prijaté hovory v&nbsp;Čechách, Poľsku, Maďarsku a Rakúsku máte úplne zadarmo!</p>
                </div>
                <div class="grid-g__col_3 item">
                    <img alt="Keď voláte vy" src="/documents/10179/663141/ico-outcomming-2.png" />
                    <p class="item__title">
                        Keď voláte vy</p>
                    <p class="item__desc">
                        Volania na Slovensko sa vám odrátajú z voľných minút paušálu Happy. Po ich vyčerpaní voláte za rovnaké ceny ako na Slovensku.</p>
                </div>
                <hr />
                <div class="grid-g__col_3 item">
                    <img alt="SMS správy" src="/documents/10179/663141/ico-message-2.png" />
                    <p class="item__title">
                        SMS správy</p>
                    <p class="item__desc">
                        Ak sú neobmedzené SMS súčasťou vášho paušálu Happy, získate ich aj pri pobyte v susedných krajinách.</p>
                    <a class="link link_ul link_black tooltip" href="#">Podmienky SMS v susedných krajinách</a></div>
                <div class="grid-g__col_3 item">
                    <img alt="Internet v mobile v zahraničí" src="/documents/10179/663141/ico-globe-2.png" />
                    <p class="item__title">
                        Internet v mobile v zahraničí</p>
                    <p class="item__desc">
                        po prekročení hraníc sa rozhodnete, či si aktivujete <a class="scroll-to link_ul link link_black" href="#sec-3">dátové balíky</a>, zaplatíte len za minuté dáta alebo nebudete internet využívať vôbec.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section sec-1 text-center" id="sec-1a">
        <div class="fixed-column">
            <h2 class="section__title">
			Happy roaming</h2>
            <p class="section__desc">
                je služba, ktorú je možné aktivovať len s paušálmi Happy.
                <br /> Získate s ním <b>volania</b> za 0,13 € v celej EÚ, v Nórsku, Švajčiarsku aj na Islande
                <br /> a za polovicu v USA, Egypte či Turecku!
                <br />
                <br />
                <b>Aktivácia</b> služby je <b>bezplatná.</b>
                <br /> Mesačný poplatok za službu je 2 €.</p>
            <a class="button button_lima fancybox" href="#infoSMS1">AKTIVOVAŤ</a>
            <br />
            <a class="link link_ul linkDeactivate fancybox" href="#infoSMS2">Deaktivovať</a>
            <div class="table table-1">
                <table>
                    <tbody>
                        <tr>
                            <th class="text-left">
                                Zóny/krajiny</th>
                            <th class="text-center" colspan="2">
                                Hovory</th>
                            <th class="text-center">
                                SMS</th>
                            <th class="text-center">
                                MMS</th>
                        </tr>
                        <tr class="subHead">
                            <td>
                                &nbsp;</td>
                            <td>
                                Odchádzajúce</td>
                            <td>
                                Prichádzajúce</td>
                            <td>
                                Odchádzajúce</td>
                            <td>
                                Odchádzajúce</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 1: EÚ + Island, Nórsko, Lichtenštajnsko a Švajčiarsko</td>
                            <td>
                                0,13 €</td>
                            <td>
                                0,06 €</td>
                            <td>
                                0,06 €</td>
                            <td>
                                0,39 €</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 2: Dovolenkové krajiny a iné</td>
                            <td>
                                1 €</td>
                            <td>
                                1 €</td>
                            <td>
                                0,39 €</td>
                            <td>
                                0,39 €</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 3: Kanada, Mexiko, Brazília a iné</td>
                            <td>
                                2 €</td>
                            <td>
                                2 €</td>
                            <td>
                                0,39 €</td>
                            <td>
                                0,39 €</td>
                        </tr>
                        <tr>
                            <td class="text-left">
                                Zóna 4: Ostatné svetové krajiny + roaming na lodiach, v lietadlách a satelitní operátori</td>
                            <td>
                                4 €</td>
                            <td>
                                2 €</td>
                            <td>
                                0,39 €</td>
                            <td>
                                0,39 €</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="happy-legal margin_top50">
                <a class="note-legal" href="" onclick="$('#happy-legal-1').toggle('slow');return false;">Zóny/Krajiny pre Happy Roaming</a>
                <div class="happy-legal-content content_hidden" id="happy-legal-1">
                    <div ng-if="vm.finalObj.zona0[0].happy"><b>Zóna 0:</b>
                        <br /> {{vm.finalObj.zona0[0].happy}}
                        <br />
                        <br />
                    </div>
                    <div ng-if="vm.finalObj.zona1[0].happy"><b>Zóna 1: EÚ + Island, Lichtenštajnsko, Nórsko, Švajčiarsko</b>
                        <br /> {{vm.finalObj.zona1[0].happy}}
                        <br />
                        <br />
                    </div>
                    <div ng-if="vm.finalObj.zona2[0].happy"><b>Zóna 2: Dovolenkové krajiny a iné</b>
                        <br /> {{vm.finalObj.zona2[0].happy}}
                        <br />
                        <br />
                    </div>
                    <div ng-if="vm.finalObj.zona3[0].happy"><b>Zóna 3: Kanada, Mexiko, Brazília a iné</b>
                        <br /> {{vm.finalObj.zona3[0].happy}}
                        <br />
                        <br />
                    </div>
                    <div ng-if="vm.finalObj.zona4[0].happy"><b>Zóna 4: Ostatné svetové krajiny + roaming na lodiach, roaming v lietadlách, satelitní operátori</b>
                        <br /> {{vm.finalObj.zona4[0].happy}}
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="happy-legal">
                <a class="note-legal link_black" href="" onclick="$('#happy-legal-2').toggle('slow');return false;">Podmienky</a>
                <div class="happy-legal-content content_hidden" id="happy-legal-2">
                    Ceny sú uvedené v €/min. s DPH. Prichádzajúce a odchádzajúce hovory sú spoplatňované minútovou tarifikáciou. Mesačný poplatok za službu Happy roaming je
                    <br /> 2 € a aktivácia služby je bezplatná. Deaktivácia služby Happy roaming je okamžitá a bezplatná. Deaktiváciu služby Happy roaming vykonáte zaslaním bezplatnej SMS v tvare HAPPY ROAM VYP na číslo 12323. V prípade zmeny z inej roamingovej služby je aktivácia služby Happy roaming možná až po deaktivácii predchádzajúcej roamingovej služby v zmysle jej podmienok. Pri odchádzajúcich hovoroch a SMS správach z jednej zóny do druhej platí cena pre vyššiu zónu. Službu Happy roaming je možné aktivovať s programami Happy.</div>
            </div>
        </div>
    </section>
    <section class="section sec-2 text-center" id="sec-2">
        <div class="fixed-column">
            <h2 class="section__title">
			Euro roaming</h2>
            <div class="sec__descHolder">
                <p>
                    Je <strong>základný roaming</strong>, určený pre všetkých zákazníkov, ktorí nevyužívajú iné roamingové služby (napr. Happy roaming).</p>
                <p>
                    Služba Euro roaming umožňuje účastníkom <strong>telefonovať a odosielať SMS správy za regulované ceny</strong> z krajín Európskej únie a&nbsp;z Nórska, Lichtenštajnska a&nbsp;z&nbsp;Islandu. Aj mimo EÚ voláte a&nbsp;smskujete výhodne.</p>
                <p>
                    Službu Euro roaming si <strong>aktivujete zaslaním</strong> bezplatnej <strong>SMS </strong>s textom EURO ROAMING na číslo 12323, v najbližšom Telekom Centre alebo na Zákazníckej linke.</p>
                <p class="green">
                    Aktivácia je bezplatná a bez mesačných poplatkov.</p>
            </div>
            <div class="happy-legal margin_top50">
                <a class="note-legal" href="" onclick="$('#happy-legal-3').toggle('slow');return false;">Ako funguje regulácia roamingu v EÚ?</a>
                <div class="happy-legal-content content_hidden" id="happy-legal-3">
                    <p>
                        Cena hovorov, SMS a dát v krajinách Európskej únie sa odvíja od domácich cien vášho paušálu alebo predplatenej karty. Cenu ovplyvňuje aj to, či v roamingu voláte v rámci voľných minút alebo po ich vyčerpaní. Okrem krajín EÚ platí regulovaný roaming aj v&nbsp;Nórsku, Lichtenštajnsku a&nbsp;na Islande.</p>
                    <div class="table table-2">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width:300px;">
                                        Roamingové ceny podľa regulácie Európskej únie</th>
                                    <th class="text-center" colspan="2">
                                        Hovory</th>
                                    <th class="text-center">
                                        SMS</th>
                                    <th class="text-center">
                                        Dáta</th>
                                </tr>
                                <tr class="subHead">
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        Odchádzajúce</td>
                                    <td>
                                        Prichádzajúce</td>
                                    <td>
                                        Odchádzajúce</td>
                                    <td>
                                        &nbsp;</td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Pred vyčerpaním voľných minút / SMS / dát</td>
                                    <td>
                                        Čerpáte voľné domáce minúty a platíte len 0,06 € roamingový doplatok ku každej vyčerpanej minúte</td>
                                    <td>
                                        Bez poplatku</td>
                                    <td>
                                        Čerpáte voľné domáce SMS a platíte len 0,024 roamingový doplatok ku každej vyčerpanej SMS</td>
                                    <td>
                                        Čerpáte voľné domáce dáta a platíte len 0,06 € roamingový doplatok ku každému vyčerpanému MB</td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Po vyčerpaní voľných minút/SMS/dát</td>
                                    <td>
                                        Cena domácich volaní do iných sietí + 0,06 €</td>
                                    <td>
                                        0,0137 € / min.</td>
                                    <td>
                                        0,072 € / SMS</td>
                                    <td>
                                        Cena domácich dát +
                                        <br /> 0,06 € / MB</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table table-3 margin_top20">
                        <table>
                            <tbody>
                                <tr>
                                    <th style="width: 400px;">
                                        Zóny/krajiny</th>
                                    <th class="text-center" colspan="2">
                                        Hovory</th>
                                    <th class="text-center">
                                        SMS</th>
                                    <th class="text-center">
                                        MMS</th>
                                </tr>
                                <tr class="subHead">
                                    <td>
                                        &nbsp;</td>
                                    <td>
                                        Odchádzajúce</td>
                                    <td>
                                        Prichádzajúce</td>
                                    <td>
                                        Odchádzajúce</td>
                                    <td>
                                        Odchádzajúce</td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Zóna 0 + 1: EÚ + Island, Nórsko, Lichtenštajnsko</td>
                                    <td colspan="4">
                                        Nájdete vo&nbsp;<a class="scroll-to" href="#sec-1">vyhľadávači roamingových cien</a></td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Zóna 2: Dovolenkové krajiny a biznis krajiny</td>
                                    <td>
                                        1,95 €</td>
                                    <td>
                                        0,99 €</td>
                                    <td>
                                        0,39 €</td>
                                    <td>
                                        0,39 €</td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Zóna 3: Ostatné krajiny</td>
                                    <td>
                                        3,94 €</td>
                                    <td>
                                        1,95 €</td>
                                    <td>
                                        0,39 €</td>
                                    <td>
                                        0,39 €</td>
                                </tr>
                                <tr>
                                    <td class="text-left">
                                        Zóna 4: Satelitní operátori</td>
                                    <td>
                                        3,94 €</td>
                                    <td>
                                        1,95 €</td>
                                    <td>
                                        0,39 €</td>
                                    <td>
                                        0,39 €</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="happy-legal margin_top20">
                <a class="note-legal " href="" onclick="$('#happy-legal-4').toggle('slow');return false;">Zóny/Krajiny pre Euro roaming</a>
                <div class="happy-legal-content content_hidden margin_top20" id="happy-legal-4">
                    <div ng-if="vm.finalObj.zona0[0].euro"><b>Zóna 0:</b>
                        <br/>{{vm.finalObj.zona0[0].euro}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona1[0].euro"><b>Zóna 1:</b>
                        <br/>{{vm.finalObj.zona1[0].euro}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona2[0].euro"><b>Zóna 2: Dovolenkové krajiny a iné</b>
                        <br/>{{vm.finalObj.zona2[0].euro}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona3[0].euro"><b>Zóna 3: Ostatné krajiny</b>
                        <br/>{{vm.finalObj.zona3[0].euro}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona4[0].euro"><b>Zóna 4:</b>
                        <br/>{{vm.finalObj.zona4[0].euro}}
                        <br/>
                        <br/>
                    </div>
                    <!-- <b>Zóna 4: Ostatné krajiny, roaming na lodiach, roaming v lietadlách a satelitní operátori</b> -->
                </div>
            </div>
        </div>
    </section>
    <section class="section sec-3 text-center" id="sec-3">
        <div class="fixed-column">
            <h2 class="section__title">
			Internet v zahraničí Travel&amp;Surf</h2>
            <div class="col-group roaming__group">
                <div class="grid-g__col_4">
                    <img alt="Internet v mobile bez obáv" src="/documents/10179/663141/ico-globe.png" />
                    <p>
                        <b>Internet v mobile bez obáv</b></p>
                    <p>
                        Po prekročení hraníc si s paušálom Happy vždy vyberiete:
                        <br /> ■ či využijete dátové balíčky,
                        <br /> ■ či zaplatíte len toľko, koľko predátujete
                        <br /> ■ alebo dátové služby nevyužijete vôbec.</p>
                </div>
                <div class="grid-g__col_4">
                    <img alt="" src="/documents/10179/663141/ico-pointer.png" />
                    <p>
                        <b>Internet v mobile kdekoľvek ste</b></p>
                    <p>
                        Zabudnite na starosti s hľadaním Wi-Fi na dovolenke! Aktivujte si niektorý z balíčkov Internetu v zahraničí Travel&amp;Surf a dátujte výhodne kdekoľvek a kedykoľvek!</p>
                </div>
                <div class="grid-g__col_4">
                    <img alt="" src="/documents/10179/663141/ico-4g.png" />
                    <p>
                        <b>4G rýchlosť aj v zahraničí</b></p>
                    <p>
                        S nami dátujete 4G rýchlosťou už aj v Česku, Chorvátsku, Holandsku, Maďarsku, Nemecku, Poľsku, Rakúsku, Rusku alebo Švajčiarsku.</p>
                </div>
            </div>
            <h2 class="section__subTitle margin_top50">
			BALÍKY INTERNETU V ZAHRANIČÍ</h2>
            <p class="subsub__title">
                Balíky, ktoré platia v krajinách zóny 1</p>
            <div class="col-group">
                <div class="prodItem">
                    <p class="prodItem__title">
                        BALÍK XS</p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            35 MB DÁT</p>
                        <p class="midArea__desc">
                            Vhodný napr. na prezeranie cestovných poriadkov, počasia či e-mailov.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        2,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS3">AKTIVOVAŤ</a></div>
                <div class="prodItem">
                    <p class="prodItem__title">
                        BALÍK M</p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            100 MB DÁT</p>
                        <p class="midArea__desc">
                            Ideálny napr. na prezeranie fotografií a sťahovanie e-mailov s prílohami.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        5,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS4">AKTIVOVAŤ</a></div>
                <div class="prodItem">
                    <p class="prodItem__title">
                        BALÍK XL</p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            500 MB DÁT</p>
                        <p class="midArea__desc">
                            S balíkom napr. stiahnete e-maily s väčšími prílohami alebo využijete navigáciu.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        15,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS5">AKTIVOVAŤ</a></div>
            </div>
            <p class="subsub__title margin_top50">
                Balíky, ktoré platia v krajinách zóny 1 a 2</p>
            <div class="col-group">
                <div class="prodItem prodItem_inversed">
                    <p class="prodItem__title">
                        BALÍK XS <b>PLUS</b></p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            20 MB DÁT</p>
                        <p class="midArea__desc">
                            Vhodný napr. na prezeranie cestovných poriadkov, počasia či e-mailov.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        4,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS6">AKTIVOVAŤ</a></div>
                <div class="prodItem prodItem_inversed">
                    <p class="prodItem__title">
                        BALÍK M <b>PLUS</b></p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            100 MB DÁT</p>
                        <p class="midArea__desc">
                            Ideálny napr. na prezeranie fotografií a sťahovanie e-mailov s prílohami.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        10,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS7">AKTIVOVAŤ</a></div>
                <div class="prodItem prodItem_inversed">
                    <p class="prodItem__title">
                        BALÍK XL <b>PLUS</b></p>
                    <div class="prodItem__midArea">
                        <p class="midArea__title">
                            500 MB DÁT</p>
                        <p class="midArea__desc">
                            S balíkom napr. stiahnete e-maily s väčšími prílohami alebo využijete navigáciu.</p>
                        <!--<p class="midArea__desc">Balík platí v krajinách zóny 1 a 2</p>-->
                        <p class="midArea__desc">
                            Platnosť balíka je 30 dní odo dňa aktivácie</p>
                    </div>
                    <p class="price">
                        30,00 €</p>
                    <a class="button button_lima fancybox" href="#infoSMS8">AKTIVOVAŤ</a></div>
            </div>
            <div class="happy-legal margin_top50">
                <a class="note-legal" href="" onclick="$('#happy-legal-5').toggle('slow');return false;">Zóny/Krajiny pre balíky internetu v zahraničí</a>
                <div class="happy-legal-content margin_top20" id="happy-legal-5">
                    <div ng-if="vm.finalObj.zona0[0].travelSurf"><b>Zóna 0 :</b>
                        <br/>{{vm.finalObj.zona0[0].travelSurf}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona1[0].travelSurf"><b>Zóna 1: </b>
                        <br/>{{vm.finalObj.zona1[0].travelSurf}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona2[0].travelSurf"><b>Zóna 2 :</b>
                        <br/>{{vm.finalObj.zona2[0].travelSurf}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona3[0].travelSurf"><b>Zóna 3 :</b>
                        <br/>{{vm.finalObj.zona3[0].travelSurf}}
                        <br/>
                        <br/>
                    </div>
                    <div ng-if="vm.finalObj.zona4[0].travelSurf"><b>Zóna 4 :</b>
                        <br/>{{vm.finalObj.zona4[0].travelSurf}}
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
            <div class="happy-legal margin_top20">
                <a class="note-legal link_black" href="" onclick="$('#happy-legal-6').toggle('slow');return false;">Podmienky</a>
                <div class="happy-legal-content content_hidden margin_top20" id="happy-legal-6">
                    Ceny sú uvedené v € s DPH. Pre všetky balíčky služby Internet v zahraničí Travel&amp;Surf platí pre voľné dáta v rámci balíčkov tarifikačný interval
                    <br /> 10 kB a počíta sa ako suma prijatých a odoslaných dát. Služba Internet v zahraničí Travel&amp;Surf zahŕňa dátové prenosy cez APN WAP, internet, internet plus a nevzťahuje sa na dátové prenosy cez APN blackberry.net. Príslušný balíček je aktívny po doručení SMS správy potvrdzujúcej úspešnú aktiváciu. K deaktivácii balíčka služby Internet v zahraničí Travel&amp;Surf dôjde uplynutím maximálnej doby jeho platnosti alebo vyčerpaním celého objemu voľných dát podľa toho, ktorá z týchto skutočností nastane skôr.</div>
            </div>
        </div>
    </section>
</div>
<section class="section sec-4 text-center" id="sec-4">
    <div class="fixed-column">
        <h2 class="section__title">
			WEB ROAMING</h2>
        <p class="section__desc">
            Chcete vedieť, koľko stojí dátovanie v roamingu, ak si neaktivujete žiadny
            <br /> balík Internetu v zahraničí? Pozrite si stránku</p>
        <a class="link link_ul linkDeactivate" href="/wiki/internet/web-roaming">Web roaming</a></div>
</section>
<section class="section sec-5 text-center" id="sec-5">
    <div class="fixed-column">
        <h2 class="section__title">
			mohlo by vás zaujímať</h2>
        <div class="roamingHolder">
            <div class="col-group roaming__group">
                <div class="grid-g__col_6">
                    <img alt="Aktivácia balíkov internetu v zahraničí" src="/documents/10179/663141/ico-pointer.png" />
                    <p>
                        <b>Aktivácia balíkov internetu v zahraničí</b></p>
                    <p>
                        Stiahnite si všetky užitočné informácie o aktivácii balíkov internetu v zahraničí.</p>
                    <a class="link link_ul link_black" href="/documents/10179/640499/Letak_Internet+v+zahranici_shopy_JUL+2016.pdf/0a7151c3-345c-4f15-b4ca-3eec2a654876">Otvoriť PDF</a></div>
                <div class="grid-g__col_6">
                    <img alt="4G rýchlosť aj v zahraničí" src="/documents/10179/663141/ico-4g.png" />
                    <p>
                        <b>4G rýchlosť aj v zahraničí</b></p>
                    <p>
                        S nami dátujete 4G rýchlosťou už aj v Česku, Chorvátsku, Holandsku, Maďarsku, Nemecku, Poľsku, Rakúsku, Rusku alebo Švajčiarsku.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="roam-lightbox" id="infoSMS1" style="display: none;">
    <h2>
		Aktivácia Happy Roamingu</h2>
    <p class="firstPar">
        Pošlite bezplatnú SMS na číslo <b>12323</b> s textom <b>HAPPY ROAMING</b></p>
</div>
<div class="roam-lightbox" id="infoSMS2" style="display: none;">
    <h2>
		Deaktivácia Happy Roamingu</h2>
    <p class="firstPar">
        Pošlite bezplatnú SMS na číslo
        <br />
        <b>12323</b> s textom <b>HAPPY ROAM VYP</b> alebo
        <br />
        <b>HAPPY ROAMING VYP</b></p>
    <p>
        Deaktivácia služby je okamžitá a&nbsp;bezplatná.</p>
</div>
<div class="roam-lightbox" id="infoSMS3" style="display: none;">
    <h2>
		Zákazníci Happy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XS</b> na číslo <b>233</b></p>
</div>
<div class="roam-lightbox" id="infoSMS4" style="display: none;">
    <h2>
		Zákazníci Happy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA M</b> na číslo <b>233</b></p>
</div>
<div class="roam-lightbox" id="infoSMS5" style="display: none;">
    <h2>
		Zákazníci Happy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XL</b> na číslo <b>233</b></p>
</div>
<div class="roam-lightbox" id="infoSMS6" style="display: none;">
    <h2>
		Zákazníci Happy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XS PLUS</b> na číslo <b>233</b></p>
</div>
<div class="roam-lightbox" id="infoSMS7" style="display: none;">
    <h2>
		Zákazníci Happy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA M PLUS</b> na číslo <b>233</b></p>
</div>
<div class="roam-lightbox" id="infoSMS8" style="display: none;">
    <h2>
		Zákazníci Happy</h2>
    <p class="firstPar">
        Pre aktiváciu služby zašlite bezplatnú <b>SMS</b> s textom <b>DATA XL PLUS</b> na číslo <b>233</b></p>
</div>
<div class="roam-lightbox" id="infoSMSxxx" style="display: none;">
    <h2>
		Info SMS o cenách internetu v<br />
		zahraničí</h2>
    <p class="firstPar">
        Pre informácie pošlite bezplatnú SMS na
        <br /> číslo <b>233</b> v tvare:
        <br />
        <b>ROAM INFO</b></p>
    <h2>
		Kontrola spotreby dát</h2>
    <p class="secondPar">
        Zistite koľko dát ste už vyčerpali.
        <br /> Pošlite bezplatnú SMS na číslo <b>233</b> (pre
        <br /> paušály Happy) alebo na číslo <b>12330</b> (pre
        <br /> Easy karty) v tvare:
        <br />
        <b>ROAM DATA</b>
        <br /> &nbsp;
    </p>
    <p>
        Obratom dostanete bezplatnú SMS s informáciami o roamingových balíkoch.</p>
</div>
<script type="text/javascript" src="/documents/10179/663143/main.js"></script>
<!-- Roaming Json -->
<script type="text/javascript" src="/documents/10179/2580336/angular.min.js"></script>
<script type="text/javascript" src="/documents/10179/2580336/controllers.js"></script>
