<section id="section-shoppingScenario" class="section stepActivation">

	<input type="hidden" name="checkAgainstInternalId" value="2CJP95N">
	<div class="container-fixed">

		<div class="flex-row">
				<div class="back" data-level="1">
					<div class="back-text"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i>&nbsp; Späť</div>
				</div>
		</div>

		<div class="row borderBox">
			<div class="col-md-12 col-sm-12 col-xs-12">

				<div class="activation clearfix">

					<div id="level-1">
						<div class="row">
							<div class="packageSizeSelectHeaderText happyheaderText">Vyberte aký problém potrebujete vyriešiť</div>
						</div>

						<div class="row-select">
							<div id="select-level-1"></div>
						</div>

						<div class="row-button">
							<div class="shoppingCartBottom-nextStep">
								<button type="submit" data-level="1" class="level-button shoppingCartBottom-buttonNextStep scenarioNavigation disabled" id="button-level-1">Ďalej</button>
							</div>
						</div>

					</div>

					<div id="level-2">
						<div class="row">
							<div class="packageSizeSelectHeaderText happyheaderText">Pokračujte vo výbere</div>
						</div>

						<div class="row-select">
							<div id="select-level-2"></div>
						</div>

						<div class="row-button">
							<div class="shoppingCartBottom-nextStep">
								<button type="submit" data-level="2" class="level-button shoppingCartBottom-buttonNextStep scenarioNavigation disabled" id="button-level-2">Ďalej</button>
							</div>
						</div>

					</div>

					<div id="level-3">
						<div class="row">
							<div class="packageSizeSelectHeaderText happyheaderText">Pokračujte vo výbere</div>
						</div>

						<div class="row-select">
							<div id="select-level-3"></div>
						</div>

						<div class="row-button">
							<div class="shoppingCartBottom-nextStep">
								<button type="submit" data-level="3" class="level-button shoppingCartBottom-buttonNextStep scenarioNavigation disabled" id="button-level-3">Ďalej</button>
							</div>
						</div>

					</div>

				</div>

				<div class="formContent clearfix">

					<div class="row">
<!--						<span class="packageSizeSelectHeaderText happyheaderText">Vyplňte formulár</span>-->
					</div>

					<form id="tmsp-form">
						<div class="row">
							<div class="col-md-8">

								<h3>Zákaznícke údaje</h3>
								<div class="tmsp-box-customer">
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-8">

								<h3>Údaje o incidente</h3>
								<div class="tmsp-box-incident">
								</div>

							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<div class="shoppingCartBottom-nextStep">
									<button type="submit" class="shoppingCartBottom-buttonNextStep" id="form-button">Odoslať</button>
								</div>
							</div>
						</div>

					</form>

				</div>

				<div class="dakujeme clearfix">

					<div class="row">
						<span class="packageSizeSelectHeaderText happyheaderText">Ďakujeme za odoslanie</span>
					</div>

					<div class="row">
						<div class="col-md-8">
							Budeme vás kontaktovať
						</div>
					</div>


				</div>

			</div>
		</div>

	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>