/* HERO SECTION */
#hero {
  background: url(../img/kv.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  min-height: 254px;
  padding-top: 55px;
  & .hero__mobile {
    display: none;
  }
}

.hero__content {
  text-align: center;
  position: relative;
  & img.icon-ec {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -120px;
  }
}

.ec-nasim {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#content .hero__title {
  //color: #000;
  font-size: 38px;
  margin-bottom: 0px;
}

#hero .link {
  display: inline-block;
  color: #3ec0f0;
}

@media screen and (max-width: 960px) {
  #hero_old {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url(../img/kv.png) no-repeat;
    background-position: 60% 35%;
    background-size: cover;
    & .hero__content {
      & img.icon-ec {
        right: -120px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  #hero {
    .hero__content {
      width: auto;
    }
  }
}

@media screen and (max-width: 543px) {
  #hero {
    background: transparent;
    padding: 0;
    height: auto;
    & .hero__content {
      width: 100%;
      margin: 0;
      position: relative;
      & img.icon-ec {
        display: none;
      }
      .hero__title {
        margin-top: 40px;
        font-size: 30px;
      }
    }
    .ec-nasim {
      position: absolute;
      right: 10px;
      top: 100px;
    }
    .hero__mobile {
      display: block;
      background: url(../img/kv.png) no-repeat 63% 50%;
      background-size: cover;
      height: 210px;
      position: relative;
      & img.icon-ec {
        position: absolute;
        bottom: 10px;
        left: 15px;
      }
    }
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .hero__content {
      padding: 10px 4%;
    }
    .btn {
      margin-top: 30px;
    }
    .hero__title,
    .hero__desc {
      color: #262626 !important;
    }
  }
}

/* END HERO SECTION */

#sec-1,
#sec-3 {
  padding: 60px 0;
  overflow: hidden;
  color: #262626;
  .prg-holder {
    margin-bottom: 20px;
    .img-holder {
      height: 50px;
    }
  }
  .sec__title {
    font-size: 32px;
    margin: 35px 0;
    text-align: center;
    color: #e20074;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
      margin: 20px 0;
    }
  }

  .divider {
    margin: 20px 0 30px 0;
    border-bottom: solid 1px #ccc;
  }
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
}
@media screen and (max-width: 768px) {
  #sec-1 {
    .sec__description {
      width: 85%;
      margin: 0 auto;
    }
  }
}

#sec-2 {
  padding: 60px 0;
  overflow: hidden;
  color: #262626;
  background-color: #ededed;
  .sec__title {
    font-size: 32px;
    margin: 35px 0;
    text-align: center;
    color: #e20074;
    text-transform: uppercase;
    @media screen and (max-width: 768px) {
      margin: 20px 0;
    }
  }
  .sub-headline {
    margin-bottom: 40px;
  }
  .service {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 20px 40px 20px;
    background: white;
    h3 {
      color: #e20074;
      font-weight: bold;
      border-bottom: 1px solid #d0d0d0;
      padding-bottom: 20px;
    }
    h4 {
      color: #262626;
      //text-decoration: underline;
      //text-transform: uppercase;
      font-weight: bold;
      margin-top: 20px;
    }
    .magenta {
      color: #e20074;
      font-weight: bold;
    }
    .description {
      height: 150px;
      border-bottom: 1px solid #d0d0d0;
    }
    .btn {
      margin-top: 15px;
    }
  }
}

#sec-3 {
  background-color: #ededed;
}
//lightbox

.detail-lightbox {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.fancybox-skin {
  //border: 13px solid #6b6b6b !important;
  background-color: #fff !important;
}
.fancybox-title-outside-wrap {
  display: none;
}
.fancybox-close {
  right: -49px !important;
  top: -30px !important;
}

.detail-lightbox .list-arrow > li:before,
.detail-lightbox .list-square > li:before {
  color: #6c6c6c;
}

.detail-lightbox {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.detail-header {
  font-weight: bolder;
  font-size: 32px;
  padding: 10px 0;
}

#detail-info-table {
  & td {
    padding-left: 0px;
  }
}

.detail-img {
  display: inline-block;
  padding-right: 1%;
  text-align: center;
  width: 36%;
  @media (max-width: 500px) {
    width: 100%;
    float: none;
    display: block;
  }
  & a.btn {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 16px;
    color: #383838;
    background-color: #ededed;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
    &:hover {
      background-color: #dbdbdb;
      border: 1px solid #a1a1a1;
    }
  }
  & a.cta {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #65ac20;
    &:hover {
      background-color: #58951c;
      border: 1px solid #4d8319;
    }
  }
  & img {
    max-width: 100%;
  }
}

.detail-text {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  border-left: 1px solid #ededed;
  width: 58%;

  @media (max-width: 500px) {
    width: 100%;
    float: none;
    display: block;
  }
}

.detail-cena {
  font-weight: bold;
  font-size: 32px;
}

.detail-cena .price-small {
  font-size: 22px;
}

.detail-vlastnost {
  text-transform: uppercase;
  font-weight: bold;
}
