<div class="container">
    <a href="#" class="btn">Button</a>

    <a href="#" class="btn btn_disabled">Button</a>

    <a href="#" class="btn"><i class="fa fa-refresh" aria-hidden="true"></i>Icon</a>

    <a href="#" class="btn"><i class="fa fa-only fa-refresh" aria-hidden="true"></i></a>

    <a href="#" class="btn cta">Button</a>

    <a href="#" class="btn cta btn_disabled">Button</a>

    <a href="#" class="btn cta_mag">Button</a>

    <a href="#" class="btn cta_mag btn_disabled">Button</a>

    <a href="#" class="btn btn_clean">Button</a>

    <a href="#" class="btn btn_outline">Button</a>

    <a href="#" class="btn btn_mag-outline">Button</a>

    <a href="#" class="link">Hyperlink</a>

    <a href="#" class="play"><i class="fa fa-play" aria-hidden="true"></i></a>

    <label for="input1" class="input-label">Label</label>
    <input id="input1" class="input" type="text" placeholder="Placeholder" />

    <label for="textarea" class="input-label">Label</label>
    <textarea class="textarea" name="" id="textarea" cols="30" rows="10"></textarea>

    <form>
        <input type="radio" name="addName" value="1" checked>
        <br>
        <input type="radio" name="addName" value="2">
        <br>
        <input type="radio" name="addName" value="3">
    </form>

    <input type="checkbox">

    <p class="tooltip">ToolTip</p>

    <a href="#p-outer" class="popup">Popup</a>

    <select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>

    <div class="tabs-container">
        <div class="tab__holder">
            <ul class="tabs-menu">
                <li class="variant current" data-variant="1"><a href="#tab-1">tab1</a></li>
                <li class="variant" data-variant="2"><a href="#tab-2">tab2</a></li>
                <li class="variant" data-variant="3"><a href="#tab-3">tab3</a></li>
            </ul>
        </div>
        <div class="tab">
            <div class="tab-content" id="tab-1">
            content1
            </div>
            <div class="tab-content" id="tab-2">
            content2
            </div>
            <div class="tab-content" id="tab-3">
            content3
            </div>
        </div>
    </div>

    <input type="checkbox" class="js-switch" checked />

</div>

<div id="p-outer" style="display: none;">
    <div class="p-head"><a href="#" class="p-close"></a></div>

    <div class="p-content"></div>
</div>

<script type="text/javascript" src="../assets/js/switchery.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
