<style type="text/css">
	.mgt10 {
		margin-top: 10px;
	}

	@media (max-width: 800px) {
		.mgt10 {
			margin-top: 1%;
		}
	}</style>
	<section id="hero">
		<div class="container-fixed">
			<div class="hero__mobile">
				<!-- mobile --></div>
			<div class="hero__content">
				<h1 class="hero__title">
					<b>MAGIO SAT</b><br />
					A SKVELÉ VIANOČNÉ AKCIE</h1>
				<a class="scroll-to btn cta" href="?vianocne-akcie#sec-4">VIANOČNÉ AKCIE</a></div>
		</div>
	</section>
	<div id="nav-sticky">
		<ul>
			<li>
				<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
			<li>
				<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
			<li>
				<a class="scroll-to" href="?vianocne-akcie#sec-4">VIANOČNÉ AKCIE</a></li>
			<li>
				<a class="scroll-to" href="#sec-5">TV STANICE</a></li>
			<li>
				<a class="scroll-to" href="#sec-6">FUNKCIE</a></li>
			<li>
				<a class="scroll-to" href="#sec-7">DOPLNKOVÉ SLUŽBY</a></li>
			<li>
				<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
		</ul>
	</div>
	<section class="section sec-1" id="sec-1">
		<div class="fixed-column">
			<h2 class="section__title">
				VÝHODY MAGIO TELEVÍZIE</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Programy v HD kvalite" class="media__img" src="../assets/img/ico-hd.png" />
					<p class="media__title_black">
						Programy v HD kvalite</p>
					<p class="media__desc">
						Aj s Magio televíziou cez satelit si vychutnáte skutočné farby a ostré detaily pri sledovaní vybraných TV staníc v HD kvalite.</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Mobilná televízia Magio GO zadarmo" class="media__img" src="../assets/img/ico-tv.png" />
					<p class="media__title_black">
						Mobilná televízia Magio GO zadarmo</p>
					<p class="media__desc">
						K Magio televízii cez satelit získate zadarmo mobilnú televíziu Magio GO a to na celý čas využívania Magio TV cez satelit.</p>
					<a class="link media__link link_tundora" href="/televizia/magio-go">Viac o Magio GO</a></div>
				<div class="grid-g__col_4 media">
					<img alt="Široká dostupnosť v celej SR" class="media__img" src="../assets/img/ico-sk.png" />
					<p class="media__title_black">
						Dostupnosť na celom Slovensku</p>
					<p class="media__desc">
						Magio televíziu cez satelit vám zriadime všade tam, kde nie sú dostupné iné technológie (optická alebo metalická).</p>
					<!--<a href="#" class="link media__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
		</div>
	</section>
	<section class="section sec-2" id="sec-2">
		<div class="fixed-column">
			<h2 class="section__title">
				SLUŽBY A CENY MAGIO TELEVÍZIE</h2>
			<p class="section__desc">
				Magio televíziu cez satelit vám zriadime, ak u vás nie je dostupná iná technológia. Môžete si ju vziať v <a class="link" href="/chytry-balik">Chytrom balíku</a> samostatne alebo <b>za výhodnejšiu cenu v kombinácii s Magio internetom alebo Pevnou linkou</b>. Dostupnosť služby si overíte priamo v objednávke</p>
			<div class="col-group col-holder">
				<div class="grid-g__col_4 variant">
					<div class="variant__title">
						Magio TELEVÍZIA M</div>
					<div class="variant__chanels">
						<p class="chanels__title">
							<a class="fancy" href="#magiom">61 TV STANÍC</a></p>
					</div>
					<img alt="" class="variant__img" src="../assets/img/tv-1.png" />
					<div class="variant__go">
						Mobilná TV Magio GO zadarmo<br />
						<span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
					<div class="variant__pricing">
						<p class="price">
							10,00 € / mesačne</p>
						<p class="price__detail info-tooltip info-5 link-ul">
							s Magio internet a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					</div>
					<!-- btn nakonci -->
					<div class="variant__pricing">
						<br />
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=m"><span>VYBRAŤ</span> </a></div>
					<!-- koniec --></div>
				<div class="grid-g__col_4 variant">
					<div class="variant__title">
						Magio TELEVÍZIA L</div>
					<div class="variant__chanels">
						<p class="chanels__title">
							<a class="fancy" href="#magiol">78 TV staníc</a></p>
					</div>
					<img alt="" class="variant__img" src="../assets/img/tv-2.png" />
					<div class="variant__go">
						Mobilná TV Magio GO zadarmo<br />
						<span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
					<div class="variant__pricing">
						<p class="price">
							15,00 € / mesačne</p>
						<p class="price__detail info-tooltip info-5 link-ul">
							s Magio internetom a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					</div>
					<!-- btn nakonci -->
					<div class="variant__pricing">
						<br />
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=l"><span>VYBRAŤ</span> </a></div>
					<!-- koniec --></div>
				<div class="grid-g__col_4 variant">
					<div class="variant__title">
						Magio TELEVÍZIA XL</div>
					<div class="variant__chanels">
						<p class="chanels__title">
							<a class="fancy" href="#magioxl">103 TV staníc</a></p>
					</div>
					<img alt="" class="variant__img" src="../assets/img/program_xl.png" />
					<div class="variant__go">
						Mobilná TV Magio GO zadarmo<br />
						<span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
					<div class="variant__pricing">
						<p class="price">
							20,00 € / mesačne</p>
						<p class="price__detail info-tooltip info-5 link-ul">
							s Magio internetom a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
						<!-- <a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl"><span>VYBRAŤ</span> </a> --></div>
					<!-- btn nakonci -->
					<div class="variant__pricing">
						<br />
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl"><span>VYBRAŤ</span> </a></div>
					<!-- koniec --></div>
			</div>
			<div class="col-group">
				<div class="grid-g__col_12">
					<p class="disclaimer">
						Všetky uvedené ceny sú vrátane DPH.</p>
				</div>
			</div>
			<div id="cmb__holder">
				&nbsp;</div>
			<!--<div class="col-group">
				<div class="cmb__area" id="cmb__block">
					<h3 class="cmb__area__head" id="-5">
						CHCETE VÝHODNEJŠIU PONUKU?</h3>
					<a class="btn cta_mag" href="#" id="cmb__btn">Áno, zavolajte mi späť</a></div>
			</div>--></div>
	</section>
	<section class="section sec-3" id="sec-3">
		<div class="fixed-column">
			<h2 class="section__title">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Extra zľava 10 €" class="media__img" src="../assets/img/ico-discount.png" />
					<p class="media__title">
						Extra zľava 10 €</p>
					<p class="media__desc">
						pri kúpe Magio internetu cez web. V kombinácii s televíziou a Pevnou linkou zľava až do 40 €.</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Prvých 14 dní bez záväzkov" class="media__img" src="../assets/img/ico-cal.png" />
					<p class="media__title">
						Prvých 14 dní bez záväzkov</p>
					<p class="media__desc">
						pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Doručenie kuriérom zadarmo" class="media__img" src="../assets/img/ico-car.png" />
					<p class="media__title">
						Doručenie kuriérom zadarmo</p>
					<p class="media__desc">
						kdekoľvek v rámci SR</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section sec-aktualneAkcie" id="sec-4">
		<div class="fixed-column">
			<!--<h2 class="section__title">
				AKTUÁLNE AKCIE k MAGIO TV, INTERNETU a PEVNEJ LINKE</h2>
			<div class="col-group">
				<div class="box__sales box_full box_flex">
					<div class="box__imgHolder">
						<img alt="Samsung LED TV" class="box__img" src="/documents/10179/669910/prod-1.png" /></div>
					<div class="box_txtHolder">
						<p class="box__title">
							FULL HD LED TELEVÍZOR Samsung od 6 € mesačne</p>
						<p class="box__desc">
							alebo Xbox One s revolučnou technológiou Kineckt či notebook Lenovo IdeaPad v nadštandardnom prevedení!</p>
						<a class="button box__btn" href="/magio-tv-akcia">VIAC INFO</a></div>
				</div>
				<div class="box__sales box_full" style="margin: 1% 0;">
					<p class="box__title">
						VYUŽITE 100 % zľavU na faktúru za jeden mesiac</p>
					<a class="box__link box__moreInfo" href="/odporucte-zakaznika">Viac info</a></div>
				<div class="box__sales box_full">
					<a class="rightGreenLink" href="/viac-za-menej">ZÍSKAJTE VYŠŠIU SLUŽBU ZA CENU NIŽŠEJ <img alt="Arrow" class="img__arrowCirlcle" src="/documents/10179/669910/ico-roundArrow.png" /></a></div>
			</div>-->
			<div class="row">
				<h2 class="sec__title">
					VIANOČNÉ AKCIE</h2>
				<div class="offer__wrapper">
					<div class="sub-offer-chris">
						<div class="tabs-container">
							<div class="tab__holder">
								<ul class="tabs-menu" style="display: none">
									<!-- <li class="variant2 current" data-variant="1">
										<a href="#tab-1">Darčeky k Magio internetu</a></li> -->
									<!-- <li class="variant2" data-variant="2">
										<a href="#tab-2">Zariadenie od 1 €</a></li> -->
									<li class="variant2" data-variant="3">
										<a href="#tab-3">Bezdrôtová domácnosť</a></li>
								</ul>
							</div>
							<div class="tab">
								<!-- TAB 1 -->
								<!-- <div class="tab-content" id="tab-1">
									<p class="tab-label">
										DARČEKY K MAGIO INTERNETU</p>
									<div class="tab-help">
										<div class="tab-help-sub">
											<div class="tab-help-title">
												<h2>
													<b>Ako získať darčeky k Magio internetu a televízií?</b></h2>
											</div>
											<p>
												1. Vyberte si ľubovolné zariadenie.</p>
											<p>
												2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu a televízie a získate viac informácií.</p>
											<p>
												3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko Vám doručíme kuriérom.</p>
										</div>
										<div class="tab-icons">
											<img height="40px" src="/documents/10179/5213087/icon1.png" />
											<p>
												EXTRA WEB ZĽAVA</p>
										</div>
										<div class="tab-icons">
											<img height="40px" src="/documents/10179/5213087/icon2.png" />
											<p>
												14 DNÍ BEZ ZÁVÄZKOV</p>
										</div>
									</div>
									<div class="tab-acc">
										<div class="tab-acc-sub" data-href="notebook-mobil">
											<div class="tab-img-cont" style="padding-top: 15px;">
												<img src="/documents/10179/5213087/gift1.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_6.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/notebook-mobil">Lenovo IdeaPad 110 + Lenovo Moto C</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/notebook-mobil">&gt;</a></div>
												<div class="tab-ex">
													<p>
														Napr. k Magio internetu a TV XL:</p>
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Magio internet + TV XL</div>
														<div class="tab-ex-price">
															40,00 €</div>
													</div>
													<div class="tab-web-disc">
														<div class="tab-ex-label">
															<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
														<div class="tab-ex-price">
															-10,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															13,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															1,04 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/notebook-mobil">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub" data-href="playstation4-mobil-psplus">
											<div class="tab-img-cont">
												<img src="/documents/10179/5213087/gift2.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_7.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/playstation4-mobil-psplus">Sony PlayStation4 Slim +<br />
													hra a PS Plus na 90 dní+<br />
													Lenovo Moto C</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/playstation4-mobil-psplus">&gt;</a></div>
												<div class="tab-ex">
													<p>
														Napr. k Magio internetu a TV XL:</p>
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Magio internet + TV XL</div>
														<div class="tab-ex-price">
															40,00 €</div>
													</div>
													<div class="tab-web-disc">
														<div class="tab-ex-label">
															<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
														<div class="tab-ex-price">
															-10,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															13,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															1,04 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/playstation4-mobil-psplus">Prejsť k nákupu</a></div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- TAB 2 -->
								<!-- <div class="tab-content" id="tab-2">
									<p class="tab-label">
										ZARIADENIA OD 1€</p>
									<div class="tab-help">
										<div class="tab-help-sub">
											<div class="tab-help-title">
												<h2>
													<b>Ako získať zariadenie od 1 € k Magio internetu, Magio TV alebo Pevnej linke?</b></h2>
											</div>
											<p>
												1. Vyberte si ľubovolné zariadenie.</p>
											<p>
												2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu, Magio TV alebo Pevnej linky a získate viac informácií.</p>
											<p>
												3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko Vám doručíme kuriérom.</p>
										</div>
										<div class="tab-icons">
											<img src="/documents/10179/5213087/icon1.png" />
											<p>
												EXTRA WEB ZĽAVA</p>
										</div>
										<div class="tab-icons">
											<img src="/documents/10179/5213087/icon2.png" />
											<p>
												14 DNÍ BEZ ZÁVÄZKOV</p>
										</div>
									</div>
									<div class="tab-acc">
										<div class="tab-acc-sub" data-href="notebook-lenovo-ideapad-110">
											<div class="tab-img-cont" style="padding: 20px;">
												<img src="/documents/10179/5213087/ntbk_lenovo.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/notebook-lenovo-ideapad-110">Notebook Lenovo<br />
													IdeaPad 110</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/notebook-lenovo-ideapad-110">&gt;</a></div>
												<div class="tab-ex">
													<p>
														Napr. s pevnými službami XL:</p>
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Pevná služba XL</div>
														<div class="tab-ex-price">
															20,00 €</div>
													</div>
													<div class="tab-web-disc">
														<div class="tab-ex-label">
															<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
														<div class="tab-ex-price">
															-5,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															9,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															1,00 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/notebook-lenovo-ideapad-110">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub" data-href="playstation4-hry">
											<div class="tab-img-cont">
												<img src="/documents/10179/5213087/ps4.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/playstation4-hry">Sony PlayStation 4 Slim<br />
													+ 3 hry a PS Plus na 90 dní</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/playstation4-hry">&gt;</a></div>
												<div class="tab-ex">
													<p>
														Napr. s pevnými službami XL:</p>
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Pevná služba XL</div>
														<div class="tab-ex-price">
															20,00 €</div>
													</div>
													<div class="tab-web-disc">
														<div class="tab-ex-label">
															<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
														<div class="tab-ex-price">
															-5,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															9,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															1,00 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/playstation4-hry">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub" data-href="lenovo-moto-g5s-plus">
											<div class="tab-img-cont">
												<img class="change-width" src="/documents/10179/5213087/MotoG5.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/lenovo-moto-g5s-plus">Mobil Lenovo Moto G5s Plus</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/lenovo-moto-g5s-plus">&gt;</a></div>
												<div class="tab-ex">
													<p>
														Napr. s pevnými službami XL:</p>
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Pevná služba XL</div>
														<div class="tab-ex-price">
															20,00 €</div>
													</div>
													<div class="tab-web-disc">
														<div class="tab-ex-label">
															<img src="/documents/10179/5213087/icon5.png" />Web zľava 2, a 3. mesiac</div>
														<div class="tab-ex-price">
															-5,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															9,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															1,00 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/lenovo-moto-g5s-plus">Prejsť k nákupu</a></div>
											</div>
										</div>
									</div>
								</div> -->
								<!-- TAB 3 -->
								<div class="tab-content" id="tab-3" style="display: block">
									<p class="tab-label">
										BEZDRÔTOVÁ DOMÁCNOSŤ</p>
									<div class="tab-help">
										<div class="tab-help-sub">
											<div class="tab-help-title">
												<h2>
													<b>Ako získať bezdrôtové zariadenie k Magio internetu, Magio TV alebo Pevnej linke?</b></h2>
											</div>
											<p>
												1. Vyberte si ľubovolné zariadenie.</p>
											<p>
												2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu, Magio TV alebo Pevnej linky a získate viac informácií.</p>
											<p>
												3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko Vám doručíme kuriérom.</p>
										</div>
										<div class="tab-icons">
											<img src="/documents/10179/5213087/icon1.png" />
											<p>
												EXTRA WEB ZĽAVA</p>
										</div>
										<div class="tab-icons">
											<img src="/documents/10179/5213087/icon2.png" />
											<p>
												14 DNÍ BEZ ZÁVÄZKOV</p>
										</div>
									</div>
									<div class="tab-acc">
										<div class="tab-acc-sub" data-href="sluchadla-mys">
											<div class="tab-img-cont" style="padding: 10px;">
												<img src="/documents/10179/5213087/hp.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_4.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/sluchadla-mys">Bezdrôtové slúchadlá s<br />
													mikrofónom + bezdrôtová myš</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/sluchadla-mys">&gt;</a></div>
												<div class="tab-ex">
													<p>
														K ľubovolnej pevnej službe:</p>
													<div>
														<div class="tab-ex-label">
															Mesačný doplatok ku službe</div>
														<div class="tab-ex-price">
															0 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															9,90 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/sluchadla-mys">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub" data-href="glitel-gp-7420">
											<div class="tab-img-cont">
												<img class="change-width" src="/documents/10179/5213087/glitel7420.jpg" style="max-width: 180px;" /><br />
												<img class="change-width" src="/documents/10179/5213087/icon3.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_4.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/glitel-gp-7420">Powerline Extender<br />
													Glitel GP-7420</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/glitel-gp-7420">&gt;</a></div>
												<div class="tab-ex">
													<p>
														K ľubovolnej pevnej službe:</p>
													<div>
														<div class="tab-ex-label">
															Mesačný doplatok ku službe</div>
														<div class="tab-ex-price">
															0 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															9,90 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/glitel-gp-7420">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub" data-href="tplink-tlwpa-4220">
											<div class="tab-img-cont">
												<img class="change-width" src="/documents/10179/5213087/tplink4220.png" /><br />
												<img class="change-width" src="/documents/10179/5213087/icon4.png" /> <img class="sticker-picture2" src="/documents/10179/5213087/wording_5.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/tplink-tlwpa-4220">Powerline Wi-Fi Extender<br />
													TP-Link TL-WPA4220 Starter Kit</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/tplink-tlwpa-4220">&gt;</a></div>
												<div class="tab-ex">
													<p>
														K ľubovolnej pevnej službe:</p>
													<div>
														<div class="tab-ex-label">
															Mesačný doplatok ku službe</div>
														<div class="tab-ex-price">
															0 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															19,90 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/tplink-tlwpa-4220">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-mag-go">
											<h2>
												TELEVÍZIA KDEKOĽVEK</h2>
											<p>
												MAGIO GO TV BOX</p>
											<div class="tab-mag-go-1">
												<img src="/documents/10179/5213087/magio_box.png" width="80%" /> <img class="sticker-picture" src="/documents/10179/5213087/wording_3.png" /></div>
											<div class="tab-mag-go-2">
												<a class="btn popup" href="#info-magio-box">VIAC INFO</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                    <div class="dph">
                        <p>
                          Uvedené ceny sú s DPH</p>
                    </div>
										<!-- LEGAL TEXT -->
                    <!-- <div id="cont_legal">
                      <p class="legal-text">PODMIENKY</p>
                      <p class="legal-text">Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie balíčka služieb Magio Internet a Magio Televízia oboje v programe L alebo XL a s dobou viazanosti 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 13 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy. Akciová cena zariadení, ktoré sú predávané v danom balíčku, je platná len pri zakúpení daného balíčka ako celku. </p>
                      <p class="legal-text"><a id="show_legal">Čítať viac</a></p>
                      <p id="legal_more" class="legal-text">Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie služby Televízie, Internetu alebo Hlasovej služby v programe L alebo XL, s viazanosťou 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 9 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy.</p>
                    </div> -->
				</div>
				<div class="offer__wrapper">
					<!--<div class="offer-box box-1">
						<div class="offer__wrapper ">
							<div class="left-holder">
								<img alt="" src="/documents/10179/5209263/detskytabletm.png" style="width: inherit; margin-left: 25%;" /></div>
							<div class="right-holder">
								<h3 class="main-offer__title">
									TABLET OD 1 €</h3>
								<p class="main-offer__desc">
									Kvalitný tablet s voliteľnou aplikáciou KIDOZ s jednoduchým ovládaním pre deti.</p>
								<a class="btn cta" href="/detsky-tablet">ZISTIŤ VIAC</a></div>
						</div>--></div>



				<div class="offer-box_no-border box-2" style="display: none;">
					<div class="offer__wrapper">
						<div class="left-holder">
							<img alt="" src="/documents/10179/5209263/prod-bat.png" /></div>
						<div class="right-holder">
							<h4 class="offer__title">
								Darček ku každému nákupu!</h4>
							<p class="offer__desc">
								Externú batériu ako darček vám pribalíme ku každému nákupu.</p>
						</div>
					</div>
				</div>

				<div class="offer-box box-3 hidden" style="margin-top: 20px;width: 100%;">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h3 class="offer__title">
								Notebook od 1 €</h3>
							<p class="offer__desc">
								Kvalitny notebook HP 250 G5 pri objednaní niektorej zo služieb pevnej siete</p>
							<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">OBJEDNAŤ</a></div>
						<div class="right-holder">
							<img alt="" src="/documents/10179/5213087/offer-nb.jpg" /></div>
					</div>
				</div>


				<!-- OSTATNÉ AKCIE -->
				<h2 class="akcie_title">OSTATNÉ AKCIE</h2>
				<div class="offer-box box-2">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h4 class="offer__title">
								CHCETE VIAC ZA MENEJ?</h4>
							<p class="offer__desc">
								Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
							<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a>
						</div>
						<div class="right-holder">
								<!-- <img alt="" src="../assets/img/prod-eset.jpg" /> -->
					</div>
					</div>
				</div>
			</div>

			<!-- <div class="sub-offer__holder">
				<div class="sub-offer so__1" style="display: none;">
					<h5 class="so__title">
						Notebook Lenovo už od 1 €!</h5>
					<p class="so__desc">
						Vezmite si k Magio TV, internetu alebo Pevnej linke 11" notebook Lenovo IdeaPad 100S už od 1 €!</p>
					<a class="link so__link" href="/vianocna-ponuka/notebook-lenovo-ideapad-100-s">Zistiť viac o tejto akcii</a></div>
				<div class="sub-offer so__2" style="display: none;">
					<h5 class="so__title" style="margin-bottom: 20px;">
						Unikátne tablety len za 1 €</h5>
					<p class="so__desc">
							Získajte špeciálny Tablet na doma alebo Detský tablet len za 1 €!</p>
						<a class="link so__link sol_ico" href="/vianocna-ponuka/tablet-na-doma"><img alt="" src="/documents/10179/5209263/ico-home.png" />Viac o Tablete na doma</a><br /><a class="link so__link sol_ico" href="/vianocna-ponuka/detsky-tablet"><img alt="" src="/documents/10179/5209263/ico-tedy.png" />Viac o Detskom tablete</a></div>
				<div class="offer__wrapper box-7-outer">
					<div class="offer-box_no-border box-7">
						<div class="right-holder">
							<h4 class="offer__title">
								NOTEBOOK ALEBO PC K MAGIO SAT TV UŽ OD 1€</h4>
							<p class="offer__desc">
								Získajte výkonný notebook alebo PC (all-in-one) za výhodnú cenu.</p>
							<a class="cta btn" href="/notebook-pocitac-za-euro">Viac info</a></div>
					</div>
				</div>
			</div> -->


		</div>
	</section>
	<section class="section sec-5" id="sec-5">
		<div class="fixed-column">
			<h2 class="section__title">
				TELEVÍZNE STANICE</h2>
			<div class="col-group">
				<div class="grid-g__col_6 media">
					<img alt="Programové balíky v cene" class="media__img" src="../assets/img/ico-pipe.png" />
					<p class="media__title">
						Televízine stanice Magio TV cez satelit</p>
					<p class="media__desc">
						Ponúkame pestrú ponuku televíznych staníc, ktoré uspokoja aj toho najnáročnejšieho diváka. Pozrite si dostupné filmové, športové, dokumentárne, hudobné alebo detské TV stanice pre najmladších členov domácnosti.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-sat">Pozrieť Programové balíky</a></div>
				<div class="grid-g__col_6 media">
					<img alt="Extra programové balíky" class="media__img" src="../assets/img/ico-program.png" />
					<p class="media__title">
						Extra programové balíky</p>
					<p class="media__desc">
						Pozrite si ponuku extra balíkov aj pre tých najnáročnejších divákov, ktoré si môžete objednať navyše už od 1,39 € /mes. Vyberte si napríklad balík HBO + Cinemax, HD alebo Maďarský programový balík.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-sat#-2">Pozrieť Extra balíky</a><br />
					<p class="link media__link link_tundora info-activation info-tooltip">
						Ako balíky aktivovať</p>
				</div>
			</div>
			<div class="col-group col-space">
				<div class="grid-g__col_7">
					<p class="custom-title">
						Magio TV je úplne iná liga</p>
					<p class="custom-desc">
						S Magio TV cez satelit L sledujte futbalové zápasy Premier League, Ligy majstrov UEFA alebo La Liga exkluzívne so stanicami Digi Sport. Zastavte a pretočte obraz, aby vám už žiadny gól neunikol!</p>
					<a class="link custom-link" href="/televizia/magio-sport">Viac o športových staniciach</a>
					<p class="custom-desc">
						Exkluzívna Ťuki TV vysiela pre tých najmenších nové, ale&nbsp;aj tradičné rozprávky , seriály či hudbu výhradne v slovenčine. Stanica je&nbsp;dostupná len pre zákazníkov Magio televízie L a XL.</p>
					<a class="link custom-link" href="http://www.tukitv.sk" target="_blank">Viac o Ťuki televízii</a></div>
				<div class="grid-g__col_5">
					<img alt="Magio TV je úplne iná liga" class="prod-img" src="../assets/img/tv.png" /></div>
			</div>
		</div>
	</section>
	<section class="section sec-6" id="sec-6">
		<div class="fixed-column">
			<h2 class="section__title">
				FUNKCIE MAGIO TELEVÍZIE</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Vyhľadávanie" class="media__img" src="../assets/img/ico-magnify.png" />
					<p class="media__title">
						Vyhľadávanie</p>
					<p class="media__desc">
						S Magio televíziou nájdete film alebo reláciu jednoducho podľa názvu programu alebo mena hercov či režiséra v originálnom vysielacom jazyku (ak sú v TV programe uvedení).</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Nahrávanie s Magio Boxom" class="media__img" src="../assets/img/ico-device.png" />
					<p class="media__title">
						Nahrávanie s Magio Boxom</p>
					<p class="media__desc">
						<span class="underline info-tooltip info-1">Nahrajte si program až na 4 Magio boxoch.</span><br />
						Nahrať môžete až 120 hodín a nahrávanie si môžete nastaviť popredu cez samotnú televíziu alebo internet.</p>
					<!--<a href="#" class="link media__link link_tundora">nastaviť nahrávanie</a>
					<br />
					<a href="#" class="link media__link link_tundora">nastaviť nahrávanie z mobilu</a>--></div>
				<div class="grid-g__col_4 media">
					<img alt="Pozastavenie a pretočenie obrazu" class="media__img" src="../assets/img/ico-remote.png" />
					<p class="media__title">
						Pozastavenie a pretočenie obrazu</p>
					<p class="media__desc">
						Zastavte alebo pretočte obraz dozadu a späť. Vrátiť sa dá do času, od kedy ste program začali sledovať (max. 90 minút). Pri prepnutí na inú stanicu sa táto pamäť vymaže.</p>
				</div>
				<div class="grid-g__col_12">
					<a class="link media__link link_blue link_wiki" href="/wiki/televizia/funkcie-magio-sat">Pozrieť všetky funkcie na Wiki</a></div>
			</div>
		</div>
	</section>
	<section class="section sec-7" id="sec-7">
		<div class="fixed-column">
			<h2 class="section__title">
				DOPLNKOVÉ SLUŽBY</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Spustenie programu od začiatku a Magio archív" class="media__img" src="../assets/img/ico-ec.png" />
					<p class="media__title_black">
						Externý disk na nahrávanie</p>
					<p class="media__desc">
						Externý disk na nahrávanie obľúbených programov s pamäťou až 320 GB má jednoduché pripojenie cez USB. Je určený k Magio boxom, ktoré podporujú nahrávanie (tzv. HDD ready).</p>
					<p class="link media__link link_blue info-tooltip info-3">
						Ako kúpiť externý disk</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Extra programové balíky" class="media__img" src="../assets/img/ico-program.png" />
					<p class="media__title_black">
						Extra programové balíky</p>
					<p class="media__desc">
						uspokoja aj tých najnáročnejších divákov už od 1,39 / mes. Pre filmových fanúšikov je určený balík HBO + Cinemax s filmovými trhákmi. Okrem neho vám ponúkame rodinný a športový balíček programov v HD kvalite či balíček s maďarskými kanálmi.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-sat#-2">Pozrieť Extra balíky</a><br />
					<p class="link media__link link_tundora info-activation info-tooltip">
						Ako balíky aktivovať</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Pomoc s inštaláciou" class="media__img" src="../assets/img/ico-service.png" />
					<p class="media__title_black">
						Pomoc s inštaláciou</p>
					<p class="media__desc">
						Naši technici vám radi pomôžu so zapojením televízie za jednorazový poplatok 19,99 €. V prípade záujmu si službu Inštalácia technikom aktivujte v nákupnom košíku.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="detail">
		<div class="detail-lightbox" id="magiom">
			<div class="detail-content">
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
					&nbsp;</div>
				<p>
					*TV kanály Credo TV, TV Sonce, CCTV9 documentary, uTV, Inedit TV, Aljazeera English, CCTV News, Publika TV, RTV sú voľne dostupné na satelite, príjem signálu nie je garantovaný.</p>
				<p>
					**TV kanály Prima HD, Prima Cool, Nova sú vysielané v testovacej prevádzke, príjem signálu nie je garantovaný</p>
			</div>
		</div>
		<div class="detail-lightbox" id="magiol">
			<div class="detail-content">
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
					&nbsp;</div>
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_L_SAT">
					&nbsp;</div>
			</div>
		</div>
		<div class="detail-lightbox" id="magioxl">
			<div class="detail-content">
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
					&nbsp;</div>
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_L_SAT">
					&nbsp;</div>
				<div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SAT_XL">
					&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="easy-lightbox" id="info-magio-box">
		<p class="close-end">
			<a>X</a></p>
		<h2>
			<b>Magio GO TV Box</b></h2>
		<div class="lightbox-content">
			<div class="lightbox-content-1">
				<div class="lightbox-content-mob">
					<img src="/documents/10179/5213087/magio_go_box_mob.png" /> <img class="sticker-picture" src="/documents/10179/5213087/wording_8.png" /></div>
				<div>
					Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte internet.</div>
			</div>
			<div class="lightbox-content-2">
				K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO Premium za 5,99 € | mes.</div>
			<div class="lightbox-content-3">
				<div class="lightbox-icon">
					<img src="/documents/10179/5213087/icon6.png" /></div>
				<div class="lightbox-3-cont">
					V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
			</div>
		</div>
		<div class="lightbox-img-cont">
			<img src="/documents/10179/5213087/magio_go_box.png" /> <img class="sticker-picture" src="/documents/10179/5213087/wording_8.png" />
			<div class="tab-ex">
				<p>
					K ľubovolnej pevnej službe:</p>
				<div>
					<div class="tab-ex-label">
						Mesačne</div>
					<div class="tab-ex-price">
						0 €</div>
				</div>
				<div>
					<div class="tab-ex-label">
						Jednorázovo</div>
					<div class="tab-ex-price">
						<span class="strikethrough">69,99 €</span>29,90 €</div>
				</div>
			</div>
		</div>
		<p class="lightbox-action">
			<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
	</div>
	<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
