<section id="head-sec" class="section">
    <div id="sec-bg">
        <div class="container-fixed">
            <div class="hero row">
                <div class="col-head col-head-1">
                    <h1 class="hero-heading">MÁTE UŽ NÁROK NA<br /><span class="hero-huge">NOVÝ MOBIL?</span></h1>
                    <a href="/mobilkazdyrok" class="btn cta_mag hero-cta hp_kv_btn_overit">OVERIŤ</a>
                </div>
                <div id="desc-tiles" class="col-head col-head-2">
                    <a href="/sso-prihlasenie?redirect=http%3A%2F%2Fwww.telekom.sk%2Fweb%2Fmojtelekom%2Ffaktury" class="tile__link dlazdica_faktura">
                        <div class="tile">
                            <div class="tile__inner">
                                <img src="../assets/img/ico-1.png" alt="" class="tile__img">
                                <p class="tile__title">Zaplatiť faktúru</p>
                            </div>
                        </div>
                    </a>
                    <a href="/volania/easy?dobit-kredit#sec-7" class="tile__link dlazdica_kredit">
                        <div class="tile">
                            <div class="tile__inner">
                                <img src="../assets/img/ico-2.png" alt="" class="tile__img">
                                <p class="tile__title">Dobiť kredit</p>
                            </div>
                        </div>
                    </a>
                    <a href="/dostupnost" class="tile__link dlazdica_dostupnost">
                        <div class="tile">
                            <div class="tile__inner">
                                <img src="../assets/img/ico-3.png" alt="" class="tile__img">
                                <p class="tile__title">Dostupnosť
                                    <br />služieb</p>
                            </div>
                        </div>
                    </a>
                    <a href="/volania/roaming" class="tile__link dlazdica_cestujem">
                        <div class="tile">
                            <div class="tile__inner">
                                <img src="../assets/img/ico-7.png" alt="" class="tile__img">
                                <p class="tile__title">Cestujem do
                                    <br />zahraničia</p>
                            </div>
                        </div>
                    </a>
                    <a href="/wiki" class="tile__link dlazdica_podpora">
                        <div class="tile">
                            <div class="tile__inner">
                                <img src="../assets/img/ico-4.png" alt="" class="tile__img">
                                <p class="tile__title">Pomoc a podpora</p>
                            </div>
                        </div>
                    </a>
                    <a href="https://forum.telekom.sk/" target="_blank" class="tile__link dlazdica_forum">
                        <div class="tile">
                            <div class="tile__inner">
                                <img src="../assets/img/ico-6.png" alt="" class="tile__img">
                                <p class="tile__title">Telekom fórum</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <img id="head-motion-bg" src="../assets/img/kv.jpg" alt="">
    </div>
</section>
<section id="sec-mob-tile" class="section sec-mob-tile">
    <div class="container-fixed">
        <div class="row">
            <div id="mob-tiles" class="col-head col-head-2"></div>
        </div>
    </div>
</section>
<section class="section tabs-section">
    <div class="container-fixed">
        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu">
                    <li class="variant current" data-variant="1"><a href="#tab-1">Akcie</a></li>
                    <li class="variant" data-variant="2"><a href="#tab-2">Volania</a></li>
                    <li class="variant" data-variant="3"><a href="#tab-3">Internet</a></li>
                    <li class="variant" data-variant="4"><a href="#tab-4">Televízia</a></li>
                    <li class="variant" data-variant="5"><a href="#tab-5">Magenta 1</a></li>
                </ul>
            </div>
            <div class="tab">
                <!-- TAB:AKCIE -->
                <div class="tab-content" id="tab-1">
                    <!-- tab1_col1 -->
                    <div class="col-3">
                        <a class="box-outer tab1_row1_col1" href="/samsung">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/s8-small.png" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Samsung Galaxy S8 už v predaji</p>
                                            <span class="box__link">Zobraziť mobil <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="box-outer tab1_row2_col1" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw">
                            <div class="box-clearer">
                                <div class="box box_dark">
                                    <div class="box__inner">
                                        <div class="box-content">
                                            <p class="box__title">Najobľúbenejšie mobily</p>
                                            <span class="box__link">Prejsť k mobilom</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- tab1_col2 -->
                    <div class="col-3">
                        <a class="box-outer tab1_row1_col2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">
                            <div class="box-clearer">
                                <div class="box box_gray">
                                    <div class="box__inner">
                                        <!--<div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-vyhodne-ceny.jpg" alt="">
                                        </div>-->
                                        <div class="box-content">
                                            <p class="box__title">Čím viac služieb si vezmete, tým výhodnejšie ceny získate</p>
                                            <span class="box__link">s Chytrým balíkom <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="box-outer tab1_row1_col1" href="/magenta1#sec-act">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/sagan-hp.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Dátujte neobmedzene ľubovoľný deň v týždni počas celého leta</p>
                                            <span class="box__link">s MAGENTA 1 <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- tab1_col3 -->
                    <div class="col-3">
                        <div class="box box__mkr">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title">Máte nárok na nový mobil?
                                        <br />Overte si to jednoducho dvoma krokmi.</p>
                                    <label for="mkr__input1" class="input-label">Zadajte svoje telefónne číslo:</label>
                                    <input id="mkr__input1" class="mkr__input input" type="text" placeholder="09 _ _ _ _ _ _ _ _" />
                                    <p class="mkr__error">ssss</p>
                                    <a href="#" class="btn cta box__btn mkr__submit btn_disabled tab1_row1_col3">OVERIŤ</a>
                                    <div class="tc">
                                        <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw" class="box__link box__link_dark box__link_ul">Chcem nový mobil,<br />ale nie som zákazník Telekomu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box__cmb">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title">Potrebujete sa poradiť?</p>
                                    <a href="#" class="box__link home-page-cmb">Áno, zavolajte mi späť <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="ad-1 box__link-main">
                            <div class="box box-ad ad-1">
                                <div class="box__inner">
                                    <div class="box-content">
                                        <p class="box__title"><!-- box__title --></p>
                                        <span class="box__link"><!-- box__link --></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--  TAB:VOLANIA -->
                <div class="tab-content" id="tab-2">
                    <!-- COL:1 -->
                    <div class="col-3 tab2__col1">
                        <!-- COL:1__ROW:1 -->
                        <a class="box-outer tab2_row1_col1" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-naj-mob.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Najobľúbenejšie mobily</p>
                                            <span class="box__link">Prejsť k mobilom <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <!-- COL:1__ROW:2 -->
                        <a class="box-outer tab2_row2_col1" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/honor_8">
                            <div class="box-clearer tab2__col1-row2">
                                <div class="box box_mageta text_white">
                                    <div class="box__inner">
                                        <div class="box-content">
                                            <p class="box__title">Exkluzívne na webe
                                                <br>Honor 8</p>
                                            <span class="box__link">Prejsť na ponuku</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- COL:2 -->
                    <div class="col-3 tab2__col2">
                        <a class="box-outer tab2_row1_col2" href="/volania/happy?xl_data_premladych#sec-6">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/tab2_col2.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <div class="ec-holder">
                                                <img src="../assets/img/ec-novinka.png" alt="" class="ec-img">
                                            </div>
                                            <p class="box__title">Získajte 5 GB dát s novým
                                                <br>paušálom Happy XL dáta pre
                                                <br>mladých a zľavu až 20 € na mobil!</p>
                                            <br />
                                            <span class="box__link">Prejsť na paušál <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- COL:3 -->
                    <div class="col-3 tab2__col3">
                        <!-- COL:3__ROW:1 -->
                        <div class="box box__mkr">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title">Máte nárok na nový mobil?
                                        <br />Overte si to jednoducho dvoma krokmi.</p>
                                    <label for="mkr__input2" class="input-label">Zadajte svoje telefónne číslo:</label>
                                    <input id="mkr__input2" class="mkr__input input" type="text" placeholder="09 _ _ _ _ _ _ _ _" />
                                    <p class="mkr__error"></p>
                                    <a href="#" class="btn cta box__btn mkr__submit btn_disabled tab2_row1_col3">OVERIŤ</a>
                                    <div class="tc">
                                        <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw" class="box__link box__link_dark box__link_ul">Chcem nový mobil,<br />ale nie som zákazník Telekomu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- COL:3__ROW:2 -->
                        <div class="box box__cmb">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title">Potrebujete sa poradiť?</p>
                                    <a href="#" class="box__link home-page-cmb">Áno, zavolajte mi späť <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COL:3__ROW:3 -->
                        <a href="#" class="ad-2 box__link-main">
                            <div class="box box-ad ad-2">
                                <div class="box__inner">
                                    <div class="box-content">
                                        <p class="box__title"><!-- box__title --></p>
                                        <span class="box__link"><!-- box__link --></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- TAB:INTERNET -->
                <div class="tab-content" id="tab-3">
                    <div class="col-3">
                        <a class="box-outer tab3_row1_col1" href="/internet/magio-internet">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-internet-na-doma.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Internet na doma s extra web zľavou</p>
                                            <span class="box__link">Prejsť na ponuku <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="box-outer tab3_row2_col1" href="/detsky-tablet">
                            <div class="box-clearer">
                                <div class="box box_dark">
                                    <div class="box__inner">
                                        <div class="box-content">
                                            <p class="box__title">Detský tablet už od 1€</p>
                                            <span class="box__link">Prejsť na ponuku</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="box-outer tab3_row1_col2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-vyhodne-ceny.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Čím viac služieb si vezmete, tým výhodnejšie ceny získate</p>
                                            <span class="box__link">s Chytrým balíkom <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="box-outer tab3_row1_col3" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-internet-tv.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Vezmite si k internetu aj televíziu od 18 € mesačne</p>
                                            <span class="box__link">Prejsť na ponuku <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="box box__cmb">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title">Potrebujete sa poradiť?</p>
                                    <a href="#" class="box__link home-page-cmb tab3_row2_col3">Áno, zavolajte mi späť <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="ad-3 box__link-main">
                            <div class="box box-ad ad-3">
                                <div class="box__inner">
                                    <div class="box-content">
                                        <p class="box__title"><!-- box__title --></p>
                                        <span class="box__link"><!-- box__link --></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- TAB:TV -->
                <div class="tab-content" id="tab-4">
                    <div class="col-3">
                        <a class="box-outer tab4_row1_col1" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-vyhodne-ceny.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Čím viac služieb si vezmete, tým výhodnejšie ceny získate</p>
                                            <span class="box__link">s Chytrým balíkom <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <a class="box-outer tab4_row1_col2" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=m">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-tv-stanice.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">61 TV staníc len za 10 € mesačne</p>
                                            <span class="box__link">s Magio televíziou M <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="box-outer tab4_row2_col2" href="/televizia/magio-go?sluzby-a-ceny#sec-1">
                            <div class="box-clearer">
                                <div class="box box_dark">
                                    <div class="box__inner">
                                        <div class="box-content">
                                            <p class="box__title">Televízia Magio GO zadarmo!</p>
                                            <span class="box__link">K Magio TV M, L a XL</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-3">
                        <div class="box box__cmb">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title">Potrebujete sa poradiť?</p>
                                    <a href="#" class="box__link home-page-cmb tab4_row1_col3">Áno, zavolajte mi späť <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="ad-4 box__link-main">
                            <div class="box box-ad ad-4">
                                <div class="box__inner">
                                    <div class="box-content">
                                        <p class="box__title"><!-- box__title --></p>
                                        <span class="box__link"><!-- box__link --></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="box-outer tab4_row2_col3" href="/televizia/magio-go/magio-go-tv-box">
                            <div class="box-clearer">
                                <div class="box">
                                    <div class="box__inner">
                                        <div class="box-img-holder">
                                            <img class="box-img" src="../assets/img/box-go-box.jpg" alt="">
                                        </div>
                                        <div class="box-content">
                                            <p class="box__title">Magio GO TV Box</p>
                                            <span class="box__link">Viac info <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- TAB:MAGENTA -->
                <div class="tab-content" id="tab-5">
                    <!--<div class="col-huge">
                        <a href="/magenta1" class="tab5_row1_col1">
                            <div class="box box-mag-1 box_flex-width box-horizontal box-horizontal_right">
                                <div class="box-img-holder">
                                    <img class="box-img" src="../assets/img/box-otec.jpg" alt="">
                                </div>
                                <div class="box-content">
                                    <p class="box__title">S Magentou 1 ušetríte až 180 € ročne!</p>
                                    <p class="box__desc">Lebo mať internet, televíziu a mobilné paušály v jednom balíku je výhodné.</p>
                                    <span class="btn cta box__btn">PREJSŤ K MAGENTA 1</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-small">
                        <div class="box box__cmb box__cmb_vertical">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title">Potrebujete sa poradiť?</p>
                                    <a href="#" class="box__link home-page-cmb">Áno, zavolajte mi späť <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <a href="#" class="ad-5 box__link-main">
                            <div class="box box-ad ad-5 box-ad_vertical">
                                <div class="box__inner">
                                    <div class="box-content">
                                        <p class="box__title"></p>
                                        <span class="box__link"></span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>-->
                <div class="col-3">
                    <a class="box-outer tab1_row1_col1" href="/magenta1#sec-act">
                        <div class="box-clearer">
                            <div class="box">
                                <div class="box__inner">
                                    <div class="box-img-holder">
                                        <img class="box-img" src="../assets/img/sagan-hp_med.jpg" alt="">
                                    </div>
                                    <div class="box-content">
                                        <p class="box__title">Dátujte neobmedzene ľubovoľný deň v týždni počas celého leta</p>
                                        <span class="box__link">s MAGENTA 1 <img class="link-arrow" src="../assets/img/arrow-right.png" alt=""></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a class="box-outer tab1_row1_col1" href="/magenta1">
                        <div class="box-clearer">
                            <div class="box">
                                <div class="box__inner">
                                    <div class="box-img-holder">
                                        <img class="box-img" src="../assets/img/otec-small.jpg" alt="">
                                    </div>
                                    <div class="box-content">
                                        <p class="box__title">S Magentou 1 ušetríte až 180 € ročne!</p>
                                        <p class="box__desc">Lebo mať internet, televíziu a mobilné paušály v jednom balíku je výhodné.</p>
                                        <span class="btn cta box__btn">PREJSŤ K MAGENTA 1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-3">
                    <a href="#" class="ad-5 box__link-main">
                        <div class="box box-ad ad-5">
                            <div class="box__inner">
                                <div class="box-content">
                                    <p class="box__title"><!-- box__title --></p>
                                    <span class="box__link"><!-- box__link --></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="accordion"></div>
    </div>
</section>
<section class="section section-inovations">
    <div class="container-fixed">
        <div class="title-line-through">
            <h2 class="img-title"><img src="../assets/img/title.png" alt=""></h2>
            <div class="line"></div>
        </div>
        <div class="col-holder">
            <div class="col-3 col-bottom">
                <a href="/smarthome">
                    <div class="box">
                        <div class="box__inner">
                            <div class="box-img-holder">
                                <img class="box-img" src="../assets/img/box-4.jpg" alt="">
                            </div>
                            <div class="box-content">
                                <p class="box__title">Magenta SmartHome
                                    <br/>Váš inteligentný domov</p>
                                <span class="box__link">Viac informácií <img src="../assets/img/arrow-right.png" alt=""></span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3 col-bottom">
                <div class="box">
                    <div class="box__inner">
                        <div class="box-img-holder">
                            <img class="box-img" src="../assets/img/box-5.jpg" alt="">
                        </div>
                        <div class="box-content">
                            <p class="box__title">Aplikácia Telekom</p>
                            <p class="box__desc">S bezplatnou aplikáciou Telekom máte svoju spotrebu pod kontrolou, môžete uhradiť faktúru či dobiť kredit na Easy karte.</p>
                            <a href="/telekom-aplikacia" class="box__link">Viac informácií <img src="../assets/img/arrow-right.png" alt=""></a>
                            <a href="/telekom-aplikacia#download" class="btn cta box__btn">STIAHNUŤ APLIKÁCIU</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section forum-section">
    <div class="container-fixed">
        <div class="title-line-through">
            <h4 class="fs-title">Telekom fórum</h4>
            <div class="line"></div>
        </div>
        <p class="fs-description">Poraďte sa o internete, volaniach, televízii, zdieľajte svoje skúsenosti alebo pomôžte ostatným!</p>
        <div class="row forum">
            <div class="col-6">
                <div class="forum-table ft__topics">
                </div>
            </div>
            <div class="col-6">
                <div class="forum-table ft__posts">
                </div>
            </div>
        </div>
        <div class="forum-cta">
            <a href="https://forum.telekom.sk/" target="_blank" class="btn">PREJSŤ NA TELEKOM FÓRUM</a>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/TweenMax.min.js"></script>
<script type="text/javascript" src="../assets/js/CSSPlugin.min.js"></script>
<script type="text/javascript" src="../assets/js/EasePack.min.js"></script>
<script type="text/javascript" src="../assets/js/TweenLite.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=2"></script>
<script type="text/javascript" src="../assets/js/mkr.js"></script>
<script type="text/javascript" src="../assets/js/forum.js"></script>
<script type="text/javascript" src="../assets/js/cmb.js?v=2"></script>
<script type="text/javascript" src="../assets/js/bg.js"></script>
