/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

#wrapper .btn_two-lined {
    height: 50px;
    line-height: 20px;
    padding-top: 4px;
    min-width: 160px;
}

#content .btn_border {
    border-color: #58951c;
}

#content .link {
    color: #007faf;
    text-decoration: underline;
}

#content .sec__title {
    margin: 0;
    color: $magenta;
    text-transform: uppercase;
    text-align: center;
    font-size: 32px;
}

#content .sec__desc {
    margin: 0;
    text-align: center;
}

#content .button {
    border-radius: 3px;
}

.section {
    padding: 46px 0;
}

#content .link_dark {
    color: #262626;
}


/* HERO */

#hero {
    background: url(../img/kv.jpg) 50% 50% no-repeat;
    background-size: cover;
    min-height: 260px;
    padding: 60px 2%;
}

.hero__content {
    max-width: 533px;
    width: 100%;
    text-align: center;
}

#content #hero .link {
    margin-top: 10px;
    display: inline-block;
}


/* SEC - 1 */

.sec-1 {
    padding-bottom: 0;
}

.sec-1 .fixed-column {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 46px;
}

.benefits {
    margin-top: 20px;
    text-align: center;
}

#content .benefits p {
    margin: 0;
}

#content .benefit__title {
    font-weight: bold;
}

#content p.benefit__desc {
    margin-top: 5px;
    display: inline-block;
}

@media screen and (max-width: 700px) {
    #content .benefit {
        width: 50%;
    }
    .clearer {
        height: 1px;
        width: 100%;
        float: left;
        margin: 10px 0;
    }
}

@media screen and (max-width: 450px) {
    #content .benefit {
        width: 100%;
        margin-bottom: 15px;
    }
    #content .benefit:last-of-type {
        margin-bottom: 0;
    }
    .clearer {
        display: none;
    }
}


/* SEC - 2 */

#content .act_internet p {
    color: #262626;
}

.activation {
    display: flex;
    margin: 15px 0 30px 0;
}

.act__box {
    padding: 20px;
    border-radius: 5px;
}

#content .act__box p {
    margin: 0;
}

.act__internet {
    background-color: #ededed;
    border: 1px solid #ededed;
    margin-right: 2%;
}

.act__person {
    border: 1px solid #d0d0d0;
}

#content p.act__title {
    font-size: 24px;
    margin-bottom: 10px;
}

.act__step img {
    vertical-align: middle;
    margin-right: 5px;
}

#content p.act__step {
    margin-bottom: 10px;
}

#content .img__holder,
#content .text__holder {
    float: left;
}

#content .img__holder {
    width: 10%;
    min-width: 27px;
}

#content .text__holder {
    width: 90%;
}

@media screen and (max-width: 700px) {
    .activation {
        display: inline-block;
    }
    #content .act__box {
        width: 100%;
    }
    .act__internet {
        margin-bottom: 15px;
    }
}

.link-img {
    vertical-align: middle;
    margin-right: 5px;
}