/* ===============
   CSS FOR MICROSITE
   =============== */
#selfcare {
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    background-color: #fff;
    background: url(../img/main_background.png) no-repeat;
    background-size: cover;
    min-height: 768px;
    max-width: 1024px;
    width: 100%;
}

.menu-desc {
    color: #fff;
}

#selfcare-cenniky {

    .main-menu-item {
        margin-right: 40px;
    }
    
    .main-menu-item2 {
        font-size: 18px;
        
        img {
            width: 180px;
        }
    }
    
    .main-menu-item-last {
        margin-right: 0;
    }

    .main-menu-item, .main-menu-item-last {
        img {
            max-width: 180px;
        }
    }

    .header-top-bold {
        position: absolute;
        top: 75px;
        left: 30px;
        text-transform: uppercase;
        font-size: 72px;
        color: #fff;
        font-weight: 300;
        font-family: "TeleGroteskNext";
    }

    .cenniky {
        position: absolute;
        top: 195px;
        left: 20px;
    }

    .header-top {
        font-size: 30px;
        color: #fff;
        font-weight: 300;
        font-family: "TeleGroteskNext";
        padding-bottom: 10px;
    }

    .tile {
        background-color: rgba(75, 75, 75, 0.6);
        border: 1px solid rgba(255, 255, 255, 1);
        height: 128px;
        width: 128px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
        padding: 10px;
    }

    .row {
        margin-top: 20px;
        text-align: center;
    }

    .email {
        width: 180px;
        margin-left: -10px;
        margin-top: 20px;
        text-align: center;

        .cta {
            display: inline-block;
            background-color: rgb(226, 0, 116);
            color: rgb(255, 255, 255);
            border: rgb(204, 0, 105);
        }

        .btn {
            margin-bottom: 10px;
        }
    }

    .circle {
        height: 150px;
        width: 150px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        border-radius: 50%; /* may require vendor prefixes */
        //background: #666;
        background: #383838;
        color: #fff;
        font-size: 20px;
        padding: 10px;
    }
}


.no-padding {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
}

#suhlas {
    li {
        padding-bottom: 10px;
    }

    h1 {
        padding-left: 33px;
        color: #e20074;
    }
}

.kiosk-back {
    font-size: 70px;
    margin-right: 50px;
    cursor: pointer;
}

#email {

    .email-description {
        margin-top: 30px;
        font-size: 18px;
    }

    button.btn_mag-outline, .btn_mag-outline {
        border: solid 1px #e20074;
        cursor: pointer;
        background-color: transparent;
        color: #e20074;
        display: inline-block;
        text-decoration: none;
        width: 150px;
        margin-left: 10px;
        margin-right: 10px;
        transform: scale(1)
    }

    a.btn_mag-outline {
        padding: 10px 19px;
    }

    .email-buttons {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    input {
        position: relative;
        padding: 15px 5px 8px 5px;
        border: 0px solid #dadada;
        background-color: transparent;
        border-bottom: 1px solid #a4a4a4;
        font-size: 0.875rem;
        font-weight: 700;
        transition: border 200ms ease-in-out;
        box-shadow: none;
        border-radius: 0;
    }
}

#send-email {
    width: 230px !important;
    font-size: 18px;
}

#email-address {
    font-size: 18px !important;
    color: #a4a4a4;
    width: 300px;
}

.email-send {
    margin-top: 20px;
    padding-bottom: 40px;
}

.email-thx {
    margin-top: 20px;
    font-weight: bold;
}

ul.parsley-errors-list {
    margin: 0;
}

input.parsley-error, input.parsley-error:focus,
textarea.parsley-error,
textarea.parsley-error:focus {
    box-shadow: none !important;
    border-color: #dc3545;
}

input.parsley-success, input.parsley-success:focus,
textarea.parsley-success,
textarea.parsley-success:focus {
    box-shadow: none !important;
    border-color: #10b759;
}

.parsley-checkbox.parsley-error, .parsley-checkbox.parsley-success {
    display: inline-block;
    padding: 10px;
    border-radius: 0.25rem;
}

.parsley-checkbox.parsley-error {
    border: 1px solid #dc3545;
}

.parsley-checkbox.parsley-success {
    border: 1px solid #10b759;
}

.custom-select.parsley-error, .custom-select.parsley-success {
    box-shadow: none !important;
}

.custom-select.parsley-error {
    border-color: #dc3545;
}

.custom-select.parsley-success {
    border-color: #10b759;
}

.parsley-errors-list {
    color: #dc3545;
    list-style: none;
    font-size: 15px;
    padding: 0;
    margin-bottom: 0;
    text-align: left;
    padding-left: 10px;
}

.parsley-errors-list li {
    margin: 5px 0 0;
}

/***** CUSTOM STYLED ERROR MESSAGE *****/
.parsley-style-1 .parsley-input.parsley-error .form-control {
    background-color: #fef9f9;
    border-color: #dc3545;
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.parsley-style-1 .parsley-input.parsley-success .form-control {
    border-color: #10b759;
}

.parsley-style-1 .parsley-checkbox.parsley-error {
    padding-bottom: 35px;
    border: 1px solid #dc3545;
    background-color: #fef9f9;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.parsley-style-1 .parsley-checkbox .parsley-errors-list.filled {
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.parsley-style-1 .custom-select.parsley-error {
    border-bottom-width: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.parsley-style-1 .parsley-errors-list.filled {
    background-color: #dc3545;
    color: #fff;
    padding: 3px 10px;
    font-size: 11px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.parsley-style-1 .parsley-errors-list.filled li:first-child {
    margin-top: 0;
}
