/* ===============
   CSS FOR MICROSITE
   =============== */

/* HERO SECTION */
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-50 {
  margin-top: 50px !important;
}

.hero {
  background: url(../img/hero.jpg) no-repeat 50%;
  background-color: #000;
  padding: 60px 2%;
  overflow: hidden;
  margin: 0 auto;
  &__title {
    font-size: 42px;
    font-weight: bold;
    line-height: 50px;
  }
  &__desc {
    font-size: 28px;
    text-transform: uppercase;
  }
  &__info {
    padding: 3px 8px;
    background-color: #e20074;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    display: inline-block;
  }
  &__eec {
    position: absolute;
    bottom: 0;
    right: 180px;
    width: 100px;
    @media screen and (max-width: 1024px) {
      right: 10px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

#sec-1 {
  background-color: #f4f4f4;
}
#sec-2 {
  padding: 70px 0;
  background-color: #fff;
  .img-holder {
    height: 137px;
  }
  h2 {
    color: #262626;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
  }
  h3 {
    color: #262626;
    font-size: 30px;
    text-transform: uppercase;
  }
  h4 {
    color: #262626;
    font-size: 25px;
    text-transform: uppercase;
  }
  p {
    color: #262626;
    font-size: 18px;
  }
  .or {
    position: absolute;
    top: 45%;
    left: 48%;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .or-mobile {
    position: relative;
    display: none;
    margin-top: 40px;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      display: block;
    }
    hr {
      border-top: 1px solid #bbbdbf;
    }
    span {
      display: inline-block;
      position: absolute;
      top: -10px;
      left: calc(50% - 50px);
      color: #bbbdbf;
      font-weight: bold;
      font-size: 21px;
      background-color: #fff;
      width: 100px;
      text-align: center;
    }
  }
}
#sec-3 {
  background-color: #f4f4f4;
  padding: 70px 0;
  .eec {
    position: absolute;
    top: 0;
    right: 50px;
    width: 100px;
    @media screen and (max-width: 767px) {
      right: 0;
    }
  }
  .text {
    padding: 0 40px;
    @media screen and (max-width: 767px) {
      padding: 0px 10px;
    }
    p {
      color: #6c6c6c;
      font-size: 21px;
    }
    p.legal {
      margin-top: 20px;
      color: #6c6c6c;
      font-size: 16px;
      line-height: normal;
    }
  }
}
.contact-form-wrapper {
  padding-top: 20px;
  margin: 0 auto;

  #fullName,
  #phoneNum,
  #useremail {
    width: 100%;
  }

  .phoneNum {
    padding-top: 20px;
  }

  .checker {
    height: 30px;
    margin-right: 5px;
    span {
      background-color: #fff !important;
    }
  }
  .checkb {
    margin: 20px 0;
    #termscheck {
      cursor: pointer;
    }
    label {
      padding-top: 6px;
      cursor: pointer;
      font-size: 14px;
      display: inline-block;
      a {
        font-size: 14px !important;
      }
    }
  }
  .valid input {
    border: 1px solid green !important;
  }
  .valid span.checked {
    border: 1px solid green !important;
  }
  .error span {
    border: 1px solid #ffcc00 !important;
  }
  .error input {
    border: 1px solid #ffcc00 !important;
  }
  label.error {
    font-size: 16px;
    color: #ffcc00;
    display: block;
    padding-top: 6px;
  }
  .sendfrm {
    width: 70%;
    text-align: center;
  }
}

#sec-4 {
  padding: 70px 0;
  @media screen and (max-width: 767px) {
    padding: 40px 0;
  }
  h2 {
    color: #262626;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .stepper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
  }
  .step {
    margin-top: 50px;
    position: relative;
    width: 33%;
    text-align: center;
    @media screen and (max-width: 767px) {
      width: 90%;
    }
    h4 {
      color: #262626;
      font-size: 25px;
      font-weight: bold;
    }
    p {
      font-size: 21px;
    }
    .number {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .warning {
    background-color: #fff;
    h4 {
      color: #262626;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    p {
      color: #262626;
      font-size: 18px;
      margin: 0;
    }
    @media screen and (max-width: 767px) {
      background-color: #f4f4f4;
      border-radius: 10px;
      padding: 20px 10px;
      p {
        margin-bottom: 10px;
      }
    }
  }
}
#sec-5 {
  background-color: #f4f4f4;
  padding: 70px 0;
  @media screen and (max-width: 767px) {
    padding: 40px 0;
    background-color: #fff;
  }
  h2 {
    color: #262626;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    color: #262626;
    font-size: 21px;
  }
  .background-right {
    background: url(../img/back.png) no-repeat 100% 100%;
    background-size: 50%;
    @media screen and (max-width: 767px) {
      background: url(../img/back-mobile.png) no-repeat 0 40%;
      background-size: 100%;
    }
  }
  .background-left {
    background: url(../img/back.png) no-repeat 5% 0;
    background-size: 50%;
    @media screen and (max-width: 767px) {
      background: url(../img/back-mobile2.png) no-repeat 0 0;
      background-size: 100%;
    }
  }
  .divider {
    border-bottom: 1px solid #e2e3e6;
    margin-bottom: 50px;
  }
  .mybutton {
    margin-top: 20px;
    width: 50%;
    text-align: center;
    @media screen and (max-width: 767px) {
      display: block;
      margin: 40px auto;
    }
  }
  .gift {
    text-align: center;
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  .buds-left {
    padding-left: 60px;
    @media screen and (max-width: 1024px) {
      padding-left: 0px;
    }
  }
  .buds-right {
    padding-right: 60px;
    @media screen and (max-width: 1024px) {
      padding-right: 0px;
    }
  }

  .text {
    padding-left: 80px;
    margin-bottom: 50px;
    @media screen and (max-width: 1024px) {
      padding-left: 0px;
    }
  }
  .xboxpass-logo {
    text-align: center;
    margin-top: 5%;
    @media screen and (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 20px;
      img {
        width: 80%;
        height: auto;
      }
    }
  }
  .xboxpass-text {
    padding-right: 80px;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      padding-right: 0px;
    }
  }
  .or {
    top: 15px;
    position: relative;
    margin: 0 auto;
    width: 80%;
    span {
      display: inline-block;
      position: absolute;
      top: -15px;
      left: calc(50% - 50px);
      color: #bbbdbf;
      font-weight: bold;
      font-size: 21px;
      background-color: #fbfbfb;
      width: 100px;
      text-align: center;
    }
    hr {
      border-top: 1px solid #bbbdbf;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .or-mobile {
    position: relative;
    display: none;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      display: block;
    }
    hr {
      border-top: 1px solid #bbbdbf;
    }
    span {
      display: inline-block;
      position: absolute;
      top: -10px;
      left: calc(50% - 50px);
      color: #bbbdbf;
      font-weight: bold;
      font-size: 21px;
      background-color: #f3f2f2;
      width: 100px;
      text-align: center;
    }
  }
}
