<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a href="/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<!--<div class="preview">
									<a class="selected" data-full="/documents/10179/14919058/product1.jpg" href="#"><img src="/documents/10179/14919058/product1_prev.png" /> </a></div>--><!--<div class="preview">
									<a data-full="/documents/10179/14919058/product2.jpg" href="#"><img src="/documents/10179/14919058/product2_prev.png" /> </a></div>--><!--<div class="preview">
									<a data-full="/documents/10179/14919058/product3.jpg" href="#"><img src="/documents/10179/14919058/product3_prev.png" /> </a></div>--><!--<div class="preview">
									<a data-full="/documents/10179/14919058/product4.jpg" href="#"><img src="/documents/10179/14919058/product4_prev.png" /> </a></div>--></div>
							<div class="full__holder">
								<img class="full" src="/documents/10179/14919058/devolo_powerline_pic_310.png" /></div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="/documents/10179/14919058/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="/documents/10179/14919058/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<p class="bpis__title">
						Powerline Wi-Fi Extender Devolo dLAN® 550 WiFi</p>
					<div class="box-device">
						<p class="pricing__title">
							K Magio internetu <span class="feeType">M, L a XL</span>: <span class="info-magio"><img src="/documents/10179/14919058/icon5.png" /></span></p>
						<table class="pricing-table">
							<tbody>
								<tr class="margin">
									<td>
										Mesačný doplatok ku službe</td>
									<td>
										<span class="feePrice">0,00 €</span></td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">19,90 €</span></td>
								</tr>
							</tbody>
						</table>
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ K NÁKUPU</a></div>
					<div class="lightbox-content-3">
						<div class="lightbox-icon">
							<img src="/documents/10179/14919058/icon6.png" /></div>
						<div class="lightbox-3-cont">
							NÁŠ TIP: Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na PREJSŤ K NÁKUPU a skúste kalkulačku služieb.</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Štartovacia sada s bezdrôtovým powerline opakovačom AV500 s rýchlosťou 300 Mbit/s</p>
								<p class="feat-desc">
									Tlačítko klonovania Wi-Fi pre veľké rozšírenie dosahu zjednodušuje konfiguráciu Wi-Fi a pomáha vytvoriť jednotnú bezproblémovú domácu sieť. Získate vysokorýchlostný prenos dát rýchlosťou až 500 Mbit/s, ktorá je ideálna pre streamovanie HD alebo 3D videa a hranie online hier. Rozšírte 300 Mbit/s bezdrôtové pripojenie do predtým ťažko dostupných miest svojho domova a kancelárie.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/14919058/devolo_powerline_pic_378.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Klonovanie Wi-Fi pre bezchybný bezdrôtový roaming</p>
								<p class="feat-desc">
									Automaticky skopíruje názov bezdrôtovej siete (SSID) a heslo vášho smerovača stlačením tlačítka. Po stlačení tohoto tlačítka môžete imiestniť sieťový adaptér kdekoľvek a využívať bezproblémový prístup k sieti v celej svojej domácnosti alebo kancelárii.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/14919058/dLAN-550-WiFi-productpicture-378.jpg/" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Lepší výkon ako pri štandardných opakovačoch signálu</p>
								<p class="feat-desc">
									Signál siete je prenášaný cez elektroinštaláciu s malým rušením, čo má za následok stabilný a rýchly prenos Wi-Fi signálu. Získate tak bezdrôtové pripojenie všade tam, kde je elektrická zásuvka. Rozšíriť môžete káblové a bezdrôtové pripojenie k internetu napr. do svojej pivnice, na dvor alebo do podkrovia.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/14919058/detail3.jpg" /></div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2">
										Technické parametre</th>
								</tr>
								<tr>
									<td>
										Štandardy a protokoly:</td>
									<td>
										HomePlug AV, IEEE802.3, IEEE802.3u, IEEE802.11b/g/n</td>
								</tr>
								<tr>
									<td>
										Rozhranie:</td>
									<td>
										2*10/100Mbps Ethernet Port</td>
								</tr>
								<tr>
									<td>
										Typ pripojenia:</td>
									<td>
										EU, UK, US, AR</td>
								</tr>
								<tr>
									<td>
										Tlačítko:</td>
									<td>
										Pair, Reset, Wi-Fi/Wi-Fi Clone</td>
								</tr>
								<tr>
									<td>
										Indikátor LED:</td>
									<td>
										PWR, PLC, ETH, Wi-Fi/Wi-Fi Clone</td>
								</tr>
								<tr>
									<td>
										Systémové požiadavky:</td>
									<td>
										Windows 2000/XP/2003/Vista, Windows 7/8, Mac, Linux</td>
								</tr>
								<tr>
									<td>
										Rozmery:</td>
									<td>
										94 x 40 x 54 mm (šírka x výška x hĺbka)</td>
								</tr>
								<tr>
									<td>
										P/N:</td>
									<td>
										TL-WPA4220</td>
								</tr>
								<tr>
									<td>
										Obsah balenia:</td>
									<td>
										Adaptér Powerline Ethernet TL-WPA4220, Ethernet kábel (RJ45) o délce 2 m, Software, Rychlý sprievodca inštalácií</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="/documents/10179/14919058/icon1.png" />
								<p>
									Objednávku vám doručíme kuriérom čo najskôr od jej spracovania.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="/documents/10179/14919058/icon4.png" />
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="/documents/10179/14919058/icon2.png" />
								<p>
									Ak zistíte, že vám tovar alebo služba nevyhovuje, môžete ich vrátiť do 14 dní bez udania dôvodu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/documents/10179/14919056/detail.js"></script><script type="text/javascript" src="/documents/10179/14919056/main.js"></script>
