#skupina {
  position: absolute;
  top: 130px;
  left: 0;
  width: 190px;
  background-color: rgba(255, 255, 255, 0.8);

  min-height:55px;

  padding-bottom: 10px;
}

.skupina {
  padding: 10px;
  position: relative;
}

.skupina .check-img, .skupina .check-text {
  vertical-align: top;

}

.skupina .check-img {
  position: absolute;
  top: 10px;
  cursor: pointer;
}

.hw-check .checked, .checked.hw-check, .hw-check.checked {
  width: 15px;
  height: 15px;
  background: url(../img/checkbox_on15.png) no-repeat top center;
  float: right;
  margin-right: 5px;
}

.hw-check {
  width: 15px;
  height: 15px;
  background: url(../img/checkbox_off15.png) no-repeat top center;
  float: right;
  margin-right: 5px;
}

.hw-check-desc {
  float: left;
  margin-top: -1px;
  margin-left: 5px;
}

#skupina-check .checked, .checked#skupina-check, #skupina-check.checked {
  width: 30px;
  height: 30px;
  background: url(../img/checkbox_on.png) no-repeat top center;
}

#skupina-check, #hw-check {
  width: 30px;
  height: 30px;
  background: url(../img/checkbox_off.png) no-repeat top center;
}

.checked.skupina-subcheck, .skupina-subcheck.checked {
  width: 20px;
  height: 20px;
  background: url(../img/checkbox_on20.png) no-repeat top center;
}

.skupina-subcheck {
  width: 20px;
  height: 20px;
  background: url(../img/checkbox_off20.png) no-repeat top center;
}

.skupina-subcheck, .skupina-subcheck-desc {
  vertical-align: top;
  display: inline-block;
}

.skupina-subcheck-desc {
  margin-left: 5px;
}

.skupina .check-text {
  position: absolute;
  left: 45px;
  top: 5px;
  color: #e20074;
  font-size: 16px;
  line-height: 18px;
  padding-top: 4px;
}

.skupina-mame {
  margin-top: 40px;
  margin-left: 10px;
}

.skupina-button {
  text-align: center;
  background-color: #f6f6f6;
  height: 43px;
  width: 170px;
  padding-top: 10px;
  border-bottom: 1px solid #e6e6e6;
  display: none;
  cursor: pointer;
}

.internet-main, .televizia-main, .pevna-main, .happy-main {
  background-color: #e3e3e3;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #d3d3d4;
  display: block;
}

.bublina {
  display: none;
  position: absolute;
}

.bublina-pevna {
  top: 110px;
  left: 360px;
}

.bublina-internet {
  top: 90px;
  left: 280px;
}

.bublina-tv {
  top: 90px;
  left: 490px;
}

.bublina-happy {
  top: 90px;
  left: 390px;
}

#content #magenta-menu > li {
  min-width: 134px;
}

#content #magenta-menu > li:last-child {
  min-width: 240px!important;
}

#content .price {
  width: 260px;
}

.itemHolder2 {
  /*height: 40px!important;*/
  //height: auto;
  position: relative;
}

.bublina-desc {
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  margin: 0 auto;

  text-align: center;
}

.page .bublina-desc p {
  margin: 3px 0;
  line-height: 100%;
  //font-size: 0.9em;
  color: #fff;
}

.page .bublina-desc p:first-child {
  margin: 7px 0;
  font-weight:bold;
}

.bublina-pevna img {
  width: 230px;
  height: 100%;
}

.bublina-happy img {
  width: 290px;
  height: 100%;
}

.desc-internet-m, .desc-internet-l, .desc-internet-x {
  padding-top: 30px;
}

.desc-internet-1, .desc-internet-2 {
  padding-top: 30px;
}

.desc-tv-3 {
  padding-top: 15px;
}


.desc-tv-m {
  padding-top: 20px;
}

.desc-tv-l {
  padding-top: 10px;
}

.desc-pevna-m {
  padding-top: 20px;
}

.desc-pevna-l {
  padding-top: 30px;
}

.desc-pevna-x {
  padding-top: 20px;
}

#bublina-happy {
  padding-top: 10px;
}