/* ===============
   CSS FOR MICROSITE
   =============== */

.c-content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}

#magenta__app {
  text-align: center;
}

#magenta-menu ul {
  display: block;
  margin: 0;
  z-index: 100;
}

#sec-2 {
  //background: url(../img/bg-main.jpg) no-repeat top center;
  //background: url(../img/bg-main_office.png) no-repeat top center;
  min-height: 600px;
  height: 100%;
  padding-top: 15px;
  position: relative;
}

.mob__kv {
  display: none;
}

#sec-2 .dynamicFormMain {
  width: 100%;
  max-width: 600px;
  padding: 26px;
  position: absolute;
  top: 0;
  z-index: 100;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

#sec-2 .formCloseBtn.close-icon {
  color: $magenta;
  position: absolute;
  top: 0;
  right: 0;
}

#sec-2 .formCloseBtn.close-icon i {
  font-size: 25px;
}

#sec-2 .dynamicFormMain ul {
  margin: 0;
}

#sec-2 .dynamicFormMain .pos-top {
  position: absolute;
  top: -5000px;
}

#sec-2 .dynamicFormSubFields {
  text-align: center;
}

#sec-2 .formComposition label.labelField {
  width: 100%;
  min-width: 100%;
}

#sec-2 .formCompositionRenderDisplay h2,
#sec-2 .pageNameField,
#sec-2 .dynamicFormPages {
  display: none;
}

#sec-2 li.dynamicFormItemBox {
  margin: 0;
  padding: 0;
}

body .button.qtip-button {
  font-size: 16px;
  height: 33px;
  line-height: 33px;
  margin-top: 8px;
}

body .qtip-custom-blue {
  margin-top: 8px;
  color: #3ec0f0;
  display: inline-block;
}

#sec-2 .calc__title {
  margin: 18px 2% 0 2%;
  padding: 0;
  width: 96%;
  font-size: 30px;
  text-transform: uppercase;
}

#sec-2 #magenta-menu {
  margin: 1em;
  display: inline-block;
}

#sec-2 #magenta-menu ul ul {
  position: relative;
  margin: 0 !important;
}

#sec-2 #magenta-menu ul ul li {
  background: #d0d0d0;
}

#sec-2 #magenta-menu > li {
  min-width: 144px;
  min-height: 45px;
}

.sub-arrow {
  display: none;
}

#sec-2 #magenta-menu > li a {
  padding: 14px 0;
  text-align: center;
}

#sec-2 #magenta-menu > li.double-line > a {
  padding: 6px 20px 3px 20px;
  text-align: center;
  line-height: 18px;
  white-space: normal;
  width: 144px;
}

#sec-2 #magenta-menu > li.double-line > a.button {
  padding: 4px 20px 5px 20px;
}

.sm-simple ul ul > li {
  border-top: 1px solid #bbbbbb;
}

#sec-2 #magenta-menu ul ul li a {
  color: #4b4b4b;
}

#sec-2 #magenta-menu ul ul li a:hover {
  background: transparent;
  color: #262626;
}

#sec-2 .productHolder,
#sec-2 .priceHolders {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 11px 0;
  font-size: 16px;
  line-height: 21px;
  background-color: #fff;

  text-align: center;
}

.disabled,
#sec-2 .button.disabled {
  background-color: #a7a7a7;
}

.disabled a:hover {
  background: transparent;
  cursor: default;
}

#sec-2 .button.disabled {
  border-color: #a7a7a7;
  cursor: default;
}

#sec-2 .price {
  margin: 0;
  padding: 11px 20px;
  color: #4b4b4b;
  height: 45px;
  line-height: 22px;
  text-align: center;
  background-color: #ededed;
  width: 14vw;

}

#sec-2 .button-buy {
  height: 45px;
  width: 144px;
  line-height: 17px;
}

.lightbox-cover {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  right: 0;
}

.priceHolder2 {

  float: left;
  font-size: 16px;
  color: #4b4b4b;
  background-color: #ffffff;
  text-align: left;
  padding-left: 0;

}

.priceHolder2 {
  width: 100%;
  float: right;
  padding: 0px 0;
  text-align: center;
  position: absolute;

  line-height: 100%;
  display: block;

}

@media (max-width: 1052px) {
  #sec-2 {
    background-image: none;
    background-color: #e6e6e6;
    height: auto;
  }
  .mob__kv {
    background: url(../img/bg-main.jpg) no-repeat top center;
    background-size: cover;
    display: block;
    height: 170px;
    width: 100%;
  }
  #sec-2 .calc__title {
    font-size: 24px;
  }
  #sec-2 #magenta-menu {
    width: 96%;
    margin: 1em 2%;
  }
  #sec-2 #magenta-menu > li,
  #sec-2 #magenta-menu > li.double-line > a {
    width: 100%;
  }
  #sec-2 #magenta-menu ul {
    margin: 0;
  }
  #sec-2 .productHolder,
  #sec-2 .priceHolder {
    position: relative;
  }
  #sec-2 .button-buy {
    width: 100%;
  }
  #sec-2 #magenta-menu > li a,
  #sec-2 #magenta-menu > li.double-line > a {
    text-align: left;
    padding-left: 14px;
  }
  #sec-2 #magenta-menu > li.double-line > a,
  #sec-2 #magenta-menu > li.double-line > a.button {
    padding: 14px 0 14px 14px;
  }
  #sec-2 #magenta-menu > li a.button,
  #sec-2 #magenta-menu > li.double-line > a.button {
    text-align: center;
  }
  #sec-2 .price,
  #sec-2 .priceHolders {
    width: 60%;
    float: left;
    color: $magenta;

    font-size: 22px;
    text-align: left;
    padding-left: 0;
  }
  #sec-2 .priceHolders {
    width: 40%;
    float: right;
    padding: 12px 0;
    text-align: right;

  }
  .sub-arrow {
    display: block;
  }

  #bubliny {
    display: none;
  }

  #skupina {
    display: none;
  }

}

.half-main {
  display: flex;
}

.half {
  width: 129px;
  text-align: center;
  margin: 0;
  background-color: #ffffff;
  float: left;
  color: #4b4b4b;
}

.half-left, .half-right {
  padding-bottom: 20px;
  border-bottom: 1px solid #d0d0d0;
}

.half-middle {
  width: 1px;
  border-right: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 20px;
}

.half-desc {
  border-bottom: 1px solid #d0d0d0;
}

.half p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.half .price-row {
  line-height: 140%;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: none;
  border-top: 1px solid #d0d0d0;
}

.half .price-row:first-child {
//.half .price-mobile2 {
  border-top: none;
}

.kosik-hw {
  margin-top: 5px;
  margin-bottom: 19px;
}

.hw-check {
  cursor: pointer;
}

.full {
  width: 100%;
  text-align: center;
  display: block;
  height: auto;
  margin: 0px !important;
  border-left: 0px solid #d0d0d0;
  background-color: #ffffff;
  float: left;
  color: #4b4b4b;
}

.full:first-child {
  border-left: 0px solid #d0d0d0;
}

.full p {
  border-bottom: 1px solid #d0d0d0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.full-price1, .full-price2 {
  clear: both;
  padding-left: 10px;
  padding-right: 10px;

  display: inline-block;
  width: 100%;
}

.full-price1 {
  //padding-top: 20px;
  //border-top: 1px solid #d0d0d0;
  color: $magenta !important;
}

.full-price2 {
  color: #ffffff !important;
  background-color: $magenta !important;
}

.full-price-left, .full-price-right {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}

.full-price-left {
  text-align: left;
  float: left;
}

.full-price-right {
  text-align: right;
  float: right;
}

.itemHolder, .itemHolder2, .itemHolder3, .itemHolder4, .itemHolder5, .itemHolder6 {
  display: inline-block;
  text-align: left;
  padding-left: 5px;
  height: auto !important;
  width: 100%;

}

.zaujem {
  background-color: #6bb324 !important;
  border: none !important;
  margin: 10px !important;
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
  padding-right: 5px;
}

.skselected {
  background-color: #eeeeee !important;
}

.portlet-body .journal-content-article .sec-2 h2 {
  padding-bottom: 0;
  margin-bottom: 5px;
}
