/* ===============
   IMPORTS 
   =============== */
//@import '../../global-assets/sass/style';
@import 'https://www.telekom.sk/documents/10179/120910/style-universal.css/7966e082-ae80-4248-9ba1-bedf2c493d26';
@import 'pure.scss';

.wbreadcrumbs {
  display: none
}

@media screen and (max-width: 960px) {
  .info {
    margin: 0 auto
  }
  .video_text p {
    float: none !important;
    width: 100% !important;
  }
  .img_float_left {
    float: none !important
  }
  .green-margin {
    left: 47% !important;
  }
  .head_hw img {
    max-width: 20% !important;
  }
  .falck_logo {
    display: none;
  }
  .info_text {
    margin-right: 0% !important;
  }
  .device {
    max-width: 355px !important;
  }
  .app_list1 {
    margin-left: 0 !important;
  }
  .hdl_ec {
    right: 10% !important;
  }
}

@media screen and (max-width: 820px) {
  .center {
    margin: 0 auto
  }
  .benefity_text2 {
    float: none !important
  }
  .device {
    border: 0 !important
  }
  .device {
    float: none !important;
    display: inline-block;
  }
  .devices {
    text-align: center;
  }
  .bene-btn {
    left: 25%
  }
}

@media screen and (max-width: 800px) {
  .img_float_left {
    float: none !important
  }

  .app_list1 {
    margin-top: 40px !important;
  }
  .info_text {
    float: none;
    text-align: center;
  }

  .app_list2 {
    margin-bottom: 30px;
    float: none !important;
  }
  .app_list1 {
    float: none !important;
  }
  .under_cond img {
    margin: 0 !important
  }
;

}

@media screen and (max-width: 725px) {
  .detail-img {
    padding: 0 !important;
  }
}

@media screen and (max-width: 700px) {
  .detail-content {
    text-align: center;
  }
  .detail-img {
    float: none !important;
  }
  .detail-text {
    border: 0 !important;
  }
  .detail-header {
    margin: 0 !important;
    text-align: center;
  }
}

@media screen and (max-width: 510px) {

}

@media screen and (max-width: 510px) {
  #box-prev, #box-next {
    top: 280px !important;
  }
}

@media screen and (max-width: 400px) {
  .benefity_text1 h3,
  .benefity_text2 h3 {
    text-align: center
  }
  .device_btn {
    left: 25% !important;
  }
  .device {
    float: none !important;
    display: inline-block;
    width: 75% !important;
    text-align: center;
  }

  .green-margin {
    left: 25% !important;
    bottom: 3% !important;
  }

  .head_mag_bg {
    text-align: center
  }
  .under_cond {
    text-align: center;
  }
  .detail-rc {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .hdl_ec {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .head_mag_bg {
    height: 356px !important;
  }
  .head_hw img {
    max-width: 30% !important;
    margin-top: -34px;
  }
}

@media screen and (max-width: 370px) {
  .detail-rc span, .detail-oc span {
    left: 14% !important;
  }
}

h1 {
  border-bottom: 0 solid #d0d0d0 !important
}

.c-row {
  padding-bottom: 25px
}

.h1_margin {
  margin-bottom: 50px !important;
  color: white !important
}

.falck_logo {
  position: absolute;
  bottom: 0;
  right: 0
}

.falck_logo img {
  max-width: 100%
}

.green {
  background-color: #6bb324 !important;
  border: 1px solid #6bb324 !important
}

.green-margin {
  position: absolute !important;
  left: 23%;
  bottom: 16%;
}

.bg-magenta-transparent {
  background-color: rgba(226, 0, 116, 0.85);
  padding: 15px 0
}

.bg-white-transparent {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 15px 0
}

.img_float_left {
  float: left
}

.img_float_left img {
  max-width: 100%
}

.info .info_text {
  font-weight: 900;
  float: right;
  margin-right: 13%;
  margin-top: 2%
}

.info_text p {
  color: white;
  font-size: 19px
}

.video_text {
  padding: 15px 0;
  max-width: 100%;
}

.video_ec {
  z-index: 2;
  position: absolute;
  right: 10%;
  top: 1%;
  background-color: #1063ad;
  padding: 10px 10px 30px 10px;
  color: white;
  font-weight: 900;
  font-size: 22px;
  word-spacing: 3px;
  transform: rotate(-15deg);
}

#elder_bg {
  background: url('https://www.telekom.sk/documents/10179/485475/paralax_back2_1.jpg/e1ffae4e-c580-4eaf-8452-d8d405d8c01e') no-repeat 50% 0;
  background-size: cover;
}

.benefity_text1, .benefity_text2 {
  max-width: 400px
}

.benefity_text1 h3, .benefity_text2 h3 {
  color: white !important;
  text-transform: uppercase;
  font-weight: 900
}

.benefity_text1 ul, .benefity_text2 ul {
  list-style-type: square;
  color: white
}

.benefity_text1 {
  float: left
}

.benefity_text2 {
  float: right
}

.bene-btn {
  left: 37%;
}

.devices {
  display: inline-block
}

.device {
  float: left; /*text-align:center;*/
  max-width: 420px;
  width: 420px;
  padding: 15px 23px;
  position: relative;
}

.device_header {
  text-transform: uppercase;
  color: #e20074;
  font-size: 40px
}

.device_desc {
  max-width: 325px;
  margin: 0 auto
}

.app_list1, .app_list2 {
  max-width: 385px;
}

.app_list1 {
  position: relative;
  float: left;
  margin-top: 15px;
}

.app_list1 ul {
  margin-bottom: 25px;
}

.app_list2 {
  float: right;
}

.under_cond {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

.under_cond img {
  margin-left: 20%;
  vertical-align: top;
}

.podmienky {
  float: left;
}

.head_mag_bg {
  background: url('https://www.telekom.sk/documents/10179/485475/bg_header.png/7e817b91-64ef-4783-aa50-df141a9d5f8f') no-repeat;
  height: 360px;
  padding: 25px
}

.head_hw {
  position: relative
}

.head_hw img {
  max-width: 9%
}

.bx-viewport {
  height: 340px !important
}

.c-row2 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.85)
}

#box-prev, #box-next {
  position: absolute;
  top: 150px;
  cursor: pointer
}

#box-prev {
  left: -20px
}

#box-next {
  right: -40px
}

.c-box {
  width: 100%;
  max-width: 240px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  margin-left: -25%;
  margin-top: 17%
}

.c-box img {
  vertical-align: middle
}

.c-box-img2 {
  vertical-align: top;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center
}

.c-box-1 .c-box-img2 {
  padding-bottom: 10px
}

.c-box-2 .c-box-img2 {
  padding-top: 25px
}

.c-box-3 .c-box-img2 {
  padding-top: 25px
}

.c-box-desc {
  font-size: .9em;
  padding-left: 40px;
  padding-right: 40px;
  height: 80px;
  line-height: 1.2em
}

#sliderbox .bx-wrapper img {
  display: inline-block
}

@media screen and (max-width: 960px) {
  .c-content {
    width: auto
  }
  #box-prev {
    left: 20px
  }
  #box-next {
    right: 20px
  }
}

.device-controls {
  margin: 10px 0;
}

.device-controls a {
  width: 50px;
  height: 50px;
  display: inline-block;
}

.device-controls img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

/* Global */

/* =============== GRID COLUMNS =============== */
#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 {
  float: left;
}

#content .grid__col_1 {
  width: 8.20793%;
}

#content .grid__col_2 {
  width: 16.55267%;
}

#content .grid__col_3 {
  width: 24.8974%;
}

#content .grid__col_4 {
  width: 33.24213%;
}

#content .grid__col_5 {
  width: 41.58687%;
}

#content .grid__col_6 {
  width: 49.9316%;
}

#content .grid__col_7 {
  width: 58.27633%;
}

#content .grid__col_8 {
  width: 66.62107%;
}

#content .grid__col_9 {
  width: 74.9658%;
}

#content .grid__col_10 {
  width: 83.31053%;
}

#content .grid__col_11 {
  width: 91.65527%;
}

#content .grid__col_12 {
  width: 100%;
}

#content .grid-g__col_1 {
  width: 6.38298%;
}

#content .grid-g__col_2 {
  width: 14.89362%;
}

#content .grid-g__col_3 {
  width: 23.40426%;
}

#content .grid-g__col_4 {
  width: 31.91489%;
}

#content .grid-g__col_5 {
  width: 40.42553%;
}

#content .grid-g__col_6 {
  width: 48.93617%;
}

#content .grid-g__col_7 {
  width: 57.44681%;
}

#content .grid-g__col_8 {
  width: 65.95745%;
}

#content .grid-g__col_9 {
  width: 74.46809%;
}

#content .grid-g__col_10 {
  width: 82.97872%;
}

#content .grid-g__col_11 {
  width: 91.48936%;
}

#content .grid-g__col_12 {
  width: 100%;
}

.row {
  width: 100%;
  float: left;
}

.fixed-column {
  width: 940px;
  margin: 0 auto;
}

@media screen and (max-width: 960px) {
  .fixed-column {
    width: 96%;
    padding: 0 2%;
  }
}

.section {
  width: 100%;
  float: left;
}

.col-group:after {
  content: "";
  display: table;
  clear: both;
}

/* helpers */
#content .mgt-50 {
  margin-top: 50px;
}

#content .txt-cntr {
  text-align: center;
}

#content .txt-right {
  text-align: right;
}

#content .color-black {
  color: #000;
}

#content .cena-small {
  font-size: 19px;
}

/* section 1 */

#content .sec-1 {
  padding-bottom: 20px;
}

/* section 2 */

#content .sec-2 {
  background: url(https://www.telekom.sk/documents/10179/485475/vianoce_background.png) no-repeat 50% 0;
  //background-size: cover;
}

/* Akcia */

#content .grid__col_6_custom {
  width: 45%;
  float: left;
  margin-right: 40px;
}

#content .akcia-title h2 {
  padding-bottom: inherit;
  margin-bottom: inherit;
}

#content .akcia-box {
  position: relative;
  padding-right: 20px;
}

#content .akcia-desc {
  min-height: 40px;
  margin-bottom: 20px;
}

#content .akcia-right {
  text-align: right;
  padding-right: 40px;
}

#content .akcia-txt {
  font-weight: bold;
  font-size: 28px;
}

#content .strikethrough {
  position: relative;
}

#content .strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: #e20074;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

#content .ec-img {
  position: absolute;
  top: 30%;
  left: -30px;
  right: 0;
}

#wrapper .green-button {
  color: #fff;
  font-size: 24px;
  padding: 0 5px;
  border-radius: 1px;
  background: #69b50b;
  border: 1px solid #69b50b;
  width: 6em;
}

.pure-g {
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;

  padding-bottom: 10px;
}

.dph-note {
  text-align: center;
}

#content #sec-1 .sec__title, #content #sec-1 .sec__title h2 {
  text-transform: uppercase;
}

#content #sec-1 .sec__title {
  padding-bottom: 50px;
}

#content .sec-2 {
  min-height: 500px;
}

#content .sec-2 .akcia {
  margin-top: 50px;
}

.box-white {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  margin-right: 10px;

  min-height: 110px;
  background-color: #fff;
}

.box-img {
  position: relative;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;

  vertical-align: top;

  height: 250px;
}

.box-img img {
  position: absolute;
  top: -30px;
}

#ec-vianocna-akcia {
  position: absolute;
  top: 140px;
  left: -90px;
}

.bold {
  font-weight: bold;
}

.magenta {
  color: #e20074;
}

#content #sec-2 h1 {
  text-align: center;
  margin-bottom: 20px;
  line-height: 52px;
}

.note-xl {
  text-align: center;
  font-weight: bold;
}

#info1, #info2, #info3 {
  vertical-align: middle;
}

#content #sec-2 .box-white a {
  text-decoration: underline;
  font-size: 18px;
}

#content #sec-2 .note-xl a {
  text-decoration: underline;
  font-size: 18px;
}

#box-platnost {
  margin-top: 30px;
  text-align: center;
}

.platnost-akcie {
  padding-top: 10px;
}

.box-img-mobile {
  display: none;
}

#img-nivigil-mobile {
  display: none;
}

#img-gt300-mobile {
  display: none;
}

#img-gt300 {
  //border-right: 1px solid #ddd;
  //padding-right: 30px;
}

.akcia-title-gt300 {
  //padding-right: 30px;
}

.h1_margin {
  margin-bottom: 10px !important;
}

.portlet-body .journal-content-article .head_mag_bg h3 {
  color: #fff;
  text-align: left;
  width: 40%;

  margin-bottom: 10px;
}

.qtip-default {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.85);
  background-color: rgba(0,0,0,0.85);
  color: #555;
}

.qtip-content {
  background: black;
  background: rgba(0,0,0,0.85);
  -webkit-box-shadow: 0 0 10px 0 rgba(50,50,50,0.75);
  -moz-box-shadow: 0 0 10px 0 rgba(50,50,50,0.75);
  box-shadow: 0 0 10px 0 rgba(50,50,50,0.75);
  font-size: 18px;
  line-height: 1.3;
  color: white;
  padding: 10px 15px;
  border-color: #fff;
}

@media screen and (max-width: 960px) {
  #content .grid__col_6_custom {
    width: 100%;
    max-width: 400px;
    float: inherit;
    margin-right: 40px;
    text-align: center;
    margin: 0 auto;
  }
  #content .ec-img {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 0;
  }

  #content .akcia-right {
    text-align: left;
    padding-right: 0;
  }

  .box-white {
    margin-bottom: 10px;
  }

}

@media screen and (max-width: 768px) {

  .box-img-mobile {
    display: block;
    padding-bottom: 30px;
  }

  .box-img {
    display: none;
  }

  #content .akcia-right {
    text-align: center;
  }

  #content .akcia-box {
    text-align: center;
    padding-right: 0;
  }

  #img-nivigil-mobile {
    display: block;
    margin-bottom: 30px;
  }

  #img-nivigil {
    display: none;
  }

  #img-gt300-mobile {
    display: block;
    margin-bottom: 30px;
  }

  #img-gt300 {
    display: none;
  }

  .akcia-box .akcia-cta, .akcia-box .akcia-cta1 {
    margin-bottom: 40px;
  }

  .akcia-box .akcia-cta1 {
    margin-bottom: 70px;
  }

}

@media screen and (max-width: 320px) {
  #content .ec-img {
    position: absolute;
    top: 60%;
    left: 0px;
    right: 0;
    width: 25%;
  }
}