<section id="hero" class="fixed-column">
    <div class="hero__content">
        <div class="hero__squares">
            <h1 class="hero__title"><b>Živnostníci a malé firmy</b><br /> do 5 zamestnancov</h1>
            <p class="hero__desc">accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis</p>
        </div>
        
        <a class="button button_lima" href="#"><span>zobraziť ponuku</span> </a>
    </div>
    

</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">volania</a></li>
        <li><a class="scroll-to" href="#sec-2">internet</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="https://www.telekom.sk/documents/10179/570270/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <h2 class="section__title">Volania</h2>
        
        <div class="row">
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Mobilné paušály</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-1.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
            
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Pevná linka</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-2.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
            
            <div class="clearer-even"></div>
            
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Inteligentné čísla</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-3.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
            
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Roaming</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-4.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
        </div>
        
        <div class="row">
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Volania do zahraničia</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-5.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
            
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Špecifické služby</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-6.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
        </div>
        
    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="fixed-column">
        <h2 class="section__title">INTENRET</h2>
        
        <div class="row">
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Internet do kancelárie</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-7.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
            
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Mobilný internet</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-8.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
            
            <div class="clearer-even"></div>
            
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Internet v mobile</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-9.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
            
            <div class="grid-g__col_3 dir-box">
                <h3 class="box__title">Doplnkové služby</h3>
                <img src="https://www.telekom.sk/documents/10179/570270/ico-10.png" alt="">
                <p class="box__desc">Prostredníctvom hlasových služieb vám poskytneme nákladovo efektívnejšiu telefonickú</p>
                <a href="#" class="button">viac info</a>
            </div>
        </div>
        
    </div>
</section>

<script type="text/javascript" src="https://www.telekom.sk/documents/10179/570266/main.js"></script>