<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">
                DOSTUPNOSŤ NAŠICH SLUŽIEB neustále ROZŠIRUJEme</h1>
            <p class="hero__desc"></p>
            <a class="button button_lima" href="/dostupnost/nove-lokality">Pripravované pokrytie</a></div>
    </div>
</section>
<!-- <div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">mav1</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div> -->
<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <div class="col-group box_overlap">
            <div class="grid-g__col_6">
                <div class="box box_shadow box_center">
                    <div class="box__title">
                        <h3 class="sec__title" >MAGIO INTERNET a TELEVÍZIA</h3>
                    </div>
                    <div class="box__mid-area">
                        <p class="ma_desc">
                            Aktuálnu dostupnosť týchto služieb na vašej adrese si overíte v 2. kroku na stránke Chytrého balíka:
                        </p>
                    </div>
                    <a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ NA DOSTUPNOSŤ</a>
                </div>
            </div>
            <div class="grid-g__col_6">
                <div class="box box_shadow box_center">
                    <div class="box__title">
                        <h3 class="sec__title">MOBILNÝ INTERNET, 4G A 3G SIEŤ</h3>
                    </div>
                    <div class="box__mid-area">
                        <p class="ma_desc">
                            Aktuálnu dostupnosť týchto služieb na Slovensku si overíte na mape pokrytia:
                        </p>
                    </div>
                    <a class="button button_white" href="/wiki/mapa-pokrytia">MAPA POKRYTIA</a>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
