<section class="prod-list_densed section">
	<div class="fixed-column">
		<h2 class="section__title section__hero__title section__title__double">
			NOVÁ KOLEKCIA SONY XPERIA</h2>
		<div class="prod__carousel_4">
			<!-- XZ -->
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="/documents/10179/12337047/Xperia_XZ-premium-hero.png" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ XZ Premium</h4>
				<ul class="at-a-glance">
					<li>
						Prvý smartfón na svete s 4K HDR displejom</li>
					<li>
						19MP Motion Eye™ fotoaparát</li>
					<li>
						Super spomalené videá s 960 obrázkami za sekundu</li>
					<li>
						13MP širokouhlý predný fotoaparát</li>
					<li>
						Vodeodolnosť IP65/68*</li>
					<li>
						Inteligentný režim STAMINA</li>
					<li>
						Xperia Actions sa učí a všetko optimalizuje</li>
				</ul>
				<div class="cta__wrapper">
					<a class="button button_lima" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_xz_premium" target="_parent">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-2">viac info</a></div>
			</div>
			<!-- Xcompact -->
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="/documents/10179/12337047/Xperia+XZ1+Compact_White+Silver_front__main_162x250.jpg" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ XZ1 Compact</h4>
				<ul class="at-a-glance">
					<li>
						19 MP Motion EyeTM fotoaparát so super spomalenými videami</li>
					<li>
						superostré zábery pohybov</li>
					<li>
						120° super širokouhlá predná kamera</li>
					<li>
						prémiový zvuk a digitálne potláčanie hluku</li>
					<li>
						vodeodolný s ochranou IP65/68*</li>
					<li>
						Android 8.0 Oreo</li>
				</ul>
				<div class="cta__wrapper">
					<a class="btn btn_disabled" href="#">VYPREDANÉ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-1">viac info</a></div>
			</div>
			<!-- XA -->
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="/documents/10179/12337047/XA1_black_front_hero_main.jpg" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ XA1</h4>
				<ul class="at-a-glance">
					<li>
						Pôsobivá kvalita fotoaparátu s 23 MP</li>
					<li>
						Širokouhlý objektív pre selfie zábery</li>
					<li>
						Bezrámový dizajn, ktorý padne do ruky</li>
					<li>
						Vysokovýkonný 8-jadrový procesor</li>
					<li>
						Výkonnejšia batéria pre dlhú životnosť</li>
				</ul>
				<div class="cta__wrapper">
					<a class="button button_lima" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_xa1">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-3">viac info</a></div>
			</div>
			<!-- L1 -->
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="/documents/10179/12337047/l1-hero.png" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ L1</h4>
				<ul class="at-a-glance">
					<li>
						Pôsobivý 5,5” HD displej</li>
					<li>
						Stvorený pre tvoju ruku</li>
					<li>
						Výkon, ktorý potrebuješ</li>
					<li>
						Prispôsobí sa tvojim zvykom</li>
				</ul>
				<div class="cta__wrapper">
					<a class="button button_lima" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_l1" target="_parent">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-4">viac info</a></div>
			</div>
			<!-- E5 --><!-- <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img alt="" class="img__swap" src="/documents/10179/12337047/e5-main.png" /></div>
                <div class="img__holder">
                    &nbsp;</div>
                <h4 class="prod__title">
                    Xperia™ E5</h4>
                <div class="at-a-glance">
                    <ul>
                        <li>
                            13 MP fotoaparát s AF a HDR</li>
                        <li>
                            5 MP predný fotoaparát</li>
                        <li>
                            Výdrž batérie až do 2 dní*</li>
                        <li>
                            Podpora pamäťových kariet do 200GB</li>
                        <li>
                            Štvorjadrový procesor</li>
                    </ul>
                </div>
                <div class="cta__wrapper">
                    <a class="button button_lima" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_e5">OBJEDNAŤ</a>
                    <div class="more-info__clearer">
                        &nbsp;</div>
                    <a class="more-info more-info_vertical scroll-to" href="#sec-4">viac info</a></div>
            </div> --></div>
	</div>
</section>
<section class="section section__nav">
	<div class="product__nav">
		<div class="fixed-column">
			<div class="grid__col_12">
				<div class="menuIcon">
					<div id="nav-icon">
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
					</div>
					<a class="product__nav_link" href="#menuExpand">Menu</a></div>
				<div class="menu">
					<ul>
						<li>
							<div class="content__sec-1 menu__link__content">
								<a class="scroll-to" href="#sec-2"><span class="link__text">Xperia™ XZ Premium</span> <img alt="" src="/documents/10179/1738371/Xperia+XZ+Premium_nav.png" /> </a></div>
						</li>
						<li>
							<div class="content__sec-2 menu__link__content">
								<a class="scroll-to" href="#sec-1"><span class="link__text">Xperia™ XZ1 Compact</span> <img alt="" src="/documents/10179/12337047/Xperia+XZ1+Compact_White+Silver_front_menu_26x49.jpg" /> </a></div>
						</li>
						<li>
							<div class="content__sec-3 menu__link__content">
								<a class="scroll-to" href="#sec-3"><span class="link__text">Xperia™ XA1</span> <img alt="" src="/documents/10179/12337047/XA1_black_front_hero_nav.png" /> </a></div>
						</li>
						<li>
							<div class="content__sec-3 menu__link__content">
								<a class="scroll-to" href="#sec-4"><span class="link__text">Xperia™ L1</span> <img alt="" src="/documents/10179/12337047/l1-nav.png" /> </a></div>
						</li>
						<!--   <li>
                            <div class="content__sec-4 menu__link__content">
                                <a class="scroll-to" href="#sec-4"><span class="link__text">Xperia™ E5</span> <img alt="" src="/documents/10179/12337047/e5-nav.png" /> </a></div>
                        </li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
####
    XPERIA XZ
####
-->
<div class="main_sec" id="sec-2">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				XPERIA™ XZ PREMIUM</h2>
			<h4 class="prod__subtitle">
				Všetko je zrazu Wow</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="/documents/10179/12337047/xz-premium-specs.png" /></div>
			</div>
			<!-- Specs -->
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							5,5” 4K HDR displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							3230 mAh<br />
							s inteligentnou správou</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							19 MPx<br />
							so Super slow motion</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							13 MPx<br />
							širokouhlý</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							64 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 7.1</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title web-text-wht">
					Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title web-text-wht">
					Všetko je zrazu Wow</h4>
				<!-- <h4 class="feat__sub-title">
                    Každý detail uvidíte lepšie vďaka vyššej jemnosti displeja</h4> -->
				<p class="feat__desc web-text-wht">
					Smartfón Xperia XZ Premium predstavuje nový Motion Eye™ - natoľko pokrokový fotoaparát, že zachytí pohyb, ktorý si ľudské oko ani nevšimne. A vďaka unifikovanému dizajnu, očarujúcemu 4K HDR displeju a inteligentným funkciám je to doteraz náš najprelomovejší smartfón.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left-displej">
				<h2 class="feat__title">
					Displej Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title">
					Prvý smartfón na svete so 4K HDR displejom</h4>
				<p class="feat__desc">
					Budeš inšpirovaný výnimočným rozlíšením, farbami a kontrastom 4K HDR displeja.</p>
			</div>
			<!-- <div class="feat-img__holder feat-img__holder_right">
                <img alt="" src="/documents/10179/12337047/Z5-Premium-Baner2.png" /></div> --></div>
	</section>
	<section class="feat_full-bg prod-1 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-fotoaparat">
				<h2 class="feat__title web-text-wht">
					Fotoaparát Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title web-text-wht">
					Prelomový spôsob ako zachytiť svet</h4>
				<p class="feat__desc web-text-wht">
					So super spomaleným záberom a prediktívnym fotením ti nový Motion Eye™ fotoaparát umožní zažiť viac ako dokáže vidieť ľudské oko. Využíva rýchlejšie a šikovnejšie spracovanie záberu ako kedykoľvek predtým. Získaš tak vynikajúcu kvalitu fotiek a našu doteraz najlepšiu technológiu detekcie pohybu.</p>
			</div>
		</div>
	</section>
	<section class="feat-list section">
		<div class="fixed-column">
			<div class="grid__col_4 feat-list__grid">
				<img alt="" src="/documents/10179/12337047/exmor-logo.jpg" />
				<h4 class="feat-list__title">
					Ostré zábery a menej fotografického šumu</h4>
				<p class="feat-list__desc">
					Nový senzor Exmor RS™ pre mobilné zariadenia so zabudovanou pamäťou ponúka 5x rýchlejšie scanovanie záberu, čo zabezpečí ostrejšie zábery pohybu.</p>
			</div>
			<div class="grid__col_4 feat-list__grid">
				<img alt="" src="/documents/10179/12337047/lens-g.jpg" />
				<h4 class="feat-list__title">
					Oceňovaný objektív Sony G Lens</h4>
				<p class="feat-list__desc">
					Upravený objektív G Lens presne zachytáva detaily a textúru, čo zabezpečí vyššiu optickú ostrosť, od jedného rohu po druhý.</p>
			</div>
			<div class="grid__col_4 feat-list__grid">
				<img alt="" src="/documents/10179/12337047/bionz-logo.jpg" />
				<h4 class="feat-list__title">
					Inteligentné obrazové spracovanie</h4>
				<p class="feat-list__desc">
					Zdokonalili sme náš vychýrený obrazový procesor BIONZ™ pre mobilné zariadenia, ktorý sa postará o presnejšiu detekciu pohybu a rýchlejšie obrazové spracovanie.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Je tu super spomalený záber</h2>
				<p class="feat__desc">
					Motion Eye™ kamera je jedinečná: nahrá 960 snímok za sekundu pre prehrávanie super spomalených záberov, ktoré odhalia skryté čaro života. Stopáž je štvornásobne pomalšia ako videá nahrané inými smartfónmi1, takže sa odhalí všetko napätie a detaily.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Zachytí spontánnu krásu života</h2>
				<!-- <h4 class="feat__sub-title">
                    Dosahujte viac a dlhšie</h4> -->
				<p class="feat__desc">
					Skutočný život môže byť oveľa rýchlejší ako tvoj prst na spúšti. Nový Motion Eye™ fotoaparát s prediktívnym zachytávaním obrazu začne ukladať snímky do vyrovnávacej pamäte sekundu pred stisnutím spúšte. Je to ako pretáčanie času a ty si môžeš vybrať až zo štyroch záberov.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title web-text-wht">
					Dizajn Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title web-text-wht">
					Odolá vode</h4>
				<p class="feat__desc web-text-wht">
					S certifikáciou IP65/68 je Xperia XZ Premium chránená pred obliatím vodou aj proti prachu. Dokonca môžeš bez obáv telefonovať aj v daždi.*</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Výkon Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title">
					Má silu fungovať rýchlejšie</h4>
				<p class="feat__desc">
					Čokoľvek chceš urobiť, Xperia XZ Premium to urobí rýchlo. Pokrokový výkon procesora znamená, že máš k dispozícii super plynulý výkon, či už surfuješ na internete alebo hráš rýchle hry.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-8 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Batéria Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title">
					Batéria, ktorá vydrží dlhšie</h4>
				<p class="feat__desc">
					Xperia XZ Premium sa učí z toho, ako ju používaš, a pomôže ti upraviť spotrebu batérie, aby vydržala po celý deň. Jej technológie nabíjania predchádzajú poškodeniu batérie a sú schopné časom až zdvojnásobiť jej životnosť.</p>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="fixed-column">
			<p class="disclaimer">
				* Xperia™ XZ Premium je vodotesný a chránený voči prachu, takže žiadny strach, ak vás zastihol dážď alebo ho chcete umyť pod tečúcou vodou. Ale pozor - všetky otvory a prichytené krytky musia byť pevne uzatvorené. Zariadenie by ste nemali ponoriť pod vodu celé a nevystavujte ho ani morskej, slanej či chlórovej vode alebo kvapalinám, ako sú nápoje. Zneužitie a nesprávne používanie zruší platnosť záruky. Zariadenie má stupeň ochrany IP65/68. Viac informácií nájdete na <a href="http://www.sonymobile.com/waterproof" target="_blank">www.sonymobile.com/waterproof</a>. Poznámka: Model Xperia™ XZ Premium má bezkrytkový port USB na prepojenie a nabíjanie. USB port musí byť pred nabíjaním úplne suchý.</p>
		</div>
	</section>
</div>
<!--
####
    XPERIA X Compact
####
-->
<div class="main_sec" id="sec-1">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				Xperia™ XZ1 Compact</h2>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="/documents/10179/12337047/Xperia+XZ1+Compact_White+Silver_front_hero_sec_212x347px.jpg" /></div>
			</div>
			<!-- Specs -->
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							4,6” IPS displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							2700mAh mAh</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							19 MPx<br />
							so Super slow motion</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							8 MPx<br />
							širokouhlý</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							32 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 8.0</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Xperia XZ1 Compact</h2>
				<h4 class="feat__sub-title">
					Zachyť skutočnú krásu života</h4>
				<p class="feat__desc">
					Fotoaparát Motion Eye™ so Super slow motion videom a prediktívným snímaním v smartfóne Xperia XZ1 Compact ti umožnia zachytiť momenty, ktoré si nikdy predtým nevidel.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left-XZ1compact">
				<h2 class="feat__title">
					Najnovšie inovácie fotoaparátu od Sony</h2>
				<!--<h4 class="feat__sub-title">
					Prvý smartfón na svete so 4K HDR displejom</h4>-->
				<p class="feat__desc">
					Zachytávaj život po novom s našim Motion Eye™ fotoaparátom. Je zostavený s použitím know-how z našich produktových radov α™ a Cyber-shot™, vďaka čomu ti Xperia XZ1 Compact odhalí momenty, aké si si predtým mohol len predstavovať.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Zachyť ten úsmev</h2>
				<!--<h4 class="feat__sub-title web-text-wht">
					Prelomový spôsob ako zachytiť svet</h4>-->
				<p class="feat__desc">
					Už ti nikdy neujde ten nečakaný moment, či už pôjde o ten najsladší úsmev alebo pohyb vo vzduchu. Prediktívne snímanie automaticky začne snímať obrázky ešte skôr ako stlačíš spúšť.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Super ostré zábery pohybu</h2>
				<p class="feat__desc">
					Xperia XZ1 Compact je vybavená automatickým zaostrovaním, ktoré sleduje a zachytáva sekvencie pohybujúcich sa objektov v ostrom zábere, takže zabudni na rozmazané akčné zábery.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left-XZ1compact">
				<h2 class="feat__title">
					Super široké selfie zábery</h2>
				<p class="feat__desc">
					Zmesti do záberu viac so super širokouhlým 120° zorným uhlom alebo sa jedným kliknutím prepni na 80° zorný uhol. A to aj pri slabom osvetlení, keďže si zábery môžeš prisvietiť displejom a budú tak jasné a živé.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Prelom v mobilnej kreativite</h2>
				<!--<h4 class="feat__sub-title web-text-wht">
					Odolá vode</h4>-->
				<p class="feat__desc">
					Objav pokrokové inovácie s aplikáciou 3D skener. Vytvor si 3D objekt, podeľ sa s ním s priateľmi alebo si ho vytlač - možnosti sú nekonečné.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left-XZ1compact">
				<h2 class="feat__title">
					Je pripravená na všetko – či prší alebo svieti slnko</h2>
				<p class="feat__desc">
					Dážď je jedna z vecí, na ktoré už nemusíš myslieť, keď si vonku. S certifikáciou podľa normy IP65/681 je Xperia XZ1 Compact navrhnutá tak, aby odolala ošpliechaniu, vyliatej vode aj nečakaným prehánkam.*</p>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="fixed-column">
			<p class="disclaimer">
				* Xperia XZ1 Compact je vode odolná a chránená pred prachom, takže sa nemusíš obávať, ak ťa zastihne dážď alebo chceš zmyť špinu pod tečúcou vodou, ale nezabudni, že všetky vstupy a pripojené kryty musia byť pevne zatvorené. Zariadenie by sa nemalo celkom ponárať pod vodu ani vystavovať vplyvom morskej vody, slanej vody, chlórovanej vody alebo tekutín ako sú nápoje. Nesprávne alebo nevhodné zaobchádzanie so zariadením je porušením záruky. Zariadenie bolo testované podľa noriem odolnosti Ingress Protection IP65/68. Viac informácií nájdeš na <a href="http://support.sonymobile.com/global-en/dm/waterresistant/" target="_blank">www.sonymobile.com/waterproof</a>. Upozorňujeme, že Xperia XZ1 Compact má USB vstup bez krytu na pripájanie a nabíjanie. USB vstup musí byť pred nabíjaním úplne suchý.</p>
		</div>
	</section>
</div>
<!--
####
    XPERIA XA
####
-->
<div class="main_sec" id="sec-3">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				Xperia™ XA1</h2>
			<h4 class="prod__subtitle">
				PERFEKTNÉ ZÁBERY S 23 MP</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="/documents/10179/12337047/XA1_black_front_main_pic.png" /></div>
			</div>
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							5” HD 720p display<br />
							s bezrámovým dizajnom</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							2300 mAh<br />
							s inteligentnou správou spotreby energie</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							3 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							23 MPx<br />
							najlepší vo svojej triede</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							8 MPx<br />
							širokouhlý objektív</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							32 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 7.0</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Fotoaparát</h2>
				<h4 class="feat__sub-title">
					Pôsobivá kvalita obrazu</h4>
				<p class="feat__desc">
					Naše skúsenosti z vývoja fotoaparátov vám pomôžu k dokonalým snímkam. Xperia XA1 má fotoaparát s 23MP snímačom Exmor RS ™ pre mobilné zariadenia a objektív so svetelnosťou F2,0. Viac pixelov, viac svetla, snímky najlepšie vo svojej triede.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Také živé ako si to pamätáš</h2>
				<p class="feat__desc">
					Zachyť všetky krásne chvíle svojho života vo vysokej kvalite, aby sa stali nezabudnuteľnými.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Fotoaparát</h2>
				<h4 class="feat__sub-title">
					Širokouhlý objektív pre selfie</h4>
				<p class="feat__desc">
					Predný fotoaparát smartfónu Xperia XA1 má 8 MP a širokouhlý 23 mm objektív, s ktorým sa do záberu zmestí veľa vašich priateľov. Spúšť dlaňou automaticky rozpozná vašu ruku a spustí odpočítavanie samospúšte.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Dizajn</h2>
				<h4 class="feat__sub-title">
					Formát bez okrajov, ktorý presne zapadne do ruky</h4>
				<p class="feat__desc">
					Hladké, zaoblené tvary a 5 "displej cez celú šírku, ktorého rám je prakticky neviditeľný. Xperia XA1 ti presne zapadne do ruky.</p>
			</div>
		</div>
	</section>
	<!-- 5 -->
	<section class="feat_full-bg prod-3 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Výkon</h2>
				<h4 class="feat__sub-title">
					Silný výkon</h4>
				<p class="feat__desc">
					Energeticky úsporný procesor sa postará o rýchlejší a plynulejší užívateľský zážitok, či už surfuješ na internete, pozeráš video alebo hráš svoju obľúbenú hru. To všetko so super rýchlym 4G pripojením.</p>
			</div>
		</div>
	</section>
	<!-- 6 -->
	<section class="feat_full-bg prod-3 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Prispôsobí sa tvojim zvykom</h2>
				<!--    <h4 class="feat__sub-title">
                    Formát bez okrajov, ktorý presne zapadne do ruky</h4> -->
				<p class="feat__desc">
					Xperia XA1 sa učí a prispôsobuje podľa toho, ako ju používaš. Každým dňom je múdrejšia a viac šitá na mieru tvojim potrebám.</p>
			</div>
		</div>
	</section>
	<!-- 7 -->
	<section class="feat_full-bg prod-3 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Zdravšia batéria s dlhšou životnosťou</h2>
				<!-- <h4 class="feat__sub-title">
                    Silný výkon</h4> -->
				<p class="feat__desc">
					Adaptívne nabíjanie Qnovo monitoruje stavy batérie ako napr. teplota a tlak. Upravuje nabíjacie prúdy s cieľom maximalizovať životnosť tvojho Xperia® smartfónu.</p>
			</div>
		</div>
	</section>
	<!-- XA1 last -->
	<section class="feat-list section">
		<div class="fixed-column">
			<div class="grid__col_6 feat-list__grid">
				<img alt="" src="/documents/10179/12337047/micro-sd.jpg" />
				<h4 class="feat-list__title">
					Prispôsobí sa tvojim zvykom</h4>
				<p class="feat-list__desc">
					Xperia XA1 sa učí a prispôsobuje podľa toho, ako ju používaš. Každým dňom je múdrejšia a viac šitá na mieru tvojim potrebám.</p>
			</div>
			<div class="grid__col_6 feat-list__grid">
				<img alt="" src="/documents/10179/12337047/64-bit.jpg" />
				<h4 class="feat-list__title">
					Zdravšia batéria s dlhšou životnosťou</h4>
				<p class="feat-list__desc">
					Adaptívne nabíjanie Qnovo monitoruje stavy batérie ako napr. teplota a tlak. Upravuje nabíjacie prúdy s cieľom maximalizovať životnosť tvojho Xperia® smartfónu.</p>
			</div>
		</div>
	</section>
</div>
<!-- L1 -->
<div class="main_sec" id="sec-4">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				XPERIA ™ L1</h2>
			<h4 class="prod__subtitle">
				Plynulý výkon. Výnimočný displej</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="/documents/10179/12337047/l1-specs.png" /></div>
			</div>
			<!-- Specs -->
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							5,5” HD 720p displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							2620 mAh<br />
							s inteligentnou správou</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							2 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							13 MPx<br />
							s jednoduchou obsluhou</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							5 MPx</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							16 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 7.0</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Displej</h2>
				<h4 class="feat__sub-title">
					Pôsobivý displej</h4>
				<p class="feat__desc">
					Pozri si to všetko v nádherných detailoch. Xperia L1 disponuje vysoko kvalitným 5.5 displejom so zaobleným dizajnom a úzkymi okrajmi, takže môžeš vidieť aj zdieľať všetko, čo chceš.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Stvorený pre tvoju ruku</h2>
				<p class="feat__desc">
					Na smartfón Xperia L1 sa nielen dobre pozerá. S hladkým, zaobleným rámom skvele sadne do ruky a príjemne sa drží.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Výkon</h2>
				<h4 class="feat__sub-title">
					Výkon, ktorý potrebuješ</h4>
				<p class="feat__desc">
					Skombinuj štvorjadrový procesor s 2GB RAM pamäťou a získaš rýchlosť a výkon, ktoré potrebuješ. Žiadne zaostávanie. Žiadne ťažkosti. Len plynulý výkon.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Prenechaj premýšľanie svojmu telefónu</h2>
				<p class="feat__desc">
					Smart Cleaner garantuje optimálnu rýchlosť. Táto šikovná funkcia zanalyzuje, ako svoj telefón používaš, deaktivuje nepoužívané aplikácie a vyčistí vyrovnávaciu pamäť.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Asistencia</h2>
				<h4 class="feat__sub-title">
					Prispôsobí sa tvojim zvykom</h4>
				<p class="feat__desc">
					Xperia L1 sa učí a prispôsobuje podľa toho, ako ju používaš, a je každým dňom múdrejšia a osobnejšia.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Život je jednoduchší - Xperia Actions</h2>
				<p class="feat__desc">
					Pozri sa, ako sa Xperia L1 prispôsobí prostrediu, kde sa nachádzaš - a tvoj život trochu zjednoduší.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Fotoaparát</h2>
				<h4 class="feat__sub-title">
					Zachyť čaro bežného dňa</h4>
				<p class="feat__desc">
					Máš po ruke 13MP fotoaparát s jednoduchou obsluhou a tak si vždy pripravený zachytávať a zdieľať to, čo ti život prináša - v živých, reálnych farbách.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-8 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Vždy je tu selfie sezóna</h2>
				<p class="feat__desc">
					Vojdi do záberu a foť s 5MP selfie fotoaparátom.</p>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript" src="/documents/10179/12337049/slider.js"></script><script type="text/javascript" src="/documents/10179/12337049/main.js"></script>
