<!-- d-2-2-0 -->
<section id="d-2-2-0" class="section d-2-2-0">
    <!-- step indicator -->
    <step-indicator></step-indicator>
    <!-- app view -->
    <div class="container-fixed">
        <!-- phone-num -->
        <phone-num></phone-num>
        <!-- help float -->
        <div class="help-menu">
            <div class="help-menu__item">
                <a class="help-menu__link icon_question">
                    <!-- help-ico -->?</a>
                <div class="help-menu__content">
                    <p>Potrebujem pomôcť</p>
                </div>
            </div>
        </div>
        <!-- //help float -->
        <!-- main section -->
        <div class="row">
            <!-- main copy -->
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">Vyberte mobilný paušál, ktorý využívate</h2>
                <p class="sec__desc text_centered">Na vytvorenie skupiny potrebujete paušál <span class="text_bold">Happy M</span> a vyšší.</p>
            </div>
            <!-- main content -->
            <div class="row" ng-repeat="data in $ctrl.data | filter: {active: true}">
                <div class="col-md-12 text_centered">
                    <!-- slide 1 -->
                    <div class="col-md-4 offset-md-4 slide-box">
                        <!-- 1row -->
                        <div class="slide-box__row slide-box__row-title">
                            <div class="slide-box__title"> {{ data.namePrefix }} <span class="text_bold">{{ data.shortName }}</span></div>
                            <div class="slide-box__price">{{ data.price }} €</div>
                        </div>
                        <!-- 2row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">1 GB</div>
                            <div class="slide-box__desc">dát v SR a EU+</div>
                        </div>
                        <!-- 3row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">Neobmedzené</div>
                            <div class="slide-box__desc">volania do siete Telekom</div>
                        </div>
                        <!-- 4row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">0,10 €</div>
                            <div class="slide-box__desc">SMS a MMS</div>
                        </div>
                        <!-- 5row   -->
                        <div class="slide-box__row">
                            <a href="#lb-happy-m" class="plan-show-detail popup">Zobraziť detail</a>
                        </div>
                        <!-- 6row -->
                        <div class="slide-box__row">
                            <div class="filter-text-holder">
                                <p class="filter-title">Cena s telefónom</p>
                            </div>
                            <div class="filter-checkbox-holder">
                                <input id="base" class="filter-checkbox" type="checkbox" checked>
                            </div>
                        </div>
                        <!-- 7row -->
                        <div class="slide-box__row">
                            <p class="slide-box__disc">
                                Pri kúpe online 20 € zľava na telefón
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- select program -->
            <div class="slide-select-box__wrap">
                <div class="slide-select-box">
                    <!-- 1 -->
                    <!-- active CSS class: slide-select-box__active -->
                    <div class="col-xs-2 slide-select-box__cube" ng-click="$ctrl.selectProduct(data)" ng-class="{'slide-select-box__active': data.active}" ng-repeat="data in $ctrl.data">
                        <div class="slide-select-box__cube-price">{{ data.price }}</div>
                        <div class="slide-select-box__cube-type">{{ data.name }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- step controls -->
    <step-controls></step-controls>
</section>