<h2 class="velkyNadpis akcieHeadline">VIANOČNÉ AKCIE</h2>
<p class="akcieHeadline-sub fix hidden">Vyberte si z našej vianočnej ponuky. K Magio internetu alebo Magio TV pre vás
	máme technologické vychytávky za výhodné ceny.<br>
	<b>Navyše za nákup cez web získate extra web zľavu z mesačného poplatku.</b>
</p>
<p class="akcieHeadline-sub pausaly hidden">Vyberte si z našej vianočnej ponuky. K paušálom ÁNO pre vás máme
	technologické vychytávky za výhodné ceny, zimný balík dát a kupón so zľavou na príslušenstvo alebo dáta až do 40
	€.<br>
	<b>Navyše za nákup cez web získate až do 1 GB naviac, doručenie kuriérom zadarmo a web zľavu.</b>
</p>

<section id="sortingOptionsSection" class="section">
	<div class="container-fixed">
		<div class="categoryWrapper">
			<div id="filters" style="visibility: hidden" class="button-group">
				<!-- <a class="button" data-filter="*">Zobraziť všetko</a> -->
				<a class="button is-checked" data-filter=".rateplan">K paušálom ÁNO</a>
				<a class="button" data-filter=".magio">K Magio službám</a>
				<!-- <a class="button" data-filter=".magenta1">K skupine Magenta 1</a> -->
				<a class="button" data-filter=".easy">K Easy karte</a>
			</div>
		</div>

		<div class="sortingWrapper clearfix">
			<!-- <div id="sorts" class="button-group">
                <a class="button is-checked" data-sort-by="original-order">Obľúbené</a>
                <a class="button" data-sort-by="name">Názov</a>
                <a class="button" data-sort-by="availability">Dostupnosť</a>
                <a class="button" data-sort-by="price">Od najlacnejšieho</a>
            </div> -->
			<div id="changePlan">
				<p>Zobraziť ceny&nbsp;s</p>
				<select id="select_program_rp" class="select_program_rp">
					<!-- <option value="anoS" selected>ÁNO S</option> -->
				</select>
			</div>

		</div>
	</div>
</section>

<section id="productsSection" class="section sec-2">
	<div class="container-fixed">
		<div class="grid">
			<div class="gutter-sizer">
				<!-- gutter -->
			</div>
			<div class="grid-sizer">
				<!-- grid -->
			</div>
			<div class="element-item rateplan" id="roombai7" data-availability="available" data-changeWidth="width2">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/roomba.png" alt="">
				</div>
				<p class="name"><b>Robotický vysávač iRobot <br>Roomba i7</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">1,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
				</div>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan" id="samsung4KTV" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/tvSamsung.png" alt="">
				</div>
				<p class="name"><b>4K Smart televízor Samsung<br>
						s uhlopriečkou 50“/123 cm UHD</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan" id="ps41TB" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/ps41TB.png" alt="">
				</div>
				<p class="name"><b>PlayStation 4 Pro 1TB s troma hrami <br>a ďalšími darčekmi</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan" id="samsungA70" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/samsungGalaxyA70.png" alt="">
				</div>
				<p class="name"><b>Samsung Galaxy A70 + <br>
						smartfón ako darček za 4 centy</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan" id="samsungWatch" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/samsungGalaxyWatch.png" alt="">
				</div>
				<p class="name"><b>Samsung Galaxy Watch + <br>
						smartfón ako darček za 4 centy</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan biznis" id="raspberryPi4" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/Rapsberry.png" alt="">
				</div>
				<p class="name"><b>Sada Raspberry pi 4 model B<br>
						4 GB RAM</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<!-- <div class="element-item rateplan textver special zimnyBalik snow" id="zimnyBalik"
				data-availability="available">
				<img src="../assets/img/aktualne-akcie/ec-30gb.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/zimnyBalik.png" alt="">
				</div>
				<p class="name"><b>Zimný balík dát pre všetkých <br>a zadarmo</b></p>
				<div class="text">
					<div class="col-xs-12 text-center pad0">
						<p>
							Pre všetkých zákazníkov s paušálmi ÁNO, Happy, Bez záväzkov a Easy máme zimný balík dát.
							Aktivujte si ho v Telekom appke v novembri a decembri jedným klikom.
						</p>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">AKTIVOVAŤ BALÍK V APPKE</a>
				<a href="#" class="link">Viac info</a>
			</div> -->
			<div class="element-item rateplan textver" id="poukazKmobilu" data-availability="available">
				<img src="../assets/img/aktualne-akcie/ec-sutaz.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/kuponPrislusenstvo-vypredane.jpg" alt="">
				</div>
				<p class="name"><b>Kupón na príslušenstvo <br>alebo dáta až do 40 €</b></p>
				<div class="text">
					<div class="col-xs-12 text-center pad0">
						<p>
							Vyberte si paušál ÁNO a my vám darujeme kupón až do výšky 40 €, ktorý môžete využiť na
							nákup
							príslušenstva podľa vášho výberu alebo na kúpu dát pre Easy kartu.
						</p>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta" style="visibility: hidden;">VYBRAŤ PAUŠÁL</a>
				<!-- <a href="#christmas2019" class="link chri_popup">Ako uplatniť kupón</a> -->
			</div>
			<div class="element-item rateplan soldOut" id="samsungA40" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/samsungGalaxyA40.png" alt="">
				</div>
				<p class="name"><b>Samsung Galaxy A40 + Lego Hidden <br>Side bus ako darček za 4 centy</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan soldOut" id="samsungA40" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/samsungGalaxyA40.png" alt="">
				</div>
				<p class="name"><b>Samsung Galaxy A40 + Lego Hidden <br>Side bus ako darček za 4 centy</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan soldOut" id="krupsEA890110" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/krupsEA890110.png">
				</div>
				<p class=" name"><b>Kávovar Krups Evidence<br>
						EA890110, biely</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item rateplan special soldOut" id="krupsEA892D10" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-40kupon.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/krupsEA892D10.png" alt="">
				</div>
				<p class="name"><b>SMART kávovar Krups Evidence EA892D10, brúsený hliník</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b>s web zľavou <span class="pricenum">0,50</span> €</b></p>
							<p class="monthlyStore">v predajni <span>2,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb">s web zľavou <span>1,50</span> €</p>
							<p class="oneTimeStore">v predajni <span>9,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<!-- Magio FIX devices -->
			<div class="element-item magio" id="roombai7fix" data-availability="unavailable" data-changeWidth="width2">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/roomba.png" alt="">
				</div>
				<p class="name"><b>Robotický vysávač iRobot <br>Roomba i7</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">1,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<!-- <p class="oneTimeStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
				</div>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item magio" id="samsung4KTVfix" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/tvSamsung.png" alt="">
				</div>
				<p class="name"><b>4K Smart televízor Samsung<br>
						s uhlopriečkou 50“/123 cm UHD</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<!-- <p class="oneTimeStore">v predajni <span>9,00</span> €</p> -->
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item magio" id="ps41TBfix" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/ps41TB.png" alt="">
				</div>
				<p class="name"><b>PlayStation 4 Pro 1TB s troma hrami <br>a ďalšími darčekmi</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<!-- <p class="oneTimeStore">v predajni <span>9,00</span> €</p> -->
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item magio" id="raspberryPi4fix" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/Rapsberry.png" alt="">
				</div>
				<p class="name"><b>Sada Raspberry pi 4 model B<br>
						4 GB RAM</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<!-- <p class="oneTimeStore">v predajni <span>9,00</span> €</p> -->
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item magio soldOut" id="lenovoIdeapadS145fix" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/lenovoIdeapadS145.png" alt="">
				</div>
				<p class="name"><b>Lenovo Ideapad S145-14IWL + <br>
						batoh ako darček</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<!-- <p class="oneTimeStore">v predajni <span>9,00</span> €</p> -->
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item magio soldOut" id="krupsEA890110fix" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/krupsEA890110.png" alt="">
				</div>
				<p class="name"><b>Kávovar Krups Evidence<br>
						EA890110, biely</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<!-- <p class="oneTimeStore">v predajni <span>9,00</span> €</p> -->
						</div>
					</div>
				</div>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<div class="element-item magio special soldOut" id="krupsEA892D10fix" data-availability="available">
				<div class="limitedOffer">
					<p>Limitovaná ponuka</p>
				</div>
				<img src="../assets/img/aktualne-akcie/ec-webzlava.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/krupsEA892D10.png" alt="">
				</div>
				<p class="name"><b>SMART kávovar Krups Evidence EA892D10, brúsený hliník</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Mesačne</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">Akontácia</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="oneTimeWeb"><span>1,50</span> €</p>
							<!-- <p class="oneTimeStore">v predajni <span>9,00</span> €</p> -->
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">KÚPIŤ</a>
				<a href="#" class="link">Viac info</a>
			</div>
			<!-- EASY devices -->
			<div class="element-item easy" id="dataNaRok" data-availability="available">
				<img src="../assets/img/aktualne-akcie/ec-nizsiacena.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/datanarok.png" alt="">
				</div>
				<p class="name"><b>Dáta na celý rok<br>
						za výhodnejšiu cenu</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Dátové balíky na celý rok</span></p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-6 pad0 text-left">
							<p class="hdl">Dáta na rok 24 GB</p>
						</div>
						<div class="col-xs-6 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">49</span> €</b></p>
							<p class="monthlyStore">predtým <span>69,00</span> €</p>
						</div>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-6 pad0 text-left">
							<p class="hdl">Dáta na rok 6 GB</p>
						</div>
						<div class="col-xs-6 pad0 text-right">
							<p class="oneTimeWeb"><span>19</span> €</p>
							<p class="oneTimeStore">predtým <span>29,00</span> €</p>
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta" style="margin-top: 53px;">VIAC INFO</a>
			</div>
			<div class="element-item easy" id="gigaDen" data-availability="available">
				<img src="../assets/img/aktualne-akcie/ec-novinka.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/gigaden.png" alt="">
				</div>
				<p class="name"><b>Nový dátový balík<br>GIGA DEŇ</b></p>
				<div class="prices">
					<div class="col-xs-12 prices-hdl pad0">
						<p>Nový dátový balík na 24 hodín</p>
					</div>
					<div class="prices-row pad0">
						<div class="col-xs-4 pad0 text-left">
							<p class="hdl">GIGA DEŇ</p>
						</div>
						<div class="col-xs-8 pad0 text-right">
							<p class="monthlyWeb"><b><span class="pricenum">1,50</span> €</b></p>
							<!-- <p class="monthlyStore">v predajni <span>2,00</span> €</p> -->
						</div>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta" style="margin-top: 110px;">VIAC INFO</a>
				<!-- <a href="#" class="link">Viac info</a> -->
			</div>
			<div class="element-item easy textver" id="extraKredit" data-availability="available">
				<img src="../assets/img/aktualne-akcie/ec-extrakredit.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/azdo30.png" alt="">
				</div>
				<p class="name"><b>Extra kredit<br>až do výšky 30%</b></p>
				<div class="text">
					<div class="col-xs-12 text-center pad0">
						<p>
							Aktivujte si pravidelné dobíjanie Easy a získate extra kredit až do 30% z dobíjanej
							sumy,
							čo môže byť až 15 €. Pravidelné dobíjanie sa dá aktivovať v Telekom appke cez
							platobnú kartu alebo z paušálu ÁNO vášho blízkeho.
						</p>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">Viac info</a>
			</div>
			<!-- <div class="element-item easy textver special zimnyBalik snow" id="zimnyBalikEasy"
				data-availability="available">
				<img src="../assets/img/aktualne-akcie/ec-1gbzadarmo.png" alt="" class="ec">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/zimnyBalik.png" alt="">
				</div>
				<p class="name"><b>Zimný balík dát pre všetkých <br>a zadarmo</b></p>
				<div class="text">
					<div class="col-xs-12 text-center pad0">
						<p>
							Dátujte do sýtosti! Aj pre zákazníkov s Easy kartou máme zimný balík dát s 1 GB zadarmo.
							Aktivujte si ho v novembri a decembri v Telekom appke jedným klikom.
						</p>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">AKTIVOVAŤ BALÍK V APPKE</a>
				<a href="#" class="link">Viac info</a>
			</div> -->
			<div class="element-item easy textver" id="segwayKickScooter" data-availability="available">
				<div class="mainImg">
					<img src="../assets/img/aktualne-akcie/segwayKickScooter.png" alt="">
				</div>
				<p class="name"><b>Vyhrajte jednu z 10 kolobežiek <br>Ninebot by Segway KickScooter ES1</b></p>
				<div class="text">
					<div class="col-xs-12 text-center pad0">
						<p>
							Aktivujte si pravidelné dobíjanie Easy karty a automaticky budete zaradený do žrebovania o
							10 kolobežiek Ninebot by Segway KickScooter ES1. Súťaž trvá od 10. 11. do 10. 12. 2019.
						</p>
					</div>
				</div>
				<span class="pricenum hidden">999</span>
				<a href="#" class="btn cta">Viac info</a>
			</div>
		</div>
		<div class="fakeEndPoint">
			<!-- endpoint -->
		</div>
		<!-- terms and conditions -->
		<div class="termsandconditions">
			<p>Všetky ceny sú uvedené s DPH.<br>
				Vianočná ponuka platí pri uzavretí zmluvy s viazanosťou na 24 mesiacov.</p>
			<div class="togleArrow main">
				<a class="toggle-arrow main" href="#">Podmienky vianočných akcií<span
						class="arrow-right main"></span></a>
				<div class="arrow-content main" style="padding-left: 20px">
					<div class="terms">
						<div class="togleArrow">
							<a class="toggle-arrow" href="#">Ponuka akciových zariadení<span
									class="arrow-right"></span></a>
							<div class="arrow-content">Ponuka je limitovaná a platí do 31. 01. 2020 alebo do vypredania
								zásob podľa toho, čo nastane skôr. Uvádzané akciové ceny zariadení platia pri kúpe k
								určenému programu Služby pri 24 mesačnej viazanosti. Akciová kúpna cena zariadení je
								rozdelená na akontáciu a 24 mesačných splátok; v prípade kúpnej ceny nižšej ako 25 € sa
								cena platí jednorazovo. Podnik môže v konkrétnom prípade požadovať uhradenie vyššej
								akontácie alebo predaj na splátky aj odmietnuť. Ponuka na kúpu druhého zariadenia za
								0,04 € je podmienená kúpou v ponuke uvádzaného prvého zariadenia za uvádzanú akciovú
								cenu k príslušnému programu Služby. Doručenie akciového zariadenia k Službám pevnej
								siete je spoplatnené poplatkom za dopravu vo výške 5 €. Dodávka zariadení podľa ponuky
								môže trvať až 45 dní od uzavretia Zmluvy alebo Dodatku. Bližšie o podmienkach v platnom
								<a class="link"
									href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
									target="_blank">Cenníku programov ÁNO</a>, Prílohe A resp. v akciovom <a
									class="link"
									href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-pevnej-siete/">Cenníku
									pre poskytovanie služieb pevnej siete.</a></div>
						</div>
						<div class="togleArrow">
							<a class="toggle-arrow" href="#">Kupón na príslušenstvo alebo dáta<span
									class="arrow-right"></span></a>
							<div class="arrow-content">Účastník, ktorý uzavrie od 24. 10. 2019 do 31. 12. 2019 Zmluvu
								resp. Dodatok k Zmluve na paušál ÁNO s viazanosťou aspoň na 24 mesiacov, má nárok na
								získanie kupónu na zľavu vo výške 15 €, 25 € alebo až 40 € podľa úrovne aktivovaného
								paušálu, ktorú môže uplatniť pri nákupe jedného príslušenstva z ponuky v akejkoľvek
								predajni Telekom centra v súlade s podmienkami ponuky alebo z ceny jedného kupónu na
								ročné dátové balíky pre Easy (6 GB alebo 24 GB na rok); cena po zohľadnení zľavy z
								kupónu je najmenej 0,04 € s DPH. Kupón spolu s jedinečným kódom získa účastník
								prostredníctvom Telekom aplikácie. Jeden účastník (jedno RČ resp. IČO) môže získať
								najviac 5 kupónov. Kupón platí do 3 mesiacov od uzavretia Zmluvy/Dodatku, ak jeho
								platnosť nezanikne skôr. Zľavy z kupónov nie je možné navzájom kombinovať. Bližšie o
								podmienkach v platnom
								<a class="link"
									href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
									target="_blank">Cenníku programov ÁNO</a>, Prílohe A resp. v akciovom <a
									class="link"
									href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-pevnej-siete/">Cenníku
									pre poskytovanie služieb pevnej siete.</a></div>
						</div>
						<div class="togleArrow">
							<a class="toggle-arrow" href="#">Zimný balík dát<span class="arrow-right"></span></a>
							<div class="arrow-content">Ponuka platí od 1. 11. do 30.11. 2019 a od 1.12. do 31. 12. 2019
								k paušálom ANO, Happy, Bez záväzkov a službe Easy a možno ju využiť len raz v danom
								jednom mesiaci výlučne cez Telekom aplikáciu. Objem dát v balíku je obmedzený podľa
								programu Služby. Čerpanie dát je možné v SR, EÚ a zóne 1 po aktivácii účastníkom; v EÚ a
								zóne 1 sa uplatňuje Politika primeraného využívania služieb v roamingu, bližšie v
								Cenníku. Platnosť balíka je vždy do konca príslušného mesiaca, v ktorom bol balík
								aktivovaný. Bližšie informácie o ponuke sú uvedené v <a
									href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
									class="link">Cenníku služieb mobilnej siete -
									Časť A.</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div id="ajaxLoadingSpinnerOverlay">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated"></div>
		<div class="square second pulse infinite animated"></div>
		<div class="square third pulse infinite animated"></div>
	</div>
</div>

<!-- popup -->
<div id="christmas2019" class="christmasPopup" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn">
				<!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<h4>Ako funguje kupón?</h4>

			<p>Vezmite si nový alebo predĺžte existujúci paušál ÁNO.<br>Automaticky získate kupón do výšky:</p>
			<div class="row data">
				<div class="col-xs-8" style="text-align: left;">
					<p>ÁNO S, M, M Dáta</p>
					<p>ÁNO L</p>
					<p>ÁNO XL a XXL</p>
				</div>
				<div class="col-xs-4 text-right">
					<p>15 €</p>
					<p>25 €</p>
					<p>40 €</p>
				</div>
			</div>
			<p>
				Kupón môžete využiť na kúpu jedného <b>ľubovoľného príslušenstva</b> v&nbsp;našich Telekom centrách
				alebo na <b>kúpu balíčka Dáta na rok 6 GB alebo 24 GB</b>.
			</p>
			<p> <b>Kupón s kódom nájdete v Telekom aplikácii,</b> ktorú si stiahnete podľa<br> vášho operačného systému
				v Google
				Play alebo AppStore.</p>
			<a class="btn cta" href="/volania/pausal#module-plan-chooser">Vybrať paušál</a>
			<br>
			<hr style="max-width: 60%; margin: 15px auto; background:#ccc">
			<p style="line-height: normal; font-size: 14px; margin-bottom: 20px;">
				Kupón môžete tiež darovať niekomu inému. Ak si vyberiete príslušenstvo alebo ročné dáta k Easy drahšie,
				ako je váš kupón, rozdiel doplatíte. Ak bude suma nižšia alebo rovnaká, ako výška vášho kupónu, poplatok
				bude 4 centy.
				<b>Kupóny na dáta na rok k Easy karte si môžete uplatniť v Telekom centre alebo cez Zákaznícku linku
					0800 123 456.</b>
			</p>
			<!-- <a href="#" class="link text-close">Zavrieť okno</a> -->
		</div>
	</div>
</div>



<script type="text/javascript" src="../assets/js/itp.js"></script>
<script type="text/javascript" src="../assets/js/heapbox.min.js"></script>
<script type="text/javascript" src="../assets/js/vianocne-akcie.js"></script>