/* ===============
   CSS FOR MICROSITE
   =============== */

/* ===============
  MICROSITE GLOBALS
  =============== */

.no-href {
  cursor: pointer;
}

/* BUTTONS */
.btn {
  text-transform: uppercase;
  font-size: 16px;
  color: #383838;
  background-color: #ededed;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: #dbdbdb;
  border: 1px solid #a1a1a1;
}

.btn:active {
  background-color: #e7e7e7;
  border: 1px solid #b2b2b2;
}

.btn.btn_disabled {
  color: #bababa;
  background-color: #f2f2f2;
  border: 1px solid #dedede;
  cursor: no-drop;
}

.cta {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #58951c;
}

.cta:hover {
  background-color: #5e9e20;
  border: 1px solid #4d8319;
}

.cta:active {
  background-color: #65ac20;
  border: 1px solid #58951c;
}
/* BUTTONS END */

#content h2 {
  border-bottom: 0;
  font-size: 20px;
  line-height: 1;
  color: #e20074;
  margin: 20px 0 10px;
}

.tac {
  text-align: center;
}
.sticker-picture {
  position: absolute;
  top: 130px;
  left: 120px;
}
.sticker-picture2 {
  position: absolute;
  top: 0px;
  left: 160px;
}
.strikethrough {
  position: relative;
  margin-right: 10px;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
hr {
  height: 1px;
  border: 0;
  color: #d0d0d0 !important;
  background-color: #d0d0d0 !important;
}
#content h2.velkyNadpis {
  text-align: center;
  color: #e20074;
  font-size: 32px;
  border-bottom: 0;
}
/* ===============
  MICROSITE GLOBALS END
  =============== */

/* ===============
  HERO
  =============== */
#hero {
  background: url(../img/kv.png) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  min-height: 254px;
  padding-top: 55px;
  & .hero__mobile {
    display: none;
  }
}

.hero__content {
  text-align: center;
  position: relative;
  & img.icon-ec {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -120px;
  }
}

.ec-nasim {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#content .hero__title {
  //color: #000;
  font-size: 38px;
  margin-bottom: 0px;
}

#hero .link {
  display: inline-block;
  color: #3ec0f0;
}

@media screen and (max-width: 960px) {
  #hero_old {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url(../img/kv.png) no-repeat;
    background-position: 60% 35%;
    background-size: cover;
    & .hero__content {
      & img.icon-ec {
        right: -120px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  #hero {
    .hero__content {
      width: auto;
    }
  }
}

@media screen and (max-width: 543px) {
  #hero {
    background: transparent;
    padding: 0;
    height: auto;
    & .hero__content {
      width: 100%;
      margin: 0;
      position: relative;
      & img.icon-ec {
        display: none;
      }
      .hero__title {
        margin-top: 40px;
        font-size: 30px;
      }
    }
    .ec-nasim {
      position: absolute;
      right: 10px;
      top: 100px;
    }
    .hero__mobile {
      display: block;
      background: url(../img/kv.png) no-repeat 63% 50%;
      background-size: cover;
      height: 210px;
      position: relative;
      & img.icon-ec {
        position: absolute;
        bottom: 10px;
        left: 15px;
      }
    }
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .hero__content {
      padding: 10px 4%;
    }
    .btn {
      margin-top: 30px;
    }
    .hero__title,
    .hero__desc {
      color: #262626 !important;
    }
  }
}

/* ===============
  HERO - END
  =============== */

/* ===============
  SEC-1
  =============== */
#sec-1 {
  padding: 50px 0px;
  background: #fff;
  & h2.velkyNadpis {
    margin-bottom: 25px;
  }
  & .row {
    & img.tac {
      display: block;
      margin: auto;
    }
    & h3.tac {
      font-size: 16px;
      color: #262626;
    }
  }
}

/* ===============
  SEC-2
  =============== */
#sec-2 {
  background: #ededed;
  padding: 50px 0px;
  & .modryOdkaz {
    text-decoration: underline;
  }
  & .internet-wrapper {
    background: #fff;
    margin: 6% 0% 2% 0%;
    //width: 30%;
    padding: 6%;
    & h3.tac {
      margin: 10px 0px;
      text-transform: uppercase;
    }
    & h5.tac {
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      font-weight: bold;
      & a {
        color: #4b4b4b;
        font-size: 20px;
        font-weight: bold;
      }
    }
    & p.tac {
      margin: 0px;
      font-weight: bold;
    }
    & a.tac {
      color: $magenta;
      font-weight: bold;
    }
    & .malepismo {
      text-transform: lowercase;
    }
  }
}
/* SEC-2 CMB */
#content .cmb__area {
  background: #cedfef;
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#content h3.cmb__area__head {
  border-bottom: 0;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 25px;
  color: #262626;
}
/* SEC-2 CMB END */

/* ===============
  SEC-3
  =============== */
#sec-3 {
  background: #ededed;
  padding: 50px 0px;
  & img.tac {
    display: block;
    margin: 0 auto;
  }
  & p.tac {
    color: #4b4b4b;
    font-size: 16px;
  }
  & p.tac strong {
    color: #262626;
  }
}

//
// /* ===============
//   SEC-4 - VIANOCNE AKCIE TABS
//   =============== */
//  #sec-4 {
//    padding: 50px 0px;
//  }
//
//  #content {
//   & .row {
//     & .offer-box {
//         background: #fff;
//         border: 1px solid #d0d0d0;
//         // padding: 20px 30px;
//       & .offer__wrapper {
//         & .left-holder {
//              float: left;
//              & .offer__title {
//                color: #262626;
//                font-size: 22px;
//              }
//            }
//         & .right-holder {
//              float: right;
//            }
//       }
//     }
//    & .sub-offer__holder {
//        margin-top: 20px;
//      & .sub-offer-chris {
//        & .tabs-container {
//          & .tab__holder {
//            & .tabs-menu {
//                height: auto;
//              & li {
//                background-color: white;
//              }
//              & li.current {
//                & a {
//                  color: #6bb324;
//                }
//              }
//              & li a:hover {
//                color: #383838;
//              }
//            }
//          }
//            & .tab {
//              text-align: left;
//                border-top: 1px solid #dbdbdb;
//                width: 100%;
//                margin-bottom: 5px;
//                & .tab-content {
//                    margin-top: 20px;
//                  & .tab-label {
//                    text-align: center;
//                    font-size: 26px;
//                    font-weight: normal;
//                  }
//                  & .tab-help {
//                    width: 23%;
//                    text-align: center;
//                    display: inline-block;
//                    margin-right: 30px;
//                      & .tab-help-sub {
//                        & p {
//                          line-height: 18px;
//                        }
//                        & .tab-help-title {
//                          & h2 {
//                            font-size:16px;
//                            color: #4b4b4b;
//                            font-weight: 500;
//                            //padding-left: 20px;
//                          }
//                        }
//                      }
//                      & p {
//                        font-weight: normal;
//                      }
//                      & .tab-icons {
//                        padding-top: 20px;
//                        & p {
//                          color: #a4a4a4;
//                          margin-top: 0;
//                        }
//                      }
//                      & .tab-icons:nth-child(3) {
//                        padding-top: 5px;
//                      }
//                  }
//                  & .tab-acc {
//                    display: inline-block;
//                    vertical-align: top;
//                    text-align: left;
//                    & .tab-acc-sub {
//                      padding: 11px 6px;
//                      width: 230px;
//                      text-align: center;
//                      display: inline-block;
//                      vertical-align: top;
//                      border: 0;
//                      margin-bottom: 10px;
//                        & .a-title-2 {
//                          float: right;
//                          display: none;
//                        }
//                      & .tab-img-cont {
//                        & img.change-width:nth-of-type(2) {
//                          margin-top: 20px;
//                        }
//
//                      }
//                      & .tab-acc-cont {
//                        & .tab-ex {
//                          text-align: left;
//                          font-weight: normal;
//                          font-size: 16px;
//                          cursor: default;
//                          & p:first-child {
//                            border-bottom: solid 1px #ccc;
//                          }
//                          & p {
//                            margin: 1px 0;;
//                          }
//                          & > div:last-child {
//                            border-top: solid 1px #ccc;
//                            color: $magenta;
//                            font-weight: bold;
//                            margin-top: 5px;
//                            padding-top: 5px;
//                          }
//                          & .tab-ex-label {
//                            display: inline-block;
//                            width: 73%;
//                          }
//                          & .tab-ex-price {
//                            display: inline-block;
//                            width: 25%;
//                            text-align: right;
//                          }
//                        }
//                        & a.a-title {
//                          //min-height: 63px;
//                          display: inline-block;
//                          width: 100%;
//                          font-size:18px;
//                          color: #4b4b4b;
//                          margin: 10px 0;
//                          &:hover {
//                            text-decoration: underline;
//                          }
//                        }
//                        & .tab-web-disc {
//                          color: #6bb324;
//                        }
//                      }
//                    }
//                    & .tab-acc-sub:hover {
//                      cursor: pointer;
//                      z-index: 100;
//                      -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
//                      -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
//                      box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
//                      & .tab-action {
//                          display: block;
//                      }
//                    }
//                    & .tab-mag-go {
//                      display: inline-block;
//                      position: relative;
//                      width: 210px;
//                      min-height: 315px;
//                      vertical-align: top;
//                      background-color: #e6e6e6;
//                      text-align: center;
//                      padding: 30px 0;
//                      float: right;
//                      position: relative;
//                      top: 0;
//                      & h2 {
//                        color: $magenta;
//                        font-size: 28px;
//                        padding-bottom: 0;
//                        font-weight: 900;
//                      }
//                      & p {
//                        margin: 0 0 10px 0;
//                      }
//                      & .tab-mag-go-1 {
//                      }
//                      & .tab-mag-go-2 {
//                        & a.btn {
//                          margin: 0px;
//                        }
//                      }
//                    }
//                  }
//                }
//              }
//              & .tab-action {
//              //display: none;
//              padding: 10px 0;
//              & a {
//                width: 100%;
//              }
//             }
//            }
//              & #tab-1 {
//                & .tab-acc {
//                  width: 485px;
//                & .tab-acc-sub {
//                  min-height: 440px;
//                }
//                & .tab-img-cont {
//                  height: 160px;
//                  position: relative;
//                }
//               }
//              }
//              & #tab-2 {
//                & .tab-acc {
//                  width: 485px;
//                & .tab-acc-sub {
//                  min-height: 440px;
//                  height: 300px;
//                }
//                & .tab-img-cont {
//                  height: 160px;
//                  position: relative;
//                }
//               }
//              }
//              & #tab-3 {
//                  position: relative;
//                  & .tab-acc {
//                    width: 485px;
//                  & .tab-acc-sub {
//                    min-height: 440px;
//                  }
//                  & .tab-img-cont {
//                    height: 200px;
//                    position: relative;
//                  }
//                  & .tab-mag-go {
//                    position: absolute;
//                    top: 60px;
//                    right: 0;
//                  }
//                }
//              }
//            }
//            & .dph p {
//              color: #999;
//              margin-top: 0px;
//              text-align: right;
//            }
//          }
//          & .akcie_title {
//            text-align: center;
//            //color: #4b4b4b;
//            color: $magenta;
//            margin-bottom: 0px;
//          }
//    }
//  }
//
//  @media screen and (max-width: 960px) {
//    .tab {
//       text-align: center !important;
//    }
//    .tab-mag-go {
//      position: relative !important;
//      top: 0px !important;
//    }
//  }
//
//  @media screen and (max-width: 768px) {
//   #content {
//     & .row {
//       & .sub-offer__holder {
//         & .sub-offer-chris {
//           & .tabs-container {
//             & .tab__holder {
//               & .tabs-menu {
//                 width: 100%;
//                 & li {
//                   float: none;
//                   width: 100%;
//                   border: 1px solid #dbdbdb;
//                 }
//                 & li.current {
//                   border-bottom: 4px solid #6bb324;
//                 }
//               }
//             }
//             & .tab {
//               & .tab-content {
//                 & .tab-help {
//                   width: 100%;
//                   margin: 20px 0px;
//                   & .tab-icons {
//                     display: none;
//                   }
//                 }
//                 & .tab-acc {
//                   width: 100% !important;
//                   margin: 10px 0 0 0;
//                   & .tab-acc-sub {
//                    min-height: 227px !important;
//                    text-align: left;
//                    border-top: solid 1px #aaa;
//                    padding-top: 15px;
//                     width: 100%;
//                     & .tab-acc-cont {
//                       width: 68%;
//                       display: inline-block;
//                       & .a-title {
//                         margin: 10px 0px;
//                         min-height: auto !important;
//                       }
//                       & .tab-ex {
//                         & .tab-ex-label {
//                           width: 70%;
//                         }
//                         & .tab-ex-price {
//                           width: 28%;
//                         }
//                       }
//                       & .tab-action {
//                         display: block;
//                         & .btn {
//                           width: auto;
//                         }
//                       }
//                     }
//                     & .tab-img-cont {
//                       text-align: center;
//                       width: 30%;
//                       display: inline-block;
//                       vertical-align: top;
//                       & img:nth-child(1) {
//                         width: 90%;
//                       }
//                       & img.change-width {
//                         //width: 50%;
//                       }
//                       & .sticker-picture2 {
//                         right: 20px;
//                         left: inherit;
//                         width: 30%;
//                       }
//                     }
//                   }
//                   & .tab-mag-go {
//                     display: block;
//                     float: inherit;
//                     width: 100%;
//                     min-height: 250px;
//                     & h2 {
//                       font-size: 36px !important;
//                     }
//                     & p {
//                       font-size: 28px !important;
//                     }
//                     & div {
//                       display: inline-block;
//                     }
//                     & .tab-mag-go-1 {
//                       width: 280px;
//                       position: relative;
//                     }
//                     & .tab-mag-go-2 {
//                       vertical-align: top;
//                       & a {
//                         margin-top: 40px !important;
//                       }
//                     }
//                     & .sticker-picture {
//                       left: 10px;
//                       top: 20px;
//                     }
//                   }
//                }
//               }
//             }
//           }
//         }
//         & #tab-1 {
//           position: relative;
//           & .tab-acc {
//             & .tab-acc-sub {
//               min-height: 277px !important;
//               height: auto !important;
//             }
//           }
//         }
//         & #tab-2 {
//           position: relative;
//           & .tab-acc {
//             & .tab-acc-sub {
//               min-height: 274px !important;
//               height: auto !important;
//             }
//           }
//         }
//       }
//       & .akcie_title {
//         text-align: center;
//         color: #4b4b4b !important;
//         margin-bottom: 10px;
//       }
//     }
//    }
//  }
//
//  /****************************************/
//  /* ACCORDION 500px */
//  /****************************************/
//  // hide ACCORDION by default
//  .accordion {
//      display: none;
//  }
//  @media screen and (max-width: 500px) {
//    // hide TABS if window size <768px
//    .tabs-container .tab__holder, .tabs-container .tab {
//    display: none;
//    }
//    // show ACCORDION
//      .accordion {
//          width: 100%;
//          border-radius: 5px;
//          overflow: hidden;
//          margin: auto;
//          display: block;
//          font-size: 16px;
//          padding: 0% 2%;
//      & .item .heading {
//        height: 45px;
//        line-height: 45px;
//        cursor: pointer;
//        background: url('../img/ico-plus.png') no-repeat;
//        background-position: right center;
//        border-top: 1px solid #d0d0d0;
//        box-sizing: border-box;
//        font-weight: 500;
//        text-align: left;
//        & .ac-price {
//              color: #a4a4a4;
//              font-weight: normal;
//        }
//      }
//      & .item.open .heading {
//        background: url('../img/ico-minus.png') no-repeat;
//        background-position: right center;
//      }
//      & .item.open .content {
//         display: block;
//         & .tab-label {
//           text-align: center;
//           display: none;
//         }
//         & .tab-help {
//           text-align: center;
//           margin: 20px 0;
//           & .tab-icons {
//             display: none;
//           }
//           & .tab-help-sub {
//             & p {
//               line-height: 16px;
//               margin-left: 0px;
//             }
//           }
//         }
//         & .tab-acc {
//           width: 100%;
//           margin: 10px 0 0 0;
//           & .tab-acc-sub {
//            //min-height: 238px;
//            text-align: left;
//            border-top: solid 1px #aaa;
//            padding-top: 15px;
//            padding-bottom: 15px;
//            width: 100%;
//            margin-bottom: 10px;
//            cursor: pointer;
//            padding: 5%;
//             & .tab-acc-cont {
//               display: inline-block;
//               cursor: default;
//               display: block;
//               width: 100%;
//               text-align: left;
//               & .a-title {
//                 color: black;
//                 display: block;
//                 margin: 10px 0px;
//                 text-align: center;
//               }
//               & div.a-title-2 {
//                 display: none;
//               }
//               & .a-title:hover {
//                 text-decoration: underline !important;
//               }
//               & .tab-ex {
//                 & .tab-ex-label {
//                   width: 70%;
//                   display: inline-block;
//                 }
//                 & .tab-ex-price {
//                   width: 28%;
//                   display: inline-block;
//                   text-align: right;
//                 }
//                 & p:first-of-type {
//                   border-bottom: solid 1px #ccc;
//                 }
//                 & p {
//                   text-align: left;
//                   margin: 0px;
//                 }
//               }
//               & .tab-ex > div:last-child {
//                 color: $magenta;
//                 font-weight: bold;
//                 border-top: 1px solid #ccc;
//               }
//               & .tab-ex > div.tab-web-disc {
//                 color: #6bb324;
//               }
//               & .tab-action {
//                 text-align: center;
//               }
//             }
//             & .tab-img-cont {
//               text-align: center;
//               width: 30%;
//               display: inline-block;
//               vertical-align: top;
//               position: relative;
//               margin: 0 auto;
//               width: 60%;
//               display: block;
//               & img:nth-child(1) {
//                 width: 90%;
//               }
//               & img.change-width {
//                 max-width: 100%;
//               }
//               & img.mobil-width {
//                 width: 30%;
//               }
//               & .sticker-picture2 {
//                 right: 10px;
//                 left: unset;
//                 top: 0px;
//                 width: 30%;
//               }
//             }
//             & .tab-action {
//                display: block !important;
//                & a.btn {
//                  width: auto !important;
//                }
//             }
//           }
//           & .tab-acc-sub:hover {
//             -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
//             -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
//             box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
//           }
//           & .tab-mag-go {
//             text-align: center;
//             display: block;
//             float: inherit;
//             width: 100%;
//             min-height: 250px;
//             padding: 15px;
//             background: #e6e6e6;
//             & p {
//               font-size: 28px !important;
//             }
//             & h2 {
//               font-size: 28px !important;
//               font-weight: 800;
//             }
//             & div {
//               display: inline-block;
//             }
//             & .tab-mag-go-1 {
//               width: 280px;
//               position: relative;
//             }
//             & .tab-mag-go-2 {
//               vertical-align: top;
//               & a {
//                 margin-top: 10px;
//               }
//             }
//             & .sticker-picture {
//               left: 10px;
//               top: 20px;
//             }
//           }
//        }
//
//      }
//      & .content {
//        display: none; //default hide for accordions
//        padding-bottom: 15px;
//      }
//    }
//  }
//
//
//  // @media screen and (max-width: 500px) {
//  //  #content {
//  //    & .row {
//  //      & .sub-offer__holder {
//  //        & .sub-offer-chris {
//  //          & .tabs-container {
//  //            & .tab {
//  //              & .tab-content {
//  //                & .tab-help {
//  //                  & .tab-icons {
//  //                    display: none;
//  //                  }
//  //                }
//  //                & .tab-acc {
//  //                  width: 100% !important;
//  //                  margin: 20px 0 0 0;
//  //                  & .tab-acc-sub {
//  //                   min-height: 238px !important;
//  //                   text-align: center;
//  //                   border-top: solid 1px #aaa;
//  //                   padding-top: 15px;
//  //                    width: 100%;
//  //                    & .tab-acc-cont {
//  //                      width: 100%;
//  //                      display: block;
//  //                      & .tab-ex {
//  //                        & .tab-ex-label {
//  //                          width: 70%;
//  //                        }
//  //                        & .tab-ex-price {
//  //                          width: 28%;
//  //                        }
//  //                      }
//  //                    }
//  //                    & .tab-img-cont {
//  //                      text-align: center;
//  //                      width: 100%;
//  //                      vertical-align: top;
//  //                      height: auto !important;
//  //                      & img:nth-child(1) {
//  //                        width: 50%;
//  //                      }
//  //                      & img.change-width {
//  //                        width: 30%;
//  //                      }
//  //                      & .sticker-picture2 {
//  //                        right: 40px;
//  //                        //left: inherit;
//  //                        width: 20%;
//  //                      }
//  //                    }
//  //                    & .tab-action {
//  //                        display: block;
//  //                    }
//  //                  }
//  //                 & .tab-mag-go {
//  //                   width: 100%;
//  //                   & .tab-mag-go-1 {
//  //                     & img.sticker-picture {
//  //                       left: 20%;
//  //                       top: 29%;
//  //                     }
//  //                   }
//  //                 }
//  //               }
//  //              }
//  //            }
//  //          }
//  //        }
//  //        & #tab-1 {
//  //          position: relative;
//  //          & .tab-acc {
//  //            & .tab-acc-sub {
//  //              min-height: 277px !important;
//  //              height: auto !important;
//  //            }
//  //            & .tab-img-cont {
//  //            }
//  //            & .tab-mag-go {
//  //            }
//  //          }
//  //        }
//  //        & #tab-2 {
//  //          position: relative;
//  //          & .tab-acc {
//  //            & .tab-acc-sub {
//  //              min-height: 274px !important;
//  //              height: auto !important;
//  //            }
//  //            & .tab-img-cont {
//  //              & img.change-width {
//  //                width: 20%; //fix telefon tab2
//  //              }
//  //            }
//  //            & .tab-mag-go {
//  //            }
//  //          }
//  //        }
//  //      }
//  //      & .akcie_title {
//  //        text-align: center;
//  //        color: #4b4b4b !important;
//  //        margin-bottom: 10px;
//  //      }
//  //    }
//  //   }
//  // }
//
//  /* SEC-4 LEGAL TEXT */
//  #content .legal-text {
//   font-size: 12px;
//   margin: 0;
//   padding: 0 5px;
//     & a {
//       cursor: pointer;
//       font-size: 12px;
//     }
//  }
//
//  #legal_more {
//   display: none;
//  }
//
//  #cont_legal {
//   background-color: #eee;
//   padding: 5px;
//  }
//  /* SEC-4 LEGAL TEXT END */
//
//  /* SEC-4 OSTATNE AKCIE */
//  /* BOX - 2 */
//  .box-2 {
//   width: 70%;
//   float: left;
//   margin: 1% 1% 1% 0%;
//   height: 230px;
//   min-height: 230px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   & .offer__wrapper {
//     height: 100%;
//     display: flex;
//     align-items: center;
//     width: 100%;
//     & .left-holder {
//      width: 60%;
//      padding: 20px;
//     }
//     & .right-holder {
//      width: 40%;
//      height: 80%;
//      background: url(../img/prod-eset.jpg) no-repeat 50% 50%;
//      background-size:contain;
//     }
//   }
//  }
//
//  @media screen and (max-width: 768px) {
//   .box-2 {
//     margin: 1% 1% 1% 0%;
//     width: 60%;
//     height: auto;
//     min-height: auto;
//     & .right-holder {
//       min-height: 200px;
//     }
//   }
//  }
//  @media screen and (max-width: 600px) {
//    .box-2 {
//      width: 100%;
//      margin: 0%;
//      & .offer__wrapper {
//      display: flex;
//      flex-direction: column-reverse;
//      & .right-holder {
//        width: 100%;
//        min-height: 150px;
//      }
//      & .left-holder {
//        width: 100%;
//        text-align: center;
//      }
//      }
//    }
//  }
//
//  /* BOX - 8 */
//  .box-8 {
//    width: 28%;
//    float: left;
//    margin: 1% 0% 1% 1%;
//    //height: 230px;
//    min-height: 230px;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//      & .offer__wrapper {
//        height: 100%;
//        width: 100%;
//        & .bottom-holder {
//          min-height: 163px;
//          padding: 0px 10px 10px 10px;
//          overflow: hidden;
//          & h4 {
//            color: #262626;
//            font-size: 22px;
//          }
//        }
//        & .top-holder {
//          height: 65px;
//          background: url(../img/box-viac-za-menej_2.jpg) no-repeat 50% 50%;
//          background-size:contain;
//        }
//      }
//  }
//  @media screen and (max-width: 768px) {
//  .box-8 {
//    margin: 1% 0% 1% 1%;
//    width: 38%;
//    height: auto;
//    min-height: auto;
//    & .offer__wrapper {
//      & .bottom-holder {
//          padding: 20px;
//      }
//      & .top-holder {
//        //height: 50px;
//      }
//    }
//   }
//  }
//  @media screen and (max-width: 600px) {
//   .box-8 {
//     margin: 3% 0 0 0;
//     width: 100%;
//     & .offer__wrapper {
//       & .bottom-holder {
//         width: 100%;
//         min-height: auto;
//         padding: 20px;
//       }
//       & .top-holder {
//         width: 100%;
//         min-height: 150px;
//       }
//     }
//   }
//  }
//
//  /* BOX - 9 */
//  .box-9 {
//   width: 23%;
//   float: left;
//   margin: 1% 0% 1% 1%;
//   min-height: 330px;
//   & .offer__wrapper {
//     height: 100%;
//     width: 100%;
//     & .bottom-holder {
//      height: 100%;
//      padding: 0px 10px;
//     }
//     & .top-holder {
//      //height: 30%;
//     }
//   }
//  }
//
//  @media screen and (max-width: 768px) {
//   .box-9 {
//     margin: 1% 0% 1% 1%;
//     width: 58%;
//     height: auto;
//     min-height: auto;
//     & .bottom-holder {
//         padding: 20px;
//     }
//   }
//  }
//
//  @media screen and (max-width: 500px) {
//    .box-9 {
//      margin: 3% 0 0 0;
//      width: 100%;
//      & .right-holder {
//        width: 100%;
//      }
//      & .left-holder {
//        width: 100%;
//      }
//    }
//  }
//  /* SEC-4 OSTATNE AKCIE END */
//
// /* ===============
//  SEC-4 - VIANOCNE AKCIE END
//  =============== */

/* SEC-AKCIE OSTATNE AKCIE */

/* BOX - 1 */

.zrychlujeme {
  width: 100%;
  float: left;
  margin: 1% 1% 1% 0%;
  height: 298px;
  //min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .offer__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    & .left-holder {
      width: 60%;
      padding: 20px;
    }
    & .right-holder {
      position: relative;
      width: 40%;
      height: 100%;
      background: url(../img/zrychlujeme-map.jpg) no-repeat 100% 100%;
      background-size: cover;
      img {
        top: 10px;
        left: -30px;
        position: absolute;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .zrychlujeme {
    width: 100%;
    margin-bottom: 3%;
    height: auto;
    & .offer__wrapper {
      display: flex;
      flex-direction: column-reverse;
      & .right-holder {
        width: 100%;
        min-height: 150px;
        background-size: 100%;
        background-position: 50% 50%;
        img {
          top: 10px;
          left: 20px;
          position: absolute;
        }
      }
      & .left-holder {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.box-1 {
  width: 100%;
  float: left;
  margin: 1% 1% 1% 0%;
  height: 198px;
  //min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .offer__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    & .left-holder {
      width: 60%;
      padding: 20px;
    }
    & .right-holder {
      width: 40%;
      height: 100%;
      background: url(../img/giga_768x402-tablet.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
  }
}

@media screen and (max-width: 600px) {
  .box-1 {
    width: 100%;
    margin-bottom: 3%;
    height: auto;
    & .offer__wrapper {
      display: flex;
      flex-direction: column-reverse;
      & .right-holder {
        width: 100%;
        min-height: 150px;
      }
      & .left-holder {
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* BOX - 2 */
.box-2 {
  width: 70%;
  float: left;
  margin: 1% 1% 1% 0%;
  height: 230px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .offer__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    & .left-holder {
      width: 60%;
      padding: 20px;
    }
    & .right-holder {
      width: 40%;
      height: 80%;
      background: url(../img/prod-eset.jpg) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}

@media screen and (max-width: 768px) {
  .box-2 {
    margin: 1% 1% 1% 0%;
    width: 60%;
    height: auto;
    min-height: auto;
    & .right-holder {
      min-height: 200px;
    }
  }
}
@media screen and (max-width: 600px) {
  .box-2 {
    width: 100%;
    margin: 0%;
    & .offer__wrapper {
      display: flex;
      flex-direction: column-reverse;
      & .right-holder {
        width: 100%;
        min-height: 150px;
      }
      & .left-holder {
        width: 100%;
        text-align: center;
      }
    }
  }
}

/* BOX - 8 */
.box-8 {
  width: 28%;
  float: left;
  margin: 1% 0% 1% 1%;
  //height: 230px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & .offer__wrapper {
    height: 100%;
    width: 100%;
    & .bottom-holder {
      min-height: 163px;
      padding: 0px 10px 10px 10px;
      overflow: hidden;
      & h4 {
        color: #262626;
        font-size: 22px;
      }
    }
    & .top-holder {
      height: 65px;
      background: url(../img/box-viac-za-menej_2.jpg) no-repeat 50% 50%;
      background-size: contain;
    }
  }
}
@media screen and (max-width: 768px) {
  .box-8 {
    margin: 1% 0% 1% 1%;
    width: 38%;
    height: auto;
    min-height: auto;
    & .offer__wrapper {
      & .bottom-holder {
        padding: 20px;
      }
      & .top-holder {
        //height: 50px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .box-8 {
    margin: 3% 0 0 0;
    width: 100%;
    & .offer__wrapper {
      & .bottom-holder {
        width: 100%;
        min-height: auto;
        padding: 20px;
      }
      & .top-holder {
        width: 100%;
        min-height: 150px;
      }
    }
  }
}

/* BOX - 9 */
.box-9 {
  width: 23%;
  float: left;
  margin: 1% 0% 1% 1%;
  min-height: 330px;
  & .offer__wrapper {
    height: 100%;
    width: 100%;
    & .bottom-holder {
      height: 100%;
      padding: 0px 10px;
    }
    & .top-holder {
      //height: 30%;
    }
  }
}

@media screen and (max-width: 768px) {
  .box-9 {
    margin: 1% 0% 1% 1%;
    width: 58%;
    height: auto;
    min-height: auto;
    & .bottom-holder {
      padding: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .box-9 {
    margin: 3% 0 0 0;
    width: 100%;
    & .right-holder {
      width: 100%;
    }
    & .left-holder {
      width: 100%;
    }
  }
}
/* SEC-AKCIE OSTATNE AKCIE END */

/* ===============
 SEC-5
 =============== */
#sec-5 {
  background: #ededed;
  padding: 50px 0px;
  & .row {
    & .services-wrapper {
      & img.tac {
        display: block;
        margin: 0 auto;
      }
      & h3.tac {
        font-size: 16px;
        font-weight: 400;
        color: #262626;
      }
    }
  }
}

/* ===============
  LIGHTBOX
  =============== */
#info-magio-box {
  display: none;
  width: 560px;
  padding: 0px 10px 0 20px;
  font-size: 16px;
  & > div {
    display: inline-block;
  }
  & h2 {
    text-align: center;
  }
  & .lightbox-content {
    width: 283px;
  }
  & .lightbox-img-cont {
    vertical-align: top;
    margin-left: 15px;
    width: 210px;
    position: relative;
    & img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  & .lightbox-content-2 {
    color: #999;
  }
  & .lightbox-content-3 {
    color: $magenta;
    background-color: #fff6d5;
    padding: 10px;
    & div {
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
    }
    & .lightbox-3-cont {
      max-width: 220px;
      margin-left: 10px;
    }
  }
  & div[class^="lightbox-content-"] {
    margin-top: 10px;
  }

  & .tab-ex {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    & p:first-child {
      border-bottom: solid 1px #ccc;
    }
    & p {
      margin: 1px 0;
    }
    & > div:last-child {
      border-top: solid 1px #ccc;
      color: $magenta;
      font-weight: bold;
      //margin-top: 5px;
      //padding-top: 5px;
    }
  }

  & .tab-ex .tab-ex-label {
    display: inline-block;
    width: 90px;
  }
  & .tab-ex .tab-ex-price {
    display: inline-block;
    width: 110px;
    text-align: right;
  }
  & .lightbox-content-mob {
    display: none;
    position: relative;
  }
  & .close-end {
    text-align: right;
    cursor: pointer;
    margin-top: 0;
    font-weight: bold;
    & a {
      font-size: 26px;
      color: #999;
    }
  }
  & .sticker-picture {
    width: 80px !important;
    top: 20px;
    left: 105px;
  }
  .lightbox-action {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 610px) {
  #info-magio-box {
    width: 320px;
    padding: 0;
    height: 520px;
    position: relative;
    & .lightbox-content {
      width: 100%;
    }
    & div {
      display: block;
    }
    & .lightbox-content-1 {
      & div {
        display: inline-block;
        vertical-align: top;
      }
      & div:nth-child(2) {
        margin-left: 10px;
        width: 200px;
      }
    }
    & .lightbox-img-cont {
      margin: 10px 0;
      width: 100%;
      & img {
        display: none;
      }
    }
    & .lightbox-content-3 {
      position: absolute;
      width: 100%;
      bottom: 55px;
      left: 0;
      & .lightbox-3-cont {
        max-width: 250px;
      }
    }
    & .tab-ex .tab-ex-price {
      width: 220px;
    }
    & .close-end {
      margin-bottom: 0;
      width: 100%;
    }
    & .sticker-picture {
      width: 40px !important;
      top: 5px;
      left: 45px;
    }
    & .lightbox-action {
      position: absolute;
      bottom: 0;
      left: 90px;
    }
  }
}
/* ===============
  LIGHTBOX - END
  =============== */
