
/* ===============
  SEC-AKCIE
  =============== */
 #sec-akcie {
   padding: 50px 0px;
 }

 #content h2.velkyNadpis {
    text-align: center;
    margin: 0 0 0px 0;
    color: #e20074;
    font-size: 32px;
    border-bottom: 0;
    padding: 0;
}

 #content {
  & .row {
    & .offer-box {
        background: #fff;
        border: 1px solid #d0d0d0;
        // padding: 20px 30px;
      & .offer__wrapper {
        & .left-holder {
             float: left;
             & .offer__title {
               color: #262626;
               font-size: 22px;
             }
           }
        & .right-holder {
             float: right;
           }
      }
    }
   & .sub-offer__holder {
       margin-top: 20px;
     & .sub-offer-chris {
       & .tabs-container {
         & .tab__holder {
           & .tabs-menu {
               height: auto;
             & li {
               background-color: white;
             }
             & li.current {
               & a {
                 color: #6bb324;
               }
             }
             & li a:hover {
               color: #383838;
             }
           }
         }
           & .tab {
             text-align: left;
               border-top: 1px solid #dbdbdb;
               width: 100%;
               margin-bottom: 5px;
               & .tab-content {
                   margin-top: 20px;
                 & .tab-label {
                   text-align: center;
                   font-size: 26px;
                   font-weight: normal;
                 }
                 & .tab-help {
                   width: 23%;
                   text-align: center;
                   display: inline-block;
                   margin-right: 30px;
                     & .tab-help-sub {
                       & p {
                         line-height: 18px;
                       }
                       & .tab-help-title {
                         & h2 {
                           font-size:16px;
                           color: #4b4b4b;
                           font-weight: 500;
                           //padding-left: 20px;
                         }
                       }
                     }
                     & p {
                       font-weight: normal;
                     }
                     & .tab-icons {
                       padding-top: 20px;
                       & p {
                         color: #a4a4a4;
                         margin-top: 0;
                       }
                     }
                     & .tab-icons:nth-child(3) {
                       padding-top: 5px;
                     }
                 }
                 & .tab-acc {
                   display: inline-block;
                   vertical-align: top;
                   text-align: left;
                   & .tab-acc-sub {
                     padding: 0px 6px;
                     width: 230px;
                     text-align: center;
                     display: inline-block;
                     vertical-align: top;
                     border: 0;
                     margin-bottom: 10px;
                       & .a-title-2 {
                         float: right;
                         display: none;
                       }
                     & .tab-img-cont {
                       margin-bottom: 25px;
                       & img.change-width:nth-of-type(2) {
                         margin-top: 20px;
                       }

                     }
                     & .tab-acc-cont {
                       & .tab-ex {
                         text-align: left;
                         font-weight: normal;
                         font-size: 16px;
                         cursor: default;
                         & p:first-child {
                           border-bottom: solid 1px #ccc;
                         }
                         & p {
                           margin: 1px 0;;
                         }
                         & > div:last-child {
                           border-top: solid 1px #ccc;
                           color: #e20074;
                           font-weight: bold;
                           margin-top: 5px;
                           padding-top: 5px;
                         }
                         & .tab-ex-label {
                           display: inline-block;
                           width: 73%;
                         }
                         & .tab-ex-price {
                           display: inline-block;
                           width: 25%;
                           text-align: right;
                         }
                       }
                       & a.a-title {
                         //min-height: 63px;
                         display: inline-block;
                         width: 100%;
                         font-size:18px;
                         color: #4b4b4b;
                         margin: 10px 0;
                         &:hover {
                           text-decoration: underline;
                         }
                       }
                       & .tab-web-disc {
                         color: #6bb324;
                       }
                     }
                   }
                   & .tab-acc-sub:hover {
                     cursor: pointer;
                     z-index: 100;
                     -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
                     -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
                     box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
                     & .tab-action {
                         display: block;
                     }
                   }
                   & .tab-mag-go {
                     display: inline-block;
                     position: relative;
                     width: 210px;
                     min-height: 315px;
                     vertical-align: top;
                     background-color: #e6e6e6;
                     text-align: center;
                     padding: 30px 0;
                     float: right;
                     position: relative;
                     top: 0;
                     & h2 {
                       color: #e20074;
                       font-size: 28px;
                       padding-bottom: 0;
                       font-weight: 900;
                     }
                     & p {
                       margin: 0 0 10px 0;
                     }
                     & .tab-mag-go-1 {
                     }
                     & .tab-mag-go-2 {
                       & a.btn {
                         margin: 0px;
                       }
                     }
                   }
                 }
               }
             }
             & .tab-action {
             display: none;
             padding: 10px 0;
             & a {
               width: 100%;
             }
            }
           }
             & #tab-1 {
               & .tab-acc {
                 width: 485px;
               & .tab-acc-sub {
                 min-height: 450px;
               }
               & .sub2 {
                min-height: 470px;
              }
               & .tab-img-cont {
                 height: 160px;
                 position: relative;
               & .sticker-picture2 {
                  position: absolute;
                  top: 0px;
                  left: 160px;
                }
               }
              }
             }
             & #tab-2 {
               & .tab-acc {
                 width: 485px;
               & .tab-acc-sub {
                 min-height: 410px;
                 height: auto;
               }
               & .tab-img-cont {
                 height: 160px;
                 position: relative;
                 & .sticker-picture2 {
                    position: absolute;
                    top: 0px;
                    left: 160px;
                  }
               }
              }
             }
             & #tab-3 {
                 position: relative;
                 & .tab-acc {
                   width: 485px;
                 & .tab-acc-sub {
                   min-height: 445px;
                 }
                 & .tab-img-cont {
                   height: 200px;
                   position: relative;
                   margin-top: 20px;
                   margin-bottom: 0px;
                   & .sticker-picture2 {
                      position: absolute;
                      top: 0px;
                      left: 160px;
                    }
                   & .change-width {
                     max-width: 100%;
                   }
                 }
                 & .tab-mag-go {
                   position: absolute;
                   top: 60px;
                   right: 0;
                 }
               }
             }
           }
           & .dph p {
             color: #999;
             margin-top: 0px;
             text-align: right;
           }
         }
         & .akcie_title {
           text-align: center;
           //color: #4b4b4b;
           color: #e20074;
           margin-bottom: 0px;
         }
   }
 }

 @media screen and (max-width: 960px) {
   .tab {
      text-align: center !important;
   }
   .tab-mag-go {
     position: relative !important;
     top: 0px !important;
   }
 }

 @media screen and (max-width: 768px) {
  #content {
    & .row {
      & .sub-offer__holder {
        & .sub-offer-chris {
          & .tabs-container {
            & .tab__holder {
              & .tabs-menu {
                width: 100%;
                & li {
                  float: none;
                  width: auto;
                  display: inline-block;
                   border: 0px solid #dbdbdb;
                }
                & li.current {
                  border-bottom: 4px solid #6bb324;
                }
              }
            }
            & .tab {
              & .tab-content {
                & .tab-help {
                  width: 100%;
                  margin: 20px 0px;
                  & .tab-icons {
                    display: none;
                  }
                }
                & .tab-acc {
                  width: 100% !important;
                  margin: 10px 0 0 0;
                  & .tab-acc-sub {
                   min-height: 227px !important;
                   text-align: left;
                   border-top: solid 1px #aaa;
                   padding-top: 15px;
                    width: 100%;
                    & .tab-acc-cont {
                      width: 68%;
                      display: inline-block;
                      & .a-title {
                        margin: 10px 0px;
                        min-height: auto !important;
                      }
                      & .tab-ex {
                        & .tab-ex-label {
                          width: 70%;
                        }
                        & .tab-ex-price {
                          width: 28%;
                        }
                      }
                      & .tab-action {
                        display: block;
                        & .btn {
                          width: auto;
                        }
                      }
                    }
                    & .tab-img-cont {
                      text-align: center;
                      width: 30%;
                      display: inline-block;
                      vertical-align: top;
                      & img:nth-child(1) {
                        width: 90%;
                      }
                      & img.change-width {
                        //width: 50%;
                      }
                      & .sticker-picture2 {
                        right: 20px;
                        left: auto !important;
                        width: 30%;
                      }
                    }
                  }
                  & .tab-mag-go {
                    display: block;
                    float: inherit;
                    width: 100%;
                    min-height: 250px;
                    & h2 {
                      font-size: 36px !important;
                    }
                    & p {
                      font-size: 28px !important;
                    }
                    & div {
                      display: inline-block;
                    }
                    & .tab-mag-go-1 {
                      width: 280px;
                      position: relative;
                    }
                    & .tab-mag-go-2 {
                      vertical-align: top;
                      & a {
                        margin-top: 40px !important;
                      }
                    }
                    & .sticker-picture {
                      left: 10px;
                      top: 20px;
                    }
                  }
               }
              }
            }
          }

        & #tab-1 {
          position: relative;
          & .tab-acc {
            & .tab-acc-sub {
              min-height: 277px !important;
              height: auto !important;
            }
            & .tab-img-cont {
              & .sticker-picture2 {
                 top: 0px;
                 left: unset;
                 position: absolute;
               }
            }
          }
        }
        & #tab-2 {
          position: relative;
          & .tab-acc {
            & .tab-acc-sub {
              min-height: 274px !important;
              height: auto !important;
            }
            & .tab-img-cont {
              & .sticker-picture2 {
                 top: 0px;
                 left: unset;
                 position: absolute;
               }
            }
          }
        }
        & #tab-3 {
          position: relative;
          & .tab-acc {
            & .tab-acc-sub {
            }
            & .tab-img-cont {
              & .sticker-picture2 {
                 top: 0px;
                 left: unset;
                 position: absolute;
               }
            }
          }
        }
       }
      }
      & .akcie_title {
        text-align: center;
        color: #4b4b4b !important;
        margin-bottom: 10px;
      }
    }
   }
 }

 /****************************************/
 /* ACCORDION 500px */
 /****************************************/
 // hide ACCORDION by default
 .accordion {
     display: none;
 }
 @media screen and (max-width: 550px) {
   // hide TABS if window size <550px
   .tabs-container .tab__holder, .tabs-container .tab {
   display: none;
   }
   // show ACCORDION
     .accordion {
         width: 100%;
         border-radius: 5px;
         overflow: hidden;
         margin: auto;
         display: block;
         font-size: 16px;
         padding: 0% 2%;
     & .item .heading {
       height: 45px;
       line-height: 45px;
       cursor: pointer;
       background: url('../img/ico-plus.png') no-repeat;
       background-position: right center;
       border-top: 1px solid #d0d0d0;
       box-sizing: border-box;
       font-weight: 500;
       text-align: left;
       & .ac-price {
             color: #a4a4a4;
             font-weight: normal;
       }
     }
     & .item.open .heading {
       background: url('../img/ico-minus.png') no-repeat;
       background-position: right center;
     }
     & .item.open .content {
        display: block;
        & .tab-label {
          text-align: center;
          display: none;
        }
        & .tab-help {
          text-align: center;
          margin: 20px 0;
          & .tab-icons {
            display: none;
          }
          & .tab-help-sub {
            & p {
              line-height: 16px;
              margin-left: 0px;
            }
            & .tab-help-title {
              & h2 {
              border-bottom: 0;
              font-size: 20px;
              line-height: 1;
              color: #e20074;
              margin: 20px 0 10px;
              }
            }
          }
        }
        & .tab-acc {
          width: 100%;
          margin: 10px 0 0 0;
          & .tab-acc-sub {
           //min-height: 238px;
           text-align: left;
           border-top: solid 1px #aaa;
           padding-top: 15px;
           padding-bottom: 15px;
           width: 100%;
           margin-bottom: 10px;
           cursor: pointer;
           padding: 5%;
            & .tab-acc-cont {
              display: inline-block;
              cursor: default;
              display: block;
              width: 100%;
              text-align: left;
              & .a-title {
                color: black;
                display: block;
                margin: 10px 0px;
                text-align: center;
              }
              & div.a-title-2 {
                display: none;
              }
              & .a-title:hover {
                text-decoration: underline !important;
              }
              & .tab-ex {
                & .tab-ex-label {
                  width: 70%;
                  display: inline-block;
                }
                & .tab-ex-price {
                  width: 28%;
                  display: inline-block;
                  text-align: right;
                }
                & p:first-of-type {
                  border-bottom: solid 1px #ccc;
                }
                & p {
                  text-align: left;
                  margin: 0px;
                }
              }
              & .tab-ex > div:last-child {
                color: #e20074;
                font-weight: bold;
                border-top: 1px solid #ccc;
              }
              & .tab-ex > div.tab-web-disc {
                color: #6bb324;
              }
              & .tab-action {
                text-align: center;
              }
            }
            & .tab-img-cont {
              text-align: center;
              width: 30%;
              display: inline-block;
              vertical-align: top;
              position: relative;
              margin: 0 auto;
              width: 60%;
              display: block;
              & img:nth-child(1) {
                width: 90%;
              }
              & img.change-width {
                max-width: 100%;
              }
              & img.mobil-width {
                width: 30%;
              }
              & .sticker-picture2 {
                right: 10px;
                left: unset;
                top: 0px;
                width: 30%;
                position: absolute;
              }
            }
            & .tab-action {
               display: block !important;
               & a.btn {
                 width: auto !important;
               }
            }
          }
          & .tab-acc-sub:hover {
            -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
          }
          & .tab-mag-go {
            text-align: center;
            display: block;
            float: inherit;
            width: 100%;
            min-height: 250px;
            padding: 15px;
            background: #e6e6e6;
            & p {
              font-size: 28px !important;
            }
            & h2 {
              font-size: 28px !important;
              font-weight: 800;
            }
            & div {
              display: inline-block;
            }
            & .tab-mag-go-1 {
              width: 280px;
              position: relative;
            }
            & .tab-mag-go-2 {
              vertical-align: top;
              & a {
                margin-top: 10px;
              }
            }
            & .sticker-picture {
              left: 10px;
              top: 20px;
            }
          }
       }

     }
     & .content {
       display: none; //default hide for accordions
       padding-bottom: 15px;
     }
   }
 }


 // @media screen and (max-width: 500px) {
 //  #content {
 //    & .row {
 //      & .sub-offer__holder {
 //        & .sub-offer-chris {
 //          & .tabs-container {
 //            & .tab {
 //              & .tab-content {
 //                & .tab-help {
 //                  & .tab-icons {
 //                    display: none;
 //                  }
 //                }
 //                & .tab-acc {
 //                  width: 100% !important;
 //                  margin: 20px 0 0 0;
 //                  & .tab-acc-sub {
 //                   min-height: 238px !important;
 //                   text-align: center;
 //                   border-top: solid 1px #aaa;
 //                   padding-top: 15px;
 //                    width: 100%;
 //                    & .tab-acc-cont {
 //                      width: 100%;
 //                      display: block;
 //                      & .tab-ex {
 //                        & .tab-ex-label {
 //                          width: 70%;
 //                        }
 //                        & .tab-ex-price {
 //                          width: 28%;
 //                        }
 //                      }
 //                    }
 //                    & .tab-img-cont {
 //                      text-align: center;
 //                      width: 100%;
 //                      vertical-align: top;
 //                      height: auto !important;
 //                      & img:nth-child(1) {
 //                        width: 50%;
 //                      }
 //                      & img.change-width {
 //                        width: 30%;
 //                      }
 //                      & .sticker-picture2 {
 //                        right: 40px;
 //                        //left: inherit;
 //                        width: 20%;
 //                      }
 //                    }
 //                    & .tab-action {
 //                        display: block;
 //                    }
 //                  }
 //                 & .tab-mag-go {
 //                   width: 100%;
 //                   & .tab-mag-go-1 {
 //                     & img.sticker-picture {
 //                       left: 20%;
 //                       top: 29%;
 //                     }
 //                   }
 //                 }
 //               }
 //              }
 //            }
 //          }
 //        }
 //        & #tab-1 {
 //          position: relative;
 //          & .tab-acc {
 //            & .tab-acc-sub {
 //              min-height: 277px !important;
 //              height: auto !important;
 //            }
 //            & .tab-img-cont {
 //            }
 //            & .tab-mag-go {
 //            }
 //          }
 //        }
 //        & #tab-2 {
 //          position: relative;
 //          & .tab-acc {
 //            & .tab-acc-sub {
 //              min-height: 274px !important;
 //              height: auto !important;
 //            }
 //            & .tab-img-cont {
 //              & img.change-width {
 //                width: 20%; //fix telefon tab2
 //              }
 //            }
 //            & .tab-mag-go {
 //            }
 //          }
 //        }
 //      }
 //      & .akcie_title {
 //        text-align: center;
 //        color: #4b4b4b !important;
 //        margin-bottom: 10px;
 //      }
 //    }
 //   }
 // }

 /* SEC-AKCIE LEGAL TEXT */
 #content .legal-text {
  font-size: 12px;
  margin: 0;
  padding: 0 5px;
    & a {
      cursor: pointer;
      font-size: 12px;
    }
 }

 #legal_more {
  display: none;
 }

 #cont_legal {
  background-color: #eee;
  padding: 5px;
 }
 /* SEC-AKCIE LEGAL TEXT END */


/* ===============
 SEC-AKCIE - END
 =============== */
