<div id="content" class="container-fluid">
  <section id="sec-1-thankyou" class="section">
    <div class="container-fixed">

      <div class="thankyouInfo text-center">
        <div class="eyecatchers">
          <img src="{{ imgsLR }}/bezZav14.png" alt="">
          <img src="{{ imgsLR }}/dorucenieZadarmo.png" alt="">
        </div>
        <h2>Ďakujeme.<br>
        Vaša objednávka bola prijatá.</h2>
        <p>Potvrdenie sme vám poslali e-mailom.</p>
        <a href="https://www.telekom.sk" class="btn btn_mag-outline">SPÄŤ NA TELEKOM.SK</a>
      </div>
    </div>
  </section>
</div>