#content {
    #sec-1-thankyou {
        margin: 0;
        height: 100vh;
        background-image: url('https://www.telekom.sk/documents/10179/16827704/thankyou.png');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        .thankyouInfo {
            padding: 30px;
            position: relative;
            .eyecatchers {
                position: absolute;
                right: 0;
                @media screen and (max-width: 767px) {
                    position: relative
                }
            }
        }
    }
}