<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;
		</div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>MOBILNÉ PAUŠÁLY HAPPY</b><br/>
				A SKVELÉ VIANOČNÉ AKCIE
			</h1>
			<a class="scroll-to btn cta" href="#sec-7">VIANOČNÉ AKCIE</a>
		<a class="link-nordr scroll-to" href="#sec-4">Viac o súťaži</a>
	</div>
	</div>
</section>

<!-- NAV STICKY TEMPLATE + js -->
<div id="nav-sticky">
  <ul>
    <li>
      <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
    <li>
      <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
    <li>
      <a class="scroll-to" href="#sec-3">Mobily k Easy</a></li>
    <li>
      <a class="scroll-to" href="#sec-4">AKCIE</a></li>
    <li>
      <a class="scroll-to" href="#sec-5">DOPLNKOVÉ BALÍKY</a></li>
    <li>
      <a class="scroll-to" href="#sec-6">ROAMING</a></li>
    <li>
      <a class="scroll-to spotlight" href="#sec-7">DOBIŤ KREDIT</a></li>
    <li>
      <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
  </ul>
</div>
<!-- NAV STICKY TEMPLATE + js END -->



<!-- FANCYBOX + js -->
<section class="section sec-1" id="sec-1">
  <div class="container-fixed">
		<div class="row">
    <h2 class="section__title text-center">
      <!-- <img alt="Výhody EASY KARTY" src="../assets/img/title-1.png" /> -->FANCYBOX</h2>
      <div class="col-md-12 text-center">
          <!-- FANCYBOX TEMPLATE class FANCY + js script -->
        <a class="link link_blue fancy" href="#info-vyhody-volania">Klikni pre zobrazenie FANCYBOX</a>
			</div>
		</div>
  </div>
</section>
<!-- FANCYBOX + js END -->




<!-- TABS + js -->
<section class="section default" id="" data-segment="2" style="background-color: white;">
	<div class="container-fixed">
		<div class="row">
			<!--  Title -->
			<div class="col-md-12 text-center">
				<h2 class="sec__title">TABS COMPONENT</h2>
			</div>
			<div class="col-md-12">
				<div class="tabs-container">
					<div class="tab__holder">
          <!-- TABS MENU -->
						<ul class="tabs-menu">
							<li class="variant current" data-variant="1">
								<a href="#tab-1">Program Bez záväzkov</a></li>
							<li class="variant" data-variant="2">
									<a href="#tab-2">Bez záväzkov + 100 minút</a>
							</li>
						</ul>
					</div>

					<div class="tab">
							<!-- Tab 1 -->
							<div class="tab-content clearfix" id="tab-1">
								<div class="tab-box">
									<div class="tab-box__content">
										<div class="col-xs-12 col-md-12 text-center">
											<p>
												<b>Tab 1</b><br/>
												Tab 1 text
											</p>
											<a class="btn cta" href="/volania/happy/bez-zavazkov">kúpiť bez záväzkov</a><br/>
											<a class="info-link" href="/volania/happy/bez-zavazkov">Pozrieť viac info</a>
									</div>
								</div>
							</div>
						</div>
	          <!-- Tab 2 -->
	          <div class="tab-content clearfix" id="tab-2">
	            <div class="tab-box">
	              <div class="tab-box__content">
	                <div class="col-xs-12 col-md-12 text-center">
	                  <p>
	                    <b>Tab 2</b><br/>
	                    Tab 2 text ...
	                  </p>
	                  <a class="btn cta" href="/volania/happy/bez-zavazkov">kúpiť bez záväzkov</a><br/>
	                  <a class="info-link" href="/volania/happy/bez-zavazkov">Pozrieť viac info</a>
	              </div>
	            </div>
	          </div>
	        </div>
				</div>
				<div class="accordion" data-accordion="2">
				<!-- Accordion Data -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- TABS + js END -->





<!-- TABS segment + js -->
<section class="section segment" id="" data-segment="1" style="background-color: white;">
	<div class="container-fixed">
		<div class="row">
			<!--  Title -->
			<div class="col-md-12 text-center">
				<h2 class="sec__title">TABS COMPONENT SEGMENT</h2>
			</div>
			<div class="col-md-12">
				<div class="tabs-container">
					<div class="tab__holder">
          <!-- TABS MENU -->
						<ul class="tabs-menu">
							<li class="variant current" data-variant="3">
								<a href="#tab-3">Program tab 3</a></li>
							<li class="variant" data-variant="4">
									<a href="#tab-4">Bez záväzkov tab 4</a>
							</li>
						</ul>
					</div>

					<div class="tab">
							<!-- Tab 3 -->
							<div class="tab-content clearfix" id="tab-3" style="display: block;">
								<div class="tab-box">
									<div class="tab-box__content">
										<div class="col-xs-12 col-md-12 text-center">
											<p>
												<b>Tab 3</b><br/>
												Tab 3 text
											</p>
											<a class="btn cta" href="/volania/happy/bez-zavazkov">kúpiť bez záväzkov</a><br/>
											<a class="info-link" href="/volania/happy/bez-zavazkov">Pozrieť viac info</a>
									</div>
								</div>
							</div>
						</div>
	          <!-- Tab 4 -->
	          <div class="tab-content clearfix" id="tab-4">
	            <div class="tab-box">
	              <div class="tab-box__content">
	                <div class="col-xs-12 col-md-12 text-center">
	                  <p>
	                    <b>Tab 4</b><br/>
	                    Tab 4 text ...
	                  </p>
	                  <a class="btn cta" href="/volania/happy/bez-zavazkov">kúpiť bez záväzkov</a><br/>
	                  <a class="info-link" href="/volania/happy/bez-zavazkov">Pozrieť viac info</a>
	              </div>
	            </div>
	          </div>
	        </div>
				</div>
				<div class="accordion"  data-accordion="1">
				<!-- Accordion Data -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- TABS segment + js END -->



<!-- TOOLTIP + js a POPUP -->
<section class="section sec-3" id="sec-3">
  <div class="container-fixed">
		   <div class="row">
			    <h2 class="section__title text-center">TOOLTIP & POPUP</h2>
		      <div class="col-md-12 text-center">
		        <p class="desc">PREJDI MYSOU NAD LINK ALEBO IKONU</p>
							<!-- Tolltip sa pridava pomocou id a .js -->
		          <a href="" id="info-balik-volania">Ako aktivovať balík?<img alt="" src="../assets/img/icko.png" style=" width: 15px; height: auto; margin-left: 2px; margin-bottom: 4px;"></a>
							<!-- POPUP -->
							<a class="link popup" href="#data500">ZOBRAZ POPUP</a>
					</div>
    	</div>
    </div>
</section>
<!-- TOOLTIP + js a POPUP END -->




<!-- SLICK slider -->
<section class="section sec-10" id="sec-10">
	<div class="container-fixed">
				<div id="program_slider" class="slider">
		<!-- 1 S -->
			<div class="box-slider" id="happy-s">
				<div class="slider-item">
				<!-- program type -->
					<div class="program_title text_centered">
					Happy S
					</div>
				<!--  volania -->
					<div class="program_volania box-white">
						<h3> VOLANIA</h3>
						<div class="desc">
						<h4> neobmedzené</h4> volania do siete Telekom a pevných sietí v SR</div>
						<div class="desc">
						<h4> neobmedzené</h4> prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
						<div class="desc">
						<h4> 100 minút</h4> volania do ostatných sietí v SR a do EÚ
						<br /> odchádzajúce volania <span class="roaming-info">zo susedných štátov</span>
						<br /> do celej EÚ</div>
						<div class="desc">
						<h4> 100 minút</h4> prichádzajúce roamingové volania vo zvyšku EÚ</div>
					</div>
				<!-- sms -->
					<div class="sms box-white">
						<h3> SMS a MMS</h3>
						<div class="desc">
						<h4> 0,10 €</h4> do všetkých sietí v SR a
						<br /> <span class="roaming-info">zo susedných štátov</span> do SR</div>
					</div>
				<!--  internet -->
					<div class="internet box-white">
						<h3> 4G INTERNET V MOBILE</h3>
						<div class="desc">
						<h4> 200 MB v SR</h4> </div>
					</div>
				<!-- price -->
					<div class="cena">
						<div class="cena-left">
						<h2 class="font_magenta"> 16,99 €</h2>
						<div class="font_magenta"> mesačne s novým telefónom</div> alebo 15,99 € mesačne bez telefónu
						</div>
						<div class="cena-right"></div>
					</div>
				<!--  cta -->
					<div class="objednat">
						<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=s" id="order-happy-s">vybrať</a>
					</div>
				</div>
			</div>
		<!-- 2 M -->
			<div class="box-slider" id="happy-m">
				<div class="slider-item">
				<!-- program type -->
					<div class="program_title text_centered">
					Happy M
					</div>
				<!--  volania -->
					<div class="program_volania box-white">
						<h3> VOLANIA</h3>
						<div class="desc">
						<h4> neobmedzené</h4> volania do siete Telekom a pevných sietí v SR</div>
						<div class="desc">
						<h4> neobmedzené</h4> prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
						<div class="desc">
						<h4>150 minút</h4> volania do ostatných sietí v SR a do EÚ
						<br /> odchádzajúce volania <span class="roaming-info">zo susedných štátov</span>
						<br /> do celej EÚ</div>
						<div class="desc">
						<h4>150 minút</h4> prichádzajúce roamingové volania vo zvyšku EÚ</div>
					</div>
				<!-- sms -->
					<div class="sms box-white">
						<h3> SMS a MMS</h3>
						<div class="desc">
						<h4>neobmedzené</h4> do všetkých sietí v SR a
						<br />
						<span class="roaming-info">zo susedných štátov</span> do SR</div>
					</div>
					<!--  internet -->
					<div class="internet box-white">
						<h3> 4G INTERNET V MOBILE</h3>
						<div class="desc">
						<h4> 500 MB v SR</h4> </div>
					</div>
					<!-- price -->
					<div class="cena">
						<div class="cena-left">
						<h2 class="font_magenta"> 23,99 €</h2>
						<div class="font_magenta"> mesačne s novým telefónom</div> alebo 19,99 € mesačne bez telefónu</div>
						<div class="cena-right"></div>
					</div>
					<!--  cta -->
					<div class="objednat">
						<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=m" id="order-happy-m">vybrať</a>
					</div>
				</div>
			</div>

			<div class="box-slider" id="">
				<div class="slider-item">
					<img src="../assets/img/slide1.jpg" />

				</div>
			</div>
		</div>
	</div>
</section>
<!-- SLICK slider END -->




<!-- UX ITEMS -->
<section class="section sec-5" id="sec-5">
	<div class="container-fixed">
		<h2 class="section__title text-center">BUTTONS AND ITEMS</h2>
			<!-- TOGGLE ARROW START -->
			<div class="togleArrow">
				<a class="toggle-arrow" href="#">Click pre viac info<span class="arrow-right"></span></a>
				<div class="arrow-content">Lorem ipsum text...</div>
			</div>

			<div class="togleArrow">
				<a class="toggle-arrow" href="#">Click pre viac info<span class="arrow-right arrow-rotate"></span></a>
				<div class="arrow-content" style="display: block;">Lorem ipsum text...</div>
			</div>
			<!-- TOGGLE ARROW END -->
			<br>
			<!-- LINK -->
			<a href="#" class="link">Hyperlink</a>
			<!-- LINK END -->
			<br>
			<!-- LINK -->
			<div style="background-color: black; width: 200px; height: auto;">
			<a href="#" class="link-darkbg">Hyperlink tmave pozadie</a>
			</div>
			<!-- LINK END -->
			<br>
			<!-- LINK NO REDIRECT -->
			<a href="#" class="link-nordr">Toto je link bez redirectu</a>
			<!-- LINK NO REDIRECT END -->
			<br>
			<!-- Range Input START -->
			<div class="range-slider">
				<input class="input-range" type="range" min="0" value="5" max="100" step="1"/>
				<span class="range-value"></span>
			</div>
			<!-- Range Input END-->

			<!-- Range Slider 2 options START -->
			<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> -->
			<div class="sliders_range">
				<!-- append sliders here -->
			</div>
			<!-- Range Slider 2 options END-->

			<!-- Range Input START -->
			<div class="range-slider">
				<input class="input-range" type="range" min="0" value="5" max="100" step="1"/>
				<span class="range-value"></span>
			</div>

			<!-- Range Input END-->
			<br>
			<!-- H1 -->
			<h1>H1 text 36px</h1>
			<!-- H1 END -->
			<br>
			<!-- H1 DARK -->
			<div style="background-color: black; width: 200px; height: auto;">
			<h1 class="darkbg">H1 text 36px</h1>
			</div>
			<!-- H1 DARK END -->

			<!-- H2 -->
			<h2>H2 text 32px</h2>
			<!-- H2 END -->

			<!-- H2 EXCEPT -->
			<h2 class="except">H2 text 32px except color</h2>
			<!-- H2 EXCEPT END -->

			<!-- H3 -->
			<h3>H3 text 16px</h3>
			<!-- H3 END -->

			<!-- paragraph -->
			<p>Lorem ipsum PARAGRAPH text 16px</p>
			<!-- paragraph END -->

			<!-- ERROR msg -->
			<p class="errormsg">Lorem ipsum ERROR text 14px</p>
			<!-- ERROR msg  END -->

			<!-- Legal text -->
			<p class="legaltext">Lorem ipsum LEGAL text 14px</p>
			<!--  Legal text  END -->
			<!-- Search bar -->
			<form class="search-container">
			  <input type="text" id="search-bar" placeholder="Search">
			  <a class="magnifa" href="#"><div id="magnifying-glass"></div></a>
			  <a class="closea "href="#"><span class="close-bttn"></span></a>
			</form>
			<!-- Search bar END -->

			<!-- Play button -->
			<a href="#" class="play-white"><i class="fa fa-play" aria-hidden="true"></i></a>
			<!-- Play button END -->

			<!-- Stars set -->
			<a href="#" class="product-stars-set">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			</a>
			<!-- Stars set END -->
			<!-- Stars -->
			<a href="#" class="product-stars">
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
				<i class="fa fa-star"></i>
			</a>
			<!-- Stars END -->
			<!-- Tip -->
			<div class="tip">
				<p><b>NÁŠ TIP:</b> Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na <b>PREJSŤ K NÁKUPU</b> a skúste kalkulačku služieb.</p>
			</div>
			<!-- Tip END -->
			<!-- Commit box -->
			<div class="commitbox">
				<p>Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na <b>PREJSŤ K NÁKUPU</b> a skúste kalkulačku služieb.</p>
			</div>
			<!-- Commit box END -->
			<!-- Error box -->
			<div class="errorbox">
				<p>Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na <b>PREJSŤ K NÁKUPU</b> a skúste kalkulačku služieb.</p>
			</div>
			<!-- Error box END -->
			<!-- CHECKBOX -->
			<input type="checkbox">
			<!-- CHECKBOX END -->

			<!-- rbCheckbox START -->
			<form class ="rbCheckbox">
			    <input type="radio" name="addName" value="1" checked>
			    <br />
			    <input type="radio" name="addName" value="2">
			    <br />
			</form>
			<!-- rbCheckbox END -->

			<!-- SECONDARY RADIO BTNS -->
		<form id="secondaryRadio">
			<div class="secondaryRadio">
			  <input type="radio" id="check-1" name="rb-pair" checked>
			  <label for="check-1">CEZ KABEL</label>

			  <input type="radio" id="check-2" name="rb-pair">
			  <label for="check-2">UNCHECKED</label>
			</div>
		</form>

		<div class="row">
			<div class="detailHolder" id="check-1">
				TEST 1
			</div>
			<div class="detailHolder" id="check-2" style="display: none;">
				TEST 2
			</div>
		</div>
			<!-- SECONDARY RADIO BTNS END -->


			<!-- HEAPBOX -->
			<select id="heap">
			    <option value="volvo">Volvo</option>
			    <option value="saab">Saab</option>
			    <option value="mercedes">Mercedes</option>
			    <option value="audi">Audi</option>
			</select>
			<!-- HEAPBOX END -->


			<!-- HEAPBOX BUTTON -->
			<select id="heap-noArrow">
			    <option value="volvo">Volvo</option>
			    <option value="saab">Saab</option>
			    <option value="mercedes">Mercedes</option>
			    <option value="audi">Audi</option>
			</select>
			<!-- HEAPBOX BUTTON END -->

			<!-- SWITCHER -->
			<input type="checkbox" class="js-switch" checked />
			<!-- SWITCHER END -->


			<!-- FILTERED SEARCH select2 plugin -->
			<div class="filterSearch">
				<select multiple id="filter1">
	        <option value="M">Happy M</option>
	        <option value="L">Happy L</option>
	    	</select>
			</div>
			<div>
				<div id="multiselect" class="M" style="display: none;">
					<p>Pausal happy M</p>
				</div>

				<div id="multiselect" class="L" style="display: none;">
					<p>Pausal happy L</p>
				</div>
			</div>
			<!-- FILTERED SEARCH select2 plugin END -->


			<!-- ANIMATED PROGRESSBAR -->
			<div class="AnimatedProgressBar" data-progress="45">
				<div>
					<!-- progressbard -->
				</div>
			</div>

			<div class="AnimatedProgressBar" data-progress="15">
				<div>
					<!-- progressbard -->
				</div>
			</div>
			<!-- ANIMATED PROGRESSBAR END -->

	</div>
</section>
<!-- UX ITEMS END -->









<!-- Lightboxes & POPUP settings -->
<!-- FANCYBOX -->
<div style="display:none">
<div class="easy-lightbox" id="info-vyhody-volania">
  <h2>
    Neobmedzené VOLANIA S BLÍZKYM</h2>
  Služba Neobmedzené volania s blízkym sa dá aktivovať, ak má váš blízky paušál Happy. Blízky si musí nastaviť pravidelné dobíjanie Easy z paušálu. Následne môžete spolu volať úplne zadarmo.<br />
  <br />
  Aktivácia pravidelného dobíjania z paušálu Happy:<br />
  zavolajte na linku <span class="magenta">0800 123 456</span>, voľba <span class="magenta">1</span>, <span class="magenta">3</span></div>
</div>


<!-- POPUP:500MB -->
<div id="data500" style="display:none">
	<div class="p-head">
		<div class="p-close">
			<a href="#" class="close-btn"><!-- close btn --></a>
		</div>
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="popup-lightbox">
			<h4>Ako kúpiť Deezer</h4>

			<p><b>1.</b> Zašlite bezplatnú SMS s textom</p>
			<p><b>DEEZER 12M ZAP</b> na číslo <b>12323.</b></p>
			<p><b>2.</b> Počkajte na spätnú SMS.</p>
			<p><b>3.</b> Môžete prejsť k aktivácii Deezeru.</p>
			<a class="btn" href="#">Pošlite SMS</a>
			<br>
			<a href="#" class="link text-close">Zavrieť okno</a>
		</div>
	</div>
</div>

<!-- Lightboxes & POPUP settings END -->


<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/fancybox-media.js"></script>
<script type="text/javascript" src="../assets/js/select2.min.js"></script>
<script type="text/javascript" src="../assets/js/jquery.waypoints.js"></script>
