/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';
/*@import '_theme';*/


.portlet-body .journal-content-article h1 {
		border-bottom: none;
		font-size: 42px;
		text-transform: uppercase;
		margin-top: 0px;
	}

.portlet-body .journal-content-article h3 {
		font-size: 32px;
	}

.portlet-body .journal-content-article h4 {
		font-size: 22px;
	}

.journal-content-article ul:not(.accordion):not(.content-menu):not(.content-sub-menu):not(.tabs-navi):not(.list-arrow):not(.list-square):not(.toolbox-list) {
margin:0;
}

.journal-content-article h3 {
margin:0 !important;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ededed;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ededed;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	transform: rotate(45deg);
}

.og-close::after {
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 44%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}



.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	display: inline-block;
	outline: none;
        text-decoration: none;
        background-color: #e20074;
}



.waterbear-theme a:hover {
    text-decoration: none !important;
    color: #e20074 !important;
    background-color: #fff !important;
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}

------------------------------------------------
.portlet-body .journal-content-article h1 {
	  border-bottom: none;
	  padding: 0;
	  margin: 0;
	  width: 90%;
	  line-height:44px;
	  font-size:42px;
	  text-transform:uppercase;
	  color: white;
	}
		
	.portlet-body .journal-content-article .c-tile p {
	  font-size: 0.9em;
	}
	
	.portlet-body .journal-content-article .c-header p {
	  color: white;
	  width: 90%;
	  font-size:20px;
	}
	
	.portlet-body .journal-content-article .c-header p.big {
	  color: white;
	  width: 90%;
	  font-size:28px;
	  text-transform:uppercase;
	}
	
	.c-content {
	  position: relative;
	  width:940px;
	  margin:0 auto;
	}

	div.c-img {
	  display: inline-block; 
	  position: absolute;
	}

	.c-tile {
	  width: 150px;
	  height: 150px;
	  display: inline;
	  display: inline-block;
	  background-color: #FFFFFF;
	  margin-left: 0px;
	  margin-right: 3px;
	  margin-top: 3px;
	  margin-bottom: 3px;
	  text-align: center;
	  box-shadow: 2px 2px 5px lightgray;
	  transition: transform 0.2s;
	}

	a.c-tile-a {
	  display: block;
	  /* width: 100%; */
	  padding:0px; /* 0 7px */
	  height: 100%;   
	  text-decoration: none;
	  line-height:20px;
	  position:relative;
	  top:0;
	  left:0;
	}

	a.c-tile-a span.line-1 {
		display:block;
		position:absolute;
		bottom:16px;
		width:100%;
		text-align:center;
		padding:0 5px;
		box-sizing:border-box;
	}
	
	a.c-tile-a span.line-2 {
		display:block;
		position:absolute;
		bottom:5px;
		width:100%;
		padding:0 5px;
		text-align:center;
		box-sizing:border-box;
	}
	
	.c-tile > div {
		height:147px;
	}

	.c-tile:hover {
	  transform: scale(1.1);  
	}

	.c-tile:first-child {
	  margin-left: 3em;
	}

	.c-row {
	  display: block;
	  position: relative;
	}
	.c-row-1 .c-content > div {
	   vertical-align: top;
	}
	.c-row-1 div.c-text {
	  display: inline-block;
	  width: 55%;
	  height: 45%;
	  padding-left: 17px;
	  padding-top: 17px;
	}
	.c-row-1 a {
	  margin-top: 1em;
	  margin-bottom: 2em;
	}
	.c-row-1 a > div {
	  position: relative;
	}
	.c-row-1 div.c-img {
	  right: 2em; 
	  top: 2em;
	}

	.c-row-2 {              
	  padding-top: 1em;                                                                                                                
	  padding-bottom: 4em;
	}
	.c-row-2 .c-tile {              
	  vertical-align: top;
	}

	.c-tile-a b {
	  color: #E20074;
	  font-size:18px;
	}
	
	.c-tile-a strong {
	  color: #E20074;	  
	}

	.c-row-2 .c-content {
	  /* margin-left: 109px; */
	}

	.c-tile-a div {
	  height: 100px;
	}

	.c-tile.first {
	  margin-left:0px;
	}

	.c-img-1 img{
	  margin-top: 25px;
	  margin-bottom: 4px;
	}

	.c-img-2 img{
	  margin-top: 25px;
	  margin-bottom: 17px;
	}

	.c-img-3 img{
	  margin-top: 20px;
	  margin-bottom: 5px;
	}
	
	.c-img-4 img{
	  margin-top: 21px;
	  margin-bottom: 18px;
	}

	.c-header {
	  background: url(/documents/10179/42509/wb_internet_rozcestnik_960px_1214-MAGENTA-OVERLAYS.png/738518b0-8335-4883-bc5e-c4dfe1d5054e) no-repeat;
	  background-size: 100% 90%;
	  padding-bottom: 8%;
	  width: 85%;
	}

	@media screen and (max-width: 960px) {
	  .c-row-2 .c-content {
		margin-left: 0px;
	  }
	  .c-content {
		width: auto;
	  }
	  .c-row {
		padding-left: 3em;
		padding-right: 3em;
	  }
	  .c-row-1 div.c-text {
		width: 55%;
	  }
	  .c-row-2 {
		padding-bottom: 2em;
	  }
	  .c-row-2 div.c-content {
		text-align: left;
	  }
	  .c-tile:first-child {
		margin-left: 0;
	  }
	  .c-tile {
		margin-left: 0;
	  }
	  .c-tile.first {
		margin-left:0px;
	  }
	}
	@media screen and (max-width: 870px) {
	 @-ms-viewport {
		width: 800px;  
	  }
	 .c-header {
		background-repeat: round;
	  }
	  .c-row-1 div.c-text { 
		padding-top: 10px;
		padding-left: 10px;
	  }
	  .c-tile.first {
		margin-left:0px;
	  }
	}
	@media screen and (max-width: 800px) {

	  @-ms-viewport {
		width: 800px;  
	  }
	  .portlet-content {
		padding-left: 0;
		padding-right: 0;
	  }
	  
	  .c-row-2 div.c-content {
		text-align: center;
	  }
	 	  
	  .c-row {
		padding-left: 2em;
		padding-right: 2em;
	  }
	  .c-row-1 div.c-text {
		width: 65%;
	  }
	  .c-row-1 div.c-img {
		right: 0em;
	  }
	}
	@media screen and (max-width: 640px) {
	  .c-row {
		width: auto;
		padding-left: 1em;
		padding-right: 1em;
	  }
	  
	  .portlet-body .journal-content-article h1 {
		font-size:36px;
	  }
	  
	 .portlet-body .journal-content-article .c-header p.big {		  
		  font-size:22px;		  
	 }
	  
	  div.c-img {
		display: none;
	  } 
	  .c-row-1 div.c-text {
		width: 100%;
		padding-left: 10px;
		padding-top: 10px;
	  }
	  .c-row-2 div.c-content {
		text-align: center;
	  }
	  .c-tile {
		margin-right: 2px;
	  }
	  
	  .c-tile.first {
		margin-left:0px;
	  }
	}
	@media screen and (max-width: 480px) {
	  @-ms-viewport {
		width: 400px;  
	  }
	  
	  .portlet-body .journal-content-article h1 {
		font-size:32px;
	  }
	  
	  .portlet-body .journal-content-article .c-header p.big {		  
		  font-size:18x;		  
	  }
	  
	  .c-header {
		background-repeat: round;
		padding-bottom:12%;
	  }
	  .c-row-2 {
		padding-bottom: 1em;
	  }
	}

        header > div.grid-wrapper
{display: none;}