/* =============== GLOBAL CONFIG  =============== */
/* ===============
CSS FOR MICROSITE
=============== */

/* TABS */
#content .tabs-container {
  position: relative;
}

#content .tabs-container ul {
  list-style: none;
}
#content .tabs-container .tab-link {
  cursor: pointer;
}

.segment .tab__holder {
  text-align: left;
  border-bottom: 0.6px solid #d0d0d0;
}

#content .tabs-menu,
#content .rpln-tabs-menu {
  height: 65px;
  clear: both;
  margin: 0;
  display: inline-block;
  @media screen and (max-width: 520px) {
    height: 150px;
  }
}
#content .overlay_fix {
  position: relative;
  .overlay {
    width: 100%;
  }
}
#content .tabs-menu li,
#content .rpln-tabs-menu li {
  line-height: 61px;
  float: left;
}

#content .tabs-menu li a,
#content .rpln-tabs-menu li a {
  font-size: 16px;
  color: #757575;
  text-decoration: none;
  display: inline-block;
  padding: 0px !important;
}

.tabs-menu li.current,
.rpln-tabs-menu li.current {
  border: none !important;
}

.tabs-menu li:hover,
.rpln-tabs-menu li:hover {
  border: none !important;
}

#content .tabs-menu li,
#content .rpln-tabs-menu li {
  padding-left: 40px !important;
}

#content .tabs-menu a:hover,
#content .rpln-tabs-menu a:hover {
  color: #383838;
  border: none;
}

.tabs-menu .current a,
.rpln-tabs-menu .current a {
  color: #6bb324 !important;
  border-bottom: 3px solid #6bb324 !important;
}

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%;
}

.segment .tab {
  border: none;
}

.tab__variant {
  display: none;
}

.tab__variant.selected {
  display: block;
}

.tab-content {
  padding-top: 10px;
  margin-top: 0;
}

.table-holder {
  & td {
    width: 50%;
    @media screen and (max-width: 600px) {
      text-align: left;
    }
  }
}

@media screen and (max-width: 520px) {
  .tabs-menu li,
  .tabs-menu li.current,
  .rpln-tabs-menu li,
  .rpln-tabs-menu li.current {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0.6px 0solid #d0d0d0 !important;
  }
  .segment .tab__holder {
    border-bottom: 0 !important;
  }

  #content .tabs-menu li,
  #content .rpln-tabs-menu li {
    width: 100%;
    line-height: 40px !important;
    padding-left: 20px !important;
    border-bottom: 0.6px solid #d0d0d0 !important;
  }
  .tabs-menu .current a,
  .rpln-tabs-menu .current a {
    border: 0 !important;
  }
}

/* TABS END */

#content {
  .tax-info {
    text-align: right;
    color: #8a8a8a;
    font-size: 16px;
    margin-top: 20px;
  }
  .box-device {
    opacity: 1;
    max-width: 253px;
    text-align: center;
    border: 1px solid #ffffff;
    padding: 5px 10px;
    float: left;
    .rpln-tab {
      text-align: left;
    }

    .pricing-table {
      font-size: 16px;
      text-align: left;
      width: 100%;
      td {
        padding: 0 0 10px 0;
        line-height: 100%;
      }
      tr td:first-child {
        width: 130px;
        vertical-align: top;
        color: #a4a4a4;
        @media screen and (max-width: 526px) {
          width: 90px;
        }
      }
    }
    @media screen and (max-width: 526px) {
      float: none;
    }
  }
  .info {
    color: #e20074;
    padding-left: 30px;
    text-align: left;
    background: url("/documents/10179/12868973/ico-info.png") no-repeat center
      left;
  }
}

/* SEC - PROD DET */
#content .back-holder {
  margin: 20px 0;
}

#content .back-holder a {
  background: url("/documents/10179/12868973/arrow-back.png") no-repeat center
    left;
  padding-left: 15px;
}

.box-pricing {
  display: inline-block;
  width: 100%;
}

.bp__content {
  padding: 20px 0;
  display: flex;
  @media screen and (max-width: 550px) {
    padding-top: 0px;
  }
}

.bp__inner-section:first-child {
  width: 100%;
  float: left;
  padding-right: 4%;
  text-align: left;
  position: relative;
}

// OVERLAY VYPREDANE
.overlay {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  & img {
    max-width: 100%;
    max-height: 100%;
  }
}
// OVERLAY VYPREDANE END

.bp__inner-section:nth-of-type(2) {
  width: 100%;
}

#content .bpis__title {
  font-size: 22px;
  font-weight: bold;
  color: #242424;
  margin: 0 0 5px 0;
  line-height: 120%;
}

#content .sec-det .box-device {
  padding: 0;
  max-width: 100%;
  width: 100%;
  border: 0;
  float: none;
  display: inline-block;
  text-align: left;
}

#content .sec-det .box-device:nth-last-of-type(2) {
  margin-right: 10px;
}

#content .sec-det .box-device:hover {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

#content .sec-det .box-device:hover .device__name,
#content .sec-det .box-device:hover .device__params {
  text-decoration: none;
}

#content .sec-det .box-device .cta {
  min-width: 150px;
  margin-top: 5px;
  text-align: center;
  @media screen and (max-width: 880px) {
    min-width: 100%;
  }
}

#content .sec-det .info-box {
  padding: 8px;
  margin-top: 66px;
}

#content .sec-det .info-box p {
  margin: 0;
  color: #e20074;
  line-height: 18px;
}

@media screen and (max-width: 880px) {
  .bp__inner-section,
  .bp__inner-section:nth-of-type(2),
  .bp__inner-section:nth-of-type(3) {
    width: 100%;
    float: left;
    padding: 0 2%;
  }
  .bp__inner-section:nth-of-type(2),
  .bp__inner-section:nth-of-type(3) {
    text-align: center;
  }
  #content .sec-det .box-device {
    margin: 0 auto;
    float: none;
  }
  #content .sec-det .info-box {
    margin-top: 0;
  }
  #content .sec-det .info-box img {
    display: inline-block;
    vertical-align: bottom;
  }
  #content .sec-det .info-box p {
    display: inline-block;
  }
  .bp__content {
    display: inherit;
    width: 100%;
  }
  .bp__inner-section:nth-child(2) {
    max-width: inherit;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 20px 2%;
    margin: 20px 0;
  }
  .ec-gallery {
    left: 90%;
  }
  .full__holder {
    padding-left: 8%;
  }
}

/* ZOOM GALLERY */
.gallery {
  position: relative;
}

.thumbnails {
  float: left;
  padding-right: 10px;
  width: 21%;
}

.full__holder {
  float: left;
  width: 79%;
  position: relative;
  margin-top: 0px;
  max-height: 305px;
  @media screen and (max-width: 880px) {
    text-align: left;
  }
}

.ec-gallery {
  position: absolute;
  top: 0px;
  right: 10px;
}

.preview {
  display: flex;
  cursor: pointer;
}

.preview img {
  padding-left: 3px;
  padding-top: 3px;
  width: 40px;
}

.preview:last-child {
  margin-bottom: 0;
}

.full {
  max-height: 285px;
  width: auto;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.controlls {
  display: none;
}

@media screen and (max-width: 768px) {
  .indicator {
    background-color: #d0d0d0;
    height: 3px;
    width: 100%;
  }
  .indicator:after {
    content: "";
    display: table;
    clear: both;
  }
  .in__content {
    background-color: #e20074;
    height: 3px;
  }
  #content .controlls a {
    color: #383838;
    font-size: 18px;
  }
  .controlls {
    display: block;
  }
  .control__holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #content .img-size {
    display: inline-block;
  }
  .full__holder {
    text-align: center;
    width: auto;
    margin-top: 0;
    float: none;
  }
  .full {
    float: none;
    padding-bottom: 10px;
  }
  .thumbnails {
    display: none;
  }
  .ec-gallery {
    left: 90%;
  }
  .full__holder {
    padding-left: 0;
  }
}

@media screen and (max-width: 580px) {
  .ec-gallery {
    position: unset;
  }
}

/* SEC DET 2 */
#content {
  .sec-det-2 {
    .tabs-container {
      margin-bottom: 40px;
      border: 0.6px solid #d0d0d0;
      border-radius: 4px;
    }
    .feat-text .feat-tit {
      margin: 0 0 5px 0;
      font-weight: bold;
      color: #4b4b4b !important;
      font-size: 16px !important;
      padding: 0;
      line-height: 22px;
    }
    .feat {
      display: flex;
      align-items: center;
      border-bottom: 0.6px solid #d0d0d0;
      overflow: hidden;
      @media screen and (max-width: 550px) {
        margin: 0;
        flex-direction: column;
      }
    }
    .feat.feat-img-left .feat-img-holder {
      order: 1;
      height: 313px;
      display: flex;
      padding-left: 0.6px;
      padding-bottom: 0.3px;
      @media screen and (max-width: 960px) {
        height: 289px;
      }
      @media screen and (max-width: 768px) {
        height: 230px;
      }
      @media screen and (max-width: 550px) {
        border-bottom: 0;
        height: auto;
      }
    }
    .feat.feat-img-left .feat-text-holder {
      order: 2;
    }
    .feat .feat-text-holder {
      float: left;
      width: 50%;
      padding: 0 25px;
      @media screen and (max-width: 550px) {
        width: 100%;
        float: none;
        display: block;
        margin-top: 3%;
        margin-bottom: 3%;
        padding: 0 10px;
        order: 2;
      }
    }
    .feat .feat-img-holder {
      float: left;
      width: 50%;
      text-align: center;
      height: 325px;
      overflow: hidden;
      display: flex;
      padding-right: 0.6px;
      padding-bottom: 0.4px;
      @media screen and (max-width: 960px) {
        height: 300px;
        overflow: hidden;
      }
      @media screen and (max-width: 768px) {
        height: 239px;
      }
      @media screen and (max-width: 550px) {
        width: 100%;
        float: none;
        display: block;
        height: auto;
      }
    }
    .feat .feat-img-holder img {
      max-width: 100%;
      width: 100%;
    }
    .feat:after {
      content: "";
      display: table;
      clear: both;
    }
    .feat:last-of-type {
      border-bottom: 0;
    }
    .feature-to-holder {
      padding: 60px 0;
      width: 44.8%;
      //display: inline-block;
      margin: 0 2.6%;
      float: left;
      min-height: 270px;
      @media screen and (max-width: 550px) {
        width: 100%;
        margin: 0;
        min-height: auto;
      }
    }
    .feature-to-holder:after {
      content: "";
      display: table;
      clear: both;
    }
    .order-info-holder {
      margin: 20px 40px;
    }
    .order-info-holder .order-info-wrapper {
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }
    .order-info-holder .order-info-wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    .order-info-holder .order-info-wrapper .col-md-4 {
      text-align: center;
    }
  }
}

#content {
  .order-info-wrapper .col-md-4 .order-subheading {
    margin: 0px;
  }
  .order-info-wrapper .col-md-4 p {
    margin-top: 0px;
  }
}
#content {
  .thumbnails a {
    width: 47px;
    height: 53px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #cfcfcf;
  }

  .thumbnails a.selected {
    border-width: 1px;
    border-color: rgb(75, 75, 75);
    border-style: solid;
    border-radius: 4px;
  }
  .thumbnails a:hover {
    background-color: #ddd;
  }

  .text-green {
    color: #6bb324;
  }
  .box-device {
    input {
      border-color: rgb(208, 208, 208) !important;
      border-radius: 4px;
      background-color: #fff;
      margin: 0px 3px 10px 3px;
      color: #a4a4a4;
      font-size: 16px;
      line-height: 16px;
      height: 35px;
      padding: 0 15px;
    }
    input:hover {
      background-color: #ececec;
      color: #4b4b4b;
    }
    input:focus {
      color: #4b4b4b;
      border-color: rgb(75, 75, 75) !important;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    }
    .active-plan {
      color: #4b4b4b;
      border-color: rgb(75, 75, 75) !important;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
    }
  }
  .christ-magenta {
    margin-top: -60px;
    margin-bottom: 30px;
    color: #e20074;
    @media screen and (max-width: 880px) {
      display: none;
    }
  }

  .oc-price,
  .rc-price,
  .b2b-rpln-price {
    font-size: 18px;
    color: #262626;
    font-weight: bold;
    line-height: 25px;
  }
  .normal-price {
    color: #e20074;
    font-size: 18px;
    text-decoration: line-through;
    line-height: 25px;
  }
  .normal-price-txt {
    color: #262626;
    font-size: 18px;
  }
  .rpln-price-salle {
    font-size: 18px;
    color: #e20074;
    font-weight: bold;
    line-height: 25px;
  }
  .sale-price {
    color: #e20074 !important;
  }
  .rpln-price {
    font-size: 18px;
    color: #6c6c6c;
    font-weight: normal;
    line-height: 25px;
  }
  .monthly {
    font-size: 18px;
    color: #6c6c6c;
    font-weight: normal;
  }
  .eec-product {
    position: absolute;
    top: 10px;
    right: 0px;
  }
}

#content {
  .box-device {
    .tab {
      position: relative;
      padding-top: 20px;
    }
    .tab-content {
      padding-top: 0px;
      margin-top: 0;
      display: block;
    }
    .discount_switcher {
      display: flex;
      margin-bottom: 20px;
      &_checkbox {
        width: 50px;
      }
      &_label {
        padding-top: 5px;
        font-weight: bold;
        font-size: 16px;
      }
    }
    .rpln-label {
      font-weight: bold;
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .rpln-holder-slider {
      margin: 0 auto 20px auto;
      @media screen and (max-width: 550px) {
        max-width: 300px;
      }
    }
    .rpln-holder,
    .rpln-holder-slider {
      display: flex;
      margin-bottom: 20px;

      .my-rpln {
        background-color: #ededed;
        padding: 5px 8px 5px 8px;
        border-radius: 8px;
        margin-right: 8px;
        border: 5px solid #ededed;
        cursor: pointer;
        h4 {
          width: 101px;
          font-size: 16px;
          font-weight: bold;
          color: #383838;
          margin: 0;
          padding: 0;
          @media screen and (max-width: 550px) {
            width: auto;
          }
        }
        p {
          font-size: 12px;
          margin: 0;
          padding: 0;
          color: #8a8a8a;
        }
      }
      .my-rpln:last-child {
        margin-right: 0;
      }
      .my-rpln:hover {
        background-color: #bdbdbd;
        border-color: #bdbdbd;
      }
      .active-rpln {
        outline: 1px auto #e20074;
        background-color: #fff;
        border: 5px solid #ededed;
      }
      .active-rpln:hover {
        background-color: #ededed;
      }
    }
  }
}

#content .small {
  font-size: 14px;
  color: #a4a4a4;
  margin-bottom: 20px;
}
#content .ttp {
  cursor: pointer;
}

#content .termsandconditions {
  text-align: left;
  & p {
    color: #a4a4a4;
  }
}

/* TOGGLE ARROW */
#content a.toggle-arrow,
#content a.toggle-arrow-main {
  color: #007faf;
  text-decoration: none;
  & .arrow-right,
  .arrow-right-main {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover,
  &:hover span.arrow-right,
  span.arrow-right-main {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content,
#content .arrow-content-main {
  display: none;
  font-size: 16px !important;
  color: #a4a4a4;
  margin-bottom: 15px;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */

.dph-switcher {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 20px;
  right: 0;
  align-items: center;
  .dph-label {
    padding: 0px 8px;
    font-weight: 400;
    font-size: 16px;
  }
  @media screen and (max-width: 520px) {
    position: static;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
.dph-tv-switcher {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
  justify-content: flex-end;
  .dph-label {
    padding: 0px 8px;
    font-weight: 400;
    font-size: 16px;
  }
  @media screen and (max-width: 520px) {
    position: static;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 520px) {
  #content .box-device .rpln-tabs-menu {
    text-align: left;
    height: auto;
    width: 100%;
    border: 0.6px solid #d0d0d0 !important;
    li {
      border-bottom: 0.6px solid #d0d0d0 !important;
    }
    li:last-child {
      border-bottom: none !important;
    }
  }
  #content .box-device .tab {
    border-top: none;
  }
}
/* SWITCHER */

.es-switch-bg {
  width: 40px;
  height: 25px;
  border-radius: 14px;

  -webkit-transition: background-color 0.1s ease-in-out;
  -moz-transition: background-color 0.1s ease-in-out;
  -o-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}

.es-switch-bg[data-state="false"] {
  background-color: #ededed;
  border: #ccc solid 1px;
}

.es-switch-bg[data-state="true"] {
  background-color: #e20074;
  border: #ccc solid 1px;
}

.es-toggle {
  height: 21px;
  width: 21px;

  position: relative;
  top: 1px;

  background-color: #fff;

  border-radius: 12px;
  border: #ccc 1px solid;

  -webkit-transition: left 0.1s ease-in-out;
  -moz-transition: left 0.1s ease-in-out;
  -o-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
}

.es-switch-bg[data-state="false"] .es-toggle {
  left: 0px;
}

.es-switch-bg[data-state="true"] .es-toggle {
  left: 17px;
}
/* SWITCHER END */
