<!-- step controls -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 controls__wrap">
            <!-- left -->
            <div class="col-xs-2 col-sm-4">
                <div class="arrow__holder arrow-left" ng-click="$ctrl.prev()">
                    <div class="arrow-ico arrow-back">
                        <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                    </div>
                    <div class="arrow-text"> SPÄŤ </div>
                </div>
            </div>
            <!-- middle -->
            <div class="col-xs-8 col-sm-4">
                <!--  <div class="indicator__holder">
                    <span class="indicator-text">Váš paušál + internet</span>
                    <span class="indicator-price">ušetríte
                        <span class="indicator-price-num text_magenta">4</span>
                        <span class="text_magenta">€ / mesiac</span>
                    </span>
                </div> -->
            </div>
            <!-- right -->
            <div class="col-xs-2 col-sm-4">
                <div class="arrow__holder arrow-right arrow-active" ng-click="$ctrl.next()">
                    <div class="arrow-text">POKRAČOVAŤ</div>
                    <div class="arrow-ico arrow-next">
                        <i class="fa fa-chevron-right" aria-hidden="true"><!-- > --></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>