/* ===============
CSS FOR MICROSITE
=============== */

/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
}

.hero__content {
    text-align: center;
    max-width: 460px;
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 50% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
    }

    #hero .btn {
        margin-top: 60px;
    }
}

/*   MODULE PLAN CHOOSER   */

#plan-list_mob,
#plm__plan-detail {
    display: none;
}

@media screen and (max-width: 768px) {
    #plan-list_pc {
        display: none;
    }

    #plan-list_mob {
        display: block;
        float: left;
        width: 100%;
        position: relative;
    }
}

/* GLOBALS FOR PLAN CHOOSER */

#content .link_no-underline {
    text-decoration: none;
}

#content .plan-sec-head {
    text-transform: uppercase;
}

.stuck {
    position:fixed;
    top:0;
    width: 92%;
    z-index: 100;
}

.sticky-surpassed {
    display: none;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 670px) {
    .stuck {
        width: 96%;
    }
}

/* PLAN SWITCHER */

.ps__btn-holder,
.ps__link-holder,
.plan-separator-holder {
    display: inline-block;
}

#content .ps__btn,
#content .ps__btn:hover {
    background-color: transparent;
    border: 1px solid #a4a4a4;
}

#content .ps__btn_selected {
    color: #ffffff;
    background-color: #e20074;
    border: 1px solid #cc0069;
}

#content .ps__btn_selected:hover {
    background-color: #cc0069;
    border: 1px solid #9f0052;
}

#content #plan-mobile,
#content #plan-no-mobile {
    text-transform: inherit;
    margin-right: 10px;
    width: 144px;
    text-align: center;
}

#content .plan-separator {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}

@media screen and (max-width: 560px) {

    #plan-switcher {
        display: flex;
        flex-direction: column;
    }

    .ps__link-holder {
        order: 1;
    }

    .plan-separator-holder {
        display: block;
        position: relative;
        margin: 10px 17% 0 17%;
        order: 2;
    }

    #plan-switcher .plan-sec-head {
        order: 3;
        margin-top: 0;
    }

    .ps__btn-holder {
        display: block;
        text-align: center;
        order: 4;
    }

    #content .ps__btn-holder .btn.btn_outline,
    #content #to-prolong {
        font-size: 16px;
        color: #383838;
        border-radius: 4px;
        padding: 8px 19px;
        display: inline-block;
        text-decoration: none;
        border: 1px solid #a4a4a4;
        text-transform: uppercase;
        width: 302px;
    }

    .plan-separator-holder .p-separator {
        background-color: #d0d0d0;
        height: 1px;
        width: 42%;
        position: absolute;
        bottom: 50%;
    }

    .p-separator.sl {
        left: 0;
    }

    .p-separator.s2 {
        right: 0;
    }

    #content #plan-no-mobile {
        margin-right: 0;
    }

    #content .plan-sec-head {
        text-align: center;
    }

    #content .plan-separator,
    .ps__link-holder {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 350px) {
    #content #plan-mobile {
        margin-right: 0;
    }

    #content #to-prolong {
        width: 276px;
    }

    #content #plan-mobile,
    #content #plan-no-mobile {
        width: 136px;
        padding: 8px 13px;
    }

    .plan-separator-holder {
        margin: 0;
    }

}

/* PLAN FILTER */

.filter-checkbox-holder {
    float: left;
    width: 15%;
}

.filter-text-holder {
    float: right;
    width: 85%;
}

#content .filter-title {
    margin: 0;
    font-weight: bold;
}

#content .filter-detail {
    margin: 0;
}

#content #filter-result {
    font-size: 14px;
    color: #6c6c6c;
    display: inline-block;
}

@media screen and (max-width: 820px) {
    .filter-checkbox-holder {
        width: 20%;
    }

    .filter-text-holder {
        width: 80%;
    }
}

@media screen and (max-width: 600px) {
    #plan-filter {
        display: none;
    }
}

/* PLAN LIST PC */

.plp__head .row {
    background-color: $magenta;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
    margin-bottom: 10px;
}

#content .plc__col {
    float: left;
    padding: 0 0.5%;
}

#content .plc__col-1,
#content .plc__col-3 {
    width: 26%;
}

#content .plc__col-2,
#content .plc__col-4 {
    width: 12%;
}

#content .plc__col-5 {
    width: 24%;
}

#content .plp__head a,
#content .plp__head p {
    color: $white;
    display: block;
}

#content .plp__head-item {
    text-align: center;
    height: 58px;
    line-height: 58px;
    margin: 0;
}

.plph__ico::after {
    content: '';
    background: url('../img/ico-sort.png') no-repeat;
    height: 7px;
    width: 13px;
    display: inline-block;
    margin-left: 5px;
}

.plph__ico.unset::after {
    height: 14px;
}

.plp__head-item.asc::after {
    background-position: 0 0;
}

.plp__head-item.desc::after {
    background-position: 0 -7px;
}

// PLP BODY

#plp__body .plc__col {
    text-align: center;
    border-right: 1px solid #ededed;
}

#plp__body .plc__col:last-of-type {
    border-right: 0;
}

.plp__plan.row {
    border: 1px solid #c9c9c9;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 5px;
    position: relative;
    padding: 20px;
}

#content .plp__plan i {
    font-style: italic;
}

.plpp-inner {
    display: flex;
}

.plp__plan.row:hover {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
}

.plp__plan .plpp-inner .plc__col,
.plp__plan .plpp-inner .plc__col .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plp__plan .plpp-inner .plc__col-3 {
    flex-direction: row;
}

.plp__plan .plpp__detail .plc__col-5 {
    justify-content: space-between;
}

.plp__plan_w-ribbon.row {
    border: 1px solid #5791c5;
}

#content .plp__plan-ribbon {
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5791c5;
    color: $white;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 222px;
}

#content .plan-price {
    font-size: 31px;
    line-height: 31px;
    font-weight: 400;
    margin: 0;
    color: #262626;
}

#content .plan-name {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    color: #4b4b4b;
}

#content .plan-sale,
#content .plan-warn {
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    color: #58951c;
}

#content .plan-warn {
    color: #E53935;
}

#content .plan-data {
    color: #262626;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin: 0;
}

#content .plan-data-location {
    color: #6c6c6c;
    line-height: 16px;
    margin: 0;
}

#content .plan-call-tit,
#content .plan-call-det,
#content .plan-sms-tit,
#content .plan-sms-det {
    font-weight: 400;
    line-height: 16px;
    color: #262626;
    margin: 0;
}

#content .plan-call-det,
#content .plan-sms-det {
    font-weight: normal;
    color: #6c6c6c;
}

#content .plan-show-detail,
#content .plan-hide-detail {
    background: url('../img/ico-search.png') no-repeat center left;
    padding-left: 18px;
    margin-bottom: 10px;
    display: inline-block;
}

#content .plan-choose-btn {
    width: 154px;
}

.ico-basket {
    background: url('../img/ico-basket.png') no-repeat;
    width: 15px;
    height: 14px;
    display: inline-block;
    margin-right: 4px;
}

.plpp__detail .plan-hide-detail {
    justify-content: flex-start;
}

.plpp__detail .plan-choose-btn {
    justify-content: flex-end;
}

// PLAN DETAIL

.plp__plan .plpp-inner.plpp__detail .plc__col-3 {
    flex-direction: column;
}

#content .plan-call__header {
    color: #6c6c6c;
    padding-left: 26px;
}

#content .plan-call__header_outgoing {
    margin-top: 0;
    background: url('../img/ico-outgoing.png') no-repeat left center;
}

#content .plan-call__header_incoming {
    background: url('../img/ico-incoming.png') no-repeat left center;
}


/* PLAN LIST MOBILE */

.plm__head {
    width: 100%;
}

#content .plm__head-item {
    width: 33.33333333333333%;
    float: left;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border: 1px solid #b2b2b2;
    color: #262626;
    background-color: $white;
}

#content .plm__head-item:first-of-type {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#content .plm__head-item:last-of-type {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#content .plm__head-item_selected {
    background-color: $magenta;
    color: $white;
    border: 1px solid #cc0069;
}

#content .plan-show-detail_mob {
    display: none;
}

.plm__col {
    float: left;
    width: 33.33333333333333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plmp-inner {
    display: flex;
    align-items: center;
}

#plm__body {
    float: left;
    width: 100%;
    border-top: 4px solid #e20074;
    margin-top: 10px;
}

#plm__body .plan-choose-btn {
    text-align: center;
    width: 118px;
}

#content #plm__body .plan-price,
#content #plm__body .plan-data {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

#content #plm__body .plan-name,
#content #plm__body .plan-data-location {
    font-size: 16px;
    line-height: 16px;
}

#content .plan-show-detail {
    margin-bottom: 2px;
}

.plm__plan.row:first-of-type .plm__col-2 {
    background: #fbd9ea url('../img/ico-selected-row.png') center top no-repeat;
}

.plm__plan.row {
    border: 1px solid #d0d0d0;
    border-top: 0;
    position: relative;
}

#content .plm__plan-ribbon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5791c5;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    margin: 0;
}

.plm__plan_w-ribbon.row {
    border-top: 1px solid #1063ad;
}

.plm__col {
    min-height: 88px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.plm__col-2 {
    background-color: #fbd9ea;
}

@media screen and (max-width: 430px) {
    #plm__body .plan-choose-btn {
        width: 90px;
        padding: 8px 0;
    }
}

@media screen and (max-width: 400px) {
    #content .plan-show-detail_mob {
        display: block;
    }

    #content .plan-show-detail_tab {
        display: none;
    }
}

// PLAN DETAIL MOBILE

@media screen and (max-width: 768px) {
    #wrapper {
        position: relative;
    }

    #plm__overlay {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        background: rgba(0,0,0,0.4);
        z-index: 10;
    }

    #plm__plan-detail {
        display: block;
        position: absolute;
        top: 0;
        left: -4%;
        right: -4%;
        min-height: 100vh;
        background-color: $white;
        z-index: 100;
    }

    .plmp__head {
        background-color: #e20074;
        height: 60px;
        width: 100%;
        display: flex;
        -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
        -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
        box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.24);
        margin-bottom: 10px;
        position: relative;
    }

    .plmp__head_w-ribbon {
        border-bottom: 1px solid #5791c5;
    }

    #content #plm__plan-back {
        height: 60px;
        width: 60px;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
    }

    #content .plm__plan-name {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        color: $white;
        font-size: 24px;
        text-transform: uppercase;
    }

    #content .plmp__ribbon {
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #5791c5;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        width: 200px;
        margin: 0;
    }

    .plmp__body {
        padding: 15px;
    }

    #content .plmp__body-row {
        border-bottom: 1px solid #d0d0d0;
        padding: 10px 0;
        display: flex;
    }

    #content .plmp__row-price {
        border-bottom: 0;
    }

    .plmp__body-col,
    .plmp__row-price .plmp__body-col-1 {
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .plmp__body-col-1 {
        justify-content: flex-start;
    }

    .plmp__body-col-1 {
        width: 25%;
    }

    .plmp__body-col-2 {
        width: 75%;
    }

    #content .plmpd-title,
    #content .plmp__data,
    #content .plmp__data-location,
    #content .plmp__call-tit {
        margin: 0;
        line-height: 16px;
        color: #262626;
    }

    #content .plmpd-title,
    #content .plmp_small {
        color: #6c6c6c;
        font-size: 14px;
        line-height: 14px;
        margin: 0;
    }

    .plmp__sep {
        height: 1px;
        width: 100%;
        background-color: #d0d0d0;
        margin: 10px 0;
    }

    .plmp__row-call .plmp__body-col-1 {
        justify-content: space-between;
    }

    #content .plmp__body .plan-sale,
    #content .plmp__price {
        margin: 0;
    }

    #content .plmp__price {
        font-size: 26px;
        line-height: 26px;
    }

    .plmp__btn-holder {
        text-align: center;
        margin: 10px 0;
        display: inline-block;
        width: 100%;
    }

}

@media screen and (max-width: 671px) {
    #plm__plan-detail {
        left: -2%;
        right: -2%;
    }
}

@media screen and (max-width: 400px) {
    .plmp__body-col-1 {
        width: 30%;
    }

    .plmp__body-col-2 {
        width: 60%;
    }

    #content .plmp__btn-holder .plan-choose-btn {
        width: 100%;
    }
}

/* MODULE PROLONG */

#sec-prolong {
    padding: 40px 0;
}

.prolong-form-holder {
    display: inline-block;
    margin-top: 10px;
}

.prolong-input-wrapper {
    display: inline-block;
    text-align: left;
}

#content .prolong-input {
    border-radius: 4px;
    border: 1px solid #a4a4a4;
    font-size: 18px;
    padding: 7px 10px;
    display: inline-block;
    margin-right: 5px;
    width: 220px;
}

.prolong-cta,
.prolong-separator,
#prolong-cmb {
    display: inline-block;
}

#content .prolong-separator span {
    margin: 0 5px;
    color: #7c7c7c;
}

.prolong-wrapper {
    text-align: center;
}

#content .prolong-title {
    text-transform: initial;
    color: #262626;
}

@media screen and (max-width: 850px) {
    .prolong-wrapper {
        text-align: left;
    }

    #content .prolong-title {
        text-transform: uppercase;
        color: $magenta
    }
}

@media screen and (max-width: 670px) {

    .prolong-wrapper {
        text-align: center;
    }

    .prolong-cta,
    .prolong-separator,
    #prolong-cmb {
        display: block;
    }

    .prolong-form-holder {
        margin-bottom: 10px;
        display: block;
    }

    #content .prolong-separator span {
        color: #383838;
        font-size: 16px;
    }

    .prolong-separator {
        max-width: 310px;
        margin: 0 auto;
        position: relative;
        margin-bottom: 10px;
    }

    .prolong-separator .p-separator {
        background-color: #d0d0d0;
        height: 1px;
        width: 42%;
        position: absolute;
        bottom: 50%;
    }

    .p-separator.sl {
        left: 0;
    }

    .p-separator.sr {
        right: 0;
    }

    .prolong-cta {
        display: block;
    }


    #content .prolong-input {
        width: 190px;
    }

    .prolong-wrapper {
        padding: 0;
    }

    #content #module-plan-chooser .container-fixed {
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (max-width: 330px) {
    #content .prolong-input {
        width: 170px;
    }
}

.prolong-cta {
    display: none;
}

/* MODULE PLAN CHOOSER END */

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
