/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';

/* ===============
   Helpers
   =============== */

#content .pull-center {
    text-align: center;
}

#content .pull-middle {
    vertical-align: middle;
    padding-top: 20% !important;
}

#content .pull-bottom {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 768px) {
    #content .row {
        margin-left: inherit;
        margin-right: inherit;
    }
}

#content .mgb-30 {
    margin-bottom: 30px;
}


/* ===============
   Global
   =============== */

@media screen and (max-width: 960px) {
    #content .responsive-image {
        max-width: 90%;
        max-height: 85%;
    }
    #content .responsive-image-ec {
        max-width: 90%;
        max-height: 45%;
    }
}


/* EC */

#content img.responsive-image-ec.ec-date-right {
    position: absolute;
    top: 220px;
    right: -110px;
}

#content img.responsive-image-ec.ec-date-left {
    position: absolute;
    top: 210px;
    left: -50px;
}

@media screen and (max-width: 960px) {
    #content img.responsive-image-ec.ec-date-right {
        position: absolute;
        top: 67%;
        right: -11%;
    }
     .feature-img-right {
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    #content img.responsive-image-ec.ec-date-right {
        right: 0;
    }
    #content img.responsive-image-ec.ec-date-left {
        top: 185px;
        left: 0;
    }
   
}

@media screen and (min-width: 768px) and (max-width: 800px) {
    #content .feature-img-left {
        margin-top: 75px;
    }
    .feature-img-right {
        margin-top: 75px;
    }
    #content img.responsive-image-ec.ec-date-left {
        position: absolute;
        top: 140px;
        left: -50px;
    }
}

#content .gray-box {
    background-color: #f4f0f4;
    margin-top: 40px;
    padding: 20px 50px 50px 50px;
}

#content .wht-box {
    background-color: #fff;
}


/* ===============
  Hero
   =============== */

#hero {
    /*background: url(../img/hills.jpg) no-repeat 50% 50%;*/
    min-height: 595px;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    background-image: url(../img/hills.png), url(../img/kv_pc.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%;
}

.hero-row {
    padding-top: 70px;
}

.hero-box {
    width: 100%;
}

#hero .hero-title {
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    padding-bottom: 30px;
}


/* ===============
  Features
   =============== */

.channel-row {
    min-height: 145px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.programm-row {
    min-height: 380px;
    padding-bottom: 60px;
    margin-bottom: 10px;
}

.section_title {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.feature-img-left {
    min-height: 1px;
    max-width: 324px;
    /*width: 100%;*/
    float: left;
    position: relative;
    z-index: 10;
}

.feature-img-right {
    min-height: 1px;
    max-width: 324px;
    float: right;
    position: relative;
    z-index: 10;
    padding-left: 0px;
}


/*
sec-1
*/

#sec-1 {
    background: url(../img/sec1-bg.png) no-repeat 50% 50%;
    min-height: 1250px;
    overflow: hidden;
    background-size: cover;
}

@media screen and (max-width: 768px) {
    #sec-1 {
        background: url(../img/sec1-bg.png) no-repeat 100% 100%;
        min-height: 1845px;
        overflow: hidden;
        background-size: contain;
    }
}


/* sec-2 */

#sec-2 {
    background: url(../img/sec2.jpg) no-repeat 50% 50%;
    min-height: 1396px;
    overflow: hidden;
    background-size: cover;
    padding-top: 120px;
    /*   background-image: url(../img/sec2-bg1.png), url(../img/sec2-bg.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 50%, 50% 50%;*/
}


/* sec-3 */

#sec-3 {
    background: url(../img/sec3-bg.png) no-repeat 50% 100%;
    min-height: 1440px;
    overflow: hidden;
    padding-top: 120px;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    #sec-3 {
        padding-bottom: 100px;
    }
}
