    <section id="hero">
        <div class="container-fixed"></div>
            <div class="row text_centered">
                     <div id="hero-content">
                         <div id="h-title">
                            <h1 id="hero-title">ROZBAĽTE TO S VÝHODNÝM<br>MAGENTOVÝM BALÍKOM</h1>
                            <img class="eecat-zlava" src="../assets/img/eecat-zlava.png"><br> 
                            <div id="hero-subtitle">MAGIO INTERNET L + PAUŠÁL ÁNO M A VYŠŠÍ</div>

                        </div> 
                    </div>  
                </div>
            </div>
        </section>
   
        <section id="sec-0" class="section">
            <div class="container-fixed">
                <div class="row">
                    <div id="over-first" class="col-xs-12 col-sm-12 col-md-12">                                 
                            
                        <div class="row"> 
                            <div class="col-xs-12 col-sm-12 col-md-6"> 
                                <div class="center hw-img">  
                                    <img src="../assets/img/bundle.png">
                                </div>
                                <div class="eecat-div">     
                                    <img class="eecat" src="../assets/img/eecat-14dni.png"> 
                                </div>
                            </div> 
                            <div class="col-xs-12 col-sm-12 col-md-6 inform-box"> 
                                <p class="desc">Vezmite si k svojmu Magio internetu&nbsp;L aj paušál ÁNO&nbsp;M alebo vyšší, založte skupinu Magenta&nbsp;1 a&nbsp;<strong>mesačný poplatok vám znížime o&nbsp;5&nbsp;€.</strong></p>
                                <div class="clearfix">
                                    <div class="row">
                                        <div id="monthly-left">Služby v skupine Magenta 1</div>  
                                        <div id="monthly-right">mesačne</div>      
                                    </div>

                                </div>  
                                <div id="example1" class="clearfix">
                                    <div class="row">
                                        <div class="left1">Magio internet L<br>Paušál ÁNO M alebo vyšší<img id="info-balik-volania"src="../assets/img/icko.png" style=" width: 15px; height: auto; margin-left: 2px; cursor: pointer;" ></div> 
                                        <div class="right">15,90&nbsp;€<br>od&nbsp;20,00&nbsp;€</div>  
                                    </div>

                                </div>
                                <div id="example2" class="clearfix">
                                    <div class="row">
                                        <div class="left2">Spolu</div> 
                                        <div class="right">od&nbsp;<span id="magenta"><strong>30,90&nbsp;€</strong></span> <br>bežná cena <span class="through">35,90</span>&nbsp;€</div>  
                                    </div>

                                </div>

                                <div class="m-bt gray">So skupinou Magenta 1 navyše získate:</div>
                                <div class="container">
                                <div class="row m-bt">
                                    <div class="small-ico"><img src="../assets/img/ico-01.png"></div> <p class="side-info"><strong>ešte viac voľných dát a volaní v paušále,</strong><img id="volne-data"src="../assets/img/icko.png" style=" width: 15px; height: auto; margin-left: 2px; cursor: pointer;" ></p>  
                                </div>
                                <div class="row m-bt">
                                    <div class="small-ico"><img src="../assets/img/ico-02.png"></div> <p class="side-info">možnosť pridať do skupiny ďalších štyroch členov s paušálom ÁNO, Happy, Bez záväzkov alebo s Easy kartou, s ktorými si <strong>voláte, esemeskujete a ememeskujete v rámci skupiny zadarmo,</strong></p>  
                                </div>
                                <div class="row m-bt">
                                    <div class="small-ico"><img src="../assets/img/ico-03.png"></div> <p class="side-info"><strong>možnosť vziať si nový smartfón z vybranej ponuky za výhodnejšiu cenu</strong> pre všetkých členov skupiny.</p>  
                                </div>
                                </div>
                                <div class="call-action"> 
                                    <a class="btn cta box__btn" href="https://www.telekom.sk/magenta-bundle/mam-zaujem">MÁM ZÁUJEM</a>
                                </div>
                                <p class="m-top blue-text"> <a href="https://www.telekom.sk/magenta1/#/" >Viac o skupine Magenta 1</a>&nbsp;<a href="https://www.telekom.sk/magenta1-skupina/" class="pipa">Založiť&nbsp;skupinu&nbsp;Magenta&nbsp;1</a></p>
                                <div id="dph-price">Založenie skupiny Magenta 1 a členstvo v nej je bezplatné.<br>
                                    Uvedené ceny sú s DPH a plaria pri 24 mesačnej viazanosti paušálu.</div>
                            </div>
                        </div>
                    </div>
                    <div class="podmienky"> <a href="https://www.telekom.sk/documents/10179/17370447/Osobitne+podmienky+magenta+1/">Podmienky</a></div>
                </div>
                
            </div>

        </section>
        <script type="text/javascript" src="../assets/js/main.js"></script>