/* personalForma section */
#section-shoppingScenario.stepSummary {
    .personalForm {
        padding-top: 20px;
        .sec__title {
            display: inline;
        }
        .checkbox {
            label {
                font-size: 18px;
                vertical-align: sub;
            }
        }
        .infoRight {
            float: right;
            font-size: 16px;
            line-height: 28px;
            @media screen and (max-width: 768px) {
                float: none;
                display: block;
            }
        }
        .formContent, .deliveryAdressFields, .deliveryAdressContent, .businessConditions {
            background-color: #ededed;
            padding: 2%;
            margin-bottom: 3%;
            .rbCheckbox {
                label {
                    display: inline;
                    cursor: pointer;
                }
                div.checker {
                    max-height: 30px;
                }
                div.checker span {
                    background-color: #fff;
                }
                div.checker input {
                    cursor: pointer;
                }
            }
            .formField {
                display: inline-block;
                width: 49.3%;
                vertical-align: top;
                @media screen and (max-width: 543px) {
                     width: 100%;
                 }
                &.streetNo,
                &.psc {
                    width: 24.4%;
                    @media screen and (max-width: 768px) {
                        width: 23.9%;
                    }
                    @media screen and (max-width: 543px) {
                        width: 100%;
                     }
                }
                label span {
                    color: #e20074;
                }
                &.business {
                    display: none;
                }
                &.showBusiness {
                    display: inline-block;
                }
            }
            label, input {
                display: block;
            }
            label {
                font-size: 18px;
            }
            input {
                border-radius: 5px;
                width: 100%;
                margin-bottom: 15px;
                color: #a4a4a4;
                &.error.error_message {
                    color: red;
                    margin-bottom: 10px;
                }
                &.valid {
                    color: green;
                }
                &:focus {
                    color: #000;
                }
            }
            .additionalFields {
                border-top: 1px solid #ccc;
            }
        }


        .formContent {
            .personalInfoForm {
                margin-top: 2%;
                .additionalFields .formField {
                    @media screen and (max-width: 768px) {
                        &:last-of-type, &:nth-last-child(2) {
                            display: block;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .deliveryAdressContent {
            border: 0px solid #ccc;
            margin-bottom: 3%;
            .checkbox {
                padding: 0;
                label {
                    font-size: 18px;
                    vertical-align: sub;
                }
            }
            .deliveryAdressFields {
                display: none;
                padding: 0;
                margin-bottom: 0;
                margin-top: 2%;
                .formField {
                    @media screen and (max-width: 768px) {
                        &:last-of-type, &:nth-last-child(2) {
                            display: block;
                            width: 100%;
                        }
                    }
                }
                .courierInfo {
                    background-color: #fff7da;
                    padding: 2%;
                    p {
                        margin: 0;
                    }
                }
            }
        }
        .businessConditions {
            .businessCondChecker span {
                color: #e20074;
            }
            .togleArrow {
                display: inline;
                a {
                    font-size: 18px;
                }
            }
            .conditionsDetail {
                background-color: #fff7da;
                margin-top: 2%;
                padding: 2%;
                p {
                    margin: 0;
                    font-weight: normal;
                }
                a {
                    font-size: 16px;
                }
            }
        }
    }
    input[type="email"] {
        border: 1px solid #a4a4a4;
        -webkit-transition: border .3s ease, background .4s ease;
        -moz-transition: border .3s ease, background .4s ease;
        -ms-transition: border .3s ease, background .4s ease;
        -o-transition: border .3s ease, background .4s ease;
        transition: border .3s ease, background .4s ease;
        line-height: 1;
        padding: 3px 10px;
    }
    /* error messages */
    .error.checkbox_error {
        color: red;
        margin-top: 10px;
    }
    .error.error_message {
        color: red;
        margin-bottom: 10px;
    }
    .error.error_message.valid {
        margin-top: 10px;
    }
    div.error.error_message {
        margin-top: -10px;
    }
    input.valid {
        border: 1px solid green;
    }
    /* error messages END */
}
