<div class="c-row bg-gray-100">
    <div class="c-content">
        <div class="c-text padding-bottom-0">
            <h2>
                Magio TV Archív</h2>
            <!-- <p>
                <strong>Balíčky, ktoré uspokoja i toho najnáročnejšieho diváka.</strong></p> -->
        </div>
    </div>
</div>
<div class="c-row bg-gray-100">
    <div class="c-content">
        <div class="bg-white c-block zakladny-balicek">
            <!-- Archív S -->
            <div class="bg-white c-block zakladny-balicek">
                <div class="c-block-row">
                    <div class="c-md-5">
                        <a id="madarsky-balicek" name="madarsky-balicek"></a>
                        <h3>
                            <strong>Archív S</strong></h3>
                        <p class="c-w-80" style="width: 410px">&nbsp;
                        </p>
                    </div>
                    <div class="c-md-5 align-right align-md-left">
                        <p class="color-magneta">
                            <strong class="font-size-32">0 €</strong>
                            <br /> prvé tri mesiace
                            <br />
                            <strong class="font-size-32">1,99 €</strong>
                            <br /> od štvrtého mesiaca</p>
                    </div>
                </div>
                <div class="c-block-row margin-top-30">
                    <div class="c-md-10">
                        <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_S">
                            &nbsp;</div>
                    </div>
                </div>
            </div>
            <!-- Archív M -->
            <div class="bg-white c-block zakladny-balicek">
                <div class="c-block-row">
                    <div class="c-md-5">
                        <a id="madarsky-balicek" name="madarsky-balicek"></a>
                        <h3>
                            <strong>Archív M</strong></h3>
                        <p class="c-w-80" style="width: 410px">&nbsp;
                        </p>
                    </div>
                    <div class="c-md-5 align-right align-md-left">
                        <p class="color-magneta">
                            <strong class="font-size-32">0 €</strong>
                            <br /> prvé tri mesiace
                            <br />
                            <strong class="font-size-32">3,98 €</strong>
                            <br /> od štvrtého mesiaca</p>
                    </div>
                </div>
                <div class="c-block-row margin-top-30">
                    <div class="c-md-10">
                        <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_M">
                            &nbsp;</div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <br />
            <div class="empty-row">&nbsp;</div>
        </div>
        <div id="cmb__holder">&nbsp;</div>
    </div>
    <p>
        &nbsp;</p>
</div>
