<section id="sec-1" class="section sec-1">
  <div class="container-fixed">
    <div class="content clearfix">
      <div class="row">
        <div class="col-md-12 textwrapper">
          <h1>Formulár na preverenie platobnej schopnosti</h1>
        </div>
      </div>
      <form
        id="myForm"
        class="row contact-form-wrapper"
        action="https://backvm.telekom.sk/www/pps/index.php"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="row">
          <div class="col-md-12"><h2>Kontaktné údaje:</h2></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="customer" class="input-label"
                >Číslo adresáta z faktúry
                <img
                  id="customerCode"
                  alt=""
                  src="../assets/img/icko.png"
                  style="
                    width: 15px;
                    height: auto;
                    margin-left: 2px;
                    cursor: pointer;
                  "
                />
              </label>

              <input id="customer" class="input" type="text" name="customer" />
              <input id="iid" type="hidden" name="iid" value="no" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group phoneNum">
              <label for="contactPhoneNum" class="input-label"
                >Kontaktné telefónne číslo
              </label>
              <input
                id="contactPhoneNum"
                class="input"
                type="text"
                name="contactPhoneNum"
                maxlength="13"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group useremail">
              <label for="contactEmail" class="input-label"
                >E-mailová adresa</label
              >
              <input
                id="contactEmail"
                class="input"
                type="email"
                name="contactEmail"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="orderNumber" class="input-label"
                >Zadajte číslo webovej objednávky:
                <img
                  id="order"
                  alt=""
                  src="../assets/img/icko.png"
                  style="
                    width: 15px;
                    height: auto;
                    margin-left: 2px;
                    cursor: pointer;
                  "
              /></label>

              <input
                id="orderNumber"
                class="input"
                type="text"
                name="orderNumber"
              />
            </div>
          </div>
        </div>
        <div class="row mt-30">
          <div class="col-md-12"><h2>Dokumenty:</h2></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="file1" class="input-label">Príloha:</label>
              <input id="file1" class="input" type="file" name="file1" />
            </div>
          </div>
        </div>
        <div class="row add-other-doc-wrapp mt-10">
          <div class="col-md-6">
            <a class="add-other-doc">Pridať ďalší dokument</a>
          </div>
        </div>
        <div class="other-doc">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="file2" class="input-label">Príloha 2:</label>
                <input id="file2" class="input" type="file" name="file2" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="file3" class="input-label">Príloha 3:</label>
                <input id="file3" class="input" type="file" name="file3" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h4>Pznačte, akou formou si želáte odpoveď:</h4>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-2">
            <div class="checkb">
              <input id="way1" type="radio" name="answer" value="telefonicky" />
              <label for="repair1">Telefonicky</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="checkb">
              <input
                id="way2"
                type="radio"
                name="answer"
                value="email"
                checked
              />
              <label for="repair">E-mail</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="checkb">
              <input id="way3" type="radio" name="answer" value="sms" />
              <label for="repair">SMS</label>
            </div>
          </div>
        </div>
        <div class="row divider"></div>
        <div class="row mt-20">
          <div class="col-md-12">
            <div class="form-group">
              <a href="#" class="btn cta sendfrm">ODOSLAŤ</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
<script type="text/javascript" src="../assets/js/validations.js?v=1.1"></script>
