<section class="default" id="" data-segment="3">
	<div id="sec-akcie clearfix">
		<div class="container-fixed">
			<div class="row">
				<div class="offer__wrapper">
					<h2 class="velkyNadpis">AKTUÁLNE AKCIE</h2>
				</div>

				<!-- onlineOnlyBenefit banner -->
				<div class="onlineOnlyBenefit clearfix equal">
					<div class="push-md-7 col-sm-12 col-md-5 no-pad rightSide text-center equal">
							<img class="desktop" src="../assets/img/aktualne-akcie/onlineOnlyBenefit_404x330.png" alt="online only benefit">
							<img class="mob" src="../assets/img/aktualne-akcie/onlineOnlyBenefit_mob.jpg" alt="online only benefit">
							<img class="sticker" src="../assets/img/aktualne-akcie/extraDataWebOnly.png">
						</div>
				<div class="col-sm-12 pull-md-5 col-md-7 leftSide equal">
					<h3>ZA NÁKUP CEZ WEB VÁS ODMENÍME</h3>
					<p class="text"><b>Kúpte si paušál ÁNO M alebo vyšší cez web a získate do 1 GB navyše každý mesiac a to až na 12 mesiacov.</b> Dáta si vyzdvihnite každý mesiac v Telekom aplikácii.</p>
					<div class="onlineOnlyBenefit-table">
						<div class="onlineOnlyBenefit-tableContent clearfix">
							<div class="left">
								<p>
									<b>ÁNO M a M Dáta</b></p>
								</div>
							<div class="right">
								<p>
									+ 500 MB| mes.</p>
							</div>
						</div>
						<div class="onlineOnlyBenefit-tableContent magenta clearfix">
							<div class="left">
								<p>
									<b>ÁNO L, XL a XXL</b></p>
							</div>
							<div class="right">
								<p>
									+ 1 GB | mes.</p>
							</div>
						</div>
					</div>
					<div class="onlineOnlyBenefit-buttons">
						<a href="#module-plan-chooser" class="btn cta scroll-to-actions">VYBRAŤ PAUŠÁL ÁNO</a><a href="https://telekomsk.page.link/6xvZ" class="btn btn-outline mobOnly">AKTIVOVAŤ CEZ APLIKÁCIU</a>
						<a href="/wiki/ostatne/data-navyse" class="link">Ako aktivovať extra dáta</a>
					</div>
				</div>
			</div>

				<div class="sub-offer__holder">
					<div class="sub-offer-chris">
						<div class="tabs-container">
							<div class="tab__holder">
								  <!-- TABS MENU -->
								<ul class="tabs-menu hidden">
									<li class="variant current" data-variant="1">
										<a href="#tab-1">Zariadenia od 1 €</a></li>
									<!--<li class="variant " data-variant="2">
										<a href="#tab-2">Zariadenia od 1 €</a></li>-->
									
									<!-- <li class="variant" data-variant="3">
										<a href="#tab-3">Bezdrôtová domácnosť</a></li> -->
								</ul>
							</div>
							<div class="tab">
								<!-- TAB1 -->
								<div class="tab-content" id="tab-1">
									<p class="tab-label">
										Vyberte si z našej zázračnej ponuky k mobilným paušálom ÁNO jedno zo zariadení do domácnosti alebo nový<br>mobil
										Huawei, ku ktorému vám pribalíme tablet len za 4 centy.</p>
									<div class="tab-help">
										<div class="tab-help-sub">
											<div class="topData hidden">
												<h2 style="margin-bottom:0"><b>PREKONALI SME DÁTOVÝ STROP!</b></h2>
												<p style="margin:0">Vezmite si paušál ÁNO L alebo vyšší a <b>užívajte si navýšený objem dát:</b></p>
												<p>
													ÁNO L: <span style="text-decoration: line-through">4 GB</span> <b>10 GB</b><br>
													ÁNO XL: <span style="text-decoration: line-through">10 GB</span> <b>20 GB</b><br>
													ÁNO XXL: <span style="text-decoration: line-through">20 GB</span> <b>30 GB</b><br>
												</p>
											</div>
											<div class="tab-help-title">
												<h2>Ako získať zariadenie zo&nbsp;zázračnej ponuky?</h2>
											</div>
											<p>1. Vyberte si jedno zo zariadení zo&nbsp;zázračných akcií.</p>
											<p>2. Kliknite na PREJSŤ K NÁKUPU, kde zistíte viac info o zázračnej akcii.</p>
											<p>3. Dokončite objednávku. Zásielku vám doručíme kuriérom zadarmo.</p>
											<!-- <div class="tab-help-desc">
												<p></p>
											</div> -->
										</div>
									</div>
									<div class="tab-acc">
										<div class="tab-acc-select">
											<p><b>Zobraziť ceny pre:</b></p>
											<select id="select_program">
												<option value="s">Paušál ÁNO S</option>
												<option value="m">Paušál ÁNO M</option>
												<option value="m_data">Paušál ÁNO M Dáta</option>
												<option value="l" selected>Paušál ÁNO L</option>
												<option value="xl">Paušál ÁNO XL</option>
												<option value="xxl">Paušál ÁNO XXL</option>
											</select>
											<hr>
										</div>
										<div class="tab-acc-sub" data-href="#">
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/huaweiMediaPadT3.png" />
												<img class="sticker-picture" src="../assets/img/aktualne-akcie/ico-extra-web.png" />
												<!-- <img class="sticker-picture2" src="../assets/img/aktualne-akcie/ec_bonus_2GB-mesacne_65px.png" /> -->
											</div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" target="_blank" href="#">Mobil Huawei P20 Lite +<br>tablet ako darček
														len za 0,04 €</a>
												</div>
												<div class="tab-ex">
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Paušál ÁNO <span class="tab-ex-label-program">M</span></div>
														<div class="tab-ex-price">€</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok <a class="ttp" href="#" id="doplatok"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price">€</div>
													</div>
													<div class="2gbmore">
														<div class="tab-ex-label blue">
															+2 GB dát navyše <a class="ttp" href="#" id="2gbnavyse"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price blue">€</div>
													</div>
													<div>
														<div class="tab-ex-label magenta">
															Jednorazovo</div>
														<div class="text-right christmas">na webe <span class="christmas tab-ex-price"></span></div>
														<div class="tab-ex-label magenta">
															&nbsp;</div>
														<div class="christmas grey">
															<div class="text-right">v predajni <span class="christmas tab-ex-price"></span></div>
														</div>
													</div>
												</div>
												<!-- <div class="action-info">
													<a class="link" target="_blank" href="#">Viac informácií</a>
												</div> -->
												<div class="tab-action">
													<a class="btn cta" href="#">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub" data-href="#">
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/sony.jpg" />
												<img class="sticker-picture" src="../assets/img/aktualne-akcie/ico-extra-web.png" />
												<!-- <img class="sticker-picture2" src="../assets/img/aktualne-akcie/ec_bonus_2GB-mesacne_65px.png" /> -->
											</div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" target="_blank" href="#">Sony Playstation 4, dva ovládače,<br>tri hry a
														členská karta</a>
												</div>
												<div class="tab-ex">
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Paušál ÁNO <span class="tab-ex-label-program">M</span></div>
														<div class="tab-ex-price">€</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok <a class="ttp" href="#" id="doplatok"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price">€</div>
													</div>
													<div class="2gbmore">
														<div class="tab-ex-label blue">
															+2 GB dát navyše <a class="ttp" href="#" id="2gbnavyse"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price blue">€</div>
													</div>
													<div>
														<div class="tab-ex-label magenta">
															Jednorazovo</div>
														<div class="text-right christmas">na webe <span class="christmas tab-ex-price"></span></div>
														<div class="tab-ex-label magenta">
															&nbsp;</div>
														<div class="christmas grey">
															<div class="text-right">v predajni <span class="christmas tab-ex-price"></span></div>
														</div>
													</div>
												</div>
												<!-- <div class="action-info">
													<a class="link" target="_blank" href="#">Viac informácií</a>
												</div> -->
												<div class="tab-action">
													<a class="btn cta" href="#">Prejsť k nákupu</a></div>
											</div>
										</div>

										<div class="tab-acc-sub">
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/tv-samsung.jpg" />
												<img class="sticker-picture" src="../assets/img/aktualne-akcie/ico-extra-web.png" />
												<img class="sticker-picture2" src="../assets/img/aktualne-akcie/ec_bonus_2GB-mesacne_65px.png" />
											</div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" target="_blank" href="#">TV Samsung <br>UE49NU7172UXXH 49“</a>
												</div>
												<div class="tab-ex">
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Paušál ÁNO <span class="tab-ex-label-program">M</span></div>
														<div class="tab-ex-price">€</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok <a class="ttp" href="#" id="doplatok"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price">€</div>
													</div>
													<div class="2gbmore">
														<div class="tab-ex-label blue">
															+2 GB dát navyše <a class="ttp" href="#" id="2gbnavyse"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price blue">€</div>
													</div>
													<div>
														<div class="tab-ex-label magenta">
															Jednorazovo</div>
														<div class="text-right christmas">na webe <span class="christmas tab-ex-price"></span></div>
														<div class="tab-ex-label magenta">
															&nbsp;</div>
														<div class="christmas grey">
															<div class="text-right">v predajni <span class="christmas tab-ex-price"></span></div>
														</div>
													</div>
												</div>
												<!-- <div class="action-info">
													<a class="link" target="_blank" href="#">Viac informácií</a>
												</div> -->
												<div class="tab-action">
													<a class="btn cta" href="#">Prejsť k nákupu</a></div>
											</div>
										</div>
										
										<div class="tab-acc-sub vypredane" data-href="#">
											<div class="vypredane"></div>
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/roomba.jpg" />
												<img class="sticker-picture" src="../assets/img/aktualne-akcie/ico-extra-web.png" />
												<img class="sticker-picture2" src="../assets/img/aktualne-akcie/ec_bonus_2GB-mesacne_65px.png" />
												<img class="vypredane-img" src="../assets/img/aktualne-akcie/vypredane.png" />
											</div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" target="_blank" href="#">Robotický vysávač<br>iRobot Roomba 965</a>
												</div>
												<div class="tab-ex">
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Paušál ÁNO <span class="tab-ex-label-program">M</span></div>
														<div class="tab-ex-price">€</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok <a class="ttp" href="#" id="doplatok"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price">€</div>
													</div>
													<div class="2gbmore">
														<div class="tab-ex-label blue">
															+2 GB dát navyše <a class="ttp" href="#" id="2gbnavyse"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price blue">€</div>
													</div>
													<div>
														<div class="tab-ex-label magenta">
															Jednorazovo</div>
														<div class="text-right christmas">na webe <span class="christmas tab-ex-price"></span></div>
														<div class="tab-ex-label magenta">
															&nbsp;</div>
														<div class="christmas grey">
															<div class="text-right">v predajni <span class="christmas tab-ex-price"></span></div>
														</div>
													</div>
												</div>
												<!-- <div class="action-info">
													<a class="link" target="_blank" href="#">Viac informácií</a>
												</div> -->
												<div class="tab-action">
													<a class="btn cta" href="#">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub vypredane">	
											<div class="vypredane"></div>
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/huawei_dvojicky.png" />
												<img class="sticker-picture" src="../assets/img/aktualne-akcie/ico-extra-web.png" />
												<img class="sticker-picture2" src="../assets/img/aktualne-akcie/ec_bonus_2GB-mesacne_65px.png" />
												<img class="vypredane-img" src="../assets/img/aktualne-akcie/vypredane.png" />
											</div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" target="_blank" href="#">Mobil Huawei P20 Lite +<br> Y6 ako darček
														len za 0,04 €</a>
												</div>
												<div class="tab-ex">
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Paušál ÁNO <span class="tab-ex-label-program">M</span></div>
														<div class="tab-ex-price">€</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok <a class="ttp" href="#" id="doplatok"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price">€</div>
													</div>
													<div class="2gbmore">
														<div class="tab-ex-label blue">
															+2 GB dát navyše <a class="ttp" href="#" id="2gbnavyse"><img alt="" src="../assets/img/aktualne-akcie/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
														</div>
														<div class="tab-ex-price blue">€</div>
													</div>
													<div>
														<div class="tab-ex-label magenta">
															Jednorazovo</div>
														<div class="text-right christmas">na webe <span class="christmas tab-ex-price"></span></div>
														<div class="tab-ex-label magenta">
															&nbsp;</div>
														<div class="christmas grey">
															<div class="text-right">v predajni <span class="christmas tab-ex-price"></span></div>
														</div>
													</div>
												</div>
												<!-- <div class="action-info">
													<a class="link" target="_blank" href="#">Viac informácií</a>
												</div> -->
												<div class="tab-action">
													<a class="btn cta" href="#">Prejsť k nákupu</a></div>
											</div>
										</div>
										<!-- <div class="tab-acc-sub christmas" data-href="/">
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/vianoce_streamon_mob.png" />
											</div>
											<div class="tab-acc-cont">
												<div class="christmas">
													<h3><b>DVA MESIACE<br> BEZ MÍŇANIA DÁT</b><br><span style="font-size:20px;">S DARČEKOM STREAMON</span></h3>
													<p>Pozerajte videá a počúvajte hudbu cez vybrané aplikácie bez míňania svojich dát. <b>Balík StreamOn
															na 2 mesiace zadarmo!</b></p>
													<a href="/zazraky/vianoce/volania/stream-on" class="streamonInfo link">Viac info o StreamOn</a>
													<a href="https://telekomsk.page.link/streamon_vianoce_web_pausaly" target="_blank" class="btn btn_mag-outline">
														AKTIVOVAŤ STREAMON
													</a>
												</div>
											</div>
										</div> -->
										<!-- <div class="tab-acc-sub christmas" data-href="/">
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/datovyStrop.png" />
											</div>
											<div class="tab-acc-cont">
												<div class="christmas">
													<h3>PREKONALI SME<br><b>DÁTOVÝ STROP!</b><br></h3>
													<p>Vezmite si k novému zariadeniu paušál ÁNO L alebo vyšší a <b>užívajte si navýšený objem dát</b></p>
													<div>
														<p class="dataStropInfo">
															<span style="width: 100px; text-align: left;display: inline-block;">ÁNO L:</span>
															<span style="text-align:right; width: 80px; display: inline-block">
																<span style="text-decoration: line-through;">4 GB</span>
																<b> 10 GB</b>
															</span>
														</p>
														<p class="dataStropInfo">
															<span style="width: 100px; text-align: left;display: inline-block;">ÁNO XL:</span>
															<span style="text-align:right; width: 80px; display: inline-block">
																<span>
																	<span style="text-decoration: line-through;">10 GB</span>
																	<b> 20 GB</b>
																</span>
															</span>

														</p>
														<p class="dataStropInfo" style="margin-bottom: 10px;">
															<span style="width: 100px; text-align: left;display: inline-block;">ÁNO XXL:</span>
															<span style="text-align:right; width: 80px; display: inline-block">
																<span style="text-decoration: line-through;">20 GB</span>
																<b> 30 GB</b>
															</span>
														</p>
													</div>
													<a href="#module-plan-chooser" class="scroll-to streamonInfo" style="margin-bottom: 16px;">Pozrieť paušály ÁNO</a>
												</div>
											</div>
										</div> -->
									</div>
								</div>
								<!-- TAB 1 -->
	
								<!-- TAB2 -->
								<!-- <div class="tab-content" id="tab-2" style="display: block;">
									<p class="tab-label">
										ZARIADENIA OD 1€</p>
									<div class="tab-help">
										<div class="tab-help-sub">
											<div class="tab-help-title">
												<h2>
													Ako získať zariadenia od 1 € ku fixným službám?</h2>
											</div>
											<p>
												1. Vyberte si ľubovolné zariadenie z ponuky vpravo.</p>
											<p>
												2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu. Pre získanie zariadení z ponuky od 1€ je
												nutné objednať si službu Magio internetu minimálne vo verzii L alebo vyššej.</p>
											<p>
												3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko vám doručíme kuriérom.</p>
										</div>
										<div class="tab-icons">
											<img src="../assets/img/aktualne-akcie/icon1.png" />
											<p>
												EXTRA WEB ZĽAVA</p>
										</div>
										<div class="tab-icons">
											<img src="../assets/img/aktualne-akcie/icon2.png" />
											<p>
												14 DNÍ BEZ ZÁVÄZKOV</p>
										</div>
									</div>
									<div class="tab-acc">
										<div class="tab-acc-sub" data-href="notebook-lenovo-ideapad-320">
											<div class="tab-img-cont" style="padding: 20px;">
												<img src="../assets/img/aktualne-akcie/ntbk_lenovo320.jpg" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/notebook-lenovo-ideapad-320">Lenovo IdeaPad 320 (15")</a>
												</div>
												<div class="a-title-2">
													<a class="a-title" href="/notebook-lenovo-ideapad-320">&gt;</a>
												</div>
												<div class="tab-ex">
													<p>
														Napr. s pevnými službami XL:</p>
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Pevná služba XL</div>
														<div class="tab-ex-price">
															20,00 €</div>
													</div>
													<div class="tab-web-disc">
														<div class="tab-ex-label">
															<img src="../assets/img/aktualne-akcie/icon5.png" />Web zľava 2. a 3. mesiac</div>
														<div class="tab-ex-price">
															-5,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															9,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorazovo pri kúpe</div>
														<div class="tab-ex-price">
															1,00 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
											</div>
										</div>
								
								
										<div class="tab-acc-sub" data-href="playstation4-hry">
											<div class="tab-img-cont">
												<img src="../assets/img/aktualne-akcie/ps4.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/playstation4-hry">Sony PlayStation 4 Slim<br />
														+ 3 hry a PS Plus na 90 dní</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/playstation4-hry">&gt;</a></div>
												<div class="tab-ex">
													<p>
														Napr. s pevnými službami XL:</p>
													<p>
														<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Pevná služba XL</div>
														<div class="tab-ex-price">
															20,00 €</div>
													</div>
													<div class="tab-web-disc">
														<div class="tab-ex-label">
															<img src="../assets/img/aktualne-akcie/icon5.png" />Web zľava 2, a 3. mesiac</div>
														<div class="tab-ex-price">
															-5,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															9,00 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorázovo pri kúpe</div>
														<div class="tab-ex-price">
															1,00 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/playstation4-hry">Prejsť k nákupu</a></div>
											</div>
										</div> -->
								
										<!-- <div class="tab-acc-sub" data-href="lenovo-moto-g5s-plus">
													<div class="tab-img-cont">
														<img class="change-width mobil-width" src="../assets/img/aktualne-akcie/MotoG5.png" /></div>
													<div class="tab-acc-cont">
														<div>
															<a class="a-title" href="/lenovo-moto-g5s-plus">Mobil Lenovo Moto G5s Plus</a></div>
														<div class="a-title-2">
															<a class="a-title" href="/lenovo-moto-g5s-plus">&gt;</a></div>
														<div class="tab-ex">
															<p>
																Napr. s pevnými službami XL:</p>
															<p>
																<b>Mesačne</b></p>
															<div>
																<div class="tab-ex-label">
																	Pevná služba XL</div>
																<div class="tab-ex-price">
																	20,00 €</div>
															</div>
															<div class="tab-web-disc">
																<div class="tab-ex-label">
																	<img src="../assets/img/aktualne-akcie/icon5.png" />Web zľava 2. a 3. mesiac</div>
																<div class="tab-ex-price">
																	-5,00 €</div>
															</div>
															<div>
																<div class="tab-ex-label">
																	Doplatok k službe</div>
																<div class="tab-ex-price">
																	9,00 €</div>
															</div>
															<div>
																<div class="tab-ex-label">
																	Jednorazovo pri kúpe</div>
																<div class="tab-ex-price">
																	1,00 €</div>
															</div>
														</div>
														<div class="tab-action">
															<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
													</div>
												</div> 
											</div>
										</div> -->

									<!-- TAB 3 -->

									<!-- <div class="tab-content" id="tab-3" style="display: none;">
									<p class="tab-label">
										BEZDRÔTOVÁ DOMÁCNOSŤ</p>
									<div class="tab-help">
										<div class="tab-help-sub">
											<div class="tab-help-title">
												<h2>
													Ako získať zariadenia bezdrôtovej domácnosti ku fixným službám?</h2>
											</div>
											<p>
												1. Vyberte si ľubovolné zariadenie z ponuku vpravo.</p>
											<p>
												2. Kliknite na PREJSŤ K NÁKUPU, kde si vyberiete variant Magio internetu a získate viac informácií.</p>
											<p>
												3. Dokončite objednávku. Čo najskôr ju vybavíme a všetko vám doručíme kuriérom.</p>
										</div>
										<div class="tab-icons">
											<img src="../assets/img/aktualne-akcie/icon1.png" />
											<p>
												EXTRA WEB ZĽAVA</p>
										</div>
										<div class="tab-icons">
											<img src="../assets/img/aktualne-akcie/icon2.png" />
											<p>
												14 DNÍ BEZ ZÁVÄZKOV</p>
										</div>
									</div>
									<div class="tab-acc">
										<div class="tab-acc-sub" data-href="lg-sj2-soundbar">
											<div class="tab-img-cont" style="padding: 10px;">
												<img src="../assets/img/aktualne-akcie/lgsj2-soundbar.jpg" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/lg-sj2-soundbar">LG SJ2 Sound bar
													bluetooth repro sústava k TV</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/lg-sj2-soundbar">&gt;</a></div>
												<div class="tab-ex">
													<p>
														K ľubovolnej pevnej službe:</p>
														<p>
															<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															0 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorazovo pri kúpe</div>
														<div class="tab-ex-price">
															69,90 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
											</div>
										</div>
	
										<div class="tab-acc-sub" data-href="sluchadla-mys">
											<div class="tab-img-cont" style="padding: 10px;">
												<img src="../assets/img/aktualne-akcie/hp.png" /> <img class="sticker-picture2" src="../assets/img/aktualne-akcie/wording_4.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/sluchadla-mys">Bezdrôtové slúchadlá s
													mikrofónom + bezdrôtová myš</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/sluchadla-mys">&gt;</a></div>
												<div class="tab-ex">
													<p>
														K ľubovolnej pevnej službe:</p>
														<p>
															<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															0 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorazovo pri kúpe</div>
														<div class="tab-ex-price">
															9,90 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
											</div>
										</div>
	
										<div class="tab-acc-sub" data-href="glitel-gp-7420">
											<div class="tab-img-cont">
												<img class="change-width" src="../assets/img/aktualne-akcie/glitel7420.jpg" style="max-width: 180px;" /><br />
												<img class="change-width" src="../assets/img/aktualne-akcie/icon3.png" /> <img class="sticker-picture2" src="../assets/img/aktualne-akcie/wording_4.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/glitel-gp-7420">Powerline Extender
													Glitel GP-7420</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/glitel-gp-7420">&gt;</a></div>
												<div class="tab-ex">
													<p>
														K ľubovolnej pevnej službe:</p>
														<p>
															<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															0 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorazovo pri kúpe</div>
														<div class="tab-ex-price">
															9,90 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-acc-sub" data-href="devolo-dlan-550-wifi">
											<div class="tab-img-cont">
												<img class="change-width" src="../assets/img/aktualne-akcie/tplink4220.png" /><br />
												<img class="change-width" src="../assets/img/aktualne-akcie/icon4.png" /> <img class="sticker-picture2" src="../assets/img/aktualne-akcie/wording_5.png" /></div>
											<div class="tab-acc-cont">
												<div>
													<a class="a-title" href="/devolo-dlan-550-wifi">Powerline Wi-Fi Extender
													Devolo dLAN® 550 WiFi</a></div>
												<div class="a-title-2">
													<a class="a-title" href="/devolo-dlan-550-wifi">&gt;</a></div>
												<div class="tab-ex">
													<p>
														K ľubovolnej pevnej službe:</p>
														<p>
															<b>Mesačne</b></p>
													<div>
														<div class="tab-ex-label">
															Doplatok k službe</div>
														<div class="tab-ex-price">
															0 €</div>
													</div>
													<div>
														<div class="tab-ex-label">
															Jednorazovo pri kúpe</div>
														<div class="tab-ex-price">
															19,90 €</div>
													</div>
												</div>
												<div class="tab-action">
													<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></div>
											</div>
										</div>
										<div class="tab-mag-go">
											<h2>
												TELEVÍZIA KDEKOĽVEK</h2>
											<p>
												MAGIO GO TV BOX</p>
											<div class="tab-mag-go-1">
												<img src="../assets/img/aktualne-akcie/magio_box.png" /> <img class="sticker-picture" src="../assets/img/aktualne-akcie/wording_9.png" /></div>
											<div class="tab-mag-go-2">
												<a class="btn cta_mag popup" href="#info-magio-box">VIAC INFO</a></div>
										</div>
									</div>
								</div> -->
							</div>
							<div class="accordion" data-accordion="3">
								<!-- data accordion -->
							</div>
							<div class="dph">
								<p>Uvedené ceny sú s DPH</p>
							</div>							
						</div>
					</div>
						<!-- LEGAL TEXT -->
					<!-- <div id="cont_legal">
						<p class="legal-text">
							PODMIENKY</p>
						<p class="legal-text">
							<strong>Darčeky k Magio internetu: </strong>Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie služby Magio Internet alebo Magio Televízia v programe L alebo XL, s viazanosťou 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 13 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy. Akciová cena zariadení, ktoré sú predávané v danom balíčku, je platná len pri zakúpení daného balíčka ako celku.</p>
						<p class="legal-text">
							<a id="show_legal">Čítať viac</a></p>
						<p class="legal-text" id="legal_more">
							<strong>Zariadenia od 1 €: </strong>Ponuka zariadení k Službám pevnej siete platí do 31.1.2018, resp. do vypredania skladových zásob, podľa toho, čo nastane skôr. Podmienkou je objednanie služby Televízie, Internetu alebo Hlasovej služby v programe L alebo XL, s viazanosťou 24 mesiacov a uzavretie kúpnej zmluvy. Pri kúpe zariadenia uzatvára účastník kúpnu zmluvu spolu so Zmluvou/Dodatkom. Jeden zákazník (RČ/IČO) môže ponuku využiť len jedenkrát. Mesačný poplatok za poskytovanie Služby sa skladá z dvoch zložiek – základnej za poskytovanie zvoleného programu služby v zmysle aktuálnej akciovej ponuky a doplnkovej v sume 9 € s DPH. Doplnková časť poplatku je Účastníkovi účtovaná počas obdobia 24 mesiacov od uzavretia Zmluvy/Dodatku a kúpnej zmluvy.</p>
					</div> -->
					</div>
			</div>
				</div>
		</div>
	</section>
	
	<script type="text/javascript" src="../assets/js/aktualne-akcie.js?v=3"></script>
	