	<section id="hero">
		<div class="container-fixed">
			<div class="hero__mobile">
				<!-- mobile --></div>
			<div class="hero__content">
				<h1 class="hero__title">
					<b>MAGIO TELEVÍZIA</b><br />
					CEZ SATELIT</h1>
				<a class="scroll-to" href="?aktualne-akcie#sec-4">Pozrieť aktuálne akcie k Magtio TV SAT</a></div>
		</div>
	</section>
	<div id="nav-sticky">
		<ul>
			<li>
				<a class="scroll-to" href="#sec-1">VÝHODY</a></li>
			<li>
				<a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
			<li>
				<a class="scroll-to" href="#sec-4">AKTUÁLNE AKCIE</a></li>
			<li>
				<a class="scroll-to" href="#sec-5">TV STANICE</a></li>
			<li>
				<a class="scroll-to" href="#sec-6">FUNKCIE</a></li>
			<li>
				<a class="scroll-to" href="#sec-7">DOPLNKOVÉ SLUŽBY</a></li>
			<li>
				<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
		</ul>
	</div>
	<section class="section sec-1" id="sec-1">
		<div class="fixed-column">
			<h2 class="section__title">
				VÝHODY MAGIO TELEVÍZIE</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Programy v HD kvalite" class="media__img" src="../assets/img/ico-hd.png" />
					<p class="media__title_black">
						Programy v HD kvalite</p>
					<p class="media__desc">
						Aj s Magio televíziou cez satelit si vychutnáte skutočné farby a ostré detaily pri sledovaní vybraných TV staníc v HD kvalite.</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Mobilná televízia Magio GO zadarmo" class="media__img" src="../assets/img/ico-tv.png" />
					<p class="media__title_black">
						Mobilná televízia Magio GO zadarmo</p>
					<p class="media__desc">
						K Magio televízii cez satelit získate zadarmo mobilnú televíziu Magio GO a to na celý čas využívania Magio TV cez satelit.</p>
					<a class="link media__link link_tundora" href="/televizia/magio-go">Viac o Magio GO</a></div>
				<div class="grid-g__col_4 media">
					<img alt="Široká dostupnosť v celej SR" class="media__img" src="../assets/img/ico-sk.png" />
					<p class="media__title_black">
						Dostupnosť na celom Slovensku</p>
					<p class="media__desc">
						Magio televíziu cez satelit vám zriadime všade tam, kde nie sú dostupné iné technológie (optická alebo metalická).</p>
					<!--<a href="#" class="link media__link link_tundora">Overiť dostupnosť</a>--></div>
			</div>
		</div>
	</section>
	<section class="section sec-2" id="sec-2">
		<div class="fixed-column">
			<h2 class="section__title">
				SLUŽBY A CENY MAGIO TELEVÍZIE</h2>
			<p class="section__desc">
				Magio televíziu cez satelit vám zriadime, ak u vás nie je dostupná iná technológia. Môžete si ju vziať v <a class="link" href="/chytry-balik">Chytrom balíku</a> samostatne alebo <b>za výhodnejšiu cenu v kombinácii s Magio internetom alebo Pevnou linkou</b>. Dostupnosť služby si overíte priamo v objednávke</p>
			<div class="col-group col-holder">
				<div class="grid-g__col_4 variant2">
					<div class="variant__title">
						Magio TELEVÍZIA M</div>
					<div class="variant__chanels">
						<p class="chanels__title">
							<a class="fancy" href="#magiom">61 TV STANÍC</a></p>
					</div>
					<img alt="" class="variant__img" src="../assets/img/tv-1.png" />
					<div class="variant__go">
						Mobilná TV Magio GO zadarmo<br />
						<span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
					<div class="variant__pricing">
						<p class="price">
							10,00 € / mesačne</p>
						<p class="price__detail info-tooltip info-5 link-ul">
							s Magio internet a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					</div>
					<!-- btn nakonci -->
					<div class="variant__pricing">
						<br />
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=m"><span>VYBRAŤ</span> </a></div>
					<!-- koniec --></div>
				<div class="grid-g__col_4 variant2">
					<div class="variant__title">
						Magio TELEVÍZIA L</div>
					<div class="variant__chanels">
						<p class="chanels__title">
							<a class="fancy" href="#magiol">78 TV staníc</a></p>
					</div>
					<img alt="" class="variant__img" src="../assets/img/tv-2.png" />
					<div class="variant__go">
						Mobilná TV Magio GO zadarmo<br />
						<span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
					<div class="variant__pricing">
						<p class="price">
							15,00 € / mesačne</p>
						<p class="price__detail info-tooltip info-5 link-ul">
							s Magio internetom a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
					</div>
					<!-- btn nakonci -->
					<div class="variant__pricing">
						<br />
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=l"><span>VYBRAŤ</span> </a></div>
					<!-- koniec --></div>
				<div class="grid-g__col_4 variant2">
					<div class="variant__title">
						Magio TELEVÍZIA XL</div>
					<div class="variant__chanels">
						<p class="chanels__title">
							<a class="fancy" href="#magioxl">103 TV staníc</a></p>
					</div>
					<img alt="" class="variant__img" src="../assets/img/program_xl.png" />
					<div class="variant__go">
						Mobilná TV Magio GO zadarmo<br />
						<span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
					<div class="variant__pricing">
						<p class="price">
							20,00 € / mesačne</p>
						<p class="price__detail info-tooltip info-5 link-ul">
							s Magio internetom a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
						<!-- <a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl"><span>VYBRAŤ</span> </a> --></div>
					<!-- btn nakonci -->
					<div class="variant__pricing">
						<br />
						<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl"><span>VYBRAŤ</span> </a></div>
					<!-- koniec --></div>
			</div>
			<div class="col-group">
				<div class="grid-g__col_12">
					<p class="disclaimer">
						Všetky uvedené ceny sú vrátane DPH.</p>
				</div>
			</div>
			<div id="cmb__holder">
				&nbsp;</div>
			<!--<div class="col-group">
				<div class="cmb__area" id="cmb__block">
					<h3 class="cmb__area__head" id="-5">
						CHCETE VÝHODNEJŠIU PONUKU?</h3>
					<a class="btn cta_mag" href="#" id="cmb__btn">Áno, zavolajte mi späť</a></div>
			</div>--></div>
	</section>
	<section class="section sec-3" id="sec-3">
		<div class="fixed-column">
			<h2 class="section__title">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Extra zľava 10 €" class="media__img" src="../assets/img/ico-discount.png" />
					<p class="media__title">
						Extra zľava 10 €</p>
					<p class="media__desc">
						pri kúpe Magio internetu cez web. V kombinácii s televíziou a Pevnou linkou zľava až do 40 €.</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Prvých 14 dní bez záväzkov" class="media__img" src="../assets/img/ico-cal.png" />
					<p class="media__title">
						Prvých 14 dní bez záväzkov</p>
					<p class="media__desc">
						pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Doručenie kuriérom zadarmo" class="media__img" src="../assets/img/ico-car.png" />
					<p class="media__title">
						Doručenie kuriérom zadarmo</p>
					<p class="media__desc">
						kdekoľvek v rámci SR</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section sec-aktualneAkcie sec-akcie" id="sec-4">
		<!-- load from aktualne-akcie.html -->
	</section>

	<section class="section">
		<div class="fixed-column">
			<div class="row">
				<!-- OSTATNÉ AKCIE -->
				<h2 class="section__title">OSTATNÉ AKCIE</h2>
				<div class="offer-box box-2">
					<div class="offer__wrapper">
						<div class="left-holder">
							<h4 class="offer__title">
									CHCETE VIAC ZA MENEJ?</h4>
							<p class="offer__desc">
								Využite akciu a počas prvých troch mesiacov platíte cenu za nižšiu službu, pričom si užívate výhody vyššej služby.</p>
							<a class="link so__link" href="/viac-za-menej">Zistiť viac o akcii Viac za menej</a>
						</div>
						<div class="right-holder">
							<!-- <img alt="" src="../assets/img/prod-eset.jpg" /> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section sec-5" id="sec-5">
		<div class="fixed-column">
			<h2 class="section__title">
				TELEVÍZNE STANICE</h2>
			<div class="col-group">
				<div class="grid-g__col_6 media">
					<img alt="Programové balíky v cene" class="media__img" src="../assets/img/ico-pipe.png" />
					<p class="media__title">
						Televízine stanice Magio TV cez satelit</p>
					<p class="media__desc">
						Ponúkame pestrú ponuku televíznych staníc, ktoré uspokoja aj toho najnáročnejšieho diváka. Pozrite si dostupné filmové, športové, dokumentárne, hudobné alebo detské TV stanice pre najmladších členov domácnosti.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-sat">Pozrieť Programové balíky</a></div>
				<div class="grid-g__col_6 media">
					<img alt="Extra programové balíky" class="media__img" src="../assets/img/ico-program.png" />
					<p class="media__title">
						Extra programové balíky</p>
					<p class="media__desc">
						Pozrite si ponuku extra balíkov aj pre tých najnáročnejších divákov, ktoré si môžete objednať navyše už od 1,39 € /mes. Vyberte si napríklad balík HBO + Cinemax, HD alebo Maďarský programový balík.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-sat#-2">Pozrieť Extra balíky</a><br />
					<p class="link media__link link_tundora info-activation info-tooltip">
						Ako balíky aktivovať</p>
				</div>
			</div>
			<div class="col-group col-space">
				<div class="grid-g__col_7">
					<p class="custom-title">
						Magio TV je úplne iná liga</p>
					<p class="custom-desc">
						S Magio TV cez satelit L sledujte futbalové zápasy Premier League, Ligy majstrov UEFA alebo La Liga exkluzívne so stanicami Digi Sport. Zastavte a pretočte obraz, aby vám už žiadny gól neunikol!</p>
					<a class="link custom-link" href="/televizia/magio-sport">Viac o športových staniciach</a>
					<p class="custom-desc">
						Exkluzívna Ťuki TV vysiela pre tých najmenších nové, ale&nbsp;aj tradičné rozprávky , seriály či hudbu výhradne v slovenčine. Stanica je&nbsp;dostupná len pre zákazníkov Magio televízie L a XL.</p>
					<a class="link custom-link" href="http://www.tukitv.sk" target="_blank">Viac o Ťuki televízii</a></div>
				<div class="grid-g__col_5">
					<img alt="Magio TV je úplne iná liga" class="prod-img" src="../assets/img/tv.png" /></div>
			</div>
		</div>
	</section>
	<section class="section sec-6" id="sec-6">
		<div class="fixed-column">
			<h2 class="section__title">
				FUNKCIE MAGIO TELEVÍZIE</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Vyhľadávanie" class="media__img" src="../assets/img/ico-magnify.png" />
					<p class="media__title">
						Vyhľadávanie</p>
					<p class="media__desc">
						S Magio televíziou nájdete film alebo reláciu jednoducho podľa názvu programu alebo mena hercov či režiséra v originálnom vysielacom jazyku (ak sú v TV programe uvedení).</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Nahrávanie s Magio Boxom" class="media__img" src="../assets/img/ico-device.png" />
					<p class="media__title">
						Nahrávanie s Magio Boxom</p>
					<p class="media__desc">
						<span class="underline info-tooltip info-1">Nahrajte si program až na 4 Magio boxoch.</span><br />
						Nahrať môžete až 120 hodín a nahrávanie si môžete nastaviť popredu cez samotnú televíziu alebo internet.</p>
					<!--<a href="#" class="link media__link link_tundora">nastaviť nahrávanie</a>
					<br />
					<a href="#" class="link media__link link_tundora">nastaviť nahrávanie z mobilu</a>--></div>
				<div class="grid-g__col_4 media">
					<img alt="Pozastavenie a pretočenie obrazu" class="media__img" src="../assets/img/ico-remote.png" />
					<p class="media__title">
						Pozastavenie a pretočenie obrazu</p>
					<p class="media__desc">
						Zastavte alebo pretočte obraz dozadu a späť. Vrátiť sa dá do času, od kedy ste program začali sledovať (max. 90 minút). Pri prepnutí na inú stanicu sa táto pamäť vymaže.</p>
				</div>
				<div class="grid-g__col_12">
					<a class="link media__link link_blue link_wiki" href="/wiki/televizia/funkcie-magio-sat">Pozrieť všetky funkcie na Wiki</a></div>
			</div>
		</div>
	</section>
	<section class="section sec-7" id="sec-7">
		<div class="fixed-column">
			<h2 class="section__title">
				DOPLNKOVÉ SLUŽBY</h2>
			<div class="col-group">
				<div class="grid-g__col_4 media">
					<img alt="Spustenie programu od začiatku a Magio archív" class="media__img" src="../assets/img/ico-ec.png" />
					<p class="media__title_black">
						Externý disk na nahrávanie</p>
					<p class="media__desc">
						Externý disk na nahrávanie obľúbených programov s pamäťou až 320 GB má jednoduché pripojenie cez USB. Je určený k Magio boxom, ktoré podporujú nahrávanie (tzv. HDD ready).</p>
					<p class="link media__link link_blue info-tooltip info-3">
						Ako kúpiť externý disk</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Extra programové balíky" class="media__img" src="../assets/img/ico-program.png" />
					<p class="media__title_black">
						Extra programové balíky</p>
					<p class="media__desc">
						uspokoja aj tých najnáročnejších divákov už od 1,39 / mes. Pre filmových fanúšikov je určený balík HBO + Cinemax s filmovými trhákmi. Okrem neho vám ponúkame rodinný a športový balíček programov v HD kvalite či balíček s maďarskými kanálmi.</p>
					<a class="link media__link link_blue" href="/televizia/kanaly-magio-sat#-2">Pozrieť Extra balíky</a><br />
					<p class="link media__link link_tundora info-activation info-tooltip">
						Ako balíky aktivovať</p>
				</div>
				<div class="grid-g__col_4 media">
					<img alt="Pomoc s inštaláciou" class="media__img" src="../assets/img/ico-service.png" />
					<p class="media__title_black">
						Pomoc s inštaláciou</p>
					<p class="media__desc">
						Naši technici vám radi pomôžu so zapojením televízie za jednorazový poplatok 19,99 €. V prípade záujmu si službu Inštalácia technikom aktivujte v nákupnom košíku.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="detail">
		<div class="detail-lightbox" id="magiom">
			<div class="detail-content">
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
					&nbsp;</div>
				<p>
					*TV kanály Credo TV, TV Sonce, CCTV9 documentary, uTV, Inedit TV, Aljazeera English, CCTV News, Publika TV, RTV sú voľne dostupné na satelite, príjem signálu nie je garantovaný.</p>
				<p>
					**TV kanály Prima HD, Prima Cool, Nova sú vysielané v testovacej prevádzke, príjem signálu nie je garantovaný</p>
			</div>
		</div>
		<div class="detail-lightbox" id="magiol">
			<div class="detail-content">
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
					&nbsp;</div>
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_L_SAT">
					&nbsp;</div>
			</div>
		</div>
		<div class="detail-lightbox" id="magioxl">
			<div class="detail-content">
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
					&nbsp;</div>
				<div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_L_SAT">
					&nbsp;</div>
				<div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SAT_XL">
					&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="easy-lightbox" id="info-magio-box">
		<p class="close-end">
			<a>X</a></p>
		<h2>
			<b>Magio GO TV Box</b></h2>
		<div class="lightbox-content">
			<div class="lightbox-content-1">
				<div class="lightbox-content-mob">
					<img src="../assets/img/magio_go_box_mob.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" /></div>
				<div>
					Magio GO TV Box je malé zariadenie, s ktorým môžete sledovať internetovú televíziu Magio GO aj na veľkom televízore. Sledujte až 50 TV staníc na živo alebo vybrané stanice zo 7-dňového archívu všade, kde máte internet.</div>
			</div>
			<div class="lightbox-content-2">
				K Magio GO TV Box je potrebné aktivovať internetovú televíziu Magio GO za 3,99 € | mes. alebo Magio GO Premium za 5,99 € | mes.</div>
			<div class="lightbox-content-3">
				<div class="lightbox-icon">
					<img src="../assets/img/icon6.png" /></div>
				<div class="lightbox-3-cont">
					V prípade záujmu prejdite k nákupu Magio internetu a Magio GO TV Box aktivujte v nákupnom košíku.</div>
			</div>
		</div>
		<div class="lightbox-img-cont">
			<img src="../assets/img/magio_go_box.png" /> <img class="sticker-picture" src="../assets/img/wording_8.png" />
			<div class="tab-ex">
				<p>
					K ľubovolnej pevnej službe:</p>
				<div>
					<div class="tab-ex-label">
						Mesačne</div>
					<div class="tab-ex-price">
						0 €</div>
				</div>
				<div>
					<div class="tab-ex-label">
						Jednorazovo</div>
					<div class="tab-ex-price">
						<span class="strikethrough">69,99 €</span>29,90 €</div>
				</div>
			</div>
		</div>
		<p class="lightbox-action">
			<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k nákupu</a></p>
	</div>
	<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
