<div class="c-row c-row-1">
  <div class="c-content">
    <div class="c-text c-header">
      <h1>
        <b>VOLANIA OD TELEKOMU</b>
      </h1>
      <p>
        <strong
          >Ak hľadáte výhodný paušál, pevnú linku či predplatenú kartu, ste na
          správnom mieste!</strong
        ><br />
        Alebo si chcete preniesť číslo? Žiaden problém.<br />
        Môžete si vybrať i skvelú roamingovú ponuku alebo neobmedzené volania na
        mobily, ktoré získate k Pevnej linke!
      </p>
    </div>
  </div>
</div>
<div class="c-row c-row-2">
  <div class="c-content">
    <div class="c-tiles">
      <div class="c-tile first">
        <div class="c-img-1">
          <a
            class="c-tile-a"
            href="https://eshop.telekom.sk/category/pausaly-telekom/list/product_listing?productOfferingTerm=agreement24"
            ><img
              alt="Paušály"
              src="../assets/img/volanie-rozcestnik-happy.png"
              style="width: 55px; height: 55px;"
            />
            <span class="line-1"><b>Nove paušály</b></span></a
          >
        </div>
      </div>
      <div class="c-tile">
        <div class="c-img-1">
          <a
            class="c-tile-a"
            href="https://eshop.telekom.sk/category/pausaly-telekom/list/product_listing?productOfferingTerm=agreement24"
            ><img
              alt="Prenos čísla"
              src="../assets/img/volanie-rozcestnik-prenos.png"
              style="width: 47px; height: 69px;"
            />
            <span class="line-1"><b>Prenos čísla </b></span>
          </a>
        </div>
      </div>
      <div class="c-tile">
        <div class="c-img-1">
          <a class="c-tile-a" href="/volania/predplatenka"
            ><img
              alt="predplatenka"
              src="../assets/img/volanie-rozcestnik-predplatenka.png"
              style="width: 71px; height: 53px;"
            />
            <span class="line-1"><b>Predplatenka </b></span></a
          >
        </div>
      </div>
      <div class="c-tile">
        <div class="c-img-1">
          <a class="c-tile-a" href="/volania/pevna-linka"
            ><img
              alt="Pevná linka"
              src="../assets/img/volanie-rozcestnik-pevna.png"
              style="width: 66px; height: 60px;"
            />
            <span class="line-1"><b>Pevná linka </b> </span></a
          >
        </div>
      </div>
      <div class="c-tile">
        <div class="c-img-1">
          <a class="c-tile-a" href="/volania/roaming"
            ><img
              alt="Roaming"
              src="../assets/img/volanie-rozcestnik-roaming.png"
              style="width: 61px; height: 60px;"
            />
            <span class="line-1"><b>Roaming </b></span></a
          >
        </div>
      </div>
      <div class="c-tile">
        <div class="c-img-1">
          <a class="c-tile-a" href="/volania/volania-do-zahranicia"
            ><img
              alt="Volania do zahraničia"
              src="../assets/img/volanie-rozcestnik-zahranicie.png"
              style="width: 103px; height: 51px;"
            />
            <span class="line-2"
              ><b
                >Volania<br />
                do&nbsp;zahraničia
              </b></span
            ></a
          >
        </div>
      </div>
      <div class="c-tile">
        <div class="c-img-1">
          <a class="c-tile-a" href="/virtualne-cislo"
            ><img
              alt="Virtuálne číslo"
              id="virtualne-cislo"
              src="/documents/10179/179816/volania_maska_magenta.png/85f7f50f-85ff-4366-b0ea-f41849738dd5"
              style="width: 102px; height: 43px;"
            />
            <span class="line-2"><b>Virtuálne číslo</b></span>
          </a>
        </div>
      </div>
      <div class="c-tile">
        <div class="c-img-1">
          <a class="c-tile-a" href="/magenta1"
            ><img
              alt="Magenta1"
              id="magenta1"
              src="/documents/10179/108730/volanie-rozcestnik-magenta1.png/8184bc15-80ed-42dc-ac01-9a6bea61d2b4"
              style="width: 102px; height: 43px;"
            />
            <span class="line-2"><b>Magenta 1</b></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<p>
  &nbsp;
</p>
