/* =============== GLOBAL CONFIG  =============== */
/* =============== CSS FOR MICROSITE =============== */
/* HERO SECTION */
#hero {
  background: url(../img/kv.jpg) no-repeat 50% 50%;
  padding: 60px 2%;
  overflow: hidden;
  background-size: cover; }

.hero__content {
  text-align: left;
  max-width: 660px; }

#content .hero__title {
  color: #e20074;
  font-size: 2.8em; }

#content .hero__sub-title {
  color: #000000;
  font-size: 1.7em;
  font-weight: bold;
  border: 0;
  margin: 0;
  padding: 0; }

#content .hero__desc {
  color: #000;
  line-height: 1.2em;
  font-size: 1.2em;
  width: 60%; }

#sec-2 .secbg {
  background: url(../img/phone.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin-right: 20px;
  height: 250px; }

#sec-4 .secbg {
  background: url(../img/predajna_pojdeto.jpg) no-repeat 50% 50%;
  background-size: cover;
  margin-right: 20px;
  height: 250px; }

/* show-hide - start */
a.show-hide {
  display: inline-block; }

.show-hide-container {
  margin-left: 30px;
  margin-bottom: 15px;
  display: none; }

.show-hide-container p:first-child {
  margin-top: 5px !important; }

/* show-hide - end */
.section {
  margin-bottom: 10px;
  margin-top: 10px; }

.first {
  margin-top: 25px; }

.last {
  margin-bottom: 45px; }

#content a.pojdeto {
  font-size: 18px; }

.sec-2, .sec-4 {
  background: #ededed; }

#content .prod .grid-g__col_6:last-of-type {
  float: right; }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0; }
  .hero__mobile {
    background: url(../img/kv-mob.jpg) no-repeat center center;
    height: 195px;
    background-size: cover; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__content {
    padding: 40px 4%; }
  #content .hero__title, #content .hero__desc {
    color: #262626; }
  #content .hero__title {
    font-size: 36px; }
  #content .hero__desc {
    margin-top: 20px;
    width: 100%; }
  #hero .btn {
    margin-top: 20px; } }

@media screen and (max-width: 940px) {
  #sec-2, #sec-4 {
    padding: 20px 0; }
  .grid-g__col_6 {
    width: 100% !important; }
  #sec-3 .euro, #sec-1 .phone {
    display: none; }
  #sec-3 {
    margin-bottom: 25px; } }
