<section id="hero">
	<div>
		<div class="container-fixed">
			<div class="hero__mobile">
				<!-- <img class="icon-ec" id="naj_znacka_m" src="../assets/img/naj_znacka_mobil.png" /> -->
			</div>
			<div class="hero__content">
				<h1 class="hero__title">
					<b>RÝCHLEJŠÍ<br />MAGIO INTERNET</b>
				</h1>
				<a href="#sec-2" style="margin: 5px 0;" class="btn cta scroll-to">VYBRAŤ MAGIO INTERNET</a></br>
				<img class="icon-ec" src="../assets/img/ec-optika.png" />
			</div>
			<img src="../assets/img/ec-tonajlepsie.png" class="ec-nasim">
		</div>
	</div>
</section>
<div id="nav-sticky">
  <ul>
    <li>
      <a class="scroll-to" href="#sec-1">VÝHODY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-9">AKTUÁLNE AKCIE</a>
    </li>
    <li>
      <a class="scroll-to" href="#sec-3">DOPLNKOVÉ SLUŽBY</a>
    </li>
    <li>
      <a class="scroll-to" href="#wrapper"
        >NAHOR <img alt="arrow-top" src="../assets/img/arrow-top.png"
      /></a>
    </li>
  </ul>
</div>
<section class="section" id="sec-1">
  <div class="container-fixed">
    <div class="sec__title">
      VÝHODY MAGIO INTERNETU NA DOMA
    </div>
    <div class="row text_centered">
      <div id="slider_internet" class="slider">
        <div class="col-xs-12 col-md-4 prg-holder">
          <div class="img-holder" style="height: 75px;">
            <img alt=" " src="../assets/img/ico-01m.png" />
          </div>
          <p class="sec__description">
            <b>Magio GO Benefit zadarmo</b>
            <br />
            K Magio internetu teraz získate televíziu do mobilu Magio GO Benefit
            zadarmo. Nájdete v&nbsp;nej 10 TV kanálov, 7-dňový archív, dokumenty
            z&nbsp;BBC Earth, detskú Ťuki TV či atraktívne športové zostrihy.<br />

            <a href="#magio-go-benefit" class="link popup">Viac info</a>
          </p>
        </div>
        <div class="col-xs-12 col-md-4 prg-holder">
          <div class="img-holder" style="height: 75px;">
            <img alt=" " src="../assets/img/ico-02m.png" />
          </div>
          <p class="sec__description">
            <b>Spoľahlivý internet bez výpadkov</b>
            <br />
            Surfujte doma cez overenú sieť bez výpadkov, naraz aj na počítači,
            notebooku, telefóne alebo tablete cez bezdrôtovú Wi-Fi sieť alebo
            kábel.
            <br />
          </p>
        </div>
        <div class="col-xs-12 col-md-4 prg-holder">
          <div class="img-holder" style="height: 75px;">
            <img alt=" " src="../assets/img/ico-03m.png" />
          </div>
          <p class="sec__description">
            <b>Surfujte bez obmedzení</b>
            <br />
            Využívajte Magio internet podľa svojich predstáv. Je ideálny pre
            časté a&nbsp;intenzívne surfovanie bez časových a dátových
            obmedzení.
          </p>
        </div>
        <div class="col-xs-12 col-md-4 prg-holder">
          <div class="img-holder" style="height: 75px;">
            <img alt=" " src="../assets/img/ico-04m.png" />
          </div>
          <p class="sec__description">
            <b>Najdôveryhodnejšia značka</b>
            <br />
            Magio internet a&nbsp;TV sú víťazmi Ankety o&nbsp;najdôveryhodnejšiu
            značku v&nbsp;oblasti poskytovateľov internetových
            a&nbsp;televíznych služieb za rok 2018, ktorú robila nezávislá
            agentúra Nielsen.
          </p>
        </div>
        <div class="col-xs-12 col-md-4 prg-holder">
          <div class="img-holder" style="height: 75px;">
            <img alt=" " src="../assets/img/ico-05m.png" />
          </div>
          <p class="sec__description">
            <b>Široká dostupnosť</b>
            <br />
            S Magio internetom získate pripojenie k&nbsp;najmodernejšej optickej
            sieti, ktorej dostupnosť neustále rozširujeme na celom Slovensku.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="magio-go-benefit" style="display: none;">
  <div class="p-head">
    <div class="p-close">
      <a href="#" class="close-btn"><!-- close btn --></a>
    </div>
  </div>
  <!-- POPUP CONTENT -->
  <div class="p-content">
    <div class="popup-lightbox">
      <h4>Televízia v mobile Magio Go Benefit zadarmo</h4>

      <p>
        Akciu Magio Go Benefit zadarmo môžu využiť všetci zákazníci, ktorí si
        vezmú nový alebo predĺžia existujúci Magio internet v akomkoľvek
        variante.
      </p>
      <b>Ako prebehne aktivácia?</b><br />
      <p>
        Po úspešnej aktivácii Magio internetu vám pošleme SMS správu s
        prihlasovacími údajmi do aplikácie Magio Go Benefit zadarmo. Aplikáciu
        si do svojho mobilu stiahnite z aplikačného obchodu Google Play alebo
        AppStore. Pri prihlásení do aplikácie použite údaje z SMS správy.
      </p>
      <p>
        Po úspešnom prihlásení do aplikácie si môžete užívať televíznu zábavu
        počas celej doby viazanosti svojho Magio internetu kdekoľvek a
        kedykoľvek, keď máte pripojenie k internetu.
      </p>
      <p>Využívať Magio Go Benefit zadarmo je možné len na jednom zariadení</p>
      <br />
      <a href="#" class="link text-close">Zavrieť okno</a>
    </div>
  </div>
</div>
<section class="section" id="sec-2">
  <div class="container-fixed">
    <div class="sec__title">
      SLUŽBY A CENY MAGIO INTERNETU
    </div>
    <div class="row text_centered">
      <p class="sub-headline">
        Magio internet sa dá objednať v Chytrom balíku samostatne alebo za
        výhodnejšiu cenu
        <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="link"
          >s televíziou a/alebo Pevnou linkou už od 1 €</a
        >
      </p>
    </div>
    <div class="row text_centered">
      <div class="col-xs-12 col-md-4">
        <div class="service">
          <h3>
            MAGIO INTERNET M
          </h3>
          <div class="description">
            <h4 class="rpln-m">
              RÝCHLOSŤ 30/3 Mb/s<img
                alt=""
                src="../assets/img/info.png"
                style="width: 15px; height: auto; margin-left: 4px;"
              />
            </h4>
            <p>
              Bez časových a dátových obmedzení
            </p>
            <p>
              Stabilné a superrýchle pripojenie všetkých zariadení cez kábel
            </p>
            <p>Pripojenie cez Wi-fi</p>
          </div>
          <h4>10,90 € / MESAČNE</h4>
          <p class="magenta">
            s televíziou a/alebo Pevnou linkou<br />získate výhodnejšiu cenu
          </p>
          <a
            class="btn cta"
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=m"
            >VYBRAŤ</a
          >
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="service">
          <h3>
            MAGIO INTERNET L
          </h3>
          <div class="description">
            <h4 class="rpln-l">
              RÝCHLOSŤ 250/25 Mb/s<img
                alt=""
                src="../assets/img/info.png"
                style="width: 15px; height: auto; margin-left: 4px;"
              />
            </h4>
            <p>
              Bez časových a dátových obmedzení
            </p>
            <p>
              Stabilné a superrýchle pripojenie všetkých zariadení cez kábel
            </p>
            <p>Pripojenie cez Wi-fi</p>
          </div>
          <h4>15,90 € / MESAČNE</h4>
          <p class="magenta">
            s televíziou a/alebo Pevnou linkou<br />získate výhodnejšiu cenu
          </p>
          <a
            class="btn cta"
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=l"
            >VYBRAŤ</a
          >
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="service">
          <h3>
            MAGIO INTERNET XL
          </h3>
          <div class="description">
            <h4 class="rpln-xl">
              RÝCHLOSŤ 600/60 Mb/s<img
                alt=""
                src="../assets/img/info.png"
                style="width: 15px; height: auto; margin-left: 4px;"
              />
            </h4>
            <p>
              Bez časových a dátových obmedzení
            </p>
            <p>
              Stabilné a superrýchle pripojenie všetkých zariadení cez kábel
            </p>
            <p>Pripojenie cez Wi-fi</p>
          </div>
          <h4>20,90 € / MESAČNE</h4>
          <p class="magenta">
            s televíziou a/alebo Pevnou linkou<br />získate výhodnejšiu cenu
          </p>
          <a
            class="btn cta"
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=xl"
            >VYBRAŤ</a
          >
        </div>
      </div>
    </div>
    <div class="row text_centered">
      <div class="col-xs-12">
        <p>
          Všetky uvedené ceny sú vrátane DPH a&nbsp;s&nbsp;viazanosťou na 24
          mesiacov.
        </p>
      </div>
    </div>
  </div>
</section>
