													</div>
													<div class="entry-links"> </div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<form action="#" id="hrefFm" method="post" name="hrefFm"> <span></span> </form>
		</div>
<footer id="footer" role="footer">
	<div class="footer-bottom" style="">
		<div class="in">
			<form method="post" action="/delegate/newsletterSubscription" id="newsletterSubscriptionForm"> <label for="subscriberEmail"> Chcem dostávať Telekom novinky na môj e-mail: </label>
				<div class="clearfix"> <input type="text" id="subscriberEmail" name="subscriberEmail" placeholder="Zadajte e-mail" class="placeholder"> <button type="submit"> <span class="hid-lg-inline fa fa-check"></span> <span class="vis-lg">Prihlásiť sa</span> </button> </div>
			</form>
			<ul class="social-menu">
				<li><a href="https://facebook.com/telekom.sk" onclick="" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://www.linkedin.com/company/telekomsk" onclick="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://youtube.com/user/ZazimeToSpolu" onclick="" target="_blank"><i class="fa fa-youtube"></i></a></li>
				<li><a href="https://twitter.com/telekomsk" onclick="" target="_blank"><i class="fa fa-twitter"></i></a></li>
				<li><a href="https://www.instagram.com/telekomsk/" onclick="" target="_blank"><i class="fa fa-instagram"></i></a></li>
			</ul>
		</div>
	</div>
	<div class="footer-links" style="">
		<div class="in">
			<ul>
				<li> <span class="listLabel"><a href="/o-spolocnosti">Slovak Telekom</a></span> <a class="collapsed toggler hid-lg-inline" data-toggle="collapse" href="#footerLinks_collapse_1"> <i class="fa fa-chevron-down"></i> </a>
					<div id="footerLinks_collapse_1" class="panel-collapse collapse cfe-text-norm vis-lg">
						<ul>
							<li><a href="/o-spolocnosti/kariera">Kariéra</a></li>
							<li><a href="/o-spolocnosti-telekom/zodpovedne-podnikanie/">Zodpovedné podnikanie</a></li>
							<li><a href="/about/">English</a></li>
						</ul>
					</div>
				</li>
				<li> <span class="listLabel"><a href="/kontakt">Kontakt</a></span> <a class="collapsed toggler hid-lg-inline" data-toggle="collapse" href="#footerLinks_collapse_2"> <i class="fa fa-chevron-down"></i> </a>
					<div id="footerLinks_collapse_2" class="panel-collapse collapse cfe-text-norm vis-lg">
						<ul>
							<li><a href="/predajne">Predajne</a></li>
							<li><a href="http://www.telekom.sk/kontakt/dolezite-telefonne-cisla/">Dôležité čísla</a></li>
							<li><a href="http://www.telekom.sk/kontakt/napiste-nam/">Napíšte nám</a></li>
						</ul>
					</div>
				</li>
				<li> <span class="listLabel"><a href="/dostupnost">Dostupnosť služieb</a></span> <a class="collapsed toggler hid-lg-inline" data-toggle="collapse" href="#footerLinks_collapse_3"> <i class="fa fa-chevron-down"></i> </a>
					<div id="footerLinks_collapse_3"
					  class="panel-collapse collapse cfe-text-norm vis-lg">
						<ul>
							<li><a href="https://posta.telekom.sk">Webmail</a></li>
							<li><a href="/volania/easy/kredit">Dobi kredit</a></li>
							<li><a href="/wiki/mapa-pokrytia">Mapa pokrytia</a></li>
						</ul>
					</div>
				</li>
				<li> <span class="listLabel"><a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/">Cenníky a dokumenty</a></span> <a class="collapsed toggler hid-lg-inline" data-toggle="collapse" href="#footerLinks_collapse_4"> <i class="fa fa-chevron-down"></i> </a>
					<div id="footerLinks_collapse_4" class="panel-collapse collapse cfe-text-norm vis-lg">
						<ul>
							<li><a href="http://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-mobilnych-telefonov-a-datovych-zariadeni/">Mobilných zariadení</a></li>
							<li><a href="http://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Služby mobilnej siete</a></li>
							<li><a href="http://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-pevnej-siete/">Služieb pevnej siete</a></li>
							<li><a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/informacie-pre-koncovych-uzivatelov/">Právne informácie</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="in">
			<div class="tc"> <a href="/o-spolocnosti/pravne-informacie">Podmienky používania webu</a> </div>
			<div class="copyright">© 2018 Slovak Telekom</div>
		</div>
	</div>
	<script type="text/javascript">
		var subscribeSuccessfulLabel = "Odoslaný";
	</script>
</footer>
	</div>
	<script type="text/javascript">
		Liferay.Util.addInputFocus();
		Liferay.Portlet.runtimePortletIds = ["searchInput_WAR_portlets", "103", "leadShoppingBasket_WAR_portlets"];
	</script>
	<script type="text/javascript">
		Liferay.Portlet.onLoad({
			canEditTitle: false,
			columnPos: 0,
			isStatic: "end",
			namespacedId: "p_p_id_searchInput_WAR_portlets_",
			portletId: "searchInput_WAR_portlets",
			refreshURL: "\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d513322\x26p_p_auth\x3dxUd9lzFG\x26p_p_id\x3dsearchInput_WAR_portlets\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ftest\x252Fmagio-update"
		});
		Liferay.Portlet.onLoad({
			canEditTitle: false,
			columnPos: 1,
			isStatic: "end",
			namespacedId: "p_p_id_118_INSTANCE_VoUntchRBUpE_",
			portletId: "118_INSTANCE_VoUntchRBUpE",
			refreshURL: "\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d513322\x26p_p_id\x3d118_INSTANCE_VoUntchRBUpE\x26p_p_lifecycle\x3d0\x26p_p_col_id\x3dcolumn-1\x26p_p_col_pos\x3d1\x26p_p_col_count\x3d3\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3dcolumn-1\x26p_p_col_pos\x3d1\x26p_p_col_count\x3d3\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ftest\x252Fmagio-update"
		});
		Liferay.Portlet.onLoad({
			canEditTitle: false,
			columnPos: 0,
			isStatic: "end",
			namespacedId: "p_p_id_leadShoppingBasket_WAR_portlets_",
			portletId: "leadShoppingBasket_WAR_portlets",
			refreshURL: "\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d513322\x26p_p_auth\x3dwc3O7ogG\x26p_p_id\x3dleadShoppingBasket_WAR_portlets\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ftest\x252Fmagio-update"
		});
		Liferay.Portlet.onLoad({
			canEditTitle: false,
			columnPos: 0,
			isStatic: "end",
			namespacedId: "p_p_id_56_INSTANCE_rENzVpCuzuey_",
			portletId: "56_INSTANCE_rENzVpCuzuey",
			refreshURL: "\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d513322\x26p_p_id\x3d56_INSTANCE_rENzVpCuzuey\x26p_p_lifecycle\x3d0\x26p_p_col_id\x3dcolumn-1\x26p_p_col_count\x3d3\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3dcolumn-1\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d3\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ftest\x252Fmagio-update"
		});
		Liferay.Portlet.onLoad({
			canEditTitle: false,
			columnPos: 0,
			isStatic: "end",
			namespacedId: "p_p_id_103_",
			portletId: "103",
			refreshURL: "\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d513322\x26p_p_id\x3d103\x26p_p_lifecycle\x3d0\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3d\x26p_p_col_pos\x3d0\x26p_p_col_count\x3d0\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ftest\x252Fmagio-update"
		});
		Liferay.Portlet.onLoad({
			canEditTitle: false,
			columnPos: 2,
			isStatic: "end",
			namespacedId: "p_p_id_56_INSTANCE_h79Mvr2kVwls_",
			portletId: "56_INSTANCE_h79Mvr2kVwls",
			refreshURL: "\x2fc\x2fportal\x2frender_portlet\x3fp_l_id\x3d513322\x26p_p_id\x3d56_INSTANCE_h79Mvr2kVwls\x26p_p_lifecycle\x3d0\x26p_p_col_id\x3dcolumn-1\x26p_p_col_pos\x3d2\x26p_p_col_count\x3d3\x26p_t_lifecycle\x3d0\x26p_p_state\x3dnormal\x26p_p_mode\x3dview\x26p_p_col_id\x3dcolumn-1\x26p_p_col_pos\x3d2\x26p_p_col_count\x3d3\x26p_p_isolated\x3d1\x26currentURL\x3d\x252Ftest\x252Fmagio-update"
		});
		AUI().use("aui-base", "liferay-menu", "liferay-notice", "liferay-poller", "liferay-session", function(a) {
			(function() {
				Liferay.Util.addInputType();
				Liferay.Portlet.ready(function(b, c) {
					Liferay.Util.addInputType(c)
				})
			})();
			(function() {
				new Liferay.Menu();
				var b = Liferay.Data.notices;
				for (var c = 1; c < b.length; c++) {
					new Liferay.Notice(b[c])
				}
			})();
			(function() {
				Liferay.Session = new Liferay.SessionBase({
					autoExtend: true,
					sessionLength: 60,
					redirectOnExpire: false,
					redirectUrl: "https\x3a\x2f\x2fwww\x2etelekom\x2esk\x2fweb\x2fguest",
					warningLength: 1
				})
			})()
		});
	</script>
	<script src="https://www.telekom.sk/theme/stwbmain/js/main.js?browserId=other&amp;minifierType=js&amp;languageId=sk_SK&amp;b=6130&amp;t=1442871484000" type="text/javascript"></script>
