	<script type="text/javascript"></script>
	
	<script src="../js/switchery.js"></script>
	
	<div id="ajaxLoadingSpinnerOverlay" style="display: none">
		<div class="ajaxLoadingSpinnerOverlay-container">
			<div class="square first pulse infinite"></div>
			<div class="square second pulse infinite"></div>
			<div class="square third pulse infinite"></div>
		</div>
	</div>
</body>

</html>