													</div>
													<div class="entry-links"> </div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
							<div class="portlet-boundary portlet-boundary_118_ portlet-static portlet-static-end portlet-nested-portlets " id="p_p_id_118_INSTANCE_VoUntchRBUpE_"> <span id="p_118_INSTANCE_VoUntchRBUpE"></span>
								<div class="portlet-body">
									<section class="portlet" id="portlet_118_INSTANCE_VoUntchRBUpE">
										<div class="portlet-content">
											<div class=" portlet-content-container" style="">
												<div class="portlet-body">
													<div id="_118_INSTANCE_VoUntchRBUpE_main-content" role="main">
														<div class="portlet-layout">
															<div class="parallax-layout" id="_118_INSTANCE_VoUntchRBUpE_column-1">
																<div class="portlet-dropzone empty" id="layout-column__118_INSTANCE_VoUntchRBUpE__column-1"></div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</section>
								</div>
							</div>
							<div class="portlet-boundary portlet-boundary_56_ portlet-static portlet-static-end portlet-journal-content " id="p_p_id_56_INSTANCE_h79Mvr2kVwls_"> <span id="p_56_INSTANCE_h79Mvr2kVwls"></span>
								<div class="portlet-body">
									<section class="portlet" id="portlet_56_INSTANCE_h79Mvr2kVwls">
										<div class="portlet-content">
											<div class=" portlet-content-container" style="">
												<div class="portlet-body">
													<div class="journal-content-article">