<section id="hero">
    <div class="fixed-column text_centered">
        <div class="hero__content">
            <h1 class="hero__title font_mine-shaft">
                <b class="font_black">INTERNET V TABLETE A NOTEBOOKU</b></h1>
            <a class="scroll-to btn cta" href="#sec-2">VYBRAŤ SI Z PONUKY</a><br />
            <a class="scroll-to info-link" href="#sec-1"><span>Viac informácií </span><img alt=" " src="/documents/10179/4919806/arrow-down.png" /></a></div>
        <div class="hero__img">
            &nbsp;</div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">DÁTOVÉ ZARIADENIA</a></li>
        <li>
            <a class="scroll-to" href="#sec-6">TABLETY</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">Aktuálne AKCIE</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/4919806/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-8" id="sec-8">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12 zlava-10 text_centered">
                <p class="banner__desc font_white">
                    Predĺžte si Mobilný internet cez web<br />
                    <span class="banner__title"> A ZÍSKATE ZĽAVU 10 €</span><br />
                    Navyše vás čaká neobmedzený objem dát, superrýchlosť 4G siete a doručenie kuriérom zadarmo.</p>
                <a class="btn cta" href="/internet/mobilny-internet/prolong/mam-zaujem">PREDĹŽIŤ MOBILNÝ INTERNET</a></div>
        </div>
    </div>
</section>
<section class="section sec-1 text_centered" id="sec-1">
    <div class="fixed-column">
        <p class="section__title margin_top20">
            Výhody MOBILNÉHO INTERNETU</p>
        <div class="grid-g__col_4">
            <img alt="Internet kdekoľvek" src="/documents/10179/4919806/ico-1.png" />
            <p>
                <b>Internet kdekoľvek</b></p>
            <p>
                S Mobilným 4G internetom ste online doma aj na cestách, skrátka kdekoľvek v rámci pokrytia.</p>
        </div>
        <div class="grid-g__col_4 col_mid">
            <img alt="Neobmedzený objem dát" src="/documents/10179/4919806/ico-2.png" />
            <p>
                <b>Neobmedzený objem dát</b></p>
            <p>
                Ak vyčerpáte predplatené dáta, za ďalšie neplatíte nič navyše. Obmedzí sa však <span class="info-link info-1">rýchlosť internetu.</span></p>
        </div>
        <div class="grid-g__col_4">
            <img alt="Jednoduché pripojenie" src="/documents/10179/4919806/ico-3.png" />
            <p>
                <b>Jednoduché pripojenie</b></p>
            <p>
                Pripojenie je bez zložitej inštalácie pomocou USB modemu alebo bezdrôtového Wi-Fi routera, ktoré máme už od 1 €</p>
            <a class="scroll-to link-ul" href="#sec-3">Pozrieť dátové zariadenia</a></div>
    </div>
</section>
<section class="section sec-2 text_centered" id="sec-2">
    <div class="fixed-column">
        <p class="section__title margin_top20">
            SLUŽBY A CENY MOBILNÉHO INTERNETU</p>
        <div class="col-group pricing-tables">
            <div class="grid-g__col_12">
                <div class="row-table">
                    <div class="grid-g__col_6 pricing-box">
                        <h3 class="pricing-box__title">
                            MOBILNÝ INTERNET S</h3>
                        <div class="ec-holder-l">
                            <img alt="Darcek externa batéria" src="/documents/10179/4919806/ec-gift-b.png" /></div>
                        <div class="pricing-box__desc">
                            <p class="desc__title">
                                1 GB DÁT</p>
                            <p>
                                <span class="speed">300 Mb/s<br />
                                maximálna rýchlosť</span><br />
                                Vhodný na <b>príležitostné využívanie mimo domova alebo ako spoľahlivá záloha</b> k domácemu pevnému internetu</p>
                        </div>
                        <p class="pricing-box__price">
                            <span class="price">5,99 €</span> / mesačne<br />
                            s novým dátovým zariadením</p>
                        <a class="btn cta" href="/internet/mobilny-internet/mam-zaujem/s/datove-zariadenia">KÚPIŤ</a>
                        <p class="more-info">
                            alebo bez<br />
                            nového dátového zariadenia<br />
                            <a class="link-ul" href="/internet/mobilny-internet/mam-zaujem/s">kúpiť za 4,99 € / mesačne</a></p>
                    </div>
                    <div class="grid-g__col_6 pricing-box">
                        <h3 class="pricing-box__title">
                            MOBILNÝ INTERNET M</h3>
                        <div class="ec-holder-r">
                            <img alt="Darcek externa batéria" src="/documents/10179/4919806/ec-gift-b.png" /></div>
                        <div class="pricing-box__desc">
                            <p class="desc__title">
                                5 GB DÁT</p>
                            <p>
                                <span class="speed">300 Mb/s<br />
                                maximálna rýchlosť</span><br />
                                <b>Pre rodiny a menšie kolektívy</b> na prácu aj videá či hudbu. Ideálny <b>s mobilným WiFi routrom s vlastnou batériou za 1 €.</b></p>
                        </div>
                        <p class="pricing-box__price">
                            <span class="price">17,99 €</span> / mesačne<br />
                            s novým dátovým zariadením</p>
                        <a class="btn cta" href="/internet/mobilny-internet/mam-zaujem/m/datove-zariadenia">KÚPIŤ</a>
                        <p class="more-info">
                            alebo bez<br />
                            nového dátového zariadenia<br />
                            <a class="link-ul" href="/internet/mobilny-internet/mam-zaujem/m">kúpiť za 14,99 € / mesačne</a></p>
                    </div>
                </div>
                <div class="row-table">
                    <div class="grid-g__col_6 pricing-box">
                        <h3 class="pricing-box__title">
                            MOBILNÝ INTERNET L</h3>
                        <div class="ec-holder-l">
                            <img alt="Darcek externa batéria" src="/documents/10179/4919806/ec-gift-b.png" /></div>
                        <div class="pricing-box__desc">
                            <p class="desc__title">
                                15 GB DÁT</p>
                            <p>
                                <span class="speed">300 Mb/s<br />
                                maximálna rýchlosť</span><br />
                                Extra objem dát <b>pre najnáročnejších užívateľov a profesionálov</b> aj zdieľanie pripojenia viacerými zariadeniami.</p>
                        </div>
                        <p class="pricing-box__price">
                            <span class="price">29,99 €</span> / mesačne<br />
                            s novým dátovým zariadením</p>
                        <a class="btn cta" href="/internet/mobilny-internet/mam-zaujem/l/datove-zariadenia">KÚPIŤ</a>
                        <p class="more-info">
                            alebo bez<br />
                            nového dátového zariadenia<br />
                            <a class="link-ul" href="/internet/mobilny-internet/mam-zaujem/l">kúpiť za 24,99 € / mesačne</a></p>
                    </div>
                    <div class="grid-g__col_6 pricing-box pricing-box_inverse">
                        <h3 class="pricing-box__title">
                            EXTRA DÁTA NAVYŠE</h3>
                        <div class="pricing-box__desc">
                            <p>
                                Minuli ste dáta z&nbsp;balíka? S&nbsp;extra dátami navyše si obnovíte maximálnu rýchlosť internetu jednoducho a&nbsp;podľa potreby.<br />
                                <span class="speed_top">300 Mb/s<br />
                                maximálna rýchlosť</span></p>
                        </div>
                        <p class="pricing-box__price price-custom">
                            <span class="price">už od 5,99 €</span></p>
                        <a href="http://m.telekom.sk/data/">Kúpiť dáta </a><a href="http://m.telekom.sk/data/">navyše cez web</a>
                        <p class="buy__phone">
                            alebo na tel. čísle<br />
                            <b>0800 123 456</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modrePole tac" id="cmb__block">
            <h2 class="velkyNadpis">
                POTREBUJETE PORADIŤ S PONUKOU?</h2>
            <a class="btn cta_mag" href="/volania/happy?sluzby-a-ceny#" id="cmb__btn"><span>ÁNO, ZAVOLAJTE<br />
            MI SPÄŤ</span></a></div>
        <div class="col-group">
            <div class="grid-g__col_12 benefits">
                <p class="section__title margin_top20 section__title_dark">
                    EXTRA VÝHODY ZA NÁKUP NA WEBE:</p>
                <div class="benefit__item">
                    <img alt="Extra zľava 10 €" src="/documents/10179/4919806/ico-4.png" />
                    <p>
                        <b>Extra zľava 10 €</b><br />
                        pri kúpe Mobilného internetu cez web</p>
                </div>
                <div class="benefit__item">
                    <img alt="Prvých 14 dní bez záväzkov" src="/documents/10179/4919806/ico-5.png" />
                    <p>
                        <b>Prvých 14 dní bez záväzkov</b><br />
                        pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
                </div>
                <div class="benefit__item">
                    <img alt="Doručenie kuriérom zadarmo" src="/documents/10179/4919806/ico-6.png" />
                    <p>
                        <b>Doručenie kuriérom zadarmo</b><br />
                        kdekoľvek v rámci SR</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-6" id="sec-6">
    <div class="fixed-column text_centered">
        <p class="section__title">
            TABLETY K MOBILNÉMU INTERNETU</p>
        <p class="section__description">
            Dátujte doma aj na cestách 4G rýchlosťou s Mobilným internetom a 4G tabletom!</p>
        <div id="product-holder">
            &nbsp;</div>
        <div id="detail">
            &nbsp;</div>
    </div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="fixed-column text_centered">
        <p class="section__title margin_top20">
            DÁTOVÉ ZARIADENIA</p>
        <p class="section__description">
            Pre zapojenie mobilného internetu je potrebné koncové dátové zariadenie. Ak žiadne nemáte, vyberte si USB Modem, ktorý jednoducho zasuniete do svojho notebooku alebo bezdrôtový Wi-Fi router, vďaka ktorému pripojíte viacero notebookov či tabletov súčasne.</p>
        <div class="obalka">
            <div class="slideris" style="position: relative;">
                <div class="c-row c-row-2">
                    <div class="c-content">
                        <div id="box-nav">
                            <div id="box-prev">
                                <img src="/documents/10179/4919806/slider_left.png" title="Slider" /></div>
                            <div id="box-next">
                                <img src="/documents/10179/4919806/slider_right.png" title="Slider" /></div>
                        </div>
                        <ul id="sliderbox">
                            <li>
                                <div class="modem">
                                    <img src="/documents/10179/4919806/device-1.png" />
                                    <h2>
                                        Huawei E3372H</h2>
                                    <p>
                                        Spoľahlivý a rýchly USB modem s podporou 4G/LTE v elegantnom bielom prevedení.</p>
                                    <a class="link_viac_info" href="#e3372h" id="_1">Viac info <img src="/documents/10179/4919806/modraSipka.jpg" /></a></div>
                            </li>
                            <li>
                                <div class="modem">
                                    <img src="/documents/10179/4919806/device-2.png" />
                                    <h2>
                                        Huawei E5577C</h2>
                                    <p>
                                        Praktický mobilný 4G router - WiFi hotspot s vlastnou batériou v elegantnom bielom prevedení.</p>
                                    <a class="link_viac_info" href="#huaweie" id="_2">Viac info <img src="/documents/10179/4919806/modraSipka.jpg" /></a></div>
                            </li>
                            <li>
                                <div class="modem">
                                    <img src="/documents/10179/4919806/device-3.png" />
                                    <h2>
                                        Huawei B310S</h2>
                                    <p>
                                        LTE router pre domácnosti či menšie firmy.</p>
                                    <a class="link_viac_info" href="#b310s" id="_3">Viac info <img src="/documents/10179/4919806/modraSipka.jpg" /></a></div>
                            </li>
                            <li>
                                <div class="modem">
                                    <img src="/documents/10179/4919806/device-4.jpg" />
                                    <h2>
                                        Huawei Hybrid Access Gateway</h2>
                                    <p>
                                        LTE router pre domácnosti či menšie firmy.<br />
                                        Funguje aj ako ADSL a VDSL router.</p>
                                    <a class="link_viac_info" href="#hybrid" id="_4">Viac info <img src="/documents/10179/4919806/modraSipka.jpg" /></a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="balicky" style="display:none;">
    <div id="hybrid">
        <h2 style="color:#e20074">
            Huawei Hybrid Access Gateway</h2>
        <hr />
        <img alt="Huawei Hybrid Access Gateway" src="/documents/10179/4919806/ha35.jpg" style="float:left;" />
        <div class="popup_right_price">
            <p class="velkeCislo">
                9,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet L</p>
            <br />
            <p class="velkeCislo">
                9,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet M</p>
            <br />
            <p class="velkeCislo">
                39,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet S</p>
        </div>
        <hr />
        <table class="table_popup" style="border-left: 0;border-right: 0;">
            <thead>
                <tr>
                    <th>
                        Technické špecifikácie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        WiFi</td>
                    <td>
                        áno, WiFi 802.11n</td>
                </tr>
                <tr>
                    <td>
                        GPRS</td>
                    <td>
                        áno</td>
                </tr>
                <tr>
                    <td>
                        EDGE</td>
                    <td>
                        áno</td>
                </tr>
                <tr>
                    <td>
                        UMTS</td>
                    <td>
                        áno</td>
                </tr>
                <tr>
                    <td>
                        4G</td>
                    <td>
                        áno, Cat 4</td>
                </tr>
                <tr>
                    <td>
                        Prevádzkové frekvencie telefónu</td>
                    <td>
                        850/900/1800/2100/2600</td>
                </tr>
                <tr>
                    <td>
                        Prepojenie s PC</td>
                    <td>
                        áno, Ethernet</td>
                </tr>
                <tr>
                    <td>
                        Max rýchlosť Downlink:</td>
                    <td>
                        150 Mbit/s</td>
                </tr>
                <tr>
                    <td>
                        Max rýchlosť Uplink</td>
                    <td>
                        50 Mbit/s</td>
                </tr>
                <tr>
                    <td>
                        Rozmery:</td>
                    <td>
                        351 x 175 mm</td>
                </tr>
                <tr>
                    <td>
                        Kompatibilne s OS:</td>
                    <td>
                        Windows XP, Vista, 7, 8, 8.1; Mac OS X</td>
                </tr>
            </tbody>
        </table>
        <br />
        <span style="font-weight: 900;">Obsah balenia: </span>
        <p>
            zariadenie , zdroj elektrického napätia , ethernetový kábel RJ-45, DSL kábel RJ-11 a inštalačná príručka</p>
    </div>
    <div id="b310s">
        <h2 style="color:#e20074">
            Huawei B310s</h2>
        <hr />
        <img alt="Huawei B310s" src="/documents/10179/4919806/Huawei_B310S.png" style="float:left;" />
        <div class="popup_right_price">
            <p class="velkeCislo">
                9,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet L</p>
            <br />
            <p class="velkeCislo">
                9,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet M</p>
            <br />
            <p class="velkeCislo">
                39,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet S</p>
        </div>
        <hr />
        <table class="table_popup" style="border-left: 0;border-right: 0;">
            <thead>
                <tr>
                    <th>
                        Technické špecifikácie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Rozmery:</td>
                    <td>
                        181 x 126 x 36mm</td>
                </tr>
                <tr>
                    <td>
                        Váha:</td>
                    <td>
                        226g (bez napájacieho adaptéru)</td>
                </tr>
                <tr>
                    <td>
                        Konektivita:</td>
                    <td>
                        802.11 b/g/n, ethernet, LTE, HSPA, 3G, EDGE, GSM</td>
                </tr>
                <tr>
                    <td>
                        Pamäťové karty:</td>
                    <td>
                        nie</td>
                </tr>
                <!--<tr>
                    <td>
                        Pamäťové karty:</td>
                    <td>
                        do 12W</td>
                </tr>-->
                <tr>
                    <td>
                        Štandardy:</td>
                    <td>
                        &nbsp;</td>
                </tr>
            </tbody>
        </table>
        <table class="table_popup" style="border-left: 0;border-right: 0;">
            <thead>
                <tr>
                    <th colspan="2">
                        Maximálne prenosové rýchlosti</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        HSUPA:</td>
                    <td>
                        5,76 Mbps</td>
                </tr>
                <tr>
                    <td>
                        HSDPA:</td>
                    <td>
                        21 Mbps</td>
                </tr>
                <tr>
                    <td>
                        DC-HSPA+:</td>
                    <td>
                        42/5,76 Mbps</td>
                </tr>
                <tr>
                    <td>
                        LTE DL:</td>
                    <td>
                        150 Mbps</td>
                </tr>
                <tr>
                    <td>
                        LTE UL:</td>
                    <td>
                        50 Mbps</td>
                </tr>
            </tbody>
        </table>
        <br />
        <span style="font-weight: 900;">Obsah balenia: </span>
        <p>
            Router, napájací adaptér, stručný návod, ethernet kábel</p>
    </div>
    <div id="e3372h">
        <h2 style="color:#e20074">
            Huawei E3372H</h2>
        <hr />
        <img alt="Huawei E3372H" src="/documents/10179/4919806/_1.jpg" style="float:left; max-width: 52%;" />
        <div class="popup_right_price">
            <p class="velkeCislo">
                1,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet L</p>
            <br />
            <p class="velkeCislo">
                1,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet M</p>
            <br />
            <p class="velkeCislo">
                1,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet S</p>
        </div>
        <hr />
        <table class="table_popup" style="border-left: 0;border-right: 0;">
            <thead>
                <tr>
                    <th>
                        Technické špecifikácie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Rozmery:</td>
                    <td>
                        195 x 175 x 60 mm</td>
                </tr>
                <tr>
                    <td>
                        Váha:</td>
                    <td>
                        35 g</td>
                </tr>
                <tr>
                    <td>
                        Prevádzkové frekvencie telefónu:</td>
                    <td>
                        LTE/DC-HSPA+/HSPA+/UMTS/EDGE/GPRS/GSM</td>
                </tr>
                <tr>
                    <td>
                        Maximálna rýchlosť pripojenia:</td>
                    <td>
                        až do 150Mbit/s pre sťahovanie dát / až do 50 Mbit/s pre odosielanie dát</td>
                </tr>
                <tr>
                    <td>
                        Operačný systém:</td>
                    <td>
                        Windows XP, Vista, 7, 8, 8.1; Mac OS X</td>
                </tr>
                <tr>
                    <td>
                        Spotreba:</td>
                    <td>
                        max 12 W</td>
                </tr>
                <tr>
                    <td>
                        Typ pripojenia k PC:</td>
                    <td>
                        USB</td>
                </tr>
                <tr>
                    <td>
                        Použitie:</td>
                    <td>
                        na doma</td>
                </tr>
                <tr>
                    <td>
                        Technológia siete:</td>
                    <td>
                        4G</td>
                </tr>
            </tbody>
        </table>
        <!--<span style="font-weight: 900;">Obsah balenia: </span>
        <p>
            HUAWEI E3372s-153 LTE USB modem (Štandard), HUAWEI E3372s-153 LTE USB modem Quick Start (Štandard), Bezpečnostné informácie (Štandard), externý USB kábel (Voliteľné), pamäťová karta microSD (Voliteľné)</p>  --></div>
    <div id="lteii">
        <h2 style="color:#e20074">
            Huawei Speed Port LTE II</h2>
        <hr />
        <img alt="Huawei Speed Port LTE II" src="/documents/10179/4919806/_4.jpg" style="float:left" />
        <div class="popup_right_price">
            <p class="velkeCislo">
                19,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Neobmedzený mobilný internet 3</p>
            <br />
            <p class="velkeCislo">
                19,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Neobmedzený mobilný internet 2</p>
            <br />
            <p class="velkeCislo">
                49,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Neobmedzený mobilný internet 1</p>
        </div>
        <hr />
        <table class="table_popup" style="border-left: 0;border-right: 0;">
            <thead>
                <tr>
                    <th>
                        Technické špecifikácie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Rozmery:</td>
                    <td>
                        195 x 175 x 60 mm</td>
                </tr>
                <tr>
                    <td>
                        Váha:</td>
                    <td>
                        380 g (zariadenie), + 160g adaptér</td>
                </tr>
                <tr>
                    <td>
                        Prevádzkové frekvencie telefónu:</td>
                    <td>
                        GPRS / EDGE / UMTS / HSD(U)PA / DC-HSPA+ / LTE</td>
                </tr>
                <tr>
                    <td>
                        Maximálna rýchlosť pripojenia:</td>
                    <td>
                        HSUPA: 5,76 Mbps; HSDPA: 21,6 Mbps; DC-HSPA+: 43,2 Mbps; LTE DL: 150 Mbps; LTE UL: 50 Mbps</td>
                </tr>
                <tr>
                    <td>
                        Operačný systém:</td>
                    <td>
                        --</td>
                </tr>
                <tr>
                    <td>
                        Typ pripojenia k PC:</td>
                    <td>
                        WLAN, LAN</td>
                </tr>
                <tr>
                    <td>
                        Technológia siete</td>
                    <td>
                        4G</td>
                </tr>
                <tr>
                    <td>
                        Spotreba:</td>
                    <td>
                        max 12 W</td>
                </tr>
            </tbody>
        </table>
        <span style="font-weight: 900;">Obsah balenia: </span>
        <p>
            WiFi router</p>
    </div>
    <div id="huaweie">
        <h2 style="color:#e20074">
            Huawei E5577C</h2>
        <hr />
        <img class="Huawei E5577C" src="/documents/10179/4919806/huawei_e5577.png" style="float:left; width: 50%;" />
        <div class="popup_right_price">
            <p class="velkeCislo">
                1,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet L</p>
            <br />
            <p class="velkeCislo">
                1,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet M</p>
            <br />
            <p class="velkeCislo">
                9,00 €</p>
            <p>
                jednorazovo k službe</p>
            <p>
                Mobilný internet S</p>
        </div>
        <hr />
        <table class="table_popup" style="border-left: 0;border-right: 0;">
            <thead>
                <tr>
                    <th>
                        Technické špecifikácie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        WiFi</td>
                    <td>
                        áno, 802.11 a/b/g/n, 2,4GHz, 5GHz</td>
                </tr>
                <tr>
                    <td>
                        GPRS</td>
                    <td>
                        áno</td>
                </tr>
                <tr>
                    <td>
                        EDGE</td>
                    <td>
                        áno</td>
                </tr>
                <tr>
                    <td>
                        UMTS</td>
                    <td>
                        áno</td>
                </tr>
                <tr>
                    <td>
                        4G</td>
                    <td>
                        áno, Cat 4</td>
                </tr>
                <tr>
                    <td>
                        Prevádzkové frekvencie telefónu</td>
                    <td>
                        850/900/1800/1900/2100</td>
                </tr>
                <tr>
                    <td>
                        Prepojenie s PC</td>
                    <td>
                        áno, USB</td>
                </tr>
                <tr>
                    <td>
                        Max rýchlosť Downlink:</td>
                    <td>
                        max. 150 Mbit/s</td>
                </tr>
                <tr>
                    <td>
                        Max rýchlosť Uplink</td>
                    <td>
                        max. 50 Mbit/s</td>
                </tr>
                <tr>
                    <td>
                        Rozmery:</td>
                    <td>
                        96.8*58*13.5 mm</td>
                </tr>
                <tr>
                    <td>
                        Kompatibilne s OS:</td>
                    <td>
                        Windows XP, Vista, 7, 8, 8.1; Mac OS X</td>
                </tr>
                <tr>
                    <td>
                        Batéria:</td>
                    <td>
                        áno (1500 mAh)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<section class="section sec-4" id="sec-4">
    <!--  <div class="fixed-column">
        <p class="section__title margin_top20">
            VIANOČNÉ AKCIE</p>
        <div class="row">
            <div class="grid-g__col_8 mediapad">
                <div class="sale__item">
                    <div class="inline-wrap">
                        <h3 class="sale__title">
                            Vezmite si k Mobilnému<br />
                            internetu aj tablet za výhodnú<br />
                            cenu už od 1 €</h3>
                        <a class="btn cta" href="/internet/mobilny-internet/tablety">PREJSŤ NA PONUKU</a></div>
                </div>
            </div>
            <div class="grid-g__col_4 right">
                <div class="sale__item">
                    <h3 class="sale__title">
                        Magio GO zadarmo!</h3>
                    <p>
                        Mobilnú televíziu Magio GO vrátane 7-dňového archívu získate na 3 mesiace zadarmo ku všetkým typom Mobilnému internetu. Vyberte ho zaškrtnutím počas kúpy Mobilného internetu na webe.</p>
                    <a class="link-ul" href="/internet/mobilny-internet#sec-2">Vybrať Mobilný internet</a></div>
            </div>
        </div>
    </div> --><!-- NEW  -->
    <div class="container-fixed">
        <div class="row">
            <p class="section__title margin_top20">
                AKTUÁLNE AKCIE</p>
            <div class="sale_row-1" style="display: none;">
                <div class="col-md-10 offset-md-1 fullWidthBox sale__item sale__item-1">
                    <div class="row ">
                        <div class="col-md-4 text_centered">
                            <img alt="Externá batéria" class="responsive-img" src="/documents/10179/4919806/battery-pack.png" /></div>
                        <div class="col-md-8">
                            <h3 class="sale__title font_black">
                                Externá batéria ako darček ku každému nákupu!</h3>
                            <p>
                                Vyberte si Mobilný internet S, M, L a my vám darujeme externú batériu, ktorá slúži ako nabíjačka pre váš mobil či tablet aj tam, kde nie je elektrická zásuvka.</p>
                            <span class="iblock"><a class="btn cta scroll-to" href="#sec-2">VYBRAŤ si MOBILNÝ INTERNET</a></span> <span class="iblock"><a class="link-ul fancy" href="#activate-external-battery">Viac o externej batérii</a></span></div>
                    </div>
                </div>
            </div>
            <div class="sale_row-2">
                <div class="col-md-7 offset-md-1 fullWidthBox sale__item sale__item-2">
                    <div class="row">
                        <div class="col-md-9">
                            <p>
                                <b>4G tablet s Mobilným internetom S len za 9,99 € mesačne!</b><br />
                                Vezmite si k Mobilnému internetu s 1 GB dát aj tablet Lenovo TAB3 8 za zvýhodnenú cenu.</p>
                            <a class="btn mgt-10" href="/internet/mobilny-internet/tablety">PREJSŤ NA PONUKU</a>
                            <hr />
                            <p class="disclaimer">
                                Ponuka platí iba pre zákazníkov s <span class="info-link info-tablet"> vybranými paušálmi</span></p>
                        </div>
                        <div class="col-md-3 text_centered">
                            <img alt="Externá batéria" class="responsive-img" src="/documents/10179/4919806/4g-tablet.png" /></div>
                    </div>
                </div>
                <div class="col-md-3 saleBox sale__item-3 text_centered">
                    <p>
                        <b>Magio GO zadarmo</b><br />
                        Mobilnú televíziu Magio GO získate na 3 mesiace zadarmo ku každému novému Mobilnému internetu. Stačí navoliť Magio GO počas kúpy cez web.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-5" id="sec-5">
    <div class="fixed-column text_left">
        <p class="section__title text_centered">
            Mohlo by vás zaujímať</p>
        <div class="row">
            <div class="grid-g__col_4 text_centered">
                <img alt="" src="/documents/10179/4919806/ico-7.png" />
                <p>
                    <b>Najrýchlejšia 4G sieť</b></p>
                <p class="desc">
                    Spoznajte najrýchlejšiu a stále sa rozširujúcu 4G sieť od Telekomu.</p>
                <a href="/internet/4g-internet">Viac o 4G internete <img alt="" src="/documents/10179/4919806/arrow-right.png" /></a></div>
            <div class="grid-g__col_4 text_centered">
                <img alt="" src="/documents/10179/4919806/ico-8.png" />
                <p>
                    <b>Bezpečnosť na internete</b></p>
                <p class="desc">
                    Nezabúdajte na ochranu svojho počítača, ktorá je dnes mimoriadne dôležitá. Ubráňte sa pred nástrahami internetu a získajte kvalitné riešenie.</p>
                <a href="/internet/magio-internet-security">Viac o bezpečnosti na internete <img alt="" src="/documents/10179/4919806/arrow-right.png" /></a></div>
            <div class="grid-g__col_4 text_centered">
                <img alt="" src="/documents/10179/4919806/ico-9.png" />
                <p>
                    <b>Notebooky za skvelé ceny</b></p>
                <p class="desc">
                    Vyberte si z ponuky Neobmedzeného mobilného internetu a získajte nový notebook za výhodnú cenu.</p>
                <a href="/internet/mobilny-internet/notebooky">Prejsť na notebooky <img alt="" src="/documents/10179/4919806/arrow-right.png" /></a></div>
        </div>
    </div>
</section>
<section class="section sec-7" id="sec-7">
    <div class="fixed-column">
        <div class="podmienky-holder">
            <p>
                <a href="#" onclick="$('#podmienky').slideToggle(); return false;">Podmienky k Mobilnému internetu</a></p>
            <div id="podmienky" style="display:none">
                <p>
                    Ponuka platí do 31. 3. 2017. Ceny sú uvedené v € s DPH. Uvedené mesačné poplatky platia pri aktivácii príslušného programu služby Mobilný internet a podpise Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov. Pri aktivácii nového alebo predĺžení existujúceho mesačného programu služieb Mobilný internet s prevzatím viazanosti aspoň na 12 mesiacov je zároveň každému zákazníkovi aktivovaná doplnková služba počítačovej bezpečnosti Magio internet Security. Magio internet Security je poskytovaná bez viazanosti a je počas prvých troch mesiacov zadarmo. Po uplynutí tejto doby je spoplatnená mesačným poplatkom 2,51 € s DPH, pričom je možné ju kedykoľvek bezplatne deaktivovať. Pri programoch Mobilný internet S/M/L sa uplatňuje obmedzenie rýchlosti dátových prenosov na max. 64 kb/s po vyčerpaní objemu dát 1 GB/5 GB/15 GB. Kompletné podmienky poskytovania a ďalšie informácie o ponuke nájdete v aktuálnom <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s.</a>, na Zákazníckej linke 0800 123 456 a v každom Telekom Centre.</p>
                <br />
                <p>
                    Ponuka platí do 31. 3. 2017. Ponuka nie je kombinovateľná so žiadnymi inými zľavami ani akciovými ponukami. Jeden účastník (jedno unikátne RČ, resp. IČO) môže túto ponuku využiť len 1-krát. Zmena zariadení v ponuke alebo ich parametrov je vyhradená. Mesačný poplatok za programy služieb Mobilný internet sa skladá z dvoch zložiek (základnej a doplnkovej, uvedenej v ponuke ako „Mesačný doplatok“ ). Podmienkou poskytovania programov služieb Mobilný internet s kúpou nižšie uvedených tabletov za nižšie uvedené akciové kúpne ceny, ktoré sú splatné jednorazovo pri uzavretí kúpnej zmluvy, je aktivácia programu Mobilný internet, uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov a kúpa akciového tabletu podľa uvedenej ponuky. Kompletné podmienky poskytovania služby, podmienky týkajúce sa kúpy tabletu, splátok za tablet a ďalšie informácie o ponuke nájdete v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a>, na Zákazníckej linke 0800 123 456 a v každom Telekom Centre.</p>
                <br />
                <p>
                    Ponuka zvýhodneného tabletu k programu Mobilný internet S<br />
                    Ponuka zvýhodného tabletu k programu Mobilný internet S platí pre účastníka využívajúceho mesačný program služieb Happy M alebo vyšší, ktorý si aktivuje alebo pokračuje vo využívaní programu Služieb Mobilný internet S s prevzatím záväzku viazanosti aspoň na 24 mesiacov. Možnosť kúpy zariadenia podľa predchádzajúcej vety môže ten istý Účastník využiť iba 1 x, bez ohľadu na počet uzatvorených zmlúv s Podnikom. Benefit nie je možné počas jeho poskytovania kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku vo vzťahu k programom Služieb, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do 31. 3. 2017</p>
            </div>
            <p>
                Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a></p>
        </div>
    </div>
</section>
<!-- popups -->
<div class="easy-lightbox" id="activate-external-battery">
    <div class="modal-holder">
        <div class="modal-left text_centered">
            <img alt="" class="responsive-img" src="/documents/10179/4919806/modal-img.png" /></div>
        <div class="modal-right">
            <h3>
                Externá batéria</h3>
            <br />
            Darujeme vám externú batériu, ktorá slúži ako<br />
            nabíjačka mobilu či tabletu aj tam, kde<br />
            nie je elektrická zásuvka. Ak sa vám<br />
            vybije, môžete si ju nabiť sami alebo<br />
            vám ju vymeníme za nabitú v niektorom<br />
            z našich Telekom centier až do konca<br />
            roku 2017.
            <ul>
                <li>
                    Vstupný konektor: Micro USB</li>
                <li>
                    Výstupný konektor: USB</li>
                <li>
                    Možnosť súčasného nabíjania aj vybíjania</li>
                <li>
                    Batériové články: Li-Ion nabíjateľné</li>
                <li>
                    Kapacita: 2600 mAh</li>
                <li>
                    Výstup: DC5V/1A</li>
                <li>
                    Vstup: DC5V/1A</li>
                <li>
                    Výstupná doba nabíjania zariadenia: 1,5 - 2 h</li>
                <li>
                    Vstupná doba nabíjania zariadenia: 2 - 3 h</li>
                <br />
                <li>
                    Životnosť: cca 500 nabíjacích cyklov</li>
                <li>
                    Hmotnosť: 75 g</li>
                <li>
                    Farba: ružová</li>
                <li>
                    Rozmery: 22 x 2 x 95 mm</li>
            </ul>
            <a class="btn cta mgt-10 popup-modal-scroll" href="#sec-2">VYBRAŤ SI MOBILNÝ INTERNET</a>
            <p class="mgt-10">
                <a class="popup-modal-dismiss " href="#">Zavrieť okno</a></p>
        </div>
    </div>
</div>
<!-- Scripts -->
<script type="text/javascript" src="/documents/10179/8578889/fancybox-media.js"></script>
<script type="text/javascript" src="/documents/10179/8578889/slider.js"></script>
<script type="text/javascript" src="/documents/10179/8578889/slider-owl.js"></script>
<script type="text/javascript" src="/documents/10179/8578889/vypredaj.js"></script>
<script type="text/javascript" src="/documents/10179/8578889/main.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("img[src='/documents/10179/4919806/ec-gift.png']").css("display", "none");
});
</script>