<div class="form-popup">
	<a class="fp__close fp__close-btn" href="#"><img alt="Zavrieť" src="/documents/10179/3157861/ico-close.png" /></a>
	<h3 class="fp__title">
		ĎAKUJEME</h3>
	<p class="fp__desc">
		Boli ste zaradení do súťaže Podnikateľ na jednotku.</p>
	<a class="fp__close fp__close-link" href="#">Zavrieť okno</a></div>
<div class="fp__overlay">
	&nbsp;</div>
<script type="text/javascript" src="/documents/10179/3157861/main.js"></script>