.row {
    width: 100%;
    float: left;
}
.fixed-column {
    width: 940px;
    margin: 0 auto;
}
@media screen and (max-width: 960px) {
    .fixed-column {
        width: 96%;
        padding: 0 2%;
    }
}

.section {
    width: 100%;
    float: left;
}

.col-group:after {
  content: "";
  display: table;
  clear: both;
}
