<!-- d-2-0-0 -->
<section id="d-2-0-0" class="section d-2-0-0">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6 title__holder">
                <div class="title__wrap">
                    <h1 class="main-title"><span class="br-line">VYPOČÍTAJTE,</span><span class="br-line"> KOĽKO UŠETRÍTE VĎAKA</span>
                        <span class="text_bold">MAGENTA 1 SKUPINE</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 main-desc__wrap">
                <p class="main-desc">Čaká na vás jednoduchá kalkulačka, v ktorej si môžete nezáväzne vytvoriť vašu Magenta 1 skupinu a zistiť,
                    koľko vďaka nej ušetríte.
                    <br>
                    <br> Môžete napríklad využívať rovnaké služby ako doteraz, ale platiť menej než ste boli zvyknutí. Alebo
                    získať vyšší paušál za cenu nižšieho.
                    <br>
                    <br> Kalkuláciu môžete uložiť na neskôr alebo ju zdieľať s blízkymi.</p>

                <form name="$ctrl.formIntro" ng-submit="$ctrl.sendMsid($ctrl.msid)" novalidate>
                    <span ng-show="$ctrl.showInput">
                        <input type="tel" placeholder="napr. 0911 258 785" ng-model="$ctrl.msid" name="msid" ng-minlength="10" ng-maxlength="10" required />
                        <span ng-show="$ctrl.formIntro.$submitted">
                            <span ng-show="$ctrl.formIntro.msid.$error.required">Pole nemoze ostat prazdne</span>
                            <span ng-show="$ctrl.formIntro.msid.$error.minlength">The value must be in range 0 to 10!</span>
                            <span ng-show="$ctrl.formIntro.msid.$error.number">Musite zadat cislo</span>
                        </span>
                    </span>
                    <button type="submit" class="btn cta">VYPOČítať Zľavu</button>
                </form>
                <p class="main-desc">Už viete, ako má vyzerať vaša Magenta 1 skupina? <a href="#">Založiť skupinu</a></p>
            </div>
        </div>
    </div>
</section>