/* ===============
CSS FOR MICROSITE
=============== */
#content .back-holder {
    margin: 20px 0;
}

#content .back-holder a {
    background: url("../img/arrow-back.png") no-repeat center left;
    padding-left: 15px; 
}

#content .heapBox .holder, #content .heapBox .handler {
    background-color: #fff;
}

#sec-1 {
    margin: 30px 0;
    .kinoHead {
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        @media screen and (max-width: 543px) {
            text-align: center;
        }
        p.tvHead {
            float: left;
            font-size: 22px;
            font-weight: 600;
            line-height: 38px;
            @media screen and (max-width: 543px) {
                float: none;
            }
            span {
                color: $magenta;
            }
        }
        .btn {
            float: right;
            @media screen and (max-width: 543px) {
                float: none;
            }
        }
    }
    .selector {
        margin: 10px;
        @media screen and (max-width: 543px) {
            margin: 10px 0;
        }
        input {
            width: 100%;
        }
    }
}

#sec-2 {
    #movies {
        .movieHolder {
            @media screen and (max-width: 543px) {
                text-align: center;
                padding: 0;
            }
            .categoryHeading {
                @media screen and (max-width: 543px) {
                    text-align: center;
                    padding: 2%;
                    background-color: $magenta;
                    color: #fff;
                    font-size: 1.3rem;
                }
            }
            .genre {
                font-weight: 600;
            }
        }
    }
    .movie {
        display: none;
        margin-bottom: 2%;
        transition: all 200ms;
        overflow: hidden;
        @media screen and (max-width: 543px) {
            max-width: 230px;
            margin: 2% auto;
            float: none;
        }
        .imgWrapper {
            background-color: #e6e6e6;
            max-height: 316px;
            overflow: hidden;
            text-align: center;
            position: relative;
            img {
                transition: all 200ms;
                width: 100%;
            }
            .desc {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 0;
                background-color: rgba(0,0,0,0.8);
                color: #fff;
                height: 100%;
                padding: 10px;
                overflow: hidden;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: center;
                transition: opacity 200ms;
                -webkit-transition: opacity 200ms;
                -moz-transition: opacity 200ms;
                -ms-transition: opacity 200ms;
                -o-transition: opacity 200ms;
            }
        }

        .text {
            background-color: #e6e6e6;
            padding: 10% 5%;
            p {
                line-height: normal;
                margin: 0;
            }
            .movieTitle {
                font-weight: 600;
            }
        }
        &:hover {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            
            .text{
                background-color: $magenta;
            }
            .movieTitle, .movieCat {
                color: #fff;
            }
            .desc {
                visibility: visible;
                opacity: 1;
            }
            .imgWrapper img {
                transform: scale(1.2);
            }
        }
    }
    #queryHolder {
        .searchError {
            text-align: center;
            padding: 4% 0;
            p {
                color: $magenta;
                font-weight: bold;
                font-size: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
