<section id="sec-1" class="section sec-1">
  <div class="container-fixed">
    <div class="content clearfix">
      <div class="row">
        <div class="col-md-12 textwrapper">
          <h1>Formulár na opravu koncového zariadenia</h1>
        </div>
      </div>
      <div id="detail" class="row">
        <form
          id="myForm"
          class="row contact-form-wrapper"
          action="https://backvm.telekom.sk/www/oprava-kz/index.php"
          method="post"
          target="_blank"
        >
          <div class="row">
            <div class="col-md-12"><h2>Údaje o spoločnosti:</h2></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="businessName" class="input-label"
                  >Obchodné meno</label
                >
                <input
                  id="businessName"
                  class="input"
                  type="text"
                  name="businessName"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="ico" class="input-label">IČO</label>
                <input id="ico" class="input" type="number" name="ico" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="residence" class="input-label">Sídlo:</label>
                <input
                  id="residence"
                  class="input"
                  type="text"
                  name="residence"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="contactName" class="input-label"
                  >Kontaktná osoba pre kuriéra:</label
                >
                <input
                  id="contactName"
                  class="input"
                  type="text"
                  name="contactName"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group phoneNum">
                <label for="contactPhoneNum" class="input-label"
                  >Kontaktné číslo
                </label>
                <input
                  id="contactPhoneNum"
                  class="input"
                  type="text"
                  name="contactPhoneNum"
                  maxlength="13"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group useremail">
                <label for="contactEmail" class="input-label"
                  >E-mail zodpovednej osoby pre kontakt s ST</label
                >
                <input
                  id="contactEmail"
                  class="input"
                  type="email"
                  name="contactEmail"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Koncové zariadenie:</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="device" class="input-label">Typ zariadenia: </label>
                <input id="device" class="input" type="text" name="device" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="dateSale" class="input-label"
                  >Dátum predaja KZ:
                </label>
                <input
                  id="dateSale"
                  class="input"
                  type="date"
                  name="dateSale"
                />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="imei" class="input-label"
                  >IMEI / SN reklamovaného zariadenia
                </label>
                <input id="imei" class="input" type="text" name="imei" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Poškodenie:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group checkb">
                <input
                  class="damage"
                  id="damage1"
                  type="checkbox"
                  name="damage1"
                />
                <label for="damage1">
                  bežné opotrebenie<br />(ryhy / škrabance / ošúchaný)
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group checkb">
                <input
                  class="damage"
                  id="damage2"
                  type="checkbox"
                  name="damage2"
                />
                <label for="damage2"> poškodený displej</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group checkb">
                <input
                  class="damage"
                  id="damage3"
                  type="checkbox"
                  name="damage3"
                />
                <label for="damage3"> poškodený zadný kryt</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="damage4" class="input-label"
                  >Ďalšie poškodenia:
                </label>
                <input id="damage4" class="input" type="text" name="demage4" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Posielané príslušenstvo:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group checkb">
                <input
                  class="accessories"
                  id="accessories1"
                  type="checkbox"
                  name="accessories1"
                />
                <label for="accessories1">
                  nabíjačka
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group checkb">
                <input
                  class="accessories"
                  id="accessories2"
                  type="checkbox"
                  name="accessories2"
                />
                <label for="termscheck2"> dátový kábel</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="accessories3" class="input-label">Iné: </label>
                <input
                  id="accessories3"
                  class="input"
                  type="text"
                  name="accessories3"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Nájsť môj iPhone / Google účet:</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group checkb">
                <input
                  class="deactAccount"
                  id="deactAccount"
                  type="checkbox"
                  name="deactAccount"
                />
                <label for="deactAccount">
                  Službu / účet som deaktivoval/a
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Kód zámku KZ:</h4>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <div class="checkb">
                <input
                  class="lock"
                  id="lockYes"
                  type="radio"
                  name="lock"
                  value="active"
                />
                <label for="lock">
                  aktivovaný
                </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkb">
                <input
                  class="lock"
                  id="lockNo"
                  type="radio"
                  name="lock"
                  value="inactive"
                />
                <label for="lock">
                  deaktivovaný
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="lockKey" class="input-label"
                  >Ak je aktívny kód zámku uveďte ho:
                </label>
                <input id="lockKey" class="input" type="text" name="lockKey" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="legal">
                Vážení obchodní partneri, pred odoslaním KZ na reklamáciu sa
                uistite, že si užívateľ deaktivoval všetky služby, ktoré v
                zmysle pokynov výrobcu znemožňujú vybavenie reklamácie, t.j.
                diagnostikovať poruchu KZ, napr. služba Nájst môj iPhone pri
                Apple iPhone, oznámiť spoločnosti ST, a.s. presný kód zámku
                v prípade, ak má KZ "Blokovací kód - zámok" aktivovaný.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Typ opravy:</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="mail" class="input-label"
                  >Splnomocnená osoba spoločnosti pre ST - Email:
                </label>
                <input id="mail" class="input" type="text" name="mail" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p class="legal">
                Slúži v prípade vzniknu nároku na výmenu / vrátenie kúpnej ceny,
                alebo odsúhlasenie platenej opravy. Obchodný partner má, v rámci
                spoločnosti, v zodpovednosti uvedenie kontaktných údajov osoby,
                ktorej prináleží komunikácia s ST, a.s,. Za nesprávne vyplnené
                údaje ST, a.s. neručí.
              </p>
            </div>
          </div>
          <div class="row divider"></div>

          <div class="row">
            <div class="col-md-12">
              <h4>Požiadavka na náhradné zariadenie:</h4>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <div class="checkb">
                <input
                  class="replacementDevice"
                  type="radio"
                  name="replacementDevice"
                  value="yes"
                />
                <label for="replacementDevice">áno </label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkb">
                <input
                  class="replacementDevice"
                  type="radio"
                  name="replacementDevice"
                  value="no"
                />
                <label for="replacementDevice">nie</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Požadovaný spôsob riešenia reklamácie:</h4>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-md-4">
              <div class="checkb">
                <input
                  class="repair"
                  id="repair1"
                  type="radio"
                  name="repair"
                  value="repair"
                />
                <label for="repair1">oprava KZ</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkb">
                <input
                  class="repair"
                  id="repair2"
                  type="radio"
                  name="repair"
                  value="replace"
                />
                <label for="repair">výmena KZ</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="checkb">
                <input
                  class="repair"
                  id="repair3"
                  type="radio"
                  name="repair"
                  value="refund"
                />
                <label for="repair">vrátenie kúpnej ceny za KZ</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h4>Reklamácia:</h4>
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <div class="col-md-4">
                <div class="checkb">
                  <input
                    class="warranty"
                    type="radio"
                    name="warranty"
                    value="warranty"
                  />
                  <label for="warranty">záručná</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="checkb">
                  <input
                    class="warranty"
                    type="radio"
                    name="warranty"
                    value="non-warranty"
                  />
                  <label for="warranty">nezáručná</label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="warrantyPrice" class="input-label"
                  >Maximálna cena nezáručnej opravy s DPH:
                </label>
                <input
                  id="warrantyPrice"
                  class="input"
                  type="text"
                  name="warrantyPrice"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="legal">
                V prípade nezáručnej opravy, servisné stredisko účtuje náklady
                za vykonanie nezáručnej opravy. Poplatok za dopravu a&nbsp;
                diagnostiku KZ je v&nbsp;cene od 10,- EUR do 25,- EUR,
                v&nbsp;závislosti od podmienok servisného strediska,
                vykonávajúceho opravu daného KZ.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Popis poruchy KZ</h2>
            </div>
          </div>
          <div class="row form-group" id="failure">
            <div class="col-md-6">
              <div class="checkb">
                <input type="checkbox" name="failure1" id="failure1" />
                <label for="failure">
                  zamŕza
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure2" id="failure2" />
                <label for="failure">
                  neregistruje sa do siete
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure3" id="failure3" />
                <label for="failure">
                  prerušuje hovor
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure4" id="failure4" />
                <label for="failure">
                  svojvoľne sa vypína (pribaľte nabíjačku)
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure5" id="failure5" />
                <label for="failure">
                  slabá kapacita batérie / <br />problém s nabíjaním (pribaľte
                  nabíjačku)
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure6" id="failure6" />
                <label for="failure">
                  poškodený displej
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="checkb">
                <input type="checkbox" name="failure7" id="failure7" />
                <label for="failure">
                  poškodený/prasknutý zadný kryt
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure8" id="failure8" />
                <label for="failure">
                  nefunkčný mikrofón / slúchadlo
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure9" id="failure9" />
                <label for="failure">
                  nedá sa zapnúť (pribaľte nabíjačku)
                </label>
              </div>
              <div class="checkb">
                <input type="checkbox" name="failure10" id="failure10" />
                <label for="failure">
                  nečíta SIM kartu
                </label>
              </div>
              <div class="checkb">
                <input id="failure11" type="checkbox" name="failure11" />
                <label for="failure">
                  nefunkčný fotoaparát / predná kamera
                </label>
              </div>
              <div class="checkb">
                <input id="failure12" type="checkbox" name="failure12" />
                <label for="failure">
                  nefunkčné WIFI pripojenie
                </label>
              </div>
            </div>

            <div class="col-md-12">
              <label for="failure" class="input-label">iné</label>
              <input
                class="input"
                type="text"
                name="failure13"
                id="failure13"
              />
            </div>
            <div class="col-md-12" id="form-message"></div>
          </div>
          <div class="row divider mt-50"></div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <a href="#" class="btn printfrm">TLAČ</a>
              </div>
              <div class="form-group">
                <a href="#" class="btn cta sendfrm">ODOSLAŤ</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <script type="text/javascript" src="../assets/js/main.js"></script> -->
<script type="text/javascript" src="../assets/js/validations.js?v=1.1"></script>
<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
