<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <img src="../assets/img/ec-predlzujeme.png" class="ec-sav" alt="">
            <h1 class="hero__title"><b>VIANOČNÉ AKCIE</b><br /></h1>
            <p class="hero__desc"><b>Vyberte si z našej vianočnej ponuky a&nbsp;darujte si šťastné a&nbsp;veselé pre
                    vašu
                    firmu.</b><br>
                K paušálom ÁNO Biznis pre vás máme<br> technologické vychytávky za výhodné
                ceny.<br>
                <a href="#sortingOptionsSection" class="link scroll-to">Pozrieť vianočné akcie</a></p>
        </div>
    </div>
    <!-- <div class="bottomRow row">
        <div class="wrapper">
            <div class="col-xs-12 col-sm-3">
                <img src="../assets/img/chtree.png" alt="">
                <p>DORUČENIE DO&nbsp;VIANOC</p>
            </div>
        </div>
    </div> -->
</section>

<section id="sortingOptionsSection" class="section sec-1">
    <div class="container-fixed">
        <div class="categoryWrapper">
            <div id="filters" class="button-group">
                <a class="button is-checked" data-filter=".biznis">K paušálom ÁNO Biznis</a>
                <a class="button" data-filter=".magenta1">K Magente 1 Biznis</a>
            </div>
        </div>

        <div class="sortingWrapper clearfix">
            <div id="changePlan">
                <p>Zobraziť ceny&nbsp;s</p>
                <select id="select_program" class="select_program">
                    <!-- <option value="anoS" selected>ÁNO S</option> -->
                </select>
            </div>

        </div>
    </div>
</section>

<section id="productsSection" class="section sec-2">
    <div class="container-fixed">
        <div class="grid">
            <div class="gutter-sizer">
                <!-- gutter -->
            </div>
            <div class="grid-sizer">
                <!-- grid -->
            </div>
            <!-- BIZNIS devices -->
            <div class="element-item rateplan biznis" id="roombai7" data-availability="available"
                data-changeWidth="width2">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/roomba.png" alt="">
                </div>
                <p class="name"><b>Robotický vysávač iRobot <br>Roomba i7</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">1,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>

            <div class="element-item rateplan biznis" id="samsung4KTV" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/tvSamsung.png" alt="">
                </div>
                <p class="name"><b>4K Smart televízor Samsung<br>
                        s uhlopriečkou 50“/123 cm UHD</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <div class="element-item rateplan biznis" id="ps41TB" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-webzlava.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/ps41TB.png" alt="">
                </div>
                <p class="name"><b>PlayStation 4 Pro 1TB s troma hrami <br>a ďalšími darčekmi</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <div class="element-item rateplan biznis" id="samsungA70" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/samsungGalaxyA70.png" alt="">
                </div>
                <p class="name"><b>Samsung Galaxy A70 + <br>
                        smartfón ako darček za 4 centy</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <div class="element-item rateplan biznis" id="samsungWatch" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/samsungGalaxyWatch.png" alt="">
                </div>
                <p class="name"><b>Samsung Galaxy Watch + <br>
                        smartfón ako darček za 4 centy</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <div class="element-item rateplan biznis textver" id="poukazKmobilu" data-availability="available">
                <img src="../assets/img/ec-ibavappke.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/kuponPrislusenstvo-vypredane.jpg" alt="">
                </div>
                <p class="name"><b>Kupón na príslušenstvo <br>alebo dáta až do 40 €</b></p>
                <div class="text">
                    <div class="col-xs-12 text-center pad0">
                        <p>
                            Vyberte si paušál ÁNO Biznis a my vám darujeme kupón až do výšky 40 €, ktorý môžete využiť
                            na nákup
                            príslušenstva podľa vášho výberu alebo na kúpu dát pre Easy kartu.
                        </p>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta" style="visibility: hidden;">VYBRAŤ PAUŠÁL</a>
                <!-- <a href="#christmas2019" class="link chri_popup">Ako uplatniť kupón</a> -->
            </div>
            <div class="element-item rateplan biznis" id="raspberryPi4" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-webzlava.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/Rapsberry.png" alt="">
                </div>
                <p class="name"><b>Sada Raspberry pi 4 model B<br>
                        4 GB RAM</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> €</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> €</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> €</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> €</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <div class="element-item rateplan biznis soldOut" id="samsungA40" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/samsungGalaxyA40.png" alt="">
                </div>
                <p class="name"><b>Samung Galaxy A40 + Lego Hidden <br>Side bus ako darček za 4 centy</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <div class="element-item rateplan biznis soldOut" id="krupsEA890110" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/krupsEA890110.png" alt="">
                </div>
                <p class="name"><b>Kávovar Krups Evidence<br>
                        EA890110, biely</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <div class="element-item rateplan biznis special soldOut" id="krupsEA892D10" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/krupsEA892D10.png" alt="">
                </div>
                <p class="name"><b>SMART kávovar Krups Evidence EA892D10, brúsený hliník</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div>
            <!-- <div class="element-item rateplan biznis textver special zimnyBalik snow" id="zimnyBalik"
                data-availability="available">
                <img src="../assets/img/ec-30gb.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/zimnyBalik.png" alt="">
                </div>
                <p class="name"><b>Zimný balík dát pre všetkých <br>a zadarmo</b></p>
                <div class="text">
                    <div class="col-xs-12 text-center pad0">
                        <p>
                            Pre všetkých zákazníkov s paušálmi ÁNO, ÁNO Biznis, Happy, Bez záväzkov a Easy máme zimný
                            balík dát.
                            Aktivujte si ho v Telekom appke v novembri a decembri jedným klikom.
                        </p>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">AKTIVOVAŤ BALÍK V APPKE</a>
                <a href="#" class="link">Viac info</a>
            </div>
                       <div class="element-item rateplan biznis soldOut" id="samsungA40" data-availability="available">
                <div class="limitedOffer">
                    <p>Limitovaná ponuka</p>
                </div>
                <img src="../assets/img/ec-40kupon.png" alt="" class="ec">
                <div class="mainImg">
                    <img src="../assets/img/samsungGalaxyA40.png" alt="">
                </div>
                <p class="name"><b>Samung Galaxy A40 + Lego Hidden <br>Side bus ako darček za 4 centy</b></p>
                <div class="prices">
                    <div class="col-xs-12 prices-hdl pad0">
                        <p>Ceny s <span class="prices-rtpl">ÁNO S</span></p>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Mesačne</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="monthlyWeb"><b><span class="pricenum">0,50</span> € s DPH</b></p>
                            <p class="monthlyWeb_nodph"><b><span>1,50</span> € bez DPH</b></p>
                            <p class="monthlyStore">v predajni <span>2,00</span> € s DPH</p>
                        </div>
                    </div>
                    <div class="prices-row pad0">
                        <div class="col-xs-4 pad0 text-left">
                            <p class="hdl">Akontácia</p>
                        </div>
                        <div class="col-xs-8 pad0 text-right">
                            <p class="oneTimeWeb"><span>1,50</span> € s DPH</p>
                            <p class="oneTimeWeb_nodph"><span>1,50</span> € bez DPH</p>
                            <p class="oneTimeStore">v predajni <span>9,00</span> € s DPH</p>
                        </div>
                    </div>
                </div>
                <span class="pricenum hidden">999</span>
                <a href="#" class="btn cta">KÚPIŤ</a>
                <a href="#" class="link">Viac info</a>
            </div> -->
            <!-- magenta1 -->
            <div class="element-item magenta1 textver fullwidth">
                <div class="col-xs-12 col-sm-5 imgwrapper pad0">
                    <div class="mainImg b2b">
                        <!-- img -->
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7 pad0">
                    <div class="text">
                        <p class="name"><b>Darujte dáta blízkym v Magente&nbsp;1 Biznis</b></p>
                        <p>
                            Nespotrebovali ste všetky dáta zo svojho paušálu ÁNO, ÁNO Biznis, ktoré máte navyše v
                            skupine Magenta 1 Biznis?
                            Darujte ich! Je to jednoduché a bezplatné.
                        </p>
                        <p>V Telekom aplikácii sa odteraz môžete podeliť o magentové dáta so zvyšnými členmi vašej
                            skupiny, ktorí majú paušál ÁNO, ÁNO Biznis, Happy alebo Bez záväzkov.</p>
                        <a href="https://telekomsk.page.link/Zhs6" class="btn cta magenta1-btn">Darovať
                            dáta</a><br>
                        <a href="/biznis/magenta1" class="link magenta1-btn">Viac info o darovaní dát</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- terms and conditions -->
        <div class="termsandconditions">
            <p>
                Vianočná ponuka platí pri uzavretí zmluvy s viazanosťou na 24 mesiacov.</p>
            <div class="togleArrow main">
                <a class="toggle-arrow main" href="#">Podmienky vianočných akcií<span
                        class="arrow-right main"></span></a>
                <div class="arrow-content main" style="padding-left: 20px">
                    <div class="terms">
                        <div class="togleArrow">
                            <a class="toggle-arrow" href="#">Ponuka akciových zariadení<span
                                    class="arrow-right"></span></a>
                            <div class="arrow-content">Ponuka je limitovaná a platí do 31. 01. 2020 alebo do vypredania
                                zásob podľa toho, čo nastane skôr. Uvádzané akciové ceny zariadení platia pri kúpe k
                                určenému programu Služby pri 24 mesačnej viazanosti. Akciová kúpna cena zariadení je
                                rozdelená na akontáciu a 24 mesačných splátok; v prípade kúpnej ceny nižšej ako 25 € sa
                                cena platí jednorazovo. Podnik môže v konkrétnom prípade požadovať uhradenie vyššej
                                akontácie alebo predaj na splátky aj odmietnuť. Ponuka na kúpu druhého zariadenia za
                                0,04 € je podmienená kúpou v ponuke uvádzaného prvého zariadenia za uvádzanú akciovú
                                cenu k príslušnému programu Služby. Doručenie akciového zariadenia k Službám pevnej
                                siete je spoplatnené poplatkom za dopravu vo výške 5 €. Dodávka zariadení podľa ponuky
                                môže trvať až 45 dní od uzavretia Zmluvy alebo Dodatku. Bližšie o podmienkach v platnom
                                <a class="link"
                                    href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
                                    target="_blank">Cenníku programov ÁNO</a>, Prílohe A resp. v akciovom <a
                                    class="link"
                                    href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-pevnej-siete/">Cenníku
                                    pre poskytovanie služieb pevnej siete.</a></div>
                        </div>
                        <div class="togleArrow">
                            <a class="toggle-arrow" href="#">Kupón na príslušenstvo alebo dáta<span
                                    class="arrow-right"></span></a>
                            <div class="arrow-content">Účastník, ktorý uzavrie od 24. 10. 2019 do 31. 12. 2019 Zmluvu
                                resp. Dodatok k Zmluve na paušál ÁNO s viazanosťou aspoň na 24 mesiacov, má nárok na
                                získanie kupónu na zľavu vo výške 15 €, 25 € alebo až 40 € podľa úrovne aktivovaného
                                paušálu, ktorú môže uplatniť pri nákupe jedného príslušenstva z ponuky v akejkoľvek
                                predajni Telekom centra v súlade s podmienkami ponuky alebo z ceny jedného kupónu na
                                ročné dátové balíky pre Easy (6 GB alebo 24 GB na rok); cena po zohľadnení zľavy z
                                kupónu je najmenej 0,04 € s DPH. Kupón spolu s jedinečným kódom získa účastník
                                prostredníctvom Telekom aplikácie. Jeden účastník (jedno RČ resp. IČO) môže získať
                                najviac 5 kupónov. Kupón platí do 3 mesiacov od uzavretia Zmluvy/Dodatku, ak jeho
                                platnosť nezanikne skôr. Zľavy z kupónov nie je možné navzájom kombinovať. Bližšie o
                                podmienkach v platnom
                                <a class="link"
                                    href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
                                    target="_blank">Cenníku programov ÁNO</a>, Prílohe A resp. v akciovom <a
                                    class="link"
                                    href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-pevnej-siete/">Cenníku
                                    pre poskytovanie služieb pevnej siete.</a></div>
                        </div>
                        <div class="togleArrow">
                            <a class="toggle-arrow" href="#">Zimný balík dát<span class="arrow-right"></span></a>
                            <div class="arrow-content">Ponuka platí od 1. 11. do 30.11. 2019 a od 1.12. do 31. 12. 2019
                                k paušálom ANO, Happy, Bez záväzkov a službe Easy a možno ju využiť len raz v danom
                                jednom mesiaci výlučne cez Telekom aplikáciu. Objem dát v balíku je obmedzený podľa
                                programu Služby. Čerpanie dát je možné v SR, EÚ a zóne 1 po aktivácii účastníkom; v EÚ a
                                zóne 1 sa uplatňuje Politika primeraného využívania služieb v roamingu, bližšie v
                                Cenníku. Platnosť balíka je vždy do konca príslušného mesiaca, v ktorom bol balík
                                aktivovaný. Bližšie informácie o ponuke sú uvedené v <a
                                    href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
                                    class="link">Cenníku služieb mobilnej siete -
                                    Časť A.</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="ajaxLoadingSpinnerOverlay">
    <div class="ajaxLoadingSpinnerOverlay-container">
        <div class="square first pulse infinite animated"></div>
        <div class="square second pulse infinite animated"></div>
        <div class="square third pulse infinite animated"></div>
    </div>
</div>


<!-- popup -->
<div id="christmas2019" class="christmasPopup" style="display:none">
    <div class="p-head">
        <div class="p-close">
            <a href="#" class="close-btn">
                <!-- close btn --></a>
        </div>
    </div>
    <!-- POPUP CONTENT -->
    <div class="p-content">
        <div class="popup-lightbox">
            <h4>Ako funguje kupón?</h4>

            <p>Vezmite si nový alebo predĺžte existujúci paušál ÁNO Biznis.<br>Automaticky získate kupón do výšky:</p>
            <div class="row data">
                <div class="col-xs-8" style="text-align: left;">
                    <p>ÁNO L biznis</p>
                    <p>ÁNO XL biznis</p>
                </div>
                <div class="col-xs-4 text-right">
                    <p>25 €</p>
                    <p>40 €</p>
                </div>
            </div>
            <p>
                Kupón môžete využiť na kúpu jedného <b>ľubovoľného príslušenstva</b> v&nbsp;našich Telekom centrách
                alebo na <b>kúpu balíčka Dáta na rok 6 GB alebo 24 GB</b>.
            </p>
            <p> <b>Kupón s kódom nájdete v Telekom aplikácii,</b> ktorú si stiahnete podľa<br> vášho operačného systému
                v Google
                Play alebo AppStore.</p>
            <a class="btn cta" href="/biznis/pausal/">Vybrať paušál</a>
            <br>
            <hr style="max-width: 60%; margin: 15px auto; background:#ccc">
            <p style="line-height: normal; font-size: 14px; margin-bottom: 20px;">
                Kupón môžete tiež darovať niekomu inému. Ak si vyberiete príslušenstvo alebo ročné dáta k Easy drahšie,
                ako je váš kupón, rozdiel doplatíte. Ak bude suma nižšia alebo rovnaká, ako výška vášho kupónu, poplatok
                bude 4 centy.
                <b>Kupóny na dáta na rok k Easy karte si môžete uplatniť v Telekom centre alebo cez Zákaznícku linku
                    0800 123 456.</b>
            </p>
            <!-- <a href="#" class="link text-close">Zavrieť okno</a> -->
        </div>
    </div>
</div>



<script type="text/javascript" src="../assets/js/itp.js"></script>
<script type="text/javascript" src="../assets/js/heapbox.min.js"></script>
<script type="text/javascript" src="../assets/js/main-vianocnaLP.js"></script>
<script type="text/javascript" src="../assets/js/vianocne-akcieLP.js"></script>