/* ===============
   CSS FOR MICROSITE
   =============== */

/* SECTIONS SETTINGS */
section[id*=sec-] {
  padding-top: 5%;
  padding-bottom: 5%;
  @media screen and (max-width: 500px)  {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

section[id*=sec-]:nth-of-type(odd) {
  background-color: #ededed;
}
  // sekcia 5 fix
section[id*=sec-]:nth-of-type(5) {
  background-color: #fff;
  padding: 0%;
}
/* SECTIONS SETTINGS END */


/* HERO SECTION */
#hero {
    background: url(../img/magenta-kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    background-color: black;
    overflow: hidden;
    background-size: cover;
}
#content .hero__content {
    text-align: left;
    max-width: 460px;
    & .btn {
      color: #fff;
      margin-right: 7px;
    }
}
#content .hero__title {
  line-height: 38px;
}
@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }
    .hero__mobile {
        background: url(../img/magenta-kv.jpg) no-repeat 62% 50%;
        height: 195px;
        background-size: cover;
    }
    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .hero__content {
        padding: 40px 4%;
        text-align: center !important;
    }
    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
        text-align: center;
    }
    #hero .btn {
        margin-top: 60px;
    }
    #content .hero__content .btn {
        color: #fff;
    }
    #content .hero__content .btn_outline {
        color: #000;
    }
}

/* H1 */
#content h1 {
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #content h1 {
    font-size: 32px;
  }
}

/* H2 */
#content h2 {
  font-size: 32px;
  color: #e20074;
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  #content h2 {
    font-size: 28px;
  }
}

/* H2 EXCEPT */
#content h2.except {
  font-size: 32px;
  color: #262626;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #content h2.except {
    font-size: 28px;
  }
}

/* H3 */
#content h3 {
  font-size: 16px;
  color: #262626;
  font-weight: 600;
}

/* LINK NO REDIRECT */
#content .link-nordr {
  color: #007faf;
  text-decoration: none;
  display: block;
  & :hover {
    color: #00668d;
    text-decoration: none;
  }
}

/* SECTIONS TITLE MARGIN */
#sec-1,
#sec-2,
#sec-3 {
  & .title-mb40 {
    margin: 0px 0px 40px 0px;
  }
}


/* SEC-1 */
#sec-1 {
  & .feat_img img {
    max-width: 100%;
  }
}

/* SEC-2 */

#sec-2 {
  & .box-left {
    background-color: #fff;
    padding: 6%;
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    @media screen and (max-width: 543px) {
      margin: 5% 0%;
    }
    & p {
      margin-bottom: 15px;
    }
    & input {
      margin: 0 auto;
      min-width: 70%;
      color: #a4a4a4;
      &:focus {
        color: #000;
      }
    }
    & .btn {
      margin-top: 10px;
      margin-bottom: 10px;
      min-width: 70%;
    }
    & .link {
      display: block;
      margin-top: 3%;
    }
  }
  & .box-right {
    padding: 5% 0% 0% 0%;
    width: 100%;
    text-align: center;
    & h2.except {
      color: #262626;
      text-transform: uppercase;
      margin: 0px;
      padding-bottom: 0px;
    }
    & p.text {
      font-size: 22px;
    }
    & p.price {
      color: $magenta;
      font-size: 32px;
      & span {
        font-size: 19px;
        text-decoration: line-through;
      }
    }
    & .circle-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
      & .options {
        width: auto;
        //margin: 0 2%;
        //padding: 0px 20px 20px 20px;
        //padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        @media screen and (max-width: 768px)  {
          //margin: 0 10px;
        }
        & div.circle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          background-color: #fff;
          border-radius: 50%;
          width: 91px;
          height: 91px;
          margin: 0px auto;
          position: relative;
          @media screen and (max-width: 768px)  {
            width: 81px;
            height: 81px;
          }
          @media screen and (max-width: 635px) and (min-width: 544px)  {
            width: 65px;
            height: 65px;
          }
          & p:first-child {
            margin: 0px;
            color: $magenta;
            font-size: 28px;

            font-weight: 600;
            line-height: 22px;
            @media screen and (max-width: 635px) and (min-width: 544px)  {
              line-height: 16px;
              font-size: 22px;
            }
          }
          & p:not(:first-child) {
            margin: 0px;
            color: $magenta;
            font-size: 18px;
            @media screen and (max-width: 635px) and (min-width: 544px)  {
              line-height: 16px;
              font-size: 16px;
            }
          }
        }
        & #circle-2::before {
            content: '+';
            position: absolute;
            font-size: 30px;
            left: -40%;
            top: 28%;
            @media screen and (min-width: 961px)  {
              left: -18px;
             }
            @media screen and (max-width: 960px)  {
              left: -18px;
             }
             @media screen and (max-width: 544px)  {
               //display: none;
             }
        }
        & #circle-2::after {
            content: '+';
            position: absolute;
            right: -40%;
            font-size: 30px;
            top: 28%;
            @media screen and (min-width: 961px)  {
             right: -18px;
             }
            @media screen and (max-width: 960px)  {
             right: -18px;
            }
            @media screen and (max-width: 544px)  {
               //display: none;
            }
        }
      }
    }
  }
}

/* SEC-3 */
#sec-3 {
  & .heading {
    min-height: 40px;
    & p img {
      max-width: 50%;
      @media screen and (max-width: 767px)  {
        max-width: 40%;
      }
      @media screen and (max-width: 500px)  {
        width: 35%;
      }
    }
    & span.left {
      color: $magenta;
      font-size: 40px;
      display: inline-block;
      font-weight: 600;
    }
    & span.right {
      color: $magenta;
      display: inline-block;
      text-align: left;
      margin-left: 5px;
      line-height: 16px;
    }
  }
  & .feat-desc {
    @media screen and (max-width: 500px)  {
      width: 70%;
      margin: 0 auto;
    }
    @media screen and (max-width: 768px)  {
      width: 80%;
      margin: 0 auto;
    }
  }
}

/* SEC-4 */
#sec-4 {
  & .akcie-wrapper {
    display: flex;
    position: relative;
    height: 100%;
    @media screen and (max-width: 543px)  {
      display: block;
    }
    & .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 307px;
  	  background-color: #F1F1F1;
      padding-right: 0;
      & div.left-wrap {
        padding: 10px 20px;
      }
      & h3 {
        font-size: 22px;
        line-height: 26px;
      }
      & ul.list {
        list-style: disc;
      }
      & ul li {
        line-height: 19px;
        font-size: 16px;
        @media screen and (min-width: 768px) and (max-width: 960px) {
          line-height: 16px;
          font-size: 14px;
        }
      }
      & .btn_outline {
        @media screen and (max-width: 500px)  {
          margin-bottom: 10px;
        }
      }
    }
    & .right {
        padding-left: 0;
        background: url("../img/sagan.png") no-repeat;
        background-size: cover;
        min-height: 307px;
      & img {
        width: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      @media screen and (max-width: 543px)  {
        display: none;
      }
    }
  }
}

/* SEC-5 */
#sec-5 {
  & .info {
      padding: 35px;
      border: 1px solid #e6e6e6;
      & h2 {
        font-size: 24px;
        margin: 0;
      }
  }
  & .faq__img {
    width: 100%;
    max-width: 125px;
  }
  & .faq__item {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .faq__item:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover, &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */
