<section id="sec-cmb" class="section sec-cmb">
    <div class="container-fixed">
        <div class="row">
            <div id="cmb__holder"></div>
            <div class="cmb__area" id="cmb__block">
                <div class="cmd-row">
                    <div class="cmb__area-img">
                        <img src="../assets/img/ico-cmb.jpg" alt="">
                    </div>
                    <div class="cmb__area-left">
                        <h3 class="cmb__area__head">Poradíme vám s paušálmi?</h3>
                    </div>
                    <div class="cmb__area-right">
                        <a class="button" href="#" id="cmb__btn">Áno, zavolajte mi späť</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<!-- CMB CHYBOVA HLASKA -->
<!-- <div class="error-block-cmb">
    <div class="cmb__area">
        <h3 class="cmb__area__head">Ospravedlňujeme sa, nastala neočakávaná chyba.</h3>
        <a class="button" href="#" id="refresh__btn">Znova načítať</a>
        <div id="cmb__block" class="cmb__only">
            <h3 class="cmb__area__head">Do minúty vám vieme pomôcť cez telefón.</h3>
            <a class="button" href="#" id="cmb__btn">Zavolajte mi</a>
        </div>
    </div>
</div> -->
<style>
#content #cmb__btn, #content #refresh__btn {font-size: 16px; display: inline-block; }
.cmb__only {display: block; width: 100%; }
#content .cmb__area {max-width: 940px; margin: 0 auto 20px auto;
    background: #ededed; padding: 0; width: 100%;
    min-height: 97px; width: 100%; }

#content .cmd-row {width: 100%; float: left; }
#content .cmb__area-img img {display: block; }
#content .cmb__area-img{position: relative; min-height: 1px; float: left; width: 100%; }
#content .cmb__area-left {position: relative; min-height: 1px;
    padding-right: 10px; padding-left: 10px; float: left; width: 100%; }
#content .cmb__area-right {
    position: relative; min-height: 1px;
    padding-right: 10px; padding-left: 10px; float: left; width: 100%; }

@media (max-width: 768px) {
#content .cmb__area {text-align: center;}
#content .cmb__area-img img {margin: 0 auto;}
#content .cmb__area-right { padding-top: 5px;padding-bottom: 15px;}
}
@media (min-width: 768px) {
    #content .cmb__area-img{ width: 30.3333%; padding-left: 10px;}
    #content .cmb__area-left { width: 40.3333%; padding-top: 25px; }
    #content .cmb__area-right { width: 29.3333%; padding-top: 25px;}
}
@media (min-width: 940px) {
    #content .cmb__area-img{ width: 33.3333%; padding-left: 80px;}
    #content .cmb__area-left { width: 33.3333%; padding-top: 25px; }
    #content .cmb__area-right { width: 33.3333%; padding-top: 25px;}
}

#content h3.cmb__area__head {border-bottom: 0; font-weight: normal; padding: 0; padding-right: 10px; padding-top: 10px; margin: 0; font-size: 28px; color: #262626; }
#cmb__holder:after, #cmb__holder:before {content: ""; display: table; clear: both; }
#cmb__holder {/*text-align: center;*/ }

</style>
<script>
$(function() {
    $('#cmb__block').appendTo('#cmb__holder');

    if (window.location.pathname == '/internet/magio-internet' || window.location.pathname == '/televizia/magio-televizia' || window.location.pathname == '/chytry-balik') {
        $('#cmb__block').css('background-color', '#FFD329');
        $('.cmb__area__head').text('Máte záujem o výhodnejšiu ponuku?');
        $('#cmb__btn').text('Áno, zavolajte mi');
    }

});
</script>
<script>
$(function() {
    $('#refresh__btn').on('click', function() {
        location.reload();
    });
});
</script>
