<link rel="stylesheet" href="https://www.telekom.sk/documents/10179/642134/happy6.css">
<link rel="stylesheet" href="https://m.telekom.sk/wb/happy6/css/happy6_table.css">
<style>
    .footer-top.sticky {
        position: relative !important;
    }
    
    .modrePole {
        background: #cfe0ef;
        padding: 25px;
        width: 100%;
        max-width: 776px;
        box-sizing: border-box;
        margin: 25px 0;
        text-align: center;
    }
    
    .modrePole .button {
        font-size: 16px !important;
        background: #e10073;
        border: 1px solid #e10073;
    }
    
    .modrePole .button span {
        display: block;
        line-height: 1.4em;
    }
    
    .c-row-3 {
        padding-bottom: 70px;
        overflow: hidden;
    }
    
    #content .box__item_power {
        display: none;
    }
</style>


<section class="section" id="sec-5">
    <div class="c-row c-row-3">
        <div class="c-content">
            <div class="header">
                <h2 id="-48"> AKTUÁLNE AKCIE</h2> </div>
            <div class="box__item box__custom-full">
                <div class="box__content">
                    <p class="box__title"> U susedov za ceny ako doma!</p>
                    <p class="box__desc"> S paušálmi Happy voláte a esemeskujete v Česku, Maďarsku, Poľsku a Rakúsku v rámci voľných minút a SMS. Po ich minutí voláte a esemeskujete za ceny ako doma!</p> <a class="button button-green" href="https://www.telekom.sk/objednavka/-/scenario/e-shop/happy" id="show-happy">MÁM ZÁUJEM</a></div>
            </div>
            <div class="col-gr disp-flex col-act">
                <div class="box__item">
                    <div class="content-holder">
                        <p class="box__title"> Čakanie na nový mobil skracujeme o polovicu</p>
                        <p class="box__desc"> Nečakajte 24 mesiacov a vezmite si nový mobil už po roku s novou službou Mobil každý rok.</p> <a class="link" href="/mobilkazdyrok">Môžem už získať nový mobil?</a>
                    </div>
                </div>
                <div class="box__item">
                    <div class="content-holder">
                        <p class="box__title"> Navigácia Sygic za výhodnú cenu</p>
                        <p class="box__desc">Zákazníci s paušálom Happy získajú navigáciu Sygic Voucher Edition s mapami celej Európy len za 1,49 € mes.</p>
                        <a class="button button-green" href="/objednavka/-/scenario/e-shop/happy">VYBRAŤ PAUŠÁL</a>
                        <br />
                        <a class="link" href="/volania/sygic-voucher-edition">Viac info o akcii</a>
                    </div>
                </div>
                <div class="box__item">
                    <div class="content-holder">
                        <p class="box__title"> Neobmedzené volania z Pevnej linky</p>
                        <p class="box__desc"> a navyše štýlový telefón získate k paušálu Happy</p> <a class="link link_dark" href="/volania/pevna-linka/vtech-retro">Prejsť na ponuku</a>
                    </div>
                </div>

            </div>
            <div class="header">
                <h2 class="grey" id="-49"> EXTRA AKCIE PRI KÚPE CEZ WEB</h2> </div>
            <div>
                <div class="col-2 col-c">
                    <div class="box__item box__custom-sizes">
                        <p class="box__title"> Zdieľanie dát z paušálu zadarmo!</p> <img alt=" " class="img-share" src="/documents/10179/642134/ikonky-zdielanie.png">
                        <p class="box__desc"> Nemáte Wi-Fi a chcete so svojim blízkym naraz surfovať na svojom telefóne aj tablete? Odteraz už môžete. Zdieľanie dát v ďalšom zariadení získate ku každému novému paušálu Happy L, XL volania, XL, XXL a Profi na 24 mesiacov zadarmo.
                            <br> <b>Za dva roky ušetríte vyše 70 €!</b></p> <a class="button button-green" href="/objednavka/-/scenario/e-shop/happy">PREJSŤ NA PAUŠÁLY</a></div>
                </div>
                <div class="col-2 col-2_right col-c">
                    <div>
                        <div class="col-2 col-2_custom col-c">
                            <div class="box__item box__item_fixed">
                                <p class="box__title"> Bezplatné volania na 3 čísla len za 5,99 € mesačne!</p>
                                <p class="box__desc"> S paušálom Happy XS Mini voláte bezplatne až na 3 čísla do akejkoľvek mobilnej siete v SR.</p> <a href="/happy-xs-mini ">Viac o Happy XS Mini</a></div>
                        </div>
                        <div class="col-2 col-2_custom col-2_right col-c">
                            <div class="box__item box__item_fixed">
                                <p class="box__title"> Výpredaj mobilov za super ceny</p>
                                <p class="box__desc"> Len na webe si môžete vybrať z mobilov už od 1 € k šikovnému paušálu Happy XS Mini alebo Easy karte.</p> <a href="/vypredaj-telefonov ">Prejsť na ponuku</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="c-row c-row-5">
    <div class="c-content">
        <h2 id="-59"> MOHLO BY VÁS ZAUJÍMAŤ</h2>
        <div class="tiles-a">
            <div class="c-tile c-tile-1">
                <div class="c-tile-img"> <img src="/documents/10179/642134/happy_roaming.png"></div>
                <div class="c-tile-head">
                    <h3 id="-60"> Roaming Happy</h3> </div>
                <div class="c-tile-desc"> S Happy roamingom voláte v celej EÚ, Nórsku, Švajčiarku a na Islande len za 0,13&nbsp;€&nbsp;/&nbsp;min.</div>
                <div class="c-tile-order"> <a href="https://www.telekom.sk/volania/roaming#happyroaming">Viac o Roamingu Happy</a></div>
            </div>
            <div class="c-tile c-tile-2">
                <div class="c-tile-img"> <img src="/documents/10179/642134/happy_zdielanie.png"></div>
                <div class="c-tile-head">
                    <h3 id="-61"> Zdieľanie dát</h3> </div>
                <div class="c-tile-desc"> Dáta z paušálu môžete zdieľať na notebooku či tablete. Stačí si aktivovať dátovú SIM za 2,99&nbsp;€ mesačne.</div>
                <div class="c-tile-order"> <a href="https://www.telekom.sk/internet/internet-v-mobile#sec-4">Viac o Zdieľanie dát</a></div>
            </div>
            <div class="c-tile c-tile-3">
                <div class="c-tile-img"> <img src="/documents/10179/642134/happy_prenos.png"></div>
                <div class="c-tile-head">
                    <h3 id="-62"> Prenos čísla</h3> </div>
                <div class="c-tile-desc"> Všetko vybavíme za vás. Požiadajte o prenos čísla k nám a užívajte si všetky výhody, ktoré Happy paušály ponúkajú.</div>
                <div class="c-tile-order"> <a href="https://www.telekom.sk/volania/prenos-cisla">Prejsť na Prenos čísla</a></div>
            </div>
            <div class="c-tile c-tile-4">
                <div class="c-tile-img"> <img src="/documents/10179/642134/happy_klik.png" /></div>
                <div class="c-tile-head">
                    <h3> Klikni a vyzdvihni</h3> </div>
                <div class="c-tile-desc"> Už nečakajte v rade, ani na kuriéra. So službou Klikni a vyzdvihni máte možnosť objednať si mobil cez web a vyzdvihnúť ho u nás na predajni.</div>
                <div class="c-tile-order"><a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw">Chcem nový mobil</a></div>
            </div>
            <div class="c-tile c-tile-5">
                <div class="c-tile-img"> <img src="/documents/10179/642134/happy_4g.png"></div>
                <div class="c-tile-head">
                    <h3 id="-63"> 4G SIM karta zadarmo</h3> </div>
                <div class="c-tile-desc"> Stačí o ňu požiadať počas kúpy alebo predĺženia <a href="https://www.telekom.sk/objednavka/-/scenario/e-shop/happy">Happy paušálu</a> na webe, telefonicky na 0800&nbsp;123&nbsp;456 alebo osobne v niektorom z našich <a class="grey" href="http://www.telekom.sk/kontakt/predajne/">Telekom centier</a>. O zmenu EASY SIM karty na 4G je možné požiadať telefonicky alebo osobne.</div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>