<section id="hero">
  <div class="container-fixed">
    <div class="hero__mobile"></div>
    <div class="hero__content text-center">
      <div class="ec-holder">
        <!-- <img src="../assets/img/ec_30d.png" alt="" /> -->
      </div>
      <div class="desc-holder">
        <h1 class="hero__title">
          <span class="text_bold">HBO GO</span>
          <span class="text_thin"
            >K MAGIO TELEVÍZII ALEBO<br />MOBILNÝM PAUŠÁLOM</span
          >
        </h1>
        <a class="btn cta scroll-to" href="#sec-1">Pozrieť viac o HBO GO</a
        ><br />
        <!-- <a class="moreInfo scroll-to" href="#akcie">Pozrieť viac o HBO GO</a> -->
      </div>
    </div>
  </div>
</section>

<section class="section" id="sec-benefits">
  <div class="container-fixed">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/play.png" alt="" />
        <p><b>Všetko na jednom mieste</b></p>
        <p>
          Vyberte si z viac ako 7000 hodín filmov, kasových trhákov z kín,
          najhorúcejších seriálov, kopy animovaných programov a nejlepšieho
          obsahu pre deti s dabingom.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/hbogo.png" alt="" />
        <p>
          <b
            >Sledujte program na dvoch zariadeniach súčasne a zaregistrujte až
            päť zariadení</b
          >
        </p>
        <p>
          Sledujte HBO GO kdekoľvek na iOS alebo Android telefónoch či
          tabletoch. Aplikácia HBO GO sa dá stiahnuť aj do smart televízorov,
          herných konzol, alebo do Apple TV. Sledovať HBO GO môžete aj na
          počítači, notebooku či cez Chromecast.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/premium-package.png" alt="" />
        <p><b>Každý týždeň nový obsah</b></p>
        <p>
          Vyberte si z viac ako 800 filmov, 200 seriálov a množstva animákov.
          Nové filmy a diely seriálov uvádzame každý týždeň. Sledujte najnovšie
          premiéry a ďalší pútavý program na HBO GO všade, kde máte pripojenie k
          internetu.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="sec-1" style="background-color: #ededed;">
  <div class="container-fixed">
    <h2 class="sec__title text-center" id="-0">
      Aktivujte si HBO GO za zvýhodnenú mesačnú cenu.
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 text-center">
        <p>
          <b>HBO GO si môžete aktivovať k akémukoľvek Magio internetu, Magio televíziii, T paušálu alebo paušálu ÁNO či Happy.
        </p>
      </div>
    </div>
  </div>
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <div class="tabs-container">
          <div class="tab__holder">
            <!-- TABS MENU -->
            <!-- <ul class="tabs-menu">
              <li class="variant current" data-variant="1">
                <a href="#tab-2">Mesačne výhodne</a>
              </li>
            </ul> -->
          </div>

          <div class="tab">
            <!-- Tab 1 -->
            <div class="tab-content clearfix" id="tab-1">
              <div class="tab-box">
                <div class="tab-box__content">
                  <div class="col-xs-12 col-md-12">
                    <!-- tab content -->
                    <div class="shadow-box">
                      <div class="channels">
                        <img src="../assets/img/logo.png" alt="channels" />
                      </div>
                      <div class="content">
                        <p class="headline">
                          Chcem HBO GO za zvýhodnenú mesačnú cenu
                        </p>
                        <div class="row sep-1">
                          <span class="text-left magenta"><b>Mesačne</b></span>
                          <span class="text-right magenta"><b>5,00 €</b></span>
                        </div>
                        <div class="row sep">
                          <span class="text-left text-gray">&nbsp;</span>
                          <span class="text-right text-gray"
                            >bežne
                            <span style="text-decoration: line-through;"
                              >5,99 €</span
                            >
                          </span>
                        </div>
                        <p class="terms">
                          Výhodná cena platí pri 24 mesačnej viazanosti.
                        </p>

                        <div class="cta-holder">
                          <a class="btn cta" href="/televizia/hbo-go/mam-zaujem"
                            >AKTIVOVAŤ HBO GO</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section" id="sec-howto">
  <div class="container-fixed">
    <h2 class="sec__title text-center" id="-0">
      AKTIVÁCIA HBO GO JE JEDNODUCHÁ
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/step1.png" alt="" />
        <p><b>PRIHLÁSENIE CEZ OPERÁTORA</b></p>
        <p>
          Na stránke
          <a href="https://www.hbogo.sk" class="link" target="_blank"
            >hbogo.sk</a
          >
          si v Menu vyberte Nastavenia a kliknite na Registrovať. Zvoľte
          Prihlásenie cez operátora a vyberte Slovak Telekom.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/step2.png" alt="" />
        <p><b>VYPLNENIE ÚDAJOV</b></p>
        <p>
          Zadajte svoj TV HBO GO ID. Vyplňte svoje údaje a dokončite
          registráciu.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/step3.png" alt="" />
        <p><b>STIAHNUTIE APLIKÁCIE</b></p>
        <p>
          Po úspešnej registrácii si do zariadenia (smartfón, tablet, smart tv,
          počítač) stiahnite aplikáciu HBO GO, vhodnú pre váš operačný systém a
          môžete začať sledovať viac ako 7000 hodín programu.
        </p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="manual text-center">
        <p>
          Ak si neviete rady s registráciou, pozrite si podrobnejší<br>
          <a href="#" class="link" target="_blank">manuál o HBO GO</a>
        </p>
      </div>
    </div> -->
  </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
