<section id="hero">
  <div class="container-fixed">
    <div class="hero__mobile"></div>
    <div class="hero__content text-center">
      <div class="ec-holder">
         <img src="../assets/img/ec_zadarmo_30dni.png" alt="" />
      </div>
      <div class="desc-holder">
        <h1 class="hero__title">
          <span class="text_bold">
            VIANOČNÝ DARČEK<br>
						PRE VŠETKÝCH
					</span>
          <span class="text_thin">
						FILMOVÁ APPKA HBO GO
					</span>
        </h1>
        <a class="btn cta scroll-to" href="#sec-1">OBJEDNAŤ</a>
				<br />
         <a class="moreInfo scroll-to" href="#sec-benefits">Pozrieť viac o HBO GO</a>
      </div>
    </div>
  </div>
</section>

<section class="section" id="sec-benefits">
  <div class="container-fixed">
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/play.png" alt="" />
        <p><b>Všetko na jednom mieste</b></p>
        <p>
          Vyberte si z viac ako 7000 hodín filmov, kasových trhákov z kín,
          najhorúcejších seriálov, kopy animovaných programov a nejlepšieho
          obsahu pre deti s dabingom.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/hbogo.png" alt="" />
        <p>
          <b
            >Sledujte program na dvoch zariadeniach súčasne a zaregistrujte až
            päť zariadení</b
          >
        </p>
        <p>
          Sledujte HBO GO kdekoľvek na iOS alebo Android telefónoch či
          tabletoch. Aplikácia HBO GO sa dá stiahnuť aj do smart televízorov,
          herných konzol, alebo do Apple TV. Sledovať HBO GO môžete aj na
          počítači, notebooku či cez Chromecast.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/premium-package.png" alt="" />
        <p><b>Každý týždeň nový obsah</b></p>
        <p>
          Vyberte si z viac ako 800 filmov, 200 seriálov a množstva animákov.
					<b>HBO GO uvádza nové filmy a diely seriálov každý týždeň</b>. Sledujte najnovšie
          premiéry a ďalší pútavý program všade, kde máte pripojenie k
          internetu.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="sec-1" style="background-color: #ededed;">
	<div class="container-fixed">
		<h2 class="sec__title text-center">SLUŽBY A CENY</h2>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 text-center">
				<p>
					<b>Objednajte si vianočný darček pre všetkých. HBO GO zadarmo na 30 dní</b>
					získate k akémukoľvek paušálu, programu Bez záväzkov, Mobilnému internetu, Magio internetu, TV alebo
					k pevnej linke. Užívajte si HBO GO zadarmo bez obáv, <b>na koniec bezplatného obdobia a možnosť deaktivácie vás včas upozorníme</b>.
				</p>
				<p>
					HBO GO si môžete objednať aj bez služieb od Telekomu za zvýhodnený poplatok 5 € mesačne.
				</p>
			</div>
		</div>
	</div>
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12">
				<div class="tabs-container">
					<div class="tab__holder">
						<!-- TABS MENU -->
						<ul class="tabs-menu">
							<li class="variant current" data-variant="1">
								<a href="#tab-1">30 dní zadarmo</a>
							</li>
							<li class="variant" data-variant="1">
								<a href="#tab-2">Bez Telekom služieb</a>
							</li>
						</ul>
					</div>

					<div class="tab">
						<!-- Tab 1 -->
						<div class="tab-content clearfix" id="tab-1">
							<div class="tab-box">
								<div class="tab-box__content">
									<div class="col-xs-12 col-md-12">
										<div class="shadow-box">
											<div class="channels">
												<img src="../assets/img/logo_2020_12.png" alt="channels" />
											</div>
											<div class="content">
												<p class="headline">
													Vianočný darček HBO GO
													na 30 dní zadarmo
												</p>
												<div class="row sep-1">
                          <span class="text-left magenta"
													><b>Prvých 30 dní</b></span
													>
													<span class="text-right magenta"><b>zadarmo</b></span>
												</div>
												<div class="row sep">
													<span class="text-left text-gray">Potom mesačne</span>
													<span class="text-right text-gray">5,00 €</span>
												</div>
												<p class="terms">
													Bez viazanosti s možnosťou kedykoľvek deaktivovať
												</p>

												<div class="cta-holder">
													<a class="btn cta" href="/vianoce/hbo-go-zadarmo">OBJEDNAŤ ZADARMO</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Tab 2 -->
						<div class="tab-content clearfix" id="tab-2">
							<div class="tab-box">
								<div class="tab-box__content">
									<div class="col-xs-12 col-md-12">
										<!-- tab content -->
										<div class="shadow-box">
											<div class="channels">
												<img src="../assets/img/logo_2020_12.png" alt="channels" />
											</div>
											<div class="content">
												<p class="headline">
													HBO GO samostatne bez služieb od Telekomu
												</p>
												<div class="row sep-1">
													<span class="text-left magenta"><b>Mesačne</b></span>
													<span class="text-right magenta"><b>5,00 €</b></span>
												</div>
												<div class="row sep">
													<span class="text-left text-gray">&nbsp;</span>
													<span class="text-right text-gray"
													>pôvodne
                            <span style="text-decoration: line-through;"
														>6 €</span
														>
                          </span>
												</div>
												<p class="terms">
													Výhodná cena platí pri 24 mesačnej viazanosti.
												</p>

												<div class="cta-holder">
													<a class="btn cta" href="/televizia/hbo-go/mam-zaujem"
													>OBJEDNAŤ HBO GO</a
													>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section" id="sec-howto">
  <div class="container-fixed">
    <h2 class="sec__title text-center" id="-0">
      AKTIVÁCIA HBO GO JE JEDNODUCHÁ
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/step1.png" alt="" />
        <p><b>PRIHLÁSENIE CEZ OPERÁTORA</b></p>
        <p>
          Na stránke
          <a href="https://www.hbogo.sk" class="link" target="_blank"
            >hbogo.sk</a
          >
          si v Menu vyberte Nastavenia a kliknite na Registrovať. Zvoľte
          Prihlásenie cez operátora a vyberte Slovak Telekom.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/step2.png" alt="" />
        <p><b>VYPLNENIE ÚDAJOV</b></p>
        <p>
          Zadajte svoj TV HBO GO ID. Vyplňte svoje údaje a dokončite
          registráciu.
        </p>
      </div>

      <div class="col-xs-12 col-sm-4 text-center">
        <img src="../assets/img/step3.png" alt="" />
        <p><b>STIAHNUTIE APLIKÁCIE</b></p>
        <p>
          Po úspešnej registrácii si do zariadenia (smartfón, tablet, smart tv,
          počítač) stiahnite aplikáciu HBO GO, vhodnú pre váš operačný systém a
          môžete začať sledovať viac ako 7000 hodín programu.
        </p>
      </div>
    </div>
    <!-- <div class="row">
      <div class="manual text-center">
        <p>
          Ak si neviete rady s registráciou, pozrite si podrobnejší<br>
          <a href="#" class="link" target="_blank">manuál o HBO GO</a>
        </p>
      </div>
    </div> -->
  </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
