<!-- HERO -->
<section id="hero-m">
    <div class="breadcrumb">
        <!-- breadcrumb bg -->
    </div>
    <div class="container-fixed">
        <div class="row">
            <div class="hero__mobile"></div>
            <div class="hero__content col-md-6 push-md-6">
                <p class="hero__site-name">MOBILNÉ HAPPY PAUŠÁLY</p>
                <h1 class="hero__title">TERAZ S EXTRA PORCIOU DÁT</h1>
                <!-- <p class="hero__desc">
                </p> -->
                <div class="hero__cta col-lg-6">
                    <a class="btn btn_hero scroll-to" href="#sec-1">POZRIEŤ SI PAUŠÁLY</a></div>
                <!-- <div class="hero__cta-desc col-lg-6">
                    <p></p>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- NAVIGATION -->
<div class="main-navigation" id="nav-sticky-custom">
    <ul class="main-menu">
        <li> <a class="scroll-to" href="#module-plan-chooser">SLUŽBY A CENY</a></li>
        <li> <a class="scroll-to" href="#sec-6">PROGRAM BEZ ZÁVÄZKOV </a></li>
        <li> <a class="scroll-to" href="#sec-7">AKCIE</a></li>
        <li> <a class="scroll-to" href="#sec-9">DÁTOVÉ BALÍKY</a></li>
        <li> <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png"></a></li>
    </ul>
</div>
<!--  SEC-1 -->
<section id="sec-1">
    <div id="module-plan-chooser">
        <div class="container-fixed">
            <h2 class="sec__title mg-top_40">SLUŽBY A CENY PAUŠÁLOV HAPPY</h2>
            <div id="plan-switcher">
                <p class="plan-sec-head">Chcem nový paušál:</p>
                <div class="ps__btn-holder">
                    <a href="#" id="plan-mobile" class="btn ps__btn ps__btn_selected">S novým mobilom</a>
                    <a href="#" id="plan-no-mobile" class="btn ps__btn">Bez mobilu</a>
                </div>
                <div class="plan-separator-holder">
                    <span class="p-separator sl"></span>
                    <p class="plan-separator">alebo</p>
                    <span class="p-separator s2"></span>
                </div>
                <div class="ps__link-holder">
                    <a href="#sec-prolong" id="to-prolong" class="link link_no-underline scroll-to">Chcem predĺžiť paušál</a>
                </div>
            </div>
            <div id="ec-holder">
                <img id="ec-1" src="../assets/img/ec-webzlava.png" alt="" class="ec-module">
                <img id="ec-3" src="../assets/img/ec-kurier.png" alt="" class="ec-module">
            </div>
            <div id="plan-filter">
                <p class="plan-sec-head">Zobraziť paušály:</p>
                <div class="row">
                    <div class="col-md-4 col-sm-4 filter-item">
                        <div class="filter-checkbox-holder">
                            <input id="base" class="filter-checkbox" type="checkbox" checked>
                        </div>
                        <div class="filter-text-holder">
                            <p class="filter-title">Základné</p>
                            <p class="filter-detail">Volania, SMS a e-maily
                                <br />(do 400 MB dát)</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 filter-item">
                        <div class="filter-checkbox-holder">
                            <input id="favourite" class="filter-checkbox" type="checkbox" checked>
                        </div>
                        <div class="filter-text-holder">
                            <p class="filter-title">Obľúbené</p>
                            <p class="filter-detail">E-maily, webstránky a sociálne siete
                                <br />(do 6 GB dát)</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 filter-item">
                        <div class="filter-checkbox-holder">
                            <input id="experienced" class="filter-checkbox" type="checkbox" checked>
                        </div>
                        <div class="filter-text-holder">
                            <p class="filter-title">Pre náročných</p>
                            <p class="filter-detail">Web, sociálne siete, hudba a videá
                                <br />(do 16 GB dát)</p>
                        </div>
                    </div>
                </div>
                <p id="filter-result">Nájdených <span id="filteredObjCount">9</span> výsledkov z <span id="allObj">9</span> paušálov
                </p>
            </div>
            <div id="plan-list_pc">
                <div class="plp__head">
                    <div class="row">
                        <div class="plc__col plc__col-1">
                            <a href="#" id="sort-by-price" class="plp__head-item plph__ico unset">Cena mesačne</a>
                        </div>
                        <div class="plc__col plc__col-2">
                            <a href="#" id="sort-by-data" class="plp__head-item plph__ico unset">4G dáta</a>
                        </div>
                        <div class="plc__col plc__col-3">
                            <p class="plp__head-item">Volania</p>
                        </div>
                        <div class="plc__col plc__col-4">
                            <p class="plp__head-item">SMS a MMS</p>
                        </div>
                        <div class="plc__col plc__col-5"></div>
                    </div>
                </div>
                <div id="plp__body">
                </div>
            </div>
            <div id="plan-list_mob">
                <span id="plm-sticky">
                <p class="plan-sec-head">POROVNAŤ PAUŠÁLY PODĽA</p>

                <div id="plm__head">
                    <a href="#" id="show-calls" class="plm__head-item" data-headid="0">Volania</a>
                    <a href="#" id="show-data" class="plm__head-item plm__head-item_selected" data-headid="1">4G dáta</a>
                    <a href="#" id="show-sms" class="plm__head-item" data-headid="2">SMS/MMS</a>
                </div>
            </span>
                <div id="plm__body">
                </div>
                <div id="plm__plan-detail" class="hidden">
                    <div class="plmp__head plmp__head_w-ribbon">
                        <a href="#" id="plm__plan-back"><img src="../assets/img/ico-back.png" alt=""></a>
                        <p class="plm__plan-name">Happy XS mini</p>
                        <p class="plmp__ribbon">DOSTUPNÝ LEN NA WEBE</p>
                    </div>
                    <div class="plmp__body">
                    </div>
                </div>
            </div>
            <p class="module-legal">EÚ+ sú všetky členské štáty EÚ, Island, Nórsko a Lichtenštajnsko</p>
            <div id="plm__overlay" class="hidden"></div>
            <div class="section" id="sec-prolong">
                <div class="prolong-wrapper">
                    <h2 class="prolong-title">Chcete predĺžiť svoj paušál?</h2>
                    <p class="prolong-desc">Overte svoje číslo a užívajte si naďalej neobmedzené volania do mobilnej a pevnej siete Telekom či ďalšie výhody. Zistite aké.</p>
                    <div class="prolong-form-holder">
                        <div class="prolong-input-wrapper">
                            <div class="input-label">
                                Zadajte svoje telefónne číslo:
                            </div>
                            <input class="prolong-input" id="msisdn" maxlength="10" placeholder="09" type="text" value="" />
                        </div>
                        <a class="btn btn_outline" href="#" id="msisdn-btn">OVERIŤ</a>
                    </div>
                    <div class="prolong-cta">
                        <div class="prolong-separator">
                            <span class="p-separator sl"></span><span>alebo</span><span class="p-separator sr"></span></div>
                        <a class="prolong-call" href="#" id="prolong-cmb"><img src="../assets/img/ico-call.png" alt=""> predĺžiť paušál telefonicky</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- NAVIGATION -->
<div id="nav-sticky-sticky-wrapper" class="sticky-wrapper">
    <div class="main-navigation" id="nav-sticky">
        <ul class="main-menu">
            <li> <a class="scroll-to" href="#module-plan-chooser">SLUŽBY A CENY</a></li>
            <li> <a class="scroll-to" href="#sec-6">PROGRAM BEZ ZÁVÄZKOV </a></li>
            <li> <a class="scroll-to" href="#sec-7">AKCIE</a></li>
            <li> <a class="scroll-to" href="#sec-9">DÁTOVÉ BALÍKY</a></li>
            <li> <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png"></a></li>
        </ul>
    </div>
</div>
<!-- SEC-6 ŠPECIÁLNE PROGRAMY -->
<section class="section sec-6" id="sec-6">
    <div class="container-fixed">
        <div class="row">
            <!--  Title -->
            <div class="col-md-12 text_centered">
                <h2 class="sec__title">
                    PROGRAMY BEZ VIAZANOSTI A MESAČNÝCH POPLATKOV</h2>
            </div>
            <div class="col-md-12">
                <div class="tabs-container">
                    <div class="tab__holder">
                        <ul class="tabs-menu">
                            <li class="variant current" data-variant="1">
                                <a href="#tab-1">Program Bez záväzkov</a></li>
                            <!--                             <li class="variant" data-variant="2">
                                <a href="#tab-2">Bez záväzkov + 100 minút</a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="tab">
                        <!-- Tab 1 -->
                        <div class="tab-content" id="tab-1">
                            <div class="tab-box">
                                <div class="tab-box__cover-tab1">
                                    <p class="pbc__title">
                                        BEZ ZÁVÄZKOV</p>
                                </div>
                                <div class="tab-box__content">
                                    <div class="tab_title col-xs-8 col-md-8">
                                        <p class="font_magenta">
                                            <span class="tab-font-big">0</span> € <span class="font_grey">| mesačne</span></p>
                                    </div>
                                    <div class="tab_title-img col-xs-4 col-md-4 text_centered">
                                        <img alt="" class="clip-info" src="../assets/img/ec_clip-b.png" /></div>
                                    <div class="tab_desc col-xs-12 col-md-12">
                                        <p>
                                            <b>Pre tých, ktorí sa neradi viažu!</b>
                                            <br /> S programom Bez záväzkov voláte, esemeskujete a dátujete bez viazanosti a pravidelných poplatkov.</p>
                                        <a class="btn cta" href="/volania/happy/bez-zavazkov">kúpiť bez záväzkov</a>
                                        <br />
                                        <a class="info-link" href="/volania/happy/bez-zavazkov">Pozrieť viac info</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 -->
                        <!--  <div class="tab-content" id="tab-2">
                            <div class="tab-box">
                                <div class="tab-box__cover-tab2">
                                    <p class="pbc__title">
                                        BEZ ZÁVÄZKOV</p>
                                    <p class="pbc__sub-title">
                                        <b>+ 100 MINÚT</b></p>
                                </div>
                                <div class="tab-box__content">
                                    <div class="tab_title col-xs-8 col-md-8">
                                        <p class="font_magenta">
                                            <span class="tab-font-big">3,49</span> € <span class="font_grey">| mesačne</span></p>
                                    </div>
                                    <div class="tab_title-img col-xs-4 col-md-4 text_centered">
                                        <img alt="" src="../assets/img/ec_minuta.png" /></div>
                                    <div class="tab_desc col-md-12">
                                        <p>
                                            <b>Pre tých, ktorí radi volajú a neradi sa viažu!</b> Program Bez záväzkov so 100 minútami si môžu vziať len majitelia vybraných paušálov Happy. <img alt="" class="pausaly-info" src="../assets/img/ico-question.png" /></p>
                                        <a a="" class="btn cta" href="/volania/bez-zavazkov-100-minut">kúpiť bez záväzkov + 100 minút</a>
                                        <br />
                                        <a class="info-link" href="/volania/bez-zavazkov-100-minut">Pozrieť viac info</a></div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SEC-7 Aktualne akcie -->
<section class="section sec-7" id="sec-7">
    <div class="container-fixed" id="mod-akcie">
        <div class="row text_centered">
            <!--  Title -->
            <div class="col-md-12">
                <h2 class="sec__title">
                    AKTUÁLNE akcie</h2>
            </div>
        </div>
        <div class="row box__holder">
            <div class="col-xs-12 col-md-12">
                <div class="border-box box-01">
                    <div class="col-md-7 text__holder">
                        <div class="col-md-12">
                            <h3 class="main-box-title"> EXTRA PORCIA <br> MOBILNÝCH DÁT ku všetkým paušálom happy!</h3>
                            <p class="main-box-desc">
                                Zvýšili sme objem mobilných dát verným, aj novým zákazníkom – vo všetkých paušáloch Happy. Môžete ich využiť na Slovensku, aj v celej zóne EÚ+.</p>
                        </div>
                        <div class="col-md-12">
                            <a class="btn cta mgt-10 scroll-to" href="#module-plan-chooser">POZRIEŤ SI PAUŠÁLY</a></div>
                        <div class="col-md-12">
                            <p class="box-01_disc main-box-desc">EÚ+: všetky členské štáty EÚ a Island, Nórsko, Lichtenštajnsko</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 custom-1">
                <div class="border-box box-02a">
                    <div class="col-md-8 box-02_inner">
                        <span class="novinka font_magenta">Novinka!</span>
                        <h3 class="box-title"> DÁTUJTE NEOBMEDZENE S MAGENTA 1</h3>
                        <p class="offer__desc">
                            Vyberte si ľubovoľný deň v týždni, v ktorom budete počas celého leta <span class="text_bold">dátovať neobmedzene</span> v rámci celej SR! Stačí byť členom <a href="/magenta1-skupina/">skupiny Magenta 1</a>, v ktorej sú aspoň 2 pevné služby úrovne M alebo vyššie.
                            <br />
                            <br />
                            <a class="btn cta" href="/magenta1-skupina/">Aktivovať</a></p>
                    </div>
                    <div class="col-md-4 box-02_img">
                        <img alt="Deezer vám zlepší deň. Mesačne len 2,99€" class="responsive-image" src="../assets/img/prom-mag.jpg" /></div>
                </div>
            </div>
            <!--             <div class="col-xs-4 col-md-4 custom-2">
                <div class="border-box box-02b">
                    <div class="col-md-12 box-02_inner">
                        <span class="novinka font_magenta">Novinka!</span>
                        <h3 class="box-title">
                                HAPPY XL DÁTA PRE MLADÝCH</h3>
                        <p class="offer__desc">
                            <span class="text_bold">Máme nový paušál pre mladých, s ktorým získate 5 GB dát v mobile</span>, neobmedzené volania v sieti Telekom a pri kúpe cez web aj zľavu na nový mobil.
                            <br />
                            <br />
                            <a id="activate-lightbox-young" class="btn cta lightbox" href="#">ZISTIŤ VIAC</a></p>
                    </div>
                </div>
            </div> -->
            <!--             <div class="col-xs-12 col-sm-6 col-md-6 text_centered" style="margin-top: 20px;">
                <div class="box-6 box-6a">
                    <div class="text__holder">
                        <h4>
                            Bez záväzkov + 100 minút</h4>
                        <p>
                            S programom Bez záväzkov voláte a esemeskujete bez viazanosti teraz s balíkom 100 minút len za 3,49 mesačne.</p>
                        <a class="box__link lightbox" href="#lightbox-bz" id="activate-lightbox-bz">Viac informácií</a></div>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12 text_centered" style="margin-top: 20px;">
                <div class="box-6 box-6b">
                    <div class="text__holder">
                        <h4>Denné dátové balíky</h4>
                        <p>Zvýšte si objem dát v mobile s dennými balíkmi a využite 1000 MB len za 1 € alebo neobmedzené dáta za 4,99 €.</p>
                        <a class="scroll-to box__link" href="#sec-9">Viac o dátových balíkoch</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SEC-9 Dátové doplnkové balíky -->
<section class="section sec-9" id="sec-9">
    <div class="container-fixed">
        <div class="row text_centered">
            <!--  Title -->
            <div class="col-md-12">
                <h2 class="sec__title no-padding-bottom">
                    DÁTOVÉ DOPLNKOVÉ BALÍKY</h2>
                <p class="sec__desc">
                    Dátové balíky slúžia na obnovenie rýchlosti internetu, ak miniete dáta v paušáli.</p>
            </div>
        </div>
        <!--  TAB -->
        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu taby2">
                    <li class="tab-link current" data-tab="tab-3">
                        <a href="#tab-3">k paušálom Happy</a></li>
                    <!-- <li class="tab-link" data-tab="tab-4"><a href="#tab-4">k Easy karte</a></li> -->
                </ul>
            </div>
            <div class="tab">
                <div class="taby2-content active" id="tab-3">
                    <div class="app-slider as1">
                        <div class="p-box p-box_new">
                            <div class="new-ribbon">
                                NOVINKA</div>
                            <div class="p-detail">
                                <p class="box__title mb-10">
                                    DENNÉ DÁTA 1000 MB</p>
                                <p>
                                    <b>Ako balík funguje:</b></p>
                                <p class="mb-10">
                                    Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete napr. sledovať videá či počúvať hudbu.</p>
                                <p>
                                    <b>Objem dát:</b></p>
                                <p class="mb-10">
                                    1000 MB</p>
                                <p>
                                    <b>Platnosť balíka:</b></p>
                                <p class="mb-10">
                                    24 hodín od kúpy balíka alebo do vyčerpania dát</p>
                                <p>
                                    <b>Dostupnosť balíka:</b></p>
                                <p class="mb-20">
                                    balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                            </div>
                            <div class="p-actions">
                                <p class="p-price-label mb-20">
                                    Cena: <span class="p-price">1,00 €</span></p>
                                <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#dataden1000">Kúpiť balík cez SMS</a></div>
                        </div>
                        <div class="p-box p-box_new">
                            <div class="new-ribbon">
                                NOVINKA</div>
                            <div class="p-detail">
                                <p class="box__title mb-10">
                                    DENNÉ DÁTA NEOBMEDZENÉ</p>
                                <p>
                                    <b>Ako balík funguje:</b></p>
                                <p class="mb-10">
                                    Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete sledovať videá, internetovú televíziu, počúvať hudbu či sťahovať veľké súbory bez limitov.</p>
                                <p>
                                    <b>Objem dát:</b></p>
                                <p class="mb-10">
                                    Neobmedzený</p>
                                <p>
                                    <b>Platnosť balíka:</b></p>
                                <p class="mb-10">
                                    24 hodín od kúpy balíka</p>
                                <p>
                                    <b>Dostupnosť balíka:</b></p>
                                <p class="mb-20">
                                    balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                            </div>
                            <div class="p-actions">
                                <p class="p-price-label mb-20">
                                    Cena: <span class="p-price">4,99 €</span></p>
                                <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#datadenneob">Kúpiť balík cez SMS</a></div>
                        </div>
                        <div class="p-box">
                            <div class="p-detail">
                                <p class="box__title mb-10">
                                    DÁTA 100 MB</p>
                                <p>
                                    <b>Balík je vhodný napr. na:</b></p>
                                <p class="mb-10">
                                    prezeranie e-mailov bez veľkých príloh, správ, blogov či cestovného poriadku.</p>
                                <p>
                                    <b>Objem dát:</b></p>
                                <p class="mb-10">
                                    100 MB</p>
                                <p>
                                    <b>Platnosť balíka:</b></p>
                                <p class="mb-10">
                                    do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
                            </div>
                            <div class="p-actions">
                                <p class="p-price-label mb-20">
                                    Cena: <span class="p-price">1,99 €</span></p>
                                <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data100">Kúpiť balík cez SMS</a></div>
                        </div>
                        <div class="p-box">
                            <div class="p-detail">
                                <p class="box__title mb-10">
                                    DÁTA 500 MB</p>
                                <p>
                                    <b>Balík je vhodný napr. na:</b></p>
                                <p class="mb-10">
                                    prezeranie sociálnych sietí, fotografií či na stiahnutie e-mailov so stredne veľkými prílohami.</p>
                                <p>
                                    <b>Objem dát:</b></p>
                                <p class="mb-10">
                                    500 MB</p>
                                <p>
                                    <b>Platnosť balíka:</b></p>
                                <p class="mb-10">
                                    do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
                            </div>
                            <div class="p-actions">
                                <p class="p-price-label mb-20">
                                    Cena: <span class="p-price">4,99 €</span></p>
                                <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data500">Kúpiť balík cez SMS</a></div>
                        </div>
                        <div class="p-box">
                            <div class="p-detail">
                                <p class="box__title mb-10">
                                    DÁTA 1000 MB</p>
                                <p>
                                    <b>Balík je vhodný napr. na:</b></p>
                                <p class="mb-10">
                                    sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
                                <p>
                                    <b>Objem dát:</b></p>
                                <p class="mb-10">
                                    1000 MB</p>
                                <p>
                                    <b>Platnosť balíka:</b></p>
                                <p class="mb-10">
                                    do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
                                <p>
                                    <b>Dostupnosť balíka:</b></p>
                                <p class="mb-20">
                                    balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                            </div>
                            <div class="p-actions">
                                <p class="p-price-label mb-20">
                                    Cena: <span class="p-price">5,99 €</span></p>
                                <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data1000">Kúpiť balík cez SMS</a></div>
                        </div>
                        <div class="p-box">
                            <div class="p-detail">
                                <p class="box__title mb-10">
                                    DÁTA NAVYŠE PRE BLÍZKYCH</p>
                                <p>
                                    <b>Ako balík funguje:</b></p>
                                <p>
                                    balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojích blízkych, ktorí majú paušál Happy alebo Easy kartu.</p>
                                <a class="link mb-10" href="/wiki/internet/data-navyse-pre-blizkych">Prejsť na viac info do Wiki</a>
                                <p>
                                    <b>Balík je vhodný napr. na:</b></p>
                                <p class="mb-10">
                                    sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
                                <p>
                                    <b>Objem dát:</b></p>
                                <p class="mb-10">
                                    1000 MB</p>
                                <p>
                                    <b>Platnosť balíka:</b></p>
                                <p class="mb-10">
                                    30 dní od kúpy balíka alebo do vyčerpania dát</p>
                                <p>
                                    <b>Dostupnosť balíka:</b></p>
                                <p class="mb-20">
                                    balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                            </div>
                            <div class="p-actions">
                                <p class="p-price-label mb-20">
                                    Cena: <span class="p-price">5,99 €</span></p>
                                <a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link link-hide" href="#" style="visibility: hidden;">Kúpiť balík cez SMS</a></div>
                        </div>
                    </div>
                    <div class="accordion">
                        <div class="item">
                            <div class="heading">
                                DÁTA 100 MB <span class="ac-price">| 1,99 €</span></div>
                            <div class="content">
                                <div class="p-detail">
                                    <p>
                                        <b>Balík je vhodný napr. na:</b></p>
                                    <p class="mb-10">
                                        prezeranie e-mailov bez veľkých príloh, správ, blogov či cestovného poriadku.</p>
                                    <p>
                                        <b>Objem dát:</b></p>
                                    <p class="mb-10">
                                        100 MB</p>
                                    <p>
                                        <b>Platnosť balíka:</b></p>
                                    <p class="mb-10">
                                        do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
                                </div>
                                <div class="p-actions">
                                    <p class="p-price-label mb-20">
                                        Cena: <span class="p-price">1,99 €</span></p>
                                    <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data100">Kúpiť balík cez SMS</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="heading">
                                DÁTA 500 MB <span class="ac-price">| 4,99 €</span></div>
                            <div class="content">
                                <div class="p-detail">
                                    <p>
                                        <b>Balík je vhodný napr. na:</b></p>
                                    <p class="mb-10">
                                        prezeranie sociálnych sietí, fotografií či na stiahnutie e-mailov so stredne veľkými prílohami.</p>
                                    <p>
                                        <b>Objem dát:</b></p>
                                    <p class="mb-10">
                                        500 MB</p>
                                    <p>
                                        <b>Platnosť balíka:</b></p>
                                    <p class="mb-10">
                                        do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
                                </div>
                                <div class="p-actions">
                                    <p class="p-price-label mb-20">
                                        Cena: <span class="p-price">4,99 €</span></p>
                                    <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data500">Kúpiť balík cez SMS</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="heading">
                                DÁTA 1000 MB <span class="ac-price">| 5,99 €</span></div>
                            <div class="content">
                                <div class="p-detail">
                                    <p>
                                        <b>Balík je vhodný napr. na:</b></p>
                                    <p class="mb-10">
                                        sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
                                    <p>
                                        <b>Objem dát:</b></p>
                                    <p class="mb-10">
                                        1000 MB</p>
                                    <p>
                                        <b>Platnosť balíka:</b></p>
                                    <p class="mb-10">
                                        do konca vášho zúčtovacieho obdobia alebo do vyčerpania dát</p>
                                    <p>
                                        <b>Dostupnosť balíka:</b></p>
                                    <p class="mb-20">
                                        balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                                </div>
                                <div class="p-actions">
                                    <p class="p-price-label mb-20">
                                        Cena: <span class="p-price">5,99 €</span></p>
                                    <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#data1000">Kúpiť balík cez SMS</a></div>
                            </div>
                        </div>
                        <p class="ac-label">
                            Balíky s platnosťou 24 hodín od zakúpenia</p>
                        <div class="item">
                            <div class="heading">
                                DENNÉ DÁTA 1000 MB <span class="ac-price">| 1,00 €</span></div>
                            <div class="content">
                                <div class="p-detail">
                                    <p>
                                        <b>Ako balík funguje:</b></p>
                                    <p class="mb-10">
                                        Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete napr. sledovať videá či počúvať hudbu.</p>
                                    <p>
                                        <b>Objem dát:</b></p>
                                    <p class="mb-10">
                                        1000 MB</p>
                                    <p>
                                        <b>Platnosť balíka:</b></p>
                                    <p class="mb-10">
                                        24 hodín od kúpy balíka alebo do vyčerpania dát</p>
                                    <p>
                                        <b>Dostupnosť balíka:</b></p>
                                    <p class="mb-20">
                                        balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                                </div>
                                <div class="p-actions">
                                    <p class="p-price-label mb-20">
                                        Cena: <span class="p-price">1,00 €</span></p>
                                    <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#dataden1000">Kúpiť balík cez SMS</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="heading">
                                DENNÉ DÁTA NEOBMEDZENÉ <span class="ac-price">| 4,99 €</span></div>
                            <div class="content">
                                <div class="p-detail">
                                    <p>
                                        <b>Ako balík funguje:</b></p>
                                    <p class="mb-10">
                                        Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si šetríte na iný deň. S balíkom môžete sledovať videá, internetovú televíziu, počúvať hudbu či sťahovať veľké súbory bez limitov.</p>
                                    <p>
                                        <b>Objem dát:</b></p>
                                    <p class="mb-10">
                                        Neobmedzený</p>
                                    <p>
                                        <b>Platnosť balíka:</b></p>
                                    <p class="mb-10">
                                        24 hodín od kúpy balíka</p>
                                    <p>
                                        <b>Dostupnosť balíka:</b></p>
                                    <p class="mb-20">
                                        balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                                </div>
                                <div class="p-actions">
                                    <p class="p-price-label mb-20">
                                        Cena: <span class="p-price">4,99 €</span></p>
                                    <a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a> <a class="link popup" href="#datadenneob">Kúpiť balík cez SMS</a></div>
                            </div>
                        </div>
                        <p class="ac-label">
                            Balík s platnosťou 30 dní od zakúpenia</p>
                        <div class="item">
                            <div class="heading">
                                DÁTA NAVYŠE PRE BLÍZKYCH <span class="ac-price">| 5,99 €</span></div>
                            <div class="content">
                                <div class="p-detail">
                                    <p>
                                        <b>Ako balík funguje:</b></p>
                                    <p>
                                        balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojích blízkych, ktorí majú paušál Happy alebo Easy kartu.</p>
                                    <a class="link mb-10" href="#">Prejsť na viac info do Wiki</a>
                                    <p>
                                        <b>Balík je vhodný napr. na:</b></p>
                                    <p class="mb-10">
                                        sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
                                    <p>
                                        <b>Objem dát:</b></p>
                                    <p class="mb-10">
                                        1000 MB</p>
                                    <p>
                                        <b>Platnosť balíka:</b></p>
                                    <p class="mb-10">
                                        30 dní od kúpy balíka alebo do vyčerpania dát</p>
                                    <p>
                                        <b>Dostupnosť balíka:</b></p>
                                    <p class="mb-20">
                                        balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
                                </div>
                                <div class="p-actions">
                                    <p class="p-price-label mb-20">
                                        Cena: <span class="p-price">5,99 €</span></p>
                                    <a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/wiki/ostatne/aplikacia-telekom" style="visibility: hidden;">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SEC-8 Doplnkové služby -->
<section class="section sec-8" id="sec-8">
    <div class="container-fixed">
        <div class="row text_centered sec_border">
            <!--  Title -->
            <div class="col-md-12">
                <h2 class="sec__title">
                    DOPLNKOVÉ SLUŽBY</h2>
            </div>
            <div class="col-md12 tiles-a tiles-mod">
                <!-- 1 -->
                <div class="col-xs-12 col-md-3 feature">
                    <div class="feat_img">
                        <img src="../assets/img/vyhody_volania.png" /></div>
                    <div class="title__holder">
                        <h3 class="feat_title font_magenta">
                            Volania najbližším</h3>
                    </div>
                    <div class="title__holder">
                        <h3 class="feat_title">
                            Vďaka balíku máte neobmedzené volania až na tri čísla, ktoré sú v akejkoľvek sieti v SR.</h3>
                    </div>
                    <div class="feat-desc">
                        <p>
                            Balík je dostupný pre paušály Happy XS, S, M a L. Aktivujete ho za 6,99 € / mes. na webe počas kúpy Happy paušálu.</p>
                        <!--                         <p>
                            &nbsp;</p> -->
                    </div>
                    <div class="c-tile-price">
                        <span class="price-big">6,99 €</span> / mesačne</div>
                    <div class="feature-order">
                        <a class="color_grey" href="" id="info-balik-volania">Ako aktivovať balík?</a></div>
                </div>
                <!-- 2 -->
                <div class="col-xs-12 col-md-3 feature">
                    <div class="feat_img">
                        <img src="../assets/img/balik_100minut.png" /></div>
                    <div class="title__holder">
                        <h3 class="feat_title font_magenta">
                            100 minút do všetkých sietí</h3>
                    </div>
                    <div class="title__holder">
                        <h3 class="feat_title">
                            S balíkom získate ďalších 100 minút volania do všetkých sietí v SR.</h3>
                    </div>
                    <div class="feat-desc">
                        <p>
                            Balík je dostupný pre paušály Happy XS, S, M a L. Aktivujete ho za 4,89 € / mes. na webe počas kúpy Happy paušálu.</p>
                        <!-- <p>
                            &nbsp;</p> -->
                    </div>
                    <div class="c-tile-price">
                        <span class="price-big">4,89 €</span> / mesačne</div>
                    <div class="feature-order">
                        <a class="color_grey" href="" id="info-balik-minuty">Ako aktivovať balík?</a></div>
                </div>
                <!-- 3 -->
                <div class="col-xs-12 col-md-3 feature">
                    <div class="feat_img">
                        <img src="../assets/img/balik_sms.png" /></div>
                    <div class="title__holder">
                        <h3 class="feat_title font_magenta">
                            Neobmedzené SMS a MMS</h3>
                    </div>
                    <div class="title__holder">
                        <h3 class="feat_title">
                            S balíkom posielate lubovoľné množstvo SMS a MMS do všetkých sietí v SR.</h3>
                    </div>
                    <div class="feat-desc">
                        <p>
                            Balík je dostupný pre paušály Happy XS, S a XL Volania. Aktivujete ho za 4,89 € / mes. na webe počas kúpy Happy paušálu.</p>
                        <!-- <p>
                            &nbsp;</p> -->
                    </div>
                    <div class="c-tile-price">
                        <span class="price-big">4,89 €</span> / mesačne</div>
                    <div class="feature-order">
                        <a class="color_grey" href="" id="info-balik-sms">Ako aktivovať balík?</a></div>
                </div>
                <!-- 4 -->
                <div class="col-xs-12 col-md-3 feature immmr">
                    <img alt="" class="ec-beta" src="../assets/img/ec-beta.png" />
                    <div class="feat_img">
                        <img src="../assets/img/immmr.png" /></div>
                    <div class="title__holder">
                        <h3 class="feat_title font_magenta">
                            immmr – komunikačná aplikácia</h3>
                    </div>
                    <div class="title__holder">
                        <h3 class="feat_title">
                            S aplikáciou voláte, chatujete cez dáta alebo klasickú mobilnú sieť.</h3>
                    </div>
                    <div class="c-tile-price">
                        <span class="price-big">0 €</span></div>
                    <div class="feat-desc">
                        <p>
                            <!-- Ak ešte paušál nemáte, aplikáciu zaktivujete bezplatne počas kúpy Happy paušálu cez web. -->
                        </p>
                        <!--   <p>
                            &nbsp;</p> -->
                    </div>
                    <div class="c-tile-order">
                        <span class="activ__text">Mám Happy paušál, chcem</span>
                        <br />
                        <a href="/immmr/aktivacia">aktivovať immmr</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SEC-10 Mohlo by vás zaujímať -->
<section class="section sec-10" id="sec-10">
    <div class="container-fixed">
        <div class="row sec_border">
            <!--  Title -->
            <div class="col-md-12 text_centered">
                <h2 class="sec__title">
                    Mohlo by vás zaujímať</h2>
            </div>
        </div>
        <div class="row tiles-a text_centered">
            <!-- 1 -->
            <div class="col-md-3 feature">
                <div class="feat_img">
                    <img src="../assets/img/happy_zdielanie.png" /></div>
                <div class="title__holder">
                    <h3 class="feat_title">
                        Zdieľanie dát</h3>
                </div>
                <div class="feat-desc">
                    <p>
                        Dáta z paušálu môžete zdieľať na notebooku či tablete. Stačí si aktivovať dátovú SIM za 2,99&nbsp;€ mesačne.</p>
                </div>
                <div class="c-tile-order">
                    <a href="/internet/internet-v-mobile#sec-4">Viac o Zdieľanie dát</a></div>
            </div>
            <!-- 2 -->
            <div class="col-md-3 feature">
                <div class="feat_img">
                    <img src="../assets/img/ico-eset.png" /></div>
                <div class="title__holder">
                    <h3 class="feat_title">
                        Bezpečný internet v mobile</h3>
                </div>
                <div class="feat-desc">
                    <p>Získajte ESET Mobile Security pre Android, ktorý chráni váš mobil pred vírusmi, kontroluje bezpečnosť aplikácií a pomôže aj v prípade straty či krádeže.</p>
                </div>
                <div class="c-tile-order">
                    <a href="/wiki/internet/eset-mobile-security-telekom-edicia">Viac o službe</a></div>
            </div>
            <!-- 3 -->
            <div class="col-md-3 feature">
                <div class="feat_img">
                    <img src="../assets/img/happy_klik.png" /></div>
                <div class="title__holder">
                    <h3 class="feat_title">
                        Klikni a vyzdvihni</h3>
                </div>
                <div class="feat-desc">
                    <p>
                        Už nečakajte v rade, ani na kuriéra. So službou Klikni a vyzdvihni máte možnosť objednať si mobil cez web a vyzdvihnúť ho u nás na predajni.</p>
                </div>
                <div class="c-tile-order">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw">Chcem nový mobil</a></div>
            </div>
            <!-- 4 -->
            <div class="col-md-3 feature">
                <div class="feat_img">
                    <img src="../assets/img/happy_4g.png" /></div>
                <div class="title__holder">
                    <h3 class="feat_title">
                        4G SIM karta zadarmo</h3>
                </div>
                <div class="feat-desc">
                    <p>
                        Stačí o ňu požiadať počas kúpy alebo predĺženia <a href="/objednavka/-/scenario/e-shop/happy">Happy paušálu</a> na webe, telefonicky na 0800&nbsp;123&nbsp;456 alebo osobne v niektorom z našich <a class="color_grey text-link" href="http://www.telekom.sk/kontakt/predajne/">Telekom centier</a>. O zmenu EASY SIM karty na 4G je možné požiadať telefonicky alebo osobne.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- SEC-11 Legals -->
<section class="section sec-11" id="sec-11">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <div class="legal__holder">
                    <a href="" onclick="$('#happy-legal').toggle('slow');return false;">Podmienky k Happy paušálom</a>
                    <div id="happy-legal">
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-1').toggle('slow');return false;">Podmienky akcie Zľavy na programy Happy bez mobilného telefónu:</a>
                            <div class="happy-legal-content" id="happy-legal-1">
                                Podmienkou poskytovania programov služieb Happy so zľavnenou cenou mesačného poplatku je uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov bez kúpy akciového mobilného telefónu. Zľavnená cena mesačných poplatkov sa uplatňuje počas celej doby viazanosti a po jej uplynutí bude uplatňovaná štandardná nezľavnená cena mesačného poplatku. Ponuka je platná do 30.6.2017</div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-3').toggle('slow');return false;">Podmienky poskytnutia akciového telefónu k paušálu Happy:</a>
                            <div class="happy-legal-content" id="happy-legal-3">
                                Ponuka akciových mobilných telefónov k programom Happy platí pri podpise Dodatku k Zmluve o poskytovaní verejných služieb s prevzatím záväzku používať vybraný program služby Happy počas 24-mesačnej viazanosti. Mesačný poplatok za programy služieb Happy pri využití ponuky s kúpou akciového telefónu sa skladá z dvoch zložiek (základnej a doplnkovej), ktorých súčet predstavuje sumu mesačného poplatku za programy služieb Happy, ktorý sa uplatňuje počas celej doby viazanosti. Po uplynutí doby viazanosti sa ako mesačný poplatok uplatní iba základná časť mesačného poplatku. Suma doplnkovej zložky mesačného poplatku paušálu Happy je závislá od zvolenej úrovne paušálu a typu akciového telefónu a je uvedená v <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-mobilnych-telefonov-a-datovych-zariadeni/" target="_blank">Prílohe A. Cenníka.</a></div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-4').toggle('slow');return false;">Podmienky programov Happy a doplnkových balíčkov:</a>
                            <div class="happy-legal-content" id="happy-legal-4">
                                Voľné minúty zahŕňajú minúty, ktoré sa uplatňujú na odchádzajúce hovory uskutočnené na štandardné účastnícke čísla mobilných a pevných sietí, neuplatňujú sa na volania na Odkazovú službu, dátové volania ani na volania so špeciálnou tarifou. V prípade, ak je v tabuľkách vyššie rovnaký počet voľných minút graficky vyčlenený pre viaceré zložky zahrnuté v mesačnom programe služieb Happy, je tento počet zdieľaný so všetkými takto vyčlenenými zložkami programu služieb Happy, t. j. ide o celkový počet voľných minút, ktoré môžu byť v rámci určených zložiek programu služieb Happy vyčerpané. Pre volania do EÚ, resp. zóny Profi v rámci voľných minút, aj po ich vyčerpaní, platí tarifikácia podľa aktuálne aktívnej služby pre zahraničné volania (Hovory do zahraničia atď.); po vyčerpaní voľných minút sa uplatnia ceny podľa Cenníka pre túto aktívnu službu pre zahraničné volania. Pre roamingové volania sa v rámci voľných minút, aj po ich vyčerpaní, uplatňuje tarifikácia podľa aktuálne aktívnej hlasovej roamingovej služby (Happy roaming, Euro roaming, Smart roaming atď.); po vyčerpaní voľných minút sa uplatnia ceny podľa Cenníka pre túto aktívnu hlasovú roamingovú službu. Voľné minúty sa nevzťahujú na roamingové volania v sieťach operátorov zo zóny lode, lietadlá a satelitné siete. Voľné SMS/MMS v rámci programu sa nevzťahujú na na SMS/MMS správy poslané na skrátené čísla a čísla služieb mobilnej zábavy, ktoré sú spoplatňované osobitnou tarifou podľa Cenníka, ako ani na SMS/MMS správy poslané z virtuálnych čísel, SMS brán, t-zones, SMS Directu a E-mailu SMS. Dĺžka jednej SMS správy je najviac 160 znakov. Voľný objem dát sa nevzťahuje na roamingové dáta v sieťach operátorov zo zóny lode, lietadlá a satelitné siete.
                                <br />
                                <br />
                                <div class="note-legal-bold">
                                    Bezplatný balíček Extra dáta SR</div>
                                Účastník, ktorý využíva program služieb Happy môže od 15.3.2017 do konca zúčtovacieho obdobia nasledujúceho po 14.6.2017 využívať doplnkový balíček Extra dáta SR so 100 % zľavou z mesačného poplatku a zvýhodneným čerpaním objemu dát, ktoré sú jeho súčasťou v roamingu v rámci EÚ s prirážkou 0,06 € s DPH/MB. Doplnkový balíček Extra dáta SR so 100 % zľavou z mesačného poplatku bude od 30.5.2017 aktivovaný automaticky s každou aktiváciou programu služieb Happy a od prvého zúčtovacieho obdobia nasledujúceho po 30.5.2017 bude aktivovaný automaticky aj všetkým účastníkom využívajúcim niektorý z programov služieb Happy. Po skončení obdobia poskytovania doplnkového balíčka Extra dáta SR so 100 % zľavou z mesačného poplatku, bude doplnkový balíček automaticky deaktivovaný, pokiaľ účastník neprejaví záujem využívať tento balíček spoplatnený podľa Cenníka aj ďalej.
                                <br />
                                <br />
                                <div class="note-legal-bold">
                                    Krajiny zóny Profi pre program služieb Happy Profi:</div>
                                Albánsko, Alijaška, Americké Panenské ostrovy, Angola, Argentína, Austrália, Bahamy, Bahrajn, Bangladéš, Belgicko, Bielorusko, Bosna a Hercegovina, Brunej, Bulharsko, Burundi, Cyprus, Česká republika, Čierna Hora, Čína, Dánsko, Egypt, Estónsko, Etiópska federatívna demokratická republika, Filipíny , Fínsko, Francúzska Guyana, Francúzsko, Gabon, Ghana, Grécko, Guadeloupe, Guam, Guatemala, Holandské Antily, Holandsko, Hong Kong, Chile , Chorvátsko, India, Indonézia, Irán, Írsko, Island, Izrael, Japonsko, Južná Afrika, Kambodža, Kanada, Kolumbia, Kórejská republika, Kostarika, Kuvajt, Laos, Libanon, Lichtenštajnsko, Litva, Lotyšsko, Luxembursko, Macao, Macedónsko, Maďarsko, Malajzia, Malta, Martinik, Maurícius, Mexiko, Moldavsko, Monako, Mongolsko, Namíbia, Nemecko, Niger, Nigéria, Nórsko, Pakistan, Palestínske územia, Panama, Peru, Poľsko, Portugalsko, Portugalsko, Rakúsko, Réunion, Rumunsko, Ruská federácia, San Maríno, Saudská Arábia, Severné Mariány, Singapur, Slovinsko, Spojené arabské emiráty, Srbsko, Srí Lanka, Sýria, Španielsko, Švajčiarsko, Švédsko, Tadžikistan, Taiwan, Taliansko, Thajsko, Turecko, Ukrajina, USA, Uzbekistan, Vatikán, Veľká Británia, Venezuela, Vietnam, Vietnam, Zambia.
                                <br />
                                <br />
                                <div class="note-legal-bold">
                                    Program Happy XS</div>
                                zahŕňa voľné minúty odchádzajúcich hovorov na štandardné účastnícke čísla v mobilnej sieti Telekom a do všetkých pevných sietí v SR počas víkendov a sviatkov (t. j. soboty, nedele a štátne sviatky počas celých 24 hodín) a počas pracovných dní v čase od 19.00 hod. do 7.00 hod.
                                <br />
                                <br />
                                <div class="note-legal-bold">
                                    Pri programoch Happy</div>
                                bude po prenesení voľného objemu dát v rámci jedného zúčtovacieho obdobia rýchlosť dátových prenosov (sťahovania aj odosielania dát) do konca príslušného zúčtovacieho obdobia znížená na maximálne 64 kb/s.
                                <br />
                                <br /> Pri programe <span class="bold">Happy XS mini</span> je podmienkou poskytovania doplnkového balíčka Volania najbližším so zľavou vo výške 100 % z jeho mesačného poplatku počas celej doby viazanosti je uzavretie Dodatku k Zmluve o poskytovaní verejných služieb k programu Happy XS mini, s viazanosťou na 24 mesiacov, spojenú s aktiváciou novej SIM karty . Doplnkový balíček Volania Najbližším zahŕňa 100 % zľavu z ceny odchádzajúcich volaní, SMS a MMS správ na tri vybrané účastnícke čísla v ktorejkoľvek mobilnej sieti v SR. Ponuka je platná do 30.6.2017
                                <br /> Podmienkou poskytovania doplnkového balíčka Volania najbližším so zľavou vo výške 100 % z jeho mesačného poplatku počas celej doby viazanosti je uzavretie Dodatku k Zmluve o poskytovaní verejných služieb k programu Happy XS mini, s viazanosťou na 24 mesiacov, spojenú s aktiváciou novej SIM karty . Doplnkový balíček Volania Najbližším zahŕňa 100 % zľavu z ceny odchádzajúcich volaní, SMS a MMS správ na tri vybrané účastnícke čísla v ktorejkoľvek mobilnej sieti v SR. Ponuka je platná do 30.6.2017
                                <br />
                                <br />
                                <div class="note-legal-bold">
                                    Data navyše pre blízkych</div>
                                Data navyše pre blízkych 1000 MB je doplnková služba k programom služieb Happy M a vyšším, ktorá umožňuje zdieľanie voľného objemu dát 1000 MB zahrnutého v príslušnom balíku Data navyše pre blízkych 1000 MB s ďalšími, maximálne piatimi SIM kartami s aktivovaným programom služieb Happy XS a vyšším, Easy Pecka, Easy Team alebo Fix. Platnosť balíka dát je 30 dní. Obdarovaná SIM karta i) s programom služby Happy XS a vyšším môže priradené dáta využiť počas zúčtovacieho obdobia, do ktorého mu boli priradené hlavnou SIM kartou; ii) s programom služby Easy Pecka, Easy Team alebo Fix môže priradené dáta využíť maximálne 30 dní odo dňa ich priradenia hlavnou SIM kartou. Po vyčerpaní voľného objemu dát balíka Data navyše pre blízkych 1000 MB prenášaných plnou rýchlosťou prostredníctvom hlavnej SIM karty alebo ktorejkoľvek obdarovanej SIM karty, je ďalšia dátová prevádzka spoplatnená podľa platného Cenníka.
                                <br />
                                <br />
                                <div class="note-legal-bold">
                                    Happy XL Dáta pre mladých</div>
                                Účastníkovi, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XL Data, ku dňu uzatvorenia Dodatku dosiahol vek do 26 rokov a súhlasí s poskytnutím dátumu narodenia na účely uzatvorenia Dodatku, vzniká nárok na akciovú cenu tohto paušálu 19,99 EUR s DPH mesačne a to odo dňa uzavretia Dodatku až do uplynutia doby viazanosti dohodnutej v tomto Dodatku. Po uplynutí doby viazanosti podľa predchádzajúcej vety sa Podnik zaväzuje poskytovať Účastníkovi program Služieb Happy XL Data za podmienok podľa aktuálne platného Cenníka. Jeden účastník môže ponuku využiť len 1 krát.
                                <br /> &nbsp;
                            </div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-easy').toggle('slow');return false;">Easy Pecka s 9 € kreditom za cenu 1 €: </a>
                            <div class="happy-legal-content" id="happy-legal-easy">
                                Ponuka pre Easy Pecka s 9 € kreditom za cenu 1 € platí pre Účastníka do konca pracovného dňa, v ktorom Účastník uzavrel s Podnikom Dodatok k Zmluve o poskytovaní verejných služieb s viazanosťou na 24 mesiacov s akýmkoľvek mesačným mobilným hlasovým programom služieb, ak účastník túto ponuku nevyužil alebo neodmietol už pred uzavretím tohto Dodatku.</div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-5').toggle('slow');return false;">Podmienky web zľavy:</a>
                            <div class="happy-legal-content" id="happy-legal-5">
                                Pri objednávkach realizovaných prostredníctvom stránky www.telekom.sk je poskytovaná Účastníkovi, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XS a vyšším s viazanosťou aspoň na 24 mesiacov (ďalej len „Základný Dodatok“), zľava vo výške (i) 10€ s DPH pre program Happy XS a (ii) 20€ s DPH pre programy Happy M a vyššie z akciovej kúpnej ceny Zariadenia. V prípade, ak výška Zľavy presiahne výšku akciovej ceny Zariadenia, je kúpna cena Zariadenia 1 € s DPH. Zľavu nie je možné počas jej poskytovania kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do 30.6.2017</div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-6').toggle('slow');return false;">Zdieľanie dát z paušálu:</a>
                            <div class="happy-legal-content" id="happy-legal-6">
                                Službu zdieľanie dát z paušálu je možné aktivovať k programom Happy XS a vyšším a umožňuje zdieľanie voľného objemu dát zahrnutého v príslušnom hlasovom programe služieb vo vzťahu k hlavnej SIM karte aj prostredníctvom ďalších dodatočných maximálne dvoch doplnkových SIM kariet poskytnutých účastníkovi. Podmienkou využívania služby Zdieľanie dát z paušálu je aktivácia aspoň jednej doplnkovej SIM karty, prostredníctvom ktorej bude prebiehať zdieľanie dát. Po vyčerpaní voľného objemu dát prenášaných plnou rýchlosťou, či už prostredníctvom hlavnej SIM karty alebo ktorejkoľvek doplnkovej SIM karty, bude rýchlosť dátových prenosov (sťahovania aj odosielania dát) na všetkých (hlavnej i doplnkových) SIM kartách až do konca príslušného zúčtovacieho obdobia znížená na 64 kb/s.</div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-18').toggle('slow');return false;">Magio GO na 3 mesiace zadarmo:</a>
                            <div class="happy-legal-content" id="happy-legal-18">
                                Účastník, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XS a vyšším, s kúpou akciového mobilného telefónu (ďalej len „Zariadenie“) a s viazanosťou aspoň 24 mesiacov, je súčasne oprávnený využiť ponuku Podniku na aktiváciu služby Magio GO s doplnkovou službou Magio GO Archív so 100 % zľavou z ceny za poskytovanie tejto služby v zmysle Cenníka po dobu 3 mesiacov nasledujúcich po zúčtovacom období, v ktorom bola táto služba aktivovaná (obdobie benefitu). Ponuku nie je možné kombinovať s akoukoľvek inou akciovou ponukou Podniku, ak neurčí Podnik inak. Po uplynutí obdobia benefitu bude služba Účastníkovi automaticky deaktivovaná, ak nepožiada o deaktiváciu skôr. Účastník má právo požiadať Podnik, pred uplynutím obdobia benefitu, o ponechanie služby aktívnej. Týmto nedôjde k deaktivácii služby a bude v ďalšom období poskytovaná za podmienok podľa aktuálneho Cenníka. Ponuka platí do 30.6.2017.</div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-8').toggle('slow');return false;">Podmienky poistenia zariadenia:</a>
                            <div class="happy-legal-content" id="happy-legal-8">
                                Služba Poistenie elektronického zariadenia je poskytovaná spoločnosťou Generali Poisťovňa, a. s. Poistnú zmluvu na poistenie elektronického zariadenia je možné uzavrieť len pri kúpe nového mobilného telefónu, tabletu alebo modemu so súčasným uzavretím Zmluvy o poskytovaní verejných služieb alebo jej Dodatku medzi poistníkom ako účastníkom zo Zmluvy a Podnikom, pričom bol dojednaný záväzok viazanosti aspoň na 24 mesiacov. Viac informácií a všeobecné podmienky k poisteniu elektronického zariadenia získate na čísle 0850 111 117, www.generali.sk.</div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-20').toggle('slow');return false;">Mobil každý rok:</a>
                            <div class="happy-legal-content" id="happy-legal-20">
                                Podmienkou využitia služby Mobil každý rok je (i) využívanie ktoréhokoľvek programu služieb Happy s mobilným telefónom počas najmenej 12 mesiacov bezprostredne pred využitím služby Mobil každý rok, (ii) úhrada poplatku za službu Mobil každý rok vo výške podľa Cenníka a (iii) uzatvorenie nového dodatku s viazanosťou 24 mesiacov na rovnaký alebo vyšší program služieb Happy, ako Účastník využíval počas posledných najmenej 12 mesiacov. Poplatok za službu Mobil každý rok je možné znížiť odkúpením vášho mobilu prostredníctvom využitia služby Odkúpenie mobilu. Na základe služby Odkúpenie mobilu budú od zákazníka odkúpené opotrebované MT , a to za nasledovných podmienok: (i) cena MT bude určená na základe posúdenia ST , (ii) kúpna cena pri využití služby Odkúpenie mobilu nebude vyplatená v hotovosti, ale formou započítania voči pohľadávke, ktorá vznikne pri využití služby Mobil každý rok, (iii) ST má právo odmietnuť odkúpenie MT , (iv) Minimálna výkupná cena MT je 20 €, (v) služba Odkúpenie mobilu je určená len pre existujúcich zákazníkov ST využívajúcich službu Mobil každý rok. Ostatné podmienky služby Odkúpenie mobilu sú uvedené v Cenníku a v Obchodných podmienkach služby Odkúpenie mobilu. Služba Odkúpenie mobilu je určená len pre fyzické osoby – nepodnikateľov.</div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-21').toggle('slow');return false;">Program Bez záväzkov:</a>
                            <div class="happy-legal-content" id="happy-legal-21">
                                Ceny sú uvedené s DPH zaokrúhlené na 2 desatinné miesta. Úplná cena s DPH pre hovory je 0,12 € za minútu, pre SMS je 0,06 € za SMS a pre dáta je 0,10 € za MB.
                                <br /> Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete"> Cenník pre poskytovanie služieb prostredníctvom mobilnej siete.</a></div>
                        </div>
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-22').toggle('slow');return false;">Bez záväzkov a 100 minút Extra:</a>
                            <div class="happy-legal-content" id="happy-legal-22">
                                Účastníkovi využívajúcemu mesačný program služieb Happy M alebo vyšší, ktorý si aktivuje program Služieb Bez záväzkov, vzniká nárok na aktiváciu doplnkovej služby Balík 100 minút extra (ďalej len „100 minút extra“) za mesačný poplatok 3,49€. Doplnkový balíček 100 minút extra zahŕňa 100 voľných minút odchádzajúcich hovorov na štandardné účastnícke čísla do všetkých sietí v SR a odchádzajúcich roamingových hovorov z krajín Česká republika, Maďarsko, Rakúsko a Poľsko na Slovensko.100 minút extra je možné využívať počas 24 mesiacov nasledujúcich po zúčtovacom období, v ktorom bola táto služba aktivovaná. Túto akciovú ponuku nie je možné počas jej poskytovania kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku vo vzťahu k programom Služieb, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do 30. 6. 2017.</div>
                        </div>
                        <!--  -->
                        <div class="happy-legal">
                            <a class="note-legal" href="" onclick="$('#happy-legal-23').toggle('slow');return false;">Dvojičky zariadení:</a>
                            <div class="happy-legal-content" id="happy-legal-23">
                                Účastníkovi, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XS a vyšším, s kúpou akciového mobilného telefónu Lenovo Moto G5, s viazanosťou aspoň na 24 mesiacov (ďalej len „Základný Dodatok“), vzniká nárok na kúpu ďalšieho zariadenia Lenovo C2 za zvýhodnenú kúpnu cenu 0,04 € s DPH (ďalej len „Zariadenie“). Túto ponuku môže Účastník využiť najneskôr pri podpise Základného Dodatku, inak nárok Účastníka zaniká. V prípade využitia práva Účastníka na odstúpenie od Základného Dodatku do 14 dní od jeho uzavretia podľa zákona č. 102/2014 Z. z. je Účastník povinný z titulu bezdôvodného obohatenia vrátiť všetko, čo na základe tohto Základného Dodatku prijal, vrátane poskytnutého Zariadenia. Túto ponuku nie je možné kombinovať a súčasne využívať s akoukoľvek inou zľavou alebo akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné. Ponuka platí do vypredania zásob alebo do 30. 6. 2017.</div>
                        </div>
                    </div>
                </div>
                <div class="happy-legal-cennik">
                    Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/" target="_blank">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- LIGHTBOXs -->
<div>
    <!-- LightBox:BezZavazkov-->
    <div class="lightbox-area" id="lightbox-bz">
        <div class="p-head">
            <a class="p-close" href="#">
                <!-- &nbsp; -->
            </a>
        </div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <h2 class="lightbox-title">
            PROGRAM BEZ ZÁVÄZKOV<br />
            + 100 MINÚT DO VŠETKÝCH SIETÍ</h2>
            <p class="lightbox-desc">
                Získate pri kúpe paušálov Happy M, L, XL volania,
                <br /> XL, XXL a Profi. S balíčkom 100 minút získate 100 minút na volania
                <br /> do všetkých sietí v SR. Minúty môžete minúť aj na volania z Čiech, Maďarska,
                <br /> Rakúska alebo Poľska na Slovensko a do EÚ.</p>
            <table>
                <tbody>
                    <tr class="tr-head">
                        <th>
                            Balík 100 minút:</th>
                        <th>
                            3,49 € /mes.</th>
                    </tr>
                    <tr>
                        <td>
                            Volania po minutí 100 minút:</td>
                        <td>
                            0,12 € / min.</td>
                    </tr>
                    <tr>
                        <td>
                            SMS:</td>
                        <td>
                            0,06 €</td>
                    </tr>
                    <tr>
                        <td>
                            4G internet:</td>
                        <td>
                            0,49/ MB</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn cta btn_no-shadow popup-modal-scroll" href="#sec-1">VYBRAŤ PAUŠÁL HAPPY</a>
            <br />
            <br />
            <p class="lightbox-desc">
                Ak ste už vlastníkom paušálu Happy M, L, XL volania, XL, XXL alebo Profi,
                <br /> program Bez záväzkov + 100 min. <a href="/volania/bez-zavazkov-100-minut">objednáte na tejto stránke.</a></p>
        </div>
    </div>
    <!-- LightBox:100MB -->
    <div id="data100" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>100 ZAP</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- LightBox:500MB -->
    <div id="data500" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>500 ZAP</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- LightBox:1000MB -->
    <div class="fancybox_hide" id="data1000" style="display: none;">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>DATA1000ZAP</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- LightBox:1000MB den-->
    <div class="fancybox_hide" id="dataden1000" style="display: none;">
        <div class="p-head">
            &nbsp;</div>
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>DATA DEN 1000</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- LightBox:data neob -->
    <div class="fancybox_hide" id="datadenneob" style="display: none;">
        <div class="p-head">
            &nbsp;</div>
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>DATA DEN NEOB</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- info1000a -->
    <div id="info1000a" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                <div class="bold">
                    Dáta môžete rozdeliť blízkym, ktorí majú aktivované služby
                    <br /> Happy (okrem Happy XS Mini), Easy Pecka, Easy Team alebo Fix.</div>
                Balíček nie je dostupný pre Happy XS mini, XS a S.</div>
        </div>
    </div>
    <!-- info100 -->
    <div id="info100" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                <div class="bold">
                    S balíčkom máte prístup k e-mailom bez veľkých
                    <br /> príloh alebo si prečítate správy či predpoveď počasia.</div>
            </div>
        </div>
    </div>
    <!-- info500 -->
    <div id="info500" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                <div class="bold">
                    S balíčkom si pozriete fotografie, sociálne siete
                    <br /> či stiahnete e-maily s prílohami.</div>
            </div>
        </div>
    </div>
    <!-- info1000 -->
    <div id="info1000" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                <div class="bold">
                    S balíčkom sledujete videá, vypočujete si hudbu
                    <br /> či využijete navigáciu na cestách.</div>
                Balíček nie je dostupný pre Happy XS mini, XS a S.</div>
        </div>
    </div>
    <!-- order100 -->
    <div id="order100" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>DATA100ZAP</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- order500 -->
    <div id="order500" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>DATA500ZAP</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- order1000 -->
    <div id="order1000" style="display:none">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content">
            <div class="happy-lightbox">
                Pre aktiváciu zašlite SMS s textom
                <br />
                <strong>DATA1000ZAP</strong> na číslo <strong>12323</strong></div>
        </div>
    </div>
    <!-- LightBox:Zdielanie dat -->
    <div class="lightbox-area" id="lightbox-zd">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content" style="padding: 20px 20px;">
            <div class="text_centered">
                <img alt="" src="../assets/img/lightbox-zd.png" />
                <h2 class="lightbox-title" style="padding-top: 12px;">
                <b>ZDIEĽANIE DÁT Z PAUŠÁLU</b></h2>
                <p style="max-width: 283px;">
                    So službou Zdieľanie dát môžete svoje dáta z paušálu využívať vy alevo vaši blízki na pripojenie k internetu aj na ďalšom mobile, tablete či počítači.
                    <br />
                    <br />
                    <b>Ak si aktivujete nový paušál Happy L, XL, XXL alebo Profi, získate Zdieľanie dát zadarmo až na 2 roky.</b>
                    <br />
                    <br /> Službu aktivujete vložením do košíka počas kúpy paušálu.</p>
                <br />
                <a class="lightbox-btn" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">PREJSŤ K PAUŠÁLOM</a>
                <br /> &nbsp;
            </div>
        </div>
    </div>
    <!-- LightBox: HAPPY XL DÁTA PRE MLADÝCH -->
    <div class="lightbox-area" id="lightbox-young">
        <div class="p-head">
            <a class="p-close" href="#">&nbsp;</a></div>
        <!-- POPUP CONTENT -->
        <div class="p-content" style="padding: 0 10px 10px 10px">
            <div class="col-md-12 box-outside" id="happy-young">
                <!-- program type -->
                <div class="program_title text_centered">
                    HAPPY XL DÁTA PRE MLADÝCH</div>
                <div class="program_item">
                    <!--  volania -->
                    <div class="program_volania box-inside">
                        <h3>
                                VOLANIA</h3>
                        <div class="desc">
                            <h4>
                                    neobmedzené</h4> volania do siete Telekom a pevných sietí v SR</div>
                        <div class="desc">
                            <h4>
                                    100 minút</h4> volania zo SR a z <span class="roaming-info info-link">EÚ+</span> do ostatných sietí v SR a v <span class="roaming-info info-link">EÚ+</span></div>
                        <div class="desc">
                            <h4>
                                    neobmedzené</h4> prichádzajúce volania v <span class="roaming-info info-link">EÚ+</span></div>
                    </div>
                    <!-- sms -->
                    <div class="sms box-inside">
                        <h3>
                                SMS a MMS</h3>
                        <div class="desc">
                            <h4>
                                    0,10 €</h4> do všetkých sietí v SR
                            <br>
                            <br>Poznámka:
                            <br> 0,07 € z <span class="roaming-info info-link">EÚ+</span> do SR a <span class="roaming-info info-link">EÚ+</span>
                            <br> 0,15 €/SMS a 0,39 €/MMS zo SR do <span class="roaming-info info-link">EÚ+</span></div>
                    </div>
                    <!--  internet -->
                    <div class="internet box-inside">
                        <h3>
                                4G INTERNET V MOBILE</h3>
                        <div class="desc">
                            <h4>
                                    5 GB v SR a <span class="roaming-info info-link">EÚ+</span></h4>
                        </div>
                    </div>
                    <!-- price -->
                    <div class="cena">
                        <div class="cena-left">
                            <div class="cena-inholder">
                                <div class="cena-side-l">
                                    <h2 class="font_magenta">
                                            19,99 €</h2>
                                </div>
                                <div class="cena-side-r">
                                    <span class="font_magenta"> mesačne</span></div>
                            </div>
                        </div>
                        <div class="cena-right happy_young-info">
                            <img src="../assets/img/ec-zlava20.png" /></div>
                    </div>
                    <!--  cta -->
                    <div class="objednat">
                        <a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_data_premladych">vybrať</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 lb-disc">
                <p class="text_centered">
                    Paušál je určený pre zákazníkov do 26 rokov.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- SCRIPTS -->
<script type="text/javascript" src="../assets/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../assets/js/sticky.min.js"></script>
<script type="text/javascript" src="../assets/js/modul.pausaly.js"></script>
<script type="text/javascript" src="../assets/js/slider.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=2"></script>
<script type="text/javascript" src="../assets/js/prolong.js"></script>
