<section id="calc">
    <div class="container-fixed">
        <form style="margin:0px" method="post" action="03-cenova_ponuka.html">
            <div class="main_div">
                <div>
                    <table class="portal-inet-form-table" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr class="topbar">
                                <td class="portal-inet-form-element" style="text-align:right;width:20px;padding:3px 2px 0">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <table cellpadding="0" border="0" cellspacing="0" class="outer">
                        <tbody>
                            <input type="hidden" value="OVERVIEW" name="step/action" class="portal-portlet-input">
                            <input type="hidden" value="Overview" name="step/name" class="portal-portlet-input">
                            <!--                             <style type="text/css">
                            @import url("/tower/styles/profile.css");
                            </style> -->
                            <input type="hidden" value="18.34" name="current-value">
                            <div class="bundle-calc">
                                <table style="width: 100%;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" id="calc-fix">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 33%; text-align: center;">Magio internet</th>
                                                            <th style="width: 33%; text-align: center;">Televízia</th>
                                                            <th style="width: 33%; text-align: center;">Pevná linka</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="1" id="net-1" class="input net" name="net">
                                                                    <label for="net-1">Magio Internet XL</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="net-1-upsell">+20</span></td>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="1" id="tv-1" class="input tv" name="tv">
                                                                    <label for="tv-1">Magio Televízia XL</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="tv-1-upsell">+20</span></td>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="1" id="phone-1" class="input phone" name="phone">
                                                                    <label for="phone-1">Doma Happy XL</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="phone-1-upsell">+20</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="2" id="net-2" class="input net" name="net">
                                                                    <label for="net-2">Magio Internet L</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="net-2-upsell">+15</span></td>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="2" id="tv-2" class="input tv" name="tv">
                                                                    <label for="tv-2">Magio Televízia L</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="tv-2-upsell">+15</span></td>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="2" id="phone-2" class="input phone" name="phone">
                                                                    <label for="phone-2">Doma Happy L</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="phone-2-upsell">+15</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="3" id="net-3" class="input net" name="net">
                                                                    <label for="net-3">Magio Internet M</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="net-3-upsell">+10</span></td>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="3" id="tv-3" class="input tv" name="tv">
                                                                    <label for="tv-3">Magio Televízia M</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="tv-3-upsell">+10</span></td>
                                                            <td>
                                                                <div class="selector">
                                                                    <input type="radio" value="3" id="phone-3" class="input phone" name="phone">
                                                                    <label for="phone-3">Doma Happy M</label>
                                                                </div><span title="Doplatok do vyššej služby" class="upsell" id="phone-3-upsell">+10</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input type="radio" checked="checked" value="4" id="net-4" class="input net" name="net">
                                                                <label for="net-4">nezáujem</label>
                                                            </td>
                                                            <td>
                                                                <input type="radio" checked="checked" value="4" id="tv-4" class="input tv" name="tv">
                                                                <label for="tv-4">nezáujem</label>
                                                            </td>
                                                            <td>
                                                                <input type="radio" checked="checked" value="4" id="phone-4" class="input phone" name="phone">
                                                                <label for="phone-4">nezáujem</label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table class="calc-part-summary" id="fix-summary">
                                                    <tbody>
                                                        <tr>
                                                            <th style="width: 110px;">Cena pred zľavou:</th>
                                                            <td class="calc-part-summary-standard" id="solo-price-sum">0</td>
                                                        </tr>
                                                        <tr class="fix-summary-discount">
                                                            <th class="calc-part-summary-discount">Zľava:</th>
                                                            <td class="calc-part-summary-discount" id="bundle-discount">0</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Cena po zľave:</th>
                                                            <td class="calc-part-summary-discounted" id="bundle-price-sum">0</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 20px;" class="calc-fixed-ind-container"><img src="../assets/img/churn_g.png" title="zvýšenie hodnoty zákazníka v porovnaní so súčasnými mesačnými poplatkami" class="calc-fixed-indicator" id="calc-fixed-indicator-green" style="display: none;"><img src="../assets/img/churn_y.png" title="udržanie hodnoty zákazníka v porovnaní so súčasnými mesačnými poplatkami" style="display: none;" class="calc-fixed-indicator" id="calc-fixed-indicator-yellow"><img src="../assets/img/churn_r.png" title="zníženie hodnoty zákazníka v porovnaní so súčasnými mesačnými poplatkami" style="" class="calc-fixed-indicator" id="calc-fixed-indicator-red"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </table>
                </div>
            </div>
    </div>
</section>
<!-- <script type="text/javascript" src="../assets/js/main.js"></script> -->
<!-- <script type="text/javascript" src="../assets/js/jquery.js"></script> -->
<script type="text/javascript" src="../assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="../assets/js/calc-data.js"></script>
<script type="text/javascript" src="../assets/js/calc.js"></script>
<script type="text/javascript">
function showHide($elementID) {
    $('#' + $elementID).toggle();
};


$(document).ready(function() {
    $(".userdisplay").hide();
    $(".topbar").hover(
        function() {
            $(".userdisplay").show();
        },
        function() {
            $(".userdisplay").hide();
        }
    );
    $(".offer-details").hide();
    $(".details-button").click(function() {
        $('#details' + $(this).attr('offerID')).toggle();
    });

    // products
    $("#customer-products-extender").click(function() {
        $("#customer-products-ext").toggle();
        $("#customer-products-extender").toggleClass("customer-ext-up customer-ext-down");
    });

    // SAC
    $("#sac-address-selector").click(function() {
        $option = $("#sac-address-selector option:selected");
        $("#sac-address-other-results").hide();
        $(".sac-address-container").hide();
        if ($option.attr("value") == "other") {
            $("#sac-address-other").show();
        } else {
            $("#sac-address-" + $option.attr('id')).show();
        }
    });
    $("#sac-address-check").click(function() {
        $("#sac-address-other-results").show();
    });
    $("#sac-address-selector").click();

    // groups
    $("#group-selector").click(function() {
        $option = $("#group-selector option:selected");
        $(".group-members-container").hide();
        $("#group-members-" + $option.attr('id')).show();
        // overview
        $("#group-overview-id").html($option.attr('id'));
        $("#group-overview-created").html($option.attr('created'));
        // stats
        $("#group-stats-members").html($option.attr('members'));
        $("#group-stats-members-max").html($option.attr('members-max'));
        $("#group-stats-bundle").html($option.attr('bundle'));
    });
    $("#group-selector").click();

    // offers
    $("#offer-selector").click(function() {
        $option = $("#offer-selector option:selected");
        if ($option.attr("value") == "any") {
            $(".offer").show();
        } else {
            $(".offer").hide();
            $(".offer[msisdn=" + $option.attr("value") + "]").show();
        }
    });

    // show/hide section buttons
    $(".customer-ext").click(function() {
        $(this).siblings('.container').toggle();
    });

    // calculator
    updateFixedCalc();
    $(".input").click(function() {
        updateFixedCalc();
    });

    $(".calc-mobile-input").blur(function() {
        updateMobileCalc();
    });
    $('input[name="calc-mobile-bundle"]').change(function() {
        updateMobileCalc();
    });
});
</script>
