<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/zazraky/vianoce">Zázračné vianočné akcie</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="/documents/10179/17017781/product1.png" href="#"><img src="/documents/10179/17017781/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017781/product2.png" href="#"><img src="/documents/10179/17017781/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017781/product3.png" href="#"><img src="/documents/10179/17017781/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017781/product4.png" href="#"><img src="/documents/10179/17017781/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="/documents/10179/17017781/product5.png" href="#"><img src="/documents/10179/17017781/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="/documents/10179/17017781/product1.png" /></div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="/documents/10179/17017781/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="/documents/10179/17017781/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="/documents/10179/17017781/icon5.png" /> --><!-- OVERLAY VYPREDANE  --><!-- <div class="overlay">
									<img src="/documents/10179/17017781/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
						<div class="box-device">
							<p class="pricing__title magenta-text">
								Vianočná akcia</p>
							<h1 class="bpis__title">
								Notebook Lenovo IdeaPad 330-15IGM</h1>
							<p class="bpis__desc">
								Na Vianoce vás určite poteší tento ľahký a spoľahlivý notebook pre každodenné použitie a vyššiu produktivitu doma aj na cestách.</p>
							<div class="box-device-prices">
								<p class="pricing__title">
									Zobraziť ceny pre:</p>
								<select id="select_program"><option value="l">Magio internet, TV a Pevnú linku L</option><option value="xl">Magio internet, TV a Pevnú linku XL</option></select>
								<table class="pricing-table">
									<tbody>
										<tr class="inner-head no-margin">
											<th colspan="2">
												Mesačne:</th>
										</tr>
										<tr class="no-margin">
											<td>
												Za pevnú službu:</td>
											<td>
												<span class="feePrice">20,00 €</span></td>
										</tr>
										<tr class="no-margin web-action">
											<td>
												<img src="/documents/10179/17017781/ico-1.png" />Web zľava 2. a 3. mesiac</td>
											<td>
												<span class="feePrice">20,00 €</span></td>
										</tr>
										<tr class="no-margin">
											<td>
												Doplatok k službe:</td>
											<td>
												<span class="feePrice">15,00 €</span></td>
										</tr>
										<tr class="one-time-payment">
											<td>
												Jednorazovo pri kúpe:</td>
											<td>
												<span class="feePrice oneTimeFee">1,00 €</span></td>
										</tr>
									</tbody>
								</table>
								<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik" type="button">PREJSŤ K NÁKUPU</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2 segment" data-segment="1" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Moderný a výkonný</p>
								<p class="feat-desc">
									Predstavujeme vám IdeaPad 330s. Tenší a ľahší notebook s úzkymi rámčekmi pre širší uhol pohľadu, najmodernejším spracovaním a so zvýšeným grafickým výkon. Dokončite každú úlohu s úplnou jednoduchosťou.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017781/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Prémiový vzhľad a jednoduché použitie</p>
								<p class="feat-desc">
									Vďaka leštenej hliníkovej úprave upúta IdeaPad 330s pozornosť.<br />
									Pre lepšie ovládanie sme umiestnili tlačidlo napájania na hornú pravú časť klávesnice a pridali sme možnosť podsvietiť numerickú klávesnicu.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017781/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Vyšší výkon pre vašu produktivitu</p>
								<p class="feat-desc">
									Najnovšia generácia procesorov Intel® Core™ i7 ponúka až o 40% vyšší výkon*, bezprecedentné herné možnosti, vynikajúcu zábavu, rýchlejšie spúšťanie a jednoduchý multitasking.</p>
								<p class="feat-desc-2">
									* Softvér a pracovné zaťaženie používané pri testovaní výkonu môžu byť optimalizované pre výkon len pre mikroprocesory Intel®. Testy výkonu sa merajú pomocou konkrétnych počítačových systémov, komponentov, softvéru, operácií a funkcií. Akákoľvek zmena ktoréhokoľvek z týchto faktorov môže spôsobiť, že sa výsledky budú líšiť.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017781/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Batéria s dlhou výdržou a dobitím už za 15 minút</p>
								<p class="feat-desc">
									My vieme, že máte veľa práce – kto by chcel stále hľadať zásuvku? IdeaPad 330s disponuje až 7 hodinovou výdržou batérie a navyše ponúka technológiu rýchleho nabíjania. Stačí 15 minút nabíjania pre ďalšie 2 hodiny výdrže*. Dobíjajte rýchlo a stihnete svoju prácu.</p>
								<p class="feat-desc-2">
									* V režime vypnutý. Je potrebný 65 W zdroj napájania.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017781/detail4.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Windows 10 je stále lepší</p>
								<p class="feat-desc">
									Získajte z Windows 10 to najlepšie vďaka novým aktualizáciám so skvelými funkciami. Skvelá aplikácia Fotky uľahčuje spracovanie videí, pridávanie soundtrackov, použitie prenosu dát, aplikáciu 3D efektov a ešte viac. A zdieľanie je ešte rýchlejšie vďaka intuitívnemu nastaveniu, ktoré uľahčuje okamžité spojenie s tými, na ktorých vám najviac záleží.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="/documents/10179/17017781/detail5.png" /></div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Čistejšie, bezpečnejšie predinštalované aplikácie</p>
								<p class="feat-desc">
									Lenovo vám prináša jednoduché zariadenie a bezpečnejší spôsob používania už od začiatku. Predinštalovaný softvér ponúka 5 aplikácií, ktoré zvýšia vašu produktivitu.</p>
								<p class="feat-tit">
									Vynikajúce zobrazenie</p>
								<p class="feat-desc">
									Vďaka rozlíšeniu FHD na širokouhlom displeji s úzkymi 5,9 mm rámčekmi ponúka IdeaPad 330s dynamické zážitky ako z prenosného domáceho kina.</p>
							</div>
						</div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Bohatý, pohlcujúci zvuk s Dolby Audio™</p>
								<p class="feat-desc">
									S technológiou Dolby Audio umocňuje IdeaPad 330s vašu zábavu. Zvýšte hlasitosť bez skreslenia a počúvajte každý detail.</p>
								<p class="feat-tit">
									Dostatok úložného priestoru pre vaše fotografie, filmy a ešte viac</p>
								<p class="feat-desc">
									IdeaPad 330s môžete prispôsobiť tak, aby vyhovoval vašim požiada-vkám na úložisko: Možnosť kapacity až 2 TB SATA HDD pre u-kladanie tisícov dát.</p>
							</div>
						</div>
					</div>
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> --></div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th class="first-param" colspan="2">
										Technické špecifikácie</th>
								</tr>
								<tr>
									<td>
										Procesor:</td>
									<td>
										2-jadrový, Intel Celeron N4000 @ 1.10 GHz, Turbo Speed 2.60 Ghz</td>
								</tr>
								<tr>
									<td>
										Operačný systém:</td>
									<td>
										Windows 10 Home 64-bit</td>
								</tr>
								<tr>
									<td>
										Grafická karta:</td>
									<td>
										Intel® UHD Graphics 600</td>
								</tr>
								<tr>
									<td>
										Displej:</td>
									<td>
										15,6“ s HD rozlíšením (1366 x 768 px)</td>
								</tr>
								<tr>
									<td>
										Pamäť RAM:</td>
									<td>
										4 GB</td>
								</tr>
								<tr>
									<td>
										Pevný disk:</td>
									<td>
										500 GB 7MM 5400PRM</td>
								</tr>
								<tr>
									<td>
										Zvuk:</td>
									<td>
										2 x 2 W reproduktory s technológiou Dolby Audio™</td>
								</tr>
								<tr>
									<td>
										Batéria:</td>
									<td>
										Až 7 hodín*, rýchle nabíjanie (15 minút nabíjania pre až 2 hodiny používania**)</td>
								</tr>
								<tr>
									<td>
										Klávesnica:</td>
									<td>
										Klávesnica s numerickou klávesnicou<br />
										Podsvietená klávesnica (voliteľne)</td>
								</tr>
								<tr>
									<td>
										Rozmery (Š x H x V):</td>
									<td>
										358,4 mm x 244,1 mm x 19,4 mm</td>
								</tr>
								<tr>
									<td>
										Hmotnosť:</td>
									<td>
										2,05 kg</td>
								</tr>
								<tr>
									<td>
										Farba:</td>
									<td>
										čierna</td>
								</tr>
								<tr>
									<td>
										WiFi/Bluetooth®:</td>
									<td>
										1 x 1 AC WiFi + Bluetooth 4.1</td>
								</tr>
								<tr>
									<td>
										Porty:</td>
									<td>
										USB typu C 3,1<br />
										2 x USB 3.0 (jeden s napájaním)<br />
										HDMI<br />
										čítačka kariet 4 v 1<br />
										zvukový konektor</td>
								</tr>
								<tr>
									<td>
										Mechanika:</td>
									<td>
										DVD-RW</td>
								</tr>
								<tr>
									<td>
										Obsah balenia:</td>
									<td>
										notebook<br />
										napájací adaptér<br />
										manuál v Slovenčine</td>
								</tr>
								<tr>
									<td class="table-desc" colspan="2">
										* Na základe testov MobileMark 2014. Výdrž batérie sa líši v závislosti od nastavenia, používania a ďalších faktorov. ** Režim vypnutia; vyžaduje zdroj napájania 65 W</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="/documents/10179/17017781/icon-1.png" /></div>
								<p>
									Objednávku vám doručíme kuriérom čo najskôr od jej spracovania.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="/documents/10179/17017781/icon-2.png" /></div>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="/documents/10179/17017781/icon-3.png" /></div>
								<p>
									Ak zistíte, že vám tovar alebo služba nevyhovuje, môžete ich vrátiť do 14 dní bez udania dôvodu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1">
				&nbsp;</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-3 segment">
	<div class="container-fixed">
		<p class="other-action-title">
			Ďalšie zázračné vianočné akcie</p>
		<div class="row">
			<div class="col-md-4 other-action">
				<img src="/documents/10179/17017781/roomba.jpg" />
				<div class="action-name">
					Robotický vysávač iRobot Roomba 965</div>
				<p class="magenta-text">
					už od 15 € mesačne</p>
				<p>
					k pevným službám</p>
				<a class="btn" href="/zazraky/vianoce/chytry-balik/irobot-roomba-965">VIAC INFO</a></div>
			<div class="col-md-4 other-action">
				<img src="/documents/10179/17017781/sony.jpg" />
				<div class="action-name">
					Sony Playstation 4, dva ovládače, tri hry a&nbsp;členská karta</div>
				<p class="magenta-text">
					už od 10 € mesačne</p>
				<p>
					k pevným službám</p>
				<a class="btn" href="/zazraky/vianoce/chytry-balik/sony-playstation-4">VIAC INFO</a></div>
			<div class="col-md-4 other-action">
				<img src="/documents/10179/17017781/tv-samsung.jpg" />
				<div class="action-name">
					4K televízor Samsung</div>
				<p class="magenta-text">
					už od 13 € mesačne</p>
				<p>
					k pevným službám</p>
				<a class="btn" href="/zazraky/vianoce/chytry-balik/4k-televizor-samsung">VIAC INFO</a></div>
		</div>
	</div>
</section>
<script type="text/javascript" src="/documents/10179/17017783/main.js?v=2"></script><script type="text/javascript" src="/documents/10179/17017783/detail.js"></script>