<section class="section sec-det sec-det-1" id="sec-det-1">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 back-holder" style="padding: 0px;">
        <a class="link" href="/vianoce#magio">Späť na všetky vianočné akcie</a>
      </div>
    </div>
    <div class="box-pricing">
      <div class="bp__content">
        <div class="bp__inner-section">
          <div class="gallery clearfix">
            <div class="pics clearfix">
              <div class="thumbnails">
                <div class="preview">
                  <a
                    class="selected"
                    data-full="../assets/img/product1.jpg"
                    href="#"
                    ><img src="../assets/img/product1_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product2.jpg" href="#"
                    ><img src="../assets/img/product2_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product3.jpg" href="#"
                    ><img src="../assets/img/product3_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product4.jpg" href="#"
                    ><img src="../assets/img/product4_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product5.jpg" href="#"
                    ><img src="../assets/img/product5_prev.png" />
                  </a>
                </div>
              </div>
              <div class="full__holder">
                <img class="full" src="../assets/img/product1.jpg" />
              </div>
              <div class="eec-product">
                <img
                  id="eec"
                  src="../assets/img/eec.png"
                  style="height: 80px; width: auto;"
                />
              </div>
              <div class="controlls">
                <div class="indicator">
                  <div class="in__content">
                    &nbsp;
                  </div>
                </div>
                <div class="control__holder">
                  <a class="control-left" href="#"
                    ><img alt="" src="../assets/img/ico-left.png" /> Späť</a
                  >
                  <p class="img-size">
                    (<span class="current-img"></span>/<span
                      class="all-img"
                    ></span
                    >)
                  </p>
                  <a class="control-right" href="#"
                    >Ďalej <img alt="" src="../assets/img/ico-right.png"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bp__inner-section">
          <p class="christ-magenta">Vianočná akcia</p>
          <!-- OVERLAY VYPREDANE  -->
          <div class="overlay_fix">
            <div id="soldOut" class="overlay" style="display: none;">
              <img src="../assets/img/vypredane.png" alt="" />
            </div>
            <h1 class="bpis__title">
              Sony PlayStation 4 PRO 1 TB + 2 x DualShock 4 +
              hra&nbsp;FIFA&nbsp;21 v balení
            </h1>
            <!-- B2C variant -->
            <div
              class="box-device"
              id="b2c-price"
              style="height: 0; opacity: 0;"
            >
              <div class="rpln-label">
                Zvoľte si variant Magio internetu alebo TV
              </div>
              <div class="rpln-holder">
                <!-- M -->
                <div class="my-rpln" id="M" category="all" data-value="M">
                  <h4>M</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    30/3 Mb/s<br />
                    Počet TV staníc: až 60
                  </p>
                </div>
                <!-- L -->
                <div class="my-rpln" id="L" category="all" data-value="L">
                  <h4>L</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    250/25 Mb/s<br />
                    Počet TV staníc: až 79
                  </p>
                </div>
                <!-- XL -->
                <div class="my-rpln" id="XL" category="all" data-value="XL">
                  <h4>XL</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    600/60 Mb/s<br />
                    Počet TV staníc: až 121
                  </p>
                </div>
              </div>
              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2c-all-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenie:
                    </td>
                    <td>
                      <span id="b2c-all-rc" class="rc-price"></span><br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-rc"
                        ></span>
                      </div>
                      <span id="b2c-all-oc" class="oc-price"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2c-rpln-price-sale"
                        class="rpln-price-salle"
                      ></span
                      ><span class="monthly"> 2. a 3. mesiac</span
                      ><img
                        class="ttp"
                        id="info-zlava"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="b2c-rpln-price" class="rpln-price"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a
                class="btn cta"
                type="button"
                id="buyBtn"
                href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                >PREJSŤ K NÁKUPU</a
              >
              <p class="tax-info">
                Ceny sú s DPH a platia pri 24 mesačnej viazanosti
              </p>
            </div>
            <!-- B2B BiznisNET variant -->
            <div
              class="box-device"
              id="b2b-net-price"
              style="height: 0; opacity: 0;"
            >
              <div class="rpln-label">
                Zvoľte si variant Biznis NETu
              </div>

              <div class="tabs-container" style="max-width: 400px;">
                <div class="dph-switcher">
                  <div class="dph-label">Ceny s DPH</div>
                  <div class="switch" id="net-dph"></div>
                </div>
                <div class="tab__holder rpln-tab">
                  <ul class="rpln-tabs-menu">
                    <li class="variant current">
                      <a href="#tab-optika" id="optik">Optika</a>
                    </li>
                    <li class="variant">
                      <a href="#tab-vdsl" id="vdsl">VDSL</a>
                    </li>
                    <li class="variant">
                      <a href="#tab-adsl" id="adsl">ADSL</a>
                    </li>
                  </ul>
                </div>
                <div class="tab">
                  <div class="tab-content" id="tab-optika">
                    <div class="rpln-holder-slider">
                      <!-- OptikNet M -->
                      <div class="my-rpln" id="optikNet_m" category="optik">
                        <h4>OptikNET M</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 60 Mb/s<br />
                          odosielanie: 12 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet L -->
                      <div class="my-rpln" id="optikNet_l" category="optik">
                        <h4>OptikNET L</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 300 Mb/s<br />
                          odosielanie: 60 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet XL -->
                      <div class="my-rpln" id="optikNet_xl" category="optik">
                        <h4>OptikNET XL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 450 Mb/s<br />
                          odosielanie: 90 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet XXL -->
                      <div class="my-rpln" id="optikNet_xxl" category="optik">
                        <h4>OptikNET XXL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 600 Mb/s<br />
                          odosielanie: 120 Mb/s
                        </p>
                      </div>
                      <!-- OptikNet MAX -->
                      <div class="my-rpln" id="optikNet_max" category="optik">
                        <h4>OptikNET MAX</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 1000 Mb/s<br />
                          odosielanie: 200 Mb/s
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content" id="tab-vdsl">
                    <div class="rpln-holder-slider">
                      <!-- KlasikNET M -->
                      <div class="my-rpln" id="klasikNet_m" category="vdsl">
                        <h4>KlasikNET M</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 10 Mb/s<br />
                          odosielanie: 2 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET M+ -->
                      <div class="my-rpln" id="klasikNet_mplus" category="vdsl">
                        <h4>KlasikNET M+</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 25 Mb/s<br />
                          odosielanie: 5 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET L+ -->
                      <div class="my-rpln" id="klasikNet_lplus" category="vdsl">
                        <h4>KlasikNET L+</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 40 Mb/s<br />
                          odosielanie: 8 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET XL -->
                      <div class="my-rpln" id="klasikNet_xl" category="vdsl">
                        <h4>KlasikNET XL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 60 Mb/s<br />
                          odosielanie: 9 Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET XXL -->
                      <div class="my-rpln" id="klasikNet_xxl" category="vdsl">
                        <h4>KlasikNET XXL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie: 90 Mb/s<br />
                          odosielanie: 10 Mb/s
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-content" id="tab-adsl">
                    <div class="rpln-holder-slider">
                      <!-- KlasikNET M -->
                      <div
                        class="my-rpln"
                        id="klasikNet_m_adsl"
                        category="adsl"
                        data-value="klasikNet_m"
                      >
                        <h4>KlasikNET M</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie:&nbsp;10&nbsp;Mb/s<br />
                          odosielanie:&nbsp;2&nbsp;Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET M+ -->
                      <div
                        class="my-rpln"
                        id="klasikNet_mplus_adsl"
                        category="adsl"
                        data-value="klasikNet_mplus"
                      >
                        <h4>KlasikNET M+</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie:&nbsp;25&nbsp;Mb/s<br />
                          odosielanie:&nbsp;5&nbsp;Mb/s
                        </p>
                      </div>
                      <!-- KlasikNET L+ -->
                      <div
                        class="my-rpln"
                        id="klasikNet_xl_adsl"
                        category="adsl"
                        data-value="klasikNet_xl"
                      >
                        <h4>KlasikNET XL</h4>
                        <p>
                          Rýchlosti:<br />
                          sťahovanie:&nbsp;40&nbsp;Mb/s<br />
                          odosielanie:&nbsp;8&nbsp;Mb/s
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2b-net-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="b2b-net-info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenie:
                    </td>
                    <td>
                      <span id="b2b-net-rc" class="rc-price"></span
                      ><span class="txt-dph"></span>
                      <br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-net-normal-rc"
                        ></span>
                      </div>
                      <span id="b2b-net-oc" class="oc-price"></span
                      ><span class="txt-dph monthly"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-net-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2b-net-rpln-price"
                        class="b2b-rpln-price"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a class="btn cta" type="button" id="b2b-buyBtn" href="#"
                >KÚPIŤ</a
              >
            </div>
            <!-- B2B Biznis TV variant -->
            <div
              class="box-device"
              id="b2b-tv-price"
              style="height: 0; opacity: 0;"
            >
              <div class="rpln-label">
                Zvoľte si variant Magio TV
              </div>
              <div class="dph-tv-switcher">
                <div class="dph-label">Ceny s DPH</div>
                <div class="switch" id="tv-dph"></div>
              </div>
              <div class="rpln-holder">
                <!-- M -->
                <div
                  class="my-rpln"
                  id="biznisTv_m"
                  category="tv"
                  data-value="M"
                >
                  <h4>M</h4>
                  <p>Počet TV staníc:<br />až 60</p>
                </div>
                <!-- L -->
                <div
                  class="my-rpln"
                  id="biznisTv_l"
                  category="tv"
                  data-value="L"
                >
                  <h4>L</h4>
                  <p>Počet TV staníc:<br />až 79</p>
                </div>
                <!-- XL -->
                <div
                  class="my-rpln"
                  id="biznisTv_xl"
                  category="tv"
                  data-value="XL"
                >
                  <h4>XL</h4>
                  <p>Počet TV staníc:<br />až 121</p>
                </div>
              </div>
              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2b-tv-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="b2b-tv-info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenia:
                    </td>
                    <td>
                      <span id="b2b-tv-rc" class="rc-price"></span
                      ><span class="txt-dph"></span><br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-tv-normal-rc"
                        ></span>
                      </div>
                      <span id="b2b-tv-oc" class="oc-price"></span
                      ><span class="txt-dph"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2b-tv-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2b-tv-rpln-price"
                        class="b2b-rpln-price"
                      ></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a class="btn cta" type="button" id="b2b-buyBtn" href="#"
                >KÚPIŤ</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  class="section sec-det sec-det-2 segment"
  id="sec-det-2"
  data-segment="1"
>
  <div class="container-fixed">
    <div class="tabs-container">
      <div class="tab__holder">
        <ul class="tabs-menu">
          <li class="variant current" data-variant="1">
            <a href="#tab-1">Popis produktu</a>
          </li>
          <li class="variant" data-variant="2">
            <a href="#tab-2">Parametre</a>
          </li>
          <li class="variant" data-variant="3" id="biznis-delivery">
            <a href="#tab-3">Doručenie a vrátenie</a>
          </li>
        </ul>
      </div>
      <div class="tab">
        <div class="tab-content clearfix" id="tab-1" style="height: auto;">
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">Pocíť silu systému Pro</h2>
                <p class="feat-desc">
                  Daj svojim herným zážitkom nový rozmer. Hraj najväčšie trháky
                  a&nbsp;tituly vytvorené exkluzívne pre PlayStation vo
                  fantastickom rozlíšení 4K a&nbsp;streamuj svoj obľúbený
                  zábavný obsah s&nbsp;neuveriteľne ostrými detailmi zo
                  zariadení s&nbsp;podporou 4K. Zvýšený výkon systému PS4 Pro ti
                  prináša ešte strhujúcejšie zážitky z&nbsp;hrania tých
                  najrýchlejších a&nbsp;najvýbušnejších hier pre systém PS4,
                  a&nbsp;to vďaka vyššej frekvencii snímok v&nbsp;rade hier
                  vylepšených pre systém PS4 Pro.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail1.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Užívaj si dvakrát výkonnejší systém PS4
                </h2>
                <p class="feat-desc">
                  PS4 Pro má v&nbsp;porovnaní so štandardným systémom PS4
                  dvakrát výkonnejší grafický procesor – to znamená úžasne jasný
                  obraz, hladšie hranie a&nbsp;rýchlejšie načítanie hier
                  vylepšených pre systém PS4 Pro. Pri hraní na televízore
                  s&nbsp;podporou HDR si môžeš vychutnávať živšie
                  a&nbsp;vernejšie farby a&nbsp;detaily v celom hernom
                  prostredí.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail2.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Vylepšené pre PS4 Pro
                </h2>
                <p class="feat-desc">
                  Vďaka svojim vylepšeniam dokáže systém PS4 Pro ešte viac
                  vyladiť herné vlastnosti mnohých najúspešnejších
                  a&nbsp;najlepších titulov pre systém PS4. Každá hra
                  s&nbsp;označením „Enhanced for PS4 Pro“ sa ti predstaví
                  v&nbsp;ohromujúcej, doposiaľ nepoznanej podobe – všimneš si to
                  napríklad na panoráme Manhattanu v&nbsp;Spider-Manovi od
                  Marvelu, majestátnych nórskych horách v&nbsp;titule God of
                  War, šírych pláňach v&nbsp;hre Red Dead Redemption 2&nbsp;či
                  na krutých bojiskách v&nbsp;strieľačke Call of Duty:
                  Black&nbsp;Ops&nbsp;4.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail3.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">Hranie v rozlíšení 4K</h2>
                <p class="feat-desc">
                  Hraj najnovšie hry v úžasne čistom rozlíšení 4K: odtiene
                  pokožky sú teplejšie, materiály dostávajú realistickú textúru
                  a prostredia ožívajú ako nikdy doposiaľ.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail4.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  FIFA 2021 – nové možnosti hry a tímovej spolupráce
                </h2>
                <p class="feat-desc">
                  Vyhrávaj ako jeden v&nbsp;EA SPORTS™ FIFA 21, vďaka enginu
                  Frostbite™. Či&nbsp;už ide o&nbsp;ulice alebo štadióny, FIFA
                  21 ponúka viac spôsobov hry ako kedykoľvek predtým – vrátane
                  Ligy majstrov UEFA a&nbsp;CONMEBOL Libertadores.<br />
                  Doteraz najprepracovanejšie herné spracovanie FIFA ťa odmení
                  za tvorivé nápady pri pohybe s&nbsp;loptou i&nbsp;bez. Vrhni
                  sa priamo do zápasu a&nbsp;ovplyvni dianie na ihrisku, alebo
                  sa uchop kontroly v&nbsp;kľúčových okamihoch, ako sú penalty
                  či priame kopy.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail5.jpg" />
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab-2">
          <div class="table-holder">
            <div class="detailed-specification" style="padding: 10px;">
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Základné informácie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Celková hmotnosť
                    </td>
                    <td class="paramValue">3,3 kg</td>
                  </tr>
                  <tr>
                    <td>
                      Rozmery (výška x šírka x hrúbka):
                    </td>
                    <td class="paramValue">55 x 295 x 327 mm</td>
                  </tr>
                  <tr>
                    <td>
                      Procesor:
                    </td>
                    <td class="paramValue">x86-64 AMD “Jaguar”, 8 jádrový</td>
                  </tr>
                  <tr>
                    <td>
                      Operacná pamät:
                    </td>
                    <td class="paramValue">GDDR5 8GB</td>
                  </tr>
                  <tr>
                    <td>
                      Celková zdielaná interná pamät:
                    </td>
                    <td class="paramValue">1TB HDD</td>
                  </tr>
                  <tr>
                    <td>
                      Podporovaná pamätové médium:
                    </td>
                    <td class="paramValue">DVD/Blu-ray drive ( read only )</td>
                  </tr>
                  <tr>
                    <td>
                      Bluetooth:
                    </td>
                    <td class="paramValue">Bluetooth®v4.0 LE</td>
                  </tr>
                  <tr>
                    <td>
                      WiFi:
                    </td>
                    <td class="paramValue">
                      Wi-Fi Dual band, 802.11 a/b/g/n/ac
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dalšie funkcie:
                    </td>
                    <td class="paramValue">
                      Input/ Output: Super-Speed USB (USB 3.1 Gen.1) port × 3,
                      AUX port × 1, AV output: HDMI™ out port ( podpora 4K /
                      HDR)
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Iné</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Obsah balenia</div>
                    </td>
                    <td class="paramValue">
                      Konzola PlayStation 4 Pro, 2x Bezdrôtový ovládač, HDMI
                      kábel (s podporou 4K), Napájací adaptér, Slúchadlá,
                      Členská karta PS Plus na 15 dní, Hra FIFA21, Manuál
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content clearfix" id="tab-3">
          <div class="order-info-holder">
            <div class="order-info-wrapper">
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon4.png" />
                <p class="order-subheading">
                  <b>Informácie o stave objednávky</b>
                </p>
                <p>
                  O stave vašej objednávky vás budeme pravidelne informovať cez
                  SMS a/alebo e-mailom.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon1.png" />
                <p class="order-subheading">
                  <b>Prvých 14 dní bez záväzkov</b>
                </p>
                <p>
                  Pri kúpe cez web môžete vrátiť službu aj tovar bez udania
                  dôvodu.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/ikona_sofa.png" />
                <p class="order-subheading">
                  <b>Nákup z pohodlia domova</b>
                </p>
                <p>
                  Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní
                  v týždni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
<script
  type="text/javascript"
  src="../assets/js/jquery.enhanced-switch.js"
></script>
<script type="text/javascript" src="../assets/js/rpln-info.js"></script>
<script>
  var segment = "b2b";
  var deviceId = "SAMSUNG_UE50TU8072UXXH";
</script>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
