<section id="scenario-bd" class="section bd-scenario-checkout">
  <div class="container-fixed">
    <form
      action="#"
      id="personalDataForm"
      name="personalDataForm"
      autocomplete="off"
    >
      <!-- forms - middle -->
      <div class="col-xs-12 offset-md-1 col-md-10 bg-mobile form-data">
        <div class="col-xs-12 px0 forms">
          <div class="personalFormWrapper">
            <div class="personalDataForm availability">
              <div class="headline">
                <img
                  src="../assets/img/basket.png?v1"
                  width="99px"
                  height="41px"
                  alt=""
                />
                <h1>Kontaktný formulár</h1>
              </div>
              <div class="service-badge-holder">
                <div id="badge-product" class="service-badge"></div>
                <div id="badge-service" class="service-badge"></div>
                <div id="badge-device" class="service-badge"></div>
              </div>
              <div class="instruction">
                <h3>Vyplňte, prosím, nezáväzný objednávkový formulár.</h3>
                <div class="instruction_holder">
                  <div class="instruction_text">
                    Najneskôr do dvoch pracovných dní vás budeme kontaktovať.
                  </div>
                  <div class="instruction_text">
                    <span class="required">*</span> Pole označené hviezdičkou je
                    povinné
                  </div>
                </div>
              </div>

              <div class="clearfix">
                <div class="input-wrapper companyIco">
                  <input
                    type="text"
                    class="input_text"
                    name="companyIco"
                    id="companyIco"
                    required
                  />
                  <label class="placeholder" for="companyIco"
                    >IČO <span class="required">*</span></label
                  >
                </div>

                <div class="input-wrapper name">
                  <input
                    type="text"
                    class="input_text"
                    id="userName"
                    name="name"
                    required
                  />
                  <label class="placeholder" for="lastName"
                    >Meno a priezvisko <span class="required">*</span></label
                  >
                </div>
              </div>

              <div class="clearfix">
                <div class="input-wrapper phoneNum">
                  <input
                    type="text"
                    min="0"
                    class="input_text"
                    name="phoneNum"
                    id="phoneNum"
                    required
                  />
                  <label class="placeholder" for="phoneNum"
                    >Telefónne číslo <span class="required">*</span></label
                  >
                </div>
                <div class="input-wrapper email">
                  <input
                    type="text"
                    class="input_text"
                    id="useremail"
                    name="email"
                    required
                  />
                  <label class="placeholder" for="email"
                    >E-mail <span class="required">*</span></label
                  >
                </div>
              </div>

              <div class="clearfix note">
                <div class="input-wrapper">
                  <p>Poznámka</p>
                  <textarea
                    name="note"
                    id="note"
                    cols="40"
                    rows="5"
                    style="
                      padding: 10px;
                      outline: none;
                      font-size: 1rem;
                      border: 0;
                      border-radius: 10px;
                      box-shadow: 0px 0px 15px 10px rgb(0 0 0 / 10%);
                    "
                  ></textarea>
                </div>
              </div>

              <div class="input-wrapper ebil">
                <label class="label">
                  <div class="text">
                    Žiadam o zasielanie faktúr v elektronickej forme na zadanú
                    emailovú adresu.
                  </div>

                  <input
                    type="checkbox"
                    class="input_checkbox"
                    name="ebill"
                    id="ebill"
                  />
                </label>
              </div>
              <div class="submitformbtn">
                <button
                  id="submitBtn"
                  class="btn submitbtn popup-btn"
                  type="submit"
                  value="submit"
                >
                  Odoslať
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<div class="ie-not-supported" style="display: none;">
  <div class="ie-not-supported-msg">
    Momentálne nepodporujeme Internet Explorer. Využiť zatiaľ môžete napríklad
    Google Chrome či Safari.
  </div>
</div>

<!-- delete in production -->
<script
  type="text/javascript"
  src="../assets/js/jquery.validate.min.js?v=1.1"
></script>
<script
  type="text/javascript"
  src="../assets/js/checkout-validations.js?v=1.2"
></script>
<script
  type="text/javascript"
  src="../assets/js/checkout-main.js?v=1.5.1"
></script>
