

<div id="content" class="container-fluid">
  <section class="sec1" id="hero-index">
    <div class="container-fixed">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 pad30">
        <div class="hero__content">
            <h2 class="hero__title"><b>MAGENTA SMARTHOME</b><br>VÁŠ INTELIGENTNÝ DOMOV</h2>
            <p class="hero__desc">S Magenta SmartHome máte prehľad o svojej domácnosti kedykoľvek a kdekoľvek. Ovládajte svoj domov cez mobilnú aplikáciu a automatizujte najčastejšie denné situácie.</p>
            <!-- <a routerLink="/" fragment="prikladyVyuzitia" class="btn cta vyuzitieBtn">Prečo Smarthome od Telekomu?</a> -->
            <p class="sh-stop">Predaj služby Smarthome je dočasne pozastavený. </p>
        </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 pad30">
            <div class="hero__mobile">
                <iframe class="video" width="470" height="265" src="https://www.youtube.com/embed/JiGXavnE1ss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <iframe class="video" width="470" height="265" src="https://www.youtube.com/embed/JiGXavnE1ss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    </section>
    <!-- nav menu -->
    <div class="secondary-nav">
        <app-navmenu></app-navmenu>
    </div>

    <!-- christmas component -->
    <app-christmas></app-christmas>
    

    <section class="sec3 section" id="sec-3">
      <div class="container-fixed">
        <div class="row">
          <div class="smh-footer">
            <div class="fleft">
              <img src="{{ imgsLR }}/cmb-img.png" alt="">
            </div>
            <div class="fright">
              <h3>Potrebujete poradiť s nákupom?</h3>
              <p>Zadajte svoje telefónne číslo a budeme vás kontaktovať.</p>
              <input type="text" name="" value="09"><div class="btn cta_mag">ZAVOLAJTE MI</div>
            </div>
          </div>
          <div class="businessCond">
             <p><a href="{{pdfLR}}/Obchodne_podmienky_SmartHome.pdf" target="_blank" class="link">Všeobecné Obchodné podmienky.</a></p>
          </div>
        </div>
      </div>
    </section>
  </div>


  


