/* ===============
   CSS FOR MICROSITE
   =============== */

// GLOBALS
.section {
    padding: 50px 0;
}
#content .section__title {
    text-transform: uppercase;
    font-size: $font-sh-med;
    line-height: $font-sh-med - 1;
    color: $magenta;
}
.popup-content {
    font-size: 1.6em;
    text-align: center;
    padding: 50px;
    color: #e20074;
}
@media screen and (max-width: 920px) {
    .sticky-wrapper {
        display: none;
    }
}
@media screen and (max-width: 815px) {
    .happy-table3 {
        margin-left: 74px;
    }
    .happy-left img {
        left: -27px;
    }
}
#hero-bg {
    background: url(/documents/10179/573671/KV.jpg) no-repeat;
    background-position: 50% 5%;
    background-size: cover;
}

#content .row-8-custom td {
    padding: 16px;
}
// KV
#content .hero__content {
    position: relative;
    text-align: center;
}
#hero {
    padding-bottom: 100px;
}
#content .hero__headline {
    font-weight: 900;
    display: inline-block;
    margin-bottom: 10px;
}
#content .hero__title {
    margin-top: 50px;
}

#content #hero .link {
    color: #3ec0f0;
}
.button_top {
    margin-top: 10px;
}
.post-it {
    position: absolute;
    background: url(/documents/10179/573671/post-it.png) no-repeat;
    width: 165px;
    height: 121px;
    bottom: 1px;
    right: 0px;
    background-size: contain;
}
@media screen and (max-width: 630px) {
    #content .hero__title {
        margin-top: 0px;
    }
}
@media screen and (max-width: 400px) {
    .post-it {
        bottom: -82px;
        right: -7px;
    }
}
// SEC 1
.sec-1 {
    background: url(/documents/10179/573671/BG.jpg) no-repeat;
    background-size: cover;
}
// SEC 2
.media__gift {
    margin: 25px 0;
}
.media__image {
    width: 125px;
}
.pack__box {
    background: #ededed;
    padding: 20px 2%;
    text-align: center;
}
.pack__box.mid {
    margin: 0 2%;
}
.pack__title {
    color: $magenta;
    font-weight: bold;
    font-size: $font-base;
}
.pack__desc {
    line-height: 20px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    padding: 10px 0;
    margin: 0 10px;
    font-size: $font-base;
}
.clearer__line {
    display: block;
    width: 100%;
    float: left;
    margin-top: 10px;
}
.pack__price {
    color: $wedgewood;
    font-weight: bold;
    font-size: $font-base;
}
#content .button__pack {
    font-size: 17px;
}
.disclaimer {
    color: $silver-chalice;
}
.apps {
    line-height: 22px;
}
.appstore {
    margin-right: 10px;
}
@media screen and (max-width: 610px) {
    .pack__box.mid {
        margin: 5% 0;
    }
    #content .sec-2 .grid__col_4 {
        width: 100%;
    }
    .apps__links {
        margin-top: 15px;
    }
}
// SEC 3
.sec-3 {
    background: url(/documents/10179/573671/BG2.jpg) no-repeat;
    background-size: cover;
}
#content #sec-3 .section__title,
#content #sec-3 .section__desc {
    color: $white;
}
.sec-3 .squares {
    background: url(/documents/10179/573671/squares2.png) no-repeat;
    padding: 20px 96px 110px 20px;
    max-width: 748px;
}
.promo {
    margin-top: 50px;
    position: relative;
    max-width: 748px;
    height: 230px;
    background: url(/documents/10179/573671/ico-4g.png) #d0d0d0 no-repeat;
    background-position: -162px 50%;
}
.text-wrapper {
    width: 57%;
    float: right;
    padding: 20px 0 0 0;
}
.promo__title,
.promo__subtitle {
    font-size: $font-sh;
    color: $magenta;
    font-weight: bold;
}
.promo__subtitle {
    color: $tundora;
}
.promo__post-it {
    background: url(/documents/10179/573671/post-it2.png) no-repeat;
    width: 199px;
    height: 145px;
    position: absolute;
    right: 20px;
    top: 20px;
}
#content .promo__button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
@media screen and (max-width: 710px) {
    .promo {
        background-position: -248px 50%;
    }
    .text-wrapper {
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .promo {
        background-image: none;
    }
    .text-wrapper {
        width: 100%;
        padding: 20px 0 0 20px;
    }
}
@media screen and (max-width: 500px) {
    .sec-3 .squares {
        padding: 20px;
    }
}
@media screen and (max-width: 385px) {
    #content .promo__button {
        font-size: 20px;
    }
    .promo__post-it {
        top: 135px;
    }
    .promo {
        height: 343px;
    }
    .promo__subtitle {
        margin-top: 0;
    }
}

/* ===============
   CSS FOR APP SLIDER
   =============== */

.grid-g__col_5.hide {
    display: none;
}
#app__wrapper {
    position: relative;
    display: block;
}
#app__wrapper .grid-g__col_7 {
    float: left;
}
#app__wrapper .grid-g__col_5 {
    float: right;
}
#app__wrapper .grid-g__col_12 {
    position: relative;
}
.stack {
    display: none;
}
#content #app__wrapper a {
    color: #4b4b4b;
    text-decoration: underline;
}
#content .devices {
    float: none;
}
.device {
    background: url(/documents/10179/573671/device-mobile.png) no-repeat;
    width: 200px;
    height: 402px;
    display: inline-block;
    margin: 0 10%;
}
.device__wrapper {
    width: 130px;
    height: 334px;
    display: inline-block;
    vertical-align: bottom;
}
.device__small {
    background: url(/documents/10179/573671/device-mobile.png) no-repeat;
    background-size: contain;
    width: 130px;
    height: 261px;
    display: none;
}
.device__screen {
    margin: 41px 0 0 9px;
    width: 182px;
    height: 323px;
    float: left;
    overflow: hidden;
    position: relative;
}
.device__screen__small {
    margin: 27px 0 0 6px;
    width: 118px;
    height: 209px;
    float: left;
    overflow: hidden;
    position: relative;
}
.device__screen__small img {
    width: 118px;
    height: 209px;
}
.device__screen img {
    position: absolute;
    top: 0;
    left: 0;
}
#app__wrapper .controls__left,
#app__wrapper .controls__right {
    width: 27px;
    height: 42px;
    background: url(https://www.telekom.sk/documents/10179/589253/control-left.png) no-repeat;
    float: left;
    position: absolute;
    top: 180px;
    left: 0;
    z-index: 1;
}
#app__wrapper .controls__right {
    background: url(https://www.telekom.sk/documents/10179/589253/control-right.png) no-repeat;
    margin-left: 25px;
    left: auto;
    right: 0;
}
@media screen and (max-width: 655px) {
    .device__wrapper {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    #app__wrapper .grid-g__col_7,
    #app__wrapper .grid-g__col_5 {
        width: 98%;
        padding: 0 2%;
    }
    #app__wrapper .grid-g__col_5 {
        margin-bottom: 20px;
    }
    .controls {
        text-align: center;
    }
    .controls__wrapper {
        display: inline-block;
    }
    #app__wrapper .controls__left,
    #app__wrapper .controls__right {
        top: 220px;
    }
}

/*
    ANIMATIONS
*/


/* FADE IN */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        top: 0;
    }
    to {
        bottom: 310px;
    }
}

/* SCROLL */

@keyframes scroll_down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(330px);
    }
}
@keyframes scroll_left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(330px);
    }
}
@keyframes scroll_right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-330px);
    }
}
