<section class="section sec-det sec-det-1" id="sec-det-1">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 back-holder" id="a_referrer" style="padding: 0px;">
        <a class="link" href="/internet/magio-internet">Vrátiť späť</a>
      </div>
    </div>
    <div class="box-pricing">
      <div class="bp__content">
        <div class="bp__inner-section">
          <div class="gallery clearfix">
            <div class="pics clearfix">
              <div class="thumbnails">
                <div class="preview">
                  <a
                    class="selected"
                    data-full="../assets/img/product1.jpg"
                    href="#"
                    ><img src="../assets/img/product1_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product2.jpg" href="#"
                    ><img src="../assets/img/product2_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product3.jpg" href="#"
                    ><img src="../assets/img/product3_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product4.jpg" href="#"
                    ><img src="../assets/img/product4_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product5.jpg" href="#"
                    ><img src="../assets/img/product5_prev.png" />
                  </a>
                </div>
              </div>
              <div class="full__holder">
                <img class="full" src="../assets/img/product1.jpg" />
              </div>
              <div class="controlls">
                <div class="indicator">
                  <div class="in__content">
                    &nbsp;
                  </div>
                </div>
                <div class="control__holder">
                  <a class="control-left" href="#"
                    ><img alt="" src="../assets/img/ico-left.png" /> Späť</a
                  >
                  <p class="img-size">
                    (<span class="current-img"></span>/<span
                      class="all-img"
                    ></span
                    >)
                  </p>
                  <a class="control-right" href="#"
                    >Ďalej <img alt="" src="../assets/img/ico-right.png"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bp__inner-section">
          <!-- OVERLAY VYPREDANE  -->
          <!-- <div class="overlay">
							<img src="../assets/img/vypredane.png" alt="">
					</div> -->
          <div class="overlay_fix">
            <h1 class="bpis__title">
              Lenovo IdeaPad 3
            </h1>
            <p class="christ-info">
              <a class="scroll-to" href="#sec-det-2">Viac info o produkte</a>
            </p>
            <div class="box-device">
              <table class="pricing-table">
                <tbody>
                  <tr class="no-margin">
                    <td>
                      S Magio TV alebo internetom:
                    </td>
                    <td>
                      <input type="button" id="magioM" class="rpln" value="M" />
                      <input type="button" id="magioL" class="rpln" value="L" />
                      <input
                        type="button"
                        id="magioXL"
                        class="rpln"
                        value="XL"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za zariadenia:
                    </td>
                    <td>
                      <span id="MonthylFeeMobile"></span
                      ><span class="monthly"> mesačne</span
                      ><img
                        class="ttp"
                        id="info-splatka"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="oneTimeWebPrice"></span
                      ><span class="monthly"> akontácia</span
                      ><img
                        class="ttp"
                        id="info-akontacia"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span id="MonthlyFeeService"></span
                      ><span class="monthly"> 2. a 3. mesiac</span
                      ><img
                        class="ttp"
                        alt=""
                        id="info-zlava"
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="MonthlyRegularPrice"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a class="btn cta" type="button" id="buyBtn" href="#">KÚPIŤ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section sec-det sec-det-2 segment">
  <div class="container-fixed">
    <div class="tabs-container">
      <div class="tab__holder">
        <ul class="tabs-menu">
          <li class="variant current" data-variant="1">
            <a href="#tab-1">Popis produktu</a>
          </li>
          <li class="variant" data-variant="2">
            <a href="#tab-2">Parametre</a>
          </li>
          <li class="variant" data-variant="3">
            <a href="#tab-3">Doručenie a vrátenie</a>
          </li>
        </ul>
      </div>
      <div class="tab">
        <div class="tab-content clearfix" id="tab-1">
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Vytvorený pre vás
                </h2>
                <p class="feat-desc">
                  Zvládne každodenné úlohy, spúšťanie viacerých aplikácií naraz
                  a zvýši tak vašu kreativitu. S procesorom AMD Ryzen 3,
                  grafikou AMD Radeon, veľkou pamäťou a úložiskom môžete
                  notebook prispôsobiť vášmu štýlu. 14" FHD displej vám umožní
                  užiť si obľúbené filmy a relácie na maximum.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail1.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Vynikajúce zobrazenie
                </h2>
                <p class="feat-desc">
                  S veľkým 14" displejom s rozlíšením FHD zachytíte každý detail
                  vašich obľúbených snímok a videí. A vďaka voliteľnej grafike
                  AMD Radeon posuniete zobrazenie na vyššiu úroveň. Tenké
                  rámčeky dodávajú zariadeniu moderný bezrámčekový vzhľad a
                  poskytujú tak väčší priestor obrazovke.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail2.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  S operačným systémom Windows 10 je lepší
                </h2>
                <p class="feat-desc">
                  Získajte s Windows 10 to najlepšie vďaka novým aktualizáciám
                  so skvelými funkciami. Skvelá aplikácia Fotky uľahčuje
                  spracovanie videí, pridávanie soundtrackov, prenos dát,
                  aplikáciu 3D efektov a ešte viac. A zdieľanie je ešte
                  rýchlejšie vďaka intuitívnemu nastaveniu, ktoré uľahčuje
                  okamžité spojenie s tými, na ktorých vám najviac záleží.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail3.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  O úroveň vyššie
                </h2>
                <p class="feat-desc">
                  Nie je nič horšie, ako kúpiť si základný notebook a po krátkom
                  čase ho musieť vymeniť za nový, pretože ste si našli nový
                  koníček, na ktorý už jeho výkon nestačí. IdeaPad 3 AMD je za
                  dostupnú cenu, ale disponuje procesorom Ryzen 3, takže sa vám
                  dokáže prispôsobiť.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail4.jpg" />
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab-2">
          <div class="table-holder">
            <div class="detailed-specification" style="padding: 10px;">
              <table class="tbl double">
                <thead id="aui_3_4_0_1_408">
                  <tr id="aui_3_4_0_1_407">
                    <th colspan="2">Všeobecné parametre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Váha</div>
                    </td>
                    <td class="paramValue">1600g</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Rozmery (výška x šírka x hrúbka)</div>
                    </td>
                    <td class="paramValue">327.1mm x 241mm x 19.9mm</td>
                  </tr>
                  <tr>
                    <th colspan="2">Displej</th>
                  </tr>
                  <tr>
                    <td>
                      <div style="padding-left: 10px;">Uhlopriečka</div>
                    </td>
                    <td class="paramValue">14"</td>
                  </tr>
                  <tr>
                    <td>
                      <div style="padding-left: 10px;">Rozlíšenie</div>
                    </td>
                    <td class="paramValue">1920x1080 LCD</td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Technické parametre</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Procesor</div>
                    </td>
                    <td class="paramValue">
                      Intel Core i3-1005G1 (1.2 / 3.4GHz, 4MB)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>Grafická karta</div>
                    </td>
                    <td class="paramValue">AMD Radeon Graphics</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Operačná pamäť</div>
                    </td>
                    <td class="paramValue">4GB LPDDR4 RAM</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Pevný disk</div>
                    </td>
                    <td class="paramValue">128GB SSD HDD</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Webkamera</div>
                    </td>
                    <td class="paramValue">0.3MP</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Čítačka kariet</div>
                    </td>
                    <td class="paramValue">
                      4-in-1 media reader (MMC, SD, SDHC, SDXC)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>Mechanika</div>
                    </td>
                    <td class="paramValue">nie</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Operačný systém</div>
                    </td>
                    <td class="paramValue">Windows 10 Home in S mode</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Wi-Fi</div>
                    </td>
                    <td class="paramValue">WiFi 802.11 ac</td>
                  </tr>
                  <tr>
                    <td>
                      <div>GPS</div>
                    </td>
                    <td class="paramValue">nie</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Bluetooth</div>
                    </td>
                    <td class="paramValue">BT 5.0</td>
                  </tr>
                  <tr>
                    <td>
                      <div>HDMI</div>
                    </td>
                    <td class="paramValue">1x HDMI</td>
                  </tr>
                  <tr>
                    <td>
                      <div>USB</div>
                    </td>
                    <td class="paramValue">1x USB 2.0, 2x USB 3.1 Gen 1</td>
                  </tr>
                  <tr>
                    <td>
                      <div>Extra numerická klávesnica</div>
                    </td>
                    <td class="paramValue">nie</td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Iné</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Obsah balenia</div>
                    </td>
                    <td class="paramValue">
                      Notebook, Napájací adaptér, SK manual
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab-3">
          <div class="order-info-holder">
            <div class="order-info-wrapper">
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon4.png" />
                <p class="order-subheading">
                  <b>Informácie o stave objednávky</b>
                </p>
                <p>
                  O stave vašej objednávky vás budeme pravidelne informovať cez
                  SMS a/alebo e-mailom.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon1.png" />
                <p class="order-subheading">
                  <b>Prvých 14 dní bez záväzkov</b>
                </p>
                <p>
                  O stave objednávky vás budeme priebežne informovať.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/ikona_sofa.png" />
                <p class="order-subheading">
                  <b>Nákup z pohodlia domova</b>
                </p>
                <p>
                  Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní
                  v týždni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion" data-accordion="1"></div>
    </div>
  </div>
</section>

<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
