<section class="section sec-det sec-det-1" id="sec-det-1">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 back-holder" style="padding: 0px;">
        <a class="link" onclick="goBack()" href="#">Späť</a>
      </div>
    </div>
    <div class="box-pricing">
      <div class="bp__content">
        <div class="bp__inner-section">
          <div class="gallery clearfix">
            <div class="pics clearfix">
              <div class="thumbnails">
                <div class="preview">
                  <a
                    class="selected"
                    data-full="../assets/img/product1.jpg"
                    href="#"
                    ><img src="../assets/img/product1_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product2.jpg" href="#"
                    ><img src="../assets/img/product2_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product3.jpg" href="#"
                    ><img src="../assets/img/product3_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product4.jpg" href="#"
                    ><img src="../assets/img/product4_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product5.jpg" href="#"
                    ><img src="../assets/img/product5_prev.png" />
                  </a>
                </div>
              </div>
              <div class="full__holder">
                <img class="full" src="../assets/img/product1.jpg" />
              </div>
              <div class="eec-product">
                <img
                  id="eec"
                  src="../assets/img/eec.png"
                  style="height: 80px; width: auto;"
                />
              </div>
              <div class="controlls">
                <div class="indicator">
                  <div class="in__content">
                    &nbsp;
                  </div>
                </div>
                <div class="control__holder">
                  <a class="control-left" href="#"
                    ><img alt="" src="../assets/img/ico-left.png" /> Späť</a
                  >
                  <p class="img-size">
                    (<span class="current-img"></span>/<span
                      class="all-img"
                    ></span
                    >)
                  </p>
                  <a class="control-right" href="#"
                    >Ďalej <img alt="" src="../assets/img/ico-right.png"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bp__inner-section">
          <!-- OVERLAY VYPREDANE  -->
          <div class="overlay_fix">
            <div id="soldOut" class="overlay" style="display: none;">
              <img src="../assets/img/vypredane.png" alt="" />
            </div>
            <h1 class="bpis__title">
              Xbox Series S
            </h1>
            <!-- B2C variant -->
            <div class="box-device" id="b2c-price">
              <div class="rpln-label">
                Zvoľte si variant Magio internetu alebo TV
              </div>
              <div class="rpln-holder">
                <!-- M -->
                <div class="my-rpln" id="M" category="all" data-value="M">
                  <h4>M</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    30/3 Mb/s<br />
                    Počet TV staníc: až 60
                  </p>
                </div>
                <!-- L -->
                <div class="my-rpln" id="L" category="all" data-value="L">
                  <h4>L</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    250/25 Mb/s<br />
                    Počet TV staníc: až 79
                  </p>
                </div>
                <!-- XL -->
                <div class="my-rpln" id="XL" category="all" data-value="XL">
                  <h4>XL</h4>
                  <p>
                    Rýchlosť internetu:<br />
                    600/60 Mb/s<br />
                    Počet TV staníc: až 121
                  </p>
                </div>
              </div>
              <div class="discount_switcher">
                <div class="discount_switcher_checkbox">
                  <div class="switch" id="b2c-all-discount"></div>
                </div>
                <div class="discount_switcher_label">
                  Zobraziť zľavu pre verných až do 30 €
                  <img
                    class="ttp"
                    id="info-discount"
                    src="../assets/img/info.png"
                    style="
                      width: 15px;
                      height: auto;
                      margin-left: 5px;
                      margin-bottom: -2px;
                    "
                  />
                </div>
              </div>
              <table class="pricing-table">
                <tbody>
                  <tr>
                    <td>
                      Cena za zariadenie:
                    </td>
                    <td>
                      <span id="b2c-all-rc" class="rc-price"></span><br />
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-rc"
                        ></span>
                      </div>
                      <span id="b2c-all-oc" class="oc-price"></span>
                      <div class="normal-price">
                        <span
                          class="normal-price-txt"
                          id="b2c-all-normal-oc"
                        ></span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span
                        id="b2c-rpln-price-sale"
                        class="rpln-price-salle"
                      ></span
                      ><span class="monthly"> 2. a 3. mesiac</span
                      ><img
                        class="ttp"
                        id="info-zlava"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="b2c-rpln-price" class="rpln-price"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a
                class="btn cta"
                type="button"
                id="buyBtn"
                href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                >PREJSŤ K NÁKUPU</a
              >
              <p class="tax-info">
                Ceny sú s DPH a platia pri 24 mesačnej viazanosti
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="section sec-det sec-det-2 segment"
  id="sec-det-2"
  data-segment="1"
>
  <div class="container-fixed">
    <div class="tabs-container">
      <div class="tab__holder">
        <ul class="tabs-menu">
          <li class="variant current" data-variant="1">
            <a href="#tab-1">Popis produktu</a>
          </li>
          <li class="variant" data-variant="2">
            <a href="#tab-2">Parametre</a>
          </li>
          <li class="variant" data-variant="3" id="biznis-delivery">
            <a href="#tab-3">Doručenie a vrátenie</a>
          </li>
        </ul>
      </div>
      <div class="tab">
        <div class="tab-content clearfix" id="tab-1" style="height: auto;">
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Úplne nová konzola Xbox Series S<br />
                  Výkon novej generácie v najmenšom Xboxe všetkých čias
                </h2>
                <p class="feat-desc">
                  Nová generácia hrania hier prináša doteraz najväčšiu knižnicu
                  Xbox hier spúšťaných digitálne do najmenšej konzoly Xbox
                  všetkých čias. Vďaka dynamickejším svetom a&nbsp;rýchlejšiemu
                  načítaniu prináša digitálna konzola Xbox Series
                  S&nbsp;najlepšiu hodnotu do sveta hrania hier.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail1.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Optimalizované hry pre Series X|S
                </h2>
                <p class="feat-desc">
                  Hry vytvorené s&nbsp;vývojárskou súpravou pre Xbox
                  Series&nbsp;X|S sa výrazne rýchlejšie načítavajú
                  a&nbsp;ponúkajú ohromujúci obraz s&nbsp;frekvenciou až
                  120&nbsp;FPS. Vďaka funkcii Inteligentné doručenie si stačí
                  podporovanú hru kúpiť raz a&nbsp;vždy budete mať
                  k&nbsp;dispozícii najlepšiu dostupnú verziu pre ľubovoľnú
                  konzolu, na ktorej hráte.<br />Prejdite s&nbsp;konzolou Xbox
                  Series&nbsp;Svýlučne na digitálnu verziu a&nbsp;vytvorte si
                  knižnicu digitálnych hier. Vaše hry, uložené položky
                  a&nbsp;zálohy sú v&nbsp;cloude bezpečné. Užite si tiež možnosť
                  predobjednať a&nbsp;predinštalovať pripravované hry, aby ste
                  boli pripravení hrať v&nbsp;okamihu ich uvedenia na trh.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail2.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">Nová definícia rýchlosti</h2>
                <p class="feat-desc">
                  Technológia Xbox Velocity Architecture poháňaná vlastným SSD
                  diskom spolupracuje s&nbsp;inovatívnym systémom využívajúcim
                  čipovú (SOC) technológiu a&nbsp;zaručuje na našej najmenšej
                  konzole všetkých čias hranie rýchlosťou až 120 snímok/s. Hry
                  sa načítajú podstatne rýchlejšie s vlastným SSD diskom
                  v&nbsp;konzole Xbox Series&nbsp;S. S&nbsp;funkciou Rýchle
                  obnovenie môžete bez problémov prepínať medzi rôznymi titulmi
                  a&nbsp;okamžite pokračovať tam, kde ste prestali.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail3.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">Vyzerá lepšie, hrá sa lepšie</h2>
                <p class="feat-desc">
                  Vďaka architektúram Zen&nbsp;2 a&nbsp;RDNA&nbsp;2 od
                  spoločnosti AMD poskytuje metóda sledovania lúča DirectX
                  realistické osvetlenie, tiene a&nbsp;presné odrazy, čím
                  vytvára dynamické a&nbsp;živé svety.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail4.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">Vyladený výkon</h2>
                <p class="feat-desc">
                  Nový bezdrôtový ovládač pre Xbox dopĺňa dobre známu
                  a&nbsp;obľúbenú konzolu o&nbsp;elegantný dizajn, vylepšené
                  pohodlie a&nbsp;okamžité zdieľanie. Textúrované spúšte
                  a&nbsp;predné tlačidlá sa držia pevne, aby nekĺzali. Nový
                  hybridný smerový ovládač umožňuje robiť skvelé kombinácie bez
                  kríženia prstov.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail5.jpg" />
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab-2">
          <div class="table-holder">
            <div class="detailed-specification" style="padding: 10px;">
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Základné informácie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Hlavný procesor:
                    </td>
                    <td class="paramValue">
                      8-jadrový procesor Zen 2 s 3,6 GHz (3,4 GHz s SMT)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Pamäť:
                    </td>
                    <td class="paramValue">10 GB GDDR6, 128-bitová zbernica</td>
                  </tr>
                  <tr>
                    <td>
                      Zdieľaná interná pamäť:
                    </td>
                    <td class="paramValue">512 GB SSD disk</td>
                  </tr>
                  <tr>
                    <td>
                      Vonkajšie rozmery pribl.:
                    </td>
                    <td class="paramValue">
                      65 x 275 X 151 (výška x šírka x hrúbka v mm)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Hmotnosť:
                    </td>
                    <td class="paramValue">1,9 kg</td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Iné</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Vlastnosti zariadenia:</div>
                    </td>
                    <td class="paramValue">
                      4 TERAFLOPY, 20 CU pri 1,565 GHz, vlastná grafická karta
                      RDNA 2<br />
                      HDMI 2.1, 3x USB 3.1, WIFI 802.11ac, Ethernet<br />
                      1x HDMI 2.1, 3x USB 3.1, 1x RJ45<br />
                      Wifi: Dvojpásmové pripojenie 802.11ac
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>Obsah balenia</div>
                    </td>
                    <td class="paramValue">
                      Konzola Xbox Series S, Bezdrôtový ovládač, Ultra
                      vysokorýchlostný HDMI kábel, Napájací kábel
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content clearfix" id="tab-3">
          <div class="order-info-holder">
            <div class="order-info-wrapper">
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon4.png" />
                <p class="order-subheading">
                  <b>Informácie o stave objednávky</b>
                </p>
                <p>
                  O stave vašej objednávky vás budeme pravidelne informovať cez
                  SMS a/alebo e-mailom.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon1.png" />
                <p class="order-subheading">
                  <b>Prvých 14 dní bez záväzkov</b>
                </p>
                <p>
                  Pri kúpe cez web môžete vrátiť službu aj tovar bez udania
                  dôvodu.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/ikona_sofa.png" />
                <p class="order-subheading">
                  <b>Nákup z pohodlia domova</b>
                </p>
                <p>
                  Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní
                  v týždni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="../assets/js/detail.js"></script>
<script
  type="text/javascript"
  src="../assets/js/jquery.enhanced-switch.js"
></script>
<script type="text/javascript" src="../assets/js/prices.js"></script>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
<script>
  function goBack() {
    window.history.back();
  }
</script>
