/* =============== GLOBAL CONFIG  =============== */
/* =============== CSS FOR MICROSITE =============== */
/* HERO SECTION */
#hero {
  background: url(../img/kv.jpg) no-repeat 50% 50%;
  padding: 60px 2%;
  overflow: hidden;
  background-size: cover; }

.hero__content {
  text-align: center;
  max-width: 460px; }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0; }
  .hero__mobile {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    height: 195px; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__content {
    padding: 40px 4%; }
  #content .hero__title, #content .hero__desc {
    color: #262626; }
  #hero .btn {
    margin-top: 60px; } }
