<!--@import url(/documents/10179/2747162/style.css);-->
<section class="startpage startpage-styles content-page tc" id="step1">
	<div class="fixed-column fixed-column_wide">
		<div class="flex-holder">
			<div class="left-panel">
				<h2 class="page-sidetitle">
					VYMEŇTE STARÝ MOBIL ZA NOVÝ</h2>
			</div>
			<div class="right-panel">
				<div class="progressicon-holder">
					<div class="pgicon_active pgicon">
						&nbsp;</div>
					<div class="pgicon pgicon">
						&nbsp;</div>
					<div class="pgicon">
						&nbsp;</div>
				</div>
				<div class="board">
					<form class="board__form" id="msisdnForm">
						<h3 class="page-title">
							OVERTE SI, ČI MÁTE NÁROK NA NOVÝ MOBIL</h3>
						<div class="input-label">
							Zadajte svoje telefónne číslo <img alt="" class="tooltip-info info-startpage" src="../assets/img/ico-tooltip.png" /></div>
						<input autocomplete="off" class="input-text" id="msisdn" maxlength="10" name="msisdn" placeholder="09 _ _ _ _ _ _ _ _" type="text" value="" />
						<div class="error-msg">
							&nbsp;</div>
						<input class="btn btn-primary btn_disabled" disabled="disabled" id="msisdn-btn" type="submit" value="OVERIŤ" /> <a class="link link_dark bf__bottom-link" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw?kampan=mobilkazdyrok">Chcem nový mobil,<br />
						ale nie som zákazník Telekomu</a></form>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="startpage-styles startpage-verification content-page tc" id="step2">
	<div class="fixed-column fixed-column_wide">
		<div class="flex-holder">
			<div class="left-panel">
				<h2 class="page-sidetitle">
					VYMEŇTE STARÝ MOBIL ZA NOVÝ</h2>
			</div>
			<div class="right-panel">
				<div class="progressicon-holder">
					<div class="pgicon_active pgicon">
						&nbsp;</div>
					<div class="pgicon_active pgicon">
						&nbsp;</div>
					<div class="pgicon">
						&nbsp;</div>
				</div>
				<div class="board">
					<form class="board__form" id="codeForm">
						<h3 class="page-title">
							OVERTE SI, ČI MÁTE NÁROK NA NOVÝ MOBIL</h3>
						<div class="number-verification">
							Overuje sa číslo <span class="current-phone-number"></span></div>
						<div class="text-left">
							<a class="link link_dark change-number" href="#">Zmeniť číslo</a></div>
						<div class="input-label">
							Overovací kód z SMS</div>
						<input class="input-text" id="code" maxlength="4" placeholder="_ _ _ _" size="4" type="text" />
						<div class="error-msg">
							&nbsp;</div>
						<input class="btn btn-primary" id="code-btn" type="submit" value="OVERIŤ" />&nbsp;</form>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="standard-prolong single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-standard-prolong-step1">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-standard-prolong-step2">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-standard-prolong-step3">
				&nbsp;</div>
		</div>
		<div class="board-holder">
			<div class="board">
				<h3 class="page-title margin_bottom20">
					ÁNO, MÁTE NÁROK NA NOVÝ MOBIL!</h3>
				<div class="prod-detail flex-holder">
					<div class="prod-img-lightbox prod-img-holder">
						<img alt="" class="prod-img" src="" /> <a class="more-info-lightbox" href="#">Viac info</a></div>
					<div class="prod-info tl">
						<img alt="" class="ec-standard-prolong" src="../assets/img/ec-zlava20.png" />
						<p class="our-tip">
							Náš tip:</p>
						<p class="prod-title">
							&nbsp;</p>
						<p class="main-feat">
							&nbsp;</p>
						<div class="button-holder">
							<a class="btn btn-buy btn-primary" href="#">CHCEM TENTO MOBIL</a><a class="btn btn-secondary btn-choose-other" href="#">VYBRAŤ INÝ MOBIL</a></div>
						<a class="link link_blue cmb__prolong open_cmb" href="#">Poraďte mi s ponukou</a></div>
				</div>
			</div>
			<div class="board board__lightbox">
				<div class="prod-detail flex-holder">
					<div class="prod-img-holder">
						<img alt="" class="prod-img" src="" /></div>
					<div class="prod-info pi__lightbox tl">
						<h4 class="pi__title">
							&nbsp;</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="benefit-holder">
			<h3 class="page-title page-title_dark">
				LIMITOVANÁ VIANOČNÁ PONUKA:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/ico-happy_50.png" />
					<p class="benefit__title">
						2 mobily za cenu<br />
						jedného</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-1.png" />
					<p class="benefit__title">
						zľava na mobil až 20 €<br />
						pri kúpe cez web</p>
				</div>
				<div class="benefit__item" style="display: none;">
					<img alt="" src="../assets/img/micon-2.png" />
					<p class="benefit__title">
						prvých 14 dní bez<br />
						záväzkov</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png" />
					<p class="benefit__title">
						doručenie kuriérom<br />
						zadarmo do 1 dňa</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-4.png" />
					<p class="benefit__title">
						možnosť osobného<br />
						prevzatia na pobočke</p>
				</div>
			</div>
		</div>
		<div class="benefit-holder bh_xmas" style="display: none;">
			<h3 class="page-title page-title_dark">
				AKTUÁLNE VIANOČNÉ AKCIE:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/xmas-1.png" />
					<p class="benefit__title">
						zľava na mobil až<br />
						20 € pri kúpe cez web</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/xmas-2.png" />
					<p class="benefit__title">
						2 mobily za cenu jedného<br />
						alebo zľava až 100 €</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/xmas-3.png" />
					<p class="benefit__title">
						prvých 14 dní bez<br />
						záväzkov</p>
				</div>
			</div>
			<div class="flex-holder justify-center m-20">
				<div class="benefit__item">
					<img alt="" src="../assets/img/xmas-4.png" />
					<p class="benefit__title">
						doručenie kuriérom<br />
						zadarmo do 1 dňa</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/xmas-5.png" />
					<p class="benefit__title">
						možnosť osobného<br />
						prevzatia na pobočke</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="standard-prolong-soft single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<img alt="" class="ec-standard-prolong-soft" src="../assets/img/ec-batery.png" /> <img alt="" src="../assets/img/bmicon-1.png" />
				<p class="discount-main-text">
					&nbsp;</p>
				<p class="page-title discount-text">
					&nbsp;</p>
				<p>
					S konkrétnou ponukou vás budeme telefonicky kontaktovať.</p>
				<a class="btn btn-primary open_cmb cmb__sps" href="#">KONTAKTUJTE MA</a>
				<div class="error-msg em-content-page">
					&nbsp;</div>
			</div>
		</div>
		<div class="benefit-holder">
			<h3 class="page-title page-title_dark">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-2.png" />
					<p class="benefit__title">
						prvých 14 dní bez<br />
						záväzkov</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png" />
					<p class="benefit__title">
						doručenie kuriérom<br />
						zadarmo do 1 dňa</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="happy_looners single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<img alt="" class="ec-happy_looners" src="../assets/img/ec-zlava20.png" /> <img alt="" src="../assets/img/bmicon-1.png" />
				<p class="discount-main-text">
					&nbsp;</p>
				<p class="page-title discount-text">
					&nbsp;</p>
				<p>
					S konkrétnou ponukou vás budeme telefonicky kontaktovať.</p>
				<a class="btn btn-primary open_cmb cmb__happy_looners" href="#">KONTAKTUJTE MA</a>
				<div class="error-msg em-content-page">
					&nbsp;</div>
			</div>
		</div>
		<div class="benefit-holder">
			<h3 class="page-title page-title_dark">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-2.png" />
					<p class="benefit__title">
						prvých 14 dní bez<br />
						záväzkov</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png" />
					<p class="benefit__title">
						doručenie kuriérom<br />
						zadarmo do 1 dňa</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="standard-prolong-soft-non-hw single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<img alt="" class="ec-standard-prolong-soft-non-hw" src="../assets/img/ec-zlava20.png" /> <img alt="" src="../assets/img/bmicon-2.png" />
				<p class="page-title">
					ÁNO, MÁTE NÁROK NA NOVÝ MOBIL!</p>
				<p>
					Nový mobil si môžete dokúpiť<br />
					k svojmu existujúcemu mobilnému paušálu Happy.</p>
				<p>
					S konkrétnou ponukou vás budeme telefonicky kontaktovať.</p>
				<a class="btn btn-primary open_cmb cmb__spsnh" href="#">KONTAKTUJTE MA</a>
				<div class="error-msg em-content-page">
					&nbsp;</div>
			</div>
		</div>
		<div class="benefit-holder" style="display: none;">
			<h3 class="page-title page-title_dark">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-2.png" />
					<p class="benefit__title">
						prvých 14 dní bez<br />
						záväzkov</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png" />
					<p class="benefit__title">
						doručenie kuriérom<br />
						zadarmo do 1 dňa</p>
				</div>
			</div>
		</div>
		<div class="benefit-holder" style="display: none;">
			<h3 class="page-title page-title_dark">
				AKTUÁLNE VIANOČNÉ AKCIE:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/xmas-2.png" />
					<p class="benefit__title">
						2 nové mobily za cenu<br />
						jedného<br />
						&nbsp;</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/xmas-1.png" />
					<p class="benefit__title">
						kupón na nový mobil, tablet alebo iné zariadenie až 100 €</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="wrong-segment single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<p class="page-title">
					Vážený zákazník, patríte k naším významným zákazníkom.</p>
				<p>
					Prosím, kontaktujte prideleného reprezentanta alebo linku 0800 123 500.</p>
			</div>
		</div>
	</div>
</section>
<section class="cant-check single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<div class="board">
				<p class="page-title">
					Ups, aktuálne sa nám nepodarilo preveriť Vaše údaje.</p>
				<p>
					V prípade záujmu Vás môžeme kontaktovať telefonicky.</p>
				<a class="btn btn-primary open_cmb cmb__other" href="#">KONTAKTUJTE MA</a></div>
		</div>
	</div>
</section>
<section class="standard-prolong-soft-non-hw-thank-you single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<img alt="" src="../assets/img/bmicon-3.png" />
			<p class="page-title">
				ďakujeme za váš záujem!</p>
			<p>
				Budeme vás kontaktovať do 24 hodín<br />
				na telefónnom čísle <span class="current-phone-number"></span></p>
			<a class="btn btn-secondary" href="https://www.telekom.sk/?kampan=mobikazdyrok">SPÄŤ NA DOMOVSKÚ STRÁNKU</a></div>
	</div>
</section>
<section class="number-transfer single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-number-transfer-step1">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-number-transfer-step2">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-number-transfer-step3">
				&nbsp;</div>
		</div>
		<div class="board-holder">
			<div class="board">
				<!--<img src="../assets/img/ec-batery.png" alt="" class="ec-number-transfer">-->
				<h3 class="page-title margin_bottom20">
					PRENESTE SI ČÍSLO K NÁM a získate<br />
					<b>NOVÝ MOBIL a bonus AŽ 100 € za prenos!</b></h3>
				<p>
					S paušálmi Happy ďalej získate:</p>
				<ul class="pi__lightbox inline-block">
					<li>
						neobmedzené volania do siete Telekom,</li>
					<br />
					<li>
						volania, SMS a dáta výhodne nielen v SR ale celej EÚ,</li>
					<br />
					<li>
						výber z ponuky mobilov už od 1 €,</li>
					<br />
					<li>
						viac dát (napr. až 16 GB s Happy Profi) vo všetkých paušáloch za rovnakú cenu</li>
				</ul>
				<div class="button-holder">
					<a class="btn btn-primary" href="/mam-zaujem/prenos-cisla-bonus/formular" id="number-transfer-link">PRENIESŤ ČÍSLO + NOVÝ MOBIL</a> <a class="btn btn-secondary" href="/prenos-cisla-bonus?kampan=mobilkazdyrok">POZRIEŤ VIAC INFO</a></div>
				<a class="link link_blue cmb__prenos open_cmb" href="#">Poraďte mi s ponukou</a></div>
		</div>
		<div class="benefit-holder">
			<h3 class="page-title page-title_dark">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-2.png" />
					<p class="benefit__title">
						prvých 14 dní bez<br />
						záväzkov</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png" />
					<p class="benefit__title">
						doručenie kuriérom<br />
						zadarmo do 1 dňa</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="no-prolong single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-number-transfer-step1">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-number-transfer-step2">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-number-transfer-step3">
				&nbsp;</div>
		</div>
		<div class="board-holder">
			<div class="board">
				<p>
					Ľutujeme, aktuálne nemáte nárok na nový mobil k svojmu paušálu.</p>
				<h3 class="page-title margin_bottom20">
					Môžeme vám však ponúknuť:</h3>
				<div class="no-prolong-offer">
					<div class="npo__item">
						<img alt="" src="../assets/img/ico-mag-circle-phone.png" />
						<p>
							Nový paušál s mobilom už od 1 € mesačne.</p>
						<a class="btn btn_outline" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw?kampan=mobilkazdyrok">POZRIEŤ MOBILY</a></div>
					<div class="npo__item">
						<img alt="" src="../assets/img/ico-mag-circle-smartphone.png" />
						<p>
							Výpredajové mobily za výhodné ceny.</p>
						<a class="btn btn_outline" href="/vypredaj-telefonov?kampan=mobikazdyrok#!/vyber-hw">PREJSŤ NA PONUKU</a></div>
					<div class="npo__item" style="display: none">
						<img alt="" src="../assets/img/ico-mag-circle-apple.png" />
						<p>
							Vyhrajte iPhone X v súťaži s Easy kartou!</p>
						<a class="btn btn_outline" href="/volania/easy?kampan=mobilkazdyrok">VIAC INFORMÁCIÍ</a></div>
				</div>
				<a class="link link_blue cmb__prenos open_cmb" href="#">Poraďte mi s ponukou</a></div>
		</div>
		<div class="benefit-holder">
			<h3 class="page-title page-title_dark">
				EXTRA VÝHODY ZA NÁKUP NA WEBE:</h3>
			<div class="flex-holder justify-center">
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-1.png" />
					<p class="benefit__title">
						zľava na mobil až 20 €<br />
						pri kúpe cez web<br />
						&nbsp;</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-2.png" />
					<p class="benefit__title">
						prvých 14 dní bez<br />
						záväzkov<br />
						&nbsp;</p>
				</div>
				<div class="benefit__item">
					<img alt="" src="../assets/img/micon-3.png" />
					<p class="benefit__title">
						doručenie kuriérom<br />
						zadarmo do 1 dňa<br />
						&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="transfer-not-allowed single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder">
			<div class="board">
				<h3 class="page-title margin_bottom20">
					NÁROK NA NOVÝ MOBIL MÁTE UŽ od 1. 1. 2017</h3>
				<div class="benefit-holder">
					<div class="flex-holder justify-center">
						<div class="benefit__item">
							<img alt="" src="../assets/img/bmhelpicon-1.png" />
							<p class="benefit__title">
								Potvrďte nám svoje<br />
								telefónne číslo</p>
						</div>
						<div class="benefit__item">
							<img alt="" src="../assets/img/bmhelpicon-2.png" />
							<p class="benefit__title">
								1. 1. 2017 vám<br />
								zavoláme...</p>
						</div>
						<div class="benefit__item">
							<img alt="" src="../assets/img/bmhelpicon-3.png" />
							<p class="benefit__title">
								... a poradíme s<br />
								aktuálnou ponukou</p>
						</div>
					</div>
				</div>
				<div class="form-holder">
					<div class="input-label">
						Overovací kód z SMS</div>
					<div class="input-holder">
						<input class="input-text input_error" placeholder=" _ _ _ _ _" type="text" /> <input class="btn btn-primary" type="button" value="POTVRDIŤ ČÍSLO" /></div>
					<div class="error-msg">
						Zadaný overovací kód nie je správny</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="transfer-not-allowed-thank-you single-col content-page tc">
	<div class="fixed-column">
		<div class="board-holder bh_small">
			<img alt="" src="../assets/img/bmicon-3.png" />
			<p class="page-title">
				ďakujeme za váš záujem!</p>
			<p>
				Budeme vás kontaktovať hneď,<br />
				ako získate nárok na nový mobil.</p>
			<a class="btn btn-secondary" href="https://www.telekom.sk/?kampan=mobikazdyrok">SPÄŤ NA DOMOVSKÚ STRÁNKU</a></div>
	</div>
</section>
<section class="easy-prolong single-col content-page tc">
	<div class="fixed-column">
		<div class="progressicon-holder progressicon-holder_magenta">
			<div class="pgicon tooltip-info info-standard-prolong-step1">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-standard-prolong-step2">
				&nbsp;</div>
			<div class="pgicon tooltip-info info-standard-prolong-step3">
				&nbsp;</div>
		</div>
		<div class="board-holder">
			<div class="board">
				<p class="page-title">
					PREJDI Z EASY KARTY<br />
					NA VÝHODNEJŠÍ PAUŠÁL happy!</p>
				<span class="easy-detail"> <img alt="" class="ec-easy" src="../assets/img/ec-easy.png" /> </span>
				<p class="detail-title">
					<span class="easy-detail"><b>Napr. na PAUŠÁL HAPPY XL DÁTA PRE MLADÝCH:</b></span></p>
				<p class="easy-detail-desc">
					<span class="easy-detail">■ 5 GB dát v cene paušálu<br />
					■ neobmedzené volania do siete Telekom<br />
					■ nový mobil už od 1 € mesačne,<br />
					■ zľava na nový mobil do 20 € <span class="easy-more-info">(pri kúpe cez web)</span> </span></p>
				<span class="easy-detail"><a class="link link_dark aly" href="#lightbox-young">Viac info o paušále</a> </span>
				<div class="button-holder">
					<span class="easy-detail"><a class="btn btn-primary" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_data_premladych?kampan=mobilkazdyrok">CHCEM TENTO PAUŠÁL</a> <a class="btn btn-secondary" href="/volania/happy?kampan=mobilkazdyrok">POZRIEŤ ĎALŠIE PAUŠÁLY</a> </span></div>
				<span class="easy-detail"><a class="link link_blue cmb__easy open_cmb" href="#">Poraďte mi s ponukou</a> </span></div>
		</div>
		<div class="board-holder m-40 board-no-back">
			<div class="board">
				<h3 class="page-title margin_bottom20">
					AJ S EASY MÁTE NÁROK NA NOVÉ MOBILY<br />
					ZA SUPER CENY!</h3>
				<div class="prod-detail flex-holder">
					<div class="prod-img-lightbox prod-img-holder">
						<img alt="" class="prod-img" src="" /> <a class="more-info-lightbox" href="#">Viac info</a></div>
					<div class="prod-info tl">
						<p class="our-tip">
							Náš tip:</p>
						<p class="prod-title">
							&nbsp;</p>
						<p class="main-feat">
							&nbsp;</p>
						<div class="button-holder">
							<a class="btn btn-primary btn-buy" href="#">CHCEM TENTO MOBIL</a><a class="btn btn-secondary" href="/vypredaj-telefonov?kampan=mobikazdyrok">VYBRAŤ INÝ MOBIL</a></div>
						<a class="link link_blue cmb__easy open_cmb" href="#">Poraďte mi s ponukou</a></div>
				</div>
			</div>
			<div class="board board__lightbox">
				<div class="prod-detail flex-holder">
					<div class="prod-img-holder">
						<img alt="" class="prod-img" src="" /></div>
					<div class="prod-info pi__lightbox tl">
						<h4 class="pi__title">
							&nbsp;</h4>
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="benefit-holder with-border">
            <div class="board">
                <img src="../assets/img/ec.png" alt="" class="ec">
                <img src="../assets/img/ec-zlava20.png" alt="" class="ec-easy-prolong">
                <h3 class="page-title">ALEBO PREJDITE Z EASY KARTY
                    <br/>NA MOBILNÝ PAUŠÁL HAPPY</h3>
                <div class="flex-holder justify-center m-20">
                    <div class="benefit__item">
                        <img src="../assets/img/xmas-6.png" alt="">
                        <p class="benefit__title">paušál už od 5,99 €
                            <br/>mesačne</p>
                    </div>
                    <div class="benefit__item">
                        <img src="../assets/img/xmas-7.png" alt="">
                        <p class="benefit__title">mobily už od 1 €
                            <br/>mesačne</p>
                    </div>
                    <div class="benefit__item">
                        <img src="../assets/img/xmas-10.png" alt="">
                        <p class="benefit__title">v susedných štátoch
                            <br/>ceny ako doma</p>
                    </div>
                    <div class="benefit__item">
                        <img src="../assets/img/xmas-8.png" alt="">
                        <p class="benefit__title">neobmedzené volania v sieti Telekom</p>
                    </div>
                </div>

                <a href="/objednavka/-/scenario/e-shop/happy?vybersl=MIGRATION_EASY&kampan=mobikazdyrok" class="btn btn-primary">PREJSŤ Z EASY NA HAPPY</a>
                <br/>
                <a href="#" class="link link_blue cmb__easy_happy open_cmb">Poraďte mi s ponukou</a>
            </div>
        </div>--></div>
</section>
<div class="cmb-lightbox__holder">
	<div class="board cmb__lightbox">
		<p class="page-title">
			CHCETE BLIŽŠIE VYSVETLIŤ PONUKU?</p>
		<p>
			Naši operátori Vám radi zavolajú.</p>
		<div class="form-holder">
			<div class="input-label">
				Vaše telefónne číslo</div>
			<div class="input-holder">
				<input autocomplete="off" class="input-text cmb_msisdn" maxlength="10" name="cmb_msisdn" placeholder="09 _ _ _ _ _ _ _ _" type="text" value="" /> <input class="btn btn-primary cmb_button" type="button" value="POTVRDIŤ ČÍSLO" /></div>
			<div class="error-msg">
				&nbsp;</div>
		</div>
	</div>
</div>
<section class="mobil-every-year single-col content-page tc">
	<div class="fixed-column fixed-column_wide">
		<div class="board-holder">
			<div class="board no-bg-board">
				<h3 class="page-title margin_bottom40">
					ÁNO, V RÁMCI SLUŽBY MOBIL KAŽDÝ ROK,<br />
					<b>MÁTE NÁROK NA NOVÝ MOBIL</b></h3>
				<div class="mey-img-holder">
					<img alt="" class="promo-device" src="../assets/img/promo-device.png" /></div>
				<div class="board board-no-back steps-clearer">
					<div class="steps-holder">
						<div class="mey-step">
							<img alt="" src="../assets/img/ico-step1.png" />
							<p>
								Služba Mobil každý rok je spoplatnená</p>
						</div>
						<div class="mey-step">
							<img alt="" src="../assets/img/ico-step2.png" />
							<p>
								Výška vášho poplatku k dnešnému dňu je <span id="info-spoplatnenie"></span> €</p>
						</div>
						<div class="mey-step">
							<img alt="" src="../assets/img/ico-step3.png" />
							<p>
								Poplatok si môžete výhodne znížiť o sumu, za ktorú odkúpime váš starý mobil</p>
						</div>
					</div>
					<div class="form-holder">
						<div class="input-label il_magenta">
							Zistite, za koľko odkúpime váš starý mobil:</div>
						<div class="input-holder search-input">
							<input autocomplete="off" class="input-text" id="find" name="find" onkeyup="findPhone(this.value)" placeholder="Začnite písať názov mobilu" type="text" />
							<div class="result">
								&nbsp;</div>
						</div>
						<div class="info-msg">
							Odkúpime všetky mobily zo zonamu</div>
					</div>
				</div>
			</div>
		</div>
		<div id="mey-separator">
			&nbsp;</div>
		<div class="mey-legal">
			<a class="note-legal" href="" onclick="$('#mey-legal-1').toggle('slow');return false;">Podmienky</a>
			<div class="mey-legal-content" id="mey-legal-1">
				Podmienkou využitia služby Mobil každý rok je (i) využívanie ktoréhokoľvek programu služieb Happy s mobilným telefónom počas najmenej 12 mesiacov bezprostredne pred využitím služby Mobil každý rok, (ii) úhrada poplatku za službu Mobil každý rok vo výške podľa Cenníka a (iii) uzatvorenie nového dodatku s viazanosťou 24 mesiacov na rovnaký alebo vyšší program služieb Happy, ako Účastník využíval počas posledných najmenej 12 mesiacov. Poplatok za službu Mobil každý rok je možné znížiť odkúpením vášho mobilu prostredníctvom využitia služby Odkúpenie mobilu. Na základe služby Odkúpenie mobilu budú od zákazníka odkúpené opotrebované MT , a to za nasledovných podmienok: (i) cena MT bude určená na základe posúdenia ST , (ii) kúpna cena pri využití služby Odkúpenie mobilu nebude vyplatená v hotovosti, ale formou započítania voči pohľadávke, ktorá vznikne pri využití služby Mobil každý rok, (iii) ST má právo odmietnuť odkúpenie MT , (iv) Minimálna výkupná cena MT je 20 €, (v) služba Odkúpenie mobilu je určená len pre existujúcich zákazníkov ST využívajúcich službu Mobil každý rok. Ostatné podmienky služby Odkúpenie mobilu sú uvedené v <a class="link link_dark" href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/ ">Cenníku a v Obchodných podmienkach služby Odkúpenie mobilu</a>.<br />
				<br />
				<b>Služba Odkúpenie mobilu je určená len pre fyzické osoby – nepodnikateľov.</b></div>
		</div>
	</div>
</section>
<div class="phone-detail" id="phone-main">
	<div class="phone-content">
		<div class="phone">
			<div class="image">
				&nbsp;</div>
			<div class="properties">
				<div class="phoneName">
					&nbsp;</div>
				<div id="change-phone">
					<a class="link change-phone-link" href="#">Zmeniť mobil</a></div>
				<div class="desc">
					Pre upresnenie ceny vyplňte nasledujúce údaje:</div>
				<table class="prop">
				</table>
				<div class="final">
					Orientačná výkupná cena: <span id="price">0</span> €</div>
			</div>
		</div>
		<div class="clear">
			&nbsp;</div>
		<div class="btn-nav">
			<div class="desc-top">
				Vybavte všetko bez čakania a dohodnite si svoj termín stretnutia v Telekom centre</div>
			<div class="buttons-row">
				<div class="btn-left">
					<a class="button button_lima" href="https://www.telekom.sk/rezervacia-stretnutia?kampan=mobikazdyrok" id="btn-reserve" target="_blank">REZERVOVAŤ TERMÍN</a></div>
				<div class="btn-right">
					<a href="https://www.telekom.sk/kontakt/predajne/?kampan=mobikazdyrok" id="btn-shop" target="_blank"><img src="https://www.telekom.sk/documents/10179/623804/shop.png" /></a> <!--<a href="" id="btn-mail"><img src="https://www.telekom.sk/documents/10179/623804/mail.png"></a>--><a href="" id="btn-print"><img src="https://www.telekom.sk/documents/10179/623804/print.png" /></a></div>
				<div class="desc-bottom">
					Uvedené výkupné ceny mobilov sú len orientačné.<br />
					Presnú cenu určí predajca v Telekom centre.</div>
			</div>
		</div>
	</div>
</div>
<div id="ajaxLoadingSpinnerOverlay" style="display: none;">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated">
			&nbsp;</div>
		<div class="square second pulse infinite animated">
			&nbsp;</div>
		<div class="square third pulse infinite animated">
			&nbsp;</div>
	</div>
</div>
<!-- LightBox: HAPPY XL DÁTA PRE MLADÝCH -->
<div class="lightbox-area" id="lightbox-young">
	<div class="p-head">
		<a class="p-close" href="#">&nbsp;</a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content" style="padding: 0 10px 10px 10px">
		<div class="col-md-12 box-outside" id="happy-young">
			<!-- program type -->
			<div class="program_title text_centered">
				HAPPY XL DÁTA PRE MLADÝCH</div>
			<div class="program_item">
				<!--  volania -->
				<div class="program_volania box-inside">
					<h3>
						VOLANIA</h3>
					<div class="desc">
						<h4>
							neobmedzené</h4>
						volania do siete Telekom a pevných sietí v SR</div>
					<div class="desc">
						<h4>
							100 minút</h4>
						volania zo SR a z <span class="roaming-info info-link">EÚ+</span> do ostatných sietí v SR a v <span class="roaming-info info-link">EÚ+</span></div>
					<div class="desc">
						<h4>
							neobmedzené</h4>
						prichádzajúce volania v <span class="roaming-info info-link">EÚ+</span></div>
				</div>
				<!-- sms -->
				<div class="sms box-inside">
					<h3>
						SMS a MMS</h3>
					<div class="desc">
						<h4>
							0,10 €</h4>
						do všetkých sietí v SR<br />
						<br />
						Poznámka:<br />
						0,07 € z <span class="roaming-info info-link">EÚ+</span> do SR a <span class="roaming-info info-link">EÚ+</span><br />
						0,15 €/SMS a 0,39 €/MMS zo SR do <span class="roaming-info info-link">EÚ+</span></div>
				</div>
				<!--  internet -->
				<div class="internet box-inside">
					<h3>
						4G INTERNET V MOBILE</h3>
					<div class="desc">
						<h4>
							5 GB v SR a <span class="roaming-info info-link">EÚ+</span></h4>
					</div>
				</div>
				<!-- price -->
				<div class="cena">
					<div class="cena-left">
						<div class="cena-inholder">
							<div class="cena-side-l">
								<h2 class="font_magenta">
									19,99 €</h2>
							</div>
							<div class="cena-side-r">
								<span class="font_magenta"> mesačne</span></div>
						</div>
					</div>
					<div class="cena-right happy_young-info">
						<img src="../assets/img/ec-zlava20.png" /></div>
				</div>
				<!--  cta -->
				<div class="objednat">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_data_premladych">vybrať</a></div>
			</div>
		</div>
		<div class="col-md-12 lb-disc">
			<p class="text_centered">
				Paušál je určený pre zákazníkov do 26 rokov.</p>
		</div>
	</div>
</div>
<script type="text/javascript" src="../assets/js/main.js"></script><script type="text/javascript" src="../assets/js/jquery.history.js"></script><script type="text/javascript" src="../assets/js/calc.js"></script><script type="text/javascript" src="../assets/js/printThis.js"></script><script type="text/javascript" src="../assets/js/app.js"></script>
