/* ===============
   CSS FOR MICROSITE
   =============== */

/* ===============
    GLOBALS FOR ALL 
   =============== */

.text_centered {
  margin: 0 auto;
}

.section {
  padding: 20px 0 50px 0;
  font-size: 16px;
}

#content .section__nav {
  padding: 0;
}

#content .section__title {
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  line-height: 38px;
}

#content .main_sec {
  display: inline-block;
}

#content .section__title__double {
  margin-bottom: 0;
}

#content .section__subtitle {
  font-size: 2.5em;
  text-transform: uppercase;
  border: 0;
  margin-top: 0;
}

.col-sm-4 {
  @media screen and (max-width: 543px) {
    margin-bottom: 30px;
  }
}

#content .valign {
  display: flex;
  align-items: center;

  @media screen and (max-width: 543px) {
    display: block;
  }
}

.sec__title {
  text-align: center;
}

#content .line-through {
  text-decoration: line-through;
}

/* HERO SECTION */

#hero {
  background: url(../img/kv_940.png) no-repeat 50% 50%;
  min-height: 490px;
  padding: 60px 2%;
  overflow: hidden;
  background-size: cover;
  position: relative;

  @media (max-width: 768px) {
    background: url(../img/kv_940.png) no-repeat 54% 50%;
    padding: 30px 2%;
    background-size: cover;
  }

  @media (max-width: 700px) {
    min-height: 410px;
  }

  @media (max-width: 543px) {
    background: transparent;
    padding: 0;

    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }

  & h1 {
    margin-top: 25px;
  }

  .hero__content {
    position: relative;
    z-index: 2;

    @media screen and (max-width: 768px) {
      margin-top: 20px;
      max-width: 55%;
    }

    @media screen and (max-width: 543px) {
      width: 100%;
      max-width: 100%;
      padding: 130px 4% 8% 4%;
      margin: 0;
      text-align: center;
    }

    .ec-holder {
      position: absolute;
      right: -120px;
      top: 5%;

      @media screen and (max-width: 543px) {
        right: 20px;
        top: -175px;
      }

      @media screen and (max-width: 380px) {
        top: -65px;
      }
    }
  }

  .hero__mobile {
    display: none;

    @media screen and (max-width: 543px) {
      display: block;
      background: url(../img/kv_940.png) no-repeat 60% 50%;
      background-size: cover;
      height: 215px;
    }

    .device__img {
      width: 100%;
      padding: 0 5%;
      position: relative;
      bottom: -120px;
      z-index: 2;
    }

    @media (max-width: 380px) {
      background-position: 62% 50%;
    }
  }

  .hero__title {
    color: #fff;

    @media screen and (max-width: 543px) {
      color: #262626;
      margin-top: 40px;
    }

    .text_bold {
      color: $magenta;
    }

    .text_thin {
      display: block;
      /*max-width: 360px;*/
    }
  }

  .moreInfo {
    padding-top: 10px;
    display: block;
    color: #3ec0f0;

    @media screen and (max-width: 543px) {
      width: 100%;
      color: #007faf;
    }
  }

  .parallax {
    position: absolute;
    top: 0;
    background: url("../img/bg_family.png?v=2") 70% 0;
    background-size: 40%;
    min-height: 560px;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      background-size: contain;
      background-position: 100% 0%;
    }

    @media screen and (max-width: 543px) {
      min-height: 215px;
      background-size: 45%;
      background-position: 50% 0%;
    }
  }
}

#benefits {
  padding: 0 0 50px 0;
  margin-top: 120px;

  @media screen and (max-width: 543px) {
    margin-top: 60px;
  }

  .devices {
    position: relative;
    display: flex;
    justify-content: center;

    .device__img {
      position: absolute;
      bottom: 0;
      right: 10%;

      @media screen and (max-width: 800px) {
        right: 3%;
      }

      @media screen and (max-width: 768px) {
        width: 90%;
      }

      @media screen and (max-width: 543px) {
        display: none;
      }
    }
  }

  .benefits {
    margin-top: 60px;

    @media screen and (max-width: 543px) {
      margin: 0;
    }
  }

  .imgwrapper {
    min-height: 50px;
  }
}

#moreDevices,
#archivMagioGo {
  padding: 50px 0 50px 0;
  background: #000;

  .text {
    padding: 0 30px;

    h3 {
      font-size: 32px;
      margin-bottom: 30px;
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  .desktop {
    @media screen and (max-width: 543px) {
      display: none;
    }
  }

  .mob {
    @media screen and (min-width: 543px) {
      display: none;
    }
  }

  img {
    max-width: 100%;
  }
}

#magioAbilities {
  overflow: hidden;
  padding: 100px 0 80px 0;
  .sec__title {
    margin-bottom: 50px;
  }
  .device {
    display: flex;
    margin-bottom: 40px;

    @media screen and (max-width: 543px) {
      flex-direction: column;
      margin: 40px 0;
    }

    .device__text {
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 30px;
      margin: 0 !important;

      @media screen and (max-width: 543px) {
        height: auto;
        display: block;
        text-align: center;

        &.device-2 {
          order: 2;
        }
      }
    }

    .device__img {
      position: relative;

      @media screen and (max-width: 543px) {
        display: block;
        text-align: center;

        img {
          width: auto;
          max-height: 300px;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color: #fff;

        @media screen and (max-width: 543px) {
          height: auto;
          display: block;
        }

        .img-3 {
          margin-bottom: -150px;

          @media screen and (max-width: 543px) {
            margin-bottom: 0;
          }
        }

        img {
          max-width: 100%;
        }
      }
    }
  }

  .device__img div:nth-child(1) {
    //border: 1px solid #6c6c6c;
  }
}

#servicesAndPrices {
  padding: 70px 0;

  @media screen and (max-width: 543px) {
    padding: 50px 0;
  }

  & h3 {
    margin-top: 90px;
    text-align: center;
    color: #262626;
    font-weight: bold;
  }

  & h4 {
    text-align: center;
    color: #262626;
    margin: 20px 0;
  }

  & p {
    text-align: center;
    max-width: 600px;
    color: #4b4b4b;
    margin: 0 auto 10px auto;
  }

  & .shadow-box {
    background-color: #fff;
    width: 250px;
    display: inline-block;
    border: none;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.1);
    margin: 0 10px 20px 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    overflow: hidden;

    @media screen and (max-width: 543px) {
      margin: 0 0 20px 0;
    }

    .channels {
      position: relative;
      overflow: hidden;

      img {
        max-width: 100%;
      }

      .overlay {
        padding: 55px 0 0 0;
        width: 100%;
        height: 157px;
        position: absolute;
        top: 0;
        left: 0;

        h4,
        p {
          margin: 0;
          color: #fff;
        }

        h4 {
          font-size: 26px;
        }
      }
    }

    .content {
      padding: 30px 20px;

      .headline {
        font-weight: 800;
        line-height: normal;
      }

      .subHeadline {
        margin: 0;
        text-align: left;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 30px;
        height: 32px;
        margin-bottom: 7px;

        .checker {
          height: 32px;
        }
      }

      .popupbtn {
        display: block;
        text-align: center;
        margin: 10px 0;

        &:last-of-type {
          margin-bottom: 30px;
        }
      }

      .buyMagio {
        padding: 10px 15px;
      }

      .havetv {
        margin-top: 15px;
        display: block;
      }
    }

    .terms {
      font-size: 14px;
    }
  }

  & .text-gray {
    color: #6c6c6c !important;
    font-size: 14px;
  }

  & .text-dark {
    color: #262626 !important;
    font-weight: bold;
  }

  & .text-left {
    text-align: left !important;
    float: left;
  }

  & .text-right {
    text-align: right !important;
    float: right;
  }

  & .magenta {
    color: #e20074 !important;
  }

  & .cta-holder {
    clear: both;
    text-align: center;
    padding-top: 20px;
    margin: 0px auto;
  }

  & .sep {
    border-bottom: 1px dotted #bfbfbf;
    padding-bottom: 12px;
    clear: both;
    min-height: 21px;
  }

  & .sep-1 {
    border-top: 1px dotted #bfbfbf;
    padding-top: 12px;
    font-weight: 600;
    clear: both;
  }

  & .sep-2 {
    border-bottom: 1px dotted #bfbfbf;
    border-top: 1px dotted #bfbfbf;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  & .row {
    line-height: 12px !important;
    margin-bottom: 10px;
  }

  .btn {
    padding: 10px 40px;
  }

  .tabs-container {
    .tab__holder {
      .tabs-menu {
        .variant {
          border-radius: 22px;
          -webkit-border-radius: 22px;
          -moz-border-radius: 22px;
          -ms-border-radius: 22px;
          -o-border-radius: 22px;
          border: none;
          float: none;
          display: inline-block;

          &:hover {
            border-bottom: none;
            background-color: #dedede;
          }

          @media screen and (max-width: 543px) {
            width: auto;
          }

          a {
            padding: 0 20px;
          }

          &:not(:last-of-type) {
            margin-right: 5px;
          }

          &.current {
            background-color: $magenta;
            border-bottom: none;
            -webkit-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
            box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);

            a {
              color: #fff;
            }
          }
        }
      }
    }

    .tab {
      border: none;
    }
  }

  .tab-content {
    margin-top: 40px;
  }

  @media (max-width: 480px) {
    h3 {
      margin-top: 40px;
    }
  }
}

#welcome {
  background-color: #f2f2f2;
  padding: 0;
  & .sec-cont {
    display: flex;
    align-items: center;
    & p {
      font-size: 16px;
    }
    & .badge {
      background-color: #262626;
      border-radius: 5px;
      width: 100px;
      color: #fff;
      text-align: center;
      font-size: 16px;
      padding: 5px 0 5px 0;
    }
    & .sec-img {
      background-size: cover;
      text-align: center;
      min-height: 550px;
    }
    & .sec-content {
      padding: 0 40px;
      & h2 {
        font-size: 32px;
        color: #000;
      }
    }
    & .sec-img {
      position: relative;
      background: url(../img/tv-img.jpg) no-repeat 50% 50%;
      & img {
        width: auto;
        max-width: 100%;
        max-height: 500px;
      }
      .eec {
        position: absolute;
        left: 30px;
        top: 30px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 20px 0;
    & .sec-cont {
      display: block;
      text-align: left;
      & .sec-content {
        padding: 0px;
      }
      & .mobile-pad {
        padding-bottom: 50px;
      }
      & .sec-img {
        background: url(../img/tv-img-mobile.jpg) no-repeat 50% 50%;
        text-align: center;
        margin-bottom: 40px;
        min-height: 270px;
        .eec {
          position: absolute;
          left: unset;
          right: 10px;
          top: 30px;
        }
      }
    }
  }
}

#howToGetMagioGO {
  #grad {
    height: 100px;
    background-color: #fff;
    background-image: linear-gradient(#ededed, #fff);
  }
  padding-top: 0;
  margin-top: 0;
  padding-top: 70px;
  padding-bottom: 70px;

  #tabs-triangle {
    margin-top: 30px;

    .btn.cta {
      margin-bottom: 20px;
    }

    .tab-content {
      h3 {
        a {
          color: #4b4b4b;
          font-size: 100%;
        }
      }

      img {
        margin: 10px 0 30px 0;
      }
    }
  }
}

#magioGoPartners {
  padding: 100px 0;
  background: url(../img/kv_940.png) 50% 50%;
  background-size: cover;
  background-attachment: fixed;

  .text {
    padding: 0 30px;

    @media screen and (max-width: 543px) {
      text-align: center;
      margin-bottom: 40px;
    }

    h4 {
      font-size: 32px;
    }

    p {
      color: #fff;
    }
  }

  .logos {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .logoWrapper {
      margin: 1% 0;
      max-width: 31%;

      @media screen and (max-width: 543px) {
        margin: 1%;
      }

      img {
        max-width: 95%;
      }
    }
  }
}
