<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="hero">
            <div class="headline-wrapper">
                <h2 class="sec__title text-center headline">PREDOBJEDNAJTE SI IPHONE&nbsp;11, <br>
                    11&nbsp;PRO ALEBO 11&nbsp;PRO&nbsp;MAX
                </h2>
                <img class="img" src="../assets/img/ec_20e.png" alt="">
            </div>
            
            <p class="offer">K PAUŠÁLOM ÁNO</p>
        </div>

    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <div class="content clearfix">
            <div class="col-md-6 imgwrapper">
                <div class="data">
                    <img class="device" alt="" src="../assets/img/hardware.png">
                    <a class="ttp" style="cursor: default" href="#">
                        <img class="ttp ec" href="#" id="info-exclusiveoffer" alt="" src="../assets/img/ec_20e.png">
                    </a>
                </div>
            </div>
            <div class="col-md-6 textwrapper">
                <p class="text">
                    <!-- <b class="spacer">Magio internet pre celú domácnosť</b> -->
                    Predobjednajte si nový iPhone 11, 11 Pro alebo Pro Max k&nbsp;paušálom ÁNO a <b>web zľavu až do 20 €.</b>
                    
                </p>
                <p class="legal">Vyplňte, prosím, nasledovné údaje, budeme vás kontaktovať kvôli potvrdeniu
                    predobjednávky.</p>


                <div class="contact-form-wrapper">
                    <form id="contact-form">

                        <div class="form-group useremail">
                            <label for="useremail" class="input-label">Váš email</label>
                            <input id="useremail" class="input" type="email" name="useremail" />
                        </div>

                        <div class="form-group phoneNum">
                            <label for="phoneNum" class="input-label">Vaše kontaktné telefónne číslo</label>
                            <input id="phoneNum" class="input" type="text" name="phoneNum" maxlength="13" />
                        </div>

                        <div class="form-group checkb">
                            <input class="termscheck" id="termscheck" type="checkbox" name="termscheck">
                            <label for="termscheck">Odoslaním formulára súhlasím s&nbsp;<a href="#"
                                    onclick="event.preventDefault(); $('.termstext').toggle('slow')">Podmienkami</a></label>
                            <p class="termstext" style="font-size: 12px; display: none;">
                                Odoslaním formulára súhlasím, aby ma spoločnosť Slovak Telekom, a.s.
                                kontaktovala s detailnou
                                ponukou produktov a služieb, o ktoré som týmto prejavil(a) záujem, a to
                                telefonicky, prípadne
                                SMS alebo MMS na mnou uvedené telefónne číslo. Potvrdzujem, že som používateľom
                                uvedeného
                                telefónneho čísla a mnou poskytnuté údaje nie sú údajmi tretích osôb. Viac
                                informácií o ochrane
                                osobných údajov nájdete <a style="font-size: 12px"
                                    href="https://www.telekom.sk/wiki/ostatne/osobne-udaje-zakaznik"
                                    target="_blank">tu</a>.
                            </p>
                        </div>

                        <a href="#" class="btn cta sendfrm">PREDOBJEDNAŤ</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>



<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/validations.js"></script>
<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>