<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title"><b>ZÁZRAČNÉ&nbsp;AKCIE</b></h1>
        </div>
    </div>
</section>

<section class="section sec-1">
    <div class="container-fixed">
        <div class="select-cont">
            <p class="p-title">Vyberte si jedno zo zariadení za výhodnú cenu <b>ku všetkým paušálom ÁNO</b>.</p>
            <div id="nav-sticky-new">
                <ul>
                    <li class="btn select active">S PAUŠÁLMI ÁNO</li>
                    <!-- <li class="btn select">S PEVNÝMI SLUŽBAMI</li> -->
                </ul>
            </div>
        </div>
        <div class="actions-cont">
            <div class="items-cont cont-1">
                <div class="left-cont">
                    <!--
                    <h2><b>PREKONALI SME DÁTOVÝ STROP!</b></h2>
                    <p class="m-b-0">Vezmite si paušál ÁNO L alebo vyšší a <b>užívajte si navýšený objem dát</b>:</p>
                    <div class="container">
                        <div class="row">
                            <div class="float-left">ÁNO L:</div>
                            <div class="float-right"><span class="old-price">4 GB</span> 10 GB</div>
                        </div>
                        <div class="row">
                            <div class="float-left">ÁNO XL:</div>
                            <div class="float-right"><span class="old-price">10 GB</span> 20 GB</div>
                        </div>
                        <div class="row">
                            <div class="float-left">ÁNO XXL:</div>
                            <div class="float-right"><span class="old-price">20 GB</span> 30 GB</div>
                        </div>
                    </div>
                    -->
                    <div class="how-get-action">
                        <p><b>Ako získať zariadenie zo zázračnej ponuky?</b></p>
                        <div>
                            <ol>
                                <li>Vyberte si jedno zo zariadení z akcií.</li>
                                <li>Kliknite na PRESKÚMAŤ TÚTO AKCIU, kde zistíte viac info o akcii.</li>
                                <li>Prejdite k nákupu vybraného zariadenia, ku ktorému si zvolíte aj ľubovoľný paušál ÁNO.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="right-cont">
                    <div class="column">
                        <div class="item item-2">
                            <img src="../assets/img/tablet.jpg" />
                            <p class="item-title"><b>Mobil Huawei P20 Lite +<br>tablet ako darček len za 0,04 €</b></p>
                            <p>Mobil s Full HD displejom a tablet s brilantným dizajnom.</p>
                            <p class="on-web">od 5 € mesačne</p>
                            <p class="old-price">k paušálom ÁNO</p>
                            <a class="btn cta_mag redirect" href="/zazraky/vianoce/volania/huawei-p20-lite-s-huawei-media-pad">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                                <img class="pos-abs ico-kur" src="../assets/img/ico-kur.png" />
                            </div>
                        </div>
                        <div class="item item-4">
                            <img src="../assets/img/tv_samsung.jpg" />
                            <p class="item-title"><b>Samsung 4K televízor 49“/123 cm<br>UE49NU7172UXXH</b></p>
                            <p>Ultra HD televízor s plnými farbami a ostrými detailami pre dokonalý zážitok.</p>
                            <p class="on-web">už od 7 € mesačne</p>
                            <p class="old-price">k paušálom ÁNO</p>
                            <a class="btn cta_mag redirect" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=l&zariadenie=samsung_ue49nu7172uxxh">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                                <img class="pos-abs ico-kur" src="../assets/img/ico-kur.png" />
                            </div>
                        </div>                                                
                        <div class="item item-7 item-vypredane">
                            <img src="../assets/img/huawei_dvojicky.png" />
                            <p class="item-title"><b>Mobil Huawei P20 lite + mobil Huawei Y6 ako darček len za 0,04€</b></p>
                            <p>Dvojica Huawei mobilov s ohromujúcim rozlíšením a jednoduchým odomykaním tvárou.</p>
                            <p class="on-web">od 5 € mesačne</p>
                            <p class="old-price">k paušálom ÁNO</p>
                            <a class="btn cta_mag" href="/zazraky/vianoce/volania/huawei-p20-lite-s-huawei-Y6-2018">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                                <img class="pos-abs ico-kur" src="../assets/img/ico-kur.png" />
                            </div>
                            <div><img class="vypredane-img" src="../assets/img/vypredane.png" /></div>
                            <div class="vypredane"><!-- desc --></div>
                        </div>

                        <!--
                        <div class="item item-3">
                            <img src="../assets/img/bonus_2gb.jpg" />
                            <p class="item-title"><b>Zázračný bonus 2 GB dát mesačne na dobu 24 mesiacov získate zadarmo k paušálom ÁNO L, XL a XXL</b></p>
                            <div class="tip">Bonus 2 GB dát vám bude automaticky aktivovaný v nákupnom košíku</div>
                        </div>
                        -->
                    </div>
                    <div class="column">
                        <div class="item item-5">
                            <img src="../assets/img/sony.jpg" />
                            <p class="item-title"><b>Sony Playstation 4, dva ovládače,<br>tri hry a členská karta</b></p>
                            <p>Zažite zázračné chvíle plné hry s touto výkonnou konzolou vo výhodnom balíku.</p>
                            <p class="on-web">od 4 € mesačne</p>
                            <p class="old-price">k paušálom ÁNO</p>
                            <a class="btn cta_mag redirect" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw/playstation_4_3hry_2ovladac">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                                <img class="pos-abs ico-kur" src="../assets/img/ico-kur.png" />
                            </div>
                        </div>
                        <!--                        
                        <div class="item item-4 item-vypredane">
                            <img src="../assets/img/tv_sony.png" />
                            <p class="item-title"><b>Smart TV Sony 50“/126cm<br>KDL50WF665B</b></p>
                            <p>Smart Full HD televízor s vysokým dynamickým rozsahom a technológiou X-Reality™ PRO.</p>
                            <p class="on-web">od 7 € mesačne</p>
                            <p class="old-price">k paušálom ÁNO</p>
                            <a class="btn cta_mag" href="#">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                                <img class="pos-abs ico-kur" src="../assets/img/ico-kur.png" />
                            </div>
                            <div><img class="vypredane-img" src="../assets/img/vypredane.png" /></div>
                            <div class="vypredane"></div>
                        </div>
                        -->
                        <!--
                        <div class="item item-6">
                            <h2><b>DVA MESIACE BEZ MÍŇANIA DÁT</b></h2>
                            <h3>S DARČEKOM STREAMON</h3>
                            <p>Pozerajte videá a počúvajte hudbu cez vybrané aplikácie bez míňania svojich dát. <b>Balík StreamOn na 2 mesiace zadarmo.</b></p>
                            <a class="redirect" href="/zazraky/vianoce/volania/stream-on">Viac info o StreamOn</a>
                            <a class="btn btn_mag-outline" href="https://telekomsk.page.link/streamon_vianoce_web">AKTIVOVAŤ STREAMON</a>
                        </div>
                        -->
                        <div class="item item-1 item-vypredane">
                            <img class="only-mobile" src="../assets/img/roomba.jpg" />
                            <p class="item-title"><b>Robotický vysávač iRobot Roomba 965</b></p>
                            <p>Dajte si domácnosť do poriadku bez námahy s inteligentným robotickým vysávačom iRobot Roomba 965 za zázračnú cenu.</p>
                            <p class="on-web">od 7 € mesačne</p>
                            <p class="old-price">k paušálom ÁNO</p>
                            <a class="btn cta_mag" href="#">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                                <img class="pos-abs ico-kur" src="../assets/img/ico-kur.png" />
                            </div>
                            <div><img class="vypredane-img" src="../assets/img/vypredane.png" /></div>
                            <div class="vypredane"><!-- desc --></div>
                        </div>                        
                        <div class="item item-8">
                            <h2>PREKONALI SME PRE VÁS</h2>
                            <h3><b>DÁTOVÝ STROP!</b></h3>
                            <p>Vezmite si k novému zariadeniu paušál ÁNO L alebo vyšší a <b>užívajte si navýšený objem dát:</b></p>
                            <div class="container">
                                <div class="row">
                                    <div class="float-left">ÁNO L:</div>
                                    <div class="float-right"><span class="old-price">4 GB</span> <b>10 GB</b></div>
                                </div>
                                <div class="row">
                                    <div class="float-left">ÁNO XL:</div>
                                    <div class="float-right"><span class="old-price">10 GB</span> <b>20 GB</b></div>
                                </div>
                                <div class="row">
                                    <div class="float-left">ÁNO XXL:</div>
                                    <div class="float-right"><span class="old-price">20 GB</span> <b>30 GB</b></div>
                                </div>
                            </div>
                            <a class="btn cta_mag redirect" href="/volania/pausal#module-plan-chooser">PRESKÚMAŤ PAUŠÁLY ÁNO</a>
                        </div>

                    </div>
                    <!--
                    <div class="datovy-strop">
                        <div class="ds-cont">
                            <div class="ds-text">
                                <h2>PREKONALI SME PRE VÁS<br>
                                    <b>DÁTOVÝ STROP!</b>
                                </h2>
                                <p>Vezmite si k novému zariadeniu paušál ÁNO L alebo vyšší a <b>užívajte si navýšený objem dát:</b></p>
                                <div class="container">
                                    <div class="row">
                                        <div class="float-left">ÁNO L:</div>
                                        <div class="float-right"><span class="old-price">4 GB</span> <b>10 GB</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="float-left">ÁNO XL:</div>
                                        <div class="float-right"><span class="old-price">10 GB</span> <b>20 GB</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="float-left">ÁNO XXL:</div>
                                        <div class="float-right"><span class="old-price">20 GB</span> <b>30 GB</b></div>
                                    </div>
                                </div>
                                <div>
                                    <a class="btn cta_mag redirect" href="/volania/pausal#module-plan-chooser">PRESKÚMAŤ PAUŠÁLY ÁNO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="items-cont cont-2" style="display:none;">
                <div class="left-cont">
                    <div class="how-get-action">
                        <p><b>Ako získať zariadenie z vianočnej ponuky?</b></p>
                        <div>
                            <ol>
                                <li>Vyberte si jedno zo zariadení z vianočných akcií.</li>
                                <li>Kliknite na PRESKÚMAŤ TÚTO AKCIU, kde zistíte viac info o vianočnej akcii.</li>
                                <li>Prejdite k nákupu vybraného zariadenia, ku ktorému si zvolíte aj Magio intrnet, Magio televíziu a/alebo Pevnú linku L alebo XL.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="right-cont">
                    <div class="column">
                        <div class="item item-3">
                            <img src="../assets/img/ntbk.jpg" />
                            <p class="item-title"><b>Notebook Lenovo IdeaPad 330-15IGM</b></p>
                            <p>Ľahký a spoľahlivý notebook pre každodenné použitie doma aj na cestách.</p>
                            <p class="on-web">už od 10 € mesačne</p>
                            <p class="old-price">k pevným službám</p>
                            <a class="btn cta_mag redirect" href="/zazraky/vianoce/chytry-balik/notebook-lenovo-ideapad-330-15igm">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                            </div>
                        </div>
                        <div class="item item-1 item-vypredane">
                            <img class="only-mobile" src="../assets/img/roomba.jpg" />
                            <p class="item-title"><b>Robotický vysávač iRobot Roomba 965</b></p>
                            <p>Dajte si domácnosť do poriadku bez námahy s inteligentným robotickým vysávačom iRobot Roomba 965 za vianočnú cenu.</p>
                            <p class="on-web">už od 15 € mesačne</p>
                            <p class="old-price">k pevným službám</p>
                            <a class="btn cta_mag">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div><img class="pos-abs" src="../assets/img/ico-web.png" /></div>
                            <div><img class="vypredane-img" src="../assets/img/vypredane.png" /></div>
                            <div class="vypredane"><!-- desc --></div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="item item-5">
                            <img src="../assets/img/sony.jpg" />
                            <p class="item-title"><b>Sony Playstation 4, dva ovládače,<br>tri hry a členská karta</b></p>
                            <p>Zažite zázračné Vianoce plné hry s touto výkonnou konzolou vo výhodnom balíku.</p>
                            <p class="on-web">už od 10 € mesačne</p>
                            <p class="old-price">k pevným službám</p>
                            <a class="btn cta_mag redirect" href="/zazraky/vianoce/chytry-balik/sony-playstation-4">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                            </div>
                        </div>
                        <div class="item item-4 item-vypredane">
                            <img src="../assets/img/tv_samsung.jpg" />
                            <p class="item-title"><b>Samsung 4K televízor 49“/123 cm<br>UE49NU7172UXXH</b></p>
                            <p>Ultra HD televízor s plnými farbami a ostrými detailami pre dokonalý zážitok.</p>
                            <p class="on-web">už od 13 € mesačne</p>
                            <p class="old-price">k pevným službám</p>
                            <a class="btn cta_mag">PRESKÚMAŤ TÚTO AKCIU</a>
                            <div>
                                <img class="pos-abs" src="../assets/img/ico-web.png" />
                            </div>
                            <div><img class="vypredane-img" src="../assets/img/vypredane.png" /></div>
                            <div class="vypredane"><!-- desc --></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
