<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <img class="ec-hero" src="../assets/img/ec-hero.png" alt="">
            <h1 class="hero__title"><b>MAGIO GO TV BOX</b><br/>TELEVÍZIA KDEKOĽVEK</h1>
            <a class="btn cta" href="/televizia/magio-go/magio-go-tv-box/mam-zaujem">MÁM ZÁUJEM</a><br />
            <a href="#sec-1" class="link more-info scroll-to">Pozrieť viac info</a>
        </div>
        <div class="sec__separator sec__separator_mob"></div>
    </div>
</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">ČO JE MAGIO GO TV BOX</a></li>
        <li><a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <li><a class="scroll-to" href="#sec-3">FUNKCIE</a></li>
        <li><a class="scroll-to" href="#sec-4">ZAPOJENIE</a></li>
        <li><a class="scroll-to" href="#sec-5">TECHNICKÁ ŠPECIFIKÁCIA</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="glob-clear">
            <h2 class="sec__title">ČO JE MAGIO GO TV BOX</h2>

            <div class="row item">
                <div class="col-md-4">
                    <img src="../assets/img/ico-1.png" alt="">
                    <p><b>Prenosná internetová televízia</b></p>
                    <p>Magio GO TV BOX vám prináša sledovanie internetovej televízie Magio GO kdekoľvek, aj na veľkej obrazovke – v podnájme, u vás doma či u starých rodičov.</p>
                </div>
                <div class="col-md-4">
                    <img src="../assets/img/ico-2.png" alt="">
                    <p><b>Televízia bez náročnej inštalácie</b></p>
                    <p>Magio GO TV BOX je malé zariadenie. Stačí ho pripojiť k internetu (môžete aj k internetu od iného operátora) a televíznemu prijímaču.</p>
                </div>
                <div class="col-md-4">
                    <img src="../assets/img/ico-3.png" alt="">
                    <p><b>Až 50 TV staníc a jednoduché ovládanie</b></p>
                    <p>Sledovať môžete živé vysielanie obľúbených televíznych staníc alebo vybrané stanice v 7 dňovom archíve. Televíziu ovládate jednoducho diaľkovým ovládačom.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <h2 class="sec__title">SLUŽBY A CENY</h2>
        <p class="sec__desc">Z možností v nižšie uvedenom postupe zvoľte Mám Magio TV. V prípade, že Magio televíziu nevyužívate, zvoľte Nemám Magio TV.</p>


        <div class="tabs-container">
            <div class="tab__holder">
                <ul class="tabs-menu">
                    <li class="variant current" data-variant="1"><a href="#tab-w-go">Mám Magio TV</a></li>
                    <li class="variant" data-variant="2"><a href="#tab-wout-go">Nemám Magio TV</a></li>
                </ul>
            </div>
            <div class="tab">
                <div class="tab-content" id="tab-w-go">
                    <div class="box-pricing">
                        <div class="bp__info-line">
                            <span class="col-md-12">
                                <p class="bp__headline">K Magio GO TV Box-u musíte mať aktivovanú internetovú televíziu Magio GO alebo Magio GO Premium.</p>
                                <p class="bp__info-vat">Uvedené ceny sú s DPH</p>
                            </span>
                            <span class="col-md-12">
                                <p class="bp-more-info"><b>Ak využívate našu Magio TV, službu internetovej televízie Magio GO už máte zadarmo k dispozícii. Pri zapájaní Magio TV GO Boxu ju stačí aktivovať.</b></p>
                            </span>
                        </div>
                        <div class="bp__content">
                            <div class="bp__inner-section">
                                <p class="bpis__title">Magio GO TV Box</p>
                                <div class="gallery clearfix">
                                    <div class="pics clearfix">
                                        <div class="thumbnails">
                                            <div class="preview">
                                                <a href="#" class="selected" data-full="../assets/img/prod-1.png" data-zoom-image="../assets/img/prod-1.png"> <img src="../assets/img/prod-1.png" /> </a>
                                            </div>
                                            <div class="preview">
                                                <a href="#" data-full="../assets/img/prod-3.png" data-zoom-image="../assets/img/prod-3.png">
                                                    <img src="../assets/img/prod-3.png" /> </a>
                                            </div>
                                            <div class="preview">
                                                <a href="#" data-full="../assets/img/prod-4.png" data-zoom-image="../assets/img/prod-4.png">
                                                    <img src="../assets/img/prod-4.png" /> </a>
                                            </div>
                                        </div>
                                        <div class="full__holder">
                                            <img class="full" src="../assets/img/prod-1.png" data-zoom-image="../assets/img/prod-1.png">
                                        </div>
                                        <div class="controlls">
                                           <div class="indicator">
                                               <div class="in__content"></div>
                                           </div>
                                            <div class="control__holder">
                                                <a href="#" class="control-left"><img src="../assets/img/ico-left.png" alt=""> Späť</a>
                                                <p class="img-size">(<span class="current-img"></span>/<span class="all-img"></span>)</p>
                                                <a href="#" class="control-right">Ďalej <img src="../assets/img/ico-right.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp__inner-section">
                                <p class="bpis__title tooltip-4 ttip">+ internetová TV Magio GO</p>
                                <div class="bpis__items">
                                    <p class="bpis__item">zadarmo k vašej Magio TV</p>
                                    <p class="bpis__item"><b>až 50 TV staníc</b></p>
                                    <p class="bpis__item">7-dňový Archív Magio GO</p>
                                    <p class="bpis__item">nahrávanie, pozastavenie a pretočenie obrazu</p>
                                    <p class="bpis__item">rodičovská kontrola programu</p>
                                    <a id="lightbox-archive" href="#info2" class="link lightbox">Zoznam staníc v televízii a v Archíve</a><br />
                                    <a target="_blank" href="http://www.magiogo.sk/">Registrovať a aktivovať Magio GO</a>
                                </div>
                            </div>
                            <div class="bp__inner-section">
                                <p class="choose-method">Vyberte spôsob aktivácie:</p>
                                <form>
                                    <label class="commitment-label"><input id="radio1" class="radio-type1" type="radio" name="commitment" value="1" checked> platba jednorazovo</label>
                                    <br>
                                    <label class="commitment-label"><input id="radio2" class="radio-type1" type="radio" name="commitment" value="2"> platba mesačne</label>
                                </form>
                                <div class="display-price">
                                    <div class="first-row dp-row">
                                        <p>Magio GO TV Box</p>
                                        <div class="pricing-box-text-holder">
                                            <div class="pbth-first-line">
                                                <p id="pricing-action-1" class="action"></p>
                                                <p id="pricing-method-1" class="method-small"></p><p id="price-1" class="dp-price">69,99 €</p>
                                            </div>
                                            <div class="pbth-second-line">
                                                <p id="pricing-method-second-line-1" class="method-small">jednorazovo pri kúpe</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="second-row dp-row">
                                        <p>Magio GO</p>
                                        <div class="pricing-box-text-holder">
                                            <div class="pbth-first-line">
                                                <p id="pricing-action-2" class="action"></p>
                                                <p id="pricing-method-2" class="method-small">mesačne</p><p id="price-2" class="dp-price">0 €</p>
                                            </div>
                                            <div class="pbth-second-line">
                                                <p id="pricing-method-second-line-2" class="method-small">ku ktorejkoľvek Magio televízii</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/televizia/magio-go/magio-go-tv-box/mam-zaujem" class="cta btn buy-go-tv">MÁM ZÁUJEM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="tab-wout-go">
                    <div class="box-pricing">
                        <div class="bp__info-line">
                            <p class="bp__headline">K Magio GO TV Box-u musíte mať aktivovanú internetovú televíziu Magio GO alebo Magio GO Premium.</p>
                            <p class="bp__info-vat">Uvedené ceny sú s DPH</p>
                        </div>
                        <div class="bp__content">
                            <div class="bp__inner-section">
                                <p class="bpis__title">Magio GO TV Box</p>
                                <div class="gallery clearfix">
                                    <div class="pics clearfix">
                                        <div class="thumbnails">
                                            <div class="preview">
                                                <a href="#" class="selected" data-full="../assets/img/prod-1.png" data-zoom-image="../assets/img/prod-1.png"> <img src="../assets/img/prod-1.png" /> </a>
                                            </div>
                                            <div class="preview">
                                                <a href="#" data-full="../assets/img/prod-3.png" data-zoom-image="../assets/img/prod-3.png">
                                                    <img src="../assets/img/prod-3.png" /> </a>
                                            </div>
                                            <div class="preview">
                                                <a href="#" data-full="../assets/img/prod-4.png" data-zoom-image="../assets/img/prod-4.png">
                                                    <img src="../assets/img/prod-4.png" /> </a>
                                            </div>
                                        </div>
                                        <div class="full__holder">
                                            <img class="full" src="../assets/img/prod-1.png" data-zoom-image="../assets/img/prod-1.png">
                                        </div>
                                        <div class="controlls">
                                           <div class="indicator">
                                               <div class="in__content"></div>
                                           </div>
                                            <div class="control__holder">
                                                <a href="#" class="control-left"><img src="../assets/img/ico-left.png" alt=""> Späť</a>
                                                <p class="img-size">(<span class="current-img"></span>/<span class="all-img"></span>)</p>
                                                <a href="#" class="control-right">Ďalej <img src="../assets/img/ico-right.png" alt=""></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp__inner-section">
                                <p class="bpis__title">+ internetová TV Magio GO</p>
                                <label class="select-label" for="selectType">Vyberte si typ Magio GO</label>
                                <select id="selectType">
                                    <option value="select1">Magio GO Premium – 5,99 € | mes.</option>
                                    <option value="select2">Magio GO – 3,99 € | mes.</option>
                                </select>
                                <div class="bpis__items">
                                    <p class="bpis__item"><b id="feature1">50 TV staníc</b></p>
                                    <p id="feature2" class="bpis__item">7-dňový Archív Magio GO Premium</p>
                                    <p class="bpis__item">nahrávanie, pozastavenie a pretočenie obrazu</p>
                                    <p class="bpis__item">rodičovská kontrola programu</p>
                                    <a id="lightbox-archive-go-premium" href="#info3" class="link lightbox">Zoznam staníc v televízii a v Archíve</a>
                                    <a id="lightbox-archive-go" href="#info2" class="link lightbox" style="display: none;">Zoznam staníc v televízii a v Archíve</a>
                                </div>
                            </div>
                            <div class="bp__inner-section">
                                <p class="choose-method">Vyberte spôsob aktivácie:</p>
                                <form>
                                    <label class="commitment-label"><input id="radio3" class="radio-type2" type="radio" name="commitment" value="1" checked> platba jednorazovo</label>
                                    <br>
                                    <label class="commitment-label"><input id="radio4" class="radio-type2" type="radio" name="commitment" value="2"> platba mesačne</label>
                                </form>
                                <div class="display-price">
                                    <div class="first-row dp-row">
                                        <p>Magio GO TV Box</p>
                                        <div class="pricing-box-text-holder">
                                            <div class="pbth-first-line">
                                                <p id="pricing-action-3" class="action">Zvýhodnená cena k Magio TV</p>
                                                <p id="pricing-method-3" class="method-small">jednorazovo</p><p id="price-3" class="dp-price">29,90 €</p>
                                            </div>
                                            <div class="pbth-second-line">
                                                <p id="pricing-method-second-line-3" class="method-small"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="second-row dp-row">
                                        <p id="magio-go-type">Magio GO Premium</p>
                                        <div class="pricing-box-text-holder">
                                            <div class="pbth-first-line">
                                                <p id="pricing-action-4" class="action"></p>
                                                <p id="pricing-method-4" class="method-small">mesačne</p><p id="price-4" class="dp-price">5,99 €</p>
                                            </div>
                                            <div class="pbth-second-line">
                                                <p id="pricing-method-second-line-4" class="method-small"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="cta btn buy-go-tv">MÁM ZÁUJEM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="sec-3" class="section sec-3">
    <div class="container-fixed">
        <div class="glob-clear">
            <h2 class="sec__title">FUNKCIE MAGIO GO TV BOXU</h2>

            <div class="tabs-container">
                <div class="tab__holder">
                    <ul class="tabs-menu">
                        <li class="variant current" data-variant="1"><a href="#tab-1">50 TV staníc</a></li>
                        <li class="variant" data-variant="2"><a href="#tab-2">Sprievodca</a></li>
                        <li class="variant" data-variant="3"><a href="#tab-3">Archív</a></li>
                        <li class="variant" data-variant="4"><a href="#tab-4">Nahrávanie</a></li>
                        <li class="variant" data-variant="5"><a href="#tab-5">Ďalšie funkcie</a></li>
                    </ul>
                </div>
                <div class="tab">
                    <div class="tab-content" id="tab-1">
                        <div class="row">
                            <div class="col-md-5">
                                <p><b>Až 50 televíznych staníc naživo</b></p>
                                <p>S Magio GO TV BOXom môžete získať až <span class="tooltip-3 ttip">50 televíznych staníc</span>.
                                    <br/> Sledujte množstvo slovenských a českých programov, dokumentov, spravodajské vysielania, filmy či detské programy.</p>
                                <a href="#info1" class="link lightbox">Pozrieť TV stanice</a>
                            </div>
                            <div class="col-md-7 func__img-holder">
                                <img src="../assets/img/func-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab-2">
                        <div class="row">
                            <div class="col-md-5">
                                <p><b>Prehľadný programový sprievodca</b></p>
                                <p>K svojim obľúbeným TV staniciam, budúcemu programu živého vysielania alebo do archívu sa dostanete vďaka prehľadnému programovému sprievodcovi, v ktorom sa pohybujete jednoducho diaľkovým ovládačom.</p>
                            </div>
                            <div class="col-md-7 func__img-holder">
                                <img src="../assets/img/func-2.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab-3">
                        <div class="row">
                            <div class="col-md-5">
                                <p><b>7 dňový archív</b></p>
                                <p>Už vám neutečie žiadny obľúbený program. S archívom si pustíte vysielanie 20 TV staníc až 7 dní dozadu. Navyše môžete obraz pretočiť a sledovať ho tak bez reklám.</p>
                                <a href="#info2" class="link lightbox">Pozrieť TV stanice, ktoré sú v archíve Magio GO</a><br/>
                                <a href="#info3" class="link lightbox">Pozrieť TV stanice, ktoré sú v archíve Magio Go Premium</a>
                            </div>
                            <div class="col-md-7 func__img-holder">
                                <img src="../assets/img/func-3.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab-4">
                        <div class="row">
                            <div class="col-md-5">
                                <p><b>Nahrávanie a spravovanie nahrávok</b></p>
                                <p>Vytvoriť sa dá až 10 hodín nahrávok v rámci Magio GO účtu. Môžete sledovať či vymazať aj nahrávky vytvorené na inom zaregistrovanom zariadení vášho Magio GO účtu.</p>
                            </div>
                            <div class="col-md-7 func__img-holder">
                                <img src="../assets/img/func-4.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" id="tab-5">
                        <div class="row">
                            <div class="col-md-5">
                                <p><b>Ďalšie praktické funkcie</b></p>
                                <p>Využite aj ďalšie praktické funkcie:</p>
                                <p><img src="../assets/img/ico-pipe.png" alt=""> pretáčanie a zastavenie obrazu počas živého vysielania aj archívu,</p>
                                <p><img src="../assets/img/ico-pipe.png" alt=""> nastavenie poradia obľúbených TV staníc,</p>
                                <p><img src="../assets/img/ico-pipe.png" alt=""> možnosť nastaviť rodičovskú kontrolu programu,</p>
                                <p><img src="../assets/img/ico-pipe.png" alt=""> nastavenie slovenského alebo anglického jazyka</p>
                                <p>a mnoho ďalších.</p>
                            </div>
                            <div class="col-md-7 func__img-holder">
                                <img src="../assets/img/func-5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-4" class="section sec-4">
    <div class="container-fixed">
        <div class="glob-clear">
            <h2 class="sec__title">ZAPOJENIE MAGIO GO TV BOXU</h2>

            <div class="connection-instructions">
                <div class="instruction">
                    <div class="instruction-text">
                        <p class="instruction-title">Aktivácia internetovej TV Magio GO</p>
                        <p class="instruction-detail">Pre využívanie Magio GO TV Box-u musite mať aktivovanú internetovú televíziu Magio GO, ktora sa aktivuje registráciou na <a target="_blank" href="http://www.magiogo.sk">www.magiogo.sk</a><br />Ak už máte televíziu Magio GO aktivovanú, zapojte Magio GO TV Box podľa nasledujúceho návodu.</p>
                    </div>
                </div>

                <div class="instruction instruction-w-img">
                    <div class="instruction-text">
                        <p class="instruction-title">Pripojenie zariadenia</p>
                        <p class="instruction-detail">Magio GO TV Box pripojte do elektrickej zásuvky a k TV prijímaču alebo monitoru.</p>
                    </div>
                    <div class="instruction-img">
                        <img src="../assets/img/ico-4.png" alt="">
                    </div>
                </div>

                <div class="instruction instruction-w-img">
                    <div class="instruction-text">
                        <p class="instruction-title">Pripojenie k internetu</p>
                        <p class="instruction-detail">Zvoľte si Wi-Fi alebo pripojenie cez ethernetový kábel. Odporúčaná rýchlosť vášho pripojenia je 3 Mbit/s.</p>
                    </div>
                    <div class="instruction-img">
                        <img src="../assets/img/ico-5.png" alt="">
                    </div>
                </div>

                <div class="instruction instruction-w-img">
                    <div class="instruction-text">
                        <p class="instruction-title">Sledovanie obľúbených programov</p>
                        <p class="instruction-detail">Sledujte televízne stanice naživo alebo v 7-dňovom archíve. Televíziu pohodlne ovládate diaľkovým ovládačom.</p>
                    </div>
                    <div class="instruction-img">
                        <img src="../assets/img/ico-6.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-5" class="section sec-5">
    <div class="container-fixed">
        <h2 class="sec__title">TECHNICKÁ ŠPECIFIKÁCIA</h2>

        <table class="spec-table">
            <tr class="spec-head">
                <th colspan="2">Základné parametre</th>
            </tr>
            <tr>
                <td>Internetové pripojenie:</td>
                <td>Wi-Fi alebo kábel (ethernet – RJ45)</td>
            </tr>
            <tr>
                <td>Výstup:</td>
                <td>USB 2.0, AV Out</td>
            </tr>
            <tr>
                <td>Rozmery boxu:</td>
                <td>100 x 100 x 20 mm</td>
            </tr>
            <tr>
                <td>Farba:</td>
                <td>čierna</td>
            </tr>
        </table>


        <table class="spec-table">
            <tr class="spec-head">
                <th>Obsah balenia</th>
            </tr>
            <tr>
                <td>Magio GO TV Box</td>
            </tr>
            <tr>
                <td>Externý adaptér 12V, 1A</td>
            </tr>
            <tr>
                <td>Diaľkový ovládač vrátane AAA batérií</td>
            </tr>
            <tr>
                <td>HDMI kábel 1.4</td>
            </tr>
        </table>

        <a href="/wiki/zariadenia/magio-go-tv-box">Ďalšie informácie nájdete vo wiki</a>

        <div class="row">
            <div class="col-md-12 buy-area">
                <a href="/televizia/magio-go/magio-go-tv-box/mam-zaujem" class="cta btn">MÁM ZÁUJEM O MAGIO GO TV BOX</a>
            </div>
        </div>
    </div>
</section>


<div id="info1" class="mgo-lightbox" style="display: none;">
    <div class="p-head"><a href="#" class="p-close"></a></div>
        <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_GO_PREMIUM"></div>
    <div class="p-content"></div>
</div>

<div id="info2" class="mgo-lightbox" style="display: none;">
    <div class="p-head"><a href="#" class="p-close"></a></div>
        <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_GO_ARCHIV"></div>
    <div class="p-content"></div>
</div>

<div id="info3" class="mgo-lightbox" style="display: none;">
    <div class="p-head"><a href="#" class="p-close"></a></div>
        <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_GO_ARCHIV_M"></div>
    <div class="p-content"></div>
</div>

<script type="text/javascript" src="../assets/js/zoom.js"></script>
<script type="text/javascript" src="../assets/js/pricing.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
