<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.jpg" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.jpg" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.jpg" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.jpg" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
						<p class="bpis__title">
							Huawei P30</p>
						<div class="box-device">
							<p class="pricing__title">
								Zobraziť ceny:</p>
							<select id="heap">
								<option value="S">s paušálom ÁNO S</option>
								<option value="M_DATA">s paušálom ÁNO M Dáta</option>
								<option value="M">s paušálom ÁNO M</option>
								<option value="L">s paušálom ÁNO L</option>
								<option value="XL">s paušálom ÁNO XL</option>
								<option value="XXL">s paušálom ÁNO XXL</option>
							</select>
							<table class="pricing-table">
								<tbody>
									<tr class="inner-head no-margin">
										<th colspan="2">
											Mesačne:</th>
									</tr>
									<tr class="no-margin">
										<td>
											Za paušál:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyFeeService" class="feePrice">70,00 €</span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Mesačná splátka za mobil:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthylFeeWithMob" class="feePrice">1,00 €</span>
										</td>
									</tr>
									<tr class="one-time-payment">
										<td>
											Mesačná splátka s Magenta 1:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyMagenta1fee" class="feePrice">1,00 €</span>
										</td>
									</tr>
									<!-- <tr class="no-margin text-green">
													<td>
														<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
													<td>
														<span class="feePrice">-5,00 €</span></td>
												</tr>
												<tr class="no-margin">
													<td>
														Doplatok k službe</td>
													<td>
														9,00 €</td>
												</tr> -->
									<tr class="inner-head no-margin">
										<th colspan="2">Jednorazovo pri kúpe:</th>
									</tr>
									<tr class="one-time-payment"> 
										<td>
											Akontácia pre členov Magenta 1:</td>
										<td>
											<span id="magentaPrice" class="oneTimeFee">1,00 €</span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Bežná akontácia:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="regularPrice" class="feePrice" style="text-decoration: line-through;">29,00 €</span>
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" href="/magenta1/zvyhodneny-telefon/huawei-p30/mam-zaujem">CHCEM HUAWEI SO ZĽAVOU</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Prekonaj limity fotografie</p>
								<p class="feat-desc">
									Jasnejšie, širšie a bližšie. Pozri sa na svet z novej perspektívy. Objav nevídané prekvapenia a premeň ich na cenné spomienky.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Potešenie z farby</p>
								<p class="feat-desc">
									Inšpirovaný zázračnou oblohou, HUAWEI P30 odráža ohromujúcu farbu svetla a priestoru. Staň sa svedkom ružového svitania, popoludňajšieho neba, tajomnej polárnej žiary a temnoty noci.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Odváž sa zapôsobiť</p>
								<p class="feat-desc">
									Systém trojitého fotoaparátu Leica ti umožní cez fotografiu vidieť svet v plnej kráse. Tento systém so 40 Mpx Super Sensing fotoaparátom, 16 Mpx ultra širokouhlým objektívom a 8 Mpx teleobjektívom ti dá slobodu zachytiť poklad a krásu sveta.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Bližšie veciam, ktoré milujete</p>
								<p class="feat-desc">
									HUAWEI P30 ponúka 5-násobný hybridný zoom, ktorý ti umožní zachytiť nevídané zábery vo vysokom rozlíšení a s bohatými detailmi. Zaostri na malý maják v diaľke a prenes ho až priamo pred svoje oči.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Chytí pre teba mesiac</p>
								<p class="feat-desc">
									S až 30-násobným digitálnym zoomom dokáže HUAWEI P30 uloviť napríklad aj mesiac. Nechaj sa uniesť romantickou žiarou mesiaca a kochaj sa jeho ostrosťou.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.jpg" /></div>
					</div>
				
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> -->
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<div class="detailed-specification" style=""> <table class="tbl double"> <thead> <tr> <th colspan="2">Všeobecné parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Váha </div> </td> <td class="paramValue"> 165 g </td> </tr> <tr> <td> <div> Rozmery (výška x šírka x hrúbka) </div> </td> <td class="paramValue"> 149,1 x 71,4 x 7,6 mm </td> </tr> <tr> <th colspan="2">Displej</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Uhlopriečka </div> </td> <td class="paramValue"> 6.1" </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Rozlíšenie </div> </td> <td class="paramValue"> 2340 x 1080 </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Typ displeja </div> </td> <td class="paramValue"> OLED </td> </tr> <tr> <td> <div> Farba </div> </td> <td class="paramValue"> Modrá </td> </tr> <tr> <td> <div> Zhotovenie krytov telefónu </div> </td> <td class="paramValue"> sklo/kov </td> </tr> <tr> <td> <div> SAR (vyžarovanie zariadenia) </div> </td> <td class="paramValue"> výrobca neuvádza </td> </tr> <tr> <td> <div> Typ SIM karty </div> </td> <td class="paramValue"> Nano SIM </td> </tr> <tr> <td> <div> Dual SIM </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Typ </div> </td> <td class="paramValue"> dotykový </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Technické parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Procesor </div> </td> <td class="paramValue"> HiSilicon Kirin 980 </td> </tr> <tr> <td> <div> Operačná pamäť </div> </td> <td class="paramValue"> 6 GB </td> </tr> <tr> <td> <div> Celková zdieľaná interná pamäť </div> </td> <td class="paramValue"> 128 GB </td> </tr> <tr> <td> <div> Podporovaná pamäťová karta </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Operačný systém </div> </td> <td class="paramValue"> Android </td> </tr> <tr> <td> <div> Verzia OS </div> </td> <td class="paramValue"> Android 9 + EMUI 9.0 </td> </tr> <tr> <th colspan="2">Batéria</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Štandardná batéria </div> </td> <td class="paramValue"> 3650 mAh </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Pohotovostný režim </div> </td> <td class="paramValue"> výrobca neuvádza </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Telefonovanie, funkcie a multimédiá</th> </tr> </thead> <tbody> <tr> <td> <div> Funkcie telefonovania </div> </td> <td class="paramValue"> hlasné handsfree, viacpoložkový zoznam, a.i. </td> </tr> <tr> <td> <div> SMS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> MMS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> VoLTE - volania cez 4G </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> HD hlas (AMR-WB kodek) </div> </td> <td class="paramValue"> áno/áno </td> </tr> <tr> <td> <div> Prehliadač dokumentov </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> E-mail klient </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Kancelária </div> </td> <td class="paramValue"> Veľkosť fontu, režim V lietadle, Budík, kalkulačka, kalendár, kontakty, Inteligentný čistič pamäte, Poznámky, Stopky, Časovač, Počasie, a.i. </td> </tr> <tr> <td> <div> Organizácia času </div> </td> <td class="paramValue"> budík, kalendár, poznámky, úlohy, svetový čas, Sprievodca nastavením </td> </tr> <tr> <td> <div> MP3 prehrávač </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <th colspan="2">Fotoaparát</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Rozlíšenie fotoaparátu </div> </td> <td class="paramValue"> 40 Mpix + 16 Mpix + 8 Mpix </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Duálny fotoaparát </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Blesk hlavného fotoaparátu </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> LED </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Nahrávanie videa </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> (až do 4K) </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Vedľajší fotoaparát </div> </td> <td class="paramValue"> 32 Mpx </td> </tr> <tr> <td> <div> FM rádio </div> </td> <td class="paramValue"> <i class="fa fa-times"></i> </td> </tr> <tr> <td> <div> GPS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Audio konektor </div> </td> <td class="paramValue"> 3,5 mm jack </td> </tr> <tr> <td> <div> Podporované formáty hudobných súborov </div> </td> <td class="paramValue"> MP3, MP4, 4GP, OGG, AMR, AAC, FLAC, WAV, MIDI </td> </tr> <tr> <td> <div> Podporované formáty video súborov </div> </td> <td class="paramValue"> 3GP, MP4 </td> </tr> <tr> <td> <div> Snímače </div> </td> <td class="paramValue"> Snímač odtlačkov prstov, snímač gravitácie, kompas, snímač okolitého osvetlenia, snímač priblíženia, gyroskop, snímač teploty farieb, infračervený snímač, laserový snímač, Hallov snímač </td> </tr> <tr> <td> <div> Ďalšie funkcie </div> </td> <td class="paramValue"> EMUI 9.0, IP53 </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Iné</th> </tr> </thead> <tbody> <tr> <td> <div> Obsah balenia </div> </td> <td class="paramValue"> telefón, nabíjačka, dátový kábel, slúchadlá s mikrofónom, nástroj na vytiahnutie SIM karty, ochranná fólia (nalepená na displeji) a užívateľská príručka </td> </tr> </tbody> </table> </div>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
			<div style="margin: 0 2.6% 20px 2.6%; float: left">
				<p style="font-size: 14px;">* Batéria musí byť takmer vybitá, pretože čím viac je nabitá, tým pomalšie sa dobíja. Všetky tvrdenia o výdrži batérie uvádzajú približné hodnoty a vychádzajú z profilu kom-binovaného používania za optimálnych sieťových podmienok, ktorý zahŕňa čas používa-nia aj pohotovostný čas. Skutočný výkon batérie sa bude líšiť v závislosti od mnohých faktorov vrátane intenzity signálu, konfigurácie siete, veku batérie, prevádzkovej teploty, zvolených funkcií, nastavení zariadenia a spôsobu používania hlasových, dátových a iných aplikácií.</p>
			</div>			
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
