<div class="slider">
    <ul class="bxslider">
        <li>
            <div class="bxslider__content__wrapper">
                <div class="bxslider__content">
                    <div class="magenta-squares__holder">
                        <div class="magenta-squares_right">
                            <div class="magenta-squares">
                                <h2 class="bxslider__title"><b>PROFESIONÁLNY SERVIS</b><br />MOBILOV A TABLETOV NA POČKANIE</h2>
                                <p class="bxslider__desc">v kioskoch Pôjdeto</p>
                            </div>
                        </div>
                        <div class="magenta-squares_bottom"></div>
                    </div>
                    <a href="https://pojdeto.sk/opravy-a-servis" class="button">viac info</a>
                </div>
            </div>
            <img alt='' data-src-base='https://www.telekom.sk/documents/10179/609908/' data-src='<767:mobile_1.jpg,<1280:tablet_1.jpg,>1280:desktop_1.jpg' />
            <noscript><img alt='' src='https://www.telekom.sk/documents/10179/609908/desktop_1.jpg' /></noscript>
        </li>
        <li>
            <div class="bxslider__content__wrapper">
                <div class="bxslider__content">
                    <div class="magenta-squares__holder">
                        <div class="magenta-squares_right">
                            <div class="magenta-squares">
                                <h2 class="bxslider__title">SI EXPERT NA KAZENIE ZARIADENÍ?<br /><b>MY TI TO OPRAVÍME!</b></h2>
                                <p class="bxslider__desc">Všetky problémy tvojho telefónu, tabletu či notebooku vyriešia skúsení experti v Pôjdeto!</p>
                            </div>
                        </div>
                        <div class="magenta-squares_bottom"></div>
                    </div>
                    <a href="https://pojdeto.sk/" class="button">viac info</a>
                </div>
            </div>
            <img alt='' data-src-base='https://www.telekom.sk/documents/10179/609908/' data-src='<767:mobile_2.jpg,<1280:tablet_2.jpg,>1280:desktop_2.jpg' />
            <noscript><img alt='' src='https://www.telekom.sk/documents/10179/609908/desktop_2.jpg' /></noscript>
        </li>
        <li>
            <div class="bxslider__content__wrapper">
                <div class="bxslider__content">
                    <div class="magenta-squares__holder magenta-squares_large">
                        <div class="magenta-squares_right">
                            <div class="magenta-squares">
                                <h2 class="bxslider__title"><b>VYČISTÍME VÁŠ POČÍTAČ</b><br />OD VÍRUSOV A MALWARE</h2>
                            </div>
                        </div>
                        <div class="magenta-squares_bottom"></div>
                    </div>
                    <a href="https://pojdeto.sk/sluzba/pocitac/odstranenie-virusov-malware" class="button">viac info</a>
                </div>
            </div>
            <img alt='' data-src-base='https://www.telekom.sk/documents/10179/609908/' data-src='<767:mobile_3.jpg,<1280:tablet_3.jpg,>1280:desktop_3.jpg' />
            <noscript><img alt='' src='https://www.telekom.sk/documents/10179/609908/desktop_3.jpg' /></noscript>
        </li>
    </ul>

    <div class="bx-controls-direction">
        <div class="bx-controls-inner">
            <div class="slider-prev control-button"></div>
            <div class="slider-next control-button"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.telekom.sk/documents/10179/609908/responsive-img.min.js" async></script>
<script type="text/javascript" src="https://www.telekom.sk/documents/10179/609908/bxslider.min.js"></script>
<script type="text/javascript" src="https://www.telekom.sk/documents/10179/609908/main.js"></script>

