<meta charset="utf-8" />
<style type="text/css">
body {
    margin: 0
}

.obalka {
    max-width: 940px;
    margin: auto;
    padding-bottom: 2%;
}

@media (max-width: 1000px) {
    .obalka {
        padding: 0px 30px;
    }
}

img {
    max-width: 100%
}

h1 {
    color: #e20074 !important;
    font-size: 34px !important;
    border-bottom: 0 !important;
    text-transform: uppercase;
    margin: 0 !important
}

.pozadie0 {
    background: url(/image/journal/article?img_id=218981&t=1432033311150) center no-repeat;
}

.pozadie1 {
    background: #fff;
    padding: 40px 0;
}

.velkyNadpis {
    text-align: center;
    color: #e20074 !important;
    font-size: 32px !important;
    border-bottom: 0 !important;
    text-transform: uppercase;
}

.jedna4 {
    width: 25%;
    box-sizing: border-box;
    padding: 10px;
    float: left;
}

@media(max-width: 800px) {
    .jedna4 {
        width: 50%;
    }
}

@media(max-width: 500px) {
    .jedna4 {
        width: 100%;
    }
}

.velkyNadpis.sivy {
    color: #4b4b4b !important
}

hr {
    height: 1px;
    border: 0;
    color: #d0d0d0 !important;
    background-color: #d0d0d0 !important;
}

.jedna3 {
    max-width: 32.8%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0px 14px;
}

.jedna3.stred {
    padding: 0px 2%;
}

.tac {
    text-align: center !important;
}

img.tac {
    display: block;
    margin: auto;
}

.clearer {
    clear: both;
}

.vybratZeleneTlacidlo {
    background: #6bb324 !important;
    border: 0 !important;
    margin-top: 15px !important;
    margin-bottom: 9px !important;
    display: inline-block !important;
    height: auto !important;
    line-height: 28px !important;
    padding: 12px 20px !important;
}

.ruzova {
    color: #e20074 !important;
}

.jedna2 {
    max-width: 49%;
    width: 50%;
}

.flol {
    float: left
}

@media (max-width: 800px) {
    .jedna3,
    .jedna2 {
        max-width: 100%;
        width: 100%;
    }
}

.obalka2 {
    padding: 0px 150px;
}

.notransform {
    text-transform: none;
}

.pozadiex {
    padding: 50px 0
}

.obrovska0 {
    font-size: 150px;
    line-height: 123px;
    font-weight: 800;
}

.hltext {
    padding-top: 10%;
    font-size: 32px;
    color: black;
    text-transform: uppercase;
}

.sivePole {
    background: #ececec;
    padding: 15px;
}

.cervenePole {
    background: white;
    border: 1px solid #e20074;
}

.wbreadcrumbs {
    display: none;
}
</style>
<div class="pozadie0">
    <div class="obalka">
        <div class="jedna2 tac">
            <div class="hltext">
                <strong>Zdieľanie dát z paušálu zadarmo!</strong>
                <div class="obrovska0">
                    <img scr="/documents/10179/642134/ikonky-zdielanie.png" src="/documents/10179/642134/ikonky-zdielanie.png/" /></div>
                <p>
                    Nemáte Wi-Fi a chcete so svojim blízkym naraz surfovať na svojom telefóne aj tablete? Odteraz už môžete.</p>
            </div>
            <a href="#viacInfo">Ako získať?</a>
            <br />
            <!-- <a href="#viacInfo">Viac info</a>--></div>
    </div>
</div>
<a name="viacInfo">&nbsp;</a>
<section class="pozadie1">
    <div class="obalka tac">
        <h2 class="velkyNadpis">
            AKO ZÍSKAM ZĽAVU?</h2>
        <br />
        <div class="jedna3">
            <img alt="" src="/documents/10179/642134/vyhody_volania.png" style="width: 102px; height: 71px;" />
            <p>
                1. Vyberiete si jeden z paušálov <a href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">Happy L</a>, <a href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl_call">XL volania</a>, <a href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xl">XL</a>, <a href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=xxl">XXL</a> a <a href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=profi">Profi</a>.</p>
        </div>
        <div class="jedna3">
            <img alt="" src="/documents/10179/591712/happy_zdielanie.png" style="width: 66px; height: 71px;" />
            <p>
                2. Počas nákupu si vyberiete doplnkovú službu
                <br />
                <b>BONUS: Zdieľanie dát z paušálu</b>.</p>
        </div>
        <div class="jedna3">
            <img alt="" src="/documents/37667/662724/percento.png/d6d65db1-96e5-4bae-b17f-4e6510eac600" style="width: 70px; height: 70px;" />
            <p>
                3. Za dva roky ušetríte vyše 70 €!</p>
        </div>
        <a class="button vybratZeleneTlacidlo" href="/objednavka/-/scenario/e-shop/happy">Zdieľanie dát z paušálu</a>
    </div>
    <div class="obalka">
        <div class="post happy-legal"> <a class="post__title link link_blue link_ul note-legal" href="#" onclick="$('#happy-legal-1').toggle('slow');return false;">Podmienky:</a>
            <p class="post__content happy-legal-content content_hidden" id="happy-legal-1" style="display: none;">
                Službu zdieľanie dát z paušálu je možné aktivovať k programom Happy XS a vyšším a umožňuje zdieľanie voľného objemu dát zahrnutého v príslušnom hlasovom programe služieb vo vzťahu k hlavnej SIM karte aj prostredníctvom ďalších dodatočných maximálne dvoch doplnkových SIM kariet poskytnutých účastníkovi. Podmienkou využívania služby Zdieľanie dát z paušálu je aktivácia aspoň jednej doplnkovej SIM karty, prostredníctvom ktorej bude prebiehať zdieľanie dát. Po vyčerpaní voľného objemu dát prenášaných plnou rýchlosťou, či už prostredníctvom hlavnej SIM karty alebo ktorejkoľvek doplnkovej SIM karty, bude rýchlosť dátových prenosov (sťahovania aj odosielania dát) na všetkých (hlavnej i doplnkových) SIM kartách až do konca príslušného zúčtovacieho obdobia znížená na 64 kb/s.<br> Účastník, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy L, Happy XL, Happy XXL a Happy Profi s viazanosťou aspoň na 24 mesiacov, má možnosť aktivovať si službu Zdieľanie dát z paušálu za zvýhodnený aktivačný poplatok 0,04 € s DPH so 100 % zľavou z ceny mesačných poplatkov po dobu 24 mesiacov od aktivácie (ďalej len „Akciová služba“). Po uplynutí 24 mesiacov poskytovania Akciovej služby bude príslušná služba i naďalej poskytovaná za mesačný poplatok podľa aktuálneho <a class="link_black link_ul" href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Cenníka</a>.
            </p>
        </div>
    </div>
</section>
<p>&nbsp;</p>
