<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;
		</div>
		<div class="hero__content">
			<h1 class="hero__title">
				<b>TV KANÁL EPIC DRAMA</b><br/>
				U VÁS DOMA UŽ OD 14. DECEMBRA 2017
			</h1>
			<!-- <a class="scroll-to btn cta" href="#sec-1">VIANOČNÉ AKCIE</a> -->
		<!-- <a class="link scroll-to" href="#sec-4">Viac o súťaži</a> -->
	</div>
	</div>
</section>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">

        <div class="col-group">
            <div class="">
                <div class="main-premier">
                    <h2 class="mp__title"><strong>MNOŽSTVO NOVÝCH FILMOV A SERIÁLOV</strong></h2>
                </div>
            </div>
            <div class="">
                <div class="main-vid-block">
                    <p class="mvb__desc">Epic drama prinesie do vašich obývačiek nové filmové a seriálové zážitky vďaka najväčším dobovým drámam. </p>
                </div>
            </div>
        </div>

        <div class="col-group">
            <div class="">
                <div class="offer">
                    <p class="offer__desc">Tešiť sa môžete na nové tituly Borgia, Klondike, Policajt, Neviestky alebo Zvrat: Woshingtonoví špióni. Všetky tituly budú postupne uvedené <strong>v exkluzívnych premiérach</strong> 14., respektíve 15. decembra.</p>
                </div>
            </div>
        </div>
        <div class="col-group">
            <div class="">
                <div class="offer">
                    <p class="offer__desc">Program Epic Drama nájdete na Magio TV L a XL na pozícií 134 v programovom balíčku Voľný čas a na Magio SAT TV na pozícií 37.</p>
                    <a href="/televizia/magio-televizia" class="button offer__btn">PREJSŤ NA MAGIO TV</a>
                </div>
            </div>
        </div>
        <div class="col-group">
            <div class="gallery__holder">
                <a href="#zvrat" class="popup"><img src="../assets/img/turn-pic-gal1.jpg" class="gal-img" alt=""></a>
                <a href="#policajt" class="popup"><img src="../assets/img/copper-pic-gal2.jpg" class="gal-img" alt=""></a>
                <a href="#neviestky" class="popup"><img src="../assets/img/harlots-pic-gal3.jpg" class="gal-img" alt=""></a>
                <a href="#klondike" class="popup"><img src="../assets/img/Klondike-pic-gal4.jpg" class="gal-img" alt=""></a>
                <a href="#borgia" class="popup"><img src="../assets/img/borgia-pic-gal5.jpg" class="gal-img" alt=""></a>
            </div>
        </div>

        <div class="col-group">
            <div class="grid-g__col_12">
                <div class="site-footer">
                    <div class="grid-g__col_9">
                        <p class="foot-notes">Nový filmový kanál EPIC DRAMA je zameraný na historické filmy a seriály a 24 hodin 7 dní v týždni vám prináša:</p>
                        <div class="foot-notes-zoznam">
                        <ul>
                            <li>• <strong>bohatú ponuku atraktívnych vysoko-rozpočtových seriálov a filmov</strong> od  významných svetových produkčných spoločností,
                            <li>• veľké príbehy z našej minulosti <strong>v novom modernom spracovaní a HD kvalite,</strong>
                            <li>• <strong>herecké hviezdy a výpravné drámy</strong> na historickom pozadí.
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="grid-g__col_3">
                        <img src="../assets/img/Epic Logo RGB-164x233.jpg" alt="viasat epic logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div id="zvrat" style="display: none;">
    <div class="p-head"><a href="#" class="p-close">X</a></div>
    <div class="p-content">
        <!-- POPUP CONTENT -->
        <img src="../assets/img/turn.jpg" class="gal-img" alt="">
    </div>
</div>

<div id="policajt" style="display: none;">
    <div class="p-head"><a href="#" class="p-close">X</a></div>
    <div class="p-content">
        <!-- POPUP CONTENT -->
        <img src="../assets/img/copper.jpg" class="gal-img" alt="">
    </div>
</div>

<div id="neviestky" style="display: none;">
    <div class="p-head"><a href="#" class="p-close">X</a></div>
    <div class="p-content">
        <!-- POPUP CONTENT -->
        <img src="../assets/img/harlots.jpg" class="gal-img" alt="">
    </div>
</div>

<div id="klondike" style="display: none;">
    <div class="p-head"><a href="#" class="p-close">X</a></div>
    <div class="p-content">
        <!-- POPUP CONTENT -->
        <img src="../assets/img/klondike.jpg" class="gal-img" alt="">
    </div>
</div>

<div id="borgia" style="display: none;">
    <div class="p-head"><a href="#" class="p-close">X</a></div>
    <div class="p-content">
        <!-- POPUP CONTENT -->
        <img src="../assets/img/borgia.jpg" class="gal-img" alt="">
    </div>
</div>


<script type="text/javascript" src="../assets/js/main.js"></script>
