<div class="c-row c-row-1">
	<div class="c-content">
		<div class="c-text c-header">
			<h1>
				<b>INTERNET OD TELEKOMU</b><br />
				S RÝCHLYM PRIPOJENÍM</h1>
			<p>
				Využite aj vy spoľahlivé a rýchle pripojenie bez časových či dátových obmedzení. Vyberte si z našej ponuky.</p>
		</div>
		<!-- <div class="c-img">
			<img height="113px" src="/documents/10179/42509/wb_internet_rozcestnik_960px_1214-EC.png/e31442db-ea7f-453e-babc-2e0e3d07210e" width="160px" /></div> --></div>
</div>
<div class="c-row c-row-2">
	<div class="c-content">
		<div class="c-tile first">
			<div class="c-img-1">
				<a class="c-tile-a" href="/internet/magio-internet#sec-1"><img alt="Magio internet" src="../assets/img/wb_internet_rozcestnik_960px_1214-TILE-MAGIO-INTERNET.png" /> <span class="line-1"><b>Magio Internet</b></span> </a></div>
		</div>
		<div class="c-tile">
			<div class="c-img-1">
				<a class="c-tile-a" href="/internet/mobilny-internet"><img alt="Mobilný internet" src="../assets/img/wb_internet_rozcestnik_960px_1214-ICON-MOBILE-INTERNET.png" style="margin-top:14px;" /> <span class="line-1"><b>Mobilný internet</b></span> </a></div>
		</div>
		<div class="c-tile">
			<div class="c-img-1">
				<a class="c-tile-a" href="/internet/internet-v-mobile"><img alt="Internet v mobile" src="../assets/img/wb_internet_rozcestnik_960px_1214-ICON-INTERNET-IN-MOBILE.png" style="margin-top:30px;" /> <span class="line-1"><b>Internet v&nbsp;mobile</b></span> </a></div>
		</div>
		<div class="c-tile">
			<div class="c-img-1">
				<a class="c-tile-a" href="/internet/4g-internet"><img alt="4G internet" src="../assets/img/wb_internet_rozcestnik_960px_1214-ICON-4G-INTERNET.png" /> <span class="line-1"><b>4G Internet</b></span> </a></div>
		</div>
	</div>
</div>
<p>
	&nbsp;</p>
