<section id="hero">
    <div class="container-fixed">
        <div class="row hero-row text_centered">
            <div class="col-md-12  hero-header">
                <img alt="" class="responsive-image" src="../assets/img/logo.png" />
                <p class="hero-desc">
                    Predobjednávky od 16.9.2016</p>
                <br />
                <a class="button button_border" href="/iphone-7/informujte-ma">Informujte ma</a></div>
            <div class="col-md-12 hero-hardware text_centered show-mobile">
                <img alt="" class="responsive-image" src="../assets/img/hero_large.jpg" /></div>
            <div class="hero-copy col-md-12">
                <p class="hero-text">
                    iPhone 7 dramaticky rozvíja najdôležitejšie aspekty iPhonu. Má nové vyspelé sústavy fotoaparátov. Najvyšší výkon a&nbsp;najdlhšiu výdrž batérie zo všetkých iPhonov. Stereo reproduktory, ktorých zvuk ťa pohltí. Najjasnejší a&nbsp;najfarebnejší displej iPhonu. Odolá postriekaniu vodou.<sup>1</sup> A&nbsp;po všetkých stránkach rovnako presvedčivo aj vyzerá. Toto je iPhone 7. &nbsp;</p>
            </div>
            <div class="col-md-12 text_centered">
                <a class="scroll-to" href="#sec-1"><img alt="" class="responsive-image" src="../assets/img/arrow.png" /></a></div>
        </div>
    </div>
</section>
<!--  sec-1 -->
<section class="section sec-1" id="sec-1">
    <div class="container-fixed">
        <div class="row text_centered">
            <div class="col-md-12">
                <h2 class="feature-title">
                    Dizajn</h2>
                <h3 class="feature-largeheadline">
                    Znesie kvapku vody.<br />
                    Aj more obdivov.</h3>
                <p class="hero-desc">
                    <a class="button button_border" href="/iphone-7/informujte-ma">Informujte ma</a></p>
            </div>
        </div>
        <div class="row text_centered">
            <div class="badge col-xs-6 col-md-4 col-custom offset-md-2 offset-custom">
                <div class="badge-content">
                    <div class="ico-holder">
                        <img class="responsive-image" src="../assets/img/design_badge_finishes_large.png" /></div>
                    <p class="design-desc">
                        Nová čierna<br />
                        a tmavočierna</p>
                </div>
            </div>
            <div class="badge col-xs-6 col-md-4 col-custom ">
                <div class="badge-content">
                    <div class="ico-holder">
                        <img class="responsive-image" src="../assets/img/design_badge_water_large.png" /></div>
                    <p class="design-desc">
                        Odolnosť proti<br />
                        postriekaniu a vode<sup>1</sup></p>
                </div>
            </div>
            <div class="badge col-xs-12 col-md-12 col-custom ">
                <div class="badge-content">
                    <div class="ico-holder">
                        <img class="responsive-image" src="../assets/img/design_badge_homebutton_large.png" /></div>
                    <p class="design-desc">
                        Nové tlačidlo Home</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  sec-2 -->
<section class="section sec-2" id="sec-2">
    <div class="container-fixed">
        <div class="row text_centered">
            <div class="col-md-12">
                <h2 class="feature-title">
                    Fotoaparát iPhonu 7</h2>
                <h3 class="feature-largeheadline">
                    Úplne nový fotoaparát<br />
                    vyšiel na svetlo.</h3>
                <p class="hero-desc">
                    <a class="button button_border" href="/iphone-7/informujte-ma">Informujte ma</a></p>
            </div>
        </div>
        <!--         <div class="row text_centered  feature-2">
            <div class="col-md-12 more-info">
                <a href="">Více o&nbsp;designu iPhonu&nbsp;7</a>
            </div>
        </div> --></div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="container-fixed">
        <div class="row text_centered">
            <div class="badge col-xs-6 col-md-2 offset-md-2">
                <div class="badge-content">
                    <div class="ico-holder">
                        <img class="responsive-image" src="../assets/img/camera.png" /></div>
                    <p class="design-desc">
                        Fotoaparát</p>
                </div>
            </div>
            <div class="badge col-xs-6 col-md-2">
                <div class="badge-content">
                    <div class="ico-holder">
                        <img class="responsive-image" src="../assets/img/ois.png" /></div>
                    <p class="design-desc">
                        Optická stabilizácia</p>
                </div>
            </div>
            <div class="badge col-xs-6 col-md-2">
                <div class="badge-content">
                    <div class="ico-holder">
                        <img class="responsive-image" src="../assets/img/front-camera.png" /></div>
                    <p class="design-desc">
                        Fotoaparát FaceTime HD</p>
                </div>
            </div>
            <div class="badge col-xs-6 col-md-2">
                <div class="badge-content">
                    <div class="ico-holder">
                        <img class="responsive-image" src="../assets/img/flash.png" /></div>
                    <p class="design-desc">
                        Štvordiódový True Tone blesk</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-4 " id="sec-4">
    <div class="container-fixed">
        <div class="row footer-disc">
            <ol>
                <li>
                    iPhone 7 a iPhone 7 Plus sú odolné proti postriekaniu, vode a prachu a boli testované v kontrolovaných laboratórnych podmienkach s hodnotením IP67 podľa normy IEC 60529. Odolnosť proti postriekaniu, vode a prachu nie je trvalá a môže sa v dôsledku normálneho opotrebovania postupom času znížiť. Nenabíjajte mokrý iPhone. Pokyny na jeho čistenie a sušenie nájdete v príručke. Na poškodenie tekutinou sa nevzťahuje záruka.</li>
            </ol>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>