/* ===============
   CSS FOR FORM
   =============== */

#form-holder h2,
#form-holder h4,
#form-holder .dynamicFormPages {
    display: none;
}

#form-holder ul {
    border: 0;
}

#form-holder li.dynamicFormItemRootBox,
#form-holder .availableFields li,
#form-holder .availableRootFields li,
#form-holder .dynamicFormFields li {
    background: none !important;
    max-width: 505px;
    margin: 0 auto;
}

#form-holder {
    text-align: left;
}

#form-holder .heapBox {
    max-width: 374px;
}

#form-holder .heapBox .holder,
#form-holder .heapBox .handler,
#form-holder div.checker span {
    border: 0;
}

#form-holder .heapBox .holder {
    color: $magenta;
    font-weight: bold;
}

#form-holder input[type="text"],
#form-holder textarea,
#form-holder input[type="file"] {
    font-size: 16px;
    padding: 8px 10px 8px 9px;
    background-color: #ededed;
    border-radius: 4px;
    max-width: 375px;
    width: 100%;
    border: 0;
}

#form-holder .labelField {
    color: #fff;
    font-size: 16px;
}

#form-holder .dynamicFormSubFields .formFieldRenderField .labelField {
    display: block;
    width: 100% !important;
}

#form-holder .dynamicFormItemBox,
#form-holder .formFieldRender {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#content .checker-field {
    color: #fff;
    font-size: 16px;
}

#form-holder .checkboxRenderField .formFieldValidationResult {
    padding-left: 0;
}

#content .waterbear-theme input[type="submit"] {
    border-radius: 4px;
    font-size: 16px;
    max-width: 180px;
    width: 100%;
}

.fieldTypeSUBMIT {
    text-align: center;
}

.journal-content-article ul:not(.accordion):not(.content-menu):not(.content-sub-menu):not(.tabs-navi):not(.list-arrow):not(.list-square):not(.toolbox-list) {
    margin-left: 1em;
}

.formCompositionRender .formFieldRenderField.selectRenderField>span {
    width: 100%;
}
