/* ===============
   IMPORTS
   =============== */

@import '../../global-assets/sass/style';

/* Global */

#content .link_ul {
    text-decoration: underline;
}

.secondary-bg {
    background-color: #010a1c;
}

.primary-bg {
    background-color: #fff;
}

.gray-bg {
    background-color: #f0efef;
}


/* HERO */

#content section.top_banner_bg {
    background: url("../img/KV.jpg") no-repeat fixed 50% 20% / cover;
    padding-bottom: 30px;
    position: relative;
    min-height: 520px;
    padding-top: 25px;
}

#content .present .section__title {
    margin: 60px 0 40px 0;
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

#content .section__title {
    margin: 60px 0 40px 0;
    color: $magenta;
    padding: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.ec-hero {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

@media screen and (max-width: 768px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    #content section.top_banner_bg {
        min-height: 850px;
        height: 100%;
        width: 100%;
    }
}

.present {
    position: relative;
    z-index: 2;
}

.present_img {
    text-align: center;
}

.present_img img {
    margin: 40px 0 40px 0;
    position: relative;
    z-index: 2;
    max-width: 580px;
    /*width: 100%;*/
}

@media screen and (max-width: 1200px) {
    .present_img img {
        width: 100%;
    }
}


/* Section */

#sec-1 {
    margin-bottom: 40px;
    min-height: 200px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#sec-2 {
    padding: 10px 0;
    min-height: 400px;
    /*margin-bottom: 40px;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#sec-3 {
    padding-bottom: 10px;
    min-height: 700px;
    /*margin-bottom: 40px;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#sec-4 {
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#sec-5 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#content .sec__description {
    font-size: 18px;
}


/* sec-4 */

#content .features_detail > ul {
    margin: 0;
    padding: 0;
}

#content .features_detail li:nth-child(2n) {
    border-right: 0 none;
    padding-left: 18px;
    text-align: left;
}

#content .features_detail li:nth-last-child(2) {
    border-bottom: 0 none;
}

#content .features_detail li:nth-child(2n) {
    border-right: 0 none;
    padding-left: 18px;
    text-align: left;
}

#content .features_detail li:last-child {
    border-bottom: 0 none;
}

#content .features_detail li {
    border-bottom: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    display: inline-block;
    /*font-size: 13px;*/
    /*font-weight: 300;*/
    line-height: 20px;
    list-style: outside none none;
    margin-bottom: 20px;
    padding: 10px 20px 30px 0;
    text-align: right;
    width: 49%;
    color: #555454;
}

#content .features_detail i {
    font-size: 28px;
    color: #35bcce;
}

#content .features_detail h5 {
    color: hsl(0, 1%, 33%);
    font-weight: bold;
    line-height: 47px;
    font-size: 26px;
}

#content .features_img {
    text-align: right;
}

#content .section_sub_btn {
    margin-bottom: 30px;
}

#content .section_heading h2 {
    border-bottom: 1px solid hsl(0, 0%, 75%);
    display: inline-block;
    /*margin-bottom: 60px;*/
    padding: 0 10px 20px;
    position: relative;
}

#content .big-head {
    background-color: #e20074;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

#content .main-detail {
    text-align: center;
}

#content .md-40 {
    margin-top: 40px;
}

#content .sub-feature .sf__head {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}

.sub-feature {
    border-right: 1px solid #bfbfbf;
    padding: 0 20px;
}

.sub-feature:last-of-type {
    border-right: 0;
}

.sub-features {
    text-align: center;
    display: flex;
    margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
    .sub-features {
        display: inline-block;
    }
    .sub-feature {
        border: 0;
        margin-bottom: 20px;
    }
}


/* Youtube video */

.section_video {
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    max-width: 789px;
    max-height: 433px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*    max-width: 789px;
    max-height: 433px;*/
    border: 1px solid #bfbfbf;
}
