<section id="hero" class="hero section">
    <div class="fixed-column">
        <div class="col-group">
            <div class="grid-g__col_7 col_text">
                <h2 class="hero__title">Cat® S60 – SMARTFÓN VHODNÝ<br/>DO NÁROČNÝCH PODMIENOK</h2>
                <p class="hero__desc">Prvý vodeodolný chytrý telefón
                    <br/>so zabudovanou termovíziou.</p>
                <ul class="hero__list">
                    <li><span>Špeciálna termovízna kamera umožňuje merať povrchové teploty objektov. Môžete ju využiť aj na nočné videnie.</span></li>
                    <li><span>Odolá pádu na betónový povrch z výšky do 1,8 metra.</span></li>
                    <li><span>Odolný proti prachu aj proti vode do 5 metrov.</span></li>
                </ul>
                <img src="../assets/img/hero__logo.png" alt="" class="hero__logo">
                <img src="../assets/img/hero__ec.png" alt="" class="hero__ec">
            </div>
            <div class="grid-g__col_5 col_img">
                <img src="../assets/img/hero__prod.png" alt="" class="hero__prod">
            </div>
        </div>
    </div>
</section>

<div class="main_sec" id="sec-1">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title">ZÁKLADNÉ  ÚDAJE</h2>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img alt="" class="img__specs" src="../assets/img/specs__img.png" /></div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">4,7" HD, sklo Gorilla Glass 4</div>
                        <div class="spec__param">veľmi jasný displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">3 800 mAh</div>
                        <div class="spec__param">
                            batéria</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G LTE</div>
                        <div class="spec__param">sieť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Android™ 6.0 Marshmallow</div>
                        <div class="spec__param">OS</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">32 GB ROM, 3 GB RAM,
                            <br/>microSD do 128 GB</div>
                        <div class="spec__param">rozšíriteľná pamäť</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">13 Mpx s dvojitým bleskom</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">5 Mpx</div>
                        <div class="spec__param">predný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Do 5 metrov</div>
                        <div class="spec__param">vodeodolnosť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">147,9 x 73,4 x 12,66 mm</div>
                        <div class="spec__param">rozmery (výška x šírka x hrúbka)</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Osemjadrový procesor
                            <br/>Snapdragon 617</div>
                        <div class="spec__param">procesor</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">TERMOVÍZNA KAMERA</h2>
                <p class="feat__desc">Termovízna kamera od spoločnosti FLIR prostredníctvom zvýraznenia teplotných rozdielov vizualizuje teplo, ktoré nie je viditeľné voľným okom.
                    <br/>
                    <br/>Dokáže merať povrchové teploty zo vzdialenosti 15 až 30 metrov.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">VYUŽITIE TERMOVÍZIE</h2>
                <ul class="feat__desc">
                    <li><span>detekcia úniku tepla v okolí okien a dverí</span></li>
                    <li><span>objavenie vlhkosti a chýbajúcej izolácie</span></li>
                    <li><span>identifikácia prehrievania elektrických zariadení a obvodov</span></li>
                    <li><span>nočné videnie</span></li>
                </ul>

            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">AKO RYBA VO VODE</h2>
                <p class="feat__desc">Cat S60 je tiež vodoodolný až do hĺbky 5 metrov po dobu jednej hodiny, preto ho možno používať ako podvodný fotoaparát. Možnosť použitia s mokrými prstami alebo v rukaviciach.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">PRE ŽIVOT V ŤAŽKÝCH pODMIENKACH</h2>
                <p class="feat__desc">Prekračuje hodnoty vojenských parametrov, je skonštruovaný tak, aby odolal pádu na betónový povrch z výšky do 1,8 metra, je odolný proti prachu aj proti vode.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">DISPLEJ</h2>
                <p class="feat__desc">Všestranne využiteľný, <b>veľmi jasný</b> displej možno používať aj v jasnom slnečnom svetle a dotyková obrazovka sa dá ovládať aj mokrými prstami či v rukaviciach. Je chránený sklom Corning® Gorilla® Glass 4 najnovšej generácie.</p>
            </div>
        </div>
    </section>
    <section class="prod-1 feat-6 section">
        <div class="fixed-column">
            <div class="col-group">
                <div class="grid-g__col_4">
                    <h2 class="feat__title">ĎALŠIE VLASTNOSTI</h2>
                    <ul class="feat__desc">
                        <li><span>Zosilnený rám liaty pod tlakom.</span></li>
                        <li><span>Vojenská špecifikácia MIL-Spec 810G.</span></li>
                        <li><span>Vysokokvalitný zvuk (>105 dB).</span></li>
                        <li><span>Displej zvyčajne 540 nitov.</span></li>
                    </ul>
                </div>
                <div class="grid-g__col_8">
                    <div class="img__holder">
                        <img src="../assets/img/footer__prod.png" alt="" class="footer__prod">
                        <img src="../assets/img/footer__ec.png" alt="" class="footer__ec">
                    </div>
                </div>
            </div>
            <p class="footnode">© 2016 Caterpillar. <b>CAT, CATERPILLAR, BUILT FOR IT</b> and their design marks are registered trademarks of Caterpillar. TCCM s.r.o. distributor for Bullitt Mobile Ltd, a licensee of Caterpillar Inc. </p>

        </div>
    </section>
</div>

<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>