<style>
	.responsive-img {
    max-width: 100%;
    height: auto;
}
</style>	

<section>
<a href="/partneri/mam-zaujem">
	<img class="responsive-img" src="/documents/10179/5290435/Telekompartneri_940x245_final.png" alt="">
</a>
	
</section>