/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

#wrapper {
    background: #2b2219;
}

.section {
    padding: 50px 0;
}

#content .button {
    background: $lima;
    border-color: $lima;
    border-radius: 3px;
}


/* YOUTUBE PLAYER */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ===============
  Hero
   =============== */

#hero {
    overflow: hidden;
    min-height: 254px;
    padding: 60px 2%;
    background: url(../img/epicdrama_hero.jpg?v=1) no-repeat 50% 50%;
    background-size: cover;
    & .hero__content {
        text-align: center;
        max-width: 360px;
        & .btn {
          margin-bottom: 10px;
        }
        & .link {
            font-size: 18px;
            font-weight: 500;
            text-decoration: underline;
            display: block;
            color: #ccc;
        }
    }
    & .hero__title {
        font-size: 34px;
        margin-top: 0;
        padding-bottom: 0;
        text-transform: uppercase;
        color: #fff;
        border: 0;
    }
}
@media screen and (max-width: 960px) {
    #hero {
        width: 100%;
        padding: 40px 2%;
        background: url(../img/epicdrama_heroMobile.jpg?v=1) no-repeat 60% 50%;
        background-size: cover;
    }
}

@media screen and (max-width: 767px) {
    #hero {
      padding: 60px 2%;
      background: url(../img/hero_tablet.jpg?v=1) no-repeat 50% 50%;
      background-size: cover;
    }
    & .hero__title {
        font-size: 30px;
    }
    & .hero__content {
      background-color: #493747;
      padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
        & .btn {
            margin-top: 60px;
        }
        & .container-fixed {
            margin: 0;
            padding: 0;
            width: 100%;
        }
    }
    #hero .hero__content {
        max-width: 460px;
        padding: 40px 4% 0 4%;
        background-color: transparent;
    }
    .hero__mobile {
        background: url(../img/epicdrama_heroMobile.jpg) no-repeat 100% 0%;
        background-size: cover;
        height: 195px;
    }

    #content .hero__title,
    #content .hero__desc {
        color: #fff;
    }
}

#content .premier-title {

    text-align: left;
    position: relative;
    margin: 0;
    top: -150px;
    color: #fff;
    display: none;
}

.amc-logo {
    position: absolute;
    right: 0;
    top: 400px;
}

@media screen and (max-width: 960px) {


        #content .premier-title {
        right: 0;
        font-size: 32px;
        display: block;
        padding-left: 15px;
    }
}

@media screen and (max-width: 700px) {

    #content .premier-title {
        right: 0;
        font-size: 32px;
        display: block;
    }
}

@media screen and (max-width: 430px) {
    .ftwd {
        top: 20px;
    }
    .nnu {
        display: none;
    }
    #content .premier-title {
        font-size: 28px;
        top: 40px;
        display: block;

    }
    .amc-logo {
        top: 300px;
    }
}


/* SEC 1 */

#content .sec-1 p {
    margin: 0;
    font-size: 18px;
}

#content p.mp__title, {
    color: #fff;
    font-size: 24px;

}

#content p.p__title {
    font-size: 24px;
    line-height: 25px;
}


#content .mvb__desc,
#content .offer__desc,
#content .foot-notes {
    color: #fff;
    font-size: 16px;
}

#content .foot-notes-zoznam ul {
    color: #fff;
    font-size: 18px;
}

#content .grid-g__col_4 {
    margin: 0 2%;
}

.main-premier {
    margin-bottom: 15px;
    & h2.mp__title {
      font-size: 32px;
    }
}

.offer {
    max-width: 570px;
    margin: 38px 0;
}

.gallery__holder {
    margin-bottom: 38px;
    text-align: center;
    & img:hover {
        transition: all 100ms linear;
        transform: scale(1.2);
        z-index: 1;
        position: relative;
    }
}

.site-footer {
    border-top: 1px #6c6c6c solid;
    padding-top: 28px;
}

.gal-img {
    margin-right: 1%;
    display: inline-block;
}

.gal-img:last-of-type {
    margin-right: 0;
}

.offer__btn {
    margin-top: 15px;
}

#content .site-footer .grid-g__col_3 {
    text-align: right;
    float: right;
}

.p-content {
  & img {
    max-width: 100%;
  }
}

@media screen and (max-width: 790px) {
    #content .grid-g__col_4 {
        margin: 0 0 0 4%;
        width: 60%;
    }
    #content .grid-g__col_2 {
        width: 36%;
    }
    #content .grid-g__col_6 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #content .site-footer .grid-g__col_9,
    #content .site-footer .grid-g__col_3 {
        width: 100%;
    }
    #content .site-footer .grid-g__col_3 {
        text-align: center;
        margin-top: 15px;
    }
    .gal-img {
        margin-bottom: 0px;
    }
    .gal-img:last-of-type {
        margin-bottom: 0;
    }
    .gallery__holder {
        text-align: center;
    }
}

@media screen and (max-width: 440px) {
    #content .grid-g__col_4 {
        width: 100%;
        margin: 20px 0;
    }
    #content .grid-g__col_2 {
        width: 100%;
    }
}


.p-head {
    display: block;
    height: 30px;
    border-bottom: none;
    margin-bottom: 0px;
}
