<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title"><b>TABLET NA DOMA za 1 €!</b><br/>k magio internetu, tv<br/>alebo pevnej linke</h1>
            <a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik"><span>MÁM ZÁUJEM</span> </a>
            <br/>
            <a href="#sec-1" class="link scroll-to">Viac informácií o tablete za 1 €</a>
        </div>
        <img src="../assets/img/prod-head.png" alt="" class="hero__prod">
    </div>
</section>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <h2 class="sec__title">VÝHODY TABLETU NA DOMA</h2>

        <div class="col-group">
            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-1.png" alt="" class="item__img">
                <p class="item__title">Jednoduché ovládanie</p>
                <p class="item__desc">Tablet má rýchly prístup k internetovým stránkam, obľúbeným TV kanálom či prehľadu dennej tlače, takže ho ľahko ovládnu aj vaši starí rodičia.</p>
            </div>

            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-2.png" alt="" class="item__img">
                <p class="item__title">Unikátna služba Paralelné zvonenie</p>
                <p class="item__desc">vďaka ktorej viete na tablete prijať hovor, ktorý prichádza na vašu pevnú linku, aj keď nie ste doma.</p>
                <p class="link tooltip-1"><img src="../assets/img/ico-mag.png" alt="">Ako aktivovať Paralelné zvonenie</p>
            </div>

            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-3.png" alt="" class="item__img">
                <p class="item__title">Internet zadarmo</p>
                <p class="item__desc">Surfujte na tablete zadarmo až 18 dní vďaka Easy karte, ktorá je súčasťou tabletu. Easy karta má navyše bonusový kredit 9 €, ktorý môžete využiť na <span class="tooltip-2">kúpu ďalších dát</span>.</p>
            </div>
        </div>

    </div>
</section>

<section id="sec-2" class="section sec-2 xmas-bg">
    <div class="fixed-column">
        <div class="prod-promo">
            <div class="left-side">
                <div class="promo__list">
                    <h3 class="promo__title">AKO TABLET ZA 1 € ZÍSKAŤ </h3>
                    <div class="list__holder">
                        <div class="list__img">
                            <img src="../assets/img/point-1.png" alt="">
                        </div>
                        <div class="list__text">
                            <p>Vyberte si aspoň jednu službu z ponuky Chytrého balíka vo veľkosti L alebo XL: Magio internet na doma alebo Magio televíziu či Pevnú linku.</p>
                        </div>
                    </div>
                    <div class="list__holder">
                        <div class="list__img">
                            <img src="../assets/img/point-2.png" alt="">
                        </div>
                        <div class="list__text">
                            <p>Do košíka vložte Tablet na doma <b>Huawei MediaPad T1 8.0 Pro za 1 €</b> a pokračujte v nákupe.</p>
                        </div>
                    </div>
                    <div class="list__holder">
                        <div class="list__img">
                            <img src="../assets/img/point-3.png" alt="">
                        </div>
                        <div class="list__text">
                            <p>Navyše vám darujeme <span class="tooltip-3">externú batériu</span> a obejdnávku vám doručíme bezplatne kuriérom.</p>
                        </div>
                    </div>
                </div>
                <a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik"><span>PREJSŤ NA CHYTRÝ BALÍK</span> </a>
            </div>
            <div class="right-side">
                <a href="#" class="prod__img tooltip-4">
                    <img src="../assets/img/prod-mid.png" alt="">
                    <p>Huawei MediaPad T1 8.0 Pro</p>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="sec-3" class="section sec-3">
    <div class="fixed-column">
        <h2 class="sec__title">ČO DETSKÝ TABLET DOKÁŽE</h2>

        <div class="col-group">
            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-4.png" alt="" class="item__img">
                <p class="item__title">Pripomienkovač liekov</p>
                <p class="item__desc">Nastavte si termíny užitia liekov a táto praktická aplikácia vám ich pripomenie.</p>
            </div>

            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-5.png" alt="" class="item__img">
                <p class="item__title">Zábava a voľný čas</p>
                <p class="item__desc">V tablete nájdete aj hry ako Pasians či Sudoku, pri ktorých sa určite odreagujete. Vďaka zabudovanej kamere môžete zhotoviť snímky a hneď ich zdieľať so svojimi blízkymi.</p>
            </div>

            <div class="grid-g__col_4 item">
                <img src="../assets/img/ico-6.png" alt="" class="item__img">
                <p class="item__title">Nastavenie na diaľku</p>
                <p class="item__desc">Ak si neviete rady s tabletom, môže vaše blízke osoby nastaviť tablet aj na diaľku.</p>
            </div>
        </div>

    </div>
</section>

<section id="sec-4" class="section sec-4">
    <div class="fixed-column">
        <h2 class="sec__title">TECHNICKÁ ŠPECIFIKÁCIA</h2>

        <div class="specs-holder">
            <div class="sh_left">
                <img src="../assets/img/prod-bottom.png" alt="">
            </div>
            <div class="sh_right">
                <table>
                    <tr>
                        <th colspan="2">Huawei MediaPad T1 8.0 Pro – Tablet na doma</th>
                    </tr>
                    <tr>
                        <td>Pamäť:</td>
                        <td>RAM: 1GB, Interná: 8 GB, MicroSD: do 32 GB</td>
                    </tr>
                    <tr>
                        <td>Displej:</td>
                        <td>dotykový, 8“, 1280 x 800</td>
                    </tr>
                    <tr>
                        <td>Operačný systém:</td>
                        <td>Android 4.3 (Jelly Bean) + Emotion UI 1.6</td>
                    </tr>
                    <tr>
                        <td>Webkamera:</td>
                        <td>1,3 MP</td>
                    </tr>
                    <tr>
                        <td>Čítačka kariet:</td>
                        <td>microSDXC až 64 GB</td>
                    </tr>
                    <tr>
                        <td>Procesor:</td>
                        <td>4 jadrový, 1,2 GHz Qualcomm</td>
                    </tr>
                    <tr>
                        <td>WiFi:</td>
                        <td>áno, WiFi 802.11 b/g/n, WiFi Hotspot</td>
                    </tr>
                    <tr>
                        <td>GPS:</td>
                        <td>áno</td>
                    </tr>
                    <tr>
                        <td>Bluetooth:</td>
                        <td>Bluetooth® 4.0</td>
                    </tr>
                    <tr>
                        <td>USB:</td>
                        <td>microUSB 2.0 (charging/data)</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Rozmery v x š x h (mm):</td>
                        <td>210,6 x 127,7 x 7,9 mm</td>
                    </tr>
                    <tr>
                        <td>Hmotnosť:</td>
                        <td>približne 360 g</td>
                    </tr>
                    <tr>
                        <td>Obsah balenia:</td>
                        <td>tablet, kábel, nabíjací adaptér, návod</td>
                    </tr>
                    <tr>
                        <td>Farba:</td>
                        <td>biela</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="legal"> <a class="note-legal" href="" onclick="$('#legal-1').toggle('slow');return false;">Podmienky</a>
            <div class="legal-content" id="legal-1" style="display: none;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales mauris ac magna mattis maximus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras ultrices libero vel semper suscipit. Nullam feugiat sapien odio, et placerat enim auctor vel. Nullam feugiat lacus arcu, ut tincidunt neque dictum sit amet. Sed ultrices metus sit amet diam porttitor, at auctor nisl bibendum. Maecenas eget tincidunt massa. Aliquam ut vulputate lectus. In aliquam purus a nisi posuere, nec pharetra augue elementum. Sed a blandit tortor, egestas hendrerit ligula. Nullam a nisl dui. Sed sodales euismod lectus ut efficitur. Aliquam pretium, ligula ac vulputate porttitor, libero nunc facilisis tellus, eu consequat elit quam eu ex. Sed ut nisi a quam lacinia egestas. Aliquam augue sem, interdum eu dapibus vitae, bibendum ac nibh.</div>
        </div>

    </div>
</section>


<script type="text/javascript" src="../assets/js/main.js"></script>