/* =============== IMPORTS =============== */
/* =============== GLOBAL IMPORTS  =============== */
/* =============== BASE IMPORTS  =============== */
/* =============== RESET PORTAL STYLES =============== */
#wrapper #content {
  padding-bottom: 0; }

#wrapper .portlet-column-content {
  padding: 0; }

#content h1, #content h2, #content h3 {
  text-decoration: none;
  border: 0; }

#content a {
  text-decoration: none;
  font-size: 16px; }

#content p {
  font-size: 16px; }

#content ul {
  list-style: none; }

#wrapper .wbreadcrumbs {
  display: none; }

#content, #content * {
  box-sizing: border-box; }

#content .portlet-content {
  padding: 0; }

#main-content .portlet-column {
  display: block; }

#content .portlet-layout {
  display: block; }

#content .row {
  line-height: normal; }

/* =============== GLOBAL CONFIG  =============== */
/* =============== UTILITIES  =============== */
/* =============== FUNCTIONS & MIXINS =============== */
/* =============== CSS FOR STICKY NAV =============== */
.text_centered {
  text-align: center; }

.text_left {
  text-align: left; }

.text_uc {
  text-transform: uppercase; }

.text_bold {
  font-weight: bold; }

.text_initial {
  text-transform: initial; }

#wrapper .text__link {
  font-size: 18px; }

#wrapper .font_magenta {
  color: #e20074; }

#wrapper .font_black {
  color: #000000; }

#wrapper .font_white {
  color: #ffffff; }

#wrapper .font_mine-shaft {
  color: #383838; }

#wrapper .font_deep-cerulean {
  color: #007faf; }

/* =============== SPACING =============== */
#wrapper .margin_top20 {
  margin-top: 20px; }

#wrapper .margin_top50 {
  margin-top: 50px; }

#wrapper .margin_bottom20 {
  margin-bottom: 20px; }

#wrapper .mid__icon {
  vertical-align: middle; }

/* =============== BASE IMPORTS =============== */
/* =============== CSS FOR BUTTONS =============== */
/* LEGACY BUTTONS     */
#wrapper .button {
  color: #fff;
  font-size: 16px;
  padding: 0 17px;
  border-radius: 4px; }

#wrapper .button_font-black {
  color: #000; }

#wrapper .button_cream-can {
  background-color: #f2c957;
  border: 1px solid #f2c957; }

#wrapper .button_lima {
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#wrapper .button_gray {
  background-color: #8c8c8c;
  border: 1px solid #8c8c8c; }

#wrapper .btn_double {
  background-color: #6bb324;
  border: 1px solid #65ac20;
  height: 60px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px; }

/* LEGACY BUTTONS END */
#content .btn {
  text-transform: uppercase;
  font-size: 16px;
  color: #383838;
  background-color: #ededed;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none; }

#content .btn .fa {
  margin-right: 6px; }

#content .btn .fa-only {
  margin-right: 0; }

#content .btn:hover {
  background-color: #dbdbdb;
  border: 1px solid #a1a1a1; }

#content .btn:active {
  background-color: #e7e7e7;
  border: 1px solid #a4a4a4; }

#content .btn.btn_disabled {
  color: #bababa;
  background-color: #f2f2f2;
  border: 1px solid #dedede;
  cursor: no-drop; }

#content .cta {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#content .cta:hover {
  background-color: #58951c;
  border: 1px solid #4d8319; }

#content .cta:active {
  background-color: #5e9e20;
  border: 1px solid #65ac20; }

#content .cta_mag {
  color: #ffffff;
  background-color: #e20074;
  border: 1px solid #cc0069; }

#content .cta_mag:hover {
  background-color: #cc0069;
  border: 1px solid #9f0052; }

#content .cta_mag:active {
  background-color: #db0070;
  border: 1px solid #cc0069; }

#content .cta.btn_disabled, #content .cta_mag.btn_disabled {
  color: #ffffff;
  background-color: #d7d7d7;
  border: 1px solid #cdcdcd; }

#content .btn_clean {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838; }

#content .btn_clean:hover {
  background-color: #ededed;
  border: 1px solid #ededed; }

#content .btn_outline, #content .btn_outline:hover {
  background-color: transparent;
  border: 1px solid #a4a4a4; }

#content .btn_white-outline, #content .btn_white-outline:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff; }

#content .btn_mag-outline, #content .btn_mag-outline:hover {
  background-color: transparent;
  color: #e20074;
  border: 1px solid #e20074; }

#content .link {
  color: #007faf;
  text-decoration: underline; }

#content .link:hover {
  color: #00668d;
  text-decoration: underline; }

#content .link:active {
  color: #017ba9;
  text-decoration: none; }

.play {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: inline-block;
  background-color: #ededed;
  border: 1px solid #b4b4b4;
  position: relative; }

.play .fa {
  color: #383838;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-30%); }

#content .input, #content .textarea {
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  font-size: 18px;
  padding: 7px 10px;
  display: block; }

#content .input:active, #content .input:focus, #content .textarea:active, #content .textarea:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  outline: none; }

#content .input-label {
  display: block;
  font-size: 15px;
  color: #383838;
  margin-bottom: 0; }

#content div.radio span {
  border: 1px solid #b6b6b6;
  background-color: #ededed; }

#content div.radio span.checked:before {
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  background-color: #6bb324; }

#content div.checker span {
  border: 1px solid #b6b6b6;
  background-color: #ededed;
  border-radius: 4px; }

#content div.checker span.checked:before {
  left: 6px;
  font-size: 16px; }

.tooltip .qtip-content {
  border-radius: 4px; }

/* =============== CSS FOR STICKY NAV =============== */
#nav-sticky ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto; }

#nav-sticky ul li {
  display: inline-block; }

#nav-sticky {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
  text-transform: uppercase; }

#nav-sticky a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active {
  background-color: #fff;
  color: #e20074; }

#nav-sticky li:last-child {
  float: right; }

#nav-sticky li:last-child a {
  color: #7c7c7c; }

@media screen and (max-width: 960px) {
  #nav-sticky ul {
    width: 100%; } }

@media screen and (max-width: 799px) {
  #nav-sticky-sticky-wrapper, #nav-sticky {
    display: none; } }

/* =============== HERO KV =============== */
.portlet-body .journal-content-article .hero__title {
  color: #fff;
  border: 0;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-top: 0; }

.portlet-body .journal-content-article .hero__desc {
  color: #fff;
  font-size: 20px;
  line-height: 20px; }

.hero__content, .hero__img {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 40px 2%; } }

@media screen and (max-width: 720px) {
  .portlet-body .journal-content-article .hero__title {
    font-size: 30px; } }

@media screen and (max-width: 560px) {
  .hero__content {
    width: 96%;
    margin: 0 2%; } }

/* =============== MEDIA =============== */
.media {
  display: table;
  width: 100%; }

.media__image, .media__body {
  display: table-cell;
  vertical-align: middle; }

.media--top .media__image, .media--top .media__body {
  vertical-align: top; }

.media--bottom .media__image, .media--bottom .media__body {
  vertical-align: bottom; }

.media_v__image, .media_v__body {
  width: 100%; }

/* =============== FANCYBOX =============== */
body .fancybox-wrap {
  border: 10px solid #6b6b6b;
  box-shadow: none; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body .fancybox-wrap .fancybox-close {
  top: -28px;
  right: -28px;
  width: 16px;
  height: 16px; }

/* =============== QTIP =============== */
.tooltip .qtip-content {
  font-size: 14px;
  text-align: center; }

#content .heapBox {
  margin: 0; }

.heapBox .holder {
  border-radius: 4px 0 0 4px; }

.heapBox .handler {
  border-radius: 0 4px 4px 0; }

.heapBox div.heap {
  border-radius: 4px;
  border-top: 1px solid #a1a1a1;
  top: 120%; }

.heapBox div.heap:before {
  display: none; }

#content .heapOptions {
  margin: 0; }

#content .heapBox .holder, #content .heapBox .handler {
  max-height: 36px;
  background-color: #ededed;
  text-decoration: none; }

#content .heapBox.open {
  height: 36px; }

#content .heapBox.open .holder, #content .heapBox.open .handler {
  background-color: #cdcdcd; }

#content .heapBox.open .holder {
  padding: 8px 10px 8px 9px; }

#content .heapBox .handler:after {
  content: "\f107";
  font-family: FontAwesome;
  color: #383838;
  border: 0;
  right: 20px; }

#content .heapBox.open .handler:after {
  content: "\f106"; }

/* TABS */
#content .tabs-container ul {
  list-style: none; }

#content .tabs-container .tab-link {
  cursor: pointer; }

.tab__holder {
  text-align: center;
  line-height: 0; }

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block; }

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left; }

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed; }

.tabs-menu li a {
  font-size: 1em;
  padding: 0 40px;
  color: #757575;
  text-decoration: none;
  display: inline-block; }

.tabs-menu li a:hover {
  color: #383838; }

.tabs-menu .current a {
  color: #6bb324; }

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%; }

.tab__variant {
  display: none; }

.tab__variant.selected {
  display: block; }

.tab-content {
  margin-top: 45px;
  display: none; }

#tab-1 {
  display: block; }

@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%; }
  .tabs-menu li:hover {
    border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0; }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu {
    height: auto; }
  .tab {
    border: 0; }
  .tabs-menu li a {
    padding: 0;
    display: block; } }

#content span.hide-span {
  width: 0;
  height: 0;
  border: 0 !important; }

#content div.checker span.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box; }

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px; }

/* Switchery sizes. */
.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px; }

.switchery-small > small {
  height: 20px;
  width: 20px; }

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px; }

.switchery-large > small {
  height: 40px;
  width: 40px; }

body .fancybox-wrap {
  border: 0; }

.fancybox-skin {
  background-color: #fff;
  border-radius: 3px; }

.fancybox-opened .fancybox-skin {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5); }

.p-head {
  display: block;
  height: 30px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px; }

.p-close {
  background: url("/documents/10179/8158104/ico-close.png") no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  float: right; }

/* =============== LAYOUT IMPORTS =============== */
/* =============== GRID COLUMNS =============== */
#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 {
  float: left; }

#content .grid__col_1 {
  width: 8.20793%; }

#content .grid__col_2 {
  width: 16.55267%; }

#content .grid__col_3 {
  width: 24.8974%; }

#content .grid__col_4 {
  width: 33.24213%; }

#content .grid__col_5 {
  width: 41.58687%; }

#content .grid__col_6 {
  width: 49.9316%; }

#content .grid__col_7 {
  width: 58.27633%; }

#content .grid__col_8 {
  width: 66.62107%; }

#content .grid__col_9 {
  width: 74.9658%; }

#content .grid__col_10 {
  width: 83.31053%; }

#content .grid__col_11 {
  width: 91.65527%; }

#content .grid__col_12 {
  width: 100%; }

#content .grid-g__col_1 {
  width: 6.38298%; }

#content .grid-g__col_2 {
  width: 14.89362%; }

#content .grid-g__col_3 {
  width: 23.40426%; }

#content .grid-g__col_4 {
  width: 31.91489%; }

#content .grid-g__col_5 {
  width: 40.42553%; }

#content .grid-g__col_6 {
  width: 48.93617%; }

#content .grid-g__col_7 {
  width: 57.44681%; }

#content .grid-g__col_8 {
  width: 65.95745%; }

#content .grid-g__col_9 {
  width: 74.46809%; }

#content .grid-g__col_10 {
  width: 82.97872%; }

#content .grid-g__col_11 {
  width: 91.48936%; }

#content .grid-g__col_12 {
  width: 100%; }

/*@import 'grid-system';*/
.row {
  width: 100%;
  float: left; }

.fixed-column {
  width: 940px;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  .fixed-column {
    width: 96%;
    padding: 0 2%; } }

.section {
  width: 100%;
  float: left; }

.col-group:after {
  content: "";
  display: table;
  clear: both; }

.section {
  width: 100%;
  float: left; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 544px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 940px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fixed {
  margin: 0 auto;
  max-width: 940px; }

@media screen and (max-width: 960px) {
  .container-fixed {
    width: 96%;
    padding: 0 2%; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-fluid::after {
  content: "";
  display: table;
  clear: both; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 25%; }

.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 50%; }

.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 75%; }

.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 100%; }

.pull-xs-0 {
  right: auto; }

.pull-xs-1 {
  right: 8.33333%; }

.pull-xs-2 {
  right: 16.66667%; }

.pull-xs-3 {
  right: 25%; }

.pull-xs-4 {
  right: 33.33333%; }

.pull-xs-5 {
  right: 41.66667%; }

.pull-xs-6 {
  right: 50%; }

.pull-xs-7 {
  right: 58.33333%; }

.pull-xs-8 {
  right: 66.66667%; }

.pull-xs-9 {
  right: 75%; }

.pull-xs-10 {
  right: 83.33333%; }

.pull-xs-11 {
  right: 91.66667%; }

.pull-xs-12 {
  right: 100%; }

.push-xs-0 {
  left: auto; }

.push-xs-1 {
  left: 8.33333%; }

.push-xs-2 {
  left: 16.66667%; }

.push-xs-3 {
  left: 25%; }

.push-xs-4 {
  left: 33.33333%; }

.push-xs-5 {
  left: 41.66667%; }

.push-xs-6 {
  left: 50%; }

.push-xs-7 {
  left: 58.33333%; }

.push-xs-8 {
  left: 66.66667%; }

.push-xs-9 {
  left: 75%; }

.push-xs-10 {
  left: 83.33333%; }

.push-xs-11 {
  left: 91.66667%; }

.push-xs-12 {
  left: 100%; }

.offset-xs-1 {
  margin-left: 8.33333%; }

.offset-xs-2 {
  margin-left: 16.66667%; }

.offset-xs-3 {
  margin-left: 25%; }

.offset-xs-4 {
  margin-left: 33.33333%; }

.offset-xs-5 {
  margin-left: 41.66667%; }

.offset-xs-6 {
  margin-left: 50%; }

.offset-xs-7 {
  margin-left: 58.33333%; }

.offset-xs-8 {
  margin-left: 66.66667%; }

.offset-xs-9 {
  margin-left: 75%; }

.offset-xs-10 {
  margin-left: 83.33333%; }

.offset-xs-11 {
  margin-left: 91.66667%; }

@media (min-width: 544px) {
  .col-sm-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-sm-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-sm-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.33333%; }
  .pull-sm-2 {
    right: 16.66667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.33333%; }
  .pull-sm-5 {
    right: 41.66667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.33333%; }
  .pull-sm-8 {
    right: 66.66667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.33333%; }
  .pull-sm-11 {
    right: 91.66667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.33333%; }
  .push-sm-2 {
    left: 16.66667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.33333%; }
  .push-sm-5 {
    left: 41.66667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.33333%; }
  .push-sm-8 {
    left: 66.66667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.33333%; }
  .push-sm-11 {
    left: 91.66667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-md-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.33333%; }
  .pull-md-2 {
    right: 16.66667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.33333%; }
  .pull-md-5 {
    right: 41.66667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.33333%; }
  .pull-md-8 {
    right: 66.66667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.33333%; }
  .pull-md-11 {
    right: 91.66667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.33333%; }
  .push-md-2 {
    left: 16.66667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.33333%; }
  .push-md-5 {
    left: 41.66667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.33333%; }
  .push-md-8 {
    left: 66.66667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.33333%; }
  .push-md-11 {
    left: 91.66667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-lg-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-lg-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-lg-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-lg-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-lg-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-lg-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-lg-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.33333%; }
  .pull-lg-2 {
    right: 16.66667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.33333%; }
  .pull-lg-5 {
    right: 41.66667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.33333%; }
  .pull-lg-8 {
    right: 66.66667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.33333%; }
  .pull-lg-11 {
    right: 91.66667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.33333%; }
  .push-lg-2 {
    left: 16.66667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.33333%; }
  .push-lg-5 {
    left: 41.66667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.33333%; }
  .push-lg-8 {
    left: 66.66667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.33333%; }
  .push-lg-11 {
    left: 91.66667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-xl-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-xl-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-xl-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-xl-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-xl-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-xl-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-xl-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-xl-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-xl-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-xl-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.33333%; }
  .pull-xl-2 {
    right: 16.66667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.33333%; }
  .pull-xl-5 {
    right: 41.66667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.33333%; }
  .pull-xl-8 {
    right: 66.66667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.33333%; }
  .pull-xl-11 {
    right: 91.66667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.33333%; }
  .push-xl-2 {
    left: 16.66667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.33333%; }
  .push-xl-5 {
    left: 41.66667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.33333%; }
  .push-xl-8 {
    left: 66.66667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.33333%; }
  .push-xl-11 {
    left: 91.66667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }

.slick-track:before, .slick-track:after {
  content: "";
  display: table; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }

[dir="rtl"] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* ===============
CSS FOR MICROSITE
=============== */
/* GLOBALS */
.strikethrough {
  position: relative;
  margin-right: 10px; }

.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg); }

#content .sec__title {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin-top: 40px; }

#content .sec__desc {
  max-width: 440px;
  width: 100%;
  text-align: center;
  margin: 0 auto; }

.section .container-fixed {
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 60px; }

#sec-3 .container-fixed, #sec-4 .container-fixed, #sec-5 .container-fixed {
  border-bottom: 0px solid #d0d0d0; }

.container-fixed:after {
  content: "";
  display: table;
  clear: both; }

#content .link-hide {
  visibility: hidden; }

#content .no-padding-bottom {
  padding-bottom: 0; }

#content .mb-10 {
  margin-bottom: 10px !important; }

#content .mb-15 {
  margin-bottom: 15px !important; }

#content .mb-20 {
  margin-bottom: 20px !important; }

/* TABS */
#content .tabs-container ul {
  list-style: none; }

#content .tabs-container .tab-link {
  cursor: pointer; }

.tab__holder {
  text-align: center;
  line-height: 0; }

.segment .tab__holder {
  text-align: left; }

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block;
  border-bottom: 1px solid #dbdbdb; }

#content .segment .tabs-menu {
  height: 39px; }

#content .segment .tabs-menu li.variant:hover {
  height: 39px; }

#content .segment .tabs-menu li a {
  padding: 0 20px; }

#content .segment .tabs-menu li:hover {
  border-bottom: 0px;
  background-color: #ededed; }

#content .segment .tabs-menu .variant.current {
  background-color: #fff;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #fff;
  border-radius: 3px 3px 0 0px; }

#content .segment .tabs-menu .variant.current a {
  color: #757575; }

#content .segment .tabs-menu .variant.current:hover {
  background-color: #fff;
  height: 40px; }

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left;
  margin: 0 40px; }

@media screen and (max-width: 520px) {
  .tabs-menu li {
    margin: 0; } }

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed; }

.tabs-menu li a {
  font-size: 1em;
  padding: 0px;
  color: #757575;
  text-decoration: none;
  display: inline-block; }

.tabs-menu li a:hover {
  color: #383838; }

.tabs-menu .current a {
  color: #6bb324; }

.tab {
  border-top: 0px solid #dbdbdb;
  width: 100%; }

.segment .tab {
  border: none; }

.tab__variant {
  display: none; }

.tab__variant.selected {
  display: block; }

.tab-content {
  margin-top: 45px;
  display: none; }

.segment .tab-content {
  padding-top: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2; }

#tab-1 {
  display: block; }

@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%; }
  .tabs-menu li:hover {
    border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0; }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu {
    height: auto; }
  .tab {
    border: 0; }
  .tabs-menu li a {
    padding: 0;
    display: block; } }

/* TABS END */
/* HERO SECTION */
#hero {
  overflow: hidden;
  min-height: 254px;
  background: url("../img/hero_2560x250_012020.png") no-repeat 50% 50%;
  background-size: cover; }

#hero .container-fixed {
  position: relative; }

#hero .hero__content {
  text-align: center;
  max-width: 460px;
  margin-top: 20px; }

#hero .hero__content .link {
  text-decoration: none;
  color: #3ec0f0; }

#hero .hero__content .btn {
  display: inherit;
  margin-top: 10px; }

#hero .hero__title {
  font-size: 36px;
  margin-top: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
  color: initial;
  padding: 0px 5px;
  background-color: #fff;
  border: 0;
  margin-bottom: 0;
  display: inline-block; }

#hero .hero__title a {
  display: none; }

#hero .hero__subtitle {
  font-size: 30px;
  line-height: normal;
  margin-top: 20px;
  padding-bottom: 0;
  text-transform: uppercase;
  margin: 3px 0 0 0;
  border: 0; }

#hero .hero__subtitle * {
  color: initial;
  display: inline-block;
  padding: 0px 5px;
  font-weight: 800;
  background-color: #fff; }

#hero .link {
  font-size: 18px;
  font-weight: 400;
  margin-top: 10px;
  display: block;
  text-decoration: underline; }

#hero .hero__link {
  margin-top: 10px;
  display: inline-block;
  text-decoration: underline; }

#hero .best-6x {
  max-width: 150px;
  top: 60px;
  right: 0;
  position: absolute; }

#hero img:nth-of-type(2) {
  display: none; }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 0px; }
  #hero .hero__title {
    margin-top: 35px;
    font-size: 32px; }
  #hero .hero__subtitle {
    font-size: 26px; } }

@media screen and (max-width: 768px) {
  #hero {
    background: url("../img/hero_2560x250_012020.png") no-repeat 65% 50%;
    background-size: cover; }
  #hero .hero__title {
    font-size: 32px; }
  #hero .hero__subtitle {
    font-size: 24px; } }

@media screen and (max-width: 560px) {
  .best-6x {
    display: none; } }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__mobile {
    background: url("../img/hero_2560x250_012020.png") no-repeat 65% 50%;
    height: 200px; }
  #hero .hero__content {
    width: 96%;
    padding: 10px 4%;
    margin-top: 0; }
  #hero .hero__content .link {
    color: #017ba9; }
  #content .hero__desc, #content .hero__subtitle {
    color: #262626;
    line-height: normal; } }

/* ITEMS */
.item {
  text-align: center; }

#content .item__title, #content .item__desc, #content .item__link {
  margin: 0; }

#content .item__title {
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0 0 0; }

@media screen and (max-width: 768px) {
  .sec-1 .item:nth-of-type(2) {
    margin: 20px 0; } }

/* POPUP */
h2.lightbox-title {
  font-size: 20px;
  color: #e20074;
  margin-bottom: 10px; }

#lightbox-zd p {
  font-size: 18px;
  color: #444; }

a.lightbox-btn {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #65ac20;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none; }

a.lightbox-btn:hover {
  color: #fff;
  background-color: #58951c;
  border: 1px solid #4d8319; }

.fancybox_hide {
  display: none;
  text-align: center; }

.easy-lightbox {
  display: none; }

.predplatenka-lightbox {
  display: none; }

.fancybox_hide .p-content {
  padding: 40px; }

.predplatenka-lightbox h2 {
  font-size: 23px; }

.predplatenka-lightbox .magenta {
  color: #e20074; }

#content .deactivate > a.link, #content .deactivate > a.link:active {
  color: #8b8b8b; }

.p-title {
  color: #e20074;
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px; }

.p-content td {
  font-size: 16px;
  color: #262626; }

.p-content td:nth-of-type(2) {
  text-align: right; }

.p-content tr {
  border-bottom: 1px solid #ededed; }

/* SLIDER */
.app-slider {
  max-width: 675px;
  margin: 0 auto;
  position: relative; }

.slick-list {
  padding: 15px 0; }

.slick-track {
  display: flex; }

.slick-slide {
  display: flex !important;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0 10px; }

.slick-slide img {
  display: inline; }

.slick-list {
  margin: 0 -10px; }

#content .mb-5 {
  margin-bottom: 10px !important; }

#content .mb-10 {
  margin-bottom: 10px !important; }

#content .mb-15 {
  margin-bottom: 15px !important; }

#content .mb-20 {
  margin-bottom: 20px !important; }

#content .mt-5 {
  margin-top: 5px !important; }

#content .mt-10 {
  margin-top: 10px !important; }

#content .mt-15 {
  margin-top: 15px !important; }

#content .mt-20 {
  margin-top: 20px !important; }

#content .slick-arrow {
  font-size: 0;
  height: 44px;
  width: 44px;
  transform: none;
  transition: none;
  border: none !important;
  background: transparent url("../img/btn-sprite.png");
  position: absolute;
  top: 43%;
  z-index: 10; }

#content .slick-prev {
  background-position: 0 0;
  left: -48px; }

#content .slick-next {
  background-position: 44px 0;
  right: -48px; }

#content .slick-prev:hover {
  background-position: 0 88px; }

#content .slick-next:hover {
  background-position: 44px 88px; }

#content .slick-prev:active {
  background-position: 0 44px; }

#content .slick-next:active {
  background-position: 44px 44px; }

.slick-dots button {
  font-size: 0;
  height: 8px;
  width: 8px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #b6b6b6 !important;
  background-color: #ededed; }

#content ul.slick-dots {
  margin: 10px 0 0 0;
  text-align: center;
  height: 8px; }

.slick-dots li {
  display: inline-block;
  margin: 0 2px;
  height: 8px; }

.slick-dots .slick-active button, .slick-dots button:focus, .slick-dots button:hover {
  border: 1px solid #568727 !important;
  background-color: #6bb324; }

/* BOX */
#content .new-ribbon {
  position: absolute;
  width: 172px;
  color: #ffffff;
  background: #235482;
  text-align: center;
  top: -11px;
  transform: translateX(-50%);
  left: 50%; }

.p-box {
  float: left;
  outline: none !important; }

.p-box {
  transition: all 0.2s ease-in-out;
  position: relative;
  text-align: center;
  display: flex;
  flex-flow: column; }

#content .p-detail p.box__title {
  color: #e20074;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase; }

#content .p-detail .p-row-1 {
  font-size: 18px;
  margin-bottom: 10px; }

#content .p-detail .p-row-3 {
  padding: 50px; }

.p-box:hover {
  transform: scale(1.01);
  -webkit-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
  box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4); }

.p-box, .box {
  border: 1px solid #dcdcdc;
  padding: 20px 30px 20px 30px;
  min-height: 456px;
  width: 320px;
  background-color: #fff; }

.p-box_new {
  border: 1px solid #235482; }

.p-detail {
  flex-grow: 1;
  width: 100%; }

#content .p-detail p {
  font-size: 15px;
  margin: 0; }

#content .p-detail .link {
  display: inline-block; }

#content .p-detail p b, #content .p-price-label, #content .p-price-label2 {
  color: #262626;
  font-weight: 500; }

#content .p-price {
  font-size: 28px;
  color: #e20074; }

#content .p-price-label2 .p-price {
  font-size: 20px;
  color: #e20074;
  line-height: 14px; }

#content .p-price-label2 {
  font-size: 14px; }

#content .p-actions {
  width: 100%; }

#content .p-actions .cta {
  margin: 8px 0; }

#content .as2 .p-actions .cta {
  margin: 0; }

#content .p-actions .link {
  text-decoration: none; }

#content .p-actions .btn {
  padding: 8px 0;
  width: 100%; }

@media screen and (max-width: 760px) {
  .p-box .box {
    margin: 0 auto; }
  #content .slick-prev {
    left: 0; }
  #content .slick-next {
    right: 0; } }

/* SEC 2 */
.sec-2 .tabs-container {
  margin-top: 10px; }

/* SEC 3 */
.sec-3 .row {
  margin: 15px 0 10px 0; }

.sec-3 .row.p-price-label2 {
  margin: 5px 0 5px 0; }

@media screen and (max-width: 767px) {
  .sec-3 .row > div {
    display: flex;
    justify-content: center; } }

.sec-3 .no-padding {
  padding-left: 0;
  padding-right: 15px; }

.sec-3 .wraper {
  margin: 0 auto; }

.sec-3 .small-desc {
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  font-size: 15px; }

.sec-3 .col-md-6:first-of-type {
  padding-right: 10px; }

.sec-3 .col-md-6:last-of-type {
  padding-left: 10px; }

.sec-3 .p-box {
  min-height: inherit;
  width: 100%;
  margin: 5px 0;
  max-width: 360px; }

@media screen and (min-width: 768px) {
  .sec-3 .p-box {
    margin: 0; } }

.sec-3 .p-box-vianoce {
  min-height: 370px; }

@media screen and (max-width: 768px) {
  .sec-3 .p-box-vianoce {
    margin-bottom: 20px; } }

#content .sec-3 .sec__desc {
  max-width: 600px; }

#content .sec-3 .accordion {
  display: none; }

#content .sec-3 .accordion .content {
  padding: 0 5% 10px 5%; }

#content .sec-3 .p-detail {
  text-align: left; }

#content .sec-3 .p-detail .box__title {
  color: #262626;
  text-transform: none;
  font-size: 16px; }

#content .sec-3 .p-detail .f-20 {
  font-size: 20px; }

#content .sec-3 .p-detail ul {
  margin: 0 0 15px 17px;
  list-style: square;
  font-size: 16px; }

#content .sec-3 .p-detail ul li {
  list-style: square; }

.p-box .label {
  position: absolute;
  top: -11px;
  background-color: #383838;
  padding: 3px 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto; }

#content .sec-3 .p-price-label:last-of-type {
  font-size: 16px;
  color: #757575;
  font-weight: normal; }

.sec-3 .p-box .p-detail {
  text-align: left; }

@media screen and (max-width: 521px) {
  .sec-3 .accordion {
    margin-top: 15px; } }

/* SEC 4 */
#sec-4 {
  background-color: #e6e6e6; }

.box-akt-akcie {
  width: auto;
  min-height: inherit;
  padding: 0;
  display: flex; }

.box-akt-akcie:after {
  content: "";
  display: table;
  clear: both; }

.a-box__content {
  padding: 30px 30px 0 20px; }

.box-akt-akcie_small .a-box__content {
  padding: 40px 30px 10px 20px; }

#content .a-box__content .btn {
  padding: 8px 0;
  width: 100%;
  text-align: center; }

.box-akt-akcie_small {
  flex-direction: column;
  flex: 0.7; }

.box-akt-akcie_small .a-box__content {
  padding-top: 5px; }

#content .ico-sq {
  font-size: 6px;
  vertical-align: middle; }

.box-akt-akcie_small .a-box-img {
  background: url("../img/img-2.jpg") 50% 50%;
  min-height: 150px;
  background-size: cover; }

.box-akt-akcie_large {
  margin-right: 20px;
  flex: 1; }

.box-akt-akcie_large .a-box-img {
  background: url("../img/img-1.jpg") 50% 50%;
  background-size: cover; }

#content .a-box__title {
  font-size: 16px;
  font-weight: 500; }

#content .box-akt-akcie_large .a-box__desc {
  margin: 0; }

#content .box-akt-akcie_large .link {
  margin: 0; }

#content .box-akt-akcie_large .cta {
  margin-top: 40px; }

/* LIGHTBOX */
.easy-lightbox {
  display: none;
  text-align: center;
  max-width: 500px;
  padding: 10px 30px 30px 30px; }

.easy-lightbox h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  color: #e20074;
  text-transform: uppercase; }

.easy-lightbox h3 {
  text-transform: uppercase; }

.easy-kredit tr {
  background-color: #fff; }

.easy-kredit tr:last-child {
  background-color: #e20074;
  color: #fff; }

.easy-kredit td {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px; }

.kredit-ceny {
  font-size: 0.9em;
  text-align: left; }

/* TOOLTIP */
.tooltip .qtip-content {
  font-size: 14px; }

.row-middle {
  width: 55%;
  margin-left: 20px; }

@media screen and (max-width: 980px) {
  .vianoce-main-img {
    display: none; }
  .saleBox .box-left {
    padding-right: 13px; }
  .row-middle {
    width: auto;
    margin-left: 0;
    margin-top: 20px; }
  .row-right {
    margin-top: 20px;
    margin-left: 0; }
  .row-left {
    padding-bottom: 20px; }
  .saleBox {
    min-height: 100%;
    height: auto; } }

@media screen and (max-width: 790px) {
  .box-akt-akcie_large {
    flex-direction: column; }
  .box-akt-akcie_large .a-box-img, .box-akt-akcie_large .a-box__content {
    width: 100%; }
  .box-akt-akcie_large .a-box__content {
    padding: 5px 30px 10px 20px; }
  .box-akt-akcie_large .a-box-img {
    min-height: 150px; }
  #content .box-akt-akcie_large .cta {
    margin-top: 10px; }
  .box-akt-akcie_small {
    flex: 1; } }

@media screen and (max-width: 600px) {
  .box-akt-akcie_large {
    margin: 0 0 20px 0; } }

.saleBox {
  font-size: 16px;
  min-height: 278px;
  display: flex;
  /* align-content: center; */
  align-items: center;
  flex-flow: column; }

@media screen and (max-width: 768px) {
  .saleBox {
    margin-bottom: 3%;
    min-height: auto; } }

.saleBox h4 {
  font-size: 18px;
  color: #262626;
  font-weight: bold; }

.saleBox .box-left {
  padding-left: 13px;
  padding-top: 15px; }

.saleBox .akcia {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 16px; }

.saleBox .akcia .price {
  color: #e20074;
  font-size: 21px; }

.inner-padding {
  min-height: 278px;
  padding: 0% 5%;
  border: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@media screen and (max-width: 768px) {
  .inner-padding {
    min-height: auto; } }

.gridFix {
  padding: 0; }

@media screen and (max-width: 550px) {
  .col-xs-12 {
    width: 100% !important; } }

/* AKTUALNE AKCIE 01.2018 */
.akcieBox {
  border: 1px solid #ccc;
  display: flex !important;
  margin-bottom: 20px; }

@media screen and (max-width: 768px) {
  .akcieBox {
    flex-direction: column; } }

.akcieBox .akciaLeft2 {
  background: url(../img/3gbzadarmo.png) no-repeat 50% 50%;
  background-size: cover;
  width: 42%; }

@media screen and (max-width: 768px) {
  .akcieBox .akciaLeft2 {
    background: url(../img/3gbzadarmo_768.png) no-repeat 50% 50%;
    background-color: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 120px;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  .akcieBox .akciaLeft2 {
    width: 100%;
    background: url(../img/3gbzadarmo_480.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 78px; } }

.akcieBox .akciaRight {
  background-color: #fff;
  min-height: 354px; }

@media screen and (max-width: 768px) {
  .akcieBox .akciaRight {
    min-height: 312px; } }

.akcieBox .akciaRight .rightWrapper {
  padding: 20px 23px 30px 23px; }

@media screen and (max-width: 940px) {
  .akcieBox .akciaRight .rightWrapper {
    min-height: 256px; } }

@media screen and (max-width: 768px) {
  .akcieBox .akciaRight .rightWrapper {
    padding: 20px;
    padding-top: 0%; } }

.akcieBox .akciaRight .rightWrapper h3.akciaHeadline {
  text-align: left;
  color: #000;
  font-size: 25px; }

@media screen and (max-width: 768px) {
  .akcieBox .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 18px; } }

@media screen and (max-width: 550px) {
  .akcieBox .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 24px; } }

.akcieBox .akciaRight .rightWrapper .btnodporucit {
  margin-top: 15px; }

.akcieBox .akciaRight .rightWrapper .magentaBold {
  color: #e20074;
  margin-top: 0; }

.akcieBox .akciaRight .rightWrapper .akciaSteps {
  margin-bottom: 0px; }

.akcieBox2 {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; }

.akcieBox2 .akciaLeft {
  background: url(../img/4gSIM.png) no-repeat 50% 50%;
  background-size: cover;
  width: 100%;
  min-height: 110px; }

@media screen and (max-width: 768px) {
  .akcieBox2 .akciaLeft {
    background: url(../img/4gSIM_768.png) no-repeat 50% 50%;
    width: 100%;
    min-height: 120px;
    background-size: cover; } }

@media screen and (max-width: 480px) {
  .akcieBox2 .akciaLeft {
    width: 100%;
    background: url(../img/4gSIM_480.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 78px; } }

.akcieBox2 .akciaRight {
  background-color: #fff; }

@media screen and (max-width: 940px) {
  .akcieBox2 .akciaRight {
    min-height: 256px;
    padding-left: 5px;
    padding-right: 5px; } }

@media screen and (max-width: 768px) {
  .akcieBox2 .akciaRight {
    min-height: 312px; } }

@media screen and (max-width: 550px) {
  .akcieBox2 .akciaRight {
    min-height: auto; } }

.akcieBox2 .akciaRight .rightWrapper {
  padding-bottom: 12px; }

@media screen and (max-width: 768px) {
  .akcieBox2 .akciaRight .rightWrapper {
    padding: 10px;
    padding-top: 0%; } }

.akcieBox2 .akciaRight .rightWrapper h3.akciaHeadline {
  text-align: center;
  color: #000;
  margin: 0;
  padding: 20px 0 0px; }

@media screen and (max-width: 768px) {
  .akcieBox2 .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 18px; } }

@media screen and (max-width: 550px) {
  .akcieBox2 .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 24px; } }

.akcieBox2 .akciaRight .rightWrapper .btnodporucit {
  margin-top: 15px; }

.akcieBox2 .akciaRight .rightWrapper .magentaBold {
  color: #e20074;
  margin-top: 0; }

.akcieBox2 .akciaRight .rightWrapper .akciaSteps {
  margin-bottom: 0px; }

.akcieBox3 {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px; }

@media screen and (max-width: 550px) {
  .akcieBox3 {
    flex-direction: column; } }

.akcieBox3 .akciaLeft {
  background: url(../img/top_siet_564x340.png) no-repeat 50% 50%;
  background-size: cover; }

@media screen and (max-width: 920px) {
  .akcieBox3 .akciaLeft {
    background-size: cover; } }

@media screen and (max-width: 768px) {
  .akcieBox3 .akciaLeft {
    background: url(../img/top_siet_564x340.png) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 550px) {
  .akcieBox3 .akciaLeft {
    width: 100%;
    background: url(../img/top_siet_564x340.png) no-repeat 50% 50%;
    background-size: cover;
    min-height: 290px; } }

@media screen and (max-width: 480px) {
  .akcieBox3 .akciaLeft {
    min-height: 250px; } }

@media screen and (max-width: 380px) {
  .akcieBox3 .akciaLeft {
    min-height: 200px; } }

@media screen and (max-width: 320px) {
  .akcieBox3 .akciaLeft {
    min-height: 160px; } }

.akcieBox3 .akciaLeft .best-6x {
  display: block;
  max-width: 150px;
  position: absolute;
  right: 30px;
  top: 30px; }

.akcieBox3 .akciaRight {
  background-color: #fff; }

@media screen and (max-width: 920px) {
  .akcieBox3 .akciaRight {
    width: 60%; } }

@media screen and (max-width: 768px) {
  .akcieBox3 .akciaRight {
    width: 75%; } }

@media screen and (max-width: 550px) {
  .akcieBox3 .akciaRight {
    order: 1; } }

.akcieBox3 .akciaRight .rightWrapper {
  padding: 30px 20px; }

@media screen and (max-width: 768px) {
  .akcieBox3 .akciaRight .rightWrapper {
    padding: 20px 20px; } }

.akcieBox3 .akciaRight .rightWrapper h3.akciaHeadline {
  text-align: left;
  color: #000;
  margin: 0;
  padding: 0px 0 0px; }

@media screen and (max-width: 768px) {
  .akcieBox3 .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 18px; } }

@media screen and (max-width: 550px) {
  .akcieBox3 .akciaRight .rightWrapper h3.akciaHeadline {
    font-size: 24px; } }

.akcieBox3 .akciaRight .rightWrapper .btnodporucit {
  margin-top: 25px; }

.akcieBox3 .akciaRight .rightWrapper .magentaBold {
  color: #e20074;
  margin-top: 0; }

.akcieBox3 .akciaRight .rightWrapper .akciaSteps {
  margin-bottom: 0px;
  line-height: normal; }

.akcieBox3 .akciaRight .rightWrapper .btn.cta {
  padding: 8px 12px !important; }

a.mobileNumber {
  color: #4b4b4b; }

/* AKTUALNE AKCIE 01.2018 END */
/* SEC 5 */
#sec-5 {
  margin-bottom: 30px; }

@media screen and (max-width: 768px) {
  .sec-5 .row .item:nth-of-type(3) {
    margin-top: 15px; } }

.custom-legal {
  font-size: 15px;
  margin: 10px;
  display: inline-block; }

.slick-list {
  overflow: hidden; }

#content .btn-sms {
  display: none; }

@media screen and (max-width: 560px) {
  #content .btn-sms {
    display: block; } }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none; }

#content a.toggle-arrow .arrow-right {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: baseline;
  border-style: solid;
  border-width: 4.5px 0 4.5px 6px;
  border-color: transparent transparent transparent #007faf;
  transition: all 300ms; }

#content a.toggle-arrow:hover, #content a.toggle-arrow:hover span.arrow-right {
  color: #00668d;
  text-decoration: none;
  border-color: transparent transparent transparent #00668d; }

#content .arrow-content {
  display: none; }

#content .arrow-rotate {
  transform: rotate(90deg); }

/* gridfix 768 */
@media screen and (max-width: 768px) {
  .gridFix {
    width: auto; } }

@media screen and (max-width: 769px) {
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-1 {
    width: 8.33333%; } }

@media screen and (max-width: 480px) {
  .col-xs-12 {
    width: 100%; }
  .col-xs-11 {
    width: 91.66667%; }
  .col-xs-10 {
    width: 83.33333%; }
  .col-xs-9 {
    width: 75%; }
  .col-xs-8 {
    width: 66.66667%; }
  .col-xs-7 {
    width: 58.33333%; }
  .col-xs-6 {
    width: 50%; }
  .col-xs-5 {
    width: 41.66667%; }
  .col-xs-4 {
    width: 33.33333%; }
  .col-xs-3 {
    width: 25%; }
  .col-xs-2 {
    width: 16.66667%; }
  .col-xs-1 {
    width: 8.33333%; } }

/*# sourceMappingURL=maps/style.css.map */
