/* ===============
   FORMS
   =============== */

$green: #1ecd97;
$gray: #bbbbbb;
$white: #fff;
$error-color: #FFCC00;

$input-border: #e5e5e5;
$font-color: #999;
$font-bold: 500;

.p-0 {
  padding: 0;
}

/* --webkit input autofill bg fix */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #fff inset, 0 1px 0 0 $input-border  !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset, 0 1px 0 0 $input-border  !important;
}

#esales_forms {
  background-color: #F2F2F2;
  .esales_form {
    /* bg image */
    &-imgWrapper {
      overflow: hidden;
      .img {
        position: relative;
        left: 50%;
        transform: translate(-50%);
      }
      min-height: 450px;
      background: url('https://www.telekom.sk/documents/10179/17462999/hero.png');
      background-position: 50% 0%;
    }
    /* form body */
    &-wrapper {
      max-width: 650px;
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
      margin: -250px auto 50px auto;
      background-color: $white;
      transition: all 250ms linear;
      -webkit-transition: all 250ms linear;
      -moz-transition: all 250ms linear;
      -ms-transition: all 250ms linear;
      -o-transition: all 250ms linear;
      @media screen and (max-width: 768px) {
        max-width: 450px;
      }
      @media screen and (max-width: 543px) {
        margin-top: -200px;
      }
      &--headline {
        padding: 10px 30px;
        background-color: #383838;
        p {
          color: $white;
          font-weight: $font-bold;
          font-size: 20px;
        }
      }
      &--body {
        padding: 30px;
        .headline {
          p {
            font-size: 22px;
            line-height: normal;
            font-weight: $font-bold;
            margin: 0 0 20px 0;
          }
        }
        .form-group {
          position: relative;
          margin-top: 20px;
          &.group-inline {
            max-width: 49.5%;
            width: 100%;
            display: inline-block;
            vertical-align: top;
            &-half {
              max-width: 50%;
              display: block;
            }
          }
          &.focused .form-label {
            transform: translateY(-165%);
            font-size: 0.75em;
            color: $magenta;
            -webkit-transform: translateY(-165%);
            -moz-transform: translateY(-165%);
            -ms-transform: translateY(-165%);
            -o-transform: translateY(-165%);
          }
          &--headline {
            margin: 15px 0;
            font-size: 20px;
            font-weight: $font-bold;
          }
          .form-label {
            font-size: 18px;
            position: absolute;
            left: 0;
            top: 20px;
            color: $font-color;
            z-index: 10;
            transition: transform 150ms ease-out, font-size 150ms ease-out;
          }
          .form-label-checkbox, .form-label-radio {
            color: $font-color;
          }
          .form-input {
            cursor: pointer;
            font-weight: $font-bold;
            position: relative;
            padding: 0;
            margin: 14px 0 0px 0;
            width: 100%;
            outline: 0;
            border: 0;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            box-shadow: 0 1px 0 0 $input-border;
            transition: box-shadow 150ms ease-out;
  
            &:focus {
              box-shadow: 0 1px 0 0 #e20074;
            }
            &.filled {
              margin: 14px 0 0px 0;
            }
          }
          &.checkboxes {
            div.checker {
              span {
                border-radius: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                -ms-border-radius: 0px;
                -o-border-radius: 0px;
}
            }
          }
          /* validation error */
          &.error {
            input {
              color: $error-color;
              box-shadow: 0 1px 0 0 $error-color !important;
            }
            label.form-label {
              padding-top: 0;
            }
            label {
              color: $error-color !important;
              font-size: 16px;
              padding-top: 10px;
              display: block;
            }
            .checker span {
              border:  1px solid $error-color;
            }
            /* terms & agreements errors */
            .termsAgree-wrapper {
              label.form-label-checkbox {
                display: initial;
                font-size: 16px;
                color: $font-color !important;
                padding-top: 0;
              }
              label.error {
                display: block !important;
              }
            }
          }
          /* validation valid */
          &.valid {
            label.form-label {
              color: $font-color;
            }
          }
        }
        .termsAgree {
          padding: 30px 0;
          label {
            color: $font-color;
            font-size: 16px;
          }
        }
        .submit {
          width: 100%;
          text-align: right;
          button {
            width: 100%;
            line-height: inherit;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            -ms-border-radius: 0;
            -o-border-radius: 0;
            &.disabled {
              background-color: $gray;
              border: 1px solid $gray !important;
              &:hover {
                transition: all none;
                -webkit-transition: all none;
                -moz-transition: all none;
                -ms-transition: all none;
                -o-transition: all none;
              }
            }
          }
        }
      }
      &--thankYouPage {
        display: none;
        padding: 30px;
      }
    }
  }
}



