<style type="text/css">
.nadpis {
    margin-bottom: 15px;
  }
  .nadpis span {
    font-weight: 600;
  }
  a {
    text-decoration: none !important;
  }
  .linky li {
    list-style: none;
    display: block;
  }
  .dlazdice {
    width: 78%;
  }
  .dlazdica {
    width: 48%;
    float: left;
    min-height: 188px;
    border: 1px solid #D6D6D6;
    margin-left: 1%;
    margin-bottom: 1%;
  }
  .dlazdica h2 {
    text-align: center;
    border-bottom: none !important;
    padding-bottom: 20px;
  }
  .sluzba {
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    position: relative;
  }
  .sluzba img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
  }
  #zarovnaj {
    padding-bottom: 70px;
  }
  .vyhody {
    display: block;
    width: 21%;
    height: 387px;
    background: #bfcb44;
    float: left;
    margin-left: 2%;
    margin-top: -198px;
    line-height: 0.5em;
  }
  .vyhody div {
    display: inline-block;
    margin-left: 10%;
  }
  .vyhody img {
    float: left;
    margin-top: 15px;
    margin-right: 10px;
  }
  .vyhody p {
    float: right;
  }
  .vyhody h3 {
    text-align: center;
  }
  .magio {
    width: 33% !important;
  }
  .balik {
    width: 50%;
  }
  .balik p {
    color: #007FAF;
  }
  .magio p {
    color: #007FAF;
  }
  .sluzba p {
    color: #007FAF;
  }
  /*Firefox FIX*/
  @-moz-document url-prefix(){
    .sluzba p {
      display: inline-block;
      margin-top: 25px;
    }
    #zarovnaj {
      margin: 0px auto;
    }
    .sluzba {
      margin-top: -15px;
    }
  @media screen and (max-width: 753px) {
    .balik {
      margin-top: -32px !important;
    }
  }
  }
  /*MEDIAQUERIES*/
  @media screen and (max-width: 935px) {
    .vyhody {
      display: none;
    }
    .dlazdice {
      width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .balik{
      margin-top: -17px;
    }
  }
  @media screen and (max-width: 700px) {
    .dlazdica {
      width: 90%;
      margin-left: 5%;
    }
    .balik {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 400px) {
    .sluzba {
      width: 50%;
    }
    .vlavo {
    margin-left: -10px;
  }
    .posun {
      margin-top: 30px;
    }
    .magio {
      width: 50% !important;
    }
    .centrovane {
      width: 100% !important;
    }
}

    .sluzba a {
        display: block;
    }


</style>
<h1 class="nadpis">
	<span>E-shop</span> Telekom</h1>
<div class="dlazdice">
	<div class="dlazdica">
		<h2>
			Mobilné služby</h2>
		<ul class="linky">
			<li>
				<div class="sluzba" style="margin-left: -10px;">
					<a href="/volania/happy"><img src="http://www.telekom.sk/documents/10179/475362/telephone_2.png/5182af96-c93c-4416-9742-7a3bdf35f3f6" /></a><br />
					<p>
						<a href="/volania/happy">Mobilné<br />
						paušály</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba">
					<a href="/volania/easy"><img src="http://www.telekom.sk/documents/10179/475362/sim-card.png/7e32e132-8381-4331-81c0-5744adf4e4a1" /></a><br />
					<p>
						<a href="/volania/easy">Dobíjacie<br />
						karty</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba vlavo posun">
					<a href="/internet/mobilny-internet"><img src="http://www.telekom.sk/documents/10179/475362/notebook.png/355800c2-90f2-48d4-9674-ecdad7528439" /></a><br />
					<p>
						<a href="/internet/mobilny-internet">Mobilný<br />
						internet</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba posun">
					<a href="/televizia/magio-go"><img src="http://www.telekom.sk/documents/10179/475362/mobile-tv.png/f6ec8298-82b1-4127-8b52-5669b66a2e13" /></a><br />
					<p>
						<a href="/televizia/magio-go">Mobilná<br />
						televízia</a></p>
				</div>
			</li>
		</ul>
	</div>
	<div class="dlazdica">
		<h2 style="padding-bottom: 30px;">
			Magio služby</h2>
		<ul class="linky">
			<li>
				<div class="sluzba magio vlavo">
					<a href="/internet/magio-internet"><img src="http://www.telekom.sk/documents/10179/475362/internet.png/a02a0901-2256-422f-a8ea-9dccdefa681d" /></a><br />
					<p>
						<a href="/internet/magio-internet">Internet</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba magio">
					<a href="/televizia/magio-televizia"><img src="http://www.telekom.sk/documents/10179/475362/tv.png/ad161460-4e7a-4125-b3a3-a5f256ac941e" /></a><br />
					<p>
						<a href="/televizia/magio-televizia">Televízia</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba magio posun centrovane vlavo">
					<a href="/volania/pevna-linka"><img src="http://www.telekom.sk/documents/10179/475362/telephone.png/c3743b4d-ed3d-4b2e-a095-378d954dd0be" /></a><br />
					<p>
						<a href="/volania/pevna-linka">Pevná linka</a></p>
				</div>
			</li>
		</ul>
	</div>
	<div class="dlazdica">
		<h2 style="padding-bottom: 25px;">
			Zvýhodnené balíky služieb</h2>
		<ul class="linky">
			<li>
				<div class="sluzba balik">
					<a href="/magenta1"><img src="http://www.telekom.sk/documents/10179/475362/magenta1.png/7623231d-d131-4843-8914-19ede1a55729" /></a><br />
					<p>
						<a href="/magenta1">Magenta 1</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba balik">
					<a href="/chytry-balik"><img src="http://www.telekom.sk/documents/10179/475362/smart+package.png/1d69df9a-3d21-476f-b51f-c325172dfe68" /></a><br />
					<p>
						<a href="/chytry-balik">Chytrý balík</a></p>
				</div>
			</li>
		</ul>
	</div>
	<div class="dlazdica">
		<h2 style="padding-bottom: 30px;">
			Mobilné zariadenia</h2>
		<ul class="linky">
			<li>
				<div class="sluzba magio vlavo">
					<a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw"><img src="http://www.telekom.sk/documents/10179/475362/phone.png/b46ae911-2bb1-4dcf-b0bb-4dbcbec9b535" /></a><br />
					<p>
						<a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw">Telefóny</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba magio">
					<a href="/tablety-ponuka"><img src="http://www.telekom.sk/documents/10179/475362/tablet.png/ef3f67da-1b3d-42fe-99a2-4502b1765775" /></a><br />
					<p>
						<a href="/tablety-ponuka">Tablety</a></p>
				</div>
			</li>
			<li>
				<div class="sluzba magio posun centrovane vlavo">
					<a href="/wearables-ponuka1"><img src="http://www.telekom.sk/documents/10179/475362/wearables.png/f82b972d-0361-47d1-bb5a-251f32b999a1" /></a><br />
					<p>
						<a href="/wearables-ponuka1">Wearables</a></p>
				</div>
			</li>
		</ul>
	</div>
</div>
<div class="vyhody">
	<h3>
		Výhody online nákupu</h3>
	<div>
		<img src="http://www.telekom.sk/documents/10179/475362/discount.png/3fd0930e-61fd-4807-bd6f-9d0b16c8fb6c" />
		<p>
			Extra zľavy pri<br />
			nákupe na webe</p>
	</div>
	<div>
		<img src="http://www.telekom.sk/documents/10179/475362/return.png/fa80b542-7c35-4001-abe4-ab1d91fed918" />
		<p>
			Vrátenie tovaru a<br />
			služby bez udania<br />
			dôvodu do 14 dní</p>
	</div>
	<div>
		<img src="http://www.telekom.sk/documents/10179/475362/delivery.png/5ffdf41e-85eb-4249-8291-396eebd1ce5c" />
		<p>
			K vybraným<br />
			službám kuriér<br />
			zadarmo</p>
	</div>
	<div>
		<img src="http://www.telekom.sk/documents/10179/475362/house.png/20a199fd-8901-4e6f-bf8c-316fff2b6161" />
		<p>
			Bez čakania z<br />
			pohodlia domova</p>
	</div>
</div>