<section id="hero">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-7 hero__content text_centered">
                <h1 class="hero__title font_white">
                    PRENOS ČÍSLA</h1>
                <h2 class="hero_subtitle font_white">
                    PREJDITE K NÁM A ZÍSKATE BONUS<br />
                    AŽ 200 €</h2>
                <div class="hero_desc">
                    &nbsp;</div>
                <a class="button button_lima" href="/mam-zaujem/prenos-cisla-bonus-200/formular"><span>PRENIESŤ ČÍSLO</span> </a><br />
                <div class="cta-holder">
                    <a class="scroll-to" href="#sec-3">Pozrieť viac o prenose čísla</a></div>
            </div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">AKO ZÍSKAŤ A UPLATNIŤ BONUS</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">AKO PREBEHNE PRENOS</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">ODPORÚČAME</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="https://www.telekom.sk/documents/10179/544745/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="sec-1 section" id="sec-1">
    <div class="container-fixed">
        <div class="sec__title">
            <b>výhody pri prenose čísla</b></div>
        <div class="row text_centered">
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-01.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold">Vybavíme všetko za vás!</span><br />
                    Požiadajte o prenos čísla a všetky potrebné veci vybavíme za vás. Už o pár dní si budete môcť užívať množstvo výhod.<br />
                    <a href="/mam-zaujem/prenos-cisla-bonus-200/formular">Preniesť číslo</a></p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-02.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">Neobmedzené volania</span><br />
                    Ak si vyberiete niektorý z paušálov Happy, získate neobmedzené volania do pevnej a mobilnej siete Telekom.<br />
                    <a class="scroll-to" href="#sec-2">Pozrieť paušály</a></p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-03.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">U susedov ako doma</span><br />
                    S paušálmi Happy voláte a esemeskujete v susedných štátoch v rámci voľných minút. Po ich minutí máte ceny ako doma!</p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-04.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold">Výhody nákupu na webe</span><br />
                    Pri kúpe cez web máte extra zľavu na mobil, doručenie zadarmo a možnosť vrátiť tovar alebo službu do 14 dní.</p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-05.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">Magio GO zadarmo na 3 mesiace</span><br />
                    Televíziu Magio GO môžete sledovať cez mobil, tablet či notebook všade tam, kde máte internetové pripojenie.</p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-06.png" /></div>
                <p class="sec1__description">
                    <span class="sec1__title text_bold ">Najrýchlejšia 4G sieť</span><br />
                    S paušálmi Happy voláte a esemeskujete v <span class="roaming-info">susedných štátoch</span> v rámci voľných minút. Po ich minutí máte ceny ako doma!</p>
            </div>
        </div>
    </div>
</section>
<!-- oblubene -->
<section class="section sec-2" id="sec-2">
    <div class="container-fixed">
        <div class="sec__title">
            <b>PÄŤ OBĽÚBENÝCH PAUŠÁLOV</b></div>
        <div class="row program-holder">
            <div class="slider" id="program_slider">
                <!-- 1 S -->
                <div class="col-md-6 box-outside" id="happy-s">
                    <!-- program type -->
                    <div class="program_title text_centered">
                        Happy S</div>
                    <div class="program_item">
                        <!--  volania -->
                        <div class="program_volania box-inside">
                            <h3>
                                VOLANIA</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                volania do siete Telekom a pevných sietí v SR</div>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>
                                    100 minút</h4>
                                volania do ostatných sietí v SR a do EÚ<br />
                                odchádzajúce volania <span class="roaming-info">zo susedných štátov</span><br />
                                do celej EÚ</div>
                            <div class="desc">
                                <h4>
                                    100 minút</h4>
                                prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-inside">
                            <h3>
                                SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                    0,10 €</h4>
                                do všetkých sietí v SR a<br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                    400 MB v SR</h4>
                                <h4 class="color_grey">
                                    (200 MB + 200 MB Extra dáta v SR)</h4>
                            </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_black">
                                    16,99 €</h2>
                                <div class="font_black">
                                    mesačne s novým telefónom</div>
                                alebo 15,99 € mesačne bez telefónu</div>
                            <div class="cena-right">
                                &nbsp;</div>
                        </div>
                        <!-- bonus -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na paušál</div>
                                <br />
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na telefón</div>
                            </div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-s">preniesť číslo</a></div>
                    </div>
                </div>
                <!-- 2 M -->
                <div class="col-md-6 box-outside" id="happy-m">
                    <!-- program type -->
                    <div class="program_title text_centered">
                        Happy M</div>
                    <div class="program_item">
                        <!--  volania -->
                        <div class="program_volania box-inside">
                            <h3>
                                VOLANIA</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                volania do siete Telekom a pevných sietí v SR</div>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>
                                    150 minút</h4>
                                volania do ostatných sietí v SR a do EÚ<br />
                                odchádzajúce volania <span class="roaming-info">zo susedných štátov</span><br />
                                do celej EÚ</div>
                            <div class="desc">
                                <h4>
                                    150 minút</h4>
                                prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-inside">
                            <h3>
                                SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                do všetkých sietí v SR a<br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                    1 GB v SR</h4>
                                <h4 class="color_grey">
                                    (500 MB + 500 MB Extra dáta v SR)</h4>
                            </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_black">
                                    23,99 €</h2>
                                <div class="font_black">
                                    mesačne s novým telefónom</div>
                                alebo 19,99 € mesačne bez telefónu</div>
                            <div class="cena-right">
                                &nbsp;</div>
                        </div>
                        <!-- bonus -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2>
                                    100,00 €</h2>
                                <div class="magenta">
                                    bonus na paušál</div>
                                <br />
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na telefón</div>
                            </div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-m">preniesť číslo</a></div>
                    </div>
                </div>
                <!-- 3 L -->
                <div class="col-md-6 box-outside" id="happy-l">
                    <!-- program type -->
                    <div class="program_title text_centered">
                        Happy L</div>
                    <div class="program_item">
                        <!--  volania -->
                        <div class="program_volania box-inside">
                            <h3>
                                VOLANIA</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                volania do siete Telekom a pevných sietí v SR</div>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>
                                    250 minút</h4>
                                volania do ostatných sietí v SR a do EÚ<br />
                                odchádzajúce volania <span class="roaming-info">zo susedných štátov</span><br />
                                do celej EÚ</div>
                            <div class="desc">
                                <h4>
                                    250 minút</h4>
                                prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-inside">
                            <h3>
                                SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                do všetkých sietí v SR a<br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                    3 GB v SR</h4>
                                <h4 class="color_grey">
                                    (2 GB + 1 GB Extra dáta v SR)</h4>
                            </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_black">
                                    29,99 €</h2>
                                <div class="font_black">
                                    mesačne s novým telefónom</div>
                                alebo 27,99 € mesačne bez telefónu</div>
                            <div class="cena-right">
                                &nbsp;</div>
                        </div>
                        <!-- bonus -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2>
                                    100,00 €</h2>
                                <div class="magenta">
                                    bonus na paušál</div>
                                <br />
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na telefón</div>
                            </div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-l">preniesť číslo</a></div>
                    </div>
                </div>
                <!-- 4 XL-call -->
                <div class="col-md-6 box-outside" id="happy-xl-volania">
                    <!-- program type -->
                    <div class="program_title text_centered">
                        HAPPY XL VOLANIA</div>
                    <div class="program_item">
                        <!--  volania -->
                        <div class="program_volania box-inside">
                            <h3>
                                VOLANIA</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                volania do všetkých sietí v SR</div>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                odchádzajúce volania zo SR a <span class="roaming-info">zo susedných štátov</span> do EÚ</div>
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-inside">
                            <h3>
                                SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                    0,10 €</h4>
                                do všetkých sietí v SR a<br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                    1 GB v SR</h4>
                                <h4 class="color_grey">
                                    (500 MB + 500 MB Extra dáta v SR)</h4>
                            </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_black">
                                    29,99 €</h2>
                                <div class="font_black">
                                    mesačne s novým telefónom</div>
                                alebo 27,99 € mesačne bez telefónu</div>
                            <div class="cena-right">
                                &nbsp;</div>
                        </div>
                        <!-- bonus -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2>
                                    100,00 €</h2>
                                <div class="magenta">
                                    bonus na paušál</div>
                                <br />
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na telefón</div>
                            </div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-xl-call">preniesť číslo</a></div>
                    </div>
                </div>
                <!-- 5 XL -->
                <div class="col-md-6 box-outside" id="happy-xl">
                    <!-- program type -->
                    <div class="program_title text_centered">
                        Happy XL</div>
                    <div class="program_item">
                        <!--  volania -->
                        <div class="program_volania box-inside">
                            <h3>
                                VOLANIA</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                volania do všetkých sietí v SR</div>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                odchádzajúce volania zo SR a <span class="roaming-info">zo susedných štátov</span> do EÚ</div>
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                prichádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-inside">
                            <h3>
                                SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                do všetkých sietí v SR a<br />
                                <span class="roaming-info">zo susedných štátov</span> do SR</div>
                        </div>
                        <!--  internet -->
                        <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                    6 GB v SR</h4>
                                <h4 class="color_grey">
                                    (4 GB + 2 GB Extra dáta v SR)</h4>
                            </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_black">
                                    39,99 €</h2>
                                <div class="font_black">
                                    mesačne s novým telefónom</div>
                                alebo 35,99 € mesačne bez telefónu</div>
                            <div class="cena-right">
                                &nbsp;</div>
                        </div>
                        <!-- bonus -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2>
                                    150,00 €</h2>
                                <div class="magenta">
                                    bonus na paušál</div>
                                <br />
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na telefón</div>
                            </div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-xl">preniesť číslo</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- zakladne pausaly -->
<section class="section sec-7" id="sec-7">
    <div class="container-fixed">
        <div class="sec__title">
            <b>ZÁKLADNý PAUŠÁL</b></div>
        <div class="row program-holder text_centered">
            <!-- <div id="zakladne_slider" class="slider"> --><!-- 1 XS -->
            <div class="col-md-6 box-outside offset-md-half" id="happy-xs">
                <!-- program type -->
                <div class="program_title text_centered">
                    Happy XS</div>
                <div class="program_item">
                    <!--  volania -->
                    <div class="program_volania box-inside">
                        <h3>
                            VOLANIA</h3>
                        <div class="desc">
                            <h4>
                                neobmedzené</h4>
                            <span class="happy_xs-info tooltip-info">volania do siete Telekom mimo špičky a cez víkend</span></div>
                        <div class="desc">
                            <h4>
                                neobmedzené</h4>
                            prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                        <div class="desc">
                            <h4>
                                50 minút</h4>
                            volania do všetkých sietí v SR a do EÚ<br />
                            odchádzajúce volania <span class="roaming-info">zo susedných štátov</span><br />
                            do celej EÚ</div>
                        <div class="desc">
                            <h4>
                                50 minút</h4>
                            prichádzajúce roamingové volania vo zvyšku EÚ</div>
                    </div>
                    <!-- sms -->
                    <div class="sms box-inside">
                        <h3>
                            SMS a MMS</h3>
                        <div class="desc">
                            <h4>
                                0,10 €</h4>
                            do všetkých sietí v SR a<br />
                            <span class="roaming-info">zo susedných štátov</span> do SR</div>
                    </div>
                    <!--  internet -->
                    <div class="internet box-inside box-bg">
                        <h3>
                            4G INTERNET V MOBILE</h3>
                        <div class="desc">
                            <h4>
                                200 MB v SR</h4>
                            <h4 class="color_grey">
                                (100 MB + 100 MB Extra dáta v SR)</h4>
                        </div>
                    </div>
                    <!-- price -->
                    <div class="cena">
                        <div class="cena-left">
                            <h2 class="font_black">
                                9,99 €</h2>
                            <div class="font_black">
                                mesačne s novým telefónom</div>
                            alebo 9,99 € mesačne bez telefónu</div>
                        <div class="cena-right">
                            &nbsp;</div>
                    </div>
                    <!-- bonus -->
                    <div class="cena">
                        <div class="cena-left">
                            <h2>
                                50,00 €</h2>
                            <div class="magenta">
                                bonus na paušál</div>
                            <br />
                            <h2>
                                50,00 €</h2>
                            <div class="magenta">
                                bonus na telefón</div>
                        </div>
                    </div>
                    <!--  cta -->
                    <div class="objednat">
                        <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-xs">preniesť číslo</a></div>
                </div>
            </div>
            <!--  </div> --></div>
    </div>
</section>
<!-- pre narocnych  -->
<section class="section sec-8" id="sec-8">
    <div class="container-fixed">
        <div class="sec__title">
            <b>PRE NÁROČNÝCH</b></div>
        <div class="row program-holder text_centered">
            <div class="slider" id="prenarocnych_slider">
                <!-- 1 XXL-->
                <div class="col-md-6 offset-md-3 box-outside" id="happy-xxl">
                    <!-- program type -->
                    <div class="program_title text_centered">
                        Happy XXL</div>
                    <div class="program_item">
                        <!--  volania -->
                        <div class="program_volania box-inside">
                            <h3>
                                VOLANIA</h3>
                            <!-- spec 1 -->
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                volania do všetkých sietí v SR</div>
                            <!-- spec 2 -->
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <!-- spec 3 -->
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                odchádzajúce volania zo SR a<br />
                                <span class="roaming-info">zo susedných štátov</span> do EÚ</div>
                            <!-- spec 4 -->
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                prichádzajúce roamingové volania vo zvyšku EÚ</div>
                            <!-- spec 5 -->
                            <div class="desc">
                                <h4>
                                    100 minút</h4>
                                odchádzajúce roamingové volania vo zvyšku EÚ</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-inside">
                            <h3>
                                SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                zo SR a <span class="roaming-info">zo susedných štátov</span> do SR a EÚ</div>
                        </div>
                        <!--  internet --><!-- <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                predtým <span class="internet-large crossed">6 000 MB</span>&nbsp;&nbsp;<span class="internet-large">8 000 MB</span> teraz
                                <br /> + 100 MB v EÚ</div>
                        </div> -->
                        <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                    9 GB v SR</h4>
                                <h4 class="color_grey">
                                    (8 GB + 1 GB Extra dáta v SR)</h4>
                                <h4>
                                    + 100 MB v EÚ</h4>
                            </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_black">
                                    54,99 €</h2>
                                <div class="font_black">
                                    mesačne s novým telefónom</div>
                                alebo 46,99 € mesačne bez telefónu</div>
                            <div class="cena-right">
                                &nbsp;</div>
                        </div>
                        <!-- bonus -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2>
                                    150,00 €</h2>
                                <div class="magenta">
                                    bonus na paušál</div>
                                <br />
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na telefón</div>
                            </div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-xxl">preniesť číslo</a></div>
                    </div>
                </div>
                <!-- 2 PROFI-->
                <div class="col-md-6 offset-md-3 box-outside" id="happy-profi">
                    <!-- program type -->
                    <div class="program_title text_centered">
                        Happy PROFI</div>
                    <div class="program_item">
                        <!--  volania -->
                        <div class="program_volania box-inside">
                            <h3>
                                VOLANIA</h3>
                            <!-- spec 1 -->
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                volania do všetkých sietí v SR</div>
                            <!-- spec 2 -->
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                prichádzajúce roamingové volania <span class="roaming-info">v susedných štátoch</span></div>
                            <!-- spec 3 -->
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                odchádzajúce volania zo SR a<br />
                                <span class="roaming-info">zo susedných štátov do EÚ</span> a zóny Profi</div>
                            <!-- spec 4 -->
                            <div class="desc">
                                <h4>
                                    1000 minút</h4>
                                prichádzajúce roamingové volania vo zvyšku EÚ a zóne Profi</div>
                            <!-- spec 5 -->
                            <div class="desc">
                                <h4>
                                    200 minút</h4>
                                odchádzajúce roamingové volania vo zvyšku EÚ a zóne Profi</div>
                        </div>
                        <!-- sms -->
                        <div class="sms box-inside">
                            <h3>
                                SMS a MMS</h3>
                            <div class="desc">
                                <h4>
                                    neobmedzené</h4>
                                zo SR a <span class="roaming-info">zo susedných štátov</span> do SR, EÚ a zóny Profi</div>
                        </div>
                        <!--  internet --><!-- <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                predtým <span class="internet-large crossed">6 000 MB</span>&nbsp;&nbsp;<span class="internet-large">12 000 MB</span> teraz
                                <br /> + 500 MB v EÚ</div>
                        </div> -->
                        <div class="internet box-inside box-bg">
                            <h3>
                                4G INTERNET V MOBILE</h3>
                            <div class="desc">
                                <h4>
                                    16 GB v SR</h4>
                                <h4 class="color_grey">
                                    (12 GB + 4 GB Extra dáta v SR)</h4>
                                <h4>
                                    + 500 MB v EÚ + zóna Profi</h4>
                            </div>
                        </div>
                        <!-- price -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2 class="font_black">
                                    69,99 €</h2>
                                <div class="font_black">
                                    mesačne s novým telefónom</div>
                                alebo 59,99 € mesačne bez telefónu</div>
                            <div class="cena-right">
                                &nbsp;</div>
                        </div>
                        <!-- bonus -->
                        <div class="cena">
                            <div class="cena-left">
                                <h2>
                                    150,00 €</h2>
                                <div class="magenta">
                                    bonus na paušál</div>
                                <br />
                                <h2>
                                    50,00 €</h2>
                                <div class="magenta">
                                    bonus na telefón</div>
                            </div>
                        </div>
                        <!--  cta -->
                        <div class="objednat">
                            <a class="btn cta" href="https://www.telekom.sk/mam-zaujem/prenos-cisla-bonus-200/formular" id="order-happy-profi">preniesť číslo</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-3 section" id="sec-3">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="sec__title">
                    <b>AKO ZÍSKAŤ A UPLATNIŤ BONUS</b></div>
                <p class="sec__desc text_centered">
                    Bonus do 200 € získate pri prenose svojho čísla od iného operátora k nám. Čím vyšší paušál si vyberiete, tým väčší bonus dostanete.</p>
                <p class="sec__desc text_centered">
                    Bonus si môžete uplatniť ako zľavu na paušál a nový mobil. Bonus na mobil dostanete okamžite.<br />
                    Bonus na paušál sa vám uplatní počas nasledujúcich 20 mesiacov.</p>
            </div>
            <div class="row text_centered">
                <div class="col-md-4">
                    <p class="sub__title font_magenta">
                        <b>100 €</b> bonus</p>
                    <p class="sub__desc">
                        získate k paušálom Happy XS a S, z toho 50 € na paušál a 50 € na nový telefón <!-- <img class="benefit3" src="/documents/10179/558901/ico-info.png" /> --><br />
                        <a class="benefit3" href="#">Viac info o uplatnení</a></p>
                </div>
                <div class="col-md-4">
                    <p class="sub__title font_magenta">
                        <b>150 €</b> bonus</p>
                    <p class="sub__desc">
                        získate k paušálom Happy M, L a XL Volania, z toho 100 € na paušál a 50 € na nový telefón <!-- <img class="benefit3" src="/documents/10179/558901/ico-info.png" /> --><br />
                        <a class="benefit2" href="#">Viac info o uplatnení</a></p>
                </div>
                <div class="col-md-4">
                    <p class="sub__title font_magenta">
                        <b>200 €</b> bonus</p>
                    <p class="sub__desc">
                        získate k paušálom Happy XL, XXL a Profi, z toho 150 € na paušál a 50 € na nový telefón <!-- <img class="benefit3" src="/documents/10179/558901/ico-info.png" /> --><br />
                        <a class="benefit1" href="#">Viac info o uplatnení</a></p>
                </div>
            </div>
            <div class="row text_centered">
                <div class="col-md-12 mgt-50">
                    <a class="button button_lima" href="/mam-zaujem/prenos-cisla-bonus-200/formular">PRENIESŤ ČÍSLO</a></div>
            </div>
        </div>
    </div>
</section>
<section class="sec-4 section" id="sec-4">
    <div class="container-fixed">
        <div class="row b-b">
            <div class="col-md-8 offset-md-2 ">
                <div class="sec__title">
                    <b>AKO PREBEHNE PRENOS</b></div>
                <p class="sec__desc text_centered">
                    O stave prenosu vás budeme priebežne informovať cez SMS.<br />
                    Poplatok za vydanie novej Telekom SIM karty je 10 €.</p>
                <p class="sec__desc-list">
                    &nbsp;</p>
                <ul class="spec-list spec-list-num">
                    <li data-type="one">
                        <b>Žiadosť o prenos čísla a doručenie</b><br />
                        V priebehu 3 pracovných dní po odoslaní žiadosti vás budeme kontaktovať kvôli overeniu údajov a výberu paušálneho programu, prípadne nového mobilu. Následne vám kuriérom bezplatne doručíme potrebné dokumenty na podpis, novú Telekom SIM kartu a nový mobil (ak ste si ho objednali).</li>
                    <li data-type="two">
                        <b>Fungovanie počas prenosu</b><br />
                        Počas prenosu využívate svoje telefónne číslo u svojho súčasného operátora. Okrem neho môžete používať aj novú Telekom SIM kartu, na ktorej je aktivované dočasné číslo.</li>
                    <li data-type="three">
                        <b>Aktivovanie paušálu Happy</b><br />
                        Do 4 dní po podpísaní dokumentov bude na novej Telekom SIM karte aktivované vaše pôvodné číslo, ktoré môžete ihneď začať používať.</li>
                </ul>
                <p>
                    &nbsp;</p>
            </div>
        </div>
    </div>
</section>
<section class="sec-5 section" id="sec-5">
    <div class="container-fixed">
        <div class="row b-b">
            <div class="sec__title">
                <b>ODPORÚČAME</b></div>
            <div class="row text_centered">
                <div class="col-md-4">
                    <img alt="" src="../assets/img/ico-07.png" />
                    <p class="sub__desc">
                        Skontrolujte si osobné údaje v zmluve so súčasným operátorom. Musia sa zhodovať s tými, ktoré uvediete v&nbsp;žiadosti o&nbsp;prenos do Telekomu.</p>
                </div>
                <div class="col-md-4">
                    <img alt="" src="../assets/img/ico-08.png" />
                    <p class="sub__desc">
                        O&nbsp;prenos čísla vám odporúčame požiadať po skončení viazanosti, pretože váš súčasný operátor si môže uplatniť pokutu za predčasné ukončenie zmluvy.</p>
                </div>
                <div class="col-md-4">
                    <img alt="" src="../assets/img/ico-09.png" />
                    <p class="sub__desc">
                        Pre plynulý a&nbsp;bezproblémový prenos je dôležité, aby ste mali vysporiadané všetky záväzky s vaším súčasným operátorom.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sec-6 section" id="sec-6">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <a class="note-zdielanie" href="" onclick="$('#happy-legal').toggle('slow');return false;">Podmienky:</a>
                <div id="happy-legal" style="display: none;">
                    <div class="happy-legal">
                        <a class="note-legal" href="" onclick="$('#happy-legal-2').toggle('slow');return false;">Bonus za aktiváciu s prenesením čísla</a>
                        <div class="happy-legal-content" id="happy-legal-2">
                            <p>
                                Účastník, ktorý uzavrie Dodatok k Zmluve o poskytovaní verejných služieb s paušálom Happy XS a vyšším s viazanosťou 24 mesiacov (ďalej len „Happy“) vo vzťahu k novej SIM karte a k telefónnemu číslu, ktoré bolo prenesené k Podniku od iného podniku poskytujúceho elektronické komunikačné služby na základe Podnikom akceptovanej Žiadosti o prenos čísla v mobilnej sieti k spoločnosti Slovak Telekom, a.s., získava bonus za aktiváciu čísla (ďalej len „Bonus“) a zľavu vo výške 50 € na akciovú kúpnu cenu Zariadenia (ďalej len „Zľava“). V prípade, ak výška Zľavy presiahne výšku kúpnej ceny Zariadenia, je kúpna cena Zariadenia 1 €. Bonus za aktiváciu je uplatňovaný vo forme zľavy za Služby poskytované vo vzťahu k SIM karte v celkovej výške: (i) Bonus 50,- €, ktorý bude uplatňovaný v sumách po 2,50 € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy XS alebo Happy S v zmysle tohto Dodatku; (ii) Bonus 100,- €, ktorý bude uplatňovaný v sumách po 5,- € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy M, Happy L alebo Happy XL volania v zmysle tohto Dodatku; (iii) Bonus 150,- €, ktorý bude uplatňovaný v sumách po 7,50 € počas dvadsiatich zúčtovacích období, a to od prvého celého zúčtovacieho nasledujúceho po aktivácii programu Služieb Happy XL, Happy XXL alebo Happy Profi v zmysle Dodatku. Bonus podľa predchádzajúcej vety je možné vo vzťahu k telefónnemu číslu využiť a uplatniť iba jedenkrát (nie opakovane), pričom výška Bonusu je počas celého obdobia jeho uplatňovania závislá od úrovne programu Happy, ktorý bol aktivovaný pri uzavretí Dodatku. Nárok na Bonus definitívne zaniká v prípadoch: (i) prerušenia poskytovania Služieb alebo deaktivácie zvoleného programu Služieb Happy na iné programy Služieb než Happy (ii) uzavretia nového dodatku k Zmluve, ktorým sa tento Dodatok zruší. Ponuku nie je možné kombinovať a súčasne využívať s akoukoľvek inou akciovou ponukou Podniku, ak z výslovných pokynov Podniku nevyplýva niečo iné.</p>
                        </div>
                    </div>
                </div>
                <div class="c-content happy-legal-cennik">
                    <p>
                        Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/" target="_blank">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/slider.min.js"></script><!-- <script type="text/javascript" src="../assets/js/slider.js"></script> --><script type="text/javascript" src="../assets/js/main.js"></script>