<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;
		</div>
		<div class="hero__content">
			<div class="hero__holder">
				<h1 class="hero__title">
					Vitajte vo svete
					PREDPLATENKY
				</h1>
				<a class="btn cta_grey scroll-to" href="#sec-2">SPOZNAŤ PREDPLATENKU</a>
			</div>
		</div>
	</div>
</section>

<section class="section sec-2" id="sec-2">
	<div class="container-fixed">
		<div class="row">
			<div class="sec-2-cont col-md-12 text-center">
				<h2 class="headline">
					S PREDPLATENKOU STE ZÍSKALI PLNÉ VRECKÁ NEKONEČNÝCH DÁT A VOLANÍ
				</h2>
				<!-- 1 -->
				<div class="col-md-4 margin30">
					<div class="img-cont">
						<img alt="" src="../assets/img/icon_volania.png"/>
					</div>
					<p class="benefit">
						Rýchly 4G internet v mobile len za 50 centov/deň
					</p>
					<p>
						Surfujte v najlepšej 4G sieti maximálne rýchlosťou až do 150 Mb/s za 50 centov za deň. V deň, kedy nesurfujete, neplatíte samozrejme nič.
					</p>
				</div>

				<!-- 2 -->
				<div class="col-md-4 margin30">
					<div class="img-cont">
						<img alt="" src="../assets/img/icon_internet.png"/>
					</div>
					<p class="benefit">
						Neobmedzené volania do všetkých sietí za max. 50 centov
					</p>
					<p>
						Volajte iba za 10 centov za minútu do akejkoľvek mobilnej siete v SR (Telekom, Orange, O2 alebo 4ka). Ak dosiahnete hranicu 50 centov, viac už v daný deň za volania nezaplatíte.
					</p>
				</div>

				<!-- 3 -->
				<div class="col-md-4 margin30">
					<div class="img-cont">
						<img alt="" src="../assets/img/icon_sms.png"/>
					</div>
					<p class="benefit">
						Neobmedzené SMS a MMS za max. 50 centov
					</p>
					<p>
						Posielajte SMSky za 0,10 € a MMS-ky za 0,39 € do všetkých sietí v SR. Ak pri odosielaní SMS dosiahnete hranicu 0,50€, v daný deň už viac za SMS nezaplatíte.
					</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- AKTUÁLNE AKCIE -->
<section class="section sec-4" id="sec-4">
	<div class="fixed-column">
		<!-- 1 -->
		<div class="row rowHalf">
			<div class="banner-1 box-banner">
				<img alt="" class="boximg" src="../assets/img/predplatenka_aktivacia_1gb.png"/>
				<div class="banner-content">
					<p class="banner-title">
						Aktivujte si 1 GB dát alebo nekonečné volania zadarmo
					</p>
					<p class="banner-1-subtitle">
						K svojej novej Predplatenke si môžete aktivovať jeden z akciových balíkov na 30 dní zadarmo.
					</p>
				</div>
				<div class="btnbottom">
					<a class="button cta_mag" href="/volania/predplatenka#sec-3">Vybrať balík</a></div>
			</div>
		</div>
		<!-- 2 -->
		<div class="row rowHalf">
			<div class="banner-1 box-banner">
				<img alt="" class="boximg" src="../assets/img/predplatenka_appka.png"/>
				<div class="banner-content">
					<p class="banner-title">
						Predplatenka v Telekom appke
					</p>
					<p class="banner-6-subtitle">
						S Telekom appkou získate prehľad o výške kreditu, možnosť ho okamžite dobiť alebo si aktivovať či deaktivovať doplnkové balíky.
					</p>
				</div>
				<div class="btnbottom">
					<a class="button btn_mag-outline" href="https://www.telekom.sk/telekom-aplikacia">Stiahnuť appku</a></div>
			</div>
		</div>
		<!-- 3 -->
		<div class="row rowHalf">
			<div class="banner-1 box-banner">
				<img alt="" class="boximg" src="../assets/img/predplatenka_plne_vrecka.png"/>
				<div class="banner-content">
					<p class="banner-title">
						Získajte vrecká plné nekonečných dát každý piatok!
					</p>
					<p class="banner-6-subtitle">
						Aktivujte si nekonečné dáta každý piatok, ktoré získate na tri mesiace od prvého dobitia kreditu na vašej novej Predplatenke.
					</p>
				</div>
				<div class="btnbottom">
					<a class="button btn_mag-outline" href="https://www.telekom.sk/volania/easy#sec-7">Dobiť a získať kredit navyše</a>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="https://www.telekom.sk/documents/10179/16771346/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript" src="https://www.telekom.sk/documents/10179/16771346/main.js"></script>