/* ===============
   CSS FOR MICROSITE
   =============== */

// RESET & FIX
#content button:not(.disabled):hover,
#content a.button:not(.disabled):hover,
#content input[type="button"]:not(.disabled):hover,
#content input[type="submit"]:not(.disabled):hover {
    transform: none;
}

#contetn .waterbear-theme button {
    border: inherit;
}

#footer {
    //position: initial!important;
    top: 0 !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none!important;
}


#content .container-fluid {
    padding: 0;
}


























/* ===============
    GLOBALS
=============== */

@media screen and (max-width: 768px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
}

#content {
    .br-line {
        display: inline;
    }

    @media screen and (min-width: 768px) {
        .br-line {
            display: block;
        }
    }
}

















/* ===============
    D-2-0-0
=============== */

#d-2-0-0 {
    background: url(../img/main-bg-1.jpg) no-repeat 50% 0;
    padding: 40px 2%;
    overflow: hidden;
    background-size: cover;
    min-height: 884px;
    & h1.main-title {
        color: #fff;
        font-size: 42px;
        line-height: 44px;
    }
    .title__holder {
        background-color: #e20074;
        padding: 10px 20px;
        position: relative;
        z-index: 20;
    }
    .main-desc__wrap {
        padding-left: 23px;
    }
    .main-desc {
        color: #fff;
        margin-top: 40px;
        font-size: 18px;
        & a {
            color: #fff;
            text-decoration: underline;
        }
    }
    .cta {
        font-size: 18px;
        max-height: 50px;
    }
    .title__wrap {
        &:before {
            content: "";
            position: absolute;
            background-color: rgba(226, 0, 116, 0.8);
            width: 95%;
            height: 100%;
            margin: 0;
            top: 30px;
            right: 0;
            left: 5%;
            bottom: 0;
            display: block;
            overflow: hidden;
            z-index: -1;
        }
        &:after {
            content: "";
            position: absolute;
            background-color: rgba(226, 0, 116, 0.8);
            width: 100%;
            height: 100%;
            margin: 0;
            top: 0px;
            right: 0;
            left: 10%;
            bottom: 0;
            display: block;
            overflow: hidden;
            z-index: -1;
        }
    }
}














/* ===============
    STEP INDICATOR
=============== */

#content {
    & .step__wrap {
        cursor: pointer;
        position: relative;
        width: 20%;
        text-align: center;
        background-color: $magenta;
        color: #fff;
        height: 70px;
        padding: 22px;
        font-size: 18px;
        //font-family: Tele-GroteskNor; // Fet
        font-weight: bold;
        line-height: 26px;
        text-transform: uppercase;
        border-right: 1px solid #BC1B5F;
        &.active-step {
            background-color: #fff;
            color: $magenta;
            & .step-num {
                opacity: 0.1;
            }
        }
        &.active-step-current {
            & .step-num {
                opacity: 0.1;
                display: none;
            }
        }
        &.item-selected {
            padding-top: 12px;
        }
        .step-select {
            color: #000;
        }
        .step-num {
            font-size: 70px;
            font-weight: bold;
            opacity: 0.2;
            position: absolute;
            display: block;
            top: 25px;
            right: 5px;
        }
    }
    @media (min-width: 768px) {
        & .step__wrap {
            width: 20%;
        }
    }
    @media (max-width: 760px) {
        & .step__wrap {
            width: 17.5%;
            padding: 22px 3px;
            .step-text, .step-text2 {
                display: none;
            }
            &.active-step-current {
                width: 30%;
                & .step-text {
                    display: block;
                    margin-top: 20px;
                }
            }
            .step-num {
                opacity: 1;
                font-size: 18px;
                line-height: 26px;
                color: #fff;
                position: initial;
                //font-family: Tele-GroteskNor;
            }
            &.active-step:not(.active-step-current) {
                & .step-num {
                    color: $magenta;
                    opacity: 1;
                }
            }
        }
    }
}













/* ===============
    STEP ARROWS
=============== */

#content {
    .text_magenta {
        color: $magenta;
    }
}

#content {
    .controls__wrap {
        background-color: #fff;
        height: 70px;
        & .col-sm-4,
        .col-xs-2 {
            padding: 0;
        }
    }
    .arrow__holder {
        padding: 0;
        cursor: pointer;
        &.arrow-active {
            &:hover {
                & .arrow-ico {
                    background-color: darken($magenta, 10%);
                }
            }
        }
        &:hover {
            & .arrow-ico {
                background-color: darken(#a4a4a4, 10%);
            }
        }
    }
    .indicator__holder {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        padding-top: 10px;
        & .indicator-text {
            display: block;
            font-size: 18px;
            line-height: 22px;
            color: #000;
            @media (max-width: 760px) {
                display: block;
                font-size: 16px;
                line-height: 25px;
            } 
            @media (max-width: 520px) {
                font-size: 14px;
            }
        }
        & .indicator-price {
            font-size: 22px;
            line-height: 33px;
            //font-family: Tele-GroteskNor; // Fet
            font-weight: bold;
            @media (max-width: 975px) {
                font-size: 18px;
            }
            @media (max-width: 520px) {
                font-size: 14px;
            }            
        }
    }
    @media screen and (min-width: 768px) {
        .controls__wrap {
            padding: 0;
        }
    }    
}

.arrow-ico {
    position: relative;
    float: left;
    max-width: 70px;
    height: 70px;
    background-color: #a4a4a4;
    color: #fff;
    font-size: 20px;
    padding: 27px 30px 22.5px 30px;
    @media (max-width: 544px) {
            padding: 27px 15px 22.5px 15px;
    }
}

.arrow-text {
    display: block;
    position: relative;
    float: left;
    color: #A4A4A4;
    padding: 27px 20px 23.8px 20px;
}

.arrow-active {
    & .arrow-ico {
        background-color: $magenta;
    }
    & .arrow-text {
        color: $magenta;
    }
}

@media (max-width: 930px) {
    .arrow-text {
        display: none;
    }
}

.arrow-right {
    float: right;
}


@media (min-width: 768px) {
    .arrow-right {
        left: 75%;
    }
}














/* ===============
    MAIN VIEW HEAD
=============== */

#content {
    .phone-num__wrap {
        margin-top: 30px;
        & .phone-num {
            font-weight: bold;
        }
    }
    .title__wrap {
        margin-top: 20px;
    }

    .sec__desc {
        font-size: 18px;
    }

    @media (max-width: 760px) {
        .sec__desc {
            font-size: 16px;
            padding: 0 20px;
        }
    }
}














/* ===============
    D-2-1-0
=============== */

#d-2-1-0 {
    background-color: #f1f1f1;
    min-height: 600px;
}









/* ===============
    D-2-1-0  Step 1
=============== */

#content {
    .service__wrap {
        margin-bottom: 147px;
    }

    .service__box {
        background-color: #fff;
        box-shadow: 0 2px 4px 0 #D9D9D9;
        border-radius: 5px;
        margin-top: 11px;
        //font-family: Tele-GroteskNor; // Hal
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        color: #000;
        cursor: pointer;
        position: relative;
        &.service__box-select {
            height: 70px;
            padding: 23px 10px;
            @media screen and (max-width: 350px) {
                font-size: 20px;
            }
        }
        &:hover {
            transform: scale(1.05);
        }
        &.service__box-active {
            background-color: #EF2A8B;
            color: #fff;
        }

    }

    // SLIDE BOX
    .slide-box {
        background-color: #fff;
        padding: 20px 25px;
        border: 1px solid $magenta;
        margin-bottom: 15px;
        width: 388px;
        margin-left: auto;
        margin-right:auto;
        & .slide-box__row {
            width: 100%;
            margin: 6px 0;
            padding-bottom: 6px;
        }
        & .slide-box__row-title {
            margin-bottom: 16px;
        }
        & .slide-box__title {
            font-size: 22px;
            //font-family: Tele-GroteskNor; // Hal;
            color: $magenta;
        }
        & .slide-box__price {
            //font-family: Tele-GroteskNor;
            font-size: 22px;
            line-height: 22px;
            text-align: center;
            color: $magenta;
        }
        & .slide-box__value {
            font-weight: bold;
        }
        & .slide-box__disc {
            color: $magenta;
            padding: 0 22%;
            text-align: center;
            font-size: 16px;
        }
        @media screen and (max-width: 390px) {
            width: 300px;
        }
    } // SLIDE SELECT BOX
    & .members {
        & .slide-select-box {
            & .slide-select-box__cube {
                position: relative;
            }
            & .slide-select-box__cube-price.old-price {
                position: absolute;
                top: 5px;
                text-align: center;
                width: 100%;
                color: #aaa;
            }
            & .slide-select-box__cube-price {
                position: absolute;
                text-align: center;
                width: 100%;
                top: 23px;
            }
            & .slide-select-box__cube-type {
                position: absolute;
                top: 44px;
                text-align: center;
                width: 100%;
            }
            & .slide-select-box__only-name {
                font-size: 20px;
                top: 15px;
            }
        }
    }
    .slide-select-box {
        background-color: #fff;
        padding: 10px 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
        border-radius: 3px 0 3px 3px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        left: 50%;
        transform: translate(-50%);
        display: inline-block;
        & .programs .slick-slide {
            color: black;
            padding: 0px 0;
            font-size: 30px;
            font-family: "Arial", "Helvetica";
            text-align: center;
        }
        & .programs .slick-prev:before,
        .programs .slick-next:before {
            color: black;
        }
        & .programs .slick-dots {
            bottom: -40px;
        }
        & .programs .slick-prev {
            left: 0px;
            z-index: 1;
            height: 100%;
            width: 30px;
            background-color: #EF2A8B;
            position: absolute;
            transform: none;
            top: 0;
            line-height: 0;
        }
        & .programs .slick-prev::before {
            content: "\f053";
          color: white;
          opacity: 1;
          font-size: 40px;
          font: normal normal normal 14px/1 FontAwesome;
        }

        & .programs .slick-next {
            right: 0px;
            z-index: 1;
            height: 100%;
            width: 30px;
            background-color: #EF2A8B;
            position: absolute;
            transform: none;
            top: 0;
            line-height: 0;
        }
        & .programs .slick-next::before {
            content: "\f054";
          color: white;
          opacity: 1;
          font-size: 40px;
          font: normal normal normal 14px/1 FontAwesome;
        }

        & .programs .slick-arrow {
            opacity: 0.7;
            filter: alpha(opacity=70);
        }

        & .programs .slick-prev:hover,
        .programs .slick-next:hover,
         {
          color: white;
          outline: none;
          background: #dd006d;
          top: 0px;
        }

        & .programs .slick-prev:focus,
        .programs .slick-next:focus {
          color: white;
          outline: none;
          background: #EF2A8B;
        }

        & .programs .slick-disabled {
          display: none !important;
        }
        & .slide-members {
            display: inline-block;
            vertical-align: top;
            & .program-legal {
                padding-left: 8px;
            }
        }
        & .slide-members:first-of-type {
            border-right: dashed 1px #ccc;
            padding-right: 2px;
        }
        & .slide-select-box__active {
            background-color: #EF2A8B;
            color: #fff !important;
            border: 1px solid #EF2A8B;
        }
        & .slide-select-box__cube {
            width: 83px;
            height: 80px;
            min-width: 68px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 5px;
            margin-left: 5px;
            padding: 0;
            text-align: center;
            cursor: pointer;
            padding-top: 22px;
        }
        & .slide-select-box__cube:hover:not(.slide-select-box__active) {
            color: #EF2A8B;
            border: 1px solid #EF2A8B;
        }
        & .slide-select-box__cube-price {
            font-family: TeleGrotesk; // Hal
            font-size: 20px;
            line-height: 20px;
            font-weight: 600;
        }
        & .slide-select-box__cube-price.old-price {
            font-size: 14px;
            font-weight: 200;
            text-decoration: line-through;
        }
        & .slide-select-box__cube-type {
            font-family: TeleGrotesk; // Hal
            font-size: 14px;
            text-transform: uppercase;
        }
        &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: #fff;
            border-width: 11px;
            margin-left: -11px;
        }
    }

    .b-btm {
        border-bottom: 1px solid #EDEDED;
    }
    .plan-show-detail {
        background: url("../img/ico-search.png") no-repeat center left;
        padding-left: 18px;
        margin-top: 16px;
        margin-bottom: 10px;
        display: inline-block;
    }
    .filter-text-holder {
        float: left;
        width: 60%;
        text-align: right;
    }
    .filter-title {
        //font-family: Tele-GroteskNor; // Fet
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        margin-top: 6px;
    }
    .filter-checkbox-holder {
        width: 40%;
        display: inline-block;
    }
}

#popup_program_members {
  & .program_members_content {
      overflow-y: auto;
    & .slide-select-box {
      display: inline-block;
      box-shadow: none;
      padding: 0;
      & .slide-select-box__cube {
        display: flex;
        flex-direction: column;
        float: left;
        position: relative;
        margin-bottom: 10px;
        color: #000;
        & .slide-select-box__cube-price.old-price {
          margin-left: 0px !important;
            position: absolute;
            top: 5px;
            font-size: 14px !important;
            width: 100%;
            color: #aaa !important;
        }
      }
    }
  }
}










/* ===============
    D-2-2-0
=============== */

#d-2-2-0 {
    background-color: #f1f1f1;
    min-height: 600px;
}












/* ===============
    HELP FLOATING MENU
=============== */

.help-menu {
    height: 52px;
    position: absolute;
    top: 80px;
    right: 0px;
    font-size: 16px;
    z-index: 999;
}

.help-menu__item {
    position: relative;
    background-color: #fff;
    float: right;
    width: 44px;
    height: 44px;
    margin: 0px 5px;
    border: 2px solid #fff;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    border-radius: 22px;
    -moz-box-shadow: 1px 1px 3px #555;
    -webkit-box-shadow: 1px 1px 3px #555;
    box-shadow: 1px 1px 3px #555;
    cursor: pointer;
    overflow: hidden;
}

#content .help-menu__link {
    left: 0px;
    top: 0px;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    float: right;
    z-index: 20;
}

.icon_question {
    background-color: #a4a4a4;
    border-radius: 30px;
}

.help-menu__content {
    position: absolute;
    height: 52px;
    width: 220px;
    overflow: hidden;
    left: 26px;
    top: 0;
    background: transparent;

    z-index: 9;
}

.help-menu__content p {
    color: #000;
    background-color: #fff;
    font-size: 14px;
}
