.tip {
    background-color: #fff2cc;
    padding: 1% 3%;
    margin: 4% 0%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #c0aa69;
}

.circle {
    background-color: #a4a4a4;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    display: inline-block;
    text-align: center;
    margin-left: 3px;
}

.nowrap {
    white-space: nowrap;
}

// Animate start

.fade.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

.fade.ng-leave.ng-leave-active {
    opacity: 0;
}

.help-menu {
    display: none;
}

.help-menu__item {
    transition: width 1s;
}

// Animate end

// timer start
.ajaxLoadingSpinnerOverlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
}

.ajaxLoadingSpinnerOverlay .square {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: $magenta;
    margin: 0 10px;
    top: 50%;
    position: relative;
    margin-top: -15px;
    -webkit-animation: pulse 1200ms infinite;
    animation: pulse 1200ms infinite;
}

// timer end

.no-href {
    cursor: pointer;
}

#content .ul-sq {
    list-style-type: square;
    font-size: 16px;
}

#form_get_user .cont-input {
    min-height: 40px;

    & input {}
}

.color-m {
    color: $magenta !important;
}

.stick-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.stick-bottom {
    position: fixed !important;
    z-index: 999;
}

#content {
    .nav-sticky {
        & .spotlight {
            background-color: $magenta;
            color: #fff;
        }

        & .spotlight:hover {
            background-color: #fff;
            color: $magenta;
        }
    }

    & step-controls {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: solid 1px #eee;
    }

    & .show-popup {
        display: none;
    }

    & .stick-cont {
        height: 805px;
        position: relative;
    }

    & .phone-num.phone-num-2 {
        margin-top: 90px;
    }

    & input {
        //border: solid 1px #6bb324 !important;
        line-height: 15px;
        border-radius: 5px;
    }

    & .btn {
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0px !important;
    }

    & .btn.btn_outline {
        border: solid 1px #bbb !important;
    }

    & .form-try {

        & input,
        .btn {
            width: 70%;
        }

        & a {
            text-transform: uppercase;
        }

        & .form-try-error {
            color: #f55;
        }
    }

    & .form-try-intro {
        & p {
            color: #fff;
            font-size: 18px;
        }

        & .form-try-error {
            text-align: center;
            width: 70%;
        }

        & .form-try-not-interested {
            width: 70%;
            text-align: center;

            & a {
                color: #fff;
            }
        }

        & .ajaxLoadingSpinnerOverlay {
            width: 310px;
        }
    }
}

/* SUMMARY */
#content .phone-num {
    margin-top: 30px;
    text-align: center;
}

#content .indicator__phone {
    margin-top: 12px;
}

#summary-sec-1 {
    background-color: #eee;
    padding: 30px 0;
    border-bottom: solid 1px #ccc;

    & .summary-text {
        font-size: 20px;
        margin-bottom: 20px;
    }

    & .summary-box,
    .summary-box-2 {
        text-align: center;
        padding: 20px 10px 0 10px;
        margin: 20px 0;

        & h3 {
            color: #000;
            padding-bottom: 10px;
            font-size: 26px;
            font-weight: 400;
        }
    }

    & .summary-box {
        background-color: #fff;
    }

    & .summary-box-2 {
        border: solid 1px #ccc;
    }

    & .summary-box-advice {
        padding: 20px 30px;
        background-color: #fff;
        margin: 30px 0;
        text-align: left;
    }

    & .summary-service-title {
        margin-bottom: 15px;
    }

    & .calculate {
        margin-bottom: 20px;
    }

    & .magenta-free {
        list-style-type: inherit;
    }

    & hr {
        height: 0;
        border: 0;
        margin: 10px 0;
        border-top: solid 1px #ccc;
    }

    & .summary-program {
        & hr.dashed {
            border-top: dashed 1px #ccc;
            background-color: #eee;
        }

        & span:not(:first-of-type) {
            margin-left: 10px;
        }

        & .program-desc,
        .program-desc-2 {
            color: #aaa;
            font-size: 14px;
        }

        & .program-desc-2 {
            background-color: #fff;
            padding: 1px 5px;
            border: solid 1px #aaa;
            border-radius: 25px;
        }

        & .old-price {
            text-decoration: line-through;
        }

        & .summary-program-1 {
            float: left;
            width: 48%;
            padding-bottom: 10px;
        }

        & .summary-program-2 {
            float: right;
            width: 48%;
            text-align: right;
            padding-bottom: 5px;
        }
    }
}

/* SUMMARY END*/

/* LANDING PAGE */

/* SECTIONS SETTINGS */
section[class*="sec-"] {
    padding-top: 5%;
    padding-bottom: 5%;

    @media screen and (max-width: 500px) {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

section[class*="sec-"]:nth-of-type(odd) {
    background-color: #ededed;
}

// sekcia 5 fix
section[class*="sec-"]:nth-of-type(5) {
    background-color: #fff;
    padding: 0%;
}

/* SECTIONS SETTINGS END */

/* HERO SECTION */
#hero {
    background: url(../img/hero_940.jpg) no-repeat 55% 50%;
    padding: 60px 2%;
    background-color: black;
    overflow: hidden;
    background-size: cover;

    & .m1-nm {
        font-weight: 800;
        background-color: #000;
        padding: 2px 10px;
        color: #fff;

        @media screen and (max-width: 480px) {
            white-space: nowrap;
            font-size: 28px;
        }
    }

    & .hero__mobile {
        display: none;
    }

    & .hero-ec {
        position: absolute;
        top: 0;
        right: -220px;
    }

    @media screen and (max-width: 900px) {
        background-position: 57% 50%;
    }

    @media screen and (max-width: 768px) {
        background: url(../img/hero_768.jpg) no-repeat 100% 50%;
        background-size: cover;

        & .hero__content {
            & .hero-ec {
                right: -100px;
            }
        }
    }
}

#content .hero__content {
    text-align: center;
    max-width: 460px;
    position: relative;

    & .btn {
        color: #fff;
        margin: 0;
    }
}

#content .hero__title {
    line-height: 42px;
    font-weight: 800;
}

@media screen and (max-width: 560px) {
    #hero {
        & .hero__content {
            & .hero-ec {
                top: -20px;
                right: -40px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    #hero .hero__mobile {
        background: url(../img/hero_480.jpg) no-repeat 100% 50%;
        height: 220px;
        background-size: cover;
        display: block;

        & .hero-ec {
            top: 60px;
            left: 20px;
        }
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
        text-align: center !important;

        & .hero-ec {
            display: none;
        }
    }

    #content .hero__title,
    #content .hero__desc {
        color: $magenta;
        text-align: center;
    }

    #hero .btn {
        margin-top: 60px;
    }

    #content .hero__content .btn {
        color: #fff;
    }

    #content .hero__content .btn_outline {
        color: #000;
    }
}

/* H1 */
#content h1 {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #content h1 {
        font-size: 32px;
    }
}

/* H2 */
#content h2 {
    font-size: 32px;
    color: $magenta;
    text-transform: uppercase;
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    #content h2 {
        font-size: 28px;
    }
}

/* H2 EXCEPT */
#content h2.except {
    font-size: 32px;
    color: #262626;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #content h2.except {
        font-size: 28px;
    }
}

/* H3 */
#content h3 {
    font-size: 16px;
    color: #262626;
    font-weight: 600;
}

/* LINK NO REDIRECT */
#content .link-nordr {
    color: #007faf;
    text-decoration: none;
    display: block;

    & :hover {
        color: #00668d;
        text-decoration: none;
    }
}

.page .magenta {
    color: $magenta;
}

.pad0 {
    padding: 0;
}

a.link_nordr {
    color: #77daff;

    @media screen and (max-width: 480px) {
        color: #007faf;
    }
}

/* SECTIONS TITLE MARGIN */
.sec-1,
.sec-2,
.sec-3,
#sec-1,
#sec-2,
#sec-3 {
    & .title-mb40 {
        margin: 0px 0px 40px 0px;
    }
}

#content .legaltext {
    font-size: 14px;
    color: #6c6c6c;
    margin-bottom: 5px;
}

/* SECTION - HOW TO GET BENEFITS */
#sec-howtoGetBenefits {
    background-color: #ededed;
    padding: 80px 0;

    .text {
        padding: 0 50px;
    }

    .img {
        padding: 30px 0;

        img {
            max-width: 70%;
        }
    }

    .btn-cont {
        >div {
            display: inline-block;

            .btn {
                margin-right: 20px;
            }

            @media screen and (max-width: 767px) {
                display: block;
                text-align: center;

                .btn {
                    margin-right: 0;
                    margin-bottom: 10px;
                    padding: 8px 40px;
                }
            }
        }
    }
}

/* SEC-1 */
#content .sec-1 {
    padding-top: 40px;
    text-align: center;

    & h3 {
        font-size: 24px;
    }

    & .ben-p {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        padding: 10px;

        & p {
            padding: 0 70px;

            @media screen and (max-width: 520px) {
                padding: 0 10px;
            }
        }

        & .btn-cont {
            & p {
                margin-top: 10px;
                padding: 0;

                & a {
                    margin: 0;
                    width: 250px;
                }
            }
        }
    }

    .legaltext {
        text-align: left;
        margin-top: 20px;
    }
}

/* SEC - MORE BENEFITS */
#sec-moreBenefits {
    padding: 0 0 80px 0;

    h3 {
        font-size: 24px;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: $magenta;
        }

        @media screen and (max-width: 543px) {
            display: initial;
        }

        .darovanieDat {}

        &.dataNavzajom {
            border: 1px solid #ccc;
            align-items: initial;

            @media screen and (max-width: 543px) {
                display: flex;
                flex-direction: column;
                padding: 0 0 15px 0;

                .text {
                    padding: 0 20px;

                    @media screen and (max-width: 543px) {
                        order: 2;
                    }
                }
            }

            .img {
                background: url("../img/darovanie_dat.jpg") 50% 50% no-repeat;
                min-height: 375px;
                background-size: cover;

                @media screen and (max-width: 543px) {
                    background: url("../img/hero_480.jpg") 50% 50% no-repeat;
                    min-height: 200px;
                    order: 1;
                }
            }

            .giveawaySelect {
                width: 60%;

                .heapBox {

                    .holder,
                    .handler {
                        background: #fff;
                    }
                }
            }
        }

        &.ostatneVyhody {
            align-items: initial;

            .dataBlock {
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 5px 0;

                p {
                    margin: 0;
                }
            }
        }

        .text {
            padding: 0 50px;

            .link {
                text-decoration: none;
                margin-left: 10px;
            }
        }

        .img {
            min-height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 65%;

                @media screen and (max-width: 768px) {
                    max-height: 200px;
                }
            }
        }
    }
}

/* SEC-2 */

#content .sec-2 {
    padding: 80px 0;
    background-color: #ededed;

    & .box-left {
        background-color: #fff;
        padding: 6%;
        width: 100%;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

        @media screen and (max-width: 543px) {
            margin: 5% 0%;
        }

        & p {
            margin-bottom: 15px;
        }

        & .link {
            display: block;
            margin-top: 3%;
        }
    }

    & .box-right {
        padding: 5% 0% 0% 10%;
        width: 100%;
        text-align: center;

        @media screen and (max-width: 991px) {
            padding-left: 0;
        }

        & h2.except {
            color: #262626;
            text-transform: uppercase;
            margin: 0px;
            cursor: pointer;
        }

        & p.text {
            font-size: 22px;
        }

        & p.price {
            color: $magenta;
            font-size: 32px;

            & span {
                font-size: 19px;
                text-decoration: line-through;
            }
        }

        & .circle-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-bottom: 20px;

            & .options {
                width: auto;
                //margin: 0 2%;
                //padding: 0px 20px 20px 20px;
                //padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;

                & .mark {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 20px;
                    font-weight: 800;
                    color: $magenta;
                    margin: 0 3px;
                }

                & .circle-cont {
                    position: relative;
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    & p {
                        color: #fff;
                        font-size: 16px;
                        margin: 0;
                        z-index: 10;
                        line-height: 110%;

                        @media screen and (max-width: 500px) {
                            font-size: 13px;
                        }
                    }

                    & .circle {
                        position: absolute;
                        top: 0;
                        z-index: 1;
                    }

                    & .circle:first-of-type {
                        left: 0;
                    }

                    & .circle:last-of-type {
                        right: 0;
                    }

                    @media screen and (max-width: 768px) {
                        width: 130px;
                    }

                    @media screen and (max-width: 500px) {
                        width: 110px;
                    }
                }

                & div.circle {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    border-radius: 50%;
                    width: 91px;
                    height: 91px;
                    margin: 0px auto;
                    position: relative;

                    & p {
                        color: $magenta;
                        font-size: 16px;
                        margin: 0;
                    }

                    @media screen and (max-width: 768px) {
                        width: 81px;
                        height: 81px;
                    }

                    @media screen and (max-width: 500px) {
                        width: 70px;
                        height: 70px;
                    }

                    &.color-1 {
                        background-color: #fff;

                        & p {
                            line-height: 110%;

                            @media screen and (max-width: 500px) {
                                font-size: 13px;
                            }
                        }
                    }

                    &.color-2 {
                        background-color: #f9cce3;

                        & p {
                            font-weight: 800;

                            @media screen and (max-width: 500px) {
                                font-size: 13px;
                            }
                        }
                    }

                    &.color-3 {
                        background-color: #e20074;
                        padding-top: 12px;

                        & p {
                            color: #fff;
                            font-size: 15px;
                            font-weight: 200;
                            line-height: 110%;

                            @media screen and (max-width: 500px) {
                                font-size: 13px;
                            }
                        }
                    }
                }

                & #circle-2::before {
                    content: "+";
                    position: absolute;
                    font-size: 30px;
                    left: -40%;
                    top: 28%;

                    @media screen and (min-width: 961px) {
                        left: -18px;
                    }

                    @media screen and (max-width: 960px) {
                        left: -18px;
                    }

                    @media screen and (max-width: 544px) {
                        //display: none;
                    }
                }

                & #circle-2::after {
                    content: "+";
                    position: absolute;
                    right: -40%;
                    font-size: 30px;
                    top: 28%;

                    @media screen and (min-width: 961px) {
                        right: -18px;
                    }

                    @media screen and (max-width: 960px) {
                        right: -18px;
                    }

                    @media screen and (max-width: 544px) {
                        //display: none;
                    }
                }
            }
        }
    }
}

/* SEC-4 */
#content .sec-4 {
    & h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    & .akcie-wrapper {
        display: flex;
        position: relative;
        height: 100%;
        border: solid 1px #ddd;
        padding: 15px 10px 10px 10px;

        @media screen and (max-width: 640px) {
            padding: 15px 0px 10px 0px;
        }

        & p {
            margin: 0;
        }

        @media screen and (max-width: 543px) {
            //display: block;
        }

        & .left {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 307px;
            background-color: #fff;
            padding-right: 0;

            & div.left-wrap {
                padding: 10px 20px;
            }

            & h3 {
                font-size: 23px;
                margin-top: 0;
            }

            & ul {
                list-style-type: square;
                margin-bottom: 0;

                & li {
                    margin-left: -15px;
                }
            }

            & .btn.cta {
                margin-top: 40px;
                padding: 8px 10%;

                @media screen and (max-width: 702px) {
                    padding: 8px 5px;
                    font-size: 14px;
                }

                @media screen and (max-width: 543px) {
                    padding: 8px 10%;
                    font-size: 16px;
                }
            }
        }

        & .right {
            padding-left: 0;
            background-size: cover;
            background-position: bottom;
            min-height: 307px;
            text-align: center;
            vertical-align: middle;

            & img {
                height: 100%;

                @media screen and (max-width: 610px) {
                    margin-top: 15px;
                    height: 90%;
                }
            }

            @media screen and (max-width: 543px) {
                display: none;
            }
        }
    }
}

/* SEC-5 */
#content .sec-5 {
    padding-top: 0;
    background: #fff;

    & .info {
        padding: 35px;
        border: 1px solid #e6e6e6;

        & h2 {
            font-size: 24px;
            margin: 0;
        }
    }

    & .faq__img {
        width: 100%;
        max-width: 125px;
    }

    & .faq__item {
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .faq__item:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    & .arrow-right {
        float: none;
    }

    .datatable {
        .datapack {
            color: $magenta;
        }

        td {
            padding: 0;
            min-width: 100px;
        }
    }

    .datalist {
        font-size: 16px;
        list-style: square;
    }
}

/* TOGGLE ARROW */
#content a.toggle-arrow {
    color: #007faf;
    text-decoration: none;

    & .arrow-right {
        content: "";
        display: inline-block;
        margin-right: 5px;
        width: 0;
        height: 0;
        margin-left: 10px;
        vertical-align: baseline;
        border-style: solid;
        border-width: 4.5px 0 4.5px 6px;
        border-color: transparent transparent transparent #007faf;
        transition: all 300ms;
    }

    &:hover,
    &:hover span.arrow-right {
        color: #00668d;
        text-decoration: none;
        border-color: transparent transparent transparent #00668d;
    }
}

#content .arrow-content {
    display: none;
}

#content .arrow-rotate {
    transform: rotate(90deg);
}

/* TOGGLE ARROW END */

#content .m1-action-mobil {
    text-align: center;

    &>div {
        border: solid 1px #ccc;
    }

    & ul {
        list-style-type: square;
        margin-bottom: 0;

        & li {
            text-align: left;
        }
    }
}

/* END LANDING PAGE */

#content {
    & .indicator-text {
        min-height: 10px;
    }

    & .step__wrap {
        padding: 0 !important;
        line-height: 18px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .step__wrap.active-step {
        border-right: solid 1px #ddd;
    }

    & .step-text2 {
        font-size: 16px;
        color: #000;
        font-weight: 200 !important;

        & .text-bold {
            font-weight: 1000 !important;
        }
    }

    & .step__wrap.active-step-current:after {
        bottom: 0;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(131, 127, 127, 0);
        border-bottom-color: #eee;
        border-width: 11px;
        margin-left: -11px;
    }
}

/* CHECKBOX */
label.checkbox {
    display: inline-block;
    width: 140px;
    position: relative;
    padding: 0px;
    margin-bottom: 10px;
    font-size: 100%;
    text-align: left;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    & input {
        position: absolute;
        opacity: 0;
    }

    .checkmark {
        position: absolute;
        top: 0;
        right: 0px;
        height: 22px;
        width: 22px;
        background-color: #ededed;
        border: solid 1px #b6b6b6;
        border-radius: 4px;
    }

    & .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    & input:checked~.checkmark:after {
        display: block;
    }

    & .checkmark:after {
        left: 6px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid #6bb324;
        border-width: 0 4px 4px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

#content {
    & .select-box__wrap {
        padding-left: 0;
        padding-right: 0;
        //margin-bottom: 30px;
    }
}

/* ===============
    D-2-9-0
=============== */

.select-box-not-choiced {
    margin-bottom: 143px;
}

#content {
    & .select-box__wrap {
        padding-left: 0;
        padding-right: 0;
    }

    & .select-box-area {
        position: relative;
        width: 219px;
        height: 388px;
        border: dashed 2px #cccccc;
        margin-right: 20px;
        margin-top: 20px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        & .select-box-area__bg {
            margin-top: 104px;
        }

        & .select-box-area-desc {
            opacity: 0.6;
            color: #a4a4a4;
            font-size: 18px;
            line-height: 19px;
            text-align: center;
        }

        &:hover {
            background-color: #fff;
            border: dashed 2px #ef2a8b;
        }
    }

    & .select-box-area__active {
        position: relative;
        //width: 219px;
        height: 388px;
        border: solid 1px #ef2a8b;
        background-color: #fff;
        margin-top: 20px;

        //margin-bottom: 20px;
        & .plan-show-detail {
            margin-top: 10px;
            margin-bottom: 5px;
        }

        & .slide-box__row-title {
            margin-top: 20px;
            margin-bottom: 5px;
        }

        & .price-strike {
            position: relative;
            font-size: 16px;
            color: #000;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 50%;
                right: 0;
                border-top: 1px solid;
                border-color: inherit;
                -webkit-transform: rotate(-15deg);
                -moz-transform: rotate(-15deg);
                -ms-transform: rotate(-15deg);
                -o-transform: rotate(-15deg);
                transform: rotate(-15deg);
            }
        }
    }

    & .slide-select-arrow-0:after {
        left: 12% !important;
    }

    & .slide-select-arrow-1:after {
        left: 37.5% !important;
    }

    & .slide-select-arrow-2:after {
        left: 63% !important;
    }

    & .slide-select-arrow-3:after {
        left: 88% !important;
    }

    @media screen and (max-width: 992px) {
        & .select-box-area {
            width: 100%;
            margin-right: 0px;
            margin-top: 20px;

            & .select-box-area__bg {
                margin-top: 63px;
            }
        }

        & .select-box-area:first {
            text-align: right;
        }
    }

    @media screen and (max-width: 700px) {
        & .select-box-area {
            width: 100%;
            height: 283px;
            padding: 10px;
            margin-right: 0px;
            margin-top: 20px;

            &:nth-child(odd) {
                margin-right: 0px;
            }

            & .select-box-area__bg {
                margin-top: 63px;
            }
        }
    }
}

#content .members {
    & .select-box-area__bg {
        padding-top: 10px;
    }

    & .slide-box__title {
        font-size: 20px;
        //font-family: Tele-GroteskNor; // Hal
        color: $magenta;
        height: 28px;
    }

    & .slide-box__price {
        //font-family: Tele-GroteskNor;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
        color: $magenta;
        height: 26px;
    }

    & .slide-box__value-cont {
        height: 170px;
    }

    & .slide-box__value {
        font-weight: bold;
    }

    & .slide-box__row {
        width: 100%;
        margin: 6px 0;
        font-size: 16px;
        padding-bottom: 6px;

        &.slide-box__discount {
            margin: -5px 0;
            height: auto;

            & p {
                color: $magenta;
                margin: 0;
                text-align: center;
                font-size: 16px;
                padding: 0 40px;
            }
        }
    }

    & .select-box-area__close {
        background: url(/assets/img/ico-close.png) no-repeat;
        width: 17px;
        height: 17px;
        position: absolute;
        display: inline-block;
        float: right;
        cursor: pointer;
        right: 5px;
        top: 5px;
    }
}

.slide-box__subtitle {
    font-size: 14px !important;
    text-align: left;
    margin: 15px 5px 0 5px !important;
}

@media screen and (max-width: 992px) {
    #content {

        & .slide-select-box__wrap,
        .members .slide-select-box__wrap .slide-select-box {
            display: none;
        }

        & #popup_program .slide-select-box__wrap {
            display: block;

            & .slide-select-box {
                box-shadow: none;
                display: inline-block;
                padding: 0px;

                & .slide-select-box__cube {
                    margin: 3px 5px;
                    //display: inline-block;
                    display: inline-flex;
                    flex-direction: column;
                    color: #000;
                }
            }
        }

        & .show-popup {
            display: inline;
        }
    }
}

@media screen and (max-width: 768px) {}

#content {
    & .tab-acc {
        margin-top: 30px;
        vertical-align: top;
        text-align: left;
        display: flex;
        justify-content: center;

        & .tab-acc-sub {
            padding: 10px 20px;
            width: 100%;
            max-width: 600px;
            text-align: center;
            display: flex;
            align-items: center;
            border: 0;
            margin-bottom: 10px;
            cursor: pointer;

            & .a-title-2 {
                float: right;
                display: none;
            }

            & .tab-img-cont {
                display: inline-block;
                width: 44%;
                order: 2;
            }

            & .tab-acc-cont {
                display: inline-block;
                order: 1;
                width: 55%;
                margin-right: 40px;

                & .tab-acc-cont-label {
                    margin: 0 0 20px 0;
                    font-size: 17px;
                    font-weight: 600;
                }

                & .tab-ex {
                    text-align: left;
                    font-weight: normal;
                    font-size: 16px;
                    cursor: default;

                    & .b-bot {
                        border-bottom: solid 1px #ccc;
                    }

                    & p {
                        margin: 0;
                    }

                    & p.tab-ex-cap:nth-child(1n + 4) {
                        margin-top: 30px;
                    }

                    & div.tab-ex-result {
                        color: #e20074;
                    }

                    & div.tab-ex-result.web-zlava {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 3px;
                        font-weight: bold;
                    }

                    & .tab-ex-label {
                        display: inline-block;
                        width: 75%;
                    }

                    & .tab-ex-price {
                        display: inline-block;
                        width: 23%;
                        text-align: right;
                    }

                    & .info {
                        margin-top: 20px;
                    }

                    & .old-price {
                        text-decoration: line-through;
                        color: #4b4b4b;
                    }
                }

                & a.a-title {
                    //min-height: 63px;
                    display: inline-block;
                    width: 100%;
                    font-size: 18px;
                    color: #4b4b4b;
                    margin: 10px 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                & .tab-web-disc {
                    color: #6bb324;
                }
            }
        }

        & .tab-acc-sub:hover {
            //cursor: pointer;
            z-index: 99;
            -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);

            & .tab-action {
                display: block;
            }
        }

        & .tab-mag-go {
            display: inline-block;
            position: relative;
            width: 210px;
            min-height: 315px;
            vertical-align: top;
            background-color: #e6e6e6;
            text-align: center;
            padding: 30px 0;
            float: right;
            position: relative;
            top: 0;

            & h2 {
                color: #e20074;
                font-size: 28px;
                padding-bottom: 0;
                font-weight: 900;
            }

            & p {
                margin: 0 0 10px 0;
            }

            & .tab-mag-go-1 {}

            & .tab-mag-go-2 {
                & a.btn {
                    margin: 0px;
                }
            }
        }
    }

    & .tab-acc.more-phone {
        flex-wrap: wrap;

        & .tab-acc-sub {
            display: block;
            width: 310px;

            & .tab-acc-cont-label {
                margin-bottom: 15px;
                font-weight: 600;
            }

            & .tab-acc-cont {
                display: block;
                width: 100%;
            }

            & .tab-img-cont {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }

            @media screen and (max-width: 850px) {
                width: 100%;
                max-width: 400px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #content {
        & .tab-acc {
            & .tab-acc-sub {
                flex-direction: column;

                & .tab-img-cont {
                    order: 1;
                    display: block;
                    width: 100%;
                }

                & .tab-acc-cont {
                    margin-right: 0;
                    margin-top: 30px;
                    order: 2;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    text-align: center;

                    & .tab-ex {
                        width: 100%;
                        max-width: 300px;
                    }
                }
            }
        }
    }
}

// tab
.text-through {
    text-decoration: line-through;
}

#content {
    .tab__holder {
        & .tabs-menu {
            & li {
                cursor: pointer;

                a {
                    padding: 0 15px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            .tabs-menu {
                height: auto;
                width: 100%;

                li {
                    float: none;

                    a {
                        width: 100%;
                    }
                }
            }
        }
    }

    & .tab {
        & .tab-content {
            display: block;
            margin-top: 20px;

            .rtpl-name {
                background-color: $magenta;
                color: #fff;
                padding: 0 10px;
                display: initial;
                margin: 0 auto;
                font-size: 32px;

                @media screen and (max-width: 543px) {
                    font-size: 26px;
                }
            }

            .ben-cont {
                margin-bottom: 30px;
                padding: 0;
                min-height: 125px;

                @media screen and (max-width: 543px) {
                    min-height: 155px;
                }

                & .ben-cont-m {
                    color: #262626;
                    min-height: 48px;

                    & .ben-inline {
                        display: inline-block;
                        width: 40%;

                        & .ben-label {
                            font-size: 14px;
                        }
                    }
                }

                & .ben-price {
                    font-size: 24px;
                }

                & .ben-hr {
                    padding: 0 50px 0 50px;
                    margin-bottom: 7px;

                    &>div {
                        border-bottom: solid 1px #ccc;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    #content {
        & .tab {
            border-top: 1px solid #dbdbdb;
        }

        & .tabs-menu {
            & li {
                position: relative;
                border: none;

                &.current {
                    border-bottom: 4px solid #6bb324;
                }
            }
        }
    }
}