/* ===============
   CSS FOR MICROSITE
   =============== */


/* SEC 1 */

.section {
    padding: 40px 0;
}
#wrapper {
    background: url(https://www.telekom.sk/documents/10179/612174/BG.jpg) 50% 50% no-repeat;
    background-size: cover;
}
#content .section__title {
    border: 0;
    display: inline;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}
.post-it {
    position: absolute;
    background: url(https://www.telekom.sk/documents/10179/612174/post-it.png) no-repeat;
    width: 136px;
    height: 95px;
    top: -10px;
    right: -230px;
}
.desc-wrapper {
    width: 50%;
}
#content .sub_title {
    margin-bottom: 0;
}
#content .desc {
    margin-top: 0px;
}
.clearer {
    width: 100%;
    height: 1px;
    display: block;
}
#content .notes {
    margin-top: 50px;
    text-decoration: underline;
    display: inline-block;
}
#content .hidden_notes {
    font-size: 14px;
    display: none;
}
.button_top {
    margin: 20px 0;
}
.info {
    cursor: default;
}
.link-arrow {
    margin: 10px 0;
    display: inline-block;
}

/* TABLE */

#content .pricing {
    text-align: center;
    margin-bottom: 40px;
}
#content .pricing td,
#content .pricing th {
    font-size: 16px;
    border: 1px solid #d0d0d0;
    padding: 5px 10px;
}
#content .pricing tr:first-of-type td,
#content .pricing tr:first-of-type th,
#content .pricing tr:last-of-type td,
#content .pricing tr:last-of-type th {
    border: 0;
}
#content .pricing tr td:last-of-type {
    border-right: 0;
}
#content .pricing th {
    border-left: 0;
}
.table__title {
    color: $magenta;
    font-weight: bold;
}
#content .price {
    color: $magenta;
    font-weight: bold;
}
.cross {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}
.cross::before,
.cross::after {
    content: '';
    width: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}
.cross::before {
    border-bottom: 2px solid $magenta;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-10deg);
}
@media screen and (max-width: 538px) {
    .post-it {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .desc-wrapper {
        width: 100%;
    }
}
