<section id="hero">
        <div class="container-fixed">
            <div class="hero__mobile">
                &nbsp;</div>
            <div class="hero__content">
                <h1 class="hero__title">
                    <b>TELEKOM APLIKÁCIA</b><br />
                    PRAKTICKÝ POMOCNÍK</h1>
                <a class="scroll-to btn cta" href="#sec-3">STIAHNUŤ APLIKÁCIU</a><br />
                <a class="scroll-to link" href="#sec-2">Viac informácií o aplikácii</a></div>
            <!--  <a href="#sec-0" class="link scroll-to">Pozrieť viac info</a>
        <div class="app-links">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.telekom.portal&hl=sk" class="app-link android-only"><img src="../assets/img/play.png" alt=""></a>
            <a target="_blank" href="https://itunes.apple.com/sk/app/telekom/id582997807?mt=8" class="app-link ios-only"><img src="../assets/img/app-store.png" alt=""></a>
        </div> --></div>
    </section>
    <div id="nav-sticky">
        <ul>
            <li>
                <a class="scroll-to" href="#sec-2">FUNKCIE</a></li>
            <li>
                <a class="scroll-to" href="#sec-3">AKTIVÁCIA</a></li>
            <li>
                <a class="scroll-to" href="#sec-4">MOHLO BY VÁS ZAUJÍMAŤ</a></li>
            <li>
                <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
        </ul>
    </div>
    <section class="section sec-2" id="sec-2">
        <div class="container-fixed">
            <div class="glob-clear">
                <h2 class="sec__title">
                    FUNKCIE</h2>
                <div class="tabs-container">
                    <div class="tab__holder">
                        <ul class="tabs-menu">
                            <li class="variant current" data-variant="1">
                                <a href="#tab-1">Spotreba</a></li>
                            <li class="variant" data-variant="2">
                                <a href="#tab-2">Faktúry</a></li>
                            <li class="variant" data-variant="3">
                                <a href="#tab-3">Dáta navyše</a></li>
                            <li class="variant" data-variant="4">
                                <a href="#tab-4">SMS platby</a></li>
                            <li class="variant" data-variant="5">
                                <a href="#tab-5">Ďalšie funkcie</a></li>
                        </ul>
                    </div>
                    <div class="tab">
                        <div class="tab-content" id="tab-1">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="tab-title">
                                        Spotreba</p>
                                    <p class="tab-detail">
                                        Skontrolujte svoju spotrebu kedykoľvek potrebujete a pozrite si:</p>
                                    <p class="list-item">
                                        koľko minút ste prevolali,</p>
                                    <p class="list-item">
                                        koľko SMS a MMS správ ste odoslali,</p>
                                    <p class="list-item">
                                        koľko dát ste už vyčerpali a koľko vám ešte ostáva.</p>
                                </div>
                                <div class="col-md-7 func__img-holder">
                                    <img alt="" src="../assets/img/tab-img-1.png" /></div>
                            </div>
                        </div>
                        <div class="tab-content" id="tab-2">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="tab-title">
                                        Faktúry</p>
                                    <p class="tab-detail mb-15">
                                        Pozrite si prehľad svojich 12 ostatných faktúr a nezaplatené môžete uhradiť veľmi jednoducho priamo v aplikácii.</p>
                                    <p class="tab-detail">
                                        Ak máte aktivovanú službu Podrobný výpis v elektronickej podobe, môžete si faktúry prezerať naozaj detailne aj vo svojom mobile.</p>
                                </div>
                                <div class="col-md-7 func__img-holder">
                                    <img alt="" src="../assets/img/tab-img-2.png" /></div>
                            </div>
                        </div>
                        <div class="tab-content" id="tab-3">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="tab-title">
                                        Dáta navyše pre vás a vašich blízkych</p>
                                    <p class="tab-detail mb-15">
                                        Minuli sa vám dáta z paušálu? Dokúpte sebe alebo svojim blízkym jeden z naších dátových balíčkov a surfujte naďalej v plnej rýchlosti. Dáta pre blízkych môžete ľubovoľne prerozdeliť.</p>
                                    <p class="tab-detail mb-15">
                                        V ponuke nájdete tieto balíky:</p>
                                    <p class="list-item">
                                        Denné dáta – 1000 MB | 1,00 €</p>
                                    <p class="list-item">
                                        Denné dáta neobmedzené | 4,99 €</p>
                                    <p class="list-item">
                                        Data 2 GB | 6,99 €</p>
                                    <p class="list-item">
                                        Dáta navyše pre blízkych – 1000 MB | 5,99 €</p>
                                </div>
                                <div class="col-md-7 func__img-holder">
                                    <img alt="" src="../assets/img/tab-img-3.png" /></div>
                            </div>
                        </div>
                        <div class="tab-content" id="tab-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <p class="tab-title">
                                        SMS platby</p>
                                    <p class="tab-detail">
                                        Zabudnite na množstvo čísel, cez ktoré si SMS-kou kupujete cestovný lístok či parkovanie. Nakupujte pohodlne z jedného miesta v aplikácii:</p>
                                    <p class="list-item">
                                        cestovné lístky na MHD a na vlak (ŽSR),</p>
                                    <p class="list-item">
                                        parkovné vo vybraných mestách na Slovensku,</p>
                                    <p class="list-item">
                                        cestovné poistenie.</p>
                                </div>
                                <div class="col-md-7 func__img-holder">
                                    <img alt="" src="../assets/img/tab-img-4.png" /></div>
                            </div>
                        </div>
                        <div class="tab-content" id="tab-5">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="tab-title mb-15">
                                        Ďalšie praktické funkcie:</p>
                                    <div class="info-item mb-15">
                                        <p class="list-item-head bottom">
                                            Rezervácia stretnutia</p>
                                        <p class="tab-detail" style="display: none;">
                                            Táto funkcia vám umožní vziať si elektronický poradový lístok už cestou do predajne, rezervovať si stretnutie s predajcom na konkrétny dátum a čas alebo len zistiť, koľko ľudí čaká vo vybranom Telekom centre.<br />
                                            Potrebujete poradiť, ako na to?</p>
                                    </div>
                                    <div class="info-item mb-15">
                                        <p class="list-item-head bottom">
                                            Rodičovské služby</p>
                                        <p class="tab-detail" style="display: none;">
                                            S touto funkciou dostanete bezplatnú SMS správu vždy, keď kredit vášho dieťaťa na Easy karte klesne pod 0,50 €. Kredit mu môžete hneď navýšiť. Stačí mať Easy kartu priradenú k svojmu paušálu.</p>
                                    </div>
                                    <div class="info-item mb-15">
                                        <p class="list-item-head bottom">
                                            Dobitie a informácie k Easy karte</p>
                                        <p class="tab-detail" style="display: none;">
                                            Na dobitie kreditu na Easy karte vám stačí len platobná karta alebo paušál od Telekomu. Zvoľte výšku kreditu a aplikácia dokončí všetko za vás.</p>
                                    </div>
                                    <div class="info-item mb-15">
                                        <p class="list-item-head bottom">
                                            Balíky internetu v zahraničí</p>
                                        <p class="tab-detail" style="display: none;">
                                            Aj na dovolenke či služobnej ceste si môžete kontrolovať spotrebu dát v aplikácii a v prípade potreby jednoducho aktivovať niektorý z balíkov internetu v zahraničí. Stačí si vybrať.</p>
                                    </div>
                                    <div class="info-item mb-15">
                                        <p class="list-item-head bottom">
                                            Navyše získate</p>
                                        <p class="tab-detail" style="display: none;">
                                            – vždy aktuálne informácie o zľavách a akciách s možnosť nakúpiť priamo v aplikácii<br />
                                            – zoznam predajní s mapou, ich adresu, otváraciu dobu a kontaktné údaje<br />
                                            – možnosť rýchlo si preveriť, či máte 4G SIM kartu</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section id="sec-5" class="section sec-5">
        <div class="container-fixed">
            <div class="row">
                <h2 class="sec__title">súťaž</h2>
                <div class="offer__wrapper box-comp-outer">
                    <div class="offer-box_no-border box-comp">
                        <div class="left-holder">
                            <h4 class="offer__title">Využívaj appku naplno a vyhraj!</h4>
                            <p class="offer__desc">
                                Zapojte sa do súťaže o službu Deezer na pol roka zadarmo a k tomu bluetooth reprák JBL.
                                <br>Stačí ak budete v období <b>od 17. augusta do 17. septembra využívať appku</b> a ste v hre! Na konci súťažného obdobia vyžrebujeme piatich výhercov.
                                <br>
                                <br>Šancu na výhru môžete zvýšiť, ak budete využívať appku každý deň.</p>
                            <p>
                                <a href="https://www.telekom.sk../assets/js/Statut_s%C3%BA%C5%A5a%C5%BEe_appka.pdf" class="sutaz-link" style="">Štatút súťaže</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section sec-3" id="sec-3">
        <div class="container-fixed">
            <div class="glob-clear">
                <h2 class="sec__title">
                    AKTIVÁCIA</h2>
                <div class="step step-1">
                    <p class="step-title">
                        KROK 1: stiahnite si aplikáciu</p>
                    <p class="step-desc">
                        vo svojom online obchode:</p>
                    <div class="app-links">
                        <a class="app-link" href="https://play.google.com/store/apps/details?id=com.telekom.portal&amp;hl=sk" target="_blank"><img alt="" src="../assets/img/play.png" /></a> <a class="app-link" href="https://itunes.apple.com/sk/app/telekom/id582997807?mt=8" target="_blank"><img alt="" src="../assets/img/app-store.png" /></a></div>
                    <div class="plan-separator-holder">
                        <span class="p-separator sl"></span>
                        <p class="plan-separator">
                            alebo</p>
                        <span class="p-separator s2"></span></div>
                    <div class="other-steps">
                        <div class="holder">
                            <div class="col-md-6">
                                <p class="other-step-title">
                                    načítaním QR kódu:</p>
                                <img alt="" src="../assets/img/qr.jpg" /></div>
                            <div class="col-md-6">
                                <p class="other-step-title">
                                    zaslaním SMS:</p>
                                <p class="other-step-desc">
                                    Pošlite bezplatnú SMS s textom TELEKOM na 321a kliknite na prijatý link. Do on-line obchodu budete automaticky presmerovaný.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step step-2">
                    <p class="step-title">
                        KROK 2: prihláste sa</p>
                    <p class="step-desc">
                        Otvorte si aplikáciu a prihláste sa do nej cez dátovú mobilnú sieť (pri vypnutom WiFi pripojení). Po prvom prihlásení vám príde potvrdzujúca SMS s aktivačným kódom, nastavíte si PIN na ochranu aplikácie a následne môžete Telekom aplikáciu využívať bez akýchkoľvek obmedzení.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section sec-4" id="sec-4">
        <div class="container-fixed">
            <div class="glob-clear">
                <h2 class="sec__title">
                    MOHLO BY VÁS ZAUJÍMAŤ</h2>
                <p class="sec__desc">
                    Pozrite si naše návody a zistite, ako naplno využívať Telekom aplikáciu a jej funkcie.</p>
                <a class="link" href="/wiki/ostatne/aplikacia-telekom#telekom-aplikacia-navody">Návody na používanie Telekom aplikácie</a></div>
        </div>
    </section>
    <div class="row">
        <div class="col-md-12 tc mb-40">
            <!-- <a href="#" onclick="$('#shc0').toggle('slow');return false;" class="legal-link">Obchodné podmienky mobilnej aplikácie Telekom</a> --><a class="toggle-arrow" href="#">Obchodné podmienky mobilnej aplikácie Telekom<span class="arrow-right"></span></a>
            <div class="arrow-content">
                <p class="margin-top-0">
                    OBCHODNÉ PODMIENKY VYUŽÍVANIA MOBILNEJ APLIKÁCIE SPOLOČNOSTI SLOVAK TELEKOM, A. S.</p>
                <p>
                    <strong>Úvodné ustanovenia</strong></p>
                <p>
                    1. Mobilná aplikácia Slovak Telekom, a. s., je elektronický prostriedok spoločnosti Slovak Telekom, a. s., so sídlom Bajkalská 28, 817 62 Bratislava, IČO 35763469, zapísaná v Obchodnom registri Okresného súdu Bratislava I, odd. Sa, vl.č. 2081/B (ďalej len „Podnik“), ktorá umožňuje prístup jej užívateľom k informáciám alebo službám obsiahnutým v rámci tejto aplikácie (ďalej len „Aplikácia“).<br />
                    2. Tieto podmienky vydané Podnikom upravujú základné práva a povinnosti jej užívateľov, ako aj ostatné podmienky potrebné pre riadne využívanie služby Aplikácie, ak nie je uvedené inak (ďalej len „OP“).<br />
                    3. Aplikácia je určená všetkým jej užívateľom, ktorí sú zároveň účastníkmi verejných služieb poskytovaných Podnikom na základe Zmluvy o poskytovaní verejných služieb, prípadne na základe Registračného formulára alebo inej dohody uzavretej medzi Podnikom a užívateľom ako účastníkom (ďalej len „Užívateľ“). Aplikáciu môžu využiť aj iné osoby ako Užívatelia, ale v takomto prípade nie je nevyhnutná ich identifikácia v rámci Aplikácie a jednotlivé funkcie Aplikácie sú tejto osobe dostupné v obmedzenom rozsahu (umožňujú prístup len k všeobecným informáciám o produktoch Podniku alebo jeho predajných miestach, prípadne iné). Aplikácia je dostupná a je možné ju využiť len v rámci mobilného telefónu alebo iného zariadenia, prostredníctvom ktorého využíva účastník Služby, a pre informácie o mobilných službách Užívateľa (ďalej len „Služba“ alebo „Služby“). Dostupnosť aplikácie pre jednotlivé typy mobilných telefónov a iných zariadení (ďalej len „mobilný telefón“) je možné overiť na Internetovej stránke Podniku http://www.telekom.sk/osobne/m-site/telekom-aplikacia/ (ďalej len „internetová stránka Aplikácie“).</p>
                <p>
                    <strong>Inštalácia Aplikácie a bezpečnostné pravidlá jej používania</strong><br />
                    1. Užívateľ je povinný pre využívanie a riadnu funkčnosť Aplikácie vykonať inštaláciu Aplikácie. Aplikácia je dostupná pre Užívateľov na stiahnutie na príslušnom portáli tretej strany v závislosti od využívaného operačného systému mobilného telefónu (v tzv. Google Play, ak zariadenie využíva operačný systém Android alebo v tzv. AppleStore, ak zariadenie využíva operačný systém iOS).<br />
                    2. Po stiahnutí a úspešnej inštalácii Aplikácie v rámci mobilného telefónu je Užívateľ povinný sa pre jej využívanie identifikovať. Pre identifikáciu Užívateľa v rámci Aplikácie je Užívateľ povinný postupovať podľa pokynov Podniku.<br />
                    3. Užívateľ nesmie sprístupniť svoj mobilný telefón s nainštalovanou Aplikáciou neoprávnenej osobe. Podnik nezodpovedá za sprístupnenie údajov obsiahnutých v Aplikácii neoprávnenej osobe. Užívateľ je povinný chrániť svoj mobilný telefón a najmä Aplikáciu pred prístupom neoprávneným osobám, pred stratou, krádežou, odcudzením alebo iným zneužitím. Užívateľ je v prípade potreby oprávnený svoj mobilný telefón zablokovať, spôsobom určeným v Zmluve. Účastník má možnosť zablokovať v prípade potreby aj len samotnú Aplikáciu, a to prostredníctvom osobitného zákazníckeho portálu Môj Telekom, do ktorého je možné sa prihlásiť v rámci Internetovej stránky Podniku www.telekom.sk.<br />
                    4. Užívateľ je povinný dodržiavať základné bezpečnostné pokyny, najmä tie, ktoré sú uvedené v týchto OP. Užívateľ je povinný zabezpečiť utajenie všetkých bezpečnostných údajov (týmito sú napr. aj prihlasovacie meno a heslo do Aplikácie alebo ID kód), ak boli Užívateľovi pridelené alebo boli s Podnikom dohodnuté, chrániť ich pred zverejnením alebo sprístupnením neoprávneným osobám, stratou alebo odcudzením. Užívateľ je zodpovedný za všetky úkony uskutočnené prostredníctvom bezpečnostných údajov. Podnik nezodpovedá za škody spôsobené zneužitím Bezpečnostných údajov.<br />
                    5. Užívateľ je povinný požiadať Podnik bez zbytočného odkladu o zmenu alebo zrušenie ktoréhokoľvek bezpečnostného údaja v prípade jeho straty, odcudzenia alebo pri podozrení, že sa s ním oboznámila neoprávnená osoba, a to spôsobom podľa pokynov Podniku.<br />
                    6. Užívateľ je povinný využívať Aplikáciu a ďalej ju akýmkoľvek spôsobom neposkytovať tretím osobám ani prostredníctvom nej neposkytovať ďalšie služby.<br />
                    7. Užívateľ je povinný zabezpečiť, aby v prípade zneužívania alebo podozrenia zo zneužívania Aplikácie boli vykonané všetky potrebné úkony smerujúce k upusteniu od takéhoto stavu alebo od činností porušujúcich právne predpisy alebo zmluvné dojednania medzi ním a Podnikom a tiež bezodkladne odstrániť všetky následky takýchto činností a zásahov do oprávnených záujmov Podniku; tým nie je dotknutá zodpovednosť Užívateľa za škodu spôsobenú Podniku.<br />
                    8. Užívateľ je povinný dodržiavať Zákon, princípy dobrých mravov, etických noriem pre používanie danej Služby a verejného poriadku a v primeranej a prípustnej miere brať do úvahy záujmy tretích osôb a vyhýbať sa akémukoľvek konaniu alebo opomenutiu, ktoré by mohlo znamenať ohrozenie alebo porušenie práv alebo záujmov Podniku, alebo tretích osôb, najmä iných účastníkov služieb Podniku alebo iných podnikov.</p>
                <p>
                    <strong>Účel a funkcie Aplikácie</strong><br />
                    1. V rámci Aplikácie je Užívateľ oprávnený oboznamovať sa s informáciami o Službách a využívať iné služby poskytované v rámci Aplikácie. Rozsah informácií a služieb, ktoré sú v rámci Aplikácie pre Užívateľov sprístupnené, sú zverejnené na internetovej stránke Aplikácie. Využívanie Aplikácie je podmienené prístupom na internet. Prístup na internet nie je súčasťou Aplikácie.<br />
                    2. Aplikácia okrem iného umožňuje Užívateľom sledovanie základných informácií o Službe (profil Užívateľa a profil Služby) a o aktuálnej spotrebe Služby. Tieto informácie sú aktualizované priebežne a majú len informatívny charakter. Ak má Užívateľ aktivovanú aj elektronickú formu faktúry, tieto faktúry má Užívateľ sprístupnené v stanovenom rozsahu aj v rámci Aplikácie. Uvedené sa uplatní aj na podrobné výpisy v elektronickej forme.<br />
                    3. Aplikácia umožňuje Užívateľovi získanie aj ďalších informácií o iných službách Podniku, prípadne iné zákaznícke informácie (napr. zoznam predajných miest Podniku, produktové informácie o iných službách Podniku a iné). Záleží od Užívateľa, či funkcionality Aplikácie využije alebo nie, prípadne v akom rozsahu.<br />
                    4. Podnik je oprávnený umiestniť v rámci Aplikácie aj ďalšie funkcionality alebo rozšíriť rozsah údajov sprístupňovaných v Aplikácii. Užívateľ je oprávnený toto rozšírenie Aplikácie a jej funkcií odmietnuť.<br />
                    5. Podnik je oprávnený umožniť Užívateľovi objednávanie, zmenu alebo zrušenie niektorých služieb (napr. zmena emailovej adresy alebo hesla k elektronickej forme faktúry, objednávanie doplnkových služieb a balíčkov) k Službám sprístupneným v rámci Aplikácie alebo zmenu Služby. Pre takéto úkony je Podnik oprávnený vyžadovať dodatočnú identifikáciu Užívateľa. Užívateľ je takýmito úkonmi uskutočnenými prostredníctvom Aplikácie viazaný a svojou povahou môžu predstavovať zmenu Zmluvy o poskytovaní verejných služieb, ktorej predmetom je poskytovanie Služby (ďalej len „Zmluva“). Akúkoľvek zmenu Zmluvy je Užívateľ povinný uskutočniť v súlade a spôsobom, ktorý určuje Zmluva.</p>
                <p>
                    <strong>Ukončenie využívania Aplikácie</strong><br />
                    1. Užívateľ je oprávnený kedykoľvek ukončiť využívanie Aplikácie, a to odinštalovaním Aplikácie zo svojho mobilného telefónu. Týmto sa Aplikácia automaticky deaktivuje. Užívateľ je rovnako oprávnený kedykoľvek po deaktivácii Aplikácie opätovne nainštalovať. Pre opätovnú inštaláciu sa uplatnia rovnaké podmienky ako pri jej prvom využití.<br />
                    2. Funkčnosť Aplikácie automaticky zaniká aj zánikom poslednej Služby, t. j. zánikom poslednej Zmluvy, ktorú mal Užívateľ sprístupnenú v rámci Aplikácie.<br />
                    3. Podnik je oprávnený obmedziť alebo prerušiť funkčnosť Aplikácie, najmä v prípade zneužívania alebo podozrenia zo zneužívania zo strany Užívateľa. Rovnako je Podnik oprávnený obmedziť alebo prerušiť jej funkčnosť v prípade, ak sa rozhodne o ukončení Aplikácie ako celku. V takomto prípade bude Užívateľov o ukončení Aplikácie informovať.</p>
                <p>
                    <strong>Záverečné ustanovenia</strong><br />
                    1. Aplikácia je Užívateľovi poskytovaná ako súčasť a funkcionalita Služby. Pre práva a povinnosti, ktoré nie sú upravené týmito OP, sa primerane použijú ustanovenia Všeobecných podmienok pre poskytovanie služieb prostredníctvom mobilnej siete spoločnosti Slovak Telekom, a. s. (ďalej len „VOP“), prípadne Cenníkom pre poskytovanie služieb spoločnosti Slovak Telekom, a. s.<br />
                    2. Podnik je oprávnený tieto OP kedykoľvek jednostranne meniť, najmä z dôvodu zmeny obsahu a funkcionalít Aplikácie alebo z dôvodov uvedených v časti III, čl. 5, bod 7 VOP. O zmene OP informuje Podnik Užívateľa ich zverejnením v rámci Aplikácie a na Internetovej stránke Podniku www.telekom.sk<br />
                    3. Tieto OP nadobúdajú platnosť a účinnosť dňom 1. 3. 2014.</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../assets/js/main.js"></script><script type="text/javascript" src="../assets/js/slick.min.js"></script><script>
    $(document).ready(function() {
        function checkMobileOS() { var MobileUserAgent = navigator.userAgent || navigator.vendor || window.opera; if (MobileUserAgent.match(/iPad/i) || MobileUserAgent.match(/iPhone/i) || MobileUserAgent.match(/iPod/i)) { return 'iOS'; } else if (MobileUserAgent.match(/Android/i)) { return 'Android'; } else { return 'unknown'; } }
    
        if (checkMobileOS() == 'iOS') {
            $('.android-only').hide();
        }
    
        if (checkMobileOS() == 'Android') {
            $('.ios-only').hide();
        }
    
    });
    </script>