/* document body */

#calc {
    // margin: 0;
    // padding: 0;
    // width: 940px;
    background-image: url("../img/back.jpg");
    background-repeat: repeat;
    font-family: arial, helvetica, sans-serif;
    font-size: 8pt;
    color: #515151;
    /* anchors */
    a {
        font-family: arial, helvetica, sans-serif;
        font-size: 9pt;
        text-decoration: none;
        cursor: pointer;
    }
    /* paragraphs */
    p {
        margin: 0;
    }
    fieldset {
        margin: 0 2px;
        padding: 3px 6px 8px 6px;
    }
    /* main div, i.e. process window */
    .main_div {
        border: 1px solid #a9a9a9;
        width: 940px;
    }
    /* topbar table */
    .portal-inet-form-table {
        padding: 0px;
        width: 100%;
        background: #dfdfdf url("../images/bg_title.gif") repeat-x scroll 0 100%
    }
    .portal-inet-form-table .processdisplay {
        font-size: 12px;
        font-weight: bold;
        color: #e20074;
    }
    .portal-inet-form-table .userdisplay span {
        padding-right: 1em;
        text-decoration: underline;
    }
    .portal-inet-form-table .instancedisplay {
        text-align: right;
    }
    .portal-inet-form-table .buttondisplay {
        width: 20px;
        padding: 3px 2px 0;
        text-align: right;
    }
    /* outer table containing process page content */
    .outer {
        width: 100%;
        background-color: #ffffff;
    }
    .outer table {
        width: 100%;
        background-color: #ffffff;
    }
    .outer td.odsadena {
        padding: 0px 10px 0px 10px;
    }
    .outer table.navigation {
        background-color: #e9e9e9;
    }
    /* icons */
    .icn-minimize,
    .icn-maximize,
    .icn-close {
        width: 10px;
        height: 10px;
        margin: 0px 3px 3px 3px;
        display: inline-block;
        vertical-align: bottom;
    }
    .icn-minimize {
        background: url("../images/icon_minimize.gif") no-repeat scroll center transparent;
    }
    .icn-maximize {
        background: url("../images/icon_maximize.gif") no-repeat scroll center transparent;
    }
    .icn-close {
        background: url("../images/icon_close.gif") no-repeat scroll center transparent;
    }
    /* page title */
    .light {
        padding: 2px 0px 2px 10px;
    }
    .light span {
        font-size: 9pt;
        font-weight: bold;
        text-decoration: underline;
    }
    /* page number */
    .tab-img {
        text-align: right;
    }
    .tab-img span {
        margin-right: 5px;
        border: none;
        padding: 4px 6px 4px 7px;
        background-color: #e6e6fa;
        font-size: 9pt;
        font-weight: normal;
    }
    /* arrow icon */
    .icn-arrow {
        margin: 0px 5px 0px 0px;
        width: 16px;
        height: 16px;
        background: url("../images/arrow.gif") no-repeat scroll center transparent;
        display: inline-block;
        vertical-align: bottom;
    }
    /* progress indicator */
    .icn-progressindicator {
        margin: 0px 5px 0px 0px;
        width: 16px;
        height: 16px;
        background: url("../images/progress.gif") no-repeat scroll center transparent;
        display: inline-block;
    }
    /* buttons */
    .btn-normal,
    .btn-important,
    .btn-cancel,
    .portal-inet-form-button {
        margin: 0;
        border-width: 1px;
        border-style: none solid solid none;
        padding: 0;
        height: 16px;
        background: url("../images/bg_button.gif");
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
    }
    .btn-normal {
        border-color: #919191;
        font-weight: bold;
        color: #5ca5dc;
    }
    .btn-important {
        margin: 0 5px;
        border-color: #2ca100;
        padding: 0 20px;
        font-weight: bold;
        color: #2ca100;
    }
    .btn-cancel {
        border-color: #e20074;
        font-weight: bold;
        color: #ff0000;
    }
    .portal-inet-form-button {
        border-color: #919191;
        color: #666666;
    }
    div.portal-inet-form-button {
        height: 15px;
        text-align: center;
    }
    div.portal-inet-form-button span {
        padding: 0 2px;
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
        color: #666666;
    }
    div.portal-inet-form-button.ui-compatibility span {
        font-family: Verdana, Arial, sans-serif;
        /* hack because of jquery ui */
    }
    .btn-link {
        margin: 0;
        border: none;
        padding: 0;
        background-image: none;
        background-color: transparent;
        text-align: center;
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
        font-weight: bold;
        text-decoration: underline;
        color: black;
        cursor: pointer
    }
    /* table cells */
    .portal-inet-form-label,
    .portal-inet-form-label-2,
    .portal-inet-form-label-bold,
    .portal-inet-form-label_for_profile,
    .portal-inet-form-label_table_cell,
    .portal-inet-form-element,
    .portal-inet-form-legend {
        padding: 2px 0px 2px 10px;
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
        color: #515151;
        vertical-align: top;
    }
    .portal-inet-form-label,
    .portal-inet-form-label-bold {
        width: 150px;
        white-space: nowrap;
    }
    .portal-inet-form-label-2 {
        width: auto;
    }
    .portal-inet-form-label-bold {
        font-weight: bold;
    }
    .portal-inet-form-label_for_profile {
        width: auto;
        font-weight: bold;
    }
    .portal-inet-form-legend {
        width: auto;
        white-space: nowrap;
        font-size: 9pt;
        padding-right: 5px;
    }
    .portal-inet-form-element {
        padding: 2px 0px 2px 0px;
    }
    .table-row-odd {
        background-color: #f5f5f5;
    }
    .table-row-even {
        background-color: #e4e4e4;
    }
    /* footnotes */
    .portal-inet-footnote {
        font-size: 7pt;
        color: #808080;
        vertical-align: top;
    }
    /* generic input */
    .portal-portlet-input {
        border-style: solid;
        border-width: 1px;
        border-color: #7b9ebd;
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
    }
    /* input radiobutton/checkbox */
    .portal-portlet-input-radio {
        position: relative;
        bottom: -2px;
        font-family: arial, helvetica, sans-serif;
        font-size: 9pt;
    }
    /* bottom-line input */
    .portal-portlet-input-2 {
        border-style: solid;
        border-width: 0 0 1px 0;
        border-color: #7b9ebd;
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
        font-weight: bold;
        text-align: center;
    }
    /* texts */
    .portal-portlet-normal-text {
        color: #515151;
    }
    .portal-portlet-normal-text-bold {
        font-weight: bold;
        color: #515151;
    }
    .portal-portlet-comment-color-text {
        color: #e20074;
    }
    .portal-portlet-comment-color-text-bold {
        font-weight: bold;
        color: #e20074;
    }
    .left-indent {
        padding-left: 10px;
    }
    /* icon next to a text */
    .message-icon {
        padding-right: 5px;
        vertical-align: top;
    }
    /* clearing div */
    .clear {
        clear: both;
        height: 1px;
        overflow: hidden;
    }
    /* questionmark */
    .questionmark {
        margin-left: 2px;
        border: none;
        padding: 1px 4px;
        background: url("../images/question-mark.gif") no-repeat scroll center transparent;
        font-weight: bold;
        color: white;
        cursor: help;
    }
    /* inputs in a scrollable table (ie6 fix) */
    .scrollTable input {
        position: static;
    }
    /* purity validation result */
    .purity-result {
        color: red;
        cursor: pointer;
    }
    /* case-like display */
    .caseHeader {
        padding: 2px;
        width: 536px;
    }
    .caseOpen {
        background-color: #dcdcdc;
    }
    .caseClose {
        background-color: #dcdcdc;
    }
    .iconCase {
        padding-left: 3px;
        padding-right: 3px;
        font-weight: bold;
        color: black;
    }
    .caseOpen .iconCase {
        background-color: #ffa500;
    }
    .caseClose .iconCase {
        background-color: #7ea57a;
    }
    /* pagination */
    .pageNumber {
        position: relative;
        bottom: -4px;
        font-size: 11px;
        font-weight: bold;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    .pageNumber.displayed {
        color: #e20074;
        text-decoration: none;
        cursor: default;
    }
    /* item descriptions */
    .itemDescriptionCell {
        width: 760px;
    }
    .itemDescriptionPreformattedText {
        font-family: arial, helvetica, sans-serif;
        font-size: 8pt;
        padding: 0 10px;
        margin: 10px 0;
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}
