/* SLIDER */

#sec-9 {
    /* Slider */
    .slick-slider {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
        width: 100%;
    }
    .slick-list {
        position: relative;
        overflow: hidden;
        display: block;
        margin: 0;
        padding: 0;
        &:focus {
            outline: none;
        }
        &.dragging {
            cursor: pointer;
            cursor: hand;
        }
    }
    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .slick-track {
        position: relative;
        left: 0;
        top: 0;
        display: block;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
        .slick-loading & {
            visibility: hidden;
        }
    }
    .slick-slide {
        float: left;
        height: 100%;
        min-height: 1px;
        [dir="rtl"] & {
            float: right;
        }
        img {
            display: block;
        }
        &.slick-loading img {
            display: none;
        }
        display: none;
        &.dragging img {
            pointer-events: none;
        }
        .slick-initialized & {
            display: block;
        }
        .slick-loading & {
            visibility: hidden;
        }
        .slick-vertical & {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
    .app-slider {
        max-width: 675px;
        margin: 0 auto;
        position: relative;
    }
    .slick-list {
        padding: 15px 0;
    }
    .slick-track {
        display: flex;
    }
    .slick-slide {
        display: flex !important;
        height: auto;
        align-items: center; //optional
        justify-content: center; //optional
        margin: 0 10px;
    }
    .slick-list {
        margin: 0 -10px;
    }
    .slick-arrow {
        font-size: 0;
        height: 44px;
        width: 44px;
        transform: none;
        transition: none;
        border: none !important;
        background: transparent url('../img/btn-sprite.png');
        position: absolute;
        top: 50%;
        z-index: 10;
    }
    .slick-prev {
        background-position: 0 0;
        left: -48px;
    }
    .slick-next {
        background-position: 44px 0;
        right: -48px;
    }
    .slick-prev:hover {
        background-position: 0 88px;
    }
    .slick-next:hover {
        background-position: 44px 88px;
    }
    .slick-prev:active {
        background-position: 0 44px;
    }
    .slick-next:active {
        background-position: 44px 44px;
    }
    /* ===============
   Slider Custom Arrows
   =============== */
    .slick-disabled {
        opacity: 0.2;
        pointer-events: none;
    }
    .slick-prev.slick-arrow.slick-disabled {
        background-position: 0 0;
        left: -48px;
    }
    .slick-next.slick-arrow.slick-disabled {
        background-position: 44px 0;
        right: -48px;
    }
    .slick-dots button {
        font-size: 0;
        height: 8px;
        width: 8px;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #b6b6b6 !important;
        background-color: #ededed;
    }
    ul.slick-dots {
        margin: 10px 0 0 0;
        text-align: center;
        height: 8px;
    }
    .slick-dots li {
        display: inline-block;
        margin: 0 2px;
        height: 8px;
    }
    .slick-dots .slick-active button,
    .slick-dots button:focus,
    .slick-dots button:hover {
        border: 1px solid #568727 !important;
        background-color: #6bb324;
    }
    @media screen and (max-width: 500px) {
        .app-slider {
            display: none;
        }
    }
}


/* SEC 9 */

.sec-9 .tabs-container {
    margin-top: 10px;
}

// @media screen and (max-width: 500px) {
//     .app-slider {
//         display: none;
//     }
// }

/* BOX */

#content .new-ribbon {
    position: absolute;
    width: 172px;
    color: $white;
    background: #235482;
    text-align: center;
    top: -11px;
    transform: translateX(-50%);
    left: 50%;
}

.p-box {
    float: left;
    outline: none !important;
}

.p-box {
    transition: all .2s ease-in-out;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
}

#content .p-detail p.box__title {
    color: $magenta;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
}

.p-box:hover {
    transform: scale(1.01);
    -ms-transform: scale(1);
    -webkit-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
    box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.6);
}

.p-box,
.box {
    border: 1px solid #dcdcdc;
    padding: 20px 30px 20px 30px;
    min-height: 456px;
    width: 320px;
    background-color: #fff;
}

.p-box_new {
    border: 1px solid #235482;
}

.p-detail {
    flex-grow: 1;
    width: 100%;
    
}

#content .p-detail p {
    font-size: 15px;
    margin: 0;
}

#content .p-detail .link {
    display: inline-block;
}

#content .p-detail p b,
#content .p-price-label {
    color: $mine-shaft-dark;
    font-weight: 500;
}

#content .p-price {
    font-size: 20px;
    color: $magenta;
}

#content .p-actions {
    width: 100%;
}

#content .p-actions .cta {
    margin: 8px 0;
}

#content .as2 .p-actions .cta {
    margin: 0;
}

#content .p-actions .link {
    text-decoration: none;
}

#content .p-actions .btn {
    padding: 8px 0;
    width: 100%;
}

@media screen and (max-width: 760px) {
    .p-box .box {
        margin: 0 auto;
    }
    #content .slick-prev {
        left: 0;
    }
    #content .slick-next {
        right: 0;
    }
}


/* ACCORDION */

.accordion {
    display: none;
}

@media screen and (max-width: 500px) {
    .accordion {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        margin: auto;
        display: block;
        font-size: 16px;
    }
    #content .ac-label {
        font-size: 15px;
        color: #757575;
        margin-bottom: 0;
    }
    .accordion .item .heading {
        height: 45px;
        line-height: 45px;
        cursor: pointer;
        background: url('../img/ico-plus.png') no-repeat;
        background-position: right center;
        border-top: 1px solid #d0d0d0;
        box-sizing: border-box;
        font-weight: 500;
        text-align: left;
    }
    .accordion .item.open .heading {
        background: url('../img/ico-minus.png') no-repeat;
        background-position: right center;
    }
    .accordion .item .content {
        display: none;
        padding-bottom: 15px;
    }
    .accordion .item.open .content {
        display: block;
    }
    .accordion .p-detail,
    .accordion .p-price-label {
        text-align: left;
    }
    #content .ac-price {
        color: #a4a4a4;
        font-weight: normal;
    }
    #content .accordion .item .content p {
        margin-top: 0;
    }
    .content:after {
        content: "";
        display: table;
        clear: both;
    }
}

#content p.mb-10 {
    margin-bottom: 10px;
}
