<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">mav1</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <h2 class="sec__title text-center">Personalized video</h2>
        <div id="personalizedPlayer">
            <!-- video -->
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>