<div class="c-row c-heading">
	<div class="c-content">
		<div class="c-text padding-bottom-0">
			<h1 class="home-logo">
				<strong>Telekom</strong><br />
				Doma</h1>
			<p>
				Profesionálny tím osobných predajcov má pre vás najvýhodnejšie riešenia. Spoľahnite na serióznosť silnej značky a ľudí, ktorí poznajú lokálne technológie. Využite ich rýchlosť a spoľahlivosť u vás doma.</p>
		</div>
		<div class="c-img">
			&nbsp;</div>
	</div>
</div>
<div class="c-row bg-ed">
	<div class="c-content">
		<div class="c-text padding-bottom-0">
			<div class="select-town-outer-wrapper">
				<label for="select-town">Región </label>
				<div class="select-town-wrapper">
					<select id="select-town" name="town"><option value="*">Všetko</option><option value="BA">Bratislava</option><option value="NR">Nitra</option><option value="ZI">Žilina</option><option value="PP">Poprad</option><option value="KE">Košice</option><option value="BB">Banská Bystrica</option><option value="INE">Iné</option></select></div>
			</div>
			<div class="select-order-outer-wrapper">
				<label for="select-order">Zoradiť </label>
				<div class="select-order-wrapper">
					<select id="select-order" name="surname"><option value=""></option><option value="ASC">od A-Z</option><option value="DESC">od Z-A</option></select></div>
			</div>
		</div>
	</div>
</div>
<div class="c-row bg-ed">
	<div class="c-content">
		<div class="c-text">
			<div class="people"></div>
		</div>
	</div>
</div>
<p>&nbsp;</p>