#content #scenario-bd.bd-scenario-activation {
  // user checker
  .overenie {
    padding: 0;
    background-color: transparent;
    display: none;
    @media screen and (min-width: 768px) {
      margin-top: 0rem;
    }
    .error {
      color: $orangeError;
      font-size: 0.875rem;
      margin-top: 15px;
    }
    .result {
      display: none;
      min-width: auto;
      margin: 20px 0;
      @media screen and (min-width: 768px) {
        width: auto;
        margin-left: 40px;
      }
      .result-cont {
        font-size: 0.875rem;
        min-width: auto;
        .result-content {
          span {
            margin-bottom: 10px;
            display: block;
          }
        }
      }
    }
    .form {
      width: auto;
      @media screen and (min-width: 768px) {
        padding: 0;
        margin-left: 40px;
      }
      .input-phone {
        width: 100%;
        @media screen and (min-width: 768px) {
          margin-top: 0;
        }
        .input-wrapper {
          @media screen and (min-width: 768px) {
            width: 80%;
          }
        }
        .btn {
          @media screen and (min-width: 768px) {
            margin-left: 0;
            width: 70%;
            max-width: 100%;
          }
        }
      }
      .input-pin {
        .input-wrapper {
          .input_text {
            font-size: 32px;
            font-weight: 800;
            text-align: center;
            padding-bottom: 0;
          }
        }
      }
      .btn {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem;
        text-transform: initial;
        font-weight: 700;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
    }
  }
}

#content .bd-scenario-activation {
  .verification {
    .id-verification {
      margin-top: 100px;
    }
  }
  .activation {
    padding: 1.25rem;
    .heading {
      font-size: 2rem;
      color: #383838;
      font-weight: 800;
      margin-bottom: 3rem;
    }
    .activation-type-wrapper {
      .activation-type {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        margin-bottom: 5px;
        border: 1px solid $lightgray;
        padding: 4px;
        cursor: pointer;
        .overenie {
          display: none;
        }
        &.selected {
          border: 1px solid $magenta;
          background-color: #ededed;
          padding: 4px;
          .overenie {
            display: block !important;
          }
          .activation-type-data {
            background-color: $white;
          }
          .activation-type-text {
            display: none;
            &.numberText {
              display: block;
            }
          }
        }
        &-data {
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          background-color: #ededed;
          padding: 0.5rem 1rem;

          .numberText {
            display: none;
          }

          .radio {
            margin-right: 5px;
            height: 30px;

            span {
              background-color: $white;
            }
            span.checked:before {
              width: 6px;
              height: 6px;
              top: 11px;
              left: 11px;
              background-color: $magenta;
            }
          }

          .activation-label {
            font-size: 1rem;
            font-weight: 700;
            max-width: 222px;
            min-height: 31px;
            vertical-align: middle;
            justify-content: center;
            align-items: center;
            display: inline-flex;
            cursor: pointer;
            @media screen and (min-width: 768px) {
              max-width: 100%;
              font-size: 1.125rem;
            }
          }

          .info {
            color: $textgray;
            font-size: 0.875rem;
            background-color: #e6e6e6;
            padding: 1rem 0.3rem;
            border-radius: 0.5rem;
            -webkit-border-radius: 0.5rem;
            -moz-border-radius: 0.5rem;
            -ms-border-radius: 0.5rem;
            -o-border-radius: 0.5rem;
            @media screen and (min-width: 768px) {
              margin-left: 40px;
            }
            @media screen and (min-width: 1367px) {
              font-size: 1rem;
            }
            a {
              font-size: 0.875rem;
            }
            span {
              margin-bottom: 0.625rem;
              display: block;
            }
            &.desktop {
              display: none;
              background-color: transparent;
              @media screen and (min-width: 768px) {
                display: inherit;
                padding: 0 1.625rem;
                margin: 0;
              }
              p {
                font-size: 0.875rem;
              }
            }
            &.mobile {
              @media screen and (min-width: 768px) {
                display: none !important;
              }
            }
          }
        }
        &-text {
          font-size: 0.75rem;
          margin-left: 40px;
        }
        #verifiedNum {
          display: none;
          margin-left: 40px;
          .num {
            font-weight: 800;
            font-size: 1.875rem;
            margin-bottom: 0;
          }
          #checkNewNum {
            font-size: 0.75rem;
            @media screen and (min-width: 768px) {
              margin-top: 10px;
              display: block;
            }
          }
        }
      }
    }
    .submitformbtn {
      width: 100%;
      margin-top: 2rem;
      text-transform: initial;
      font-size: 1rem;
      font-weight: 700;
      @media screen and (min-width: 768px) {
        width: 30%;
        float: right;
      }
      &.disabled {
        background-color: #d0d0d0;
        border: 1px solid #d0d0d0 !important;
        color: #a8a8a8;
      }
    }
  }
  .form-data {
    .nav-stepper {
      &-wrapper {
        .steps {
          width: 100%;
          max-width: 100%;
          .divider {
            background: #6c6c6c;
          }
        }
        .step-wrapper {
          .main-title {
            background-color: $darkgray;
            padding: 0 10px;
            text-align: left;
            min-width: 160px;
            @media screen and (min-width: 768px) {
              background-color: $lightgray;
            }
          }
        }
      }
    }
  }
}
