<div class="feedback-footer" style="display: none">
	<div class="container-fixed">
		<div class="col-xs-12 text-center star-box">
			<div>
				<h2 id="survey-header">Ako sa vám nakupovalo?</h2>
				<div class="header-desc">Pomôžte nám zlepšiť sa a vyplňte, prosím, krátke hodnotenie tejto stránky</div>
			</div>

			<div id="star-desc"></div>

			<section class='rating-widget'>

				<div class='success-box xs-12'>
					<div class='clearfix'></div>
					<div class='text-message'></div>
					<div class='clearfix'></div>
				</div>

				<!-- Rating Stars Box -->
				<div class='rating-stars text-center'>
					<ul id='stars'>
						<li class='star' data-value='1'>
							<i class='fa fa-star fa-fw'></i>
							<div class="star-answer" id="star-answer-1"></div>
						</li>
						<li class='star' data-value='2'>
							<i class='fa fa-star fa-fw'></i>
							<div class="star-answer" id="star-answer-2"></div>
						</li>
						<li class='star' data-value='3'>
							<i class='fa fa-star fa-fw'></i>
							<div class="star-answer" id="star-answer-3"></div>
						</li>
						<li class='star' data-value='4'>
							<i class='fa fa-star fa-fw'></i>
							<div class="star-answer" id="star-answer-4"></div>
						</li>
						<li class='star' data-value='5'>
							<i class='fa fa-star fa-fw'></i>
							<div class="star-answer" id="star-answer-5"></div>
						</li>
					</ul>
				</div>


			</section>

			<div class="star-note">
				<div>
					<label for="note" class="font-bold">Chcete k svojmu hodnoteniu niečo dodať?</label>
				</div>
				<textarea id="note" name="note" class="m-t-10 m-b-10" placeholder="Píšte sem"></textarea>
				<div>
					<a id="submit" class="btn cta_mag">Odoslať</a>
				</div>
			</div>

		</div>
	</div>
</div>

<!--<script type="text/javascript" src="../assets/js/main2.js"></script>-->
<script type="text/javascript" src="../assets/js/main2.js"></script>

<script>
  function loadCss() {
    var link = document.createElement('link');

    link.href = 'https://backvm.telekom.sk/static/microsites/exponea-survey/deploy/thank_you.css';

    link.rel = 'stylesheet';
    link.type = 'text/css';

    document.body.appendChild(link);
  }
</script>