<section id="hero">
    <div class="container-fixed">
        <div class="row">
            <div class="hero__content">
                <div class="hero__wrapper">
                    <a href="/" class="logo"><img src="../assets/img/logo.png" alt=""></a>
                    <a href="#sec-1" class="scroll-down scroll-to"><img src="../assets/img/arrow-down.png" alt=""></a>
                    <div class="flex_end">
                        <h1 class="hero__title">pridaj sa do spoločnosti,<br/><span class="t_big">kde #nicniejenemozne</span></h1>
                        <br/>
                        <a href="#sec-7" class="btn btn_white-outline scroll-to">Pošli životopis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="row">
            <h2 class="sec__title">STAŇ SA PREDAJCOM<br/><span class="t_bold"></span></h2>
            <div class="switch-holder">
                <a href="#" id="jobBtn1" class="btn btn_switch switch_left outline_white">TELEKOM CENTRA</a>
                <a href="#" id="jobBtn2" class="btn btn_switch switch_right outline_white">Na Call Centre</a>
            </div>
                <p class="sec__desc">Máš rád(a) nové technológie, baví ťa komunikovať s ľuďmi a rád(a) zdolávaš výzvy? Chceš sa naučiť, ako sa robí biznis v
                    medzinárodnej spoločnosti, ktorá hrá prvú ligu? Tak si tu správne. Práve hľadáme posilu <span id="jobDesc"></span></p>
                <div id="slider" class="owl-carousel">
                    <div><img src="../assets/img/gal-1.jpg" /></div>
                    <div><img src="../assets/img/gal-2.jpg" /></div>
                    <div><img src="../assets/img/gal-3.jpg" /></div>
                    <div><img src="../assets/img/gal-1.jpg" /></div>
                    <div><img src="../assets/img/gal-2.jpg" /></div>
                    <div><img src="../assets/img/gal-3.jpg" /></div>
                    <div><img src="../assets/img/gal-1.jpg" /></div>
                    <div><img src="../assets/img/gal-2.jpg" /></div>
                    <div><img src="../assets/img/gal-3.jpg" /></div>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-2" class="section sec-2">
        <div class="fixed-column">
            <h2 class="sec__title">KTO SME<br/><span class="t_bold">A O ČO SA SNAŽÍME?</span></h2>
            <p class="sec__desc">Umožňujeme ľuďom zdieľať svoje radosti aj starosti, šetriť čas, komunikovať... na diaľku, kdekoľvek, rýchlo a každý deň, prostredníctvom volaní v pevnej i mobilnej sieti, dát a televízie. Sme líder, ktorý posúva tento svet vpred.</p>
            <p class="we-are-telekom">Sme Telekom.</p>
        </div>
    </section>

    <section id="sec-3" class="section sec-3">
        <div class="fixed-column">
            <h2 class="sec__title">PREČO SA<br/><span class="t_bold">K NÁM PRIDAŤ?</span></h2>
            <div class="row">
                <div class="col-md-4 reason">
                    <img src="../assets/img/ico-1.jpg" alt="">
                    <p class="reason__desc">Pracuj v spoločnosti, kde je len to najlepšie dosť dobré. Inovácie, technológie, nároční zákazníci.</p>
                </div>
                <div class="col-md-4 reason">
                    <img src="../assets/img/ico-2.jpg" alt="">
                    <p class="reason__desc">Svoj príjem máš vo vlastných rukách. Máš možnosť do veľkej miery si ho ovplyvniť cez bonusy a výhry v rôznych súťažiach.</p>
                </div>
                <div class="col-md-4 reason"><img src="../assets/img/ico-3.jpg" alt="">
                    <p class="reason__desc">Podporíme ťa v tvojom raste, máme prepracovaný systém adaptácie, školení a vzdelávania, vďaka čomu môžeš rýchlejšie kariérne napredovať.</p>
                </div>
            </div>

            <div class="row reason__row">
                <div class="col-md-6 reason"><img src="../assets/img/ico-4.jpg" alt="">
                    <p class="reason__desc">Naše produkty máš za výhodné ceny a testovať ich môžeš ako prvý.</p>
                </div>
                <div class="col-md-6 reason"><img src="../assets/img/ico-5.jpg" alt="">
                    <p class="reason__desc">V našom tíme sú dobré vzťahy s kolegami, príjemná pracovná atmosféra a práca sa stáva zábavou a vďaka super kolektívu zvládneme aj najnáročnejšie ciele.</p>
                </div>
            </div>

            <span id="benefits">
                <h2 class="sec__title custom_title">ČO<br/><span class="t_bold">U NÁS ZÍSKAŠ?</span></h2>
                <p class="sec__desc">
                    •	Hneď od začiatku dostaneš veľkú podporu, nastavíme ti plán, čo sa kedy naučíš.<br />
                    •	Spoznáš telco novinky medzi prvými a prenikneš do psychológie predaja, spoznáš viacero typológií zákazníka a pod vedením našich šikovných kolegov sa budeš môcť rozvíjať v oblasti starostlivosti a predaja na jednotku:-)<br />
                    •	Sám môžeš zadarmo využívať naše produkty ako Happy paušál so smartfónom aj Magio televíziu, ostatné Ti poskytneme s výraznou zľavou.<br />
                    •	MOTIVAČNÉ OHODNOTENIE, ktoré tvorí => fixná mzda + variabilná zložka mzdy. Jej výšku si vieš výrazne sám ovplyvniť, záleží od Tvojej snahy a nasadenia (každý predaný produkt zvýši tvoj bonus – čím viac predáš, tým viac zarobíš ).
                </p>
            </span>
        </div>
    </section>

    <section id="sec-4" class="section sec-4">
        <div class="fixed-column">
            <h2 class="sec__title">AKÁ PRÁCA<br/><span class="t_bold">NA TEBA ČAKÁ?</span></h2>
            <p id="work-info" class="sec__desc">Úlohou predajcu je... Správne!
                <br/>Budeš predávať, čo uvidíš zákazníkom na očiach, ale aj produkty a služby, po ktorých zatúžia, hneď ako im ich predstavíš. Tiež im poradíš, pomôžeš, poďakuješ za návštevu. Proste biznis – poznáš to, nie? A budeš tiež na sebe pracovať, aby si sa čoskoro stal Best-sellerom.</p>
            </div>
        </section>

        <section id="sec-5" class="section sec-5">
            <div class="fixed-column">
                <h2 class="sec__title">AKÝ BY<br/><span class="t_bold">SI MAL BYŤ?</span></h2>
                <div class="row">
                    <div class="col-md-4 char"><img src="../assets/img/ico-6.png" alt="">
                        <p class="char__title">Obchodný duch</p>
                        <p class="char__desc">Mal(a) by si vedieť počúvať zákazníka, mať cit pre biznis a spozorovať príležitosť, kedy je vhodné mu niečo ponúknuť a predať.</p>
                    </div>
                    <div class="col-md-4 char"><img src="../assets/img/ico-7.png" alt="">
                        <p class="char__title">Iskra v očiach</p>
                        <p class="char__desc">Musíš mať nadšenie pre našu značku, produkty a zákazníkov.</p>
                    </div>
                    <div class="col-md-4 char"><img src="../assets/img/ico-8.png" alt="">
                        <p class="char__title">Vytrvalosť</p>
                        <p class="char__desc">Nenecháš sa len tak odradiť neúspechom. Každá chyba ťa posunie dopredu.</p>
                    </div>
                </div>
                <div class="row char__row">
                    <div class="col-md-4 char"><img src="../assets/img/ico-9.png" alt="">
                        <p class="char__title">potreba učiť sa</p>
                        <p class="char__desc">Záujem neustále sa učiť o produktoch, aplikáciách.. a bude fajn, ak budeš vedieť pracovať s počítačom v rôznych aplikáciách.</p>
                    </div>
                    <div class="col-md-4 char"><img src="../assets/img/ico-10.png" alt="">
                        <p class="char__title">záujem</p>
                        <p class="char__desc">Skutočný záujem o zákazníka preukážeš tým, že vyriešiš jeho požiadavku a prekročíš jeho očakávania.</p>
                    </div>
                    <div class="col-md-4 char"><img src="../assets/img/ico-11.png" alt="">
                        <p class="char__title">Úsmev</p>
                        <p class="char__desc">Mal(a) by si byť pozitívny(a), aj keď sa ti práve nedarí alebo nemáš najlepší deň.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="sec-6" class="section sec-6">
            <div class="fixed-column">
                <h2 class="sec__title"><span id="vt1">Pozri si našich Best-Sellerov</span><br/><span id="vt2" class="t_bold">Zuzku a Radovana</span></h2>
                <div class="videoWrapper">
                    <iframe id="promo-video" width="560" height="315" src="https://www.youtube.com/embed/fTeh9_WiNfU" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </section>

        <section id="sec-7" class="section sec-7">
            <div class="fixed-column">
                <h2 class="sec__title">POŠLI<br/><span class="t_bold">ŽIVOTOPIS</span></h2>
                <p class="sec__desc">Ak ťa táto pozícia zaujala a rád by si sa stal súčasťou nášho tímu, pošli svoj životopis na <a href="mailto:MyHR_Recruitment@telekom.com" class="mailto">MyHR_Recruitment@telekom.com</a> alebo ho uploadni priamo tu.</p>

                <div id="form-holder"></div>
            </div>
        </section>

        <section id="sec-8" class="section sec-8">
            <div class="fixed-column">
                <h2 class="sec__title">KDE HĽADÁME<br/><span class="t_bold">NOVÝCH KOLEGOV</span></h2>
                <div id="map"></div>
                <p id="data-error"></p>
                <div class="other-positions">
                    <p class="other-title">Ostatné pozície</p>
                    <div class="position__holder"></div>
                </div>
                <div class="mobile-positions">
                    <div class="mobile-position__holder"></div>
                </div>
                <p class="contact__info">Slovak Telekom, a. s., Bajkalská 28, 817 62 Bratislava, Tel.: 0800 123 456</p>
            </div>
        </section>


        <div class="formComposition formCompositionRender formCompositionRenderDisplay">
            <h2 id="-0">hr-zivotopis</h2>
            <div class="dynamicFormLeft">
                <div class="dynamicFormBox">
                    <div class="dynamicFormBoxLabel">Dostupné hlavné polia</div>
                    <ul class="availableRootFields ui-sortable">
                        <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypePAGE" style="display: none;">
                            <div>
                                <div class="formFieldRender">
                                    <h4 class="pageNameField defaultValueField">Meno stránky</h4>
                                    <div class="pageContent">
                                        <ul class="dynamicFormSubFields connectedSortableSubFields">
                                            <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypeTHANK_YOU_PAGE" style="display: none;">
                            <div>
                                <div class="formFieldRender">
                                    <h4 class="pageNameField defaultValueField">Meno stránky</h4>
                                    <div class="pageContent">
                                        <ul class="dynamicFormSubFields connectedSortableSubFields">
                                            <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <br>
                <div class="dynamicFormBox">
                    <div class="dynamicFormBoxLabel">Dostupné polia</div>
                    <ul class="availableFields ui-sortable">
                        <li class="dynamicFormItemBox fieldTypeINPUT">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField inputRenderField">
                                        <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypePASSWORD">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField passwordRenderField">
                                        <label class="labelField">Popisok:</label> <span><input type="password" class="defaultValueField passwordField" value="" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeTEXTAREA">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField textareaRenderField">
                                        <label class="labelField">Popisok:</label> <span><textarea class="textareaField defaultValueField" title="Tooltip"></textarea></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeSMS_VERIFICATION">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField formFieldContainer destinationRenderField">
                                        <label class="labelField">Popisok čísla:</label> <span> <input type="text" class="verificationFieldNumber defaultValueField" value="Číslo" title="Tooltip čísla"> <button data-localized-text="Odoslať" data-localized-text-1="Preposlať" class="submit">Odoslať</button> </span> <span class="formFieldValidationResult"><span class="error"></span></span>
                                    </div>
                                    <div class="formFieldRenderField formFieldContainer codeRenderField">
                                        <label class="verificationFieldCodeLabel labelField fieldRequired">Popisok kódu:</label> <span> <input type="text" class="verificationFieldCode defaultValueField" value="Kód" title="Tooltip"> <button class="submit">Overiť</button> </span> <span class="formFieldValidationResult"><span class="error" data-default-error-message="Prosím overte zadaný údaj"></span></span>
                                    </div>
                                    <div class="formFieldContainer successRenderField"><span class="staticTextField wysiwygValue">SMS bola overená.</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeEMAIL_VERIFICATION">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField formFieldContainer destinationRenderField">
                                        <label class="labelField">Popisok emailu:</label> <span> <input type="text" class="verificationFieldNumber defaultValueField" value="Email" title="Tooltip emailu"> <button data-localized-text="Odoslať" data-localized-text-1="Preposlať" class="submit">Odoslať</button> </span> <span class="formFieldValidationResult"><span class="error"></span></span>
                                    </div>
                                    <div class="formFieldRenderField formFieldContainer codeRenderField">
                                        <label class="verificationFieldCodeLabel labelField fieldRequired">Popisok kódu:</label> <span> <input type="text" class="verificationFieldCode defaultValueField" value="Kód" title="Tooltip kódu"> <button class="submit">Overiť</button> </span> <span class="formFieldValidationResult"><span data-default-error-message="Prosím overte zadaný údaj" class="error"></span></span>
                                    </div>
                                    <div class="formFieldPartRender successRenderField"><span class="staticTextField wysiwygValue">E-mail bol overený.</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeDATE">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField dateRenderField">
                                        <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField dateTimeField" value="" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeSTATIC_TEXT">
                            <div>
                                <div class="formFieldRender">
                                    <div class="staticTextField wysiwygValue">Statický text</div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeCHECKBOX">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField checkboxRenderField">
                                        <label class="labelField">Popisok:</label>
                                        <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField"></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                    </div>
                                    <div class="checkboxSubFields dynamicFormSubFormDiv">
                                        <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields" style="display: none;">
                                            <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeRADIOBOX">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField radioboxRenderField">
                                        <label class="labelField">Popisok:</label>
                                        <div class="radio"><span><input type="radio" class="defaultValueField radioboxField optionsField"></span></div>
                                    </div>
                                    <div class="radioboxSubFields dynamicFormSubFormDiv">
                                        <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields" style="display: none;">
                                            <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeSELECT">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField selectRenderField">
                                        <label class="labelField">Popisok:</label> <span> <div id="heapbox_99557333" class="heapBox"><a href="" class="holder">Empty</a><a href="" class="handler"></a><div class="heap" style="height: auto;"><ul class="heapOptions"></ul></div></div><select class="selectField defaultValueField" style="display: none;"> </select> </span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dynamicFormItemBox fieldTypeSUBMIT">
                            <div>
                                <div class="formFieldRender">
                                    <div class="formFieldRenderField submitRenderField">
                                        <label class="labelField">Popisok:</label> <span><input type="submit" value="Submit" class="defaultValueField submitField" title="formComposition.field.submit.tooltip"></span> </div>
                                    </div>
                                </div>
                            </li>
                            <li class="dynamicFormItemBox fieldTypeRESET">
                                <div>
                                    <div class="formFieldRender">
                                        <div class="formFieldRenderField resetRenderField">
                                            <label class="labelField">Popisok:</label> <span><input type="reset" value="Reset" class="defaultValueField resetField" title="Reset tooltip"></span> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeFILE">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField fileRenderField">
                                                <label class="labelField">Popisok:</label> <span><input type="file" name="files" multiple="multiple" class="defaultValueField fileField" title="Tooltip"></span> <span class="formFieldValidationResult"><span class="error" style="display:none;">Nie je možné nahrať súbory s nepovolenými príponami</span></span>
                                                <div class="fileInputResponseDiv"> <span class="fileUploadedItems"></span> </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeHIDDEN">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="formFieldRenderField hiddenRenderField"> <span><input type="hidden" class="defaultValueField hiddenField" value="Value"></span> </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeNOTIFICATION_CHOOSER">
                                    <div>
                                        <div class="formFieldRender"> </div>
                                    </div>
                                </li>
                                <li class="dynamicFormItemBox fieldTypeMULTIPLE_INPUT">
                                    <div>
                                        <div class="formFieldRender">
                                            <div class="multipleInputRenderField">
                                                <div class="multipleInputRenderElements">
                                                    <div class="multipleInputRenderElement">
                                                        <div class="formFieldRenderField inputRenderField">
                                                            <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField multiField" value="Defaultná hodnota"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                        </div>
                                                    </div>
                                                    <div class="multipleInputRenderElement hidden">
                                                        <div class="formFieldRenderField inputRenderField">
                                                            <label class="labelField">Popisok:</label> <span><input type="text" class="defaultValueField multiField" value="Defaultná hodnota"></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span> <span class="multiInputField-close"></span> </div>
                                                        </div>
                                                    </div>
                                                    <div> <span class="multiInputField-add"></span> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="dynamicFormMain">
                            <ul class="dynamicFormFields connectedSortableFields ui-sortable">
                                <li class="dynamicFormItemBox dynamicFormItemRootBox fieldTypePAGE" id="formFieldId113054" style="display: list-item;">
                                    <div>
                                        <div class="formFieldRender">
                                            <h4 class="pageNameField defaultValueField">Defaultná hodnota</h4>
                                            <div class="pageContent">
                                                <ul class="dynamicFormSubFields connectedSortableSubFields ui-sortable">
                                                    <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId113055">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField">
                                                                    <label class="labelField" style="width: 120px;">Meno</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId113056">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField">
                                                                    <label class="labelField" style="width: 120px;">Priezvisko</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeINPUT" id="formFieldId113057">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField inputRenderField">
                                                                    <label class="labelField" style="width: 120px;">E-mail</label> <span><input type="text" class="defaultValueField" value="Defaultná hodnota" title="" placeholder=""></span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeSELECT" id="formFieldId113058">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField selectRenderField">
                                                                    <label class="labelField" style="width: 120px;">Lokalita</label> <span> <div id="heapbox_20194606" class="heapBox"><a href="" class="holder" rel="Bratislava - Aupark">Bratislava - Aupark</a><a href="" class="handler"></a><div class="heap" style="height: auto; display: none;"><ul class="heapOptions"><li class="heapOption"><a href="" rel="Bratislava - Aupark" title="Bratislava - Aupark" class="selected disabled">Bratislava - Aupark</a></li><li class="heapOption"><a href="" rel="Bratislava - Avion" title="Bratislava - Avion" class="">Bratislava - Avion</a></li></ul></div></div><select class="selectField defaultValueField" style="display: none;"> <option value="Bratislava - Aupark" selected="selected">Bratislava - Aupark</option><option value="Bratislava - Avion">Bratislava - Avion</option></select> </span> <span class="formFieldValidationResult"><span class="validated" style="display: none;"></span><span class="error"></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeFILE" id="formFieldId113060">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField fileRenderField">
                                                                    <label class="labelField" style="width: 120px;">Životopis</label> <span><input type="file" name="files" multiple="multiple" class="defaultValueField fileField" title=""></span> <span class="formFieldValidationResult"><span class="error" style="display:none;">Nie je možné nahrať súbory s nepovolenými príponami</span></span>
                                                                    <div class="fileInputResponseDiv"> <span class="fileUploadedItems"></span> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeCHECKBOX" id="formFieldId113059">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField checkboxRenderField">
                                                                    <label class="labelField" style="width: 120px;"></label>
                                                                    <div class="checker"><span><input type="checkbox" class="defaultValueField checkboxField optionsField" title=""></span></div> <span class="formFieldValidationResult"><span class="error"></span></span>
                                                                </div>
                                                                <div class="checkboxSubFields dynamicFormSubFormDiv" style="display: none;">
                                                                    <ul class="dynamicFormSubFields dynamicFormSubForm connectedSortableSubFields ui-sortable" style="display: none;">
                                                                        <li class="emptyPageField" style="display: none;">Presuňte sem hlavné prvky formulára</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="dynamicFormItemBox fieldTypeSUBMIT" id="formFieldId113061">
                                                        <div>
                                                            <div class="formFieldRender">
                                                                <div class="formFieldRenderField submitRenderField">
                                                                    <label class="labelField" style="width: 120px;"></label> <span><input type="submit" value="Odoslať" class="defaultValueField submitField" title=""></span> </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clearBoth"></div>
                            <div class="dynamicFormPages"> <span class="prevPageButtonSpan"><input type="button" class="prevPageButton" value="Predchádzajúca stránka" style="display: none;"></span> <span class="pageMiddle"> <span> Stránka <span class="pageNumber">1</span> z <span class="totalPages">1</span> </span>
                            </span> <span class="nextPageButtonSpan" style="float: right;"><input type="button" class="nextPageButton" value="Nasledujúca stránka" style="display: none;"></span> <span class="nextPageButtonSpan" style="float: right;"><input type="button" class="finishFormButton" value="Odoslať" style="display: inline-block;"></span>
                            <div class="clearBoth"></div>
                        </div>
                        <br> </div>

                        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
                        <script type="text/javascript" src="../assets/js/svk.js"></script>
                        <script type="text/javascript" src="../assets/js/map.js"></script>
                    -->

                    <script type="text/javascript" src="../assets/js/slider.js"></script>
                    <script type="text/javascript" src="../assets/js/form.js"></script>
                    <script type="text/javascript" src="../assets/js/map-builder.js"></script>
                    <script type="text/javascript" src="../assets/js/main.js"></script>
