<div id="content">
  <section class="sec-1" id="hero-product">
    <div class="container-fixed xs-orderWrapper clearfix" style="overflow: hidden">
      <div class="col-md-6 col-sm-8 col-xs-12 xs-order-2 pad30">
        <div class="hero__content">
          <h2 class="hero__title"><b>MAGENTA</b><br>
            SMARTHOME
          </h2>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 col-xs-12 xs-order-1 pad30">
        <div class="hero__mobile">
          <img src="{{imgLR}}/shop-hero-mobile.png" alt="">
        </div>
      </div>
    </div>
  </section>

  <!-- nav menu -->
  <div class="secondary-nav">
    <app-navmenu></app-navmenu>
  </div>


  <section class="section sec-2">
    <div class="container-fixed">
      <div class="backToShop">
        <a class="link" routerLink="/shop">
          <fa [name]="'chevron-left'"></fa> Späť na zoznam produktov
        </a>
      </div>
      <div class="row">
        <h1 class="headline">{{product?.name}}</h1>
        <div class="actionButtons">
          <a class="print" onclick="window.print();">
            <fa [name]="'print'" [size]=1></fa> Vytlačiť
          </a>
        </div>
        <div class="product-wrapper">
          <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="gallery clearfix">
              <div class="pics clearfix">
                <div class="thumbnails">
                  <div class="preview" *ngFor="let img of images; let saveIndex = index">
                    <a [class.selected]="img.active" [class.selected]="saveIndex === 0">
                      <img src="{{mainImgSrc + img.url}}" (click)="changeImage = true; selectImg(img); " />
                    </a>
                  </div>
                  <!-- <div class="preview">
                  <a [class.selected]="border">
                    <img src="../../../assets/img/product2_prev.png" (click)="changeImage = true; addBorder(true); newImgUrl = '../../../assets/img/product2_prev.png'" /> </a>
                </div>
                <div class="preview">
                  <a [class.selected]="border">
                    <img src="../../../assets/img/product3_prev.png" (click)="changeImage = true; newImgUrl = '../../../assets/img/product3_prev.png'" /></a>
                </div> -->
                </div>
                <div class="full__holder">
                  <img class="full" [src]="changeImage ? clickedImgurl : mainImgSrc + product?.imgs[0].url" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7 col-sm-7 col-xs-12 pad-t-20">
            <div class="price-monthly">
              <p class="font-med"><span class="mag">Iba {{product?.price | number | replace:'.':','}} €</span> / mesačné
                splátky</p>
              <p class="legal">Platba počas 24 mes. viazanosti</p>
            </div>
            <div [hidden]="product?.priceDeposit == 0 " class="full-price">
              <p class="font-med">Akontácia: <b>{{product?.priceDeposit | number | replace:'.':','}} €</b></p>
            </div>
            <div [hidden]="product?.fullPrice == 0" class="full-price">
              <p class="font-med">Kúpna cena: <b>{{product?.fullPrice | number | replace:'.':','}} €</b></p>
              <p class="legal">Pri jednorazovej platbe</p>
              <p class="purchaseConditions">{{product?.purchaseCondition}}</p>
            </div>

            <!-- button ADD TO CART -->
            <button class="btn cta" style="cursor: pointer;" *ngIf="product?.isInCart == undefined"
              (click)="addToCart(product)">PRIDAŤ DO KOŠÍKA</button>
            <!-- button ADDED TO CART-->
            <button class="btn cta" style="cursor: auto;" *ngIf="product?.isInCart"
              [class.incartstyle]="product?.isInCart == true">VLOŽENÝ V KOŠÍKU</button>

            <div>
              <markdown [data]="product?.longDesc"></markdown>
            </div>
            <!--
          <div class="togleArrow">
            <a class="toggle-arrow" (click)="hideAndShow('content1','arrow1')">Zobraziť celý text<span class="arrow-right" [class.arrow-rotate]="toggleArrow.arrow1"></span></a>
            <p class="arrow-content" [@toggleContent]="openClose.content1">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:<br>
          0800 123 777 </p>
          </div>
        -->
          </div>
        </div>

      </div>
    </div>
  </section>


  <section class="section sec-3" id="sec-3">
    <div class="container-fixed">
      <!-- Tabs -->
      <tabs-holder>
        <tab [tabTitle]="'Popis produktu'">
          <div class="tabContent">
            <div [ngClass]="[product?.descImg ? 'col-md-5' : 'col-md-12', 'text']" class="col-sm-12 xs-order-second">
              <markdown [data]="product?.fullDesc"></markdown>
            </div>
            <div *ngIf="product?.descImg" class="col-md-7 col-sm-12 image xs-order-first">
              <img src="{{mainImgSrc}}{{product?.descImg.url}}" width="100%" alt="">
            </div>
          </div>
        </tab>
        <tab [tabTitle]="'Parametre'">
          <div class="tabContent">
            <div class="paramsWrapper">
              <markdown [data]="product?.parameters"></markdown>
            </div>
          </div>
        </tab>
        <tab [tabTitle]="'Inštalácia'" *ngIf='product?.installation'>
          <div class="tabContent">
            <div class="installWrapper">
              <markdown [data]="product?.installation"></markdown>
            </div>
          </div>
        </tab>
      </tabs-holder>
    </div>
  </section>




</div>