<section class="prod-list_densed section">
	<div class="fixed-column">
		<h2 class="section__title section__hero__title section__title__double">
			NOVÁ KOLEKCIA SONY XPERIA</h2>
		<div class="prod__carousel_4">
			<!-- XZ -->
			<!-- <div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="../assets/img/Xperia_XZ-premium-hero.png" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ XZ Premium</h4>
				<ul class="at-a-glance">
					<li>
						Prvý smartfón na svete s 4K HDR displejom</li>
					<li>
						19MP Motion Eye™ fotoaparát</li>
					<li>
						Super spomalené videá s 960 obrázkami za sekundu</li>
					<li>
						13MP širokouhlý predný fotoaparát</li>
					<li>
						Vodeodolnosť IP65/68*</li>
					<li>
						Inteligentný režim STAMINA</li>
					<li>
						Xperia Actions sa učí a všetko optimalizuje</li>
				</ul>
				<div class="cta__wrapper">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_xz_premium" target="_parent">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-2">viac info</a></div>
			</div> -->

			<!-- XZ1 compact -->
			<!-- <div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="../assets/img/Xperia+XZ1+Compact_White+Silver_front__main_162x250.jpg" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ XZ1 Compact</h4>
				<ul class="at-a-glance">
					<li>
						19 MP Motion EyeTM fotoaparát so super spomalenými videami</li>
					<li>
						superostré zábery pohybov</li>
					<li>
						120° super širokouhlá predná kamera</li>
					<li>
						prémiový zvuk a digitálne potláčanie hluku</li>
					<li>
						vodeodolný s ochranou IP65/68*</li>
					<li>
						Android 8.0 Oreo</li>
				</ul>
				<div class="cta__wrapper">
					<a class="btn btn_disabled" href="#">VYPREDANÉ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-1">viac info</a></div>
			</div> -->
			<!-- XA -->
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="../assets/img/Xperia_XZ3_Telekom_microsite_Front_Saturn_White_Silver_162x250px.jpg" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ XZ3</h4>
				<ul class="at-a-glance">
					<li>
						6,0" HDR OLED displej s rozlíšením QHD+ (1440×2880 pixelov)</li>
					<li>
						Dynamic Vibration System pre strhujúcu zábavu</li>
					<li>
						Fotoaparát Motion Eye™ s rozlíšením 19 MP, prediktívnym fotením a širokouhlým objektívom</li>
					<li>
						Procesor  Qualcomm® Snapdragon™ 845</li>
					<li>
						Vodeodolná konštrukcia IP65/68<span class="superscript">4</span></li>
				</ul>
				<div class="cta__wrapper">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_xz3">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-3">viac info</a></div>
			</div>

			<!-- XA2 -->
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="../assets/img/Xperia_XA2_silver_front_162x250px.png" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ XA2</h4>
				<ul class="at-a-glance">
					<li>
						23MP fotoaparát so 4K videom</li>
					<li>
						Super širokouhlá predná kamera</li>
					<li>
						Batéria s kapacitou až 3 300 mAh </li>
					<li>
						5,2" Full HD displej</li>
					<li>
						Čítačka odtlačkov prstov</li>
				</ul>
				<div class="cta__wrapper">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_xa2" target="_parent">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical scroll-to" href="#sec-5">viac info</a></div>
			</div>
			<!-- L1 -->
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="../assets/img/l1-hero.png" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ L1</h4>
				<ul class="at-a-glance">
					<li>
						Pôsobivý 5,5” HD displej</li>
					<li>
						Stvorený pre tvoju ruku</li>
					<li>
						Výkon, ktorý potrebuješ</li>
					<li>
						Prispôsobí sa tvojim zvykom</li>
				</ul>
				<div class="cta__wrapper">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_l1" target="_parent">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical link-nordr scroll-to" href="#sec-4">viac info</a></div>
			</div>
			<div class="grid__col_3 slide">
				<div class="img__holder__origin">
					<img alt="" class="img__swap" src="../assets/img/l2_black_front_162x250px.png" /></div>
				<div class="img__holder">
					&nbsp;</div>
				<h4 class="prod__title">
					Xperia™ L2</h4>
				<ul class="at-a-glance">
					<li>
						13MP hlavný fotoaparát</li>
					<li>
						Superširokouhlý 8MP fotoaparát pre selfie</li>
					<li>
						5,5 "HD obrazovka s funkciou minidispleja</li>
					<li>
						Veľkokapacitná batéria 3 300 mAh</li>
					<li>
						Snímač odtlačkov prstov pre vyššiu bezpečnosť</li>						
				</ul>
				<div class="cta__wrapper">
					<a class="btn cta" href="/mob/objednavka/-/scenario/e-shop/hw-pausal/vyber-hw/sony_xperia_l2" target="_parent">OBJEDNAŤ</a>
					<div class="more-info__clearer">
						&nbsp;</div>
					<a class="more-info more-info_vertical link-nordr scroll-to" href="#sec-6">viac info</a></div>
			</div>			
			<!-- E5 --><!-- <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img alt="" class="img__swap" src="../assets/img/e5-main.png" /></div>
                <div class="img__holder">
                    &nbsp;</div>
                <h4 class="prod__title">
                    Xperia™ E5</h4>
                <div class="at-a-glance">
                    <ul>
                        <li>
                            13 MP fotoaparát s AF a HDR</li>
                        <li>
                            5 MP predný fotoaparát</li>
                        <li>
                            Výdrž batérie až do 2 dní*</li>
                        <li>
                            Podpora pamäťových kariet do 200GB</li>
                        <li>
                            Štvorjadrový procesor</li>
                    </ul>
                </div>
                <div class="cta__wrapper">
                    <a class="button button_lima" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/sony_xperia_e5">OBJEDNAŤ</a>
                    <div class="more-info__clearer">
                        &nbsp;</div>
                    <a class="more-info more-info_vertical scroll-to" href="#sec-4">viac info</a></div>
            </div> --></div>
	</div>
</section>
<section class="section section__nav">
	<div class="product__nav">
		<div class="fixed-column">
			<div class="grid__col_12">
				<div class="menuIcon">
					<div id="nav-icon">
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
						<div>
							&nbsp;</div>
					</div>
					<a class="product__nav_link" href="#menuExpand">Menu</a></div>
				<div class="menu">
					<ul>
						<!-- <li>
							<div class="content__sec-1 menu__link__content">
								<a class="scroll-to" href="#sec-1"><span class="link__text">Xperia™ XZ Premium</span> <img alt="" src="../assets/img/Xperia+XZ+Premium_nav.png" /> </a></div>
						</li> -->
						<!-- <li>
							<div class="content__sec-2 menu__link__content">
								<a class="scroll-to" href="#sec-2"><span class="link__text">Xperia™ XZ1 Compact</span> <img alt="" src="../assets/img/Xperia+XZ1+Compact_White+Silver_front_menu_26x49.jpg" /> </a></div>
						</li> -->
						<li>
							<div class="content__sec-3 menu__link__content">
								<a class="scroll-to" href="#sec-3"><span class="link__text">Xperia™ XZ3</span> <img alt="" src="../assets/img/Xperia_XZ3_Telekom_microsite_Front_Saturn_White_Silver_26x49px.png" /> </a></div>
						</li>
						<li>
							<div class="content__sec-4 menu__link__content">
								<a class="scroll-to" href="#sec-4"><span class="link__text">Xperia™ L1</span> <img alt="" src="../assets/img/l1-nav.png" /> </a></div>
						</li>
						<li>
							<div class="content__sec-5 menu__link__content">
								<a class="scroll-to" href="#sec-5"><span class="link__text">Xperia™ XA2</span> <img alt="" src="../assets/img/Xperia_XA2_silver_front_26x49px.jpeg" /> </a></div>
						</li>
						<li>
							<div class="content__sec-6 menu__link__content">
								<a class="scroll-to" href="#sec-6"><span class="link__text">Xperia™ L2</span> <img alt="" src="../assets/img/l2_black_front_26x49px.png" /> </a></div>
						</li>						
						<!-- <li>
							<div class="content__sec-3 menu__link__content">
								<a class="scroll-to" href="#sec-4"><span class="link__text">Xperia™ L1</span> <img alt="" src="../assets/img/l1-nav.png" /> </a></div>
						</li> -->
						<!--   <li>
                            <div class="content__sec-4 menu__link__content">
                                <a class="scroll-to" href="#sec-4"><span class="link__text">Xperia™ E5</span> <img alt="" src="../assets/img/e5-nav.png" /> </a></div>
                        </li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--
####
    XPERIA XZ
####
-->
<!-- <div class="main_sec" id="sec-1">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				XPERIA™ XZ PREMIUM</h2>
			<h4 class="prod__subtitle">
				Všetko je zrazu Wow</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="../assets/img/xz-premium-specs.png" /></div>
			</div>

			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							5,5” 4K HDR displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							3230 mAh<br />
							s inteligentnou správou</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							19 MPx<br />
							so Super slow motion</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							13 MPx<br />
							širokouhlý</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							64 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 7.1</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title web-text-wht">
					Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title web-text-wht">
					Všetko je zrazu Wow</h4>
				<h4 class="feat__sub-title">
                    Každý detail uvidíte lepšie vďaka vyššej jemnosti displeja</h4>
				<p class="feat__desc web-text-wht">
					Smartfón Xperia XZ Premium predstavuje nový Motion Eye™ - natoľko pokrokový fotoaparát, že zachytí pohyb, ktorý si ľudské oko ani nevšimne. A vďaka unifikovanému dizajnu, očarujúcemu 4K HDR displeju a inteligentným funkciám je to doteraz náš najprelomovejší smartfón.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Displej Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title">
					Prvý smartfón na svete so 4K HDR displejom</h4>
				<p class="feat__desc">
					Budeš inšpirovaný výnimočným rozlíšením, farbami a kontrastom 4K HDR displeja.</p>
			</div>
			<div class="feat-img__holder feat-img__holder_right">
                <img alt="" src="../assets/img/Z5-Premium-Baner2.png" /></div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-fotoaparat">
				<h2 class="feat__title web-text-wht">
					Fotoaparát Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title web-text-wht">
					Prelomový spôsob ako zachytiť svet</h4>
				<p class="feat__desc web-text-wht">
					So super spomaleným záberom a prediktívnym fotením ti nový Motion Eye™ fotoaparát umožní zažiť viac ako dokáže vidieť ľudské oko. Využíva rýchlejšie a šikovnejšie spracovanie záberu ako kedykoľvek predtým. Získaš tak vynikajúcu kvalitu fotiek a našu doteraz najlepšiu technológiu detekcie pohybu.</p>
			</div>
		</div>
	</section>
	<section class="feat-list section">
		<div class="fixed-column">
			<div class="grid__col_4 feat-list__grid">
				<img alt="" src="../assets/img/exmor-logo.jpg" />
				<h4 class="feat-list__title">
					Ostré zábery a menej fotografického šumu</h4>
				<p class="feat-list__desc">
					Nový senzor Exmor RS™ pre mobilné zariadenia so zabudovanou pamäťou ponúka 5x rýchlejšie scanovanie záberu, čo zabezpečí ostrejšie zábery pohybu.</p>
			</div>
			<div class="grid__col_4 feat-list__grid">
				<img alt="" src="../assets/img/lens-g.jpg" />
				<h4 class="feat-list__title">
					Oceňovaný objektív Sony G Lens</h4>
				<p class="feat-list__desc">
					Upravený objektív G Lens presne zachytáva detaily a textúru, čo zabezpečí vyššiu optickú ostrosť, od jedného rohu po druhý.</p>
			</div>
			<div class="grid__col_4 feat-list__grid">
				<img alt="" src="../assets/img/bionz-logo.jpg" />
				<h4 class="feat-list__title">
					Inteligentné obrazové spracovanie</h4>
				<p class="feat-list__desc">
					Zdokonalili sme náš vychýrený obrazový procesor BIONZ™ pre mobilné zariadenia, ktorý sa postará o presnejšiu detekciu pohybu a rýchlejšie obrazové spracovanie.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Je tu super spomalený záber</h2>
				<p class="feat__desc">
					Motion Eye™ kamera je jedinečná: nahrá 960 snímok za sekundu pre prehrávanie super spomalených záberov, ktoré odhalia skryté čaro života. Stopáž je štvornásobne pomalšia ako videá nahrané inými smartfónmi1, takže sa odhalí všetko napätie a detaily.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Zachytí spontánnu krásu života</h2>
				<h4 class="feat__sub-title">
                    Dosahujte viac a dlhšie</h4>
				<p class="feat__desc">
					Skutočný život môže byť oveľa rýchlejší ako tvoj prst na spúšti. Nový Motion Eye™ fotoaparát s prediktívnym zachytávaním obrazu začne ukladať snímky do vyrovnávacej pamäte sekundu pred stisnutím spúšte. Je to ako pretáčanie času a ty si môžeš vybrať až zo štyroch záberov.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title web-text-wht">
					Dizajn Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title web-text-wht">
					Odolá vode</h4>
				<p class="feat__desc web-text-wht">
					S certifikáciou IP65/68 je Xperia XZ Premium chránená pred obliatím vodou aj proti prachu. Dokonca môžeš bez obáv telefonovať aj v daždi.*</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Výkon Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title">
					Má silu fungovať rýchlejšie</h4>
				<p class="feat__desc">
					Čokoľvek chceš urobiť, Xperia XZ Premium to urobí rýchlo. Pokrokový výkon procesora znamená, že máš k dispozícii super plynulý výkon, či už surfuješ na internete alebo hráš rýchle hry.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-1 feat-8 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Batéria Xperia™ XZ Premium</h2>
				<h4 class="feat__sub-title">
					Batéria, ktorá vydrží dlhšie</h4>
				<p class="feat__desc">
					Xperia XZ Premium sa učí z toho, ako ju používaš, a pomôže ti upraviť spotrebu batérie, aby vydržala po celý deň. Jej technológie nabíjania predchádzajú poškodeniu batérie a sú schopné časom až zdvojnásobiť jej životnosť.</p>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="fixed-column">
			<p class="disclaimer">
				* Xperia™ XZ Premium je vodotesný a chránený voči prachu, takže žiadny strach, ak vás zastihol dážď alebo ho chcete umyť pod tečúcou vodou. Ale pozor - všetky otvory a prichytené krytky musia byť pevne uzatvorené. Zariadenie by ste nemali ponoriť pod vodu celé a nevystavujte ho ani morskej, slanej či chlórovej vode alebo kvapalinám, ako sú nápoje. Zneužitie a nesprávne používanie zruší platnosť záruky. Zariadenie má stupeň ochrany IP65/68. Viac informácií nájdete na <a href="http://www.sonymobile.com/waterproof" target="_blank">www.sonymobile.com/waterproof</a>. Poznámka: Model Xperia™ XZ Premium má bezkrytkový port USB na prepojenie a nabíjanie. USB port musí byť pred nabíjaním úplne suchý.</p>
		</div>
	</section>
</div> -->
<!--
####
    XPERIA XZ1 Compact
####
-->
<!-- <div class="main_sec" id="sec-2">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				Xperia™ XZ1 Compact</h2>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="../assets/img/Xperia+XZ1+Compact_White+Silver_front_hero_sec_212x347px.jpg" /></div>
			</div>

			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							4,6” IPS displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							2700mAh mAh</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							19 MPx<br />
							so Super slow motion</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							8 MPx<br />
							širokouhlý</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							32 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 8.0</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Xperia XZ1 Compact</h2>
				<h4 class="feat__sub-title">
					Zachyť skutočnú krásu života</h4>
				<p class="feat__desc">
					Fotoaparát Motion Eye™ so Super slow motion videom a prediktívným snímaním v smartfóne Xperia XZ1 Compact ti umožnia zachytiť momenty, ktoré si nikdy predtým nevidel.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left-XZ1compact">
				<h2 class="feat__title">
					Najnovšie inovácie fotoaparátu od Sony</h2>
				<p class="feat__desc">
					Zachytávaj život po novom s našim Motion Eye™ fotoaparátom. Je zostavený s použitím know-how z našich produktových radov α™ a Cyber-shot™, vďaka čomu ti Xperia XZ1 Compact odhalí momenty, aké si si predtým mohol len predstavovať.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Zachyť ten úsmev</h2>
				<p class="feat__desc">
					Už ti nikdy neujde ten nečakaný moment, či už pôjde o ten najsladší úsmev alebo pohyb vo vzduchu. Prediktívne snímanie automaticky začne snímať obrázky ešte skôr ako stlačíš spúšť.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Super ostré zábery pohybu</h2>
				<p class="feat__desc">
					Xperia XZ1 Compact je vybavená automatickým zaostrovaním, ktoré sleduje a zachytáva sekvencie pohybujúcich sa objektov v ostrom zábere, takže zabudni na rozmazané akčné zábery.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left-XZ1compact">
				<h2 class="feat__title">
					Super široké selfie zábery</h2>
				<p class="feat__desc">
					Zmesti do záberu viac so super širokouhlým 120° zorným uhlom alebo sa jedným kliknutím prepni na 80° zorný uhol. A to aj pri slabom osvetlení, keďže si zábery môžeš prisvietiť displejom a budú tak jasné a živé.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right-XZ1compact">
				<h2 class="feat__title">
					Prelom v mobilnej kreativite</h2>
				<p class="feat__desc">
					Objav pokrokové inovácie s aplikáciou 3D skener. Vytvor si 3D objekt, podeľ sa s ním s priateľmi alebo si ho vytlač - možnosti sú nekonečné.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-2 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left-XZ1compact">
				<h2 class="feat__title">
					Je pripravená na všetko – či prší alebo svieti slnko</h2>
				<p class="feat__desc">
					Dážď je jedna z vecí, na ktoré už nemusíš myslieť, keď si vonku. S certifikáciou podľa normy IP65/681 je Xperia XZ1 Compact navrhnutá tak, aby odolala ošpliechaniu, vyliatej vode aj nečakaným prehánkam.*</p>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="fixed-column">
			<p class="disclaimer">
				* Xperia XZ1 Compact je vode odolná a chránená pred prachom, takže sa nemusíš obávať, ak ťa zastihne dážď alebo chceš zmyť špinu pod tečúcou vodou, ale nezabudni, že všetky vstupy a pripojené kryty musia byť pevne zatvorené. Zariadenie by sa nemalo celkom ponárať pod vodu ani vystavovať vplyvom morskej vody, slanej vody, chlórovanej vody alebo tekutín ako sú nápoje. Nesprávne alebo nevhodné zaobchádzanie so zariadením je porušením záruky. Zariadenie bolo testované podľa noriem odolnosti Ingress Protection IP65/68. Viac informácií nájdeš na <a href="http://support.sonymobile.com/global-en/dm/waterresistant/" target="_blank">www.sonymobile.com/waterproof</a>. Upozorňujeme, že Xperia XZ1 Compact má USB vstup bez krytu na pripájanie a nabíjanie. USB vstup musí byť pred nabíjaním úplne suchý.</p>
		</div>
	</section>
</div> -->
<!--
####
    XPERIA XA
####
-->
<div class="main_sec" id="sec-3">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				Xperia™ XZ3</h2>
			<h4 class="prod__subtitle">
					PLYNULÝ VÝKON. VÝNIMOČNÝ DISPLEJ</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="../assets/img/Xperia_XZ3_Telekom_microsite_Front_Saturn_White_Silver_212x347px.jpg" /></div>
			</div>
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							6,0" HDR OLED displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Sony Dynamic<br />
							Vibration System</div>
						<div class="spec__param">
							pre strhujúcu zábavu</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							19MP fotoaparát Motion Eye™</div>
						<div class="spec__param">
							s prediktívnym fotením a širokouhlým objektívom</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Procesor  Qualcomm®</div>
						<div class="spec__param">
							Snapdragon™ 845</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
						Vodeodolná konštrukcia <br />
							s certifikáciou</div>
						<div class="spec__param">
							IP65/68<span class="superscript">4</span></div>
					</div>
					<!-- <div class="sec__item">
						<div class="spec__value">
							8 MPx<br />
							širokouhlý objektív</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							32 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 7.0</div>
						<div class="spec__param">
							operačný systém</div>
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="mobheading">
					Xperia XZ3</h2>
				<!-- <h4 class="feat__sub-title">
					Pôsobivá kvalita obrazu</h4> -->
				<p class="mobtext">
					Vidieť viac. Počuť viac. Cítiť viac.<br />
					Oddýchni si od každodennej rutiny vo svete zábavy so smartfónom Xperia XZ3. Uži si HDR OLED displej, stereofónne reproduktory a Dynamic Vibration System v úžasne tenkom dizajne bez rámčeka.
				</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="mobheading">
					Celý nový svet farieb, ostrosti a kontrastu</h2>
				<p class="mobtext">
					Xperia XZ3 ponúka výnimočný kontrast, verné farby a skvelú ostrosť vďaka HDR OLED displeju a dokonalú reprodukciu sýtej čiernej farby. V spojení s rozlíšením QHD+ (1440x2880 pixelov) sú výsledkom ohromujúce zážitky zo zábavy.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-3 section">
		<div class="fixed-column">
			<div class="col-md-4 text-center">
				<img src="../assets/img/icon1.jpg">
				<h2 class="mobheading">Prevod na HDR</h2>
				<p class="mobtext">Technológia X-Reality ™ pre mobilné zariadenia prevedie bežný obsah do kvality porovnateľnej s pravým HDR (vysoký dynamický rozsah).</p>
			</div>
			<div class="col-md-4 text-center">
					<img src="../assets/img/icon2.jpg">
				<h2 class="mobheading">Dynamic Vibration System</h2>
				<p class="mobtext">Či už sleduješ filmy alebo hudobné videá, Dynamic Vibration System od Sony ťa nechá precítiť akciu v tvojej dlani.</p>
			</div>			
			<div class="col-md-4 text-center">
					<img src="../assets/img/icon3.jpg">
				<h2 class="mobheading">Výkonné stereo reproduktory</h2>
				<p class="mobtext">Dopredu nasmerované reproduktory Xperia XZ3 prehrávajú zvuk S-Force Front Surround s ešte väčším objemom pri vysokej čistote.</p>
			</div>			
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="mobheading">
					Bez rámčeka, tenký a šikovný</h2>
				<!-- <h4 class="feat__sub-title">
					Formát bez okrajov, ktorý presne zapadne do ruky</h4> -->
				<p class="mobtext">
					Inteligentný dizajn smartfónu Xperia XZ3 je elegantný, odolný a intuitívny, čo ti umožní jednoduchý prístup k akejkoľvek tvojej zábave a najčastejšie používaným aplikáciám.</p>
			</div>
		</div>
	</section>
	<!-- 5 -->
	<section class="feat_full-bg prod-3 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="mobheading">
					Zmeň nečakané na nezabudnuteľné</h2>
				<!-- <h4 class="feat__sub-title">
					Silný výkon</h4> -->
				<p class="mobtext">
					Xperia XZ3 má inteligentný fotoaparát Motion Eye™  s rozlíšením 19 MP a umelou inteligenciou Xperia™. Ešte skôr, než ty sám vie, čo chceš vyfotiť a bleskovo zareaguje - výsledkom sú snímky, ktoré vyzerajú profesionálne aj počas fotenia v pohybe. Jednoducho zachytí ohromujúce zábery vďaka tým najlepším fotografickým technológiám Sony.</p>
			</div>
		</div>
	</section>
	<!-- 6 -->
	<section class="feat_full-bg prod-3 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="mobheading">
					Natáčaj filmy ako profesionál - vo formáte 4K HDR</h2>
				<!--    <h4 class="feat__sub-title">
                    Formát bez okrajov, ktorý presne zapadne do ruky</h4> -->
				<p class="mobtext">
					Natáčaj videá s neuveriteľnými detailami vďaka záznamu 4K HDR<span class="superscript">1</span> a nechaj vyniknúť nočné scény a zábery v protisvetle do živých a verných farieb. Môžeš tak natáčať super spomalené videá s frekvenciou 960 sn./s a rozlíšením Full HD.</p>
			</div>
		</div>
	</section>
	<!-- 7 -->
	<section class="feat_full-bg prod-3 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="mobheading">
					Predveď svoje najlepšie selfie</h2>
				<!-- <h4 class="feat__sub-title">
                    Silný výkon</h4> -->
				<p class="mobtext">
					Vychutnaj si kvalitnejšie selfie aj v noci s 13 MP fotoaparátom, ktorý ponúka aj režim portrét s krásnymi efektami, bokeh a blesk pomocou displeja.</p>
			</div>
		</div>
	</section>
	<!-- 8 -->
	<section class="feat_full-bg prod-3 feat-8 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="mobheading">
					Zvuk smartfónu je nový a lepší</h2>
				<!-- <h4 class="feat__sub-title">
					Silný výkon</h4> -->
				<p class="mobtext">
					Dopraj svojej hudbe kvalitu, ktorú si zaslúži. Posuň kvalitu každej skladby bližšie k originálnej nahrávke vďaka technológiám Hi-Res Audio<span class="superscript">2</span>, DSEE HX™ a prevodníkom LDAC, vďaka ktorým znie všetko skvelo, dokonca aj pri bezdrôtovom pripojení.</p>
			</div>
		</div>
	</section>	
	<!-- 9 -->
	<section class="feat_full-bg prod-3 feat-9 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="mobheading">
					Výkon, ktorý ťa dostane ďalej</h2>
				<!-- <h4 class="feat__sub-title">
					Silný výkon</h4> -->
				<p class="mobtext">
					Rýchlosť a výkon, ktorý využijete pri skvelej zábave aj pri produktívnej práci v niekoľkých aplikáciách naraz. Mobilná platforma QualcommⓇ SnapdragonTM 845 jednoducho zvládne všetky aplikácie, filmy, hry a čokoľvek ďalšie.</p>
			</div>
		</div>
	</section>		
	<!-- 10 -->
	<section class="feat_full-bg prod-3 feat-10 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="mobheading">
					Batéria s dlhou výdržou</h2>
				<!-- <h4 class="feat__sub-title">
					Silný výkon</h4> -->
				<p class="mobtext">
					Vďaka batérii s dlhou výdržou v smartfóne Xperia XZ3 ti zábava každý deň vydrží dlhšie. Funkcia Smart Stamina odhaduje budúce využitie, aby smartfón udržala aktívny čo najdlhšie, zatiaľ čo technológia adaptívneho nabíjania a Battery Care spoločnosti Qnovo predlžujú životnosť batérie.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-3 feat-11 section">
		<div class="fixed-column">
			<ol>
				<li>
					Xperia XZ3 nahráva a ukladá 4K HDR video s 10bitovou farebnou hĺbkou vo formáte HLG. Údaje sú overené porovnaním s publikovanými špecifikáciami videá u viac než 11 800 smartfónov v databáze SpecTRAX spoločnosti Strategy Analytics. Správnosť údajov bola overená k 25. februáru 2018. Viac informácií o výsledkoch testov realizovaných spoločnosťou Strategy Analytics si prečítate na stránke <a href="https://www.sonymobile.com/cz/legal/testresults/">https://www.sonymobile.com/cz/legal/testresults/</a>
				</li>
				<li>
					Kvalita prehrávania závisí od platformy a možnostiach displeja zariadenia.
				</li>
				<li>
					Hi-Res Audio vyžaduje kompatibilné prenosné slúchadlá s káblom a použitie adaptéru.
				</li>
				<li>
					Smartfón Xperia XZ3 je odolný voči vode a prachu, nemusíte sa tak báť prechádzky v daždi
					alebo opláchnutia telefónu od blata v umývadle, ale pamätajte: kryty všetkých konektorov a
					slotov musia byť pevne uzatvorené. Vyvarujte sa však úplnému ponoreniu zariadenia alebo
					prípadne vystaveniu slanej či chlórovanej vode alebo iným kvapalinám, nápojom či chemikáliám.
					Nesprávnym používaním zariadenia stráca záručná doba platnosť. Zariadenie má hodnotenie triedy
					odolnosti IP65/68. Viac informácií nájdete na stránke
					<a href="https://support.sonymobile.com/cz/dm/waterresistant/">https://support.sonymobile.com/cz/dm/waterresistant/</a>.
					Upozorňujeme, že Xperia XZ3 má pre dátové pripojenie a nabíjanie konektor USB bez krytky.
					Konektor USB musí byť pred nabíjaním alebo pripojením k inému zariadeniu úplne suchý.
				</li>
			</ol>
		</div>
	</section>
</div>
<!-- L1 -->
<div class="main_sec" id="sec-4">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				XPERIA ™ L1</h2>
			<h4 class="prod__subtitle">
				Plynulý výkon. Výnimočný displej</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="../assets/img/l1-specs.png" /></div>
			</div>
			<!-- Specs -->
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							5,5” HD 720p displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							2620 mAh<br />
							s inteligentnou správou</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							2 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							13 MPx<br />
							s jednoduchou obsluhou</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							5 MPx</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							16 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 7.0</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Displej</h2>
				<h4 class="feat__sub-title">
					Pôsobivý displej</h4>
				<p class="feat__desc">
					Pozri si to všetko v nádherných detailoch. Xperia L1 disponuje vysoko kvalitným 5.5 displejom so zaobleným dizajnom a úzkymi okrajmi, takže môžeš vidieť aj zdieľať všetko, čo chceš.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Stvorený pre tvoju ruku</h2>
				<p class="feat__desc">
					Na smartfón Xperia L1 sa nielen dobre pozerá. S hladkým, zaobleným rámom skvele sadne do ruky a príjemne sa drží.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Výkon</h2>
				<h4 class="feat__sub-title">
					Výkon, ktorý potrebuješ</h4>
				<p class="feat__desc">
					Skombinuj štvorjadrový procesor s 2GB RAM pamäťou a získaš rýchlosť a výkon, ktoré potrebuješ. Žiadne zaostávanie. Žiadne ťažkosti. Len plynulý výkon.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Prenechaj premýšľanie svojmu telefónu</h2>
				<p class="feat__desc">
					Smart Cleaner garantuje optimálnu rýchlosť. Táto šikovná funkcia zanalyzuje, ako svoj telefón používaš, deaktivuje nepoužívané aplikácie a vyčistí vyrovnávaciu pamäť.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Asistencia</h2>
				<h4 class="feat__sub-title">
					Prispôsobí sa tvojim zvykom</h4>
				<p class="feat__desc">
					Xperia L1 sa učí a prispôsobuje podľa toho, ako ju používaš, a je každým dňom múdrejšia a osobnejšia.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Život je jednoduchší - Xperia Actions</h2>
				<p class="feat__desc">
					Pozri sa, ako sa Xperia L1 prispôsobí prostrediu, kde sa nachádzaš - a tvoj život trochu zjednoduší.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Fotoaparát</h2>
				<h4 class="feat__sub-title">
					Zachyť čaro bežného dňa</h4>
				<p class="feat__desc">
					Máš po ruke 13MP fotoaparát s jednoduchou obsluhou a tak si vždy pripravený zachytávať a zdieľať to, čo ti život prináša - v živých, reálnych farbách.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-4 feat-8 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Vždy je tu selfie sezóna</h2>
				<p class="feat__desc">
					Vojdi do záberu a foť s 5MP selfie fotoaparátom.</p>
			</div>
		</div>
	</section>
</div>

<!-- Xperia XA2 -->
<div class="main_sec" id="sec-5">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				XPERIA ™ XA2</h2>
			<h4 class="prod__subtitle">
				Plynulý výkon. Výnimočný displej</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="../assets/img/Xperia_XA2_silver_front_212x347px_main.jpeg" /></div>
			</div>
			<!-- Specs -->
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							5,2" Full HD displej</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Batéria s kapacitou<br />
							až 3 300 mAh</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							3 GB RAM</div>
						<div class="spec__param">
							operačná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G LTE</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							23MPx<br />
							s jednoduchou obsluhou</div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							8 MPx</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							32 GB</div>
						<div class="spec__param">
							vnútorná pamäť</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 8.0 Oreo</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-5 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Displej</h2>
				<h4 class="feat__sub-title">
					Pôsobivý displej</h4>
				<p class="feat__desc">
					Pozri si to všetko v nádherných detailoch. Xperia L1 disponuje vysoko kvalitným 5.5 displejom so zaobleným dizajnom a úzkymi okrajmi, takže môžeš vidieť aj zdieľať všetko, čo chceš.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-5 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="mobheading">
					Stvorený pre tvoju ruku</h2>
				<p class="mobtext">
					Na smartfón Xperia L1 sa nielen dobre pozerá. S hladkým, zaobleným rámom skvele sadne do ruky a príjemne sa drží.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-5 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="mobheading">
					Výkon</h2>
				<h4 class="feat__sub-title mobsubheading">
					Výkon, ktorý potrebuješ</h4>
				<p class="mobtext">
					Skombinuj štvorjadrový procesor s 2GB RAM pamäťou a získaš rýchlosť a výkon, ktoré potrebuješ. Žiadne zaostávanie. Žiadne ťažkosti. Len plynulý výkon.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-5 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h2 class="feat__title">
					Prenechaj premýšľanie svojmu telefónu</h2>
				<p class="feat__desc">
					Smart Cleaner garantuje optimálnu rýchlosť. Táto šikovná funkcia zanalyzuje, ako svoj telefón používaš, deaktivuje nepoužívané aplikácie a vyčistí vyrovnávaciu pamäť.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-5 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Asistencia</h2>
				<h4 class="feat__sub-title">
					Prispôsobí sa tvojim zvykom</h4>
				<p class="feat__desc">
					Xperia L1 sa učí a prispôsobuje podľa toho, ako ju používaš, a je každým dňom múdrejšia a osobnejšia.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-5 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="mobheading">
					Život je jednoduchší - Xperia Actions</h2>
				<p class="mobtext">
					Pozri sa, ako sa Xperia L1 prispôsobí prostrediu, kde sa nachádzaš - a tvoj život trochu zjednoduší.</p>
			</div>
		</div>
	</section>
</div>

<!-- Xperia L2 -->
<div class="main_sec" id="sec-6">
	<section class="prod-specs_main section">
		<div class="fixed-column">
			<h2 class="section__title">
				XPERIA ™ L2</h2>
			<h4 class="prod__subtitle">
				Plynulý výkon. Výnimočný displej</h4>
			<div class="grid__col_4">
				<div class="img__holder">
					<img alt="" class="img__specs" src="../assets/img/l2_black_front_162x250px.png" /></div>
			</div>
			<!-- Specs -->
			<div class="grid__col_8 grid__content">
				<div class="grid-g__col_6">
					<div class="sec__item">
						<div class="spec__value">
							5,5" HD displej s funkciou minidispleja</div>
						<div class="spec__param">
							displej</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Batéria s kapacitou<br />
							až 3 300 mAh</div>
						<div class="spec__param">
							batéria</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							4G LTE</div>
						<div class="spec__param">
							sieť</div>
					</div>
				</div>
				<div class="grid-g__col_6 grid__right">
					<div class="sec__item">
						<div class="spec__value">
							13MPx<br /></div>
						<div class="spec__param">
							hlavný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							8 MPx</div>
						<div class="spec__param">
							predný fotoaparát</div>
					</div>
					<div class="sec__item">
						<div class="spec__value">
							Google Android™ 7.1.1</div>
						<div class="spec__param">
							operačný systém</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-6 feat-1 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h4 class="feat__sub-title">
					FOTOAPARÁT</h4>					
				<h2 class="feat__title">
					Povedzte "Superširoké selfie"</h2>
				<p class="feat__desc">
					Do vašich nových selfie sa vojde ďaleko viac priateľov i scenérie v pozadí vďaka superširokouhlému fotoaparátu s rozlíšením 8 MP.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-6 feat-2 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h2 class="feat__title">
					Zlepšite svoje fotky vďaka 13MP fotoaparátu </h2>
				<p>
					Xperia L2 prináša pôsobivý fotoaparát s rozlíšením 13 MP. Pomôže vám robiť lepšie, čistejšie a detailnejšie zábery ako kedykoľvek predtým.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-6 feat-3 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h4 class="feat__sub-title">
					DISPLEJ</h4>					
				<h2 class="feat__title">
					HD zábava vo veľkom formáte</h2>
				<p class="feat__desc">
					5,5 "HD displej je skvelý na sledovanie filmov na cestách. A keď ho budete chcieť používať jednou rukou, stačí prepnúť na zobrazenie minidispleja.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-6 feat-4 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h4 class="feat__sub-title">
					ZVUK</h4>					
				<h2 class="feat__title">
					Správne nastavenie pre každú skladbu</h2>
				<p class="feat__desc">
					Vychutnajte si ešte lepšie zážitky zo zvuku vďaka automatickej optimalizácii nastavenie CLEARAUDIO +. Funkcia Clear Bass sa postará o sýte a hrejivé basy a pomocou ekvalizéra môžete zaistiť, aby všetko znelo presne tak, ako to máte radi.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-6 feat-5 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h4 class="feat__sub-title">
					DIZAJN</h4>					
				<h2 class="feat__title">
					Odomkýnajte telefón jedným dotykom</h2>
				<p class="feat__desc">
					Integrovaný snímač odtlačkov prstov zabezpečí váš telefón, aby ste ho mohli odomknúť len vy - jediným dotykom.</p>
			</div>
		</div>
	</section>
	<section class="feat_full-bg prod-6 feat-6 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_left">
				<h4 class="feat__sub-title">
					BATÉRIA</h4>					
				<h2 class="feat__title">
					Batéria, ktorá vydrží</h2>
				<p class="feat__desc">
					Užívajte si svoj smartfón dlhšie vďaka batérii s kapacitou 3 300 mAh. Technológia inteligentného nabíjania pomôže udržať batériu v dobrej kondícii a predĺži jej životnosť.</p>
			</div>
		</div>
	</section>				
	<section class="feat_full-bg prod-6 feat-7 section">
		<div class="fixed-column">
			<div class="feat__item feat__item_right">
				<h4 class="feat__sub-title">
					VÝKON</h4>					
				<h2 class="feat__title">
					Sila vysokého výkonu</h2>
				<p class="feat__desc">
					Xperia L2 dokáže všetko udržať v plynulom a svižnom tempe vďaka 3 GB pamäte RAM a pre vaše videá a fotografie ponúka aj 32GB úložisko, ktoré môžete ľahko rozšíriť pomocou SD karty.</p>
			</div>
		</div>
	</section>
</div>


<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>

<button onclick="scrollTopFunction()" id="scrollTopBtn" title="Go to top"><!-- Go top btn --></button> 

