<section id="hero">
    <div class="container-fixed">
        <div class="hero__content">
            <h1 class="hero__title text_centered"><b>PARALELNÉ ZVONENIE</b> <br>
Už žiaden zmeškaný hovor <br>
na Pevnej linke</h1>
            <div class="row text_centered">
                <a class="btn cta" href="/volania/pevna-linka/paralelne-zvonenie/mam-zaujem"><span>MÁM ZÁUJEM</span> </a>
            </div>
            <div class="row text_centered">
                <a class="link scroll-to" href="#sec-1"><span>Pozrieť viac informácií</span> </a>
            </div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">POPIS SLUŽBY</a></li>
        <li><a class="scroll-to" href="#sec-2">CENA</a></li>
        <li><a class="scroll-to" href="#box">VÝHODNÁ PONUKA  </a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>
<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="row text_centered">
            <h2 class="feat__title"> VÝHODY</h2>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-1.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Súčasné zvonenie</span>
                    <br>Zabezpečí súčasné zvonenie prichádzajúcich hovorov na pevnej linke a na mobilnom čísle Telekom.
                </p>
            </div>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-2.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Prijatie hovorov</span>
                    <br>Prichádzajúci hovor je možné prijať na pevnej linke alebo na mobilnom čísle.
                </p>
            </div>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-3.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Bezplatné </span>
                    <br>Prijatie hovoru je bezplatné.
                </p>
            </div>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-4.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Pre Telekom zákazníkov</span>
                    <br>Služba je výhradne ponúkaná pre zákazníkov pevnej linky, ktorí vlastnia mobilné číslo Telekom.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12 text_centered">
                <h2 class="feat__title">
                    CENA SLUŽBY</h2>
                <p class="feat__desc">
                    Predĺžte si paušál na pevnej linke alebo mobilný Happy paušál a získajte službu
                    <br><b>Paralelné zvonenie na 3 mesiace zadarmo.</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4 box-holder text_centered" id="box">
                <div class="box_title border-b">PARALELNÉ ZVONENIE</div>
                <div class="box_desc border-b">
                    <p>Prvé 3 mesiace</p>
                    <p><span class="price">0 €</span> | mesačne</p>
                </div>
                <div class="box_desc border-b">
                    <p>Od 4. mesiaca</p>
                    <p><span class="price">1 €</span> | mesačne</p>
                </div>
                <div class="box_cta">
                    <a class="btn cta" href="/volania/pevna-linka/paralelne-zvonenie/mam-zaujem"><span>MÁM ZÁUJEM</span> </a>
                    <br>
                    <p><span class="font_gray"> Služba je bez viazanosti</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
