/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';
/*@import '_theme';*/
#content .disclaimer {
	font-size: 12px;
	color: #4b4b4b;
}
/* Stock CSS */
/* @Backgrounds - start */

.bg-gray {
    background: url('/documents/10179/45656/bg_gray/3eb3c53c-7fdd-42f0-bf85-367e0cfab37b');
}
.bg-gray-not-transparent {
    background: #ededed;
}
.bg-dark-gray {
    background: url('/documents/10179/45656/bg_dark_gray/c0b74cc8-20da-4b96-a321-1ec37dbf0caf');
}
.bg-middle-gray {
    background: #d0d0d0;
}
.bg-gray-100 {
    background: #ededed;
}
.bg-white {
    background: #fff;
}
.bg-white-transparent {
    background: url('/documents/10179/45656/bg_white/e25e8799-2abd-40f1-a185-a95a15f2f8a6');
}
/* Backgrounds - end */
/* @Table - start */

.tbl tbody th {
    background: #6c6d6d !important;
    color: #fff;
}
.tbl tbody th:hover {
    background: #6c6d6d !important;
    color: #fff !important;
}
/* Table - end */
/* @Show-hide - start */

a.show-hide {
    display: inline-block;
    padding: 0 0 0 22px;
    margin: 10px 0 0 0;
}
a.show-hide::before {
    content: '\f078';
    font-family: FontAwesome;
    color: #E10073;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 14px;
}
a.show-hide.open-down::before {
    content: '\f077';
    top: -2px;
}
.show-hide-container {
    padding-left: 22px;
    display: none;
}
.show-hide-container p:first-child {
    margin-top: 5px !important;
}
/* Show-hide - end */
/* @Lists - start */

ul.list-square-gray {
    list-style: none;
    margin-left: 0 !important;
}
.list-square-gray li {
    padding-left: 20px;
    margin-bottom: 8px;
    line-height: 1.3;
    position: relative;
}
.list-square-gray li:before {
    color: #6c6d6d;
    content: '\f0c8';
    left: 0;
    font-family: FontAwesome;
    position: absolute;
    top: 3px;
    font-size: 14px;
}
/* Lists - end*/
/* @Fonts - start */

.font-size-12,
.page p.font-size-12 {
    font-size: 12px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-18 {
    font-size: 18px;
}
.font-size-26 {
    font-size: 26px;
}
.font-size-32 {
    font-size: 32px;
}
.font-size-42 {
    font-size: 42px;
}
.font-size-48 {
    font-size: 48px;
}

.portlet-body .journal-content-article h3.font-size-26 {
    font-size: 26px;
}
/* Fonts - end */
/* @Color - start */

.color-gray {
    color: #4b4b4b !important;
}
.color-magneta {
    color: #E20074 !important;
}
/* Color - end */
/* @Layout Fixes - start */
.portlet-body .journal-content-article h2 {
    border-bottom: 0;
    padding: 0;
    margin: 0;
    font-size: 42px;
}
.portlet-body .journal-content-article h1 {
    border-bottom: none;
    font-size: 42px;
    text-transform: uppercase;
    margin-top: 0px;
}
#content.stickyFooter {
    padding-bottom: 35px;
}
#content {
    padding-bottom: 0;
}
.portlet-column-content {
    padding: 0;
}
/* Layout Fixes - end */

.c-btn {
    width: 8em;
}
.c-btn span {
    vertical-align: top;
}
.c-row, .b-row {
    display: block;
    position: relative;
}
.c-content, .b-content {
    width: 940px;
    margin: 0 auto;
    position: relative;
    display: table;
}
div.c-img {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: center;
}
div.c-img img {
    margin: 1em;
}
div.c-text {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    text-align: left;
    padding: 2em 0;
}
div.c-text.width-100 {
    width: 100%;
}
div.c-text p {
    font-size: 16px;
    line-height: 130%;
}
div.c-text h3:first-child {
    margin-top: 0 !important;
}
div.c-text .tiles-big>a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    font-size: 18px;
    width: 106px;
    height: 90px;
    background: #e10073;
    color: #fff;
    margin-left: 47px;
    margin-bottom: 15px;
    padding: 50px 23px 0 23px;
}
div.c-text tiles-big {
    width: 486px;
}
div.c-w-10 {
    width: 10%;
}
div.c-w-20 {
    width: 20%;
}
div.c-w-30, div.c-md-3 {
    width: 30%;
}
div.c-w-40, div.c-md-4 {
    width: 40%;
}
div.c-w-50, div.c-md-5 {
    width: 50%;
}
div.c-w-60, div.c-md-6 {
    width: 60%;
}
div.c-w-70, div.c-md-7 {
    width: 70%;
}
div.c-w-80 {
    width: 80%;
}
div.c-w-90 {
    width: 90%;
}
div.c-w-100, div.c-md-10 {
    width: 100%;
}
/* Heading - start */

.c-heading {
    min-height: 250px;
}
.c-heading div.c-text, .c-heading-top div.c-text {
    width: 50%;
}
.c-heading div.c-text h2, .c-heading-top div.c-text h1, .c-heading div.c-text h1 {
    font-size: 42px;
    text-transform: uppercase;
}
.c-heading-top div.c-text p {
    font-size: 20px;
 }
.c-heading div.c-text p {
    font-size: 18px;
}
.c-heading-top div.c-text h1 {
    margin: 0 !important;
    padding: 0 !important;
}
.c-heading-top div.c-text p {
    font-size: 18px;
}
.c-text.c-dual {
    vertical-align: top;
}
/* Heading - end */
/* Tiles - start */

.t-tile {
    width: 130px;
    height: 130px;
    padding: 10px;
    display: table;
    float: left;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 2px 2px 5px #4B4B4B;
    transition: transform 0.2s;
}
a.t-tile-a {
    color: #E20074;
    display: table-cell;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-decoration: none;
    vertical-align: middle;
}
.t-tile:hover {
    transform: scale(1.1);
}
.d-tile {
    width: 130px;
    height: 130px;
    padding: 10px;
    display: table;
    float: left;
    background-color: #FFFFFF;
    margin: 10px 50px 10px 0;
    text-align: center;
    box-shadow: 2px 2px 5px #4B4B4B;
    transition: transform 0.2s;
}
.d-tile a {
    color: #E20074;
    display: table-cell;
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-decoration: none;
    vertical-align: top;
}
.d-tile:hover {
    transform: scale(1.1);
}
/* Tiles - end */
/* Image alignment - start */

div.c-img img.margin-left--150 {
    margin-left: -150px;
}
div.c-img img.margin-left--180 {
    margin-left: -180px;
}
.c-img-decor {
    display: table-cell;
    width: 50%;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 0px;
}
.c-img-decor img {
    margin: 0;
    vertical-align: bottom;
}
.c-img-decor-top {
    display: table-cell;
    width: 50%;
    text-align: center;
    padding-bottom: 0px;
    vertical-align: top
}
div.c-img.align-right, div.align-right {
    text-align: right;
}
div.c-img.align-right img {
    margin-right: 0;
}
div.c-img.align-left, div.align-left {
    text-align: left;
}
div.c-img.align-left img {
    margin-left: 0;
}
div.c-img.align-bottom {
    vertical-align: bottom;
}
div.c-img.align-bottom img {
    margin-bottom: 0;
}
/* Image alignment - end */
/* @Slider - start */

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
}
.slide_content {
    min-height: 300px;
}
.slider_container {
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
}
.slider_container ul {
    margin: 0 !important;
}
.slider {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.slider li {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.slider img {
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
    border: 0;
}
.slider_nav {
    position: absolute !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    top: 52%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: url("/documents/10179/64483/img_slider_arrow_left/891aa020-a6c4-4cb3-afa3-54e32dccf932") no-repeat center center;
    margin-top: -45px;
    padding: 10px;
}
.slider_nav:active {
    opacity: 1.0;
}
.slider_nav.next {
    left: auto;
    background: url("/documents/10179/64483/img_slider_arrow_right/66a1676e-e1d1-43bd-a370-6ce81ebdf75e") no-repeat center center;
    right: 0;
}
.slider_img {
    background-position: center center;
    height: 300px;
    width: 940px;
}
/* Slider - end */
/* @Custom - start */
.wbreadcrumbs {
    display: none !important;
}
.c-block {
    margin: 2em 0;
    padding: 20px 30px;
}
.c-heading-top div.c-text {
    vertical-align: top !important;
}
.c-block-row {
    display: table;
}
.c-block-row > div {
    display: table-cell;
    vertical-align: top;
}
.c-block-row h3 {
    margin-top: 0px !important;
}
.slider_container {
    margin-bottom: 0px;
}
.b-heading {
}
.osobne {
    z-index: 50;
}
.menu-item a {
    z-index: 50;
}
.k-tile {
    display: inline-block;
    float: left;
    height: 88px;
    text-align: center;
    width: 88px;
}

/* Custom - end */
/* @Markup-styles - start */
.margin-0 {
    margin: 0 !important;
}
.margin-top-0 {
    margin-top: 0px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.padding-0 {
    padding: 0 !important;
}
.padding-top-0 {
    padding-top: 0 !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.empty-row {
    height: 50px;
    display: inline-block;
}
/* Markup-styles - end */
@media screen and (max-width: 960px) {
    @-ms-viewport {
        width: 960px;
    }
    table.tbl {
        table-layout: fixed;
    }
    .parallax-layout > .portlet-dropzone > .portlet-boundary > .portlet-body {
        width: auto;
    }
    .c-content {
        width: auto;
        margin: 0;
    }
    .c-row {
        padding-left: 3%;
        padding-right: 3%;
    }
    .c-row div.c-text {
        width: 60%;
        padding: 1em 0.7em;
    }
    .c-row div.c-img, .c-row div.c-img-decor, .c-row div.c-img-decor-top {
        width: 40%;
    }
    .c-row div.c-img img, .c-row div.c-img-decor img, .c-row div.c-img-decor-top img {
        max-width: 300px;
    }
    .c-heading div.c-text, .c-heading2 div.c-text {
        width: 70%;
    }
    div.c-img img.margin-left--150, div.c-img img.margin-left--180 {
        margin-left: 1em;
    }
}
@media screen and (max-width: 940px) {
    @-ms-viewport {
        width: 940px;
    }
    .b-content {
        width: auto;
        margin: 0;
    }
}
@media screen and (max-width: 800px) {
    @-ms-viewport {
        width: 800px;
    }
    .c-row, .c-row-2, .c-row-2 div.c-text.one-third, .c-row-2 div.c-text.two-third {
        width: auto;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
    }
    .portlet-content {
        padding-left: 0;
        padding-right: 0;
    }
    .c-row {
        padding-left: 2%;
        padding-right: 2%;
    }
    .c-row div.c-text {
        width: 65%;
    }
    .c-row div.c-img, .c-row div.c-img-decor, .c-row div.c-img-decor-top {
        width: 35%;
    }
    .c-row div.c-img img, .c-row div.c-img-decor img, .c-row div.c-img-decor-top img {
        max-width: 250px;
    }
    .c-heading, .c-heading2 {
        min-height: 100px;
    }
    .c-heading div.c-text, .c-heading2 div.c-text {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
    @-ms-viewport {
        width: 640px;
    }
    div.align-md-left {
        text-align: left;
    }
    div.c-md-3, div.c-md-5 {
        display: inline-block;
        width: 100%;
    }

    .c-row, .c-row-2, .c-row-2 div.c-text.one-third, .c-row-2 div.c-text.two-third {
        width: auto;
        box-sizing: border-box;
        padding: 0 10px;
    }
    div.c-img, div.c-img-decor, div.c-img-decor-top {
        display: none;
    }
    .c-row div.c-text {
        width: 100%;
        box-sizing: border-box
    }
    .c-text.c-dual {
        display: block;
        vertical-align: top;
    }
}
@media screen and (max-width: 480px) {
    @-ms-viewport {
        width: 400px;
    }

    .mobile-none-480 {
        display: none !important;
    }
    /* Responsive table - start */
    
    .rwd-table {
        margin: 1em 0;
        min-width: 300px;
    }
    .rwd-table tr {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }
    .rwd-table th {
        display: none;
    }
    .rwd-table td {
        display: block;
        vertical-align: top;
    }
    .rwd-table td:first-child {
        padding-top: .5em;
    }
    .rwd-table td:last-child {
        padding-bottom: .5em;
    }
    .rwd-table td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
        width: 52%;
        display: inline-block;
        color: #E20074;
    }
    /* Responsive table - end */
}

/* ===============
   CSS FOR FORM ONLY
   =============== */

.form__box {
    width: 500px;
}

#content .formFieldRender,
#content .dynamicFormSubFields,
#content .dynamicFormItemBox,
#content .pageNameField,
#content .dynamicFormFields {
    margin: 0;
    padding: 0;
    border: 0;
}

.formFieldRenderField>span {
    padding: 0;
}

.dynamicFormPages {
    display: none;
}

#content .formComposition ul {
    list-style: none;
}

#formFieldId15393 label {
    display: none;
}

#content .form__title {
    height: 40px;
    background-color: #e50074;
    padding-left: 20px;
    color: #fff;
}

#content #form__link {
    text-decoration: underline;
}

#content h2.form__title {
    color: #fff;
    border: 0;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
    box-sizing: border-box;
}

#content .form__body {
    background: #e6e6e6;
    padding: 20px;
    margin-top: 5px;
}

#content .form__text {
    margin: 0 0 10px 0;
    font-size: 16px;
}

#content #formFieldId15393 input {
    height: 45px;
}

#content .form__body .finishFormButton {
    background: #69b50b;
    border-color: #69b50b !important;
    font-size: 18px;
}

#content li#formFieldId15393 {
    background: transparent;
}