<style type="text/css">
.mgt10 {
    margin-top: 10px;
}

@media (max-width: 800px) {
    .mgt10 {
        margin-top: 1%;
    }
}
</style>
<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">
				MAGIO TELEVÍZIA CEZ SATELIT</h1>
            <a class="button button_lima scroll-to" href="#sec-2"><span>MÁM ZÁUJEM</span> </a>
            <br />
            <!--<a class="arrow-down" href="#">Pozrieť viac info <img alt="Arrow" src="/documents/10179/655120/arrow-down.png" /></a>--></div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">AKTUÁLNE AKCIE</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">TV STANICE</a></li>
        <li>
            <a class="scroll-to" href="#sec-6">FUNKCIE</a></li>
        <li>
            <a class="scroll-to" href="#sec-7">DOPLNKOVÉ SLUŽBY</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/655120/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1" id="sec-1">
    <div class="fixed-column">
        <h2 class="section__title">
			VÝHODY MAGIO TELEVÍZIE</h2>
        <div class="col-group">
            <div class="grid-g__col_4 media">
                <img alt="Programy v HD kvalite" class="media__img" src="/documents/10179/655120/ico-hd.png" />
                <p class="media__title_black">
                    Programy v HD kvalite</p>
                <p class="media__desc">
                    Aj s Magio televíziou cez satelit si vychutnáte skutočné farby a ostré detaily pri sledovaní vybraných TV staníc v HD kvalite.</p>
            </div>
            <div class="grid-g__col_4 media">
                <img alt="Mobilná televízia Magio GO zadarmo" class="media__img" src="/documents/10179/655120/ico-tv.png" />
                <p class="media__title_black">
                    Mobilná televízia Magio GO zadarmo</p>
                <p class="media__desc">
                    K Magio televízii cez satelit získate zadarmo mobilnú televíziu Magio GO a to na celý čas využívania Magio TV cez satelit.</p>
                <a class="link media__link link_tundora" href="/televizia/magio-go">Viac o Magio GO</a></div>
            <div class="grid-g__col_4 media">
                <img alt="Široká dostupnosť v celej SR" class="media__img" src="/documents/10179/655120/ico-sk.png" />
                <p class="media__title_black">
                    Dostupnosť na celom Slovensku</p>
                <p class="media__desc">
                    Magio televíziu cez satelit vám zriadime všade tam, kde nie sú dostupné iné technológie (optická alebo metalická).</p>
                <!--<a href="#" class="link media__link link_tundora">Overiť dostupnosť</a>--></div>
        </div>
    </div>
</section>
<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <h2 class="section__title">
			SLUŽBY A CENY MAGIO TELEVÍZIE</h2>
        <p class="section__desc">
            Magio televíziu cez satelit vám zriadime, ak u vás nie je dostupná iná technológia. Môžete si ju vziať v <a class="link" href="/chytry-balik">Chytrom balíku</a> samostatne alebo <b>za výhodnejšiu cenu v kombinácii s Magio internetom alebo Pevnou linkou</b>. Dostupnosť služby si overíte priamo v objednávke</p>
        <div class="col-group col-holder">
            <div class="grid-g__col_4 variant">
                <div class="variant__title">
                    Magio TELEVÍZIA M</div>
                <div class="variant__chanels">
                    <p class="chanels__title">
                        <a class="fancy" href="#magiom">61 TV STANÍC</a></p>
                </div>
                <img alt="" class="variant__img" src="/documents/10179/655120/tv-1.png" />
                <div class="variant__go">
                    Mobilná TV Magio GO zadarmo
                    <br />
                    <span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
                <div class="variant__go">
                    <img alt="" class="variant__img" src="/documents/10179/56906/nas-tip.png" /> INTERNET DO TABLETU
                    <br /> Buďte online aj na cestách
                    <br />1 GB, rýchlosť do 300 Mb/s
                    <br />4,99 € / mesačne
                </div>
                <div class="variant__pricing">
                    <p class="price">
                        10,00 € / mesačne</p>
                    <p class="price__detail info-tooltip info-5 link-ul">
                        s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
                    <!-- a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=m"><span>VYBRAŤ</span> </a><br / -->
                    <a class="button button_lima" href="/televizia/magio-sat/mam-zaujem-o-magio-sat-m"><span>VYBRAŤ</span> </a>
                    <br />
                    <!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
            </div>
            <div class="grid-g__col_4 variant">
                <div class="variant__title">
                    Magio TELEVÍZIA L</div>
                <div class="variant__chanels">
                    <p class="chanels__title">
                        <a class="fancy" href="#magiol">78 TV staníc</a></p>
                </div>
                <img alt="" class="variant__img" src="/documents/10179/655120/tv-2.png" />
                <div class="variant__go">
                    Mobilná TV Magio GO zadarmo
                    <br />
                    <span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
                <div class="variant__go">
                    <img alt="" class="variant__img" src="/documents/10179/56906/nas-tip.png" /> INTERNET DO TABLETU
                    <br /> Buďte online aj na cestách
                    <br />1 GB, rýchlosť do 300 Mb/s
                    <br />4,99 € / mesačne
                </div>
                <div class="variant__pricing">
                    <p class="price">
                        15,00 € / mesačne</p>
                    <p class="price__detail info-tooltip info-5 link-ul">
                        s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
                    <!-- a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=l"><span>VYBRAŤ</span> </a><br / -->
                    <a class="button button_lima" href="/televizia/magio-sat/mam-zaujem-o-magio-sat-l"><span>VYBRAŤ</span> </a>
                    <br />
                    <!--<a href="#" class="link variant__link link_tundora">Overiť dostupnosť</a>--></div>
            </div>
            <div class="grid-g__col_4 variant">
                <div class="variant__title">
                    Magio TELEVÍZIA XL</div>
                <div class="variant__chanels">
                    <p class="chanels__title">
                        <a class="fancy" href="#magioxl">103 TV staníc</a></p>
                </div>
                <img alt="" class="variant__img" src="/documents/10179/655120/program_xl.png" />
                <div class="variant__go">
                    Mobilná TV Magio GO zadarmo
                    <br />
                    <span class="info-tooltip info-4 link-ul">Nahrávanie, zastavenie a pretáčenie programu dozadu a späť</span></div>
                <div class="variant__go">
                    <img alt="" class="variant__img" src="/documents/10179/56906/nas-tip.png" /> INTERNET DO TABLETU
                    <br /> Buďte online aj na cestách
                    <br />1 GB, rýchlosť do 300 Mb/s
                    <br />4,99 € / mesačne
                </div>
                <div class="variant__pricing">
                    <p class="price">
                        20,00 € / mesačne</p>
                    <p class="price__detail info-tooltip info-5 link-ul">
                        s televíziou a/alebo Pevnou linkou získate výhodnejšiu cenu</p>
                    <!-- a class="button button_lima" href="/fix/objednavka/-/scenario/e-shop/chytry-balik?televizia=xl"><span>VYBRAŤ</span> </a -->
                    <a class="button button_lima" href="/televizia/magio-sat/mam-zaujem-o-magio-sat-xl"><span>VYBRAŤ</span> </a></div>
            </div>
        </div>
        <div class="col-group">
            <div class="grid-g__col_12">
                <p class="disclaimer">
                    Všetky uvedené ceny sú vrátane DPH.</p>
            </div>
        </div>
        <div id="cmb__holder">
            &nbsp;</div>
        <!--<div class="col-group">
            <div class="cmb__area" id="cmb__block">
                <h3 class="cmb__area__head" id="-5">
                    CHCETE VÝHODNEJŠIU PONUKU?</h3>
                <a class="button" href="#" id="cmb__btn">Áno, zavolajte mi späť</a></div>
        </div>--></div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="fixed-column">
        <h2 class="section__title">
			EXTRA VÝHODY ZA NÁKUP NA WEBE:</h2>
        <div class="col-group">
            <div class="grid-g__col_4 media">
                <img alt="Extra zľava 10 €" class="media__img" src="/documents/10179/655120/ico-discount.png" />
                <p class="media__title">
                    Extra zľava 10 €</p>
                <p class="media__desc">
                    pri kúpe Magio internetu cez web. V kombinácii s televíziou a Pevnou linkou zľava až do 40 €.</p>
            </div>
            <div class="grid-g__col_4 media">
                <img alt="Prvých 14 dní bez záväzkov" class="media__img" src="/documents/10179/655120/ico-cal.png" />
                <p class="media__title">
                    Prvých 14 dní bez záväzkov</p>
                <p class="media__desc">
                    pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
            </div>
            <div class="grid-g__col_4 media">
                <img alt="Doručenie kuriérom zadarmo" class="media__img" src="/documents/10179/655120/ico-car.png" />
                <p class="media__title">
                    Doručenie kuriérom zadarmo</p>
                <p class="media__desc">
                    kdekoľvek v rámci SR</p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-aktualneAkcie" id="sec-4">
    <div class="fixed-column">
        <h2 class="section__title">
			AKTUÁLNE AKCIE k MAGIO TV, INTERNETU a PEVNEJ LINKE</h2>
        <div class="col-group">
            <div class="box__sales box_full box_flex">
                <div class="box__imgHolder">
                    <img alt="Samsung LED TV" class="box__img" src="/documents/10179/669910/prod-1.png" /></div>
                <div class="box_txtHolder">
                    <p class="box__title">
                        FULL HD LED TELEVÍZOR Samsung od 6 € mesačne</p>
                    <p class="box__desc">
                        alebo Xbox One s revolučnou technológiou Kineckt či notebook Lenovo IdeaPad v nadštandardnom prevedení!</p>
                    <a class="button box__btn" href="/magio-tv-akcia">VIAC INFO</a></div>
            </div>
            <div class="box__sales box_full" style="margin: 1% 0;">
                <p class="box__title">
                    VYUŽITE 100 % zľavU na faktúru za jeden mesiac</p>
                <a class="box__link box__moreInfo" href="/odporucte-zakaznika">Viac info</a></div>
            <div class="box__sales box_full">
                <a class="rightGreenLink" href="/viac-za-menej">ZÍSKAJTE VYŠŠIU SLUŽBU ZA CENU NIŽŠEJ <img alt="Arrow" class="img__arrowCirlcle" src="/documents/10179/669910/ico-roundArrow.png" /></a></div>
        </div>
    </div>
</section>
<section class="section sec-5" id="sec-5">
    <div class="fixed-column">
        <h2 class="section__title">
			TELEVÍZNE STANICE</h2>
        <div class="col-group">
            <div class="grid-g__col_6 media">
                <img alt="Programové balíky v cene" class="media__img" src="/documents/10179/655120/ico-pipe.png" />
                <p class="media__title">
                    Televízine stanice Magio TV cez satelit</p>
                <p class="media__desc">
                    Ponúkame pestrú ponuku televíznych staníc, ktoré uspokoja aj toho najnáročnejšieho diváka. Pozrite si dostupné filmové, športové, dokumentárne, hudobné alebo detské TV stanice pre najmladších členov domácnosti.</p>
                <a class="link media__link link_blue" href="/televizia/kanaly-magio-sat">Pozrieť Programové balíky</a></div>
            <div class="grid-g__col_6 media">
                <img alt="Extra programové balíky" class="media__img" src="/documents/10179/655120/ico-program.png" />
                <p class="media__title">
                    Extra programové balíky</p>
                <p class="media__desc">
                    Pozrite si ponuku extra balíkov aj pre tých najnáročnejších divákov, ktoré si môžete objednať navyše už od 1,39 € /mes. Vyberte si napríklad balík HBO + Cinemax, HD alebo Maďarský programový balík.</p>
                <a class="link media__link link_blue" href="/televizia/kanaly-magio-sat#-2">Pozrieť Extra balíky</a>
                <br />
                <p class="link media__link link_tundora info-activation info-tooltip">
                    Ako balíky aktivovať</p>
            </div>
        </div>
        <div class="col-group col-space">
            <div class="grid-g__col_7">
                <p class="custom-title">
                    Magio TV je úplne iná liga</p>
                <p class="custom-desc">
                    S Magio TV cez satelit L sledujte futbalové zápasy Premier League, Ligy majstrov UEFA alebo La Liga exkluzívne so stanicami Digi Sport. Zastavte a pretočte obraz, aby vám už žiadny gól neunikol!</p>
                <a class="link custom-link" href="/televizia/magio-sport">Viac o športových staniciach</a>
                <p class="custom-desc">
                    Exkluzívna Ťuki TV vysiela pre tých najmenších nové, ale&nbsp;aj tradičné rozprávky , seriály či hudbu výhradne v slovenčine. Stanica je&nbsp;dostupná len pre zákazníkov Magio televízie L a XL.</p>
                <a class="link custom-link" href="http://www.tukitv.sk" target="_blank">Viac o Ťuki televízii</a></div>
            <div class="grid-g__col_5">
                <img alt="Magio TV je úplne iná liga" class="prod-img" src="/documents/10179/655120/tv.png" /></div>
        </div>
    </div>
</section>
<section class="section sec-6" id="sec-6">
    <div class="fixed-column">
        <h2 class="section__title">
			FUNKCIE MAGIO TELEVÍZIE</h2>
        <div class="col-group">
            <div class="grid-g__col_4 media">
                <img alt="Vyhľadávanie" class="media__img" src="/documents/10179/655120/ico-magnify.png" />
                <p class="media__title">
                    Vyhľadávanie</p>
                <p class="media__desc">
                    S Magio televíziou nájdete film alebo reláciu jednoducho podľa názvu programu alebo mena hercov či režiséra v originálnom vysielacom jazyku (ak sú v TV programe uvedení).</p>
            </div>
            <div class="grid-g__col_4 media">
                <img alt="Nahrávanie s Magio Boxom" class="media__img" src="/documents/10179/655120/ico-device.png" />
                <p class="media__title">
                    Nahrávanie s Magio Boxom</p>
                <p class="media__desc">
                    <span class="underline info-tooltip info-1">Nahrajte si program až na 4 Magio boxoch.</span>
                    <br /> Nahrať môžete až 120 hodín a nahrávanie si môžete nastaviť popredu cez samotnú televíziu alebo internet.</p>
                <!--<a href="#" class="link media__link link_tundora">nastaviť nahrávanie</a>
                <br />
                <a href="#" class="link media__link link_tundora">nastaviť nahrávanie z mobilu</a>--></div>
            <div class="grid-g__col_4 media">
                <img alt="Pozastavenie a pretočenie obrazu" class="media__img" src="/documents/10179/655120/ico-remote.png" />
                <p class="media__title">
                    Pozastavenie a pretočenie obrazu</p>
                <p class="media__desc">
                    Zastavte alebo pretočte obraz dozadu a späť. Vrátiť sa dá do času, od kedy ste program začali sledovať (max. 90 minút). Pri prepnutí na inú stanicu sa táto pamäť vymaže.</p>
            </div>
            <div class="grid-g__col_12">
                <a class="link media__link link_blue link_wiki" href="/wiki/televizia/nahravanie-vysielania">Pozrieť všetky funkcie na Wiki</a></div>
        </div>
    </div>
</section>
<section class="section sec-7" id="sec-7">
    <div class="fixed-column">
        <h2 class="section__title">
			DOPLNKOVÉ SLUŽBY</h2>
        <div class="col-group">
            <div class="grid-g__col_4 media">
                <img alt="Spustenie programu od začiatku a Magio archív" class="media__img" src="/documents/10179/655120/ico-ec.png" />
                <p class="media__title_black">
                    Externý disk na nahrávanie</p>
                <p class="media__desc">
                    Externý disk na nahrávanie obľúbených programov s pamäťou až 320 GB má jednoduché pripojenie cez USB. Je určený k Magio boxom, ktoré podporujú nahrávanie (tzv. HDD ready).</p>
                <p class="link media__link link_blue info-tooltip info-3">
                    Ako kúpiť externý disk</p>
            </div>
            <div class="grid-g__col_4 media">
                <img alt="Extra programové balíky" class="media__img" src="/documents/10179/655120/ico-program.png" />
                <p class="media__title_black">
                    Extra programové balíky</p>
                <p class="media__desc">
                    uspokoja aj tých najnáročnejších divákov už od 1,39 / mes. Pre filmových fanúšikov je určený balík HBO + Cinemax s filmovými trhákmi. Okrem neho vám ponúkame rodinný a športový balíček programov v HD kvalite či balíček s maďarskými kanálmi.</p>
                <a class="link media__link link_blue" href="/televizia/kanaly-magio-sat#-2">Pozrieť Extra balíky</a>
                <br />
                <p class="link media__link link_tundora info-activation info-tooltip">
                    Ako balíky aktivovať</p>
            </div>
            <div class="grid-g__col_4 media">
                <img alt="Pomoc s inštaláciou" class="media__img" src="/documents/10179/655120/ico-service.png" />
                <p class="media__title_black">
                    Pomoc s inštaláciou</p>
                <p class="media__desc">
                    Naši technici vám radi pomôžu so zapojením televízie za jednorazový poplatok 19,99 €. V prípade záujmu si službu Inštalácia technikom aktivujte v nákupnom košíku.</p>
            </div>
        </div>
    </div>
</section>
<div class="detail">
    <div class="detail-lightbox" id="magiom">
        <div class="detail-content">
            <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
                &nbsp;</div>
            <p>
                *TV kanály Credo TV, TV Sonce, CCTV9 documentary, uTV, Inedit TV, Aljazeera English, CCTV News, Publika TV, RTV sú voľne dostupné na satelite, príjem signálu nie je garantovaný.</p>
            <p>
                **TV kanály Prima HD, Prima Cool, Nova sú vysielané v testovacej prevádzke, príjem signálu nie je garantovaný</p>
        </div>
    </div>
    <div class="detail-lightbox" id="magiol">
        <div class="detail-content">
            <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
                &nbsp;</div>
            <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_L_SAT">
                &nbsp;</div>
        </div>
    </div>
    <div class="detail-lightbox" id="magioxl">
        <div class="detail-content">
            <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
                &nbsp;</div>
            <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_L_SAT">
                &nbsp;</div>
            <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SAT_XL">
                &nbsp;</div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/documents/10179/655122/main.js"></script>
