<section id="section-shoppingScenario" class="section stepPersonalInfo">
    <div class="container-fixed">
     <!-- stepper with eyecatchers  -->
        <div class="flex-row">
            <div class="col-md-8 col-sm-7 col-xs-12 order1">
                <div class="stepper">
                    <div class="step1 step done" data-href="">
                        <p class="number">1.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Spôsob aktivácie
                        </p>
                    </div>
                    <div class="step2 step done" data-href="">
                        <p class="number">2.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Výber mobilu
                        </p>
                    </div>
                    <div class="step3 step done" data-href="">
                        <p class="number">3.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Doručenie
                        </p>
                    </div>
                    <div class="step4 step active" data-href="">
                        <p class="number">4.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Osobné údaje
                        </p>
                    </div>
                    <div class="step5 step" data-href="">
                        <p class="number">5.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Zhrnutie
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12 order2">
                <div class="eyecatchers">
                    <div class="promo-circle web-promo-circle">
                        <span class="promo-circle-text">EXTRA</br>
                            <strong>ZĽAVA NA</br>MOBIL</strong>
                        </span>
                    </div>
                    <div class="promo-circle commitment-promo-circle">
                        <span class="promo-circle-text">
                            <strong>BEZ</br>ZAVAZKOV</strong>
                            </br>14 DNI</span>
                    </div>
                    <div class="promo-circle delivery-promo-circle">
                        <span class="promo-circle-text">
                            <strong>DORUCENIE</br>KURIEROM</br>ZADARMO</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cartTop">
            <!-- top cart -->
        </div>
        <div class="row">
            <!-- personalForm -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="personalForm clearfix">
                    <h2 class="sec__title">4. Osobné údaje</h2>
                    <p>
                        <b>Vyplňte, prosím, nasledovné údaje</b>
                        <span class="infoRight">Polia s hviezdičkou (*) sú povinné</span>
                    </p>
                    <form class="rbCheckbox">
                        <div class="checkbox">
                            <span class="">
                                <input type="checkbox" name="company" id="company">
                            </span>
                            <label for="company">Objednať na firmu</label>
                        </div>
                    </form>
                    <div class="formContent">
                        <form name="personalInfoForm" action="">
                            <div class="formField">
                                <label for="ico">IČO:</label>
                                <input type="text" id="ico" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="businessName">Názov:</label>
                                <input type="text" id="businessName" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="ownerName">Meno konateľa:</label>
                                <input type="text" id="ownerName" value="" placeholder="">
                            </div>

                            <div class="formField">
                                <label for="firstName">Meno:</label>
                                <input type="text" id="firstName" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="lastName">Priezvisko:</label>
                                <input type="text" id="lastName" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="email">E-mail:</label>
                                <input type="text" id="email" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="mobPhone">Mobil:</label>
                                <input type="text" id="mobPhone" value="" placeholder="+421 555 555 555">
                            </div>
                            <div class="formField">
                                <label for="city">Obec:</label>
                                <input type="text" id="city" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="street">Ulica:</label>
                                <input type="text" id="street" value="" placeholder="">
                            </div>
                            <div class="formField streetNo">
                                <label for="streetNo">Číslo:</label>
                                <input type="text" id="streetNo" value="" placeholder="">
                            </div>
                            <div class="formField psc">
                                <label for="PSC">PSČ:</label>
                                <input type="text" id="PSC" value="" placeholder="">
                            </div>
                            <div class="additionalFields">
                                <p><b>Vyplenenie týchto údajov urýchly vybavenie vašej objednávky:</b></p>
                                <div class="formField">
                                    <label for="birthNum">Rodné číslo:</label>
                                    <input type="text" id="birthNum" value="" placeholder="000000/0000">
                                </div>
                                <div class="formField">
                                    <label for="personID">PSČ:</label>
                                    <input type="text" id="personID" value="" placeholder="">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- deliveryAdressContent -->
                    <div class="deliveryAdressContent">   
                        <div class="checkbox">
                            <span class="">
                                <input type="checkbox" name="deliveryAdress" id="deliveryAdress">
                            </span>
                            <label for="deliveryAdress">Doručovacia adresa (ak je rozdielna od adresy vyššie)</label>
                        </div>
                        <div class="deliveryAdressFields">
                            <div class="formField">
                                <label for="deliveryCity">Obec:</label>
                                <input type="text" id="deliveryCity" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="street">Ulica:</label>
                                <input type="text" id="street" value="" placeholder="">
                            </div>
                            <div class="formField streetNo">
                                <label for="streetNo">Číslo:</label>
                                <input type="text" id="streetNo" value="" placeholder="">
                            </div>
                            <div class="formField psc">
                                <label for="PSC">PSČ:</label>
                                <input type="text" id="PSC" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="courier">Kontaktné číslo pre kuriéra:</label>
                                <input type="text" id="courier" value="" placeholder="+421 555 555 555">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- shopping cart -->
                <div class="col-md-4 col-sm-5 col-xs-12 cartWrapper">
                    <div class="cart clearfix">
                        <div class="cartHead">
                            <p>
                                <b>Obsah košíka</b>
                                <span class="productsInCart"> (1 produkt)</span>
                            </p>
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </div>
                        <div class="cartContent">
                            <div class="cartProgram">
                                <div class="left">
                                    <p class="text">Paušál Happy XL volania</p>
                                    <a href="#" class="changeProgram">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>Zmeniť paušál</a>
                                </div>
                                <div class="right">
                                    <p class="price">29,99 €</p>
                                </div>
                            </div>
                            <div class="cartDevice">
                                <div class="left">
                                    <p class="text">Samsung Galaxy S7 Edge + náramok</p>
                                    <p class="text">Jednorazovo pri kúpe</p>
                                    <p class="text green">Zľava za nákup cez web</p>
                                    <p class="text">Mesačne</p>
                                </div>
                                <div class="right">
                                    <p class="price">529,99 €</p>
                                    <p class="price green">-30,00 €</p>
                                    <p class="price">10,00 €</p>
                                </div>
                            </div>
                            <div class="cartFee">
                                <div class="left">
                                    <p class="text">Administratívny poplatok</p>
                                </div>
                                <div class="right">
                                    <p class="price">10,00 €</p>
                                </div>
                            </div>
                            <div class="cartBottom">
                                <div class="left">
                                    <p class="text magenta">Jednorazovo pri kúpe</p>
                                    <p class="text magenta">Mesačne</p>
                                </div>
                                <div class="right">
                                    <p class="price magenta">539,99 €</p>
                                    <p class="price magenta">39,99 €</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- bottom button next -->
        <div class="row">
            <div class="bottomRow-nextPrevious clearfix">
                <a href="" class="prev btn cta">
                    <i class="fa fa-chevron-left"></i> SPÄŤ NA DORUČENIE</a>
                <a href="" class="next btn cta disabled">POKRAČOVAŤ
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="assets/js/step4/main.js"></script>
<script type="text/javascript" src="assets/js/globalsJS.js"></script>
<script type="text/javascript" src="assets/js/shoppingCart.js"></script>
<script type="text/javascript" src="assets/js/stepper.js"></script>