<!-- HERO -->
<section id="hero">
	<div class="container-fixed">
		<div class="hero__mobile">
			&nbsp;
		</div>
		<div class="hero__content">
			<h1 class="hero__title">
				Patríme medzi<br/>
			</h1>
			<p class="hero__subtitle">
				<b>top 10 mobilných sietí</b>
			</p>
			<p class="hero__subtitle">
				<b>na svete!</b>
			</p>
			<!-- <a class="scroll-to link" href="#module-plan-chooser">Pozrieť viac o paušáloch happy</a> -->
			<a class="link scroll-to" href="#sec-1">Pozrieť viac info</a>
		</div>
		<!-- <img class="best-6x" src="../assets/img/7x_best.png" alt=""> -->
	</div>
</section>
<div id="nav-sticky">
	<ul>
		<li>
			<a class="scroll-to" href="#sec-1">AKO TO FUNGUJE</a></li>
		<li>
			<a class="scroll-to" href="#sec-2">DÁTOVÉ BALÍKY</a></li>
		<li>
			<a class="scroll-to" href="#sec-3">ZDIEĽANIE DÁT</a></li>
		<li>
			<a class="scroll-to" href="#sec-4">AKCIE A NOVINKY</a></li>
		<li>
			<a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png"/></a></li>
	</ul>
</div>
<section class="section sec-1" id="sec-1">
	<div class="container-fixed">
		<h2 class="sec__title">
			AKO TO FUNGUJE</h2>
		<div class="row">
			<div class="col-md-4 item item_new">
				<img alt="" src="../assets/img/funguje-ico1.png"/>
				<h4 class="item__title">
					Ako to funguje</h4>
				<p class="item__desc">
					Internet v mobile je súčasťou všetkých T&nbsp;paušálov, paušálov ÁNO, Happy a programu Bez záväzkov.</p>
				<a class="link" href="https://eshop.telekom.sk/category/pausaly-telekom/list/product_listing?productOfferingTerm=agreement24">Koľko dát majú paušály?</a>
			</div>
			<div class="col-md-4 item">
				<img alt="" src="../assets/img/funguje-ico2.png"/>
				<h4 class="item__title">
					Nespotrebujete, prenesiete</h4>
				<p class="item__desc">
					Dáta z T&nbsp;paušálov alebo paušálov ÁNO, ktoré nespotrebujete, sa automaticky a bez poplatkov prenesú do ďalšieho
					zúčtovacieho obdobia.</p>
			</div>
			<div class="col-md-4 item">
				<img alt="" src="../assets/img/funguje-ico3.png"/>
				<h4 class="item__title">
						4G Internet aj s predplatenou kartou</h4>
				<p class="item__desc">
					S predplatenou kartou stojí surfovanie max. 50 centov na deň (do 200 MB). Navyše si môžete dokúpiť balík s
					ďalšími dátami.<br><a class="scroll-to" href="#sec-2" id="scrollToSurf">Dátové balíky k predplatenej karte</a>.</p>
				<!--
				<p class="item__desc">S Easy kartou stojí surfovanie max. 50 centov na deň. Ak za deň prekročíte 200 MB, rýchlosť internetu sa zníži. Získate ju späť aktivovaním balíčku <a href="#sec-2" class="scroll-to" id="scrollToSurf">Surf 1000</a>.</p>
				-->
			</div>
		</div>
	</div>
</section>
<section class="section sec-2 default" id="sec-2" data-segment="1">
	<div class="container-fixed">
		<h2 class="sec__title no-padding-bottom">
			DÁTOVÉ BALÍKY</h2>
		<div class="tabs-container">
			<div class="tab__holder">

				<ul class="tabs tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">k T&nbsp;paušálom, ÁNO a Happy</a></li>
					<li class="variant" data-variant="2" id="tabEasy">
						<a href="#tab-2">k Easy karte</a>
					</li>
					<li class="variant" data-variant="3" id="tabPredplatenka">
						<a href="#tab-3">k Predplatenke</a>
					</li>
				</ul>

			</div>

			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<p class="sec__desc">
						Spotrebovali ste dáta v paušále? Surfujte naďalej s dátovými balíčkami podľa vlastného výberu.
					</p>
					<div class="app-slider as1">
						<!-- Vianocne data -->
						<!-- <div class="p-box p-box_new">
							<div class="new-ribbon">
								VIANOČNÝ BALÍK</div>
							<div class="p-detail">
								<p class="box__title mb-10">
									VIANOČNÉ DÁTA</p>
								<p>
									<b>2000 MB pre blízkych + 2000 MB pre seba</b></p>
								<p class="mt-20">
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojich blízkych, ktorí majú paušál Happy, Bez záväzkov alebo Easy kartu.</p>
								<p>
									<b>Koľko dát darujete, toľko dát navyše od nás dostanete ako darček. </b></p>
								<p class="mt-10">
									Balík si môže každý zákazník aktivovať raz.</p>
								<p>
									Akcia platí do 31.12.2017.</p>
								<p class="mt-15">
									<a href="https://www.telekom.sk/wiki/internet/vianocne-data">Prejsť na viac info do Wiki</a></p>
								<p class="mt-15">
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky paušály Happy</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">0&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a> <a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a></div>
						</div> -->
						<!-- Denne data -->
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DENNÉ DÁTA 1 GB</p>
								<p>
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si
									šetríte na iný deň. S balíkom môžete napr. sledovať videá či počúvať hudbu.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									1000 MB</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									24 hodín od aktivácie balíka alebo do vyčerpania dát</p>
								<p>
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky T&nbsp;paušály, paušály ÁNO a Happy okrem Happy XS mini, XS&nbsp;a&nbsp;S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">1,50&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta"
																																												href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a>
								<a
												class="link popup" href="#dataden1000">Kúpiť balík cez SMS</a>
							</div>
						</div>
						<!-- Vianocne data neobmedzene -->
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DENNÉ DÁTA NEOBMEDZENÉ</p>
								<p>
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									Keď si aktivujete denný balík, čerpáte dáta z&nbsp;neho. Dáta z&nbsp;paušálu si
									šetríte na iný deň. S balíkom môžete sledovať videá, internetovú televíziu, počúvať
									hudbu či sťahovať veľké súbory bez limitov.</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									Neobmedzený</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									24 hodín od kúpy balíka</p>
								<p>
									<b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky T&nbsp;paušály, paušály ÁNO a Happy okrem Happy XS mini, XS&nbsp;a&nbsp;S.
								</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">3,00&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta"
																																												href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a>
								<a
												class="link popup" href="#datadenneob">Kúpiť balík cez SMS</a>
							</div>
						</div>
						<!-- Data 1000mb -->
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									DÁTA 1 GB</p>
								<p>
									<b>Ako balík funguje:</b></p>
								<p class="mb-10">
									Keď si aktivujete tento balík, čerpáte dáta z neho. Dáta z paušálu si šetríte.
									Balík je vhodný napr. na: sledovanie videí, počúvanie hudby, stiahnutie e-mailov s
									väčšími prílohami či využitie navigácie.
								</p>
								<p>
									<b>Objem dát:</b></p>
								<p class="mb-10">
									1000 MB</p>
								<p>
									<b>Platnosť balíka:</b></p>
								<p class="mb-10">
									do konca vášho nasledujúceho zúčtovacieho obdobia alebo do vyčerpania dát</p>

								<p><b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky T&nbsp;paušály, paušály ÁNO a Happy okrem Happy XS mini, XS&nbsp;a&nbsp;S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									Cena: <span class="p-price">3,00&nbsp;€</span></p>
								<a class="btn" href="http://m.telekom.sk/datanavyse">KÚPIŤ BALÍK</a> <a class="btn cta"
																																												href="/wiki/ostatne/aplikacia-telekom">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a>
								<a
												class="link popup" href="#data1000">Kúpiť balík cez SMS</a>
							</div>
						</div>
						<!-- Data navyse pre blizkych -->
						<div class="p-box">
							<!-- <div class="new-ribbon">
								NOVINKA
							</div> -->
							<div class="p-detail">
								<p class="box__title mb-10">DÁTA NAVYŠE PRE BLÍZKYCH 1000 MB</p>


								<!-- <p>
									<b>1000 MB pre blízkych + 1000 MB pre seba</b>
								</p> -->

								<p>
									<b>Ako balík funguje:</b>
								</p>

								<p class="mb-10">
									balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojich
									blízkych, ktorí majú paušál majú T&nbsp;paušál, paušál ÁNO, Happy, Bez záväzkov alebo Easy kartu. Dáta z
									balíčka môžete prideliť aj sebe.
								</p>
								<p class="">
									<a class="link"
										 href="https://www.telekom.sk/wiki/internet/data-navyse-pre-blizkych">Prejsť na
										viac info do Wiki</a>
								</p>

								<!-- <p>
									<b>Balík je vhodný napr. na:</b></br>
									sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.
								</p> -->

								<p class="mt-10"><b>Objem dát:</b></p>
								<p>1000 MB</p>

								<p class="mt-10"><b>Platnosť balíka:</b></p>
								<p>30 dní od kúpy balíka alebo</br>do vyčerpania dát</p>

								<p><b>Dostupnosť balíka:</b></p>
								<p class="mb-20">
									balík je dostupný pre všetky T&nbsp;paušály okrem T Nekonečno MAX, ako aj pre paušály ÁNO a Happy.</p>

							</div>

							<div class="p-actions">

								<p class="p-price-label mb-20">
									Cena: <span class="p-price">3,00 €</span>
								</p>

								<a class="btn" href="http://m.telekom.sk/datanavyse/preblizkych">KÚPIŤ BALÍK</a>
								<a class="btn cta" href="/telekom-aplikacia">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a>

							</div>
						</div>

						<!-- <div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">DÁTA NAVYŠE PRE BLÍZKYCH</p>
								<p><b>Ako balík funguje:</b></p>
								<p>balík môžete využívať vy alebo ho rozdeliť jednorazovo či postupne medzi svojích blízkych, ktorí majú paušál Happy alebo Easy kartu.</p>
								<a href="/wiki/internet/data-navyse-pre-blizkych" class="link mb-10">Prejsť na viac info do Wiki</a>
								<p><b>Balík je vhodný napr. na:</b></p>
								<p class="mb-10">sledovanie videí, počúvanie hudby, stiahnutie e-mailov s väčšími prílohami či využitie navigácie.</p>
								<p><b>Objem dát:</b></p>
								<p class="mb-10">1000 MB</p>
								<p><b>Platnosť balíka:</b></p>
								<p class="mb-10">30 dní od kúpy balíka alebo do vyčerpania dát</p>
								<p><b>Dostupnosť balíka:</b></p>
								<p class="mb-20">balík je dostupný pre všetky paušály Happy okrem Happy XS mini, XS a S.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">Cena: <span class="p-price">5,99 €</span></p>
								<a href="http://m.telekom.sk/datanavyse/preblizkych" class="btn">KÚPIŤ BALÍK</a>
								<a href="/wiki/ostatne/aplikacia-telekom" class="btn cta">KÚPIŤ BALÍK CEZ TELEKOM APLIKÁCIU</a>
								<a href="#" class="link link-hide">Kúpiť balík cez SMS</a>
							</div>
						</div>-->
					</div>
				</div>

				<div class="tab-content" id="tab-2">
					<p class="sec__desc">
						Spotrebovali ste s Easy kartou viac ako 200 MB v jeden deň? Surfujte aj naďalej s dátovými
						baličkami podľa vlastného výberu.</p>
					<div class="app-slider as2">
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									RAZ GIGA</p>
								<p class="text_centered p-row-1">
									<b>1 GB</b> na 7 dní</p>
								<p class="text_centered p-row-2">
									Veľký objem dát<br/>
									jednorázovo a hneď.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">3&nbsp;€</span></p>
								<a class="btn cta popup" href="#activate-baliky-internet-100">KÚPIŤ BALÍK CEZ SMS</a>
							</div>
						</div>
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									VŽDY GIGA</p>
								<p class="text_centered p-row-1">
									<b>1 GB </b> na 30 dní<br>
									<span class="font_magenta"><strong>+500 MB</strong></span> navyše</p>
								<p class="text_centered p-row-2">
									Ak chceš mať svoju spotrebu pod kontrolou a dáta používaš priebežne celý mesiac.</p>
								<p class="text_centered p-row-3">
									Balík s <a class="automaticka-obnova q-link popup"
														 href="#automaticka-obnova">automatickou obnovou</a> s <a
												class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších
									dát</a>.</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">6&nbsp;€</span></p>
								<a class="btn cta popup" href="#activate-baliky-internet-500">KÚPIŤ BALÍK CEZ SMS</a>
							</div>
						</div>
						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									VŽDY 2 GIGA</p>
								<p class="text_centered p-row-1">
									<b>2 GB</b> na 30 dní<br>
									<span class="font_magenta"><strong>+500 MB</strong></span> navyše</p>
								<p class="text_centered p-row-2">
									Ak chceš mať svoju spotrebu pod kontrolou a potrebuješ veľký objem dát pre veľké
									zážitky.</p>
								<p class="text_centered p-row-3">
									Balík s <a class="automaticka-obnova2 q-link popup"
														 href="#automaticka-obnova2">automatickou obnovou</a> s <a
												class="dalsie-data q-link popup" href="#dalsie-data">možnosťou dokúpenia ďalších
									dát</a>.<br/></p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">8&nbsp;€</span></p>
								<a class="btn cta popup" href="#activate-baliky-internet">KÚPIŤ BALÍK CEZ SMS</a>
							</div>
						</div>
					</div>

				</div>

				<div class="tab-content" id="tab-3">
					<div class="app-slider as3">

						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									NEKONEČNÉ DÁTA
									<br>
									exkluzívne iba v aplikácii
								</p>
								<p class="text_centered p-row-1">
									<br>
								</p>
								<p class="text_centered p-row-2">
									Veľký objem dát<br/>
									jednorázovo a hneď.</p>

								<p class="text_centered p-row-3">
									Platnosť balíka: 24 hodín od aktivácie
								</p>

							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">2&nbsp;€</span>
									<img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-unl-fup">
								</p>
								<a class="btn cta" href="https://telekomsk.page.link/Ma1G">AKTIVOVAŤ V TELEKOM APPKE</a>
								<br>
								<br>
								<br>
							</div>
						</div>

						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									1 GB DÁT na 10 dní
								</p>
								<p class="text_centered p-row-1">
									<br>
									<br>
								</p>
								<p class="text_centered p-row-2">
									Balík vhodný pre tých, ktorí si radi pozrú počasie či cestovný poriadok alebo e-maily bez veľkých príloh.
								</p>
								<p class="text_centered p-row-3">
									Platnosť balíka: 10 dní
								</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">2&nbsp;€</span>
									<img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-1gb10-fup">
								</p>
								<a class="btn cta" href="https://telekomsk.page.link/Ma1G">AKTIVOVAŤ V TELEKOM APPKE</a>
								<a class="link popup" href="#activate-internet-1GB10DNI">Aktivovať cez SMS</a>
								<br>
								<br>
							</div>
						</div>

						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									5 GB DÁT
									na 30 dní
								</p>
								<p class="text_centered p-row-1">
									<br>
								</p>
								<p class="text_centered p-row-2">
									S balíkom môžete sledovať videá aj v HD kvalite, počúvať hudbu online a surfovať po webe do sýta.
								</p>
								<p class="text_centered p-row-3">
									Platnosť balíka: 30 dní s automatickou obnovou
									<img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-30dni">
								</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">
										8&nbsp;€ <img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-5gb-fup">
									</span>
								</p>
								<a class="btn cta" href="https://telekomsk.page.link/Ma1G">AKTIVOVAŤ V TELEKOM APPKE</a>
								<a class="link popup" href="#activate-internet-5GB30DNI">Aktivovať cez SMS</a>
								<div class="deactivate">
									<a class="link popup" href="#deactivate-internet-30">Ako deaktivovať balík</a>
								</div>
							</div>
						</div>

						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									300 MB DÁT
									na 1 deň
									<br>
									<br>
								</p>
								<p class="text_centered p-row-1">
									<br>
								</p>
								<p class="text_centered p-row-2">
									Balík vhodný pre tých, ktorí si radi pozrú počasie či cestovný poriadok alebo e-maily bez veľkých príloh.
								</p>
								<p class="text_centered p-row-3">
									Platnosť balíka: do 23:59
								</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">
										0,50 € <img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-300mb-fup">
									</span>
								</p>
								<a class="btn cta" href="https://telekomsk.page.link/Ma1G">AKTIVOVAŤ V TELEKOM APPKE</a>
								<a class="link popup" href="#activate-internet-DATA">Aktivovať cez SMS</a>
								<br>
								<br>
							</div>
						</div>

						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									2 GB DÁT
									na 24 hodín
									<br>
									<br>
								</p>
								<p class="text_centered p-row-1">
									<br>
								</p>
								<p class="text_centered p-row-2">
									Ideálny balík, ak používate obľúbené aplikácie, prispievate radi na sociálne siete a občas si pustíte aj video.
								</p>
								<p class="text_centered p-row-3">
									Platnosť balíka: 24 hodín
								</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">
										1,50 € <img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-2gb-fup">
									</span>
								</p>
								<a class="btn cta" href="https://telekomsk.page.link/Ma1G">AKTIVOVAŤ V TELEKOM APPKE</a>
								<a class="link popup" href="#activate-internet-2GBDEN">Aktivovať cez SMS</a>
								<br>
								<br>
							</div>
						</div>

						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									1 GB DÁT
									na 30 dní
									<br>
									<br>
								</p>
								<p class="text_centered p-row-1">
									<br>
								</p>
								<p class="text_centered p-row-2">
									Balík vhodný pre tých, ktorí si radi pozrú počasie či cestovný poriadok alebo e-maily bez veľkých príloh.
								</p>
								<p class="text_centered p-row-3">
									Platnosť balíka: 30 dní s automatickou obnovou
									<img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-30dni">
								</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">
										3,00 € <img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-1gb30-fup">
									</span>
								</p>
								<a class="btn cta" href="https://telekomsk.page.link/Ma1G">AKTIVOVAŤ V TELEKOM APPKE</a>
								<a class="link popup" href="#activate-internet-1GB30DNI">Aktivovať cez SMS</a>
								<div class="deactivate">
									<a class="link popup" href="#deactivate-internet-30">Ako deaktivovať balík</a>
								</div>
							</div>
						</div>

						<div class="p-box">
							<div class="p-detail">
								<p class="box__title mb-10">
									3 GB DÁT
									na 30 dní
								</p>
								<p class="text_centered p-row-1">
									<br>
								</p>
								<p class="text_centered p-row-2">
									Ideálny balík, ak používate obľúbené aplikácie, prispievate radi na sociálne siete a občas si pustíte aj video.
								</p>
								<p class="text_centered p-row-3">
									Platnosť balíka: 30 dní s automatickou obnovou
									<img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-30dni">
								</p>
							</div>
							<div class="p-actions">
								<p class="p-price-label mb-20">
									<span class="p-price">
										6,00 € <img src="../assets/img/icon_info.png" alt="Info" class="sec3-tip-3gb-fup">
									</span>
								</p>
								<a class="btn cta" href="https://telekomsk.page.link/Ma1G">AKTIVOVAŤ V TELEKOM APPKE</a>
								<a class="link popup" href="#activate-internet-3GB30DNI">Aktivovať cez SMS</a>
								<div class="deactivate">
									<a class="link popup" href="#deactivate-internet-30">Ako deaktivovať balík</a>
								</div>
							</div>
						</div>

					</div>

				</div>

			</div>
		</div>
	</div>
</section>


<section class="section sec-3" id="sec-3">
	<div class="container-fixed">
		<h2 class="sec__title no-padding-bottom">
			ZDIEĽANIE DÁT</h2>
		<p class="sec__desc">
			So službou Zdieľanie dát získate jednu alebo dve SIM karty, vďaka ktorým môžete dáta zo svojho T&nbsp;paušálu alebo paušálu
			ÁNO a Happy využívať vy alebo vaši blízki aj na iných zariadeniach ako je váš mobil, napríklad na ďalšom mobile tablete
			či notebooku.
		</p>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<div class="p-box p-box-vianoce">
					<div class="p-detail">
						<p class="box__title mb-10">
							<span class="f-20">1 SIM KARTA</span> na zdieľanie dát z:
						<p>
						<ul>
							<li><b>paušálu T Dáta HD</b></li>
							<li><b>paušálu T Nekonečno SD,<br/>HD a MAX</b></li>
						</ul>
						<b>So službou získate:</b></p>
						<p class="mb-10">
							1 kus SIM karty, s ktorou môžete využívať <strong>nekonečné dáta</strong> zo svojho paušálu na ďalšom zariadení.
						</p>

						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">6,00&nbsp;€</span>
						</p>

						<p class="p-price-label mb-20">
							<!-- 131119 Aktivačný poplatok: 2,99&nbsp;€-->
						</p>

					</div>
					<div class="p-actions">
						<a class="btn cta popup" href="/mam-zaujem/internet-v-mobile/zdielanie-dat-nekonecny-pausal/formular">KÚPIŤ</a>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="p-box p-box-vianoce">
					<div class="p-detail">
						<p class="box__title mb-10">
							<span class="f-20">1 SIM KARTA</span> na zdieľanie dát z:
						<p>
						<ul>
							<li>
								<b>T&nbsp;paušálov</b>
								<br/>
								okrem T Dáta HD a T Nekonečno
							</li>
							<li><b>paušálov ÁNO alebo Happy</b></li>
						</ul>
						<b>So službou získate:</b></p>
						<p class="mb-10">
							1 kus SIM karty, s ktorou môžete využívať dáta zo svojho paušálu na ďalšom<br>zariadení.</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">0,99&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							<!-- 131119 Aktivačný poplatok: 2,99&nbsp;€-->
						</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup"
							 href="/mam-zaujem/internet-v-mobile/zdielanie-dat-1-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="p-box p-box-vianoce">
					<div class="p-detail">
						<p class="box__title mb-10">
							<span class="f-20">2 SIM KARTY</span> na zdieľanie dát z:
						<p>
						<ul>
							<li>
								<b>T&nbsp;paušálov</b>
								<br/>
								okrem T Dáta HD a T Nekonečno
							</li>
							<li><b>paušálov ÁNO alebo Happy</b></li>
						</ul>
						<b>So službou získate:</b></p>
						<p class="mb-10">
							2 kusy SIM karty, s ktorými môžete využívať dáta zo svojho paušálu na ďalších zariadeniach.
						</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">1,98&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							<!-- 131119 Aktivačný poplatok: 5,98&nbsp;€-->
						</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup"
							 href="/mam-zaujem/internet-v-mobile/zdielanie-dat-2-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>

		</div>

		<!--<div class="accordion">
			<div class="item">
				<div class="heading">
					1 SIM KARTA na zdieľanie dát z: <span class="ac-price">| 0,99&nbsp;€</span></div>
				<div class="content">
					<div class="p-detail">
						<ul>
							<li>
								<b>T&nbsp;paušálov</b>
								<br/>
								okrem T Dáta HD a T Nekonečno
							</li>
							<li><b>paušálov ÁNO alebo Happy</b></li>
						</ul>
						<p>
							<b>So službou získate:</b></p>
						<p class="mb-10">
							1 kus SIM karty, s ktorou môžete využívať dáta zo svojho paušálu na ďalšom zariadení.</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">0,99&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							Aktivačný poplatok: 2,99&nbsp;€</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup"
							 href="/mam-zaujem/internet-v-mobile/zdielanie-dat-1-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>
			<div class="item">
				<div class="heading">
					2 SIM KARTY na zdieľanie dát z: <span class="ac-price">| 1,98&nbsp;€</span></div>
				<div class="content">
					<div class="p-detail">
						<ul>
							<li>
								<b>T&nbsp;paušálov</b>
								<br/>
								okrem T Dáta HD a T Nekonečno
							</li>
							<li><b>paušálov ÁNO alebo Happy</b></li>
						</ul>
						<p>
							<b>So službou získate:</b></p>
						<p class="mb-10">
							2 kusy SIM karty, s ktorými môžete využívať dáta zo svojho paušálu na ďalších zariadeniach.
						</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">1,98&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							Aktivačný poplatok: 2,99&nbsp;€</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup"
							 href="/mam-zaujem/internet-v-mobile/zdielanie-dat-2-sim/formular">KÚPIŤ</a></div>
				</div>
			</div>
			<div class="item">
				<div class="heading">
					1 SIM KARTA na zdieľanie dát z: <span class="ac-price">| 5,00&nbsp;€</span></div>
				<div class="content">
					<div class="p-detail">
						<ul>
							<li><b>paušálu T Dáta HD</b></li>
							<li><b>paušálu T Nekonečno SD, HD a MAX</b></li>
						</ul>
						<p>
							<b>So službou získate:</b></p>
						<p class="mb-10">
							1 kus SIM karty, s ktorou môžete využívať dáta zo svojho paušálu na ďalšom zariadení.</p>
						<p class="p-price-label">
							Mesačný poplatok: <span class="p-price">5,00&nbsp;€</span></p>
						<p class="p-price-label mb-20">
							Aktivačný poplatok: 2,99&nbsp;€</p>
					</div>
					<div class="p-actions">
						<a class="btn cta popup" href="/mam-zaujem/internet-v-mobile/zdielanie-dat-nekonecny-pausal/formular">KÚPIŤ</a>
					</div>
				</div>
			</div>
		</div>-->
		<div class="wraper">
			<div class="small-desc" style="display: none">* Zľavnená cena mesačného poplatku uplatňovaná počas doby viazanosti vo
				vzťahu k hlavnej SIM karte.
			</div>
		</div>
	</div>
</section>
<section class="section sec-4" id="sec-4">
	<div class="container-fixed">
		<h2 class="sec__title">
			AKCIE A NOVINKY</h2>

		<!-- 3GB MESACNE NAVYSE -->
		<div class="col-md-12 col-sm-12 col-xs-12 table-container">
			<div class="table-row akcieBox3">
				<div class="col-md-5 col-sm-5 col-sm-12 col-xs-12 akciaRight table-col gridFix">
					<div class="rightWrapper">
						<h3 class="akciaHeadline"><b>Patríme medzi top 10 mobilných sietí na svete!</b>
						</h3>
						<p class="akciaSteps">Vyberte si niektorý z paušálov a získate:</br>
							▪ najrýchlejšiu 4G sieť na Slovensku,</br>
							▪ najkratší čas načítania YouTube videí,</br>
							▪ najrýchlejšie sťahovanie a posielanie súborov či načítanie stránok,</br>
							▪ najkratší čas spojenia a najlepšiu kvalitu hovorov.
						</p>
						<a href="/wiki/internet/4g-internet" class="link">Viac info o najlepšej 4G sieti</a></br>
						<!-- <p class="magentaBold"><b>Viac info o najlepšej 4G sieti</b></p> -->
						<a href="/pausal" class="btn cta btnodporucit">VYBRAŤ PAUŠÁL V NAJLEPŠEJ SIETI</a>
					</div>
				</div>
				<div class="col-md-7 col-sm-7 col-sm-12 col-xs-12 akciaLeft table-col">
					<!-- img -->
					<img class="best-6x" src="../assets/img/7x_best.png" alt="">
				</div>
			</div>
		</div>

		<!-- Máte paušál Happy M alebo vyšší -->
		<!-- <div class="col-md-9 col-sm-7 col-xs-12 table-container">
				<div class="row table-row akcieBox">
					<div class="col-md-5 col-sm-12 akciaLeft2 table-col">

					</div>
					<div class="col-md-7 col-sm-12 akciaRight table-col gridFix">
						<div class="rightWrapper">
							<h3 class="akciaHeadline"><b>Máte paušál Happy M alebo vyšší?</b></h3>
							<p class="akciaSteps">1. Odporučte telefónne číslo kamaráta jednoducho cez Telekom aplikáciu.</br>
						 		 2. Kamarát si k nám prenesie číslo a vyberie si paušál Happy M alebo vyšší.</br>
								 3. Každý z vás získa <b>1 GB dát mesačne!</b>
							</p>
							<p class="magentaBold"><b>Odporučiť môžete až 3 čísla a získať tak mesačne až 3 GB dát!</b></p>
							<a class="link" href="/odporucte-znameho">Prejsť na viac info do Wiki</a></br>
							<a href="/telekom-aplikacia" class="btn cta btnodporucit">ODPORUČIŤ ZNÁMEHO V TELEKOM APKE</a>
						</div>
					</div>
				</div>
			</div> -->

		<!-- 4G SIM KARTA ZADARMO -->
		<!-- <div class="col-md-3 col-sm-5 col-xs-12">
				<div class="row akcieBox2">
					<div class="col-md-12 akciaLeft">

					</div>
					<div class="col-md-12 akciaRight">
						<div class="rightWrapper text-center">
							<h3 class="akciaHeadline"><b>4G SIM</b> karta zadarmo!</h3>
							<p class="akciaSteps">Vymeňte si zadarmo starú SIM kartu za novú 4G.</br>
						 		 Požiadajte o ňu:</br>
								 ▪ telefonicky na čísle</br><a class="mobileNumber" href="tel:0800 123 456">0800 123 456</a></br>
								 ▪ osobne <a class="link" href="/predajne">v Telekom centrách</a></br>
								 ▪ alebo pri kúpe <a class="link" href="/happy">paušálu Happy</a></br>
							</p>
						</div>
					</div>
				</div>
			</div> -->

		<div class="row">
			<div class="sale_row-2" style="width: 100%">
				<!-- BOX 1 -->

				<!-- <div class="col-md-6 col-lg-6 nopadding saleBox sale__item">
					<div class="col-md-12 col-lg-7 nopadding">
						<div class="box-left">
							<h4>
								Vianočné dáta pre blízkeho a pre seba</h4>
							Toľko dát, koľko darujte blízkym, automaticky darujeme aj my vám do 31. 12. 2017. Balíček si môžete aktivovať cez aplikáciu Telekom 1x zadarmo.
							<div class="akcia">
								2000 MB pre blízkych + 2000 MB pre seba
								<div class="price">
									0&nbsp;€</div>
							</div>
							<div class="vianoce-wiki" style="padding-top: 10px;">
								<a href="https://www.telekom.sk/wiki/internet/vianocne-data">Prejsť na viac info do Wiki</a></div>
							<div class="vianoce-buton-cta text_centered" style="padding-top: 20px;">
								<a class="scroll-to btn cta" href="https://www.telekom.sk/telekom-aplikacia">AKTIVOVAŤ V TELEKOM APPKE</a></div>
						</div>
					</div>
					<div class="col-md-12 col-lg-5 nopadding vianoce-main-img">
						<img src="../assets/img/mobilny_internet_vianoce_main.png" style="float: right" /></div>
				</div> -->

				<!-- BOX 2 -->

				<!-- <div class="col-md-12 col-lg-12 saleBox sale__item text_centered">
					<div class="inner-padding">
					<img src="../assets/img/mobilny_internet_data_blizky.png" />
					<h4>
						Dáta navyše pre blízkych</h4>
					<div style="color: #6c6c6c;padding-bottom: 5px;font-size: 15px;">
						S paušálom Happy si v aplikácii Telekom kúpite balíček Dáta navyše pre blízkych 1000 MB za 5,99 €.</br>Balíček môžete jednorazovo alebo postupne rozdeliť svojim blízkym s paušálom Happy alebo s kartou Easy.</div>
					<a href="/wiki/internet/data-navyse-pre-blizk">Prejsť na viac info do Wiki</a>
					<div class="vianoce-buton-cta text_centered" style="padding-top: 10px;">
						<a class="scroll-to btn cta" href="/telekom-aplikacia" style="font-size: 15px">AKTIVOVAŤ V TELEKOM APPKE</a></div>
				 </div>
				</div> -->

				<!-- BOX 3 -->

				<!-- <div class="col-md-3 col-lg-3 saleBox sale__item text_centered">
					<div class="inner-padding">
					<h4 style="padding-top: 10px;">
						4G SIM karta zadarmo!</h4>
					<div style="color: #4b4b4b;padding-top: 8px;padding-bottom: 13px;">
						Vymeňte si zadarmo starú SIM kartu za novú 4G.</div>
					<div style="color: #262626">
						O 4G SIM kartu požiadajte na čísle 0800 123 456, pri kúpe paušálu <a href="/happy">Happy</a> alebo osobne v <a href="/predajne">Telekom centrách</a>.</div>
					</div>
				</div> -->

			</div>
		</div>
	</div>
</section>
<section class="section sec-5" id="sec-5">
	<div class="container-fixed">
		<h2 class="sec__title">
			MOHLO BY VÁS ZAUJÍMAŤ</h2>
		<div class="row">
			<div class="col-md-4 item">
				<img alt="" src="../assets/img/ico-4.png"/>
				<h4 class="item__title">
					Najrýchlejšia mobilná 4G sieť</h4>
				<p class="item__desc">
					Získajte viac informácií o 4G sieti od Telekomu, vďaka ktorej surfujete v mobile najvyššou
					rýchlosťou.</p>
				<a class="link" href="/internet/4g-internet">Viac informácií</a>
			</div>

			<div class="col-md-4 item">
				<img alt="" src="../assets/img/ico-5.png"/>
				<h4 class="item__title">
					Internet v mobile aj k predplatenej karte</h4>
				<p class="item__desc">
					Zabudnite na hľadanie Wi-Fi počas dovolenky a surfujte bez problémov aj v zahraničí.</p>
				<a class="link" href="/volania/roaming#internet">Viac informácií</a>
			</div>

			<div class="col-md-4 item">
				<img alt="" src="../assets/img/sim.png"/>
				<h4 class="item__title">
					4G SIM karta zadarmo</h4>
				<p class="item__desc">
					Stačí o ňu požiadať počas kúpy alebo predĺženia <a href="https://eshop.telekom.sk/category/pausaly-telekom/list/product_listing?productOfferingTerm=agreement24" class="link">nového&nbsp;paušálu na webe</a>,
					telefonicky na 0800 123 456 alebo osobne v niektorom z našich <a href="/predajne"
																																					 class="link"> Telekom centier</a>. O zmenu predplatenej karty na 4G je možné požiadať telefonicky
					alebo osobne.</p>
			</div>
		</div>
	</div>
</section>


<!-- LIGHTBOXES -->
<div class="fancybox_hide" id="data100" style="display: none;">
	<div class="p-head">
		&nbsp;
	</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br/>
		<strong>DATA100ZAP</strong> na číslo <strong>12323</strong><br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA100ZAP" href="#">Pošlite SMS</a>
	</div>
</div>
<div class="fancybox_hide" id="dataden1000" style="display: none;">
	<div class="p-head">
		&nbsp;
	</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br/>
		<strong>DATA DEN 1GB</strong> na číslo <strong>12323</strong><br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA DEN 1GB" href="#">Pošlite
			SMS</a></div>
</div>
<div class="fancybox_hide" id="datadenneob" style="display: none;">
	<div class="p-head">
		&nbsp;
	</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br/>
		<strong>DATA DEN NEOB</strong> na číslo <strong>12323</strong><br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA DEN NEOB" href="#">Pošlite
			SMS</a></div>
</div>
<div class="fancybox_hide" id="data500" style="display: none;">
	<div class="p-head">
		&nbsp;
	</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br/>
		<strong>DATA500ZAP</strong> na číslo <strong>12323</strong><br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA500ZAP" href="#">Pošlite SMS</a>
	</div>
</div>
<div class="fancybox_hide" id="data1000" style="display: none;">
	<div class="p-head">
		&nbsp;
	</div>
	<div class="p-content">
		Pre aktiváciu zašlite SMS s textom<br/>
		<strong>DATA1GBZAP</strong> na číslo <strong>12323</strong><br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12323" data-sms-text="DATA1GBZAP" href="#">Pošlite SMS</a>
	</div>
</div>
<!-- 100 -->
<div class="easy-lightbox" id="activate-baliky-internet-100">
	<h2>
		RAZ GIGA</h2>
	<div>
		Pošli SMS s textom <span class="semibold magenta">RAZGIGA</span> na <span
					class="semibold magenta">12330</span>.<br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="RAZGIGA" href="#">Poslať SMS</a>
	</div>
</div>
<!-- vzdy giga -->
<div class="easy-lightbox" id="activate-baliky-internet-500">
	<h2>
		VŽDY GIGA</h2>
	<div>
		Pošli SMS s textom <span class="semibold magenta">GIGA</span> na <span
					class="semibold magenta">12330</span>.<br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="GIGA" href="#">Poslať SMS</a></div>
</div>
<!--  VŽDY 2 GIGA -->
<div class="easy-lightbox" id="activate-baliky-internet">
	<h2>
		VŽDY 2 GIGA</h2>
	<div>
		Pošli SMS s textom <span class="semibold magenta">2GIGA</span> na <span
					class="semibold magenta">12330</span><br/>
		<br/>
		<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="2GIGA" href="#">Poslať SMS</a></div>
</div>
<div class="fancybox_hide" id="lightbox-zd">
	<div class="p-head">
		&nbsp;
	</div>
	<!-- POPUP CONTENT -->
	<div class="p-content" style="padding: 20px 20px;">
		<div class="text_centered">
			<img alt="" src="../assets/img/lightbox-zd.png"/>
			<h2 class="lightbox-title" id="-73" style="padding-top: 12px;">
				<b>ZDIEĽANIE DÁT Z PAUŠÁLU</b></h2>
			<p style="max-width: 283px;">
				So službou Zdieľanie dát môžete svoje dáta z paušálu využívať vy alevo vaši blízki na pripojenie k
				internetu aj na ďalšom mobile, tablete či počítači.<br/>
				<br/>
				<b>Ak si aktivujete nový paušál Happy L, XL, XXL alebo Profi, získate Zdieľanie dát zadarmo až na 2
					roky.</b><br/>
				<br/>
				Službu aktivujete vložením do košíka počas kúpy paušálu.</p>
			<br/>
			<a class="lightbox-btn" href="/mob/objednavka/-/scenario/e-shop/happy?vyberrp=l">PREJSŤ K PAUŠÁLOM</a>
		</div>
	</div>
</div>
<!-- 100 -->
<div class="fancybox_hide" id="data-100">
	Pre jednorazovú aktiváciu služby zašlite SMS s textom<br/>
	<strong>SURF100</strong> na číslo <strong>12330</strong><br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF100" href="#">Pošlite SMS</a><br/>
	<br/>
	Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 100 MB<br/>
	alebo po uplynutí 30 dní, zašlite SMS s textom SURF100A na číslo 12330<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF100A" href="#">Pošlite SMS</a></div>
<!-- 500 -->
<div class="fancybox_hide" id="data-500">
	Pre jednorazovú aktiváciu služby zašlite SMS s textom<br/>
	<strong>SURF500</strong> na číslo <strong>12330</strong><br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF500" href="#">Pošlite SMS</a><br/>
	<br/>
	Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 500 MB<br/>
	alebo po uplynutí 30 dní, zašlite SMS s textom SURF500A na číslo 12330<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF500A" href="#">Pošlite SMS</a></div>
<!-- 1000 -->
<div class="fancybox_hide" id="lightbox-5">
	Pre jednorazovú aktiváciu služby zašlite SMS s textom<br/>
	<strong>SURF1000</strong> na číslo <strong>12330</strong><br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF1000" href="#">Pošlite SMS</a><br/>
	<br/>
	Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 1000 MB<br/>
	alebo po uplynutí 30 dní, zašlite SMS s textom SURF1000A na číslo 12330<br/>
	<br/>
	<a class="btn cta btn-sms sms_link" data-sms-number="12330" data-sms-text="SURF1000A" href="#">Pošlite SMS</a></div>
<div class="fancybox_hide fancybox-small" id="lightbox-6">
	<span class="font_magenta">Dátový balíček 1 000 MB navyše pre blízkych</span><br/>
	Dáta môžete rozdeliť blízkym, ktorí majú aktivované služby Happy (okrem Happy XS mini), Easy Pecka, Easy Team alebo
	Fix<br/>
	Balíček nie je dostupný pre Happy XS mini, XS&nbsp;a&nbsp;S.
</div>

<!-- <div id="data" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<div class="p-content">
		<h4 class="p-title">
			Koľko dát majú paušály</h4>
		<table>
			<tbody>
				<tr>
					<td>
						Happy XS mini</td>
					<td>
						20 MB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XS</td>
					<td>
						200 MB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy S</td>
					<td>
						400 MB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XL<br />
						Dáta pre mladých</td>
					<td>
						5 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy M</td>
					<td>
						1 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy L</td>
					<td>
						3 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XL volania</td>
					<td>
						1 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XL</td>
					<td>
						6 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy XXL</td>
					<td>
						9 GB<br />
						v SR a EÚ+</td>
				</tr>
				<tr>
					<td>
						Happy Profi</td>
					<td>
						16 GB<br />
						v SR a EÚ+<br />
						+ 500 MB<br />
						vo svete a zóne<br />
						Profi</td>
				</tr>
				<tr>
					<td>
						Program<br />
						Bez záväzkov</td>
					<td>
						0,10&nbsp;€ / MB<br />
						v SR a EÚ+</td>
				</tr>
			</tbody>
		</table>
		<p class="custom-legal">
			EÚ+ sú všetky členské štáty EÚ,<br />
			Island, Nórsko a Lichtenštajnsko</p>
	</div>
</div> -->

<!-- <div class="easy-lightbox" id="max50">
	<h2>
		Max 50 centov na deň</h2>
	<div>
		Za surfovanie zaplatíš 0,10 €/MB, max. však do 0,50 €. Následne v danom dni surfuješ 200 MB zadarmo.<br />
		Ak nesurfuješ, neplatíš samozrejme nič. Kedykoľvek si môžeš dokúpiť ďalších 200 MB poslaním SMS<br />
		v tvare ESTE200 na 12330 alebo využiť Dátové balíčky.</div>
</div> -->

<!-- vzdy-giga -->
<div class="easy-lightbox" id="automaticka-obnova">
	<h2>
		VŽDY GIGA</h2>
	<div>
		Balík sa ti <b>vždy automaticky obnoví</b> na ďalšie obdobie. Obnovovanie balíka si môžeš kedykoľvek deaktivovať
		poslaním SMS v tvare <span class="semibold magenta">GIGA VYP</span> na <span
					class="semibold magenta">12330</span>. Po vypršaní balíčka sa ti už ďalší neaktivuje.
	</div>
</div>
<!-- 2giga -->
<div class="easy-lightbox" id="automaticka-obnova2">
	<h2>
		VŽDY 2 GIGA</h2>
	<div>
		Balík sa ti <b>vždy automaticky obnoví</b> na ďalšie obdobie. Obnovovanie balíka si môžeš kedykoľvek deaktivovať
		poslaním SMS v tvare <span class="semibold magenta">2GIGA VYP</span> na <span
					class="semibold magenta">12330</span>. Po vypršaní balíčka sa ti už ďalší neaktivuje.
	</div>
</div>
<!-- dokupenie -->
<div class="easy-lightbox" id="dalsie-data">
	<h2>
		EŠTE 500</h2>
	<div>
		Po vyčerpaní dát z balíčka si môžeš dokúpiť ďalších 500 MB dát len za 1 €. A to až 4 x. Pošli SMS v tvare <span
					class="semibold magenta">ESTE500</span> na <span class="semibold magenta">12330</span>.
	</div>
</div>


<div class="predplatenka-lightbox" id="activate-internet-DATA">
	<h2>300 MB dát</h2>
	<div>
		Pre aktiváciu zašlite SMS s textom<br/>
		<span class="semibold magenta">DATA</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="activate-internet-2GBDEN">
	<h2>2 GB dát</h2>
	<div>
		Pre aktiváciu zašlite SMS s textom<br/>
		<span class="semibold magenta">2GBDEN</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="activate-internet-1GB10DNI">
	<h2>1 GB dát</h2>
	<div>
		Pre aktiváciu zašlite SMS s textom<br/>
		<span class="semibold magenta">1GB10DNI</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="activate-internet-1GB30DNI">
	<h2>1 GB dát</h2>
	<div>
		Pre aktiváciu zašlite SMS s textom<br/>
		<span class="semibold magenta">1GB30DNI</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="activate-internet-3GB30DNI">
	<h2>3 GB dát</h2>
	<div>
		Pre aktiváciu zašlite SMS s textom<br/>
		<span class="semibold magenta">3GB30DNI</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="activate-internet-5GB30DNI">
	<h2>5 GB dát</h2>
	<div>
		Pre aktiváciu zašlite SMS s textom<br/>
		<span class="semibold magenta">5GB30DNI</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="activate-volania-30">
	<h2>Nekonečné volania na 30 dní</h2>
	<div>
		Pre aktiváciu zašlite SMS s textom<br/>
		<span class="semibold magenta">VOLANIA ZAP 09XXXXXXXX</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="deactivate-volania-30">
	<h2>Deaktivácia balíčka</h2>
	<div>
		V prípade deaktivácie volacieho balíčka pošlite SMS s textom<br/>
		<span class="semibold magenta">VOLANIA VYP 09XXXXXXXX</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<div class="predplatenka-lightbox" id="deactivate-internet-30">
	<h2>Deaktivácia balíčka</h2>
	<div>
		V prípade deaktivácie dátového balíčka pošlite SMS s textom<br/>
		<span class="semibold magenta">30DNI VYP</span> na číslo <span class="semibold magenta">12330</span>.
	</div>
</div>

<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="/documents/10179/13169475/sms-prefill.js"></script>