/* ===============
   CSS FOR MICROSITE
   =============== */

#cookies-information {
    display: none !important;
}
#wrapper {
    margin-bottom: -22px !important;
    margin-top: 0 !important;
}
#content .section__title {
    border-bottom: 0;
    text-transform: uppercase;
    font-size: 3em;
}
.ico__power {
    margin: 0 0 50px 0;
    cursor: pointer;
}
#wrapper_mbYTP_bgndVideo {
    display: none;
}
#sec-1 {
    margin-bottom: 25px;
}
.return {
    position: absolute !important;
    width: 64px;
    height: 64px;
    background-color: white;
    top: 50px;
    right: 50px;
    z-index: 111;
    display: none;
    background: url(https://www.telekom.sk/documents/10179/565126/cross.png) no-repeat;
    opacity: 0.4;
    transition: opacity .5s ease-in-out;
}
.return:hover {
    opacity: 1;
}

.fb-wrapper {
    position: absolute !important;
    bottom: 50px;
    right: 50px;
    z-index: 111;
    height: 22px;
    overflow: hidden;
    display: none;
}
@media screen and (max-width: 700px) {
    .fb-wrapper {
        display: none !important;
    }
}
footer {
    bottom: 0;
    top: auto !important;
}
@media screen and (max-width: 600px) {
    #sec-1 {
        font-size: 80%;
    }
    .return {
        top: 20px;
        right: 20px;
    }
}
@media screen and (max-width: 500px) {
    #sec-1 {
        font-size: 70%;
    }
    img.ico__power {
        width: 35%;
    }
}

/* BIG VIDEO BACKGROUND
================================================== */

.big-background {
    z-index: 550;
    text-align: center;
    height: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden
}
.big-background .big-background-container {
    width: 830px;
    max-width: 100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.big-background-title {
    font-family: 'Raleway', sans-serif;
    font-size: 78px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
    padding-top: 20px;
    display: inline-block;
    background-attachment: scroll;
    background-repeat: repeat-x;
    background-position: top center
}
a.big-background-btn {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 14px;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    -webkit-transition: .4s background ease;
    -moz-transition: .4s background ease;
    -o-transition: .4s background ease;
    transition: .4s background ease;
}
.big-background-btn:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.20)
}
.big-background-default-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    backface-visibility: hidden
}

/* GIF */

#gifBg {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(https://www.telekom.sk/documents/10179/565126/krb.gif) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
