<div class="bg-gray-not-transparent">
        <div class="c-heading2 c-row c-row-1 ">
            <div class="c-content">
                <div class="c-text">
                    <h2 id="-0">
                        <strong>Riadiace orgány</strong></h2>
                    <h3>
                        Výkonný manažment</h3>
                </div>
                <div class="c-image">
                    &nbsp;</div>
            </div>
        </div>
        <div class="c-row-2 c-content">
            <div class="c-content">
                <div class="c-text one-third">
                    <img alt="Ing. Milan Vašina" src="https://www.telekom.sk/documents/10179/58526/Minal+Vasina/648a929a-1dc8-4570-9577-39c18db4579a" style="width: 186px; height: 186px;" /></div>
                <div class="c-text two-third">
                    <p class="fullname">
                        Ing. Milan Vašina</p>
                    <p class="position">
                        generálny riaditeľ</p>
                    <p class="description">
                        Milan Vašina vyštudoval Ekonomickú fakultu Poľnohospodárskej univerzity v Brne. V rokoch 1997 až 2002 pracoval pre spoločnosť RadioMobil v Českej republike, najprv ako manažér marketingovej komunikácie a neskôr ako marketingový manažér pre rezidenčný segment.</p>
                    <p class="hide">
                        V roku 2002 začal pracovať v spoločnosti EuroTel Bratislava na poste riaditeľa marketingu a v roku 2005 úspešne viedol rebranding spoločnosti na T-Mobile Slovensko.<br />
                        <br />
                        V rokoch 2007 - 2010 bol generálnym riaditeľom spoločnosti. Podieľal sa na integrácii T-Mobilu a Slovak Telekomu, kde v roku 2010 pôsobil ako výkonný riaditeľ pre marketing, predaj a služby zákazníkom. Od januára 2011 je generálnym riaditeľom T-Mobile Czech Republic. Od januára 2016 je zároveň generálnym riaditeľom Slovak Telekomu.</p>
                    <a class="showButton open" href="#" onclick="showMoreDescription(this);return false;">Zobraziť viac</a></div>
            </div>
        </div>
        <div class="c-row-2 c-content">
            <div class="c-content">
                <div class="c-text one-third">
                    <img alt="Stephan Eger" src="https://www.telekom.sk/documents/10179/58526/Stephan_Eger.png" /></div>
                <div class="c-text two-third">
                    <p class="fullname">
                        Stephan Eger</p>
                    <p class="position">
                        výkonný riaditeľ pre financie a vice-chairman výkonného manažmentu</p>
                    <p class="description">
                        Stephan Eger má viac ako 20 rokov skúseností v biznise a 15 rokov skúseností v manažmente. Svoju kariéru začal na oddelení Finance and Treasury v spoločnosti Ford Motors vo Venezuele. Potom pracoval štyri roky na centrále Deutsche Bank vo Frankfurte v oblasti kapitálu a asset manažmentu. Po piatich rokoch v Allianz, od roku 2003 s paneurópskou a globálnou manažérskou zodpovednosťou, začal pôsobiť v roku 2005 v spoločnosti Lehman Brothers s úlohou riadiť nemecké predajné aktivity.</p>
                    <p class="hide">
                        V roku 2007 nastúpil do skupiny Deutsche Telekom ako Head of Investor Relations. V uplynulých 8 rokoch pôsobil ako biznis líder Deutsche Telekomu a priamo reportoval CFO skupiny Deutsche Telekom. Počas jeho pôsobenia Deutsche Telekom výrazne posilnil svoju trhovú hodnotu a jeho vnímanie ako podhodnotenej spoločnosti sa zmenilo na obchodovateľnú firmu prémiovej úrovne v porovnaní s konkurenciou. Deutsche Telekom navyše získal prestížne ocenenie Thomson Reuters Excel Award za „Najlepšiu európsku spoločnosť pre vzťahy s investormi“ naprieč všetkými priemyslovými oblasťami, a to dva roky po sebe – 2014 a 2015.<br />
                        V roku 2015 bol Stephan Eger menovaný do pozície finančného riaditeľa T-Mobile Czech Republic. Od 1. júla 2016 je ako finančný riaditeľ zodpovedný za T-Mobile Czech Republic i Slovak Telekom.</p>
                    <a class="showButton open" href="#" onclick="showMoreDescription(this);return false;">Zobraziť viac</a></div>
            </div>
        </div>
        <div class="c-row-2 c-content">
            <div class="c-content">
                <div class="c-text one-third">
                    <img alt="Ing. Dušan Švalek " src="https://www.telekom.sk/documents/10179/58526/dusan+svalek/f310b73a-b184-479b-8c2f-59bb5030f1cb" /></div>
                <div class="c-text two-third">
                    <p class="fullname">
                        Ing. Dušan Švalek</p>
                    <p class="position">
                        výkonný riaditeľ pre mass market segment</p>
                    <p class="description">
                        Svoju kariéru začal v&nbsp;spoločnostiach Benckiser a&nbsp;Johnson &amp; Johnson na pozíciách produktového a&nbsp;senior brand manažéra. Šesť rokov pôsobil v&nbsp;The Boston Consulting Group. V&nbsp;roku 2004 nastúpil do spoločnosti T-Mobile Slovensko ako riaditeľ divízie služieb zákazníkom.</p>
                    <p class="hide">
                        Od roku 2007 bol výkonným riaditeľom divízie marketingu. Od 1. júla do 31. decembra 2010 zastával pozíciu riaditeľa marketingu Slovak Telekomu. Od 1. januára 2011 zodpovedal za marketingovú stratégiu pre jednotlivé segmenty, riadil produktový manažment i vývoj v&nbsp;oblasti hlasových a&nbsp;dátových služieb v&nbsp;súlade s medzinárodnou stratégiou spoločnosti Deutsche Telekom.<br />
                        <br />
                        Od 1. októbra 2012 bol Dušan Švalek vymenovaný za výkonného riaditeľa pre mass market segment.</p>
                    <a class="showButton open" href="#" onclick="showMoreDescription(this);return false;">Zobraziť viac</a></div>
            </div>
        </div>
        <div class="c-row-2 c-content">
            <div class="c-content">
                <div class="c-text one-third">
                    <img alt="Dipl.-Ing. Branimir Marić" src="https://www.telekom.sk/documents/10179/58526/branimir+maric/7ecbe9f7-1bcd-46d9-b853-4a5b960e4634" /></div>
                <div class="c-text two-third">
                    <p class="fullname">
                        Dipl. Ing. Branimir Marić</p>
                    <p class="position">
                        výkonný riaditeľ pre technológie a&nbsp;IT</p>
                    <p class="description">
                        Branimir Marić začínal v&nbsp;spoločnosti Hrvatski Telekom v&nbsp;oblasti riadenia a&nbsp;rozvoja internetovej siete. Postupne viedol skupinu pre zákaznícke IP a&nbsp;dátové siete, bol riaditeľom oddelenia technického výskumu a&nbsp;vývoja produktov, výkonným riaditeľom skupinovej sieťovej stratégie a&nbsp;rozvoja platformy a&nbsp;zároveň členom výkonného manažmentu chorvátskeho T-Comu.</p>
                    <p class="hide">
                        Po zlúčení spoločností Hrvatski Telekom a&nbsp;T-Mobile Hrvatska v&nbsp;januári 2010 zastával Branimir Marić pozíciu prevádzkového riaditeľa pre manažment služieb a&nbsp;prevádzku pevných a&nbsp;mobilných sietí.<br />
                        <br />
                        Pod vedením Branimira Marića urobil Hrvatski Telekom dôležité kroky vpred pri zvyšovaní kvality mobilných a&nbsp;pevných služieb, konsolidácii mobilných a&nbsp;pevných segmentov a&nbsp;vo vývoji nástrojov a&nbsp;aplikácií systémov podpory prevádzky, ktoré umožňujú zvýšenie prevádzkovej efektívnosti a&nbsp;spokojnosti zákazníkov.<br />
                        <br />
                        Od 1. januára 2012 zastáva v&nbsp;spoločnosti Slovak Telekom pozíciu výkonného riaditeľa pre technológie a&nbsp;IT.</p>
                    <a class="showButton open" href="#" onclick="showMoreDescription(this);return false;">Zobraziť viac</a></div>
            </div>
        </div>
        <div class="c-row-2 c-content">
            <div class="c-content">
                <div class="c-text one-third">
                    <img alt="Jiří Vacek" src="https://www.telekom.sk/documents/10179/58526/jiri-vacek.jpg" /></div>
                <div class="c-text two-third">
                    <p class="fullname">
                        Jiří Vacek</p>
                    <p class="position">
                        výkonný riaditeľ pre ľudské zdroje</p>
                    <p class="description">
                        Má viac ako 20-ročnú skúsenosť s vedením HR v Česku, na Slovensku i v zahraničí. Po ukončení štúdia sa venoval oblasti ľudských zdrojov vo firmách Walter Czech Republic a Sagem Czech Republic.</p>
                    <p class="hide">
                        V rokoch 2001 až 2017 pôsobil v spoločnosti Nestlé. Najprv ako riaditeľ ľudských zdrojov pre Českú a Slovenskú republiku. Neskôr bol regionálnym riaditeľom HR vo Švajčiarsku a v Taliansku. V roku 2017 sa venoval aj vlastnej firme HR ONE.</p>
                    <a class="showButton open" href="#" onclick="showMoreDescription(this);return false;">Zobraziť viac</a>
                    <p>
                        &nbsp;</p>
                </div>
            </div>
        </div>
        <div class="c-row-2 c-content">
            <div class="c-content">
                <div class="c-text one-third">
                    <img alt="Ján Pitoňák" src="https://www.telekom.sk/documents/10179/58526/jan+pitonak/b5293aee-4b9c-4096-8605-c2ae343f85d4?t=1422286470533" /></div>
                <div class="c-text two-third">
                    <p class="fullname">
                        Ján Pitoňák</p>
                    <p class="position">
                        výkonný riaditeľ pre právne a korporátne záležitosti</p>
                    <p class="description">
                        Vysokoškolské vzdelanie získal na Právnickej fakulte Univerzity Komenského v Bratislave. Pre skupinu Slovak Telekom začal pracovať v auguste 2000 v spoločnosti EuroTel (následne T-Mobile Slovensko) na pozícii vedúceho právneho oddelenia, neskôr ako výkonný riaditeľ divízie pre právo, reguláciu a vzťahy s regulátormi.</p>
                    <p class="hide">
                        V roku 2001 sa zároveň stal prokuristom spoločnosti. Po integrácii pôsobil na pozícii riaditeľa divízie korporátnej služby. Od 1. októbra 2012 zastáva Ján Pitoňák pozíciu výkonného riaditeľa pre právne a korporátne záležitosti spoločnosti Slovak Telekom, v rámci ktorej zodpovedá za oblasť regulačných a právnych vzťahov spoločnosti, compliance, korporátnej bezpečnosti a public affairs.</p>
                    <a class="showButton open" href="#" onclick="showMoreDescription(this);return false;">Zobraziť viac</a>
                    <p>
                        &nbsp;</p>
                </div>
            </div>
        </div>
        <div class="c-row-2 c-content">
                <div class="c-content">
                    <div class="c-text one-third">
                        <img alt="Peter Škodný" src="https://www.telekom.sk/documents/10179/58526/PeterSkodny_small.jpg" /></div>
                    <div class="c-text two-third">
                        <p class="fullname">
                            Ing. Peter Škodný</p>
                        <p class="position">
                            výkonný riaditeľ pre ICT a korporátny segment (od 1. 5. 2018)</p>
                        <p class="description">
                            Peter Škodný má viac ako 25-ročné skúsenosti z vedenia spoločnosti Accenture na Slovensku a v ďalších krajinách Európy. Do spoločnosti nastúpil v roku 1991. Postupne prešiel viacerými pozíciami na poste výkonného riaditeľa: od roku 1997 zodpovedal za slovenský trh a od roka 2012 súčasne riadil aj pobočku v Maďarsku. Na týchto pozíciách mal plnú zodpovednosť za aktivity Accenture na oboch trhoch vo viacerých biznis oblastiach.</p>
                        <p class="hide">
                                V roku 2012 prebral plnú zodpovednosť za aktivity Accenture pre skupinu Deutsche Telekom na väčšine jej európskych trhov. Od roku 2013 viedol v Accenture tiež Geo Unit Danubia (oblasť Slovenska, Česka, Maďarska, Chorvátska, Rumunska a Bulharska).</p>
                        <a class="showButton open" href="#" onclick="showMoreDescription(this);return false;">Zobraziť viac</a>
                        <p>
                            &nbsp;</p>
                    </div>
                </div>
            </div>        
    </div>
    <div class="c-row-2 c-content">
        <div class="c-content">
            <div class="c-text c-dual">
                <h3>
                    Predstavenstvo</h3>
                <b>Predseda</b>
                <ul class="list-square-gray">
                    <li>
                        Ing. Miroslav Majoroš</li>
                </ul>
                <p>
                    <b style="font-family: TeleGrotesk, Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; line-height: 22.5px;">Podpredseda</b></p>
                <ul class="list-square-gray">
                    <li>
                        José Perdomo Lorenzo</li>
                </ul>
                <!--<b>Podpredseda</b>
                <ul class="list-square-gray">
                    <li>
                        Meno Priezvisko</li>
                </ul>--><b>Člen</b>
                <ul class="list-square-gray">
                    <li>
                        Darja Dodonova</li>
                </ul>
            </div>
            <div class="c-text c-dual">
                <h3>
                    Dozorná rada</h3>
                <b>Predseda</b>
                <ul class="list-square-gray">
                    <li>
                        Dr. Hans-Peter Schultz</li>
                </ul>
                <!--<b>Podpredseda</b>
                <ul class="list-square-gray">
                    <li>
                        Meno Priezvisko</li>
                </ul>--><b>Členovia</b>
                <ul class="list-square-gray">
                    <li>
                        <div>
                            Ing. Denisa Herdová</div>
                    </li>
                    <li>
                        <div>
                            Ing. Drahoslav Letko</div>
                    </li>
                    <li>
                        <div>
                            Konstantina Bata</div>
                    </li>
                    <li>
                        <div>
                            Dr. Henning Never</div>
                    </li>
                </ul>
            </div>
            <div class="c-text c-dual">
                <h3>
                    Výbor pre audit</h3>
                <b>Predseda</b>
                <ul class="list-square-gray">
                    <li>
                        <div>
                            Axel Kauhausen</div>
                    </li>
                </ul>
                <b>Členovia</b>  
                <ul class="list-square-gray">
                    <li>
                        <div>
                            Ing. Denisa Herdová</div>
                    </li>
                    <li>
                        <div>
                            Daria Dodonova</div>
                    </li>                    
                </ul>                
            </div>
        </div>
    </div>
    <div class="c-row-2 c-content">
        <div class="c-content">
            <div class="c-text-100">
                <h3>
                    Výsledky hlasovania valného zhromaždenia</h3>
                <ul class="list-arrow">
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/V%C3%BDsledky+hlasovania_zverejnenie_RVZ+2015.pdf/932c262a-e5ff-40f0-8fa7-19943af6ef22">31.03.2015</a><br />
                        PDF | 165 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/44166/V%C3%BDsledky+hlasovania.pdf/af6fb18c-5436-4975-93db-6446fadab2ac">09.02.2015</a><br />
                        PDF | 262,4 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/v%C3%BDsledky+hlasovania_zverejnenie_RVZ+2014/a16bda2f-7136-4abe-b48e-a084a0163b03">30.04.2014</a><br />
                        PDF | 158,5 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/mvz_26112013/fba84f55-3468-4c5a-8462-0e97be1351c3">26.11.2013</a><br />
                        PDF | 60,5 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/RVZ_29042013.pdf/6a608682-ad76-415e-bc31-363150d68cc5">29.04.2013</a><br />
                        PDF | 223 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/MVZ_17092012/dad64f27-8f0a-4314-8d66-ee78e5f4a306">17.09.2012</a><br />
                        PDF | 42,3 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/RVZ_30042012/4333ac20-6efe-4afe-bae4-6a7664eae499">30.04.2012</a><br />
                        PDF | 25,9 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/MVZ_19012012/d15e7b92-7392-49f9-9f96-e02d7b6ef731">19.01.2012</a><br />
                        PDF | 27,8 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/MVZ_09112011/3399a693-2937-4df1-9c67-c3fa390fe529">09.11.2011</a><br />
                        PDF | 29,3 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/MVZ_23092011/b0a90329-aa41-4b94-85ec-e1baef70995c">23.09.2011</a><br />
                        PDF | 26,5 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/MVZ_08072011/09ea55d8-7a66-4b06-a803-6fad16d3131e">08072011</a><br />
                        PDF | 30,5 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/vz_28042011/d0a97a49-a399-4536-98ba-4d65611bb958">28.04.2011</a><br />
                        PDF | 113,3 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/vz_02122010/986c6fdb-b825-46ba-8132-d85c04c41244">02.12.2010</a><br />
                        PDF | 47,8 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/vz_17062010/40f15af6-73ee-4cf7-adaa-10ffcb452979">17.06.2010</a><br />
                        PDF | 91,3 kB</li>
                    <li>
                        <a href="https://www.telekom.sk/documents/10179/61107/vz_27042010/4f99b5fa-f0aa-4a2c-8997-98339ea2edf5">27.04.2010</a><br />
                        PDF | 98,2 kB</li>
                </ul>
                <p>
                    &nbsp;</p>
            </div>
        </div>
    </div>
    <p>
        &nbsp;</p>
    