/* devicesHw section */
#section-shoppingScenario.stepHwCatalog {
    .borderBefore {
        border-left: 1px solid #ccc;
        @media screen and (max-width: 767px) {
            border: none;
        }
    }
    .devicesHw {
        .topRow {
            border-bottom: 1px solid #ccc;
            .numOfDevices p, .sortDevices p {
                font-size: 24px;
            }
            .numOfDevices {
                display: inline-block;
                width: 25%;
            }
            .sortDevices {
                width: 74%;
                display: inline-block;
                .right {
                    width: 100%;
                    display: inline-block;
                    text-align: right;
  
                    .heapbox {
                        width: 100%;
                        display: inline-block;
                        p,
                        .btn.outline,
                        #heapbox_sorting {
                            vertical-align: middle;
                        }
                        .btn.outline {
                            padding: 8px 8px;
                            width: 30%;
                            text-align: center;
                        }
                        p {
                            display: inline-block;
                            width: auto;
                            margin: 0 1%;
                        }
                        #heapbox_sorting {
                            width: 30%;
                            .holder, .heapOptions {
                                text-align: left;
                            }
                        }
                    }

                }

            }
            
        }
    }
}