/* HERO SECTION */

#hero {
  background: url(../img/hero_940_2020_12.png) no-repeat 50% 50%;
  background-size: cover;
  height: 680px;
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  
  & .hero__mobile {
    display: none;
  }
  
  & img.ec-vianoce-30e {
    position: absolute;
    top: 160px;
    right: 60px;
  }
  
  .hero__content {
    text-align: center;
    position: relative;
    margin-top: 60px;
    left: -50px;
    
    h1.hero__title {
      font-size: 70px;
      text-transform: none;
      font-weight: 800;
      text-align: left;
      
      .grey {
        color: #a3a3a3;
      }
    }
  }
  
  .btn {
    background-color: $magenta;
    border-color: $magenta;
    text-transform: none;
    font-size: 23px;
    border-radius: 0;
    padding: 20px 37px 20px 37px;
  }
  
  .btn:hover {
    background-color: $magenta;
    border-color: $magenta;
  }
  
  .hero__desc {
    margin-top: 30px;
    text-align: left;
  }
  
}

@media screen and (max-width: 1100px) {
  #hero {
    .hero__content {
      left: 0;
      margin-left: 30px;
    }
  }
}

@media screen and (max-width: 960px) {
  #hero {
    height: 480px;
    
    .hero__content {
      left: 0;
      margin-left: 0;
  
      h1.hero__title {
        font-size: 55px;
      }
    }
    
    .btn {
      padding: 15px 20px 15px 20px;
      font-size: 20px;
    }
  
  }
}

@media screen and (max-width: 860px) {
  #hero {
  
    & img.ec-vianoce-30e {
      width: 170px;
    }
    
    & .hero__content {
      h1.hero__title {
        font-size: 42px;
      }
    }
    
  }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url(../img/hero_940_2020_12.png) no-repeat 50% 50%;
  
    & img.ec-vianoce-30e {
      right: 10px;
    }
    
    & .hero__content {
      & img.icon-ec {
        right: -130px;
      }
    }
  }
}


@media screen and (max-width: 580px) {

  #hero {
    & .hero__content {
      width: auto;
    }
    
    background: transparent;
    padding: 0;
    height: auto;
  
    & img.ec-vianoce-30e {
      top: 30px;
      right: 30px;
      width: 100px;
    }
    
    .hero__mobile {
      display: block;
      background: url(../img/hero_480_2020_12.png) no-repeat 59.5% 50%;
      background-size: cover;
      height: 210px;
      position: relative;
    }
    
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    
    .hero__content {
      
      h1.hero__title {
        text-align: center;
        font-size: 30px;
        color: #000;
        text-transform: uppercase;
        
        .grey {
          color: #000;
          font-weight: normal;
        }
  
      }

      & .hero__desc {
        margin-top: 0;
        text-align: center;
      }
      
      margin: 0;
      width: 100%;
      position: initial;
      padding: 30px 4% 10px 4%;
      
      & img.icon-ec {
        top: 130px;
        right: 35px;
      }
    }
    
    .btn {
      margin-top: 30px;
    }
  }
}