/* ===============
   CSS FOR MICROSITE
   =============== */

/* ===============
  MICROSITE GLOBALS
  =============== */

.no-href {
  cursor: pointer;
}

.magentabg {
  background: $magenta;
  color: #fff !important;
  &:hover {
    background: #fff;
    color: $magenta !important;
  }
  &.active {
    color: $magenta !important;
  }
}

/* BUTTONS */
.btn {
  text-transform: uppercase;
  font-size: 16px;
  color: #383838;
  background-color: #ededed;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
  background-color: #dbdbdb;
  border: 1px solid #a1a1a1;
}

.btn:active {
  background-color: #e7e7e7;
  border: 1px solid #b2b2b2;
}

.btn.btn_disabled {
  color: #bababa;
  background-color: #f2f2f2;
  border: 1px solid #dedede;
  cursor: no-drop;
}

.cta {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #58951c;
}

.cta:hover {
  background-color: #5e9e20;
  border: 1px solid #4d8319;
}

.cta:active {
  background-color: #65ac20;
  border: 1px solid #58951c;
}
/* BUTTONS END */

#content h2 {
  border-bottom: 0;
  font-size: 20px;
  line-height: 1;
  color: #e20074;
  margin: 20px 0 10px;
}

.tac {
  text-align: center;
}
.sticker-picture {
  position: absolute;
  top: 130px;
  left: 120px;
}
.sticker-picture2 {
  position: absolute;
  top: 0px;
  left: 160px;
}
.strikethrough {
  position: relative;
  margin-right: 10px;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
hr {
  height: 1px;
  border: 0;
  color: #d0d0d0 !important;
  background-color: #d0d0d0 !important;
}
#content h2.velkyNadpis {
  text-align: center;
  color: #e20074;
  font-size: 32px;
  border-bottom: 0;
}
/* ===============
  MICROSITE GLOBALS END
  =============== */

/* ===============
  HERO
  =============== */
#hero {
  background: url(../img/kv.jpg) no-repeat 50% 50%;
  background-size: cover;
  position: relative;
  min-height: 254px;
  padding-top: 55px;
  overflow: hidden;
  & .hero__mobile {
    display: none;
  }
}

.hero__content {
  text-align: center;
  position: relative;
  & img.icon-ec {
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -130px;
  }
}

.ec-nasim {
  position: absolute;
  right: -130px;
  bottom: 60px;
}

#content .hero__title {
  //color: #000;
  font-size: 38px;
  margin-bottom: 0px;
}

#hero .link {
  display: inline-block;
  color: #3ec0f0;
}

@media screen and (max-width: 960px) {
  #hero_old {
    display: inline-block;
  }
}

@media screen and (max-width: 768px) {
  #hero {
    background: url(../img/kv_768.jpg) no-repeat;
    background-position: 60% 35%;
    background-size: cover;
    & .hero__content {
      & img.icon-ec {
        right: -130px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  #hero {
    .hero__content {
      width: auto;
    }
  }
}

@media screen and (max-width: 543px) {
  #hero {
    background: transparent;
    padding: 0;
    height: auto;
    & .hero__content {
      position: initial;
      width: 100%;
      margin: 0;
      & img.icon-ec {
        right: 20px;
        top: 30px;
      }
      .hero__title {
        margin-top: 40px;
        font-size: 30px;
      }
    }
    .ec-nasim {
      position: absolute;
      right: 10px;
      top: 100px;
    }
    .hero__mobile {
      display: block;
      background: url(../img/kv_480.jpg) no-repeat 63% 50%;
      background-size: cover;
      height: 210px;
      position: relative;
      & img.icon-ec {
        position: absolute;
        bottom: 10px;
        left: 15px;
      }
    }
    .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .hero__content {
      padding: 10px 4%;
    }
    .btn {
      margin-top: 30px;
    }
    .hero__title,
    .hero__desc {
      color: #262626 !important;
    }
  }
}

/* ===============
  HERO - END
  =============== */

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block;
  border-bottom: 1px solid #ccc !important;
}

/* ===============
  SEC-1
  =============== */
#sec-1 {
  padding: 50px 0px;
  background: #fff;
  & h2.velkyNadpis {
    margin-bottom: 25px;
  }
  & .row {
    & img.tac {
      display: block;
      margin: auto;
    }
    & h3.tac {
      font-size: 16px;
      color: #262626;
    }
  }
}

/* ===============
  SEC-2
  =============== */
#sec-2 {
  background: #ededed;
  padding: 50px 0px;
  & .modryOdkaz {
    text-decoration: underline;
  }
  & .internet-wrapper {
    background: #fff;
    margin: 6% 0% 2% 0%;
    //width: 30%;
    padding: 6%;
    & h3.tac {
      margin: 10px 0px;
      text-transform: uppercase;
    }
    & h5.tac {
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;
      font-weight: bold;
      & a {
        color: #4b4b4b;
        font-size: 20px;
        font-weight: bold;
      }
    }
    & p.tac {
      margin: 0px;
      font-weight: bold;
    }
    & a.tac {
      color: $magenta;
      font-weight: bold;
    }
    & .malepismo {
      text-transform: lowercase;
    }
  }
}
/* SEC-2 CMB */
#content .cmb__area {
  background: #cedfef;
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#content h3.cmb__area__head {
  border-bottom: 0;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 25px;
  color: #262626;
}
/* SEC-2 CMB END */

/* ===============
  SEC-3
  =============== */
#sec-3 {
  padding: 50px 0px;
  & img.tac {
    display: block;
    margin: 0 auto;
  }
  & p.tac {
    color: #4b4b4b;
    font-size: 16px;
  }
  & p.tac strong {
    color: #262626;
  }
}

/* ===============
 SEC-5
 =============== */
#sec-5 {
  padding: 50px 0px;
  & .row {
    & .services-wrapper {
      & img.tac {
        display: block;
        margin: 0 auto;
      }
      & h3.tac {
        font-size: 16px;
        font-weight: 400;
        color: #262626;
      }
    }
  }
}

/* ===============
  LIGHTBOX
  =============== */
#info-magio-box {
  display: none;
  width: 560px;
  padding: 0px 10px 0 20px;
  font-size: 16px;
  & > div {
    display: inline-block;
  }
  & h2 {
    text-align: center;
  }
  & .lightbox-content {
    width: 283px;
  }
  & .lightbox-img-cont {
    vertical-align: top;
    margin-left: 15px;
    width: 210px;
    position: relative;
    & img {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  & .lightbox-content-2 {
    color: #999;
  }
  & .lightbox-content-3 {
    color: $magenta;
    background-color: #fff6d5;
    padding: 10px;
    & div {
      display: inline-block;
      font-size: 16px;
      vertical-align: top;
    }
    & .lightbox-3-cont {
      max-width: 220px;
      margin-left: 10px;
    }
  }
  & div[class^="lightbox-content-"] {
    margin-top: 10px;
  }

  & .tab-ex {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    & p:first-child {
      border-bottom: solid 1px #ccc;
    }
    & p {
      margin: 1px 0;
    }
    & > div:last-child {
      border-top: solid 1px #ccc;
      color: $magenta;
      font-weight: bold;
      //margin-top: 5px;
      //padding-top: 5px;
    }
  }

  & .tab-ex .tab-ex-label {
    display: inline-block;
    width: 90px;
  }
  & .tab-ex .tab-ex-price {
    display: inline-block;
    width: 110px;
    text-align: right;
  }
  & .lightbox-content-mob {
    display: none;
    position: relative;
  }
  & .close-end {
    text-align: right;
    cursor: pointer;
    margin-top: 0;
    font-weight: bold;
    & a {
      font-size: 26px;
      color: #999;
    }
  }
  & .sticker-picture {
    width: 80px !important;
    top: 20px;
    left: 105px;
  }
  .lightbox-action {
    text-align: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 610px) {
  #info-magio-box {
    width: 320px;
    padding: 0;
    height: 520px;
    position: relative;
    & .lightbox-content {
      width: 100%;
    }
    & div {
      display: block;
    }
    & .lightbox-content-1 {
      & div {
        display: inline-block;
        vertical-align: top;
      }
      & div:nth-child(2) {
        margin-left: 10px;
        width: 200px;
      }
    }
    & .lightbox-img-cont {
      margin: 10px 0;
      width: 100%;
      & img {
        display: none;
      }
    }
    & .lightbox-content-3 {
      position: absolute;
      width: 100%;
      bottom: 55px;
      left: 0;
      & .lightbox-3-cont {
        max-width: 250px;
      }
    }
    & .tab-ex .tab-ex-price {
      width: 220px;
    }
    & .close-end {
      margin-bottom: 0;
      width: 100%;
    }
    & .sticker-picture {
      width: 40px !important;
      top: 5px;
      left: 45px;
    }
    & .lightbox-action {
      position: absolute;
      bottom: 0;
      left: 90px;
    }
  }
}
/* ===============
  LIGHTBOX - END
  =============== */

/* popups */
.christmasPopup {
  .p-content {
    padding: 20px;
    .data {
      padding: 0 20%;
      display: block;
    }
    
    h4 {
      text-align: center;
    }
    
    .desc-1 {
      padding-top: 10px;
      padding-bottom: 5px;
    }
    
    .close {
      text-align: center;
    }
    
    p {
      margin: 5px 0;
    }
    
  }
}