/* globals */
#nav-sticky {
  z-index: 999;
}
$magenta: rgb(226, 0, 116);
.pad0 {
  padding: 0;
}

.sec-vianoce {
  background-image: url("../img/aktualne-akcie/Pattern_3.png");
  background-color: #ededed;
  background-size: 20%;
  padding-bottom: 20px;
  position: relative;
}

#content h2.velkyNadpis.akcieHeadline {
  padding: 70px 0 0px 0;
  margin: 0;
}
#content .akcieHeadline-sub {
  margin: 0 auto;
  padding: 10px 30px 0 30px;
  text-align: center;
  @media screen and (max-width: 768px) {
    max-width: 700px;
  }
}

/* 
* christmas products filter module 
*/

#wrapper #sortingOptionsSection-sticky-wrapper {
  height: 110px !important;
  @media screen and (max-width: 768px) {
    // height: 161px !important;
  }
  &.is-sticky {
    #sortingOptionsSection {
      background-color: #ededed;
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      padding: 10px 0 10px 0;
      z-index: 999;
      border-bottom: 1px solid #ccc;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    }
  }
}

#wrapper #sortingOptionsSection {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  padding: 20px 0 20px 0;
  border-bottom: 0px;

  /* button */
  .button:active,
  .button:focus,
  .button.is-checked {
    background-color: $magenta !important;
    -webkit-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -1px 0px 15px 0px rgba(0, 0, 0, 0.4);
  }

  /* button-group */
  .button-group {
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    .button {
      text-transform: none;
      font-size: 18px;
      background: none;
      border: none;
      color: #000;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      height: auto;
      line-height: 24px;
      float: left;
      padding: 8px 10px;
      margin-left: 5px;
      margin-right: 1px;
      @media screen and (max-width: 768px) {
        float: none;
      }
      @media screen and (max-width: 543px) {
        font-size: 16px;
      }
      @media screen and (max-width: 380px) {
        font-size: 14px;
        padding: 8px 6px;
      }
      &:first-child {
        margin-left: 0;
      }
      &:hover {
        background-color: #dedede;
      }
      &.is-checked {
        color: white;
      }
    }
  }

  /* category wrapper */
  .categoryWrapper {
    margin-bottom: 15px;
    width: 58%;
    float: left;
    margin: 0 1%;
    @media screen and (max-width: 768px) {
      display: none;
      float: none;
      width: 100%;
      text-align: center;
    }
    @media screen and (max-width: 543px) {
      margin-bottom: 5px;
    }
  }

  /* sorting wrapper */
  .sortingWrapper {
    width: 38%;
    float: left;
    margin: 0 1%;
    @media screen and (max-width: 768px) {
      display: block;
      float: none;
      width: 100%;
    }
    @media screen and (max-width: 543px) {
      display: block;
      text-align: center;
      margin: 0;
    }
    #sorts {
      width: 50%;
      float: left;
      @media screen and (max-width: 543px) {
        width: 100%;
        float: none;
      }
    }
    #changePlan {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      @media screen and (max-width: 768px) {
        //margin-top: 15px;
        justify-content: center;
      }
      @media screen and (max-width: 380px) {
        margin-left: 20px;
        margin-right: 20px;
      }
      p {
        margin: 0 7px 0 0;
      }
      .heapBox {
        width: 230px;
        @media screen and (max-width: 768px) {
          width: 270px;
        }
        @media screen and (max-width: 543px) {
          text-align: left;
        }
        .holder {
          border-right: none;
        }
        .holder,
        .handler {
          font-weight: bold;
          background-color: #fff;
        }
        .handler {
          line-height: 14px;
        }
      }
    }
  }
}

#wrapper #productsSection {
  /* grid */
  .grid {
    display: block;
    margin: 0px 0 50px 0;
    position: relative;
    height: auto;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
  .gutter-sizer {
    width: 2%;
    @media screen and (max-width: 768px) {
      width: 2%;
    }
  }
  .grid-sizer {
    width: 31.33%;
    @media screen and (max-width: 768px) {
      width: 49%;
    }
    @media screen and (max-width: 543px) {
      width: 100%;
    }
  }

  /* .element-item */
  .element-item {
    height: 495px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    width: 31.33%;
    margin: 1%;
    margin-bottom: 1%;
    min-height: 300px;
    color: #262524;
    padding: 3% 2%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -1px 0px 7px 0px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 768px) {
      width: 47%;
      margin: 0 0 3% 0;
    }
    @media screen and (max-width: 543px) {
      width: 90%;
      margin: 0 5% 3% 5%;
      padding: 3% 5%;
    }
    &:hover {
      overflow: visible;
      -webkit-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      box-shadow: -1px 0px 18px 2px rgba(0, 0, 0, 0.2);
      transition: all 0.2s ease;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
    }
    .limitedOffer {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      height: 18px;
      background-color: #464646;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      p {
        margin: 0;
        font-size: 14px;
        color: #fff;
      }
    }
    .name {
      margin-top: 20px;
      font-size: 18px;
      text-align: center;
      line-height: 18px;
      &:hover {
        text-decoration: underline;
      }
    }
    &.width2 {
      width: 64.5%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &.fullwidth {
      width: 100%;
    }
    &.height2 {
      height: 500px;
    }
    &.magio {
      .btn {
        margin-top: 70px;
      }
      .prices {
        min-height: auto;
      }
    }
    &.easy {
      .btn {
        padding: 8px 23px;
      }
      &#segwayKickScooter {
        .name {
          margin-top: 40px;
        }
        .btn {
          margin-bottom: 36px;
        }
      }
      .prices {
        min-height: auto;
      }
    }
    &.soldOut {
      cursor: default;
      box-shadow: none;
      &:before {
        content: "VYPREDANÉ";
        color: #fff;
        display: flex;
        font-size: 46px;
        font-weight: 800;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: rgba(206, 206, 206, 0.8);
        width: 100%;
        height: 100%;
        z-index: 99;
        left: 0;
        top: 0;
        @media screen and (max-width: 900px) {
          font-size: 42px;
        }
      }
      &:hover {
        overflow: hidden;
      }
    }
    &.special {
      background-color: $magenta;
      background-image: url("../img/aktualne-akcie/Pattern_1.png");
      background-repeat: repeat;
      background-size: 80%;
      &.zimnyBalik {
        background-image: url("../img/aktualne-akcie/Pattern_2.png");
        .mainImg {
          height: 138px;
          img {
            position: relative;
            margin-top: -40px;
          }
        }
        .btn {
          margin-top: 19px;
        }
        .name {
          padding-top: 12px;
        }
      }
      p {
        color: #fff;
        z-index: 1;
      }
      .mainImg {
        z-index: 10;
      }
      .prices {
        &-hdl {
          p {
            color: #fff;
          }
        }
        &-row {
          &:nth-of-type(2) {
            .hdl,
            .monthlyWeb {
              color: #fff;
              font-weight: bold;
            }
          }
          .hdl,
          .monthlyStore,
          .oneTimeWeb,
          .oneTimeStore {
            color: #dca6c4;
            font-size: 17px;
          }
        }
      }
      .btn {
        z-index: 10;
      }
      .link {
        color: #6dd7ff;
        z-index: 10;
      }
    }
    &.textver {
      p {
        font-weight: normal;
      }
      .mainImg {
        position: relative;
        z-index: 10;
      }
      .btn {
        padding: 8px 23px;
        position: relative;
        z-index: 10;
      }
      .link {
        position: relative;
        z-index: 10;
      }
      .text {
        min-height: 119px;
        width: 100%;
      }
      &.special {
        background-color: $magenta;
        p {
          color: #fff !important;
          z-index: 999;
        }
        .link {
          margin-top: 0px;
          margin-bottom: 0px;
          color: #6dd7ff;
        }
      }
    }
    .ec {
      float: left;
      position: absolute;
      left: 6%;
      top: 7%;
      z-index: 11;
      @media screen and (max-width: 543px) {
        left: 20%;
      }
    }
    .mainImg {
      height: 150px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .prices {
      width: 100%;
      border-bottom: 1px solid #ccc;
      min-height: 119px;
      &-hdl {
        p {
          font-size: 15px;
          color: #6c6c6c;
          padding-bottom: 3px;
          margin-bottom: 3px;
          border-bottom: 1px solid #ccc;
        }
      }
      &-row {
        p {
          margin: 0;
        }
        &:nth-of-type(2) {
          .hdl,
          .monthlyWeb {
            color: $magenta;
            font-weight: bold;
          }
        }
        .hdl,
        .monthlyStore,
        .oneTimeStore {
          color: #6c6c6c;
          font-size: 17px;
        }

        .monthlyWeb,
        .oneTimeWeb {
          font-size: 17px;
        }
        .monthlyStore,
        .oneTimeStore {
          font-size: 15px;

          text-decoration: line-through;
          line-height: 10px;
          padding-bottom: 7px;
        }
      }
    }
    .btn {
      margin: 20px 0 5px 0;
      padding: 8px 40px;
      border: 1px solid #58951c;
    }
  }
}

/*
* SNOW EFFECTS
*/

$d: 20; // density
$w: 300; // grid size
$s: 5s; // speed
$grad: ();

// Generate the snow image using radial gradients
@for $i from 0 to $d {
  $v: random(4) + 2;
  $a: random(5) * 0.1 + 0.5;
  $grad: $grad,
    radial-gradient(
      $v +
        px
        $v +
        px
        at
        (random($w - $v * 2) + $v) +
        px
        (random($w - $v * 2) + $v) +
        px,
      rgba(255, 255, 255, $a) 50%,
      rgba(0, 0, 0, 0)
    ) !global;
}

.snow {
  animation: none;
  -webkit-animation: none;
  &:before,
  &:after {
    position: absolute;
    top: -$w + px;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: none;
    background-size: $w + px $w + px;
    content: "";
    // animation: snow $s linear infinite;
    // background-image: $grad;
  }
  &:before {
    animation-duration: $s * 3;
    margin-left: -$w/2 + px;
    opacity: 0.65;
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);
  }
  &:after {
    margin-left: -$w/3 + px;
    opacity: 0.4;
    animation-duration: $s * 2;
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  &:hover {
    overflow: hidden !important;
    &:before,
    &:after {
      animation: snow $s linear infinite;
      background-image: $grad;
    }
  }
}

@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}

/* ajaxLoader */
#ajaxLoadingSpinnerOverlay {
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
}

/* popups */
.christmasPopup {
  .p-content {
    padding: 0 20px;
    .data {
      padding: 0 20%;
      display: block;
    }
  }
}
/****************************************/
/* POPUP */
/****************************************/
#content {
  .fancybox-wrap {
    border: 0;
    & .fancybox-skin {
      background-color: #fff;
      border-radius: 11px;
      & .fancybox-outer {
        & .fancybox-inner {
          & .p-head {
            display: block;
            height: 40px;
            border-bottom: 1px solid #d0d0d0;
            margin-bottom: 10px;
            & .p-close {
              background: none;
              position: absolute;
              right: 10px;
              top: 11px;
              
              margin-top: 6px;
              margin-right: 10px;
              
              a.close-btn {
                position: relative;
                display: inline-block;
                width: 17px;
                height: 17px;
                overflow: hidden;
                float: right;
                transition: all 100ms linear;
                &::before {
                  content: "";
                  position: absolute;
                  height: 2px;
                  width: 100%;
                  top: 48%;
                  left: 0;
                  background: #000;
                  transform: rotate(45deg);
                  height: 1px;
                }
                &::after {
                  content: "";
                  position: absolute;
                  height: 2px;
                  width: 100%;
                  top: 48%;
                  left: 0;
                  background: #000;
                  transform: rotate(-45deg);
                  height: 1px;
                }
              }
            }
          }
          & .p-content {
            & .popup-lightbox {
              font-size: 1.3em;
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
              color: #e20074;
              & p {
                font-size: 18px;
                margin: 0;
                color: black;
              }
              & a.btn {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
    & .fancybox-opened .fancybox-skin {
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
  }
}
/* POPUP END */

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover,
  &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */
