<div id="selfcare">

	<div id="slf-iframe-main">
		<div id="selfcare-homepage">
			<div class="header-top-bold">
				Vitajte
			</div>

			<div class="header-top">
				v samoobslužnej<br>
				zákazníckej zóne
			</div>

			<div class="header-bottom">
				Vyberte si, prosím, z ponuky vpravo.
			</div>
		</div>

		<div style="display: none" id="selfcare-cenniky">
			<div class="header-top-bold" id="header-cenniky-main">
				Cenníky a dokumenty
			</div>

			<div class="header-top-bold" id="header-cenniky-b2b" style="display: none">
				<icon class="kiosk-back fa fa-angle-left"></icon>
				Pre podnikateľov
			</div>

			<div class="header-top-bold" id="header-cenniky-b2c" style="display: none">
				<icon class="kiosk-back fa fa-angle-left"></icon>
				Pre domácnosti
			</div>

			<div class="header-top-bold" id="header-cenniky-vop" style="display: none">
				<icon class="kiosk-back fa fa-angle-left"></icon>
				Cenníky a Všeobecné dokumenty
			</div>

			<div class="header-top-bold" id="header-cenniky-hw" style="display: none">
				<icon class="kiosk-back fa fa-angle-left"></icon>
				Cenníky zariadení
			</div>

			<div class="cenniky">
				<div class="row" id="cenniky-main">

					<div class="col-md-3">
						<div class="main-menu-item" id="cenniky-b2c-main">
							<img src="../assets/img/icon_cenniky_b2c.png">
							<div class="menu-desc">Brožúry pre domácnosti</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="main-menu-item" id="cenniky-b2b-main">
							<img src="../assets/img/icon_cenniky_b2b.png">
							<div class="menu-desc">Brožúry pre podnikateľov</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="main-menu-item" id="cenniky-vop-main">
							<img src="../assets/img/icon_cenniky.png">
							<div class="menu-desc">Cenníky a Všeobecné </br>dokumenty</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="main-menu-item" id="cenniky-hw-main">
							<img src="../assets/img/icon_cennik_hw.png">
							<div class="menu-desc">Cenníky zariadení</div>
						</div>
					</div>

				</div>

				<div class="row" id="cenniky-vop" style="display: none">

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky a Všeobecné dokumenty" data-id="cenniky_vop">
							Všeobecné obchodné podmienky
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky a Všeobecné dokumenty" data-id="cenniky_vop_cennik_a">
							Spoločný cenník - Časť A
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky a Všeobecné dokumenty" data-id="cenniky_vop_cennik_b">
							Spoločný cenník - Časť B
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky a Všeobecné dokumenty" data-id="cenniky_vop_katalog_hw">
							Katalóg hardware
						</a>
					</div>

				</div>

				<div class="row" id="cenniky-b2c" style="display: none">

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre domácnosti" data-id="b2c_pausaly">
							Paušály
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre domácnosti" data-id="b2c_magio">
							Magio&nbsp;TV <br> Magio&nbsp;GO
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre domácnosti" data-id="b2c_internet">
							Internet
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre domácnosti" data-id="b2c_magenta1">
							Magenta 1
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre domácnosti" data-id="b2c_pevna">
							Pevná linka
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre domácnosti" data-id="b2c_easy">
							Predplatenka
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre domácnosti" data-id="b2c_ins">
							INS
						</a>
					</div>

				</div>

				<div class="row" id="cenniky-b2b" style="display: none">

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre podnikateľov" data-id="b2b_pausaly">
							Biznis paušály
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre podnikateľov" data-id="b2b_biznis_linka">
							Biznis linka
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre podnikateľov" data-id="b2b_internet_light">
							Business Internet light
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre podnikateľov" data-id="b2b_m1_biznis">
							M1 Biznis
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre podnikateľov" data-id="b2b_biznis_net">
							Biznis Net
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre podnikateľov" data-id="b2b_magio_tv">
							Magio TV
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Brožúry pre podnikateľov" data-id="b2b_biznis_specialista">
							Objednajte sa u biznis špecialistu
						</a>
					</div>

				</div>

				<div class="row" id="cenniky-hw" style="display: none">

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky" data-id="cenniky_hw_b2c_akciovy">
							Cenník zariadení k Paušálom
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky" data-id="cenniky_hw_remote_b2c_akciovy">
							Cenník nositeľnej elektroniky k Paušálom
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky" data-id="cenniky_hw_b2b_akciovy">
							Cenník zariadení k Biznis paušálom
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky" data-id="cenniky_hw_remote_b2b_akciovy">
							Cenník nositeľnej elektroniky k Biznis paušálom
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky" data-id="cenniky_hw_neakciovy">
							Neakciový HW
						</a>
					</div>

					<div class="col-md-3 no-padding">
						<a class="cennik circle" href="#email" data-category="Cenníky" data-id="cenniky_hw_prislusenstvo">
							Špeciálne príslušenstvo
						</a>
					</div>

				</div>

			</div>
		</div>

		<div id="selfcare-iframe">
			<!--			<iframe style="display: none" id="slf-iframe-content"></iframe>-->
		</div>
	</div>

	<div id="slf-right-content">
		<div class="menu-item" data-page="main" id="kiosk-home" onclick='$("#selfcare-iframe iframe").remove();'>
			<img style="display: none" id="kiosk-home-img" src="../assets/img/icon_home.png">
			<img id="kiosk-home-img-selected" src="../assets/img/icon_home_selected.png">
			<div class="menu-desc">Domov</div>
		</div>
		<div class="menu-item" data-page="www-telekom-sk" id="kiosk-telekom" onclick='$("#selfcare-iframe iframe").remove();$("#selfcare-iframe").append("<iframe id=\"slf-iframe-content\" src=\"https://www.telekom.sk\"></iframe>");$.fn.idleTimeout().iframeRecheck();'>
			<img id="kiosk-telekom-img" src="../assets/img/icon_telekom.png">
			<img style="display: none" id="kiosk-telekom-img-selected" src="../assets/img/icon_telekom_selected.png">
			<div class="menu-desc">telekom.sk</div>
		</div>
		<div class="menu-item" data-page="obchod-s-prislusenstvom" id="kiosk-shop" style="display:none" onclick='$("#selfcare-iframe iframe").remove();$("#selfcare-iframe").append("<iframe id=\"slf-iframe-content\" src=\"https://st.fixdistribution.sk/\"></iframe>");$.fn.idleTimeout().iframeRecheck();'>
			<img id="kiosk-shop-img" src="../assets/img/icon_shop.png">
			<img style="display: none" id="kiosk-shop-img-selected" src="../assets/img/icon_shop_selected.png">
			<div class="menu-desc">Obchod<br>s príslušenstvom</div>
		</div>
		<div class="menu-item" data-page="telekom-aplikacia" id="kiosk-telekom-app" onclick='$("#selfcare-iframe iframe").remove();$("#selfcare-iframe").append("<iframe id=\"slf-iframe-content\" src=\"https://www.telekom.sk/telekom-aplikacia?kiosk=1\"></iframe>");$.fn.idleTimeout().iframeRecheck();'>
			<img id="kiosk-telekom-app-img" src="../assets/img/icon_telekom_app.png">
			<img style="display: none" id="kiosk-telekom-app-img-selected" src="../assets/img/icon_telekom_app_selected.png">
			<div class="menu-desc">Telekom appka</div>
		</div>
		<div class="menu-item" id="kiosk-pokrytie" onclick='$("#selfcare-iframe iframe").remove();$("#selfcare-iframe").append("<iframe id=\"slf-iframe-content\" src=\"https://www.telekom.sk/t-pad/wiki/mapa-pokrytia\"></iframe>");$.fn.idleTimeout().iframeRecheck();'>
			<img id="kiosk-pokrytie-img" src="../assets/img/icon_pokrytie.png">
			<img style="display: none" id="kiosk-pokrytie-img-selected" src="../assets/img/icon_pokrytie_selected.png">
			<div class="menu-desc">Mapa pokrytia</div>
		</div>
		<div class="menu-item" data-page="dokoncenie-objednavky" id="kiosk-lsb" onclick='$("#selfcare-iframe iframe").remove();$("#selfcare-iframe").append("<iframe id=\"slf-iframe-content\" src=\"https://www.telekom.sk/samoobsluzna-zona?zdroj=selfcarezona&button=objednavka\"></iframe>");$.fn.idleTimeout().iframeRecheck();'>
			<img id="kiosk-lsb-img" src="../assets/img/icon_lsb.png">
			<img style="display: none" id="kiosk-lsb-img-selected" src="../assets/img/icon_lsb_selected.png">
			<div class="menu-desc">Dokončenie<br>objednávky</div>
		</div>

		<div class="menu-item" data-page="cenniky-a-dokumenty" id="kiosk-cenniky" onclick='$("#selfcare-iframe iframe").remove();'>
			<img id="kiosk-cenniky-img" src="../assets/img/icon_cenniky.png">
			<img style="display: none" id="kiosk-cenniky-img-selected" src="../assets/img/icon_cenniky_selected.png">
			<div class="menu-desc">Cenníky<br>a dokumenty</div>
		</div>
	</div>

	<div id="slf-bottom-content">
		<div class="row">
			<div class="col-md-6 text-left left">Používaním Samoobslužnej zóny súhlasím s
				<a class="suhlas podmienky" href="#suhlas">Podmienkami používania</a>
			</div>
			<div class="col-md-6 text-right right" id="kiosk-agent" onclick='$("#selfcare-iframe iframe").remove();$("#selfcare-iframe").append("<iframe id=\"slf-iframe-content\" src=\"https://www.telekom.sk/agent?zdroj=selfcarezona&button=lsb\"></iframe>");$.fn.idleTimeout().iframeRecheck();'>
				<span id="kiosk-date"></span> ■ <span id="kiosk-time"></span></div>
		</div>
	</div>

</div>

<div id="suhlas" style="display: none">
	<div>
		<h1>Podmienky používania Samoobslužného kiosku</h1>
	</div>

	<ul>
		<li>
			Za bezpečnosť údajov pri ich zadávaní prostredníctvom Samoobslužného kiosku zodpovedá priamo Užívateľ
		</li>
		<li>
			Spoločnosť Slovak Telekom, a.s. spracováva údaje zadané užívateľom prostredníctvom Samoobslužného kiosku podľa
			<a class="iframe" data-fancybox-type="iframe" href="https://www.telekom.sk/wiki/ostatne/osobne-udaje-zakaznik">Podmienok ochrany súkromia a spracovania údajov</a>
		</li>
		<li>
			Samoobslužný kiosk je vybavený štandardnými bezpečnostnými prvkami zabezpečujúcimi bezpečnosť komunikácie prostredníctvom siete internet (napr. Antivírus, Antiphishing a pod.)
		</li>
		<li>
			Za účelom zabezpečenia čo najvyššej bezpečnosti pri využívaní Samoobslužného kiosku je jeho funkcionalita obmedzená (napr. nemožnosť zobrazenia spoločnosťou Slovak Telekom, a.s. určených webových stránok, znefunkčnenie USB portov, zákaz spúšťania .exe súborov a pod.)
		</li>
		<li>
			Akýkoľvek proces uskutočňovaný prostredníctvom Samoobslužného kiosku bude po 1 minúte nečinnosti užívateľa ukončený
		</li>
	</ul>
</div>

<div id="email" style="display: none">
	<div class="email-description">
		<!--		Teší nás Váš záujem o naše služby. Zvolený dokument si môžete prečítať priamo na tejto Samoobslužnej zóne.-->
		Teší nás Váš záujem o naše služby. Zvolený dokument si môžete prečítať priamo na tejto Samoobslužnej zóne, prípadne si ho môžete zaslať na svoju mailovú adresu.
		<br>
		<br>
		Odporúčame však využiť príležitosť Vašej návštevy v predajni na osobné stretnutie s našim predajcom. Predstaví Vám komplexné riešenie hlasových, dátových či televíznych služieb na mieru Vašich potrieb.
	</div>

	<form id="form-email">
		<div class="row email-send text-center" style="display: none;">
			<div class="col-md-1">
			</div>
			<div class="col-md-5">
				<input type="email" name="email" id="email-address" required autocomplete="off" placeholder="Zadajte emailovú adresu">
			</div>
			<div class="col-md-4">
				<button type="submit" id="send-email" class="btn btn_mag-outline" style="vertical-align: center">POTVRDIŤ ODOSLANIE</button>
			</div>
		</div>
	</form>

	<div class="email-thx text-center" style="display: none;">
		Na váš email bol odoslaný cenník.
	</div>

	<div class="email-buttons text-center">
		<a id="pdf-open" href="" class="iframe btn btn_mag-outline" data-fancybox-type="iframe">OTVORIŤ</a>
		<a id="pdf-email" class="btn btn_mag-outline">POSLAŤ E-MAILOM</a>
	</div>
</div>

<script type="text/javascript" src="../assets/js/main.js?v=2"></script>
<script src="../assets/js/parsley.js"></script>
<script src="../assets/js/parsley_sk.js"></script>

<script src="../assets/js/store.min.js"></script>
<script src="../assets/js/idleTimeout.js"></script>