/* ===============
   CSS FOR MICROSITE
   =============== */

.portlet-body .journal-content-article h1 {
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0;
    text-transform: uppercase;
}
.portlet-body .journal-content-article h2 {
    border-bottom: none;
    padding-top: 30px;
    margin: 0;
    text-transform: uppercase;
}
.portlet-body .journal-content-article h3 {
    margin: 0;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.25em;
}
.portlet-body .journal-content-article .c-tile p {
    font-size: 1em;
    line-height: 0.9em;
}
.portlet-body .journal-content-article .c-header p {
    color: white;
    width: 90%;
    font-size: 1.1em;
}
.c-content {
    width: 940px;
    margin: 0 auto;
    position: relative;
}
div.c-img {
    display: inline-block;
    position: absolute;
}
.col2a {
    float: left;
    width: 45%;
}
.col2b {
    float: right;
    width: 45%;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    background-size: contain;
    width: 100%;
}
.videoWrapper iframe {
    position: absolute;
    top: 7%;
    left: 8%;
    width: 96%;
    height: 86%;
}
@media screen and (max-width: 660px) {
    .col2a,
    .col2b {
        width: 100%;
    }
    .videoWrapper iframe {
        left: 0;
    }
}
.c-row {
    display: block;
    position: relative;
}
.c-row.c-row-1 {
    height: 300px;
}
.c-row.c-row-2 {
    padding-top: 30px;
    padding-bottom: 50px;
    float: left;
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background: #fff;
}
.c-row.c-row-3 {
    background: #e3e3e3;
    padding-bottom: 80px;
}
.c-row.c-row-4 {
    background: url('https://www.telekom.sk/documents/10179/209211/transparent_75.png/2d4110cd-1189-42e0-9fed-ba13e8985f40');
    padding-top: 30px;
    padding-bottom: 30px;
}
.c-row.c-row-5 {
    padding-top: 50px;
    background: url('https://www.telekom.sk/documents/10179/209211/transparent_90.png/c8b7bab7-b84f-4d0d-9083-3af0cdc66852');
    min-height: 400px;
}
.background-4 {
    background: url('https://www.telekom.sk/documents/10179/209211/cloudvpn_background_3.jpg/aba7c724-8283-4676-9193-c3af4632163b');
    height: 100%;
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
}
.list-arrow>li:before,
.list-square>li:before {
    color: #4b4b4b;
}

/*-------------------------------------------------------*/

.order-btn {
    padding-top: 30px;
}
.c-row-1 .c-text {
    width: 55%;
}
.c-row-1 .c-text p {
    font-size: 1.1em;
    line-height: 1.1em;
}

/*-------------------------------------------------------*/

.c-row-2 div.c-img {
    top: 30px;
    left: -10%;
}
.c-row-2 div.c-text {
    display: inline-block;
    position: relative;
    top: .8em;
    left: 45%;
    width: 55%;
    font-size: 0.9em;
}

/*-------------------------------------------------------*/

.c-row-3 .c-text {
    position: relative;
    display: inline-block;
    width: 50%;
    font-size: 0.9em;
    padding-top: 50px;
}
.c-row-3 div.c-img {
    width: 50%;
    text-align: right;
}
.blue-text {
    color: #317cb3;
}
.page .c-row-3 .c-text ul {
    color: #4b4b4b;
    font-size: 16px;
}

/*-------------------------------------------------------*/

.c-row-4 {}

/*-------------------------------------------------------*/

.c-row-5 {}
.c-row-5 div.c-img {
    top: 30px;
}
.c-row-5 div.c-text {
    display: inline-block;
    position: relative;
    top: .8em;
    left: 50%;
    width: 50%;
    font-size: 0.9em;
}
.number {
    color: #317cb3;
}
.page .c-row-4 .c-text ul {
    color: #4b4b4b;
    font-size: 16px;
}
.c-row-5 .c-desc {
    padding-bottom: 20px;
}
.c-row-5 .number {
    background-color: #fff;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 10px;
    font-weight: bold;
}

/*-------------------------------------------------------*/

@media screen and (max-width: 1400px) {}
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 1100px) {}
@media screen and (max-width: 960px) {
    .c-content {
        width: auto;
    }
    .c-row {
        padding-left: 3em;
        padding-right: 3em;
    }
    .c-row-2 div.c-img,
    .c-row-3 div.c-img,
    .c-row-5 div.c-img {
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .c-row-2 div.c-img img {
        width: 70%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }
    .c-row-3 div.c-img img {
        width: 70%;
        height: auto;
        margin-top: 30px;
    }
    .c-row-5 div.c-img img {
        width: 50%;
        height: auto;
        margin-bottom: 40px;
    }
    .c-row-1 div.c-text,
    .c-row-2 div.c-text,
    .c-row-3 div.c-text,
    .c-row-5 div.c-text {
        display: block;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}
@media screen and (max-width: 870px) {
    .c-header {
        background-repeat: round;
    }
}
@media screen and (max-width: 800px) {
    .portlet-content {
        padding-left: 0;
        padding-right: 0;
    }
    .c-row {
        padding-left: 2em;
        padding-right: 2em;
    }
}
@media screen and (max-width: 640px) {
    .c-row {
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
    }
}
@media screen and (max-width: 480px) {}