/*!
 * jQuery Accordion 0.0.1
 * (c) 2014 Victor Fernandez <victor@vctrfrnndz.com>
 * MIT Licensed.
 */


/* Requirements */

[data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}


/* Basic Theme */

[data-accordion] {
    line-height: 1;
    overflow: hidden;
}

[data-accordion]:nth-child(odd) > [data-control] {
    background: #ededed;
}

[data-control],
[data-content] > * {}

[data-control] {
    height: 85px;
    font-size: 30px;
    font-weight: bold;
    color: $magenta;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

[data-control] span {
    width: 100%;
}

#content [data-control] .font_black {
    font-weight: normal;
}

[data-content] [data-accordion] {
    border: 0;
    padding: 0;
}

[data-content] .col-group {
    height: 76px;
}

[data-content] .col-group:nth-child(odd) {
    background: #fafafa;
}

[data-content] .col-group .grid-g__col_6 {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 22px;
}

[data-content] .col-group .grid-g__col_6:nth-child(1) {
    border-right: 1px solid #c7c7c7;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
}

[data-content] .table-price-big {
    width: 100%;
}

[data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
}

[data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    padding-top: 43px;
    top: 12px;
    font-size: 25px;
    font-weight: 200;
    color: #444;
    height: 15px;
    width: 24px;
    background: url('../img/down-white.png') center center no-repeat;
}

[data-accordion] > [data-control].grey-ico:after {
    background: url('../img/down-grey.png') center center no-repeat;
}

[data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

[data-accordion] {
    display: none;
}

@media screen and (max-width: 600px) {
    [data-accordion] {
        display: block;
    }
    #content [data-content] .grid-g__col_6 {
        width: 48.93617%;
    }
}

@media screen and (max-width: 360px) {
    [data-content] .col-group .grid-g__col_6 {
        font-size: 18px;
    }
}