<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="row row-eq-height">
            <div class="col-md-6 col-sm-12 bg-grey infocol">
                <h1>Ďakujeme.<br>Formulár bol úspešne odoslaný.</h1>
                <p><b>Budeme vás kontaktovať</b> ohľadom upresnenia a potvrdenia objednávky na telefónnom čísle, ktoré ste uviedli.</p>
                <div class="stepper">
                    <div class="line">&nbsp;</div>
                    <img class="done-icon" src="../assets/img/done-small.png" alt="done-icon">
                    <img class="deliveryhome-icon" src="../assets/img/home.png" alt="deliveryhome-icon">
                    <img class="phone-icon" src="../assets/img/phone.png" alt="phone-icon">
                </div>
                <a href="https://www.telekom.sk" class="btn btn_mag-outline btnback">PREJSŤ NA DOMOVSKÚ STRÁNKU</a>
            </div>
            <div class="col-md-2 col-sm-12 bg-lightgrey emptycol">
                <!-- blank -->
            </div>
            <div class="col-md-2 col-sm-12 bg-softgrey emptycol">
                <!-- blank -->
            </div>
            <div class="col-md-2 col-sm-12 bg-magenta donecol">
                <img src="../assets/img/done.png" alt="">
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>


