<div ng-app="roamingZonesModule">
    <section id="roaming-filter" ng-controller="mainCtrl as vm" ng-cloak>
        <div class="fixed-column">
            <!-- Filters -->
            <div class="col-group roaming__group">
                <h2>Dynamic JSON filter example: </h2>
                <div class="grid-g__col_6">
                    <div class="btn-group">
                        <ul class="button-group round toggle" data-toggle="buttons-radio">
                            <li>
                                <input type="radio" id="r1" name="r-group" ng-model="vm.catSort" data-toggle="button" value="happy" checked>
                                <label class="button" for="r1">Happy roaming</label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="r-group" ng-model="vm.catSort" data-toggle="button" value="euro">
                                <label class="button" for="r2">Euro roaming</label>
                            </li>
                            <li>
                                <input type="radio" id="r3" name="r-group" ng-model="vm.catSort" data-toggle="button" value="easy">
                                <label class="button" for="r3">Easy roaming</label>
                            </li>
                            <li>
                                <input type="radio" id="r4" name="r-group" ng-model="vm.catSort" data-toggle="button" value="travelSurf">
                                <label class="button" for="r4">Internet v zahraničí
                                    <br> Travel &amp; Surf
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="grid-g__col_6">
                    <div class="zone-group">
                        <ul class="button-group round toggle" data-toggle="buttons-radio">
                            <li>
                                <input type="radio" id="radio0" name="radios" value="Zóna 0" ng-model="vm.zoneSort" checked>
                                <label class="button" for="radio0">Zóna 0</label>
                            </li>
                            <li>
                                <input type="radio" id="radio1" name="radios" value="Zóna 1" ng-model="vm.zoneSort">
                                <label class="button" for="radio1">Zóna 1</label>
                            </li>
                            <li>
                                <input type="radio" id="radio2" name="radios" value="Zóna 2" ng-model="vm.zoneSort">
                                <label class="button" for="radio2">Zóna 2</label>
                            </li>
                            <li>
                                <input type="radio" id="radio3" name="radios" value="Zóna 3" ng-model="vm.zoneSort">
                                <label class="button" for="radio3">Zóna 3</label>
                            </li>
                            <li>
                                <input type="radio" id="radio4" name="radios" value="Zóna 4" ng-model="vm.zoneSort">
                                <label class="button" for="radio4">Zóna 4</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- RESULT -->
            <div class="col-group roaming__group">
                <div class="grid-g__col_12">
                    <b>{{vm.catSort}} | {{vm.zoneSort}} :</b>
                </div>
                <p>{{vm.test}}</p>
                <div class="grid-g__col_6" ng-repeat="v in vm.filterTags(vm.catSort,vm.zoneSort)">
                    <!--   {{vm.countryName}} -->
                </div>
            </div>
            <hr>
            <h2>Static JSON filter example: </h2>
            <div class="col-group roaming__group">
                <a href="#" onclick="$('#happy').toggle('slow');return false;">Happy roaming >> </a>
                <br>
                <div id="happy" class="grid-g__col_12 content_hidden">
                    <div ng-if="vm.finalObj.zona0[0].happy"><b>Zona 0 :</b>
                        <p>{{vm.finalObj.zona0[0].happy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona1[0].happy"><b>Zona 1 :</b>
                        <p>{{vm.finalObj.zona1[0].happy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona2[0].happy"><b>Zona 2 :</b>
                        <p>{{vm.finalObj.zona2[0].happy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona3[0].happy"><b>Zona 3 :</b>
                        <p>{{vm.finalObj.zona3[0].happy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona4[0].happy"><b>Zona 4 :</b>
                        <p>{{vm.finalObj.zona4[0].happy}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-group roaming__group">
                <a href="#" onclick="$('#euro').toggle('slow');return false;">Euro roaming >> </a>
                <br>
                <div id="euro" class="grid-g__col_12 content_hidden">
                    <div ng-if="vm.finalObj.zona0[0].euro"><b>Zona 0 :</b>
                        <p>{{vm.finalObj.zona0[0].euro}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona1[0].euro"><b>Zona 1 :</b>
                        <p>{{vm.finalObj.zona1[0].euro}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona2[0].euro"><b>Zona 2 :</b>
                        <p>{{vm.finalObj.zona2[0].euro}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona3[0].euro"><b>Zona 3 :</b>
                        <p>{{vm.finalObj.zona3[0].euro}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona4[0].euro"><b>Zona 4 :</b>
                        <p>{{vm.finalObj.zona4[0].euro}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-group roaming__group">
                <a href="#" onclick="$('#easy').toggle('slow');return false;">Easy roaming >> </a>
                <br>
                <div id="easy" class="grid-g__col_12 content_hidden">
                    <div ng-if="vm.finalObj.zona0[0].easy"><b>Zona 0 :</b>
                        <p>{{vm.finalObj.zona0[0].easy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona1[0].easy"><b>Zona 1 :</b>
                        <p>{{vm.finalObj.zona1[0].easy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona2[0].easy"><b>Zona 2 :</b>
                        <p>{{vm.finalObj.zona2[0].easy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona3[0].easy"><b>Zona 3 :</b>
                        <p>{{vm.finalObj.zona3[0].easy}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona4[0].easy"><b>Zona 4 :</b>
                        <p>{{vm.finalObj.zona4[0].easy}}</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="col-group roaming__group">
                <a href="#" onclick="$('#travelSurf').toggle('slow');return false;">Internet v zahraničí Travel &amp; Surf >> </a>
                <br>
                <div id="travelSurf" class="grid-g__col_12 content_hidden">
                    <div ng-if="vm.finalObj.zona0[0].travelSurf"><b>Zona 0 :</b>
                        <p>{{vm.finalObj.zona0[0].travelSurf}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona1[0].travelSurf"><b>Zona 1 :</b>
                        <p>{{vm.finalObj.zona1[0].travelSurf}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona2[0].travelSurf"><b>Zona 2 :</b>
                        <p>{{vm.finalObj.zona2[0].travelSurf}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona3[0].travelSurf"><b>Zona 3 :</b>
                        <p>{{vm.finalObj.zona3[0].travelSurf}}</p>
                    </div>
                    <div ng-if="vm.finalObj.zona4[0].travelSurf"><b>Zona 4 :</b>
                        <p>{{vm.finalObj.zona4[0].travelSurf}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="../assets/js/angular.min.js"></script>
<script type="text/javascript" src="../assets/js/controllers.js"></script>
<script type="text/javascript">
$(function() {
// 2547626
});
</script>
