/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

.section {
    padding: 45px 0 100px 0;
}
#content .section__title {
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
}

/* HERO */

#hero {
    background: url(../img/bg-kv.jpg) no-repeat 50% 50%;
    height: 268px;
    padding: 60px 2%;
}
#content .hero__title {
    color: $magenta;
    font-size: 2.8em;
}
#content .hero__sub-title {
    color: $black;
    font-size: 1.7em;
    font-weight: 900;
    border: 0;
    margin: 0;
    padding: 0;
}
#content .hero__desc {
    color: #000;
    line-height: 1.2em;
    font-size: 1.2em;
    width: 60%;
}
@media screen and (max-width: 800px) {
    #hero {
        font-size: 80%;
    }
    #content .hero__sub-title {
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    #hero {
        font-size: 74%;
        padding-top: 20px;
    }
    #content .hero__sub-title {
        width: 100%;
    }
    #content .hero__desc {
        width: 100%;
    }
}

/* TABS */

.tab__holder {
    text-align: center;
    line-height: 0;
    margin-bottom: -1px;
}
#content .tabs-menu,
#content .tabs-menu-2 {
    height: 40px;
    clear: both;
    margin: 0;
    display: inline-block;
}
.tabs-menu li,
.tabs-menu-2 li {
    height: 40px;
    line-height: 40px;
    float: left;
    background-color: #ededed;
    border: 1px solid $black;
    border-top: 0;
    border-right: 0;
}
.tabs-menu li:last-of-type,
.tabs-menu-2 li:last-of-type {
    border-right: 1px solid $black;
}
.tabs-menu li.current,
.tabs-menu-2 li.current {
    position: relative;
    background-color: #f9f7f7;
    border-top: 1px solid #f9f7f7;
    border-bottom: 1px solid #f9f7f7;
    z-index: 5;
}
.tabs-menu-2 li.current {
    background-color: #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.tabs-menu li a,
.tabs-menu-2 li a {
    font-size: 1.2em;
    padding: 0 70px;
    text-transform: uppercase;
    color: $black;
    text-decoration: none;
}
.tabs-menu li a:hover,
.tabs-menu-2 li a:hover {
    color: $magenta;
}
.tabs-menu .current a,
.tabs-menu-2 .current a {
    color: $magenta;
}
.tab {
    border-top: 1px solid $black;
    width: 100%;
}
.tab__variant {
    display: none;
}
.tab__variant.selected {
    display: block;
}
.tab-content,
.tab-content-2 {
    margin-top: 65px;
    display: none;
}
#tab-2,
#tab-3,
#tab-6 {
    display: block;
}
@media screen and (max-width: 946px) {
    #content .tabs-menu-2 {
        width: 100%;
    }
    .tabs-menu-2 li {
        width: 33.33333333333333%;
    }
    .tabs-menu-2 li a {
        padding: 0;
        display: block;
    }
}
@media screen and (max-width: 580px) {
    .tabs-menu-2 li a {
        font-size: 1em;
    }
}
@media screen and (max-width: 520px) {
    #content .tabs-menu {
        width: 100%;
    }
    .tabs-menu li {
        width: 50%;
    }
    .tabs-menu-2 li {
        width: 33.33333333333333%;
    }
    .tabs-menu li a {
        padding: 0;
        display: block;
    }
}
@media screen and (max-width: 470px) {
    .tabs-menu-2 li a {
        font-size: 0.6em;
    }
}

/* SEC - 1 */

.sec-1 {
    background: #f9f7f7 url(../img/bg-sec1.jpg) bottom repeat-x;
}
#content .sec-1 .item {
    font-size: 1.01em;
    font-weight: bold;
}
.sec-1 .item:before {
    content: " ";
    background: url(../img/ico-pipe.png) no-repeat;
    width: 29px;
    display: inline-block;
    height: 21px;
    margin-right: 5px;
    vertical-align: sub;
}
.sec-1 .item__cross:before {
    background: url(../img/ico-cross.png) no-repeat;
}
.sec-1 .item__cross {
    color: #c4c3c3;
}
#content .sec-1 .right {
    float: right;
}
#content .two-lined-btn {
    font-size: 18px;
    line-height: 20px;
    padding: 5px 45px;
    margin-top: 20px;
    height: initial;
}
@media screen and (max-width: 520px) {
    #content .sec-1 .grid-g__col_6 {
        width: 100%;
    }
}

/* SEC - 2 */

.pricing__item {
    background: #e5e5e5;
    padding: 10px;
    text-align: center;
    border: 1px solid #e5e5e5;
    width: 60%;
    min-width: 246px;
    margin: 0 auto;
}
#content .pricing__item__title {
    font-size: 1.3em;
    font-weight: bold;
}
#content .pricing__item__subtitle {
    font-size: 1.01em;
}
#content .pricing__item__speed {
    font-size: 1.9em;
    font-weight: 900;
    color: $magenta;
}
#content .pricing__item__price {
    font-size: 1.1em;
    font-weight: 900;
}
.pricing__item__additional__services {
    border: 1px solid #c9c9c9;
    background: #fff;
    margin: 0 4% 15px 4%;
    padding: 10px 12px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
#content .additional__service {
    border-top: 1px solid #c9c9c9;
    margin: 0;
    padding-top: 15px;
    font-size: 1.01em;
}
#content .aditional__services__title {
    font-size: 1.2em;
    margin-bottom: 0;
}
#content .additional__btn {
    padding-bottom: 15px;
}
.adress__check__holder {
    text-align: center;
}
#content .adress__check {
    font-size: 1.1em;
    color: #007faf;
    text-decoration: underline;
    margin-top: 25px;
    display: inline-block;
}
#content .optional__acc {
    text-align: center;
}
#content .optional__acc__title {
    font-size: 1.6em;
    color: $magenta;
    margin-top: 60px;
}
.optional__acc__wrapper {
    background-color: #e5e5e5;
    padding: 15px;
    max-width: 750px;
    margin: 0 auto;
}
.oa__inner {
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 15px 25px 15px;
}
.oa__table {
    display: none;
}
.oa__table.selected {
    display: table;
}
#content .oa__table {
    width: 100%;
    margin: 0;
    text-align: left;
}
#content .oa__table td {
    font-size: 1.1em;
    padding: 20px 0 5px 0;
}
#content .oa__table tr {
    border-bottom: 1px solid #c9c9c9;
}
#content .sec-2 .grid-g__col_4 {
    width: 33.3%;
}
@media screen and (max-width: 950px) {
    #content .sec-2 .grid-g__col_4 {
        width: 100%;
    }
    #content .sec-2 .grid-g__col_4:nth-of-type(2) {
        margin: 15px 0;
    }
}
@media screen and (max-width: 580px) {
    .optional__acc {
        width: 98%;
    }
    .sec-2 .fixed-column {
        width: 100%;
        padding: 0;
    }
    .pricing__item {
        font-size: 70%;
        width: 95%;
        min-width: 140px;
        margin: 0 auto;
    }
    #content .oa__table td {
        font-size: 0.9em;
    }
}

/* SEC - 3 */

.sec-3 {
    background: url(../img/bg-form.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}
.sec-3.section {
    padding: 20px 0 0 0;
}
.sec__type b {
    color: $magenta;
}
#content .sec-3 .section__title {
    color: $white;
    margin: 0 auto;
    width: 60%;
}
#content .sec-3 .section__sub-title {
    color: $white;
    font-size: 1.2em;
}
@media screen and (max-width: 580px) {
    #content .sec-3 {
        font-size: 80%;
    }
}

/* SEC - 4 */

.sec-4 {
    background: #ededed;
    padding: 20px 0;
}
.gift__holder {
    width: 76%;
    margin: 0 auto;
}
.gift__img {
    float: left;
    width: 20%;
    max-width: 107px;
}
#content .magenta {
    color: $magenta;
}
#content .gift__text {
    float: right;
    font-size: 1.8em;
    width: 79%;
    text-align: center;
}
@media screen and (max-width: 680px) {
    #content .gift__holder {
        width: 100%;
        font-size: 80%;
    }
}

/* SEC - 5 */

.sec-5 {
    background: #f5f5f5;
    padding: 20px 0;
    text-align: center;
}
#content .promo__head {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 500;
}
#content .promo__detail {
    font-size: 1.2em;
}
#content .promo__detail a {
    text-decoration: underline;
    color: $magenta;
}
@media screen and (max-width: 680px) {
    .sec-5 {
        font-size: 80%;
    }
}

/* FORM */

#content .waterbear-theme input[type="submit"],
#content .waterbear-theme input[type="submit"]:hover,
#content .waterbear-theme input[type="submit"]:active,
#content .waterbear-theme input[type="submit"]:focus {
    color: #fff !important;
    background: #6bb324 !important;
    border: 1px solid #6bb324 !important;
}
li.dynamicFormItemBox {
    background-color: transparent;
}
.availableFields,
.availableRootFields,
.dynamicFormFields,
.dynamicFormSubFields {
    border: none;
}
.journal-content-article ul {
    list-style: none;
}
.formComposition label.labelField {
    display: block;
    word-wrap: break-word;
    min-width: 270px;
    text-align: center;
    max-width: 360px;
    line-height: 1;
    vertical-align: top;
}
.page label {
    font-size: 16px;
    color: #fff;
}
.availableFields li,
.availableRootFields li,
.dynamicFormFields li {
    padding: 0;
}
.journal-content-article ul:not(.accordion):not(.content-menu):not(.content-sub-menu):not(.tabs-navi):not(.list-arrow):not(.list-square):not(.toolbox-list) {
    margin: 0;
}
.waterbear-theme input[type="submit"] {
    max-width: 150px!important;
}
.dynamicFormPages {
    display: none;
}
.formCompositionRender .dynamicFormPages .nextPageButtonSpan {
    display: inline;
    width: 100%;
    text-align: left;
}
.formCompositionRender .formFieldValidationResult .error {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
#content #form-holder {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 400px;
    float: none;
}
#content #form-holder h2,
#content #form-holder h4 {
    display: none;
}
.page label {
    font-size: 15px;
}
.formFieldRenderField.inputRenderField {
    text-align: left;
}
.defaultValueField.submitField {
    margin-right: 90px;
}

.form-msg > span {
    float: left;
    min-width: 271px;
    padding: 0;
}