<div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-26">
                        <strong>Magio Televízia M</strong></h3>
                    <p>
                        V našom pestrom balíčku programov je všetko, na čo si spomeniete. Filmy, šport, dokumenty, hudba alebo program pre vašich najmladších členov domácnosti.
                        <br />
                        <strong>Stačí si len vybrať, pohodlne sa usadiť a sledovať.</strong></p>
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-48">10,00 €</strong>
                        <br /> mesačne pri viazanosti na 24 mesiacov</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_M_SAT">
                        &nbsp;</div>
                </div>
            </div>
            <div class="c-block-row">
                <div class="c-md-10">
                    <p class="font-size-12">
                        * TV kanály voľne dostupné na satelite, nemajú&nbsp;<span style="font-family: TeleGrotesk, Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; line-height: 22.5px;">garantovaný&nbsp;</span>príjem signálu :&nbsp;Credo TV, TV Sonce, CCTV9 documentary, uTV, Inedit TV, Aljazeera english, CCTV News, Publika, RTV</p>
                    <p class="font-size-12">
                        ** TV kanály vysielané v testovacej prevádzke ,príjem signálu nie je garantovaný:&nbsp;Prima Family, Prima Cool, Nova, Nova Cinema</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white margin-top-30">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-26">
                        <strong>Magio Televízia L</strong></h3>
                    <p>
                        <strong>Pre ešte viac zábavy, športových zážitkov a filmových hrdinov rovno u vás doma</strong> je tento balíček ako stvorený. Zabudnite na starosti a aspoň na chvíľu sa zrelaxujte pri tom najlepšom programe, ktorý sme vám v balíčku nachystali.</p>
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-48">15,00 €</strong>
                        <br /> mesačne pri viazanosti na 24 mesiacov</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="ZAKLADNY_L_SAT">
                        &nbsp;</div>
                </div>
            </div>
            <p>
                Magio Televízia L obsahuje aj programy Magio Televízie M.</p>
            <p>
                &nbsp;</p>
        </div>
    </div>
</div>
<div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white margin-top-30">
            <div class="c-block-row">
                <div class="c-md-5" style="width:425px;">
                    <h3 class="font-size-26">
                        <strong>Magio Televízia XL</strong></h3>
                    <p>
                        &nbsp;&nbsp;&nbsp;</p>
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-48">20,00 €</strong>
                        <br /> mesačne pri viazanosti na 24 mesiacov</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="MAGIO_SAT_XL">
                        &nbsp;</div>
                </div>
            </div>
            <p>
                Magio Televízia XL obsahuje aj programy Magio Televízie M a L.</p>
            <p>
                &nbsp;</p>
        </div>
    </div>
</div>
<div class="c-row empty-row">
    &nbsp;</div>
<!-- Prémiové balíčky -->
<div class="c-row">
    <div class="c-content">
        <div>
            <h2>
                Prémiové balíčky</h2>
        </div>
    </div>
</div>
<!-- hbo + cinemax + hbo go -->
<div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-18">
                        <strong>HBO + Cinemax + HBO GO</strong></h3>
                    <p>
                        Filmové novinky a trháky, najsledovanejšie seriály, hodiny a hodiny zábavy. To a ešte viac vám ponúkame s naším prémiovým balíčkom. Sledujte HBO kdekoľvek vďaka <a href="https://www.telekom.sk/televizia/hbo-go">internetovej televízii HBO GO</a>..</p>
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-32">0 € / 9,99 €</strong>
                        <br /> 2 mesiace 0 €, potom 9,99 € mesačne viazanosť 12 mesiacov
                        <br />
                        <strong class="font-size-32">9,99 €</strong>
                        <br /> mesačne bez viazanosti</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="HBO_CINEMAX_L_SAT">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white margin-top-0">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-18">
                        <strong>Maďarský</strong></h3>
                    <p>
                        Vždy vám na vašom televíznom prijímači chýbali maďarské programy? S prémiovým balíčkom je to už minulosťou a vy si môžete vychutnať to najlepšie, čo vám maďarská televízia ponúka.</p>
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-32">1,39 €</strong><br />
                        mesačne pri viazanosti na 6 mesiacov<br />
                        <strong class="font-size-32">1,99 €</strong><br />
                        mesačne bez viazanosti</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY_L_SAT">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div -->
<!-- maďarský extra -->
<div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white margin-top-0">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-18">
                        <strong>Maďarský Extra</strong></h3>
                    <p>
                        Vždy vám na vašom televíznom prijímači chýbali maďarské programy? S prémiovým balíčkom je to už minulosťou a vy si môžete vychutnať to najlepšie, čo vám maďarská televízia ponúka.</p>
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-32">2,99 €</strong>
                        <br /> mesačne pri viazanosti na 6 mesiacov
                        <br />
                        <strong class="font-size-32">3,49 €</strong>
                        <br /> mesačne bez viazanosti</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="MADARSKY_EXTRA">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- hd balíček -->
<div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white margin-top-0">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-18">
                        <strong>HD balíček</strong></h3>
                    <p>
                        Pre reálne zážitky ako na štadióne už nemusíte cestovať stovky, ba tisíce kilometrov. To najpodstatnejšie sa totižto odohráva rovno vo vašej obývačke. K tomu vám pribalíme dokumenty a hudbu – to všetko v najlepšej kvalite.</p>
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-32">2,79 €</strong>
                        <br /> mesačne pri viazanosti na 6 mesiacov
                        <br />
                        <strong class="font-size-32">3,99 €</strong>
                        <br /> mesačne bez viazanosti</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="HD_RODINNY_L_SAT">
                        &nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Magio TV Archív -->
<div class="c-row">
    <div class="c-content">
        <div>
            <h2> Magio TV Archív</h2> </div>
    </div>
</div>
<!-- Archív S -->
<div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white margin-top-0">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-18">
                        <strong>Archív S</strong></h3>
                    <p style="width: 440px">&nbsp; </p> 
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-32">0 €</strong>
                        <br /> prvé tri mesiace
                        <br />
                        <strong class="font-size-32">1,99 €</strong>
                        <br /> od štvrtého mesiaca</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_S">
                        &nbsp;</div>
                </div>
            </div>
            <p>&nbsp;</p>
            <!-- Archív M-->
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-18">
                        <strong>Archív M</strong></h3>
                    <p style="width: 440px">&nbsp; </p> 
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-32">0 €</strong>
                        <br /> prvé tri mesiace
                        <br />
                        <strong class="font-size-32">3,98 €</strong>
                        <br /> od štvrtého mesiaca</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_M"> &nbsp;</div> 
                </div> 
            </div>
            <div class="c-block-row">
            <p class="disclaimer">Poznámka: Služba Magio Sat Archív je určená pre zákazníkov služieb L,XL a vyžaduje internetové pripojenie s minimálnou rýchlosťou 3 Mbps a set-top-box, ktorý umožňuje prepojenie Magio Sat prostredníctvom ethernetového kábla s vašim routerom. Na využitie doplnkovej služby Magio Sat archív je možné prenajať si set-top-box Kaon PVR.</p>
            </div>
        </div>
    </div>
</div>
<!-- Archív M-->
<!-- <div class="c-row">
    <div class="c-content">
        <div class="c-block bg-white margin-top-0">
            <div class="c-block-row">
                <div class="c-md-5">
                    <h3 class="font-size-18">
                        <strong>Archív M</strong></h3>
                    <p style="width: 440px">&nbsp; </p> 
                </div>
                <div class="c-md-5 align-right align-md-left">
                    <p class="color-magneta">
                        <strong class="font-size-32">0 €</strong>
                        <br /> prvé tri mesiace
                        <br />
                        <strong class="font-size-32">3,98 €</strong>
                        <br /> od štvrtého mesiaca</p>
                </div>
            </div>
            <div class="c-block-row margin-top-30">
                <div class="c-md-10">
                    <div class="tvPackageCodebook" data-tvpackagecodebook="IPTV_ARCHIV_M"> &nbsp;</div> 
                </div> 
            </div>
        </div>
    </div>
</div> -->


<p>&nbsp;</p>
<div id="cmb__holder">&nbsp;</div>
