<section id="hero">
  <div class="container-fixed">
    <div class="hero__content">
      <h1 class="hero__title">
        <!-- DOKONALÝ PÁR?<br />
                <strong>MAGIO INTERNET + <br />MAGIO TELEVÍZIA</strong> -->
      </h1>
      <h2 class="hero__subtitle">
        <!-- Užívajte si spoločnosť dokonalej dvojice, ktorá nepokazí žiadnu zábavu. -->
      </h2>
      <a class="hero__link"><!-- Viac info o ponuke --></a>
    </div>
    <img class="ec" src="" />
  </div>
</section>

<div id="nav-sticky">
  <ul>
    <li><a class="scroll-to" href="#chytry-balik">CHYTRÝ BALÍK</a></li>
    <li>
      <a class="scroll-to" href="#oblubene-kombinacie-sluzieb"
        >OBĽÚBENÉ KOMBINÁCIE SLUŽIEB</a
      >
    </li>
    <li>
      <a class="scroll-to" href="#vyhody-magenta-1">VÝHODY MAGENTA 1</a>
    </li>
  </ul>
</div>

<section id="sec-1" class="section chytry-balik">
  <div class="container-fixed c-i-t cit-left">
    <div class="cit-content cit-940">
      <div class="cit-940-content">
        <h2 class="title">
          Byť v balíku sa oplatí<br />Magio internet + televízia
        </h2>
        <p>
          Užívajte si super rýchle spojenie so svetom a televíziu pre malých či
          veľkých, pre milovníkov športu, filmov alebo dokumentov.
          <strong
            >Nakombinujte si Magio internet a Magio televíziu v&nbsp;Chytrom
            balíku</strong
          >
          a&nbsp;prineste radosť celej rodine, navyše za výhodnú cenu.
        </p>
        <p>
          <strong
            >Vyskladajte si svoj vlastný balík podľa potreby a&nbsp;využite našu
            Chytrú kalkulačku, aby ste videli koľko ušetríte.</strong
          >
        </p>
        <a
          href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
          class="btn cta_mag"
          target="_blank"
          >VYSKLADAŤ SVOJ BALÍK</a
        >
        <div class="example">
          <p>Môžete si vziať napríklad:</p>
          <div class="content">
            <div class="item">
              <div class="top img">
                <img src="../assets/img/chytry_balik_ex_1.jpg" />
              </div>
              <p>Magio internet L</p>
            </div>
            <div class="item mark">
              <div class="top">+</div>
            </div>
            <div class="item">
              <div class="top img">
                <img src="../assets/img/chytry_balik_ex_2.jpg" />
              </div>
              <p>Magio televízia L</p>
            </div>
            <div class="item mark">
              <div class="top">=</div>
            </div>
            <div class="item price">
              <img src="../assets/img/ecc.png" alt="" class="ecc" />
              <div class="top">
                <h2>25,20 €</h2>
                <p class="old-price">31,80 €</p>
              </div>
              <p>Mesačne</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cit-img"><!-- img --></div>
  </div>
</section>

<section id="sec-2" class="section">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <span class="label color-dark"
          >Magio televízia – hodnotenie zákazníka</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 push-md-7 col-xs-12 flex">
        <img src="../assets/img/portrait_1.png" />
        <div>
          <p class="title">Zuzana H.</p>
          <p>Máj 2020</p>
        </div>
      </div>
      <div class="col-md-7 pull-md-5 col-xs-12">
        <p class="title">
          “Najviac sa mi páčili voľné trial verzie na balíky programov,
        </p>
        <p>
          ktoré neboli súčasťou nášho predplateného balíka programov a tak sme
          mali možnosť zistiť, či daný program bude u nás v domácnosti sledovaný
          alebo nie.”
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sec-5" class="section oblubene-kombinacie-sluzieb">
  <div class="container-fixed">
    <div class="row title">
      <h2>
        Mať všetko pod jednou strechou sa oplatí!
        <br />
        Pridajte k svojmu paušálu aj Magio internet a TV za zvýhodnenú cenu!
      </h2>
      <p>
        Vyberte si z najobľúbenejších kombinácií Magio internetu a TV. Starosti
        s vybavením objednávky nechajte na nás. Navyše, so službami môžete
        založiť skupinu
        <strong
          >Magenta 1, v ktorej získate viac dát v paušále a množstvo ďalších
          výhod</strong
        >.
      </p>
      <a href="#vyhody-magenta-1" class="scroll-to"
        >Pozrieť výhody skupiny Magenta 1</a
      >
    </div>
    <div class="row">
      <div class="services">
        <div class="item">
          <h3>PRE NÁROČNÝCH</h3>
          <div class="cont-img">
            <img src="../assets/img/pre-narocnych.jpg" />
          </div>
          <div class="s-row">
            <p class="title">rýchlosť 600 Mbit/s</p>
            <p>s optickým Magio internetom XL</p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Sťahovanie súborov do pár sekúnd
            </p>
          </div>
          <div class="s-row-border">
            <p class="title">88 TV kanálov</p>
            <p>s Magio televíziou L</p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Extra kanály BBC Earth, Ťuki TV, Digi&nbsp;Sport a iné
            </p>
          </div>
          <div class="s-row-border">
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              TV kanály dostupné aj v angličtine
            </p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Kvalitné a stabilné pripojenie pre 6&nbsp;-&nbsp;8&nbsp;členov
              domácnosti
            </p>
          </div>
          <div class="s-row">
            <p class="price">
              <span class="old-price">36,79 €</span>
              <strong>29,18 €</strong>
            </p>
            <p class="gray">mesačne za balík</p>
          </div>
          <a
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=XL&televizia=L"
            class="btn cta"
            target="_blank"
            >MÁM ZÁUJEM</a
          >
        </div>

        <div class="item magenta">
          <div class="magenta-header">
            <span>Najobľúbenejšia kombinácia</span>
          </div>
          <h3>PRE POHODOVÝCH</h3>
          <div class="cont-img">
            <img src="../assets/img/pre-pohodovych.jpg" />
          </div>
          <div class="s-row">
            <p class="title">rýchlosť 250 Mbit/s</p>
            <p>s optickým Magio internetom L</p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Načítanie videí či hudby do pár sekúnd
            </p>
          </div>
          <div class="s-row-border">
            <p class="title">88 TV kanálov</p>
            <p>s Magio televíziou L</p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Extra kanály BBC Earth, Ťuki TV, Digi&nbsp;Sport a iné
            </p>
          </div>
          <div class="s-row-border">
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              TV kanály dostupné aj v angličtine
            </p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Kvalitné a stabilné pripojenie aj pre viacčlenné domácnosti
            </p>
          </div>
          <div class="s-row">
            <p class="price">
              <span class="old-price">31,80 €</span>
              <strong>25,20 €</strong>
            </p>
            <p class="gray">mesačne za balík</p>
          </div>
          <a
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=L&televizia=L"
            class="btn cta"
            target="_blank"
            >MÁM ZÁUJEM</a
          >
        </div>

        <div class="item">
          <h3>PRE ROZVÁŽNYCH</h3>
          <div class="cont-img">
            <img src="../assets/img/pre-rozvaznych.jpg" />
          </div>
          <div class="s-row">
            <p class="title">rýchlosť 30 Mbit/s</p>
            <p>s optickým Magio internetom M</p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Spoľahlivé surfovanie
            </p>
          </div>
          <div class="s-row-border">
            <p class="title">61 TV kanálov</p>
            <p>s Magio televíziou M</p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              HD kvalita ako štandard<br />&nbsp;
            </p>
          </div>
          <div class="s-row-border">
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              TV kanály dostupné aj v angličtine
            </p>
            <p class="gray">
              <i class="fa fa-check" aria-hidden="true"></i>
              Kvalitné a stabilné pripojenie pre 2&nbsp;-&nbsp;3&nbsp;členov
              domácnosti
            </p>
          </div>
          <div class="s-row">
            <p class="price">
              <span class="old-price">21,80 €</span>
              <strong>19,20 €</strong>
            </p>
            <p class="gray">mesačne za balík</p>
          </div>
          <a
            href="/fix/objednavka/-/scenario/e-shop/chytry-balik?internet=M&televizia=M"
            class="btn cta"
            target="_blank"
            >MÁM ZÁUJEM</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<section id="sec-4" class="section">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <span class="label color-black">Magenta 1 – hodnotenie zákazníka</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 push-md-7 col-xs-12 flex">
        <img src="../assets/img/portrait_2.png" />
        <div>
          <p class="title">Juraj K.</p>
          <p>Jún 2020</p>
        </div>
      </div>
      <div class="col-md-7 pull-md-5 col-xs-12">
        <p class="title">
          “Ponúkli mi kvalitný produkt, vysvetlili podrobne všetko a prišli to
          urobiť v&nbsp;presne dohodnutý termín.”
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sec-3" class="section vyhody-magenta-1">
  <div class="container-fixed">
    <div class="row">
      <h2 class="text-center">Objavte výhody Magenta 1</h2>
      <div id="vyhody_slider" class="slider">
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_1.png" />
          </div>
          <p><b>Viac dát a volaní</b></p>
          <p>
            V skupine Magenta&nbsp;1 môžu všetky T&nbsp;paušály a paušály ÁNO
            získať ešte viac dát a volaní.
          </p>
          <a href="#viac-dat-a-volani" class="scroll-to"
            >Koľko dát a volaní získam?</a
          >
        </div>
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_2.png" />
          </div>
          <p><b>Darovanie dát svojim blízkym</b></p>
          <p>
            Podeľte sa s blízkymi o dáta, ktoré máte navyše v skupine
            Magenta&nbsp;1 k T&nbsp;paušálu alebo paušálu ÁNO.
          </p>
          <a href="#podelte-sa-o-data" class="scroll-to">Viac o darovaní dát</a>
        </div>
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_11.png" />
            <img class="ec" src="../assets/img/ec_novinka.png" />
          </div>
          <p><b>TV archív</b></p>
          <p>
            S TV archívom zadarmo k&nbsp;vašej Magio televízii vám už neujde
            žiadny obľúbený program.
          </p>
          <a href="/magenta-1/tv-archiv-benefit ">Viac o TV archíve</a>
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_5.png" />
          </div>
          <p><b>Volania, SMS a MMS navzájom zadarmo</b></p>
          <p>
            pre všetkých členov skupiny s paušálmi, programom Bez záväzkov alebo
            predplatnou kartou s programom Predplatenka a Easy.
          </p>
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_4.png" />
          </div>
          <p><b>Automatický prenos dát</b></p>
          <p>
            Dáta v T a ÁNO paušáloch, ktoré neminiete v príslušnom zúčtovacom
            období, vám automaticky a bezplatne prenesieme do ďalšieho mesiaca.
          </p>
        </div>
        <div class="slider-item">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_3.png" />
          </div>
          <p><b>Smartfón za výhodnejšiu cenu</b></p>
          <p>
            Ako člen skupiny získate pri predĺžení alebo výbere nového paušálu
            extra zľavu na vybraný smartfón.
          </p>
          <a href="#novy-smartfon" class="scroll-to"
            >Pozrieť zvýhodnené smartfóny</a
          >
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_7.png" />
          </div>
          <p>
            <b
              >Internet v mobile zadarmo pri výpadku Magio internetu alebo TV</b
            >
          </p>
          <p>
            Pri výpadku Magio internetu alebo TV vám sprístupníme záložný
            neobmedzený internet v mobile zadarmo. Tak môžete naďalej
            neobmedzene surfovať ako aj bezstarostne využívať internetovú
            televíziu Magio Go.
            <span
              class="info"
              alt="V prípade výpadku Magio internetu alebo Magio TV nám zavolajte na bezplatnú non-stop linku 0800 123 777 a ak sa nám nepodarí poruchu okamžite odstrániť, na 48 hodín vám zadarmo poskytneme neobmedzený internet v mobile."
              >i</span
            >
          </p>
        </div>
        <div class="slider-item hide-mobil">
          <div class="cont-img">
            <img src="../assets/img/vyhodyM1_9.png" alt="" />
          </div>
          <p><b>Neobmedzené denné dáta so zľavou</b></p>
          <p>
            Balík za 2 € namiesto 3 €, je dostupný pre všetky T&nbsp;paušály,
            paušály ÁNO a Happy okrem Happy XS mini, XS a S.
          </p>
          <a href="https://telekomsk.page.link/Zhs6" target="_blank"
            >Aktivovať balík</a
          >
        </div>
      </div>
      <a href="#" class="btn btn_mag-outline all-benefits">Ďaľšie výhody</a>
    </div>
  </div>
</section>

<section id="sec-6" class="section">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <span class="label color-dark"
          >Magio televízia – hodnotenie zákazníka</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 push-md-7 col-xs-12 flex">
        <img src="../assets/img/portrait_3.png" />
        <div>
          <p class="title">Milan S.</p>
          <p>Januára 2020</p>
        </div>
      </div>
      <div class="col-md-7 pull-md-5 col-xs-12">
        <p class="title">
          “Vyhovujúci balík Magio, veľa športových prenosov a dokumentárnych
          kanálov, pre mňa maximálne vyhovujúce.”
        </p>
      </div>
    </div>
  </div>
</section>

<section id="sec-7" class="section balik-podla-predstav">
  <div class="container-fixed">
    <div class="row">
      <h2 class="text-center">
        Vyskladajte si Chytrý balík podľa svojich predstáv
      </h2>
      <div class="item col-md-5 offset-md-1">
        <div class="circle">%</div>
        <p>
          Vyskladajte si Chytrý balík cez web a&nbsp;získate
          <b>extra web zľavu až do 30&nbsp;€</b>.
        </p>
        <a href="/fix/objednavka/-/scenario/e-shop/chytry-balik" class="btn cta"
          >VYSKLADAŤ BALÍK</a
        >
        <div class="border"><!-- desc --></div>
      </div>
      <div class="item col-md-5">
        <img src="../assets/img/cmb.jpg" />
        <p>
          Potrebujete sa ešte poradiť?
          <b>Nechajte nám číslo, radi vám zavoláme späť</b>.
        </p>
        <a href="#" class="btn btn_outline show-cmb">KONTAKTUJTE MA</a>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="../assets/js/global_slick.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
