/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

#wrapper {
    background: #2b2219;
}

.section {
    padding: 50px 0;
}

#content .button {
    background: $lima;
    border-color: $lima;
    border-radius: 3px;
}


/* YOUTUBE PLAYER */

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* HERO */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    background-size: cover;
    min-height: 516px;
    max-height: 516px;
}

#hero .fixed-column {
    position: relative;
}

.nnu {
    position: absolute;
    left: 0;
    top: 70px;
}

.ftwd {
    position: absolute;
    right: 0;
    top: 70px;
}

#content .premier-title {
    color: #fff;
    text-align: right;
    position: absolute;
    margin: 0;
    top: 409px;
    right: 223px;
}

.amc-logo {
    position: absolute;
    right: 0;
    top: 400px;
}

@media screen and (max-width: 960px) {
    #hero {
        padding: 0 2%;
    }
}

@media screen and (max-width: 700px) {
    .ftwd {
        max-width: 206px;
    }
    .amc-logo {
        top: 350px;
        max-width: 80px;
    }
    #content .premier-title {
        right: 0;
        font-size: 32px;
    }
}

@media screen and (max-width: 430px) {
    .ftwd {
        top: 20px;
    }
    .nnu {
        display: none;
    }
    #content .premier-title {
        font-size: 28px;
        top: 350px;
    }
    .amc-logo {
        top: 300px;
    }
    #hero {
        min-height: 480px;
        max-height: 480px;
    }
}


/* SEC 1 */

#content .sec-1 p {
    margin: 0;
    font-size: 18px;
}

#content p.mp__title,
#content p.mvb__title,
#content p.offer__title {
    color: #ff0000;
    font-size: 24px;
    line-height: 25px;
}

#content p.p__title {
    font-size: 24px;
    line-height: 25px;
}

#content .p__title,
#content .p__time,
#content .mvb__sdesc,
#content .offer__desc {
    color: #d0d0d0;
}

#content .mp__time,
#content .mvb__desc,
#content .foot-notes {
    color: #fff;
}

#content .grid-g__col_4 {
    margin: 0 2%;
}

.main-premier {
    margin-bottom: 15px;
}

.offer {
    max-width: 570px;
    margin: 38px 0;
}

.gallery__holder {
    margin-bottom: 38px;
}

.site-footer {
    border-top: 1px #6c6c6c solid;
    padding-top: 28px;
}

.gal-img {
    margin-right: 1%;
    display: inline-block;
}

.gal-img:last-of-type {
    margin-right: 0;
}

.offer__btn {
    margin-top: 15px;
}

#content .site-footer .grid-g__col_3 {
    text-align: right;
    float: right;
}

@media screen and (max-width: 790px) {
    #content .grid-g__col_4 {
        margin: 0 0 0 4%;
        width: 60%;
    }
    #content .grid-g__col_2 {
        width: 36%;
    }
    #content .grid-g__col_6 {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #content .site-footer .grid-g__col_9,
    #content .site-footer .grid-g__col_3 {
        width: 100%;
    }
    #content .site-footer .grid-g__col_3 {
        text-align: center;
        margin-top: 15px;
    }
    .gal-img {
        margin-bottom: 10px;
    }
    .gal-img:last-of-type {
        margin-bottom: 0;
    }
    .gallery__holder {
        text-align: center;
    }
}

@media screen and (max-width: 440px) {
    #content .grid-g__col_4 {
        width: 100%;
        margin: 20px 0;
    }
    #content .grid-g__col_2 {
        width: 100%;
    }
}