<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">NAVIGÁCIA SYGIC</h1>
            <p class="hero__subtitle">VOUCHER EDITION PRE ANDROID</p>
            <a class="button button_lima scroll-to" href="#sec-2"><span>MÁM ZÁUJEM</span></a>
            <br />
            <a href="#sec-2" class="link link__more-info scroll-to">Viac info</a>
            <img src="../assets/img/ec.png" alt="" class="hero__ec">
        </div>
    </div>
</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li><a class="scroll-to" href="#sec-2">AKO ZÍSKAŤ NAVIGÁCIU</a></li>
        <li><a class="scroll-to" href="#sec-3">INŠTALÁCIA</a></li>
        <li><a class="scroll-to" href="#sec-4">ČASTO KLADENÉ OTÁZKY</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <h2 class="sec__title">HLAVNÉ VÝHODY SYGIC NAVIGÁCIE</h2>

        <div class="benefits__holder">
            <div class="ben__panel ben__left">
                <p class="ben">Dash kamera nahráva posledných 5 minút cesty.</p>
                <p class="ben">Možnosť výberu z troch alternatívnych trás.</p>
                <p class="ben">Pohľad na križovatku so zvýraznenými diaľničnými zjazdami.</p>
                <p class="ben">Dynamický asistent jazdných pruhov umožňujúci bezpečné preraďovanie sa v pruhoch.</p>
            </div>
            <div class="ben__panel ben__right">
                <p class="ben">Head-up Display (HUD) – pomôže pri ceste v noci.</p>
                <p class="ben">Vysokokvalitné, podrobné mapy celej Európy s hlasovými pokynmi.</p>
                <p class="ben">Fungovanie aj bez prístupu na internet.</p>
                <p class="ben">Zobrazenie prekročenej maximálnej povolenej rýchlosti.</p>
            </div>
        </div>
    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="fixed-column">
        <h2 class="sec__title">AKO ZÍSKAŤ SYGIC VOUCHER EDITION</h2>

        <div class="pricing__box">
            <div class="pb__head">
                <img src="../assets/img/logo.png" alt="">
                <p class="pb__title">NAVIGÁCIA SYGIC VOUCHER EDITION</p>
            </div>
            <div class="pb__body">
                <p>Navigácia je dostupná len pre zákazníkov, ktorí majú paušál Happy alebo program Bez záväzkov.</p>
                <p>1,49 € sa pripláca k paušálu Happy po dobu 12 mesiacov.</p>
                <p>Voucher aktivujete jeho zvolením počas nákupu paušálu Happy na webe.</p>
                <p>Po uplynutí 12 mesiacov platnosť vouchera končí.</p>
            </div>
            <div class="pb__footer">
                <p class="price">len 1,49 € / mesačne</p>
                <a class="button button_lima" href="/objednavka/-/scenario/e-shop/happy"><span>PREJSŤ NA HAPPY</span></a>
                <br />
                <a href="#sg-lightbox" class="link link_ul fancy">Už mám Happy alebo Bez záväzkov a<br />chcem si aktivovať Sygic</a>
            </div>
        </div>

    </div>
</section>

<section id="sec-3" class="section sec-3">
    <div class="fixed-column">
        <h2 class="sec__title">INŠTALÁCIA NAVIGÁCIE<br />SYGIC VOUCHER EDITION</h2>
        <div class="step-holder">
            <div class="step">
                <p class="step__number sn1">01</p>
                <p class="step__desc">Ako prvé otvorte Google Play na svojom smartfóne s OS Android.</p>
                <p class="step__tip">Náš tip: odporúčame použiť Wi-Fi</p>
                <a href="https://play.google.com/store/apps/details?id=com.sygic.aura_voucher&hl=en" target="_blank" class="gplay"><img src="../assets/img/ico-gplay.jpg" alt=""></a>
            </div>
            <div class="step">
                <p class="step__number sn2">02</p>
                <p class="step__desc">Vyhľadajte aplikáciu Sygic Voucher Edition a kliknite na button “Inštalovať”.</p>
            </div>
            <div class="step">
                <p class="step__number sn3">03</p>
                <p class="step__desc">Nainštalovanú aplikáciu Sygic Voucher Edition otvorte a vyberte možnosť “Aktivovať”.</p>
            </div>
            <div class="step">
                <p class="step__number sn4">04</p>
                <p class="step__desc">Pre aktivovanie svojej licencie zadajte produktový kód, ktorý vám bol doručený cez SMS a stiahnite si mapy, ktoré potrebujete.</p>
                <p class="step__wishes">Prajeme štastnú cestu!</p>
            </div>
        </div>
    </div>
</section>

<section id="sec-4" class="section sec-4">
    <div class="fixed-column">
        <h2 class="sec__title">ČASTO KLADENÉ OTÁZKY</h2>

        <div class="faq-accordion">
            <div class="title__holder">
                <h3><img src="../assets/img/ico-1.png" alt=""><span class="text__holder">Pre aké operačné systémy je aplikácia Sygic VE vhodná?</span></h3>
            </div>
            <div>Aplikácia je určená pre mobily s kompatibilným OS Android. Ak si chcete overit, či je váš mobil vhodný, navštívte stránku <a href="http://help.sygic.com/sk/sygic-voucher-edition/basic-information/compatibility-requirements" target="_blank" class="link link_ul">Sygic</a></div>

            <div class="title__holder">
                <h3><img src="../assets/img/ico-2.png" alt=""><span class="text__holder">Na koho sa mám obrátiť, ak mám problémy s inštaláciou aplikácie?</span></h3>
            </div>
            <div>V prípade akýchkoľvek otázok ohľadom inštalácie a používania navigácie kontaktujte <a href="http://help.sygic.com/sk" target="_blank" class="link link_ul link_dark">Sygic Support</a></div>

            <div class="title__holder">
                <h3><img src="../assets/img/ico-3.png" alt=""><span class="text__holder">Ako postupovať pred odchodom do zahraničia?</span></h3>
            </div>
            <div>Pred vycestovaním do zahraničia si nezabudnite stiahnuť mapy krajín, v ktorých sa chystáte navigáciu Sygic Voucher Edition používať.</div>

            <div class="title__holder">
                <h3><img src="../assets/img/ico-4.png" alt=""><span class="text__holder">Pre využívanie navigácie musím mať pripojenie k internetu?</span></h3>
            </div>
            <div>Mapy využívate zadarmo aj v zahraničí, bez pripojenia na internet. Na využívanie niektorých funkcií (ako napr. online informácie o mestách a počasí) je však potrebné byť pripojený na internet. Upozorňujeme, že dáta v zahraničí sú spoplatňované podľa platného cenníka roamingových dát. Preto si pozorne skontrolujte nastavenie mobilnej siete dáta v roamingu.</div>

            <div class="title__holder">
                <h3><img src="../assets/img/ico-5.png" alt=""><span class="text__holder">Čo mám robiť, keď nemám Google Play?</span></h3>
            </div>
            <div>Ak ste ešte nepoužili Google Play vo svojom mobile, nájdite v hlavnom menu ikonku Google Play a postupujte podľa inštrukcií.</div>

            <div class="title__holder last">
                <h3><img src="../assets/img/ico-6.png" alt=""><span class="text__holder">Koľko pamäte potrebuje aplikácia?</span></h3>
            </div>
            <div class="last">Základná pamäť má vyše 54 MB</div>
        </div>

        <div class="post legal"> <a class="post__title link link_dark link_ul" href="#" onclick="$('#legal-1').toggle('slow');return false;">Podmienky</a>
            <p class="post__content" id="legal-1" style="display: none;"> Služba je dostupná pre mobilných zákazníkov využívajúcich programy služby Happy a Bez záväzkov. V prípade predčasného ukončenia zmluvy o poskytovaní verejných služieb je zákazník povinný pri poslednej faktúre doplatiť zvyšnú sumu za poskytnutú službu.
            </p>
        </div>
    </div>
</section>

<div class="sygic-lightbox" id="sg-lightbox">
    <h2>AKTIVÁCIA NAVIGÁCIE SYGIC<br />VOUCHER EDITION</h2> Ak už máte paušál Happy alebo program Bez záväzkov, navigáciu Sygic Voucher Edition aktivujete zaslaním SMS s textom:
    <br>
    <br><b>SYGIC</b> na číslo <b>12323</b>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>