/* ===============
   IMPORTS 
   =============== */

@import '../../global-assets/sass/style';

.portlet-body .journal-content-article h1,
.portlet-body .journal-content-article h2 {
  border-bottom: none;
  padding: 0;
  margin: 0;
  font-size: 42px;
}
.portlet-body .journal-content-article .c-tile h3 {
  font-size: 1.1em;
  margin-top: 0;
  padding-top: 20px;
}
.portlet-body .journal-content-article .c-tile p {
  font-size: 0.9em;
}
#content.stickyFooter {
  padding-bottom: 35px;
}
#content {
  padding-bottom: 0;
}
.portlet-column-content {
  padding: 0;
}

.c-btn {
  width: 8em;
}
.c-content {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
div.c-img {
  display: inline-block;
  position: absolute;
}
.c-row {
  display: block;
  position: relative;
}
.c-row-1 .c-content > div {
   vertical-align: top;
}
.c-row-1 div.c-text {
  display: inline-block;
  width: 45%;
}
.c-row-1 a {
  margin-top: 1em;
  margin-bottom: 2em;
}
.c-row-1 a > div {
  position: relative;
}
.c-row-1 a > div > span {
  position: relative;
  bottom: 5px;
}
.c-row-1 div.c-img {
  right: 2em;
  top: 2em;
}
.c-row-2 {
  background-color: rgba(255,255,255,0.5);
  position: relative;
  width: 100%;
}
.c-row-2 div.c-img {
  left: 10%;
  position: relative;
  vertical-align: bottom;
}
.c-row-2 div.c-img > img {
  vertical-align: bottom;
}
.c-row-2 div.c-text {
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 1.5em;
  left: 25%;
  width: 30%;
}
.c-row-3 div.c-text {
  width: 50%;
  display: inline-block;
}
.c-row-3 div.c-img {
 
}
.c-row-3 div.c-text {
  margin-top: 50px;
  margin-bottom: 50px;
}
.c-row-3 li:before {
  color: black;
}
.c-row-4 {
  padding-top: 1em;
  padding-bottom: 4em;
}
.c-row-4 .c-tile {
  vertical-align: top;
}
.c-row-5 {
  height: 3em;
  padding-top: 1.5em;
}
.c-row-5 span {
  color: white;
}
.c-row-5 ul {
  display: inline;
}
.c-row-5 li {
  display: inline;
}
.c-btn span {
  vertical-align: top;
}

/*-------------------------------------------------------*/
.waterbear-theme .c-tile h3 a, .waterbear-theme .c-tile h3 a:hover {
  color: #E20074;
}
.portlet-body .journal-content-article .c-tile h3 {
  font-weight: bold;
  padding-top: 0px;
}
.c-tile {
  width: 140px;
  height: 140px;
  padding: 10px;
  display: inline;
  display: inline-block;
  background-color: #FFFFFF;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 2px 2px 5px #4B4B4B;
  transition: transform 0.2s;
}
a.c-tile-a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.c-tile:hover {
  transform: scale(1.1);
}
.c-tile:first-child {
  margin-left: 3em;
}
.wb-4g-tile {
    width: 150px;
    height: 150px;
    background-color: #FFFFFF;
    margin: 0 50px 0 0;
    box-shadow: 2px 2px 5px #4B4B4B;
    transition: transform 0.2s;
    display: inline-block;
    text-align: center;
        vertical-align: top;
}

.waterbear-theme a.c-tile-a {
  color: #4B4B4B;
}

.portlet-body .journal-content-article .wb-4g-tile h3 {
    font-size: 1.1em;
    margin-top: 12px;
    color: #E20074;
    font-weight: bold;
}


@media screen and (max-width: 960px) {
  .c-content {
    width: auto;
  }
  .c-row {
    padding-left: 3em;
    padding-right: 3em;
  }
  .c-row-1 div.c-text {
    width: 55%;
  }
  .c-row-2 div.c-img {
    left: 7%;
  }
  .c-row-2 div.c-img > img {
    width: 300px;;
  }
  .c-row-2 div.c-text {
    top: 0;
    left: 15%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }
  .c-row-3 div.c-text {
    width: 55%;
  }
  .c-row-3 div.c-img {
    right: 0;
  }
  .c-row-4 {
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 800px) {
  @-ms-viewport {
    width: 800px;
  }
  .portlet-content {
    padding-left: 0;
    padding-right: 0;
  }

  .c-row {
    padding-left: 2em;
    padding-right: 2em;
  }
  .c-row-1 div.c-text {
    width: 65%;
  }
  .c-row-1 div.c-img {
    right: 0em;
  }
  .c-row-2 div.c-img {
    left: 0;
  }
  .c-row-2 div.c-img > img {
    width: 250px;;
  }
  .c-row-2 div.c-text {
    width: 40%;
    left: 5%;
  }
  .c-row-3 div.c-text {
    width: 65%;
  }
  .c-row-3 div.c-text ul {
     margin-left: 0.5em;
  }
  .c-row-3 div.c-img {
    top: 6em;
  }
  .c-row-3 div.c-img > img {
    width: 170px;
    height: auto;
  }
  .c-row-4 {
    padding-bottom: 2em;
  }
  .c-row-4 div.c-content {
    text-align: center;
  }
  .c-tile:first-child {
    margin-left: 0;
  }
  .c-tile {
    margin-left: 0;
  }
}
@media screen and (max-width: 640px) {
  @-ms-viewport {
    width: 640px;
  }
  .c-row {
    width: auto;
  }
  div.c-img {
    display: none;
  }
  .c-row-1 div.c-text {
    width: 100%;
  }
  .c-row-2 div.c-text {
    left: 0;
    width: 100%;
    top: 0;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .c-row-3 div.c-text {
    width: 100%;
  }
  .c-row-4 {
     padding-left: 1em;
     padding-right: 1em;
   }
  .c-row-4 div.c-content {
    text-align: center;
  }
  .c-row-5 {
    height: 5em;
  }
  .c-row-5 div.c-content {
    text-align: center;
  }
  .c-row-5 ul {
    display: block;
  }
  .c-row-5 li {
    display: inline-block;
  }
  .c-tile {
    margin-right: 2px;
  }
}
@media screen and (max-width: 480px) {
  @-ms-viewport {
    width: 400px;
  }
  .c-row-4 {
    padding-bottom: 1em;
  }
  .c-row-5 {
    height: 7em;
  }
  .c-row-5 ul {
    display: block;
    text-align: left;
  }
}

/* SEC 7 Video */

#content #video-holder .video-container {
    position:relative;
    padding-bottom:56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

#content #video-holder .video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.video-container {
    background-image: url(../img/video_bg.png);
    content: "";
    background-size: cover;
    cursor: pointer;
    display: block;
/*    left: 5px;
    top: 5px;*/
    z-index: 5;
}

.video-thumbnail {
    height: 100%;
    position: relative;
    width: 100%;
}

.video-embed {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.video-thumbnail .play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/play_ico.png) no-repeat 0 0%;
    z-index: 2;
    width: 68px;
    height: 49px;
    margin: -24px 0 0 -34px;
    cursor: pointer;
    z-index: 10;
}
.video-thumbnail:hover .play_btn {
    background-position: 0 100%;
}