/* =============== IMPORTS  =============== */
/*@import '../../global-assets/sass/style';*/
html {
  /*overflow: hidden;*/ }
@font-face {
    font-family: 'Tele-Icon';
    src: url("../fonts/Tele-Icon.eot");
    src: url("../fonts/Tele-Icon.eot?#iefix") format("embedded-opentype"), url("../fonts/Tele-Icon.svg#Tele-Icon") format("svg"), url("../fonts/Tele-Icon.woff") format("woff"), url("../fonts/Tele-Icon.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'TeleGrotesk';
    src: url("../fonts/TeleGroteskNormal.eot");
    src: url("../fonts/TeleGroteskNormal.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleGroteskNormal.woff") format("woff"), url("../fonts/telgtotesk-subsets/subset-east/Tele-GroteskNormal_East.svg") format("svg")
}

@font-face {
    font-family: 'TeleGrotesk';
    src: url("../fonts/TeleGroteskFett.eot");
    src: url("../fonts/TeleGroteskFett.eot?#iefix") format("embedded-opentype"), url("../fonts/TeleGroteskFett.woff") format("woff"), url("../fonts/telgtotesk-subsets/subset-east/Tele-GroteskFett_East.svg") format("svg");
    font-weight: bold
}

@font-face {
    font-family: 'TeleGrotesk';
    src: url("../fonts/TeleGroteskHalb.eot");
    src: url("../fonts/TeleGroteskHalb.eot") format("embedded-opentype"), url("../fonts/TeleGroteskHalb.woff") format("woff");
    font-weight: 500
}

@font-face {
    font-family: 'TeleGrotesk';
    src: url("../fonts/TeleGroteskUltr.eot");
    src: url("../fonts/TeleGroteskUltr.eot") format("embedded-opentype"), url("../fonts/TeleGroteskUltr.woff") format("woff");
    font-weight: 900
}

body {
    font-size: 18px;
    line-height: 1.25;
    background: #fff;
    font-family: TeleGrotesk, Helvetica, Arial, sans-serif;
    color: #4b4b4b;
    margin: 0;
}


#selfcare {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  /*background: url('../img/background.jpg') no-repeat;*/
  background: url("../img/img10.png") no-repeat;
  background-size: cover;
  min-height: 1080px;
  max-width: 1920px;
  width: 100%;
  /*display: none;*/ }

#screensaver {
  display: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0; }

.slf-top {
  width: 100%;
  height: 735px; }

#slf-iframe-boxOLD {
  display: none;
  width: 1200px;
  height: 879px;
  overflow: hidden;
  position: relative;
  background: url("../img/tablet1200a.png") no-repeat; }

#slf-iframe-box {
  display: none;
  width: 1200px;
  height: 800px;
  overflow: hidden;
  position: relative;
  background: url("../img/tablet_strieborny.png") no-repeat; }

#slf-iframe-content {
  position: absolute;
  top: 30px;
  left: 41px;
  width: 1115px;
  height: 742px;
  overflow: auto;
  padding-right: 20px; }

#slf-iframe-contentOLD {
  position: absolute;
  top: 97px;
  left: 103px;
  width: 998px;
  height: 627px;
  overflow: auto;
  padding-right: 20px; }

#selfcare .left, #selfcare .right {
  vertical-align: top; }

#selfcare .left {
  position: absolute;
  left: 30px;
  top: 100px; }

#selfcare .right {
  position: absolute;
  right: 0;
  top: 100px;
  width: 600px; }

#selfcare .slf-header {
  padding-top: 150px; }

#selfcare .box {
  display: inline-block;
  cursor: pointer;
  transition: transform .2s;
  margin-bottom: 5px; }

#slf-mobil {
  margin-right: 10px; }

#selfcare .box#slf-mobil, #selfcare #slf-mobil.box {
  /*display: none;*/ }

#slf-faktury {
  margin-right: 10px; }

#slf-staffino {
  margin-right: 10px; }

/*
#slf-spotreba {
    margin-right: 10px;
}

#slf-aplikacia {
    margin-right: 10px;
}
*/
#selfcare .box:hover, #selfcare .box:active {
  transform: scale(1.05); }

.wbreadcrumbs {
  display: none; }

.portlet-column-content {
  padding: 0; }

#content {
  padding-bottom: 0; }

.slf-footer {
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0; }

.slf-navigation {
  position: absolute;
  left: 50px;
  top: 10px; }

#slf-domov {
  padding-left: 30px; }

#slf-datum, .slf-disclaimer {
  position: absolute;
  right: 200px;
  top: 18px;
  color: #a4a4a4;
  font-size: 1.8em; }

.slf-disclaimer {
  left: 300px; }

#selfcare .slf-logo img {
  max-width: 100px; }

#slf-header-slogan {
  display: block; }

#selfcare .box img {
  /*max-width: 190px;*/ }

#slf-back {
  display: none;
  vertical-align: top;
  max-width: 115px;
  max-height: 49px; }

#slf-domov {
  vertical-align: top;
  max-width: 151px;
  max-height: 49px; }

#screensaver .pics img {
  /*max-width: 1920px;*/
  /*max-height: 1040px;*/ }

.screensaver-slogan {
  width: 50%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  text-align: center; }

.screensaver-slogan .header1 {
  color: #e20074;
  font-size: 300px;
  font-weight: bold;
  text-transform: uppercase; }

.screensaver-slogan .header2 {
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  padding: 30px;
  background-color: #639d21;
  margin-left: 250px;
  width: 400px;
  text-align: center; }

/*# sourceMappingURL=maps/style.css.map */
