<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
				
						<p class="bpis__title">
							SAMSUNG GALAXY A8</p>
						<div class="box-device">
							<p class="pricing__title">
								Zobraziť ceny:</p>
							<select id="heap">
								<option value="S">s paušálom ÁNO S</option>
								<option value="M_DATA">s paušálom ÁNO M Dáta</option>
								<option value="M">s paušálom ÁNO M</option>
								<option value="L">s paušálom ÁNO L</option>
								<option value="XL">s paušálom ÁNO XL</option>
								<option value="XXL">s paušálom ÁNO XXL</option>
							</select>
							<table class="pricing-table">
								<tbody>
									<tr class="inner-head no-margin">
										<th colspan="2">
											Mesačne:</th>
									</tr>
									<tr class="no-margin">
										<td>
											Za paušál:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyFeeService" class="feePrice">70,00 €</span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Mesačná splátka za mobil:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthylFeeWithMob" class="feePrice">1,00 €</span>
										</td>
									</tr>
									<tr class="one-time-payment">
										<td>
											Mesačná splátka s Magenta 1:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="MonthlyMagenta1fee" class="feePrice">1,00 €</span>
										</td>
									</tr>
									<!-- <tr class="no-margin text-green">
													<td>
														<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
													<td>
														<span class="feePrice">-5,00 €</span></td>
												</tr>
												<tr class="no-margin">
													<td>
														Doplatok k službe</td>
													<td>
														9,00 €</td>
												</tr> -->
									<tr class="inner-head no-margin">
										<th colspan="2">Jednorazovo pri kúpe:</th>
									</tr>
									<tr class="one-time-payment">
										<td>
											Akontácia pre členov Magenta 1:</td>
										<td>
											<span id="magentaPrice" class="oneTimeFee">1,00 €</span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Bežná akontácia:
											<span class="feeType"></span>
										</td>
										<td>
											<span id="regularPrice" class="feePrice" style="text-decoration: line-through;">29,00 €</span>
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" href="/magenta1/zvyhodneny-smartfon/samsung-galaxy-a8/mam-zaujem">CHCEM SAMSUNG SO ZĽAVOU</a>
						</div>
					<!-- <div class="box-device">
						<p class="pricing__title">
							K Magio internetu <span class="feeType">L</span>:</p>
						<table class="pricing-table">
							<tbody>
								<tr class="inner-head no-margin">
									<th colspan="2">
										Mesačne:</th>
								</tr>
								<tr class="no-margin">
									<td>
										Magio internet <span class="feeType">L</span></td>
									<td>
										<span class="feePrice">15,00 €</span></td>
								</tr>
								<tr class="no-margin text-green">
									<td>
										<img src="../assets/img/icon3.png" />Web zľava 2. a 3. mesiac</td>
									<td>
										<span class="feePrice">-5,00 €</span></td>
								</tr>
								<tr class="no-margin">
									<td>
										Doplatok k službe</td>
									<td>
										9,00 €</td>
								</tr>
								<tr class="one-time-payment">
									<td>
										Jednorazovo pri kúpe:</td>
									<td>
										<span class="oneTimeFee">49,00 €</span></td>
								</tr>
							</tbody>
						</table>
					</div> -->
					<!-- <div class="tip">
						<p><b>NÁŠ TIP:</b> Cenu za internet si môžete znížiť až o 35 % pridaním Magio televízie a/alebo Pevnej linky. Kliknite na PREJSŤ K NÁKUPU a skúste kalkulačku služieb.</p>
					</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Galaxy A8 rozšíri vaše obzory</p>
								<p class="feat-desc">
									Vychutnajte si rozsiahly Infinity displej Galaxy A8.
									Veľký, prepracovaný displej sa rozprestiera po celej prednej časti telefónu a na jeho obrazovku sa nebudete môcť vynadívať.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Podčiarkne váš štýl</p>
								<p class="feat-desc">
									Ste vyznávačom klasickej elegancie? Galaxy A8 v čiernom prevedení je výsledkom prepracovaného dizajnu s ladnými krivkami. Navyše je skutočne pohodlný na uchopenie. Galaxy A8 je krásny telefón, ktorý nebudete chcieť pustiť z ruky.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Prenesie vás priamo do deja</p>
								<p class="feat-desc">
									Infinity displej s pomerom strán 18,5:9 vás celkom vtiahne do toho, čo sa deje na obrazovke vášho telefónu. Najväčší displej v kategórii Galaxy A telefónov vám ponúkne rozšírené možnosti sledovania, ktoré sú zárukou ohromujúceho filmového zážitku.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Uvidíte oveľa viac</p>
								<p class="feat-desc">
									Infinity displej je v porovnaní s displejmi predchádzajúcich modelov dlhší, vďaka čomu si čítanie na telefóne vychutnáte bez zdĺhavého listovania. Bez ohľadu na to, či sledujte svoje sociálne siete, alebo si čítate novinový článok, uvidíte viac.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Výnimočné fotografie behom okamihu</p>
								<p class="feat-desc">
									S každým stlačením spúšte Galaxy A8 získate výnimočné fotografie. Duálny predný fotoaparát predstavuje nový spôsob zachytenia selfie a skupinových fotografií – dokáže zaostriť na vás aj vašich priateľov. Zadný fotoaparát so 16Mpx rozlíšením v ničom nezaostáva, zhotovené snímky sú ostré a jasné.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.png" /></div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">Vylepšite svoje selfie</p>
								<p class="feat-desc">
									Ozvláštnite svoje selfie a vyskúšajte na duálnom fotoaparáte funkciu Live Focus. Umožní vám jednoducho rozmazať pozadie, a tak vy aj vaši priatelia na každej fotografii zažiarite. Zaostrenie si môžete navyše prispôsobiť presne podľa vašich potrieb. A s použitím režimu Krásna tvár, budú vaše selfie dychberúce.
								</p>
							</div>
						</div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">Zaostrené na zábavu</p>
								<p class="feat-desc">
									Prispôsobte si fotografie s originálnymi nálepkami a filtrami. Vylepšite ich so zábavnými stickermi s použitím technológie rozoznania tváre. Alebo fotografie upravte pomocou režimu Jedlo či Krásna tvár a prostredníctvom rôznorodých filtrov. Režim Krásna tvár môžete aktivovať tiež pri natáčaní videa predným fotoaparátom, vďaka čomu budete vyzerať skvele aj v pohybe.
								</p>
							</div>
						</div>
					</div>
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> -->
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<div class="detailed-specification" style=""> <table class="tbl double"> <thead> <tr> <th colspan="2">Všeobecné parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Váha </div> </td> <td class="paramValue"> 172 g </td> </tr> <tr> <td> <div> Rozmery (výška x šírka x hrúbka) </div> </td> <td class="paramValue"> 149.2 x 70.6 x 8.4 </td> </tr> <tr> <th colspan="2">Displej</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Uhlopriečka </div> </td> <td class="paramValue"> 5.6" </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Rozlíšenie </div> </td> <td class="paramValue"> 2220 x 1080 </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Typ displeja </div> </td> <td class="paramValue"> Super AMOLED </td> </tr> <tr> <td> <div> Farba </div> </td> <td class="paramValue"> Čierna </td> </tr> <tr> <td> <div> Zhotovenie krytov telefónu </div> </td> <td class="paramValue"> kov a sklo </td> </tr> <tr> <td> <div> SAR (vyžarovanie zariadenia) </div> </td> <td class="paramValue"> 0,241 </td> </tr> <tr> <td> <div> Typ SIM karty </div> </td> <td class="paramValue"> Nano SIM </td> </tr> <tr> <td> <div> Dual SIM </div> </td> <td class="paramValue"> <i class="fa fa-times"></i> </td> </tr> <tr> <td> <div> Typ </div> </td> <td class="paramValue"> dotykový </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Technické parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Procesor </div> </td> <td class="paramValue"> 2,2 GHz osemjadrový </td> </tr> <tr> <td> <div> Operačná pamäť </div> </td> <td class="paramValue"> 4 GB </td> </tr> <tr> <td> <div> Celková zdieľaná interná pamäť </div> </td> <td class="paramValue"> 32 GB </td> </tr> <tr> <td> <div> Podporovaná pamäťová karta </div> </td> <td class="paramValue"> až do 256 GB </td> </tr> <tr> <td> <div> Operačný systém </div> </td> <td class="paramValue"> Android </td> </tr> <tr> <td> <div> Verzia OS </div> </td> <td class="paramValue"> Android 7.1 </td> </tr> <tr> <th colspan="2">Batéria</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Štandardná batéria </div> </td> <td class="paramValue"> 3000 mAh </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Čas hovoru </div> </td> <td class="paramValue"> 14 hod. </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Telefonovanie, funkcie a multimédiá</th> </tr> </thead> <tbody> <tr> <td> <div> Funkcie telefonovania </div> </td> <td class="paramValue"> viacpoložkový zoznam, skupiny volajúcich, hlasové vytáčanie </td> </tr> <tr> <td> <div> SMS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> MMS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> VoLTE - volania cez 4G </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> HD hlas (AMR-WB kodek) </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> (2G, 3G) </td> </tr> <tr> <td> <div> Prehliadač dokumentov </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> E-mail klient </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Kancelária </div> </td> <td class="paramValue"> kalkulačka, diktafón, poznámky, úlohy </td> </tr> <tr> <td> <div> Organizácia času </div> </td> <td class="paramValue"> budik, kalendar, pripomienky, úlohy, svetový čas, </td> </tr> <tr> <td> <div> MP3 prehrávač </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <th colspan="2">Fotoaparát</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Rozlíšenie fotoaparátu </div> </td> <td class="paramValue"> 16 Mpix </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Duálny fotoaparát </div> </td> <td class="paramValue"> <i class="fa fa-times"></i> </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Blesk hlavného fotoaparátu </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Nahrávanie videa </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Vedľajší fotoaparát </div> </td> <td class="paramValue"> 16 + 8 Mpix </td> </tr> <tr> <td> <div> FM rádio </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> GPS </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Audio konektor </div> </td> <td class="paramValue"> <i class="fa fa-check"></i> </td> </tr> <tr> <td> <div> Podporované formáty hudobných súborov </div> </td> <td class="paramValue"> MP3, M4A, 3GA, AAC, OGG, OGA, WAV, WMA, AMR, AWB, FLAC, MID, MIDI, XMF, MXMF, IMY, RTTTL, RTX, OTA </td> </tr> <tr> <td> <div> Podporované formáty video súborov </div> </td> <td class="paramValue"> MP4, M4V, 3GP, 3G2, WMV, ASF, AVI, FLV, MKV, WEBM </td> </tr> <tr> <td> <div> Snímače </div> </td> <td class="paramValue"> Akcelerometer, Barometer, Snímač odtlačkov prstov, Gyroskop, Geomagnetický senzor, Hallový senzor, RGB svetelný senzor, Senzor priblíženia </td> </tr> <tr> <td> <div> Ďalšie funkcie </div> </td> <td class="paramValue"> Infinity displej, Adaptívne WiFi, Duálny selfie fotoaparát, Certifikovaná vodeodolnosť IP68, Bixby </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Iné</th> </tr> </thead> <tbody> <tr> <td> <div> Obsah balenia </div> </td> <td class="paramValue"> Telefón, cestovná nabíjačka, dátový kábel, stereo slúchadlá, nástroj na vyberanie SIM karty a stručná užívateľská príručka. </td> </tr> </tbody> </table> </div>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
