<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title">
                <b>CHYTRÝ BALÍK</b><br />
                INTERNET + TELEVÍZIA<br />
                ZA VÝHODNEJŠIU CENU
            </h1>
            <a
                class="btn cta"
                href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                >VYSKLADAŤ CHYTRÝ BALÍK</a
            ><br />
            <a class="scroll-to" href="#sec-2">Viac info o Chytrom balíku</a>
            <span class="ec ec-circle">ONLINE<br />ZĽAVA</span>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a>
        </li>
        <li>
            <a class="scroll-to" href="#sec-2">SLUŽBY A CENY</a>
        </li>
        <li>
            <a class="scroll-to" href="#sec-9">AKTUÁLNE AKCIE</a>
        </li>
        <li>
            <a class="scroll-to" href="#sec-3">DOPLNKOVÉ SLUŽBY</a>
        </li>
        <li>
            <a class="scroll-to" href="#wrapper"
                >NAHOR <img alt="arrow-top" src="../assets/img/arrow-top.png"
            /></a>
        </li>
    </ul>
</div>
<section class="section" id="sec-1">
    <div class="container-fixed">
        <div class="sec__title">VÝHODY CHYTRÉHO BALÍKA</div>
        <div class="row text_centered">
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="img-holder" style="height: 70px">
                    <img alt=" " src="../assets/img/ico-01.png" />
                </div>
                <p class="sec__description">
                    <b>S Chytrým balíkom ušetríte!</b>
                    <br />
                    Ak si zvolíte kombináciu viacerých služieb, napr. Magio
                    internet aj s televíziou a/alebo Pevnou linkou, získate
                    výhodnejšiu cenu.
                </p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="img-holder" style="height: 70px">
                    <img alt=" " src="../assets/img/ico-02.png" />
                </div>
                <p class="sec__description">
                    <b>Balík podľa vlastných predstáv</b>
                    <br />
                    Magio internet, televíziu a Pevnú linku vám ponúkame vo
                    variante M, L alebo XL. Môžete ich kombinovať navzájom podľa
                    svojich predstáv.
                    <br />
                </p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="img-holder" style="height: 70px">
                    <img alt=" " src="../assets/img/ico-03.png" />
                </div>
                <p class="sec__description">
                    <b>Široká dostupnosť</b>
                    <br />
                    Služby Chytrého balíka zriadime takmer na celom Slovensku a
                    pokrytie stále roširujeme.<br />
                    <a
                        class="link"
                        href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                        >Overiť dostupnosť na mojej adrese</a
                    >
                </p>
            </div>
        </div>
    </div>
</section>
<section id="sec-2" class="section chytry-balík">
    <div class="container-fixed c-i-t cit-left">
        <div class="cit-content cit-940">
            <div class="cit-940-content">
                <h2 class="title">
                    Byť v balíku sa oplatí<br />Magio internet + televízia
                </h2>
                <p>
                    <strong>Mať všetko pod jednou strechou sa oplatí!</strong>
                    Získajte za menej peňazí Magio televíziu, rýchle pripojenie
                    s&nbsp;Magio internetom či spoľahlivú Pevnú linku.
                    <strong
                        >Čím viac služieb si vezmete, tým viac ušetríte</strong
                    >. Všetky služby ponúkame vo variantoch M, L a XL.
                </p>
                <div class="example">
                    <p><strong>Obľúbená kombinácia služieb:</strong></p>
                    <div class="content">
                        <div class="item">
                            <div class="top img">
                                <img
                                    src="../assets/img/chytry_balik_ex_1.png"
                                />
                            </div>
                            <p>Magio internet L</p>
                        </div>
                        <div class="item mark">
                            <div class="top">+</div>
                        </div>
                        <div class="item">
                            <div class="top img">
                                <img
                                    src="../assets/img/chytry_balik_ex_2.png"
                                />
                            </div>
                            <p>Magio televízia L</p>
                        </div>
                        <div class="item mark">
                            <div class="top">=</div>
                        </div>
                        <div class="item price">
                            <div class="top">
                                <h2>25,20 €</h2>
                                <p class="old-price">31,80 €</p>
                            </div>
                            <p>Mesačne</p>
                        </div>
                    </div>
                </div>
                <p>
                    Vyskúšajte si kalkulačku Chytrého balíka na webe a môžete
                    <strong>získať online zľavu až do 30&nbsp;€</strong>.
                </p>
                <div class="cont-btn">
                    <a
                        href="/fix/objednavka/-/scenario/e-shop/chytry-balik"
                        class="btn cta"
                        target="_blank"
                        >VYSKLADAŤ CHYTRÝ BALÍK</a
                    >
                </div>
            </div>
        </div>
        <div class="cit-img">
            <!-- img -->
        </div>
    </div>
</section>
