<section class="section" id="sec-3">
    <div class="container-fixed">
        <div class="sec__title">DOPLNKOVÉ SLUŽBY</div>
        <div class="row text_centered">
            <div class="col-xs-12 col-md-4 offset-md-2 prg-holder">
                <div class="img-holder" style="height: 80px">
                    <img alt=" " src="../assets/img/ico-7.png" />
                </div>
                <p class="sec__description">
                    <b>Pomoc s inštaláciou</b>
                    <br />
                    Naši technici vám radi pomôžu s&nbsp;inštaláciou Magio
                    internetu, televízie či Pevnej linky za jednorazový poplatok
                    19,99&nbsp;€. V&nbsp;prípade záujmu si službu aktivujte
                    v&nbsp;nákupnom košíku.
                </p>
            </div>
            <div class="col-xs-12 col-md-4 prg-holder">
                <div class="img-holder" style="height: 80px">
                    <img alt=" " src="../assets/img/ico-8.png" />
                </div>
                <p class="sec__description">
                    <b>Bezplatná nonstop technická podpora</b>
                    <br />
                    na linke 0800 123 777
                    <br />
                    Alebo nám napíšte cez
                    <a
                        class="link item__link"
                        href="/kontakt/napiste-nam?p_p_id=faqCategories_WAR_portlets&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_pos=1&p_p_col_count=3&_faqCategories_WAR_portlets_render=getFaqItemsByCategory&_faqCategories_WAR_portlets_categoryId=780&_faqCategories_WAR_portlets_subCategoryId=2821&subCategoryId=2821"
                        >kontaktný formulár</a
                    >. Manuály a často kladené otázky nájdete vo
                    <a class="link item__link" href="/wiki">Wiki</a>
                    <br />
                </p>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
