<section class="section">
    <div class="container-fixed">
        <!-- new price table 2019 -->
        <div class="tbl pricesTable" id="pricesTable">
            <table id="prices">
                <!-- Table Head -->
                <thead>
                    <tr>
                        <th></th>
                        <th colspan="2" class="deposit">
                            Akontácia <a class="ttp" href="#" id="ttp-deposit"><img alt=""
                                    src="../assets/img/qm.png"></a></th>
                        <th colspan="2" class="monthlyPayment">
                            Mesačná splátka <a class="ttp" href="#" id="ttp-monthlyPayment"><img alt=""
                                    src="../assets/img/qm.png"></a>
                        </th>
                        <th colspan="2" class="priceTogether">Spolu
                            zaplatíte <a class="ttp" href="#" id="ttp-priceTogether"><img alt=""
                                    src="../assets/img/qm.png"></a>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th colspan="1" class="inStore mediumGrey">V predajni</th>
                        <th colspan="1" class="magenta onWeb mediumGrey">
                            Na webe</th>

                        <th colspan="1" class="inStore mediumGrey">V predajni</th>
                        <th colspan="1" class="magenta onWeb mediumGrey">
                            Na webe</th>
                        <th colspan="1" class="inStore">V predajni</th>
                        <th colspan="1" class="magenta onWeb">
                            Na webe</th>
                    </tr>
                </thead>
                <!-- Table Body -->
                <tbody>
                    <!-- ANO S -->
                    <tr class="disabled">
                        <td data-th="">
                            <span class="ratePrice">
                                <div class="plan_radio">
                                    <input type="radio" class="hwDetail-product-choose-tariff-item"
                                        name="hwDetail-product-choose-tariff-item" value="ANO_S" disabled>
                                </div>
                                <span class="left">ÁNO&nbsp;S&nbsp;
                                    /</span>
                                <span class="rightPrice">&nbsp;10&nbsp;€</span>
                            </span>
                        </td>
                        <td data-th="Akontácia v predajni" class="inStore">
                            5 €</td>
                        <td data-th="Akontácia cez web" class="magenta onWeb">
                            29 €</td>
                        <td data-th="Mesačná splátka v predajni" class="inStore">
                            5 €</td>
                        <td data-th="Mesačná splátka cez web" class="magenta onWeb">
                            19 €</td>
                        <td data-th="Spolu zaplatíte v predajni" class="inStore">
                            149 €</td>
                        <td data-th="Spolu zaplatíte cez web" class="magenta onWeb">
                            139 €</td>
                    </tr>
                    <!-- ANO M -->
                    <tr class="disabled">
                        <td data-th="">
                            <span class="ratePrice">
                                <div class="plan_radio">
                                    <input type="radio" class="hwDetail-product-choose-tariff-item"
                                        name="hwDetail-product-choose-tariff-item" value="ANO_S" disabled>
                                </div>
                                <span class="left">ÁNO&nbsp;M
                                    /</span>
                                <span class="rightPrice">&nbsp;20&nbsp;€</span>
                            </span>
                        </td>
                        <td data-th="Akontácia v predajni" class="inStore">
                            3 €</td>
                        <td data-th="Akontácia cez web" class="magenta onWeb">
                            19 €</td>
                        <td data-th="Mesačná splátka v predajni" class="inStore">
                            2,91 €</td>
                        <td data-th="Mesačná splátka cez web" class="magenta onWeb">
                            1,16 €</td>
                        <td data-th="Spolu zaplatíte v predajni" class="inStore">
                            91 €</td>
                        <td data-th="Spolu zaplatíte cez web" class="magenta onWeb">
                            71 €</td>
                    </tr>
                    <!-- ANO L -->
                    <tr>
                        <td data-th="">
                            <span class="ratePrice">
                                <div class="plan_radio">
                                    <input type="radio" class="hwDetail-product-choose-tariff-item"
                                        name="hwDetail-product-choose-tariff-item" value="ANO_S">
                                </div>
                                <span class="left">ÁNO&nbsp;L&nbsp;
                                    /</span>
                                <span class="rightPrice">&nbsp;30&nbsp;€</span>
                            </span>
                        </td>
                        <td data-th="Akontácia v predajni" class="inStore">
                            0 €</td>
                        <td data-th="Akontácia cez web" class="magenta onWeb">
                            25 €</td>
                        <td data-th="Mesačná splátka v predajni" class="inStore">
                            0 €</td>
                        <td data-th="Mesačná splátka cez web" class="magenta onWeb">
                            5 €</td>
                        <td data-th="Spolu zaplatíte v predajni" class="inStore">
                            25 €</td>
                        <td data-th="Spolu zaplatíte cez web" class="magenta onWeb">
                            5 €</td>
                    </tr>
                    <!-- ANO XL -->
                    <tr>
                        <td data-th="">
                            <span class="ratePrice">
                                <div class="plan_radio">
                                    <input type="radio" class="hwDetail-product-choose-tariff-item"
                                        name="hwDetail-product-choose-tariff-item" value="ANO_S">
                                </div>
                                <span class="left">ÁNO&nbsp;XL&nbsp;
                                    /</span>
                                <span class="rightPrice">&nbsp;40&nbsp;€</span>
                            </span>
                        </td>
                        <td data-th="Akontácia v predajni" class="inStore">
                            0 €</td>
                        <td data-th="Akontácia cez web" class="magenta onWeb">
                            25 €</td>
                        <td data-th="Mesačná splátka v predajni" class="inStore">
                            0 €</td>
                        <td data-th="Mesačná splátka cez web" class="magenta onWeb">
                            5 €</td>
                        <td data-th="Spolu zaplatíte v predajni" class="inStore">
                            25 €</td>
                        <td data-th="Spolu zaplatíte cez web" class="magenta onWeb">
                            5 €</td>
                    </tr>
                    <!-- ANO XXL -->
                    <tr>
                        <td data-th="">
                            <span class="ratePrice">
                                <div class="plan_radio">
                                    <input type="radio" class="hwDetail-product-choose-tariff-item"
                                        name="hwDetail-product-choose-tariff-item" value="ANO_S">
                                </div>
                                <span class="left">ÁNO&nbsp;XXL&nbsp;
                                    /</span>
                                <span class="rightPrice">&nbsp;70&nbsp;€</span>
                            </span>
                        </td>
                        <td data-th="Akontácia v predajni" class="inStore">
                            0 €</td>
                        <td data-th="Akontácia cez web" class="magenta onWeb">
                            25 €</td>
                        <td data-th="Mesačná splátka v predajni" class="inStore">
                            0 €</td>
                        <td data-th="Mesačná splátka cez web" class="magenta onWeb">
                            5 €</td>
                        <td data-th="Spolu zaplatíte v predajni" class="inStore">
                            5 €</td>
                        <td data-th="Spolu zaplatíte cez web" class="magenta onWeb">
                            5 €</td>
                    </tr>
                    <!-- Plna cena -->
                    <tr>
                        <td data-th="Kúpiť za plnú cenu">
                            <span class="ratePrice">
                                <div class="plan_radio">
                                    <input type="radio" class="hwDetail-product-choose-tariff-item"
                                        name="hwDetail-product-choose-tariff-item" value="ANO_S">
                                </div>
                                <span class="left">Plná&nbsp;Cena&nbsp;
                                    /</span>
                                <span class="rightPrice">&nbsp;899&nbsp;€</span>
                            </span>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>





<script type="text/javascript" src="../assets/js/main.js"></script>