<section id="scenario-bd" class="section bd-scenario-thankyou">
  <div class="container-fixed">
    <div class="row">
      <div class=" vh100 textHolder">
        <div class="content">
          <h2>Ďakujeme za Vašu objednávku</h2>
          <p>
            <span class="boldtxt"
              >Objednávka bola prijatá.<br />
              Počkajte na SMS správu, ktorú dostanete, keď bude objednávka
              pripravená na vyzdvihnutie.</span
            >
          </p>
          <p>
            Na test@test.sk sme Vám poslali e-mail s podrobnosťami o objednávke
            a informáciami o doručení.
          </p>
          <p>
            Ak bude potrebné doplniť Vaše údaje, budeme Vás telefonicky
            kontaktovať.
          </p>

          <!-- stepper -->
          <div class="nav-stepper">
            <div class="nav-stepper-wrapper d-inline-flex">
              <div class="steps d-inline-flex">
                <hr class="divider" />
                <!-- first step -->
                <div class="step-wrapper d-inline-flex align-start">
                  <a href="#">
                    <div class="step d-inline-flex align-center done">
                      <i class="t-icon icon">V</i>
                    </div>
                  </a>
                </div>
                <!-- second step -->
                <div class="step-wrapper d-inline-flex align-center grow-0">
                  <a href="#">
                    <div class="step d-inline-flex align-center pending">
                      <img
                        class="white"
                        src="../assets/img/icon-store-grey.png"
                        alt="icon sim card"
                      />
                    </div>
                  </a>
                </div>
                <!-- last step -->
                <div class="step-wrapper d-inline-flex align-end grow-0">
                  <a href="#">
                    <div class="step d-inline-flex align-center pending">
                      <img
                        class="white"
                        src="../assets/img/icon-sim-grey.png"
                        alt="icon sim card"
                      />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" imageHolder vh100">
        <!-- img in bg -->

        <!-- with or without text content -->
        <div class="content">
          <h2>NAVŠTÍVTE NAJMENŠIU POBOČKU NA&nbsp;SVETE</h2>
          <p>
            Stiahnite si do mobilu <b>Telekom aplikáciu</b> a platby, prehľad
            nad faktúrami, kontrola spotreby v paušále či dobíjanie kreditu budú
            pre vás maličkosť.
          </p>
          <a
            href="https://play.google.com/store/apps/details?id=com.telekom.portal&hl=sk"
          >
            <img src="../assets/img/gplay-icon.png" alt="google play" />
          </a>
          <a href="https://itunes.apple.com/sk/app/telekom/id582997807">
            <img src="../assets/img/appstore-icon.png" alt="apple app store" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
