<section id="scenario-bd" class="section bd-scenario-activation">
    <div class="container-fixed">

        <div class="row equalHeight">
            <form action="#" id="activationForm" name="activationForm">

                <!-- verification - left -->
                <div class="col-xs-12 col-md-3 verification px0">
                    <div class="row id-verification xs-hide">
                        <div class="verification-wrapper clearfix">
                            <div class="col-xs-12 text-center">
                                <img src="../assets/img/icon-activation.png" alt="activation img">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- forms - middle -->
                <div class="col-xs-12 col-md-6 form-data">
                    <!-- stepper -->
                    <div class="col-xs-12 px0 nav-stepper">
                        <div class="nav-stepper-wrapper d-inline-flex">
                            <div class="steps d-inline-flex">
                                <hr class="divider" />
                                <div class="step-wrapper d-inline-flex align-start">
                                    <a href="#">
                                        <div class="step d-inline-flex align-center active">
                                            <img class="mag" src="../assets/img/icon-sim-mag.png" alt="icon sim card">
                                            <img class="white" src="../assets/img/icon-sim.png" alt="icon sim card">
                                        </div>
                                    </a>
                                    <h1 class="main-title d-inline-flex">Spôsob aktivácie</h1>
                                </div>
                                <div class="step-wrapper d-inline-flex align-center grow-0">
                                    <a href="#">
                                        <div class="step d-inline-flex align-center pending">

                                            <img class="white" src="../assets/img/icon-phone-pending.png"
                                                alt="icon sim card">
                                        </div>
                                    </a>
                                </div>
                                <div class="step-wrapper d-inline-flex align-end grow-0">
                                    <a href="#">
                                        <div class="step d-inline-flex align-center pending">

                                            <img class="white" src="../assets/img/icon-person-pending.png"
                                                alt="icon sim card">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 activation">
                        <h3 class="heading">Vyberte si spôsob aktivácie paušálu</h3>

                        <div class="activation-type-wrapper">
                            <div class="activation-type">
                                <div class="activation-type-data">

                                    <input type="radio" name="activationType" id="prolong" value="prolong">
                                    <label class="activation-label" for="prolong">Pokračovať so svojím aktuálnym
                                        číslom</label>

                                    <div id="verifiedNum">
                                        <p class="num">
                                            <!-- verified number here -->
                                        </p>
                                        <a href="#" id="checkNewNum" class="magenta">
                                            Overiť iné číslo
                                            <i class="t-icon--magenta">e</i>
                                        </a>
                                    </div>

                                    <p class="activation-type-text infoText">
                                        Vyberte si túto možnosť, ak si chcete predĺžiť či upraviť paušál od Telekomu
                                        alebo chcete prejsť od iného operátora či z Easy karty na paušál a zároveň si
                                        chcete
                                        <b>nechať svoje aktuálne telefónne číslo.</b>
                                    </p>



                                    <p class="activation-type-text numberText">
                                        Pre pokračovanie zadajte svoje číslo. Pošleme Vám SMS správu s overovacím kódom.
                                    </p>



                                    <div class="overenie">
                                        <div class="result">
                                            <div class="result-cont">
                                                <div class="result-icon">
                                                    <i class="t-icon--maginverse">
                                                        <!-- icon --></i>
                                                </div>
                                                <div class="result-content">
                                                    <!-- cont -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <div class="input-phone">
                                                <div class="input-wrapper phoneNumber">
                                                    <input type="text" class="input_text" name="phoneNumber"
                                                        id="phoneNumber" required />
                                                    <label class="placeholder" for="phoneNumber">Vaše aktuálne telefónne
                                                        číslo</label>
                                                </div>
                                                <a class="btn btn_mag-outline" id="checkPhone">Overiť</a>
                                            </div>
                                            <div class="input-pin">
                                                <div class="input-wrapper">
                                                    <input type="text" class="input_text" name="phoneNumber" required />
                                                    <input type="text" class="input_text" name="phoneNumber" required />
                                                    <input type="text" class="input_text" name="phoneNumber" required />
                                                    <input type="text" class="input_text" name="phoneNumber" required />
                                                    <label class="placeholder" for="phoneNumber">Zadajte 4-miestny kód z
                                                        SMS správy</label>
                                                </div>
                                                <a class="btn btn_mag-outline" id="checkPin">Odoslať kód</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="info post d-flex hidden">
                                        <div class="col-xs-2 text-center">
                                            <i class="t-icon--maginverse">></i>
                                        </div>
                                        <div class="col-xs-10"><span>Vážený zákazník, svoju zmluvu si môžete predĺžiť a
                                                vybrať
                                                si paušál a nové zariadenie už teraz.</span>
                                            <span>
                                                Vo Vašej prvej faktúre po predĺžení <b>nájdete jednorazový doplatok za
                                                    predčasné ukončenie aktuálnej viazanosti</b>. Výška jednorazového
                                                doplatku
                                                zodpovedá neuhradenej doplnkovej časti mesačného poplatku za čas
                                                predčasnej
                                                zmeny Vášho aktuálneho paušálu.
                                            </span>
                                            <span>
                                                Výšku Vášho jednorazového doplatku si môžete overiť v tabuľke č. 2
                                                Dodatku
                                                uzavretého na základe tejto objednávky, a to ešte pred jeho uzavretím.
                                                Dodatok Vám prinesie kuriér.
                                            </span>
                                            <span>Ak máte záujem prolongovať bez jednorazového doplatku za predčasnú
                                                prolongáciu, počkajte prosím do termínu ....., kedy končí Vaša
                                                viazanosť.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="activation-type">
                                <div class="activation-type-data ">
                                    <input type="radio" name="activationType" id="newNum" value="newNum">
                                    <label class="activation-label" for="newNum">Zriadiť nové číslo</label>
                                </div>
                            </div>
                        </div>

                        <button class="submitformbtn disabled" type="submit" form="activationForm" value="Submit"
                            disabled>Pokračovať</button>

                    </div>
                </div>

                <!-- summary -->
                <div class="col-xs-12 px0 col-md-3 summary">
                    <div class="title d-inline-flex align-end">
                        <h1 class="main-title ">Zhrnutie objednávky</h1>
                    </div>
                    <div class="summary-content clearfix">

                        <div class="summary-content-wrapper clearfix">
                            <p class="subheadline">JEDNORAZOVO PRI KÚPE</p>
                            <div class="details clearfix">
                                <div class="detail">
                                    <p class="detail-item"><span class="text">Akontácia za Samsung Galaxy A70 + Samsung
                                            Galaxy A10 za 4 centy</span>
                                        <b>po
                                            zľave</b></p>
                                    <p class="detail-price"><span class="price">13,16</span> €</p>
                                </div>
                                <div class="detail">
                                    <p class="detail-item">Aktivácia novej SIM karty</p>
                                    <p class="detail-price"><span class="price">0</span> €</p>
                                </div>
                                <div class="detail">
                                    <p class="detail-item">Vyzdvihnutie v predajni</p>
                                    <p class="detail-price"><span class="price">0</span> €</p>
                                </div>
                                <div class="detail">
                                    <p class="detail-item">Doručenie kuriérom</p>
                                    <p class="detail-price"><span class="price">0</span> €</p>
                                </div>
                            </div>
                            <div class="details-sum onetime clearfix">
                                <p class="detail-item">SPOLU JEDNORAZOVO</p>
                                <p class="detail-price"><span class="price">13,16</span> €</p>
                            </div>
                        </div>

                        <div class="summary-content-wrapper clearfix">
                            <p class="subheadline">MESAČNE</p>
                            <div class="details clearfix">
                                <div class="detail">
                                    <p class="detail-item"><span class="text">Mesačná splátka za Samsung Galaxy A70 +
                                            Samsung Galaxy A10</span>
                                        <b>po
                                            zľave</b></p>
                                    <p class="detail-price"><span class="price">4,00</span> €</p>
                                </div>
                                <div class="detail">
                                    <p class="detail-item">Paušál <span class="rtpln">ÁNO L</span></p>
                                    <p class="detail-price"><span class="price">30,00</span> €</p>
                                </div>
                            </div>
                            <div class="details-sum monthly clearfix">
                                <p class="detail-item">SPOLU MESAČNE</p>
                                <p class="detail-price"><b><span class="price">34,00</span> €</b></p>
                            </div>
                        </div>

                        <div class="summary-content-wrapper clearfix">
                            <p class="subheadline">
                            </p>
                            <div class="details clearfix">
                                <div class="detail">
                                    <p class="discount"><span class="device">Na Samsung Galaxy A70 + Samsung Galaxy
                                            A10</span> boli uplatnené tieto zľavy:</p>
                                    <p class="detail-item"><span class="text">Web zľava</span>
                                    </p>
                                    <p class="detail-price"><span class="price">-19,50</span> €</p>
                                </div>
                                <div class="detail">
                                    <p class="detail-item">Black Friday zľava</p>
                                    <p class="detail-price"><span class="price">-52,35</span> €</p>
                                </div>
                            </div>
                            <div class="details-sum clearfix">
                                <p class="discount">Celková cena za zariadenie (akontácia + 24 mesačných splátok) pri
                                    kúpe
                                    cez web je <span class="discount-price">265</span> €.
                                    Oproti nákupu v predajni ušetríte <span class="discount-saved">120</span> €.</p>
                            </div>
                        </div>

                        <div class="legals">
                            <p class="legals-text">Všetky uvedené ceny sú s DPH a platia pri viazanosti na 24 mesiacov.
                            </p>
                            <a href="#" class="legals-link legals-1">Ďalšie informácie</a>
                            <div id="legals-1">
                                <p class="legals-text">ÁNO L – viazanosť 24 mesiacov
                                    Podmienkou poskytnutia ponuky k paušálu ÁNO je uzavretie Dodatku k Zmluve o
                                    poskytovaní verejných služieb s viazanosťou na 24 mesiacov.</p>

                                <p class="legals-text">Ak službu začnete využívať v priebehu mesiaca, vaša 1.
                                    faktúra bude účtovaná v
                                    alikvotnej výške.
                                    Poplatok mesačného programu služby zahŕňa prevádzku a služby obsiahnuté v rámci
                                    dohodnutého programu služieb. Poplatky nad rámec dohodnutého programu služieb sú
                                    účtované osobitne v zmysle Cenníka.</p>
                            </div>
                            <a href="#" class="legals-link postponedOrder">Uložiť objednávku na neskôr</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/activation-main.js"></script>
<script type="text/javascript" src="../assets/js/user-checker.js"></script>