<section id="scenario-bd" class="section bd-scenario-landing">
    <section id="hero">
        <div class="container-fixed">
            <div class="hero__mobile">
                &nbsp;
            </div>
            <div class="hero__content">
                <h1 class="hero__title"><b>Lorem ipsum</b><br /></h1>
                <p class="hero__subtitle">
                    <b>Dolor it samet lorem</b>
                </p>
                <a class="btn cta_mag" href="#sec-1">Kúpiť teraz</a>
            </div>
        </div>
    </section>

    <div class="container-fixed clearfix">
        <div class="row section vyhody">
            <div class="col-xs-12 vyhody-title">
                Pozrite si výhody našich paušálov
            </div>
            <div class="col-xs-12 col-md-4 vyhody-cart">
                <img src="../assets/img/lp_vyhody_ico1.png" />
                <p class="vyhody-cart-title">
                    Vstúpte s paušálmi XXX do najlepšej mobilnej 4G siete na
                    Slovensku
                </p>
                <p>
                    Už siedmykrát sme získali ocenenie Best in Test za kvalitu
                    mobilných sietí na SIovensku. Najvyššie skóre sme dosiahli v
                    oboch kategóriách: hlasové a dátové služby.
                </p>
            </div>
            <div class="col-xs-12 col-md-4 vyhody-cart">
                <img src="../assets/img/lp_vyhody_ico2.png" />
                <p class="vyhody-cart-title">
                    Nespotrebované dáta vám prenesieme automaticky a zadarmo
                </p>
                <p>
                    V paušáloch ÁNO sa vám nespotrebované dáta automaticky
                    prenesú do ďalšieho mesiaca bez poplatkov a zbytočných
                    podmienok. Prenesené dáta čerpáte nasledujúci mesiac ako
                    prvé.
                </p>
            </div>
            <div class="col-xs-12 col-md-4 vyhody-cart">
                <img src="../assets/img/lp_vyhody_ico3.png" />
                <p class="vyhody-cart-title">
                    Vždy viac dát a volaní s Magentou 1
                </p>
                <p>
                    Získajte viac dát a volaní v paušáloch XXX so skupinou
                    Magenta 1. Stačí, ak do nej pridáte aspoň jednu zo služieb
                    Magio internet, TV alebo Pevnú linku M, L alebo XL.
                </p>
                <p>
                    <a href="#" class="magenta"
                        >Pozrieť viac o skupine Magenta 1</a
                    >
                </p>
            </div>
        </div>
    </div>
    <div class="cont-pausaly clearfix">
        <div class="container-fixed">
            <div class="row section pausaly">
                <div class="overenie">
                    <div class="result">
                        <div class="result-cont">
                            <div class="result-icon">
                                <i class="t-icon--magenta"><!-- icon --></i>
                            </div>
                            <div class="result-content"><!-- cont --></div>
                        </div>
                    </div>
                    <div class="form">
                        <div>
                            <span class="title">
                                Overte svoje číslo a spoznáte ponuku šitú na
                                mieru.
                            </span>
                            <span class="desc">
                                Je to jednoduché, na zadané číslo vám pošleme
                                SMS správu s overovacím kódom.
                            </span>
                        </div>
                        <div class="input-phone">
                            <div class="input-wrapper phoneNumber">
                                <input
                                    type="text"
                                    class="input_text"
                                    name="phoneNumber"
                                    id="phoneNumber"
                                    required
                                />
                                <label class="placeholder" for="phoneNumber"
                                    >Vaše aktuálne telefónne číslo</label
                                >
                            </div>
                            <a
                                class="btn btn_mag-outline cursor-p"
                                id="checkPhone"
                                >Overiť</a
                            >
                        </div>
                        <div class="input-pin">
                            <div class="input-wrapper">
                                <input
                                    type="text"
                                    class="input_text"
                                    name="phoneNumber"
                                    required
                                />
                                <input
                                    type="text"
                                    class="input_text"
                                    name="phoneNumber"
                                    required
                                />
                                <input
                                    type="text"
                                    class="input_text"
                                    name="phoneNumber"
                                    required
                                />
                                <input
                                    type="text"
                                    class="input_text"
                                    name="phoneNumber"
                                    required
                                />
                                <label class="placeholder" for="phoneNumber"
                                    >Zadajte 4-miestny kód z SMS správy</label
                                >
                            </div>
                            <a
                                class="btn btn_mag-outline cursor-p"
                                id="checkPin"
                                >Odoslať kód</a
                            >
                        </div>
                    </div>
                </div>
                <div class="user-offer">
                    <div class="hero-pausaly-title">
                        <div>
                            <div class="icon-free">
                                <div>Kuriér zadarmo</div>
                                <div>Extra web zľava</div>
                                <div>14 dní bez záväzkov</div>
                            </div>
                            <h1>
                                Vyberte si z ponuky paušálov šitej na mieru
                            </h1>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco.
                        </p>
                    </div>
                    <div class="hero-offer">
                        <div class="carts-cont">
                            <div class="carts-header">
                                <div class="w-0 sh-d">Paušál</div>
                                <div class="w-1">Dáta</div>
                                <div class="w-2">Volania a SMS</div>
                                <div class="w-3 text-center">Extra</div>
                                <div class="w-4 sh-m">Mesačne</div>
                            </div>
                            <div>
                                <div class="carts slider">
                                    <div class="box-slider" id="offer-slider">
                                        <!-- slider -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="viac-info">
                            Viac info o paušáloch
                        </p>
                        <p class="eu-legend">
                            EÚ+ sú všetky členské štáty EÚ, Island, Nórsko,
                            Lichtenštajnsko, Monako a Andora.
                        </p>
                    </div>
                </div>

                <div class="hero-pausaly-title">
                    <div>
                        <div class="icon-free">
                            <div>Kuriér zadarmo</div>
                            <div>Extra web zľava</div>
                            <div>14 dní bez záväzkov</div>
                        </div>
                        <h1>
                            Hero paušály z našej Top ponuky
                        </h1>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco.
                    </p>
                </div>
                <div class="hero-offer">
                    <div class="carts-cont">
                        <div class="carts-header">
                            <div class="w-0 sh-d">Paušál</div>
                            <div class="w-1">Dáta</div>
                            <div class="w-2">Volania a SMS</div>
                            <div class="w-3 text-center">Extra</div>
                            <div class="w-4 sh-m">Mesačne</div>
                        </div>
                        <div>
                            <div class="carts slider">
                                <div class="box-slider" id="hero-slider">
                                    <!-- slider -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="viac-info">
                        Viac info o paušáloch
                    </p>
                    <p class="eu-legend">
                        EÚ+ sú všetky členské štáty EÚ, Island, Nórsko,
                        Lichtenštajnsko, Monako a Andora.
                    </p>
                </div>
                <div class="vsetky-pausaly">
                    <h2>
                        Nevybrali ste si z top ponuky? Pozrite si aj ostatné
                        paušály.
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore
                        magnaaliqua.
                    </p>
                    <a href="#" class="magenta show-categories">
                        Pozrieť ostatné paušály
                    </a>
                    <div class="categories">
                        <div class="categories-header">
                            <span class="category selected">Základ</span>
                            <span class="category">Dáta</span>
                            <span class="category">Ideál</span>
                            <span class="category">Nekonečno</span>
                        </div>
                        <div class="carts-cont">
                            <div class="carts-header">
                                <div class="w-0 sh-d">Paušál</div>
                                <div class="w-1">Dáta</div>
                                <div class="w-2">Volania a SMS</div>
                                <div class="w-3 text-center">Extra</div>
                                <div class="w-4 sh-m">Mesačne</div>
                            </div>
                            <div>
                                <div class="carts slider">
                                    <div class="box-slider" id="pausal-slider">
                                        <!-- slider -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="viac-info">
                            Viac info o paušáloch
                        </p>
                        <p class="eu-legend">
                            EÚ+ sú všetky členské štáty EÚ, Island, Nórsko,
                            Lichtenštajnsko, Monako a Andora.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="container-fixed"
        style="display: flex; flex-direction: column; align-items: center;"
    >
        <div class="row section biznis-pausaly">
            <div class="cart clearfix">
                <div class="col-xs-7">
                    <div>
                        <h2>Ak ste živnostník</h2>
                        <p>
                            alebo máte firmu do 5 zamestnancov, môžete si vybrať
                            aj z paušálov ÁNO&nbsp;Biznis.
                        </p>
                    </div>
                    <a href="#" class="magenta">Ísť na biznis paušály</a>
                </div>
            </div>
        </div>
        <div class="row section podmienky">
            <p>
                Cena mesačne predstavuje zľavnenú cenu mesačného poplatku za
                paušál ÁNO. Platí pri uzavretí zmluvy s viazanosťou na 24
                mesiacov.
            </p>
            <a href="#" class="magenta">Podmienky</a>
        </div>
    </div>
</section>

<script type="text/javascript" src="../assets/js/user-checker.js"></script>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/landing_data.js"></script>
<script type="text/javascript" src="../assets/js/landing_main.js"></script>
