<section id="scenario-bd" class="section bd-scenario-hwcatalogue">
    <div class="container-fixed">

        <div class="banner">
            <!-- banner img in bg -->
            <img src="../assets/img/banner.jpg" alt="">
        </div>


        <div class="benefits clearfix md-hide">
            <div class="icon-free">
                <div>Kuriér zadarmo</div>
                <div>Extra web zľava</div>
                <div>14 dní bez záväzkov</div>
            </div>
        </div>

        <!-- check user -->
        <div class="overenie">
            <div class="result">
                <div class="result-cont">
                    <div class="result-icon">
                        <i class="t-icon--magenta">
                            <!-- icon --></i>
                    </div>
                    <div class="result-content">
                        <!-- cont -->
                    </div>
                </div>
            </div>
            <div class="form">
                <div>
                    <span class="title">
                        Overte svoje číslo a spoznáte ponuku šitú na
                        mieru.
                    </span>
                    <span class="desc">
                        Je to jednoduché, na zadané číslo vám pošleme
                        SMS správu s overovacím kódom.
                    </span>
                </div>
                <div class="input-phone">
                    <div class="input-wrapper phoneNumber">
                        <input type="text" class="input_text" name="phoneNumber" id="phoneNumber" required />
                        <label class="placeholder" for="phoneNumber">Vaše aktuálne telefónne číslo</label>
                    </div>
                    <a class="btn btn_mag-outline" id="checkPhone">Overiť</a>
                </div>
                <div class="input-pin">
                    <div class="input-wrapper">
                        <input type="text" class="input_text" name="phoneNumber" required />
                        <input type="text" class="input_text" name="phoneNumber" required />
                        <input type="text" class="input_text" name="phoneNumber" required />
                        <input type="text" class="input_text" name="phoneNumber" required />
                        <label class="placeholder" for="phoneNumber">Zadajte 4-miestny kód z SMS správy</label>
                    </div>
                    <a class="btn btn_mag-outline" id="checkPin">Odoslať kód</a>
                </div>
            </div>
        </div>


        <div class="benefits clearfix xs-hide">
            <div class="icon-free">
                <div>Kuriér zadarmo</div>
                <div>Extra web zľava</div>
                <div>14 dní bez záväzkov</div>
            </div>
        </div>

        <!-- rateplans -->
        <div class="rateplans">
            <h1 class="title">Zobraziť ceny zariadení s paušálom:</h1>
            <div class="rateplans_wrapper">
                <div class="rateplans_wrapper_main">
                    <a href="#" class="rtpl active"><span>Mini</span></a>
                    <a href="#" class="rtpl"><span>Plus</span></a>
                    <a href="#" class="rtpl"><span>Dáta</span></a>
                    <a href="#" class="rtpl"><span>Max</span></a>
                    <a href="#" class="rtpl"><span>Bez paušálu</span></a>
                </div>
                <div class="rateplans_wrapper_sub">
                    <select name="subrateplans" class="subrateplans bd-select" required>
                        <option value="25" selected>ÁNO 25</option>
                        <option value="24">ÁNO 24</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- categories -->
        <div class="categories">
            <div class="categories_wrapper">
                <div class="categories_wrapper_main">
                    <a href="#" class="ctgr active"><span>MOBILY A TABLETY</span></a>
                    <a href="#" class="ctgr"><span>SMART A INÉ ZARIADENIA</span></a>
                    <a href="#" class="ctgr"><span>HERNÉ KONZOLY</span></a>
                </div>
                <div class="categories_wrapper_buttons">
                    <div class="filters-sortby">
                        <select name="sortby" class="sortby bd-select" required>
                            <option value="0" selected>Zoradiť</option>
                            <option value="rating">Podľa obľúbenosti</option>
                            <option value="asc">Od najlacnejšieho</option>
                            <option value="desc">Od najdrahšieho</option>
                        </select>
                    </div>
                    <div class="filters-toggle">
                        <a class="filters-toggle-button" href="#">Filtrovať <i class='fa fa-sliders'
                                aria-hidden='true'></i></a>
                    </div>
                </div>
            </div>

        </div>

        <!-- filters -->
        <div class="filters">
            <div class="filters-allFilters">

                <div class="filters-wrapper">
                    <div class="filters-wrapper-top">
                        <div class="filters-wrapper-group filters-sliders">
                            <!-- all range sliders here -->
                        </div>
                        <!-- brand checkboxes -->
                        <div class="filters-wrapper-group brands">


                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Samsung (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Samsung (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Samsung (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Samsung (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Samsung (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Apple (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Sony (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper hidden">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Sony (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="showmore">
                                <a href="#" class="magenta"><span class="moreless">Viac</span> značiek</a>
                            </div>




                        </div>
                    </div>

                    <div class="filters-wrapper-bottom">
                        <!-- OS checkboxes -->
                        <div class="filters-wrapper-group osystem">
                            <p class="title">Operačný systém</p>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Android (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        iOS (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Iný OS (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                        </div>
                        <!-- functions checkboxes -->
                        <div class="filters-wrapper-group functions">
                            <p class="title">Funkcie</p>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        VoLTE - volania cez 4G (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Duálny fotoaparát (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Apple (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Sony (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper ">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper ">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper ">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>

                            <div class="input-wrapper hidden">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper hidden">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper hidden">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper hidden">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper hidden">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper hidden">
                                <label class="label">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        Huawei (<span class="count">15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="showmore">
                                <a href="#" class="magenta"><span class="moreless">Viac</span> funkcií</a>
                            </div>
                        </div>
                        <!-- all colors here -->
                        <div class="filters-wrapper-group filters-colors">
                            <p class="title">Farba</p>
                            <div class="input-wrapper">
                                <label class="label color-1">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        (<span>15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label color-2">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        (<span>15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label color-3">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        (<span>15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label color-2">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        (<span>15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label color-3">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        (<span>15</span>)
                                    </p>
                                </label>
                            </div>
                            <div class="input-wrapper">
                                <label class="label color-3">
                                    <input type='checkbox' class='input_checkbox' name="" required />
                                    <p class="label-text">
                                        (<span>15</span>)
                                    </p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- devices -->
        <div class="devices">
            <div class="devices-wrapper">
                <a href="#" class="device">
                    <div class="device-title">
                        <p class="name">iPhone 11 Pro 64 GB</p>
                        <p class="model">Midnight Green</p>
                    </div>
                    <div class="device-img">
                        <img src="../assets/img/wording.png" alt="" class="wording">
                        <img src="../assets/img/device.png" alt="">
                        <div class="device-gotodetail">
                            <p>Pozrieť detail</p>
                        </div>
                    </div>

                    <div class="device-prices">
                        <div class="monthly clearfix">
                            <div class="mainprice">
                                <p>MESAČNE</p>
                                <p><span>29,00</span> €</p>
                            </div>
                            <div class="oldprice">
                                <p><span>100,50</span> €</p>
                            </div>
                        </div>

                        <div class="onetime">
                            <div class="mainprice">
                                <p>AKONTÁCIA</p>
                                <p><span>129,00</span> €</p>
                            </div>
                            <div class="oldprice">
                                <p><span>100,50</span> €</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- no monthly price -->
                <a href="#" class="device">
                    <div class="device-title">
                        <p class="name">iPhone 11 Pro 64 GB</p>
                        <p class="model">Midnight Green</p>
                    </div>
                    <div class="device-img">
                        <img src="../assets/img/wording.png" alt="" class="wording">
                        <img src="../assets/img/device.png" alt="">
                        <div class="device-gotodetail">
                            <p>Pozrieť detail</p>
                        </div>
                    </div>
                    <div class="device-prices">
                        <div class="onetime">
                            <div class="mainprice">
                                <p>AKONTÁCIA</p>
                                <p><span>129,00</span> €</p>
                            </div>
                            <div class="oldprice">
                                <p><span>100,50</span> €</p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="#" class="device">
                    <div class="device-title">
                        <p class="name">iPhone 11 Pro 64 GB</p>
                        <p class="model">Midnight Green</p>
                    </div>
                    <div class="device-img">
                        <img src="../assets/img/wording.png" alt="" class="wording">
                        <img src="../assets/img/device.png" alt="">
                        <div class="device-gotodetail">
                            <p>Pozrieť detail</p>
                        </div>
                    </div>
                    <div class="device-prices">
                        <div class="onetime">
                            <div class="mainprice">
                                <p>AKONTÁCIA</p>
                                <p><span>129,00</span> €</p>
                            </div>
                            <div class="oldprice">
                                <p><span>100,50</span> €</p>
                            </div>
                        </div>
                    </div>
                </a>
                <!-- web only -->
                <a href="#" class="device webonly">
                    <div class="device-title">
                        <p class="name">iPhone 11 Pro 64 GB</p>
                        <p class="model">Midnight Green</p>
                    </div>
                    <div class="device-img">
                        <img src="../assets/img/wording.png" alt="" class="wording">
                        <img src="../assets/img/device.png" alt="">
                        <div class="device-gotodetail">
                            <p>Pozrieť detail</p>
                        </div>
                    </div>
                    <div class="device-prices">
                        <div class="monthly clearfix">
                            <div class="mainprice">
                                <p>MESAČNE</p>
                                <p><span>19,00</span> €</p>
                            </div>
                            <div class="oldprice">
                                <p><span>100,50</span> €</p>
                            </div>
                        </div>
                        <div class="onetime">
                            <div class="mainprice">
                                <p>AKONTÁCIA</p>
                                <p><span>129,00</span> €</p>
                            </div>
                            <div class="oldprice">
                                <p><span>100,50</span> €</p>
                            </div>
                        </div>
                    </div>
                </a>

                <!-- full price with no rateplan -->
                <a href="#" class="device fullPrice">
                    <div class="device-title">
                        <p class="name">iPhone 11 Pro 64 GB</p>
                        <p class="model">Midnight Green</p>
                    </div>
                    <div class="device-img">
                        <img src="../assets/img/wording.png" alt="" class="wording">
                        <img src="../assets/img/device.png" alt="">
                        <div class="device-gotodetail">
                            <p>Pozrieť detail</p>
                        </div>
                    </div>
                    <div class="device-prices">
                        <div class="onetime">
                            <div class="mainprice">
                                <p>Plná cena</p>
                                <p><span>129,00</span> €</p>
                            </div>

                        </div>
                    </div>
                </a>
            </div>

        </div>

        <!-- pagination - USED CURRENT FROM PRODUCTION -->
        <div class="pagination" data-page-size="6" data-actual-page="2">
            <ul class="paging">
                <li class="prev" data-value="-1"><a href="" class="fa fa-angle-left"></a></li>
                <li class="active-prev" data-value="1"><a href="">1</a></li>
                <li class="active" data-value="2"><a href="">2</a></li>
                <li data-value="3"><a href="">3</a></li>
                <li data-value="4"><a href="">4</a></li>
                <li data-value="5"><a href="">5</a></li>
                <li class="continuation"></li>
                <li class="continuation smallDevice"></li>
                <li class="next" data-value="-2"><a href="" class="fa fa-angle-right"></a></li>
            </ul>
            <div class="paging-setting">
                <div id="heapbox_pages" class="heapBox"><a href="" class="holder" rel="6"> 6 </a><a href=""
                        class="handler"></a>
                    <div class="heap" style="display: none;">
                        <ul class="heapOptions">
                            <li class="heapOption"><a href="" rel="6" title=" 6 " class="selected"> 6 </a></li>
                            <li class="heapOption"><a href="" rel="12" title=" 12 " class=""> 12 </a></li>
                            <li class="heapOption"><a href="" rel="18" title=" 18 " class=""> 18 </a></li>
                            <li class="heapOption"><a href="" rel="-1" title=" Všetky " class=""> Všetky </a></li>
                        </ul>
                    </div>
                </div><select id="pages" class="page-size-select pages hwCatalogBottom" style="display: none;">
                    <option value="6" selected="selected"> 6 </option>
                    <option value="12"> 12 </option>
                    <option value="18"> 18 </option>
                    <option value="-1"> Všetky </option>
                </select>
            </div>
            <div class="hwCatalogBottom-heapboxFiller" style="height: 140px;"> </div>
        </div>

        <!-- select num of devices to show -->
        <div class="pagination-select">
            <select name="paginationSelect" class="bd-select" required>
                <option value="8" selected>Zobraziť 8 produktov na stránke</option>
                <option value="16">Zobraziť 16 produktov na stránke</option>
            </select>
        </div>

        <!-- legals texts -->
        <div class="legals">
            <a href="#" class="legals-link legals-1">Podmienky k paušálom</a>
            <div id="legals-1">
                <p class="legals-text">Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné miesta. Podrobné
                    informácie o ponuke sú uvedené v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak
                    Telekom, a. s. - <a href="#" class="legals-link">Cenník pre poskytovanie služieb prostredníctvom
                        mobilnej siete</a>
                </p>
            </div>
        </div>

    </div>
</section>


<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/select2.min.js"></script>
<script type="text/javascript" src="../assets/js/hwcatalogue-main.js"></script>
<script type="text/javascript" src="../assets/js/user-checker.js"></script>