<section id="scenario-bd" class="section bd-scenario-detail">
  <div class="container-fixed">
    <div class="bd-hw-detail">
      <div class="bd-left">
        <div class="bd-back">
          <a class="magenta" href="#"
            ><i class="fa fa-angle-left"></i>Späť do katalógu</a
          >
        </div>
        <div class="gallery clearfix">
          <div class="pics clearfix">
            <div class="thumbnails">
              <div class="preview">
                <a
                  class="selected"
                  data-full="../assets/img/product1.png"
                  href="#"
                  ><img src="../assets/img/product1_prev.png" />
                </a>
              </div>
              <div class="preview">
                <a data-full="../assets/img/product2.png" href="#"
                  ><img src="../assets/img/product2_prev.png" />
                </a>
              </div>
              <div class="preview">
                <a data-full="../assets/img/product3.png" href="#"
                  ><img src="../assets/img/product3_prev.png" />
                </a>
              </div>
              <div class="preview">
                <a data-full="../assets/img/product4.png" href="#"
                  ><img src="../assets/img/product4_prev.png" />
                </a>
              </div>
              <div class="preview">
                <a data-full="../assets/img/product5.png" href="#"
                  ><img src="../assets/img/product5_prev.png" />
                </a>
              </div>
            </div>
            <div class="full__holder">
              <img class="full" src="../assets/img/product1.png" />
              <div class="eec-product">
                <img
                  id="eec"
                  src="../assets/img/stickers.png"
                  style="height: 106px; width: auto;"
                />
              </div>
            </div>

            <div class="controlls">
              <div class="control__holder">
                <a class="control-left" href="#"
                  ><img src="../assets/img/ico-left.png"
                /></a>
                <a class="control-right" href="#"
                  ><img src="../assets/img/ico-right.png"
                /></a>
              </div>
            </div>
          </div>
        </div>
        <div class="benefits clearfix">
          <div class="icon-free">
            <div>Kuriér zadarmo</div>
            <div>Extra web zľava</div>
            <div>14 dní bez záväzkov</div>
            <div>Operačný systém Android</div>
            <div>Veľký dotykový displej</div>
            <div>14 dní bez záväzkov</div>
            <div>Operačný systém Android</div>
            <div>Veľký dotykový displej</div>
          </div>
        </div>
      </div>
      <div class="bd-right">
        <div class="price-wrapper">
          <h1 class="title">Samsung Galaxy Note 10</h1>
          <div class="benefits-mobile clearfix">
            <div class="icon-free">
              <div>Kuriér zadarmo</div>
              <div>Extra web zľava</div>
              <div>14 dní bez záväzkov</div>
              <div>Operačný systém Android</div>
              <div>Veľký dotykový displej</div>
              <div>14 dní bez záväzkov</div>
              <div>Operačný systém Android</div>
              <div>Veľký dotykový displej</div>
            </div>
          </div>
          <div class="rateplans">
            <h2 class="title">Zobraziť cenu s paušálom:</h2>
            <div class="rateplans_wrapper">
              <div class="rateplans_wrapper_main">
                <a href="#" class="rtpl active"><span>Mini</span></a>
                <a href="#" class="rtpl"><span>Plus</span></a>
                <a href="#" class="rtpl"><span>Dáta</span></a>
                <a href="#" class="rtpl"><span>Max</span></a>
                <a href="#" class="rtpl" id="bez-pausalu"
                  ><span>Bez paušálu</span></a
                >
              </div>
              <div class="rateplans_wrapper_sub">
                <select
                  name="subrateplans"
                  class="subrateplans bd-select"
                  required
                >
                  <option value="25" selected>ÁNO 25 - 10 GB</option>

                  <option value="24">ÁNO 24</option>
                </select>

                <div class="rateplan-detail clearfix">
                  <div class="rateplan-desc">
                    Volania: 100 minút <br />
                    SMS a MMS: 0,07 € <br />
                    Magio GO Fremium zadarmo
                  </div>
                  <div class="rateplan-price">
                    32.00
                    <div class="commitment ">
                      24 mes. viazanosť
                    </div>
                  </div>
                </div>
                <table class="price-detail-desc">
                  <tr class="commit">
                    <td>Mesačná splátka</td>
                    <td class="text-right">
                      po zľave <span>4,50 €</span>
                      <div class="magenta-through">
                        <span class="text-gray">6,00 €</span>
                      </div>
                    </td>
                  </tr>
                  <tr class="commit">
                    <td class="magenta">Spolu mesačne</td>
                    <td class="s24 magenta bold text-right">36,50 €</td>
                  </tr>
                  <tr class="no-commit">
                    <td>Plná cena</td>

                    <td class="s24 bold text-right">899,00 €</td>
                  </tr>
                  <tr class="onetime commit">
                    <td>Akontácia</td>
                    <td class="text-right">
                      po web zľave 6,00 €

                      <div class="magenta-through">
                        <span class="text-gray">26,00 €</span>
                      </div>
                    </td>
                  </tr>
                </table>

                <a href="#" class="btn buy-btn">Kúpiť</a>
                <!-- <a
                  href="#"
                  id="hw-available"
                  class="btn btn_mag-outline btn-sold-out"
                  >Upozornite ma na dostupnosť</a
                > -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="features">
      <div class="accordion">
        <h2>Vlastnosti</h2>
        <p class="plus">+</p>
      </div>
      <!-- Základné informácie -->
      <div id="show-features">
        <div class="features_detail">
          <div class="features_category">Základné informácie</div>
          <div class="features_items">
            <div class="features_row">
              <div class="features_label">
                Rozmery (výška x šírka x hrúbka)
              </div>
              <div class="features_value">151,0 x 71,8 x 7,9 mm</div>
            </div>
            <div class="features_row">
              <div class="features_label">Uhlopriečka</div>
              <div class="features_value">6,3”</div>
            </div>
            <div class="features_row">
              <div class="features_label">Rozlíšenie</div>
              <div class="features_value">2280 x 1080</div>
            </div>
            <div class="features_row">
              <div class="features_label">Farba</div>
              <div class="features_value">Strieborná</div>
            </div>
            <div class="features_row">
              <div class="features_label">Operačný systém</div>
              <div class="features_value">Android</div>
            </div>
            <div class="features_row">
              <div class="features_label">Verzia OS</div>
              <div class="features_value">Android 9</div>
            </div>
            <div class="features_row">
              <div class="features_label">Podporovaná pamäťová karta</div>
              <div class="features_value">nie</div>
            </div>
            <div class="features_row">
              <div class="features_label">Rozlíšenie fotoaparátu</div>
              <div class="features_value">16 Mpix + 12 Mpix + 12 Mpix</div>
            </div>
            <div class="features_row">
              <div class="features_label">MP3 prehrávač</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">GPS</div>
              <div class="features_value">áno</div>
            </div>
          </div>
        </div>
        <!-- Konektivita -->
        <div class="features_detail">
          <div class="features_category">Konektivita</div>
          <div class="features_items">
            <div class="features_row">
              <div class="features_label">Rozmery (výška x šírka x hrúbka)</div>
              <div class="features_value">151,0 x 71,8 x 7,9 mm</div>
            </div>
            <div class="features_row">
              <div class="features_label">Bluetooth</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">WiFi</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">WiFi HotSpot</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">NFC</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">GPRS</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">Edge</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">UMTS</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">HSPDA/HSUPA</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">4G</div>
              <div class="features_value">áno</div>
            </div>
            <div class="features_row">
              <div class="features_label">4G kategória</div>
              <div class="features_value">CAT 20</div>
            </div>
            <div class="features_row">
              <div class="features_label">Prepojenie s PC</div>
              <div class="features_value">áno</div>
            </div>
          </div>
        </div>
        <div class="detailed-parameters">
          <a href="#">Detailné technické parametre</a>
        </div>

        <!-- Detailné technické parametre -->
        <div id="detail-features">
          <!-- Všeobecné parametre -->
          <div class="features_detail">
            <div class="features_category">Všeobecné parametre</div>
            <div class="features_items">
              <div class="features_row">
                <div class="features_label">Váha</div>
                <div class="features_value">168 g</div>
              </div>
              <div class="features_row">
                <div class="features_label">
                  Rozmery (výška x šírka x hrúbka)
                </div>
                <div class="features_value">151,0 x 71,8 x 7,9 mm</div>
              </div>
              <div class="features_row">
                <div class="features_label">Displej</div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Uhlopriečka</div>
                <div class="features_sub-value">6,3”</div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Rozlíšenie</div>
                <div class="features_sub-value">2280 x 1080</div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Typ displeja</div>
                <div class="features_sub-value">Super AMOLED</div>
              </div>
              <div class="features_row">
                <div class="features_label">Farba</div>
                <div class="features_value">Striebo</div>
              </div>
              <div class="features_row">
                <div class="features_label">Zhotovenie krytov telefónu</div>
                <div class="features_value">kov a sklo</div>
              </div>
              <div class="features_row">
                <div class="features_label">SAR (vyžarovanie zariadenia)</div>
                <div class="features_value">0,516 W/kg</div>
              </div>
              <div class="features_row">
                <div class="features_label">Typ SIM karty</div>
                <div class="features_value">Nano SIM</div>
              </div>
              <div class="features_row">
                <div class="features_label">Dual SIM</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">Typ</div>
                <div class="features_value">dotykový</div>
              </div>
              <div class="features_row">
                <div class="features_label">4G kategória)</div>
                <div class="features_value">CAT 20</div>
              </div>
            </div>
          </div>
          <!-- Technické parametre -->
          <div class="features_detail">
            <div class="features_category">Technické parametre</div>
            <div class="features_items">
              <div class="features_row">
                <div class="features_label">Procesor</div>
                <div class="features_value">osemjadrový Exynos 9825</div>
              </div>
              <div class="features_row">
                <div class="features_label">Operačná pamäť</div>
                <div class="features_value">8 GB</div>
              </div>
              <div class="features_row">
                <div class="features_label">Celková zdieľaná interná pamäť</div>
                <div class="features_value">256 GB</div>
              </div>
              <div class="features_row">
                <div class="features_label">Podporovaná pamäťová karta</div>
                <div class="features_value">nie</div>
              </div>
              <div class="features_row">
                <div class="features_label">Operačný systém</div>
                <div class="features_value">Android 9</div>
              </div>
              <div class="features_row">
                <div class="features_label">Verzia OS</div>
                <div class="features_value">Android 9</div>
              </div>
              <div class="features_row">
                <div class="features_label">Batéria</div>
                <div class="features_value">3500 mAh</div>
              </div>
            </div>
          </div>
          <!-- Telefonovanie, funkcie a multimédiá -->
          <div class="features_detail">
            <div class="features_category">
              Telefonovanie, funkcie a multimédiá
            </div>
            <div class="features_items">
              <div class="features_row">
                <div class="features_label">Funkcie telefonovania</div>
                <div class="features_value">
                  viacpoložkový zoznam, skupiny volajúcich
                </div>
              </div>
              <div class="features_row">
                <div class="features_label">SMS</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">MMS</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">VoLTE – volania cez 4G</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">HD hlas (AMR-WB kodek)</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">Prehliadač dokumentov</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">E-mail klient</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">Kancelária</div>
                <div class="features_value">
                  kalkulačka, diktafón, poznámky, úlohy
                </div>
              </div>
              <div class="features_row">
                <div class="features_label">Organizácia času</div>
                <div class="features_value">
                  budík, kalendár, pripomienky, úlohy, svetový čas
                </div>
              </div>
              <div class="features_row">
                <div class="features_label">MP3 prehrávač</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">Fotoaparát</div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Rozlíšenie fotoaparátu</div>
                <div class="features_sub-value">
                  16 Mpix + 12 Mpix + 12 Mpix
                </div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Duálny fotoaparát</div>
                <div class="features_sub-value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Blesk hlavného fotoaparátu</div>
                <div class="features_sub-value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Nahrávanie videa</div>
                <div class="features_sub-value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_sub-label">Vedľajší fotoaparát</div>
                <div class="features_sub-value">10 Mpix</div>
              </div>
              <div class="features_row">
                <div class="features_label">FM rádio</div>
                <div class="features_value">nie</div>
              </div>
              <div class="features_row">
                <div class="features_label">GPS</div>
                <div class="features_value">áno</div>
              </div>
              <div class="features_row">
                <div class="features_label">Audio konektor</div>
                <div class="features_value">nie</div>
              </div>
              <div class="features_row">
                <div class="features_label">
                  Podporované formáty hudobných súborov
                </div>
                <div class="features_value">
                  MP3, M4A, 3GA, AAC, OGG, OGA, WAV, WMA, AMR, FLAC, MID, MIDI,
                  XMF, MXMF, IMY, RTTTL, RTX, OTA, DFF, DSF, APE
                </div>
              </div>
              <div class="features_row">
                <div class="features_label">
                  Podporované formáty video súborov
                </div>
                <div class="features_value">
                  MP4, M4V, 3GP, 3G2, WMV, ASF, AVI, FLV, MKV
                </div>
              </div>
            </div>
          </div>
          <!-- iné -->
          <div class="features_detail">
            <div class="features_category">Iné</div>
            <div class="features_items">
              <div class="features_row">
                <div class="features_label">Obsah balenia</div>
                <div class="features_value">
                  Ultrazvukový snímač odtlačkov prstov v displeji, S Pen s
                  Ovládaním gestami, Ultraširokouhlý objektív, Teleobjektív,
                  Bezdrôtové zdieľanie energie, Audio Zoom, Live Focus Video,
                  Super Steady Video, IP68, Dolby Atmos, Hybrid SIM
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hw-id">8801643892494</div>
    <!-- legals texts -->
    <div class="legals">
      <a href="#" class="legals-link legals-1">Podmienky k paušálom</a>
      <div id="legals-1">
        <p class="legals-text">
          Všetky ceny sú uvedené v € s DPH a sú zaokrúhlené na 2 desatinné
          miesta. Podrobné informácie o ponuke sú uvedené v aktuálnom Cenníku
          pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. -
          <a href="#" class="legals-link"
            >Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a
          >
        </p>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/select2.min.js"></script>
<script type="text/javascript" src="../assets/js/detail-main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
