<section id="section-shoppingScenario" class="section stepSummary">
    <div class="container-fixed">
     <!-- stepper with eyecatchers  -->
        <div class="flex-row">
            <div class="col-md-8 col-sm-7 col-xs-12 order1">
                <div class="stepper">
                    <div class="step1 step done" data-href="">
                        <p class="number">1.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Spôsob aktivácie
                        </p>
                    </div>
                    <div class="step2 step done" data-href="">
                        <p class="number">2.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Výber mobilu
                        </p>
                    </div>
                    <div class="step3 step done" data-href="">
                        <p class="number">3.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Doručenie
                        </p>
                    </div>
                    <div class="step4 step done" data-href="">
                        <p class="number">4.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Osobné údaje
                        </p>
                    </div>
                    <div class="step5 step active" data-href="">
                        <p class="number">5.</p>
                        <i class="doneIcon fa fa-check"></i>
                        <p class="text">
                            Zhrnutie
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-12 order2">
                <div class="eyecatchers">
                    <div class="promo-circle web-promo-circle">
                        <span class="promo-circle-text">EXTRA</br>
                            <strong>ZĽAVA NA</br>MOBIL</strong>
                        </span>
                    </div>
                    <div class="promo-circle commitment-promo-circle">
                        <span class="promo-circle-text">
                            <strong>BEZ</br>ZAVAZKOV</strong>
                            </br>14 DNI</span>
                    </div>
                    <div class="promo-circle delivery-promo-circle">
                        <span class="promo-circle-text">
                            <strong>DORUCENIE</br>KURIEROM</br>ZADARMO</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cartTop">
            <!-- top cart -->
        </div>
        <div class="row">
            <!-- summaryTable -->
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="summaryTable">
                    <h3 class="sec__title">Zhrnutie Objednávky</h3>
                    <div class="summTab">
                        <div class="summHead">
                            <div class="left">Produkty a služby</div>
                            <div class="middle hideOnMob">Jednorazovo</div>
                            <div class="right hideOnMob">Mesačne</div>
                        </div>
                        <div class="innerContent">
                            <div class="pausal">
                                <div class="iconWrapper">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="left">
                                    <div class="pausalName">Paušál ÁNO S</div>
                                    <div class="pausalInfo">
                                        <p>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>Volania do všetkých sietí v SR a EÚ+: 100 minút</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>Neobmedzené prichadzájúce hovory v SR a EÚ+</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>Odchádzajúce volania zo SR do zóny Profi a zo zóny Profi do SR a prichádzajúce volania v zóne Profi: 300 minút.</span>
                                        </p>
                                        <p>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span>Internet v mobile v SR a EÚ+: 250 MB</span>
                                        </p>
                                        <p style="display: none;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span></span>
                                        </p>
                                        <p style="display: none;">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            <span></span>
                                        </p>
                                    </div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p> 10 € </p>
                                </div>
                            </div>
                            <div class="vas">
                                    <div class="smsmms bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>Neobmedzené SMS/MMS</div>
                                            <p class="mobMonthly">Mesačne</p>
                                        </div>
                                        <div class="middle hideOnMob">-</div>
                                        <div class="right">
                                            <p>3
                                                <span>€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="volania bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>Neobmedzené Telekom volania</div>
                                            <p class="mobMonthly">Mesačne</p>
                                        </div>
                                        <div class="middle hideOnMob">-</div>
                                        <div class="right">
                                            <p>0
                                                <span>€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="100min bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>100 minút do všetkých sietí</div>
                                            <p class="mobMonthly">Mesačne</p>
                                        </div>
                                        <div class="middle hideOnMob">-</div>
                                        <div class="right">
                                            <p>0
                                                <span>€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="1gbdata bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>Mesačné dáta 1GB</div>
                                            <p class="mobMonthly">Mesačne</p>
                                        </div>
                                        <div class="middle hideOnMob">-</div>
                                        <div class="right">
                                            <p>0
                                                <span>€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="2gbdata bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>Mesačné dáta 2GB</div>
                                            <p class="mobMonthly">Mesačne</p>
                                        </div>
                                        <div class="middle hideOnMob">-</div>
                                        <div class="right">
                                            <p>0
                                                <span>€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="poistenie bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>Poistenie zariadenia</div>
                                            <p class="mobMonthly">Mesačne</p>
                                        </div>
                                        <div class="middle hideOnMob">-</div>
                                        <div class="right">
                                            <p>2,99
                                                <span>€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="easyKredit bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>Easy karta s kreditom 9 €</div>
                                            <p class="mobMonthly">Jednorazovo</p>
                                        </div>
                                        <div class="middle">
                                            <p>0
                                                <span>€</span>
                                            </p>
                                        </div>
                                        <div class="right hideOnMob">-</div>
                                    </div>
                                    <div class="StreamOn bt">
                                        <div class="iconWrapper"></div>
                                        <div class="left">
                                            <div>StreamOn</div>
                                            <p class="mobMonthly">Mesačne</p>
                                        </div>
                                        <div class="middle hideOnMob">-</div>
                                        <div class="right">
                                            <p>0
                                                <span>€</span>
                                            </p>
                                        </div>
                                    </div>
                            </div>
                            <div class="fee bt">
                                <div class="iconWrapper">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="left">
                                    <div>Administratívny poplatok</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="delivery bt">
                                <div class="iconWrapper">
                                    <i class="fa fa-truck"></i>
                                </div>
                                <div class="left">
                                    <div>Doručenie kuriérom</div>
                                    <p class="mobMonthly">Jednorazovo</p>
                                </div>
                                <div class="middle">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                                <div class="right hideOnMob">-</div>
                            </div>
                            <div class="hw">
                                <div class="iconWrapper">
                                    <i class="fa fa-mobile"></i>
                                </div>
                                <div class="left">
                                    <div class="deviceName"> Huawei P20 lite 64 GB</div>
                                    <p class="oneTimePrice">Jednorazovo kuriérovi</p>
                                    <p class="mobMonthly pad0">Mesačne</p>
                                </div>
                                <div class="middle">
                                    <p>139
                                        <span>€</span>
                                    </p>
                                    <p class="showOnMob">8
                                        <span>€</span>
                                    </p>
                                </div>
                                <div class="right hideOnMob">
                                    <p>8
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="newSim">
                                <div class="iconWrapper">
                                    <i class="sim-image"></i>
                                </div>
                                <div class="left">
                                    <div class="simName">Aktivácia SIM pri objednávke cez web</div>
                                    <p class="oneTimePrice" style="color: #e20074">Jednorazovo v prvej faktúre</p>
                                </div>
                                <div class="middle">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                                <div class="right hideOnMob">-</div>
                            </div>
                        </div>
                        <div class="summaryInfo">
                            <div class="left">
                                <div>Spolu</div>
                                <p class="oneTimePrice">Jednorazovo</p>
                                <p class="mobMonthly pad0">Mesačne</p>
                            </div>
                            <div class="middle">
                                <p>139,00
                                    <span>€</span>
                                </p>
                                <p class="showOnMob">23,99
                                    <span>€</span>
                                </p>
                            </div>
                            <div class="right hideOnMob">
                                <p>23,99
                                    <span>€</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                <!-- summary tab end -->
                <div class="togleArrow">
                    <a class="toggle-arrow" href="#">Ďalšie informácie<span class="arrow-right"></span></a><p class="infoRight">Všetky ceny sú uvedené s DPH.</p>
                    <div class="arrow-content">
                        <div id="summaryCommitmentBoxBigSummaryDesc" class="commitmentBoxDescription" style="display: block;">
                            <p><b>ÁNO S </b> - viazanosť 24 mesiacov</p>
                            <p>Jednorazový poplatok za zariadenie uhradíte priamo kuriérovi. </p>
                            <p>Podmienkou poskytnutia ponuky k paušálu ÁNO je uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou
                                na 24 mesiacov.</p>
                            <p>Ak službu začnete využívať v priebehu mesiaca, vaša 1. faktúra bude účtovaná v alikvotnej výške.
                                <br> Poplatok mesačného programu služby zahŕňa prevádzku a služby obsiahnuté v rámci dohodnutého programu služieb. Poplatky
                                nad rámec dohodnutého programu služieb sú účtované osobitne v zmysle&nbsp;
                                <a target="_blank" href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Cenníka</a>.</p>
                        </div>
                    </div>
                </div>
                <!-- personalForm -->
                <div class="personalForm clearfix">
                    <h3 class="sec__title">Osobné údaje</h3>
                    <span class="infoRight"><span style="color:#e20074">*</span> Polia označené hviezdičkou sú povinné.</span>
                    <div class="formContent">
                        <form class="rbCheckbox">
                            <div class="checkbox">
                                <span class="">
                                    <input type="checkbox" name="company" id="company">
                                </span>
                                <label for="company">Objednať na firmu</label>
                            </div>
                        </form>
                        <form name="personalInfoForm" id="personalInfoForm" class="personalInfoForm" action="">
                            <div class="formField business">
                                <label for="ico">IČO<span>*</span></label>
                                <input type="text" id="ico" name="ico" value="" placeholder="">
                            </div>
                            <div class="formField business">
                                <label for="dic">DIČ<span>*</span></label>
                                <input type="text" id="dic" name="dic" value="" placeholder="">
                            </div>
                            <div class="formField business">
                                <label for="icdph">IČDPH<span>*</span></label>
                                <input type="text" id="icdph" name="icdph" value="" placeholder="">
                            </div>
                            <div class="formField business">
                                <label for="businessName">Spoločnosť:<span>*</span></label>
                                <input type="text" id="businessName" name="businessName" value="" placeholder="">
                            </div>
                            <div class="formField business">
                                <label for="ownerName">Meno konateľa:<span>*</span></label>
                                <input type="text" id="ownerName" name="ownerName" value="" placeholder="">
                            </div>

                            <div class="formField firstName">
                                <label for="firstName">Meno:<span>*</span></label>
                                <input type="text" id="firstName" name="firstName" value="" placeholder="">
                            </div>
                            <div class="formField lastName">
                                <label for="lastName">Priezvisko:<span>*</span></label>
                                <input type="text" id="lastName" name="lastName" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="email">E-mail:<span>*</span></label>
                                <input type="text" id="email" name="email" value="" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" placeholder="meno@email.sk" required>
                            </div>
                            <div class="formField">
                                <label for="mobPhone">Mobil:<span>*</span></label>
                                <input type="text" id="mobPhone" name="mobPhone" value="" placeholder="0903030303" required>
                            </div>
                            <div class="formField">
                                <label for="city">Obec:<span>*</span></label>
                                <input type="text" id="city" name="city" value="" placeholder="" required>
                            </div>
                            <div class="formField">
                                <label for="street">Ulica:<span>*</span></label>
                                <input type="text" id="street" name="street" value="" placeholder="" required>
                            </div>
                            <div class="formField streetNr">
                                <label for="streetNo">Číslo:<span>*</span></label>
                                <input type="text" id="streetNo" name="streetNo" value="" placeholder="" required>
                            </div>
                            <div class="formField zip">
                                <label for="PSC">PSČ:<span>*</span></label>
                                <input type="text" id="PSC" name="PSC" value="" minlength="5" maxlength="5" placeholder="" required>
                            </div>
                            <div class="additionalFields">
                                <p><b>Vyplenenie týchto údajov urýchli vybavenie vašej objednávky:</b></p>
                                <div class="formField">
                                    <label for="birthNum">Rodné číslo:</label>
                                    <input type="text" id="birthNum" value="" placeholder="9011190000">
                                </div>
                                <div class="formField">
                                    <label for="personID">Číslo občianskeho preukazu:</label>
                                    <input type="text" id="personID" value="" placeholder="SP123456">
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- deliveryAdressContent -->
                    <h3 class="sec__title">Doručenie</h3>
                    <div class="deliveryAdressContent">   
                        <form class="rbCheckbox">
                            <div class="checkbox">
                                <span class="">
                                    <input type="checkbox" name="deliveryAdress" id="deliveryAdress">
                                </span>
                                <label for="deliveryAdress">Chcem doručiť na inú adresu</label>
                            </div>
                        </form>
                        <form name="deliveryAdressFields" class="deliveryAdressFields" action="">
                            <div class="formField">
                                <label for="deliveryCity">Obec:</label>
                                <input type="text" id="deliveryCity" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="deliveryStreet">Ulica:</label>
                                <input type="text" id="deliveryStreet" value="" placeholder="">
                            </div>
                            <div class="formField streetNr">
                                <label for="deliveryStreetNo">Číslo:</label>
                                <input type="text" id="deliveryStreetNo" value="" placeholder="">
                            </div>
                            <div class="formField zip">
                                <label for="deliveryPSC">PSČ:</label>
                                <input type="text" id="deliveryPSC" minlength="5" maxlength="5" value="" placeholder="">
                            </div>
                            <div class="formField">
                                <label for="courier">Kontaktné tel.číslo pre kuriéra:</label>
                                <input type="text" id="courier" value="" placeholder="+421 900 111 222">
                            </div>
                            <div class="courierInfo">
                                <p>Kuriér obvykle doručuje zásielky počas pracovných dní medzi 8:00 a 17:00 hod.<br><br>
                                V deň doručenia zásielky budete informovaný prostredníctvom SMS. Ak Vás kuriér nezastihne na adrese, budeme Vás kontaktovať a dohodneme si vhodný termín opätovného doručenia.</p>
                            </div>
                        </form>
                    </div>
                    <!-- business conditions -->
                    <h3 class="sec__title">Obchodné podmienky</h3>
                    <div class="businessConditions">   
                        <form class="rbCheckbox">
                            <div class="checkbox">
                                <input type="checkbox" name="businessCondChecker" id="businessCondChecker" required>
                                <label name="businessCondChecker" for="businessCondChecker" class="businessCondChecker">Súhlasím<span>*</span> s
                                    <div class="togleArrow">
                                        <a class="toggle-arrow" href="#">podmienkami nákupu</a>
                                        <div class="arrow-content show">
                                            <div class="conditionsDetail">
                                                <p>Súhlasím* so
                                                    <a class="link" href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-mobilnej-siete/"
                                                        target="blank">všeobecnými obchodnými podmienkami</a>, osobitnými obchodnými podmienkami a
                                                    <a class="link" href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/"
                                                        target="blank">cenníkom</a> ktorý upravuje podmienky poskytovania objednávanej služby a so spracovaním osobných údajov pre potreby
                                                    uzatvorenia zmluvy podľa § 56 zákona č. 351/2011 Z.z. o elektronických komunikáciách v znení neskorších predpisov
                                                    spoločnosťou Slovak Telekom a.s. Zároveň súhlasím s
                                                    <a class="link" href="https://www.telekom.sk/documents/10179/9139637/OP_pre_uzatvaranie_zmluv_s_vyuzitim_prostriedkov_komunikacie_na_dialku_2017-01-21.pdf"
                                                        target="blank">obchodnými podmienkami pre uzatváranie zmlúv s využitím prostriedkov komunikácie na diaľku</a> a so začatím poskytovania
                                                    služieb za podmienok uvedených v tejto objednávke aj pred uplynutím lehoty 14 dní a prehlasujem, že som mal možnosť
                                                    oboznámiť sa s
                                                    <a class="link" href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/informacie-pre-koncovych-uzivatelov/"
                                                        target="blank">Informáciami o alternatívnom riešení sporov</a>.
                                                    <br>Zároveň súhlasím so zaslaním a uzatvorením
                                                    <a class="link" href="https://www.telekom.sk/wiki/ostatne/elektronicka-komunikacia"
                                                        target="blank">Dohody o elektronickej komunikácii</a>.</p>
                                            </div>
                                        </div>
                                      </div>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- shopping cart -->
            <div class="col-md-4 col-sm-12 col-xs-12 cartWrapper">
                <div class="cart clearfix">
                    <div class="cartHead">
                        <p>
                            <b>Obsah košíka</b>
                            <span class="productsInCart"> (1 produkt)</span>
                        </p>
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </div>
                    <div class="cartContent">
                        <div class="cartProgram">
                            <div class="left">
                                <p class="text">Paušál Happy XL volania</p>
                                <a href="#" class="changeProgram">
                                    <i class="fa fa-pencil" aria-hidden="true"></i>Zmeniť paušál</a>
                            </div>
                            <div class="right">
                                <p class="price">29,99 €</p>
                            </div>
                        </div>
                        <div class="cartDevice">
                            <div class="left">
                                <p class="text">Samsung Galaxy S7 Edge + náramok</p>
                                <p class="text">Jednorazovo pri kúpe</p>
                                <p class="text green">Zľava za nákup cez web</p>
                                <p class="text">Mesačne</p>
                            </div>
                            <div class="right">
                                <p class="price">529,99 €</p>
                                <p class="price green">-30,00 €</p>
                                <p class="price">10,00 €</p>
                            </div>
                        </div>
                        <div class="cartFee">
                            <div class="left">
                                <p class="text">Administratívny poplatok</p>
                            </div>
                            <div class="right">
                                <p class="price">10,00 €</p>
                            </div>
                        </div>
                        <div class="cartBottom">
                            <div class="left">
                                <p class="text magenta"><b>Jednorazovo pri kúpe</b></p>
                                <p class="text magenta"><b>Mesačne</b></p>
                            </div>
                            <div class="right">
                                <p class="price magenta"><b>539,99 €</b></p>
                                <p class="price magenta"><b>39,99 €</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom button next -->
        <div class="row">
            <div class="bottomRow-nextPrevious clearfix">
                <a href="" class="prev btn cta">
                    <i class="fa fa-chevron-left"></i> SPÄŤ</a>
                <button class="btn cta" type="submit" form="personalInfoForm" value="Submit">ODOSLAŤ OBJEDNÁVKU <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="assets/js/globalsJS.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/shoppingCart.js"></script>
<script type="text/javascript" src="assets/js/stepper.js"></script>
<script type="text/javascript" src="assets/js/step5/main.js"></script>