<div class="row">
    <!-- summaryTable -->
    <div class="col-md-8 col-sm-7 col-xs-12">
        <div class="summaryTable">
            <h3 class="sec__title">Zhrnutie Objednávky</h3>
            <div class="summTab">
                <div class="summHead">
                    <div class="left">Produkty a služby</div>
                    <div class="middle hideOnMob">Jednorazovo</div>
                    <div class="right hideOnMob">Mesačne</div>
                </div>
                <div class="innerContent">
                    <div class="pausal">
                        <div class="iconWrapper">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="left">
                            <div class="pausalName">Paušál ÁNO S</div>
                            <div class="pausalInfo">
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Volania do všetkých sietí v SR a EÚ+: 100 minút</span>
                                </p>
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Neobmedzené prichadzájúce hovory v SR a EÚ+</span>
                                </p>
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Cena SMS/MMS v SR a EÚ+: 0,07€</span>
                                </p>
                                <p>
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span>Internet v mobile v SR a EÚ+: 250 MB</span>
                                </p>
                                <p style="display: none;">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span></span>
                                </p>
                                <p style="display: none;">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                    <span></span>
                                </p>
                            </div>
                            <p class="mobMonthly">Mesačne</p>
                        </div>
                        <div class="middle hideOnMob">-</div>
                        <div class="right">
                            <p> 10 € </p>
                        </div>
                    </div>
                    <div class="vas">
                            <div class="smsmms bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>Neobmedzené SMS/MMS</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>3
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="volania bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>Neobmedzené Telekom volania</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="100min bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>100 minút do všetkých sietí</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="1gbdata bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>Mesačné dáta 1GB</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="2gbdata bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>Mesačné dáta 2GB</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="poistenie bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>Poistenie zariadenia</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>2,99
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                            <div class="easyKredit bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>Easy karta s kreditom 9 €</div>
                                    <p class="mobMonthly">Jednorazovo</p>
                                </div>
                                <div class="middle">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                                <div class="right hideOnMob">-</div>
                            </div>
                            <div class="StreamOn bt">
                                <div class="iconWrapper"></div>
                                <div class="left">
                                    <div>StreamOn</div>
                                    <p class="mobMonthly">Mesačne</p>
                                </div>
                                <div class="middle hideOnMob">-</div>
                                <div class="right">
                                    <p>0
                                        <span>€</span>
                                    </p>
                                </div>
                            </div>
                    </div>
                    <div class="fee bt">
                        <div class="iconWrapper">
                            <i class="fa fa-file"></i>
                        </div>
                        <div class="left">
                            <div>Administratívny poplatok</div>
                            <p class="mobMonthly">Mesačne</p>
                        </div>
                        <div class="middle hideOnMob">-</div>
                        <div class="right">
                            <p>0
                                <span>€</span>
                            </p>
                        </div>
                    </div>
                    <div class="delivery bt">
                        <div class="iconWrapper">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="left">
                            <div>Doručenie kuriérom</div>
                            <p class="mobMonthly">Jednorazovo</p>
                        </div>
                        <div class="middle">
                            <p>0
                                <span>€</span>
                            </p>
                        </div>
                        <div class="right hideOnMob">-</div>
                    </div>
                    <div class="hw">
                        <div class="iconWrapper">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="left">
                            <div class="deviceName"> Huawei P20 lite 64 GB</div>
                            <p class="oneTimePrice">Jednorazovo kuriérovi</p>
                            <p class="mobMonthly pad0">Mesačne</p>
                        </div>
                        <div class="middle">
                            <p>139
                                <span>€</span>
                            </p>
                            <p class="showOnMob">8
                                <span>€</span>
                            </p>
                        </div>
                        <div class="right hideOnMob">
                            <p>8
                                <span>€</span>
                            </p>
                        </div>
                    </div>
                    <div class="newSim" style="">
                        <div class="iconWrapper">
                            <i class="sim-image"></i>
                        </div>
                        <div class="left">
                            <div class="simName">Aktivácia SIM pri objednávke cez web</div>
                            <p class="oneTimePrice" style="color: #e20074">Jednorazovo v prvej faktúre</p>
                        </div>
                        <div class="middle">
                            <p>0
                                <span>€</span>
                            </p>
                        </div>
                        <div class="right hideOnMob">-</div>
                    </div>
                </div>
                <div class="summaryInfo">
                    <div class="left">
                        <div>Spolu</div>
                        <p class="oneTimePrice">Jednorazovo</p>
                        <p class="mobMonthly pad0">Mesačne</p>
                    </div>
                    <div class="middle">
                        <p>139,00
                            <span>€</span>
                        </p>
                        <p class="showOnMob">23,99
                            <span>€</span>
                        </p>
                    </div>
                    <div class="right hideOnMob">
                        <p>23,99
                            <span>€</span>
                        </p>
                    </div>
                </div>
            </div>
        </div> 
        <!-- summary tab end -->
        <div class="togleArrow">
            <a class="toggle-arrow" href="#">Ďalšie informácie<span class="arrow-right"></span></a><p class="infoRight">Všetky ceny sú uvedené s DPH.</p>
            <div class="arrow-content">
                <div id="summaryCommitmentBoxBigSummaryDesc" class="commitmentBoxDescription" style="display: block;">
                    <p><b>ÁNO S </b> - viazanosť 24 mesiacov</p>
                    <p>Jednorazový poplatok za zariadenie uhradíte priamo kuriérovi. </p>
                    <p>Podmienkou poskytnutia ponuky k paušálu ÁNO je uzavretie Dodatku k Zmluve o poskytovaní verejných služieb s viazanosťou
                        na 24 mesiacov.</p>
                    <p>Ak službu začnete využívať v priebehu mesiaca, vaša 1. faktúra bude účtovaná v alikvotnej výške.
                        <br> Poplatok mesačného programu služby zahŕňa prevádzku a služby obsiahnuté v rámci dohodnutého programu služieb. Poplatky
                        nad rámec dohodnutého programu služieb sú účtované osobitne v zmysle&nbsp;
                        <a target="_blank" href="https://www.telekom.sk/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/cenniky-sluzieb-mobilnej-siete/">Cenníka</a>.</p>
                </div>
            </div>
        </div>