<!-- d-2-9-0 -->
<section id="d-2-9-0" class="section d-2-9-0">
    <!-- step indicator -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 step-1 step__wrap item-selected">
                <span class="step-text">Váš paušál</span>
                <div class="step-select">HAPPY M</div>
                <span class="step-num">01</span>
            </div>
            <div class="col-xs-2 step-2 step__wrap item-selected">
                <span class="step-text">INTERNET</span>
                <div class="step-select">Internet M</div>
                <span class="step-num">02</span>
            </div>
            <div class="col-xs-2 step-3 step__wrap item-selected">
                <span class="step-text">MAGIO TV</span>
                <div class="step-select">MAGIO TV M</div>
                <span class="step-num">03</span>
            </div>
            <div class="col-xs-2 step-4 step__wrap item-selected">
                <span class="step-text">PEVNÁ LINKA</span>
                <div class="step-select">PEVNÁ LINKA M</div>
                <span class="step-num">04</span>
            </div>
            <div class="col-xs-2 step-5 step__wrap active-step item-selected">
                <span class="step-text">ČLENOVIA</span>
                <div class="step-select">HAPPY M</div>
                <span class="step-num">05</span>
            </div>
        </div>
    </div>
    <!-- app view -->
    <div class="container-fixed">
        <!-- phone-num -->
        <div class="row">
            <div class="col-md-12 phone-num__wrap">
                <p class="sec__desc text_centered">
                    Kalkulácia pre číslo
                    <span class="phone-num">0907 235 375</span>
                    <a href="#" class="change-num">Zmeniť</a>
                </p>
            </div>
        </div>
        <!-- help float -->
        <div class="help-menu">
            <div class="help-menu__item">
                <a class="help-menu__link icon_question">
                    <!-- help-ico -->?</a>
                <div class="help-menu__content">
                    <p>Potrebujem pomôcť</p>
                </div>
            </div>
        </div>
        <!-- //help float -->
        <!-- main section -->
        <div class="row">
            <!-- main copy -->
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">Viete, aký mobilný program majú?</h2>
                <p class="sec__desc text_centered">Pridajte blízkych s paušálom Happy M a vyšším a ušetrite každý mesiac ešte viac. Všetci členovia si navzájom volajú zadarmo. Nezáleží pritom, aký program využívajú.</p>
            </div>
            <!-- main content -->
            <div class="row">
                <div class="col-md-12 text_centered select-box__wrap">
                    <!-- select area 1 -->
                    <div class="col-md-3 select-box-area__active">
                        <!-- bg -->
                        <div class="select-box-area__bg">
                            <!-- 1row -->
                            <div class="slide-box__row slide-box__row-title">
                            <a class="sb-close" ctrl.pclose()"> <!-- closeBtn --> </a>
                            <div class="slide-box__title"> HAPPY <span class="text_bold">M</span></div>
                                <div class="slide-box__price">14.90 €
                                    <span class="price-strike">19.99 €</span>
                                </div>
                            </div>
                            <!-- 2row -->
                            <div class="slide-box__row b-btm">
                                <div class="slide-box__value">1 GB</div>
                                <div class="slide-box__desc">dát v SR a EU+</div>
                            </div>
                            <!-- 3row -->
                            <div class="slide-box__row b-btm">
                                <div class="slide-box__value">Neobmedzené</div>
                                <div class="slide-box__desc">volania do siete Telekom</div>
                            </div>
                            <!-- 4row -->
                            <div class="slide-box__row b-btm">
                                <div class="slide-box__value">0,10 €</div>
                                <div class="slide-box__desc">SMS a MMS</div>
                            </div>
                            <!-- 5row   -->
                            <div class="slide-box__row">
                                <a href="#lb-happy-m" class="plan-show-detail popup">Zobraziť detail</a>
                            </div>
                            <!-- 6row -->
                            <div class="slide-box__row">
                                <div class="filter-text-holder">
                                    <p class="filter-title">Cena s telefónom</p>
                                </div>
                                <div class="filter-checkbox-holder">
                                    <input id="base" class="filter-checkbox" type="checkbox" checked>
                                </div>
                            </div>
                            <!-- 7row -->
                            <div class="slide-box__row">
                                <p class="slide-box__disc">
                                    Pri kúpe online 20 € zľava na telefón
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- select area 2 -->
                    <div class="col-md-3 select-box-area">
                        <!-- bg -->
                        <div class="select-box-area__bg">
                            <img src="../assets/img/ico-select-box.png" alt="">
                            <p class="select-box-area-desc">Kliknite sem a vyberte si program, ktorý využívate vy alebo váš blízky.</p>
                        </div>
                    </div>
                    <!-- select area 3 -->
                    <div class="col-md-3 select-box-area">
                        <!-- bg -->
                        <div class="select-box-area__bg">
                            <img src="../assets/img/ico-select-box.png" alt="">
                            <p class="select-box-area-desc">Kliknite sem a vyberte si program, ktorý využívate vy alebo váš blízky.</p>
                        </div>
                    </div>
                    <!-- select area 4 -->
                    <div class="col-md-3 select-box-area">
                        <!-- bg -->
                        <div class="select-box-area__bg">
                            <img src="../assets/img/ico-select-box.png" alt="">
                            <p class="select-box-area-desc">Kliknite sem a vyberte si program, ktorý využívate vy alebo váš blízky.</p>
                        </div>
                    </div>
                </div>
                   <!-- select program -->
            <div class="slide-select-box__wrap">
                <div class="slide-select-box">

                  <div class="slick-widthFix" id="dotted" >
                    <div class="program-legal"><p>Tieto služby získajú výhody Mangenta 1 skupiny.</p></div>
                    <div class="">
                    <!-- 1 -->
                    <div class="col-xs-2 slide-select-box__cube slide-select-box__active">
                        <div class="slide-select-box__cube-price"> <!-- empty --></div>
                        <div class="slide-select-box__cube-type">
                            EASY karta</div>
                    </div>
                    <!-- 2 -->
                    <div class="col-xs-2 slide-select-box__cube test ">
                        <div class="slide-select-box__cube-price"> +6.00</div>
                        <div class="slide-select-box__cube-type">
                            bez zavazkov</div>
                    </div>
                    <!-- 3 -->
                    <div class="col-xs-2 slide-select-box__cube ">
                      <div class="slide-select-box__cube-sale">4.90 €</div>
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            Happy XS mini</div>
                    </div>
                    <!-- 4 -->
                    <div class="col-xs-2 slide-select-box__cube ">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            Happy XS</div>
                    </div>

                    <!-- 5 -->
                    <div class="col-xs-2 slide-select-box__cube ">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            Happy S</div>
                    </div>
                  </div>
                  </div>

                  <div class="slick-widthFix">
                    <div class="program-legal" style="text-align:left;"><p>Tieto paušály zvyšujú zľavy aj pre ďalších členov skupiny.</p></div>
                    <div class="programs" style="width: 440px;">
                    <!-- 6 -->
                    <div class="col-xs-2 slide-select-box__cube programItem">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            Happy M</div>
                    </div>
                    <!-- 7 -->
                    <div class="col-xs-2 slide-select-box__cube programItem">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            Happy L</div>
                    </div>
                     <!-- 8 -->
                    <div class="col-xs-2 slide-select-box__cube programItem">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            HAPPY XL Dáta pre mladých</div>
                    </div>
                     <!-- 9 -->
                    <div class="col-xs-2 slide-select-box__cube programItem">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            Happy XL</div>
                    </div>
                     <!-- 10 -->
                    <div class="col-xs-2 slide-select-box__cube programItem">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            HAPPY XL VOLANIA</div>
                    </div>
                    <!-- 11 -->
                    <div class="col-xs-2 slide-select-box__cube programItem">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            HAPPY XXL</div>
                    </div>
                    <!-- 12 -->
                    <div class="col-xs-2 slide-select-box__cube programItem">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            HAPPY PROFI</div>
                    </div>
                </div>
              </div>

                </div>
                </div>
            </div>
            </div>

        </div>
    </div>
    <!-- step controls -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 controls__wrap">
                <!-- left -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-left">
                        <div class="arrow-ico arrow-back">
                            <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                        </div>
                        <div class="arrow-text"> SPÄŤ </div>
                    </div>
                </div>
                <!-- middle -->
                <div class="col-xs-8 col-sm-4">
                    <div class="indicator__holder">
                        <span class="indicator-text">váš paušál + internet + TV + PEVNÁ LINKA</span>
                        <span class="indicator-price">ušetríte
                            <span class="indicator-price-num text_magenta">4</span>
                        <span class="text_magenta">€ / mesiac</span>
                        </span>
                    </div>
                </div>
                <!-- right -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-right arrow-active">
                        <div class="arrow-text">POKRAČOVAŤ</div>
                        <div class="arrow-ico arrow-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"><!-- > --></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //d-2-9-0 -->
<!-- d-2-7-0 -->
<section id="d-2-7-0" class="section d-2-7-0">
    <!-- step indicator -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 step-1 step__wrap item-selected">
                <span class="step-text">Váš paušál</span>
                <div class="step-select">HAPPY M</div>
                <span class="step-num">01</span>
            </div>
            <div class="col-xs-2 step-2 step__wrap item-selected">
                <span class="step-text">INTERNET</span>
                <div class="step-select">Internet M</div>
                <span class="step-num">02</span>
            </div>
            <div class="col-xs-2 step-3 step__wrap item-selected">
                <span class="step-text">MAGIO TV</span>
                <div class="step-select">MAGIO TV M</div>
                <span class="step-num">03</span>
            </div>
            <div class="col-xs-2 step-4 step__wrap active-step item-selected">
                <span class="step-text">PEVNÁ LINKA</span>
                <div class="step-select">PEVNÁ LINKA M</div>
                <span class="step-num">04</span>
            </div>
            <div class="col-xs-2 step-5 step__wrap">
                <span class="step-text">ČLENOVIA</span>
                <span class="step-num">05</span>
            </div>
        </div>
    </div>
    <!-- app view -->
    <div class="container-fixed">
        <!-- phone-num -->
        <div class="row">
            <div class="col-md-12 phone-num__wrap">
                <p class="sec__desc text_centered">
                    Kalkulácia pre číslo
                    <span class="phone-num">0907 235 375</span>
                    <a href="#" class="change-num">Zmeniť</a>
                </p>
            </div>
        </div>
        <!-- help float -->
        <div class="help-menu">
            <div class="help-menu__item">
                <a class="help-menu__link icon_question">
                    <!-- help-ico -->?</a>
                <div class="help-menu__content">
                    <p>Potrebujem pomôcť</p>
                </div>
            </div>
        </div>
        <!-- //help float -->
        <!-- main section -->
        <div class="row">
            <!-- main copy -->
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">Máte pevnú linku od Telekomu?</h2>
                <p class="sec__desc text_centered">Služba Pevná linka vám taktiež zníži cenu paušálu, ak ju pridáte do svojej Magenta 1 skupiny.</p>
            </div>
            <!-- main content -->
            <div class="row">
                <div class="col-md-12 text_centered">
                    <!-- slide 1 -->
                    <div class="col-md-4 offset-md-4 slide-box">
                        <!-- 1row -->
                        <div class="slide-box__row slide-box__row-title">
                            <div class="slide-box__title"> PEVNÁ LINKA <span class="text_bold">M</span></div>
                            <div class="slide-box__price">10.00 €</div>
                        </div>
                        <!-- 2row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">Neobmedzené volania</div>
                            <div class="slide-box__desc">
                                do pevných sietí v SR a do mobilnej siete Telekom
                            </div>
                        </div>
                        <!-- 3row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">100 minút</div>
                            <div class="slide-box__desc">do ostatných mobilných sietí v SR a do Európskej únie</div>
                        </div>
                        <!-- row Zobrazit detail   -->
                        <div class="slide-box__row">
                            <a href="#lb-happy-m" class="plan-show-detail popup">Zobraziť detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- select program -->
            <div class="slide-select-box__wrap">
                <div class="slide-select-box">
                    <!-- 1 -->
                    <div class="col-xs-2 slide-select-box__cube slide-select-box__active">
                        <div class="slide-select-box__cube-price"> +4.00</div>
                        <div class="slide-select-box__cube-type">
                            PEVNÁ LINKA M</div>
                    </div>
                    <!-- 2 -->
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> +6.00</div>
                        <div class="slide-select-box__cube-type">
                            PEVNÁ LINKA L</div>
                    </div>
                    <!-- 3 -->
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            PEVNÁ LINKA XL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- step controls -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 controls__wrap">
                <!-- left -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-left">
                        <div class="arrow-ico arrow-back">
                            <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                        </div>
                        <div class="arrow-text"> SPÄŤ </div>
                    </div>
                </div>
                <!-- middle -->
                <div class="col-xs-8 col-sm-4">
                    <div class="indicator__holder">
                        <span class="indicator-text">váš paušál + internet + TV</span>
                        <span class="indicator-price">ušetríte
                            <span class="indicator-price-num text_magenta">4</span>
                        <span class="text_magenta">€ / mesiac</span>
                        </span>
                    </div>
                </div>
                <!-- right -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-right arrow-active">
                        <div class="arrow-text">POKRAČOVAŤ</div>
                        <div class="arrow-ico arrow-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"><!-- > --></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //d-2-7-0 -->
<!-- d-2-6-0 -->
<section id="d-2-6-0" class="section d-2-6-0">
    <!-- step indicator -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 step-1 step__wrap item-selected">
                <span class="step-text">Váš paušál</span>
                <div class="step-select">HAPPY M</div>
                <span class="step-num">01</span>
            </div>
            <div class="col-xs-2 step-2 step__wrap item-selected">
                <span class="step-text">INTERNET</span>
                <div class="step-select">Internet M</div>
                <span class="step-num">02</span>
            </div>
            <div class="col-xs-2 step-3 step__wrap active-step item-selected">
                <span class="step-text">MAGIO TV</span>
                <div class="step-select">MAGIO TV M</div>
                <span class="step-num">03</span>
            </div>
            <div class="col-xs-2 step-4 step__wrap">
                <span class="step-text">PEVNÁ LINKA</span>
                <span class="step-num">04</span>
            </div>
            <div class="col-xs-2 step-5 step__wrap">
                <span class="step-text">ČLENOVIA</span>
                <span class="step-num">05</span>
            </div>
        </div>
    </div>
    <!-- app view -->
    <div class="container-fixed">
        <!-- phone-num -->
        <div class="row">
            <div class="col-md-12 phone-num__wrap">
                <p class="sec__desc text_centered">
                    Kalkulácia pre číslo
                    <span class="phone-num">0907 235 375</span>
                    <a href="#" class="change-num">Zmeniť</a>
                </p>
            </div>
        </div>
        <!-- help float -->
        <div class="help-menu">
            <div class="help-menu__item">
                <a class="help-menu__link icon_question">
                    <!-- help-ico -->?</a>
                <div class="help-menu__content">
                    <p>Potrebujem pomôcť</p>
                </div>
            </div>
        </div>
        <!-- //help float -->
        <!-- main section -->
        <div class="row">
            <!-- main copy -->
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">Zvoľte Magio TV, ktorú by ste chceli</h2>
                <p class="sec__desc text_centered">Nezáleží na tom, ktorú Magio TV máte vo svojej Magenta 1 skupine. Každý program znižuje cenu vášho paušálu.</p>
            </div>
            <!-- main content -->
            <div class="row">
                <div class="col-md-12 text_centered">
                    <!-- slide 1 -->
                    <div class="col-md-4 offset-md-4 slide-box">
                        <!-- 1row -->
                        <div class="slide-box__row slide-box__row-title">
                            <div class="slide-box__title"> MAGIO TV <span class="text_bold">M</span></div>
                            <div class="slide-box__price">+4.00 €</div>
                        </div>
                        <!-- 2row -->
                        <div class="slide-box__row b-btm">
                            <!-- <div class="slide-box__value">1 GB</div> -->
                            <div class="slide-box__desc">
                                <span class="slide-box__desc-feature">61 TV staníc</span>
                                <span class="slide-box__desc-feature">1x základný český balík</span>
                                <span class="slide-box__desc-feature">3x programový balík podľa výberu</span>
                            </div>
                        </div>
                        <!-- 3row -->
                        <div class="slide-box__row b-btm">
                            <!-- <div class="slide-box__value">Neobmedzené</div> -->
                            <div class="slide-box__desc">
                                <img src="../assets/img/tv-1.png" alt="">
                            </div>
                        </div>
                        <!-- 4row -->
                        <div class="slide-box__row b-btm">
                            <!-- <div class="slide-box__value">0,10 €</div> -->
                            <div class="slide-box__desc">Mobilná TV Magio GO zadarmo
                                <br> Nahrávanie, zastavenie a pretáčenia programu dozadu a späť
                            </div>
                        </div>
                        <!-- row Zobrazit detail   -->
                        <div class="slide-box__row">
                            <a href="#lb-happy-m" class="plan-show-detail popup">Zobraziť detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- select program -->
            <div class="slide-select-box__wrap">
                <div class="slide-select-box">
                    <!-- 1 -->
                    <div class="col-xs-2 slide-select-box__cube slide-select-box__active">
                        <div class="slide-select-box__cube-price"> +4.00</div>
                        <div class="slide-select-box__cube-type">
                            TELEVÍZIA M</div>
                    </div>
                    <!-- 2 -->
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> +6.00</div>
                        <div class="slide-select-box__cube-type">
                            TELEVÍZIA L</div>
                    </div>
                    <!-- 3 -->
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> +8.00</div>
                        <div class="slide-select-box__cube-type">
                            TELEVÍZIA XL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- step controls -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 controls__wrap">
                <!-- left -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-left">
                        <div class="arrow-ico arrow-back">
                            <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                        </div>
                        <div class="arrow-text"> SPÄŤ </div>
                    </div>
                </div>
                <!-- middle -->
                <div class="col-xs-8 col-sm-4">
                    <div class="indicator__holder">
                        <span class="indicator-text">Váš paušál + internet</span>
                        <span class="indicator-price">ušetríte
                            <span class="indicator-price-num text_magenta">4</span>
                        <span class="text_magenta">€ / mesiac</span>
                        </span>
                    </div>
                </div>
                <!-- right -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-right arrow-active">
                        <div class="arrow-text">POKRAČOVAŤ</div>
                        <div class="arrow-ico arrow-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"><!-- > --></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //d-2-6-0 -->
<!-- d-2-4-0 -->
<section id="d-2-4-0" class="section d-2-4-0">
    <!-- step indicator -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 step-1 step__wrap item-selected">
                <span class="step-text">Váš paušál</span>
                <div class="step-select">HAPPY M</div>
                <span class="step-num">01</span>
            </div>
            <div class="col-xs-2 step-2 step__wrap active-step item-selected">
                <span class="step-text">INTERNET</span>
                <div class="step-select">Internet M</div>
                <span class="step-num">02</span>
            </div>
            <div class="col-xs-2 step-3 step__wrap">
                <span class="step-text">MAGIO TV</span>
                <span class="step-num">03</span>
            </div>
            <div class="col-xs-2 step-4 step__wrap">
                <span class="step-text">PEVNÁ LINKA</span>
                <span class="step-num">04</span>
            </div>
            <div class="col-xs-2 step-5 step__wrap">
                <span class="step-text">ČLENOVIA</span>
                <span class="step-num">05</span>
            </div>
        </div>
    </div>
    <!-- app view -->
    <div class="container-fixed">
        <!-- phone-num -->
        <div class="row">
            <div class="col-md-12 phone-num__wrap">
                <p class="sec__desc text_centered">
                    Kalkulácia pre číslo
                    <span class="phone-num">0907 235 375</span>
                    <a href="#" class="change-num">Zmeniť</a>
                </p>
            </div>
        </div>
        <!-- help float -->
        <div class="help-menu">
            <div class="help-menu__item">
                <a class="help-menu__link icon_question">
                    <!-- help-ico -->?</a>
                <div class="help-menu__content">
                    <p>Potrebujem pomôcť</p>
                </div>
            </div>
        </div>
        <!-- //help float -->
        <!-- main section -->
        <div class="row">
            <!-- main copy -->
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">Zvoľte Magio Internet, ktorý by ste chceli</h2>
                <p class="sec__desc text_centered">Nezáleží na tom, ktorý Magio internet máte vo svojej Magenta 1 skupine. Každý program znižuje cenu vášho paušálu.</p>
            </div>
            <!-- main content -->
            <div class="row">
                <div class="col-md-12 text_centered">
                    <!-- slide 1 -->
                    <div class="col-md-4 offset-md-4 slide-box">
                        <!-- 1row -->
                        <div class="slide-box__row slide-box__row-title">
                            <div class="slide-box__title"> MAGIO INTERNET <span class="text_bold">M</span></div>
                            <div class="slide-box__price">10.00 €</div>
                        </div>
                        <!-- 2row -->
                        <div class="slide-box__row b-btm">
                            <!-- <div class="slide-box__value">1 GB</div> -->
                            <div class="slide-box__desc">Rýchlosť
                                <br> do 15/1 Mb/s</div>
                        </div>
                        <!-- 3row -->
                        <div class="slide-box__row b-btm">
                            <!-- <div class="slide-box__value">Neobmedzené</div> -->
                            <div class="slide-box__desc">Bez časových
                                <br> a dátových obmedzení</div>
                        </div>
                        <!-- 4row -->
                        <div class="slide-box__row b-btm">
                            <!-- <div class="slide-box__value">0,10 €</div> -->
                            <div class="slide-box__desc">Stabilné a superrýchle
                                <br> pripojenie všetkých zariadení
                                <br> cez Wi-Fi alebo kábel</div>
                        </div>
                        <!-- row Zobrazit detail   -->
                        <div class="slide-box__row">
                            <a href="#lb-happy-m" class="plan-show-detail popup">Zobraziť detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- select program -->
            <div class="slide-select-box__wrap">
                <div class="slide-select-box">
                    <!-- 1 -->
                    <div class="col-xs-2 slide-select-box__cube slide-select-box__active">
                        <div class="slide-select-box__cube-price"> 10.00</div>
                        <div class="slide-select-box__cube-type">Internet M</div>
                    </div>
                    <!-- 2 -->
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> 15.00</div>
                        <div class="slide-select-box__cube-type">Internet L</div>
                    </div>
                    <!-- 3 -->
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> 20.00</div>
                        <div class="slide-select-box__cube-type">Internet XL</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- step controls -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 controls__wrap">
                <!-- left -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-left">
                        <div class="arrow-ico arrow-back">
                            <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                        </div>
                        <div class="arrow-text"> SPÄŤ </div>
                    </div>
                </div>
                <!-- middle -->
                <div class="col-xs-8 col-sm-4">
                    <div class="indicator__holder">
                        <span class="indicator-text">Váš paušál + internet</span>
                        <span class="indicator-price">ušetríte
                            <span class="indicator-price-num text_magenta">4</span>
                        <span class="text_magenta">€ / mesiac</span>
                        </span>
                    </div>
                </div>
                <!-- right -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-right arrow-active">
                        <div class="arrow-text">POKRAČOVAŤ</div>
                        <div class="arrow-ico arrow-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"><!-- > --></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //d-2-4-0 -->
<!-- d-2-2-0 -->
<section id="d-2-2-0" class="section d-2-2-0">
    <!-- step indicator -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 step-1 step__wrap active-step item-selected">
                <span class="step-text">Váš paušál</span>
                <div class="step-select">HAPPY M</div>
                <span class="step-num">01</span>
            </div>
            <div class="col-xs-2 step-2 step__wrap">
                <span class="step-text">INTERNET</span>
                <span class="step-num">02</span>
            </div>
            <div class="col-xs-2 step-3 step__wrap">
                <span class="step-text">MAGIO TV</span>
                <span class="step-num">03</span>
            </div>
            <div class="col-xs-2 step-4 step__wrap">
                <span class="step-text">PEVNÁ LINKA</span>
                <span class="step-num">04</span>
            </div>
            <div class="col-xs-2 step-5 step__wrap">
                <span class="step-text">ČLENOVIA</span>
                <span class="step-num">05</span>
            </div>
        </div>
    </div>
    <!-- app view -->
    <div class="container-fixed">
        <!-- phone-num -->
        <div class="row">
            <div class="col-md-12 phone-num__wrap">
                <p class="sec__desc text_centered">
                    Kalkulácia pre číslo
                    <span class="phone-num">0907 235 375</span>
                    <a href="#" class="change-num">Zmeniť</a>
                </p>
            </div>
        </div>
        <!-- help float -->
        <div class="help-menu">
            <div class="help-menu__item">
                <a class="help-menu__link icon_question">
                    <!-- help-ico -->?</a>
                <div class="help-menu__content">
                    <p>Potrebujem pomôcť</p>
                </div>
            </div>
        </div>
        <!-- //help float -->
        <!-- main section -->
        <div class="row">
            <!-- main copy -->
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">Vyberte mobilný paušál, ktorý využívate</h2>
                <p class="sec__desc text_centered">Na vytvorenie skupiny potrebujete paušál <span class="text_bold">Happy M</span> a vyšší.</p>
            </div>
            <!-- main content -->
            <div class="row">
                <div class="col-md-12 text_centered">
                    <!-- slide 1 -->
                    <div class="col-md-4 offset-md-4 slide-box">
                        <!-- 1row -->
                        <div class="slide-box__row slide-box__row-title">
                            <div class="slide-box__title"> HAPPY <span class="text_bold">M</span></div>
                            <div class="slide-box__price">19.99 €</div>
                        </div>
                        <!-- 2row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">1 GB</div>
                            <div class="slide-box__desc">dát v SR a EU+</div>
                        </div>
                        <!-- 3row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">Neobmedzené</div>
                            <div class="slide-box__desc">volania do siete Telekom</div>
                        </div>
                        <!-- 4row -->
                        <div class="slide-box__row b-btm">
                            <div class="slide-box__value">0,10 €</div>
                            <div class="slide-box__desc">SMS a MMS</div>
                        </div>
                        <!-- 5row   -->
                        <div class="slide-box__row">
                            <a href="#lb-happy-m" class="plan-show-detail popup">Zobraziť detail</a>
                        </div>
                        <!-- 6row -->
                        <div class="slide-box__row">
                            <div class="filter-text-holder">
                                <p class="filter-title">Cena s telefónom</p>
                            </div>
                            <div class="filter-checkbox-holder">
                                <input id="base" class="filter-checkbox" type="checkbox" checked>
                            </div>
                        </div>
                        <!-- 7row -->
                        <div class="slide-box__row">
                            <p class="slide-box__disc">
                                Pri kúpe online 20 € zľava na telefón
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- select program -->
            <div class="slide-select-box__wrap">
                <div class="slide-select-box">
                    <!-- 1 -->
                    <div class="col-xs-2 slide-select-box__cube slide-select-box__active">
                        <div class="slide-select-box__cube-price"> 19.99</div>
                        <div class="slide-select-box__cube-type">HAPPY M</div>
                    </div>
                    <!-- 2 -->
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> 19.99</div>
                        <div class="slide-select-box__cube-type">HAPPY L</div>
                    </div>
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> 19.99</div>
                        <div class="slide-select-box__cube-type">HAPPY XL</div>
                    </div>
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> 19.99</div>
                        <div class="slide-select-box__cube-type">HAPPY Volania</div>
                    </div>
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> 19.99</div>
                        <div class="slide-select-box__cube-type">HAPPY XXL</div>
                    </div>
                    <div class="col-xs-2 slide-select-box__cube">
                        <div class="slide-select-box__cube-price"> 19.99</div>
                        <div class="slide-select-box__cube-type">HAPPY PROFI</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- step controls -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 controls__wrap">
                <!-- left -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-left">
                        <div class="arrow-ico arrow-back">
                            <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                        </div>
                        <div class="arrow-text"> SPÄŤ </div>
                    </div>
                </div>
                <!-- middle -->
                <div class="col-xs-8 col-sm-4">
                    <div class="indicator__holder">
                        <span class="indicator-text">Váš paušál + internet</span>
                        <span class="indicator-price">ušetríte
                            <span class="indicator-price-num text_magenta">4</span>
                        <span class="text_magenta">€ / mesiac</span>
                        </span>
                    </div>
                </div>
                <!-- right -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-right arrow-active">
                        <div class="arrow-text">POKRAČOVAŤ</div>
                        <div class="arrow-ico arrow-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"><!-- > --></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- d-2-2-0 LIGHTBOXES -->
<!-- close pre angular
/******** jQuery fix ********/
                //close modal
                self.pclose = function(data) {
                    $.fancybox.close();
                    //console.log(':::popup close:::');
                };
-->
<div style="display: none;">
    <!--pecka info -->
    <div id="lb-happy-m">
        <div class="lb-head">
            <a class="lb-close" ng-click="$ctrl.pclose()">
                <!-- closeBtn -->
            </a>
            <div class="lb-title__wrap">
                <h2 class="lb-title">Mobilný paušál</h2>
                <h2 class="lb-title-type">HAPPY M</h2>
                <h2 class="lb-title-price">19.99 €</h2>
            </div>
            <div class="lb-head-img__wrap">
                <img class="lb-head-ico" src="../assets/img/ico-lb-phone.png" alt="">
            </div>
        </div>
        <!-- POPUP CONTENT -->
        <div class="p-device-content">
            <div class="plmp__body">
                <div class="plmp__body-row row plmp__row-data">
                    <div class="plmp__body-col plmp__body-col-1">
                        <div class="plmpd-icons"><img src="../assets/img/ico-plm-data.png" alt="">
                        </div>
                    </div>
                    <div class="plmp__body-col plmp__body-col-2">
                        <p class="plmpd-title">4G DATA</p>
                        <p class="plmp__data">1 GB</p>
                        <p class="plmp__data-location plmp_small">dát v SR a EU+</p>
                    </div>
                </div>
                <!-- call outgoing -->
                <div class="plmp__body-row row plmp__row-call">
                    <div class="plmp__body-col plmp__body-col-1">
                        <div class="plmpd-icons"><img src="../assets/img/ico-plm-outgoing.png" alt="">
                            <!-- outgoing -->
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="plmp__body-col plmp__body-col-2">
                        <p class="plmpd-title">Odchádzajúce volania</p>
                        <div class="col-md-6 plmp__body-col__left">
                            <p class="plmp__call-tit">Neobmedzené</p>
                            <p class="plmp__call-desc plmp_small">
                                do siete Telekom
                                <span class="br-line">a pevných sietí v SR</span>
                            </p>
                        </div>
                        <div class="col-md-6 plmp__body-col__right">
                            <p class="plmp__call-tit">+150 minút</p>
                            <p class="plmp__call-desc plmp_small">
                                do ostatných sietí v SR
                                <br> zo SR do EÚ+
                                <br> z EÚ+ do SR
                                <br> z EÚ+ do EÚ+
                            </p>
                        </div>
                    </div>
                </div>
                <!-- call incoming -->
                <div class="plmp__body-row row plmp__row-call">
                    <!-- 1 -->
                    <div class="plmp__body-col plmp__body-col-1">
                        <div class="plmpd-icons"><img src="../assets/img/ico-plm-incoming.png" alt="">
                            <!-- incoming -->
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="plmp__body-col plmp__body-col-2">
                        <p class="plmpd-title">Prichádzajúce volania</p>
                        <p class="plmp__call-tit">Neobmedzené</p>
                        <p class="plmp__call-desc plmp_small">v SR aEÚ+
                        </p>
                    </div>
                </div>
                <!-- sms -->
                <div class="plmp__body-row row plmp__row-sms">
                    <!-- 1 -->
                    <div class="plmp__body-col plmp__body-col-1">
                        <div class="plmpd-icons"><img src="../assets/img/ico-plm-sms.png" alt="">
                            <!-- plm-sms -->
                        </div>
                    </div>
                    <!-- 2 -->
                    <div class="plmp__body-col plmp__body-col-2">
                        <p class="plmpd-title">SMS a MMS</p>
                        <div class="col-md-6 plmp__body-col__left">
                            <p class="plmp__call-tit">Neobmedzené</p>
                            <p class="plmp__call-desc plmp_small">
                                do ostatných sietí v SR
                                <br> z EÚ+ do SR
                                <br>z EÚ+ do EÚ+
                            </p>
                        </div>
                        <div class="col-md-6 plmp__body-col__right">
                            <p class="plmp__call-tit">0,15€/SMS a 0,39€ MMS</p>
                            <p class="plmp__call-desc plmp_small">
                                do ostatných sietí v SR
                                <br>zo SR do EÚ+
                                <br>z EÚ+ do SR
                                <br>z EÚ+ do EÚ+
                            </p>
                        </div>
                    </div>
                </div>
                <div class="plmp__btn-holder"><a href="#" class="btn plan-close-btn" ng-click="$ctrl.pclose()">ZATVORIŤ DETAIL</a>
                    <!-- <p class="module-legal"></p> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //LIGHTBOXES -->
<!-- d-2-1-0 -->
<section id="d-2-1-0" class="section d-2-1-0">
    <!-- step indicator -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 step__wrap active-step item-selected">
                <span class="step-text">Váš paušál</span>
                <span class="step-num">01</span>
            </div>
            <div class="col-xs-2 step__wrap">
                <span class="step-text">INTERNET</span>
                <span class="step-num">02</span>
            </div>
            <div class="col-xs-2 step__wrap">
                <span class="step-text">MAGIO TV</span>
                <span class="step-num">03</span>
            </div>
            <div class="col-xs-2 step__wrap">
                <span class="step-text">PEVNÁ LINKA</span>
                <span class="step-num">04</span>
            </div>
            <div class="col-xs-2 step__wrap">
                <span class="step-text">ČLENOVIA</span>
                <span class="step-num">05</span>
            </div>
        </div>
    </div>
    <!-- app view -->
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12 phone-num__wrap">
                <p class="sec__desc text_centered">
                    Kalkulácia pre číslo
                    <span class="phone-num">0907 235 375</span>
                    <a href="#" class="change-num">Zmeniť</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">Máte mobilný paušál od Telekomu?</h2>
                <p class="sec__desc text_centered">Na vytvorenie skupiny potrebujete paušál <span class="text_bold">Happy M</span> a vyšší.</p>
            </div>
            <div class="col-md-12 service__wrap text_centered">
                <!-- 1 -->
                <div class="col-md-6 offset-md-3 service__box service__box-select">MÁM MOBILNÝ PAUŠÁL</div>
                <!-- 2 -->
                <div class="col-md-6 offset-md-3 service__box service__box-select service__box-active">MÁM ZÁUJEM O NOVÝ PAUŠÁL</div>
                <!-- 3 -->
                <div class="col-md-6 offset-md-3 service__box service__box-select">ZNÁMY MÁ TELEKOM</div>
                <!-- 4 -->
                <div class="col-md-6 offset-md-3 service__box service__box-select">NEMÁM ZÁUJEM</div>
            </div>
        </div>
    </div>
    <!-- step controls -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 controls__wrap">
                <!-- left -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-left">
                        <div class="arrow-ico arrow-back">
                            <i class="fa fa-chevron-left" aria-hidden="true"><!-- < --></i>
                        </div>
                        <div class="arrow-text"> SPÄŤ </div>
                    </div>
                </div>
                <!-- middle -->
                <div class="col-xs-8 col-sm-4">
                    <!--  <div class="indicator__holder">
                        <span class="indicator-text">Váš paušál + internet</span>
                        <span class="indicator-price">ušetríte
                            <span class="indicator-price-num text_magenta">4</span>
                            <span class="text_magenta">€ / mesiac</span>
                        </span>
                    </div> -->
                </div>
                <!-- right -->
                <div class="col-xs-2 col-sm-4">
                    <div class="arrow__holder arrow-right arrow-active">
                        <div class="arrow-text">POKRAČOVAŤ</div>
                        <div class="arrow-ico arrow-next">
                            <i class="fa fa-chevron-right" aria-hidden="true"><!-- > --></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- d-2-0-0 -->
<section id="d-2-0-0" class="section d-2-0-0">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6 title__holder">
                <div class="title__wrap">
                    <h1 class="main-title"><span class="br-line">VYPOČÍTAJTE,</span><span class="br-line"> KOĽKO UŠETRÍTE VĎAKA</span>
                    <span class="text_bold">MAGENTA 1 SKUPINE</span>
                </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 main-desc__wrap">
                <p class="main-desc">Čaká na vás jednoduchá kalkulačka, v ktorej si môžete nezáväzne vytvoriť vašu Magenta 1 skupinu a zistiť, koľko vďaka nej ušetríte.
                    <br>
                    <br> Môžete napríklad využívať rovnaké služby ako doteraz, ale platiť menej než ste boli zvyknutí. Alebo získať vyšší paušál za cenu nižšieho.
                    <br>
                    <br> Kalkuláciu môžete uložiť na neskôr alebo ju zdieľať s blízkymi.</p>
                <a href="#" class="btn cta">VYPOČítať Zľavu</a>
                <p class="main-desc">Už viete, ako má vyzerať vaša Magenta 1 skupina? <a href="#">Založiť skupinu</a></p>
            </div>
        </div>
    </div>
</section>
<!-- vendor scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
<script src="https://cdn.bootcss.com/systemjs/0.19.47/system-polyfills.src.js"></script>
<script src="https://npmcdn.com/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
<!-- ng -->
<!-- app -->
<!-- js -->
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
