#ratingForm {
  overflow: hidden;
}

.portlet-body .journal-content-article .feedback-footer h2 {
  padding-bottom: 0;
}

.feedback-footer {
  display: none;
  min-height: 350px;
  text-align: left;
  margin-top: 30px;
  width: 430px;
  
  @media screen and (max-width: 560px) {
    width: inherit;
  }
  
  .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
  }
  
  .header-desc {
    margin-bottom: 20px;
    font-size: 20px;
    color: #a4a4a4;
  }
  
  .rating-widget {
    
    .clearfix {
      clear: both;
    }
    
    .header {
      padding: 20px 0;
      position: relative;
      margin-bottom: 10px;
      
    }
    
    .header:after {
      content: "";
      display: block;
      height: 1px;
      background: #eee;
      position: absolute;
      left: 30%;
      right: 30%;
    }
    
    .header h2 {
      font-size: 3em;
      font-weight: 300;
      margin-bottom: 0.2em;
    }
    
    .header p {
      font-size: 14px;
    }
    
    
    #a-footer {
      margin: 20px 0;
    }
    
    .success-box {
      display: none;
      min-width: 370px;
      margin: 0 auto;
      padding: 10px 10px;
      border: 1px solid #bbdc9b;
      background: #e9f4de;
      border-radius: 3px;
      color: #4d831a;
      font-weight: bold;
    }
    
    .success-box img {
      margin-right: 10px;
      display: inline-block;
      vertical-align: top;
    }
    
    .success-box > div {
      vertical-align: top;
      display: inline-block;
      color: #888;
    }
    
    
    /* Rating Star Widgets Style */
    .rating-stars {
      height: auto;
      
      .star-answer {
        text-align: center;
        display: block;
        width: 100%;
        color: #a4a4a4;
        line-height: 18px;
      }
      
      ul {
        list-style-type: none;
        padding: 0;
        
        -moz-user-select: none;
        -webkit-user-select: none;
      }
      
      ul > li.star {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 20px;
        vertical-align: top;
        width: 75px;
        cursor: pointer;
      }
      
      ul > li.star:first-child {
        margin-left: 0;
      }
      
      ul > li.star:last-child {
        margin-right: 0;
      }
      
      ul > li.star > i.fa {
        font-size: 2em;
        color: #878787;
        background: none;
      }
      
      ul > li.star.hover > i.fa {
        color: #d5ad10;
      }
      
      ul > li.star.selected > i.fa {
        color: #d5ad10;
      }
      
      
      @media screen and (max-width: 560px) {
        ul > li.star {
          font-size: 0.9em;
          width: 60px;
        }
        
        ul > li.star > i.fa {
          font-size: 2em;
        }
      }
      
    }
    
    .rating-nps {
      margin: 0 auto;
      height: auto;
      margin-top: 30px;
      width: 362px;
      
      .nps-value {
        color: #e20074;
      }
      
      .nps-answer {
        display: block;
        width: 100%;
        color: #a4a4a4;
        font-size: 16px;
        text-align: center;
      }
      
      .nps-left {
        margin-left: -30px;
        
        @media screen and (max-width: 560px) {
          margin-left: 0;
        }
        
      }
      
      .nps-right {
        margin-left: 30px;
        
        @media screen and (max-width: 560px) {
          margin-left: 0;
        }
      }
      
      ul {
        list-style-type: none;
        padding: 0 !important;
        margin: 0 !important;
        
        -moz-user-select: none;
        -webkit-user-select: none;
      }
      
      ul > li.nps {
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 20px;
        vertical-align: top;
        width: 25px;
        
        border: 1px solid #e20074;
        border-radius: 5px;
        font-size: 18px;
        overflow: hidden;
        
        text-align: center;
        
        cursor: pointer;
      }
      
      ul > li.nps:first-child {
        margin-left: 0;
      }
      
      ul > li.nps:last-child {
        margin-right: 0;
      }
      
      ul > li.nps:last-child .nps-value {
        margin-right: 3px;
      }
      
      ul > li.nps.hover {
        color: #fff;
        border: 1px solid #e20074;
        background-color: #e20074;
      }
      
      ul > li.nps.hover .nps-value {
        color: #fff;
      }
      
      ul > li.nps.selected {
        color: #fff;
        border: 1px solid #e20074;
        background-color: #e20074;
      }
      
      ul > li.nps.selected .nps-value {
        color: #fff;
      }
      
    }
    
  }
}

#star-desc {
  font-size: 17px;
  color: #000;
  text-align: left;
  
  margin-top: 20px;
  margin-bottom: 10px;
}

#stars {
  width: 120%;
  margin-left: -20px;
  margin-right: -20px;
  font-size: 15px;
  
  @media screen and (max-width: 1267px) {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  @media screen and (max-width: 920px) {
    text-align: center;
    width: 120%;
    margin-left: -30px;
    margin-right: -20px;
  }
  
}

#note {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  min-width: 340px;
  height: 80px;
  color: #878787;
}

.page {
  .star-note {
    display: none;
    margin-top: 20px;
    
    label {
      font-size: 18px !important;
      margin-bottom: 10px;
      color: #000;
    }
  }
}

.journal-content-article ul:not(.accordion):not(.content-menu):not(.content-sub-menu):not(.tabs-navi):not(.list-arrow):not(.list-square):not(.toolbox-list) {
  //margin: 1em;
  //margin-left: 2em;
}

#submit {
  cursor: pointer;
}

#content .bd-scenario-thankyou {
  
  .imageHolder-desktop {
    @media screen and (max-width: 1200px) {
      width: 50%;
    }
    
    @media screen and (max-width: 920px) {
      width: 40%;
    }
    
    @media screen and (max-width: 770px) {
      display: none;
    }
  }
  
  .textHolder {
    
    @media screen and (max-width: 1200px) {
      width: 50%;
    }
    
    @media screen and (max-width: 920px) {
      width: 60%;
    }
    
    @media screen and (max-width: 770px) {
      width: 100%;
    }
    
    .content {
      
      margin-left: 40px;
      margin-right: 40px;
      
      @media screen and (max-width: 993px) {
        margin: 0;
        padding-left: 20px;
        padding-right: 20px;
      }
      
      @media screen and (max-width: 360px) {
      }
      
      p {
        font-size: 18px;
        
        @media screen and (max-width: 993px) {
          margin: 10px 0 0 0;
        }
      }
      
      p .boldtxt {
        font-size: 18px;
      }
      
      h2 {
        margin: 40px 0 40px 0;
        
        @media screen and (min-width: 1367px) {
          margin: 40px 0 40px 0;
        }
        
        @media screen and (max-width: 980px) {
          margin: 40px 0 40px 0;
        }
        
      }
      
      .star-box {
        h2 {
          color: #e20074;
          font-size: 21px;
          text-align: left;
          
          margin: 10px 0 10px 0;
          
          @media screen and (min-width: 1367px) {
            margin: 10px 0 10px 0;
          }
          
          @media screen and (max-width: 980px) {
            margin: 10px 0 10px 0;
          }
        }
      }
      
    }
  }
  
  .vh100 {
    height: 120vh;
    max-height: 850px;
    
    @media screen and (min-width: 1367px) {
      max-height: 750px;
    }
    
    @media screen and (max-width: 360px) {
      max-height: none;
      height: auto;
    }
    
  }
  
}

@media screen and (max-width: 360px) {
  #content .bd-scenario-thankyou .nav-stepper {
    margin: 0;
  }
  
  #content .bd-scenario-thankyou .textHolder .content p {
  }
  
  .feedback-footer .rating-widget .rating-nps {
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .feedback-footer .rating-widget .rating-nps ul > li.nps {
    width: 23px;
    border: 1px solid #e20074;
    border-radius: 4px;
    font-size: 17px;
  }
  
}

.moj-telekom {
  width: 480px;
  position: absolute;
  right: 0;
  bottom: 30px;
  padding-left: 20px;
  padding-right: 30px;
  background-color: #000;
 
  #stars {
    margin-left: -40px;
  }
  
  #star-desc {
    color: #fff;
  }
  
  .star-note label {
    color: #fff;
  }
  
  .rating-widget .success-box {
    margin-top: 10px;
  }
  
  .ico-close {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    
    img {
      width: 20px;
      height: auto;
    }
  }
  
  h2 {
    border-bottom: none;
    font-size: 28px;
    font-weight: 600;
    color: #e20074;
    line-height: 28px;
  }
  
  .header-desc {
    font-size: 28px;
    margin-top: 10px;
    color: #e20074;
  }

  #star-desc {
    margin-bottom: 40px;
  }
  
  .btn {
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    background-color: #db0070;
    border: 1px solid #cc0069;
    border-radius: 4px;
    padding: 2px 19px;
    display: inline-block;
    text-decoration: none;
  }
  
  a.btn:hover {
    color: #fff;
  }
  
  .star-note {
    margin-bottom: 30px;
  }
  
  .star-answer {
    font-size: 15px;
  }
  
  ul > li.star {
    margin-left: 0;
    margin-right: 0;
    cursor: pointer;
  }
  
}