/* personalForma section */
#section-shoppingScenario.stepPersonalInfo {
    .personalForm {
        .checkbox {
            label {
                font-size: 18px;
                vertical-align: sub;
            }
        }
        .infoRight {
            float: right;
            @media screen and (max-width: 768px) {
                float: none;
                display: block;
            }
        }
        .formContent, .deliveryAdressFields {
            background-color: #ededed;
            padding: 2%;
            margin-bottom: 3%;
            .formField {
                display: inline-block;
                width: 49.3%;
                @media screen and (max-width: 543px) {
                     width: 100%;
                 }
                &.streetNo,
                &.psc {
                    width: 24.4%;
                    @media screen and (max-width: 768px) {
                        width: 24%;
                    }
                    @media screen and (max-width: 543px) {
                        width: 100%;
                     }
                }
            }
            label, input {
                display: block;
            }
            label {
                font-size: 18px;
                font-weight: 500;
            }
            input {
                border-radius: 5px;
                width: 100%;
                margin-bottom: 15px;
            }
            .additionalFields {
                border-top: 1px solid #ccc;
            }
        }
        
        .formContent {
            margin-top: 2%;
        }

        .deliveryAdressContent {
            border: 1px solid #ccc;
            margin-bottom: 3%;
            .checkbox {
                padding: 2% 2% 0 2%;
                label {
                    font-size: 18px;
                    vertical-align: sub;
                }
            }
            .deliveryAdressFields {
                margin-bottom: 0%;
                background-color: #fff;
            }
        }
    }
}