<div class="c-row c-row-1 c-heading">
    <div class="c-content">
        <div class="c-text">
            <h1 style="margin-top:100px">
                <b>NOVÁ TELEVÍZIA PRE<br />
                PRE DETI V SLOVENČINE</b></h1>
            <div class="order">
                <a class="button c-btn" href="http://www.tukitv.sk/"><span>VIAC</span> </a></div>
        </div>
    </div>
</div>
<div class="c-row c-row-2">
    <div class="c-content">
        <div class="c-img">
            <img src="https://www.telekom.sk/documents/10179/227496/tuki-2.-linia.png/22487583-fbab-4ec8-8d0d-bfdf910bc999" style="width: 357px; height: 362px;" /></div>
        <div class="c-text">
            <h3>
                <b>Exkluzívne pre zákazníkov Magio televízie od Telekomu.</b></h3>
            <ul class="list-square">
                <li>
                    Najobľúbenejšie rozprávky pre malých aj veľkých.</li>
                <li>
                    Čítanie rozprávok pred spaním so známymi slovenskými hercami.</li>
                <li>
                    Originálny vzdelávací program pre deti s pesničkami.</li>
            </ul>
        </div>
    </div>
</div>

<section class="fixed-column" id="video-holder">
    <div class="container-fixed">
        <div class="row text_centered">
            <div class="col-md-12">
            <div class="video-thumbnail">
                    <div class="video-container">
                        <iframe class="video-embed" frameborder="0" allowfullscreen="" src="//www.youtube.com/embed/StKUpYJ_4GM?rel=0&color=white&controls=1&showinfo=0"></iframe>
                    </div>
                    <span class="play_btn"><!-- PLAY --></span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="c-row c-row-3" style="background-color: white;">
    <div class="c-content">
        <div class="c-text">
            <h3>
                <b>Ťuki TV je dostupná zadarmo pre zákazníkov Magio Televízie L a XL.</b></h3>
            <p>
                Pre programy Magio TV M a nižšie programy bude Ťuki TV dostupná do konca augusta zadarmo.</p>
            <p>
                Od 1. 9. 2015 bude Ťuki TV dostupná len v rámci poplatku za služby Magio TV L a Magio TV XL.</p>
            <p>
                Ťuki TV je dostupná aj pre mobilnú televíziu Magio GO do konca augusta zadarmo. Od 1. 9. 2015 bude Ťuki TV dostupná pre Magio GO podľa podmienok typu vašej Magio Televízie</p>
            <p>
                Pre existujúcich zákaznikov odporúčame pre správne zobrazenie reštartovať magio box. Kanál sa nachádza na pozícii č. 50.</p>
            <p>
                &nbsp;</p>
            <a class="button c-btn" href="/televizia/kanaly-magio-tv">MAGIO TELEVÍZIA</a></div>
        <div class="c-img">
            <img src="https://www.telekom.sk/documents/10179/227496/tuki-3.-linia.png/bad3e743-54d8-4764-bec8-001c25b3b8d1" /></div>
    </div>
</div>
<script type="text/javascript" src="../assets/js/main.js"></script>