/* Global */
/* =============== BUTTONS =============== */
#wrapper .button { color: #fff; font-size: 16px; padding: 0 17px; }

#wrapper .button_font-black { color: #000; }

#wrapper .button_cream-can { background-color: #f2c957; border: 1px solid #f2c957; }

#wrapper .button_lima { background-color: #6bb324; border: 1px solid #6bb324; }

/* helpers */
#content .mgt-50 {
	margin-top: 50px;
}
#content .txt-cntr {
    text-align: center;
}

#content .txt-right {
    text-align: right;
}

#content .color-black {
    color: #000;
}

#content .color-magenta {
    color: $magenta;
}

#content .cena-small {
    font-size: 19px;
}

#content .sec__title {
    padding-bottom: 25px;
    text-transform: uppercase;
    font-size: 40px;
    color: $magenta;
}


/* section 1 */

#content .sec-1 {
    padding-bottom: 20px;
}


/* section 2 */

#content .sec-2 {
    background-color: #ededed;
    padding-bottom: 20px;
}


/* Akcia */

#content .grid__col_6_custom {
    width: 45%;
    float: left;
    margin-right: 40px;
}

#content .akcia-title h2 {
    padding-bottom: inherit;
    margin-bottom: inherit;
}

#content .akcia-box {
    position: relative;
}

#content .akcia-desc {
    min-height: 40px;
    margin-bottom: 20px;
}

#content .akcia-right {
    text-align: right;
    padding-right: 60px;
}

#content .akcia-txt {
    font-weight: bold;
    font-size: 28px;
}

#content .strikethrough {
    position: relative;
}

#content .strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: #e20074;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

#content .ec-img {
    position: absolute;
    top: 30%;
    left: -30px;
    right: 0;
}

@media screen and (max-width: 960px) {
    #content .grid__col_6_custom {
        width: 100%;
        max-width: 400px;
        float: inherit;
        margin-right: 40px;
        text-align: center;
        margin: 0 auto;
    }
      #content .ec-img {
        position: absolute;
        top: 60%;
        left: 0px;
        right: 0;
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
    #content .ec-img {
        position: absolute;
        top: 60%;
        left: 0px;
        right: 0;
        width: 25%;
    }
}
