/* ===============
   CSS FOR MICROSITE
   =============== */

/* HERO SECTION */

#wrapper {
    background: #000000;
}

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 95px 2%;
    overflow: hidden;
    background-size: cover;
    height: 531px;
}

#hero .container-fixed {
    position: relative;
}

.hero__content {
    text-align: center;
    max-width: 460px;
}

#content .hero__title {
    font-size: 46px;
}

.logo-sony {
    position: absolute;
    top: -60px;
    right: 20px;
}

.logo-xperia {
    position: absolute;
    bottom: -80px;
    left: 50%;
}

@media screen and (max-width: 944px) {
    #hero {
        background: url(../img/kv.jpg) no-repeat 40% 50%;
    }
}

@media screen and (max-width: 600px) {
    .logo-sony,
    .logo-xperia {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
        height: auto;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 52% 48%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        //color:  $mine-shaft-dark;
    }

    #hero .btn {
        margin-top: 60px;
    }
}

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
