<section id="hero" class="hero section">
    <div class="fixed-column">
        <div class="col-group">

            <div class="grid-g__col_7 col_text">
                <h2 class="hero__title">Lenovo Moto G4 plus –<br/>Zaostrite na to najdôležitejšie</h2>
                <p class="hero__desc">Perfektne doladený smartfón po každej stránke</p>
                <ul class="hero__list">
                    <li><span>jednoduché ovládanie</span></li>
                    <li><span>profesionálne fotografie</span></li>
                    <li><span>turbo nabíjanie</span></li>
                    <li><span>ochrana súkromia</span></li>
                    <li><span>odpudzuje vodu</span></li>
                </ul>

                <img src="../assets/img/hero__logo.png" alt="" class="hero__logo">
                <br/>
                <img src="../assets/img/lenovo-logo.jpg" alt="" class="hero__logo2">

            </div>
            <div class="hero-prod__holder">
                <div class="hero-prod-ec__holder">
                    <img src="../assets/img/kv-prod.png" alt="" class="hero-prod">
                    <img src="../assets/img/hero__ec.png" alt="" class="hero__ec">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="main_sec" id="sec-1">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title">ZÁKLADNÉ  ÚDAJE</h2>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img alt="" class="img__specs" src="../assets/img/specs__img.jpg" /></div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">5,5” Full HD</div>
                        <div class="spec__param">displej so 16 mil. farieb</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">3 000 mAh</div>
                        <div class="spec__param">
                            batéria</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G LTE</div>
                        <div class="spec__param">sieť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Karta SIM</div>
                        <div class="spec__param">micro SIM, nanoSIM
                            <br/> s dodaným adaptérom</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Android™ 6.0.1 Marshmallow</div>
                        <div class="spec__param">OS</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">2 GB RAM, 16 GB úložisko</div>
                        <div class="spec__param">podpora microSD</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">P2i nano-coating</div>
                        <div class="spec__param">odpudzuje vodu</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">69,1 × 141,2 × 7,1 mm</div>
                        <div class="spec__param">rozmery (šírka x výška x hrúbka)</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">16 Mpx</div>
                        <div class="spec__param">zadný fotoaparát,
                            <br/>dva typy zaostrovania, laserové
                            <br/>a automatické s detekciou fázy (PDAF)</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">5 Mpx</div>
                        <div class="spec__param">širokouhlý predný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">8-jadrový Qualcomm®
                            <br/>Snapdragon™ 617</div>
                        <div class="spec__param">procesor s frekvenciou 1,5 GHz</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Snímač odtlačkov prstov</div>
                        <div class="spec__param">senzory</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Adreno 405</div>
                        <div class="spec__param">grafický procesor
                            <br/>s frekvenciou 550 MHz</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Najlepší fotoaparát vo svojej triede</h2>
                <p class="feat__desc">Vytvorte nádherné ostré fotografie vo dne aj v noci vďaka dvom rýchlym autofocus mechanizmom.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Vysoká výdrž s TurboPower™ napájaním</h2>
                <p class="feat__desc">Batéria s kapacitou 3 000 mAh s vami udrží krok po celý deň. Keď vám šťava dôjde, energiu až na 6 hodín získate len za 15 minút nabíjania.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Maximálny výkon</h2>
                <p class="feat__desc">Vďaka výkonnému 8-jadrovému procesoru a podpore 4G LTE môžete súčasne dátovať a používať viac aplikácií bez spomalenia.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Čítačka odtlačku prsta</h2>
                <p class="feat__desc">Zabudnite na zadávanie prístupového kódu. Jednoducho sa dotknite snímača odtlačkov prstov a telefón sa aktivuje a odomkne. Moto G Plus na rozdiel od iných telefónov rozpozná váš odtlačok prsta, nech je otočený akokoľvek.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Moto zážitok</h2>
                <p class="feat__desc">Užite si plynulú a čistú verziu systému Android. Rýchlejší telefón. Čistejší zážitok. Zvýšte výkonnosť použitím čistej a prehľadnej verzie systému Android™. Moto G Plus je rýchlejší, pretože neobsahuje nepotrebný softvér, ktorý by ho spomaľoval.
                </p>
                <img src="../assets/img/hero__ec.png" alt="" class="feat__ec">
            </div>
        </div>
    </section>
</div>

<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
