<section class="section sec-det sec-det-1" id="sec-det-1">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 back-holder" id="a_referrer" style="padding: 0px;">
        <a class="link" href="/internet/magio-internet">Vrátiť späť</a>
      </div>
    </div>
    <div class="box-pricing">
      <div class="bp__content">
        <div class="bp__inner-section">
          <div class="gallery clearfix">
            <div class="pics clearfix">
              <div class="thumbnails">
                <div class="preview">
                  <a
                    class="selected"
                    data-full="../assets/img/product1.jpg"
                    href="#"
                    ><img src="../assets/img/product1_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product2.jpg" href="#"
                    ><img src="../assets/img/product2_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product3.jpg" href="#"
                    ><img src="../assets/img/product3_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product4.jpg" href="#"
                    ><img src="../assets/img/product4_prev.png" />
                  </a>
                </div>
                <div class="preview">
                  <a data-full="../assets/img/product5.jpg" href="#"
                    ><img src="../assets/img/product5_prev.png" />
                  </a>
                </div>
              </div>
              <div class="full__holder">
                <img class="full" src="../assets/img/product1.jpg" />
              </div>
              <div class="controlls">
                <div class="indicator">
                  <div class="in__content">
                    &nbsp;
                  </div>
                </div>
                <div class="control__holder">
                  <a class="control-left" href="#"
                    ><img alt="" src="../assets/img/ico-left.png" /> Späť</a
                  >
                  <p class="img-size">
                    (<span class="current-img"></span>/<span
                      class="all-img"
                    ></span
                    >)
                  </p>
                  <a class="control-right" href="#"
                    >Ďalej <img alt="" src="../assets/img/ico-right.png"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bp__inner-section">
          <!-- OVERLAY VYPREDANE  -->
          <!-- <div class="overlay">
							<img src="../assets/img/vypredane.png" alt="">
					</div> -->
          <div class="overlay_fix">
            <h1 class="bpis__title">
              PlayStation 4 Pro 1TB White + 2 hry
            </h1>
            <p class="christ-info">
              <a class="scroll-to" href="#sec-det-2">Viac info o produkte</a>
            </p>
            <div class="box-device">
              <table class="pricing-table">
                <tbody>
                  <tr class="no-margin">
                    <td>
                      S Magio TV alebo internetom:
                    </td>
                    <td>
                      <input type="button" id="magioM" class="rpln" value="M" />
                      <input type="button" id="magioL" class="rpln" value="L" />
                      <input
                        type="button"
                        id="magioXL"
                        class="rpln"
                        value="XL"
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za zariadenia:
                    </td>
                    <td>
                      <span id="MonthylFeeMobile"></span
                      ><span class="monthly"> mesačne</span
                      ><img
                        class="ttp"
                        id="info-splatka"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="oneTimeWebPrice"></span
                      ><span class="monthly"> akontácia</span
                      ><img
                        class="ttp"
                        id="info-akontacia"
                        alt=""
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cena za službu:
                    </td>
                    <td>
                      <span id="MonthlyFeeService"></span
                      ><span class="monthly"> 2. a 3. mesiac</span
                      ><img
                        class="ttp"
                        alt=""
                        id="info-zlava"
                        src="../assets/img/info.png"
                        style="
                          width: 15px;
                          height: auto;
                          margin-left: 5px;
                          margin-bottom: -2px;
                        "
                      /><br />
                      <span id="MonthlyRegularPrice"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <a class="btn cta" type="button" id="buyBtn" href="#">KÚPIŤ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section sec-det sec-det-2 segment">
  <div class="container-fixed">
    <div class="tabs-container">
      <div class="tab__holder">
        <ul class="tabs-menu">
          <li class="variant current" data-variant="1">
            <a href="#tab-1">Popis produktu</a>
          </li>
          <li class="variant" data-variant="2">
            <a href="#tab-2">Parametre</a>
          </li>
          <li class="variant" data-variant="3">
            <a href="#tab-3">Doručenie a vrátenie</a>
          </li>
        </ul>
      </div>
      <div class="tab">
        <div class="tab-content clearfix" id="tab-1">
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Hranie a zábava v rozlíšení 4K
                </h2>
                <p class="feat-desc">
                  Hraj najväčšie trháky a tituly vytvorené exkluzívne pre
                  PlayStation vo fantastickom rozlíšení 4K a streamuj svoj
                  obľúbený zábavný obsah s neuveriteľne ostrými detailmi zo
                  zariadení s podporou 4K.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail1.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Fantastické grafické detaily
                </h2>
                <p class="feat-desc">
                  So systémom PS4 Pro dostávajú takmer živý výraz, krivky sú
                  hladšie, hrany ostrejšie a vizuálne prvky, ako vlasy, voda či
                  tráva, pôsobia prirodzenejšie.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail2.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Výrazné živé farby vďaka technológii HDR
                </h2>
                <p class="feat-desc">
                  Vďaka televízorom s technológiou HDR dokážu kompatibilné hry
                  systému PS4 zobraziť rozsah farieb, ktorý sa približuje plnému
                  spektru viditeľnému ľudskému oku, a tým poskytujú neuveriteľne
                  živé a realistické detaily.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail3.jpg" />
            </div>
          </div>
          <div class="feat feat-img-left">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Hry Gran Turismo Sport a Uncharted (Blu-Ray Disc) v cene
                </h2>
                <p class="feat-desc">
                  Zaži revolúciu v pretekaní a objav znova vzrušenie z
                  motoristického športu s hrou Gran Turismo Sport, ktorá ti
                  umožní vyraziť na trať a užiť si vysokooktánové vzrušenie,
                  ktoré ti skutočne zrýchli tep. Vydaj sa s hrou Uncharted: The
                  Lost Legacy na dobrodružstvo nabité akciou do pohoria Západný
                  Ghat v Indii a pátraj s obľúbenými postavami po poklade –
                  legendárnom zlatom kle Ganéšu.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail4.jpg" />
            </div>
          </div>
          <div class="feat feat-img-right">
            <div class="feat-text-holder">
              <div class="feat-text">
                <h2 class="feat-tit">
                  Členská karta PS Plus na 90 dní
                </h2>
                <p class="feat-desc">
                  So službou PlayStation Plus môžeš zadarmo hrať online hry s
                  kamarátmi alebo ostatnými nadšencami hier, sťahovať vybrané
                  obľúbené hry, ktoré sa menia každý mesiac, či ušetriť s
                  exkluzívnymi zľavami na množstvo hier a doplnkov.
                </p>
              </div>
            </div>
            <div class="feat-img-holder">
              <img alt="" class="feat-img" src="../assets/img/detail5.jpg" />
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab-2">
          <div class="table-holder">
            <div class="detailed-specification" style="padding: 10px;">
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Základné informácie</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Celková hmotnosť
                    </td>
                    <td class="paramValue">3,3 kg</td>
                  </tr>
                  <tr>
                    <td>
                      Rozmery (výška x šírka x hrúbka):
                    </td>
                    <td class="paramValue">55 x 295 x 327 mm</td>
                  </tr>
                  <tr>
                    <td>
                      Procesor:
                    </td>
                    <td class="paramValue">x86-64 AMD “Jaguar”, 8 jádrový</td>
                  </tr>
                  <tr>
                    <td>
                      Operacná pamät:
                    </td>
                    <td class="paramValue">GDDR5 8GB</td>
                  </tr>
                  <tr>
                    <td>
                      Celková zdielaná interná pamät:
                    </td>
                    <td class="paramValue">1TB HDD</td>
                  </tr>
                  <tr>
                    <td>
                      Podporovaná pamätové médium:
                    </td>
                    <td class="paramValue">DVD/Blu-ray drive ( read only )</td>
                  </tr>
                  <tr>
                    <td>
                      Bluetooth:
                    </td>
                    <td class="paramValue">Bluetooth®v4.0 LE</td>
                  </tr>
                  <tr>
                    <td>
                      WiFi:
                    </td>
                    <td class="paramValue">
                      Wi-Fi Dual band, 802.11 a/b/g/n/ac
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Dalšie funkcie:
                    </td>
                    <td class="paramValue">
                      Input/ Output: Super-Speed USB (USB 3.1 Gen.1) port × 3,
                      AUX port × 1, AV output: HDMI™ out port ( podpora 4K /
                      HDR)
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="tbl double">
                <thead>
                  <tr>
                    <th colspan="2">Iné</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div>Obsah balenia</div>
                    </td>
                    <td class="paramValue">
                      Konzola PlayStation 4 Pro s 1 TB pevným diskom, 1x
                      Bezdrôtový ovládač, HDMI kábel (s podporou 4K), Napájací
                      adaptér, Slúchadlá, Členská karta PS Plus na 90 dní, Hry:
                      Gran Turismo Sport a Uncharted (Blu-Ray Disc), Manuál
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="tab-content" id="tab-3">
          <div class="order-info-holder">
            <div class="order-info-wrapper">
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon4.png" />
                <p class="order-subheading">
                  <b>Informácie o stave objednávky</b>
                </p>
                <p>
                  O stave vašej objednávky vás budeme pravidelne informovať cez
                  SMS a/alebo e-mailom.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/icon1.png" />
                <p class="order-subheading">
                  <b>Prvých 14 dní bez záväzkov</b>
                </p>
                <p>
                  O stave objednávky vás budeme priebežne informovať.
                </p>
              </div>
              <div class="col-md-4">
                <img alt="" src="../assets/img/ikona_sofa.png" />
                <p class="order-subheading">
                  <b>Nákup z pohodlia domova</b>
                </p>
                <p>
                  Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní
                  v týždni
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion" data-accordion="1"></div>
    </div>
  </div>
</section>

<script type="text/javascript" src="../assets/js/main.js?v=1"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
