/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

#content .sec__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

#content .btn_grey {
    background-color: #ededed;
    border: 1px solid #b2b2b2;
    color: #383838;
}


/* HERO */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    background-size: cover;
    min-height: 398px;
}

.hero__content {
    text-align: center;
    margin-top: 160px;
}

#content .hero__title {
    color: #262626;
    text-align: center;
    font-size: 38px;
}

@media screen and (max-width: 720px) {
    .hero__content {
        width: 96%;
        margin: 80px 1% 0 1%;
        background-color: rgba(226, 0, 122, 0.9);
        padding: 20px 0;
    }
    #content .hero__title {
        color: $white;
    }
}


/* SEC 1 */

#sec-1 {
    padding: 60px 0;
}

#content .item__title {
    font-weight: bold;
    margin: 0 0 5px 0;
}

#content .item__desc {
    margin: 0;
}

.item__wrap {
    text-align: center;
}

.item__centerer {
    margin: 0 auto;
    max-width: 596px;
    width: 100%;
}

.item__wrap:nth-of-type(1) {
    margin-bottom: 20px;
}

.item__wrap:nth-of-type(1) .item__holder:nth-of-type(2) {
    margin: 0 2%;
}

#content .item__centerer .item__holder:nth-of-type(2) {
    float: right;
}

.btn__wrap {
    text-align: center;
    margin-top: 50px;
}

.btn__wrap .btn:first-of-type {
    margin-right: 10px;
}

@media screen and (max-width: 540px) {
    #content .item__holder {
        width: 100%;
        margin-bottom: 20px;
    }
    #content .item__wrap:nth-of-type(2) .item__holder:last-of-type {
        margin-bottom: 0;
    }
    .item__wrap:nth-of-type(1) {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 465px) {
    .btn__wrap .btn:first-of-type {
        margin-right: 0px;
        margin-bottom: 15px;
    }
}


/* SEC 2 */

#sec-2 .fixed-column {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 40px 0;
    margin-bottom: 80px;
}

.quote__wrap {
    //max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.img__holder img {
    max-width: 200px;
    width: 100%;
}

#content .quote__holder {
    float: right;
}

#content .quote_small {
    color: #4b4b4b;
    margin: 0;
}

#content .quote_big {
    color: $magenta;
    font-size: 24px;
}

.signature {
    margin-top: 15px;
}

#content .name {
    margin: 0;
    font-weight: bold;
}

#content .role {
    margin: 0;
}

@media screen and (max-width: 500px) {
    #content .img__holder {
        display: none;
    }
    
    #content .quote__holder {
        width: 96%;
        margin: 0 2%;
    }
}