<section id="hero">
  <div class="container-fixed">
    <div class="hero__mobile">
      &nbsp;</div>
    <div class="hero__content">
      <h1 class="hero__title">
        ZABUDLI STE SI POISTIŤ<br />
        PRI KÚPE SVOJ POUŽÍVANÝ<br />
        MOBIL ALEBO TABLET?</h1>
      <p class="hero__desc">
        Vďaka PôjdeTo môžete hodiť starosti za hlavu a poistiť si svoje zariadenia proti poškodeniu alebo zničeniu.</p>
      <a class="btn cta" href="#sec-1">VIAC INFO</a></div>
  </div>
</section>
<div id="nav-sticky">
  <ul>
    <li>
      <a class="scroll-to" href="#sec-1">Výhody</a></li>
    <li>
      <a class="scroll-to" href="#sec-2">Účel použitia</a></li>
    <li>
      <a class="scroll-to" href="#sec-3">Varianty a cena</a></li>
    <li>
      <a class="scroll-to" href="#sec-4">Ako na to</a></li>
    <li>
      <a class="scroll-to" href="#sec-5">Podmienky a dokumenty</a></li>
    <li>
      <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="/documents/10179/17094523/arrow-top.png" /></a></li>
  </ul>
</div>
<section class="section first sec-1" id="sec-1">
  <div class="container-fixed">
    <div class="grid-g__col_6">
      <h2 class="sec__title">
        Čo všetko vám ponúka poistenie?</h2>
      <ul class="list-square">
        <li>
          Poistite si <strong>mobil zakúpený v akejkoľvek predajni alebo e-shope</strong></li>
        <li>
          Poistenie je možné využiť <strong>na nový aj používaný mobil</strong><br />
          (nie starší ako 2 roky, v max. hodnote 1 500 €)</li>
        <li>
          Poistné krytie v časovej cene</li>
        <li>
          V prípade poškodenia mobilu získate jeho <strong>profesionálu opravu na&nbsp;servisných miestach Pôjdeto</strong></li>
      </ul>
    </div>
    <div class="grid-g__col_6 phone">
      <img alt="" src="../assets/img/phone.png" /></div>
  </div>
</section>
<section class="section sec-2" id="sec-2">
  <div class="container-fixed">
    <div class="grid-g__col_6 secbg">
      &nbsp;</div>
    <div class="grid-g__col_6">
      <h2 class="sec__title">
        Aké riziká kryje poistenie mobilu?</h2>
      <ul class="list-square">
        <li>
          Poškodenie a zničenie zariadenia<br />
          (rozbitý displej, obliaty mobil, nefunkčný mobil po páde)</li>
        <li>
          Krádež zariadena pri vlámaní (napr. do bytu alebo auta)</li>
        <li>
          Krádež zariadenia pri lúpežnom prepadnutí</li>
      </ul>
    </div>
  </div>
</section>
<section class="section sec-3" id="sec-3">
  <div class="container-fixed">
    <div class="grid-g__col_6">
      <h2 class="sec__title">
        Varianty a cena poistenia</h2>
      <span style="font-weight: bold;">Sadzba poistného na poistné obdobie</span><br />
      <p>
        Poistenie na 1 rok - <strong>14 % z ceny zariadenia</strong></p>
      <p>
        Poistenie na 2 roky - <strong>22 % z ceny zariadenia</strong></p>
      <p>
        Poistné je splatné jednorázovo na celé poistné obdobie.</p>
      <a class="btn cta" href="#sec-4">Kde sa poistím?</a></div>
    <div class="grid-g__col_6 euro">
      <img alt="" src="../assets/img/poistenie-euro.png" /></div>
  </div>
</section>
<section class="section sec-4" id="sec-4">
  <div class="container-fixed">
    <div class="grid-g__col_6 secbg">
      &nbsp;</div>
    <div class="grid-g__col_6">
      <h2 class="sec__title">
        Ako a kde si poistíte svoj mobil?</h2>
      <div class="show-hide-container" id="shc0">
        <ul class="list-square">
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Banská Bystrica – OC Europa </a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Bratislava – OC Aupark</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Bratislava – OC Avion Shopping Park</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Bratislava - OC Eurovea</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Bratislava – OC Polus City Center</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Košice – OC Galéria</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Košice – OC Optima</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Nitra – Galéria Mlyny</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Poprad – OC Forum</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Prešov – OC Max</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Rimavská Sobota – Telekom centrum</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Trnava – City Arena</a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Zvolen – SC Europa, </a></li>
          <li>
            <a href="https://pojdeto.sk/mapa-kioskov" target="new">Žilina – OC Aupark</a></li>
        </ul>
      </div>
      <ul class="list-square">
        <li>
          Mobil si môžete poistiť na <a class="show-hide pojdeto" data-container="shc0" href="javascript:void(0);">všetkých pobočkách Pôjdeto</a></li>
        <li>
          Prineste si mobil a faktúru/bloček, resp. zmluvu od operátora</li>
        <li>
          S pracovníkom Pôjdeto po obhliadke mobilu podpíšete súhlas s&nbsp;poistením</li>
        <li>
          Zaplatíte jednorázové poistné na 1, alebo 2 roky podľa vášho výberu</li>
      </ul>
    </div>
  </div>
</section>
<section class="section last sec-5" id="sec-5">
  <div class="container-fixed">
    <h2 class="sec__title">
      Podmienky poskytnutia poistenia</h2>
    <ul class="list-square">
      <li>
        Poistenie je poskytované v spolupráci s Generali Poisťovňa, a. s.</li>
      <li>
        Podrobné podmienky poistenia nájdete v týchto dokumentoch:</li>
    </ul>
    <ul class="list-arrow">
      <li>
        <a href="/documents/10179/12175769/V%C5%A1eobecn%C3%A9+Poistn%C3%A9+Podmienky+MZ+19.pdf/5ba8bbbc-a605-4115-886e-6621364733c3" target="_blank">Všeobecné poistné podmienky MZ 19 (platné od 01. 01. 2019)</a></li>
      <li>
        <a href="/documents/10179/12175769/V%C5%A1eobecn%C3%A9+Poistn%C3%A9+Podmienky.pdf/a5af4a60-cb10-432c-beac-7282440973e7" target="_blank">Všeobecné poistné podmienky MZ 15 (platné do 31. 12. 2018)</a></li>
      <li>
        <a href="/documents/10179/12175769/Poistn%C3%A1+zmluva.pdf/fb0e2b3a-27bc-4977-b17d-2826074f759f" target="_blank">Poistná zmluva</a></li>
      <li>
        <a href="/documents/10179/12175769/Dodatok+k+poistnej+zmluve.pdf" target="_blank">Dodatok č.1 k poistnej zmluve</a></li>
      <li>
        <a href="/documents/10179/12175769/Dodatok+%C4%8D.+2+k+poistnej+zmluve.pdf" target="_blank">Dodatok č.2 k poistnej zmluve</a></li>
      <li>
        <a href="/documents/10179/12175769/Dodatok+%C4%8D.+3+k+RZ+Pojdeto.pdf/c00e9b4c-2c13-4cf8-805e-a2487a9c4cdb" target="_blank">Dodatok č.3 k poistnej zmluve</a></li>
      <li>
        <a href="/documents/10179/12175769/Inform%C3%A1cia+sprostredkovate%C4%BEa.pdf" target="_blank">Informácie sprostredkovateľa</a></li>
      <li>
        <a href="/documents/10179/12175769/S%C3%BAhlas+so+zaraden%C3%ADm+elektronick%C3%A9ho+zariadenia+do+poistenia.pdf/baac96fb-ad3e-42b8-bcb7-d31ace64b8b6" target="_blank">Súhlas so zaradením elektronického zariadenia do poistenia</a></li>
      <li>
        <a href="/documents/10179/12175769/Inform%C3%A1cie+o+podmienkach+uzavretia+poistnej+zmluvy.pdf/c5386833-2c89-43e9-8e63-bd0f3c957031" target="_blank">Informácie o podmienkach uzavretia poistnej zmluvy</a></li>
      <li>
        <a href="/documents/10179/12175769/Inform%C3%A1cie+o+sprac%C3%BAvan%C3%AD+osobn%C3%BDch+%C3%BAdajov_Generali.pdf" target="_blank">Informácia o spracúvaní osobných údajov Generali</a></li>
    </ul>
  </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>