/* ===============
   CSS FOR MICROSITE
   =============== *
   //* Global */

.text_centered {
    text-align: center;
}


/* qtip */

#content .info-link {
    text-decoration: underline;
    cursor: pointer;
}

.tooltip .qtip-content {
    font-size: 14px;
}

.fullWidthBox {
    background-color: #fff;
    display: block;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #c6ccd0;
}

@media screen and (min-width: 961px) {
    #content .b-r {
        border-right: 1px solid #c6ccd0;
    }
}

@media screen and (max-width: 960px) {
    #content .b-b-m {
        border-bottom: 1px solid #c6ccd0;
    }
}

#content .b-b {
    border-bottom: 1px solid #c6ccd0;
}

.main-bg {
    padding: 40px 0 10px 0;
    /*background: url(../img/kv-bg.png) no-repeat 50% 0%;*/
    background-size: initial;
    background-color: #e6e6e6;
}

#content .section_title {
    margin-bottom: 20px;
}

#content .no-space {
    margin-top: 0;
    margin-bottom: 0;
}


/* sec-1 */

#content .sec-1 .main_title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sec-1 .sub_title {
    color: #262626;
    font-weight: bold;
}

#content .spec-list {
    margin-left: 0;
    margin-top: 0;
    font-size: 16px;
}

#content .sec-1 .section_title {
    font-size: 24px;
    display: inline-table;
}

#content .col-top {
    line-height: 100%;
    margin-top: 60px;
}

#content .col_title {
    font-size: 24px;
    color: $magenta;
}

#content .col-holder {
    position: relative;
    & .col-cta {
        position: absolute;
        left: 15px;
        top: 330px;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    #content .col2 {
        width: 66.66667%;
    }
    #content .col3 {
        width: 90%;
    }
}

@media screen and (max-width: 960px) {
    #content .col-top {
        line-height: 100%;
        margin-top: 20px;
    }
    #content .col-holder {
        position: relative;
        & .col-cta {
            position: relative;
            margin-top: 15px;
            left: inherit;
            top: inherit;
        }
    }
}


/* sec-2 */

.sec-2 {
    background-color: #e6e6e6;
    padding-bottom: 40px;
}


/* sec-3 */

.sec-3 {
    /*background-color: #eef4f8;*/
    padding: 20px 0;
}


/* sec-4 */

.sec-4 {
    /*background-color: #eef4f8;*/
    padding-bottom: 20px;
}

.white-bg {
    background-color: #fff;
    border: 1px solid #c6ccd0;
    display: inline-block;
    padding: 50px 0;
    margin-bottom: 15px;
}

#content .phone ul {
    margin: 0;
}

.portlet-body .journal-content-article h1 {
    border-bottom: none;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 2em;
    font-weight: normal;
    padding-top: 30px;
}

.portlet-body .journal-content-article h2 {
    border-bottom: none;
    padding-top: 30px;
    margin: 0;
}

.portlet-body .journal-content-article h3 {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: normal;
    height: 40px;
}

.portlet-body .journal-content-article .c-tile p {
    font-size: 1em;
    line-height: 0.9em;
}

.portlet-body .journal-content-article .c-header p {
    color: white;
    width: 90%;
    font-size: 1.1em;
}

#content .c-content {
    /*width: 940px;*/
    margin: 0 auto;
    position: relative;
    background-color: #fff;
}

div.c-img {
    display: inline-block;
    position: absolute;
}

.c-row {
    display: block;
    position: relative;
}

hr.horizontal {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.waterbear-theme .button,
.waterbear-theme .page a.button,
.waterbear-theme button {
    width: 140px;
}


/*-------------------------------------------------------*/

.vypredane {
    text-shadow: 0 0 #FFF;
    box-sizing: border-box;
    height: 45px;
    line-height: 45px;
    color: white;
    background: #a4a4a4;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 0 10px;
    display: inline-block;
    text-decoration: none;
}

.phone {
    vertical-align: top;
    padding-top: 20px;
    /*width: 270px;*/
    min-width: 300px;
    text-align: center;
    /*display: inline-block;*/
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.images {
    position: relative;
    left: 0;
    right: 0;
}

.img-phone {
    max-height: 240px;
    width: auto;
}

.img-ec {
    position: absolute;
    top: 30px;
    left: 0;
}

.img-ec-2 {
    position: absolute;
    top: 33px;
    right: 0;
}

.phones .img-info {
    position: absolute;
    top: 0;
    right: 0;
}

.price {
    padding-top: 10px;
    color: #E20074;
}

.price-border {
    border-bottom: 1px solid #e3e3e3;
    width: 70%;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.price1,
.price2 {
    padding-right: 3px;
}

.price1,
.price-eur {}

.price1,
.price2,
.price-eur {
    color: #e10173;
    display: inline-block;
    font-size: 1.8em;
}

.price2 {
    font-size: 0.8em;
    vertical-align: top;
    padding-top: 3px;
}

.price-desc {
    font-size: 0.9em;
    padding-top: 5px;
}

.price-xs {
    height: 50px;
}

.btn-order {
    padding-top: 20px;
}

.detail-ec {
    position: absolute;
    top: 110px;
    left: 0;
}

.detail-lightbox {
    display: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.detail-header h2 {
    font-size: 2em;
    color: #e20074;
    margin: 20px 0 10px;
    text-align: center;
}

.detail-img {
    vertical-align: top;
}

.detail-img img {
    max-height: 240px;
    max-width: 150px;
    /*width: auto;*/
}

.phone-box .detail-img img {
    max-height: 440px;
    width: auto;
}

.detail-lightbox .images-detail {
    display: inline-block;
    padding-left: 20px;
    width: 20%;
}

@media screen and (max-width: 767px) {
    .detail-lightbox .images-detail {
        width: 100%;
    }
    .detail-lightbox .detail-text {
        width: 100%;
    }
}

.detail-lightbox .detail-text {
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    width: 66%;
}

.fancybox-skin {
    background: #fff!important;
}

.waterbear-theme td {
    vertical-align: top;
}

td.row-2 {
    max-width: 300px;
}

.waterbear-theme td.row-2 {
    padding-left: 20px;
}

.odrazka:before {
    content: '\f054';
    font-family: FontAwesome;
    color: #e10073;
    top: 3px;
    left: 3px;
    font-size: 14px;
}

.odrazka:before {
    content: '\f0c8';
    left: 0;
}

.waterbear-theme td {
    padding-right: 0;
    padding-left: 10px;
}

.phone:after {
    content: " ";
    height: 1px;
    margin-top: 20px;
    right: 0;
    background: transparent no-repeat center 0;
    background-image: none;
    overflow: hidden;
    display: block;
    position: absolute;
}

.detail {
    margin-top: 40px;
    display: none;
}

.phone-box,
.price-box {
    display: inline-block;
    vertical-align: top;
}

.phone-box {
    /*background-color: #007FAF;*/
    max-width: 380px;
}

.price-box {
    max-width: 500px;
    margin-left: 50px;
}

.price-box-2a,
.price-box-2b {
    display: inline-block;
    vertical-align: top;
    width: 230px;
}

.price-box-1 {
    /*background-color: #a3a3a3;*/
}

.price-box-2 {
    /*background-color: #007FAF;*/
}

.price-box-2a {
    /*background-color: #eda95a;*/
    padding-right: 19px;
    border-right: 1px solid #d0d0d0;
    color: #000;
}

.price-box-2b {
    /*background-color: #c5e5f5;*/
    padding-left: 16px;
}

.price-box .row-desc {
    position: relative;
}

.price-box .row3 .row-desc {
    color: #000;
}

.price-box .row2 .row-desc {
    font-weight: bold;
}

.price-box .img-info {
    top: 0;
    position: absolute;
}

.price-box-2a .img-info {
    right: 25px;
}

.price-box-2b .img-info {
    right: 0;
}

.price-box .img-info img {
    width: 20px;
    height: auto;
}

.phone-box .images-detail {}

.phone-box .detail-img {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.phone-box .detail-text {
    padding-top: 30px;
}

.portlet-body .journal-content-article .detail h2 {
    padding-top: 0;
    font-size: 2.45em;
    text-align: center;
}

.box-1-desc {
    font-size: 1.4em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.price-box .row1 {
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
    height: 75px;
    position: relative;
}

.price-box .row1 img {
    vertical-align: top;
}

#ec-web {
    position: absolute;
    top: -20px;
    right: 10px;
}

.price-box .row2 {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
    position: relative;
}

.price-box .row3 {
    padding-top: 15px;
}

.row2 {
    height: 60px;
}

.row3 {
    color: #6c6c6c;
    height: 110px;
}

.row-price .big {
    font-size: 1.4em;
    color: #010001;
}

.row-price .magenta {
    font-size: 1.2em;
    color: #e20074;
}

.waterbear-theme .page .price-box a.button {
    width: 220px;
    font-size: 1.2em;
}

.waterbear-theme .page .btn-order a.green {
    background-color: #6bb324;
    border: 1px solid #6bb324;
}

.back-box {
    text-align: right;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: #007faf;
}

#pecka-info,
#xsmini-info {
    display: none;
    padding: 20px;
    color: #4b4b4b;
}

#pecka-info .magenta,
#xsmini-info .magenta {
    color: #e20074;
}

#pecka-info .header,
#xsmini-info .header {
    font-size: 2em;
    color: #e20074;
    border-bottom: 1px solid #d0d0d0;
    margin-bottom: 10px;
}

.content .row1-1,
.content .row2-1,
.content .row3-1 {
    color: #4b4b4b;
    font-weight: bold;
    padding-top: 20px;
}

.content .row1-2,
.content .row2-2,
.content .row3-2 {}

.td-left {
    width: 150px;
    font-weight: normal;
    padding-right: 10px;
}

.row3-3 {
    padding-top: 0;
}

.row4-1 {
    padding-top: 20px;
    color: #6c6c6c;
}

.grey {
    color: #a4a4a4;
    font-weight: normal;
}

.waterbear-theme .content td {
    padding-left: 0;
}

.tiles {
    background-color: #eff2d0;
    margin-bottom: 20px;
}

.tiles .tile-break {
    display: inline-block;
    border-right: 1px solid #fff;
    width: 1px;
    height: 80px;
    margin-top: 20px;
}

.tiles .tile {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 228px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.9em;
}

.tiles .tile-1 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
}

.tiles .tile-desc {
    font-size: 0.9em;
}

.checkbox-main,
.checkbox-header {
    display: inline-block;
    vertical-align: top;
}

.checkbox-magenta {
    color: #E20074;
    font-size: 1.5em;
}

#legal {
    display: none;
    font-size: 0.9em;
}

@media screen and (min-width: 960px) {
    .phone:nth-child(3n):after {
        width: 940px;
        background-image: url(https://www.telekom.sk/theme/stwbmain/images/style/divider-horizontal.png);
    }
    .phone {
        background: url(https://www.telekom.sk/theme/stwbmain/images/style/divider-vertical.png) no-repeat 0 center;
    }
    .phone:first-child,
    .phone:nth-child(3n+1) {
        background: none;
    }
    /*
    .phone:nth-child(2n), .phone:nth-child(3n) {
        background: url(https://www.telekom.sk/theme/stwbmain/images/style/divider-vertical.png) no-repeat 0 center;
    }
    */
}

#footer {
    top: 20px!important;
}

.wbreadcrumbs {
    display: none;
}


/*-------------------------------------------------------*/

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1100px) {}

@media screen and (max-width: 960px) {
    .c-content {
        width: auto;
    }
    .c-row {
        padding-left: 3em;
        padding-right: 3em;
    }
    .c-tile {
        margin-top: 20px;
    }
    .tiles .break-3 {
        display: none;
    }
}

@media screen and (max-width: 870px) {
    @-ms-viewport {
        width: 800px;
    }
    .c-header {
        background-repeat: round;
    }
}

@media screen and (max-width: 800px) {
    @-ms-viewport {
        width: 800px;
    }
    .portlet-content {
        padding-left: 0;
        padding-right: 0;
    }
    .c-row {
        padding-left: 2em;
        padding-right: 2em;
    }
    div.c-img {
        display: none;
    }
}

@media screen and (max-width: 790px) {
    .tiles .break-2 {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .c-row {
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
    }
    div.c-img {
        display: none;
    }
}

@media screen and (max-width: 520px) {
    .tiles .break-1 {
        display: none;
    }
    .tiles {
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    @-ms-viewport {
        width: 400px;
    }
    .c-header {
        background-repeat: round;
    }
    .c-row-2 {
        padding-bottom: 1em;
    }
}
