<div id="thd-napiste">
	<div class="fixed-link__full" id="fixed-link">
		<div class="fixed-link__table">
			<div class="fixed-link__row">
				<h5>
					Potrebujete pomôcť?</h5>
				<div id="chat-only" style="display: none !important;">
					<div class="green-tile green-tile__border cursor__hover" id="livechat">
						<a><img alt="" class="fixed-link__ico" src="/documents/10179/562752/ico-phone.png" /></a></div>
				</div>
				<div class="green-tile green-tile__border cursor__hover" id="chat">
					<a><img alt="Chat" class="fixed-link__ico_chat" src="/documents/10179/562752/ico-chat.png" /></a></div>
				<div class="cursor__hover" id="toggle-chat">
					<img alt="" src="https://www.telekom.sk/documents/10179/562752/toggle-arrow.png" /></div>
			</div>
		</div>
	</div>
	<div class="fixed-link__compact cursor__hover hidden" id="fixed-link2">
		<div class="fixed-link__table">
			<div class="fixed-link__row">
				<div class="white-tile" id="chat__compact">
					<img alt="" class="fixed-link__ico" src="/documents/10179/562752/ico-helpdesk.png" /></div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="/documents/10179/562752/chat.js"></script>
<script type="text/javascript" src="https://backvm.telekom.sk/static/microsites/napiste-nam/dev/assets/js/main.js?v=1"></script>

<script>
	livechatoo.embed.init({
		lang: 'sk',
		side: 'right',
		layout: 'telekom.sk',
		page: 'hidden',
		departments: '21',
		new_rating : true,
		onload: chat_callback
	});

	setTimeout(function () {
		$('#thd-napiste').hide()
	}, 100);

</script>
<style type="text/css">
	.IMSP_nameAlign {
		display: none !important;
	}</style>
