<div class="vasSection">


<form action="/mob/objednavka/-/scenario/e-shop/pausal/sumar?_shoppingScenario_WAR_portlets_stepAction=VALIDATE&amp;_shoppingScenario_WAR_portlets_segment=resident"
    method="POST" id="shoppingScenarioForm" class="shoppingScenarioForm" data-create-prospect-lead-url="https://www.telekom.sk/mob/objednavka?p_p_id=shoppingScenario_WAR_portlets&amp;p_p_lifecycle=2&amp;p_p_state=normal&amp;p_p_mode=view&amp;p_p_cacheability=cacheLevelPage&amp;p_p_col_id=column-1&amp;p_p_col_pos=2&amp;p_p_col_count=3&amp;p_p_resource_id=createprospect">
    <input type="hidden" name="checkAgainstInternalId" value="2839S5K">
    <div id="eSales-modalWindow-info" class="modal-inner" style="display:none">
        <div class="modalWindowInfoContent"></div>
    </div>
    <div class="setProductParameter-product-name-container" style="display:none;">
        <h3 class="float-left bold" id="-0">
            <span class="setProductParameter-product-icon MOBILE_TARIFF"></span>Nastavte parametre služby </h3>
        <div class="float-right">
            <h3 class="productName-sizeLetter" id="-1">ÁNO L</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="shoppingScenario-list">
        <input type="hidden" value="MOBILE_TARIFF" name="parentProductCategory">
        <div class="shoppingScenario-list-option setProductParemeters-list-option">
            <!-- <h3 id="-2">Doplnkové balíčky</h3> -->
            <!-- <div class="grid-wrapper"> -->
                <div class="single-vas">
                    <div class="setProductParameter-checkbox">
                        <label>
                            <input type="checkbox" id="productsByMainCategory[MOBILE_TARIFF][0].products[0]" name="productsByMainCategory[MOBILE_TARIFF][0].products[0]"
                                data-product-code="esales_MESACNE_DATA_1GB" checked="">

                            <input type="hidden" id="productsByMainCategory[MOBILE_TARIFF][0].products[0].selected" name="productsByMainCategory[MOBILE_TARIFF][0].products[0].selected"
                                data-product-code="esales_MESACNE_DATA_1GB" value="true">

                            <div class="wrapper"> <!-- added -->
                                <div class="heading">
                                    <span class="setProductParameter-product-name ">Mesačné dáta 1 GB</span>
                                    <div class="setProductParameter-info-tooltip">
                                            <a href="#" class="not-link" data-modalwindowid="modal-info-esales_MESACNE_DATA_1GB"><img alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
                                    </div>
                                </div>
                            
                            <div class="product-prices">
                                <span class="setProductParameter-product-price">
                                    <div class="funny-stuff" hidden="hidden"> priceRC = 5.0 priceOC = 0.0 priceRC1M = 0.0 priceRCAfter1M = 0.0 priceRC2M = 0.0 priceRCAfter2M
                                        = 0.0 priceRC3M = 0.0 priceRCAfter3M = 0.0 priceRC6M = 0.0 priceAfter6M = 0.0 price1Y
                                        = 0.0 priceAfter1Y = 0.0 priceDecidedMonths = 0 </div>
                                    <table class="setProductParameter-product-price-table">
                                        <tbody>
                                            <tr>
                                                <td> +
                                                    <span>5,00</span> &nbsp;€ </td>
                                                <td> | mesiac </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </span>
                            </div>
                            </div>
                        </label>

                        <div class="modalWindowHelper-esales_MESACNE_DATA_1GB" style="display: none">
                            <strong>Mesačné dáta 1 GB</strong>
                            <br>
                            <br> S balíkom získate 1 GB navyše každý mesiac v SR, EÚ a v krajinách Island, Nórsko, Lichtenštajnsko,
                            Monako a Andora .
                            <br> Dáta z balíka sa čerpajú po prečerpaní voľných dát z paušálu. Neminuté dáta z balíka sa automaticky
                            a bezplatne prenesú do ďalšieho zúčtovacieho obdobia.
                            <br> Viazanosť balíčka: 24 mesiacov.</div>
                            <script type="text/javascript">
                                var helper = $(".modalWindowHelper-esales_MESACNE_DATA_1GB");
                                var customWidth = false;
                                
                                ModalWindow.init({
                                  identifier: "modal-info-esales_MESACNE_DATA_1GB",
                                  objectId: "eSales-modalWindow-info",
                                  modalWindowFancyBoxSettings: {
                                    wrapCSS: "modal eSalesModal",
                                    autoSize: customWidth,
                                    width: customWidth ? "auto" : 80 + "%",
                                    height: "auto",
                                    maxHeight: 539,
                                    scrolling: "auto",
                                    padding: 15,
                                    margin: 0
                                  },
                                  modalWindowsSettings: {
                                    texts: { modalWindowInfoContent: helper.html().replace(/\n/g, "") }
                                  }
                                });
                            </script>
                            <div></div>
                </div>
                <div class="single-vas">
                    <div class="setProductParameter-checkbox">
                        <label>
                            <input type="checkbox" id="productsByMainCategory[MOBILE_TARIFF][0].products[1]" name="productsByMainCategory[MOBILE_TARIFF][0].products[1]"
                                data-product-code="esales_MESACNE_DATA_2GB">

                            <input type="hidden" id="productsByMainCategory[MOBILE_TARIFF][0].products[1].selected" name="productsByMainCategory[MOBILE_TARIFF][0].products[1].selected"
                                data-product-code="esales_MESACNE_DATA_2GB">

                                <div class="wrapper"> <!-- added -->
                                    <div class="heading">
                                        <span class="setProductParameter-product-name ">Mesačné dáta 2GB</span>
                                        <div class="setProductParameter-info-tooltip">
                                                <a href="#" class="not-link" data-modalwindowid="modal-info-esales_MESACNE_DATA_2GB"><img alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
                                        </div> 
                                    </div>
                                
                                    <div class="product-prices">
                                        <span class="setProductParameter-product-price">
                                            <div class="funny-stuff" hidden="hidden"> priceRC = 6.0 priceOC = 0.0 priceRC1M = 0.0 priceRCAfter1M = 0.0 priceRC2M = 0.0 priceRCAfter2M
                                                = 0.0 priceRC3M = 0.0 priceRCAfter3M = 0.0 priceRC6M = 0.0 priceAfter6M = 0.0 price1Y
                                                = 0.0 priceAfter1Y = 0.0 priceDecidedMonths = 0 </div>
                                            <table class="setProductParameter-product-price-table">
                                                <tbody>
                                                    <tr>
                                                        <td> +
                                                            <span>6,00</span> &nbsp;€ </td>
                                                        <td> | mesiac </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </span>
                                    </div>
                                </div>
                        </label>

                        <div class="modalWindowHelper-esales_MESACNE_DATA_2GB" style="display: none">
                            <strong>Mesačné dáta 2GB</strong>
                            <br>
                            <br> S balíkom získate 2 GB navyše v SR, EÚ a v krajinách Island, Nórsko a Lichtenštajnsko každý
                            mesiac.
                            <br> Čerpajú sa hneď po prečerpaní voľných dát zahrnutých v paušále.
                            <br> Viazanosť balíčka: 24 mesiacov.</div>
                        <script type="text/javascript">var helper = $(".modalWindowHelper-esales_MESACNE_DATA_2GB"); var customWidth = $(helper.children("div")[0]).attr("data-width"); var isCustomWidthSet = typeof customWidth == "undefined"; ModalWindow.init({ identifier: "modal-info-esales_MESACNE_DATA_2GB", objectId: "eSales-modalWindow-info", modalWindowFancyBoxSettings: { wrapCSS: "modal eSalesModal", autoSize: isCustomWidthSet, width: isCustomWidthSet ? "auto" : customWidth, height: "auto", maxHeight: 539, scrolling: "auto", padding: 15, margin: 0 }, modalWindowsSettings: { texts: { modalWindowInfoContent: helper.html().replace(/\n/g, "") }, } });</script> </div>
                    <div></div>
                </div>
            <!-- </div> -->
        </div>
        <div class="shoppingScenario-list-option setProductParemeters-list-option">
            <!-- <h3 id="-3">Ďaľšie doplnkové služby</h3> -->
            
                <div class="single-vas">
                    <div class="setProductParameter-checkbox">
                        <label>
                            <input type="checkbox" id="productsByMainCategory[MOBILE_TARIFF][1].products[0]" name="productsByMainCategory[MOBILE_TARIFF][1].products[0]"
                                data-product-code="esales_EASY_PECKA">

                            <input type="hidden" id="productsByMainCategory[MOBILE_TARIFF][1].products[0].selected" name="productsByMainCategory[MOBILE_TARIFF][1].products[0].selected"
                                data-product-code="esales_EASY_PECKA">
                            
                            <div class="wrapper"> <!-- added -->
                                <div class="heading">
                                    <span class="setProductParameter-product-name ">Easy karta s&nbsp;kreditom 9&nbsp;€</span>
                                    <div class="setProductParameter-info-tooltip">
                                            <a href="#" class="not-link" data-modalwindowid="modal-info-esales_EASY_PECKA"><img alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
                                    </div>  
                                </div>
                                <div class="product-prices">
                                    <span class="setProductParameter-product-price">
                                        <div class="funny-stuff" hidden="hidden"> priceRC = 0.0 priceOC = 0.0 priceRC1M = 0.0 priceRCAfter1M = 0.0 priceRC2M = 0.0 priceRCAfter2M
                                            = 0.0 priceRC3M = 0.0 priceRCAfter3M = 0.0 priceRC6M = 0.0 priceAfter6M = 0.0 price1Y
                                            = 0.0 priceAfter1Y = 0.0 priceDecidedMonths = 0
                                        </div>
                                        <table class="setProductParameter-product-price-table">
                                            <tbody>
                                                <tr>
                                                    <td>0 €</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </span>
                                 </div>
                            </div>
                        </label>

                        <div class="modalWindowHelper-esales_EASY_PECKA" style="display: none">
                            <strong>Easy karta s kreditom 9 € ako darček zadarmo</strong>
                            <br>
                            <br> Volania, sms a internet max. 50 centov za deň.
                            <br> Platnosť kreditu až 12 mesiacov.
                            <br> Neobmedzené volania s blízkym, ktorý vám pravidelne dobíja kredit.
                            <br>
                        </div>
                        <script type="text/javascript">var helper = $(".modalWindowHelper-esales_EASY_PECKA"); var customWidth = $(helper.children("div")[0]).attr("data-width"); var isCustomWidthSet = typeof customWidth == "undefined"; ModalWindow.init({ identifier: "modal-info-esales_EASY_PECKA", objectId: "eSales-modalWindow-info", modalWindowFancyBoxSettings: { wrapCSS: "modal eSalesModal", autoSize: isCustomWidthSet, width: isCustomWidthSet ? "auto" : customWidth, height: "auto", maxHeight: 539, scrolling: "auto", padding: 15, margin: 0 }, modalWindowsSettings: { texts: { modalWindowInfoContent: helper.html().replace(/\n/g, "") }, } });</script> </div>
                    <div></div>
                </div>
                <div class="single-vas">
                    <div class="setProductParameter-checkbox">
                        <label>
                            
                            <input type="checkbox" id="productsByMainCategory[MOBILE_TARIFF][1].products[1]" name="productsByMainCategory[MOBILE_TARIFF][1].products[1]"
                                data-product-code="STREAM_ON">

                            <input type="hidden" id="productsByMainCategory[MOBILE_TARIFF][1].products[1].selected" name="productsByMainCategory[MOBILE_TARIFF][1].products[1].selected"
                                data-product-code="STREAM_ON">
                            
                            <div class="wrapper"> <!-- added -->
                            <div class="heading">
                                    <span class="setProductParameter-product-name ">StreamOn</span>
                                    <div class="setProductParameter-info-tooltip">
                                            <a href="#" class="not-link" data-modalwindowid="modal-info-STREAM_ON"><img alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"></a>
                                    </div>  
                            </div>
                            <div class="product-prices">
                                <span class="setProductParameter-product-price">
                                    <div class="funny-stuff" hidden="hidden"> priceRC = 8.0 priceOC = 0.0 priceRC1M = 0.0 priceRCAfter1M = 0.0 priceRC2M = 0.0 priceRCAfter2M
                                        = 0.0 priceRC3M = 0.0 priceRCAfter3M = 0.0 priceRC6M = 0.0 priceAfter6M = 0.0 price1Y
                                        = 0.0 priceAfter1Y = 0.0 priceDecidedMonths = 0
                                    </div>
                                    <table class="setProductParameter-product-price-table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span>8,00</span> &nbsp;€ </td>
                                                <td> | mesiac </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </span>
                            </div>
                        </div>
                        </label>

                        <div class="modalWindowHelper-STREAM_ON" style="display: none">
                            <strong>StreamOn</strong>
                            <br>
                            <br> S balíkom StreamOn môžete bezstarostne streamovať audio a video cez podporované mobilné aplikácie
                            bez obáv, že miniete svoj objem dát.
                            <br>
                            <br>
                            <strong>Podporované aplikácie</strong>
                            <br> Aplikácie, ktoré vám nebudú spotrebovávať mobilné dáta:
                            <br> Apple Music, YouTube, Netflix, HBO GO, Deezer, Spotify, TIDAL, Markíza+ Videoarchív, Magio Go,
                            Digi Go, Rádio Europa 2, Rádio Expres, Rádio Vlna / Vlna Golden Hits, Rádio Anténa Rock / Anténa
                            HardRock, Rádio Jemné / Jemné Chillout a Detské rádio Žofka.
                            <br>
                            <br> Viazanosť balíčka: 24 mesiacov.
                            <br>
                            <br>
                        </div>
                        <script type="text/javascript">var helper = $(".modalWindowHelper-STREAM_ON"); var customWidth = $(helper.children("div")[0]).attr("data-width"); var isCustomWidthSet = typeof customWidth == "undefined"; ModalWindow.init({ identifier: "modal-info-STREAM_ON", objectId: "eSales-modalWindow-info", modalWindowFancyBoxSettings: { wrapCSS: "modal eSalesModal", autoSize: isCustomWidthSet, width: isCustomWidthSet ? "auto" : customWidth, height: "auto", maxHeight: 539, scrolling: "auto", padding: 15, margin: 0 }, modalWindowsSettings: { texts: { modalWindowInfoContent: helper.html().replace(/\n/g, "") }, } });</script> </div>
                    <div></div>
                </div>
       
        </div>
    </div>
    <div class="setProductParameter-product-name-container" style="display:none;">
        <h3 class="float-left bold" id="-4">
            <span class="setProductParameter-product-icon MOBILE_HW"></span>Doplnkové služby k telefónu </h3>
        <div class="float-right">
            <h3 class="productName-sizeLetter" id="-5">Honor 10 64 GB</h3>
        </div>
        <div class="clear"></div>
    </div>
    <div class="shoppingScenario-list">
        <input type="hidden" value="MOBILE_HW" name="parentProductCategory">
        <div class="shoppingScenario-list-option setProductParemeters-list-option">
            
            <div class="insuranceAddon">
                <div class="single-vas">
                    <div class="setProductParameter-checkbox">
                        <label>

                            <input type="checkbox" id="productsByMainCategory[MOBILE_HW][0].products[0]" name="productsByMainCategory[MOBILE_HW][0].products[0]"
                                data-product-code="MOBILE_ADDON_INSURANCE_600">

                            <input type="hidden" id="productsByMainCategory[MOBILE_HW][0].products[0].selected" name="productsByMainCategory[MOBILE_HW][0].products[0].selected"
                                data-product-code="MOBILE_ADDON_INSURANCE_600">
                           
                            <div class="wrapper"> <!-- added -->
                                <div class="heading">
                                        <h3 id="-6">Poistenie zariadenia</h3>   <!-- added -->
                                        <div class="setProductParameter-info-tooltip">
                                            <a href="#" class="not-link" data-modalwindowid="modal-info-MOBILE_ADDON_INSURANCE_600"><img alt="" src="../assets/img/qm.png" style=" width: 15px; height: auto; margin-left: 2px;"> </a>
                                        </div>
                                </div>

                            <span class="setProductParameter-product-name">Pre Honor 10 64 GB je</span>
                            <div class="product-prices">
                                <span class="setProductParameter-product-price">
                                        <div class="funny-stuff" hidden="hidden"> priceRC = 2.99 priceOC = 0.0 priceRC1M = 0.0 priceRCAfter1M = 0.0 priceRC2M = 0.0 priceRCAfter2M
                                            = 0.0 priceRC3M = 0.0 priceRCAfter3M = 0.0 priceRC6M = 0.0 priceAfter6M = 0.0 price1Y
                                            = 0.0 priceAfter1Y = 0.0 priceDecidedMonths = 0 </div>
                                        <table class="setProductParameter-product-price-table">
                                            <tbody>
                                                <tr>
                                                    <td> 
                                                        <span>2,99</span> &nbsp;€ </td>
                                                    <td> | mes </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </span>
                            </div>

                            </div> <!-- added -->
                        </label>
                        <span class="">Výberom súhlasíte so
                            <a href="http://www.telekom.sk/swift_data/source/images/telefonovanie/poistenie-mobilov/priloha_c_8_vpp_ppez08.pdf" target="_blank">Všeobecnými podmienkami poistenia elektronických zariadení</a>
                        </span>
  
                        <div class="modalWindowHelper-MOBILE_ADDON_INSURANCE_600" style="display: none">Poistenie mobilného telefónu voči poškodeniu, rozbitiu a zničeniu.</div>
                        <script type="text/javascript">var helper = $(".modalWindowHelper-MOBILE_ADDON_INSURANCE_600"); var customWidth = $(helper.children("div")[0]).attr("data-width"); var isCustomWidthSet = typeof customWidth == "undefined"; ModalWindow.init({ identifier: "modal-info-MOBILE_ADDON_INSURANCE_600", objectId: "eSales-modalWindow-info", modalWindowFancyBoxSettings: { wrapCSS: "modal eSalesModal", autoSize: isCustomWidthSet, width: isCustomWidthSet ? "auto" : customWidth, height: "auto", maxHeight: 539, scrolling: "auto", padding: 15, margin: 0 }, modalWindowsSettings: { texts: { modalWindowInfoContent: helper.html().replace(/\n/g, "") }, } });</script> </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">ShoppingCartAjax.init({ url: "https://www.telekom.sk/mob/objednavka?p_p_id=shoppingScenario_WAR_portlets&p_p_lifecycle=2&p_p_state=normal&p_p_mode=view&p_p_cacheability=cacheLevelPage&p_p_col_id=column-1&p_p_col_pos=2&p_p_col_count=3&p_p_resource_id=addOrRemoveProductParameter" }); function fillValidations() { var a = new Array(); if (!$('input[data-product-code="CALLS_TO_CLOSE_ONES"]').is(":checked")) { return a } a.push({ fieldName: "div.optionalPhones", validator: FormValidator.requiredMinimum, param: 1, errMsg: "Chýbajúce číslo pre volanie najbližším" }); a.push({ fieldName: "order.closeOnePhone1", validator: FormValidator.regex, param: "09[0-9]{8}", errMsg: "Zle zadané číslo pre volanie najbližším" }); a.push({ fieldName: "order.closeOnePhone2", validator: FormValidator.regex, param: "09[0-9]{8}", errMsg: "Zle zadané číslo pre volanie najbližším" }); a.push({ fieldName: "order.closeOnePhone3", validator: FormValidator.regex, param: "09[0-9]{8}", errMsg: "Zle zadané číslo pre volanie najbližším" }); return a };</script> </form>

</div>