/* ===============
   CSS FOR MICROSITE
   =============== */
.background{
    background-color: #000;
padding-bottom: 100px; 
  }
#hero-samsung {
  background: url('../img/hero_2650.jpg') no-repeat center;
  height: 630px;
  text-align: center;
  h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 0px;
    }
  p {
    display: block;
    max-width: 480px;
    color: #ffffff;
    font-size: 18px;
    padding-bottom: 25px;
    margin: 0 auto;
  }
}
.logo{
  margin-top: 318px; 
  padding-bottom: 26px;
}
.btn-preorder { 
  color: #fff !important;
  text-transform: uppercase;
  padding:12px 35px;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
}
.btn-preorder:hover { 
  color: #000 !important;
  background: #fff;
  font-weight: 600;
}
.separator{
  width: 300px;
  margin: 0 auto;
  border-bottom: 1px solid #b2b2b2;
  display: block;
}
.screen {display: block;}
.tablet {display: none;}
.mobile {display: none;}

@media screen and (max-width: 768px) {
  #hero-samsung {
    background: url('../img/Hero_768px.jpg') no-repeat center;
    height: 410px;
    text-align: center;
    h1 {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      padding-bottom: 0px;
      }
    p {
      max-width: 600px;
      color: #ffffff;
      font-size: 14px;
      padding-bottom: 23px;
    }
  }
  .logo{
    background: url('../img/Hero_480px.jpg') no-repeat center;
    margin-top: 195px; 
    padding-bottom: 20px;
  }
.screen {display: none;}
.tablet {display: block;}
.mobile {display: none;}
.background{
  padding-bottom: 50px; 
  }
  .btn-preorder { 
    padding:8px 40px;
  }
  .separator{
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  #hero-samsung {
    background: url('../img/Hero_480px.jpg') no-repeat center;
    height: 620px;
    text-align: center;
    h1 {
      color: #ffffff;
      font-size: 23px;
      font-weight: 600;
      padding-bottom: 0px;
      }
    p {
      display: block;
      max-width: 400px;
      color: #ffffff;
      font-size: 17px;
      font-weight: 400;
      padding-bottom: 15px;
    }
  }
  .logo{
    margin-top: 305px; 
    padding-bottom: 18px;
  }
  .screen {display: none;}
  .tablet {display: none;}
  .mobile {display: block;}
  .background{
  padding-bottom: 30px; 
  }
  .btn-preorder { 
    padding:8px 40px;
  }
  .separator{
    width: 250px;
  }
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none !important;
  outline: none !important;
  background-color: #ededed;
  color: #262626;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
}

@media screen and (max-width: 544px)  {
  .topbtn {display: none;}
}

#myBtn:hover {
  background-color: #f1f1f1;
}
