/* ===============
   CSS FOR MICROSITE
   =============== */


/* GLOBALS */

.padd {
    max-width: 300px;
    float: none;
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
}

.section {
  // margin-top: 20px;
}

#content .link_ul {
    text-decoration: underline;
}
#content .happy-legal {
    font-size: 16px;
}
#content .link_black {
    color: $tundora;
}
#content .green {
    color: #4d8a11;
}
#content a.note-legal {
    text-decoration: underline;
}
#content .section__title {
    //border-top: 1px solid #a4a4a4;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 0;
}
#content .margin_top0 {
    margin-top: 0;
}
#content .text-left {
    text-align: left;
}
#content .section {
    padding-bottom: 40px;
}
.happy-legal {
    text-align: left;
}
.content_hidden {
    display: none;
}

/* TABLE */

.page p, .page ul, .page table {
    color: #4b4b4b;
    font-size: 16px;
  }

#content table {
    margin: 0;
    width: 100%;
}
#content .waterbear-theme td.text-left {
    text-align: left;
}
#content .waterbear-theme td {
    background-color: #e6e6e6;
    text-align: center;
    color: $tundora;
    border: 1px solid $white;
    padding: 10px;
}
#content th {
    background-color: $magenta;
    color: $white;
    border: 1px solid $white;
    padding: 10px;
}
#content tr.subHead td {
    background-color: #ef77b5;
    color: $white;
}
@media screen and (max-width: 600px) {
    #content .table {
        overflow-y: hidden;
        width: 100%;
    }
    #content table {
        width: 600px;
    }
}

/* LIGHTBOX */

.roam-lightbox {
    text-align: center;
    max-width: 300px;
    padding: 30px;
}
.roam-lightbox h2 {
    font-size: 20px;
    color: $magenta;
    margin-bottom: 10px;
}
.roam-lightbox .firstPar {
    margin-bottom: 25px;
}
.fancybox-wrap .fancybox-close {
    right: -48px;
    top: -26px;
}
body .fancybox-wrap {
    border: 10px solid #6b6b6b;
    box-shadow: 0;
    text-align: center;
}

/* PRODITEM */

.prodItem {
    background-color: #ececec;
    width: 31.91489%;
    float: left;
    padding: 20px;
}
#content .prodItem__title {
    color: $magenta;
    text-transform: uppercase;
    font-size: 20px;
}
.prodItem__midArea {
    border-bottom: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
}
#content .midArea__title {
    text-transform: uppercase;
    color: $mine-shaft;
    font-size: 20px;
}
#content .price {
    font-size: 20px;
}
.prodItem:nth-of-type(2) {
    margin: 0 2.1%;
}
.prodItem_inversed {
    border: 1px solid #bbbbbb;
    background: $white;
}
@media screen and (max-width: 700px) {
    .prodItem {
        width: 100%;
    }
    .prodItem:nth-of-type(2) {
        margin: 3% 0;
    }
}

/* TOGGLE ARROW */
#content a.toggle-arrow {
    color: #007faf;
    text-decoration: none;
    & .arrow-right {
      content: '';
      display: inline-block;
      margin-right: 5px;
      width: 0;
      height: 0;
      margin-left: 5px;
      vertical-align: baseline;
      border-style: solid;
      border-width: 4.5px 0 4.5px 6px;
      border-color: transparent transparent transparent #007faf;
      transition: all 300ms;
    }
    &:hover, &:hover span.arrow-right {
      color: #00668d;
      text-decoration: none;
      border-color: transparent transparent transparent #00668d;
    }
  }
  #content .arrow-content {
    display: none;
  }
  #content .arrow-rotate {
    transform: rotate(90deg);
  }
  /* TOGGLE ARROW END */

/* HERO */

.hero__content {
    width: 100%;
    text-align: center;
}
#content .hero__title {
    color: $mine-shaft;
    font-size: 32px;
    font-weight: 900;
    margin: 50px 0 20px 0;
}

/* SEC-1 */

#content #sec-1 {
    padding-bottom: 0;
}

.sec-1 .linkDeactivate {
    margin-top: 10px;
    display: inline-block;
}
.sec-1 .table {
    margin-top: 20px;
}
.sec-1 .note-legal {
    margin-bottom: 10px;
    display: inline-block;
}
#content .sec-1 .happy-legal-content {
    font-size: 16px;
}
#content .sec-1 .happy-legal-content b,
#content .sec-3 .happy-legal-content b {
    font-weight: 500;
}

/* SEC-2 */

.sec-2 .sec__descHolder {
    max-width: 470px;
    width: 100%;
    margin: 0 auto 50px auto;
}

/* SEC-3 */

#content .sec-3 .grid-g__col_4:nth-of-type(2) {
    margin: 0 2.1%;
}
@media screen and (max-width: 600px) {
    #content .sec-3 .grid-g__col_4 {
        width: 100%;
    }
    #content .sec-3 .grid-g__col_4:nth-of-type(2) {
        margin: 3% 0;
    }
}
#content .section__subTitle {
    color: $mine-shaft;
}
#content .subsub__title {
    color: $magenta;
    font-size: 20px;
}

/* SEC-4 */

#content .sec-4 .section__title,
#content .sec-5 .section__title {
    color: $mine-shaft;
}

#content .btn-sms {
    display: none;
}

@media screen and (max-width: 560px) {
    #content .btn-sms {
        display: block;
    }
}