<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
</script>

<div ng-app="mag-1">

    <div ng-view></div>

</div>

<!-- build:js -->
<!-- ccs:test -->

<!-- CORE -->

<script type="text/javascript" src="../assets/lib/js/angular-main/angular.js"></script>

<!-- PLUGINS -->

<script type="text/javascript" src="../assets/lib/js/angular-plugins/angular-route.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/angular-animate.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/angular-sanitize.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/slick.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/angular-slick.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/clipboard.min.js"></script>
<script type="text/javascript" src="../assets/lib/js/angular-plugins/ngclipboard.min.js"></script>

<!-- MODULES -->

<script type="text/javascript" src="../assets/js/app.module.js"></script>

<!-- CONFIG -->

<script type="text/javascript" src="../assets/js/config/app.config.js"></script>

<!-- SERVICES & DATA -->

<script type="text/javascript" src="../assets/js/data/user.service.js"></script>
<script type="text/javascript" src="../assets/js/data/data-chooser.service.js"></script>
<script type="text/javascript" src="../assets/js/services/http.service.js"></script>
<script type="text/javascript" src="../assets/js/services/local-storage.service.js"></script>
<script type="text/javascript" src="../assets/js/data/calculate.js"></script>

<!-- PAGES -->

<script type="text/javascript" src="../assets/js/pages/landing/landing.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/calc-intro/calc-intro.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/calc-crossroads/calc-crossroads.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/calc-chooser/calc-chooser.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/summary/summary.component.js"></script>
<script type="text/javascript" src="../assets/js/pages/interested/interested.component.js"></script>

<!-- COMPONENTS -->

<script type="text/javascript" src="../assets/js/components/calc-entrance/calc-entrance.component.js"></script>
<script type="text/javascript" src="../assets/js/components/step-indicator/step-indicator.component.js"></script>
<script type="text/javascript" src="../assets/js/components/step-controls/step-controls.component.js"></script>
<script type="text/javascript" src="../assets/js/components/service-crossroads/service-crossroads.component.js"></script>
<script type="text/javascript" src="../assets/js/components/service-chooser/service-chooser.component.js"></script>
<script type="text/javascript" src="../assets/js/components/phone-num/phone-num.component.js"></script>
<script type="text/javascript" src="../assets/js/components/popup/popup.component.js"></script>

<!-- /ccs:test -->
<!-- endbuild -->
