<section id="hero">
  <div class="container-fixed">
    <div class="hero__mobile">
      <!-- <img id="naj_znacka_m" class="icon-ec" src="../assets/img/naj_znacka_mobil.png" /> -->
    </div>
    <div class="hero__content">
      <h1 class="hero__title">
        <b>MAGIO TELEVÍZIA</b><br />
        PLNÁ ZÁBAVY<br />
        KAŽDEJ OBÝVAČKY
      </h1>
      <p class="hero__desc">
        <a class="btn cta scroll-to" style="margin-bottom: 5px;" href="#sec-1"
          >VYBRAŤ SI MAGIO TELEVÍZIU</a
        >
      </p>
      <img class="icon-ec" src="../assets/img/ec-magio-tv.png" alt="" />
    </div>
  </div>
</section>
