/* Gallery */

.thumb-img {
    width: 40px;
    height: 40px;
    border: 1px solid #eef4f8;
}

.main-gallery img {
    width: auto;
    margin: 0 auto;
}

/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Slider */

.slick-loading .slick-list {
    background: #fff url('../img/ajax-loader.gif') center center no-repeat;
}

/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: -17px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}

[dir='rtl'] .slick-prev {
    right: -25px;
    left: auto;
}



.slick-next {
    right: -25px;
}

[dir='rtl'] .slick-next {
    right: auto;
    left: -25px;
}




/* Dots */

.slick-slider {
    margin-bottom: 30px;
}

// .slick-dots {
//     position: absolute;
//     /*bottom: -60px;
// */
//     display: block;
//     width: 100%;
//     padding: 0;
//     list-style: none;
//     text-align: center;
// }
//
// .slick-dots li {
//     position: relative;
//     display: inline-block;
//     width: 20px;
//     height: 20px;
//     margin: 0 5px;
//     padding: 0;
//     cursor: pointer;
// }
//
// .slick-dots li button {
//     font-size: 0;
//     line-height: 0;
//     display: block;
//     width: 20px;
//     height: 20px;
//     padding: 5px;
//     cursor: pointer;
//     color: transparent;
//     border: 0;
//     outline: none;
//     background: transparent;
// }
//
// .slick-dots li button:hover,
// .slick-dots li button:focus {
//     outline: none;
// }
//
// .slick-dots li button:hover:before,
// .slick-dots li button:focus:before {
//     opacity: 1;
// }
//
// .slick-dots li button:before {
//     font-family: 'slick';
//     font-size: 6px;
//     line-height: 20px;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 20px;
//     height: 20px;
//     content: 'â€¢';
//     text-align: center;
//     opacity: .25;
//     color: #e20074;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
//
// .slick-dots li.slick-active button:before {
//     opacity: .75;
//     color: #e20074;
// }
//
// .slick-slide.slick-current.slick-active {
// outline: none;
// }

/* === SLICK dots v2 START ==== */

.slick-dots li button {
    font-size: 0;
    height: 8px;
    width: 8px;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #b6b6b6 !important;
    background-color: #ededed;
}

 ul.slick-dots {
    margin: 10px 0 0 0;
    text-align: center;
    height: 8px;
}

.slick-dots li {
    display: inline-block;
    margin: 0 2px;
    height: 8px;
}

.slick-dots .slick-active button,
.slick-dots button:focus,
.slick-dots button:hover {
    border: 1px solid #568727 !important;
    background-color: #6bb324;
}

/* === SLICK dots v2 END ==== */
