/* SECTION 3 DÁTOVÉ ZARIADENIA */

#sec-3 {
    padding-bottom: 10px;
    & .row {
        border-bottom: 1px solid #dcdcdc;
        padding-bottom: 70px;
    }
}

.show-mobile-only {
    display: none;
}

@media only screen and (max-width: 768px) {
    .show-mobile-only {
        display: block;
    }
}

/* TABS */

#content .tab__holder {
    margin-top: 35px;
    & .tab-link a {
        font-size: 18px;
    }
}

/* SLIDER MOD */

#content .slick-list {
    padding: 15px 0;
}

#content .slick-track {
    display: flex;
    padding-bottom: 10px;
}


/* slider tab1 */

#content .as1 .slick-slide {
    margin: 0 10px;
    min-height: 520px;
}


/* slider tab2 */

#content .as2 .slick-slide {
    margin: 0 10px;
    min-height: 315px;
    min-width: 287px;
}


/* Sllider Pagination */

@media only screen and (max-width: 768px) {
    #content {
        .slider-pagination__wrap {
            display: block;
            padding-left: 10px;
    padding-right: 10px;
            & span {
                color: #383838;
                font-size: 18px;
            }
            & .control__holder {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            & .paging-current {
                display: inline-block;
            }
            & .paging-arrow {
                cursor: pointer;
                display: inline-block;
            }
        }
    }
}

/* DATA-DEVICE CARD */

.data-device__wrap {
    padding-top: 20px;
    & .dataDevice__item {
        text-align: center;
    }
    & .dataDevice__item-title {
        color: $magenta;
    }
    & .dataDevice__item-desc {
        min-height: 70px;
    }
    & .dataDevice__item-cta {
        position: relative;
        & img {
            position: absolute;
            top: 1px;
            padding-left: 5px;
        }
    }
}


/* ::: NB + TABLET CARD ::: */

#content .device-card {
    border: 1px solid #dcdcdc;
    padding: 20px 15px 20px 15px;
    background-color: #fff;
    transition: all .2s ease-in-out;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
}


/* img zoom blur fix */

@media screen and (min-width: 768px) {
    .device-card:hover {
        transform: scale(1.01);
        -webkit-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
        box-shadow: 8px 8px 5px -6px rgba(0, 0, 0, 0.4);
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
    }
}


/*  NB + TABLET  img */

#content .device-card-img__wrap {
    text-align: center;
    & .device-card-img {
        max-width: 235px;
        max-height: 200px;
        width: auto;
        display: inline-block;
    }
    & .ec-wrap-left {
        position: relative;
        float: left;
        & .ec-img-left {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            display: block;
            width: 90px;
            height: 90px;
        }
        @media (max-width: 768px) {
            .ec-img-left {
                position: absolute;
                top: 0;
                left: 10px;
                z-index: 10;
                display: block;
                width: 70px;
                height: 70px;
            }
        }
    }
    & .ec-wrap-right {
        position: relative;
        float: right;
        & .ec-img-right {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
            display: block;
            width: 90px;
            height: 90px;
        }
        @media (max-width: 768px) {
            .ec-img-right {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 10;
                display: block;
                width: 70px;
                height: 70px;
            }
        }
    }
}


/*  NB + TABLET Title */

@media screen and (min-width: 1024px) {
    #content .device-card {
        & .device-card__title {
            min-height: 51px;
        }
    }
}


/* NB + TABLET  Detail */

#content .device-card__detail-wrap ul {
    margin: 0px;
}

@media screen and (max-width: 768px) {
    #content .device-card-img__wrap {
        & .device-card-img {
            max-width: 180px;
        }
    }
    #content .device-card__title h3 {
        margin: 8px;
    }
    #content .device-card__detail-wrap ul {
        margin: 8px;
    }
}


/*  NB + TABLET  Price */

.device-card__price-wrap {
    & .device-card__price-wrap {
        width: 100%;
        margin-top: 15px;
        position: relative;
        text-align: center;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        & .price {
            color: $magenta;
            font-size: 22px;
            & sup {
                top: -4px;
            }
        }
        & .price__desc {
            font-size: 16px;
        }
    }
}


/* NB + TABLET  CTA BTN */

.device-card__cta {
    width: 100%;
    position: relative;
    margin-top: 20px;
    min-height: 1px;
    float: left;
}
/* // NB + TABLET CARD // */
