a[ng-click]{
    cursor: pointer;
}

.fancybox-inner {
    max-width: 800px;
}

.waterbear-theme .p-content hr {
    background: #d0d0d0;
    height: 1px;
}
.row-2 {
    max-width: 400px;
}
/* :::: PopUp DÁTOVÉ ZARIADENIA :::: */

.p-content {
    padding: 15px;
    max-width: 700px;
}

.p-content__img {
    max-width: 300px;
    height: auto;
    width: 400px;
    float: left;
    padding-right: 30px;
    & img {
        max-width: 300px;
    }
}

.p-content__desc {
    width: 300px;
    float: left;
    padding-bottom: 20px;
}


/* :::: PopUp Tablety & NB :::: */

.p-device-content__img-wrap {
    text-align: center;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
}

.p-device-content__img {
    padding-right: 30px;
    & img {
        max-height: 200px;
        display: inline-block;
    }
}

.p-device-content__desc {
    width: 700px;
    float: left;
    padding-bottom: 20px;
    & .detail-table td {
        padding: 2px;
        & i {
            padding-bottom: 10px;
        }
    }
    & td.spec-name {
        width: 140px;
        padding-right: 10px;
    }
}

.ico-sq::before {
    top: 0;
    position: relative;
    font-size: 8px;
    color: $magenta;
    padding-right: 10px;
}
