/* TABS */
#content .tabs-container ul { list-style: none; }

#content .tabs-container .tab-link { cursor: pointer; }

.tab__holder { text-align: center; line-height: 0; }

.segment .tab__holder {
  text-align: left;
}

#content .tabs-menu { height: 40px; clear: both; margin: 0; display: inline-block; }

#content .segment .tabs-menu {
  height: 39px;
  & li.variant:hover {
    height: 39px;
  }
  & li a {
    padding: 0 20px;
  }
  & li:hover {
    border-bottom: 0px;
    background-color: #ededed;
  }
  & .variant.current {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0px;
    & a {
      color: #757575;
    }
    &:hover {
      background-color: #fff;
      height: 40px;
    }
  }
}

.tabs-menu li { height: 40px; line-height: 40px; float: left; }

.tabs-menu li.current { position: relative; border-bottom: 1px solid #dbdbdb; z-index: 5; border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover { border-bottom: 4px solid #ededed; }

.tabs-menu li a { font-size: 1em; padding: 0 40px; color: #757575; text-decoration: none; display: inline-block; }

.tabs-menu li a:hover { color: #383838; }

.tabs-menu .current a { color: #6bb324; }

.tab { border-top: 1px solid #dbdbdb; width: 100%; }

.segment .tab {
  border: none;
}

.tab__variant { display: none; }

.tab__variant.selected { display: block; }

.tab-content { margin-top: 45px; display: none; }

.segment .tab-content {
  padding-top: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2;
}

#tab-1 { display: block; }

@media screen and (max-width: 520px) { #content .tabs-menu { width: 100%; }
  .tabs-menu li:hover { border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current { width: 100%; border: 1px solid #dbdbdb; border-bottom: 0; }
  .tabs-menu li:last-of-type { border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu { height: auto; }
  .tab { border: 0; }
  .tabs-menu li a { padding: 0; display: block; } }
/* TABS END */

/****************************************/
/* ACCORDION */
/****************************************/
// hide ACCORDION by default
.accordion {
    display: none;
}
@media screen and (max-width: 520px) {
  // hide TABS if window size <768px
  .tabs-container .tab__holder, .tabs-container .tab {
  display: none;
  }
  // show ACCORDION
    .accordion {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        margin: auto;
        display: block;
        font-size: 16px;
        padding: 0% 2%;
    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url('../img/ico-plus.png') no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;
      & .ac-price {
            color: #a4a4a4;
            font-weight: normal;
      }
    }
    & .item.open .heading {
      background: url('../img/ico-minus.png') no-repeat;
      background-position: right center;
    }
    & .item.open .content {
       display: block;
    }
    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }

    .content:after {
        content: "";
        display: table;
        clear: both;
    }
    .p-detail {
      & p {
          margin-top: 0;
      }
      & p.mb-10 {
          margin-bottom: 10px;
          text-align: left;
      }
    }

    .p-actions {
        width: 100%;
      & .btn {
          margin: 5px 0px;
          width: 100%;
      }
    }

    .p-price-label {
        text-align: left;
      &  .p-price {
          font-size: 20px;
          color: #e20074;
      }
    }
  }
}
