/* ===============
CSS FOR MICROSITE
=============== */


/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
    min-height: 199px;
}

.hero__content {
    text-align: center;
    max-width: 460px;
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }
    .hero__mobile {
        background: url(../img/kv-mob.jpg) no-repeat 50% 50%;
        height: 255px;
    }
    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .hero__content {
        padding: 40px 4%;
    }
    #content .hero__title,
    #content .hero__desc {
        color: $mine-shaft-dark;
    }
    #hero .btn {
        margin-top: 60px;
    }
}

@media screen and (max-width: 940px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {}


/* GLOBALS */

.section {
    background: #ffffff;
    padding: 40px 0;
}

#content .section__title {
    font-size: 32px;
    line-height: 32px;
    color: #e20074;
    text-align: center;
    text-transform: uppercase;
}

#content .section__link {
    font-size: 18px;
    text-transform: none;
    text-decoration: underline;
}

#content .right {
    float: right;
}

#content .info-link {
    text-decoration: underline;
    cursor: pointer;
}

#content .link-ul {
    text-decoration: underline;
    font-size: 16px;
}

.tooltip .qtip-content {
    font-size: 14px;
}

#content .halfbett {
    font-weight: 500;
}

@media screen and (max-width: 400px) {
    .section {
        padding: 20px 0;
    }
}

.mgt-10 {
    margin-top: 10px;
}


/* SECTION 1 */


/* SECTION 2 */

.sec-2 {
    background-color: #e6e6e6;
    background-size: cover;
}

.ec-holder-l {
    display: none;
    position: relative;
}

.ec-holder-l img {
    position: absolute;
    left: -70px;
    top: -30px;
}

.ec-holder-r {
    display: none;
    position: relative;
}

.ec-holder-r img {
    position: absolute;
    right: -70px;
    top: -30px;
}

.ec-holder-t {
    position: relative;
}

.ec-holder-t img {
    position: absolute;
    left: -14px;
    top: 30px;
    width: 70px;
    height: auto;
}

@media screen and (max-width: 767px) {
    .ec-holder-l img {
        left: -8px;
        top: 10px;
        max-width: 65px;
    }
    .ec-holder-r img {
        max-width: 65px;
        right: -8px;
        top: 10px;
    }
}

.pricing-tables {
    max-width: 620px;
    margin: 0 auto;
}

.pricing-box {
    background-color: #fff;
}

#content .row-table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
    float: none;
}

.sec-2 .row-table:nth-of-type(2) {
    margin-top: -10px;
}

#content .row-table .grid-g__col_6 {
    display: table-cell;
    float: none;
    padding: 0 20px 20px 20px;
}

.pricing-box__desc {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
    display: inline-block;
}

#content .desc__title {
    font-size: 20px;
    color: #000000;
}

#content .pricing-box__price {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

#content .pricing-box__price .price {
    font-size: 20px;
    color: $magenta;
}

#content .pricing-box__sub-price {
    font-size: 20px;
    margin-top: 0;
}

#content .speed {
    margin-bottom: 10px;
    display: inline-block;
}

#content .speed_top {
    margin-top: 10px;
    display: inline-block;
}

.pricing-box .button {
    margin-top: 10px;
}

#content .buy__link {
    margin-bottom: 0;
    margin-top: 20px;
    display: inline-block;
    text-decoration: underline;
}

#content .buy__phone {
    margin-top: 20px;
}

.pricing-box_inverse {
    border: 2px solid #fff;
    background-color: #e9eaed;
}

#content .pricing-box_inverse .pricing-box__title {
    color: #4b4b4b;
}

.pricing-box_inverse .pricing-box__desc {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

#content .price-custom {
    margin-top: 50px;
}

.benefits {
    padding: 0 6%;
}

#content .benefits__title {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
}

.benefit__item {
    margin: 15px 0 25px 0;
    width: 32%;
    float: left;
}

.benefit__item:nth-of-type(2) {
    margin: 15px 2% 25px 2%;
}

.sec-2 .info {
    margin-top: 20px;
    font-size: 16px;
}

#content .section__title_dark {
    color: #383838;
}

@media screen and (max-width: 600px) {
    #content .benefit__item {
        width: 98%;
    }
}

@media screen and (max-width: 460px) {
    #content .row-table,
    #content .pricing-box,
    #content .row-table .grid-g__col_6 {
        display: block;
    }
    #content .row-table .grid-g__col_6 {
        width: 100%;
        padding: 20px;
        margin-bottom: 20px;
    }
}



/* SECTION 4 */

.responsive-img {
    max-width: 100%;
    height: auto;
}

.sec-4 {
    /*background: url(../img/sec-4-bg.jpg) no-repeat 50% 50%;*/
    background-color: #e6e6e6;
    background-size: cover;
    /*min-height: 740px;*/
}

#sec-4 .button_grey {
    /*background-color: #ededed;*/
    border: 1px solid #b2b2b2;
    color: #383838;
}

.fullWidthBox {
    background-color: #fff;
    display: inline-block;
}

.iblock {
    display: inline-block;
}

@media screen and (min-width: 768px) {
    .iblock:nth-last-child(1) {
        display: inline-block;
        padding-left: 15px;
    }
}

.saleBox {
    display: inline-block;
}

.sale__item_bg {
    background: url(../img/img-1.jpg) no-repeat center right;
    background-size: contain;
}

.wrapper_inner {
    padding-right: 250px;
}

.mediapad .sale__item {
    min-height: 244px;
}

.mediapad .inline-wrap {
    width: 50%;
}

.sale_row-0 {
    max-width: 782px;
    margin: 0 auto;
}

#content .sale__title_huge {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #262626;
}

#content .sale_row-0 .link {
    text-decoration: none;
    margin-left: 15px;
}

.prod-img-holder {
    position: relative;
    text-align: center;
}

.ec-sale-0 {
    position: absolute;
    top: 0;
    left: -20px;
}

#content .price-current {
    color: $magenta;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 20px;
}

#content .price-old {
    margin-top: 0;
    margin-bottom: 15px;
}

.strikethrough {
    position: relative;
}
.strikethrough:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;

    -webkit-transform:rotate(-12deg);
    -moz-transform:rotate(-12deg);
    -ms-transform:rotate(-12deg);
    -o-transform:rotate(-12deg);
    transform:rotate(-12deg);
}

.sale_row-2 {
    margin-top: 25px;
    display: inline-block;
}

.sale__item {
    padding: 25px;
    border: 1px solid #d0d0d0;
}

#content .sale__item-1 {
    padding-bottom: 0;
    font-size: 16px;
}

.ziskaj {
    padding-bottom: 10px;
}

#sec-4 .desc {
    color: #a4a4a4;
    padding-bottom: 20px;
}

#content a.blue-link {
    text-decoration: underline;
}

#sec-4 a.gray {
    color: #a4a4a4;
    text-decoration: underline;
}

.sale__item.sale__item-1 {
    padding-left: 0;
}

@media screen and (max-width: 768px) {
    .prod-img-holder {
        margin-top: 20px;
    }

    .ec-sale-0 {
        left: 40%;
        transform: translateX(-40%);
    }
}

@media screen and (max-width: 402px) {
    #content .sale_row-0 .link,
    #content .sale_row-0 .cta {
        display: block;
        text-align: center;
        margin-left: 0;
    }

    #content .sale_row-0 .link {
        margin-top: 20px;
    }
}

/* OFFICE POPUP */

#popup-office {
    max-width: 300px;
    text-align: center;
}

.popup-title {
    font-size: 20px;
    font-weight: 500;
    color: $magenta;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;
}

.popup-default-p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #262626;
}

.p-content .cta {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #65ac20;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
    margin-top: 20px;
}

.p-content .cta:hover {
    background-color: #58951c;
    border: 1px solid #4d8319;
    color: #ffffff;
}

.p-content .link {
    font-size: 16px;
    display: inline-block;
    margin-top: 5px;
}

/* SECTION 5 */

#content .sec-5 .section__title {
    color: #262626;
}

#content .sec-5 .desc {
    margin-bottom: 0;
}


/* SECTION 6 TABLETs LIST */

#content .section__description {
    max-width: 570px;
    margin: 0 auto;
    display: block;
}


/* SECTION 7 */


/* SECTION 8 PREDLZENIE */

#sec-8 .zlava-10 {
    padding: 20px 0 30px 0;
    background-color: #262626;
}

#sec-8 .banner__title {
    font-size: 34px;
    color: #e20074;
    line-height: 34px;
    margin-top: 4px;
    display: inline-block;
}

#sec-8 .banner__desc {
    margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
    #sec-8 .zlava-10 {
        padding: 35px 0 30px 0;
    }
    #sec-8 .banner__title {
        font-size: 28px;
        line-height: 28px;
    }
}


/* CMB */

.modrePole {
    background: #cfe0ef;
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
    margin: 25px 0;
}

.modrePole .button {
    font-size: 16px !important;
}

.modrePole .button span {
    display: block;
    line-height: 1.4em;
}

/****************************************/
/* POPUP */
/****************************************/
  .fancybox-wrap {
    border: 0;
    & .fancybox-skin {
      background-color: #fff;
      border-radius: 11px;
      & .fancybox-outer {
        & .fancybox-inner {
          & .p-head {
              display: block;
              height: 40px;
              border-bottom: 1px solid #d0d0d0;
              margin-bottom: 10px;
              & .p-close {
                background: none;
                position: absolute;
                right: 10px;
                top: 11px;
                a.close-btn {
                  position: relative;
                  display: inline-block;
                  width: 17px;
                  height: 17px;
                  overflow: hidden;
                  float: right;
                  transition: all 100ms linear;
                  &::before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 48%;
                    left: 0;
                    background: #000;
                    transform: rotate(45deg);
                    height: 1px;
                  }
                  &::after {
                    content: '';
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    top: 48%;
                    left: 0;
                    background: #000;
                    transform: rotate(-45deg);
                    height: 1px;
                  }
                }
              }
          }
          & .p-content {
            & .popup-lightbox {
              font-size: 1.3em;
              text-align: center;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
              color: #e20074;
              & p {
                font-size: 18px;
                margin: 0;
                color: black;
              }
              & a.btn {
                margin-top: 15px;
              }
            }
          }
        }
      }
    }
    & .fancybox-opened .fancybox-skin {
      box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    }
  }
/* POPUP END */


/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover, &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */
#content .dataDevice__item-img {
    min-height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img  {
        max-width: 150px;
        height: auto;        
    }
}