/* ===============
   CSS FOR MICROSITE
   =============== *
//* Global */

.text_centered {
    text-align: center;
}
.col-cta .btn {
    width: 140px;
}
/* qtip */

#content .info-link {
    text-decoration: underline;
    cursor: pointer;
}

.tooltip .qtip-content {
    font-size: 14px;
}

.fullWidthBox {
    background-color: #fff;
    display: block;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #c6ccd0;
}

@media screen and (min-width: 961px) {
    #content .b-r {
        border-right: 1px solid #c6ccd0;
    }
}

@media screen and (max-width: 960px) {
    #content .b-b-m {
        border-bottom: 1px solid #c6ccd0;
    }
}

#content .b-b {
    border-bottom: 1px solid #c6ccd0;
}

.main-bg {
    padding: 40px 0 10px 0;
    background-size: initial;
    background-color: #e6e6e6;
}

#content .section_title {
    margin-bottom: 20px;
}

#content .no-space {
    margin-top: 0;
    margin-bottom: 0;
}


/* sec-1 */

#content .sec-1 .main_title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.sec-1 .sub_title {
    color: #262626;
    font-weight: bold;
}

#content .spec-list {
    margin-left: 0;
    margin-top: 0;
    font-size: 16px;
}

#content .sec-1 .section_title {
    font-size: 24px;
    display: inline-table;
}

#content .col-top {
    line-height: 100%;
    margin-top: 60px;
}

#content .col_title {
    font-size: 24px;
    color: $magenta;
}

#content .col-holder {
    position: relative;
    & .col-cta {
        position: absolute;
        left: 15px;
        top: 330px;
    }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
    #content .col2 {
        width: 66.66667%;
    }
    #content .col3 {
        width: 90%;
    }
}

@media screen and (max-width: 960px) {
    #content .col-top {
        line-height: 100%;
        margin-top: 20px;
    }
    #content .col-holder {
        position: relative;
        & .col-cta {
            position: relative;
            margin-top: 15px;
            left: inherit;
            top: inherit;
        }
    }
}


/* sec-2 */

.sec-2 {
    background-color: #e6e6e6;
    padding-bottom: 40px;
}


/* sec-3 */

.sec-3 {
    /*background-color: #eef4f8;*/
    padding: 20px 0;
}


/* sec-4 */

.sec-4 {
    /*background-color: #eef4f8;*/
    padding-bottom: 20px;
}


/* checker */
.checkbox-main,
.checkbox-header {
    display: inline-block;
    vertical-align: top;
}

.checkbox-magenta {
    color: #E20074;
    font-size: 1.5em;
}