<!-- d-2-1-0 -->
<section id="d-2-1-0" class="section d-2-1-0 stick-cont">
    <!-- step indicator -->
    <step-indicator></step-indicator>
    <!-- app view -->
    <div class="container-fixed">
        <!-- phone-num -->
        <div class="phone-num">
            <phone-num></phone-num>
        </div>
        <!-- help float -->
        <div class="help-menu" ng-click="$ctrl.showPopup('help', null, null)">
            <div class="help-menu__item">
                <a class="help-menu__link icon_question">
                    <!-- help-ico -->?</a>
                <div class="help-menu__content">
                    <p>Potrebujem pomôcť</p>
                </div>
            </div>
        </div>
        <!-- //help float -->        
        <div class="row">
            <div class="col-md-12 title__wrap">
                <h2 class="sec__title text_centered">{{ $ctrl.serviceBoxTitle[0] }}</h2>
                <p class="sec__desc text_centered" ng-bind-html="$ctrl.serviceBoxTitle[1]"></p>
            </div>
            <div class="col-md-12 service__wrap text_centered">
                <!-- CLASA PRE ACTIVE PRVOK: service__box-active -->

                <div ng-repeat="link in $ctrl.serviceBoxLinks" ng-class="{'service__box-active': link.active}" ng-show="link.show" ng-click="$ctrl.redirect($ctrl.serviceBoxLinks.indexOf(link) + 1)" class="col-md-6 offset-md-3 service__box service__box-select">{{ link.value }}</div>
            </div>
        </div>
    </div>
    <!-- step controls -->
    <step-controls></step-controls>
</section>

<popup></popup>