<section id="hero">
    <div class="fixed-column">
        <div class="hero__content text-center ">
            <img src="../assets/img/kv-logo.png" alt="">
            <h1 class="hero__title font_white">
            <span class="text_thin"> posúvame latku kvality</span>
            <span class="text_bold">prinášame vysielaNie v <span class="font_magenta">4K</span> kvalite!</span>
            </h1>
            <a href="#sec-1" class="button button_lima scroll-to">Viac info</a>
        </div>
    </div>
</section>
<section class="section sec-1" id="sec-1">
    <div class="container-fixed">
        <div class="row text_centered">
            <h2>4K KVALITA NA SLOVENSKU</h2>
            <div class="col-xs-12 col-md-4">
                <img alt=" " src="../assets/img/ico-01.png">
                <p class="sec1__description"> <span class="sec1__title text_bold ">4K prinášame ako prví</span>
                    <br>V spolupráci s partnermi sme prví, korí vám prinášajú možnosť sledovať vysielanie prostredníctvom 4K aplikácie.</p>
            </div>
            <div class="col-xs-12 col-md-4"> <img alt=" " src="../assets/img/ico-02.png">
                <p class="sec1__description"> <span class="sec1__title text_bold ">Zavítajte s nami do televíznej budúcnosti!</span>
                    <br>4K kvalita, alebo tiež Ultra HD kvalita (UHD) má rozlíšenie 3840 x 2160 pixelov, čo je takmer 4krát viac ako HD kvalita.</p>
            </div>
            <div class="col-xs-12 col-md-4"> <img alt=" " src="../assets/img/ico-03.png">
                <p class="sec1__description"> <span class="sec1__title text_bold ">Jedinečné Olympijské hry</span>
                    <br>4K kvalita bude dostupná v rámci vysielania Olympijských hier. Sledujte napr. otvárací ceremoniál, judo, plávanie či atletiku už pár hodín po živom vysielaní.</p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2 section-bg" id="sec-2">
    <div class="container-fixed">
        <h2 class="section__title-large">
            Ako na to?</h2>
        <div class="row text_centered">
            <div class="col-md-6 offset-md-3">
                <div class="steps">
                    <div class="step-num">
                        1.
                    </div>
                    <div class="step-title">
                        Je potrebné mať 4k televízor
                    </div>
                    <div class="step-desc">
                        <p>4K smart TV je jedným zo základných technických predpokladov na to, aby ste mohli sledovať obsah v 4K kvalite. Naša aplikácia je dostupná na 4K smart TV od spoločnosti Samsung s OS Tizen 2015 a Tizen 2016</p>
                    </div>
                </div>
            </div>
            <!-- step 2 -->
            <div class="col-md-6 offset-md-3">
                <div class="steps">
                    <div class="step-num">
                        2.
                    </div>
                    <div class="step-title">
                        aplikácia 4k TELEKOM
                    </div>
                    <div class="step-desc">
                        <p>Pre sledovanie v 4K kvalite je potrebné si stiahnuť aplikáciu 4K Telekom. Aplikácia je dostupná pre všetkých fanúšikov zadarmo.</p>
                    </div>
                </div>
            </div>
            <!-- step 3 -->
            <div class="col-md-6 offset-md-3">
                <div class="steps">
                    <div class="step-num">
                        3.
                    </div>
                    <div class="step-title">
                        internetové pripojenie
                    </div>
                    <div class="step-desc">
                        <p>Na to, aby bolo technicky možné sledovať obsah v 4K kvalite, musíte mať internetové pripojenie 12 Mbps. Po spustení aplikácie bude Vaše pripojenie overené priamo aplikáciou a v prípade ak nebude dostatočné, zobrazí sa Vám informačná hláška.</p>
                    </div>
                </div>
            </div>
            <!-- step 4 -->
            <div class="col-md-6 offset-md-3">
                <div class="steps">
                    <div class="step-num">
                        4.
                    </div>
                    <div class="step-title">
                        Sledovanie v 4K kvalite
                    </div>
                    <div class="step-desc">
                        <p>Ak ste splnili všetky predchádzajúce body, želáme vám príjemné televízne zážitky z Olympijských hier v najvyššej kvalite.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="container-fixed">
        <div class="row text_centered">
            <div class="col-md-6 offset-md-3">
                <p class="text_centered">
                    Aplikácia je pripravená v spolupráci s našimi partnermi:
                </p>
            </div>
        </div>
        <div class="row logo-group text_centered ">
            <div class="col-md-3 offset-md-2-logo logo-box">
                <img alt=" " src="../assets/img/logo-01.png">
            </div>
            <div class="col-md-3 logo-box">
                <img alt=" " src="../assets/img/logo-02.png">
            </div>
            <div class="col-md-3 logo-box">
                <img alt=" " src="../assets/img/logo-03.png">
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
