#content {
    .lb-head {
        display: block;
        background-color: #EF2A8B;
        height: 125px;
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 10px;
    }
    .lb-close {
        background: url(/assets/img/ico-close-w.png) no-repeat;
        width: 17px;
        height: 17px;
        display: inline-block;
        float: right;
        cursor: pointer;
        margin-top: 12px;
        margin-right: 12px;
    }
    .sb-close {
        background: url(/assets/img/ico-close.png) no-repeat;
        width: 17px;
        height: 17px;
        position: absolute;
        display: inline-block;
        float: right;
        cursor: pointer;
        right: 10px;
        top: 10px;
    }
    .lb-title__wrap {
        padding-top: 26px;
        padding-left: 30px;
        .lb-title {
            font-size: 16px;
            color: #fff;
            margin: 0;
        }
        .lb-title-type {
            font-size: 22px;
            color: #fff;
            font-family: Tele-GroteskHal;
            text-transform: uppercase;
        }
        .lb-title-price {
            font-size: 22px;
            color: #fff;
            font-family: Tele-GroteskNor;
        }
    }

    .lb-head-img__wrap {
        position: relative;
        & .lb-head-ico {
            position: absolute;
            right: 35px;
            top: -80px;
        }
    }
}



/* PLAN LIST MOBILE */

#plm-sticky {
    background-color: $white;
}

#plm-sticky #plm__head .plm__arrow-holder,
#plm-sticky #plm__head .plm__arrow-white-space {
    display: none;
}

#plm-sticky.stuck #plm__head {
    width: 100%;
    float: left;
    position: relative;
}

#plm-sticky.stuck #plm__head .plm__arrow-holder {
    position: absolute;
    display: block;
    bottom: -23px;
    width: 100%;
    height: 18px;
    border-top: 4px solid #e20074;
    background: url(../img/ico-selected-row.png) no-repeat center top;
}

#plm-sticky.stuck #plm__head .plm__arrow-white-space {
    position: absolute;
    display: block;
    bottom: -6px;
    width: 100%;
    height: 6px;
    background-color: #fff;
}

.plm__head {
    width: 100%;
}

#content .plm__head-item {
    width: 33.33333333333333%;
    float: left;
    text-align: center;
    height: 34px;
    line-height: 34px;
    border: 1px solid #b2b2b2;
    color: #262626;
    background-color: $white;
}

#content .plm__head-item:first-of-type {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#content .plm__head-item:last-of-type {
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#content .plm__head-item_selected {
    background-color: $magenta;
    color: $white;
    border: 1px solid #cc0069;
}

#content .plan-show-detail_mob {
    display: none;
}

.plm__col {
    float: left;
    width: 33.33333333333333%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plmp-inner {
    display: flex;
    align-items: center;
}

#plm__body {
    float: left;
    width: 100%;
    border-top: 4px solid #e20074;
    margin-top: 10px;
}

#plm__body .plan-choose-btn {
    text-align: center;
    width: 118px;
}

#content #plm__body .plan-price,
#content #plm__body .plan-data {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
}

#content #plm__body .plan-name,
#content #plm__body .plan-data-location {
    font-size: 16px;
    line-height: 16px;
}

#content .plan-show-detail {
    margin-bottom: 2px;
}

.plm__plan.row:first-of-type .plm__col-2 {
    background: #fbd9ea url('../img/ico-selected-row.png') center top no-repeat;
}

.plm__plan.row {
    border: 1px solid #d0d0d0;
    border-top: 0;
    position: relative;
}

#content .plm__plan-ribbon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5791c5;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    margin: 0;
}

.plm__plan_w-ribbon.row {
    border-top: 1px solid #1063ad;
}

.plm__col {
    min-height: 124px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

#content .plm__col .plan-data {
    margin-top: 5px;
}

.plm__col-2 {
    background-color: #fbd9ea;
}

@media screen and (max-width: 430px) {
    #plm__body .plan-choose-btn {
        width: 90px;
        padding: 8px 0;
    }
}

@media screen and (max-width: 400px) {
    #content .plan-show-detail_mob {
        display: block;
    }

    #content .plan-show-detail_tab {
        display: none;
    }
}

// PLAN DETAIL MOBILE
#wrapper {
    position: relative;
}

#plm__overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
}

#plm__plan-detail {
    display: block;
    position: absolute;
    top: 0;
    left: -4%;
    right: -4%;
    min-height: 100vh;
    background-color: $white;
    z-index: 100;
}

.plmp__head {
    background-color: #e20074;
    height: 60px;
    width: 100%;
    display: flex;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.24);
    margin-bottom: 10px;
    position: relative;
}

.plmp__head_w-ribbon {
    border-bottom: 1px solid #5791c5;
}

#content #plm__plan-back {
    height: 60px;
    width: 60px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
}

#content .plm__plan-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: $white;
    font-size: 24px;
    text-transform: uppercase;
}

#content .plmp__ribbon {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #5791c5;
    color: $white;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;
    margin: 0;
}

.plmp__body {
    padding: 15px;
}

@media screen and (min-width: 768px) {
    .plmp__body {
        max-width: 460px;
    }
}

#content .plmp__body-row {
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
    display: flex;
}

#content .plmp__row-price {
    border-bottom: 0;
}

.plmp__body-col,
.plmp__row-price .plmp__body-col-1 {
    float: left;
    display: block; // display: flex;
    // flex-direction: column;
    justify-content: center;
}

.plmp__body-col-1 {
    justify-content: flex-start;
}

.plmp__body-col-1 {
    width: 10%;
}

.plmp__body-col-2 {
    width: 90%;
}

#content .plmp__body-col__left,
#content .plmp__body-col__right {
    padding-left: 0;
    padding-right: 0;
}

@media screen and (max-width: 777px) {
    #content .plmp__body-col__left {
       margin-bottom: 12px;
    }
}

#content .plmpd-title,
#content .plmp__data,
#content .plmp__data-location,
#content .plmp__call-tit {
    margin: 0;
    line-height: 16px;
    color: #262626;
}

#content .plmpd-title {
    color: #000;
    font-family: Tele-GroteskHal;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 10px;
    margin: 0;
    text-transform: uppercase;
}

#content .plmp__data,
#content .plmp__data-location,
#content .plmp__call-tit {
    font-size: 16px;
}

#content .plmp__data,
#content .plmp__call-tit {
    font-family: Tele-GroteskFet;
}

#content .plmp_small {
    color: #6c6c6c;
    font-size: 16px;
    font-family: Tele-GroteskNor;
    line-height: 19px;
    margin: 0;
}

.plmp__sep {
    height: 1px;
    width: 100%;
    background-color: #d0d0d0;
    margin: 10px 0;
}

.plmp__row-call .plmp__sep {
    margin-top: 20px;
}

#content .plmp__row-sms {
    border-bottom: 0;
}

.plmp__row-sms .plmp__sep {
    margin-top: 20px;
}

.plmp__row-call .plmp__body-col-1 {
    justify-content: space-between;
}

#content .plmp__body .plan-sale,
#content .plmp__price {
    margin: 0;
}

#content .plmp__price {
    font-size: 26px;
    line-height: 26px;
}

.plmp__btn-holder {
    text-align: center;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}

#content .plmp__btn-holder .module-legal {
    text-align: center;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #d0d0d0;
    padding-top: 10px;
}


@media screen and (max-width: 671px) {
    #plm__plan-detail {
        left: -2%;
        right: -2%;
    }
}

@media screen and (max-width: 400px) {
    .plmp__body-col-1 {
        width: 30%;
    }

    .plmp__body-col-2 {
        width: 60%;
    }

    #content .plmp__btn-holder .plan-close-btn {
        width: 100%;
    }
}