<div id="fix-lenovo100">

	<div class="c-background">
		&nbsp;
	</div>

	<div class="c-row c-row-1 c-heading">
		<div class="c-content">
			<div class="c-text">
				<h1 style="margin-top:100px">
					<b>Nadčasová nádielka</b>
					<br />
					MOBIL AKO DARČEK K NOTEBOOKU
					<br />
					S MAGIO TV, INTERNETOM ALEBO PEVNOU LINKOU</h1>
				<div class="order">
					<a class="button c-btn green-button" href="/fix/objednavka/-/scenario/e-shop/chytry-balik"><span>VIAC INFO</span>
					</a></div>
			</div>
		</div>
	</div>

	<div class="c-row c-row-2">
		<div class="c-content">
			<div class="c-img">
				<img src="../assets/img/ponuka_ideapad100_a2000.png" />
			</div>
			<div class="c-text">

				<img id="ec_lenovoa100" src="../assets/img/ec_lenovo_a2000.png" />

				<h2>
					<b>Exkluzívna ponuka</b>
					<br>
					LENOVO IDEAPAD 100
				</h2>
				<ul class="list-square">
					<li>
						500 GB HDD
					</li>
					<li>
						pamäť 4GB RAM
					</li>
					<li>
						uhlopriečka 15,6"
					</li>
					<li>
						Windows 10
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="c-row c-row-3">
		<div class="c-content">
			<div class="c-text">
				<h2>
					<b>Ponuka je určená pre nových</b>
					<br>
					aj existujúcich zákazníkov </h2>

				<div class="table-desktop">
					<div class="table-row row-top">
						<div>Ceny notebooku k programom</div>
						<div>Lenovo IdeaPad 100/jednorazovo</div>
						<div>Lenovo IdeaPad 100/mesačne</div>
					</div>

					<div class="table-row row-middle">
						<div>L - Magio TV, Magio internet,<br>Pevná linka</div>
						<div class="price">49 €</div>
						<div class="price">8 €</div>
					</div>

					<div class="table-row row-bottom">
						<div>XL - Magio TV, Magio internet,<br>Pevná linka</div>
						<div class="price">1 €</div>
						<div class="price">8 €</div>
					</div>

				</div>

				<div class="table-mobile">
					<h3>Ceny notebooku k programom</h3>

					<div class="table-head table-L">
						<div>L - Magio TV, Magio internet,<br>Pevná linka</div>
					</div>

					<table>
						<tr>
							<td>Lenovo IdeaPad 100/jednorazovo</td>
							<td class="price">49 €</td>
						</tr>
						<tr>
							<td>Lenovo IdeaPad 100/mesačne</td>
							<td class="price">8 €</td>
						</tr>
					</table>

					<div class="table-head table-XL">
						<div>XL - Magio TV, Magio internet,<br>Pevná linka</div>
					</div>

					<table>
						<tr>
							<td>Lenovo IdeaPad 100/jednorazovo</td>
							<td class="price">1 €</td>
						</tr>
						<tr>
							<td>Lenovo IdeaPad 100/mesačne</td>
							<td class="price">8 €</td>
						</tr>
					</table>

				</div>

				<h3>
					Ceny programov získate výhodnejšie
					<br>
					ich kombináciou v Chytrom Balíku </h3>
				<a class="button c-btn" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">Prejsť k objednávke</a></div>

		</div>
	</div>

	<div class="c-row c-row-4">
		<div class="c-content">
			<div class="c-img">
				<img src="../assets/img/powerbank.png" />
			</div>
			<div class="c-text">
				V Telekome vám ku každému nákupu darujeme externú batériu, ktorú budete mať vždy nabitú. <a href="#">Viac
				info</a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../assets/js/main.js"></script>