/* ===============
   CSS FOR MICROSITE
   =============== */
   
/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
}

.hero__content {
    text-align: center;
    max-width: 460px;
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 50% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
    }

    #hero .btn {
        margin-top: 60px;
    }
}

// #content .pad0 {
//     padding: 0;
// }

// #content .vizual {
//     margin-top: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     img {
//         max-width: 100%;
//     }
//     .hero_hdl {
//         margin: 0px;
//         padding: 0px;
//         line-height: 38px;
//         @media screen and (max-width: 600px) {
//             font-size: 42px;
//         }
//     }
//     .description {
//         margin: 0px !important;
//         @media screen and (max-width: 600px) {
//             display: none;
//         }
//     }
// }

// #content .descMob {
//     @media screen and (min-width: 600px) {
//         display: none;
//     } 
// }

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
