<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/zazraky/vianoce">Zázračné vianočné akcie</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.png" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>									
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
								<img class="vypredane-img" src="../assets/img/vypredane2.png" />
								<div class="vypredane"><!-- desc --></div>
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> --><!-- OVERLAY VYPREDANE  --><!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
						<div class="box-device">
							<p class="pricing__title magenta-text">Vianočná akcia</p>
							<h1 class="bpis__title">
								Samsung UE49NU7172UXXH 49“/123cm 4K&nbsp;televízor</h1>
							<p class="bpis__desc">Spravte si zázračné Vianoce s Ultra HD Smart televízorom s plnými farbami a ostrými detailami pre dokonalý zážitok.</p>							
							<p><!-- desc -->&nbsp;</p>
							<p class="bpis__title">Pozrite si ostatné zariadenia vo vianočnej akcii</p>
							<a class="btn cta_mag" href="/zazraky/vianoce" type="button">Pozrieť ostatné vianočné akcie</a>
							
							<!-- price selector -->
							<!-- <div class="box-device-prices">
								<p class="pricing__title">
									Zobraziť ceny pre:</p>
								<select id="select_program">
									<option value="l">Magio internet, TV a Pevnú linku L</option>
									<option value="xl">Magio internet, TV a Pevnú linku XL</option>
								</select>
								<table class="pricing-table">
									<tbody>
										<tr class="inner-head no-margin">
											<th colspan="2">
												Mesačne:
											</th>
										</tr>
										<tr class="no-margin">
											<td>
												Za pevnú službu:
											</td>
											<td>
												<span class="feePrice">20,00 €</span>
											</td>
										</tr>
										<tr class="no-margin web-action">
												<td>
													<img src="../assets/img/ico-1.png" />Web zľava 2. a 3. mesiac
												</td>
												<td>
													<span class="feePrice">20,00 €</span>
												</td>
											</tr>
										<tr class="no-margin">
											<td>
												Doplatok k službe:
											</td>
											<td>
												<span class="feePrice">15,00 €</span>
											</td>
										</tr>
										<tr class="one-time-payment">
											<td>
												Jednorazovo pri kúpe:</td>
											<td>
												<span class="feePrice oneTimeFee">1,00 €</span>
											</td>
										</tr>
									</tbody>
								</table>
								<a class="btn cta" href="/fix/objednavka/-/scenario/e-shop/chytry-balik" type="button">PREJSŤ K NÁKUPU</a>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-2 segment" data-segment="1" id="sec-det-2">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Viac obsahu a zábavy s Ultra HD rozlíšením</p>
								<p class="feat-desc">
									Vychutnajte si výnimočne ostré a precízne zábery na televízore s certi-fikovaným 4K UHD rozlíšením. Certifikácia od DE (Digital Europre) je garanciou toho, že každý pixel je schopný reprodukovať farby v pl-nom rozlíšení.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Uvidíte ešte viac detailov s HDR</p>
								<p class="feat-desc">
									Sledujte obsah v HDR s lepšou ostrosťou a detailnejším farebným roz-líšením. Samsung UHD TV vám poskytne ešte presnejšie podanie de-tailov v jasných aj tmavých scénach.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Prirodzené farby plné detailov</p>
								<p class="feat-desc">
									Váš obľúbený obsah si teraz užijete s prirodzenými farbami a plnými detailami,  ktoré sú tak ostré ako v skutočnosti. Váš zážitok zo sledo-vania bude odteraz ešte farebnejší.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Lepší zážitok zo sledovania ostrého obrazu</p>
								<p class="feat-desc">
									Vychutnajte si farby a ostrosť spolu s rôznymi úrovňami kontrastu, ktoré sa automaticky optimalizujú pre ešte lepší zážitok zo sledovania. UHD Dimming dokáže rozdeliť obrazovku na malé bloky, vďaka čo-mu uvidíte viac presnejších detailov.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">
									Veľká obrazovka pre ešte väčšie zážitky</p>
								<p class="feat-desc">
									Vychutnajte si vaše obľúbené filmy na ešte väčšej obrazovke. Pri sledovaní športových zápasov sa budete cítiť ako keby ste sedeli priamo na tribúne. Moderné a prepracované spracovanie TV podčiarkne di-zajn vášho interiéru.</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.jpg" /></div>
					</div>					
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									Ešte inteligentnejší spôsob sledovania Smart TV</p>
								<p class="feat-desc">
									Získajte šikovnejší, jednoduchší a praktickejší prístup k zábavnému obsahu. S funkciou One Depth budete mať na jednej obrazovke pod kontrolou širokú škálu obsahu. A pri rozhodovaní, čo budete sledovať vám pomôže praktické prehrávanie náhľadu.</p>
							</div>
						</div>
					</div>
					<div class="feature-to-holder">
						<div class="feat-text-only">
							<div class="feat-text">
								<p class="feat-tit">
									SmartThing. Jedna aplikácia pre všetko</p>
								<p class="feat-desc">
									S aplikáciou SmartThing rozšírite rozmanité funkcie svojho televízora napríklad o možnosť zrkadlenia obsahu. Pripojte, automatizujte a spravujte všetky zariadenia a elektroniku kompatibilnú so systémom Samsung a SmartThings pomocou jednej jednoducho použiteľnej aplikácie.</p>
							</div>
						</div>
					</div>
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> --></div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<table class="table-params">
							<tbody>
								<tr>
									<th colspan="2" class="first-param">Základné informácie</th>
								</tr>
								<tr>
									<td>Názov produktu:</td>
									<td>Samsung UE49NU7172UXXH</td>
								</tr>
								<tr>
									<td>Typ:</td>
									<td>Smart TV – OS Tizen</td>
								</tr>
								<tr>
									<td>Uhlopriečka:</td>
									<td>49”/123cm</td>
								</tr>			
								<tr>
									<td>Typ displeja:</td>
									<td>LED UHD</td>
								</tr>
								<tr>
									<td>Rozlíšenie:</td>
									<td>Certifikované Ultra HD rozlíšenie, 3840 x 2160 px</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Video</th>
								</tr>									
								<tr>
									<td>Obrazový mechanizmus:</td>
									<td>UHD Engine</td>
								</tr>
								<tr>
									<td>PQI (index kvality obraz):</td>
									<td>1300</td>
								</tr>								
								<tr>
									<td>HDR (vysoký dynamický rozsah):</td>
									<td>HDR</td>
								</tr>
								<tr>
									<td>HDR 10+:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>HLG (Hybrid Log Gamma):</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Kontrast:</td>
									<td>Meda Contrast</td>
								</tr>
								<tr>
									<td>Auto Motion Plus:</td>
									<td>áno (MR100)</td>
								</tr>
								<tr>
									<td>Filmový režim:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Podpora prirodzeného režimu:</td>
									<td>áno</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Zvuk</th>
								</tr>								
								<tr>
									<td>Dolby Digital Plus:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Zvukový výstup (RMS):</td>
									<td>20 W</td>
								</tr>
								<tr>
									<td>Typ reproduktorov:</td>
									<td>2ch</td>
								</tr>
								<tr>
									<td>Multiroom Link:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Bluetooth Audio:</td>
									<td>Nie</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Smart Service</th>
								</tr>								
								<tr>
									<td>Samsung SMART TV:</td>
									<td>Smart</td>
								</tr>
								<tr>
									<td>Webový prehliadač:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>SmartThings App Support:</td>
									<td>áno</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Konvergencie</th>
								</tr>								
								<tr>
									<td>Zrkadlenie obsahu / DLNA – mobilné zariade-nie na TV:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Prehrávač 360° videa:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Podpora 360° kamery:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Priame pripojenie Wi-Fi:</td>
									<td>áno</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Prijímač/vysielanie</th>
								</tr>								
								<tr>
									<td>Digitálne vysielanie:</td>
									<td>DVB-T2CS2</td>
								</tr>
								<tr>
									<td>Analógový prijímač:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>CI (Common Interface):</td>
									<td>CI+ (1.4)</td>
								</tr>
								<tr>
									<td>Vysielanie údajov:</td>
									<td>HbbTV 1.5 (CZ, SK)</td>
								</tr>
								<tr>
									<td>Podpora TV Key:</td>
									<td>áno</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Konektivita</th>
								</tr>								
								<tr>
									<td>HDMI:</td>
									<td>3 (HDMI 2.0)</td>
								</tr>
								<tr>
									<td>USB:</td>
									<td>2 x</td>
								</tr>
								<tr>
									<td>Komponentný vstup (Y/Pb/Pr):</td>
									<td>1 x</td>
								</tr>
								<tr>
									<td>Kompozitný vstup (AV):</td>
									<td>1 x (spoločné použitie pre komponentný signál Y)</td>
								</tr>
								<tr>
									<td>Ethernet (LAN):</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Digitálny zvukový výstup (optický):</td>
									<td>1 x</td>
								</tr>
								<tr>
									<td>Vstup RF (pozemný/káblový vstup):</td>
									<td>1/1 (spoločné použitie pre pozemné vysielanie)</td>
								</tr>
								<tr>
									<td>Slot CI:</td>
									<td>1 x</td>
								</tr>
								<tr>
									<td>Podpora HDMI ARC:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Rýchle prepínanie HDMI:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Vstavaný modul na pripojenie k bezdrôtovej sieti LAN:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Anynet+ (HDMI–CEC):</td>
									<td>áno</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Dizajn</th>
								</tr>																
								<tr>
									<td>Dizajn:</td>
									<td>New Edge (tenký remix)</td>
								</tr>
								<tr>
									<td>Typ rámu:</td>
									<td>VNB</td>
								</tr>
								<tr>
									<td>Prevedenie:</td>
									<td>tenké</td>
								</tr>
								<tr>
									<td>Farba prednej strany:</td>
									<td>čierna</td>
								</tr>		
								<tr>
									<td>Typ stojana:</td>
									<td>Simple Luminus</td>
								</tr>
								<tr>
									<td>Otočenie (doľava/doprava):</td>
									<td>nie</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Ďalšie funkcie</th>
								</tr>								
								<tr>
									<td>Procesor:</td>
									<td>štvorjadrový</td>
								</tr>
								<tr>
									<td>Digitálne čisté zobrazenie:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Automatické hľadanie kanálov:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Automatické vypnutie:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Titulky:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Connect Share™ (pevný disk):</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>ConnectShare™ (USB 2.0):</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>EPG:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Herný režim:</td>
									<td>áno (Basic)</td>
								</tr>
								<tr>
									<td>Jazyk ponuky OSD:</td>
									<td>27 európskych jazykov a ruština</td>
								</tr>
								<tr>
									<td>Podpora rozhrania USB HID:</td>
									<td>áno</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Ekologické funkcie</th>
								</tr>																								
								<tr>
									<td>Ekologický snímač:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Trieda energetickej účinnosti:</td>
									<td>A</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Elektrické napájanie</th>
								</tr>
								<tr>
									<td>Zdroj napájania:</td>
									<td>AC220-240V 50/60Hz</td>
								</tr>
								<tr>
									<td>Príkon (max.):</td>
									<td>140 W</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Rozmery</th>
								</tr>
								<tr>
									<td>Rozmery balenia (Š x V x H):</td>
									<td>1250 x 778 x 153 mm</td>
								</tr>
								<tr>
									<td>Veľkosť televízora s podstavcom (Š x V x H):</td>
									<td>1102,8 x 716,4 x 261,3 mm</td>
								</tr>
								<tr>
									<td>Veľkosť televízora bez podstavca (Š x V x H):</td>
									<td>1102,8 x 637,8 x 59,7 mm</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Hmotnosť</th>
								</tr>								
								<tr>
									<td>Hmotnosť balenia:</td>
									<td>18,6 kg</td>
								</tr>
								<tr>
									<td>Hmotnosť televízora s podstavcom:</td>
									<td>13,5 kg</td>
								</tr>
								<tr>
									<td>Hmotnosť televízora bez podstavca:</td>
									<td>13,2 kg</td>
								</tr>
								<tr>
									<th colspan="2" class="first-param">Príslušenstvo</th>
								</tr>											
								<tr>
									<td>Model diaľkového ovládača:</td>
									<td>TM1240A</td>
								</tr>
								<tr>
									<td>Batérie (pre diaľkový ovládač):</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Podpora nástenného držiaku Mini (držiak nie je súčasťou balenia):</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Podpora držiaka VESA (držiak nie je súčasťou balenia):</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Používateľská príručka:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Elektronická príručka:</td>
									<td>áno</td>
								</tr>
								<tr>
									<td>Napájací kábel:</td>
									<td>áno</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="../assets/img/icon-1.png" />
								</div>
								<p>
									Objednávku vám doručíme kuriérom čo najskôr od jej spracovania.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="../assets/img/icon-2.png" />
								</div>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<div class="img-cont">
									<img alt="" src="../assets/img/icon-3.png" />
								</div>
								<p>
									Ak zistíte, že vám tovar alebo služba nevyhovuje, môžete ich vrátiť do 14 dní bez udania dôvodu.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1">
				&nbsp;</div>
		</div>
	</div>
</section>
<section class="section sec-det sec-det-3 segment">
	<div class="container-fixed">
		<p class="other-action-title">Ďalšie zázračné vianočné akcie</p>
		<div class="row">
			<div class="col-md-4 other-action">
				<img src="../assets/img/sony.jpg" />
				<div class="action-name">
					Sony Playstation 4, dva ovládače, tri hry a&nbsp;členská karta</div>
				<p class="magenta-text">
					už od 10 € mesačne</p>
				<p>
					<b>k pevným službám</b></p>
				<a class="btn shop-sony" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=s&zariadenie=playstation_4_3hry_2ovladac">VIAC INFO</a></div>
			<div class="col-md-4 other-action">
				<img src="../assets/img/roomba.jpg" />
				<div class="action-name">
					Robotický vysávač iRobot Roomba 965</div>
				<p class="magenta-text">
					už od 7 € mesačne</p>
				<p>
					<b>k paušálom ÁNO</b></p>
				<a class="btn shop-roomba" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=s&zariadenie=irobot_roomba_965">VIAC INFO</a></div>
			<div class="col-md-4 other-action">
				<img src="../assets/img/dvojicky.jpg" />
				<div class="action-name">
					Mobil Huawei P20 Lite +<br>mobil Huawei Y6 2018</div>
				<p class="magenta-text">
					už od 5 € mesačne</p>
				<p>
					<b>k paušálom ÁNO</b></p>
				<a class="btn shop-tv" href="/mob/objednavka/-/scenario/e-shop/hw-pausal?vyberrp=l&zariadenie=huawei_p20_lite_huawei_y6_2018">VIAC INFO</a></div>
		</div>
	</div>
</section>
<script type="text/javascript" src="../assets/js/main.js?v=2"></script><script type="text/javascript" src="../assets/js/detail.js"></script>