<section id="category" class="section" style="background-color: #f2f2f2;">
  <div class="container-fixed">
    <h3>Akým témam sa venujeme</h3>
    <div class="col-xs-10 offset-xs-1">
      <div class="category-slider">
        <a class="category-item" href="#">
          <img src="../assets/img/csr-priroda-m.jpg" alt="" />
          <h4>Rozumieme nepočujúcim</h4>
        </a>

        <a class="category-item" href="#">
          <img src="../assets/img/csr-priroda-m.jpg" alt="" />

          <h4>So zodpovednosťou k životnému prostrediu</h4>
        </a>

        <a class="category-item" href="#">
          <img src="../assets/img/csr-priroda-m.jpg" alt="" />
          <h4>Rozumieme nepočujúcim</h4>
        </a>

        <a class="category-item" href="#">
          <img src="../assets/img/03.png" alt="" />
          <h4>Rozumieme nepočujúcim</h4>
        </a>

        <a class="category-item" href="#">
          <img src="../assets/img/01.png" alt="" />
          <h4>Rozumieme nepočujúcim</h4>
        </a>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/slick.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
