<div id="content" class="container-fluid">
  <section class="sec-1" id="hero-checkout">
    <div class="container-fixed xs-orderWrapper clearfix">
        <div class="col-md-6 col-sm-8 col-xs-12 xs-order-2 pad30">
          <div class="hero__content">
            <h2 class="hero__title"><b>VAŠA</b><br>
              OBJEDNÁVKA
            </h2>
          </div>
        </div>
        <div class="col-md-6 col-sm-4 col-xs-12 xs-order-1 pad30">
          <div class="hero__mobile">
            <img src="{{imgsLR}}/shop-hero-mobile.png" alt="">
          </div>
        </div>
    </div>
  </section>

  <!-- nav menu -->
  <div class="secondary-nav">
      <app-navmenu></app-navmenu>
  </div>

  <section class="sec-2 section" id="sec-2">
    <div class="container-fixed clearfix">
      <div class="row rowTest">
        <div class="col-md-8 noRelative">
              <mat-horizontal-stepper (click)="stepClick(stepper)" class="materialStepper-fix" [linear]="true" #stepper>
                <ng-template matStepperIcon="edit">
                    <mat-icon>check</mat-icon>
                </ng-template>
                <mat-step [stepControl]="zeroStep" [editable]="false" [completed]="true">
                    <form>
                      <ng-template matStepLabel><span (click)="goToShop()"> Výber produktov</span></ng-template>
                      <div>
                        <button mat-button matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>
                <mat-step [stepControl]="firstStep">
                    <h2>Vyberte adresu doručenia:</h2>
                  <form [formGroup]="firstStep" class="firstStep">
                    <ng-template matStepLabel>Doručenie</ng-template>
                    <mat-form-field>
                        <input  matInput placeholder="Ulica a číslo" [(ngModel)]="streetNumberShip_value" type="text" formControlName="streetNumberShip" required>
                        <!-- <mat-error>Vlozte ulicu a cislo</mat-error> -->
                    </mat-form-field>
                    <mat-form-field>
                        <input  matInput placeholder="Mesto" type="text" [(ngModel)]="cityValueShip" formControlName="cityShip" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input  matInput placeholder="PSČ" (keypress)="allowOnlyNumbers($event)" [(ngModel)]="PSCvalueShip" formControlName="PSCShip" required>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea class="textArea" matInput placeholder="Poznámka (voliteľné)" type="text" [(ngModel)]="desc_value" formControlName="text"></textarea>
                    </mat-form-field>
                    <div>
                      <button class="btn cta_mag prev" mat-button routerLink="/cart">Spät do košíka</button>
                      <button class="btn cta_mag next" mat-button matStepperNext>Ďalej</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondStep">
                    <h2>Vyplňte osobné údaje:</h2>
                    <p><b>Vyplňte, prosím, nasledovné údaje</b></p>
                    <mat-checkbox class="checkbox-business" [(ngModel)]="business" (click)="createBusinessValidators()">Objednať na firmu</mat-checkbox>
                  <form [formGroup]="secondStep" class="secondStep">
                    <ng-template matStepLabel>Osobné údaje</ng-template>
                    <mat-form-field>
                      <input matInput placeholder="Meno" [(ngModel)]="firstName" type="text" formControlName="firstName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input  matInput placeholder="Priezvisko" [(ngModel)]="lastName" type="text" formControlName="lastName" required>
                    </mat-form-field>
                    <mat-form-field>
                        <input  matInput placeholder="Ulica a číslo" [(value)]="streetNumberShip_value" [(ngModel)]="streetNumber_value" type="text" formControlName="streetNumber">
                    </mat-form-field>
                    <mat-form-field>
                        <input  matInput placeholder="Mesto" type="text" [value]="cityValueShip" [(ngModel)]="cityValue" formControlName="city">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="PSČ" (keypress)="allowOnlyNumbers($event)" [value]="PSCvalueShip" type="text" [(ngModel)]="PSCvalue" formControlName="PSC">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Kontaktné telefónne číslo" (keypress)="allowOnlyNumbers($event)" [(ngModel)]="phoneNumber_value" type="text" formControlName="phoneNumber" required>
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="E-mail" type="text" [(ngModel)]="mail_value" formControlName="e-mail" placeholder="vas@email.sk" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" required>
                    </mat-form-field>
                    <mat-form-field *ngIf="business === true">
                      <input matInput placeholder="IČO" type="text" (keypress)="allowOnlyNumbers($event)" [(ngModel)]="ico_value" formControlName="ico">
                    </mat-form-field>
                    <mat-form-field *ngIf="business === true">
                      <input matInput placeholder="DIČ" type="text" (keypress)="allowOnlyNumbers($event)" [(ngModel)]="dic_value" formControlName="dic">
                    </mat-form-field>
                    <mat-form-field *ngIf="business === true">
                      <input matInput placeholder="IČDPH" type="text" (keypress)="allowOnlyNumbers($event)" [(ngModel)]="icdph_value" formControlName="icdph">
                    </mat-form-field>
                    <p style="margin: 10px 0 0 0">Vyplnenie nasledujúcich údajov urýchli vybavenie vašej objednávky:</p>
                    <mat-form-field>
                      <input matInput placeholder="Rodné číslo" [(ngModel)]="birthNumberValue" type="text" formControlName="birthNumber">
                    </mat-form-field>
                    <mat-form-field>
                      <input matInput placeholder="Číslo občianskeho preukazu" [(ngModel)]="idValue" type="text" formControlName="id">
                    </mat-form-field>
                    <div>
                      <button class="btn cta_mag prev" mat-button matStepperPrevious>Spät</button>
                      <button class="btn cta_mag next" mat-button matStepperNext (click)="hideCart_stepNext(stepper)">Ďalej</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step>
                    <h2>Zhrnutie:</h2>
                    <ng-template matStepLabel>Zhrnutie</ng-template>
                    <div class="summaryTable">
                      <p>
                          <b>Vaše budúce platby</b>
                          <span class="infoRight">Všetky uvedené ceny sú s DPH</span>
                      </p>
                      <div class="summTab">
                          <div class="summHead">
                              <div class="left">Produkty a služby</div>
                              <div class="middle" [ngStyle]="{'width':checked === true ? '49.5'+'%' : '24.1'+'%'}">Jednorazovo</div>
                              <div class="right hideOnMob" [ngClass]="{'hideIfChecked':checked === true}">Mesačne</div>
                          </div>
                          <div class="innerContent">
                              <div *ngFor="let package of productsInCart; let i = index" class="basic-package">
                                  <div class="iconWrapper">
                                      <i class="fa fa-archive"></i>
                                  </div>
                                  <div class="left">
                                      <div class="packageName">{{package.name}} ({{qtyInCart[i]}}ks)</div>
                                      <div class="packageInfo" *ngIf="package._id === basicPackage">
                                          <p>
                                              <i class="fa fa-check" aria-hidden="true"></i>
                                              <span>SmartHome centrála</span>
                                          </p>
                                          <p>
                                              <i class="fa fa-check" aria-hidden="true"></i>
                                              <span>Mobilná aplikácia</span>
                                          </p>
                                          <p>
                                              <i class="fa fa-check" aria-hidden="true"></i>
                                              <span>Dverový senzor</span>
                                          </p>                                                                                   
                                      </div>
                                      <div class="monthly hideOnDesktop" [ngClass]="{'hideIfChecked':checked === true}">
                                        <p class="monthlyPrice">Mesačne</p>
                                      </div>
                                  </div>
                                  <div class="basicPackageInfo" *ngIf="checked && package._id === basicPackage">
                                      <p> <b>V košíku máte Základný balík</b><br>
                                        Služba SmartHome, ako súčasť základného balíka, je spoplatnená sumou {{basicPackagePrice}}€ mesačne
                                      </p>
                                  </div> 
                                  <div class="middle" (ngModel)="checked" [hidden]="checked === true && package._id == basicPackage" [ngStyle]="{'width':checked === true ? '50'+'%' : '25'+'%'}">
                                      <p *ngIf="checked === true && package.fullPrice>0"class="hideOnMob">{{package.fullPrice * qtyInCart[i] | number : '1.2-2'}}<span> €</span></p>
                                      <div class="hideOnDesktop" *ngIf="checked === true && package.fullPrice>0"><p>{{package.fullPrice * qtyInCart[i] | number : '1.2-2'}}<span> €</span></p></div>
                                      <div class="hideOnDesktop" *ngIf="checked === false"><p>{{package.price * qtyInCart[i] | number : '1.2-2'}}<span> €</span></p></div>
                                    </div>
                                  <div class="right hideOnMob" [ngClass]="{'hideIfChecked':checked === true}">
                                      <p *ngIf="checked === false">{{package.price * qtyInCart[i] | number : '1.2-2'}}<span> €</span></p>
                                  </div>
                              </div>
                              <div class="delivery">
                                  <div class="iconWrapper">
                                      <i class="fa fa-truck"></i>
                                  </div>
                                  <div class="left">
                                      <div>Doručenie kuriérom</div>
                                      <p class="oneTimePrice">Jednorazovo kuriérovi</p>
                                  </div>
                                  <div class="middle" [ngStyle]="{'width':checked === true ? '50'+'%' : '25'+'%'}">
                                      <p>0<span> €</span></p>
                                  </div>
                                  <div class="right hideOnMob" [ngClass]="{'hideIfChecked':checked === true}">

                                  </div>
                              </div>
                              <div class="activation">
                                  <div class="iconWrapper">
                                      <i class="fa fa-power-off"></i>
                                  </div>
                                  <div class="left">
                                      <div class="simName">Aktivačný poplatok</div>
                                      <p class="oneTimePrice">Jednorazovo kuriérovi</p>
                                  </div>
                                  <div class="middle" [ngStyle]="{'width':checked === true ? '50'+'%' : '25'+'%'}">
                                      <p>{{activationFee}}<span> €</span></p> 
                                  </div>
                                  <div class="right hideOnMob" [ngClass]="{'hideIfChecked':checked === true}">

                                  </div>
                              </div>
                          </div>
                          <div class="summaryInfo">
                              <div class="left">
                                  <div>Spolu</div>

                                  <p *ngIf="checked === true" class="hideOnDesktop oneTimePrice"><b>Jednorazovo</b></p>
                                  <p *ngIf="checked === false" class="hideOnDesktop oneTimePrice"><b>Mesačne</b></p>
                                  <p *ngIf="checked === false" class="hideOnDesktop oneTimePrice"><b>Jednorazovo</b></p>
                              </div>
                              <div class="middle" [ngStyle]="{'width':checked === true ? '49.5'+'%' : '24.1'+'%'}">
                                <p *ngIf="checked === true" ><b>{{activationFee + oneTimePayment | number : '1.2-2'}} €</b></p>
                                <p *ngIf="checked === false" class="hideOnDesktop"><b>{{monthlyPrice | number : '1.2-2'}} €</b></p>
                                <p *ngIf="checked === false"><b>{{activationFee | number : '1.2-2'}} €</b></p>
                              </div>
                              <div class="right hideOnMob" [ngClass]="{'hideIfChecked':checked === true}">
                                <p *ngIf="checked === false"><b>{{monthlyPrice | number : '1.2-2'}} €</b></p>
                                <p *ngIf="checked === false" class="hideOnDesktop"><b>{{activationFee + oneTimePayment | number : '1.2-2'}} €</b></p>
                              </div>
                          </div> 
                      </div>
                      <div class="togleArrow">
                        <a class="toggle-arrow" (click)="hideAndShow('content1','arrow1')">Ďalšie informácie<span class="arrow-right" [class.arrow-rotate]="toggleArrow.arrow1"></span></a>
                        <p class="arrow-content" [@toggleContent]="openClose.content1">
                          <b>Po odoslaní formulára vás budeme kontaktovať telefonicky na uvedenom telefónnom čísle.</b><br>
                          S odoslaním tohto formulára súhlasím so <a href="/osobne/pomoc-a-podpora/dokumenty-a-pravne-informacie/dokumenty-na-stiahnutie/vseobecne-podmienky-mobilnej-siete/" target="_blank" class="link">všeobecnými obchodnými podmienkami,</a> osobitnými obchodnými podmienkami a cenníkom ktorý upravuje podmienky poskytovania objednávanej služby a so spracovaním osobných údajov pre potreby uzatvorenia zmluvy podľa § 56 zákona č. 351/2011 Z.z. o elektronických komunikáciách v znení neskorších predpisov spoločnosťou Slovak Telekom a.s. Zároveň súhlasím <a href="/osobne/m-site/obchodne-podmienky-e-shop/" target="_blank" class="link">s obchodnými podmienkami pre uzatváranie zmlúv s využitím prostriedkov komunikácie na diaľku</a> a so začatím poskytovania služieb za podmienok uvedených v tejto objednávke aj pred uplynutím lehoty 14 dní.

                        </p>
                      </div>
                      <p class="firstnamep" *ngIf="firstName"><b>Skontrolujte, prosím, svoje údaje</b></p>
                      <div class="col-md-6 col-sm-6 col-xs-12 checkPrivInfo" *ngIf="firstName">
                        <div class="privInfoWrapper" >
                          <p><b>Osobné údaje</b></p>
                          <p>{{firstName}} {{lastName}}</p>
                          <p>{{streetNumber_value}}</p>
                          <p>{{cityValue}} {{PSCvalue}}</p>
                          <p>Rodné číslo: {{birthNumberValue}}</p>
                          <p>Číslo OP: {{idValue}}</p>
                          <a (click)="showCart_stepPrev(stepper)"><i class="fa fa-pencil" aria-hidden="true"></i> Upraviť</a>
                        </div>
                      </div>
                      <mat-checkbox class="checkbox-business" [(ngModel)]="finalBtn">Odoslaním objednávky súhlasíte s <a href="{{pdfLR}}/Obchodne_podmienky_SmartHome.pdf" target="_blank" class="link">Podmienkami nákupu.</a></mat-checkbox>
                    </div>
                    <div>
                      <button class="btn cta_mag prev" (click)="showCart_stepPrev(stepper)" mat-button>Spät</button>
                      <button class="btn cta_mag next" [class.finalButton]="finalBtn != true" (click)="resetStepper(stepper)" [disabled]="finalBtn === false" mat-button>Dokončiť</button>
                    </div>
                </mat-step>
              </mat-horizontal-stepper>            
        </div>
        <div class="col-md-4" >
          <div class="eyecatchers">
            <img src="{{ imgsLR }}/bezZav14.png" alt="">
            <img src="{{ imgsLR }}/dorucenieZadarmo.png" alt="">
          </div>
          <div class="summary" [hidden]="hideCart">
            <div class="header">
              <div class="left">
                  <p>Obsah košíka</p>
              </div>
              <div class="right">
                  <fa [name]="'shopping-cart'" [size]="2"></fa>
              </div>
            </div>
            <div class="summaryPrice">
              <div class="productsInCart" *ngFor = "let product of productsInCart; let last = last; let i = index">
                <div class="productWrapper" [style.border-bottom]="last === true ? '1px solid #ccc' : null">
                  <div class="left">
                    <p class="productName">{{product.name}}</p>
                  </div>
                  <div class="right">
                    <p class="productPrice" *ngIf="checked === false">{{product.price * qtyInCart[i] | number : '1.2-2'}} €</p>
                    <p class="productPrice" *ngIf="checked === true && product.fullPrice > 0">{{product.fullPrice * qtyInCart[i] | number : '1.2-2'}} €</p>
                  </div> 
                  <div class="basicPackageInfo" *ngIf="checked && product._id === basicPackage">
                    <p class="basic-package" >
                      <b>V košíku máte Základný balík</b><br>
                      Služba SmartHome, ako súčasť základného balíka, je spoplatnená sumou {{basicPackagePrice}}€ mesačne
                    </p>                  
                  </div>
                </div>
              </div>
              <div class="activationFee">
                <div class="left">
                  <p class="actFee">Aktivačný poplatok</p>
                </div>
                <div class="right">
                  <p class="actFee">{{activationFee}} €</p>
                </div>
              </div>
              <div class="summaryPrices">
                  <div class="left">
                    <h3 *ngIf="checked === false">Mesačne:</h3>
                    <h3 *ngIf="checked === false">Jednorazovo pri kúpe:</h3>
                    <h3 *ngIf="checked === true ">Jednorazovo pri kúpe:</h3>
                  </div>
                  <div class="right">
                    <h3 *ngIf="checked === false"><b>{{monthlyPrice | number : '1.2-2'}} €</b></h3>
                    <h3 *ngIf="checked === false && activationFee != null"><b>{{activationFee | number : '1.2-2'}} €</b></h3>
                    <h3 *ngIf="checked === true"><b>{{oneTimePayment + activationFee | number : '1.2-2'}} €</b></h3>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>