<section id="hero">
    <div class="container-fixed">
        <div class="hero__content">
            <h1 class="hero__title">Najvýhodnejšie poistenie pre vás, s ktorým ušetríte</h1>
            <h2 class="hero__title-sub">Porovnajte si ceny rôznych druhov poistenia
a nájdite to najlacnejšie. </h2>
<div class="row">
    <div class="col-md-4"><a class="btn cta" href="#"><span>Porovnať poistenie</span> </a></div>
    <div class="col-md-6"><div class="logo-holder">
                <img src="../assets/img/logo.png" alt="">
            </div></div>
</div>
            
            
               
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">Hlavné výhody</a></li>
        <li><a class="scroll-to" href="#sec-2">povinné zmluvné</a></li>
        <li><a class="scroll-to" href="#sec-3">havarijné</a></li>
        <li><a class="scroll-to" href="#sec-4">100% </a></li>
        <li><a class="scroll-to" href="#sec-5">cestovné </a></li>
        <li><a class="scroll-to" href="#sec-6">domu a domácnosti</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>
<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <div class="row text_centered">
            <h2 class="feat__title"> VÝHODY</h2>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-1.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Nestranné porovnávanie cien</span>
                    <br>Nezvýhodňujeme žiadnu poisťovňu ani produkt. Objektívne porovnanie cien je našou hlavnou prioritou.
                </p>
            </div>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-2.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Záruka najnižšej ceny</span>
                    <br>Ceny sú konečné. Neúčtujeme si žiadny poplatok a poistné platíte priamo poisťovni.
                </p>
            </div>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-3.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Poisťovanie online </span>
                    <br>Pomocou online kalkulačky si porovnáte rôzne druhy poistenia z pohodlia svojho domova.
                </p>
            </div>
            <div class="col-xs-12 col-md-3 prg-holder">
                <div class="logo-holder">
                    <img alt=" " src="../assets/img/ico-4.png">
                </div>
                <p class="sec1__description"> <span class="sec1__title text_bold">Bezplatné odborné poradenstvo</span>
                    <br>Náš partner vám poskytne kvalifikované odborné poradenstvo počas celého trvania poistného vzťahu.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="sec-2" class="section sec-2">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6">
                <h2 class="feat__title">
                    Povinné zmluvné poistenie</h2>
                <p class="feat__desc">
                    PZP <b> zabezpečuje úhradu škôd spôsobených vaším vozidlom</b> na zdraví a majetku poškodeného.</p>
                <p class="feat__desc">
                    PZP je povinným poistením daným zo zákona a je platné pre každého držiteľa motorového vozidla, a to bez ohľadu na to, či vozidlo využíva alebo nie.</p>
                <a class="btn cta" href="#"><span>Porovnať poistenie</span> </a>
            </div>
        </div>
    </div>
</section>
<section id="sec-3" class="section sec-3">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h2 class="feat__title">
                    HAVARIJNÉ POISTENIE</h2>
                <p class="feat__desc">
                    Havarijné poistenie je dobrovoľné poistenie vášho auta,<b>ktoré vám zaručí opravu vzniknutých škôd</b> v dôsledku havárie, živelnej udalosti, zrážky so zverou alebo pri krádeži vozidla či jeho častí. </p>
                <p class="feat__desc">
                    Tieto náklady spojené s opravou vám zabezpečí poisťovňa, v ktorej si havarijné poistenie uzatvoríte. </p>
                <a class="btn cta" href="#"><span>Porovnať poistenie</span> </a>
            </div>
        </div>
    </div>
</section>
<section id="sec-4" class="section sec-4">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6">
                <h2 class="feat__title">
                    100 % POISTENIE GAP</h2>
                <p class="feat__desc">
                    Hodnota vášho motorového vozidla najvýraznejšie klesá v prvých 3 rokoch a plnenie z vášho havarijného poistenia je limitované iba do výšky jeho všeobecnej hodnoty. </p>
                <p class="feat__desc">
                    Poistenie finančnej straty GAP <b>vám kryje rozdiel medzi nákupnou a všeobecnou hodnotou vozidla</b> v dôsledku krádeže a totálnej škody. </p>
                <a class="btn cta" href="#"><span>Porovnať poistenie</span> </a>
            </div>
        </div>
    </div>
</section>
<section id="sec-5" class="section sec-5">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h2 class="feat__title">
                    CESTOVNÉ POISTENIE</h2>
                <p class="feat__desc">
                    Cestovné poistenie <b>vám poskytne starostlivosť pri vašich cestách</b> v prípade náhleho ochorenia, úrazu, straty batožiny alebo zapríčinenia škody tretej osobe, doma aj v zahraničí. </p>
                <p class="feat__desc">
                    Súčasne sa môžete kedykoľvek obrátiť na asistenčnú službu poisťovne so svojou žiadosťou. </p>
                <a class="btn cta" href="#"><span>Porovnať poistenie</span> </a>
            </div>
        </div>
    </div>
</section>
<section id="sec-6" class="section sec-6">
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-6">
                <h2 class="feat__title">
                    POISTENIE DOMU A DOMÁCNOSTI</h2>
                <p class="feat__desc">
                    Poistenie domu, bytu a domácnosti <b>spoľahlivo zabezpečí ochranu vášho majetku pred neočakávanými rizikami a škodami.</b> </p>
                <p class="feat__desc">
                    Uzatvorte si výhodné poistenie nehnuteľnosti a ochráňte svoj majetok pred zbytočnou stratou hodnoty po požiari, vlámaní či živelnej pohrome. </p>
                <a class="btn cta" href="#"><span>Porovnať poistenie</span> </a>

            </div>
        </div>
    </div>
</section>
<section id="sec-7" class="section sec-7">
    <div class="container-fixed">
        <div class="row text_centered">
            <p>Všetky informácie uvedené na stránke poistnakalkulacka.sk sú aktualizované prostredníctvom našeho partnera/prostredníctvom poisťovne a ST nezodpovedá za ich obsah.</p>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
