/* ===============
   CSS FOR MICROSITE
   =============== */

/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
}

.hero__content {
    text-align: center;
    max-width: 460px;
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 50% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
    }

    #content .hero__title,
    #content .hero__desc {
        color:  $mine-shaft-dark;
    }

    #hero .btn {
        margin-top: 60px;
    }
}

/* HERO - END */

// bg image
.portlet {
  background: url(../img/rozcestnik_volania_internet_0318.jpg) no-repeat 50% 0%;
}

.portlet-body .journal-content-article h1 {
	  border-bottom: none;
	  padding: 0;
	  margin: 0;
	  width: 90%;
	  line-height:44px;
	  font-size:42px;
	  text-transform:uppercase;
	  color: white;
	}

	.portlet-body .journal-content-article .c-tile p {
	  font-size: 0.9em;
	}

	.portlet-body .journal-content-article .c-header p {
	  color: white;
	  width: 90%;
	  font-size:20px;
	}

	.portlet-body .journal-content-article .c-header p.big {
	  color: white;
	  width: 90%;
	  font-size:28px;
	  text-transform:uppercase;
	}

	.c-content {
	  position: relative;
	  width:940px;
	  margin:0 auto;
    padding-top: 30px;
	}

	div.c-img {
	  display: inline-block;
	  position: absolute;
	}

	.c-tile {
	  width: 150px;
	  height: 150px;
	  display: inline;
	  display: inline-block;
	  background-color: #FFFFFF;
	  margin-left: 0px;
	  margin-right: 3px;
	  margin-top: 3px;
	  margin-bottom: 3px;
	  text-align: center;
	  box-shadow: 2px 2px 5px lightgray;
	  transition: transform 0.2s;
	}

	a.c-tile-a {
	  display: block;
	  /* width: 100%; */
	  padding:0px; /* 0 7px */
	  height: 100%;
	  text-decoration: none;
	  line-height:20px;
	  position:relative;
	  top:0;
	  left:0;
	}

	a.c-tile-a span.line-1 {
		display:block;
		position:absolute;
		bottom:16px;
		width:100%;
		text-align:center;
		padding:0 5px;
		box-sizing:border-box;
	}

	a.c-tile-a span.line-2 {
		display:block;
		position:absolute;
		bottom:5px;
		width:100%;
		padding:0 5px;
		text-align:center;
		box-sizing:border-box;
	}

	.c-tile > div {
		height:147px;
	}

	.c-tile:hover {
	  transform: scale(1.1);
	}

	.c-tile:first-child {
	  margin-left: 3em;
	}

	.c-row {
	  display: block;
	  position: relative;
	}
	.c-row-1 .c-content > div {
	   vertical-align: top;
	}
	.c-row-1 div.c-text {
	  display: inline-block;
	  width: 55%;
	  height: 45%;
	  padding-left: 17px;
	  padding-top: 17px;
	}
	.c-row-1 a {
	  margin-top: 1em;
	  margin-bottom: 2em;
	}
	.c-row-1 a > div {
	  position: relative;
	}
	.c-row-1 div.c-img {
	  right: 2em;
	  top: 2em;
	}

	.c-row-2 {
	  padding-top: 1em;
	  padding-bottom: 4em;
	}
	.c-row-2 .c-tile {
	  vertical-align: top;
	}

	.c-tile-a b {
	  color: #E20074;
	  font-size:18px;
	}

	.c-tile-a strong {
	  color: #E20074;
	}

	.c-row-2 .c-content {
	  /* margin-left: 109px; */
	}

	.c-tile-a div {
	  height: 100px;
	}

	.c-tile.first {
	  margin-left:0px;
	}

	.c-img-1 img{
	  margin-top: 25px;
	  margin-bottom: 4px;
	}

	.c-img-2 img{
	  margin-top: 25px;
	  margin-bottom: 17px;
	}

	.c-img-3 img{
	  margin-top: 20px;
	  margin-bottom: 5px;
	}

	.c-img-4 img{
	  margin-top: 21px;
	  margin-bottom: 18px;
	}

	.c-header {
	  background: url(../img/wb_internet_rozcestnik_960px_1214-MAGENTA-OVERLAYS.png) no-repeat;
	  background-size: 100% 90%;
	  padding-bottom: 8%;
	  width: 85%;
	}

	@media screen and (max-width: 960px) {
	  .c-row-2 .c-content {
		margin-left: 0px;
	  }
	  .c-content {
		width: auto;
	  }
	  .c-row {
		padding-left: 3em;
		padding-right: 3em;
	  }
	  .c-row-1 div.c-text {
		width: 55%;
	  }
	  .c-row-2 {
		padding-bottom: 2em;
	  }
	  .c-row-2 div.c-content {
		text-align: left;
	  }
	  .c-tile:first-child {
		margin-left: 0;
	  }
	  .c-tile {
		margin-left: 0;
	  }
	  .c-tile.first {
		margin-left:0px;
	  }
	}
	@media screen and (max-width: 870px) {
	 @-ms-viewport {
		width: 800px;
	  }
	 .c-header {
		background-repeat: round;
	  }
	  .c-row-1 div.c-text {
		padding-top: 10px;
		padding-left: 10px;
	  }
	  .c-tile.first {
		margin-left:0px;
	  }
	}
	@media screen and (max-width: 800px) {

	  @-ms-viewport {
		width: 800px;
	  }
	  .portlet-content {
		padding-left: 0;
		padding-right: 0;
	  }

	  .c-row-2 div.c-content {
		text-align: center;
	  }

	  .c-row {
		padding-left: 2em;
		padding-right: 2em;
	  }
	  .c-row-1 div.c-text {
		width: 65%;
	  }
	  .c-row-1 div.c-img {
		right: 0em;
	  }
	}
	@media screen and (max-width: 640px) {
	  .c-row {
		width: auto;
		padding-left: 1em;
		padding-right: 1em;
	  }

	  .portlet-body .journal-content-article h1 {
		font-size:36px;
	  }

	 .portlet-body .journal-content-article .c-header p.big {
		  font-size:22px;
	 }

	  div.c-img {
		display: none;
	  }
	  .c-row-1 div.c-text {
		width: 100%;
		padding-left: 10px;
		padding-top: 10px;
	  }
	  .c-row-2 div.c-content {
		text-align: center;
	  }
	  .c-tile {
		margin-right: 2px;
	  }

	  .c-tile.first {
		margin-left:0px;
	  }
	}
	@media screen and (max-width: 480px) {
	  @-ms-viewport {
		width: 400px;
	  }

	  .portlet-body .journal-content-article h1 {
		font-size:32px;
	  }

	  .portlet-body .journal-content-article .c-header p.big {
		  font-size:18x;
	  }

	  .c-header {
		background-repeat: round;
		padding-bottom:12%;
	  }
	  .c-row-2 {
		padding-bottom: 1em;
	  }
	}

        header > div.grid-wrapper
{display: none;}

@media screen and (max-width: 940px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 480px) {}
