<!-- HERO -->
<section id="hero">
	<div class="breadcrumb">
		<!-- breadcrumb bg --></div>
	<div class="container-fixed">
		<div class="row">
			<div class="hero__mobile">
				<!-- hero mob -->
				<div class="breadcrumb-mob">
					<!-- breadcrumb bg --></div>
			</div>
			<div class="hero__content col-md-6 push-md-6">
				<div class="col-md-12">
					<p class="hero__site-name">
						NB–IoT</p>
					<h1 class="hero__title">
						Najlepší spôsob komunikácie pre internet vecí</h1>
					<!-- <p class="hero__desc">
                </p> --></div>
				<div class="hero__cta col-xs-6">
					<a class="btn btn_hero scroll-to" href="#sec-1">Zobraziť viac</a></div>
			</div>
		</div>
	</div>
</section>
<!-- NAVIGATION -->
<div class="section nav-sticky" id="nav-sticky">
	<div class="container-fixed">
		<div class="row">
			<div class="col-xs-5">
				<ul>
					<li>
						<a class="scroll-to" href="#sec-1">Čo je NB-IoT</a></li>
					<li>
						<a class="scroll-to" href="#sec-2">Výhody</a></li>
					<li>
						<a class="scroll-to" href="#sec-3">Prečo Telekom</a></li>
					<li>
						<a class="scroll-to" href="#sec-4">Mám záujem</a></li>
					<li>
						<a class="scroll-to" href="#sec-5">Reklamačný formulár</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- SEC-1 -->
<section class="section sec-1" id="sec-1">
	<div class="container-fixed">
		<div class="row row-hr-b">
			<div class="row">
				<h2 class="section__title text_centered">
					Čo je <strong>NB–IoT?</strong></h2>
			</div>
			<p class="quote strong">
				NarrowBand – Internet of Things je špeciálna úzkopásmová sieť, ktorá je určená výhradne na prenos dát. Umožňuje spoľahlivo, bezpečne a lacno prepojiť obrovské množstvo zariadení na veľkom území. Výhodou je dosah signálu aj na ťažko prístupné miesta, do podzemia alebo pod vodu.</p>
			<p class="quote strong">
				Vďaka NB–IoT môžete vidieť svoje výrobné prostriedky, tovar, ľudí a vedieť, v akom sú stave alebo čo robia. Všetky koncové zariadenia je navyše možné na diaľku riadiť a nastavovať pomocou jednoduchej aplikácie alebo webu.</p>
		</div>
	</div>
</section>
<!-- SEC-2 -->
<section class="section sec-2" id="sec-2">
	<div class="container-fixed">
		<div class="row">
			<h2 class="section__title text_centered">
				Výhody</h2>
		</div>
		<div class="row text_centered">
			<!-- 1 -->
			<div class="col-xs-12 col-md-4 feature">
				<div class="feat_img">
					<img src="/documents/10179/16386966/ico-01.png" /></div>
				<h3 class="feat_title">
					Lepší dosah signálu</h3>
				<div class="feat-desc">
					<p>
						Použiteľnosť aj tam, kde to doteraz nebolo možné.</p>
				</div>
			</div>
			<!-- 2 -->
			<div class="col-xs-12 col-md-4 feature">
				<div class="feat_img">
					<img src="/documents/10179/16386966/ico-02.png" /></div>
				<h3 class="feat_title">
					Nízke náklady</h3>
				<div class="feat-desc">
					<p>
						Nízka cena zariadení a úspora na logistike.</p>
				</div>
			</div>
			<!-- 3 -->
			<div class="col-xs-12 col-md-4 feature">
				<div class="feat_img">
					<img src="/documents/10179/16386966/ico-03.png" /></div>
				<h3 class="feat_title">
					Dlhá výdrž batérií</h3>
				<div class="feat-desc">
					<p>
						Výdrž na batérie do 10 rokov na 2 AA batérie.</p>
				</div>
			</div>
		</div>
		<div class="row text_centered space">
			<!-- 1 -->
			<div class="col-xs-12 col-md-4 feature">
				<div class="feat_img">
					<img src="/documents/10179/16386966/ico-04.png" /></div>
				<h3 class="feat_title">
					Jednoduchá inštalácia</h3>
				<div class="feat-desc">
					<p>
						Žiadne kopanie káblov.</p>
				</div>
			</div>
			<!-- 2 -->
			<div class="col-xs-12 col-md-4 feature">
				<div class="feat_img">
					<img src="/documents/10179/16386966/ico-05.png" /></div>
				<h3 class="feat_title">
					Riešenie 3GPPP</h3>
				<div class="feat-desc">
					<p>
						Štandardizácia podporovaná po celom svete.</p>
				</div>
			</div>
			<!-- 3 -->
			<div class="col-xs-12 col-md-4 feature">
				<div class="feat_img">
					<img src="/documents/10179/16386966/ico-06.png" /></div>
				<h3 class="feat_title">
					Kvalita, stabilita a bezpečnosť spojenia</h3>
				<div class="feat-desc">
					<p>
						Sieť v licencovanom pásme.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- SEC-1 -->
<section class="section sec-3" id="sec-3">
	<div class="container-fixed">
		<div class="row text_centered row-hr">
			<div class="row">
				<h2 class="section__title text_centered">
					Prečo Slovak Telekom</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 offset-md-2">
				<ul class="icon__list_2 icon__list-check_2">
					<li data-type="check-w">
						Výrazne dlhšia a hlbšia skúsenosť s prevádzkovaním bezdrôtovej siete v porovnaní s konkurenciou</li>
					<li data-type="check-w">
						Schopnosť operátora prevádzkovať bezpečné, robustné a stabilné siete</li>
					<li data-type="check-w">
						Možnosť kombinácie LTE a NB–IoT</li>
					<li data-type="check-w">
						Pokrytie súvisiacich technológií – cloud, big data, optika, bezpečnosť</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section sec-4" id="sec-4">
	<div class="container-fixed">
		<div class="row">
			<h2 class="section__title text_centered">
				Mám záujem o ponuku</h2>
			<p class="section__desc">
				Vyplňte náš nezáväzný objednávkový formulár. Najneskôr do dvoch pracovných dní vás budeme kontaktovať.</p>
		</div>
		<div class="row form__holder text_centered">
			<!--  doplnit dynamicky formular -->
			<div id="form-holder">
				&nbsp;</div>
		</div>
	</div>
</section>


<section class="section sec-5" id="sec-5" style="background-color: #fff; color: #000">
	<div class="container-fixed">
		<div class="row text_centered row-hr">
			<div class="row">
				<h2 class="section__title text_centered" style="color: #000">Formulár pre reklamácie</h2>
				<p class="section__desc"  style="color: #000">
					Vyplňte prosím reklamačný formulár.
				</p>

				<a href="https://www.telekom.sk/biznis/nb-iot/mam-problem" class="btn btn_bottom">Reklamačný formulár</a>
			</div>
		</div>
	</div>
</section>

<!-- VENDOR JS --><script src="/documents/10179/16386964/polyfill.min.js"></script><script src="/documents/10179/16386964/vue.min.js"></script><script src="/documents/10179/16386964/config.js"></script><script src="/documents/10179/16386964/app.js"></script><script type="text/javascript" src="/documents/10179/16386964/main.js"></script><script type="text/javascript">
  $(document).ready(function() {
    //Doplnkové služby expand on hover
    $('.item__card').hover(function() {
      $(this).find('.item__desc').stop().animate({
        height: "toggle",
        opacity: "toggle"
      }, 300);
    });
  });
</script>