<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer" style="padding: 0px;">
				<a class="link" href="/internet/magio-internet" >Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.jpg" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.jpg" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.jpg" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.jpg" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product5.jpg" href="#"><img src="../assets/img/product5_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.jpg" />
							</div>
							<div class="eec-product"><img id="eec" src="" style="height: 80px; width: auto;" /></div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
						
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
							<img src="../assets/img/vypredane.png" alt="">
					</div> -->
					<div class="overlay_fix">
				
						<h1 class="bpis__title">
							Sada Raspberry pi 4 model B 4 GB RAM</h1>
						<p class="christ-info">
							<a class="scroll-to" href="#sec-det-2">Viac info o produkte</a></p>						
						<div class="box-device" id="b2c-price">
							<table class="pricing-table">
								<tbody>
									<tr class="no-margin">
										<td>
											S Magio TV alebo internetom:
										</td>
										<td>
											<input type="button" id="magioM" class="rpln" value="M" /> 
											<input type="button" id="magioL" class="rpln" value="L" />
											<input type="button" id="magioXL" class="rpln" value="XL" />
										</td>
									</tr>
									<tr >
										<td>
											Cena za zariadenia:
										</td>
										<td>
											<span id="MonthylFeeMobile"></span><span class="monthly"> mesačne</span><img class="ttp" id="info-splatka" alt="" src="../assets/img/info.png" style=" width: 15px; height: auto; margin-left: 5px; margin-bottom: -2px;"><br>
											<span id="oneTimeWebPrice"></span><span class="monthly"> akontácia</span><img class="ttp" id="info-akontacia" alt="" src="../assets/img/info.png" style=" width: 15px; height: auto; margin-left: 5px; margin-bottom: -2px;">												
										</td>
									</tr>
									<tr>
										<td>
											Cena za službu:
										</td>
										<td>
											<span id="MonthlyFeeService"></span><span class="monthly"> 2. a 3. mesiac</span><img class="ttp" id="info-zlava" alt="" src="../assets/img/info.png" style=" width: 15px; height: auto; margin-left: 5px; margin-bottom: -2px;"><br>
											<span id="MonthlyRegularPrice"></span>								
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" id="buyBtn" href="#">KÚPIŤ</a>
						</div>
						<div class="box-device" id="b2b-price">
							<table class="pricing-table">
								<tbody>
									<tr class="no-margin">
										<td>
											S paušálom ÁNO:
										</td>
										<td>
											<input type="button" id="RP1054" class="rpln" value="L Biznis" />
											<input type="button" id="RP1055" class="rpln" value="XL Biznis" />
										</td>
									</tr>
									<tr class="no-margin">
											<td>
												Ceny s DPH:
											</td>
											<td>
												<input type="checkbox" class="js-switch js-check-change" checked /><br>&nbsp;
											</td>
										</tr>
									<tr >
										<td>
											Cena za zariadenia:
										</td>
										<td>
											<span id="MonthylFeeMobileBiznis" class="js-check-change-field-none" style="display: none;"> </span>
											<span id="MonthylFeeMobileBiznisDPH" class="js-check-change-field"> </span>
											<span class="monthly"> mesačne</span><br>
											
											<span id="oneTimeWebPriceBiznis" class="js-check-change-field-none" style="display: none;"> </span>
											<span id="oneTimeWebPriceBiznisDPH" class="js-check-change-field"> </span>
											<span class="monthly"> akontácia</span><img id="info-akontacia-b2b" lass="ttp" alt="" src="../assets/img/info.png" style=" width: 15px; height: auto; margin-left: 5px; margin-bottom: -2px;"><br>
																				
										</td>
									</tr>
									<tr>
										<td>
											Cena za paušál:
										</td>
										<td>
											<span id="MonthlyFeeServiceBiznis" class="js-check-change-field-none" style="display: none;"> </span>
											 <span id="MonthlyFeeServiceBiznisDPH" class="js-check-change-field"> </span>							
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" id="buyBtnBiznis" href="#">KÚPIŤ</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>
					<li class="variant" data-variant="3" id="biznis-delivery">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">Bohatá sada Raspberry</h2>
								<p class="feat-desc">
									Sada ponúka Raspberry pi 4 model B 4GB RAM, 5.1V / 3.0A čierny originál napájací adaptér USB Type C, sadu chladičov, štýlovú čiernu krabičku, kábel 1,8m HDMI/Micro HDMI, smart klávesnicu i8 a microSDHC kartu 32GB s Noobs & Raspbian systémom + adaptér na SD kartu. 
									Prechod na modernejšie 28nm technológii umožnil Raspberry Pi 4B dosiahnuť výrazný nárast výkonu procesora, multimédií a I / O, vďaka čomu je teraz plnohodnotným osobným počítačom.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.jpg" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">28nm procesor</h2>
								<p class="feat-desc">
									Základným stavebným kameňom Raspberry Pi 4B je jeho 1.5GHz štvorjadrový procesor ARM Cortex-A72. Prechod na modernejšiu 28nm technológiu umožnil Raspberry Pi 4B dosiahnuť výrazný nárast výkonu procesora, multimédií a I / O, vďaka čomu je teraz plnohodnotným osobným počítačom.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.jpg" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<h2 class="feat-tit">Konektory a rozloženie</h2>
								<p class="feat-desc">
									Raspberry Pi 4B zachováva rovnaký pôdorys ako staršie modely (3B +, 3B, 2B, 1B +), ale prináša významné zmeny v oblasti konektorov, ktoré si žiadajú novú krabičku a nielen to.
									Napájací konektor bol povýšený na USB-C , ktoré umožňuje vyšší výkon a ponúka ďalšie výhody. Pri nákupe Raspberry Pi 4B preto nezabudnite na USB-C zdroj , alebo USB-C redukcii k starému micro USB zdrojmi.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.jpg" /></div>
					</div>
				</div>
				<div class="tab-content" id="tab-2">
					
					<div class="table-holder">
						<div class="detailed-specification" style="padding:10px" id="aui_3_4_0_1_410">
							<table class="tbl double" id="aui_3_4_0_1_409">
								<thead id="aui_3_4_0_1_408">
									<tr id="aui_3_4_0_1_407">
										<th colspan="2" id="aui_3_4_0_1_406">Všeobecné parametre</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div> Váha </div>
										</td>
										<td class="paramValue"> 50g </td>
									</tr>
									<tr>
										<td>
											<div> Rozmery </div>
										</td>
										<td class="paramValue"> 85,60 mm × 56,5 mm (bez konektorov) </td>
									</tr>
									<tr>
										<td>
											<div> Podpora PoE </div>
										</td>
										<td class="paramValue"> prostredníctvom PoE HAT </td>
									</tr>
								</tbody>
							</table>
							<table class="tbl double">
								<thead>
									<tr>
										<th colspan="2">Technické parametre</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div> Procesor </div>
										</td>
										<td class="paramValue"> Broadcom BCM2711, 1.5 GHz quad-core ARM Cortex-A72, ARM v8, 64-bit SoC
											<br>H.265 (4Kp60 dekódovanie), 
											<br>H.264 (1080p60 dekódovanie, 1080p30 kódovanie)
											<br>OpenGL ES, 3.0 grafika 	
										</td>
									</tr>
									<tr>
										<td>
											<div> Operačná pamäť </div>
										</td>
										<td class="paramValue"> LPDDR4 4 GB</td>
									</tr>
									<tr>
										<td>
											<div> Operačný systém </div>
										</td>
										<td class="paramValue"> 
											<br>Micro SD slot (bez vyskakovacieho mechanizmu) pre načítanie operačného systému a ukladanie dát
											<br>Oficiálny operačný systém: Raspbian
											<br>Raspberry Pi podporuje aj celý rad alternatívnych operačných systémov. 
											<br>Musíte aktualizovať! Stará inštalácia bez nových aktualizácií firmvéru nebude na Raspberry Pi 4B fungovať.
										</td>
									</tr>
									<tr>
										<td>
											<div>Konektivita </div>
										</td>
										<td class="paramValue"> 
											<br>2x USB 2.0 konektor
											<br>2x USB 3.0 konektor
											<br>Štandardný GPIO header so 40 pinmi (spätne kompatibilný s predchádzajúcimi modelmi)
											<br>2x microHDMI 2.0 konektor (až 4Kp60), (MIPIM DSI konektor pre pripojenie displeja, MIPIM CSI konektor pre pripojenie kamery)
											<br>štvorpólový 3,5mm jack: výstup zvuku a kompozitného videa (PAL a NTSC)
											multimédiá
											<br>2,4GHz a 5GHz IEEE 802.11.b / g / n / ac Wi-Fi
											<br>Bluetooth 5.0 (BLE)

											</td>
									</tr>
									<tr>
										<td>
											<div> Napájanie </div>
										</td>
										<td class="paramValue"> 
												<br>5V DC cez USB-C konektor (minimálne 3A)
											<br>5V DC cez GPIO header (minimálne 3A)
											<br>PoE - napájanie cez ethernet (vyžaduje prídavný modul Raspberry Pi PoE HAT ) 
										</td>
									</tr>
								</tbody>
							</table>
							<table class="tbl double">
								<thead>
									<tr>
										<th colspan="2">Iné</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div> Obsah balenia </div>
										</td>
										<td class="paramValue">Raspberry pi 4 model B 4GB RAM, 5.1V / 3.0A  čierny originál napájací adaptér USB Type C, sada chladičov, čierna krabička, kábel 1,8m HDMI/Micro HDMI, Smart klávesnica i8 a microSDHC karta 32GB s Noobs & Raspbian systémom + adaptér na SD kartu.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js?v=5"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
<script type="text/javascript" src="../assets/js/switchery.js"></script>
