<!-- Tablet-List-Slider Content -->
<slick class="app-slider as1 device-list col-md-12" settings="$ctrl.slickTabletConfig" ng-if="$ctrl.tabletLoaded">
    <!-- device-card 1 -->
    <div class="device-card col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="tablet in $ctrl.allTablets" ng-if="tablet.visible">
        <!-- device-img -->
        <div class="device-card-img__wrap">
            <!-- ec-info -->
            <div class="ec-wrap-left" ng-if="tablet.ec.ecLeftVisible">
                <img ng-src="{{tablet.ec.ecRightUrl}}" alt="" class="ec-img-left" />
            </div>
            <div class="ec-wrap-right" ng-if="tablet.ec.ecRightVisible">
                <img ng-src="{{tablet.ec.ecRightUrl}}" alt="" class="ec-img-right" />
            </div>
            <img class="device-card-img" ng-src="{{tablet.imageUrl}}" alt="" />
        </div>
        <!-- device-title -->
        <div class="device-card__title">
            <h3><span>{{tablet.name}}</span></h3>
        </div>
        <!-- device-details -->
        <div class="device-card__detail-wrap">
            <ul class="device-card__detail-list">
                <li class="device-card__detail-list-item">
                    <span>{{tablet.description.desc1}} </span>
                </li>
                <li class="device-card__detail-list-item">
                    <span>{{tablet.description.desc2}} </span>
                </li>
                <li class="device-card__detail-list-item">
                    <span>{{tablet.description.desc3}} </span>
                </li>
                <li class="device-card__detail-list-item">
                    <a class="popup" href="{{tablet.id}}"><span>Viac info</span></a>
                </li>
            </ul>
        </div>
        <!-- device-price -->
        <div class="device-card__price-wrap">
            <!-- price-tablet -->
            <div class="device-card__price-wrap">
                <div class="price">
                    už od {{tablet.price.priceBase.split('.')[0]}},<sup>{{tablet.price.priceBase.split('.')[1]}}</sup> €
                </div>
                <div class="price__desc">{{tablet.price.priceDesc}}</div>
            </div>
        </div>
        <!-- device-cta -->
        <div class="device-card__cta">
            <a ng-href="{{tablet.formUrl}}" class="btn cta">Kúpiť</a>
        </div>
    </div>
</slick>
<!-- pagination slider-1 -->
<div class="slider-pagination__wrap show-mobile-only">
    <div class="control__holder">
        <span class="paging-arrow paging-arrow-prev" ng-click="$ctrl.slickTabletConfig.method.slickPrev()"
            ><img alt="" src="/documents/10179/10074308/ico-left.png" /> Späť</span
        >
        <p class="paging-current">
            ({{$ctrl.currentSlideNum}}/{{$ctrl.allIndex}})
        </p>
        <span class="paging-arrow paging-arrow-next" ng-click="$ctrl.slickTabletConfig.method.slickNext()"
            >Ďalej <img alt="" src="/documents/10179/10074308/ico-right.png"
        /></span>
    </div>
</div>
<!-- LightBox: Tablety -->
<div ng-repeat="tablet in $ctrl.allTablets" style="display: none;">
    <div id="{{tablet.id}}" style="display: none;">
        <div class="p-head">
            <div class="p-close">
                <a href="" class="close-btn" ng-click="$ctrl.pcloseTablet()"></a>
            </div>
            <!-- <a class="p-close" ng-click="$ctrl.pclose()">
            </a> -->
            <h2 style="color: #e20074;">{{tablet.name}}</h2>
        </div>
        <!-- POPUP CONTENT -->
        <div class="p-device-content">
            <!--   <div class="p-device-content__img-wrap">
                <div class="p-device-content__img">
                    <img alt="{{tablet.name}}" ng-src="{{tablet.imageUrl}}" />
                </div>
            </div> -->
            <div class="p-tablety-content__desc">
                <table class="detail-table">
                    <tbody>
                        <tr ng-repeat="spec in tablet.descLightBox">
                            <td>
                                <i class="ico-sq fa fa-square" aria-hidden="true"></i>
                            </td>
                            <td class="spec-name">
                                {{spec.desc[0]}}
                            </td>
                            <td class="row-2">
                                {{spec.desc[1]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- //Tablet-List-Slider Content -->
