<style>

#content .pad0 {
  padding: 0; }

#content .vizual {
  margin-top: 20px;}

#content .vizual .left {
  display: inline-block;
  width: auto;
  max-width: 15%;
}
@media screen and (max-width: 600px) {
  #content .vizual .left {
    width: 25%;
    max-width: none;
  }
}

#content .vizual .right {
  display: inline-block;
  width: 79%;
  vertical-align: top;
  margin-left: 25px
}

@media screen and (max-width: 600px) {
  #content .vizual .right {
    width: 67%;
  }
}

#content .vizual img {
  max-width: 100%; }

#content .vizual .hero_hdl {
  margin: 0px;
  padding: 0px;
  line-height: 38px; }

@media screen and (max-width: 600px) {
  #content .vizual .hero_hdl {
    font-size: 42px; } }

#content .vizual .description {
  margin: 0px !important; }

@media screen and (max-width: 600px) {
  #content .vizual .description {
    display: none; } }

@media screen and (min-width: 600px) {
  #content .descMob {
    display: none; } }

</style>

<section id="hero-vizual">
    <div class="container-fixed">
        <div class="row">
                <div class="pad0 vizual">
                    <div class="left pad0">
                        <img src="https://www.telekom.sk/documents/10179/16583944/Magio-internet-vzduchom_obrazok_130x130.jpg/"/>
                    </div>
                    <div class="right">
                        <h1 class="hero_hdl"><strong>MAGIO INTERNET VZDUCHOM</strong></h1>
                        <p class="description">Pripojte sa k mobilnej 4G sieti <strong>so službou Magio internet vzduchom</strong> aj na lazoch, v horách alebo iných odľahlých miestach, kde nie je dostupný pevný internet.</p>
                    </div>
                </div>  
                <div class="pad0 descMob">
                    <p class="description">Pripojte sa k mobilnej 4G sieti <strong>so službou Magio internet vzduchom</strong> aj na lazoch, v horách alebo iných odľahlých miestach, kde nie je dostupný pevný internet.</p>
                </div>
        </div>
</section>