/* ===============
   CSS FOR MICROSITE
   =============== */

#benefits-4,
#benefits-3 {
  margin: 50px 0;
  overflow: hidden;
  color: #262626;
  & .prg-holder {
    margin-bottom: 20px;
  }
  & .sec__title {
    font-size: 32px;
    font-weight: 700;
    margin: 35px 0;
    text-align: center;
    color: #262626;
    //text-transform: uppercase;
    @media screen and (max-width: 768px) {
      margin: 20px 0;
    }
  }
  & .link {
    color: #e20074;
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {
    margin: 30px 0;
  }
}
