<section class="prod-list_densed section">
    <div class="fixed-column">
        <h2 class="section__title section__hero__title section__title__double">Aktuálna ponuka Huawei</h2>
        <img class="logo" src="../assets/img/logo-huawei.png" alt="Huwaei">
        <div class="prod__carousel_4">
            <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/mediapad.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">Huawei MediaPad T1 8.0 Pro</h4>
                <h4 class="prod__subtitle">Dotknite sa očarujúceho dizajnu</h4>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/huawei_mediapad_t1_8_pro" class="button button_lima">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-1" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
            <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/p9.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">Huawei P9</h4>
                <h4 class="prod__subtitle">Nový rozmer mobilnej fotografie</h4>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/huawei_p9" class="button button_lima">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-2" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
            <div class="grid__col_3">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/p9-lite.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">Huawei P9 lite</h4>
                <h4 class="prod__subtitle">Predurčený k úspechu</h4>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/HUAWEI_p9_lite_black" class="button button_lima">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-3" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
            <div class="grid__col_3">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/watch.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">Huawei Watch</h4>
                <h4 class="prod__subtitle">Klasické na prvý pohľad, nadčasové vo vnútri.</h4>
                <div class="cta__wrapper">
                    <a href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/huawei_watch" class="button button_lima">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#sec-4" class="more-info more-info_vertical scroll-to">viac info</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section__nav">
    <div class="product__nav">
        <div class="fixed-column">
            <div class="grid__col_12">
                <div class="menuIcon">
                    <div id="nav-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="#menuExpand" class="product__nav_link">Menu</a>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#sec-1" class="scroll-to">
                                <div class="content__sec-1 menu__link__content">
                                    <span class="link__text">Huawei MediaPad T1 8.0 Pro</span>
                                    <img src="../assets/img/mediapad-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-2" class="scroll-to">
                                <div class="content__sec-2 menu__link__content">
                                    <span class="link__text">Huawei P9</span>
                                    <img src="../assets/img/p9-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-3" class="scroll-to">
                                <div class="content__sec-3 menu__link__content">
                                    <span class="link__text">Huawei P9 lite</span>
                                    <img src="../assets/img/p9-lite-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-4" class="scroll-to">
                                <div class="content__sec-4 menu__link__content">
                                    <span class="link__text">Huawei Watch</span>
                                    <img src="../assets/img/watch-nav.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="sec-1" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title">Huawei MediaPad T1 8.0 Pro</h2>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/mediapad-specs.png" alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">8"</div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">16 GB</div>
                        <div class="spec__param">interná pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G</div>
                        <div class="spec__param">sieť</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">2 Mpix</div>
                        <div class="spec__param">predný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">5 Mpix</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">do 32 GB</div>
                        <div class="spec__param">rozšírená pamäť</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Dotknite sa očarujúceho dizajnu</h2>
                <p class="feat__desc">Pri konštruovaní MediaPad T1 8.0 Pro sme sa inšpirovali elegantným tvarom a hebkosťou labutích krídel. Aj preto vám tento tablet padne dokonale do ruky. Technologicky precízny prístup nám umožnil zúžiť rám displeja, zatiaľ čo pieskovaný zadný kryt z leteckého hliníka najvyššej kvality dokresľuje výnimočný vzhľad tohto tabletu.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Verne zobrazené farby pulzujúce životom.</h2>
                <p class="feat__desc">IPS displej MediaPad T1 8.0 Pro s rozlíšením 1280x800 prináša jasnejšie farby aj kontrast, reprodukuje totiž viac ako 90% farebného priestoru Adobe RGB. Pomer obrazovky 16:10 ponúka o 20% väčší zobrazovací priestor ako pri klasickom pomere 4: 3 a vďaka skvelému pozorovaciemu uhlu 178 ° bude obraz dobre čitateľný, nech už ho sledujete odkiaľkoľvek.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Napumpujte energiu a užívajte si.</h2>
                <p class="feat__desc">Vďaka vysokokapacitnej 4800mAh batérii môžete využívať potenciál MediaPad T1 8.0 Pro vždy naplno, bez toho, aby ste sa museli báť o jeho výdrž. Môžete si užívať až 16 hodín surfovania na internete, 36 hodín hovoru alebo 13 hodín nepretržitej zábavy. V pohotovostnom režime vydrží až 20 dní. Využite jeho energiu na maximum.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Skvelý výkon ukrytý v 4 jadrách s taktom 1,2 GHz.</h2>
                <p class="feat__desc">4jadrový 1,2 GHz procesor Qualcomm spolu s OS Android 4.3 Jelly Bean robí z MediaPad T1 8.0 Pro viac než len výkonný stroj. Či už sledujete filmy v HD rozlíšení, hráte akčné hry alebo pracujete na dôležitej prezentácii, všetko beží plynulo a reaguje s okamžitou odozvou.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Najmodernejšia technológia prihovára</h2>
                <p class="feat__desc">MediaPad T1 8.0 Pro podporuje 2G a 3G hlasové služby a garantuje lepší a čistejší prenos zvuku, nech už ste kdekoľvek.</p>
                <a class="button button_lima" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/huawei_mediapad_t1_8_pro">Objednať</a>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-1 feat-6 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Zvládnite viac. Alebo rovno všetko naraz.</h2>
                <p class="feat__desc">Vďaka špeciálnej funkcii plávajúceho videa nemusíte pri sledovaní svojich obľúbených filmov prepínať tam a späť medzi dvoma obrazovkami. Môžete ich pokojne sledovať zároveň. MediaPad T1 8.0 Pro vám umožňuje viac, než si myslíte.</p>
            </div>
        </div>
    </section>
</div>
<!--  p9  -->
<div id="sec-2" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title">Huawei P9</h2>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/p9-specs.png" alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">5,2" FullHD, 2,5D efekt</div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">3000 mAh</div>
                        <div class="spec__param">batéria</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">3 GB RAM</div>
                        <div class="spec__param">operačná pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">4G</div>
                        <div class="spec__param">sieť</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">2 x 12 MPx BSI AF</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">8 MPx FF</div>
                        <div class="spec__param">predný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">16 GB Flash + Micro-SD slot</div>
                        <div class="spec__param">vnútorná pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Google Android™ 6.0 + EMUI 4.1</div>
                        <div class="spec__param">operačný systém</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-2 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Prelomový fotoaparát s dvoma objektívmy, historické súvislosti</h2>
                <p class="feat__desc">Huawei a Leica sa spojili, aby vytvorili jedinečný fotoaparát pre smartfón s dvoma objektívmy. Viac svetla a jasnejší obraz, ohromujúce fotografie a videá.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-2 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Nový rozmer mobilnej fotografie</h2>
                <p class="feat__desc">Huawei P9 v sebe snúbi dokonalé hardvérové i softvérové vybavenie a dva objektívy od Leica zasadené do jednoliateho tela. Umožňuje vám tak zachytiť fotografie tej najlepšej kvality, ktorá nepozná kompromisy.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg custom-hg prod-2 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Prelomový dvojitý fotoaparát</h2>
                <p class="feat__desc">Huawei P9 zachytáva vynikajúcu farebnosť, neobyčajnosť čiernobielej a emočnú príťažlivosť fotografií Leica.
                    <br>
                    <br> Vďaka dvom snímačom, jednému farebnému a jednému čiernobielemu snímaču zachytáva viac svetla. Získajte neuveriteľné zábery vďaka algoritmu Huawei P9, ktorý inteligentne kombinuje farby zachytené snímačom RGB s detailami čiernobieleho snímača
                    <br>
                    <br> Vďaka veľkosti jednotlivých pixelov až 1,25µm v oboch 12MPx fotoaparátoch funguje lepšie v slabom osvetlení a prináša vašim fotografiám profesionálnu kvalitu za všetkých podmienok vďaka technológii Huawei P9 IMAGEsmart 5.0.
                    <br>
                    <br> Dosiahnite kvalitu fotografií ako s profesionálnym fotoaparátom vďaka algoritmu kvality Leica, dokonca aj pri slabom svetle.
                </p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg custom-hg  prod-2 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Čisté, rýchle, presné snímky</h2>
                <p class="feat__desc">Zachyťte ostré snímky vďaka zabudovanému dvojjadrovému ISP, profesionálnemu DSP a ISP s meraním hĺbky pre lepšie zaostrenie snímky, vyššiu rýchlosť a lepšie spracovanie.
                    <br>
                    <br> Snímajte fotografie s neuveriteľnou rýchlosťou, hĺbkou a čistotou vďaka technológii „Hybridného zaostrovania“, pomocou laserového zaostrovania, merania hĺbky a kontrastu.
                    <br>
                    <br> Zažite výnimočný výkon prostredníctvom vlastnej sústavy čipov poháňaných procesorom Kirin 955. V procesore Kirin 955 sa nachádza dvojjadrové ISP s rýchlym zlučovaním, optimalizovaným riadením šumu a farebnosti a vlastné DSP pre následné spracovanie.
                    <br>
                    <br>
                </p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg custom-hg  prod-2 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Efekt profesionálneho fotoaparátu</h2>
                <p class="feat__desc">Dosahujte profesionálne fotografické efekty a využite výkonnú sústavu jedinečných funkcií, vrátane výberu filmových režimov, efektu širokej clony, čiernobieleho režimu a profesionálneho režimu.
                    <br>
                    <br> Vytvárajte úžasné snímky vďaka efektu širokej clony.
                    <br>
                    <br> Reprodukcia autentických farieb vďaka špeciálnym režimom: Standard, Vivid a Smooth.
                    <br>
                    <br> Upravujte svoje fotografie bez porušenia ich kvality pomocou výstupu profesionálneho režimu Huawei P9 vo formáte RAW.
                </p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-2 feat-6 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Dokonalé selfie vo dne v noci.</h2>
                <p class="feat__desc">Vďaka 8MP prednému fotoaparátu dosiahnete úžasných selfie aj v tmavom prostredí.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-2 feat-7 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Prémiový. Elegantný. Štýlový.</h2>
                <p class="feat__desc">Dizajn Huawei P9 je výsledkom práce skvelých svetových priemyselných dizajnérov. Konštrukcia vás na prvý pohľad očarí svojimi diamantom brúsenými a nádherne zaoblenými hranami. Celokovové telo Huawei P9 bolo vytvorené z hliníka leteckej kvality a najkvalitnejšieho 2,5D skla.
                </p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-2 feat-8 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Displej hrajúci farbami
</h2>
                <p class="feat__desc">Spoznajte svet hrajúci živými a prirodzenými farbami na ohromujúcom 5,2" FHD displeji s 96% farebnou saturáciou.
                </p>
            </div>
        </div>
    </section>
    <section class="feat-9 section">
        <div class="container-fixed">
            <div class="row text_centered">
                <div class="col-md-3 battery">
                    <img alt=" "  class="icon-size-img" src="../assets/img/logo-battery.png">
                    <h3>Nikdy nezmeškajte žiadny moment </h3>
                    <p>Vďaka batérii Huawei P9 3000 mAh (typicky) zostaňte dlhšie pripravení</p>
                </div>
                <div class="col-md-3 antena">
                <img alt=" " class="icon-size-img" src="../assets/img/logo-antena.png">
                    <h3>Trojitá anténa</h3>
                    <p>Signal+ 2.0 Huawei P9 je smartfón s virtuálnou trojitou anténou, čo znamená, že sa nemusíte obávať o polohu svojich rúk v akýchkoľvek podmienkach príjmu mobilného signálu.</p>
                </div>
                <div class="col-md-3 wifi">
                <img alt=" " class="icon-size-img" src="../assets/img/logo-wifi.png">
                    <h3>Vynikajúca pripojiteľnosť</h3>
                    <p>Wi-Fi+ 2.0 Automaticky sa pripojte k najsilnejšej dostupnej Wi-Fi sieti. Huawei P9 automaticky zoraďuje Wi-Fi hotspoty a uprednostňuje najlepšie pripojenie</p>
                </div>
                <div class="col-md-3 finger">
                <img alt=" " class="icon-size-img" src="../assets/img/logo-finger.png">
                    <h3>Bezpečný. Presný. Pohodlný.</h3>
                    <p>Využite vylepšené zabezpečenie svojho telefónu a jednoducho ho odblokujte jediným dotykom vďaka vylepšenému snímaču odtlačkov prstov</p>
                </div>
            </div>
        </div>
    </section>
    <section class="feat-10 section">
        <div class="container-fixed text_centered">
            <img class="icon-size-img-2" src="../assets/img/logo-vip.png" class="vip-logo">
            <h2 class="text_centered">Prémiové produkty. Prémiová starostlivosť.</h2>
            <div class="row vip-panel__tabs">
                <div class="col-md-4 warranty reveal-waterfall">
                <img alt=" " class="icon-size-img" src="../assets/img/logo-vip-warranty.svg">
                    <h3>3-ročná záruka</h3>
                    <p>Získajte po uplynutí štandardnej dvojročnej záruky od výrobcu na váš produkt ďalší rok záruky.</p>
                </div>
                <div class="col-md-4 screen reveal-waterfall">
                <img alt=" " class="icon-size-img" src="../assets/img/logo-vip-screen.svg">
                    <h3>3-mesačná záruka na displej</h3>
                    <p>Získajte jednu výmenu displeja zdarma na ľubovoľné náhodné poškodenie displeja vášho zariadenia počas prvých troch mesiacov po zakúpení.</p>
                </div>
                <div class="col-md-4 replacement reveal-waterfall">
                <img alt=" " class="icon-size-img" src="../assets/img/logo-vip-replacement.svg">
                    <h3>3-mesačný nárok na výmenu produktu</h3>
                    <p>Získajte namiesto opravy jednu výmenu zariadenia zdarma, ak sa na vašom pôvodnom zariadení vyskytne hardvérová chyba počas prvých troch mesiacov po kúpe.</p>
                </div>
            </div>
            <p class="disclaimer">*Farby, tvar, rozhranie a funkcie produktu sú iba ilustračné. Skutočný produkt sa môže líšiť. </p>
        </div>
    </section>
</div>
<!-- p9 lite  -->
<div id="sec-3" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title">Huawei P9 lite</h2>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/p9-lite-specs.png" alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">5,2" FullHD </div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">3000mAh <br>technológia SmartPower 4.0

                        </div>
                        <div class="spec__param">batéria</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">2 GB RAM</div>
                        <div class="spec__param">operačná pamäť</div>
                    </div>
                     <div class="sec__item">
                        <div class="spec__value">4G</div>
                        <div class="spec__param">sieť</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">13 MPx BSI AF</div>
                        <div class="spec__param">hlavný fotoaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">8 MPx FF</div>
                        <div class="spec__param">predný foroaparát</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">16 GB Flash + Micro-SD slot</div>
                        <div class="spec__param">vnútorná pamäť</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Google Android™ 6.0 + EMUI 4.1</div>
                        <div class="spec__param">operačný systém</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-3 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">PREDURČENÝ K ÚSPECHU</h2>
                <p class="feat__desc">Huawei P9 lite, následník úspešného modelu P8 lite, ukrýva vo svojom štíhlom tele rad hardvérových inovácií. Chopte sa inteligentného zariadenia novej generácie, ktoré vás okrem svojho špičkového dizajnu očarí aj skvelou cenou. Svoje sny už nemusíte odkladať na zajtra. Splňte si ich už dnes.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-3 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">ŠTÍHLE TELO</h2>
                <p class="feat__desc">Huawei P9 lite sa môže pochváliť elegantným štíhlym telom so skvelým 76,4% pomerom displeja k telu a rámom z leteckého hliníka a horčíkovej zliatiny. Do neho je zasadený 5,2palcový FHD in-cell displej so širokým farebným spektrom.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-3 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">KÚZLO PRECÍZNEJ FOTOGRAFIE</h2>
                <p class="feat__desc">S celkom novým 13MP snímačom obrazu SONY IMX214 vám Huawei P9 lite dovolí zachytiť čokoľvek, čo si len zaumienite a dokážete predstaviť. Vďaka vysokej svetelnosti F2.0 vaše fotky aj videá upútajú pozornosť svojou ostrosťou aj skvelou kvalitou.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-3 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">DOTYK PROFESIONALITY</h2>
                <p class="feat__desc">Ak chcete mať fotky profesionálnej kvality, nie je nič jednoduchšie, než na Huawei P9 lite zapnúť profesionálny režim fotenia. Môžete si tak hrať s nastavením ISO, hodnotou expozície alebo s vyvážením bielej, a niekoľkými dotykmi nastaviť všetko tak, aby ste vždy dosiahli toho najlepšieho výsledku                
</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-3 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">PÔVAB SKVELÝCH FUNKCIÍ</h2>
                <p class="feat__desc">Huawei P9 lite ponúka aj rad fotografických funkcií navrhnutých tak, aby ste dali naplno vyniknúť kráse čohokoľvek, čo sa rozhodnete vyfotiť. V režime perfektné selfie môžete jemne poupraviť či efektne premeniť svoj vzhľad vďaka špeciálnym predvoľbám. Každej fotke jedla ľahko dodáte na šťavnatosti, pomocou spomalených záberov alebo časozberného režimu ľahko zmeníte tok času.</p>
            </div>
        </div>
    </section>
     <section class="feat_full-bg prod-3 feat-6 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">DOKONALOSŤ. V KAŽDOM DETAILE.</h2>
                <p class="feat__desc">Aká kúzla vie predný fotoaparát? Rovnako ako hlavný fotoaparát disponuje vysokou svetelnosťou F2.0 a navyše aj 27mm širokouhlým objektívom. Citlivo dokáže snímať zmeny okolitého osvetlenia a v prípade potreby automaticky rozžiari obrazovku, aby osvietila vašu tvár. Aj za zlých svetelných podmienok tak ľahko spravite očarujúce selfie. </p>
            </div>
        </div>
    </section>
     <section class="feat_full-bg prod-3 feat-7 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">ROZPOZNÁ VÁS DOTYKOM</h2>
                <p class="feat__desc">Získajte bezpečnostný systém, ktorý spoľahlivo ochráni vaše dáta a prístup k nim umožní iba vám. U Huawei P9 lite ho stelesňuje vyspelá čítačka odtlačkov prstov, ktorá navyše disponuje pokročilými funkciami.</p>
            </div>
        </div>
    </section>
     <section class="feat_full-bg prod-3 feat-8 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">BOŽSKÁ HUDBA</h2>
                <p class="feat__desc">Nechajte vyniknúť každý tón! Vďaka digitálnemu procesoru audio signálu HiSilicon Hi6402 s inteligentným 9V zosilňovačom vás Huawei P9 lite ohromí priezračnosťou a kvalitou zvuku, ktorú mu podobné zariadenia môžu len závidieť.</p>
            </div>
        </div>
    </section>
     <section class="feat_full-bg prod-3 feat-9 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">ÚNAVU NEPOZNÁ</h2>
                <p class="feat__desc">Vysokokapacitná batéria s 3000 mAh a technológia SmartPower 4.0 sa starajú o to, aby vás Huawei P9 lite nikdy nenechal v štichu. Podarilo sa nám výrazne zvýšiť výdrž batérie aj schopnosť systému efektívne nakladať s aplikáciami bežiacimi na pozadí. Huawei P9 lite tak srší neutíchajúcou energiou a má výdrž, ktorá vás milo prekvapí.</p>
            </div>
        </div>
    </section>
     <section class="feat_full-bg prod-3 feat-10 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">SKVELÁ VÝKONNOSŤ AJ ÚSPORA ENERGIE</h2>
                <p class="feat__desc">Budúcnosť neleží na dosah ruky, ale priamo vo vašej dlani. Poháňaný 16nm procesorom HiSilicon Kirin 650 vám Huawei P9 lite sprostredkuje skvelý užívateľský zážitok. Opiera sa pritom o excelentný výkon a zároveň nízku spotrebu energie.</p>
            </div>
        </div>
    </section>
</div>
<div id="sec-4" class="main_sec">
    <section class="prod-specs_main section">
        <div class="fixed-column">
            <h2 class="section__title">Huawei Watch</h2>
            <div class="grid__col_4">
                <div class="img__holder">
                    <img class="img__specs" src="../assets/img/watch-specs.png" alt="">
                </div>
            </div>
            <div class="grid__col_8 grid__content">
                <div class="grid-g__col_6">
                    <div class="sec__item">
                        <div class="spec__value">1,4"</div>
                        <div class="spec__param">displej</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">42 mm</div>
                        <div class="spec__param">priemer</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">11,3 mm</div>
                        <div class="spec__param">hrúbka</div>
                    </div>
                </div>
                <div class="grid-g__col_6 grid__right">
                    <div class="sec__item">
                        <div class="spec__value">Android Wear</div>
                        <div class="spec__param">operačný systém</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Bluetooth a Wi-Fi</div>
                        <div class="spec__param">pripojenie</div>
                    </div>
                    <div class="sec__item">
                        <div class="spec__value">Android 4.3+ a iOS 8.2+</div>
                        <div class="spec__param">kompatibilita</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-4 feat-1 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Klasické na prvý pohľad, nadčasové vo vnútri.</h2>
                <p class="feat__desc">1,4“ AMOLED displej chránený zafírovým sklíčkom
                    <br />Operačný systém Android Wear
                    <br />Pripojenie cez Bluetooth aj Wi-Fi
                    <br />Kompatibilný s Android 4.3+ a iOS 8.2+</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-4 feat-2 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Krása čistého zafírového sklíčka</h2>
                <p class="feat__desc">Prvé hodinky so systémom Android Wear majú zafírové sklíčko. Je tvrdé ako diamant a presne tak i krásne. Huawei Watch sú hodinky, ktoré budete chcieť nosiť každý deň. Zafírové sklíčko Nerezové púzdra</p>
                <a class="button button_lima" href="/mob/objednavka/-/scenario/e-shop/hw-happy/vyber-hw/huawei_watch">Objednať</a>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-4 feat-3 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Meranie zdravotných a pohybových parametrov</h2>
                <p class="feat__desc">Keď budete hodinky Huawei Watch mať istý čas na ruke, zistíte, že sú omnoho viac ako inteligentné hodinky: je to inteligentné dátové centrum, ktoré dokáže zmeniť váš spôsob života. Funkcie každodenného sledovania zdravotného stavu. Meranie jednej aktivity. Meranie pulzovej frekvencie.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-4 feat-4 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Nadčasový dizajn</h2>
                <p class="feat__desc">Klasické hodinky, ktoré vydržia skúšku času. Práve preto pochádza inšpirácia pre hodinky Huawei zo zlatého veku dizajnu hodiniek, avšak so súčasným moderným pojatím. Vďaka tomu sú hodinky neodolateľne nadčasové. Okrem toho majú okrúhly dizajn, prvky klasických analógových hodiniek a ergonomické umiestnenie ovládacieho tlačidla.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-4 feat-5 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Buďte stále na príjme a pripojení zo svojho zápästia</h2>
                <p class="feat__desc"> Všetko, čo robíte s hodinkami Huawei Watch je inteligentné, jednoduchšie a intuitívnejšie. Stačí prejsť prstom na ciferníku doprava a pohotovo nájdete kontakty pre rýchle volanie a písanie správ. Pohybom doľava alebo dvojitým kliknutím na korunku spustíte aplikácie.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-4 feat-6 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">Možnosť personalizácie</h2>
                <p class="feat__desc">S možnosťou výberu zo 40 rôznych dizajnov ciferníkov, troch luxusných púzdier a širokej škály kvalitných kožených či oceľových remienkov sú Huawei Watch umelecké dielo, ktoré si môžete upraviť podľa seba. A všetko sa zobrazuje v úchvatných detailoch na displeji AMOLED s vysokým kontrastom 10 0000 : 1 a ultravysokým rozlíšením 286 ppi.</p>
            </div>
        </div>
    </section>
    <section class="feat_full-bg prod-4 feat-7 section">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">Inteligentné vnútro</h2>
                <p class="feat__desc">Hodinky Huawei Watch využívajú operačný systém Android Wear a sú vybavené inteligentným osobným asistentom Google Now. Celý svet máte teraz na zápästí a hodinky vám poskytujú všetky informácie, ktoré potrebujete k lepšiemu životu.</p>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
