<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">
				MAGENTA MOBILE</h1>
            <h2 class="hero__sub-title">
				Profesionálne mobilné paušály pre celú firmu</h2>
            <p class="hero__desc">
                Ušité na mieru pre každého zamestnanca od výroby cez kanceláriu až po manažment.</p>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">Prehľad paušálov</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">Doplnkové služby</a></li>
        <li>
            <a class="scroll-to" href="#sec-6">Mám záujem</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1" id="sec-1">
    <div class="fixed-column">
        <p class="section__title">
            VÝHODY Magenta Mobile</p>
        <div class="grid-g__col_6">
            <p class="item">
                Výhodné volania do všetkých sietí aj do zahraničia</p>
            <p class="item">
                Finančný príspevok na nákup telefónov</p>
            <p class="item">
                Neobmedzený internet <img alt="" class="info" src="../assets/img/ico-info.png" /></p>
        </div>
        <div class="grid-g__col_6 right">
            <p class="item">
                Individuálny prístup k vaším potrebám</p>
            <p class="item">
                Najrýchlejší 4G internet</p>
            <p class="item">
                Doplnkové balíčky a služby</p>
        </div>
        <div class="grid-g__col_12 text_centered">
            <a class="scroll-to button button_lima two-lined-btn" href="#sec-6"><b>MÁM ZÁUJEM</b><br />
			o nezáväznú ponuku</a></div>
    </div>
</section>
<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <p class="section__title">
            Prehľad paušálov Magenta Mobile</p>
        <div class="pricing-tables">
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-mini.png" />
                        <h3 class="pricing__title">
							Mini</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            Manuálny pracovník</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-globe2.png" /> 4G Internet v mobile</p>
                        <p class="pricing__data">
                            <b>200 MB</b> dát v plnej rýchlosti 4G</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-phone2.png" /> Volania</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v rámci firmy</b></p>
                        <p class="pricing__call_1">
                            50 voľných minút SK, do EÚ a na odchádzajúce volania <a href="#" class="roaming-info">zo susedných štátov</a></p>
                        <p class="pricing__call_2">
                            50 minút prichádzajúce roamingové volania v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                        <p class="pricing__cell__sub-title">
                            <b>100</b>
                        <br />
                        do všetkých sietí v SR a <a href="#" class="roaming-info">zo susedných štátov</a> do SR    
                        </p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">
                            Ďalšie služby zahrnuté v cene paušálu</p>
                        <p>
                            -</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-basic.png" />
                        <h3 class="pricing__title">
							Basic</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            Administratívny pracovník</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-globe2.png" /> 4G Internet v mobile</p>
                        <p class="pricing__data">
                            <b>2 000 MB</b> dát v plnej rýchlosti 4G</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-phone2.png" /> Volania</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v Telekom sieti</b></p>
                        <p class="pricing__call_1">
                            100 voľných minút SK, do EÚ a na odchádzajúce volania <a href="#" class="roaming-info">zo susedných štátov</a></p>
                        <p class="pricing__call_2">
                            100 minút prichádzajúce roamingové volania v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v Telekom sieti</b></p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">
                            Ďalšie služby zahrnuté v cene paušálu</p>
                        <img alt="" src="../assets/img/ico-eset2.png" />
                        <p>
                            ESET Mobile Security</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-standard.png" />
                        <h3 class="pricing__title">
							Štandard</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            Obchodný zástupca</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-globe2.png" /> 4G Internet v mobile</p>
                        <p class="pricing__data">
                            <b>4 000 MB</b> dát v plnej rýchlosti 4G</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-phone2.png" /> Volania</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v SR</b> a na odchádzajúce volania <a href="#" class="roaming-info">zo susedných štátov</a>
                        </p>
                        <p class="pricing__call_1">
                            250 voľných minút v EÚ</p>
                        <p class="pricing__call_2">
                            250 minút prichádzajúce roamingové volania v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v SR</b><br />
                            zo <a href="#" class="roaming-info">susedných štátov do SR</a>
                        </p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">
                            Ďalšie služby zahrnuté v cene paušálu</p>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-eset2.png" />
                                <p>
                                    ESET Mobile Security</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-sygic2.png" />
                                <p>
                                    Navigácia Sygic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-manager.png" />
                        <h3 class="pricing__title">
							Manager</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            Manažér a špecialista</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-globe2.png" /> 4G Internet v mobile</p>
                        <p class="pricing__data">
                            <b>6 000 MB</b> dát v plnej rýchlosti 4G
                            <br />
                            <b>500 MB</b> dát v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-phone2.png" /> Volania</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v SR, do EÚ</b> a na odchádzajúce volania <a href="#" class="roaming-info">zo susedných štátov</a></p>
                        <p class="pricing__call_2">
                            Neobmedzené prichádzajúce volania v roamingu</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v SR, do EÚ a</b><br />
                            zo <a href="#" class="roaming-info">susedných štátov do SR</a>
                        </p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">
                            Ďalšie služby zahrnuté v cene paušálu</p>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-eset2.png" />
                                <p>
                                    ESET Mobile Security</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-sygic2.png" />
                                <p>
                                    Navigácia Sygic</p>
                            </div>
                        </div>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-tv2.png" />
                                <p>
                                    TV Magio GO</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-share2.png" />
                                <p>
                                    Zdieľanie dát</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img alt="" class="pricing__img" src="../assets/img/ico-VIP.png" />
                        <h3 class="pricing__title">
							VIP</h3>
                        <p class="pricing__for">
                            Odporúčame pre:</p>
                        <p class="pricing__position">
                            Majiteľ a CEO</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-globe2.png" /> 4G Internet v mobile</p>
                        <p class="pricing__data">
                            <b>10 000 MB</b> dát v plnej rýchlosti 4G
                            <br />
                            <b>1 GB</b> v zahraničí <img alt="" class="info-2" src="../assets/img/ico-info.png" /></p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-phone2.png" /> Volania</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v SR, EÚ a ďalších vybraných krajinách</b> a na odchádzajúce volania <a href="#" class="roaming-info">zo susedných štátov</a></p>
                        <p class="pricing__call_2">
                            Neobmedzené prichádzajúce volania v roamingu</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title">
                            <img alt="" src="../assets/img/ico-bubles.png" /> SMS/MMS</p>
                        <p class="pricing__cell__sub-title">
                            <b>Neobmedzene v SR, do EU + do ďalších vybraných krajín a</b><br />
                            zo <a href="#" class="roaming-info">susedných štátov do SR</a>
                        </p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">
                            Ďalšie služby zahrnuté v cene paušálu</p>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-eset2.png" />
                                <p>
                                    ESET Mobile Security</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-sygic2.png" />
                                <p>
                                    Navigácia Sygic</p>
                            </div>
                        </div>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-tv2.png" />
                                <p>
                                    TV Magio GO</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img alt="" src="../assets/img/ico-share2.png" />
                                <p>
                                    Zdieľanie dát</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-g__col_12 text_centered">
            <a href="../assets/js/Cennik_Magenta_Mobile_11.1.2016.pdf" target="_blank"><b>Cenník s detailnými informáciami a cenami (.pdf)</b></a></div>
    </div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="fixed-column">
        <p class="section__title">
            Máte záujem o viac informácií o Magenta Mobile?</p>
        <p class="section__desc">
            Využite služby nášho <b>obchodného zástupcu</b>, zavolajte na tel. číslo <b>0800 123 500</b>
            <br /> alebo vyplňte náš <a class="scroll-to" href="#sec-6"><b>kontaktný formulár</b></a> a my vás budeme kontaktovať.</p>
    </div>
</section>
<section class="section sec-4" id="sec-4">
    <div class="fixed-column text_centered">
        <p class="section__title">
            Doplnkové služby</p>
        <div class="grid-g__col_4">
            <img alt="" src="../assets/img/ico-globe.png" />
            <p>
                <b>4G dátové balíčky</b>
                <br /> Minuli ste voľné dáta a chcete ďalej surfovať v najvyššej 4G rýchlosti? Kedykoľvek si môžete dokúpiť viac dát cez aplikáciu Telekom.</p>
        </div>
        <div class="grid-g__col_4 second">
            <img alt="" src="../assets/img/ico-phone.png" />
            <p>
                <b>Balíčky neobmedzených volaní</b>
                <br /> Potrebujete viac telefonovať? Neobmedzené hovory v SR a EÚ môžete dokúpiť aj pre nižšie paušály.</p>
        </div>
        <div class="grid-g__col_4">
            <img alt="" src="../assets/img/ico-share.png" />
            <p>
                <b>Zdieľanie dát</b>
                <br /> Svoje dáta z paušálu môžete využívať aj na ďalších zariadeniach, napr. na tablete či notebooku.</p>
        </div>
    </div>
</section>
<section class="section sec-5" id="sec-5">
    <div class="fixed-column text_centered">
        <p class="section__title">
            Mobilné aplikácie pre prácu aj voľný čas</p>
        <div class="grid-g__col_12">
            Dostupnosť sa mení v závislosti od typu paušálu.</div>
        <div class="grid-g__col_4">
            <img alt="" src="../assets/img/ico-sygic.png" />
            <p>
                <b>GPS navigácia Sygic – Telekom edícia</b>
                <br /> Dostupnosť jednotlivých služieb sa mení v závislosti od paušálu.</p>
        </div>
        <div class="grid-g__col_4 second">
            <img alt="" src="../assets/img/ico-eset.png" />
            <p>
                <b>Antivírová ochrana ESET Mobile Security</b>
                <br /> Dostupnosť jednotlivých služieb sa mení v závislosti od paušálu.</p>
        </div>
        <div class="grid-g__col_4">
            <img alt="" src="../assets/img/ico-tv.png" />
            <p>
                <b>Magio GO – televízia v mobile</b>
                <br /> Buďte v obraze kedykoľvek a kdekoľvek.</p>
        </div>
    </div>
</section>
<section class="section sec-6" id="sec-6">
    <div class="fixed-column text_centered">
        <p class="section__title">
            Máte záujem?</p>
        <div class="grid-g__col_12">
            Vyplňte náš nezáväzný kontaktný formulár a budeme vás kontaktovať.</div>
        <div id="form-holder">
            &nbsp;</div>
    </div>
</section>
<section class="section sec-7" id="sec-7">
    <div class="fixed-column text_centered">
        <div class="grid-g__col_12">
            <p style="font-size:20px">
                V rámci biznis riešení vám ponúkame aj <a href="/biznis/magenta-office/pevna-linka
">pevnú linku</a> a <a href="/biznis/magenta-office/internet
">internet do kancelárie.</a></p>
        </div>
        <p class="section__sub-title">
            váš úspech je náš biznis</p>
    </div>
</section>
<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
