/* =============== GLOBAL CONFIG  =============== */
/* ===============
CSS FOR MICROSITE
=============== */
/* GLOBALS */
#content .sec__title {
  text-align: center;
  text-transform: uppercase; }

#content .sec__desc {
  text-align: center;
  margin-top: 0; }

/* HERO SECTION */
#hero {
  background: url(/documents/10179/12868973/kv.jpg) no-repeat 50% 50%;
  padding: 48px 2%;
  overflow: hidden;
  background-size: cover;
  max-height: 254px; }

#hero .container-fixed {
  position: relative; }

.hero__content {
  text-align: center;
  max-width: 460px;
  position: relative; }

#content #hero .link {
  text-decoration: none; }

#content .hero__title b {
  font-weight: 900; }

.ec-header {
  position: absolute;
  top: -36px;
  right: -202px; }

.logo-header {
  position: absolute;
  right: 0;
  top: -48px; }

#content .hero__title, #content .hero__desc {
  color: #262626; }

@media screen and (max-width: 958px) {
  .logo-header {
    right: -25px; } }

@media screen and (max-width: 560px) {
  .logo-header {
    display: none; } }

@media screen and (max-width: 480px) {
  #hero {
    background: transparent;
    padding: 0;
    max-height: inherit; }
  .hero__mobile {
    background: url(/documents/10179/12868973/kv.jpg) no-repeat 59% 50%;
    height: 195px; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  .hero__content {
    padding: 40px 4%; }
  .ec-header {
    top: -81px;
    right: 0px; }
  #hero .btn {
    margin-top: 60px; } }

/* SEC - 1 */
.sec-1 .container-fixed {
  padding-top: 30px; }

#content .sec-1 .sec__title {
  margin-bottom: 0; }

.tabs-container {
  margin-top: 20px; }

.tab {
  border-top: 0; }

.tabs-menu li, .tabs-menu li:hover {
  border: 1px solid #dbdbdb;
  border-right: 0;
  border-radius: 3px 0 0 0; }

.tabs-menu li.current {
  border: 1px solid #dbdbdb;
  border-right: 0;
  background-color: #ededed; }

.tabs-menu li:last-of-type {
  border: 1px solid #dbdbdb;
  border-radius: 0 3px 0 0; }

.tabs-menu .current a {
  color: #262626; }

.tabs-menu li a {
  padding: 0 20px; }

.sec-1 .tab-content {
  text-align: center; }

.box__holder {
  display: inline-block; }

.box__holder .box-device:last-of-type {
  margin-left: 5px; }

#content .box-device {
  max-width: 253px;
  text-align: center;
  border: 1px solid #ffffff;
  padding: 5px 10px;
  }

#content .box-device:hover {
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer; }

#content .box-device:hover .device__name, #content .box-device:hover .device__params {
  text-decoration: underline; }

#content .box-device .device__name {
  font-weight: bold; }

#content .box-device .img__holder {
  position: relative; }

#content .box-device .img__ec {
  position: absolute;
  top: 20px;
  right: 16px; }

#content .box-device .device__params {
  margin: 0;
  font-size: 16px; }

#content .box-device .pricing__title {
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 5px; }

#content .box-device .pricing-table {
  font-size: 16px;
  text-align: left;
  width: 100%; }

#content .box-device .pricing-table td {
  padding: 0;
  line-height: 100%; }
  
#content .box-device .pricing-table tr:nth-last-of-type(2) td {
  padding-bottom: 5px;
}  

#content .box-device .pricing-table .margin td {
  padding-bottom: 5px; }

#content .box-device .pricing-table .inner-head {
  font-weight: bold; }

#content .box-device .pricing-table tr td:last-of-type {
  text-align: right; }

#content .box-device .pricing-table .magenta-text {
  color: #e20074; }

#content .box-device .pricing-table .magenta-text td {
  padding-bottom: 10px; }

#content .box-device .pricing-table .one-time-payment {
  border-top: 1px solid #d0d0d0;
  color: $magenta; }

  

#content .box-device .pricing-table .one-time-payment td {
  padding: 5px 0; }

#content .device-1 .device__name {
  padding: 10px 0 12px 0; }

.info-box__holder {
  text-align: center; }

.info-box {
  background-color: #fff6d5;
  padding: 1px 8px;
  display: inline-block; }

#content .info {
  color: #e20074;
  padding-left: 30px;
  text-align: left;
  background: url("/documents/10179/12868973/ico-info.png") no-repeat center left; }

#content .bottom-button-holder {
  text-align: center;
  max-width: 297px;
  margin: 10px auto 0 auto; }

#content .bottom-button-holder .btn {
  width: 100%;
  padding: 8px 0; }

#content .bottom-button-holder .btn:last-of-type {
  margin-top: 10px; }

@media screen and (max-width: 526px) {
  #content .box-device {
    float: none; }
  #content .device-1 {
    margin-bottom: 20px; } }

@media screen and (max-width: 520px) {
  .tabs-menu li, .tabs-menu li.current, .tabs-menu li:hover {
    border: 1px solid #dbdbdb;
    border-bottom: 0;
    border-radius: 3px 3px 0 0; }
  .tabs-menu li:last-of-type {
    border: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px; } }

/* SEC - 2 */
.sec-2 {
  margin-bottom: 40px; }

.sec-2 .container-fixed {
  border-top: 1px solid #d0d0d0;
  padding-top: 30px;
  margin-top: 20px; }

.item {
  text-align: center; }

#content .item p {
  margin: 0; }

#content .left-text {
  text-align: left;
  font-size: 16px;
  display: inline-block;
  margin: 0 auto; }

.sec-2 .col-md-4:nth-of-type(2) {
  position: relative; }

.sec-2 .col-md-4:nth-of-type(2):before, .sec-2 .col-md-4:nth-of-type(2):after {
  background: url("/documents/10179/12868973/ico-arrow-right.jpg") no-repeat;
  width: 54px;
  height: 41px;
  position: absolute;
  content: '';
  top: 10px;
  left: -22px; }

.sec-2 .col-md-4:nth-of-type(2):after {
  left: auto;
  right: -22px; }

@media screen and (max-width: 768px) {
  .item .col-md-4:nth-of-type(2) {
    margin: 20px 0; }
  .sec-2 .col-md-4:nth-of-type(2):before, .sec-2 .col-md-4:nth-of-type(2):after {
    display: none; } }

/* SEC - PROD DET */
#content .back-holder {
  margin: 20px 0; }

#content .back-holder a {
  background: url("/documents/10179/12868973/arrow-back.png") no-repeat center left;
  padding-left: 15px; }

.box-pricing {
  display: inline-block;
  width: 100%; }

.bp__content {
  padding: 20px 0;
  display: flex; }

.bp__inner-section {
  width: 47%;
  float: left;
  padding: 0 2%; }

.bp__inner-section:nth-of-type(2) {
  width: 100%;
  max-width: 510px; 
  & a {
    padding: 8px 80px !important;
  }
}

#content .bpis__title {
  font-size: 22px;
  font-weight: bold;
  color: #242424;
  margin: 0 0 5px 0;
  line-height: 100%; }  

#content .sec-det .box-device {
  padding: 0;
  max-width: 290px;
  width: 100%;
  border: 0;
  display: block; }

#content .sec-det .box-device:nth-last-of-type(2) {
  margin-right: 10px;
}  

#content .sec-det .box-device:hover {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default; }

#content .sec-det .box-device:hover .device__name, #content .sec-det .box-device:hover .device__params {
  text-decoration: none; }

#content .sec-det .box-device .cta {
  width: 100%;
  max-width: 297px;
  margin-top: 5px; }

#content .sec-det .info-box {
  padding: 8px;
  margin-top: 66px; }

#content .sec-det .info-box p {
  margin: 0;
  color: #e20074;
  line-height: 18px; }

@media screen and (max-width: 880px) {
  .bp__inner-section, .bp__inner-section:nth-of-type(2), .bp__inner-section:nth-of-type(3) {
    width: 100%;
    float: left;
    padding: 0 2%; }
  .bp__inner-section:nth-of-type(2), .bp__inner-section:nth-of-type(3) {
    text-align: center; }
  #content .sec-det .box-device {
    margin: 0 auto;
    max-width: 300px;
    float: none; }
  #content .sec-det .info-box {
    margin-top: 0; }
  #content .sec-det .info-box img {
    display: inline-block;
    vertical-align: bottom; }
  #content .sec-det .info-box p {
    display: inline-block; }
  .bp__content {
    display: inherit;
    width: 100%; }
  .bp__inner-section:nth-child(2) {
    max-width: inherit;
    border-left: 0;
    border-right: 0;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    padding: 20px 2%;
    margin: 20px 0; } 
  .ec-gallery {
    left: 60%;
  }
  #content .sec-det .box-device:nth-last-of-type(2) {
    margin-right: auto;
  }    
}

/* ZOOM GALLERY */
.gallery {
  position: relative; }

.zoomWindowContainer div {
  top: -69px !important; }

.thumbnails {
  float: left;
  padding-right: 10px;
  width: 21%; }

.full__holder {
  float: left;
  width: 79%;
  position: relative;
  margin-top: 30px; }  

.ec-gallery {
  position: absolute;
  top: 0px;
  right: 10px; }

.preview {
  width: 45px;
  height: 53px;
  overflow: hidden;
  margin-bottom: 10px;
  border: 1px solid #cfcfcf;
  display: flex;
  cursor: pointer; }

.preview img {
  width: 43px;
  height: 53px; }

.preview:last-child {
  margin-bottom: 0; }

.zoomLens {
  cursor: zoom-in !important; }

.full {
  max-width: 313px;
  width: 100%;
  font-size: 12px;
  float: left;
  margin: 0 auto; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.controlls {
  display: none; }

@media screen and (max-width: 768px) {
  .indicator {
    background-color: #d0d0d0;
    height: 3px;
    width: 100%; }
  .indicator:after {
    content: "";
    display: table;
    clear: both; }
  .in__content {
    background-color: #e20074;
    height: 3px; }
  #content .controlls a {
    color: #383838;
    font-size: 18px; }
  .controlls {
    display: block; }
  .control__holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  #content .img-size {
    display: inline-block; }
  .full__holder {
    text-align: center;
    width: auto;
    margin-top: 0;
    float: none; }
  .full {
    float: none; }
  .thumbnails {
    display: none; }
  .ec-gallery {
    left: 80%;
  }
}

/* SEC DET 2 */
#content .sec-det-2 .tabs-container {
  margin-bottom: 40px; }

#content .sec-det-2 .tab__holder {
  text-align: left;
  margin-bottom: -1px; }

#content .sec-det-2 .tabs-menu li, #content .sec-det-2 .tabs-menu li:hover {
  border: 0;
  border-bottom: 1px solid #b2b2b2; }

#content .sec-det-2 .tabs-menu li.current {
  background-color: transparent;
  border: 1px solid #b2b2b2;
  border-bottom: 1px solid #ffffff; }

#content .sec-det-2 .tabs-menu li:nth-of-type(2).current {
  border-radius: 0; }

#content .sec-det-2 .tab-content {
  padding-top: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2; }

#content .sec-det-2 .feat-text .feat-tit {
  margin: 0 0 5px 0;
  font-weight: bold; }

#content .sec-det-2 .feat-text .feat-desc {
  margin: 0; }

#content .sec-det-2 .feat {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0 60px;
  border-bottom: 1px solid #b2b2b2; }

#content .sec-det-2 .feat.feat-img-left .feat-img-holder {
  order: 1; }

#content .sec-det-2 .feat.feat-img-left .feat-text-holder {
  order: 2; }

#content .sec-det-2 .feat .feat-text-holder {
  float: left;
  width: 50%; }

#content .sec-det-2 .feat .feat-img-holder {
  float: left;
  width: 50%;
  text-align: center; }

#content .sec-det-2 .feat .feat-img-holder img {
  max-width: 100%; }

#content .sec-det-2 .feat:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .feat:last-of-type {
  border-bottom: 0; }

#content .sec-det-2 .feature-to-holder {
  padding: 80px 0;
  margin: 0 40px; }

#content .sec-det-2 .feature-to-holder:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .table-holder {
  margin: 30px 40px 0 40px; }

#content .sec-det-2 .table-holder:first-of-type {
  margin-top: 0; }

#content .sec-det-2 .table-holder:last-of-type {
  margin-bottom: 20px; }

#content .sec-det-2 .table-holder .table-params {
  font-size: 16px;
  width: 100%; }

#content .sec-det-2 .table-holder .table-params th {
  border-bottom: 1px solid #b2b2b2;
  color: #262626;
  font-weight: 500; }

#content .sec-det-2 .table-holder .table-params td {
  padding: 2px 0;
  border-bottom: 1px solid #d0d0d0; }

#content .sec-det-2 .table-holder .table-params tr td:first-of-type {
  width: 269px; }

#content .sec-det-2 .order-info-holder {
  margin: 20px 40px; }

#content .sec-det-2 .order-info-holder .order-info-wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto; }

#content .sec-det-2 .order-info-holder .order-info-wrapper:after {
  content: "";
  display: table;
  clear: both; }

#content .sec-det-2 .order-info-holder .order-info-wrapper .col-md-4 {
  text-align: center; }

@media screen and (max-width: 767px) {
  #content .sec-det-2 .feature-to-holder {
    padding: 40px 0; }
  #content .sec-det-2 .feature-to-holder .feat-text {
    max-width: none; }
  #content .sec-det-2 .feature-to-holder .feat-text-only:first-of-type {
    margin-bottom: 25px; }
  #content .sec-det-2 .table-holder tr td:first-of-type {
    width: auto !important; }
  #content .sec-det-2 .order-info-holder .col-md-4:nth-of-type(2) {
    margin: 20px 0; } }

@media screen and (max-width: 520px) {
  #content .sec-det-2 .tab__holder {
    margin-bottom: 20px; }
  #content .sec-det-2 .tabs-menu li {
    border: 1px solid #b2b2b2; }
  #content .sec-det-2 .tabs-menu li:hover, #content .sec-det-2 .tabs-menu li.current {
    background-color: #ededed;
    border: 1px solid #b2b2b2; }
  #content .sec-det-2 .tabs-menu li.current {
    background-color: #ededed; }
  #content .sec-det-2 .tabs-menu li:first-of-type {
    border-radius: 3px 3px 0 0;
    border-bottom: 0; }
  #content .sec-det-2 .tabs-menu li:nth-of-type(2) {
    border-radius: 0;
    border-bottom: 0; }
  #content .sec-det-2 .tabs-menu li:last-of-type {
    border-radius: 0 0 3px 3px; } }

.thumbnails a.selected {
  background-color: #ddd;
}

.text-green {
  color: #6bb324;
}

.lightbox-content-3 {
  color: $magenta;
  background-color: #FFF6D5;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
  & div {
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
  }
  & .lightbox-3-cont {
    max-width: 400px;
    margin-left: 10px;
  }
}
.lightbox-3-cont {
    margin-left: 10px;
}

@media screen and (max-width: 540px) {
  .lightbox-icon {
    display: none !important;
  }
}

#sec-det-2 .feat-desc ul {
  list-style: square !important;
}