<!-- nb1 -->
<section class="section sec-1 main-bg" id="sec-1">
	<div class="container-fixed">
		<div class="row text_centered">
			<h2 class="main_title">
				NOTEBOOKY K MOBILNÉMU INTERNETU</h2>
		</div>
		<div class="row" id="yoga300">
			<div class="col-md-12 fullWidthBox">
				<div class="item_gallery col-md-5">
					<div class="slider main-gallery4 pull-center large-image text_centered">
						<!-- large 1 -->
						<div>
							<div class="ec-holder">
								<img alt="" src="../assets/img/ec-novinka.png" style="top: 52px;" /></div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb4_001.jpg" /></div>
						<!-- large 2 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb4_002.jpg" /></div>
						<!-- large 3 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb4_003.jpg" /></div>
						<!-- large 4 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb4_004.jpg" /></div>
						<!-- large 5 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb4_005.jpg" /></div>
					</div>
					<div class="slider slider-nav4 text_centered wow fadeInLeft" data-wow-delay="0.2s" id="thumbs">
						<!-- thumb 1 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb4_001.jpg" /></div>
						<!-- thumb2 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb4_002.jpg" /></div>
						<!-- thumb3 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb4_003.jpg" /></div>
						<!-- thumb4 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb4_004.jpg" /></div>
						<!-- thumb5 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb4_005.jpg" /></div>
					</div>
				</div>
				<div class="item_desc col2 col-md-5 b-r b-b-m">
					<div class="ec-holder">
						<img alt="" class="first-ico" src="../assets/img/ico-celeron.jpg" /></div>
					<h3 class="section_title b-b">
						Lenovo YOGA 300</h3>
					<p class="no-space">
						<b>Inovatívny a konvertibilný.<br />
						Pomocník aj spoločník.</b></p>
					<ul class="spec-list">
						<li>
							Windows 10 Home</li>
						<li>
							ročná licencia Microsoft Office 365 Personal</li>
						<li>
							dotykový 11,6" HD displej s 360° kovertibilitou</li>
						<li>
							2-jadrový procesor Intel® Celeron® N3060</li>
						<li>
							32 GB EMMC úložisko (rozšíriteľné), 2 GB RAM</li>
						<li>
							super nízka hmotnosť len 1,39 kg</li>
					</ul>
					<img alt="" src="../assets/img/ico-win-10.png" /><br />
					<br />
					<a class="popup" href="#nb4">Viac info o notebooku</a></div>
				<div class="item_cta col3 col-md-2 text_centered col-holder">
					<div class="col-top">
						<span class="col_title"> Už od 29,00 €</span>
						<p class="col-desc no-space font_magenta">
							jednorazovo za notebook</p>
						<p class="col-desc no-space">
							s Mobilným internetom M</p>
					</div>
					<div class="col-cta">
						<a class="button button_lima" href="/mam-zaujem/hw/mobilny-internet/notebook/lenovo-yoga-300">vyskladať</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-2" id="sec-2">
	<div class="container-fixed">
		<div class="row text_centered">
			<h2 class="section_title font_black">
				Extra výhody za nákup na webe</h2>
			<div class="col-md-4">
				<img alt="Extra zľava 10 €" src="../assets/img/ico-01.png" />
				<p class="desc">
					<b>Extra zľava 10 €</b><br />
					pri kúpe Mobilného internetu cez web</p>
			</div>
			<div class="col-md-4">
				<img alt="Prvých 14 dní bez záväzkov" src="../assets/img/ico-02.png" />
				<p class="desc">
					<b>Prvých 14 dní bez záväzkov</b><br />
					pri kúpe cez web môžete vrátiť službu aj tovar bez udania dôvodu</p>
			</div>
			<div class="col-md-4">
				<img alt="Doručenie kuriérom zadarmo" src="../assets/img/ico-03.png" />
				<p class="desc">
					<b>Doručenie kuriérom zadarmo</b><br />
					kdekoľvek v rámci SR</p>
			</div>
		</div>
	</div>
</section>
<!-- nb2 -->
<section class="section sec-3" id="sec-3">
	<div class="container-fixed">
		<div class="row" id="ideapadv110pentium">
			<div class="col-md-12 fullWidthBox">
				<div class="item_gallery col-md-5">
					<div class="slider main-gallery2 pull-center large-image text_centered">
						<!-- large 1 -->
						<div>
							<div class="ec-holder">
								<img alt="" src="../assets/img/ec-novinka.png" style="top: 52px;" /></div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_001.jpg" /></div>
						<!-- large 2 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_002.jpg" /></div>
						<!-- large 3 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_003.jpg" /></div>
						<!-- large 4 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_004.jpg" /></div>
						<!-- large 5 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_005.jpg" /></div>
					</div>
					<div class="slider slider-nav2 text_centered wow fadeInLeft" data-wow-delay="0.2s" id="thumbs">
						<!-- thumb 1 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_001.jpg" /></div>
						<!-- thumb2 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_002.jpg" /></div>
						<!-- thumb3 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_003.jpg" /></div>
						<!-- thumb4 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_004.jpg" /></div>
						<!-- thumb5 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_005.jpg" /></div>
					</div>
				</div>
				<div class="item_desc col2 col-md-5 b-r b-b-m">
					<div class="ec-holder">
						<img alt="" src="../assets/img/ico-pentium.jpg" /></div>
					<h3 class="section_title b-b">
						Lenovo IdeaPad V110 Pentium</h3>
					<p class="no-space">
						<b>Výkonný notebook v modernom tele</b></p>
					<ul class="spec-list">
						<li>
							15,6" HD displej</li>
						<li>
							Intel® Pentium® N4200 Processor</li>
						<li>
							pamäť RAM 4 GB</li>
						<li>
							pevný disk 1 TB/5 400 ot.</li>
						<!--   <br />
                        <li>
                            <b>Microsoft Office 365 Personal<br />
                            na 1 rok len za 21,99 € <span class="crossed">69,00 €</span></b></li> -->
					</ul>
					<img alt="" src="../assets/img/ico-win-10.png" /><br />
					<br />
					<a class="popup" href="#nb2">Viac info o notebooku</a></div>
				<div class="item_cta col3 col-md-2 text_centered col-holder">
					<div class="col-top">
						<span class="col_title">Už od 19,00 €</span>
						<p class="col-desc no-space font_magenta">
							jednorazovo za notebook</p>
						<p class="col-desc no-space">
							s Mobilným internetom L</p>
					</div>
					<div class="col-cta">
						<a class="button button_lima" href="/mam-zaujem/hw/mobilny-internet/notebook/lenovo-ideapad-v110-pentium">VYSKLADAŤ</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- nb3 -->
<section class="section sec-4" id="sec-4">
	<div class="container-fixed">
		<div class="row" id="ideapadv110">
			<div class="col-md-12 fullWidthBox">
				<div class="item_gallery col-md-5">
					<div class="slider main-gallery3 pull-center large-image text_centered">
						<!-- large 1 -->
						<div>
							<div class="ec-holder">
								<img alt="" src="../assets/img/ec-novinka.png" style="top: 52px;" /></div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_001.jpg" /></div>
						<!-- large 2 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_002.jpg" /></div>
						<!-- large 3 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_003.jpg" /></div>
						<!-- large 4 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_004.jpg" /></div>
						<!-- large 5 -->
						<div>
							<img alt="gallery image" class="responsive-image" src="../assets/img/nb3_005.jpg" /></div>
					</div>
					<div class="slider slider-nav3 text_centered wow fadeInLeft" data-wow-delay="0.2s" id="thumbs">
						<!-- thumb 1 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_001.jpg" /></div>
						<!-- thumb2 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_002.jpg" /></div>
						<!-- thumb3 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_003.jpg" /></div>
						<!-- thumb4 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_004.jpg" /></div>
						<!-- thumb5 -->
						<div>
							<img alt="gallery image" class="thumb-img" src="../assets/img/nb3_005.jpg" /></div>
					</div>
				</div>
				<div class="item_desc col2 col-md-5 b-r b-b-m">
					<div class="ec-holder">
						<img alt="" src="../assets/img/ico-i3.jpg" /></div>
					<h3 class="section_title b-b">
						Lenovo IdeaPad V110</h3>
					<p class="no-space">
						<b>Štýl a najvyšší i3 výkon.</b></p>
					<ul class="spec-list">
						<li>
							15,6" HD displej</li>
						<li>
							Intel® Core™ i3-6006U Processor</li>
						<li>
							pamäť RAM 4 GB</li>
						<li>
							pevný disk 1 TB/5 400 ot.</li>
						<li>
							DVD-RW mechanika</li>
						<!--   <br />
                        <li>
                            <b>Microsoft Office 365 Personal<br />
                            na 1 rok len za 21,99 € <span class="crossed">69,00 €</span></b></li> -->
					</ul>
					<img alt="" src="../assets/img/ico-win-10.png" /><br />
					<br />
					<a class="popup" href="#nb3">Viac info o notebooku</a></div>
				<div class="item_cta col3 col-md-2 text_centered col-holder">
					<div class="col-top">
						<span class="col_title"> Už od 99,00 €</span>
						<p class="col-desc no-space font_magenta">
							jednorazovo za notebook</p>
						<p class="col-desc no-space">
							s Mobilným internetom L</p>
					</div>
					<div class="col-cta">
						<a class="button button_lima" href="/mam-zaujem/hw/mobilny-internet/notebook/lenovo-ideapad-v110">VYSKLADAŤ</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section sec-5" id="sec-5">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 ">
				<div>
					<a class="toggle-info t-ico-down scroll-to" href="#sec-5">Podmienky - Notebooky k Mobilnému internetu</a></div>
				<div class="toggle-content height-transition height-transition-hidden">
					<p>
						Ponuka platí do 31.1.2018. Ponuka nie je kombinovateľná so žiadnymi inými zľavami ani akciovými ponukami. Jeden účastník (jedno unikátne RČ, resp. IČO) môže túto ponuku využiť len 1-krát. Zmena zariadení v ponuke alebo ich parametrov je vyhradená. Mesačný poplatok za programy služieb Mobilný internet sa skladá z dvoch zložiek (základnej a doplnkovej, uvedenej v ponuke ako „Mesačný doplatok“). Ponuka platí pri uzavretí Dodatku k Zmluve o poskytovaní verejných služieb, ktorého predmetom je poskytovanie jedného z uvedených programov služby Mobilný internet s viazanosťou na 24 mesiacov, súčasne:<br />
						a) s kúpou jedného z nasledujúcich dátových zari adení pre Mobilný internet: Huawei E3372H alebo Huawei E5577C za akciovú cenu 19,99 €, a zároveň<br />
						b) s kúpou jedného z uvedených notebookov.<br />
						Kompletné podmienky poskytovania služby, podmienky týkajúce sa kúpy tabletu, splátok za tablet a ďalšie informácie o ponuke nájdete v aktuálnom Cenníku pre poskytovanie služieb spoločnosti Slovak Telekom, a. s. – <a class="link" href="/internet/mobilny-internet">Cenník pre poskytovanie služieb prostredníctvom mobilnej siete</a>, na Zákazníckej linke 0800 123 456 a v každom Telekom Centre.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 1 -->
<div id="nb1" style="display: none;">
	<div class="p-head">
		<a class="p-close" href="#"><!-- close --></a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="detail-header">
			<h2>
				Lenovo IdeaPad 110s</h2>
		</div>
		<div class="detail-desc">
			<div class="images-detail">
				<div class="detail-img">
					<img src="../assets/img/nb1_001.jpg" /></div>
			</div>
			<div class="detail-text">
				<table class="detail-table">
					<tbody>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pamäť RAM:</td>
							<td class="row-2">
								2 GB</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pevný disk:</td>
							<td class="row-2">
								32 GB EMMC</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Displej:</td>
							<td class="row-2">
								11.6 palcov HD 1366 x 768</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Webkamera:</td>
							<td class="row-2">
								VGA Camera 0,3Mpx s mikrofónom</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Čítačka kariet:</td>
							<td class="row-2">
								microSD do 64GB</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Mechanika:</td>
							<td class="row-2">
								Nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Procesor:</td>
							<td class="row-2">
								4-jadrový, Intel Celeron N3160 @ 1.6GHz, Turbo Speed 2.24 Ghz</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Grafická karta:</td>
							<td class="row-2">
								Intel HD Graphics 400</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Wi-Fi:</td>
							<td class="row-2">
								WiFi 802.11 a/c</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								GPS:</td>
							<td class="row-2">
								nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Bluetooth:</td>
							<td class="row-2">
								BT 4.0</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								HDMI:</td>
							<td class="row-2">
								1 x HDMI</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								USB:</td>
							<td class="row-2">
								2 x USB 2.0, 1 x USB 3.0</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Operačný systém:</td>
							<td class="row-2">
								Windows 10 Home 64-bit</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Extra numerická klávesnica:</td>
							<td class="row-2">
								Nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Rozmery v x š x h (mm):</td>
							<td class="row-2">
								292 mm x 202 mm x 17,8 mm</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Hmotnosť:</td>
							<td class="row-2">
								1,15 kg</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Obsah balenia:</td>
							<td class="row-2">
								notebook, napájací adaptér, SK manuál</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- 2 -->
<div id="nb2" style="display: none;">
	<div class="p-head">
		<a class="p-close" href="#"><!-- close --></a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="detail-header">
			<h2>
				Lenovo V110 Intel Pentium</h2>
		</div>
		<div class="detail-desc">
			<div class="images-detail">
				<div class="detail-img">
					<img src="../assets/img/nb3_001.jpg" /></div>
			</div>
			<div class="detail-text">
				<table class="detail-table">
					<tbody>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pamäť RAM:</td>
							<td class="row-2">
								4 GB</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pevný disk:</td>
							<td class="row-2">
								1 TB, 5400 otáčok</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Displej:</td>
							<td class="row-2">
								15.6 palcov HD 1366 x 768, matný</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Webkamera:</td>
							<td class="row-2">
								VGA Camera 0,3Mpx s mikrofónom</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Čítačka kariet:</td>
							<td class="row-2">
								4v1 (SD, SDHC, SDXC, MMC)</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Mechanika:</td>
							<td class="row-2">
								DVD-RW</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Procesor:</td>
							<td class="row-2">
								Intel Pentium N4200 @ do 2,5 Ghz<br />
								4-jadrový</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Grafická karta:</td>
							<td class="row-2">
								Intel HD Graphics</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Wi-Fi:</td>
							<td class="row-2">
								WiFi 802.11 a/c</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								GPS:</td>
							<td class="row-2">
								nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Bluetooth:</td>
							<td class="row-2">
								BT 4.1</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								HDMI:</td>
							<td class="row-2">
								1x HDMI</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								USB:</td>
							<td class="row-2">
								1x USB 3.0, 1x USB 2.0</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Operačný systém:</td>
							<td class="row-2">
								Windows 10 Home 64-bit</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Extra numerická klávesnica:</td>
							<td class="row-2">
								áno</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Rozmery v x š x h (mm):</td>
							<td class="row-2">
								380 mm x 262 mm x 22.9 mm</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Hmotnosť:</td>
							<td class="row-2">
								1,9 kg</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Obsah balenia:</td>
							<td class="row-2">
								Notebook, napájací adaptér, SK manuál</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- 3 -->
<div id="nb3" style="display: none;">
	<div class="p-head">
		<a class="p-close" href="#"><!-- close --></a></div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="detail-header">
			<h2>
				Lenovo V110</h2>
		</div>
		<div class="detail-desc">
			<div class="images-detail">
				<div class="detail-img">
					<img src="../assets/img/nb3_001.jpg" /></div>
			</div>
			<div class="detail-text">
				<table class="detail-table">
					<tbody>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pamäť RAM:</td>
							<td class="row-2">
								4 GB</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pevný disk:</td>
							<td class="row-2">
								1 TB, 5400 otáčok</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Displej:</td>
							<td class="row-2">
								15.6 palcov HD 1366 x 768, matný</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Webkamera:</td>
							<td class="row-2">
								VGA Camera 0,3Mpx s mikrofónom</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Čítačka kariet:</td>
							<td class="row-2">
								4v1 (SD, SDHC, SDXC, MMC)</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Mechanika:</td>
							<td class="row-2">
								DVD-RW</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Procesor:</td>
							<td class="row-2">
								Intel Core i3-6006U @ do 2,0 Ghz;<br />
								2-jadrový</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Grafická karta:</td>
							<td class="row-2">
								Intel HD Graphics</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Wi-Fi:</td>
							<td class="row-2">
								WiFi 802.11 a/c</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								GPS:</td>
							<td class="row-2">
								nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Bluetooth:</td>
							<td class="row-2">
								BT 4.1</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								HDMI:</td>
							<td class="row-2">
								1x HDMI</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								USB:</td>
							<td class="row-2">
								1x USB 3.0, 1x USB 2.0</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Operačný systém:</td>
							<td class="row-2">
								Windows 10 Home 64-bit</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Extra numerická klávesnica:</td>
							<td class="row-2">
								áno</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Rozmery v x š x h (mm):</td>
							<td class="row-2">
								380 mm x 262 mm x 22.9 mm</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Hmotnosť:</td>
							<td class="row-2">
								1,9 kg</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Obsah balenia:</td>
							<td class="row-2">
								Notebook, napájací adaptér, SK manuál</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- 4 -->
<div id="nb4" style="display: none;">
	<div class="p-head">
		&nbsp;</div>
	<!-- POPUP CONTENT -->
	<div class="p-content">
		<div class="detail-header">
			<h2>
				Lenovo YOGA 300</h2>
		</div>
		<div class="detail-desc">
			<div class="images-detail">
				<div class="detail-img">
					<img src="../assets/img/nb4_001.jpg" /></div>
			</div>
			<div class="detail-text">
				<table class="detail-table">
					<tbody>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pamäť RAM:</td>
							<td class="row-2">
								2 GB</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Pevný disk:</td>
							<td class="row-2">
								32 GB EMMC</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Displej:</td>
							<td class="row-2">
								11,6 palcov HD 1366 x 768 lesklý dotykový</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Webkamera:</td>
							<td class="row-2">
								VGA Camera 0,3Mpx s mikrofónom</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Čítačka kariet:</td>
							<td class="row-2">
								4v1 (SD, SDHC, SDXC, MMC)</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Mechanika:</td>
							<td class="row-2">
								nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Procesor:</td>
							<td class="row-2">
								Intel Celeron N3060 1,6 Ghz;<br />
								2-jadrový</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Grafická karta:</td>
							<td class="row-2">
								Intel HD Graphics</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Wi-Fi:</td>
							<td class="row-2">
								WiFi 802.11 a/c Intel</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								GPS:</td>
							<td class="row-2">
								nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Bluetooth:</td>
							<td class="row-2">
								BT 4.0</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								HDMI:</td>
							<td class="row-2">
								1x HDMI</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								USB:</td>
							<td class="row-2">
								1x USB 3.0, 1x USB 2.0</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Operačný systém:</td>
							<td class="row-2">
								Windows 10 Home + Office 365 one year</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Extra numerická klávesnica:</td>
							<td class="row-2">
								nie</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Rozmery v x š x h (mm):</td>
							<td class="row-2">
								299*209*21.8mm</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Hmotnosť:</td>
							<td class="row-2">
								1,39 kg</td>
						</tr>
						<tr>
							<td>
								<div class="odrazka">
									<!-- space --></div>
							</td>
							<td>
								Obsah balenia:</td>
							<td class="row-2">
								Notebook, napájací adaptér, SK manuál</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<script src="../assets/js/carousel.min.js"></script><script src="../assets/js/main.js"></script><script type="text/javascript">
if (window.location.hash) scroll(0, 0);
setTimeout(function() {
    scroll(0, 0);
}, 1);

$(function() {
    if (window.location.hash) {
        $('html, body').animate({
            scrollTop: $(window.location.hash).offset().top + 'px'
        }, 1000);
    }
});
</script>
