<section id="hero">
    <div class="container-fixed">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title"><b>NAJVIAC<br>PRÉMIOVÉHO<br>FUTBALU<br>A SVETOVÉHO TENISU</b></h1>
            <p class="hero__desc">s Magio televíziou L a XL</p>
            <a class="btn cta_mag" href="/televizia/magio-televizia">CHCEM MAGIO TV</a>
            <img class="icon" src="../assets/img/icon-1.png">
        </div>
    </div>
</section>
<section class="section sec-1">
    <div class="container-fixed">
        <h2 class="section__title">
            <b>Magio televízia je úplne iná liga</b>
        </h2>
    </div>
    <div class="container-fixed clearfix">
        <div class="col-md-3 col-xs-6">
            <img src="../assets/img/icon-2.png">
            <p><b>Najviac športových kanálov v HD kvalite</b></p>
        </div>
        <div class="col-md-3 col-xs-6">
            <img src="../assets/img/icon-3.png">
            <p><b>Exkluzívne<br>Digi Sport kanále</b></p>
            <p class="desc">Digi Sport vysiela najatraktívnejšie futbalové ligy, svetový tenis, atletiku a ďalšie
                športové prenosy.</p>
        </div>
        <div class="col-md-3 col-xs-6">
            <img src="../assets/img/icon-4.png">
            <p><b>Eurosport 1 a 2<br>Nova sport 1 a 2<br>Sport 1 a 2</b></p>
            <p class="desc">a ďalšie športové kanály</p>
        </div>
        <div class="col-md-3 col-xs-6">
            <img src="../assets/img/icon-5.png">
            <p><b>Športové prenosy aj v mobile, tablete a počítači</b></p>
            <p class="desc">s mobilnou TV Magio GO, ktorú získate zadarmo k Magio TV L alebo XL vrátane športových
                kanálov.</p>
        </div>
    </div><br>
    <!--<p><a href="">Prehľad všetkých športových kanálov a kde ich nájdete naladené</a></p>-->
</section>
<section class="section sec-2">
    <div style="line-height: 0;">
        <img src="../assets/img/programs.jpg" style="width: 100%;" />
    </div>
    <div class="sec-2-content">
        <div class="section__content">
            <div class="container-fixed">
                <h2>Ešte viac prémiového futbalu ako doteraz</h2>
                <h3>Viac ako 30 zápasov každý týždeň!<br>Slávna futbalová Premier League zostáva aj ďalaj exkluzívne
                    na Magio televízii, navyše teraz ju môžete sledovať na úplne novom televíznom kanáli Premier sport.
                    Sledujte viac ako 200 zápasov počas sezóny a užite si skvelý ostrovný futbal plný dramatických a
                    emotívnych momentov v podaní tých najväčích hviezd</h3>
                <p>Okrem toho môžete exkluzívne vďaka Digi sport aj naďalej sledovať aj strhujúce zápasy v FA Cup, FA
                    Community Shield, škótskej Premiership či druhej anglickej ligu Sky Bet Championship, španielskej
                    LaLigy, talianskej Serie A či nemeckej Bundesligy.</p>
                <h3>Užite si prémiový futbal na Premier sport a exkluzívne len na Digi Sport</h3>
            </div>
            <div class="liga">
                <div class="container-fixed clearfix">
                    <div class="col" style="width: 24%;">
                        <img src="../assets/img/liga-1.png">
                    </div>
                    <div class="col" style="width: 24%;">
                        <img src="../assets/img/liga-2.png">
                    </div>
                    <div class="col" style="width: 18%;">
                        <img src="../assets/img/liga-3.png" style="width: 80%">
                    </div>
                    <div class="col" style="width: 29%;">
                        <img src="../assets/img/liga-4.png" style="margin-top: 15px;">
                    </div>
                </div>
                <div class="container-fixed clearfix" style="text-align: center;">
                    <div class="col" style="width: 24%;">
                        <img src="../assets/img/liga-5.png" style="margin-top: 10px;">
                    </div>
                    <div class="col" style="width: 16%;">
                        <img src="../assets/img/liga-6.png">
                    </div>
                    <div class="col" style="width: 24%;">
                        <img src="../assets/img/liga-7.png" style="margin-top: 10px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-3">
    <div class="container-fixed">
        <h2 class="section__title">
            <b>Najviac svetového tenisu<br>a ďalšieho atraktívneho športu</b>
        </h2>
    </div>
    <div class="container-fixed clearfix">
        <div class="col-md-3 col-xs-12">
            <img src="../assets/img/icon-6.png">
            <p><b>Prestížne tenisové turnaje okruhu ATP a WTA, Fed cup, Davis Cup, Turnaj majstrov a Turnaj
                    majsteriek.</b></p>
            <p class="desc">Exkluzívne na kanáloch Digi Sport.</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="../assets/img/icon-7.png">
            <p><b>Atletická Diamantová Liga IAAF, hokejový Spengler Cup, bojové športy.</b></p>
            <p class="desc">Exkluzívne na kanáloch Digi Sport.</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="../assets/img/icon-9.png">
            <p><b>Euroformula Open, GT Open, Drift Masters, FIM Speedway Grand Prix</b></p>
            <p class="desc">Exkluzívne na kanáloch Digi Sport.</p>
        </div>
        <div class="col-md-3 col-xs-12">
            <img src="../assets/img/icon-4.png">
            <p><b>Grandslamy, cyklistika, zjazdové lyžovanie, skoky na lyžiach, biatlon, NHL, KHL, Formula 1, UFC, americký futbal a ďalšie</b></p>
        </div>

    </div>
</section>
<section class="section sec-4">
    <div>
        <img src="../assets/img/cups.jpg" style="width: 100%;" />
    </div>
    <div class="container-fixed" style="padding-top: 60px;">
        <h2 class="section__title">
            S Magio GO vám neujde žiadny športový prenos
        </h2>
    </div>
    <div class="container-fixed clearfix">
        <div class="col-md-5 push-md-7 cont-img">
            <img src="../assets/img/magio_go.jpg" style="width: 100%;" />
        </div>
        <div class="col-md-7 pull-md-5 m-go-desc">
            <h2>K Magio televízii získate <span class="t-m">Magio GO zadarmo</span></h2>
            <ul>
                <li>Vychutnajte si športové prenosy aj na mobile, tablete či počítači.</li>
                <li>Sledujte rôzne TV kanály alebo archív až na 4 zariadeniach súčasne.</li>
                <li>K dispozícii máte7-dňový archív Magio GO.</li>
                <li>Máte možnosť nastaviť až 6 stupňov kvality zobrazenia.</li>
            </ul>
            <div class="magio-go-ex clearfix">
                <div class="row">
                    <div class="col-sm-7 col-xs-6">
                        Magio GO Premium
                    </div>
                    <div class="col-sm-5 col-xs-6 text-right">
                        5,99 € | mes.
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-7 col-xs-6">
                        <b>Magio GO k Magio TV L alebo XL</b>
                    </div>
                    <div class="col-sm-5 col-xs-6 t-m text-right">
                        <b>zadarmo | mes</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><a class="btn cta_mag" href="/televizia/magio-televizia">CHCEM MAGIO TV</a></div>
</section>