<section class="section sec-det sec-det-1" id="sec-det-1">
	<div class="container-fixed">
		<div class="row">
			<div class="col-md-12 back-holder" id="a_referrer">
				<a class="link" href="/internet/magio-internet">Vrátiť späť</a></div>
		</div>
		<div class="box-pricing">
			<div class="bp__content">
				<div class="bp__inner-section">
					<div class="gallery clearfix">
						<div class="pics clearfix">
							<div class="thumbnails">
								<div class="preview">
									<a class="selected" data-full="../assets/img/product1.png" href="#"><img src="../assets/img/product1_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product2.png" href="#"><img src="../assets/img/product2_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product3.png" href="#"><img src="../assets/img/product3_prev.png" /> </a></div>
								<div class="preview">
									<a data-full="../assets/img/product4.png" href="#"><img src="../assets/img/product4_prev.png" /> </a></div>
							</div>
							<div class="full__holder">
								<img class="full" src="../assets/img/product1.png" />
							</div>
							<div class="controlls">
								<div class="indicator">
									<div class="in__content">
										&nbsp;</div>
								</div>
								<div class="control__holder">
									<a class="control-left" href="#"><img alt="" src="../assets/img/ico-left.png" /> Späť</a>
									<p class="img-size">
										(<span class="current-img"></span>/<span class="all-img"></span>)</p>
									<a class="control-right" href="#">Ďalej <img alt="" src="../assets/img/ico-right.png" /></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bp__inner-section">
					<!-- <img class="ec-gallery" src="../assets/img/icon5.png" /> -->
					<!-- OVERLAY VYPREDANE  -->
					<!-- <div class="overlay">
									<img src="../assets/img/vypredane.png" alt="">
									</div> -->
					<div class="overlay_fix">
				
						<p class="bpis__title">
							Ultratenký LED televízor Philips Smart s rozlíšením 4K UHD</p>
						<p>Uhlopriečka 126 cm (50")<br>Bohaté farby a ostrý kontrast</p>
						<div class="box-device">
							<p class="pricing__title">
								Zobraziť ceny pre:</p>
							<select id="heap">
								<option value="M">Magio internet, TV a Pevnú linku M</option>
								<option value="L">Magio internet, TV a Pevnú linku L</option>
								<option value="XL">Magio internet, TV a Pevnú linku XL</option>
							</select>
							<table class="pricing-table">
								<tbody>
									<tr class="inner-head no-margin">
										<th colspan="2">
											Mesačne:</th>
									</tr>
									<tr class="no-margin">
										<td>
											Pevná služba 
											<span class="type-program"></span>
										</td>
										<td>
											<span id="price_val1" class="feePrice"></span>
										</td>
									</tr>
									<tr class="text-green">
										<td>
											Web zľava 2. a 3. mesasiac
										</td>
										<td>
											<span id="price_val2" class="feePrice"></span>
										</td>
									</tr>
									<tr class="no-margin">
										<td>
											Doplatok k službe 
										</td>
										<td>
											<span id="price_val3" class="feePrice"></span>
										</td>
									</tr>									
									<tr class="one-time-payment"> 
										<td>
											<b>Jednorazovo pri kúpe</b></td>
										<td>
											<span id="price_val4" class="oneTimeFee"></span>
										</td>
									</tr>
								</tbody>
							</table>
							<a class="btn cta" type="button" href="/fix/objednavka/-/scenario/e-shop/chytry-balik">PREJSŤ K NÁKUPU</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section sec-det sec-det-2 segment" id="sec-det-2" data-segment="1">
	<div class="container-fixed">
		<div class="tabs-container">
			<div class="tab__holder">
				<ul class="tabs-menu">
					<li class="variant current" data-variant="1">
						<a href="#tab-1">Popis produktu</a></li>
					<li class="variant" data-variant="2">
						<a href="#tab-2">Parametre</a></li>						
					<li class="variant" data-variant="3">
						<a href="#tab-3">Doručenie a vrátenie</a></li>
				</ul>
			</div>
			<div class="tab">
				<div class="tab-content clearfix" id="tab-1">
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">HDR Plus. Vylepšený kontrast, farby a ostrosť.</p>
								<p class="feat-desc">
									HDR Plus predstavuje nový štandard videa. Zdokonalením kontrastu a farieb zvyšuje úroveň zábavy v domácnosti. Vychutnajte si zmyslový zážitok, ktorý zachytáva pôvodnú sýtosť a živosť a súčasne dokonale odráža zámer tvorcu obsahu. A výsledok? Zvýšená úroveň jasu, lepší kontrast, širšie spektrum farieb a doteraz nevídané zobrazenie detailov.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail1.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">Technológia Micro Dimming optimalizuje kontrast televízora</p>
								<p class="feat-desc">
									Vďaka nášmu špeciálnemu softvéru, ktorý analyzuje obraz v 6400 rôznych zónach a následne ho upravuje, si môžete vychutnať úchvatný kontrast a kvalitu obrazu pre skutočne živý záži-tok zo sledovania.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail2.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<div class="feat-text">
									<p class="feat-tit">Štíhla avšak robustná konštrukcia.</p>
									<p class="feat-desc">
										Nový stĺpikový stojan bol navrhnutý tak, aby vytvoril pod televízorom priestor, v ktorom by sa normálne nachádzal štandardný stojan, čím prináša intenzívnejší divácky zážitok. Je to te-levízor, ktorý má sebavedomý vzhľad ako z budúcnosti.
									</p>
								</div>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail3.png" /></div>
					</div>
					<div class="feat feat-img-left">
						<div class="feat-text-holder">
							<div class="feat-text">
								<p class="feat-tit">4K Ultra HD. Obraz tak ostrý, až budete mať pocit, že ste jeho súčasťou.</p>
								<p class="feat-desc">
									Vďaka štvornásobne vyššiemu rozlíšeniu v porovnaní s bežným rozlíšením Full HD rozsvieti technológia Ultra HD vašu obrazovku viac ako 8 miliónmi pixelov s našou jedinečnou techno-lógiou prevzorkovania Ultra Resolution Upscaling. Zažite krajší obraz bez ohľadu na pôvod-ný obsah a vychutnajte si ostrejší obraz s lepšou hĺbkou, kontrastom, prirodzeným pohybom a živými detailmi.
								</p>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail4.png" /></div>
					</div>
					<div class="feat feat-img-right">
						<div class="feat-text-holder">
							<div class="feat-text">
								<div class="feat-text">
									<p class="feat-tit">SAPHI. Inteligentný spôsob používania vášho televízora.</p>
									<p class="feat-desc">
										SAPHI je rýchly, intuitívny operačný systém, vďaka ktorému je používanie vášho televízora Philips Smart TV naozaj potešením. Užívajte si skvelú kvalitu obrazu a prístup jedným tlačid-lom do ponuky s jasnými ikonami. Jednoducho ovládajte svoj televízor a rýchlo prejdite na obľúbené aplikácie televízora Philips Smart TV vrátane YouTube, Netflix a ďalších.
									</p>
								</div>
							</div>
						</div>
						<div class="feat-img-holder">
							<img alt="" class="feat-img" src="../assets/img/detail5.png" /></div>
					</div>					
					<!-- <div class="clearfix" style="display: block; margin: 0 2.6%; float: left">
						<p style="font-size: 14px;">* Galaxy A8 je ohodnotený certifikáciou IP68, čo znamená, že je odolný voči vode a vniknutiu prachu. Vodeodolnosť vychádza z testovacích podmienok, počas ktorých bol telefón ponorený do vody s hĺbkou 1.5 metra na 30 minút. Po ponorení alebo obliatí opláchnite telefón čistou vodou a vysušte ho handričkou z mikrovlákna. ** Certifikácia IP68 telefónu Galaxy A8 ho nechráni pred silným dažďom ani výrazným obliatím.</p>
					</div> -->
				</div>
				<div class="tab-content" id="tab-2">
					<div class="table-holder">
						<div class="detailed-specification" style="display: block;"> <table class="tbl double"> <thead> <tr> <th colspan="2">Všeobecné parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Rozmery (výška x šírka x hrúbka) </div> </td> <td class="paramValue"> 67,56 x 112,84 x 24,14 </td> </tr> <tr> <th colspan="2">Displej</th> </tr> <tr> <td> <div style="padding-left: 10px;"> Uhlopriečka </div> </td> <td class="paramValue"> 50" </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Rozlíšenie </div> </td> <td class="paramValue"> 3840 x 2160 </td> </tr> <tr> <td> <div style="padding-left: 10px;"> Typ displeja </div> </td> <td class="paramValue"> 4K Ultra HD LED </td> </tr> <tr> <td> <div> Farba </div> </td> <td class="paramValue"> Čierna </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Technické parametre</th> </tr> </thead> <tbody> <tr> <td> <div> Procesor </div> </td> <td class="paramValue"> Štyri jadrá </td> </tr> <tr> <th colspan="2">Batéria</th> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Telefonovanie, funkcie a multimédiá</th> </tr> </thead> <tbody> <tr> <th colspan="2">Fotoaparát</th> </tr> <tr> <td> <div> Podporované formáty hudobných súborov </div> </td> <td class="paramValue"> AAC MP3 WAV WMA (v2 až v9.2) WMA-PRO (v9 a v10) </td> </tr> <tr> <td> <div> Podporované formáty video súborov </div> </td> <td class="paramValue"> Kontajnery: AVI, MKV H264/MPEG-4 AVC MPEG-1 MPEG-2 MPEG-4 WMV9/VC1 VP9 HEVC (H.265) </td> </tr> </tbody> </table> <table class="tbl double"> <thead> <tr> <th colspan="2">Iné</th> </tr> </thead> <tbody> <tr> <td> <div> Obsah balenia </div> </td> <td class="paramValue"> TV, Diaľkové ovládanie, Dve batérie AAA, Sieťový napájací kábel, Stručná príručka spustenia, Brožúrka s právnymi a bezpečnostnými informáciami, Podstavec na stôl </td> </tr> </tbody> </table> </div>
					</div>
				</div>				
				<div class="tab-content" id="tab-3">
					<div class="order-info-holder">
						<div class="order-info-wrapper">
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon4.png" />
								<p class="order-subheading">
									<b>Informácie o stave objednávky</b>
								</p>
								<p>
									O stave vašej objednávky vás budeme pravidelne informovať cez SMS a/alebo e-mailom.
								</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/icon1.png" />
								<p class="order-subheading">
									<b>Prvých 14 dní bez záväzkov</b>
								</p>
								<p>
									O stave objednávky vás budeme priebežne informovať.</p>
							</div>
							<div class="col-md-4">
								<img alt="" src="../assets/img/ikona_sofa.png" />
								<p class="order-subheading">
									<b>Nákup z pohodlia domova</b>
								</p>
								<p>
									Nakupujte pohodlne a bezpečne zo svojho domova 24 hodín 7 dní v týždni</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion" data-accordion="1"></div>
			<!--
			<div style="margin: 0 2.6% 40px 2.6%; float: left">
				<p style="font-size: 14px;">Uvedené ceny Wifi routrov sú za ich nájom a platia sa mesačne. Prenosová rýchlosť až 600 Mbit/s je maximálna podporovaná rýchlosť, dosahovaná rýchlosť internetu závisí od rýchlosti internetového pripojenia.</p>
			</div>			
			-->
		</div>
	</div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/detail.js"></script>
