<section id="section-shoppingScenario" class="section scenario_2018_personalInfo">
    <div class="container-fluid widthsize">
        <form  name="personalInfo_form" id="personalInfo_form" action="">
        <div class="row flex">
            <!-- left side -->
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 left_stepper no-float">
                <div class="step_personalInfo">
                    <div class="personalInfo headline">
                        <!-- <h3>STAV OBJEDNÁVKY 1/3</h3> -->
                        <h1 class="greyText">1. Osobné údaje</h1>
                        <p class="textRight">* Polia označené hviezdičkou sú povinné.</p>
                        <p class="icon_done">
                            v
                        </p>
                    </div>

                    <div class="personalInfo shortDesc clearfix">
                        <div class="row shortDescWrapper">
                            <!-- shortDesc -->
                        </div>
                        <a href="#" class="toggleShortDesc clearfix">Podrobnosti</a>
                        <a class="step1_detailBtn" href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                    </div>

                    <div class="formContent">
                            <div class="checkbox">
                                <span class="">
                                    <input type="checkbox" name="company" id="company">
                                </span>
                                <label for="company">Objednať na firmu</label>
                            </div>
                        <div class="personalForm">
                            <div class="personalInfoForm" id="personalInfoForm">
                                    <div class="formField input-field business">
                                        <label for="ico">IČO<span>*</span></label>
                                        <input type="text" id="ico" name="ico" value="">
                                    </div>
                                    <!-- <div class="formField input-field business">
                                        <label for="dic">DIČ<span>*</span></label>
                                        <input type="text" id="dic" name="dic" value="">
                                    </div> -->
                                    <!-- <div class="formField input-field business">
                                        <label for="icdph">IČDPH<span>*</span></label>
                                        <input type="text" id="icdph" name="icdph" value="">
                                    </div> -->
                                    <div class="formField input-field business">
                                        <label for="businessName">Spoločnosť:<span>*</span></label>
                                        <input type="text" id="businessName" name="businessName" value="">
                                    </div>
                                    <div class="formField input-field business">
                                        <label for="ownerName">Meno konateľa:<span>*</span></label>
                                        <input type="text" id="ownerName" name="ownerName" value="">
                                    </div>

                                    <div class="formField input-field firstName">
                                        <label for="firstName">Meno:<span>*</span></label>
                                        <input type="text" id="firstName" name="firstName" value="">
                                    </div>
                                    <div class="formField input-field lastName">
                                        <label for="lastName">Priezvisko:<span>*</span></label>
                                        <input type="text" id="lastName" name="lastName" value="">
                                    </div>
                                    <div class="formField input-field">
                                        <label for="email">E-mail:<span>*</span></label>
                                        <input type="text" id="email" name="email" value="" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" placeholder="meno@email.sk" required>
                                    </div>

                                    <div class="formField input-field">
                                        <label for="mobPhone">Mobil:<span>*</span></label>
                                        <input type="text" id="mobPhone" name="mobPhone" maxlength="10" required>
                                    </div>
                                    <div class="formField input-field">
                                        <label for="city">Obec:<span>*</span></label>
                                        <input type="text" id="city" name="city" value="" required>
                                    </div>
                                    <div class="formField input-field">
                                        <label for="street">Ulica:<span>*</span></label>
                                        <input type="text" id="street" name="street" value="" required>
                                    </div>
                               
                                    <div class="formField input-field streetNo">
                                        <label for="streetNo">Číslo:<span>*</span></label>
                                        <input type="text" id="streetNo" name="streetNo" value="" required>
                                    </div>
                                    <div class="formField input-field psc">
                                        <label for="PSC">PSČ:<span>*</span></label>
                                        <input type="text" id="PSC" name="PSC" value="" minlength="5" maxlength="5" required>
                                    </div>

                                <div class="additionalFields">
                                    <p><b>Vyplenenie týchto údajov urýchli vybavenie vašej objednávky:</b></p>
                                    <div class="formField input-field">
                                        <label for="birthNum">Rodné číslo:</label>
                                        <input type="text" id="birthNum" value="" placeholder="9011190000">
                                    </div>
                                    <div class="formField input-field">
                                        <label for="personID">Číslo občianskeho preukazu:</label>
                                        <input type="text" id="personID" value="" placeholder="SP123456">
                                    </div>
                                </div>
                                <!-- <div class="personalInfo notifications">
                                    <div class="notifications">
                                        <p>Chcete dostávať upozornenia o vašej objednávke prostredníctvom <br>SMS alebo e-mailu?</p>
                                        <div class="rbCheckbox">
                                            <div class="checkbox sms">
                                                <input type="checkbox" name="smsSubscription" id="smsSubscription">
                                                <label for="smsSubscription">SMS</label>
                                            </div>
                                            <div class="checkbox email">
                                                <input type="checkbox" name="emailSubscription" id="emailSubscription">
                                                <label for="emailSubscription">EMAIL</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="next_btn">
                                        <button class="step1_next btn cta" type="submit" form="personalInfoForm" value="Submit">POKRAČOVAŤ</button>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- step 2 delivery -->
                <div class="step_delivery">
                    <div class="delivery headline">
                        <h3>STAV OBJEDNÁVKY 2/3</h3>
                        <h1 class="greyText">2. Doručenie</h1>
                        <p class="textRight">* Polia označené hviezdičkou sú povinné.</p>
                        <p class="icon_done">
                            v
                        </p>
                    </div>

                    <div class="delivery shortDesc clearfix">
                        <div class="row shortDescWrapper">
                            <!-- <div class="shortDescName">
                                <p>Obec</p>
                                <p>_ _ _ _</p>
                            </div>
                            <div class="shortDescLastName">
                                <p>Ulica:</p>
                                <p>Bajkalská</p>
                            </div>
                            <div class="shortDescBirthNum">
                                <p>Číslo:</p>
                                <p>A/2</p>
                            </div>
                            <div class="shortDescBirthNum">
                                <p>PSČ:</p>
                                <p>83104</p>
                            </div> -->
                        </div>
                        <a href="#" class="toggleShortDesc clearfix">Podrobnosti</a>
                        <div class="deliveryDetails">
                            <div class="billAddress">
                                <p>Fakturačná adresa:</p>
                                <p>Vaša faktúra bude zaslaná na Vašu doručovaciu adresu.</p>
                            </div>
                            <div class="deliveryDate">
                                <p>Odhadovaný termín dodania:</p>
                                <p><b>2-7 pracovných dní.</b></p>
                            </div>
                        </div> 
                        <a class="step2_detailBtn" href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                    </div>

                    <div class="formContent">
                        <div class="deliveryForm clearfix">
                            <div class="row clearfix deliveryInfoDiv">
                                <div class="col-md-6 col-sm-6 col-xs-6 left">
                                    <div class="img">
                                        <img src="assets/img/romania/delivery.png" alt="">
                                    </div>
                                    <div class="text">
                                        <h2 class="greenText">Doprava zadarmo!</h2>
                                        <h2>Kuriérom</h2>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 right">
                                    <div class="img">
                                        <img src="assets/img/romania/calendar.png" alt="">
                                    </div>
                                    <div class="text">
                                        <h2 class="greyText">Odhadovaný termín dodania</h2>
                                        <h2>2-7 pracovných dní</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="deliveryAdressFields" id="deliveryAdressFields">
                                <!-- Delivery -->
                                <h3>Adresa Doručenia</h3>
                                <div class="rbCheckbox">
                                    <div class="checkbox">
                                        <input type="checkbox" name="deliveryAdress" id="deliveryAdress" checked>
                                        <label for="deliveryAdress">Je rovnaká ako fakturačná adresa</label>
                                    </div>
                                </div>
                                <div class="deliveryAddress">
                                    <div class="formField input-field">
                                        <label for="deliveryCity">Obec:<span>*</span></label>
                                        <input type="text" id="deliveryCity" name="deliveryCity" required>
                                    </div>
                                    <div class="formField input-field">
                                        <label for="deliveryStreet">Ulica:<span>*</span></label>
                                        <input type="text" id="deliveryStreet" name="deliveryStreet" required>
                                    </div>
                                    <div class="formField input-field streetNo">
                                        <label for="deliveryStreetNo">Číslo:<span>*</span></label>
                                        <input type="text" id="deliveryStreetNo" name="deliveryStreetNo" required>
                                    </div>
                                    <div class="formField input-field psc">
                                        <label for="deliveryPSC">PSČ:<span>*</span></label>
                                        <input type="text" id="deliveryPSC" name="deliveryPSC" minlength="5" maxlength="5" required>
                                    </div>
                                    <div class="formField input-field">
                                        <label for="courier">Tel.č. pre kuriéra:</label>
                                        <input type="text" id="courier" name="courier" placeholder="0944111222">
                                    </div>
                                </div>
                                <div class="courierInfo">
                                    <p>Kuriér obvykle doručuje zásielky počas pracovných dní medzi 8:00 a 17:00 hod. V deň doručenia zásielky budete informovaný prostredníctvom SMS. Ak Vás kuriér nezastihne na adrese,
                                        budeme Vás kontaktovať a dohodneme si vhodný termín opätovného doručenia.</p>
                                </div>

                                <!-- Billing -->
                                <!-- <h3>Fakturačná adresa</h3>
                                <div class="rbCheckbox">
                                    <div class="checkbox">
                                        <input type="checkbox" name="billingAddress" id="billingAddress" checked>
                                        <label for="billingAddress">Je rovnaká ako adresa doručenia</label>
                                    </div>
                                </div>
                                <div class="billingAddress">
                                    <div class="formField input-field">
                                        <label for="billingCity">Obec (fakturácia) :<span>*</span></label>
                                        <input type="text" id="billingCity" name="billingCity" required>
                                    </div>
                                    <div class="formField input-field">
                                        <label for="billingStreet">Ulica (fakturácia) :<span>*</span></label>
                                        <input type="text" id="billingStreet" name="billingStreet" required>
                                    </div>
                                    <div class="formField input-field streetNo">
                                        <label for="billingStreetNo">Číslo (fakturácia) :<span>*</span></label>
                                        <input type="text" id="billingStreetNo" name="billingStreetNo" required>
                                    </div>
                                    <div class="formField input-field psc">
                                        <label for="billingPSC">PSČ (fakturácia) :<span>*</span></label>
                                        <input type="text" id="billingPSC" name="billingPSC" minlength="5" maxlength="5" required>
                                    </div>
                                    <div class="formField input-field">
                                        <label for="courier">Kontaktné tel.č. pre kuriéra:</label>
                                        <input type="text" id="courier" value="" placeholder="+421 900 111 222">
                                    </div>
                                </div> -->
                            </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="delivery notifications">
                        <div class="notifications">
                        </div>
                        <div class="next_btn">
                            <button class="step2_next btn cta" type="submit" form="deliveryAdressFields" value="Submit">POKRAČOVAŤ</button>
                        </div>
                    </div> -->
                </div>

                <!-- step 3 payment options -->
                <div class="step_paymentOptions">
                    <div class="paymentOptions headline">
                        <h3>STAV OBJEDNÁVKY 3/3</h3>
                        <h1 class="greyText">3. Platobná metóda</h1>
                        <p class="icon_done">
                            v
                        </p>
                    </div>

                    <div class="paymentOptions shortDesc clearfix">
                        <div class="row">
                            <!-- <div class="shortDescName">
                                <p>Obec</p>
                                <p>_ _ _ _</p>
                            </div>
                            <div class="shortDescLastName">
                                <p>Ulica:</p>
                                <p>Bajkalská</p>
                            </div>
                            <div class="shortDescBirthNum">
                                <p>Číslo:</p>
                                <p>A/2</p>
                            </div>
                            <div class="shortDescBirthNum">
                                <p>PSČ:</p>
                                <p>83104</p>
                            </div> -->
                        </div>
                        <a class="step3_detailBtn" href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a> 
                    </div>

                    <div class="formContent">
                        <div class="paymentOptionsForm">
                            <div class="paymentOptions" id="paymentOptions">
                                <div class="row choosePayment">
                                    <div class="col-md-4 no-padd-l-r payment text-center" id="payment-Delivery">
                                        <div class="bgWhite">
                                            <img src="assets/img/romania/Handshake.png" alt="">
                                            <p>Dobierka</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-padd-l-r payment text-center" id="payment-Card">
                                        <div class="bgWhite inactive">
                                            <img src="assets/img/romania/creditCard.png" alt="">
                                            <p>Platba kartou <br> (pripravujeme...)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 no-padd-l-r payment text-center" id="payment-Transfer">
                                        <div class="bgWhite inactive">
                                            <img src="assets/img/romania/siteicon.png" alt="">
                                            <p>Platba prevodom <br> (pripravujeme...)</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 no-padd-l-r paymentDetails">
                                        <div class="payment-Card">
                                            <p>Platba kartou ... pripravujeme</p>
                                            <!-- <p>Budete presmerovaný na inú webovú stránku, kde môžete spracovať a dokončiť platbu. Nasledujúce debetné / kreditné karty sú akceptované:</p>
                                            <div class="partnerLogos">
                                                <img src="assets/img/romania/MasterCard.png" alt="masterCard">
                                                <img src="assets/img/romania/visacard.png" alt="visaCard">
                                            </div> -->
                                        </div>
                                        <div class="payment-Transfer">
                                            <p>Platba prevodom ... pripravujeme</p>
                                        </div>
                                        <div class="payment-Delivery">
                                            <p>Dobierka</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row switcher">
                                    <h3>Vyberte, ako chcete zaplatiť objednávku.</h3>
                                    <label for="switch">Elektronická faktúra</label>
                                    <input type="checkbox" id="switch" name="switch" class="js-switch" checked />   
                                    <label for="switch">Vytlačená faktúra</label>
                                </div> -->

                                <div class="row rbCheckbox">
                                    <div class="checkbox">
                                        <div class="formField">
                                            <input type="checkbox" id="elCommunication" name="elCommunication" required>
                                            <label for="elCommunication">Zároveň súhlasím so zaslaním a uzatvorením Dohody o elektronickej komunikácií.</label>
                                        </div>
                                        <div class="formField">
                                            <input type="checkbox" id="generalTerms" name="generalTerms" required>
                                            <label for="generalTerms">Súhlasím* so všeobecnými obchodnými podmienkami, osobitnými obchodnými podmienkami a cenníkom ktorý upravuje podmienky poskytovania objednávanej služby a so spracovaním osobných údajov pre potreby uzatvorenia zmluvy podľa § 56 zákona č. 351/2011 Z.z. o elektronických komunikáciách v znení neskorších predpisov spoločnosťou Slovak Telekom a.s. Zároveň súhlasím s obchodnými podmienkami pre uzatváranie zmlúv s využitím prostriedkov komunikácie na diaľku a so začatím poskytovania služieb za podmienok uvedených v tejto objednávke aj pred uplynutím lehoty 14 dní a prehlasujem, že som mal možnosť oboznámiť sa s Informáciami o alternatívnom riešení sporov.
                                                    Zároveň súhlasím so zaslaním a uzatvorením Dohody o elektronickej komunikácii. </label>
                                        </div>
                                        <div class="formField">
                                            <input type="checkbox" id="termsAgree" name="termsAgree" required>
                                            <label for="termsAgree">Čítal som a súhlasím so <a href="#" class="magenta link"> zmluvnými podmienkami</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="paymentOptions notifications">
                        <div class="notifications">
                        </div>
                        <!-- <div class="next_btn">
                            <button class="step3_next btn cta" type="submit" form="paymentOptions" value="Submit">POKRAČOVAŤ</button>
                        </div> -->
                    </div>
                </div>
            </div>
            
            <!-- right side -->
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 right_summary no-float">
                <div class="summary">
                    <h2>Zhrnutie objednávky</h2>
                    <div class="goods">
                        <p>Číslo objednávky: 2A3RVKP</p>
                        <a class="edit" href="/eshop-telekom">Upraviť<i class="fa fa-pencil-square" aria-hidden="true"></i></a>
                    </div>
                    <!-- items in cart -->
                    <div class="summaryCart">
                        <div class="programAndDevice">
                            <div class="programAndDeviceItem">
                                <div class="row itemInfo">
                                    <div class="itemImg col-xs-2 no-padd-l-r">
                                        <img src="assets/img/romania/iphonexs.png" alt="">
                                    </div>
                                    <div class="infoDetails col-xs-10 no-padd-l-r">
                                        <div class="row upper">
                                            <p class="itemName"><b>Samsung Galaxy&nbsp;S9</b></p>
                                        </div>
                                        <div class="row bottom">
                                            <div class="itemDetails col-xs-3 no-padd-l-r">
                                                <p><span class="topText">Farba</span><br>Čierna</p>
                                            </div>
                                            <!-- <div class="itemDetails">
                                                <p>Pamäť</p>
                                                <p>256GB</p>
                                            </div> -->
                                            <div class="itemPrice col-xs-9 no-padd-l-r">
                                                <p><span class="topText">Jednorazovo</span><br>999,00 <span>€</span></p>
                                                <p class="margin"><span class="topText">Mesačne</span><br>999,00 <span>€</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="programAndDeviceItem">
                                <div class="row itemInfo">
                                    <div class="itemImg col-xs-2 no-padd-l-r">
                                        <img src="assets/img/romania/sim_card.png" alt="">
                                    </div>
                                    <div class="infoDetails col-xs-10 no-padd-l-r">
                                        <div class="row upper">
                                            <p class="itemName"><b>Paušál ÁNO&nbsp;M</b></p>
                                        </div>
                                        <div class="row bottom">
                                            <div class="itemDetails col-xs-4 no-padd-l-r">
                                                <p><span class="topText">Zmluva</span><br>24 mes.</p>
                                            </div>
                                            <!-- <div class="itemDetails">
                                                <p>Pamäť</p>
                                                <p>256GB</p>
                                            </div> -->
                                            <div class="itemPrice col-xs-8 no-padd-l-r">
                                                <p class="margin"><span class="topText">Mesačne</span><br>999,00 <span>€</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cartItem">
                            <p>+2GB dát</p>
                            <p class="greenText"><span class="topText">Mesačne </span>3,99 €</p>
                        </div>
                        <div class="cartItem">
                            <p>Aktivácia</p>
                            <p class="greenText">Zadarmo</p>
                        </div>
                        <div class="cartItem">
                            <p>Doručenie</p>
                            <p class="greenText">Zadarmo</p>
                        </div>
                        <div class="fixedCart">
                            <div class="finalSumm clearfix">
                                <p class="priceText">SPOLU<br><span>(vrátane DPH)</span></p>
                                <div class="right">
                                    <p class="price"><span class="topText">Jednorazovo</span> 998,00 <span class="eur_sign">€</span></p>
                                    <p class="price"><span class="topText">Mesačne</span> 998,00 <span class="eur_sign">€</span></p>
                                </div>

                            </div>
                            <div class="sendOrder">
                                <a href="#" class="btn cta finalizeOrder"  type="submit" form="paymentOptions" value="Submit">DOKONČIŤ OBJEDNÁVKU</a>
                                <!-- <button class="step3_next btn cta" type="submit" form="paymentOptions" value="Submit">POKRAČOVAŤ</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </form>
    </div>
</section>

<section class="section" id="scenario_footer">
    <div class="row">
        <div class="col-xs-12">
            <a href="/o-spolocnosti/pravne-informacie" target="_blank"><p class="magenta">Podmienky používania webu.</p></a> 
            <p>© 2018 Slovak Telekom</p>
        </div>
    </div>
</section>

<!-- ajax loading squares -->
<div id="ajaxLoadingSpinnerOverlay" style="display: none !important;">
	<div class="ajaxLoadingSpinnerOverlay-container">
		<div class="square first pulse infinite animated"></div>
		<div class="square second pulse infinite animated"></div>
		<div class="square third pulse infinite animated"></div>
	</div>
</div>



<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/romania/main_beta1.js"></script>
<script type="text/javascript" src="assets/js/romania/formValidations_beta1.js"></script>
<!-- <script type="text/javascript" src="assets/js/romania/materialize.min.js"></script> -->