<section class="hero section">
    <div class="fixed-column">
        <div class="grid-g__col_7 grid__content">
            <h2 class="section__title">budúcnosť je teraz</h2>
            <div class="img__holder"></div>
            <h4 class="prod__title">Samsung Galaxy S6 edge</h4>
            <ul class="at-a-glance">
                <li>Na oboch stranách zakrivený displej</li>
                <li>Výnimočný dizajn</li>
                <li>Rýchly 16 Mpx fotoaparát</li>
            </ul>
            <a href="#" class="button">OBJEDNAŤ</a>
            <a href="#" class="more-info">viac info</a>
        </div>
        <div class="grid-g__col_5 grid__img grid__right">
            <div class="img__holder__origin">
                <img class="img__swap" src="../assets/img/prod-1.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="prod-list section">
    <div class="fixed-column">
        <h2 class="section__title section__title__double">NOVÁ KOLEKCIA samsung galaxY</h2>
        <h2 class="section__subtitle">budúcnosť je teraz</h2>
        <div class="prod__carousel_2">
            <div class="grid-g__col_6 slide">
                <div class="grid-g__col_5 grid__img_can-swap_2 grid__right">
                    <div class="img__holder__origin">
                        <img class="img__swap" src="../assets/img/prod-2.png" alt="">
                    </div>
                </div>
                <div class="grid-g__col_7 grid__content_2">
                    <div class="img__holder"></div>
                    <h4 class="prod__title">Samsung Galaxy S6 edge</h4>
                    <ul class="at-a-glance">
                        <li>Na oboch stranách zakrivený displej</li>
                        <li>Výnimočný dizajn</li>
                        <li>Rýchly 16 Mpx fotoaparát</li>
                    </ul>
                    <div class="cta__wrapper">
                        <a href="#" class="button">OBJEDNAŤ</a>
                        <div class="more-info__clearer"></div>
                        <a href="#" class="more-info more-info_vertical">viac info</a>
                    </div>
                </div>
            </div>
            <div class="grid-g__col_6 grid__right slide">
                <div class="grid-g__col_5 grid__img_can-swap_2 grid__right">
                    <div class="img__holder__origin">
                        <img class="img__swap" src="../assets/img/prod-3.png" alt="">
                    </div>
                </div>
                <div class="grid-g__col_7 grid__content_2">
                    <div class="img__holder"></div>
                    <h4 class="prod__title">Samsung Galaxy S6 edge</h4>
                    <ul class="at-a-glance">
                        <li>Na oboch stranách zakrivený displej</li>
                        <li>Výnimočný dizajn</li>
                        <li>Rýchly 16 Mpx fotoaparát</li>
                    </ul>
                    <div class="cta__wrapper">
                        <a href="#" class="button">OBJEDNAŤ</a>
                        <div class="more-info__clearer"></div>
                        <a href="#" class="more-info more-info_vertical">viac info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="prod-list_densed section">
    <div class="fixed-column">
        <h2 class="section__title section__title__double">NOVÁ KOLEKCIA sONY XPERIA</h2>
        <div class="prod__carousel_3">
            <div class="grid__col_4 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/prod-4.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">XPERIA™ M4 AQUA</h4>
                <h4 class="prod__subtitle">Telefón s cenou, ktorá vás nepotopí</h4>
                <div class="at-a-glance">Získajte viac – dva výkonné fotoaparáty, vodeodolné prevedenie a batériu s dvojdňovou výdržou</div>
                <a href="#" class="button">OBJEDNAŤ</a>
                <a href="#" class="more-info">viac info</a>
            </div>
            <div class="grid__col_4 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/prod-5.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">XPERIA™ Z5</h4>
                <h4 class="prod__subtitle">Telefón s cenou, ktorá vás nepotopí</h4>
                <ul class="at-a-glance">
                    <li>Na oboch stranách zakrivený displej</li>
                    <li>Výnimočný dizajn</li>
                    <li>Rýchly 16 Mpx fotoaparát</li>
                </ul>
                <a href="#" class="button">OBJEDNAŤ</a>
                <a href="#" class="more-info">viac info</a>
            </div>
            <div class="grid__col_4">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/prod-6.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">XPERIA™ Z5 COMPACT</h4>
                <h4 class="prod__subtitle">Telefón s cenou, ktorá vás nepotopí</h4>
                <ul class="at-a-glance">
                    <li>Na oboch stranách zakrivený displej</li>
                    <li>Výnimočný dizajn</li>
                    <li>Rýchly 16 Mpx fotoaparát</li>
                </ul>
                <a href="#" class="button">OBJEDNAŤ</a>
                <a href="#" class="more-info">viac info</a>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="product__nav">
        <div class="fixed-column">
            <div class="grid__col_12">
                <div class="menuIcon">
                    <div id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <a href="#menuExpand" class="product__nav_link">Menu</a>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#sec-1" class="scroll-to">
                                <div class="content__sec-1 menu__link__content">
                                    <span class="link__text">Menu Option 1</span>
                                    <img src="../assets/img/nav-prod1.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-2" class="scroll-to">
                                <div class="content__sec-2 menu__link__content">
                                    <span class="link__text">Menu Option 2</span>
                                    <img src="../assets/img/nav-prod1.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-3" class="scroll-to">
                                <div class="content__sec-3 menu__link__content">
                                    <span class="link__text">Menu Option 3</span>
                                    <img src="../assets/img/nav-prod1.png" alt="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#sec-4" class="scroll-to">
                                <div class="content__sec-4 menu__link__content">
                                    <span class="link__text">Menu Option 4</span>
                                    <img src="../assets/img/nav-prod1.png" alt="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="sec-1" class="prod-list_densed section">
    <div class="fixed-column">
        <h2 class="section__title section__title__double">NOVÁ KOLEKCIA sONY XPERIA</h2>
        <div class="prod__carousel_4">
            <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/prod-8.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">XPERIA™ M4 AQUA</h4>
                <h4 class="prod__subtitle">Telefón s cenou, ktorá vás nepotopí</h4>
                <div class="at-a-glance">Získajte viac – dva výkonné fotoaparáty, vodeodolné prevedenie a batériu s dvojdňovou výdržou</div>
                <div class="cta__wrapper">
                    <a href="#" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#" class="more-info more-info_vertical">viac info</a>
                </div>
            </div>
            <div class="grid__col_3 slide">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/prod-8.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">XPERIA™ Z5</h4>
                <h4 class="prod__subtitle">Telefón s cenou, ktorá vás nepotopí</h4>
                <ul class="at-a-glance">
                    <li>Na oboch stranách zakrivený displej</li>
                    <li>Výnimočný dizajn</li>
                    <li>Rýchly 16 Mpx fotoaparát</li>
                </ul>
                <div class="cta__wrapper">
                    <a href="#" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#" class="more-info more-info_vertical">viac info</a>
                </div>
            </div>
            <div class="grid__col_3">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/prod-8.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">XPERIA™ Z5 COMPACT</h4>
                <h4 class="prod__subtitle">Telefón s cenou, ktorá vás nepotopí</h4>
                <ul class="at-a-glance">
                    <li>Na oboch stranách zakrivený displej</li>
                    <li>Výnimočný dizajn</li>
                    <li>Rýchly 16 Mpx fotoaparát</li>
                </ul>
                <div class="cta__wrapper">
                    <a href="#" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#" class="more-info more-info_vertical">viac info</a>
                </div>
            </div>
            <div class="grid__col_3">
                <div class="img__holder__origin">
                    <img class="img__swap" src="../assets/img/prod-8.png" alt="">
                </div>
                <div class="img__holder"></div>
                <h4 class="prod__title">XPERIA™ Z5 COMPACT</h4>
                <h4 class="prod__subtitle">Telefón s cenou, ktorá vás nepotopí</h4>
                <ul class="at-a-glance">
                    <li>Na oboch stranách zakrivený displej</li>
                    <li>Výnimočný dizajn</li>
                    <li>Rýchly 16 Mpx fotoaparát</li>
                </ul>
                <div class="cta__wrapper">
                    <a href="#" class="button">OBJEDNAŤ</a>
                    <div class="more-info__clearer"></div>
                    <a href="#" class="more-info more-info_vertical">viac info</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sec-2" class="prod-specs_main section">
    <div class="fixed-column">
        <h2 class="section__title">SAMSUNG GALAXY S6 edge +</h2>
        <div class="grid__col_4">
            <div class="img__holder">
                <img class="img__specs" src="../assets/img/prod-7.png" alt="">
            </div>
        </div>
        <div class="grid__col_8 grid__content">
            <div class="grid-g__col_6">
                <div class="sec__item">
                    <div class="spec__value">5“</div>
                    <div class="spec__param">displej</div>
                </div>
                <div class="sec__item">
                    <div class="spec__value">3200 mAh</div>
                    <div class="spec__param">batéria</div>
                </div>
                <div class="sec__item">
                    <div class="spec__value">8 GB*</div>
                    <div class="spec__param">interná veľkokapacitná pamäť</div>
                </div>
                <div class="sec__item">
                    <div class="spec__value">4G</div>
                    <div class="spec__param">sieť</div>
                </div>
            </div>
            <div class="grid-g__col_6 grid__right">
                <div class="sec__item">
                    <div class="spec__value">0.3 MP</div>
                    <div class="spec__param">predný fotoaparát</div>
                </div>
                <div class="sec__item">
                    <div class="spec__value">2 MP</div>
                    <div class="spec__param">hlavný fotoaparát</div>
                </div>
                <div class="sec__item">
                    <div class="spec__value">do 16 GB</div>
                    <div class="spec__param">rozšíriteľná pamäť</div>
                </div>
            </div>
            <div class="grid__col_12 disclaimer">* Užívateľská pamäť je vďaka operačnému systému a predinštalovaným aplikáciám menšie než udávaná celková fyzická pamäť. Skutočná užívateľská pamäť sa môže líšiť v závislosti na použitom operátorovi alebo po vykonaní softvérovej aktualizácie.</div>
        </div>
    </div>
</section>

<section id="sec-3" class="feat_full-bg feat-1 section">
    <div class="fixed-column">
        <div class="feat__item feat__item_right">
            <h2 class="feat__title">Vynikajúci displej</h2>
            <p class="feat__desc">Fantastický Super AMOLED displej telefónu Samsung Galaxy S6 edge s uhlopriečkou 5,1" a rozlíšením Quad HD (2.560 x 1.440) ponúka dokonale ostré zobrazenie a vďaka adaptívnej technológii poskytuje bezkonkurenčnú čitateľnosť aj na priamom slnku.</p>
        </div>
    </div>
</section>

<section id="sec-4" class="feat_full-bg feat-2 section">
    <div class="fixed-column">
        <div class="feat__item feat__item_left">
            <h2 class="feat__title">Vylepšená svetelnosť, ostrejšie fotografie</h2>
            <p class="feat__desc">Predný a zadný fotoaparát Samsung Galaxy S6 edge sú vybavené vyšším rozlíšením a svetelnosťou F1.9 a tým umožňujú zachytiť ostrejšie fotografie. Dvojitým stlačením domovského tlačidla spustíte fotoaparát a ihneď zachytíte dôležitý okamih.</p>
        </div>
    </div>
</section>

<section class="feat_whole-bg feat-3 section">
    <div class="fixed-column">
        <div class="feat__item feat__item_left">
            <h2 class="feat__title">Vylepšená svetelnosť, ostrejšie fotografie</h2>
            <p class="feat__desc">Predný a zadný fotoaparát Samsung Galaxy S6 edge sú vybavené vyšším rozlíšením a svetelnosťou F1.9 a tým umožňujú zachytiť ostrejšie fotografie. Dvojitým stlačením domovského tlačidla spustíte fotoaparát a ihneď zachytíte dôležitý okamih.</p>
        </div>
        <div class="feat-img__holder feat-img__holder_right">
            <img src="../assets/img/feat-3.png" alt="">
        </div>
    </div>
</section>

<section class="feat_whole-bg feat-3 section">
    <div class="fixed-column">
        <div class="feat__item feat__item_right">
            <h2 class="feat__title">Vylepšená svetelnosť, ostrejšie fotografie</h2>
            <p class="feat__desc">Predný a zadný fotoaparát Samsung Galaxy S6 edge sú vybavené vyšším rozlíšením a svetelnosťou F1.9 a tým umožňujú zachytiť ostrejšie fotografie. Dvojitým stlačením domovského tlačidla spustíte fotoaparát a ihneď zachytíte dôležitý okamih.</p>
        </div>
        <div class="feat-img__holder feat-img__holder_left">
            <img src="../assets/img/feat-3.png" alt="">
        </div>
    </div>
</section>

<section class="info__strip section">
    <div class="fixed-column">
        <div class="grid__col_12">
            <p class="info__strip__title">Máte záujem o SAMSUNG GALAXY S6 EDGE+?</p>
            <a href="#" class="button">OBJEDNAŤ</a>
        </div>
    </div>
</section>

<section class="feat-list section">
    <div class="fixed-column">
        <div class="grid__col_3 feat-list__grid">
            <img src="../assets/img/logo-1.png" alt="">
            <h4 class="feat-list__title">Len ten najlepší zvuk</h4>
            <p class="feat-list__desc">Vďaka technológii Hi-Res Audio a podpore digitálneho potlačenia hluku môžete hudbu počúvať tak, ako by mala znieť, a vypnúť pritom všetko rušenie z okolia.</p>
        </div>
        <div class="grid__col_3 feat-list__grid">
            <img src="../assets/img/logo-2.png" alt="">
            <h4 class="feat-list__title">Len ten najlepší zvuk</h4>
            <p class="feat-list__desc">Vďaka technológii Hi-Res Audio a podpore digitálneho potlačenia hluku môžete hudbu počúvať tak, ako by mala znieť, a vypnúť pritom všetko rušenie z okolia.</p>
        </div>
        <div class="grid__col_3 feat-list__grid">
            <img src="../assets/img/logo-3.png" alt="">
            <h4 class="feat-list__title">Len ten najlepší zvuk</h4>
            <p class="feat-list__desc">Vďaka technológii Hi-Res Audio a podpore digitálneho potlačenia hluku môžete hudbu počúvať tak, ako by mala znieť, a vypnúť pritom všetko rušenie z okolia.</p>
        </div>
        <div class="grid__col_3 feat-list__grid">
            <img src="../assets/img/logo-4.png" alt="">
            <h4 class="feat-list__title">Len ten najlepší zvuk</h4>
            <p class="feat-list__desc">Vďaka technológii Hi-Res Audio a podpore digitálneho potlačenia hluku môžete hudbu počúvať tak, ako by mala znieť, a vypnúť pritom všetko rušenie z okolia.</p>
        </div>
    </div>
</section>

<section class="video section">

    <div class="videoWrapper">
        <!-- Copy & Pasted from YouTube -->
        <iframe width="560" height="349" src="http://www.youtube.com/embed/PG2JLelx5qA?rel=0&hd=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
    </div>

</section>

<script type="text/javascript" src="../assets/js/slider.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
