/* =============== GLOBAL CONFIG  =============== */
/* =============== CSS FOR MICROSITE =============== */
/* HERO SECTION */
#hero {
  background: url(../img/kv-desktop.jpg) no-repeat 50% 50%;
  padding: 40px 2%;
  overflow: hidden;
  background-size: cover;
  min-height: 688px; }

#content .hero__title {
  font-size: 136px;
  font-weight: bold;
  text-transform: none;
  margin-left: -30px;
  margin-top: 40px; }

#content .logo__left img {
  height: 25px;
  width: auto; }

#content .logo__right {
  margin-bottom: 40px; }

#content .ec_wrap .ec-happy {
  margin-right: 20px; }

#content .sec-1 {
  background-color: #000;
  padding-bottom: 90px; }

#content .sec-1 .cta__wrap {
  margin-top: 70px;
  margin-bottom: 110px;
  margin-left: 4%; }

#content .sec-1 .cta__wrap .btn {
  min-width: 250px; }

#content .sec-1 .desc__wrap {
  margin-left: 4%;
  margin-bottom: 90px; }

#content .sec-1 .desc__wrap h3.section__title {
  color: #fff;
  font-size: 28px;
  font-weight: bold; }

#content .sec-1 .desc__wrap p.section__desc {
  color: #fff;
  font-size: 28px;
  line-height: 28px; }

#content .sec-1 .feature__title {
  color: #fff;
  font-size: 18px;
  font-weight: bold; }

#content .sec-1 .feature__desc {
  font-size: 16px;
  color: #fff; }

@media (min-width: 1000px) {
  #content .push-md-5 {
    left: 45.96667%; } }

@media screen and (max-width: 1000px) {
  #content .hero__title {
    font-size: 70px;
    font-weight: bold;
    text-transform: none;
    margin-left: inherit;
    text-align: center;
    margin: 0 auto;
    padding-left: 33px;
    position: relative;
    display: block;
    max-width: 250px;
    margin-top: 0px; }
  #content .logo__right {
    margin-bottom: 40px; } }

@media screen and (max-width: 768px) {
  #content .push-md-5 {
    left: 39.66667%; }
  #content .logo__left {
    margin-bottom: 5px;
    text-align: center;
    padding-left: 0; }
  #content .logo__right {
    margin-bottom: 40px;
    text-align: center;
    padding-right: 0; } }

@media screen and (max-width: 480px) {
  #hero {
    padding: 20px; }
  #hero .container-fixed {
    margin: 0;
    padding: 0;
    width: 100%; }
  #content .sec-1 .cta__wrap {
    margin-top: 20px;
    margin-bottom: 110px;
    margin-left: 4%; }
  #content .sec-1 .cta__wrap .btn {
    min-width: 250px; }
  #content .logo__right {
    margin-bottom: 40px;
    text-align: center;
    padding-left: 5%; }
  #content .ec_wrap {
    position: relative;
    text-align: center;
    padding-top: 22px;
    padding-left: 30px;
    padding-bottom: 25px; }
  #content .ec_wrap .ec-ico {
    max-width: 80px;
    max-height: 80px; }
  #content .ec_wrap .ec-happy {
    margin-right: 10px; } }
