/* ===============
    DEVICE DETAIL PAGE
=============== */


/* Global */

.text_centered {
    text-align: center;
}

.p-close {
    cursor: pointer;
}

.text_bold {
    font-weight: bold;
}

.ec-holder {
    position: relative;
    & .ec-img {
        position: absolute;
        top: 0px;
        left: -15px;
        width: 106px;
    }
    & .ec-info {
        position: absolute;
        top: -5px;
        width: 15px;
    }
}

#content .back-box {
    float: right;
    font-size: 27px;
    color: #007faf;
    padding-bottom: 20px;
}
/* Two line btn fix */
@media screen and (max-width: 360px) {
    #device-detail-page .btn {
        padding: 8px 25px;
    }
}

@media screen and (max-width: 768px) {
    #content .back-box {
        float: left;
    }
}

#device-detail-page {
    & .device-detail__img {
        & .phone-img {
            // width: 100%;
            max-width: 400px;
            max-height: 440px;
        }
    }
    & .device-detail-desc__title h3 {
        line-height: 52px;
        color: #e20074;
        font-size: 44px;
        margin: 0;
        padding: 0;
        padding: 0 10px 20px 10px;
    }
    & .device-detail-desc__subTitle {
        font-size: 24px;
        padding: 0 10px 20px 10px;
    }
    @media screen and (max-width: 560px) {
        & .device-detail-desc__title h3 {
            font-size: 28px;
            font-weight: bold;
        }
        & .device-detail-desc__subTitle {
            font-size: 20px;
            padding: 0 10px 20px 10px;
        }
    }
    @media screen and (max-width: 360px) {
        & .device-detail__img {
            & .phone-img {
                width: 100%;
            }
        }
    }
}

.device-detail__col {
    & .device-detail__col-title {
        background-color: $magenta;
        height: 49px;
        padding-top: 12px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    & .device-detail__col-desc {
        border: 1px solid #e7e7e7;
        padding: 10px;
        margin-bottom: 20px;
        & .device-detail__col-desc-product {
            border-bottom: 1px solid #e7e7e7;
            padding: 5px 0 10px 0;
        }
        & .device-detail__col-desc-product-inside {
            padding-right: 15px;
            padding-top: 5px;
            font-size: 16px;
            & .inside_left-desc {
                display: inline-block;
                padding-top: 2px;
                padding-left: 10px;
            }
            & .inside_right-desc {
                float: right;
                color: $magenta;
                font-size: 20px;
                line-height: 20px;
            }
        }
        & .col-desc-sum {
            & .inside_left-desc {
                font-size: 18px;
                color: $magenta;
                display: inline-block;
                padding-top: 2px;
                padding-left: 0;
            }
            & .inside_right-desc {
                float: right;
                color: $magenta;
                font-size: 20px;
                line-height: 20px;
            }
        }
        & .device-detail__col-desc-price {
            padding: 5px 0 10px 0;
            min-height: 87px;
            border-bottom: 1px solid #e7e7e7;
        }
        & .device-detail__col-desc-cta {
            text-align: center;
            padding: 15px 0 0 0;
            & .btn {
                width: 100%;
            }
        }
    }
}

#device-detail-page .device-detail-specification {
    margin-bottom: 30px;
    & .title-menu {
        border-bottom: 2px solid #a4a4a4;
        padding-bottom: 9px;
        position: relative;
        & h3 {
            font-size: 36px;
            margin: 10px 0 0 0;
        }
    }
}

/* Terms */
#content .note-legal {text-decoration: underline;}
.terms__wrap {
    margin-bottom: 40px;
}


