<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <h1 class="hero__title">MAGENTA MOBILE</h1>
            <h2 class="hero__sub-title">Profesionálne mobilné paušály pre celú firmu</h2>
            <p class="hero__desc">Ušité na mieru pre každého zamestnanca od výroby cez kanceláriu až po manažment.</p>
        </div>
    </div>
</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">VÝHODY</a></li>
        <li><a class="scroll-to" href="#sec-2">Prehľad paušálov</a></li>
        <li><a class="scroll-to" href="#sec-4">Doplnkové služby</a></li>
        <li><a class="scroll-to" href="#sec-6">Mám záujem</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="https://www.telekom.sk/documents/10179/608619/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <p class="section__title">VÝHODY Magenta Mobile</p>
        <div class="grid-g__col_6">
            <p class="item">Výhodné volania do všetkých sietí aj do zahraničia</p>
            <p class="item">Finančný príspevok na nákup telefónov</p>
            <p class="item">Neobmedzený internet <img class="info" src="https://www.telekom.sk/documents/10179/608619/ico-info.png" alt=""></p>
        </div>
        <div class="grid-g__col_6 right">
            <p class="item">Individuálny prístup k vaším potrebám</p>
            <p class="item">Najrýchlejší 4G internet</p>
            <p class="item">Doplnkové balíčky a služby</p>
        </div>

        <div class="grid-g__col_12 text_centered"><a href="#sec-6" class="scroll-to button button_lima two-lined-btn"><b>MÁM ZÁUJEM</b><br/>o nezáväznú ponuku</a></div>

    </div>
</section>

<section id="sec-2" class="section sec-2">
    <div class="fixed-column">
        <p class="section__title">Prehľad paušálov Magenta Mobile</p>
        <div class="pricing-tables">
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img src="https://www.telekom.sk/documents/10179/608619/ico-mini.png" alt="" class="pricing__img">
                        <h3 class="pricing__title">Mini</h3>
                        <p class="pricing__for">Odporúčame pre:</p>
                        <p class="pricing__position">Manuálny pracovník</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-globe2.png" alt=""> 4G Internet v mobile</p>
                        <p class="pricing__data"><b>200 MB</b> dát v plnej rýchlosti 4G</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-phone2.png" alt=""> Volania</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v rámci firmy</b></p>
                        <p class="pricing__call_1">50 voľných minút SK a EÚ</p>
                        <p class="pricing__call_2">50 minút prichádzajúce roamingové volania v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-bubles.png" alt=""> SMS/MMS</p>
                        <p class="pricing__cell__sub-title"><b>100</b></p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">Ďalšie služby zahrnuté v cene paušálu</p>
                        <p>-</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img src="https://www.telekom.sk/documents/10179/608619/ico-basic.png" alt="" class="pricing__img">
                        <h3 class="pricing__title">Basic</h3>
                        <p class="pricing__for">Odporúčame pre:</p>
                        <p class="pricing__position">Administratívny pracovník</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-globe2.png" alt=""> 4G Internet v mobile</p>
                        <p class="pricing__data"><b>2 000 MB</b> dát v plnej rýchlosti 4G</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-phone2.png" alt=""> Volania</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v Telekom sieti</b></p>
                        <p class="pricing__call_1">100 voľných minút SK a EÚ</p>
                        <p class="pricing__call_2">100 minút prichádzajúce roamingové volania v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-bubles.png" alt=""> SMS/MMS</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v Telekom sieti</b></p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">Ďalšie služby zahrnuté v cene paušálu</p>
                        <img src="https://www.telekom.sk/documents/10179/608619/ico-eset2.png" alt="">
                        <p>ESET Mobile Security</p>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img src="https://www.telekom.sk/documents/10179/608619/ico-standard.png" alt="" class="pricing__img">
                        <h3 class="pricing__title">Štandard</h3>
                        <p class="pricing__for">Odporúčame pre:</p>
                        <p class="pricing__position">Obchodný zástupca</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-globe2.png" alt=""> 4G Internet v mobile</p>
                        <p class="pricing__data"><b>4 000 MB</b> dát v plnej rýchlosti 4G</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-phone2.png" alt=""> Volania</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v SR</b></p>
                        <p class="pricing__call_1">250 voľných minút v EÚ</p>
                        <p class="pricing__call_2">250 minút prichádzajúce roamingové volania v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-bubles.png" alt=""> SMS/MMS</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v SR</b></p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">Ďalšie služby zahrnuté v cene paušálu</p>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-eset2.png" alt="">
                                <p>ESET Mobile Security</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-sygic2.png" alt="">
                                <p>Navigácia Sygic</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img src="https://www.telekom.sk/documents/10179/608619/ico-manager.png" alt="" class="pricing__img">
                        <h3 class="pricing__title">Manager</h3>
                        <p class="pricing__for">Odporúčame pre:</p>
                        <p class="pricing__position">Manažér a špecialista</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-globe2.png" alt=""> 4G Internet v mobile</p>
                        <p class="pricing__data"><b>6 000 MB</b> dát v plnej rýchlosti 4G
                            <br /><b>500 MB</b> dát v EÚ</p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-phone2.png" alt=""> Volania</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v SR a EÚ</b></p>
                        <p class="pricing__call_2">Neobmedzené prichádzajúce volania v roamingu</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-bubles.png" alt=""> SMS/MMS</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v SR a EÚ</b></p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">Ďalšie služby zahrnuté v cene paušálu</p>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-eset2.png" alt="">
                                <p>ESET Mobile Security</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-sygic2.png" alt="">
                                <p>Navigácia Sygic</p>
                            </div>
                        </div>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-tv2.png" alt="">
                                <p>TV Magio GO</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-share2.png" alt="">
                                <p>Zdieľanie dát</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="pricing-table">
                    <div class="pricing__head">
                        <img src="https://www.telekom.sk/documents/10179/608619/ico-VIP.png" alt="" class="pricing__img">
                        <h3 class="pricing__title">VIP</h3>
                        <p class="pricing__for">Odporúčame pre:</p>
                        <p class="pricing__position">Majiteľ a CEO</p>
                    </div>
                    <div class="pricing__cell pc-1">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-globe2.png" alt=""> 4G Internet v mobile</p>
                        <p class="pricing__data"><b>10 000 MB</b> dát v plnej rýchlosti 4G
                            <br /><b>1 GB</b> v zahraničí <img class="info-2" src="https://www.telekom.sk/documents/10179/608619/ico-info.png" alt=""></p>
                    </div>
                    <div class="pricing__cell pc-2">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-phone2.png" alt=""> Volania</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v SR, EÚ a ďalších vybraných  krajinách</b></p>
                        <p class="pricing__call_2">Neobmedzené prichádzajúce volania v roamingu</p>
                    </div>
                    <div class="pricing__cell pc-3">
                        <p class="pricing__cell__title"><img src="https://www.telekom.sk/documents/10179/608619/ico-bubles.png" alt=""> SMS/MMS</p>
                        <p class="pricing__cell__sub-title"><b>Neobmedzene v SR, EÚ a ďalších vybraných  krajinách</b></p>
                    </div>
                    <div class="pricing__cell pc-4">
                        <p class="pricing__cell__title2">Ďalšie služby zahrnuté v cene paušálu</p>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-eset2.png" alt="">
                                <p>ESET Mobile Security</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-sygic2.png" alt="">
                                <p>Navigácia Sygic</p>
                            </div>
                        </div>
                        <div class="pricing__cell__row">
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-tv2.png" alt="">
                                <p>TV Magio GO</p>
                            </div>
                            <div class="grid-g__col_6">
                                <img src="https://www.telekom.sk/documents/10179/608619/ico-share2.png" alt="">
                                <p>Zdieľanie dát</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-g__col_12 text_centered"><a href="https://www.telekom.sk/documents/10179/607345/Cennik_Magenta_Mobile_11.1.2016.pdf" target="_blank"><b>Cenník s detailnými informáciami a cenami (.pdf)</b></a></div>
    </div>
</section>

<section id="sec-3" class="section sec-3">
    <div class="fixed-column">
        <p class="section__title">Máte záujem o viac informácií o Magenta Mobile?</p>
        <p class="section__desc">Využite služby nášho <b>obchodného zástupcu</b>, zavolajte na tel. číslo <b>0800 123 500</b><br />alebo vyplňte náš <a href="#sec-6" class="scroll-to"><b>kontaktný formulár</b></a> a my vás budeme kontaktovať.</p>
    </div>
</section>

<section id="sec-4" class="section sec-4">
    <div class="fixed-column text_centered">
        <p class="section__title">Doplnkové služby</p>
        <div class="grid-g__col_4">
            <img src="https://www.telekom.sk/documents/10179/608619/ico-globe.png" alt="">
            <p><b>4G dátové balíčky</b>
                <br /> Minuli ste voľné dáta a chcete ďalej surfovať v najvyššej 4G rýchlosti? Kedykoľvek si môžete dokúpiť viac dát cez aplikáciu Telekom.
            </p>
        </div>
        <div class="grid-g__col_4 second">
            <img src="https://www.telekom.sk/documents/10179/608619/ico-phone.png" alt="">
            <p><b>Balíčky neobmedzených volaní</b>
                <br /> Potrebujete viac telefonovať? Neobmedzené hovory v SR a EÚ môžete dokúpiť aj pre nižšie paušály.
            </p>
        </div>
        <div class="grid-g__col_4">
            <img src="https://www.telekom.sk/documents/10179/608619/ico-share.png" alt="">
            <p><b>Zdieľanie dát</b>
                <br /> Svoje dáta z paušálu môžete využívať aj na ďalších zariadeniach, napr. na tablete či notebooku.
            </p>
        </div>
    </div>
</section>

<section id="sec-5" class="section sec-5">
    <div class="fixed-column text_centered">
        <p class="section__title">Mobilné aplikácie pre prácu aj voľný čas</p>
        <div class="grid-g__col_12">Dostupnosť sa mení v závislosti od typu paušálu.</div>
        <div class="grid-g__col_4">
            <img src="https://www.telekom.sk/documents/10179/608619/ico-sygic.png" alt="">
            <p><b>GPS navigácia Sygic – Telekom edícia</b>
                <br /> Dostupnosť jednotlivých služieb sa mení v závislosti od paušálu.
            </p>
        </div>
        <div class="grid-g__col_4 second">
            <img src="https://www.telekom.sk/documents/10179/608619/ico-eset.png" alt="">
            <p><b>Antivírová ochrana ESET Mobile Security</b>
                <br /> Dostupnosť jednotlivých služieb sa mení v závislosti od paušálu.
            </p>
        </div>
        <div class="grid-g__col_4">
            <img src="https://www.telekom.sk/documents/10179/608619/ico-tv.png" alt="">
            <p><b>Magio GO – televízia v mobile</b>
                <br /> Buďte v obraze kedykoľvek a kdekoľvek.
            </p>
        </div>
    </div>
</section>

<section id="sec-6" class="section sec-6">
    <div class="fixed-column text_centered">
        <div class="grid-g__col_12">Vyplňte náš nezáväzný kontaktný formulár a budeme vás kontaktovať.</div>
        <div id="form-holder" class="grid-g__col_12"></div>

    </div>
</section>

<section id="sec-7" class="section sec-7">
    <div class="fixed-column text_centered">
        <p class="section__sub-title">váš úspech je náš biznis</p>
        <div class="grid-g__col_12">V rámci biznis riešení vám ponúkame aj <a href="https://www.telekom.sk/biznis/magenta-office/pevna-linka
">pevnú linku</a> a <a href="https://www.telekom.sk/biznis/magenta-office/internet
">internet do kancelárie.</a></div>

    </div>
</section>

<script type="text/javascript" src="https://www.telekom.sk/documents/10179/607345/slider.js"></script>
<script type="text/javascript" src="https://www.telekom.sk/documents/10179/607345/main.js"></script>
