/* ===============
   CSS FOR MICROSITE
   =============== */

.dynamicFormFields {
    /*border: none;*/
    width: 80%;
}

li.dynamicFormItemBox {
    background: #fff;
}

.wbreadcrumbs {
    display: none;
}

.page .formFieldRender label {
    font-size: 18px;
}

.formComposition label.labelField {
    max-width: 220px;
}

.heapBox {
    width: 60%;
    font-size: 18px;
}

.formComposition label.labelField.fieldRequired {
    font-weight: normal;
}

.formCompositionRender .dynamicFormSubForm {
    margin-left: 0;
}

.availableFields li,
.availableRootFields li,
.dynamicFormFields li {
    margin-left: 0;
    padding-left: 0;
}

.dynamicFormFields li {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

.waterbear-theme .formFieldRender input[type="text"] {
    font-size: 18px;
}

.formCompositionRender .formFieldRenderField.selectRenderField>span {
    display: inline-block;
    width: 50%;
    min-width: 100px;
}

.formCompositionRender .formFieldValidationResult {
    font-size: 18px;
}

.formCompositionRenderDisplay h4 {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 10px;
}

#fakturacna-adresa {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #d0d0d0;
    max-width: 520px;
    margin-bottom: 10px;
}

#prenos-zaujem {
    margin-top: -8px;
}

#formFieldId13375 {
    margin-top: 20px;
    vertical-align: top;
}

#dorucenie-adresa {
    margin-top: -5px;
}

#kontaktne-udaje {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    border-bottom: 1px solid #d0d0d0;
    max-width: 520px;
    margin-bottom: 10px;
}

#typ-zakaznika {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    border-bottom: 1px solid #d0d0d0;
    max-width: 520px;
    margin-bottom: 10px;
}

#adresa-dorucenie {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
    border-bottom: 1px solid #d0d0d0;
    max-width: 520px;
    margin-bottom: 10px;
}

#formFieldId12983 {
    margin-top: 20px;
}

#formFieldId13395 {
    margin-top: 20px;
}

#suhlas-obchodne {
    /*padding-top: 20px;*/
    margin-top: -5px;
}

#formFieldId13414 {
    margin-top: 20px;
}

#formFieldId13435 {
    margin-top: 20px;
}

#formFieldId13434 {
    margin-top: 20px;
}

#formFieldId13454 {
    margin-top: 20px;
}

#pocet-sim {
    font-weight: bold;
    padding-top: 10px;
}

#formFieldId13155 {
    margin-top: 20px;
}

#formFieldId13455 {
    margin-top: 20px;
}

#formFieldId13462 {
    margin-top: 20px;
}

#formFieldId13461 {
    margin-top: 20px;
}

#formFieldId12981 {
    margin-top: 20px;
}

.dynamicFormPages {
    width: 78%;
}

#formFieldId12983 .labelField {
    width: 450px!important;
}

#formFieldId12983 label.labelField {
    max-width: 450px;
}

#formFieldId13155 .validated,
#formFieldId12981 .validated,
#formFieldId13577 .validated,
#formFieldId13153 .validated,
#formFieldId13464 .validated {
    display: none!important;
}

#formFieldId12983 .error {
    display: block;
}

#formFieldId12979 .error {
    /*display: block;*/
}

@media screen and (max-width: 770px) {
    #formFieldId110775 label,
    #formFieldId110790 label,
    #formFieldId110835 label,
    #formFieldId110836 label,
    #formFieldId110837 label,
    #formFieldId110874 label,
    #formFieldId111175 label,
    #formFieldId111176 label,
    #formFieldId111177 label {
        max-width: 220px !important;
        width: 220px !important;
    }
}