<h1>
	Integrovaný manažérsky systém</h1>
<p>
	Naša spoločnosť je držiteľom certifikátov pre:</p>
<ul>
	<li>
		systém manažérstva kvality podľa ISO 9001 - opakovane poskytujeme produkty a služby našim zákazníkom v požadovanej kvalite,</li>
	<li>
		systém environmentálneho manažérstva podľa ISO 14001 - pri svojej práci vždy dbáme na ochranu životného prostredia,</li>
	<li>
		systém manažérstva informačnej bezpečnosti podľa ISO 27001 - chránime naše informácie ako aj informácie našich zákazníkov, zamestnancov a obchodných partnerov,</li>
	<li>
		systém riadenia ochrany osobných údajov v cloude podľa ISO 27018 - chránime osobné údaje našich zákazníkov v cloude, v súlade s príslušnými právnymi predpismi a medzinárodnými štandardami,</li>
	<li>
		systém riadenia kontinuity podľa ISO 22301 - zabezpečujeme nepretržitosť prevádzky našich kritických procesov na definovanej úrovni v prípade výskytu mimoriadnej udalosti.</li>
</ul>
<p>
	Certifikácia zastrešuje: Vývoj a poskytovanie ICT služieb a dátových služieb pre zákazníkov biznis segmentu v podnikateľskej oblasti a v štátnej a verejnej správe.</p>
<p>
	Všetky systémy sú certifikované spoločnosťou TUV SUD, certifikačným orgánom systémov manažérstva akreditovaným SNAS.</p>
<p>
	V spoločnosti je plne implementovaný no necertifikovaný systém manažérstva bezpečnosti a zdravia pri práci podľa OHSAS 18001 - robíme všetko pre to, aby mali naši zamestnanci vytvorené vhodné pracovné prostredie a naša spoločnosť plnila všetky relevantné požiadavky pre túto oblasť.</p>
<div class="stvorcek">
	<a href="/documents/10179/678281/ISO+14001.pdf" target="_blank"><img alt="ico_pdf" src="/documents/10179/44166/Ikona_PDF.png/e5a17e97-a02e-4b59-9f32-df001597d8ce" style="width: 47px; height: 57px;" /></a>
	<p>
		Certifikát<br />
		ISO 14001</p>
</div>
<div class="stvorcek">
	<a href="/documents/10179/678281/ISO+22301.pdf" target="_blank"><img alt="ico_pdf" src="/documents/10179/44166/Ikona_PDF.png/e5a17e97-a02e-4b59-9f32-df001597d8ce" style="width: 47px; height: 57px;" /></a>
	<p>
		Certifikát<br />
		ISO 22301</p>
</div>
<div class="stvorcek">
	<a href="/documents/10179/678281/ISO+27001.pdf" target="_blank"><img alt="ico_pdf" src="/documents/10179/44166/Ikona_PDF.png/e5a17e97-a02e-4b59-9f32-df001597d8ce" style="width: 47px; height: 57px;" /></a>
	<p>
		Certifikát<br />
		ISO 27001</p>
</div>
<div class="stvorcek">
	<a href="/documents/10179/678281/ISO+27018.pdf" target="_blank"><img alt="ico_pdf" src="/documents/10179/44166/Ikona_PDF.png/e5a17e97-a02e-4b59-9f32-df001597d8ce" style="width: 47px; height: 57px;" /></a>
	<p>
		Certifikát<br />
		ISO 27018</p>
</div>
<div class="stvorcek">
	<a href="/documents/10179/678281/ISO+9001+a+ISO+14001.pdf" target="_blank"><img alt="ico_pdf" src="/documents/10179/44166/Ikona_PDF.png/e5a17e97-a02e-4b59-9f32-df001597d8ce" style="width: 47px; height: 57px;" /></a>
	<p>
		ISO 9001<br />
		ISO 14001</p>
</div>
<div class="stvorcek">
	<a href="/documents/10179/678281/ISO+9001.pdf" target="_blank"><img alt="ico_pdf" src="/documents/10179/44166/Ikona_PDF.png/e5a17e97-a02e-4b59-9f32-df001597d8ce" style="width: 47px; height: 57px;" /></a>
	<p>
		Certifikát<br />
		ISO 9001</p>
</div>
<div class="stvorcek">
	<a href="/documents/10179/678281/Politika+spolocnosti+Slovak+Telekom.pdf" target="_blank"><img alt="ico_pdf" src="/documents/10179/44166/Ikona_PDF.png/e5a17e97-a02e-4b59-9f32-df001597d8ce" style="width: 47px; height: 57px;" /></a>
	<p>
		Politika<br />
		Slovak Telekom</p>
</div>
