<ul class="og-grid" id="og-grid">
    <li>
        <a data-description="
        &lt;h4&gt;Express Setup&lt;/h4&gt;
        &lt;p&gt;Garancia zriadenia dátového pripojenia pre vašu pobočku/lokalitu podnikania do 5 alebo 10 dní od vašej požiadavky.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;Data service changes online / u zákazníka&lt;/h4&gt;
        &lt;p&gt;Rýchla úprava nastavení, parametrov služieb podľa vašich požiadaviek, alebo plná asistencia pri migráciách alebo zmenách služieb.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;Školenie online / u zákazníka&lt;/h4&gt;
        &lt;p&gt;Tréningy pre vášho admin-a alebo užívateľov (vašich zamestnancov) služieb, realizované online alebo priamo u vás.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;Service Support&lt;/h4&gt;
        &lt;p&gt;Proaktívny monitoring služieb s plnohodnotnou podporou, ktorá zahrňuje  v prípade potreby  aj test rýchlosti. Samozrejmosťou je detailný reporting. &lt;/p&gt;&lt;/br&gt;
        " data-largesrc="/documents/10179/489585/Dátové-riešenia---telekom-nastavenie.png/70a4be24-85be-4fd4-b40f-b66e37f2feda" data-title="Dátové produkty" href="/biznis/profesionalne-sluzby/zaujem-datove-produkty"><img alt="Profesionálne-dátové-služby-telekom" src="/documents/10179/489569/Dátové-produkty.png/0984afe9-490d-4887-a92c-be47de0ea303" /> </a></li>
    <li>
        <a data-description="
        &lt;h4&gt;IAAS Analýza zákazníckeho prostredia&lt;/h4&gt;
        &lt;p&gt;Analýza zákazníkovej infraštruktúry, spojená s ponukou IaaS riešenia na mieru.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;IaaS SW Implementation&lt;/h4&gt;
        &lt;p&gt;Inštalácia dodatočných softvérových komponentov na predinštalovaný template image VPS servera. Služba zahrňuje nastavenie rôznych parametrov softvérovej infraštruktúry pre optimálny a bezpečný chod a výkon zákazníckych IT služieb.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;Telekom Cloud SLA &lt;/h4&gt;
        &lt;p&gt;Garancie reakčného času a odstránenia problémov  pre službu  Telekom Cloud. Poskytujeme v troch preddefinovaných úrovniach, s možnosťou individuálneho riešenia:&lt;/p&gt;&lt;/br&gt;
        " data-largesrc="/documents/10179/489585/Big_telekomcloud.png/859d058d-4e2d-4db5-8e4c-6ffd6f64dae1" data-title="TelekomCloud produkty" href="/biznis/profesionalne-sluzby/zaujem-telekomcloud"><img alt="telekom_cloud" src="/documents/10179/489569/Final+TelekomCloud/90cedf7d-e9e7-4093-bf78-487f8ca4f5cb" /> </a></li>
    <li>
        <a data-description="
        &lt;h4&gt;Advanced Config&lt;/h4&gt;
        &lt;p&gt;Kompletné nastavenie parametrov  aplikácií  v rámci MDM podľa vašich požiadaviek.   Za aplikácie v rámci  MDM  je považované appconnect, tunneling, email, doc@work, web@work, black/white-list, atď.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;MDM Start Support&lt;/h4&gt;
        &lt;p&gt;Plnohodnotná a neobmedzená telefonická podpora počas prvých dvoch mesiacov od zriadenia riešenia  MDM.  Naši špecialisti sú k dipozícii pre zodpovedanie akýchkoľvek otázok vašich  administrátorov.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;Cloud MDM System Management&lt;/h4&gt;
        &lt;p&gt;Správa serverovej časti  systému riešenia MDM.  Zhŕňa aj zálohovanie servra a softwérový upgrade serverovej časti riešenia MDM.  &lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;MDM Školenie online / u zákazníka&lt;/h4&gt;
        &lt;p&gt;Školenie pre vášho admin-a alebo užívateľov (vašich zamestnancov) služby, realizované online alebo priamo u vás.&lt;/p&gt;&lt;/br&gt;
        " data-largesrc="/documents/10179/489585/Big_mdm.png/cfbd1a83-010d-4a9c-9f86-5752dd781801" data-title="MDM produkty" href="/biznis/profesionalne-sluzby/zaujem-mdm-produkty"><img alt="mdm" src="/documents/10179/489569/Final+MDM/b94e8979-192a-44b5-b9c6-9d62bc4ad09e" /> </a></li>
    <li>
        <a data-description="
        &lt;h4&gt;Additional Config&lt;/h4&gt;
        &lt;p&gt;Nastavenie parametrov účtov služby VVN podľa vašich požiadaviek.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;VVN Support&lt;/h4&gt;
        &lt;p&gt;Plnohodnotná podpora zahrňujúca asistenciu pri nastavení služby, konzultácie s našimi špecialistami ako aj  prípadnú  konfiguráciu  (nastavenia/ úprava parametrov)  služby,  trvajúca do 20 minút.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;VVN Školenie online / u zákazníka&lt;/h4&gt;
        &lt;p&gt;Školenie pre vášho admin-a alebo užívateľov (vašich zamestnancov) služieb, realizované online alebo priamo u vás.&lt;/p&gt;&lt;/br&gt;
        " data-largesrc="/documents/10179/489585/Big_VVN.png/6e8ccc47-9adb-4aba-a1a2-1275158fa091" data-title="VVN produkty" href="/biznis/profesionalne-sluzby/zaujem-vvn-produkty"><img alt="vvn" src="/documents/10179/489569/Final+VVN/e5f050c1-9b47-4793-b7bc-dff36fb8c264" /> </a></li>
    <li>
        <a data-description="
        &lt;h4&gt;Office 365 Migrácia&lt;/h4&gt;
        &lt;p&gt;Migrácia vašich účtov a dát, spolu s potrebnými nastaveniami a konfiguráciami podľa vašich požiadaviek.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;Office 365 Školenie (online)&lt;/h4&gt;
        &lt;p&gt;Školenie pre vášho admin-a alebo užívateľov (vašich zamestnancov) služby, realizované online&lt;/p&gt;&lt;/br&gt;
        " data-largesrc="/documents/10179/489585/Big_office365.png/faf0623b-6372-4120-a38c-e2065aea2534" data-title="OFFICE 365 produkty" href="/biznis/profesionalne-sluzby/zaujem-office-365"><img alt="office365" src="/documents/10179/489569/office_365.png/24cc78ca-08ed-4471-bedd-86fa9218ab02" /> </a></li>
    <li>
        <a data-description="
        &lt;h4&gt;CloudNET konfigurácia&lt;/h4&gt;
        &lt;p&gt;Kompletné nastavenie parametrov služby CloudNET podľa vašich požiadaviek.&lt;/p&gt;&lt;/br&gt;
        &lt;h4&gt;CloudNET Školenie online / u zákazníka&lt;/h4&gt;
        &lt;p&gt;Školenie pre vášho admin-a alebo užívateľov (vašich zamestnancov) služieb, realizované online alebo priamo u vás.&lt;/p&gt;&lt;/br&gt;
        " data-largesrc="/documents/10179/489585/Big_Cloudnet.png/72f8583f-1a3b-4f28-9165-a5d2fd5dc6d8" data-title="CloudNet produkty" href="/biznis/profesionalne-sluzby/zaujem-cloudnet"><img alt="cloudnet" src="/documents/10179/489569/final+Cloudnet/47c46b0e-c53c-475e-ac15-2a9c70d8f204" /> </a></li>
    <!-- End Balíčky -->
</ul>
<script>
            $(function() {
                Grid.init();
                // adding more items
                $('#og-additems').on( 'click', function() {
                    var $items = $( '<li><a href="" data-largesrc="" data-title="" data-description=""><img src="" alt=""/></a></li><li><a href="" data-largesrc="" data-title="" data-description="S"><img src="" alt="img01"/></a></li><li><a href="" data-largesrc="" data-title="" data-description=""><img src="images/thumbs/1.jpg" alt="img01"/></a></li><li><a href="" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."><img src="images/thumbs/1.jpg" alt="img01"/></a></li><li><a href="" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."><img src="images/thumbs/1.jpg" alt="img01"/></a></li><li><a href="" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."><img src="images/thumbs/1.jpg" alt="img01"/></a></li><li><a href="" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."><img src="images/thumbs/1.jpg" alt="img01"/></a></li><li><a href="" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."><img src="images/thumbs/1.jpg" alt="img01"/></a></li><li><a href="" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."><img src="images/thumbs/1.jpg" alt="img01"/></a></li><li><a href="" data-largesrc="images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot."><img src="images/thumbs/1.jpg" alt="img01"/></a></li>' ).appendTo( $( '#og-grid' ) );
                    
                    Grid.addItems( $items );
                    return false;
                } );
            });
</script>