#content .bd-scenario-thankyou {
  .vh100 {
    height: 100vh;
    max-height: 500px;
    @media screen and (min-width: 1367px) {
      max-height: 700px;
    }
  }

  .textHolder {
    background-color: #f6f6f6;
    max-width: 562px;
    float: left;
    width: 41%;
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
    .content {
      margin: 0 17%;
      @media screen and (max-width: 360px) {
        margin: 0 6%;
      }
      h2 {
        font-size: 38px;
        color: #383838;
        font-weight: 800;
        margin: 70px 0 100px 0;
        @media screen and (min-width: 1367px) {
          margin: 70px 0 60px 0;
        }
        @media screen and (max-width: 980px) {
          margin: 70px 0 30px 0;
        }
      }
      p {
        font-size: 0.75rem;
        line-height: 1.25rem;
        line-height: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        @media screen and (max-width: 360px) {
          margin: 10px 0 0 6%;
        }
        .boldtxt {
          font-weight: 600;
          font-size: 0.875rem;
          @media screen and (min-width: 1367px) {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
  .imageHolder {
    background-image: url("../img/thank-you-bg.png"); // you can also change to bg2.png
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 804px;
    float: left;
    width: 59%;
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 100%;
    }
    .content {
      max-width: 315px;
      margin: 0 50px 0 auto;
      padding: 65px 0px;
      @media screen and (max-width: 360px) {
        margin: 0 auto;
      }
      h2 {
        color: #fff;
        font-weight: 800;
        font-size: 46px;
      }
      p {
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
  .imageHolder-desktop-b2b {
    background-image: url("../img/b2b-thx.jpg"); // you can also change to bg2.png
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 804px;
    float: left;
    width: 59%;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .content {
      max-width: 315px;
      margin: 0 50px 0 auto;
      padding: 65px 0px;
      @media screen and (max-width: 360px) {
        margin: 0 auto;
      }
      h2 {
        color: #fff;
        font-weight: 800;
        font-size: 46px;
      }
      p {
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        line-height: normal;
      }
    }
  }

  .imageHolder-desktop {
    background-image: url("../img/thank-you-bg2.jpg"); // you can also change to bg2.png
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    max-width: 804px;
    float: left;
    width: 59%;
    @media screen and (max-width: 768px) {
      display: none;
    }
    .content {
      max-width: 315px;
      margin: 0 50px 0 auto;
      padding: 65px 0px;
      @media screen and (max-width: 360px) {
        margin: 0 auto;
      }
      h2 {
        color: #fff;
        font-weight: 800;
        font-size: 46px;
      }
      p {
        color: #fff;
        font-size: 1rem;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
  /* stepper */
  .step {
    background-color: $magenta;
    width: 2.5rem;
    max-width: 2.5rem;
    height: 2.5rem;
    max-height: 2.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    &.pending {
      background-color: #e6e6e6;
      .mag {
        display: none;
      }
      .white {
        display: block;
      }
      @media screen and (min-width: 768px) {
        background-color: #e6e6e6;
      }
    }
    &.done {
      color: #fff;
      .mag {
        display: none;
      }
      .white {
        display: block;
      }
    }
    &.active {
      border: 2px solid $magenta;
      background-color: $darkgray;
      .mag {
        display: none;
      }
      .white {
        display: block;
      }
      @media screen and (min-width: 768px) {
        background-color: $lightgray;
        .mag {
          display: block;
        }
        .white {
          display: none;
        }
      }
    }
  }
  .nav-stepper {
    @media screen and (max-width: 360px) {
      margin: 0 0 0 6%;
    }
    &-wrapper {
      width: 100%;
      height: 80px;
      padding: 1.625rem 0;
    }
    .steps {
      margin-right: 1rem;
      position: relative;
      z-index: 2;
      width: 100%;
      .divider {
        background-color: #e6e6e6;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        margin: 0;
      }
      .step-wrapper {
        flex-grow: 1;
        z-index: 1;
        margin-right: 1rem;
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    .main-title {
      align-items: center;
      text-align: center;
      margin: 0;
      padding: 0;
      color: $white;
      font-weight: 800;
      font-size: 1.25rem;
      @media screen and (min-width: 768px) {
        color: inherit;
        text-align: left;
      }
    }
  }
}
