/* ===============
   CSS FOR MICROSITE
   =============== */

/* -----H1----- */
h1 {
  line-height: 1.2!important;
  color: #fff!important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  padding: 0!important;
  @media screen and (max-width: 960px) {
    margin-top: -20px!important;
  }
  @media screen and (max-width: 768px) {
    margin-top: 50px!important;
    font-size: 36px!important;
    line-height: 48px!important;
  }
  @media screen and (max-width: 544px) {
    margin-top: 20px!important;
    font-size: 26px!important;
    line-height: 32px!important;
  }
  @media screen and (max-width: 360px) {

    font-size: 22px!important;
    line-height: 30px!important;
  }
}
/* -----H2----- */
h2 {
  font-size: 24px;
  color: #262626!important;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #content h2 {
    font-size: 18px;
    line-height: 1;
  }
}
h3{
  font-size: 24px!important;
  line-height: 28px;
  color:#262626!important;
}
p {
  font-weight: normal;
  color:#262626!important;
  line-height: 20px;
  font-size: 18px;
}
strong{
  font-weight: bold;
}

a{
  padding: 0px;
}

#hero-content{
margin-top: 40px;
@media (max-width: 960px) {
  margin-top: 0px;
}
@media (max-width: 768px) {
  margin-top: 0px;
}
}

#hero-title{
display: inline-block;
max-width: 640px;

@media (max-width: 960px) {
  max-width: 500px;
}
}
#hero-subtitle{
padding: 0 10px 0 10px;
background-color: #e20074;
max-width: 500px;
color: #fff;
font-size: 21px;
  @media  (max-width: 544px) {
    font-size: 18px;
  }
  @media  (max-width: 480px) {
    font-size: 14px;
  }
}  



#hero { 
  background: url(../img/hero.jpg) no-repeat center top;
  background-color: #000;
  background-size: cover;
  min-height: 630px;
  @media  (max-width: 768px) {
    min-height: 500px;
  }
  @media  (max-width: 544px) {
    min-height: 430px;
  }  
  @media  (max-width: 480px) {
    min-height: 250px;
  }
  & .eecat{
    position: relative;
    top: 100px;
    left: 400px;
    z-index: 10; 
    @media (max-width: 960px)  {
      top: 100px;
      left: 38%;
    }    
    @media (max-width: 768px)  {
      display: none;
    }  
  } 
}
 

#over-first{ 
  background-color: #fff;
  margin-top: -250px;
  padding: 70px 70px 80px 70px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.2);
  @media (max-width: 960px)  {
    margin-top: -200px;
    padding: 50px 40px 70px 40px;
  }
  @media (max-width: 480px)  {
    margin-top: -60px;
    padding: 30px 25px 50px 25px;
  }

  & span{
    font-size: 21px; 
    padding-bottom: 5px;
    @media (max-width: 768px)  {
      font-size: 18px; 
      padding-bottom: 5px;
    }
    @media (max-width: 350px)  {
      font-size: 16px!important; 
      padding-bottom: 4px;
    }
  }
  & p {
    display: block;
    margin: 0;
    .side-info{
      padding-left: 50px;
      color: #6c6c6c!important;
    
    }
  }
  & .hw-img{
    @media (max-width: 960px)  {
      img {
        width: 105%;
        height: auto;
        }
    }
    @media (max-width: 480px)  {
      img {
        width: 65%;
        height: auto;
        }
    }
  }
  & .inform-box{
    padding: 30px 40px 0 40px;
    @media (max-width: 768px)  {
      padding: 45px 30px 0 30px;
    }
    @media (max-width: 480px)  {
      padding: 45px 25px 0 25px;
    }
    @media (max-width: 350px)  {
      padding: 45px 15px 0 15px;
    }
  }
  & .container{
    padding: 0px;
  }

  & .desc{
    font-size: 21px; 
    padding-bottom: 5px;
    @media (max-width: 768px)  {
      font-size: 18px; 
    }
    @media (max-width: 350px)  {
      font-size: 16px!important; 
      padding-bottom: 10px;
    }

  }
  & .magenta{
    color: #e20074!important; 
  }
  & .left{
    text-align: left!important;
    float: left;
  }
  & .right{
    text-align: right!important;
    float: right;
  }
  & .center{
    text-align: center!important;

  }
  & .eecat-div{
    max-height: 10px;
  }
  & .eecat{
    position: relative;
    top: -400px;
    left: 75%;
    z-index: 10;   
    @media (max-width: 960px)  {
      top: -350px;
      left: 75%;
    }  
    @media (max-width: 768px)  {
      display: none;
    }  

  }
  & .eecat-2{
    position: relative;
    top: -315px;
    left: 75%;
    z-index: 10;   
    @media (max-width: 960px)  {
      top: -265px;
      left: 75%;
    } 
    @media (max-width: 544px)  {
      position: absolute;
      top: 5%;
      left: 75%;
    }
    @media (max-width: 480px)  {
      position: absolute;
      top: 5%;
      left: 60%;
    }  

  }
   & .example{
    border-top: #d0d0d0 1px solid;
    padding: 10px 0 5px 0;
    }
  & .result {
    border-top: #d0d0d0 1px solid;
    padding: 10px 0 60px 0;
    }
  & .small-ico {
    float: left;
  } 
  .side-info{
    padding-left: 50px;
    color: #6c6c6c!important;
  }
  & .m-bt {
    padding-bottom: 10px;
  } 
  & .call-action{
    padding-top: 30px;
  }
  & .btn {
    padding: 8px 50px;
    @media (max-width: 480px)  {
      width: 100%;
      text-align: center;
  }
  }
} 

#over-second {
  padding: 60px 50px;
  & p {color: #a4a4a4!important;}
  @media (max-width: 480px)  {
    padding: 50px 40px;
  }
} 