/* =============== IMPORTS  =============== */
/* =============== GLOBAL IMPORTS  =============== */
/* =============== BASE IMPORTS  =============== */
/* =============== RESET PORTAL STYLES =============== */
#wrapper #content { padding-bottom: 0; }

#wrapper .portlet-column-content { padding: 0; }

#content a { text-decoration: none; }

#content p { font-size: 16px; }

#content ul { list-style: none; }

#wrapper .wbreadcrumbs { display: none; }

#content, #content * { box-sizing: border-box; }

#content .portlet-content { padding: 0; }

/* =============== GLOBAL CONFIG  =============== */
/* =============== UTILITIES  =============== */
/* =============== FUNCTIONS  =============== */
/* =============== CSS FOR STICKY NAV =============== */
.text_centered { text-align: center; }

.text_left { text-align: left; }

.text_uc { text-transform: uppercase; }

#wrapper .text__link { font-size: 18px; }

#wrapper .font_magenta { color: #e20074; }

#wrapper .font_black { color: #000; }

#wrapper .font_white { color: #fff; }

#wrapper .font_mine-shaft { color: #262626; }

#wrapper .font_deep-cerulean { color: #007faf; }

/* =============== SPACING =============== */
#wrapper .margin_top20 { margin-top: 20px; }

#wrapper .margin_top50 { margin-top: 50px; }

#wrapper .margin_bottom20 { margin-bottom: 20px; }

/* =============== BASE IMPORTS  =============== */
/* =============== BUTTONS =============== */
#wrapper .button { color: #fff; }

#wrapper .button_font-black { color: #000; }

#wrapper .button_cream-can { background-color: #f2c957; border: 1px solid #f2c957; }

#wrapper .button_lima { background-color: #6bb324; border: 1px solid #6bb324; }

/* =============== CSS FOR STICKY NAV =============== */
#nav-sticky ul { list-style-type: none; width: 940px; margin: 0 auto; }

#nav-sticky ul li { display: inline-block; }

#nav-sticky { background-color: #ededed; height: 55px; width: 100%; border-bottom: 1px solid #e0e0e0; z-index: 100; text-transform: uppercase; }

#nav-sticky a { text-decoration: none; height: 55px; line-height: 55px; display: block; color: #000; padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active { background-color: #fff; color: #e20074; }

#nav-sticky li:last-child { float: right; }

#nav-sticky li:last-child a { color: #7c7c7c; }

@media screen and (max-width: 960px) { #nav-sticky ul { width: 100%; } }

@media screen and (max-width: 799px) { #nav-sticky { display: none; } }

/* =============== HERO KV =============== */
.portlet-body .journal-content-article .hero__title { color: #fff; border: 0; font-size: 36px; text-transform: uppercase; padding-bottom: 0; margin-top: 0; }

.portlet-body .journal-content-article .hero__desc { color: #fff; font-size: 20px; line-height: 20px; }

.hero__content, .hero__img { display: inline-block; vertical-align: top; }

.hero__content { z-index: 100; }

@media screen and (max-width: 960px) { #hero { width: 96%; padding: 40px 2%; } }

@media screen and (max-width: 720px) { .portlet-body .journal-content-article .hero__title { font-size: 30px; } }

@media screen and (max-width: 560px) { .hero__content { width: 96%; margin: 0 2%; } }

/* =============== MEDIA =============== */
.media { display: table; width: 100%; }

.media__image, .media__body { display: table-cell; vertical-align: middle; }

.media--top .media__image, .media--top .media__body { vertical-align: top; }

.media--bottom .media__image, .media--bottom .media__body { vertical-align: bottom; }

.media_v__image, .media_v__body { width: 100%; }

.show-mobile { display: none; }

.page table { color: #000; }

.c-row-table .header-top { padding-top: 20px; }

.c-row-table .c-content { background-color: #fff; border: 1px solid #d4d4d4; overflow: hidden; min-height: 580px; padding-bottom: 20px; }

.c-row-table { overflow: hidden; }

.table-container { width: 495px; /* Total width of visible columns + border widths */ overflow: hidden; }

.sliding-window { /*width:1320px; */ /* Total width of all columns in sliding-window + border widths */ width: 1485px; overflow: hidden; }

.happy-left, .happy-right { position: static; }

.happy-right img { position: absolute; top: 200px; width: 50px; height: 50px; }

.happy-left img { position: absolute; top: 200px; width: 50px; height: 50px; }

/*-------------------------------------------------------*/
.row-1-s, .row-1-m, .row-1-l, .row-1-xl2, .row-1-xl, .row-1-xxl, .row-1-profi { background-image: url("https://www.telekom.sk/documents/10179/457601/icon_ok_green.png"); background-repeat: no-repeat; background-position: center center; }

.happy td.row-2-xl2, .happy td.row-2-xl, .happy td.row-2-xxl, .happy td.row-2-profi { font-size: 0.8em; }

/*-------------------------------------------------------*/
#happy-boxes h2 { padding-left: 0; }

#happy-boxes { padding-left: 30px; padding-right: 30px; padding-bottom: 20px; }

#happy-boxes .nadpis { font-size: 1.6em; text-align: center; height: 30px; display: inline-block; color: #E20074; padding-bottom: 10px; }

#happy-boxes .cena { font-size: 1.6em; color: #E20074; text-align: right; position: absolute; right: 10px; bottom: 0; }

#happy-boxes .box { padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #d1d1d1; width: 200px; float: left; height: 200px; margin-right: 10px; margin-bottom: 10px; position: relative; }

#happy-boxes .box .desc { padding-left: 10px; background: url("https://www.telekom.sk/documents/10179/457601/bullet2.png") no-repeat scroll; padding-bottom: 10px; font-size: 0.9em; text-align: left; }

#happy-boxes a { text-decoration: none; }

/*-------------------------------------------------------*/
#content .waterbear-theme td { padding: 0; line-height: 1em; font-size: 15px; }

.page .happy-table1, .page .happy-table2, .page .happy-table3, .page .happy-left, .page .happy-right { float: left; }

.happy-table1 { width: 40px; }

.happy-table2 { margin-left: 20px; width: 215px; table-layout: fixed; }

.page .happy-left { margin-left: 30px; }

.page .happy-right { margin-left: 30px; }

.happy-table3 { margin-left: 110px; position: relative; }

table.happy-desc, table.happy { border-spacing: 0; border-collapse: collapse; }

.happy td { width: 165px; /*margin-right: 2px;*/ /*padding-right: 10px;*/ /*padding-right: 10px;*/ /*padding-left: 10px;*/ }

.happy tr { margin: 0; }

.happy th { color: #000; font-weight: bold; }

.happy-desc td, .happy-desc th { border-bottom: 1px solid #d0d0d0; text-align: left; vertical-align: middle; }

.happy td, .happy th { border-bottom: 1px solid #d0d0d0; vertical-align: middle; text-align: center; }

.happy tr:first-child, .happy tr:last-child { border-bottom: none; }

.happy tr, .happy-desc tr { height: 60px; }

.happy tr.row-8, .happy-desc tr.row-8 { height: 40px; }

.happy tr.row-9, .happy-desc tr.row-9 { height: 40px; }

td.row-1-head, td.row-2-head, td.row-3-head, td.row-4-head, td.row-5-head, td.row-6-head, td.row-7-head, td.row-8-head, td.row-9-head, td.row-10-head { padding-left: 10px; /*padding-right: 5px;*/ }

/*-------------------------------------------------------*/
.happy tr.header { color: #e20074; font-size: 1.3em; text-transform: uppercase; line-height: 1em; height: 70px; }

.happy-desc tr.header { height: 70px; }

.happy tr { line-height: 1em; }

/*-------------------------------------------------------*/
.happy-desc tr.row-8, .happy tr.row-8 { color: #e20074; font-weight: bold; }

.happy-desc tr.row-9, .happy tr.row-9 { color: #1063ad; font-weight: bold; }

.happy-desc .row-8-head, .happy-desc .row-9-head, .happy-desc .row-10-head, .happy .row-8 td, .happy .row-9 td, .happy .row-10 td, .happy .row-order td { border-bottom: none; }

.happy .row-order td { padding-bottom: 20px; }

.happy-desc tr.row-8, .happy tr.row-8 { font-weight: bold; background-color: #fce5f1; }

.happy-desc .row-5-head img { vertical-align: -5px; padding-left: 5px; }

.happy-desc .row-8-head img { vertical-align: -5px; padding-left: 5px; }

.row-8-head { position: relative; }

.magenta-row { width: 120px; height: 40px; background-color: #fce5f1; position: absolute; right: -120px; top: 0; }

.happy-desc tr.row-2, .happy tr.row-2 { font-weight: bold; }

.happy-desc tr.row-1, .happy tr.row-1, .happy-desc tr.row-4, .happy tr.row-4 { font-weight: bold; color: #1bada2; }

.happy-desc tr.row-10, .happy tr.row-10 { color: #000; }

.happy tr.row-10 { font-size: 1.5em; }

.waterbear-theme .page .row-order a.green { background-color: #6bb324; border: 1px solid #6bb324; }

.waterbear-theme .page .friend-order a.green { background-color: #6bb324; border: 1px solid #6bb324; }

.friend-order { padding-top: 30px; float: right; }

.activeBox { background-color: rgba(215, 215, 215, 0.3); }

@media screen and (max-width: 960px) { .table-container { width: 300px; /* Total width of visible columns + border widths */ overflow: hidden; }
  .button-order-table { bottom: -50px; left: 140px; } }

@media screen and (max-width: 800px) { .button-order-table { bottom: -50px; left: -10px; } }

@media screen and (max-width: 770px) { .show-mobile { display: block; }
  .hide-mobile { display: none; } }

@media screen and (max-width: 600px) { .table-container { width: 170px; /* Total width of visible columns + border widths */ overflow: hidden; } }

/* =============== LAYOUT IMPORTS  =============== */
/* =============== GRID COLUMNS =============== */
#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 { float: left; }

#content .grid__col_1 { width: 8.20793%; }

#content .grid__col_2 { width: 16.55267%; }

#content .grid__col_3 { width: 24.8974%; }

#content .grid__col_4 { width: 33.24213%; }

#content .grid__col_5 { width: 41.58687%; }

#content .grid__col_6 { width: 49.9316%; }

#content .grid__col_7 { width: 58.27633%; }

#content .grid__col_8 { width: 66.62107%; }

#content .grid__col_9 { width: 74.9658%; }

#content .grid__col_10 { width: 83.31053%; }

#content .grid__col_11 { width: 91.65527%; }

#content .grid__col_12 { width: 100%; }

#content .grid-g__col_1 { width: 6.38298%; }

#content .grid-g__col_2 { width: 14.89362%; }

#content .grid-g__col_3 { width: 23.40426%; }

#content .grid-g__col_4 { width: 31.91489%; }

#content .grid-g__col_5 { width: 40.42553%; }

#content .grid-g__col_6 { width: 48.93617%; }

#content .grid-g__col_7 { width: 57.44681%; }

#content .grid-g__col_8 { width: 65.95745%; }

#content .grid-g__col_9 { width: 74.46809%; }

#content .grid-g__col_10 { width: 82.97872%; }

#content .grid-g__col_11 { width: 91.48936%; }

#content .grid-g__col_12 { width: 100%; }

.row { width: 100%; float: left; }

.fixed-column { width: 940px; margin: 0 auto; }

@media screen and (max-width: 960px) { .fixed-column { width: 96%; padding: 0 2%; } }

.section { width: 100%; float: left; }

.group:after { content: ""; display: table; clear: both; }

/* =============== CSS FOR MICROSITE =============== */
#wrapper #business a { color: #a4a4a4 !important; }

#wrapper { background: url(https://www.telekom.sk/documents/10179/563138/BG.jpg) no-repeat; }

.section { padding: 40px 0; }

#hero { border-bottom: 1px solid #d0d0d0; padding-bottom: 40px; }

.hero__title { font-weight: bold; }

@media screen and (max-width: 555px) { #hero .grid__col_6 { width: 100%; }
  #hero.margin_top50 { margin-top: 0; } }

.winner_paragraph { padding-bottom: 20px; }

#content .winner__ico { background: url(https://www.telekom.sk/documents/10179/563138/winner__ico.png) no-repeat top left; padding-left: 20px; color: #4b4b4b; text-decoration: underline; display: block; margin-bottom: 15px; }

@media screen and (max-width: 555px) { #sec-1 .grid__col_4 { width: 100%; } }

.sec-2 { background: #fff; }

/*# sourceMappingURL=maps/style.css.map */
