
/* HERO */
#hero-cart {
    background-image: url('https://www.telekom.sk/documents/10179/16827704/shop-hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 50%;
    .hero__title {
      color: #000;
      text-align: left;
      font-size: 40px;
      line-height: 42px;
      font-size: 38px;
    }
    .hero__desc {
      color: #494d55;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
    }
    .btn {
      margin-top: 20px;
    }
    .hero__mobile {
      display: none;
    }
    .hero__content {
      text-align: left;
      max-width: 460px;
    }
    .mainHeroImg {
      max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
  #hero-cart {
    min-height: auto;
      .hero__title {
        color:  #262626;
        font-size: 32px;
        line-height: 32px;
      }
      .hero__desc {
          color:  #262626;
          font-size: 18px;
          line-height: 21px;
      }
      .btn {
          margin-top: 20px;
      }
      .hero__content {
        text-align: left;
        max-width: 400px;
      }
  }
}


@media screen and (max-width: 543px) {
  #hero-cart {
    background-image: none;
      .hero__mobile {
        display: block;
        img {
          max-width: 100%;
          width: 100%;
        }
      }
      .btn {
        margin-top: 10px;
        text-align: center;
      }
      .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      .hero__content {
        padding: 0px;
        text-align: center;
        max-width: 100%;
      }
      .hero__title {
        color:  #262626;
        font-size: 34px;
        line-height: 34px;
        text-align: center;
      }
      .hero__desc {
          color:  #262626;
          font-size: 18px;
          text-align: center;
      }
  }
}
/* HERO END */

#sec-2 {
    .emptyCart {
        h2 {
            font-size: 36px;
        }
        a.link {
            font-size: 36px;
            text-decoration: none;
        }
    }
    .cartItem {
        position: relative;
        border: 1px solid #ccc;
        padding: 1%;
        margin-bottom: 10px;
        vertical-align: top;
        @media screen and (max-width: 543px) {
            width: 49%;
            display: inline-block;
            margin-right: 2%;
        }
        @media screen and (max-width: 400px) {
            width: 100%;
            display: block;
            margin-right: 0%;
        }
        &:nth-child(2n) {
            margin-right: 0%;
        }
        .img, .desc, .count, .price {
            display: inline-block;
        }
        .img {
            width: 22%;
            vertical-align: top;
            padding: 2%;
            text-align: center;
            @media screen and (max-width: 543px) {
                display: block;
                width: 100%;
            }
            img {
                max-width: 100%;
                max-height: 85px;
                @media screen and (max-width: 543px) {
                    max-height: 80px;
                    min-height: 80px;
                }
            }
        }
        .desc {
            max-width: 33%;
            @media screen and (max-width: 543px) {
                display: block;
                width: 100%;
                max-width: none;
                text-align: center;
            }
            h3 {
                color: black;
            }
            .desclist {
                ul {
                    font-size: 16px;
                    list-style: disc;
                    margin-left: 1.4em;
                }
            }
            .btns {
                .divider {
                    padding: 0 0.7em;
                    font-size: 16px;
                    color: #ccc;
                    line-height: normal;
                }
            }
        }
        .count {
            width: 16%;
            text-align: center;
            vertical-align: top;
            @media screen and (max-width: 543px) {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            input {
                width: 45px;
                height: 30px;
                font-size: 18px;
                margin: 15px 0;
                border: 1px solid #b1b1b1;
            }
        }
        .price {
            width: 27%;
            vertical-align: top;
            @media screen and (max-width: 543px) {
                display: block;
                margin: 0 auto;
                width: 100%;
                text-align: center;
            }
            h3 {
                margin-bottom: 0px;
            }
            .fullPrice {
                position: absolute;
                bottom: 0;
                margin-bottom: 5px;
                @media screen and (max-width: 543px) {
                    position: relative;
                }
            }
        }
    }
    .summary {
        position: relative;
        border: 1px solid #ccc;
        .header {
            background-color: #ededed;
            font-weight: 600;
            font-size: 18px;
            height: 50px;
            margin-bottom: 0px;
            p  {
                padding: 16px 15px 0px 15px;
            }
        }

        .oneTimePayment {
            height: 50px;
            padding: 16px 15px 0px 15px;
        }
        .summaryPrice {
            .left {
                padding-left: 15px;
                vertical-align: top;
                display: inline-block;
                width: 30%;
                @media screen and (max-width: 768px) {
                    width: 16%;
                }
                @media screen and (max-width: 543px) {
                    width: 25%;
                }
            }
            .right {
                width: 69%;
                display: inline-block;
                .legalInfo {
                    font-size: 14px;
                }
                .priceSmartHome {
                    font-size: 20px;
                    margin-bottom: 0px;
                }
            }
            .basicPackageInfo {
                margin: 16px 15px 0px 15px;
                padding: 15px;
                background-color: #fff7da;
            }
            .btn {
                margin: 15px;
                display: block;
                text-align: center;
            }
        }
    }
}

/*Neon glow animation*/
.neonglow {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .neonglow:hover {
    -webkit-animation: neon 1s ease-in-out infinite alternate;
    -moz-animation: neon 1s ease-in-out infinite alternate;
    animation: neon 1s ease-in-out infinite alternate;
  }
  
  /*glow for webkit*/
  @-webkit-keyframes neon {
    from {
      //box-shadow: #cc0069, 0 0 40px #cc0069, 0 0 45px #cc0069, 0 0 50px #cc0069, 0 0 55px #cc0069;
      border: 1px solid #ccc;
    }
    to {
      //box-shadow: 0 0 12px #cc0069, 0 0 16px #cc0069, 0 0 19px #cc0069, 0 0 21px #cc0069, 0 0 24px #cc0069;
      border: 1px solid #cc0069;
    }
  }
  
  /*glow for mozilla*/
  @-moz-keyframes neon {
    from {
      //box-shadow: #cc0069, 0 0 40px #cc0069, 0 0 45px #cc0069, 0 0 50px #cc0069, 0 0 55px #cc0069;
      border: 1px solid #ccc;
    }
    to {
      //box-shadow: 0 0 12px #cc0069, 0 0 16px #cc0069, 0 0 19px #cc0069, 0 0 21px #cc0069, 0 0 24px #cc0069;
      border: 1px solid #cc0069;
    }
  }

  @keyframes neon {
    from {
      //box-shadow: #cc0069, 0 0 40px #cc0069, 0 0 45px #cc0069, 0 0 50px #cc0069, 0 0 55px #cc0069;
      border: 1px solid #ccc;
    }
    to {
      //box-shadow: 0 0 12px #cc0069, 0 0 16px #cc0069, 0 0 19px #cc0069, 0 0 21px #cc0069, 0 0 24px #cc0069;
      border: 1px solid #cc0069;
    }
  }
/*Neon glow animation END*/