<section id="hero">
    <div class="container-fixed hero-container">
        <div class="hero__mobile"></div>
        <div class="hero__content">
            <h1 class="hero__title"><b>MAGENTA SMARTHOME</b><br/>VÁŠ DOMOV V MOBILE</h1>
            <p class="hero__desc">S Magenta SmartHome máte vždy prehľad o svojej domácnosti a jednoducho z nej spravíte inteligentný domov.</p>
            <a class="btn cta" href="#">VIAC INFO</a>
        </div>
    </div>
</section>

<div id="nav-sticky">
    <ul>
        <li><a class="scroll-to" href="#sec-1">mav1</a></li>
        <li><a class="scroll-to" href="#wrapper">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>

<section id="sec-1" class="section sec-1">
    <div class="container-fixed">
        <h2 class="sec__title">sec title</h2>
    </div>
</section>

<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript">
$(document).ready(function() {});
</script>
