/* ===============
   CSS FOR MICROSITE
   =============== */

#footer {
    top: 0 !important;
}   

/* HERO SECTION */

#hero {
    background: url(../img/huawei-mate-20-pro_landing-page_940_1018_HERO.jpg) no-repeat 50% 50%;
    padding: 190px 2%;
    overflow: hidden;
    background-size: cover;
    height: 600px;
    & .hero__title, .hero__title2, .hero__desc {
        color: #000;
    }
    & .hero__desc {
        //font-size: 24px;
        margin-bottom: 20px;
    }
    & .hero__title, .hero__title2 {
        font-size: 36px;
        margin: 0;
    }
}

.hero__content {
    text-align: center;
    max-width: 430px;
}

@media screen and (max-width: 768px) {
    #hero {
        background: url(../img/huawei-mate-20-pro_landing-page_768_1018-HERO.jpg) no-repeat 50% 50%;
        height: 410px;
        padding: 70px 2%;
        .hero__content {
            text-align: center;
            max-width: 360px;
            & .hero__title, .hero__title2 {
                font-size: 34px;
            }
        }        
    }    
}
@media screen and (max-width: 480px) {
    #hero {
        background: url(../img/huawei-mate-20-pro_landing-page_480_1018-HERO.jpg) no-repeat 50% 100%;
        height: 620px;
        padding: 20px 2%;
        & .hero__content {
            text-align: center;
            max-width: 100%;
            & .hero__title2 {
                font-size: 22px;
            }
        }
    }    
}
@media screen and (max-width: 350px) {
    #hero {
        & .hero__content {
            & .hero__title {
                font-size: 28px;
            }
        }
    }
}