  /* HERO */
  #hero-zakladnyBalik{
    //min-height: 330px;
    .hero__title {
      color: black;
      text-align: left;
      font-size: 40px;
      line-height: 42px;
      font-size: 38px;
    }
    .hero__desc {
      color: #494d55;
      text-align: left;
      font-size: 16px;
      line-height: 20px;
    }
    .btn {
      margin-top: 20px;
    }
    .hero__mobile {
      display: none;
    }
    .hero__content {
      text-align: left;
      max-width: 460px;
    }
    .mainHeroImg {
      max-width: 75%;
      @media screen and (max-width: 768px) {
        max-width: 100%
      }
    }
}

@media screen and (max-width: 768px) {
  #hero-zakladnyBalik {
    min-height: auto;
      .hero__title {
        color:  #262626;
        font-size: 32px;
        line-height: 32px;
      }

      .hero__desc {
          color:  #262626;
          font-size: 18px;
          line-height: 21px;
      }

      .btn {
          margin-top: 20px;
      }

      .hero__content {
        text-align: left;
        max-width: 400px;
      }
  }
}


@media screen and (max-width: 543px) {
  #hero-zakladnyBalik{
      .hero__mobile {
        display: block;
        margin-top: 20px;
        .mainHeroImg {
          display: block;
          margin: 0 auto;
        }
      }
      .mainHeroImg {
        display: none;
      }
      .btn {
        margin-top: 10px;
        text-align: center;
      }
      .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
      }
      .hero__content {
        padding: 0px;
        text-align: center;
        max-width: 100%;
      }
  
      .hero__title {
        color:  #262626;
        font-size: 34px;
        line-height: 34px;
        text-align: center;
      }
  
      .hero__desc {
          color:  #262626;
          font-size: 18px;
          text-align: center;
      }
  }
}
/* HERO END */

#sec-1-zb {
  h3 {
    font-size: 28px;
    font-weight: bold;
  }
  .smh-layout {
    //margin: 60px 0;
    border-bottom: 1px solid #ccc;
    p {
      color: #4b4b4b
    }
  }
  .products {
    //margin: 30px 0;
    @media screen and (max-width: 543px) {
      display: inline-flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    .box {
      width: 100%;
      min-height: 130px;
      background-color: white;
      text-align: center;
      box-shadow: 5px 10px 15px 0px rgba(197, 197, 197, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      .box-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        .prod-category {
          color: #e20074;
          font-weight: 500;
        }
        img {
          height: 70px;
        }
        p {
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
    & .box:hover {
      box-shadow: 0px 5px 10px 2px rgba(197, 197, 197, 0.6);
      transition: all 200ms;
    }
    .boxv2 {
      width: 146.66px;
      box-shadow: unset;
      background-color: #939393;
      float: left;
      padding: 0px 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      .box-content {
        .prod-category {
          color: white;
        }
      }
    }
    & .boxv2:hover {
      box-shadow: unset;
    }
  }
  .headline {
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
  }
  .rdrEshop {
    color: #4b4b4b;
    line-height:normal;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .imgRight {
    text-align: center;
    padding: 20px;
    @media screen and (max-width: 768px) {
      padding: 0;
    }
    img {
      box-shadow: 0px 10px 20px 5px rgba(197, 197, 197, 0.5);
      z-index: 1;
      position: relative;
      max-width: 100%;
    }
    .corner {
      width: 12vw;
      height: 12vw;
      background-color: rgba(197, 197, 197, 0.25);
      position: absolute;
      right: 0;
      top: 0;
      z-index: 0;
    }
  }
  .imgRight2 {
    text-align: left;
    padding: 20px 0;
    img {
      box-shadow: 0px 10px 20px 5px rgba(197, 197, 197, 0.5);
      z-index: 1;
      position: relative;
      max-width: 100%;
    }
    .corner {
      width: 12vw;
      height: 12vw;
      background-color: rgba(197, 197, 197, 0.25);
      position: absolute;
      left: -30px;
      bottom: 0;
      z-index: 0;
    }
    .cornerTL {
      width: 12vw;
      height: 12vw;
      background-color: rgba(197, 197, 197, 0.25);
      position: absolute;
      left: -30px;
      top: 0;
      z-index: 0;
    }
  }
}

#sec-2-zb {
  margin-top: 0px;
  .smh-layout {
    display: flex;
    border-bottom: 1px solid #ccc;
    @media screen and (max-width: 768px) {
      display: block;
    }
    &.centralDevice {
      flex-direction: column;
    }
    .centralDevice-info {
      padding: 15px 0;
    }
    .togleArrow {
      margin-top: 15px;
    }
    .arrow-content {
      margin-top: 15px;
      ul {
        list-style-type: disc;
        li > p {
          font-size: 18px;
          margin: 0;
        }
      }
    }
    .valign {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media screen and (max-width: 768px) {
        padding: 0;
      }
    }
    .imgRight {
      text-align: center;
      padding: 20px 0;
    }
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
    .legal {
      font-size: 14px;
    }
  }
}

#sec-3-zb {
  @media screen and (max-width: 900px) {
    display: none;
  }
  .smh-layout {
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-align: center;
    padding-bottom: 30px;
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
    .iframe-holder {
      //position: relative;
      //width: 105%;
      height: 661px;
      .smh-iframe {
        width: 100%;
        height: 661px;
        position: absolute;
        overflow: hidden;
        border: none;
        right: 0px;
      }
    }

  }
}

#sec-4-zb {
  margin: 0;
  .smh-layout {
    h3 {
      font-size: 30px;
    }

    p {
      font-size: 18px;
    }
    .pad0:nth-of-type(2) {
      padding-left: 20px;
      border-left: 1px solid #ccc;
      @media screen and (max-width: 768px) {
        border: none;
      }
    }
  }
}

#sec-5-zb {
  .smh-layout {
    .magentawrapper {
      background-color: #e20074;
      min-height: 130px;
      display: flex;
      align-items: center;
      padding: 0 5%;
      h3 {
        font-size: 30px;
        color: white;
        line-height: 40px;
      }
    }
    .magentawrapper-bottom {
      padding: 0 5%;
      .btn.cta {
        margin-top: 20px;
        @media screen and (max-width: 543px) {
          margin-top: 0;
        }
      }
      img {
        position: relative;
        top: -70px;
        right: 4%;
        max-width: 100%;
        @media screen and (max-width: 543px) {
          padding-top: 15px;
          top: 0;
          right: 0;
          max-width: 75%;
        }
      }
      .hideOnMob {
        @media screen and (max-width: 543px) {
          display: none;
        }
      }
    }
    h3 {
      font-size: 30px;
      line-height: 40px;
    }
    p {
      font-size: 18px;
    }
  }
}

.center-mob {
  @media screen and (max-width: 543px) {
    text-align: center;
  }
}
