<div id="content" class="container-fluid">
  <section id="hero-zakladnyBalik">
    <div class="container-fixed xs-orderWrapper">
      <div class="col-md-6 col-sm-6 col-xs-12 pad30 xs-order-2">
        <div class="hero__content">
          <h2 class="hero__title"><b>ZÁKLADNÝ BALÍK</b><br />MAGENTA SMARTHOME</h2>
          <p class="hero__desc">Pre používanie služby Magenta SmartHome, je potrebná SmartHome centrála pripojená na
            internet a mobilná aplikácia.</p>
          <!-- <a class="btn cta" href="#">VIAC INFO</a> -->
        </div>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 pad30 xs-order-1 text-center">
        <div class="hero__mobile">
          <img class="mainHeroImg" src="{{ imgsLR }}/zb-hero.png" alt="zakladny balik">
        </div>
        <img class="mainHeroImg" src="{{ imgsLR }}/zb-hero.png" alt="zakladny balik">
      </div>


    </div>
  </section>

  <!-- nav menu -->
  <div class="secondary-nav">
    <app-navmenu></app-navmenu>
  </div>

  <section id="sec-1-zb" class="section">
    <div class="container-fixed">
      <div class="row center-mob">
        <h3 class="sec__title">ČO JE SÚČASŤOU ZÁKLADNÉHO BALÍKA?</h3>
        <p class="sec__subtitle"><b>V základnom balíku nájdete všetko, čo budete na začiatku potrebovať. Je len a len na
            vás, o aké zariadenia si ju ďalej rozšírite.</b></p>

        <div class="smh-layout clearfix">
          <div class="col-md-12 pad30">

            <div class="products clearfix">
              <div class="">
                <a class="box boxv2" routerLink="/zakladny-balik" fragment="sec-2-zb">
                  <div class="box-content">
                    <img src="{{ imgsLR }}/centrala_thumb.png" alt="Smarthome Centrala">
                    <p class="prod-category">SmartHome centrála</p>
                  </div>
                </a>
              </div>
              <div class="">
                <a href="" class="box boxv2" routerLink="/zakladny-balik" fragment="sec-3-zb">
                  <div class="box-content">
                    <img src="{{ imgsLR }}/mobilapp.png" alt="Mobilna Aplikacia">
                    <p class="prod-category">Mobilná aplikácia</p>
                  </div>
                </a>
              </div>
              <!-- <div class="">
               <a href="" class="box boxv2" routerLink="/zakladny-balik" fragment="sec-4-zb">
                 <div class="box-content">
                   <img src="{{ imgsLR }}/pohybsenzor.png" alt="Pohybovy senzor">
                   <p class="prod-category">Pohybový senzor</p>
                 </div>
                </a>
             </div> -->
              <!-- <div class="">
                <a href="" class="box boxv2" routerLink="/zakladny-balik" fragment="sec-4-zb">
                  <div class="box-content">
                    <img src="{{ imgsLR }}/dveresenzor.png" alt="Dverovy senzor">
                    <p class="prod-category">Dverový senzor</p>
                  </div>
                </a>
              </div> -->
            </div>

          </div>
        </div>

      </div>

    </div>
  </section>

  <section id="sec-2-zb" class="section">
    <div class="container-fixed">
      <div class="row">
        <div class="smh-layout centralDevice center-mob clearfix">
          <div class="row">
            <div class="col-md-6 col-sm-12 pad30 valign">
              <h3><b>SmartHome centrála</b></h3>
              <p>Centrála je jadrom inteligentnej domácnosti. Prepája navzájom všetky inteligentné zariadenia a umožňuje
                ich ovládanie na diaľku, pomocou mobilnej aplikácie pre Android a iOS.</p>
              <!-- <p class="legal">*SmartHome centrálu nie je možné kúpiť bez základného balíka.</p> -->
              <div class="togleArrow">
                <a class="toggle-arrow" (click)="hideAndShow('content1','arrow1')">Technické parametre<span
                    class="arrow-right" [class.arrow-rotate]="toggleArrow.arrow1"></span></a>
                <div class="arrow-content" [@toggleContent]="openClose.content1">
                  <p>Pripojenie k sieti:</p>
                  <ul>
                    <li>
                      <p>LAN (Ethernet) IEEE 802.3u 10/100Mbps, RJ45</p>
                    </li>
                    <li>
                      <p>WLAN IEEE 802.11b/g/n, 2.4GHz.</p>
                    </li>
                  </ul>
                  <p>Podporované protokoly:</p>
                  <ul>
                    <li>
                      <p>HomeMatic / Homematic IP* 868.3 MHz/869.525 MHz</p>
                    </li>
                    <li>
                      <p>ZigBeePro / Thread* IEEE802.15.4, 2.4GHz</p>
                    </li>
                    <li>
                      <p>DECTULE* EN300175-2/3/4/5/7, 1.9GHz</p>
                    </li>
                    <li>
                      <p>Bluetooth Smart Ready* IEEE802.15.1 Bluetooth 4.1, 2.4GHz</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 imgRight">
              <img src="{{ imgsLR }}/centrala.png" alt="">
            </div>
          </div>
          <div class="row centralDevice-info">
            <div class="col-xs-12 pad0 clearfix">
              <p>Centrálu je možné v prípade zničenia alebo straty opätovne zakúpiť aj samostatne a to v plnej sume
                129,99 € s DPH po skončení 24 mesačenej viazanosti alebo na splátky za 4,33 € mesačne.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sec-3-zb" class="section">
    <div class="container-fixed">
      <div class="row">
        <div class="smh-layout center-mob clearfix">
          <h3><b>Mobilná aplikácia</b></h3>
          <p>Jediná aplikácia, ktorú budete na ovládanie svojho domova potrebovať. Jednoducho v nej zapnete či vypnete
            elektrické spotrebiče, vytvoríte automatizovaný scenár alebo si pozriete priamy prenos zo svojej obývačky.
            Aplikácia vás dokáže okamžite notifikovať o neželanej aktivite u vás doma.</p>

          <div class="iframe-holder">
            <iframe class="smh-iframe" src="https://backvm.telekom.sk/smarthome/"></iframe><br>
          </div>
          <p>Stiahnite si aplikáciu pre svoj smartphone, tablet alebo hodinky.</p>
          <a href="https://play.google.com/store/apps/details?id=com.telekomsk.smarthome" target="_blank"
            class="btn cta">
            <fa [name]="'apple'" [size]="1"></fa>ANDROID
          </a>
          <a href="https://itunes.apple.com/sk/app/magenta-smarthome/id1190540011?mt=8" target="_blank" class="btn cta">
            <fa [name]="'android'" [size]="1"></fa>iOS
          </a>


        </div>
      </div>
    </div>
  </section>

  <!-- <section id="sec-4-zb" class="section">
    <div class="container-fixed">
      <div class="row">
        <div class="smh-layout center-mob text-center clearfix">
          <div class="col-md-6 pad0">
        <h3><b>Pohybový senzor</b></h3>
        <p>Automatizuje inteligentný domov, ak ospúšťač scenárov.</p>
        <div class="img text-center">
          <img src="{{ imgsLR }}/pohybovy-senzor.jpg" alt="">
        </div>
      </div>
          <div class="col-md-12 pad0">
            <h3><b>Dverový senzor</b></h3>
            <p>V základnom balíku Magenta SmartHome vám pribalíme aj kontaktný senzor na okno, skrinku alebo dvere.
              Užitočný je najmä v kombinácii s ďalšími zariadeniami SmartHome a môže slúžiť napríklad ako spúšťač
              poplachu po otvorení dverí v čase vašej neprítomnosti.</p>
            <div class="img text-center">
              <img src="{{ imgsLR }}/dverovy-senzor.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section id="sec-5-zb" class="section">
    <div class="container-fixed">
      <div class="row">
        <div class="smh-layout center-mob clearfix">
          <div class="col-md-12 col-sm-12">
            <div class="magentawrapper">
              <h3><b>Cena celého základného balíka</b><br>
                Magenta SmartHome</h3>
            </div>
            <div class="magentawrapper-bottom col-md-12 col-xs-12">
              <div class="col-md-8 col-sm-8 col-xs-12 pad0">
                <h3><b>Iba 6,99 € mesačne</b></h3>
                <a routerLink="/shop" class="btn cta">VYBRAŤ A POZRIEŤ ĎALŠIE PRODUKTY V E-SHOPE</a>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 pad0 hideOnMob text-center">
                <img src="{{ imgsLR }}/celyBalik.png" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>