/* =============== GLOBAL CONFIG  =============== */
/* ===============
CSS FOR MICROSITE
=============== */
/* GLOBALS */
.title-line-through {
  position: relative;
  margin: 10px 0 10px 0; }

#content .img-title {
  margin: 0;
  padding: 0;
  text-align: center; }

.title-line-through img {
  background-color: #fff;
  padding: 0 10px; }

.title-line-through .line {
  width: 100%;
  position: absolute;
  top: 40%;
  height: 1px;
  background-color: #d0d0d0;
  display: block;
  z-index: -1; }

@media screen and (max-width: 360px) {
  .title-line-through img {
    margin: 0;
    width: 100%;
    text-align: center; } }

/* TABS */
.tabs-section {
  margin-top: 20px; }

.tab-content {
  margin-top: 20px; }

.tabs-menu li a {
  padding: 0; }

.tabs-menu li {
  margin: 0 10px; }

.tabs-section .box {
  float: left;
  margin-bottom: 15px; }

.col-3 {
  max-width: 303px;
  width: 32%;
  float: left; }

.col-3:nth-of-type(2) {
  margin: 0 2%; }

@media screen and (max-width: 700px) {
  .col-3 {
    width: 100%;
    margin: 0 auto;
    float: none; }
  .col-3:nth-of-type(2) {
    margin: 0 auto; } }

/* TAB:Volania */
#content .tab2__col1 .tab2__col1-row2 .box-content {
  min-height: 107px; }

#content .tab2__col1 .tab2__col1-row2 .box-content p.box__title {
  color: #fff; }

#content .tab2__col1 .tab2__col1-row2 .box-content .box__link {
  color: #fff; }

#content .tab2__col1 .tab2__col1-row2:hover p.box__title {
  color: #4b4b4b; }

#content .tab2__col1 .tab2__col1-row2:hover .box__link {
  color: #007faf; }

#content .tab2__col2 .box-content {
  min-height: 123px; }

.ec-holder {
  position: relative; }

.ec-holder .ec-img {
  position: absolute;
  bottom: 5px;
  right: -5px; }

/* ACCORDION */
.accordion {
  display: none; }

@media screen and (max-width: 520px) {
  .tabs-container .tab__holder, .tabs-container .tab {
    display: none; }
  .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px; }
  .accordion .item .heading {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background: url("../img/ico-plus.png") no-repeat;
    background-position: right center;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    font-weight: 500; }
  .accordion .item.open .heading {
    background: url("../img/ico-minus.png") no-repeat;
    background-position: right center; }
  .accordion .item .content {
    display: none;
    padding-bottom: 15px; }
  .accordion .item.open .content {
    display: block; }
  #content .accordion .item .content p {
    margin-top: 0; }
  .content:after {
    content: "";
    display: table;
    clear: both; } }

/* BOX */
.box {
  border: 1px solid #d0d0d0;
  display: inline-block;
  max-width: 305px;
  width: 100%; }

.box_flex-width {
  max-width: inherit; }

.box_dark {
  background-color: #262626; }

.box_gray {
  background-color: #f5f5f5; }

.box_mageta {
  background-color: #e20074; }

.box .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.box:hover .img {
  opacity: 0.8; }

.box-img {
  display: block;
  object-fit: cover; }

.box-img-holder {
  background-color: #000;
  overflow: hidden; }

.box-content {
  padding: 20px 15px; }

.box-horizontal {
  position: relative; }

.box_large .box-img {
  position: absolute;
  left: -40%;
  top: -20%; }

.box-horizontal .box-img-holder {
  overflow: hidden;
  width: 60%;
  position: absolute;
  top: 0;
  bottom: 0; }

.box-horizontal .box-content {
  width: 40%;
  position: absolute;
  top: 0;
  bottom: 0; }

.box-horizontal_left .box-img-holder, .box-horizontal_right .box-content {
  float: left;
  left: 0;
  right: inherit; }

.box-horizontal_left .box-content, .box-horizontal_right .box-img-holder {
  float: right;
  right: 0;
  left: inherit; }

.box__cmb .box-content {
  background: url("../img/cmb-operator.png") no-repeat 18px center;
  padding-left: 80px;
  background-size: 44px; }

.box__cmb.box__cmb_vertical {
  max-width: 128px; }

.box__cmb.box__cmb_vertical .box-content {
  background: url("../img/cmb-operator.png") no-repeat center 20px;
  padding-top: 80px;
  padding-left: 15px;
  text-align: center;
  background-size: 44px; }

.box:hover .box-content {
  background-color: #ededed; }

.box.box_dark:hover .box-content {
  background-color: #000; }

.box:hover .box-img {
  opacity: 0.8; }

#content .box p, #content .box a {
  margin: 0;
  display: inline-block; }

#content p.box__title {
  font-size: 20px;
  line-height: 22px;
  display: block; }

#content .box__title_large {
  font-size: 44px;
  line-height: 46px; }

#content .box__desc {
  line-height: 15px; }

#content .box__link {
  color: #007faf; }

#content .box__link_dark {
  color: #4b4b4b; }

#content .box_dark .box__title {
  color: #fff; }

#content .box_dark .box__link {
  color: #3ec0f0; }

#content .box__link_ul {
  text-decoration: underline; }

.link-arrow {
  vertical-align: baseline; }

#content .box__btn {
  margin-top: 10px !important;
  width: 100%;
  text-align: center; }

@media screen and (max-width: 600px) {
  .box_large .box-img {
    position: absolute;
    left: -30%;
    top: -80%; } }

@media screen and (max-width: 400px) {
  .box_large .box-img {
    position: absolute;
    left: -75%; } }

/* AD & CMB BOXES */
.box__cmb {
  display: none; }

.box-ad_vertical, .box-ad_vertical .box-content {
  min-height: 187px; }

/* TILE */
#sec-mob-tile {
  display: none; }

.tile__link {
  display: inline-block; }

.tile {
  background-color: rgba(75, 75, 75, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 128px;
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center; }

.tile:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.tile__inner {
  display: flex;
  flex-direction: column;
  align-items: center; }

#content .tile__title {
  color: #fff;
  display: inline-block;
  margin: 8px 0 0 0;
  line-height: 16px;
  text-align: center;
  cursor: pointer; }

#sec-mob-tile {
  padding: 35px 0 0 0; }

#mob-tiles .tile {
  background-color: #8e8e8e;
  border: 1px solid #8e8e8e; }

#mob-tiles .tile:hover {
  background-color: #6c6c6c;
  border: 1px solid #6c6c6c; }

@media screen and (max-width: 960px) {
  #sec-mob-tile {
    display: block; }
  #desc-tiles {
    display: none; } }

/* HERO */
#head-sec {
  min-height: 435px;
  background-color: #000000;
  position: relative;
  overflow: hidden; }

.hero {
  margin-top: 18px;
  position: absolute;
  left: 50%;
  z-index: 10;
  max-width: 940px;
  margin-left: -470px; }

#head-motion-bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-top: -400px;
  margin-left: -1280px; }

#content .hero-heading {
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 78px;
  margin-bottom: 0;
  padding-bottom: 0; }

#content .hero-huge {
  font-size: 110px;
  font-weight: 900; }

#content .hero-cta {
  font-size: 18px;
  padding: 10px 50px; }

.hero .box {
  min-height: 406px; }

.hero .box .box-content {
  padding: 45px 30px; }

#content .hero .box .box__btn {
  margin-top: 20px;
  width: auto; }

.box-1 .img {
  background: url("../img/box-1.jpg") no-repeat 50% 50%;
  background-size: cover; }

.col-head-1 {
  float: left;
  max-width: 660px;
  width: 100%;
  text-align: center; }

.col-head-2 {
  float: right;
  max-width: 268px;
  width: 100%; }

.hero .tile__link {
  float: left;
  margin-bottom: 11px; }

.hero .tile__link:nth-of-type(even) {
  float: right; }

@media screen and (max-width: 960px) {
  .hero {
    left: 0;
    margin-left: 0; }
  .col-head-1 .box {
    text-align: center; }
  .col-head-1, .col-head-2 {
    max-width: none; }
  .col-head-2 {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .col-head-2 .tile {
    margin-bottom: 15px; } }

@media screen and (max-width: 880px) {
  .col-head-1 {
    margin-bottom: 20px; }
  .col-head-2 {
    max-width: 511px;
    float: none;
    margin: 0 auto; } }

@media screen and (max-width: 730px) {
  #content .hero-heading {
    font-size: 36px;
    line-height: 64px; }
  #content .hero-huge {
    font-size: 80px; }
  #content .hero-cta {
    margin-top: 120px; } }

@media screen and (max-width: 600px) {
  .hero .box {
    min-height: auto; }
  .box-horizontal {
    position: static; }
  .box-horizontal .box-img-holder {
    position: relative;
    width: 100%;
    min-height: 200px; }
  .box-horizontal .box-content {
    position: static;
    width: 100%; } }

@media screen and (max-width: 480px) {
  #head-sec {
    background: url("../img/kv-mob.jpg") no-repeat 50% 50%;
    background-size: cover; }
  #head-motion-bg {
    display: none; }
  #content .box__title_large {
    font-size: 32px;
    line-height: 34px; } }

@media screen and (max-width: 445px) {
  .col-head-2 {
    max-width: 286px; } }

@media screen and (max-width: 420px) {
  #content .hero-heading {
    font-size: 32px;
    line-height: 46px; }
  #content .hero-huge {
    font-size: 70px;
    line-height: 54px; }
  #content .hero-cta {
    margin-top: 100px; } }

/* BOX SECTION */
.box__mkr .box__title {
  margin-bottom: 6px !important; }

.box__mkr .box__link {
  margin-top: 10px !important; }

.box__mkr input {
  width: 100%;
  font-size: 16px; }

.box__mkr .tc {
  width: 100%;
  text-align: center; }

#content .mkr__input.placeholder {
  color: #a9a9a9; }

#content p.mkr__error {
  color: red;
  display: none;
  margin-top: 5px; }

.box-mag-1 {
  min-height: 187px; }

.box-mag-1 .box-img {
  position: absolute;
  left: -20%; }

#content .box-mag-1 p.box__title {
  margin-bottom: 10px; }

.box-mag-1 .box-img-holder {
  width: 65%; }

.box-mag-1 .box-content {
  padding: 20px 40px;
  width: 35%; }

.col-huge {
  width: 84.4%;
  float: left;
  margin-right: 2%; }

.col-small {
  float: left;
  width: 13.6%; }

@media screen and (max-width: 960px) {
  .col-small {
    display: none; }
  .col-huge {
    width: 100%;
    margin-right: 0; } }

@media screen and (max-width: 810px) {
  .box-mag-1 .box-img-holder {
    width: 50%; }
  .box-mag-1 .box-content {
    width: 50%; }
  .box-mag-1 .box-img {
    left: -40%; } }

@media screen and (max-width: 600px) {
  .box-mag-1 .box-img-holder {
    width: 100%;
    min-height: 187px; }
  .box-mag-1 .box-content {
    width: 100%; }
  .box-mag-1 .box-img {
    left: 0; } }

@media screen and (max-width: 520px) {
  .box-mag-1 {
    max-width: 303px; }
  .box-mag-1 .box-content {
    padding: 20px 15px; }
  .box-mag-1 .box-img {
    left: -60%; }
  .col-huge {
    text-align: center; }
  .col-huge .box {
    float: none;
    text-align: left; } }

/* INOVATION SECTION */
.section-inovations .col-3 {
  min-width: 303px; }

.col-holder {
  margin: 0 auto;
  float: left;
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center; }

.col-holder .col-3 {
  text-align: left;
  display: inline-block; }

.col-holder .col-3:nth-of-type(2) {
  margin-right: 0; }

@media screen and (max-width: 700px) {
  .col-holder {
    display: block; }
  .section-inovations .col-3 {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
    text-align: center;
    display: block; }
  .section-inovations .col-3 .box {
    text-align: left; }
  .section-inovations .col-3 .box:first-of-type {
    margin-bottom: 15px; } }

/* FORUM SECTION */
.forum-section {
  margin: 40px 0; }

#content a.forum-link {
  cursor: pointer !important;
  display: block; }

#content .forum-section .title-line-through {
  text-align: center;
  margin: 0; }

#content .fs-title {
  color: #0e2007;
  font-weight: 400;
  padding: 0 10px;
  display: inline-block;
  background-color: #fff; }

#content .fs-description {
  margin: 0;
  text-align: center; }

.forum-section .col-6 {
  width: 49%;
  float: left; }

.forum-section .col-6:nth-of-type(2) {
  float: right; }

.forum {
  margin: 20px 0 25px 0; }

#content .forum-table p {
  margin: 0;
  cursor: pointer !important; }

#content .forum-table .ft__head p {
  cursor: default !important; }

.ft__head, .ft__item {
  border-bottom: 1px solid #d0d0d0; }

#content .ft__head p {
  font-weight: bold;
  font-size: 17px;
  color: #262626; }

.ft__item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 7px 0; }

.ft__item:hover {
  background-color: #ededed; }

.ft__left {
  width: 60%; }

.ft__mid {
  width: 35%; }

.ft__right {
  width: 5%;
  text-align: center; }

#content .fti__title:hover {
  text-decoration: underline; }

#content .fti__cat {
  color: #6c6c6c; }

.forum-cta {
  width: 100%;
  float: left;
  text-align: center; }

@media screen and (max-width: 700px) {
  .forum-section .col-6 {
    width: 100%; }
  .forum .col-6:nth-of-type(2) {
    margin-top: 20px; } }
