/* =============== IMPORTS  =============== */
/* =============== GLOBAL IMPORTS  =============== */
/* =============== BASE IMPORTS  =============== */
/* =============== RESET PORTAL STYLES =============== */
#wrapper #content {
  padding-bottom: 0; }

#wrapper .portlet-column-content {
  padding: 0; }

#content h1, #content h2, #content h3 {
  text-decoration: none;
  border: 0; }

#content a {
  text-decoration: none;
  font-size: 16px; }

#content p {
  font-size: 16px; }

#content ul {
  list-style: none; }

#wrapper .wbreadcrumbs {
  display: none; }

#content, #content * {
  box-sizing: border-box; }

#content .portlet-content {
  padding: 0; }

#main-content .portlet-column {
  display: block; }

#content .portlet-layout {
  display: block; }

#content .row {
  line-height: normal; }

/* =============== GLOBAL CONFIG  =============== */
/* =============== UTILITIES  =============== */
/* =============== FUNCTIONS & MIXINS =============== */
/* =============== CSS FOR STICKY NAV =============== */
.text_centered {
  text-align: center; }

.text_left {
  text-align: left; }

.text_uc {
  text-transform: uppercase; }

.text_bold {
  font-weight: bold; }

.text_initial {
  text-transform: initial; }

#wrapper .text__link {
  font-size: 18px; }

#wrapper .font_magenta {
  color: #e20074; }

#wrapper .font_black {
  color: #000000; }

#wrapper .font_white {
  color: #ffffff; }

#wrapper .font_mine-shaft {
  color: #383838; }

#wrapper .font_deep-cerulean {
  color: #007faf; }

/* =============== SPACING =============== */
#wrapper .margin_top20 {
  margin-top: 20px; }

#wrapper .margin_top50 {
  margin-top: 50px; }

#wrapper .margin_bottom20 {
  margin-bottom: 20px; }

#wrapper .mid__icon {
  vertical-align: middle; }

/* =============== BASE IMPORTS =============== */
/* =============== CSS FOR BUTTONS =============== */
/* LEGACY BUTTONS     */
#wrapper .button {
  color: #fff;
  font-size: 16px;
  padding: 0 17px;
  border-radius: 4px; }

#wrapper .button_font-black {
  color: #000; }

#wrapper .button_cream-can {
  background-color: #f2c957;
  border: 1px solid #f2c957; }

#wrapper .button_lima {
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#wrapper .button_gray {
  background-color: #8c8c8c;
  border: 1px solid #8c8c8c; }

#wrapper .btn_double {
  background-color: #6bb324;
  border: 1px solid #65ac20;
  height: 60px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px; }

/* LEGACY BUTTONS END */
#content .btn {
  text-transform: uppercase;
  font-size: 16px;
  color: #383838;
  background-color: #ededed;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 8px 19px;
  display: inline-block;
  text-decoration: none; }

#content .btn .fa {
  margin-right: 6px; }

#content .btn .fa-only {
  margin-right: 0; }

#content .btn:hover {
  background-color: #dbdbdb;
  border: 1px solid #a1a1a1; }

#content .btn:active {
  background-color: #e7e7e7;
  border: 1px solid #a4a4a4; }

#content .btn.btn_disabled {
  color: #bababa;
  background-color: #f2f2f2;
  border: 1px solid #dedede;
  cursor: no-drop; }

#content .cta {
  color: #ffffff;
  background-color: #6bb324;
  border: 1px solid #65ac20; }

#content .cta:hover {
  background-color: #58951c;
  border: 1px solid #4d8319; }

#content .cta:active {
  background-color: #5e9e20;
  border: 1px solid #65ac20; }

#content .cta_mag {
  color: #ffffff;
  background-color: #e20074;
  border: 1px solid #cc0069; }

#content .cta_mag:hover {
  background-color: #cc0069;
  border: 1px solid #9f0052; }

#content .cta_mag:active {
  background-color: #db0070;
  border: 1px solid #cc0069; }

#content .cta.btn_disabled, #content .cta_mag.btn_disabled {
  color: #ffffff;
  background-color: #d7d7d7;
  border: 1px solid #cdcdcd; }

#content .btn_clean {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #383838; }

#content .btn_clean:hover {
  background-color: #ededed;
  border: 1px solid #ededed; }

#content .btn_outline, #content .btn_outline:hover {
  background-color: transparent;
  border: 1px solid #a4a4a4; }

#content .btn_white-outline, #content .btn_white-outline:hover {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff; }

#content .btn_mag-outline, #content .btn_mag-outline:hover {
  background-color: transparent;
  color: #e20074;
  border: 1px solid #e20074; }

#content .link {
  color: #007faf;
  text-decoration: underline; }

#content .link:hover {
  color: #00668d;
  text-decoration: underline; }

#content .link:active {
  color: #017ba9;
  text-decoration: none; }

.play {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: inline-block;
  background-color: #ededed;
  border: 1px solid #b4b4b4;
  position: relative; }

.play .fa {
  color: #383838;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-30%); }

#content .input, #content .textarea {
  border-radius: 4px;
  border: 1px solid #a4a4a4;
  font-size: 18px;
  padding: 7px 10px;
  display: block; }

#content .input:active, #content .input:focus, #content .textarea:active, #content .textarea:focus {
  border-color: #66afe9;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  outline: none; }

#content .input-label {
  display: block;
  font-size: 15px;
  color: #383838;
  margin-bottom: 0; }

#content div.radio span {
  border: 1px solid #b6b6b6;
  background-color: #ededed; }

#content div.radio span.checked:before {
  width: 16px;
  height: 16px;
  top: 6px;
  left: 6px;
  background-color: #6bb324; }

#content div.checker span {
  border: 1px solid #b6b6b6;
  background-color: #ededed;
  border-radius: 4px; }

#content div.checker span.checked:before {
  left: 6px;
  font-size: 16px; }

.tooltip .qtip-content {
  border-radius: 4px; }

/* =============== CSS FOR STICKY NAV =============== */
#nav-sticky ul {
  list-style-type: none;
  width: 940px;
  margin: 0 auto; }

#nav-sticky ul li {
  display: inline-block; }

#nav-sticky {
  background-color: #ededed;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  z-index: 100;
  text-transform: uppercase; }

#nav-sticky a {
  text-decoration: none;
  height: 55px;
  line-height: 55px;
  display: block;
  color: #000;
  padding: 0 15px; }

#nav-sticky a:hover, #nav-sticky a.active {
  background-color: #fff;
  color: #e20074; }

#nav-sticky li:last-child {
  float: right; }

#nav-sticky li:last-child a {
  color: #7c7c7c; }

@media screen and (max-width: 960px) {
  #nav-sticky ul {
    width: 100%; } }

@media screen and (max-width: 799px) {
  #nav-sticky-sticky-wrapper, #nav-sticky {
    display: none; } }

/* =============== HERO KV =============== */
.portlet-body .journal-content-article .hero__title {
  color: #fff;
  border: 0;
  font-size: 36px;
  text-transform: uppercase;
  padding-bottom: 0;
  margin-top: 0; }

.portlet-body .journal-content-article .hero__desc {
  color: #fff;
  font-size: 20px;
  line-height: 20px; }

.hero__content, .hero__img {
  display: inline-block;
  vertical-align: top; }

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    padding: 40px 2%; } }

@media screen and (max-width: 720px) {
  .portlet-body .journal-content-article .hero__title {
    font-size: 30px; } }

@media screen and (max-width: 560px) {
  .hero__content {
    width: 96%;
    margin: 0 2%; } }

/* =============== MEDIA =============== */
.media {
  display: table;
  width: 100%; }

.media__image, .media__body {
  display: table-cell;
  vertical-align: middle; }

.media--top .media__image, .media--top .media__body {
  vertical-align: top; }

.media--bottom .media__image, .media--bottom .media__body {
  vertical-align: bottom; }

.media_v__image, .media_v__body {
  width: 100%; }

/* =============== FANCYBOX =============== */
body .fancybox-wrap {
  border: 10px solid #6b6b6b;
  box-shadow: none; }

.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

body .fancybox-wrap .fancybox-close {
  top: -28px;
  right: -28px;
  width: 16px;
  height: 16px; }

/* =============== QTIP =============== */
.tooltip .qtip-content {
  font-size: 14px;
  text-align: center; }

#content .heapBox {
  margin: 0; }

.heapBox .holder {
  border-radius: 4px 0 0 4px; }

.heapBox .handler {
  border-radius: 0 4px 4px 0; }

.heapBox div.heap {
  border-radius: 4px;
  border-top: 1px solid #a1a1a1;
  top: 120%; }

.heapBox div.heap:before {
  display: none; }

#content .heapOptions {
  margin: 0; }

#content .heapBox .holder, #content .heapBox .handler {
  max-height: 36px;
  background-color: #ededed;
  text-decoration: none; }

#content .heapBox.open {
  height: 36px; }

#content .heapBox.open .holder, #content .heapBox.open .handler {
  background-color: #cdcdcd; }

#content .heapBox.open .holder {
  padding: 8px 10px 8px 9px; }

#content .heapBox .handler:after {
  content: "\f107";
  font-family: FontAwesome;
  color: #383838;
  border: 0;
  right: 20px; }

#content .heapBox.open .handler:after {
  content: "\f106"; }

/* TABS */
#content .tabs-container ul {
  list-style: none; }

#content .tabs-container .tab-link {
  cursor: pointer; }

.tab__holder {
  text-align: center;
  line-height: 0; }

#content .tabs-menu {
  height: 40px;
  clear: both;
  margin: 0;
  display: inline-block; }

.tabs-menu li {
  height: 40px;
  line-height: 40px;
  float: left; }

.tabs-menu li.current {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  z-index: 5;
  border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover {
  border-bottom: 4px solid #ededed; }

.tabs-menu li a {
  font-size: 1em;
  padding: 0 40px;
  color: #757575;
  text-decoration: none;
  display: inline-block; }

.tabs-menu li a:hover {
  color: #383838; }

.tabs-menu .current a {
  color: #6bb324; }

.tab {
  border-top: 1px solid #dbdbdb;
  width: 100%; }

.tab__variant {
  display: none; }

.tab__variant.selected {
  display: block; }

.tab-content {
  margin-top: 45px;
  display: none; }

#tab-1 {
  display: block; }

@media screen and (max-width: 520px) {
  #content .tabs-menu {
    width: 100%; }
  .tabs-menu li:hover {
    border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current {
    width: 100%;
    border: 1px solid #dbdbdb;
    border-bottom: 0; }
  .tabs-menu li:last-of-type {
    border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu {
    height: auto; }
  .tab {
    border: 0; }
  .tabs-menu li a {
    padding: 0;
    display: block; } }

#content span.hide-span {
  width: 0;
  height: 0;
  border: 0 !important; }

#content div.checker span.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  position: relative;
  vertical-align: middle;
  width: 50px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box; }

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px; }

/* Switchery sizes. */
.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px; }

.switchery-small > small {
  height: 20px;
  width: 20px; }

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px; }

.switchery-large > small {
  height: 40px;
  width: 40px; }

body .fancybox-wrap {
  border: 0; }

.fancybox-skin {
  background-color: #fff;
  border-radius: 3px; }

.fancybox-opened .fancybox-skin {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5); }

.p-head {
  display: block;
  height: 30px;
  border-bottom: 1px solid #d0d0d0;
  margin-bottom: 10px; }

.p-close {
  background: url("/documents/10179/8158104/ico-close.png") no-repeat;
  width: 17px;
  height: 17px;
  display: inline-block;
  float: right; }

/* =============== LAYOUT IMPORTS =============== */
/* =============== GRID COLUMNS =============== */
#content .grid__col_1, #content .grid__col_2, #content .grid__col_3, #content .grid__col_4, #content .grid__col_5, #content .grid__col_6, #content .grid__col_7, #content .grid__col_8, #content .grid__col_9, #content .grid__col_10, #content .grid__col_11, #content .grid__col_12, #content .grid-g__col_1, #content .grid-g__col_2, #content .grid-g__col_3, #content .grid-g__col_4, #content .grid-g__col_5, #content .grid-g__col_6, #content .grid-g__col_7, #content .grid-g__col_8, #content .grid-g__col_9, #content .grid-g__col_10, #content .grid-g__col_11, #content .grid-g__col_12 {
  float: left; }

#content .grid__col_1 {
  width: 8.20793%; }

#content .grid__col_2 {
  width: 16.55267%; }

#content .grid__col_3 {
  width: 24.8974%; }

#content .grid__col_4 {
  width: 33.24213%; }

#content .grid__col_5 {
  width: 41.58687%; }

#content .grid__col_6 {
  width: 49.9316%; }

#content .grid__col_7 {
  width: 58.27633%; }

#content .grid__col_8 {
  width: 66.62107%; }

#content .grid__col_9 {
  width: 74.9658%; }

#content .grid__col_10 {
  width: 83.31053%; }

#content .grid__col_11 {
  width: 91.65527%; }

#content .grid__col_12 {
  width: 100%; }

#content .grid-g__col_1 {
  width: 6.38298%; }

#content .grid-g__col_2 {
  width: 14.89362%; }

#content .grid-g__col_3 {
  width: 23.40426%; }

#content .grid-g__col_4 {
  width: 31.91489%; }

#content .grid-g__col_5 {
  width: 40.42553%; }

#content .grid-g__col_6 {
  width: 48.93617%; }

#content .grid-g__col_7 {
  width: 57.44681%; }

#content .grid-g__col_8 {
  width: 65.95745%; }

#content .grid-g__col_9 {
  width: 74.46809%; }

#content .grid-g__col_10 {
  width: 82.97872%; }

#content .grid-g__col_11 {
  width: 91.48936%; }

#content .grid-g__col_12 {
  width: 100%; }

/*@import 'grid-system';*/
.row {
  width: 100%;
  float: left; }

.fixed-column {
  width: 940px;
  margin: 0 auto; }

@media screen and (max-width: 960px) {
  .fixed-column {
    width: 96%;
    padding: 0 2%; } }

.section {
  width: 100%;
  float: left; }

.col-group:after {
  content: "";
  display: table;
  clear: both; }

.section {
  width: 100%;
  float: left; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container::after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 544px) {
  .container {
    max-width: 576px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 940px; } }

@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.container-fixed {
  margin: 0 auto;
  max-width: 940px; }

@media screen and (max-width: 960px) {
  .container-fixed {
    width: 96%;
    padding: 0 2%; } }

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }

.container-fluid::after {
  content: "";
  display: table;
  clear: both; }

.row::after {
  content: "";
  display: table;
  clear: both; }

.col-xs-1 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 8.33333%; }

.col-xs-2 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 16.66667%; }

.col-xs-3 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 25%; }

.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 33.33333%; }

.col-xs-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 41.66667%; }

.col-xs-6 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 50%; }

.col-xs-7 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 58.33333%; }

.col-xs-8 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 66.66667%; }

.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 75%; }

.col-xs-10 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 83.33333%; }

.col-xs-11 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 91.66667%; }

.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  float: left;
  width: 100%; }

.pull-xs-0 {
  right: auto; }

.pull-xs-1 {
  right: 8.33333%; }

.pull-xs-2 {
  right: 16.66667%; }

.pull-xs-3 {
  right: 25%; }

.pull-xs-4 {
  right: 33.33333%; }

.pull-xs-5 {
  right: 41.66667%; }

.pull-xs-6 {
  right: 50%; }

.pull-xs-7 {
  right: 58.33333%; }

.pull-xs-8 {
  right: 66.66667%; }

.pull-xs-9 {
  right: 75%; }

.pull-xs-10 {
  right: 83.33333%; }

.pull-xs-11 {
  right: 91.66667%; }

.pull-xs-12 {
  right: 100%; }

.push-xs-0 {
  left: auto; }

.push-xs-1 {
  left: 8.33333%; }

.push-xs-2 {
  left: 16.66667%; }

.push-xs-3 {
  left: 25%; }

.push-xs-4 {
  left: 33.33333%; }

.push-xs-5 {
  left: 41.66667%; }

.push-xs-6 {
  left: 50%; }

.push-xs-7 {
  left: 58.33333%; }

.push-xs-8 {
  left: 66.66667%; }

.push-xs-9 {
  left: 75%; }

.push-xs-10 {
  left: 83.33333%; }

.push-xs-11 {
  left: 91.66667%; }

.push-xs-12 {
  left: 100%; }

.offset-xs-1 {
  margin-left: 8.33333%; }

.offset-xs-2 {
  margin-left: 16.66667%; }

.offset-xs-3 {
  margin-left: 25%; }

.offset-xs-4 {
  margin-left: 33.33333%; }

.offset-xs-5 {
  margin-left: 41.66667%; }

.offset-xs-6 {
  margin-left: 50%; }

.offset-xs-7 {
  margin-left: 58.33333%; }

.offset-xs-8 {
  margin-left: 66.66667%; }

.offset-xs-9 {
  margin-left: 75%; }

.offset-xs-10 {
  margin-left: 83.33333%; }

.offset-xs-11 {
  margin-left: 91.66667%; }

@media (min-width: 544px) {
  .col-sm-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-sm-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-sm-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-sm-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-sm-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-sm-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-sm-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-sm-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-sm-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-sm-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-sm-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-sm-0 {
    right: auto; }
  .pull-sm-1 {
    right: 8.33333%; }
  .pull-sm-2 {
    right: 16.66667%; }
  .pull-sm-3 {
    right: 25%; }
  .pull-sm-4 {
    right: 33.33333%; }
  .pull-sm-5 {
    right: 41.66667%; }
  .pull-sm-6 {
    right: 50%; }
  .pull-sm-7 {
    right: 58.33333%; }
  .pull-sm-8 {
    right: 66.66667%; }
  .pull-sm-9 {
    right: 75%; }
  .pull-sm-10 {
    right: 83.33333%; }
  .pull-sm-11 {
    right: 91.66667%; }
  .pull-sm-12 {
    right: 100%; }
  .push-sm-0 {
    left: auto; }
  .push-sm-1 {
    left: 8.33333%; }
  .push-sm-2 {
    left: 16.66667%; }
  .push-sm-3 {
    left: 25%; }
  .push-sm-4 {
    left: 33.33333%; }
  .push-sm-5 {
    left: 41.66667%; }
  .push-sm-6 {
    left: 50%; }
  .push-sm-7 {
    left: 58.33333%; }
  .push-sm-8 {
    left: 66.66667%; }
  .push-sm-9 {
    left: 75%; }
  .push-sm-10 {
    left: 83.33333%; }
  .push-sm-11 {
    left: 91.66667%; }
  .push-sm-12 {
    left: 100%; }
  .offset-sm-0 {
    margin-left: 0%; }
  .offset-sm-1 {
    margin-left: 8.33333%; }
  .offset-sm-2 {
    margin-left: 16.66667%; }
  .offset-sm-3 {
    margin-left: 25%; }
  .offset-sm-4 {
    margin-left: 33.33333%; }
  .offset-sm-5 {
    margin-left: 41.66667%; }
  .offset-sm-6 {
    margin-left: 50%; }
  .offset-sm-7 {
    margin-left: 58.33333%; }
  .offset-sm-8 {
    margin-left: 66.66667%; }
  .offset-sm-9 {
    margin-left: 75%; }
  .offset-sm-10 {
    margin-left: 83.33333%; }
  .offset-sm-11 {
    margin-left: 91.66667%; } }

@media (min-width: 768px) {
  .col-md-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-md-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-md-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-md-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-md-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-md-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-md-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-md-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-md-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-md-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-md-0 {
    right: auto; }
  .pull-md-1 {
    right: 8.33333%; }
  .pull-md-2 {
    right: 16.66667%; }
  .pull-md-3 {
    right: 25%; }
  .pull-md-4 {
    right: 33.33333%; }
  .pull-md-5 {
    right: 41.66667%; }
  .pull-md-6 {
    right: 50%; }
  .pull-md-7 {
    right: 58.33333%; }
  .pull-md-8 {
    right: 66.66667%; }
  .pull-md-9 {
    right: 75%; }
  .pull-md-10 {
    right: 83.33333%; }
  .pull-md-11 {
    right: 91.66667%; }
  .pull-md-12 {
    right: 100%; }
  .push-md-0 {
    left: auto; }
  .push-md-1 {
    left: 8.33333%; }
  .push-md-2 {
    left: 16.66667%; }
  .push-md-3 {
    left: 25%; }
  .push-md-4 {
    left: 33.33333%; }
  .push-md-5 {
    left: 41.66667%; }
  .push-md-6 {
    left: 50%; }
  .push-md-7 {
    left: 58.33333%; }
  .push-md-8 {
    left: 66.66667%; }
  .push-md-9 {
    left: 75%; }
  .push-md-10 {
    left: 83.33333%; }
  .push-md-11 {
    left: 91.66667%; }
  .push-md-12 {
    left: 100%; }
  .offset-md-0 {
    margin-left: 0%; }
  .offset-md-1 {
    margin-left: 8.33333%; }
  .offset-md-2 {
    margin-left: 16.66667%; }
  .offset-md-3 {
    margin-left: 25%; }
  .offset-md-4 {
    margin-left: 33.33333%; }
  .offset-md-5 {
    margin-left: 41.66667%; }
  .offset-md-6 {
    margin-left: 50%; }
  .offset-md-7 {
    margin-left: 58.33333%; }
  .offset-md-8 {
    margin-left: 66.66667%; }
  .offset-md-9 {
    margin-left: 75%; }
  .offset-md-10 {
    margin-left: 83.33333%; }
  .offset-md-11 {
    margin-left: 91.66667%; } }

@media (min-width: 992px) {
  .col-lg-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-lg-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-lg-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-lg-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-lg-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-lg-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-lg-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-lg-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-lg-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-lg-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-lg-0 {
    right: auto; }
  .pull-lg-1 {
    right: 8.33333%; }
  .pull-lg-2 {
    right: 16.66667%; }
  .pull-lg-3 {
    right: 25%; }
  .pull-lg-4 {
    right: 33.33333%; }
  .pull-lg-5 {
    right: 41.66667%; }
  .pull-lg-6 {
    right: 50%; }
  .pull-lg-7 {
    right: 58.33333%; }
  .pull-lg-8 {
    right: 66.66667%; }
  .pull-lg-9 {
    right: 75%; }
  .pull-lg-10 {
    right: 83.33333%; }
  .pull-lg-11 {
    right: 91.66667%; }
  .pull-lg-12 {
    right: 100%; }
  .push-lg-0 {
    left: auto; }
  .push-lg-1 {
    left: 8.33333%; }
  .push-lg-2 {
    left: 16.66667%; }
  .push-lg-3 {
    left: 25%; }
  .push-lg-4 {
    left: 33.33333%; }
  .push-lg-5 {
    left: 41.66667%; }
  .push-lg-6 {
    left: 50%; }
  .push-lg-7 {
    left: 58.33333%; }
  .push-lg-8 {
    left: 66.66667%; }
  .push-lg-9 {
    left: 75%; }
  .push-lg-10 {
    left: 83.33333%; }
  .push-lg-11 {
    left: 91.66667%; }
  .push-lg-12 {
    left: 100%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .offset-lg-1 {
    margin-left: 8.33333%; }
  .offset-lg-2 {
    margin-left: 16.66667%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .offset-lg-4 {
    margin-left: 33.33333%; }
  .offset-lg-5 {
    margin-left: 41.66667%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .offset-lg-7 {
    margin-left: 58.33333%; }
  .offset-lg-8 {
    margin-left: 66.66667%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .offset-lg-10 {
    margin-left: 83.33333%; }
  .offset-lg-11 {
    margin-left: 91.66667%; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 8.33333%; }
  .col-xl-2 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 16.66667%; }
  .col-xl-3 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 25%; }
  .col-xl-4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 33.33333%; }
  .col-xl-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 41.66667%; }
  .col-xl-6 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 50%; }
  .col-xl-7 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 58.33333%; }
  .col-xl-8 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 66.66667%; }
  .col-xl-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 75%; }
  .col-xl-10 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 83.33333%; }
  .col-xl-11 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 91.66667%; }
  .col-xl-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 100%; }
  .pull-xl-0 {
    right: auto; }
  .pull-xl-1 {
    right: 8.33333%; }
  .pull-xl-2 {
    right: 16.66667%; }
  .pull-xl-3 {
    right: 25%; }
  .pull-xl-4 {
    right: 33.33333%; }
  .pull-xl-5 {
    right: 41.66667%; }
  .pull-xl-6 {
    right: 50%; }
  .pull-xl-7 {
    right: 58.33333%; }
  .pull-xl-8 {
    right: 66.66667%; }
  .pull-xl-9 {
    right: 75%; }
  .pull-xl-10 {
    right: 83.33333%; }
  .pull-xl-11 {
    right: 91.66667%; }
  .pull-xl-12 {
    right: 100%; }
  .push-xl-0 {
    left: auto; }
  .push-xl-1 {
    left: 8.33333%; }
  .push-xl-2 {
    left: 16.66667%; }
  .push-xl-3 {
    left: 25%; }
  .push-xl-4 {
    left: 33.33333%; }
  .push-xl-5 {
    left: 41.66667%; }
  .push-xl-6 {
    left: 50%; }
  .push-xl-7 {
    left: 58.33333%; }
  .push-xl-8 {
    left: 66.66667%; }
  .push-xl-9 {
    left: 75%; }
  .push-xl-10 {
    left: 83.33333%; }
  .push-xl-11 {
    left: 91.66667%; }
  .push-xl-12 {
    left: 100%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .offset-xl-1 {
    margin-left: 8.33333%; }
  .offset-xl-2 {
    margin-left: 16.66667%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .offset-xl-4 {
    margin-left: 33.33333%; }
  .offset-xl-5 {
    margin-left: 41.66667%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .offset-xl-7 {
    margin-left: 58.33333%; }
  .offset-xl-8 {
    margin-left: 66.66667%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .offset-xl-10 {
    margin-left: 83.33333%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

/* ===============
CSS FOR MICROSITE
=============== */
/* GLOBALS */
.title-line-through {
  position: relative;
  margin: 10px 0 10px 0; }

#content .img-title {
  margin: 0;
  padding: 0;
  text-align: center; }

.title-line-through img {
  background-color: #fff;
  padding: 0 10px; }

.title-line-through .line {
  width: 100%;
  position: absolute;
  top: 40%;
  height: 1px;
  background-color: #d0d0d0;
  display: block;
  z-index: -1; }

@media screen and (max-width: 360px) {
  .title-line-through img {
    margin: 0;
    width: 100%;
    text-align: center; } }

/* TABS */
.tabs-section {
  margin-top: 20px; }

.tab-content {
  margin-top: 20px; }

.tabs-menu li a {
  padding: 0; }

.tabs-menu li {
  margin: 0 10px; }

.tabs-section .box {
  float: left;
  margin-bottom: 15px; }

.col-3 {
  max-width: 303px;
  width: 32%;
  float: left; }

.col-3:nth-of-type(2) {
  margin: 0 2%; }

@media screen and (max-width: 700px) {
  .col-3 {
    width: 100%;
    margin: 0 auto;
    float: none; }
  .col-3:nth-of-type(2) {
    margin: 0 auto; } }

/* TAB:Volania */
#content .tab2__col1 .tab2__col1-row2 .box-content {
  min-height: 107px; }

#content .tab2__col1 .tab2__col1-row2 .box-content p.box__title {
  color: #fff; }

#content .tab2__col1 .tab2__col1-row2 .box-content .box__link {
  color: #fff; }

#content .tab2__col1 .tab2__col1-row2:hover p.box__title {
  color: #4b4b4b; }

#content .tab2__col1 .tab2__col1-row2:hover .box__link {
  color: #007faf; }

#content .tab2__col2 .box-content {
  min-height: 123px; }

.ec-holder {
  position: relative; }

.ec-holder .ec-img {
  position: absolute;
  bottom: 5px;
  right: -5px; }

/* ACCORDION */
.accordion {
  display: none; }

@media screen and (max-width: 520px) {
  .tabs-container .tab__holder, .tabs-container .tab {
    display: none; }
  .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px; }
  .accordion .item .heading {
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    background: url("../img/ico-plus.png") no-repeat;
    background-position: right center;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    font-weight: 500; }
  .accordion .item.open .heading {
    background: url("../img/ico-minus.png") no-repeat;
    background-position: right center; }
  .accordion .item .content {
    display: none;
    padding-bottom: 15px; }
  .accordion .item.open .content {
    display: block; }
  #content .accordion .item .content p {
    margin-top: 0; }
  .content:after {
    content: "";
    display: table;
    clear: both; } }

/* BOX */
.box {
  border: 1px solid #d0d0d0;
  display: inline-block;
  max-width: 305px;
  width: 100%; }

.box_flex-width {
  max-width: inherit; }

.box_dark {
  background-color: #262626; }

.box_gray {
  background-color: #f5f5f5; }

.box_mageta {
  background-color: #e20074; }

.box .img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.box:hover .img {
  opacity: 0.8; }

.box-img {
  display: block;
  object-fit: cover; }

.box-img-holder {
  background-color: #000;
  overflow: hidden; }

.box-content {
  padding: 20px 15px; }

.box-horizontal {
  position: relative; }

.box_large .box-img {
  position: absolute;
  left: -40%;
  top: -20%; }

.box-horizontal .box-img-holder {
  overflow: hidden;
  width: 60%;
  position: absolute;
  top: 0;
  bottom: 0; }

.box-horizontal .box-content {
  width: 40%;
  position: absolute;
  top: 0;
  bottom: 0; }

.box-horizontal_left .box-img-holder, .box-horizontal_right .box-content {
  float: left;
  left: 0;
  right: inherit; }

.box-horizontal_left .box-content, .box-horizontal_right .box-img-holder {
  float: right;
  right: 0;
  left: inherit; }

.box__cmb .box-content {
  background: url("../img/cmb-operator.png") no-repeat 18px center;
  padding-left: 80px;
  background-size: 44px; }

.box__cmb.box__cmb_vertical {
  max-width: 128px; }

.box__cmb.box__cmb_vertical .box-content {
  background: url("../img/cmb-operator.png") no-repeat center 20px;
  padding-top: 80px;
  padding-left: 15px;
  text-align: center;
  background-size: 44px; }

.box:hover .box-content {
  background-color: #ededed; }

.box.box_dark:hover .box-content {
  background-color: #000; }

.box:hover .box-img {
  opacity: 0.8; }

#content .box p, #content .box a {
  margin: 0;
  display: inline-block; }

#content p.box__title {
  font-size: 20px;
  line-height: 22px;
  display: block; }

#content .box__title_large {
  font-size: 44px;
  line-height: 46px; }

#content .box__desc {
  line-height: 15px; }

#content .box__link {
  color: #007faf; }

#content .box__link_dark {
  color: #4b4b4b; }

#content .box_dark .box__title {
  color: #fff; }

#content .box_dark .box__link {
  color: #3ec0f0; }

#content .box__link_ul {
  text-decoration: underline; }

.link-arrow {
  vertical-align: baseline; }

#content .box__btn {
  margin-top: 10px !important;
  width: 100%;
  text-align: center; }

@media screen and (max-width: 600px) {
  .box_large .box-img {
    position: absolute;
    left: -30%;
    top: -80%; } }

@media screen and (max-width: 400px) {
  .box_large .box-img {
    position: absolute;
    left: -75%; } }

/* AD & CMB BOXES */
.box__cmb {
  display: none; }

.box-ad_vertical, .box-ad_vertical .box-content {
  min-height: 187px; }

/* TILE */
#sec-mob-tile {
  display: none; }

.tile__link {
  display: inline-block; }

.tile {
  background-color: rgba(75, 75, 75, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 128px;
  width: 128px;
  display: flex;
  align-items: center;
  justify-content: center; }

.tile:hover {
  background-color: rgba(255, 255, 255, 0.3); }

.tile__inner {
  display: flex;
  flex-direction: column;
  align-items: center; }

#content .tile__title {
  color: #fff;
  display: inline-block;
  margin: 8px 0 0 0;
  line-height: 16px;
  text-align: center;
  cursor: pointer; }

#sec-mob-tile {
  padding: 35px 0 0 0; }

#mob-tiles .tile {
  background-color: #8e8e8e;
  border: 1px solid #8e8e8e; }

#mob-tiles .tile:hover {
  background-color: #6c6c6c;
  border: 1px solid #6c6c6c; }

@media screen and (max-width: 960px) {
  #sec-mob-tile {
    display: block; }
  #desc-tiles {
    display: none; } }

/* HERO */
#head-sec {
  min-height: 435px;
  background-color: #000000;
  position: relative;
  overflow: hidden; }

.hero {
  margin-top: 18px;
  position: absolute;
  left: 50%;
  z-index: 10;
  max-width: 940px;
  margin-left: -470px; }

#head-motion-bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-top: -400px;
  margin-left: -1280px; }

#content .hero-heading {
  color: #fff;
  font-size: 38px;
  text-transform: uppercase;
  line-height: 78px;
  margin-bottom: 0;
  padding-bottom: 0; }

#content .hero-huge {
  font-size: 110px;
  font-weight: 900; }

#content .hero-cta {
  font-size: 18px;
  padding: 10px 50px; }

.hero .box {
  min-height: 406px; }

.hero .box .box-content {
  padding: 45px 30px; }

#content .hero .box .box__btn {
  margin-top: 20px;
  width: auto; }

.box-1 .img {
  background: url("../img/box-1.jpg") no-repeat 50% 50%;
  background-size: cover; }

.col-head-1 {
  float: left;
  max-width: 660px;
  width: 100%;
  text-align: center; }

.col-head-2 {
  float: right;
  max-width: 268px;
  width: 100%; }

.hero .tile__link {
  float: left;
  margin-bottom: 11px; }

.hero .tile__link:nth-of-type(even) {
  float: right; }

@media screen and (max-width: 960px) {
  .hero {
    left: 0;
    margin-left: 0; }
  .col-head-1 .box {
    text-align: center; }
  .col-head-1, .col-head-2 {
    max-width: none; }
  .col-head-2 {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .col-head-2 .tile {
    margin-bottom: 15px; } }

@media screen and (max-width: 880px) {
  .col-head-1 {
    margin-bottom: 20px; }
  .col-head-2 {
    max-width: 511px;
    float: none;
    margin: 0 auto; } }

@media screen and (max-width: 730px) {
  #content .hero-heading {
    font-size: 36px;
    line-height: 64px; }
  #content .hero-huge {
    font-size: 80px; }
  #content .hero-cta {
    margin-top: 120px; } }

@media screen and (max-width: 600px) {
  .hero .box {
    min-height: auto; }
  .box-horizontal {
    position: static; }
  .box-horizontal .box-img-holder {
    position: relative;
    width: 100%;
    min-height: 200px; }
  .box-horizontal .box-content {
    position: static;
    width: 100%; } }

@media screen and (max-width: 480px) {
  #head-sec {
    background: url("../img/kv-mob.jpg") no-repeat 50% 50%;
    background-size: cover; }
  #head-motion-bg {
    display: none; }
  #content .box__title_large {
    font-size: 32px;
    line-height: 34px; } }

@media screen and (max-width: 445px) {
  .col-head-2 {
    max-width: 286px; } }

@media screen and (max-width: 420px) {
  #content .hero-heading {
    font-size: 32px;
    line-height: 46px; }
  #content .hero-huge {
    font-size: 70px;
    line-height: 54px; }
  #content .hero-cta {
    margin-top: 100px; } }

/* BOX SECTION */
.box__mkr .box__title {
  margin-bottom: 6px !important; }

.box__mkr .box__link {
  margin-top: 10px !important; }

.box__mkr input {
  width: 100%;
  font-size: 16px; }

.box__mkr .tc {
  width: 100%;
  text-align: center; }

#content .mkr__input.placeholder {
  color: #a9a9a9; }

#content p.mkr__error {
  color: red;
  display: none;
  margin-top: 5px; }

.box-mag-1 {
  min-height: 187px; }

.box-mag-1 .box-img {
  position: absolute;
  left: -20%; }

#content .box-mag-1 p.box__title {
  margin-bottom: 10px; }

.box-mag-1 .box-img-holder {
  width: 65%; }

.box-mag-1 .box-content {
  padding: 20px 40px;
  width: 35%; }

.col-huge {
  width: 84.4%;
  float: left;
  margin-right: 2%; }

.col-small {
  float: left;
  width: 13.6%; }

@media screen and (max-width: 960px) {
  .col-small {
    display: none; }
  .col-huge {
    width: 100%;
    margin-right: 0; } }

@media screen and (max-width: 810px) {
  .box-mag-1 .box-img-holder {
    width: 50%; }
  .box-mag-1 .box-content {
    width: 50%; }
  .box-mag-1 .box-img {
    left: -40%; } }

@media screen and (max-width: 600px) {
  .box-mag-1 .box-img-holder {
    width: 100%;
    min-height: 187px; }
  .box-mag-1 .box-content {
    width: 100%; }
  .box-mag-1 .box-img {
    left: 0; } }

@media screen and (max-width: 520px) {
  .box-mag-1 {
    max-width: 303px; }
  .box-mag-1 .box-content {
    padding: 20px 15px; }
  .box-mag-1 .box-img {
    left: -60%; }
  .col-huge {
    text-align: center; }
  .col-huge .box {
    float: none;
    text-align: left; } }

/* INOVATION SECTION */
.section-inovations .col-3 {
  min-width: 303px; }

.col-holder {
  margin: 0 auto;
  float: left;
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center; }

.col-holder .col-3 {
  text-align: left;
  display: inline-block; }

.col-holder .col-3:nth-of-type(2) {
  margin-right: 0; }

@media screen and (max-width: 700px) {
  .col-holder {
    display: block; }
  .section-inovations .col-3 {
    min-width: inherit;
    max-width: inherit;
    width: 100%;
    text-align: center;
    display: block; }
  .section-inovations .col-3 .box {
    text-align: left; }
  .section-inovations .col-3 .box:first-of-type {
    margin-bottom: 15px; } }

/* FORUM SECTION */
.forum-section {
  margin: 40px 0; }

#content a.forum-link {
  cursor: pointer !important;
  display: block; }

#content .forum-section .title-line-through {
  text-align: center;
  margin: 0; }

#content .fs-title {
  color: #0e2007;
  font-weight: 400;
  padding: 0 10px;
  display: inline-block;
  background-color: #fff; }

#content .fs-description {
  margin: 0;
  text-align: center; }

.forum-section .col-6 {
  width: 49%;
  float: left; }

.forum-section .col-6:nth-of-type(2) {
  float: right; }

.forum {
  margin: 20px 0 25px 0; }

#content .forum-table p {
  margin: 0;
  cursor: pointer !important; }

#content .forum-table .ft__head p {
  cursor: default !important; }

.ft__head, .ft__item {
  border-bottom: 1px solid #d0d0d0; }

#content .ft__head p {
  font-weight: bold;
  font-size: 17px;
  color: #262626; }

.ft__item {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 7px 0; }

.ft__item:hover {
  background-color: #ededed; }

.ft__left {
  width: 60%; }

.ft__mid {
  width: 35%; }

.ft__right {
  width: 5%;
  text-align: center; }

#content .fti__title:hover {
  text-decoration: underline; }

#content .fti__cat {
  color: #6c6c6c; }

.forum-cta {
  width: 100%;
  float: left;
  text-align: center; }

@media screen and (max-width: 700px) {
  .forum-section .col-6 {
    width: 100%; }
  .forum .col-6:nth-of-type(2) {
    margin-top: 20px; } }

/*# sourceMappingURL=maps/style.css.map */
