/* ===============
CSS FOR MICROSITE
=============== */

/* GLOBALS */

#content .sec__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}

.section {
    padding: 20px 0;
}

#content .tc {
    text-align: center;
}

#content .no-mp {
    margin: 0;
    padding: 0;
}

/* TABS */
#content .tabs-container ul { list-style: none; }

#content .tabs-container .tab-link { cursor: pointer; }

.tab__holder { text-align: center; line-height: 0; }

.segment .tab__holder {
  text-align: left;
}

#content .tabs-menu { height: 40px; clear: both; margin: 0; display: inline-block; }

#content .segment .tabs-menu {
  height: 39px;
  & li.variant:hover {
    height: 39px;
  }
  & li a {
    padding: 0 20px;
  }
  & li:hover {
    border-bottom: 0px;
    background-color: #ededed;
  }
  & .variant.current {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-bottom: 1px solid #fff;
    border-radius: 3px 3px 0 0px;
    & a {
      color: #757575;
    }
    &:hover {
      background-color: #fff;
      height: 40px;
    }
  }
}

.tabs-menu li { height: 40px; line-height: 40px; float: left; }

.tabs-menu li.current { position: relative; border-bottom: 1px solid #dbdbdb; z-index: 5; border-bottom: 4px solid #6bb324; }

.tabs-menu li:hover { border-bottom: 4px solid #ededed; }

.tabs-menu li a { font-size: 1em; padding: 0 40px; color: #757575; text-decoration: none; display: inline-block; }

.tabs-menu li a:hover { color: #383838; }

.tabs-menu .current a { color: #6bb324; }

.tab { border-top: 1px solid #dbdbdb; width: 100%; }

.segment .tab {
  border: none;
}

.tab__variant { display: none; }

.tab__variant.selected { display: block; }

.tab-content { margin-top: 45px; display: none; }

.segment .tab-content {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  border: 1px solid #b2b2b2;
}

#tab-1 { display: block; }

@media screen and (max-width: 520px) { #content .tabs-menu { width: 100%; }
  .tabs-menu li:hover { border-bottom: 0; }
  .tabs-menu li, .tabs-menu li.current { width: 100%; border: 1px solid #dbdbdb; border-bottom: 0; }
  .tabs-menu li:last-of-type { border-bottom: 1px solid #dbdbdb; }
  #content .tabs-menu { height: auto; }
  .tab { border: 0; }
  .tabs-menu li a { padding: 0; display: block; } }
/* TABS END */

/****************************************/
/* ACCORDION */
/****************************************/
// hide ACCORDION by default
.accordion {
    display: none;
}
@media screen and (max-width: 768px) {
  // hide TABS if window size <768px
  .tabs-container .tab__holder, .tabs-container .tab {
  display: none;
  }
  // show ACCORDION
    .accordion {
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        margin: auto;
        display: block;
        font-size: 16px;
        padding: 0% 2%;
    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url('../img/ico-plus.png') no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;
      & .ac-price {
            color: #a4a4a4;
            font-weight: normal;
      }
    }
    & .item.open .heading {
      background: url('../img/ico-minus.png') no-repeat;
      background-position: right center;
    }
    & .item.open .content {
       display: block;
    }
    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }

    .content:after {
        content: "";
        display: table;
        clear: both;
    }
    .p-detail {
      & p {
          margin-top: 0;
      }
      & p.mb-10 {
          margin-bottom: 10px;
          text-align: left;
      }
    }

    .p-actions {
        width: 100%;
      & .btn {
          margin: 5px 0px;
          width: 100%;
      }
    }

    .p-price-label {
        text-align: left;
      &  .p-price {
          font-size: 20px;
          color: #e20074;
      }
    }
  }
}


/* HERO SECTION */

#hero {
    background: url(../img/kv.jpg) no-repeat 50% 50%;
    padding: 30px 2%;
    overflow: hidden;
    background-size: cover;
    min-height: 527px;
}

#hero .container-fixed {
    position: relative;
    margin-top: 170px;
    position: relative;
}

.hero__content {
    text-align: center;
    max-width: 460px;
    margin-left: 20px;
}

#content .hero__title,
#content .hero__desc {
    font-size: 38px;
}

#hero .ec {
    position: absolute;
    top: -50px;
    margin-left: 40px;
}

#hero .logo {
    position: absolute;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 560px) {
    #hero {
        overflow: visible;
    }

    #hero .ec {
        position: absolute;
        top: 90px;
        margin-left: 20px;
    }

    #hero .logo {
        position: absolute;
        bottom: auto;;
        right: 20px;
        top: 140px;
    }
}

@media screen and (max-width: 480px) {
    #hero {
        background: transparent;
        padding: 0;
    }

    #hero .container-fixed {
        border-bottom: 1px solid #d0d0d0;
    }

    #content .hero__title,
    #content .hero__desc {
        color: $mine-shaft-dark;
    }

    .hero__mobile {
        background: url(../img/kv.jpg) no-repeat 50% 50%;
        height: 195px;
    }

    #hero .container-fixed {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .hero__content {
        padding: 40px 4%;
        margin-left: 0;
    }

    #hero .btn {
        margin-top: 40px;
    }
}

/* VIDEO HERO */

#hero.no-padding {
    padding: 0;
    background: #000;
    min-height: inherit;
}

#hero .video-holder {
    margin: 0 auto;
    max-width: 940px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 53.25%;
    padding-top: 25px;
    height: 0;
}

#hero .play-btn {
    position: absolute;
    right: 180px;
    top: 20px;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 100;
    opacity: 0.2;
}

.close-btn:hover {
    opacity: 1;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 870px) {
    #hero .play-btn {
        right: 20px;
    }
}

@media screen and (max-width: 618px) {
    #hero .play-btn {
        right: 50%;
        transform: translateX(50%);
        top: inherit;
        bottom: -100px;
    }
}

@media screen and (max-width: 480px) {
    #hero .play-btn {
        bottom: inherit;
        top: 60px;
    }
}

/* SEC - 1 */

.benefit {
    text-align: center;
}

#content .benefit__title,
#content .benefit__desc {
    margin: 0;
}

#content .benefit__title {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

#content .sec-1 .row {
    border-bottom: 1px solid $alto-mid;
    padding-bottom: 60px;
}


/* SEC - 2 */

.sec-2 {
    margin-bottom: 40px;
}

.pricing-box {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.info-holder {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
}

#content .info-text {
    color: #6C6C6C;
}

.pricing-box__cover {
    background: url('../img/pricing-bg.jpg') no-repeat 50% 50%;
    background-size: cover;
    max-width: 216px;
    width: 39%;
    float: left;
}

.pricing-box__content {
    border-top: 1px solid $alto-mid;
    border-right: 1px solid $alto-mid;
    border-bottom: 1px solid $alto-mid;
    max-width: 344px;
    width: 62%;
    float: right;
    padding: 30px 10px 20px 10px;
}

.pricing-box__cover {
    text-align: center;
    padding: 10px 30px;
}

#content .pbc__title {
    font-size: 30px;
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
}

#content .pbc__sub-title {
    color: #f1b8d5;
    margin-top: 0;
}

#content .actual-price ol {
    margin: 0 0 40px 36px;
}

#content .actual-price ol li {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
}

#content .actual-price ol li span {
    font-weight: normal;;
}

#content .actual-price .price {
    font-size: 24px;
    color: $magenta;
    margin: 0;
}

#content .actual-price .price .monthly {
    font-size: 16px;
    color: $mine-shaft-dark;
}

#content .price_old {
    text-decoration: line-through;
    display: inline-block;
    margin-right: 10px;
    margin-top: 0;
}

#content .price-save {
    font-weight: bold;
    display: inline-block;
    margin-top: 0;
}

#content .price-save img {
    vertical-align: text-top;
}

#content #heapbox_deezer-select {
    margin-top: 20px;
}

.pricing-box__content .buy-area {
    margin-top: 15px;
}

@media screen and (max-width: 490px) {

    .pricing-box {
        display: block;
        border-bottom: 1px solid $alto-mid;
        padding-bottom: 60px;
        margin-bottom: 15px;
        float: left;
    }

    .pricing-box__cover {
        max-width: none;
        width: 100%;
        min-height: 190px;
    }

    .pricing-box__content {
        border-top: 0;
        border-right: 1px solid $alto-mid;
        border-left: 1px solid $alto-mid;
        border-bottom: 1px solid $alto-mid;
        max-width: none;
        width: 100%;
        padding: 20px 10px 20px 10px;
    }

    .pricing-box__content .buy-area {
        margin-top: 40px;
        text-align: center;
    }

    .pricing-box__content .buy-area .link {
        margin-top: 10px;
        display: inline-block;
    }
}

/* SEC - 3 */

#content .tab-content .btn {
    margin: 10px 20px 0 0;
}

#content .tc-title {
    color: $magenta;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

#content .tc-title.mt__20 {
    margin-top: 20px;
}

#tab-1 span {
    max-width: 430px;
    display: inline-block;
}

#content #tab-1 p {
    margin-top: 0;
}

/* SEC - LEGAL */

#sec-legal {
    margin-top: 50px;
}

#content .legal .link {
    display: inline-block;
}

#content .link-docs {
    margin-bottom: 15px;
}

/* POPUP */

.fancybox-inner {
    max-width: 272px;
    text-align: center;
}

.p-content {
    padding: 5px;
}

.p-title {
    color: $magenta;
    font-size: 22px;
    display: block;
    margin-bottom: 10px;
}

.p-detail {
    font-size: 16px;
    color: $mine-shaft-dark;
    display: block;
}

body .btn {
    text-transform: uppercase;
    font-size: 16px;
    color: #383838;
    background-color: #ededed;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
    padding: 8px 19px;
    display: inline-block;
    text-decoration: none;
    text-decoration: none;
}

.btn:hover {
    background-color: #dbdbdb;
    border: 1px solid #a1a1a1;
}

.link {
    font-size: 16px;
}

.btn.cta {
    color: #ffffff;
    background-color: #6bb324;
    border: 1px solid #65ac20;
}

.btn.cta:hover {
    color: #fff;
    background-color: #5e9e20;
    border: 1px solid #4d8319;
}

body .cta_outline {
    border: 1px solid #65ac20;
    color: #65ac20;
    background-color: inherit;
}

body .cta_outline:hover {
    color: #65ac20;
}

.mb__20 {
    margin-bottom: 20px;
    display: inline-block;
}

.mt__20 {
    margin-top: 20px;
    display: inline-block;
}

.mb__10 {
    margin-bottom: 10px;
    display: inline-block;
}

.mt__10 {
    margin-top: 10px;
    display: inline-block;
}

.mb__5 {
    margin-bottom: 5px;
    display: inline-block;
}

.mt__5 {
    margin-top: 5px;
    display: inline-block;
}

.popup-separator {
    max-width: 310px;
    margin: 0 auto;
    position: relative;
}

body .popup-separator span {
    font-size: 16px;
}

.popup-separator .p-separator {
    background-color: #d0d0d0;
    height: 1px;
    width: 30%;
    position: absolute;
    bottom: 50%;
}

.p-separator.sl {
    left: 0;
}

.p-separator.sr {
    right: 0;
}

/* Play button white */
.play-white {
  border-radius: 50%;
  width: 74px;
  height: 74px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #b4b4b4;
  position: relative;
  & .fa {
    color: #383838;
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-30%);
  }
}
/* Play button white END */
