<section id="hero" class="hero">
  <div class="container-fixed">
    <div class="row" style="position: relative;">
      <div class="col-md-12 text-center">
        <h1 class="hero__title">
          PREDOBJEDNAJTE SI<br />NOVÝ SAMSUNG V&nbsp;TELEKOME
        </h1>
        <h2 class="hero__desc">
          a získajte navyše príslušenstvo
        </h2>
        <div class="hero__info">K NOVÝM PAUŠÁLOM</div>
      </div>
      <img src="../assets/img/eec.png" alt="web-zlava" class="hero__eec" />
    </div>
  </div>
</section>
<section id="sec-1" class="section sec-1">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="../assets/img/kv.png" width="100%" alt="galaxy-note20" />
      </div>
    </div>
  </div>
</section>
<section id="sec-2" class="section sec-2">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12 text-center mb-20">
        <h2>predobjednajte si teraz <br />a získajte navyše príslušenstvo</h2>
      </div>
    </div>
    <div class="row" style="position: relative;">
      <div class="col-md-6 text-center mt-20">
        <h3>Herný balíček<br />Xbox Game Pass</h3>

        <div class="img-holder">
          <img
            src="../assets/img/xbox.png"
            alt="xbox"
            style="padding-top: 15px;"
          />
        </div>

        <h4>
          Trojmesačné členstvo,<br />
          ovládač MOGA XP5-X+<br />
          a bezdrôtová nabíjačka
        </h4>
        <p>ku Galaxy Note20 Ultra 5G alebo Galaxy Note20</p>
      </div>
      <div class="col-md-12 or-mobile">
        <hr />
        <span>alebo</span>
      </div>
      <div class="col-md-6 text-center mt-20">
        <h3 class="mb-40">Hudobný balíček</h3>

        <div class="col-xs-6 col-md-6 text-center">
          <div class="img-holder">
            <img src="../assets/img/buds-live.png" alt="buds live" />
          </div>
          <h4>Galaxy Buds Live</h4>
          <p>ku Galaxy Note20 Ultra 5G</p>
        </div>
        <div class="col-xs-6 col-md-6 text-center">
          <div class="img-holder">
            <img src="../assets/img/buds-plus.png" alt="buds+" />
          </div>

          <h4>Galaxy Buds+</h4>
          <p>ku Galaxy Note20</p>
        </div>
      </div>
      <span class="or">alebo</span>
    </div>
  </div>
</section>
<section id="sec-3" class="section sec-3">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-6 text-center" style="position: relative;">
        <img src="../assets/img/eec.png" alt="web-zlava" class="eec" />
        <img
          src="../assets/img/galaxy-note20.png"
          width="100%"
          alt="galaxy-note20"
        />
      </div>
      <div class="col-md-6 text">
        <p>
          Predobjednajte si nový
          <b>Samsung Galaxy Note20 alebo 20 Ultra 5G</b> k novým paušálom a
          <b>získajte navyše herný balíček alebo hudobný balíček.</b>
        </p>
        <p>
          Navyše vám dáme <b>web zľavu do 20 € na úvodný poplatok</b> za mobil.
        </p>
        <p class="legal">
          Vyplňte, prosím, nasledovné údaje, budeme vás kontaktovať kvôli
          potvrdeniu predobjednávky.
        </p>
        <div class="contact-form-wrapper">
          <form id="contact-form">
            <div class="form-group useremail">
              <label for="useremail" class="input-label">Váš email</label>
              <input
                id="useremail"
                class="input"
                type="email"
                name="useremail"
              />
            </div>

            <div class="form-group phoneNum">
              <label for="phoneNum" class="input-label"
                >Vaše kontaktné telefónne číslo</label
              >
              <input
                id="phoneNum"
                class="input"
                type="text"
                name="phoneNum"
                maxlength="13"
              />
            </div>

            <div class="form-group checkb">
              <input
                class="termscheck"
                id="termscheck"
                type="checkbox"
                name="termscheck"
              />
              <label for="termscheck"
                >Odoslaním formulára súhlasím s&nbsp;<a
                  href="#"
                  onclick="event.preventDefault(); $('.termstext').toggle('slow')"
                  >Podmienkami</a
                ></label
              >
              <p class="termstext" style="font-size: 12px; display: none;">
                Odoslaním formulára súhlasím, aby ma spoločnosť Slovak Telekom,
                a.s. kontaktovala s detailnou ponukou produktov a služieb, o
                ktoré som týmto prejavil(a) záujem, a to telefonicky, prípadne
                SMS alebo MMS na mnou uvedené telefónne číslo. Potvrdzujem, že
                som používateľom uvedeného telefónneho čísla a mnou poskytnuté
                údaje nie sú údajmi tretích osôb. Viac informácií o ochrane
                osobných údajov nájdete
                <a
                  style="font-size: 12px;"
                  href="https://www.telekom.sk/wiki/ostatne/osobne-udaje-zakaznik"
                  target="_blank"
                  >tu</a
                >.
              </p>
            </div>

            <a href="#" class="btn cta sendfrm">PREDOBJEDNAŤ</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="sec-4" class="section sec-4">
  <div class="container-fixed">
    <div class="row">
      <div class="col-md-12">
        <h2>AKO ZÍSKAŤ SKVELÉ PRÍSLUŠENSTVO</h2>
      </div>
    </div>
    <div class="row stepper">
      <!-- 1 -->
      <div class="step">
        <img src="../assets/img/ico-1.png" height="90" alt="" />
        <h4>Predobjednajte si</h4>
        <p>
          Od 5. 8. do 20. 8. <br />
          si predobjednajte Galaxy Note20 <br />alebo Note20 Ultra 5G <br />v
          Telekome.
        </p>
        <img src="../assets/img/step-1.png" class="number" alt="" />
      </div>
      <!-- 2 -->
      <div class="step">
        <img src="../assets/img/ico-2.png" height="90" alt="" />
        <h4>Predregistrujte sa</h4>
        <p>
          Do 20. 8. sa predregistrujte<br />
          na <a href="https://samsung-bonus.eu">samsung-bonus.eu</a> , <br />čím
          vyjadrítesvoj záujem <br />o bonus.
        </p>
        <img src="../assets/img/step-2.png" class="number" alt="" />
      </div>
      <!-- 3 -->
      <div class="step">
        <img src="../assets/img/ico-3.png" height="90" alt="" />
        <h4>Doplňte údaje</h4>
        <p>
          Od 21. 8. do 21. 9. <br />
          doregistrujte identiﬁkačné údaje<br />
          svojho nového telefónu<br />
          na <a href="https://samsung-bonus.eu">samsung-bonus.eu</a>
        </p>
        <img src="../assets/img/step-3.png" class="number" alt="" />
      </div>
    </div>
    <div class="row stepper">
      <!-- 4 -->
      <div class="step">
        <img src="../assets/img/ico-4.png" height="90" alt="" />
        <h4>Získajte e-voucher</h4>
        <p>
          Po schválení zaregistrovaných údajov<br />
          vám Samsung zašle e-voucher na príslušenstvo<br />
          podľa vlastného výberu.
        </p>
        <img src="../assets/img/step-4.png" class="number" alt="" />
      </div>
      <!-- 5 -->
      <div class="step">
        <img src="../assets/img/ico-5.png" height="90" class="ico" aalt="" />
        <h4>Získajte príslušenstvo</h4>
        <p>
          E-voucher na príslušenstvo<br />
          môžete využiť do 21. 10. <br />v e-shope samsung.sk
        </p>
        <img src="../assets/img/step-5.png" class="number" alt="" />
      </div>
    </div>
    <div class="row mt-50">
      <div class="col-xs-12 col-md-10 offset-md-1 text-center warning">
        <h4>Upozornenie</h4>
        <p>
          Pre získanie nároku na bonus je potrebná predregistrácia v období od
          <b
            >5. 8. do 20. 8. 2020. Bez predregistrácie zákazníkovi nárok na
            bonus ZANIKÁ.</b
          >
        </p>
        <p>
          Doklad o kúpe bude akceptovaný s dátumom maximálne
          <b>do 21. 9. 2020.</b>
        </p>
        <p>
          Registrácia potrebných údajov na
          <a href="https://samsung-bonus.eu">samsung-bonus.eu</a> bude možná
          <b>do 21. 9. 2020.</b>
        </p>
        <p>
          E-voucher je možné využiť na e-shope
          <a href="https://www.samsung.com/sk/">samsung.sk</a> maximálne do
          <b>21. 10. 2020.</b>
        </p>
        <p>
          Na jednu registráciu zákazníka je možné zaregistrovať maximálne dva
          rôzne modely nového zariadenia.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="sec-5" class="section sec-5">
  <div class="container background-right">
    <div class="row">
      <div class="col-md-10 offset-md-1 mb-40 text-center">
        <h2 class="mb-20">TOTO PRÍSLUŠENSTVO MÔŽE BYŤ VAŠE</h2>
        <p class="info">
          Predobjednajte si od 5. 8. do 20. 8. 2020 nový
          <b>Samsung Galaxy Note20 alebo Samsung Galaxy Note20 Ultra 5G</b>
          a&nbsp;získajte ako bonus:
        </p>
      </div>
      <div class="col-md-6 push-md-6 gift">
        <img src="../assets/img/xbox.png" alt="" />
        <div class="or">
          <hr />
          <span>alebo</span>
        </div>
      </div>
      <div class="col-md-6 pull-md-6 text">
        <p>
          <b> Herný balíček</b> obsahujúci trojmesačné členstvo Xbox Game Pass
          Ultimate, ovládač MOGA XP5-X+ a bezdrôtovú nabíjačku pre váš nový
          Galaxy Note20 alebo Galaxy Note20 Ultra 5G.
        </p>
      </div>
      <div class="col-md-12 or-mobile">
        <hr />
        <span>alebo</span>
      </div>
      <div class="col-xs-6 col-md-3 push-md-6 gift">
        <img src="../assets/img/buds-live.png" alt="" class="buds-left" />
      </div>
      <div class="col-xs-6 col-md-3 push-md-6 gift">
        <img src="../assets/img/buds-plus.png" alt="" class="buds-right" />
      </div>
      <div class="col-md-6 pull-md-6 text">
        <p>
          <b>Herný balíček</b> obsahujúci trojmesačné členstvo Xbox Game Pass
          Ultimate, ovládač MOGA XP5-X+ a bezdrôtovú nabíjačku pre váš nový
          Galaxy Note20 alebo Galaxy Note20 Ultra 5G.
        </p>
        <a href="#sec-3" class="btn cta mybutton">PREDOBJEDNAŤ</a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1 divider">&nbsp;</div>
    </div>
  </div>
  <div class="container background-left">
    <div class="row">
      <div class="col-md-12 mb-30">
        <h2>XBOX GAME PASS ULTIMATE</h2>
      </div>

      <div class="col-md-6 xboxpass-logo">
        <img src="../assets/img/xbox-gamepass.png" alt="" />
      </div>
      <div class="col-md-6">
        <div class="xboxpass-text">
          <p>
            Vyskúšajte novú hernú službu <b>Xbox Game Pass Ultimate</b> od
            spoločnosti Microsoft.
          </p>
          <p>
            Streamujte <b>viac ako 100 hier</b> priamo z Xbox cloudu bez
            nutnosti inštalácie.
          </p>
          <p>
            Užívajte si svoje obľúbené Xbox hry ako
            <b>Sea of Thieves, Halo, Gears 5</b>
            a mnoho ďalších teraz aj na svojom novom
            <b>Galaxy Note20 a Note20 Ultra 5G</b> s herným ovládačom
            <b>MOGA XP5-X Plus</b> .
          </p>
          <p>
            Hrajte kdekoľvek a kedykoľvek.
          </p>
          <p class="legal">
            * Služba Xbox Game Pass Ultimate bude pre mobilné zariadenia
            dostupná od 15. Septembra 2020.
          </p>

          <a href="#sec-3" class="btn cta mybutton">PREDOBJEDNAŤ</a>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>
<script type="text/javascript" src="../assets/js/validations.js"></script>
<!-- jQuery validation plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
