<section class="sec1 clearfix" id="sec-1">
<div class="container-fixed">
  <div class="row">
    <div class="col-md-6 pad30">
      <h2><b>MAGENTA SMARTHOME</b></br>
        VÁŠ INTELIGENTNÝ DOMOV
      </h2>
      <p>S Magenta SmartHome máte prehľad o svojej domácnosti, aj keď nie ste doma. SPravujete ho pomocou služby SmartHome a mobilnej aplikácií.</p>
    <a href="" class="btn cta vyuzitieBtn">Pozrieť príklady využitia</a>
    </div>
    <div class="col-md-6 pad30">
      <iframe width="480" height="265" src="https://www.youtube.com/embed/pu_pyn3u2Rs" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
  </div>
</div>
</section>

<div class="secondary-nav" style="min-height: 55px;">
<div id="nav-sticky" class="navsticky">
    <ul>
        <li><a class="scroll-to" href="" data-id="sec-1">O PRODUKTE</a></li>
        <li><a class="scroll-to" href="" data-id="sec-1">ZÁKLADNÝ BALÍK</a></li>
        <li><a class="scroll-to" href="" data-id="sec-1">INŠTALÁCIA</a></li>
        <li><a class="scroll-to" href="" data-id="sec-1">ESHOP</a></li>
        <li><a class="scroll-to" href="" data-id="sec-1">NAHOR <img src="../assets/img/arrow-top.png" alt=" "></a></li>
    </ul>
</div>
</div>

<section class="sec2 section" id="sec-2">
  <div class="container-fixed">
    <div class="row">
      <p><b>Kategória produktov SmartHome v E-shope</b></p>
      <div class="products clearfix">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad5">
          <div class="box">
            <div class="box-content">
              <img src="../assets/img/icon1.jpg" alt="">
              <p class="prod-category">BEZPEČNOSŤ</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad5">
          <div class="box">
            <div class="box-content">
              <img src="../assets/img/icon2.jpg" alt="">
              <p class="prod-category">EFEKTIVITA</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad5">
          <div class="box">
            <div class="box-content">
              <img src="../assets/img/icon3.jpg" alt="">
              <p class="prod-category">ROMANTIKA</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad5">
          <div class="box">
            <div class="box-content">
              <img src="../assets/img/icon4.jpg" alt="">
              <p class="prod-category">POHODLIE</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad5">
          <div class="box">
            <div class="box-content">
              <img src="../assets/img/icon5.jpg" alt="">
              <p class="prod-category">POŽIAR</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 pad5">
          <div class="box">
            <div class="box-content">
              <img src="../assets/img/icon6.jpg" alt="">
              <p class="prod-category">POZRIEŤ VŠETKY</br> PRODUKTY</br> V E-SHOPE</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="headline">PRÍKLADY VYUŽITIA SMARTHOME V BEŽNOM ŽIVOTE</h2>

      <div class="smh-layout clearfix">
        <div class="col-md-6 pad30">
          <h3><b>Vypol som ju, či nevypol?</b></h3>
          <p>Určite každý už aspoň raz začil ten nepríjemnž pocit,</br> keď si nebol istý, či vypol šporák, trúbu</br> či iný spotrebič.</p>
          <div class="togleArrow">
            <a class="toggle-arrow" href="">Zobraziť celý text<span class="arrow-right"></span></a>
            <p class="arrow-content">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
          0800 123 777 </p>
          </div>

          <div class="products clearfix">
            <div class="">
              <div class="box boxv2">
                <div class="box-content">
                  <img src="#" alt="">
                  <p class="prod-category">DVEROVÝ SENZOR</p>
                </div>
              </div>
            </div>
            <div class="">
              <div class="box boxv2">
                <div class="box-content">
                  <img src="#" alt="">
                  <p class="prod-category">DYMOVÝ SENZOR</p>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="rdrEshop"><b>Pozrieť všetky produkty v e-shope</b><img style="margin-left:5px;" src="../assets/img/ico-next.png" alt="" class=""></a>
        </div>
        <div class="col-md-6 imgRight">
          <div class="corner"><!-- grey square --></div>
          <img src="../assets/img/smh1.png" alt="">
          <div class='wave -one'></div>
          <div class='wave -two'></div>
          <div class='wave -three'></div>
        </div>
      </div>

      <!-- 2 -->
      <div class="smh-layout clearfix">
      <div class="col-md-6 imgRight2">
        <div class="corner"><!-- grey square --></div>
        <img src="../assets/img/smh2.png" alt="">
      </div>
      <div class="col-md-6 pad30">
        <h3><b>Chystáte sa na dovolenku?</b></h3>
        <p>Posledné na čo by ste mali myslieť, keď oddychujete na</br> lehátku pri mori je to, či váš byt či dom, sú v bezpečí.</p>
        <div class="togleArrow">
          <a class="toggle-arrow" href="">Zobraziť celý text<span class="arrow-right"></span></a>
          <p class="arrow-content">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
        0800 123 777 </p>
        </div>

        <div class="products clearfix">
          <div class="">
            <div class="box boxv2">
              <div class="box-content">
                <img src="#" alt="">
                <p class="prod-category">DVEROVÝ SENZOR</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="box boxv2">
              <div class="box-content">
                <img src="#" alt="">
                <p class="prod-category">DYMOVÝ SENZOR</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="box boxv2">
              <div class="box-content">
                <img src="#" alt="">
                <p class="prod-category">DYMOVÝ SENZOR</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="box boxv2">
              <div class="box-content">
                <img src="#" alt="">
                <p class="prod-category">DYMOVÝ SENZOR</p>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="rdrEshop">Pozrieť všetky produkty v e-shope ></a>
      </div>
      </div>

      <!-- 3 -->
      <div class="smh-layout clearfix">
        <div class="col-md-6 pad30">
          <h3><b>Susedia už plávu pod vodou...</b></h3>
          <p>Ak ste niekedy žili v paneláku pravdepodobne ste už </br> začili vytopenie.</p>
          <div class="togleArrow">
            <a class="toggle-arrow" href="">Zobraziť celý text<span class="arrow-right"></span></a>
            <p class="arrow-content">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
          0800 123 777 </p>
          </div>

          <div class="products clearfix">
            <div class="">
              <div class="box boxv2">
                <div class="box-content">
                  <img src="#" alt="">
                  <p class="prod-category">Vodný senzor</p>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="rdrEshop">Pozrieť všetky produkty v e-shope ></a>
        </div>
        <div class="col-md-6 imgRight">
          <div class="corner"><!-- grey square --></div>
          <img src="../assets/img/smh3.png" alt="">
        </div>
      </div>

      <!-- 4 -->
      <div class="smh-layout clearfix">
      <div class="col-md-6 imgRight2">
        <div class="cornerTL"><!-- grey square --></div>
        <img src="../assets/img/smh4.png" alt="">
      </div>
      <div class="col-md-6 pad30">
        <h3><b>Smart zásuvka do detskej izby.</b></h3>
        <p>Po tme ožívajú strašidelné postavy z rozprávok, čo</br> spôsobuje deťom problém pri zaspávaní.</p>
        <div class="togleArrow">
          <a class="toggle-arrow" href="">Zobraziť celý text<span class="arrow-right"></span></a>
          <p class="arrow-content">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
        0800 123 777 </p>
        </div>

        <div class="products clearfix">
          <div class="">
            <div class="box boxv2">
              <div class="box-content">
                <img src="#" alt="">
                <p class="prod-category">Inteligentná zásuvka</p>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="rdrEshop">Pozrieť všetky produkty v e-shope ></a>
      </div>
      </div>

      <!-- 5 -->
      <div class="smh-layout clearfix">
        <div class="col-md-6 pad30">
          <h3><b>Terasové dvere sú najslabší bod zabezpečenia</b></h3>
          <p>Pri zabezpečovaní bvania sa pozornosť často</br> sústredí na vchodové dvere.</p>
          <div class="togleArrow">
            <a class="toggle-arrow" href="">Zobraziť celý text<span class="arrow-right"></span></a>
            <p class="arrow-content">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
          0800 123 777 </p>
          </div>

          <div class="products clearfix">
            <div class="">
              <div class="box boxv2">
                <div class="box-content">
                  <img src="#" alt="">
                  <p class="prod-category">Dverový senzor</p>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="rdrEshop">Pozrieť všetky produkty v e-shope ></a>
        </div>
        <div class="col-md-6 imgRight">
          <div class="corner"><!-- grey square --></div>
          <img src="../assets/img/smh5.png" alt="">
        </div>
      </div>

      <!-- 6 -->
      <div class="smh-layout clearfix">
      <div class="col-md-6 imgRight2">
        <div class="cornerTL"><!-- grey square --></div>
        <img src="../assets/img/smh6.png" alt="">
      </div>
      <div class="col-md-6 pad30">
        <h3><b>Odchod z domu na prvý pokus, poznáte to.</b></h3>
        <p>Práve ste na odchode do práce skontrolujete</br> si či máte mobil.</p>
        <p>Kľúče od dverí od auta prípadne laptop a ponáhľate sa do práce.</br>
        Keď už ste na ceste do práce uvedomíte si, že ste nechali vetrať v </br>
        kuchyni a schyľuje sa na dážď. Pomocou senzora priprevneného</br>
        na okne iete dostať notifikáciu o tom, že je okno otvrené ešte</br>
        predtým, ako opustíte svoj príbytok.</p>
        <div class="togleArrow">
          <a class="toggle-arrow" href="">Zobraziť celý text<span class="arrow-right"></span></a>
          <p class="arrow-content">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
        0800 123 777 </p>
        </div>

        <div class="products clearfix">
          <div class="">
            <div class="box boxv2">
              <div class="box-content">
                <img src="#" alt="">
                <p class="prod-category">Exteriérová kamera</p>
              </div>
            </div>
          </div>
          <div class="">
            <div class="box boxv2">
              <div class="box-content">
                <img src="#" alt="">
                <p class="prod-category">Dverový senzor</p>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="rdrEshop">Pozrieť všetky produkty v e-shope ></a>
      </div>
      </div>

      <!-- 7 -->
      <div class="smh-layout clearfix">
        <div class="col-md-6 pad30">
          <h3><b>Aj zo starého radiátora</br>
          môže byť mašina.</b></h3>
          <p>Nezáleží či bývate v dome či byte, aj zo starého</br> radiátora môžete mať moderný termostat.</p>
          <div class="togleArrow">
            <a class="toggle-arrow" href="">Zobraziť celý text<span class="arrow-right"></span></a>
            <p class="arrow-content">V prípade poruchy sú vám k dispozícii naši operátori 24 hodín denne, 7 dní v týždni, na bezplatnom telefónnom čísle:</br>
          0800 123 777 </p>
          </div>

          <div class="products clearfix">
            <div class="">
              <div class="box boxv2">
                <div class="box-content">
                  <img src="#" alt="">
                  <p class="prod-category">Radiátorová hlavica</p>
                </div>
              </div>
            </div>
            <div class="">
              <div class="box boxv2">
                <div class="box-content">
                  <img src="#" alt="">
                  <p class="prod-category">Ovládač rad. hlavíc</p>
                </div>
              </div>
            </div>
          </div>

          <a href="#" class="rdrEshop">Pozrieť všetky produkty v e-shope ></a>
        </div>
        <div class="col-md-6 imgRight">
          <div class="corner"><!-- grey square --></div>
          <img src="../assets/img/smh7.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="sec3 section" id="sec-3">
  <div class="container-fixed">
    <div class="row">
      <div class="smh-footer">
        <div class="fleft">
          <img src="../assets/img/cmb-img.png" alt="">
        </div>
        <div class="fright">
          <h3>Potrebujete poradiť s nákupom?</h3>
          <p>Zadajte svoje telefónne číslo a budeme vás kontaktovať.</p>
          <input type="text" name="" value="09"><div class="btn cta_mag">ZAVOLAJTE MI</div>
        </div>
      </div>
    </div>
  </div>
</section>
