<section id="hero">
    <div class="fixed-column text_centered">
        <div class="hero__content">
            <h1 class="hero__title font_mine-shaft">
                <b class="font_black">INTERNET V MOBILE</b><br />
                TERAZ DÁTUJTE DO ALELUJA S MAGENTOU 1</h1>
            <a class="scroll-to button button_lima" href="#sec-5">MÁM ZÁUJEM</a><br />
            <a class="scroll-to" href="#sec-5"><span>Pozrieť viac info</span><img alt=" " src="https://www.telekom.sk/documents/10179/580133/arrow-bottom.png" /></a></div>
        <div class="hero__img">
            &nbsp;</div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">AKO TO FUNGUJE</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">S PAUŠÁLMI HAPPY</a></li>
        <li>
            <a class="scroll-to" href="#sec-3">S EASY KARTOU</a></li>
        <li>
            <a class="scroll-to" href="#sec-4">ZDIEĽANIE DÁT</a></li>
        <li>
            <a class="scroll-to" href="#sec-5">AKTUÁLNE AKCIE</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="https://www.telekom.sk/documents/10179/580133/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1" id="sec-1">
    <div class="fixed-column">
        <p class="section__title margin_top20">
            AKO FUNGUJE INTERNET V MOBILE</p>
        <div class="row how-it-works text_centered">
            <div class="grid__col_4__custom">
                <img alt=" " src="https://www.telekom.sk/documents/10179/580133/ico-1.png" />
                <p class="how-it-works__description">
                    <b>Každý Happy paušál má internet</b><br />
                    Internet v mobile je súčasťou každého paušálu Happy, už od Happy XS.<br />
                    <a class="fancy" href="#lightbox-7">Koľko dát mám v paušále?</a></p>
            </div>
            <div class="grid__col_4__custom col_border">
                <img alt=" " src="https://www.telekom.sk/documents/10179/580133/ico-2.png" />
                <p class="how-it-works__description">
                    <b>Bez doplatkov s možnosťou dokúpenia rýchlosti</b><br />
                    Po vyčerpaní dát z paušálu sa plná rýchlosť internetu zníži. Rýchlosť si obnovíte jednoducho zakúpením <a class="scroll-to" href="#sec-2">dátového balíčka</a></p>
            </div>
            <div class="grid__col_4__custom">
                <img alt=" " src="https://www.telekom.sk/documents/10179/580133/ico-3.png" />
                <p class="how-it-works__description">
                    <b>Easy Pecka s internetom pod kontrolou</b><br />
                    S Easy Pecka ťa surfovanie stojí max. 50 centov/deň. Ak za deň prekročíš 200 MB, rýchlosť internetu sa zníži. Získaš ju späť s balíčkom <a class="scroll-to" href="#sec-3">Surf 1000</a></p>
            </div>
        </div>
    </div>
</section>
<section class="section sec-2" id="sec-2">
    <div class="fixed-column">
        <div class="outer-border">
            <p class="section__title">
                <b>PAUŠÁLY HAPPY</b> A INTERNET V MOBILE<br />
                <a class="section__link" href="/internet/internet-v-mobile/datove-sluzby">Viac info o dátovaní</a></p>
            <div class="row row-box">
                <div class="box box-new">
                    <div class="box__title">
                        <b>1 000 MB</b> dátový balíček s<br />
                        dátami navyše pre blízkych</div>
                    <div class="box__body">
                        Balík môžete jednorazovo alebo postupne rozdeliť až 5 blízkym vrátane seba, ktorí majú paušál Happy alebo Easy.<br />
                        <a class="text_ul fancy" href="#lightbox-6">Viac info</a></div>
                    <div class="box__footer">
                        <div class="box__price">
                            5,99 €</div>
                        <a class="button button-double" href="https://www.telekom.sk/telekom-aplikacia">KÚPIŤ CEZ TELEKOM<br />
                        APLIKÁCIU</a><br />
                        <a class="buy__link text_ul" href="https://m.telekom.sk/prihlasenie?url=https://m.telekom.sk/datanavyse/">kúpiť cez m.telekom.sk</a></div>
                </div>
                <div class="box">
                    <div class="box__title">
                        <b>100 MB</b><br />
                        dátový balíček</div>
                    <div class="box__body">
                        <b>S balíčkom máte prístup k e-mailom bez veľkých príloh alebo si prečítate správy či predpoveď počasia.</b><br />
                        <span class="font_gray">Balík nie je dostupný pre Happy XS mini a platí do vyčerpania dát alebo do konca príslušného zúčtovacieho obdobia.</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            1,99 €</div>
                        <a class="button button_lima fancy" href="#lightbox-1">KÚPIŤ</a></div>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <div class="box__title">
                        <b>500 MB</b><br />
                        dátový balíček</div>
                    <div class="box__body">
                        <b>S balíčkom si pozriete fotografie, sociálne siete či stiahnete e-maily s prílohami.</b><br />
                        <span class="font_gray">Balík nie je dostupný pre Happy XS mini a platí do vyčerpania dát alebo do konca príslušného zúčtovacieho obdobia.</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            4,99 €</div>
                        <a class="button button_lima fancy" href="#lightbox-2">KÚPIŤ</a></div>
                </div>
                <div class="box">
                    <div class="box__title">
                        <b>1 000 MB</b><br />
                        dátový balíček</div>
                    <div class="box__body">
                        <b>S balíčkom sledujete videá, vypočujete si hudbu či využijete navigáciu na cestách.</b><br />
                        <span class="font_gray">Balík nie je dostupný pre Happy XS mini, XS a S a platí do vyčerpania dát alebo do konca príslušného zúčtovacieho obdobia.</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            5,99 €</div>
                        <a class="button button_lima fancy" href="#lightbox-3">KÚPIŤ</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-3" id="sec-3">
    <div class="fixed-column">
        <div class="outer-border top_space easy-bg">
            <p class="section__title">
                <b>EASY KARTA</b> A INTERNET V MOBILE</p>
            <div class="row row-box text_centered">
                <div class="box">
                    <div class="box__title">
                        <b>100 MB</b><br />
                        dátový balík Surf 100</div>
                    <div class="box__body">
                        <b>So 100 MB si napr. pozriete e-maily bez príloh alebo správy či počasie.</b><br />
                        <span class="font_gray">Platnosť balíka: max. 7 dní od aktivácie alebo do vyčerpania dát.</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            1,99 €</div>
                        <a class="button button_lima fancy" href="#data-100">KÚPIŤ</a></div>
                </div>
                <div class="box">
                    <div class="box__title">
                        <b>500 MB</b><br />
                        dátový balík Surf 500</div>
                    <div class="box__body">
                        <b>S 500 MB si napr. pozriete fotografie alebo sociálne siete.</b><br />
                        <span class="font_gray">Platnosť balíka: max. 30 dní od aktivácie alebo do vyčerpania dát.</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            4,99 €</div>
                        <a class="button button_lima fancy" href="#data-500">KÚPIŤ</a> <!--  <br>
                        <a class="buy__link text_ul fancy" href="#lightbox-5">Aktivovať balíček SURF 1000</a> --></div>
                </div>
                <div class="box">
                    <div class="box__title">
                        <b>1 000 MB</b><br />
                        dátový balík Surf 1000</div>
                    <div class="box__body">
                        <b>S 1000 MB napr. sledujete videá, počúvate hudbu či využijete navigáciu.</b><br />
                        <span class="font_gray">Platnosť balíka: je platný max. 30 dní od aktivácie alebo do vyčerpania dát.</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            5,99 €</div>
                        <a class="button button_lima fancy" href="#lightbox-4">KÚPIŤ</a> <!--            <br>
                        <a class="buy__link text_ul fancy" href="#lightbox-5">Aktivovať balíček SURF 1000</a> --></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fixed">
        <div class="row">
            <div class="col-md-12">
                <div class="easy-legal">
                    <a class="note-legal" href="" onclick="$('#easy-legal-5').toggle('slow');return false;">Podmienky k datovým službám SURF</a>
                    <div class="easy-legal-content" id="easy-legal-5" style="display: none;">
                        <p class="disclaimer">
                            Dátové služby SURF sa poskytujú maximálne na 7 dní (SURF 100) alebo 30 dní (SURF 500, SURF 1000) odo dňa aktivácie. Deaktivácia dátovej služby SURF sa pri jednorazovej aktivácii uskutoční uplynutím maximálnej doby jej platnosti alebo vyčerpaním celého objemu voľných dát pred uplynutím doby ich platnosti. Pri voľbe automatického obnovovania dátovej služby SURF dôjde po uplynutí maximálnej doby platnosti služby alebo po vyčerpaní voľného objemu dát k jej automatickej obnove len v prípade, ak zostatok kreditu je minimálne vo výške poplatku za príslušnú dátovú službu SURF. Po deaktivácii automatického obnovovania dátovej služby SURF, dôjde k jej deaktivácii uplynutím maximálnej doby platnosti príslušnej služby SURF alebo vyčerpaním už zakúpeného voľného objemu dát. Prechod medzi jednotlivými službami SURF (100, 500 alebo 1000), je realizovaný deaktiváciou aktívnej dátovej služby SURF a následnou aktiváciou požadovanej dátovej služby SURF. Jednotlivé dátové služby SURF je možné medzi sebou navzájom kombinovať, avšak dátové služby SURF nie sú kombinovateľné s benefitom 100 MB voľných dát/mesiac zadarmo pri programe Easy Fix. Úplné podmienky poskytovania dátových služieb SURF sú uvedené v Cenníku pre poskytovanie služieb Slovak Telekom, a.s.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section sec-4" id="sec-4">
    <div class="fixed-column">
        <div class="outer-border text_centered">
            <p class="section__title">
                <b>ZDIEĽANIE DÁT</b> Z PAUŠÁLU HAPPY</p>
            <p class="section__description">
                So službou Zdieľanie dát z paušálu Happy <strong>môžete svoje dáta z paušálu naplno využívať vy alebo vaši blízki </strong>na ďalších zariadeniach, napr. na tablete či notebooku.</p>
            <div class="section__img">
                <img alt="" src="https://www.telekom.sk/documents/10179/580133/bg-devices.png" /></div>
            <div class="row">
                <div class="box">
                    <div class="box__title">
                        <b>1 SIM karta</b><br />
                        na zdieľanie dát z paušálu</div>
                    <div class="box__body">
                        Zdieľanie internetu z paušálu na<br />
                        <b>jednom ďalšom ľubovoľnom zariadení.</b><br />
                        <span class="font_gray">Jednorazový poplatok pri aktivácii služby je 2,99 €.&nbsp;</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            2,99 € /mesačne</div>
                        <a class="button button_lima" href="https://www.telekom.sk/mam-zaujem/internet-v-mobile/zdielanie-dat-1-sim/formular">KÚPIŤ</a></div>
                </div>
                <div class="box">
                    <div class="box__title">
                        <b>2 SIM karta</b><br />
                        na zdieľanie dát z paušálu</div>
                    <div class="box__body">
                        Zdieľanie internetu z paušálu na<br />
                        <b>ďalších dvoch zariadeniach súčasne.</b><br />
                        <span class="font_gray">Jednorazový poplatok pri aktivácii služby je 2,99 €.&nbsp;</span></div>
                    <div class="box__footer">
                        <div class="box__price">
                            5,98 € /mesačne</div>
                        <a class="button button_lima" href="https://www.telekom.sk/mam-zaujem/internet-v-mobile/zdielanie-dat-2-sim/formular">KÚPIŤ</a></div>
                </div>
            </div>
        </div>
        <a class="conditions" href="" onclick="$('#conditions__body').toggle('slow');return false;">Podmienky</a>
        <div id="conditions__body" style="display: none;">
            <p class="disclaimer">
                Službu zdieľanie dát z paušálu je možné aktivovať k programom Happy XS a vyšším a umožňuje zdieľanie voľného objemu dát zahrnutého v príslušnom hlasovom programe služieb vo vzťahu k hlavnej SIM karte aj prostredníctvom ďalších dodatočných maximálne dvoch doplnkových SIM kariet poskytnutých účastníkovi. Podmienkou využívania služby Zdieľanie dát z paušálu je aktivácia aspoň jednej doplnkovej SIM karty, prostredníctvom ktorej bude prebiehať zdieľanie dát. Po vyčerpaní voľneho objemu dát plnou rýchlosťou, či už prostredníctvom hlavnej SIM karty alebo ktorejkoľvek doplnkovej SIM karty, bude rýchlosť dátových prenosov (sťahovania aj odosielania dát) na všetkých (hlavnej i doplnkových) SIM kartách až do konca príslušného zúčtovacieho obdobia znížená na 64 kb/s. Mesačný poplatok za každú jednu doplnkovú SIM kartu je 3,99 €. Zvýhodnený mesačný poplatok 2,99€ je uplatňovaný počas doby viazanosti paušálu Happy, t. j. vo vzťahu k hlavnej SIM karte.</p>
        </div>
    </div>
</section>
<section class="section sec-5" id="sec-5">
    <div class="fixed-column text_left">
        <p class="section__title text_centered">
            AKTUÁLNE AKCIE</p>
        <div class="row">
            <div class="sale_row-1">
                <div class="col-md-12 fullWidthBox sale__item sale__item-1">
                    <div class="row ">
                        <div class="col-xs-12 col-lg-5">
                            <div class="image">
                                <img src="/documents/10179/580133/magenta1_neobmedzene_data.png" /></div>
                        </div>
                        <div class="col-xs-12 col-lg-7">
                            <h3 class="sale__title font_black">
                                Neobmedzené dáta v mobile!</h3>
                            <div class="ziskaj">
                                ■ Pre ich získanie stačí, ak už máte alebo si založíte skupinu Magenta 1 s aspoň dvoma službami úrovne M alebo vyššej ako M.</div>
                            <div class="ziskaj">
                                ■ Aktivujete ich po prihlásení do svojej skupiny Magenta 1. Každý člen skupiny si dáta aktivuje individuálne.
                                <div>
                                    <a class="lightbox blue-link" href="#neobmedzene-data">Viac info o získaní neobmedzených dát</a></div>
                            </div>
                            <div class="ziskaj">
                                ■ Využívať ich môžete až do konca tohto roka.</div>
                            <div class="desc">
                                Neobmedzené dáta v objeme 100 GB vám poskytujeme vďaka<br />
                                <a class="gray" href="" id="zasady-tooltip">Zásadám férového používania</a></div>
                            <a class="button button_lima" href="/magenta1-skupina">ZALOŽIŤ SKUPINU ALEBO sa PRIHLÁSIŤ</a></div>
                    </div>
                </div>
            </div>
            <div class="grid-g__col_6">
                <div class="outer-border">
                    <p class="box__title">
                        4G SIM karta zadarmo pre všetkých!</p>
                    <p class="section__description">
                        Vymeňte si zadarmo svoju starú SIM kartu za novú 4G a užite si najrýchlejšiu 4G sieť s najväčším pokrytím na Slovensku. O 4G SIM kartu môžete požiadať počas nákupu alebo predĺžení <a class="link__custom1" href="https://www.telekom.sk/objednavka/-/scenario/e-shop/happy">Happy paušálu</a> na webe, telefonicky na <b>0800 123 456</b> alebo osobne v niektorom z našich <a class="link__custom2" href="https://www.telekom.sk/kontakt/predajne/">Telekom centier</a><br />
                        <br />
                        <span class="cutom-color__text">O zmenu starej EASY SIM karty na 4G je možné požiadať telefonicky alebo osobne</span>.</p>
                </div>
            </div>
            <div class="grid-g__col_6 right">
                <div class="outer-border">
                    <p class="box__title">
                        Zdieľanie dát z paušálu zadarmo!</p>
                    <p class="box__title">
                        <img alt="" src="/documents/10179/642134/ikonky-zdielanie.png/44a2ad7f-fe0b-483d-8978-bb1cc777dbb2" /></p>
                    <p class="section__description">
                        Nemáte Wi-Fi a chcete so svojim blízkym naraz surfovať na svojom telefóne aj tablete? Odteraz už môžete. Zdieľanie dát v ďalšom zariadení získate ku každému novému paušálu Happy L, XL, XXL a Profi na 24 mesiacov zadarmo.</p>
                    <p class="section__description">
                        <strong>Za dva roky ušetríte vyše 70 €!</strong></p>
                    <div class="box-order">
                        <a class="button button-green" href="/objednavka/-/scenario/e-shop/happy">PREJSŤ NA PAUŠÁLY</a><br />
                        <a href="/sutazop9lite" style="margin-top: 10px; display: inline-block;">Vyhrajte 4G smartfón Huawei P9 Lite</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="lightbox-area" id="neobmedzene-data">
        <hr />
        <h2 class="lightbox-title">
            VIAC INFO O ZÍSKANÍ<br />
            NEOBMEDZENÝCH DÁT V MOBILE</h2>
        <div class="bold postup">
            Postup na získanie neobmedzených dát v mobile</div>
        <div class="moznosti">
            Vyberte si jednu možností: <select id="magenta1-select" name="magenta1"><option value="0">Nie som majiteľ ani člen skupiny Magenta 1</option><option value="1">Som majiteľ alebo som členom skupiny Magenta 1</option></select></div>
        <div class="body" id="magenta1-0">
            1. Musíte mať alebo si aktivovať nový paušál Happy M alebo vyšší.<br />
            2. Prejdite na stránku <a class="blue-link" href="/magenta1-skupina">magenta 1 skupina</a>, kde vytvoríte novú skupinu a prihlásite sa do nej.<br />
            3. Pridajte do skupiny ďalšiu službu vo veľkosti M alebo vyššiu (paušál Happy, Magio televíziu, internet alebo Pevnú linku).<br />
            4. Aktivujte si neobmedzené dáta, ktoré máte k dispozícii až do konca tohto roka.<br />
            <span class="magenta">5. A môžete dátovať do aleluja!</span></div>
        <div class="body" id="magenta1-1">
            1. Prihláste sa do svojej skupiny Magenta 1.<br />
            2. Skontrolujte, či máte v skupine aspoň dve služby vo veľkosti M alebo vyššej (paušál Happy, Magio televíziu, internet alebo pevnú linku).<br />
            3. Aktivujte si neobmedzené dáta, ktoré máte k dispozícii až do konca tohto roka.<br />
            <span class="magenta">5. A môžete dátovať do aleluja!</span></div>
        <div class="zavriet">
            <a class="zavri" href="#" title="Close">Zavrieť okno</a></div>
    </div>
</section>
<section class="section sec-6" id="sec-6">
    <div class="fixed-column text_left">
        <p class="section__title text_centered">
            Mohlo by vás zaujímať</p>
        <div class="row">
            <div class="grid-g__col_6 text_centered">
                <img alt="" src="https://www.telekom.sk/documents/10179/580133/ico-4.png" />
                <p>
                    <b>Najrýchlejšia 4G sieť</b></p>
                <p>
                    Spoznajte najrýchlejšiu a stále sa rozširujúcu 4G sieť od Telekomu.</p>
                <a href="https://www.telekom.sk/internet/4g-internet">Viac o 4G internete <img alt="" src="https://www.telekom.sk/documents/10179/580133/arrow-right.png" /></a></div>
            <div class="grid-g__col_6 right text_centered">
                <img alt="" src="https://www.telekom.sk/documents/10179/580133/ico-5.png" />
                <p>
                    <b>Výhodný internet v zahraničí</b></p>
                <p>
                    Zabudnite na hľadanie Wi-Fi počas dovolenky. Aktivujte si niektorý z výhodných balíčkov Internetu v zahraničí Travel&amp;Surf.</p>
                <a href="https://www.telekom.sk/volania/roaming#internet">Dáta v zahraničí <img alt="" src="https://www.telekom.sk/documents/10179/580133/arrow-right.png" /></a></div>
        </div>
    </div>
</section>
<!-- LIGHTBOXES -->
<div class="fancybox_hide" id="lightbox-1">
    Pre aktiváciu zašlite SMS s textom<br />
    <strong>DATA100ZAP</strong> na číslo <strong>12323</strong></div>
<div class="fancybox_hide" id="lightbox-2">
    Pre aktiváciu zašlite SMS s textom<br />
    <strong>DATA500ZAP</strong> na číslo <strong>12323</strong></div>
<div class="fancybox_hide" id="lightbox-3">
    Pre aktiváciu zašlite SMS s textom<br />
    <strong>DATA1000ZAP</strong> na číslo <strong>12323</strong></div>
<div class="fancybox_hide" id="lightbox-4">
    Pre aktiváciu zašlite SMS s textom<br />
    <strong>SURF1000 ZAP</strong> na číslo <strong>12330</strong></div>
<!-- 100 -->
<div class="fancybox_hide" id="data-100">
    Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
    <strong>SURF100</strong> na číslo <strong>12330</strong><br />
    <br />
    Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 100 MB<br />
    alebo po uplynutí 30 dní, zašlite SMS s textom SURF100A na číslo 12330</div>
<!-- 500 -->
<div class="fancybox_hide" id="data-500">
    Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
    <strong>SURF500</strong> na číslo <strong>12330</strong><br />
    <br />
    Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 500 MB<br />
    alebo po uplynutí 30 dní, zašlite SMS s textom SURF500A na číslo 12330</div>
<!-- 1000 -->
<div class="fancybox_hide" id="lightbox-5">
    Pre jednorazovú aktiváciu služby zašlite SMS s textom<br />
    <strong>SURF1000</strong> na číslo <strong>12330</strong><br />
    <br />
    Pre aktiváciu služby s automatickým obnovovaním po vyčerpaní 1000 MB<br />
    alebo po uplynutí 30 dní, zašlite SMS s textom SURF1000A na číslo 12330</div>
<div class="fancybox_hide fancybox-small" id="lightbox-6">
    <span class="font_magenta">Dátový balíček 1 000 MB navyše pre blízkych</span><br />
    Dáta môžete rozdeliť blízkym, ktorí majú aktivované služby Happy (okrem Happy XS mini), Easy Pecka, Easy Team alebo Fix<br />
    Balíček nie je dostupný pre Happy XS mini, XS a S.</div>
<div class="fancybox_hide_table fancybox-xsmall" id="lightbox-7">
    <span class="fancybox__title">Paušály Happy obsahujú:</span>
    <table class="fancybox__table">
        <thead>
            <tr>
                <th>
                    Happy XS</th>
                <th>
                    Happy S</th>
                <th>
                    Happy M</th>
                <th>
                    Happy XL<br />
                    Volania</th>
                <th>
                    Happy L</th>
                <th>
                    Happy XL</th>
                <th>
                    Happy XXL</th>
                <th>
                    Profi</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    100 MB</td>
                <td>
                    200 MB</td>
                <td>
                    500 MB</td>
                <td>
                    500 MB</td>
                <td>
                    2 000 MB</td>
                <td>
                    4 000 MB</td>
                <td>
                    6 000 MB<br />
                    + 100 MB v EÚ</td>
                <td>
                    6 000 MB<br />
                    + 500 MB v EÚ<br />
                    a vo svete</td>
            </tr>
        </tbody>
    </table>
    <span class="fancybox__info">Happy XS Mini: 0,1 € / MB</span></div>
<script type="text/javascript" src="https://www.telekom.sk/documents/10179/580131/mainv2.js"></script><!--<script type="text/javascript" src="https://m.telekom.sk/wb/internet-v-mobile/main.js"></script>-->