<section id="hero">
    <div class="fixed-column">
        <div class="col-group">
            <div class="grid-g__col_6 col margin_bottom20_mob">
                <div class="hero__content ">
                    <h1 class="hero__title">
                        cloud VPN</h1>
                    <p class="hero__desc">
                        <span class="text-bold"><b>Jednoduché prepojenie firemných pobočiek do jednej privátnej siete.</b> </span></p>
                    <p class="hero__desc">
                        Vysoká flexibilita a špičkové zabezpečenie so vzdialeným prístupom k firemným dátam.</p>
                    <a class="button button_lima" href="#"><span>kúpiť teraz</span> </a></div>
            </div>
            <div class="grid-g__col_6 col margin_bottom20_mob">
                <div class="video-thumbnail">
                    <div class="video-container">
                        <iframe allowfullscreen="" class="video-embed" frameborder="0" src="//www.youtube.com/embed/opR5AmYiwSs?rel=0&amp;color=white&amp;controls=1&amp;showinfo=0"></iframe></div>
                    <span class="play_btn"><!-- PLAY --></span></div>
            </div>
        </div>
    </div>
</section>
<div id="nav-sticky">
    <ul>
        <li>
            <a class="scroll-to" href="#sec-1">Hlavné výhody</a></li>
        <li>
            <a class="scroll-to" href="#sec-2">o službe</a></li>
        <li>
            <a class="scroll-to" href="#sec-7">ako aktivovať?</a></li>
        <li>
            <a class="scroll-to" href="#sec-7">kúpiť službu</a></li>
        <li>
            <a class="scroll-to" href="#sec-8">viac info</a></li>
        <li>
            <a class="scroll-to" href="#wrapper">NAHOR <img alt=" " src="../assets/img/arrow-top.png" /></a></li>
    </ul>
</div>
<section class="section sec-1 dark-bg" id="sec-1">
    <div class="fixed-column text_centered">
        <h2 class="section__title font_white">
            HLAVNÉ VÝHODY SLUŽBY</h2>
        <div class="col-group">
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-bezpecnost.png" /></div>
                <p class="feat__desc_white ">
                    <b>BEZPEČNOSŤ</b><br />
                    Bezpečná dátová komunikácia<br />
                    cez uzavretú virtuálnu sieť (VPN).</p>
            </div>
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-vzdialenypristup.png" /></div>
                <p class="feat__desc_white ">
                    <b>VZDIALENÝ PRÍSTUP</b><br />
                    Zamestnancov do siete cez PC,<br />
                    mobil alebo tablet.</p>
            </div>
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-rychla-odozva.png" /></div>
                <p class="feat__desc_white ">
                    <b>RÝCHLA ODOZVA</b><br />
                    Zmeny v nastaveniach sa prejavia<br />
                    v priebehu niekoľkých minút.</p>
            </div>
        </div>
        <div class="col-group">
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-dostupnost.png" /></div>
                <p class="feat__desc_white ">
                    <b>DOSTUPNOSŤ</b><br />
                    Pohodlná objednávka a zriadenie služby<br />
                    cez web portál.</p>
            </div>
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-prehladnost.png" /></div>
                <p class="feat__desc_white ">
                    <b>Prehľadnosť</b><br />
                    Podrobné informácie o stave pripojenia<br />
                    na sieť a vyťaženia pobočiek.</p>
            </div>
            <div class="grid__col_4__custom col">
                <div class="item__img">
                    <img alt="" src="../assets/img/ico-jednoducha-sprava.png" /></div>
                <p class="feat__desc_white ">
                    <b>Jednoduchá správa</b><br />
                    Centrálny manažment cez intuitívny<br />
                    samoobslužný portál.</p>
            </div>
        </div>
    </div>
</section>
<section class="section feat_whole-bg feat-1" id="sec-2">
    <div class="fixed-column">
        <div class="feat__item feat__item_left">
            <h2 class="feat__title">
                ZRIADENIE VPN</h2>
            <p class="feat__desc">
                Vytvoríme vám bezpečnú VPN vrátane automatickej konfigurácie a bezpečného pripojenia. Na funkčnosť služby je potrebný prístup k internetu na miestach, kde má byť služba aktívna.</p>
        </div>
        <div class="feat-img__holder feat-img__holder_right">
            <img alt="" src="../assets/img/feat-1.png" /></div>
    </div>
</section>
<section class="section sec-3 grey-bg" id="sec-3">
    <div class="fixed-column">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">
                    PRIORITIZÁCIA</h2>
                <p class="feat__desc">
                    Možnosť nastavenia priorít pre vaše aplikácie v rámci celej VON a taktiež nastavenia priority každej jednotlivej pobočky zvlášť.</p>
            </div>
            <div class="feat-img__holder feat-img__holder_left">
                <img alt="" src="../assets/img/feat-2.png" /></div>
        </div>
    </div>
</section>
<section class="section sec-4" id="sec-4">
    <div class="fixed-column">
        <div class="fixed-column">
            <div class="feat__item feat__item_left">
                <h2 class="feat__title">
                    monitoring a reporting</h2>
                <p class="feat__desc">
                    Prehľad o využívaní VPN celkovo, ako aj pre každú pobočku zvlášť. V reálnom čase môžete zistiť stav pripojenia jednotlivých pobočiek a pripojených užívateľov cez mobilné zariadenia.</p>
            </div>
            <div class="feat-img__holder feat-img__holder_right">
                <img alt="" src="../assets/img/feat-3.png" /></div>
        </div>
    </div>
</section>
<section class="section sec-5 grey-bg" id="sec-5">
    <div class="fixed-column">
        <div class="fixed-column">
            <div class="feat__item feat__item_right">
                <h2 class="feat__title">
                    bezpečný prístup do internetu</h2>
                <p class="feat__desc">
                    Centralizovaný prístup k internetu s aplikovaním všetkých nastavení ochranných prvkov, ktoré sú obsiahnuté v riešení Cloud VPN.</p>
            </div>
            <div class="feat-img__holder feat-img__holder_left">
                <img alt="" src="../assets/img/feat-4.png" /></div>
        </div>
    </div>
</section>
<section class="section sec-6" id="sec-6">
    <div class="fixed-column">
        <div class="feat__item feat__item_left">
            <h2 class="feat__title">
                vzdialený prístup</h2>
            <p class="feat__desc">
                Bezpečné pripojenie zamestnancov cez mobilné zariadenia ako notebooky, tablety a telefóny prostredníctvom aplikácie AnyConnect.</p>
        </div>
        <div class="feat-img__holder feat-img__holder_right">
            <img alt="" src="../assets/img/feat-5.png" /></div>
    </div>
</section>
<section class="section sec-7 dark-bg" id="sec-7">
   <!--  <div class="fixed-column text_centered feature-desktop">
        <h2 class="section__title font_white">
            AKO SI AKTIVOVAŤ SLUŽBU</h2>
        <div class="col-group ">
            <div class="grid-g__col_12 col">
                <div class="cta__btn_down">
                    <a class="button button_lima" href="#"><span>kúpiť teraz</span> </a></div>
            </div>
        </div>
    </div> -->
    <div class="fixed-column text_centered">
        <h2 class="section__title font_white">
            AKO SI AKTIVOVAŤ SLUŽBU</h2>
        <div class="col-group">
            <ol class="prod__list">
                <li>
                    <span>Objednajte si službu online, prípadne prostredníctvom našich obchodných zástupcov. </span></li>
                <li>
                    <span>Potrebné koncové zariadenia vám doručíme do niekoľkých pracovných dní.</span></li>
                <li>
                    <span>V samoobslužnom portáli si vyberiete služby podľa svojich potrieb,ktoré budú v priebehu niekoľkých minút aktívne. </span></li>
                <li>
                    <span>Službu môžete využívať už po pripojení prvého zariadenia.</span></li>
            </ol>
            <div class="cta__btn_down">
                <a class="button button_lima" href="#"><span>kúpiť teraz</span> </a></div>
        </div>
    </div>
</section>
<section class="section sec-8" id="sec-8">
    <div class="fixed-column">
        <h2 class="section__title text_centered">
            ALEBO SI PRAJETE VIAC INFORMÁCIÍ?</h2>
        <div class="col-group text_centered">
           <!--  <div class="grid__col_4__custom">
                <div class="contact-item">
                    <img alt=" " src="../assets/img/ico-call.png" />
                    <p class="sec8__description">
                        <b>Nechajte si zavolať</b></p>
                    <div class="form-box form-holder">
                        &nbsp;</div>
                </div>
            </div> -->
            <div class="grid__col_4__custom col_border">
                <div class="contact-item col_border_btm">
                    <img alt=" " src="../assets/img/ico-question.png" />
                    <p class="sec8__description">
                        <b>Opýtajte sa nás</b></p>
                    <p class="sec8__description">
                        <span class="sec8__numBig">0800 123 500</span></p>
                </div>
                <div class="contact-item">
                    <img alt=" " src="../assets/img/ico-contact.png" />
                    <p class="sec8__description">
                        <a class="sec8__link" href="#"><b>Napíšte nám</b></a></p>
                </div>
            </div>
            <div class="grid__col_4__custom">
                <div class="contact-item col_border_btm">
                    <img alt=" " src="../assets/img/ico-zastupca.png" />
                    <p class="sec8__description">
                        <b>Kontaktujte vášho<br />
                        ochodného zástupcu</b></p>
                </div>
                <div class="contact-item">
                    <img alt=" " src="../assets/img/ico-faq.png" />
                    <p class="sec8__description">
                        <a class="sec8__link" href="#"><b>Pozrieť FAQs</b></a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="../assets/js/main.js"></script>