/* ===============
   CSS FOR MICROSITE
   =============== */

/* GLOBALS */
html.ios .android-only {
  display: none;
}
html.android .ios-only {
  display: none;
}

#content .section {
  padding: 40px 0;
}

#content .tc {
  text-align: center !important;
}

#content .mb-15 {
  margin-bottom: 15px !important;
}

#content .mb-40 {
  margin-bottom: 40px !important;
}

#content .dark {
  color: #262626 !important;
}

#content .bold {
  font-weight: bold !important;
}

#content .sec__title {
  text-align: center;
  text-transform: uppercase;
  font-size: $font-sh;
}

#content .glob-clear {
  float: left;
  width: 100%;
}

#content .magenta {
  color: $magenta;
}

.stripe {
  background: repeating-linear-gradient(
    45deg,
    #f2f2f2,
    #f2f2f2 1px,
    #fff 2px,
    #fff 4px
  ) !important;
}

/* HERO SECTION */

#hero {
  overflow: hidden;
  min-height: 254px;
  padding: 60px 2%;
  background: url(../img/hero.jpg?v=1) no-repeat 53% 50%;
  background-size: cover;
  & .hero__content {
    text-align: center;
    max-width: 50%;
    & .link {
      text-decoration: none;
    }
    & .btn {
      //display: none;
      margin: 0 0 10px 0;
    }
    & img {
      margin-right: 10px;
      height: 50px;
    }
  }
  & .hero__title {
    font-size: 34px;
    margin-top: 20px;
    padding-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    & a {
      display: none;
    }
  }
  & .link {
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
  }
  & .hero__link {
    margin-top: 10px;
    display: inline-block;
    text-decoration: underline;
  }
}

#nav-sticky {
  z-index: 9999;
  & ul {
    & li {
      display: flex;
      align-items: center;
      margin-top: 10px;
      & a {
        display: inline-block;
        height: 35px;
        padding: 0 5px;
      }
      & img {
        height: 35px;
        //margin-top: 10px;
      }
      & a:hover,
      a.active {
        background-color: transparent;
      }
      & span {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  #hero {
    width: 100%;
    //padding: 40px 2%;
  }
}

// @media screen and (max-width: 768px) {
//     #hero {
//         background: url(../img/hero.jpg?v=1) no-repeat 56% 50%;
//         & .hero__title {
//             font-size: 30px;
//         }
//     }

// }

@media screen and (max-width: 768px) {
  #hero {
    background: transparent;
    padding: 0;

    & .container-fixed {
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
  .hero__mobile {
    background: url(../img/hero.jpg) no-repeat 62% 0%;
    height: 245px;
  }
  #hero .hero__content {
    padding: 40px 4%;
    text-align: center;
    max-width: 100%;
    display: block;
  }
  #content .hero__title,
  #content .hero__desc {
    color: #262626;
  }
  #hero .videowrapper {
    display: flex;
    position: absolute;
    top: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

/* SEC - 1 */

.item {
  text-align: center;
}

#content .sec-1 {
  padding: 40px 0;
  text-align: center;
}

#content .item p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .item .col-md-4:nth-of-type(2) {
    margin: 20px 0;
  }
}

/* SEC - 2 */

#content #sec-2 {
  background: url(../img/functions.jpg?v=1) no-repeat 53% 50%;
  background-size: cover;
  .tab-content {
    margin-bottom: 45px;
  }
  & .glob-clear {
    border-bottom: 0;
  }
  & .tab-acc-sub {
    display: flex;
    align-items: center;
    & .tab-img-cont {
      width: 50%;
      padding: 0 10px;
      & img {
        max-height: 400px;
      }
    }
    & .tab-acc-cont {
      width: 50%;
      padding: 0 10px 0 17%;
      padding-left: 110px !important;
      @media screen and (max-width: 768px) {
        padding: 0 10px;
      }
      @media screen and (max-width: 600px) {
        padding-left: 0px !important;
      }
    }
  }
}
.overlay {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
  }
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    width: 25px;
    height: 60px;
    z-index: 999;
    background: linear-gradient(
      to right,
      #ffffff 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  &::after {
    content: "";
    position: absolute;
    right: -2px;
    top: 0;
    width: 25px;
    height: 60px;
    z-index: 999;
    background: linear-gradient(
      to left,
      #ffffff 50%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
.tab__holder {
  max-width: 830px;
  margin: 0 auto;
  border-bottom: 1px solid $alto;
  position: relative;
  overflow-y: hidden;
  @media screen and (max-width: 835px) {
    overflow-x: scroll;
  }
}

.tab {
  border-top: 0;
}

.tabs-container .row {
  display: flex;
  align-items: center;
}

.func__img-holder img {
  vertical-align: bottom;
  margin-bottom: -1px;
}

#content .tab-title {
  font-weight: bold;
  text-align: right;
  margin-top: 0;
}

#content .tab-detail {
  line-height: 18px;
  text-align: right;
}

#content .list-item {
  margin: 0;
  background: url("../img/ico-dot.png") no-repeat top left;
  padding-left: 15px;
}

#content .list-item-head {
  margin: 0;
  background: url("../img/ico-dot.png") no-repeat top left;
  padding-left: 15px;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
}

#content .list-item-head::after {
  background: url("../img/ico-arrow-top.png") no-repeat top left;
  height: 15px;
  width: 13px;
  display: inline-block;
  content: "";
  margin-left: 5px;
}

#content .list-item-head.bottom::after {
  background: url("../img/ico-arrow-bottom.png") no-repeat top left;
}
#content .tabs-menu {
  float: none;
  display: inline-block;
  min-width: 700px; // set width of tabs menu
  margin: 0px;
}
#content .tabs-menu li {
  float: none;
  display: inline-block;

  @media screen and (max-width: 520px) {
    width: auto;
    border: none;
    &:last-of-type() {
      border-bottom: none;
    }
  }
  &.current {
    @media screen and (max-width: 520px) {
      width: auto;
      border: none;
      border-bottom: 4px solid #6bb324;
    }
  }
}
.tabs-menu li a {
  padding: 0 10px;
}
.tabs-menu li:first-of-type {
  margin-left: 20px;
}
.tabs-menu li:last-of-type {
  margin-right: 20px;
}

/* SEC - 3 */

#content #sec-3 {
  text-align: center;
  padding: 40px 0;
  & .step-desc {
    margin-bottom: 10px;
  }
  & .app-links {
    & img {
      height: 50px;
    }
  }
}

#content .step-title {
  font-size: 21px;
  color: $magenta;
  margin-bottom: 0;
}

#content .step-desc {
  line-height: 18px;
  max-width: 450px;
  margin: 0 auto;
}

.app-link:first-of-type {
  margin-right: 20px;
}

.plan-separator-holder {
  display: block;
  position: relative;
  margin: 0 auto;
  order: 2;
  max-width: 458px;
}

.plan-separator-holder .p-separator {
  background-color: #d0d0d0;
  height: 1px;
  width: 42%;
  position: absolute;
  bottom: 50%;
}

.p-separator.sl {
  left: 0;
}

.p-separator.s2 {
  right: 0;
}

#content .plan-separator,
.ps__link-holder {
  display: block;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
}

.other-steps {
  width: 100%;
  float: left;
}

.other-steps .holder {
  display: inline-block;
  max-width: 458px;
  margin: 0 auto 15px auto;
}

#content .other-step-title,
#content .other-step-desc {
  color: #6c6c6c;
  margin-bottom: 2px;
}

#content .other-step-desc {
  margin: 0;
}

@media screen and (max-width: 502px) {
  .app-link:first-of-type {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/* TOGGLE ARROW */
#content a.toggle-arrow {
  color: #007faf;
  text-decoration: none;
  & .arrow-right {
    content: "";
    display: inline-block;
    margin-right: 5px;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: baseline;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent #007faf;
    transition: all 300ms;
  }
  &:hover,
  &:hover span.arrow-right {
    color: #00668d;
    text-decoration: none;
    border-color: transparent transparent transparent #00668d;
  }
}
#content .arrow-content {
  display: none;
}
#content .arrow-rotate {
  transform: rotate(90deg);
}
/* TOGGLE ARROW END */

/****************************************/
/* ACCORDION 500px */
/****************************************/
// hide ACCORDION by default
.accordion {
  display: none;
}
@media screen and (max-width: 599px) {
  #content section[id^="sec-"] {
    height: 100%;
    background: none;
    //background-color: #ededed;
    padding-bottom: 40px;
  }
  // hide TABS if window size <550px
  .tabs-container .tab__holder,
  .tabs-container .tab {
    //display: none;
  }
  // show ACCORDION
  #content section[id^="sec-"] .accordion {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
    display: block;
    font-size: 16px;
    padding: 0% 2%;
    & .item .heading {
      height: 45px;
      line-height: 45px;
      cursor: pointer;
      background: url("../img/ico-plus.png") no-repeat;
      background-position: right center;
      border-top: 1px solid #d0d0d0;
      box-sizing: border-box;
      font-weight: 500;
      text-align: left;
      & .ac-price {
        color: #a4a4a4;
        font-weight: normal;
      }
    }
    & .item.open .heading {
      background: url("../img/ico-minus.png") no-repeat;
      background-position: right center;
    }
    & .item.open .content {
      display: block;
      & .tab-label {
        text-align: center;
        display: none;
      }
      & .tab-help {
        text-align: center;
        margin: 20px 0;
        & .tab-icons {
          display: none;
        }
        & .tab-help-sub {
          & p {
            line-height: 16px;
            margin-left: 0px;
          }
          & .tab-help-title {
            & h2 {
              border-bottom: 0;
              font-size: 20px;
              line-height: 1;
              color: #e20074;
              margin: 20px 0 10px;
            }
          }
        }
      }
      & .tab-acc {
        width: 100%;
        margin: 10px 0 0 0;
        & .tab-acc-sub {
          display: block;
          text-align: left;
          //border-top: solid 1px #aaa;
          padding-top: 15px;
          padding-bottom: 15px;
          width: 100%;
          margin-bottom: 10px;
          cursor: pointer;
          padding: 5%;
          & .tab-acc-cont {
            display: block;
            cursor: default;
            display: block;
            width: 100%;
            text-align: center;
            & .a-title {
              color: black;
              display: block;
              margin: 10px 0px;
              text-align: center;
            }
            & div.a-title-2 {
              display: none;
            }
            & .a-title:hover {
              text-decoration: underline !important;
            }
            & .tab-ex {
              & .tab-ex-label {
                width: 70%;
                display: inline-block;
              }
              & .tab-ex-price {
                width: 28%;
                display: inline-block;
                text-align: right;
              }
              & p:first-of-type {
                border-bottom: solid 1px #ccc;
              }
              & p {
                text-align: left;
                margin: 0px;
              }
            }
            & .tab-ex > div:last-child {
              color: #e20074;
              font-weight: bold;
              border-top: 1px solid #ccc;
            }
            & .tab-ex > div.tab-web-disc {
              color: #6bb324;
            }
            & .tab-action {
              text-align: center;
            }
            & .action-info {
              margin: 20px 0;
              text-align: center;
            }
          }
          & .tab-img-cont {
            text-align: center;
            width: 30%;
            display: inline-block;
            position: relative;
            margin: 0 auto;
            width: 60%;
            display: block;
            & img {
              width: 70%;
            }
            & .sticker-picture2 {
              right: 10px;
              left: unset;
              top: 0px;
              width: 30%;
              position: absolute;
            }
          }
          & .tab-action {
            display: block !important;
            & a.btn {
              width: auto !important;
            }
          }
          & .tab-title,
          .tab-detail {
            text-align: right;
          }
          & .tab-detail {
            margin-bottom: 20px;
          }
        }
        & .tab-acc-sub:hover {
          -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.4);
        }
        & .tab-mag-go {
          text-align: center;
          display: block;
          float: inherit;
          width: 100%;
          min-height: 250px;
          padding: 15px;
          background: #e6e6e6;
          & p {
            font-size: 28px !important;
          }
          & h2 {
            font-size: 28px !important;
            font-weight: 800;
          }
          & div {
            display: inline-block;
          }
          & .tab-mag-go-1 {
            width: 280px;
            position: relative;
          }
          & .tab-mag-go-2 {
            vertical-align: top;
            & a {
              margin-top: 10px;
            }
          }
          & .sticker-picture {
            left: 10px;
            top: 20px;
          }
        }
      }
    }
    & .content {
      display: none; //default hide for accordions
      padding-bottom: 15px;
    }
  }
}

/* section akcie a novinky */
#sec-4 {
  text-align: center;
}
#content .action-banner {
  width: 100%;
  min-height: 295px;
  padding: 20px 34px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #ccc;
  @media screen and (max-width: 768px) {
    background-position: 17% center;
    min-height: auto;
    background: white !important;
  }
  & .banner__content {
    max-width: 53%;
    text-align: left;
    @media screen and (max-width: 960px) {
      max-width: 63%;
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }
  & .banner-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: normal;
    color: #e20074;
    font-weight: normal;
  }
  & .banner-subtitle {
    font-size: 16px;
  }
  & .banner-logos {
    img {
      vertical-align: middle;
      margin-left: 7px;
      @media screen and (max-width: 543px) {
        margin-bottom: 10px;
      }
    }
  }
  a.button {
    min-width: 220px;
    padding: 5px;
    height: 35px;
    line-height: 25px;
    &.btn_mag {
      margin-right: 15px;
      margin-bottom: 10px;
      @media screen and (max-width: 768px) {
        margin-right: 0;
      }
    }
  }
  & .wording {
    position: absolute;
    float: right;
    top: -12px;
    right: 22%;
    @media screen and (max-width: 940px) {
      right: 150px;
    }
    @media screen and (max-width: 880px) {
      right: 125px;
    }
    @media screen and (max-width: 835px) {
      right: 105px;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .plandatainfo {
    .heapBox {
      max-width: 350px;
      margin-bottom: 10px;
      .holder,
      .handler {
        background-color: #fff;
      }
    }
    &-details {
      div:first-of-type {
        padding-left: 0px;
        padding-right: 10px;
        @media screen and(max-width: 768px) {
          padding: 0px;
          margin-bottom: 15px;
        }
      }
      div:last-of-type {
        padding-left: 10px;
        padding-right: 0px;
        @media screen and(max-width: 768px) {
          padding: 0px;
        }
      }
      p {
        text-align: left;
        border-bottom: 1px solid #d0d0d0;
        margin: 0px;
      }
      &.happy,
      &.anoBiznis,
      &.bezZavazkov,
      &.sEasyKartou {
        display: none;
      }
    }
    &-buttons {
      .btn {
        margin-right: 15px;
        @media screen and(max-width: 543px) {
          margin-left: 0px !important;
          margin-right: 0px !important;
        }
      }
    }
  }
}

#content .zimnyBalikDat {
  & .action-banner {
    background: url(../img/zimnybalikdat.png) no-repeat 101% 15%;
    background-size: 84%;
    @media screen and (max-width: 960px) {
      background: url(../img/zimnybalikdat.png) no-repeat 40px 15%;
      background-size: cover;
    }
    @media screen and (max-width: 800px) {
      background: url(../img/zimnybalikdat.png) no-repeat -30px 15%;
      background-size: cover;
    }
  }
  a.link {
    @media screen and (max-width: 543px) {
      display: block;
    }
  }
}

#content .dvaMesiace {
  & .action-banner {
    background: url("../img/dvamesiace.png") no-repeat 46% center;
  }
}

#content .welcomeDrink {
  & .action-banner {
    background: url("../img/oa_magio-plaz_banner-lp_940x330px_0619.jpg")
      no-repeat 50% center;
  }
  & .button {
    margin-top: 25px;
  }
}

#content .telekomNightRun {
  & .action-banner {
    background: url("../img/app_night-run_lp-banner_940x330px_0719.jpg")
      no-repeat 50% center;
  }
  & .button {
    margin-top: 15px;
  }
}

#content .happy2ano {
  & .action-banner {
    background: url("../img/app_lp_akcie-banner_940px_0919.jpg") no-repeat 50%
      center;
    background-size: cover;
  }
  & .button {
    margin-right: 10px;
  }
}

#content #kuponNaPrislusenstvo {
  & .action-banner {
    background: url("../img/kuponNaPrislusenstvo-banner.jpg") no-repeat 50%
      center;
    background-size: cover;
  }
  & .btn {
    margin-right: 10px;
  }
}

#content #kolobezka {
  & .action-banner {
    background: url("../img/EASY_Kolobezka_940x330.png") no-repeat 100% 50%;
    background-size: cover;
  }
  & .btn {
    margin-right: 10px;
  }
}

#content #internetVLietadle {
  & .action-banner {
    background: url("../img/internet-lieatadlo.jpg?v2") no-repeat 100% 50%;
    background-size: cover;
  }
  & .btn.cta {
    margin-top: 10px;
    margin-right: 10px;
  }
  .cont-imgs {
    margin-top: 30px;
    img {
      margin-right: 20px;
    }
  }
}

#content #darovanieDat {
  & .action-banner {
    background: url("../img/darovanie_dat.jpg") no-repeat 100% 50%;
    background-size: cover;
  }
  & .btn {
    margin-right: 10px;
  }
  .giveawaySelect {
    .heapBox {
      .holder,
      .handler {
        background-color: #fff;
      }
    }
  }
  h2 {
    font-size: 32px;
    margin: 15px 0 25px 0;
  }
}

#content #nekonecnedata {
  & .action-banner {
    background: url(../img/nekonecne-data-maj.jpg) no-repeat 100% 100%;
    background-size: cover;
    min-height: 378px;
    @media screen and (max-width: 900px) {
      background: url(../img/nekonecne-data-maj.jpg) no-repeat 50% 50%;
      background-size: cover;
    }
    @media screen and (max-width: 768px) {
      min-height: 200px;
    }
  }
  .banner__content {
    max-width: 50%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      text-align: center;
      .link {
        display: block;
      }
    }
  }

  & .btn {
    margin-right: 10px;
  }
  .giveawaySelect {
    .heapBox {
      .holder,
      .handler {
        background-color: #fff;
      }
    }
  }
  h2 {
    font-size: 32px;
    margin: 15px 0 25px 0;
  }
}

#content #mikulas {
  .banner__content {
    max-width: 67%;
    // @media screen and (max-width: 960px) {
    //   max-width: 63%;
    // }
    @media screen and (max-width: 768px) {
      max-width: 100%;
      text-align: center;
    }
  }
  & .action-banner {
    background: url("../img/mikulas.jpg") no-repeat 100% 50%;
    background-size: cover;
    @media screen and (max-width: 960px) {
      background-position: 75% 50%;
    }
  }
  & .btn {
    margin: 30px 10px 30px 0;
  }
}

#content .easyCharge {
  & .action-banner {
    background: url("../img/oa_novinka-prepaid-platba_lp-banner_940x330px_0419.jpg")
      no-repeat 46% center;
  }
  & .button {
    margin-top: 25px;
  }
}

#content .sutazAppka {
  & .action-banner {
    background: url("../img/app_sutaz_samsung-watch_banner-lp_940x330px_0719.jpg")
      no-repeat 46% center;
  }
  & .button {
    margin-top: 25px;
  }
}

#content .preneseneData {
  & .action-banner {
    background: url("../img/prenesene_data_940x330.png") no-repeat 46% center;
  }
  & .button {
    margin-top: 25px;
  }
}

#content .webDiscount {
  //padding: 20px;
  & .action-banner {
    background: url("../img/mobil_prenos-cisla_tel-appka_akcie_940px_0119.jpg")
      no-repeat 50% 50%;
    padding: 20px 34px;
    @media screen and (max-width: 885px) {
      //background: url('../img/mobil_prenos-cisla_tel-appka_akcie_940px_0119.jpg') no-repeat 80% 50%;
    }
    & a.button.btn.cta {
      margin-right: 10px;
      @media screen and (max-width: 805px) {
        margin-bottom: 10px;
        min-width: 200px;
      }
    }
    & .activate-app {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 10px;
        min-width: 200px;
      }
    }
  }
  & .banner-subtitle {
    margin-bottom: 10px;
    @media screen and (max-width: 885px) {
      margin-bottom: 10px;
    }
  }
  & .banner__content {
    position: relative;
    max-width: 53%;
    & .prices {
      margin: 20px 0;
      & > div:first-of-type {
        border-top: solid 1px #ccc;
      }
      & > div {
        max-width: 350px;
        border-bottom: solid 1px #ccc;
        padding: 5px 0;
        @media screen and (max-width: 768px) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    & img.ec {
      position: absolute;
      top: -20px;
      right: -85px;
      width: 100px;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
      & a {
        display: block;
        max-width: 200px;
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
}

.videowrapper {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 200px;
  width: 100%;
  max-width: 46%;
  .video {
    &-playbutton {
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 32px;
      background-color: #6bb324;
      width: 80px;
      height: 80px;
      color: #fff;
      line-height: 79px;
      &::before {
        padding-left: 7px;
      }
    }
    p {
      font-size: 26px !important;
      font-weight: bold;
    }
  }
}

.animate {
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 500ms infinite alternate;
}
@keyframes bounce {
  from {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  to {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: scale(1);
    -webkit-transform: scale();
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  to {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
  }
}

/* slider */
#content .sec-6 {
  padding: 0;
  background-color: #e4e4e4;
  .appslider {
    padding: 30px 0;
    min-height: 400px;
    background: url("../img/bg-elements.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    #app_slider {
      max-width: 650px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .slick-dots .slick-active button,
      .slick-dots button:focus,
      .slick-dots button:hover {
        border: 1px solid $magenta !important;
        background-color: $magenta;
      }
      .slick-list {
        margin: 0;
      }
      .box-slider {
        min-height: 350px;
        max-width: 695px;
        background-color: transparent;
        &:focus {
          border: 0px !important;
          outline: 0px;
        }
        .slider-item {
          display: flex;
          align-items: center;
          @media screen and (max-width: 543px) {
            display: block;
            max-width: 100%;
          }
          &:focus {
            border: 0px !important;
            outline: 0px;
          }
          img {
            max-width: 100%;
            max-height: 395px;
          }
          .textContent {
            text-align: left;
            @media screen and (max-width: 543px) {
              text-align: center;
            }
          }
          .videoHolder {
            overflow: hidden;
            min-height: 432px;
            .video1 {
              height: 320px;
              margin: 50px 0;
              @media screen and (max-width: 543px) {
                height: 320px;
              }
            }
          }
        }
      }
    }
    .ec-img {
      position: absolute;
      top: 30px;
      left: 20px;
    }
    .slider-link {
      margin-top: 30px;
    }
  }
}

/* section sutaz */

.d-flex-competition {
  display: flex;
  min-height: 445px;
}

#content .sec-7 {
  background-color: #000 !important;
  &.competition {
    background: url("../img/sutaz_12_bg.jpg") no-repeat 50% 50%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    @media screen and (max-width: 543px) {
      background-size: cover;
      background-position-x: 40%;
    }
    .competition-wrapper {
      display: flex;
      // justify-content: center;
      @media screen and (max-width: 543px) {
        flex-direction: column;
        display: block;
      }
      .divider {
        //border-right: 1px solid #fff;
        border-right: 1px solid #b4b4b4;
        width: 3px;
        padding: 0;
        margin: 8% 20px;
        @media screen and (max-width: 543px) {
          width: 70%;
          border-bottom: 1px solid #fff;
          border-right: none;
          margin: 10px auto 20px auto;
        }
      }
      .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media screen and (max-width: 543px) {
          display: block;
          text-align: center;
        }
        &.text {
          padding: 0 20px;
          h3 {
            margin-bottom: 0;
          }
          .date {
            margin-top: 0;
          }
        }
        h3,
        p {
          // color: #fff;
        }
        img {
          max-width: 100%;
          flex-shrink: 0;
          @media screen and (max-width: 543px) {
            max-width: 50%;
          }
          &.outOfBorder {
            max-width: 130%;
            width: 130%;
            position: relative;
            left: -50px;
            @media screen and (max-width: 940px) {
              left: 0;
              width: 100%;
              max-width: 100%;
            }
            @media screen and (max-width: 543px) {
              width: 50%;
              max-width: initial;
            }
          }
        }
        a {
          &.btn {
            margin: 15px 0;
            width: 210px;
            text-align: center;
            @media screen and (max-width: 543px) {
              display: block;
              margin: 15px auto;
            }
          }
        }
      }
    }
  }
}
