<section id="scenario-bd" class="section bd-scenario-checkout">
  <div class="container-fixed">
    <form
      action="#"
      id="personalDataForm"
      name="personalDataForm"
      autocomplete="off"
    >
      <!-- forms - middle -->
      <div class="col-xs-12 offset-md-1 col-md-10 bg-mobile form-data">
        <div class="col-xs-12 px0 forms">
          <div class="personalFormWrapper">
            <div class="personalDataForm availability">
              <div class="headline">
                <img
                  src="../assets/img/basket.png"
                  width="99px"
                  height="41px"
                  alt=""
                />
                <h1>Potvrdenie objednávky</h1>
              </div>
              <div class="service-badge-holder">
                <div id="badge-rpln" class="service-badge"></div>
                <div id="badge-device" class="service-badge"></div>
              </div>
              <div class="instruction">
                <h3>Vyplňte, prosím, nezáväzný objednávkový formulár.</h3>
                <div class="instruction_holder">
                  <div class="instruction_text">
                    Najneskôr do dvoch pracovných dní vás budeme kontaktovať.
                  </div>
                  <div class="instruction_text">
                    <span class="required">*</span> Pole označené hviezdičkou je
                    povinné
                  </div>
                </div>
              </div>

              <div class="clearfix">
                <div class="input-wrapper companyIco">
                  <input
                    type="text"
                    class="input_text"
                    name="companyIco"
                    id="companyIco"
                    required
                  />
                  <label class="placeholder" for="companyIco"
                    >IČO <span class="required">*</span></label
                  >
                </div>

                <div class="input-wrapper name">
                  <input
                    type="text"
                    class="input_text"
                    id="userName"
                    name="name"
                    required
                  />
                  <label class="placeholder" for="lastName"
                    >Meno a priezvisko <span class="required">*</span></label
                  >
                </div>
              </div>

              <div class="clearfix">
                <div class="input-wrapper phoneNum">
                  <input
                    type="number"
                    min="0"
                    class="input_text"
                    name="phoneNum"
                    id="phoneNum"
                    required
                  />
                  <label class="placeholder" for="phoneNum"
                    >Telefónne číslo <span class="required">*</span></label
                  >
                </div>
                <div class="input-wrapper email">
                  <input
                    type="text"
                    class="input_text"
                    id="useremail"
                    name="email"
                    required
                  />
                  <label class="placeholder" for="email"
                    >E-mail <span class="required">*</span></label
                  >
                </div>
              </div>
              <div class="instruction">
                <h3>Získajte ďalšie výhody</h3>
                <div class="instruction_text">
                  s chytrým biznis balíkom. Vyskladajte si sami svoj balík zo
                  služieb: Biznis NET, pevná linka, Magio TV alebo TV Biznis.
                </div>
              </div>
              <div class="other_service">
                <div
                  class="input-wrapper other_service_item"
                  id="biznisNetHolder"
                >
                  <label class="label">
                    <div class="service-text">
                      Biznis NET
                    </div>

                    <input
                      type="checkbox"
                      class="input_checkbox"
                      name="biznisNet"
                      id="biznisNet"
                    />
                  </label>
                </div>
                <div
                  class="input-wrapper other_service_item"
                  id="biznisTvHolder"
                >
                  <label class="label">
                    <div class="service-text">
                      Magio TV / TV Biznis
                    </div>

                    <input
                      type="checkbox"
                      class="input_checkbox"
                      name="biznisTv"
                      id="biznisTv"
                    />
                  </label>
                </div>
                <div
                  class="input-wrapper other_service_item"
                  id="biznisTpHolder"
                >
                  <label class="label">
                    <div class="service-text">
                      Biznis linka
                    </div>

                    <input
                      type="checkbox"
                      class="input_checkbox"
                      name="biznisTp"
                      id="biznisTp"
                    />
                  </label>
                </div>
              </div>
              <div class="input-wrapper ebil">
                <label class="label">
                  <div class="text">
                    Žiadam o zasielanie faktúr v elektronickej forme na zadanú
                    emailovú adresu.
                  </div>

                  <input
                    type="checkbox"
                    class="input_checkbox"
                    name="ebill"
                    id="ebill"
                  />
                </label>
              </div>
              <div class="submitformbtn">
                <button
                  id="submitBtn"
                  class="btn submitbtn popup-btn"
                  type="submit"
                  value="submit"
                >
                  Odoslať
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<div class="ie-not-supported" style="display: none;">
  <div class="ie-not-supported-msg">
    Momentálne nepodporujeme Internet Explorer. Využiť zatiaľ môžete napríklad
    Google Chrome či Safari.
  </div>
</div>

<!-- delete in production -->
<script
  type="text/javascript"
  src="../assets/js/jquery.validate.min.js?v=1.1"
></script>
<script
  type="text/javascript"
  src="../assets/js/checkout-validations.js?v=1.2"
></script>
<script
  type="text/javascript"
  src="../assets/js/checkout-main.js?v=1.5.1"
></script>
