#wrapper {
	// HEART
	@-webkit-keyframes swinging {
		0% {
			-webkit-transform: rotate(10deg);
		}

		50% {
			-webkit-transform: rotate(-5deg);
		}

		100% {
			-webkit-transform: rotate(10deg);
		}
	}

	@keyframes swinging {
		0% {
			transform: rotate(10deg);
		}

		50% {
			transform: rotate(-5deg);
		}

		100% {
			transform: rotate(10deg);
		}
	}

	@keyframes glowing {
		0%,
		100% {
			box-shadow: 0 0 0 #ddd;
		}

		50% {
			box-shadow: 0 0 8px 8px #ddd;
		}
	}

	@keyframes glowing2 {
		0%,
		100% {
			box-shadow: 0 0 0 #ddd;
		}

		50% {
			box-shadow: 0 0 5px 5px #ddd;
		}
	}

	// HEART end
	.bg-stars {
		.bg-stars-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: auto;
			background-position: 0 0;
			animation-name: stars-move;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-play-state: paused;
			//opacity: 0.9;
			&.bg-1 {
				animation-duration: 19s;
				background-image: url('../img/bg_stars3.png');
			}
			&.bg-2 {
				animation-duration: 10s;
				background-image: url('../img/bg_stars4.png');
			}
		}
		.bg-stars-content {
			z-index: 2;
			position: relative;
		}
	}

	.bg-stars:hover .bg-stars-img {
		animation-play-state: running;
	}

	@keyframes stars-move {
		0% {
			background-position: 0 0;
		}

		100% {
			background-position: -300px 0px;
		}
	}
}
