#content .sec-7 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 18px;
    color: #fff;
    background-color: #262626;

    .section__title {
        font-size: 32px;
        color: $magenta;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-weight: 600;
    }

    & .dobitie-desc {
        width: 50%;
        margin: 0 auto;
        font-size: 22px;
        padding-bottom: 30px;
        position: relative;
        font-weight: 600;
    }

    .ec-bonus {
        position: absolute;
        top: -20px;
        right: -120px;
    }

    & .dobitie-other {
      padding-top: 30px;
    }

    & .dobitie-link {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    & .cta-magenta-background {
        width: 215px;
        color: $white;
        background-color: $magenta;
        border: 1px $magenta solid;
    }

    & .cta-magenta {
        width: 215px;
        color: $magenta;
        border: 1px $magenta solid;
        background-color: transparent;
    }

    @media screen and (max-width: 720px) {
        & .dobitie-desc {
            width: 100%;
        }
    
        & .ec-bonus {
            display: none
        }

    }

    @media screen and (max-width: 450px) {
    }

}

.payment-lightbox {
    display: none;
    text-align: center;
    max-width: 500px;
    padding: 20px 0 0 0;
}

.payment-lightbox h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #E20074;
    font-weight: bold;
    text-transform: uppercase;
}

.ps__title {
    text-align: left;
    margin-bottom: 5px;
    font-size: 16px;
}

.payment-section {
    margin-bottom: 20px;
}

.payment-box:hover {
    background-color: #ededed;
}

.payment-box_custom {
    height: auto !important;
    width: auto !important;
    padding: 10px;
}

.payment-box_custom img {
    width: 100%;
}

.payment-section {
    max-width: 290px;
    display: inline-block;
}

.payment-box {
    border: 1px solid #d0d0d0;
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.payment-box:nth-of-type(1),
.payment-box:nth-of-type(3) {
    margin-bottom: 10px;
}

.payment-box:nth-of-type(2) {
    margin: 0 10px 10px 10px;
}

.payment-box:nth-of-type(5) {
    margin: 0 10px;
}