#content .sec-4 {
    background-color: #fff;
    background: url(../img/telekom_app_background.png) no-repeat;
    background-size: cover;
    text-align: left;
    font-size: 18px;
    color: #6c6c6c;

    & .fixed-column {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    & .section__title {
        font-size: 32px;
        color: #262626;
        text-transform: none;
        margin-bottom: 40px;
        font-weight: 600;
    }

    & .app-links {
        padding-top: 30px;
    }

    & .app-links-desc {
        padding-bottom: 10px;
    }

    & .img-holder {
        text-align: center;
    }

    & .flex-row {
        display: flex;
    }

    & .flex-col {
        flex: 1;
    }

    @media screen and (max-width: 960px) {
        & .img-holder {
            text-align: right;
        }
    }

    @media screen and (max-width: 630px) {
        & .flex-row {
            flex-direction: column;
        }

        & .flex-col {
            flex: 1 1 100%;
        }

        & .flex-right {
            order: 1;
        }

        & .flex-left {
            order: 2;
        }

        & .img-holder {
            text-align: center;
        }

        .section__title {
            margin-bottom: 20px;
        }
    }

}