#content .sec-2 {
    background-color: $magenta;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 70px;

    .section__title {
        font-size: 32px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 40px;
        font-weight: 600;
    }

    & a {
        color: #3ec0f0;
    }

    & .box__holder {
        vertical-align: top;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 30px;
    }

    .row1 {
        margin-top: 10px;
        font-weight: 600;
    }

    .row2 {
        margin-top: 10px;
    }

    .row3 {
        margin-top: 10px;
        font-weight: 500;
    }

    @media screen and (max-width: 1060px) {
        .box__holder {
            margin-left: 20%;
            margin-right: 20%;
        }
    }

}