#content .sec-6 {
    text-align: left;
    font-size: 18px;
    color: #6c6c6c;
    background-color: #ececec;

    .header-holder {
        display: none;
    }

    & .section__title {
        font-size: 32px;
        color: #262626;
        text-transform: none;
        margin-bottom: 40px;
        font-weight: 600;
    }

    & .roaming-holder{
        height: 550px;
    }

    & .roaming-content {
        padding-top: 60px;
        padding-bottom: 30px;
        margin-right: 20%;
        margin-left: 20%;
    }

    & .roaming-desc {
        margin-bottom: 10px;
    }

    & .flex-row {
        display: flex;
    }

    & .flex-col {
        flex: 1;
    }

    & .img-cont {
        position: relative;
        height: 550px;
        background: url(../img/roaming_background.png) no-repeat 100% 100%;
        background-size: cover;
    }

    @media screen and (max-width: 1090px) {
        & .flex-left {
            flex: 45%;
        }

        & .flex-right {
            flex: 55%;
        }
    }

    @media screen and (max-width: 960px) {

        & .roaming-content {
            padding-top: 60px;
            padding-bottom: 30px;
            margin-right: 15%;
            margin-left: 15%;
        }

    }

    @media screen and (max-width: 830px) {
        & .flex-left {
            flex: 40%;
        }

        & .flex-right {
            flex: 60%;
        }
    }

    @media screen and (max-width: 700px) {

        & .roaming-content {
            padding-top: 40px;
            padding-bottom: 30px;
            margin-right: 10%;
            margin-left: 10%;
        }

    }

    @media screen and (max-width: 600px) {

        .header-img {
            width: 100%;
            height: auto;
        }

        .header-holder {
            display: block;
            position: relative;
        }

        .flex-left {
            display: none;
        }

        .flex-right {
            flex: 100%;
        }

        & .roaming-content {
            padding-top: 40px;
            padding-bottom: 30px;
            margin-right: 20px;
            margin-left: 20px;
        }

    }


}