<section id="hero">
    <div class="fixed-column">
        <div class="hero__content">
            <div id="trigger1"></div>
            <img id="title1" src="../assets/img/main-title.png" alt="PAMÄTÁTE SI ICH?" class="hero__title abs">
            <img id="animate1" src="../assets/img/players-1.png" alt="Československá prezentácia" class="players-1 abs">
            <img id="animate2" src="../assets/img/bg-1.png" alt="Pozadie" class="bg-1 abs">
            <div class="hero__content-holder abs">
                <p class="hero__desc">Vďaka Magio televízii už nezabudnete. Najkrajšie futbalové momenty si môžete pripomínať znova a znova.</p>
                <a class="button button_lima" href="/televizia/magio-televizia"><span>VIAC O MAGIO TV</span> </a>
            </div>
            <img src="../assets/img/text-1.png" alt="Československá prezentácia. Majstri Európy 1976." class="hero__subtitle abs">
        </div>
    </div>
</section>
<section id="sec-1" class="section sec-1">
    <div class="fixed-column">
        <div class="sec__content">
            <p class="sec__subtitle">Kvalifikácia, štvrťfinále a semifinále</p>
            <h2 class="sec__title">Československu dávali média najmenšie nádeje na zisk cenného kovu</h2>
            <p class="sec__desc">Československo sa v kvalifikácií stretlo s reprezentáciou Anglicka, Portugalska a Cypra. Odohrala v nej 6 zápasov s bilanciou 4 výhry, 1 remíza a 1prehra a postúpilo z prvého miesta.
            </p>
            <p class="sec__desc sec__desc_last">Vo štvrťfinále narazilo Československo za súpera ZSSR, proti ktorému Československo vyhralo doma 2:0 gólmi Módera a Panenku. V odvete Československo na pôde Sovietskeho zväzu remizovala 2:2. (oba góly stretli záložník Jozef Móder) a prebojovalo sa do semifinále, ktoré sa hralo v bývalej Juhoslávií. V semifinále nastúpilo Československo proti hviezdnemu Holandsku na čele s Cruyffom. <span class="magenta bold">Zápas sa hral za silného dažďa a v základnej časti skončil remízou 1:1, v predĺženi pridalo Československo ďalšie dva góly a vyhralo 3:1.</span>
            </p>
        </div>
    </div>
</section>
<section id="sec-2" class="section sec-2">
    <div id="trigger2"></div>
    <div class="fixed-column">
        <div class="sec__holder">
            <img id="animate3" src="../assets/img/players-2.png" alt="Československá prezentácia" class="players-2 abs">
            <img id="animate4" src="../assets/img/stadium.png" alt="Pozadie" class="bg-2 abs">
            <div class="content__holder">
                <div class="sec__content">
                    <h1 id="title2" class="sec__maintitle abs">FINÁLE</h1>
                    <h2 class="sec__title">PENALTOVÝ ROZSTREL SA HRAL PRVÝ KRÁT PRÁVE NA TÝCHTO MAJSTROVSTVÁCH</h2>
                    <p class="sec__desc sec__desc_last">Do finále, ktoré sa hralo 20. 6. 1976 v Belehrade, sa dostalo Československo so Západným Nemeckom. Tento zápas skončil nerozhodne 2:2.
                    </p>
                    <p class="sec__desc sec__desc_last">V preĺžení gól nepadol, tak prišiel na rad penaltový rozstrel, ktorý skončil víťazne pre Československo 5:3. Za Československo kopali penaltu 3 Slováci, z toho dvaja obrancovia.
                    </p>
                    <p class="sec__desc">Víťazným kopom bola Panenkova penalta, ktorá sa nazýva “vršovický dloubák”, vo svete Panenka goal/Panenka kick.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sec-3" class="section sec-3">
    <div id="trigger3"></div>
    <div class="fixed-column">
        <div class="sec__holder">
            <img id="animate5" src="../assets/img/players-3.png" alt="Československá prezentácia" class="players-3 abs">
            <div class="content__holder">
                <div class="sec__content">
                    <table>
                        <tr>
                            <th colspan="2">Góly v riadnom hracom čase</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>8. minúta</td>
                            <td>Ján Švehlík</td>
                            <td>stav 1:0</td>
                        </tr>
                        <tr>
                            <td>25. minúta</td>
                            <td>Karol Dobiáš</td>
                            <td>stav 2:0</td>
                        </tr>
                        <tr>
                            <td>28. minúta</td>
                            <td>Dieter Müller</td>
                            <td>stav 2:1</td>
                        </tr>
                        <tr>
                            <td>89. minúta</td>
                            <td>Bernd Hölzenbein</td>
                            <td>stav 2:2</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th colspan="2">Penalty po bezgólovom predĺžení</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Masný</td>
                            <td>premenená</td>
                            <td>stav 1:0</td>
                        </tr>
                        <tr>
                            <td class="grey">Banhof</td>
                            <td class="grey">premenená</td>
                            <td class="grey">stav 1:1</td>
                        </tr>
                        <tr>
                            <td>Nehoda</td>
                            <td>premenená</td>
                            <td>stav 2:1</td>
                        </tr>
                        <tr>
                            <td class="grey">Flohe</td>
                            <td class="grey">premenená</td>
                            <td class="grey">stav 2:2</td>
                        </tr>
                        <tr>
                            <td>Ondruš</td>
                            <td>premenená</td>
                            <td>stav 3:2</td>
                        </tr>
                        <tr>
                            <td class="grey">Bongratz</td>
                            <td class="grey">premenená</td>
                            <td class="grey">stav 3:3</td>
                        </tr>
                        <tr>
                            <td>Jurkemik</td>
                            <td>premenená</td>
                            <td>stav 4:3</td>
                        </tr>
                        <tr>
                            <td class="grey">Hoeneß</td>
                            <td class="grey">nepremenená</td>
                            <td class="grey">stav 4:3</td>
                        </tr>
                        <tr>
                            <td class="magenta">Panenka</td>
                            <td class="magenta">premenená</td>
                            <td class="magenta">stav 5:3</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sec-4" class="section sec-4">
    <div id="trigger2"></div>
    <div class="fixed-column">
        <div class="stadium-outer">
            <div class="stadium-inner">
                <a href="#" class="player__icon ico-player-1"><img src="../assets/img/dot.png" alt="dot">
                    <br/>ZDENĚK NEHODA</a>
                <a href="#" class="player__icon ico-player-2"><img src="../assets/img/dot.png" alt="dot">
                    <br/>JÁN ŠVEHLÍK</a>
                <a href="#" class="player__icon ico-player-3"><img src="../assets/img/dot.png" alt="dot">
                    <br/>MARIÁN MASNÝ</a>
                <a href="#" class="player__icon ico-player-4"><img src="../assets/img/dot.png" alt="dot">
                    <br/>JOZEF MÓDER</a>
                <a href="#" class="player__icon ico-player-5"><img src="../assets/img/dot.png" alt="dot">
                    <br/>ANTONÍN PANENKA</a>
                <a href="#" class="player__icon ico-player-6"><img src="../assets/img/dot.png" alt="dot">
                    <br/>KAROL DOBIÁŠ</a>
                <a href="#" class="player__icon ico-player-7"><img src="../assets/img/dot.png" alt="dot">
                    <br/>KOLOMAN GÖGH</a>
                <a href="#" class="player__icon ico-player-8"><img src="../assets/img/dot.png" alt="dot">
                    <br/>JOZEF ČAPKOVIČ</a>
                <a href="#" class="player__icon ico-player-9"><img src="../assets/img/dot.png" alt="dot">
                    <br/>ANTON ONDRUŠ</a>
                <a href="#" class="player__icon ico-player-10"><img src="../assets/img/dot.png" alt="dot">
                    <br/>JÁN PIVARNÍK</a>
                <a href="#" class="player__icon ico-player-11"><img src="../assets/img/dot.png" alt="dot">
                    <br/>IVO VIKTOR</a>
            </div>
        </div>
        <div class="player-holder">
            <div class="player-holder-inner">
                <div class="player player-1">
                    <h3 class="player__name player_cz">ZDENĚK NEHODA</h3>
                    <p class="player__position">ÚTOČNÍK</p>
                    <ul class="player__facts">
                        <li>narodený 9. 5. 1952 v Hulíne (okres Koměříž)</li>
                        <li>bol vychýreným kanonierom a stabilným členom reprezentácie Československa</li>
                        <li>už v roku 1978 vstúpil do Klubu ligových kanonierov, keďže strelil svoj 100. gól</li>
                        <li>3x získal titul ČSSR s Duklou Praha</li>
                        <li>2x futbalistom roka v Československu (1978 a 1979)</li>
                        <li>je vyštudovaný právnik a v súčasnosti pôsobí ako hráčsky agent</li>
                        <li>v období od 25. 9. 1971 do 27. 10. 1987 odohral za Československo 7 537 minút v 90 zápasoch a strelil 31 gólov</li>
                    </ul>
                </div>
                <div class="player player-2">
                    <h3 class="player__name player_sk">JÁN ŠVEHLÍK</h3>
                    <p class="player__position">ÚTOČNÍK</p>
                    <ul class="player__facts">
                        <li>narodený 17. 1. 1950 v Lovči (okres Žiar nad Hronom)</li>
                        <li>bol útočníkom Slovana Bratislava a Dukly Praha</li>
                        <li>mal prezývku Švehla, odvodenú od mena, ale aj Žolík, pretože v rozhodujúcich chvíľach vedel často zaskočiť a zakončiť; bol pohotový strelec, ktorý vynikal dravosťou a rýchlosťou</li>
                        <li>so Slovanom Bratislava získal 3x titul ČSSR</li>
                        <li>je vyštudovaný právnik, v súčasnosti vedúci mužstva prvoligových futbalistov Slovana Bratislava</li>
                        <li>v období od 27. 4. 1974 do 5. 5. 1979 odohral za Československú reprezentáciu 1 193 minút v 17 zápasoch a strelil 4 góly</li>
                    </ul>
                </div>
                <div class="player player-3">
                    <h3 class="player__name player_sk">MARIÁN MASNÝ</h3>
                    <p class="player__position">ÚTOČNÍK</p>
                    <ul class="player__facts">
                        <li>narodený 13. 8. 1950 v Rybanoch (okres Bánovce nad Bebravou)</li>
                        <li>debutoval ako útočník v drese Slovana Bratislava, neskôr hral v TJ ZŤS Petržalka Bratislava</li>
                        <li>bol výnimočný talent, rýchly, technický, majster kľučiek a driblingu</li>
                        <li>po staršom bratovi zdedil prezývku Béla</li>
                        <li>je členom Klubu ligových kanonierov so 103 gólmi</li>
                        <li>v období od 25. 9. 1974 do 24. 6. 1982 odohral za Československo 5 904 minút v 75 zápasoch a strelil 18 gólov</li>
                    </ul>
                </div>
                <div class="player player-4">
                    <h3 class="player__name player_sk">JOZEF MÓDER</h3>
                    <p class="player__position">ZÁLOŽNÍK</p>
                    <ul class="player__facts">
                        <li>narodený 19. 9. 1947 v Tvrdošovciach (okres Nové Zámky)</li>
                        <li>v 1. lige debutoval v drese Interu Bratislava, neskôr bol záložníkom v Lokomotíve Košice a Dukle Praha</li>
                        <li>mal neskutočne tvrdú strelu zo stredných vzdialeností</li>
                        <li>vo štvrťfinálových zápasoch so ZSSR v apríli a v máji 1976 sa rozhodujúcou mierou zaslúžil o postup na finálový turnaj; dal 3 zo 4 strelených gólov do súperovej siete</li>
                        <li>v období od 26. 4. 1972 do 21. 9. 1977 odohral 1 210 minút v 17 zápasoch a strelil 3 góly</li>
                    </ul>
                </div>
                <div class="player player-5">
                    <h3 class="player__name player_cz">ANTONÍN PANENKA</h3>
                    <p class="player__position">ZÁLOŽNÍK</p>
                    <ul class="player__facts">
                        <li>narodený 2. 12. 1948 v Prahe</li>
                        <li>bol tvorivý záložník v Bohemians Praha, aktuálne je prezidentom tohto klubu</li>
                        <li>na ME 76 strieľal poslednú penaltu a rozhodol o víťazstve; strelil tzv. vršovický dloubák, ktorý neskôr kopírovalo niekoľko hráčov svetovej triedy; kopnúť takúto penaltu v taký rozhodujúci moment, si vyžadovalo veľké sebavedomie a správnu športovú drzosť; preto sa táto penalta stala nesmrteľná a taká slávna</li>
                        <li>v období od 26. 9. 1973 do 24. 6. 1982 odohral za Československo 4 158 minút v 59 zápasoch a strelil 17 gólov</li>
                    </ul>
                </div>
                <div class="player player-6">
                    <h3 class="player__name player_sk">KAROL DOBIÁŠ</h3>
                    <p class="player__position">OBRANCA</p>
                    <ul class="player__facts">
                        <li>narodený 18. 12. 1947 v Trnave</li>
                        <li>od detstva žil v Trnave</li>
                        <li>ako obranca v Spartaku Trnava získal 5 československých titulov a v roku 1969 sa s klubom dostal do semifinále EPM</li>
                        <li>neskôr prestúpil do Bohemians Praha</li>
                        <li>od 17. 3. 2016 je jedným z 11 ustanovujúcich laureátov Siene slávy Slovenského futbalového zväzu</li>
                        <li>v období od 3. 5. 1967 do 26. 3. 1980 odohral za Československo 5 284 minút v 67 zápasoch a strelil 6 gólov</li>
                        <li>v súčasnosti má české občianstvo a žije v Prahe</li>
                    </ul>
                </div>
                <div class="player player-7">
                    <h3 class="player__name player_sk">KOLOMAN GÖGH</h3>
                    <p class="player__position">OBRANCA</p>
                    <ul class="player__facts">
                        <li>narodený 17. 1. 1948 v Kladne</li>
                        <li>detstvo prežil v Kolárove pri Komárne</li>
                        <li>bol pohotový a elegantný obranca</li>
                        <li>hrával za Slovan Bratislava</li>
                        <li>zahynul tragicky v Rakúsku (Gattendorf) v roku 1995 pri dopravnej nehode na ceste z tréningu</li>
                        <li>za Československo odohral v období od 20.12.1974 do 21.6.1980 4 713 minút v 55 zápasoch a strelil 1 gól</li>
                    </ul>
                </div>
                <div class="player player-8">
                    <h3 class="player__name player_sk">JOZEF ČAPKOVIČ</h3>
                    <p class="player__position">OBRANCA – STOPÉR</p>
                    <ul class="player__facts">
                        <li>narodený 11. 1. 1948 v Bratislave</li>
                        <li>má brata Jána, ktorý je o 30 minút mladším dvojčaťom; obaja sú vyštudovaní inžinieri a vynikajúci futbalisti; jeho brat Ján je so 100 gólmi členom Klubu ligových kanonierov</li>
                        <li>v Slovane začínal ako útočník, ale pre jeho rýchlosť (100 m zabehol za 10,80 sekundy) ho tréneri presunuli na pozíciu stopéra</li>
                        <li>jesennú časť sezóny 1977 – 1978 odohral 3 zápasy ako vojak základnej vojenskej služby za Duklu Praha; v treťom zápase utrpel vážne zranenie spánkovej kosti; vďaka pevnej vôli sa zo zranenia vyliečil a pokračoval ako ligový futbalista</li>
                        <li>od 17. 3. 2016 je jeden z 11 ustanovujúcich laureátov Siene slávy Slovenského futbalového zväzu</li>
                        <li>v období od 25. 9. 1974 do 7. 9. 1977 odohral za Československo 1 318 minút v 16 zápasoch</li>
                    </ul>
                </div>
                <div class="player player-9">
                    <h3 class="player__name player_sk">ANTON ONDRUŠ</h3>
                    <p class="player__position">OBRANCA – LIBERO</p>
                    <ul class="player__facts">
                        <li>narodený 27. 3. 1950 v Solčanoch (okres Topoľčany)</li>
                        <li>bol kapitánom reprezentačného tímu na ME 76</li>
                        <li>v roku 1976 sa umiestnil na 6. mieste v ankete Zlatá lopta</li>
                        <li>prezývali ho Beckenbauer strednej Európy</li>
                        <li>začínal v Slovane Bratislava ako útočník, až neskôr sa stal obrancom</li>
                        <li>hráčsku kariéru ukončil vo Francúzsku a v súčasnosti žije vo Švajčiarsku; pôvodne je vyštudovaný inžinier</li>
                        <li>od 17. 3. 2016 je jeden z 11 ustanovujúcich laureátov Siene slávy Slovenského futbalového zväzu</li>
                        <li>v období od 27. 3. 1974 do 21. 6. 1980 odohral 5 205 minút v 58 zápasoch a strelil 9 gólov</li>
                    </ul>
                </div>
                <div class="player player-10">
                    <h3 class="player__name player_sk">JÁN PIVARNÍK</h3>
                    <p class="player__position">OBRANCA</p>
                    <ul class="player__facts">
                        <li>narodený 13. 11. 1947 v Cejkove (okres Trebišov)</li>
                        <li>v roku 1974 bol vyhlásený za najlepšieho futbalistu Československa</li>
                        <li>bol jedným z najrýchlejších obrancov ČSSR – pôvodne atlét, šprintér; 100 m dokázal zabehnúť približne za 10,60 sekundy</li>
                        <li>v 1. lige debutoval v drese VSS Košice; neskôr hral aj za Slovan Bratislava</li>
                        <li>pôvodne je vyštudovaný právnik; jeho manželkou je známa herečka bratislavskej Novej scény – Jarmila Koleničová</li>
                        <li>v období od 27. 4. 1968 do 24. 5. 1977 odohral za Československo 3 424 minút v 39 zápasoch a strelil 1 gól</li>
                    </ul>
                </div>
                <div class="player player-11 opened">
                    <h3 class="player__name player_cz">IVO VIKTOR</h3>
                    <p class="player__position">BRANKÁR</p>
                    <ul class="player__facts">
                        <li>narodený 21. 5. 1942 v Křelove (okres Olomouc)</li>
                        <li>bol brankárom v Dukle Praha a Spartaku Brno</li>
                        <li>najlepší brankár ME 76</li>
                        <li>3. miesto v ankete Zlatá lopta (r. 1976)</li>
                        <li>5x vyhlásený za futbalistu roka v ČSSR</li>
                        <li>s Duklou Praha získal 3 tituly ČSSR</li>
                        <li>v období od 12. 6. 1966 do 9. 11. 1977 odohral za Československo 5 367 minút v 63 zápasoch</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sec-5" class="section sec-5 dark-bg">
    <div class="fixed-column">
        <div class="feat__item feat__item_left">
            <h2 class="feat__title font_white">Získajte zadarmo tričko v štýle československých dresov</h2>
            <p class="feat__desc font_white">
                ku každej novej Magio televízii 
            </p>
            <a class="button button_lima" href="/euro-76/mam-zaujem"><span>MÁM ZÁUJEM</span> </a>
        </div>
        <div class="feat-img__holder feat-img__holder_right">
            <img alt="" src="../assets/img/tshirt.png" />
        </div>
    </div>
</section>
<script src="../assets/js/TweenMax.min.js"></script>
<script src="../assets/js/ScrollMagic.min.js"></script>
<script src="../assets/js/debug.addIndicators.min.js"></script>
<script src="../assets/js/animation.gsap.min.js"></script>
<script type="text/javascript" src="../assets/js/main.js"></script>
