/* ===============
   CSS FOR MICROSITE
   =============== */

#cookies-information {
    display: none !important;
}

#wrapper {
    margin-bottom: -22px !important;
    margin-top: 0 !important;
}

#content .section__title {
    border-bottom: 0;
    text-transform: uppercase;
    font-size: 3em;
}

.ico__power {
    margin: 0 0 50px 0;
    cursor: pointer;
}

#wrapper_mbYTP_bgndVideo {
    display: none;
}

#sec-1 {
    background: url(../img/bg-sec.jpg) no-repeat 50% 50%;
    background-color: #fff;
    padding: 60px 2%;
    overflow: hidden;
    background-size: cover;
}

#content .section__title {
    border-bottom: 0;
    text-transform: uppercase;
    font-size: 3em;
}

.return {
    position: absolute !important;
    width: 64px;
    height: 64px;
    background-color: white;
    top: 50px;
    right: 50px;
    z-index: 111;
    display: none;
    background: url(https://www.telekom.sk/documents/10179/565126/cross.png) no-repeat;
    opacity: 0.4;
    transition: opacity .5s ease-in-out;
}

.return:hover {
    opacity: 1;
}

.fb-wrapper {
    position: absolute !important;
    bottom: 50px;
    right: 50px;
    z-index: 111;
    height: 22px;
    overflow: hidden;
    display: none;
}

@media screen and (max-width: 700px) {
    .fb-wrapper {
        display: none !important;
    }
}

footer {
    bottom: 0;
    top: auto !important;
}

@media screen and (max-width: 600px) {
    #sec-1 {
        font-size: 80%;
    }
    .return {
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 500px) {
    #sec-1 {
        font-size: 70%;
    }
    img.ico__power {
        width: 35%;
    }
}

#content .responsive-image {
    max-width: 90%;
    max-height: 85%;
    cursor: pointer;
}


/* SEC 7 Video */

#content .sec-1 .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

#content .sec-1 .video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container {
    background-image: url(../img/video-bg.jpg);
    content: "";
    background-size: cover;
    cursor: pointer;
    display: block;
    /*    left: 5px;
    top: 5px;*/
    z-index: 5;
}



.video-thumbnail {
    height: 100%;
    position: relative;
    width: 100%;
}

.video-embed {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 10;
}

.video-thumbnail .play_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: url(../img/play_ico.png) no-repeat 0 0%;
    z-index: 2;
    width: 68px;
    height: 49px;
    margin: -24px 0 0 -34px;
    cursor: pointer;
    z-index: 10;
}

.video-thumbnail:hover .play_btn {
    background-position: 0 100%;
}


@media screen and (max-width: 768px) {
    #content .video-container {
        background-image: inherit;
    }
    #content .video-embed {
        display: block;
        opacity: 1;
    }
}